﻿
@model Phoenix.Models.Template
@using Phoenix.Common.Localization;
@{
    string fileUrl = Model.FilePath;
}


<link href="~/pixie/styles.min.css?v20" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body min-height">
                <div class="responsive-list-table col-sm-12">
                    <pixie-editor>
                        <div class="global-spinner">
                            <style>
                                .global-spinner {
                                    display: none;
                                    align-items: center;
                                    justify-content: center;
                                    z-index: 999;
                                    background: #fff;
                                    position: fixed;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                }
                            </style>

                            <div class="la-ball-spin-clockwise la-2x">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>

                        <script>
                            setTimeout(function () {
                                var spinner = document.querySelector('.global-spinner');
                                if (spinner) spinner.style.display = 'flex';
                            }, 50);</script>
                    </pixie-editor>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts{
    <script>
        var baseUri = '@Model.JSONFileUrl';
        var fileName = '@Model.FileName.Replace(".json", "")';
        var file_url = '@fileUrl';
    </script>
    <script src="@Url.Content("~/pixie/scripts.min.v1.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>
        $(function () {
            $(".breadcrumbs li.back a").removeAttr("onclick");
            $(document).on("click", ".breadcrumbs li.back a", function () { window.close(); });
            //Load the Pixie editor and bind the image
            var pixie = new Pixie({
                crossOrigin: true,
                ui: {
                    visible: true,
                    theme: 'light',
                    allowEditorClose: false,
                    allowZoom: false,
                    toolbar: {
                        hideSaveButton: true,
                        hide: true,
                        hideOpenButton: true,
                        hideCloseButton: true,
                    },
                    nav: {
                        position: 'none',
                        replaceDefault: true,
                    },
                },
                baseUrl: baseUri,
                onLoad: function () {
                    $("div.canvas-mask-wrapper").css("pointer-events", "none");
                    $(".right.ng-star-inserted").empty();

                    /* If image is not loaded properly, then call below logic */
                    //var activeObject = pixie.get('activeObject');
                    //var canW = activeObject.canvasState.original.width;
                    //var canH = activeObject.canvasState.original.height;
                    //console.log("canW: " + canW + " | canH: " + canH);
                    //setTimeout(function () {
                    //    var resizeTool = pixie.getTool('resize');
                    //    resizeTool.apply(canW, canH);
                    //}, 2000);
                },
                image: file_url,
                tools: {
                    zoom: {
                        disableMinimumZoom: false,
                        allowUserZoom : false
                    }
                }
            });
        });
    </script>
}

