﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.SchoolGroup>
@using Phoenix.Common.Localization;
@if (Model.PageRecords.Any())
{
    foreach (var item in Model.PageRecords)
    {
        var itemName = !string.IsNullOrEmpty(item.TeacherGivenName) ? item.TeacherGivenName : item.SchoolGroupDescription;
        <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3" data-searchtext="@itemName">
            <div class="group-details school-group" data-groupid="@item.SchoolGroupId">
                <span class="group-initial bg-primary text-center">
                    <h5 class="m-0 py-3 text-white">@(itemName.Length > 2 ? itemName.Substring(0, 2).ToUpper() : itemName.ToUpper())  </h5>
                </span>
                <span class="group-meta overflow-hidden">
                    <a title="@itemName" href="javascript:void(0)" class="font-small text-semibold text-truncate" data-toggle="tooltip">
                        @(itemName.Length > 60 ? itemName.Substring(0, 60) : itemName)
                    </a>
                </span>
            </div>
        </div>
    }
}
else
{
    <span class="sub-heading ml-2">@ResourceManager.GetString("Shared.Labels.NoRecords")</span>
}
@Html.Hidden("GroupsPageIndexNumber", Model.PageIndex)
@Html.Partial("_PaginationIndex", Model)