﻿@model Phoenix.VLE.Web.Areas.Course.Models.Lesson
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
<form id="frmLessonPlanner" method="post" action="/Course/Lesson" class="column-padding pt-3">
    <div class="row">
        <div class="col-md-12 col-12">
            <div class="card table-wrapper column-padding">
                <div class="card-body">

                    @*<div class="card-title pl-0">
                            @ResourceManager.GetString("Course.Lesson.LessonPlanner")
                        </div>*@
                    <input type="hidden" value="@ViewBag.StandardId" id="hdnStandardId" />
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLessonMaster" }))
                    {
                        @Html.Hidden("LessonId")
                        <input type="hidden" value="@ViewBag.StandID" id="hdnSId" />

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="md-form md-outline mb-3">
                                    @Html.TextBoxFor(d => d.Details, new { @class = "form-control", @id = "Details", @data_required = "" })

                                    <label class="active" for="Details">@ResourceManager.GetString("Course.Lesson.Details")</label>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="md-form md-outline mb-3">
                                    @if (Model.LessonId == 0)
                                    {
                                        @Html.TextBoxFor(d => d.StartDate, new { @class = "form-control date-picker", @id = "StartDate", @data_required = "" })
                                        <label class="active" for="StartDate">@ResourceManager.GetString("Course.Lesson.StartDate")</label>
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(d => d.StartDate, "{0:dd-MMM-yyyy}", new { @class = "form-control date-picker", @id = "StartDate", @data_required = "" })
                                        <label class="active" for="StartDate">@ResourceManager.GetString("Course.Lesson.StartDate")</label>
                                    }

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="md-form md-outline mb-3">
                                    @if (Model.LessonId == 0)
                                    {
                                        @Html.TextBoxFor(d => d.EndDate, new { @class = "form-control date-picker", @id = "EndDate", @data_required = "" })
                                        <label class="active" for="EndDate">@ResourceManager.GetString("Course.Lesson.EndDate")</label>
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(d => d.EndDate, "{0:dd-MMM-yyyy}", new { @class = "form-control date-picker", @id = "EndDate", @data_required = "" })
                                        <label class="active" for="EndDate">@ResourceManager.GetString("Course.Lesson.EndDate")</label>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="md-form md-outline mb-3">
                                    @Html.TextBoxFor(d => d.StandardCode, new { @class = "form-control", @id = "StandardCode", @data_required = "" })

                                    <label class="active" for="Details">@ResourceManager.GetString("Course.Lesson.StandardCode")</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-lg-12 col-md-12 col-12 text-right">
                                <div class="md-form md-outline mb-3">
                                    <button type="button" id="btnLesson" class="btn btn-primary">@ResourceManager.GetString("Shared.Buttons.Save")</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</form>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
    @Html.Partial("_ValidationJSPartial")
}
@section scripts
{
    translatedResources.Title  = '@ResourceManager.GetString("Course.StandardMessages.AddSuccess")';
    <script src="@Url.Content("~/Content/js/custom/Course/Lesson/Lesson.js?v ="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        $(".selectpicker").selectpicker('refresh');
           $('.date-picker').datetimepicker({
                        format: 'DD-MMM-YYYY'
                    });
        LessonMaster.LessonArray =@Html.Raw(Json.Encode(Model));
    </script>
}

