﻿@model IEnumerable<Phoenix.Models.LessonCourse>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.VLE.Web.Helpers
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var ParentList = (IEnumerable<Phoenix.Models.LessonCourse>)ViewBag.ParentList;
    if (ParentList == null)
    {
        ParentList = new List<Phoenix.Models.LessonCourse>();
    }
}

<div id="tab1" class="tab-content" style="display: block;">
    <div class="card catalouge-card shadow-none bg-transparent">
        <div class="column-padding py-4">

            @if (ParentList.Any())
            {
                <div class="catalouge-info">
                    <p class="text-muted text-semibold">@ResourceManager.GetString("Course.Lesson.Units")</p>
                </div>

                <div class="catalouge-course-info unit-planner-info">
                    <div class="accordion catalouge-accordian" id="catalouge">
                        @foreach (var parent in ParentList)
                        {
                            <!-----------------card 1------------------------>
                            <div class="card shadow-none p-2">

                                <div class="card-header p-0" id="catalouge-head1">
                                    <h5 class="mb-0 w-100 py-1 d-flex align-items-center">
                                        <span class="text-semibold">@parent.UnitMasterName</span>
                                        <div class="ml-auto d-flex">
                                            <div class="date-time-info d-flex align-items-center mr-3">
                                                <span class="text-semibold">@parent.CourseStateDate - @parent.CourseEndDate  |  @parent.SrartWeek - @parent.Endweek</span>
                                                <div class="dropdown">
                                                    <button class="btn bg-transparent dropdown-toggle px-1 py-0 mx-2 my-0 w-auto waves-effect waves-light" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </button>
                                                    <div class="dropdown-menu p-2" aria-labelledby="dropdownMenu2">
                                                        <button class="dropdown-item p-3 w-100 d-flex text-medium bg-transparent" id="btnAddStandard" data-value="@parent.UnitMasterId" type="button"><i class="fas fa-plus mr-2"></i>@ResourceManager.GetString("Course.Standard.AddStandard")</button>

                                                        @*<button class="dropdown-item p-3 w-100 d-flex text-medium bg-transparent" type="button"><i class="fas fa-plus mr-2"></i>Add Standard</button>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-link btn-collapsable d-inline-block text-center m-0 p-1 collapse bg-transparent waves-effect waves-light collapsed" type="button" data-toggle="collapse" data-target="#parent_@parent.UnitMasterId" aria-expanded="false" aria-controls="catalouge">
                                                <i class="fas fa-plus"></i><i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </h5>
                                </div>

                                @{
                                    var childList = Model.Where(x => x.ParentId == parent.UnitMasterId).DistinctBy(x => x.UnitMasterId).ToList();
                                }

                                <div id="parent_@parent.UnitMasterId" class="collapse" aria-labelledby="catalouge-head1" data-parent="#catalouge">
                                    <div class="card-body column-padding px-3 pt-3 pb-0">
                                        <div class="content">
                                            <div class="accordion subcatalouge-accordian" id="subcatalouge">
                                                @foreach (var child in childList)
                                                {

                                                    <!-----------------subcard 1------------------------>
                                                    <div class="">
                                                        <div class="card-header p-0" id="subcatalouge-head1">
                                                            <h5 class="mb-0 w-100 py-1 d-flex align-items-center">
                                                                <span class="text-semibold">@child.UnitMasterName</span>

                                                                <div class="ml-auto d-flex">
                                                                    <div class="date-time-info d-flex align-items-center mr-2">
                                                                        <span class="text-semibold">@child.CourseStateDate - @child.CourseEndDate  |  @child.SrartWeek - @child.Endweek</span>
                                                                        <div class="dropdown action-dropdown">
                                                                            <button class="btn bg-transparent dropdown-toggle px-1 py-0 mx-2 my-0 w-auto" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="fas fa-ellipsis-v"></i>
                                                                            </button>
                                                                            <div class="dropdown-menu p-2" aria-labelledby="dropdownMenu2">
                                                                                @*<button class="dropdown-item p-3 border-bottom w-100 d-flex text-medium bg-transparent" type="button"><i class="fas fa-plus mr-2"></i>Add Assignments</button>
                                                                                    <button class="dropdown-item p-3 border-bottom w-100 d-flex text-medium bg-transparent" type="button"><i class="fas fa-plus mr-2"></i>Add Quiz</button>*@
                                                                                <button class="dropdown-item p-3 w-100 d-flex text-medium bg-transparent" id="btnAddStandard" data-value="@child.UnitMasterId" type="button"><i class="fas fa-plus mr-2"></i>@ResourceManager.GetString("Course.Standard.AddStandard")</button>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <button class="btn btn-link btn-collapsable d-inline-block text-center m-0 p-1 collapse bg-transparent mr-3 waves-effect waves-light collapsed" type="button" data-toggle="collapse" data-target="#child_@child.UnitMasterId" aria-expanded="false" aria-controls="subcatalouge">
                                                                        <i class="fas fa-angle-down"></i>
                                                                    </button>
                                                                </div>
                                                            </h5>
                                                        </div>
                                                        @{
                                                            var LessonList = Model.Where(x => x.SubSyllabusId == child.UnitMasterId).ToList();
                                                        }
                                                        @if (LessonList.Any())
                                                        {

                                                            <div id="child_@child.UnitMasterId" class="collapse" aria-labelledby="subcatalouge-head1" data-parent="#subcatalouge">

                                                                <div class="card-body column-padding p-0 pr-4">
                                                                    <div class="subaccordian-content">
                                                                        <div class="syllabus-wrapper">
                                                                            @foreach (var Lesson in LessonList)
                                                                            {
                                                                                <div class="course-part py-3 d-flex align-items-center">
                                                                                    @*<div class="course-img bg-pink d-flex align-items-center justify-content-center"></div>*@
                                                                                    <p class="text-semibold mb-0 ml-3"><i style="font-size: 0.5em;" class="fa fa-circle"></i>@Lesson.LessonDescription</p>
                                                                                    <div class="date-time-info ml-auto">
                                                                                        <div class="dropdown action-dropdown dropright">
                                                                                            <button class="btn bg-transparent  px-1 py-0 mx-2 my-0 w-auto waves-effect waves-light" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                                <i class="fas fa-ellipsis-v"></i>
                                                                                            </button>
                                                                                            <div class="dropdown-menu p-2 text-center" aria-labelledby="dropdownMenu2">
                                                                                                <div class="d-flex align-items-center">
                                                                                                    @*<button class="dropdown-item p-1 bg-transparent" type="button"><i class="far fa-eye"></i></button>*@
                                                                                                    <button class="dropdown-item p-1 bg-transparent" id="Edit" onclick="LessonMaster.EditLesson(this,@Lesson.LessonId,@Lesson.SubSyllabusId)" type="button"><i class="fas fa-pen"></i></button>
                                                                                                    <button class="dropdown-item p-1 bg-transparent" d="Delete" onclick="LessonMaster.DeleteLesson(@Lesson.LessonId)" type="button"><i class="far fa-trash-alt"></i></button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        }
                                                    </div>


                                                }
                                            </div>

                                            @{
                                                var LessonListWithoutSubUnit = Model.Where(x => x.SubSyllabusId == parent.UnitMasterId).ToList();
                                            }
                                            @if (LessonListWithoutSubUnit.Any())
                                            {
                                                <div class="">
                                                    <div class="card-header p-0 pr-4">
                                                        @foreach (var LessonListWithout in LessonListWithoutSubUnit)
                                                        {

                                                            <div class="course-part py-3 d-flex align-items-center">
                                                                @*<div class="course-img bg-pink d-flex align-items-center justify-content-center"></div>*@
                                                                <span class="text-semibold"><i style="font-size: 0.5em;" class="fa fa-circle"></i> @LessonListWithout.LessonDescription</span>
                                                                @*<p class="text-semibold mb-0 ml-3">@LessonListWithout.LessonDescription</p>*@
                                                                <div class="date-time-info ml-auto">
                                                                    <div class="dropdown action-dropdown dropright">
                                                                        <button class="btn bg-transparent px-1 py-0 mx-2 my-0 w-auto waves-effect waves-light" type="button" id="dropdownMenu99" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="fas fa-ellipsis-v"></i>
                                                                        </button>
                                                                        <div class="dropdown-menu p-2 text-center" aria-labelledby="dropdownMenu99">
                                                                            <div class="d-flex align-items-center">
                                                                                <button class="dropdown-item p-1 bg-transparent" id="Edit" onclick="LessonMaster.EditLesson(this,@LessonListWithout.LessonId,@LessonListWithout.SubSyllabusId)" type="button"><i class="fas fa-pen"></i></button>
                                                                                <button class="dropdown-item p-1 bg-transparent" d="Delete" onclick="LessonMaster.DeleteLesson(@LessonListWithout.LessonId)" type="button"><i class="far fa-trash-alt"></i></button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        }
                                                    </div>

                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>




                            </div>
                        }
                    </div>
                </div>

            }
            else
            {
                <div class="col-lg-12 col-md-12 col-12">
                    <span class="no-data-found text-bold d-block mx-auto my-auto">
                    </span>
                </div>
            }
        </div>
    </div>
</div>