﻿@model IEnumerable<Phoenix.VLE.Web.Areas.Course.Models.Lesson>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions


<table id="tbl-UserList" class="table table-bordered table-hover " cellspacing="0" width="100%" border="1">
    <thead>
        <tr>
            @*<td><strong>@ResourceManager.GetString("Course.Lesson.UnitName")</strong></td>
                <td><strong>@ResourceManager.GetString("Course.Lesson.Title")</strong></td>*@
            <td><strong>@ResourceManager.GetString("Course.Lesson.Details")</strong></td>
            <td><strong>@ResourceManager.GetString("Course.Lesson.StartDate")</strong></td>
            <td><strong>@ResourceManager.GetString("Course.Lesson.EndDate")</strong></td>
            <td><strong>Edit</strong></td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="page-break-inside:avoid;">
                @*<td>@item.UnitName</td>
                    <td>@item.Title</td>*@
                <td>@item.Details</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@item.EndDate.ToShortDateString()</td>
                <td>
                    <a class="mr-1" onclick="LessonMaster.EditLesson(@item.LessonId)" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                    @*<a class="mr-1" onclick="LessonMaster.DeleteLesson(@item.LessonId,this)" title="Delete"><i class="fa fa-trash-alt"></i></a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

@*@section scripts
    {
        <script src="@Url.Content("~/Content/js/custom/Course/Lesson/Lesson.js?v ="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

        <script type="text/javascript">
            LessonMaster.LessonArray =@Html.Raw(Json.Encode(Model));

        </script>

    }*@




