﻿
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");   
    var curriculum = (SelectList)ViewBag.Curriculum;    
}
@using (Ajax.BeginForm("SaveSchoolUnitDetailsMapping", "Lesson", new AjaxOptions { 
    OnSuccess = $"globalFunctions.showSuccessMessage('{Phoenix.Common.Localization.LocalizationHelper.UpdateSuccessMessage}', $('#myModal').modal('hide'))", 
    OnFailure = "globalFunctions.onFailure()",
    OnBegin = "return common.IsInvalidByFormOrDivId('frmAddEditUnitConfig')"
}, 
    new { id = "frmAddEditUnitConfig", @class = "form-horizontal" }))
{
    <div class="modal-body">
        <div class="popup-form">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-lg-12 col-md-12 col mb-3">
                   @Html.Partial("~/Areas/Course/Views/Course/_CurriculumDropdown.cshtml", curriculum)
                </div>
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        <div class="md-form md-outline">
                            @Html.DropDownList("DivisionId", (SelectList)ViewBag.Division,selectText, new {@class="selectpicker", data_required = "" })    
                            @Html.Label("DivisionId", ResourceManager.GetString("School.Division.DivisionName"), new { @class = "active" } )
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        <div class="md-form md-outline" id="ddlUnitDetailsTypeIdsDiv">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            <button type="submit" class="btn btn-primary waves-effect waves-light">@ResourceManager.GetString("Shared.Buttons.Save")</button>
        </div>
    </div>
}
