﻿@model IEnumerable<Phoenix.VLE.Web.Areas.Course.Models.Lesson>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers

@{

    ViewBag.Title = ResourceManager.GetString("Course.Lesson.LessonPlanner");

}

<form id="frmLessonPlanner" method="post" action="/Course/Lesson" class="column-padding pt-3">
    <div class="row">
        <div class="col-md-12 col-12">
            <div class="card table-wrapper column-padding">
                <div class="card-body">

                    <div class="card-title pl-0">
                        @ResourceManager.GetString("Course.Lesson.LessonPlanner")
                    </div>
                    <input type="hidden" value="@ViewBag.StandardId" id="hdnStandardId" />
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLessonMaster" }))
                    {
                        @Html.Hidden("LessonId")
                        <input type="hidden" value="@ViewBag.StandID" id="hdnSId" />

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="md-form md-outline mb-3">
                                    @Html.TextBox("Details", string.Empty, new { @class = "form-control", @id = "Details", @data_required = "" })
                                    <label class="active" for="Details">@ResourceManager.GetString("Course.Lesson.Details")</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="md-form md-outline mb-3">
                                    @Html.TextBox("StartDate", "{0:dd-MMM-yyyy}", new { @class = "form-control date-picker", @id = "StartDate", @data_required = "" })
                                    <label for="StartDate">@ResourceManager.GetString("Course.Lesson.StartDate")</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="md-form md-outline mb-3">
                                    @Html.TextBox("EndDate", "{0:dd-MMM-yyyy}", new { @class = "form-control date-picker", @id = "EndDate", @data_required = "" })
                                    <label for="EndDate">@ResourceManager.GetString("Course.Lesson.EndDate")</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12 text-right">
                                <div class="md-form md-outline mb-3">
                                    <button type="button" id="btnLesson" class="btn btn-primary">@ResourceManager.GetString("Shared.Buttons.Save")</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</form>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
    @Html.Partial("_ValidationJSPartial")
}
@section scripts
{
    <script src="@Url.Content("~/Content/js/custom/Course/Lesson/Lesson.js?v ="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        LessonMaster.LessonArray =@Html.Raw(Json.Encode(Model));
    </script>
}
<div id="tab1" class="tab-content" style="display: block;">
    <div class="card catalouge-card shadow-none bg-transparent">
        <div class="column-padding py-4">
            <div class="catalouge-info">
                <p class="text-muted text-semibold">Units</p>
            </div>
            @if (ParentList != null)
            {
                foreach (var parent in ParentList)
                {
                    <div class="catalouge-course-info unit-planner-info">
                        <div class="accordion catalouge-accordian" id="catalouge">
                            <!-----------------card 1------------------------>
                            <div class="card shadow-none p-2">
                                <div class="card-header p-0" id="catalouge-head1">
                                    <h5 class="mb-0 w-100 py-1 d-flex align-items-center">
                                        <span class="text-semibold">@parent.UnitMasterName</span>
                                        <div class="ml-auto d-flex">
                                            <div class="date-time-info d-flex align-items-center mr-3">
                                                <span class="text-semibold">@parent.CourseStateDate - @parent.CourseEndDate  |  @parent.SrartWeek - @parent.Endweek</span>
                                                <div class="dropdown">
                                                    <button class="btn bg-transparent dropdown-toggle px-1 py-0 mx-2 my-0 w-auto waves-effect waves-light" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </button>
                                                    <div class="dropdown-menu p-2" aria-labelledby="dropdownMenu2">
                                                        <button class="dropdown-item p-3 w-100 d-flex text-medium bg-transparent" id="btnAddStandard" data-value="@parent.UnitMasterId" type="button"><i class="fas fa-plus mr-2"></i>@ResourceManager.GetString("Course.Standard.AddStandard")</button>

                                                        @*<button class="dropdown-item p-3 w-100 d-flex text-medium bg-transparent" type="button"><i class="fas fa-plus mr-2"></i>Add Standard</button>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-link btn-collapsable d-inline-block text-center m-0 p-1 collapse bg-transparent waves-effect waves-light collapsed" type="button" data-toggle="collapse" data-target="#parent_@parent.UnitMasterId" aria-expanded="false" aria-controls="catalouge">
                                                <i class="fas fa-plus"></i><i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </h5>
                                </div>
                                @{
                                    var childList = Model.Where(x => x.ParentId == parent.UnitMasterId).DistinctBy(x => x.UnitMasterId).ToList();
                                }
                                <div id="parent_@parent.UnitMasterId" class="collapse" aria-labelledby="catalouge-head1" data-parent="#catalouge">
                                    <div class="card-body column-padding px-3 pt-3 pb-0">
                                        <div class="content">
                                            <div class="accordion subcatalouge-accordian" id="subcatalouge">
                                                @foreach (var child in childList)
                                                {

                                                    <!-----------------subcard 1------------------------>
                                                    <div class="">
                                                        <div class="card-header p-0" id="subcatalouge-head1">
                                                            <h5 class="mb-0 w-100 py-1 d-flex align-items-center">
                                                                <span class="text-semibold">@child.UnitMasterName</span>

                                                                <div class="ml-auto d-flex">
                                                                    <div class="date-time-info d-flex align-items-center mr-2">
                                                                        <span class="text-semibold">@child.CourseStateDate - @child.CourseEndDate  |  @child.SrartWeek - @child.Endweek</span>
                                                                        <div class="dropdown action-dropdown">
                                                                            <button class="btn bg-transparent dropdown-toggle px-1 py-0 mx-2 my-0 w-auto" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="fas fa-ellipsis-v"></i>
                                                                            </button>
                                                                            <div class="dropdown-menu p-2" aria-labelledby="dropdownMenu2">
                                                                                @*<button class="dropdown-item p-3 border-bottom w-100 d-flex text-medium bg-transparent" type="button"><i class="fas fa-plus mr-2"></i>Add Assignments</button>
                                                                                    <button class="dropdown-item p-3 border-bottom w-100 d-flex text-medium bg-transparent" type="button"><i class="fas fa-plus mr-2"></i>Add Quiz</button>*@
                                                                                <button class="dropdown-item p-3 w-100 d-flex text-medium bg-transparent" id="btnAddStandard" data-value="@child.UnitMasterId" type="button"><i class="fas fa-plus mr-2"></i>@ResourceManager.GetString("Course.Standard.AddStandard")</button>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <button class="btn btn-link btn-collapsable d-inline-block text-center m-0 p-1 collapse bg-transparent mr-3 waves-effect waves-light collapsed" type="button" data-toggle="collapse" data-target="#child_@child.UnitMasterId" aria-expanded="false" aria-controls="subcatalouge1">
                                                                        <i class="fas fa-angle-down"></i>
                                                                    </button>
                                                                </div>
                                                            </h5>
                                                        </div>
                                                        @{
                                                            var LessonList = Model.Where(x => x.SubSyllabusId == child.UnitMasterId).ToList();
                                                        }
                                                        @if (LessonList.Any())
                                                        {

                                                            <div id="child_@child.UnitMasterId" class="collapse" aria-labelledby="subcatalouge-head1" data-parent="#subcatalouge">

                                                                <div class="card-body column-padding p-4">
                                                                    <div class="subaccordian-content">
                                                                        <div class="syllabus-wrapper">
                                                                            @foreach (var Lesson in LessonList)
                                                                            {
                                                                                <div class="course-part py-3 d-flex align-items-center">
                                                                                    @*<div class="course-img bg-pink d-flex align-items-center justify-content-center"></div>*@
                                                                                    <p class="text-semibold mb-0 ml-3">@Lesson.LessonDescription</p>
                                                                                    <div class="date-time-info ml-auto">
                                                                                        <div class="dropdown action-dropdown">
                                                                                            <button class="btn bg-transparent  px-1 py-0 mx-2 my-0 w-auto waves-effect waves-light" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                                <i class="fas fa-ellipsis-v"></i>
                                                                                            </button>
                                                                                            <div class="dropdown-menu p-2 text-center" aria-labelledby="dropdownMenu2">
                                                                                                @*<button class="dropdown-item p-1 bg-transparent" type="button"><i class="far fa-eye"></i></button>*@
                                                                                                <button class="dropdown-item p-1 bg-transparent" id="Edit" onclick="LessonMaster.EditLesson(this,@Lesson.LessonId,@Lesson.SubSyllabusId)" type="button"><i class="fas fa-pen"></i></button>
                                                                                                <button class="dropdown-item p-1 bg-transparent" d="Delete" onclick="LessonMaster.DeleteLesson(@Lesson.LessonId)" type="button"><i class="far fa-trash-alt"></i></button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        }
                                                    </div>


                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @{
                                    var LessonListWithoutSubUnit = Model.Where(x => x.SubSyllabusId == parent.UnitMasterId).ToList();
                                }
                                @if (LessonListWithoutSubUnit.Any())
                                {
                                    <div class="card-body column-padding px-3 pt-3 pb-0">
                                        <div class="content">
                                            <div class="accordion subcatalouge-accordian" id="subcatalouge">
                                                <div id="parent_@parent.UnitMasterId" class="collapse" aria-labelledby="subcatalouge-head1" data-parent="#catalouge">


                                                    <div class="card-body column-padding px-3 pt-3 pb-0">
                                                        <div class="syllabus-wrapper">
                                                            @foreach (var LessonListWithout in LessonListWithoutSubUnit)
                                                            {

                                                                <div class="course-part py-3 d-flex align-items-center">
                                                                    @*<div class="course-img bg-pink d-flex align-items-center justify-content-center"></div>*@
                                                                    <span class="text-semibold">@LessonListWithout.LessonDescription</span>
                                                                    <p class="text-semibold mb-0 ml-3">@LessonListWithout.LessonDescription</p>
                                                                    <div class="date-time-info ml-auto">
                                                                        <div class="dropdown action-dropdown">
                                                                            <button class="btn bg-transparent px-1 py-0 mx-2 my-0 w-auto waves-effect waves-light" type="button" id="dropdownMenu99" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                <i class="fas fa-ellipsis-v"></i>
                                                                            </button>
                                                                            <div class="dropdown-menu p-2 text-center" aria-labelledby="dropdownMenu99">
                                                                                @*<button class="dropdown-item p-1 bg-transparent" type="button"><i class="far fa-eye"></i></button>*@
                                                                                <button class="dropdown-item p-1 bg-transparent" id="Edit" onclick="LessonMaster.EditLesson(this,@LessonListWithout.LessonId,@LessonListWithout.SubSyllabusId)" type="button"><i class="fas fa-pen"></i></button>
                                                                                <button class="dropdown-item p-1 bg-transparent" d="Delete" onclick="LessonMaster.DeleteLesson(@LessonListWithout.LessonId)" type="button"><i class="far fa-trash-alt"></i></button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            }
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>