﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    var admin = SessionHelper.CurrentSession.IsAdmin;
}
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row search-row justify-content-end mb-3">
            <div class="col-12 d-flex justify-content-end">
                <div class="search-with-bg w-responsive">
                    <span class="icon-search"></span>
                    <input type="text" class="searchfield search-field" autocomplete="off" id="searchUnitDetailsGrid" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
                </div>
                <a href="javascript:;" onclick="unitDetailConfig.loadUnitDetailTypeForm(this)" class="btn btn-primary rounded-4x ml-2 m-0 d-flex align-items-center">
                    <i class="fas fa-plus"></i><span class="d-none d-md-inline-block ml-2">@ResourceManager.GetString("Course.UnitDetailConfig.AddUnitConfig")</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body min-height">
                <div class="responsive-list-table col-sm-12 table-responsive">
                    <table class="table student-list-table dataTable no-footer" id="tblUnitDetailsGrid" role="grid" style="width:100%">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.assignUnitToSchool = '@ResourceManager.GetString("Course.Standard.AssignUnitToSchool")';
        translatedResources.title = '@ResourceManager.GetString("Course.UnitDetailConfig.Title")';
        translatedResources.unitGroupName = '@ResourceManager.GetString("Course.UnitDetailConfig.UnitGroupName")';
        translatedResources.order= '@ResourceManager.GetString("Course.UnitDetailConfig.Order")';
        translatedResources.description = '@ResourceManager.GetString("Course.UnitDetailConfig.Description")';
        translatedResources.addGroupName = '@ResourceManager.GetString("Course.UnitDetailConfig.AddGroupName")';
        translatedResources.selectGroupName = '@ResourceManager.GetString("Course.UnitDetailConfig.SelectGroupName")';
        translatedResources.assignUnitToSchool = '@ResourceManager.GetString("Course.Standard.AssignUnitToSchool")';
        translatedResources.addUnitConfig = '@ResourceManager.GetString("Course.UnitDetailConfig.AddUnitConfig")';
        translatedResources.orderAlreadyExists = '@ResourceManager.GetString("Course.UnitDetailConfig.OrderAlreadyExists")';
        translatedResources.controlAlreadyExists = '@ResourceManager.GetString("Course.UnitDetailConfig.ControlAlreadyExists")';
        translatedResources.controlType = '@ResourceManager.GetString("Course.UnitDetailConfig.ControlType")'; 
        translatedResources.CourseTitle = '@ResourceManager.GetString("Course.UnitDetailConfig.UnitCourseId")';
    </script>
    <script src="@Url.Content("~/Content/js/custom/Course/Lesson/UnitDetailConfig.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>
        $(document).ready(function () {
            unitDetailConfig.loadGrid();
        })
    </script>
}

