/****** Action Taken Settings Page CSS goes here *********/
/* .right-draw-form {
    width: 100%;
    display: contents;
}

.toggle.btn {
	height: 48px !important;
}

.toggle-on.btn {
	line-height: 12px !important;
}

.toggle-off.btn {
	line-height: 12px !important;
}
 */
/*---------- student profile page style ---------*/

.student-profile-section .student-profile-box {
    min-height: 18.75rem;
}

.student-profile-section .student-behave-wrap {
    position: absolute;
    width: 100%;
    height: 20px;
}

.student-profile-section .student-behave-wrap span.badge.badge-outline {
    font-size: 0.825rem !important;
    line-height: 1rem;
}

.student-profile-section .student-img {
    width: 7rem;
    height: 7rem;
    overflow: hidden;
}

.student-profile-section .student-meta {
    padding: 0 2.1875rem;
    min-height: 11rem;
}

.student-profile-section .student-meta h3 {
    font-size: 1.125rem;
}

.student-profile-section .student-meta p {
    font-size: 0.75rem;
    line-height: 1.125rem;
}

.student-profile-section .student-class-info {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.student-profile-section .student-class-info h3 {
    font-size: 1rem;
    background: #f9fafa;
}

.student-profile-section .student-class-info h3 span {
    font-size: 0.875rem;
    color: #878a8c;
}

.student-profile-section .accordion button {
    width: 100%;
    font-size: 0.8125rem;
}

.student-profile-section .accordion button:hover,
.student-profile-section .accordion button:active,
.student-profile-section .accordion button:focus {
    text-decoration: none;
}

.student-profile-section .accordion .card-body h3 {
    font-size: 1rem;
}

.student-profile-section .accordion .card-body h3 span {
    font-size: 0.9rem;
    color: #878a8c;
}

.student-profile-section .classlist-wrap:hover {
    background-color: rgba(195, 195, 195, 0.3) !important;
    cursor: pointer;
}
/*Overriding the main-teacher class for student profile*/
.tabPanels .tab-content {
    box-shadow: 0 1px 2px rgba(0,0,0,0) !important;
}
.coursenavTabs {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
@media (min-width: 1600px) {
    #sudentSiblingInfo.accordion .card-body .content {
        height: 8.125rem;
    }
}

#sudentSiblingInfo.accordion .card-body .content article {
    border-bottom: solid 1px #e6e6e6;
}

#sudentSiblingInfo.accordion .card-body .content article:last-child {
    border-bottom: none;
}

#sudentSiblingInfo.accordion .card-body .content article .sibling-img {
    width: 5rem;
    height: 5.9375rem;
    border-radius: 0.3125rem;
    overflow: hidden;
}

#sudentSiblingInfo.accordion .card-body .content article .sibling-info h3 {
    font-size: 0.875rem;
}

#sudentSiblingInfo.accordion .card-body .content article .sibling-info p {
    font-size: 0.6875rem;
    line-height: 1rem;
}

#sudentSiblingInfo.accordion .card-body .content article .sibling-info .sibling-action h3 {
    font-size: 0.6875rem;
}

#sudentSiblingInfo.accordion .card-body .content article .sibling-info .sibling-action h3 span {
    font-size: 0.625rem;
}

#sudentSiblingInfo.accordion .card-body .content .mCSB_outside+.mCSB_scrollTools {
    right: -20px;
}

@media (min-width: 1600px) {
    .attendance-widget.card .card-body .card-title {
        /*padding-top: rem(12px); padding-bottom: rem(11px);*/
    }
}

.attendance-widget .progress {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
}

.attendance-widget .progress:after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 14px #e6e6e6;
    position: absolute;
    top: 0;
    left: 0;
}

.attendance-widget .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.attendance-widget .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 14px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.attendance-widget .progress .progress-left {
    left: 0;
}

.attendance-widget .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.attendance-widget .progress .progress-right {
    right: 0;
}

.attendance-widget .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.attendance-widget .progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
}

.attendance-widget .progress .progress-value .h2 {
    margin: 0;
}

.label-list-view {
    min-height: 12.5rem;
}

.label-list-view .list {
    font-size: 0.875rem;
}

.label-list-view .list .label {
    font-size: 0.6875rem;
    color: #878a8c;
}

.student-group-settings h4 {
    font-size: 0.8125rem;
    background: #F6F8F8;
    padding: 0.625rem;
    font-weight: 600;
}

.student-group-settings h6 {
    font-size: 0.75rem;
    font-weight: 500;
}

.student-group-settings .content {
    height: 61vh;
    overflow: hidden;
    padding: 0 0.625rem;
}

.student-group-settings .mCSB_outside+.mCSB_scrollTools {
    right: -6px;
}

.student-group-settings .card-header button {
    border-radius: 0 !important;
}

.student-group-settings .card-header button:focus,
.student-group-settings .card-header button:hover {
    text-decoration: none;
    background: #e6e6e6;
}

.student-group-settings .card-header button[aria-expanded="true"],
.student-group-settings .card-header button[aria-expanded="false"] {
    background: #e6e6e6;
}

.student-group-settings span.error-toggle-msg {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    top: -2.5rem;
    left: 0;
}


/*---------- student profile page style end ----------*/


/*---------- report page style start ----------*/

.login-data h2 {
    font-size: 2.1875rem;
}

.login-data h2 span {
    font-size: 0.875rem;
    color: #ADB0B3;
}

.login-data:before,
.login-data:after {
    content: '';
    position: absolute;
}

.login-data:before {
    right: -4.25rem;
    width: 10.9375rem;
    height: 10.9375rem;
    background: #7030A0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.login-data:after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    right: 0.9375rem;
    color: #fff;
    font-size: xx-large;
    top: 1.875rem;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    line-height: 2.5rem;
}

.login-data.total-logins:after {
    content: "\f13e";
}

.login-data.teacher-logins:after {
    content: "\f508";
}

.login-data.student-logins:after {
    content: "\f1ae";
}

.login-data.parent-logins:after {
    content: "\f7bd";
}

.login-data.student-behaviour:after {
    content: "\f630";
}

.login-data.student-activities:after {
    content: "\f1ae";
}

.login-data.student-attendance:after {
    content: "\f073";
}

.login-data.days-present:before {
    background: #1fce56;
}

.login-data.days-present:after {
    content: "\f4fc";
}

.login-data.days-unauthorised-absent:before {
    background: #de090b;
}

.login-data.days-unauthorised-absent:after {
    content: "\f235";
}

.login-data.days-authorised-absent:before {
    background: #7030A0;
}

.login-data.days-authorised-absent:after {
    content: "\f274";
}

.login-data.days-late:before {
    background: #FF9850;
}

.login-data.days-late:after {
    content: "\f4fd";
}

.login-data:hover:after {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


/*---------- report page style end ----------*/
/****************Student Behaviour List Page CSS goes here ******************/
.behav-container {
    background-color: rgba(0,0,0,0.05);
    border-radius: 8px;
    cursor: pointer;
}
.behav-icon-wrap {
    height: 5.5rem;
    padding-top: 1.5rem;
}
img.behav-icon {
    width: 4rem;
    height: auto;
}
.behav-score-wrap {
    position: absolute;
    top: 0.4rem;
    right: 0.8rem;
}
    .behav-score-wrap span.student-behave-badge {
        color: #ffffff !important;
        font-size: 0.875rem;
        border-radius: 0.2875rem;
    }
.behav-score {
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    text-align: center;
    padding: 0.3rem 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
    min-width: 1rem;
    font-size: .8rem;
    background-color: rgb(147, 213, 83);
}
.behav-container-edit {
    background-color: rgba(0,0,0,0.03);
    border-radius: 8px;
    cursor: pointer;
}
.behav-title-outer {
    height: 2.5rem;
}
.behav-title-wrap {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}
.behav-title {
    max-height: 3.3rem;
    overflow: hidden;
    font-size: 0.75rem;
}
.behav-score-wrap-main {
    position: absolute;
    top: -1.8rem;
    right: 1.2rem;
    z-index:1000;
}
.behav-score-wrap-main:hover{
    cursor:pointer;
}
.behav-score-zero {
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    text-align: center;
    padding: 0.3rem 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
    min-width: 1rem;
    font-size: .8rem;
    background-color: rgb(218, 218, 218);
}
.behav-score-avg {
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    text-align: center;
    padding: 0.3rem 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
    min-width: 1rem;
    font-size: .8rem;
    background-color: rgb(236, 166, 66);
}
.behav-score-neg {
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    text-align: center;
    padding: 0.3rem 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
    min-width: 1rem;
    font-size: .8rem;
    background-color: rgba(230, 27, 28, 0.7);
}

li.behav-list .bahave-count {
    position: absolute;
    padding: 4px;
    border-radius: 6px;
    color: #ffffff;
    top: -3px;
    right: -13px;
}
.card-chart .card-header {
    padding: 0;
    min-height: 160px;
}

.card .card-chart {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}
.card-header .behav-profile {
    margin-top: -28px;
}

.card .card-header {
    /*padding: 15px 20px 0;*/
    z-index: 3;
}
.card .card-content h4.card-title {
    border-bottom: 0px !important;
    font-size:1rem !important;
    font-weight:500;
}
.cursor-pointer {
    cursor: pointer !important;
}
.card .card-content {
    padding: 15px 20px;
    position: relative;
}
.card .card-actions {
    position: absolute;
    z-index: 1;
    top: -50px;
    width: calc(100% - 30px);
    left: 17px;
    right: 17px;
    text-align: center;
}
.card .card-title {
    margin-top: 0;
    margin-bottom: 10px;
}
.card .card-footer {
    margin: 0 20px 10px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}
    .card .card-footer .stats {
        line-height: 22px;
        color: #999999;
        font-size: 12px;
    }

    .card .card-footer div {
        display: inline-block;
    }
    .card .card-footer .stats .material-icons {
        position: relative;
        top: 4px;
        font-size: 16px;
    }
.behav-profile img {
    max-width: 100%;
    width: 150px;
    border-radius: 8px !important;
    /*height: 100%;*/
    min-height: 180px;
    max-height: 180px;
    border: 1px solid rgba(0,0,0,0.2) !important;
    box-shadow: 0px 8px 5px -6px rgba(0, 0, 0, 0.5);
}
/********Enable the below css for No Image student Profile********/