﻿@model IEnumerable<Phoenix.Models.AccountStatementDetail>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@{

    string[] amount = (ViewBag.AdvanceDueLabel).Split(':');
    var diffAmount = amount[0] + " : " + String.Format("{0:#,0.00}", Convert.ToDouble(amount[1]));
}
    <div class="table-responsive">
        <table id="tblAccountDetails" class="table table-bordered table-hover tableLeaveRequest tblAccountStatement" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>@ResourceManager.GetString("FeePayment.AccountStatement.AcademicYear")</th>
                    <th>@ResourceManager.GetString("Shared.Labels.Date")</th>
                    <th>@ResourceManager.GetString("FeePayment.AccountStatement.RefNo")</th>
                    <th>@ResourceManager.GetString("FeePayment.AccountStatement.FeeDetails")</th>
                    <th>@ResourceManager.GetString("FeePayment.AccountStatement.Narration")</th>
                    <th class="text-center">@ResourceManager.GetString("FeePayment.AccountStatement.Debit")</th>
                    <th class="text-center">@ResourceManager.GetString("FeePayment.AccountStatement.Credit")</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (var det in Model)
                    {
                        var tempDate = Convert.ToDateTime(det.Date);
                        var date = tempDate.ToString("dd-MMM-yyyy");
                        <tr>
                            <td>@det.AcademicYear</td>
                            <td>@date</td>
                            <td>@det.RefNo</td>
                            <td>@det.FeeDescription</td>
                            <td>
                                @if (det.Narration.Trim().Length <= 15)
                                {
                                    @det.Narration
                                }
                                else
                                {
                                    <div class="content text-medium popoverInformation">
                                        @( det.Narration.Substring(0, 15)+"...")
                                        <a href="javascript:void(0)" data-toggle="dropdown" style="font-size:10px">@ResourceManager.GetString("Shared.Labels.ReadMore")</a>
                                        <div class="resource-info dropdown-menu mt-n5 z-depth-1 border-light rounded-2x p-0">
                                            <div class="column-padding py-3">
                                                <div class="content">
                                                    <p class="sub-heading text-semibold text-primary">@ResourceManager.GetString("FeePayment.AccountStatement.Narration")</p>
                                                    <p> @det.Narration</p>
                                                </div>
                                                <div class="d-flex justify-content-end mt-4">
                                                    <button type="button" class="btn btn-outline-primary btn-sm m-0">@ResourceManager.GetString("Shared.Buttons.Close")</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </td>
                            <td class="text-right">@String.Format("{0:#,0.00}", det.Debit)</td>
                            <td class="text-right">@String.Format("{0:#,0.00}", det.Credit)</td>
                        </tr>
                    }

                }
                else
                {
                    <tr class="tbl-no-row"> <td colspan="7" class="text-center">@ResourceManager.GetString("Course.CrossSchoolPermission.NoRecords")</td></tr>
                }
            </tbody>
            @if (Model.Count() > 0)
            {
                <tfoot>
                    <tr class="totalAccState">
                        <td>@ResourceManager.GetString("Shared.labels.Total")</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><div class="text-right">@String.Format("{0:#,0.00}", Model.Sum(m => m.Debit))</div></td>
                        <td><div class="text-right">@String.Format("{0:#,0.00}", Model.Sum(m => m.Credit))</div></td>
                    </tr>
                </tfoot>
            }
        </table>
    </div>
<div class="top-header d-flex justify-content-end p-3 bg-light">
    <span class="ml-2 calcOfAccDetails text-primary text-semibold">@String.Format("{0:#,0.00}", diffAmount)</span>
</div>
