﻿@model IEnumerable<Phoenix.Models.AccountStatementSummary>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
<style>
    table, th, td {
        border: 1px solid black;
    }

    th {
        background-color: #5d3195;
        color: white;
    }
</style>
<h3 style="text-align:center;">Account Summary Details</h3>
<table id="tblAccountSummary" class="table table-bordered table-hover tableLeaveRequest tblAccountStatement" cellspacing="0" width="100%" border="1">
    <thead>
        <tr>
            <th>@ResourceManager.GetString("FeePayment.AccountStatement.AcademicYear")</th>
            <th>@ResourceManager.GetString("FeePayment.AccountStatement.FeeDetails")</th>
            <th class="text-right">@ResourceManager.GetString("FeePayment.AccountStatement.Debit")</th>
            <th class="text-right">@ResourceManager.GetString("FeePayment.AccountStatement.Credit")</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var det in Model)
            {
                <tr>
                    <td>@det.AcademicYear</td>
                    <td>@det.FeeDescription</td>
                    <td class="text-right">@det.Debit</td>
                    <td class="text-right">@det.Credit</td>
                </tr>
            }
        }
        else
        {
            <tr class="tbl-no-row"> <td colspan="6" class="text-center">@ResourceManager.GetString("Course.CrossSchoolPermission.NoRecords")</td></tr>
        }
    </tbody>
</table>
<div class="top-header d-flex justify-content-end p-3 bg-light">
    <span class="ml-2 calcOfAccSummary text-primary text-semibold">@ViewBag.AdvanceDueLabel</span>
</div>
