﻿@model IEnumerable<Phoenix.Models.AccountStatementDetail>
@using Phoenix.Common.Localization
@{
    Layout = null;
    var currentSystemLanguage = Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage;
    var langId = currentSystemLanguage.SystemLanguageId;
    var langCode = currentSystemLanguage.SystemLanguageCode;
    var langIsRightToLeft = currentSystemLanguage.IsRightToLeft;
}

<!DOCTYPE html>
<html lang="@langCode" dir="@(langIsRightToLeft ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ResourceManager.GetString("FeePayment.Fee.AccountDetails")</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/addons/bootstrap-datetimepicker-standalone.css" rel="stylesheet">
    <link href="~/Content/css/addons/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="~/Content/css/addons/jquery.minicolors.css" rel="stylesheet" type="text/css">
    <!-- Material Design Bootstrap -->
    <link href="~/Content/css/main-hse.css" rel="stylesheet" type="text/css">
    <style>
        .dirClass {
            unicode-bidi: bidi-override !important;
            direction: unset !important;
            text-align: right;
        }
    </style>
</head>
<body class="@(langIsRightToLeft ? "dirClass" : "")">
    <main class="pt-5 mx-lg-2 mt-4 p-0">
        <div class="container-fluid mt-2 mb-4 clearfix position-relative">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="report-table pb-3 pt-3 column-padding">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <h4 class="table-title">@ResourceManager.GetString("FeePayment.Fee.AccountDetails")</h4>
                                    </div>
                                </div>
                                <div>
                                    <h6>@ViewBag.StudentName</h6>
                                    <h6>@ResourceManager.GetString("FeePayment.Fee.Grade") : @ViewBag.Grade</h6>
                                </div>
                                <div class="table-wrapper">
                                    <table class="table table-bordered table-hover table-responsive-md">
                                        <thead>
                                            <tr>
                                                <th>@ResourceManager.GetString("Shared.Labels.Date")</th>
                                                <th>@ResourceManager.GetString("FeePayment.AccountStatement.RefNo")</th>
                                                <th>@ResourceManager.GetString("FeePayment.AccountStatement.FeeDetails")</th>
                                                <th>@ResourceManager.GetString("FeePayment.AccountStatement.Narration")</th>
                                                <th class="text-right">@ResourceManager.GetString("FeePayment.AccountStatement.Debit")</th>
                                                <th class="text-right">@ResourceManager.GetString("FeePayment.AccountStatement.Credit")</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Count() > 0)
                                            {
                                                foreach (var det in Model)
                                                {
                                                    var tempDate = Convert.ToDateTime(det.Date);
                                                    var date = tempDate.ToString("dd-MMM-yyyy");
                                                    <tr>
                                                        <td>@date</td>
                                                        <td>@det.RefNo</td>
                                                        <td>@det.FeeDescription</td>
                                                        <td>@det.Narration</td>
                                                        <td class="text-right">@det.Debit</td>
                                                        <td class="text-right">@det.Credit</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr class="tbl-no-row"> <td colspan="6" class="text-center">@ResourceManager.GetString("Course.CrossSchoolPermission.NoRecords")</td></tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="top-header d-flex justify-content-end p-3">
                                        <span class="ml-2 calcOfAccSummary text-semibold">@ViewBag.AdvanceDueLabel</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
</html>
<script type="text/javascript">
    window.print();
</script>
