﻿@model IEnumerable<Phoenix.Models.FeeDetailVMRoot>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@{
    ViewBag.Title = "FeeAndPayments";
    var isTransprt = Model.Any(x => x.Source.ToLower() == "transport");
}
<style>
    /*.select-card .upper-section {
             float: right
         }*/
    /*.payment-type-im {
             width: 75%
         }*/
    #moreInfo .select-card.nbad-card {
        min-width: 8.25rem;
    }

    #discountInfo .modal-dialog {
        max-width: 50%;
    }

    .studChk .child-card, .fee-payment-container .child-card {
        box-shadow: 0 0.1875rem 1.3125rem 0 #e3dee8;
    }

    .fee-payment-container .borderadjust {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .schlnamewidth {
        min-height: 45px !important;
    }
</style>
<div class="">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav bg-white bordered-tab-item">
                <li class="nav-item text-left">
                    <a class="nav-link navTabToggle  active" data-toggle="tab" href="#FeePayment" role="tab">
                        @ResourceManager.GetString("FeePayment.FeesPayment.Title")
                    </a>
                </li>
                <li class="nav-item text-left">
                    <a class="nav-link" data-toggle="tab" onclick="return GetNavPaymentHistory();" href="#paymentHistory" role="tab">
                        @ResourceManager.GetString("FeePayment.PaymentHistory.Title")
                    </a>
                </li>
                <li class="nav-item text-left">
                    <a class="nav-link" data-toggle="tab" onclick="return GetNavAccountStatement();" href="#accountStatement" role="tab">
                        @ResourceManager.GetString("FeePayment.AccountStatement.Title")
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content">
                <!--Panel 1-->
                <div class="tab-pane fade show in active" id="FeePayment" role="tabpanel">
                    <div class="row">
                        <div class="col-12 fee-payment-container">
                            <div class="card borderadjust border-0">
                                <div class="header-section">
                                    <span class="title">@ResourceManager.GetString("FeePayment.Fee.Title")</span>
                                    <span class="title-date"></span>
                                </div>
                                <div>
                                    <ul class="toggable-items-row">
                                        <li class="active school">@ResourceManager.GetString("FeePayment.Fee.SchoolFee")</li>
                                        @if (ViewBag.IsTransport)
                                        {
                                            <li class="transport" onclick="GetStudentFeeDetails('TRANSPORT')">@ResourceManager.GetString("FeePayment.Fee.TransportFee")</li>
                                        }
                                        <li class="activity" onclick="GetStudentFeeDetails('ACTIVITY')">@ResourceManager.GetString("FeePayment.Fee.ActivityFee")</li>
                                    </ul>
                                </div>
                               
                                <div class="source school-wrapper" data-main-source="school">
                                    @Html.Partial("FeePaymentsStudDetails", Model)
                                </div>
                                <div class="source transport-wrapper hide-item" data-main-source="TRANSPORT" id="transport_div" data-isload="0">

                                </div>
                                <div class="source activity-wrapper hide-item" data-main-source="ACTIVITY" id="activity_div" data-isload="0">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Panel 1-->
                <!--Panel 2-->
                <div class="tab-pane fade show" id="paymentHistory" data-isLoadPayHistSect="0" role="tabpanel">

                </div>
                <!--/.Panel 2-->
                <!--Panel 3-->
                <div class="tab-pane fade show" id="accountStatement" data-isLoadAccStatement="0" role="tabpanel">

                </div>
                <!--/.Panel 3-->
            </div>
        </div>
    </div>
</div>


<!-- modal popups -->
<div class="modal fade" id="scheduleOfFees" tabindex="-1" role="dialog" aria-labelledby="scheduleOfFees"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h6 class="modal-title dark-purple">@ResourceManager.GetString("FeePayment.ViewSchedule.Title")</h6>
                <button type="button" onclick="return closeModal('scheduleOfFees')" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body scheduleOfFeesScroll">
                <div class="title-section d-flex align-items-center justify-content-between">
                    <div id="nameSt">
                        <div class="name-title text-bold"></div>
                        <div class="student-grade text-semibold text-black-50"></div>
                    </div>
                    <a href="#" id="printSch" target="_blank">
                        <img src="~/Content/VLE/img/svg/printer.svg" alt="printer-icon" />
                    </a>
                </div>
                <div class="popup-form mt-3" id="printSchFee">
                    <div class="row">
                        <div class="col-12">
                            <table id="fee-schedule-table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="th-sm">@ResourceManager.GetString("FeePayment.ViewSchedule.Fee") </th>
                                        <th class="th-sm">@ResourceManager.GetString("FeePayment.ViewSchedule.DueDate") </th>
                                        <th class="th-sm text-right">@ResourceManager.GetString("FeePayment.ViewSchedule.Amount")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="moreInfo" tabindex="-1" role="dialog" aria-labelledby="moreInfo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h6 class="modal-title dark-purple">@ResourceManager.GetString("FeePayment.PaymentType.MoreInfo")</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="card-list-info">
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="discountInfo" tabindex="-1" role="dialog" aria-labelledby="discountInfo"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h6 class="modal-title dark-purple">@ResourceManager.GetString("FeePayment.DiscountInfo.Title")</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body discountInfoScroll">
                <div class="popup-form mt-3">
                    <div class="row">
                        <div class="col-12">
                            <table id="discount-info-table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="th-sm">@ResourceManager.GetString("FeePayment.DiscountInfo.Month") </th>
                                        <th class="th-sm">@ResourceManager.GetString("FeePayment.DiscountInfo.Fee")</th>
                                        <th class="th-sm">@ResourceManager.GetString("FeePayment.DiscountInfo.Disc")</th>
                                        <th class="th-sm">@ResourceManager.GetString("FeePayment.DiscountInfo.Discount")</th>
                                        <th class="th-sm">@ResourceManager.GetString("FeePayment.DiscountInfo.Net")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade popup-purple-shade" id="confirmPopup" tabindex="-1" role="dialog"
     aria-labelledby="confirmPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" class="m-0">
                <input type="hidden" value="" id="GetPayUrl">
                <div class="modal-header pt-5 border-0 d-flex justify-content-center">
                    <h5 class="modal-title dark-purple">@ResourceManager.GetString("EnrollActivity.EnrollActivities.ConfirmProceed")</h5>
                </div>
                <div class="modal-body px-5">
                    <p class="text-center">
                        @ResourceManager.GetString("EnrollActivity.EnrollActivities.ClickOn") <span class="text-semibold">@ResourceManager.GetString("EnrollActivity.EnrollActivities.ConfirmProceed")</span> @ResourceManager.GetString("EnrollActivity.EnrollActivities.PaymentMsg1")
                        for <span class="text-semibold dark-purple totAmnt"> </span>

                    </p>
                    <p class="text-center text-muted">
                        @ResourceManager.GetString("EnrollActivity.EnrollActivities.PaymentMsg2") <span class="text-semibold text-dark refNo"></span> @ResourceManager.GetString("EnrollActivity.EnrollActivities.PaymentMsg3")

                    </p>
                    <p class="text-center font-small">
                        <i class="text-medium">
                            @ResourceManager.GetString("FeePayment.ConfirmPopup.LogOffNote")
                        </i>
                    </p>
                </div>
                <div class="modal-footer pb-5 d-flex justify-content-center border-0">
                    <button type="button" class="btn btn-outline-deep-purple mr-3" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                    <button type="button" class="btn btn-deep-purple" id="btnConfirmProceed">@ResourceManager.GetString("EnrollActivity.EnrollActivities.ConfirmProceed")</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- modal popups end -->
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
    {

    <script>
        translatedResources.noRecordsMessage = '@string.Format(ResourceManager.GetString("FeePayment.Message.NoData"),
                                                ResourceManager.GetString("FeePayment.PaymentType.PaymentType").ToLower())';
        translatedResources.paymentTypeMsg = '@ResourceManager.GetString("FeePayment.Message.PaymentTypeMsg")';
        translatedResources.CalculationNetAmt = '@ResourceManager.GetString("FeePayment.Message.CalculationNetAmt")';
        translatedResources.NoDiscount = '@ResourceManager.GetString("FeePayment.Message.NoDiscount")';
        translatedResources.date = '@ResourceManager.GetString("Shared.Labels.Date")';
    </script>

    <script type="text/javascript">
        Date.prototype.toShortFormat = function () {
            let monthNames = ["Jan", "Feb", "Mar", "Apr",
                "May", "Jun", "Jul", "Aug",
                "Sep", "Oct", "Nov", "Dec"];
            let day = this.getDate();
            let monthIndex = this.getMonth();
            let monthName = monthNames[monthIndex];
            let year = this.getFullYear();
            return `${monthName} ${day},${year}`;
        }

        Date.prototype.ddMMMyyyFormat = function () {
            let monthNames = ["Jan", "Feb", "Mar", "Apr",
                "May", "Jun", "Jul", "Aug",
                "Sep", "Oct", "Nov", "Dec"];
            let day = this.getDate();
            let monthIndex = this.getMonth();
            let monthName = monthNames[monthIndex];
            let year = this.getFullYear();
            return ` ${day}/${monthName}/${year}`;
        }

        $(".scheduleOfFeesScroll").mCustomScrollbar({
            setHeight: "550px",
            scrollbarPosition: "outside",
            axis: 'y',
            autoHideScrollbar: true,
            autoExpandScrollbar: true
        });
        $(".discountInfoScroll").mCustomScrollbar({
            setHeight: "550px",
            scrollbarPosition: "outside",
            axis: 'y',
            autoHideScrollbar: true,
            autoExpandScrollbar: true
        });
    </script>
    <script src="~/Content/VLE/js/addons/rangeslider.min.js"></script>
    <script src="@Url.Content("~/Content/js/custom/Parent/ParentDashboard.js?v="+ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/SchoolSpaces/FeePayments.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

}
