﻿@model IEnumerable<Phoenix.Models.FeeDetailsVM>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@{
    var virtualImge = Constants.StudentImagesPath;
    //var mod = Model.ToList();
    //var dt = Model.FirstOrDefault();
    var from = Model.Select(m => m.FromDate).FirstOrDefault();
    var to = Model.Select(m => m.ToDate).FirstOrDefault();
    var selectedStudent = SessionHelper.CurrentSession.CurrentSelectedStudent.StudentNumber;//dt.data.Where(m => m.IsSelected == true).Select(m => m.StudentNo).FirstOrDefault();
                                                                                            //var isTransprt = Convert.ToBoolean(ViewBag.IsTransport);//Model.Any(x => x.Source.ToLower() == "transport");
}

<style>
    .leave-request-container .leave-request-card .dataTables_paginate, .leave-request-container .leave-request-card .dataTables_filter, .leave-request-container .leave-request-card .dataTables_length {
        display: block;
    }
</style>
<div class="row">
    <div class="col-12 fee-payment-container">
        <div class="card borderadjust border-0">
            <div class="header-section">
                <span class="title"> @ResourceManager.GetString("FeePayment.PaymentHistory.Title")</span>
                <span class="title-date"></span>
            </div>
            <div class="tabSelection paymentHistorySection col-lg-12 mt-3">
                <div class="" data-main-source="">
                    <div class="row mb-4 ChkPaymentHistory">
                        @foreach (var stud in Model)
                        {
                            var isCheck = stud.StudentNo == SessionHelper.CurrentSession.CurrentSelectedStudent.StudentNumber ? "checked" : "";
                            var activ = stud.StudentNo == SessionHelper.CurrentSession.CurrentSelectedStudent.StudentNumber ? "active" : "";
                            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 col-12">
                                <div class="card select-card child-card @activ">
                                    <div class="upper-section">
                                        <div class="child-details">
                                            @if (!string.IsNullOrWhiteSpace(stud.StudentImg))
                                            {
                                                <img src="@virtualImge@stud.StudentImg" class="img-fluid" alt="@stud.StudentName">
                                            }
                                            else
                                            {
                                                <img src="~/Content/Student/img/default-avatar.jpg" class="img-fluid" alt="@stud.StudentName">
                                            }
                                            <div class="school-detail">
                                                <h6 class="text-bold">@stud.StudentName</h6>
                                                <p class="text-medium">@ResourceManager.GetString("FeePayment.StudentInfo.ID") : [@stud.StudentNo]</p>
                                            </div>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="radio" @isCheck class="custom-control-input chk" name="paymentHistory" onclick="return ChkStudentPaymentHistory(this);" value="@stud.StudentNo" id="chk-payHist-@stud.StudentNo">
                                            <label class="custom-control-label" for="chk-payHist-@stud.StudentNo"></label>
                                        </div>
                                    </div>
                                    <div class="card-body mt-2">
                                        <p class="text-medium studGrade">@ResourceManager.GetString("FeePayment.StudentInfo.Grade") : <span class="text-semibold">@stud.Grade-@stud.Section</span></p>
                                        <p class="text-medium schlName schlnamewidth">@ResourceManager.GetString("FeePayment.StudentInfo.School") : <span class="text-semibold">@stud.SchoolName</span></p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    @*<div class="filterPaymentHistory">*@
                    <div class="row">
                        <div class="col-12 leave-request-container filterPaymentHistory">
                            <div class="card leave-request-card">
                                <div class="panel-header filterTabs">
                                    <div class="row paymentHistory-Filter w-100">
                                        <div class="col-lg-3 col-sm-3 col-md-3 col search-row d-flex justify-content-start">
                                            <div class="md-form md-outline sort-dropdown">
                                                <label class="select-label">@ResourceManager.GetString("FeePayment.StudentInfo.Status") </label>
                                                <select class="selectpicker" id="ddlStatusPH">
                                                    <option value="" selected>@ResourceManager.GetString("FeePayment.StudentInfo.AllTransaction")</option>
                                                    <option value="Initiated">@ResourceManager.GetString("FeePayment.StudentInfo.Initiated")</option>
                                                    <option value="Cancel">@ResourceManager.GetString("FeePayment.StudentInfo.Cancel")</option>
                                                    <option value="Success">@ResourceManager.GetString("FeePayment.StudentInfo.Success")</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-9 col-sm-9 col-md-9 col-12 pr-0">
                                            <div class="row">
                                                <div class="col-lg-3 col-sm-3 col-md-3 col-12"></div>
                                                <div class="col-lg-3 col-sm-3 col-md-3 col-12">

                                                    <div class="md-form md-outline date-time-picker field-with-icon mb-3 mt-0 bg-white">
                                                        <i class="far fa-calendar-alt active"></i>
                                                        <input type="text" class="form-control date-picker datepicker dpPaymentHist paymHistFromdate" placeholder="From Date" value="@from.ToString("dd-MMM-yyyy")" id="paymHistFromDate">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-md-3 col-12">
                                                    <div class="md-form md-outline date-time-picker field-with-icon mb-3 mt-0 bg-white">
                                                        <i class="far fa-calendar-alt active"></i>
                                                        <input type="text" class="form-control date-picker datepicker dpPaymentHist paymHistTodate" placeholder="To Date" value="@to.ToString("dd-MMM-yyyy")" id="paymHistToDate">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-md-3 col-12 d-flex justify-content-end pr-0">
                                                    <div class="md-form md-outline">
                                                        <button type="button" onclick="return OnPaymentHistoryFilter()" class="btn btn-deep-purple waves-effect waves-light btnApplyFilterPayHist m-0">
                                                            @ResourceManager.GetString("FeePayment.AccountStatement.ApplyFilter")
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="tab-content" id="paymentHistContent" data-isLoadPayHistSect="0" data-selStudent="@selectedStudent">
                                    <div class="tab-pane fade show in active" id="tab-paymentHistory" role="tabpanel" aria-labelledby="paymentHistory-tab">
                                        <div class="paymentHistorySection">
                                            @Html.Partial("_PaymentHistory", (IEnumerable<Phoenix.Models.PaymentHistory>)ViewBag.LstPaymentHistory)
                                            @*@{
                                                    Html.RenderAction("GetPaymentHistory", "Fee", new { students = selectedStudent });
                                                }*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/js/custom/SchoolSpaces/AccountStatement.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>



