﻿@using Phoenix.VLE.Web
@model List<Phoenix.VLE.Web.Models.AssessmentStudent>
@{

//var AssessmentStudentList = Model.Select(s => new Phoenix.VLE.Web.Models.AssessmentStudent
//{

//    StudentId = s.StudentId,
//    StudentName = s.StudentName,
//    StudentImageUrl = s.StudentImageUrl

//}).Distinct();


}

@foreach (var student in Model.GroupBy(x=>x.StudentId).Select(g=>g.First()).ToList())
{
    var studentName = student.StudentName.Length > 15 ? student.StudentName.Substring(0, 15) : student.StudentName;

    <th class="border-bottom border-right">
        <div class="student-details d-flex flex-column align-items-center">
            <div class="custom-control custom-checkbox w-100 text-right">
                <input type="checkbox" class="custom-control-input clsChkStudent" data-studentId="@(student.StudentId)" id="chkStudent_@(student.StudentId)">
                <label class="custom-control-label" for="chkStudent_@(student.StudentId)"></label>
            </div>
            <div class="student-img">
                <img src="@(student.StudentImageUrl)">
            </div>
            <a href="javascript:void(0)" data-studentId="@student.StudentId" data-lessonId="@student.LessonId" class="student-name text-uppercase text-bold text-primary text-center clsStudentLessonMP" data-toggle="modal" data-target="#studentDetailPopup">
                @($"{studentName}")
            </a>
        </div>
    </th>
}
