﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@using Phoenix.Models.Entities
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Enums;
@model Phoenix.VLE.Web.Models.ProgressTrackerEvidence
@{
    string dataModule = string.Empty;
    if (ViewBag.DataModule != null)
    {

        dataModule =  (string)ViewBag.DataModule;
    }

}
<form id="frmProgressTrackerEvidence" method="post" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="popup-form">
            <div class="row">
                <div class="col-lg-12 col">
                    @Html.HiddenFor(x => x.StudentId)
                    @Html.HiddenFor(x => x.LessonId)

                    @Html.FileUpload("StudentProgressEvidence", Model.AttachmentList,
                                           new
                                                {
                                                    @class = "form-control",
                                                    @data_min_height = "110",
                                                    @data_module = dataModule,
                                                    @data_multiple = "multiple",
                                               @data_min_width = "260",
                                               @btnstyle = "padding-right: 26px !important;padding-left: 26px !important;",
                                               @buttontext = ResourceManager.GetString("Assessment.ProgressTrackerSetup.AttachEvidence"),
                                               @data_allowedFileExtensions = "gif,png,jpg,jpeg"
                                           })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-end border-0 pt-0">
        <button type="button" class="btn btn-outline-primary btnModelCancel m-0 mr-2" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
        <button type="button" class="btn btn-primary clsbtnProgressAttachmentSave m-0">@ResourceManager.GetString("Shared.Buttons.Save")</button>
    </div>
</form>
