﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
<table id="tbl-ProgressSetUP" class="table table-bordered table-hover " cellspacing="0" width="100%" border="1">
    <thead>
        <tr>
            <td><strong>@ResourceManager.GetString("Course.MapCourse.CourseTitle")</strong></td>
            <td><strong>@ResourceManager.GetString("Course.Progress.Grade")</strong></td>
            <td><strong>@ResourceManager.GetString("Course.Progress.IsHeader")</strong></td>
            <td><strong>@ResourceManager.GetString("Course.Progress.IsDropDown")</strong></td>
            <td><strong>@ResourceManager.GetString("Course.Progress.Edit")</strong></td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr style="page-break-inside:avoid;">

            <td>@item.CourseName</td>
            <td>@item.GradeTemplateMasterDesc</td>
            <td>@item.ShowCodeHeader</td>
            <td>@item.ShowDropdown</td>
            <td>
                <a class="mr-1 trigger-rightDrawer" onclick="ProgressTrackerSetup.EditProgressTracker(@item.Id)" data-target="ProgressSetupDrawer" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                @*<a class="mr-1" onclick="LessonMaster.DeleteLesson(@item.LessonId,this)" title="Delete"><i class="fa fa-trash-alt"></i></a>*@
            </td>
        </tr>
        }
    </tbody>
</table>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
}


@section scripts
{
    <script src="@Url.Content("~/Content/js/custom/Assessment/ProgressSetUP.js?v ="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    <script type="text/javascript">
        //LessonMaster.LessonArray =@Html.Raw(Json.Encode(Model));

    </script>
    <script type="text/javascript">
           // Config.ConfigArray =@Html.Raw(Json.Encode(Model));
             $('#tbl-ProgressSetUP').DataTable({
                 "pageLength": 5,
                 "orderable": false,
               
                 "bLengthChange": false,
                "paging": true,
                 "searching": true
                });
    </script>

}