﻿@model Phoenix.VLE.Web.Models.AssessmentProgressTracker
@using Phoenix.Common.Localization
<!--------progress tracker----------->
<style>
    .progress-tracker-wrapper .table-container .table-horizontal-container .unfixed-table tbody tr td.no-grade:hover .remark a.attachment:after,
    .progress-tracker-wrapper .table-container .table-horizontal-container .unfixed-table tbody tr td.no-grade:hover .remark a.attachment i {
        color: #555758;
    }

    .progress-tracker-wrapper .table-container .table-horizontal-container .unfixed-table tbody tr td:hover .remark a.clsopenAssignemntView {
        color: #fff !important;
    }

    .progress-tracker-wrapper .table-container .table-horizontal-container .unfixed-table tbody tr td.active .remark a.clsopenAssignemntView {
        color: #fff !important;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="column-padding pt-3">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <p class="m-0 font-small d-flex overflow-hidden">
                                <span class="sub-heading text-medium text-black-50 mr-3">@ResourceManager.GetString("Assessment.ProgressTrackerSetup.Course")</span>
                                <span class="text-semibold text-truncate" id="tdCourseText"></span>
                            </p>

                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <p class="m-0 font-small d-flex overflow-hidden">
                                <span class="sub-heading text-medium text-black-50 mr-3">@ResourceManager.GetString("Assessment.ProgressTrackerSetup.Group")</span>
                                <span class="text-semibold text-truncate" id="tdGrpText"></span>
                            </p>

                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <p class="m-0 font-small d-flex overflow-hidden">
                                <span class="sub-heading text-medium text-black-50 mr-3">@ResourceManager.GetString("Assessment.ProgressTrackerSetup.Unit")</span>
                                <span class="text-semibold text-truncate" id="tdUnitText"></span>
                            </p>

                        </div>

                    </div>
                </div>
                <hr class="mb-2">
                <div class="flex-column flex-md-row pt-0 title-with-fields">
                    <h3 class="card-title mb-2 mb-md-0">@ResourceManager.GetString("Assessment.ProgressTrackerSetup.Assessments")</h3>
                    <div class="title-fields">
                        <div id="divSelectionDetails" class="d-none">

                            <span class="text-semibold" id="spnSelectionCount"></span>
                            <a href="javascript:void(0);" id="btnclrSelection" class="text-primary text-medium ml-3">@ResourceManager.GetString("Assessment.ProgressTrackerSetup.ClearSelection")</a>
                            @*<a href="javascript:void(0);" class="btn btn-outline-primary m-0 ml-3">Cancel Bulk Action</a>*@
                        </div>


                        <ul id="ulbtnGradingButton" class="gradeList clearfix d-flex justify-content-end align-items-center disabled flex-wrap">
                            @foreach (var gradingTemplate in Model.GradingTemplateItemList)
                            {
                                <li class="mb-3 mb-md-0">
                                    <a href="javascript:void(0);" data-gradeId="@(gradingTemplate.GradingTemplateItemId)" id="gradingMark_@(gradingTemplate.GradingTemplateItemId)" class="text-bold text-uppercase rounded" style="--grade-color: @(gradingTemplate.GradingColor) " onclick="ProgressTracker.AppendGradeOnStudentLesson(@(gradingTemplate.GradingTemplateItemId))">
                                        <span>@(gradingTemplate.ShortLabel)</span>
                                    </a>

                                </li>
                            }
                            @if (Model.GradingTemplateItemList.Count() > 0)
                            {
                                <li>
                                    <button id="btnSaveProgressTracker" type="button" class="btn btn-sm btn-primary m-0 disabled">@ResourceManager.GetString("Shared.Buttons.Save")</button>
                                </li>
                            }


                        </ul>
                    </div>
                </div>

                @{ Html.RenderPartial("_AssessmentTracker", Model);}
            </div>
        </div>
    </div>
</div>

<!--------progress tracker----------->
<script type="text/javascript">
    ProgressTracker.ProgressTrackerModel =  @Html.Raw(Json.Encode(Model));

</script>