﻿@model  List<Phoenix.VLE.Web.Models.ProgressSetupRules>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
<table id="tblProgressSetupRules" class="table table-bordered table-hover table-responsive-md">
    <thead>
        <tr>
            <th class="th-sm text-center">Grading Template</th>
            <th class="th-sm text-center">Steps</th>
            <th class="th-sm text-center">StartDate</th>
            <th class="th-sm text-center">EndDate</th>
            <th class="th-sm text-center">@ResourceManager.GetString("Shared.Labels.Actions")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @(item.GradingTemplate)
                </td>
                <td class="text-center">
                    @(item.Steps)
                </td>
                <td class="text-center">
                    @(item.StartDate.ToString("dd-MMM-yyyy"))
                </td>
                <td class="text-center">
                    @(item.EndDate.ToString("dd-MMM-yyyy"))
                </td>
                <td class="text-center">
                    <a href="javascript:void(0);" data-progressRuleId="@item.ProgressRuleId" data-grdingId="@item.GradingTemplateId" data-toggle="tooltip" title="Edit" class="clsRuleEdit"><i class='fas fa-pencil-alt pr-2'></i></a>
                    <a href="javascript:void(0);" data-progressRuleId="@item.ProgressRuleId" data-toggle="tooltip" title="Delete" class="mr-3 clsRuleDelete"><i class="fa fa-trash-alt"></i></a>

                </td>
            </tr>
        }

    </tbody>


</table>
