﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    ViewBag.Title = ResourceManager.GetString("Assessment.ProgressTrackerSetup.ProgressSetup");
}
<div class="row search-row justify-content-end pb-2">
    <div class="col-lg-9 col-md-10 col-12 d-flex justify-content-end" id="SearchSetup">
        <div class="search-with-bg">
            <span class="icon-search"></span>
            <input type="text" id="ProgressSetupSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
        </div>
        <button id="btnAddProgressSetup" type="button" class="btn btn-primary m-0 rounded-6x ml-3"><i class="fa fa-plus mr-2"></i>@ResourceManager.GetString("Shared.Labels.Add")</button>
    </div>
</div>

<div class="card column-padding py-4">
    <div class="card-body">
        <div id="divProgressSetupGrid">
            <table id="tblProgressSetupGrid" class="table table-bordered table-hover table-responsive-md">
                <thead>
                    <tr>
                        <th class="th-sm">@ResourceManager.GetString("Assessment.ProgressTrackerSetup.CourseName")</th>
                        <th class="th-sm">@ResourceManager.GetString("Assessment.Common.Grade")</th>
                        <th class="th-sm">@ResourceManager.GetString("Assessment.ProgressTrackerSetup.GradeTemplate")</th>
                        @*<th class="th-sm">@ResourceManager.GetString("Assessment.ProgressTrackerSetup.GradeSlab")</th>*@
                        <th class="th-sm">@ResourceManager.GetString("Assessment.ProgressTrackerSetup.ShowCodeAsHeader")</th>
                        <th class="th-sm">@ResourceManager.GetString("Assessment.ProgressTrackerSetup.ShowAsDropDown")</th>
                        <th class="th-sm">@ResourceManager.GetString("Shared.Labels.Actions")</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div id="divAddEditProgressSetUp" class="d-none">
        </div>
    </div>


</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
    @Html.Partial("_ValidationJSPartial")
}
@section scripts
{
    <script language="javascript">

    </script>

    <script src="@Url.Content("~/Content/js/custom/Assessment/ProgressSetup.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
