﻿@*@model IEnumerable<Phoenix.VLE.Web.Models.AssessmentConfigList>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    var panelTitle = ResourceManager.GetString("Course.Standard.StandardTitle");
    ViewData["Title"] = panelTitle;
    var rnd = DateTime.Now.Ticks.ToString();
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-configuration.svg");
}
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}

<table id="tbl-AssessmentConfig" class="table table-bordered table-hover table-responsive-md" cellspacing="0" width="100%" border="1">
    <thead>
        <tr>
            <td><strong>@ResourceManager.GetString("Course.AssessmentConfig.TemPlateName")</strong></td>
            <td><strong>@ResourceManager.GetString("Course.AssessmentConfig.Description")</strong></td>
            <td><strong>@ResourceManager.GetString("Course.AssessmentConfig.ShortCode")</strong></td>

            <td><strong>@ResourceManager.GetString("Course.AssessmentConfig.ColorCode")</strong></td>
            <td><strong>@ResourceManager.GetString("Course.AssessmentConfig.Value")</strong></td>
            <td><strong>@ResourceManager.GetString("Course.AssessmentConfig.Order")</strong></td>
            <td><strong>Edit</strong></td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="page-break-inside:avoid;">

                <td>@item.TemPlateName</td>
                <td>@item.ShortCode</td>
                <td>@item.Description</td>
                <td><input type="text" value="" class="form-control rounded-circle z-depth-0" style="background-color:@item.ColorCode;width:50px;" disabled=""></td>

                <td>@item.Value</td>
                <td>@item.GTD_Order</td>
                <td>
                    <a class="mr-1" onclick="Config.EditConfig(@item.Id)" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                  
                </td>
            </tr>
        }
    </tbody>

</table>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
<style>
    .dataTables_filter {
        display: none;
    }
</style>
@section scripts
{

    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/AssessmentConfig/AssessmentConfig.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        Config.ConfigArray =@Html.Raw(Json.Encode(Model));
        $('#tbl-AssessmentConfig').DataTable({
              "pageLength": 5,
                "ordering": false
            });
    </script>

}*@

