﻿@using Phoenix.Common.Localization


<div class="row position-relative">
    <div class="col-md-11">
        <!-- tab panels start -->
        <div class="tabPanels">
            <ul class="nav nav-tabs defaultTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link text-semibold active" data-toggle="tab" href="#create-survey" role="tab" aria-selected="true">
                        Create Survey
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-semibold" data-toggle="tab" href="#create-question" role="tab">
                        Create Question
                    </a>
                </li>
            </ul>
            <div class="tab-content p-2 p-sm-4">
                <div class="tab-pane fade show active" id="create-survey" role="tabpanel">
                    <div class="card">
                        <div class="card-body">
                            <form action="#" class="column-padding mt-4">
                                <div class="row">
                                    <div class="col-sm-12 col-12">
                                        <div class="md-form md-outline">
                                            <input type="text" id="fname" class="form-control">
                                            <label for="fname">Enter your title</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="md-form md-outline">
                                            <select class="selectpicker">
                                                <option selected>Select a category</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                            <label class="active select-label">Select a category</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <div class="md-form md-outline date-time-picker">
                                            <input type="text" placeholder="Due Date" class="form-control date-picker">
                                            <label>Expiry Date</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-12">
                                        <div class="md-form md-outline date-time-picker">
                                            <input placeholder="Select Time" type='text' class="form-control time-picker" />
                                            <label>Time</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <div class="md-form md-outline">
                                            <textarea id="txtarea" class="md-textarea form-control" rows="3"></textarea>
                                            <label for="txtarea">Add discription</label>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="card-title w-100 px-0">Add logo</h3>
                                <div class="row">
                                    <div class="col-sm-12 col-12">
                                        <button class="upload-btn mt-1 mb-3" data-toggle="modal" data-target="#logoupload">
                                            <img src="./img/svg/ic-add-answer.svg" alt="add-icon">
                                        </button>
                                    </div>
                                    <div class="col-sm-12 col-12">
                                        <button type="button" class="btn btn-deep-purple waves-effect waves-light mb-3 btn-sm">Continue</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="button-wrap justify-content-between d-flex flex-sm-row flex-column">
                        <div class="d-inline-flex flex-column flex-sm-row">
                            <button type="button" class="btn btn-outline-deep-purple waves-effect waves-light mb-2 mb-sm-0">Save</button>
                            <button type="button" class="btn btn-outline-deep-purple waves-effect waves-light mb-2 mb-sm-0">Cancel</button>
                        </div>
                        <div class="d-inline-flex flex-column flex-sm-row">
                            <button type="button" class="btn btn-outline-deep-purple waves-effect waves-light mb-2 mb-sm-0">Preview</button>
                            <button type="button" class="btn btn-deep-purple waves-effect waves-light mb-2 mb-sm-0 mr-0">Publish</button>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="create-question" role="tabpanel">
                    <section class="question-section">
                        <div class="card mb-0 section-no-wrapper rounded">
                            <div class="card-body">
                                <div class="section-no d-flex justify-content-between align-items-center">
                                    <h6 class="mb-0 p-3 text-white rounded-left position-relative">Section 1 of 1</h6>
                                    <div class="dropdown dropright show p-2 mr-3">
                                        <button type="button" class="btn btn-transparent rounded-circle p-0 m-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <ul class="px-3">
                                                <li class="py-1 px-0 border-bottom dropdown-item"><a href="#" class="text-capitalize px-0">duplicate section</a></li>
                                                <li class="py-1 px-0 border-bottom dropdown-item"><a href="#" class="text-capitalize px-0">move section</a></li>
                                                <li class="py-1 px-0 border-bottom dropdown-item"><a href="#" class="text-capitalize px-0">delete section</a></li>
                                                <li class="py-1 px-0 dropdown-item"><a href="#" class="text-capitalize px-0">merge with above</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-2 section-heading">
                            <div class="card-body p-4">
                                <h2 class="card-title px-0 text-semibold pt-0">The Leading Employee</h2>
                                <h6 class="card-subtitle text-medium">Satisfaction Survey</h6>
                            </div>
                        </div>
                        <div class="card mb-2">
                            <div class="card-body p-4">
                                <h6 class="card-subtitle text-semibold">Satisfaction Survey</h6>
                            </div>
                        </div>
                        <div class="card mb-2">
                            <div class="card-body p-4">
                                <h6 class="card-subtitle text-semibold">Satisfaction Survey</h6>
                            </div>
                        </div>
                        <div class="card mb-2">
                            <div class="card-body p-4">
                                <h6 class="card-subtitle text-semibold">Satisfaction Survey</h6>
                            </div>
                        </div>
                        <div class="card mb-2 question-card option-card">
                            <div class="card-body">
                                <form action="#" class="column-padding py-3">
                                    <div class="row mb-3">
                                        <div class="col-lg-7 col-md-7 col-12">
                                            <div class="md-form md-outline">
                                                <input type="text" id="fname" class="form-control">
                                                <label for="fname">Question</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-1">

                                        </div>
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div class="md-form md-outline">
                                                <select class="selectpicker">
                                                    <option selected>Multiple chose</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                    <option value="1">One</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-4 align-items-center">
                                        <div class="col-12 d-flex align-items-center">
                                            <div class="custom-control custom-radio assignment-type mr-2">
                                                <input type="radio" class="custom-control-input" id="radio3" name="submissionType" checked>
                                                <label class="custom-control-label" for="radio3"></label>
                                            </div>
                                            <div class="md-form md-outline mb-0 w-75 mx-2">
                                                <input type="text" class="form-control validate" placeholder="Option 1">
                                            </div>
                                            <button class="bg-transparent border-0 option-cancel ml-2">
                                                <img src="./img/svg/ic-cancel.svg" class="svg">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row mb-4 align-items-center">
                                        <div class="col-12 d-flex align-items-center">
                                            <div class="custom-control custom-radio assignment-type mr-2">
                                                <input type="radio" class="custom-control-input" id="radio2" name="submissionType" checked>
                                                <label class="custom-control-label" for="radio2"></label>
                                            </div>
                                            <div class="md-outline md-form mb-0 w-75 mx-2">
                                                <input type="text" id="option2" class="form-control validate" placeholder="Option 2">
                                            </div>
                                            <button class="bg-transparent border-0 option-cancel ml-2">
                                                <img src="./img/svg/ic-cancel.svg" class="svg">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row mb-3 align-items-center">
                                        <div class="col-12 d-flex align-items-center">
                                            <div class="custom-control custom-radio assignment-type mr-2">
                                                <input type="radio" class="custom-control-input" id="radio1" name="submissionType" checked>
                                                <label class="custom-control-label" for="radio1"></label>
                                            </div>
                                            <div class="md-form md-outline mb-0 w-75 mx-2">
                                                <input type="text" id="option7" class="form-control validate mb-0" placeholder="Option 3">
                                            </div>
                                            <button class="bg-transparent border-0 option-cancel ml-2">
                                                <img src="./img/svg/ic-cancel.svg" class="svg">
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 border-bottom">
                                            <a href="#" class="add-option-btn py-2 px-3 d-inline-block mb-2"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Add option or add "other"</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 d-flex align-items-center justify-content-end mt-3 question-actions">
                                            <div class="d-flex align-items-center border-right">
                                                <a class="copy-link mx-3">
                                                    <img src="./img/svg/copy.svg">
                                                </a>
                                                <a class="delete-link mr-3">
                                                    <img src="./img/svg/delete.svg">
                                                </a>
                                            </div>
                                            <div class="d-flex pl-3">
                                                <span class="text-medium switch-text active">Mandatory</span>
                                                <div class="custom-switch purple-switch ml-2">
                                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
                                                    <label class="custom-control-label" for="customSwitch1"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card mb-2 question-card rating-card">
                            <div class="card-body">
                                <form action="#" class="column-padding py-3">
                                    <div class="row mb-3">
                                        <div class="col-lg-7 col-md-7 col-12">
                                            <div class="md-form md-outline">
                                                <input type="text" id="fname" class="form-control">
                                                <label for="fname">Question</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-1">

                                        </div>
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div class="md-form md-outline">
                                                <select class="selectpicker">
                                                    <option selected>Rating</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                    <option value="1">One</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-5 d-flex align-items-center">
                                            <p class="p-2 mb-3 bg-light text-dark w-100 rounded">Icon</p>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-5">
                                            <p class="p-2 mb-3 bg-light text-dark w-100 rounded">Label</p>
                                        </div>
                                    </div>
                                    <div class="row mb-4 align-items-center">
                                        <div class="col-lg-5 col-md-5 col-5 d-flex align-items-center">
                                            <div class="btn-group dropdown w-100">
                                                <button type="button" class="btn btn-transparent dropdown-toggle border d-flex justify-content-between" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                    <a class="dropdown-item" href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                    <a class="dropdown-item" href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                    <a class="dropdown-item" href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-5">
                                            <div class="md-form md-outline mb-0">
                                                <input type="text" class="form-control validate" placeholder="One">
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-1 d-flex justify-content-start">
                                            <button class="bg-transparent border-0 option-cancel">
                                                <img src="./img/svg/ic-cancel.svg" class="svg">
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 border-bottom">
                                            <a href="#" class="add-option-btn py-2 px-3 d-inline-block mb-2"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Add more</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 d-flex align-items-center justify-content-end mt-3 question-actions">
                                            <div class="d-flex align-items-center border-right">
                                                <a class="copy-link mx-3">
                                                    <img src="./img/svg/copy.svg">
                                                </a>
                                                <a class="delete-link mr-3">
                                                    <img src="./img/svg/delete.svg">
                                                </a>
                                            </div>
                                            <div class="d-flex pl-3">
                                                <span class="text-medium switch-text active">Mandatory</span>
                                                <div class="custom-switch purple-switch ml-2">
                                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
                                                    <label class="custom-control-label" for="customSwitch1"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card question-card section-card">
                            <div class="card-body p-4">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="md-form md-outline">
                                            <input type="text" id="fname" class="form-control">
                                            <label for="fname">Section Title</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-12">
                                        <div class="md-form md-outline">
                                            <textarea id="txtarea" class="md-textarea form-control" rows="5"></textarea>
                                            <label for="txtarea">Add discription</label>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex align-items-center justify-content-end question-actions border-top pt-3">
                                        <div class="d-flex align-items-center">
                                            <a class="copy-link mx-3">
                                                <img src="./img/svg/copy.svg">
                                            </a>
                                            <a class="delete-link mr-3">
                                                <img src="./img/svg/delete.svg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!------------------add button------------------------>
                    <div class="position-fixed add-btn-grp d-flex flex-column bg-white rounded shadow p-2">
                        <button type="button" class="btn btn-transparent add-section p-2"><i class="fas fa-table"></i></button>
                        <div class="btn-group dropup add-task p-1">
                            <button type="button" class="btn btn-primary drop-up-btn section-btn px-1 py-2 shadow-none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" data-title="Task" data-placement="left">
                                <i class="fas fa-plus"></i>
                            </button>
                            <div class="dropdown-menu">
                                <ul class="px-3">
                                    <li class="py-1 px-0 border-bottom dropdown-item"><a href="#" class="text-capitalize px-0 d-flex justify-content-between align-items-center">single selection <img src="img/ABC.png" class="ml-2"></a></li>
                                    <li class="py-1 px-0 border-bottom dropdown-item"><a href="#" class="text-capitalize px-0 d-flex justify-content-between align-items-center">multiple selection <img src="img/ABC.png" class="ml-2"></a></li>
                                    <li class="py-1 px-0 border-bottom dropdown-item"><a href="#" class="text-capitalize px-0 d-flex justify-content-between align-items-center">dropdown <img src="img/ABC.png" class="ml-2"></a></li>
                                    <li class="py-1 px-0 border-bottom dropdown-item"><a href="#" class="text-capitalize px-0 d-flex justify-content-between align-items-center">emojis <img src="img/ABC.png" class="ml-2"></a></li>
                                    <li class="py-1 px-0 border-bottom dropdown-item"><a href="#" class="text-capitalize px-0 d-flex justify-content-between align-items-center">rating <img src="img/ABC.png" class="ml-2"></a></li>
                                    <li class="py-1 px-0 border-bottom dropdown-item"><a href="#" class="text-capitalize px-0 d-flex justify-content-between align-items-center">thumbs <img src="img/ABC.png" class="ml-2"></a></li>
                                    <li class="py-1 px-0 border-bottom dropdown-item"><a href="#" class="text-capitalize px-0 d-flex justify-content-between align-items-center">slider <img src="img/ABC.png" class="ml-2"></a></li>
                                    <li class="py-1 px-0 border-bottom dropdown-item"><a href="#" class="text-capitalize px-0 d-flex justify-content-between align-items-center">textbox <img src="img/ABC.png" class="ml-2"></a></li>
                                    <li class="py-1 px-0 border-bottom dropdown-item"><a href="#" class="text-capitalize px-0 d-flex justify-content-between align-items-center">comment box <img src="img/ABC.png" class="ml-2"></a></li>
                                    <li class="py-1 px-0 dropdown-item"><a href="#" class="text-capitalize px-0 d-flex justify-content-between align-items-center">Number <img src="img/ABC.png" class="ml-2"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tab panels end -->
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
}

@section Scripts{
    <script>
        translatedResources.viewFormula = '@ResourceManager.GetString("Gradebook.GradebookForm.ViewFormula")';
    </script> 
}


