﻿@model Phoenix.VLE.Web.Models.GradebookFormulaEdit
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Localization
@{
    var numbers = new Dictionary<string, string>();
    for (int i = 0; i <= 9; i++)
    {
        var iStr = i.ToString();
        numbers.Add(iStr, iStr);
    }
    numbers.Add("Clear", "C");
    numbers.Add("Delete", "D");
    numbers.Add(",", ",");
    var arithemic = new Dictionary<string, string>();
    arithemic.Add("+", "+");
    arithemic.Add("-", "-");
    arithemic.Add("*", "*");
    arithemic.Add("/", "/");
    arithemic.Add("MOD", "MOD");
    arithemic.Add("^", "^");
    arithemic.Add("SQRT", "SQRT");
    arithemic.Add("PI", "PI");
    arithemic.Add("E", "E");
    var functions = new Dictionary<string, string>();
    functions.Add("MAX", "MAX");
    functions.Add("MIN", "MIN");
    functions.Add("SUM", "SUM");
    functions.Add("AVG", "AVERAGE");
    functions.Add("MODE", "MODE");
    var operators = new Dictionary<string, string>();
    operators.Add("<", "<");
    operators.Add(">", ">");
    operators.Add(">=", ">=");
    operators.Add("<=", "<=");
    //operators.Add("<>", "<>");
    operators.Add("(", "(");
    operators.Add(")", ")");
    var placeHolder = Model.Buttons ?? new Dictionary<string, string>();
    var formulaStr = Model.Formula;
    if (!string.IsNullOrEmpty(formulaStr))
    {
        formulaStr = Model.Formula;
        placeHolder.ToList().ForEach(x => formulaStr = formulaStr.Replace(x.Value, "5").Replace(" ", ""));
    }
}
@using (Ajax.BeginForm("SaveFormula", "GradeBookSetup", new AjaxOptions
{
    OnFailure = "formulaForm.onFail",
    OnSuccess = "formulaForm.onSuccess",
    OnBegin = "formulaForm.validateFormula"
},
new
{
    @area = "GradeBook",
    id = "frmAddEditFormula",
    enctype = "multipart/form-data",
    @class = "field-form"
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.FormulaId)
    @Html.HiddenFor(x => x.Assessments)
    @Html.Hidden("formulaPlaceHolder", string.Empty, new { @data_formula = formulaStr })
    <div class="modal-body px-4 py-0">
        <div class="row mb-4">
            <div class="col-12 md-outline">
                @Html.LocalizedLabel("text-semibold", "Gradebook.Formula.Formula")
                @Html.TextBoxFor(x => x.Formula, new { @class = "form-control", @id = "formulaText" })
                @Html.ValidationMessageFor(x => x.Formula)
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 md-outline">
                @Html.LocalizedLabel("text-semibold", "Gradebook.Formula.FormulaDescription")
                @Html.TextAreaFor(x => x.FormulaDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.FormulaDescription)
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-md-5 col-lg-5">
                @foreach (var formula in numbers)
                {
                    <button class="btn btn-primary text-bold" type="button" data-value="@formula.Value" data-key="@formula.Key" onclick="formulaForm.appendToTextbox(this)">
                        @Html.Raw(formula.Key)
                    </button>
                }
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                @foreach (var formula in arithemic)
                {
                    <button class="btn btn-primary text-bold" type="button" data-value="@formula.Value" data-key="@formula.Key" onclick="formulaForm.appendToTextbox(this)">
                        @Html.Raw(formula.Key)
                    </button>
                }
            </div>
            <div class="col-12 col-lg-3 col-md-3">
                @foreach (var formula in operators)
                {
                    <button class="btn btn-primary text-bold" type="button" data-value="@formula.Value" data-key="@formula.Key" onclick="formulaForm.appendToTextbox(this)">
                        @Html.Raw(formula.Key)
                    </button>
                }
            </div>
            <div class="col-12 col-lg-4 col-md-4">
                @foreach (var formula in functions)
                {
                    <button class="btn btn-primary text-bold" type="button" data-value="@formula.Value" data-key="@formula.Key" onclick="formulaForm.appendToTextbox(this)">
                        @Html.Raw(formula.Key)
                    </button>
                }
            </div>
            <div class="col-12 col-lg-8 col-md-8">
                @foreach (var formula in placeHolder)
                {
                    <button class="btn btn-primary text-bold" type="button" data-value="@formula.Value" data-key="@formula.Key" onclick="formulaForm.appendToTextbox(this, true)">
                        @Html.Raw(formula.Key)
                    </button>
                    }
                </div>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-start p-4">
            <button type="submit" class="btn btn-deep-purple mr-4">@ResourceManager.GetString("Shared.Buttons.Save")</button>
        </div>
        }
        <script>
    translatedResources.invalidFormula = '@ResourceManager.GetString("Gradebook.Formula.InvalidFormula")';
    translatedResources.formula = '@ResourceManager.GetString("Gradebook.Formula.Formula")';
    var placeHolders = @Html.Raw(Json.Encode(placeHolder.Select(x => x.Value.Replace(" ", "")).ToList()));
        </script>
