﻿@model string
@using Phoenix.Common.Enums
@using Phoenix.Common.Models
@using Phoenix.Models.Entities
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var tabs = Model.Split(',').Where(s => !string.IsNullOrEmpty(s)).ToList();
    var assignmentQuizSetup = (List<AssignmentQuizSetup>)ViewBag.AssignmentQuizSetup;
    var standardizeds = (List<StandardizedExaminationSetup>)ViewBag.Standardizeds;
    var standardizedAssessment = (List<ListItem>)ViewBag.StandardizedAssessment;
    var studentDemographic = (List<ListItem>)ViewBag.StudentDemographic;
    var internalAssessment = (List<InternalAssessment>)ViewBag.InternalAssessment;
    var progressTracker = Enum.GetValues(typeof(GradeBookProgressTracker)).Cast<GradeBookProgressTracker>().Select(x => new ListItem { ItemName = StringEnum.GetStringValue(x), ItemId = ((int)x).ToString() });
    int formIndex, checkBoxIndex;
    formIndex = checkBoxIndex = 0;
}
@if (!string.IsNullOrEmpty(Model))
{
    <div class="p-4">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            @foreach (var tab in tabs)
            {
                var isFirst = tabs.IndexOf(tab) == 0;
                var assessmentType = (GradeBookAssessmentType)(Convert.ToInt32(tab));
                var stringValue = StringEnum.GetStringValue(assessmentType);
                <li class="nav-item">
                    <a class="nav-link @Html.Raw(isFirst ? "active" : string.Empty)" id="@stringValue-tab" data-toggle="pill" href="#pills-@(tab)" role="tab" aria-controls="@stringValue" aria-selected="@(isFirst)">@stringValue</a>
                </li>
            }
        </ul>
    </div>

    <div class="tab-content" id="pills-tabContent">
        @foreach (var tab in tabs)
        {
            var isFirst = tabs.IndexOf(tab) == 0;
            var assessmentType = (GradeBookAssessmentType)(Convert.ToInt32(tab));
            var stringValue = StringEnum.GetStringValue(assessmentType);
            if (assessmentType == GradeBookAssessmentType.Assignment || assessmentType == GradeBookAssessmentType.Quiz)
            {
                var assingmentQuizObject = assignmentQuizSetup.FirstOrDefault(x => x.AssessmentTypeid == (int)assessmentType) ?? new AssignmentQuizSetup();
                assingmentQuizObject.Index = formIndex++;
                assingmentQuizObject.AssessmentTypeid = (int)assessmentType;

                <div class="tab-pane fade @Html.Raw(isFirst ? "show active" : string.Empty)" id="pills-@tab" role="tabpanel" aria-labelledby="@stringValue-tab">
                    <div class="p-4">
                        @Html.Partial("_GradebookWeightageForm", assingmentQuizObject)
                    </div>
                </div>
            }
            else if (assessmentType == GradeBookAssessmentType.InternalAssessment)
            {
                <div class="tab-pane fade @Html.Raw(isFirst ? "show active" : string.Empty)" id="pills-@tab" role="tabpanel" aria-labelledby="@stringValue-tab">
                    <div class="p-4">
                        <div id="internalAssessmentFormDiv">
                            <div id="divInternalAssessmentGridData">
                                @Html.Partial("_InternalAssessmentGridData", internalAssessment)
                            </div>
                            <div id="divInternalAssessmentForm">

                            </div>

                            <div class="mt-2">
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <section class="d-flex">
                                            <button type="button" id="btnInternalAssessmentId" class="btn btn-outline-primary btn-sm m-0 mr-2 waves-effect waves-light">
                                                <small class="text-semibold">@ResourceManager.GetString("Gradebook.GradebookForm.NewInternalAssessment")</small>
                                            </button>
                                            <button type="button" id="previewBtn" class="btn btn-outline-primary btn-sm btn-view m-0 waves-effect waves-light">
                                                <img src="~/Content/VLE/img/svg/viewapp.svg" class="svg">
                                                <small class="text-semibold">@ResourceManager.GetString("Gradebook.GradebookForm.Preview")</small>
                                            </button>
                                        </section>
                                    </div>
                                </div>
                                <table id="tableInternalAssessment" class="table table-bordered table-hover table-responsive-xl grid-table" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="th-sm">@ResourceManager.GetString("Gradebook.TeacherGradeBook.RowName")</th>
                                            <th class="th-sm">@ResourceManager.GetString("Gradebook.GradebookForm.ColumnType")</th>
                                            @* <th class="th-sm">@ResourceManager.GetString("Gradebook.GradebookForm.Weightage")</th>*@
                                            <th class="th-sm">@ResourceManager.GetString("Gradebook.GradebookForm.AllowTeacherToAddColumn")</th>
                                            <th class="th-sm">@ResourceManager.GetString("Gradebook.GradebookForm.GBActions")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (internalAssessment.Any())
                                        {
                                            foreach (var objAssessment in internalAssessment)
                                            {
                                                <tr>
                                                    <td>@objAssessment.RowName</td>
                                                    <td>@Html.Raw(objAssessment.IsCalculatedField == true ? ResourceManager.GetString("Gradebook.GradebookForm.Calculated") : ResourceManager.GetString("Gradebook.GradebookForm.DataEntry"))</td>
                                                    @*<td>@objAssessment.Weightage</td>*@
                                                    <td>@Html.Raw(objAssessment.AllowTeacherToAddColumn ? "Yes" : "No")</td>
                                                    <td>
                                                        <span>
                                                            <a class="icon-btn mr-3" href="javascript:void(0)" onclick="gradeBookForm.loadInternalAssessmentNewForm(@objAssessment.Index)">
                                                                <img src="~/Content/VLE/img/svg/tbl-edit.svg">
                                                            </a>
                                                            <a class="icon-btn" href="javascript:void(0)" onclick="gradeBookForm.DeleteInternalAssessment(@objAssessment.Index,this)">
                                                                <img src="~/Content/VLE/img/svg/tbl-delete.svg">
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (assessmentType == GradeBookAssessmentType.ExternalExamination || assessmentType == GradeBookAssessmentType.StandardizedAssessment || assessmentType == GradeBookAssessmentType.ProgressTracker|| assessmentType == GradeBookAssessmentType.StudentDemographic)
            {
                var standardObject = standardizeds.FirstOrDefault(x => x.AssessmentTypeid == (int)assessmentType);
                <div class="tab-pane fade @Html.Raw(isFirst ? "show active" : string.Empty)" id="pills-@tab" role="tabpanel" aria-labelledby="@stringValue-tab">
                    <div class="p-4">
                        <div class="row">
                            @if (assessmentType == GradeBookAssessmentType.ExternalExamination)
                            {
                                @Html.Hidden("Standardizeds[" + checkBoxIndex + "].AssessmentTypeid", (int)assessmentType)
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="md-form md-outline mb-3">
                                        @Html.DropDownList("ExternalExaminationIds", (SelectList)ViewBag.ExternalExamination, new { @id = "ddlExternalExamination", @class = "selectpicker", @data_required = "", @data_live_search = "true", @multiple = "multiple" })
                                        <label class="active select-label"> @ResourceManager.GetString("Gradebook.GradebookForm.ExternalExamination")</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="md-form md-outline mb-3">
                                        @Html.DropDownList("Standardizeds[" + checkBoxIndex + "].ExaminationSetup", (SelectList)ViewBag.ExternalSubExamination, new { @id = "ddlExternalSubExamination", @class = "selectpicker", @data_required = "", @data_live_search = "true", @multiple = "multiple" })
                                        <label class="active select-label"> @ResourceManager.GetString("Gradebook.GradebookForm.ExternalSubExamination")</label>
                                    </div>
                                </div>
                            }
                            else if (assessmentType == GradeBookAssessmentType.StandardizedAssessment)
                            {
                                foreach (var standard in standardizedAssessment)
                                {
                                    var checkBoxChecked = standardizeds.Any(x => x.AssessmentTypeid == (int)assessmentType && x.CheckBoxDetailId.ToString() == standard.ItemId);
                                    <div class="col-12 d-flex flex-wrap check-list">
                                        @Html.Hidden("Standardizeds[" + checkBoxIndex + "].AssessmentTypeid", (int)assessmentType)
                                        <span class="check-item d-inline-block">
                                            <label for="Standardizeds_@(checkBoxIndex)__CheckBoxDetailId" class="d-flex">
                                                <input type="checkbox" @(checkBoxChecked ? "checked=\"checked\"" : "") id="Standardizeds_@(checkBoxIndex)__CheckBoxDetailId" name="Standardizeds[@(checkBoxIndex)].CheckBoxDetailId" value="@standard.ItemId" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                                <span class="text-medium">@standard.ItemName</span>
                                            </label>
                                        </span>
                                    </div>
                                    checkBoxIndex++;
                                }
                            }
                            else if (assessmentType == GradeBookAssessmentType.ProgressTracker)
                            {
                                foreach (var progress in progressTracker)
                                {
                                    var checkBoxChecked = standardizeds.Any(x => x.AssessmentTypeid == (int)assessmentType && x.CheckBoxDetailId.ToString() == progress.ItemId);
                                    <div class="col-lg-3 col-6 d-flex flex-wrap check-list">
                                        @Html.Hidden("Standardizeds[" + checkBoxIndex + "].AssessmentTypeid", (int)assessmentType)
                                        <span class="check-item d-inline-block">
                                            <label for="Standardizeds_@(checkBoxIndex)__CheckBoxDetailId" class="d-flex">
                                                <input data-reqmulticheckbox="" type="checkbox" @(checkBoxChecked ? "checked=\"checked\"" : "") id="Standardizeds_@(checkBoxIndex)__CheckBoxDetailId" name="Standardizeds[@(checkBoxIndex)].CheckBoxDetailId" value="@progress.ItemId" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                                <span class="ml-2 text-medium">@progress.ItemName</span>
                                            </label>
                                        </span>
                                    </div>
                                    checkBoxIndex++;
                                }
                            }
                            else if (assessmentType == GradeBookAssessmentType.StudentDemographic)
                            {
                                foreach (var studentDemograph in studentDemographic)
                                {
                                    var checkBoxChecked = standardizeds.Any(x => x.AssessmentTypeid == (int)assessmentType && x.CheckBoxDetailId.ToString() == studentDemograph.ItemId);
                                    <div class="col-lg-3 col-6 d-flex flex-wrap check-list">
                                        @Html.Hidden("Standardizeds[" + checkBoxIndex + "].AssessmentTypeid", (int)assessmentType)
                                        <span class="check-item d-inline-block">
                                            <label for="Standardizeds_@(checkBoxIndex)__CheckBoxDetailId" class="d-flex">
                                                <input data-reqmulticheckbox="" type="checkbox" @(checkBoxChecked ? "checked=\"checked\"" : "") id="Standardizeds_@(checkBoxIndex)__CheckBoxDetailId" name="Standardizeds[@(checkBoxIndex)].CheckBoxDetailId" value="@studentDemograph.ItemId" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                                <span class="ml-2 text-medium">@studentDemograph.ItemName</span>
                                            </label>
                                        </span>
                                    </div>
                                    checkBoxIndex++;
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}
