﻿@model Phoenix.Models.Entities.InternalAssessment
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.Common.Enums
@{
    var selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rowType = Enum.GetValues(typeof(InternalAssessmentRowType))
                    .Cast<InternalAssessmentRowType>()
                    .Select(x => new SelectListItem { Text = StringEnum.GetStringValue(x), Value = ((int)x).ToString(), Selected = ((int)x) == Model.EntryType });

    var gradingTemplate = (List<SelectListItem>)ViewBag.GradingTemplate;
    gradingTemplate.ForEach(x => x.Selected = false);

    var dataEntryGradingTemplate = gradingTemplate.Select(x => x).ToList();
    if (dataEntryGradingTemplate.Any(x => x.Value == Model.DataEntryGradingTemplateId.ToString()))
    {
        dataEntryGradingTemplate.FirstOrDefault(x => x.Value == Model.DataEntryGradingTemplateId.ToString()).Selected = true;
    }

    var calculatedGradingTemplate = gradingTemplate.Select(x => x).ToList();
    if (calculatedGradingTemplate.Any(x => x.Value == Model.CalculatedGradingTemplateId.ToString()))
    {
        calculatedGradingTemplate.FirstOrDefault(x => x.Value == Model.CalculatedGradingTemplateId.ToString()).Selected = true;
    }
    var formulaData = ((IEnumerable<SelectListItem>)ViewBag.FormulaData).ToList();
    if (formulaData.Any(x => x.Value == Convert.ToString(Model.CalculatedFormulaId)))
    {
        formulaData.FirstOrDefault(x => x.Value == Convert.ToString(Model.CalculatedFormulaId)).Selected = true;
    }
    var index = Model.Index;
}
    <div class="internalAssessmentForm">
        @if(index > 0)
        {
            <hr />
        }
        @Html.Hidden("InternalAssessments[" + index + "].Index", Model.Index, new { @class = "internalassessmentIndex" })
        @Html.Hidden("InternalAssessments[" + index + "].InternalAssessmentId", Model.InternalAssessmentId)
        <div class="row mb-4">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 md-outline">
                @Html.LocalizedLabel("text-semibold", "Gradebook.TeacherGradeBook.RowName")
                @Html.TextBox("InternalAssessments[" + index + "].RowName", Model.RowName, new { @class = "form-control column-name", @placeholder = ResourceManager.GetString("Gradebook.TeacherGradeBook.EnterRowName") })
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 md-outline">
                @Html.LocalizedLabel("text-semibold", "Gradebook.GradebookForm.Weightage")
                @Html.TextBox("InternalAssessments[" + index + "].Weightage", Model.Weightage, new {@type="number",@min="0", @class = "form-control weightage-input" })
                @Html.ValidationMessage("InternalAssessments[" + index + "].Weightage")
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 md-outline">
                <label for="select-marks-type" class="text-semibold">@ResourceManager.GetString("Gradebook.GradebookForm.ColumnType")</label>
                <div class="d-flex mt-3">
                    <span id="dataentry@(index)" class="text-semibold switch-text active">@ResourceManager.GetString("Gradebook.GradebookForm.DataEntry")</span>
                    <div class="custom-switch purple-switch">
                        @Html.CheckBox("InternalAssessments[" + index + "].IsCalculatedField", Model.IsCalculatedField ?? false,
                       new
                       {
                           @class = "custom-control-input calculateField"
                       ,
                           @checked = "checked",
                           @onchange = $"$('#dataentry_{index},#calculatedFields_{index}').toggleClass('d-none');$('#dataentry{index},#calculate{index}').toggleClass('active')"
                       })
                        <label class="custom-control-label" for="InternalAssessments_@(index)__IsCalculatedField"></label>
                    </div>
                    <span id="calculate@(index)" class="text-semibold switch-text">@ResourceManager.GetString("Gradebook.GradebookForm.Calculated")</span>
                </div>
            </div>
        </div>
        <div id="dataentry_@(index)">
            <div class="row mb-4">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 md-outline fixed-width-select">
                    @Html.LocalizedLabel("text-semibold", "Gradebook.TeacherGradeBook.RowType")
                    @Html.DropDownList("InternalAssessments[" + index + "].RowType", rowType, selectText, new { @class = "selectpicker rowType", @onchange = "gradeBookForm.onRowTypeDropdownChange(this," + index + ")" })
                </div>
            </div>
            <div class="row mb-4" id="RowType_@(index)_@((int)InternalAssessmentRowType.Mark)" style="display:none">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 md-outline fixed-width-select">
                    @Html.LocalizedLabel("text-semibold", "Gradebook.TeacherGradeBook.Marks")
                    <div class="row">
                        <div class="col-6">
                            @Html.TextBox("InternalAssessments[" + index + "].FromMark", Model.FromMark, new { @class = "form-control", @type = "number", @placeholder = ResourceManager.GetString("Gradebook.TeacherGradeBook.FromMark") })
                        </div>
                        <div class="col-6">
                            @Html.TextBox("InternalAssessments[" + index + "].ToMark", Model.ToMark, new { @class = "form-control", @type = "number", @placeholder = ResourceManager.GetString("Gradebook.TeacherGradeBook.ToMark") })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4" id="RowType_@(index)_@((int)InternalAssessmentRowType.Grade)" style="display:none">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 md-outline fixed-width-select">
                    @Html.LocalizedLabel("text-semibold", "Gradebook.GradebookForm.GradingTemplateId")
                    @Html.DropDownList("InternalAssessments[" + index + "].DataEntryGradingTemplateId", dataEntryGradingTemplate, selectText, new { @class = "selectpicker" })
                    @Html.ValidationMessage("InternalAssessments[" + index + "].DataEntryGradingTemplateId")
                </div>
            </div>
            <div class="row mb-4" id="RowType_@(index)_@((int)InternalAssessmentRowType.Comment)" style="display:none">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 md-outline">
                    @Html.LocalizedLabel("text-semibold", "Gradebook.TeacherGradeBook.CommentLength")
                    @Html.TextBox("InternalAssessments[" + index + "].CommentLength", Model.CommentLength, new { @class = "form-control", @type = "number", @min = "0", @placeholder = ResourceManager.GetString("Gradebook.GradebookForm.EnterCharacterLenght") })
                </div>
            </div>
        </div>

        <div id="calculatedFields_@(index)" class="d-none">
            <div class="row mb-4">
                <div class="col-12 md-outline">
                    <label for="best-of" class="text-semibold">@ResourceManager.GetString("Gradebook.GradebookForm.ResultToConsider")</label>
                    <div class="d-flex flex-wrap check-list">
                        <span class="check-item d-inline-block">
                            <label for="ResultsToConsider@(index)@((int)GradeBookAssessmentType.Assignment)" class="d-flex">
                                @Html.CheckBox("InternalAssessments[" + index + "].ResultsToConsider[0]",
                               Model.ResultsToConsider.Any(x => (GradeBookAssessmentType)x == GradeBookAssessmentType.Assignment), new
                                    {
                                   @id = "ResultsToConsider" + index + (int)GradeBookAssessmentType.Assignment,
                                   @value = (int)GradeBookAssessmentType.Assignment,
                                        @data_toggle = "toggle",
                                        @data_on = "Show",
                                        @data_off = "Hide",
                                        @data_onstyle = "primary",
                                        @data_size = "small",
                                        @data_width = "95"
                                    })
                                <span class="text-medium"> @ResourceManager.GetString("Gradebook.GradebookForm.Assignment")</span>
                            </label>
                        </span>
                        <span class="check-item d-inline-block">
                            <label for="ResultsToConsider@(index)@((int)GradeBookAssessmentType.Quiz)" class="d-flex">
                                @Html.CheckBox("InternalAssessments[" + index + "].ResultsToConsider[1]",
                               Model.ResultsToConsider.Any(x => (GradeBookAssessmentType)x == GradeBookAssessmentType.Quiz), new
                                    {
                                   @id = "ResultsToConsider" + index + (int)GradeBookAssessmentType.Quiz,
                                   @value = (int)GradeBookAssessmentType.Quiz,
                                        @data_toggle = "toggle",
                                        @data_on = "Show",
                                        @data_off = "Hide",
                                        @data_onstyle = "primary",
                                        @data_size = "small",
                                        @data_width = "95"
                                    })
                                <span class="text-medium"> @ResourceManager.GetString("Gradebook.GradebookForm.Quiz")</span>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4 md-outline">
                    @Html.LocalizedLabel("text-semibold", "Gradebook.GradebookForm.StartDate")
                    <div class="date-time-picker md-form md-outline  date-icon">
                        @Html.TextBox("InternalAssessments[" + Model.Index + "].StartDate", Model.StartDate, "{0:dd-MMM-yyyy}", new { onkeydown = "return false", onpaste = "return false", @class = "form-control date-picker" })
                        @Html.ValidationMessage("InternalAssessments[" + Model.Index + "].StartDate")
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4 md-outline">
                    @Html.LocalizedLabel("text-semibold", "Gradebook.GradebookForm.EndDate")
                    <div class="date-time-picker md-form md-outline  date-icon">
                        @Html.TextBox("InternalAssessments[" + Model.Index + "].EndDate", Model.EndDate, "{0:dd-MMM-yyyy}", new { onkeydown = "return false", onpaste = "return false", @class = "form-control date-picker" })
                        @Html.ValidationMessage("InternalAssessments[" + Model.Index + "].EndDate")
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 md-outline fixed-width-select">
                    @Html.LocalizedLabel("text-semibold", "Gradebook.TeacherGradeBook.GradingTemplateId")
                    @Html.DropDownList("InternalAssessments[" + index + "].CalculatedGradingTemplateId", calculatedGradingTemplate, selectText, new { @class = "selectpicker" })
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 md-outline fixed-width-select">
                    @Html.LocalizedLabel("text-semibold", "Gradebook.GradebookForm.CalculatedFormulaId")
                    @Html.DropDownList("InternalAssessments[" + index + "].CalculatedFormulaId", formulaData, selectText,
                   new { @class = "selectpicker", @data_live_search = "true", @data_live_search_placeholder = "Search" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 check-item">
                <label for="InternalAssessments_@(index)__AllowTeacherToAddColumn">
                    @Html.CheckBox("InternalAssessments[" + index + "].AllowTeacherToAddColumn",
                           Model.AllowTeacherToAddColumn, new { @data_toggle = "toggle", @data_on = "Show", @data_off = "Hide", @data_onstyle = "primary", @data_size = "small", @data_width = "95" })
                    <span class="text-medium">@ResourceManager.GetString("Gradebook.GradebookForm.AllowTeacherToAddColumn")</span>
                </label>
            </div>
        </div>
    </div>
