﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@model List<Phoenix.Models.Entities.GradeAndCourse>
<div class="md-form md-outline">
    <label class="select-label filter-icon"><span></span><span></span><span></span></label>
    <select class="selectpicker" id="ddlGradeCourseFilter" data-size="7" data-style="btn-white" multiple data-selected-text-format="count" title="@ResourceManager.GetString("Gradebook.GradebookForm.FilterBy")">
        <optgroup label="@ResourceManager.GetString("Gradebook.GradebookForm.ByCourseSubject")">
            @foreach (var obj in Model.Where(x => !x.IsCourse))
            {
                <option value="@obj.Id" class="filter-grade">@obj.Description</option>
            }
        </optgroup>
        <optgroup label="@ResourceManager.GetString("Gradebook.GradebookForm.ByGrade")">
            @foreach (var obj in Model.Where(x => x.IsCourse))
            {
                <option value="@obj.Id" class="filter-course">@obj.Description</option>
            }
        </optgroup>
    </select>
</div>