﻿@model Phoenix.VLE.Web.Models.GradeBookEdit
@using Phoenix.Common.Localization
@using Phoenix.Models.Entities
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Enums;
@{
    var selectText = ResourceManager.GetString("Shared.Labels.Select");
    var version = ResourceManager.GetString("Shared.Version.Js");
}

<div class="row edit-gradebook mt-3">
    <div class="col-lg-12">
        <div class="card p-4">
            <div class="card-body dashed-border">
                @using (Ajax.BeginForm("AddEditGradeBook", "GradeBookSetup", new AjaxOptions
                {
                    OnFailure = "gradeBookForm.onFailure",
                    OnSuccess = "gradeBookForm.onSaveSuccess",
                    OnBegin = "return gradeBookForm.validateForm('frmAddEditGradeBook')"
                },
                new
                {
                    @area = "GradeBook",
                    id = "frmAddEditGradeBook",
                    enctype = "multipart/form-data",
                    @class = "field-form"
                }))
                {
                    @Html.HiddenFor(x => x.GradeBookId)
                    @Html.HiddenFor(x => x.IsCopyGradebook)
                    @Html.Hidden("OldCourse", string.Join(",", Model.CourseIds))
                    @Html.Hidden("OldGrade", string.Join(",", Model.SchoolGradeIds))
                    @Html.AntiForgeryToken();
                    <section class="p-4 dashed-borderBottom">
                        <div class="row mb-4">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="md-outline">
                                    @Html.LocalizedLabel("text-semibold", "Gradebook.GradebookForm.GradeBookName")
                                    @Html.TextBoxFor(m => m.GradeBookName, new { @class = "form-control", @data_required = "" })
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 md-outline studentTimeline">
                                @Html.LocalizedLabel("text-semibold", "Gradebook.GradebookForm.CourseIds")
                                @Html.DropDownListFor(m => m.CourseIds, (IEnumerable<SelectListItem>)ViewBag.Course, new { @class = "selectpicker", @data_required = "", @data_live_search = "true", @multiple = "multiple" })
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-lg-6 col-md-12 col-sm-12 md-outline studentTimeline">
                                @Html.LocalizedLabel("text-semibold", "Gradebook.GradebookForm.SchoolGradeIds")
                                @Html.DropDownListFor(m => m.SchoolGradeIds, (IEnumerable<SelectListItem>)ViewBag.SchoolGrades, new { @class = "selectpicker", @data_required = "", @data_live_search = "true", @multiple = "multiple" })
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 md-outline studentTimeline">
                                @Html.LocalizedLabel("text-semibold", "Gradebook.GradebookForm.AssessmentTypeIds")
                                @Html.DropDownListFor(m => m.AssessmentTypeIds, (IEnumerable<SelectListItem>)ViewBag.AssessmentType, new { @class = "selectpicker", @data_required = "", @multiple = "multiple" })
                            </div>
                        </div>
                    </section>
                    <section class="dashed-borderBottom">
                        <div id="assessmentForm">
                            @if (Model.GradeBookId > 0 || Model.IsCopyGradebook)
                            {
                                @Html.Partial("_GradebookAssessmentTypeOptionList", string.Join(",", Model.AssessmentTypeIds))
                            }
                        </div>
                    </section>
                    <section class="p-4 d-flex">
                        <button type="button" class="btn btn-custom-purple-outline" onclick="gradeBookForm.ResetForm()">
                            <small class="text-semibold">@ResourceManager.GetString("Shared.Buttons.Cancel")</small>
                        </button>
                        <button type="submit" class="btn btn-custom-purple mr-4">
                            <small class="text-semibold">@ResourceManager.GetString("Shared.Buttons.Save")</small>
                        </button>
                    </section>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade popup-purple-shade" id="previewGradebookPopup" tabindex="-1" role="dialog"
     aria-labelledby="addRowPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width:85%">
        <div class="modal-content">
            <div class="modal-header border-0 p-4">
                <h6 class="modal-title">@ResourceManager.GetString("Gradebook.GradebookForm.Preview")</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="gradebook-wrapper" id="gradeBookDiv">
                <div class="gradebook-wrapper" style="min-height: 440px;">
                    <div id="previewGradebook">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
    @Html.Partial("_CommonJsPartial")
    <script>
        translatedResources.removeFormConfiramtionMessage = '@ResourceManager.GetString("GradeBook.GradebookForm.RemoveFormConfiramtionMessage")';
        translatedResources.formula = '@ResourceManager.GetString("Gradebook.Formula.Formula")';
        translatedResources.formulaDesc = '@ResourceManager.GetString("Gradebook.Formula.FormulaDescription")';
        translatedResources.mappingWarning = '@ResourceManager.GetString("Gradebook.GradebookForm.MappingWarning")';
        translatedResources.selectedText = '@selectText';
    </script>
}

@section scripts{
    <script src="@Url.Content("~/Content/js/addons/jquery-calx-2.2.8.js?v=" + version)"></script>
    <script src="@Url.Content("~/Content/js/custom/Gradebook/GradebookForm.js?v=" + version)"></script>
    <script src="@Url.Content("~/Content/js/custom/Gradebook/TeacherGradeBook.js?v=" + version)"></script>
    <script>
        $(document).ready(function () {
            debugger
            var ExternalExaminationIds = @Html.Raw(Json.Encode(Model.ExternalExaminationIds));
            SubExternalExaminationIds = @Html.Raw(Json.Encode(Model.SubExternalExaminationIds));
            ExternalExaminationIds = ExternalExaminationIds != '' && ExternalExaminationIds != null ? ExternalExaminationIds.split(',') : "";
            SubExternalExaminationIds = SubExternalExaminationIds != '' && SubExternalExaminationIds != null ? SubExternalExaminationIds.split(',') : "";
            $('#ddlExternalExamination').val(ExternalExaminationIds);
            $('#ddlExternalSubExamination').val(SubExternalExaminationIds);
            $('#CourseIds').val(@Html.Raw(Json.Encode(Model.CourseIds)));
            $('#SchoolGradeIds').val(@Html.Raw(Json.Encode(Model.SchoolGradeIds)));
            $('#AssessmentTypeIds').val(@Html.Raw(Json.Encode(Model.AssessmentTypeIds)));
            $('.selectpicker').selectpicker('refresh');
        })
        var assignmentData = @Html.Raw(Json.Encode(Model.AssignmentQuizSetups));
        var standardData = @Html.Raw(Json.Encode(Model.Standardizeds));
        var internalAssessmentData = @Html.Raw(Json.Encode(Model.InternalAssessments))
            internalAssessmentList = @Html.Raw(Json.Encode(Model.InternalAssessments));
        internalAssessmentList.forEach((element,index) => {
            internalAssessmentList[index].CreatedOn = moment(element.CreatedOn).toDate().toDateString();
            internalAssessmentList[index].EndDate = moment(element.EndDate).toDate().toDateString();
            internalAssessmentList[index].StartDate = moment(element.StartDate).toDate().toDateString();
            internalAssessmentList[index].IsEdit = 1;
        });
        $('#tableInternalAssessment').DataTable({
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": true,
            "paging": true,
            "bSort": false,
            "pageLength": 5
        });
        $('.dataTables_paginate').addClass('pt-0');
        $('.dataTables_info').addClass('pt-0');
    </script>
    <script src="@Url.Content("~/Content/js/custom/Gradebook/FormulaForm.js?v=" + version)"></script>
}