﻿@model Phoenix.Models.Entities.DesignationViewModel
@if (Model.SelectedDesignations != null)
{
    foreach (var designations in Model.SelectedDesignations)
    {
        <div class="custom-control custom-checkbox ml-1" data-search-text="@designations.Designation">
            <input type="checkbox" class="custom-control-input" data-id='{"id":"@designations.DesignationId", "name":"@designations.Designation"}' id="@designations.DesignationId" value="@designations.DesignationId">
            <label class="custom-control-label" for="@designations.DesignationId">@designations.Designation</label>
        </div>
    }
}