﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@model Phoenix.Models.Entities.BehaviourSetup
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
<link href="~/Content/css/custom/SIMS/custom.css" rel="stylesheet" />

<form id="frmBehaviourSetup">
    <div class="column-padding row pt-3 pb-3 border-bottom drawer-header other-settings-drawer">
        <div class="col-lg-11 col-md-11 col-11">
            <h2 class="m-0">
                <span class="rounded-circle bg-other-option8 p-2 mr-2 icon-wrap text-center"><i class="fa fa-list-alt"></i></span>
                @ResourceManager.GetString("Behaviour.BehaviourSetup.Title")
            </h2>
        </div>
        <div class="col-lg-1 col-md-1 col-1 text-right">
            <a href="javascript:void(0)" class="closeRightDrawer"><i class="fas fa-times"></i></a>
        </div>
    </div>
    <div class="column-padding row">
        <div class="col-lg-12 col-md-12 col-12 ">
            <div class="">
                <div class="custom-scroll-container">
                    <!--Main Action Taken settings starts-->
                    <div class="pt-3 pb-3">
                        @Html.HiddenFor(m => m.SubCategoryID)
                        @Html.HiddenFor(m => m.IsDeletedImage)
                        @Html.HiddenFor(x => x.BehaviourCategoryXml)
                        <div class="row mb-3">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="md-form md-outline mb-0">
                                    @Html.DropDownListFor(m => m.MainCategoryID, (SelectList)ViewBag.MainCategory, selectText, new { @class = "selectpicker", @id = "ddlEditMainCategory", @data_required = "" })
                                    <label class="active select-label">@ResourceManager.GetString("Behaviour.BehaviourSetup.MainCategoryName")</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="md-form md-outline mb-0">
                                    @Html.DropDownList("EditBSGrade", (SelectList)ViewBag.GradeList, new { @class = "selectpicker", @id = "ddlM_EditBSGrade", @multiple = "multiple", @data_actions_box = "true", @data_required = "" })
                                    <label class="active select-label">@ResourceManager.GetString("Behaviour.Common.Grade")</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="md-form md-outline mb-0">
                                    @Html.LocalizedLanguageTextbox("SubCategoryName", "Behaviour.BehaviourSetup.SubCategoryName", "BehaviourCategoryXml", new { @data_required = "" })
                                    @*@Html.TextBoxFor(m => m.SubCategoryName, "", new { @class = "form-control", @data_required = "" })*@
                                    @Html.LocalizedLabel("active", "Behaviour.BehaviourSetup.SubCategoryName")
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" id="divCategoryScore">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="md-form md-outline mb-0">
                                    @Html.TextBoxFor(m => m.CategoryScore, "", new { @class = "form-control", @data_required = "", @data_integer = "", @type = "number" })
                                    <label class="select-label active" for="CategoryScore">@ResourceManager.GetString("Behaviour.BehaviourSetup.CategoryScore")</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="md-form md-outline mb-3">
                                    <input id="SubCategoryFileUpload" name="SubCategoryFileUpload" class="form-control" type="file" data-file-extension="gif|jpg|jpeg|png|bmp">
                                    @if (!string.IsNullOrEmpty(Model.CategoryImagePath))
                                    {
                                        <div id="divBehaviourSetupImage">
                                            <img src="@Model.CategoryImagePath" class="behav-icon imgSubCatPathExists">
                                            <a href="#" data-toggle="tooltip" title="Delete" class="mr-2" onclick="objBehaviourSetup.DeleteBehaviourSetupImage(this)"><i class="fa fa-trash-alt"></i></a>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--Main Action Taken settings ends-->
                </div>
            </div>
        </div>
    </div>
    <div class="column-padding drawer-footer">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-12"></div>
            <div class="col-lg-6 col-md-6 col-12">
                <button id="AddEditSubCat" class="btn btn-primary btn-block text-center  multilang-submit" type="button">@ResourceManager.GetString("Shared.Buttons.Save")</button>
            </div>
            <div class="col-lg-3 col-md-3 col-12"></div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        var EditBSGrade =@Html.Raw(Json.Encode(Model.GradeIds));
        if (EditBSGrade != '' && EditBSGrade != null) {
            $('#ddlM_EditBSGrade').selectpicker('val', EditBSGrade.split(','));
        }
    });

</script>



