﻿@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers.Extensions
@model IEnumerable<Phoenix.Models.Entities.BehaviourSetupModel>
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}

<table id="tblBehaviourSetup" class="table table-bordered table-hover table-responsive-md" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th class="pb-2 pt-2"><small><strong>@ResourceManager.GetString("SIMS.BehaviourSetup.MainCategoryName")</strong></small></th>
            <th class="pb-2 pt-2"><small><strong>@ResourceManager.GetString("SIMS.BehaviourSetup.Level")</strong></small></th>
            <th class="pb-2 pt-2"><small><strong>@ResourceManager.GetString("SIMS.BehaviourSetup.SubCategoryName")</strong></small></th>
            <th class="pb-2 pt-2"><small><strong>@ResourceManager.GetString("SIMS.BehaviourSetup.GradeDisplay")</strong></small></th>
            <th class="pb-2 pt-2"><small><strong>@ResourceManager.GetString("SIMS.BehaviourSetup.CategoryScore")</strong></small></th>
            <th class="pb-2 pt-2"><small><strong>@ResourceManager.GetString("SIMS.BehaviourSetup.Action")</strong></small></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td class="pt-2 pb-2">@item.MainCategoryName</td>
                <td class="pt-2 pb-2">@item.CategoryLevel</td>
                <td class="pt-2 pb-2">@item.SubCategoryName</td>
                <td class="pt-2 pb-2">@item.GradeDisplay</td>
                <td class="pt-2 pb-2">@item.CategoryScore</td>
                <td class="pt-2 pb-2">
                    <a href="javascript:void(0)" onclick="objBehaviourSetup.AddEditSubCategory(@item.SubCategoryID);" class="trigger-rightDrawer mr-1" data-target="BehaviourSetupDrawer" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" title="Delete" class="mr-3" onclick="objBehaviourSetup.DeleteSubCategory(@item.SubCategoryID,this);"><i class="fa fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tblBehaviourSetup').DataTable({
            "bLengthChange": false,
            //"bFilter": false,
            "bInfo": false,
            "pageLength": 20,
             "columnDefs": [
                { "width": "20%", "targets": 0 },
                { "width": "40%", "targets": 1 },
                { "width": "40%", "targets": 2 },
                { "width": "5%", "targets": 3 },
                { "width": "5%", "targets": 4 }
            ]
        });
        GlobalSubCategoryList = @Html.Raw(Json.Encode(Model));
    });
</script>
