﻿@using SMS.Web.Areas.SMS.Model.Common;
@using Phoenix.Common.Helpers.Extensions
@model SMS.Web.Areas.SMS.Model.BehaviourSetupModel
@{
    int count = 0;
}
@functions
{
    /**/

    public string SetCheckboxStatus(bool IsChecked)
    {
        if (IsChecked)
            return "checked";
        else return null;


    }
        }

<table id = "tblCategoryLevel" class="table table-bordered table-hover table-responsive-md" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="pb-2 pt-2"><small><strong></strong></small></th>
                <th class="pb-2 pt-2"><small><strong>@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.BehaviourSetup.Level")</strong></small></th>
                <th class="pb-2 pt-2"><small><strong>@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.BehaviourSetup.Score")</strong></small></th>
            </tr>
        </thead>
        <tbody>
           @foreach(var item in Model.CategoryLevelList)
        {
                <tr>
                    <td class="pt-2 pb-2">
                        <input type="hidden" name="CategoryLevelList[@count].Level_ID" value="@item.Level_ID" />
                        <input type="hidden" name="CategoryLevelList[@count].Mapping_ID" value="@item.Mapping_ID" />
                        <input type="hidden" name="CategoryLevelList[@count].Level_Description" value="@item.Level_Description" />
                        @if (item.IsChecked)
                        {<input type="checkbox" name="CategoryLevelList[@count].IsChecked"
                                value="true" checked="checked" id="CategoryLevelList[@count].IsChecked" onchange="setValue(this);" /> }
                        else
                        {
                            <input type="checkbox" name="CategoryLevelList[@count].IsChecked"
                                   id="CategoryLevelList[@count].IsChecked" onchange="setValue(this);" />
                        }

                    </td>
                    <td class="pt-2 pb-2">
                        <div class="md-form md-outline mb-0">
                            @item.Level_Description
                        </div>
                    </td>
                    <td class="pt-2 pb-2">
                        <div class="md-form md-outline mb-0">
                            @Html.TextBox("CategoryLevelList["+count+"].Level_Score", item.Level_Score, new { @id= "CategoryLevelList[" + count + "].Level_Score", @class = "form-control" })
                        </div>
                    </td>
                </tr>
               count++;
           }
        </tbody>
</table>

<script type = "text/javascript" >
        @*$(document).ready(function () {
            $('#tblCategoryLevel').DataTable({
            "bLengthChange": false,
                //"bFilter": false,
                "bInfo": false,
                "pageLength": 20,
                 "columnDefs": [
                    { "width": "20%", "targets": 0 },
                    { "width": "40%", "targets": 1 },
                    { "width": "40%", "targets": 2 }
                ]
            });
            GlobalSubCategoryList = @Html.Raw(Json.Encode(Model));
        });*@
        function setValue(obj)
    {
        if ($(obj).is (':checked')) {
                $(obj).val("true");
        }
            else {
                $(obj).val("false");
        }
    }
</script>

