﻿@model Phoenix.Models.Entities.DesignationViewModel
@using Phoenix.Models.Entities;
@using Phoenix.Common.Localization;

@using Phoenix.Common.Helpers.Extensions
@{
    ViewBag.Title = "Behaviour Setup";
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rnd = "";//DateTime.Now.Ticks.ToString();
}
<style>
    .tree {
        padding: 0px !important;
        border: 0px solid #e0e0e0 !important;
    }

    .tree-folder, .tree-file, .tree-folder-open {
        background: none !important;
        width: 0px !important;
    }

    .tree-node-selected {
        background: rgba(144, 81, 191, 0.4) !important;
    }

    .tree-node {
        padding-top: 4px !important;
    }

    .tree-checkbox0 {
        background: #dcdcdc !important;
        border-radius: 3px !important;
    }

    .tree-checkbox1, .tree-checkbox2 {
        background: #7030A0 url(../Content/img/svg/tick.svg) no-repeat center !important;
        background-size: 62% !important;
        border-radius: 3px !important;
    }
</style>
<link href="~/Content/css/custom/Users/easyuitree.css" rel="stylesheet" />
<div class="mt-2 mb-4">

    <!-- allocate student settings start -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    @*<h3 class="card-title">@ResourceManager.GetString("SIMS.ActionHierarchy.ActionHierarchyHeader")</h3>*@
                    <div class="column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-12 task-search border-bottom-0">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="search-with-bg mb-2">
                                            <span class="icon-search"></span>
                                            <input type="text" class="searchfield" placeholder="@ResourceManager.GetString("SIMS.ActionHierarchy.SearchDesignation")" onkeyup="ActionHierarchy.searchInDesignationList(this, 'DesignationList');">
                                        </div>
                                        @*<div class="search-wrapper border mb-2">
                                            <i class="fas fa-search active"></i>
                                           
                                        </div>*@
                                    </div>
                                </div>
                                <div class="group-list-report-search border column-padding rounded pt-3 pb-3 mb-3 mb-md-0">
                                    <div id="DesignationList">
                                        <ul class="vertical-link">
                                            @if (Model.Designations != null)
                                            {
                                                foreach (var item in Model.Designations)
                                                {
                                                    <li data-search-text="@item.Designation">
                                                        <a class="DesignationList" id="li_@item.DesignationId" data-id='{"id":"@item.DesignationId", "name":"@item.Designation"}'><i class="fas fa-angle-double-right"></i> @item.Designation</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12 task-search border-bottom-0">
                                <div class="search-with-bg mb-2">
                                    <span class="icon-search"></span>
                                    <input type="text" class="searchfield" placeholder="@ResourceManager.GetString("SIMS.ActionHierarchy.SearchDesignation")" onkeyup="ActionHierarchy.searchInDesignationList(this, 'SelectedDesignationList');">
                                </div>
                                @*<div class="search-wrapper border mb-2">
                                    <i class="fas fa-search active"></i>
                                    <input type="text" class="search-field" placeholder="@ResourceManager.GetString("SIMS.ActionHierarchy.SearchDesignation")" onkeyup="ActionHierarchy.searchInDesignationList(this, 'SelectedDesignationList');">
                                </div>*@
                                <div class="student-allocation-wrapper border rounded column-padding pt-3 pb-3  mb-3 mb-md-0">
                                    <div>
                                        <div>
                                            <div class="custom-checkbox custom-control ml-1" data-search-text="select all">
                                                <input type="checkbox" class="custom-control-input" value="SelectAll" id="chkSelectAllDesignationToRemove">
                                                <label class="custom-control-label" for="chkSelectAllDesignationToRemove">Select All</label>
                                            </div>
                                        </div>
                                        <div id="SelectedDesignationList">
                                            @Html.Partial("_ActionHierarchyListItem", Model)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-12">
                                <div class="d-flex flex-column h-100 justify-content-center pl-lg-4 pr-lg-4  mb-3 mb-md-0">
                                    <button type="button" class="btn btn-outline-primary m-0 mb-1 w-100" onclick="ActionHierarchy.AddDesignation();">
                                        <i class="fas fa-arrow-right"></i>
                                    </button>
                                    @*<button type="button" class="btn btn-outline-primary m-0 w-100" onclick="ActionHierarchy.RemoveDesignation();">
                                            <i class="fas fa-arrow-left"></i>
                                        </button>*@
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12 task-search border-bottom-0">

                                <div class="search-with-bg mb-2">
                                    <span class="icon-search"></span>
                                    <input type="text" class="searchfield" placeholder="@ResourceManager.GetString("SIMS.ActionHierarchy.SearchDesignation")" onkeyup="ActionHierarchy.searchInDesignationList(this, 'AllocatedDesignationSet');">
                                </div>
                                @*<div class="search-wrapper border mb-2">
                                    <i class="fas fa-search active"></i>
                                    <input type="text" class="search-field" placeholder="@ResourceManager.GetString("SIMS.ActionHierarchy.SearchDesignation")" onkeyup="ActionHierarchy.searchInDesignationList(this, 'AllocatedDesignationSet');">
                                </div>*@
                                <div class="student-allocation-wrapper border rounded pt-3 pb-3">
                                    <div>
                                        @*<div>
                    <div class="custom-checkbox custom-control ml-1" data-search-text="select all">
                        <input type="checkbox" class="custom-control-input" value="SelectAll" id="chkSelectAllDesignationToRemove">
                        <label class="custom-control-label" for="chkSelectAllDesignationToRemove">Select All</label>
                    </div>
                </div>*@
                                        <div id="AllocatedDesignationSet">
                                            @Html.Partial("_ActionHierarchyBucketList", Model.DesignationRoutes)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")

}

@section Scripts{
    <script src="@Url.Content("~/Content/js/custom/Behaviour/ActionHierarchy.js?rnd="+rnd)"></script>
    <script>
        $('#DesignationList').mCustomScrollbar({
            setHeight: "400",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true,
        });
        $('#SelectedDesignationList').parent().mCustomScrollbar({
            setHeight: "400",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true,
        });
        $('#AllocatedDesignationSet').parent().mCustomScrollbar({
            setHeight: "400",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true,
        });

    </script>

}