﻿@using SMS.Web.Areas.SMS.Model.Common;
@using Phoenix.Common.Helpers.Extensions
@{
    ViewBag.Title = "Behaviour Setup";
    string selectText = SelectSIMSListHelper.GetTerminlogyLabel("Shared.Labels.Select");
    var rnd = DateTime.Now.Ticks.ToString();
}
<div class="container-fluid mt-2 mb-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="title-with-fields">
                        <div class="title-fields mt-2">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="md-form md-outline mb-0">
                                        @Html.DropDownList("MainCategory", (SelectList)ViewBag.CategoryList, "All", new { @class = "selectpicker", @id = "ddlMainCategory" })
                                        <label class="active select-label">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.BehaviourSetup.MainCategoryName")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" onclick="objBehaviourSetup.AddEditSubCategory();" data-target="BehaviourSetupDrawer" class="trigger-rightDrawer btn btn-primary text-uppercase text-sem pr-3 pl-3 m-0">
                            <small><strong>Add</strong></small>
                        </a>
                    </div>
                    <div class="column-padding pt-3 pb-3">
                        <div id="divBehaviourSetupGrid">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- right drawer start -->
<div id="BehaviourSetupDrawer" class="right-drawer z-depth-1">
    <div class="right-drawer-container" id="divBehaviourSetupDrawer">

    </div>
</div>
<!-- right drawer end -->
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section Scripts{
    <script src="@Url.Content("~/Content/js/custom/BehaviourSetup/BehaviourSetup.js?rnd="+rnd)"></script>
}