﻿@model Phoenix.Models.Entities.CertificateScheduling
@using Phoenix.Common.Localization
@using Phoenix.Common.Enums
@using Phoenix.Common.Helpers.Extensions
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
@using (Ajax.BeginForm("CertificateSchedulingsCUD", "BehaviourSetup", new { @area = "Behaviour" }, new AjaxOptions
{
    OnSuccess = "certificateScheduling.onSuccess",
    OnBegin = "return common.IsInvalidByFormOrDivId('frmCertificateSchedular');"
}, new { @Id = "frmCertificateSchedular", @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12 ">
            <div class="custom-scroll-container">
                <div class="column-padding pt-3">
                    <div class="student-group-settings">
                        @Html.HiddenFor(x => x.CertificateSchedulingId)
                        @Html.HiddenFor(x => x.IsActive)
                        @Html.HiddenFor(x => x.CurriculumId, new { @id = "hdnCurriculumId" })
                        @Html.HiddenFor(x => x.CertificateSchedulingXml)
                        @Html.AntiForgeryToken()
                        <div class="row mb-0">
                            <div class="col-lg-12 col-md-12 col-12 p-2">
                                <div class="md-form md-outline mb-0">

                                    @Html.LocalizedLanguageTextbox("Description", "Behaviour.CertificateSchedule.Description", "CertificateSchedulingXml",new { @data_required = "" })
                                    @*@Html.TextAreaFor(x => x.Description, new { @class = "form-control", @data_required = "" })*@
                                    @Html.LocalizedLabel("active select-label", "Behaviour.CertificateSchedule.Description")
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12 p-2 pointsTxt" @Html.Raw(Model.ScheduleType == (int)Phoenix.Common.Enums.ScheduleType.Yearly ? "" : "style='display:none'")>
                                <div class="md-form md-outline mb-0 mt-0">
                                    @Html.TextBoxFor(x => x.Points, new { @class = "form-control", @data_required = "", @data_integer = "" })
                                    <label for="Points" class="active">@ResourceManager.GetString("Behaviour.CertificateSchedule.Points")</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12 p-2">
                                <div class="md-form md-outline mb-0 mt-0">
                                    @Html.DropDownListFor(x => x.CertificateTypeId, (IEnumerable<SelectListItem>)ViewBag.CertificateType, selectText, new { @class = "selectpicker", @data_live_search = "true", @data_required = "" })
                                    <label for="CertificateType" class="active">@ResourceManager.GetString("Behaviour.CertificateSchedule.CertificateType")</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12">
                                <h5 class="sub-heading mb-2">@ResourceManager.GetString("Behaviour.CertificateSchedule.Option")</h5>
                                <div class="md-outline mb-0 mt-0">
                                    @Html.Hidden("IsEmail", false)
                                    @*@Html.Hidden("IsEmailOther", false)*@
                                    <div class="custom-control custom-checkbox custom-control-inline mr-5">
                                        @Html.CheckBoxFor(x => x.IsPrint, new { @class = "custom-control-input", @id = "IsPrint" })
                                        <label class="custom-control-label" for="IsPrint">@ResourceManager.GetString("Behaviour.CertificateSchedule.Print")</label>
                                    </div>
                                    @*<div class="custom-control custom-checkbox custom-control-inline mr-5">
                                            @Html.CheckBoxFor(x => x.IsEmail, new { @class = "custom-control-input", @onclick = "$('.staffListDiv').toggle(this.checked)", @id = "IsEmail" })
                                            <label class="custom-control-label" for="IsEmail">@ResourceManager.GetString("Behaviour.CertificateSchedule.Email")</label>
                                        </div>*@
                                    <div class="custom-control custom-checkbox custom-control-inline mr-5">
                                        @Html.CheckBoxFor(x => x.IsEmailOther, new { @class = "custom-control-input", @onclick = "$('.staffListDiv').toggle(this.checked)", @id = "IsEmailOther" })
                                        <label class="custom-control-label" for="IsEmailOther">@ResourceManager.GetString("Behaviour.CertificateSchedule.EmailOthers")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12 p-2 staffListDiv mt-2 mb-2" @Html.Raw(Model.IsEmailOther ? "" : "style=\"display:none\"")>
                                <div class="md-form md-outline mb-0">
                                    @Html.DropDownListFor(x => x.EmailOtherStaffId, (SelectList)ViewBag.StaffList, new { @class = "selectpicker", @data_live_search = "true", @data_actions_box = "true", @multiple = "multiple", id = "ddlEmailOtherStaffId", @data_required = "" })
                                    <label class="active select-label" for="ddlEmailOtherStaffId">@ResourceManager.GetString("Behaviour.CertificateSchedule.EmailOthersStaff")</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12 pt-2 pb-2">
                                <h5 class="sub-heading mb-2">@ResourceManager.GetString("Behaviour.CertificateSchedule.ScheduleType")</h5>
                                <div class="md-outline mb-0 mt-0">
                                    <div class="custom-control custom-radio custom-control-inline mr-5">
                                        @Html.RadioButtonFor(x => x.ScheduleType, (int)Phoenix.Common.Enums.ScheduleType.Weekly, new { @class = "custom-control-input", @onchange = "$('.pointsTxt').toggle(!(this.checked)).find('input').val('')", @data_required = "", id = "radioWeekly" })
                                        <label class="custom-control-label" for="radioWeekly">@ResourceManager.GetString("Behaviour.CertificateSchedule.Weekly")</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline mr-5">
                                        @Html.RadioButtonFor(x => x.ScheduleType, (int)Phoenix.Common.Enums.ScheduleType.Monthly, new { @class = "custom-control-input", @onchange = "$('.pointsTxt').toggle(!(this.checked)).find('input').val('')", @data_required = "", id = "radioMonthly" })
                                        <label class="custom-control-label" for="radioMonthly">@ResourceManager.GetString("Behaviour.CertificateSchedule.Monthly")</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline mr-5">
                                        @Html.RadioButtonFor(x => x.ScheduleType, (int)Phoenix.Common.Enums.ScheduleType.Yearly, new { @class = "custom-control-input", @onchange = "$('.pointsTxt').toggle(this.checked).find('input').val('')", @data_required = "", id = "radioYearly" })
                                        <label class="custom-control-label" for="radioYearly">@ResourceManager.GetString("Behaviour.CertificateSchedule.Yearly")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            <button type="submit" class="btn btn-primary waves-effect waves-light multilang-submit">@ResourceManager.GetString("Shared.Buttons.Save")</button>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('#ddlEmailOtherStaffId').val(@Html.Raw(Json.Encode(Model.EmailOtherStaffId))).selectpicker('refresh');
        $('.staffListDiv').toggle($('#IsEmailOther').prop('checked'));
    })
    var weekly = @((int)ScheduleType.Weekly);
    var monthly = @((int)ScheduleType.Monthly);
</script>
