﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    ViewBag.Title = "Behaviour Setup";
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rnd = DateTime.Now.Ticks.ToString();
}
<style>
    .dataTables_filter {
        display: none;
    }
    .popover {
        z-index:9999;
    }
</style>


<div class="row search-row justify-content-end pb-2">
    <div class="col-12 col-lg-9 col-md-12 d-flex flex-column flex-md-row justify-content-end">
        <div class="search-with-bg w-responsive mb-3 mb-md-0">
            <span class="icon-search"></span>
            <input type="text" id="SchoolBannerSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
        </div>
        <button data-target="BehaviourSetupDrawer" onclick="objBehaviourSetup.AddEditSubCategory();" type="button" class="trigger-rightDrawer btn btn-primary m-0 rounded-6x ml-0 ml-md-3"><i class="fa fa-plus mr-2"></i>@ResourceManager.GetString("Shared.Buttons.Add")</button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card grid-list-card">
            <div class="list-wrapper">
                <div class="row mb-3 justify-content-between">
                    <div class=" md-outline col-lg-3 form-group">
                        <div class="md-form md-outline mb-0">
                            @Html.DropDownList("MainCategory", (SelectList)ViewBag.MainCategory, ResourceManager.GetString("Shared.Labels.All"),
                            new { @class = "selectpicker", @id = "ddlMainCategory", @data_live_search = "true" })

                            <label class="active select-label">@ResourceManager.GetString("Behaviour.BehaviourSetup.MainCategoryName")</label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive-lg">
                    <table class="table mw-100 dataTable no-footer" id="tbl-BehaviourSetup">
                        <thead class="thead-dark"></thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- right drawer start -->
<div id="BehaviourSetupDrawer" class="right-drawer z-depth-1">
    <div class="right-drawer-container" id="divBehaviourSetupDrawer">

    </div>
</div>
<!-- right drawer end -->
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
}

@section Scripts{
    <script>
        translatedResources.MainCategoryName = '@ResourceManager.GetString("Behaviour.BehaviourSetup.MainCategoryName")';
        translatedResources.SubCategoryName = '@ResourceManager.GetString("Behaviour.BehaviourSetup.SubCategoryName")';
        translatedResources.GradeDisplay = '@ResourceManager.GetString("Behaviour.BehaviourSetup.GradeDisplay")';
        translatedResources.CategoryScore = '@ResourceManager.GetString("Behaviour.BehaviourSetup.CategoryScore")';
        translatedResources.Action = '@ResourceManager.GetString("Behaviour.BehaviourSetup.Action")';
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    <script src="@Url.Content("~/Content/js/custom/Behaviour/BehaviourSetup.js?rnd="+rnd)"></script>


}