﻿@model List<SMS.Web.Areas.SMS.ViewModels.SubCategories>
@using SMS.Web.Areas.SMS.Model;
@using Phoenix.Common.Helpers;
@{
    var IsEdit = false;
    int SubcatId = 0;
    if (ViewBag.EditMode != null)
    {
        IsEdit = (bool)ViewBag.EditMode;
    }

    if (ViewBag.SubCategoryId != null)
    {
        SubcatId = (int)ViewBag.SubCategoryId;
    }

    #region collection of icons font awesome
    Dictionary<string, string> icons = new Dictionary<string, string>();
    icons.Add("doc,docx", "<i class=\"fas  fa-3x fa-file-word ic-file-word color-doc\"></i>");
    icons.Add("xls,xlsx", "<i class=\"fas  fa-3x fa-file-excel ic-file-excel color-excel\"></i>");
    icons.Add("ppt,pptx", "<i class=\"fas color-ppt fa-3x fa-file-powerpoint ic-file-ppt\"></i>");
    icons.Add("pdf", "<i class=\"fas fa-3x fa-file-pdf ic-file-pdf color-pdf\"></i>");
    icons.Add("zip,rar", "<i class=\"fas fa-3x fa-file-archive ic-file text-primary\"></i>");
    icons.Add("htm,html", "<i class=\"fas fa-3x fa-file-code ic-file text-primary\"></i>");
    icons.Add("txt,rtf", "<i class=\"fas fa-3x fa-file-alt ic-file color-txt\"></i>");
    icons.Add("mov,mp4,avi", "<i class=\"fas fa-3x fa-file-video ic-file color-video\"></i>");
    icons.Add("mp3", "<i class=\"fas fa-3x fa-file-audio ic-file color-audio\"></i>");
    icons.Add("jpg,jpeg,gif,png", "<i class=\"fas fa-3x fa-file-image ic-file-img color-image\"></i>");
    #endregion
}
<div id="divsubcatdetailslist">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12 text-lg-right text-right">
            <div class="task-sorting column-padding">
                <div class="toggle-library d-inline-block mt-1">
                    <a href="javascript:void(0)" id="grid"><i class="fas fa-th"></i></a>
                    <a href="javascript:void(0)" id="list"><i class="fas fa-list"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="divListGridSubCategory">
        <div class="row" id="behaveGrid">

            <input type="hidden" id="hdnsubcategoryId" value="@SubcatId" />
            <input type="hidden" id="hdnModelCount" value="@Model.Count()" />

            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    var cssScore = item.CategoryScore >= 0 ? "badge badge-outline bg-success" : "badge badge-outline bg-danger";
                    var FileExtension = Path.GetExtension(item.ImagePath).Replace(".", "");
                    var fileIcon = icons.Any(x => x.Key.ToLower().Contains(FileExtension)) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(FileExtension)).Value : "<i class=\"fas fa-3x fa-file\"></i>";
                    <div class="col-lg-6 col-md-6 col-12 text-center">
                        <div class="behav-container m-2 p-2">
                            <div class="clsbehaviourcontent" data-bid="22">
                                <div class="behav-icon-wrap">
                                    @*<img src="/Content/img/SIMS/no-image.png" class="behav-icon">*@
                                    @if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.ImagePath) || string.IsNullOrEmpty(item.ImagePath))
                                    {
                                        <img src="@(string.IsNullOrEmpty(item.ImagePath) ? "/Content/img/SIMS/no-image.png" :  PhoenixConfiguration.Instance.ReadFilePath + item.ImagePath)" class="behav-icon">
                                    }
                                    else
                                    {
                                        <img src="" class="behav-icon" style="display:none">
                                        @Html.Raw(fileIcon)
                                    }
                                </div>
                                <div data-display-name="VLayout" class="behav-title-outer">
                                    <div data-display-name="VLayoutItem" class="behav-title-wrap">
                                        <div class="behav-title" data-toggle="tooltip" title="@item.CategoryName">@(item.CategoryName.Replace(" ", String.Empty).Length > 30 ? item.CategoryName.Substring(0, 15).ToString() + "..." : item.CategoryName)</div>
                                    </div>
                                </div>
                                <div class="behav-score-wrap mr-1">
                                    <span class="@cssScore mt-2 mr-2 p-2 pl-3 pr-3 student-behave-badge cursor-pointer shadow-none">@item.CategoryScore</span>
                                </div>
                            </div>

                            @if (IsEdit)
                            {
                                if (!string.IsNullOrWhiteSpace(item.UploadedPath))
                                {
                                    <div class="behav-container-edit m-2 p-2" style="position: absolute; top: 2px; left: 12px;">
                                        <span style="right:0;bottom:0;">
                                            <a href="@string.Concat(PhoenixConfiguration.Instance.ReadFilePath  + item.UploadedPath)" download="">
                                                <i class="fa fa-download text-muted"></i>
                                            </a>
                                        </span>
                                    </div>

                                }

                                <div class="behav-container-edit m-2 p-2 clsbehaviourDelete" data-behaviourId="@item.MeritId" data-studentId="@item.StudentId" onclick="StudentBehaviour.DeleteBehaviour(this)" style="position:absolute;bottom:0;left: 12px;">
                                    <span style="left:0;bottom:0;"><i class="fa fa-trash text-muted"></i></span>
                                </div>
                                <div class="behav-container-edit m-2 p-2 clsbehaviourEdit" data-meritId="@item.MeritId" data-StudentId="@item.StudentId" data-edit="1" onclick="StudentBehaviour.TriggerDrawer(this)" style="position:absolute;bottom:0;right: 12px;">
                                    <span style="right:0;bottom:0;"><i class="fa fa-pen text-muted"></i></span>
                                </div>
                            }
                            else
                            {
                                <div class="custom-control custom-checkbox text-right">
                                    @if (item.CategoryId == SubcatId)
                                    {
                                        <input type="checkbox" class="custom-control-input chkLst chkLst_@(item.CategoryId+""+item.LevelMapping_ID)" checked="checked" id="chkLst_@item.CategoryId@item.LevelMapping_ID" onclick="StudentBehaviour.ListOfSubCategorieslstId(@item.CategoryId, @item.LevelMapping_ID, this)" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="custom-control-input chkLst chkLst_@(item.CategoryId+""+item.LevelMapping_ID)" id="chkLst_@item.CategoryId@item.LevelMapping_ID" onclick="StudentBehaviour.ListOfSubCategorieslstId(@item.CategoryId, @item.LevelMapping_ID, this)" />

                                    }
                                    <label class="custom-control-label" for="chkLst_@item.CategoryId@item.LevelMapping_ID"></label>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-lg-12 col-md-12 col-12 text-center">
                    No records found
                </div>
            }
        </div>

        <div class="row" id="behaveList">
            <div class="col-lg-12 col-md-12 col-12 mb-5">
                <ul>
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            var cssScore = item.CategoryScore >= 0 ? "badge badge-outline bg-success" : "badge badge-outline bg-danger";
                            var FileExtension = Path.GetExtension(item.ImagePath).Replace(".", "");
                            var fileIcon = icons.Any(x => x.Key.ToLower().Contains(FileExtension)) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(FileExtension)).Value : "<i class=\"fas fa-3x fa-file\"></i>";
                            <li class="behav-list pl-1 pr-1 m-1 border-bottom">
                                <div class="row">
                                    @if (!IsEdit)
                                    {
                                        <div class="col-lg-1 col-md-1 col-1 m-auto">
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                @if (item.CategoryId == SubcatId)
                                                {
                                                    <input type="checkbox" class="custom-control-input chkLst chkLst_@(item.CategoryId+""+item.LevelMapping_ID)" checked="checked" id="chkLst_@item.CategoryId@item.LevelMapping_ID" onclick="StudentBehaviour.ListOfSubCategorieslstId(@item.CategoryId,@item.LevelMapping_ID,this)" />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="custom-control-input chkLst chkLst_@(item.CategoryId+""+item.LevelMapping_ID)" id="chkLst_@item.CategoryId@item.LevelMapping_ID" onclick="StudentBehaviour.ListOfSubCategorieslstId(@item.CategoryId,@item.LevelMapping_ID,this)" />
                                                }
                                                <label class="custom-control-label" for="chkLst_@item.CategoryId@item.LevelMapping_ID"></label>
                                            </div>
                                        </div>
                                    }

                                    <div class="col-lg-2 col-md-2 col-2 m-auto">
                                        @if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.ImagePath) || string.IsNullOrEmpty(item.ImagePath))
                                        {
                                            <img src="@(string.IsNullOrEmpty(item.ImagePath) ? "/Content/img/SIMS/no-image.png" : PhoenixConfiguration.Instance.ReadFilePath + item.ImagePath)" class="behav-icon mCS_img_loaded">
                                        }
                                        else
                                        {
                                            <img src="@(PhoenixConfiguration.Instance.ReadFilePath + item.ImagePath)" class="behav-icon mCS_img_loaded" style="display:none">
                                            @Html.Raw(fileIcon)
                                        }
                                        <span class="@cssScore bahave-count arabictxt">@item.CategoryScore</span>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-8 m-auto">
                                        <span>@item.CategoryName</span>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-1 m-auto text-center">
                                        @if (IsEdit)
                                        {
                                            <div class="quick-nav dropleft d-inline-block">
                                                <a class="assignment-icon-group" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i><span class="sr-only">Toggle Dropdown</span>
                                                </a>
                                                <div class="dropdown-menu z-depth-1">
                                                    <a class="dropdown-item clsbehaviourEdit" href="javascript:void(0);" data-meritId="@item.MeritId" data-StudentId="@item.StudentId" data-edit="1" onclick="StudentBehaviour.TriggerDrawer(this)"><i class="fa fa-pen text-muted pr-2"></i> Edit</a>
                                                    <a class="dropdown-item clsbehaviourDelete" href="javascript:void(0);" data-behaviourId="@item.MeritId" data-studentId="@item.StudentId" onclick="StudentBehaviour.DeleteBehaviour(this)"><i class="fa fa-trash text-muted pr-2"></i> Delete</a>
                                                    @if (!string.IsNullOrWhiteSpace(item.UploadedPath))
                                                    {
                                                        <a class="dropdown-item" href="@(PhoenixConfiguration.Instance.ReadFilePath + item.UploadedPath)" download=""><i class="fa fa-download text-muted pr-2"></i> Download</a>
                                                    }
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        if ($('#hdnModelCount').val() > 0) {
            $('#btnaddeditMeritDemrit').removeClass('d-none');
        }
        else {
            $('#btnaddeditMeritDemrit').addClass('d-none');
        }

        $("body").on("click", "#grid", function () {
            $("#behaveGrid").show();
            $("#behaveList").hide();
            StudentBehaviour.ShowGridView();
        });
        $("body").on("click", "#list", function () {
            $("#behaveGrid").hide();
            $("#behaveList").show();
            StudentBehaviour.ShowListView();
        });

        $("#list").trigger('click');
    });
</script>


