﻿@model IEnumerable<Phoenix.Models.Entities.StudentPointCategory>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Models.Entities
@using Phoenix.Common.Helpers.Extensions
@{
    var userTypeId = SessionHelper.CurrentSession.UserTypeId;
    var isNotification = Convert.ToBoolean(ViewData["IsNotification"]);    
}

<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 student-card-grid">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            var sid = EncryptDecryptHelper.EncryptUrl($"{item.CertificateScheduleId},{DateTime.Now.ToString("dd-MMM-yyyy")},{item.StudentID}");
            <div class="col mb-3 px-2 search-item clsstudetailsblock">
                <div class="card student-card d-flex flex-center my-0" data-sid="@sid" data-student='@Html.Raw(Json.Encode(item))'>
                    <div class="w-100">
                        <span class="float-left text-left w-50">
                            <span class="badge badge-primary badge-pill arabictxt"> @item.StudentPoints</span>
                        </span>
                        <span class="float-right text-right w-50">
                            @if (item.IsPrint)
                            {<a href="javascript:void(0)" data-toggle="tooltip" data-original-title="@ResourceManager.GetString("Behaviour.CertificateSchedule.PrintCertificate")" onclick="studentCertificateProcess.printCertificate(this)" class="mr-1"><img src="/Content/vle/img/svg/ic-printer.svg" /></a>}
                            @if (item.IsEmail)
                            {
                                <a href="javascript:void(0)"
                                   data-toggle="tooltip"
                                   data-original-title="@(item.Certificates.Any(x => x.ActionType == CertificateStudentAction.Email) ? @ResourceManager.GetString("Behaviour.CertificateSchedule.EmailedCertificate") : ResourceManager.GetString("Behaviour.CertificateSchedule.EmailCertificate"))"
                                   onclick="studentCertificateProcess.emailCertificate(this)"
                                   class=" @(item.Certificates.Any(x => x.ActionType == CertificateStudentAction.Email) ? "success-ic": "danger-ic") mr-1">
                                    <i class="far fa-envelope"></i>
                                </a>
                            }
                            @if (item.IsEmailOther)
                            {<a href="javascript:void(0)" data-toggle="tooltip"
                                data-original-title="@(item.Certificates.Any(x => x.ActionType == CertificateStudentAction.EmailOther) ? @ResourceManager.GetString("Behaviour.CertificateSchedule.EmailedCertificate") : ResourceManager.GetString("Behaviour.CertificateSchedule.EmailOtherteacher"))"
                                onclick="studentCertificateProcess.emailCertificateOther(this)"
                                class=" @(item.Certificates.Any(x => x.ActionType == CertificateStudentAction.EmailOther) ? "success-ic": "danger-ic") mr-1">
                                    <i class="fas fa-mail-bulk"></i>
                                </a>
                            }
                        </span>
                    </div>
                    <a href="javascript:void(0)" id="h3StuDetails" class="certificateStudentCheck" data-stuId="@item.StudentID">
                        <div class="card-body d-flex justify-content-center align-items-center flex-column">
                            <img class="rounded-circle student-img mb-2" src="@string.Concat( Phoenix.VLE.Web.Constants.StudentImagesPath,item.StudentImageurl)" alt="@item.StudentName">
                            <div class="student-info clsstudetails">
                                <p class="student-name text-semibold" data-toggle="tooltip" title="@item.StudentName">@(item.StudentName.Length > 36 ? $"{item.StudentName.Substring(0, 36)}..." : item.StudentName)</p>
                                <p class="student-id arabictxt">@item.StudentNo</p>
                                <p class="mb-0 text-center">@(item.StudentGrade + "-" + item.StudentSection)</p>
                            </div>
                        </div>
                    </a>
                    <div class="custom-checkbox custom-control mr-2 text-right w-100 ">
                        <input type="checkbox" @(isNotification ? "checked=checked" : string.Empty) class="custom-control-input certificateStudentCheck" data-certificateid="@item.CertificateId" data-sdid="@item.StudentID" id="CheckBox-@(item.CertificateScheduleId)@(item.StudentID)" />
                        <label class="custom-control-label" for="CheckBox-@(item.CertificateScheduleId)@(item.StudentID)"></label>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <span class="no-data-found text-bold d-block mx-auto my-auto">
            @ResourceManager.GetString("ClassList.ClassList.NoDataToDisplay")
        </span>
    }
</div>

@*@foreach (var student in Model)
{@(isNotification ? "d-none" : string.Empty)
    <div class="col-xl-3 col-lg-3 col-md-3 col-12 px-0 text-center border mb-2 bg-white classlist-wrap clsstudetailsblock" style="max-height: 250px;">
        <div class="class-inner-wrap" onclick="window.open('@Url.Action("GetStudentDetails", "ClassList", new { stu_id = student.StudentID })')">
            @if (!student.Certificates.Any())
            {
                <span class="sub-heading badge badge-danger bg-gradient-primary" style="position: absolute;right: 10px;">New</span>
            }
            <div class="student-img rounded-circle border mt-3 mx-auto">
                <img src="@string.Concat( Phoenix.VLE.Web.Constants.StudentImagesPath,student.StudentImageurl)" alt="@student.StudentName" class="img-fluid">
            </div>
            <div class="student-meta mt-3 clsstudetails">
                <h3 class="mb-0">@student.StudentName</h3>
                <p class="mb-1">ID : @student.StudentNo</p>
                <h3 class="mb-0">@(student.StudentGrade + "-" + student.StudentSection)</h3>
            </div>
        </div>
        <div class="student-class-info d-flex justify-content-around border-top" data-student='@Html.Raw(Json.Encode(student))'>
            @if (student.IsPrint)
            {
                <span class="m-0 w-100 pt-2 pb-2 border-right cursor-pointer @Html.Raw(student.Certificates.Any(x => x.ActionType == CertificateStudentAction.Print) ? "bg-gradient-success text-white" : "text-primary")" onclick="studentCertificateProcess.printCertificate(this)" data-action="@CertificateStudentAction.Print.ToString()" data-toggle="tooltip" title="Print">
                    <i class="fas fa-print"></i>
                </span>
            }
            @if (student.IsEmail)
            {
                <span class="m-0 w-100 pt-2 pb-2 border-right cursor-pointer @Html.Raw(student.Certificates.Any(x => x.ActionType == CertificateStudentAction.Email) ? "bg-gradient-success text-white" : "text-primary")" onclick="studentCertificateProcess.emailCertificate(this)" data-action="@CertificateStudentAction.Email.ToString()" data-toggle="tooltip" title="Email">
                    <i class="fas fa-envelope-square"></i>
                </span>
            }
            @if (student.IsEmailOther)
            {
                <span class="m-0 w-100 pt-2 pb-2 border-right cursor-pointer @Html.Raw(student.Certificates.Any(x => x.ActionType == CertificateStudentAction.EmailOther) ? "bg-gradient-success text-white" : "text-primary")" onclick="studentCertificateProcess.emailCertificateOther(this)" data-action="@CertificateStudentAction.EmailOther.ToString()" data-toggle="tooltip" title="Email Others">
                    <i class="fas fa-mail-bulk"></i>
                </span>
            }
            <div class="custom-checkbox custom-control pl-5 pt-1">
                <input type="checkbox" class="custom-control-input studentCardCheckBoxes" id="CheckBox-@student.CertificateId-@student.StudentID" />
                <label class="custom-control-label" for="CheckBox-@student.CertificateId-@student.StudentID"></label>
            </div>
        </div>

    </div>
}*@
