﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@model IEnumerable<SMS.Web.Areas.SMS.Model.StudentOnReportMaster>
    <div class="table-responsive">
        <table id="StudentOnReportTable" class="table table-bordered bg-white mb-0" width="100%">
            <thead>
                <tr>
                    <th class="pb-2 pt-2">@ResourceManager.GetString("Behaviour.StudentOnReport.Desc")</th>
                    <th class="pb-2 pt-2 text-center">@ResourceManager.GetString("Behaviour.StudentOnReport.FromDate")</th>
                    <th class="pb-2 pt-2 text-center">@ResourceManager.GetString("Behaviour.StudentOnReport.ToDate")</th>
                    <th class="pb-2 pt-2 text-center">@ResourceManager.GetString("Behaviour.StudentOnReport.CreatedBy")</th>
                    <th class="pb-2 pt-2 text-center">@ResourceManager.GetString("Behaviour.StudentOnReport.Action")</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="pb-2 pt-2" style="width:10px">@item.Description</td>
                            <td class="pb-2 pt-2 text-center">@item.FromDate.ToString("dd-MMM-yyyy")</td>
                            <td class="pb-2 pt-2 text-center">@item.ToDate.ToString("dd-MMM-yyyy")</td>
                            <td class="pb-2 pt-2 text-center">@item.CreatedBy</td>
                            <td class="pb-2 pt-2 text-center">
                                <a href="Javascript:void(0);" class="mr-1" data-toggle="tooltip" onclick="ClassListObject.EditStudentOnReport(@item.Id)" title="@ResourceManager.GetString("Behaviour.StudentOnReport.Edit")">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="Javascript:void(0);" data-toggle="tooltip" onclick="ClassListObject.ViewStudentOnReportDetails(@item.Id,1)" title="@ResourceManager.GetString("Behaviour.StudentOnReport.View")">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="pb-2 pt-2 text-center">
                        <td colspan="4">@ResourceManager.GetString("Behaviour.StudentOnReport.NoDataFound")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

<script>
    ClassListObject.StudentOnReportMasterArray = @Html.Raw(Json.Encode(Model));
    //ClassListObject.StudentOnReportMasterArray.forEach(x => {
    //    x.FromDate = smsCommon.ConvertJsonEncodeDateStringToJsDate(x.FromDate);
    //    x.ToDate = smsCommon.ConvertJsonEncodeDateStringToJsDate(x.ToDate);
    //})
     $(document).ready(function () {
        $('#StudentOnReportTable').DataTable({
            "bLengthChange": false,
            "autoWidth": false,
            "bFilter": false,
            "bInfo": false,
            "pageLength": 5
        });
    });

</script>