﻿@model IEnumerable<SMS.Web.Areas.SMS.Model.StudentOnReportMaster>
@using Phoenix.Common.Localization
<div id="StudentOnReportForm">
    <div class="right-drawer-container">
        <div class="row column-padding pt-3 pb-3 border-bottom drawer-header">
            <div class="col-lg-11 col-md-11 col-11">
                <h2 class="m-0">

                    @ResourceManager.GetString("Behaviour.StudentOnReport.Title")

                </h2>
            </div>
            <div class="col-lg-1 col-md-1 col-1 text-right">
                <a href="javascript:void(0)" class="closeRightDrawer"><i class="fas fa-times"></i></a>
            </div>
        </div>
        @using (Ajax.BeginForm("SaveStudentOnReport", "Behaviour", new { area = "Behaviour" }, new AjaxOptions
        {
            OnFailure = "globalFunctions.onFailure",
            OnSuccess = "ClassListObject.OnStudentOnReportSaveSuccess"
            ,
            OnBegin = "return common.IsInvalidByFormOrDivId('studentOnReportForm')"
        }, new
        {
            id = "studentOnReportForm",
            @class = "column-padding pt-3"
        }))
        {
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 ">
                    <div class="custom-scroll-container">
                        <div class="student-group-settings">
                            <!--Main Action Taken settings starts-->
                            @Html.Hidden("Id")
                            @Html.Hidden("StudentId")
                            @Html.Hidden("GradeId")
                            @Html.Hidden("SectionId")
                            @Html.Hidden("GroupId")
                            <div class="row mb-3" id="radioButtons">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="md-outline mb-0 mt-0">
                                        <div class="custom-control custom-radio custom-control-inline mr-5">
                                            <input type="radio" value="1" class="custom-control-input" id="radioWeekly" name="WeekMonthRange" data-required="" />
                                            <label class="custom-control-label" for="radioWeekly"> @ResourceManager.GetString("Behaviour.StudentOnReport.radioWeekly")</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline mr-5">
                                            <input type="radio" value="2" class="custom-control-input" id="radioMonthly" name="WeekMonthRange" data-required="" />
                                            <label class="custom-control-label" for="radioMonthly">@ResourceManager.GetString("Behaviour.StudentOnReport.radioMonthly")</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline mr-5">
                                            <input type="radio" value="3" class="custom-control-input" id="radioRange" name="WeekMonthRange" data-required="" />
                                            <label class="custom-control-label" for="radioRange">@ResourceManager.GetString("Behaviour.StudentOnReport.radioRange")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-6 col-md-6 col-12 minSubjects">
                                    <div class="md-form md-outline date-time-picker active field-with-icon mb-0 mt-0">
                                        <i class="far fa-calendar-alt active"></i>
                                        @Html.TextBox("FromDate", string.Empty, new { @class = "date-picker form-control", @data_required = "", id = "onReportFromDate", @data_maxdateid = "onReportToDate", autocomplete = "off" })
                                        <label for="onReportFromDate" class="active select-label">@ResourceManager.GetString("Behaviour.StudentOnReport.FromDate")</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 maxSubjects mt-3 mt-md-0">
                                    <div class="md-form md-outline date-time-picker active field-with-icon mb-0 mt-0">
                                        <i class="far fa-calendar-alt active"></i>
                                        @Html.TextBox("ToDate", string.Empty, new { @class = "date-picker form-control", @data_required = "", id = "onReportToDate", @data_mindateid = "onReportFromDate", autocomplete = "off" })
                                        <label for="onReportToDate" class="active select-label">@ResourceManager.GetString("Behaviour.StudentOnReport.ToDate")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-12 col-md-12 col-12 ">
                                    <div class="md-form md-outline mb-0 mt-0">
                                        @Html.TextArea("Description", new { @class = "form-control", id = "onReportToDesc", @data_required = "", @data_alphanumeric = "", @data_maxlength = "500" })
                                        <label for="onReportToDesc" class="active">@ResourceManager.GetString("Behaviour.StudentOnReport.Desc")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="md-outline mb-0 mt-0">
                                        <div class="custom-control custom-checkbox custom-control-inline mr-5">
                                            @Html.CheckBox("IsActive", new { @class = "custom-control-input", id = "IsActive" })
                                            <label class="custom-control-label" for="IsActive">@ResourceManager.GetString("Behaviour.StudentOnReport.IsActive")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Main Action Taken settings ends-->
                        </div>

                        <div id="studentOnReportFormGrid">
                            @Html.Partial("_LoadStudentOnReportGrid", Model)
                            @*@Html.Partial("~/Areas/Behaviour/Views/Behaviour/_LoadStudentOnReportDetailsGrid.cshtml", Model)*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="drawer-footer">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12"></div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <button class="btn btn-primary btn-block text-center" type="submit">@ResourceManager.GetString("Behaviour.StudentOnReport.Save")</button>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12"></div>
                </div>
            </div>
        }
    </div>
</div>
<div id="studentOnReportDetailsFormDiv">

</div>
<script>
    $(document).ready(function () {
        $(".selectpicker").selectpicker('refresh');
        $('.date-picker').datetimepicker({
            format: 'DD-MMM-YYYY'
        });
        $("#studentOnReportFormGrid").mCustomScrollbar({
            //setHeight: "45vh",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true,
        });
    });

</script>
