﻿@model SMS.Web.Areas.SMS.ViewModels.BehaviourVM
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
<style>
        /*    @@media (max-width: 767px){
    #studentOnReportDiv {
        width: 60%!important;
    }
    }*/
</style>
<div id="divStudentListDetails">
    <div class="row student-profile-section">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card-1 bg-transparent border-0">
                <div class="card-body-1">
                    <input type="hidden" id="hdnClsCount" value="@Model.classList.Count()" />
                    <div id="products" class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 grid-wrapper">
                        @if (Model.classList.Count() > 0)
                        {
                            foreach (var item in Model.classList)
                            {
                                <!-- student details start -->
                                <div class="clsstudetails px-2 col mb-3 col-sm-6 col-12">
                                    <div class="student-wrap border bg-white mr-0 text-center position-relative">
                                        <div class="student-behave-wrap">
                                            <div class="student-behave-info d-flex justify-content-around">
                                                <span class="m-0 w-100 text-left">
                                                    <span class="badge badge-outline bg-success mt-2 ml-2 p-2 pl-3 pr-3 student-behave-badge cursor-pointer shadow-none white-text arabictxt" data-target="studentBehaviourDrawer" data-StudentId="@item.Student_ID" data-placement="right" data-point="@item.PositivePoint" data-toggle="tooltip" data-type="1" title="@ResourceManager.GetString("Behaviour.Behaviour.PositiveFeedBack")" onclick="StudentBehaviour.OnScoreClick(this)">@(item.PositivePoint > 0 ? item.PositivePoint : 0)</span>
                                                </span>
                                                <span class="mr-2 w-100 text-right">
                                                    <span class="badge badge-outline bg-danger mt-2 p-2 pl-3 pr-3 student-behave-badge cursor-pointer shadow-none white-text arabictxt" data-target="studentBehaviourDrawer" data-StudentId="@item.Student_ID" data-placement="left" data-point="@item.NegativePoint" data-toggle="tooltip" data-type="-1" title="@ResourceManager.GetString("Behaviour.Behaviour.NegetiveFeedBack")" onclick="StudentBehaviour.OnScoreClick(this)">@(item.NegativePoint < 0 ? item.NegativePoint : 0)</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="student-img rounded-circle border mt-3 mx-auto">
                                            <a href="javascript:void(0);" class="trigger-rightDrawer" onclick="StudentBehaviour.TriggerDrawer(this)" data-target="studentBehaviourDrawer" data-StudentId="@item.Student_ID" data-meritId="@item.MeritId" data-model="Behaviour Categories"> <img src="@(string.IsNullOrEmpty(item.Student_Image_url)?"/Content/VLE/img/no-avatar.jpg" :item.Student_Image_url)" alt="@item.Student_Name" class="img-fluid"></a>
                                        </div>
                                        <div class="student-meta mt-3">
                                            <h3 class="mb-0 tooltip-name hide-name" data-toggle="tooltip" title="@item.Student_Name">
                                                <a href="javascript:void(0);" data-StudentId="@item.Student_ID" data-meritId="0" class="trigger-rightDrawer" data-target="studentBehaviourDrawer" data-model="Behaviour Categories" onclick="StudentBehaviour.TriggerDrawer(this)">@item.Student_Name</a>
                                                @if (item.IsSEN)
                                                {
                                                    <a href='javascript:void(0);' class='text-primary'><i class='fas fa-book-reader'></i></a>
                                                }
                                            </h3>
                                            <p class="mb-1 arabictxt">ID : @item.Student_No</p>
                                            @*<h3 class="mb-0">@item.Student_Grade -  @item.Student_Section</h3>*@ @*need to show*@
                                        </div>
                                        <div class="student-class-info d-flex justify-content-around border-top w-100">
                                            <h3 class="m-0 w-25 pt-2 pb-2 border-right cursor-pointer" title="@Html.Raw(item.IsInReport ? @ResourceManager.GetString("Behaviour.Behaviour.StudentOnReport") :@ResourceManager.GetString("Behaviour.Behaviour.NotOnReport"))" onclick="ClassListObject.LoadStudentOnReport(@item.Student_ID)" data-placement="top" data-point="0" data-toggle="tooltip">
                                                @if (item.IsInReport)
                                                {
                                                    <i class="fa fa-binoculars pt-1 text-danger"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-binoculars pt-1 text-primary"></i>
                                                }

                                            </h3>

                                            <h3 class="m-0 w-100 pt-2 pb-2 border-right student-behave-update">
                                                <span class="arabictxt" id="spnLastUpdatedOn_@item.Student_ID"> @(item.ModifiedOn == null ? @ResourceManager.GetString("Behaviour.Behaviour.BehaviourNotUpdated") : @ResourceManager.GetString("Behaviour.Behaviour.UpdatedOn") + " " + Convert.ToDateTime(item.ModifiedOn.Value.ConvertUtcToLocalTime()).ToFormatedDate("dd-MMM-yyyy")) </span>
                                            </h3>

                                            <h3 class="m-0 w-25 pt-2 pb-2 text-center">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input clsChkStudents" id="chkstudent_@item.Student_ID" onclick="StudentBehaviour.lstofstudentIds(@item.Student_ID)" />
                                                    <label class="custom-control-label" for="chkstudent_@item.Student_ID"></label>
                                                </div>
                                            </h3>
                                        </div>
                                    </div>
                                </div>

                                <!-- student details end -->
                            }
                        }
                        else
                        {
                            <span class="no-data-found text-bold d-block mx-auto my-auto">
                                @ResourceManager.GetString("Shared.Labels.NoRecords")
                            </span>
                        }
                    </div>
                    <div id="divshowMessage" class="d-none">
                        <span class="no-data-found text-bold d-block mx-auto my-auto">
                            @ResourceManager.GetString("Shared.Labels.NoRecords")
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- right drawer start -->
<div id="studentBehaviourDrawer" class="right-drawer z-depth-1">
    <div class="right-drawer-container">
        <div class="row column-padding pt-3 pb-3 drawer-header">
            <div class="col-lg-11 col-md-11 col-11">
                <h2 class="m-0 text-semibold" id="H2drawerTitle">@ResourceManager.GetString("Behaviour.Action.AddStudentBehaviour")</h2>
            </div>
            <div class="col-lg-1 col-md-1 col-1 text-right">
                <a href="javascript:void(0)" class="closeRightDrawer" id="closeDrawer" onclick="StudentBehaviour.DrawerOnClick()"><i class="fas fa-times"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 ">
                <div class="custom-scroll-container">
                    <div id="divStudentBehaviourList">

                    </div>
                </div>
            </div>
        </div>
        <div id="divfooter" class="drawer-footer d-none px-4">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 d-flex justify-content-end">
                    <button id="closeDrawer" class="btn btn-outline-primary closeRightDrawer mb-0 mt-0" type="button" onclick="StudentBehaviour.DrawerOnClick()">@ResourceManager.GetString("Behaviour.Action.BtnCancel")</button>
                    <button id="btnaddeditMeritDemrit" class="btn btn-primary mb-0 ml-2 mt-0" type="button" onclick="StudentBehaviour.SaveStudentMeritDeMerit()">@ResourceManager.GetString("Behaviour.Action.BtnUpdate")</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- right drawer end -->
<div id="studentOnReportDiv" class="right-drawer z-depth-1">

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $(window).width(function () {
                if ($(window).width() < 1400) {
                    $(".clsstudetails").removeClass('col-xl-2 col-lg-2 col-md-2').addClass('col-xl-3 col-lg-3 col-md-3');
                }
                else {
                    $(".clsstudetails").removeClass('col-xl-3 col-lg-3 col-md-3').addClass('col-xl-2 col-lg-2 col-md-2col-xl-2');
                }
            });
        });
    });
</script>
