﻿@using Phoenix.Common.Localization
@model List<Phoenix.Models.Entities.StudentPointCategory>
@{
    string JSONFileUrl = string.IsNullOrEmpty(Convert.ToString(ViewBag.JSONFileUrl)) ? string.Empty : Convert.ToString(ViewBag.JSONFileUrl);
    string fileUrl = string.IsNullOrEmpty(Convert.ToString(ViewBag.FilePath)) ? string.Empty : Convert.ToString(ViewBag.FilePath);
    var date = Convert.ToString(ViewBag.Date);
}
@Html.AntiForgeryToken()

    <div>
        <input type="hidden" value="@date" id="ScheduleDate" />
        <input type="hidden" value="true" id="IsNotification" />
        @if (Model.Any())
        {
            <h3>@Model.FirstOrDefault().CetificateDescription</h3>
            <div id="StudentCertificateCard" class="tab-pane">
                @Html.Partial("_CertificateStudentCardPartial", Model, new ViewDataDictionary { { "IsNotification", true } })
            </div>
        }
        else
        {
            <span class="no-data-found text-bold d-block mx-auto my-auto">
                @ResourceManager.GetString("ClassList.ClassList.NoDataToDisplay")
            </span>
        }
    </div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
    <div id="pixieEditor" class="d-none">
        @Html.Partial("~/Areas/Document/Views/CertificateBuilder/_PixieEditor.cshtml")
    </div>
}

@section scripts
{
    <script>
        var baseUri = '@JSONFileUrl';
        var imagePath = '@fileUrl';
    </script>
    <script src="~/Content/js/addons/jsPDF.js"></script>
    <script src="@Url.Content("~/Content/js/custom/Behaviour/StudentCertificateProcess.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>
        $('#breadcrumbActions').html(`<button type="button" class="btn btn-sm btn-primary" id="sendEmailToAll"><i class="fas fa-paper-plane mr-3"></i>@ResourceManager.GetString("Behaviour.CertificateSchedule.SendEmailToAll")</button>`);
        studentCertificateProcess.init();
        $(document).on('click', '#sendEmailToAll', function () {

            if (studentCertificateProcess.getVisibleCheckBoxes(true).length <= 0) {
                studentCertificateProcess.checkAll();
            }

            studentCertificateProcess.emailOtherAll();
        })
    </script>
}