﻿@model Phoenix.Models.Template
@using Phoenix.Common.Localization;
@{
    ViewBag.Title = "Certificate";
    string fileUrl = Model.FilePath;
    Layout = null;
    var exportName = (string)ViewBag.StudentName;
}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,maximum-scale=1,user-scalable=0">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <!-- Bootstrap core CSS -->
        <!-- Font Awesome -->
        <link rel="stylesheet" href="@Url.Content("~/Content/css/fontAwesome.min.css")" />
        <link href="@Url.Content("~/Content/VLE/css/addons/css-var.css")" rel="stylesheet" type="text/css">
        <link href="@Url.Content("~/Content/VLE/css/addons/filetype-icons.css")" rel="stylesheet" type="text/css">
        <link href="@Url.Content("~/Content/VLE/css/addons/menu-icon.css")" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap" rel="stylesheet">

        @Styles.Render("~/Content/bootstrapcore")

        <!--switch language css -- defualt English-->
        <link href="@Url.Content("~/Content/VLE/css/bootstrap.min.css")" rel="stylesheet">

        <!-- dataTable css -->
        @Styles.Render("~/Content/datatablecss")

        @Styles.Render("~/Content/calendar")
        @Styles.Render("~/Content/main-teacher")
        <link href="~/pixie/styles.min.css?v20" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="card">
                    <div class="card-body min-height">
                        <div class="responsive-list-table col-sm-12">
                            <pixie-editor>
                                <div class="global-spinner">
                                    <style>
                                        .global-spinner {
                                            display: none;
                                            align-items: center;
                                            justify-content: center;
                                            z-index: 999;
                                            background: #fff;
                                            position: fixed;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                        }
                                    </style>

                                    <div class="la-ball-spin-clockwise la-2x">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>

                                <script>
                                    setTimeout(function () {
                                        var spinner = document.querySelector('.global-spinner');
                                        if (spinner) spinner.style.display = 'flex';
                                    }, 50);</script>
                            </pixie-editor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Scripts.Render("~/bundles/toplayoutjs")
        @Scripts.Render("~/bundles/bottomlayoutjs")
        @Html.Partial("_DataPageLibrariesPartial")
        <script>
        var baseUri = '@Model.JSONFileUrl';
        var file_url = '@fileUrl';
        </script>
        <script src="~/Content/js/addons/jsPDF.js"></script>
        <script src="@Url.Content("~/pixie/scripts.min.v1.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
        <script>
            var pixie;
            $(function () {
                $(".breadcrumbs li.back a").removeAttr("onclick");
                $(document).on("click", ".breadcrumbs li.back a", function () { window.close(); });
                var isDownload, isPrint;
                //Load the Pixie editor and bind the image
                pixie = new Pixie({
                    crossOrigin: true,
                    ui: {
                        visible: true,
                        theme: 'light',
                        allowEditorClose: false,
                        allowZoom: false,
                        toolbar: {
                            replaceDefaultLeftItems: true,
                            replaceDefaultCenterItems: true,
                            leftItems: [
                                {
                                    type: 'button',
                                    icon: 'print',
                                    text: 'Print',
                                    action: function () {
                                        isPrint = true;
                                        isDownload = false;
                                        pixie.getTool('export').export('@exportName', 'jpeg', '0.8');
                                    }
                                },
                                {
                                    type: 'button',
                                    icon: 'file-download',
                                    text: 'Download',
                                    action: function () {
                                        isPrint = false;
                                        isDownload = true;
                                        pixie.getTool('export').export('@exportName', 'jpeg', '0.8');
                                    }
                                }
                            ],
                            centerItems: [],
                        },
                        nav: {
                            position: 'none',
                            replaceDefault: true,
                        },
                    },
                    onSave: function (data, name) {
                        name = name.split('.')[0];
                        var activeObject = pixie.get('activeObject');
                        var doc;
                        if (activeObject.canvasState.fabric.width < activeObject.canvasState.fabric.height) {
                            doc = new jsPDF("p", "mm", "a4");
                        } else {
                            doc = new jsPDF("l", "mm", "a4");
                        }
                        var width = doc.internal.pageSize.getWidth();
                        var height = doc.internal.pageSize.getHeight();
                        doc.setProperties({
                            title: name,
                            subject: 'Certificate'
                        });
                        doc.setFontSize(40);
                        doc.addImage(data, 'JPEG', 0, 0, width, height);
                        if (isDownload) {
                            doc.save(name);
                        } else if (isPrint) {
                            doc.autoPrint();
                            doc.output('dataurlnewwindow');
                        }
                    },
                    baseUrl: baseUri,
                    onLoad: function () {
                        $("div.canvas-mask-wrapper").css("pointer-events", "none");
                        $(".right.ng-star-inserted").empty();

                        /* If image is not loaded properly, then call below logic */
                        //var activeObject = pixie.get('activeObject');
                        //var canW = activeObject.canvasState.original.width;
                        //var canH = activeObject.canvasState.original.height;
                        //console.log("canW: " + canW + " | canH: " + canH);
                        //setTimeout(function () {
                        //    var resizeTool = pixie.getTool('resize');
                        //    resizeTool.apply(canW, canH);
                        //}, 2000);
                    },
                    image: file_url,
                    tools: {
                        zoom: {
                            disableMinimumZoom: false,
                            allowUserZoom: false
                        }
                    }
                });
            });
        </script>
    </body>
    </html>


