﻿@model IEnumerable<Phoenix.Models.Entities.StudentPointCategory>
@using Phoenix.Common.Localization
@using Phoenix.Common.Enums
@{
    int tab = 0, content = 0;
    var schedules = (IEnumerable<Phoenix.Models.Entities.CertificateScheduling>)ViewBag.Certificates;
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="bg-transparent">
            <div class="card-body">
                @if (schedules.Any())
                {
                    <div class="tabPanels">
                        <ul class="navTabs coursenavTabs d-flex align-items-center flex-wrap overflow-auto w-100 column-padding border-bottom bg-white" id="pills-Subtab@(schedules.FirstOrDefault().CertificateSchedulingId)" role="tablist">
                            @foreach (var item in schedules)
                            {
                                var schedule = Model.Where(x => x.CertificateScheduleId == item.CertificateSchedulingId);
                                <li class="flex-shrink-0 text-center @Html.Raw(item.ScheduleType == (int)ScheduleType.Monthly || item.ScheduleType ==  (int)ScheduleType.Weekly ? "d-none": "")" style="width:@(((float)1/schedules.Count())*100)%; padding-left:10px;padding-right:10px">
                                    <a class="navTabLink w-100 text-medium py-3 d-inline-block position-relative mx-2 ScheduleCertificate @Html.Raw(tab == 0 ? "active" : "")" 
                                       id="@(item.CertificateSchedulingId)_@(item.CertificateTypeId)" 
                                       data-certificatetype="@item.CertificateTypeId" 
                                       data-toggle="pill" 
                                       href="#tab_@(item.CertificateSchedulingId)_@(item.CertificateTypeId)" 
                                       data-schedule="@item.ScheduleType" 
                                       role="tab"
                                       data-emailother="@schedule.Any(x => x.IsEmailOther)"
                                       data-print="@schedule.Any(x => x.IsPrint)"
                                       aria-controls="@(item.CertificateSchedulingId)_@(item.CertificateTypeId)" 
                                       aria-selected="@((tab == 0).ToString().ToLower())">@item.Description</a>
                                </li>
                                tab++;
                            }
                        </ul>
                        <div class="tab-content p-3"  style="background:transparent">
                            @foreach (var item in schedules)
                            {
                                var schedule = Model.Where(x => x.CertificateScheduleId == item.CertificateSchedulingId);
                                <div class="tab-pane fade @Html.Raw(content == 0 ? "show active" : "")" 
                                     id="tab_@(item.CertificateSchedulingId)_@(item.CertificateTypeId)" 
                                     role="tabpanel"                                      
                                     aria-labelledby="@(item.CertificateSchedulingId)_@(item.CertificateTypeId)">
                                    @Html.Partial("_CertificateStudentCardPartial", schedule)
                                </div>
                                content++;
                            }
                        </div>
                    </div>
                }
                else
                {
                    <span class="no-data-found text-bold d-block mx-auto my-auto">
                        @ResourceManager.GetString("Shared.Labels.NoRecords")
                    </span>
                }
            </div>
        </div>
    </div>
</div>
