﻿@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Localization;
@using Phoenix.Common.Enums
@{
    int tab = 0, content = 0;
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    string JSONFileUrl = string.IsNullOrEmpty(Convert.ToString(ViewBag.JSONFileUrl)) ? string.Empty : Convert.ToString(ViewBag.JSONFileUrl);
    string fileUrl = string.IsNullOrEmpty(Convert.ToString(ViewBag.FilePath)) ? string.Empty : Convert.ToString(ViewBag.FilePath);
    var scheduleTypes = (IEnumerable<Phoenix.Models.Entities.CertificateScheduling>)ViewBag.Certificates;
    var scheduleTypeCount = (scheduleTypes.Select(x => x.ScheduleType).Distinct().Count());
    if (scheduleTypeCount > 0)
    {
        scheduleTypeCount = 12 / scheduleTypeCount;
    }
    var curriculum = (SelectList)ViewBag.Curriculum;
    var list = Enum.GetValues(typeof(ScheduleType)).Cast<ScheduleType>().Select(x => new
    {
        Text = x.ToString().ToLower() == "yearly" ? ResourceManager.GetString("Behaviour.CertificateSchedule.Yearly") :
        x.ToString().ToLower() == "monthly" ? ResourceManager.GetString("Behaviour.CertificateSchedule.Monthly") :
        x.ToString().ToLower() == "weekly" ? ResourceManager.GetString("Behaviour.CertificateSchedule.Weekly") : x.ToString()
    ,
        Value = (int)x
    });
    var dropdownHtml = ControllerExtension.RenderPartialViewToString(Html.ViewContext.Controller as Controller, "~/Areas/Course/Views/Course/_CurriculumDropdown.cshtml", curriculum);
}

@Html.AntiForgeryToken()
<style>
    .fa-1-4px {
        font-size: 1.2rem;
    }

    .student-profile-section .student-meta {
        padding: 0 0.25rem;
        min-height: 130px;
    }

    .card .card-body h3 {
        font-weight: 500;
        line-height: 1.5rem;
    }
    .student-card.selected {
        border: 1px solid #5d3195 !important;
    }
</style>
<!-- search section end -->
@*<div id="courseInformation" class="course-cata-tab d-flex flex-column flex-md-row vTab-wrapper">
        <div class="tab-list col-1">
            <ul class="tabs mt-0 w-100 certificateCategory" id="courseList">
                @foreach (var item in list)
                {
                    <li rel="tab@(item.Value)" class="@Html.Raw(tab == 0 ? "active":"") p-4 border-bottom certificateTab " id="@item.Value" data-certificatetype="@(item.Value)">
                        <span class="text-semibold d-inline-block w-100 truncate pr-3">@item.Text</span>
                    </li>
                    tab++;
                }
            </ul>
        </div>
        <div class="tab-container flex-1  col-11">
            @foreach (var item in list)
            {
                <h3 class="tab-drawer-heading py-3 px-4 text-semibold" rel="tab@(item.Value)">@item.Text</h3>
                <div id="tab@(item.Value)" class="tab-content overflow-auto">
                    <div class="card catalouge-card shadow-none bg-transparent">
                        <div class="column-padding py-4">
                            <div class="catalouge-info">
                                <div ></div>
                            </div>
                            <div class="catalouge-course-info unit-planner-info">
                                <div class="accordion catalouge-accordian" id="maintab_@(item.Value)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>*@
<div class="clearfix position-relative">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="bg-transparent">
                <div class="card-body pb-3">
                    <div class="tabPanels">
                        @if (scheduleTypes.Any())
                        {
                            <ul class="navTabs nav nav-tabs certificateCategory d-flex align-items-center flex-wrap overflow-auto w-100 column-padding border-bottom bg-white" id="pills-tab" role="tablist" aria-orientation="vertical">
                                @foreach (var item in list)
                                {
                                    if (scheduleTypes.Any(x => x.ScheduleType == item.Value))
                                    {
                                        <li class="flex-shrink-0 col-@scheduleTypeCount text-center">
                                            <a class="navTabLink text-medium w-100 py-3 d-inline-block position-relative mx-2 certificateTab @Html.Raw(tab == 0 ? "active" : "")" id="@item.Value" data-certificatetype="@item.Value" data-toggle="pill" href="#maintab_@item.Value" data-schedule="@item.Value" role="tab"
                                               aria-controls="@item.Value" aria-selected="true">@item.Text</a>
                                        </li>
                                        tab++;
                                    }

                                }
                            </ul>
                            <div class="tab-content" id="student-profileContent" style="background:transparent">
                                @foreach (var item in list)
                                {
                                    if (scheduleTypes.Any(x => x.ScheduleType == item.Value))
                                    {
                                        <div class="tab-pane fade @Html.Raw(content == 0 ? "show active" : "")" id="maintab_@item.Value" role="tabpanel" aria-labelledby="pills-tab">
                                        </div>
                                        content++;
                                    }

                                }
                            </div>
                        }
                        else
                        {
                            <span class="no-data-found text-bold d-block mx-auto my-auto">
                                @ResourceManager.GetString("Shared.Labels.NoRecords")
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="cd-stretchy-nav position-fixed">
    <a class="cd-nav-trigger" href="javascript:;">
        Menu
        <span aria-hidden="true"></span>
    </a>
    <ul>
        <li data-toggle="tooltip" data-placement="left" title="" data-original-title="@ResourceManager.GetString("Behaviour.CertificateSchedule.SelectAllStudent")">
            <a href="javascript:;" id="btnAddBookmark" onclick="studentCertificateProcess.checkAll()">
                <span>
                    <i class="fas fa-check-double fa-1-4px text-white"></i>
                </span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="left"  style="display:none" id="printAllOption" title="" data-original-title="@ResourceManager.GetString("Behaviour.CertificateSchedule.PrintCertificate")">
            <a href="javascript:;" id="btnAddBookmark" onclick="studentCertificateProcess.printAll()">
                <span>
                    <i class="fas fa-print fa-1-4px text-white"></i>
                    @*<img src="~/Content/img/svg/ic-printer.svg" />*@
                </span>
            </a>
        </li>
        <li data-toggle="tooltip" data-placement="left" style="display:none" id="emailAllOption" title="" data-original-title="@ResourceManager.GetString("Behaviour.CertificateSchedule.EmailOtherteacher")">
            <a href="javascript:;" id="btnAddBookmark" onclick="studentCertificateProcess.emailOtherAll()">
                <span>
                    <i class="fas fa-mail-bulk fa-1-4px text-white"></i>
                    @*<img src="~/Content/img/svg/ic-printer.svg" />*@
                </span>
            </a>
        </li>
        @*  <li data-toggle="tooltip" data-placement="left" title="" data-original-title="Folder">
            <a href="javascript:;" id="btnAddFolder">
                <span>
                    <i class="fas fa-mail-bulk fa-1-4px text-white"></i>
                </span>
            </a>
        </li>*@
    </ul>
    <span aria-hidden="true" class="stretchy-nav-bg"></span>
</nav>
@*<div id="pixieEditor" class="d-none">
    </div>*@

<div id="pdfElement">
</div>
<!-- tab panels end -->

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
    <div id="pixieEditor" class="d-none">
        @Html.Partial("~/Areas/Document/Views/CertificateBuilder/_PixieEditor.cshtml")
    </div>

    <script>
            translatedResources.pleaseSelectStudent = '@ResourceManager.GetString("Behaviour.CertificateSchedule.SelectStudent")';
    </script>
}

@section scripts
{
    <script>
        var baseUri = '@JSONFileUrl';
        var imagePath = '@fileUrl';
    </script>
    <script>
        var html = `@Html.Raw(dropdownHtml)`;
        var htmldropdown = `<div class="row search-row"><div class="col-lg-12 col-md-12 col-12 d-flex justify-content-end flex-column flex-md-row align-items-center">
            <div class="md-form md-outline sort-dropdown ml-0 ml-md-3 mb-3 mb-md-0">
                <label class="select-label">@ResourceManager.GetString("Behaviour.Common.Grade")</label>
            @Html.DropDownList("ddlGrade", (SelectList)ViewBag.Grades, selectText, new { @class = "selectpicker", @multiple="multiple", @data_actions_box="true",@data_selected_text_format = "count > 5" })
            </div>
            <div class="md-form md-outline sort-dropdown ml-0 ml-md-3 mb-0">
                <label class="select-label">@ResourceManager.GetString("Behaviour.Common.Section")</label>
            @Html.DropDownList("ddlSection", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @multiple="multiple", @data_actions_box="true",data_selected_text_format = "count > 5" })
            </div>
        </div></div>`;
        $('#breadcrumbActions').html(`<div class="justify-content-end row"><div>${html}</div>${htmldropdown}</div>`);
    </script>
    @*<script src="~/Content/js/addons/vTabs.js"></script>*@
    <script src="~/Content/js/addons/jsPDF.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>*@
    <script src="@Url.Content("~/Content/js/custom/Behaviour/StudentCertificateProcess.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>
        $(document).on('shown.bs.tab', 'a[data-toggle="pill"]', function (e) {
            var target = $(e.target); // newly activated tab
            e.relatedTarget // previous active tab
            $('#emailAllOption')[target.data('emailother').toBoolean()? "show" : "hide"]();
            $('#printAllOption')[target.data('print').toBoolean()? "show" : "hide"]();
        })
    </script>
}
