﻿@model IEnumerable<Phoenix.Models.ChildQuizReportData>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization

<!-- modal popup for quiz details -->
<div class="modal fade" id="quizDetailPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="quizDetailsHeading">@ResourceManager.GetString("School.Blog.QuizReport")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="childTableDetails" class="popup-form column-padding">
                    <div class="table-wrapper table-responsive-md">
                        <table id="tbl-child-quiz-report" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>@ResourceManager.GetString("School.Blog.GroupName")</th>
                                    <th>@ResourceManager.GetString("School.Blog.QuizName")</th>
                                    <th>@ResourceManager.GetString("School.Blog.StudentsAttempted")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td class="quiz-report-label cursor-pointer" data-quizId="@EncryptDecryptHelper.EncryptUrl(item.QuizId.ToString())" data-groupId="@EncryptDecryptHelper.EncryptUrl(item.GroupId.ToString())">@item.GroupName</td>
                                    <td data-quizId="@EncryptDecryptHelper.EncodeBase64(item.QuizId.ToString())">@item.QuizName</td>
                                    <td>@item.NoOfStudents</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Close")</button>
                </div>
            </div>
        </div>
        <!-- modal popups -->
    </div>
</div>

