﻿@model IEnumerable<Phoenix.Models.TableData>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@{
    string Path = Server.MapPath("~/Content/VLE/img/logo-colored.png");
}
<style>
    table {
        page-break-inside: avoid;
    }
</style>

@if (Model.Count() > 0)
{

    if (Model.Count() < 10)
    {

        using (Html.BeginForm("DownloadReportDataAsPDF", "Reports", FormMethod.Post, new { id = "frmGroupReport", @class = "form-horizontal" }))
        {
        <div class="row mt-2 pb-3">
            <div class="col-lg-8 col-md-8 col-8">
                <div class="search-with-bg">
                    <i class="fa fa-search"></i>
                    <input type="search" id="GroupReportSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="float-none float-sm-right">
                    <button type="submit" id="btnGroupReportExcel" name="action:DownloadReportToExcel" title="@ResourceManager.GetString("Shared.Buttons.DownloadExcel")" data-toggle="tooltip" class="float-right p-0 border-0 bg-transparent"><i class="fas fa-file-excel ic-file-excel fa-2x"></i></button>
                </div>
                <div class="float-none float-sm-right mr-2">
                    <input type="hidden" name="reportName" value="AssignmentsByGroup" />
                    <button type="submit" id="btnGroupReportPDF" name="action:DownloadReportToPDF" title="@ResourceManager.GetString("Shared.Buttons.DownloadPDF")" data-toggle="tooltip" class="float-right p-0 border-0 bg-transparent"><i class="fas fa-file-pdf ic-file-pdf fa-2x"></i></button>
                </div>

            </div>
        </div>
        }
    }

    if (ViewBag.ReportType == "PDF")
    {
        <table border="0" cellspacing="0" cellpadding="0" style="background-color:#E3E3E3;padding:0.1pt;width:100%;">
            <tbody>
                <tr>
                    <td style="padding: 10px;">
                        <img data-imagetype="External" src="@Path" border="0" id="_x0000_i1031" height="50">
                    </td>
                    <td valign="middle">
                        <h2 style="color:#ba1818; margin: 0 0 0 0px;" hspace="20">@ResourceManager.GetString("School.Blog.AssignmentsByGroup") <br></h2>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="table-wrapper mt-4" style="margin-top:4px">
            <table id="tbl-GroupReport" class="table table-bordered table-hover table-responsive-md" cellspacing="0" width="100%" border="1">
                <thead>
                    <tr>
                        <td style="background-color: #E3E3E3; color: #ba1818;"><strong>@ResourceManager.GetString("School.YoYoBlog.Groups")</strong></td>
                        <td style="background-color: #E3E3E3; color: #ba1818;"><strong>@ResourceManager.GetString("School.Blog.Assignments")</strong></td>
                        <td style="background-color: #E3E3E3; color: #ba1818;"><strong>@ResourceManager.GetString("School.Blog.FilesAttached")</strong></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="page-break-inside:avoid;">
                            <td class="cursor-default">@item.SchoolGroupName.Replace("_", " /")</td>
                            <td>@item.TotalAssignments</td>
                            <td>@item.TotalFiles</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
<div class="table-wrapper table-responsive-md">
    <table class="table table-bordered table-hover" id="tbl-GroupReport">
        <thead>
            <tr>
                <th>@ResourceManager.GetString("School.YoYoBlog.Groups")</th>
                <th>@ResourceManager.GetString("School.Blog.Assignments")</th>
                <th>@ResourceManager.GetString("School.Blog.FilesAttached")</th>
                @*<th>File Size</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="group-name-label cursor-pointer" data-groupId="@EncryptDecryptHelper.EncodeBase64(item.SchoolGroupId.ToString())">@item.SchoolGroupName.Replace("_", " /")</td>
                    <td>@item.TotalAssignments</td>
                    <td>@item.TotalFiles</td>
                    @*<td>@item.FileSize</td>*@
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Count() == 10)
    {
    <a id="btnGroupAssignmentsLoadMore" class="btn btn-primary">@ResourceManager.GetString("Shared.Buttons.ShowMoreRecords")</a>
    }
</div>
    }

}
else
{
    @*<h3 class="sub-heading">@ResourceManager.GetString("Shared.Labels.NoRecords")</h3>*@
    <span class="no-data-found d-block mx-auto my-auto"></span>
}
<script>
    $(document).ready(function () {
        var _dataTableLangSettings = {
            "sEmptyTable": translatedResources.noData,
            "sInfo": translatedResources.sInfo,
            "sInfoEmpty": translatedResources.sInfoEmpty,
            "sInfoFiltered": translatedResources.sInfoFiltered,
            "sInfoPostFix": "",
            "sInfoThousands": ",",
            "sLengthMenu": translatedResources.sLengthMenu,
            "sLoadingRecords": "Loading...",
            "sProcessing": "Processing...",
            "sSearch": translatedResources.search,
            "sZeroRecords": translatedResources.sZeroRecords,
            "oPaginate": {
                "sFirst": translatedResources.first,
                "sLast": translatedResources.last,
                "sNext": translatedResources.next,
                "sPrevious": translatedResources.previous
            },
            "oAria": {
                "sSortAscending": translatedResources.sSortAscending,
                "sSortDescending": translatedResources.sSortDescending
            }
        };
        $("#tbl-GroupReport").DataTable({
            "iDisplayLength": 5, "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
            "oLanguage": _dataTableLangSettings});

        $("#tbl-GroupReport_length").hide();
        $("#tbl-GroupReport_filter").hide();
        $("#GroupReportSearch").on("input", function (e) {
            e.preventDefault();
            $('#tbl-GroupReport').DataTable().search($(this).val()).draw();
        });
    });
</script>
