﻿@model IEnumerable<Phoenix.Common.Models.EventView>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions;
<!-- search section end -->
@if (Model.Count() > 0)
{
    <div class="table-wrapper table-responsive-md w-100">
        <table class="table table-bordered table-hover" id="tbl-liveSession-events">
            <thead>
                <tr>
                    <th>@ResourceManager.GetString("Planner.MyPlanner.Title")</th>
                    <th>@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupName")</th>
                    <th>@ResourceManager.GetString("Planner.MyPlanner.Organizer")</th>
                    <th>@ResourceManager.GetString("Planner.MyPlanner.StartDate")</th>
                    <th>@ResourceManager.GetString("Planner.MyPlanner.EndDate")</th>
                    <th>@ResourceManager.GetString("Planner.MyPlanner.StartTime")</th>
                    <th>@ResourceManager.GetString("Planner.MyPlanner.EndTime")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var _startDate = (DateTime)item.StartDate.ConvertUtcToLocalTime();
                    var _endDate = (DateTime)item.EndDate.ConvertUtcToLocalTime();
                <tr>
                    <td class="live-sessions-label cursor-pointer" data-eventId="@item.EventId">@item.Title</td>
                    <td>@(item.SchoolGroupName.Trim().Length > 30 ? (item.SchoolGroupName.Trim().Substring(0, 29) + "..." ): @item.SchoolGroupName.Trim())</td>
                    <td>@item.CreatedByUserName</td>
                    <td width="12%">@_startDate.ToString("dd-MMM-yyyy")</td>
                    <td width="12%">@_endDate.ToString("dd-MMM-yyyy")</td>
                    <td width="10%">@_startDate.ToString("hh:mm tt")</td>
                    <td width="10%">@_endDate.ToString("hh:mm tt")</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

}
else
{
    <span id="noDataSpanLiveEvents" class="no-data-found text-bold mx-auto my-auto mt-1">
        @ResourceManager.GetString("Shared.Labels.NoRecords")
    </span>
}


