﻿@model Phoenix.Models.GetReportDetail
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization
@using Phoenix.Models;

@if (SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.UserTypeId == 5)
{
    <!-- assignment data -->
    <div class="filterData assignment mt-4">
        <h3 class="mb-3">@ResourceManager.GetString("School.Report.Assignment")</h3>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box">
                <article class="border rounded">
                    <a href="#" class="cursor-default d-block p-3">
                        <span class="count">@Model.TotalAssignmentCount</span>
                        <h4 class="m-0">@ResourceManager.GetString("School.Report.TotalAssignment")</h4>
                    </a>
                </article>
            </div>

            <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box">
                <article class="border rounded">
                    <a href="#" class="cursor-default d-block p-3">
                        <span class="count">@Model.AssignmentFileCount</span>
                        <h4 class="m-0">@ResourceManager.GetString("School.Report.AssignmentFileCount")</h4>
                    </a>
                </article>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box">
                <article class="border rounded">
                    <a href="#" class="cursor-default d-block p-3">
                        <span class="count">@Model.TeacherFileCount</span>
                        <h4 class="m-0">@ResourceManager.GetString("School.Report.TeacherUploadedTask")</h4>
                    </a>
                </article>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box">
                <article class="border rounded">
                    <a href="#" class="cursor-default d-block p-3">
                        <span class="count">@Model.StudentAssignmentFileCount</span>
                        <h4 class="m-0">@ResourceManager.GetString("School.Report.StudentAssignmentFile")</h4>
                    </a>
                </article>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box">
                <article class="border rounded">
                    <a href="#" class="cursor-default d-block p-3">
                        <span class="count">@Model.StudentTaskFilesCount</span>
                        <h4 class="m-0">@ResourceManager.GetString("School.Report.StudentTaskFile")</h4>
                    </a>
                </article>
            </div>
        </div>
    </div>
    <!-- assignment data -->
    <!-- groups data -->
    <div class="filterData groups mt-4">
        <h3 class="mb-3">@ResourceManager.GetString("School.Report.Group")</h3>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box">
                <article class="border rounded">
                    <a href="#" class="cursor-default d-block p-3">
                        <span class="count">@Model.GroupFileCount</span>
                        <h4 class="m-0">@ResourceManager.GetString("School.Report.GroupFileCount")</h4>
                    </a>
                </article>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box">
                <article class="border rounded">
                    <a href="#" class="cursor-default d-block p-3">
                        <span class="count">@Model.BespokeGroupCreated</span>
                        <h4 class="m-0">@ResourceManager.GetString("School.Report.BeSpokeGroupCreated")</h4>
                    </a>
                </article>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box">
                <article class="border rounded">
                    <a href="#" class="cursor-default d-block p-3">
                        <span class="count">@Model.BeSpokeGroupFilesCount</span>
                        <h4 class="m-0">@ResourceManager.GetString("School.Report.BeSpokeGroupFile")</h4>
                    </a>
                </article>
            </div>
        </div>
    </div>
    <!-- groups data -->
    <!-- quiz data -->
    <div class="filterData quiz mt-4">
        <h3 class="mb-3">@ResourceManager.GetString("School.Report.Quiz")</h3>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box">
                <article class="border rounded">
                    <a href="#" class="cursor-default d-block p-3">
                        <span class="count">@Model.QuizCount</span>
                        <h4 class="m-0">@ResourceManager.GetString("School.Report.NumberOfQuiz")</h4>
                    </a>
                </article>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box">
                <article class="border rounded">
                    <a href="#" class="cursor-default d-block p-3">
                        <span class="count">@Model.QuizFileCount</span>
                        <h4 class="m-0">@ResourceManager.GetString("School.Report.QuizFile")</h4>
                    </a>
                </article>
            </div>
           
        </div>
    </div>
    <!-- quiz data -->
    <!-- chatter data -->
    <div class="filterData chatter mt-4">
        <h3 class="mb-3">@ResourceManager.GetString("School.Report.Chatters")</h3>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box">
                <article class="border rounded">
                    <a href="#" class="cursor-default d-block p-3">
                        <span class="count">@Model.ChatterCount</span>
                        <h4 class="m-0">@ResourceManager.GetString("School.Report.Chatters")</h4>
                    </a>
                </article>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box">
                <article class="border rounded">
                    <a href="#" class="cursor-default d-block p-3">
                        <span class="count">@Model.ChatterCommentsCount</span>
                        <h4 class="m-0">@ResourceManager.GetString("School.Report.ChattersComments")</h4>
                    </a>
                </article>
            </div>
        </div>
    </div>
    <!-- chatter data -->

}