﻿@model Phoenix.Models.LoginDetailData
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;

@if (SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.UserTypeId == 5)
{

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="align-items-baseline align-items-md-center flex-column flex-md-row title-with-fields">
                        <h3 class="card-title text-bold">@ResourceManager.GetString("Shared.Login.Logins") <span class="text-regular">@ResourceManager.GetString("School.Blog.UniquePerDay")</span></h3>
                        <h6 class="m-0">@ResourceManager.GetString("School.Blog.LoginsTillDate") <span id="TotalLoginTillDate"><span class="arabictxt">@Model.TotalLoginTillDate</span></span></h6>
                    </div>
                    <div class="filterData assignment mt-4 column-padding pb-3">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box login-count pb-2 pb-lg-0" data-type="TotalLogins">
                                <article class="border rounded">
                                    <a href="javascript:void(0)" class="d-block p-3">
                                        <h5 class="m-0">@ResourceManager.GetString("School.Blog.TotalLogins")</h5>
                                        <span id="TotalLogins" class="count arabictxt">@Model.TotalLogins</span>
                                    </a>
                                </article>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box login-count pb-2 pb-lg-0" data-type="TeacherLogin">
                                <article class="border rounded">
                                    <a href="javascript:void(0)" class="d-block p-3">
                                        <h5 class="m-0">@ResourceManager.GetString("School.Blog.TeacherLogins")</h5>
                                        <span id="TeacherLogins" class="count arabictxt">@Model.TeacherLogin</span>
                                    </a>
                                </article>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box login-count pb-2 pb-lg-0o" data-type="StudentLogin">
                                <article class="border rounded">
                                    <a href="javascript:void(0)" class="d-block p-3">
                                        <h5 class="m-0">@ResourceManager.GetString("School.Blog.StudentLogins")</h5>
                                        <span id="StudentLogins" class="count arabictxt">@Model.StudentLogin</span>
                                    </a>
                                </article>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box login-count" data-type="ParentLogin">
                                <article class="border rounded">
                                    <a href="javascript:void(0)" class="d-block p-3">
                                        <h5 class="m-0">@ResourceManager.GetString("School.Blog.ParentLogins")</h5>
                                        <span id="ParentLogins" class="count arabictxt">@Model.ParentLogin</span>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}