﻿@model IEnumerable<Phoenix.Common.Models.WeeklyEventView>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
<!-- search section end -->
@if (Model.Count() > 0)
{
    <div class="table-wrapper table-responsive-md w-100">
        <table class="table table-bordered table-hover" id="tbl-timetable-events">
            <thead>
                <tr>
                    <th>@ResourceManager.GetString("Planner.MyPlanner.Title")</th>
                    <th>@ResourceManager.GetString("Planner.MyPlanner.TeacherName")</th>
                    <th>@ResourceManager.GetString("Planner.MyPlanner.Period")</th>
                    <th>@ResourceManager.GetString("Shared.Labels.Date")</th>
                    <th>@ResourceManager.GetString("Planner.MyPlanner.StartTime")</th>
                    <th>@ResourceManager.GetString("Planner.MyPlanner.EndTime")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CourseName</td>
                        <td>@item.TeacherName</td>
                        <td>@item.Period</td>
                        <td width="12%" class="arabictxt">@item.EventDate.ToFormatedDate("dd-MMM-yyyy")</td>
                        <td width="10%" class="arabictxt">@item.StartTime.ToFormatedDate("hh:mm tt")</td>
                        <td width="10%" class="arabictxt">@item.EndTime.ToFormatedDate("hh:mm tt")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
else
{
    <span id="noDataSpanTimetableEvents" class="no-data-found text-bold mx-auto my-auto mt-1">
        @ResourceManager.GetString("Shared.Labels.NoRecords")
    </span>
}

