﻿@model Phoenix.Models.GetReportDetail
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization
@using Phoenix.Models;
@using Phoenix.Common.Helpers.Extensions;

@{

    var rnd = DateTime.Now.Ticks.ToString();

}

<div class="mt-2 mb-4 clearfix">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body column-padding pt-3 pb-3">
                    <!-- report filters -->
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-outline-primary m-0 shadow-none toggleDataFilters" type="button">
                                <i class="fas fa-filter mr-2"></i>@ResourceManager.GetString("School.Report.Filters")
                            </button>
                                @*<label id="Byday"style="color:black; padding-left: 15px;font-weight:500 !important;"> by Day</label>*@
                             <span id="selectedFilter" class="text-medium ml-3 selectedFilter">@ResourceManager.GetString("School.Report.Filter")</span>
                            <div class="report-filters shadow-sm border">
                                <div class="column-padding pt-3">
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="Radio" name="filterSelection" id="filterSelection_1" value="1" class="custom-control-input">
                                        <label for="filterSelection_1" class="custom-control-label text-medium">@ResourceManager.GetString("School.Report.Month")</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="Radio" name="filterSelection" id="filterSelection_2" value="2" checked="checked" class="custom-control-input">
                                        <label for="filterSelection_2" class="custom-control-label text-medium">@ResourceManager.GetString("School.Report.Day")</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="Radio" name="filterSelection" id="filterSelection_3" value="3" class="custom-control-input">
                                        <label for="filterSelection_3" class="custom-control-label text-medium">@ResourceManager.GetString("School.Report.Hours")</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="Radio" name="filterSelection" id="filterSelection_4" value="4" class="custom-control-input">
                                        <label for="filterSelection_4" class="custom-control-label text-medium">@ResourceManager.GetString("School.Report.Thirtymin")</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="Radio" name="filterSelection" id="filterSelection_5" value="5" class="custom-control-input">
                                        <label for="filterSelection_5" class="custom-control-label text-medium">@ResourceManager.GetString("School.Report.Tenmin")</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="Radio" name="filterSelection" id="filterSelection_6" value="6" class="custom-control-input">
                                        <label for="filterSelection_6" class="custom-control-label text-medium lblDateRangeFilter">@ResourceManager.GetString("School.Report.DateRange")</label>
                                    </div>
                                    <div class="dateRangeSelectors pb-3 pt-3" id="dateRangeFilter">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="md-form md-outline date-time-picker field-with-icon mb-0 mt-1">
                                                    <i class="far fa-calendar-alt active"></i>
                                                    <input type="text" id="FromDate" name="FromDate" placeholder="Now" class="form-control date-picker" disabled="disabled">
                                                    <label for="FromDate" class="active">@ResourceManager.GetString("Shared.Labels.FromDate")</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <div class="md-form md-outline date-time-picker field-with-icon mb-0 mt-1">
                                                    <i class="far fa-calendar-alt active"></i>
                                                    <input type="text" id="ToDate" name="ToDate" placeholder="Now" class="form-control date-picker" disabled="disabled">
                                                    <label for="ToDate" class="active">@ResourceManager.GetString("Shared.Labels.ToDate")</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-12 text-center">
                                                <span class="waves-input-wrapper waves-effect waves-light">
                                                    <input type="button" id="btnFilter" class="btn btn-primary mt-1 mb-0 pt-2 pb-2" onclick="getReportData()" value="@ResourceManager.GetString("School.Report.FilterData")" disabled="disabled">
                                                </span>
                                                <span class="waves-input-wrapper waves-effect waves-light">
                                                    <input type="button" class="btn btn-primary mt-1 mb-0 pt-2 pb-2" value="Export Excel" onclick='window.location = "@Url.Action("ExportExcel", "Reports","SchoolInfo")";' />
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="ReportDatabind">
                        @Html.Partial("~/Areas/SchoolInfo/Views/Reports/_Reportdetail.cshtml", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SCRIPTS -->

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script src="@Url.Content("~/Content/js/addons/bootstrap-datetimepicker.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script language="javascript">
        $(document).ready(function () {

            var nowTemp = new Date();
            var stDate = new Date(nowTemp.getFullYear(), (nowTemp.getMonth()), (nowTemp.getDate()-15), 0, 0, 0, 0);
            var endDate = new Date(nowTemp.getFullYear(), (nowTemp.getMonth()), nowTemp.getDate(), 0, 0, 0, 0);

            var StartDate = $('#FromDate').datetimepicker({
                format: 'DD-MMM-YYYY',
                maxDate: endDate

            }).on('dp.change', function (ev) {
                console.log(EndDate.viewDate().valueOf());
                console.log(ev.date.valueOf());
                if (ev.date.valueOf() > EndDate.viewDate().valueOf()) {
                    globalFunctions.showWarningMessage('@ResourceManager.GetString("Planner.MyPlanner.StartTimeWarning")');
                    $('#FromDate').data("DateTimePicker").date(ev.oldDate);
                }
                else if (ev.date.valueOf() < EndDate.viewDate().valueOf()) {
                    var maxDt = new Date(ev.date);
                    maxDt.setDate(maxDt.getDate() + 90)
                    //console.log(maxDt);
                    if (maxDt.valueOf() <= EndDate.viewDate().valueOf()) {
                        $('#ToDate').data("DateTimePicker").maxDate(maxDt);

                    }
                    else {
                        $('#ToDate').data("DateTimePicker").maxDate(endDate);
                    }
                }
                }).data("DateTimePicker");


            var EndDate = $('#ToDate').datetimepicker({
               format: 'DD-MMM-YYYY',
                maxDate: endDate
            }).on('dp.change', function (ev) {

                if (ev.date.valueOf() < StartDate.viewDate().valueOf()) {
                    console.log(ev.oldDate._i);
                    globalFunctions.showWarningMessage('@ResourceManager.GetString("Planner.MyPlanner.EndDateWarning")');
                    $('#ToDate').data("DateTimePicker").date(ev.oldDate);
                }
                else if (ev.date.valueOf() <= StartDate.viewDate().valueOf()) {

                    var minDt = new Date(ev.date);
                    minDt.setDate(minDt.getDate() - 90)
                    //console.log(minDt);
                    if (minDt.valueOf() >= StartDate.viewDate().valueOf()) {
                        $('#FromDate').data("DateTimePicker").minDate(minDt);
                        $('#ToDate').data("DateTimePicker").minDate(minDt);
                    }
                    else {
                       // $('#FromDate').data("DateTimePicker").minDate(stDate);
                        $('#ToDate').data("DateTimePicker").minDate(stDate);
                    }
                }
                }).data("DateTimePicker");

            $('#selectedFilter').fadeOut(10).fadeIn().html('by Day');
            $("#FromDate").val(globalFunctions.getFormattedDate(stDate));
            $("#ToDate").val(globalFunctions.getFormattedDate(endDate));

            $("input[name=filterSelection]").on("change", function (e) {
                var id = $(this).val();
                if (id <= 5) {
                    $.ajax({
                        url: '/SchoolInfo/Reports/GetReportDetails',
                        type: "POST",
                        data: { id: id },
                        success: function (report) {
                            $("#ReportDatabind").html('');
                            $("#ReportDatabind").html(report);
                            $("#FromDate").attr("disabled", "disabled");
                            $("#ToDate").attr("disabled", "disabled");
                            $('#btnFilter').attr("disabled", "disabled");
                        }
                    });
                }
                else {
                    e.stopPropagation();
                    $("#FromDate").removeAttr("disabled");
                    $("#ToDate").removeAttr("disabled");
                    $('#btnFilter').removeAttr("disabled");

                }
            });


            $("#btnBack").show();
            $(document).on('click', '#btnBack', function () {
                location.href = "/admin";
            });

            $('.toggleDataFilters').on('click', function (e) {
                e.stopPropagation();
                $(this).siblings('.report-filters').slideToggle();

            })
            $('.report-filters label').on('click', function (e) {
                if (!$(this).hasClass('lblDateRangeFilter')) {
                    let filterType = $(this).text();

                    $(this).parent().closest('.report-filters').delay(300).slideToggle();
                    //$(this).closest('.report-filters').parent().find('.selectedFilter').fadeOut(10).fadeIn().text('by ' + filterType);
                    $('#selectedFilter').html('');
                    $('#selectedFilter').fadeOut(10).fadeIn().html('by ' + filterType);
                }
                else {
                    e.stopPropagation();
                }
            });
            $('#btnFilter').on('click', function () {
                let fromDate = $('#FromDate').val();
                let toDate = $('#ToDate').val();
                $(this).parent().closest('.report-filters').delay(300).slideToggle();
                // $(this).closest('.report-filters').parent().find('.selectedFilter').fadeOut(10).fadeIn().html('by Date range' + ' From - <span class="text-info">' + fromDate + '</span> To - <span class="text-info">' + toDate + '</span>');
                $('#selectedFilter').html('');
                $('#selectedFilter').fadeOut(10).fadeIn().html('by Date range' + ' From - <span class="text-info">' + fromDate + '</span> To - <span class="text-info">' + toDate + '</span>');
            })

            $(document).on("click", function (event) {
                //event.stopPropagation();
                if ($("#filterSelection_6").prop("checked") == false) {
                    $(".report-filters").slideUp();
                }

            });

        });



        function getReportData() {
            var FromDate = $('#FromDate').val();
            var ToDate = $('#ToDate').val();
            $.ajax({
                url: '/SchoolInfo/Reports/GetReportDetails',
                type: "POST",
                data: { id: 0, FromDate: FromDate, ToDate: ToDate },
                success: function (report) {
                    $("#ReportDatabind").html('');
                    $("#ReportDatabind").html(report);
                }
            })
        }

    </script>
}
