﻿@*@model Phoenix.Models.ReportDashboard*@
@model Phoenix.Models.LoginDetailData
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization
@using Phoenix.Models;
@using Phoenix.Common.Helpers.Extensions
@{

    var rnd = DateTime.Now.Ticks.ToString();
    List<Data> dataObj = new List<Data>();
    //if (Model.Assignments.Count() > 0)
    //{
    //    dataObj.Add(new Data { Name = ResourceManager.GetString("Assignment.Assignment.CompletedByStudent"), Value = Model.Assignments.FirstOrDefault().CompletedByStudent });
    //    dataObj.Add(new Data { Name = ResourceManager.GetString("Assignment.Assignment.CompletedByTeacher"), Value = Model.Assignments.FirstOrDefault().CompletedByTeacher });
    //}
}
<style>
    .card-body-min-height {
        height: 525px;
        /*max-height:420px;
        overflow-y:scroll;*/
    }

    .card-body-col-5 {
    }

    .card-body-col-7 {
    }

    .quiz-tooltip .caption {
        font-weight: 500;
    }

    td.details-control {
        background: url('../../Content/VLE/img/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../../Content/VLE/img/details_close.png') no-repeat center center;
    }

    .count-box .count {
        font-size: 18px;
        font-weight: 600;
    }

    .count-box article {
        background: #EDEFF4;
    }
</style>

<input type="hidden" id="UserId" value="@SessionHelper.CurrentSession.Id" />
<div class="mt-2 mb-4 clearfix">
    <!-- date selection start -->

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="title-with-fields">
                        <h3 class="card-title text-bold">@ResourceManager.GetString("School.Report.Filters")</h3>
                        <div class="title-fields d-none">
                            @if (SessionHelper.CurrentSession.UserTypeId == 5)
                            {
                                <a href="/SchoolInfo/Reports/GetReportDetails" class="m-0 text-uppercase mr-2 ">@ResourceManager.GetString("School.Report.MoreReports")</a>
                            }
                        </div>
                    </div>

                    <div class="filter-fields column-padding pt-3 pb-3 bg-white report-date-filters">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="md-form md-outline date-time-picker field-with-icon mb-0 mt-1 arabictxt">
                                    <i class="far fa-calendar-alt"></i>
                                    <input type="text" id="FromDate" name="FromDate" placeholder="Now" class="form-control date-picker" />
                                    <label for="FromDate" class="">@ResourceManager.GetString("Shared.Labels.FromDate")</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="md-form md-outline date-time-picker field-with-icon mb-0 mt-1 arabictxt">
                                    <i class="far fa-calendar-alt"></i>
                                    <input type="text" id="ToDate" name="ToDate" placeholder="Now" class="form-control date-picker" />
                                    <label for="ToDate" class="">@ResourceManager.GetString("Shared.Labels.ToDate")</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                @if (SessionHelper.CurrentSession.UserTypeId == 5)
                                {
                                    var sessionSchoolId = SessionHelper.CurrentSession.SchoolId == 0 ? (ViewBag.SchoolList as List<SchoolInformation>).FirstOrDefault().SchoolId : SessionHelper.CurrentSession.SchoolId;
                                    var schoolList = new SelectList(ViewBag.SchoolList, "SchoolId", "SchoolName", sessionSchoolId).ToList();
                                    //schoolList.Insert(0, new SelectListItem { Text = "All Schools", Value = "0" });


                                    <div class="md-form md-outline field-with-icon mb-0 mt-1">
                                        @Html.DropDownList("SchoolId", schoolList, new { @id = "SchoolId", @class = "selectpicker schoolSelection", @data_live_Search = "true" })

                                    </div>

                                }
                                else
                                {
                                    <input type="hidden" id="SchoolId" value="@SessionHelper.CurrentSession.SchoolId" />

                                }
                            </div>
                            <div class="col-lg-2 col-md-3 col-12 d-none">
                                <input type="button" id="btnFilter" class="btn btn-primary mt-1 mb-0 pt-2 pb-2" value="@ResourceManager.GetString("School.Report.FilterData")">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        bool showLogin = Phoenix.Common.Helpers.SessionHelper.CurrentSession.UserTypeId > 3;
    }
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="filterData assignment mt-4 column-padding pb-3">
                        <div class="row">
                            @if (showLogin)
                            {
                                <div class="col-12 col-md-4 col-lg-4 col-xl-4 count-box pb-2 pb-lg-0" data-type="TotalLogins">
                                    <article class="border rounded">
                                        <a href="javascript:void(0)" data-section="login" id="logins-data-card" onclick="reports.loadSections(this)" data-container="#section-login" data-url="/SchoolInfo/Reports/GetSchoolLoginReport" class="d-block p-3 @(showLogin ? "btn-primary" : "")">
                                            <h5 class="m-0">@ResourceManager.GetString("Shared.Login.Logins")</h5>
                                        </a>
                                    </article>
                                </div>
                            }
                            <div class="col-12 @(showLogin ? "col-md-4 col-lg-4 col-xl-4" : "col-md-4 col-lg-6 col-xl-6") count-box pb-2 pb-lg-0" data-type="TeacherLogin">
                                <article class="border rounded">
                                    <a href="javascript:void(0)" data-section="assignment" id="assignment-card" data-container="#section-login" data-type="html" data-url="" class="d-block p-3 @(!showLogin ? "btn-primary" : "")">
                                        <h5 class="m-0">@ResourceManager.GetString("Dashboard.labels.Assignments")</h5>
                                    </a>
                                </article>
                            </div>
                            <div class="col-12 @(showLogin ? "col-md-4 col-lg-4 col-xl-4" : "col-md-4 col-lg-6 col-xl-6") count-box pb-2 pb-lg-0o" data-type="StudentLogin">
                                <article class="border rounded">
                                    <a href="javascript:void(0)" data-section="quiz" id="quiz-card" data-container="#section-quiz" data-type="json" class="d-block p-3">
                                        <h5 class="m-0">@ResourceManager.GetString("Quiz.Quiz.Quiz")</h5>
                                    </a>
                                </article>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Logins section start-->
    <div id="section-login" class="login-section">
        @if (Model != null)
        {
            @Html.Partial("_SchoolLoginReport", Model);
        }
        else
        {
            <span class="no-data-found d-block mx-auto my-auto">
                @string.Format(ResourceManager.GetString("School.Report.NoDataDisplayMessage"))
            </span>
        }
    </div>




    <!-- date selection end -->
    <!-- login data start -->
    @*@if (SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.UserTypeId == 5)
        {

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="align-items-baseline align-items-md-center flex-column flex-md-row title-with-fields">
                                <h3 class="card-title text-bold">@ResourceManager.GetString("Shared.Login.Logins") <span class="text-regular">@ResourceManager.GetString("School.Blog.UniquePerDay")</span></h3>
                                <h6 class="m-0">@ResourceManager.GetString("School.Blog.LoginsTillDate") <span id="TotalLoginTillDate"><span class="arabictxt">0</span></span></h6>
                            </div>
                            <div class="filterData assignment mt-4 column-padding pb-3">
                                <div class="row">
                                    <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box login-count pb-2 pb-lg-0" data-type="TotalLogins">
                                        <article class="border rounded">
                                            <a href="javascript:void(0)" class="d-block p-3">
                                                <h5 class="m-0">@ResourceManager.GetString("School.Blog.TotalLogins")</h5>
                                                <span id="TotalLogins" class="count arabictxt">0</span>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box login-count pb-2 pb-lg-0" data-type="TeacherLogin">
                                        <article class="border rounded">
                                            <a href="javascript:void(0)" class="d-block p-3">
                                                <h5 class="m-0">@ResourceManager.GetString("School.Blog.TeacherLogins")</h5>
                                                <span id="TeacherLogins" class="count arabictxt">0</span>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box login-count pb-2 pb-lg-0o" data-type="StudentLogin">
                                        <article class="border rounded">
                                            <a href="javascript:void(0)" class="d-block p-3">
                                                <h5 class="m-0">@ResourceManager.GetString("School.Blog.StudentLogins")</h5>
                                                <span id="StudentLogins" class="count arabictxt">0</span>
                                            </a>
                                        </article>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-4 col-xl-3 count-box login-count" data-type="ParentLogin">
                                        <article class="border rounded">
                                            <a href="javascript:void(0)" class="d-block p-3">
                                                <h5 class="m-0">@ResourceManager.GetString("School.Blog.ParentLogins")</h5>
                                                <span id="ParentLogins" class="count arabictxt">0</span>
                                            </a>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }*@
    <!-- login data end -->
    <div class="row assignment-section d-none">
        <div class="col-xl-5 col-lg-5 col-md-5 col-12 ">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title text-bold">@ResourceManager.GetString("Dashboard.labels.Assignments")</h3>
                    <h3 id="AssignmentChartDiv" class="sub-heading column-padding pt-3 pb-3 bg-white"></h3>
                    <div id="AssignmentChartContainer" class="column-padding pt-3 pb-3 bg-white"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-12 mt-3 mt-sm-0">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title text-bold">@ResourceManager.GetString("School.Blog.AssignmentsByGroup")</h3>

                    <div id="GroupReportContainer" class="column-padding pt-2 pb-3 bg-white">

                        @*@if (Model.GroupAssignments.Count() > 0)
                            {
                                @Html.Partial("_GroupReport", Model.GroupAssignments)
                            }
                            else
                            {
                                <span class="no-data-found d-block mx-auto my-auto">
                                    @string.Format(ResourceManager.GetString("School.Report.NoDataDisplayMessage"))
                                </span>
                            }*@
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-3 assignment-section d-none">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12 ">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title text-bold">@ResourceManager.GetString("School.Blog.AssignmentsByTeacher")</h3>
                    <div id="TeacherAssignmentsReportContainer" class="column-padding pt-2 pb-3 bg-white">
                        @*@if (Model.TeacherAssignments.Count() > 0)
                            {
                                @Html.Partial("_TeacherAssignmentReport", Model.TeacherAssignments)
                            }
                            else
                            {
                                <span class="no-data-found d-block mx-auto my-auto">
                                    @string.Format(ResourceManager.GetString("School.Report.NoDataDisplayMessage"))
                                </span>
                            }*@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-12 mt-3 mt-sm-0">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title text-bold">@ResourceManager.GetString("School.Blog.AssignmentsByStudent")</h3>
                    <div id="StudentAssignmentsReportContainer" class="column-padding pt-2 pb-3 bg-white">
                        @*@if (Model.StudentAssignments.Count() > 0)
                            {
                                @Html.Partial("_StudentAssignmentReport", Model.StudentAssignments)
                            }
                            else
                            {
                                <span class="no-data-found d-block mx-auto my-auto">
                                    @string.Format(ResourceManager.GetString("School.Report.NoDataDisplayMessage"))
                                </span>
                            }*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 quiz-section d-none">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 ">
            <div class="card h-100">
                <div class="card-body text-bold">
                    <div class="align-items-baseline flex-column flex-md-row justify-content-md-between justify-content-start title-with-fields">
                        <h3 class="card-title text-bold">@ResourceManager.GetString("School.Blog.QuizReportGraph")</h3>

                        @if (SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.UserTypeId == 5)
                        {
                            <div class="title-fields">
                                <label class="mt-3"><strong>@ResourceManager.GetString("Quiz.Quiz.Teacher") :</strong></label>
                                <div class="nav-item dropdown mt-3 mr-3">
                                    <div class="dropdown bootstrap-select schoolSelection">
                                        @Html.DropDownList("teacherListDropdown", new SelectList(ViewBag.TeacherList, "Value", "Text"), new { id = "teacherListDropdown", @class = "selectpicker", @data_live_Search = "true", data_size = "10" })
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <h3 id="QuizReportChartDiv" class="sub-heading column-padding pt-3 pb-3 bg-white"></h3>
                    <div id="QuizReportChartContainer" class="column-padding pt-2 pb-3 bg-white">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="childQuizReportModalView"></div>
</div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.header = '@ResourceManager.GetString("School.Blog.Header")';
        translatedResources.title = '@ResourceManager.GetString("School.Blog.Title")';
        translatedResources.description = '@ResourceManager.GetString("School.Blog.Description")';
        translatedResources.blogimage = '@ResourceManager.GetString("School.Blog.BlogImage")';
         translatedResources.publish = '@ResourceManager.GetString("School.Blog.Publish")';
        translatedResources.createdby = '@ResourceManager.GetString("School.Blog.CreatedBy")';
        translatedResources.createdon = '@ResourceManager.GetString("School.Blog.CreatedOn")';
        translatedResources.extensionalert = '@ResourceManager.GetString("School.Blog.ExtensionAlert")';
        translatedResources.sizealert = '@ResourceManager.GetString("School.Blog.SizeAlert")';

        translatedResources.TotalLogins = '@ResourceManager.GetString("School.Blog.TotalLogins")';
        translatedResources.TeacherLogins = '@ResourceManager.GetString("School.Blog.TeacherLogins")';
        translatedResources.StudentLogins = '@ResourceManager.GetString("School.Blog.StudentLogins")';
        translatedResources.ParentLogins = '@ResourceManager.GetString("School.Blog.ParentLogins")';
        translatedResources.TotalQuiz = '@ResourceManager.GetString("School.Blog.TotalQuiz")';

        translatedResources.Assignments = '@ResourceManager.GetString("Dashboard.labels.Assignments")';
        translatedResources.QuizReportGraph = '@ResourceManager.GetString("School.Blog.QuizReportGraph")';
        translatedResources.AbuseReportGraph = '@ResourceManager.GetString("School.Blog.AbuseReportGraph")';

        translatedResources.NoData =  '@ResourceManager.GetString("Shared.Labels.NoRecords")';
    </script>
    <!-- Reference either Knockout or AngularJS, if you do -->
    <script src="@Url.Content("~/Content/js/devExpress/knockout-min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/devExpress/angular.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    <!-- DevExtreme themes -->
    <link href="@Url.Content("~/Content/css/devExpress/dx.common.css")">
    <link href="@Url.Content("~/Content/css/devExpress/dx.light.css")">

    <!-- DevExtreme library -->
    <script src="@Url.Content("~/Content/js/devExpress/dx.all.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    @*<script src="@Url.Content("~/Content/js/addons/bootstrap-datetimepicker.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>*@
    <script src="@Url.Content("~/Content/js/custom/SchoolInfo/Reports.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script language="javascript">
        $(document).ready(function () {

            var nowTemp = new Date();
            var stDate = new Date(nowTemp.getFullYear(), (nowTemp.getMonth()), (nowTemp.getDate()-15), 0, 0, 0, 0);
            var endDate = new Date(nowTemp.getFullYear(), (nowTemp.getMonth()), nowTemp.getDate(), 0, 0, 0, 0);
            var StartDate = $('#FromDate').datetimepicker({
                format: 'DD-MMM-YYYY',
                // minDate: (new Date()-90),
                maxDate: endDate,
                locale: translatedResources.locale,
                date: stDate
            }).on('dp.change', function (ev) {
                console.log(EndDate.viewDate().valueOf());
                console.log(ev.date.valueOf());
                if (ev.date.valueOf() > EndDate.viewDate().valueOf()) {
                    globalFunctions.showWarningMessage('@ResourceManager.GetString("Planner.MyPlanner.StartTimeWarning")');
                    $('#FromDate').data("DateTimePicker").date(ev.oldDate);
                }
                else if (ev.date.valueOf() < EndDate.viewDate().valueOf()) {
                    var maxDt = new Date(ev.date);
                    maxDt.setDate(maxDt.getDate() + 90)
                    //console.log(maxDt);
                    if (maxDt.valueOf() <= EndDate.viewDate().valueOf()) {
                        $('#ToDate').data("DateTimePicker").maxDate(maxDt);

                    }
                    else {
                        $('#ToDate').data("DateTimePicker").maxDate(endDate);
                    }
                }
                reports.setStartDateEndDate(globalFunctions.toSystemReadableDate($("#FromDate").val()), globalFunctions.toSystemReadableDate($("#ToDate").val()));
                $("a[data-section].btn-primary").trigger("click");
                }).data("DateTimePicker");


            var EndDate = $('#ToDate').datetimepicker({
               format: 'DD-MMM-YYYY',
                maxDate: endDate,
                locale: translatedResources.locale,
                date: edDate
            }).on('dp.change', function (ev) {

                if (ev.date.valueOf() < StartDate.viewDate().valueOf()) {
                    globalFunctions.showWarningMessage('@ResourceManager.GetString("Planner.MyPlanner.EndDateWarning")');
                    $('#ToDate').data("DateTimePicker").date(ev.oldDate);
                }
                else if (ev.date.valueOf() <= StartDate.viewDate().valueOf()) {

                    var minDt = new Date(ev.date);
                    minDt.setDate(minDt.getDate() - 90)
                    //console.log(minDt);
                    if (minDt.valueOf() >= StartDate.viewDate().valueOf()) {
                        $('#FromDate').data("DateTimePicker").minDate(minDt);
                        $('#ToDate').data("DateTimePicker").minDate(minDt);
                    }
                    else {
                        $('#FromDate').data("DateTimePicker").minDate(stDate);
                        $('#ToDate').data("DateTimePicker").minDate(stDate);
                    }
                }
                reports.setStartDateEndDate(globalFunctions.toSystemReadableDate($("#FromDate").val()), globalFunctions.toSystemReadableDate( $("#ToDate").val()));
                $("a[data-section].btn-primary").trigger("click");
                }).data("DateTimePicker");
            //$("#FromDate").val(globalFunctions.getFormattedDate(stDate));
            //$("#ToDate").val(globalFunctions.getFormattedDate(endDate));


            //reports.loadDashBoard(@SessionHelper.CurrentSession.SchoolId, stDate.toISOString(), endDate.toISOString(), @SessionHelper.CurrentSession.Id, null);

            @*var assignmentData = @(Html.Raw(Json.Encode(dataObj)) );
            var abuseReportData = @(Html.Raw(Json.Encode(Model.AbuseReportGraph)) );
            var loginsData =  @(Html.Raw(Json.Encode(Model.Logins)) );
            var quizReportData =  @(Html.Raw(Json.Encode(Model.QuizReportData)) );*@
            reports.setStartDateEndDate(stDate.toISOString(), endDate.toISOString());
            //reports.bindFirstTimeLoginsData(loginsData);
            //reports.getAssignmentChartData(assignmentData);
            //reports.getAbuseReportChartData(abuseReportData);
            //reports.getQuizReportChartData(quizReportData);

            var _dataTableLangSettings = {
                "sEmptyTable": translatedResources.noData,
                "sInfo": translatedResources.sInfo,
                "sInfoEmpty": translatedResources.sInfoEmpty,
                "sInfoFiltered": translatedResources.sInfoFiltered,
                "sInfoPostFix": "",
                "sInfoThousands": ",",
                "sLengthMenu": translatedResources.sLengthMenu,
                "sLoadingRecords": "Loading...",
                "sProcessing": "Processing...",
                "sSearch": translatedResources.search,
                "sZeroRecords": translatedResources.sZeroRecords,
                "oPaginate": {
                    "sFirst": translatedResources.first,
                    "sLast": translatedResources.last,
                    "sNext": translatedResources.next,
                    "sPrevious": translatedResources.previous
                },
                "oAria": {
                    "sSortAscending": translatedResources.sSortAscending,
                    "sSortDescending": translatedResources.sSortDescending
                }
            };

            $("#tbl-GroupReport").DataTable({ "iDisplayLength": 5, "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]], "oLanguage": _dataTableLangSettings });
            $("#tbl-GroupReport_length").hide();
            $("#tbl-GroupReport_filter").hide();
            $("#GroupReportSearch").on("input", function (e) {
                e.preventDefault();
                $('#tbl-GroupReport').DataTable().search($(this).val()).draw();
            });

            //$("#tbl-ChatterGroupReport").DataTable({
            //    "iDisplayLength": 5,
            //    "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
            //    "order": [[1, 'desc']],
            //    "oLanguage": _dataTableLangSettings
            //}
            //);
            //$("#tbl-ChatterGroupReport_length").hide();
            //$("#tbl-ChatterGroupReport_filter").hide();
            //$("#ChatterGroupSearch").on("input", function (e) {
            //    e.preventDefault();
            //    $('#tbl-ChatterGroupReport').DataTable().search($(this).val()).draw();
            //});

            $("#tbl-TeacherAssignmentReport").DataTable({ "iDisplayLength": 5, "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]], "oLanguage": _dataTableLangSettings });
            $("#tbl-TeacherAssignmentReport_length").hide();
            $("#tbl-TeacherAssignmentReport_filter").hide();
            $("#TeacherAssignmentsSearch").on("input", function (e) {
                e.preventDefault();
                $('#tbl-TeacherAssignmentReport').DataTable().search($(this).val()).draw();
            });

            $("#tbl-StudentAssignmentReport").DataTable({ "iDisplayLength": 5, "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]], "oLanguage": _dataTableLangSettings });
            $("#tbl-StudentAssignmentReport_length").hide();
            $("#tbl-StudentAssignmentReport_filter").hide();
            $("#StudentAssignmentsSearch").on("input", function (e) {
                e.preventDefault();
                $('#tbl-StudentAssignmentReport').DataTable().search($(this).val()).draw();
            });

            //$("#tbl-AbuseReport").DataTable({ "iDisplayLength": 5, "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]], "oLanguage": _dataTableLangSettings });
            //$("#tbl-AbuseReport_length").hide();
            //$("#tbl-AbuseReport_filter").hide();
            //$("#AbuseReportSearch").on("input", function (e) {
            //    e.preventDefault();
            //    $('#tbl-AbuseReport').DataTable().search($(this).val()).draw();
            //});
            reports.setStartDateEndDate(globalFunctions.toSystemReadableDate($("#FromDate").val()), globalFunctions.toSystemReadableDate( $("#ToDate").val()));
            if ($("#logins-data-card").length == 0)
                $("#assignment-card").trigger("click");
 });


    </script>


}
