﻿@model IEnumerable<Phoenix.Models.TeacherAssignment>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@{
    /**/

    ViewBag.Title = ResourceManager.GetString("School.Blog.AssignmentsByTeacher");
    var startDate = ViewBag.Fromdate;
    var endDate = ViewBag.ToDate;
    var selectedSchoolId = ViewBag.SchoolId;
}
<input type="hidden" id="UserId" value="@SessionHelper.CurrentSession.Id" />
<input type="hidden" id="hdnStartDate" value="@startDate" />
<input type="hidden" id="hdnEndDate" value="@endDate" />
<input type="hidden" id="hdnSelectedSchoolId" value="@selectedSchoolId" />
<div class="mt-2 mb-4 clearfix">
    <!-- date selection start -->

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="title-with-fields">
                        <h3 class="card-title">@ResourceManager.GetString("School.Report.Filters")</h3>
                    </div>

                    <div class="filter-fields column-padding pt-3 pb-3 bg-white report-date-filters">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-12">
                                <div class="md-form md-outline date-time-picker field-with-icon mb-0 mt-1 arabictxt">
                                    <i class="far fa-calendar-alt"></i>
                                    <input type="text" id="FromDate" name="FromDate" placeholder="Now" class="form-control date-picker" />
                                    <label for="FromDate" class="">@ResourceManager.GetString("Shared.Labels.FromDate")</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-12">
                                <div class="md-form md-outline date-time-picker field-with-icon mb-0 mt-1 arabictxt">
                                    <i class="far fa-calendar-alt"></i>
                                    <input type="text" id="ToDate" name="ToDate" placeholder="Now" class="form-control date-picker" />
                                    <label for="ToDate" class="">@ResourceManager.GetString("Shared.Labels.ToDate")</label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                @if (SessionHelper.CurrentSession.UserTypeId == 5)
                                {
                                    var sessionSchoolId = SessionHelper.CurrentSession.SchoolId == 0 ? ViewBag.SchoolList.FirstOrDefault().SchoolId : SessionHelper.CurrentSession.SchoolId;
                                    var schoolList = new SelectList(ViewBag.SchoolList, "SchoolId", "SchoolName", sessionSchoolId).ToList();
                                    schoolList.Insert(0, new SelectListItem { Text = "All Schools", Value = "0" });


                                    <div class="md-form md-outline field-with-icon mb-0 mt-1">
                                        @Html.DropDownList("SchoolId", schoolList, new { @id = "SchoolId", @class = "selectpicker schoolSelection", @data_live_Search = "true" })

                                    </div>

                                }
                                else
                                {
                                    <input type="hidden" id="SchoolId" value="@selectedSchoolId" />

                                }
                            </div>
                            <div class="col-lg-2 col-md-2 col-12">
                                <input type="button" id="btnFilterTeacherAssignmentsData" class="btn btn-primary mt-1 mb-0 pt-2 pb-2" value="@ResourceManager.GetString("School.Report.FilterData")">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- date selection end -->

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@ResourceManager.GetString("School.Blog.AssignmentsByTeacher")</h3>
                    <div id="TeacherAssignmentsReportContainer" class="column-padding pt-2 pb-3 bg-white">
                        @if (Model.Count() > 0)
                        {
                            using (Html.BeginForm("DownloadReportDataAsPDF", "Reports", FormMethod.Post, new { id = "frmAssignmentsByTeacherReport", @class = "form-horizontal" }))
                            {
                                <div class="row mt-2 pb-3">
                                    <div class="col-lg-8 col-md-8 col-8">
                                        <div class="search-with-bg">
                                            <i class="fa fa-search"></i>
                                            <input type="search" id="TeacherAssignmentsSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="float-none float-sm-right">
                                            <button type="submit" name="action:DownloadReportToExcel" title="@ResourceManager.GetString("Shared.Buttons.DownloadExcel")" data-toggle="tooltip" class="float-right p-0 border-0 bg-transparent"><i class="fas fa-file-excel ic-file-excel fa-2x"></i></button>
                                        </div>
                                        <div class="float-none float-sm-right mr-2">
                                            <input type="hidden" name="reportName" value="AssignmentsByTeacher" />
                                            <button type="submit" name="action:DownloadReportToPDF" title="@ResourceManager.GetString("Shared.Buttons.DownloadPDF")" data-toggle="tooltip" class="float-right p-0 border-0 bg-transparent"><i class="fas fa-file-pdf ic-file-pdf fa-2x"></i></button>
                                        </div>
                                    </div>
                                </div>

                            }

                            <div class="table-wrapper table-responsive-md">
                                <table id="tbl-TeacherAssignmentReport" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>@ResourceManager.GetString("StudentInformation.Endorsement.Teacher")</th>
                                            <th>@ResourceManager.GetString("School.Blog.Assignments")</th>
                                            <th>@ResourceManager.GetString("School.Blog.FilesAttached")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="assignment-by-teacher-label cursor-pointer" data-teacherId="@EncryptDecryptHelper.EncodeBase64(item.Id.ToString())">@item.Teacher</td>
                                                <td>@item.TotalAssignments</td>
                                                <td>@item.TotalFiles</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        }
                        else
                        {
                            <span class="no-data-found d-block mx-auto my-auto"></span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="@Url.Content("~/Content/VLE/js/jquery-3.3.1.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
<script src="@Url.Content("~/Content/js/custom/SchoolInfo/Reports.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
<script src="@Url.Content("~/Content/js/custom/SchoolInfo/ReportFilter.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

<script>
    $(document).ready(function () {
        var _dataTableLangSettings = {
            "sEmptyTable": translatedResources.noData,
            "sInfo": translatedResources.sInfo,
            "sInfoEmpty": translatedResources.sInfoEmpty,
            "sInfoFiltered": translatedResources.sInfoFiltered,
            "sInfoPostFix": "",
            "sInfoThousands": ",",
            "sLengthMenu": translatedResources.sLengthMenu,
            "sLoadingRecords": "Loading...",
            "sProcessing": "Processing...",
            "sSearch": translatedResources.search,
            "sZeroRecords": translatedResources.sZeroRecords,
            "oPaginate": {
                "sFirst": translatedResources.first,
                "sLast": translatedResources.last,
                "sNext": translatedResources.next,
                "sPrevious": translatedResources.previous
            },
            "oAria": {
                "sSortAscending": translatedResources.sSortAscending,
                "sSortDescending": translatedResources.sSortDescending
            }
        };
        $("#tbl-TeacherAssignmentReport").DataTable({
            "iDisplayLength": 5, "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
            "oLanguage": _dataTableLangSettings });

        $("#tbl-TeacherAssignmentReport_length").hide();
        $("#tbl-TeacherAssignmentReport_filter").hide();
        $("#TeacherAssignmentsSearch").on("input", function (e) {
            e.preventDefault();
            $('#tbl-TeacherAssignmentReport').DataTable().search($(this).val()).draw();
        });

        reports.setStartDateEndDate(globalFunctions.toSystemReadableDate($("#FromDate").val()), globalFunctions.toSystemReadableDate($("#ToDate").val()));
    });
</script>
