﻿@using SMS.Web.Areas.SMS.Model.Common
@model SMS.Web.Areas.SMS.Model.Attendance
<div class="table-responsive-md">
    <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row"></div>
        <div class="row">
            <div class="col-sm-12">
                <table id="example" class="table table-hover table-bordered dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="example_info">
                    <thead>
                        <tr role="row">
                            <th class="text-center no-sort " rowspan="1" colspan="1" aria-label="&amp;nbsp;" style="width: 97px;"><input type="checkbox" id="selectall" /></th>
                            <th class="" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" style="width: 200px;" aria-sort="ascending">Name</th>
                            <th class="text-center no-sort" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Period 1: activate to sort column ascending" style="width: 82px;">Period 1</th>
                            <th class="text-center no-sort" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Period 2: activate to sort column ascending" style="width: 82px;">Period 2</th>
                            <th class="text-center no-sort" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Period 3: activate to sort column ascending" style="width: 82px;">Period 3</th>
                            <th class="text-center no-sort" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Period 4: activate to sort column ascending" style="width: 82px;">Period 4</th>
                            <th class="text-center no-sort" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Period 5: activate to sort column ascending" style="width: 82px;">Period 5</th>
                            <th class="text-center no-sort" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Period 6: activate to sort column ascending" style="width: 82px;">Period 6</th>
                            <th class="text-center no-sort" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Period 7: activate to sort column ascending" style="width: 82px;">Period 7</th>
                            <th class="text-center no-sort" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Period 8: activate to sort column ascending" style="width: 82px;">Period 8</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd">
                            <td>
                                <div class="user-action nopad">

                                    <label class="image-checkbox">
                                        <img class="stud-grid-profile" src="~/Content/img/SIMS/student1.png" />
                                        <input type="checkbox" name="image[]" value="" />
                                        <i class="fa fa-check hidden"></i>
                                    </label>

                                </div>
                            </td>
                            <td class="sorting_1 text-bold">Abhijit K</td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-times fa-color-danger"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-times fa-color-danger"></i></td>
                        </tr>
                        <tr role="row" class="even">
                            <td>
                                <div class="user-action nopad">

                                    <label class="image-checkbox">
                                        <img class="stud-grid-profile" src="~/Content/img/SIMS/student2.png" />
                                        <input type="checkbox" name="image[]" value="" />
                                        <i class="fa fa-check hidden"></i>
                                    </label>

                                </div>
                            </td>
                            <td class="sorting_1 text-bold">Dhruv Charan</td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-minus fa-color-warning"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td>
                                <div class="user-action nopad">

                                    <label class="image-checkbox">
                                        <img class="stud-grid-profile" src="~/Content/img/SIMS/student3.png" />
                                        <input type="checkbox" name="image[]" value="" />
                                        <i class="fa fa-check hidden"></i>
                                    </label>

                                </div>
                            </td>
                            <td class="sorting_1 text-bold">James Nixon</td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-minus fa-color-warning"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-times fa-color-danger"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                        </tr>
                        <tr role="row" class="even">
                            <td>
                                <div class="user-action nopad">

                                    <label class="image-checkbox">
                                        <img class="stud-grid-profile" src="~/Content/img/SIMS/student4.png" />
                                        <input type="checkbox" name="image[]" value="" />
                                        <i class="fa fa-check hidden"></i>
                                    </label>

                                </div>
                            </td>
                            <td class="sorting_1 text-bold">Suresh B</td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td>
                                <div class="user-action nopad">

                                    <label class="image-checkbox">
                                        <img class="stud-grid-profile" src="~/Content/img/SIMS/student2.png" />
                                        <input type="checkbox" name="image[]" value="" />
                                        <i class="fa fa-check hidden"></i>
                                    </label>

                                </div>
                            </td>
                            <td class="sorting_1 text-bold">Tiger Morris</td>
                            <td class="text-center"><i class="fa fa-2x fa-times fa-color-danger"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-times fa-color-danger"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-times fa-color-danger"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                        </tr>
                        <tr role="row" class="even">
                            <td>
                                <div class="user-action nopad">

                                    <label class="image-checkbox">
                                        <img class="stud-grid-profile" src="~/Content/img/SIMS/student4.png" />
                                        <input type="checkbox" name="image[]" value="" />
                                        <i class="fa fa-check hidden"></i>
                                    </label>

                                </div>
                                <!--<div class="user-action">
                                    <span data-toggle="modal" data-target=".contactDetails">
                                        <a href="javascript:void(0)" title="Contact details">
                                             <img class="stud-grid-profile" src="student4.png" />
                                        </a>
                                    </span>
                                </div>-->
                            </td>
                            <td class="sorting_1 text-bold">Tiger Nixon</td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td>
                                <div class="user-action nopad">

                                    <label class="image-checkbox">
                                        <img class="stud-grid-profile" src="~/Content/img/SIMS/student1.png" />
                                        <input type="checkbox" name="image[]" value="" />
                                        <i class="fa fa-check hidden"></i>
                                    </label>

                                </div>
                            </td>
                            <td class="sorting_1 text-bold">Vishal D</td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                            <td class="text-center"><i class="fa fa-2x fa-check fa-color-success"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>