﻿@model dynamic
@using Phoenix.VLE.Web.Models;
@using Phoenix.Common.Localization;
@{
    List<ClassAttendance> objClassAttendance = new List<ClassAttendance>();
    List<ClassAttendanceDetails> objClassAttendanceDetails = new List<ClassAttendanceDetails>();
    int configType = 0;
    int isDailyWeekly = 0;
    string togglabel = "dropdown";
    string csslstMarkAll = "d-none";
    if (ViewBag.configType != null)
    {
        configType = (int)ViewBag.configType;
    }

    if (configType == 1)
    {
        objClassAttendance = Model.ClassAttendanceHeaderList;
        objClassAttendanceDetails = Model.ClassAttendanceDetailsList;
        togglabel = "all-stud-expander";
        csslstMarkAll = "";
    }
    if (ViewBag.isDaiyWeekly != null)
    {
        isDailyWeekly = (int)ViewBag.isDaiyWeekly;
    }
}

<!-- students grid card -->
<div class="row grid-view">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="grid-list-card mt-0 p-0">
            <div class="grid-wrapper mt-0">
                <div class="grid-select align-items-center d-flex mb-2">
                    <div class="view-heading custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="selectall">
                        <label class="custom-control-label font-small pl-2" for="selectall">@ResourceManager.GetString("Attendance.Attendance.SelectAllStudents")</label>
                    </div>
                    <button type="button" class="mark-all-stud btn btn-sm btn-outline-primary ml-3 d-none">@ResourceManager.GetString("Attendance.Attendance.MarkAttendance")</button>
                </div>
                <!--custom expander content for Mark all Attendnace starts-->
                <div class="all-stud-expander mb-4 d-none position-relative">
                    <div class="attend-expand">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="card mb-0 px-4">
                                    <div class="row">
                                        <div id="divmrkAllDailyAttendance" class="col-lg-12 col-md-12 col-12 pr-4 pt-2 pb-3">
                                            <h3 class="mt-3">@ResourceManager.GetString("Attendance.Attendance.DailyAttendance")</h3>
                                            <div class="responsive-table">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th id="thCurrentDate" data-title="03-Jun-2020" class="text-center"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td data-title="03-Jun-2020" class="text-center">
                                                                <!--Attendance dropdown event starts-->
                                                                <a href="javascript:void(0)" class="d-inline-block nav-link p-0 text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span id="spnSelectAll">
                                                                        <i class="fas fa-2x fa-plus-circle text-default"></i>
                                                                    </span>

                                                                </a>
                                                                <div class="dropdown-menu dropdown-menu-right z-depth-2 pt-2 pb-2 w-25" style="z-index: 1034;">
                                                                    <a class="dropdown-item" id="aHref-selectAllPresent" data-isPresent="1" data-other="1" onclick="dailyAttendance.AppendStatusForSelected(this)" href="javascript:void(0)">@ResourceManager.GetString("Attendance.Attendance.Present") </a>
                                                                    <a class="dropdown-item" id="aHref-selectAllAbsent" data-isPresent="0" data-other="0" onclick="dailyAttendance.AppendStatusForSelected(this)" href="javascript:void(0)">@ResourceManager.GetString("Attendance.Attendance.Absent")  </a>
                                                                    <div class="dropdown-divider mb-0"></div>
                                                                    <h6 class="dropdown-header bg-light p-1 pl-2 mb-1 text-dark"><small class="text-uppercase"><strong>@ResourceManager.GetString("Attendance.Attendance.Others") </strong></small></h6>
                                                                    <div id="divOtherCategoryList" class="clsothercategorylst">

                                                                    </div>



                                                                </div>
                                                                <!--Attendance dropdown event starts-->
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="divmrkAllRoomAttendance" class="col-lg-12 col-md-12 col-12 pr-4 pt-2 pb-3">
                                            <div class="d-flex justify-content-between mt-3">
                                                <h3>Class Attendance</h3>
                                                <a href="javascript:void(0)" class="mt-n2 closeAttendance"><i class="fas fa-times"></i></a>
                                            </div>
                                            <div class="responsive-table">
                                                <table id="tblMarkAllClassAttendance" class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--custom expander content for Mark all Attendnace ends -->
                <ul id="ulStudentAttendanceDetails" class="student-attendance-wrap row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 grid-wrapper mt-2 w-100">
                </ul>
            </div>
            <div class="list-wrapper d-none">
                <div class="row">
                    <div class="col-12">
                        <div class="tabPanels defaultTabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li id="liDailyAttendance" class="nav-item text-center">
                                    <a class="nav-link active" id="btndailyAttendanceListing" data-toggle="tab" href="#dailyAttendanceListing" role="tab" aria-selected="true" onclick="dailyAttendance.DailyParameterHideShow()">
                                        @ResourceManager.GetString("Attendance.Attendance.DailyAttendance")
                                    </a>
                                </li>
                                <li id="liRoomAttendance" class="nav-item text-center">
                                    <a class="nav-link" id="btnroomAttendance" data-toggle="tab" href="#roomAttendance" role="tab" aria-selected="false" onclick="dailyAttendance.RoomParameterHideShow()">
                                        @ResourceManager.GetString("Attendance.Attendance.RoomAttendance")
                                    </a>
                                </li>
                                <li id="liMarkListAttendance" class="mt-2 nav-item text-center d-none">
                                    <button type="button" id="btnlistAttMarking" data-toggle="@togglabel" class="btn btn-sm btn-outline-primary ml-3">@ResourceManager.GetString("Attendance.Attendance.MarkAttendance")</button>
                                    @if (configType == 0)
                                    {


                                        <div class="dropdown-menu dropdown-menu-right z-depth-2 pt-2 pb-2 w-25" style="z-index: 1034;">
                                            <a class="dropdown-item" id="aHref-selectAllListPresent" data-isPresent="1" data-other="" onclick="dailyAttendance.AppendStatusForSelected(this)" href="javascript:void(0)"> @ResourceManager.GetString("Attendance.Attendance.Present")</a>
                                            <a class="dropdown-item" id="aHref-selectAllListAbsent" data-isPresent="0" data-other="" onclick="dailyAttendance.AppendStatusForSelected(this)" href="javascript:void(0)"> @ResourceManager.GetString("Attendance.Attendance.Absent")</a>
                                            <div class="dropdown-divider mb-0"></div>
                                            <h6 class="dropdown-header bg-light p-1 pl-2 mb-1 text-dark"><small class="text-uppercase"><strong>@ResourceManager.GetString("Attendance.Attendance.Others")</strong></small></h6>
                                            <div id="divSelectStatusForList" class="clsothercategorylst">

                                            </div>
                                        </div>
                                    }



                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active column-padding py-4" id="dailyAttendanceListing" role="tabpanel">
                                    @{ Html.RenderPartial("_DailyAttendanceListing");}
                                </div>
                                <div class="tab-pane fade column-padding py-4" id="roomAttendance" role="tabpanel">
                                    <!--custom expander content for Mark all Attendnace starts-->
                                    @if (configType == 1)
                                    {
                                        <div id="divMarkclassAttlst" class="all-stud-expander mb-2 d-none">
                                            <div class="attend-expand">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <div class="card mb-0 px-4">
                                                            <div class="row">

                                                                <div class="col-lg-12 col-md-12 col-12 pl-4 pt-2 pb-3">
                                                                    <div class="d-flex justify-content-between mt-3">
                                                                        <h3>Class Attendance</h3>
                                                                        <a href="javascript:void(0)" id="anchrCloseAtt" class="mt-n2 "><i class="fas fa-times"></i></a>
                                                                    </div>
                                                                    <div class="responsive-table">
                                                                        <table id="tblMarkClassAttList" class="table table-bordered">
                                                                            <thead>
                                                                                <tr>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <!--custom expander content for Mark all Attendnace ends -->
                                    @{ Html.RenderPartial("_ClassAttendanceListing");}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divFloatNav" class="d-none">

            </div>
            <div id="divFloatNavforRoom" class="d-none">

            </div>

        </div>
    </div>
</div>
<!-- students grid card end-->

<script type="text/javascript">

    dailyAttendance.studentDailyAttendanceModel = @Html.Raw(Json.Encode(Model));
    classAttendance.classAttendanceHeader = @objClassAttendance.Count()>0 ? @Html.Raw(Json.Encode(objClassAttendance)):classAttendance.classAttendanceHeader;

    classAttendance.classAttendanceDetails = @objClassAttendanceDetails.Count() > 0 ?  @Html.Raw(Json.Encode(objClassAttendanceDetails)):classAttendance.classAttendanceDetails;
    dailyAttendance.parameterList = @configType == 1 ?  @Html.Raw(Json.Encode(ViewBag.AttendanceType)): dailyAttendance.parameterList;

    idPresent = @configType == 1? dailyAttendance.parameterList.filter(x => x.Text.toUpperCase() == "PRESENT")[0].Value:idPresent;
    idAbsent = @configType == 1 ? dailyAttendance.parameterList.filter(x => x.Text.toUpperCase() == "ABSENT")[0].Value : idAbsent;
    isDailyWeekly = @Html.Raw(Json.Encode(isDailyWeekly))
        TeacherId = @Html.Raw(Json.Encode(ViewBag.TeacherId))
        AttendanceParameterShortCut =  @configType == 1 ?  @Html.Raw(Json.Encode(ViewBag.AttendanceParameterShortCut)): AttendanceParameterShortCut;
</script>