﻿
    <div class="table-wrapper">
        <table id="tblStudentDailyAttendance" class="table table-bordered table-hover table-responsive-md" cellspacing="0" width="100%">
            <thead>
                <tr>
                   
                </tr>
            </thead>
            <tbody>
              
            </tbody>
        </table>
    </div>