﻿
@model Phoenix.VLE.Web.Models.SubjectRoomAttendance

@{
    /**/


    var IdPresent = Model.lstOtherCategories.Where(e => e.ItemName.ToUpper() == "PRESENT").Select(e => e.ItemId).FirstOrDefault();
    var IdAbsent = Model.lstOtherCategories.Where(e => e.ItemName.ToUpper() == "ABSENT").Select(e => e.ItemId).FirstOrDefault();
    var MActive = Model.objTimeTable.Where(e => e.IsActive).ToList();
    var chkPClss = MActive.Count > 1 ? "" : "d-none";
    DateTime EntryDate = new DateTime();
    bool IsTimeTable = false;
    if (ViewBag.EntryDate != null)
    {
        EntryDate = (DateTime)ViewBag.EntryDate;
    }
    if (ViewBag.FromTimetable != null)
    {
        IsTimeTable = (bool)ViewBag.FromTimetable;

    }
    var periodNo = Model.objTimeTable.Any(x => x.IsActive) ? Model.objTimeTable.FirstOrDefault(x => x.IsActive).PeriodNo : 0;
    int periodNoCount = 0;
}
<style>
    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: transparent !important;
    }
</style>





<div class="student-attendance">
    <table id="room-attendance" class="table table-bordered table-responsive-md" cellspacing="0" width="100%">
        <thead>
            <tr>

                <th class="text-center">
                    <a href="javascript:void(0)" class="d-none" data-toggle="dropdown" id="plusShow" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-plus-circle fa-2x text-default"></i>
                    </a>
                    <div class="dropdown-menu">


                        <a class="dropdown-item" data-other="@IdPresent" href="javascript:void(0)" onclick="dailyRoomListBlock.dropdownMenuRoom(this,true)">Mark as Present</a>
                        <a class="dropdown-item" data-other="@IdAbsent" href="javascript:void(0)" onclick="dailyRoomListBlock.dropdownMenuRoom(this,true)">Mark as Absent</a>
                        <div class="dropdown-divider mb-0"></div>
                        <h6 class="dropdown-header bg-light p-1 pl-2 mb-1 text-dark"><small class="text-uppercase"><strong>Other</strong></small></h6>
                        <div class="clsothercategorylst">
                            @foreach (var lstOthcat in Model.lstOtherCategories.Where(e => e.ItemName != "PRESENT" && e.ItemName != "ABSENT"))
                            {

                                <a class="dropdown-item" data-other="@lstOthcat.ItemId" href="javascript:void(0)" onclick="dailyRoomListBlock.dropdownMenuRoom(this,true)">@lstOthcat.ItemName</a>



                            }
                        </div>

                    </div>

                    <input type="checkbox" class="custom-control-input selectAllStudents" id="chkallSelection" onchange="dailyRoomListBlock.SelectAll(this)">
                    <label class="custom-control-label text-medium text-uppercase" for="chkallSelection"></label>
                    @*<div id="divmultiselectmenu" class="att-status mr-2 mt-0 mb-n1" style="display: none;">
                            <div class="status-dd dropright m-0">
                                <a href="javascript:void(0)"  data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-plus-circle fa-2x text-default"></i>
                                </a>
                                <div class="dropdown-menu">


                                    <a class="dropdown-item" data-other="@IdPresent" href="javascript:void(0)" onclick="dailyRoomListBlock.dropdownMenu(this,true)">Mark as Present</a>
                                    <a class="dropdown-item" data-other="@IdAbsent" href="javascript:void(0)" onclick="dailyRoomListBlock.dropdownMenu(this,true)">Mark as Absent</a>
                                    <div class="dropdown-divider mb-0"></div>
                                    <h6 class="dropdown-header bg-light p-1 pl-2 mb-1 text-dark"><small class="text-uppercase"><strong>Other</strong></small></h6>
                                    <div class="clsothercategorylst">
                                        @foreach (var lstOthcat in Model.lstOtherCategories.Where(e => e.ItemName != "PRESENT" && e.ItemName != "ABSENT"))
                                        {

                                            <a class="dropdown-item" data-other="@lstOthcat.ItemId" href="javascript:void(0)" onclick="dailyRoomListBlock.dropdownMenu(this,true)">@lstOthcat.ItemName</a>



                                        }
                                    </div>

                                </div>
                            </div>
                        </div>*@
                </th>
                <th>


                    <span></span>
                    Student

                </th>
                @foreach (var subjectItem in Model.objRoomPeriodList)
                {

                    var data = Model.objRoomPeriodList.Where(x => x.IsActive).ToList();


                    var Mdetails = Model.objTimeTable.Where(e => e.PeriodNo == subjectItem.PeriodNo).FirstOrDefault();
                    if (Mdetails.IsActive)
                    {
                        periodNoCount++;
                    }

                    var cssClass = Mdetails.IsActive ? "bg-primary" : "";

                    <th class="text-center @(Mdetails.IsActive ? "activeDay" : "")">
                        Period @subjectItem.PeriodNo
                        @*<input type="checkbox" class="custom-control-input selectAllStudents" id="chkallPeriodNo" onchange="dailyRoomListBlock.SelectAll(this)">
                            <label class="custom-control-label text-medium text-uppercase" for="chkallPeriodNo"></label>*@

                        @if (periodNoCount > 1)
                        {
                            <input type="checkbox" class="custom-control-input selectAllStudents form-check-input @(cssClass == "bg-primary" ? chkPClss : "d-none")" id="chk_@subjectItem.PeriodNo" onclick="dailyRoomListBlock.RAForCheckActive(@subjectItem.PeriodNo)">
                            <label class="custom-control-label text-medium text-uppercase" for="chk_@subjectItem.PeriodNo"></label>
                        }

                    </th>

                }
            </tr>
        </thead>
        <tbody>


            @foreach (var stuItem in Model.objRoomAttendance)
            {
                var cssScannedStatus = stuItem.TransportDesc.Replace(" ", "").ToUpper() == "SCANNEDOUT" ? "scanned-out" : (stuItem.TransportDesc.Replace(" ", "").ToUpper() == "OWNTRANSPORT" ? "own-transport" : (stuItem.TransportDesc.Replace(" ", "").ToUpper() == "SCANNEDIN" ? "scanned-in" : ""));
                var svg = stuItem.TransportDesc.Replace(" ", "").ToUpper() == "OWNTRANSPORT" ? "img/svg/ic-car.svg" : "img/svg/ic-bus.svg";
                var DailyAtt = stuItem.DailyAttendance.Replace(" ", string.Empty).Length > 0 ? stuItem.DailyAttendance.Substring(0, 1) : stuItem.DailyAttendance;
                var DAcssClss = stuItem.DailyAttendance.Replace(" ", string.Empty).ToUpper() == "PRESENT" ? "badge-success" : (stuItem.DailyAttendance.Replace(" ", string.Empty).ToUpper() == "ABSENT" ? "badge-danger" : (stuItem.DailyAttendance.Replace(" ", string.Empty).ToUpper() == "UNMARKED" ? "badge-warning" : "badge-primary"));
                <tr>
                    <td class="text-center">
                        @*<input type="checkbox" class="clsStuCheckBox hidden" id="chk_@stuItem.Student_ID" data-stuId="@stuItem.Student_ID" onchange="dailyRoomListBlock.lstofstudentIds(@stuItem.Student_ID)" />
                            <label for="chk_@stuItem.Student_ID"></label>*@
                        <input type="checkbox" class="clsStuCheckBox custom-control-input" data-stuId="@stuItem.Student_ID" id="chk_@stuItem.Student_ID" onchange="dailyRoomListBlock.lstofstudentIds(@stuItem.Student_ID)" style="position:initial" />
                        <label class="custom-control-label text-medium text-uppercase" for="chk_@stuItem.Student_ID"></label>
                    </td>
                    <td>
                        <div class="student-info d-flex align-items-center">
                            <span class="rounded-circle overflow-hidden defaultAvatar mr-2">
                                <input type="checkbox" class="clsStuCheckBox " id="chk_@stuItem.Student_ID" data-stuId="@stuItem.Student_ID" onchange="dailyRoomListBlock.lstofstudentIds(@stuItem.Student_ID)" />
                                <img src="@stuItem.Student_Image_url" alt="" class="img-fluid">
                            </span>

                            <h3 class="m-0 name text-medium">
                                @stuItem.Student_Name
                                <span class="small sub-heading text-medium d-block userid"> @stuItem.Student_ID </span>
                            </h3>

                        </div>
                    </td>



                    @foreach (var subjectItem in Model.objRoomPeriodList)
                    {
                        var Mdetails = Model.objTimeTable.Where(e => e.PeriodNo == subjectItem.PeriodNo).FirstOrDefault();
                        var IsDisabled = Mdetails.IsActive ? "" : "disabled";
                        <td id="spn_@(stuItem.Student_ID + "_" + subjectItem.PeriodNo)" class="text-center @(Mdetails.IsActive ? "activeDay" : "")">


                            <div id="@stuItem.Student_ID" class="collapse show  h-100 text-center show d-sm-flex justify-content-around" aria-labelledby="@stuItem.Student_ID" data-parent="#accStudentAttendance">


                                @*<div class="student-img mr-2">
                                        <input type="checkbox" id="chk_@subjectItem.PeriodNo" onclick="RoomAttendance.RAForCheckActive(@subjectItem.PeriodNo)" class="form-check-input" />
                                        <span class="m-0 text-uppercase"><small><strong>Period @subjectItem.PeriodNo</strong></small></span>
                                    </div>*@
                                <a href="javascript:void(0)" class="@IsDisabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                    <span id="spn_@(stuItem.Student_ID + "_" + subjectItem.PeriodNo)" class="@(subjectItem.IsActive ? " clsspnResult" : "")">

                                        @if (Model.objlstRoomRemarks.Count > 0)
                                        {


                                            var remarks = Model.objlstRoomRemarks.Where(e => e.StudentId == stuItem.Student_ID && e.PeriodNo == subjectItem.PeriodNo).FirstOrDefault();
                                            var otherlstDetails = remarks != null ? Model.lstOtherCategories.Where(e => e.ItemId == remarks.Status).FirstOrDefault() : null;
                                            if (otherlstDetails != null)
                                            {
                                                if (otherlstDetails.ItemId == IdPresent)
                                                {
                                                    @*<h3 class="m-0 d-inline-block text-success clsdatastatus" data-status="@IdPresent" data-toggle="tooltip" title="@otherlstDetails.ItemName" data-placement="left">
                                                            <i class="fas fa-check"></i>
                                                        </h3>*@
                                                    <span href="#" data-toggle="tooltip" class="m-0 d-inline-block text-success clsdatastatus" data-placement="left" data-status="@IdPresent" title="@otherlstDetails.ItemName">
                                                        <i class="fas fa-check-circle fa-2x text-success"></i>
                                                    </span>
                                                }
                                                else if (otherlstDetails.ItemId == IdAbsent)
                                                {
                                                    @*<h3 class="m-0 d-inline-block text-danger clsdatastatus" data-status="@IdAbsent" data-toggle="tooltip" title="@otherlstDetails.ItemName" data-placement="left">
                                                            <i class="fas fa-times"></i>
                                                        </h3>*@
                                                    <span href="#" data-toggle="tooltip" class="m-0 d-inline-block text-success clsdatastatus" data-placement="left" data-status="@IdAbsent" title="@otherlstDetails.ItemName">
                                                        <i class="fas fa-times-circle fa-2x text-danger"></i>
                                                    </span>


                                                }
                                                else
                                                {
                                                    @*<span class="attendance-status text-status clsdatastatus" data-status="@otherlstDetails.ItemId" data-toggle="tooltip" data-placement="left" title="@otherlstDetails.ItemName" @otherlstDetails.ItemName.Substring(0, 1)>
                                                            <i class="fas fa-plus-circle fa-2x text-default"></i>

                                                        </span>*@
                                                    <span class="attendance-status text-status clsdatastatus" data-status="@otherlstDetails.ItemId" data-toggle="tooltip" data-placement="left" title="@otherlstDetails.ItemName"> @otherlstDetails.ItemName.Substring(0, 1)</span>
                                                    @*<a href="#" data-toggle="tooltip" data-placement="left" title="Mark Attendance">
                                                            <i class="fas fa-plus-circle fa-2x text-default"></i>
                                                        </a>*@
                                                }


                                            }
                                            else
                                            {

                                                @*<i class="far fa-plus-square"></i>*@
                                                <span href="#" data-toggle="tooltip" data-placement="left" title="Mark Attendance">
                                                    <i class="fas fa-plus-circle fa-2x text-default"></i>
                                                </span>

                                            }


                                        }
                                        else
                                        {
                                            <i class="fas fa-plus-circle fa-2x text-default"></i>
                                        }

                                    </span>


                                </a>
                                <div class="dropdown-menu w-25">
                                    <a class="dropdown-item" data-other="@IdPresent" data-stuId="@stuItem.Student_ID" data-periodNo="@subjectItem.PeriodNo" data-subject="@subjectItem.Subject" href="javascript:void(0)" onclick="dailyRoomListBlock.dropdownMenuRoom(this,false)">Mark as Present</a>
                                    <a class="dropdown-item" data-other="@IdAbsent" data-stuId="@stuItem.Student_ID" data-periodNo="@subjectItem.PeriodNo" data-subject="@subjectItem.Subject" href="javascript:void(0)" onclick="dailyRoomListBlock.dropdownMenuRoom(this,false)">Mark as Absent</a>
                                    <div class="dropdown-divider mb-0"></div>
                                    <h6 class="dropdown-header bg-light p-1 pl-2 mb-1 text-dark"><small class="text-uppercase"><strong>Other</strong></small></h6>
                                    <div class="clsothercategorylst">
                                        @foreach (var lstOthcat in Model.lstOtherCategories.Where(e => e.ItemName != "PRESENT" && e.ItemName != "ABSENT"))
                                        {

                                            <a class="dropdown-item" data-other="@lstOthcat.ItemId" data-stuId="@stuItem.Student_ID" data-periodNo="@subjectItem.PeriodNo" data-subject="@subjectItem.Subject" href="javascript:void(0)" onclick="dailyRoomListBlock.dropdownMenuRoom(this,false)">@lstOthcat.ItemName</a>

                                        }
                                    </div>

                                </div>




                            </div>


                        </td>
                    }



                </tr>

            }







    </table>
    @if (Model.objTimeTable.Count > 0)
    {
        <div class="row mb-3">
            <div class="col-md-5 col-lg-5">

            </div>

            <div class="col-md-2 col-lg-2">
                <button id="btnRoomAttendance" class="btn btn-primary" type="button" onclick="dailyRoomListBlock.SaveRoomAttendance()">Save</button>
            </div>
            <div class="col-md-5 col-lg-5">

            </div>




        </div>

    }
</div>
@*<script src="~/Content/VLE/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Content/VLE/js/mdb.min.js"></script>
    <script src="~/Content/VLE/js/addons/datatables.min.js" rel="stylesheet"></script>

    <script type="text/javascript" src="~/Content/VLE/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Content/VLE/js/addons/datatables-select.min.js" rel="stylesheet"></script>
    <script src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.10/js/dataTables.checkboxes.min.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        studentRoomList.length = 0;
        $('[data-toggle="tooltip"]').tooltip();

         dailyRoomListBlock.StudentAttendanceModel = @Html.Raw(Json.Encode(Model));
        dailyRoomListBlock.otherCategoriesList = @Html.Raw(Json.Encode(Model.lstOtherCategories));
        dailyRoomListBlock.roomRemarksList = @Html.Raw(Json.Encode(Model.objlstRoomRemarks));
        dailyRoomListBlock.OptionalHeader =  @Html.Raw(Json.Encode(Model.objlstOptionalHeaders));
        $('#room-attendance').DataTable({
              "searching": true,
             "paging": false,
             "info": false,
             "lengthChange":false,
            'columnDefs': [
                {
                    'targets': 0,
                    'orderable':false
                    //'checkboxes': {
                    //    'selectRow': true
                    //},

                },
                {
                    "orderable": false,
                    "bPaginate": false,
                    "paging":   false
                    //,
                    //"targets": [2, 3, 4, 5, 6]
                },
            ],
            'select': 'multi',
            'order': [[1]]
        });

    });

    $(".clsothercategorylst").mCustomScrollbar('destroy');
      $(".clsothercategorylst").mCustomScrollbar({
            setHeight: "200",
     });
</script>
