﻿@model IEnumerable<Phoenix.Models.Entities.AttendenceSessionCodeModel>
@using Phoenix.Common.Localization
@{
    /**/

    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}


<div class="row">
    <div class="col-xl-3 col-lg-3">
        @{
            <div class="login-data days-present overflow-hidden position-relative bg-white p-3">
                <h2>@Model.FirstOrDefault().PresentAM.ToString("G29")%<span class="d-block">@ResourceManager.GetString("ClassList.ClassList.Present")</span></h2>
            </div>

        }
    </div>
    <div class="col-xl-3 col-lg-3">
        <div class="login-data days-unauthorised-absent overflow-hidden position-relative bg-white p-3">
            <h2>@Model.FirstOrDefault().UnauthorisedAbsentAM.ToString("G29")%<span class="d-block">@ResourceManager.GetString("ClassList.ClassList.UnauthorisedAbsent")</span></h2>
        </div>

    </div>
    <div class="col-xl-3 col-lg-3">
        <div class="login-data days-authorised-absent overflow-hidden position-relative bg-white p-3">
            <h2>@Model.FirstOrDefault().AuthorisedAbsentAM.ToString("G29")%<span class="d-block">@ResourceManager.GetString("ClassList.ClassList.AuthorisedAbsent")</span></h2>
        </div>

    </div>
    <div class="col-xl-3 col-lg-3">

        <div class="login-data days-late overflow-hidden position-relative bg-white p-3">
            <h2>@Model.FirstOrDefault().NumberOfLateAM.ToString("G29")<span class="d-block">@ResourceManager.GetString("ClassList.ClassList.NumberofLates")</span></h2>
        </div>

    </div>
</div>

