﻿@model IEnumerable<Phoenix.Models.Entities.AttendenceListModel>

@if (Model != null)
{


    <div class="col-lg-12 col-sm-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Monthly Attendance</h3>


                <div class="table-responsive-md min-max-height-375">
                    @*<div id="table-scroll" class="table-scroll">
                        <div class="table-wrap">*@
                    <table class="table table-hover table-bordered" style="width:100%;" id="tblAttMonth">
                        <colgroup span="7"></colgroup>
                        <colgroup span="7"></colgroup>
                        <thead>
                            <tr>
                                <th class="border-right th-by-month" rowspan="2" scope="col" style="width:100px">By Month</th>
                                <th colspan="7" scope="colgroup" class="text-center border-right">First Week</th>
                                <th colspan="7" scope="colgroup" class="text-center border-right">Second Week</th>
                                <th colspan="7" scope="colgroup" class="text-center border-right">Third Week</th>
                                <th colspan="7" scope="colgroup" class="text-center border-right">Fourth Week</th>
                                <th colspan="7" scope="colgroup" class="text-center border-right">Fifth Week</th>
                                @*<th colspan="7" scope="colgroup" class="text-center border-right">Sixth Week</th>*@
                            </tr>
                            <tr id="trTwoMonth">
                                <th scope="col" class="text-center border-top">Sun</th>
                                <th scope="col" class="text-center border-top">Mon</th>
                                <th scope="col" class="text-center border-top">Tue</th>
                                <th scope="col" class="text-center border-top">Wed</th>
                                <th scope="col" class="text-center border-top">Thu</th>
                                <th scope="col" class="text-center border-top">Fri</th>
                                <th scope="col" class="text-center border-top border-right">Sat</th>
                                <th scope="col" class="text-center border-top">Sun</th>
                                <th scope="col" class="text-center border-top">Mon</th>
                                <th scope="col" class="text-center border-top">Tue</th>
                                <th scope="col" class="text-center border-top">Wed</th>
                                <th scope="col" class="text-center border-top">Thu</th>
                                <th scope="col" class="text-center border-top">Fri</th>
                                <th scope="col" class="text-center border-top border-right">Sat</th>
                                <th scope="col" class="text-center border-top">Sun</th>
                                <th scope="col" class="text-center border-top">Mon</th>
                                <th scope="col" class="text-center border-top">Tue</th>
                                <th scope="col" class="text-center border-top">Wed</th>
                                <th scope="col" class="text-center border-top">Thu</th>
                                <th scope="col" class="text-center border-top">Fri</th>
                                <th scope="col" class="text-center border-top border-right">Sat</th>
                                <th scope="col" class="text-center border-top">Sun</th>
                                <th scope="col" class="text-center border-top">Mon</th>
                                <th scope="col" class="text-center border-top">Tue</th>
                                <th scope="col" class="text-center border-top">Wed</th>
                                <th scope="col" class="text-center border-top">Thu</th>
                                <th scope="col" class="text-center border-top">Fri</th>
                                <th scope="col" class="text-center border-top border-right">Sat</th>
                                <th scope="col" class="text-center border-top">Sun</th>
                                <th scope="col" class="text-center border-top">Mon</th>
                                <th scope="col" class="text-center border-top">Tue</th>
                                <th scope="col" class="text-center border-top">Wed</th>
                                <th scope="col" class="text-center border-top">Thu</th>
                                <th scope="col" class="text-center border-top">Fri</th>
                                <th scope="col" class="text-center border-top border-right">Sat</th>
                                
                            </tr>

                        </thead>
                        <tbody>
                            @{ 
                                String[] weekDays = new String[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
                            }

                            @foreach (var itemDate in Model.Select(e => new { e.MonthName,Year = e.AttDate.ToString("yyyy") }).Distinct().ToList())
                            {
                            <tr>
                                <th class="border-right">@($"{itemDate.MonthName}")</th>
                                @for (int weekNo = 1; weekNo <= 5; weekNo++)
                                {
                                    foreach (var weekDay in weekDays)
                                    {
                                        if (Model.Where(e => e.MonthName == itemDate.MonthName
                                        && e.WeekNo == weekNo
                                        && e.AttDate.ToString("yyyy") == itemDate.Year && e.AttDate.ToString("dddd") ==weekDay).Count() > 0)
                                        {
                                            var attDayModel = Model.Where(e => e.MonthName == itemDate.MonthName
                                        && e.WeekNo == weekNo
                                        && e.AttDate.ToString("yyyy") == itemDate.Year 
                                        && e.AttDate.ToString("dddd") == weekDay).FirstOrDefault();
                            <td class="text-center text-secondary text-bold border">
                                <span data-toggle='tooltip' title="@attDayModel.Description">@attDayModel.DisplayCodeAM </span>
                            </td>
                                        @*<td class="text-center text-secondary text-bold border">@Model.Where(e => e.MonthName == itemDate.MonthName && e.WeekNo == itemDate.WeekNo).Select(e => e.DisplayCodePM).FirstOrDefault()</td>*@

                                    }
                                    else
                                    {
                            <td class="text-center text-secondary text-bold border" >
                                <span data-toggle='tooltip' title="Un Marked">U</span>

                            </td>
                                        @*<td class="text-center text-secondary text-bold border">U</td>*@
                                    }
                                }
                                }
                            </tr>
                            }

                                    @*@{
                    String[] weekDays = new String[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
                    foreach (var item in Model)
                    {

                        //set color
                        string codeColor = "";

                        if (item.Description == "Present")
                        {
                            codeColor = "attPresent";
                        }
                        else if (item.Description == "Absent")
                        {
                            codeColor = "attAbsent";
                        }
                        else
                        {
                            codeColor = "text-secondary";

                        }

                        var weekRow = "";
                        if (item.DayNo == 1)
                        {
                            weekRow = weekRow + " <tr><th class='freezecol bg-white'>" + string.Format("{0:y}", item.AttDate) + "</th>";

                            foreach (var dy in weekDays)
                            {
                                if (dy == item.WeekDayName)
                                {
                                    break;
                                }
                                else
                                {
                                    weekRow = weekRow + "<td class='text-center border-right'> </td>";
                                }
                            }
                        }



                        weekRow = weekRow + "<td class='text-center " + codeColor + " text-bold  border-right'>";
                        weekRow = weekRow + "<span data-toggle='tooltip' title=" + item.Description + ">" + item.DisplayCodeAM + "</span>";
                        weekRow = weekRow + "</td>";


                        var daysInMonth = DateTime.DaysInMonth(item.AttDate.Year, item.AttDate.Month);

                        if (daysInMonth == item.DayNo)
                        {
                            int j = item.DayOfWeekNo + 1;
                            while (j <= 7)
                            {
                                weekRow = weekRow + "<td class='text-center border-right'> </td>";
                                if (j == 7)
                                {
                                    weekRow = weekRow + "</tr>";
                                }
                                j++;
                            }

                        }
                        @Html.Raw(weekRow.ToString());
                    }
                }*@


                            </tbody>
                    </table>
                    @*</div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
}

