﻿@using Phoenix.VLE.Web.Areas.SMS.Model.Common
@using Phoenix.Common.Localization
@{
    ViewBag.Title = ResourceManager.GetString("Attendance.Attendance.RoomAttendance");
    Layout = "~/Views/Shared/_SIMSLayout.cshtml";
    int ttmId = 0;
    List<SelectListItem> listOfCategories = new List<SelectListItem>();
    List<GradesAccess> objListoGradesAccess = new List<GradesAccess>();
    var selectText = "-Select-";
    var clsgrdsub = "";
    string entryDate = string.Empty;
    if (ViewBag.TTM_Id != null)
    {
        ttmId = (int)ViewBag.TTM_Id;
        if (ttmId != 0)
        {
            clsgrdsub = "d-none";

        }
    }
    if (ViewBag.EntryDate != null)
    {
        entryDate = ViewBag.EntryDate;
    }


}

<!-- subheader start -->
@*<section class="subheader">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="mobile-subheader d-flex align-items-center d-lg-none">
                        <a href="#" class="btn-back"><i class="fas fa-arrow-left"></i></a>
                        <div class="page-heading">
                            <h1 class="page-title">Student Attendance</h1>
                            <ul class="clearfix breadcrumbs">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Student Attendance</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12 text-center text-md-right mt-3 mt-md-0 incident-action-btns">
                </div>
            </div>
        </div>
    </section>*@
<!-- subheader end-->
<!--Search Wrap Starts-->
<div class="container-fluid mt-2 mb-2">
    <div class="student-attendance">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="task-search column-padding pt-3 pb-0">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12 mb-3">
                                    <div class="search-wrapper">
                                        <i class="fas fa-search active"></i>
                                        <input type="text" id="search" class="search-field" placeholder="">
                                    </div>
                                </div>

                                @*<div class="col-lg-2 col-md-2 col-12 mb-3">
                                        <div class="md-form md-outline mb-0">
                                            <div class="@clsgrdsub">

                                                @Html.DropDownList("RoomAttandanceGrade", ( SelectList)ViewBag.GradesList,selectText, new { @class = "selectpicker " })

                                                <label class="active">Grade</label>
                                            </div>

                                        </div>
                                    </div>*@

                                <div class="col-lg-2 col-md-2 col-12 mb-3">
                                    <div class="md-form md-outline mb-0">
                                        <div class="@clsgrdsub">
                                            @Html.DropDownList("Course", (SelectList)ViewBag.TeacherCourse, selectText, new { @class = "selectpicker " })
                                            @*@Html.DropDownList("Subject", new SelectList(string.Empty), selectText, new { @class = "selectpicker " })*@
                                            <label class="active">Course</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12  mb-3">
                                    <div class="md-form md-outline mb-0">
                                        <div>
                                            <div class="@clsgrdsub">

                                                @Html.DropDownList("CourseGroup", new SelectList(string.Empty), selectText, new { @class = "selectpicker" })
                                                <label class="active">CourseGroup</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12 mb-3">
                                    <div class="md-form md-outline date-time-picker field-with-icon mb-0 mt-0 @clsgrdsub">
                                        <i class="far fa-calendar-alt"></i>
                                        <input type="text" placeholder="Select Date" id="attendancedate" class="form-control date-picker">
                                        <label for="attendancedate" class="active">Date</label>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Search Wrap Ends-->
<!-- Student attendance section starts here-->
<div class="container-fluid mt-2 mb-4">
    <div id="divstudentAttendancedetails">
        @if (ttmId != 0)
        {
            @Html.Action("RoomAttendanceDetails", "Attendance", new { area = "Attendance", entryDate = entryDate, SgrId = ttmId, IsTimetable = 1 })

        }
    </div>

</div>
<!-- Student attendance section ends here-->
<!-- file upload drawer start -->
<div class="file-upload-widget z-depth-1">
    <div class="file-upload-wrapper column-padding pt-3 pb-3 text-center">
        <a href="javascript:void(0)" class="closepanel"><i class="fas fa-times"></i></a>
        <input id="uploadBlogImage2" type="file" multiple>
    </div>
</div>

<div id="studentOnReportDetailsFormDiv" class="right-drawer z-depth-1">

</div>
<!-- file upload drawer end -->
<script src="~/Content/js/custom/Attendance/RoomAttendance.js"></script>
<script type="text/javascript" src="~/Content/js/custom/ClassList/ClassList.js"></script>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
