﻿@model Phoenix.VLE.Web.Models.MarkedAttendaceDetails
@using Phoenix.Common.Localization


@{
    string selectText = "";
}


<link href="~/Content/css/custom/SIMS/custom.css" rel="stylesheet" />
<link href="~/Content/css/custom/SIMS/toggle-switch.css" rel="stylesheet" />

<style>
    .switch-toggle {
        width: 10em;
        height: 34px;
        float: right;
    }

    .switch-toggle-new {
        width: 10em;
        height: 34px;
        float: right;
    }

    .switch-toggle label:not(.disabled) {
        cursor: pointer;
    }



    .table-scroll {
        position: relative;
        /*max-width: 600px;
        margin: auto;
        overflow: hidden;
        border: 1px solid #000;*/
    }

    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid #000;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll thead, .table-scroll tfoot {
        background: #f9f9f9;
    }

    .clone {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }

        .clone th, .clone td {
            visibility: hidden
        }

        .clone td, .clone th {
            border-color: transparent
        }

        .clone tbody th {
            visibility: visible;
            /*color: red;*/
        }

        .clone .fixed-side {
            border: 1px solid #000;
            background: #eee;
            visibility: visible;
        }

        .clone thead, .clone tfoot {
            background: transparent;
        }

    .attPresent {
        color: #008000 !important;
    }

    .attAbsent {
        color: #FF0000 !important;
    }
</style>

<div class="clearfix position-relative">


    <!-- Attendance Start -->

    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-md-4 col-4 pl-2 pr-2">
                            <div class="row pull-left mt-3">
                                <div class="col-lg-12">
                                    <div class="due-date d-flex date-time-picker">
                                        <span class="m-auto"><i class="far fa-calendar-alt text-muted"></i></span>
                                        <label class="form-control-label pl-2 pr-2 m-auto">Select Date</label>

                                        <div class="form-group due-date d-flex date-time-picker justify-content-start align-items-center m-auto">
                                            <input type="text" class="form-control date-picker custom-date-searchbar inp" id="dueDatePicker" value="@ViewBag.HistoryDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-4 text-center pl-2 pr-2">


                        </div>
                        <div class="col-md-4 col-4 pl-2 pr-2 text-right">

                            <input id="chkWeeklyMonthlyToggler" type="checkbox" checked data-toggle="toggle" data-on="@ResourceManager.GetString("ClassList.ClassList.Weekly")" data-off="@ResourceManager.GetString("ClassList.ClassList.Monthly")" data-onstyle="primary" data-offstyle="success" data-style="btn-toggler" data-width="140px" data-height="37px">

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="row student-profile-section">
        <input type="hidden" id="hdnSTU_ID" value="@Model.StudentDetail.Student_ID" />
        @Html.Partial("~/Areas/Attendance/Views/Attendance/Partial/StudentDetail.cshtml", Model.StudentDetail)
    </div>

    @*<div class="row">
            @Html.Partial("~/Views/Attendance/Partial/AttendenceAnalysis.cshtml", Model.ATTENDENCE_ANALYSIS_LST)


            <div class="col-lg-6 col-sm-12">

            </div>
        </div>*@

    <div class="row">
        <div class="col-lg-12">
            <div class="card bg-transparent shadow-none">
                <div class="card-body">
                    <div id="divAttBySessionCode">
                        @Html.Partial("~/Areas/Attendance/Views/Attendance/AttendenceSessionCode.cshtml", Model.AttendenceSessionCode)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">@ResourceManager.GetString("ClassList.ClassList.StudentAttendanceComparebyYear")</h3>
                            @*<canvas id="AttendancebarChart"></canvas>*@
                            @Html.Partial("~/Areas/Attendance/Views/Attendance/Partial/_AttendancebarChart.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none col-lg-6 col-sm-12" id="divAttBySession">
            @Html.Partial("~/Areas/Attendance/Views/Attendance/AttendenceBySession.cshtml", Model.AttendenceBySession)
        </div>
    </div>
    <div class="row" id="divAttList">
        @if (ViewBag.HistoryType == "M")
        {
            @Html.Partial("~/Areas/Attendance/Views/Attendance/AttendenceList.cshtml", Model.AttendenceList)
        }
        else // (Convert.ToString(Session["HistoryType"]) == "W")
        {
            @Html.Partial("~/Areas/Attendance/Views/Attendance/AttendenceListWeekly.cshtml", Model.AttendenceList)
        }
    </div>



    @section pageplugins{
        @Html.Partial("_DataPageLibrariesPartial")
    }




    @section scripts
                    {
        <script>
                var canvas = document.getElementById("AttendancebarChart");
                var ctx = canvas.getContext('2d');
                canvas.height = 100;
                // Global Options:
                Chart.defaults.global.defaultFontColor = 'black';
                Chart.defaults.global.defaultFontSize = 16;

                var data = {
                    labels: @Html.Raw(Json.Encode(Model.AttendenceHistory1.Select(s => s.TMONTH).ToList())), // ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label:"@Model.AttendenceHistory1.Select(s => s.ACD_DESC).FirstOrDefault()",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(82, 170, 225,0.4)",
                        borderColor: "rgb(64, 175, 99)", // The main line color
                        borderCapStyle: 'square',
                        borderDash: [], // try [5, 15] for instance
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "black",
                        pointBackgroundColor: "white",
                        pointBorderWidth: 1,
                        pointHoverRadius: 8,
                        pointHoverBackgroundColor: "rgba(64, 175, 99,0.6)",
                        pointHoverBorderColor: "rgb(64, 175, 99)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 4,
                        pointHitRadius: 10,
                        // notice the gap in the data and the spanGaps: true
                        data: @Html.Raw(Json.Encode(Model.AttendenceHistory1.Select(s => s.PresentPerc).ToList())),
                        spanGaps: true,
                    }, {
                        label: "@Model.AttendenceHistory2.Select(s => s.ACD_DESC).FirstOrDefault()",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(112, 48, 169,0.4)",
                            borderColor: "rgb(112, 48, 169)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "black",
                        pointBackgroundColor: "white",
                        pointBorderWidth: 1,
                        pointHoverRadius: 8,
                            pointHoverBackgroundColor: "rgba(112, 48, 169, 0.6)",
                            pointHoverBorderColor: "rgb(112, 48, 169)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 4,
                        pointHitRadius: 10,
                        // notice the gap in the data and the spanGaps: false
                        data:@Html.Raw(Json.Encode(Model.AttendenceHistory2.Select(s => s.PresentPerc).ToList())),
                        spanGaps: true,
                    }, {
                        label: "@Model.AttendenceHistory3.Select(s => s.ACD_DESC).FirstOrDefault()",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(82, 170, 225,0.4)",
                        borderColor: "rgb(82, 170, 225)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "black",
                        pointBackgroundColor: "white",
                        pointBorderWidth: 1,
                        pointHoverRadius: 8,
                        pointHoverBackgroundColor: "rgba(82, 170, 225,0.6)",
                        pointHoverBorderColor: "rgb(82, 170, 225)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 4,
                        pointHitRadius: 10,
                        // notice the gap in the data and the spanGaps: false
                        data: @Html.Raw(Json.Encode(Model.AttendenceHistory3.Select(s => s.PresentPerc).ToList())),
                        spanGaps: true,
                    }
                    ]
                };

                // Notice the scaleLabel at the same level as Ticks
                var options = {
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: 100,
                                callback: function (value) {
                                    return value + "%"
                                }
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Attendance',
                                fontSize: 20
                            }
                        }]
                    }
            };
            //to remove the dataset if no data present
            var dataCopy = [];
            for (var i = 0; i < data.datasets.length; i++) {
                if (data.datasets[i].data.length !== 0) dataCopy.push(data.datasets[i]);
            }
            data.datasets = dataCopy;
            // Chart declaration:
            var myBarChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
            });
        </script>
    }


</div>
