﻿@model Phoenix.VLE.Web.Models.Attendance
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization

@{
    string selectText = ResourceManager.GetString("Attendance.Attendance.Select");
}
@{
ViewBag.Title = "Mark Attendance";
    Layout = "~/Views/Shared/_SIMSLayout.cshtml";
    var bol_TT = @ViewBag.IsFromTT;
    var UserType = SessionHelper.CurrentSession.UserTypeId;

}
<style>
    span.attendance-status {
        /*padding: 4px 10px;
        border-radius: 50% 50% 100% 100%;*/
        font-size: 24px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif !important;
        /*text-shadow: 4px 3px 4px #333;*/
    }

    .bg-grey {
        background-color: #999 !important;
    }

    .text-status {
        color: #9c27b0;
    }

    .text-status-gray {
        color: #9c9c9c;
    }
</style>
<link href="~/Content/css/custom/SIMS/custom.css" rel="stylesheet" />
@using (Ajax.BeginForm("InsertAttendanceDetails", "Attendance", new { area = "Attendance" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onAttendanceSaveSuccess" }, new { id = "frmAddCycle", @class = "form-horizontal" }))
{
    <div class="clearfix position-relative">

        <!-- Attendance Page Start -->

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="card ">
                    <div class="card-body card-padding">
                        <div class="task-search column-padding pb-3 pl-0 pr-0">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="GradeSection">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-12">
                                                        <div class="md-form md-outline mb-0">
                                                            @Html.DropDownList("Grades", (IEnumerable<SelectListItem>)ViewBag.Grades, selectText, new { @class = "selectpicker select pr-4" })
                                                            <label class="active">@ResourceManager.GetString("SIMS.Common.Grade")</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-12">

                                                        <div class="md-form md-outline mb-0">
                                                            @if (UserType == 4 || UserType == 5)
                                                            {
                                                                @Html.DropDownList("Section", new SelectList(string.Empty), selectText, new
                                                                {
                                                                    @multiple = "multiple",
                                                                @data_actions_box = "true",
                                                                @data_live_search = "true",
                                                                @class = "selectpicker select pr-4"
                                                                })
                                                            }
                                                            else
                                                            {
                                                                @Html.DropDownList("Section", new SelectList(string.Empty), selectText, new
                                                                {
                                                               @class = "selectpicker select pr-4"
                                                                })
                                                            }



                                                            <label class="active">@ResourceManager.GetString("SIMS.Common.Section")</label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-12 pl-2 pr-2">
                                    <div id="dv_entry_date">

                                        <div class="md-form md-outline date-time-picker field-with-icon mb-0 mt-0">
                                            <i class="far fa-calendar-alt"></i>
                                            <input type="text" placeholder="Select Date" id="txtEntryDate" class="form-control date-picker inp">
                                            <label for="txtEntryDate" class="active">SDate</label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-2 col-12 pl-2 pr-2">

                                    @*<div class="md-form md-outline mb-0">
                                        @Html.DropDownList("AttendanceSessionType", new SelectList(string.Empty), new { @class = "selectpicker select pr-4" })
                                        <label class="active">AttendanceType</label>
                                    </div>*@

                                </div>
                                <div class="col-lg-3 col-6 text-left pl-2 pr-2">
                                    @*<div class="search-box">
                                            <input type="text" placeholder="Type a name" class="search-txt" aria-label="Search" id="search">
                                            <a href="#" class="search-btn">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>*@
                                    <div class="search-wrapper">
                                        <i class="fas fa-search active"></i>
                                        <input type="text" id="search" class="search-field" placeholder="@ResourceManager.GetString("SIMS.Common.SearchStudents")">
                                    </div>
                                </div>
                                <div class="col-lg-1 col-6 text-right pl-2 pr-2">
                                    <a href="javascript:void(0)" id="spnFreezed" data-toggle="tooltip" title="Attendance Locked" class="sub-heading text-bold text-dark d-none">
                                        <i class="fas fa-user-lock fa-3x"></i>
                                    </a>
                                    <!--<button type="button" class="btn btn-primary m-0">
                                        <span class="d-none d-lg-inline-block">Next Week</span> <i class="nc-icon nc-minimal-right"></i>
                                    </button>-->
                                    <div id="divbtnZoom" class="row">
                                        <div class="col-lg-12 my-3">
                                            <div class="pull-right">
                                                <div class="zoom" data-toggle="tooltip">
                                                    <a class="zoom-fab zoom-btn-large" id="zoomBtn">
                                                        <i class="fa fa-edit"></i>
                                                    </a>

                                                    <ul class="zoom-menu">
                                                        <li><a class="zoom-fab zoom-btn-sm zoom-btn-tangram scale-transition scale-out" data-toggle="tooltip" data-placement="left" title="Present" onclick="StatusChange('P')"><i class="fa fa-check"></i></a></li>
                                                        <li><a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out" data-toggle="tooltip" data-placement="left" title="Absent" onclick="StatusChange('A')"><i class="fa fa-times"></i></a></li>
                                                        @*<li><a class="zoom-fab zoom-btn-sm zoom-btn-report scale-transition scale-out" data-toggle="tooltip" data-placement="left" title="Late"><i class="fa fa-clock"></i></a></li>*@
                                                        <li>
                                                            <a class="zoom-fab zoom-btn-sm zoom-btn-feedback scale-transition scale-out" data-toggle="modal" data-toggle="tooltip" data-placement="left" title="Others" href="javascript:void(0)" data-target=".contactDetails">
                                                                <i class="fa fa-fw fa-ellipsis-h"></i>
                                                            </a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-12">
                                <div class="table-responsive-md">
                                    <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                        <div class="row"></div>
                                        <div class="row">
                                            <div id="divattstulist" class="col-sm-12">
                                                <table id="example" class="table table-hover table-bordered dataTable no-footer attend-table-wrap" style="width: 100%;" role="grid" aria-describedby="example_info">
                                                    <thead>
                                                        <tr id="FetchAttendance_H_tr" role="row"></tr>
                                                    </thead>
                                                    <tbody id="FetchAttendance_B_tbody"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="divbtnsave" class="row">
                            <div class="form-group col-md-12 col-xs-12 col-sm-12 text-center">
                                <input type="submit" value="Save" name="attendence" id="btn_Save" class="btn btn-primary d-none" @*onclick="SaveAttendance()"*@>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="ttm_id" id="hf_ttm_id" value="@ViewBag.TTM_Id" />
            <input type="hidden" name="entry_date" id="hf_entry_date" value="@ViewBag.EntryDate" />
            <input type="hidden" name="" id="hf_grade" value="@ViewBag.GRD_Id" />
            <input type="hidden" name="sct_id" id="hf_section" value="@ViewBag.SCT_Id" />
            <input type="hidden" name="" id="hf_isFromTT" value="@ViewBag.IsFromTT" />
            <input type="hidden" id="hf_Ajax_response" value="" />
            <input type="hidden" name="student_xml" id="hf_Student_XML" value="" />
            <input type="hidden" name="alg_id" id="hf_ALG_ID" value="0" />
            <input type="hidden" name="GRD_ID" id="hf_GRD_ID" value="01" />
            <input type="hidden" name="SHF_ID" id="hf_SHF_ID" value="0" />
            <input type="hidden" name="STM_ID" id="hf_STM_ID" value="0" />
            <input type="hidden" name="AttendanceType" id="hdnAttendanceType" value="" />
        </div>

        <!-- my student stats end -->
        <!-- Other Leave details modal -->
        <div class="modal fade contactDetails" id="" tabindex="-1" role="dialog" aria-labelledby="otherDetails" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Attendance - Leave Type</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body user-contact-card">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <h6 class="card-title mb-4">Other Leave Options</h6>
                                    <form>
                                        <div class="form-group col-md-12 col-xs-12 col-sm-3">
                                            <label for="class_id">Select Category</label>
                                            @Html.DropDownList("AttendanceType", (SelectList)ViewBag.AttendanceType, selectText, new { @class = "selectpicker select" })
                                        </div>
                                        <div class="form-group col-md-12 col-xs-12 col-sm-12">
                                            <label for="class_id">Comments</label>

                                            <input type="textarea" name="attendanace_comment" id="txt_remarks" class="form-control" value="">
                                        </div>

                                        <div class="form-group col-md-12 col-xs-12 col-sm-12 text-center">
                                            <input type="button" value="Mark" onclick="StatusChange('O')" class="btn btn-success">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script src="~/Content/js/custom/Attendance/AttendanceLoad.js"></script>
        @*<script type="text/javascript" src="~/Content/js/custom/Common/GradeSectionLoad.js"></script>*@


    </div>

}
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
