﻿
@using Phoenix.Common.Localization
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    List<SelectListItem> objSelectList = null;
    if (ViewBag.lisofReportType != null)
    {
        objSelectList = ViewBag.lisofReportType;
    }
}
<div class="GradeSection">
    <div class="row">
        <div class="col-lg-6 col-6">
            <label>Report Type</label>
            @Html.DropDownList("ReportType", objSelectList, selectText, new { @class = "selectpicker small-select select mr-2" })
        </div>
        <div class="col-lg-6 col-6">
            <label>Report</label>
            @Html.DropDownList("ReportDetails", new SelectList(string.Empty), selectText, new { @class = "selectpicker small-select select" })
        </div>
    </div>
</div>


