@import "../custom-variables";
@import "../custom-mixins";
@import "../core/rem";

$primary-color: #004195 !default;
$secondary-color: #008a1c !default;
$sidebar-top-color: #004195;
$sidebar-bottom-color: #004195;
$white-base: #fff;
$black-base: #000;

.primaryColor {
    color: $primary-color !important;
}
.primaryBgColor {
    background: $primary-color !important;
}
.secondaryColor {
    color: $secondary-color !important;
}
.secondaryBgColor {
    background: $secondary-color !important;
}
.svg  {
    path {
        fill: $primary-color;
    }
    &.svg-white {
        path {
            fill: $white-base;
        }
    }
}
.bg-primary {
    background: darken($primary-color, 15%) !important;
}
/*---------- preloader style ----------*/
.loader-wrapper #loader{
	background: $primary-color;
}
@-webkit-keyframes forward {
	0% {
		left: 40%;
		opacity: 0;
		background: $secondary-color;
	}
	10% {
		left: 45%;
		opacity: 1;
	}
	90% {
		left: 55%;
		opacity: 1;
	}
	100% {
		left: 62%;
		opacity: 0;
	}
}
@-moz-keyframes forward {
	0% {
		left: 40%;
		opacity: 0;
		background: $secondary-color;
	}
	10% {
		left: 45%;
		opacity: 1;
	}
	90% {
		left: 55%;
		opacity: 1;
	}
	100% {
		left: 62%;
		opacity: 0;
	}
}
@-o-keyframes forward {
	0% {
		left: 40%;
		opacity: 0;
		background: $secondary-color;
	}
	10% {
		left: 45%;
		opacity: 1;
	}
	90% {
		left: 55%;
		opacity: 1;
	}
	100% {
		left: 62%;
		opacity: 0;
	}
}
@keyframes forward {
	0% {
		left: 40%;
		opacity: 0;
		background: $secondary-color; 
	}
	10% {
		left: 45%;
		opacity: 1;
	}
	90% {
		left: 55%;
		opacity: 1;
	}
	100% {
		left: 62%;
		opacity: 0;
	}
}
/*---------- preloader style end ----------*/
/*--------- buttons skin ---------*/
input, button {
    &[type=button], &[type=submit], &[type=reset] {
        &.btn {
            &.btn-outline-primary {
                border-color: $primary-color !important;
                @extend .primaryColor;
                &:hover {
                    background: $primary-color !important;
                    color: $white-base !important;
                }
                &.active {
                    border-color: $primary-color !important;
                }
            }
            &.btn-outline-secondary {
                border-color: $secondary-color !important;
                @extend .secondaryColor;
                &:hover {
                    background: $secondary-color !important;
                    color: $white-base !important;
                }
                &.active {
                    border-color: $secondary-color !important;
                }
            }
            &.btn-outline-default {
                color: $secondary-text-color !important;
                border-color: $default-color !important;
                &:hover {
                    background: $default-color !important;
                    color: $white-base !important;
                }
            }
            &.btn-default {
                background: $base-grey !important;
                color: $secondary-text-color;
                &:active {
                    color: $white-base;
                }
            }
            &.btn-primary {
                background: $primary-color !important;
                color: $white-base;
                &:hover {
                    background: darken($primary-color, 25%);
                }
            }
            &.btn-white {
                &:not([disabled]) {
                    &:not(.disabled) {
                        &:active {
                            background: $white-base !important;
                        }
                    } 
                }
            }
        }
    }
}

a {
    &.btn {
        &.btn-outline-primary {
            border-color: $primary-color !important;
            @extend .primaryColor;
            &:hover {
                background: $primary-color !important;
                color: $white-base !important;
            }
        }
        &.btn-outline-secondary {
            border-color: $secondary-color !important;
            @extend .secondaryColor;
            &:hover {
                background: $secondary-color !important;
                color: $white-base !important;
            }
        }
        &.btn-outline-default {
            color: $secondary-text-color !important;
            border-color: $default-color !important;
            &:hover {
                background: $default-color !important;
                color: $base-text-color !important;
            }
        }
        &.btn-primary {
            background: $primary-color !important;
            color: $white-base;
            &:hover {
                background: darken($primary-color, 20%) !important;
            }
        }     
    }
}
/*---------- button skin end ----------*/
/*---------- date picker skin ----------*/
.date-time-picker {
    .dropdown-menu, #inlinedatepicker {
        .datepicker {
            table {
                thead {
                    th {
                        &.prev, &.next {
                            color: $primary-color;
                        }
                        &.picker-switch {
                            background: $primary-color;
                        }
                    }
                }
            }
        }
    }
} 
/*---------- date picker skin end ----------*/
/*---------- table skin ----------*/
.table-wrapper {
    .dataTables_info {
        .select-info {
            color: $primary-color;
        }
    }
    .table-action-icon-btn {
        &:hover {
            color: $primary-color;;
        }
    }
    .table-action-text-link {
        color: $primary-color;
    }
}

.table, table {
    &.dataTable {
        tr {
            &.selected {
                td, th {
                    &.select-checkbox {
                        &:after {
                            background: $primary-color;
                            color: $white-base;
                        }
                    }
                }
            }
        }
    }
}
/*---------- table skin end ----------*/
/*---------- custom checckbox skin ----------*/
.custom-control {
    .custom-control-input {
        &:checked {
            & ~ .custom-control-label {
                &:before {
                    background: $primary-color;
                }
            }
        }
    }
}
/*---------- custom checkbox skin end ----------*/
/*---------- Accordion skin ----------*/
.accordion {
    &.with-border {
        .card {
            .card-header {
                a {
                    &[aria-expanded='true'] {
                        color: $primary-color;
                    }
                    .fas {
                        color: $secondary-text-color;
                    }
                }
            }
        }
    }
}
/*---------- Accordion skin end ----------*/
/*---------- Tab panels skin ----------*/
.tab-panels {
    .nav-tabs {
        .nav-item.show .nav-link {
            color: $title-color;
            background-color: transparent;
            border-bottom: rem(2px) solid $primary-color !important;
            border: none;
        }
        .nav-link {
            &.active, &:hover {
                color: $title-color;
                background-color: transparent;
                border-bottom: rem(2px) solid $primary-color !important;
                border: none;
            }
        }
    }
    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
        border: none;
        color: $title-color;
    }
}
/*---------- Tab panels skin end ----------*/
/*---------- Title link skin ----------*/
.title-link {
    border: solid 1px $secondary-text-color;
    color: $secondary-text-color;
    &:hover {
        background: $secondary-color;
        border-color: $secondary-color;
        color: $white-base;
    }
}
/*---------- Title link skin end ----------*/
/*---------- Header skin ----------*/
header {
    .main-nav {
        ul {
            li {
                &.avatar {
                    img {
                        border: solid 2px transparent;
                    }
                }
            }
        }
        .dropdown-menu {
            &.profile-dropdown {
                .profile-card {
                    .profile-name {
                        .change-mood {
                            color: $base-text-color;
                            &:hover {
                                background: none;
                                span {
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                }
                .profile-actions {
                    li {
                        margin: 0;
                        a {
                            &:hover {
                                background: $base-grey;
                                color: $black-base;
                            }
                        }
                    }
                }
            }
        }
        .notifications {
            .has-notifications {
                color: $primary-color;
                .notification-count {
                    background: $tertiary-color;
                    color: $white-base;
                    border: solid rem(1.5px) $white-base;                    
                }
            }
        }
        &.top-nav-collapse {
            border-bottom: solid 3px $light-grey;
        }
    }
    .header-info {
        .btn-back {
            color: $secondary-text-color;
            background: $white-base;
            border: solid 1px $secondary-text-color;
            &:hover {
                background: $primary-color;
                color: $white-base;
                border-color: $primary-color;
            }
        }
        h1 {
            color: $title-color;
        }
    }
    .sidebar-fixed {
        @include gradient-bg(180deg, $sidebar-top-color, 0%, $sidebar-bottom-color, 50%);
        //background: path('skin-default-sidebar-bg.svg', img/student-banners) no-repeat;
        //border-right: solid 1px $stroke-color;
        //box-shadow: 2px 0 5px #ccc;
        //border-right: solid 1px #fff;
        background-size: cover;
        &:after {
            content: '';
            background: path('skin-christmas-sidebar.jpg', img/student-banners) no-repeat bottom left;
            position: absolute;
            height: 100%;
            width: 100%;
            bottom: 0;
            background-size: calc(100% + 1px);
        }
        .mob-user-widget {
            .user-avatar {
                border: solid 1px rgba(255,255,255,0.5);
            }
            .user-actions {
                background: darken($primary-color, 15%);
                border: 1px solid rgba(255,255,255,0.5);
                &:after {
                    border-color: rgba(213, 0, 0, 0);
                    border-bottom-color: #28559f;
                }
                &:before {
                    border-color: rgba(255, 255, 255, 0);
                    border-bottom-color: rgba(255,255,255,0.5);
                }
                ul {
                    li {
                        a {
                            color: $white-base;
                        }
                    }
                }
            }
        }
        .list-group {
            .list-group-item {
                background: transparent;
                border: none;
                color: $white-base;
                font-weight: 500;
                &.active {
                    background: rgba(0,0,0,0.2);
                    &:hover {
                        /* background: $primary-color; */
                        //@include gradient-bg-ws(-45deg, #00941e, #006400);
                        color: $white-base;
                    }
                    span {
                        &.title-icon {
                            -webkit-filter: brightness(200);
                            filter: brightness(200);
                        }
                    } 
                }
                span {
                    &.title-icon {
                        -webkit-filter: brightness(200);
                        filter: brightness(200);
                    }
                }
                &:hover {
                    background: rgba(0,0,0,0.2);
                }
                &.has-submenu {
                    &:hover {
                        /* color: inherit; */
                        //@include gradient-bg-ws(-45deg, #00941e, #006400);
                        color: $white-base;
                    }
                    &[aria-expanded="true"] {
                        //@include gradient-bg-ws(-45deg, #00941e, #006400);
                        color: $white-base;
                        span {
                            &.title-icon {
                                -webkit-filter: brightness(200);
                                filter: brightness(200);
                            }
                        } 
                    }
                }
                
            }
            .sub-menu {
                a {
                    color: $white-base;
                    &:hover {
                        color: #fac346;
                    }
                }
            }
        }
        .logo-wrapper {
            border-bottom: solid 1px rgba(255, 255, 255, 0.2);
            //@include semitransparent-bg($black-base, 0.1);
            //background: darken($primary-color, 10%);
            background: rgba(0,0,0,0.2);
        }
        .flurry-container { height: 100% !important; }
    }
}
.subheader {
    .breadcrumbs {
        li {
            color: $base-text-color;
        }
    }
    .btn-back {
        color: $secondary-text-color;
        background: $white-base;
        &:hover {
            background: $primary-color;
            color: $white-base;
        }
    }
}
.animated-icon1 {
    span {
        background: $primary-color;
    }
}
/*---------- Header skin end ----------*/
/*---------- Card skin ----------*/
.card {
    .card-body {
        .card-title {
            //color: $primary-color;
            color: $primary-color;
        }
    }
}
/*---------- Card skin end ----------*/
/*---------- User profile widget ----------*/
.user-profile-widget {
    background: $sidebar-top-color path('skin-christmas-banner.jpg', img/student-banners) no-repeat;
    background-position: top right;
    background-size: cover;
    @media screen and (min-width: 1366px) {
        background-size: cover;
    }
    @media screen and (min-width: 1600px) {
        background-size: calc(100% + 1px)
    }
    .user-info {
        h3, p {
            color: $white-base;
        }
        p {
            font-weight: 500;
        }
    }
    .user-avatar {
        .avatar {
            a {
                &:hover {
                    background: darken($primary-color, 35%);
                    color: $white-base;
                }
            }
        }
    }
    @media screen and (min-width: 1200px) and (max-width: 1366px) {
        min-height: rem(220px);
    }
}
/*---------- User profile widget end ----------*/
/*---------- calendar style ----------*/
.fc {
    .fc-toolbar {
        &.fc-header-toolbar {
            .btn-group {
                button {
                    &.active {
                        background: $primary-color !important;
                        color: $white-base !important;
                    }
                }
            }
        }
    }
    .fc-view {
        .fc-event {
            background: $primary-color;
            border-color: inherit;
        }
    }
}
/*---------- Calendar style end ----------*/
/*---------- Assignment styles ----------*/
.toggle-library {
    a {
        &.active {
            color: $primary-color;
        }
    }
}
#library {
    .assignment-list{
        article{
            .assignment-category {
                &:hover {
                    background: $primary-color;
                    color: $white-base;
                    border-color: $primary-color;
                }
            }
        }
    }
}
/*---------- Assignment styles end ----------*/
/*---------- File uploader style ----------*/
.file-upload-widget {
    .file-input {
        .btn {
            background: $primary-color;
            color: $white-base;
        }
    }
}
/*---------- File uploader style end ----------*/
/*---------- library breadcrumbs style ----------*/
.breadcrumb-arrow {
    li {
        a {
            background-color: $primary-color;
            border: 1px solid $primary-color;
            &:before {
                border-left-color: $primary-color;
            }
            &:after {
                border-left: rem(11px) solid darken($primary-color, 20%);
            }
            &:focus, &:hover {
                background-color: lighten($primary-color, 8%);
                border: 1px solid lighten($primary-color, 8%);
                &:before {
                    border-left-color: lighten($primary-color, 8%);
                }
            }
            &:active {
                background-color: lighten($primary-color, 8%);
                border: 1px solid lighten($primary-color, 8%);
                &:after, &:before {
                    border-left-color: lighten($primary-color, 8%);
                }
            }
        }
    }
}
/*---------- library breadcrumbs style end ----------*/
/*---------- web links ---------*/
.web-links {
    li {
        a {
            h6 {
                i {
                    color: $secondary-color;
                }
            }
            p {
                color: $secondary-text-color;
            }
        }
        &:hover {
            background: $light-grey;
        }
    }
}
/*---------- web links ---------*/
/*---------- todays envent style ----------*/
.todays-event {
    .event-header {
        border: solid 1px $primary-color;
        background: $primary-color;
        h4 {
            color: $white-base;
        }
    }
    .event-data {
        h3 {
            color: $title-color;
        }
        h6 {
            color: $secondary-text-color;
        }
        ul {
            li {
                a {
                    &:hover {
                        h3 {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}
/*---------- todays event style end ----------*/
/*---------- blog wall style start ----------*/
.blog-post {
    & > {
        .card-heading {
            .add-post-content {
                .blog-editor {
                    .upload-img {
                        &:hover, &:active, &:focus {
                            .svg {
                                path {
                                    fill: $primary-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    & > .card-body {
        h3 {
            a {
                &:hover {
                    color: $primary-color;
                }
            }
        }
        a {
            color: $primary-color;
        }
    }
    & > .card-footer {
        & > .btn {
            &:hover, &.active, &:active, &:focus {
                border-color: $primary-color;
                background: $primary-color;
                color: $white-base;
                i {
                    color: $white-base;
                }
            }
            &.active {
                color: $white-base;
            }
        }
    }
    &.blog-draft-mode {
        .action-btns {
            a {
                background: $white-base;
                color: $primary-color;
                border: solid 1px $primary-color;
                margin: rem(0 4px);
                &:hover {
                    background: $primary-color;
                    color: $white-base;
                }
            }
        }
    }
}
/*---------- blog wall style end ----------*/
/*---------- comment wrapper style ----------*/
.comment-wrrapper {
    .user-comment {
        .comment-action {
            a {
                &:hover, &.active {
                    color: $primary-color;
                }
            }
        }
    }
    .more-comments {
        &:hover {
            background: $primary-color;
            color: $white-base;
        }
    }
}
/*---------- comment wrapper style end ----------*/
/*---------- community section style ----------*/
.my-community {
    .community-card {
        &:hover {
            background: $primary-color;
            .svg path {
                fill: $white-base;
            }
            h4, p {
                color: $white-base;
            }
        }
    }
}
/*---------- community section style end ----------*/
/*---------- assignment status badges ----------*/
.badge {
    &.badge {
        &-outline {
            &.completed {
                &:hover, &.active {
                    color: $white-base !important;
                    background: $success-color;
                    border-color: $success-color;
                }
            }
            &.grade {
                &:hover, &.active {
                    color: $white-base !important;
                    background: $primary-color;
                    border-color: $primary-color; 
                }
            }
        }
    }
}
/*---------- assignment status badges end ----------*/
/*---------- right drawer style ----------*/
.right-drawer {
    .drawer-header {
        h2 {
            color: $primary-color;
        }
    }
}
/*---------- right drawer style end ----------*/
