﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@model IEnumerable<Phoenix.VLE.Web.Models.EditModels.HifzTrackerEdit>
@{
    ViewBag.Title = "HifzTracker";   
    var studentNumber = Model.Select(x => x.StudentId).FirstOrDefault();
}
                 
<div class="hifz-tracker pt-3 pb-3">
    <!-- To Do sec start -->
    <div class="row mb-3">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="section-title mb-0">
                <h3 class="pb-2 text-bold">@ResourceManager.GetString("TCRequest.HifzTracker.ToDo")</h3>
                @if (Model.Where(x => x.UploadedFileName == "").Count() > 0)
                {
                    <p class="text-black-50 text-medium">@ResourceManager.GetString("TCRequest.HifzTracker.VisitLink")</p>
                }

            </div>
            <div class="todo-@studentNumber">
                @Html.Partial("_HifzFileDetails", Model.Where(x => x.UploadedFileName == ""))
            </div>
        </div>
    </div>
    <!-- To Do sec end -->
    <!-- Completed sec start -->
    <div class="row completed-task">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="section-title mb-0">
                <h3 text-bold>@ResourceManager.GetString("TCRequest.HifzTracker.Completed")</h3>
            </div>
            <div class="completed-@studentNumber">
                @Html.Partial("_HifzFileDetails", Model.Where(x => x.UploadedFileName != ""))
            </div>
        </div>
    </div>
    <!-- Completed sec end -->
</div>