﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@model IEnumerable<Phoenix.VLE.Web.Models.EditModels.HifzTrackerEdit>
@{
    ViewBag.Title = "HifzTracker";
    int count = 0;
    var extensions = Convert.ToString(String.Join(",", ViewBag.FileExtension));
}
<style type='text/css'>
    ul {
        list-style: none;
    }

    #recordingslist audio {
        display: block;
        margin-bottom: 10px;
    }

    .borderadjust {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }
</style>
<div class="tabPanels">
    <ul class="nav bg-white bordered-tab-item borderadjust defaultTabs" id="myTab" role="tablist">

        @{
            var currentStudent = SessionHelper.CurrentSession.CurrentSelectedStudent.StudentNumber;
            foreach (var details in SessionHelper.CurrentSession.FamilyStudentList.ToList())
            {

                string fullName = details.FirstName + " " + details.LastName;
                if (details.StudentNumber == currentStudent)
                {
                    <li class="nav-item text-left">
                        <a class="nav-link text-semibold active" onclick="return GetHifzTrackerFileByStudetId(@details.StudentNumber)" data-toggle="tab" href="#resource-@details.StudentNumber" role="tab" aria-selected="true">
                            @fullName
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item text-left">
                        <a class="nav-link" onclick="return GetHifzTrackerFileByStudetId(@details.StudentNumber)" data-toggle="tab" href="#resource-@details.StudentNumber" role="tab" aria-selected="false">
                            @fullName
                        </a>
                    </li>
                }
                count++;
            }
        }

    </ul>
    @{
        //if (Model.Count() > 0 && Model != null)
        //{
        <div class="tab-content column-padding" id="myTabContent">
            @{

                count = 0;
                foreach (var details in SessionHelper.CurrentSession.FamilyStudentList.ToList())
                {
                    if (details.StudentNumber == currentStudent)
                    {
                        <div class="tab-pane fade show in active" id="resource-@details.StudentNumber" role="tabpanel">
                            <!-- Tasks wrapper start -->
                            <div class="hifz-tracker pt-3 pb-3">
                                <!-- To Do sec start -->
                                <div class="row mb-3">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="section-title mb-0">
                                            <h3 class="pb-2 text-bold">@ResourceManager.GetString("TCRequest.HifzTracker.ToDo")</h3>
                                            @if (Model.Where(x => x.StudentId == details.StudentNumber.ToString() && x.UploadedFileName == "").Count() > 0)
                                            {
                                                <p class="text-black-50 text-medium">@ResourceManager.GetString("TCRequest.HifzTracker.VisitLink")</p>
                                            }
                                        </div>
                                        <div class="todo-@details.StudentNumber">
                                            @Html.Partial("_HifzFileDetails", Model.Where(x => x.StudentId == details.StudentNumber.ToString() && x.UploadedFileName == "").ToList())
                                        </div>

                                    </div>
                                </div>
                                <!-- To Do sec end -->
                                <!-- Completed sec start -->
                                <div class="row completed-task">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="section-title mb-0">
                                            <h3 text-bold>@ResourceManager.GetString("TCRequest.HifzTracker.Completed")</h3>
                                        </div>
                                        <div class="completed-@details.StudentNumber">
                                            @Html.Partial("_HifzFileDetails", Model.Where(x => x.StudentId == details.StudentNumber.ToString() && x.UploadedFileName != "").ToList())
                                        </div>

                                    </div>
                                </div>
                                <!-- Completed sec end -->
                            </div>
                            <!-- Tasks wrapper end -->
                        </div>
                    }
                    else
                    {
                        <div class="tab-pane fade show" id="resource-@details.StudentNumber" role="tabpanel">
                            <!-- Tasks wrapper start -->
                            <!-- Tasks wrapper end -->
                        </div>
                    }
                    count++;
                }
            }

        </div>
        @*}
            else
            {
                <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
                    <div class="bg-white">
                        <span class="no-data-found text-bold d-block mx-auto my-auto">
                            @ResourceManager.GetString("TCRequest.HifzTracker.NoData")
                        </span>
                    </div>
                </div>
            }*@
    }
</div>


<!-- modal popups -->
<!-- modal upload record audio -->
<div class="modal fade popup-purple-shade blog-popup" id="fileUploadtracker" tabindex="-1" role="dialog" aria-labelledby="fileUploadPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-max">
        <div class="modal-content">
            <form action="#" class="m-0">
                <div class="modal-header" style="background-color:white; border:0px">
                    <h5 class="modal-title text-bold" style="color:#5d3195;">
                        @ResourceManager.GetString("TCRequest.HifzTracker.UploadFile")
                        <span class="SelectedFileName"></span>
                    </h5>
                    <button type="button" class="close py-0 px-2 " data-dismiss="modal" aria-label="Close" style="color:black">
                        <span class="cloaseHifzTrackerFileUpload" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-0 uploaderWidget text-center">
                    <ul class="nav pb-4 blog-action d-flex align-items-center flex-wrap" role="tablist">
                        <li class="col-6 nav-item">
                            <button class="action-circle active rounded-circle" id="home-tab-link" data-toggle="tab" href="#home-link" role="tab" aria-controls="link"
                                    aria-selected="true">
                                <img src="~/Content/VLE/img/svg/drive-link.svg" />
                            </button>
                            <small class="mt-2 dark-purple">@ResourceManager.GetString("TCRequest.HifzTracker.RecordVoice")</small>
                        </li>
                        <li class="col-6 nav-item">
                            <button class="action-circle rounded-circle" id="home-tab-browse" data-toggle="tab" href="#home-browse" role="tab" aria-controls="browse"
                                    aria-selected="false">
                                <img src="~/Content/VLE/img/svg/browse.svg" />
                            </button>
                            <small class="mt-2 dark-purple">@ResourceManager.GetString("Shared.Buttons.Browse")</small>
                        </li>
                    </ul>
                    <!-- add Link -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show in active content-uploader rounded-2x column-padding py-3 clearfix mb-3" id="home-link" role="tabpanel" aria-labelledby="home-tab-link">
                            <div class="md-outline my-4">
                                <div class="audio-recorder">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12 align-items-center">
                                            <button id="start-btn" class="btn-start-record rounded-circle" type="button">
                                                <i class="fas fa-microphone"></i>
                                            </button>
                                            <button id="stop-btn" class="btn-stop-record rounded-circle" type="button" disabled>
                                                <i class="fas fa-stop"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <ul id="recordingslist" class="align-items-center d-flex flex-wrap mt-3 ml-5"></ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Browse files -->
                        <div class="tab-pane fade show content-uploader rounded-2x column-padding py-3 clearfix mb-3" id="home-browse" role="tabpanel" aria-labelledby="home-tab-browse">
                            <div class="uploaderWidget text-center">
                                <input class="fileUploader" style="right: 0px;width: 129px;" type="file" id="file-3" title="@ResourceManager.GetString("Shared.Labels.BrowseFile")">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer no-border">
                    <button type="button" class="btn btn-outline-primary cloaseHifzTrackerFileUpload">@ResourceManager.GetString("TCRequest.HifzTracker.Cancle")</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{
    <script language="javascript">
        translatedResources.FileExtensions = @Html.Raw(Json.Encode(ViewBag.FileExtension));
        translatedResources.Save = '@ResourceManager.GetString("Shared.Buttons.Save")';
        translatedResources.Delete = '@ResourceManager.GetString("Shared.Buttons.Delete")';
        translatedResources.HifzTrackerFileSize = '@ResourceManager.GetString("Shared.Messages.HifzTrackerFileSize")';
        translatedResources.CustomTitle = '@ResourceManager.GetString("Shared.Messages.CustomTitle")';
         translatedResources.BrowseFile = '@ResourceManager.GetString("Shared.Labels.BrowseFile")';
    translatedResources.SystemLanguageCode ='@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()';

    </script>
    <script src="@Url.Content("~/Content/VLE/js/addons/recorder.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/TCRequest/TCRequestFile.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Parent/ParentDashboard.js?v="+ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

}



