﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    var downloadFilePath = Constants.ResourcesDir + Constants.Shared + Constants.ImportFile;
}
<div class="modal-body">
    <div class="popup-form">
        @*<div class="row">
            <a type="button" id="btnImportFormat" href="@(downloadFilePath)" class="btn btn-primary m-0 pt-2 pb-2 waves-effect waves-light">
                Download
            </a>
        </div>*@
        <div class="row mb-3">
            <a type="button" id="btnImportFormat" href="@(downloadFilePath)" class="btn btn-primary m-0 pt-2 pb-2 waves-effect waves-light">
                @ResourceManager.GetString("Quiz.QuizQuestion.ImportFormat")
            </a>
        </div>
        <!-- file upload drawer start -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="uploaderWidget">
                    <input id="ImportQuizQuestions" name="ImportQuizQuestions" type="file" multiple>
                </div>
            </div>
        </div>
        <!-- file upload drawer end -->
    </div>
</div>
