﻿@model List<Phoenix.Models.QuizQuestionFiles>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.VLE.Web.Helpers
@using Phoenix.Common.Localization
@using Phoenix.VLE.Web.Services
@{
    Model.CheckQuestionFileNameExtension();
    var imageList = Model.AddImageVideoFiles();
    var otherFileList = Model.AddNonMediaFiles();
    var SchoolCode = SessionHelper.CurrentSession.SchoolCode;
    ViewBag.SharepointToken = SharepointTokenHelper.Instance.Token;
    //var isCheckStudentQuiz = Session["StudentId"] == null?false: Convert.ToInt32(EncryptDecryptHelper.DecryptUrl(Request.QueryString["studentId"].ToString())) == 0 ? false : true;

    //var isAssignmentArchived = Session["IsArchived"] != null ? Convert.ToBoolean(Session["IsArchived"].ToString()) : false;
}
<input type="hidden" id="SharepointToken" name="SharepointToken" value="@ViewBag.SharepointToken" />
<div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
    <div class="align-items-center d-flex flex-wrap justify-content-start mt-n5 p-0" role="tab" id="headingTwo1">
        <a class="bg-accordion mb-3 ml-5 mt-3 mt-sm-2 pl-5" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1" aria-expanded="true" aria-controls="collapseTwo1">
            <small class="ml-2 text-medium nav-link arrow-down">
                @imageList.Count media files & @otherFileList.Count other files  Added
                <img src="~/Content/VLE/img/svg/arrow-up.svg" class="svg">
            </small>
        </a>
    </div>
    <div id="collapseTwo1" class="collapse show" role="tabpanel" aria-labelledby="headingTwo1" data-parent="#accordionEx1">
        <div class="column-padding py-3 attachment-list link-cards rounded-2x">
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
                @foreach (var item in imageList)
                {
                    //var filePath = PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName;
                    var filePath = item.FilePath.Contains("/Resources") ? PhoenixConfiguration.Instance.ReadFilePath + item.FilePath : item.FilePath;
                    if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                    {
                        filePath = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(filePath);
                    }
                    <div class="col px-2">
                        <div class="card rounded-2x">
                            @{
                                if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.FileName))
                                {
                                    <a onclick="globalFunctions.downloadSharepointFile('@item.FileName','@filePath','@SchoolCode','@SessionHelper.CurrentSession.IsParent()','3')" class="attachedFile overflow-hidden d-flex align-items-center justify-content-center galleryImg" data-sub-html="Lorem ipsum">
                                        <img class="card-img-top" src="@filePath" alt="@item.FileName">
                                    </a>
                                }
                                else if (Phoenix.Common.Helpers.CommonHelper.CheckVideoExtension(item.FileName))
                                {
                                    <span class="video galleryImg" data-html="#@item.QuizQuestionFileId" data-poster="@Constants.DefaultVideoImage">
                                        <a onclick="globalFunctions.downloadSharepointFile('@item.FileName','@filePath','@SchoolCode','@SessionHelper.CurrentSession.IsParent()','3')" class="attachedFile overflow-hidden d-flex align-items-center justify-content-center galleryImg">
                                            <img src="@Constants.DefaultVideoImage" class="img-fluid">
                                        </a>
                                    </span>
                                    <div style="display:none;" id="@item.QuizQuestionFileId">
                                        <video class="lg-video-object lg-html5" controls="" preload="none">
                                            <source src="@filePath" type="video/mp4">
                                            @ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")
                                        </video>
                                    </div>
                                }
                            }
                            <div class="card-body position-relative">
                                <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                    @item.FileName
                                </h4>
                                <a data-id="@EncryptDecryptHelper.EncryptUrl(filePath)" onclick="globalFunctions.downloadSharepointFile('@item.FileName','@filePath','@SchoolCode','@SessionHelper.CurrentSession.IsParent()','3')" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle" data-toggle="tooltip" data-placement="top" title="Download">
                                    <img src="/Content/VLE/img/svg/ic-download.svg" alt="" class="svg">
                                </a>
                            </div>
                            @if ((Html.CurrentPagePermission().CanEdit && SessionHelper.CurrentSession.IsTeacher()) || SessionHelper.CurrentSession.IsAdmin)
                            {
                                <a href="javascript:void(0)" class="removeFile rounded-circle d-flex align-items-center justify-content-center position-absolute" id="DeleteQuizQuestionFiles" data-QuizQuestionId="@item.QuizQuestionId" data-FileId="@item.QuizQuestionFileId" data-uploadedPath="@item.UploadedFileName" data-fileName="@item.FileName"><i class="fas fa-times"></i></a>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
                @foreach (var item in otherFileList)
                {
                    if (!item.FileName.ToLower().Contains(".wav"))
                    {
                        //var filePath = PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName;
                        //var fileName = item.UploadedFileName.Contains("/Resources") ? item.UploadedFileName : SessionHelper.CurrentSession.IsParent() ? item.FilePath : item.PhysicalPath;
                        var filePath = item.FilePath.Contains("/Resources") ? PhoenixConfiguration.Instance.ReadFilePath + item.FilePath : item.FilePath;
                        var fileIcon = String.Empty;
                        var fileClass = String.Empty;
                        if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                        {
                            filePath = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(filePath);
                        }
                        <div class="col px-2">
                            <div class="card rounded-2x">
                                @if (item.FileName.ToLower().Contains(".pdf"))
                                {
                                    fileIcon = "/Content/VLE/img/svg/file-type-pdf.svg";
                                    fileClass = "file-type-pdf";
                                }
                                else if (item.FileName.ToLower().Contains(".xls") || item.FileName.Contains(".xlsx"))
                                {
                                    fileIcon = "/Content/VLE/img/svg/file-type-excel.svg";
                                    fileClass = "file-type-excel";
                                }
                                else if (item.FileName.ToLower().Contains(".doc") || item.FileName.Contains(".docx"))
                                {
                                    fileIcon = "/Content/VLE/img/svg/file-type-word.svg";
                                    fileClass = "file-type-word";
                                }
                                else if (item.FileName.ToLower().Contains(".mp3"))
                                {
                                    fileIcon = "/Content/VLE/img/svg/file-type-audio.svg";
                                    fileClass = "file-type-audio";
                                }
                                else if (item.FileName.ToLower().Contains(".ppt"))
                                {
                                    fileIcon = "/Content/VLE/img/svg/file-type-ppt.svg";
                                    fileClass = "file-type-ppt";
                                }
                                else
                                {
                                    fileIcon = "/Content/VLE/img/svg/file-type-unknown.svg";
                                    fileClass = "file-type-unknown";
                                }
                                <a class="attachedFile overflow-hidden d-flex align-items-center justify-content-center @fileClass" onclick="globalFunctions.downloadSharepointFile('@item.FileName','@filePath','@SchoolCode','@SessionHelper.CurrentSession.IsParent()','3')" data-assignmentId="@item.QuizQuestionId" data-id="@EncryptDecryptHelper.EncryptUrl(item.QuizQuestionFileId)" data-uploadedPath="@item.UploadedFileName" data-fileName="@EncryptDecryptHelper.EncryptUrl(item.FileName)">
                                    <img src="@fileIcon" class="svg" />
                                </a>
                                <div class="card-body position-relative">
                                    <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                        @item.FileName
                                    </h4>
                                    <a data-id="@EncryptDecryptHelper.EncryptUrl(filePath)" onclick="globalFunctions.downloadSharepointFile('@item.FileName','@filePath','@SchoolCode','@SessionHelper.CurrentSession.IsParent()','3')" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle" data-toggle="tooltip" data-placement="top" title="Download">
                                        <img src="/Content/VLE/img/svg/ic-download.svg" alt="" class="svg">
                                    </a>
                                </div>
                                @if ((Html.CurrentPagePermission().CanEdit && SessionHelper.CurrentSession.IsTeacher()) || SessionHelper.CurrentSession.IsAdmin)
                                {
                                    <a href="javascript:void(0)" class="removeFile rounded-circle d-flex align-items-center justify-content-center position-absolute" id="DeleteQuizQuestionFiles" data-QuizQuestionId="@item.QuizQuestionId" data-FileId="@item.QuizQuestionFileId" data-uploadedPath="@item.UploadedFileName" data-fileName="@item.FileName"><i class="fas fa-times"></i></a>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
