﻿@model  List<Phoenix.Models.Objective>
@using Phoenix.Common.Localization
@{
    var check = string.Empty;
    var selectallchecked = string.Empty;
}
<input type="hidden" id="subjectId" value="@ViewBag.SubjectIds" />
<div class="modal-body">
    <div class="popup-form">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card shadow-none mb-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12 divMenuTree" id="divMenuTree">
                                <div class="module-list border rounded pb-3">
                                    <div class="title-with-fields">
                                        <h3 class="card-title">@ResourceManager.GetString("Quiz.QuizQuestion.SyllabusSelection")</h3>

                                    </div>
                                    <div class="card-body">
                                        <div class="menu-panel" id="divTree">
                                            <div id="divShowMenuTree" class="easyui-tree tree"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card shadow-none mb-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12 divMenuTree" id="divMenuTree">
                                <div class="module-list border rounded pb-3">
                                    <div class="title-with-fields pt-2 pb-2">
                                        <h3 class="card-title">@ResourceManager.GetString("Observation.Observation.LessonSelection")</h3>
                                        <div class="custom-control custom-checkbox custom-control-inline mr-0">
                                            @Html.CheckBox("disSelectAll", new { @class = "custom-control-input", @onclick = "disseelctAllObjectives()" })
                                            <label class="custom-control-label" for="disSelectAll">@ResourceManager.GetString("Shared.Labels.DeselectAll")</label>
                                        </div>
                                    </div>
                                    <div class="card-body" >
                                        <div class="menu-panel pt-3" id="divObjectives">
                                            <div id="objectiveDetails">
                                                @Html.Partial("_LoadObjectives", Model)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="modal-footer">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary waves-effect waves-light mb-0 mt-0" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
        <button type="button" class="btn btn-primary waves-effect waves-light mb-0 mt-0" id="btnSaveObjective" onclick="quizquestions.postObjective()">@ResourceManager.GetString("Shared.Buttons.Save")</button>
    </div>
</div>
<script>
    /// <reference path="../../common/global.js?v="+@ResourceManager.GetString("Shared.Version.Js") />
    $(document).ready(function () {
        $('#divShowMenuTree').tree({
            url: '/Quiz/QuizQuestions/GetTopicSubTopicStructure?subjectIds=' + $("#subjectId").val(),
            loadFilter: function (rows) {
                $('#divTree').mCustomScrollbar({
                    autoExpandScrollbar: true,
                    scrollbarPostion: "outside",
                    setHeight: "320",
                    axis: 'xy'
                })
                return convert(rows);
            },
            onClick: function (node) {
                $('#disSelectAll').prop('checked', false);
                showObjectives(node)
            },
            onLoadSuccess: function () {
                ExpanTree();
            },
        });
        function ExpanTree() {
            $('#divShowMenuTree').tree('expandAll');
        }
        function showObjectives(node) {
            var id = node["id"];
            var subjectId = $("#subjectId").val();
            var isLesson = false;
            if (node['children'] === undefined) {
                isLesson = true;
            }
            $.ajax({
                type: 'GET',
                url: '/Quiz/QuizQuestions/GetSubtopicObjectives',
                data: { id: id, subjectIds: subjectId, isLesson: isLesson },
                success: function (data) {
                    $('#objectiveDetails').html(data);
                },
                error: function (data, xhr, status) {
                    globalFunctions.onFailure(data, xhr, status);
                }
            });
        }
    });
</script>


