﻿@model IEnumerable<Phoenix.VLE.Web.EditModels.QuizQuestionsEdit>
@using Phoenix.Common.Localization
@using Phoenix.VLE.Web.EditModels
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using System.Text;
@using System.Text.RegularExpressions;
@{
    ViewBag.Title = ResourceManager.GetString("Quiz.QuizQuestion.Question");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-quiz.svg");
    var rnd = DateTime.Now.Ticks.ToString();
    var quizQuestionDetails = Session["quizQuestionDetails"] as QuizEdit;


}

@Html.Hidden("IsRandomQuestion", quizQuestionDetails.IsRandomQuestion)
@Html.Hidden("Quizid", quizQuestionDetails.QuizId)
<link href="~/Content/VLE/mathscribe/jqmath-0.4.3.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body column-padding pt-3 pb-3">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-12">
                        <div class="search-with-bg">
                            <i class="fa fa-search"></i>
                            <input type="search" id="QuestionListSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="float-right">
                            @if (ViewBag.IsCustomPermission)
                            {
                                <a href="javascript:void(0)" class="btn btn-primary dropdown-toggle mr-0 mt-lg-0 mb-0 mt-md-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ResourceManager.GetString("Quiz.QuizQuestion.AddQuizQuestion")</a>
                                <div class="dropdown-menu z-depth-1 border-0">
                                    <a id="btnAddNewQuizQuestion" class="dropdown-item pt-2 pb-2" href="/Quiz/QuizQuestions/AddQuizQuestion"> @ResourceManager.GetString("Quiz.QuizQuestion.NewQuizQuestion")</a>
                                    <a class="dropdown-item pt-2 pb-2" href="javascript:void(0)" onclick="quizquestions.FromQuestionPool($(this),@quizQuestionDetails.QuizId)">@ResourceManager.GetString("Quiz.QuizQuestion.QuestionPool")</a>
                                    <a class="dropdown-item pt-2 pb-2" href="javascript:void(0)" onclick='quizquestions.loadImportQuizPopup($(this))'>@ResourceManager.GetString("Quiz.QuizQuestion.ImportQuiz")</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                @{ int i = 1;}
                <div class="table-wrapper mt-3 table-responsive">
                    <table class="table table-bordered table-hover table-responsive-md" id="tbl-QuizQuestion">
                        <thead>
                            <tr>
                                <th>@ResourceManager.GetString("Quiz.QuizQuestion.Index")</th>
                                <th class="d-none">QuizQuestionId</th>
                                <th>@ResourceManager.GetString("Quiz.QuizQuestion.Question")</th>
                                <th>@ResourceManager.GetString("Quiz.QuizQuestion.QuestionType")</th>
                                <th class="text-center no-sort">@ResourceManager.GetString("Quiz.QuizQuestion.Marks")</th>
                                <th class="text-center no-sort">@ResourceManager.GetString("Quiz.QuizQuestion.Actions")</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                if (item.QuestionText.Contains("[blank_space_") && item.QuestionText.Contains("]"))
                                {
                                    string[] r = item.QuestionText.Contains(' ') ? item.QuestionText.Split(' ') : item.QuestionText.Split('.');
                                    foreach (var field in r)
                                    {
                                        if (field.Contains("[blank_space_") && field.Contains("]"))
                                        {
                                            int pFrom = field.IndexOf("[");
                                            int pTo = field.LastIndexOf("]");
                                            if (pTo + 1 == field.Length)
                                            {
                                                //int optionNumber = Convert.ToInt32(field.Substring(pFrom, pTo - pFrom));
                                                item.QuestionText = item.QuestionText.Replace(field, "___________");
                                            }
                                            else
                                            {
                                                string subStr = field.Substring(pFrom, pTo + 1);
                                                item.QuestionText = item.QuestionText.Replace(subStr, "___________");
                                            }
                                        }

                                    }
                                }
                                <tr>
                                    <td>@i</td>
                                    <td class="d-none sortedQuizQuestionId" data-QuizQuestionId="@item.QuizQuestionId">@item.QuizQuestionId</td>
                                    <td class="wordbreak">@Html.Raw(item.QuestionText.Replace(System.Environment.NewLine, "<br />")) </td>
                                    <td>@item.QuestionTypeName</td>
                                    <td class="text-center">@item.Marks</td>
                                    <td class="text-center" data-action="actionButton">
                                        <div class="tbl-actions">
                                            @if (ViewBag.IsCustomPermission)
                                            {
                                                <a onclick="quizquestions.editQuizQuestionsPopup($(this),@item.QuizQuestionId);" class="btnEdit mr-3" data-toggle='tooltip' data-placement='bottom' title="@ResourceManager.GetString("Quiz.QuizQuestion.EditQuizQuestion")"><img src='/Content/VLE/img/svg/pencil.svg' class='svg'></a>
                                                <a class="btnDelete mr-3" onclick="quizquestions.deleteQuizQuestionData($(this),@item.QuizQuestionId,@quizQuestionDetails.QuizId);" data-toggle='tooltip' data-placement='bottom' title="@ResourceManager.GetString("Quiz.QuizQuestion.DeleteQuizQuestion")"><img src='/Content/VLE/img/svg/delete.svg' class='svg'></a>
                                            }
                                        </div>
                                    </td>
                                    @{i++;}
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>



@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.QuizQuestions= '@ResourceManager.GetString("Quiz.QuizQuestion.Question")';
        translatedResources.ResponseValidation= '@ResourceManager.GetString("Quiz.QuizQuestion.ResponseValidation")';
        translatedResources.correctAnswer = '@ResourceManager.GetString("Quiz.QuizQuestion.CorrectAnswer")';
        translatedResources.Index = '@ResourceManager.GetString("Quiz.QuizQuestion.Index")';
        translatedResources.OrderSet ='@ResourceManager.GetString("Quiz.QuizQuestion.OrderSet")';
        translatedResources.ImportQuiz = '@ResourceManager.GetString("Quiz.QuizQuestion.ImportQuiz")';
        translatedResources.InvalidFormatMessage = '@ResourceManager.GetString("Shared.Messages.fileInvalidFormatMessage")';
        translatedResources.InvalidColumnMessage='@ResourceManager.GetString("Shared.Messages.columnInvalidFormatMessage")';

    </script>
    <script src="@Url.Content("~/Content/js/addons/jquery.minicolors.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Quiz/QuizQuestion.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/mathscribe/jqmath-etc-0.4.6.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    @*<script src="@Url.Content("~/Content/VLE/mathscribe/jquery-1.4.3.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>*@
    @if (@TempData["IsQuizQuestion"] != null)
    {
        <script>
           @*noty({ text: '@ResourceManager.GetString("Shared.Messages.Updated")', layout: "topCenter", type: 'success' });

            setTimeout(function () {
                $.noty.closeAll();
            }, 4000);*@

            globalFunctions.showSuccessMessage('@ResourceManager.GetString("Shared.Messages.Updated")');
        </script>

    }
    <script>
        $("#btnBack").show();

        $(document).on('click', '#btnBack', function () {
            location.href = "/quiz/quiz";
        });
    </script>
}