﻿@model Phoenix.VLE.Web.EditModels.QuizQuestionsEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    ViewBag.Title = ResourceManager.GetString("Quiz.QuizQuestion.AddQuestion");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-quiz.svg");
    var rnd = DateTime.Now.Ticks.ToString();
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var pageSearchClass = SessionHelper.CurrentSession.IsStudent() ? "page-search" : "task-search";
}
<link href="~/Content/css/custom/Users/easyuitree.css" rel="stylesheet" />
<link href="~/Content/VLE/mathscribe/jqmath-0.4.3.css" rel="stylesheet" />
<style>
    .item-img {
        height: 100% !important;
    }

    tr.selected {
        background-color: #d87676 !important;
    }

    .tree {
        border: none !important;
    }
</style>
<input type="hidden" id="formModified" value="false" />
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="card m-0 border-0">
            <div class="card-body">
                <h3 class="card-title">@ResourceManager.GetString("Quiz.QuizQuestion.SelectQuestions")</h3>
                <div class="column-padding pt-3 pb-3">

                    @using (Ajax.BeginForm("InsertUpdatePoolQuestions", "QuizQuestions", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnSuccess = "quizquestions.onSaveSuccess",
                        OnFailure = "quizquestions.onFailure",
                        InsertionMode = InsertionMode.Replace
                    }, new { @Id = "AssignQuestions", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.QuizId)
                        @Html.HiddenFor(m => m.SelectedQuestionId)
                        @Html.HiddenFor(m => m.DeselectedQuestionId)
                        @Html.Hidden("IsPool", true)
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                <div class="pt-3 pb-3">
                                    <h4 class="sub-heading">@ResourceManager.GetString("Quiz.QuizQuestion.Filter")</h4>

                                    <div class="row">
                                        <div class="col-lg-8 col-md-6 col-12">
                                            <div class="md-form md-outline">
                                                @Html.DropDownListFor(x => x.CourseIds, new MultiSelectList(ViewBag.CourseList, "Value", "Text", Model.CourseId), new { @class = "selectpicker ddlSubject", @name = "CourseId", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true" })
                                                <label class="active select-label">@ResourceManager.GetString("Quiz.QuizQuestion.CourseId")</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <button class="btn btn-primary m-0" type="button" onclick="quizquestions.loadTopicSubtopic($(this));">@ResourceManager.GetString("Quiz.QuizQuestion.CurriculumTag")</button>
                                            <button type="button" id="btnFilterQuestions" class="btn btn-outline-primary m-0 bs-deselect-all">@ResourceManager.GetString("Quiz.QuizQuestion.Filter")</button>
                                            <button type="button" style="display:none" id="btnClearFilter" class="btn btn-outline-primary m-0 bs-deselect-all">@ResourceManager.GetString("Quiz.QuizQuestion.ClearFilter")</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="row mb-3 mt-3" id="selectedObjectiveDetails">
                                            @if (Model.lstObjective.Any())
                                            {
                                                @Html.Partial("_ShowSelectedObjective", Model.lstObjective)
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6 col-md-6 ">
                                            <h4 class="sub-heading">@ResourceManager.GetString("Quiz.QuizQuestion.QuestionsToAdd")</h4>

                                            <div class="row mb-2">
                                                <div class="col-lg-12 col-md-12 col-12 @pageSearchClass border-0">
                                                    <div class="search-with-bg w-responsive">
                                                        <i class="fas fa-search active"></i>
                                                        <input type="text" id="availableQuestionSearch" class="searchfield search-field custom" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-lg-12 col-md-12 col-12">
                                                    <div class="border rounded column-padding pt-2 pb-3">
                                                        <div class="custom-control custom-checkbox ml-1 pb-2">
                                                            <input type="checkbox" class="custom-control-input" id="selectAllUnassignedQuestions" title="SelectAll" value="SelectAll" />
                                                            <label class="custom-control-label to-sentence-case" for="selectAllUnassignedQuestions">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SelectAll")</label>
                                                        </div>
                                                        <div class="manageQuestion-wrapper overflow-auto" style="height: 250px;">

                                                            <div id="unassignedQuestionList">
                                                                @Html.Partial("_GetUnAssignedQuestions", Model.UnAssignedQuestionList)
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-lg-12 col-md-12 col-12">
                                                    <button class="btn btn-primary btn-sm m-0" type="button" id="btnAddQuizQuestion">@ResourceManager.GetString("Shared.Labels.Add") <i class="fas fa-plus ml-2"></i></button>
                                                    @*<button class="btn btn-primary btn-sm m-0" id="btnContribute" onclick="addUnassignedMembers('Contribute')" href="#">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Contribute") <i class="fas fa-exchange-alt ml-2"></i></button>
                                                        <button class="btn btn-primary btn-sm m-0" id="btnManager" onclick="addUnassignedMembers('Manager')" href="#">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Manager") <i class="fas fa-user-tie ml-2"></i></button>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 mt-4 mt-md-0">
                                            <h4 class="sub-heading">@ResourceManager.GetString("Quiz.QuizQuestion.SelectedQuestions")</h4>
                                            <div class="row mb-2">
                                                <div class="col-lg-12 col-md-12 col-12 @pageSearchClass border-0">
                                                    @*<div class="input-group">
                                                            <input type="text" id="groupMemberSearch" placeholder="Search" class="form-control sp-search" />
                                                            <span class="sp-btn-search input-group-addon add-on"><span class="fa fa-search"></span></span>
                                                        </div>*@
                                                    <div class="search-with-bg w-responsive">
                                                        <i class="fas fa-search active"></i>
                                                        <input type="text" id="questionsSearch" class="searchfield search-field custom" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-lg-12 col-md-12 col-12">
                                                    <div class="border rounded column-padding pt-2 pb-3">
                                                        <div class="custom-control custom-checkbox ml-1 pb-2">
                                                            <input type="checkbox" class="custom-control-input" id="selectAllAssignedQuestions" title="SelectAll" value="SelectAll" />
                                                            <label class="custom-control-label to-sentence-case" for="selectAllAssignedQuestions">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SelectAll")</label>
                                                        </div>
                                                        <div class="manageQuestion-wrapper overflow-auto" style="height: 250px;">

                                                            <div id="AssignedQuestionList">

                                                                @Html.Partial("_GetAssignedQuestions", Model.AssignedQuestionList)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-lg-12 col-md-12 col-12">
                                                    @*<button class="btn btn-primary btn-sm m-0" id="btnViewOnlyUpdate" onclick="updateAssignedMembers('ViewOnly')" href="#">@ResourceManager.GetString("SchoolGroup.SchoolGroup.ViewOnly") <i class="fas fa-eye ml-2"></i></button>
                                                        <button class="btn btn-primary btn-sm m-0" id="btnContributeUpdate" onclick="updateAssignedMembers('Contribute')" href="#">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Contribute") <i class="fas fa-exchange-alt ml-2"></i></button>
                                                            <button class="btn btn-primary btn-sm m-0" id="btnManagerUpdate" onclick="updateAssignedMembers('Manager')" href="#">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Manager") <i class="fas fa-user-tie ml-2"></i></button>*@
                                                    <button class="btn btn-primary btn-sm m-0" type="button" id="btnRemoveQuizQuestion">@ResourceManager.GetString("Shared.Labels.Remove") <i class="fas fa-times ml-2"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-lg-12 col-md-12 col-12">
                                <button id="btnAssignQuestions" type="button" class="btn btn-primary m-0 waves-effect waves-light" tabindex="5">
                                    <span>@ResourceManager.GetString("Shared.Buttons.Save")</span>
                                </button>
                                <button type="button" id="btnCancelAssignQuestions" class="btn btn-outline-primary">@ResourceManager.GetString("Shared.Labels.Back")</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.selectAdd = '@ResourceManager.GetString("Quiz.QuizQuestion.SelectQuestion")';
        translatedResources.selectRemove = '@ResourceManager.GetString("Quiz.QuizQuestion.RemoveQuestion")';
        translatedResources.SelectSubjectError = '@ResourceManager.GetString("Quiz.QuizQuestion.SelectSubjectError")';
        translatedResources.DeleteObjectiveSuccess= '@ResourceManager.GetString("Quiz.QuizQuestion.RemoveTaggedCurriculums")';
        translatedResources.TopicsSelected = '@ResourceManager.GetString("Observation.Observation.TopicsSelected")';
    </script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.jsonloader.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Quiz/QuizQuestion.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/mathscribe/jqmath-etc-0.4.6.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
@*<script>
    //debugger;
    //$('#AjaxLoader').fadeIn();
    //$('#AjaxLoader').fadeOut(1000, function () { }); 
    //$(document).ready(function () {
    //    debugger;
    //    $('#AjaxLoader').fadeIn();
    //    $('#AjaxLoader').fadeOut(1000, function () { }); 
    //    $('iframe').load(function () {
           
    //    });
    //});
</script>*@