﻿@model IEnumerable<Phoenix.Models.CertificateTeacherMapping>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@{
    bool isAdmin = SessionHelper.CurrentSession.IsAdmin;
}
<div class="row">
    <div class="col-lg-5 col-md-5 col-12 task-search border-bottom-0">
        <h4 class="card-title">@ResourceManager.GetString("SecurityManagement.ApproverDelegate.Delegates")</h4>
        <div class="search-with-bg mb-2">
            <i class="fas fa-search active"></i>
            <input type="text" data-searchtype="N" onkeyup="approverDelegateFunctions.filterDelegatesList(this)" id="searchDelegate" class="searchfield font-small search-approvers" style="min-width: auto;" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
        </div>
        <div class="border rounded column-padding pt-3 pb-3">
            <div class="custom-control custom-checkbox ml-1">
                <input type="checkbox" class="custom-control-input chk-select-all" data-approvaltype="N" id="SelectAllDelegate" onchange="approverDelegateFunctions.toggleDelegateSelection(this, 'N')" value="SelectAll">
                <label class="custom-control-label" for="SelectAllDelegate">@ResourceManager.GetString("Shared.Labels.SelectAll")</label>
            </div>
            <div class="delegates-wrapper pt-2 pb-3">
                <div id="DelegateList" data-approvaltype="N" class="teacher-delegate">
                    @foreach (var d in Model.Where(e => !e.IsAssigned))
                    {
                        <div class="custom-control custom-checkbox ml-1 delegate" data-search-text="@d.TeacherName">
                            <input type="checkbox" onchange="approverDelegateFunctions.checkAllSelections(this)" id="tch_@d.TeacherUserId" class="custom-control-input" data-teacherid="@d.TeacherUserId" value="@d.TeacherUserId">
                            <label class="custom-control-label" for="tch_@d.TeacherUserId">@d.TeacherName</label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-12">
        <div class="d-flex flex-column h-100 justify-content-center">
            @if (isAdmin)
            {
                <button onclick="approverDelegateFunctions.addDeleteDelegates(true)" type="button" class="btn btn-outline-primary m-0 mb-1 w-100">
                    @ResourceManager.GetString("Shared.Labels.Add")
                    <i class="fas fa-arrow-right ml-2"></i>
                </button>
                <button onclick="approverDelegateFunctions.addDeleteDelegates(false)" type="button" class="btn btn-outline-primary m-0 w-100">
                    <i class="fas fa-arrow-left mr-2"></i> @ResourceManager.GetString("Shared.Labels.Remove")
                </button>
            }
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-12 task-search border-bottom-0">
        <h4 class="card-title">@ResourceManager.GetString("SecurityManagement.ApproverDelegate.ExistingDelegates")</h4>
        <div class="search-with-bg mb-2">
            <i class="fas fa-search active"></i>
            <input type="text" data-searchtype="E" onkeyup="approverDelegateFunctions.filterDelegatesList(this)" id="searchSelectedDelegate" class="searchfield font-small search-approvers" style="min-width: auto;" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
        </div>
        <div class="border rounded column-padding pt-3 pb-3">
            <div class="custom-control custom-checkbox ml-1">
                <input type="checkbox" data-approvaltype="E" class="custom-control-input chk-select-all" onchange="approverDelegateFunctions.toggleDelegateSelection(this, 'E')" id="UnselegatedAllDelegate" value="SelectAll">
                <label class="custom-control-label" for="UnselegatedAllDelegate">
                    @ResourceManager.GetString("Shared.Labels.SelectAll")
                </label>
            </div>
            <div class="delegates-wrapper pt-2 pb-3">
                <div id="SelectedDelegateList" data-approvaltype="E" class="teacher-delegate">
                    @foreach (var d in Model.Where(e => e.IsAssigned))
                    {
                        <div class="custom-control custom-checkbox ml-1 delegate" data-search-text="@d.TeacherName">
                            <input type="checkbox" onchange="approverDelegateFunctions.checkAllSelections(this)" class="custom-control-input" id="tch_@d.TeacherUserId" value="@d.TeacherUserId">
                            <label class="custom-control-label" for="tch_@d.TeacherUserId">@d.TeacherName</label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>