﻿@model IEnumerable<Phoenix.Models.CertificateTeacherMapping>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Enums;
@{
    bool isAdmin = SessionHelper.CurrentSession.IsAdmin;
}

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">
                    @ResourceManager.GetString("SecurityManagement.ApproverDelegate.ApproverDelegates")

                    <div class="form-check-inline ml-0 ml-md-5 my-3 my-md-0">
                        <label class="form-check-label">
                            <input type="radio" checked value="@((short)PlanTemplateTypes.Certificate)" class="form-check-input" name="optTemplateType">
                            @ResourceManager.GetString("SecurityManagement.ApproverDelegate.CertificatesTemplate")
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="@((short)PlanTemplateTypes.Plan)" name="optTemplateType">
                            @ResourceManager.GetString("SecurityManagement.ApproverDelegate.PlanTemplate")
                        </label>
                    </div>
                    @*<div class="form-check-inline">
                        <label class="form-check-label">
                            @Html.DropDownList("ddlDepartment", (SelectList)ViewBag.Departments, new { @class = "selectpicker" })
                        </label>
                    </div>*@
                </h3>
                <div class="column-padding pt-3 pb-3">
                    <div id="divApproverList">
                        @Html.Partial("_ApproverDelegateList", Model)
                    </div>
                    <div class="row pt-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            @if (isAdmin)
                            {
                                <button onclick="approverDelegateFunctions.saveApproverDelegates()" type="submit" class="btn btn-primary m-0 waves-effect waves-light" tabindex="5">
                                    <span>@Html.Raw(ResourceManager.GetString("Shared.Buttons.Save"))</span>
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts{
    <script>
        var isApproverDataChanges = false;
        translatedResources.selectApproverMsg = '@ResourceManager.GetString("SecurityManagement.ApproverDelegate.SelectApproverMessage")';
        translatedResources.noChangeMsg = '@ResourceManager.GetString("SecurityManagement.ApproverDelegate.NoChangeMessage")';
    </script>
    <script src="~/Content/js/custom/SecurityManagement/ApproverDelegate.js?v=" +@ResourceManager.GetString("Shared.Version.Js")></script>
}