﻿@model IEnumerable<Phoenix.Models.Entities.AttendanceChartModel>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers

<div class="col-lg-12 col-sm-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">@ResourceManager.GetString("ClassList.ClassList.StudentAttendanceComparebyYear")</h3>
            <canvas id="AttendanceYearlyBarChart"></canvas>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        bindLineChart();
    });

    function bindLineChart() {

        var canvas = document.getElementById("AttendanceYearlyBarChart");
                var ctx = canvas.getContext('2d');
                canvas.height = 100;
                // Global Options:
                Chart.defaults.global.defaultFontColor = 'black';
                Chart.defaults.global.defaultFontSize = 16;

                var data = {
                    labels: @Html.Raw(Json.Encode(Model.Select(s => s.ShortMonthName).ToList())), // ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label: "@string.Join("-", Model.Select(s => s.CurrentYear).Distinct())",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(82, 170, 225,0.4)",
                        borderColor: "rgb(64, 175, 99)", // The main line color
                        borderCapStyle: 'square',
                        borderDash: [], // try [5, 15] for instance
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "black",
                        pointBackgroundColor: "white",
                        pointBorderWidth: 1,
                        pointHoverRadius: 8,
                        pointHoverBackgroundColor: "rgba(64, 175, 99,0.6)",
                        pointHoverBorderColor: "rgb(64, 175, 99)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 4,
                        pointHitRadius: 10,
                        // notice the gap in the data and the spanGaps: true
                        data: @Html.Raw(Json.Encode(Model.Select(s => s.MonthWisePercentage).ToList())),
                        spanGaps: true,
                    }
                    ]
                };

                // Notice the scaleLabel at the same level as Ticks
                var options = {
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: 100,
                                callback: function (value) {
                                    return value + "%"
                                }
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Attendance',
                                fontSize: 20
                            }
                        }]
                    }
                };
                //to remove the dataset if no data present
                var dataCopy = [];
                for (var i = 0; i < data.datasets.length; i++) {
                    if (data.datasets[i].data.length !== 0) dataCopy.push(data.datasets[i]);
                }
                data.datasets = dataCopy;
                // Chart declaration:
                var myBarChart = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: options
                });
            }
</script>