﻿@model Phoenix.Models.Entities.AttendanceProfileModel
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers

@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}

<div class="row mb-3">
    <div class="col-xl-3 col-lg-3 col-md-3 col-12">
        <div id="divAttBySessionCode">
            @{
                Html.RenderPartial("_AttendanceSessionCode", Model.AttendenceSessionCode);
            }
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
        @if (Model.AttendanceType == "M")
        {
            Html.RenderPartial("_AttendanceMonthlyBarChart", Model.AttendanceChart);
        }
        else
        {
            Html.RenderPartial("_AttendanceWeeklyBarChart", Model.StudentDetail.AttendenceBySession);
        }
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-12">
        <!-- student overall attendance start -->
        <div class="card h-100 border-0 attendance-widget">
            <div class="card-body">
                <h3 class="card-title">@ResourceManager.GetString("ClassList.ClassList.OverallPercentage")</h3>
                <div class="progress mx-auto mt-5" data-value="@Model.OverAllPercentage">
                    <span class="progress-left">
                        <span class="progress-bar border-primary"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar border-primary"></span>
                    </span>
                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center ">
                        <div class="h2 font-weight-bold arabictxt">@Model.OverAllPercentage<sup class="small">%</sup></div>
                    </div>
                </div>
                <p class="font-16 mb-2 mt-4 text-center text-semibold">
                    @ResourceManager.GetString("ClassList.ClassList.AttendanceCount") <span class="arabictxt">@Model.AttendanceCount</span>
                </p>
                <p class="font-16 mb-0 text-center text-semibold">
                    @ResourceManager.GetString("ClassList.ClassList.Totalclassesheld") <span class="arabictxt">@Model.TotalClassesHeld</span>
                </p>
            </div>
        </div>
        <!-- student overall attendance end -->
    </div>
</div>
<div class="row">
    @{
        Html.RenderPartial("_AttendanceYearlyBarChart", Model.AttendanceChart);
    }
</div>
<div class="row">
    @if (Model.AttendanceType == "M")
    {
        Html.RenderPartial("_AttendanceListMonthly", Model.AttendenceList);
    }
    else
    {
        Html.RenderPartial("_AttendanceListWeekly", Model.AttendenceList);
    }
</div>

<script>
    $(document).ready(function () {
        $(".progress").each(function () {
            var value = parseFloat($(this).attr('data-value'));
            var left = $(this).find('.progress-left .progress-bar');
            var right = $(this).find('.progress-right .progress-bar');

            if (value > 0) {
                if (value <= 50) {
                    right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
                } else {
                    right.css('transform', 'rotate(180deg)')
                    left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
                }
            }
        })

        function percentageToDegrees(percentage) {
            return percentage / 100 * 360
        }
    });
</script>