﻿@model IEnumerable<Phoenix.Models.Entities.AttendanceChartModel>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers

@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}
@if (Model != null)
{
    <div class="card h-100">
        <div class="card-body">
            <h3 class="card-title">@ResourceManager.GetString("ClassList.ClassList.MonthWiseAtt")</h3>
            <canvas id="AttendanceChartMonthly" style="height:318px;width:550px;"></canvas>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
    //-------- Column chart ---------
    //Get the context of the Chart canvas element we want to select
        var ctx = $("#AttendanceChartMonthly");
        //ctx.height(318);
        //ctx.width(550);
    // Chart Options
    var chartOptions = {
        // Elements options apply to all of the options unless overridden in a dataset
        // In this case, we are setting the border of each bar to be 2px wide and green
        elements: {
            rectangle: {
                borderWidth: 1,
                borderColor: 'rgb(0, 255, 0)',
                borderSkipped: false
            }
        },
        layout: {
            padding: {
                left: 0,
                right: 0,
                top: 0,
                bottom: 0
            }
        },
        responsive: false,
        maintainAspectRatio: false,
        responsiveAnimationDuration: 500,
        legend: {
            display: true,
            position: 'bottom',
            labels : {
                boxWidth: 10,
                usePointStyle: false
            },
        },
        scales: {
            xAxes: [{
                display: true,
                gridLines: {
                    color: "#f3f3f3",
                    drawTicks: true,
                },
                scaleLabel: {
                    display: true,
                },
                barThickness: 15
            }],
            yAxes: [{
                display: true,
                gridLines: {
                    color: "#f3f3f3",
                    drawTicks: true,
                },
                scaleLabel: {
                    display: true,
                },
                 ticks: {
                     max: 30,
                     min: 0,
                     stepSize: 5
                 }
            }]
        },
        title: {
            display: true,
            //text: 'Attendance Chart',
            //fontFamily: 'inherit'
        }
    };

    // Chart Data
    var chartData = {
        //labels: ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEPT", "OCT", "NOV", "DEC"],
        labels: @Html.Raw(Json.Encode(Model.Select(s=>s.ShortMonthName).ToList())),
        datasets: [ {
            label:"@string.Join("-", Model.Select(s => s.CurrentYear).Distinct())",
            data:@Html.Raw(Json.Encode(Model.Select(s=>s.TotalPresentDays).ToList())),
            backgroundColor: "#4981FD",
            hoverBackgroundColor: "#4981FD",
            borderColor: "transparent",
            borderWidth: 0
        }]
    };

    var config = {
        type: 'bar',
        // Chart Options
        options : chartOptions,
        data : chartData
    };

    // Create the chart
    var lineChart = new Chart(ctx, config);
});
</script>