﻿@model IEnumerable<Phoenix.Models.Entities.AttendenceBySessionModel>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}

<div class="card h-100">
    <div class="card-body">
        <h3 class="card-title">@ResourceManager.GetString("ClassList.ClassList.DayWiseAtt")</h3>
        <div style="min-height:350px;width:100%;">
            <canvas id="AttendanceWeeklyChart"></canvas>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        GetWeeklyBarChart();
    });
    function GetWeeklyBarChart() {
         //-------- Column chart ---------
        //Get the context of the Chart canvas element we want to select
        var ctx = $("#AttendanceWeeklyChart");
        //ctx.height(318);
        //ctx.width(550);

        // Chart Options
        var chartOptions = {
            // Elements options apply to all of the options unless overridden in a dataset
            // In this case, we are setting the border of each bar to be 2px wide and green
            elements: {
                rectangle: {
                    borderWidth: 1,
                    borderColor: 'rgb(0, 255, 0)',
                    borderSkipped: false
                }
            },
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 0,
                    bottom: 0
                }
            },
            responsive: true,
            maintainAspectRatio: false,
            responsiveAnimationDuration: 500,
            legend: {
                display: true,
                position: 'bottom',
                labels: {
                    boxWidth: 10,
                    usePointStyle: false
                },
            },
            scales: {
                xAxes: [{
                    display: true,
                    gridLines: {
                        color: "#f3f3f3",
                        drawTicks: true,
                    },
                    scaleLabel: {
                        display: true,
                    },
                    barThickness: 15
                }],
                yAxes: [{
                    display: true,
                    gridLines: {
                        color: "#f3f3f3",
                        drawTicks: true,
                    },
                    scaleLabel: {
                        display: true,
                    },
                    ticks: {
                        max: 100,
                        min: 0,
                        stepSize: 10
                    }
                }]
            },
            title: {
                display: true,
                //text: 'Attendance Chart By Session',
                //fontFamily: 'inherit'
            }
        };

        // Chart Data
        var chartData = {
            //labels: objJSON.AT_DAY,
            labels: @Html.Raw(Json.Encode(Model.Select(s => s.WeekDay).ToList())),
            datasets: [{
                label: "AM",
                //data: [88, 85, 93, 95, 94, 96, 94, 93],
                data: @serializer.Serialize(Model.Select(s => s.At_AM).ToList()),
                // data: objJSON.AT_AM,
                backgroundColor: "#4981FD",
                hoverBackgroundColor: "#4981FD",
                borderColor: "transparent",
                borderWidth: 0
            }, {
                label: "PM",
                //data: [89, 86.5, 93.4, 95.75, 93.45, 95.75, 96.75, 92.75],
                data: @serializer.Serialize(Model.Select(s => s.At_PM ).ToList()),
                //data:objJSON.AT_PM,
                backgroundColor: "#FF9850",
                hoverBackgroundColor: "#FF9850",
                borderColor: "transparent",
                borderWidth: 0
            }]
        };

        var config = {
            type: 'bar',
            // Chart Options
            options: chartOptions,
            data: chartData,

        };

        // Create the chart
        var lineChart = new Chart(ctx, config);
    }
</script>
