﻿@model Phoenix.Models.Entities.AttendanceProfileModel
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers

@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var nowDate = DateTime.Now;
}

<style>
    .card-padding {
        padding: 15px 15px 10px 15px;
    }

    .switch-toggle {
        width: 10em;
        height: 34px;
        float: right;
    }

    .switch-toggle-new {
        width: 10em;
        height: 34px;
        float: right;
    }

    .switch-toggle label:not(.disabled) {
        cursor: pointer;
    }



    .table-scroll {
        position: relative;
        /*max-width: 600px;
        margin: auto;
        overflow: hidden;
        border: 1px solid #000;*/
    }

    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid #000;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll thead, .table-scroll tfoot {
        background: #f9f9f9;
    }

    .clone {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }

        .clone th, .clone td {
            visibility: hidden
        }

        .clone td, .clone th {
            border-color: transparent
        }

        .clone tbody th {
            visibility: visible;
            /*color: red;*/
        }

        .clone .fixed-side {
            border: 1px solid #000;
            background: #eee;
            visibility: visible;
        }

        .clone thead, .clone tfoot {
            background: transparent;
        }

    .attPresent {
        color: #008000 !important;
    }

    .attAbsent {
        color: #FF0000 !important;
    }
</style>

<div class="clearfix position-relative">
    <!-- Attendance Start -->
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-md-7 col-12 d-flex align-items-center">
                            <div class="border-right pr-3 mr-3">
                                <h3 class="font-16 mb-1 text-semibold text-uppercase">@Model.StudentDetail.StudentName</h3>
                                <h4 class="sub-heading text-medium text-black-50">@ResourceManager.GetString("ClassList.StudentInfo.StudentID"): @Model.StudentDetail.StudentNo</h4>
                            </div>
                            <div>
                                <p class="font-16 text-semibold mb-1">@ResourceManager.GetString("ClassList.StudentInfo.Grade") @Model.StudentDetail.StudentGradeDisplay</p>
                                <p class="font-16 text-semibold m-0">@ResourceManager.GetString("ClassList.StudentInfo.Section") @Model.StudentDetail.StudentSection</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-3 mt-2 mt-sm-0">
                            <div class="md-form md-outline date-time-picker date-icon mb-0 arabictxt">
                                @Html.TextBox("dueDatePicker", @nowDate, "{0:dd-MMM-yyyy}", new { @class = "form-control date-picker" ,@readonly="readonly"})
                                <label class="active" for="dueDatePicker">@ResourceManager.GetString("ClassList.ClassList.SelectDate") <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-2 col-5 text-right">
                            <input id="toggler" type="checkbox" checked data-toggle="toggle" data-on="@ResourceManager.GetString("ClassList.ClassList.Weekly")" data-off="@ResourceManager.GetString("ClassList.ClassList.Monthly")" data-onstyle="primary" data-offstyle="success" data-style="btn-toggler" data-width="140px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divMainAttendace">
        @{
            Html.RenderPartial("_AttendanceDetail", Model);
        }
    </div>
</div>

<script type="text/javascript" src="~/Content/js/custom/Attendance/AttendanceDetail.js"></script>


<script>

    $(document).ready(function () {
        $('#toggler').bootstrapToggle('destroy');
        $('#toggler').bootstrapToggle();
    });

    $('#zoomBtn').click(function () {
        $('.zoom-btn-sm').toggleClass('scale-out');
        if (!$('.zoom-card').hasClass('scale-out')) {
            $('.zoom-card').toggleClass('scale-out');
        }
    });

    $('.zoom-btn-sm').click(function () {
        var btn = $(this);
        var card = $('.zoom-card');

        if ($('.zoom-card').hasClass('scale-out')) {
            $('.zoom-card').toggleClass('scale-out');
        }
        if (btn.hasClass('zoom-btn-person')) {
            card.css('background-color', '#d32f2f');
        } else if (btn.hasClass('zoom-btn-doc')) {
            card.css('background-color', '#fbc02d');
        } else if (btn.hasClass('zoom-btn-tangram')) {
            card.css('background-color', '#388e3c');
        } else if (btn.hasClass('zoom-btn-report')) {
            card.css('background-color', '#1976d2');
        } else {
            card.css('background-color', '#7b1fa2');
        }
    });

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('.date-picker').datetimepicker({
            format: 'DD-MMM-YYYY',
            maxDate: new Date(),
            ignoreReadonly: true,
            locale: translatedResources.locale
            //debug: true
        }).on('dp.change', function (e) {
            var AttType = $("#toggler").is(":checked") ? "" : "M";
            GetAttendanceProfileDetail(globalFunctions.toSystemReadableDate( $(this).val()), AttType);
        });

    });
</script>
