﻿@model Phoenix.Models.Entities.StudentProfileModel
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.Models.Entities

<style>
    .grid-list-click {
        color: #0e0e0e !important;
    }

    .grid-list-unclick {
        color: #caadad !important;
    }
</style>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="card bg-transparent shadow-none">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-12">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title">@ResourceManager.GetString("ClassList.ClassList.IncidentDetails")</h3>
                                <div class="column-padding pb-3 overflow-auto" id="divBehavioralDetail" style="max-height:400px;">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col" class="text-center">@ResourceManager.GetString("ClassList.ClassList.Date")</th>
                                                <th scope="col" class="text-center">@ResourceManager.GetString("ClassList.ClassList.Type")</th>
                                                <th scope="col" class="text-center">@ResourceManager.GetString("ClassList.ClassList.Remarks")</th>
                                                <th scope="col" class="text-center">@ResourceManager.GetString("ClassList.ClassList.Action")</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.IncidentDetailModel.Count() > 0)
                                            {
                                                foreach (var item in Model.IncidentDetailModel)
                                                {
                                                    string Incident_Remarks = string.Empty;
                                                    if (!string.IsNullOrEmpty(item.IncidentRemarks))
                                                    {
                                                        Incident_Remarks = item.IncidentRemarks.Length > 10 ? item.IncidentRemarks.Substring(0, 10) + "..." : item.IncidentRemarks;
                                                    }
                                                    <tr>
                                                        <td class="text-center arabictxt">
                                                            @item.IncidentDate.ToFormatedDate("dd MMM yyyy")
                                                        </td>
                                                        <td class="text-center">
                                                            <span class="foractionInfo @Html.Raw(item.IncidentType == "0"? "text-primary" : "text-secondary")">@Html.Raw(item.IncidentType == "0" ? IncidentType.FA : IncidentType.FI)</span>
                                                        </td>
                                                        <td class="text-center">
                                                            <span data-toggle="tooltip" title="@item.IncidentRemarks">@Incident_Remarks</span>
                                                        </td>
                                                        <td class="text-center">
                                                            <a target="_blank" href="/Behaviour/Incident/AddEditIncident?id=@EncryptDecryptHelper.EncryptUrl(item.IncidentId.ToString())" data-toggle="tooltip" title="@ResourceManager.GetString("Shared.Buttons.View")"><i class="fas fa-eye"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="4" align="center">
                                                        <span class="d-block mx-auto my-5 no-data-found text-bold">
                                                            @ResourceManager.GetString("ClassList.ClassList.NoDataFound")
                                                        </span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                        <div class="login-data student-behaviour overflow-hidden position-relative bg-white p-3 mb-2 rounded-2x">
                            <h2><span class="arabictxt">@Model.BehaviourPointModel.BehaviourPoint</span><span class="d-block">@ResourceManager.GetString("ClassList.ClassList.IncidentBehaviourPoint")</span></h2>
                        </div>
                        <div class="login-data student-behaviour overflow-hidden position-relative bg-white p-3 mb-2 rounded-2x">
                            <h2><span class="arabictxt">@Model.BehaviourPointModel.WeeklyBehaviourPoint</span><span class="d-block">@ResourceManager.GetString("ClassList.ClassList.WeeklyBehaviourPoint")</span></h2>
                        </div>
                        <div class="login-data student-behaviour overflow-hidden position-relative bg-white p-3 mb-2 rounded-2x">
                            <h2><span class="arabictxt">@Model.BehaviourPointModel.MonthlyBehaviourPoint</span><span class="d-block">@ResourceManager.GetString("ClassList.ClassList.MonthlyBehaviourPoint")</span></h2>
                        </div>
                        <div class="card mb-0 pb-3">
                            <div class="card-body">
                                <h3 class="card-title"> @ResourceManager.GetString("ClassList.ClassList.BehaviourDetail")</h3>
                                @{Html.RenderPartial("_BehaviourSubCategories", Model.BehaviourSubCategoryList);}
                            </div>
                        </div>
                        <div class="accordion text-left d-none" id="sudentSiblingInfo">
                            <div class="card z-depth-0 m-0 border-top-0 border-left-0 border-right-0">
                                <div class="card-header" id="siblingInfo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link d-block text-left m-0 p-0 collapse" type="button" data-toggle="collapse" data-target="#sibling-details" aria-expanded="true" aria-controls="sibling-details" style="pointer-events: none;">
                                            @ResourceManager.GetString("ClassList.ClassList.SiblingInformation")
                                        </button>
                                    </h5>
                                </div>
                                <div id="sibling-details" class="collapse show border-top" aria-labelledby="siblingInfo" data-parent="#sudentSiblingInfo">
                                    <div class="card-body column-padding">
                                        <div class="content">
                                            @if (Model.SiblingDetailModel.ToList().Count > 0)
                                            {
                                                foreach (var item in Model.SiblingDetailModel)
                                                {
                                                    <article class="d-flex pb-3 pt-3">
                                                        <div class="sibling-img border">
                                                            <img src="@item.Photopath" alt="@item.SiblingName" class="img-fluid">
                                                        </div>
                                                        <div class="sibling-info flex-1 ml-3">
                                                            <h3><a href="/ClassList/ClassList/StudentSiblingDetail?StudentId=@item.SiblingId" target="_blank" class="d-inline-block text-semibold" style="line-height: 1;">@item.SiblingName</a></h3>
                                                            <p class="mb-1">@item.SiblingSchoolName</p>
                                                            <div class="sibling-action d-flex justify-content-around align-items-center border">
                                                                <h3 class="m-0 w-100 pt-1 pb-1 text-center border-right"><span class="d-block">@ResourceManager.GetString("ClassList.StudentInfo.Age")</span>@item.SiblingAge</h3>
                                                                <h3 class="m-0 w-100 pt-1 pb-1 text-center border-right"><span class="d-block">@ResourceManager.GetString("ClassList.StudentInfo.Class")</span>@item.SiblingGradeDisplay</h3>
                                                                <h3 class="m-0 w-100 pt-1 pb-1 text-center border-right"><span class="d-block">@ResourceManager.GetString("ClassList.StudentInfo.Section")</span>@item.SiblingSectionDescr</h3>
                                                                <!-- <h3 class="m-0 w-100 pt-1 pb-1 text-center"><a href="#">View</a></h3> -->
                                                            </div>
                                                        </div>
                                                    </article>
                                                }
                                            }
                                            else
                                            {
                                                <article class="d-flex pb-3 pt-3">
                                                    <div class="sub-heading">
                                                        @ResourceManager.GetString("ClassList.ClassList.NoDataFound")
                                                    </div>
                                                </article>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
