﻿@model List<Phoenix.Models.Entities.BehaviourSubCategoryModel>
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{

    #region collection of icons font awesome
    Dictionary<string, string> icons = new Dictionary<string, string>();
    icons.Add("doc,docx", "<i class=\"fas  fa-3x fa-file-word ic-file-word color-doc\"></i>");
    icons.Add("xls,xlsx", "<i class=\"fas  fa-3x fa-file-excel ic-file-excel color-excel\"></i>");
    icons.Add("ppt,pptx", "<i class=\"fas color-ppt fa-3x fa-file-powerpoint ic-file-ppt\"></i>");
    icons.Add("pdf", "<i class=\"fas fa-3x fa-file-pdf ic-file-pdf color-pdf\"></i>");
    icons.Add("zip,rar", "<i class=\"fas fa-3x fa-file-archive ic-file text-primary\"></i>");
    icons.Add("htm,html", "<i class=\"fas fa-3x fa-file-code ic-file text-primary\"></i>");
    icons.Add("txt,rtf", "<i class=\"fas fa-3x fa-file-alt ic-file color-txt\"></i>");
    icons.Add("mov,mp4,avi", "<i class=\"fas fa-3x fa-file-video ic-file color-video\"></i>");
    icons.Add("mp3", "<i class=\"fas fa-3x fa-file-audio ic-file color-audio\"></i>");
    icons.Add("jpg,jpeg,gif,png", "<i class=\"fas fa-3x fa-file-image ic-file-img color-image\"></i>");
    #endregion
}

<div id="divsubcatdetailslist">
    <div class="row mb-4 mt-n5">
        <div class="col-lg-12 col-md-12 col-12 text-lg-right text-md-right text-left">
            <div class="task-sorting column-padding">
                <div class="toggle-library d-inline-block mt-1">
                    <a href="javascript:void(0)" id="gridBehaviour"><i class="fas fa-th"></i></a>
                    <a href="javascript:void(0)" id="listBehaviour"><i class="fas fa-list"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="divListGridSubCategory">
        <div class="row m-0" id="behaveGrid">
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    var cssScore = item.CategoryScore >= 0 ? "badge badge-outline bg-success" : "badge badge-outline bg-danger";
                    var FileExtension = Path.GetExtension(item.ImagePath).Replace(".", "");
                    var fileIcon = icons.Any(x => x.Key.ToLower().Contains(FileExtension)) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(FileExtension)).Value : "<i class=\"fas fa-3x fa-file\"></i>";
                    <div class="col-lg-6 col-md-6 col-12 text-center">
                        <div class="behav-container m-2 p-2">
                            <div class="clsbehaviourcontent" data-bid="22">
                                <div class="behav-icon-wrap">
                                    @if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.ImagePath) || string.IsNullOrEmpty(item.ImagePath))
                                    {
                                        <img src="@(string.IsNullOrEmpty(item.ImagePath) ? "/Content/img/SIMS/no-image.png" :  PhoenixConfiguration.Instance.ReadFilePath + item.ImagePath)" class="behav-icon">
                                    }
                                    else
                                    {
                                        <img src="" class="behav-icon" style="display:none">
                                        @Html.Raw(fileIcon)
                                    }
                                </div>
                                <div data-display-name="VLayout" class="behav-title-outer">
                                    <div data-display-name="VLayoutItem" class="behav-title-wrap">
                                        <div class="behav-title" data-toggle="tooltip" title="@item.CategoryName">@(item.CategoryName.Replace(" ", String.Empty).Length > 30 ? item.CategoryName.Substring(0, 15).ToString() + "..." : item.CategoryName)</div>
                                    </div>
                                </div>
                                <div class="behav-score-wrap mr-1">
                                    <span class="@cssScore mt-2 mr-2 p-2 pl-3 pr-3 student-behave-badge cursor-pointer shadow-none">@item.CategoryScore</span>
                                </div>
                            </div>

                            @if (!string.IsNullOrWhiteSpace(item.UploadedPath))
                            {
                                <div class="behav-container-edit m-2 p-2" style="position: absolute; top: 2px; left: 12px;">
                                    <span style="right:0;bottom:0;">
                                        <a href="@string.Concat(PhoenixConfiguration.Instance.ReadFilePath  + item.UploadedPath)" download="">
                                            <i class="fa fa-download text-muted"></i>
                                        </a>
                                    </span>
                                </div>

                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-lg-12 col-md-12 col-12 text-center">
                    @ResourceManager.GetString("ClassList.ClassList.NoDataFound")
                </div>
            }
        </div>

        <div class="row m-0" id="behaveList">
            <div class="col-lg-12 col-md-12 col-12 mb-5">

                @if (Model.Count() > 0)
                {
                    <ul>
                        @foreach (var item in Model)
                        {
                            var cssScore = item.CategoryScore >= 0 ? "badge badge-outline bg-success" : "badge badge-outline bg-danger";
                            var FileExtension = Path.GetExtension(item.ImagePath).Replace(".", "");
                            var fileIcon = icons.Any(x => x.Key.ToLower().Contains(FileExtension)) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(FileExtension)).Value : "<i class=\"fas fa-3x fa-file\"></i>";
                            <li class="behav-list pl-1 pr-1 m-1 border-bottom">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-2 mt-2">
                                        @if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.ImagePath) || string.IsNullOrEmpty(item.ImagePath))
                                        {
                                            <img src="@(string.IsNullOrEmpty(item.ImagePath) ? "/Content/img/SIMS/no-image.png" : PhoenixConfiguration.Instance.ReadFilePath + item.ImagePath)" class="behav-icon mCS_img_loaded">
                                        }
                                        else
                                        {
                                            <img src="@(PhoenixConfiguration.Instance.ReadFilePath + item.ImagePath)" class="behav-icon mCS_img_loaded" style="display:none">
                                            @Html.Raw(fileIcon)
                                        }
                                        <span class="@cssScore bahave-count arabictxt">@item.CategoryScore</span>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-8 m-auto">
                                        <span>@item.CategoryName</span>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-1 m-auto text-center">
                                        @if (!string.IsNullOrWhiteSpace(item.UploadedPath))
                                        {

                                            <div class="quick-nav dropleft d-inline-block">
                                                <a class="assignment-icon-group" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i><span class="sr-only">Toggle Dropdown</span>
                                                </a>
                                                <div class="dropdown-menu z-depth-1">
                                                    <a class="dropdown-item" href="@(PhoenixConfiguration.Instance.ReadFilePath + item.UploadedPath)" download=""><i class="fa fa-download text-muted pr-2"></i> Download</a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                }

                else
                {
                    <div class="col-lg-12 col-md-12 col-12 text-center">
                        <div class="sub-heading">
                            @ResourceManager.GetString("ClassList.ClassList.NoDataFound")
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#divListGridSubCategory").mCustomScrollbar({
            setHeight: "300",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true
        });
        $(document).on("click", "#gridBehaviour", function () {
            $("#behaveGrid").show();
            $("#behaveList").hide();
            ClassListObject.ShowGridView();
        });
        $(document).on("click", "#listBehaviour", function () {
            $("#behaveGrid").hide();
            $("#behaveList").show();
            ClassListObject.ShowListView();
        });
        $("#listBehaviour").trigger('click');
    });
</script>