﻿@model Phoenix.Models.Entities.StudentProfileModel
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    ViewBag.Title = "Class List";
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rnd = DateTime.Now.Ticks.ToString();

    int StudentId = Convert.ToInt32(Model.BasicDetailModel.StudentID);
    var GradeId = Model.BasicDetailModel.StudentGrade;

    var FullName = Model.BasicDetailModel.StudentName;
    var Grade = Model.BasicDetailModel.StudentGrade;
    var StudentGradeDisplay = Model.BasicDetailModel.StudentGradeDisplay;

    var Section = Model.BasicDetailModel.StudentSection;
    int preElem = 0, nextElem = 0;

    string PrevCss = string.Empty;
    string NextCss = string.Empty;

    preElem = ViewBag.PrevElement != null ? (int)ViewBag.PrevElement : preElem;
    nextElem = ViewBag.NextElement != null ? (int)ViewBag.NextElement : nextElem;

    PrevCss = ViewBag.PrevCss != null ? (string)ViewBag.PrevCss : PrevCss;
    NextCss = ViewBag.NextCss != null ? (string)ViewBag.NextCss : NextCss;
}

<link href="~/Content/css/custom/SIMS/toggle-switch.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/css/addons/slick-carousel.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/addons/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/addons/bootstrap-toggle.css" />
<link href="~/Content/css/custom/SIMS/StudentProfileDetail.css" rel="stylesheet" />

@if (!Model.IsFullView && !Model.IsOpenBySearch)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-lg-12 pl-3 pr-3">
                        <div class="row">
                            <div class="col-lg-2 col-2 text-left mt-2">
                                <span class="@PrevCss">
                                    <button id="btnPrevStudent" type="button" data-stuId="@preElem" class="left btn btn-outline-primary btn-sm shadow-none pl-2 pr-2 waves-effect waves-light">
                                        <i class="fa fa-arrow-left"></i> @ResourceManager.GetString("ClassList.ClassList.Prev")
                                    </button>
                                </span>
                            </div>
                            <div class="col-lg-8 col-8 text-center">
                                <h3 class="card-title bg-white mt-1 mb-1 border-0 p-0" id="h3StuFullName"> @FullName </h3>
                                <span class="text-default small" id="spnSelectedDate">@("Class: " + StudentGradeDisplay + " Section: " + Section)</span>
                            </div>
                            <div class="col-lg-2 col-2 text-right mt-2">
                                <span class="@NextCss">
                                    <button id="btnNextStudent" type="button" data-stuId="@nextElem" class="right btn btn-outline-primary btn-sm shadow-none pl-2 pr-2 waves-effect waves-light">
                                        @ResourceManager.GetString("ClassList.ClassList.Next")  <i class="fa fa-arrow-right"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
<!-- tab panels start -->
<div class="row">

    @Html.Hidden("StudentNo", StudentId)
    @Html.Hidden("GradeID", GradeId)

    <div class="col-lg-12 col-md-12 col-12">
        <div class="bg-transparent">
            <div class="card-body pb-3">
                <div class="tabPanels">
                    <ul class="navTabs coursenavTabs d-flex align-items-center flex-wrap overflow-auto w-100 column-padding border-bottom bg-white" id="pills-tab" role="tablist">
                        <li class="flex-shrink-0">
                            <a class="navTabLink text-medium py-3 d-inline-block position-relative mx-2 mx-md-0 active" id="student-profile-tab" data-toggle="pill" href="#student-profile" role="tab"
                               aria-controls="student-profile" aria-selected="true">@ResourceManager.GetString("ClassList.ClassList.StudentProfile")</a>
                        </li>
                        <li class="flex-shrink-0">
                            <a class="navTabLink text-medium py-3 d-inline-block position-relative mx-3 ml-md-4 mr-md-0" id="attendance-profile-tab" data-toggle="pill" href="#attendance-profile" role="tab"
                               aria-controls="attendance-profile" aria-selected="false">@ResourceManager.GetString("ClassList.ClassList.Attendance")</a>
                        </li>
                    </ul>
                    <div class="tab-content pt-2 pb-3" id="student-profileContent shadow-none" style="background:transparent">
                        <div class="tab-pane fade show active" id="student-profile" role="tabpanel" aria-labelledby="student-profile-tab">
                            @{Html.RenderPartial("StudentProfile", Model);}
                        </div>
                        <div class="tab-pane fade" id="attendance-profile" role="tabpanel" aria-labelledby="attendance-profile-tab">
                            <div id="attendance">
                                @*@{ Html.RenderAction("AttendanceProfileHistory", "ClassList", new { id = StudentId });}*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- tab panels end -->

@if (!Model.IsFullView)
{
    <script type="text/javascript" src="~/Content/js/addons/slick-carousel.js"></script>
    <script type="text/javascript" src="~/Content/js/addons/bootstrap-toggle.js"></script>
    <script>
        $(document).ready(function () {

            // $(window).on("load", function () {

            $(".sidebar-fixed .list-group").mCustomScrollbar('destroy');
            $(".sidebar-fixed .list-group").mCustomScrollbar({
                setHeight: "86%",
                autoExpandScrollbar: true,
                scrollbarPosition: "outside"
            });

            $(".sidebar-fixed .list-group").mCustomScrollbar('scrollTo', $("#sideNavigations a.active"));

            //StartTimers();
            //$("body").on("mousemove", ResetTimers());



            //   });

        });

        var id = $('#StudentNo').val();

        var tab = globalFunctions.getParameterValueFromQueryString("tab");

        if (tab == "attendance-profile-tab") {
            $.get('/ClassList/ClassList/AttendanceProfileHistory', { id })
                .then(response => $('#attendance').html(response))
                .catch(error => globalFunctions.showMessage(error.NotificationType, error.Message));
            $('.navTabs a[href="#attendance-profile"]').tab('show');

            $('ul.coursenavTabs').find('a').removeClass("active");
            $('#attendance-profile-tab').addClass("active");

        }
        else {
            $('#attendance').html('');
        }

        $("#attendance-profile-tab").one("click", function (evt) {
            $.get('/ClassList/ClassList/AttendanceProfileHistory', { id })
                .then(response => $('#attendance').html(response))
                .catch(error => globalFunctions.showMessage(error.NotificationType, error.Message));


        });

        //$(document).on("click", "#attendance-profile-tab", function () {

        //    $.get('/ClassList/ClassList/AttendanceProfileHistory', { id })
        //        .then(response => $('#attendance').html(response))
        //        .catch(error => globalFunctions.showMessage(error.NotificationType, error.Message));
        //});
        $(".student-parent-info .accordion .card-body .content").mCustomScrollbar({
            setHeight: "167",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true,
        });
        $("#sibling-details .card-body .content").mCustomScrollbar({
            setHeight: "245",
            autoExpandScrollbar: true,
            scrollbarPosition: "outside",
            autoHideScrollbar: true
        });
        $("#AssessmentDetailstable").mCustomScrollbar({
            setHeight: "285",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true
        });
        $("#divBehavioralDetail").mCustomScrollbar({
            setHeight: "285",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true
        });

        //$(document).on("click","#pills-tab",function () {
        //    $('ul.coursenavTabs').find('a').removeClass("active");
        //    $(this).addClass("active");
        //});

        $(document).on("click", ".navTabLink", function () {
            $('ul.coursenavTabs').find('a').removeClass("active");
            $(this).addClass("active");

            var tabId = $(this).attr('id');

            var queryParams = new URLSearchParams(window.location.search);

            queryParams.set("tab", tabId);

            history.replaceState(null, null, "?" + queryParams.toString());

        });
        $('a[onclick="globalFunctions.back()"]').attr('onclick', "classListIndex.BacktoClassList()");

    </script>
}
@section scripts
{
    <script type="text/javascript" src="~/Content/js/addons/slick-carousel.js"></script>
    <script type="text/javascript" src="~/Content/js/addons/bootstrap-toggle.js"></script>
    <script>

        $(document).ready(function () {
            $('a[onclick="globalFunctions.back()"]').attr('onclick', "classListIndex.BacktoClassList()");
           // $(window).on("load", function () {

                $(".sidebar-fixed .list-group").mCustomScrollbar('destroy');

                $(".sidebar-fixed .list-group").mCustomScrollbar({
                    setHeight: "86%",
                    autoExpandScrollbar: true,
                    scrollbarPosition: "outside"
                });

                $(".sidebar-fixed .list-group").mCustomScrollbar('scrollTo', $("#sideNavigations a.active"));

                //StartTimers();
                //$("body").on("mousemove", ResetTimers());



          //  });

        });


        var id = $('#StudentNo').val();

        var tab = globalFunctions.getParameterValueFromQueryString("tab");

        if (tab == "attendance-profile-tab") {
            $.get('/ClassList/ClassList/AttendanceProfileHistory', { id })
                .then(response => $('#attendance').html(response))
                .catch(error => globalFunctions.showMessage(error.NotificationType, error.Message));
            $('.navTabs a[href="#attendance-profile"]').tab('show');

            $('ul.coursenavTabs').find('a').removeClass("active");
            $('#attendance-profile-tab').addClass("active");

        }
        else {
            $('#attendance').html('');
        }

        @if (Model.IsFullView)
{
   @Html.Raw("$(document).on('click', '#attendance-profile-tab', function() {" +
            "$.get('/ClassList/ClassList/AttendanceProfileHistory', { id })" +
                ".then(response => $('#attendance').html(response))" +
                ".catch (error => globalFunctions.showMessage(error.NotificationType, error.Message));" +
            "$('#toggler').bootstrapToggle('destroy');" +
            "$('#toggler').bootstrapToggle(); " +
                "});");

}
        $(".student-parent-info .accordion .card-body .content").mCustomScrollbar({
setHeight: "167",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true,
        });
        $("#sibling-details .card-body .content").mCustomScrollbar({
        setHeight: "245",
            autoExpandScrollbar: true,
            scrollbarPosition: "outside",
            autoHideScrollbar: true
        });
        $("#AssessmentDetailstable").mCustomScrollbar({
        setHeight: "285",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true
        });
        $("#divBehavioralDetail").mCustomScrollbar({
        setHeight: "285",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true
        });

        //$(document).on("click", "#pills-tab", function () {
        //    $('ul.coursenavTabs').find('a').removeClass("active");
        //    $(this).addClass("active");
        //});

        $(document).on("click", ".navTabLink", function () {
            $('ul.coursenavTabs').find('a').removeClass("active");
            $(this).addClass("active");

            var tabId = $(this).attr('id');

            var queryParams = new URLSearchParams(window.location.search);

            queryParams.set("tab", tabId);

            history.replaceState(null, null, "?" + queryParams.toString());

        });


    </script>

}
