﻿@model Phoenix.Models.Entities.ChangeGroupStudentModel
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    int Index = 0;
}
<style>
    .right-drawer .bootstrap-select .dropdown-menu {
        max-width: 365px;
        min-width: initial !important;
    }

        .right-drawer .bootstrap-select .dropdown-menu li a {
            padding: .5rem .625rem;
        }

            .right-drawer .bootstrap-select .dropdown-menu li a span.text {
                white-space: normal !important;
                word-break: break-all;
                line-height: 1.4;
            }
</style>

<div class="col-lg-12 col-md-12 col-12 ">
    @using (Ajax.BeginForm("ChangeCourseWiseStudentSchoolGroup", "ClassList", new AjaxOptions
    {
        OnFailure = "ClassListObject.onFailure",
        OnSuccess = "ClassListObject.onSaveSuccess"
        //OnBegin = "return common.IsInvalidByFormOrDivId('frmChangeGroup')"
    },
     new
     {
         @area = "ClassList",
         id = "frmChangeGroup",
         @class = "field-form"
     }))
    {
        <div class="custom-scroll-container" id="custom-scroll-container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="student-details-widget">
                        <article class="d-flex pb-2 border-bottom">
                            <div class="student-img border">
                                <img src="@Model.StudentImageUrl" alt="@Model.StudentName" class="img-fluid">
                            </div>
                            <div class="student-info flex-1 ml-3">
                                <h3>@Model.StudentName</h3>
                                <p class="mb-0">@Model.StudentGradeDisplay - @Model.StudentSection</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="student-group-settings">
                <div class="card-body pt-2 pb-2 pl-0 pr-0">
                    <div class="content" id="divMandatory">
                        @foreach (var cor in Model.ChangeGroupCourseList)
                        {
                            <div class="row mb-3">
                                @Html.Hidden("ChangeGroupCourseList[" + Index + "].AssignedSchoolGroupId", cor.AssignedSchoolGroupId)
                                @Html.Hidden("ChangeGroupCourseList[" + Index + "].StudentId", cor.StudentId)
                                @Html.Hidden("ChangeGroupCourseList[" + Index + "].CourseId", cor.CourseId)
                                @Html.Hidden("ChangeGroupCourseList[" + Index + "].GroupTeacherMappingId", cor.GroupTeacherMappingId)
                                <div class="col-lg-12 col-md-12 col-12">
                                    <h6 class="mb-3">@cor.CourseTitle</h6>
                                    <div class="md-form md-outline mb-0">
                                        <select class="selectpicker" data-width="368px" title="Select Group" id="ChangeGroupCourseList[@Index].SchoolGroupId" name="ChangeGroupCourseList[@Index].SchoolGroupId" data-size="8" data-required="">
                                            @foreach (var group in Model.ChangeSchoolGroupList.Where(x => x.CourseId == cor.CourseId).ToList())
                                            {
                                                <option value="@group.SchoolGroupId" @(group.SchoolGroupId == cor.AssignedSchoolGroupId ? "selected" : "")>@group.SchoolGroupName</option>
                                            }
                                        </select>
                                        <label class="active select-label">Group</label>
                                    </div>
                                </div>
                            </div>
                            Index++;
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //$(".student-group-settings .content").mCustomScrollbar({
        //    //setHeight: "280",
        //    autoExpandScrollbar: true,
        //    scrollbarPosition: "outside",
        //    autoHideScrollbar: false
        //});

        $("#custom-scroll-container").mCustomScrollbar({
            //setHeight: "76%",
            autoExpandScrollbar: true,
            scrollbarPosition: "outside",
            autoHideScrollbar: true,
        });
    });
</script>
