﻿@using SMS.Web.Areas.SMS.Model.Common
@model IEnumerable<SMS.Web.Areas.SMS.Model.StudentOnReportDetail>
<div class="right-drawer-container">
    <div class="row column-padding pt-3 pb-3 border-bottom drawer-header">
        <div class="col-lg-11 col-md-11 col-11">
            <h2 class="m-0">
                <a id="reportBackBtn" class="btn-back" onclick="ClassListObject.showStudentOnReportMainForm()" style="display:none;"><i class="fas fa-arrow-left"></i></a>
                @SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Classlist.StudentOnReport")
            </h2>
        </div>
        <div class="col-lg-1 col-md-1 col-1 text-right">
            <a href="javascript:void(0)" class="closeRightDrawer"><i class="fas fa-times"></i></a>
        </div>
    </div>
    @using (Ajax.BeginForm("SaveStudentOnReportDetails", "ClassList", new { area = "ClassList" }, new AjaxOptions
    {
        OnFailure = "globalFunctions.onFailure",
        OnSuccess = "ClassListObject.OnStudentOnReportDetailsSaveSuccess",
        OnBegin = "return smsCommon.IsInvalidByFormOrDivId('studentOnReportDetailsForm')"
    }, new
    {
        id = "studentOnReportDetailsForm",
        @class = "column-padding pt-3"
    }))
    {
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 ">
                <div class="custom-scroll-container">
                    <div class="student-group-settings studentOnReportDetails">
                        <!--Main Action Taken settings starts-->
                        @Html.Hidden("Id", "", new { id = "onReportDetailId" })
                        @Html.Hidden("StudentOnReportMasterId")
                        @Html.Hidden("GroupId", "", new { id = "onReportDetailGroupId" })
                        @Html.Hidden("StudentId", "", new { id = "onReportDetailStudentId" })
                        @Html.Hidden("PeriodNo")
                        @Html.Hidden("CreatedOn")
                        <div class="row mb-3 formElement">
                            <div class="col-lg-12 col-md-12 col-12 pr-0 mr-0">
                                <div class="md-form md-outline mb-0 mt-0">
                                    @Html.TextArea("Description", new { @class = "form-control", id = "onReportDetailToDesc", @data_required = "", @data_alphanumeric = "", @data_maxlength = "500" })
                                    <label for="onReportToDesc" class="active">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Classlist.Desc")</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 formElement">
                            <div class="col-lg-3 col-md-3 col-12"></div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <button class="btn btn-primary btn-block text-center" type="submit">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.Save")</button>
                            </div>
                            <div class="col-lg-3 col-md-3 col-12"></div>
                        </div>

                        <!--Main Action Taken settings ends-->
                    </div>
                    <div id="studentOnReportDetailsFormGrid">
                        @Html.Partial("_LoadStudentOnReportDetailsGrid", Model)
                    </div>
                </div>
            </div>
        </div>
        <div class="drawer-footer">

        </div>
    }
</div>
<script>
    $(document).ready(function () {
        ClassListObject.Init();
    });
</script>