﻿@using SMS.Web.Areas.SMS.Model.Common
@using Phoenix.Common.Helpers
@model IEnumerable<SMS.Web.Areas.SMS.Model.StudentOnReportDetail>
<table class="table table-bordered bg-white mb-0" width="100%">
    <thead>
        <tr>
            <th class="pb-2 pt-2">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Classlist.Desc")</th>
            <th class="pb-2 pt-2 text-center">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Classlist.PeriodNo")</th>
            <th class="pb-2 pt-2 text-center">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Classlist.CreatedBy")</th>
            <th class="pb-2 pt-2 text-center">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Classlist.CreatedOn")</th>
            @if (SessionHelper.CurrentSession.IsAdmin || Model.Any(x => x.CreatedBy == SessionHelper.CurrentSession.UserName))
            {
                <th class="pb-2 pt-2 text-center">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.Action")</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="pb-2 pt-2">@item.Description</td>
                    <td class="pb-2 pt-2 text-center">@item.PeriodName</td>
                    <td class="pb-2 pt-2 text-center">@item.CreatedBy</td>
                    <td class="pb-2 pt-2 text-center">@item.CreatedOn.ToString(Constants.DateFormat)</td>
                    <td class="pb-2 pt-2 text-center">
                        @if (SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.UserName == item.CreatedBy)
                        {
                            <a href="Javascript:void(0);" data-toggle="tooltip" onclick="ClassListObject.EditStudentOnReportDetails(@item.Id)" title="@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.Edit")">
                                <i class="fas fa-pen"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="pb-2 pt-2 text-center">
                <td colspan="5">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.NoDataFound")</td>
            </tr>
        }
    </tbody>
</table>
<script>
    ClassListObject.StudentOnReportDetailArray = @Html.Raw(Json.Encode(Model));
</script>