﻿@model Phoenix.Models.Entities.TimeTableModel
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers

@if (Model != null)
{
    if (!string.IsNullOrEmpty(Model.SchoolGroupName) && !string.IsNullOrEmpty(Model.CourseName) && !string.IsNullOrEmpty(Model.TeacherName))
    {
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-12">
                <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("ClassList.FindMe.Time")</h4>
                <h5 class="m-0"><small class="text-medium text-capitalize">@Model.StartTime.ToString("hh:mm tt") - @Model.EndTime.ToString("hh:mm tt")</small></h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-12">
                <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("ClassList.FindMe.SchoolGroup")</h4>
                <h5 class="m-0"><small class="text-medium text-capitalize">@Model.SchoolGroupName</small></h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-12">
                <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("ClassList.FindMe.Course")</h4>
                <h5 class="m-0"><small class="text-medium text-capitalize">@Model.CourseName</small></h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-12">
                <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("ClassList.FindMe.TeacherName")</h4>
                <h5 class="m-0"><small class="text-medium text-capitalize">@Model.TeacherName</small></h5>
            </div>
        </div>
    }
    else
    {
        <h4 class="sub-heading">@ResourceManager.GetString("ClassList.ClassList.NoDataFound")</h4>
    }
}
else
{
    <h4 class="sub-heading">@ResourceManager.GetString("ClassList.ClassList.NoDataFound")</h4>
}

