﻿@model IEnumerable<Phoenix.Models.Entities.ClassListModel>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers

<div class="overflow-auto" style="max-height:300px">
    @if (Model.Count() > 0)
    {
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="javascript:void(0)" class="d-flex align-items-start p-3" id="h3StuDetails" data-stuid="@item.StudentID" data-isopenbysearch="true">
                        <span class="defaultAvatar rounded-circle d-block overflow-hidden mr-3">
                            <img src="@item.StudentImageUrl" alt="">
                        </span>
                        <span class="user-details d-block">
                            <h6 class="m-0 mb-1 text-semibold searchStudText">@item.StudentName</h6>
                            <span class="d-block small text-semibold text-black-50">@ResourceManager.GetString("ClassList.StudentSearchInfo.StudentID"): @item.StudentNo</span>
                            <span class="d-block small text-semibold text-black-50">@ResourceManager.GetString("ClassList.StudentSearchInfo.ContactName"): @item.ParentName </span>
                            <span class="d-block small text-semibold text-black-50">@ResourceManager.GetString("ClassList.StudentSearchInfo.ContactNo"): @item.ParentMobileNumber </span>
                            <span class="d-block small text-semibold text-black-50">@ResourceManager.GetString("ClassList.StudentSearchInfo.ContactEmail"): @item.ParentEmailId </span>
                        </span>
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        <article class="d-flex pb-3 pt-3">
            <div class="ml-2 sub-heading">
                @ResourceManager.GetString("ClassList.ClassList.NoDataFound")
            </div>
        </article>
    }
</div>
