﻿@model IEnumerable<Phoenix.Models.Entities.ClassListModel>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
<style>
    .student-profile-section .student-meta {
        padding: 0 0.25rem;
        min-height: 130px;
    }

    .card .card-body h3 {
        font-weight: 500;
        line-height: 1.5rem;
    }
</style>

@{
    var TotalCount = Model is null ? 0 : Model.Count();
    int UserTypeId = TempData.Peek("UserTypeId") != null ? (int)TempData.Peek("UserTypeId") : 0;
}
<input type="hidden" id="hdnTotalCount" value="@TotalCount" />

<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 student-card-grid" id="divClasslist">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="col mb-3 px-2 search-item clsstudetailsblock">
                <div class="card student-card d-flex flex-center my-0">
                    <span class="mr-2 w-100 text-right">
                        @if (item.IsChangeGroupPermission && (UserTypeId == 4 || UserTypeId == 5))
                        {
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Change Group" onclick="ClassListObject.GetCourseWiseSchoolGroups(@item.StudentID)" class="trigger-rightDrawer mr-1" data-target="StudentGroupChangeDrawer" data-width="30%"><i class="fas fa-user-cog"></i></a>
                        }
                        <a href="javascript:void(0)" data-toggle="tooltip" title="@ResourceManager.GetString("ClassList.QuickContact.QuickContact")" onclick="ClassListObject.GetQuickContactDetail(@item.StudentID)" class="mr-1"><i class="far fa-envelope"></i></a>
                        <a href="javascript:void(0)" data-toggle="tooltip" title="@ResourceManager.GetString("ClassList.FindMe.FindMe")" onclick="ClassListObject.GetStudentFindMeDetail(@item.StudentID)"><i class="fas fa-street-view"></i></a>
                    </span>
                    <a href="javascript:void(0)" id="h3StuDetails" data-stuId="@item.StudentID">
                        <div class="card-body d-flex justify-content-center align-items-center flex-column">
                            <img class="rounded-circle student-img mb-2" src="@item.StudentImageUrl" alt="@item.StudentName">
                            <div class="student-info clsstudetails">
                                <p class="student-name text-semibold" data-toggle="tooltip" title="@item.StudentName">
                                    @(item.StudentName.Length > 36 ? $"{item.StudentName.Substring(0, 36)}..." : item.StudentName)
                                    @if (item.IsSEN)
                                    {
                                        <a href='javascript:void(0);' class='text-primary'><i class='fas fa-book-reader'></i></a>
                                    }
                                </p>
                                <p class="student-id arabictxt">@item.StudentNo</p>
                                <p class="mb-0 text-center arabictxt">@(item.StudentGradeDisplay + "-" + item.StudentSection)</p>
                                @if (!string.IsNullOrEmpty(item.HouseDesc))
                                {
                                    <p class="mb-0 text-center arabictxt">@item.HouseDesc</p>
                                }
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    }
    else
    {
        <span class="no-data-found text-bold d-block mx-auto my-auto">
            @ResourceManager.GetString("ClassList.ClassList.NoDataToDisplay")
        </span>
    }
    <span class="no-data-found text-bold mx-auto my-auto d-none" id="span-stud-not-found">
        @ResourceManager.GetString("ClassList.ClassList.NoDataToDisplay")
    </span>
</div>

<script type="text/javascript">
    translatedResources.TotalStudents = '@ResourceManager.GetString("ClassList.ClassList.TotalStudents")';
    $(document).ready(function () {
        $('#spnTotalClassCount').html(`${translatedResources.TotalStudents} - ` + $('#hdnTotalCount').val());
    });
</script>
