﻿@model Phoenix.Models.Entities.StudentProfileModel
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.Models.Entities
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}


<style>
    .grid-list-click {
        color: #0e0e0e !important;
    }

    .grid-list-unclick {
        color: #caadad !important;
    }
</style>

<div class="container-fluid mb-4 pl-0 pr-0">
    <!-- student profile section start -->
    <div class="row student-profile-section mb-2">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card mb-1">
                <div class="card-body">
                    <div class="row ml-0">
                        <!-- student details start -->
                        <div class="col-xl-3 col-lg-4 col-md-4 col-12 px-0 text-center border-right">
                            <div class="student-img rounded-circle border mt-2 mx-auto">
                                <img src="@Model.BasicDetailModel.StudentImageUrl" alt="@Model.BasicDetailModel.StudentName" class="img-fluid">
                            </div>
                            <div class="mt-1 px-2 student-meta mb-5">
                                <h3>@Model.BasicDetailModel.StudentName</h3>
                                <p class="mb-1">ID : @Model.BasicDetailModel.StudentNo</p>
                                <p class="mb-1">@Model.BasicDetailModel.StudentBSUName</p>
                                <p style="display:inline-block;">
                                    @if (!string.IsNullOrEmpty(Model.BasicDetailModel.Nationality))
                                    {
                                        @Html.Raw("Nationality : " + Model.BasicDetailModel.Nationality)
                                    }
                                    @if (!string.IsNullOrEmpty(Model.BasicDetailModel.DOB))
                                    {
                                        @Html.Raw("DOB : " + Model.BasicDetailModel.DOB)
                                    }
                                </p>
                            </div>
                            <div class="student-class-info d-flex justify-content-around border-top">
                                <h3 class="m-0 w-100 pt-2 pb-2 border-right"><span class="d-block mb-1">@ResourceManager.GetString("ClassList.StudentInfo.Age")</span>@Model.BasicDetailModel.StudentAge</h3>
                                <h3 class="m-0 w-100 pt-2 pb-2 border-right"><span class="d-block mb-1">@ResourceManager.GetString("ClassList.StudentInfo.Class")</span>@Model.BasicDetailModel.StudentGradeDisplay</h3>
                                <h3 class="m-0 w-100 pt-2 pb-2"><span class="d-block mb-1">@ResourceManager.GetString("ClassList.StudentInfo.Section")</span>@Model.BasicDetailModel.StudentSection</h3>
                            </div>
                        </div>
                        <!-- student details end -->
                        <!-- student other details start -->
                        <div class="col-xl-6 col-lg-4 col-md-4 col-12 px-0 text-center border-right">
                            <div class="student-parent-info">
                                <div class="accordion text-left" id="studentParentDetails">
                                    <div class="card z-depth-0 m-0 border-bottom border-top-0 border-left-0 border-right-0">
                                        <div class="card-header" id="parentInfo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link d-block text-left m-0 p-0 collapse" type="button" data-toggle="collapse" data-target="#parent-info" aria-expanded="true" aria-controls="parent-info">
                                                    <span class="font-16">@ResourceManager.GetString("ClassList.ClassList.ParentInformation")</span>  <i class="fas fa-angle-down float-right m-0"></i>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="parent-info" class="collapse show border-top" aria-labelledby="parentInfo" data-parent="#studentParentDetails">
                                            <div class="card-body column-padding pt-2 pb-2">
                                                <div class="content">
                                                    <h3 class="m-0 w-100 pt-2 pb-2"><span class="d-block mb-1">@ResourceManager.GetString("ClassList.StudentInfo.ParentName")</span>@Model.ParentDetailModel.ParentName</h3>
                                                    <h3 class="m-0 w-100 pt-2 pb-2"><span class="d-block mb-1">@ResourceManager.GetString("ClassList.StudentInfo.Relation")</span>@Model.ParentDetailModel.ParentRelation</h3>
                                                    @*<h3 class="m-0 w-100 pt-2 pb-2"><span class="d-block mb-1">@ResourceManager.GetString("ClassList.StudentInfo.Nationality")</span>@Model.BasicDetailModel.Nationality</h3>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card z-depth-0 m-0 border-bottom border-top-0 border-left-0 border-right-0">
                                        <div class="card-header" id="contactInfo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link d-block text-left m-0 p-0 collapsed" type="button" data-toggle="collapse" data-target="#contact-info" aria-expanded="false" aria-controls="contact-info">
                                                    <span class="font-16">@ResourceManager.GetString("ClassList.ClassList.ContactInformation")</span> <i class="fas fa-angle-down float-right m-0"></i>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="contact-info" class="collapse border-top" aria-labelledby="contactInfo" data-parent="#studentParentDetails">
                                            <div class="card-body column-padding pt-2 pb-2">
                                                <div class="content">
                                                    @if (Model.ParentDetailModel != null)
                                                    {
                                                        if (string.IsNullOrEmpty(Model.ParentDetailModel.ParentAddress) && string.IsNullOrEmpty(Model.ParentDetailModel.ParentCity)
                                                            && string.IsNullOrEmpty(Model.ParentDetailModel.ParentCity) && string.IsNullOrEmpty(Model.ParentDetailModel.ParentEmail)
                                                            && string.IsNullOrEmpty(Model.ParentDetailModel.ParentMobile) && string.IsNullOrEmpty(Model.ParentDetailModel.ParentOccupation)
                                                            && string.IsNullOrEmpty(Model.ParentDetailModel.ParentCompany)
                                                            )
                                                        {
                                                            <h4 class="sub-heading">@ResourceManager.GetString("ClassList.ClassList.NoDataFound")</h4>
                                                        }
                                                        else
                                                        {
                                                            if (!string.IsNullOrEmpty(Model.ParentDetailModel.ParentAddress))
                                                            {
                                                                <h3 class="m-0 w-100 pt-2 pb-2"><span class="d-block mb-1">@ResourceManager.GetString("ClassList.StudentInfo.Address")</span>@Model.ParentDetailModel.ParentAddress </h3>
                                                            }
                                                            if (!string.IsNullOrEmpty(Model.ParentDetailModel.ParentCity))
                                                            {
                                                                <h3 class="m-0 w-100 pt-2 pb-2"><span class="d-block mb-1">@ResourceManager.GetString("ClassList.StudentInfo.Country")</span>@Model.ParentDetailModel.ParentCity</h3>
                                                            }
                                                            if (!string.IsNullOrEmpty(Model.ParentDetailModel.ParentEmail))
                                                            {
                                                                <h3 class="m-0 w-100 pt-2 pb-2"><span class="d-block mb-1">@ResourceManager.GetString("ClassList.StudentInfo.Email")</span><a href="mailto:@Model.ParentDetailModel.ParentEmail">@Model.ParentDetailModel.ParentEmail</a></h3>

                                                            }
                                                            if (!string.IsNullOrEmpty(Model.ParentDetailModel.ParentMobile))
                                                            {
                                                                <h3 class="m-0 w-100 pt-2 pb-2"><span class="d-block mb-1">@ResourceManager.GetString("ClassList.StudentInfo.ContactNumber")</span><a href="tel:@Model.ParentDetailModel.ParentMobile">@Model.ParentDetailModel.ParentMobile</a></h3>

                                                            }
                                                            if (!string.IsNullOrEmpty(Model.ParentDetailModel.ParentOccupation))
                                                            {
                                                                <h3 class="m-0 w-100 pt-2 pb-2"><span class="d-block mb-1">@ResourceManager.GetString("ClassList.StudentInfo.Occupation")</span>@Model.ParentDetailModel.ParentOccupation</h3>

                                                            }
                                                            if (!string.IsNullOrEmpty(Model.ParentDetailModel.ParentCompany))
                                                            {
                                                                <h3 class="m-0 w-100 pt-2 pb-2"><span class="d-block mb-1">@ResourceManager.GetString("ClassList.StudentInfo.Company")</span>@Model.ParentDetailModel.ParentCompany</h3>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <h4 class="sub-heading">@ResourceManager.GetString("ClassList.ClassList.NoDataFound")</h4>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card z-depth-0 m-0 d-none">
                                        <div class="card-header" id="siblingInfo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link d-block text-left m-0 p-0 collapsed" type="button" data-toggle="collapse" data-target="#sibling-info" aria-expanded="false" aria-controls="sibling-info">
                                                    @ResourceManager.GetString("ClassList.ClassList.TransportInformation") <i class="fas fa-angle-down float-right m-0"></i>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="sibling-info" class="collapse border-top" aria-labelledby="siblingInfo" data-parent="#studentParentDetails">
                                            <div class="card-body column-padding pt-2 pb-2">
                                                <div class="content">
                                                    @if (Model.TransportDetailModel != null)
                                                    {
                                                        if (string.IsNullOrEmpty(Model.TransportDetailModel.ProviderSchoolName) && string.IsNullOrEmpty(Model.TransportDetailModel.PickupLocation)
                                                            && string.IsNullOrEmpty(Model.TransportDetailModel.PickupTime))
                                                        {
                                                            <h4 class="sub-heading">No data available</h4>

                                                        }
                                                        else
                                                        {
                                                            if (!string.IsNullOrEmpty(Model.TransportDetailModel.ProviderSchoolName))
                                                            {
                                                                <h3 class="m-0 w-100 pt-2 pb-2"><span class="d-block mb-1">Service provider</span>@Model.TransportDetailModel.ProviderSchoolName</h3>
                                                            }
                                                            if (!string.IsNullOrEmpty(Model.TransportDetailModel.PickupLocation))
                                                            {
                                                                <h3 class="m-0 w-100 pt-2 pb-2"><span class="d-block mb-1">Pick up location</span>@Model.TransportDetailModel.PickupLocation</h3>
                                                            }
                                                            if (!string.IsNullOrEmpty(Model.TransportDetailModel.PickupTime))
                                                            {
                                                                <h3 class="m-0 w-100 pt-2 pb-2"><span class="d-block mb-1">Pick up time</span>@Model.TransportDetailModel.PickupTime</h3>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <h4 class="sub-heading">@ResourceManager.GetString("ClassList.ClassList.NoDataFound")</h4>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- student other details end -->
                        <!-- student siblind details start -->
                        <div class="col-xl-3 col-lg-4 col-md-4 col-12 pl-0">
                            <div class="card border-0 attendance-widget">
                                <div class="card-body">
                                    <h3 class="card-title"> @ResourceManager.GetString("ClassList.ClassList.Attendance")</h3>
                                    <div class="progress mx-auto mt-5" data-value='@Model.PresentDaysPercentage'>
                                        <span class="progress-left">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                            <div class="h2 font-weight-bold">@Model.PresentDaysPercentage<span>%</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- student sibling details end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- student profile section end -->
    <!-- Student Time Table start -->
    <div class="mt-3">
        @Html.Hidden("hdnWeekCount", 0)
        <div class="d-flex justify-content-between title-with-fields">
            <h4 class="card-title">Student Time Table</h4>
            <div class="owl-nav title-fields">
                <button type="button" role="presentation" class="owl-prev bg-white border px-3 py-1" id="btnPrevious">
                    <span aria-label="Previous">‹</span>
                </button>
                <button type="button" role="presentation" class="owl-next bg-white border px-3 py-1" id="btnNext">
                    <span aria-label="Next">›</span>
                </button>
            </div>
        </div>
        <div id="divStudentTimeTableDashboard">
            @{Html.RenderPartial("_StudentTimeTableDashboard", Model.WeekDayList);}
        </div>
    </div>
    <!-- Student Time Table start -->
    <!-- statistics section end -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card bg-transparent shadow-none">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-4 col-12 pr-0">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h3 class="card-title">@ResourceManager.GetString("ClassList.ClassList.IncidentDetails")</h3>
                                    <div class="column-padding pt-3 pb-3" id="divBehavioralDetail">
                                        <table class="table align-items-center table-flush">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col" class="text-center">@ResourceManager.GetString("ClassList.ClassList.Date")</th>
                                                    <th scope="col" class="text-center">@ResourceManager.GetString("ClassList.ClassList.Type")</th>
                                                    <th scope="col" class="text-center">@ResourceManager.GetString("ClassList.ClassList.Remarks")</th>
                                                    <th scope="col" class="text-center">@ResourceManager.GetString("ClassList.ClassList.Action")</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.IncidentDetailModel.Count() > 0)
                                                {
                                                    foreach (var item in Model.IncidentDetailModel)
                                                    {
                                                        string Incident_Remarks = string.Empty;
                                                        if (!string.IsNullOrEmpty(item.IncidentRemarks))
                                                        {
                                                            Incident_Remarks = item.IncidentRemarks.Length > 10 ? item.IncidentRemarks.Substring(0, 10) + "..." : item.IncidentRemarks;
                                                        }
                                                        <tr>
                                                            <td class="text-center">
                                                                @item.IncidentDate.ToString("dd MMM yyyy")
                                                            </td>
                                                            <td class="text-center">
                                                                <span class="foractionInfo @Html.Raw(item.IncidentType == "0"? "text-primary" : "text-secondary")">@Html.Raw(item.IncidentType == "0" ? IncidentType.FA : IncidentType.FI)</span>
                                                            </td>
                                                            <td class="text-center">
                                                                <span data-toggle="tooltip" title="@item.IncidentRemarks">@Incident_Remarks</span>
                                                            </td>
                                                            <td class="text-center">
                                                                <a target="_blank" href="/Behaviour/Incident/AddEditIncident?id=@EncryptDecryptHelper.EncryptUrl(item.IncidentId.ToString())" data-toggle="tooltip" title="View"><i class="fas fa-eye"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="3" align="center"> <h3 class="sub-heading">@ResourceManager.GetString("ClassList.ClassList.NoDataFound") </h3></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-8 col-12 pr-0">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h3 class="card-title"> @ResourceManager.GetString("ClassList.ClassList.BehaviourDetail")</h3>
                                    @{Html.RenderPartial("_BehaviourSubCategories", Model.BehaviourSubCategoryList);}
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-12">
                            <div class="login-data student-behaviour overflow-hidden position-relative bg-white p-3 mb-2">
                                <h2>@Model.IncidentBehaviourPoint<span class="d-block">@ResourceManager.GetString("ClassList.ClassList.IncidentBehaviourPoint")</span></h2>
                            </div>
                            <div class="accordion text-left" id="sudentSiblingInfo">
                                <div class="card z-depth-0 m-0 border-top-0 border-left-0 border-right-0">
                                    <div class="card-header" id="siblingInfo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link d-block text-left m-0 p-0 collapse" type="button" data-toggle="collapse" data-target="#sibling-details" aria-expanded="true" aria-controls="sibling-details" style="pointer-events: none;">
                                                @ResourceManager.GetString("ClassList.ClassList.SiblingInformation")
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="sibling-details" class="collapse show border-top" aria-labelledby="siblingInfo" data-parent="#sudentSiblingInfo">
                                        <div class="card-body column-padding">
                                            <div class="content">
                                                @if (Model.SiblingDetailModel.ToList().Count > 0)
                                                {
                                                    foreach (var item in Model.SiblingDetailModel)
                                                    {
                                                        <article class="d-flex pb-3 pt-3">
                                                            <div class="sibling-img border">
                                                                <img src="@item.Photopath" alt="@item.SiblingName" class="img-fluid">
                                                            </div>
                                                            <div class="sibling-info flex-1 ml-3">
                                                                <h3><a href="/ClassList/ClassList/GetStudentDetails?stu_id=@item.SiblingId&view='SiblingView'" target="_blank" class="d-inline-block text-semibold" style="line-height: 1;">@item.SiblingName</a></h3>
                                                                <p class="mb-1">@item.SiblingSchoolName</p>
                                                                <div class="sibling-action d-flex justify-content-around align-items-center border">
                                                                    <h3 class="m-0 w-100 pt-1 pb-1 text-center border-right"><span class="d-block">Age</span>@item.SiblingAge</h3>
                                                                    <h3 class="m-0 w-100 pt-1 pb-1 text-center border-right"><span class="d-block">Class</span>@item.SiblingGradeDisplay</h3>
                                                                    <h3 class="m-0 w-100 pt-1 pb-1 text-center border-right"><span class="d-block">Section</span>@item.SiblingSectionDescr</h3>
                                                                    <!-- <h3 class="m-0 w-100 pt-1 pb-1 text-center"><a href="#">View</a></h3> -->
                                                                </div>
                                                            </div>
                                                        </article>
                                                    }
                                                }
                                                else
                                                {
                                                    <article class="d-flex pb-3 pt-3">
                                                        <div class="sub-heading">
                                                            @ResourceManager.GetString("ClassList.ClassList.NoDataFound")
                                                        </div>
                                                    </article>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- statistics section end -->

    <div class="row d-none">
        <!-- Medical Information start -->
        <div class="col-lg-6 col-md-6 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title"> @ResourceManager.GetString("ClassList.ClassList.MedicalInformation") </h3>
                    @if (Model.MedicalDetailModel != null)
                    {
                        <div class="label-list-view column-padding pt-3 pb-3">
                            @if (!string.IsNullOrEmpty(Model.MedicalDetailModel.Health))
                            {
                                <h3 class="list"><span class="d-block label">Medical Condition</span>  @Model.MedicalDetailModel.Health</h3>
                            }
                            @if (!string.IsNullOrEmpty(Model.MedicalDetailModel.SpMedication))
                            {
                                <h3 class="list"><span class="d-block label">Medication</span>@Model.MedicalDetailModel.SpMedication</h3>
                            }
                            @if (!string.IsNullOrEmpty(Model.MedicalDetailModel.Allergies))
                            {
                                <h3 class="list"><span class="d-block label">Allergies</span> @Model.MedicalDetailModel.Allergies</h3>
                            }
                            @if (!string.IsNullOrEmpty(Model.MedicalDetailModel.Physical))
                            {
                                <h3 class="list"><span class="d-block label">Note</span> @Model.MedicalDetailModel.Physical</h3>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="label-list-view column-padding pt-3 pb-3">
                            <h4 class="sub-heading"> @ResourceManager.GetString("ClassList.ClassList.NoDataFound")</h4>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- Medical Information end -->
        <!-- Behavioral Details section end -->
        <div class="col-lg-6 col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@ResourceManager.GetString("ClassList.ClassList.AssesmentDetails")</h3>
                    <div id="AssessmentDetailstable" class="pt-3 column-padding pb-2">
                        <!-- Projects table -->
                        <table class="table table-bordered bg-white align-items-center assesment-table">
                            <thead>
                                <tr>
                                    @if (Model.AssessmentDetailModel != null)
                                    {
                                        foreach (var col in Model.AssessmentDetailModel)
                                        {
                                            <th>@col.Term_1</th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.AssessmentDetailModel != null)
                                {
                                    <tr>
                                        @foreach (var item in Model.AssessmentDetailModel)
                                        {
                                            <td>@item.Term_1</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Behavioral Details section end-->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="behaviourModel" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div id="divBehaviourModalBody"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
}

@if (!Model.IsFullView)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".progress").each(function () {
                var value = parseFloat($(this).attr('data-value'));
                var left = $(this).find('.progress-left .progress-bar');
                var right = $(this).find('.progress-right .progress-bar');

                if (value > 0) {
                    if (value <= 50) {
                        right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
                    } else {
                        right.css('transform', 'rotate(180deg)')
                        left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
                    }
                }
            });
            function percentageToDegrees(percentage) {
                return percentage / 100 * 360
            }
            $("#divListGridSubCategory").mCustomScrollbar({
                setHeight: "300",
                autoExpandScrollbar: true,
                scrollbarPosition: "inside",
                autoHideScrollbar: true
            });

            $("body").on("click", "#grid", function () {
                $("#behaveGrid").show();
                $("#behaveList").hide();
                ClassListObject.ShowGridView();
            });
            $("body").on("click", "#list", function () {
                $("#behaveGrid").hide();
                $("#behaveList").show();
                ClassListObject.ShowListView();
            });

            $("#list").trigger('click');
        });
    </script>
}

@section Scripts{

    <script src="@Url.Content("~/Content/js/custom/ClassList/ClassListLoad.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".progress").each(function () {
                var value = parseFloat($(this).attr('data-value'));
                var left = $(this).find('.progress-left .progress-bar');
                var right = $(this).find('.progress-right .progress-bar');

                if (value > 0) {
                    if (value <= 50) {
                        right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
                    } else {
                        right.css('transform', 'rotate(180deg)')
                        left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
                    }
                }
            });
            function percentageToDegrees(percentage) {
                return percentage / 100 * 360
            }
            $("#divListGridSubCategory").mCustomScrollbar({
                setHeight: "300",
                autoExpandScrollbar: true,
                scrollbarPosition: "inside",
                autoHideScrollbar: true
            });

            $("body").on("click", "#grid", function () {
                $("#behaveGrid").show();
                $("#behaveList").hide();
                ClassListObject.ShowGridView();
            });
            $("body").on("click", "#list", function () {
                $("#behaveGrid").hide();
                $("#behaveList").show();
                ClassListObject.ShowListView();
            });

            $("#list").trigger('click');
        });
    </script>

}



