﻿@model IEnumerable<Phoenix.Models.Entities.ClassListModel>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    ViewBag.Title = "Class List";
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var UserTypeId = ViewBag.UserTypeId != null ? (int)ViewBag.UserTypeId : 0;
    var StudentId = ViewBag.StudentId != null ? Convert.ToInt64(ViewBag.StudentId) : 0;
}

<link href="~/Content/css/custom/SIMS/toggle-switch.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/css/addons/slick-carousel.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/addons/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/addons/bootstrap-toggle.css" />
<link href="~/Content/css/custom/SIMS/StudentProfileDetail.css" rel="stylesheet" />

<div class="clearfix position-relative">
    <div id="dvClassList" class="d-none">

    </div>
    <div id="divClassSectionTab">

    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
}
@section scripts
{
    <script type="text/javascript" src="~/Content/js/addons/slick-carousel.js"></script>
    <script type="text/javascript" src="~/Content/js/addons/bootstrap-toggle.js"></script>
    <script src="@Url.Content("~/Content/js/custom/ClassList/ClassList.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/ClassList/ClassListLoad.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            classListIndex.LoadClassListTab(@StudentId, false, true);
        });
        function HoverPopup(a, state) {
            if (state == '1') {
                $(a).find(".behav-profile").attr("data-header-animation", true);
            }
            else {
                $(a).find(".behav-profile").attr("data-header-animation", false);
            }
        }
    </script>
}

