﻿@model List<Phoenix.Models.AcademicDocuments>
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers.Extensions;
<div class="library-data column-padding pt-0 pb-3">
    <div id="library" class="row view-group">
        <div class="col-lg-12 col-md-12 col-12">
            <div id="file-list" class="mt-3">
                <div class="file-view">
                    <div class="row pr-2 pl-2">
                        @foreach (var item in Model)
                        {
                            <a target="_blank" href="/Document/Viewer?id=@EncryptDecryptHelper.EncryptUrl(item.FilePath)&module=editAcademicFiles" title="@item.FileName">
                                <div class="item search-item col-xl-2 col-lg-3 col-md-3 col-6 grid-group-item academic-file-@item.DocumentType.ToLowerInvariant()">
                                    <div class="library-content clearfix cursor-pointer">
                                        <div class="item-icon">
                                            <a target="_blank" href="/Document/Viewer?id=@EncryptDecryptHelper.EncryptUrl(item.FilePath)&module=editAcademicFiles">
                                                <i class="@item.FileCssClass"></i>
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <p>

                                                @(item.FileName.Length > 20 ? item.FileName.Substring(0, 17) + "..." : item.FileName)

                                            </p>
                                            <div class="quick-nav dropleft">
                                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu has-list-group animate slideIn p-0 border-0">
                                                    <ul class="list-group list-group-horizontal text-center align-items-center">
                                                        @if (Html.CurrentPagePermission().CanEdit)
                                                        {
                                                            <li class="list-group-item p-0 align-self-stretch">
                                                                <a data-documenttype="@item.DocumentType.ToLowerInvariant()" title="@ResourceManager.GetString("StudentInformation.Certificates."+(item.ShowOnDashboard ? "HideFromDashboard" : "ShowOnDashboard"))" data-isselected="@item.ShowOnDashboard" href="javascript:void(0)" onclick="studentAcademicFunctions.updateShowhideStatus(this, @item.FileId)" class="align-items-center d-flex h-100 pb-2 pt-2 text-uppercase">
                                                                    <small class="align-self-center d-flex  text-bold"><i class="fas fa-eye@(item.ShowOnDashboard? "-slash":"") fa-2x"></i></small>
                                                                </a>
                                                            </li>

                                                            <li class="list-group-item p-0 align-self-stretch">
                                                                <a data-documenttype="@item.DocumentType.ToLowerInvariant()" onclick="studentAcademicFunctions.deleteAcademicFile(this)" data-fileid="@item.FileId" href="javascript:void(0)" class="align-items-center d-flex h-100 pb-2 pt-2 text-uppercase">
                                                                    <small class="align-self-center d-flex  text-bold"><i class="fas fa-trash-alt fa-2x"></i></small>
                                                                </a>
                                                            </li>
                                                        }
                                                        <li class="list-group-item p-0 align-self-stretch">
                                                            <a title="Download" target="_blank" href="/StudentInformation/StudentInformation/DownloadFile?id= @(EncryptDecryptHelper.EncryptUrl(PhoenixConfiguration.Instance.ReadFilePath+item.FilePath))" class="align-items-center d-flex h-100 pb-2 pt-2 text-uppercase">
                                                                <small class="align-self-center d-flex  text-bold"><i class="fas fa-download fa-2x"></i></small>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }

                    </div>
                </div>
                @if (!Model.Any())
                {
                    <h4 class="sub-heading">@ResourceManager.GetString("Shared.Labels.NoRecords")</h4>
                }
            </div>
        </div>
    </div>
</div>
