﻿@model List<Phoenix.Models.Template>
@using Phoenix.Common.Localization;

@if (Model.Any())
{
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="title-with-fields position-relative">
                    <h3 class="card-title">@ResourceManager.GetString("StudentInformation.Certificates.TeacherAssignedCertificate")</h3>
                </div>
            </div>
            <div class="my-certificate-list column-padding pt-3 pb-3 table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>@ResourceManager.GetString("StudentInformation.Certificates.CertificateName")</th>
                            <th>@ResourceManager.GetString("StudentInformation.Certificates.CertificateDescription")</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Description</td>
                                <td>
                                    <div class="tbl-actions">
                                        <a data-toggle='tooltip' href="javascript:void(0)" onclick="studentCertificateFunctions.viewCertificate(this, @item.TemplateId)" class="mr-2" title="@ResourceManager.GetString("Shared.Labels.View")">
                                            <img src='/Content/vle/img/svg/tbl-view.svg' />
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
      
    </div>
}
