﻿@model Phoenix.Models.Template
@using Phoenix.Common.Localization;
@{
    string fileUrl = Model.FilePath;
}

@Html.HiddenFor(e=>e.Title, new { id="StudentCertificateTitle"})
@Html.HiddenFor(e=>e.TemplateId, new { id = "hdnStudentTemplateId"})
<link href="~/pixie/styles.min.css?v20" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
<pixie-editor>
    <div class="global-spinner">
        <style>
            .global-spinner {
                display: none;
                align-items: center;
                justify-content: center;
                z-index: 999;
                background: #fff;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        </style>

        <div class="la-ball-spin-clockwise la-2x">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <script>
        setTimeout(function () {
            var spinner = document.querySelector('.global-spinner');
            if (spinner) spinner.style.display = 'flex';
        }, 50);</script>
</pixie-editor>


<script>
    var state = '@Html.Raw(ViewBag.CertificateJSON)';
     var baseUri = '@Model.JSONFileUrl';
    var imagePath = '@fileUrl';
    var fileName = '@Model.FileName.Replace(".json", "")';

    if ($("script[src*='/pixie/scripts.min.v1.js']").length == 0) {
        var script = document.createElement("script");

        document.body.appendChild(script);
        script.onload = function () {
            studentCertificateFunctions.initCertificateEditor();
        }
        script.src = "/pixie/scripts.min.v1.js?v="+@ResourceManager.GetString("Shared.Version.Js");
    } else
        studentCertificateFunctions.initCertificateEditor();

</script>