﻿@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Helpers.Extensions;
@using Phoenix.Models;
@model Phoenix.Models.StudentPortfolio

@{
    Layout = null;
    var isTeacher = SessionHelper.CurrentSession.IsTeacher();
    long selectedUserId = ViewBag.SelectedPortfolioUserId;
    int count = 0;
    var lstAchievements = new List<StudentPortfolioAchievements>();
    foreach (var item in Model.StudentAcheivementsNew)
    {
        count++;
        if (count == 1)
        {
            var Acheivement = new StudentPortfolioAchievements
            {
                AchievementId = item.AchievementId,
                Title = item.Title,
                EventDate = item.EventDate
            };
            lstAchievements.Add(Acheivement);
        }
        else
        {
            if (!lstAchievements.Any(x => x.Title == item.Title))
            {
                var Acheivement = new StudentPortfolioAchievements
                {
                    AchievementId = item.AchievementId,
                    Title = item.Title,
                    EventDate = item.EventDate
                };
                lstAchievements.Add(Acheivement);
            }
        }
    }
    var allModules = Model.StudentProfileSections.FirstOrDefault().TotalModulesCount > 0 ? Model.StudentProfileSections.Where(e => e.IsEnabled) : Model.StudentProfileSections;
}
@foreach (var item in allModules)
{
    if (@item.Target != "AboutMe")
    {
        if (item.Target == "SkillsAndEndorsements")
        {
            if (Model.SkillsEndorsed.Any())
            {
                var distinctEndorsement = Model.SkillsEndorsed.Select(e => new { e.SkillId, e.SkillName }).Distinct();
                <div class="row skill-row">
                    <div class="col-lg-12 border-bottom py-3 mt-2">
                        <div class="d-flex align-items-end flex-wrap mb-4">
                            <h5 class="text-color-purple text-bold mb-0 mr-3">@string.Format(@ResourceManager.GetString(@item.SectionName), "", "") (@Model.SkillsEndorsed.Count())</h5>
                            @if (Html.CurrentPagePermission().CanEdit)
                            {
                                <a href="/studentinformation/studentinformation/Endorsement?userId=@EncryptDecryptHelper.EncryptUrl(selectedUserId)" class="edit-link no-print">
                                    <img src="~/Content/VLE/img/svg/tbl-edit.svg" />
                                </a>

                            }
                        </div>
                        @foreach (var selectedSkill in distinctEndorsement)
                        {
                            var endorsements = Model.SkillsEndorsed.FindAll(x => x.SkillId == selectedSkill.SkillId);
                            if (endorsements.Any())
                            {
                                <div>
                                    <p class="skill-title text-color-purple border-primary">
                                        <span class="skill-count text-bold">@endorsements.Count()</span>
                                        <span class="skill-name text-bold">@selectedSkill.SkillName</span>
                                    </p>

                                    <p class="text-color-purple text-medium">Endorsements (@endorsements.Count())</p>
                                    @foreach (var endorsement in endorsements)
                                    {
                                        <div class="pf-comment-card mb-3">
                                            <p class="content text-medium">
                                                <i>
                                                    @endorsement.Message
                                                </i>
                                            </p>
                                            <div class="comment-footer d-flex align-items-center">
                                                <div class='rating-stars'>
                                                    <ul id='stars' data-skillendorsed="@endorsement.SkillEndorsedId">
                                                        <li class='star @(endorsement.Rating >= 1 ? "selected" : "")' data-value='1'>
                                                            <i class='fa fa-star fa-fw'></i>
                                                        </li>
                                                        <li class='star @(endorsement.Rating >= 2 ? "selected" : "")' data-value='2'>
                                                            <i class='fa fa-star fa-fw'></i>
                                                        </li>
                                                        <li class='star @(endorsement.Rating >= 3 ? "selected" : "")' data-value='3'>
                                                            <i class='fa fa-star fa-fw'></i>
                                                        </li>
                                                        <li class='star @(endorsement.Rating >= 4 ? "selected" : "")' data-value='4'>
                                                            <i class='fa fa-star fa-fw'></i>
                                                        </li>
                                                        <li class='star @(endorsement.Rating == 5 ? "selected" : "")' data-value='5'>
                                                            <i class='fa fa-star fa-fw'></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="pl-3">
                                                    @{
                                                        var avatarPic = string.IsNullOrEmpty(endorsement.TeacherImage) ? "/Content/VLE/img/avatar-2.jpg" : PhoenixConfiguration.Instance.ReadFilePath + Constants.TeacherProfilePath + endorsement.TeacherImage;
                                                    }
                                                    <small class="text-dark text-semibold">@ResourceManager.GetString("StudentInformation.Endorsement.Endorsed") </small><small class="text-muted text-semibold">@ResourceManager.GetString("StudentInformation.Endorsement.By")</small>
                                                    <img src="@avatarPic" height="50" width="50" class="endorse-avatar">
                                                    <small class="text-color-purple text-semibold"> @endorsement.TeacherName</small>
                                                    <small class="text-muted text-semibold">on @endorsement.CreatedOn</small>
                                                </div>.
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            }
            else
            {

                <div class="row skill-row">
                    <div class="col-lg-12 border-bottom py-3">
                        <div class="d-flex align-items-end flex-wrap mb-3">
                            <h5 class="text-color-purple text-bold mb-0 mr-3">@string.Format(@ResourceManager.GetString(@item.SectionName), "", "") </h5>
                        </div>
                        <div class="tab-content">
                            <p>@string.Format(@ResourceManager.GetString(@item.SectionName), ResourceManager.GetString("StudentInformation.Common.No"), ResourceManager.GetString("StudentInformation.Common.added")) </p>
                            @if (Html.CurrentPagePermission().CanEdit)
                            {
                                <button class="add-details" onclick="location.href='/studentinformation/studentinformation/Endorsement?userId=@EncryptDecryptHelper.EncryptUrl(selectedUserId)'">
                                    <img src="~/Content/img/svg/add.svg" class="svg" />
                                    <span>@string.Format(@ResourceManager.GetString(@item.SectionName), ResourceManager.GetString("StudentInformation.Common.Add"), "") </span>
                                </button>
                            }
                        </div>
                    </div>
                </div>

            }
        }
        else if (@item.Target == "Achievements")
        {
            if (Model.StudentAcheivementsNew.Any() || Model.CertificateList.Any())
            {
                <div class="row achievement-row">
                    <div class="col-lg-12 border-bottom py-3 mt-2">
                        <div class="d-flex align-items-end flex-wrap mb-4">
                            <h5 class="text-color-purple text-bold mb-0 mr-3">@string.Format(@ResourceManager.GetString(@item.SectionName), "", "") (@(lstAchievements.Count() + (Model.CertificateList.Count())))</h5>
                            @if (Html.CurrentPagePermission().CanEdit)
                            {
                                <a href="/studentinformation/studentinformation/Achievements?userId=@EncryptDecryptHelper.EncryptUrl(selectedUserId)" class="edit-link no-print">
                                    <img src="~/Content/VLE/img/svg/tbl-edit.svg" />
                                </a>
                            }
                        </div>
                        <div id="acheivementCarousel_0" class="carousel-nav owl-carousel owl-theme @(SessionHelper.CurrentSession.IsParent() ? "attachment-list" : "")">
                            @foreach (var certficate in Model.CertificateList)
                                        {
                                            string filePath = "";
                                            var schoolCode = SessionHelper.CurrentSession.SchoolCode;
                                            if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                            {
                                                filePath = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(certficate.FilePath);
                                            }
                                            else
                                            {
                                                filePath = SessionHelper.CurrentSession.IsParent() ? $"/Content/VLE/img/svg/{certficate.FileCssClass}.svg" : certficate.PhysicalFilePath;
                                            }
                                            if (SessionHelper.CurrentSession.IsParent())
                                            {
                                    <div class="card rounded-2x overflow-hidden resource-card">
                                        <a href="javascript:void(0)" onclick="globalFunctions.downloadSharepointFile('@certficate.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(certficate.FilePath) : Uri.EscapeUriString(certficate.FilePath).Replace("\'","%27"))','@schoolCode','true','3')" class="attachedFile overflow-hidden d-flex align-items-center justify-content-center">
                                            <img class="card-img-top" src="@filePath" alt="">
                                        </a>
                                        <div class="card-body position-relative">
                                            <h4 class="card-title overflow-hidden px-0 mx-3 py-3">
                                                @certficate.CertificateDescription
                                            </h4>

                                            <a data-toggle="tooltip" data-placement="right" title="@ResourceManager.GetString("Shared.Buttons.Download")" href="javascript:void(0)" onclick="globalFunctions.downloadSharepointFile('@certficate.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(certficate.FilePath) : Uri.EscapeUriString(certficate.FilePath).Replace("\'","%27"))','@schoolCode','true','3')"  class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle">
                                                <img src="/Content/VLE/img/svg/ic-download.svg" alt="" class="svg">
                                            </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="">
                                        <div class="image-wrapper"><img src="@filePath" class=""></div>
                                        <p class="text-dark text-semibold mt-3">@certficate.CertificateDescription</p>
                                    </div>
                                }

                            }

                        </div>
                        @foreach (var achievement in lstAchievements)
                        {
                            <h6 class="text-dark text-semibold mb-3 mt-2">@achievement.Title</h6>
                            var achievementCertificates = Model.StudentAcheivementsNew.FindAll(x => x.AchievementId == achievement.AchievementId);
                            <div id="acheivementCarousel_@achievement.AchievementId" class="carousel-nav owl-carousel owl-theme @(SessionHelper.CurrentSession.IsParent()? "attachment-list" : "")">
                                @foreach (var certificate in achievementCertificates)
                                {
                                    var filePath = Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(certificate.PhysicalFilePath) : (SessionHelper.CurrentSession.IsParent() ? $"/Content/VLE/img/svg/{certificate.FileCssClass}.svg" : certificate.PhysicalFilePath);
                                    if (!SessionHelper.CurrentSession.IsParent())
                                    {
                                        <div class="image-wrapper">
                                            <img class="" src="@filePath" alt="@certificate.FileName">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="card rounded-2x overflow-hidden resource-card">
                                            <a href="javascript:void(0)" onclick="globalFunctions.downloadSharepointFile('@certificate.FileName', '@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(certificate.FilePath) : Uri.EscapeUriString(certificate.FilePath).Replace("\'","%27"))', '@SessionHelper.CurrentSession.SchoolCode', 'true', '3')"  class="attachedFile overflow-hidden d-flex align-items-center justify-content-center">
                                                <img class="card-img-top" src="@filePath" alt="">
                                            </a>
                                            <div class="card-body position-relative">
                                                <h4 class="card-title overflow-hidden px-0 mx-3 py-3">
                                                    @certificate.Title
                                                </h4>

                                                <a data-toggle="tooltip" data-placement="right" title="@ResourceManager.GetString("Shared.Buttons.Download")" href="javascript:void(0)"  onclick="globalFunctions.downloadSharepointFile('@certificate.FileName', '@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(certificate.FilePath) : Uri.EscapeUriString(certificate.FilePath).Replace("\'","%27"))', '@SessionHelper.CurrentSession.SchoolCode', 'true', '3')" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle">
                                                    <img src="/Content/VLE/img/svg/ic-download.svg" alt="" class="svg">
                                                </a>
                                            </div>
                                        </div>
                                    }

                                }
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {

                <div class="row achievement-row">
                    <div class="col-lg-12 border-bottom py-3">
                        <div class="d-flex align-items-end flex-wrap mb-3">
                            <h5 class="text-color-purple text-bold mb-0 mr-3">@string.Format(@ResourceManager.GetString(@item.SectionName), "", "")</h5>
                        </div>
                        <div class="tab-content">
                            <p>@string.Format(@ResourceManager.GetString(@item.SectionName), ResourceManager.GetString("StudentInformation.Common.No"), ResourceManager.GetString("StudentInformation.Common.added"))</p>
                            @if (Html.CurrentPagePermission().CanEdit)
                            {
                                <button class="add-details" onclick="location.href='@Url.Action("Achievements", "StudentInformation", new { userId = @EncryptDecryptHelper.EncryptUrl(selectedUserId) })'">
                                    <img src="~/Content/img/svg/add.svg" class="svg" />
                                    <span>@string.Format(@ResourceManager.GetString(@item.SectionName), ResourceManager.GetString("StudentInformation.Common.Add"), "")</span>
                                </button>
                            }
                        </div>
                    </div>
                </div>

            }
        }
        else if (@item.Target == "Goals")
        {
            if (Model.StudentGoals.Any())
            {
                <div class="row goals-row">
                    <div class="col-lg-12 border-bottom py-3 mt-2">
                        <div class="d-flex align-items-end flex-wrap mb-4">
                            <h5 class="text-color-purple text-bold mb-0 mr-3">@string.Format(@ResourceManager.GetString(@item.SectionName), "", "") (@Model.StudentGoals.Count())</h5>
                            @if (Html.CurrentPagePermission().CanEdit)
                            {
                                <a href="/studentinformation/studentinformation/Goals?userId=@EncryptDecryptHelper.EncryptUrl(selectedUserId)" class="edit-link no-print">
                                    <img src="~/Content/VLE/img/svg/tbl-edit.svg" />
                                </a>

                            }
                        </div>

                        <div class="d-flex flex-wrap">
                            <div id="goalsCarousel" class="carousel-nav owl-carousel owl-theme">
                                @foreach (var goal in Model.StudentGoals)
                                {
                                    <div class="goal-card">
                                        <span class="due-label text-semibold">@ResourceManager.GetString("StudentInformation.Goals.Dueon") @goal.ExpectedDate</span>
                                        <h6 class="text-bold text-color-purple mt-3">@goal.GoalName</h6>
                                        <p class="content">
                                            @goal.GoalDescription
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {

                <div class="row goals-row">
                    <div class="col-lg-12 border-bottom py-3">
                        <div class="d-flex align-items-end flex-wrap mb-3">
                            <h5 class="text-color-purple text-bold mb-0 mr-3">@string.Format(@ResourceManager.GetString(@item.SectionName), "", "")</h5>
                        </div>
                        <div class="tab-content">
                            <p>@string.Format(@ResourceManager.GetString(@item.SectionName), ResourceManager.GetString("StudentInformation.Common.No"), ResourceManager.GetString("StudentInformation.Common.added"))</p>
                            @if (Html.CurrentPagePermission().CanEdit)
                            {
                                <button class="add-details" onclick="location.href='/studentinformation/studentinformation/Goals?userId=@EncryptDecryptHelper.EncryptUrl(selectedUserId)'">
                                    <img src="~/Content/img/svg/add.svg" class="svg" />
                                    <span>@string.Format(@ResourceManager.GetString(@item.SectionName), ResourceManager.GetString("StudentInformation.Common.Add"), "")</span>
                                </button>
                            }
                        </div>
                    </div>
                </div>

            }

        }
        else if (@item.Target == "Academics")
        {
            if (Model.Academics.Any() || Model.StudentReports.Any())
            {
                int totalCount = Model.Academics.Select(e => e.AssignmentId).Distinct().Count() + Model.StudentReports.Count;
                <div class="row academics-row">
                    <div class="col-lg-12 border-bottom py-3 mt-2">
                        <div class="d-flex align-items-end flex-wrap mb-4">
                            <h5 class="text-color-purple text-bold mb-0 mr-3">@string.Format(@ResourceManager.GetString(@item.SectionName), "", "") (@totalCount)</h5>
                            @if (Html.CurrentPagePermission().CanEdit)
                            {
                                <a href="/studentinformation/studentinformation/Academics?userId=@EncryptDecryptHelper.EncryptUrl(selectedUserId)" class="edit-link no-print">
                                    <img src="~/Content/VLE/img/svg/tbl-edit.svg" />
                                </a>

                            }
                        </div>

                        <ul class="nav bordered-tab-item mb-4">
                            <li class="nav-item text-left">
                                <a class="nav-link active" data-toggle="tab" href="#myWork" role="tab">
                                    @ResourceManager.GetString("StudentInformation.Academics.MyWork") (@Model.Academics.Select(e => e.AssignmentId).Distinct().Count())
                                </a>
                            </li>
                            <li class="nav-item text-left">
                                <a class="nav-link" data-toggle="tab" href="#panel56" role="tab">
                                    @ResourceManager.GetString("StudentInformation.Academics.Reports")
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content my-4">
                            <!--Panel 1-->
                            <div class="tab-pane fade in show active" id="myWork" role="tabpanel">
                                <div id="academicsAssignmentCarousel" class="carousel-nav owl-carousel owl-theme attachment-list">
                                    @{
                                        var distinctAssignments = Model.Academics.Select(e => e.AssignmentId).Distinct();
                                    }
                                    @foreach (var assignmentId in distinctAssignments)
                                    {
                                        var acad = Model.Academics.FirstOrDefault(e => e.AssignmentId == assignmentId);
                                        var fileCount = Model.Academics.Where(e => e.AssignmentId == assignmentId).Count();
                                        var filePath = Constants.IsWellFormedUriString(acad.FilePath) ? acad.FilePath : PhoenixConfiguration.Instance.ReadFilePath + acad.FilePath;
                                        <div class="card rounded-2x overflow-hidden resource-card">
                                            <a href="javascript:void(0)" @(fileCount == 1 ? $"onclick=window.open('{filePath}')" : "onclick=viewStudentAssignmentFiles(this)") data-assignmentId="@assignmentId" class="@(fileCount >1 ? "viewacademicfiles" : "") attachedFile overflow-hidden d-flex align-items-center justify-content-center">
                                                <img class="card-img-top" src="~/Content/VLE/img/svg/@(acad.FileCssClass).svg" alt="">
                                            </a>
                                            <div class="card-body position-relative">
                                                <h4 class="card-title overflow-hidden px-0 mx-3 py-3">
                                                    @acad.AcademicTitle @(fileCount > 1 ? $"({fileCount} files)" : "")
                                                </h4>

                                                <a data-toggle="tooltip" data-placement="right" title="@(fileCount > 1 ? ResourceManager.GetString("StudentInformation.Academics.ViewFiles") : ResourceManager.GetString("Shared.Buttons.Download"))" href="javascript:void(0)" @(fileCount == 1 ? $"onclick=window.open('{filePath}')" : "onclick=viewStudentAssignmentFiles(this)") data-assignmentId="@assignmentId" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle">
                                                    <img src="/Content/VLE/img/svg/@(fileCount==1 ? "ic-download.svg" : "tbl-view.svg")" alt="" class="svg">
                                                </a>


                                            </div>
                                        </div>
                                    }
                                </div>
                                @if (!distinctAssignments.Any())
                                {
                                    <span class="no-data-found text-bold d-block mx-auto my-auto">
                                        @ResourceManager.GetString("Shared.Labels.NoRecords")
                                    </span>
                                }

                            </div>
                            <!--/.Panel 1-->
                            <!--Panel 2-->
                            <div class="tab-pane fade" id="panel56" role="tabpanel">
                                <div id="academicsReportsCarousel" class="carousel-nav owl-carousel owl-theme attachment-list">
                                    @foreach (var report in Model.StudentReports)
                                    {
                                        <div class="card rounded-2x overflow-hidden">
                                            <a onclick="RequestToPdfView('@report.AcademicYearId','@report.ReportId','@report.StudentNumber','@report.Title')" href="javascript:void(0)" class="attachedFile overflow-hidden d-flex align-items-center justify-content-center file-type-pdf">
                                                <img src="/Content/Vle/img/svg/file-type-pdf.svg" alt="" class="svg">
                                            </a>
                                            <div class="card-body position-relative">
                                                <h4 class="card-title overflow-hidden px-0 mx-3 py-3">
                                                    @report.Title
                                                </h4>
                                                <a href="javascript:void(0)" onclick="RequestToPdfView('@report.AcademicYearId','@report.ReportId','@report.StudentNumber','@report.Title')" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle">
                                                    <img src="/Content/VLE/img/svg/ic-download.svg" alt="" class="svg">
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                                @if (!Model.StudentReports.Any())
                                {
                                    <span class="no-data-found text-bold d-block mx-auto my-auto">
                                        @ResourceManager.GetString("Shared.Labels.NoRecords")
                                    </span>
                                }
                            </div>
                            <!--/.Panel 2-->
                        </div>
                    </div>
                </div>
            }
            else
            {


                <div class="row academics-row">
                    <div class="col-lg-12 border-bottom py-3">
                        <div class="d-flex align-items-end flex-wrap mb-3">
                            <h5 class="text-color-purple text-bold mb-0 mr-3">@string.Format(@ResourceManager.GetString(@item.SectionName), "", "")</h5>
                        </div>
                        <div class="tab-content">
                            <p>@string.Format(@ResourceManager.GetString(@item.SectionName), ResourceManager.GetString("StudentInformation.Common.No"), ResourceManager.GetString("StudentInformation.Common.added")) </p>
                            @if (Html.CurrentPagePermission().CanEdit)
                            {
                                <button onclick="location.href='/studentinformation/studentinformation/Academics?userId=@EncryptDecryptHelper.EncryptUrl(selectedUserId)'" class="add-details" data-toggle="modal" data-target="#add-@item.Target-Popup">
                                    <img src="~/Content/Vle/img/svg/add.svg" class="svg" />
                                    <span>@string.Format(@ResourceManager.GetString(@item.SectionName), ResourceManager.GetString("StudentInformation.Common.Add"), "") </span>
                                </button>
                            }
                        </div>
                    </div>
                </div>


            }
        }
    }
}



