﻿@model List<Phoenix.Models.Entities.SchoolBadge>
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers.Extensions;
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col flex">
            <div class="form-row">
                @foreach (var item in Model)
                {
                    var readUrl = PhoenixConfiguration.Instance.ReadFilePath + item.ActualImageName;
                    <div data-schoolbadgeid="@item.SchoolBadgeId" class="form-group divStudentBadge col-xl-2 col-lg-2 col-md-2 pb-1 pt-2 text-center smiley">
                        <img src="@readUrl" title="@item.Title" alt="@item.Title" style="height:50px;width:50px;cursor:pointer;">
                        <span class="d-block">@item.Title</span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0 mr-2" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
    @if (Html.CurrentPagePermission().CanEdit && SessionHelper.CurrentSession.IsTeacher())
    {
        <button id="btnAddBadges" type="button" class="btn btn-primary waves-effect waves-light m-0" >@ResourceManager.GetString("Shared.Labels.Add")</button>
    }
</div>

