﻿@model List<Phoenix.Models.StudentCertificate>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Helpers.Extensions;
@{
    bool canEdit = Html.CurrentPagePermission().CanEdit;
}

@foreach (var certificate in Model)
{
    var filePath = PhoenixConfiguration.Instance.ReadFilePath + certificate.FilePath;
    <div class="col-xl-2 col-lg-3 col-md-3 col-12 d-flex mb-3">
        <article class="certificate-box border w-100 position-relative">
            @if (canEdit)
            {
                if (certificate.IsApproved)
                {
                    <a href="javascript:void(0)" data-isselected="@certificate.IsActive" onclick="studentCertificateFunctions.updateUserCertificateStatus(this, @certificate.CertificateId)" class="position-absolute trigger-action" data-toggle="tooltip" title="@ResourceManager.GetString("StudentInformation.Certificates."+(certificate.IsActive ? "HideFromDashboard" : "ShowOnDashboard"))" data-placement="top">
                        <small><i class="far @(certificate.IsActive ?  "fa-eye-slash"  :"fa-eye")"></i></small>
                    </a>
                }

                <a href="javascript:void(0)" onclick="studentCertificateFunctions.deleteUserCertificate(this, @certificate.CertificateId)" class="position-absolute trigger-action delete-certificate" data-toggle="tooltip" title="@ResourceManager.GetString("StudentInformation.Certificates.DeleteCertificate")" data-placement="top">
                    <small><i class="far fa-trash-alt"></i></small>
                </a>
                if (!certificate.IsApproved)
                {
                    <a href="javascript:void(0)" onclick="studentCertificateFunctions.approveStudentCertificate(this, @certificate.CertificateId)" class="position-absolute trigger-action" data-toggle="tooltip" title="@ResourceManager.GetString("StudentInformation.Certificates.ApproveCertificate")" data-placement="top">
                        <small><i class="far fa fa-check"></i></small>
                    </a>
                }

            }
            <a class="certificate-thumb galleryImg h-100" target="_blank" href="/Document/Viewer?id=@EncryptDecryptHelper.EncryptUrl(certificate.FilePath)&module=editcertificates" title="">
                <img src="@filePath" class="img-fluid" />
            </a>
            <div class="caption text-center pt-3 pb-3 pr-1 pl-1">
                <h4 title="@certificate.CertificateDescription" class="m-0">
                    @if (string.IsNullOrEmpty(certificate.CertificateDescription))
                    {
                        @certificate.CertificateTypeName
                    }
                    else
                    {
                        @(certificate.CertificateDescription.Length > 25 ? certificate.CertificateDescription.Substring(0, 22) + "..." : certificate.CertificateDescription )
                    }
                </h4>
            </div>
        </article>
    </div>
}
@if (!Model.Any())
{
    <span>@ResourceManager.GetString("Shared.Labels.NoRecords")</span>
}