﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.StudentAchievement>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@using Phoenix.Models;
@{
    var distinctAcheivement = Model.PageRecords.Select(e => new { e.Title, e.AchievementId, e.ShowOnPortfolio, e.IsApproved, e.TeacherId }).Distinct();
    bool isApprover = SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher();
    bool isAcheivementsPresent = Model.PageRecords.Any();
    var files = isAcheivementsPresent ? Model.PageRecords.FirstOrDefault().lstAchievementFiles : new List<AchievementFiles>();
    var studentCertificates = ViewBag.StudentCertificates as List<StudentCertificate>;
}
<section class="p-4 dashed-borderBottom">
    <div class="d-flex justify-content-between align-items-center flex-wrap mb-50">
        <div class="d-flex align-items-center mb-2">
            <span class="text-color-purple text-bold text-heading mr-3">@ResourceManager.GetString("StudentInformation.Achievements.Achievements")</span>
            <form id="search" class="bg-white border px-3 py-0 rounded-6x search-with-bg" onsubmit="return false;"> <input value="@Model.SearchString" type="search" id="txtSearchAcheivement" placeholder="Search" class="search-box"> </form>
        </div>

        <div class="d-flex align-items-center purple-checkBox">
            <span class="label-text text-semibold mt-1 mr-2">@ResourceManager.GetString("StudentInformation.Common.ShowAllOnPortfolio")</span>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="ShowAllOnPortfolio">
                <label class="custom-control-label" for="ShowAllOnPortfolio"></label>
            </div>
        </div>
    </div>
    @if (studentCertificates.Count > 0)
    {
        <div class="achievement-row mb-0">
            <div class="d-flex align-items-center mb-3">

                <div id="achievementCarousel_0" class="carousel-nav owl-carousel owl-theme">
                    @foreach (var certificate in studentCertificates)
                    {
                        string filePath = "";
                        if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                        {
                            filePath = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(certificate.FilePath);
                        }
                        else
                        {
                            filePath = certificate.PhysicalFilePath;
                        }
                        <div class="@(certificate.IsApproved ? "" : "position-relative")">
                            <div class="image-wrapper"> <img src="@(filePath)" class=""></div>
                            @if (!certificate.IsApproved)
                            {
                                <span class="pending-label text-semibold">Pending Approval</span>
                            }
                            <div class="d-flex flex-wrap justify-content-between mb-2 mt-3">
                                <p class="text-dark text-semibold certificate-text">@certificate.CertificateDescription</p>
                                @if (certificate.IsApproved && !certificate.IsTeacherAssignedCertificate)
                                {
                                    <div class="d-flex align-items-center">
                                        <a class="edit-link mx-3" onclick="studentAchievementFunctions.initStudentCertificateForm(this, @certificate.CertificateId)">
                                            <img src="~/Content/VLE/img/svg/tbl-edit.svg">
                                        </a>
                                        <a class="delete-link mr-3" onclick="studentCertificateFunctions.deleteUserCertificate(this, @certificate.CertificateId)">
                                            <img src="/Content/VLE/img/svg/tbl-delete.svg">
                                        </a>
                                    </div>
                                }

                            </div>
                            @if (!certificate.IsApproved && isApprover)
                            {
                                <div class="d-flex">
                                    <button class="approved-btn" onclick="studentCertificateFunctions.approveStudentCertificate(this, @certificate.CertificateId)">
                                        <img src="/Content/VLE/img/svg/tick-mark.svg" class="svg" />
                                        <span>@ResourceManager.GetString("Shared.Labels.Approve")</span>
                                    </button>
                                    <button class="reject-btn" onclick="studentCertificateFunctions.deleteUserCertificate(this, @certificate.CertificateId)">
                                        <img src="/Content/VLE/img/svg/ic-cancel.svg" class="svg" />
                                        <span>@ResourceManager.GetString("Shared.Labels.Reject")</span>
                                    </button>
                                </div>
                            }
                            @if (certificate.IsApproved)
                            {
                                <div class="d-flex align-items-center purple-checkBox">
                                    <div class="custom-control custom-checkbox ml-2">
                                        <input @(certificate.ShowOnDashboard ? "checked" : "") type="checkbox" class="custom-control-input chkAcheivement chkCertificate" value="@certificate.CertificateId" id="chkCertificate_@certificate.CertificateId">
                                        <label class="custom-control-label certificate-label" for="chkCertificate_@certificate.CertificateId"></label>
                                    </div>
                                    <span class="label-text text-semibold mr-2 mt-n1">@ResourceManager.GetString("StudentInformation.Common.ShowOnPortfolio")</span>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    @if (!studentCertificates.Any() && !isAcheivementsPresent)
    {
        <span class="no-data-found text-bold d-block mx-auto my-auto">
            @ResourceManager.GetString("Shared.Labels.NoRecords")
        </span>
    }
    @if (isAcheivementsPresent)
    {
        <div>
            @foreach (var achievement in distinctAcheivement)
            {
                <h6 class="d-flex align-items-center text-dark text-semibold mb-3">
                    <div class="purple-checkBox">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" @(achievement.ShowOnPortfolio ? "checked" : "") class="custom-control-input chkAcheivement" value="@achievement.AchievementId" id="chkAcheivement_@achievement.AchievementId">
                            <label class="custom-control-label" for="chkAcheivement_@achievement.AchievementId"></label>
                        </div>
                    </div>
                    @achievement.Title
                    <a class="edit-link mx-3" onclick="studentAchievementFunctions.initStudentAchievementPopup(this, @achievement.AchievementId)">
                        <img src="~/Content/VLE/img/svg/tbl-edit.svg">
                    </a>
                    <a class="delete-link mr-3" onclick="studentAchievementFunctions.deleteAcheivement(this, @achievement.AchievementId)">
                        <img src="~/Content/VLE/img/svg/tbl-delete.svg">
                    </a>
                    @if (!achievement.IsApproved && achievement.TeacherId == SessionHelper.CurrentSession.Id)
                    {
                        <button type="button" class="btn btn-success pt-1 pb-2 px-3 waves-effect waves-light" onclick="studentAchievementFunctions.updateAcheivementStatus(this, '@achievement.AchievementId', 'A')">
                            <small>
                                <i class="fa fa-check" area-hidden="true"></i>
                                <span class="text-semibold">@ResourceManager.GetString("Shared.Labels.Approve")</span>
                            </small>
                        </button>
                        <button type="button" class="btn btn-danger pt-1 pb-2 px-3 waves-effect waves-light" onclick="studentAchievementFunctions.updateAcheivementStatus(this, '@achievement.AchievementId', 'R')">
                            <small>
                                <i class="fa fa-times" aria-hidden="true"></i>
                                <span class="text-semibold">@ResourceManager.GetString("Shared.Labels.Reject")</span>
                            </small>
                        </button>
                    }
                </h6>
                <div class="achievement-row">
                    <div id="achievementCarousel_@achievement.AchievementId" class="carousel-nav owl-carousel owl-theme mb-4">
                        @{
                            var achievementCertificates = files.Where(e => e.AchievementId == achievement.AchievementId);

                            foreach (var certificate in achievementCertificates)
                            {
                                if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(certificate.FileName))
                                {
                                    string filePath = "";
                                    if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                    {
                                        filePath = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(certificate.FilePath);
                                    }
                                    else
                                    {
                                        filePath = certificate.PhysicalFilePath;
                                    }
                                    <div class="position-relative mt-2 mr-2 divAcheivementImage">
                                        <img src="@(filePath)" class="achievement-img">
                                        <button class="close d-flex justify-content-center align-items-center">
                                            <img src="/Content/VLE/img/svg/ic-cancel.svg" data-filepath="@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(certificate.FilePath) : certificate.FilePath)" onclick="studentAchievementFunctions.deleteAcheivementFile(this, @certificate.FileId)" class="svg" alt="close-icon" />
                                        </button>
                                    </div>
                                }
                            }
                        }
                        <div class="">
                            <button class="upload-btn mt-2" onclick="studentAchievementFunctions.addAcheivementFile(this, @achievement.AchievementId)">
                                <img src="/Content/VLE/img/svg/ic-add-answer.svg" alt="add-icon" />
                                <span>@ResourceManager.GetString("Shared.Labels.AddPhoto")</span>
                            </button>
                        </div>

                    </div>
                </div>
            }
        </div>
    }

</section>

@{Html.RenderAction("GetStudentAssignedCertificates", "StudentInformation", new { userId = (long)ViewBag.PortfolioUserId });}
@if (isAcheivementsPresent || studentCertificates.Count > 0)
{
    <section class="p-4">
        <button type="button" class="btn btn-custom-purple px-5" onclick="studentAchievementFunctions.saveAchievements()" id="SaveAchievements">
            <small class="text-semibold">@ResourceManager.GetString("Shared.Buttons.Save")</small>
        </button>
    </section>

}


@Html.Hidden("PageIndexNumber", Model.PageIndex)
