﻿@model Phoenix.VLE.Web.EditModels.SkillEndorsementEdit
@using Phoenix.Common.Helpers.Extensions;
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization;

@using (Ajax.BeginForm("SaveEndorsementDetails", "StudentInformation", new AjaxOptions { OnFailure = "globalFunctions.onFailure", OnSuccess = "studentEndorsementFunctions.onSaveSuccess" }, new { @id = "add-SkillsAndEndorsements-Popup" }))
{
    @Html.HiddenFor(m => m.SkillEndorsedId)
    @Html.HiddenFor(m => m.StudentUserId)
    @Html.Hidden("DefaultEndorsedSkillId", Model.SkillId)
    <div class="popup-form modal-body">

        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="md-form md-outline">
                    @Html.DropDownListFor(m => m.SkillIds, new MultiSelectList(ViewBag.StudentSkills, "ItemId", "ItemName"), new { @class = "selectpicker", @data_live_search = "true", @title = ResourceManager.GetString("StudentInformation.Endorsement.SelectSkillToEndorse"), @data_selected_text_format = "count", @multiple = "multiple" })
                    @Html.LocalizedLabel("active", "StudentInformation.Skills.Skill")
                    @Html.ValidationMessageFor(x => x.SkillIds)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="md-form md-outline">
                    @Html.TextAreaFor(m => m.Message, new { @class = "md-textarea form-control", @rows = "3" })
                    @Html.LocalizedLabel("active", "StudentInformation.Skills.SkillDescription")
                    @Html.ValidationMessageFor(m => m.Message)
                </div>
            </div>
        </div>
        @if (SessionHelper.CurrentSession.IsStudent())
        {
            @*<div class="row mb-4">
                <div class="col-lg-12 col-md-12 col-12">
                    <label for="teacher-skill" class="text-semibold">Request Endorsement</label>
                    <div class="custom-switch purple-switch">
                        @Html.CheckBoxFor(e => e.RequestEndorsement, new { @class = "custom-control-input" })
                        <label class="custom-control-label" for="RequestEndorsement"></label>
                    </div>
                </div>
            </div>*@
            <div class="row" id="divTeacherEndorsementList">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="md-form md-outline">
                        @Html.DropDownListFor(m => m.TeacherId, new SelectList(ViewBag.StudentGroupTeachers, "ItemId", "ItemName"), new { @class = "selectpicker", @data_live_search = "true",@data_size=5, @title = ResourceManager.GetString("StudentInformation.Endorsement.SelectTeacher") })
                        @Html.LocalizedLabel("active", "StudentInformation.Skills.Teacher")
                        @Html.ValidationMessageFor(x => x.TeacherId)
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="modal-footer d-flex justify-content-end">

        <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0 mr-2" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
        <button type="submit" class="btn btn-primary waves-effect waves-light m-0">@ResourceManager.GetString("Shared.Buttons.Save")</button>
    </div>
}
@Html.Partial("_ValidationJsPartial")