﻿@*@model List<Phoenix.Models.StudentAssignmentFile>*@
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Helpers.Extensions;
@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.AssignmentFile>

<style>
    #certificateCarousel .owl-stage-outer .owl-item {
        padding: 0px 5px 10px 5px;
    }
</style>
@{
    var fileIcon = String.Empty;
    var fileClass = String.Empty;
    var filePath = String.Empty;
    var fileName = String.Empty;
    var IsPreviewIconDisplay = false;
    var AllFilePath = string.Empty;
    var distinctAssignments = Model.PageRecords.Select(e => new { e.AssignmentId, e.AssignmentTitle, e.ShowOnDashboard }).Distinct();
}

<section class="p-4 dashed-borderBottom">
    <div class="d-flex justify-content-between align-items-center flex-wrap mb-50">
        <div class="d-flex align-items-center mb-2">
            <span class="text-color-purple text-bold text-heading mr-3">@ResourceManager.GetString("StudentInformation.Academics.Assignments")</span>
            <div class="search-wrapper bg-white border px-3 py-0 rounded-6x search-with-bg" id="search">
                <input id="assignmentSearch" value="@Model.SearchString" type="search" class="search-field search-box" placeholder=@ResourceManager.GetString("Assignment.Assignment.SearchAssignment")>
            </div>
        </div>
        <div class="d-flex align-items-center purple-checkBox">
            <span class="label-text text-semibold mr-2">@ResourceManager.GetString("StudentInformation.Common.ShowAllOnPortfolio")</span>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="ShowAllOnPortfolio">
                <label class="custom-control-label" for="ShowAllOnPortfolio"></label>
            </div>
        </div>
    </div>
    <div class="achievement-row mb-0">
        <div class="d-flex align-items-center attachment-list">
            <div id="certificateCarousel" class="carousel-nav owl-carousel owl-theme">
                @if (Model.PageRecords.Any())
                {
                    foreach (var item in distinctAssignments)
                    {
                        IsPreviewIconDisplay = true;
                        if (IsPreviewIconDisplay)
                        {
                            AllFilePath = string.Join(",", Model.PageRecords.Where(e => e.AssignmentId == item.AssignmentId).Select(e => e.UploadedFileName));
                            if (string.IsNullOrEmpty(AllFilePath))
                            {
                                IsPreviewIconDisplay = false;
                                AllFilePath = "";
                            }
                        }
                        var assignmentFile = Model.PageRecords.Where(e => e.AssignmentId == item.AssignmentId).FirstOrDefault();
                        <div class="card rounded-2x mb-0 divAssignment_@item.AssignmentId">
                                 @if (Phoenix.Common.Helpers.CommonHelper.CheckFileExtension(assignmentFile.FileName))
                                 {
                                     filePath = PhoenixConfiguration.Instance.ReadFilePath + assignmentFile.FileName;
                                     if (filePath.Contains(".pdf"))
                                     { fileIcon = "/Content/VLE/img/svg/file-type-pdf.svg"; fileClass = "file-type-pdf"; }
                                     if (filePath.Contains(".txt"))
                                     { fileIcon = "/Content/VLE/img/svg/file-type-text.svg"; fileClass = "file-type-text"; }
                                     if (filePath.Contains(".doc"))
                                     { fileIcon = "/Content/VLE/img/svg/file-type-doc.svg"; fileClass = "file-type-doc"; }
                                     if (filePath.Contains(".docx"))
                                     { fileIcon = "/Content/VLE/img/svg/file-type-doc.svg"; fileClass = "file-type-doc"; }
                                     if (filePath.Contains(".csv"))
                                     { fileIcon = "/Content/VLE/img/svg/file-type-excel.svg"; fileClass = "file-type-excel"; }
                                     if (filePath.Contains(".xlsx"))
                                     { fileIcon = "/Content/VLE/img/svg/file-type-excel.svg"; fileClass = "file-type-excel"; }
                                     if (filePath.Contains(".xls"))
                                     { fileIcon = "/Content/VLE/img/svg/file-type-excel.svg"; fileClass = "file-type-excel"; }
                                     if (filePath.Contains(".html"))
                                     { fileIcon = "/Content/VLE/img/svg/file-type-html.svg"; fileClass = "file-type-html"; }
                                     if (filePath.Contains(".ppt"))
                                     { fileIcon = "/Content/VLE/img/svg/file-type-ppt.svg"; fileClass = "file-type-ppt"; }
                                     if (filePath.Contains("Untitled document"))
                                     { fileIcon = "/Content/VLE/img/svg/file-type-unknown.svg"; fileClass = "file-type-unknown"; }
                                 }
                                    @if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(assignmentFile.FileName))
                                    {
                                        if (assignmentFile.FileName.ToLower().Contains(".jpg"))
                                        { fileIcon = "/Content/VLE/img/svg/file-type-jpg.svg"; fileClass = "file-type-jpg"; }
                                        if (assignmentFile.FileName.ToLower().Contains(".jpeg"))
                                        { fileIcon = "/Content/VLE/img/svg/file-type-jpg.svg"; fileClass = "file-type-jpg"; }
                                        if (assignmentFile.FileName.ToLower().Contains(".png"))
                                        { fileIcon = "/Content/VLE/img/svg/file-type-png.svg"; fileClass = "file-type-png"; }
                                    }
                                    @if (Phoenix.Common.Helpers.CommonHelper.CheckVideoExtension(assignmentFile.FileName))
                                    { fileIcon = "/Content/VLE/img/svg/file-type-video.svg"; fileClass = "certificate-img"; }
                                    @{
                                        fileName = Path.GetFileName(filePath);
                                            var AssignmentFullName = item.AssignmentTitle;
                                    }
                                    @if (item.AssignmentTitle.Length > 15) { AssignmentFullName = item.AssignmentTitle.Substring(0, 14); }
                                    <a href="/Document/Viewer?id=@EncryptDecryptHelper.EncryptUrl(assignmentFile.AssignmentFileId)&module=editAcademicFiles"
                                       target="_blank"
                                       class="attachedFile overflow-hidden d-flex align-items-center justify-content-center p-4 @fileClass">
                                        <img src="@fileIcon" class="w-25 svg" />
                                    </a>
                                    <div class="align-items-center card-body d-flex justify-content-between p-2 position-relative">
                                        <span class="certificate-text font-small text-dark text-semibold" data-toggle='tooltip' data-placement='top' title='@item.AssignmentTitle'>@AssignmentFullName</span>
                                        <div class="d-flex ">
                                            @if (IsPreviewIconDisplay)
                                            {
                                                <a data-assignmentname="@item.AssignmentTitle" class="mr-2" onclick="studentAcademicFunctions.ViewAllFiles(this)" data-allfile="@AllFilePath">
                                                    <img src="~/Content/VLE/img/svg/tbl-view.svg" class="w-auto">
                                                </a>
                                            }
                                            <a class="edit-link mr-2" onclick="studentAcademicFunctions.initAcademicsForm(this, @item.AssignmentId)">
                                                <img src="~/Content/VLE/img/svg/tbl-edit.svg" class="w-auto">
                                            </a>
                                            <a class="delete-link" onclick="studentAcademicFunctions.deleteAcademicAcheivement(this, @item.AssignmentId)">
                                                <img src="~/Content/VLE/img/svg/tbl-delete.svg" class="w-auto">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="align-items-center d-flex purple-checkBox px-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" @(item.ShowOnDashboard ? "checked" : "") class="custom-control-input chkAcademicAssignment " id="@item.AssignmentId" value="@item.AssignmentId" data-assignmentname="@item.AssignmentTitle" name="assignmentFilter">
                                            <label class="custom-control-label certificate-label " for="@item.AssignmentId"></label>
                                        </div>
                                        <span class="label-text text-semibold pb-2">@ResourceManager.GetString("StudentInformation.Common.ShowOnPortfolio")</span>
                                    </div>
                                
                            </div>
                        
                    }
                }
                @if (!Model.PageRecords.Any())
                {
                    <span class="no-data-found text-bold d-block mx-auto my-auto">@ResourceManager.GetString("Shared.Labels.NoRecords")</span>
                }
                </div></div></div>
</section>







<script>
    $("#certificateCarousel").owlCarousel({
        margin: 20,
        autoplay: false,
        nav: true,
        dots: false,
        loop: false,
        autoplayHoverPause: true,
        rtl: direction,
        items: 1,
        slideBy: 1,
        responsive: {
            410: {
                items: 2,
                slideBy: 1
            },
            767: {
                items: 3,
                slideBy: 1
            },
            1024: {
                items: 4,
                slideBy: 1
            }
        }
    });
</script>
