﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.Student>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@using Phoenix.Models

@{List<SchoolGroup> selectedGroupList = new List<SchoolGroup>();
    if (Session["SelectedSchoolGroups"] != null)
    {
        selectedGroupList = (List<SchoolGroup>)Session["SelectedSchoolGroups"];
    }
}

@Html.Hidden("UserTypeId", SessionHelper.CurrentSession.UserTypeId)
<!-- filter list -->
<div class="row filter-container">
    <div class="col-12">
        <ul class="filter-list d-flex flex-wrap" id="selectedFilterList">
            @foreach (var grp in selectedGroupList)
            {
                <li class="py-2 px-3 d-flex justify-content-between rounded">
                    @grp.SchoolGroupName
                    <button class="btn btn-close waves-effect waves-light" data-id="@grp.SchoolGroupId">X</button>
                </li>
            }
        </ul>
    </div>
</div>
<!-- filter list end -->
<!-- students cards -->
<div class="row student-card-grid ">
    @if (Model.PageRecords.Any())
    {
        foreach (var student in Model.PageRecords)
        {
            var studentName = student.FirstName + " " + student.LastName;
            var stuImg = string.IsNullOrEmpty(student.StudentImage) ? "/content/VLE/img/avatar-1.jpg" : Constants.StudentImagesPath + student.StudentImage;
            var studentCoverPic = string.IsNullOrEmpty(student.UserCoverFilePath) ? "/Content/img/temp/pf-bg1.png" : PhoenixConfiguration.Instance.ReadFilePath + student.UserCoverFilePath;

            <div class="col-12 col-lg-3 col-xl-3 col-md-4 mb-3 col-sm-6">
                <a href="/studentinformation/studentinformation/PortfolioHome?userId=@EncryptDecryptHelper.EncryptUrl(student.Id)">
                    <div class="card student-card pf-card p-0 m-0">
                        <div class="upper-section">
                            <img src="@studentCoverPic" class="pf-card-bg" />
                            <div class="image-center">
                                <img class="rounded-circle student-img" src="@stuImg" alt="@studentName">
                            </div>
                            @if (@student.StudentNotificationCount > 0)
                            {
                                <a class="pf-notification">
                                    <img src="~/Content/VLE/img/svg/ic-bell.svg" />
                                    <span class="notification-count">@student.StudentNotificationCount</span>
                                </a>
                            }
                        </div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <div class="student-info">
                                <a href="/studentinformation/studentinformation/PortfolioHome?userId=@EncryptDecryptHelper.EncryptUrl(student.Id)" class="d-block">
                                    <p class="student-name">@studentName</p>
                                    <p class="student-id">@student.StudentNumber</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    }

</div>

@if (!Model.PageRecords.Any())
{
    <span class="no-data-found text-bold d-block mx-auto my-auto">
        @ResourceManager.GetString("Shared.Labels.NoRecords")
    </span>
}
<!-- end students card -->
<hr />
<div class="row 1">
    @Html.Partial("_PaginationIndex", Model)
</div>

<script>
    $(document).ready(function () {
        $('.loader-wrapper').fadeOut(500, function () {
        });

        $(".notification-list").mCustomScrollbar({
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true,
        });

        $('.group-filter .search-container >.custom-search').click(function (e) {
            let parentBlock = $(e.currentTarget).parents('.search-container');
            let headerBlock = $(e.currentTarget).parents('.group-filter');
            parentBlock.addClass('active-block');
            parentBlock.find('.search-text-box').show();
            $('.custom-search').addClass('search-input');
            headerBlock.find('.filter-title').hide();
            parentBlock.find('.close-icon').addClass('show-icon');
        });

        $('.group-filter .search-container >.close-icon').click(function (e) {
            let parentBlock = $(e.currentTarget).parents('.search-container');
            let headerBlock = $(e.currentTarget).parents('.group-filter');
            parentBlock.removeClass('active-block');
            parentBlock.find('.search-text-box').hide();
            $('.custom-search').removeClass('search-input');
            headerBlock.find('.filter-title').show('slow');
            parentBlock.find('.close-icon').removeClass('show-icon');
        });
    });
</script>
