﻿
@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.StudentIncident>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers.Extensions;

@if (Model.PageRecords.Any())
{
    <div class="table-responsive">
        <table id="tbl-achievements" class="table table-bordered table-hover w-100">
            <thead>
                <tr>
                    <th><small class="text-semibold">@ResourceManager.GetString("StudentInformation.Acheivements.Name")</small></th>
                    @if (Html.CurrentPagePermission().CanEdit)
                    {
                        <th class="table-action text-center"></th>
                    }

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PageRecords)
                {
                    <tr>
                        <td>@item.IncidentRemarks</td>
                        @if (Html.CurrentPagePermission().CanEdit)
                        {
                            <td class="text-lg-right">
                                <input data-offstyle="danger" data-studentincidentid="@item.StudentIncidentId" class="chk-bootstrap-toggle @(Html.CurrentPagePermission().CanEdit ? "meritedit" : "")" @(!item.ShowOnDashboard ? "checked" : "") type="checkbox" data-toggle="toggle" data-on="@ResourceManager.GetString("Shared.Labels.Show")" data-off="@ResourceManager.GetString("Shared.Labels.Hide")" data-onstyle="primary" data-size="small" data-width="95">
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("_PaginationIndex", Model)
}
else
{
    <span>@ResourceManager.GetString("Shared.Labels.NoRecords")</span>
}
@Html.Hidden("MeritsPageIndexNumber", Model.PageIndex)
<script>
    $(function () {
        $("input[type=checkbox].chk-bootstrap-toggle").bootstrapToggle("destroy").bootstrapToggle();

        $(document).off('change', 'input[type=checkbox].chk-bootstrap-toggle.meritedit');
        $(document).on('change', 'input[type=checkbox].chk-bootstrap-toggle.meritedit', function () {
            $.post("/StudentInformation/StudentInformation/UpdateAcheivementDashboardStatus", { UserId: portfolioHomeFunctions.getSelectedUserId(), StudentIncidentId: $(this).data("studentincidentid") }, function (data) {
                globalFunctions.showMessage(data.NotificationType, data.Message);
            }).fail(function () { globalFunctions.onFailure(); });
        });
    })
</script>


