﻿@model List<Phoenix.Models.Entities.SchoolBadge>
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization;
@foreach (var award in Model)
{
    var badgePath = Constants.IsWellFormedUriString(award.UploadedImageName) ? award.ActualImageName : PhoenixConfiguration.Instance.ReadFilePath + award.ActualImageName;
    <div class="cards">
        <div class="award-card bg-pink">
            <img src="@badgePath">
        </div>
        <p class="text-dark text-semibold text-center mt-2 mb-2">@award.Title</p>
        <div class="d-flex align-items-center purple-checkBox mt-1">
            <div class="custom-control custom-checkbox">
                <input @(award.IsSelected ? "checked" : "") type="checkbox" data-badgeid="@award.SchoolBadgeId" class="custom-control-input" id="chkAward_@award.SchoolBadgeId">
                <label class="custom-control-label pl-1" for="chkAward_@award.SchoolBadgeId">
                    <small class="label-text text-semibold mt-1">@ResourceManager.GetString("StudentInformation.Common.ShowOnPortfolio")</small>
                </label>
            </div>

        </div>
    </div>
}

@if (!Model.Any())
{
    <span class="no-data-found text-bold d-block mx-auto my-auto">
        @ResourceManager.GetString("Shared.Labels.NoRecords")
    </span>
}