﻿@model Phoenix.VLE.Web.EditModels.StudentSkillEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    Layout = null;
}

@using (Ajax.BeginForm("AddEditStudentSkills", "StudentInformation", new AjaxOptions { OnSuccess = "studentSkillsFunction.onSkillSaveSuccess" }, new { id = "frmAddStudentSkillCycle", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(e => e.UserId)
    <div class="modal-body">
        <div class="popup-form">
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(x => x.SkillName, new { @class = "form-control" })
                        @Html.LocalizedLabel("active", "StudentInformation.Skills.SkillName")
                        @Html.ValidationMessageFor(x => x.SkillName)
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="mt-3">
                        <div class="custom-control custom-checkbox">
                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control-input" })
                            <label class="custom-control-label" for="IsActive">@ResourceManager.GetString("Skill.SchoolSkillSet.IsActive")</label>
                        </div>
                    </div>
                    <div class="">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0 mr-2" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            @if (Html.CurrentPagePermission().CanEdit)
            {
                <button type="submit" class="btn btn-primary waves-effect waves-light m-0 ">@ResourceManager.GetString("Shared.Buttons.Save")</button>
            }
        </div>
    </div>
}

@Html.Partial("_ValidationJSPartial")

