﻿@model List<Phoenix.Models.StudentSkills>
@using Phoenix.Common.Helpers.Extensions;
@{
    bool canEdit = Html.CurrentPagePermission().CanEdit;
}
@foreach (var skill in Model)
{
    <a href="#" data-studentid="@skill.StudentId" data-skillid="@skill.SkillId" class="@(canEdit ? "skill" : "") search-item rounded-pill pl-3 pr-2 mb-2 mr-2 text-uppercase @(skill.IsSelected ? "active" : string.Empty)">
        <small class="text-medium">@skill.SkillName <i class="far fa-circle ml-2"></i><i class="fas fa-check-circle ml-2"></i></small>
    </a>
}