﻿@model Phoenix.VLE.Web.EditModels.StudentAchievementEdit
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;

@using (Ajax.BeginForm("", new AjaxOptions { }, null ,new { @id="formStudentAcheivement"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserId, new { @id = "acheivementUserId" })
    @Html.HiddenFor(m => m.AchievementId)
    <div class="popup-form modal-body">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="md-form md-outline date-time-picker date-icon m-0">
                    @Html.TextBoxFor(m => m.EventDate, new { @class = "form-control date-picker1", @autocomplete = "off" })
                    @Html.LocalizedLabel("active", "StudentInformation.Achievements.EventDate")
                    @Html.ValidationMessageFor(x => x.EventDate)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="md-form md-outline">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @maxlength = "100" })
                    @Html.LocalizedLabel("active", "StudentInformation.Common.Title")
                    @Html.ValidationMessageFor(x => x.Title)
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model.AchievementId > 0)
            {
                foreach (var file in Model.lstAchievementFiles)
                {
                    string filePath = "";
                    if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                    {
                        filePath = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(file.FilePath);
                    }
                    else
                    {
                        filePath = file.PhysicalFilePath;
                    }
                    <div class="col px-2">
                        <div class="card overflow-hidden rounded-2x">
                            <a href="@filePath" target="_blank" class="attachedFile overflow-hidden d-flex align-items-center justify-content-center">
                                <img class="card-img-top" height="140px" src="@filePath" alt="@file.FileName">
                            </a>
                            <div class="card-body position-relative">
                                <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@file.FileName'>
                                    @if (file.FileName.Length > 20)
                                    {
                                        @(file.FileName.Substring(0,20)+"...")
                                    }
                                    else
                                    {
                                        @file.FileName
                                    }
                                </h4>

                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        @if (SessionHelper.CurrentSession.IsStudent())
        {
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="md-form md-outline">
                        @Html.DropDownListFor(m => m.TeacherId, new SelectList(ViewBag.StudentGroupTeachers, "ItemId", "ItemName"), new { @class = "selectpicker", @data_live_search = "true", @title = ResourceManager.GetString("StudentInformation.Endorsement.SelectTeacher") })
                        @Html.LocalizedLabel("active", "StudentInformation.Goals.TeacherName")
                        @Html.ValidationMessageFor(x => x.TeacherId)
                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <small id="maxUpload" class="form-text text-muted text-medium mb-1">
                    @ResourceManager.GetString("Shared.Labels.UploadLimit")<span class="text-danger">*</span>
                </small>

                <div class="uploaderWidget text-center">
                    <input class="fileUploader" type="file" name="Certificates" id="stdCertificates" row="3" multiple />
                </div>
            </div>
        </div> 

    </div>
    <div class="modal-footer d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0 mr-2" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
        @if (Html.CurrentPagePermission().CanEdit)
        {
            <button type="button" onclick="studentAchievementFunctions.saveAcheivementInfo()" class="btn btn-primary waves-effect waves-light m-0">@ResourceManager.GetString("Shared.Buttons.Save")</button>
        }
    </div>
}


@Html.Partial("_ValidationJsPartial")