﻿@model Phoenix.VLE.Web.EditModels.StudentGoalEdit
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers; 

@using (Ajax.BeginForm("SaveStudentGoals", "StudentInformation", new AjaxOptions { OnFailure = "globalFunctions.onFailure", OnSuccess = "studentGoalFunctions.onSaveSuccess" }, new { @id = "frmStudentGoals" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.GoalId)

    <div class="popup-form modal-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="md-form md-outline">
                    @Html.TextBoxFor(x => x.GoalName, new { @class = "form-control" })
                    @Html.LocalizedLabel("active", "StudentInformation.Common.Title")
                    @Html.ValidationMessageFor(x => x.GoalName)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="md-form md-outline">
                    @Html.TextAreaFor(x => x.GoalDescription, new { @class = "md-textarea form-control", @row = "3" })
                    @Html.LocalizedLabel("active", "StudentInformation.Common.Description")
                    @Html.ValidationMessageFor(x => x.GoalDescription)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="md-form md-outline date-time-picker date-icon m-0">
                    @Html.TextBoxFor(x => x.ExpectedDate, new { @class = "form-control date-picker1", @autocomplete = "off" })
                    @Html.LocalizedLabel("active", "StudentInformation.Goals.ExpectedCompletionDate")
                    @Html.ValidationMessageFor(x => x.ExpectedDate)
                </div>
            </div>
        </div>
        @if (SessionHelper.CurrentSession.IsStudent())
        {
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="md-form md-outline">
                        @Html.DropDownListFor(m => m.TeacherId, new SelectList(ViewBag.StudentGroupTeachers, "ItemId", "ItemName"), new { @class = "selectpicker", @data_live_search = "true", @title = ResourceManager.GetString("StudentInformation.Endorsement.SelectTeacher") })
                        @Html.LocalizedLabel("active", "StudentInformation.Goals.TeacherName")
                        @Html.ValidationMessageFor(x => x.TeacherId)
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="modal-footer d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary m-0 mr-2" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
        @if (Html.CurrentPagePermission().CanEdit)
        {
            <button type="submit" class="btn btn-primary m-0" style="padding: 0.43125rem 1.375rem !important;">@ResourceManager.GetString("Shared.Buttons.Save")</button>
        }
    </div>

}

@Html.Partial("_ValidationJsPartial")