﻿@model Phoenix.Models.AcademicDocuments
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers.Extensions
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
<div class="popup-form modal-body">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(e => e.StudentId)
    @Html.HiddenFor(e=> e.StudentAssignmentFileIds)
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="md-form md-outline">
                @Html.DropDownListFor(e => e.AssignmentId, new SelectList(ViewBag.StudentAssignments, "AssignmentId", "AssignmentTitle"), selectText, new { @class = "selectpicker", @data_live_search = "true", @onchange = "studentAcademicFunctions.loadStudentAssignmentFiles()" })
                @Html.LocalizedLabel("active", "StudentInformation.Academics.SelectAssignment")
                @Html.ValidationMessageFor(e => e.AssignmentId)
            </div>
        </div>
    </div>

    <div class="row divAcheivementFiles" style="display:none">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card-body dashed-border p-3" id="divStudentAssignmentFiles">  </div>
        </div>
    </div>
</div>

<div class="modal-footer d-flex justify-content-end border-0 pt-0">
    <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0 mr-2" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
    <button type="button" value="submit" onclick="studentAcademicFunctions.saveAssignmentFiles()" class="btn btn-primary waves-effect waves-light m-0">@ResourceManager.GetString("Shared.Buttons.Save")</button>
</div>
