﻿@model Phoenix.Models.StudentProfileDetail
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@{
    var editAbouMeResourceString = ResourceManager.GetString("StudentInformation.AboutMe.EditAboutMe");
    var studentImage = (Constants.StudentImagesPath + Model.StudentDetails.StudentImage);
}

@Html.HiddenFor(m => m.StudentDetails.Id, new { @id = "PortfolioUserId" })

    <div class="row">
        <div class="col-12">
            <div class="card teacher-portfolio-card mt-0">
                <div class="banner-container mb-5">
                    <img id="imgStudentCover" src="@(string.IsNullOrEmpty(Model.StudentDetails.UserCoverFilePath) ? "/Content/img/temp/pf-bg1.png" : PhoenixConfiguration.Instance.ReadFilePath + Model.StudentDetails.UserCoverFilePath)" />
                    <button class="btn btn-changeCoverPhoto" data-uploadtype="cover" onclick="aboutMeFunctions.initCoverImageForm(this)">
                        <img src="~/Content/VLE/img/svg/ic-camera.svg" class="svg mr-2" />
                        <span class="text-color-purple text-semibold">@ResourceManager.GetString("StudentInformation.Student.ChangeCoverPhoto")</span>
                    </button>
                </div>
                <div class="profile-card">
                    <img src="@studentImage" class="profile-image">
                    @*<a class="edit-photo" data-uploadtype="profile" onclick="aboutMeFunctions.openImageUplodWindow(this)">
                            <img src="~/Content/VLE/img/svg/ic-camera.svg">
                        </a>*@
                </div>
                <div class="card-body dashed-border m-4">
                    <form class="field-form">
                        <section class="p-4 dashed-borderBottom">
                            <span class="text-color-purple text-bold text-heading mr-3">@ResourceManager.GetString("StudentInformation.Student.AboutMe")</span>
                            <div class="row">
                                <div class="col-12 md-outline mb-3">
                                    <label for="description-area"></label>
                                    @Html.TextAreaFor(m => m.StudentDetails.Description, new { @id = "StudentDescription", @class = "md-textarea form-control ck-Editor", @rows = "3", @placeholder = ResourceManager.GetString("StudentInformation.Student.AboutMe") })
                                </div>
                            </div>
                        </section>
                        <section class="p-4 dashed-borderBottom">
                            @{
                                bool allShownOnDashboard = Model.StudentBadges.Count == Model.StudentBadges.Where(e => e.IsSelected).Count();
                            }
                            <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
                                <span class="text-color-purple text-bold text-heading mr-3">@ResourceManager.GetString("StudentInformation.Student.Awards")</span>
                                <div class="d-flex align-items-center purple-checkBox">
                                    @if (SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher())
                                    {
                                        <button type="button" class="btn btn-primary btn-sm m-0 mr-3 waves-effect waves-light" onclick="aboutMeFunctions.initSchoolBadgesForm(this)">
                                            <i class="fas fa-plus mr-2"></i>
                                            @ResourceManager.GetString("StudentInformation.StudentBadges.AddAwards")
                                        </button>
                                    }
                                    <span class="label-text text-semibold mr-2">@ResourceManager.GetString("StudentInformation.Student.ShowAllOnPortfolio")</span>
                                    <div class="custom-control custom-checkbox">
                                        <input @(allShownOnDashboard ? "checked" : "") type="checkbox" class="custom-control-input" id="chkSelectAllAwards">
                                        <label class="custom-control-label" for="chkSelectAllAwards"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="award-container justify-content-start" id="divStdBadges">
                                @Html.Partial("_StudentBadges", Model.StudentBadges)
                            </div>
                        </section>
                        <section class="p-4">
                            <button type="button" class="btn btn-custom-purple px-5" onclick="aboutMeFunctions.saveStudentDetails(this)">
                                <small class="text-semibold">@ResourceManager.GetString("Shared.Buttons.Save")</small>
                            </button>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>

@{Html.RenderPartial("~/Areas/Files/Views/Shared/_AddEditFile.cshtml"); }

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts{
    <script>
        translatedResources.allowedFileExtensions = '@string.Join(",", ViewBag.FileExtension)';
        translatedResources.browseFiles = '@ResourceManager.GetString("Shared.Labels.BrowseFile")';
        translatedResources.languageCode = '@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()';
        translatedResources.updateCoverPhoto = '@ResourceManager.GetString("StudentInformation.Student.UpdateCoverPhoto")';
        translatedResources.addNewBadges = '@ResourceManager.GetString("StudentInformation.StudentBadges.AddAwards")';
        translatedResources.selectFile = '@ResourceManager.GetString("StudentInformation.AboutMe.SelectFile")';
    </script>
    <script src="~/Content/js/ckeditor/ckeditor.js"></script>
    <script src="~/Content/js/custom/StudentInformation/PortfolioAboutMe.js"></script>
} 