﻿@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@{
    long SelectedPortfolioUserId = Convert.ToInt64(ViewBag.SelectedPortfolioUserId);
    long CurrentSessionId = Convert.ToInt64(SessionHelper.CurrentSession.Id);
}
<style>
    .edit-achievement #search input[type=search].search-box:focus {
        width: 30rem;
    }
</style>

<ul class="list-pattern d-none" id="topPortfolioActions">
    <li>
        <button type="button" class="btn btn-primary btn-sm m-0 waves-effect waves-light" onclick="studentAchievementFunctions.initStudentCertificateForm(this)"><i class="fas fa-plus mr-2"></i> @ResourceManager.GetString("StudentInformation.Certificates.AddCertificate")</button>
        <button type="button" class="btn btn-primary btn-sm m-0 waves-effect waves-light" onclick="studentAchievementFunctions.initStudentAchievementPopup(this)"><i class="fas fa-plus mr-2"></i> @ResourceManager.GetString("StudentInformation.Achievements.AddNewAchievement")</button>
    </li>
</ul>

 <div class="row achievement-row edit-achievement mt-3">
        <div class="col-lg-12">
            <div class="card p-4">
                <div class="card-body dashed-border pagination-panel" id="divStudentAchievements">

                </div>
            </div>
        </div>
    </div>

@{Html.RenderPartial("~/Areas/Files/Views/Shared/_AddEditFile.cshtml"); }
@Html.Hidden("SelectedPortfolioUserId", SelectedPortfolioUserId)
@Html.Hidden("CurrentSessionId", CurrentSessionId)
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script type="text/javascript">
        translatedResources.addNewAchievement = '@ResourceManager.GetString("StudentInformation.Achievements.AddNewAchievement")';
         var allowedFileExtensions = '@Html.Raw(Json.Encode(ViewBag.AllowedCertificateExtensions))';
        translatedResources.browseFile = '@ResourceManager.GetString("Shared.Labels.BrowseFile")';
        translatedResources.addNewAchievement = '@ResourceManager.GetString("StudentInformation.Achievements.AddNewAchievement")';
        translatedResources.updateCertificate = '@ResourceManager.GetString("StudentInformation.Certificates.UpdateCertificate")';
        translatedResources.addCertificate = '@ResourceManager.GetString("StudentInformation.Certificates.AddCertificate")';
        translatedResources.updateAcheivement = '@ResourceManager.GetString("StudentInformation.Certificates.UpdateAcheivement")';
        translatedResources.viewCertificate = '@ResourceManager.GetString("StudentInformation.Certificates.ViewCertificate")';
        translatedResources.selectFile = '@ResourceManager.GetString("StudentInformation.AboutMe.SelectFile")';
    </script>
    <script src="@Url.Content("~/Content/js/addons/bootstrap-datepicker.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/StudentInformation/StudentAcheivement.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/StudentInformation/StudentCertificate.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

}


