﻿@using Phoenix.Common.Localization;
@model List<Phoenix.Models.SchoolGroup>
@using Phoenix.Models
@{
    ViewBag.Title = ResourceManager.GetString("StudentInformation.Student.StudentInformation");
    var schoolGroupList = (List<Phoenix.Models.SchoolGroup>)ViewBag.SchoolGroups;


}



@helper LocalizeGroups(string key)
{
    var filterString = ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupFilter");

    if (key.ToLower() == "class group")
    {
        <span class="filter-title my-2">@string.Format(filterString, ResourceManager.GetString("SchoolGroup.SchoolGroup.ClassGroup"))</span>
    }
    if (key.ToLower() == "other groups")
    {
        <span class="filter-title my-2">@string.Format(filterString, ResourceManager.GetString("SchoolGroup.SchoolGroup.OtherGroup"))</span>

    }
    if (key.ToLower() == "home tutor group")
    {
        <span class="filter-title my-2">@string.Format(filterString, ResourceManager.GetString("SchoolGroup.SchoolGroup.HomeTutorGroup"))</span>

    }
}

@helper LocalizeTextBox(int index, string key)
{
    var filterString = ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupFilter");

    if (key == "Class Group")
    {
        <input type="text" class=" mx-2 my-0 border-0 flex-1 font-small search-text-box" data-index="@index"
               placeholder="@string.Format(filterString, ResourceManager.GetString("SchoolGroup.SchoolGroup.ClassGroup"))">

    }
    if (key == "Other Groups")
    {
        <input type="text" class=" mx-2 my-0 border-0 flex-1 font-small search-text-box" data-index="@index"
               placeholder="@string.Format(filterString, ResourceManager.GetString("SchoolGroup.SchoolGroup.OtherGroup"))">


    }
    if (key == "Home Tutor Group")
    {
        <input type="text" class=" mx-2 my-0 border-0 flex-1 font-small search-text-box" data-index="@index"
               placeholder="@string.Format(filterString, ResourceManager.GetString("SchoolGroup.SchoolGroup.HomeTutorGroup"))">
        

    }
}

@*<div class="container-fluid mt-2 mb-4">*@
<div class="row">
    <div class="col-lg-9 col-md-8 col-12">

        <div class="row search-row mb-3">
            <div class="col-lg-12 col-md-12 col-12 flex-column flex-sm-row d-flex justify-content-end">
                <div class="search-with-bg w-100 border">
                    <span class="icon-search"></span>
                    <input id="searchUsers" type="search" class="searchfield" placeholder="@ResourceManager.GetString("StudentInformation.Student.Search")">
                </div>
                <div class="md-form md-outline sort-dropdown mb-0 ml-sm-2 ml-0 mt-sm-0 mt-2">
                    <label class="select-label">@ResourceManager.GetString("Files.Shared.SortBy").ToUpper(): </label>
                    <div class="dropdown bootstrap-select">
                        <select class="selectpicker" id="sortByContent">
                            <option value="NAME" selected>@ResourceManager.GetString("SchoolGroup.SchoolGroup.Name").ToUpper()</option>
                            <option value="ID">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Id").ToUpper()</option>
                        </select>
                        @*<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" role="button" data-id="sortByContent" title="Name"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Name</div></div> </div></button><div class="dropdown-menu " role="combobox" style="max-height: 465.5px; overflow: hidden; min-height: 0px;"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1" style="max-height: 463.5px; overflow-y: auto; min-height: 0px;"><ul class="dropdown-menu inner show"><li class="selected active"><a role="option" class="dropdown-item selected active" aria-disabled="false" tabindex="0" aria-selected="true"><span class="text">Name</span></a></li><li><a role="option" class="dropdown-item" aria-disabled="false" tabindex="0" aria-selected="false"><span class="text">Id</span></a></li></ul></div></div>*@
                    </div>
                </div>
            </div>
        </div>
        <p class="text-bold">@ResourceManager.GetString("Files.Shared.SelectStudentViewPortfolioLabel")</p>
        <div class="user-list">
            <div class="pagination-panel" id="divStudentList">
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-4 col-12">
        @{
            var strGroupFilter = ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupFilter");
            var filterGroups = schoolGroupList.GroupBy(x => x.GroupingName);
        }
        @{
            var index = 1;
        }
        <div class="row d-md-flex mb-3">
            <div class="col-12">
                <div class="card studentDetails p-3 " style="display:none">
                    @foreach (var grps in filterGroups)
                    {
                        <div class="group-filter mb-3">
                            <div class="filter-header position-relative">
                                @LocalizeGroups(grps.Key)
                                @*<span class="filter-title my-2">@string.Format(strGroupFilter, grps.Key)</span>*@
                                @*<div class="search-container">
                                        <input type="search" class="search-field custom-search">
                                        <input type="text" class="search-text-box" data-index="@index" placeholder="@string.Format(strGroupFilter, grps.Key)">
                                        <button class="close-icon"></button>
                                    </div>*@
                                <div class="filterSearch position-absolute bg-white d-flex align-items-center justify-content-between overflow-hidden rounded-4x">
                                    <button class="btn btn-transparent m-0 p-0 z-depth-0 openSearch waves-effect waves-light" type="button">
                                        <img src="~/content/vle/img/svg/search.svg">
                                    </button>
                                    @LocalizeTextBox(index, grps.Key)
                                    @*<input type="text" class=" mx-2 my-0 border-0 flex-1 font-small search-text-box" data-index="@index"
        placeholder="@string.Format(strGroupFilter, grps.Key)">*@
                                    <button class="btn btn-transparent m-0 p-0 z-depth-0 closeSearch waves-effect waves-light" type="button">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                            <ul class="filter-item-list">
                                @foreach (var grp in grps)
                                {
                                    <li class="check-item @($"grpSearchList{index}")">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="@grp.SchoolGroupId" value="@grp.SchoolGroupId" data-groupname="@grp.SchoolGroupName" name="groupFilter" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                            <label title="@grp.SchoolGroupName" class="custom-control-label text-medium pl-2" for="@grp.SchoolGroupId">
                                                @if (grp.SchoolGroupName.Length > 27)
                                                {
                                                    @grp.SchoolGroupName.Substring(0, 27)
                                                }
                                                else
                                                {
                                                    @grp.SchoolGroupName
                                                }
                                            </label>
                                        </div>
                                    </li>
                                }
                            </ul>
                            <span id="@($"grpSearchNoRecord{index}")" class="" style="display:none">@ResourceManager.GetString("Shared.Labels.NoRecords")</span>
                            <button type="button" class="more-groups d-none" data-toggle="modal" data-target="#popupForm1">+ 57 more groups</button>
                        </div>
                        index++;
                    }
                </div>
            </div>
        </div>
        <!-- filter end -->
    </div>
    <!-- right column -->
</div>
@*</div>*@

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}


@section scripts{
    <script>
        translatedResources.addNewBadges = '@ResourceManager.GetString("StudentInformation.StudentBadges.AddBadges")';
        translatedResources.badgeAssignConfirmMsg = '@ResourceManager.GetString("StudentInformation.StudentBadges.BadgeAssignConfirmMsg")';
        translatedResources.schoolGroupSelectWarning = '@ResourceManager.GetString("StudentInformation.StudentBadges.SchoolGroupSelectWarning")';
        translatedResources.studentBadgeSelectWarning = '@ResourceManager.GetString("StudentInformation.StudentBadges.StudentBadgeSelectWarning")';
       
    </script>
    <script src="@Url.Content("~/Content/js/custom/StudentInformation/StudentInformation.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>
        $(document).ready(function () {
            $('.studentDetails').hide();
            setTimeout(function () {
                $('.studentDetails').show();
            }, 5000);
        });
        $("body").on("click", ".openSearch", function () {
            $(this).parent().addClass("streched");
        });
        $("body").on("click", ".closeSearch", function () {
            $(this).parent().removeClass("streched");
        });
    </script>

}

