﻿@model IEnumerable<Phoenix.Models.Entities.ReportingTermModel>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions

<div class="list-wrapper table-responsive">
    <table class="table align-items-center table-flush" id="tbl-ReportingTerm">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="text-center">@ResourceManager.GetString("ReportingTerm.ReportingTerm.TermDescription")</th>
                <th scope="col" class="text-center">@ResourceManager.GetString("ReportingTerm.ReportingTerm.DivisionId")</th>
                <th scope="col" class="text-center">@ResourceManager.GetString("ReportingTerm.ReportingTerm.StartDate")</th>
                <th scope="col" class="text-center">@ResourceManager.GetString("ReportingTerm.ReportingTerm.EndDate")</th>
                <th scope="col" class="text-center">@ResourceManager.GetString("ReportingTerm.ReportingTerm.Action")</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @item.TermDescription
                        </td>
                        <td class="text-center">
                            @item.DivisionName
                        </td>
                        <td class="text-center">
                            @Html.Raw(item.StartDate != null ? item.StartDate.ToString("dd MMM yyyy") : "")
                        </td>
                        <td class="text-center">
                            @Html.Raw(item.EndDate != null ? item.EndDate.ToString("dd MMM yyyy") : "")
                        </td>
                        <td class="text-center">
                            <div class="tbl-actions">
                                <a class="mr-1" data-toggle="tooltip" data-placement="bottom" onclick="ReportingTerm.openReportingSubTerm(@item.ReportingTermId)" title="" data-original-title="Open Reporting Sub Term"><img src="/Content/VLE/img/svg/tbl-view.svg"></a>
                                <a class="mr-1" data-toggle="tooltip" data-placement="bottom" onclick="ReportingTerm.editReportingTermPopup(this,@item.ReportingTermId)" title="Edit record"><img src="/Content/VLE/img/svg/tbl-edit.svg"></a>
                                <a class="mr-1" data-toggle="tooltip" data-placement="bottom" onclick="ReportingTerm.deleteReportingTermDetail(@item.ReportingTermId)" title="Delete record"><img src="/Content/VLE/img/svg/tbl-delete.svg"></a>
                                <a class="mr-1" data-toggle="tooltip" data-placement="bottom" onclick='ReportingTerm.lockUnlockTerm(@item.ReportingTermId,"@Html.Raw(item.IsLock)")' title="@Html.Raw(item.IsLock ?"Unlock Term":"Lock Term")"><img src="@Html.Raw(item.IsLock ? "/Content/VLE/img/svg/tbl-lock.svg" : "/Content/VLE/img/svg/tbl-unlock.svg")"></a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
