﻿@model IEnumerable<Phoenix.Models.Entities.ReportingSubTermModel>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions

<div class="list-wrapper table-responsive">
    <table class="table align-items-center table-flush" id="tbl-ReportingSubTerm">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="text-center">@ResourceManager.GetString("ReportingTerm.ReportingSubTerm.SubTermDescription")</th>
                <th scope="col" class="text-center">@ResourceManager.GetString("ReportingTerm.ReportingSubTerm.TermDescription")</th>
                <th scope="col" class="text-center">@ResourceManager.GetString("ReportingTerm.ReportingSubTerm.StartDate")</th>
                <th scope="col" class="text-center">@ResourceManager.GetString("ReportingTerm.ReportingSubTerm.EndDate")</th>
                <th scope="col" class="text-center">@ResourceManager.GetString("ReportingTerm.ReportingSubTerm.Action")</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @item.SubTermDescription
                        </td>
                        <td class="text-center">
                            @item.TermDescription
                        </td>
                        <td class="text-center">
                            @Html.Raw(item.StartDate != null ? item.StartDate.ToString("dd MMM yyyy") : "")
                        </td>
                        <td class="text-center">
                            @Html.Raw(item.EndDate != null ? item.EndDate.ToString("dd MMM yyyy") : "")
                        </td>
                        <td class="text-center">
                            <div class="tbl-actions">
                                <a class="mr-1" data-toggle="tooltip" data-placement="bottom" onclick="ReportingSubTerm.editReportingSubTermPopup(this,@item.ReportingSubTermId)" title="Edit record"><img src="/Content/VLE/img/svg/tbl-edit.svg"></a>
                                <a class="mr-1" data-toggle="tooltip" data-placement="bottom" onclick="ReportingSubTerm.deleteReportingSubTermDetail(@item.ReportingSubTermId)" title="Delete record"><img src="/Content/VLE/img/svg/tbl-delete.svg"></a>
                                <a class="mr-1" data-toggle="tooltip" data-placement="bottom" onclick='ReportingSubTerm.lockUnlockSubTerm(@item.ReportingSubTermId,"@Html.Raw(item.IsLock)")' title="@Html.Raw(item.IsLock ?"Unlock Term":"Lock Term")"><img src="@Html.Raw(item.IsLock ? "/Content/VLE/img/svg/tbl-lock.svg" : "/Content/VLE/img/svg/tbl-unlock.svg")"></a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

