﻿
@model Phoenix.VLE.Web.EditModels.ErrorLoggerEdit
@using Phoenix.Common.Localization

@using Phoenix.Common.Helpers


<div class="modal-body">
    <div class="popup-form">

        @Html.HiddenFor(x => x.ErrorLogId)

        @if (Model.lstErrorFiles != null && Model.lstErrorFiles.Count > 0)
        {
            @*<ul class="clearfix">*@
            foreach (var item in Model.lstErrorFiles)
            {

                <div class="col-lg-4 col-md-6 col-12 mb-3">
                    <a href="#" class="file-type-image d-flex align-items-center position-relative rounded pr-4 mr-2">
                        <div class="file-img mr-2 p-3"><i class="fas fa-file-image"></i></div>
                        <h4 class="file-name text-regular m-0">@item.FileName</h4>
                        <i class="fas fa-external-link-alt preview" data-id="@EncryptDecryptHelper.EncryptUrl(item.ErrorScreenId.ToString())" href="@(PhoenixConfiguration.Instance.ReadFilePath+item.UploadedFileName)" target="_blank"></i>
                    </a>
                </div>
                @*<li class="d-flex align-items-center">

                    <label class="d-inline-block mr-2">@item.FileName</label>
                    <a data-id="@EncryptDecryptHelper.EncryptUrl(item.ErrorScreenId.ToString())" href="@(PhoenixConfiguration.Instance.ReadFilePath+item.UploadedFileName)" class="align-items-center d-flex h-100 pb-2 pt-2 text-uppercase" target="_blank">
                        <small class="align-self-center d-flex  text-bold"><i class="fas fa-download fa-2x"></i></small>
                    </a>

                </li>*@

            }
            @*</ul>*@
        }
        else
        {
                <h4>@ResourceManager.GetString("SecurityManagement.ErrorLogger.Attachment")</h4>
        }

    </div>
</div>
<div class="modal-footer">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>

    </div>
</div>


<script type="text/javascript">
    $('.date-picker').datetimepicker({
        format: 'DD-MMM-YYYY',
        minDate: new Date((new Date(new Date().setFullYear(2015)).setMonth(8))).setDate(0),
        maxDate: new Date(),
        //debug: true
    });
</script>
@Html.Partial("_ValidationJSPartial")

