﻿@model Phoenix.VLE.Web.EditModels.ErrorLoggerEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common
@{
    /**/

    ViewData["Title"] = ResourceManager.GetString("SecurityManagement.ReportAbuse.Log");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-security-management.svg");
    var rnd = DateTime.Now.Ticks.ToString();
    var ExpectedDate = Model.ReportingDate != null ? Model.ReportingDate : DateTime.Now;
}




<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card safety-categories-wrapper">
            <div class="card-body column-padding pt-3 pb-3 min-height">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">

                    </div>
                </div>



                <div class="table-wrapper">
                    <div class="row mb-3">
                        <div class="col-lg-9 col-md-9 col-9">
                            <div class="search-with-bg">
                                <i class="fa fa-search"></i>
                                <input type="search" id="SchoolSkillSetListSearch" class="searchfield" placeholder='@ResourceManager.GetString("Shared.Labels.Search")' />
                            </div>
                        </div>
                       
                    </div>
                    <table class="table table-bordered table-hover table-responsive-md" id="tbl-SchoolGoal"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.User = '@ResourceManager.GetString("Shared.ErrorLogger.User")';
        translatedResources.ErrorMessage = '@ResourceManager.GetString("Shared.ErrorLogger.ErrorMessage")';
        translatedResources.UserIpAddress = '@ResourceManager.GetString("Shared.ErrorLogger.UserIpAddress")';
        translatedResources.WebServerIpAddress = '@ResourceManager.GetString("Shared.ErrorLogger.WebServerIpAddress")';
        translatedResources.ReportingDate = '@ResourceManager.GetString("Shared.ErrorLogger.ReportingDate")';
        translatedResources.actions = '@ResourceManager.GetString("Shared.Labels.Actions")';
        translatedResources.LogFiles='@ResourceManager.GetString("Shared.ErrorLogger.LogFiles")'

    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Users/ErrorLogs.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.jsonloader.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    @*<script type="text/javascript">

            $(function () {
                $(document).on("change", "#SchoolGradeId", function () {
                    SchoolSkillSet.loadSchoolSkillSetGrid();
                    $("#tbl-SchoolSkillSet_filter").hide();
                });
            })
        </script>*@

}
