﻿
@model Phoenix.VLE.Web.EditModels.ErrorLoggerEdit
@using Phoenix.Common.Localization

    <div class="modal-body">
        <div class="popup-form">

            @Html.HiddenFor(x => x.ErrorLogId)

            @if (Model.lstErrorFiles != null)
            {
                foreach (var item in Model.lstErrorFiles)
                {
                    <li data-search-text="@item.FileName">
                        <div class="custom-control custom-checkbox ml-1">
                            @*<input type="checkbox" class="custom-control-input" id="showchecked_UnAssign_@item.AssignmentId" title="AssignedMembers" value="@item.AssignmentId">*@
                            <label class="custom-control-label to-sentence-case" for="showchecked_UnAssign_@item.ErrorLogId">@item.FileName</label>

                        </div>
                    </li>

                }
            }


        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
           
        </div>
    </div>


<script type="text/javascript">
    $('.date-picker').datetimepicker({
        format: 'DD-MMM-YYYY',
        minDate: new Date((new Date(new Date().setFullYear(2015)).setMonth(8))).setDate(0),
        maxDate: new Date(),
        //debug: true
    });
</script>
@Html.Partial("_ValidationJSPartial")

