﻿@model Phoenix.Common.Models.AssignmentCategory
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common

@using (Ajax.BeginForm("AddAssignmentCategoryMaster", "Assignment", new AjaxOptions { OnSuccess = "AssignmentCategoryConfiguration.onSaveSuccess" }, new { id = "frmAddAssignmentCategory", @class = "form-horizontal" }))
{
    <div class="modal-body">
        <div class="popup-form">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.AssigntmentCatgoryId)
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(x => x.CategoryTitle, new { @class = "form-control category-name" })
                        @Html.LocalizedLabel("active", "Assignment.Assignment.AssignmentCategoryName")
                        @Html.ValidationMessageFor(x => x.CategoryTitle, "", new { @class = "text-danger small" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
                        @Html.LocalizedLabel("active", "Assignment.Assignment.AssignmentCategoryDesc")
                        @Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @class = "text-danger small" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="mt-3">
                        <div class="custom-control custom-checkbox">
                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control-input" })
                            <label class="custom-control-label" for="IsActive">@ResourceManager.GetString("Assignment.AssignmentCategory.IsActive")</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            @if (Html.CurrentPagePermission().CanEdit)
            {
                <input type="submit" id="btnCategorySubmit" value="@ResourceManager.GetString("Shared.Buttons.Save")" class="btn btn-primary waves-effect waves-light m-0 ml-3 multilang-submit"/>
            }
        </div>
    </div>
}

@Html.Partial("_ValidationJSPartial")
