﻿@model Phoenix.VLE.Web.EditModels.AssignmentTaskEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var fileDetails = ViewBag.filedetails ?? "";
    if (!Model.IsAddMode)
    {
        if (Model.IsHideScore)
        {
            Model.ShowScoreDate = Convert.ToDateTime(Model.ShowScoreDate).ConvertUtcToLocalTime();
        }
        if (Model.IsSetTime)
        {
            string iString = Model.StartDate.Value.ToString("MM/dd/yyyy") + " " + Model.StartTime;
            Model.StartDate = Convert.ToDateTime(iString).ConvertUtcToLocalTime();
            Model.StartTime = Convert.ToDateTime(Model.StartDate).ToString("h:mm tt");
        }
    }
}
@using (Ajax.BeginForm("SaveAssignmentTask", "Assignment", new AjaxOptions { OnSuccess = "addEditAssignment.onSaveTaskSuccess" }, new { id = "frmAddTask", @class = "form-horizontal" }))
{


    @Html.AntiForgeryToken()
    @Html.HiddenFor(d => d.AssignmentId)
    @Html.HiddenFor(d => d.TaskId)
    @Html.HiddenFor(d => d.IsAddMode)
    @Html.HiddenFor(d => d.TaskTitleXml)
    @Html.HiddenFor(d => d.SortOrder)
    @Html.HiddenFor(d => d.IsTaskEdited)
    @Html.Hidden("taskSetTime", Model.IsSetTime)
    @Html.Hidden("taskHideScore", Model.IsHideScore)
    @*@Html.HiddenFor(d => d.RandomId)*@
    <input type="hidden" id="taskDetails" name="taskDetails" />
    <input type="hidden" id="taskFilesDetails" name="taskFilesDetails" value="@fileDetails" />
    <input type="hidden" id="RandomId" name="RandomId" value="@Model.RandomId" />
    <input type="hidden" id="CloudFileToTaskSaveUri" value="/Assignments/Assignment/SaveTaskCloudFiles" />
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6">
            <div class="md-form md-outline">
                @Html.TextBoxFor(d => d.TaskTitle, new { @class = "form-control" })
                @Html.LocalizedLabel("active", "Assignment.AssignmentTask.TaskTitle")
                @Html.ValidationMessageFor(x => x.TaskTitle, null, new { @class = "TaskTitleValidation" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="md-form md-outline">
                @Html.TextAreaFor(d => d.TaskDescription, new { @class = "form-control" })
                @Html.LocalizedLabel("active", "Assignment.AssignmentTask.TaskDescription")
                @Html.ValidationMessageFor(x => x.TaskDescription, null, new { @class = "TaskDescriptionValidation" })
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="md-form md-outline">
                @Html.DropDownListFor(d => d.TaskGradingTemplateId, (SelectList)ViewBag.lstGradingTemplate, selectText, new { @class = "selectpicker", @data_size = "5" })

                @*@Html.DropDownListFor(m => m.GradingTemplateId, new SelectList(ViewBag.lstGradingTemplate, "GradingTemplateId", "GradingTemplateTitle", Model.GradingTemplateId), selectText, new { @class = "form-control" })*@

                @Html.LocalizedLabel("active", "Assignment.AssignmentTask.TaskGradingTemplateId")
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            @*<div class="md-form md-outline">
                    @Html.DropDownListFor(x => x.SubjectIds, new MultiSelectList(ViewBag.SubjectList, "Value", "Text", Model.SubjectId), new { @class = "selectpicker ddlSubjects", @data_size = "5", @name = "SubjectId", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true" })
                    @Html.LocalizedLabel("active select-label", "Assignment.AssignmentTask.SubjectFilter")
                </div>*@
            <div class="md-form md-outline">
                @Html.DropDownListFor(x => x.CourseIds, new MultiSelectList(ViewBag.CourseList, "Value", "Text", Model.CourseId), new { @class = "selectpicker ddlSubject", @data_size = "5", @name = "CourseId", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true" })
                <label class="active select-label">@ResourceManager.GetString("Quiz.QuizQuestion.CourseId")</label>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="md-form md-outline">
                @Html.DropDownListFor(m => m.QuizId, new SelectList(ViewBag.QuizList, "Value", "Text"), selectText, new { @class = "selectpicker", @data_size = "5" })
                @Html.LocalizedLabel("active", "Assignment.AssignmentTask.QuizId")
                @*@Html.ValidationMessageFor(x => x.QuizId, null, new { @class = "TaskTitleValidation" })*@
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="md-form md-outline">
                @Html.TextBoxFor(x => x.TaskMarks, new { @class = "form-control" })
                @*<input type="text" class="form-control" id="txtTaskMarks">*@
                @Html.LocalizedLabel("active", "Assignment.AssignmentTask.TaskMarks")

            </div>
        </div>

    </div>
    <div class="quizControls">
        <div class="row">
            <div class="col-6">
                <div class="md-outline check-item d-flex align-items-center">
                    <div class="custom-control custom-checkbox ml-2 ">
                        @Html.CheckBoxFor(x => x.IsSetTime, new { @class = "custom-control-input" })
                        <label for="IsSetTime" class="custom-control-label">@ResourceManager.GetString("Quiz.Quiz.IsSetTime")</label>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="md-outline check-item d-flex align-items-center">
                    <div class="custom-control custom-checkbox ml-2">
                        @Html.CheckBoxFor(x => x.IsRandomQuestion, new { @class = "custom-control-input" })
                        <label for="IsRandomQuestion" class="custom-control-label">@ResourceManager.GetString("Quiz.Quiz.IsRandomQuestion")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="SetQuizTime">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="md-form md-outline">
                    @Html.TextBoxFor(x => x.QuizTime, new { @class = "form-control", @type = "number", @min = "1", @placeholder = "" + ResourceManager.GetString("Quiz.Quiz.QuizTime") + "" })
                    @Html.LocalizedLabel("active", "Quiz.Quiz.QuizTime")
                    @Html.ValidationMessageFor(x => x.QuizTime, null, new { @class = "field-validation-error validateQuizTime" })
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="md-form md-outline date-time-picker date-icon arabictxt">
                    @Html.TextBox("strStartDate", Model.StartDate, "{0:dd-MMM-yyyy}", new { @id = "QuizStartDate", @class = "form-control quizstartdate-picker date-picker", @placeholder = "" + ResourceManager.GetString("Quiz.Quiz.StartDate") + "" })
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="md-form md-outline date-time-picker time-icon">
                    @Html.TextBoxFor(x => x.StartTime, new { @class = "form-control time-picker", data_type = "timepicker", @placeholder = "" + ResourceManager.GetString("Quiz.Quiz.StartTime") + "" })
                    @Html.ValidationMessageFor(x => x.StartTime, null, new { @class = "field-validation-error validateStartTime" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12  mt-3">
                <div class="md-form md-outline ">
                    @Html.TextBoxFor(x => x.MaxSubmit, new { @class = "form-control", @type = "number", @min = "1", @max = "10", @placeholder = "" + ResourceManager.GetString("Quiz.Quiz.MaxSubmit") + "" })
                    @Html.LocalizedLabel("active", "Quiz.Quiz.MaxSubmit")
                    @Html.ValidationMessageFor(x => x.MaxSubmit, null, new { @class = "field-validation-error validateMaxSubmit" })
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 mt-3">
                <div class="md-form md-outline ">
                    @Html.TextBoxFor(x => x.QuestionPaginationRange, new { @class = "form-control", @type = "number", @min = "1", @placeholder = "" + ResourceManager.GetString("Quiz.Quiz.QuestionPaginationRange") + "" })
                    @Html.LocalizedLabel("active", "Quiz.Quiz.QuestionPaginationRange")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="md-outline check-item d-flex align-items-center">
                    <div class="custom-control custom-checkbox ml-2 ">
                        @Html.CheckBoxFor(x => x.IsHideScore, new { @class = "custom-control-input" })
                        <label for="IsHideScore" class="custom-control-label">@ResourceManager.GetString("Quiz.GroupQuiz.IsHideScore")</label>
                    </div>
                </div>
            </div>
            @if (!Model.IsAddMode && Model.IsHideScore)
            {

            }
            <div class="col-lg-6 col-md-6 col-sm-12" id="scoreDate">
                <div class="md-form md-outline date-time-picker date-icon arabictxt">
                    @Html.TextBox("strShowScoreDate", Model.ShowScoreDate, "{0:dd-MMM-yyyy}", new { @id = "QuiztShowScoreDate", @class = "form-control showscore-datepicker date-picker", @placeholder = "" + ResourceManager.GetString("Quiz.GroupQuiz.ShowScoreDate") + "" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 add-task-files">
            <ul class="pb-4 blog-action d-flex align-items-center flex-wrap justify-content-start">
                @*<li class="mr-3">
                        <button type="button" class="action-circle" data-toggle="collapse" data-target="#addLink">
                            <img src="img/svg/drive-link.svg" />
                        </button>
                        <small class="mt-2 dark-purple">Link</small>
                    </li>*@
                <li class="mr-3 bg-transparent border-0">
                    <button type="button" class="action-circle" data-toggle="collapse" data-target="#browseFiles">
                        <img class="svg" src="~/Content/vle/img/svg/browse.svg" />
                    </button>
                    <small class="mt-2 dark-purple">Browse</small>
                </li>
                <li data-toggle="tooltip" class="mr-3 bg-transparent border-0" data-placement="left" title="@ResourceManager.GetString("Files.File.OneDrive")">
                    <button type="button" href="javascript:;" class="action-circle one-drive-file cloud-file-view file-explorer" data-title="@ResourceManager.GetString("Files.File.OneDriveFiles")" data-uploadmoduletype="@((short)Phoenix.Common.Enums.FileUploadModuleType.Task)" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.OneDrive)">
                        <span><img class="svg" src="~/Content/img/svg/onedrive.svg" alt=""></span>
                    </button>
                    <small class="mt-2 dark-purple">@ResourceManager.GetString("Files.File.OneDrive")</small>
                </li>
                @if (SessionHelper.CurrentSession.GoogleDriveIntegrationType != (short)Phoenix.Common.Enums.GoogleDriveIntegrationType.None)
                {
                    <li data-toggle="tooltip" class="mr-3 bg-transparent border-0" data-placement="left" title="@ResourceManager.GetString("Files.File.GoogleDrive")">
                        <button type="button" href="javascript:;" class="action-circle google-drive-file cloud-file-view file-explorer" data-title="@ResourceManager.GetString("Files.File.GoogleDriveFiles")" data-uploadmoduletype="@((short)Phoenix.Common.Enums.FileUploadModuleType.Task)" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.GoogleDrive)">
                            <span><img class="svg" src="~/Content/img/awesome-google-drive.png" alt=""></span>
                        </button>
                        <small class="mt-2 dark-purple">@ResourceManager.GetString("Files.File.GoogleDrive")</small>
                    </li>
                }
            </ul>
            <!-- Browse files -->
            <div class="content-uploader collapse rounded-2x column-padding py-3 clearfix mb-3" id="browseFiles">
                <h3 class="text-semibold">Browse Files</h3>
                <div class="uploaderWidget text-center">
                    <input class="fileUploader" type="file" id="dropAreaTask" multiple name="dropAreaTask">
                </div>
            </div>

            <div class="column-padding py-4 attachment-list" id="divTaskFileList">
                @if (Model.lstTaskFile != null)
                {
                    @Html.Partial("_TaskFileList", Model.lstTaskFile)
                }
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" id="cancelTask" class="btn btn-outline-primary m-0 mr-2" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                    <button type="button" class="btn btn-primary m-0" id="btnSaveTask">@ResourceManager.GetString("Shared.Buttons.Save")</button>
                </div>
            </div>
        </div>
    </div>
    <hr />
}





@Html.Partial("_ValidationJSPartial")


<script type="text/javascript">
    var formValidate = true;
    var validationQuizTime = true;
    $('#scoreDate').hide();
    if ($('#taskHideScore').val() === 'True') {
        $('#scoreDate').show();
    }
    $(function () {
        formElements.feSelect();
        $('select').selectpicker({
            noneSelectedText: translatedResources.PleaseSelect
        });
        //To show back button near breadcrumb
        $("#btnBack").show();
        $(document).on('click', '#btnBack', function () {
            history.back();
        });
        $("#cancelTask").on("click", function () {
            $("." + $("#RandomId").val()).removeClass("d-none")
            $("#addEditTaskDetails").html("");
        });
        $("#dropAreaTask").fileinput({
            language:'@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()',
            title: '@ResourceManager.GetString("Shared.Labels.BrowseFile")',
            theme: "fas",
            showUpload: true,
            showCaption: false,
            showRemove: true,
            showMultipleNames: true,
            multiple: true,
            uploadUrl: "/Assignments/Assignment/UploadTaskFiles",
            uploadExtraData: function () {
                return {
                    taskFilesDetails: $("#taskFilesDetails").val(),
                };
            },
            fileActionSettings: {
                showZoom: false,
                showUpload: false,
                //indicatorNew: "",
                showDrag: false
            },
            allowedFileExtensions: @Html.Raw(Json.Encode(ViewBag.FileExtension)),
            uploadAsync: false,
            browseClass: "btn btn-outline-primary rounded z-depth-0 m-0 p-0 mt-3 btn-browse",
            removeClass: "btn btn-sm m-0 z-depth-0",
            uploadClass: "btn btn-primary rounded z-depth-0 m-0 p-0 mt-3 btn-upload",
            cancelClass: "btn btn-default float-right rounded z-depth-0 m-0 p-0 mt-3 btn-cancel",
            overwriteInitial: false,
            //previewFileIcon: '<i class="fas fa-file"></i>',
            initialPreviewAsData: false, // defaults markup
            initialPreviewConfig: [{
                frameAttr: {
                    title: 'My Custom Title',
                }
            }],
            preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
            previewFileIconSettings: fileInputControlSettings.previewFileIconSettings,
            previewSettings: fileInputControlSettings.previewSettings,
            previewFileExtSettings: fileInputControlSettings.previewFileExtSettings,
            maxFileSize: translatedResources.fileSizeAllow,
            msgSizeTooLarge: 'Total File size (<b>{size}</b>) exceeds maximum allowed upload size of <b>{maxSize}</b>. Please retry your upload!'
        }).off('filebatchselected').on('filebatchselected', function (event, files) {
            var size = 0;
            $.each(files, function (ind, val) {
                //console.log($(this).attr('size'));
                size = size + $(this).attr('size');
            });

            var maxFileSize = $(this).data().fileinput.maxFileSize,
                msg = $(this).data().fileinput.msgSizeTooLarge,
                formatSize = (s) => {
                    i = Math.floor(Math.log(s) / Math.log(1024));
                    sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
                    out = (s / Math.pow(1024, i)).toFixed(2) * 1 + ' ' + sizes[i];
                    return out;
                };

            if ((size / 1024) > maxFileSize) {
                msg = msg.replace('{name}', 'all files');
                msg = msg.replace('{size}', formatSize(size));
                msg = msg.replace('{maxSize}', formatSize(maxFileSize * 1024 /* Convert KB to Bytes */));
                //$('li[data-thumb-id="thumb-postedFile-0"]').html(msg);
                if (files.length > 1) {
                    $(".kv-fileinput-error.file-error-message").html('');
                    $(".kv-fileinput-error.file-error-message").append(`<button type="button" class="close kv-error-close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button><ul><li data-thumb-id="thumb-error" data-file-id="thumb-error">`+ msg + `</li></ul>`).attr("style", "");
                    $(".close.kv-error-close").on('click', function (e) {
                        $(".kv-fileinput-error.file-error-message").attr("style", "display:none").html('');
                        //$(".fileinput-upload").removeClass('d-none');
                    });
                }
                else {
                    $(".kv-fileinput-error.file-error-message").html('');
                    $(".kv-fileinput-error.file-error-message").append(`<button type="button" class="close kv-error-close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button><ul><li data-thumb-id="thumb-error" data-file-id="thumb-error">`+ msg + `</li></ul>`).attr("style", "");
                    $(".close.kv-error-close").on('click', function (e) {
                        $(".kv-fileinput-error.file-error-message").attr("style", "display:none").html('');
                        //$(".fileinput-upload").removeClass('d-none');
                    });
                }

                $(".fileinput-upload").attr('disabled', true);
            }
            }).off('filebatchuploadsuccess').on('filebatchuploadsuccess', function (event, data) {
             $('#dropAreaTask').fileinput('clear');
            $("#taskFilesDetails").val(JSON.stringify(data.response.filenames));
            $("#divTaskFileList").html(data.response.content);
            globalFunctions.showSuccessMessage('@ResourceManager.GetString("Shared.Messages.FileUploaded")');
        });


            @*on('fileuploaded', function (event, data, previewId, index) {
            // alert(JSON.stringify(data));
            $('#dropAreaTask').fileinput('clear');
            $("#taskFilesDetails").val(JSON.stringify(data.response.filenames));
            $("#divTaskFileList").html(data.response.content);
            globalFunctions.showSuccessMessage('@ResourceManager.GetString("Shared.Messages.FileUploaded")');*@

        //});
        if ($('#taskSetTime').val() === 'True') {
            $('.quizControls').show();
            $('#SetQuizTime').show();
            //$('#QuizStartDate').val($('#StartDate').val());
        } else {
            $('.quizControls').hide();
            $('#SetQuizTime').hide();
        }

        if ($("#QuizId").val() != "") {
            $('.quizControls').show();
            if ($('#taskSetTime').val() === 'True') {
                $('#SetQuizTime').show();
            } else {
                $('#SetQuizTime').hide();
            }
        }

        $('.selectpicker').selectpicker({});
        var nowTemp = new Date();
        var minDateData = new Date(nowTemp.getFullYear(), (nowTemp.getMonth()), nowTemp.getDate(), 0, 0, 0, 0);
        var minTime = moment();
        $('.showscore-datepicker').datetimepicker({
            format: 'DD-MMM-YYYY',
            useCurrent: false,
            minDate: minDateData,
            locale: translatedResources.locale
        });
        $('.quizstartdate-picker').datetimepicker({
            format: 'DD-MMM-YYYY',
            minDate: minDateData,
            locale: translatedResources.locale
        }).on('dp.change', function (e) {
            $('#QuiztShowScoreDate').val('');
            $('.showscore-datepicker').data("DateTimePicker").minDate(e.date);
            if (e.date._d.getDate() == nowTemp.getDate() && e.date._d.getMonth() == nowTemp.getMonth() && e.date._d.getFullYear() == nowTemp.getFullYear()) {
                if ($('#StartTime').val() != '') {
                    var startTime = new Date();
                    var currentDate = moment().format('DD-MMM-YYYY');
                    if (($('#QuizStartDate').val() == '')) return;

                    //var strStartTime = $('#StartTime').val();
                    if (globalFunctions.toSystemReadableDate($('#QuizStartDate').val()) == currentDate) {
                        var strEndTime = globalFunctions.toSystemReadableTime( $('#StartTime').val());
                        var endTime = new Date(startTime);
                        endTime = endTime.setHours(GetHours(strEndTime), GetMinutes(strEndTime), 0);

                        if (startTime > endTime) {
                            //globalFunctions.showWarningMessage(translatedResources.TimeValidation);
                            validationQuizTime = false;
                            return false;
                        }
                        else {
                            validationQuizTime = true;
                            return true;
                        }
                    }
                    function GetHours(d) {
                        var h = parseInt(d.split(':')[0]);
                        if (d.split(':')[1].split(' ')[1] == "PM" && h != 12) {
                            h = h + 12;
                        }
                        return h;
                    }
                    function GetMinutes(d) {
                        return parseInt(d.split(':')[1].split(' ')[0]);
                    }
                }
            }
            else {
                //  $('.time-picker').data("DateTimePicker").minDate(null);
                validationQuizTime = true;
            }
        });
        $('.time-picker').datetimepicker({
            format: 'LT',
            locale: translatedResources.locale
            //,
            //minDate: minTime
        }).on('dp.change', function (ev) {
            var startTime = new Date();
            var currentDate = moment().format('DD-MMM-YYYY');
            if (($('#QuizStartDate').val() == '')) return;

            //var strStartTime = $('#StartTime').val();
            if (globalFunctions.toSystemReadableDate($('#QuizStartDate').val()) == currentDate) {
                var strEndTime = globalFunctions.toSystemReadableTime($('#StartTime').val());
                var endTime = new Date(startTime);
                endTime = endTime.setHours(GetHours(strEndTime), GetMinutes(strEndTime), 0);

                if (startTime > endTime) {
                    //globalFunctions.showWarningMessage(translatedResources.TimeValidation);
                    formValidate = false;
                    validationQuizTime = false;
                    return false;
                }
                else {
                    formValidate = true;
                    validationQuizTime = true;
                    return true;
                }
            }
            function GetHours(d) {
                var h = parseInt(d.split(':')[0]);
                if (d.split(':')[1].split(' ')[1] == "PM" && h != 12) {
                    h = h + 12;
                }
                return h;
            }
            function GetMinutes(d) {
                return parseInt(d.split(':')[1].split(' ')[0]);
            }
        }).data("DateTimePicker");
        var pagingValue = $('#QuestionPaginationRange').val();
        if (pagingValue == 0) {
            $('#QuestionPaginationRange').val('');
        }
        globalFunctions.enableCascadedDropdownList("CourseIds", "QuizId", '/Files/Files/GetQuizByCourse');
        $('#IsSetTime').change(function () {
            $('#QuiztShowScoreDate').val('');
        if (parseInt($('#MaxSubmit').val()) > 1) {
            globalFunctions.showWarningMessage('@ResourceManager.GetString("Quiz.Quiz.MaxSubmitValidation")')
            $("#IsSetTime").prop('checked', false);
        }
        else {
            $('#QuizTime').val(1);
            $('#QuizStartDate').val('');
            $('#StartTime').val('');
            $(".validateStartTime").html("");
            validationQuizTime = true;
        }
        });
        $('#IsHideScore').change(function () {
            if ($("#IsHideScore").is(":checked")) {
                $('#scoreDate').show();

            }
            else {
                $('#QuiztShowScoreDate').val('');
                $('#scoreDate').hide();
            }
        });
        $('#MaxSubmit').change(function () {
            if ($(this).val() > 1) {
                $('#chkQuizTime').fadeOut('slow');
                $('#SetQuizTime').fadeOut('slow');
                $("#IsSetTime").prop("checked", false);
                $("#QuizTime").val(1)
            }
            else {
                $('#chkQuizTime').fadeIn('slow');
                if ($("#IsSetTime").is(":checked")) { $('#SetQuizTime').show(); }
            }


        });
        $('#IsSetTime').change(function () {
            if (this.checked)
                $('#SetQuizTime').fadeIn('slow');
            else
                $('#SetQuizTime').fadeOut('slow');
        });
        $('#QuizId').change(function () {
            if ($(this).val() === '')
                $('.quizControls').fadeOut('slow');
            else
                $('.quizControls').fadeIn('slow');
        });
    });
</script>
