﻿@model Phoenix.Models.Assignment
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@{
    /**/

    var rnd = DateTime.Now.Ticks.ToString();
}
<div class="teachers-new-assignment">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">

            <div class="card">
                <div class="card-body min-height">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                    @*<h3 class="card-title">@ResourceManager.GetString("Assignment.Assignment.ArchiveAssignment")</h3>*@
                                    <div class="pt-3 pb-3 column-padding">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <h3 class="card-title">@ResourceManager.GetString("Assignment.Assignment.ActiveAssignment")</h3>
                                                <div class="row mb-2">
                                                    <div class="col-lg-12 col-md-12 col-12 task-search border-0 pb-2">
                                                        <div class="search-with-bg">
                                                            <span class="icon-search"></span>
                                                            <input type="search" id="availableMemberSearch" class="searchfield" placeholder="@ResourceManager.GetString("Assignment.Assignment.SearchAssignment")">
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<div class="row mb-2">
                                                        <div class="col-lg-12 col-md-12 col-12 task-search border-0">
                                                            <div class="search-wrapper border">
                                                                <i class="fas fa-search active"></i>
                                                                <input type="text" id="availableMemberSearch" class="search-field" placeholder="@ResourceManager.GetString("Assignment.Assignment.SearchAssignment")">
                                                            </div>
                                                        </div>
                                                    </div>*@

                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <div class="border rounded column-padding pt-2 pb-3">
                                                            @*<div class="custom-control custom-checkbox ml-1 pb-2">
                                                                    <input type="checkbox" class="custom-control-input" id="selectAllUnassigned" title="SelectAll" value="SelectAll" />
                                                                    <label class="custom-control-label to-sentence-case" for="selectAllUnassigned">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SelectAll")</label>
                                                                </div>*@
                                                            <div class="delegates-wrapper overflow-auto pr-2" style="height:250px;">
                                                                <div id="activeAssignmentList">
                                                                    @Html.Partial("_GetActiveAssignments", Model.lstActiveAssignments)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        @if (Html.CurrentPagePermission().CanEdit && (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin))
                                                        {
                                                            <button class="btn btn-primary m-0 waves-effect waves-light" id="btnViewOnly" onclick="archiveActiveAssignments()">@ResourceManager.GetString("Assignment.Assignment.Archive")<i class="fas fa-recycle ml-2"></i></button>

                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <h3 class="card-title">@ResourceManager.GetString("Assignment.Assignment.ArchivedAssignments")</h3>
                                                @*<div class="row mb-2">
            <div class="col-lg-12 col-md-12 col-12 task-search border-0">
                <div class="search-wrapper border">
                    <i class="fas fa-search active"></i>
                    <input type="text" id="groupMemberSearch" class="search-field" placeholder="@ResourceManager.GetString("Assignment.Assignment.SearchAssignment")">
                </div>
            </div>
        </div>*@
                                                <div class="row mb-2">
                                                    <div class="col-lg-12 col-md-12 col-12 task-search border-0 pb-2">
                                                        <div class="search-with-bg">
                                                            <span class="icon-search"></span>
                                                            <input type="search" id="groupMemberSearch" class="searchfield" placeholder="@ResourceManager.GetString("Assignment.Assignment.SearchAssignment")">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <div class="border rounded column-padding pt-2 pb-3">
                                                            @*<div class="custom-control custom-checkbox ml-1 pb-2">
                        <input type="checkbox" class="custom-control-input" id="selectAllAssigned" title="SelectAll" value="SelectAll" />
                        <label class="custom-control-label to-sentence-case" for="selectAllAssigned">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SelectAll")</label>
                    </div>*@
                                                            <div class="delegates-wrapper overflow-auto pr-2" style="height:250px;">
                                                                <div id="archiveAssignmentList">
                                                                    @Html.Partial("_GetArchiveAssignments", Model.lstArchiveAssignments)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (SessionHelper.CurrentSession.IsAdmin)
                                                {
                                                    <div class="row mt-2">
                                                        <div class="col-lg-12 col-md-12 col-12">
                                                            @if (SessionHelper.CurrentSession.IsAdmin)
                                                            {
                                                                <button class="btn btn-primary m-0 waves-effect waves-light"  id="btnRetreiveAssignments" onclick="retreiveArchivedAssignments(this)"><i class="fas fa-sync ml-2"></i> @ResourceManager.GetString("Assignment.Assignment.Unarchive")</button>

                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

















