﻿@model List<Phoenix.Models.AssignmentFeedbackFiles>
@using Phoenix.Common.Helpers
@using Phoenix.VLE.Web.Helpers
@using Phoenix.Common.Localization
@{
    //Model.CheckAssignmentTaskFeedbackNameExtension();
    var imageList = Model.AddImageVideoFiles();
    var otherFileList = Model.AddNonMediaFiles();
    //var isCheckStudentQuiz = Session["StudentId"] == null?false: Convert.ToInt32(EncryptDecryptHelper.DecryptUrl(Request.QueryString["studentId"].ToString())) == 0 ? false : true;

    //var isAssignmentArchived = Session["IsArchived"] != null ? Convert.ToBoolean(Session["IsArchived"].ToString()) : false;
}

<div id="collapseTwo1" class="collapse show" role="tabpanel" aria-labelledby="headingTwo1" data-parent="#accordionEx1">
    <div class="column-padding py-3 attachment-list link-cards rounded-2x">
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 questionFilesLightgallery lightgallery_quiz" id="lightgallery">
            @foreach (var item in imageList)
            {
                var filePath = PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName;
                <div class="col px-2">
                    <div class="card overflow-hidden rounded-2x">
                        @{
                            if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.FileName))
                            {
                                <a href="@filePath" class="attachedFile overflow-hidden d-flex align-items-center justify-content-center galleryImg" data-sub-html="Lorem ipsum" data-toggle="tooltip" title="Uploaded On: @item.CreatedOn.ToString("dd-MMM-yyyy hh:mm tt")">
                                    <img class="card-img-top" src="@filePath" alt="@item.FileName">
                                </a>
                            }
                            else if (Phoenix.Common.Helpers.CommonHelper.CheckVideoExtension(item.FileName))
                            {
                                <span class="video galleryImg" data-html="#@item.AssignmentFeedbackFileId" data-poster="@Constants.DefaultVideoImage">
                                    <a href="javascript:void(0)" class="attachedFile overflow-hidden d-flex align-items-center justify-content-center galleryImg">
                                        <img src="@Constants.DefaultVideoImage" class="img-fluid">
                                    </a>
                                </span>
                                <div style="display:none;" id="@item.AssignmentFeedbackFileId">
                                    <video class="lg-video-object lg-html5" controls="" preload="none">
                                        <source src="@filePath" type="video/mp4">
                                        @ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")
                                    </video>
                                </div>
                            }
                        }
                        <div class="card-body position-relative">
                            <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                @item.FileName
                            </h4>
                            <a data-id="@EncryptDecryptHelper.EncryptUrl(filePath)" href="@(filePath)" target="_blank" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle" data-toggle="tooltip" data-placement="top" title="Download">
                                <img src="/Content/VLE/img/svg/ic-download.svg" alt="" class="svg">
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-6">
            @foreach (var item in otherFileList)
            {
                if (!item.FileName.ToLower().Contains(".wav"))
                {
                    var filePath = PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName;
                    var fileResources = Phoenix.Common.Helpers.CommonHelper.GetFileResources(item.FileName);
                    <div class="col px-2 row-cols-md-2 row-cols-lg-2">
                        <div class="card rounded-2x overflow-hidden">                          
                            <a class="attachedFile overflow-hidden d-flex align-items-center justify-content-center @fileResources.Item2" data-id="@EncryptDecryptHelper.EncryptUrl(filePath)" href="@(filePath)" target="_blank" data-toggle="tooltip" title="Uploaded On: @item.CreatedOn.ToString("dd-MMM-yyyy hh:mm tt")">
                                <i class="@fileResources.Item1" />
                            </a>
                            <div class="card-body position-relative">
                                <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                    @item.FileName
                                </h4>
                                <a data-id="@EncryptDecryptHelper.EncryptUrl(filePath)" href="@(filePath)" target="_blank" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle" data-toggle="tooltip" data-placement="top" title="Download">
                                    <img src="/Content/VLE/img/svg/ic-download.svg" alt="" class="svg">
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
@section scripts{
    <script>

        $('.lightgallery_quiz').lightGallery({
            selector: '.galleryImg',
            share: false
        });
    </script>
 }

 


    @*-------------------------------- OLD IMPLEMENTATION ------------------------------------*@
    @*<div class="col-lg-12 col-md-12 col-12">
            <div id="lightgallery" class="quizQuestionFileLightGallery row">
                @foreach (var item in imageList)
                {
                    var filePath = PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName;
                    <div class="item col-xl-2 col-lg-3 col-md-3 col-6">
                        <div class="library-content clearfix">
                            <div class="item-icon item-img">
                                @{
                                    if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.FileName))
                                    {
                                        <a href="@filePath" class="galleryImg" data-sub-html="@item.FileName">
                                            <img src="@filePath" class="img-fluid">
                                        </a>
                                    }
                                    else if (Phoenix.Common.Helpers.CommonHelper.CheckVideoExtension(item.FileName))
                                    {
                                        <span class="video galleryImg" data-html="#@item.AssignmentFeedbackFileId" data-poster="@Constants.DefaultVideoImage">
                                            <a href="">
                                                <img src="@Constants.DefaultVideoImage" class="img-fluid">
                                            </a>
                                        </span>
                                        <div style="display:none;" id="@item.AssignmentFeedbackFileId">
                                            <video class="lg-video-object lg-html5" controls="" preload="none">
                                                <source src="@filePath" type="video/mp4">
                                                @ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")
                                            </video>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="caption">
                                <p>@item.FileName</p>
                                <div class="quick-nav dropleft">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu has-list-group animate slideIn p-0 border-0">
                                        <ul class="list-group list-group-horizontal text-center align-items-center">
                                            <li class="list-group-item p-0 align-self-stretch">
                                                <a data-id="@EncryptDecryptHelper.EncryptUrl(filePath)" href="@(filePath)" class="dropdown-item" target="_blank">
                                                    <small class="align-self-center d-flex  text-bold"><i class="fas fa-download fa-2x"></i></small>
                                                </a>
                                            </li>
                                            @if (Html.CurrentPagePermission().CanEdit && SessionHelper.CurrentSession.IsTeacher())
                                            {

                                                <li class="list-group-item p-0 align-self-stretch">
                                                    <a class="dropdown-item" id="DeleteAssignmentTaskFile" data-QuizQuestionId="@item.AssignmentStudentId" data-FileId="@item.AssignmentFeedbackFileId" data-uploadedPath="@item.UploadedFileName" data-fileName="@item.FileName">
                                                        <small class="align-self-center d-flex  text-bold"><i class="fas fa-trash fa-2x"></i></small>
                                                    </a>
                                                </li>
                                            }

                                            <li class="list-group-item p-0 align-self-stretch">
                                                <a class="dropdown-item" id="ViewAssignmentTaskFile" data-assignmentId="@item.AssignmentStudentId" data-id="@EncryptDecryptHelper.EncryptUrl(item.AssignmentFeedbackFileId)" data-uploadedPath="@EncryptDecryptHelper.EncryptUrl(item.UploadedFileName)" data-fileName="@EncryptDecryptHelper.EncryptUrl(item.FileName)" data-studentFilePath="@EncryptDecryptHelper.EncryptUrl(item.UploadedFileName)">
                                                    <small class="align-self-center d-flex  text-bold"><i class="fas fa-eye fa-2x"></i></small>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>

        @foreach (var item in otherFileList)
        {
            if (!item.FileName.ToLower().Contains(".wav"))
            {
                var filePath = PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName;
                <div class="item col-xl-2 col-lg-3 col-md-3 col-6">
                    <div class="library-content clearfix">
                        <div class="item-icon">
                            <a id="ViewAssignmentTaskFile" data-assignmentId="@item.AssignmentStudentId" data-id="@EncryptDecryptHelper.EncryptUrl(item.AssignmentFeedbackFileId)" data-uploadedPath="@item.UploadedFileName" data-fileName="@EncryptDecryptHelper.EncryptUrl(item.FileName)">
                                @if (item.FileName.ToLower().Contains(".pdf"))
                                {
                                    <i class="fas fa-file-pdf ic-file-pdf">
                                    </i>
                                }
                                else if (item.FileName.ToLower().Contains(".xls") || item.FileName.Contains(".xlsx"))
                                {
                                    <i class="fas fa-file-excel ic-file-excel"></i>
                                }
                                else if (item.FileName.ToLower().Contains(".doc") || item.FileName.Contains(".docx"))
                                {
                                    <i class="fas fa-file-word ic-file-word"></i>
                                }
                                else if (item.FileName.ToLower().Contains(".mp3"))
                                {
                                    <i class="fas fa-file-audio"></i>
                                }
                                else if (item.FileName.ToLower().Contains(".ppt"))
                                {
                                    <i class="fas fa-file-powerpoint ic-file-ppt"></i>
                                }
                                else
                                {
                                    <i class="fas fa-file-alt ic-file"> </i>
                                }

                            </a>
                        </div>
                        <div class="caption">
                            <p>@item.FileName</p>
                            <div class="quick-nav dropleft">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                    <i class="fas fa-ellipsis-v"></i>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu has-list-group animate slideIn p-0 border-0">
                                    <ul class="list-group list-group-horizontal text-center align-items-center">
                                        <li class="list-group-item p-0 align-self-stretch">
                                            <a data-id="@EncryptDecryptHelper.EncryptUrl(filePath)" href="@(filePath)" class="dropdown-item" target="_blank">
                                                <small class="align-self-center d-flex  text-bold"><i class="fas fa-download fa-2x"></i></small>
                                            </a>
                                        </li>
                                        @if (Html.CurrentPagePermission().CanEdit && SessionHelper.CurrentSession.IsTeacher())
                                        {
                                            <li class="list-group-item p-0 align-self-stretch">
                                                <a class="dropdown-item" id="DeleteAssignmentTaskFile" data-QuizQuestionId="@item.AssignmentStudentId" data-FileId="@item.AssignmentFeedbackFileId" data-uploadedPath="@item.UploadedFileName" data-fileName="@item.FileName">
                                                    <small class="align-self-center d-flex  text-bold"><i class="fas fa-trash fa-2x"></i></small>
                                                </a>
                                            </li>
                                        }

                                        <li class="list-group-item p-0 align-self-stretch">
                                            <a class="dropdown-item" id="ViewAssignmentTaskFile" data-assignmentId="@item.AssignmentStudentId" data-id="@EncryptDecryptHelper.EncryptUrl(item.AssignmentFeedbackFileId)" data-uploadedPath="@EncryptDecryptHelper.EncryptUrl(item.UploadedFileName)" data-fileName="@EncryptDecryptHelper.EncryptUrl(item.FileName)" data-studentFilePath="@EncryptDecryptHelper.EncryptUrl(item.UploadedFileName)">
                                                <small class="align-self-center d-flex  text-bold"><i class="fas fa-eye fa-2x"></i></small>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        }*@

