﻿@model List<Phoenix.Models.AssignmentFile>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Localization

@{
    /**/

    var imageList = Model.AddImageVideoFiles();
    var otherFileList = Model.AddNonMediaFiles();

    var isAssignmentArchived = Session["IsArchived"] != null ? Convert.ToBoolean(Session["IsArchived"].ToString()) : false;
}

@if (Model.Count > 0)
{
    <div class="row row-cols-4 row-cols-sm-4 row-cols-md-3 row-cols-lg-6" id="lightgallery">
        @foreach (var item in imageList)
        {
            var fileResources = CommonHelper.GetFileResources(item.FileName);
            string filePath = "";
            if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
            {
                filePath = item.ResourceFileTypeId == 0 ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName);
            }
            else
            {
                filePath = item.ResourceFileTypeId == 0 ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : item.UploadedFileName;
            }
            <div class="col px-2">
                <div class="card overflow-hidden rounded-2x">
                    @{
                        if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.FileName))
                        {
                            <a href="@filePath" target="_blank" class="@fileResources.Item2 attachedFile overflow-hidden d-flex align-items-center justify-content-center" data-toggle="tooltip" title="Uploaded On: @item.UploadedOn.ToString("dd-MMM-yyyy hh:mm tt")" data-sub-html="Lorem ipsum">
                                <i class="@fileResources.Item1"></i>
                            </a>
                        }
                        else if (Phoenix.Common.Helpers.CommonHelper.CheckVideoExtension(item.FileName))
                        {
                            <span class="video" data-html="#@item.AssignmentFileId" data-poster="@Constants.DefaultVideoImage">
                                <a href="@filePath" target="_blank" class="@fileResources.Item2 attachedFile overflow-hidden d-flex align-items-center justify-content-center">
                                    <i class="@fileResources.Item1"></i>
                                </a>
                            </span>
                            <div style="display:none;" id="@item.AssignmentFileId">
                                <video class="lg-video-object lg-html5" controls="" preload="none">
                                    <source src="@filePath" type="video/mp4">
                                    @ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")
                                </video>
                            </div>
                        }
                    }
                    <div class="card-body position-relative">
                        <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                            @item.FileName
                        </h4>
                        @if ((Html.CurrentPagePermission().CanEdit && SessionHelper.CurrentSession.IsTeacher()) || SessionHelper.CurrentSession.IsAdmin)
                        {
                            <a href="javascript:void(0)" id="ahrefDeleteFiles" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle DeleteAssignmentFiles" data-assignmentId="@item.AssignmentId" data-FileId="@item.AssignmentFileId" data-uploadedPath="@item.UploadedFileName" data-fileName="@item.FileName"><i class="far fa-trash-alt"></i></a>
                        }
                    </div>

                </div>
            </div>
        }
    </div>
    <div class="row row-cols-4 row-cols-sm-4 row-cols-md-3 row-cols-lg-6">
        @foreach (var item in otherFileList)
        {
            var fileResources = CommonHelper.GetFileResources(item.FileName);
            if (!item.FileName.ToLower().Contains(".wav"))
            {
                string filePath = "";
                if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                {
                    filePath = item.ResourceFileTypeId == 0 ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName);
                }
                else
                {
                    filePath = item.ResourceFileTypeId == 0 ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : item.UploadedFileName;
                }

                <div class="col px-2">
                    <div class="card rounded-2x overflow-hidden">
                        <a href="@filePath" target="_blank" class="@fileResources.Item2 attachedFile overflow-hidden d-flex align-items-center justify-content-center @CommonHelper.GetFileClass(item.FileName)" data-toggle="tooltip" title="Uploaded On: @item.UploadedOn.ToString("dd-MMM-yyyy hh:mm tt")" id="ViewAssignmentFile" data-assignmentId="@item.AssignmentId" data-id="@EncryptDecryptHelper.EncryptUrl(item.AssignmentFileId)" data-uploadedPath="@item.UploadedFileName" data-fileName="@EncryptDecryptHelper.EncryptUrl(item.FileName)">
                            <i class="@fileResources.Item1"></i>
                        </a>
                        <div class="card-body position-relative">
                            <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                @item.FileName
                            </h4>
                            @if ((Html.CurrentPagePermission().CanEdit && SessionHelper.CurrentSession.IsTeacher()) || SessionHelper.CurrentSession.IsAdmin)
                            {
                                <a href="javascript:void(0)" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle DeleteAssignmentFiles" id="ahrefDeleteFiles" data-resourcefiletype="@item.ResourceFileTypeId" data-assignmentId="@item.AssignmentId" data-FileId="@item.AssignmentFileId" data-uploadedPath="@item.UploadedFileName" data-fileName="@item.FileName"><i class="far fa-trash-alt"></i></a>
                            }

                        </div>

                    </div>
                </div>
            }
        }
    </div>
}
else
{
    <div class="col-12">
        <span class="no-data-found text-bold d-block mx-auto my-5">
            @ResourceManager.GetString("Shared.Labels.NoRecords")
        </span>
    </div>
}
