﻿@model Phoenix.VLE.Web.EditModels.AssignmentEdit
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@{
    var rnd = DateTime.Now.Ticks.ToString();
    var assignmentType = Session["AssignmentType"] != null ? Convert.ToString(Session["AssignmentType"]) : "";
    //var isAdmin = (SessionHelper.CurrentSession.IsAdmin == true) ? "none" : "inline-block";
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    string SelectAll = ResourceManager.GetString("Shared.Labels.SelectAll");
    string DeSelectAll = ResourceManager.GetString("Shared.Labels.DeSelectAll");
}

<link href="~/Content/css/jquery.loadMore.css" rel="stylesheet" />
<style>
    .search-row .sort-dropdown.sort-large-dropdown .bootstrap-select .dropdown-toggle {
        padding-left: 8.5rem;
    }

    @@media (min-width: 768px) {
        .search-row .sort-dropdown.sort-large-dropdown {
            width: 30%;
        }
    }

    @@media (min-width: 1200px) {
        .search-with-bg.assignment-search.assignment-search-wrap {
            max-width: 35%;
        }
    }

    ._loadMore-click {
        width: 100%;
    }

    @@media (max-width: 991px) {
        .allopt-dropdown .bootstrap-select .dropdown-menu.show {
            min-width: 100% !important;
            width: 100% !important;
        }
    }
</style>
<div class="clearfix position-relative teacher-assignment tabPanels">
    @Html.Hidden("hdnAssignmentType", assignmentType)
    @*<div class="row">
            <div class="col-12 text-left">
                <button type="button" data-id=" " onclick="assignmentDashboard.initAddEditAassignmentForm(this)" class="btn btn-primary m-0">@Res</button>
            </div>
        </div>*@
    @*@if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
        {*@
    <ul class="nav nav-tabs defaultTabs" id="myTab1" role="tablist">
        <li class="nav-item">
            <a id="btnLoadActiveAssignment" class="nav-link active text-semibold" data-toggle="tab" href="#activeAssignment" role="tab">
                @ResourceManager.GetString("Assignment.Assignment.ActiveAssignment")
            </a>
        </li>
        <li class="nav-item">
            <a id="btnArchiveAssignment" class="nav-link text-semibold" data-toggle="tab" href="#archiveAssignment" role="tab">
                @ResourceManager.GetString("Assignment.Assignment.ArchiveAssignmentTitle")
            </a>
        </li>
        <li class="nav-item">
            <a id="pills-SelectedStudent-tab" class="nav-link text-semibold" data-toggle="tab" href="#selectedStudent" role="tab" aria-selected="true">
                @ResourceManager.GetString("Assignment.Assignment.ArchiveList")
            </a>
        </li>
    </ul>
    @*}*@
    <div id="createSearchAssignmentId">
        <div class="row search-row justify-content-end mt-3 mb-2">
            <div class="col-12 col-lg-12 col-xl-12 d-md-flex justify-content-end flex-md-wrap flex-xl-nowrap">
                <div class="search-with-bg border assignment-search assignment-search-wrap mb-2 mb-xl-0 ml-0 mr-md-3">
                    <span class="icon-search"></span>
                    <input type="search" class="searchfield" id="txtAssignmentSearch" placeholder="@ResourceManager.GetString("Assignment.Assignment.SearchAssignment")">
                </div>
                @*<div class="mb-2 mb-xl-0 md-form md-outline sort-dropdown sort-large-dropdown allopt-dropdown">
                        <label class="select-label active">@ResourceManager.GetString("Shared.Labels.FilterGroupBy") : </label>
                        @Html.DropDownListFor(x => x.SchoolGroupIds, ViewBag.lstSchoolGroup as List<SelectListItem>, new { @class = "selectpicker ddlSchoolGroup", @name = "SchoolGroupId", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true", @title = selectText })
                    </div>*@
                <div class="mb-2 mb-xl-0 md-form md-outline ml-0 ml-md-3 sort-dropdown assignment-group-filter">
                    <label class="select-label">@ResourceManager.GetString("Shared.Labels.FilterGroupBy") :</label>
                    <select class="selectpicker" id="SchoolGroupIds" multiple data-selected-text-format="count > 1" title="@ResourceManager.GetString("Shared.Labels.Select")">
                        @foreach (var item in ViewBag.lstSchoolGroup as List<SelectListItem>)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
                <div class="mb-2 mb-xl-0 md-form md-outline ml-0 ml-md-3 sort-dropdown">
                    <label class="select-label">@ResourceManager.GetString("Shared.Labels.SortBy") : </label>
                    <select class="selectpicker" id="ddlAssignmentSort">
                        <option value="Date" selected>@ResourceManager.GetString("Shared.Labels.Date")</option>
                        <option value="Name">@ResourceManager.GetString("Shared.Labels.Name")</option>
                        <option value="Status">@ResourceManager.GetString("Shared.Labels.Status")</option>
                    </select>
                </div>
                <button type="button" id="btnCreateAssignment" data-id=" " onclick="assignmentDashboard.initAddEditAassignmentForm(this)" class="btn btn-primary m-0 ml-0 ml-sm-3 rounded-6x waves-effect waves-light"><i class="fas fa-plus mr-2"></i>@ResourceManager.GetString("Assignment.Assignment.AddAssignment")</button>
            </div>
        </div>
    </div>


    <div class="tab-pane fade active show" id="activeAssignment" role="tabpanel">
        <div id="TeacherAssignment">
            <div class="row assignment-list" id="activeAssignmentpages">

            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="archiveAssignment" role="tabpanel">

        <div id="ArchivedAssignment" class="pagination-panel">
            <div class="row assignment-list" id="ArchiveAssignments">

            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="selectedStudent" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div id="lstSelectedStudents" class="pagination-panel">

        </div>
    </div>

</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{
    <script type="text/javascript">
        translatedResources.ShowingPages = '@ResourceManager.GetString("Shared.Labels.ShowingPages")';
        translatedResources.Previous = '@ResourceManager.GetString("Shared.Buttons.Previous")';
        translatedResources.Next = '@ResourceManager.GetString("Shared.Buttons.Next")';
        translatedResources.SelectAssignmentToArchive = '@ResourceManager.GetString("Assignment.AssignmentMessages.SelectAssignmentToArchive")';
        translatedResources.BrowseFile = '@ResourceManager.GetString("Shared.Labels.BrowseFile")';
        translatedResources.TotalFiles = '@ResourceManager.GetString("Shared.Labels.TotalFiles")';
        translatedResources.LoadMore = '@ResourceManager.GetString("Shared.Buttons.LoadMore")';
        $("#SchoolGroupIds").parent().find("button:button.actions-btn.bs-select-all").text("@SelectAll");
        $("#SchoolGroupIds").parent().find("button:button.actions-btn.bs-deselect-all").text("@DeSelectAll")
    </script>
    <script src="@Url.Content("~/Content/js/jquery.loadMore.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    @if (SessionHelper.CurrentSession.IsStudent())
    {
        <script src="@Url.Content("~/Content/js/custom/Assignment/StudentAssignmentDashboard.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    }
    else
    {
        <script src="@Url.Content("~/Content/js/custom/Assignment/AssignmentDashboard.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
        <script src="@Url.Content("~/Content/js/custom/Assignment/ArchivedAssignmentDashboard.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    }

}
