﻿@using Phoenix.Common.Localization
@model List<Phoenix.Models.AssignmentFile>
<div class="column-padding py-4 attachment-list" id="attachmentslist">
    @if (Model.Count > 0)
    {
        @Html.Partial("_AssignmentFilelist", Model);
    }


   
</div>