﻿@using Phoenix.Models
@using Phoenix.Common.Helpers
@model List<Assignment>
<ul id="activeAssignment">

    @foreach (var item in Model)
    {
        <li data-search-text="@item.AssignmentTitle">
            <div class="custom-control custom-checkbox ml-1">
                <input type="checkbox" class="custom-control-input" id="showchecked_UnAssign_@item.AssignmentId" title="AssignedMembers" value="@item.AssignmentId">
                <label class="custom-control-label to-sentence-case" for="showchecked_UnAssign_@item.AssignmentId">@item.AssignmentTitle</label>
                <a id="btnViewAssignment" href="/Assignments/Assignment/GetAssignmentStudentDetailsByAssgnmtId?id=@EncryptDecryptHelper.EncryptUrl(item.AssignmentId.ToString())" class="float-right" data-id="@EncryptDecryptHelper.EncryptUrl(item.AssignmentId.ToString())"><i class="fas fa-eye"></i></a>
            </div>
        </li>
       
    }
</ul>

