﻿@using Phoenix.Models
@using Phoenix.Common.Helpers
@model List<Assignment>
@{
    bool canRetreiveAssignments = SessionHelper.CurrentSession.IsAdmin;
}

<ul id="archiveAssignment">

    @foreach (var item in Model)
    {
        <li data-search-text="@item.AssignmentTitle">
            <div class="@(canRetreiveAssignments ? "custom-control": "") custom-checkbox ml-1">
                @if (canRetreiveAssignments)
                {
                    <input type="checkbox" class="custom-control-input archived" id="showchecked_UnAssign_@item.AssignmentId" title="test" value="@item.AssignmentId">
                }
                <label class="custom-control-label to-sentence-case" for="showchecked_UnAssign_@item.AssignmentId">@item.AssignmentTitle</label>
                <a id="btnViewAssignment" href="/Assignments/Assignment/GetAssignmentStudentDetailsByAssgnmtId?id=@EncryptDecryptHelper.EncryptUrl(item.AssignmentId.ToString())" class="float-right" target="_blank" data-id="@EncryptDecryptHelper.EncryptUrl(item.AssignmentId.ToString())"><i class="fas fa-eye"></i></a>
            </div>
        </li>
    }
</ul>


