﻿@model Phoenix.Models.AssignmentTask
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@{
    /**/

    //var quizId = (int)ViewBag.quizId;
    //var entityId = (int)ViewBag.entityId;
    //var QuizResultId = (int)ViewBag.QuizResultId;

}

<div class="modal-body">
    <input type="hidden" id="studentAssignmentId" value="@Model.StudentAssignmentId" />
    <input type="hidden" id="taskId" value="@Model.TaskId" />
    <input type="hidden" id="studentId" value="@Model.StudentId" />
    <input type="hidden" id="studentTaskId" value="@Model.StudentTaskId" />


    <div class="popup-form">
        @*<div class="col-lg-12 col-md-12 col-12 freetext-fieldset">
            <div class="d-block md-form md-outline w-100">
                <textarea class="form-control feedbacktext"></textarea>
            </div>
        </div>*@
        <div class="row">
            <div class="col-lg-12 col-md-12 col">
                <div class="md-form md-outline">
                    @Html.TextAreaFor(d => d.Feedback, new { @class = "form-control feedbacktext" })
                    @Html.LocalizedLabel("active", "Quiz.Quiz.Feedback")
                    <span class="field-validation-error" data-valmsg-for="FeedbackDesc" data-valmsg-replace="true">
                        <span id="FeedbackValidation" class=""></span>
                    </span>
                </div>
            </div>
        </div>
        @if (Model.QuizFeedbacks.Any())
        {
            <div class="row">
                <div class="col-lg-11 col-md-10 col-12">
                    <div class="audio-recorder">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-12">
                                <button onclick="startRecording(this)" class="btn-start-record rounded-circle">
                                    <i class="fas fa-microphone"></i>
                                </button>
                                <button onclick="stopRecording(this)" class="btn-stop-record rounded-circle" disabled>
                                    <i class="fas fa-stop"></i>
                                </button>
                            </div>
                            @*<div class="col-lg-9 col-md-9 col-12">
                                <ul id="recordingslist"></ul>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <ul id="recordingslist" class="align-items-center multiple-recording d-flex flex-wrap mt-3"></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    @if (Model.QuizFeedbacks.Any())
                    {
                        <ul id="existRecordingslist" class="align-items-center d-flex flex-wrap mt-0">
                            @foreach (var item in Model.QuizFeedbacks)
                            {
                                var recordingFilePath = PhoenixConfiguration.Instance.ReadFilePath + item.FilePath;
                                <li id="audio_@item.FileId" class="align-items-center d-flex mb-2">
                                    <audio controls="" src="@recordingFilePath"></audio>
                                    <a class="deleteRecording mx-2" id="btnDeleteRecordedFile" data-fileId="@item.FileId"><i class="far fa-trash-alt"></i></a>
                                </li>
                            }
                        </ul>

                    }
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-11 col-md-10 col-12">
                    <div class="audio-recorder">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-12">
                                <button onclick="startRecording(this)" class="btn-start-record rounded-circle">
                                    <i class="fas fa-microphone"></i>
                                </button>
                                <button onclick="stopRecording(this)" class="btn-stop-record rounded-circle" disabled>
                                    <i class="fas fa-stop"></i>
                                </button>
                            </div>
                            @*<div class="col-lg-9 col-md-9 col-12">
                                <ul id="recordingslist"></ul>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <ul id="recordingslist" class="align-items-center d-flex flex-wrap mt-3"></ul>
                </div>
            </div>
        }

    </div>
</div>

<div class="modal-footer">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
        <button type="button" class="btn btn-primary waves-effect waves-light m-0 ml-2" onclick="assignmentStudentDetails.assignFeedBackToTask()">@ResourceManager.GetString("Shared.Buttons.Save")</button>
    </div>
</div>
