﻿@model List<Phoenix.Models.AssignmentFile>
@using Phoenix.Common.Localization
@{
    bool isChecked = false;
    var permissionname = "";
    var check = string.Empty;
    var selectallchecked = string.Empty;


}
<div class="file-list column-padding menu-panel" id="tbl_filelist">
 
    @if (Model != null)
    {
        var ctr = 0;
        foreach (var item in Model)
        {
            ctr++;
          
            <div class="custom-control custom-checkbox right-aligned-checkbox permission-checkbox">
                <input type="checkbox" id="chkbox@(ctr)" checked="checked" class="custom-control-input" data-filepath="@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : item.UploadedFileName)"  data-fileid="@item.AssignmentFileId" data-filename="@item.FileName" onchange="updateSelectedFile($(this))">
                <label class='custom-control-label  w-100' for="chkbox@(ctr)">
                    @item.FileName
                </label>

            </div>
        }
    }

</div>


<script>
    ///function for updating menu permission
    function updateSelectedFile(source) {
        var mappingDetails = [];

            mappingDetails.push({
                AssignmentFileId: $(source).attr('data-fileid'),
                UploadedFileName: $(source).attr('data-filepath'),
                FileName: $(source).attr('data-filename')
            });
        

        var saveparams = {
            mappingDetails: mappingDetails
        };
        $.ajax({
            type: 'POST',
            url: '/Assignments/Assignment/UpdateSelectedFiles',
            async: false,
            contentType: 'application/json',
            data: JSON.stringify(saveparams),
            success: function (data) {
                $('#divSelectedMyFile').html(data);
            },
            error: function (data, xhr, status) {
                // globalFunctions.onFailure(data, xhr, status);
            }
        });

    }

</script>
