﻿@model  List<Phoenix.Models.AssignmentPeerReview>
    @using Phoenix.Common.Localization
    @using Phoenix.Common.Helpers.Extensions
    @{
        var rnd = DateTime.Now.Ticks.ToString();
        string selectText = ResourceManager.GetString("Shared.Labels.Select");
    }
    <div class="modal-body">
        <div class="popup-form">
            <div class="row mb-3">
                <div class="col-lg-4 col-md-6 col-12">
                    <h4 class="sub-heading mt-2 text-medium text-black-50">@ResourceManager.GetString("Assignment.PeerManager.Title")</h4>
                </div>
                <div class="col-lg-8 col-md-6 col-12">
                    <div class='reviewSwitch d-flex align-items-center'>
                        <div class='peerType'>
                            @Html.RadioButton("PeerType", "1", new { @id = "PeerType1", @name = "PeerType" })
                            <label for="PeerType1" class="m-0">@ResourceManager.GetString("Assignment.PeerManager.PeerType1")</label>
                        </div>
                        <div class='peerType'>
                            @Html.RadioButton("PeerType", "2", new { @id = "PeerType2", @name = "PeerType" })
                            <label for="PeerType2" class="m-0">@ResourceManager.GetString("Assignment.PeerManager.PeerType2")</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 d-none">
                    <div class="md-form md-outline">
                        @Html.DropDownList("peerSelectionList", new SelectList(ViewBag.PeerSelectList, "Value", "Text"), new { @class = "selectpicker" })

                        @Html.LocalizedLabel("active select-label", "Assignment.Assignment.CourseId")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="card peer-set border-0 m-0">
                        <div class="card-body">
                            <div class="title-with-fields px-0">
                                <h3 class="card-title">@ResourceManager.GetString("Assignment.PeerManager.PeerSet")</h3>
                            </div>
                            <div class="library-data pt-3">
                                <div id="library" class="row view-group">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="user-groups column-padding">
                                            <div id="groupContainer">

                                                <div class="row align-content-start" id="lstPeer">
                                                    @Html.Partial("_PeerList", Model)
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light mb-0 mt-0" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            <button type="button" class="btn btn-primary waves-effect waves-light mb-0 mt-0" id="btnSavePeerDetails">@ResourceManager.GetString("Shared.Buttons.Save")</button>
        </div>
    </div>

    <script src="@Url.Content("~/Content/js/custom/Assignment/PeerReview.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
