﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@model List<Phoenix.Models.AssignmentPeerReview>
@{
    var rnd = DateTime.Now.Ticks.ToString();
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
@if (Model.Count() > 0)
{

    foreach (var item in Model)
    {
        <div class="col-xl-6 col-lg-6 col-md-12 col-12 mb-3 item search-item group-content">
            <div class="group-details">
                <span class="group-initial" data-toggle="tooltip" data-placement="top" data-title="@item.ReviewerName will review @item.StudentName's assignment">
                    <h3>@item.StudentName.Substring(0, 1).ToUpper() <i class="fas fa-hand-point-left review-icon"></i> @item.ReviewerName.Substring(0, 1).ToUpper() </h3>
                </span>
                <span class="group-meta">
                    <h4>
                        <a title="@item.StudentName" href="javascript:void(0);">
                            @item.StudentName
                        </a>
                    </h4>
                    <p id="reviewerDetails_@item.UserId">
                        <span id="spanReviewerName_@item.UserId">
                            <label class="m-0 text-semibold text-black-50"><i class="far fa-eye"></i> @item.ReviewerName </label>
                            <a id="btnEditReviewer_@item.UserId" data-id="@item.UserId" data-reviewerId="@item.ReviewerId" href="javascript:void(0)" onclick="peerReview.editReviewer(this)" class="d-inline-block ml-2 editReviewer">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                        </span>
                    </p>

                </span>

            </div>
        </div>

    }
}
else
{
    <div class="col-lg-12 col-md-12 col-12">
        <span class="no-data-found d-block mx-auto my-auto"></span>
    </div>
    @*<span>@ResourceManager.GetString("Shared.Labels.NoRecords")</span>*@
}

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
