﻿@model IEnumerable<Phoenix.Models.QuestionWiseReport>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@{
    string Path = Server.MapPath("~/Content/VLE/img/logo-colored.png");
}
<style>
    table {
        page-break-inside: avoid;
    }
</style>

@if (Model.Count() > 0)
{
    if (ViewBag.ReportType == null)
    {
        using (Html.BeginForm("DownloadTaskReportDataAsPDF", "Assignment", FormMethod.Post, new { id = "frmQuestionWiseReport", @class = "form-horizontal" }))
        {
            <div class="row mt-2 pb-3">
                <div class="col-lg-8 col-md-8 col-8">
                    <div class="search-with-bg rounded-5x">
                        <i class="fa fa-search"></i>
                        <input type="search" id="QuestionWiseReportSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="float-none float-sm-right">
                        <button type="submit" name="action:DownloadTaskReportToExcel" title="@ResourceManager.GetString("Shared.Buttons.DownloadExcel")" data-toggle="tooltip" class="float-right p-0 border-0 bg-transparent"><img src="~/Content/img/svg/file-type-excel.svg" class="svg" /></button>
                    </div>
                    <div class="float-none float-sm-right mr-2">
                        <input type="hidden" name="reportName" value="QuestionWiseReport" />
                        <button type="submit" name="action:DownloadTaskReportToPDF" title="@ResourceManager.GetString("Shared.Buttons.DownloadPDF")" data-toggle="tooltip" class="float-right p-0 border-0 bg-transparent"><img src="~/Content/img/svg/file-type-pdf.svg" class="svg" /></button>
                    </div>
                </div>
            </div>
        }
    }
    
    if (ViewBag.ReportType == "PDF")
    {
        <table border="0" cellspacing="0" cellpadding="0" style="background-color:#E3E3E3;padding:0.1pt;width:100%;">
            <tbody>
                <tr>
                    <td style="padding: 10px;">
                        <img data-imagetype="External" src="@Path" border="0" id="_x0000_i1031" height="50">
                    </td>
                    <td valign="middle">
                        <h2 style="color:#ba1818; margin: 0 0 0 0px;" hspace="20">@ResourceManager.GetString("Quiz.Report.QuestionWiseReport") <br></h2>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="table-wrapper mt-4" style="margin-top:4px">
            <table id="tbl-QuestionWiseReport" class="table table-bordered table-hover table-responsive-md" cellspacing="0" width="100%" border="1">
                <thead>
                    <tr>
                        <td style="background-color: #E3E3E3; color: #ba1818;"><strong>@ResourceManager.GetString("Quiz.Report.QuestionText")</strong></td>
                        <td style="background-color: #E3E3E3; color: #ba1818;"><strong>@ResourceManager.GetString("Quiz.Report.QuestionTypeName")</strong></td>
                        <td style="background-color: #E3E3E3; color: #ba1818;"><strong>@ResourceManager.GetString("Quiz.Report.CorrectAnswered")</strong></td>
                        <td style="background-color: #E3E3E3; color: #ba1818;"><strong>@ResourceManager.GetString("Quiz.Report.InCorrectAnswered")</strong></td>
                        <td style="background-color: #E3E3E3; color: #ba1818;"><strong>@ResourceManager.GetString("Quiz.Report.Percentage")</strong></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="page-break-inside:avoid;">

                            @if (item.QuestionText.Contains("[blank_space_") && item.QuestionText.Contains("]"))
                            {
                                string[] r = item.QuestionText.Contains(' ') ? item.QuestionText.Split(' ') : item.QuestionText.Split('.');
                                foreach (var field in r)
                                {
                                    if (field.Contains("[blank_space_") && field.Contains("]"))
                                    {
                                        int pFrom = field.IndexOf("[");
                                        int pTo = field.LastIndexOf("]");
                                        if (pTo + 1 == field.Length)
                                        {
                                            //int optionNumber = Convert.ToInt32(field.Substring(pFrom, pTo - pFrom));
                                            item.QuestionText = item.QuestionText.Replace(field, "___________");
                                        }
                                        else
                                        {
                                            string subStr = field.Substring(pFrom, pTo + 1);
                                            item.QuestionText = item.QuestionText.Replace(subStr, "___________");
                                        }
                                    }

                                }
                            }

                            <td>@Html.Raw(item.QuestionText)</td>
                            <td>@item.QuestionTypeName</td>
                            <td>@item.CorrectAnswered</td>
                            <td>@item.IncorrectAnswered</td>
                            <td>@item.Percentage %</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="table-wrapper table-responsive-md">
            <table class="table table-bordered table-hover" id="tbl-QuestionWiseReport">
                <thead>
                    <tr>
                        <th>@ResourceManager.GetString("Quiz.Report.QuestionText")</th>
                        <th>@ResourceManager.GetString("Quiz.Report.QuestionTypeName")</th>
                        <th>@ResourceManager.GetString("Quiz.Report.CorrectAnswered")</th>
                        <th>@ResourceManager.GetString("Quiz.Report.InCorrectAnswered")</th>
                        <th>@ResourceManager.GetString("Quiz.Report.Percentage")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.QuestionText.Contains("[blank_space_") && item.QuestionText.Contains("]"))
                            {
                                string[] r = item.QuestionText.Contains(' ') ? item.QuestionText.Split(' ') : item.QuestionText.Split('.');
                                foreach (var field in r)
                                {
                                    if (field.Contains("[blank_space_") && field.Contains("]"))
                                    {
                                        int pFrom = field.IndexOf("[");
                                        int pTo = field.LastIndexOf("]");
                                        if (pTo + 1 == field.Length)
                                        {
                                            //int optionNumber = Convert.ToInt32(field.Substring(pFrom, pTo - pFrom));
                                            item.QuestionText = item.QuestionText.Replace(field, "___________");
                                        }
                                        else
                                        {
                                            string subStr = field.Substring(pFrom, pTo + 1);
                                            item.QuestionText = item.QuestionText.Replace(subStr, "___________");
                                        }
                                    }

                                }
                            }
                            <td>@Html.Raw(item.QuestionText)</td>
                            <td>@item.QuestionTypeName</td>
                            <td>@item.CorrectAnswered</td>
                            <td>@item.IncorrectAnswered</td>
                            <td>@item.Percentage %</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

}
else
{
    <span class="no-data-found d-block mx-auto my-auto"></span>
}





