﻿@model Phoenix.Models.StudentTask
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers;
@using Phoenix.VLE.Web.EditModels;
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Models
@{

    var rnd = DateTime.Now.Ticks.ToString();
    var panelTitle = ResourceManager.GetString("Assignment.StudentHomeworkAddEdit.title");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-assignments.svg");
    ViewData["Title"] = ResourceManager.GetString("Assignment.AssignmentTask.TaskDetails");
    var studentTaskHeading = ResourceManager.GetString("Assignment.StudentHomeworkAddEdit.Task");
    var assignmentTaskDetail = (Phoenix.Models.AssignmentTask)ViewBag.assignmentTask;
    var peerReview = (TaskPeerReview)ViewBag.TaskPeerReview;
    string isCompletedReviewVisible = peerReview.IsTaskPeerReviewCompleted ? "block" : "none";
    string isCheckReviewVisible = (Model.IsCompleteMarkByStudent && !peerReview.IsTaskPeerReviewCompleted) ? "block" : "none";
    var imageList = assignmentTaskDetail.lstTaskFiles.AddImageVideoFiles();
    var otherFileList = assignmentTaskDetail.lstTaskFiles.AddNonMediaFiles();
}
<div class="container-fluid mt-2 mb-4 assignment-details">
    @Html.HiddenFor(m => m.TaskId)

    <input type="hidden" id="hdnStudentId" name="hdnStudentId" value="@Model.StudentId" />
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="column-padding assignment-header pt-3 pb-2">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <h3>
                                            <i class="fas fa-map-marker-alt"></i>
                                            @assignmentTaskDetail.TaskTitle
                                            @*<span id="divMarkCompleted">
                                                <a href="javascript:void(0);" style="display:@isCompletedReviewVisible;" id="lnkCompletedReview"
                                                   class="btn btn-primary btn-md float-right m-0 mt-n1">
                                                    @ResourceManager.GetString("Assignment.AssignmentTooltip.CompletedReviewed")
                                                </a>
                                                <a href="javascript:void(0)" style="display:@isCheckReviewVisible;" id="lnkMarkAsCompletereview"
                                                   class="btn btn-primary btn-md float-right m-0 mt-n1" onclick="studentTaskReview.MarkAsCompleted(@peerReview.TaskPeerReviewId)">
                                                    @ResourceManager.GetString("Assignment.AssignmentTooltip.MarkAsCompleteReview")
                                                </a>
                                            </span>*@

                                        </h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 pt-3">
                                        <p> @assignmentTaskDetail.TaskDescription</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Description content start -->
                            <!-- Description content end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Resources content end -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- Resources content start -->
                            <div class="resource-data ">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <div class="title-with-fields">
                                            <h3 class="card-title">@ResourceManager.GetString("Assignment.AssignmentTask.TaskResources")</h3>
                                        </div>
                                    </div>
                                </div>
                                <!-- attachment content start -->
                                <div class="column-padding py-4 attachment-list">

                                    <div class="row row-cols-4 row-cols-sm-4 row-cols-md-3 row-cols-lg-6" id="">
                                        @foreach (var item in imageList)
                                        {
                                            var fileResources = Phoenix.Common.Helpers.CommonHelper.GetFileResources(item.FileName);
                                            string filePath = "";
                                            if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                            {
                                                filePath = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName);
                                            }
                                            else
                                            {
                                                filePath = item.ResourceFileTypeId == 0 ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : item.UploadedFileName;
                                            }
                                            <div class="col px-2">
                                                <div class="card overflow-hidden rounded-2x">
                                                    @{
                                                        if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.FileName))
                                                        {
                                                            <a href="@filePath" target="_blank" class="@fileResources.Item2 attachedFile overflow-hidden d-flex align-items-center justify-content-center galleryImg" data-sub-html="Lorem ipsum">
                                                                 <i class="@fileResources.Item1"></i>
                                                            </a>
                                                        }
                                                        else if (Phoenix.Common.Helpers.CommonHelper.CheckVideoExtension(item.FileName))
                                                        {
                                                            <span class="video galleryImg" data-html="#@item.TaskFileId" data-poster="@Constants.DefaultVideoImage">
                                                                <a href="@filePath" target="_blank" class="attachedFile overflow-hidden d-flex align-items-center justify-content-center galleryImg">
                                                                    <i class="flaticon-video"></i>
                                                                </a>
                                                            </span>
                                                            <div style="display:none;" id="@item.TaskFileId">
                                                                <video class="lg-video-object lg-html5" controls="" preload="none">
                                                                    <source src="@filePath" type="video/mp4">
                                                                    @ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")
                                                                </video>
                                                            </div>
                                                        }
                                                    }
                                                    <div class="card-body position-relative">
                                                        <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                                            @item.FileName
                                                        </h4>
                                                        @if ((Html.CurrentPagePermission().CanEdit && SessionHelper.CurrentSession.IsTeacher()) || SessionHelper.CurrentSession.IsAdmin)
                                                        {
                                                            <a href="javascript:void(0)" id="ahrefDeleteFiles" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle DeleteAssignmentFiles" data-taskid="@item.TaskId" data-FileId="@item.TaskFileId" data-uploadedPath="@item.UploadedFileName" data-fileName="@item.FileName"><i class="far fa-trash-alt"></i></a>
                                                        }
                                                    </div>

                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="row row-cols-4 row-cols-sm-4 row-cols-md-3 row-cols-lg-6">
                                        @foreach (var item in otherFileList)
                                        {
                                            var fileResources = Phoenix.Common.Helpers.CommonHelper.GetFileResources(item.FileName);
                                            if (!item.FileName.ToLower().Contains(".wav"))
                                            {
                                                string filePath = "";
                                                if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                                {
                                                    filePath = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName);
                                                }
                                                else
                                                {
                                                    filePath = item.ResourceFileTypeId == 0 ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : item.UploadedFileName;
                                                }
                                                <div class="col px-2">
                                                    <div class="card rounded-2x overflow-hidden">
                                                        <a href="@filePath" target="_blank" class="@fileResources.Item2 attachedFile overflow-hidden d-flex align-items-center justify-content-center @CommonHelper.GetFileClass(item.FileName)" id="ViewAssignmentFile" data-taskid="@item.TaskId" data-id="@EncryptDecryptHelper.EncryptUrl(item.TaskFileId)" data-uploadedPath="@item.UploadedFileName" data-fileName="@EncryptDecryptHelper.EncryptUrl(item.FileName)">
                                                            <img src="@fileResources.Item1" class="svg" />
                                                        </a>
                                                        <div class="card-body position-relative">
                                                            <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                                                @item.FileName
                                                            </h4>
                                                            @if ((Html.CurrentPagePermission().CanEdit && SessionHelper.CurrentSession.IsTeacher()) || SessionHelper.CurrentSession.IsAdmin)
                                                            {
                                                                <a href="javascript:void(0)" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle DeleteAssignmentFiles" id="ahrefDeleteFiles" data-taskid="@item.TaskId" data-FileId="@item.TaskFileId" data-uploadedPath="@item.UploadedFileName" data-fileName="@item.FileName"><i class="far fa-trash-alt"></i></a>

                                                            }

                                                        </div>

                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <!-- attachment content end -->
                            </div>
                            <!-- Resources content end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Resources content end -->
            <!-- Feedback content start -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- feedback content start -->
                            <div class="Feedback-data ">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <div class="title-with-fields">
                                            <h3 class="card-title">@studentTaskHeading</h3>
                                          
                                        </div>
                                    </div>
                                </div>
                                <!-- attachment content start -->
                                <div class="attachment-data column-padding pt-3 pb-3">
                                    <div id="library" class="row view-group">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div id="StudentAssignmentFiles">
                                                @if (Model.lstStudentTaskFile.Any())
                                                {
                                                    var studentimageList = Model.lstStudentTaskFile.AddImageVideoFiles();
                                                    var studentotherFileList = Model.lstStudentTaskFile.AddNonMediaFiles();
                                                    <div class="attachment-list column-padding resource-attachments py-3">
                                                        <div class="row row-cols-4 row-cols-sm-4 row-cols-md-3 row-cols-lg-6">
                                                            @foreach (var item in studentimageList)
                                                            {
                                                                bool isLocalFile = !Constants.IsWellFormedUriString(item.UploadedFileName);
                                                                var downloadURL = isLocalFile ? "/Assignments/Assignment/DownloadFile?studentId=" + Model.StudentId + "&assignmentId=0&FId=" + item.StudentTaskFileId + "&Type=Student TaskFile&taskId=" + item.TaskId : item.UploadedFileName;
                                                                var downloadReviewedFile = "/Assignments/Assignment/DownloadFile?studentId=" + item.StudentId + "&assignmentId=0&FId=" + item.StudentTaskFileId + "&Type=Student ReviewedTaskFile&taskId=0";
                                                                var filePath = Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : item.UploadedFileName;

                                                                var fileResources = Phoenix.Common.Helpers.CommonHelper.GetFileResources(item.FileName);
                                                                <div class="col px-2">
                                                                    <div class="card overflow-hidden rounded-2x">
                                                                        <a href="@filePath" target="_blank" class="@fileResources.Item2 attachedFile overflow-hidden d-flex align-items-center justify-content-center @CommonHelper.GetFileClass(item.FileName)" data-sub-html="Lorem ipsum">
                                                                            <i class="@fileResources.Item1"></i>
                                                                        </a>
                                                                        <div class="card-body position-relative">
                                                                            <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                                                                @item.FileName
                                                                            </h4>
                                                                            @if (Html.CurrentPagePermission().CanEdit)
                                                                            {
                                                                                <a class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle ViewStudentTaskFile" id="ViewStudentTaskFile" data-assignmentId="0" data-id="@EncryptDecryptHelper.EncryptUrl(item.StudentTaskFileId)" data-uploadedPath="@item.UploadedFileName" data-fileName="@EncryptDecryptHelper.EncryptUrl(item.FileName)">
                                                                                    <i class="fas fa-eye"></i>
                                                                                </a>
                                                                                
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            @foreach (var item in studentotherFileList)
                                                            {
                                                                bool isLocalFile = !Constants.IsWellFormedUriString(item.UploadedFileName);
                                                                var downloadURL = isLocalFile ? "/Assignments/Assignment/DownloadFile?studentId=" + Model.StudentId + "&assignmentId=0&FId=" + item.StudentTaskFileId + "&Type=Student TaskFile&taskId=" + item.TaskId : item.UploadedFileName;
                                                                var downloadReviewedFile = "/Assignments/Assignment/DownloadFile?studentId=" + item.StudentId + "&assignmentId=0&FId=" + item.StudentTaskFileId + "&Type=Student ReviewedTaskFile&taskId=0";
                                                                var filePath = Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : item.UploadedFileName;
                                                                bool isCloudFile = Constants.IsWellFormedUriString(item.UploadedFileName);
                                                                var fileResources = Phoenix.Common.Helpers.CommonHelper.GetFileResources(item.FileName);
                                                                if (!item.FileName.ToLower().Contains(".wav"))
                                                                {
                                                                    <div class="col px-2">
                                                                        <div class="card overflow-hidden rounded-2x">

                                                                            <a href="@filePath" target="_blank" class="@fileResources.Item2 attachedFile overflow-hidden d-flex align-items-center justify-content-center @CommonHelper.GetFileClass(item.FileName)" id="ViewQuizFile" data-uploadedPath="@item.UploadedFileName" data-fileName="@EncryptDecryptHelper.EncryptUrl(item.FileName)">
                                                                                <i class="@fileResources.Item1"></i>
                                                                            </a>
                                                                            <div class="card-body position-relative">
                                                                                <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                                                                    <a @(isCloudFile ? $"onclick=window.open('{item.UploadedFileName}')" : "") href="javascript:void(0)">@item.FileName</a>
                                                                                </h4>
                                                                                @if (Html.CurrentPagePermission().CanEdit)
                                                                                {
                                                                                    <a class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle ViewStudentTaskFile" data-toggle="tooltip" title="@ResourceManager.GetString("Assignment.PeerManager.ReviewFile")" id="ViewStudentTaskFile"  data-assignmentId="0" data-id="@EncryptDecryptHelper.EncryptUrl(item.StudentTaskFileId)" data-uploadedPath="@item.UploadedFileName" data-fileName="@EncryptDecryptHelper.EncryptUrl(item.FileName)">
                                                                                        <i class="fas fa-eye"></i>
                                                                                    </a>
                                                                                }
                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>

                                                    </div>
                                                }
                                            </div>                                        
                                        </div>

                                    </div>
                                </div>
                                <!-- attachment content end -->

                            </div>
                            <!-- Resources content end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}

@section scripts
{  
    <script type="text/javascript">
        $(document).ready(function () {
            var listFilter = [];
            var isTimeOut = true;
            //To make back button visible and take back to previous page on click on back button
            $("#btnBack").show();
            $(document).on('click', '#btnBack', function () {
                history.back();
            });
        });

    </script>
    
    <script type="text/javascript">

        translatedResources.CompletedTaskSuccess = '@ResourceManager.GetString("Assignment.AssignmentMessages.CompletedTaskSuccess")';
   
       
        //StudentTaskFileId
        $(".ViewFile").click(function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            var module = $(this).data("modulename");
            if (globalFunctions.isValueValid(id)) {
                window.open("/Document/Viewer/Index?id=" + id + "&module=" + module + "", "_blank");
            }
        });

    </script>
    <script src="@Url.Content("~/Content/js/custom/Assignment/StudentTaskReview.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

}