﻿@model Phoenix.VLE.Web.EditModels.AssignmentEdit
@using Phoenix.Common.Localization
@{
    var rnd = DateTime.Now.Ticks.ToString();
    var assignmentType = Session["AssignmentType"] != null ? Convert.ToString(Session["AssignmentType"]) : "";
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}

<link href="~/Content/css/jquery.loadMore.css" rel="stylesheet" />
<style>
    .search-row .sort-dropdown.sort-large-dropdown .bootstrap-select .dropdown-toggle {
        padding-left: 8.5rem;
    }

    @@media (min-width: 768px) {
        .search-row .sort-dropdown.sort-large-dropdown {
            width: 30%;
        }
    }
</style>
<div class="tabPanels">
    <ul class="nav nav-tabs defaultTabs" id="myTab1" role="tablist">
        <li class="nav-item">
            <a id="btnLoadActiveAssignment" class="nav-link active text-semibold" data-toggle="tab" href="#activeAssignment" role="tab">
                @ResourceManager.GetString("Assignment.Assignment.ActiveAssignment")
            </a>
        </li>
        <li class="nav-item">
            <a id="btnArchiveAssignment" class="nav-link text-semibold" data-toggle="tab" href="#archiveAssignment" role="tab">
                @ResourceManager.GetString("Assignment.Assignment.ArchiveAssignmentTitle")
            </a>
        </li>
    </ul>
</div>
<div class="clearfix position-relative teacher-assignment">
    @Html.Hidden("hdnAssignmentType", assignmentType)
    <div class="row search-row justify-content-end mt-3 mb-3">
        <div class="col-12 col-lg-12 col-xl-10 d-sm-flex justify-content-end align-items-center">
            <div class="assignment-search border mb-2 mb-sm-0 search-with-bg ml-0 ml-sm-3">
                <span class="icon-search"></span>
                <input type="search" class="searchfield" id="txtAssignmentSearch" placeholder="@ResourceManager.GetString("Assignment.Assignment.SearchAssignment")">
            </div>
            <div class="mb-2 mb-xl-0 md-form md-outline ml-0 ml-md-3 sort-dropdown assignment-group-filter">
                <label class="select-label">@ResourceManager.GetString("Shared.Labels.FilterGroupBy") :</label>
                <select class="selectpicker" id="SchoolGroupIds" multiple data-selected-text-format="count > 1" title="Select">
                    @foreach (var item in ViewBag.lstSchoolGroup as List<SelectListItem>)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="mb-0 md-form md-outline ml-0 ml-sm-3 sort-dropdown">
                <label class="select-label">@ResourceManager.GetString("Shared.Labels.SortBy") : </label>
                <select class="selectpicker" id="ddlAssignmentSort">
                    <option value="Date" selected>@ResourceManager.GetString("Shared.Labels.Date")</option>
                    <option value="Name">@ResourceManager.GetString("Shared.Labels.Name")</option>
                    <option value="Status">@ResourceManager.GetString("Shared.Labels.Status")</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div id="StudentAssignment" class="pagination-panel"> </div>
        </div>
        <span class="sr-only">(current)</span>
    </div>

    <div class="tab-pane fade" id="archiveAssignment" role="tabpanel">

        <div id="ArchivedAssignment" class="pagination-panel">
            <div id="ArchiveAssignments">

            </div>
        </div>
    </div>

    @*<div class="tab-pane fade" id="archiveAssignment" role="tabpanel">

            <div id="ArchiveAssignment" class="pagination-panel">

            </div>
        </div>*@
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{

    <script type="text/javascript">
        translatedResources.ShowingPages = '@ResourceManager.GetString("Shared.Labels.ShowingPages")';
        translatedResources.Previous = '@ResourceManager.GetString("Shared.Buttons.Previous")';
        translatedResources.Next = '@ResourceManager.GetString("Shared.Buttons.Next")';
        translatedResources.SelectAssignmentToArchive = '@ResourceManager.GetString("Assignment.AssignmentMessages.SelectAssignmentToArchive")';
        translatedResources.BrowseFile = '@ResourceManager.GetString("Shared.Labels.BrowseFile")';
        translatedResources.TotalFiles = '@ResourceManager.GetString("Shared.Labels.TotalFiles")';
        translatedResources.LoadMore = '@ResourceManager.GetString("Shared.Buttons.LoadMore")';
    </script>
    <script src="@Url.Content("~/Content/js/jquery.loadMore.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Assignment/ArchivedAssignmentDashboard.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Assignment/StudentAssignmentDashboard.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>



}
