﻿@model List<Phoenix.Models.StudentAssignmentFile>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Models;
@{
    var isCompletedByStudent = Convert.ToBoolean(Session["IsCompletedMarkByStudent"]);
    var DownloadReviewVisible = Convert.ToBoolean(Session["DownloadReviewVisible"]) ? "inline-block" : "d-none";
    var SchoolCode = SessionHelper.CurrentSession.SchoolCode;
    var isparent = SessionHelper.CurrentSession.IsParent().ToString().ToLower();
}

@{
    var imageList = Model.AddImageVideoFiles();
    var otherFileList = Model.AddNonMediaFiles();
}
@if (Model.Any())
{
    <div class="row row-cols-4 row-cols-sm-4 row-cols-md-3 row-cols-lg-3">
        @foreach (var item in imageList)
        {
            bool isLocalFile = !Constants.IsWellFormedUriString(item.UploadedFileName);
            bool isCloudFile = string.IsNullOrEmpty(item.UploadedFileName) ? false : (item.IsSharedFile);
            var downloadURL = isLocalFile ? "/Assignments/Assignment/DownloadFile?studentId=" + item.StudentId + "&assignmentId=" + item.AssignmentId + "&FId=" + item.StudentAsgFileId + "&Type=Student Assignment&fileName=" + item.UploadedFileName : item.UploadedFileName;
            var downloadReviewedFile = "/Assignments/Assignment/DownloadFile?studentId=" + item.StudentId + "&assignmentId=" + item.AssignmentId + "&FId=" + item.StudentAsgFileId + "&Type=Student ReviewedFile&taskId=0";

            var filePath = isLocalFile ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : item.UploadedFileName;

            var fileResources = CommonHelper.GetFileResources(item.FileName);
            <div class="col px-2">
                <div class="card overflow-hidden rounded-2x">
                    <a onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : (item.UploadedFileName).Replace("\'","%27"))','@SchoolCode','@isparent','@item.ResourceFileTypeId')" class="@fileResources.Item2 attachedFile overflow-hidden d-flex align-items-center justify-content-center @CommonHelper.GetFileClass(item.FileName)" data-toggle="tooltip" title="Uploaded On: @item.UploadedOn.ToString("dd-MMM-yyyy hh:mm tt")" data-sub-html="">
                        <i class="@fileResources.Item1"></i>
                    </a>
                    <div class="card-body position-relative">
                        <h4 onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : (item.UploadedFileName).Replace("\'","%27"))','@SchoolCode','@isparent','@item.ResourceFileTypeId')" class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                            @item.FileName
                        </h4>

                        @if (!isCompletedByStudent && Html.CurrentPagePermission().CanEdit)
                        {
                            if (item.ResourceFileTypeId == 3 || item.ResourceFileTypeId == 0 || item.ResourceFileTypeId == 1 || item.ResourceFileTypeId == 2)
                            {
                                <a class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle DeleteAssignmentFiles" id="deleteStudentFile" data-studentId="@item.StudentId" data-toggle="tooltip" data-placement="top" title="@ResourceManager.GetString("Shared.Buttons.Delete")" data-assignmentId="@item.AssignmentId" data-id="@item.StudentAsgFileId" data-fileName="@item.FileName">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            }

                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row row-cols-4 row-cols-sm-4 row-cols-md-3 row-cols-lg-3">
        @foreach (var item in otherFileList)
        {
            var fileResources = CommonHelper.GetFileResources(item.FileName);
            if (!item.FileName.ToLower().Contains(".wav"))
            {
                <div class="col px-2">
                    <div class="card overflow-hidden rounded-2x">
                        <a href="javascript:void(0)" onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : (item.UploadedFileName).Replace("\'","%27"))','@SchoolCode','@isparent','@item.ResourceFileTypeId')" class="@fileResources.Item2 attachedFile overflow-hidden d-flex align-items-center justify-content-center @CommonHelper.GetFileClass(item.FileName)" id="ViewQuizFile" data-toggle="tooltip" title="Uploaded On: @item.UploadedOn.ToString("dd-MMM-yyyy hh:mm tt")" data-uploadedPath="@item.UploadedFileName" data-fileName="@EncryptDecryptHelper.EncryptUrl(item.FileName)">
                            <i class="@fileResources.Item1"></i>
                        </a>
                        <div class="card-body position-relative">
                            <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                <a href="javascript:void(0)" onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : (item.UploadedFileName).Replace("\'","%27"))','@SchoolCode','@isparent','@item.ResourceFileTypeId')">@item.FileName</a>
                            </h4>
                            @if (!isCompletedByStudent && Html.CurrentPagePermission().CanEdit)
                            {
                                if (item.ResourceFileTypeId == 3 || item.ResourceFileTypeId == 0 || item.ResourceFileTypeId == 1 || item.ResourceFileTypeId == 2)
                                {
                                    <a class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle DeleteAssignmentFiles" id="deleteStudentFile" data-studentId="@item.StudentId" data-toggle="tooltip" data-placement="top" title="@ResourceManager.GetString("Shared.Buttons.Delete")" data-assignmentId="@item.AssignmentId" data-id="@item.StudentAsgFileId" data-fileName="@item.FileName">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                }

                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}
@if (!Model.Any())
{
    <span class="no-data-found text-bold d-block mx-auto my-auto">
        @string.Format(ResourceManager.GetString("Shared.Labels.NoRecords"))
    </span>
}