﻿@model List<Phoenix.Models.AssignmentTask>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{
    var isAssignmentArchived = Session["IsArchived"] != null ? Convert.ToBoolean(Session["IsArchived"].ToString()) : false;
    var strHr = ResourceManager.GetString("Shared.Messages.Hours");
    var strMin = ResourceManager.GetString("Shared.Messages.Minutes");
    var strSec = ResourceManager.GetString("Shared.Messages.Seconds");
    var strMinHr = ResourceManager.GetString("Shared.Messages.MinutesHr");
    var strQuizTimeOut = ResourceManager.GetString("Quiz.Quiz.QuizTimeOut");
}
<div class="sortable-tasks column-padding pb-3">
    <ul class="clearfix with-number" id="taskList">
        @foreach (var item in Model)
        {
            TimeSpan QuizTime = TimeSpan.FromMinutes(item.QuizTime);
            string QuizTotalTime = String.Empty;
            if (QuizTime.Hours == 0)
            {
                QuizTotalTime = string.Format(strMinHr, (int)QuizTime.Minutes, QuizTime.Seconds);
            }
            else
            {
                QuizTotalTime = string.Format(strHr, (int)QuizTime.TotalHours, QuizTime.Minutes);
            }

            TimeSpan timeTaken = TimeSpan.FromSeconds(item.objStudentTask.TimeTaken);
            string TimeTakenByTask = String.Empty;
            if (timeTaken.Hours == 0)
            {
                TimeTakenByTask = (int)timeTaken.Minutes >= item.QuizTime ? strQuizTimeOut : string.Format(strMinHr, (int)timeTaken.Minutes, timeTaken.Seconds);
            }
            else
            {
                TimeTakenByTask = (int)timeTaken.Minutes >= item.QuizTime ? strQuizTimeOut : string.Format(strHr, (int)timeTaken.TotalHours, timeTaken.Minutes);
            }

            var timeTakenToSolve = item.objStudentTask.TimeTaken < 60 ? string.Format(strSec, item.objStudentTask.TimeTaken.ToString()) : TimeTakenByTask;
            var ActualTime = String.Empty;
            if (timeTakenToSolve == strQuizTimeOut)
            {
                ActualTime = timeTakenToSolve;
            }
            else
            {
                ActualTime = timeTakenToSolve + " / " + QuizTotalTime;
            }

            <li id="@item.SortOrder" class="position-relative">
                <div class="taskMeta w-50">
                    <h4>@item.TaskTitle</h4>
                    <p>@item.TaskDescription.</p>
                </div>
                <div class="task-actions">
                    @if (item.objStudentTask.TaskSubmitMarks > 0)
                    {
                        <lable class="badg badge-secondary pb-1 pl-3 pr-3 pt-1 rounded" data-toggle="tooltip" title="@ResourceManager.GetString("Assignment.AssignmentTask.TaskMarks")" data-placement="top"><small class="text-semibold">@item.objStudentTask.TaskSubmitMarks / @item.TaskMarks</small></lable>
                    }
                    @if (item.objStudentTask.GradingTemplateItemId > 0)
                    {
                        if (item.objStudentTask.GradingTemplateItemSymbol != null)
                        {
                            if (!item.objStudentTask.GradingTemplateItemSymbol.Contains(".png"))
                            {
                                <span id="gradingDiv_@item.objStudentTask.StudentTaskId" class="taskGrade" style="color:@item.objStudentTask.GradingColor">
                                    @item.objStudentTask.ShortLabel
                                </span>
                            }
                            else
                            {
                                <span id="gradingDiv_@item.objStudentTask.StudentTaskId" class="taskGrade" data-toggle="tooltip" title="@item.objStudentTask.ShortLabel" data-title="@item.objStudentTask.ShortLabel" data-placement="top">
                                    <img class="img-fluid" src="@item.objStudentTask.GradingTemplateItemSymbol" />
                                </span>
                            }
                        }
                    }
                    else
                    {
                        <span id="gradingDiv_@item.objStudentTask.StudentTaskId" class="taskGrade" data-toggle="tooltip" title="@item.objStudentTask.ShortLabel" data-title="@item.objStudentTask.ShortLabel" data-placement="top">

                        </span>
                    }
                    @if (!String.IsNullOrEmpty(item.objStudentTask.QuizMarks))
                    {
                        <lable class="badg badge-info pb-1 pl-3 pr-3 pt-1 rounded" data-toggle="tooltip" title="Score" data-placement="top"><small class="text-semibold">@item.objStudentTask.QuizMarks</small></lable>
                        if (item.IsSetTime)
                        {
                            <lable class="badg badge-secondary pb-1 pl-3 pr-3 pt-1 rounded" data-toggle="tooltip" title="Time Taken" data-placement="top"><small class="text-semibold">@ActualTime</small></lable>

                        }
                    }
                    @if (item.QuizId > 0)
                    {
                        <a id="btnQuizAsPdf" data-quizid="@EncryptDecryptHelper.EncryptUrl(item.QuizId.ToString())" data-taskid="@item.TaskId" data-isquestionexist="@item.IsQuestionsExist" data-toggle='tooltip' data-placement='bottom' title="@ResourceManager.GetString("Quiz.Quiz.DownloadQuizPDF")">
                            <i class="far fa-file-pdf"></i>
                        </a>
                    }
                    @if (Convert.ToBoolean(item.objStudentTask.IsCompleteMarkByStudent) && Convert.ToBoolean(!item.objStudentTask.IsCompleteMarkByTEacher))
                    {
                        <a href="javascript:void(0);">
                            <i class="fas fa-clipboard-list mark-by-student text-warning" data-toggle="tooltip" title="Task Status"></i>
                        </a>

                    }
                    else if (Convert.ToBoolean(item.objStudentTask.IsCompleteMarkByTEacher))
                    {
                        <a href="javascript:void(0);">
                            <i class="fas fa-clipboard-check mark-by-teacher text-success" data-toggle="tooltip" title="Task Status">
                            </i>
                        </a>
                    }
                    else
                    {
                        <a href="javascript:void(0);">
                            <i class="far fa-clipboard" data-toggle="tooltip" title="Task Status"></i>
                        </a>
                    }
                    <a href="/Assignments/Assignment/GetAssignmentTaskDetails?id=@EncryptDecryptHelper.EncryptUrl(item.AssignmentId.ToString())&taskId=@EncryptDecryptHelper.EncryptUrl(item.TaskId.ToString())&studentId=@EncryptDecryptHelper.EncryptUrl(item.objStudentTask.StudentId.ToString())" class="edit-entry"><i class="far fa-eye"></i></a>
                    @if (!isAssignmentArchived)
                    {
                        <a href="javascript:void(0);" class="btnAssignGradeToTask" data-gradingId="@item.TaskGradingTemplateId"
                           data-studentId="@item.objStudentTask.StudentId" data-IsCompleted="@item.objStudentTask.IsCompleteMarkByTEacher" data-taskId="@item.TaskId">
                            <i class="fas fa-award"></i>
                        </a>
                    }
                    @if (!isAssignmentArchived)
                    {
                        <a href="javascript:void(0);" class="btnAssignFeedbackToTask" data-gradingId="@item.TaskGradingTemplateId"
                           data-studentId="@item.objStudentTask.StudentId" data-assignmentststudentid="@item.objStudentTask.StudentAssignmentId" data-studenttaskid="@item.objStudentTask.StudentTaskId" data-IsCompleted="@item.objStudentTask.IsCompleteMarkByTEacher" data-taskId="@item.TaskId">
                            <i class="fas fa-comment-dots"></i>
                        </a>
                    }
                </div>
            </li>
        }

    </ul>
</div>
