﻿@*@model List<Phoenix.Models.AssignmentTask>*@
@model Phoenix.VLE.Web.EditModels.AssignmentEdit
@using Phoenix.Common.Localization
@{
    var displayPublish = (Model.ArchiveDate != null && Model.ArchiveDate <= DateTime.Now) ? "none" : "inline-block";
     if (displayPublish == "none")
    {
        displayPublish = Model.IsCloned == false ? "none" : "inline-block";
    }
}
<input type="hidden" id="hdnHighestSortOrder" />
<ul class="clearfix with-number" id="taskList">
    @if (Model.lstAssignmentTasks != null)
    {

        foreach (var item in Model.lstAssignmentTasks.Where(m => m.IsDeleted == false))
        {
            <li class="position-relative @item.RandomId" id="@item.SortOrder">
                <div class="taskMeta">
                    <h4>@item.TaskTitle</h4>
                    <p>@item.TaskDescription</p>
                </div>
                <div class="task-actions">
                    <a href="javascript:void(0);" style="display:@displayPublish" class="edit-entry" data-toggle="tooltip" data-title="Edit" onclick="addEditAssignment.addEditAssignmentTask($(this),'@item.RandomId',false)"><i class="fas fa-pen"></i></a>
                    <a href="javascript:void(0);" style="display:@displayPublish" class="delete-entry" data-toggle="tooltip" data-title="Remove" onclick="addEditAssignment.deleteTask($(this),'@item.RandomId')"><i class="far fa-trash-alt"></i></a>
                </div>
            </li>


        }
    }
</ul>

@if (Model.lstAssignmentTasks == null || Model.lstAssignmentTasks.Count == 0)
{
    <div class="row" id="NoTask">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="activity-task-section column-padding pt-4 pb-4">
                <i class="far fa-clipboard"></i>
                <p>@ResourceManager.GetString("Assignment.AssignmentMessages.TaskAssigned")</p>

            </div>
        </div>
    </div>
}