﻿@model Phoenix.Models.GroupQuiz
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Models;
@{
    ViewBag.Title = ResourceManager.GetString("Quiz.GroupQuiz.GroupQuiz");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-groups.svg");
    var rnd = DateTime.Now.Ticks.ToString();
    var QuizFilePath = PhoenixConfiguration.Instance.ReadFilePath + Model.QuizImagePath;
    List<Data>
    dataObj = new List<Data>
        ();
    List<GradeWiseReport>
        gradeWiseReport = Model.GradeWiseReport;
    if (Model.GenderWiseReport != null)
    {
        dataObj.Add(new Data { Name = "Male", Value = Model.GenderWiseReport.Male });
        dataObj.Add(new Data { Name = "Female", Value = Model.GenderWiseReport.Female });
    }
    if (gradeWiseReport.Count > 0 && Model.GradeWiseTotalQuestionsReport != null)
    {
        var gradeNotAssignedQuestionsCount = (Model.GradeWiseTotalQuestionsReport.TotalQuestions - Model.GradeWiseTotalQuestionsReport.QHavingGrade);
        gradeWiseReport.Add(new GradeWiseReport { GradeDisplay = "Grade Not Assigned", QuestionCount = gradeNotAssignedQuestionsCount });
    }

    var strHr = ResourceManager.GetString("Shared.Messages.Hours");
    var strMin = ResourceManager.GetString("Shared.Messages.Minutes");
    var strMinHr = ResourceManager.GetString("Shared.Messages.MinutesHr");
    var strSec = ResourceManager.GetString("Shared.Messages.Seconds");
    var strQuizTimeOut = ResourceManager.GetString("Quiz.Quiz.QuizTimeOut");
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
<link href="~/Content/VLE/mathscribe/jqmath-0.4.3.css" rel="stylesheet" />
@Html.HiddenFor(x => x.AssignmentId)
<div class="mb-4 assignment-details">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="row mb-3">

                <!--Gender Wise Report-->

                <div class="col-xl-8 col-lg-12 col-md-12 col-12 mb-4 mb-xl-0">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title">@ResourceManager.GetString("Quiz.Report.GradeWiseReport")</h3>
                            <h3 id="GradeChartDiv" class="sub-heading column-padding pt-3 pb-3 bg-white"></h3>
                            <div id="GradeChartContainer" class="column-padding pt-3 pb-3 bg-white"></div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-12 col-md-12 col-12 mb-3 mb-md-0">
                    <div class="card h-100 position-relative">
                        <div class="card-body">
                            <h3 class="card-title">@ResourceManager.GetString("Quiz.Report.GenderWiseReport")</h3>
                            <div class="chart-container pb-5 text-center mb-5 mb-md-0">
                                <h3 id="GenderChartDiv" class="sub-heading m-0 p-0"></h3>
                                <div id="GenderChartContainer" class="column-padding pt-3 pb-3 bg-white"></div>
                                <div id="GenderLegendsDiv" class="chart-stats position-absolute w-100 border-top pl-3 pr-3 bottom-0">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12 border-right pt-3 pb-3">
                                            <div class="row">
                                                <div class="col-lg-9 col-md-9 col-9">
                                                    <p class="m-0 text-left d-flex align-items-center">
                                                        <span id="spanMale" class="mr-2" style="background: #722fa5;"></span>@ResourceManager.GetString("Quiz.Report.Male")
                                                    </p>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-3 text-right"><p id="maleCountValue" class="m-0 text-semibold"></p></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 pt-3 pb-3">
                                            <div class="row">
                                                <div class="col-lg-9 col-md-9 col-9 pl-3">
                                                    <p class="m-0 text-left d-flex align-items-center">
                                                        <span id="spanFemale" class="mr-2" style="background: #e4498c;"></span>@ResourceManager.GetString("Quiz.Report.Female")
                                                    </p>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-3 text-right"><p id="femaleCountValue" class="m-0 text-semibold"></p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-2">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 ">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title">@ResourceManager.GetString("Quiz.Report.QuestionWiseReport")</h3>
                            <div id="questionWiseReportContainer" class="column-padding pt-2 pb-3 bg-white">
                                @if (Model.QuestionWiseReport.Count() > 0)
                                {
                                    @Html.Partial("_QuestionWiseReport", Model.QuestionWiseReport)
                                }
                                else
                                {
                                    @*<span class="no-data-found d-block mx-auto my-auto"></span>*@
                                    <span id="noDataSpan" class="no-data-found d-block mx-auto my-auto">
                                        @ResourceManager.GetString("Shared.Labels.NoRecords")
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
        translatedResources.filetitle = '@ResourceManager.GetString("Files.File.Title")';
        translatedResources.filename = '@ResourceManager.GetString("Files.File.FileName")';
        translatedResources.filepath = '@ResourceManager.GetString("Files.File.FilePath")';
        translatedResources.foldertitle = '@ResourceManager.GetString("Files.Folder.Title")';
        translatedResources.foldername = '@ResourceManager.GetString("Files.Folder.FolderName")';
        translatedResources.clipboard = '@ResourceManager.GetString("Files.File.Clipboard")';
        translatedResources.assign = '@ResourceManager.GetString("Files.Quiz.Assign")';
        translatedResources.assignGradeStatus = '@ResourceManager.GetString("Files.Quiz.AssignGradeStatus")';
        translatedResources.SelectGrade = '@ResourceManager.GetString("Files.Quiz.SelectGrade")';
        translatedResources.feedback = '@ResourceManager.GetString("Files.Quiz.Feedback")';
        translatedResources.FileUploaded = '@ResourceManager.GetString("Shared.Messages.FileUploaded")';
        translatedResources.AddGroupUrl = '@ResourceManager.GetString("Files.GroupUrl.AddGroupUrl")';
        translatedResources.EnterMarks = '@ResourceManager.GetString("Quiz.Quiz.EnterMarks")';
        translatedResources.EnterValidMarks = '@ResourceManager.GetString("Quiz.Quiz.EnterValidMarks")';
        translatedResources.GradeWiseReport = '@ResourceManager.GetString("Quiz.Report.GradeWiseReport")';
        translatedResources.GenderWiseReport = '@ResourceManager.GetString("Quiz.Report.GenderWiseReport")';
        translatedResources.noRecordFound = '@ResourceManager.GetString("Shared.Labels.NoRecords")';
</script>

<script type="text/javascript">
        $('#breadcrumbActions').html('');


        var _dataTableLangSettings = {
            "sEmptyTable": translatedResources.noData,
            "sInfo": translatedResources.sInfo,
            "sInfoEmpty": translatedResources.sInfoEmpty,
            "sInfoFiltered": translatedResources.sInfoFiltered,
            "sInfoPostFix": "",
            "sInfoThousands": ",",
            "sLengthMenu": translatedResources.sLengthMenu,
            "sLoadingRecords": "Loading...",
            "sProcessing": "Processing...",
            "sSearch": translatedResources.search,
            "sZeroRecords": translatedResources.sZeroRecords,
            "oPaginate": {
                "sFirst": translatedResources.first,
                "sLast": translatedResources.last,
                "sNext": translatedResources.next,
                "sPrevious": translatedResources.previous
            },
            "oAria": {
                "sSortAscending": translatedResources.sSortAscending,
                "sSortDescending": translatedResources.sSortDescending
            }
        };


        $(function () {

            $("#btnBack").show();

            $(document).on('click', '#btnBack', function () {
                history.back();
            });

                  debugger;
               var genderReportData = @(Html.Raw(Json.Encode(dataObj)) );
            var gradeReportData = @(Html.Raw(Json.Encode(Model.GradeWiseReport)) );
            console.log(genderReportData);
               quizReportFunctions.loadGenderWiseReportChart(genderReportData);
            quizReportFunctions.loadGrageWiseReportChart(gradeReportData);



            $("#tbl-QuestionWiseReport").DataTable({ "iDisplayLength": 5, "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]], "oLanguage": _dataTableLangSettings });
            $("#tbl-QuestionWiseReport_length").hide();
            $("#tbl-QuestionWiseReport_filter").hide();
            $("#QuestionWiseReportSearch").on("input", function (e) {
                e.preventDefault();
                $('#tbl-QuestionWiseReport').DataTable().search($(this).val()).draw();
            });
            $("#assignment-assignee-table").DataTable({ "iDisplayLength": 5, "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]], "oLanguage": _dataTableLangSettings });


        });
</script>

