﻿@model Phoenix.VLE.Web.EditModels.AssignmentEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Enums
@using Phoenix.Models
@using Phoenix.Common.Helpers
@{

    List<GradingTemplate> lstGradingtemplate = (List<GradingTemplate>)ViewBag.lstGradingtemplate;
    var panelTitle = ResourceManager.GetString("Assignment.Assignment.AssignmentId");
    ViewData["Title"] = panelTitle;
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-assignments.svg");
    var checkedstatus = Model.IsAddMode ? true : false;
    var rnd = DateTime.Now.Ticks.ToString();
    var display = Model.IsAddMode ? "none" : "inline-block";
    display = Model.IsCloned ? "inline-block" : display;
    var startDate = Model.StartDate != null ? Model.StartDate.Value : DateTime.Now;
    var currentDate = DateTime.Now;
    int systemlangaugeid = LocalizationHelper.CurrentSystemLanguageId;
    var taskOrderClass = Model.lstAssignmentTasks.Count > 1 ? "" : "d-none";
    var displayPublish = (Model.ArchiveDate != null && Model.ArchiveDate <= DateTime.Now) ? "none" : "inline-block";
    if (displayPublish == "none")
    {
        displayPublish = Model.IsCloned == false ? "none" : "inline-block";
    }
    string EditPeerEnable = Model.IsPeerMarkingEnable ? "" : "d-none";
}
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}

<link href="~/Content/css/custom/Users/easyuitree.css" rel="stylesheet" />

<div class="bg-white rounded-2x">

    <nav class="respTabs">
        <ul class="-primary pb-0 nav">
            <li>
                <a class="nav-link active" id="assignmentbasicdetails" data-toggle="tab" href="#basicdetails" role="tab">
                    @ResourceManager.GetString("Assignment.Assignment.Details")
                </a>
            </li>
            <li>
                <a class="nav-link" onclick="addEditAssignment.loadObjectiveStructure()" id="objectiveTab" data-toggle="tab" href="#tagCurriculum" role="tab">
                    @ResourceManager.GetString("Assignment.Assignment.CurriculumTag")
                </a>
            </li>
            <li>
                <a class="nav-link" id="gradingTab" data-toggle="tab" href="#gradingTemplate" role="tab">
                    @ResourceManager.GetString("Assignment.Assignment.GradingTemplate")
                </a>
            </li>
            <li>
                <a class="nav-link" id="taskTab" data-toggle="tab" href="#taskAddEdit" role="tab">
                    @ResourceManager.GetString("Assignment.AssignmentTask.TaskList")
                </a>
            </li>

            <li>
                <a class="nav-link" data-toggle="tab" href="#attachments" role="tab">
                    @ResourceManager.GetString("Assignment.Assignment.Attachments")
                </a>
            </li>
            @*<li >
                    <a class="nav-link text-semibold border-0 py-4" data-toggle="tab" href="#archiveList" role="tab">
                        @ResourceManager.GetString("Assignment.Assignment.Archive")
                    </a>
                </li>*@
        </ul>
    </nav>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="basicdetails" role="tabpanel">
            @using (Ajax.BeginForm("SaveAssignmentBasicDetails", "Assignment", new AjaxOptions { OnSuccess = "addEditAssignment.onSaveSuccess" }, new { id = "frmAddEditAssignmentDetails", @class = "form-horizontal m-0 p-0" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(x => x.AssignmentId)
                @Html.HiddenFor(x => x.AssignmentTitleXml)
                @Html.HiddenFor(x => x.AssignmentDescXml)
                @Html.HiddenFor(x => x.TeacherId)
                @Html.HiddenFor(x => x.IsAddMode)
                @Html.HiddenFor(x => x.IsCloned)
                @Html.HiddenFor(x => x.GradingTemplateId)
                @Html.CheckBoxFor(x => x.IsPublished, new { @class = "form-control d-none" })
                @Html.HiddenFor(x => x.PeerMarkingType)
                @Html.HiddenFor(x => x.isChangeReverted, new { @class = "form-control", @id = "hdnIsChangeReverted" })
                <input type="hidden" id="CloudFilesaveUri" value="/Assignments/Assignment/SaveCloudFiles" />
                <input type="hidden" id="IsAssignmentFile" value="1" />
                <input type="hidden" id="hdnStartDate" value="@startDate" />
                <input type="hidden" id="hdnCurrentDate" value="@currentDate" />
                <input type="hidden" id="lstTaskDetails" name="lstTaskDetails" />
                <input type="hidden" id="lstTaskOrdering" name="lstTaskOrdering" />
                <input type="hidden" id="lstLessons" name="mappingDetails" />
                <input type="hidden" id="lstUnits" name="mappingUnitDetails" />
                <input type="hidden" id="lstGroupTopics" name="mappingGroupTopicIds" />
                <input type="hidden" id="lstAssignmentFiles" name="lstAssignmentFiles" value="@ViewBag.lstAssignmentFiles" />
                <input type="hidden" id="lstAssignmentTask" name="lstAssignmentTask" value="@ViewBag.lstAssignmentTask" />
                <input type="hidden" id="lstTaskFiles" name="lstTaskFiles" />
                <input type="hidden" id="asyncLessonId" name="asyncLessonId" />
                <input type="hidden" id="SharepointToken" name="SharepointToken" value="@ViewBag.SharepointToken" />
                <input type="hidden" id="OldUserId" name="OldUserId" value="@ViewBag.oldUsersID" />
                <input type="hidden" id="SchoolCode" name="SchoolCode" value="@ViewBag.SchoolCode" />
                <div class="column-padding py-4">
                    <div class="row">
                        <div class="col-md-12 col-lg-7 col-12">
                            <h4 class="sub-heading text-semibold text-black-50 mb-3">@ResourceManager.GetString("Assignment.Assignment.AssignmentBasicDetails") </h4>
                            <div class="md-form md-outline">
                                @Html.TextBoxFor(x => x.AssignmentTitle, new { @class = "form-control" })
                                @Html.LocalizedLabel("active", "Assignment.Assignment.AssignmentTitle")
                                @Html.ValidationMessageFor(x => x.AssignmentTitle)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="md-form md-outline">
                                @Html.TextAreaFor(x => x.AssignmentDesc, new { @class = "md-textarea form-control ck-Editor" })
                                @Html.LocalizedLabel("active", "Assignment.Assignment.AssignmentDesc")
                                @Html.ValidationMessageFor(x => x.AssignmentDesc)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="md-form md-outline">
                                @Html.DropDownListFor(x => x.SchoolGroupIds, ViewBag.lstSchoolGroup as List<SelectListItem>, new { @class = "selectpicker ddlSchoolGroup", @name = "SchoolGroupId", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true", @data_dropdown_align_right = systemlangaugeid == 2 ? "true" : "auto", @title = selectText })
                                @Html.LocalizedLabel("active select-label", "Assignment.Assignment.SchoolGroupIds")
                                @Html.ValidationMessageFor(x => x.SchoolGroupIds)
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="md-form md-outline">
                                @Html.DropDownListFor(x => x.CourseIds, new MultiSelectList(ViewBag.CourseList, "Value", "Text", Model.CourseId), new { @class = "selectpicker ddlCourse", @name = "CourseId", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true", @title = selectText })
                                @Html.LocalizedLabel("active select-label", "Assignment.Assignment.CourseId")
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="md-form md-outline">
                                @Html.DropDownListFor(x => x.StudentIds, new MultiSelectList(ViewBag.StudentList, "Value", "Text", Model.StudentId), new { @class = "selectpicker ddlStudentList", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true", @title = selectText })
                                @Html.LocalizedLabel("active select-label", "Assignment.Assignment.SelectStudent")
                                @Html.ValidationMessageFor(x => x.StudentIds)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="md-form md-outline">
                                @Html.DropDownListFor(d => d.AssignmentCategoryId, (SelectList)ViewBag.AssignmentCategoryList, selectText, new { @class = "selectpicker", @data_size = "5" })
                                @Html.LocalizedLabel("active select-label", "Assignment.AssignmentCategory.AssignmentCategoryName")
                                @Html.ValidationMessageFor(x => x.AssignmentCategoryId)
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h4 class="sub-heading text-semibold text-black-50 mb-3">@ResourceManager.GetString("Assignment.Assignment.HomeWorkDates")</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-12">
                            <div class="md-form md-outline date-time-picker date-icon arabictxt">
                                @Html.TextBox("strStartDate", Model.StartDate, "{0:dd-MMM-yyyy}", new { @class = "form-control date-picker1" })
                                @Html.ValidationMessageFor(x => x.strStartDate)
                                <label class="active">@ResourceManager.GetString("Assignment.Assignment.strStartDate") <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-12">
                            <div class="md-form md-outline date-time-picker date-icon arabictxt">
                                @Html.TextBox("strDueDate", Model.DueDate, "{0:dd-MMM-yyyy HH:mm}", new { @class = Model.SubmissionType != 3 ? "form-control date-picker2" : "form-control date-picker2 ignore" })
                                @Html.ValidationMessageFor(x => x.strDueDate)
                                <label class="active">@ResourceManager.GetString("Assignment.Assignment.strDueDate") <span class="text-danger" id="validateDueDate">*</span></label>

                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-12">
                            <div class="md-form md-outline date-time-picker time-icon">
                                @Html.TextBoxFor(x => x.DueTimeString, new { @class = Model.SubmissionType != 3 ? "form-control time-picker" : "form-control time-picker ignore", data_type = "timepicker" })
                                @Html.ValidationMessageFor(x => x.DueTimeString)
                                <label class="active">@ResourceManager.GetString("Assignment.Assignment.DueTime") <span class="text-danger" id="validateDueTimeString">*</span> </label>

                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-12">
                            <div class="md-form md-outline date-time-picker date-icon arabictxt">
                                @Html.TextBox("strArchiveDate", Model.ArchiveDate, "{0:dd-MMM-yyyy HH:mm}", new { @id = "ArchiveDate", @class = "form-control date-picker", @placeholder = ResourceManager.GetString("Assignment.Assignment.ArchiveDate") })
                                @Html.ValidationMessageFor(x => x.strArchiveDate)
                                @Html.LocalizedLabel("active", "Assignment.Assignment.strArchiveDate")
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <h4 class="sub-heading text-semibold text-black-50 mb-3">@ResourceManager.GetString("Assignment.Assignment.AssignmentMarks") </h4>
                        </div>
                        <div class="col-md-3 col-lg-3 col-12">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(x => x.IsAssignmentMarksEnable, new { @class = "custom-control-input" })
                                @Html.LocalizedLabel("Assignment.Assignment.IsAssignmentMarksEnable", new { @class = "custom-control-label", @for = "IsAssignmentMarksEnable" })
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-12">
                            <div class="md-form md-outline">
                                @Html.TextBoxFor(x => x.AssignmentMarks, new { @class = "form-control", @onkeypress= "return addEditAssignment.isNumberKey(event);" })
                                @Html.LocalizedLabel("active", "Assignment.Assignment.AssignmentMarks")
                                @Html.ValidationMessageFor(x => x.AssignmentMarks)
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-3 col-12">
                            <h4 class="sub-heading text-semibold text-black-50">@ResourceManager.GetString("Assignment.Assignment.SubmissionType")</h4>
                            <div class="custom-control custom-radio">
                                @Html.RadioButtonFor(model => model.SubmissionType, "1", new { @class = "custom-control-input", @id = "submissiontype1", @name = "SubmissionType", @checked = Model.IsAddMode })
                                <label for="submissiontype1" class="custom-control-label">@ResourceManager.GetString("Assignment.Assignment.SubmitFileToVLE")</label>
                            </div>
                            <div class="custom-control custom-radio">
                                @Html.RadioButtonFor(model => model.SubmissionType, "2", new { @class = "custom-control-input", @name = "SubmissionType", @id = "submissiontype2" })
                                <label for="submissiontype2" class="custom-control-label">@ResourceManager.GetString("Assignment.Assignment.ByHand")</label>
                            </div>
                            <div class="custom-control custom-radio">
                                @Html.RadioButtonFor(model => model.SubmissionType, "3", new { @class = "custom-control-input", @name = "SubmissionType", @id = "submissiontype3" })
                                <label for="submissiontype3" class="custom-control-label">@ResourceManager.GetString("Assignment.Assignment.NotRequired")</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <h4 class="sub-heading text-semibold text-black-50">@ResourceManager.GetString("Assignment.Assignment.AdditionalOption")</h4>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6 col-12">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(x => x.IsInstantMailToParent, new { @class = "custom-control-input" })
                                @Html.LocalizedLabel("Assignment.Assignment.IsInstantMailToParent", new { @class = "custom-control-label", @for = "IsInstantMailToParent" })
                            </div>
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(x => x.IsNotificationToParent, new { @class = "custom-control-input" })
                                @Html.LocalizedLabel("Assignment.Assignment.IsNotificationToParent", new { @class = "custom-control-label", @for = "IsNotificationToParent" })

                            </div>
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(x => x.IsInstantNotificationMailToStudent, new { @class = "custom-control-input" })
                                @Html.LocalizedLabel("Assignment.Assignment.IsInstantNotificationMailToStudent", new { @class = "custom-control-label", @for = "IsInstantNotificationMailToStudent" })
                            </div>
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(x => x.CreateSeperateFileCopy, new { @class = "custom-control-input" })
                                @Html.LocalizedLabel("Assignment.Assignment.CreateSeperateFileCopy", new { @class = "custom-control-label", @for = "CreateSeperateFileCopy" })
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(x => x.IsConsiderForGrading, new { @class = "custom-control-input" })
                                @Html.LocalizedLabel("Assignment.Assignment.IsConsiderForGrading", new { @class = "custom-control-label", @for = "IsConsiderForGrading" })
                            </div>
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(x => x.IsPeerMarkingEnable, new { @class = "custom-control-input" })
                                @Html.LocalizedLabel("Assignment.Assignment.IsPeerMarkingEnable", new { @class = "custom-control-label", @for = "IsPeerMarkingEnable" })
                                <a id="btnEditPeerReview" href="javascript:void(0)" class="@EditPeerEnable ml-2">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            </div>
                            <div class="custom-control custom-checkbox d-none">
                                @Html.CheckBoxFor(x => x.EnablePlagarism, new { @class = "custom-control-input" })
                                @Html.LocalizedLabel("Assignment.Assignment.EnablePlagarism", new { @class = "custom-control-label", @for = "EnablePlagarism" })

                            </div>
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(x => x.IsConsiderForFinalGrade, new { @class = "custom-control-input" })
                                @Html.LocalizedLabel("Assignment.Assignment.IsConsiderForFinalGrade", new { @class = "custom-control-label", @for = "IsConsiderForFinalGrade" })
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <h4 class="sub-heading text-semibold text-black-50">@ResourceManager.GetString("Assignment.Assignment.Attachments")</h4>
                        </div>
                    </div>
                    <div class="col-md-12 col-12">
                        <div class="column-padding py-4 attachment-list" id="attachmentslistOnDetailPage">
                            @if (Model.lstDocuments != null)
                            {
                                @Html.Partial("_AssignmentFilelist", Model.lstDocuments);
                            }
                            else
                            {
                                <div class="col-12">
                                    <span class="no-data-found text-bold d-block mx-auto my-5">
                                        @ResourceManager.GetString("Shared.Labels.NoRecords")
                                    </span>
                                </div>
                            }
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 d-flex d-sm-inline-block flex-column text-right">
                            <button type="button" id="btnSubmit" onclick="addEditAssignment.saveAssignmentBasicDetails();" class="btn btn-primary m-0 mb-1">@ResourceManager.GetString("Assignment.Assignment.SaveNContinue")</button>
                            <button type="button" style="display:@displayPublish;" class="btn btn-primary m-0 mb-1" onclick="addEditAssignment.saveAssignmentData(this,false);">@ResourceManager.GetString("Shared.Labels.SaveAsDraft")</button>
                            <button type="button" style="display:@displayPublish;" class="btn btn-primary m-0 mb-1" id="btnAddAssignment" onclick="addEditAssignment.saveAssignmentData(this,true);">@(Model.AssignmentId == 0 ? @ResourceManager.GetString("Assignment.Assignment.CreateNewActivity") : @ResourceManager.GetString("Assignment.Assignment.UpdateActivity")) </button>
                        </div>
                    </div>
                </div>
            }


            <!-- add attachment menu -->
            <nav class="cd-stretchy-nav position-fixed">
                <a class="cd-nav-trigger" href="javascript:;">
                    Menu
                    <span aria-hidden="true"></span>
                </a>
                <ul>
                    @*<li data-toggle="tooltip" data-placement="left" title="@ResourceManager.GetString("Files.Bookmark.BookmarkId")">
                            <a href="javascript:;" id="btnAddBookmark">
                                <span><img src="~/Content/vle/img/svg/ic-bookmark.svg" alt=""></span>
                            </a>
                        </li>*@
                    <li data-toggle="tooltip" data-placement="left" title="@ResourceManager.GetString("Files.File.OneDrive")">
                        <a href="javascript:void(0)" data-title="@ResourceManager.GetString("Files.File.OneDriveFiles")" class="one-drive-file cloud-file-view file-explorer" data-uploadmoduletype="@((short)Phoenix.Common.Enums.FileUploadModuleType.Assignment)" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.OneDrive)">
                            <span><img src="~/Content/vle/img/svg/ic-one-drive.svg" alt=""></span>
                        </a>
                    </li>
                    @if (SessionHelper.CurrentSession.GoogleDriveIntegrationType != (short)Phoenix.Common.Enums.GoogleDriveIntegrationType.None)
                    {
                        <li data-toggle="tooltip" data-placement="left" title="@ResourceManager.GetString("Files.File.GoogleDrive")">
                            <a href="javascript:void(0)" data-title="@ResourceManager.GetString("Files.File.GoogleDriveFiles")" class="google-drive-file cloud-file-view file-explorer" data-uploadmoduletype="@((short)Phoenix.Common.Enums.FileUploadModuleType.Assignment)" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.GoogleDrive)">
                                <span><img src="~/Content/vle/img/svg/ic-google-drive.svg" alt=""></span>
                            </a>
                        </li>
                    }
                    <li data-toggle="tooltip" data-placement="left" title="@ResourceManager.GetString("Files.File.File")">
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#fileUploadModal">
                            <span><img src="~/Content/vle/img/svg/ic-file.svg" alt=""></span>
                        </a>
                    </li>
                </ul>
                <span aria-hidden="true" class="stretchy-nav-bg"></span>
            </nav>
            <!-- add attachment menu -->
            @{
                Html.RenderPartial("~/Areas/Files/Views/Shared/_AddEditFile.cshtml");
            }
        </div>

        <div class="tab-pane fade" id="tagCurriculum" role="tabpanel">
            <div class="column-padding py-4">
                <div class="tagCurriculum">
                    <div class="row">
                        @*<div class="col-lg-3 col-md-4 col-12">
                                <div class="search-list h-100">
                                    <div class="search-row">
                                        <div class="sort-dropdown month-dropdown">
                                            <select class="selectpicker">
                                                <option class="border-bottom" value="All Groups">Search Subjects</option>
                                                <option class="border-bottom" value="Sample 1">Sample 1</option>
                                                <option class="" value="Sample 2">Sample 2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <ul class="persons-list">
                                        <li><a href="#">Henry Purcell</a> </li>
                                        <li><a href="#">Charles Darwin <span class="number-count">3</span></a></li>
                                        <li><a href="#">Samantha Joe</a></li>
                                        <li><a href="#">William Shakespeares <span class="number-count">3</span></a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                        <li><a href="#">John Lennon</a></li>
                                    </ul>
                                </div>
                            </div>*@
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="search-with-bg align-items-center d-flex justify-content-between py-1 px-3">
                                <input type="search" id="txtSearchLesson" class="searchfield" placeholder="@ResourceManager.GetString("Assignment.Assignment.SearchTopic")">
                                <div class="md-outline check-item d-flex align-items-center mr-2">
                                    <label for="group-value10">
                                        <label for="group-value10" class="text-medium mr-2">@ResourceManager.GetString("Shared.Labels.SelectAll")</label>
                                        <input type="checkbox" id="group-value10" class="mr-1">
                                    </label>
                                </div>
                            </div>
                            <!--Accordion wrapper-->
                            <div class="accordion curriculum-accordion" id="topicAccordion">

                            </div>
                            <!-- Accordion wrapper -->
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 text-right">
                        <button type="button" id="btnSaveObjective" class="btn btn-primary m-0">@ResourceManager.GetString("Assignment.Assignment.SaveNContinue")</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="gradingTemplate" role="tabpanel">
            <div class="column-padding py-4">
                <table id="tbl-grading-list" class="table table-hover table-responsive-md" cellspacing="0" width="100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>@ResourceManager.GetString("Shared.Labels.Select")</th>
                            <th>@LocalizationHelper.GetResourceText("ListCategories.GradingTemplates.GradingTemplateLogo")</th>
                            <th>@LocalizationHelper.GetResourceText("ListCategories.GradingTemplates.TemplateName")</th>
                            <th>@LocalizationHelper.GetResourceText("ListCategories.GradingTemplates.GradingTemplateDesc")</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lstGradingtemplate)
                        {
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input chkSelectGradingTemplate" data-val="true" data-id="@item.GradingTemplateId" id="chkSelectGradingTemplate_@item.GradingTemplateId" type="checkbox" value="true">
                                        <label class="custom-control-label" for="chkSelectGradingTemplate_@item.GradingTemplateId"></label>
                                    </div>
                                </td>
                                @if (item.IsEditable)
                                {
                                    var templateLogoPath = PhoenixConfiguration.Instance.ReadFilePath + item.GradingTemplateLogo;

                                    <td><img src="@templateLogoPath" style="height:70%; max-height:44px" /></td>
                                }
                                else
                                {
                                    <td><img src="@item.GradingTemplateLogo" style="height:70%;" /></td>
                                }
                                <td>@item.GradingTemplateTitle</td>
                                <td>@item.GradingTemplateDesc</td>
                            </tr>
                        }

                    </tbody>
                </table>

                <div class="row">
                    <div class="col-12 text-right">
                        <button type="button" onclick="addEditAssignment.loadTaskList()" class="btn btn-primary m-0">@ResourceManager.GetString("Assignment.Assignment.SaveNContinue")</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-pane fade" id="taskAddEdit" role="tabpanel">
            <div class="column-padding py-4 position-relative">
                <div>
                    <button type="button" style="display:@displayPublish;" class="btn btn-primary btn-sm m-0 position-absolute create-new-task" data-toggle="collapse" onclick="addEditAssignment.addEditAssignmentTask(this, 0, true)" aria-expanded="false" aria-controls="collapseTaskAddEdit">
                        <i class="fas fa-plus mr-2"></i>
                        @ResourceManager.GetString("Assignment.AssignmentTask.CreateTask")
                    </button>
                    <div class="collapse" id="collapseTaskAddEdit">
                        <div id="addEditTaskDetails"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 @taskOrderClass" id="divTaskOrdering">
                        <div class="custom-control custom-checkbox">
                            @Html.CheckBoxFor(x => x.IsTaskOrderRequired, new { @class = "custom-control-input" })
                            @Html.LocalizedLabel("Assignment.Assignment.IsTaskOrderRequired", new { @class = "custom-control-label", @for = "IsTaskOrderRequired" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="tasksInfo" class="sortable-tasks">
                            @if (Model.lstAssignmentTasks.Count > 0)
                            {
                                @Html.Partial("_TaskList", Model)
                            }
                            else
                            {
                                <span class="no-data-found text-bold d-block mx-auto my-5">
                                    @ResourceManager.GetString("Shared.Labels.NoRecords")
                                </span>
                            }

                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-12 d-flex d-sm-inline-block flex-column text-right">
                        <button type="button" id="btnCancelAssign" class="btn btn-outline-primary mr-1 m-0 mb-1">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                        <button type="button" style="display:@displayPublish;" class="btn btn-primary m-0 mb-1" onclick="addEditAssignment.saveAssignmentData(this,false);">@ResourceManager.GetString("Shared.Labels.SaveAsDraft")</button>
                        @*<button type="button" onclick="addEditAssignment.saveAssignmentData(true)" class="btn btn-primary m-0 mb-3">@ResourceManager.GetString("Assignment.Assignment.UpdateActivity")</button>*@
                        <button type="button" style="display:@displayPublish;" class="btn btn-primary m-0 mb-1" id="btnAddAssignment" onclick="addEditAssignment.saveAssignmentData(this,true);">@(Model.AssignmentId == 0 ? @ResourceManager.GetString("Assignment.Assignment.CreateNewActivity") : @ResourceManager.GetString("Assignment.Assignment.UpdateActivity")) </button>
                    </div>
                </div>
            </div>

        </div>




        <!-- add attachment menu -->
        <!-- add attachment menu -->
        <div class="tab-pane fade" id="attachments" role="tabpanel">
            <div class="column-padding py-4 attachment-list" id="attachmentslist">
                @if (Model.lstDocuments != null)
                {
                    @Html.Partial("_AssignmentFilelist", Model.lstDocuments);
                }
                else
                {
                    <div class="col-12">
                        <span class="no-data-found text-bold d-block mx-auto my-5">
                            @ResourceManager.GetString("Shared.Labels.NoRecords")
                        </span>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}

@section scripts
{
    <script type="text/javascript">
     translatedResources.AssignmentTask = '@ResourceManager.GetString("Assignment.AssignmentTask.TaskId")';
     translatedResources.GradingTemplate = '@ResourceManager.GetString("Assignment.Assignment.GradingTemplateId")';
     translatedResources.Select = '@ResourceManager.GetString("Shared.Labels.Select")';
        translatedResources.DeleteTaskSuccess = '@ResourceManager.GetString("Assignment.AssignmentMessages.taskDeletionSuccess")';
        translatedResources.SelectCurriculum = '@ResourceManager.GetString("Assignment.Assignment.CurriculumSelect")';
        translatedResources.SelectAllObjectiveMessage = '@ResourceManager.GetString("Assignment.Assignment.SelectAllObjectiveMessage")';
        translatedResources.SelectSubjectError = '@ResourceManager.GetString("Assignment.Assignment.SelectSubjectError")';
        translatedResources.DeleteObjectiveSuccess = '@ResourceManager.GetString("Assignment.Assignment.DeleteObjectiveMessage")';
        translatedResources.FileSelect = '@ResourceManager.GetString("Shared.Labels.FileSelect")';
        translatedResources.UploadLimit = '@ResourceManager.GetString("Shared.Labels.UploadLimit")'
        translatedResources.UploadSuccess = '@ResourceManager.GetString("Shared.Labels.UploadSuccess")'
        translatedResources.FileTypes =@Html.Raw(Json.Encode(ViewBag.FileExtension));
        translatedResources.UpdatePeerReview = '@ResourceManager.GetString("Shared.Labels.FileSelect")';
        translatedResources.PeerManagerTitle = '@ResourceManager.GetString("Assignment.PeerManager.PanelTitle")';
           translatedResources.SavePeerMappingMessage='@ResourceManager.GetString("Assignment.PeerManager.SuccessPeerMarkingMessage")';
           translatedResources.HTMLVideoUnsupported='@ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")';
           translatedResources.PleaseSelect='@ResourceManager.GetString("Shared.Messages.PleaseSelect")';
        translatedResources.ConfirmRedirection = '@ResourceManager.GetString("Shared.Messages.ConfirmRedirection")';
        translatedResources.StudentSelectionMessage = '@ResourceManager.GetString("Assignment.AssignmentMessages.StudentSelectionMessage")';
        translatedResources.TaskSaveMessage = '@ResourceManager.GetString("Assignment.AssignmentMessages.TaskSaveMessage")';
        translatedResources.ObjectiveSelectionSuccess = '@ResourceManager.GetString("Assignment.AssignmentMessages.ObjectiveUpdateSuccess")';
        translatedResources.quizTimeValidation = '@ResourceManager.GetString("Quiz.Quiz.TimeValidation")';
        translatedResources.scoreDateValidation = '@ResourceManager.GetString("Quiz.Quiz.ScoreDateValidation")';
        translatedResources.TaskMarkError = '@ResourceManager.GetString("Assignment.AssignmentTask.TaskMarkError")';
    </script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.jsonloader.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/Common/FileDownloader.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>
        $(function () {
            $("#taskList").sortable();
            $("#taskList").disableSelection();
            var maxLength = 18;
            $('.ddlStudentList > option').text(function (i, text) {
                if (text.length > maxLength) {
                    return text.substr(0, maxLength) + '...';
                }
            });
            $('.respTabs .nav-link').click(function () {
                let tabId = $(this).data('href');
                $("a.nav-link, div.tab-pane").removeClass("show active");
                $(tabId).addClass("show active");
            });
        });
    </script>

    <script src="@Url.Content("~/Content/js/ckeditor/ckeditor.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    @*<script src="@Url.Content("~/Content/VLE/js/addons/AssignmentFileInput/fileinput.js?v=" + @ResourceManager.GetString("Shared.Version.Js"))"></script>*@
    <script src="@Url.Content("~/Content/js/custom/Assignment/AddEditAssignment.js?v=" + @ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/js/addons/respTabs.js")"></script>

    @*<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>*@


}



