﻿@model Phoenix.Models.Assignment
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{
    /**/

    var rnd = DateTime.Now.Ticks.ToString();
}
<div class="teachers-new-assignment">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">

            <div class="card">
                <div class="card-body min-height">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                    <h3 class="card-title">@ResourceManager.GetString("Assignment.Assignment.ArchiveAssignment")</h3>
                                    <div class="pt-3 pb-3 column-padding">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <h4 class="sub-heading">@ResourceManager.GetString("Assignment.Assignment.ActiveAssignment")</h4>
                                                <div class="row mb-2">
                                                    <div class="col-lg-12 col-md-12 col-12 task-search border-0">
                                                        <div class="search-wrapper border">
                                                            <i class="fas fa-search active"></i>
                                                            <input type="text" id="availableMemberSearch" class="search-field" placeholder="@ResourceManager.GetString("Assignment.Assignment.SearchAssignment")">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <div class="border rounded column-padding pt-2 pb-3">
                                                            @*<div class="custom-control custom-checkbox ml-1 pb-2">
                                                                    <input type="checkbox" class="custom-control-input" id="selectAllUnassigned" title="SelectAll" value="SelectAll" />
                                                                    <label class="custom-control-label to-sentence-case" for="selectAllUnassigned">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SelectAll")</label>
                                                                </div>*@
                                                            <div class="delegates-wrapper ">
                                                                <div id="activeAssignmentList">
                                                                    @Html.Partial("_GetActiveAssignments", Model.lstActiveAssignments)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                                                        {
                                                            <button class="btn btn-primary btn-sm m-0" id="btnViewOnly" onclick="archiveActiveAssignments()" href="javascript:void(0)">@ResourceManager.GetString("Assignment.Assignment.Archive")<i class="fas fa-eye ml-2"></i></button>
                                                            <button onclick="window.location.href='/assignments/assignment/ArchivedIndex'" class="btn btn-primary btn-sm m-0">@ResourceManager.GetString("Assignment.Assignment.ArchiveAssignment")<i class="fas fa-eye ml-2"></i></button>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <h4 class="sub-heading">@ResourceManager.GetString("Assignment.Assignment.ArchivedAssignments")</h4>
                                                <div class="row mb-2">
                                                    <div class="col-lg-12 col-md-12 col-12 task-search border-0">
                                                        @*<div class="input-group">
                                                                <input type="text" id="groupMemberSearch" placeholder="Search" class="form-control sp-search" />
                                                                <span class="sp-btn-search input-group-addon add-on"><span class="fa fa-search"></span></span>
                                                            </div>*@
                                                        <div class="search-wrapper border">
                                                            <i class="fas fa-search active"></i>
                                                            <input type="text" id="groupMemberSearch" class="search-field" placeholder="@ResourceManager.GetString("Assignment.Assignment.SearchAssignment")">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <div class="border rounded column-padding pt-2 pb-3">
                                                            @*<div class="custom-control custom-checkbox ml-1 pb-2">
                                                                    <input type="checkbox" class="custom-control-input" id="selectAllAssigned" title="SelectAll" value="SelectAll" />
                                                                    <label class="custom-control-label to-sentence-case" for="selectAllAssigned">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SelectAll")</label>
                                                                </div>*@
                                                            <div class="delegates-wrapper ">
                                                                <div id="archiveAssignmentList">
                                                                    @Html.Partial("_GetArchiveAssignments", Model.lstArchiveAssignments)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{
    <script type="text/javascript">
        translatedResources.SelectAssignmentToArchive = '@ResourceManager.GetString("Assignment.AssignmentMessages.SelectAssignmentToArchive")';
    </script>
    <script src="@Url.Content("~/Content/js/custom/Assignment/ArchiveAssignment.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}



































