﻿@model List<Phoenix.Common.Models.AssignmentCategory>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common
@using Phoenix.Common.Helpers
@{
    ViewBag.Title = ResourceManager.GetString("Assignment.AssignmentCategory.AssignmentCategoryName");
    ViewBag.headerIcon = "ic-groups title-icon";
    var rnd = DateTime.Now.Ticks.ToString();
}


<div class="row search-row justify-content-end pb-2">
    <div class="col-12 col-lg-8 col-md-10 d-flex flex-column flex-md-row justify-content-end ">
        <div class="search-with-bg w-responsive mb-2 mb-md-0">
            <span class="icon-search "></span>
            <input type="text" id="AssignmentCategorySearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
        </div>
        @if (Html.CurrentPagePermission().CanEdit)
        {
            <button id="btnAddAssignmentCategory" type="button" class="btn btn-primary rounded-6x m-0 ml-0 ml-md-3 mt-md-0"><i class="fa fa-plus mr-2"></i>@ResourceManager.GetString("Planner.EventCategory.AddCategory")</button>
        }
    </div>
</div>

<div class="row grid-view">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card grid-list-card">
            <div class="list-wrapper table-responsive">
                <table class="table mw-100 dataTable no-footer" id="tblAssignmentCategory">
                    <thead class="thead-dark"></thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
         translatedResources.MarkAssignmentCategory = '@ResourceManager.GetString("Shared.Messages.MarkAssignmentCategory")';
         translatedResources.UnMarkAssignmentCategory = '@ResourceManager.GetString("Shared.Messages.UnMarkAssignmentCategory")';
         translatedResources.InsertAssignmentCategory = '@ResourceManager.GetString("Shared.Messages.InsertAssignmentCategory")';
         @*translatedResources.AssignmentCategoryError = '@ResourceManager.GetString("Assignment.Assignment.AssignmentCategoryError")';*@
        translatedResources.AssignmentCategoryName = '@ResourceManager.GetString("Assignment.AssignmentCategory.AssignmentCategoryName")';
        translatedResources.Description = '@ResourceManager.GetString("Assignment.AssignmentCategory.Description")';
        translatedResources.IsActive = '@ResourceManager.GetString("Assignment.AssignmentCategory.IsActive")';
        translatedResources.actions='@ResourceManager.GetString("Assignment.AssignmentCategory.actions")';
    </script>

    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Assignment/AssignmentCategory.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}