﻿@model Phoenix.Models.Assignment
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Models;
@{
    //ViewBag.Title = Model[0].AssignmentTitle;

    ViewBag.Title = ResourceManager.GetString("Assignment.Assignment.AssignmentId");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-assignments.svg");
    var rnd = DateTime.Now.Ticks.ToString();

    var isArchieved = Model.ArchiveDate.HasValue ? (DateTime.Compare(Model.ArchiveDate.Value, DateTime.Today) <= 0 ? true : false) : false;
    Session["IsArchived"] = isArchieved;
    Session["AssignmentIdForXls"] = Model.AssignmentId;
    List<AssignmentPeerReview> lstAssignmentPeers = (List<AssignmentPeerReview>)ViewBag.lstPeersAssignments;
    var encryAssignmentId = EncryptDecryptHelper.EncryptUrl(Model.AssignmentId);
}
<style>
    @@media (max-width:767px) {
        .assignment-details .member-data button {
            padding: 5px 8px !important;
        }

        .assignment-details .member-data span {
            padding: 5px 8px !important;
        }
    }

    i.fa-clipboard-list.text-warning::before {
        color: #fb3 !important;
    }

    i.fa-clipboard-check.text-success::before {
        color: #1fce56 !important
    }

    .description a {
        text-decoration: underline;
        color: #5d3195;
    }
</style>
@Html.HiddenFor(x => x.AssignmentId)
@Html.Hidden("IsArchived", isArchieved)
<div class="assignment-details">
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-12">
            <div class="row mb-2">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- Description content start -->
                            <div class="assignment-description">
                                <div class="title-with-fields">
                                    <h3 class="card-title">@Model.AssignmentTitle</h3>
                                    <div class="title-actions text-right">
                                        @if (Html.CurrentPagePermission().CanEdit && !isArchieved)
                                        {
                                            <a href="/Assignments/Assignment/AddEditAssignment?id=@EncryptDecryptHelper.EncryptUrl(Model.AssignmentId.ToString())" data-toggle="tooltip" data-html="false" data-placement="top" title="@ResourceManager.GetString("Assignment.Assignment.EditAssignment")"><i class="far fa-edit"></i></a>
                                        }
                                        @*<a href="#" data-toggle="tooltip" data-html="false" data-placement="top" title="Archive this assignment"><i class="far fa-file-archive"></i></a>
                                            <a href="#" data-toggle="tooltip" data-html="false" data-placement="top" title="Download assignment"><i class="far fa-save"></i></a>*@
                                    </div>
                                </div>
                                <div class="description column-padding pt-3 pb-3">
                                    @*<p>Dear Students,</p>
                                        <p>Your assignment for this week is to attend the Global Innovation Challenge at WSO on 3rd Feb 2018 and interact with the teams there.</p>
                                        <p>Take a lot of photographs and write a report on the teams that have inspired you.</p>*@
                                    <p>@Html.Raw(Model.AssignmentDesc)</p>
                                </div>
                            </div>
                            <!-- Description content end -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- Member content start -->
                            <div class="member-data ">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <div class="title-with-fields">
                                            <h3 class="card-title">@ResourceManager.GetString("Shared.Labels.Members") (@Model.lstAssignmentStudent.Count)</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-padding pt-3 pb-3">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                            <div class="table-wrapper table-responsive">
                                                <table id="assignment-assignee-table" class="table student-list-table dataTable no-footer m-0" cellspacing="0" width="100%">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th class="text-center align-middle">
                                                                <div class="check-item">
                                                                    <label for="group-value-stdassignments">
                                                                        <input class="chkAllStdAssignments" style="position:static !important" type="checkbox" data-id="10186" id="group-value-stdassignments" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                                                    </label>
                                                                </div>
                                                            </th>
                                                            <th>@ResourceManager.GetString("Shared.Labels.Member")</th>
                                                            <th class="text-center">@ResourceManager.GetString("Assignment.StudentGrid.PeerReviewStatus")</th>
                                                            <th class="text-center">@ResourceManager.GetString("Assignment.StudentGrid.MistakesCount")</th>
                                                            <th class="text-center"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.lstAssignmentStudent)
                                                        {
                                                            <tr data-studid="@item.StudentId" data-studname="@item.StudentName" data-attachmentcount="@item.lstStudentAsgFiles.Count">
                                                                <td class="text-center align-middle">
                                                                    <div class="check-item">
                                                                        <label for="group-value">
                                                                            <input class="chkStudentAssignments" style="position:static !important" type="checkbox" data-id="10186" id="group-value" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td class="row-folder" style="vertical-align:middle">
                                                                    <a class="folder-meta" href="/Assignments/Assignment/TeacherStudentAssignment?id=@EncryptDecryptHelper.EncryptUrl(item.AssignmentStudentId.ToString())">
                                                                        <span data-toggle="tooltip">
                                                                            @if (Convert.ToBoolean(item.IsCompletedByStudent) && !item.CompleteMarkByTeacher)
                                                                            {
                                                                                <i class="fas fa-clipboard-list mark-by-student text-warning"></i>
                                                                            }
                                                                            else if (item.CompleteMarkByTeacher)
                                                                            {
                                                                                <i class="fas fa-clipboard-check mark-by-teacher text-success">
                                                                                </i>
                                                                            }
                                                                            else
                                                                            {
                                                                                <i class="far fa-clipboard"></i>
                                                                            }
                                                                            <span class="ml-2 ss">  @item.StudentName</span>
                                                                        </span>
                                                                    </a>
                                                                </td>
                                                                <td class="text-center align-middle">
                                                                    @if (item.IsCompletedByStudent)
                                                                    {
                                                                        if (lstAssignmentPeers.Any(u => u.StudentId == item.StudentId))
                                                                        {
                                                                            var PeerReview = lstAssignmentPeers.Where(u => u.StudentId == item.StudentId).FirstOrDefault();
                                                                            <button type="button" class="btn btn-transparent btnReviewStudentHomework"
                                                                                    data-studasgid="@EncryptDecryptHelper.EncryptUrl(item.AssignmentStudentId.ToString())"
                                                                                    data-peerreviewid="@EncryptDecryptHelper.EncryptUrl(PeerReview.PeerReviewId.ToString())"
                                                                                    data-isreviewcompleted="@PeerReview.IsReviewCompleted"
                                                                                    data-toggle="tooltip" data-html="false"
                                                                                    data-placement="left"
                                                                                    data-assignmentId="@EncryptDecryptHelper.EncryptUrl(Model.AssignmentId)"
                                                                                    title="@(PeerReview.IsReviewCompleted ? ResourceManager.GetString("Assignment.AssignmentTooltip.ReviewCompleted") : ResourceManager.GetString("Assignment.AssignmentTooltip.ReviewStudentWork") )@PeerReview.ReviewerName">
                                                                                @if (SessionHelper.CurrentSession.Id == PeerReview.ReviewerId)
                                                                                {
                                                                                    <i class="@(PeerReview.IsReviewCompleted ? "fas fa-check-double text-success" : "fas fa-check-double")"></i>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <i class="@(PeerReview.IsReviewCompleted ? "fas fa-check-double text-success" : "fas fa-check")"></i>
                                                                                }

                                                                            </button>
                                                                        }

                                                                    }

                                                                </td>
                                                                <td class="text-center align-middle">
                                                                    @if (lstAssignmentPeers.Any(u => u.StudentId == item.StudentId))
                                                                    {
                                                                        var PeerReview = lstAssignmentPeers.Where(u => u.StudentId == item.StudentId).FirstOrDefault();
                                                                        if (PeerReview.IsReviewCompleted)
                                                                        {
                                                                            <span>@PeerReview.TotalMistakesCount </span>
                                                                        }

                                                                    }
                                                                </td>
                                                                <td class="text-right">
                                                                    <div class="d-flex align-items-center justify-content-end">
                                                                        @if (item.TotalStudentTaskCount > 0)
                                                                        {
                                                                            <a class="assignment-icon-group ml-2 d-flex align-items-center" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-html="true" data-title="@ResourceManager.GetString("Assignment.AssignmentTooltip.TaskCompletedByStudent")">
                                                                                @item.CompletedStudentTaskCount/@item.TotalStudentTaskCount  <i class="far fa-user ml-2"></i>
                                                                            </a>
                                                                        }
                                                                        @if (item.IsSeenByStudent)
                                                                        {
                                                                            <button type="button" class="btn btn-transparent ml-2" data-toggle="tooltip" data-html="false" data-placement="left" title="@ResourceManager.GetString("Assignment.AssignmentMessages.StudentSeenHomework")">
                                                                                <i class="far fa-eye"></i>
                                                                            </button>
                                                                        }
                                                                        else
                                                                        {
                                                                            <button type="button" class="btn btn-transparent ml-2" data-toggle="tooltip" data-html="false" data-placement="left" title="@ResourceManager.GetString("Assignment.AssignmentMessages.StudentUnseenHomework")">
                                                                                <i class="far fa-eye-slash"></i>
                                                                            </button>
                                                                        }
                                                                        @if (item.lstStudentAsgFiles.Count > 0)
                                                                        {
                                                                            <button type="button" class="btn btn-transparent ml-2" data-toggle="tooltip" data-html="false" data-placement="left" title="@item.lstStudentAsgFiles.Count @ResourceManager.GetString("Shared.Labels.FilesAttached")">
                                                                                <i class="fas fa-paperclip"></i>
                                                                                @*<span>@item.lstStudentAsgFiles.Count</span>*@
                                                                            </button>
                                                                        }
                                                                        @if (Html.CurrentPagePermission().CanEdit && !isArchieved)
                                                                        {
                                                                            if (Model.GradingTemplateId > 0)
                                                                            {
                                                                                <button type="button" class="btn btn-transparent btnAssignGradeToStudentInList ml-2" data-studentId="@item.StudentId" data-gradingId="@Model.GradingTemplateId" data-studentAsgId="@item.AssignmentStudentId" data-IsCompleted="@item.CompleteMarkByTeacher" data-toggle="tooltip" data-html="false" data-placement="left" title="@ResourceManager.GetString("Assignment.AssignmentTooltip.AssignGrade")">
                                                                                    <i class="fas fa-award"></i>
                                                                                </button>
                                                                            }
                                                                        }

                                                                        @if (item.GradingTemplateItemId > 0)
                                                                        {
                                                                            if (item.GradingTemplateItemSymbol != null ? !item.GradingTemplateItemSymbol.Contains(".png") : false)
                                                                            {
                                                                                <span id="gradingDiv_@item.AssignmentStudentId" class="taskGrade txt-grade ml-2">
                                                                                    <h2 class="m-0 text-bold" style="color:@item.GradingColor">@item.ShortLabel</h2>
                                                                                </span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span id="gradingDiv_@item.AssignmentStudentId" data-toggle="tooltip" title="@item.ShortLabel" data-title="@item.ShortLabel" data-placement="top" class="taskGrade ml-2">
                                                                                    <img class="img-fluid" style="height:20px;" src="@item.GradingTemplateItemSymbol" />
                                                                                </span>
                                                                            }
                                                                        }
                                                                        @*else
                                                                            {
                                                                                <span id="gradingDiv_@item.AssignmentStudentId" class="taskGrade ml-2">

                                                                                </span>
                                                                            }*@
                                                                        @if (item.CompletedOn != DateTime.MinValue)
                                                                        {
                                                                            <a class="assignment-icon-group ml-2" style="color:#adb0b3" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-html="true" data-title="@ResourceManager.GetString("Assignment.Assignment.AssignmentSubmissionDate")  <b class='tt-text-large'>@item.CompletedOn.ToString("dd-MMM-yyyy hh:mm tt")</b>">
                                                                                <i class="fas fa-calendar"></i>
                                                                            </a>
                                                                            if (!item.CompleteMarkByTeacher)
                                                                            {
                                                                                <a class="assignment-icon-group ml-2" style="color:#adb0b3" href="javascript:void(0);" onclick="assignmentStudentDetails.reSubmitAssignment(this,@item.StudentId,@item.AssignmentId);" data-toggle="tooltip" data-placement="top" data-html="true" data-title="@ResourceManager.GetString("Assignment.Assignment.IsResubmit")">
                                                                                    <i class="fas fa-edit"></i>
                                                                                </a>
                                                                            }
                                                                        }
                                                                    </div>
                                                                </td>
                                                                @*<td class="text-right">*@

                                                                @*</td>*@
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                                @*<div class="row">
                                                        <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-left pt-2 pb-2">
                                                           <a href="#" class="btn btn-outline-secondary">Send Reminder</a>
                                                                <a href="#" class="btn btn-outline-secondary">Grade</a>
                                                            <a href="#" class="btn btn-primary">Complete</a>
                                                        </div>
                                                    </div>*@
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center mt-3">
                                                @if (Html.CurrentPagePermission().CanEdit)
                                                {
                                                    <div>
                                                        <input type="button" class="btn btn-outline-primary btn-md m-2" value="@ResourceManager.GetString("Assignment.Assignment.DownloadAssignment")" id="btnStudAttachment">
                                                        @if (Model.IsQuizExist)
                                                        {
                                                            <input type="button" class="btn btn-outline-primary btn-md m-2" value="@ResourceManager.GetString("Assignment.Assignment.AssignmentReport")" id="btnAssignmentReport">
                                                        }
                                                    </div>
                                                    using (Html.BeginForm("DownloadReportDataAsExcelFile", "Assignment", FormMethod.Post, new { id = "frmAssignmentsByStudentReport", @class = "form-horizontal" }))
                                                    {
                                                        <button type="submit" name="action:DownloadReportToExcel" title="@ResourceManager.GetString("Shared.Buttons.DownloadExcel")" data-toggle="tooltip" class="float-right p-0 border-0 bg-transparent"><img src="~/Content/img/svg/file-type-excel.svg" class="svg" /></button>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Member content end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                            <div class="title-with-fields">
                                <h3 class="card-title">@ResourceManager.GetString("Shared.Labels.Attachments")</h3>
                            </div>
                        </div>
                    </div>
                    <!-- attachment content start -->
                    <div class="attachment-data column-padding pt-3 pb-3">

                        <div id="library" class="row view-group">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="attachment-list px-1" id="fileList">

                                    @if (Model.lstAssignmentFiles.Count > 0)
                                    {
                                        var imageList = Model.lstAssignmentFiles.AddImageVideoFiles();
                                        var otherFileList = Model.lstAssignmentFiles.AddNonMediaFiles();

                                        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-2" id="">
                                            @foreach (var item in imageList)
                                            {
                                                string filePath = "";
                                                if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                                {
                                                    filePath = item.ResourceFileTypeId == 0 ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName);

                                                }
                                                else
                                                {
                                                    filePath = item.ResourceFileTypeId == 0 ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : item.UploadedFileName;
                                                }
                                                var fileResources = CommonHelper.GetFileResources(item.FileName);
                                                <div class="col px-2">
                                                    <div class="card overflow-hidden rounded-2x">
                                                        @{
                                                            if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.FileName))
                                                            {
                                                                <a href="@filePath" target="_blank" title="Uploaded On: @item.CreatedOn.ToString("dd-MMM-yyyy hh:mm tt")" data-toggle="tooltip" class="@fileResources.Item2 attachedFile overflow-hidden d-flex align-items-center justify-content-center galleryImg" data-sub-html="Lorem ipsum">
                                                                    <i class="@fileResources.Item1"></i>
                                                                </a>
                                                            }
                                                            else if (Phoenix.Common.Helpers.CommonHelper.CheckVideoExtension(item.FileName))
                                                            {
                                                                <span class="video galleryImg" data-html="#@item.AssignmentFileId" data-poster="@Constants.DefaultVideoImage">
                                                                    <a href="@filePath" target="_blank" title="Uploaded On: @item.CreatedOn.ToString("dd-MMM-yyyy hh:mm tt")" data-toggle="tooltip" class="attachedFile overflow-hidden d-flex align-items-center justify-content-center galleryImg">
                                                                        <i class="flaticon-video"></i>
                                                                    </a>
                                                                </span>
                                                                <div style="display:none;" id="@item.AssignmentFileId">
                                                                    <video class="lg-video-object lg-html5" controls="" preload="none">
                                                                        <source src="@filePath" type="video/mp4">
                                                                        @ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")
                                                                    </video>
                                                                </div>
                                                            }
                                                        }
                                                        <div class="card-body position-relative">
                                                            <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                                                @item.FileName
                                                            </h4>

                                                        </div>

                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-2">
                                            @foreach (var item in otherFileList)
                                            {
                                                if (!item.FileName.ToLower().Contains(".wav"))
                                                {
                                                    string filePath = "";
                                                    if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                                    {
                                                        filePath = item.ResourceFileTypeId == 0 ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName);

                                                    }
                                                    else
                                                    {
                                                        filePath = item.ResourceFileTypeId == 0 ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : item.UploadedFileName;
                                                    }
                                                    var fileResources = CommonHelper.GetFileResources(item.FileName);
                                                    <div class="col px-2">
                                                        <div class="card rounded-2x overflow-hidden">
                                                            @{bool isSharedFile = Constants.IsWellFormedUriString(item.UploadedFileName); }
                                                            <a class="attachedFile overflow-hidden d-flex align-items-center justify-content-center @fileResources.Item2" href="@filePath" target="_blank" title="Uploaded On: @item.CreatedOn.ToString("dd-MMM-yyyy hh:mm tt")" data-toggle="tooltip" data-assignmentId="@item.AssignmentId" data-id="@EncryptDecryptHelper.EncryptUrl(item.AssignmentFileId)" data-uploadedPath="@item.UploadedFileName" data-fileName="@EncryptDecryptHelper.EncryptUrl(item.FileName)">
                                                                <i class="@fileResources.Item1"></i>
                                                            </a>
                                                            <div class="card-body position-relative">
                                                                <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                                                    @item.FileName
                                                                </h4>
                                                            </div>

                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>

                                    }

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- attachment content end -->
                </div>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{
    <script type="text/javascript">
        translatedResources.AssignmentTask = '@ResourceManager.GetString("Assignment.AssignmentTask.TaskId")';
        translatedResources.GradingTemplate = '@ResourceManager.GetString("Assignment.Assignment.GradingTemplateId")';
        translatedResources.Assign = '@ResourceManager.GetString("Assignment.Assignment.SelectGrade")';
        translatedResources.AssignmentGradingMessage = '@ResourceManager.GetString("Assignment.AssignmentMessages.AssignmentGradingMessage")';
        translatedResources.SelectAttachmentMessage = '@ResourceManager.GetString("Assignment.AssignmentMessages.SelectAttachmentMessage")';
        translatedResources.SelectMemberMessage='@ResourceManager.GetString("Assignment.AssignmentMessages.SelectMemberMessage")'
        translatedResources.ShowingPages = '@ResourceManager.GetString("Shared.Labels.ShowingPages")';
        translatedResources.Previous = '@ResourceManager.GetString("Shared.Buttons.Previous")';
        translatedResources.Next = '@ResourceManager.GetString("Shared.Buttons.Next")';
        translatedResources.SelectAssignmentToArchive = '@ResourceManager.GetString("Assignment.AssignmentMessages.SelectAssignmentToArchive")';
        translatedResources.BrowseFile = '@ResourceManager.GetString("Shared.Labels.BrowseFile")';
        translatedResources.TotalFiles = '@ResourceManager.GetString("Shared.Labels.TotalFiles")';
        translatedResources.SelectOrDeselect = '@ResourceManager.GetString("Shared.Messages.SelectOrDeselect")';
        translatedResources.AssignmentMarkComplete = '@ResourceManager.GetString("Assignment.AssignmentMessages.AssignmentMarkComplete")';
        translatedResources.AssignmentReSubmitted = '@ResourceManager.GetString("Assignment.AssignmentMessages.AssignmentReSubmitted")';
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Assignment/AssignmentStudentDetails.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        $(function () {
            if (localStorage.getItem("backdetailpagerefer") == null) {
            localStorage.setItem("backdetailpagerefer", document.referrer);
            }
            $('.back a').removeAttr('onClick');
            $(document).on('click', '.back', function (e) {
                var pathrefer = localStorage.getItem("backdetailpagerefer");
                window.location.href = pathrefer;
            });
            localStorage.removeItem("backpagerefer");
            $("#btnBack").show();
            globalFunctions.enableCheckboxCascade(".chkAllStdAssignments", '.chkStudentAssignments');
            $(document).on('click', '#btnBack', function () {
                 var isArchived = JSON.parse('@isArchieved'.toLowerCase());
                if (isArchived) {
                    location.href = "/assignments/assignment/ArchivedIndex";
                }
                else {
                    location.href = "/assignments/assignment";
                }
            });
            $(document).on('click', '#btnAssignmentReport', function () {
                 location.href = "/assignments/assignment/TaskReport?id=" + '@encryAssignmentId';
            });
        });
    </script>
}
