﻿@using Phoenix.Common.Localization
@{
    ViewBag.Title = "DeletedAssignment";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body py-5">
                <span class="no-data-found text-bold d-block mx-auto my-5">
                    @ResourceManager.GetString("Assignment.AssignmentMessages.AssignmentDeleted")
                </span>
            </div>
        </div>
    </div>

</div>
