﻿@using Phoenix.Common.Localization
@{
    ViewBag.Title = ResourceManager.GetString("Assignment.Assignment.GroupAssignments");
    var rnd = DateTime.Now.Ticks.ToString();
}
@using Phoenix.Common.Helpers
<div class="clearfix position-relative teacher-assignment">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div id="GroupAssignments" class="pagination-panel">  </div>
        </div>
        <span class="sr-only">(current)</span>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Assignment/GroupAssignments.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Assignment/AssignmentDashboard.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
