﻿@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization;
@{

    ViewBag.Title = ResourceManager.GetString("Assignment.Assignment.AssignmentId");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-assignments.svg");
    var rnd = DateTime.Now.Ticks.ToString();

}
@if (SessionHelper.CurrentSession.IsStudent() || SessionHelper.CurrentSession.IsParent())
{
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card min-height">
                <div class="card-body">
                    <div class="page-search column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="col-lg-7 col-md-10 col-10">
                                <div class="search-wrapper">
                                    <i class="fas fa-search active"></i>
                                    <input id="searchContent" type="text" class="search-field" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-2 col-2 text-right">
                                <div class="toggle-library d-inline-block mt-2">
                                    <a href="javascript:void(0)" id="grid"><i class="fas fa-th"></i></a>
                                    <a href="javascript:void(0)" id="list"><i class="fas fa-list"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Assignment content start -->
                    <div class="library-data column-padding pt-3 pb-3">

                        <div id="library" class="row view-group">
                            <div class="col-lg-12 col-md-12 col-12 assignment-list">
                                <div class="row pagination-data-body" id="divDatabody">

                                </div>
                            </div>
                            <div id="paged" class="pagination-paged">

                            </div>
                        </div>
                    </div>
                    <!-- Assignment content end -->
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="clearfix position-relative teacher-assignment">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="task-search column-padding pt-3 pb-3">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-12">
                                    <div class="search-wrapper">
                                        <i class="fas fa-search active"></i>
                                        <input id="searchContent" type="text" class="search-field" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12">
                                    <div class="md-form md-outline">
                                        @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                                        {
                                            <a href="/assignments/assignment/InitAddEditAassignmentForm" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light">@ResourceManager.GetString("Assignment.Assignment.AddAssignment")</a>

                                        }

                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-2 text-right">
                                    <div class="toggle-library d-inline-block mt-2">
                                        <a href="javascript:void(0)" id="grid"><i class="fas fa-th"></i></a>
                                        <a href="javascript:void(0)" id="list"><i class="fas fa-list"></i></a>
                                    </div>
                                </div>
                                @*@if (SessionHelper.CurrentSession.IsTeacher())
                                    {
                                        <div class="col-lg-7 col-md-7 col-12">
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-12 text-right">
                                            <a href="/assignments/assignment/InitAddEditAassignmentForm" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light">@ResourceManager.GetString("Assignment.Assignment.AddAssignment")</a>
                                        </div>
                                    }*@

                            </div>
                        </div>
                        <!-- Assignment content start -->
                        <div class="library-data column-padding pt-3 pb-3">

                            <div id="library" class="row view-group">
                                <div class="col-lg-12 col-md-12 col-12 td-assignment-list">

                                    <div class="row" id="divDatabody">


                                    </div>


                                </div>

                                <div id="paged">

                                </div>

                            </div>
                        </div>

                        <!-- Assignment content end -->

                    </div>
                </div>
            </div>

            <span class="sr-only">(current)</span>

        </div>
    </div>


}




@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{
    <script type="text/javascript">
        translatedResources.ShowingPages = '@ResourceManager.GetString("Shared.Labels.ShowingPages")';
        translatedResources.Previous = '@ResourceManager.GetString("Shared.Buttons.Previous")';
        translatedResources.Next = '@ResourceManager.GetString("Shared.Buttons.Next")';
        translatedResources.SelectAssignmentToArchive = '@ResourceManager.GetString("Assignment.AssignmentMessages.SelectAssignmentToArchive")';
        translatedResources.BrowseFile = '@ResourceManager.GetString("Shared.Labels.BrowseFile")';
        translatedResources.TotalFiles = '@ResourceManager.GetString("Shared.Labels.TotalFiles")';
    </script>
    <script src="@Url.Content("~/Content/js/custom/Assignment/AddEditAssignment.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    @if (SessionHelper.CurrentSession.IsStudent())
    {

        <script src="@Url.Content("~/Content/js/custom/Assignment/StudentAssignmentDashboard.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    }
    else
    {
        <script src="@Url.Content("~/Content/js/custom/Assignment/AssignmentDashboard.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    }

}
