﻿@model Phoenix.Models.DocumentReviewdetails
@using DevExpress.Web.Mvc;
@using DevExpress.Web.Mvc.UI;
@using Phoenix.Models;
@using Phoenix.Common.Localization
@{
    ViewBag.Title = "PeersUploadedDocument";
    List<MarkingScheme> lstMarkingSchemes = ViewBag.MarkingSchemes;
}

@functions{
    MVCxMenuItem CreateToolbarItem(string name, string iconID, string groupName, bool beginGroup)
    {
        var item = new MVCxMenuItem();
        item.Name = name;
        item.Image.IconID = iconID;
        item.BeginGroup = beginGroup;
        item.GroupName = groupName;
        return item;
    }
}


<div class="jumbotron">
    @foreach (var item in lstMarkingSchemes)
    {
        <input type="button" class="btnMark btn-sm btn-outline-default" style="color:@item.ColourCode !important;" data-markingid="@item.MarkingSchemeId" data-calcweight="@item.CalculatedWeight" data-weight="@item.Weight" data-color="@item.ColourCode" value="[@item.MarkingName]" />
    }
    <span class="float-right ml-3">
        <h2 class="m-0 text-bold text-danger mt-2" id="calculatedmarks">@String.Format("{0:0.00}", Model.CalculatedMarks)</h2>
    </span>
    <span class="float-right ml-3">
        <button type="button" class="btn btn-outline-primary" onclick="validateAndSubmit($(this),'@Model.ReviewedFileName')">@ResourceManager.GetString("Assignment.Assignment.SaveReview")</button>
    </span>

    @using (Html.BeginForm("CustomToolbar", "Assignment", new { objDocument = Model }))
    {
        @Html.Action("CustomToolbarPartial", "Assignment", new { objDocument = Model });
    }
</div>

@section devexpressplugins{
    @Html.DevExpress().GetStyleSheets(
       new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "MaterialCompact" },
       new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit, Theme = "MaterialCompact" },
       new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "MaterialCompact" },
       new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet, Theme = "MaterialCompact" }
   )
    @Html.DevExpress().GetScripts(
     new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
     new Script { ExtensionSuite = ExtensionSuite.RichEdit },
     new Script { ExtensionSuite = ExtensionSuite.Editors },
     new Script { ExtensionSuite = ExtensionSuite.Spreadsheet }
 )
    <script type="text/javascript">

        (function () {
            //RichEdit.commands.insertText.execute("Hello! This is new RichEdit API");

            var commandsTable = {
                "bold": function (rich) { return rich.commands.changeFontBold },
                "italic": function (rich) { return rich.commands.changeFontItalic },
                "underline": function (rich) { return rich.commands.changeFontUnderline },
                "strikeout": function (rich) { return rich.commands.changeFontStrikeout },
                "alignleft": function (rich) { return rich.commands.toggleParagraphAlignmentLeft },
                "aligncenter": function (rich) { return rich.commands.toggleParagraphAlignmentCenter },
                "alignright": function (rich) { return rich.commands.toggleParagraphAlignmentRight },
                "listbullets": function (rich) { return rich.commands.toggleBulletedList },
                "listnumbers": function (rich) { return rich.commands.toggleNumberingList },
                "insertlink": function (rich) { return rich.commands.openInsertHyperlinkDialog },
                "insertpicture": function (rich) { return rich.commands.openInsertPictureDialog },
                //"teacherName": function (rich) { return rich.commands.insertText.execute('SomeField') },
            };

            function onToolbarItemClick(s, e) {
                var command = commandsTable[e.item.name].call(this, RichEdit);
                command.execute();
            }
            function updateToolbar() {
                for (var key in commandsTable) {
                    if (!commandsTable.hasOwnProperty(key)) continue;
                    updateToolbarItem(key, commandsTable[key].call(this, RichEdit));
                }
            }
            function updateToolbarItem(itemName, command) {
                var item = DemoToolbar.GetItemByName(itemName);
                var state = command.getState();
                item.SetEnabled(state.enabled);
                item.SetChecked(state.value);
            }

            window.onToolbarItemClick = onToolbarItemClick;
            window.updateToolbar = updateToolbar;
        })();

    </script>

}


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}
@section scripts {
    <script type="text/javascript">
        translatedResources.UpdateMarkingConfirm = '@ResourceManager.GetString("Assignment.AssignmentMessages.UpdateMarkingConfirm")';
        translatedResources.SavemarkingDone = '@ResourceManager.GetString("Assignment.AssignmentMessages.SavemarkingDone")';
        translatedResources.MarkingSuccess = '@ResourceManager.GetString("Assignment.AssignmentMessages.PeerMarkingUpdate")';

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
           // calculateMarks('@Model.ReviewedFileName');
        });

        $(".btnMark").click(function () {

            RichEdit.commands.changeFontBackColor.execute($(this).attr("data-color"));
            RichEdit.commands.insertText.execute($(this).val());
            RichEdit.commands.changeFontBold.execute(false);
            var markWeight = parseFloat($(this).attr("data-weight"));
            var calcWeight = parseFloat($(this).attr("data-calcweight"));
            var updatedWeight = (markWeight + calcWeight);
            $(this).attr("data-calcweight", updatedWeight);
            var allCalcmarks = parseFloat($("#calculatedmarks").text()) + markWeight;
            $("#calculatedmarks").text(allCalcmarks.toFixed(2));
            //RichEdit.commands.fileSave.execute();
            calculateMarks('@Model.ReviewedFileName');
        });

           function calculateMarks(filename) {
            $.ajax({
                type: "POST",
                url: "/Assignments/Assignment/CalculateMarks",
                data: {
                    filePath: filename,
                    peerReviewId:@Model.PeerReviewId,
                    FileId:@Model.StudentAsgFileId,
                    ReviewedFileId:@Model.ReviewedFileId,
                    isTask: false,
                    textData: RichEdit.document.activeSubDocument.text
                },
                success: function (response) {
                    $("#calculatedmarks").text(response.toFixed(2));
                },
                error: function (error) {
                }
            });
        }

        function calculateMarkAndSave(filename) {
            $.ajax({
                type: "POST",
                url: "/Assignments/Assignment/SaveUpdatedmarks",
                data: {
                    filePath: filename,
                    peerReviewId:@Model.PeerReviewId,
                    FileId:@Model.StudentAsgFileId,
                    ReviewedFileId:@Model.ReviewedFileId,
                    isTask: false,
                    textData: RichEdit.document.activeSubDocument.text
                },
                success: function (response) {
                    $("#calculatedmarks").text(response.toFixed(2));
                },
                error: function (error) {
                }
            });
        }
        function validateAndSubmit(source, filename)
        {
                var markingData = [];
                $(".btnMark").each(function () {
                    var markDetail = {
                        'MarkingSchemeId': $(this).attr("data-markingid"),
                        'CalculatedWeight': $(this).attr("data-calcweight")
                    }
                    markingData.push(markDetail);
                });
                $.ajax({
                    type: "POST",
                    url: "/Assignments/Assignment/CheckInconsistencyInReview",
                    async: false,
                    data: {
                        filePath: filename,
                        markingData: markingData,
                        textData: RichEdit.document.activeSubDocument.text
                    },
                    success: function (response) {
                        if (response) {
                            globalFunctions.notyConfirm(source, translatedResources.SavemarkingDone);
                            $(document).bind('okClicked', source, function (e) {
                                RichEdit.commands.fileSave.execute();
                                calculateMarkAndSave(filename);
                                globalFunctions.showSuccessMessage(translatedResources.MarkingSuccess);
                            });
                            calculateMarkAndSave(filename);
                        }
                        else {
                            globalFunctions.notyConfirm(source, translatedResources.UpdateMarkingConfirm);
                            $(document).bind('okClicked', source, function (e) {
                                RichEdit.commands.fileSave.execute();
                                calculateMarkAndSave(filename);
                                 globalFunctions.showSuccessMessage(translatedResources.MarkingSuccess);
                            });
                        }
                    },
                    error: function (error) {
                    }
                });


        }


    </script>
}
