﻿@model Phoenix.Models.AssignmentStudent
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Models
@{
    /**/

    List<Phoenix.Models.StudentAssignmentFile> objStudentAssignmentFiles = new List<Phoenix.Models.StudentAssignmentFile>();
    objStudentAssignmentFiles = ViewBag.StudentFile;
    var panelTitle = ResourceManager.GetString("Assignment.StudentHomeworkAddEdit.title");
    ViewData["Title"] = ResourceManager.GetString("Assignment.Assignment.StudentAssignment");
    var rnd = DateTime.Now.Ticks.ToString();
    var display = Model.GradingTemplateItemSymbol == "" ? "none" : "inline-block";
    var peerReview = (AssignmentPeerReview)ViewBag.AssignmentPeerReview;
    string isCompletedReviewVisible = peerReview.IsReviewCompleted ? "block" : "none";
    string isCheckReviewVisible = ((Model.IsCompletedByStudent && !peerReview.IsReviewCompleted)) ? "block" : "none";
    List<DocumentReviewdetails> lstDocumentReviewdetails = (List<DocumentReviewdetails>)ViewBag.lstReviewedDocuments;
    var imageList = objStudentAssignmentFiles.AddImageVideoFiles();
    var otherFileList = objStudentAssignmentFiles.AddNonMediaFiles();
}
@Html.HiddenFor(m => m.AssignmentId)
@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.StudentId)
@Html.HiddenFor(m => m.GradingTemplateItemId)

<div class="container-fluid mt-2 mb-4 assignment-details">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="column-padding assignment-header pt-3 pb-2">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <h3>
                                            <i class="fas fa-map-marker-alt"></i>
                                            @Model.objAssignment.AssignmentTitle
                                            <span id="divMarkCompleted">
                                                <a href="javascript:void(0);" style="display:@isCompletedReviewVisible;" id="lnkCompletedReview"
                                                   class="btn btn-primary btn-md float-right m-0 mt-n1">
                                                    @ResourceManager.GetString("Assignment.AssignmentTooltip.CompletedReviewed")
                                                </a>
                                                <a href="javascript:void(0)" style="display:@isCheckReviewVisible;" id="lnkMarkAsCompletereview" data-peerreviewid="@peerReview.PeerReviewId"
                                                   class="btn btn-primary btn-md float-right m-0 mt-n1">
                                                    @ResourceManager.GetString("Assignment.AssignmentTooltip.MarkAsCompleteReview")
                                                </a>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-7 col-md-7 col-12">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12 text-left">
                                        <span class="ch-due-date pr-2">
                                            <strong>@ResourceManager.GetString("Shared.Labels.LabelDueDate")</strong>
                                            @{
                                                var dueDate = @Model.objAssignment.DueDate == null ? @ResourceManager.GetString("Shared.Labels.NoDueDate") : @Model.objAssignment.DueDate.Value.ToString("dddd,dd MMMM yyyy");
                                            }
                                            @dueDate
                                        </span>
                                        <span class="ch-archive-date pl-2"><strong>@ResourceManager.GetString("Shared.Labels.LabelArchiveDate")</strong>@(Model.objAssignment.ArchiveDate == null ? @ResourceManager.GetString("Shared.Labels.NoArchiveDate") : Model.objAssignment.ArchiveDate.Value.ToString("dddd,dd MMMM yyyy"))</span>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 pt-3">
                                        <p>@Html.Raw(Model.objAssignment.AssignmentDesc)</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <p><b> @Model.StudentName</b></p>
                                    </div>
                                </div>
                                <div class="row">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="resource-data ">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <div class="title-with-fields">
                                            <h3 class="card-title">@ResourceManager.GetString("Assignment.Assignment.Resources")</h3>
                                        </div>
                                    </div>
                                </div>
                                <!-- attachment content start -->
                                <div class="attachment-data column-padding pt-3 pb-3">
                                    <div id="library" class="row view-group">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="attachment-list column-padding resource-attachments py-3" id="attachmentslist">
                                                @if (Model.objAssignment.lstAssignmentFiles.Any())
                                                {
                                                    var imageAssignmentList = Model.objAssignment.lstAssignmentFiles.AddImageVideoFiles();
                                                    var otherFileAssignmentList = Model.objAssignment.lstAssignmentFiles.AddNonMediaFiles();
                                                    <div class="row row-cols-4 row-cols-sm-4 row-cols-md-3 row-cols-lg-6" id="">
                                                        @foreach (var item in imageAssignmentList)
                                                        {
                                                            string filePath = "";
                                                            if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                                            {
                                                                filePath = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName);
                                                            }
                                                            else
                                                            {
                                                                filePath = item.ResourceFileTypeId == 0 ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : item.UploadedFileName;
                                                            }
                                                            var fileResources = CommonHelper.GetFileResources(item.FileName);
                                                            <div class="col px-2">
                                                                <div class="card overflow-hidden rounded-2x">
                                                                    @{
                                                                        if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.FileName))
                                                                        {
                                                                            <a href="@filePath" target="_blank" class="@fileResources.Item2 attachedFile overflow-hidden d-flex align-items-center justify-content-center galleryImg" data-sub-html="Lorem ipsum">
                                                                                <i class="@fileResources.Item1"></i>
                                                                            </a>
                                                                        }
                                                                        else if (Phoenix.Common.Helpers.CommonHelper.CheckVideoExtension(item.FileName))
                                                                        {
                                                                            <span class="video galleryImg" data-html="#@item.AssignmentFileId" data-poster="@Constants.DefaultVideoImage">
                                                                                <a href="@filePath" target="_blank" class="attachedFile overflow-hidden d-flex align-items-center justify-content-center galleryImg">
                                                                                    <img src="/Content/VLE/img/svg/file-type-video.svg" class="img-fluid">
                                                                                </a>
                                                                            </span>
                                                                            <div style="display:none;" id="@item.AssignmentFileId">
                                                                                <video class="lg-video-object lg-html5" controls="" preload="none">
                                                                                    <source src="@filePath" type="video/mp4">
                                                                                    @ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")
                                                                                </video>
                                                                            </div>
                                                                        }
                                                                    }
                                                                    <div class="card-body position-relative">
                                                                        <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                                                            @item.FileName
                                                                        </h4>
                                                                        @if ((Html.CurrentPagePermission().CanEdit && SessionHelper.CurrentSession.IsTeacher()) || SessionHelper.CurrentSession.IsAdmin)
                                                                        {
                                                                            <a href="javascript:void(0)" id="ahrefDeleteFiles" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle DeleteAssignmentFiles" data-assignmentId="@item.AssignmentId" data-FileId="@item.AssignmentFileId" data-uploadedPath="@item.UploadedFileName" data-fileName="@item.FileName"><i class="far fa-trash-alt"></i></a>
                                                                        }
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="row row-cols-4 row-cols-sm-4 row-cols-md-3 row-cols-lg-6">
                                                        @foreach (var item in otherFileAssignmentList)
                                                        {
                                                            if (!item.FileName.ToLower().Contains(".wav"))
                                                            {
                                                                string filePath = "";
                                                                if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                                                {
                                                                    filePath = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName);
                                                                }
                                                                else
                                                                {
                                                                    filePath = item.ResourceFileTypeId == 0 ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : item.UploadedFileName;
                                                                }
                                                                var fileResources = CommonHelper.GetFileResources(item.FileName);
                                                                <div class="col px-2">
                                                                    <div class="card rounded-2x overflow-hidden">
                                                                        <a href="@filePath" target="_blank" class="@fileResources.Item2 attachedFile overflow-hidden d-flex align-items-center justify-content-center" id="ViewAssignmentFile" data-assignmentId="@item.AssignmentId" data-id="@EncryptDecryptHelper.EncryptUrl(item.AssignmentFileId)" data-uploadedPath="@item.UploadedFileName" data-fileName="@EncryptDecryptHelper.EncryptUrl(item.FileName)">
                                                                            <i class="@fileResources.Item1"></i>
                                                                        </a>
                                                                        <div class="card-body position-relative">
                                                                            <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                                                                @item.FileName
                                                                            </h4>
                                                                            @if ((Html.CurrentPagePermission().CanEdit && SessionHelper.CurrentSession.IsTeacher()) || SessionHelper.CurrentSession.IsAdmin)
                                                                            {
                                                                                <a href="javascript:void(0)" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle DeleteAssignmentFiles" id="ahrefDeleteFiles" data-assignmentId="@item.AssignmentId" data-FileId="@item.AssignmentFileId" data-uploadedPath="@item.UploadedFileName" data-fileName="@item.FileName"><i class="far fa-trash-alt"></i></a>
                                                                            }

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>

                                                }
                                                else
                                                {
                                                    <span class="no-data-found text-bold d-block mx-auto my-auto">
                                                        @string.Format(ResourceManager.GetString("Shared.Labels.NoRecords"))
                                                    </span>
                                                }

                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="Feedback-data ">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <div class="title-with-fields">
                                            <h3 class="card-title">@ResourceManager.GetString("Assignment.Assignment.StudentWork")</h3>

                                        </div>
                                    </div>
                                </div>
                                <!-- attachment content start -->
                                <div class="attachment-data column-padding pt-3 pb-3">

                                    <div id="library" class="row view-group">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="attachment-list column-padding resource-attachments py-3">
                                                <div class="row row-cols-4 row-cols-sm-4 row-cols-md-3 row-cols-lg-6">
                                                    @foreach (var item in imageList)
                                                    {
                                                        bool isLocalFile = !Constants.IsWellFormedUriString(item.UploadedFileName);
                                                        bool isCloudFile = string.IsNullOrEmpty(item.UploadedFileName) ? false : (item.IsSharedFile);
                                                        var downloadURL = isLocalFile ? "/Assignments/Assignment/DownloadFile?studentId=" + item.StudentId + "&assignmentId=" + item.AssignmentId + "&FId=" + item.StudentAsgFileId + "&Type=Student Assignment&fileName=" + item.UploadedFileName : item.UploadedFileName;
                                                        var downloadReviewedFile = "/Assignments/Assignment/DownloadFile?studentId=" + item.StudentId + "&assignmentId=" + item.AssignmentId + "&FId=" + item.StudentAsgFileId + "&Type=Student ReviewedFile&taskId=0";

                                                        var filePath = item.UploadedFileName;
                                                        var fileResources = CommonHelper.GetFileResources(item.FileName);

                                                        <div class="col px-2">
                                                            <div class="card overflow-hidden rounded-2x">
                                                                <a href="@filePath" target="_blank" class="@fileResources.Item2 attachedFile overflow-hidden d-flex align-items-center justify-content-center" data-sub-html="Lorem ipsum">
                                                                    <i class="@fileResources.Item1"></i>
                                                                </a>
                                                                <div class="card-body position-relative">
                                                                    <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                                                        @item.FileName
                                                                    </h4>

                                                                    <a class="ViewFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle" id="viewFile" data-studentId="@item.StudentId" data-toggle="tooltip" data-placement="top" title="@ResourceManager.GetString("Shared.Labels.View")" data-assignmentId="@item.AssignmentId" data-id="@item.StudentAsgFileId" data-fileName="@item.FileName">
                                                                        <i class="far fa-eye"></i>
                                                                    </a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="row row-cols-4 row-cols-sm-4 row-cols-md-3 row-cols-lg-6">
                                                    @foreach (var item in otherFileList)
                                                    {
                                                        bool isLocalFile = !Constants.IsWellFormedUriString(item.UploadedFileName);
                                                        bool isCloudFile = Constants.IsWellFormedUriString(item.UploadedFileName);
                                                        var downloadURL = isLocalFile ? "/Assignments/Assignment/DownloadFile?studentId=" + item.StudentId + "&assignmentId=" + item.AssignmentId + "&FId=" + item.StudentAsgFileId + "&Type=Student Assignment&fileName=" + item.UploadedFileName : item.UploadedFileName;
                                                        var downloadReviewedFile = "/Assignments/Assignment/DownloadFile?studentId=" + item.StudentId + "&assignmentId=" + item.AssignmentId + "&FId=" + item.StudentAsgFileId + "&Type=Student ReviewedFile&taskId=0";

                                                        if (!item.FileName.ToLower().Contains(".wav"))
                                                        {
                                                            var filePath = item.UploadedFileName;
                                                            var fileResources = CommonHelper.GetFileResources(item.FileName);


                                                            if (!item.FileName.ToLower().Contains(".wav"))
                                                            {

                                                                <div class="col px-2">
                                                                    <div class="card rounded-2x overflow-hidden">
                                                                        <a href="@filePath" target="_blank" class="@fileResources.Item2 attachedFile overflow-hidden d-flex align-items-center justify-content-center" id="ViewAssignmentFile" data-assignmentId="@item.AssignmentId" data-id="@EncryptDecryptHelper.EncryptUrl(item.StudentAsgFileId)" data-uploadedPath="@item.UploadedFileName" data-fileName="@EncryptDecryptHelper.EncryptUrl(item.FileName)">
                                                                            <i class="@fileResources.Item1"></i>
                                                                        </a>
                                                                        <div class="card-body position-relative">
                                                                            <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                                                                @item.FileName
                                                                            </h4>

                                                                            <a href="javascript:void(0)" data-toggle="tooltip" title="@ResourceManager.GetString("Assignment.PeerManager.ReviewFile")" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle ViewStudentFile" id="ViewStudentFile" data-assignmentId="@item.AssignmentId" data-id="@EncryptDecryptHelper.EncryptUrl(item.StudentAsgFileId)" data-uploadedPath="@item.UploadedFileName" data-fileName="@EncryptDecryptHelper.EncryptUrl(item.FileName)"><i class="far fa-eye"></i></a>


                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            }


                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="Feedback-data">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <div class="title-with-fields">
                                            <h3 class="card-title">@ResourceManager.GetString("Assignment.StudentHomeworkAddEdit.AssignmentTask")</h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        @if (Model.objAssignment.lstAssignmentTasks != null)
                                        {
                                            @Html.Partial("_ReviewStudentTaskList", Model.objAssignment.lstAssignmentTasks)
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                    <div class="title-with-fields">
                                        <h3 class="card-title">@ResourceManager.GetString("Assignment.Assignment.Feedback")</h3>
                                    </div>
                                </div>
                            </div>
                            @Html.Partial("_AssignmentComment", new Phoenix.Models.AssignmentComment() { AssignmentStudentId = Model.AssignmentStudentId })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{
    <script type="text/javascript">
    translatedResources.AssignmentTask = '@ResourceManager.GetString("Assignment.AssignmentTask.TaskId")';
    translatedResources.GradingTemplate = '@ResourceManager.GetString("Assignment.Assignment.GradingTemplateId")';
    translatedResources.Assign = '@ResourceManager.GetString("Assignment.Assignment.SelectGrade")';
        translatedResources.TaskGradingMessage = '@ResourceManager.GetString("Assignment.AssignmentMessages.TaskGradingMessage")';
        translatedResources.AssignmentGradingMessage = '@ResourceManager.GetString("Assignment.AssignmentMessages.AssignmentGradingMessage")';
        translatedResources.CommentSeenSuccessful = '@ResourceManager.GetString("Assignment.Assignment.CommentSeenSuccessful")';
        translatedResources.redirectionId = '@ViewBag.redirectionId';
        translatedResources.IsTeacher = '@SessionHelper.CurrentSession.IsTeacher()';
    </script>
    <script src="@Url.Content("/Content/js/ckeditor/ckeditor.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Assignment/StudentHomeworkReview.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Assignment/AssignmentComment.js?")"></script>

}
