﻿@model Phoenix.Models.AssignmentStudent
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Enums
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Models;
@{
    /**/

    var panelTitle = ResourceManager.GetString("Assignment.StudentHomeworkAddEdit.title");
    ViewData["Title"] = ResourceManager.GetString("Assignment.StudentHomeworkAddEdit.title");
    string isCompleteVisible = "";
    string isMarkVisible = "";
    string isUploadVisible = "";
    string isShowPeerVisible = "";
    if (Phoenix.Common.Helpers.SessionHelper.CurrentSession.IsParent())
    {
        isCompleteVisible = Model.IsCompletedByStudent ? "block" : "none";
        isUploadVisible = "none"; isMarkVisible = "none !important";
    }
    else
    {
        isCompleteVisible = Model.IsCompletedByStudent ? "block" : "none";
        isMarkVisible = Model.IsCompletedByStudent ? "none !important" : "block";
    }
    //ViewBag.IsCompletedByStudent = Model.IsCompletedByStudent;
    var rnd = DateTime.Now.Ticks.ToString();

    List<Phoenix.Models.StudentTaskFile> objStudentTaskFiles = new List<Phoenix.Models.StudentTaskFile>();
    if (ViewBag.StudentTaskFiles != null)
    {
        objStudentTaskFiles = (List<Phoenix.Models.StudentTaskFile>)ViewBag.StudentTaskFiles;
    }
    var display = Model.GradingTemplateItemSymbol == "" ? "none" : "inline-block";
    List<AssignmentPeerReview> lstPeersAssignments = (List<AssignmentPeerReview>)ViewBag.lstPeersAssignments;
    if (lstPeersAssignments.Count > 0)
    {
        isShowPeerVisible = "block";
    }
    else
    {
        isShowPeerVisible = "none";
    }
    AssignmentPeerReview objStudentReviewDetails = new AssignmentPeerReview();
    objStudentReviewDetails = (AssignmentPeerReview)ViewBag.PeerDetails;
    var DownloadReviewVisible = (Model.objAssignment.IsPeerMarkingEnable && objStudentReviewDetails.IsReviewCompleted) ? "inline-block" : "d-none";
    var strHr = ResourceManager.GetString("Shared.Messages.Hours");
    var strMin = ResourceManager.GetString("Shared.Messages.Minutes");
    var strSec = ResourceManager.GetString("Shared.Messages.Seconds");
    var strMinHr = ResourceManager.GetString("Shared.Messages.MinutesHr");
    var strQuizTimeOut = ResourceManager.GetString("Quiz.Quiz.QuizTimeOut");
    var SchoolCode = ViewBag.SchoolCode;
    var IsParent = SessionHelper.CurrentSession.IsParent().ToString().ToLower();
}
<style>
    @@media (max-width: 575px) {
        .uploaderWidget .file-preview .file-drop-zone .file-preview-thumbnails .file-preview-frame {
            width: 33.33% !important;
        }
    }

    .description a {
        text-decoration: underline;
        color: #5d3195;
    }
</style>

@Html.HiddenFor(m => m.StudentId)
<input type="hidden" id="SharepointToken" name="SharepointToken" value="@ViewBag.SharepointToken" />
<input type="hidden" id="OldUserId" name="OldUserId" value="@ViewBag.oldUsersID" />
<input type="hidden" id="AssignmentId" value="@Model.AssignmentId" />
<input type="hidden" id="SchoolCode" name="SchoolCode" value="@SchoolCode" />
<input type="hidden" id="CreatedByOneDriveId" name="CreatedByOneDriveId" value="@Model.objAssignment.CreatedByOneDriveId" />
<input type="hidden" id="CreatedByGmailId" name="CreatedByGmailId" value="@Model.objAssignment.CreatedByGmailId" />
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")}
<link href="~/Content/VLE/mathscribe/jqmath-0.4.3.css" rel="stylesheet" />
<div class="assignment-details">

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="row mb-2">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="column-padding assignment-header pt-3 pb-2">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <h3 class="card-title px-0">
                                            @Model.objAssignment.AssignmentTitle
                                            @if (Model.GradingTemplateItemId != 0)
                                            {
                                                if (!@Model.GradingTemplateItemSymbol.Contains(".png"))
                                                {
                                                    <span style="display:@display;" id="gradingDiv" class="float-right ml-3">
                                                        <h2 class="m-0 text-bold" style="color:@Model.GradingColor">@Model.ShortLabel</h2>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span style="display:@display;" id="gradingDiv" data-toggle="tooltip" title="@Model.ShortLabel" data-title="@Model.ShortLabel" data-placement="top" class="taskGrade float-right mt-n1">
                                                        <img class="img-fluid ml-2" style="height:70%;max-height: 32px;" src="@Model.GradingTemplateItemSymbol" />
                                                    </span>
                                                }
                                            }

                                            @if (Html.CurrentPagePermission().CanEdit)
                                            {
                                                <span id="divMarkCompleted" class="d-inline-block mt-3 w-100">
                                                    <a href="javascript:void(0);" style="display:@isCompleteVisible;" id="lnkCompleted"
                                                       class="btn btn-md btn-success float-right m-0 mt-n1 pb-2 pl-2 pr-2 pt-2 text-center pl-sm-3 pr-sm-3">
                                                        <i class="fas fa-check mr-0 mr-sm-2 text-white"></i>
                                                        <span class="d-none d-sm-inline-block">@ResourceManager.GetString("Assignment.AssignmentTooltip.completed")</span>
                                                    </a>
                                                    <a href="javascript:void(0)" style="display:@isMarkVisible;" id="lnkMarkCompleted" data-student-assignment-id="@Model.AssignmentStudentId"
                                                       class="btn btn-primary btn-md float-right m-0 mt-n1 d-none d-sm-inline-block lnkMarkAsCompleted ">
                                                        @ResourceManager.GetString("Assignment.AssignmentTooltip.SubmitAssignment")
                                                    </a>
                                                </span>
                                            }

                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12 text-left">
                                        <span class="ch-due-date pr-2">
                                            <strong>@ResourceManager.GetString("Assignment.Assignment.DueDate") : </strong>
                                            @{
                                                var DueDate = Model.objAssignment.DueDate == null ? ResourceManager.GetString("Assignment.AssignmentMessages.NoDueDate") : Model.objAssignment.DueDate.Value.ToString("dddd, dd-MMM-yyyy");
                                            }
                                            @DueDate
                                        </span>

                                        <span class="ch-archive-date pl-2"><strong>@ResourceManager.GetString("Assignment.Assignment.ArchiveDate") : </strong>@(Model.objAssignment.ArchiveDate == null ? ResourceManager.GetString("Assignment.AssignmentMessages.NoArchiveDate") : Model.objAssignment.ArchiveDate.Value.ToString("dddd, dd-MMMM-yyyy"))</span>
                                        <span class="ch-archive-date pl-2">
                                            <strong>@ResourceManager.GetString("Assignment.Assignment.SubmissionType") : </strong>
                                            @(Model.objAssignment.SubmissionType == 1 ? ResourceManager.GetString("Assignment.Assignment.SubmitFileToVLE") : (Model.objAssignment.SubmissionType == 2 ? ResourceManager.GetString("Assignment.Assignment.ByHand") : ResourceManager.GetString("Assignment.Assignment.NotRequired")))
                                        </span>

                                    </div>
                                    <!-- <div class="col-lg-6 col-md-16 col-12 text-right">
                                        <span class="ch-archive-date">Archive  Date : <strong>Tuesday, 19th March 2019</strong></span>
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 pt-3 description">
                                        @Html.Raw(Model.objAssignment.AssignmentDesc)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        @if (Html.CurrentPagePermission().CanEdit)
                                        {
                                            <span id="divMarkCompleted" class="d-inline-block mt-3 w-100">
                                                <a href="javascript:void(0)" style="display:@isMarkVisible;" id="lnkMarkCompleted" data-student-assignment-id="@Model.AssignmentStudentId"
                                                   class="btn btn-primary btn-md float-right m-0 mt-n1 d-block d-sm-none w-100 lnkMarkAsCompleted">
                                                    @ResourceManager.GetString("Assignment.AssignmentTooltip.SubmitAssignment")
                                                </a>
                                            </span>
                                        }
                                    </div>
                                </div>
                            </div>
                            <!-- Description content start -->
                            <!-- Description content end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Resources content end -->
            @*<div class="row mb-3" style="display:@isCompleteVisible;" id="showPeersSection">*@
            <div class="row mb-3" style="display:@isShowPeerVisible" id="showPeersSection">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- Member content start -->
                            <div class="member-data ">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <div class="title-with-fields">
                                            <h3 class="card-title">@ResourceManager.GetString("Assignment.PeerManager.AssignmentsToMark")</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-padding pt-3 pb-3">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                            <div class="user-groups">
                                                <div id="groupContainer">

                                                    <div class="row align-content-start" id="lstPeer">
                                                        @foreach (var item in lstPeersAssignments)
                                                        {
                                                            <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3">
                                                                <div class="group-details school-group" data-groupid="314934">
                                                                    <span class="group-initial bg-primary text-center">
                                                                        <h5 class="m-0 py-3 text-white">@item.StudentName.Substring(0, 2).ToUpper()</h5>
                                                                    </span>
                                                                    @if (@isCompleteVisible == "block")
                                                                    {
                                                                        <span class="group-meta overflow-hidden">
                                                                            <a title="" href="javascript:void(0)" onclick="studentHomeworkAddEdit.redirectToPeerPage(this)" data-asgstdid="@EncryptDecryptHelper.EncryptUrl(item.AssignmentStudentId.ToString())" data-peerreviewid="@EncryptDecryptHelper.EncryptUrl(item.PeerReviewId.ToString())" data-iscompleted="@item.IsStudentCompletedHomework" class="font-small text-semibold text-truncate" data-toggle="tooltip">
                                                                                @item.StudentName
                                                                            </a>
                                                                        </span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="group-meta overflow-hidden disabled" id="disabledStudentPeer_@item.AssignmentStudentId">
                                                                            <a title="" href="javascript:void(0)" onclick="studentHomeworkAddEdit.redirectToPeerPage(this)" data-asgstdid="@EncryptDecryptHelper.EncryptUrl(item.AssignmentStudentId.ToString())" data-peerreviewid="@EncryptDecryptHelper.EncryptUrl(item.PeerReviewId.ToString())" data-iscompleted="@item.IsStudentCompletedHomework" class="font-small text-semibold text-truncate" data-toggle="tooltip">
                                                                                @item.StudentName
                                                                            </a>
                                                                        </span>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="section-title">
                        <h3 class="text-uppercase pb-0 mt-1"><span class="font-small">@ResourceManager.GetString("Assignment.Assignment.Resources")</span></h3>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <!-- Resources content start -->
                            <div class="resource-data ">

                                <!-- attachment content start -->
                                <div class="attachment-data column-padding pt-3 pb-3">
                                    <div id="library" class="row view-group">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="attachment-list column-padding resource-attachments py-3" id="attachmentslist">
                                                @if (Model.objAssignment.lstAssignmentFiles.Any(e => e.ResourceFileTypeId == 0 || e.ResourceFileTypeId == 3))
                                                {
                                                    var imageList = Model.objAssignment.lstAssignmentFiles.AddImageVideoFiles();
                                                    var otherFileList = Model.objAssignment.lstAssignmentFiles.AddNonMediaFiles();
                                                    <div class="row row-cols-4 row-cols-sm-4 row-cols-md-3 row-cols-lg-3" id="">
                                                        @foreach (var item in imageList.Where(e => e.ResourceFileTypeId == 0 || e.ResourceFileTypeId == 3))
                                                        {
                                                            string filePath = "";
                                                            if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                                            {
                                                                filePath = item.ResourceFileTypeId == 0 ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName);

                                                            }
                                                            else
                                                            {
                                                                filePath = item.ResourceFileTypeId == 0 ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : item.UploadedFileName;
                                                            }
                                                            var fileResources = CommonHelper.GetFileResources(item.FileName);
                                                            <div class="col px-2">
                                                                <div class="card overflow-hidden rounded-2x">
                                                                    @{
                                                                        if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.FileName))
                                                                        {
                                                                            <a onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : (item.UploadedFileName).Replace("\'","%27"))','@SchoolCode','@IsParent','@item.ResourceFileTypeId')" data-toggle="tooltip" title="Uploaded On: @item.CreatedOn.ToString("dd-MMM-yyyy hh:mm tt")" class="@fileResources.Item2 attachedFile overflow-hidden d-flex align-items-center justify-content-center galleryImg" data-sub-html="Lorem ipsum">
                                                                                <i class="@fileResources.Item1"></i>
                                                                            </a>
                                                                        }
                                                                        else if (Phoenix.Common.Helpers.CommonHelper.CheckVideoExtension(item.FileName))
                                                                        {
                                                                            <span class="video galleryImg" data-html="#@item.AssignmentFileId" data-poster="@Constants.DefaultVideoImage">
                                                                                <a onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : (item.UploadedFileName).Replace("\'","%27"))','@SchoolCode','@IsParent','@item.ResourceFileTypeId')" data-toggle="tooltip" title="Uploaded On: @item.CreatedOn.ToString("dd-MMM-yyyy hh:mm tt")" class="attachedFile overflow-hidden d-flex align-items-center justify-content-center galleryImg"></a>
                                                                            </span>
                                                                            <div style="display:none;" id="@item.AssignmentFileId">
                                                                                <video class="lg-video-object lg-html5" controls="" preload="none">
                                                                                    <source src="@filePath" type="video/mp4">
                                                                                    @ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")
                                                                                </video>
                                                                            </div>
                                                                        }
                                                                    }
                                                                    <div class="card-body position-relative">
                                                                        <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                                                            @item.FileName
                                                                        </h4>
                                                                        @if ((Html.CurrentPagePermission().CanEdit && SessionHelper.CurrentSession.IsTeacher()) || SessionHelper.CurrentSession.IsAdmin)
                                                                        {
                                                                            <a href="javascript:void(0)" id="ahrefDeleteFiles" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle DeleteAssignmentFiles" data-assignmentId="@item.AssignmentId" data-FileId="@item.AssignmentFileId" data-uploadedPath="@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : item.UploadedFileName)" data-fileName="@item.FileName"><i class="far fa-trash-alt"></i></a>
                                                                        }
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="row row-cols-4 row-cols-sm-4 row-cols-md-3 row-cols-lg-3">
                                                        @foreach (var item in otherFileList.Where(e => e.ResourceFileTypeId == 0 || e.ResourceFileTypeId == 3))
                                                        {
                                                            if (!item.FileName.ToLower().Contains(".wav"))
                                                            {
                                                                string filePath = "";
                                                                if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                                                {
                                                                    filePath = item.ResourceFileTypeId == 0 ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName);

                                                                }
                                                                else
                                                                {
                                                                    filePath = item.ResourceFileTypeId == 0 ? PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName : item.UploadedFileName;
                                                                }
                                                                var fileResources = CommonHelper.GetFileResources(item.FileName);
                                                                <div class="col px-2">
                                                                    <div class="card rounded-2x overflow-hidden">
                                                                        <a onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : (item.UploadedFileName).Replace("\'","%27"))','@SchoolCode','@IsParent','@item.ResourceFileTypeId')" data-toggle="tooltip" title="Uploaded On: @item.CreatedOn.ToString("dd-MMM-yyyy hh:mm tt")" class="@fileResources.Item2 attachedFile overflow-hidden d-flex align-items-center justify-content-center" id="ViewAssignmentFile" data-assignmentId="@item.AssignmentId" data-id="@EncryptDecryptHelper.EncryptUrl(item.AssignmentFileId)" data-uploadedPath="@item.UploadedFileName" data-fileName="@EncryptDecryptHelper.EncryptUrl(item.FileName)">
                                                                            <i class="@fileResources.Item1"></i>
                                                                        </a>
                                                                        <div class="card-body position-relative">
                                                                            <h4 href="javascript:void(0)" target="_blank" onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : (item.UploadedFileName).Replace("\'","%27"))','@SchoolCode','@IsParent','@item.ResourceFileTypeId')" class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                                                                                @item.FileName
                                                                            </h4>
                                                                            @if ((Html.CurrentPagePermission().CanEdit && SessionHelper.CurrentSession.IsTeacher()) || SessionHelper.CurrentSession.IsAdmin)
                                                                            {
                                                                                <a href="javascript:void(0)" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle DeleteAssignmentFiles" id="ahrefDeleteFiles" data-assignmentId="@item.AssignmentId" data-FileId="@item.AssignmentFileId" data-uploadedPath="@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : item.UploadedFileName)" data-fileName="@item.FileName"><i class="far fa-trash-alt"></i></a>
                                                                            }

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>

                                                }
                                                else
                                                {
                                                    <span class="no-data-found text-bold d-block mx-auto my-5">
                                                        @string.Format(ResourceManager.GetString("Shared.Labels.NoRecords"))
                                                    </span>
                                                }

                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <!-- attachment content end -->
                            </div>
                            <!-- Resources content end -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="section-title with-fields">
                        <h3 class="text-uppercase pb-0 mt-1"><span class="font-small">@ResourceManager.GetString("Assignment.Assignment.YourWork")</span></h3>
                        <div class="title-fields">
                            @if (Html.CurrentPagePermission().CanEdit)
                            {
                                <input type="hidden" id="CheckStudentUri" value="StudentDriveFile" />
                                <input type="hidden" id="CloudFilesaveStudentUri" value="/Assignments/Assignment/SaveStudentCloudFiles" />
                                <input type="hidden" id="hdnStudentId" value="@Model.StudentId" />
                                <input type="hidden" id="hdnAssignmentId" value="@Model.AssignmentId" />
                                <span data-toggle="tooltip" class="mr-3 bg-transparent border-0" data-placement="left" title="@ResourceManager.GetString("Files.File.OneDrive")">
                                    <button type="button" href="javascript:;" class="action-circle one-drive-file cloud-file-view file-explorer rounded-circle" data-title="@ResourceManager.GetString("Files.File.OneDriveFiles")" data-uploadmoduletype="@((short)Phoenix.Common.Enums.FileUploadModuleType.Assignment)" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.OneDrive)" style="width: 35px;height: 35px;">
                                        <span><img src="~/Content/img/svg/onedrive.svg" alt=""></span>
                                    </button>
                                </span>
                                if (SessionHelper.CurrentSession.GoogleDriveIntegrationType != (short)GoogleDriveIntegrationType.None)
                                {
                                    <span data-toggle="tooltip" class="mr-3 bg-transparent border-0" data-placement="left" title="@ResourceManager.GetString("Files.File.GoogleDrive")">
                                        <button type="button" href="javascript:;" class="action-circle google-drive-file cloud-file-view file-explorer rounded-circle" data-title="@ResourceManager.GetString("Files.File.GoogleDriveFiles")" data-uploadmoduletype="@((short)Phoenix.Common.Enums.FileUploadModuleType.Assignment)" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.GoogleDrive)" style="width: 35px;height: 35px;">
                                            <span><img src="~/Content/img/awesome-google-drive.png" alt=""></span>
                                        </button>
                                    </span>
                                }
                                <span data-toggle="tooltip" class="mr-3 bg-transparent border-0" data-placement="left" title="@ResourceManager.GetString("Shared.Labels.UploadFile")">
                                    <button type="button" href="javascript:void(0);" data-toggle="modal" data-target="#fileUploadModal" class="rounded-circle" style="display:@isUploadVisible;width: 35px;height: 35px;">
                                        <span><img src="~/Content/vle/img/svg/browse.svg" alt=""></span>
                                    </button>
                                </span>
                                @*<a class="btn btn-primary btn-md float-right m-0" data-toggle="modal" data-target="#fileUploadModal" style="display:@isUploadVisible;" href="javascript:void(0);">
                                        <i class="fas fa-cloud-upload-alt"></i> @ResourceManager.GetString("Shared.Labels.UploadFile")
                                        <img src="~/Content/vle/img/svg/browse.svg" alt="">
                                    </a>*@

                            }
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <!-- feedback content start -->
                            <div class="Feedback-data ">

                                <!-- attachment content start -->
                                <div class="attachment-data column-padding pt-3 pb-3">
                                    <div id="library" class="row view-group">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="attachment-list column-padding resource-attachments py-3 resource-attachments" id="StudentAssignmentFiles">
                                                @if (Model.lstStudentAsgFiles.Any())
                                                {
                                                    @Html.Partial("_StudentAssignmentFiles", Model.lstStudentAsgFiles)
                                                }
                                                else
                                                {
                                                    <span class="no-data-found text-bold d-block mx-auto my-5">
                                                        @string.Format(ResourceManager.GetString("Shared.Labels.NoRecords"))
                                                    </span>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- attachment content end -->

                            </div>
                            <!-- Resources content end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Resources content end -->
            <!--Assignment task-->

            @if (Model.objAssignment.lstAssignmentTasks != null && Model.objAssignment.lstAssignmentTasks.Count > 0)
            {
                <div class="row my-2">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- feedback content start -->
                                <div class="Feedback-data ">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                            <div class="title-with-fields">
                                                <h3 class="card-title">@ResourceManager.GetString("Assignment.StudentHomeworkAddEdit.AssignmentTask")</h3>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- attachment content start -->

                                    <div id="library" class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="sortable-tasks column-padding pb-3">
                                                <ul class="clearfix with-number" id="taskList">

                                                    @foreach (var item in Model.objAssignment.lstAssignmentTasks)
                                                    {
                                                        //item.IsSetTime = false;    // Manually  Set
                                                        //if (item.IsSetTime)
                                                        //{
                                                        //    if (item.StartDate!=null)
                                                        //    {
                                                        //        var tempStartDate = Convert.ToDateTime(item.StartDate).ToString("dd-MM-yyyy") + " " + item.StartTime;
                                                        //        var UTCToLocalStartDate = Convert.ToDateTime(tempStartDate).ConvertUtcToLocalTime();
                                                        //        //item.QuizStartDate = Convert.ToDateTime(UTCToLocalStartDate).ToString("dd-MMM-yyyy");
                                                        //        //item.QuizStartedTime = Convert.ToDateTime(UTCToLocalStartDate).ToString("yyyy-MM-dd HH:mm:ss");
                                                        //        item.StartDate = Convert.ToDateTime(UTCToLocalStartDate);
                                                        //        item.StartTime = Convert.ToDateTime(UTCToLocalStartDate).ToString("h:mm tt");
                                                        //    }

                                                        //}
                                                        var quizId = EncryptDecryptHelper.EncryptUrl(Convert.ToString(item.QuizId));
                                                        var GroupQuizId = EncryptDecryptHelper.EncryptUrl(Convert.ToString(item.GroupQuizId));
                                                        TimeSpan spWorkMin = TimeSpan.FromMinutes(item.QuizTime);
                                                        string Time = string.Format(strHr, (int)spWorkMin.TotalHours, spWorkMin.Minutes);
                                                        var QuizOverAllTime = item.QuizTime < 60 ? string.Format(strMin, item.QuizTime.ToString()) : Time;
                                                        int TimeInSec = item.QuizTime * 60;
                                                        var QuizStartDate = String.Empty;
                                                        var QuizStartedTime = String.Empty;
                                                        bool IsStartedSetTimer = true;
                                                        bool IsSetStartDate = false;
                                                        var showScore = true;
                                                        if (item.IsHideScore)
                                                        {
                                                            if (Convert.ToDateTime(Convert.ToDateTime(item.ShowScoreDate).ConvertUtcToLocalTime()).Date <= DateTime.Now.Date)
                                                            {
                                                                showScore = true;
                                                            }
                                                            else
                                                            {
                                                                showScore = false;
                                                            }
                                                        }
                                                        showScore = SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin ? true : showScore;
                                                        if (item.StartDate != null)
                                                        {
                                                            IsStartedSetTimer = false;
                                                            IsSetStartDate = true;
                                                            //<lable>StratDate - @item.StartDate</lable>
                                                            //QuizStartDate = Convert.ToDateTime(item.StartDate);
                                                            //QuizStartedTime = Convert.ToDateTime(item.StartDate).Date + Convert.ToDateTime(item.StartTime).TimeOfDay;
                                                            var tempStartDate = Convert.ToDateTime(item.StartDate).ToString("MM-dd-yyyy") + " " + Convert.ToDateTime(item.StartTime).TimeOfDay;
                                                            //<lable>tempStartDate - @tempStartDate</lable>
                                                            //var tempStartDate = Convert.ToDateTime(item.StartDate).ToString("dd-MM-yyyy") + " " + item.StartTime;
                                                            var UTCToLocalStartDate = Convert.ToDateTime(tempStartDate).ConvertUtcToLocalTime();
                                                            //<lable>UTCToLocalStartDate - @UTCToLocalStartDate</lable>
                                                            QuizStartDate = Convert.ToDateTime(UTCToLocalStartDate).ToString("dd-MMM-yyyy");
                                                            //<lable>QuizStartDate - @QuizStartDate</lable>
                                                            QuizStartedTime = Convert.ToDateTime(UTCToLocalStartDate).ToString("yyyy-MM-dd HH:mm:ss");
                                                            //<lable>QuizStartedTime - @QuizStartedTime</lable>
                                                            item.StartDate = Convert.ToDateTime(UTCToLocalStartDate);
                                                            //<lable>item.StartDate - @item.StartDate</lable>
                                                            item.StartTime = Convert.ToDateTime(UTCToLocalStartDate).ToString("h:mm tt");
                                                            //<lable>tem.StartTime - @item.StartTime</lable>
                                                            if (Convert.ToDateTime(QuizStartedTime) <= DateTime.Now)
                                                            {
                                                                IsStartedSetTimer = true;
                                                            }
                                                        }
                                                        TimeSpan QuizTime = TimeSpan.FromMinutes(item.QuizTime);
                                                        string QuizTotalTime = String.Empty;
                                                        if (QuizTime.Hours == 0)
                                                        {
                                                            QuizTotalTime = string.Format(strMinHr, (int)QuizTime.Minutes, QuizTime.Seconds);
                                                        }
                                                        else
                                                        {
                                                            QuizTotalTime = string.Format(strHr, (int)QuizTime.TotalHours, QuizTime.Minutes);
                                                        }

                                                        TimeSpan timeTaken = TimeSpan.FromSeconds(item.objStudentTask.TimeTaken);
                                                        string TimeTakenByTask = String.Empty;
                                                        if (timeTaken.Hours == 0)
                                                        {
                                                            TimeTakenByTask = (int)timeTaken.Minutes >= item.QuizTime ? strQuizTimeOut : string.Format(strMinHr, (int)timeTaken.Minutes, timeTaken.Seconds);
                                                        }
                                                        else
                                                        {
                                                            TimeTakenByTask = (int)timeTaken.Minutes >= item.QuizTime ? strQuizTimeOut : string.Format(strHr, (int)timeTaken.TotalHours, timeTaken.Minutes);
                                                        }

                                                        var timeTakenToSolve = item.objStudentTask.TimeTaken < 60 ? string.Format(strSec, item.objStudentTask.TimeTaken.ToString()) : TimeTakenByTask;
                                                        var ActualTime = String.Empty;
                                                        if (timeTakenToSolve == strQuizTimeOut)
                                                        {
                                                            ActualTime = timeTakenToSolve;
                                                        }
                                                        else
                                                        {
                                                            ActualTime = timeTakenToSolve + " / " + QuizTotalTime;
                                                        }


                                                        <li class="position-relative py-2" id="@item.SortOrder">
                                                            <div class="taskMeta w-50">
                                                                <h4>@item.TaskTitle</h4>
                                                                <p>@item.TaskDescription.</p>
                                                            </div>
                                                            <div class="task-actions">
                                                                @if (item.objStudentTask.objQuizResponse != null && item.objStudentTask.objQuizView != null && item.objStudentTask.objQuizResponse.SubmitAttempt == item.MaxSubmit && showScore)
                                                                {
                                                                    <lable class="badg badge-info pb-1 pl-3 pr-3 pt-1 rounded" data-toggle="tooltip" title="Score" data-placement="top"><small class="text-semibold">@item.objStudentTask.QuizMarks</small></lable>
                                                                    if (item.IsSetTime)
                                                                    {
                                                                        <lable class="badg badge-secondary pb-1 pl-3 pr-3 pt-1 rounded" data-toggle="tooltip" title="Time Taken" data-placement="top">
                                                                            <small class="text-semibold">@ActualTime</small>
                                                                        </lable>
                                                                    }
                                                                }
                                                                @if (Convert.ToBoolean(item.objStudentTask.IsCompleteMarkByStudent))
                                                                {
                                                                    <i class="fas fa-clipboard-check mark-by-teacher text-success" data-toggle="tooltip" title="Task Status">
                                                                    </i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="far fa-clipboard" data-toggle="tooltip" title="Task Status"></i>
                                                                }
                                                                @if (!item.IsSetTime || !String.IsNullOrEmpty(item.objStudentTask.QuizMarks) || SessionHelper.CurrentSession.IsParent())
                                                                {
                                                                    <a href="javascript:void(0)" onclick="studentHomeworkAddEdit.redirectToTask(this); return false;" data-taskid="@EncryptDecryptHelper.EncryptUrl(item.TaskId.ToString())" data-istaskenable="@item.objStudentTask.IsEnable" data-studentid="@EncryptDecryptHelper.EncryptUrl(Model.StudentId.ToString())" class="edit-entry p-2"><i class="far fa-eye"></i></a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="javascript:void(0)" id="btnStartGroupQuiz" data-studid="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(0))" data-quizresourceid="@GroupQuizId" data-id="@quizId" data-quizName="@item.QuizName" data-startTime="@QuizOverAllTime" data-startdate="@QuizStartDate" data-starttimebyteacher="@item.StartTime" data-startstartedtimer="@IsStartedSetTimer" data-teachergiventime="@QuizStartedTime" data-timeinsec="@TimeInSec" data-issetstartdate="@IsSetStartDate" data-taskid="@EncryptDecryptHelper.EncryptUrl(item.TaskId.ToString())" data-istaskenable="@item.objStudentTask.IsEnable" data-studentid="@EncryptDecryptHelper.EncryptUrl(Model.StudentId.ToString())" class="edit-entry p-2"><i class="far fa-eye"></i></a>
                                                                }
                                                                <a href="javascript:void(0);" class="delete-entry pointer-default p-2">
                                                                    <i class="fas fa-paperclip"></i>
                                                                    @if (objStudentTaskFiles.Count > 0)
                                                                    {
                                                                        @objStudentTaskFiles.Where(e => e.TaskId == item.TaskId).Select(e => e.UploadedFileName).Count()
                                                                    }
                                                                </a>

                                                            </div>
                                                        </li>

                                                    }

                                                </ul>
                                            </div>
                                            <hr class="mb-0 mt-0">
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                    <div class="title-with-fields">
                                        <h3 class="card-title">@ResourceManager.GetString("Assignment.Assignment.Feedback")</h3>
                                    </div>
                                </div>
                            </div>
                            @Html.Partial("_AssignmentComment", new Phoenix.Models.AssignmentComment() { AssignmentStudentId = Model.AssignmentStudentId, AssignmentTitle = Model.objAssignment.AssignmentTitle, StudentId = Model.StudentId })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- file upload drawer start -->
@{Html.RenderPartial("~/Areas/Files/Views/Shared/_AddEditFile.cshtml"); }
<!-- file upload drawer end -->
<div class="modal fade" id="startQuiz" tabindex="-1" role="dialog" aria-labelledby="sessionTimeoutLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@ResourceManager.GetString("Files.Quiz.StartQuiz")</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Hidden("TaskId")
                @Html.Hidden("IsTaskEnable")
                @Html.Hidden("StudentId")
                @Html.Hidden("QuizId")
                @Html.Hidden("TeacherGivenTime")
                @Html.Hidden("QuizTimeInSec")
                @Html.Hidden("IsSetStartDateByTeacher")

                <div class="SetTeacherTime">
                    <h4 class="sub-heading text-medium">@ResourceManager.GetString("Quiz.Quiz.QuizStartedOn")</h4><h6 id="selectedQuizStartDate"></h6>
                    <h4 class="sub-heading text-medium">@ResourceManager.GetString("Quiz.Quiz.StartTime")</h4>
                    <h6 id="selectedQuizStartTime"></h6>
                </div>
                <h4 class="sub-heading text-medium">@ResourceManager.GetString("Files.Quiz.QuizName")</h4>
                <h6 id="selectedQuizName"></h6>
                <h4 class="sub-heading text-medium">@ResourceManager.GetString("Files.Quiz.QuizTime")</h4>
                <h6 id="selectedQuizTitle"></h6>
            </div>
            <div class="modal-footer selectedQuizFooter">
                @if (@SessionHelper.CurrentSession.IsStudent())
                {
                    <button id="btnSolveAssignmentQuiz" type="button" class="btn btn-primary btn-success timerstart" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Start")</button>
                }
                else
                {
                    <button id="btnSolveAssignmentQuiz" type="button" class="btn btn-primary btn-success timerstart" data-dismiss="modal">@ResourceManager.GetString("Quiz.Quiz.View")</button>
                }
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            </div>
        </div>
    </div>
</div>
<!-------HTML END-->
<!--Previous page html-->
<!--endofpreviouspagehtml-->

@section Scripts
{
    <script type="text/javascript">
        translatedResources.CompletePreviousTask = '@ResourceManager.GetString("Assignment.AssignmentMessages.CompletePreviousTask")';
        translatedResources.StudentNotCompletedHomework = '@ResourceManager.GetString("Assignment.AssignmentMessages.StudentNotCompletedHomework")';
        translatedResources.peerAssignmentStudentId='@EncryptDecryptHelper.EncryptUrl(Model.AssignmentStudentId.ToString())'
        translatedResources.BrowseFile = '@ResourceManager.GetString("Shared.Labels.BrowseFile")';
        translatedResources.TotalFiles = '@ResourceManager.GetString("Shared.Labels.TotalFiles")';
        translatedResources.FileUploaded = '@ResourceManager.GetString("Shared.Messages.FileUploaded")';
        translatedResources.FileTypes =@Html.Raw(Json.Encode(ViewBag.FileExtension));
        translatedResources.FeedbackSuccessMessage = '@ResourceManager.GetString("Assignment.Assignment.FeedbackSuccessMessage")';
        translatedResources.CommentSeenSuccessful = '@ResourceManager.GetString("Assignment.Assignment.CommentSeenSuccessful")';
        @*translatedResources.BlankSpaceMessage = '@ResourceManager.GetString("Assignment.Assignment.BlankSpaceMessage")';*@
    </script>
    <script src="@Url.Content("/Content/js/ckeditor/ckeditor.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/mathscribe/jqmath-etc-0.4.6.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    @*<script src="@Url.Content("~/Content/VLE/js/addons/AssignmentFileInput/fileinput.js?v=" + @ResourceManager.GetString("Shared.Version.Js"))"></script>*@
    <script src="@Url.Content("~/Content/js/custom/Assignment/StudentHomeworkAddEdit.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Assignment/AssignmentComment.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/Common/FileDownloader.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    <script type="text/javascript">
        if (localStorage.getItem("backstudentpagerefer") == null) {
            localStorage.setItem("backstudentpagerefer", document.referrer);
        }
        $('.back a').removeAttr('onClick');
        $(document).on('click', '.back', function (e) {
            var pathrefer = localStorage.getItem("backstudentpagerefer");
            window.location.href = pathrefer;
        });
        localStorage.removeItem("pagerefer");
        $(function () {
            $("#StudentAssignmentFiles").mCustomScrollbar({
                autoExpandScrollbar: true,
                autoHideScrollbar: true,
                scrollbarPosition: "outside"
            });
            $("#attachmentslist").mCustomScrollbar({
                autoExpandScrollbar: true,
                autoHideScrollbar: true,
                scrollbarPosition: "outside"
            });
            var refreshAssignmentInterval = null;
            $("#btnBack").show();

            $(document).on('click', '#btnBack', function () {
                window.history.back();
            });
            $(document).on('click', '#ViewFile', function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                if (globalFunctions.isValueValid(id)) {
                    window.open("/Document/Viewer/Index?id=" + id + "&module=assignment", "_blank");
                }
            });
            $(document).on('click', '#btnStartGroupQuiz', function () {
                clearInterval(refreshAssignmentInterval);
                $("#TaskId").val($(this).data("taskid"));
                $("#QuizId").val($(this).data("id"));
                $("#IsTaskEnable").val($(this).data("istaskenable"));
                $("#StudentId").val($(this).data("studentid"));
                $("#selectedQuizName").html($(this).data("quizname"));
                $("#selectedQuizTitle").html($(this).data("starttime"));

                $("#QuizTimeInSec").val($(this).data("timeinsec"));
                $("#selectedQuizStartDate").html($(this).data("startdate"));
                $("#selectedQuizStartTime").html($(this).data("starttimebyteacher"));
                $("#TeacherGivenTime").val($(this).data("teachergiventime"));
                $("#IsSetStartDateByTeacher").val($(this).data("issetstartdate"));

                if ($(this).data("issetstartdate") == 'False') {
                    $('.SetTeacherTime').hide();
                    $('.selectedQuizFooter').show();
                }
                else {
                    $('.SetTeacherTime').show()
                    if ($(this).data("startstartedtimer") == 'False') {
                        var self = this;
                        refreshAssignmentInterval = setInterval(function () {
                            var d2 = new Date();
                            $.ajax({
                                type: 'GET',
                                url: '/Files/Files/GetServerDateTime',
                                async: false,
                                global: false,
                                contentType: 'application/json',
                                success: function (data) {
                                    //debugger;
                                    d2 = new Date(data);
                                },
                                error: function (data, xhr, status) {
                                    globalFunctions.onFailure(data, xhr, status);
                                }
                            });
                            var d1 = new Date($(self).data("teachergiventime"));
                            var diffInSec = parseInt($(self).data("timeinsec")) - parseInt(((d2 - d1) / 1000).toString());
                            if (d2 >= d1) {
                                if (diffInSec > 0) {
                                    $('.selectedQuizFooter').show();
                                } else {
                                    $('.selectedQuizFooter').hide();
                                }
                            }
                            else {
                                $('.selectedQuizFooter').hide();
                            }
                        }, 200);
                    } else {
                        var self = this;
                        refreshAssignmentInterval = setInterval(function () {
                            var d2 = new Date();
                            $.ajax({
                                type: 'GET',
                                url: '/Files/Files/GetServerDateTime',
                                async: false,
                                global: false,
                                contentType: 'application/json',
                                success: function (data) {
                                    //debugger;
                                    d2 = new Date(data);
                                },
                                error: function (data, xhr, status) {
                                    globalFunctions.onFailure(data, xhr, status);
                                }
                            });
                            var d1 = new Date($(self).data("teachergiventime"));
                            var diffInSec = parseInt($(self).data("timeinsec")) - parseInt(((d2 - d1) / 1000).toString());
                            if (d2 >= d1) {
                                if (diffInSec > 0) {
                                    $('.selectedQuizFooter').show();
                                } else {
                                    $('.selectedQuizFooter').hide();
                                }
                            }
                            else {
                                $('.selectedQuizFooter').hide();
                            }
                        }, 200);
                    }
                }
                $('#startQuiz').modal({ show: true });
            });
            $(document).on('click', '#btnSolveAssignmentQuiz', function () {
                ////debugger;
                var isEnable = ($("#IsTaskEnable").val() === 'True');
                var taskId = $("#TaskId").val();
                var studentId = $("#StudentId").val();
                ////debugger;
                if ($("#IsSetStartDateByTeacher").val() == "False") {
                    localStorage.setItem("quizStarted", 0);
                }
                else {
                    var d2 = new Date();
                    $.ajax({
                        type: 'GET',
                        url: '/Files/Files/GetServerDateTime',
                        async: false,
                        global: false,
                        contentType: 'application/json',
                        success: function (data) {
                            //debugger;
                            d2 = new Date(data);
                        },
                        error: function (data, xhr, status) {
                            globalFunctions.onFailure(data, xhr, status);
                        }
                    });

                    var d1 = new Date($("#TeacherGivenTime").val());
                    var diffInSec = parseInt($("#QuizTimeInSec").val()) - parseInt(((d2 - d1) / 1000).toString());
                    localStorage.setItem("quizStarted", diffInSec);
                }
                if (isEnable) {
                    studentHomeworkAddEdit.logQuizTime($(this), $("#QuizId").val(), taskId, 'A', true);
                    window.location.href = "/Assignments/Assignment/GetStudentTaskDetails?taskId=" + taskId + "&studentId=" + studentId;
                }
                else {
                    globalFunctions.showWarningMessage("@ResourceManager.GetString("Assignment.AssignmentMessages.CompletePreviousTask")");
                }

                //localStorage.setItem("quizStarted", 0);
            });
            $(document).on('click', '#ViewStudentFile', function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                if (globalFunctions.isValueValid(id)) {
                    window.open("/Document/Viewer/Index?id=" + id + "&module=stdassignment", "_blank");
                }
            });
            $(document).on('click', '#deleteStudentFile', function () {
                var fileId = $(this).attr('data-id');
                var assignmentId = $(this).attr('data-assignmentId');
                var studentId = $(this).attr('data-studentId');
                globalFunctions.notyDeleteConfirm($(this), translatedResources.deleteConfirm);
                $(document).bind('okToDelete', $(this), function (e) {
                    $.post('/Assignments/Assignment/DeleteStudentAssignmentFile', { fileId: fileId, assignmentId: assignmentId, studentId: studentId }, function (response) {
                        if (response.Success) {
                            $.post('/Assignments/Assignment/GetUploadedStudentFile', { assignmentId: assignmentId, studentId: studentId }, function (result) {
                                $("#StudentAssignmentFiles").html(result);
                            });
                        } else {
                            globalFunctions.showErrorMessage(response.Message);
                        }

                    });
                });
            });
        });


    </script>
}
