﻿@model IEnumerable<Phoenix.VLE.Web.Models.GradeTemplate>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    var panelTitle = ResourceManager.GetString("Course.Standard.StandardTitle");
    ViewData["Title"] = panelTitle;
    var rnd = DateTime.Now.Ticks.ToString();
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-configuration.svg");
}
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
<div class="card-body">
    <div class="title-with-fields">

        <div class="card-title">
            <div id="">
                @ResourceManager.GetString("Course.AssessmentConfig.AssessmentConfig")
            </div>

        </div>
        <div>
            <button type="button" class="btn btn-sm btn-primary" id="btnAssessmentConfig">@ResourceManager.GetString("Shared.Labels.Add")</button>
        </div>


    </div>
</div>
<table id="tbl-AssessmentConfig" class="table table-bordered table-hover table-responsive-md" cellspacing="0" width="100%" border="1">
    <thead>
        <tr>
            @*<td><strong>@ResourceManager.GetString("Course.AssessmentConfig.TemPlateName")</strong></td>*@
            <td><strong>@ResourceManager.GetString("Course.AssessmentConfig.Description")</strong></td>
            @*<td><strong>@ResourceManager.GetString("Course.AssessmentConfig.ShortCode")</strong></td>

                <td><strong>@ResourceManager.GetString("Course.AssessmentConfig.ColorCode")</strong></td>
                <td><strong>@ResourceManager.GetString("Course.AssessmentConfig.Value")</strong></td>
                <td><strong>@ResourceManager.GetString("Course.AssessmentConfig.Order")</strong></td>*@
            <td><strong>@ResourceManager.GetString("Course.GradeSlab.Edit")</strong></td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="page-break-inside:avoid;">

                @*<td>@item.TemPlateName</td>
                    <td>@item.ShortCode</td>*@
                <td>@item.GradeTemplateMasterdesc</td>
                @*<td><input type="text" value="" class="form-control rounded-circle z-depth-0" style="background-color:@item.ColorCode;width:50px;" disabled=""></td>

                    <td>@item.Value</td>
                    <td>@item.GradeOrder</td>*@
                <td>
                    <a class="mr-1" onclick="Config.EditMaster(@item.GradeTemplateMasterId)" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                    @*<a class="mr-1" onclick="Config.DeleteConfig(@item.Id,this)" title="Delete"><i class="fa fa-trash-alt"></i></a>*@
                </td>
            </tr>
        }
    </tbody>

</table>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
<style>
    .dataTables_filter {
        display: none;
    }
</style>
@section scripts
{

    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/AssessmentConfig/AssessmentConfig.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        Config.ConfigArray =@Html.Raw(Json.Encode(Model));
        $('#tbl-AssessmentConfig').DataTable({
              "pageLength": 5,
                "ordering": false
            });
    </script>

}

