﻿@model IEnumerable<Phoenix.VLE.Web.Models.GradeTemplate>
@using Phoenix.Common.Localization

@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    //var panelTitle = ResourceManager.GetString("Course.Standard.StandardTitle");
    //ViewData["Title"] = panelTitle;
    var rnd = DateTime.Now.Ticks.ToString();
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-configuration.svg");
}
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
@*@Html.BeginForm("SaveAssessmentConfig", "AssessmentConfig", FormMethod.Post, new { @class = "my_form" })*@
<div id="divAddAssessmentConfig" class="d-none">


    <div class="row" id="frmAssessmentConfig">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card safety-categories-wrapper">
                <div class="card-body column-padding pt-3 pb-3">
                    <div class="row">
                        <div class="card-title">

                            <span id="spnBtnBacktoGrid" class="pull-right font-small cursor-pointer"><i class="fas fa-arrow-alt-cirlce-left"></i> Back</span>
                        </div>
                    </div>

                    <div class="table-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="md-form md-outline mb-3">
                                        <input class="form-control" id="Description" placeholder="Description" name="Description" type="text" value="" />
                                        <input class="form-control" id="GradeTemplateMasterId" name="GradeTemplateMasterId" type="hidden" value="" />
                                        <input class="form-control" id="MasterIds" name="MasterIds" type="hidden" value="" />
                                        @*@Html.TextBox("Details", string.Empty, new { @class = "form-control", @id = "Details" })*@
                                        <label class="active" for="Details">@ResourceManager.GetString("Course.GradeSlab.Description")</label>
                                    </div>


                                </div>

                                <div class="col-sm">
                                    <div class="md-form md-outline mb-3">
                                        <button id="add" type="button" onclick="Config.AddRow()" class="btn btn-primary">@ResourceManager.GetString("Course.GradeSlab.Add")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="">

                                @*<table class="table  table-hover" id="tbl-ConfigList">
                                        <tr id="tablerow0">

                                            <input class="form-control" placeholder="TemPlateName" id="GradeTemplateDetailId" name="GradeTemplateDetailId" type="hidden" value="" />
                                            <input class="form-control" placeholder="TemPlateName" id="GradeTemplateMasterId" name="GradeTemplateMasterId" type="hidden" value="" />


                                            <td>
                                                <div class="md-form md-outline mb-3">
                                                    <input class="form-control" placeholder="ShortCode" id="GTD_ShortCode" name="GTD_ShortCode[0]" type="text" value="" required="required" />
                                                    <label class="active" for="Details">@ResourceManager.GetString("Course.AssessmentConfig.ShortCode")</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="md-form md-outline mb-3">
                                                    <input class="form-control" placeholder="Description" id="GTD_Description" name="GTD_Description[0]" type="text" value="" required="required" />
                                                    <label class="active" for="Details">@ResourceManager.GetString("Course.AssessmentConfig.Description")</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="md-form md-outline mb-3">
                                                    <input type="hidden" placeholder="ColorCode" class="form-control colorpicker color-picker" id="GTD_ColorCode" name="GTD_ColorCode[0]" data-control="hue" value="#ccc">

                                                </div>
                                            </td>
                                            <td>
                                                <div class="md-form md-outline mb-3">
                                                    <input class="form-control" placeholder="Value" id="GTD_Value" name="GTD_Value[0]" type="text" value="" required="required" />
                                                    <label class="active" for="Details">@ResourceManager.GetString("Course.AssessmentConfig.Value")</label>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="md-form md-outline mb-3">
                                                    <input class="form-control" placeholder="Order" id="GTD_Order" name="GTD_Order[0]" type="text" value="" required="required" />
                                                    <label class="active" for="Details">@ResourceManager.GetString("Course.AssessmentConfig.Order")</label>
                                                </div>
                                            </td>

                                            <td>
                                                <button type="button" class="btn btn-primary" onclick="Config.removeTr(0);">Delete</button>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </table>*@
                            </div>
                        </div>
                        <div id="tbl-ConfigListMaster">
                            <table class="table  table-hover" id="tbl-ConfigList">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="md-form md-outline mb-3">
                                        <button type="button" class="btn btn-primary" onclick="Config.saveGradeTemplate()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="card" id="Showtable">
    <div class="card-body">
    
        @Html.Partial("~/Areas/Assessment/Views/GradeTemplate/_GradeTemplate.cshtml", Model)

    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
<style>
    .dataTables_filter {
        display: none;
    }
</style>
@section scripts
{

    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/AssessmentConfig/AssessmentConfig.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        Config.ConfigArray =@Html.Raw(Json.Encode(Model));
        $('#tbl-AssessmentConfig').DataTable({
              "pageLength": 5,
            "ordering": false,
              "bLengthChange": false
            });
    </script>

}
