﻿@model IEnumerable<Phoenix.Models.GradingTemplate>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    ViewData["Title"] = ResourceManager.GetString("ListCategories.GradingTemplates.GradingTemplates");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-list-categories.svg");
    var rnd = DateTime.Now.Ticks.ToString();
}

<div class="row search-row justify-content-end pb-2">
    <div class="col-12 col-xl-11 col-lg-12 col-md-12 d-flex flex-column flex-md-row justify-content-end ">
        <div class="search-with-bg w-responsive mb-2 mb-md-0">
            <span class="icon-search"></span>
            <input type="text" id="GradingTemplateListSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
        </div>
        @if (Html.CurrentPagePermission().CanEdit)
        {
            <button id="btnAddGradingTemplate" type="button" class="btn btn-primary m-0 rounded-6x ml-0 ml-md-3"><i class="fa fa-plus mr-2"></i>@ResourceManager.GetString("ListCategories.GradingTemplates.AddGradingTemplate")</button>
        }
    </div>
</div>

<div class="row grid-view">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card grid-list-card">
            <div class="list-wrapper table-responsive">
                <table class="table mw-100 dataTable no-footer" id="tbl-GradingTemplate">
                    <thead class="thead-dark"></thead>
                </table>
            </div>
        </div>
    </div>
</div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.gradingTemplate = '@ResourceManager.GetString("ListCategories.GradingTemplates.GradingTemplate")';
        translatedResources.templateName = '@ResourceManager.GetString("ListCategories.GradingTemplates.TemplateName")';
        translatedResources.templateDescription = '@ResourceManager.GetString("ListCategories.GradingTemplates.GradingTemplateDesc")';
        translatedResources.logo = '@ResourceManager.GetString("ListCategories.GradingTemplates.Logo")';
        translatedResources.UploadFileMessage= '@ResourceManager.GetString("ListCategories.GradingTemplates.UploadFileMessage")';

    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/ListCategories/GradingTemplate.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
