﻿@model Phoenix.Models.CrossSchoolPermission
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
@using (Ajax.BeginForm("SaveCrossSchoolPermission", "Course", new AjaxOptions
{
    OnFailure = "globalFunctions.onFailure",
    OnSuccess = "objTCSPermission.onSuccess",
    OnBegin = "return common.IsInvalidByFormOrDivId('frmCrossSchoolPermission');"
},
    new
    {
        @area = "Course",
        id = "frmCrossSchoolPermission",
        enctype = "multipart/form-data",
        @class = "form-horizontal"
    }))
{
    <div class="modal-body">
        <div class="popup-form">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="row mb-3">
                        @Html.HiddenFor(m => m.TCS_ID)
                        <div class="col-12">
                            <div class="md-form md-outline mb-3 md-mb-0">
                                @if (Model.TCS_ID > 0)
                                {
                                    @Html.DropDownListFor(m => m.TeacherId, (SelectList)ViewBag.TeacherList, selectText, new { @class = "selectpicker", @data_required = "", @data_live_search = "true", @id = "ddlTCSTeacher", @disable ="" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.TeacherId, (SelectList)ViewBag.TeacherList, selectText, new { @class = "selectpicker", @data_required = "", @data_live_search = "true", @id = "ddlTCSTeacher" })
                                }

                                @Html.LocalizedLabel("active", "Course.CrossSchoolPermission.Teacher")
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="md-form md-outline  mb-3 md-mb-0">
                                @Html.DropDownListFor(m => m.SchoolId, (SelectList)ViewBag.SchoolList,selectText, new { @class = "selectpicker", @data_required = "", @data_live_search = "true", @id = "ddlTCSSchool" })
                                @Html.LocalizedLabel("active", "Course.CrossSchoolPermission.School")
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="md-form md-outline  mb-3 md-mb-0 date-time-picker date-icon">
                                        @Html.TextBoxFor(x => x.AssignFrom, new { @class = "form-control date-picker",@data_maxdateid = "AssignTo" })
                                        <label for="AssignFrom" class="active">@ResourceManager.GetString("Course.CrossSchoolPermission.AssignmentFrom")</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="md-form md-outline  mb-3 md-mb-0 date-time-picker date-icon">
                                        @Html.TextBoxFor(x => x.AssignTo, new { @class = "form-control date-picker", @data_mindateid = "AssignFrom" })
                                        <label for="AssignTo" class="active">@ResourceManager.GetString("Course.CrossSchoolPermission.AssignmentTo")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal" nclick="objTCSPermission.ResetForm();">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            <button type="submit" class="btn btn-primary waves-effect waves-light">@ResourceManager.GetString("Shared.Buttons.Save")</button>
        </div>
    </div>    
}