﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@model long
@{
    var CourseId = Model;
    var encryptCourseId = EncryptDecryptHelper.EncryptUrl(CourseId);
}

@if (CourseId == 0)

{
    <ul class="navTabs coursenavTabs d-flex align-items-center flex-nowrap overflow-auto w-100 column-padding border-bottom">
        <li class="flex-shrink-0"><a href="#"  class="text-medium py-3 d-inline-block position-relative mx-2 mx-md-0 active">@ResourceManager.GetString("Course.Common.CourseDescription")</a></li>
        @*<li class="flex-shrink-0"><a href="#"  class="text-medium py-3 d-inline-block position-relative mx-3 ml-md-4 mr-md-0">@ResourceManager.GetString("Course.Common.UnitCalendar")</a></li>
        <li class="flex-shrink-0"><a href="#"  class="text-medium py-3 d-inline-block position-relative mx-3 ml-md-4 mr-md-0">@ResourceManager.GetString("Course.Common.CurriculumMap")</a></li>*@
    </ul>
}
else
{
<ul class="navTabs coursenavTabs d-flex align-items-center flex-wrap overflow-auto w-100 column-padding border-bottom">
    <li class="flex-shrink-0"><a href="javascript:void(0);" onclick="loadAddEditCourseView(this,'@(encryptCourseId)')" class="text-medium py-3 d-inline-block position-relative mx-2 mx-md-0 active coursedescription">@ResourceManager.GetString("Course.Common.CourseDescription")</a></li>
    <li class="flex-shrink-0"><a href="javascript:void(0);" onclick="loadUnitCalenarView(this,'@(encryptCourseId)')" class="text-medium py-3 d-inline-block position-relative mx-3 ml-md-4 mr-md-0 unitcalendar">@ResourceManager.GetString("Course.Common.UnitCalendar")</a></li>
    <li class="flex-shrink-0"><a href="javascript:void(0);" onclick="loadCurriculumMapView(this,'@(encryptCourseId)')" class="text-medium py-3 d-inline-block position-relative mx-3 ml-md-4 mr-md-0 curriculummap">@ResourceManager.GetString("Course.Common.CurriculumMap")</a></li>
</ul>
}
