﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.CourseMapping>
@using Phoenix.Common.Localization
@using Phoenix.VLE.Web.Helpers
@using Phoenix.Common.Helpers
@{
    var rnd = DateTime.Now.Ticks.ToString();
    var admin = SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher();
    //var curriculum = (SelectList)ViewBag.Curriculum;
    var courseId = (string)ViewBag.CourseId;
    var createNewUrl = "/course/course/AddEditMapCourse?corId=" + courseId;
    var groupIdName = ResourceManager.GetString("Course.MapCourse.GradeIds");
    var teacherList = ResourceManager.GetString("Course.MapCourse.TeacherIds");
    var groupName = ResourceManager.GetString("Course.MapCourse.GroupName");
}
<div class="row">
    <!-- left column -->
    <div class="col-lg-12 col-md-12 col-12">
        <!-- search section -->
        <div class="row search-row justify-content-end align-items-center mb-3">
            <div class="col-xl-7 col-12 col-md-10 d-flex justify-content-end">
                <div class="mb-2 mb-sm-0 search-with-bg w-responsive">
                    <span class="icon-search"></span>
                    <input type="search" data-url="@(string.Format(Model.LoadPageRecordsUrl,1,Model.SearchString))" id="searchContent" value="@Model.SearchString" class="search-field custom searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
                </div>
                <a href="@createNewUrl" class="align-items-center btn btn-primary d-flex flex-0 m-0 ml-0 ml-sm-2 rounded-6x mb-2 mb-sm-0 justify-content-center">
                <i class="fa-plus fas mr-0 r-md-2"></i><span class="d-none d-md-inline-block ml-2">@ResourceManager.GetString("Course.MapCourse.NewGroup")</span></a>
            </div>
        </div>
        <!-- search section end -->
        <!-- create course group card -->
        <div class="row grid-view">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="grid-list-card course-grp-container p-0">
                    <div class="row">
                        @if (Model.PageRecords.Any())
                        {
                            foreach (var course in Model.PageRecords)
                            {
                                var editUrl = string.Concat(createNewUrl, "&id=", EncryptDecryptHelper.EncryptUrl(course.SchoolGroupId));
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-3">
                                    <div class="card course-grp-card px-3 pt-3 py-2 hoverable @Html.Raw(course.GroupGrades.DistinctBy(x => x.SchoolName).Count() > 1? "crossschool-group" : string.Empty)">
                                        <div class="course-grp-content">
                                            <div class="course-grp-header d-flex justify-content-between align-items-center mb-3">
                                                <h5 class="mr-2 text-semibold mb-0" data-toggle="popover" data-placement="top" data-content="@course.SchoolGroupName">@(Html.Raw(course.SchoolGroupName.Length > 20 ? course.SchoolGroupName.Substring(0, 20) + "..." : course.SchoolGroupName))</h5>
                                                <a href="@(editUrl)"><img src="~/Content/VLE/img/svg/pencil.svg" alt="" class="svg" /></a>
                                            </div>
                                            <div class="grades-wrapper mb-3">
                                                <h6 class="sub-heading text-black-50 text-semibold">@groupIdName</h6>
                                                <div class="grade-tag-wrapper">
                                                    @foreach (var grades in course.GroupGrades)
                                                    {
                                                        <span class="grade-tag text-uppercase d-inline-block text-semibold" data-toggle="tooltip" title="@grades.SchoolName">@grades.GradeDisplay</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="teacher-wrapper">
                                                <h6 class="sub-heading text-black-50 text-semibold">@teacherList</h6>
                                                <div class="teacher-tag-wrapper">
                                                    @foreach (var teachers in course.GroupTeachers)
                                                    {
                                                        <span class="teacher-tag text-uppercase d-inline-block text-semibold">@teachers.TeacherName</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="card">
                                    <div class="card-body py-5">
                                        <span class="no-data-found text-bold d-block mx-auto my-5">
                                            @ResourceManager.GetString("Shared.Labels.NoRecords")
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- create course group card end-->
    </div>
    <!-- left column -->
</div>
@*<div class="row search-row mb-3">
        <div class="col-lg-6 col-md-6 col">
            <div class="search-with-bg">
                <span class="icon-search"></span>
                <input data-url="@(string.Format(Model.LoadPageRecordsUrl,1,Model.SearchString))" value="@Model.SearchString" type="text" id="searchContent" class="search-field custom searchfield" placeholder="Search">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col">

        </div>

        <div class="col-lg-3 col-md-3 col text-right">
            @if (admin)
            {
                <a href="@createNewUrl" type="button" class="btn btn-outline-primary">
                    <i class="fas fa-plus"></i><span class="d-none d-md-inline-block ml-2">Create New Course Group</span>
                </a>
            }
        </div>
    </div>*@
@*<div class="row course-desc-section">
        @if (Model.PageRecords.Any())
        {
            foreach (var course in Model.PageRecords)
            {
                var editUrl = string.Concat(createNewUrl, "&id=", EncryptDecryptHelper.EncryptUrl(course.SchoolGroupId));
                <div class="col-lg-2 col-md-2 col-12 course-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="course-desc-header">
                                <div class="course-desc-info d-flex justify-content-between">
                                    <span class="ml-3"></span>

                                    @if ((bool)ViewBag.isCustomPermissionEnabled &&
                                      SessionHelper.CurrentSession.IsTeacher() ||
                                      SessionHelper.CurrentSession.IsAdmin)
                                    {
                                        <a href="@(editUrl)">
                                            <span class='course-edit mr-2'><i class='fas fa-pencil-alt'></i></span>
                                        </a>
                                    }

                                </div>
                            </div>
                            <div class="course-desc-body mt-4">
                                <h3 class="course-heading" data-toggle="tooltip" title="@course.SchoolGroupName">
                                    <a href="@(editUrl)"> @(Html.Raw(course.SchoolGroupName.Length > 13 ? course.SchoolGroupName.Substring(0, 13) + "..." : course.SchoolGroupName))</a>
                                </h3>
                                <div class="course-description"
                                     data-toggle="tooltip">
                                    @foreach (var grades in course.GroupGrades)
                                    {
                                        <span class="badge badge-pill badge-primary" data-toggle="tooltip" title="@grades.SchoolName">@grades.GradeDisplay</span>
                                    }
                                </div>
                                <div class="course-description"
                                     data-toggle="tooltip">
                                    @foreach (var teachers in course.GroupTeachers)
                                    {
                                        <span class="badge badge-pill badge-success">@teachers.TeacherName</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>*@
@Html.Partial("_PaginationIndex", Model)
<script>
    $('[data-toggle="popover"]').popover({
        trigger: 'hover'
    });
</script>