﻿@model SelectList
@using Phoenix.Common.Localization
@using  Phoenix.Common.Helpers
@{
    var curriculum = Model;
}

@if (curriculum.Any())
{
    if (curriculum.Count() > 1)
    {
        <div class="justify-content-end row search-row">
            <div class="col-4 d-flex flex-column flex-lg-nowrap flex-md-row flex-wrap justify-content-end">
                <div class="md-form md-outline sort-dropdown ml-0 ml-md-3 mb-3 mb-lg-0">
                    <label class="select-label pl-2">@ResourceManager.GetString("Course.Course.Curriculum"): </label>
                    <select id="CurriculumId" class="selectpicker">
                        @foreach (var item in curriculum)
                        {
                            <option @Html.Raw(curriculum.ElementAt(0) == item ? "selected" : "") data-curriculum="@EncryptDecryptHelper.EncryptUrl(item.Value)" value="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.Hidden("CurriculumId", curriculum.First().Value)
    }
}

