﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.VLE.Web.Extensions
@using Phoenix.VLE.Web.Areas.Course.Models
@model IEnumerable<UnitMasterEdit>

@{
    var UnitDetailsList = (IEnumerable<UnitDetailsTypeEdit>)ViewData["UnitDetails"];
    var CourseId = ViewData["CourseId"];
    var IsExport = (bool)ViewData["IsExport"];

}

@if (Model.Any())
{

    <div class="vTab-wrapper d-lg-flex curriculum-map-tab">

        @{ var unitCounter = 1;}
        @if (!IsExport)
        {
            <ul class="tabs mt-0">
                <div class="search-with-bg bg-white m-1">
                    <span class="icon-search"></span>
                    <input type="search" class="searchfield" placeholder="Search Units">
                </div>

                @if (Model != null)
                {

                    foreach (var unit in Model)
                    {
                        if (unitCounter == 1)
                        {
                            <li rel=@("tab" + unit.UnitId) class="group-list-unit-search active text-semibold p-4 border-bottom">
                                @Html.Raw(@unit.UnitName)
                                <span class="d-block small text-muted text-semibold">@("(Week " + @unit.StartWeek + " - Week " + @unit.EndWeek + ")")</span>
                            </li>
                        }
                        else
                        {
                            <li rel=@("tab" + @unit.UnitId) class="group-list-unit-search text-semibold p-4 border-bottom">
                                @Html.Raw(@unit.UnitName)
                                <span class="d-block small text-muted text-semibold">@("(Week " + @unit.StartWeek + " - Week " + @unit.EndWeek + ")")</span>
                            </li>
                        }
                        unitCounter++;
                    }
                }
            </ul>
        }
        <!-- .tab-container starts-->
        <div class="tab-container flex-1">
            @using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmGroupReport", @class = "d-inline-block form-horizontal w-100" }))
            {
                <input type="hidden" name="CurriculumCourseName" value="@Model.FirstOrDefault().CourseName" />
                <div class="justify-content-end mt-2 row">
                    <div class="col-12 col-lg-4 col-md-4 d-flex justify-content-end mb-1">
                        <div class="mr-2">
                            <button type="submit" id="btnGroupReportExcel" name="action:DownloadCurriculumMapToWordFile" title="@ResourceManager.GetString("Shared.Buttons.DownLoadWord")" data-toggle="tooltip" class="float-right p-0 border-0 bg-transparent"><i class="fas fa-file-word ic-file-word fa-2x"></i></button>
                        </div>
                        <div class="mr-2">
                            <input type="hidden" name="CourseId" value="@CourseId" />
                            <button type="submit" id="btnGroupReportPDF" name="action:DownloadCurriculumMapToPDF" title="@ResourceManager.GetString("Shared.Buttons.DownloadPDF")" data-toggle="tooltip" class="float-right p-0 border-0 bg-transparent"><i class="fas fa-file-pdf ic-file-pdf fa-2x"></i></button>
                        </div>
                    </div>
                </div>
            }
            @{unitCounter = 1; }
            @foreach (var unit in Model)
            {
                <!-- #tab1 -->
                if (unitCounter == 1)
                {
                    <h3 class="d_active tab-drawer-heading py-3 px-4 text-semibold" rel="@("tab" + @unit.UnitId)">
                        @Html.Raw(@unit.UnitName)
                        <br />
                        <span class="small sub-heading">@("(Week " + @unit.StartWeek + " - Week " + @unit.EndWeek + ")")</span>
                    </h3>
                }
                else
                {
                    <h3 class="tab-drawer-heading py-3 px-4 text-semibold" rel="@("tab" + @unit.UnitId)">
                        @Html.Raw(@unit.UnitName)
                        <br />
                        <span class="small sub-heading">@("(Week " + @unit.StartWeek + " - Week " + @unit.EndWeek + ")")</span>
                    </h3>
                }
                unitCounter++;
                <div id="@("tab" + @unit.UnitId)" class="tab-content">
                    @{ var unitDetailsListByUnit = UnitDetailsList.Where(x => x.UnitId == unit.UnitId).ToList(); }
                    @if (unitDetailsListByUnit != null)
                    {
                        if (unitDetailsListByUnit.Count() > 0)
                        {
                            foreach (var detail in unitDetailsListByUnit)
                            {
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <h5 class="rounded p-2 m-2">
                                            @detail.Title
                                            @if (!string.IsNullOrEmpty(detail.UpdatedBy) && detail.UpdatedBy.ToLower().Trim() != (detail.CreatedBy ?? string.Empty).ToLower().Trim())
                                            {
                                                <span class="float-right font-small">Updated By: <span class="badge badge-primary badge-pill font-small">@detail.UpdatedBy</span></span>
                                            }
                                            @if (!string.IsNullOrEmpty(detail.CreatedBy))
                                            {
                                                <span class="float-right font-small mr-2">Created By: <span class="badge badge-primary badge-pill font-small">@detail.CreatedBy</span></span>
                                            }

                                        </h5>
                                        <div class="pl-3">
                                            <p>
                                                @if (detail.ControlType != "Standards" && detail.ControlType != "Assessments" && detail.ControlType != "AssessmentLearning")
                                                {
                                                    if (!detail.HasAttachment)
                                                    {
                                                        @(string.IsNullOrEmpty(detail.ContentDescription) ? Html.Raw("<span class='no-data-found text-bold d-block mx-auto my-auto'>" + ResourceManager.GetString("Shared.Labels.NoRecords") + "</span>") : Html.Raw(@detail.ContentDescription))
                                                    }
                                                    else if (string.IsNullOrEmpty(detail.ContentDescription) && detail.AttachmentList.Count == 0)
                                                    {
                                                        @Html.Raw("<span class='no-data-found text-bold d-block mx-auto my-auto'>" + ResourceManager.GetString("Shared.Labels.NoRecords") + "</span>")

                                                    }
                                                    else
                                                    {
                                                        @Html.Raw(@detail.ContentDescription)
                                                    }
                                                }
                                            </p>
                                            @if (detail.ControlType == "Standards")
                                            {
                                                Html.RenderAction("GetStandardDetails", "Unit",
                                                 new { UTM_ID = detail.UnitId, AttachmentCount = detail.AttachmentList.Count() });
                                            }
                                            else if (detail.ControlType == "Assessments")
                                            {

                                                Html.RenderAction("AssessmentEvidenceList", "Unit",
                                                 new { unitId = detail.UnitId });

                                            }
                                            else if (detail.ControlType == "AssessmentLearning")
                                            {
                                                Html.RenderAction("AssessmentLearningList", "Unit",
                                                new { unitId = detail.UnitId });

                                            }

                                            @if (detail.AttachmentList != null)
                                            {

                                                @Html.DisplayAttachments("", detail.AttachmentList,
                                               htmlAttributes: new { @class = "form-control", @data_multiple = "multiple" })

                                                @*foreach (var attachment in detail.AttachmentList)
                {
                    var index = attachment.AttachmentPath.LastIndexOf("_") + 1;
                    var extIndex = attachment.AttachmentPath.LastIndexOf(".");
                    <span class="d-block info">
                        <small>
                            <a href="@(string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~")) + attachment.AttachmentPath)" class="text-uppercase">
                                <i class="fas fa-book p-1 text-primary"></i>@attachment.AttachmentPath.Substring(index, (extIndex - index))
                            </a>
                        </small>
                    </span>
                }*@
                                            }
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            }
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <span class="no-data-found text-bold d-block mx-auto my-auto">
                                        @ResourceManager.GetString("Shared.Labels.NoRecords")
                                    </span>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!-- #tab1 -->
            }
        </div>
        <!-- .tab-container -->

    </div>
}
else
{
    <span class="no-data-found text-bold d-block mx-auto my-auto">
        @ResourceManager.GetString("Shared.Labels.NoRecords")
    </span>
}
<script type="text/javascript" src="~/content/js/addons/vTabs.js"></script>