﻿@model IEnumerable<Phoenix.Models.CrossSchoolPermission>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    ViewBag.Title = "Teacher Cross School Permission";
    var rnd = DateTime.Now.Ticks.ToString();
    var RowNo = 1;
}
<table class="table table-bordered table-hover table-responsive-xl grid-table" width="100%" id="tbl-TCSPermissionGrid">
    <thead>
        <tr>
            <th width="50">#</th>
            <th>@ResourceManager.GetString("Course.CrossSchoolPermission.TeacherName")</th>
            <th>@ResourceManager.GetString("Course.CrossSchoolPermission.AssignmentFrom")</th>
            <th>@ResourceManager.GetString("Course.CrossSchoolPermission.AssignmentTo")</th>
            <th>@ResourceManager.GetString("Course.CrossSchoolPermission.Action")</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@RowNo</td>
                    <td>@item.TeacherName</td>
                    <td>@(item.AssignFrom == null ? string.Empty : item.AssignFrom.FormatDate())</td>
                    <td>@(item.AssignTo == null ? string.Empty : item.AssignTo.FormatDate()) </td>
                    <td class="text-center">
                        <div class="tbl-actions">
                            <a class="table-action-icon-btn" onclick="objTCSPermission.AddEditCrossSchoolPermission(this,@item.TCS_ID)"><img src="/Content/vle/img/svg/pencil-big.svg"></a>
                            <a class="table-action-icon-btn" onclick="objTCSPermission.deleteCrossSchoolPermission(@item.TCS_ID)"><img src="~/Content/vle/img/svg/delete.svg"></a>
                        </div>
                    </td>
                </tr>
                RowNo++;
            }
        }
        else
        {
            <tr>
                <td class="pb-2 pt-2" colspan="6">@ResourceManager.GetString("Course.CrossSchoolPermission.NoRecords")</td>
            </tr>
        }
    </tbody>
</table>