﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Enums;
@{
    ViewBag.Title = ResourceManager.GetString("Course.Course.AddEditCourse");
    // Layout = "~/Views/Shared/_TeacherLayout.cshtml";
    var courseId = (long)ViewBag.CourseId;
    var courseIdEncrypted = (string)ViewBag.CourseEncryptedId;
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div id="divCourseNabTab">
                    @{
                        Html.RenderPartial("_CourseNavTab", courseId);
                    }
                </div>
                @Html.Hidden("CourseId",courseId, new { @id = "cid" })
                <div id="divCourseDescription" class="divPartial">
                    @{
                        Html.RenderAction("AddEditCourseById", "Course", new { id = courseIdEncrypted });
                    }
                </div>
                <div id="divUnitCalendar" class="divPartial">

                </div>
                <div id="divCurriculumMap" class="divPartial">

                </div>

            </div>
        </div>
    </div>
</div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
    @Html.Partial("_CommonJsPartial")
}

@section scripts
{
    @*<link href="~/Content/VLE/css/addons/owl.theme.default.min.css" rel="stylesheet" />
        <script type="text/javascript" src="~/content/js/addons/moment-with-locales.js"></script>
        <script type="text/javascript" src="~/content/VLE/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script type="text/javascript" src="~/content/js/addons/bootstrap-datetimepicker.min.js"></script>*@

    <script language="javascript">
        translatedResources.Title = '@ResourceManager.GetString("Course.Course.Title")';
        translatedResources.Description = '@ResourceManager.GetString("Course.Course.Description")';
        translatedResources.StartDate = '@ResourceManager.GetString("Course.Course.StartDate")';
        translatedResources.EndDate = '@ResourceManager.GetString("Course.Course.EndDate")';
        translatedResources.CourseType = '@ResourceManager.GetString("Course.Course.CourseType")';
        translatedResources.SuccessMessage = '@ResourceManager.GetString("Course.Common.SuccessMessage")';
        translatedResources.UpdateMessage = '@ResourceManager.GetString("Course.Common.UpdateMessage")';
        translatedResources.CreateUnitLabel = '@ResourceManager.GetString("Course.Unit.CreateaNewUnit")';
        translatedResources.CourseDescription = '@ResourceManager.GetString("Course.Course.CourseDescription")';
        translatedResources.UnitCalendar = '@ResourceManager.GetString("Course.Common.UnitCalendar")';
        translatedResources.CurriculumMap = '@ResourceManager.GetString("Course.Common.CurriculumMap")';
        translatedResources.NoRecords = '@ResourceManager.GetString("Shared.Labels.NoRecords")';
        translatedResources.TheWeekSelectedMessaage = '@ResourceManager.GetString("Course.Unit.TheWeekSelectedMessaage")';
        translatedResources.Delete = '@ResourceManager.GetString("Shared.Buttons.Delete")';
    </script>
    <script src="@Url.Content("~/Content/js/ckeditor/ckeditor.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Course/AddEditCourse.js?v=" + ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Course/Unit/UnitCalendarMaster.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/Common/FileDownloader.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="~/Content/js/custom/Course/Unit/unit-calendar.js"></script>

    <script>
        $('#AjaxLoader').show();
        $(document).ready(function () {

            $('#divCourseDescription').hide();
            var backButton = '<li class="breadcrumb-item active breadcrumb-navigation mr-3" aria-current="page">' +
                '<a href="/course/course">@ResourceManager.GetString("Shared.Labels.Back")</a></li>';
            //$('.breadcrumb').prepend(backButton);
            $('nav.breadcrumbs > ul').append('<li class="ml-3"><div id="divCourseTitle" data-toggle="tooltip"></div></li>');
            addEditCourse.init();

            addEditCourse.initializeCourseDescriptionControls();



        });

        function loadAddEditCourseView(obj, id) {
            $('nav.breadcrumbs > ul').find('li.active').html(translatedResources.CourseDescription);
            $('.divPartial').hide();
            $('#divCourseDescription').show();
            addRemoveNavTabHighlighter(obj);

              var queryParams = new URLSearchParams(window.location.search);

            // Set new or modify existing parameter value.
            queryParams.set("tab", "coursedescription");

            // Replace current querystring with the new one.
            history.replaceState(null, null, "?" + queryParams.toString());


            if (!($('#divCourseDescription').html().trim() == "")) {
                return true;
            }
            else {

                $.get('/Course/Course/AddEditCourseById', { id: id }).then((response) => {
                    $('#divCourseDescription').html('');
                    $('#divCourseDescription').html(response);
                    $('#divCourseDescription').show();
                    addEditCourse.initializeCourseDescriptionControls();

                }).catch((error) => {
                    globalFunctions.showMessage(error.NotificationType, error.Message)
                });
            }


        }

        function loadUnitCalenarView(obj, id) {
            $('.divPartial').hide();
            $('#divUnitCalendar').show();

            addRemoveNavTabHighlighter(obj);
            $('nav.breadcrumbs > ul').find('li.active').html(translatedResources.UnitCalendar);

                var queryParams = new URLSearchParams(window.location.search);

            // Set new or modify existing parameter value.
            queryParams.set("tab", "unitcalendar");

            // Replace current querystring with the new one.
            history.replaceState(null, null, "?" + queryParams.toString());

            if (!($('#divUnitCalendar').html().trim() == "") && !isFormSubmit) {
                return true;
            }
            else {

                $.get('/Course/Course/unitcalendar', { id: id }).then((response) => {
                    $('#divUnitCalendar').html('');
                    $('#divUnitCalendar').html(response);
                    UnitCalendarMaster.initializeUnitCalendarControls();
                    UnitCalendarMaster.init($('#cid').val());
                    initializeValidation();
                    isFormSubmit = false;
                }).catch((error) => {
                    globalFunctions.showMessage(error.NotificationType, error.Message)
                });
            }


        }

        function loadCurriculumMapView(obj, id) {
            $('.divPartial').hide();
            $('nav.breadcrumbs > ul').find('li.active').html(translatedResources.CurriculumMap);

            addRemoveNavTabHighlighter(obj);
               var queryParams = new URLSearchParams(window.location.search);
            // Set new or modify existing parameter value.
            queryParams.set("tab", "curriculummap");
            // Replace current querystring with the new one.
            history.replaceState(null, null, "?" + queryParams.toString());

            //if (!($('#divCurriculumMap').html().trim() == "")) {
            //    return true;
            //}
            //else

            {

                $.get('/Course/Course/curriculummap', { id: id }).then((response) => {

                    $('#divCurriculumMap').html('');
                    $('#divCurriculumMap').html(response);

                    initializeCurriculumMap();
                    $('#divCurriculumMap').show();

                }).catch((error) => {
                    globalFunctions.showMessage(error.NotificationType, error.Message)
                });
            }

        }
        function addRemoveNavTabHighlighter(obj) {
            $('ul.coursenavTabs').find('a').removeClass("active");
            $(obj).addClass("active");
        }
        function initializeCurriculumMap() {

            $.extend($.expr[':'], {
                'containsi': function (elem, i, match, array) {
                    return (elem.textContent || elem.innerText || '').toLowerCase()
                        .indexOf((match[3] || "").toLowerCase()) >= 0;
                }
            });

            //$('.time-picker').datetimepicker({
            //    format: 'LT'
            //});
            //$('.date-picker').datetimepicker({
            //    format: 'MM/DD/YYYY'
            //});
            //var dt = new Date();
            //var cDate = ("0" + dt.getDate()).slice(-2) + '/' + ("0" + (dt.getMonth() + 1)).slice(-2) + '/' + dt.getFullYear();
            //var cTime = dt.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })
            //$('.date-picker').val(cDate);
            //$('.time-picker').val(cTime);

            //$(".colorpicker").minicolors({
            //    theme: 'bootstrap',
            //    control: 'hue',
            //    format: 'hex'
            //});

            $(".sidebar-fixed .list-group").mCustomScrollbar({
                setHeight: "86%",
                autoExpandScrollbar: true,
                autoHideScrollbar: true,
                scrollbarPosition: "outside"
            });

            //----------Select the first tab and div by default

            $('.searchfield').keyup(function () {

                $('.group-list-unit-search').show();

                var filter = $(this).val();
                var Len = $('.group-list-unit-search').length;
                var totalLen = $('.group-list-unit-search').not(':containsi(' + filter + ')').length;
                $('.group-list-unit-search:containsi(' + filter + ')').show();
                $('.group-list-unit-search').not(':containsi(' + filter + ')').hide();
                if (Len == totalLen) {
                    if ($('.search-with-bg').next('.norecords').length == 0)
                        $('.search-with-bg').after(`<span class="no-data-found norecords text-bold d-block mx-auto my-auto">${translatedResources.NoRecords}</span >`);
                }
                else
                    $('.search-with-bg').next('.norecords').remove();

            });

        }


    </script>
    <script type="text/javascript">
        initializeValidation();
        function initializeValidation() {
            $.validator.setDefaults({
                ignore: ".ignore"
            });

            //Not working, need to check in more detail
            jQuery.validator.addMethod("noSpace", function (value, element) {
                //console.log(value.indexOf(" "));
                return value != '' || value.trim().length != 0;
            }, "No space please and don't leave it empty");

            //$("form").validate({
            //    rules: {
            //        FolderName: {
            //            noSpace: true
            //        }
            //    }
            //});
        }
    </script>
}
