﻿@using Phoenix.Common.Localization
@using Phoenix.VLE.Web.Helpers
@using Phoenix.Common.Helpers
@using Phoenix.Models
@using Phoenix.Common.Helpers.Extensions
@model Phoenix.VLE.Web.Areas.Course.Models.CourseMappingEdit
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var selectAll = ResourceManager.GetString("Shared.Labels.SelectAll");
    ViewBag.Title = "Change Group";
    //  Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var curriculum = (SelectList)ViewBag.Curriculum;
    var courseId = EncryptDecryptHelper.DecryptUrl((string)ViewBag.CourseId);
    var encrypted = EncryptDecryptHelper.EncryptUrl(courseId);
    var homeSchoolId = SessionHelper.CurrentSession.SchoolId;
    var schoolList = (IEnumerable<SchoolList>)ViewBag.SelectedSchools ?? new List<SchoolList>();
    var schools = (IEnumerable<CourseStudentAndGrade>)ViewBag.SelectSchools ?? new List<CourseStudentAndGrade>();
    var gradeList = (IEnumerable<SchoolWiseGrade>)ViewBag.SelectedGrades ?? new List<SchoolWiseGrade>();
    var grades = (IEnumerable<CourseStudentAndGrade>)ViewBag.SelectGrades ?? new List<CourseStudentAndGrade>();

    var availableSchools = schoolList.Select(x => new SelectListItem { Text = x.SchoolName, Value = x.Id.ToString(), Selected = schools.Any(y => y.SchoolId == x.Id) });

    var availableGrades = gradeList
        .Select(x => new SelectListItem { Text = x.SchoolGradeDisplay, Value = x.SchoolGradeId.ToString(), Selected = grades.Any(y => y.GradeId == x.SchoolGradeId) });
    var assignTeacher = ResourceManager.GetString("Course.MapCourse.AssignTeacher");
}
<style>
    .task-action .btn.btn-outline-primary.action-btn {
        padding: .53125rem 0.375rem !important;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/css/addons/bootstrap-toggle.css" />
<!-- Subject setup start -->
<div class="">
    @using (Ajax.BeginForm("SaveCourseMap", "Course", new AjaxOptions
    { OnFailure = "globalFunctions.onFailure", OnSuccess = "mapCourse.onSaveSuccess", OnBegin = "return mapCourse.checkSelectedStudents()" }, new { @area = "course", id = "frmAddEditCourse", enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.SchoolGroupId);
        @Html.Hidden("previousGroupName", Model.SchoolGroupName)
        <div id="groupAssignTeacherFields">

        </div>
        <!-- Subject setup filter start -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="title-with-fields">
                            <h3 class="card-title">@ResourceManager.GetString("Course.MapCourse.MapCourse")</h3>
                            <div class="title-fields"></div>
                        </div>
                        <div class="column-padding pt-3 pb-3">
                            <div class="row mb-3">
                                @Html.HiddenFor(x => x.CourseId)
                                @*<div class="col-lg-4 col-md-4 col-12">
            <div class="md-form md-outline mb-3 mb-md-0">
                @{
                    var teacherList = (IEnumerable<GroupTeacher>)ViewBag.TeacherList;
                }
                <select class="selectpicker" id="ddlTeacher" name="TeacherIds" data-style="btn-white" multiple data-actions-box="true" data-live-search="true" data-selected-text-format="count > 2">
                    <optgroup>
                        @foreach (var obj in teacherList.Where(x => x.IsCurrentSchool))
                        {
                            <option value="@obj.TeacherId" class="filter-grade">@obj.TeacherName</option>
                        }
                    </optgroup>
                    @if (teacherList.Any(x => !x.IsCurrentSchool))
                    {
                        <optgroup label="@ResourceManager.GetString("Course.MapCourse.Teacherfromotherschool")">
                            @foreach (var obj in teacherList.Where(x => !x.IsCurrentSchool))
                            {
                                <option value="@obj.TeacherId" class="filter-course">@obj.TeacherName</option>
                            }
                        </optgroup>
                    }
                </select>
                @Html.LocalizedLabel("active", "Course.MapCourse.TeacherIds")
                @Html.ValidationMessageFor(x => x.TeacherIds)
            </div>
        </div>*@
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="md-form md-outline mb-3 mb-md-0">
                                        @Html.DropDownListFor(x => x.GradeIds, (SelectList)ViewBag.Grades,
                                        new
                                             {
                                                 @class = "selectpicker",
                                                 @id = "ddlGrade",
                                                 @multiple = "multiple",
                                                   @data_actions_box = "true",
                                                 @data_live_search = "true",
                                                 @data_selected_text_format = "count > 7"
                                             })
                                        @Html.LocalizedLabel("active", "Course.MapCourse.GradeIds")
                                        @Html.ValidationMessageFor(x => x.GradeIds)
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="md-form md-outline m-0">
                                        @Html.TextBoxFor(x => x.SchoolGroupName, new { @class = "form-control", @id = "GroupName" })
                                        <label for="GroupName" class="active">@ResourceManager.GetString("Course.MapCourse.GroupName")</label>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="md-form md-outline m-0">
                                        <button type="button" class="btn btn-primary m-0 w-160" data-toggle="modal" data-target="#assignTeacherDrawer">@assignTeacher</button>
                                        @*<input type="button" class="btn btn-primary m-0 w-160" value="@ResourceManager.GetString("Course.MapCourse.List")" id="btnLoadGroup" />*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12 text-right row" id="teacherNameBadge">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Subject setup filter end -->
        <!-- allocate student settings start -->
        <div class="row" id="divAllocateGroup" style="display:@(Model.SchoolGroupId > 0 ?"block":"none")">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">@ResourceManager.GetString("Course.MapCourse.AllocateGroup")</h3>
                        <div class="column-padding pt-3 pb-3">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-12 task-search border-bottom-0">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="border mb-3 px-3 py-2 rounded-1x search-wrapper d-flex align-items-center">
                                                <i class="active fa-search fas mr-1 text-default"></i>
                                                <input type="text" class="border-0 search-field w-responsive" id="studentSearchBox" placeholder="@ResourceManager.GetString("SIMS.Common.SearchStudents")" onkeyup="mapCourse.searchInStudentList();">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="md-form md-outline mb-3 section-adjust">
                                                <select class="selectpicker" multiple="" id="ddlSection" data-live-search="true" title="@selectText"></select>
                                                <label class="active select-label"> @ResourceManager.GetString("Course.MapCourse.Section")</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="student-allocation-wrapper border rounded column-padding pt-3 pb-3">
                                        <div class="stud-listalign custom-control custom-checkbox ml-1">
                                            <input type="checkbox" class="custom-control-input" value="SelectAll" id="chkSelectAllStudentToAdd">
                                            <label class="custom-control-label" for="chkSelectAllStudentToAdd">@selectAll</label>
                                        </div>
                                        <div id="StudentList">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12">
                                    <div class="d-flex flex-column h-100 justify-content-center pl-xl-4 pr-xl-4 task-action">
                                        <button type="button" class="btn btn-outline-primary m-0 mb-1 w-100 action-btn" onclick="mapCourse.addStudentInList();">
                                            @ResourceManager.GetString("Shared.Labels.Add") <i class="fas fa-arrow-right ml-2"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-primary m-0 w-100 action-btn" onclick="mapCourse.removeStudentFromList();">
                                            <i class="fas fa-arrow-left mr-2"></i> @ResourceManager.GetString("Shared.Labels.Remove")
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-12 task-search border-bottom-0">
                                    <div class="border m-0 mb-3 mt-3 mt-md-0 px-3 py-2 rounded-1x search-wrapper">
                                        <i class="active fa-search fas mr-1 text-default"></i>
                                        <input type="text" class="border-0 search-field" placeholder="@ResourceManager.GetString("SIMS.Common.SearchStudents")" onkeyup="mapCourse.searchInSelectedStudentList(this);">
                                    </div>
                                    <div class="student-allocation-wrapper border rounded column-padding pt-3 pb-3">
                                        <div class="stud-listalign custom-control custom-checkbox ml-1">
                                            <input type="checkbox" class="custom-control-input" value="SelectAll" id="chkSelectAllStudentToRemove">
                                            <label class="custom-control-label" for="chkSelectAllStudentToRemove">@selectAll</label>
                                        </div>
                                        <div id="SelectedStudentList">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <button type="submit" class="btn btn-primary m-0 waves-effect waves-light" tabindex="5">@ResourceManager.GetString("Shared.Buttons.Save") </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- allocate student settings end -->
    }
</div>

<div class="modal fade right" id="fluidModalRightSuccessDemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="true" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-primary" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead text-semibold">@ResourceManager.GetString("Course.MapCourse.CrossSchool")</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <!--Body-->
            <div id="crossschoolForm" class="modal-body">
                <div class="element" id="@("div_0")">
                    <div class="row mb-2">
                        <div class="col-12 mb-3">
                            <div class="md-form md-outline mb-0">
                                @Html.DropDownList("otherSchoolList", availableSchools, selectText, new { @class = "selectpicker schoolDropdown", @multiple = "multiple", @data_live_search = "true" })
                                <label class="active select-label"> @ResourceManager.GetString("Course.MapCourse.School")</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="md-form md-outline mb-0">
                                @Html.DropDownList("otherSchoolGrade", availableGrades, selectText, new { @class = "selectpicker gradeidsList", @multiple = "multiple", @data_live_search = "true" })
                                <label class="active select-label"> @ResourceManager.GetString("Course.MapCourse.GradeIds")</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                @*<a type="button" class="btn btn-success waves-effect waves-light">
                        Get it now
                        <i class="far fa-gem ml-1"></i>
                    </a>*@
                @*<a id="loadGradesFromOther" class="btn btn-primary waves-effect" data-dismiss="modal">@ResourceManager.GetString("Course.MapCourse.AddStudents")</a>*@
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<div class="modal fade" id="assignTeacherDrawer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="true" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-right modal-notify modal-primary modal-dialog-centered modal-xl" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead text-semibold">@assignTeacher</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <!--Body-->
            <div id="crossschoolForm" class="modal-body">
                <div class="row mb-3">
                    <div class="col-lg-12 col-md-12 col-12 row" id="groupAssignForm">
                        <input type="hidden" id="hddTeacherId" />
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="md-form md-outline mb-3 mb-md-0">
                                @{
                                    var teacherList1 = (IEnumerable<GroupTeacher>)ViewBag.TeacherList;
                                }
                                <select class="selectpicker" id="ddlTeacherList" data-required="" name="Teacher" data-style="btn-white" data-live-search="true">
                                    <optgroup>
                                        <option value="" class="filter-grade">@selectText</option>
                                        @foreach (var obj in teacherList1.Where(x => x.IsCurrentSchool))
                                        {
                                            <option value="@obj.TeacherId" data-iscurrentschool="true" data-isuseradmin="@obj.IsAdmin" @Html.Raw(obj.IsAdmin ? "data-icon='fas fa-user'" : string.Empty) class="filter-grade">@obj.TeacherName</option>
                                        }
                                    </optgroup>
                                    @if (teacherList1.Any(x => !x.IsCurrentSchool))
                                    {
                                        <optgroup label="@ResourceManager.GetString("Course.MapCourse.Teacherfromotherschool")">
                                            @foreach (var obj in teacherList1.Where(x => !x.IsCurrentSchool))
                                            {
                                                <option value="@obj.TeacherId" data-iscurrentschool="false" data-isuseradmin="@obj.IsAdmin" @Html.Raw(obj.IsAdmin ? "data-icon='fas fa-user'" : string.Empty) class="filter-course">@obj.TeacherName</option>
                                            }
                                        </optgroup>
                                    }
                                </select>
                                @Html.LocalizedLabel("active", "Course.MapCourse.TeacherIds")
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="md-form md-outline mb-3 mb-md-0 date-time-picker">
                                @Html.TextBox("AssignFrom", string.Empty, new { @class = "form-control date-picker", @data_maxdateid = "AssignTo", @data_required="" })
                                @Html.LocalizedLabel("active", "Course.CrossSchoolPermission.AssignmentFrom")
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="md-form md-outline mb-3 mb-md-0 date-time-picker">
                                @Html.TextBox("AssignTo", string.Empty, new { @class = "form-control date-picker", @data_mindateid = "AssignFrom", @data_required="" })
                                @Html.LocalizedLabel("active", "Course.CrossSchoolPermission.AssignmentTo")
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-6">
                            <div class="col-md-12 toggle-adjust">
                                <input id="isCoreOrSubstitute" type="checkbox" data-toggle="toggle" checked data-height="40" data-width="140" data-onstyle="primary" data-offstyle="primary" data-on="@ResourceManager.GetString("Course.MapCourse.CourseTeacher")" data-off="@ResourceManager.GetString("Course.MapCourse.SubstituteTeacher")">
                            </div>
                        </div>
                        <div class="col-4 col-lg-1 col-md-1 p-0 row">
                            <button type="button" class="btn btn-danger mb-3 mt-0 pb-2 pl-3 pr-3 pt-2 waves-effect waves-light" onclick="mapCourse.resetGroupAssignForm()"><i class="fas fa-times"></i></button>
                            <button type="button" class="btn btn-primary mb-3 mt-0 pb-2 pl-3 pr-3 pt-2 waves-effect waves-light"  onclick="mapCourse.addEditTeacher()"  ><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 table-responsive">
                            <table id="groupAssignGrid" class="table student-list-table dataTable no-footer"></table>
                        </div>
                    </div>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-end">
                @*<a class="btn btn-outline-primary waves-effect" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</a>*@
                <a class="btn btn-primary waves-effect" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Ok")</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
    <script>
        translatedResources.removeSchoolGroup = '@ResourceManager.GetString("Course.MapCourse.RemoveSchoolGroup")';
        translatedResources.noSchoolAvailable = '@ResourceManager.GetString("Course.MapCourse.NoSchoolAvailable")';
        translatedResources.removeSchoolBtn = '@ResourceManager.GetString("Course.MapCourse.RemoveSchool")';
        translatedResources.includeStudentFromOtherSchools = '@ResourceManager.GetString("Course.MapCourse.IncludeStudentFromId")';
        translatedResources.pleaseSelectStudent = '@ResourceManager.GetString("Course.MapCourse.pleaseSelectStudent")';
        translatedResources.groupAlreadyExist = '@ResourceManager.GetString("Course.MapCourse.groupAlreadyExist")';
        translatedResources.selectStudentAdd = '@ResourceManager.GetString("Course.MapCourse.SelectStudentAdd")';
        translatedResources.selectStudentRemove = '@ResourceManager.GetString("Course.MapCourse.SelectStudentRemove")';
        translatedResources.selectGrade = '@ResourceManager.GetString("Course.MapCourse.SelectGrade")';
        translatedResources.selectTeacher = '@ResourceManager.GetString("Course.MapCourse.SelectTeacher")';
        translatedResources.teacherName = '@ResourceManager.GetString("Course.CrossSchoolPermission.TeacherName")';
        translatedResources.assignmentFrom = '@ResourceManager.GetString("Course.CrossSchoolPermission.AssignmentFrom")';
        translatedResources.assignmentTo = '@ResourceManager.GetString("Course.CrossSchoolPermission.AssignmentTo")';
        translatedResources.action = '@ResourceManager.GetString("Course.CrossSchoolPermission.Action")';
        translatedResources.isCoreTeacher = '@ResourceManager.GetString("Course.MapCourse.IsCoreTeacher")';
        translatedResources.teacherSelected = '@ResourceManager.GetString("Course.MapCourse.TeacherSelected")';
        var teacherAssignData = @Html.Raw(Json.Encode(Model.GroupAssignTeachers))
        teacherAssignData.forEach(d => {
            if (globalFunctions.isValueValid(d.AssignFrom))
                d.AssignFrom = moment(d.AssignFrom).format('DD-MMM-YYYY');
            if (globalFunctions.isValueValid(d.AssignTo))
                d.AssignTo = moment(d.AssignTo).format('DD-MMM-YYYY');
        });
    </script>
}

@section scripts{
    <script type="text/javascript" src="~/Content/js/addons/bootstrap-toggle.js"></script>
    <script src="@Url.Content("~/Content/js/custom/Course/MapCourse.js?v=" + ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>

        homeSchoolId = @homeSchoolId;
        var stuLs = @Html.Raw(Json.Encode(Model.Students.DistinctBy(x => x.StudentId).ToList()));
        $('#ddlTeacher').val(@Html.Raw(Json.Encode(Model.TeacherIds))).selectpicker('refresh');
        var courseId = '@encrypted'
        $(document).ready(function () {
            var courseTitle = '<li data-toggle="tooltip" title="Course Title">@Model.CourseTitle</li>';
              $('nav.breadcrumbs > ul').append(courseTitle);
            var id = globalFunctions.getParameterValueFromQueryString("id");
            if (id == undefined || id == "" || id == null) {
                $('#divAllocateGroup').hide();
            }
        });
    </script>
    @if (Model.SchoolGroupId <= 0)
    {
        <script>
            $(document).on('change hide.bs.modal', '#ddlGrade,#assignTeacherDrawer,#otherSchoolGrade', function () {
                var groupName = '@Html.Raw(!string.IsNullOrEmpty(Model.CourseTitle) && Model.CourseTitle.Length > 4 ? Model.CourseTitle.Substring(0, 4) : Model.CourseTitle)';
                if (globalFunctions.isValueValid($('#ddlGrade').val())) {
                    groupName += "/" + $('#ddlGrade').val().map(function (e) { return $('#ddlGrade option[value="' + e + '"]').text() }).join('/');
                }
                if (globalFunctions.isValueValid($('#otherSchoolGrade').val())) {
                    groupName += "/" + $('#otherSchoolGrade').val().map(function (e) { return $('#otherSchoolGrade option[value="' + e + '"]').text() }).join('/');
                }
                if (mapCourse.getAssignGridData().length > 0) {
                    groupName += "/" + mapCourse.getAssignGridData().map(function (e) {
                        var teacherName = e.TeacherName;
                        return teacherName.replace(/(<([^>]+)>)/ig, '').substring(0, 3);
                    }).join('/');
                }
                $('#GroupName').val(groupName.substring(0, 25));
                $('label[for=GroupName]').addClass('active');
            });

        </script>
    }
}


