﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var canEdit = Phoenix.Common.Helpers.SessionHelper.CurrentSession.IsAdmin && Html.CurrentPagePermission().CanEdit;
}

@*<div class="mt-2 mb-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="title-with-fields">
                        <h3 class="card-title">@ResourceManager.GetString("Course.CrossSchoolPermission.Title")</h3>
                        <div class="title-fields mt-2">
                        </div>
                    </div>
                    <div class="column-padding pt-3 pb-0" id="divCrossSchoolPermissionForm">
                        @Html.Action("AddEditCrossSchoolPermission", "Course")
                    </div>
                    <div class="table-wrapper column-padding mb-3">
                        <div class="table-responsive" id="divTCSPermissionGrid">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row search-row justify-content-end mb-3">
            <div class="col-12 d-flex justify-content-end">
                <div class="search-with-bg w-responsive">
                    <span class="icon-search"></span>
                    <input type="text" class="searchfield search-field" autocomplete="off" id="searchTeacherTemplate" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
                </div>
                @if (canEdit)
                {
                    <a href="javascript:void(0)" id="btnAddSchedule" type="button" onclick="objTCSPermission.AddEditCrossSchoolPermission(this)" class="btn btn-primary rounded-4x ml-2 m-0 d-flex align-items-center">
                        <i class="fas fa-plus"></i> &nbsp;@ResourceManager.GetString("Shared.Labels.Add")
                    </a>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body min-height">
                <div class="py-4 responsive-list-table col-sm-12 table-responsive" id="divTCSPermissionGrid">
                </div>
            </div>
        </div>
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
}

@section scripts{
    <script>
        var isEditPermission = '@canEdit'.toBoolean();
    </script>
    <script src="@Url.Content("~/Content/js/custom/Course/CrossSchoolPermission.js?v=" + ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            objTCSPermission.InitGrid();
        });
    </script>

}

