﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.VLE.Web.Extensions
@using Phoenix.VLE.Web.Areas.Course.Models
@model IEnumerable<UnitMasterEdit>

@{
    ViewBag.Title = "Curriculum Map";
    Layout = "~/Views/Shared/_GBSTeacherLayout.cshtml";

    var UnitDetailsList = (IEnumerable<UnitDetailsTypeEdit>)ViewBag.UnitDetails;
    var CourseId = ViewBag.CourseId;
}

<!-- breadcrumb start -->
<div class="row breadcrumb-row">
    <div class="col-lg-12 col-md-12 col-12">
        <nav aria-label="breadcrumb" class="nav-breadcrumb">
            <ol class="breadcrumb border-bottom bg-white breadcrumb-header d-flex justify-content-between align-items-center">
                <li class="breadcrumb-item active breadcrumb-navigation" aria-current="page">
                    <a href="/course/unit/UnitCalendar?id=@CourseId">@ResourceManager.GetString("Course.Unit.BacktoUnitCalendar")</a>
                </li>
                <li class="list-pattern-container">
                    <div class="md-form md-outline m-0">
                        <select class="selectpicker">
                            <option selected>Select action</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label class="active select-label">Action</label>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- breadcrumb end -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ul class="navTabs d-flex align-items-center flex-nowrap overflow-auto w-100 column-padding border-bottom">
                    <li class="flex-shrink-0"><a href="/course/course/AddEditCourse?id=@CourseId" class="text-medium py-3 d-inline-block position-relative mx-2 mx-md-0">@ResourceManager.GetString("Course.Common.CourseDescription")</a></li>
                    <li class="flex-shrink-0"><a href="/course/unit/unitcalendar?id=@CourseId" class="text-medium py-3 d-inline-block position-relative mx-3 ml-md-4 mr-md-0">@ResourceManager.GetString("Course.Common.UnitCalendar")</a></li>
                    <li class="flex-shrink-0"><a href="#" class="text-medium py-3 d-inline-block position-relative mx-3 ml-md-4 mr-md-0 active">Curriculum Map</a></li>
                </ul>

                <!-- tab panel start -->
                <div class="vTab-wrapper d-lg-flex curriculum-map-tab">

                    <ul class="tabs mt-0">
                        <div class="search-with-bg bg-white m-1">
                            <span class="icon-search"></span>
                            <input type="search" class="searchfield" placeholder="Search Units">
                        </div>
                        @{ var unitCounter = 1;}
                        @if (Model != null)
                        {

                            foreach (var unit in Model)
                            {
                                if (unitCounter == 1)
                                {
                                    <li rel=@("tab" + unit.UnitId) class="group-list-unit-search active text-semibold p-4 border-bottom">
                                        @Html.Raw(@unit.UnitName)
                                        <span class="d-block small text-muted text-semibold">@("(Week " + @unit.StartWeek + " - Week " + @unit.EndWeek + ")")</span>
                                    </li>
                                }
                                else
                                {
                                    <li rel=@("tab" + @unit.UnitId) class="group-list-unit-search text-semibold p-4 border-bottom">
                                        @Html.Raw(@unit.UnitName)
                                        <span class="d-block small text-muted text-semibold">@("(Week " + @unit.StartWeek + " - Week " + @unit.EndWeek + ")")")</span>
                                    </li>
                                }
                                unitCounter++;

                            }
                        }
                    </ul>
                    <!-- .tab-container starts-->
                    <div class="tab-container flex-1">
                        @{unitCounter = 1; }
                        @foreach (var unit in Model)
                        {
                            <!-- #tab1 -->
                            if (unitCounter == 1)
                            {
                                <h3 class="d_active tab-drawer-heading py-3 px-4 text-semibold" rel="@("tab" + @unit.UnitId)">
                                    @Html.Raw(@unit.UnitName)
                                    <br />
                                    <span class="small sub-heading">@("(Week " + @unit.StartWeek + " - Week " + @unit.EndWeek + ")"))</span>
                                </h3>
                            }
                            else
                            {
                                <h3 class="tab-drawer-heading py-3 px-4 text-semibold" rel="@("tab" + @unit.UnitId)">
                                    @Html.Raw(@unit.UnitName)
                                    <br />
                                    <span class="small sub-heading">@("(Week " + @unit.StartWeek + " - Week " + @unit.EndWeek + ")"))</span>
                                </h3>
                            }
                            <div id="@("tab" + @unit.UnitId)" class="tab-content">
                                @{ var unitDetailsListByUnit = UnitDetailsList.Where(x => x.UnitId == unit.UnitId).ToList(); }
                                @if (unitDetailsListByUnit != null)
                                {
                                    foreach (var detail in unitDetailsListByUnit)
                                    {
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-12">
                                                <h5 class="rounded p-2 m-2">@detail.Title </h5>
                                                <div class="pl-3">
                                                    <p>
                                                        @Html.Raw(@detail.ContentDescription)
                                                    </p>
                                                    @if (detail.ControlType == "Standards")
                                                    {
                                                        Html.RenderAction("GetStandardDetails", "Unit",
                                                         new { UTM_ID = detail.UnitId });
                                                    }
                                                    @if (detail.AttachmentList != null)
                                                            {
                                                                foreach (var attachment in detail.AttachmentList)
                                                                {
                                                                    var index = attachment.AttachmentPath.LastIndexOf("_")+1;
                                                                    var extIndex = attachment.AttachmentPath.LastIndexOf(".");
                                                            <span class="d-block info">
                                                                <small>
                                                                    <a href="@(string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))+attachment.AttachmentPath)" class="text-uppercase">
                                                                        <i class="fas fa-book p-1 text-primary"></i>@attachment.AttachmentPath.Substring(index,(extIndex-index))
                                                                    </a>
                                                                </small>
                                                            </span>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    }
                                }
                            </div>
                            <!-- #tab1 -->
                        }
                    </div>
                    <!-- .tab-container -->

                </div>

                <!-- tab panel end -->
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script type="text/javascript" src="~/content/js/addons/vTabs.js"></script>
    <script>
        $(document).ready(function () {
            $.extend($.expr[':'], {
                'containsi': function (elem, i, match, array) {
                    return (elem.textContent || elem.innerText || '').toLowerCase()
                        .indexOf((match[3] || "").toLowerCase()) >= 0;
                }
            });

            $('.time-picker').datetimepicker({
                format: 'LT'
            });
            $('.date-picker').datetimepicker({
                format: 'MM/DD/YYYY'
            });
            var dt = new Date();
            var cDate = ("0" + dt.getDate()).slice(-2) + '/' + ("0" + (dt.getMonth() + 1)).slice(-2) + '/' + dt.getFullYear();
            var cTime = dt.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })
            $('.date-picker').val(cDate);
            $('.time-picker').val(cTime);

            $(".colorpicker").minicolors({
                theme: 'bootstrap',
                control: 'hue',
                format: 'hex'
            });

            $(".sidebar-fixed .list-group").mCustomScrollbar({
                setHeight: "86%",
                autoExpandScrollbar: true,
                autoHideScrollbar: true,
                scrollbarPosition: "outside"
            });

            //----------Select the first tab and div by default

            $('.searchfield').keyup(function () {

                $('.group-list-unit-search').show();

                var filter = $(this).val();
                $('.group-list-unit-search:containsi(' + filter + ')').show();
                $('.group-list-unit-search').not(':containsi(' + filter + ')').hide();

            });
        });
    </script>
}
