﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    var rnd = DateTime.Now.Ticks.ToString();
    var admin = SessionHelper.CurrentSession.IsAdmin;
    //var curriculum = (SelectList)ViewBag.Curriculum;
}
@*<div class="row breadcrumb-row">
    <div class="col-lg-12 col-md-12 col-12">
        <nav aria-label="breadcrumb" class="nav-breadcrumb">
            <ol class="breadcrumb border-bottom bg-white breadcrumb-header d-flex justify-content-between align-items-center">
                <li class="breadcrumb-item active breadcrumb-navigation" aria-current="page">

                    <a href="/course/course">@ResourceManager.GetString("Shared.Labels.Back")</a>
                </li>
            </ol>
        </nav>
    </div>
</div>*@
<div class="table-wrapper mt-2 pagination-panel" id="tbl-mapcourse">
</div>



@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
}
@section scripts
{
    <script language="javascript">
        var isCustomPermissionEnabled = '@(admin)';
        translatedResources.courseTitle = '@ResourceManager.GetString("Course.MapCourse.CourseTitle")';
        translatedResources.schoolGroupName = '@ResourceManager.GetString("Course.MapCourse.SchoolGroupName")';
        translatedResources.teacher = '@ResourceManager.GetString("Course.MapCourse.Teacher")';
        translatedResources.createdOn = '@ResourceManager.GetString("Course.MapCourse.CreatedOn")';
        translatedResources.createdBy = '@ResourceManager.GetString("Course.MapCourse.CreatedBy")';
        translatedResources.courseType = '@ResourceManager.GetString("Course.Course.CourseType")';
    </script>
    <script src="@Url.Content("~/Content/js/custom/Course/MapCourseList.js?v=" + ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>
        $(document)
            .ready(function () {
                @*@if (curriculum.Any())
                    {
                        if (curriculum.Count() > 1)
                        {
                        @Html.Raw(@"$('#CurriculumId').change(function () {
                                        mapCourseList.loadMapCourseGrid();
                                    })")
                        }
                        else
                        {*@
                            @Html.Raw($"mapCourseList.loadSchoolGroups('{EncryptDecryptHelper.EncryptUrl((string)ViewBag.CourseId)}')");
                    //    }
                    //}
                
            });
    </script>
}