﻿@model Phoenix.Models.UserErrorLogs
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common
@{
    /**/

    ViewData["Title"] = ResourceManager.GetString("Goal.SchoolGoalSet.GoalName");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-security-management.svg");
    var rnd = DateTime.Now.Ticks.ToString();
    var ExpectedDate = Model.ReportingDate != null ? Model.ReportingDate : DateTime.Now;
}




<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card safety-categories-wrapper">
            <div class="card-body column-padding pt-3 pb-3 min-height">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">

                    </div>
                </div>

               

                <div class="table-wrapper">
                    <div class="row mb-3">
                        <div class="col-lg-9 col-md-9 col-9">
                            <div class="search-with-bg">
                                <i class="fa fa-search"></i>
                                <input type="search" id="SchoolSkillSetListSearch" class="searchfield" placeholder="Search" />
                            </div>
                        </div>
                        @if (Html.CurrentPagePermission().CanEdit)
                        {
                            <div class="col-lg-3 col-md-3 col-3">
                                <div class="float-right">
                                    <button id="btnAddSchoolGoal" type="button" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light">@ResourceManager.GetString("Goal.SchoolGoalSet.AddGoalName")</button>
                                </div>
                            </div>
                        }
                    </div>
                    <table class="table table-bordered table-hover table-responsive-md" id="tbl-SchoolGoal"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.User = '@ResourceManager.GetString("Users.Error.User")';
        translatedResources.ErrorText = '@ResourceManager.GetString("Users.Error.ErrorText")';
        translatedResources.UserIpAddress = '@ResourceManager.GetString("Users.Error.UserIpAddress")';
        translatedResources.WebServerIpAddress = '@ResourceManager.GetString("Users.Error.WebServerIpAddress")';
        translatedResources.ReportingDate = '@ResourceManager.GetString("Users.Error.ReportingDate")';
        translatedResources.actions = '@ResourceManager.GetString("Users.Error.Actions")';
        translatedResources.LogFiles='@ResourceManager.GetString("Shared.ErrorLogger.LogFiles")'
     
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Goal/ErrorLogs.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.jsonloader.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    @*<script type="text/javascript">

            $(function () {
                $(document).on("change", "#SchoolGradeId", function () {
                    SchoolSkillSet.loadSchoolSkillSetGrid();
                    $("#tbl-SchoolSkillSet_filter").hide();
                });
            })
        </script>*@

}
