﻿@model IEnumerable<Phoenix.Models.User>
@using Phoenix.Common.Localization
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var rnd = DateTime.Now.Ticks.ToString();
}
@{
    string Path = Server.MapPath("~/Content/VLE/img/logo-colored.png");
}
<style>
    table {
        page-break-inside: avoid;
    }
</style>

<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body column-padding pt-3 pb-3 min-height">

                
                <div class="row mt-2 pb-3">
                    <div class="col-lg-9 col-md-9 col-9">
                        <div class="search-with-bg">
                            <i class="fa fa-search"></i>
                            <input type="search" class="searchfield" id="UserListSearch" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
                        </div>
                    </div>
                  
                    <div class="col-lg-3 col-md-3 col-12">
                        @using (Html.BeginForm("DownloadReportDataAsPDF", "Admin", FormMethod.Post, new { id = "frmUsersLoginReport", @class = "form-horizontal" }))
                        {
                            <div class="float-none float-sm-right">
                                <button type="submit" name="action:DownloadReportToExcel" title="@ResourceManager.GetString("Shared.Buttons.DownloadExcel")" data-toggle="tooltip" class="float-right p-0 border-0 bg-transparent"><i class="fas fa-file-excel ic-file-excel fa-2x"></i></button>
                            </div>
                            <div class="float-none float-sm-right mr-2">
                                <input type="hidden" name="reportName" value="UsersLoginReport" />
                                <button type="submit" name="action:DownloadReportToPDF" title="@ResourceManager.GetString("Shared.Buttons.DownloadPDF")" data-toggle="tooltip" class="float-right p-0 border-0 bg-transparent"><i class="fas fa-file-pdf ic-file-pdf fa-2x"></i></button>
                            </div>
                        }
                    </div>
                   
                </div>
               

                @if (ViewBag.ReportType == "PDF")
                {
                    <table border="0" cellspacing="0" cellpadding="0" style="background-color:#E3E3E3;padding:0.1pt;width:100%;">
                        <tbody>
                            <tr>
                                <td style="padding: 10px;">
                                    <img data-imagetype="External" src="@Path" border="0" id="_x0000_i1031" height="50">
                                </td>
                                <td valign="middle">
                                    <h2 style="color:#ba1818; margin: 0 0 0 0px;" hspace="20">@ResourceManager.GetString("Shared.Login.Logins") <br></h2>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="table-wrapper mt-4" style="margin-top:4px">
                        <table id="tbl-UserList" class="table table-bordered table-hover table-responsive-md" cellspacing="0" width="100%" border="1">
                            <thead>
                                <tr>
                                    <td style="background-color: #E3E3E3; color: #ba1818;"><strong>@ResourceManager.GetString("Users.UserList.UserDisplayName")</strong></td>
                                    <td style="background-color: #E3E3E3; color: #ba1818;"><strong>@ResourceManager.GetString("Users.UserList.UserName")</strong></td>
                                    <td style="background-color: #E3E3E3; color: #ba1818;"><strong>@ResourceManager.GetString("Users.UserList.UserTypeName")</strong></td>
                                    <td style="background-color: #E3E3E3; color: #ba1818;"><strong>@ResourceManager.GetString("Users.UserList.LastLoginTime")</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr style="page-break-inside:avoid;">
                                        <td>@item.UserDisplayName</td>
                                        <td>@item.UserName</td>
                                        <td>@item.UserTypeName</td>
                                        <td>@item.LastLoginTime</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="table-wrapper ">
                        <div class="table-responsive-md">
                            <table class="table table-bordered table-hover " id="tbl-UserList">
                                <thead>
                                    <tr>
                                        <th>@ResourceManager.GetString("Users.UserList.UserDisplayName")</th>
                                        <th>@ResourceManager.GetString("Users.UserList.UserName")</th>
                                        <th>@ResourceManager.GetString("Users.UserList.UserTypeName")</th>
                                        <th>@ResourceManager.GetString("Users.UserList.LastLoginTime")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.UserDisplayName</td>
                                            <td>@item.UserName</td>
                                            <td>@item.UserTypeName</td>
                                            <td>@item.LastLoginTime</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }


            </div>

        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/VLE/js/jquery-3.3.1.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
<script>
    $(function () {
        //$("#btnBack").show();
        //$(document).on('click', '#btnBack', function () {
        //    location.href = "/Admin";
        //});

        var settings = {
            columnDefs: [{
                'orderable': false,
                'targets': [2, 3]
            }],
            columnSelector: false
        };

        var grid = new DynamicGrid("tbl-UserList");
        grid.init(settings);


        $("#tbl-UserList_filter").hide();
        $("#tbl-UserList_length").hide();
        $("#tbl-UserList_info").hide();

        $('#tbl-UserList').DataTable().search('').draw();
        $("#UserListSearch").on("input", function (e) {
            e.preventDefault();
            $('#tbl-UserList').DataTable().search($(this).val()).draw();
        });
    })
</script>