﻿
@model Phoenix.VLE.Web.Models.SubjectRoomAttendance

@{
    /**/


    var IdPresent = Model.lstOtherCategories.Where(e => e.ItemName.ToUpper() == "PRESENT").Select(e => e.ItemId).FirstOrDefault();
    var IdAbsent = Model.lstOtherCategories.Where(e => e.ItemName.ToUpper() == "ABSENT").Select(e => e.ItemId).FirstOrDefault();
    var MActive = Model.objTimeTable.Where(e => e.IsActive).ToList();
    var chkPClss = MActive.Count > 1 ? "" : "d-none";
    DateTime EntryDate = new DateTime();
    bool IsTimeTable = false;
    if (ViewBag.EntryDate != null)
    {
        EntryDate = (DateTime)ViewBag.EntryDate;
    }
    if (ViewBag.FromTimetable != null)
    {
        IsTimeTable = (bool)ViewBag.FromTimetable;

    }
    var periodNo = Model.objTimeTable.Any(x => x.IsActive) ? Model.objTimeTable.FirstOrDefault(x => x.IsActive).PeriodNo : 0;
}






<div class="student-attendance">
    <div class="row mb-5">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="bg-white pt-2 pl-2 pr-2 pb-1 d-flex align-items-start border-bottom d-flex justify-content-between">
                        <div class="custom-control custom-checkbox custom-control-inline ml-2 ml-sm-0">
                            <input type="checkbox" class="custom-control-input selectAllStudents" id="chkallSelection" onchange="RoomAttendance.SelectAll(this)">
                            <label class="custom-control-label text-medium text-uppercase" for="chkallSelection"><small><strong>Select all</strong></small></label>
                            @if (IsTimeTable)
                            {
                                <span id="rmDate" class="sub-heading pl-4 pt-1">@EntryDate.ToString("dd MMMM yyyy")</span>

                            }
                        </div>

                        <div id="divmultiselectmenu" class="att-status mr-2 mt-0 mb-n1" style="display: none;">
                            <div class="status-dd dropright m-0">
                                <a href="javascript:void(0)" class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="far fa-plus-square"></i>
                                </a>
                                <div class="dropdown-menu">


                                    <a class="dropdown-item" data-other="@IdPresent" href="javascript:void(0)" onclick="RoomAttendance.dropdownMenu(this,true)">Mark as Present</a>
                                    <a class="dropdown-item" data-other="@IdAbsent" href="javascript:void(0)" onclick="RoomAttendance.dropdownMenu(this,true)">Mark as Absent</a>
                                    <div class="dropdown-divider mb-0"></div>
                                    <h6 class="dropdown-header bg-light p-1 pl-2 mb-1 text-dark"><small class="text-uppercase"><strong>Other</strong></small></h6>
                                    <div class="clsothercategorylst">
                                        @foreach (var lstOthcat in Model.lstOtherCategories.Where(e => e.ItemName != "PRESENT" && e.ItemName != "ABSENT"))
                                        {

                                            <a class="dropdown-item" data-other="@lstOthcat.ItemId" href="javascript:void(0)" onclick="RoomAttendance.dropdownMenu(this,true)">@lstOthcat.ItemName</a>



                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9 col-12 d-none d-sm-block">
                    <div class="d-sm-flex h-100 border-bottom">
                        <div class="bg-dark w-100 text-light sticky-group attendanceHeader">
                            <div class="attendance-wrapper d-flex justify-content-around flex-column flex-sm-row">
                                @foreach (var subjectItem in Model.objRoomPeriodList)
                                {
                                    var Mdetails = Model.objTimeTable.Where(e => e.PeriodNo == subjectItem.PeriodNo).FirstOrDefault();
                                    var cssClass = Mdetails.IsActive ? "bg-primary" : "";

                                    <div class="att-status mt-0 text-lg-center w-100 p-2 @cssClass">
                                        <input type="checkbox" id="chk_@subjectItem.PeriodNo" onclick="RoomAttendance.RAForCheckActive(@subjectItem.PeriodNo)" class="form-check-input @(cssClass=="bg-primary" ? chkPClss:"d-none")" />
                                        <span class="m-0 text-uppercase"><small><strong>Period @subjectItem.PeriodNo</strong></small></span>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="accordion text-left" id="accStudentAttendance">



                @foreach (var stuItem in Model.objRoomAttendance)
                {
                    var cssScannedStatus = stuItem.TransportDesc.Replace(" ", "").ToUpper() == "SCANNEDOUT" ? "scanned-out" : (stuItem.TransportDesc.Replace(" ", "").ToUpper() == "OWNTRANSPORT" ? "own-transport" : (stuItem.TransportDesc.Replace(" ", "").ToUpper() == "SCANNEDIN" ? "scanned-in" : ""));
                    var svg = stuItem.TransportDesc.Replace(" ", "").ToUpper() == "OWNTRANSPORT" ? "img/svg/ic-car.svg" : "img/svg/ic-bus.svg";
                    var DailyAtt = stuItem.DailyAttendance.Replace(" ", string.Empty).Length > 0 ? stuItem.DailyAttendance.Substring(0, 1) : stuItem.DailyAttendance;
                    var DAcssClss = stuItem.DailyAttendance.Replace(" ", string.Empty).ToUpper() == "PRESENT" ? "badge-success" : (stuItem.DailyAttendance.Replace(" ", string.Empty).ToUpper() == "ABSENT" ? "badge-danger" : (stuItem.DailyAttendance.Replace(" ", string.Empty).ToUpper() == "UNMARKED" ? "badge-warning" : "badge-primary"));
                    <div class="row item">

                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="bg-white p-2 d-flex align-items-start border-bottom">
                                <div class="student-img mr-2">
                                    <input type="checkbox" class="clsStuCheckBox hidden" id="chk_@stuItem.Student_ID" data-stuId="@stuItem.Student_ID" onchange="RoomAttendance.lstofstudentIds(@stuItem.Student_ID)" />
                                    <label for="chk_@stuItem.Student_ID"><img src="@stuItem.Student_Image_url" alt="@stuItem.Student_Name" /></label>
                                </div>
                                <div class="d-flex justify-content-between w-100 student-details">
                                    <div style="width:100%">

                                        <h4 class="m-1 clsH4Name">
                                            @stuItem.Student_Name
                                            <span class="stdnt-id sub-heading d-inline">
                                                ID: @stuItem.STU_NO |@stuItem.Grade|@stuItem.Section
                                            </span>
                                            @if (stuItem.IsInReport)
                                            {
                                                <span class="float-right sub-heading d-inline badge badge-danger mr-xl-n1" data-periodno="@periodNo" data-entrydate="@EntryDate.ToString()" onclick="ClassListObject.ViewStudentOnReportDetails(@stuItem.IsInReportID, @stuItem.Student_ID, this)" data-target="studentOnReportDetailsFormDiv" data-width="45%" data-point="0" data-toggle="tooltip" title="StudentOnReport"><span><i class="fas fa-binoculars"></i></span></span>
                                            }
                                        </h4>
                                        <h6 class="scan-status text-uppercase @cssScannedStatus"><img src="~/Content/@svg" class="svg mr-2">@stuItem.TransportDesc <span class="float-right stdnt-id sub-heading d-inline badge @DAcssClss" data-toggle="tooltip" title="@stuItem.DailyAttendance">@DailyAtt</span></h6>
                                        @*<h4 class="m-1">
                                                <span class="stdnt-id sub-heading d-block">@stuItem.DailyAttendance</span>
                                            </h4>*@

                                    </div>
                                    <button class="btn btn-link toggle-info d-block d-sm-none text-left m-0 mr-2 p-0 collapse" type="button" data-toggle="collapse" data-target="@stuItem.Student_ID" aria-expanded="true" aria-controls="student-id-1">
                                        <i class="fas fa-angle-down float-right m-0"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-12">
                            <div id="@stuItem.Student_ID" class="collapse show d-sm-flex h-100 border-bottom" aria-labelledby="@stuItem.Student_ID" data-parent="#accStudentAttendance">
                                <div class="bg-white p-2 w-100">
                                    <div class="attendance-wrapper d-flex justify-content-around flex-column flex-sm-row">
                                        @foreach (var subjectItem in Model.objRoomPeriodList)
                                        {
                                            var Mdetails = Model.objTimeTable.Where(e => e.PeriodNo == subjectItem.PeriodNo).FirstOrDefault();
                                            var IsDisabled = Mdetails.IsActive ? "" : "disabled";
                                            <div class="align-items-center d-flex d-sm-inline-block justify-content-between text-lg-center w-100 att-status">
                                                <p class="m-0 status-label d-block d-sm-none text-semibold"></p>
                                                <div class="status-dd dropright mr-2 mr-sm-0">

                                                    <a href="javascript:void(0)" class="@IsDisabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                        <span id="spn_@(stuItem.Student_ID + "_" + subjectItem.PeriodNo)" class="@(subjectItem.IsActive ? " clsspnResult" : "")">

                                                            @if (Model.objlstRoomRemarks.Count > 0)
                                                            {


                                                                var remarks = Model.objlstRoomRemarks.Where(e => e.StudentId == stuItem.Student_ID && e.PeriodNo == subjectItem.PeriodNo).FirstOrDefault();
                                                                var otherlstDetails = remarks != null ? Model.lstOtherCategories.Where(e => e.ItemId == remarks.Status).FirstOrDefault() : null;
                                                                if (otherlstDetails != null)
                                                                {
                                                                    if (otherlstDetails.ItemId == IdPresent)
                                                                    {
                                                                        <h3 class="m-0 d-inline-block text-success clsdatastatus" data-status="@IdPresent" data-toggle="tooltip" title="@otherlstDetails.ItemName" data-placement="left">
                                                                            <i class="fas fa-check"></i>
                                                                        </h3>
                                                                    }
                                                                    else if (otherlstDetails.ItemId == IdAbsent)
                                                                    {
                                                                        <h3 class="m-0 d-inline-block text-danger clsdatastatus" data-status="@IdAbsent" data-toggle="tooltip" title="@otherlstDetails.ItemName" data-placement="left">
                                                                            <i class="fas fa-times"></i>
                                                                        </h3>

                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="attendance-status text-status clsdatastatus" data-status="@otherlstDetails.ItemId" data-toggle="tooltip" data-placement="left" title="@otherlstDetails.ItemName"> @otherlstDetails.ItemName.Substring(0, 1)</span>

                                                                    }


                                                                }
                                                                else
                                                                {

                                                                    <i class="far fa-plus-square"></i>

                                                                }


                                                            }
                                                            else
                                                            {
                                                                <i class="far fa-plus-square"></i>
                                                            }

                                                        </span>


                                                    </a>
                                                    <div class="dropdown-menu ">
                                                        <a class="dropdown-item" data-other="@IdPresent" data-stuId="@stuItem.Student_ID" data-periodNo="@subjectItem.PeriodNo" data-subject="@subjectItem.Subject" href="javascript:void(0)" onclick="RoomAttendance.dropdownMenu(this,false)">Mark as Present</a>
                                                        <a class="dropdown-item" data-other="@IdAbsent" data-stuId="@stuItem.Student_ID" data-periodNo="@subjectItem.PeriodNo" data-subject="@subjectItem.Subject" href="javascript:void(0)" onclick="RoomAttendance.dropdownMenu(this,false)">Mark as Absent</a>
                                                        <div class="dropdown-divider mb-0"></div>
                                                        <h6 class="dropdown-header bg-light p-1 pl-2 mb-1 text-dark"><small class="text-uppercase"><strong>Other</strong></small></h6>
                                                        <div class="clsothercategorylst">
                                                            @foreach (var lstOthcat in Model.lstOtherCategories.Where(e => e.ItemName != "PRESENT" && e.ItemName != "ABSENT"))
                                                            {

                                                                <a class="dropdown-item" data-other="@lstOthcat.ItemId" data-stuId="@stuItem.Student_ID" data-periodNo="@subjectItem.PeriodNo" data-subject="@subjectItem.Subject" href="javascript:void(0)" onclick="RoomAttendance.dropdownMenu(this,false)">@lstOthcat.ItemName</a>

                                                            }
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>

    @if (Model.objTimeTable.Count > 0)
    {
        <div class="row">
            <div class="col-md-4 col-lg-4">

            </div>
            <div class="col-md-2 col-lg-2">

            </div>
            <div class="col-md-2 col-lg-2">
                <button id="btnRoomAttendance" class="btn btn-primary" type="button" onclick="RoomAttendance.SaveRoomAttendance()">Save</button>
            </div>
            <div class="col-md-4 col-lg-4">

            </div>




        </div>

    }

</div>


<script type="text/javascript">
    $(document).ready(function () {
        studentRoomList.length = 0;
        $('[data-toggle="tooltip"]').tooltip();
        $(".clsothercategorylst").mCustomScrollbar({
            setHeight: "200",
        });

        RoomAttendance.StudentAttendanceModel = @Html.Raw(Json.Encode(Model));
        RoomAttendance.otherCategoriesList = @Html.Raw(Json.Encode(Model.lstOtherCategories));
        RoomAttendance.roomRemarksList = @Html.Raw(Json.Encode(Model.objlstRoomRemarks));
        RoomAttendance.OptionalHeader =  @Html.Raw(Json.Encode(Model.objlstOptionalHeaders));
    });
</script>





@*@model Phoenix.VLE.Web.Models.SubjectRoomAttendance

@{
    


    var IdPresent = Model.lstOtherCategories.Where(e => e.ItemName.ToUpper() == "PRESENT").Select(e => e.ItemId).FirstOrDefault();
    var IdAbsent = Model.lstOtherCategories.Where(e => e.ItemName.ToUpper() == "ABSENT").Select(e => e.ItemId).FirstOrDefault();
    var MActive = Model.objTimeTable.Where(e => e.IsActive).ToList();
    var chkPClss = MActive.Count > 1 ? "" : "d-none";
    DateTime EntryDate = new DateTime();
    bool IsTimeTable = false;
    if (ViewBag.EntryDate != null)
    {
        EntryDate = (DateTime)ViewBag.EntryDate;
    }
    if (ViewBag.FromTimetable != null)
    {
        IsTimeTable = (bool)ViewBag.FromTimetable;

    }
    var periodNo = Model.objTimeTable.Any(x => x.IsActive) ? Model.objTimeTable.FirstOrDefault(x => x.IsActive).PeriodNo : 0;
}*@






@*<div class="student-attendance table table-bordered table-hover table-responsive-md">
    <table id="room-attendance" class="table table-bordered table-hover table-responsive-md" cellspacing="0" width="100%">
        <thead>
            <tr>

                <th class="text-center"></th>
                <th>Student</th>
                @foreach (var subjectItem in Model.objRoomPeriodList)
                {

                    var Mdetails = Model.objTimeTable.Where(e => e.PeriodNo == subjectItem.PeriodNo).FirstOrDefault();
                    var cssClass = Mdetails.IsActive ? "bg-primary" : "";

                    <th class="text-center">Period @subjectItem.PeriodNo</th>
                }
            </tr>
        </thead>
        <tbody>


            @foreach (var stuItem in Model.objRoomAttendance)
            {
                var cssScannedStatus = stuItem.TransportDesc.Replace(" ", "").ToUpper() == "SCANNEDOUT" ? "scanned-out" : (stuItem.TransportDesc.Replace(" ", "").ToUpper() == "OWNTRANSPORT" ? "own-transport" : (stuItem.TransportDesc.Replace(" ", "").ToUpper() == "SCANNEDIN" ? "scanned-in" : ""));
                var svg = stuItem.TransportDesc.Replace(" ", "").ToUpper() == "OWNTRANSPORT" ? "img/svg/ic-car.svg" : "img/svg/ic-bus.svg";
                var DailyAtt = stuItem.DailyAttendance.Replace(" ", string.Empty).Length > 0 ? stuItem.DailyAttendance.Substring(0, 1) : stuItem.DailyAttendance;
                var DAcssClss = stuItem.DailyAttendance.Replace(" ", string.Empty).ToUpper() == "PRESENT" ? "badge-success" : (stuItem.DailyAttendance.Replace(" ", string.Empty).ToUpper() == "ABSENT" ? "badge-danger" : (stuItem.DailyAttendance.Replace(" ", string.Empty).ToUpper() == "UNMARKED" ? "badge-warning" : "badge-primary"));
                <tr>
                    <td class="text-center"></td>
                    <td>
                        <div class="student-info d-flex align-items-center">
                            <span class="rounded-circle overflow-hidden defaultAvatar mr-2">
                                <img src="@stuItem.Student_Image_url" alt="" class="img-fluid">
                            </span>

                            <h3 class="m-0 name text-medium">
                                @stuItem.Student_Name
                                <span class="small sub-heading text-medium d-block userid"> @stuItem.Student_ID </span>
                            </h3>

                        </div>
                    </td>



                    @foreach (var subjectItem in Model.objRoomPeriodList)
                    {
                        var Mdetails = Model.objTimeTable.Where(e => e.PeriodNo == subjectItem.PeriodNo).FirstOrDefault();
                        var IsDisabled = Mdetails.IsActive ? "" : "disabled";
                        <td>


                            <div id="@stuItem.Student_ID" class="collapse show  h-100 text-center" aria-labelledby="@stuItem.Student_ID" data-parent="#accStudentAttendance">



                                <a href="javascript:void(0)" class="@IsDisabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                    <span id="spn_@(stuItem.Student_ID + "_" + subjectItem.PeriodNo)" class="@(subjectItem.IsActive ? " clsspnResult" : "")">

                                        @if (Model.objlstRoomRemarks.Count > 0)
                                        {


                                            var remarks = Model.objlstRoomRemarks.Where(e => e.StudentId == stuItem.Student_ID && e.PeriodNo == subjectItem.PeriodNo).FirstOrDefault();
                                            var otherlstDetails = remarks != null ? Model.lstOtherCategories.Where(e => e.ItemId == remarks.Status).FirstOrDefault() : null;
                                            if (otherlstDetails != null)
                                            {
                                                if (otherlstDetails.ItemId == IdPresent)
                                                {
                                                    <span href="#" data-toggle="tooltip" class="m-0 d-inline-block text-success clsdatastatus" data-placement="left" data-status="@IdPresent" title="@otherlstDetails.ItemName">
                                                        <i class="fas fa-check-circle fa-2x text-success"></i>
                                                    </span>
                                                }
                                                else if (otherlstDetails.ItemId == IdAbsent)
                                                {
                                                   
                                                    <span href="#" data-toggle="tooltip" class="m-0 d-inline-block text-success clsdatastatus" data-placement="left" data-status="@IdAbsent" title="@otherlstDetails.ItemName">
                                                        <i class="fas fa-check-circle fa-2x text-success"></i>
                                                    </span>


                                                }
                                                else
                                                {
                                                    <span class="attendance-status text-status clsdatastatus" data-status="@otherlstDetails.ItemId" data-toggle="tooltip" data-placement="left" title="@otherlstDetails.ItemName" @otherlstDetails.ItemName.Substring(0, 1)>
                                                        <i class="fas fa-plus-circle fa-2x text-default"></i>

                                                    </span>
                                                   
                                                }


                                            }
                                            else
                                            {

                                                <i class="far fa-plus-square"></i>

                                            }


                                        }
                                        else
                                        {
                                            <i class="far fa-plus-square"></i>
                                        }

                                    </span>


                                </a>
                                <div class="dropdown-menu ">
                                    <a class="dropdown-item" data-other="@IdPresent" data-stuId="@stuItem.Student_ID" data-periodNo="@subjectItem.PeriodNo" data-subject="@subjectItem.Subject" href="javascript:void(0)" onclick="dailyRoomListBlock.dropdownMenu(this,false)">Mark as Present</a>
                                    <a class="dropdown-item" data-other="@IdAbsent" data-stuId="@stuItem.Student_ID" data-periodNo="@subjectItem.PeriodNo" data-subject="@subjectItem.Subject" href="javascript:void(0)" onclick="dailyRoomListBlock.dropdownMenu(this,false)">Mark as Absent</a>
                                    <div class="dropdown-divider mb-0"></div>
                                    <h6 class="dropdown-header bg-light p-1 pl-2 mb-1 text-dark"><small class="text-uppercase"><strong>Other</strong></small></h6>
                                    <div class="clsothercategorylst">
                                        @foreach (var lstOthcat in Model.lstOtherCategories.Where(e => e.ItemName != "PRESENT" && e.ItemName != "ABSENT"))
                                        {

                                            <a class="dropdown-item" data-other="@lstOthcat.ItemId" data-stuId="@stuItem.Student_ID" data-periodNo="@subjectItem.PeriodNo" data-subject="@subjectItem.Subject" href="javascript:void(0)" onclick="dailyRoomListBlock.dropdownMenu(this,false)">@lstOthcat.ItemName</a>

                                        }
                                    </div>

                                </div>





                            </div>
                        </td>
                    }



                </tr>

            }







    </table>
</div>*@
@*<script src="js/addons/datatables.min.js" rel="stylesheet"></script>
<script src="js/addons/datatables-select.min.js" rel="stylesheet"></script>
<script src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.10/js/dataTables.checkboxes.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //studentRoomList.length = 0;
        $('[data-toggle="tooltip"]').tooltip();
        $(".clsothercategorylst").mCustomScrollbar({
            setHeight: "200",
        });
      $('#room-attendance').DataTable({
            'columnDefs': [
                {
                    'targets': 0,
                    'checkboxes': {
                        'selectRow': true
                    },
                    'render': function (data, type, row, meta) {
                        if (type === 'display') {
                            data = '<div class="checkbox"><input type="checkbox" class="dt-checkboxes"><label></label></div>';
                        }
                        return data;
                    },
                    'checkboxes': {
                        'selectRow': true,
                        'selectAllRender': '<div class="checkbox"><input type="checkbox" class="dt-checkboxes"><label></label></div>'
                    }
                },
                {
                    "orderable": false
                    //,
                    //"targets": [2, 3, 4, 5, 6]
                },
            ],
            'select': 'multi',
            'order': [[1]]
        });
        dailyRoomListBlock.StudentAttendanceModel = @Html.Raw(Json.Encode(Model));
        dailyRoomListBlock.otherCategoriesList = @Html.Raw(Json.Encode(Model.lstOtherCategories));
        dailyRoomListBlock.roomRemarksList = @Html.Raw(Json.Encode(Model.objlstRoomRemarks));
        dailyRoomListBlock.OptionalHeader =  @Html.Raw(Json.Encode(Model.objlstOptionalHeaders));
    });
</script>*@
<!-- dataTable js -->
