﻿@model IEnumerable<Phoenix.VLE.Web.Areas.SMS.Model.AttendenceList>
@using Phoenix.Common.Localization
@if (Model != null)
{
    <div class="col-lg-12 col-sm-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">@ResourceManager.GetString("ClassList.ClassList.WeeklyAttendance")</h3>


                <div class="table-responsive-md  min-max-height-375">
                    <table class="table table-hover" style="width:100%;" id="tblAtt">
                        <colgroup span="7"></colgroup>
                        <colgroup span="7"></colgroup>
                        <thead>
                            <tr>
                                <th rowspan="2" style="width:30%" class="border-right">By Week</th>
                                <th colspan="2" scope="colgroup" class="text-center border-right border-bottom" style="width:10%">Sunday</th>
                                <th colspan="2" scope="colgroup" class="text-center border-right border-bottom" style="width:10%">Monday</th>
                                <th colspan="2" scope="colgroup" class="text-center border-right border-bottom" style="width:10%">Tueday</th>
                                <th colspan="2" scope="colgroup" class="text-center border-right border-bottom" style="width:10%">Wednesday</th>
                                <th colspan="2" scope="colgroup" class="text-center border-right border-bottom" style="width:10%">Thursday</th>
                                <th colspan="2" scope="colgroup" class="text-center border-right border-bottom" style="width:10%">Friday</th>
                                <th colspan="2" scope="colgroup" class="text-center border-right border-bottom" style="width:10%">Saturday</th>
                            </tr>
                            <tr id="trTwo">
                                <th scope="col" class="text-center border-right">AM</th>
                                <th scope="col" class="text-center border-right">PM</th>
                                <th scope="col" class="text-center border-right">AM</th>
                                <th scope="col" class="text-center border-right">PM</th>
                                <th scope="col" class="text-center border-right">AM</th>
                                <th scope="col" class="text-center border-right">PM</th>
                                <th scope="col" class="text-center border-right">AM</th>
                                <th scope="col" class="text-center border-right">PM</th>
                                <th scope="col" class="text-center border-right">AM</th>
                                <th scope="col" class="text-center border-right">PM</th>
                                <th scope="col" class="text-center border-right">AM</th>
                                <th scope="col" class="text-center border-right">PM</th>
                                <th scope="col" class="text-center border-right">AM</th>
                                <th scope="col" class="text-center border-right">PM</th>
                            </tr>

                        </thead>
                        <tbody>

                            @{
                                String[] weekDays = new String[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };

                                int week = 1;
                                foreach (var item in Model)
                                {

                                    //set color
                                    string codeColor = "";

                                    if (item.Descriptions == "Present")
                                    {
                                        codeColor = "attPresent";
                                    }
                                    else if (item.Descriptions == "Absent")
                                    {
                                        codeColor = "attAbsent";
                                    }
                                    else
                                    {
                                        codeColor = "text-secondary";

                                    }


                                    var weekRow = "";
                                    if (item.day1 == 1)
                                    {
                                        week = 1;
                                    }
                                    else if (item.DayOfWeek1 == 1)
                                    {
                                        week++;
                                    }

                                    if (item.DayOfWeek == "Sunday" || item.day1 == 1)
                                    {

                                        weekRow = "<tr><th class='border-right'>" + string.Format("{0:y}", item.AttDate) + " Week " + week + "</th>";
                                        if (item.DayOfWeek1 != 1)
                                        {
                                            int dayCount = 1;
                                            while (dayCount < item.DayOfWeek1)
                                            {
                                                weekRow = weekRow + "<td class='text-center " + codeColor + " text-bold border'>";
                                                weekRow = weekRow + "</td>";
                                                weekRow = weekRow + "<td class='text-center  " + codeColor + "  text-bold border'>";
                                                weekRow = weekRow + "</td>";
                                                dayCount++;
                                            }
                                        }

                                        weekRow = weekRow + "<td class='text-center  " + codeColor + "  text-bold border'>";
                                        weekRow = weekRow + "<span data-toggle='tooltip' title=" + item.Descriptions + ">" + item.code + "</span>";
                                        weekRow = weekRow + "</td>";

                                        weekRow = weekRow + "<td class='text-center text-secondary text-bold border'>";
                                        weekRow = weekRow + "</td>";
                                        if (item.DayOfWeek1 == 7)
                                        {
                                            weekRow = weekRow + "</tr>";
                                        }
                                    }
                                    else if (item.DayOfWeek1 == 7)
                                    {
                                        weekRow = weekRow + "<td class='text-center  " + codeColor + "  text-bold border'>";
                                        weekRow = weekRow + "<span data-toggle='tooltip' title=" + item.Descriptions + ">" + item.code + "</span>";
                                        weekRow = weekRow + "</td>";

                                        weekRow = weekRow + "<td class='text-center text-secondary text-bold border'>";
                                        weekRow = weekRow + "</td>";
                                        weekRow = weekRow + "</tr>";
                                    }
                                    else
                                    {
                                        weekRow = weekRow + "<td class='text-center  " + codeColor + "  text-bold border'>";
                                        weekRow = weekRow + "<span data-toggle='tooltip' title=" + item.Descriptions + ">" + item.code + "</span>";
                                        weekRow = weekRow + "</td>";

                                        weekRow = weekRow + "<td class='text-center text-secondary text-bold border'>";
                                        weekRow = weekRow + "</td>";
                                    }

                                    @Html.Raw(weekRow.ToString());


                                }

                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

