﻿@model Phoenix.Models.Entities.BasicDetailModel
@using Phoenix.Common.Localization
@{

    var OverAllPercentage = ViewBag.OverAllPercentage;
}

<div class="col-lg-12 col-md-12 col-12">
    <div class="card">

        <div class="card-body">
            <div class="row ml-0">
                <!-- student details start -->
                <div class="col-xl-3 col-lg-4 col-md-4 col-12 px-0 text-center border-right">
                    <div class="student-img rounded-circle border mt-3 mx-auto">
                        <img src="@Model.StudentImageUrl" alt="@Model.StudentName" class="img-fluid">
                    </div>
                    <div class="student-meta mt-3">
                        <h3>@Model.StudentName</h3>
                        <p class="mb-1">@ResourceManager.GetString("ClassList.StudentSearchInfo.StudentID") : @Model.StudentNo</p>
                        @if (!string.IsNullOrEmpty(Model.Nationality))
                        {
                            <p class="mb-1">@ResourceManager.GetString("ClassList.StudentInfo.Nationality") : @Model.Nationality</p>
                        }
                        @*<p>OUR OWN ENGLISH HIGH SCHOOL - SHARJAH CBSE</p>*@
                    </div>
                    <div class="student-class-info d-flex justify-content-around border-top">
                        <h3 class="m-0 w-100 pt-2 pb-2 border-right"><span class="d-block mb-1">@ResourceManager.GetString("ClassList.StudentInfo.Grade")</span>@Model.StudentGradeDisplay</h3>
                        <h3 class="m-0 w-100 pt-2 pb-2 border-right"><span class="d-block mb-1">@ResourceManager.GetString("ClassList.StudentInfo.Section")</span>@Model.StudentSection</h3>
                    </div>
                </div>
                <!-- student details end -->
                <!-- student attendance graph start -->
                <div class="col-xl-6 col-lg-4 col-md-4 col-12 px-0 text-center border-right">
                    <div id="divAttBySession">

                        @Html.Partial("~/Areas/Attendance/Views/Attendance/AttendenceBySession.cshtml", Model.AttendenceBySession)
                    </div>


                </div>
                <!-- student  attendance graph end -->
                <!-- student overall attendance start -->
                <div class="col-xl-3 col-lg-4 col-md-4 col-12 pl-0">
                    <div class="card border-0 attendance-widget">
                        <div class="card-body">
                            <h3 class="card-title">@ResourceManager.GetString("ClassList.ClassList.OverallPercentage")</h3>
                            <div class="progress mx-auto mt-5" data-value="@Convert.ToDecimal(OverAllPercentage).ToString("G29")">
                                <span class="progress-left">
                                    <span class="progress-bar border-primary"></span>
                                </span>
                                <span class="progress-right">
                                    <span class="progress-bar border-primary"></span>
                                </span>
                                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                    <div class="h2 font-weight-bold">@Convert.ToDecimal(OverAllPercentage).ToString("G29")<sup class="small">%</sup></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- student overall attendance end -->
            </div>

        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $(".progress").each(function () {
            var value = parseFloat($(this).attr('data-value'));
            var left = $(this).find('.progress-left .progress-bar');
            var right = $(this).find('.progress-right .progress-bar');

            if (value > 0) {
                if (value <= 50) {
                    right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
                } else {
                    right.css('transform', 'rotate(180deg)')
                    left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
                }
            }

        })

        function percentageToDegrees(percentage) {

            return percentage / 100 * 360

        }
    });
</script>