﻿
@using Phoenix.VLE.Web.Areas.Course.Models
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@model  List<UnitDetailsTypeEdit>
@{
    
   

}

@for (int j = 0; j < Model.Count(); j++)
{
    @Html.HiddenFor(m => m[j].UnitTypeId)
    @Html.HiddenFor(m => m[j].UnitId)
    @Html.HiddenFor(m=>m[j].UnitDetailsId)

    <div class="form-group">
        <label class="">
            <i data-toggle="popover" title="@Model[j].Title" data-content="@Model[j].Description" class="fas fa-comment-alt ml-3"> </i>
            @Model[j].Title
        </label>
        @switch (Model[j].ControlType)
        {
            case "Standards":
                @Html.DropDownList("StandardIds",(MultiSelectList)ViewBag.Standards,new {@class="form-control",@multiple="multiple" })
                break;
            case "FutureFluencies":
                <select multiple class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                break;
            case "Assessments":
                <select multiple class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                break;

            case "TextArea":
                @Html.TextAreaFor(m => m[j].ContentDescription, new { @class = "form-control", @rows = "3" })

                break;

        }
    </div>

}