﻿@model Phoenix.VLE.Web.EditModels.AssessmentLearningEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Models.Entities
@using Phoenix.Common.Enums;
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rnd = DateTime.Now.Ticks.ToString();
    var isSuperAdmin = SessionHelper.CurrentSession.UserTypeId == 5 ? true : false;
    var assementDeliveryMode = Enum.GetValues(typeof(AssementDeliveryMode)).Cast<AssementDeliveryMode>().Select(x => new SelectListItem
    {
        Text = x.ToString().ToLower() == "face to face" ? ResourceManager.GetString("Course.AssessmentConfig.FaceToFace") :
        x.ToString().ToLower() == "synchronous" ? ResourceManager.GetString("Course.AssessmentConfig.Synchronous") :
        x.ToString().ToLower() == "asynchronous" ? ResourceManager.GetString("Course.AssessmentConfig.Asynchronous") :
        x.ToString().ToLower() == "flipped activity" ? ResourceManager.GetString("Course.AssessmentConfig.FlippedActivity") : x.ToString()
    ,
        Value = ((int)x).ToString()
    });
}
@using (Ajax.BeginForm("SaveAssesmentLearning", "Unit",
    new AjaxOptions
    {
        OnSuccess = "UnitDetailsType.onSaveAssessmentLearning('" + Model.IsAddMode + "')",
        OnFailure = "UnitDetailsType.onSaveAssessmentLearningError('" + Model.IsAddMode + "')"
    },
    new { id = "frmAssessmentLearning", @class = "form-horizontal", enctype = "multipart/form-data", }))
{
    @Html.HiddenFor(x => x.UserId)
    @Html.HiddenFor(x => x.UnitId)
    @Html.HiddenFor(x => x.AssesmentLearningID)
    @Html.HiddenFor(x => x.AttachmentKey)
    @Html.HiddenFor(x => x.IsAddMode)
    <div class="modal-body">
        <div class="popup-form">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-12">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @id = "Title" })
                        @Html.LocalizedLabel("active", "Course.AssessmentLearning.Title")
                        @Html.ValidationMessageFor(x => x.Title)
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-12">
                    <div class="md-form md-outline">
                        @Html.DropDownListFor(x => x.DeliveryMode, assementDeliveryMode, selectText, new { @class = "selectpicker" })
                        @Html.LocalizedLabel("active", "Course.AssessmentLearning.DeliveryMode")
                        @Html.ValidationMessageFor(x => x.DeliveryMode)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-12">
                    <div class="md-form md-outline">
                        @Html.CKTextAreaFor(x => x.Description, new { @class = "form-control", @data_math = "", @data_inline = "", @row = "5" })
                        @Html.LocalizedLabel("active", "Course.AssessmentLearning.Description")
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-12">
                    <div class="md-form md-outline">
                        @Html.FileUpload("AttachmentList",
                       Model.AttachmentList.Where(x => x.AttachmentKey == AttachmentKey.AssessmentLearning.EnumToString()).ToList(),
                       new { @class = "form-control",@data_module=AttachmentKey.AssessmentLearning.EnumToString(), @multiple = "multiple", @data_inline = "true" })
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary m-0" id="btnAddAssessmentLearning">
                @(Model.IsAddMode ? ResourceManager.GetString("Course.AssessmentLearning.AddAssessment") : ResourceManager.GetString("Course.AssessmentLearning.UpdateAssessment"))
            </button>
            <button type="button" class="btn btn-outline-primary m-0 ml-2" data-dismiss="modal">@ResourceManager.GetString("Course.AssessmentLearning.Cancel")</button>
        </div>
    </div>
}
@Html.Partial("_ValidationJSPartial")
@Html.Partial("_CommonJsPartial")
<script language="javascript">
    translatedResources.AddSuccess = '@ResourceManager.GetString("Course.AssessmentLearning.AddSuccess")';
    translatedResources.AddError = '@ResourceManager.GetString("Course.AssessmentLearning.AddError")';
    translatedResources.EditSuccess = '@ResourceManager.GetString("Course.AssessmentLearning.EditSuccess")';
    translatedResources.EditError = '@ResourceManager.GetString("Course.AssessmentLearning.EditError")';
</script>