﻿@model Phoenix.VLE.Web.EditModels.AssessmentEvidenceEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Models.Entities
@using Phoenix.Common.Enums;
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rnd = DateTime.Now.Ticks.ToString();
    var isSuperAdmin = SessionHelper.CurrentSession.UserTypeId == 5 ? true : false;
    var assessmentType = Enum.GetValues(typeof(AssessmentType)).Cast<AssessmentType>().Select(x => new SelectListItem
    {
        Text = x.ToString().ToLower() == "formative" ? ResourceManager.GetString("Course.AssessmentEvidence.Formative") :
        x.ToString().ToLower() == "summative" ? ResourceManager.GetString("Course.AssessmentEvidence.Summative") : x.ToString()
        , Value = ((int)x).ToString() });
}
@using (Ajax.BeginForm("SaveAssesmentEvidence", "Unit",
    new AjaxOptions
    {
        OnSuccess = "UnitDetailsType.onSaveAssessmentEvidence('" + Model.IsAddMode + "')",
        OnFailure = "UnitDetailsType.onSaveAssessmentEvidenceError('" + Model.IsAddMode + "')"
    },
    new { id = "frmAssessmentEvidence", @class = "form-horizontal", enctype = "multipart/form-data", }))
{
    @Html.HiddenFor(x => x.UserId)
    @Html.HiddenFor(x => x.UnitId)
    @Html.HiddenFor(x => x.AssesmentEvidenceID)
    @Html.HiddenFor(x => x.AttachmentKey)
    @Html.HiddenFor(x => x.IsAddMode)
    <div class="modal-body">
        <div class="popup-form">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-12">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @id = "Title" })
                        @Html.LocalizedLabel("active", "Course.AssessmentEvidence.Title")
                        @Html.ValidationMessageFor(x => x.Title)
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-12">
                    <div class="md-form md-outline">
                        @Html.DropDownListFor(x => x.AssessmentTypeId, assessmentType, selectText, new { @class = "selectpicker" })
                        @Html.LocalizedLabel("active", "Course.AssessmentEvidence.AssessmentTypeId")
                        @Html.ValidationMessageFor(x => x.AssessmentTypeId)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-12">
                    <div class="md-form md-outline">
                        @Html.CKTextAreaFor(x => x.Description, new { @class = "form-control", @data_math = "", @data_inline = "", @row = "5" })
                        @Html.LocalizedLabel("active", "Course.AssessmentEvidence.Description")
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-12">
                    <div class="md-form md-outline">
                        @Html.FileUpload("AttachmentList",
                       Model.AttachmentList.Where(x => x.AttachmentKey == AttachmentKey.AssessmentEvidence.EnumToString()).ToList(),
                       new { @class = "form-control",@data_module=AttachmentKey.AssessmentEvidence.EnumToString(), @multiple = "multiple", @data_inline = "true" })
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary m-0" id="btnAddAssessmentEvidence">@(Model.IsAddMode ? ResourceManager.GetString("Course.AssessmentEvidence.AddAssessment") : ResourceManager.GetString("Course.AssessmentEvidence.UpdateAssessment"))</button>
            <button type="button" class="btn btn-outline-primary m-0 ml-2" data-dismiss="modal">@ResourceManager.GetString("Course.AssessmentEvidence.Cancel")</button>
        </div>
    </div>
}
@Html.Partial("_ValidationJSPartial")
@Html.Partial("_CommonJsPartial")
<script language="javascript">
    translatedResources.AddSuccess = '@ResourceManager.GetString("Course.AssessmentEvidence.AddSuccess")';
    translatedResources.AddError = '@ResourceManager.GetString("Course.AssessmentEvidence.AddError")';
    translatedResources.EditSuccess = '@ResourceManager.GetString("Course.AssessmentEvidence.EditSuccess")';
    translatedResources.EditError = '@ResourceManager.GetString("Course.AssessmentEvidence.EditError")';

    $('input[type=file]').on('change', function(event) {
        event.stopPropagation();
});
</script>