﻿@using Phoenix.VLE.Web.EditModels
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions;
@using Phoenix.Common.Helpers
@using Phoenix.Models.Entities
@using Phoenix.Common.Enums;
@model IEnumerable<AssessmentLearningEdit>
@{
    var AssessmentLearning = (List<AssessmentLearningEdit>)Model;
    var Mode = "Edit";
    string[] RemovedIds = { };
    var isExport = false;
    if (ViewBag.Mode != null)
    { Mode = (string)ViewBag.Mode; }
    if (ViewBag.RemovedIds != null)
    {
        RemovedIds = ((string)ViewBag.RemovedIds).Split(',');
    }
    if (ViewBag.isExport != null)
    {
        isExport = (bool)ViewBag.isExport;
    }

}
    <div class="row mt-2" style="@(isExport ? "padding-left:10px;page-break-inside: avoid;" : "")">
        @if (Model.Any())
        {
            var counter = 1;

            foreach (var assessment in Model)
            {
                if (!Array.Exists(RemovedIds, id => id == assessment.AssesmentLearningID.ToString()))
                {
                <div style="@(isExport ? "border-bottom:dotted 1px;margin-bottom:5px;page-break-inside: avoid;":"")" class="col-lg-12 col-md-12 col-12 course-card" id="@("card-" + counter + "-" + @assessment.AssesmentLearningID)">

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-11 col-md-11 col-11">
                                <div class="row">
                                    <div class="col-md-3">

                                        <label for="Title"><strong>@ResourceManager.GetString("Course.AssessmentLearning.Title")</strong></label>
                                    </div>
                                    <div class="col-md-9" style="@(isExport ? "padding-left:5px;margin-top:5px;padding-bottom:10px;page-break-inside: avoid;" :"")">
                                        @Html.Raw(@assessment.Title)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><label for="DeliveryMode"><strong>@ResourceManager.GetString("Course.AssessmentLearning.DeliveryMode")</strong></label></div>
                                    <div class="col-md-9" style="@(isExport ? "padding-left:5px;margin-top:5px;padding-bottom:10px;page-break-inside: avoid;" :"")">
                                        @Enum.GetName(typeof(AssementDeliveryMode), @assessment.DeliveryMode)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><strong>@ResourceManager.GetString("Course.AssessmentLearning.Description")</strong></div>
                                    <div class="col-md-9" style="@(isExport ? "padding-left:5px;margin-top:5px;padding-bottom:10px;page-break-inside: avoid;" :"")">@Html.Raw(@assessment.Description)</div>
                                </div>
                                @if (!isExport)
                                {
                                <div class="row">
                                    <div class="col-md-12 mt-3">
                                        @Html.DisplayAttachments("", assessment.AttachmentList,
                                         htmlAttributes: new { @class = "form-control", @data_multiple = "multiple" })
                                    </div>
                                </div>
                                }
                            </div>
                            <div class="col-lg-1 col-md-1 col-1">
                                @if (Mode == "Edit")
                                {
                                    <div class="mr-3 btn-group dropleft ml-2">
                                        <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu z-depth-1 border-0">
                                            <a class="dropdown-item py-2" href="javscript:void(0);" data-unitid="@assessment.UnitId"
                                               onclick="UnitDetailsType.loadAssesmentLearningPopup(this,'@ResourceManager.GetString("Course.AssessmentLearning.EditAssessment")','@EncryptDecryptHelper.EncryptUrl(assessment.AssesmentLearningID)');">
                                                <img src="../../Content/VLE/img/svg/unit-edit.svg" alt="Edit" class="svg mr-2" />Edit
                                            </a>
                                            <a class="dropdown-item py-2" href="javscript:void(0);"
                                               onclick="UnitDetailsType.deletedAssessmentLearning('@("#card-" + counter + "-" + @assessment.AssesmentLearningID)','@assessment.AssesmentLearningID');">
                                                <img src="../../Content/VLE/img/svg/unit-delete.svg" alt="Delete" class="svg mr-2" />Delete
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>

                </div>
                }
            }
        }
        else 
        {
            <div class="col-lg-12 col-md-12 col-12">
            <span class="no-data-found text-bold d-block mx-auto my-auto">
                @ResourceManager.GetString("Shared.Labels.NoRecords")
            </span>
            </div>
        }
    </div>
            @*<script src="~/Content/js/jquery-3.3.1.min.js?v=FgpCb_KJQlLNfOu91ta32o_NMZxltwRo8QtmkMRdAu81"></script>

            <script>
                $(document).ready(function () {
                    assessmentLearningList = @Html.Raw(Json.Encode(AssessmentLearning));
                    for (var index = 0; index < assessmentLearningList.length; index++) {
                        assessmentArray.push(assessmentLearningList[index].AssesmentLearningID);
                    }
                });
                </script>*@
