﻿@model Phoenix.VLE.Web.EditModels.StandardEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rnd = DateTime.Now.Ticks.ToString();
    var SchoolddlHide = SessionHelper.CurrentSession.UserTypeId == 5 ? "" : "d-none";
    var isSuperAdmin = SessionHelper.CurrentSession.UserTypeId == 5 ? true : false;
}
<div class="modal-body">
    <div class="popup-form">
        <input type="hidden" id="UTM_ID" name="UTM_ID" value="@ViewBag.UTM_ID" />
        @*<div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <h4 class="card-title font-small font-weight-bold">@ResourceManager.GetString("Course.Standard.BrowseStandards")</h4>
            </div>
        </div>*@
        <div class="row">
            <div class="col-lg-3 col-md-3 col-12">
                <div class="mb-3 md-form md-outline">
                    @Html.DropDownListFor(x => x.GroupName,
                   new SelectList(ViewBag.StandardList, "MainSyllabusId", "ParentGroupName", Model.GroupName),
                   ResourceManager.GetString("Course.Standard.SelectStandard"), new { @data_live_search = "true", @class = "selectpicker", @onchange = "UnitDetailsType.populateUnits(this);" })

                    <label class="active select-label">@ResourceManager.GetString("Course.Standard.CoreStrand")</label>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="mb-3 md-form md-outline">
                    <select id="ddlUnitName" class="selectpicker" data-live-search="true" onchange="UnitDetailsType.populateSubUnits(this);">
                    </select>
                    <label class="active select-label">@ResourceManager.GetString("Course.Standard.CategoryTopic")</label>
                </div>

                @*<input id="UnitTopicTree" class="form-control" />
            <label class="active select-label">@ResourceManager.GetString("Course.Unit.SelectTopic")</label>*@
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="mb-3 md-form md-outline">
                    <select id="ddlSubUnitName" class="selectpicker" data-live-search="true">
                    </select>
                    <label class="active select-label">@ResourceManager.GetString("Course.Standard.SubcategorySubtopic")</label>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-3">
                <button id="btnListStandards" type="button" class="btn btn-outline-primary m-0 ml-2">@ResourceManager.GetString("Course.Standard.List")</button>
            </div>
        </div>
            <div class="row">

                <div class="col-lg-4 col-md-4 col-4 d-flex"  >
                    <div class="mb-2 md-form md-outline mr-2 pl-0 w-100" id="divsearch">
                        <input type="tel" id="search" class="form-control" >
                        <label for="input2">@ResourceManager.GetString("Course.Standard.SearchStandards")</label>
                    </div>
                    @*<div class="md-form md-outline m-0"><button type="button" class="btn btn-primary m-0">Go</button></div>*@
                </div>
                <div class="col-lg-4 col-md-4 col-12" style="display:none;">
                    <div class="md-form md-outline">
                        <select class="selectpicker">
                            <option selected>DP - Age 16-18</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label class="active select-label">Select Age Group</label>
                    </div>
                </div>


            </div>
            @*div to load standard details for more info check unitdetailstype.js*@
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 d-flex">
                    <div class="container p-0">
                        <div class="content" id="products">
                            <div class="pb-3">
                                <div class="responsive-table mCustomScrollbar" id="divTopicDetails" style="overflow:auto;" data-mcs-theme="dark">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="modal-footer">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary m-0"  id="btnAddStandard">@ResourceManager.GetString("Course.Standard.AddStandard")</button>
        <button type="button" class="btn btn-outline-primary m-0 ml-2" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
    </div>
</div>

<style>
    .tree {
        padding: 0px !important;
        border: 0px solid #e0e0e0 !important;
    }

    .tree-folder, .tree-file, .tree-folder-open {
        background: none !important;
        width: 0px !important;
    }

    .tree-node-selected {
        background: rgba(144, 81, 191, 0.4) !important;
    }
    /*.tree-node {         padding-top: 4px !important;     }*/
    .tree-checkbox0 {
        background: #dcdcdc !important;
        border-radius: 3px !important;
    }

    .tree-checkbox1, .tree-checkbox2 {
        background: #7030A0 url(../Content/img/svg/tick.svg) no-repeat center !important;
        background-size: 62% !important;
        border-radius: 3px !important;
    }

    input.textbox-text {
        padding: 8px 6px !important;
        width: 100% !important;
    }

    .combo-panel.panel-body {
        background-color: #fff !important;
        padding: 6px !important;
        border: 1px solid #efefef !important;
        border-radius: 6px !important;
        overflow: hidden !important;
        overflow-y: auto !important;
    }
</style>
<script>
    $(document).ready(function () {
        $('#divsearch').hide();
    });

</script>