﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.VLE.Web.Areas.Course.Models
@using Phoenix.Common.Enums;
@using Phoenix.Common.ViewModels;
@using Phoenix.VLE.Web.EditModels
@model  List<UnitDetailsTypeEdit>
@{
    ViewBag.Title = ResourceManager.GetString("Course.Unit.UnitDetailsTitle");
    List<UnitDetailsTypeEdit> objListOfGroups = new List<UnitDetailsTypeEdit>();
    List<TopicTreeView> standardDetails = new List<TopicTreeView>();
    List<AssessmentEvidenceEdit> assessmentEvidenceList = new List<AssessmentEvidenceEdit>();
    List<AssessmentLearningEdit> assessmentLearningList = new List<AssessmentLearningEdit>();
    var AttachmentCount = Model.Any(e => e.ControlType == "Standards") ?  Model.Where(e => e.ControlType == "Standards").FirstOrDefault().AttachmentList.Count() : 0;
    if (ViewBag.GroupList != null)
    {
        objListOfGroups = (List<UnitDetailsTypeEdit>)ViewBag.GroupList;

    }
    if (ViewBag.StandardDetails != null)
    {
        standardDetails = (List<TopicTreeView>)ViewBag.StandardDetails;
    }
    if (ViewBag.assessmentEvidences != null)
    {
        assessmentEvidenceList = (List<AssessmentEvidenceEdit>)ViewBag.assessmentEvidences;
    }
    if (ViewBag.assessmentLearning != null)
    {
        assessmentLearningList = (List<AssessmentLearningEdit>)ViewBag.assessmentLearning;
    }

    var CourseId = ViewBag.CourseId;
    var UnitId =  Model.Any() ? Model.FirstOrDefault().UnitId : 0;
    var UnitTitle = "";
    if (ViewBag.UnitTitle != null)
    {
        UnitTitle = (string)ViewBag.UnitTitle;
    }

}
<!-- breadcrumb start -->
@Html.Hidden("CourseId", new { value = CourseId })

<!-- breadcrumb end -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <ul class="navTabs d-flex align-items-center flex-nowrap overflow-auto w-100 column-padding border-bottom">

                    <li class="flex-shrink-0"><a href="#" class="text-medium py-3 d-inline-block position-relative mx-3 ml-md-4 mr-md-0 active">@ResourceManager.GetString("Course.Common.UnitDetails")</a></li>
                    @*<li class="flex-shrink-0"><a href="#" class="text-medium py-3 d-inline-block position-relative mx-3 ml-md-4 mr-md-0">@ResourceManager.GetString("Course.Common.LessonPlanner")</a></li>*@
                </ul>



                <!-- tab panel start -->
                <div class="vTab-wrapper d-lg-flex">
                    <div class="tab-container flex-1">
                        @using (Ajax.BeginForm("AddEditUnitTypeDetails", "Unit", new { area = "Course" }, new AjaxOptions { OnFailure = "globalFunctions.onFailure" }, new { id = "frmUnitDetailsType", enctype = "multipart/form-data", @class = "d-inline" }))
                        {
                            var counter = 0;


                            for (int i = 0; i < objListOfGroups.Count(); i++)
                            {
                                var GroupName = objListOfGroups[i].GroupName;
                                var lstGroupDetails = Model.Where(e => e.GroupName == GroupName).ToList();

                                if (i == 0)
                                {
                                    <h3 class="d_active tab-drawer-heading py-3 px-4 text-semibold" rel=@("tab" + i)>@GroupName</h3>
                                }
                                else
                                {
                                    <h3 class="tab-drawer-heading py-3 px-4 text-semibold" rel=@("tab" + i)>@GroupName</h3>
                                }


                                <div id=@("tab" + i) class="tab-content pb-5">
                                    <!--Accordion section starts -->
                                    <div class="unit-planner-info">
                                        <div class="accordion pb-5" id=@("stage" + i)>
                                            @for (int j = 0; j < lstGroupDetails.Count(); j++)
                                            {
                                                @Html.Hidden("objUnitTypeDetails[" + counter + "].UnitTypeId", lstGroupDetails[j].UnitTypeId)
                                                @Html.Hidden("objUnitTypeDetails[" + counter + "].UnitId", lstGroupDetails[j].UnitId)
                                                @Html.Hidden("objUnitTypeDetails[" + counter + "].UnitDetailsId", lstGroupDetails[j].UnitDetailsId)
                                                @Html.Hidden("objUnitTypeDetails[" + counter + "].AttachmentKey", lstGroupDetails[j].AttachmentKey)


                                                <div class="@(j==0 ? "card m-0 border-bottom border-top-0 border-left-0 border-right-0"
                                                        :(j== (lstGroupDetails.Count()-1)
                                                             ? "card m-0 z-depth-0":"card m-0 z-depth-0 border-bottom border-top-0 border-left-0 border-right-0"))">
                                                    <div class="card-header p-0" id=@("stage-" + i + "-section-" + j)>
                                                        <h5 class="mb-0 w-100 py-2">
                                                            @if (j == 0)
                                                            {
                                                                <button class="btn btn-link d-inline-block text-center m-0 mr-3 p-3 collapse"
                                                                        type="button" data-toggle="collapse" data-target=@("#section-"+i+"-"+j)
                                                                        aria-expanded="true" aria-controls=@("section-"+i+"-"+j)>
                                                                    <i class="fas fa-plus"></i><i class="fas fa-minus"></i>
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-link d-inline-block text-center m-0 mr-3 p-3 collapsed"
                                                                        type="button" data-toggle="collapse" data-target=@("#section-"+i+"-"+j)
                                                                        aria-expanded="false" aria-controls=@("section-"+i+"-"+j)>
                                                                    <i class="fas fa-plus"></i><i class="fas fa-minus"></i>
                                                                </button>
                                                            }

                                                            @lstGroupDetails[j].Title
                                                            @if (lstGroupDetails[j].IsRequired)
                                                            {
                                                                <small class="text-danger text-medium ml-1 mr-3">(required)</small>

                                                            }
                                                            <i class="fas fa-info-circle" data-toggle="tooltip" title="@(lstGroupDetails[j].Description)"></i>
                                                        </h5>
                                                    </div>

                                                    <div id=@("section-"+i+"-" + j) class="@(j==0 ? "collapse show" :"collapse")"
                                                         aria-labelledby=@("stage-" + i + "-section-" + j) data-parent=@("#stage" + i)>
                                                        <div class="card-body column-padding pt-2 pb-4 pl-5 ml-4">
                                                            <div class="content">

                                                                @switch (lstGroupDetails[j].ControlType)
                                                                {
                                                                    case "Standards":
                                                                        <div class="row">
                                                                            <div class="col-lg-12 col">
                                                                                <div id="divSelectedTopics">

                                                                                </div>
                                                                                <button data-UnitId="@lstGroupDetails[j].UnitId" data-UnitDetailsId="@lstGroupDetails[j].UnitDetailsId" type="button" class="btn btn-outline-primary btn-sm"
                                                                                        onclick="UnitDetailsType.loadStandardsPopup(this,'@ResourceManager.GetString("Course.Standard.BrowseStandards")');">
                                                                                    @ResourceManager.GetString("Course.Standard.ChooseStandards")
                                                                                </button>
                                                                                <p class="sub-heading text-medium mt-3">@ResourceManager.GetString("Course.Standard.Tostarttargetingstandards")</p>
                                                                            </div>
                                                                        </div>
                                                                        break;
                                                                    case "FutureFluencies":

                                                                        <div class="row">
                                                                            <div class="col-lg-12 col">

                                                                                <div class="md-form md-outline mb-2">
                                                                                    @Html.CKTextArea("objUnitTypeDetails[" + counter + "].ContentDescription", lstGroupDetails[j].ContentDescription, new { @class = "form-control ", @data_math = "", @data_inline = "", @rows = "3" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        break;
                                                                    case "Assessments":
                                                                        <div class="row">
                                                                            <div class="col-lg-12 col">
                                                                                <div id="divAssessmentEvidenceList">

                                                                                </div>
                                                                                <button data-UnitId="@lstGroupDetails[j].UnitId" data-UnitDetailsId="@lstGroupDetails[j].UnitDetailsId" type="button" class="btn btn-outline-primary btn-sm"
                                                                                        onclick="UnitDetailsType.loadAssesmentEvidencePopup(this,'@ResourceManager.GetString("Course.AssessmentEvidence.AddAssessmentEvidence")','');">
                                                                                    @ResourceManager.GetString("Course.Unit.ChooseAssessments")
                                                                                </button>

                                                                            </div>
                                                                        </div>

                                                                        break;


                                                                    case "AssessmentLearning":

                                                                        <div class="row">
                                                                            <div class="col-lg-12 col">
                                                                                <div id="divAssessmentLearningList">

                                                                                </div>
                                                                                <button data-UnitId="@lstGroupDetails[j].UnitId" data-UnitDetailsId="@lstGroupDetails[j].UnitDetailsId" type="button" class="btn btn-outline-primary btn-sm"
                                                                                        onclick="UnitDetailsType.loadAssesmentLearningPopup(this,'@ResourceManager.GetString("Course.AssessmentLearning.AddAssessmentLearning")','');">
                                                                                    @ResourceManager.GetString("Course.Unit.AddAssessmentLearning")
                                                                                </button>

                                                                            </div>
                                                                        </div>

                                                                        break;


                                                                    case "TextArea":
                                                                        <div class="row">
                                                                            <div class="col-lg-12 col">
                                                                                <div class="md-form md-outline mb-2">
                                                                                    @Html.CKTextArea("objUnitTypeDetails[" + counter + "].ContentDescription",
                                                                                   lstGroupDetails[j].ContentDescription,
                                                                                   new { @class = "form-control", @data_math = "", @data_inline = "", @rows = "3" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        break;
                                                                }
                                                                @if (lstGroupDetails[j].HasAttachment && lstGroupDetails[j].ControlType != "Assessments" && lstGroupDetails[j].ControlType != "AssessmentLearning")
                                                                {
                                                                    <div class="row">
                                                                        <div class="col-lg-12 col">
                                                                            @Html.FileUpload("objUnitTypeDetails[" + counter + "].File", lstGroupDetails[j].AttachmentList, htmlAttributes: new { @class = "form-control", @data_multiple = "multiple" })
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                counter++;
                                            }
                                        </div>

                                    </div>
                                    <!--Accordion section ends here-->
                                </div>
                                <!-- #tab1 -->
                            }

                        }
                    </div>
                    <!-- .tab-container -->
                    <ul class="tabs mt-0">
                        @for (int k = 0; k < objListOfGroups.Count(); k++)
                        {
                            var GroupName = objListOfGroups[k].GroupName;
                            if (k == 0)
                            {
                                <li rel="tab0" class="active text-semibold p-4"> @($"Stage {k + 1}: {GroupName}")</li>
                            }
                            else
                            {
                                <li rel=@("tab"+k) class="text-semibold p-4">@($"Stage {k + 1}: {GroupName}")</li>
                            }

                        }

                    </ul>
                </div>
                <!-- tab panel end -->
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/jquery-3.3.1.min.js?v=FgpCb_KJQlLNfOu91ta32o_NMZxltwRo8QtmkMRdAu81"></script>
@Html.Partial("_CommonJsPartial")
<script>
    $(document).ready(function () {

        var _btnSave = "";
        @if (objListOfGroups.Count() > 0)
        {
           @: _btnSave  = '<button type="button" id="btnTypeDetails" class="btn btn-outline-primary btn-sm rounded-4x">@ResourceManager.GetString("Shared.Buttons.Save")</button>';
           @:  $('#breadcrumbActions').html(_btnSave);
           @: var unitTitle = '<li class="ml-3"><div id="divUnitTitle">@Html.Raw(UnitTitle)</div></li>';
           @:  $('nav.breadcrumbs > ul').append(unitTitle);
        }

        standardlessons = @Html.Raw(Json.Encode(standardDetails));
        standarddetails = standardlessons;

        assessmentEvidenceList = @Html.Raw(Json.Encode(assessmentEvidenceList));
        for (var index = 0; index < assessmentEvidenceList.length; index++) {
            assessmentArray.push(assessmentEvidenceList[index].AssesmentEvidenceID);
        }

        assessmentLearningList = @Html.Raw(Json.Encode(assessmentLearningList));
        for (var index = 0; index < assessmentLearningList.length; index++) {
            assessmentLearningArray.push(assessmentLearningList[index].AssesmentLearningID);
        }

        UnitDetailsType.bindStandardLessons(true,@AttachmentCount);
        UnitDetailsType.bindAssessmentEvidenceDetails(@UnitId);
        UnitDetailsType.bindAssessmentLearningDetails(@UnitId);

        //initialize inline CK Editor
    if ($(".ck-inlineEditor").length) {
        CKEDITOR.disableAutoInline = true;
        var inlineElement = CKEDITOR.document.find('.ck-inlineEditor'),
            i = 0,
            element;
        while ((element = inlineElement.getItem(i++))) {
            CKEDITOR.inline(element, {
                extraPlugins: 'sourcedialog'
            });
        }
    }

    if ($(".ck-Editor").length) {
        var ck_editor = CKEDITOR.document.find('.ck-Editor'),
            j = 0,
            element;
        while ((element = ck_editor.getItem(j++))) {
            CKEDITOR.replace(element, {
                height: "300px"
            });
        }
    }



    });

</script>

