﻿@model  Phoenix.VLE.Web.Areas.Course.Models.UnitMasterEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{

    ViewBag.Title = ResourceManager.GetString("Course.Unit.UnitMasterTitle");

}



<div class="card">
    <div class="card-body">
        <div class="title-with-fields">
          
                <div class="card-title">
                    <div id="divCardtitle">
                        @ResourceManager.GetString("Course.Unit.UnitMasterTitle")
                    </div>
                    <span id="spnBtnBacktoGrid" class="pull-right font-small cursor-pointer d-none"><i class="fas fa-arrow-alt-cirlce-left"></i> Back</span>
                </div>
                <div>
                    <button type="button" class="btn btn-sm btn-primary" id="btnAddUnitMaster">@ResourceManager.GetString("Shared.Labels.Add")</button>
                </div>
            
            
        </div>
        <div id="divUnitMasterGrid">
            <table id="tblUnitMasterGrid" class="table table-bordered table-hover table-responsive-md">
                <thead>
                    <tr>
                        <th class="th-sm">@ResourceManager.GetString("Course.Unit.Courses")</th>
                        <th class="th-sm">@ResourceManager.GetString("Course.Unit.UnitName")</th>
                        <th class="th-sm">@ResourceManager.GetString("Course.Unit.StartDate")</th>
                        <th class="th-sm">@ResourceManager.GetString("Course.Unit.EndDate")</th>
                        <th class="th-sm">@ResourceManager.GetString("Course.Unit.GridColorCode")</th>
                        <th class="th-sm">@ResourceManager.GetString("Shared.Labels.Actions")</th>
                    </tr>
                </thead>


            </table>

        </div>
        <div id="divAddEditUnitMaster" class="d-none">

        </div>
        @*@using (Html.BeginForm("AddEditUnitMaster", "Unit", FormMethod.Post, new { id = "frmUnitMaster" }))
            {
                @Html.HiddenFor(m => m.UnitId, new { @name = "UnitId" })
                <div class="row pt-3 pb-3">

                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="md-form md-outline mb-3">
                            @Html.DropDownListFor(m => m.CourseId, new SelectList(string.Empty), "Select", new { @class = "selectpicker", @name = "CourseId" })
                            <label class="active" for="CourseId">@ResourceManager.GetString("Course.Unit.Courses")</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="md-form md-outline mb-3">
                            @Html.TextBoxFor(m => m.UnitName, new { @class = "form-control", @name = "UnitName" })
                            <label for="UnitName">@ResourceManager.GetString("Course.Unit.UnitName")</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="md-form md-outline mb-3">
                            <p class="m-0 mr-3">@ResourceManager.GetString("Course.Unit.ColorCode")</p>
                            <div class="color-picker" style="width:30px">
                                @Html.HiddenFor(m => m.UnitColorCode, new { @class = "colorpicker", @data_control = "hue", @name = "UnitColorCode", @value = "#a34646" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="md-form md-outline mb-3">
                            @Html.TextBoxFor(m => m.StartDate, "{0:dd-MMM-yyyy}", new { @class = "form-control date-picker" })
                            <label for="StartDate">@ResourceManager.GetString("Course.Unit.StartDate")</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="md-form md-outline mb-3">
                            @Html.TextBoxFor(m => m.EndDate, "{0:dd-MMM-yyyy}", new { @class = "form-control date-picker" })
                            <label for="EndDate">@ResourceManager.GetString("Course.Unit.EndDate")</label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="md-form md-outline mb-3">
                            <button type="submit"  class="btn btn-primary">@ResourceManager.GetString("Shared.Buttons.Save")</button>
                        </div>
                    </div>
                </div>


            }*@

    </div>


</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{
    <script language="javascript">

    </script>

    <script src="@Url.Content("~/Content/js/custom/Course/Unit/UnitMaster.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}

