﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers

@{
    ViewBag.Title = ResourceManager.GetString("Course.Unit.UnitDetailsTitle");
}


@{
    Html.RenderAction("GetUnitInfo", "Unit", new { Id = ViewBag.UnitId, CourseId = ViewBag.CourseId, UnitTitle = ViewBag.UnitTitle });
}


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")


}

@section scripts
{
    <style>
        .modal-backdrop.show {
            opacity: .5;
            z-index: 19;
        }
    </style>

    <link href="~/Content/VLE/css/addons/owl.theme.default.min.css" rel="stylesheet" />

    <script src="@Url.Content("~/Content/js/ckeditor/ckeditor.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/addons/vTabs.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/Common/FileDownloader.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Course/Unit/UnitDetailsType.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>
        $(document).ready(function () {

            $('.time-picker').datetimepicker({
                format: 'LT'
            });
            $('.date-picker').datetimepicker({
                format: 'MM/DD/YYYY'
            });
            var dt = new Date();
            var cDate = ("0" + dt.getDate()).slice(-2) + '/' + ("0" + (dt.getMonth() + 1)).slice(-2) + '/' + dt.getFullYear();
            var cTime = dt.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })
            $('.date-picker').val(cDate);
            $('.time-picker').val(cTime);

            $(".colorpicker").minicolors({
                theme: 'bootstrap',
                control: 'hue',
                format: 'hex'
            });

            $(".sidebar-fixed .list-group").mCustomScrollbar({
                setHeight: "86%",
                autoExpandScrollbar: true,
                autoHideScrollbar: true,
                scrollbarPosition: "outside"
            });




            //----------Select the first tab and div by default
        });
    </script>

    <link href="~/Content/css/custom/Users/easyuitree.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.easyui.min.js"></script>
    <script type="text/javascript">


        $('#search').keyup(function () {

            $('.trigger-rightDrawer').show()

            var filter = $(this).val();

            $('#products').find('.trigger-rightDrawer:not(:contains("' + filter + '"))').hide();

            var grouplist = $(".group-list-report-search");
            grouplist.each(function (index, element) {

                var searchLen = $(element).find('.trigger-rightDrawer:not(:contains("' + filter + '"))').length;
                var searchTotalLen = $(element).find('.trigger-rightDrawer').length;
                if (searchLen == searchTotalLen) {

                    $(element).hide();


                }
                else {
                    $(element).show();
                }

            });
        });

                                                                            //var topicArray = [];
                                                                            //var topicText = [];
                                                                            //function unitTopicChange(obj, id) {

                                                                            //    if ($(obj).is(':checked')) {
                                                                            //        topicArray.push(id);
                                                                            //        topicText.push($(obj).attr('data-topic'));
                                                                            //    }
                                                                            //    else {
                                                                            //        const index = topicArray.indexOf(id);
                                                                            //        if (index > -1) {
                                                                            //            topicArray.splice(index, 1);
                                                                            //        }
                                                                            //        const topicTextIndex = topicText.indexOf($(obj).attr('data-topic'));
                                                                            //        if (topicTextIndex > -1) {
                                                                            //            topicText.splice(topicTextIndex, 1);
                                                                            //        }
                                                                            //    }
                                                                            //    console.log(topicText);

                                                                            //}

                                                                            //$(document).ready(function () {
                                                                            //    $('#btnAddStandard').click(function () {
                                                                            //        $('#divSelectedTopics').html(topicText.join(','));

                                                                            //    });
                                                                            //});
    </script>

}

