﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.VLE.Web.Areas.Course.Models
@model  List<UnitDetailsTypeEdit>
@{
    ViewBag.Title = ResourceManager.GetString("Course.Unit.UnitDetailsTitle");
    List<UnitDetailsTypeEdit> objListOfGroups = new List<UnitDetailsTypeEdit>();
    if (ViewBag.GroupList != null)
    {
        objListOfGroups = (List<UnitDetailsTypeEdit>)ViewBag.GroupList;
    }
    Layout = "~/Views/Shared/_GBSTeacherLayout.cshtml";
}
<!-- breadcrumb start -->
<div class="row breadcrumb-row">
    <div class="col-lg-12 col-md-12 col-12">
        <nav aria-label="breadcrumb" class="nav-breadcrumb">
            <ol class="breadcrumb border-bottom bg-white breadcrumb-header d-flex justify-content-between align-items-center">
                <li class="breadcrumb-item active breadcrumb-navigation" aria-current="page">
                    @ResourceManager.GetString("Course.Unit.BacktoUnitDetails")
                </li>
                <li class="list-pattern-container">
                    <div class="md-form md-outline m-0">
                        <select class="selectpicker">
                            <option selected>Select action</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label class="active select-label">Action</label>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- breadcrumb end -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ul class="navTabs d-flex align-items-center flex-nowrap overflow-auto w-100 column-padding border-bottom">
                    <li class="flex-shrink-0"><a href="#" class="text-medium py-3 d-inline-block position-relative mx-2 mx-md-0">@ResourceManager.GetString("Course.Common.CourseDescription")</a></li>
                    <li class="flex-shrink-0"><a href="#" class="text-medium py-3 d-inline-block position-relative mx-3 ml-md-4 mr-md-0 active">@ResourceManager.GetString("Course.Common.UnitDetails")</a></li>
                    <li class="flex-shrink-0"><a href="#" class="text-medium py-3 d-inline-block position-relative mx-3 ml-md-4 mr-md-0">@ResourceManager.GetString("Course.Common.CurriculumMap")</a></li>
                </ul>

                <!-- tab panel start -->
                <div class="vTab-wrapper d-lg-flex">
                    <div class="tab-container flex-1">
                        @using (Ajax.BeginForm("AddEditUnitTypeDetails", "Unit", new { area = "Course" }, new AjaxOptions { OnFailure = "globalFunctions.onFailure" }, new { id = "frmUnitDetailsType" }))
                        {

                            for (int i = 0; i < objListOfGroups.Count(); i++)
                            {
                                var GroupName = objListOfGroups[i].GroupName;
                                var lstGroupDetails = Model.Where(e => e.GroupName == GroupName).ToList();

                                <div id=@("tab" + i) class="tab-content">
                                    <!--Accordion section starts -->
                                    <div class="unit-planner-info">
                                        <div class="accordion" id=@("stage" + i)>
                                            @for (int j = 0; j < lstGroupDetails.Count(); j++)
                                            {
                                                @Html.HiddenFor(m => m[j].UnitTypeId)
                                                @Html.HiddenFor(m => m[j].UnitId)
                                                @Html.HiddenFor(m => m[j].UnitDetailsId)


                                                <div class="card m-0 border-bottom border-top-0 border-left-0 border-right-0">
                                                    <div class="card-header p-0" id=@("stage-" + i + "-section-" + j)>
                                                        <h5 class="mb-0 w-100 py-2">
                                                            @if (j == 0)
                                                            {
                                                                <button class="btn btn-link d-inline-block text-center m-0 mr-3 p-3 collapse"
                                                                        type="button" data-toggle="collapse" data-target=@("#section-"+i+"-"+j)
                                                                        aria-expanded="true" aria-controls=@("section-"+i+"-"+j)>
                                                                    <i class="fas fa-plus"></i><i class="fas fa-minus"></i>
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-link d-inline-block text-center m-0 mr-3 p-3 collapsed"
                                                                        type="button" data-toggle="collapse" data-target=@("#section-"+i+"-"+j)
                                                                        aria-expanded="false" aria-controls=@("section-"+i+"-"+j)>
                                                                    <i class="fas fa-plus"></i><i class="fas fa-minus"></i>
                                                                </button>
                                                            }

                                                            @lstGroupDetails[j].Title
                                                            @if (lstGroupDetails[j].IsRequired)
                                                            {
                                                                <small class="text-danger text-medium ml-1 mr-3">(required)</small>

                                                            }
                                                            <i class="fas fa-info-circle" data-toggle="tooltip" title="@lstGroupDetails[j].Description"></i>
                                                        </h5>
                                                    </div>

                                                    <div id=@("section-"+i+"-" + j) class="@(j==0 ? "collapse show" :"collapse")" aria-labelledby=@("stage-" + i + "-section-" + j) data-parent=@("#stage" + i)>
                                                        <div class="card-body column-padding pt-2 pb-4 pl-5 ml-4">
                                                            <div class="content">
                                                                @switch (Model[j].ControlType)
                                                                {
                                                                    case "Standards":

                                                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#targetedStandardModal">@ResourceManager.GetString("Course.Standard.ChooseStandards")</button>
                                                                        <button type="button" class="btn btn-outline-primary btn-sm"><i class="fas fa-paperclip"></i> <span class="d-none d-md-inline-block">@ResourceManager.GetString("Course.Common.AddAttachment")</span></button>
                                                                        <p class="sub-heading text-medium mt-3">@ResourceManager.GetString("Course.Standard.Tostarttargetingstandards")</p>
                                                                        <div class="sub-heading text-medium mt-3" id="divSelectedTopics"></div>

                                                                        break;
                                                                    case "FutureFluencies":
                                                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"> @ResourceManager.GetString("Course.Unit.ChooseFutureFluencies")</button>
                                                                        break;
                                                                    case "Assessments":
                                                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal">@ResourceManager.GetString("Course.Unit.ChooseAssessments")</button>
                                                                        break;

                                                                    case "TextArea":
                                                                        <div class="row">
                                                                            <div class="col-lg-12 col">
                                                                                <div class="md-form md-outline mb-2">
                                                                                    @Html.TextAreaFor(m => m[j].ContentDescription, new { @class = "md-textarea form-control ck-inlineEditor", @rows = "3" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        break;
                                                                }
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                    </div>
                                    <!--Accordion section ends here-->
                                </div>
                                <!-- #tab1 -->
                            }
                            <div class="row mt-3 mb-3">
                                <div class="col-lg-12 col-md-12 col-12 text-center">
                                    <button type="button" id="btnTypeDetails" class="btn btn-primary">@ResourceManager.GetString("Shared.Buttons.Save")</button>
                                </div>
                            </div>

                        }
                    </div>
                    <!-- .tab-container -->
                    <ul class="tabs mt-0">
                        @for (int k = 0; k < objListOfGroups.Count(); k++)
                        {
                            var GroupName = objListOfGroups[k].GroupName;
                            if (k == 0)
                            {
                                <li rel="tab0" class="active text-semibold p-4"> @($"Stage {k + 1}: {GroupName}")</li>
                            }
                            else
                            {
                                <li rel=@("tab"+k) class="text-semibold p-4">@($"Stage {k + 1}: {GroupName}")</li>
                            }

                        }

                    </ul>
                </div>
                <!-- tab panel end -->
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="targetedStandardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@ResourceManager.GetString("Course.Standard.AddTargetedStandards")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{Html.RenderAction("GetStandardPopUpDetails", "Unit");}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary m-0" id="btnAddStandard">@ResourceManager.GetString("Course.Standard.AddStandard")</button>
                <button type="button" class="btn btn-outline-primary m-0 ml-2" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{

    <script type="text/javascript" src="~/content/content/js/addons/moment-with-locales.js"></script>
    <script type="text/javascript" src="~/content/content/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/content/content/js/addons/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/content/content/js/addons/jquery.minicolors.min.js"></script>
    <script type="text/javascript" src="~/Content/js/addons/vTabs.js"></script>
    <script src="https://cdn.ckeditor.com/4.14.0/standard-all/ckeditor.js"></script>
    <link href="~/Content/css/custom/Users/easyuitree.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.easyui.min.js"></script>
    <script src="@Url.Content("~/Content/js/custom/Course/Unit/UnitDetailsType.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    <script>
        $(document).ready(function () {
            $('.time-picker').datetimepicker({
                format: 'LT'
            });
            $('.date-picker').datetimepicker({
                format: 'MM/DD/YYYY'
            });
            var dt = new Date();
            var cDate = ("0" + dt.getDate()).slice(-2) + '/' + ("0" + (dt.getMonth() + 1)).slice(-2) + '/' + dt.getFullYear();
            var cTime = dt.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })
            $('.date-picker').val(cDate);
            $('.time-picker').val(cTime);

            $(".colorpicker").minicolors({
                theme: 'bootstrap',
                control: 'hue',
                format: 'hex'
            });

            $(".sidebar-fixed .list-group").mCustomScrollbar({
                setHeight: "86%",
                autoExpandScrollbar: true,
                autoHideScrollbar: true,
                scrollbarPosition: "outside"
            });

            //----------Select the first tab and div by default
        });
    </script>
    
}