﻿@model IEnumerable<Phoenix.Models.Chat>
    @using Phoenix.Common.Helpers
    @using Phoenix.Common.Localization
    @using Phoenix.Common.Helpers.Extensions
    @using Phoenix.VLE.Web.Helpers;
    @{
    int indexRow = 0;
    }



    <span class="text-bold font-small text-primary d-block mb-3">Create Chat Group</span>
    <div class="search-row mt-2 mb-2">
        <div class="search-with-bg border w-100">
            <span class="icon-search"></span>
            <input type="search" class="searchfield" placeholder="Search" id="myInput">
        </div>
    </div>


    <div class="create-chat-sec user-chat-block" style="height:250px;overflow-y:scroll" id="divGroupUserChat">

        @foreach (var item in Model)
        {
        var imageUrl = "/Content/VLE/img/avatar-2.jpg";
        if (!string.IsNullOrEmpty(item.ToUserProfileImage))
        {
        imageUrl = item.ToUserProfileImage;
        }
        var name = item.ToUser;
        <a class="chat-user border-0  align-items-center pt-2 pb-2" href="#">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="contact-@indexRow" data-name="@indexRow" data-chkId="@item.ToUserId">
                <label class="custom-control-label pl-2 text-medium d-flex align-items-center" for="contact-@indexRow">
                    <div class="defaultAvatar position-relative mr-2">
                        @*<img src="@item.ToUserProfileImage" class="img-fluid rounded-circle" alt="">*@
                        <img src="@imageUrl" class="img-fluid rounded-circle h-100" alt="" id="image-@indexRow" data-src="@imageUrl">
                        <span class="status bg-success rounded-circle d-block position-absolute bottom-0 right-0"></span>
                    </div>
                    <div class="student-info">
                        <span class="text-bold font-small" id="user-@indexRow" data-userid="@item.ToUserId" data-firstName="@item.ToUser">@name</span>
                    </div>
                </label>
            </div>
        </a>
        indexRow++;
        }


    </div>
    <div class="d-flex justify-content-between mt-2">
        <button type="button" class="btn btn-primary btn-sm mr-1" id="btnCreateGroupChat">Create Chat Group</button>
        <button type="button" class="btn btn-outline-primary waves-effect btn-sm" onclick="arrSelectedMember.length = 0; $('#divUserpopUp').hide();">Cancel</button>
    </div>

    @Scripts.Render("~/Content/VLE/js/jquery.mCustomScrollbar.concat.min.js")

    <script>



    $(document).ready(function () {
        $('input[type="checkbox"]').removeAttr('checked');
        $('input[type="checkbox"]').removeAttr('disabled');
        console.log(arrSelectedMember);

        $('input:checkbox.custom-control-input').each(function () {
            var item = $(this).data('chkid');
            var c = arrSelectedMember.includes(item);
            if (c == true) {
                $(this).prop("checked", true);
                $(this).prop("disabled", true);
            }

        });

        $('input:checkbox.custom-control-input').each(function () {
            var item = $(this).data('chkid');
            var c = $('#hdnToUserId').val();
            if (item == c) {
                $(this).prop("disabled", true);
            }

        });

        //var arr = arrGroupUserIds.split(',');

        $('input:checkbox.custom-control-input').each(function () {
            var item = $(this).data('chkid');
            var c = arrGroupUserIds.includes(item);
            if (c == true) {
                $(this).prop("checked", true);

            }
        });



        $('input[type="checkbox"]').click(function () {
            if ($(this).prop("checked") == true) {
                //  alert($('#user-' + $(this).data('name')).text());
                arrGroupUserName.push($('#user-' + $(this).data('name')).text());
                arrGroupUserIds.push($('#user-' + $(this).data('name')).data('userid'));
                arrGroupUserImage.push($('#image-' + $(this).data('name')).data('src'));
            }
            else if ($(this).prop("checked") == false) {
                var elem = $('#user-' + $(this).data('name')).text();
                var index = arrGroupUserName.indexOf(elem);
                if (index > -1) {
                    arrGroupUserName.splice(index, 1);
                    arrGroupUserIds.splice(index, 1);
                    arrGroupUserImage.splice(index, 1);
                }
            }
            //console.log(arrGroupUserName); console.log(arrGroupUserImage);
        });

        $("#btnCreateGroupChat").click(function () {
            var _name = ''; var _id = ''; var _image = '';
            if (arrGroupUserName.length == 0) {
                return false;
            }
            for (var i = 0; i < arrGroupUserName.length; i++) {
                if (_name == '') {
                    _name = arrGroupUserName[i];
                    _id = arrGroupUserIds[i];
                    _image = arrGroupUserImage[i];
                } else {
                    _name = _name + "," + arrGroupUserName[i];
                    _id = _id + "," + arrGroupUserIds[i];
                    _image = _image + "," + arrGroupUserImage[i];
                }
            }
            if ($("#GroupName").val() == '' || $("#GroupName").val() == 'undefined') {

                var elementId = $('#hdnToUserId').val();

                //var elementId = $('#toUserName').text().split(" ").join("");
                //if (elementId.includes("/") == true) {
                //    elementId = elementId.split("/").join("");
                //}

                var oldClass = $('#' + elementId).attr('class');
                var newClass;
                if (oldClass.includes("away-user") == true) {
                    newClass = "chat-user away-user align-items-center pt-3 pb-3";
                }
                else if (oldClass.includes("online-user") == true) {
                    newClass = "chat-user online-user align-items-center pt-3 pb-3";
                }

                $('#divRecent').find('#' + elementId).removeAttr('class').addClass(newClass);

                var toImage = $('#divRecent').find('#' + elementId).find('img').attr('src');
                _name = _name + "," + $('#toUserName').text();
                _id = _id + "," + $('#hdnToUserId').val();
                _image = _image + "," + toImage;
                console.log("Imgae");
                console.log(_image);
            }
            arrGroupUserName.length = 0; arrGroupUserIds.length = 0; arrGroupUserImage.length = 0;
            if ($("#GroupName").val() == '' || $("#GroupName").val() == 'undefined') {
                $.ajax({
                    type: 'GET',
                    url: '/SchoolInfo/Chat/GetGroup',
                    //data: { groupId: currentgroupId, groupList: JSON.stringify(selectedGroup), blogId: $("#BlogId").val() },
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        var id = result + 1;
                        var _group = "Group_" + result;
                        openUserAdd(_name, _group, _id, _image, id);
                        $("#divUserpopUp").hide();
                        $("#divUserpopUpAdded").hide();

                        $('#ieditgroupId').show();
                        $('#isave').show();
                        $('#txteditGroupText').show();
                        $('#btncloseGrop').show();
                        arrSelectedMember.length = 0;
                    },
                    error: function (msg) {
                        globalFunctions.onFailure();
                    }
                });
            } else {
                debugger;
                var _group = $("#GroupName").val();
                var currentLength=0;
                    if(_id.toString().includes(',') == false){
                         currentLength=1;
                    }
                    else
                    { 
                         currentLength = _id.split(',').length;
                    }
                               
                var totalCountMember= arrSelectedMember.length + currentLength;
                $.ajax({
                    type: 'GET',
                    url: '/SchoolInfo/Chat/GetGroupName',
                    data: { 'groupId': $('#GroupId').val() },
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {

                        if (result.includes(',') == true) {
                            result = result + ',' + _name;
                        }
                        openUserAdd(_name, _group, _id, '', '', result);
                        $("#divUserpopUp").hide();
                        $("#divUserpopUpAdded").hide();
                        $('#ieditgroupId').show();
                        $('#isave').show();
                        $('#txteditGroupText').show();
                        $('#btncloseGrop').show();
                        arrSelectedMember.length = 0;


                        $.ajax({
                            url: "/Chat/GetGroupMemberByGroupId",
                            data: { 'groupId': $('#GroupId').val() },
                            type: "GET",

                            //contentType: "application/json; charset=utf-8",
                            success: function (resultData) {
                                totalLenght = totalCountMember;
                                userImg1 = ''; userImg2 = ''; userImge3 = '';
                                  var indexMax = 0;
                                if (resultData.length > 0) {
                                    for (var indexi = 0; indexi < resultData.length; indexi++) {
                                        if (indexMax < 3) {
                                            if (indexi == 0) {
                                                userImg1 = resultData[indexi].GroupUserProfileImage;
                                            }
                                            if (indexi == 1) {
                                                userImg2 = resultData[indexi].GroupUserProfileImage;
                                            }
                                            if (indexi == 2) {
                                                userImge3 = resultData[indexi].GroupUserProfileImage;
                                            }
                                        } else {
                                              break;
                                        }
                                    }
                                }
                                var fromUserName = $('#toUserName').text();
                                GetMemberUpdate($("#GroupName").val(), $('#GroupId').val(), fromUserName, userImg1, userImg2, userImge3, '', totalLenght, $("#GroupName").val())
                            },
                            error: function (msg) {
                                globalFunctions.onFailure();
                            }
                        });


                    },
                    error: function (msg) {
                        globalFunctions.onFailure();
                    }
                });

            }
            //// ajax call for groupName

        });

    });


    </script>
    <script>
    function searchGroupPeropleData(str) {
        $.ajax({
            url: "/Chat/MyGroupSearch",
            data: { 'searchString': $('#myInput').val() },
            //dataType: "json",
            type: "GET",
            //contentType: "application/json; charset=utf-8",
            success: function (data) {
                //var selectedData =  $("#divGroupUserChat").find("input[type='checkbox']:checked").closest('a');
                //$("#divUserpopUp").mCustomScrollbar({
                //    scrollButtons: {
                //        enable: true
                //    }
                //});
                //$('#divUserpopUp').mCustomScrollbar("destroy");
                $('#divUserpopUp').html('');
                $('#divUserpopUp').html(data);
                $('#myInput').val(str);
                $('#myInput').focus();
                //$("#divGroupUserChat").prepend(selectedData);
                //arrGroupUserIds.filter(function (x) {
                //    //$("#divGroupUserChat").find("input:checkbox:not(:checked)").find('*[data-userid="' + x + '"]').remove();
                //    $("#divGroupUserChat").find('*[data-userid="' + x + '"]').closest("a").find("input:checkbox:not(:checked)").closest("a").remove()
                //});
            }
            ,
            complete: function () {
                //$(".my-contact").mCustomScrollbar({
                //    autoHideScrollbar: true,
                //    autoExpandScrollbar: true,
                //    scrollbarPosition: "outside",
                //});


            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    $(function () {
        $('#myInput').keyup(function (e) {
            var str = $('#myInput').val();
            if ($('#myInput').val().length > 2) {
                searchGroupPeropleData(str);
            }
            else if ((e.keyCode == 8 || e.keyCode == 46) && str.length < 3) {
                str = "";
                searchGroupPeropleData(str);
            }
        });


    });
    </script>
