﻿@model IEnumerable<Phoenix.Models.Chat>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.VLE.Web.Helpers;

<style>
    .chatAvatar {
        min-width: 2.5rem;
    }

</style>

<div class="row mb-3">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="section-title with-fields">
            <h3>My Contacts</h3>
        </div>
        <div class="card rounded-2x column-padding p-0 overflow-hidden">
            <div class="search-with-bg bg-white border rounded-4x mx-2 my-2">
                <span class="icon-search"></span>
                <input type="search" class="searchfield" placeholder="Search" id="txtContactSearch">
            </div>
            <div class="card-body">
                <div class="my-contact user-chat-block ">
                    @foreach (var item in Model)
                    {
                        var name = item.ToUser;
                        var p = name.Replace(" ", "").ToString().Replace("/", "");
                        <a class="chat-user away-user align-items-center pt-3 pb-3" href="#" onclick="clickcontactList('@name','@item.ToUserId','@item.ToUserProfileImage');" id='@p'>
                            <div class="chat-img-wrap position-relative">
                                <img class="img-fluid rounded-circle chatAvatar" src="@item.ToUserProfileImage" alt="Classroom">
                            </div>
                            <h4 class="text-medium">
                                @name
                            </h4>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js")
@Scripts.Render("https://code.jquery.com/ui/1.12.1/jquery-ui.js")
@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js")
@Scripts.Render("~/Content/VLE/js/jquery.mCustomScrollbar.concat.min.js")


<script>
    $(function ($, undefined) {
        $('#txtContactSearch').keyup(function () {
            if ($('#txtContactSearch').val().length > 2) {
                $.ajax({
                    url: "/Chat/MyContactSearch",
                    data: { 'searchString': $('#txtContactSearch').val() },
                    //dataType: "json",
                    type: "GET",
                    //contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        $("#ContactList").mCustomScrollbar({
                            scrollButtons: {
                                enable: true
                            }
                        });
                        $('#ContactList').mCustomScrollbar("destroy");
                        $('#ContactList').html('');
                        $('#ContactList').html(data);
                        //$('#txtContactSearch').keypress();
                        $(".my-contact").mCustomScrollbar({
                            autoHideScrollbar: true,
                            autoExpandScrollbar: true,
                            scrollbarPosition: "outside",
                        });
            //             $(".recent-chat-wrap").mCustomScrollbar({
            //    autoHideScrollbar: true,
            //    autoExpandScrollbar: true,
            //    scrollbarPosition: "outside",
            //});

                    }
                    ,
                    complete: function () {
                        //$(".my-contact").mCustomScrollbar({
                        //    autoHideScrollbar: true,
                        //    autoExpandScrollbar: true,
                        //    scrollbarPosition: "outside",
                        //});


                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        });


    });

    @*function clickUserList(ToUser, toUserId, grpMain, userImg1, userImg2, userImge3, userImage4, totalLenght) {
        alert('dfdfd');

        var grpId = 0; var tobyuserId=0;
        if (ToUser.includes('Group_') == true) {
            grpId = toUserId;
            tobyuserId = 0;
            $('#GroupName').val(ToUser);
            $('#GroupId').val(toUserId);
            $('#ieditgroupId').show();
            $('#isave').show();
            $('#txteditGroupText').show();
            $('#btncloseGrop').show();

                    $.ajax({
                    url: "/Chat/GetGroupMemberByGroupId",
                    data: { 'groupId': $('#GroupId').val() },
                    type: "GET",
                    //contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        totalLenght = result.length;
                    },
                    error: function (msg) {
                        globalFunctions.onFailure();
                    }
                    });

                   $.ajax({
                    type: 'GET',
                    url: '/SchoolInfo/Chat/GetGroupName',
                    data: { 'groupId': $('#GroupId').val() },
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                       grpMain = result;
                    },
                    error: function (msg) {
                        globalFunctions.onFailure();
                    }
                });


        } else {
            $('#GroupName').val('');
            $('#GroupId').val('');
            grpId = 0;
            tobyuserId = toUserId;
            $('#ieditgroupId').hide();
            $('#isave').hide();
            $('#txteditGroupText').hide();
            $('#btncloseGrop').hide();
        }


        $('#hdnImgToUserId').val(toUserId);
        $('#hdnToUserId').val(toUserId);
        $('#toUserName').text(ToUser);

        $('#ieditgroupId').attr('name',toUserId);
        if (toUserId == null || toUserId == 'undefined' || toUserId == "") {
            return;
        }
        sgnlRconnection.server.messageReceived(ToUser,toUserId,'@SessionHelper.CurrentSession.FullName');


        $.ajax({
            type: 'GET',
            url: '/SchoolInfo/Chat/GetChatHistory',
            data: { toUserById: tobyuserId,groupId : grpId},
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                console.log(result);
                BindChatHistory(result, ToUser,grpMain,userImg1,userImg2,toUserId,userImge3,userImage4,totalLenght);
                $('#divChatWindow').attr('style', 'top:100px;overflow-y:scroll; transform: translateY(-10%);bottom:10px');
                if ($("#divChatWindow")[0].scrollHeight != $("#divChatWindow")[0].clientHeight) {
                    $("#divChatWindow")[0].scrollTop = $("#divChatWindow")[0].scrollHeight - $("#divChatWindow")[0].clientHeight;
                }
                else {
                    $('#divChatWindow').removeAttr("style");
                    $("#divChatWindow")[0].scrollTop = $("#divChatWindow")[0].scrollHeight;
                }

            },
            error: function (msg) {
                globalFunctions.onFailure();
            }
        });
    }*@


</script>
