﻿@model IEnumerable<Phoenix.Models.SchoolGroup>
@using Phoenix.Common.Helpers
@*<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="section-title with-fields">
            <h3>My Group</h3>            
                <a href="/schoolstructure/schoolgroups" class="btn btn-link">
                    View All
                </a>
</div>

        <div class="card rounded-2x p-0 overflow-hidden">
            <div class="card-body">

                <div class="my-group user-chat-block ">
                    @foreach (var item in Model)
                    {
                        
                            <a class="chat-user align-items-center pt-3 pb-3" href="/SchoolStructure/SchoolGroups/GroupDetails?grpId=@EncryptDecryptHelper.EncryptUrl(item.SchoolGroupId.ToString())">
                                <div class="chat-img-wrap  position-relative">
                                    <img class="img-fluid rounded-circle" src="~/Content/VLE/img/group-avatar.jpg" alt="Classroom">
                                </div>
                                <h4 class="text-medium">
                                    @item.SchoolGroupName
                                </h4>
                            </a>
                            }
                    </div>
            </div>
        </div>

    </div>
</div>*@

    <div class="group-list-card mt-4">
        <div class="outer-row">
            <div class="section-title outer-title">
                <h3>My Groups</h3>
            </div>
            <a href="/schoolstructure/schoolgroups" class="text-medium text-primary text-button p-0">View all</a>
        </div>
        <div class="card">
            <ul class="group-list my-group">
                @foreach (var item in Model)
                {
                    var imageUrl = "/Content/VLE/img/group-avatar.jpg";
                    if (!string.IsNullOrEmpty(item.GroupImage))
                    {
                        imageUrl = PhoenixConfiguration.Instance.ReadFilePath + item.GroupImage;
                    }
                    <li class="column-padding py-3">
                        <a href="/SchoolStructure/SchoolGroups/GroupDetails?grpId=@EncryptDecryptHelper.EncryptUrl(item.SchoolGroupId.ToString())" class="d-flex align-items-center w-100">
                            @*<a href="/SchoolStructure/SchoolGroups/GroupDetails?grpId=@EncryptDecryptHelper.EncryptUrl(item.SchoolGroupId.ToString())" class="d-flex align-items-center w-100" onclick="yoYoBlog.loadWallListForGroupById(@item.SchoolGroupId)">*@
                            <div class="group-img rounded-1x">
                                <img src="@imageUrl" alt="group-icon" class="group-icon rounded-circle" onerror="this.onerror=null;this.src='/Content/VLE/img/group-avatar.jpg';"/>
                            </div>
                            <div class="student-info break-student-Name">
                                <h3 class="name m-0 ml-2 text-semibold">@item.SchoolGroupName</h3>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>