@function path($src, $dir: img) {
	$src: unquote($src);
    //@return url(unquote("..")/$dir/$src);
    @return url("" + unquote("/Content/VLE")/$dir/$src + "");
}

@mixin opacity($value){
    $IEValue: $value*100;
    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}

@mixin semitransparent-bg($color, $opacity: 0.5) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
    @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}

@mixin gradient-bg($degree, $color1, $color2) {
    background: $color1;
    background: -moz-linear-gradient($degree, $color1 0%, $color2 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,$color1), color-stop(100%,$color2));
    background: -webkit-linear-gradient($degree, $color1 0%,$color2 100%);
    background: -o-linear-gradient($degree, $color1 0%,$color2 100%);
    background: -ms-linear-gradient($degree, $color1 0%,$color2 100%);
    background: linear-gradient($degree, $color1 0%, $color2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 );
}
@mixin media-breakpoint-down-320 {
    @media (max-width: 320px) { 
        @content; 
    }
}
@mixin media-breakpoint-down-1600 {
    @media (max-width: 1600px) {
        @content;
    }
}
@mixin media-breakpoint-up-1600 {
    @media (min-width: 1601px) {
        @content;
    }
}

@mixin random-bgr(){
    background: rgb(random(255), random(255), random(255));
}

@mixin plus-minus {
    position: absolute;
    top: 0;
    left: rem(4px);
    width: rem(14px);
    height: rem(2px);
    display: inline-block;
    background: #2356bd;
}