$colors: #F96363, #4981FD, #3AB9F0, #FF6CA3, #A3A0FB, #49DB93, #F5C657, #FF9850, #041E42;
$colorSet1: #7C5AEF, #5AB0EF, #95CE21, #FCC01F, #A977DB, #F96363, #041E42;
$colorSet2: #7605E8, #FFBD66, #0DC7F9, #1916F8, #FF6CA3, #902EBB, #A3A0FB, #D02823, #53D769, #FF9850;
/*---------- dashboard style start ----------*/
/* #dashboardBanners {
    .owl-stage-outer, .item {
        border-radius: rem($default-border-radius + 7);
    }
    .item {
        overflow: hidden;
        @include media-breakpoint-down(sm) {
            min-height: rem(145px);
        }
        .caption {
            bottom: 0;
            left: 0;
            @include semitransparent-bg($black-base, 0.5);
            p {
                color: $white-base;
                font-size: rem($base-font-size + 6);
            }
            @include media-breakpoint-down(sm) {
                padding: rem(0 15px);
                @include semitransparent-bg($black-base, 1);
                p {
                    font-size: rem($base-font-size);
                }   
            }
        }
    }
} */

#schoolFeed {
    &.owl-carousel {
        &.owl-theme {
            .owl-nav {
                position: absolute;
                top: rem(-40px);
                right: 0;
            }
        }
        .owl-item {
            .item {
                figure {
                    .initials {
                        width: rem(40px);
                        height: rem(40px);
                        flex: none;
                        overflow: hidden;
                        //box-shadow: 0 0 8px rgba(0,0,0,0.35);
                        color: $white-base;
                        text-align: center;
                        line-height: 2.3;
                        font-size: rem($base-font-size + 2);
                        &.assignment {
                            background: $primary-color;
                        }
                        &.group {
                            background: #FFBD66;
                        }
                        &.file {
                            background: #FF6CA3;
                        }
                    }
                    figcaption, p {
                        font-size: rem($base-font-size - 2);
                        font-weight: 500;
                    }
                    figcaption {
                        a {
                            max-height: rem(36px);
                            overflow: hidden;
                            line-height: 1.3;
                        }
                    }
                }
            }
        }
    }
}

.circular-banner {
    max-height: rem(100px);
    overflow: hidden;
}

#circulars {
    &.owl-carousel {
        &.owl-theme {
            .owl-nav {
                position: absolute;
                top: rem(-162px);
                right: 0;
            }
            &.without-image {
                .owl-nav {
                    top: rem(-45px);
                }
            }
            .item {
                a {
                    i {
                        font-size: rem($base-font-size * 2);
                    }
                    p {
                        line-height: 1.3;
                        .circular-title {
                            max-height: rem(48px);
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}

.studentTimeline {
    /* .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        min-width: initial;
    } */
    .bootstrap-select {
        min-width: initial !important;
        button {
            &[type="button"] {
                &.dropdown-toggle {
                    padding: rem(6px 15px);
                    .filter-option-inner-inner {
                        font-weight: 500;
                    }
                }
            }
        }
        /* &.show-tick {
            .dropdown-menu {
                li {
                    
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        position: relative;
                        padding-left: rem(25px);
                        span {
                            &.text {
                                margin-right: 0;
                                margin-left: rem(20px);
                                font-size: rem($base-font-size - 3);
                                font-weight: 500;
                            }
                            &.bs-ok-default {
                                position: absolute;
                                right: initial;
                                left: rem(15px);
                                border: solid rem(1.5px) $primary-color;
                                border-radius: rem(2px);
                                width: rem(18px);
                                height: rem(18px);
                                text-align: center;
                                display: inline-block;
                                top: 50%;
                                transform: translateY(-50%);
                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .selected {
                    span {
                        &.bs-ok-default {
                            &:after {
                                display: block;
                                position: relative;
                                left: rem(4.5px);
                                border-color: $primary-color;
                            }
                        }
                    }
                }
            }
        } */
    }
    .title-fields {
        margin-right: rem(90px);
    }
}
.timeline {
    &.owl-carousel {
        &.owl-theme {
            .owl-nav {
                position: absolute;
                top: rem(-50px);
                right: 0;
            }
            .owl-item {
                @for $i from 1 through length($colorSet1) {
                    &:nth-child(#{length($colorSet1)}n+#{$i}) > .item  {
                        .card {
                            margin: rem(10px 0);
                            h3 {
                                .initials {
                                    background: nth($colorSet1, $i);
                                    box-shadow: 0 0 8px lighten(nth($colorSet1, $i), 10%);
                                    &.current-day {
                                        &:before {
                                            content: '';
                                            position: absolute;
                                            width: 40px;
                                            height: 40px;
                                            border: dashed 1px nth($colorSet1, $i);
                                            border-radius: 50px;
                                            left: -3px;
                                            top: -3px;
                                        }
                                    }
                                } 
                            }
                            &:hover {
                                border-color: lighten(nth($colorSet1, $i), 20%);
                            }
                        }
                    }
                }
                .item {
                    .card {
                        border: solid 2px $white-base;
                        min-height: rem(200px);
                        box-shadow: 0 0 15px rgba(0,0,0,0.07);
                        @include transition-main(all linear 0.2s);
                        h3 {
                            font-size: rem($base-font-size);
                            .initials {
                                background: $stroke-color;
                                font-size: rem($base-font-size + 6);
                                color: $white-base;
                                width: rem(38px);
                                height: rem(38px);
                                text-align: center;
                                flex: none;
                                font-weight: 600;
                                line-height: 1.8;
                                position: relative;
                                left: rem(-6px);
                            }
                            .date {
                                font-weight: 500;
                                font-size: rem($base-font-size - 5);
                                color: darken($secondary-text-color, 20%);
                                display: block;
                                @include media-breakpoint-up-1600 {
                                    display: inline-block;
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                        ul {
                            li {
                                margin-bottom: rem(20px);
                                position: relative;
                                &:before, &:after {
                                    content: '';
                                    position: absolute;
                                }
                                &:before {
                                    left: 0;
                                    top: 4px;
                                    width: rem(8px);
                                    height: rem(8px);
                                    border-radius: 100%;
                                    background: $secondary-text-color;
                                }
                                &:after {
                                    width: 1px;
                                    height: calc(100% + 10px);
                                    border-left: dotted 2px lighten($secondary-text-color, 25%);
                                    left: rem(3px);
                                    top: 15px;
                                }

                                &:last-child {
                                    margin-bottom: 0;
                                    &:after {
                                        display: none;
                                    }
                                }
                                .time, .info {
                                    color: darken($secondary-text-color, 15%);
                                    small {
                                        font-weight: 600;
                                    }
                                }
                                .time {
                                    font-size: rem($base-font-size - 4);
                                    text-transform: uppercase;
                                }
                                p {
                                    font-weight: 500;
                                }
                                .info {
                                    position: relative;
                                    line-height: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.todays-updates-card, .chatter-update-card {
    min-height: rem(420px);
}
.chatter-updates {
    ul {
        li {
            border-bottom: solid 1px $stroke-color;
            &:last-child {
                border-bottom: none;
            }
            .avatar {
                width: rem(40px);
                height: rem(40px);
                flex: none;
                overflow: hidden;
                box-shadow: 0 0 8px rgba(0,0,0,0.35);
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .chatter-details {
                h6 {
                    font-size: rem($base-font-size - 2);
                    font-weight: 500;
                }
                .chatter-meta {
                    span {
                        font-size: rem($base-font-size - 4);
                        color: $secondary-text-color;
                    }
                }
            }
        }
    }
}
.chatterUpdates {
    .section-title {
        h3 {
            background: path('chatter-icon.svg', img/svg) no-repeat left center;
        }
    }
}
#todays-updates {
    &.owl-carousel {
        &.owl-theme {
            .owl-nav {
                position: absolute;
                top: rem(-70px);
                right: rem(-20px);
            }
            .item {
                article {
                    background: #F0F4F7;
                    margin-bottom: rem(15px);
                    position: relative;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .icon {
                        width: rem(52px);
                        height: rem(52px);
                        flex: none;
                        overflow: hidden;
                        box-shadow: 0 0 8px rgba(0,0,0,0.35);
                        text-align: center;
                        line-height: 3;
                        display: block;
                        img {
                            width: 55%;
                            height: auto;
                            display: inline-block;
                        }
                    }
                    .content {
                        p {
                            font-size: rem($base-font-size - 2);
                            margin-bottom: 0;
                            strong {
                                color: #1D4094;
                            }
                            &.date {
                                color: $secondary-text-color;
                                font-size: rem($base-font-size - 4);
                            }
                        }
                    }
                    .category {
                        right: rem(20px);
                        top: rem(20px);
                        background: darken($stroke-color, 5%);
                        font-size: rem($base-font-size - 4);
                        border-radius: rem($default-border-radius * 4);
                        padding: rem(3px 15px);
                    }
                }
                &.d-flex {
                    article {
                        width: 48%;
                        max-height: rem(115px);
                        &:nth-last-child(-n+2) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.attendance-section {
    .svg {
        path {
            fill: $black-base;
        }
    }
    .duration-selection {
        padding-left: rem(12px);
        padding-right: rem(12px);
        max-width: rem(165px);
        position: relative;
        .dropdown-menu {
            a {
                font-size: rem($base-font-size - 2);
            }
        }
    }
    .attendance-progress {
        background: $stroke-color;
        position: relative;
        height: rem(5px);
        overflow: hidden;
        width: 35%;
        margin-bottom: rem(3px);
        border-radius: rem(25px);
        span {
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
        }
    }
    h1, h5 {
        line-height: 1;
    }
    h1 {
        font-size: rem(40px);
        font-weight: 700 !important;
    }
    h5 {
        font-size: rem($base-font-size);
        font-weight: 700 !important;
        span {
            font-size: rem($base-font-size - 2);
            font-weight: 500;
            color: $secondary-text-color;
            margin-top: rem(5px);
        }
    }
    .week-name {
        p {
            width: 20%;
            text-align: center;
        }
    }
    .status {
        i {
            width: 20%;
            text-align: center;
        }
    }
}

.assignment-count {
    @include media-breakpoint-down(md) {
        .assignment-count-content {
            overflow-x: auto;
        }
    }
    
    .assignment-count-content::-webkit-scrollbar { display: none;}
    .card {
        width: 33.33%;
        /* &:nth-child(2) {
            margin-left: rem(12px);
            margin-right: rem(12px);
        } */
        @include media-breakpoint-down(md) {
            flex: none;
            width: rem(320px);
        }
        .btn-link {
            text-decoration: none;
            bottom: rem(20px);
            left: rem(20px);
            z-index: 1;
            font-size: rem($base-font-size - 2);
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: $primary-color;
                @include transition-main(all ease-in 0.2s);
            }
            &:hover {
                &:after {
                    width: 0;
                }
            }
        }
        .assignmentCounters {
            bottom: rem(20px);
            right: rem(100px);
        }
    }
    .new, .in-progress, .overdue, .completed {
        padding-top: rem(12px);
        padding-bottom: rem(12px);
        a {
            span {
                img {
                    max-width: 60%;
                }
            }
        }
        h1 {
            span {
                text-align: left;
            }
        }
        span {
            text-align: right;
            img {
                @include media-breakpoint-down(lg) {
                    width: 70%;
                }
            }
        }
    }
    .new {
        background: #eff4ff;
        h1 {
            color: $primary-color;
            span {
                color: $primary-color;
            }
        }
    }
    .in-progress {
        background: #FFFBF0;
        h1 {
            color: #EDB828;
            span {
                color: #EDB828;
            }
        }
    }
    .overdue {
        background: #FEF6F4;
        h1 {
            color: #E56D41;
            span {
                color: #E56D41;
            }
        }
    }
    .completed {
        background: #eafff2;
        h1 {
            color: #3fbc72;
            span {
                color: #3fbc72;
            }
        }
    }
    h1 {
        font-size: rem($base-font-size * 2);
        span {
            font-size: rem($base-font-size - 2);
        }
    }
    ul {
        li {
            position: relative;
            a {
                &:focus, &:active {
                    outline: none;
                    box-shadow: none;
                }
                
            }
            i {
                span {
                    font-family: $base-font;
                    font-size: rem($base-font-size - 3);
                    font-weight: 500;
                    margin-left: rem(5px);
                }
            }
            .assignment-title {
                font-weight: 600;
                font-size: rem($base-font-size - 2);
                line-height: 1.3;
                height: rem(35px);
                overflow: hidden;
            }
        }
    }
    .owl-carousel {
        &.owl-theme {
            .owl-nav {
                text-align: right;
            }
        }
    }
    .empty-message {
        min-height: rem(210px);
    }
}
#assignment-popover {
    .popover {
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-color: #dcdcdc;
        .arrow {
            &:before {
                border-right-color: #dcdcdc;
            }
        }
    }
    .popover-header, .popover-body {
        padding: rem(15px);
    }
    .popover-header {
        font-size: rem($base-font-size + 2);
        font-weight: 500;
        background: transparent;
        border: none;
    }
    .popover-body {
        .due-date {
            color: $secondary-text-color;
            font-size: rem($base-font-size - 3);
            font-weight: 600;
            text-transform: capitalize;
            &.text-warning {
                color: #EDB828 !important;
            }
        }
    }
}

#assignmentCarousel {
    &.owl-carousel {
        &.owl-theme {
            .owl-nav {
                position: absolute;
                top: 0;
                right: 0;
                button {
                    background: $white-base;
                }
            }
        }
    }
    article {
        .date {
            font-size: rem($base-font-size - 2);
        }
        h3 {
            font-size: rem($base-font-size + 2);
            span {
                font-size: rem($base-font-size - 3);
                &.completed-by-student {
                    background: lighten($inprogress-color, 35%);
                    padding: rem(3px 13px);
                    border-radius: rem($default-border-radius);
                    color: darken($inprogress-color, 10%);
                }
            }
        }
        p {
            color: darken($secondary-text-color, 15%);
            @include media-breakpoint-between(md, lg) {
                max-height: rem(45px);
                overflow: hidden;
            }
        }
    }
}

.resources {
    height: rem(286px);
    @include media-breakpoint-down-1600 {
        height: rem(325px);
    }
    article {
        h3 {
            font-size: rem($base-font-size - 2);
            .time, .grade {
                position: relative;
                color: darken($secondary-text-color, 10%);
                small {
                    font-weight: 500;
                }
            }
            .course-name {
                font-size: rem($base-font-size - 1  );
                img {
                    width: rem(18px);
                }
            }
            .title {
                max-height: rem(35px);
                overflow: hidden;
            }
        }
        i {
            font-size: rem(40px);
        }
    }
    .mCSB_outside + .mCSB_scrollTools {
        right: -18px;
    }
}

.studentDetails {
    .userMood {
        width: rem(30px);
        height: rem(30px);
        right: 0.5rem !important;
        top: rem(10px) !important;
    }
    h6 {
        font-size: rem($base-font-size);
        font-weight: 600 !important;
        background: lighten($primary-color, 55%);
        span {
            font-size: rem($base-font-size - 3);
            color: $secondary-text-color;
        }
    }
    p {
        font-size: rem($base-font-size - 2);
        font-weight: 500;
        color: darken($secondary-text-color, 10%);
    }
}

.other-groups, .group-container {
    &.owl-carousel {
        &.owl-theme {
            .owl-stage-outer {
                padding-bottom: rem(20px);
            }
            .owl-nav {
                position: absolute;
                top: rem(-50px);
                right: 0;
            }
        }
    }
    .group-header {
        min-height: 88px;
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            //@include semitransparent-bg($primary-color, 0.3);
            //background: rgba(20, 73, 136, 0.4);
            top: 0;
            left: 0;
            border-radius: rem(12px 12px 0 0);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 20%, transparent 100%);
        }
        
        .group-image {
            max-height: rem(100px);
            overflow: hidden;
            border-radius: rem(12px 12px 0 0);
            img {
                width: auto;
                height: 84px;
                display: flex;
                max-width: initial;
                @media screen and (min-width: 2000px) {
                    width: 100%;
                    height: 100px;
                }
            }
        }
        .subject-name {
            h3 {
                font-size: rem($base-font-size);
                color: $white-base;
                position: relative;
                z-index: 1024;
                height: 16px;
                overflow: hidden;
            }
            h3, i {
                text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
            }
        }
        .group-actions {
            z-index: 1030;
            button {
                width: rem(20px);
                height: rem(20px);
            }
            .dropdown-menu {
                a {
                    font-size: rem($base-font-size - 2);
                    padding-top: rem(10px);
                    padding-bottom: rem(10px);
                }
            }
        }
        .student-count {
            z-index: 1030;
            font-size: rem($base-font-size - 3);
            font-weight: 600;
        }
    }
    .group-name {
        font-size: rem($base-font-size - 2);
        font-weight: 500;
        span {
            font-size: rem($base-font-size - 4);
            display: none !important;
        }
    }
    .quick-actions {
        a {
            color: darken($secondary-text-color, 5%);
            font-size: rem($base-font-size + 2);
            border-right: solid 1px $stroke-color;
            width: 100%;
            text-align: center;
            padding: rem(10px 0);
            &:last-child {
                border: none;
            }
            img {
                width: rem(29px);
            }
        }
    }
}
.group-listing-page {
    .owl-carousel {
        &.owl-theme {
            .owl-nav {
                right: 16px;
                top: -2.6rem;
            }
        }
        article {
            margin: 1px;
        }
    }
}
/*---------- dashboard style end ----------*/

.check-item {
    padding: 8px 0;
    label {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        font-size: rem($base-font-size - 4);
        input[id*='group-value'] {
            margin-right: 8px;
            width: 16px;
            height: 16px;
            border: 0.5px solid #8e9ab5;
            cursor: pointer;
            -webkit-appearance: none;
            &:checked {
                border: 1px solid #3037ce;
                background: path('tick-mark.svg', img/svg) no-repeat center;
                background-size: 75%;
            }
            &:focus {
                border: 0.5px solid #8e9ab5;
                outline: none;
            }
        }
    }
}

.more-groups {
    color: #0f4bd3;
    font-size: rem($base-font-size - 4);
    font-weight: 600;
    text-align: left;
    padding: 1rem 2.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    &:focus {
        outline: none;
    }
}

.group-title {
    font-weight: 700;
}



/*---------- activities style ----------*/
.feather-calendar-icon {
    position: relative;
    &:before {
        content: '';
        background: path('feather-calendar.svg', img/svg) no-repeat;
        background-size: contain;
        width: rem(11px);
        height: rem(12px);
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
    }
}

.hour-glass-icon {
    position: relative;
    &:before {
        content: '';
        background: path('mini-hour-glass.svg', img/svg) no-repeat;
        background-size: contain;
        width: rem(8px);
        height: rem(12px);
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
    }
}

.grade-icon {
    position: relative;
    &:before {
        content: '';
        background: path('register-by.svg', img/svg) no-repeat;
        background-size: contain;
        width: rem(13px);
        height: rem(13px);
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
    }
}

.dollar-icon {
    position: relative;
    &:before {
        content: '';
        background: path('dollar.svg', img/svg) no-repeat;
        background-size: contain;
        width: rem(19px);
        height: rem(19px);
        position: relative;
        top: rem(4px);
        margin-right: rem(8px);
        display: inline-block;
    }
}

.group-icon {
    position: relative;
    &:before {
        content: '';
        background: path("group.svg", img/svg) no-repeat;
        background-size: contain;
        width: rem(20px);
        height: rem(20px);
        position: relative;
        top: rem(8px);
        margin-right: rem(8px);
        display: inline-block;
    }
}

.location-icon {
    &:before {
        content: '';
        background: path("location.svg", img/svg) no-repeat;
        background-size: contain;
        width: rem(13px);
        height: rem(16px);
        display: inline-block;
    }
}

.unsubscribe-icon {
    &:before {
        content: '';
        background: path("unsubscribe.svg", img/svg) no-repeat;
        background-size: contain;
        width: rem(24px);
        height: rem(24px);
        margin-right: rem(10px);
        display: inline-block;
    }
}

.pending-icon {
    position: relative;
    &:before {
        content: '';
        background: path("pending.svg", img/svg) no-repeat;
        background-size: contain;
        width: rem(15px);
        height: rem(15px);
        position: relative;
        top: rem(3px);
        left: 0;
        display: inline-block;
    }
}

.request-accepted-icon {
    position: relative;
    &:before {
        content: '';
        background: path("ic-request-accepted.svg", img/svg) no-repeat;
        background-size: contain;
        width: rem(15px);
        height: rem(15px);
        position: relative;
        top: rem(3px);
        left: 0;
        display: inline-block;
    }
}

.arrow-up {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: rem(-8px);
        right: rem(14px);
        width: 0;
        height: 0;
        border-left: rem(8px) solid transparent;
        border-right: rem(8px) solid transparent;
        border-bottom: rem(8px) solid #fff;
    }
}

.full-width-container {
    padding-top: rem(48px);
    margin: rem(-17px) rem(-11px) 0 rem(-17px);
    > div {
        margin: 0 rem(8px);
    }
    .card-body {
        img {
            width: 100%;
        }
    }
}

.bordered-tab-item {
    .nav-link {
        font-weight: 500;
        padding-top: rem(20px);
        padding-bottom: rem(20px);
        margin-right: rem(32px);
        color: rgba(75, 49, 108, 0.5);
        border-bottom: rem(2px) solid transparent;
        @include media-breakpoint-down(xs) {
            margin-right: 0;
            padding: rem(15px);
        }
        &.active {
            font-weight: 600;
            color: darken($primary-color, 20%);
            border-bottom: rem(2px) solid darken($primary-color, 30%);
        }
    }
}

.accordion-pane {
    .card {
        border-radius: rem(5px) !important;
    }
    .accordion {
        .card {
            .card-header {
                > a {
                    color: $primary-color;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h5 {
                        width: calc(100% - 14px);
                        font-weight: 600;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        text-transform: uppercase;
                        .title {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            flex-wrap: wrap;
                        }
                    }
                }
                a[aria-expanded^="true"] {
                    color: #fff;
                    background-color: $primary-color;
                    .text-limit {
                        color: #fff;
                        text-align: right;
                    }
                }
                .badge {
                    position: relative;
                    top: rem(-1px);
                    box-shadow: none;
                    margin-left: rem(10px);
                    text-transform: none;
                }
                .text-limit {
                    color: #8f9bb3;
                    font-weight: 600;
                    font-size: rem($base-font-size - 2px);
                    text-transform: none;
                    margin-right: rem(15px);
                }
            }
        }
    }
}

.dotted-line {
    border-right: 1px dotted #908a8a;
    @include media-breakpoint-down(sm) {
        border-right: none;
        border-bottom: 1px dotted #908a8a;
    }
}

.flex-card {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }
}

.text-sm {
    color: #0f2445;
    font-size: rem($base-font-size - 5);
    .text-medium {
        margin-left: rem(16px);
    }
}

.badge-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .custom-badge {
        padding: rem(2px) rem(9px) rem(4px);
        border-radius: rem(5px);
        background-color: #eff6f8;
        margin-right: rem(12px);
        @include media-breakpoint-down(sm) {
            margin-bottom: rem(5px);
        }
    }
    @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
    }
}

.card-rectangle {
    box-shadow: 0 rem(2px) rem(12px) 0 rgba(180, 200, 208, 0.31);
    border: solid rem(1px) #ece6f2;
    > .flex-card {
        padding: rem(20px);
    }
    .card-title {
        padding: rem(20px);
    }
    .img-fluid {
        width: rem(155px);
        height: rem(155px);
        margin-right: rem(26px);
        margin-bottom: rem(8px);
    }
    .left-side {
        width: calc(100% - 30%);
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
    .right-side {
        width: 30%;
        padding-left: rem(20px);
        @include media-breakpoint-down(sm) {
            width: 100%;
            padding-left: 0;
            padding-top: rem(20px);
        }
        @include media-breakpoint-up(md) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .btn {
            border-width: rem(1px) !important;
            border-radius: rem(4px);
            padding-top: rem(7px);
            padding-bottom: rem(7px);
            font-size: rem($base-font-size - 5);
            font-weight: 600;
            &:not(:hover) {
                box-shadow: none;
            }
            &:disabled {
                opacity: 0.3;
            }
        }
        .badge-container {
            .bg-success {
                background-color: #95ce22 !important;
            }
            .bg-warning {
                background-color: #f5bb1c !important;
            }
        }
        p {
            &:first-child {
                margin-bottom: rem(8px);
            }
        }
    }
    .info-container {
        width: calc(100% - 160px);
        padding-right: rem(20px);
        @include media-breakpoint-down(sm) {
            width: 100%;
            padding-right: 0;
            padding-bottom: rem(20px);
        }
        .card-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        .location {
            color: #696969;
            font-size: rem($base-font-size - 4);
            font-weight: 500;
            display: flex;
            align-items: center;
        }
        .location-icon {
            &:before {
                margin-right: rem(5px);
            }
        }
        .content {
            min-height: rem(76px);
        }
    }
}

.payment-strip {
    padding: rem(20px);
    font-size: rem($base-font-size - 2);
    display: flex;
    justify-content: space-between;
    border-radius: rem(12px);
    @include media-breakpoint-down(xs) {
        flex-direction: column;
    }
    &.pending-status {
        color: #fff;
        background: darken($primary-color, 20%);
        .status-card {
            &:after {
                color: #fff;
            }
        }
    }
    &.paid-status {
        background: #eff6f8;
        .status-card {
            &:after {
                color: #c2cbd4;
            }
        }
    }
    .left-strip {
        display: flex;
        justify-content: flex-start;
        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
    }
    .right-strip {
        display: flex;
        align-items: center;
        .status-card {
            width: 100%;
            padding-right: 0;
            text-align: right;
            &:after {
                content: none;
            }
        }
    }
    .status-card {
        position: relative;
        padding-right: rem(30px);
        padding-left: rem(30px);
        @include media-breakpoint-down(sm) {
            padding-left: 0;
            margin-bottom: rem(5px);
        }
        &:after {
            content: '|';
            font-size: 1rem;
            position: absolute;
            top: rem(16px);
            right: 0;
            @include media-breakpoint-down(sm) {
                content: none;
            }
        }
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
            &:after {
                content: none;
            }
        }
        .invoice-link {
            color: $primary-color;
            .text-semibold {
                display: flex;
                align-items: center;
                margin-top: rem(27px);
            }
            .fa {
                font-size: rem(16px);
                margin-left: rem(4px);
            }
            &:hover, &:focus {
                color: lighten($primary-color, 16%);
            }
        }
        p {
            margin-bottom: rem(7px);
        }
        .child-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            @include media-breakpoint-down(sm) {
                flex-direction: column;
            }
        }
    }
}
/*---------- activities style end ----------*/

/*---------- payment range slider style ----------*/
.make-payment{
    position:absolute;
    display:none;
    z-index:99999;
    max-width:645px;
    width:645px;
    @media (max-width:767px) {
    max-width:100%;
    width:100%;
    }
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #8d6eb4;
    background-color: #ffffff;
    border-radius: rem(13px);
    @media (max-width:992px) {
    left:0;
    }
    &:after,&:before {
    content: '';
    display: block;
    position: absolute;
    left: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    transform: rotate(-90deg);
    @media (max-width:992px) {
        left: 400px;
    }
    @media (max-width:767px) {
        left: 100px;
    }
    }
    &:after {
    top: -19px;
    border-color: transparent transparent transparent #fff;
    border-width: 10px;
    left: 31px;
    @media (max-width:992px) {
        left: 401px;
    }
    @media (max-width:767px) {
        left: 101px;
    }
    }
    &:before {
    top: 9px;
    border-color: transparent transparent transparent #8d6eb4;
    border-width: 11px;
    top: -22px;
    }
    .rangeslider-div{
    .rangeslider-wrap{
        min-height: 60px;
        padding: 0 20px 10px;
        position: relative;
        border-bottom: 1px solid #ccc;
        @media (max-width:480px){
        padding: 0 0 10px;
        }
        &:before,&:after{
        position:absolute;
        content:"";
        height:19px;
        width:21px;
        background-color: #0fb7ea;
        left:0;
        top:-5px;
        @media (max-width:480px){
            content:none;
        }
        }
        &:after{
        background-color: #ceedf7;
        right:0;
        left:initial;
        }
        .rangeslider {
        position: relative;
        height:8px;
        border-radius: 0;
        width: 100%;
        background-color: #ceedf7;
        
        &__handle {
            transition:.2s;
            box-sizing: border-box;
            width: 21px;
            height: 29px;
            border-radius: 0;
            background: path("slider-pointer.png");
            background-size: 100% 100%;
            background-color: transparent;
            touch-action: pan-y;
            cursor: pointer;
            display: inline-block;
            position: absolute;
            z-index: 3;
            top: -($handleSize/2) + ($sliderHeight/2);
            box-shadow: none;
            &:after{
            content: "";
            height: 10px;
            width: 10px;
            background-color: #fff;
            position: absolute;
            left: 5px;
            top: 6px;
            border-radius: 100%;
            }
            &__value {
            display:none;
            }
        }
        
        &__fill {
            position: absolute;
            top: 0;
            z-index: 1;
            height: 100%;
            background-color: #0fb7ea;
        }
        
        &__labels {
            position: absolute;
            width: 100%;
            z-index: 2;
            display: flex;
            justify-content: space-between;
            padding:0 20px;
            @media (max-width:480px){
            padding: 0;
            }
            &__label {
            font-size: rem(12px);
            position: relative;
            margin-top: 25px;
            color:#909090;
            font-weight:600;
            padding:3px;
            &:before {
                position: absolute;
                top: -17px;
                left: 50%;
                transform: translateX(-50%);
                content: "";
                width: 1px;
                height: 11px;
                border-radius: 0;
                background-color: #40575f;
            }
            &.active{
                color: #4b316c;
                border-radius: 4px;
                border: solid 1px #4b316c;
            }
            &:first-child:before,
            &:last-child:before{ 
                height: $labelMarkerHeight;
                width: 1px;
            }
            
            &:first-child:before { background-color: $primary }
            &:last-child:before { background-color: $secondary }
            
            &:first-child { transform: translateX(-48%) }
            &:last-child { transform: translateX(48%) }
            }
        }
        
        // active state
        &.rangeslider--active {
            .rangeslider__handle__value { 
            transform: translateY(-5px);
            box-shadow: 0 -3px 2px rgba(black, .04),
                        0 -9px 25px rgba(black, .15);
            }
        }
        }
    }
    .rangeslider-footer{
        @media (max-width:599px) {
        flex-direction:column;
        }
        .footer-left{
        span{
            color: #a5a5a5;
            font-size: rem(11px);
        }
        input{
            width: 115px;
            height: 36px;
            border-radius: 4px;
            border: solid 1px #a2a2a3;
            font-size: rem(16px);
            color:#000;
        }
        }
        .btn.btn-primary {
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 12px 0 #d9bffa;
        box-shadow: 0 1px 12px 0 #d9bffa;
        background-color: $primary-color !important;
        font-size: 0.875rem;
        min-width: 120px;
        border:1px solid #4b316c;
        }
        .btn.btn-primary.btn-cancel{
        background-color: #fff !important;
        color:#4b316c;
        }
    }
    }
}
.range-overlay {
    position:relative;
    &:before{
        position: absolute;
        content: "";
        background-color: rgba(0, 0, 0, 0.2);
        left: 0;
        top: 0;
        min-height: 100vh;
        width: 100%;
        z-index: 9999;
        height:100%;
    }
}
/*---------- payment range slider style end ----------*/

/*---------- select subject style ----------*/
.select-subject-container {
    .labels-group {
        margin: rem(15px 0 25px);
        @include media-breakpoint-down(sm) {
            margin: rem(15px 0 10px);
        }
        .label-tag {
            border-radius: rem(4px);
            background: #eff6f8;
            color: #0f2445;
            font-size: rem($base-font-size - 4);
            margin-right: rem(10px);
            @include media-breakpoint-down(sm) {
                align-items: center;
            }
        }
    }
    .list-card {
        border: rem(1px) solid #eae8e8;
        box-shadow: 3px 2px 15px 0 rgba(0, 0, 0, 0.08);
        .list-card-header {
            background: $primary-color;
            color: $white-base;
            font-size: rem($base-font-size - 2);
            border-radius: rem($default-border-radius $default-border-radius 0 0);
        }
        .list-container {
            .mCSB_inside > .mCSB_container {
                margin-right: 0;
            }
            li {
                color: $black-base;
                font-size: rem($base-font-size - 2);
                cursor: pointer;
                &:hover, &.active {
                    background: #f5f5f5;
                }
                .custom-control {
                    &.right-aligned {
                        .custom-control-label {
                            &:before, &:after {
                                right: 0;
                                left: initial;
                                border: none;
                                background: transparent;
                                width: 20px;
                                height: 20px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                        .custom-control-input {
                            &:checked {
                                & ~ .custom-control-label {
                                    &:before {
                                        background: $primary-color;
                                    }
                                    &:after {
                                        background: path("tick-mark.svg", img/svg) no-repeat center;
                                        background-size: 75%;
                                        filter: brightness(100);
                                    }
                                }
                            }
                        }
                    }
                }
            } 
        }
    }
    .info-icon {
        font-size: rem($base-font-size);
    }
}
/*---------- select subject style end ----------*/
.updateStdDetailsWrapper {
    .toggle {
        .toggle-group {
            .toggle-on.btn {
                padding-right: 2rem;
            }
            .toggle-off.btn {
                padding-left: 2rem;
            }
        }
    }
    p {
        font-size: rem($base-font-size);
    }
}
.student-details-left-sec {
    background: #f9f8fa;
}

/*---------- paymentcard style ----------*/
.payment-card{
    border: 1.5px solid transparent;
    &.active{
        border: 1.5px solid $primary-color;
        -webkit-box-shadow: 0 0.1875rem 1.3125rem 0 #e3dee8;
        box-shadow: 0 0.1875rem 1.3125rem 0 #e3dee8;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .upper-section{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .green-radio.custom-control .custom-control-input:checked ~ .custom-control-label:after {
        background: none;
    }
}
/*---------- paymentcard style ----------*/

/*---------- active kids drawer style ----------*/

.personal-points { 
    display: flex; 
    justify-content: center; 
    align-items: center;
    span {
        background: #0db9a3; 
        color: #fff; 
        font-size: 1.25rem; 
        padding: 0.3125rem 0.9375rem; 
        margin-left: 0.625rem; 
        border-radius: 0.1875rem; 
        text-transform: uppercase;
        span {
            font-size: 0.875rem;
            margin: 0; 
            padding: 0; 
            position: relative; 
            top: -0.125rem;
        }
    }
}

.points-stats { 
    margin-top: 1.5625rem;
    li {
        color: #fff; 
        text-align: center; 
        font-weight: 500; 
        text-transform: uppercase; 
        width: 33.33%; 
        padding: 1.125rem; 
        font-size: 1.5625rem; 
        margin-bottom: 0.625rem;
        span {
            display: block; 
            line-height: 1.2; 
            font-size: 0.875rem;
        }
    }
}


.points-stats li:first-child { background: #2085c3; }

.points-stats li:nth-child(2) { background: #783e8b; border-right: solid 1px #fff; border-left: solid 1px #fff; }

.points-stats li:nth-child(3) { background: #ee324d; }

#leaderBoard .right-drawer-container { overflow: hidden; }

.winnerlist ul li { position: relative; }

.winnerlist ul li:nth-child(even):before { content: ''; background: #f8f9fa; width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: -1; }

.winnerlist ul li .rank { width: 4.0625rem; height: 4.0625rem; color: #fff; text-align: center; line-height: 4.0625rem; border-radius: 0.1875rem; margin-right: 0.625rem; overflow: hidden; }

.winnerlist ul li .std-meta .std-name { font-size: 1.25rem; }

.winnerlist ul li .std-meta .std-points img { width: 4.0625rem; position: relative; z-index: 1030; }

.winnerlist ul li .std-meta .std-points span { /* display: inline-block; padding-right: rem(40px); padding-left: rem(20px); background: #2085c3; color: $white-base; height: 22px; position: relative; z-index: -1; right: 18px; top: 0px; font-weight: 500; line-height: 1.8; */ display: inline-block; background: #2085c3; color: #fff; font-size: 14px; padding: 0px 13px 0 9px; margin-right: -7px; }
.right-drawer .close-rightdraw {
    position: absolute;
    right: 10px;
}
/*---------- active kids drawer style end ----------*/