$base-font: 'Montserrat', sans-serif !default;
$primary-color: #5d3195 !default;
$secondary-color: #5d3195 !default;
$default-color: #cecece !default;
$tertiary-color: #FF9850 !default;
$success-color: #1fce56 !default;
$yellow-color: #F5C657 !default;
$danger-color: #de090b !default;
$inprogress-color: #EDB828;

/* $sidebar-top-color: #2B81E6;
$sidebar-bottom-color: #0f53a0; */
$sidebar-top-color: #b274e0;
$sidebar-bottom-color: #7030A0;

$base-grey: #F0F3F4;
$stroke-color: #EDEFF4;
$light-grey: #F6F8F8;
$grey-icon-color: #D3D6D8;

$base-text-color: #555758;
$secondary-text-color: #ADB0B3; //grey text color or grey icon color
$title-color: #3F4041;
$sub-heading-color: #b1b1b1;
$table-heading-color: #898C8E;

$menu-hover-bg: rgba(0,0,0,0.3);

$base-font-size: 16px;
$default-border-radius: 5px !default;
$card-section-padding: 0 20px;
$card-title-padding: 15px 20px;
$section-title-padding: 15px 0;

$input-font-size: 14px;
$input-label-color: #757575 !default;
$input-label-zindex: 2;
$input-label-font-weight: 400;
$base-input-padding: 10px 12px;
$checkbox-bg: #dcdcdc;
$input-focus-color: #9d9d9d;

$card-bottom-spacing: 10px;

$ft-image-color: #4981FD;
$ft-pdf-color: #d11d00;
$ft-doc-color: #3AB9F0;
$ft-video-color: #ff7db3;
$ft-audio-color: #A3A0FB;
$ft-excel-color: #549f3b;
$ft-txt-color: #15aabf;
$ft-ppt-color: #ef6c00;

$sliderHeight: 4px;
$handleSize: 20px;
$valueWidth: 90px;
$labelMarkerHeight: 12px;