/******Unit Calendar sass******/

.unitCalendarMainContent {  
    height: 100%;
    display: flex;
    .y-axis {
        width: 20%;
        /* position: absolute; */
        padding-top: rem(80px);
        min-height: 87% !important;
        font-size: rem($base-font-size);
        font-weight: 500;
        background: $stroke-color;
        border-radius: rem(12px 0 0 12px);
      }
      .y-axis-div{
        padding: rem(10px);
        border-bottom: solid 1px $white-base;
        display: flex;
        align-items: center;
        &:last-child {
            border-bottom: 0;
        }
      }
      .schedule-wrapper{
        /* position: relative;
        left: 200px; */
        overflow-x: scroll;
        overflow-y: hidden;
        /* margin-left: 10px; */
        width: 80%;
      }
      
      .x-axis{
        white-space: nowrap;
      }
      
      .x-axis-weeks{
        background-color : rgb(255, 255, 255);
        /* height: 20px; */
        height: rem(40px);
        font-variant: all-small-caps;
      }
      
      .x-axis-days{    
        background-color : rgb(255, 255, 255);
        /* height: 20px; */
        height: rem(40px);
      }
      
      .x-axis-week{
        display: inline-block;
        width: 280px;
        text-align: center;
        border-color: $stroke-color !important;
        border-top: solid;
        border-left: solid;
        border-width: 1px;
        font-weight: 600;
        height: 100%;
        line-height: 2.2;
      }
      
      .x-axis-day {
        display: inline-block;
        width: 40px;
        text-align: center;
        border-color: $stroke-color !important;
        border-width: 1px !important;
        border-top: solid;
        border-left: solid;
        height: 100%;
        line-height: 2.2;   
      }
      
      .schedule {
        white-space: nowrap;
        position: relative;
        top: -1px;
        left: 1px;        
        /* border-left: 1px solid rgba(0,0,0,0.2); */
      }
      .grid-row {
        position: relative;
      }
      
      .grid-column {
        display: inline-block;
        width: 40px;
        left: 200px;
        min-height: 40px;
        border-right: dotted;
        border-top: solid;
        border-width: 1px;
        border-color: $stroke-color;
      }
      
      .assignment {
        position: absolute;
        color: $white-base;
        border-radius: rem(35px);
        height: rem(26px);
        z-index: 1;
        padding: rem(5px 15px);
        margin-bottom: 1px;
        margin-top: 5px;
        line-height: 1.2;
        font-size: rem($base-font-size - 2);
      }
  }
  
  
  
  
  
  
  