$base-font: 'Montserrat', sans-serif !default;
$default-color: #cecece !default;
$tertiary-color: #FF9850 !default;
$success-color: #1fce56 !default;
$yellow-color: #F5C657 !default;
$danger-color: #de090b !default;
$inprogress-color: #f5c330;

$base-grey: #F0F3F4;
$stroke-color: #e6e6e6;
$light-grey: #F6F8F8;
$grey-icon-color: #D3D6D8;

$base-text-color: #555758;
$secondary-text-color: #ADB0B3; //grey text color or grey icon color
$title-color: #3F4041;
$sub-heading-color: #b1b1b1;
$table-heading-color: #898C8E;

$menu-hover-bg: rgba(0,0,0,0.2);

$base-font-size: 16px;
$default-border-radius: 5px !default;
$card-section-padding: 0 20px;
$card-title-padding: 15px 20px;

$input-font-size: 14px;
$input-label-color: #757575 !default;
$input-border-color: #EBEEEF !default;
$input-label-zindex: 2;
$input-label-font-weight: 400;
$base-input-padding: 10px 12px;
$checkbox-bg: #dcdcdc;
$input-focus-color: #9d9d9d;

$card-bottom-spacing: 10px;

$ft-image-color: #4981FD;
$ft-pdf-color: #fd7e14;
$ft-doc-color: #3AB9F0;
$ft-video-color: #ff7db3;
$ft-audio-color: #A3A0FB;
$ft-excel-color: #78c013;
$ft-txt-color: #15aabf;