@font-face {
    font-family: 'Arabic_Web';
    src: url('/Content/VLE/font/arabic/ge_ss_text_italic.eot?1');
    src: url('/Content/VLE/font/arabic/ge_ss_text_italic.eot?#iefix1') format('embedded-opentype'),
    url('/Content/VLE/font/arabic/ge_ss_text_italic.woff2?1') format('woff2'),
    url('/Content/VLE/font/arabic/ge_ss_text_italic.woff?1') format('woff'),
    url('/Content/VLE/font/arabic/ge_ss_text_italic.ttf?1') format('truetype'),
    url('/Content/VLE/font/arabic/ge_ss_text_italic.svg?1#svgFontName') format('svg');

}

html:lang(ar) {
    .arabictxt { font-family: 'Arabic_Web';}
    body {
        //font-family: "GE SS Two Light";
        //font-family: "B Elham";
        font-family: 'Almarai', sans-serif;
        font-weight: 500;
        overflow-x: hidden;
        &.modal-open {
            padding-left: 0 !important;
        }
    }
 
    $heading-slug: h !default;
    .card {
        .card-body {
            @for $i from 1 through 6 {
                #{$heading-slug}#{$i} {
                    font-weight: 600;
                }
            }
        }
    }
    .date-icon {
        &:before {
            content: '';
            right: initial;
            left: rem(11px);
        }
    }
    .time-icon {
        &:before {
            right: initial;
            left: rem(11px);
        }
    }
    .datetimepicker, .date-picker, .date-time-picker input {
        direction: ltr;
        text-align: right;
    }
    .owl-carousel {
        &.owl-theme {
            .owl-nav {
                button {
                    span {
                        font-family: 'Montserrat', sans-serif;
                    }
                }
            }
        }
    }
    /*---------- header style ----------*/
    @include media-breakpoint-up(lg) {
        .page-footer, main {
            padding-left: 0;
            padding-right: rem(200px);
        }
    }
    @include media-breakpoint-down(md) {
        .sidebar-fixed {
            /* display:none */
            left: initial;
            right: -237px;
        }
    }

    /*---------- sidebar navigation style -----------*/
    span {
        &.title-icon {
            margin-right: 0;
            margin-left: rem(15px);
        }
    }
    header {
        .main-nav {
            .dropdown-menu {
                &.profile-dropdown {
                    .profile-actions {
                        li {
                            a {
                                img, i {
                                    margin-right: 0;
                                    margin-left: rem(15px);
                                }
                            }
                        }
                    }
                    .profile-card {
                        .profile-img {
                            margin-right: 0;
                            margin-left: rem(15px);
                            .edit-profile-img {
                                right: initial;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
        .sidebar-fixed {
            .list-group {
                .list-group-item {
                    span {
                        &.pagename {
                            font-size: rem($base-font-size - 3);
                        }
                    }
                    &:hover {
                        span {
                            margin-left: 0;
                            margin-right: 0;
                            &.pagename {
                                margin-left: 0;
                                margin-right: rem(22px);
                            }
                        }
                    }
                    &.active, &:hover {
                        &:before {
                            right: initial;
                            left: rem(-10px);
                            border-left-color: lighten($primary-color, 55%);
                            border-right-color: transparent;
                        }
                    }
                    &.has-submenu {
                        &:after {
                            right: initial;
                            left: rem(15px);
                        }
                    }
                }
                .sub-menu {
                    margin: rem(8px 45px 10px 0);
                }
            }
            &.slideout {
                right: 0;
            }
            .mCSB_outside + .mCSB_scrollTools {
                left: -7px;
                right: initial;
            }
        }
        .header-info {
            padding-left: 0;
            padding-right: rem(12px);
            .btn-back {
                margin-right: 0;
                margin-left: 0.625rem;
                transform: rotate(180deg);
            }
            .breadcrumbs {
                li {
                    float: right;
                    padding-right: 0;
                    padding-left: rem(15px);
                    margin-right: 0;
                    margin-left: rem(10px);
                    &:after {
                        transform: rotate(180deg);
                        right: initial;
                        left: 0;
                    }
                }
            } 
        }
    }

    .sub-header {
        .breadcrumbs {
            ul {
                li {
                    margin-right: 0;
                    padding-right: 0;
                    border-right: none;
                    margin-left: rem(15px);
                    padding-left: rem(15px);
                    border-left: solid 1px $stroke-color;
                    &:last-child {
                        border-left: none;
                        padding-left: 0;
                        margin-left: 0;
                    }
                    &.back {
                        a {
                            background: path("forward-arrow.svg", img/svg) no-repeat center right;
                            padding-left: 0;
                            padding-right: rem(30px);
                        }
                    }
                }
            }
        }
    }
    /*---------- site notification style ----------*/
    .site-notification {
        .marquee {
            span {
                padding-left: 0;
                padding-right: 100%;
                animation: marqueeReverse 35s linear infinite;
                &:hover {
                    animation-play-state: paused
                }
            }
        }
    }

    /*---------- site banner ----------*/
    /* #siteBanner {
        &.owl-theme {
            .owl-prev {
                left: initial;
                right: 5%;
            }
            .owl-next {
                right: initial;
                left: 5%;
            }
        }
    } */

    /*----------- dashboard style ----------*/
    .todays-schedule {
        &.active {
            .card {
                border-top-left-radius: .75rem;
                border-top-right-radius: 0;
            }
        }
        article {
            i.fa-video {
                transform: rotate(180deg);
            }
        }
    }
    .class-group-2, .other-groups, .group-container, .timeline {
        &.owl-carousel {
            &.owl-theme {
                .owl-nav {
                    left: 0;
                    right: initial;
                }
            }
        }
        .group-header {
            .group-image {
                justify-content: start !important;
                /* img {
                    transform: rotateY(-180deg);
                } */
            }
        }
    }
    .group-listing-page {
        .owl-carousel {
            &.owl-theme {
                .owl-nav {
                    left: 16px;
                    right: initial;
                }
            }
        }
    }
    .timeline {
        &.owl-carousel {
            &.owl-theme {
                .item {
                    .card {
                        h3 {
                            .initials {
                                left: initial;
                                right: rem(-6px);
                            }
                            .date {
                                @include media-breakpoint-up-1600 {
                                    right: initial;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .studentTimeline {
        .title-fields {
            margin-right: 0;
            margin-left: rem(90px);
        }
    }
    /* .teacher-dashbord {
        .groups-involved {
            ul {
                li {
                    a {
                        .grp-initials {
                            margin-right:  initial;
                            margin-left: rem(10px);
                        }
                        h6 {
                            text-align: right;
                        }
                        .badge {
                            right: initial;
                            left: rem(-17px);
                            transform: rotate(-35deg);
                        }
                    }
                }
            }
        }
        .assignment-statistics {
            .assignment-stats {
                h5 {
                    padding: rem(15px 15px 15px 0);
                }
            }
        }
        .td-assignment-list {
            .assignment-name {
                .assignment-status {
                    margin-right: 0;
                    margin-left: rem(15px);
                    .fas {
                        right: initial;
                        left: rem(-7px);
                        transform: rotate(180deg) translateY(50%);
                    }
                }
            }
            .assignment-links {
                float: left;
            }
        }
    } */

    .assignment-list {
        article {
            .assignment-completed-number {
                span {
                    display: inline-flex;
                }
                i {
                    margin-right: 0;
                    margin-left: rem(5px);
                }
            }
            .assignment-info {
                h3 {
                    span {
                        span:nth-child(2) {
                            display: inline-flex;
                            strong {
                                margin-right: rem(5px);
                            }
                        }
                    }
                }
            }
            .assignment-links {
                float: left;
            }
            .assignment-action {
                a {
                    border-right: none;
                    border-left: solid 1px #b89cde;
                    &:last-child {
                        border-left: none;
                        border-radius: 0 0 0 8px;
                    }
                    &:first-child {
                        border-radius: 0 0 8px 0;
                    }
                }
            }
            &.overdue {
                &:before {
                    right: initial;
                    left: 0;
                    border-radius: 0 rem(5px)  0 0;
                }
            }
        }
    }

    .assignment-counts {
        article {
            .stat-icon {
                right: initial;
                left: rem(15px);
            }
        }  
    } 

    /*--------- planner style ----------*/
    .school-events-card {
        .events-content {
            .events-category {
                &:after {
                    right: 8px;
                    left: initial;
                }
            }
        }
    }
    .inline-date-picker, .date-time-picker {
        .datepicker {
            table {
                th {
                    &.prev, &.next {
                        .glyphicon {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }

    /*--------- Library style ----------*/
    /* #library {
        .mCSB_outside {
            & + .mCSB_scrollTools {
                right: initial;
                left: rem(-16px);
            }
        }
        .item {
            &.list-group-item {
                .caption {
                    p {
                        .detailInfo {
                            text-align: left;
                            float: left;
                            right: initial;
                            left: 0;
                            span {
                                margin-left: 0;
                                margin-right: rem($base-font-size * 2);
                                &:first-child {
                                    margin-left: 0;
                                    margin-right: 0;
                                }
                            }
                            @include media-breakpoint-down(sm) {
                                text-align: right;
                                float: none;
                                span {
                                    margin-left: 0;
                                    margin-right: rem($base-font-size);
                                }
                            }
                        }
                    }
                    .quick-nav {
                        .dropdown-menu {
                            &.has-list-group {
                                left: initial !important;
                                right: auto !important;
                                @include media-breakpoint-up(sm) {
                                    right: initial !important;
                                    left: rem(15px) !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    } */
    .task-sorting {
        .toggle-library {
            margin-right: rem(10px);
        }
    }

    /*---------- Assignment style ----------*/
    .assignment-details {
        .member-data {
            #assignment-assignee-table {
                .member-name, .member-comment {
                    margin-left: 0;
                    margin-right: rem(10px);
                }
            }
        }
    }

    nav {
        &[aria-label="Page navigation"] {
            .text-left {
                span {
                    display: inline-block;
                    direction: initial;
                }
            }
        }
    }
    .assignment-list {
        article{
            &.status-overdue{
                &:before{
                    content: 'متاخر';
                }
            }
        }
    }
    .comment-wrrapper {
        .user-comment {
            margin-right: 1rem;
            margin-left: 0;
            &:after {
                border-left-color: #fff;
                border-right-color: transparent;
                left: 100%;
                right: initial;
            }
            &:before{
                border-left-color: #fdfdfe;
                border-right-color: transparent;
                left: 100%;
                right: initial;
            }
        }
    }
    /*---------- library breadcrumb style ----------*/
    .breadcrumb-arrow {
        li {
            &:not(:first-child) {
                margin-left: 0;
                margin-right: -1px;
            }
            a, &:not(:first-child) span {
                padding: rem(0 15px 0 10px);
            }
            a {
                &:before {
                    right: initial;
                    left: rem(-10px);
                }
                &:after {
                    right: initial;
                    left: rem(-11px);
                }
                &:before, &:after {
                    transform: rotate(180deg);
                }
            }
        }
    }

    /*---------- Task Search style ----------*/
   /*  .task-search {
        .search-wrapper {
            .search-field {
                margin-left: 0;
                margin-right: rem(10px);            
            }
        }
        .dropdown-toggle {
            &:after {
                margin-left: 0;
                margin-right: rem(15px);
            }
        }
    } */
    /*---------- Task Search style ----------*/

    /*---------- Student vault style ----------*/
    /* .user-list {
        .user-details {
            .user-avatar {
                margin-right: 0;
                margin-left: rem(10px);
                border-right: none;
                border-left: solid 1px $stroke-color;
            }
        }
    } */

    /*---------- my groups style ----------*/
    /* .user-groups {
        .group-details {
            .group-initial {
                margin-right: 0;
                margin-left: rem(10px);
                border-radius: 0 ($default-border-radius - 2) ($default-border-radius - 2) 0;
                &.new {
                    &:after {
                        content: 'جديد';
                        transform: rotate(40deg);
                        left: initial;
                        right: rem(-19px);
                    }
                }
            }
            .more-group-actions {
                .dropdown-menu {
                    @include media-breakpoint-down(sm) {
                        transform: translateX(0) !important;
                        right: initial;
                        left: 0 !important;
                    }   
                }
            }
        }
    } */


    /*---------- Quiz style ----------*/
    .audio-recorder {
        .btn-stop-record {
            &:before {
                content: 'تسجيل...';
                left: initial;
                right: calc(100% + 8px);
            }
        }
    }
    .quiz-score {
        padding-right: 0;
        padding-left: rem(10px);
        span {
            margin-right: 0;
            margin-left: rem(10px);
            border-radius: 0 rem($default-border-radius - 2) rem($default-border-radius - 2) 0;
        }
    }

    /*---------- sortable task list style ----------*/
    .sortable-tasks {
        ul {
            li {
                .taskMeta {
                    padding-left: 0;
                    padding-right: rem(20px);
                }
            }
            &.with-number {
                li {
                    padding-left: 0;
                    padding-right: rem(52px);
                    &:before {
                        left: initial;
                        right: rem(15px);
                    }
                    .taskMeta {
                        padding-left: 0;
                        padding-right: rem(15px);
                    }
                }
            }
        }
    }


    /*---------- Group style ----------*/
    .list-container {
        .group-banner {
            .floating-content{
                padding-left: 0;
                padding-right: rem(40px);
            }
        }
        .chatter-wrapper {
            .chatter-header {
                .left-content {
                    .description-container{
                        padding-left: 0;
                        padding-right: 15px;
                    }
                }
            }
            .chatter-post-container {
                padding-left: 0;
                padding-right: rem(85px);
                @include media-breakpoint-down(sm) {/*media for alignment of chatter*/
                    padding-right: rem(71px);    /*vertical alignment of post*/
                }
            }
            .comment-section{
                margin-left: 0; /*Add the View more comment in the comment section by default show only one comment. */
                margin-right: rem(85px);
                @include media-breakpoint-down(sm) {/*media for alignment of chatter*/
                    margin-right: rem(71px);  /*comment post responsive full width*/
                }
                .comment-textbox{
                    margin-left: 0;
                    margin-right: rem(20px);
                    @media(max-width: 320px){
                        margin-right: 5px;
                    }
                }
            }
            .comment-list-container{
                margin-left: 0;  /*Add the View more comment in the comment section by default show only one comment. */
                margin-right: rem(85px);
                @include media-breakpoint-down(sm) {
                    margin-right: rem(71px);  /*vertical alignment of post*/
                }
                li {
                    .left-content {
                        .name-wrapper{
                            padding-left: 0;
                            padding-right: rem(10px);
                        }
                        .name {
                            margin-right: 0;
                            margin-left: rem(10px);
                        }
                    }
                }
            }
            .post-reactions {
                ul {
                    li {
                        padding-right: 0;
                        padding-left: rem(16px);
                    }
                }
            }
        }     
    }
    .activities-list {
        li {
            .activities-left-content {
                .activities-description-container {
                    padding-left: 0;
                    padding-right: rem(15px);
                }
            }
        }
        &.overflow-auto {
            padding-left: 15px;
            padding-right: 0;
        }
    }
    .dropdown{
        &.menu_grpDropdown {
            .dropdown-content{
                left: 10px;
                right: initial;
            }
            .arrow{
                margin-right: 50px;
                margin-left: 0;
            }
        }
    }
    .activities-header {
        .content-trigger{
            &:after{
                left: 0;
                right: initial;
            }
        }
    }
    .list-container {
        .search-create-row {
            .search-wrapper {
                .create-new-dropdown {
                    a {
                        .svg {
                            margin-left: 1.25rem;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    /*---------- Group style ----------*/
    /*---------- Knowledge Hub style ----------*/
    #content-provider, #resource-library{
        .search-row {
            .sort-dropdown {
                .bootstrap-select {
                    .dropdown-toggle {
                        padding-right: 7rem;
                        padding-left: 1rem;
                    }
                }
            }
        }
    }
    /*---------- Knowledge Hub style----------*/
    /*---------- Exempler Wall style----------*/
    .exemplar-card {
        .card-header {
            .action-dropdown {
                left: .3125rem;
                right: initial;
            }
        }
    }
    .search-row {
        .group-search{
            .sort-dropdown {
                margin-left: .9375rem;
                margin-right: 0;
                &.school-level{
                    .bootstrap-select {
                        .dropdown-toggle {
                            padding-right: 6.4375rem;
                            padding-left: 1rem;
                        }
                    }
                }
                &.course{
                    .bootstrap-select {
                        .dropdown-toggle {
                            padding-right: 4.125rem;
                            padding-left: 1rem;
                        }
                    } 
                }
            }
        }
        .sort-dropdown {
            .bootstrap-select {
                .dropdown-toggle {
                    padding-right: 5.5rem;
                    padding-left: 1rem;
                }
            }
        }
    }
    /*---------- Exempler Wall style----------*/
    /*---------- Observation style----------*/
    .member-group {
        .overlapp-img {
            &:nth-child(n+2) {
                margin-right: rem(-13px);
                margin-left: 0;
            }
        }
    }
    /*---------- Observation style----------*/
    /*---------- Drive style----------*/
    .grid-list-card {
        .grid-wrapper {
            .grid-container {
                .uploaded-content-name {
                    margin-right: 0;
                    margin-left: 18px;
                }
            }
        }
        .paper {
            .inner-content {
                .filefolder-link {
                    .file-from {
                        left: 8px;
                        right: initial;
                    }
                }
            }
        }
    }
    /*---------- Drive style----------*/
    /*---------- Thinkbox style----------*/
    .thinkbox-card {
        .thinkbox-content {
            .thinkbox-header {
                .thinkbox-title {
                    padding-left:initial;
                    padding-right: .9375rem;
                    .date-title {
                        padding-left: 0;
                        padding-right: .625rem;
                    }
                }
            }
        }
    }
    /*---------- Thinkbox style----------*/
    /*---------- Behaviour style----------*/
    div.dataTables_wrapper div.dataTables_filter {
        text-align: left;
    }
    div.dataTables_wrapper div.dataTables_filter input {
        margin-left: 0;
        margin-right: .5rem;
    }
    /*---------- Behaviour style----------*/
    /*---------- SChool Community style----------*/
    .newsletter-circular-table {
        .table-text {
            padding-right: 1rem;
            padding-left: 0;
        }
    }
    .more-dropdown {
        .blue-circle{
            margin-right: .375rem;
            margin-left: 0;
        }
    }
    .school-policy{
        margin-left: 5px;
    }
    .school-events-card {
        .events-content {
            .events-category {
                .events-time{
                    text-align: right !important;
                }
            }
        }
    }
    .eventCatType {
        li {
            span {
                margin-right: 0;
                margin-left: 4px;
            }
        }
    }
    /*---------- SChool Community style----------*/
    /*---------- Progress Tracker style----------*/
    .progress-tracker-wrapper {
        .table-container {
            .table-horizontal-container {
                .unfixed-table tbody {
                    tr{
                        td {
                            .remark {
                                a{
                                    &.attachment {
                                        left: 0;
                                        right: initial;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .gradeList li {
        margin-left: .625rem;
        margin-right: 0;
        &:last-child{
            margin-left: 0;
            margin-right: 0;
        }
    }
    .comboTreeArrowBtn{
        left: 1px;
        right: initial;
    }
    /*---------- Progress Tracker style----------*/
    /*---------- Attendance style----------*/
    .student-attendance {
        .student-attendance-wrap {
            li {
                margin-left: 14px;
                margin-right: 0;
                @include transition-main(all linear 0.2s);
                @include media-breakpoint-only(xs) {margin-left: 0px; margin-right: 0;}
                @include media-breakpoint-only(lg) {margin-left: 6px; margin-right: 0;}
                @include media-breakpoint-only(xl) {margin-left:20px; margin-right: 0;}
                &:nth-child(6n) {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
    /*---------- Attendance style----------*/
    /*---------- Certificate Builder style----------*/
    .user-groups {
        .group-details {
            .group-initial {
                margin-right: 0;
                margin-left: .625rem;
                border-radius: 0px 3px 3px 0px;
            }
        }
    }
    /*---------- Certificate Builder style----------*/
    /*---------- Course Builder style----------*/
    .course-grp-container {
        .course-grp-card{
            &.crossschool-group{
                &:before {
                    left: 5px;
                    right: initial;
                }
            }
        }
    }
    .unitCalendarMainContent {
        .y-axis {
            .y-axis-head {
                padding-right: 10px;
                padding-left: 0;
            }
        }
    }
    .vTab-wrapper {
        .tab-container {
            .tab-content {
                text-align: right;
            }
        }
        ul{
            &.tabs {
                li {
                    text-align: right;
                }
            }
        }
    }
    /*---------- Course Builder style----------*/
    /*---------- Courses style----------*/
    .course-cata-tab {
        .tab-list {
            h3 {
                text-align: right;
            }
            .tabs {
                li {
                    span{
                        &:after {
                            left: 0;
                            right: initial;
                        }
                    }
                }
            }
        }
    }
    .catalouge-info{
        text-align: right;
    }
    span[class*='weekday'] {
        margin-left: .625rem;
        margin-right: 0;
    }
    .detail-section {
        .teacher-detail {
            .teacher-image {
                margin-right: 0;
                margin-left: .9375rem;
            }
        }
    }
    /*---------- Courses style----------*/
    /*---------- Lesson Plan style----------*/
    .icon-btn {
        .svg {
            margin-left: 1rem !important;
            margin-right: initial !important;
        }
    }
    .card.shared-with-me {
        &:after{
            left:8px;
            right:initial;  
        }
        &:before{
            left: 0;
            right: initial;
            border-radius: 0 0 35px 0;
            -moz-border-radius: 0 0 35px 0;
            -webkit-border-radius: 0 0 35px 0;
        }
    }
    .shared-with-me-tr {
        td{
            &:last-child {
                position: relative;
                &:before{
                    left: 0;
                    right: initial;
                    border-radius: 0 0 35px 0;
                    -moz-border-radius: 0 0 35px 0;
                    -webkit-border-radius: 0 0 35px 0;
                }
                &:after{
                    left: 8px;
                    right: initial;
                }
            }
        }
    }
    .subject-grp-wrapper {
        left: -4px;
        right: initial;
        .subject-grp-icon{
            border-radius: 0 7px 7px 0;
        }
        .subject-grp{
            margin-left: -362px;
            margin-right: 0;
            &.show{
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    /*---------- Lesson Plan style----------*/
    /*---------- Student Information style----------*/
    .skill-title {
        .skill-count {
            border-left: .0625rem solid #5d3195;
            border-right: 0px;
        }
        .skill-name{
            border-radius: 5.375rem 0 0 5.375rem;
        }
    }
    .teacher-portfolio-card {
        .about-container {
            .student-info {
                .edit-icon{
                    left: 1.125rem;
                    right: initial;
                }
            }
        }
    }
    .carousel-nav{
        &.owl-carousel{
            &.owl-theme {
                .owl-nav {
                    left: 0;
                    right: initial;
                }
            }
        }
    }
    /*---------- Student Information style----------*/
    /*---------- School Structure Locker style----------*/
    .assessment-report-container {
        .assessment-header {
            .sort-dropdown {
                .dropdown-toggle {
                    padding-left: 1.25rem !important;
                    padding-right: 8.5rem;
                }
            }
            .report-count{
                padding-left: .625rem;
                padding-right: 0;
            }
        }
    }

     /*---------- School Structure Locker style----------*/
     /*---------- Knowledge Hub style ----------*/
    #content-provider, #resource-library{
        .search-row {
            .sort-dropdown {
                .bootstrap-select {
                    .dropdown-toggle {
                        padding-right: 7rem;
                        padding-left: 1rem;
                    }
                }
            }
        }
    }
    .knowledge-hub-card {
        .knowledge-hub-content {
            .knowledge-hub-header {
                .knowlege-hub-title{
                    padding-right: .9375rem;
                    padding-left: 0;
                }
            }
        }
    }
    /*---------- Knowledge Hub style----------*/
    /*---------- common styles ----------*/
    .search-with-bg {
        .icon-search {
            margin-right: 0;
            margin-left: rem(8px);
        }
    }
    .search-row {
        .sort-dropdown {
            .bootstrap-select {
                .dropdown-toggle {
                    padding-right: 5.5rem;
                }
            }
            &.assignment-group-filter {
                .bootstrap-select {
                    .dropdown-toggle {
                        padding-right: 10rem;
                    }
                }
            }
        }
    }
    .mCS-dir-rtl {
        & > {
            .mCSB_outside {
                & + {
                    .mCSB_scrollTools {
                        right: initial;
                        left: -22px;
                    }
                }
            }
        }
    }
    .modal {
        padding-left: 0 !important;
        .modal-content {
            .close {
                right: initial;
                left: rem(-24px);
            }
            .modal-footer {
                justify-content: flex-end;
            }
        }
    }
    .custom-control {
        .custom-control-label {
            line-height: 1.2;
            &:before, &:after {
                left: initial;
                right: -20px;
            }
        }
        &.custom-radio {
            .custom-control-label {
                &:after {
                    top: 0;
                }
            }
        }
    }
    .bootstrap-select {
        /* .dropdown-menu {
            right: 0;
            left: initial;
        } */
        .dropdown-toggle {
            .filter-option-inner-inner {
                text-align: right;
            }
        }
    }
    .md-form {
        &.md-outline {
            label {
                left: initial !important;
                right: 0;
                padding-left: 0;
                padding-right: 10px;
                &.active {
                    left: initial;
                    right: 8px;
                    padding-right: 5px;
                    padding-left: 5px;
                }
            }
        }
        label {
            top: rem(8px);
        }
        &.md-outline {
            &.field-with-icon {
                i {
                    right: initial;
                    left: rem(18px);
                }
            }
        }
    }
    .reviewSwitch {
        max-width: initial;
        .peerType {
            input[type="radio"]:checked ~ label:after {
                margin-left: 0;
                margin-right: 0.75rem;
            }
        } 
    }
    input, button {
        &[type=button], &[type=submit], &[type=reset] {
            &.btn {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    /*---------- notifications style -----------*/
    #noty_topCenter_layout_container.i-am-new {
        right: 0;
        left: 0 !important;
        margin: 0 auto !important;
    }
    /*---------- common styles end ---------*/
    /*---------- Home style style -----------*/
    .todays-schedule {
        article {
            .content {
                .livesession-indicator {
                    right: -15px;
                    left: initial;
                }
                .live-pulse-min{
                    right: 13px;
                    left: initial;
                }
                .live-pulse-max{
                    right: 8px;
                    left: initial;
                }
                .livesession-indicator__circle{
                    right: 17px;
                    left: initial;
                }
            }
        }
    }
    /*---------- Dashboard style----------*/
    .todaysScheduleCarousel ,.whatsNewCarousel{
        &.owl-carousel{
            &.owl-theme {
                .owl-nav{
                    left: -1.25rem;
                    right: initial;
                }
            }
        }
    }
    /*---------- Dashboard style----------*/
    /*---------- Home style style -----------*/
    /*---------- no record found style ----------*/
    /* .no-data-found {
        background: path("ic-no-record-ar.svg", img/svg) no-repeat center;
        background-size: contain;
        width: rem(200px);
        height: rem(196px);
    } */
    /*---------- no record found style end ----------*/
    .lg-outer {
        direction: ltr;
    }
    .lg-outer.lg-thumb-open .lg-thumb-outer {
        direction: rtl;
    }
    .cd-stretchy-nav {
        right: initial;
        left: 1%;
    }
    .drop-up-btn {
        &.position-fixed {
            right: initial;
            left: rem(8px);
        }
    }
    .respTabs {
        .-primary {
            .-more {
                > button span {
                    &.txtmore {
                        &:before {
                            content: 'أكثر';
                        }
                    }
                }
            }
        }
        .-secondary {
            right: initial;
            left: 0;
        }
    }
    .resource-tab-list {
        .respTabs {
            .-primary {
                & > li {
                    margin-left: 5px;
                }
            }
        }
    }
    .filterSearch {
        right: initial;
        left: 0;
        &.streched {
            flex-direction: row-reverse;
        }
    }
}

@keyframes marqueeReverse {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(100%, 0); }
}