﻿@model Phoenix.Models.Observation
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{
    /**/

    var rnd = DateTime.Now.Ticks.ToString();
}
<div class="teachers-new-assignment">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">

            <div class="card">
                <div class="card-body min-height">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                    @*<h3 class="card-title">@ResourceManager.GetString("Assignment.Assignment.ArchiveAssignment")</h3>*@
                                    <div class="pt-3 pb-3 column-padding">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <h4 class="sub-heading">@ResourceManager.GetString("Observation.Observation.ActiveObservation")</h4>
                                                <div class="row mb-2">
                                                    <div class="col-lg-12 col-md-12 col-12 task-search border-0">
                                                        <div class="search-wrapper border">
                                                            <i class="fas fa-search active"></i>
                                                            <input type="text" id="availableMemberSearch" class="search-field" placeholder="@ResourceManager.GetString("Shared.Labels.Search") ">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <div class="border rounded column-padding pt-2 pb-3">
                                                            @*<div class="custom-control custom-checkbox ml-1 pb-2">
                                                                    <input type="checkbox" class="custom-control-input" id="selectAllUnassigned" title="SelectAll" value="SelectAll" />
                                                                    <label class="custom-control-label to-sentence-case" for="selectAllUnassigned">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SelectAll")</label>
                                                                </div>*@
                                                            <div class="delegates-wrapper ">
                                                                <div id="activeObservationList">
                                                                    @Html.Partial("_GetActiveObservations", Model.lstActiveObservation)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                                                        {
                                                            <button class="btn btn-primary btn-sm m-0" id="btnViewOnly" onclick="archiveActiveObservation()" href="javascript:void(0)">@ResourceManager.GetString("Assignment.Assignment.Archive")<i class="fas fa-trash-alt ml-2"></i></button>
                                                           
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <h4 class="sub-heading">@ResourceManager.GetString("Observation.Observation.ArchivedObservation")</h4>
                                                <div class="row mb-2">
                                                    <div class="col-lg-12 col-md-12 col-12 task-search border-0">
                                                        @*<div class="input-group">
                                                                <input type="text" id="groupMemberSearch" placeholder="Search" class="form-control sp-search" />
                                                                <span class="sp-btn-search input-group-addon add-on"><span class="fa fa-search"></span></span>
                                                            </div>*@
                                                        <div class="search-wrapper border">
                                                            <i class="fas fa-search active"></i>
                                                            <input type="text" id="groupMemberSearch" class="search-field" placeholder="@ResourceManager.GetString("Observation.Observation.SearchObservation")">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <div class="border rounded column-padding pt-2 pb-3">
                                                            @*<div class="custom-control custom-checkbox ml-1 pb-2">
                                                                    <input type="checkbox" class="custom-control-input" id="selectAllAssigned" title="SelectAll" value="SelectAll" />
                                                                    <label class="custom-control-label to-sentence-case" for="selectAllAssigned">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SelectAll")</label>
                                                                </div>*@
                                                            <div class="delegates-wrapper ">
                                                                <div id="archiveObservationList">
                                                                    @Html.Partial("_GetArchivedObservations", Model.lstArchivedObservation)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
