﻿@using Phoenix.Models
@using Phoenix.Common.Helpers
@model List<Observation>
<ul id="activeAssignment">

    @foreach (var item in Model)
    {
        <li data-search-text="@item.ObservationTitle">
            <div class="custom-checkbox ml-1">
                @*<input type="checkbox" class="custom-control-input" id="showchecked_UnAssign_@item.ObservationId" title="AssignedMembers" value="@item.ObservationId">*@
                <label class="custom-control-label to-sentence-case" for="showchecked_UnAssign_@item.ObservationId">@item.ObservationTitle</label>
                <a id="btnViewAssignment" href="/Observations/Observation/GetObservationDetails?id=@EncryptDecryptHelper.EncryptUrl(item.ObservationId.ToString())" class="float-right" target="_blank" data-id="@EncryptDecryptHelper.EncryptUrl(item.ObservationId.ToString())"><i class="fas fa-eye"></i></a>
            </div>
        </li>

    }
</ul>

