﻿@model List<Phoenix.Models.Objective>
@using Phoenix.Common.Localization
@{  
    var check = string.Empty;
    var selectallchecked = string.Empty;
}
<div class="permissions-list column-padding menu-panel" id="tbl_permissionDataList">

    @if (Model != null)
    {
        var ctr = 0;
        foreach (var item in Model)
        {
            ctr++;
            check = item.isSelected ? "checked" : "";
            <div class="custom-control custom-checkbox right-aligned-checkbox permission-checkbox">
                <input type="checkbox" id="chkbox@(ctr)" checked="checked" class="custom-control-input" @check data-objectiveid="@item.ObjectiveId" data-objectivename="@item.ObjectiveName" onchange="updateObjectives($(this))">
                <label class='custom-control-label  w-100' for="chkbox@(ctr)">
                    @item.ObjectiveName
                </label>

            </div>
        }
    }

</div>


<script>
    $('#divObjectives').mCustomScrollbar({
        autoExpandScrollbar: true,
        scrollbarPostion: "inside",
        setHeight: "320",
        axis: 'xy'
    })
    ///function for updating menu permission
    function updateObjectives(source) {
        var mappingDetails = [];

        var OperationType = source.is(':checked') ? "I" : "D";

        if (source.data('action') == "selectAll") {
            $("#tbl_permissionDataList >.permission-checkbox input:checkbox:visible").each(function () {
                $(this).prop('checked', source.is(':checked'));
                mappingDetails.push({
                    ObjectiveId: $(this).data('objectiveid'),
                    ObjectiveName: $(this).data('objectivename'),
                    isSelected: source.is(':checked')
                });
            });
        }
        else {
            $('#selectall').prop('checked', false);
            mappingDetails.push({
                ObjectiveId: source.data('objectiveid'),
                ObjectiveName: $(this).data('objectivename'),
                isSelected: source.is(':checked')
            });
        }

        var saveparams = {
            mappingDetails: mappingDetails
        };
        $.ajax({
            type: 'POST',
            url: '/Observations/Observation/UpdateObjectives',
            async: false,
            contentType: 'application/json',
            data: JSON.stringify(saveparams),
            success: function (data) {
                $('#objectiveDetails').html(data);
            },
            error: function (data, xhr, status) {
                // globalFunctions.onFailure(data, xhr, status);
            }
        });

    }

    ///function for updating menu permission
    function disseelctAllObjectives() {
        $.ajax({
            type: 'POST',
            url: '/Observations/Observation/DisselectAllObjectives',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                $('#objectiveDetails').html(data);
            },
            error: function (data, xhr, status) {
                // globalFunctions.onFailure(data, xhr, status);
            }
        });
    }

    //function for updateing select all permission
    function updateAllObjectives(source) {
        if (!$('#selectall').is(':checked')) {
            updateObjectives(source);
            return;
        }
        globalFunctions.notyConfirm(source, translatedResources.SelectAllObjectiveMessage);
        $(document).unbind('okClicked');
        $(document).bind('okClicked', source, function (e) {
            updateObjectives(source);
        });
        $(document).unbind('cancelClicked');
        $(document).bind('cancelClicked', source, function (e) {
            var chkBtn = $(e.target);
            chkBtn.prop('checked', !chkBtn.is(':checked'));
        });
    }
</script>