﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.ObservationStudent>
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization;
@using System.Text.RegularExpressions;
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.VLE.Web.Services
@{
    var rnd = DateTime.Now.Ticks.ToString();

    var searchCss = SessionHelper.CurrentSession.IsParent() ? "task-search" : "page-search";
    var maxTextLen = 160;
    var SchoolCode = SessionHelper.CurrentSession.SchoolCode;
    var IsParent = SessionHelper.CurrentSession.IsParent().ToString().ToLower();
}

<input type="hidden" id="SharepointToken" name="SharepointToken" value="@SharepointTokenHelper.Instance.Token" />
<div class="row observation-listing">
    <!-- left column -->
    <div class="col-12">
        <!-- search section -->
        <div class="row search-row observation-search justify-content-end">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <div class="search-with-bg">
                    <span class="icon-search"></span>
                    <input data-url="@(string.Format(Model.LoadPageRecordsUrl,1,Model.SearchString))" value="@Model.SearchString" id="searchContent" type="text" class="searchfield search-field custom" placeholder="@ResourceManager.GetString("Observation.Observation.SearchObservation")">
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <div class="md-form md-outline sort-dropdown purple-select-text">
                    <label class="select-label">@ResourceManager.GetString("Observation.Observation.SortBy").ToUpper():&nbsp; </label>
                    <select class="selectpicker" id="sortByContent" data-url="@(string.Format(Model.LoadPageRecordsUrl,1,Model.SearchString))">
                        <option value="name" @(Model.SortBy == "name" ? "selected" : "")>@ResourceManager.GetString("Observation.Observation.Name")</option>
                        <option value="time" @(Model.SortBy == "time" ? "selected" : "")>@ResourceManager.GetString("Observation.Observation.Time")</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- search section end -->
        <!-- observation card -->
        <div class="row">
            @if (Model.PageRecords.Count > 0)
            {
                foreach (var observationList in Model.PageRecords)
                {
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12 col-12 mb-3">
                        <div class="card pt-4 pb-3 px-4" style="position:relative">
                            <a href="/Observations/Observation/GetObservationDetails?id=@EncryptDecryptHelper.EncryptUrl(observationList.ObservationId.ToString())"><h6 class="text-bold text-color-purple">@observationList.ObservationTitle</h6></a>
                            <div class="card-body pb-4">
                                <p class="text-medium text-muted arabictxt">@(((DateTime)observationList.StartDate.ConvertUtcToLocalTime()).ToFormatedDate("dddd, dd-MMM-yyyy"))</p>
                                @{
                                    var description = Regex.Replace(observationList.ObservationDesc, @"<[^>]+>|&nbsp;", String.Empty).Trim();
                                    description = Regex.Replace(description, @"\s{2,}", String.Empty);
                                    description = description.Length > maxTextLen ? description.Substring(0, maxTextLen) + "..." : description;
                                }
                                @if (description.Length >= maxTextLen)
                                {
                                    <div class="body-title dropright popoverInformation font-small" style="min-height:62px">
                                        @Html.Raw(description)
                                        <a href="javascript:;" class="btn-link d-inline-block small text-primary text-semibold" data-toggle="dropdown">@ResourceManager.GetString("Shared.Labels.ReadMore")</a>

                                        <div class="resource-info keepopen dropdown-menu mt-n5 z-depth-1 border-light rounded-2x p-0">
                                            <div class="column-padding py-3">
                                                <div class="content pt-1">
                                                    <p class="sub-heading text-semibold text-primary">@ResourceManager.GetString("Observation.Observation.Description")</p>
                                                    <p>@Html.Raw(observationList.ObservationDesc) </p>
                                                </div>
                                                <div class="d-flex justify-content-end mt-2">
                                                    <button type="button" class="btn btn-outline-primary btn-sm m-0 closeDropdown">@ResourceManager.GetString("Shared.Buttons.Close")</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="body-title dropright popoverInformation font-small" style="min-height:62px">
                                        @Html.Raw(description)
                                    </div>
                                }

                                <p class="text-semibold">@($"{ResourceManager.GetString("Observation.Observation.Attachments")} ({observationList.lstObservationFiles.Count})")</p>
                                <div class="carousel-wrap">
                                    @if (observationList.lstObservationFiles.Count > 0)
                                    {
                                        <div id="attachmentCarousel" class="attachmentCarousel owl-carousel owl-theme observationGallery">
                                            @foreach (var item in observationList.lstObservationFiles)
                                            {
                                                var isExcelOrWord = item.FileTypeName.Contains("Word") || item.FileTypeName.Contains("Excel");
                                                <div class="image-container">
                                                    <a onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : (item.UploadedFileName).Replace("\'","%27"))','@SchoolCode','@IsParent','@item.ResourceFileTypeId')">
                                                        <img src="@Url.Content($"~/Content/vle/img/svg/{item.FileIcon}.svg")" class="base-carousel-image svg">
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                }
            }
            else
            {
                <div class="col-12">
                    <div class="card">
                        <div class="card-body my-5">
                            <span class="no-data-found text-bold d-block mx-auto my-auto"> @ResourceManager.GetString("Shared.Labels.NoRecords")</span>
                        </div>
                    </div>
                </div>
            }
        </div>

        @Html.Partial("_PaginationIndex", Model)
        <!-- students card end -->

    </div>
    <!-- left column -->

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.observationGallery').lightGallery({
            selector: '.galleryImg',
            share: false
        });
        $(".attachmentCarousel").owlCarousel({
            margin: 20,
            autoplay: false,
            nav: true,
            navText:
                [
                    "<div class='nav-btn prev-slide'><i class=\"fa fa-angle-left\" aria-hidden=\"true\"></i></div>",
                    "<div class='nav-btn next-slide'><i class=\"fa fa-angle-right\" aria-hidden=\"true\"></i></div>"
                ],
            dots: false,
            loop: false,
            autoplayHoverPause: true,
            rtl: direction,
            items: 3,
            slideBy: 1,
            responsive: {
                370: {
                    items: 4,
                    slideBy: 1
                },
                490: {
                    items: 5,
                    slideBy: 1
                }
            }
        });

        $('.selectpicker').selectpicker();

        function SortBy() {
            var url = '/Observations/Observation/LoadObservation/?pageIndex=1';
            let searchString = $("#searchContent").val();
            let sortBy = $("#sortByContent").val();
            $.post(url, { searchString: searchString, sortBy: sortBy }, function (response) {
                $('#ParentObservation').html(response);
            });
        }
        $(document).on('change', "#sortByContent", function (e) {
            SortBy();
        });

        $(".resource-info .content").mCustomScrollbar({
            setHeight: "300px",
            autoExpandScrollbar: true,
            autoHideScrollbar: true,
            scrollbarPosition: "outside"
        });
    });

</script>
