﻿
@using Phoenix.Common.Localization;
@{
    var rnd = DateTime.Now.Ticks.ToString();
}
<!-- Assignment content start -->
<div id="ParentObservation" class="pagination-panel"></div>




@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{

    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v=1")"></script>
    <script src="@Url.Content("~/Content/js/custom/Observation/ParentObservationDashboard.js?v=")"></script>



}

