﻿@using Phoenix.Common.Localization
@model List<Phoenix.Models.ObservationStudent>

<p class="list-info my-3">@(Model != null ? string.Format(ResourceManager.GetString("Observation.Observation.StudentsSelected"), Model.Count) : string.Format(ResourceManager.GetString("Observation.Observation.StudentsSelected"), 0)) </p>
<div class="members-list" id="studentList" style="max-height:350px;overflow-x:auto">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <div class="selected-student d-flex align-items-center">
                    <div class="defaultAvatar rounded-circle overflow-hidden">
                        <img src="@(Constants.StudentImagesPath+item.UserImageFilePath)" alt="person-image" />
                    </div>
                    <div class="student-info mr-3">
                        <h3 class="name m-0"><span class="font-small text-semibold">@item.StudentName</span></h3>
                    </div>
                </div>
                <div class="faded-text">@item.StudentNumber</div>
            </li>
        }
    </ul>
</div>
