﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.Observation>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers
@using Phoenix.VLE.Web.Services
@using Phoenix.Models
@using System.Text.RegularExpressions;
@using Phoenix.Common.Helpers.Extensions
@using System.Threading
@{
    var rnd = DateTime.Now.Ticks.ToString();
    var syncContext = SynchronizationContext.Current;
    SynchronizationContext.SetSynchronizationContext(null);
    ViewBag.IsCustomPermission = new UserPermissionService().IsCustomPermissionAssigned(Convert.ToInt32(SessionHelper.CurrentSession.Id), PermissionCodes.U_Observation.ToString()).Result;
    SynchronizationContext.SetSynchronizationContext(syncContext);

    var studDisplayCount = 3;
    var schoolGroupList = new List<Phoenix.Models.SchoolGroup>();
    if (ViewBag.SchoolGroups != null)
    {
        schoolGroupList = (List<Phoenix.Models.SchoolGroup>)ViewBag.SchoolGroups;
    }
    var strGroupFilter = ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupFilter");
    var strFilterBy = ResourceManager.GetString("SchoolGroup.SchoolGroup.FilterBy");
    var filterGroups = schoolGroupList.ToList().GroupBy(x => x.GroupingName);
    var index = 1;
    List<SchoolGroup> selectedGroupList = new List<SchoolGroup>();
    if (Session["SelectedSchoolGroups"] != null)
    {
        selectedGroupList = (List<SchoolGroup>)Session["SelectedSchoolGroups"];
    }
    var maxTextLen = 160;
    var SchoolCode = SessionHelper.CurrentSession.SchoolCode;
    var IsParent = SessionHelper.CurrentSession.IsParent().ToString().ToLower();
}

@functions{
    public string GetTranslatedGroupName(string shortCode)
    {
        if (shortCode.ToLower() == "class group")
        {
            return ResourceManager.GetString("Shared.Groups.ClassGroup");
        }
        else if (shortCode.ToLower() == "home tutor group")
        {
            return ResourceManager.GetString("Shared.Groups.HomeTutorGroup");
        }
        else if (shortCode.ToLower() == "other groups")
        {
            return ResourceManager.GetString("Shared.Groups.OtherGroups");
        }
        else
        {
            return shortCode;
        }
    }
}
<style>
    .group-filter .filter-header .filter-title {
        width: calc(100% - 25px);
    }
</style>

<input type="hidden" id="SharepointToken" name="SharepointToken" value="@SharepointTokenHelper.Instance.Token" />
<div class="row observation-listing">
    <!-- left column -->
    <div class="col-lg-9 col-md-8 col-12">

        <!-- search section -->
        <div class="row search-row observation-search justify-content-end">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <div class="search-with-bg">
                    <span class="icon-search"></span>
                    <input autocomplete="off" data-url="@(string.Format(Model.LoadPageRecordsUrl,1,Model.SearchString))" value="@Model.SearchString" id="searchContent" type="text" class="searchfield search-field custom" placeholder="@ResourceManager.GetString("Observation.Observation.SearchObservation")">
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <div class="md-form md-outline sort-dropdown purple-select-text">
                    <label class="select-label">@ResourceManager.GetString("Observation.Observation.SortBy").ToUpper():&nbsp; </label>
                    <select class="selectpicker custom-sort-field" id="sortByContent" data-url="@(string.Format(Model.LoadPageRecordsUrl,1,Model.SearchString))">
                        <option value="name" @(Model.SortBy == "name" ? "selected" : "")>@ResourceManager.GetString("Observation.Observation.Name")</option>
                        <option value="time" @(Model.SortBy == "time" ? "selected" : "")>@ResourceManager.GetString("Observation.Observation.Time")</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- filter list -->
        <div class="row filter-container">
            <div class="col-12">
                <ul class="filter-list d-flex flex-wrap" id="selectedFilterList">
                    @foreach (var grp in selectedGroupList)
                    {
                        <li class="py-2 px-3 d-flex justify-content-between rounded text-break">
                            @grp.SchoolGroupName
                            <button class="btn btn-close waves-effect waves-light" data-id="@grp.SchoolGroupId">X</button>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!-- filter list end -->
        <!-- search section end -->
        <!-- observation card -->
        <div class="row">
            @if (Model.PageRecords.Count > 0)
            {
                foreach (var observationList in Model.PageRecords)
                {
                    var isDraft = !observationList.IsPublished ? "draft" : string.Empty;
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                        <div class="card pt-4 pb-3 px-4 @isDraft">
                            <a href="/Observations/Observation/GetObservationDetails?id=@EncryptDecryptHelper.EncryptUrl(observationList.ObservationId.ToString())"><h6 class="text-bold text-color-purple">@observationList.ObservationTitle</h6></a>
                            <div class="card-body pb-4">
                                <p class="text-medium text-muted arabictxt">@(((DateTime)observationList.StartDate.ConvertUtcToLocalTime()).ToFormatedDate("dddd, dd-MMM-yyyy"))</p>
                                @{
                                    var description = Regex.Replace(observationList.ObservationDesc, @"<[^>]+>|&nbsp;", String.Empty).Trim();
                                    description = Regex.Replace(description, @"\s{2,}", String.Empty);
                                    description = description.Length > maxTextLen ? description.Substring(0, maxTextLen) + "..." : description;
                                }
                                @if (description.Length >= maxTextLen)
                                {
                                    <div class="body-title dropright popoverInformation font-small" style="min-height:62px">
                                        @Html.Raw(description)
                                        <a href="javascript:;" class="btn-link d-inline-block small text-primary text-semibold" data-toggle="dropdown">@ResourceManager.GetString("Shared.Labels.ReadMore")</a>

                                        <div class="resource-info keepopen dropdown-menu mt-n5 z-depth-1 border-light rounded-2x p-0">
                                            <div class="column-padding py-3">
                                                <div class="content pt-1">
                                                    <p class="sub-heading text-semibold text-primary">@ResourceManager.GetString("Observation.Observation.Description")</p>
                                                    <p>@Html.Raw(observationList.ObservationDesc) </p>
                                                </div>
                                                <div class="d-flex justify-content-end mt-2">
                                                    <button type="button" class="btn btn-outline-primary btn-sm m-0 closeDropdown">@ResourceManager.GetString("Shared.Buttons.Close")</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="body-title dropright popoverInformation font-small" style="min-height:62px">
                                        @Html.Raw(description)
                                    </div>
                                }

                                <p class="text-semibold">@($"{ResourceManager.GetString("Observation.Observation.Attachments")} ({observationList.lstObservationFiles.Count})")</p>
                                <div class="carousel-wrap">
                                    @if (observationList.lstObservationFiles.Count > 0)
                                    {
                                        <div id="attachmentCarousel" class="attachmentCarousel owl-carousel owl-theme observationGallery">
                                            @foreach (var item in observationList.lstObservationFiles)
                                            {
                                                if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.FileName) && !string.IsNullOrEmpty(item.PhysicalFilePath))
                                                {
                                                    <div class="image-container">
                                                        <a onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.PhysicalFilePath) : (item.PhysicalFilePath).Replace("\'","%27"))','@SchoolCode','@IsParent','@item.ResourceFileTypeId')" class="galleryImg" data-sub-html="@item.FileName">
                                                            <img src="@CommonHelper.GetFileURL(item.ResourceFileTypeId,string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? (item.GoogleDriveFileId != null?item.UploadedFileName : Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName)) : item.PhysicalFilePath),false,EncryptDecryptHelper.EncryptUrl(item.ObservationFileId.ToString()),"observation")" class="base-carousel-image  w-100">
                                                        </a>
                                                    </div>
                                                }
                                                else if (Phoenix.Common.Helpers.CommonHelper.CheckVideoExtension(item.FileName) && !string.IsNullOrEmpty(item.PhysicalFilePath))
                                                {
                                                    <div class="image-container galleryImg" data-html="#@item.ObservationFileId" data-poster="@Constants.DefaultVideoImage">
                                                        <a onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.PhysicalFilePath) : (item.PhysicalFilePath).Replace("\'","%27"))','@SchoolCode','@IsParent','@item.ResourceFileTypeId')">
                                                            <img src="@Url.Content($"~/Content/vle/img/svg/{item.FileIcon}.svg")" class="base-carousel-image svg">
                                                        </a>
                                                    </div>
                                                    <div style="display:none;" id="@item.ObservationFileId">
                                                        <video class="lg-video-object lg-html5" controls="" preload="none">
                                                            <source src="@CommonHelper.GetFileURL(item.ResourceFileTypeId,string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? (item.GoogleDriveFileId != null?item.UploadedFileName : Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName)) : item.PhysicalFilePath),false,EncryptDecryptHelper.EncryptUrl(item.ObservationFileId.ToString()),"observation")" type="video/mp4">
                                                            @ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")
                                                        </video>
                                                    </div>
                                                }
                                                else
                                                {
                                                    var isExcelOrWord = item.FileTypeName.Contains("Word") || item.FileTypeName.Contains("Excel");
                                                    <div class="image-container">
                                                        <a onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : (item.UploadedFileName).Replace("\'","%27"))','@SchoolCode','@IsParent','@item.ResourceFileTypeId')">
                                                            <img src="@Url.Content($"~/Content/vle/img/svg/{item.FileIcon}.svg")" class="base-carousel-image svg">
                                                        </a>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="pt-3 border-top d-flex justify-content-between align-items-center">
                                <a class="member-group">
                                    @if (observationList.lstObservationStudents.Count > 0)
                                    {
                                        var studCount = observationList.lstObservationStudents.Count - 1;
                                        var maxCount = studCount < studDisplayCount ? studCount : studDisplayCount;
                                        for (int i = 0; i <= maxCount; i++)
                                        {
                                            <img src="@(Constants.StudentImagesPath+observationList.lstObservationStudents[i].UserImageFilePath)" class="overlapp-img" data-toggle="tooltip" title="@observationList.lstObservationStudents[i].StudentName">
                                        }
                                        if (studCount > studDisplayCount)
                                        {
                                            <button class="bg-info text-white text-bold overlapp-img">@($"+{(studCount) - studDisplayCount}")</button>
                                        }
                                    }
                                </a>
                                <div class="action-btn">
                                    @if ((SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin) && ViewBag.IsCustomPermission)
                                    {
                                        <button class="icon-btn mr-4" id="editObservation" data-id="@EncryptDecryptHelper.EncryptUrl(observationList.ObservationId.ToString())" onclick="loadAssignmentDtails(this)" data-toggle="tooltip" data-title="@ResourceManager.GetString("Observation.Observation.EditObservation")" data-placement="left">
                                            <img src="~/content/vle/img/svg/tbl-edit.svg">
                                        </button>
                                        <button class="icon-btn">
                                            <img src="~/content/vle/img/svg/tbl-delete.svg" onclick="addEditObservation.deleteObservation($(this),@observationList.ObservationId)" data-toggle="tooltip" data-title="@ResourceManager.GetString("Observation.Observation.DeleteObservation")" data-placement="left">
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                }
            }
            else
            {
                <div class="col-12">
                    <div class="card">
                        <div class="card-body my-5">
                            <span class="no-data-found text-bold d-block mx-auto my-auto"> @ResourceManager.GetString("Shared.Labels.NoRecords")</span>
                        </div>
                    </div>
                </div>
            }
        </div>

        @Html.Partial("_PaginationIndex", Model)
        <!-- students card end -->

    </div>
    <!-- left column -->
    <!-- right column -->
    <div class="col-lg-3 col-md-4 col-12">

        <div class="mb-0 section-title">
            <h3>@ResourceManager.GetString("Observation.Observation.FilterObservation")</h3>
        </div>
        <!-- filter start -->
        <div class="card studentDetails p-3">
            @foreach (var grps in filterGroups)
            {
                <div class="group-filter">
                    <div class="filter-header position-relative">
                        <span class="filter-title my-2 text-truncate">@string.Format(strFilterBy, GetTranslatedGroupName(grps.Key))</span>
                        <div class="filterSearch position-absolute bg-white d-flex align-items-center justify-content-between overflow-hidden rounded-4x">
                            <button class="btn btn-transparent m-0 p-0 z-depth-0 openSearch waves-effect waves-light" type="button">
                                <img src="~/content/vle/img/svg/search.svg">
                            </button>
                            <input type="text" class="searchInput mx-2 my-0 border-0 flex-1 font-small" data-index="@index" placeholder="@string.Format(strGroupFilter, GetTranslatedGroupName(grps.Key))">
                            <button class="btn btn-transparent m-0 p-0 z-depth-0 closeSearch waves-effect waves-light" type="button">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <ul class="filter-item-list">
                        @foreach (var grp in grps)
                        {
                            var checkAttr = selectedGroupList.Any(x => x.SchoolGroupId == grp.SchoolGroupId) ? "checked" : string.Empty;
                            <li class="check-item @($"grpSearchList{index}")">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" @checkAttr id="@grp.SchoolGroupId" value="@grp.SchoolGroupId" data-groupname="@grp.SchoolGroupName" name="groupFilter" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                    <label class="custom-control-label text-medium pl-2" for="@grp.SchoolGroupId">
                                        @grp.SchoolGroupName
                                    </label>
                                </div>
                            </li>
                        }
                    </ul>
                    <span id="@($"grpSearchNoRecord{index}")" style="display:none">@ResourceManager.GetString("Shared.Labels.NoRecords")</span>
                    <button type="button" class="more-groups d-none" data-toggle="modal" data-target="#popupForm1">+ 57 more groups</button>
                </div>
                index++;
            }
        </div>
        <!-- filter end -->
        <!--Floating Icon-->
        @if ((SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin) && ViewBag.IsCustomPermission)
        {
            <a href="/observations/observation/InitAddEditAObservationForm" class="btn btn-primary drop-up-btn position-fixed">
                <i class="fas fa-plus"></i>
            </a>
        }
        <!--Floating Icon-->

    </div>
    <!-- right column -->

</div>

<script>
       translatedResources.SuccessDelete = '@ResourceManager.GetString("Observation.Observation.DeleteObservationSuccess")'
    translatedResources.ErrorDelete = '@ResourceManager.GetString("Observation.Observation.ErrorDelete")'
         translatedResources.deleteConfirm = '@ResourceManager.GetString("Observation.Observation.DeleteObservationConfirm")'
</script>


<script src="@Url.Content("~/Content/js/custom/Observation/AddEditObservation.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
<script type="text/javascript">
    loadAssignmentDtails = function (e) {
        var id = $(e).attr("data-id");
        window.location.href = "/Observations/Observation/InitAddEditAObservationForm?id=" + id;
    };

    $(document).ready(function () {
        //$('.observationGallery').lightGallery({
        //    selector: '.galleryImg',
        //    share: false
        //});

        $(".attachmentCarousel").owlCarousel({
            margin: 20,
            autoplay: false,
            nav: true,
            navText:
                [
                    "<div class='nav-btn prev-slide'><i class=\"fa fa-angle-left\" aria-hidden=\"true\"></i></div>",
                    "<div class='nav-btn next-slide'><i class=\"fa fa-angle-right\" aria-hidden=\"true\"></i></div>"
                ],
            dots: false,
            loop: false,
            autoplayHoverPause: true,
            rtl: direction,
            items: 3,
            slideBy: 1,
            responsive: {
                370: {
                    items: 4,
                    slideBy: 1
                },
                490: {
                    items: 5,
                    slideBy: 1
                }
            }
        });

        $("body").on("click", ".openSearch", function () {
            $(this).parent().addClass("streched");
        });
        $("body").on("click", ".closeSearch", function () {
            $(this).parent().removeClass("streched");
        })
        //add custtom scroll
        $(".group-filter .filter-item-list").mCustomScrollbar({
            autoExpandScrollbar: true,
            scrollbarPosition: "outside"
        });
        //group search
        $(document).on("keyup", ".searchInput", function () {
            var value = $(this).val().toLowerCase();
            var index = $(this).attr("data-index");
            $(".grpSearchList" + index).filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
            if ($(".grpSearchList" + index + ":visible").length === 0) {
                $("#grpSearchNoRecord" + index).show();
            }
            else {
                $("#grpSearchNoRecord" + index).hide();
            }
        });

        $('.selectpicker').selectpicker();
        function SortBy() {
            var url = '/Observations/Observation/LoadObservation/?pageIndex=1';
            let isGroupSelected = false;
            let selectedGroupList = [];
            let searchString = $("#searchContent").val();
            let sortBy = $("#sortByContent").val();
            $.each($("input[name='groupFilter']:checked"), function () {
                isGroupSelected = true;
                let groupId = $(this).val();
                let groupName = $(this).attr('data-groupname');
                selectedGroupList.push({
                    SchoolGroupId: groupId,
                    SchoolGroupName: groupName
                });
            });
            $.post(url, { searchString: searchString, selectedGroupList: selectedGroupList, isGroupSelected: isGroupSelected, sortBy: sortBy }, function (response) {
                $('#ObservationTeacher').html(response);
            });
        }
        $('#sortByContent').on('change', function (e) {
            SortBy();
        });
        $(".resource-info .content").mCustomScrollbar({
            setHeight: "300px",
            autoExpandScrollbar: true,
            autoHideScrollbar: true,
            scrollbarPosition: "outside"
        });
    });

</script>
