﻿
@model Phoenix.Models.Observation
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.VLE.Web.Services
@{

    ViewData["Title"] = ResourceManager.GetString("Observation.Observation.ObservationTitle");
    var rnd = DateTime.Now.Ticks.ToString();
    List<Phoenix.Models.StudentTaskFile> objStudentTaskFiles = new List<Phoenix.Models.StudentTaskFile>();
    if (ViewBag.StudentTaskFiles != null)
    {
        objStudentTaskFiles = (List<Phoenix.Models.StudentTaskFile>
    )ViewBag.StudentTaskFiles;
    }
    var SchoolCode = SessionHelper.CurrentSession.SchoolCode;
    var IsParent = SessionHelper.CurrentSession.IsParent().ToString().ToLower();
}
@Html.HiddenFor(m => m.ObservationId)
@Html.AntiForgeryToken()

<input type="hidden" id="SharepointToken" name="SharepointToken" value="@SharepointTokenHelper.Instance.Token" />
<div class="row observation-container mt-3">
    <div class="col-lg-12">
        <div class="card p-4">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                    <span class="text-color-purple text-bold text-heading mr-3">@Model.ObservationTitle</span>
                </div>
                <div class="title-small arabictxt"> @(((DateTime)Model.StartDate.ConvertUtcToLocalTime()).ToFormatedDate("dddd, dd-MMM-yyyy"))</div>
                <p class="para-small">@Html.Raw(Model.ObservationDesc)</p>

                <div class="column-padding py-3 attachment-list rounded-2x">
                    <span class="sub-title">@($"{ResourceManager.GetString("Observation.Observation.Attachments")} ({Model.lstObservationFiles.Count})")</span>
                    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-5  row-cols-lg-5" id="lightgalleryParent">
                        @if (Model.lstObservationFiles.Count > 0)
                        {
                            foreach (var item in Model.lstObservationFiles)
                            {
                                var isExcelOrWord = item.FileTypeName.Contains("Word") || item.FileTypeName.Contains("Excel");
                                <div class="col px-2">
                                    <div class="card rounded-2x">
                                        <a class="attachedFile overflow-hidden d-flex align-items-center justify-content-center galleryImg @item.FileIcon">
                                            <img src="@Url.Content($"~/Content/vle/img/svg/{item.FileIcon}.svg")" class="card-img-top">
                                        </a>
                                        <div class="card-body position-relative">
                                            <h4 class="card-title overflow-hidden px-0 mx-3 py-3">
                                                @item.FileName
                                            </h4>
                                            <a onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : (item.UploadedFileName).Replace("\'","%27"))','@SchoolCode','@IsParent','@item.ResourceFileTypeId')" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle" data-toggle="tooltip" data-placement="top" title="@ResourceManager.GetString("Shared.Buttons.Download")">
                                                <img src="~/Content/vle/img/svg/ic-download.svg" alt="" class="svg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="@Url.Content(" ~/Content/js/custom/Assignment/StudentHomeworkAddEdit.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content(" ~/Content/js/custom/Assignment/AssignmentComment.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    <script type="text/javascript">
        $(function () {
            $("#btnBack").show();
            //$('#lightgalleryParent').lightGallery({
            //    selector: '.galleryImg',
            //    share: false
            //});
            $(document).on('click', '#btnBack', function () {
                //var url = "/observations/observation";
                //window.location.href = url;
                history.back();
            });
            $(document).on('click', '#ViewFile', function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                if (globalFunctions.isValueValid(id)) {
                    window.open("/Document/Viewer/Index?id=" + id + "&module=observation", "_blank");
                }
            });
        });
    </script>
}
