﻿@model List<Phoenix.VLE.Web.Areas.SMS.Models.SubjectByGradeChild>
@using Newtonsoft.Json
@{

    string GradeId = string.Empty;
    int streamid = 0;

    if (ViewBag.GradeId != null)
    {
        GradeId = ViewBag.GradeId;

    }
    if (ViewBag.StreamId != null)
    {

        streamid = ViewBag.StreamId;

    }
    var successIcon = "<i class='far fa-check-square fa-2x text-success'></i>";
    var dangerIcon = "<i class='far fa-window-close fa-2x text-danger'>";

}

<td colspan="3" class="p-0">
    <div class="subjectList column-padding bg-light">
        <div class="pt-3 pb-3">
            <table class="table table-bordered bg-white mb-0" width="100%">
                <thead>
                    <tr>
                        <th class="pb-2 pt-2"><small><strong>Subject</strong></small></th>
                        <th class="pb-2 pt-2"><small><strong>Short Code</strong></small></th>
                        <th class="pb-2 pt-2"><small><strong>Department</strong></small></th>
                        <th class="pb-2 pt-2"><small><strong>Parent Subject</strong></small></th>
                        <th class="pb-2 pt-2 text-center"><small><strong>Display Subject</strong></small></th>
                        <th class="pb-2 pt-2"><small><strong>Optional</strong></small></th>
                        <th class="pb-2 pt-2 text-center"><small><strong>Display TC</strong></small></th>
                        <th class="pb-2 pt-2 text-center"><small><strong>Display Marks</strong></small></th>
                        <th class="pb-2 pt-2 text-center"><small><strong>Core & Extended</strong></small></th>
                        <th class="pb-2 pt-2 text-center"><small><strong>Auto Allocate Group</strong></small></th>
                        <th class="pb-2 pt-2 text-center"><small><strong>Major Subject</strong></small></th>
                        <th class="pb-2 pt-2"><small><strong>Entry Type</strong></small></th>
                        <th class="pb-2 pt-2 text-center tbl-actions"><small><strong>Action</strong></small></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {

                        foreach (var item in Model)
                        {
                    <tr>
                        <td class="pt-2 pb-2">@item.Subject_Description</td>
                        <td class="pt-2 pb-2">@item.SubjectGrade_ShortCode</td>
                        <td class="pt-2 pb-2">@item.Subject_Department_Description</td>
                        <td class="pt-2 pb-2">@item.SubjectGrade_ParentShortCode</td>
                        <td class="pt-2 pb-2 text-center">@item.Subject_Description</td>
                        <td class="pt-2 pb-2">@Html.Raw((item.b_IsOptional ? successIcon : dangerIcon))</td>
                        <td class="pt-2 pb-2 text-center">@Html.Raw((item.b_TC_Display ? successIcon : dangerIcon))</td>
                        <td class="pt-2 pb-2 text-center">@Html.Raw((item.b_DisplayMarks ? successIcon : dangerIcon))</td>
                        <td class="pt-2 pb-2 text-center">@Html.Raw((item.b_IsCore ? successIcon : dangerIcon))</td>
                        <td class="pt-2 pb-2 text-center">@Html.Raw((item.b_AutoGroup ? successIcon : dangerIcon))</td>
                        <td class="pt-2 pb-2 text-center">@Html.Raw((item.b_Major ? successIcon : dangerIcon))</td>
                        <td class="pt-2 pb-2">@item.MarkType</td>
                        <td class="pt-2 pb-2 text-center tbl-actions">
                            <a href="JavaScript:void(0);" data-grdid="@GradeId" data-streamId="@streamid" onclick="SubjectByGrade.GetSubjectByGradeEntry('@GradeId',@streamid,@item.SubjectGradeId)" class="table-action-icon-btn" data-toggle="tooltip" data-title="Edit" data-placement="left"><small><i class="fas fa-pencil-alt"></i></small></a>
                            @if (!ViewBag.isParentView)
                            {
                                <a href="JavaScript:void(0);" onclick="SubjectByGrade.DeletSubjectGradeEntry(@item.SubjectGradeId)" class="table-action-icon-btn delete" data-toggle="tooltip" data-title="Delete" data-placement="left"><small><i class="fas fa-trash"></i></small></a>
                            }
                        </td>
                    </tr>
                        }

                    }
                    else
                    {

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="sub-heading">No Data</td>
                            <td></td>
                            <td></td>



                        </tr>


                    }



                </tbody>
            </table>
        </div>
    </div>
</td>
<td class="d-none"></td>
<td class="d-none"></td>    