﻿@model Phoenix.VLE.Web.Areas.SMS.Models.SubjectByGradeEntry
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
<div class="container-fluid mt-2 mb-4">

    <div class="row">
        <!-- details start -->
        <div class="col-lg-6 col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.GradeDetails")</h3>
                    <div class="column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <h4 class="sub-heading mb-0">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.AcademicYear")</h4>
                                <p class="text-semibold mb-0"><span id="academicYearDisplay"></span></p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <h4 class="sub-heading mb-0">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.Grade")</h4>
                                <p class="text-semibold mb-0">@Model.Grade</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <h4 class="sub-heading mb-0">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.Stream")</h4>
                                <p class="text-semibold mb-0">@Model.Stream</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- details end -->
        <!-- copy details section start -->
        <div class="col-lg-6 col-md-6 col-12">
            <div class="card @Html.Raw(Model.IsChildGradeIdPresent ? "disabled" : "")">
                <div class="card-body">
                    <h3 class="card-title">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.CopyDetails")</h3>
                    <div class="column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-12">
                                <div class="md-form md-outline mb-0">
                                    @Html.DropDownListFor(x => x.FromGradeId, Model.FromGrade, selectText, new { @class = "selectpicker", @onchange = "SubjectByGrade.GetStreamFromGrade()" })
                                    @Html.LabelFor(x => x.FromGradeId, @ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.FromGradeId"), htmlAttributes: new { @class = "active select-label" })
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-12">
                                <div class="md-form md-outline mb-0">
                                    @Html.DropDownListFor(x => x.FromStreamId, Model.FromStream, selectText, new { @class = "selectpicker" })
                                    @Html.LabelFor(x => x.FromStreamId, @ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.FromStream"), htmlAttributes: new { @class = "active select-label" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-12">
                                <button class="btn btn-primary btn-block" onclick="SubjectByGrade.CopyGrade()" type="button">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.CopyBtn")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- copy details section end -->

    </div>
    @using (Ajax.BeginForm("SubjectByGradeEntry", "SubjectSetting", new AjaxOptions { OnFailure = "SubjectByGrade.onFailure", OnSuccess = "SubjectByGrade.onSaveSuccess" }, new
    {
        id = "frmAddEditGradeSetup",
        @class = "form-horizontal"
    }))
    {
        <!-- Subject setup form start -->
        @Html.HiddenFor(x => x.AcademicYear)
        @Html.HiddenFor(x => x.Grade)
        @Html.HiddenFor(x => x.Stream)
        @Html.HiddenFor(x => x.ACD_ID)
        @Html.HiddenFor(x => x.STM_ID)
        @Html.HiddenFor(x => x.GRD_ID)
        @Html.HiddenFor(x => x.BSU_ID)
        @Html.HiddenFor(x => x.SubjectGradeId)
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.SubjectSetup")</h3>
                        <div class="column-padding pt-3 pb-3">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-12">
                                    <div class="md-form md-outline mb-0">
                                        @Html.DropDownListFor(x => x.SubjectId, Model.SubjectMasters, selectText, new { @class = "selectpicker", @onchange = "UpdateShortCodeAndDesc()" })
                                        @Html.LocalizedLabel("active","SIMS.SubjectByGradeEntryForm.SubjectId")
                                        @Html.ValidationMessageFor(m => m.SubjectId)
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-12">
                                    <div class="md-form md-outline mb-3">
                                        @Html.TextBoxFor(x => x.ShortCode, new { @class = "form-control" })
                                        @Html.LocalizedLabel("SIMS.SubjectByGradeEntryForm.ShortCode", new { @for = "ShortCode", @class = "active" })
                                        @*@Html.LabelFor(x => x.ShortCode, @ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.ShortCode"), htmlAttributes: new { @class = "" })*@
                                        @*@Html.ValidationMessageFor(m => m.ShortCode)*@
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-12">
                                    <div class="md-form md-outline mb-0">
                                        @Html.DropDownListFor(x => x.DepartmentId, Model.Department, selectText, new { @class = "selectpicker" })
                                        @Html.LocalizedLabel("SIMS.SubjectByGradeEntryForm.DepartmentId", new { @for = "DepartmentId", @class = "active" })
                                        @*@Html.LabelFor(x => x.DepartmentId, @ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.DepartmentId"), htmlAttributes: new { @class = "active select-label" })*@
                                        @Html.ValidationMessageFor(m => m.DepartmentId)
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-12">
                                    <div class="md-form md-outline mb-3">
                                        @Html.TextBoxFor(x => x.Description, htmlAttributes: new { @class = "form-control" })
                                        @Html.LocalizedLabel("SIMS.SubjectByGradeEntryForm.Description", new { @for = "Description", @class = "active" })
                                        @*@Html.LabelFor(x => x.Description, @ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.Description"))*@
                                        @*@Html.ValidationMessageFor(m => m.Description)*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-12">
                                    <div class="md-form md-outline mb-0 mt-0">
                                        <h4 class="sub-heading">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.SubjectType")</h4>
                                        <div class="custom-control custom-radio custom-control-inline mr-5">
                                            @Html.RadioButtonFor(x => x.SubjectType, true, htmlAttributes: new { @class = "custom-control-input", @id = "b_SubjectTypeMajor" })
                                            <label class="custom-control-label" for="b_SubjectTypeMajor">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.ShortTypeMajor")</label>
                                            @Html.ValidationMessageFor(m => m.SubjectType)
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline mr-5">
                                            @Html.RadioButtonFor(x => x.SubjectType, false, htmlAttributes: new { @class = "custom-control-input", @id = "b_SubjectTypeMinor" })
                                            <label class="custom-control-label" for="b_SubjectTypeMinor">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.ShortTypeMinor")</label>
                                            @Html.ValidationMessageFor(m => m.SubjectType)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-12 mt-4">
                                    @*<h4 class="sub-heading"></h4>*@
                                    <div class="md-form md-outline mb">
                                        @Html.HiddenFor(x => x.ParentSubject, htmlAttributes: new { @required = true })
                                        @Html.HiddenFor(x => x.ParentSubjectDescription)
                                        @*@Html.TextBoxFor(x => x.ParentSubject, htmlAttributes: new { @placeholder = ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.ParentSubject") })*@
                                        <input id="parentSubjectInput" type="text" name="parentSubjectInput" required="true" onchange="updateParentSubject()" autocomplete="off" />
                                        @Html.LocalizedLabel("SIMS.SubjectByGradeEntryForm.ParentSubject", new { @for = "parentSubjectInput", @class = "active" })
                                        @Html.ValidationMessageFor(m => m.ParentSubject)
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-10 mt-4">
                                            <div class="md-form md-outline mb-3">
                                                @Html.HiddenFor(x => x.OptionNamesJoin)
                                                @Html.HiddenFor(x => x.OptionNamesXML)
                                                @Html.DropDownListFor(x => x.OptionName, Model.OptionNames, selectText, new { @class = "selectpicker", @multiple = "true", @OnChange = "updateOptionName()" })
                                                @*@Html.ValidationMessageFor(m => m.OptionName)*@
                                                @Html.LocalizedLabel("SIMS.SubjectByGradeEntryForm.OptionName", new { @for = "SubjectId", @class = "active" })
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-2 mt-4">
                                            <a href="javascript:void(0)" class="add-option-name" onclick="showOtherOption(this);" data-toggle="tooltip" data-title="Add option" data-placement="top">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-12 mt-4 otherOptName">
                                            <div class="md-form md-outline mb-3">
                                                <input id="subjectDescription" type="text" class="form-control">
                                                <label for="subjectDescription">Option name</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-2 mt-4 otherOptName">
                                            <a href="javascript:void(0)" class="save-option-name" onclick="saveOtherOption();" data-toggle="tooltip" data-title="Save option" data-placement="top">
                                                <i class="fas fa-save"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-12">
                                    <div class="md-form md-outline mb-3">
                                        @Html.TextBoxFor(x => x.MinimumMarks, htmlAttributes: new { @class = "form-control" })
                                        @Html.LocalizedLabel("SIMS.SubjectByGradeEntryForm.MinimumMarks", new { @for = "MinimumMarks", @class = "active" })
                                        @*@Html.ValidationMessageFor(m => m.MinimumMarks)*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Subject setup form end -->
        <!-- subject display settings start -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.SubjectDisplaySetup")</h3>
                        <div class="column-padding pt-3 pb-3">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="custom-control custom-checkbox custom-control-inline mr-5">
                                        @Html.CheckBoxFor(x => x.b_DisplaySubjectInTC, htmlAttributes: new { @class = "custom-control-input" })
                                        @*@Html.ValidationMessageFor(m => m.b_DisplaySubjectInTC)*@
                                        <label class="custom-control-label" for="b_DisplaySubjectInTC">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.DisplaySubjectinTC")</label>

                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline mr-5">
                                        @Html.CheckBoxFor(x => x.b_DisplaySubjectInReportCard, htmlAttributes: new { @class = "custom-control-input" })
                                        @*@Html.ValidationMessageFor(m => m.b_DisplaySubjectInReportCard)*@
                                        <label class="custom-control-label" for="b_DisplaySubjectInReportCard">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.DisplaySubjectinReportCard")</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline mr-5">
                                        @Html.CheckBoxFor(x => x.b_DisplayInExcel, htmlAttributes: new { @class = "custom-control-input" })
                                        @*@Html.ValidationMessageFor(m => m.b_DisplayInExcel)*@
                                        <label class="custom-control-label" for="b_DisplayInExcel">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.DisplayInExcel")</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline mr-5">
                                        @Html.CheckBoxFor(x => x.b_BtecSubject, htmlAttributes: new { @class = "custom-control-input" })
                                        @*@Html.ValidationMessageFor(m => m.b_BtecSubject)*@
                                        <label class="custom-control-label" for="b_BtecSubject">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.BtecSubject")</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline mr-5">
                                        @Html.CheckBoxFor(x => x.b_Retest, htmlAttributes: new { @class = "custom-control-input" })
                                        @*@Html.ValidationMessageFor(m => m.b_Retest)*@
                                        <label class="custom-control-label" for="b_Retest">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.Retest")</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline mr-0">
                                        @Html.CheckBoxFor(x => x.b_MarkAsOptional, htmlAttributes: new { @class = "custom-control-input" })
                                        @*@Html.ValidationMessageFor(m => m.b_MarkAsOptional)*@
                                        <label class="custom-control-label" for="b_MarkAsOptional">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.Markasoptional")</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline mr-0">
                                        @Html.CheckBoxFor(x => x.AutoGroup, htmlAttributes: new { @class = "custom-control-input" })
                                        @*@Html.ValidationMessageFor(m => m.b_MarkAsOptional)*@
                                        <label class="custom-control-label" for="AutoGroup">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.AutoGroup")</label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="custom-control custom-radio custom-control-inline mr-5">
                                        @Html.RadioButtonFor(x => x.b_DisplayMarksInReportCard, true, new { @class = "custom-control-input", @id = "DisplayMarks" })
                                        <label class="custom-control-label" for="DisplayMarks">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.Displaymarksinreportcard")</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline mr-5">
                                        @Html.RadioButtonFor(x => x.b_DisplayMarksInReportCard, false, new { @class = "custom-control-input", @id = "DisplayGrade" })
                                        <label class="custom-control-label" for="DisplayGrade">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.Displaygradeinreportcard")</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline mr-5">
                                        @Html.RadioButtonFor(x => x.b_EnterMarks, true, new { @class = "custom-control-input", @id = "EnterMarks" })
                                        <label class="custom-control-label" for="EnterMarks">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.EnterMarks")</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline mr-0">
                                        @Html.RadioButtonFor(x => x.b_EnterMarks, false, new { @class = "custom-control-input", @id = "EnterGrade" })
                                        <label class="custom-control-label" for="EnterGrade">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.EnterGrade")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- subject display settings end -->

        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="column-padding pt-3 pb-3">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <button class="btn btn-primary btn-block" type="submit">@ResourceManager.GetString("SIMS.SubjectByGradeEntryForm.SubjectGradeEntryFormSubmit")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- subject list grid start -->
    }
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="column-padding pt-3 pb-3" id="SubjectByGradeChildDiv">
                        @Html.Action("SubjectByGradeChild", "SubjectSetting", new { Acd_Id = Model.ACD_ID, Grade_Id = Model.GRD_ID, STM_Id = Model.STM_ID })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- subject list grid end -->
</div>
@section scripts{
    <script>
        SubjectByGrade.BindParentSubject(ViewBag.AcdId, ViewBag.StreamId, ViewBag.GrdId);
    </script>
}

@Html.Partial("_DataPageLibrariesPartial")
@Html.Partial("_ValidationJSPartial")

<script>
    var showOtherOption = element => {
        $('.otherOptName').css('display', 'block');
        if ($(element).find('i').hasClass('fa-plus')) {
            $(element).find('i').removeClass('fa-plus');
            $(element).find('i').addClass('fa-minus');
            return;
        }
        if ($(element).find('i').hasClass('fa-minus')) {
            $(element).find('i').addClass('fa-plus');
            $(element).find('i').removeClass('fa-minus');
            $('.otherOptName').css('display', 'none');
            return;
        }
    }
    var saveOtherOption = () => {
        var optionName = $('#subjectDescription').val();
        var schoolId = @SessionHelper.CurrentSession.SchoolId;
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: '/SubjectSetting/AddOptionName',
            contentType: 'application/json;charset=utf-8',
            data: { schoolId: schoolId, OptionName: optionName },
            success: function (response) {
                debugger;
                if (typeof (response) === "object") {
                    $("#OptionName").append('<option value="0">Select</option>');
                    $.each(response, function (i, opt) {
                        $("#OptionName").append('<option value="'
                            + opt.ItemId + '">'
                            + opt.ItemName + '</option>');
                    });
                    $('.selectpicker').selectpicker('refresh');
                    $('#subjectDescription').val('');
                }
            },
            error: function (response) {
                console.error(response)
            }
        });
    };
    var updateParentSubject = () => {
        debugger;
        var parentSubject = $('#ParentSubject').val();
        if (comboTree1 !== undefined) {

            var object = comboTree1.options.source.filter(e => e.id == comboTree1._selectedItem.id)
            if (object.length > 0) {
                $('#ParentSubject').val(object[0].id);
                $('#ParentSubjectDescription').val(object[0].title);
            }

        }
    }
    var updateOptionName = () => {
        debugger;
        var optionNameSelectedValue = $('#OptionName').selectpicker().val();
        for (var i = optionNameSelectedValue.length - 1; i--;) {
            if (optionNameSelectedValue[i] === '') optionNameSelectedValue.splice(i, 1);
        }
        var text = [];
        optionNameSelectedValue.forEach((i, e) => text.push($('#OptionName option[value=' + i + ']').text()))
        $('#OptionName').selectpicker().val(optionNameSelectedValue);
        if (optionNameSelectedValue !== undefined && optionNameSelectedValue.length > 0) {
            var optionNameSelectedInXML = optionNameSelectedValue.reduce((result, el) => {
                    return result + `<ID><SGO_OPT_ID>${parseInt(el)}</SGO_OPT_ID></ID>`;
                },
                '');
            optionNameSelectedValue = "<IDS>" + optionNameSelectedInXML + "</IDS>";
        }
        $('#OptionNamesJoin').val(text.join(','));
        $('#OptionNamesXML').val(optionNameSelectedValue);
    }
    var UpdateShortCodeAndDesc = () => {
        debugger;
        var selectedSubject = $("#SubjectId option:selected").val();
        var subjectObject = shortCode.filter(i => i.id == selectedSubject);
        if (subjectObject.length > 0) {
            var singleObject = subjectObject[0];
            $('#ShortCode').val(singleObject.shortCode.split("|")[1]);
            if (!($('label[for=ShortCode]').hasClass('active')))
                $('label[for=ShortCode]').addClass('active');
            $('#Description').val(singleObject.shortCode.split("|")[0] == "Select" ? "" : singleObject.shortCode.split("|")[0])
        }
    }
    //To bind data from Model
    var options = '@Html.Raw(!string.IsNullOrEmpty(Model.OptionName) ? Model.OptionName : "")';
    if (options !== "") {
        $('#OptionName').selectpicker().val(options.split('|'))
        updateOptionName();
    }
    var shortCode = $("#SubjectId>option").map(function () { return { id: $(this).val(), shortCode: $(this).text() }; }).get();
    if (shortCode.length > 0) {
        shortCode.forEach(i => {
            if (i.id && i.shortCode)
                $('#SubjectId').find('option[value=' + i.id + ']').text(i.shortCode.split('|')[0]);
        });
    }
    $('.selectpicker').selectpicker('refresh');
    $('.delete').show();
    //
    $('#academicYearDisplay').text($("#AcademicYear option:selected").text());
    @Html.Raw((Model.SubjectGradeId <= 0) ? "$('#DisplayGrade')[0].checked = false; $('#EnterGrade')[0].checked = false; $('#b_SubjectTypeMinor')[0].checked = false;" : "")

</script>
