﻿@using Phoenix.Common.Localization;
@using Phoenix.VLE.Web.Areas.SMS.Models;
@{
    ViewBag.Title = "Subject By Grade";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    List<SubjectByGradeParent> obj = new List<SubjectByGradeParent>();
    var rnd = DateTime.Now.Ticks.ToString();
}
<link href="~/Content/css/custom/SIMS/combotree.css" rel="stylesheet" />
<div class="container-fluid mt-2 mb-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div id="divGradeStreamGridh3" class="card">
                <div class="card-body">
                    <div class="title-with-fields">
                        <h3 class="card-title">Subject By Grade</h3>
                        <div class="title-fields">
                            <lable class="text-semibold mr-2"><small><strong>Select Academic Year</strong></small></lable>
                            @Html.DropDownList("AcademicYear", (SelectList)ViewBag.AcademicYear, selectText, new { @class = "selectpicker small-select text-semibold", @LName = @ResourceManager.GetString("SIMS.Assessment.AcademicYear") })

                        </div>

                    </div>
                    <div id="divGradeStreamGrid">
                        @Html.Partial("~/Areas/SMS/Views/SubjectSetting/_SubjectByGradeParent.cshtml", obj)

                    </div>

                </div>
            </div>
            <div id="divGradeEntry">

            </div>
        </div>
    </div>
</div>
<!-- right drawer start -->
<div class="right-drawer z-depth-1">
    <div class="right-drawer-container">
        <div class="row column-padding pt-3 pb-3 border-bottom drawer-header">
            <div class="col-lg-11 col-md-11 col-11">
                <h2 class="m-0">Add Subject</h2>
            </div>
            <div class="col-lg-1 col-md-1 col-1 text-right">
                <a href="javascript:void(0)" class="closeRightDrawer"><i class="fas fa-times"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 ">
                <div class="custom-scroll-container">
                    <form class="column-padding pt-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="md-form md-outline mb-3">
                                    <input id="subject" type="text" class="form-control">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="md-form md-outline mb-3">
                                    <input id="shortcode" type="text" class="form-control">
                                    <label for="shortcode">Short Code</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="language">
                                    <label class="custom-control-label" for="language">Language ?</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col">
                                <div class="md-form md-outline mb-3">
                                    <select class="selectpicker">
                                        <option selected>Select Curriculum</option>
                                        <option value="1">CBSE</option>
                                        <option value="2">O Level</option>
                                        <option value="3">Maharashtra Board</option>
                                        <option value="1">A Level</option>
                                        <option value="1">APSC</option>
                                    </select>
                                    <label class="active select-label">Curriculum</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="md-form md-outline mb-3">
                                    <input id="boardcode" type="text" class="form-control">
                                    <label for="boardcode">Board Code</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <button class="btn btn-outline-primary btn-block" type="submit">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- right drawer end -->
@section pageplugins{
    
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}

@section Scripts{
    <script src="~/Content/js/custom/SIMS/SIMSlayout/comboTreePlugin.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
    <script src="~/Content/js/custom/SIMS/SIMSlayout/icontains.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>    
    <script src="@Url.Content("~/Content/js/custom/SIMS/SubjectSetting/SubjectByGrade.js?rnd=" + rnd)"></script>
}