﻿<div class="container-fluid mt-2 mb-4">
    <div class="row">
        <!-- details start -->
        <div class="col-lg-6 col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Grade details</h3>
                    <div class="column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <h4 class="sub-heading mb-0">Academic Year</h4>
                                <p class="text-semibold mb-0">2018 - 2019</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <h4 class="sub-heading mb-0">Grade</h4>
                                <p class="text-semibold mb-0">KG1</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <h4 class="sub-heading mb-0">Stream</h4>
                                <p class="text-semibold mb-0">Normal</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- details end -->
        <!-- copy details section start -->
        <div class="col-lg-6 col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Copy details</h3>
                    <div class="column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-12">
                                <div class="md-form md-outline mb-0 disabled">
                                    <select class="selectpicker">
                                        <option selected>Select Grade</option>
                                        <option value="1">CBSE</option>
                                        <option value="2">O Level</option>
                                        <option value="3">Maharashtra Board</option>
                                        <option value="1">A Level</option>
                                        <option value="1">APSC</option>
                                    </select>
                                    <label class="active select-label">From Grade</label>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-12">
                                <div class="md-form md-outline mb-0">
                                    <select class="selectpicker">
                                        <option selected>Select Stream</option>
                                        <option value="1">CBSE</option>
                                        <option value="2">O Level</option>
                                        <option value="3">Maharashtra Board</option>
                                        <option value="1">A Level</option>
                                        <option value="1">APSC</option>
                                    </select>
                                    <label class="active select-label">To Stream</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-12">
                                <button class="btn btn-primary btn-block" type="submit">Copy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- copy details section end -->
    </div>
    <!-- Subject setup form start -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Subject setup</h3>
                    <div class="column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-12">
                                <div class="md-form md-outline mb-0">
                                    <select class="selectpicker">
                                        <option selected>Select Subject</option>
                                        <option value="1">Accountancy</option>
                                        <option value="2">Numeracy</option>
                                        <option value="3">Reading Skills</option>
                                        <option value="1">Speaking Skills</option>
                                        <option value="1">Writing Skills</option>
                                    </select>
                                    <label class="active select-label">Subject</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-12">
                                <div class="md-form md-outline mb-3">
                                    <input id="shortcode" type="text" class="form-control">
                                    <label for="shortcode">Short Code</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-12">
                                <div class="md-form md-outline mb-0">
                                    <select class="selectpicker">
                                        <option selected>Select Department</option>
                                        <option value="1">Accountancy</option>
                                        <option value="2">Numeracy</option>
                                        <option value="3">Reading Skills</option>
                                        <option value="1">Speaking Skills</option>
                                        <option value="1">Writing Skills</option>
                                    </select>
                                    <label class="active select-label">Department</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-12">
                                <div class="md-form md-outline mb-3">
                                    <input id="subjectDescription" type="text" class="form-control">
                                    <label for="subjectDescription">Description</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-12">
                                <div class="md-form md-outline mb-0 mt-0 mt-md-4">
                                    <select class="selectpicker">
                                        <option selected>Select Subject type</option>
                                        <option value="1">Accountancy</option>
                                        <option value="2">Numeracy</option>
                                        <option value="3">Reading Skills</option>
                                        <option value="1">Speaking Skills</option>
                                        <option value="1">Writing Skills</option>
                                    </select>
                                    <label class="active select-label">Subject Type</label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-12">
                                <h4 class="sub-heading">Parent Subject</h4>
                                <div class="md-form md-outline mb-0">
                                    <select class="selectpicker">
                                        <option selected>Select Subject</option>
                                        <option value="1">Accountancy</option>
                                        <option value="2">Numeracy</option>
                                        <option value="3">Reading Skills</option>
                                        <option value="1">Speaking Skills</option>
                                        <option value="1">Writing Skills</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-10">
                                        <h4 class="sub-heading">Option name</h4>
                                        <div class="md-form md-outline mb-3">
                                            <select class="selectpicker">
                                                <option selected>Select option</option>
                                                <option value="1">Accountancy</option>
                                                <option value="2">Numeracy</option>
                                                <option value="3">Reading Skills</option>
                                                <option value="1">Speaking Skills</option>
                                                <option value="1">Writing Skills</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-2 mt-4">
                                        <a href="javascript:void(0)" class="add-option-name" data-toggle="tooltip" data-title="Add option" data-placement="top">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12 mt-4 otherOptName">
                                        <div class="md-form md-outline mb-3">
                                            <input id="subjectDescription" type="text" class="form-control">
                                            <label for="subjectDescription">Option name</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-2 mt-4 otherOptName">
                                        <a href="javascript:void(0)" class="save-option-name" data-toggle="tooltip" data-title="Save option" data-placement="top">
                                            <i class="fas fa-save"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-12">
                                <div class="md-form md-outline mb-3">
                                    <input id="minMarks" type="text" class="form-control">
                                    <label for="minMarks">Min. Marks</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Subject setup form end -->
    <!-- subject display settings start -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Subject display setup</h3>
                    <div class="column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="custom-control custom-checkbox custom-control-inline mr-5">
                                    <input type="checkbox" class="custom-control-input" id="displayInTc">
                                    <label class="custom-control-label" for="displayInTc">Display Subject in TC</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline mr-5">
                                    <input type="checkbox" class="custom-control-input" id="displayInRepCard">
                                    <label class="custom-control-label" for="displayInRepCard">Display Subject in Report Card</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline mr-5">
                                    <input type="checkbox" class="custom-control-input" id="displayInExcel">
                                    <label class="custom-control-label" for="displayInExcel">Display In Excel</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline mr-5">
                                    <input type="checkbox" class="custom-control-input" id="btecSubject">
                                    <label class="custom-control-label" for="btecSubject">Btec Subject</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline mr-5">
                                    <input type="checkbox" class="custom-control-input" id="retest">
                                    <label class="custom-control-label" for="retest">Retest</label>
                                </div>
                                <div class="custom-control custom-checkbox custom-control-inline mr-0">
                                    <input type="checkbox" class="custom-control-input" id="optionalSubject">
                                    <label class="custom-control-label" for="optionalSubject">Mark as optional ?</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="custom-control custom-radio custom-control-inline mr-5">
                                    <input type="radio" class="custom-control-input" id="displayMarksInCard" name="displayMarkGrade">
                                    <label class="custom-control-label" for="displayMarksInCard">Display marks in report card</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline mr-5">
                                    <input type="radio" class="custom-control-input" id="displayGradeInCard" name="displayMarkGrade">
                                    <label class="custom-control-label" for="displayGradeInCard">Display grade in report card</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline mr-5">
                                    <input type="radio" class="custom-control-input" id="enterMarks" name="enterMarkGrade">
                                    <label class="custom-control-label" for="enterMarks">Enter Marks</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline mr-0">
                                    <input type="radio" class="custom-control-input" id="enterGrade" name="enterMarkGrade">
                                    <label class="custom-control-label" for="enterGrade">Enter Grade</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- subject display settings end -->
    <!-- subject list grid start -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="column-padding pt-3 pb-3">
                        <table class="table table-bordered bg-white mb-0" width="100%">
                            <thead>
                                <tr>
                                    <th class="pb-2 pt-2"><small><strong>Subject</strong></small></th>
                                    <th class="pb-2 pt-2"><small><strong>Short Code</strong></small></th>
                                    <th class="pb-2 pt-2"><small><strong>Optional</strong></small></th>
                                    <th class="pb-2 pt-2"><small><strong>Department</strong></small></th>
                                    <th class="pb-2 pt-2"><small><strong>Parent Subject</strong></small></th>
                                    <th class="pb-2 pt-2 text-center"><small><strong>Display TC</strong></small></th>
                                    <th class="pb-2 pt-2 text-center"><small><strong>Display Subject</strong></small></th>
                                    <th class="pb-2 pt-2 text-center"><small><strong>Display Marks</strong></small></th>
                                    <th class="pb-2 pt-2 text-center"><small><strong>Core & Extended</strong></small></th>
                                    <th class="pb-2 pt-2 text-center"><small><strong>Auto Allocate Group</strong></small></th>
                                    <th class="pb-2 pt-2 text-center"><small><strong>Major Subject</strong></small></th>
                                    <th class="pb-2 pt-2"><small><strong>Entry Type</strong></small></th>
                                    <th class="pb-2 pt-2 text-center tbl-actions"><small><strong>Action</strong></small></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="pt-2 pb-2">Reading Skills</td>
                                    <td class="pt-2 pb-2">LS</td>
                                    <td class="pt-2 pb-2">No</td>
                                    <td class="pt-2 pb-2">KINDERGARTEN</td>
                                    <td class="pt-2 pb-2">LITERACY</td>
                                    <td class="pt-2 pb-2 text-center">No</td>
                                    <td class="pt-2 pb-2 text-center">Yes</td>
                                    <td class="pt-2 pb-2 text-center">No</td>
                                    <td class="pt-2 pb-2 text-center">No</td>
                                    <td class="pt-2 pb-2 text-center">Yes</td>
                                    <td class="pt-2 pb-2 text-center">Yes</td>
                                    <td class="pt-2 pb-2">Grade</td>
                                    <td class="pt-2 pb-2 text-center tbl-actions">
                                        <a href="#" class="table-action-icon-btn" data-toggle="tooltip" data-title="Edit" data-placement="left"><small><i class="fas fa-pencil-alt"></i></small></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pt-2 pb-2">Reading Skills</td>
                                    <td class="pt-2 pb-2">LS</td>
                                    <td class="pt-2 pb-2">No</td>
                                    <td class="pt-2 pb-2">KINDERGARTEN</td>
                                    <td class="pt-2 pb-2">LITERACY</td>
                                    <td class="pt-2 pb-2 text-center">No</td>
                                    <td class="pt-2 pb-2 text-center">Yes</td>
                                    <td class="pt-2 pb-2 text-center">No</td>
                                    <td class="pt-2 pb-2 text-center">No</td>
                                    <td class="pt-2 pb-2 text-center">Yes</td>
                                    <td class="pt-2 pb-2 text-center">Yes</td>
                                    <td class="pt-2 pb-2">Grade</td>
                                    <td class="pt-2 pb-2 text-center tbl-actions">
                                        <a href="#" class="table-action-icon-btn" data-toggle="tooltip" data-title="Edit" data-placement="left"><small><i class="fas fa-pencil-alt"></i></small></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pt-2 pb-2">Reading Skills</td>
                                    <td class="pt-2 pb-2">LS</td>
                                    <td class="pt-2 pb-2">No</td>
                                    <td class="pt-2 pb-2">KINDERGARTEN</td>
                                    <td class="pt-2 pb-2">LITERACY</td>
                                    <td class="pt-2 pb-2 text-center">No</td>
                                    <td class="pt-2 pb-2 text-center">Yes</td>
                                    <td class="pt-2 pb-2 text-center">No</td>
                                    <td class="pt-2 pb-2 text-center">No</td>
                                    <td class="pt-2 pb-2 text-center">Yes</td>
                                    <td class="pt-2 pb-2 text-center">Yes</td>
                                    <td class="pt-2 pb-2">Grade</td>
                                    <td class="pt-2 pb-2 text-center tbl-actions">
                                        <a href="#" class="table-action-icon-btn" data-toggle="tooltip" data-title="Edit" data-placement="left"><small><i class="fas fa-pencil-alt"></i></small></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- subject list grid end -->
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section Scripts{

    <script src="~/Content/js/custom/SIMS/SubjectSetting/SubjectByGrade.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
}