﻿@*@model Phoenix.VLE.Web.Areas.SMS.Models.SubjectGroup*@
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    ViewBag.Title = "Teacher Assingment";
    Layout = "~/Views/Shared/_SIMSLayout.cshtml";
    var rnd = DateTime.Now.Ticks.ToString();
}
@*@using (Ajax.BeginForm("SaveUpdateGroupTeacher", "SubjectSetting", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "subjectGroup.onSaveSubjectGroupSuccess",
    OnFailure = "subjectGroup.onSaveSubjectGroupFailure"
}, new { @Id = "frmGroupTeacher", @class = "form-horizontal" }))
{*@
    <!-- Subject setup form start -->
    <div class="container-fluid mt-2 mb-4">
        <!-- Subject setup form start -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="title-with-fields">
                            <h3 class="card-title">Change Groups</h3>
                            <div class="title-fields"></div>
                        </div>
                        <div class="column-padding pt-3 pb-3">
                            <div class="row mb-3">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="md-form md-outline mb-0">
                                        @Html.DropDownList("ACD_ID", (SelectList)ViewBag.AcademicYear, selectText, new { @class = "selectpicker", @id = "ddlAcademicYear" })
                                        @Html.ValidationMessage("ACD_ID")
                                        <label class="active select-label">@ResourceManager.GetString("SIMS.TeacherAssingment.ACD_ID")</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="md-form md-outline mb-0">
                                        <select class="selectpicker" id="ddlGrade" title="@ResourceManager.GetString("SIMS.TeacherAssingment.SelectGrade")">
                                        </select>
                                        <label class="active select-label">@ResourceManager.GetString("SIMS.TeacherAssingment.GradeId")</label>
                                        @*@Html.DropDownListFor(m => m.GradeId, (SelectList) ViewBag.Grade_filter, @ResourceManager.GetString("SIMS.TeacherAssingment.SelectGrade"), new {@class = "selectpicker", @id = "ddlGrade"})
                                        @Html.ValidationMessageFor(m => m.GradeId)*@
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="md-form md-outline mb-0">
                                        <select class="selectpicker" id="ddlShift" title="@ResourceManager.GetString("SIMS.TeacherAssingment.SelectShift")"></select>
                                        @*@Html.DropDownListFor(m => m.ShiftId, (SelectList)ViewBag.Shift_Filter, @ResourceManager.GetString("SIMS.TeacherAssingment.SelectShift"), new { @class = "selectpicker", @id = "ddlShift" })
                                        @Html.ValidationMessageFor(m => m.ShiftId)*@
                                        <label class="active select-label"> @ResourceManager.GetString("SIMS.TeacherAssingment.ShiftId")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="md-form md-outline mb-0">
                                        <select class="selectpicker" id="ddlStream" title="@ResourceManager.GetString("SIMS.TeacherAssingment.SelectStream")"></select>
                                        @*@Html.DropDownListFor(m => m.StreamId, (SelectList)ViewBag.Stream_Filter, @ResourceManager.GetString("SIMS.TeacherAssingment.SelectStream"), new { @class = "selectpicker", @id = "ddlStream" })
                                        @Html.ValidationMessageFor(m => m.StreamId)*@
                                        <label class="active select-label">@ResourceManager.GetString("SIMS.TeacherAssingment.StreamId")</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="md-form md-outline mb-0">
                                        <select class="selectpicker" id="ddlSubject" title="@ResourceManager.GetString("SIMS.TeacherAssingment.SelectSubject")"></select>
                                        @*@Html.DropDownListFor(m => m.SubjectGradeId, (SelectList)ViewBag.Subject_Filter, @ResourceManager.GetString("SIMS.TeacherAssingment.SelectSubject"), new { @class = "selectpicker", @id = "ddlSubject" })
                                        @Html.ValidationMessageFor(m => m.SubjectGradeId)*@
                                        <label class="active select-label"> @ResourceManager.GetString("SIMS.TeacherAssingment.SubjectGradeId")</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="md-form md-outline mb-0">
                                        @Html.DropDownList("SubjectGroupTeacher", (SelectList)ViewBag.TeacherAssingmentTeacher, @ResourceManager.GetString("SIMS.TeacherAssingment.SelectTeacher"), new { @class = "selectpicker", @id = "ddlTeacher" })
                                        @Html.ValidationMessage("SubjectGradeId")
                                        <label class="active select-label"> @ResourceManager.GetString("SIMS.TeacherAssingment.TeacherId")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <input type="button" class="btn btn-primary m-0 " value="List" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Subject setup form end -->
        <!-- allocate student settings start -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Allocate Group</h3>
                        <div class="column-padding pt-3 pb-3">
                            <div class="row mb-3">
                                <div class="col-lg-5 col-md-5 col-12">
                                    <div class="md-form md-outline mb-0">
                                        <select class="selectpicker" title="Select Group">
                                            <option value="399323">18_KG1_A_ART</option>
                                            <option value="399531">18_KG1_AA_ART</option>
                                            <option value="399539">18_KG1_AB_ART</option>
                                            <option value="399547">18_KG1_AC_ART</option>
                                            <option value="399555">18_KG1_AD_ART</option>
                                            <option value="399563">18_KG1_AE_ART</option>
                                            <option value="399571">18_KG1_AF_ART</option>
                                            <option value="399579">18_KG1_AG_ART</option>
                                            <option value="399587">18_KG1_AH_ART</option>
                                            <option value="399595">18_KG1_AI_ART</option>
                                            <option value="399603">18_KG1_AJ_ART</option>
                                            <option value="399611">18_KG1_AK_ART</option>
                                            <option value="422254">18_KG1_ART</option>
                                            <option value="399331">18_KG1_B_ART</option>
                                            <option value="399339">18_KG1_C_ART</option>
                                        </select>
                                        <label class="active select-label">Select Group</label>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12"></div>
                                <div class="col-lg-5 col-md-5 col-12">
                                    <div class="md-form md-outline mb-0">
                                        <select class="selectpicker" title="Move to Group">
                                            <option value="399323">18_KG1_A_ART</option>
                                            <option value="399531">18_KG1_AA_ART</option>
                                            <option value="399539">18_KG1_AB_ART</option>
                                            <option value="399547">18_KG1_AC_ART</option>
                                            <option value="399555">18_KG1_AD_ART</option>
                                            <option value="399563">18_KG1_AE_ART</option>
                                            <option value="399571">18_KG1_AF_ART</option>
                                            <option value="399579">18_KG1_AG_ART</option>
                                            <option value="399587">18_KG1_AH_ART</option>
                                            <option value="399595">18_KG1_AI_ART</option>
                                            <option value="399603">18_KG1_AJ_ART</option>
                                            <option value="399611">18_KG1_AK_ART</option>
                                            <option value="422254">18_KG1_ART</option>
                                            <option value="399331">18_KG1_B_ART</option>
                                            <option value="399339">18_KG1_C_ART</option>
                                        </select>
                                        <label class="active select-label">Move to Group</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-12 task-search border-bottom-0">
                                    <div class="row">
                                        <div class="col-lg-7 col-md-6 col-12">
                                            <div class="search-wrapper border mb-2">
                                                <i class="fas fa-search active"></i>
                                                <input type="text" id="searchDelegate" class="search-field" placeholder="Search Student">
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-6 col-12">
                                            <div class="md-form md-outline mb-0">
                                                <select class="selectpicker" title="Select Section">
                                                    <option value="399323">A</option>
                                                    <option value="399531">B</option>
                                                    <option value="399539">C</option>
                                                </select>
                                                <label class="active select-label">Section</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="student-allocation-wrapper border rounded column-padding pt-3 pb-3">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="option1">
                                            <label class="custom-control-label" for="option1">AISHA OBAID HARMOUL AL ALI <span># 13100100039226 | Section A</span></label>
                                            <a href="javascript:void(0)" class="float-right trigger-rightDrawer"><i class="fas fa-user-cog"></i></a>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="option2">
                                            <label class="custom-control-label" for="option2">AKLIMA JAMEEL <span># 13100100039226 | Section C</span></label>
                                            <a href="javascript:void(0)" class="float-right trigger-rightDrawer"><i class="fas fa-user-cog"></i></a>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="option3">
                                            <label class="custom-control-label" for="option3">ALEYAMMA MATHEWS <span># 13100100039226</span></label>
                                            <a href="javascript:void(0)" class="float-right trigger-rightDrawer"><i class="fas fa-user-cog"></i></a>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="option1">
                                            <label class="custom-control-label" for="option1">AISHA OBAID HARMOUL AL ALI <span># 13100100039226</span></label>
                                            <a href="javascript:void(0)" class="float-right trigger-rightDrawer"><i class="fas fa-user-cog"></i></a>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="option2">
                                            <label class="custom-control-label" for="option2">AKLIMA JAMEEL <span># 13100100039226</span></label>
                                            <a href="javascript:void(0)" class="float-right trigger-rightDrawer"><i class="fas fa-user-cog"></i></a>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="option3">
                                            <label class="custom-control-label" for="option3">ALEYAMMA MATHEWS <span># 13100100039226</span></label>
                                            <a href="javascript:void(0)" class="float-right trigger-rightDrawer"><i class="fas fa-user-cog"></i></a>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="option1">
                                            <label class="custom-control-label" for="option1">AISHA OBAID HARMOUL AL ALI <span># 13100100039226</span></label>
                                            <a href="javascript:void(0)" class="float-right trigger-rightDrawer"><i class="fas fa-user-cog"></i></a>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="option2">
                                            <label class="custom-control-label" for="option2">AKLIMA JAMEEL <span># 13100100039226</span></label>
                                            <a href="javascript:void(0)" class="float-right trigger-rightDrawer"><i class="fas fa-user-cog"></i></a>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="option3">
                                            <label class="custom-control-label" for="option3">ALEYAMMA MATHEWS <span># 13100100039226</span></label>
                                            <a href="javascript:void(0)" class="float-right trigger-rightDrawer"><i class="fas fa-user-cog"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12">
                                    <div class="d-flex flex-column h-100 justify-content-center pl-lg-5 pr-lg-5">
                                        <button type="button" class="btn btn-outline-primary m-0 mb-1 w-100">
                                            Add <i class="fas fa-arrow-right ml-2"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-primary m-0 w-100">
                                            <i class="fas fa-arrow-left mr-2"></i> Remove
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-12 task-search border-bottom-0">
                                    <div class="search-wrapper border mb-2">
                                        <i class="fas fa-search active"></i>
                                        <input type="text" id="searchDelegate" class="search-field" placeholder="Search Student">
                                    </div>
                                    <div class="student-allocation-wrapper border rounded column-padding pt-3 pb-3">
                                        adfafd
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- allocate student settings end -->
        <!-- subject list grid start -->
        <div class="row d-none">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="column-padding pt-3 pb-3">
                            <table class="table table-bordered bg-white mb-0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="pb-2 pt-2"><small><strong>Subject</strong></small></th>
                                        <th class="pb-2 pt-2"><small><strong>Short Code</strong></small></th>
                                        <th class="pb-2 pt-2"><small><strong>Optional</strong></small></th>
                                        <th class="pb-2 pt-2"><small><strong>Department</strong></small></th>
                                        <th class="pb-2 pt-2"><small><strong>Parent Subject</strong></small></th>
                                        <th class="pb-2 pt-2 text-center"><small><strong>Display TC</strong></small></th>
                                        <th class="pb-2 pt-2 text-center"><small><strong>Display Subject</strong></small></th>
                                        <th class="pb-2 pt-2 text-center"><small><strong>Display Marks</strong></small></th>
                                        <th class="pb-2 pt-2 text-center"><small><strong>Core & Extended</strong></small></th>
                                        <th class="pb-2 pt-2 text-center"><small><strong>Auto Allocate Group</strong></small></th>
                                        <th class="pb-2 pt-2 text-center"><small><strong>Major Subject</strong></small></th>
                                        <th class="pb-2 pt-2"><small><strong>Entry Type</strong></small></th>
                                        <th class="pb-2 pt-2 text-center tbl-actions"><small><strong>Action</strong></small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="pt-2 pb-2">Reading Skills</td>
                                        <td class="pt-2 pb-2">LS</td>
                                        <td class="pt-2 pb-2">No</td>
                                        <td class="pt-2 pb-2">KINDERGARTEN</td>
                                        <td class="pt-2 pb-2">LITERACY</td>
                                        <td class="pt-2 pb-2 text-center">No</td>
                                        <td class="pt-2 pb-2 text-center">Yes</td>
                                        <td class="pt-2 pb-2 text-center">No</td>
                                        <td class="pt-2 pb-2 text-center">No</td>
                                        <td class="pt-2 pb-2 text-center">Yes</td>
                                        <td class="pt-2 pb-2 text-center">Yes</td>
                                        <td class="pt-2 pb-2">Grade</td>
                                        <td class="pt-2 pb-2 text-center tbl-actions">
                                            <a href="#" class="table-action-icon-btn" data-toggle="tooltip" data-title="Edit" data-placement="left"><small><i class="fas fa-pencil-alt"></i></small></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pt-2 pb-2">Reading Skills</td>
                                        <td class="pt-2 pb-2">LS</td>
                                        <td class="pt-2 pb-2">No</td>
                                        <td class="pt-2 pb-2">KINDERGARTEN</td>
                                        <td class="pt-2 pb-2">LITERACY</td>
                                        <td class="pt-2 pb-2 text-center">No</td>
                                        <td class="pt-2 pb-2 text-center">Yes</td>
                                        <td class="pt-2 pb-2 text-center">No</td>
                                        <td class="pt-2 pb-2 text-center">No</td>
                                        <td class="pt-2 pb-2 text-center">Yes</td>
                                        <td class="pt-2 pb-2 text-center">Yes</td>
                                        <td class="pt-2 pb-2">Grade</td>
                                        <td class="pt-2 pb-2 text-center tbl-actions">
                                            <a href="#" class="table-action-icon-btn" data-toggle="tooltip" data-title="Edit" data-placement="left"><small><i class="fas fa-pencil-alt"></i></small></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pt-2 pb-2">Reading Skills</td>
                                        <td class="pt-2 pb-2">LS</td>
                                        <td class="pt-2 pb-2">No</td>
                                        <td class="pt-2 pb-2">KINDERGARTEN</td>
                                        <td class="pt-2 pb-2">LITERACY</td>
                                        <td class="pt-2 pb-2 text-center">No</td>
                                        <td class="pt-2 pb-2 text-center">Yes</td>
                                        <td class="pt-2 pb-2 text-center">No</td>
                                        <td class="pt-2 pb-2 text-center">No</td>
                                        <td class="pt-2 pb-2 text-center">Yes</td>
                                        <td class="pt-2 pb-2 text-center">Yes</td>
                                        <td class="pt-2 pb-2">Grade</td>
                                        <td class="pt-2 pb-2 text-center tbl-actions">
                                            <a href="#" class="table-action-icon-btn" data-toggle="tooltip" data-title="Edit" data-placement="left"><small><i class="fas fa-pencil-alt"></i></small></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- subject list grid end -->
    </div>
    <!-- Subject setup form end -->
    <!-- allocate student settings start -->
    @*<div class="row" id="divAllocatedStudent">
        @Html.Action("LoadAllocateStudentList", "SubjectSetting" , new { ACD_ID = Model.ACD_ID, GRD_ID = Model.GradeId, SHF_ID = Model.ShiftId, STM_ID = Model.StreamId, SBG_ID = Model.SubjectGradeId, SGR_ID = Model.GroupId })
    </div>*@
    <!-- allocate student settings end -->
@*}*@
<!-- right drawer start -->
<div class="right-drawer z-depth-1">
    <div class="right-drawer-container">
        <div class="row column-padding pt-3 pb-3 border-bottom drawer-header">
            <div class="col-lg-11 col-md-11 col-11">
                <h2 class="m-0">Student Group Change</h2>
            </div>
            <div class="col-lg-1 col-md-1 col-1 text-right">
                <a href="javascript:void(0)" class="closeRightDrawer"><i class="fas fa-times"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 ">
                <div class="custom-scroll-container">
                    <form class="column-padding pt-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="student-details-widget">
                                    <article class="d-flex pb-3 border-bottom">
                                        <div class="student-img border">
                                            <img src="https://school.gemsoasis.com/OASISPHOTOSNEW/OASIS_HR/ApplicantPhoto/131001/20452189/STUPHOTO.jpg" alt="Angela Rose Dennis" class="img-fluid">
                                        </div>
                                        <div class="student-info flex-1 ml-3">
                                            <h3>Ameya Teresa Dennis</h3>
                                            <p class="mb-0">OUR OWN ENGLISH HIGH SCHOOL - SHARJAH CBSE</p>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="student-group-settings">
                            <div class="accordion text-left" id="student-group-settings">
                                <div class="card z-depth-0 m-0 border-bottom border-top-0 border-left-0 border-right-0">
                                    <div class="card-header p-0" id="parentInfo">
                                        <h5 class="mb-0">
                                            <button class="w-100 btn btn-link d-block text-left m-0 p-2 collapse" type="button" data-toggle="collapse" data-target="#mandatory-subjects" aria-expanded="true" aria-controls="mandatory-subjects">
                                                Mandatory Subjects <i class="fas fa-angle-down float-right m-0"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="mandatory-subjects" class="collapse show border-top" aria-labelledby="parentInfo" data-parent="#student-group-settings">
                                        <div class="card-body column-padding pt-2 pb-2 pl-0 pr-0">
                                            <div class="content">
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card z-depth-0 m-0 border-bottom border-top-0 border-left-0 border-right-0">
                                    <div class="card-header p-0" id="contactInfo">
                                        <h5 class="mb-0">
                                            <button class="w-100 btn btn-link d-block text-left m-0 p-2 collapsed" type="button" data-toggle="collapse" data-target="#optional-subjects" aria-expanded="false" aria-controls="optional-subjects">
                                                Optional Subjects <i class="fas fa-angle-down float-right m-0"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="optional-subjects" class="collapse border-top" aria-labelledby="contactInfo" data-parent="#student-group-settings">
                                        <div class="card-body column-padding pt-2 pb-2 pl-0 pr-0">
                                            <div class="content">
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <h6 class="mb-2">Environmental Studies</h6>
                                                        <div class="md-form md-outline mb-0">
                                                            <select class="selectpicker" title="Select Group">
                                                                <option value="399323">18_KG1_A_ART</option>
                                                                <option value="399531">18_KG1_AA_ART</option>
                                                                <option value="399539">18_KG1_AB_ART</option>
                                                                <option value="399547">18_KG1_AC_ART</option>
                                                                <option value="399555">18_KG1_AD_ART</option>
                                                                <option value="399563">18_KG1_AE_ART</option>
                                                                <option value="399571">18_KG1_AF_ART</option>
                                                            </select>
                                                            <label class="active select-label">Group</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="drawer-footer">
            <a href="#" class="drawer-footer-link pt-3 pb-3">Save</a>
        </div>
    </div>
</div>
<!-- right drawer end -->
<!-- modal popups -->
<div class="modal fade" id="assignTeacherModal" tabindex="-1" role="dialog" aria-labelledby="assignTeacherModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign Teacher to Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="popup-form">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <select class="selectpicker" title="Select Teacher">
                                <option value="1">Teacher 1</option>
                                <option value="2">Teacher 2</option>
                            </select>
                            <!-- <label class="select-label">Select Teacher</label> -->
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="md-form md-outline date-time-picker">
                                <!-- <input placeholder="DOB" type="text" class="form-control date-picker" id="datepicker"> -->
                                <input type="text" placeholder="Date" class="form-control date-picker">
                                <label>Date</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <table class="table table-bordered bg-white mb-0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="pb-2 pt-2"><small><strong>Name</strong></small></th>
                                        <th class="pb-2 pt-2"><small><strong>Date</strong></small></th>
                                        <th class="pb-2 pt-2 text-center tbl-actions"><small><strong>Action</strong></small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="pt-2 pb-2">Ashraf Shumayl Ganem</td>
                                        <td class="pt-2 pb-2">24 Nov 2019</td>
                                        <td class="pt-2 pb-2 text-center tbl-actions">
                                            <a href="#" class="table-action-icon-btn" data-toggle="tooltip" data-title="Delete" data-placement="left" data-original-title="" title=""><small><i class="fas fa-trash-alt"></i></small></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pt-2 pb-2">Naeema Aliah Mansour</td>
                                        <td class="pt-2 pb-2">23 Nov 2019</td>
                                        <td class="pt-2 pb-2 text-center tbl-actions">
                                            <a href="#" class="table-action-icon-btn" data-toggle="tooltip" data-title="Delete" data-placement="left" data-original-title="" title=""><small><i class="fas fa-trash-alt"></i></small></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pt-2 pb-2">Karen C. Bracken</td>
                                        <td class="pt-2 pb-2">22 Nov 2019</td>
                                        <td class="pt-2 pb-2 text-center tbl-actions">
                                            <a href="#" class="table-action-icon-btn" data-toggle="tooltip" data-title="Delete" data-placement="left" data-original-title="" title=""><small><i class="fas fa-trash-alt"></i></small></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-primary m-0">Assign now</button>
            </div>
        </div>
    </div>
</div>
<!-- modal popups end -->
@Html.Partial("_ValidationJSPartial")
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

<script src="@Url.Content("~/Content/js/custom/SIMS/SubjectSetting/SubjectGroup.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
<script>
    $(document).ready(function () { 
        $('.date-picker').datetimepicker({
            format: 'MM/DD/YYYY'
        });
        var dt = new Date();
        var cDate = ("0" + dt.getDate()).slice(-2) + '/' + ("0" + (dt.getMonth()+1)).slice(-2) + '/' + dt.getFullYear();
        $('.date-picker').val(cDate);
            
        $('#tblSubjectByGrade').DataTable({
            "ordering": false,
            columnDefs: [{
                orderable: false
            }]
            //"scrollY": "500px",
            //"scrollCollapse": true,
            //"searching": false
        });           
        $('.dataTables_length').addClass('bs-select');

        $('body').on('click','.add-option-name', function(){
            $('.otherOptName').slideToggle();
        });
        $(".student-allocation-wrapper").mCustomScrollbar({
            setHeight: "250",
            autoExpandScrollbar: true,
        });
        $(".student-group-settings .content").mCustomScrollbar({
            //setHeight: "280",
            autoExpandScrollbar: true,
            scrollbarPosition: "outside",
            autoHideScrollbar: false
        });
        $(".custom-scroll-container").mCustomScrollbar({
            //setHeight: "76%",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar:true,
        });
    });
</script>
