.teacher-portfolio-card {
    margin-top: rem(15px);
    .banner-container {
        width: 100%;
        //height: rem(141px);
        height: auto;
        overflow: hidden;
        position: relative;
        @media screen and (max-width: 414px) {
            max-height: 170px;
            border-radius: .75rem .75rem 0 0;
        }
        @media screen and (min-width: 768px) {
            //min-height: 100px;
            height: 100px;
        }
        @media screen and (min-width: 1024px) {
            //min-height: 102px;
            height: 102px;
        }
        @media screen and (min-width: 1366px) {
            //min-height: 150px;
            height: 150px;
        }
        @media screen and (min-width: 1600px) {
            //min-height: 180px;
            height: 180px;
        }
        @media screen and (min-width: 1920px) {
            //min-height: 222px;
            height: 222px;
        }
        img {
            width: 100%;
            height: auto;
            border-radius: rem(12px 12px 0 0);
            @include media-breakpoint-down(sm) {
                width: auto;
            }
        }
        .flipbook-button {
            position: absolute;
            right: rem(25px);
            bottom: rem(30px);
            border: rem(1px) solid #fff;
            border-radius: rem(4px);
            box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.33);
            background-color: #ffffff;
            padding: rem(9px 10px);
            cursor: pointer;
            outline: none;
            @include media-breakpoint-down(sm) {
                top: rem(6px);
                bottom: auto;
                right: rem(20px);
                padding: rem(4px 5px);
            }
            img {
                width: rem(19px);
                height: rem(15px);
            }
            span {
                font-size: rem($base-font-size - 6);
                font-weight: 600;
                color: #4b316c;
            }
        }
    }
    .about-container {
        padding: rem(20px 25px);
        .student-info {
            border-radius: rem(12px);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
            text-align: center;
            background-color: #fff;
            position: relative;
            margin-top: rem(-69px);
            padding: rem(0 18px 20px);
            .student-image {
                width: rem(105px);
                height: rem(105px);
                margin: rem(0 auto -50px);
                position: relative;
                top: -50px;
                border: solid 2px $white-base;
                background: $white-base;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .edit-icon {
                position: absolute;
                top: rem(13px);
                right: rem(18px);
                cursor: pointer;
                img {
                    min-width: rem(19.5px);
                    min-height: rem(17px);
                }
            }
            .info-body {
                color: #4b346c;
                .text-main {
                    font-weight: 700;
                    font-size: rem($base-font-size + 4);
                }
                .sub-text {
                    font-weight: 500;
                    font-size: rem($base-font-size);
                    margin: rem(5px 0);
                }
            }
            .school-logo {
                width: rem(190px);
                height: rem(54px);
                margin: rem(25px auto 20px);
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .contact-btn {
                .btn-outline-primary {
                    width: 100%;
                    border: rem(1px) solid #472179 !important;
                    color: #472179 !important;
                    font-size: rem($base-font-size - 6);
                    font-weight: 600 !important;
                    padding: rem(10px 2px) !important;
                    &:hover {
                        color: #fff !important;
                        background-color: #472179 !important;
                    }
                }
            }
        }
        .about-section {
            font-size: rem($base-font-size - 2);
            padding: rem(0 20px);
            min-width: rem(275px);
            max-width: rem(660px);
            @include media-breakpoint-down(sm) {
                margin-top: rem(25px);
                max-width: 100%;
            }
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                padding: 0;
            }
            .section-title {
                color: #4b346c;
                font-weight: 700;
                font-size: rem($base-font-size + 2);
            }
            p {
                color: #070707;
                .read-more {
                    color: #7c54f3;
                    font-weight: 500;
                    display: block;
                    cursor: pointer;
                }
            }
        }
        .awards-section {
            padding-left: rem(20px);
            @include media-breakpoint-down(sm) {
                margin-top: 25px;
                width: 100%;
            }
            @media screen and (min-width: 768px) and (max-width: 1024px) {
                width: 100%;
            }
            .title {
                color: #4b346c;
                font-weight: 600;
                font-size: rem($base-font-size - 2);
            }
            .border-frame {
                //background-image: url(../img/svg/border-frame.svg);
                border: 2px dashed #ececec;
                width: 200px;
                height: 175px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                background-repeat: no-repeat;
                .award-title {
                    font-size: rem($base-font-size - 6);
                    display: block;
                }
                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    width: 100%;
                    height: auto;
                    span {
                        width: auto;
                        margin: 0 10px;
                    }
                }
                @include media-breakpoint-down(sm) {
                    width: 100%;
                }
            }
        }
    }
}

.circle-btn-group {
    .pf-dropdown {
        @include media-breakpoint-down(xs) {
            width: 100%;
            margin-bottom: rem(10px);
        }
        .bootstrap-select {
            >.dropdown-menu {
                &.show {
                    /* display: flex;
                    flex-direction: column-reverse; */
                    .bs-actionsbox {
                        .actions-btn {
                            font-size: 0.8125rem;
                            color: #757575;
                            padding: 0;
                            position: relative;
                            min-width: rem(130px);
                            &:before {
                                content: '';
                                position: absolute;
                                right: initial;
                                left: rem(5px);
                                border: solid 0.09375rem #7a4fb7;
                                border-radius: 0.125rem;
                                width: 1.125rem;
                                height: 1.125rem;
                                text-align: center;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn {
        &.dropdown-toggle {
            border-radius: rem(100px) !important;
        }
    }
    button[type=button].btn-outline-primary {
        border-radius: 50%;
        height: rem(32px);
        width: rem(32px);
        padding: 0 !important;
    }
    .btn-view {
        svg {
            margin: 0;
            &.printer {
                width: rem(19px);
                height: rem(16px);
            }
        }
    }
}

.text-color-purple {
    color: $primary-color !important;
}

.bordered-tab-item {
    .nav-link {
        font-weight: 500;
        padding-top: rem(20px);
        padding-bottom: rem(20px);
        margin-right: rem(32px);
        color: rgba(75, 49, 108, 0.5);
        border-bottom: rem(2px) solid transparent;
        @include media-breakpoint-down(xs) {
            margin-right: 0;
            padding: rem(15px);
        }
        &.active {
            font-weight: 600;
            color: darken($primary-color, 20%);
            border-bottom: rem(2px) solid darken($primary-color, 30%);
        }
    }
}

.edit-link {
    img {
        width: rem(20px);
        height: rem(19px);
    }
}

.achievement-row {
    .image-wrapper {
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f7f7f7;
        overflow: hidden;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .certificate-img {
        max-width: rem(287px);
        max-height: rem(187px);
        width: 100%;
    }
    .bordered-tab-item {
        @include media-breakpoint-down(xs) {
            flex-direction: column;
        }
        .nav-link {
            padding: rem(12px 0);
        }
    }
    .achievement-img {
        border-radius: rem(8px);
        min-height: rem(95px);
        max-height: rem(95px);
    }
    .base-carousel-image {
        border-radius: rem(8px);
        max-width: rem(287px);
        max-height: rem(128px);
        width: 100%;
    }
    h6 {
        &.text-dark {
            @include media-breakpoint-down(xs) {
                width: calc(100% - 62px);
            }
        }
    }
    .owl-carousel {
        margin-bottom: 25px;
        border-bottom: solid 1px #efefef;
        padding-bottom: 25px;
    }
}

.skill-row {
    .star-rating {
        margin: 0;
        button {
            background: transparent;
            border: 0;
            outline: none;
            color: #b7b2b2;
            font-size: rem($base-font-size + 2);
            padding: 0;
            margin-right: rem(4px);
        }
    }
    .endorse-avatar {
        max-width: rem(29px);
        max-height: rem(29px);
        border-radius: 50%;
        box-shadow: 0 rem(1px) rem(7px) 0 rgba(0, 0, 0, 0.34);
        margin: 0 rem(5px);
    }
}

.skill-title {
    color: $primary-color;
    border: rem(1px) solid $primary-color;
    border-radius: rem(86px);
    display: flex;
    align-items: center;
    width: max-content;
    height: rem(32px);
    .skill-count {
        border-right: rem(1px) solid $primary-color;
        font-size: rem($base-font-size);
        padding: rem(4px 10px);
    }
    .skill-name {
        background: #EDEFF4;
        font-size: rem($base-font-size - 4);
        border-radius: rem(0 86px 86px 0);
        padding: rem(4px 10px);
    }
}

.pf-comment-card {
    background: #fcfaf5;
    padding: rem(20px);
    border-radius: rem(12px);
    .content {
        font-size: rem($base-font-size);
    }
}

.academics-row {
    .bordered-tab-item {
        @include media-breakpoint-down(xs) {
            flex-direction: column;
            margin-bottom: rem(60px) !important;
        }
        .nav-link {
            padding: rem(12px 0);
        }
    }
    .tab-pane {
        position: relative;
        #academicsOtherFileCarousel,
        #academicsAssignmentCarousel {
            .cards {
                padding: rem(20px);
                border-radius: rem(12px);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                &.bg-pink {
                    background: #fff7f8;
                    border-bottom: rem(1px) solid #fcd5dd;
                    box-shadow: 0 rem(1px) rem(1px) 0 #fcd5dd;
                    .svg {
                        path {
                            fill: #ef4848;
                        }
                    }
                }
                &.bg-purple {
                    background: #f9f5fd;
                    border-bottom: rem(1px) solid #d5bdf0;
                    box-shadow: 0 rem(1px) rem(1px) 0 #d5bdf0;
                }
                &.bg-green {
                    background: #f5fdfd;
                    border-bottom: rem(1px) solid #a4e0d2;
                    box-shadow: 0 rem(1px) rem(1px) 0 #a4e0d2;
                }
                p {
                    margin-top: rem(20px);
                    margin-bottom: 0;
                }
            }
            .video-container {
                position: relative;
                .play-label {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: rem(40px);
                    height: rem(40px);
                    background: #f23979;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    border: none;
                    outline: none;
                    padding: 0;
                    .fa-play {
                        color: #fff;
                    }
                }
                img {
                    border-radius: rem(12px);
                }
            }
        }
        #academicsAssignmentCarousel {
            .video-container {
                height: rem(116px);
                margin: rem(-15px -12px 0);
                img {
                    max-width: 100%;
                    max-height: 100%;
                    @include media-breakpoint-down(lg) {
                        object-fit: cover;
                        height: 100%;
                    }
                    @include media-breakpoint-down(xs) {
                        object-fit: fill;
                        width: max-content;
                    }
                }
            }
            .video-text-overlay {
                position: absolute;
                color: #fff !important;
                background-color: rgba(0, 0, 0, 0.5);
                bottom: 0;
                width: 100%;
                text-align: center;
                padding: rem(2px 0);
                border-radius: rem(0 0 12px 12px);
            }
            /* .svg.text-svg {
                path {
                    fill: transparent;
                    stroke: #0da5a5;
                }
                .cls-1, .cls-2 {
                    stroke: #0da5a5;
                }
            } */
        }
        #academicsVideoCarousel {
            .cards {
                padding: 0;
                p {
                    margin-top: rem(10px);
                    margin-bottom: 0;
                }
            }
            .video-container {
                position: relative;
                .play-label {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: rem(40px);
                    height: rem(40px);
                    background: #f23979;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    border: none;
                    outline: none;
                    padding: 0;
                    .fa-play {
                        color: #fff;
                    }
                }
            }
        }
        #academicsReportsCarousel {
            .cards {
                padding: rem(20px);
                border-radius: rem(6px);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background: #fff4f7;
                .pdf {
                    &.svg {
                        path {
                            fill: #ef4848;
                        }
                    }
                }
                p {
                    margin-top: rem(20px);
                    margin-bottom: 0;
                }
                .download-report {
                    position: absolute;
                    top: rem(4px);
                    right: rem(4px);
                    background: transparent;
                    outline: none;
                    border: 0;
                }
            }
        }
    }
}

.carousel-nav {
    &.owl-carousel {
        &.owl-theme {
            .owl-nav {
                position: absolute;
                top: rem(-48px);
                right: 0;
                @include media-breakpoint-down(xs) {
                    top: rem(-40px);
                }
            }
        }
    }
}

.goals-row {
    .goal-card {
        padding: rem(20px);
        // background: #f8faff;
        background: #F5EFF9;
        border-radius: rem(14px);
        border: rem(1px) solid #d9c1f1;
        @include media-breakpoint-down(xs) {
            max-width: 100%;
            margin-right: 0;
        }
        .due-label {
            color: #fa3232;
            background: #fdf2f2;
            padding: rem(3px 10px);
            border: rem(1px) solid #f77575;
            border-radius: rem(40px);
            font-size: rem($badge-font-size - 4);
        }
        .content {
            color: #656565;
        }
    }
}

.btn-custom-purple {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    color: #fff;
    //box-shadow: 0 rem(1px) rem(8px) 0 #c19eed !important;
    &:hover {
        color: #fff;
    }
    .plus {
        margin-bottom: 0;
        font-size: rem($base-font-size + 8);
        line-height: rem(25px);
    }
}

.pf-pending-card {
    color: #9f9f9f;
    background: #fafafa;
    padding: rem(20px);
    border-radius: rem(12px);
    .title-label {
        font-size: rem($base-font-size - 2);
        background: #ededed;
        border-radius: rem(86px);
        padding: rem(6px 12px);
        margin-right: rem(10px);
    }
    .pending-label {
        font-size: rem($base-font-size - 2);
        color: #5c4208;
        background: #ffe5a2;
        border-radius: rem(50px);
        padding: rem(4px 12px);
        @include media-breakpoint-down(xs) {
            margin: rem(10px 0 0 0);
        }
    }
    .content {
        padding: rem(15px);
        margin-bottom: 0;
        background: #ededed;
        border-radius: rem(8px);
        font-size: rem($base-font-size);
    }
}

.dashed-border {
    border: rem(2.5px) dashed #d3d3d3;
    border-radius: rem(7px);
}

.dashed-borderBottom {
    border-bottom: rem(2.5px) dashed #d3d3d3;
}

.purple-checkBox {
    padding: 0;
    .label-text {
        color: #9082a3;
        font-size: rem($base-font-size - 1);
    }
    .custom-control {
        .custom-control-label {
            &:before {
                background: #fff;
                border: rem(1px) solid #b8b0c4 !important;
            }
        }
        .custom-control-input:checked {
            ~.custom-control-label {
                &:before {
                    border: rem(1px) solid #4b346c !important;
                }
            }
        }
    }
}

.text-heading {
    font-size: rem($base-font-size + 2);
}

.edit-skill {
    .delete-link {
        img {
            width: rem(21px);
            height: rem(20px);
        }
    }
    .btn-success {
        background-color: #1db56f !important;
    }
    .btn-danger {
        background-color: #fc4964 !important;
    }
}

.teacher-portfolio-card {
    position: relative;
    .banner-container {
        img {
            height: 100%;
        }
    }
    .profile-card {
        position: absolute;
        top: rem(46px);
        left: rem(26px);
        width: rem(120px);
        height: rem(120px);
        @include media-breakpoint-down(xs) {
            top: rem(62px);
            left: rem(16px);
            width: rem(100px);
            height: rem(100px);
        }
        .profile-image {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow: 0 rem(3px) rem(10px) 0 rgba(23, 28, 85, 0.36);
            border: rem(2px) solid #ffffff;
        }
    }
    .edit-photo {
        display: inline-block;
        background: #4b316c;
        width: rem(35px);
        height: rem(35px);
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .btn-changeCoverPhoto {
        position: absolute;
        top: rem(90px);
        right: rem(24px);
        background: #fff;
        opacity: 80%;
        border-radius: rem(4px);
        text-transform: unset;
        padding: rem(8px 13px);
        margin: 0;
        @include media-breakpoint-down(xs) {
            right: rem(16px);
            top: rem(94px);
        }
        img {
            width: rem(20px);
            height: rem(18px);
        }
    }
}

.award-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    @include media-breakpoint-down(xs) {
        justify-content: center;
    }
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: rem(20px);
        margin-bottom: rem(25px);
        max-width: rem(200px);
        .award-card {
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(133px);
            height: rem(124px);
            border-radius: rem(10px);
            &.bg-pink {
                background: #fff5ed;
            }
            &.bg-orange {
                background: #fffaed;
            }
            &.bg-purple {
                background: #fff2ff;
            }
            &.bg-green {
                background: #e6feff;
            }
            &.bg-red {
                background: #fff0f3;
            }
            img {
                width: rem(62px);
                height: rem(76px);
            }
        }
        .custom-checkbox {
            .custom-control-label {
                line-height: 1.6;
            }
        }
        .purple-checkBox {
            .label-text {
                font-size: rem($base-font-size - 3);
            }
        }
    }
}

.comment-footer {
    .text-muted {
        color: #919191 !important;
        font-weight: 500;
    }
}