.pf-card {
    padding: 0;
    &.card {
        border-radius: rem(15px);
    }
    .pf-card-bg {
        width: 100%;
        max-height: rem(64px);
        border-radius: rem(15px 15px 0 0);
        height: rem(64px);
    }
    .upper-section {
        position: relative;
        @include media-breakpoint-down(md) {
            min-height: 4rem;
        }
        .image-center {
            position: absolute;
            top: rem(34px);
            width: 100%;
            display: flex;
            justify-content: center;
            align-self: center;
        }
        .pf-notification {
            position: absolute;
            top: rem(7px);
            right: rem(11px);
            display: block;
            .notification-count {
                position: absolute;
                top: rem(-2px);
                right: rem(-8px);
                background: #ff3d34;
                min-width: 1.125rem;
                color: #fff;
                font-size: 0.625rem;
                font-weight: 700;
                border-radius: 50%;
                display: flex;
                align-self: center;
                justify-content: center;
            }
        }
    }
    .card-body {
        padding: rem(14px);
        border-radius: 0 0 rem(14px 14px);
        .student-name {
            color: #4b316c;
            font-weight: 600;
        }
    }
    &.pf-incomplete {
        background: #fff4f4;
        border: rem(2px) solid #bf2c2c !important;
        .pf-card-bg {
            border-radius: rem(15px 15px 0 0);
            width: calc(100% - 0.0625rem);
        }
        .text-incomplete {
            background: #bd4648;
            padding: rem(1px 7px);
            color: #fff;
            border-radius: rem(30px);
            font-size: rem($base-font-size - 6px);
            position: absolute;
            bottom: rem(-10px);
        }
    }
}