﻿@model Phoenix.VLE.Web.EditModels.TemplateEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    var rnd = DateTime.Now.Ticks.ToString();
}
<style>
    .element button[type="button"].remove {
        width: 2.1875rem;
        height: 2.1875rem;
    }
</style>

<input type="hidden" id="formModified" value="false" />
@using (Ajax.BeginForm("AddEditCertificateDetail", "CertificateBuilder", new { @area = "document" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "certificate.onSaveSuccess" }, new { id = "frmAddTempalte", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    var next = 0;
    @Html.HiddenFor(x => x.TemplateId)
    @Html.HiddenFor(x => x.SchoolId)
    @Html.HiddenFor(x => x.IsAddMode)
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@ResourceManager.GetString("Template.Template.CertificateTemplate")</h3>
                    <div class="question-wrapper column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="md-form md-outline">
                                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @maxlength = "100" })
                                    @Html.LocalizedLabel("active", "Template.Template.Title")
                                    @Html.ValidationMessageFor(e => e.Title, "", new { @class = "text-danger small" })
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="md-form md-outline">
                                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = "5", @max_length = "1000" })
                                    @Html.LocalizedLabel("active", "Template.Template.Description")
                                    @Html.ValidationMessageFor(e => e.Description, "", new { @class = "text-danger small" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="custom-control custom-checkbox custom-control-inline border-0 pt-1 pb-1">
                                    @Html.CheckBoxFor(x => x.IsApprovalRequired, new { @class = "custom-control-input" })
                                    <label class="custom-control-label primaryColor" for="IsApprovalRequired">
                                        @ResourceManager.GetString("Template.Template.IsApprovalRequired")
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 element align-items-center mb-3">
                            <div class="col-lg-1 col-md-1 col-12">
                                <h4 class="sub-heading">@ResourceManager.GetString("Template.Template.AddFieldText")</h4>
                            </div>                            
                            <div class="col-md-4">
                                <button class='btn btn-primary waves-effect waves-light m-0' type='button' id="add-more">Add More</button>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12" id="TemplateFields">
                                @if (Model.TemplateFields.Count > 0)
                                {
                                    Html.RenderPartial("_TemplateField", Model.TemplateFields, new ViewDataDictionary { { "IsPlanTemplate", false } });
                                }
                                else
                                {
                                <div class='element row' id='@("div_" + next)'>
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <div class="md-form md-outline">
                                            <input type='hidden' id='TemplateField_@(next)_TemplateFieldId' name='TemplateFields[@(next)].TemplateFieldId' value='0'>
                                            <input type='hidden' id='TemplateField_@(next)_IsActive' name='TemplateFields[@(next)].IsActive' value='true'>
                                            <input type='text' class='responseInput form-control' placeholder='Field' id='TemplateField_@(next)_Field' maxlength='150' name='TemplateFields[@(next)].Field' required='required'>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <div class="md-form md-outline">
                                            <input type='text' class='form-control' placeholder='Placeholder' id='TemplateField_@(next)_Placeholder' readonly='readonly' maxlength='160' name='TemplateFields[@(next)].Placeholder' required='required'>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-12">                                        
                                        <select id='TemplateField_@(next)_CertificateColumnId' data-size="5" data-live-search='true' title="Select Column" class='form-control form-control-alternative' maxlength='150'
                                            name='TemplateFields[@(next)].CertificateColumnId'></select>
                                    </div>
                                    
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <div class='custom-control custom-checkbox custom-control-inline my-4 my-md-0'>
                                            <input type='checkbox' class='DefaultValue custom-control-input' id='TemplateField_@(next)_DefaultFieldValue' name='TemplateFields[@(next)].DefaultFieldValue'>
                                            <label class='custom-control-label' for='TemplateField_@(next)_DefaultFieldValue'>@ResourceManager.GetString("Template.Template.DefaultFieldValue")</label>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" onclick="location.href='/Document/CertificateBuilder'" class="btn btn-outline-primary waves-effect waves-light m-0">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                            <button type="submit" id="btn-submit" class="btn btn-primary waves-effect waves-light m-0 ml-3">@ResourceManager.GetString("Shared.Buttons.Save")</button>
                            <button id="btnNavCertificateBuilder" type="button" onclick="window.location.href='/Document/CertificateBuilder/CertificateBuilder?id=@EncryptDecryptHelper.EncryptUrl(Model.TemplateId)'" class="btn btn-primary waves-effect waves-light ml-3 m-0 @(Model.IsAddMode ? "d-none" : "")">@ResourceManager.GetString("Shared.Buttons.Next")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}
@section scripts
{
    <script src="@Url.Content("~/Content/js/custom/Document/TemplateEditor.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">

        var isCustomPermissionEnabled = '@(SessionHelper.CurrentSession.IsAdmin && Html.CurrentPagePermission().CanEdit)';
        $("#btnBack").show();
        $(document).on('click', '#btnBack', function () {
            location.href = "/document/certificatebuilder";
        });
    </script>
}
