﻿@model IEnumerable<Phoenix.VLE.Web.EditModels.TemplateEdit>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers

@{
    ViewBag.Title = ResourceManager.GetString("StudentInformation.Certificates.Certificates");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-quiz.svg");
    var rnd = DateTime.Now.Ticks.ToString();
    var admin = SessionHelper.CurrentSession.IsAdmin;
}

<div class="row search-row justify-content-end pb-2">
    <div class="col-12 col-lg-8 col-md-10 d-flex flex-column flex-md-row justify-content-end ">
        @Html.AntiForgeryToken()
        <div class="search-with-bg w-responsive mb-2 mb-md-0">
            <span class="icon-search"></span>
            <input type="text" id="QuizListSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
        </div>
        @if (@admin && Html.CurrentPagePermission().CanEdit)
        {
            <a id="btnAddUserRole" href="/document/CertificateBuilder/AddEditCertificateDetail" class="btn btn-primary m-0 rounded-6x ml-0 ml-md-3">
                <i class="fa fa-plus mr-2"></i>@ResourceManager.GetString("StudentInformation.Certificates.AddCertificate")
            </a>
        }

    </div>
    
</div>

<div class="row grid-view">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card grid-list-card">
            <div class="list-wrapper table-responsive">
                <table class="table mw-100 dataTable no-footer" id="tbl-certificateTemplate">
                    <thead class="thead-dark"></thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        var isCustomPermissionEnabled = '@(admin && Html.CurrentPagePermission().CanEdit)';
        translatedResources.title= '@ResourceManager.GetString("Template.Template.Title")';
        translatedResources.description = '@ResourceManager.GetString("Template.Template.Description")';
        translatedResources.templateType= '@ResourceManager.GetString("Shared.Labels.Type")';
        translatedResources.period = '@ResourceManager.GetString("Template.Template.Period")';
        translatedResources.active = '@ResourceManager.GetString("Template.Template.IsActive")';
        translatedResources.status = '@ResourceManager.GetString("Template.Template.Status")';
        translatedResources.approveTemplateMessage = '@ResourceManager.GetString("Template.Template.ApproveTemplateMessage")';
    </script>
    <script src="@Url.Content("~/Content/js/custom/Document/TemplateEditor.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

}