﻿@using Phoenix.VLE.Web.Models
@using Phoenix.Common.Enums
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.Helpers
@using Phoenix.Common.Localization

@{
    var rnd = DateTime.Now.Ticks.ToString();
    var modulestructure = ModuleHelper.GetModuleTitle();
    var schoolImage = "/Uploads/SchoolImages/" + SessionHelper.CurrentSession.SchoolImage;
    var UrlPath = Request.Url.AbsolutePath.ToString();
    var HomeUrl = SessionHelper.CurrentSession.IsParent() ? "/Parent/Dashboard" : "/Home";

    //Language helper
    var currentSystemLanguage = Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage;
    var langId = currentSystemLanguage.SystemLanguageId;
    var langCode = currentSystemLanguage.SystemLanguageCode;
    var langIsRightToLeft = currentSystemLanguage.IsRightToLeft;
    var hdnServerRequest = System.Net.Dns.GetHostAddresses(System.Net.Dns.GetHostName());

}

<!DOCTYPE html>
<html lang="@langCode" dir="@(langIsRightToLeft ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>@modulestructure.ModuleName</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/fontAwesome.min.css")" />

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/bootstrapcore")

    <!--switch language css -- defualt English-->
    <link href="@(langId == 2 ? Url.Content("~/Content/VLE/css/bootstrap-rtl.css") : Url.Content("~/Content/VLE/css/bootstrap.min.css"))" rel="stylesheet">

    <!-- dataTable css -->
    @Styles.Render("~/Content/datatablecss")
    <!-- Material Design Bootstrap -->
    @Styles.Render("~/Content/main-admin")

    <style>
        .field-validation-error {
            color: red;
            font-size: 12px;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152690699-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-152690699-1');
    </script>
    @RenderSection("devexpressplugins", required: false)
</head>
<body>
    @if (hdnServerRequest != null)
    {
        for (int i = 0; i < hdnServerRequest.Count(); i++)
        {
            @Html.Hidden($"IP_{i}", hdnServerRequest[i].ToString())
        }
    }
    <!-- header start -->
    <header>
        <div class="container-fluid">
            @Html.Partial("_NavTopPartial")
        </div>
        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">
            <a href="/admin" class="logo-wrapper waves-effect position-relative">
                <img src="@(langId==2 ? Url.Content("~/Content/VLE/img/svg/logo-ar.svg") : Url.Content("~/Content/VLE/img/svg/logo.svg"))" alt="Phoenix" class="img-fluid logo" />
            </a>
            @{ Html.RenderAction("GetAdminMenuList", "Shared", new { area = "Shared" });}
            <span class="brand-g"></span>
            <div id="particles-js"></div>
        </div>
        <!-- <div class="sidenav-overlay"></div> -->
        <!-- Sidebar -->
    </header>
    <!-- header end -->
    <main class="pt-5 mx-lg-2 mt-4 teacher-dashbord">
        <div class="container-fluid mt-3 mt-md-2 mb-4">
            @{
                var loginType = Session["LoginType"] != null ? Session["LoginType"].ToString() : StringEnum.GetStringValue(MainModuleCodes.Classroom);
                Html.RenderAction("GetUserProfilePartialForMobile", "Shared", new { area = "Shared", loginType = loginType });
            }

            @RenderBody()
        </div>
    </main>
    <!-- footer start -->
    <footer>
        <p class="m-0 text-center">&copy; @ResourceManager.GetString("Shared.Labels.Copyright")</p>
    </footer>
    <!-- footer end -->
    <div class="modal fade popup-purple-shade blog-popup show" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header  text-white border-0">
                    <h5 class="modal-title" id="exampleModalLabel">@ResourceManager.GetString("Shared.Labels.SelectYourMood")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div>
        </div>
    </div>
    <!-- modal popups -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header  text-white border-0 pb-0">
                    <h5 class="m-0 text-medium" id="modal_heading"></h5>
                    <button type="button" class="close py-0 px-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal_Loader"></div>
            </div>
        </div>
    </div>

    <!-- session timeout popup start -->
    <div class="modal fade" id="sessionTimeout" tabindex="-1" role="dialog" aria-labelledby="sessionTimeoutLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header  text-white border-0 pb-0">
                    <h4 class="m-0 text-medium">@ResourceManager.GetString("Shared.Messages.SessionExpirationWarning")</h4>
                </div>
                <div class="modal-body">
                    <p>@ResourceManager.GetString("Shared.Messages.SessionInactive") </p>
                    <p>@ResourceManager.GetString("Shared.Messages.SessionExpireIn")<span class="bold arabictxt" id="sessionSecondsRemaining"></span> @ResourceManager.GetString("Shared.Labels.Seconds")</p>
                </div>
                <div class="modal-footer d-flex justify-content-start border-0 pt-0">
                    <button id="extendSession" type="button" class="btn btn-primary btn-success" data-dismiss="modal" onclick="ResetTimers(); clearCountdown();">@ResourceManager.GetString("Shared.Login.StayOnline")</button>
                    <button id="logoutSession" type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="IdleTimeout();">@ResourceManager.GetString("Shared.Login.Logout")</button>
                </div>
            </div>
        </div>
    </div>
    <!-- session timeout popup end -->
    <!-- modal popups end -->
    <!--Loader-->
    @Html.Partial("_LoaderPartial")
    <!--Loader end-->
    <!-- SCRIPTS -->

    @Scripts.Render("~/bundles/toplayoutjs")
    <!-- START PAGE PLUGINS -->
    @RenderSection("pageplugins", required: false)
    <!-- END PAGE PLUGINS -->
    @Scripts.Render("~/bundles/bottomlayoutjs")
    <!-- END PLUGINS-->
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
        $("#SchoolList").on("change", function () {
            var selectedSchoolId = $(this).val();
            console.log(selectedSchoolId);
            $.post("/Admin/ChangeSchool", { schoolId: selectedSchoolId }, function (data) {
                //console.log("changed successfully"+data);
                window.location.reload();
            });

        });

        $(document).ready(function () {
            $('#lightgallery').lightGallery({
                selector: '.galleryImg',
                share: false
            });
            $('#lightgalleryTeacher').lightGallery({
                selector: '.galleryImg',
                share: false
            });

            $(".schoolSelection .dropdown-menu").addClass("dropdown-menu-right");
        });
    </script>
</body>
</html>