﻿@using Phoenix.VLE.Web.Models
@using Phoenix.Common.Enums
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.Helpers
@using Phoenix.Common.Localization

@{
    var rnd = DateTime.Now.Ticks.ToString();
    var modulestructure = ModuleHelper.GetModuleTitle();
    var HomeUrl = "/SchoolInfo/Reports/index";
    var UrlPath = Request.Url.AbsolutePath.ToString();
    var currentSystemLanguage = Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage;
    var langId = currentSystemLanguage.SystemLanguageId;
    var langCode = currentSystemLanguage.SystemLanguageCode;
    var langIsRightToLeft = currentSystemLanguage.IsRightToLeft;

}

<!DOCTYPE html>
<html lang="@langCode" dir="@(langIsRightToLeft ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>@modulestructure.ModuleName</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/fontAwesome.min.css")" />
    <link href="@Url.Content("~/Content/VLE/css/addons/css-var.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/VLE/css/addons/filetype-icons.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/VLE/css/addons/menu-icon.css")" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap" rel="stylesheet">

    @Styles.Render("~/Content/bootstrapcore")
    <link href="@(langId == 2 ? Url.Content("~/Content/VLE/css/bootstrap-rtl.css") : Url.Content("~/Content/VLE/css/bootstrap.min.css"))" rel="stylesheet">
    @Styles.Render("~/Content/datatablecss")
    @Styles.Render("~/Content/calendar")
    @Styles.Render("~/Content/main-teacher")

    <link href="~/Content/VLE/css/addons/css-var.css" rel="stylesheet" type="text/css">
    <link href="~/Content/VLE/css/addons/filetype-icons.css" rel="stylesheet" type="text/css">
    <link href="~/Content/VLE/css/addons/menu-icon.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics Not required in Dev & QA -->
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175803884-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-175803884-2');
        </script>*@

    @RenderSection("devexpressplugins", required: false)
</head>

<body>

    <header>
        @Html.Partial("_NavTopPartial")
        <div class="sidebar-fixed position-fixed">

            @{ Html.RenderAction("GetAdminMenuList", "Shared", new { area = "Shared" });}

        </div>
    </header>

    <main class="pt-5 mx-lg-2 mt-4">
        <div class="container-fluid mt-2 mb-4">
            @if (HomeUrl.ToUpper() != UrlPath.ToUpper())
            {
                <div class="row sub-header bg-white sticky-top mb-3 h-auto py-3">
                    <div class="col-12 d-sm-flex justify-content-between px-3 align-items-center pt-3 pt-sm-0">
                        <nav class="breadcrumbs mb-2 mb-sm-0">
                            <ul class="align-items-center d-flex flex-sm-nowrap flex-wrap">
                                @{
                                    Html.RenderAction("GetAdminBreadCrumbModuleStructure", "Shared", new { area = "Shared" });
                                }
                            </ul>
                        </nav>
                        <div class="other-actions" id="breadcrumbActions">
                        </div>
                    </div>
                </div>
            }
            @{
                var loginType = Session["LoginType"] != null ? Session["LoginType"].ToString() : StringEnum.GetStringValue(MainModuleCodes.Classroom);
                Html.RenderAction("GetUserProfilePartialForMobile", "Shared", new { area = "Shared", loginType = loginType });
            }
            @RenderBody()
        </div>
    </main>

    <footer>
        <p class="m-0 text-center">&copy; @ResourceManager.GetString("Shared.Labels.Copyright")</p>
    </footer>

    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@ResourceManager.GetString("Shared.Labels.SelectYourMood")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"> </div>
            </div>
        </div>
    </div>

    <div class="modal fade popup-purple-shade blog-popup show" id="myModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white border-0" id="modal_heading"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div id="modal_Loader"></div>
            </div>
        </div>
    </div>

    <div class="modal fade popup-purple-shade blog-popup show" id="sessionTimeout" tabindex="-1" role="dialog" aria-labelledby="sessionTimeoutLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-white border-0">@ResourceManager.GetString("Shared.Messages.SessionExpirationWarning")</h4>
                </div>
                <div class="modal-body">
                    <p>@ResourceManager.GetString("Shared.Messages.SessionInactive") </p>
                    <p>@ResourceManager.GetString("Shared.Messages.SessionExpireIn")<span class="bold arabictxt" id="sessionSecondsRemaining"></span> @ResourceManager.GetString("Shared.Labels.Seconds")</p>
                </div>
                <div class="modal-footer d-flex justify-content-end border-0 pt-0">
                    <button id="logoutSession" type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="IdleTimeout();">@ResourceManager.GetString("Shared.Login.Logout")</button>
                    <button id="extendSession" type="button" class="btn btn-primary btn-success" data-dismiss="modal" onclick="ResetTimers(); clearCountdown();">@ResourceManager.GetString("Shared.Login.StayOnline")</button>
                </div>
            </div>
        </div>
    </div>
    <div id="dvnotificationdrawer">
        @if (SessionHelper.CurrentSession.IsAdmin)
        {
            Html.RenderAction("GetUserNotificationDrawer", "Shared", new { area = "Shared" });
        }
    </div>
    @Html.Partial("_LoaderPartial")
    @Scripts.Render("~/bundles/toplayoutjs")

    @RenderSection("pageplugins", required: false)
    @Scripts.Render("~/bundles/bottomlayoutjs")
    @if (SessionHelper.IsSessionActive())
    {
        @Html.Partial("_CommonScriptPartial")
    }
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $(document).on("change", '#SchoolList', function () {
                var selectedSchoolId = $(this).val();
                $.post("/Admin/ChangeSchool", { schoolId: selectedSchoolId }, function (data) {
                    window.location.reload();
                });
            });

            $(document).on("change", '#SchoolId', function () {
                var selectedSchoolId = $(this).val();
                $.post("/Admin/ChangeSchool", { schoolId: selectedSchoolId }, function (data) {
                    window.location.reload();
                });
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/signalr@2.4.1/jquery.signalR.min.js"></script>
    @Scripts.Render(@PhoenixConfiguration.Instance.SignalRApUrl + "/signalr/hubs")
</body>

</html>

