﻿@model IEnumerable<Phoenix.Models.Assignment>
@using Phoenix.Common.Enums;
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers.Extensions;

@{
    var orderedAssignmentStatus = new List<AssignmentStatusEnum>() {
    AssignmentStatusEnum.New,
    AssignmentStatusEnum.Pending,
    AssignmentStatusEnum.Overdue,
    AssignmentStatusEnum.Completed,
};
}

@foreach (AssignmentStatusEnum statusType in orderedAssignmentStatus)
{
    string cardClass = statusType == AssignmentStatusEnum.New ? "new" : statusType == AssignmentStatusEnum.Pending ? "in-progress" :
    statusType == AssignmentStatusEnum.Overdue ? "overdue" : "completed";
    string cardTitle = statusType == AssignmentStatusEnum.New ? ResourceManager.GetString("Shared.Labels.New") : statusType == AssignmentStatusEnum.Pending ? ResourceManager.GetString("Shared.Labels.InProgress") :
    statusType == AssignmentStatusEnum.Overdue ? ResourceManager.GetString("Shared.Labels.Overdue") : ResourceManager.GetString("Shared.Labels.Completed");
    string imageName = statusType == AssignmentStatusEnum.New ? "assignment-new.svg" : statusType == AssignmentStatusEnum.Pending ? "ic-inprogress.svg" :
    statusType == AssignmentStatusEnum.Overdue ? "ic-overdue.svg" : "ic-completed.svg";
    var filteredAssignment = Model.Where(e => e.AssignmentType == (char)statusType);
    string char_StatusType = Convert.ToString((char)statusType);

    int assgnTotalCount = 0;

    if (filteredAssignment != null && filteredAssignment.Count() > 0)
    {
        var firstFilteredAssignment = filteredAssignment.FirstOrDefault();

        assgnTotalCount = statusType == AssignmentStatusEnum.New ? firstFilteredAssignment.NewAssignmentCount :
            statusType == AssignmentStatusEnum.Pending ? firstFilteredAssignment.PendingAssignmentCount :
            statusType == AssignmentStatusEnum.Overdue ? firstFilteredAssignment.OverdueAssignmentCount :
            statusType == AssignmentStatusEnum.Completed ? firstFilteredAssignment.CompletedAssignmentCount : 0;
    }

    string cls_MR3 = "mr-3";
    if (statusType == AssignmentStatusEnum.Completed)
    {
        cls_MR3 = "";
    }

    <div class="card p-3 pb-3 d-block @cls_MR3">
        <div class="card-body">
            <div class="@cardClass rounded-2x px-2 px-lg-3">
                <a href="/assignments/assignment/index?assignmentType=@char_StatusType"
                   class="d-flex justify-content-between align-items-center">
                    <h1 class="text-bold arabictxt">@assgnTotalCount <span class="d-block text-medium">@cardTitle</span></h1>
                    <span><img src="~/Content/img/svg/@imageName" alt=""></span>
                </a>
            </div>
            <ul class="mt-4 owl-carousel owl-theme" id="assignments_@cardClass">
                <li>
                    @foreach (var assignment in filteredAssignment.Take(2))
                    {
                        <a tabindex="1" href="/Assignments/Assignment/StudentHomeworkAddEdit?Id=@EncryptDecryptHelper.EncryptUrl(assignment.AssignmentStudentId.ToString())"
                           class="assignment-title d-block" data-toggle="popover" data-trigger="focus"
                           title="@assignment.AssignmentTitle">
                            @assignment.AssignmentTitle
                        </a>
                        <span class="assignment-meta d-flex align-items-center sub-heading mt-2">
                            <img src="~/Content/VLE/img/svg/paperclip.svg" class="svg attachmentCount" alt=""><span class="mr-3 arabictxt">@assignment.NoofAttachment</span>
                            @if (assignment.DueDate.HasValue)
                            {
                                <img src="~/Content/VLE/img/svg/clock-icon.svg" class="svg clockIcon mr-1" alt=""><span class="arabictxt">@assignment.DueDate.Value.ToFormatedDate("dd MMM yyyy")</span>
                            }
                        </span>

                        <hr>
                    }
                    @if (!filteredAssignment.Any())
                    {
                        <span class="no-data-found text-bold d-block mx-auto my-auto">
                            @ResourceManager.GetString("Shared.Messages.NoDataFound")
                        </span>
                    }
                </li>
                @if (filteredAssignment.Count() > 2)
                {
                    <li>
                        @foreach (var assignment in filteredAssignment.Skip(2))
                        {
                            <a tabindex="1" href="/Assignments/Assignment/StudentHomeworkAddEdit?Id=@EncryptDecryptHelper.EncryptUrl(assignment.AssignmentStudentId.ToString())"
                               class="assignment-title d-block" data-toggle="popover" data-trigger="focus"
                               title="@assignment.AssignmentTitle">
                                @assignment.AssignmentTitle
                            </a>
                            <span class="assignment-meta d-flex align-items-center sub-heading mt-2">
                                <img src="~/Content/VLE/img/svg/paperclip.svg" class="svg attachmentCount" alt=""><span class="mr-3 arabictxt">@assignment.NoofAttachment</span>
                                @if (assignment.DueDate.HasValue)
                                {
                                    <img src="~/Content/VLE/img/svg/clock-icon.svg" class="svg clockIcon mr-1" alt=""><span class="arabictxt">@assignment.DueDate.Value.ToFormatedDate("dd MMM yyyy")</span>
                                }
                            </span>
                            <hr>
                        }
                    </li>
                }

            </ul>
            @if (filteredAssignment.Count() > 0)
            {
                <div id="counter-@statusType.ToString().ToLower()" class="position-absolute small text-semibold assignmentCounters"></div>
                <a href="/assignments/assignment/index?assignmentType=@char_StatusType" class="btn-link position-absolute text-medium">@ResourceManager.GetString("Shared.Buttons.ViewAll")</a>
            }

        </div>
    </div>
}
