﻿@model List<Phoenix.VLE.Web.ViewModels.CloudFileListView>
@using Phoenix.Common.Localization;


@foreach (var folder in Model.Where(x => x.IsFolder))
{
    <div class="ml-3 mb-1 col-sm-12 col-lg-12 search-item" data-search-text="@folder.Name">
        <label class="control-label">
        <a href="javascript:void(0)" data-folder-id="@folder.Id" class="folder-meta drive-folder-explorer drive-folder_@folder.Id">
             <img src="~/Content/vle/img/svg/folder.svg" class="svg" width="25" height="25">
            @folder.Name @(folder.FolderFilesCount > 0 ? $"({folder.FolderFilesCount})" : "")</a></label>
        <div class="ml-2 driveFolder drive-child-folder_@folder.Id"></div>
    </div>
}
@foreach (var file in Model.Where(x => !x.IsFolder))
{
    <div class="custom-control custom-checkbox ml-5  mb-1 col-sm-12 col-lg-12 search-item" data-search-text="@file.Name">
        <input type="checkbox" id="tch_@file.Id" class="custom-control-input chk-drive-file"
               data-file='{"Id" : "@file.Id", "Name": "@file.Name","FileExtension" : "@file.FileExtension", "WebContentLink" : "@file.WebContentLink", "WebViewLink":"@file.WebViewLink", "MimeType" : "@file.MimeType", "Size": "@file.Size", "DriveId" : "@file.DriveId", "ParentFolderId" : "@file.ParentFolderId", "ResourceFileTypeId" : "@file.ResourceFileTypeId"}'>

        <label class="custom-control-label" for="tch_@file.Id">
            @if (!string.IsNullOrEmpty(file.IconLink))
            {
                <img src="@file.IconLink" />
            }
            <span class="ml-1"> @file.Name </span>
        </label>
    </div>
}

<div class="row nofolderdiv" style="display:@(!Model.Any() ? "block" : "none")">
    <span class="no-data-found text-bold d-block mx-auto my-auto">
        @ResourceManager.GetString("Shared.Labels.NoRecords")
    </span>
</div>
