﻿@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization;
@{
    if (SessionHelper.CurrentSession.BannedWords == null || SessionHelper.CurrentSession.BannedWords.Count == 0)
    {
        SessionHelper.CurrentSession.BannedWords = new List<Phoenix.Models.BannedWord>();
    }
}
<iframe src="https://gemsedu.sharepoint.com/sites/App-PVS/ClassroomSync/SitePages/ClassroomSync.aspx" hidden="hidden"></iframe>

<script src="@Url.Content("~/Content/js/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript">
    //$(document).ready(function () {
        var isSessionActive = '@SessionHelper.IsSessionActive()';
        if (isSessionActive !== false) {

            var _bannedWords = @(SessionHelper.CurrentSession.BannedWords != null? Html.Raw(Json.Encode(SessionHelper.CurrentSession.BannedWords.Select(m => m.BannedWordName).ToList())): Html.Raw(""));

        }
    //});

/*! arabic
* Translated default messages for bootstrap-select.
* Locale: AR (Arabic)
* Author: Yasser Lotfy <y_l@alive.com>
*/

const lng = $('html').attr('lang');
 translatedResources.HideAll ='@ResourceManager.GetString("Shared.Labels.HideAll")';
 translatedResources.ShowAll  =  '@ResourceManager.GetString("Shared.Labels.Showall")';

var shortLangCode = 'en';
var longLangCode = 'en-US';
var formatCode = 'LTR'

if (lng === 'AR') {
    shortLangCode = 'ar';
    longLangCode = 'ar-AR';
    formatCode = 'LTR'
}
if (lng === 'AR') {
    (function ($) {
        $.fn.selectpicker.defaults = {
            noneSelectedText: 'لم يتم إختيار شئ',
            noneResultsText: 'لا توجد نتائج مطابقة لـ {0}',
            countSelectedText: function (numSelected, numTotal) {
                return (numSelected == 1) ? "{0} خيار تم إختياره" : "{0} خيارات تمت إختيارها";
            },
            maxOptionsText: function (numAll, numGroup) {
                return [
                    (numAll == 1) ? 'تخطى الحد المسموح ({n} خيار بحد أقصى)' : 'تخطى الحد المسموح ({n} خيارات بحد أقصى)',
                    (numGroup == 1) ? 'تخطى الحد المسموح للمجموعة ({n} خيار بحد أقصى)' : 'تخطى الحد المسموح للمجموعة ({n} خيارات بحد أقصى)'
                ];
            },
            selectAllText: 'إختيار الجميع',
            deselectAllText: 'إلغاء إختيار الجميع',
            multipleSeparator: '، '
        };
    })(jQuery);

}
else {
    (function (root, factory) {
        if (typeof define === 'function' && define.amd) {
            // AMD. Register as an anonymous module unless amdModuleId is set
            define(["jquery"], function (a0) {
                return (factory(a0));
            });
        } else if (typeof module === 'object' && module.exports) {
            // Node. Does not work with strict CommonJS, but
            // only CommonJS-like environments that support module.exports,
            // like Node.
            module.exports = factory(require("jquery"));
        } else {
            factory(root["jQuery"]);
        }
    }(this, function (jQuery) {

        (function ($) {
            $.fn.selectpicker.defaults = {
                noneSelectedText: 'Nothing selected',
                noneResultsText: 'No results match {0}',
                countSelectedText: function (numSelected, numTotal) {
                    return (numSelected == 1) ? "{0} item selected" : "{0} items selected";
                },
                maxOptionsText: function (numAll, numGroup) {
                    return [
                        (numAll == 1) ? 'Limit reached ({n} item max)' : 'Limit reached ({n} items max)',
                        (numGroup == 1) ? 'Group limit reached ({n} item max)' : 'Group limit reached ({n} items max)'
                    ];
                },
                selectAllText: 'Select All',
                deselectAllText: 'Deselect All',
                multipleSeparator: ', '
            };
        })(jQuery);


    }));
}
</script>
: