﻿@using Phoenix.Common.Localization

    <script>
        translatedResources.UnsignedIntMsg = '@ResourceManager.GetString("Shared.Version.Js")';
        translatedResources.IntegerMsg = '@ResourceManager.GetString("Shared.Messages.IntegerValidationMsg")';
        translatedResources.UnsignedIntMsg = '@ResourceManager.GetString("Shared.Messages.UnsignedValidationMsg")';
        translatedResources.DecimalMsg =  '@ResourceManager.GetString("Shared.Messages.DecimalValidationMsg")';
    </script>

<script src="@Url.Content("~/Content/js/common/common.js?v=" + ResourceManager.GetString("Shared.Version.Js"))"></script>