﻿@model IEnumerable<Phoenix.VLE.Web.Areas.SMS.Model.Common.Curriculum>
@using Phoenix.Common.Helpers

    @if (Model.Count() > 1)
    {
        var curriculum = (Phoenix.VLE.Web.Helpers.CommonHelper.GetCurrentCurriculum() as Phoenix.VLE.Web.Areas.SMS.Model.Common.Curriculum);
        var curriculumList = new SelectList(Model, "CLM_ID", "CLM_DESCR", curriculum.CLM_ID);
        @Html.DropDownList("CurriculumList", curriculumList, new { @id = "curriculumlList", @class = "selectpicker schoolSelection", @data_live_Search = "true" })
    }
    @*else
    {
        var curriculumDesc = Model.FirstOrDefault().CLM_DESCR;
        <h6 class="m-0 uploadLimit">@curriculumDesc</h6>
    }*@

