﻿@model IEnumerable<Phoenix.Models.SchoolGroup>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@if (Model.Any())
{
    <div class="item">
        <div class="row">
            @foreach (var item in Model)
            {
                var groupName = !string.IsNullOrWhiteSpace(item.TeacherGivenName) ? item.TeacherGivenName : item.SchoolGroupDescription;
                groupName = groupName.Length > 25 ? groupName.Substring(0, 25) + "..." : groupName;
                var courseName = !string.IsNullOrWhiteSpace(item.CourseTitle) && item.CourseTitle.Length > 25 ? item.CourseTitle.Substring(0, 25) + "..." : item.CourseTitle;

                var expression = !string.IsNullOrWhiteSpace(item.Expression) && item.Expression.Length > 30 ? item.Expression.Substring(0, 30) + "..." : item.Expression;

                var filePath = string.IsNullOrWhiteSpace(item.GroupImage) ? "/Content/VLE/img/group-default-banner.jpg" : (PhoenixConfiguration.Instance.ReadFilePath + item.GroupImage);
                <div class="col-lg-3 col-md-3 col-12 mb-1">
                    <article class="card mb-4">

                        <div data-id="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(item.SchoolGroupId))" class="group-header position-relative cursor-pointer">
                            <span class="group-image d-flex justify-content-end">
                                <img src="@filePath" alt="" class="img-fluid">
                            </span>
                            <div class="subject-name position-absolute top-0 p-3 d-flex justify-content-between w-100">
                                <a href="@Url.Content("/SchoolStructure/SchoolGroups/GroupDetails?grpId="+EncryptDecryptHelper.EncryptUrl(Convert.ToString(item.SchoolGroupId)))"  class="text-truncate">
                                    <h3 class="m-0 text-white text-semibold text-uppercase">@courseName</h3>
                                    <span class="font-16 text-semibold">@expression</span>
                                </a>
                                @if (SessionHelper.CurrentSession.IsStudent())
                                {
                                    <div class="dropleft group-actions">
                                        <button type="button" class="btn btn-transparent rounded-circle p-0 m-0 mt-n1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v text-white"></i></button>
                                        <div class="dropdown-menu z-depth-1 border-0 rounded-2x">
                                            @if (SessionHelper.CurrentSession.ZoomSessionEnabled)
                                            {
                                                <a class="dropdown-item px-4" href="javascript:void(0)" onclick="schoolGroup.getAllZoomMeetings(this, @item.SchoolGroupId)">@ResourceManager.GetString("SchoolGroup.SchoolGroup.ViewSynchronousLessons")</a>
                                            }
                                            @if (SessionHelper.CurrentSession.TeamsSessionEnabled)
                                            {
                                                <a class="dropdown-item px-4" href="javascript:void(0)" onclick="schoolGroup.getAllTeamsMeetings(this, @item.SchoolGroupId)">@ResourceManager.GetString("SchoolGroup.SchoolGroup.ViewTeamsMeeting")</a>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                        <div class="group-name p-3">
                            <a href="@Url.Content("/SchoolStructure/SchoolGroups/GroupDetails?grpId="+EncryptDecryptHelper.EncryptUrl(Convert.ToString(item.SchoolGroupId)))" class="d-block text-semibold text-truncate">
                                @groupName
                            </a>
                        </div>

                    </article>
                </div>
            }
        </div>
    </div>
}

