﻿@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions;
@{
    var rnd = DateTime.Now.Ticks.ToString();
}

<script type='text/javascript' src='@Url.Content("~/Scripts/jquery.validate.min.js'")'></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plugins/jquery.datatable/jquery.dataTables.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

<script language="javascript">
    var translatedResources = {
        selectedText: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Labels.Select")',
        noData: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Messages.NoData")',
        noDataToSave: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Messages.NoDataToSave")',
        chooseColumns: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Labels.ChooseColumns")',
        addSuccessMsg: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Messages.Added")',
        updateSuccessMsg: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Messages.Updated")',
        deleteRecord: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Labels.DeleteRecord")',
        deleteConfirm: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Messages.DeleteConfirm")',
        technicalError: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Messages.TechnicalError")',
        invalidEntry: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Messages.InvalidEntry")',
        ok: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Buttons.Ok")',
        cancel: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Buttons.Cancel")',
        save: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Buttons.Save")',
        add: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Labels.Add")',
        edit: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Labels.Edit")',
        actions: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Labels.Actions")',
        ajaxCallFailure: '@Phoenix.Common.Localization.LocalizationHelper.GetResourceText("Shared.Messages.AjaxCallFailure")'
    };
  
</script>
