﻿@model Phoenix.Common.ViewModels.FileUploadHelperMode
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Models.Entities
@using System.Linq
@{
    var id = Guid.NewGuid();
    Model.Tag.MergeAttribute("id", "files" + id, true);
    Dictionary<string, string> icons = new Dictionary<string, string>();
    icons.Add("doc,docx", "<i class=\"fas  fa-2x fa-file-word ic-file-word color-doc\"></i>");
    icons.Add("xls,xlsx", "<i class=\"fas  fa-2x fa-file-excel ic-file-excel color-excel\"></i>");
    icons.Add("ppt,pptx", "<i class=\"fas color-ppt fa-2x fa-file-powerpoint ic-file-ppt\"></i>");
    icons.Add("pdf", "<i class=\"fas fa-2x fa-file-pdf ic-file-pdf color-pdf\"></i>");
    icons.Add("zip,rar", "<i class=\"fas fa-2x fa-file-archive ic-file text-primary\"></i>");
    icons.Add("htm,html", "<i class=\"fas fa-2x fa-file-code ic-file text-primary\"></i>");
    icons.Add("txt,rtf", "<i class=\"fas fa-2x fa-file-alt ic-file color-txt\"></i>");
    icons.Add("mov,mp4,avi", "<i class=\"fas fa-2x fa-file-video ic-file color-video\"></i>");
    icons.Add("mp3", "<i class=\"fas fa-2x fa-file-audio ic-file color-audio\"></i>");
    icons.Add("jpg,jpeg,gif,png", "<i class=\"fas fa-2x fa-file-image ic-file-img color-image\"></i>");
    var isAjax = HttpContext.Current.Request.Headers["X-Requested-With"] == "XMLHttpRequest";
    var minHeight = Model.Tag.Attributes.FirstOrDefault(x => x.Key.ToLower().Contains("min-height")).Value ?? "null";
    var minWidht = Model.Tag.Attributes.FirstOrDefault(x => x.Key.ToLower().Contains("min-width")).Value ?? "null";
    var overrideDelete = Model.Tag.Attributes.FirstOrDefault(x => x.Key.ToLower().Contains("override-delete")).Value;
    var isInlineUpload = Model.Tag.Attributes.Any(x => x.Key.ToLower().Contains("inline")) ? Convert.ToBoolean(Model.Tag.Attributes.FirstOrDefault(x => x.Key.ToLower().Contains("inline")).Value) : false;
}

	@Html.Hidden("CloudFilesaveUri", "/Files/Files/SaveCourseCloudFiles")
@Html.Hidden("CourseFileUpload")
@Html.Hidden("ModuleId"+id, Model.Tag.Attributes.FirstOrDefault(x => x.Key.ToLower().Contains("module")).Value ?? string.Empty)
@Html.Hidden("CloudFileList")
@Html.Hidden("FileUploadPopId")							
<div class="row">
    <div class="card-body column-padding">
        <div class="content">
            <div class="attachments-preview mb-3">
                <ul class="d-flex" id="preview@(id)">
                    @foreach (var item in Model.Attachments)
                    {
                        if (item.AttachmentType == AttachmentType.Link)
                        {
                            var fileName = item.FileName;
                            var fileExtension = item.FileExtension;
                            var fileIcon = icons.Any(x => x.Key.ToLower().Contains(item.FileExtension)) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(item.FileExtension)).Value : "<i class=\"fas fa-2x fa-file\"></i>";
                            <li class="position-relative rounded" id="listIt@(item.AttachmentId)">
                                @{
                                    var filePath = item.AttachmentPath;
                                    if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.AttachmentPath))
                                    {
                                        <a href="@filePath" class="p-3 d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="@fileName" data-sub-html="@fileName">
                                            <img src="@filePath" class="img-fluid" style="display:none">
                                            @Html.Raw(fileIcon)
                                        </a>
                                    }
                                    else if (Phoenix.Common.Helpers.CommonHelper.CheckVideoExtension(item.AttachmentPath))
                                    {
                                        <span class="video filetype galleryImg p-3 d-block"
                                              data-html="#@item.AttachmentId"
                                              data-poster="@Constants.DefaultVideoImage">
                                            <a href="" class="filetype"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               data-title="@fileName">
                                                <img src="@Constants.DefaultVideoImage" class="img-fluid" style="display:none;">
                                                @Html.Raw(fileIcon)
                                            </a>
                                        </span>
                                        <div style="display:none;" id="@item.AttachmentId">
                                            <video class="lg-video-object lg-html5" controls="" preload="none">
                                                <source src="@filePath" type="video/mp4">
                                                @ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")
                                            </video>
                                        </div>
                                    }
                                    else
                                    {
                                        <a href="@item.AttachmentPath" target="_blank" class="p-3 otherfile@(id) d-block filetype" data-toggle="tooltip" data-placement="bottom" data-title="@fileName">
                                            @Html.Raw(fileIcon)
                                        </a>
                                    }
                                }
                                <a href="javascript:void(0)" class="remove position-absolute d-block bg-white" onclick="@(overrideDelete ?? $"globalFunctions.UpdateStatusToDelete({item.AttachmentId}, '{item.AttachmentPath}')")">
                                    <i class="fas fa-times-circle"></i>
                                </a>
                            </li>
                        }
                        else
                        {
                            var fileName = item.AttachmentPath.Split('_')[item.AttachmentPath.Split('_').Length - 1];
                            var fileExtension = System.IO.Path.GetExtension(item.AttachmentPath).Replace(".", "").ToLower();
                            var fileIcon = icons.Any(x => x.Key.ToLower().Contains(fileExtension)) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(fileExtension)).Value : "<i class=\"fas fa-2x fa-file\"></i>";
                            <li class="position-relative rounded" id="listIt@(item.AttachmentId)">
                                @{
                                    var filePath = PhoenixConfiguration.Instance.ReadFilePath + item.AttachmentPath;
                                    if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.AttachmentPath))
                                    {
                                        <a href="@filePath" class="p-3 d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="@fileName" data-sub-html="@fileName">
                                            <img src="@filePath" class="img-fluid" style="display:none">
                                            @Html.Raw(fileIcon)
                                        </a>
                                    }
                                    else if (Phoenix.Common.Helpers.CommonHelper.CheckVideoExtension(item.AttachmentPath))
                                    {
                                        <span class="video filetype galleryImg p-3 d-block"
                                              data-html="#@item.AttachmentId"
                                              data-poster="@Constants.DefaultVideoImage">
                                            <a href="" class="filetype"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               data-title="@fileName">
                                                <img src="@Constants.DefaultVideoImage" class="img-fluid" style="display:none;">
                                                @Html.Raw(fileIcon)
                                            </a>
                                        </span>
                                        <div style="display:none;" id="@item.AttachmentId">
                                            <video class="lg-video-object lg-html5" controls="" preload="none">
                                                <source src="@filePath" type="video/mp4">
                                                @ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")
                                            </video>
                                        </div>
                                    }
                                    else
                                    {
                                        <a href="#" class="p-3 otherfile@(id) d-block filetype" data-assignmentId="@item.AttachmentId" data-id="@EncryptDecryptHelper.EncryptUrl(item.AttachmentId)" data-uploadedPath="@EncryptDecryptHelper.EncryptUrl(item.AttachmentPath)" data-fileName="@EncryptDecryptHelper.EncryptUrl(fileName)" data-studentFilePath="@EncryptDecryptHelper.EncryptUrl(item.AttachmentPath)" data-toggle="tooltip" data-placement="bottom" data-title="@fileName">
                                            @Html.Raw(fileIcon)
                                        </a>
                                    }
                                }
                                @*<a href="javascript:void(0)" class="remove position-absolute d-block bg-white" onclick="@(overrideDelete ?? $"globalFunctions.UpdateStatusToDelete({item.AttachmentId}, '{item.AttachmentPath}')")">
                                    <i class="fas fa-times-circle"></i>
                                </a>*@
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
           
        var filePreview = @Html.Raw(Json.Encode(Model.Attachments.Where(x => x.AttachmentType == Phoenix.Models.Entities.AttachmentType.File)
 .Select(x => PhoenixConfiguration.Instance.ReadFilePath + x.AttachmentPath)));

        if (filePreview.length > 0)
            setTimeout(() => previewFileOnForm(), 800);
        function previewFileOnForm() {

            $('#preview@(id)').find('.filetype > i').addClass('fa-2x');
            $('[data-toggle="tooltip"]').tooltip();
        }
        $('#preview@(id)').lightGallery({ selector: '.galleryImg', share: false });
        $('.otherfile@(id)').click(function () {
            var id = $(this).data("id");
            if (id) {
                window.open("/Document/Viewer/Index?id=" + id + "&module=coursefiles", "_blank");
            }
        })


    });



</script>