﻿@using Phoenix.Common.Localization
@model Phoenix.VLE.Web.EditModels.ErrorLoggerEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{
    bool isIssueForm = (string)ViewBag.FormType == "I";

    var hideContact = !SessionHelper.CurrentSession.IsParent() ? "d-none" : "";
    var emailId = SessionHelper.CurrentSession.Email;
    var phoneNo = SessionHelper.CurrentSession.PhoneNumber;
}
<style>
    .popup-purple-shade .bootstrap-select button[type=button].dropdown-toggle .filter-option-inner-inner {
        font-weight: normal;
    }

    .time-icon:before {
        content: '';
        position: absolute;
        bottom: .8125rem;
        right: .6875rem;
        background: url(/content/vle/img/svg/ic-time.svg) no-repeat;
        background-size: contain;
        width: .875rem;
        height: .875rem;
        display: inline-block;
    }

    input#ErrorDateTime {
        font-weight: normal;
    }
</style>
<div class="modal-body">
    @if (isIssueForm)
    {
    <div id="issues">
        @using (Html.BeginForm("SaveErrorLog", "Home", FormMethod.Post, new { @id = "issuesform" }))
        {
            @Html.AntiForgeryToken()
            <p class="text-semibold">@ResourceManager.GetString("Shared.ErrorLogger.ProvideIssueInformation")</p>
            <div class="row mb-3">
                <div class="col-lg-4 col-12 d-flex align-items-center">
                    <p class="m-0 text-medium">@ResourceManager.GetString("Shared.ErrorLogger.IssueTypes") <span class="text-danger">*</span></p>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="md-form md-outline mb-0">
                        @Html.DropDownListFor(m => m.ReportIssueId, (SelectList)ViewBag.ReportIssuesType, ResourceManager.GetString("Shared.ErrorLogger.SelectIssue"), new { @class = "selectpicker w-responsive" })
                        @Html.ValidationMessageFor(x => x.ReportIssueId)
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4 col-12 d-flex align-items-center">
                    <p class="m-0 text-medium">@ResourceManager.GetString("Shared.ErrorLogger.OccuredWhen") <span class="text-danger">*</span></p>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="md-form md-outline date-time-picker mb-0">
                        @Html.TextBoxFor(m => m.ErrorDateTime, new { @class = "form-control datetimepicker  font-16 mb-0", @autocomplete = "off", @placeholder = ResourceManager.GetString("Shared.ErrorLogger.SelectDateTime") })
                        @Html.ValidationMessageFor(m => m.ErrorDateTime)
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4 col-12 d-flex align-items-center">
                    <p class="m-0 text-medium">@ResourceManager.GetString("Shared.ErrorLogger.UseFrequency") <span class="text-danger">*</span></p>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="md-form md-outline mb-0">
                        @{
                            var logFrequencyDdl = new SelectList(new List<SelectListItem> {
                                                        new SelectListItem{ Text=ResourceManager.GetString("Shared.ErrorLogger.Oneoff"), Value="One-off"},
                                                        new SelectListItem{ Text=ResourceManager.GetString("Shared.ErrorLogger.Occasionally"), Value="Occasionally"},
                                                        new SelectListItem{ Text=ResourceManager.GetString("Shared.ErrorLogger.Frequently"), Value="Frequently"}
                                                    }, "Value", "Text");
                        }
                        @Html.DropDownListFor(m => m.ErrorFrequency, (SelectList)logFrequencyDdl, new { @class = "selectpicker w-responsive", @placeholder = "Select frequency" })
                        @Html.ValidationMessageFor(m => m.ErrorFrequency)
                    </div>
                </div>
            </div>
           
                <div class="row mb-3 @hideContact">
                    <div class="col-lg-4 col-12 d-flex align-items-center">
                        
                        <div class="md-outline mb-0">
                            <p class="m-0 text-medium">@ResourceManager.GetString("Shared.ErrorLogger.ModeOfContact") </p>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="Email" name="ModeOfContact" checked>
                                <label class="custom-control-label" for="Email">@ResourceManager.GetString("Shared.ErrorLogger.Email")</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="Mobile" name="ModeOfContact">
                                <label class="custom-control-label" for="Mobile">@ResourceManager.GetString("Shared.ErrorLogger.Mobile")</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-8 col-12">
                        <div class="md-form md-outline mb-0">
                            @Html.TextBoxFor(m => m.ContactDetail, new { @class = "form-control font-16 mb-0", @autocomplete = "off", @placeholder = ResourceManager.GetString("Shared.ErrorLogger.ContactDetail"), @Value= $"{@emailId}", @data_email=$"{@emailId}", @data_phone = $"{phoneNo}" })
                            @Html.ValidationMessageFor(m => m.ContactDetail)
                        </div>
                    </div>
                </div>
               
            <div class="row mb-3">
                <div class="col-12 mt-2">
                    <div class="md-form md-outline mb-0">
                        @Html.TextAreaFor(m => m.ErrorMessage, new { @class = "md-textarea form-control mb-0 text-medium", @rows = "5" })
                        @Html.ValidationMessageFor(m => m.ErrorMessage)
                        <label for="txtarea" class="issue-description text-medium">@ResourceManager.GetString("Shared.ErrorLogger.IssueDetails") <span class="text-danger">*</span></label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="uploaderWidget uploaderWidget-lg text-center">
                        <input class="fileUploader" type="file" id="file-3" multiple>
                    </div>
                </div>
            </div>
        }

    </div>
    }
    @if (!isIssueForm)
    {
        <div id="feedback">
            @using (Html.BeginForm("SaveUserFeedback", "Home", FormMethod.Post, new { @id = "feedbackform" }))
            {
                @Html.AntiForgeryToken()
                <p class="text-semibold">@ResourceManager.GetString("Shared.FeedBack.RateExperience")</p>
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="cc-selector d-flex align-items-center">
                            <div class="radioBox">
                                <input id="que-1-1" type="radio" name="userrating" value="Very Dissatisfied" />
                                <label class="drinkcard-cc worst" for="que-1-1">
                                    <span class="d-flex">@ResourceManager.GetString("Shared.FeedBack.VeryDissatisfied")</span>
                                </label>
                            </div>
                            <div class="radioBox">
                                <input id="que-1-2" type="radio" name="userrating" value="Dissatisfied" />
                                <label class="drinkcard-cc bad" for="que-1-2">
                                    <span class="d-flex">@ResourceManager.GetString("Shared.FeedBack.Dissatisfied")</span>
                                </label>
                            </div>
                            <div class="radioBox">
                                <input id="que-1-3" type="radio" name="userrating" value="Neutral" />
                                <label class="drinkcard-cc neutral" for="que-1-3">
                                    <span class="d-flex">@ResourceManager.GetString("Shared.FeedBack.Neutral")</span>
                                </label>
                            </div>
                            <div class="radioBox">
                                <input id="que-1-4" type="radio" name="userrating" value="Satisfied" />
                                <label class="drinkcard-cc good" for="que-1-4">
                                    <span class="d-flex">@ResourceManager.GetString("Shared.FeedBack.Satisfied")</span>
                                </label>
                            </div>
                            <div class="radioBox">
                                <input id="que-1-5" type="radio" name="userrating" value="Very Satisfied" />
                                <label class="drinkcard-cc best" for="que-1-5">
                                    <span class="d-flex">@ResourceManager.GetString("Shared.FeedBack.VerySatisfied")</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-semibold">@ResourceManager.GetString("Shared.FeedBack.PleaseProvideFeedbackMessage")</p>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="md-form md-outline mb-0">
                            <textarea id="feedbackdescription" class="md-textarea form-control mb-0 text-medium" maxlength="1000" rows="5"></textarea>
                            @*<label for="feedbackdescription" class="issue-description text-medium">@ResourceManager.GetString("Shared.Labels.Description")</label>*@
                        </div>
                    </div>
                </div>
            }

        </div>
    }

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary my-0 mr-2" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
    <button type="button" id="btnReportError" onclick="errorLoggerFunctions.saveIssuesFeedBack(this)" class="btn btn-primary my-0">@ResourceManager.GetString("Shared.Buttons.Submit")</button>
</div>

@Html.Partial("_ValidationJSPartial")

<script>
    translatedResources.selectRating  = '@ResourceManager.GetString("Shared.FeedBack.SelectRating")';
</script>
<script>
    var errorLoggerFunctions = function () {
        var saveIssuesFeedBack = function (source) {
            var form = getCurrentForm();
            if (!$(form).valid())
                return;
            if (form == '#issuesform')
                saveIssueReport();
            else if (form == '#feedbackform')
                saveUserFeedback();
        },

            saveIssueReport = function () {
                var obj = {
                    __RequestVerificationToken: $("input[name=__RequestVerificationToken]").val(),
                    ReportIssueId: $("#ReportIssueId").val(),
                    ErrorDateTime: $("#ErrorDateTime").val(),
                    ErrorFrequency: $("#ErrorFrequency").val(),
                    ErrorMessage: $("#ErrorMessage").val(),
                    ReportIssueTitle: $("select#ReportIssueId option[value= " + $("#ReportIssueId").val() + "]").text(),
                    ModeOfContact: $("input[name='ModeOfContact']:checked").prop("id"),
                    ContactDetail: $("#ContactDetail").val()
                };
                $.ajax({
                    url: "/Home/SaveErrorLog",
                    type: "POST",
                    data: obj,
                    success: function (data) {
                        onSaveSuccess(data);
                    },
                    error: function () {
                        globalFunctions.onFailure();
                    }
                });
            },

            getCurrentForm = function () {
                var currentTab = $("#modal_Loader form");
                return "#"+currentTab.attr("id");
            },

            saveUserFeedback = function () {
                var rating = $(":radio[name=userrating]:checked").val();
                if (!globalFunctions.isValueValid(rating)) {
                    globalFunctions.showWarningMessage(translatedResources.selectRating);
                    return;
                }

                var obj = {
                    __RequestVerificationToken: $("#feedbackform input[name=__RequestVerificationToken]").val(),
                    FeedbackRating: rating,
                    Description: $("#feedbackdescription").val()
                }
                $.ajax({
                    url: "/Home/SaveUserFeedback",
                    type: "POST",
                    data: obj,
                    success: function (data) {
                        onSaveSuccess(data);
                    },
                    error: function () {
                        globalFunctions.onFailure();
                    }
                });
            },

            onSaveSuccess = function (data) {
                globalFunctions.showMessage(data.NotificationType, data.Message);
                if (data.Success)
                    $("#myModal").modal("hide");
            };

        return {
            saveIssuesFeedBack: saveIssuesFeedBack
        }
    }();

    $(function () {
        $(".selectpicker").selectpicker();
        $('.datetimepicker').datetimepicker({
            format: 'DD-MMM-YYYY h:mm a',
            maxDate: new Date(),
            sideBySide: true,
            widgetPositioning: {
                vertical: 'bottom'
            }
        });

        $(document).on('change', '#ReportIssueId', function () {
            $("[name='ReportIssueId']").valid()
        });

        $("input[name='ModeOfContact'").on("change", function (e) {
            if ($(this).prop('id') == "Email") {
                $("#ContactDetail").val($("#ContactDetail").data("email"))
            }
            else {
                $("#ContactDetail").val($("#ContactDetail").data("phone"));
            }
        });
        if ($(".fileUploader").length) {
             $(".fileUploader").fileinput({
            language:'@Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()',
            theme: "fas",
            uploadUrl: "/Home/UploadErrorScreenShot",
            showUpload: true,
            showCaption: false,
            showRemove: false,
            minFileCount: 1,
            maxFileCount: 8,
            maxFileSize: translatedResources.fileSizeAllow,
            allowedFileExtensions: @Html.Raw(Json.Encode(ViewBag.FileExtension)),
            browseClass: "btn btn-outline-primary rounded z-depth-0 m-0 p-0 mt-3 btn-browse",
            removeClass: "btn btn-sm m-0 z-depth-0",
            uploadClass: "btn btn-primary rounded z-depth-0 m-0 p-0 mt-3 btn-upload",
            cancelClass: "btn btn-default float-right rounded z-depth-0 m-0 p-0 mt-3 btn-cancel",
            overwriteInitial: false,
            initialPreviewAsData: true,
            initialPreviewConfig: [{
                frameAttr: {
                    title: 'My Custom Title',
                }
            }],
            fileActionSettings: {
                showZoom: false,
                showUpload: false,
                showDrag: false
            },
            preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
            previewFileIconSettings: fileInputControlSettings.previewFileIconSettings,
            previewSettings: fileInputControlSettings.previewSettings,
            previewFileExtSettings: fileInputControlSettings.previewFileExtSettings,
            msgSizeTooLarge: 'Total File size (<b>{size}</b>) exceeds maximum allowed upload size of <b>{maxSize}</b>. Please retry your upload!'
             })
                 .off('filebatchselected').on('filebatchselected', function (event, files) {
                 var size = 0;
                 $.each(files, function (ind, val) {
                     //console.log($(this).attr('size'));
                     size = size + $(this).attr('size');
                 });
    
                 var maxFileSize = $(this).data().fileinput.maxFileSize,
                     msg = $(this).data().fileinput.msgSizeTooLarge,
                     formatSize = (s) => {
                         i = Math.floor(Math.log(s) / Math.log(1024));
                         sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
                         out = (s / Math.pow(1024, i)).toFixed(2) * 1 + ' ' + sizes[i];
                         return out;
                     };

                 if ((size / 1024) > maxFileSize) {
                     msg = msg.replace('{name}', 'all files');
                     msg = msg.replace('{size}', formatSize(size));
                     msg = msg.replace('{maxSize}', formatSize(maxFileSize * 1024 /* Convert KB to Bytes */));
                     //$('li[data-thumb-id="thumb-postedFile-0"]').html(msg);
                     if (files.length > 1) {
                         $(".kv-fileinput-error.file-error-message").html('');
                         $(".kv-fileinput-error.file-error-message").html('');
                         $(".kv-fileinput-error.file-error-message").append(`<button type="button" class="close kv-error-close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button><ul><li data-thumb-id="thumb-error" data-file-id="thumb-error">`+ msg + `</li></ul>`).attr("style", "");
                         $(".close.kv-error-close").on('click', function (e) {
                             $(".kv-fileinput-error.file-error-message").attr("style", "display:none").html('');
                             //$(".fileinput-upload").removeClass('d-none');
                         });
                     }
                     else {
                         $(".kv-fileinput-error.file-error-message").html('');
                         $(".kv-fileinput-error.file-error-message").append(`<button type="button" class="close kv-error-close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button><ul><li data-thumb-id="thumb-error" data-file-id="thumb-error">`+ msg + `</li></ul>`).attr("style", "");
                         $(".close.kv-error-close").on('click', function (e) {
                             $(".kv-fileinput-error.file-error-message").attr("style", "display:none").html('');
                             //$(".fileinput-upload").removeClass('d-none');
                         });
                     }

                     $(".fileinput-upload").attr('disabled', true);
                 }
             });
        }


        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href") // activated tab
            $("#btnReportError").toggle(target!="#query");

        });
    });
</script>