﻿@model Phoenix.Common.ViewModels.FileUploadHelperMode
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Models.Entities
@using System.Linq
@{
    //to append guid to every id element to maintain uniquness
    var id = Guid.NewGuid();
    Model.Tag.MergeAttribute("id", "files" + id, true);

    #region collection of icons font awesome
    Dictionary<string, string> icons = new Dictionary<string, string>();
    icons.Add("doc,docx", "<i class=\"fas  fa-2x fa-file-word ic-file-word color-doc\"></i>");
    icons.Add("xls,xlsx", "<i class=\"fas  fa-2x fa-file-excel ic-file-excel color-excel\"></i>");
    icons.Add("ppt,pptx", "<i class=\"fas color-ppt fa-2x fa-file-powerpoint ic-file-ppt\"></i>");
    icons.Add("pdf", "<i class=\"fas fa-2x fa-file-pdf ic-file-pdf color-pdf\"></i>");
    icons.Add("zip,rar", "<i class=\"fas fa-2x fa-file-archive ic-file text-primary\"></i>");
    icons.Add("htm,html", "<i class=\"fas fa-2x fa-file-code ic-file text-primary\"></i>");
    icons.Add("txt,rtf", "<i class=\"fas fa-2x fa-file-alt ic-file color-txt\"></i>");
    icons.Add("mov,mp4,avi", "<i class=\"fas fa-2x fa-file-video ic-file color-video\"></i>");
    icons.Add("mp3", "<i class=\"fas fa-2x fa-file-audio ic-file color-audio\"></i>");
    icons.Add("jpg,jpeg,gif,png", "<i class=\"fas fa-2x fa-file-image ic-file-img color-image\"></i>");
    #endregion

    var attributes = Model.Tag.Attributes;

    //to identify weather the request is an ajax request or not
    var isAjax = HttpContext.Current.Request.Headers["X-Requested-With"] == "XMLHttpRequest";

    // If cloud file attribute is present then the upload cloud file feature will be available
    var isCloudFileUpload = !attributes.Any(x => x.Key.ToLower().Contains("nocloud"));

    var allowSystemImages = attributes.Any(x => x.Key.ToLower().Contains("allowsystemimages"));

    //to add validation for min height, width
    var minHeight = attributes.FirstOrDefault(x => x.Key.ToLower().Contains("min-height")).Value ?? "null";
    var minWidht = attributes.FirstOrDefault(x => x.Key.ToLower().Contains("min-width")).Value ?? "null";

    //to override the delete function of attachment thumbnail
    var overrideDelete = attributes.FirstOrDefault(x => x.Key.ToLower().Contains("override-delete")).Value;

    //to verify weather file upload is inline for popup
    var isInlineUpload = attributes.Any(x => x.Key.ToLower().Contains("inline")) ? Convert.ToBoolean(Model.Tag.Attributes.FirstOrDefault(x => x.Key.ToLower().Contains("inline")).Value) : false;

    var allowedFileExtensions = attributes.Any(x => x.Key.ToLower().Contains("allowedfileextensions")) ?
                               attributes.FirstOrDefault(x => x.Key.ToLower().Contains("allowedfileextensions")).Value.Split(',')
                               : new string[] { };

    var clickJs = "$(\"input[name='FileUploadPopId']\").val('" + id + "')";
}
@if (isCloudFileUpload)
{
    @Html.Hidden("CourseFileUpload", string.Empty, new { @id = "CourseFileUpload_" + id })
    @Html.Hidden("ModuleId" + id, Model.Tag.Attributes.FirstOrDefault(x => x.Key.ToLower().Contains("module")).Value ?? string.Empty)
    @Html.Hidden("CloudFileListInd", string.Empty, new { @id = "CloudFileList_" + id })
    @Html.Hidden("CloudFileList", string.Empty, new { @id = "CloudFile_" + id })
    @Html.Hidden("FileUploadPopId", string.Empty, new { @id = "FileUploadPopId_" + id })
}
@if (allowSystemImages)
{
    @Html.Hidden("SystemImageList", string.Empty, new { @id = "SystemImageId_" + id })
    @Html.Hidden("IsSystemImageUpload", string.Empty, new { @id = "IsSystemImageUpload_" + id })
    @Html.Hidden("FileName", string.Empty, new { @id = "FileName_" + id })
}
<div class="row">
    <div class="card-body column-padding">
        <div class="content customScroll">
            <div class="attachments-preview pt-2 mb-3">
                <ul class="d-flex flex-wrap" id="preview@(id)">
                    @foreach (var item in Model.Attachments)
                    {
                        if (item.AttachmentType == AttachmentType.Link && isCloudFileUpload)
                        {
                            var fileName = item.FileName;
                            var fileExtension = item.FileExtension;
                            var fileIcon = icons.Any(x => x.Key.ToLower().Contains(item.FileExtension)) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(item.FileExtension)).Value : "<i class=\"fas fa-2x fa-file\"></i>";
                            <li class="position-relative rounded mb-1" id="listIt@(item.AttachmentId)">
                                @{
                                    var filePath = item.AttachmentPath;
                                    if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.AttachmentPath))
                                    {
                                        <a href="@filePath" class="p-3 d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="@fileName" data-sub-html="@fileName">
                                            <img src="@filePath" class="img-fluid" style="display:none">
                                            @Html.Raw(fileIcon)
                                        </a>
                                    }
                                    else if (Phoenix.Common.Helpers.CommonHelper.CheckVideoExtension(item.AttachmentPath))
                                    {
                                        <span class="video filetype galleryImg p-3 d-block"
                                              data-html="#@item.AttachmentId"
                                              data-poster="@Constants.DefaultVideoImage">
                                            <a href="" class="filetype"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               data-title="@fileName">
                                                <img src="@Constants.DefaultVideoImage" class="img-fluid" style="display:none;">
                                                @Html.Raw(fileIcon)
                                            </a>
                                        </span>
                                        <div style="display:none;" id="@item.AttachmentId">
                                            <video class="lg-video-object lg-html5" controls="" preload="none">
                                                <source src="@filePath" type="video/mp4">
                                                @ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")
                                            </video>
                                        </div>
                                    }
                                    else
                                    {
                                        <a href="@item.AttachmentPath" target="_blank" class="p-3 d-block filetype" data-toggle="tooltip" data-placement="bottom" data-title="@fileName">
                                            @Html.Raw(fileIcon)
                                        </a>
                                    }
                                }

                                <a href="javascript:void(0)" class="remove position-absolute d-block bg-white" onclick="@(overrideDelete ?? $"globalFunctions.UpdateStatusToDelete({item.AttachmentId}, '{item.AttachmentPath}')")">
                                    <i class="fas fa-times-circle"></i>
                                </a>
                            </li>
                        }
                        else
                        {
                            var fileName = item.AttachmentPath.Split('_')[item.AttachmentPath.Split('_').Length - 1];
                            var fileExtension = System.IO.Path.GetExtension(item.AttachmentPath).Replace(".", "").ToLower();
                            var fileIcon = icons.Any(x => x.Key.ToLower().Contains(fileExtension)) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(fileExtension)).Value : "<i class=\"fas fa-2x fa-file\"></i>";
                            <li class="position-relative rounded mb-1" id="listIt@(item.AttachmentId)">
                                @{
                                    var filePath = PhoenixConfiguration.Instance.ReadFilePath + item.AttachmentPath;
                                    if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.AttachmentPath))
                                    {
                                        <a href="@filePath" class="p-3 d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="@fileName" data-sub-html="@fileName">
                                            <img src="@filePath" class="img-fluid" style="display:none">
                                            @Html.Raw(fileIcon)
                                        </a>
                                    }
                                    else if (Phoenix.Common.Helpers.CommonHelper.CheckVideoExtension(item.AttachmentPath))
                                    {
                                        <span class="video filetype galleryImg p-3 d-block"
                                              data-html="#@item.AttachmentId"
                                              data-poster="@Constants.DefaultVideoImage">
                                            <a href="" class="filetype"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               data-title="@fileName">
                                                <img src="@Constants.DefaultVideoImage" class="img-fluid" style="display:none;">
                                                @Html.Raw(fileIcon)
                                            </a>
                                        </span>
                                        <div style="display:none;" id="@item.AttachmentId">
                                            <video class="lg-video-object lg-html5" controls="" preload="none">
                                                <source src="@filePath" type="video/mp4">
                                                @ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")
                                            </video>
                                        </div>
                                    }
                                    else
                                    {
                                        <a href="#" class="p-3 otherfile@(id) d-block filetype" data-assignmentId="@item.AttachmentId" data-id="@EncryptDecryptHelper.EncryptUrl(item.AttachmentId)" data-uploadedPath="@EncryptDecryptHelper.EncryptUrl(item.AttachmentPath)" data-fileName="@EncryptDecryptHelper.EncryptUrl(fileName)" data-studentFilePath="@EncryptDecryptHelper.EncryptUrl(item.AttachmentPath)" data-toggle="tooltip" data-placement="bottom" data-title="@fileName">
                                            @Html.Raw(fileIcon)
                                        </a>
                                    }
                                }

                                <a href="javascript:void(0)" class="remove position-absolute d-block bg-white" onclick="@(overrideDelete ?? $"globalFunctions.UpdateStatusToDelete({item.AttachmentId}, '{(item.AttachmentType == AttachmentType.SystemImage ? "" :item.AttachmentPath)}')")">
                                    <i class="fas fa-times-circle"></i>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
@if (isInlineUpload)
{
    <div class="uploaderWidget text-center">
        @Html.Raw(Model.Tag.ToString(TagRenderMode.Normal))
    </div>
}
else
{
    <div class="row">
        <div class="col-12">
            <button type="button" style="@(Model.Tag.Attributes.FirstOrDefault(x => x.Key.ToLower().Contains("btnstyle")).Value ?? "null")" class="btn btn-outline-primary @(Model.Tag.Attributes.FirstOrDefault(x => x.Key.ToLower().Contains("buttoncss")).Value ?? "null")" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-paperclip mr-2"></i><span class="d-inline-block">@Html.Raw(Model.Tag.Attributes.FirstOrDefault(x => x.Key.ToLower().Contains("buttontext")).Value ?? ResourceManager.GetString("Shared.Labels.AddAttachment"))</span>
            </button>
            <div class="dropdown-menu add-attachment-wrapper py-2 px-0">
                @if (isCloudFileUpload)
                {
                    <a class="one-drive-file dropdown-item d-flex align-items-center one-drive-file cloud-file-view file-explorer" href="javascript:;" onclick="@(clickJs)" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.OneDrive)">
                        <i class="fas fa-cloud mr-2"></i>@ResourceManager.GetString("Files.File.OneDrive")
                    </a>
                    if (SessionHelper.CurrentSession.GoogleDriveIntegrationType != (short)Phoenix.Common.Enums.GoogleDriveIntegrationType.None)
                    {
                        <a class="google-drive-file dropdown-item d-flex align-items-center cloud-file-view file-explorer" href="javascript:;" onclick="@(clickJs)" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.GoogleDrive)">
                            <i class="fab fa-google-drive mr-2"></i>@ResourceManager.GetString("Files.File.GoogleDrive")
                        </a>
                    }
                }
                <a class="dropdown-item d-flex align-items-center" data-toggle="modal" href="#" onclick="@(clickJs)" data-target="#fileUploadModal@(id)">
                    <i class="fas fa-file-alt mr-2"></i>@ResourceManager.GetString("Shared.Labels.FileAttachment")
                </a>
                @if (allowSystemImages)
                {
                    <a class="dropdown-item d-flex align-items-center" data-toggle="modal" href="#" onclick="@(clickJs)" data-target="#systemImagesModal@(id)">
                        <i class="fas fa-file-alt mr-2"></i>System Images
                    </a>
                    <input type="hidden" id="hdnGUID" value="@id" />
                }
            </div>
        </div>
    </div>
    <div class="modal fade popup-purple-shade blog-popup" id="fileUploadModal@(id)" tabindex="-1" role="dialog" aria-labelledby="fileUploadPopup" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0 pb-0">
                    <h5 class="modal-title text-white border-0">@ResourceManager.GetString("Shared.Labels.UploadLimit")</h5>
                    <button type="button" class="close py-0 px-2" onclick="$('#fileUploadModal@(id)').modal('hide')" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body uploaderWidget text-center">
                    @Html.Raw(Model.Tag.ToString(TagRenderMode.Normal))
                </div>
            </div>
        </div>
    </div>
    if (allowSystemImages)
    {
        <div class="modal fade popup-purple-shade blog-popup" id="systemImagesModal@(id)" tabindex="-1" role="dialog" aria-labelledby="fileUploadPopup" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header border-0 pb-0">
                        <h5 class="modal-title text-white border-0">Select System Images</h5>
                        <button type="button" class="close py-0 px-2" onclick="$('#systemImagesModal@(id)').modal('hide')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body uploaderWidget text-center">

                        <div>
                            @{
                                Html.RenderAction("SystemFileExtension", "Shared", new { @area = "Shared" });
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
}

<script>
    window.addEventListener("submit", function (e) {
        var form = e.target;
        if (form.getAttribute("enctype") === "multipart/form-data") {
            if (form.dataset.ajax) {
                e.preventDefault();
                e.stopImmediatePropagation();
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        if (form.dataset.ajaxUpdate) {
                            var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                            if (updateTarget) {
                                updateTarget.innerHTML = xhr.responseText;
                            }
                        }
                        if (form.dataset.ajaxSuccess) {
                            var functionName = form.dataset.ajaxSuccess;
                            var responseData = globalFunctions.isJson(xhr.response) ? JSON.parse(xhr.response) : xhr.response;
                            functionName.indexOf('.') !== -1 ?
                                window[functionName.split('.')[0]][functionName.split('.')[1]](responseData)
                                : window[functionName](JSON.parse(xhr.response))

                        }
                    } else if(xhr.readyState == 4 && xhr.status != 200) {
                        if (form.dataset.ajaxFailure) {
                            var functionName = form.dataset.ajaxFailure;
                            var responseData = globalFunctions.isJson(xhr.response) ? JSON.parse(xhr.response) : xhr.response;
                            functionName.indexOf('.') !== -1 ?
                                window[functionName.split('.')[0]][functionName.split('.')[1]](responseData)
                                : window[functionName](JSON.parse(xhr.response))
                        }
                    }
                };
                var formData = new FormData(form);
                if (form.dataset.ajaxBegin) {
                    var functionName = form.dataset.ajaxBegin.replace('return', '').replace(' ', '');
                    var result = functionName.indexOf('.') !== -1 ?
                        window[functionName.split('.')[0]][functionName.split('.')[1].replace('()', '')](functionName.substring(functionName.indexOf('(') + 1, functionName.indexOf(')')).replace('"', ''))
                        : window[functionName](functionName.substring(functionName.indexOf('(') + 1, functionName.indexOf(')')).replace('"', ''));
                    if (result.then)
                        result.then(x => { if (x && $(form).valid()) xhr.send(formData); });
                    else if (result && $(form).valid())
                        xhr.send(formData)
                } else if ($(form).valid()) {
                    xhr.send(formData);
                }
            }
        }
    }, true);
    console.log('files@(id)');
    @Html.Raw(isAjax? "$(document).ready(" : "document.addEventListener('DOMContentLoaded',") function(){
        $("#files@(id)").fileinput({
                language:'@Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()',
                title: '@ResourceManager.GetString("Shared.Labels.BrowseFile")',
                theme: "fas",
                uploadUrl: "/file-upload-batch/2",
                showUpload: false,
                showCaption: false,
                showRemove: false,
                allowedFileExtensions: @Html.Raw(Json.Encode(allowedFileExtensions)),
                minFileCount: 1,
                maxFileCount: 8,
                uploadAsync: false,
                browseClass: "btn btn-outline-primary rounded z-depth-0 m-0 p-0 mt-3 btn-browse",
                removeClass: "btn btn-sm m-0 z-depth-0",
                uploadClass: "btn btn-primary rounded z-depth-0 m-0 p-0 mt-3 btn-upload",
                cancelClass: "btn btn-default float-right rounded z-depth-0 m-0 p-0 mt-3 btn-cancel",
                overwriteInitial: false,
                initialPreviewAsData: true, // defaults markup
                uploadExtraData: {
                    img_key: "1000",
                    img_keywords: "happy, nature"
                },
                fileActionSettings: fileInputControlSettings.fileActionSettings,
                minImageHeight: @Html.Raw(minHeight),
                minImageWidth: @Html.Raw(minWidht),
                preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
                previewFileIconSettings: fileInputControlSettings.previewFileIconSettings,
                previewSettings: fileInputControlSettings.previewSettings,
                previewFileExtSettings: fileInputControlSettings.previewFileExtSettings
            })
                .on('fileremoved', function (e, params) {
                setTimeout(() => previewFileOnForm(), 800);
                })
            .on('fileloaded', function (e, params) {
                console.log('file loaded');
                    previewFileOnForm();
                }).on('filebeforedelete', function (xhr) {
                    return new Promise(function (resolve, reject) {
                        globalFunctions.notyDltConfirm(translatedResources.deleteConfirm, resolve(), reject());
                    })
            }).on('filedeleted', function () {
                previewFileOnForm();
            });
        $("#files@(id)").change(function () {
            var fileINput = $(this);
            var allowedFiles = @Html.Raw(Json.Encode(allowedFileExtensions));
            if (allowedFiles.length > 0) {
                var filesArray = Array.from(fileINput[0].files);
                var isInvalidFile = filesArray.map(x => {
                    var fileNamesArray = x.name.split('.');

                    return allowedFiles.some(x => x == fileNamesArray[fileNamesArray.length - 1]);

                });
                if (isInvalidFile.some(x => !x))
                    fileINput.val('');
            }
        })
        if (!('@isInlineUpload'.toBoolean())) {
            setTimeout(() => {
                $('#files@(id)').parent().after(`
            <div class="btn btn-browse btn-primary float-lg-right mt-3 p-0 rounded z-depth-0" onclick="$('#fileUploadModal@(id)').modal('hide')"><i class="fas fa-folder-open"></i>  <span class="hidden-xs">Done</span></div>`);
            }, 800);
        }
        function previewFileOnForm() {
            var previewIcon = fileInputControlSettings.previewFileIconSettings;
            var config = [];
            //file stack from file input to show the files preview
            var filesStack = $("#files@(id)").fileinput('getFileStack')
            //get files keys
            var fileKeys = Object.keys(filesStack);
            //get files array to fetch file name
            var filesArray = fileKeys.map(fileKey => filesStack[fileKey]);
            var loaded = filesArray.map(x => x.name);

            //loop over to generate array which will be used to show preview
            if (loaded.length > 0) {
                for (var i = 0; i < loaded.length; i++) {
                    var fileName = loaded[i];
                    var fileId = fileKeys[i];
                    var type = fileName.split('.')[1];
                    config.push({ caption: loaded[i], type: type, fileInputFileId: fileId });
                }
            }

            //remove all the new files preview to show all the selected files
            $('#preview@(id)').find('li.newFile.local').remove();
            if (config) {
                var con = config;
                for (var i = 0; i < con.length; i++) {
                    var fileIcon = previewIcon[con[i].type] ? previewIcon[con[i].type] : '<i class="fas fa-file"></i>';
                    $('#preview@(id)').append(`
                        <li class="position-relative rounded newFile local">
                            <a href="javascript:void(0);" class="p-3 d-block filetype " data-toggle="tooltip" data-placement="bottom" data-title="${con[i].caption}">${fileIcon}</a>
                            <a href="javascript:void(0)"  onclick="common.removeFileFromFileInput('${con[i].fileInputFileId}')" class="remove position-absolute d-block bg-white"><i class="fas fa-times-circle"></i></a>
                        </li>
                        `);
                }
            }

            //to increase the size of the icons
            $('#preview@(id)').find('.filetype > i').addClass('fa-2x');
            $('[data-toggle="tooltip"]').tooltip();
            common.setFilePreviewScrollBar($('#preview@(id)'));
        }

        $('#preview@(id)').lightGallery({ selector: '.galleryImg', share: false });
        $('.otherfile@(id)').click(function () {
            var id = $(this).data("id");
            if (id) {
                window.open("/Document/Viewer/Index?id=" + id + "&module=coursefiles", "_blank");
            }
        });
        common.setFilePreviewScrollBar($('#preview@(id)'));

        $('.ImageBox').click(function () {
            var imageSelectedMark = '<i class="ImageSelected fas fa-check-circle d-flex font-16 ml-2 mt-2 position-absolute text-white" data-toggle="tooltip" title="Current Banner" data-placement="right"></i>';
                $('.ImageBox').find('.ImageSelected').remove();
                $(this).append(imageSelectedMark);
                var imagePath = $(this).find('img').data('imagepath');
                var id = $('#hdnGUID').val();
                $('#SystemImageId_'+id).val(imagePath);
                var imageName = $(this).find('img').data('filename');
                $('input[name="IsSystemImageUpload"]').val(true);
                $('#FileName_' + id).val(imageName);
                $('#preview' + id).find('.systemimage').remove();
                $('#systemImagesModal' + id).modal('hide');
                 $('#preview'+id).append(`
                        <li class="position-relative rounded newFile local systemimage">
                            <a href="javascript:void(0)" class="p-3 d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="${imageName}"><i class="fas fa-2x fa-file-image ic-file-img color-image"></i></a>
                            <a href="javascript:void(0)"  onclick="removeSystemImageFile(this);" class="remove position-absolute d-block bg-white"><i class="fas fa-times-circle"></i></a>
                        </li>
                        `);
            });

        $("#divSystemImages").mCustomScrollbar({
            setHeight: "350px",
            autoExpandScrollbar: true,
            autoHideScrollbar: false,
            scrollbarPosition: "inside",
            scrollInertia: 5,
            setTop: 0,
            advanced: { updateOnContentResize: true },

        });



    });

    function removeSystemImageFile(obj) {
        globalFunctions.notyDltConfirm(translatedResources.deleteConfirm, () => {
            $(obj).closest('li').remove();
            var id = $('#hdnGUID').val();
            $('input[name="IsSystemImageUpload"]').val(false);
            $('#FileName_' + id).val('');
            $('#SystemImageId_' + id).val('');
            $('.ImageBox').removeClass('ImageSelected');
        });

    }
</script>