﻿@using Phoenix.VLE.Web.Models
@using Phoenix.Common.Enums
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Helpers
@using Phoenix.Common.Localization
@{
    var rnd = DateTime.Now.Ticks.ToString();
    var modulestructure = ModuleHelper.GetModuleTitle();
    //Language helper
    var currentSystemLanguage = Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage;
    var langId = currentSystemLanguage.SystemLanguageId;
    var langCode = currentSystemLanguage.SystemLanguageCode;
    var langIsRightToLeft = currentSystemLanguage.IsRightToLeft;
    var hdnServerRequest = System.Net.Dns.GetHostAddresses(System.Net.Dns.GetHostName());
}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@modulestructure.ModuleName</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/content/css/addons/jquery.minicolors.css" rel="stylesheet" type="text/css">

    <!-- calendar css -->
    <link href="~/Content/content/calendar-packages/core/main.css" rel="stylesheet" type="text/css">
    <link href="~/Content/content/calendar-packages/daygrid/main.css" rel="stylesheet" type="text/css">
    <link href="~/Content/content/calendar-packages/bootstrap/main.css" rel="stylesheet" type="text/css">

    <!-- file upload css -->
    <link href="~/Content/content/css/addons/fileinput/fileinput.css" rel="stylesheet" type="text/css">
    <link href="~/Content/content/css/addons/fileinput/explorer-fas-theme.css" rel="stylesheet" type="text/css">

    <!-- Material Design Bootstrap -->
    <link href="~/Content/content/css/addons/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <link href="~/Content/content/css/addons/loader.css" rel="stylesheet" type="text/css">
    <link href="~/Content/content/css/addons/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/content/css/addons/owl.theme.default.min.css" rel="stylesheet" type="text/css">

    <!-- Date Time CSS -->
    <link href="~/Content/content/css/addons/bootstrap-datetimepicker-standalone.css" rel="stylesheet">
    <link href="~/Content/content/css/addons/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- Unit Calendar Custom css -->
    @* <link href="~/Content/content/css/unit-calendar.css" rel="stylesheet">*@

    <link href="~/Content/content/css/main-teacher.css" rel="stylesheet" type="text/css">

</head>

<body>
    <!-- header start -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <!--Navbar -->
                    <nav class="navbar fixed-top navbar-expand-md colored-nav scrolling-navbar main-nav py-3 py-sm-0 px-1">
                        <div class="app-logo d-block d-lg-none mr-3">
                            <img src="~/Content/Content/img/svg/logo-colored.svg" alt="Classroom">
                        </div>
                        <button class="navbar-toggler first-button d-md-block d-lg-none" type="button">
                            <div class="animated-icon1"><span></span><span></span><span></span></div>
                        </button>
                        <div class="collapse navbar-collapse">
                            <div class="app-logo d-none d-md-none d-lg-block">
                                <img src="~/Content/Content/img/svg/logo-colored.svg" alt="Classroom">
                            </div>
                            <ul class="navbar-nav ml-auto nav-flex-icons right-nav">
                                <li class="nav-item dropdown language-switcher">
                                    <a href="javascript:void(0)" class="nav-link p-0 text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <!-- <i class="fas fa-language m-0" data-toggle="tooltip" data-title="Change Language" data-placement="left"></i> -->
                                        <small class="rounded border" data-toggle="tooltip" data-title="Change Language" data-placement="left"><strong>EN</strong></small>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right z-depth-1 language-dropdown pt-2 pb-2 animate slideIn">
                                        <a class="dropdown-item px-3 active-language d-flex align-items-center justify-content-between" href="#">English <i class="fas fa-check"></i></a>
                                        <a class="dropdown-item px-3 d-flex align-items-center justify-content-between" href="#">Arabic <i class="fas fa-check"></i></a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="btn-group btn-group-sm font-adjust ml-3" role="group">
                                        <button type="button" class="btn btn-outline-default btn-sm">A</button>
                                        <button type="button" class="btn btn-outline-default btn-sm">A +</button>
                                        <button type="button" class="btn btn-outline-default btn-sm">A -</button>
                                    </div>
                                </li>

                                <li class="nav-item notifications">
                                    <a href="javascript:void(0)" class="nav-link trigger-rightDrawer has-notifications" data-target="drawer-1" data-width="40%">
                                        <i class="far fa-bell position-relative"><span class="notification-count">5</span></i>
                                    </a>
                                </li>
                                <li class="nav-item avatar dropdown">
                                    <a class="nav-link pr-1 pl-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="~/Content/Content/img/avatar-3.jpg" class="rounded-circle" alt="">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right z-depth-1 profile-dropdown pt-3 pb-0 animate slideIn">
                                        <div class="profile-card clearfix d-flex">
                                            <div class="profile-img float-left d-block">
                                                <img src="~/Content/Content/img/avatar-3.jpg" class="img-fluid z-depth-0 rounded-circle" alt="">
                                                <a href="#" class="edit-profile-img rounded-circle" data-toggle="tooltip" data-title="Change Avatar" data-placement="bottom"><i class="fas fa-pencil-alt"></i></a>
                                            </div>
                                            <div class="profile-name float-left d-block align-middle align-self-center">
                                                <h3>Jacob Christopher</h3>
                                                <a href="#" data-toggle="modal" data-target="#selectMoodModal" class="change-mood dropdown-toggle">
                                                    <img src="~/Content/Content/img/smileys/smiley-happy.svg" alt="Smiley"> Feeling <span>Happy</span>
                                                </a>
                                            </div>
                                        </div>
                                        <p class="user-status">Struggle Is What Gives Us Meaning & Makes Us Human!</p>
                                        <ul class="profile-actions">
                                            <li class="dropdown-divider"></li>
                                            <li><a href="">View Profile</a></li>
                                            <li><a href="">Account Settings</a></li>
                                            <li class="dropdown-divider"></li>
                                            <li>
                                                <a href="#"><img src="~/Content/Content/img/svg/ic-logout.svg" class="border-0 shadow-none" alt="Logout">Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">
            <a href="dashboard.html" class="logo-wrapper d-block bg-white position-relative text-center px-1 py-4">
                <img src="~/Content/Content/img/gems-wellington.png" class="img-fluid" alt="GEMS Wellington International School">
            </a>

            <div class="list-group list-group-flush pb-5">

                <a href="#" class="active py-3 d-block">
                    <span class="ic-dashboard title-icon" title="Dashboard"></span>
                    <span class="pagename text-white text-center d-block mt-3">Dashboard</span>
                </a>
                <a href="#" class="py-3 d-block">
                    <span class="ic-live-sessions title-icon" title="Live Sessions"></span>
                    <span class="pagename text-white text-center d-block mt-3">Live Sessions</span>
                </a>
                <a href="#" class="py-3 d-block">
                    <span class="ic-recorded-sessions title-icon" title="Recorded Sessions"></span>
                    <span class="pagename text-white text-center d-block mt-3">Recorded Sessions</span>
                </a>
                <a href="#" class="py-3 d-block">
                    <span class="ic-my-planner title-icon" title="My Planner"></span>
                    <span class="pagename text-white text-center d-block mt-3">My Planner</span>
                </a>
                <a href="#" class="py-3 d-block">
                    <span class="ic-class-groups title-icon" title="Class Groups"></span>
                    <span class="pagename text-white text-center d-block mt-3">Class Groups</span>
                </a>
                <a href="#" class="py-3 d-block">
                    <span class="ic-other-groups title-icon" title="Other Groups"></span>
                    <span class="pagename text-white text-center d-block mt-3">Other Groups</span>
                </a>
                <a href="#" class="py-3 d-block">
                    <span class="ic-drive title-icon" title="Drive"></span>
                    <span class="pagename text-white text-center d-block mt-3">Drive</span>
                </a>
                <a href="#" class="py-3 d-block">
                    <span class="ic-vault title-icon" title="Vault"></span>
                    <span class="pagename text-white text-center d-block mt-3">Vault</span>
                </a>
                <a href="#" class="py-3 d-block">
                    <span class="ic-knowledge-hub title-icon" title="Knowledge Hub"></span>
                    <span class="pagename text-white text-center d-block mt-3">Knowledge Hub</span>
                </a>

                <a href="#" class="py-3 d-block">
                    <span class="ic-school-updates title-icon" title="School Updates"></span>
                    <span class="pagename text-white text-center d-block mt-3">School Updates</span>
                </a>
                <a href="#" class="py-3 d-block">
                    <span class="ic-activities title-icon" title="Activities"></span>
                    <span class="pagename text-white text-center d-block mt-3">Activities</span>
                </a>

                <a href="#" class="py-3 d-block">
                    <span class="ic-curriculum title-icon" title="Curriculum"></span>
                    <span class="pagename text-white text-center d-block mt-3">Curriculum</span>
                </a>
                <a href="#" class="py-3 d-block">
                    <span class="ic-attendance title-icon" title="Attendance"></span>
                    <span class="pagename text-white text-center d-block mt-3">Attendance</span>
                </a>
                <a href="#" class="py-3 d-block">
                    <span class="ic-fee-payment title-icon" title="Fee & Payment"></span>
                    <span class="pagename text-white text-center d-block mt-3">Fee & Payment</span>
                </a>
                <a href="#" class="py-3 d-block">
                    <span class="ic-requests title-icon" title="Requests"></span>
                    <span class="pagename text-white text-center d-block mt-3">Requests</span>
                </a>
                <a href="#" class="py-3 d-block">
                    <span class="ic-update-information title-icon" title="Update Information"></span>
                    <span class="pagename text-white text-center d-block mt-3">Update Information</span>
                </a>


                <a href="#" class="py-3 d-block">
                    <span class="ic-chatter title-icon" title="Chatter"></span>
                    <span class="pagename text-white text-center d-block mt-3">Chatter</span>
                </a>

                <a href="#" class="py-3 d-block">
                    <span class="ic-ambassador-program title-icon" title="Chatter"></span>
                    <span class="pagename text-white text-center d-block mt-3">Ambassador Program</span>
                </a>

            </div>

        </div>
        <!-- Sidebar -->
    </header>
    <!-- header end -->


    <main class="mx-lg-2">
        <div class="container-fluid mt-3 mt-md-2 mb-4">
            <!-- user profile for mobile -->
            <div class="mobile-user-box d-none d-sm-none mb-3 mt-4">
                <div class="bg-white">
                    <div class="wrap">
                        <div class="user-meta column-padding pt-3">
                            <div class="row">
                                <div class="col-12 d-flex align-items-center">
                                    <div class="profileImg">
                                        <img src="~/Content/Content/img/avatar-2.jpg" class="rounded" alt="ANAM AHMAD">
                                        <a href="#" class="edit-profile-img" data-toggle="tooltip" data-title="Change Avatar" data-placement="bottom" data-original-title="" title=""><i class="fas fa-pencil-alt"></i></a>
                                    </div>
                                    <div class="user-info pl-3 pr-0 text-left">
                                        <h4 class="m-0">ANAM AHMAD</h4>
                                        <p class="m-0">
                                            <span>Cras feugiat tortor purus, fringilla.</span>
                                            <a href="#" class="ml-2"><i class="far fa-edit text-white"></i></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="wave"></div>
                            <div class="wave"></div>
                            <!--  <div class="wave"></div> -->
                        </div>
                    </div>
                    <!-- mobile notifications -->
                    <div class="row mt-2 px-3">
                        <div class="col-10">
                            <a href="#" class="change-mood d-inline-block mt-2">
                                <img src="http://classroom_uat.gemseducation.com/Content/VLE/img/smileys/008-tired-3.png" class="mr-2">
                                Feeling <span>Tired</span>
                            </a>
                        </div>
                        <div class="col-2 dropdown dropleft mb-3">
                            <a href="javascript:void(0)" class="btn btn-outline-primary m-0 px-3 w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-stream my-2"></i>
                            </a>
                            <div class="dropdown-menu z-depth-1 user-action-dropdown px-0 py-2 animate slideIn">
                                <ul>
                                    <li><a href="#" class="px-3"><img src="~/Content/Content/img/svg/ic-smart-school.svg" class="mr-2"> Smart School</a></li>
                                    <li><a href="#" class="px-3"><img src="~/Content/Content/img/svg/ic-error-log.svg" class="mr-2"> Report Error</a></li>
                                    <li class="dropdown-divider mb-0"></li>
                                    <li><h6 class="dropdown-header px-3 text-dark mb-2">Language</h6></li>
                                    <li><a href="" class="px-3 justify-content-between">English <i class="fas fa-check"></i></a></li>
                                    <li><a href="" class="px-3 justify-content-between">العربية </a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a href="#" class="px-3"><img src="~/Content/Content/img/svg/ic-logout.svg" class="mr-2"> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- mobile notifications -->
                </div>

            </div>
            @RenderBody()
        </div>
    </main>

    <!-- footer start -->
    <footer>
        <p class="m-0 text-center">&copy; Copyright, GEMS Education</p>
    </footer>
    <!-- footer end -->
    <div id="assignment-popover"></div>

    <div role="alert" class="paymentDue-toast d-none z-depth-2" data-autohide="true">
        <div class="toast-header">
            <strong class="mr-auto text-primary">Fee Payment Due</strong>
            <button type="button" class="ml-2 mb-1 close close-toast" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body p-3">
            <h3 class="mb-3">AED 2000 <span class="text-danger rounded py-1 px-3 ml-3">Due in 2 days</span></h3>
            <p class="m-0">Now it’s easy to set Auto Pay so that you don’t have to worry about fees anymore.</p>
            <button type="button" class="btn btn-primary btn-sm m-0 mt-3">Pay Now</button>
        </div>
    </div>


    <!-- preloader start -->
    <div class="loader-wrapper" id="loader-3">
        <div id="loader"></div>
        <div id="loader"></div>
        <div id="loader"></div>
        <div id="loader"></div>
        <div id="loader"></div>
    </div>
    <!-- preloader end -->
    <!-- SCRIPTS -->


    <script type="text/javascript" src="~/Content/content/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/content/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Content/content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/content/js/mdb.min.js"></script>
    <!-- <script type="text/javascript" src="~/Content/content/js/charts.js"></script> -->
    <!-- calendar js -->
    <!-- <script type="text/javascript" src="calendar-packages/core/main.js"></script>
    <script type="text/javascript" src="calendar-packages/daygrid/main.js"></script>
    <script type="text/javascript" src="calendar-packages/interaction/main.js"></script>
    <script type="text/javascript" src="calendar-packages/bootstrap/main.js"></script>
    <script type="text/javascript" src="~/Content/content/js/calendar.js"></script> -->
    @*<script type="text/javascript" src="~/Content/content/js/addons/bootstrap-select.js"></script>
        <script type="text/javascript" src="~/Content/content/js/addons/moment.js"></script>
        <script type="text/javascript" src="~/Content/content/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script type="text/javascript" src="~/Content/content/js/addons/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/Content/content/js/all-carousels.js"></script>
        <script type="text/javascript" src="~/Content/content/js/custom.js"></script>*@

    <script type="text/javascript" src="~/Content/content/js/addons/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/Content/content/js/addons/moment-with-locales.js"></script>
    <script type="text/javascript" src="~/Content/content/js/addons/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/content/js/addons/moment.js"></script>
    <script type="text/javascript" src="~/Content/content/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/Content/content/js/addons/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/content/js/all-carousels.js"></script>
    <script type="text/javascript" src="~/Content/content/js/addons/jquery.minicolors.min.js"></script>
    <script src="~/Content/Content/js/addons/fileinput/sortable.min.js"></script>
    <script src="~/Content/Content/js/addons/fileinput/piexif.min.js"></script>
    <script src="~/Content/Content/js/addons/fileinput/fileinput.js"></script>
    <script src="~/Content/Content/js/addons/fileinput/fas-theme.js"></script>
    <script src="~/Content/Content/js/addons/fileinput/explorer-fas-theme.js"></script>
    <script src="~/Content/Content/js/addons/fileinput/ar.js"></script>
    @*<script src="https://cdn.ckeditor.com/4.14.0/standard-all/ckeditor.js"></script>
        <script type="text/javascript" src="~/Content/content/js/unit-calendar.js"></script>*@

    <script src="~/Content/js/noty/jquery.noty.min.js"></script>
    <script src="~/Content/js/noty/themes/default.js"></script>
    <script src="~/Content/js/noty/layouts/topCenter.js"></script>
    <script src="~/Content/js/noty/layouts/bottomRight.js"></script>
    <script src="~/Content/js/noty/layouts/topRight.js"></script>
    <script src="~/Content/js/common/global.js"></script>

    <script type="text/javascript" src="~/Content/content/js/custom.js"></script>

  
    @RenderSection("pageplugins", required: false)

    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {

            $('.paymentDue-toast').addClass('animated fadeInRight');
            $('body').on('click', '.close-toast', function () {
                $(this).parent().parent().fadeOut();
            })
            $('[data-toggle="popover-hover"]').popover({
                html: true,
                trigger: 'hover',
                placement: 'left',
                container: '#groups-popover',
            });
            $('[data-toggle="popover"]').popover({
                html: true,
                trigger: 'focus',
                placement: 'right',
                container: '#assignment-popover'
            });

            $(".tabs-list li a").click(function (e) {
                e.preventDefault();
            });

            $(".tabs-list li").click(function () {
                var tabid = $(this).find("a").attr("href");
                $(".tabs-list li,.tabs div.tab").removeClass("active");   // removing active class from tab

                $(".tab").hide();   // hiding open tab
                $(tabid).show();    // show tab
                $(this).addClass("active"); //  adding active class to clicked tab

            });
        });
        $(window).on("load", function () {

            $(".resources").mCustomScrollbar({
                autoHideScrollbar: true,
                autoExpandScrollbar: true,
                scrollbarPosition: "outside",
            });
            $(".sidebar-fixed .list-group").mCustomScrollbar({
                setHeight: "86%",
                autoExpandScrollbar: true,
                autoHideScrollbar: true,
                scrollbarPosition: "outside"
            });

            $('.loader-wrapper').fadeOut(500, function () {
                //$('.loader-wrapper').remove();
            });
            $(".notification-list").mCustomScrollbar({
                //setHeight: "76%",
                autoExpandScrollbar: true,
                scrollbarPosition: "inside",
                autoHideScrollbar: true,
            });
            $('.search-container').click(function () {
                $('.search-field').addClass('search-input');
                $('.close-icon').addClass('show-icon');
                $('.filter-title').toggleClass('hide-title');
            });
            $('.close-icon').click(function () {
                $('.close-icon').removeClass('show-icon');
            })
            $('.list-pattern .list-view').click(function () {
                let gridView = $('.grid-list-card .grid-wrapper');
                let listView = $('.grid-list-card .list-wrapper');
                $('.list-pattern .grid-view').removeClass('active');
                $('.list-pattern .list-view').addClass('active');
                gridView.addClass('hide-item ');
                listView.removeClass('hide-item');
            });
            $('.list-pattern .grid-view').click(function () {
                let gridView = $('.grid-list-card .grid-wrapper');
                let listView = $('.grid-list-card .list-wrapper');
                $('.list-pattern .list-view').removeClass('active');
                $('.list-pattern .grid-view').addClass('active');
                gridView.removeClass('hide-item');
                listView.addClass('hide-item');
            });
        });
    </script>
</body>

</html>