﻿@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization
@using Phoenix.Common.Enums
@model Phoenix.Common.Models.UserProfileView
@{
    var virtualImge = "";
    if (SessionHelper.CurrentSession.IsStudent())
    {
        if (!string.IsNullOrWhiteSpace(Model.ProfilePhoto))
        {
            virtualImge = Constants.StudentImagesPath + Model.ProfilePhoto;
        }
        else if (!string.IsNullOrWhiteSpace(Model.AvatarLogo))
        {
            virtualImge = Constants.ProfileAvatarPath + Model.AvatarLogo;

        }

    }
    else if (SessionHelper.CurrentSession.IsParent())
    {
        if (!string.IsNullOrWhiteSpace(Model.ProfilePhoto))
        {
            virtualImge = PhoenixConfiguration.Instance.ReadFilePath + Constants.ParentProfilePath + Model.ProfilePhoto;

        }
        else if (!string.IsNullOrWhiteSpace(Model.AvatarLogo))
        {
            virtualImge = Constants.ProfileAvatarPath + Model.AvatarLogo;

        }
    }
    else if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
    {
        if (!string.IsNullOrWhiteSpace(Model.ProfilePhoto))
        {
            virtualImge = PhoenixConfiguration.Instance.ReadFilePath + Constants.TeacherProfilePath + Model.ProfilePhoto;
        }
        else if (!string.IsNullOrWhiteSpace(Model.AvatarLogo))
        {
            virtualImge = Constants.ProfileAvatarPath + Model.AvatarLogo;

        }

    }
    //CommonHelper.GetCookieValue("VirtualImgPath", "1");
    var profileImage = @Url.Content("/Content/VLE/img/default-avatar.jpg");
    if (!string.IsNullOrWhiteSpace(virtualImge))
        profileImage = virtualImge;

    string feelingLogo = "/Content/VLE/img/smileys/106-happy.png";
    if (!string.IsNullOrWhiteSpace(Model.UserFeeling.Logo))
        feelingLogo = "/Content/VLE/img/smileys/" + Model.UserFeeling.Logo;





    var status = ResourceManager.GetString("Shared.Labels.UpdateProfileStatus");
    if (!string.IsNullOrEmpty(Model.UserFeeling.CurrentStatus))
        status = Model.UserFeeling.CurrentStatus;

    var schoolImage = "/Uploads/SchoolImages/" + SessionHelper.CurrentSession.SchoolImage;
    var UrlPath = Request.Url.AbsolutePath.ToString();
    var currentPath = Request.UrlReferrer != null ? Request.UrlReferrer.ToString() : "";
    var HomeUrl = "/Home";
    var SaveProfile = "/Home/SaveUserProfile";
}
@if (Request.IsAuthenticated)
{

    if (SessionHelper.CurrentSession.UserTypeId == 5 || (Session["LoginType"] != null && Session["LoginType"].ToString() == StringEnum.GetStringValue(MainModuleCodes.SIMS)))
    {
        <li class="nav-item dropdown mt-3 mr-3">
            @{ Html.RenderAction("GetAdminSchoolList", "Shared", new { area = "Shared" }); }
        </li>
    }

    <li class="nav-item notifications" id="notificationCount">
        @if (SessionHelper.CurrentSession.IsParent() || SessionHelper.CurrentSession.IsStudent())
        {
            Html.RenderAction("GetUserNotificationPartial", "Shared", new { area = "Shared" });
        }
    </li>

    {
        Html.RenderAction("GetSystemLanguageList", "Shared", new { area = "Shared" });
    }
    if (SessionHelper.CurrentSession.IsParent())
    {
        foreach (var item in SessionHelper.CurrentSession.FamilyStudentList)
        {
            var studentImagePath = !string.IsNullOrWhiteSpace(item.StudentImage) ? Constants.StudentImagesPath + item.StudentImage : "/Content/VLE/img/default-avatar.jpg";
            if (item.Equals(SessionHelper.CurrentSession.CurrentSelectedStudent))
            {
                <li class="nav-item student-selection selectedStudent" onclick="getStudentDetails(@item.UserId)">
                    <a href="javascript:void(0)" class="nav-link pr-1 pl-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="@studentImagePath" alt="@item.FirstName @item.LastName" class="m-0">
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item student-selection" onclick="getStudentDetails(@item.UserId)">
                    <a href="javascript:void(0)" class="nav-link pr-1 pl-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="@studentImagePath" alt="@item.FirstName @item.LastName" class="m-0">
                    </a>
                </li>
            }
        }
    }



    <li class="nav-item avatar dropdown">
        <a class="nav-link pr-1 pl-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img id="profileImage" src="@profileImage" class="z-depth-0" alt="">
        </a>
        <div class="dropdown-menu dropdown-menu-right z-depth-1 profile-dropdown pt-3 pb-0 animate slideIn">
            <div class="profile-card clearfix d-flex">
                <div class="profile-img float-left d-block">
                    <img src="@profileImage" class="img-fluid z-depth-0" alt="">
                    @if (!SessionHelper.CurrentSession.IsStudent())
                    {
                        <a href="#" onclick="userFeelingStatus.loadUserAvatar($(this))" class="edit-profile-img" data-toggle="tooltip" data-title="@ResourceManager.GetString("Shared.Labels.ChangeAvatar")" data-placement="bottom"><i class="fas fa-pencil-alt"></i></a>
                    }
                </div>
                <div class="profile-name float-left d-block align-middle align-self-center">

                    <h3 class="to-sentence-case">

                        @(!string.IsNullOrWhiteSpace(SessionHelper.CurrentSession.FullName) ? SessionHelper.CurrentSession.FullName : SessionHelper.CurrentSession.UserName)

                    </h3>

                    <a href="javascript:void(0)" id="changeMood" class="change-mood dropdown-toggle">
                        <img id="imgProfileFeelingSrc" src="@feelingLogo" alt="Smiley"> @ResourceManager.GetString("Shared.Labels.Feeling") <span id="spnFeelings">@Model.UserFeeling.FeelingType</span>
                    </a>
                </div>
            </div>

            <p class="user-status wordbreak" id="prgShoutout">
                @status
                <a href="javascript:void(0)" id="btnshoutout" class="pb-0 ml-2">
                    <i class="far fa-edit"></i>
                </a>
            </p>

            <ul class="profile-actions">

                @if (SessionHelper.CurrentSession.IsStudent())
                {
                    <li class="dropdown-divider"></li>
                    <li>
                        <a href="/studentinformation/reportabuse"><img src="@Url.Content("~/Content/student/img/svg/ic-report-abuse.svg")">@ResourceManager.GetString("Shared.Labels.ReportConcern")</a>
                    </li>
                }

                @*<li><a href="">Account Settings</a></li>*@
                @if (Model.LoginType == "VLE" && SessionHelper.CurrentSession.UserTypeId >= 4)
                {
                    <li class="dropdown-divider"></li>
                    <li><a href="@(PhoenixConfiguration.Instance.AdminHomePageUrl)"><img src="@Url.Content("~/Content/img/svg/ic-admin.svg")">@ResourceManager.GetString("Shared.Labels.Admin")</a></li>

                }
                @* Need to modify for multiple role Id for single user *@
                @if (Model.LoginType == "Admin")
                {
                    <li class="dropdown-divider"></li>
                    <li><a href="@(PhoenixConfiguration.Instance.VLEHomePageUrl)"><img src="@Url.Content("~/Content/img/svg/ic-classroom.svg")">@ResourceManager.GetString("Shared.Labels.Classroom")</a></li>

                }

                @if (SessionHelper.CurrentSession.UserTypeId >= 3 && SessionHelper.CurrentSession.IsSmartSchoolActive)
                {
                    var userName = new EncryptDecr().Encrypt_SmartSchool(SessionHelper.CurrentSession.UserName.ToString());

                    <li><a href="@(string.Format(PhoenixConfiguration.Instance.SIMSHomePageUrl, userName))" target="_blank"><img src="@Url.Content("~/content/img/svg/ic-smart-school.svg")" /> @ResourceManager.GetString("Shared.Labels.SmartSchool")</a></li>

                }
                @*<li class="dropdown-divider"></li>
                    <li><a href="">View Profile</a></li>*@

                @*<li><a id="btnEditProfile" >Account Settings</a></li>*@
                <li class="dropdown-divider"></li>
                <li><a id="aShowLogger" href="javascript:void(0)"><img src="@Url.Content("~/Content/VLE/img/svg/ic-error-log.svg")" alt="Logout">@ResourceManager.GetString("Shared.Login.LogError")</a></li>
                <li class="dropdown-divider"></li>
                <li><a href="/account/signout"><img src="@Url.Content("~/Content/VLE/img/svg/ic-logout.svg")" alt="LogError">@ResourceManager.GetString("Shared.Login.Logout")</a></li>
            </ul>
            <!-- <div class="dropdown-divider"></div> -->
        </div>
    </li>
}
else
{
    <li class="nav-item">
        @Html.ActionLink("Log in", "Signin", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
    </li>
}


