﻿@using Phoenix.VLE.Web.Models
@using Phoenix.Common.Enums
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.Helpers
@using Phoenix.Common.Localization

@{
    var schoolImage = "/Uploads/SchoolImages/" + SessionHelper.CurrentSession.SchoolImage;
    var UrlPath = Request.Url.AbsolutePath.ToString();
    var HomeUrl = SessionHelper.CurrentSession.IsParent() ? "/Parent/Dashboard" :
                  SessionHelper.CurrentSession.IsAdmin ? "/Admin" :
                  (Session["LoginType"] != null && Session["LoginType"].ToString() == StringEnum.GetStringValue(MainModuleCodes.SIMS)) ? "/schoolmanagement" :
                  "/Home";
    var modulestructure = ModuleHelper.GetModuleTitle();
    var ChatterUrl = "/schoolinfo/blog/chatters";
     //Language helper
    var currentSystemLanguage = Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage;
    var langId = currentSystemLanguage.SystemLanguageId;
    var langCode = currentSystemLanguage.SystemLanguageCode;
    var langIsRightToLeft = currentSystemLanguage.IsRightToLeft;

}

<div class="row">
    <div class="col-lg-12 col-md-12 col">
        <!--Navbar -->
        <nav class="navbar fixed-top navbar-expand-md colored-nav scrolling-navbar main-nav py-3 py-sm-0 px-1">
            <div class="app-logo d-block d-lg-none mr-3">
                <img src="img/svg/logo-colored.svg" alt="Classroom">
            </div>
            <button class="navbar-toggler first-button d-md-block d-lg-none" type="button">
                <div class="animated-icon1"><span></span><span></span><span></span></div>
            </button>
            <div class="collapse navbar-collapse">
                <div class="app-logo d-none d-md-none d-lg-block">
                    <img src="~/Content/BDS/img/svg/logo-colored.svg" alt="Classroom">
                </div>
                <ul class="navbar-nav ml-auto nav-flex-icons right-nav">
                    <li class="nav-item dropdown language-switcher">
                        <a href="javascript:void(0)" class="nav-link p-0 text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <small class="rounded border" data-toggle="tooltip" data-title="Change Language" data-placement="left"><strong>@(langId ==2 ? "AR" : "EN")</strong></small>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right z-depth-1 language-dropdown pt-2 pb-2 animate slideIn">
                            <a class="dropdown-item px-3 @(langId == 1 ? "active-language" :"") d-flex align-items-center justify-content-between" href="#">English <i class="fas fa-check"></i></a>
                            <a class="dropdown-item px-3 @(langId == 2 ? "active-language" :"") d-flex align-items-center justify-content-between" href="#">Arabic <i class="fas fa-check"></i></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="btn-group btn-group-sm font-adjust ml-3" role="group">
                            <button type="button" class="btn btn-outline-default btn-sm">A</button>
                            <button type="button" class="btn btn-outline-default btn-sm">A +</button>
                            <button type="button" class="btn btn-outline-default btn-sm">A -</button>
                        </div>
                    </li>

                    <li class="nav-item notifications">
                        <a href="javascript:void(0)" class="nav-link trigger-rightDrawer has-notifications" data-target="drawer-1" data-width="40%">
                            <i class="far fa-bell position-relative"><span class="notification-count">5</span></i>
                        </a>
                    </li>
                    <li class="nav-item avatar dropdown">
                        <a class="nav-link pr-1 pl-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <img src="~/Content/BDS/img/avatar-3.jpg" class="rounded-circle" alt="">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right z-depth-1 profile-dropdown pt-3 pb-0 animate slideIn">
                            <div class="profile-card clearfix d-flex">
                                <div class="profile-img float-left d-block">
                                    <img src="~/Content/BDS/img/avatar-3.jpg" class="img-fluid z-depth-0 rounded-circle" alt="">
                                    <a href="#" class="edit-profile-img rounded-circle" data-toggle="tooltip" data-title="Change Avatar" data-placement="bottom"><i class="fas fa-pencil-alt"></i></a>
                                </div>
                                <div class="profile-name float-left d-block align-middle align-self-center">
                                    <h3>Jacob Christopher</h3>
                                    <a href="#" data-toggle="modal" data-target="#selectMoodModal" class="change-mood dropdown-toggle">
                                        <img src="~/content/bds/img/smileys/smiley-happy.svg" alt="Smiley"> Feeling <span>Happy</span>
                                    </a>
                                </div>
                            </div>
                            <p class="user-status">Struggle Is What Gives Us Meaning & Makes Us Human!</p>
                            <ul class="profile-actions">
                                <li class="dropdown-divider"></li>
                                <li><a href="">View Profile</a></li>
                                <li><a href="">Account Settings</a></li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a href="#"><img src="img/svg/ic-logout.svg" class="border-0 shadow-none" alt="Logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>