﻿@model StudentDetailsEdit
@using Phoenix.VLE.Web.Models.EditModels
@using Phoenix.Common.Localization

@{
    if (Model.IsTCRequest)
    {
        <div class="card tc-student-card my-4">
            <div class="card-body">
                <div class="tc-student-details p-3">
                    <div class="student-main-info d-flex">
                        <div class="student-pic mr-3 d-flex align-items-center">
                            @if (!string.IsNullOrWhiteSpace(Model.PhotoPath))
                            {
                                <img src="@Model.PhotoPath" class="rounded-circle" alt="@Model.Name">
                            }
                            else
                            {
                                <img src="~/Content/Student/img/default-avatar.jpg" class="rounded-circle" alt="@Model.Name">
                            }

                        </div>
                        <div class="student-fullname d-flex flex-column justify-content-center">
                            <h6 class="student-name text-bold mb-1 text-uppercase">@Model.Name </h6>
                            <p class="student-id mb-0 text-medium">@ResourceManager.GetString("TCRequest.StudentInfo.ID") @Model.ID</p>
                        </div>
                    </div>
                    <div class="school-details my-3">
                        <p class="mb-1 text-medium">@ResourceManager.GetString("TCRequest.StudentInfo.School")<strong class="pl-1">@Model.School</strong></p>
                        <p class="mb-1 text-medium">@ResourceManager.GetString("TCRequest.StudentInfo.Grade")<strong class="pl-1">@Model.Grade</strong></p>
                    </div>
                    <ul class="contact-details">
                        <li class="d-flex py-2">
                            <i class="far fa-user-circle mt-2 mr-3"></i>
                            <p class="mb-1 mt-1"><span class="d-inline-block w-100">@ResourceManager.GetString("TCRequest.StudentInfo.PrimaryContact")</span><strong>@Model.PrimaryContact</strong></p>
                        </li>
                        <li class="d-flex py-2">
                            <i class="fas fa-mobile-alt mt-2 mr-3"></i>
                            <p class="mb-1 mt-1"><span class="d-inline-block w-100">@ResourceManager.GetString("TCRequest.StudentInfo.MobNo")</span><strong>@Model.MobNo</strong></p>
                        </li>
                        <li class="d-flex py-2">
                            <i class="far fa-envelope mt-2 mr-3"></i>
                            <p class="mb-1 mt-1"><span class="d-inline-block w-100">@ResourceManager.GetString("TCRequest.StudentInfo.EmailID")</span><strong>@Model.EmailID</strong></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="student-details-left-sec shadow-sm rounded-2x py-3">
            <ul>
                <li class="column-padding py-3">
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="d-flex align-items-center w-100">
                                <div class="defaultAvatar position-relative mr-2">
                                    <img src="@Model.PhotoPath" class="img-fluid rounded-circle mCS_img_loaded" alt="@Model.Name" />
                                </div>
                                <div class="student-info">
                                    <span class="text-bold text-primary d-block text-capitalize">@Model.Name </span>
                                    <span class="d-block text-primary">@ResourceManager.GetString("TCRequest.StudentInfo.ID") [@Model.ID]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <span class="text-primary d-block">@ResourceManager.GetString("TCRequest.StudentInfo.Grade") <strong>@Model.Grade</strong></span>
                            <span class="d-block text-primary">@ResourceManager.GetString("TCRequest.StudentInfo.ID") [@Model.ID]</span>
                        </div>
                    </div>
                </li>
                <li class="column-padding border-top py-3">
                    <span class="text-primary d-block">@ResourceManager.GetString("TCRequest.StudentInfo.NameOnNationalID")</span>
                    <span class="d-block text-semibold text-primary text-capitalize">@Model.Name</span>
                </li>
                <li class="column-padding border-top py-3">
                    <span class="text-primary d-block">@ResourceManager.GetString("TCRequest.StudentInfo.Gender")</span>
                    <span class="d-block text-semibold text-primary text-capitalize">@Model.gender</span>
                </li>
                <li class="column-padding border-top py-3">
                    <span class="text-primary d-block">@ResourceManager.GetString("TCRequest.StudentInfo.Religion")</span>
                    <span class="d-block text-semibold text-primary text-capitalize">@Model.Religion</span>
                </li>
                <li class="column-padding border-top py-3">
                    <span class="text-primary d-block">@ResourceManager.GetString("TCRequest.StudentInfo.DOB")</span>
                    <span class="d-block text-semibold text-primary text-capitalize">@Convert.ToDateTime(Model.DOB).ToString("dd MMMM yyyy")</span>
                </li>
                <li class="column-padding border-top py-3">
                    <span class="text-primary d-block">@ResourceManager.GetString("TCRequest.StudentInfo.CountryofBirth")</span>
                    <span class="d-block text-semibold text-primary text-capitalize">@Model.CountryOfBirth</span>
                </li>
                <li class="column-padding border-top py-3">
                    <span class="text-primary d-block">@ResourceManager.GetString("TCRequest.StudentInfo.Nationality1")</span>
                    <span class="d-block text-semibold text-primary text-capitalize">@Model.Nationality</span>
                </li>
                <li class="column-padding border-top py-3">
                    <span class="text-primary d-block">@ResourceManager.GetString("TCRequest.StudentInfo.Nationality2")</span>
                    <span class="d-block text-semibold text-primary text-capitalize">@Model.Nationality2</span>
                </li>
            </ul>
        </div>
    }

}
