﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.AssignmentStudentDetails>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@{
    var rnd = DateTime.Now.Ticks.ToString();
}

<div class="task-search pt-3 pb-3">
    <div class="row d-flex justify-content-end">
        <div class="col-lg-8 col-md-8 col-12">
            <div class="search-with-bg border rounded-4x bg-white">
                <span class="icon-search"></span>
                <input data-url="@(string.Format(Model.LoadPageRecordsUrl,1,Model.SearchString))" value="@Model.SearchString" type="search" class="searchfield" id="searchContent" placeholder="@ResourceManager.GetString("SchoolGroup.SchoolGroup.SearchGroup")">
            </div>
        </div>

    </div>
</div>
<div class="row assignment-list">
    @if (Model.PageRecords.Any())
    {
        foreach (var assigList in Model.PageRecords)
        {
            var dueDays = (assigList.DueDate.Date - DateTime.Today).Days;
            var draftClass = "";
            if (!assigList.IsPublished)
            {
                draftClass = "status-draft";
            }
            var overdueClass = "";
            if (dueDays < 0 && assigList.IsPublished)
            {
                overdueClass = "status-overdue";
            }
            var completedAsgClass = "";
            if (assigList.CompletedStudentCount == assigList.NoofStudent)
            {
                overdueClass = "";
                completedAsgClass = "fas fa-check-circle text-success completed";
            }
            else
            {
                completedAsgClass = "far fa-check-square";
            }
            <div class="col-lg-4 col-md-4 col-12 mb-4">
                <article class="position-relative overflow-hidden pt-3 hoverable">
                    <div class="row pl-3 pr-3">
                        <div class="col-lg-3 col-md-3 col-3">
                            <div class="assignment-completed-number">
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" data-title="Assignment Completed">
                                    <i class="@completedAsgClass"></i> <span>@assigList.CompletedStudentCount/@assigList.NoofStudent </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-9">
                            <ul class="assignment-links">
                                <li class="ml-2 mr-2">
                                    <a class="assignment-icon-group" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-html="true" data-title="Grade Assigned to <b class='tt-text-large'>@assigList.AssignGradeCount</b> Student(s)">
                                        <i class="fas fa-award"></i> @assigList.AssignGradeCount
                                    </a>
                                </li>
                                <li class="ml-2 mr-2">
                                    <a class="assignment-icon-group" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-html="true" data-title="Total Student(s)">
                                        <i class="far fa-user"></i> @assigList.CompleteMarkbyStudentCount/@assigList.NoofStudent
                                    </a>
                                </li>
                                <li class="ml-2 mr-2">
                                    <a class="assignment-icon-group" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-html="true" data-title="<b class='tt-text-large'>@assigList.NoofAttachment.ToString()</b> Attachment(s)">
                                        <i class="fas fa-paperclip"></i> @assigList.NoofAttachment.ToString()
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="assignment-info pl-3 pr-3">
                        <h3 class="mt-3 mb-3 text-capitalize overflow-hidden">
                            <a class="text-truncate text-semibold" href="/Assignments/Assignment/GetAssignmentStudentDetailsByAssgnmtId?id=@EncryptDecryptHelper.EncryptUrl(assigList.AssignmentId)">
                                @assigList.AssignmentTitle
                            </a>
                            <span class="d-block text-uppercase mt-1">@assigList.SubjectName</span>
                        </h3>
                        <div class="text-muted content text-medium dropright popoverInformation">
                            @{
                                var desc = System.Text.RegularExpressions.Regex.Replace(assigList.AssignmentDesc, "<.*?>", String.Empty);
                            }

                            @if (desc.Length < 60)
                            {
                                <p class="mb-3">
                                    @desc
                                </p>
                            }
                            else
                            {

                                <p class="mb-3">
                                    @(desc.Substring(0, 60) + "...")
                                    <a class="font-small" href="/Assignments/Assignment/GetAssignmentStudentDetailsByAssgnmtId?id=@EncryptDecryptHelper.EncryptUrl(assigList.AssignmentId)">Read more</a>
                                </p>
                            }
                        </div>

                    </div>
                    <hr class="m-0">
                    <div class="assignment-action d-flex align-items-center justify-content-around">
                        <a href="/Assignments/Assignment/AddEditAssignment?id=@EncryptDecryptHelper.EncryptUrl(assigList.AssignmentId)" class="w-100 text-center text-uppercase"><i class="far fa-edit mr-2"></i>Edit</a>
                        <a href="javascript:void(0)" data-id="@EncryptDecryptHelper.EncryptUrl(assigList.AssignmentId)" onclick="assignmentDashboard.cloneAssignment(this)" class="w-100 text-center text-uppercase"><i class="far fa-clone mr-2"></i>Clone</a>
                        <a href="javascript:void(0)" onclick="assignmentDashboard.deleteAssignment(this, @assigList.AssignmentId)" class="w-100 text-center text-uppercase"><i class="far fa-trash-alt mr-2"></i>Delete</a>
                        @*<a href="javascript:void(0)" onclick="assignmentDashboard.shareAssignmentWithOthers($(this),@assigList.AssignmentId)" class="w-100 text-center text-uppercase"><i class="fas fa-share-alt mr-2"></i>Share</a>*@
                    </div>
                </article>
            </div>
        }
    }
    else
    {
        <span class="no-data-found text-bold d-block mx-auto my-5">@ResourceManager.GetString("Shared.Labels.NoRecords")</span>
    }
</div>


@Html.Partial("_PaginationIndex", Model)



<script>
       translatedResources.SuccessDelete = '@ResourceManager.GetString("Assignment.Assignment.DeleteAssignmentSuccess")'
        translatedResources.ErrorDelete = '@ResourceManager.GetString("Assignment.Assignment.ErrorDelete")'
        translatedResources.deleteConfirm = '@ResourceManager.GetString("Assignment.Assignment.DeleteAssignmentConfirm")'
</script>
