﻿@{
    //Language helper
    var currentSystemLanguage = Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage;
    var langId = currentSystemLanguage.SystemLanguageId;
    var langCode = currentSystemLanguage.SystemLanguageCode;
    var langIsRightToLeft = currentSystemLanguage.IsRightToLeft;
}
<!DOCTYPE html>
<html lang="@langCode" dir="@(langIsRightToLeft ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>@ViewBag.Title</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/fontAwesome.min.css")" />

    <!-- Bootstrap core CSS -->
    @*@Styles.Render("~/Content/bootstrapcore")*@
    <!--switch language css-->
    <link href="@(langId == 2 ? Url.Content("~/Content/VLE/css/bootstrap-rtl.css") : Url.Content("~/Content/VLE/css/bootstrap.min.css"))" rel="stylesheet">

    <link rel="stylesheet" href="@Url.Content("~/Content/Student/css/main-student.css")" />
    @*@Styles.Render("~/Content/datatablecss")
    @Styles.Render("~/Content/main-student")*@


    <style>
        .field-validation-error {
            color: red;
            font-size: 12px;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152690699-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-152690699-1');
    </script>

</head>
<body style="overflow:hidden;">
    @*<header class="pt-3 pb-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12 text-center">
                        <img src="~/Content/VLE/img/svg/logo-colored.svg" style="width:300px;height:auto;" />
                    </div>
                </div>
            </div>
        </header>*@
    <main class="pt-0 mx-lg-0 ml-0 pl-0 mt-0">
        <div class="container-fluid mt-4 mb-4">
            @RenderBody()
        </div>
    </main>
    <!-- footer start -->
    <footer>
        <p class="m-0 text-center">&copy; Copyright, GEMS Education</p>
    </footer>
    <!-- footer end -->
    <!-- modal popups end -->
    <!-- SCRIPTS -->
    @*@Scripts.Render("~/bundles/toplayoutjs")*@
    <!-- START PAGE PLUGINS -->
    <script>
        $('img.svg').each(function () {
            var $img = $(this);
            var imgID = $img.attr('id');
            var imgClass = $img.attr('class');
            var imgURL = $img.attr('src');

            $.get(imgURL, function (data) {
                // Get the SVG tag, ignore the rest
                var $svg = $(data).find('svg');

                // Add replaced image's ID to the new SVG
                if (typeof imgID !== 'undefined') {
                    $svg = $svg.attr('id', imgID);
                }
                // Add replaced image's classes to the new SVG
                if (typeof imgClass !== 'undefined') {
                    $svg = $svg.attr('class', imgClass + ' replaced-svg');
                }

                // Remove any invalid XML tags as per http://validator.w3.org
                $svg = $svg.removeAttr('xmlns:a');

                // Check if the viewport is set, else we gonna set it if we can.
                if (!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
                    $svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
                }

                // Replace image with new SVG
                $img.replaceWith($svg);

            }, 'xml');

        });
    </script>
    <!-- END SCRIPTS -->
</body>
</html>

