﻿@model Phoenix.Common.Models.UserProfileView
@using Phoenix.Common.Localization


<div class="userfeeling-submit">
    @*@using (Ajax.BeginForm("SaveUserProfile", "Home", new AjaxOptions { OnFailure = "globalFunctions.onFailure", OnSuccess = "userFeelingStatus.onSubmitUserFeelings" }, new { id = "frmUserFeelings", @class = "form-horizontal" }))*@
    @using (Ajax.BeginForm("SaveUserProfile", "Home", new AjaxOptions { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "frmUserAvatar", @class = "form-horizontal" }))
    {
        <div class="modal-body">

            @*<div class="popup-form">*@
            @Html.HiddenFor(m => m.AvatarId)
            @Html.HiddenFor(m => m.AvatarLogo)
            <input type="hidden" id="hdnFeelId" name="hdnFeelId" />
            <div class="">
                <div class="row upload-avatar">
                    @*<div class="col-lg-4 col-md-4 col-12">*@
                    <div class="col-12">
                        <div class="uploaderWidget uploaderWidget-lg text-center">
                            <input id="ProfilePhoto"  name="ProfilePhoto" type="file" >
                        </div>
                    </div>

                    @*<div class="col-lg-8 col-md-8 col flex">*@
                </div>
            </div>
            <div class="row upload-avatar mt-3">
                <div class="col-12">
                    <div class="form-row">
                        @foreach (var item in Model.UserProfileList)
                        {
                            <div onclick="userFeelingStatus.toggleActiveClass(this)" class="col-xl-2 col-lg-2 col-md-2 col-6 pb-1 text-center pt-2 smiley">
                                <img src="/Content/VLE/img/@item.AvatarLogo" id="userProfileAvatar" data-imgId="@item.AvatarId" data-avtarName="@item.AvatarLogo" alt="Smiley" class="img-fluid">
                                @*<span class="d-block">@item.Avatarname</span>*@
                            </div>
                        }
                    </div>
                </div>
            </div>
            @*</div>*@
        </div>
        <div class="modal-footer">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                @*<button type="submit" onclick="onSubmitUserFeelings()" class="btn btn-primary waves-effect waves-light">@ResourceManager.GetString("Shared.Buttons.Save")</button>*@
                <button type="button" class="btn btn-primary waves-effect waves-light m-0 ml-2" onclick="userFeelingStatus.uploadUserProfile()">@ResourceManager.GetString("Shared.Buttons.Save")</button>
            </div>
        </div>

    }
</div>

<style>
    #basicExampleModal .modal-dialog {
        max-width: none;
        margin: 1.75rem auto;
        width: 65%
    }
</style>
<script type="text/javascript">
    translatedResources.ImageValidation = '@ResourceManager.GetString("Shared.Messages.ImageFileOnly")';
</script>
<script type="text/javascript">

    $(function () {

        $("#ProfilePhoto").fileinput({
            language:'@Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()',
            title: '@ResourceManager.GetString("Shared.Labels.BrowseFile")',
            theme: "fas",
            showUpload: false,
            showCaption: false,
            showRemove: true,
            showMultipleNames: false,
            allowedFileExtensions: ['jpeg', 'jpg', 'png', 'bmp'],
            minFileCount: 1,
            maxFileCount: 1,
            maxTotalFileCount: 1,
            maxFileSize:5120,
            fileActionSettings: {
                showZoom: false,
                showUpload: false,
                //indicatorNew: "",
                showDrag: false
            },

            //uploadAsync: true,
            browseClass: "btn btn-outline-primary rounded z-depth-0 m-0 p-0 mt-3 btn-browse",
            removeClass: "btn btn-sm m-0 z-depth-0",
            uploadClass: "btn btn-primary rounded z-depth-0 m-0 p-0 mt-3 btn-upload",
            cancelClass: "btn btn-default float-right rounded z-depth-0 m-0 p-0 mt-3 btn-cancel",
            overwriteInitial: false,
            //previewFileIcon: '<i class="fas fa-file"></i>',
            initialPreviewAsData: true, // defaults markup
            initialPreviewConfig: [{
                frameAttr: {
                    title: 'My Custom Title',
                }
            }],
            preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
            previewFileIconSettings: fileInputControlSettings.previewFileIconSettings,
            previewSettings: fileInputControlSettings.previewSettings,
            previewFileExtSettings: fileInputControlSettings.previewFileExtSettings,
            msgSizeTooLarge: 'Total File size (<b>{size}</b>) exceeds maximum allowed upload size of <b>{maxSize}</b>. Please retry your upload!'
        }).off('filebatchselected').on('filebatchselected', function (event, files) {
            var size = 0;
            $.each(files, function (ind, val) {
                //console.log($(this).attr('size'));
                size = size + $(this).attr('size');
            });

            var maxFileSize = $(this).data().fileinput.maxFileSize,
                msg = $(this).data().fileinput.msgSizeTooLarge,
                formatSize = (s) => {
                    i = Math.floor(Math.log(s) / Math.log(1024));
                    sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
                    out = (s / Math.pow(1024, i)).toFixed(2) * 1 + ' ' + sizes[i];
                    return out;
                };

            if ((size / 1024) > maxFileSize) {
                msg = msg.replace('{name}', 'all files');
                msg = msg.replace('{size}', formatSize(size));
                msg = msg.replace('{maxSize}', formatSize(maxFileSize * 1024 /* Convert KB to Bytes */));
                //$('li[data-thumb-id="thumb-postedFile-0"]').html(msg);
                if (files.length > 1) {
                    $(".kv-fileinput-error.file-error-message").html('');
                    $(".kv-fileinput-error.file-error-message").html('');
                    $(".kv-fileinput-error.file-error-message").append(`<button type="button" class="close kv-error-close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button><ul><li data-thumb-id="thumb-error" data-file-id="thumb-error">`+ msg + `</li></ul>`).attr("style", "");
                    $(".close.kv-error-close").on('click', function (e) {
                        $(".kv-fileinput-error.file-error-message").attr("style", "display:none").html('');
                        //$(".fileinput-upload").removeClass('d-none');
                    });
                }
                else {
                    $(".kv-fileinput-error.file-error-message").html('');
                    $(".kv-fileinput-error.file-error-message").append(`<button type="button" class="close kv-error-close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button><ul><li data-thumb-id="thumb-error" data-file-id="thumb-error">`+ msg + `</li></ul>`).attr("style", "");
                    $(".close.kv-error-close").on('click', function (e) {
                        $(".kv-fileinput-error.file-error-message").attr("style", "display:none").html('');
                        //$(".fileinput-upload").removeClass('d-none');
                    });
                }

                $(".fileinput-upload").attr('disabled', true);
            }
            }).off('fileuploaded').on('fileuploaded', function (event, data, previewId, index) {
            // alert(JSON.stringify(data));
            globalFunctions.showSuccessMessage("Files uploaded successfully");

        });

    })

</script>