﻿@using Phoenix.Common.Helpers
<div class="loader-wrapper" id="AjaxLoader" style="display:none;">
    @if(SessionHelper.CurrentSession.IsStudent())
    {
         <div class="loading-txt">
       
            @*<img src="@Url.Content("~/Content/Student/img/loader.gif")" />*@
        </div>
    }
   
    <div id="loader"></div>
    <div id="loader"></div>
    <div id="loader"></div>
    <div id="loader"></div>
    <div id="loader"></div>
</div>
<!-- preloader end -->