﻿@model IEnumerable<ModuleStructure>
@using Phoenix.Models;
@using Phoenix.Common.Localization;

@using Phoenix.Common.Helpers
@{
    IEnumerable<ModuleStructure> moduleMainList = Model.Where(m => m.LevelNumber == 1 || m.LevelNumber == 2).OrderBy(o => o.Sequence);
    IEnumerable<ModuleStructure> moduleList = Model.Where(m => m.LevelNumber == 3).OrderBy(o => o.Sequence);
    IEnumerable<ModuleStructure> moduleListThirdlevel = Model.Where(m => m.LevelNumber == 4).OrderBy(o => o.Sequence);

}

<div class="list-group list-group-flush pb-5">
    <div class="accordion sideMenu" id="sideNavigations">
        @foreach (var menu in moduleMainList)
        {
            var childMenuExist = moduleList.Where(x => x.ParentModuleId == menu.ModuleId).Any();
            var currentPageList = moduleList.Where(x => x.IsCurrentPage == true && x.ParentModuleId == menu.ModuleId);
            bool isCurrentPagePresent = false;
            if (currentPageList.Count() > 0)
            {
                isCurrentPagePresent = true;
            }
            <a href="@(childMenuExist ? "#"+menu.ModuleCode : menu.ModuleUrl)" class="d-block collapsed py-3 px-4 text-center text-medium @(menu.IsCurrentPage ? "active " : "") @(childMenuExist ? "has-submenu collapsed " : "")"
               @(childMenuExist ? "data-toggle=collapse aria-expanded=false" : "") @(isCurrentPagePresent ? "aria-expanded=true" : "aria-expanded=false")>
                @* Chatter to show SVG : Rohan P on 08th Sept 2020 *@
                @if (menu.ModuleId == 34)
                {
                    <img class="svg d-block mb-2 mx-auto" src="@Url.Content($"~/Content/VLE/img/svg/menu/{menu.ModuleIconCssClass}.svg")" />
                }
                else
                {
                    <i class="@menu.ModuleIconCssClass d-block mb-2"></i>
                }
                @* Temporary solution to change My Vault to Student Vault for Teacher login: Deepak Singh on 29th July 2019 *@
                @if (SessionHelper.CurrentSession.IsTeacher() && menu.ModuleName.Contains("My Vault"))
                {
                    @ResourceManager.GetString("Shared.Menu.StudentVault")
                }
                else
                {
                    @menu.ModuleName
                }
            </a>
            if (childMenuExist)
            {
                <div id="@menu.ModuleCode" class="collapse @(isCurrentPagePresent ? "show":"")">
                    <div class="submenu">
                        @foreach (var item in moduleList)
                        {

                            if (menu.ModuleId == item.ParentModuleId)
                            {
                                var thirdLevelChildExist = moduleListThirdlevel.Where(x => x.ParentModuleId == item.ModuleId).Any();
                                if (thirdLevelChildExist)
                                {
                                    foreach (var thidLevelItem in moduleListThirdlevel)
                                    {
                                        <a href="#@thidLevelItem.ModuleCode" class="d-block collapsed py-3 px-4 text-center text-medium @(thidLevelItem.IsCurrentPage ? "active " : "") " data-toggle="collapse" aria-expanded="false">
                                            <i class="@thidLevelItem.ModuleIconCssClass d-block mb-2 mr-3"></i>
                                            <span>@item.ModuleName</span>
                                        </a>

                                        if (item.ModuleId == thidLevelItem.ParentModuleId)
                                        {
                                            <div id="@item.ModuleCode" class="collapse">
                                                <a href="@thidLevelItem.ModuleUrl" class="py-3 px-4 d-flex align-items-center text-medium @(thidLevelItem.IsCurrentPage ? "active " : "") ">
                                                    <i class="@thidLevelItem.ModuleIconCssClass d-block mb-2 mr-3"></i>
                                                    @thidLevelItem.ModuleName
                                                </a>
                                            </div>
                                        }
                                    }
                                }
                                else
                                {
                                    <a href="@item.ModuleUrl" class="py-3 px-4 d-flex align-items-center text-medium @(item.IsCurrentPage ? "active " : "")">
                                        <i class="@item.ModuleIconCssClass d-block mb-2 mr-3"></i>
                                        <span>@item.ModuleName</span>
                                    </a>
                                }
                            }
                        }
                    </div>
                </div>

            }
        }
    </div>
</div>


