﻿@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization
@using Phoenix.Common.Enums
@model Phoenix.Common.Models.UserProfileView
@{
    var virtualImage = Url.Content("/Content/VLE/img/default-avatar.jpg");

    if (SessionHelper.CurrentSession.IsStudent())
    {
        if (!string.IsNullOrWhiteSpace(Model.ProfilePhoto))
        {
            virtualImage = Constants.StudentImagesPath + Model.ProfilePhoto;
        }
        else if (!string.IsNullOrWhiteSpace(Model.AvatarLogo))
        {
            virtualImage = Constants.ProfileAvatarPath + Model.AvatarLogo;

        }

    }
    else
    {
        if (!string.IsNullOrWhiteSpace(Model.ProfilePhoto))
        {
            virtualImage = PhoenixConfiguration.Instance.ReadFilePath + (SessionHelper.CurrentSession.IsParent() ? Constants.ParentProfilePath : Constants.TeacherProfilePath) + Model.ProfilePhoto;

        }
        else if (!string.IsNullOrWhiteSpace(Model.AvatarLogo))
        {
            virtualImage = Constants.ProfileAvatarPath + Model.AvatarLogo;

        }
    }

    string feelingLogo = "/Content/VLE/img/smileys/040-happy-9.png";
    if (!string.IsNullOrWhiteSpace(Model.UserFeeling.Logo))
    {
        feelingLogo = "/Content/VLE/img/smileys/" + Model.UserFeeling.Logo;
    }

    var status = "Update your status";
    if (!string.IsNullOrEmpty(Model.UserFeeling.CurrentStatus))
    {
        status = Model.UserFeeling.CurrentStatus;
    }

    var schoolImage = "/Uploads/SchoolImages/" + SessionHelper.CurrentSession.SchoolImage;
    var UrlPath = Request.Url.AbsolutePath.ToString();
    var currentPath = Request.UrlReferrer != null ? Request.UrlReferrer.ToString() : "";
    //language
    var currentSystemLanguage = Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage;
    var languageList = SystemLanguageHelper.SystemLanguages;
}

@if (Request.IsAuthenticated)
{

    <div class="mobile-user-box d-block d-md-none mb-3 mt-4">
        <div class="bg-white pb-3">
            <div class="wrap">
                <div class="user-meta column-padding pt-3">
                    <div class="row">
                        <div class="col-12 d-flex align-items-center">
                            <div class="profileImg">
                                <img src="@virtualImage" alt="@SessionHelper.CurrentSession.FullName" class="rounded">
                                <a href="javascript:;" onclick="userFeelingStatus.loadUserAvatar($(this))" class="edit-profile-img" data-toggle="tooltip" data-title="@ResourceManager.GetString("Shared.Labels.ChangeAvatar")" data-placement="bottom" data-original-title="" title=""><i class="fas fa-pencil-alt"></i></a>
                            </div>
                            <div class="user-info pl-3 pr-0 text-left text-truncate">
                                <h4 class="m-0">@(!string.IsNullOrWhiteSpace(SessionHelper.CurrentSession.FullName) ? SessionHelper.CurrentSession.FullName : SessionHelper.CurrentSession.UserName)</h4>
                                <p class="m-0 clearfix">
                                    <span class="text-truncate" id="prgShoutoutStatus">@status</span>
                                    <a href="javascript:void(0)" id="btnshoutout" class="ml-2"><i class="far fa-edit text-white"></i></a>
                                </p>
                                @if (!SessionHelper.CurrentSession.IsParent())
                                {
                                    <a href="javascript:void(0)" id="changeMood" class="change-mood clearfix text-white">
                                        <img id="imgProfileFeelingSrc" src="@feelingLogo" alt="Smiley"> @ResourceManager.GetString("Shared.Labels.Feeling")
                                        <span id="spnFeelings">@Model.UserFeeling.FeelingType</span>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <!--  <div class="wave"></div> -->
                </div>
            </div>
            <!-- mobile notifications -->
            <div class="row mt-2 px-3">
                <div class="col-10">
                    @if (SessionHelper.CurrentSession.UserTypeId == 5 || (Session["LoginType"] != null && Session["LoginType"].ToString() == StringEnum.GetStringValue(MainModuleCodes.SIMS)))
                    {
                        <div class="md-form md-outline mb-0 mt-2">
                            @{ Html.RenderAction("GetAdminSchoolList", "Shared", new { area = "Shared" }); }
                        </div>
                    }
                    @if (SessionHelper.CurrentSession.IsParent())
                    {
                        <div class="md-form md-outline mb-0 mt-2">
                            <select id="selectChild" class="selectpicker">
                                @foreach (var item in SessionHelper.CurrentSession.FamilyStudentList)
                                {
                                    <option value="@item.UserId" @(item.Equals(SessionHelper.CurrentSession.CurrentSelectedStudent) ? "selected" : "")>@item.FirstName @item.LastName</option>

                                }
                            </select>
                            <label class="active select-label">@ResourceManager.GetString("Shared.Labels.SelectChild")</label>
                        </div>
                    }
                    @if (SessionHelper.CurrentSession.IsStudent() || SessionHelper.CurrentSession.IsTeacher())
                    {
                        Html.RenderAction("GetUserNotificationMobilePartial", "Shared", new { area = "Shared" });
                    }
                    @*@if (SessionHelper.CurrentSession.IsTeacher())
                        {
                            <a href="javascript:void(0)" id="changeMood" class="change-mood clearfix d-md-block d-none">
                                <img id="imgProfileFeelingSrc" src="@feelingLogo" alt="Smiley"> @ResourceManager.GetString("Shared.Labels.Feeling")
                                <span id="spnFeelings">@Model.UserFeeling.FeelingType</span>
                            </a>
                        }*@
                </div>
                <div class="col-2 dropdown dropleft mb-3">
                    <a href="javascript:void(0)" class="@(SessionHelper.CurrentSession.UserTypeId >= 4 || SessionHelper.CurrentSession.IsParent() ? "btn btn-outline-primary m-0 px-3 w-100 mt-2" : "btn btn-outline-primary m-0 px-3 w-100")" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-stream my-2"></i>
                    </a>
                    <div class="dropdown-menu z-depth-1 user-action-dropdown px-0 py-2 animate slideIn">
                        <ul>
                            @if (SessionHelper.CurrentSession.IsStudent())
                            {
                                <li><a class="px-3" href="/studentinformation/reportabuse"><img src="@Url.Content("~/Content/student/img/svg/ic-report-abuse.svg")" alt="ReportAbuse" class="mr-2"> @ResourceManager.GetString("Shared.Labels.ReportConcern") </a></li>
                            }

                            @if (Model.LoginType == "Admin")
                            {

                                <li><a class="px-3" href="@(PhoenixConfiguration.Instance.HomePageUrl)"><img src="@Url.Content("~/content/vle/img/svg/ic-classroom.svg")" class="mr-2"> @ResourceManager.GetString("Shared.Labels.Classroom") </a></li>

                            }
                            @* Need to modify for multiple role Id for single user *@
                            @if (Model.LoginType == "VLE" && SessionHelper.CurrentSession.UserTypeId >= 4)
                            {

                                <li><a class="px-3" href="@(PhoenixConfiguration.Instance.AdminHomePageUrl)"><img src="@Url.Content("~/content/vle/img/svg/ic-admin.svg")" class="mr-2"> @ResourceManager.GetString("Shared.Labels.Admin") </a></li>

                            }
                            @if (SessionHelper.CurrentSession.UserTypeId >= 3 && SessionHelper.CurrentSession.IsSmartSchoolActive)
                            {
                                var userName = new EncryptDecr().Encrypt_SmartSchool(SessionHelper.CurrentSession.UserName.ToString());

                                <li><a class="px-3" target="_blank" href="@(string.Format(PhoenixConfiguration.Instance.SIMSHomePageUrl, userName))"><img src="@Url.Content("~/content/vle/img/svg/ic-smart-school.svg")" class="mr-2"> @ResourceManager.GetString("Shared.Labels.SmartSchool")</a></li>

                            }

                            <li class="dropdown-divider mb-0"></li>
                            @*language start*@
                            @if (SessionHelper.CurrentSession.IsMultilingual)
                            {
                                <li><h6 class="dropdown-header px-3 text-dark mb-2">@ResourceManager.GetString("Shared.Labels.Language") </h6></li>
                                foreach (var language in languageList)
                                {
                                    if (currentSystemLanguage.SystemLanguageId == language.SystemLanguageId)
                                    {
                                        <li><a href="" class="px-3 justify-content-between">@language.SystemLanguageName <i class="fas fa-check"></i></a></li>
                                    }
                                    else
                                    {
                                        <li><a href="javascript:;" onclick="OnLangaugeSelection(@language.SystemLanguageId);" class="px-3 justify-content-between">@language.SystemLanguageName </a></li>
                                    }
                                }
                            }
                            @*language end*@
                            @if (!SessionHelper.CurrentSession.IsStudent())
                            {
                                <li><a href="javascript:void(0)" class="aShowLogger px-3" data-formtype="I"><img src="@Url.Content("~/Content/vle/img/svg/ic-error-log.svg")"><span class="ml-2">@ResourceManager.GetString("Shared.Login.Issues")</span></a></li>
                                <li><a href="javascript:void(0)" class="aShowLogger px-3" data-formtype="F"><i class="fa-comment-alt far"></i><span class="ml-2">@ResourceManager.GetString("Shared.Login.Feedback")</span></a></li>
                            }
                            @if (SessionHelper.CurrentSession.IsParent())
                            {
                                <li><a href="@Url.Action("initSetting", "Parent",new { area=""})" class="aShowLogger px-3"><img src="@Url.Content("~/Content/vle/img/svg/settings-gear.svg")"><span class="ml-2">@ResourceManager.GetString("Shared.Login.Setting")</span></a></li>
                            }
                            <li class="dropdown-divider"></li>
                            <li><a class="px-3" href="/account/signout"><img src="@Url.Content("~//Content/vle/img/svg/ic-logout.svg")" class="mr-2"> @ResourceManager.GetString("Shared.Login.Logout") </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            @if (SessionHelper.CurrentSession.IsParent())
            {
                <div class="row px-3">
                    <div class="col-12">
                        @{
                            Html.RenderAction("GetUserNotificationMobilePartial", "Shared", new { area = "Shared" });
                        }
                    </div>
                </div>
            }
        </div>

    </div>
}
else
{
    @Html.ActionLink("Log in", "SignOut", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })

}
