﻿
@using Phoenix.Common.Localization;
@model List<Phoenix.Models.SchoolGroup>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;

@if (Model.Count() > 0)
{

    <div class="event-data pb-2 mt-3">
        <ul>
            @foreach (var item in Model.Take(6))
            {
                <li>
                    <a href="/schoolinfo/blog/ViewBlog/?bgId=@EncryptDecryptHelper.EncryptUrl(item.BlogId)">
                        <h3 class="mb-1">@item.BlogTitle</h3>
                        <h6 class="m-0 d-flex justify-content-between align-items-center">
                            <span class="teacher-name">
                                <i class="fas fa-users mr-1"></i>@item.SchoolGroupName.Replace("_", " /")
                            </span>
                        </h6>
                    </a>
                </li>
            }
        </ul>
    </div>
}
else
{
    <span class="no-data-found d-block mx-auto"></span>
}

