﻿@using Phoenix.Common.Localization;
@model List<Phoenix.Models.TimeTableEvent>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Models;
@{
    IEnumerable<EventView> liveEventList = new List<EventView>();
    if (SessionHelper.CurrentSession.IsStudent())
    {
        liveEventList = ViewBag.UserMeetings as List<EventView>;
    }
}

@if (Model.Any() || liveEventList.Any())
{
    <div class="event-header text-center">
        <h4 class="m-0 text-uppercase">@(Model.Count() == 0 ? "" : Model[0].fromTime.ToString("dd MMMM yyyy"))</h4>
    </div>
    <div class="event-data pb-2 mt-3">
        <ul>
            @foreach (var ev in liveEventList)
            {
                <li>
                    <a href="javascript:void(0)">
                        <h3 class="mb-1">@ev.Title <span class="badge badge-success">@ResourceManager.GetString("SchoolGroup.SchoolGroup.LiveClass")</span></h3>
                        <h6 class="m-0 d-flex justify-content-between align-items-center">
                            <span class="event-time">
                                <i class="far fa-clock mr-1"></i> @ev.StartTime - @ev.EndTime
                            </span>
                            <span class="teacher-name">
                                <i class="fas fa-user-graduate mr-1"></i> @ev.CreatedByUserName
                            </span>
                        </h6>
                    </a>
                </li>
            }
            @foreach (var timetbl in Model)
            {
                <li>
                    <a href="javascript:void(0);">
                        <h3 class="mb-1">@timetbl.subjectDescription</h3>
                        <h6 class="m-0 d-flex justify-content-between align-items-center">
                            <span class="event-time">
                                <i class="far fa-clock mr-1"></i> @timetbl.fromTime.ToString("hh:mm tt") - @timetbl.toTime.ToString("hh:mm tt")
                            </span>
                            <span class="teacher-name">
                                <i class="fas fa-user-graduate mr-1"></i>@timetbl.teacherName
                            </span>
                        </h6>
                    </a>
                </li>
            }
        </ul>
    </div>
}
else
{
    <span class="no-data-found d-block mx-auto"></span>
}

