﻿@using Phoenix.VLE.Web.Models
@using Phoenix.Common.Enums
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.Helpers

@{
    var schoolImage = "/Uploads/SchoolImages/" + SessionHelper.CurrentSession.SchoolImage;
    var UrlPath = Request.Url.AbsolutePath.ToString();
    var HomeUrl = SessionHelper.CurrentSession.IsParent() ? "/Parent/Dashboard" :
                  SessionHelper.CurrentSession.IsAdmin ? "/Admin" : "/Home";
    var modulestructure = ModuleHelper.GetModuleTitle();
    var ChatterUrl = "/schoolinfo/blog/chatters";

    string _usrType = "";
    if (SessionHelper.CurrentSession.IsTeacher())
    {
        _usrType = "teacher";
    }
    else if (SessionHelper.CurrentSession.IsParent())
    {
        _usrType = "parent";
    }
    else if (SessionHelper.CurrentSession.IsStudent())
    {
        _usrType = "student";
    }
    else
    {
        _usrType = "Admin";
    }
    //to enable arabic switch to staff
    var enableSwitch = new List<string>() { "800402"};
}
<input type="hidden" value="@SessionHelper.CurrentSession.IsAdmin.ToString().ToLower()" id="hdnUsrTypeAdmin" />
<input type="hidden" value="@_usrType" id="hdnLognUsrType" />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col">
            <!--Navbar -->
            <nav class="navbar fixed-top navbar-expand-md colored-nav scrolling-navbar main-nav py-3 py-sm-2 py-md-0 px-1">
                <a href="/Home" class="logo-wrapper waves-effect position-relative">
                    <div class="app-logo d-block d-lg-none mr-3">
                        <img src="~/Content/img/svg/logo-colored.svg" alt="Classroom">
                    </div>
                </a>
                <button class="navbar-toggler first-button d-md-block d-lg-none" type="button">
                    <div class="animated-icon1"><span></span><span></span><span></span></div>
                </button>
                <div class="collapse navbar-collapse">
                    <a href="/Home" class="logo-wrapper waves-effect position-relative">
                        <div class="app-logo d-none d-md-none d-lg-block">
                            <img src="~/Content/img/svg/logo-colored.svg" alt="Classroom">
                        </div>
                    </a>
                    @{
                        Html.RenderAction("GetStudentsListPartial", "Shared", new { area = "Shared" });
                    }
                <ul class="navbar-nav ml-auto nav-flex-icons right-nav">
                    @if (SessionHelper.CurrentSession.IsMultilingual && enableSwitch.Contains(SessionHelper.CurrentSession.SchoolId.ToString()))
                    {
                        if (SessionHelper.CurrentSession.IsTeacher())
                        {
                            {
                                Html.RenderAction("GetSystemLanguageList", "Shared", new { area = "Shared" });
                            }
                        }
                    }
                    else if (SessionHelper.CurrentSession.IsMultilingual)
                    {
                        {
                            Html.RenderAction("GetSystemLanguageList", "Shared", new { area = "Shared" });
                        }
                    }
                    <li class="nav-item d-none">
                        <div class="btn-group btn-group-sm font-adjust ml-3" role="group">
                            <button type="button" class="btn btn-outline-default btn-sm">A</button>
                            <button type="button" class="btn btn-outline-default btn-sm">A +</button>
                            <button type="button" class="btn btn-outline-default btn-sm">A -</button>
                            <button type="button" class="btn btn-outline-default btn-sm"><i class="fa fa-adjust"></i></button>
                        </div>
                    </li>

                    <li class="nav-item notifications" id="notificationCount">
                        @if (SessionHelper.CurrentSession.IsParent() || SessionHelper.CurrentSession.IsStudent() || SessionHelper.CurrentSession.IsTeacher() ||
                            SessionHelper.CurrentSession.IsAdmin)
                        {
                            Html.RenderAction("GetUserNotificationPartial", "Shared", new { area = "Shared" });
                        }
                    </li>
                    @if (SessionHelper.CurrentSession.UserTypeId == 5)
                    {
                        <li class="nav-item dropdown mt-3 mr-3">
                            @{ Html.RenderAction("GetAdminSchoolList", "Shared", new { area = "Shared" }); }
                        </li>
                    }
                    @{
                        <li id="usrProfSection">
                            @{
                                var loginType = Session["LoginType"] != null ? Session["LoginType"].ToString() : StringEnum.GetStringValue(MainModuleCodes.Classroom);
                                Html.RenderAction("GetUserProfilePartial", "Shared", new { area = "Shared", loginType = loginType });
                            }
                        </li>
                    }
                </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
