﻿@model Phoenix.Models.ParentView
@{ 
    //ViewBag.ChildCount = Model.StudentDetails.Count();
}
<div class="container-fluid">
    @*<div class="row">
            @foreach (var item in Model.StudentDetails)
            {
                <div class="col-md-12">
                    <a id="myLearningStudent" onclick="parent.getStudentDetails(@item.UserId)">@item.FirstName @item.LastName </a>
                    <label style="color:gray">@item.SchoolName</label>
                </div>
            }
        </div>*@
    <div class="row">
        @foreach (var item in Model.StudentDetails)
        {
            @*<div class="col-md-12">
                    <a id="myLearningStudent" onclick="parent.getStudentDetails(@item.UserId)">@item.FirstName @item.LastName </a>
                    <label style="color:gray">@item.SchoolName</label>
                </div>*@
            <div class="col-md-6 col-12">
                <div class="student-wrapper d-flex justify-content-center align-items-top">
                    <div class="student-avatar">
                        <figure>
                            <img src=@item.StudentImage alt="Student name">
                        </figure>
                    </div>
                    <div class="student-details">
                        <a id="myLearningStudent" href="javascript:void(0)" onclick="getStudentDetails(@item.UserId)">
                            <h4>@item.FirstName @item.LastName</h4>
                            <p class="student-id">ID : @item.StudentNumber</p>
                            <p>@item.SchoolName</p>
                        </a>
                    </div>
                </div>
            </div>
        }

    </div>

</div>

