﻿@model Phoenix.Common.Models.UserProfileView
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization
@using Phoenix.Common.Enums
@{
    var virtualImge = "";
    if (SessionHelper.CurrentSession.IsStudent())
    {
        if (!string.IsNullOrWhiteSpace(Model.ProfilePhoto))
        {
            virtualImge = Constants.StudentImagesPath + Model.ProfilePhoto;
        }
        else if (!string.IsNullOrWhiteSpace(Model.AvatarLogo))
        {
            virtualImge = Constants.ProfileAvatarPath + Model.AvatarLogo;
        }
    }
    else if (SessionHelper.CurrentSession.IsParent())
    {
        if (!string.IsNullOrWhiteSpace(Model.ProfilePhoto))
        {
            virtualImge = PhoenixConfiguration.Instance.ReadFilePath + Constants.ParentProfilePath + Model.ProfilePhoto;

        }
        else if (!string.IsNullOrWhiteSpace(Model.AvatarLogo))
        {
            virtualImge = Constants.ProfileAvatarPath + Model.AvatarLogo;

        }
    }
    else if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
    {
        if (!string.IsNullOrWhiteSpace(Model.ProfilePhoto))
        {
            //Added logic for migrated teacher profile pic, Deepak Singh on 27/Oct/2020
            virtualImge = !Model.IsProfilePicMigrated ? PhoenixConfiguration.Instance.ReadFilePath + Constants.TeacherProfilePath + Model.ProfilePhoto : Constants.StudentImagesPath + Model.ProfilePhoto;
        }
        else if (!string.IsNullOrWhiteSpace(Model.AvatarLogo))
        {
            virtualImge = Constants.ProfileAvatarPath + Model.AvatarLogo;

        }
    }
    var profileImage = @Url.Content("/Content/VLE/img/default-avatar.jpg");
    if (!string.IsNullOrWhiteSpace(virtualImge))
        profileImage = virtualImge;

    string feelingLogo = "/Content/VLE/img/smileys/040-happy-9.png";
    if (!string.IsNullOrWhiteSpace(Model.UserFeeling.Logo))
        feelingLogo = "/Content/VLE/img/smileys/" + Model.UserFeeling.Logo;
    var status = ResourceManager.GetString("Shared.Labels.UpdateProfileStatus");
    if (!string.IsNullOrEmpty(Model.UserFeeling.CurrentStatus))
        status = Model.UserFeeling.CurrentStatus;

    //var schoolImage = "/Uploads/SchoolImages/" + SessionHelper.CurrentSession.SchoolImage;
    var UrlPath = Request.Url.AbsolutePath.ToString();
    var currentPath = Request.UrlReferrer != null ? Request.UrlReferrer.ToString() : string.Empty;
}
@if (Request.IsAuthenticated)
{
    <li class="nav-item avatar dropdown" id="idAvatarImage">
        <a class="nav-link pr-1 pl-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="@profileImage" class="rounded-circle d-inline-block usr-prof-img" alt="">
        </a>
        <div class="dropdown-menu dropdown-menu-right z-depth-1 profile-dropdown pt-3 pb-0 animate slideIn">
            <div class="profile-card clearfix d-flex">
                <div class="profile-img float-left d-block">
                    <img src="@profileImage" class="img-fluid z-depth-0 rounded-circle usr-prof-img" alt="">
                    @if (!SessionHelper.CurrentSession.IsStudent())
                    {
                        <a href="javascript:void(0);" id="profileImage" onclick="userFeelingStatus.loadUserAvatar($(this))" class="edit-profile-img rounded-circle" data-toggle="tooltip" data-title="@ResourceManager.GetString("Shared.Labels.ChangeAvatar")" data-placement="bottom"><i class="fas fa-pencil-alt"></i></a>
                    }
                </div>
                <div class="profile-name float-left d-block align-middle align-self-center">
                    <h3> @(!string.IsNullOrWhiteSpace(SessionHelper.CurrentSession.FullName) ? SessionHelper.CurrentSession.FullName : SessionHelper.CurrentSession.UserName)</h3>
                    @if (!SessionHelper.CurrentSession.IsParent())
                    {
                        <a href="javascript:void(0)" id="changeMood" class="change-mood">
                            <img id="imgProfileFeelingSrc" src="@feelingLogo" alt="@status"> @ResourceManager.GetString("Shared.Labels.Feeling") <span id="spnFeelings">@Model.UserFeeling.FeelingType</span>
                        </a>
                    }
                </div>
            </div>

            <p class="user-status" id="prgShoutout">
                @status
                <a href="javascript:void(0)" id="btnshoutout" class="py-0 d-inline-block bg-transparent">
                    <i class="far fa-edit"></i>
                </a>
            </p>
            <ul class="profile-actions">

                @if (Model.LoginType == "VLE" && SessionHelper.CurrentSession.UserTypeId >= 4)
                {
                    <li class="dropdown-divider"></li>
                    <li>
                        <a href="@(PhoenixConfiguration.Instance.AdminHomePageUrl)">
                            <img src="@Url.Content("~/Content/img/svg/ic-admin.svg")"><span class="ml-2">@ResourceManager.GetString("Shared.Labels.Admin")</span>
                        </a>
                    </li>

                }
                @if (Model.LoginType == "VLE" && SessionHelper.CurrentSession.UserTypeId == 1)
                {
                    <li class="dropdown-divider"></li>
                    <li><a href="@("/StudentInformation/ReportAbuse")"><img src="@Url.Content("~/Content/student/img/svg/ic-report-abuse.svg")"><span class="ml-2">@ResourceManager.GetString("Shared.Labels.ReportConcern")</span></a></li>
                }
                @if (!SessionHelper.CurrentSession.IsStudent())
                {
                    <li><a href="javascript:void(0)" class="aShowLogger" data-formtype="I"><img src="@Url.Content("~/Content/vle/img/svg/ic-error-log.svg")"><span class="ml-2">@ResourceManager.GetString("Shared.Login.Issues")</span></a></li>
                    <li><a href="javascript:void(0)" class="aShowLogger align-items-center d-flex" data-formtype="F"><i class="fa-comment-alt far"></i><span class="ml-2">@ResourceManager.GetString("Shared.Login.Feedback")</span></a></li>
                }
                @if (SessionHelper.CurrentSession.IsParent())
                {
                    if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                    {
                        <li style="display:none"><a href="@Url.Action("initSetting", "Parent",new { area=""})"><img src="@Url.Content("~/Content/vle/img/svg/settings-gear.svg")"><span class="ml-2">@ResourceManager.GetString("Shared.Login.Setting")</span></a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("initSetting", "Parent",new { area=""})"><img src="@Url.Content("~/Content/vle/img/svg/settings-gear.svg")"><span class="ml-2">@ResourceManager.GetString("Shared.Login.Setting")</span></a></li>
                    }

                }
                @*@if (Model.LoginType == "VLE" && SessionHelper.CurrentSession.UserTypeId == 2)
        {
            <li class="dropdown-divider"></li>
            <li><a href="@("/ParentCorner/TCRequest")" id="aShowLogger"><img src="@Url.Content("~/Content/Student/img/svg/menu/tc-request.svg")"> @ResourceManager.GetString("TCRequest.TcRequestDetails.TCRequest")</a></li>
        }*@
                @* Need to modify for multiple role Id for single user *@
                @if (Model.LoginType == "Admin")
                {
                    <li class="dropdown-divider"></li>
                    <li><a href="@(PhoenixConfiguration.Instance.VLEHomePageUrl)"><img src="@Url.Content("~/Content/vle/img/svg/ic-classroom.svg")"><span class="ml-2">@ResourceManager.GetString("Shared.Labels.Classroom")</span></a></li>

                }


                <li class="dropdown-divider"></li>
                <li>
                    <a href="@Url.Action((SessionHelper.CurrentSession.IsSSOLogin ? "mssignout" : "signout"), "account", new { area =""})"><img src="@Url.Content("~/Content/vle/img/svg/ic-logout.svg")" class=" border-0 shadow-none" alt="Logout"><span class="ml-2">@ResourceManager.GetString("Shared.Login.Logout")</span></a>
                </li>
            </ul>
        </div>
    </li>
}

