﻿@using Phoenix.Common.Localization
@model Phoenix.VLE.Web.EditModels.SchoolMappingCommonEdit
@{
    string selectTextCountry = ResourceManager.GetString("SchoolMappingCommon.SchoolMapping.SelectCountry");
    string selectTextRegion = ResourceManager.GetString("SchoolMappingCommon.SchoolMapping.SelectCity");
}


<div class="modal-body">
    <div class="popup-form">
        <div class="card">
            <div class="card-body report-form column-padding">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.RegistrationId)

                <div class="row default-column-space">
                    <div class="col-12">
                        <h4 class="sub-heading">@ResourceManager.GetString("SchoolMappingCommon.SchoolMapping.Locations")</h4>
                    </div>
                </div>
                <div class="row default-column-space">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="md-form md-outline">
                            @Html.DropDownListFor(m => m.CountryId, new SelectList(ViewBag.Country, "Value", "Text"), selectTextCountry, new { @class = "selectpicker" })
                            @Html.ValidationMessageFor(x => x.CountryId)
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        @Html.DropDownListFor(m => m.CityId, new SelectList(ViewBag.Region, "Value", "Text"), selectTextRegion, new { @class = "selectpicker" })
                        @Html.ValidationMessageFor(x => x.CityId)
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <input type="text" id="searchBU" class="form-control gj-textbox-md" placeholder="@ResourceManager.GetString("SchoolMappingCommon.SchoolMapping.SearchSchools")" />
                    </div>
                </div>
                <div class="row default-column-space">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="school-selection border rounded p-3">
                            <div class="row">
                                <div class="col-lg-12 col-12">
                                    <div class="custom-control custom-checkbox mb-2">
                                        <input type="checkbox" class="custom-control-input" id="selectAll" disabled>
                                        <label class="custom-control-label" for="selectAll">@ResourceManager.GetString("SchoolMappingCommon.SchoolMapping.SelectAll")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="BusinessUnitId">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row default-column-space">
                    <div class="col-lg-12 col-md-12 col-12 text-right mb-3">
                        <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                        <button type="button" class="btn btn-primary waves-effect waves-light" onclick="schoolMappingCommon.saveMappedData(@Model.RegistrationId)">@ResourceManager.GetString("Shared.Buttons.Done")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#CountryId').selectpicker({});
    $('#CityId').selectpicker({});
    $("#CountryId").on("change", function () {

        schoolMappingCommon.loadCityDetails($("#CountryId").val());
    });

    $("#CityId").on("change", function () {
        schoolMappingCommon.loadBUDetails($("#CityId").val(), $("#RegistrationId").val());
    });
    $(document).on('click', '#selectAll', function (event) {
        if (this.checked) {
            $.each($("input[name='BusinessUnits']"), function (i) {
                $(this).prop('checked', true);
            });
        }
        else {
            $.each($("input[name='BusinessUnits']"), function (i) {
                $(this).prop('checked', false);
            });
        }
    });

    $(document).on('change', "input[name='BusinessUnits']", function (event) {

        if ($("input[name='BusinessUnits']").length == $("input[name='BusinessUnits']:checked").length) {
            $('#selectAll').prop('checked', true);
        }
        else {

            $('#selectAll').prop('checked', false);
        }
    });

    $("#searchBU").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#BusinessUnitId .buclass").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
   //$('#SelectedBUId').selectpicker({});
</script>
