﻿@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization

@if (SessionHelper.CurrentSession.IsParent())
    {
        foreach (var item in SessionHelper.CurrentSession.FamilyStudentList)
        {
            var studentImagePath = !string.IsNullOrWhiteSpace(item.StudentImage) ? Constants.StudentImagesPath + item.StudentImage : "/Content/VLE/img/default-avatar.jpg";
            if (item.Equals(SessionHelper.CurrentSession.CurrentSelectedStudent))
            {


                <div class="siblings-container ml-3 mt-0" onclick="getStudentDetails(@item.UserId)">
                    <figure class="m-0 d-flex align-items-center float-left active">
                        <a href="javascript:void(0)" class="rounded-circle current-student">
                            <img src="@studentImagePath" class="img-fluid" alt="@item.FirstName @item.LastName">
                        </a>
                        <figcaption class="text-medium ml-2 text-uppercase position-relative d-none d-lg-inline-block">@item.FirstName @item.LastName</figcaption>
                    </figure>

                </div>
            }
            else
            {


                    <div class="siblings-container ml-3 mt-0 " onclick="getStudentDetails(@item.UserId)">
                        <figure class="m-0 d-flex align-items-center float-left active">
                            <a href="javascript:void(0)" class="rounded-circle">
                                <img src="@studentImagePath" class="img-fluid" alt="@item.FirstName @item.LastName">
                            </a>
                            <figcaption class="text-medium ml-2 text-uppercase position-relative d-none">@item.FirstName @item.LastName</figcaption>
                        </figure>

                    </div>
            }
        }
    }
