﻿@using Phoenix.VLE.Web.Models
@using Phoenix.Common.Enums
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Helpers
@using Phoenix.Common.Localization
@{

    var UrlPath = Request.Url.AbsolutePath.ToString();
    var HomeUrl = "/Home";
    var schoolImage = "/Uploads/SchoolImages/" + SessionHelper.CurrentSession.SchoolImage;
    var modulestructure = ModuleHelper.GetModuleTitle();
    var rnd = DateTime.Now.Ticks.ToString();
    //Language helper
    var currentSystemLanguage = Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage;
    var langId = currentSystemLanguage.SystemLanguageId;
    var langCode = currentSystemLanguage.SystemLanguageCode;
    var langIsRightToLeft = currentSystemLanguage.IsRightToLeft;
    var isNotificationSeen = Phoenix.VLE.Web.Helpers.CommonHelper.GetCookieValue("ShowNotification", "isShown");
    var isNotificationExist = Phoenix.VLE.Web.Helpers.CommonHelper.GetCookieValue("NotificationExist", "exist");
    var isTermandConditionSeen = Phoenix.VLE.Web.Helpers.CommonHelper.GetCookieValue("ShowStudentTermandCondition", "isShown");
    var isTermandConditionExist = Phoenix.VLE.Web.Helpers.CommonHelper.GetCookieValue("StudentTermandConditionExist", "exist");
}
<!DOCTYPE html>
<html lang="@langCode" dir="@(langIsRightToLeft ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,maximum-scale=1,user-scalable=0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>@modulestructure.ModuleName</title>
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">*@
    <link rel="stylesheet" href="@Url.Content("~/Content/css/fontAwesome.min.css")" />
    <link href="@Url.Content("~/Content/VLE/css/addons/css-var.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/VLE/css/addons/filetype-icons.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/VLE/css/addons/menu-icon.css")" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/bootstrapcoreStudent")

    <!--switch language css -- defualt English-->
    <link href="@(langId == 2 ? Url.Content("~/content/student/css/bootstrap-rtl.css") : Url.Content("~/content/student/css/bootstrap.min.css"))" rel="stylesheet">
    <!-- dataTable css -->
    @Styles.Render("~/Content/datatablecss")
    <!-- Material Design Bootstrap -->

    @Styles.Render("~/Content/calendar")

    @*@Styles.Render("~/Content/main-common")*@
    @Styles.Render("~/Content/main-student")



    <style>
        .field-validation-error {
            color: red;
            font-size: 12px;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics Not required in Dev & QA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175803884-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-175803884-2');
        </script>

    @RenderSection("devexpressplugins", required: false)

</head>
<body>
    <header>
        @Html.Partial("_NavTopPartial")

        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">
            @*<a class="logo-wrapper waves-effect position-relative text-center px-3 py-4 border-bottom border-light">*@
            @if (Phoenix.VLE.Web.Constants.IsElite)
            {
                <a class="logo-wrapper d-block bg-white position-relative text-center border-bottom border-light cursor-default">
                    <img src="@Url.Content(schoolImage)" style="max-height: 12.375rem !important;" class="img-fluid logo" />
                </a>
            }
            else
            {
                <a class="logo-wrapper d-block bg-white position-relative text-center px-1 py-4 border-bottom border-light cursor-default">
                    @*<img src="@(langId==2 ? Url.Content("~/Content/VLE/img/svg/logo-ar.svg") : Url.Content("~/Content/VLE/img/svg/logo.svg"))" alt="Phoenix" class="img-fluid logo" />*@
                    <img src="@Url.Content(schoolImage)" class="img-fluid logo" />
                </a>
            }

            @{ Html.RenderAction("GetStudentMenuList", "Shared", new { area = "Shared" });}
        </div>
        <!-- Sidebar -->
    </header>
    <!-- header end -->
    <main class="pt-5 mx-lg-2 mt-4">
        <div class="container-fluid mt-2 mb-4">
            @if (HomeUrl.ToUpper() != UrlPath.ToUpper() && HomeUrl.ToUpper() + "/" != UrlPath.ToUpper())
            {
                <div class="row sub-header bg-white sticky-top mb-3 h-auto py-3">
                    <div class="col-12 d-sm-flex justify-content-between px-3 align-items-center pt-3 pt-sm-0">
                        <nav class="breadcrumbs mb-2 mb-sm-0">
                            <ul class="align-items-center d-flex flex-sm-nowrap flex-wrap">
                                @{
                                    Html.RenderAction("GetBreadCrumbModuleStructure", "Shared", new { area = "Shared" });
                                }
                            </ul>
                        </nav>
                        <div class="other-actions" id="breadcrumbActions">
                        </div>
                    </div>
                </div>
            }
            @{Html.RenderAction("GetDeploymentNotification", "Shared", new { area = "Shared" });}
            @{
                var loginType = Session["LoginType"] != null ? Session["LoginType"].ToString() : StringEnum.GetStringValue(MainModuleCodes.Classroom);
                Html.RenderAction("GetUserProfilePartialForMobile", "Shared", new { area = "Shared", loginType = loginType });
            }
            @RenderBody()
        </div>
    </main>

    <!-- footer start -->
    <footer class="d-flex justify-content-center">
        @if (Phoenix.VLE.Web.Constants.IsElite)
        {
            <p class="m-0 text-center mx-2">
                &copy; @ResourceManager.GetString("Shared.Labels.Copyright") |
            </p>
            <p class="m-0 text-center mx-2">
                <a href="mailto:classroomsupport@phoenixclassroom.com">@ResourceManager.GetString("Shared.Labels.ContactUs")</a> |
            </p>
            <p class="m-0 text-center mx-2">
                <a href="@Url.Action("GetEliteTermsAndConditionHtmlPage", "Home",  new { area=""})" target="_blank"> @ResourceManager.GetString("Shared.Labels.TermsNConditions")</a> |
            </p>
            <p class="m-0 text-center ml-2">
                <a href="@Url.Action("GetElitePrivacyHtmlPage", "Home",  new { area=""})" target="_blank">@ResourceManager.GetString("Shared.Labels.PrivacyPolicy")</a>
            </p>
        }
        else
        {
            <p class="m-0 text-center mx-2">
                &copy; @ResourceManager.GetString("Shared.Labels.Copyright") |
            </p>

            <p class="m-0 text-center mx-2">
                <a href="mailto:phoenixclassroom@Gemseducation.com">@ResourceManager.GetString("Shared.Labels.ContactUs")</a> |
            </p>
            <p class="m-0 text-center mx-2">
                <a href="@Url.Action("GetTermsAndConditionHtmlPage", "Home",  new { area=""})" target="_blank"> @ResourceManager.GetString("Shared.Labels.TermsNConditions")</a> |
            </p>
            <p class="m-0 text-center ml-2"> <a href="@Url.Action("GetPrivacyHtmlPage", "Home",  new { area=""})" target="_blank">@ResourceManager.GetString("Shared.Labels.PrivacyPolicy")</a></p>
        }


    </footer>
    <!-- footer end -->

    <div role="alert" class="paymentDue-toast d-none z-depth-2" data-autohide="true">
        <div class="toast-header">
            <strong class="mr-auto text-primary">Fee Payment Due</strong>
            <button type="button" class="ml-2 mb-1 close close-toast" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body p-3">
            <h3 class="mb-3">AED 2000 <span class="text-danger rounded py-1 px-3 ml-3">Due in 2 days</span></h3>
            <p class="m-0">Now it’s easy to set Auto Pay so that you don’t have to worry about fees anymore.</p>
            <button type="button" class="btn btn-primary btn-sm m-0 mt-3">Pay Now</button>
        </div>
    </div>

    <!-- preloader start -->
    <div class="loader-wrapper" id="loader-3">
        <div id="loader"></div>
        <div id="loader"></div>
        <div id="loader"></div>
        <div id="loader"></div>
        <div id="loader"></div>
    </div>
    <!-- modal popups end -->
    <div class="modal popup-purple-shade fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header  text-white border-0">
                    <h5 class="modal-title text-white" id="exampleModalLabel">@ResourceManager.GetString("Shared.Labels.SelectYourMood")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div>
        </div>
    </div>
    <div id="dvnotificationdrawer">
        @if (SessionHelper.CurrentSession.IsParent() || SessionHelper.CurrentSession.IsStudent())
        {
            Html.RenderAction("GetUserNotificationDrawer", "Shared", new { area = "Shared" });
        }
    </div>
    <!-- session timeout popup start -->
    <div class="modal fade popup-purple-shade blog-popup show" id="sessionTimeout" tabindex="-1" role="dialog" aria-labelledby="sessionTimeoutLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-white border-0">@ResourceManager.GetString("Shared.Messages.SessionExpirationWarning")</h5>
                </div>
                <div class="modal-body">
                    <p>@ResourceManager.GetString("Shared.Messages.SessionInactive") </p>
                    <p>@ResourceManager.GetString("Shared.Messages.SessionExpireIn")<span class="bold arabictxt" id="sessionSecondsRemaining"></span> @ResourceManager.GetString("Shared.Labels.Seconds")</p>
                </div>
                <div class="modal-footer d-flex justify-content-end border-0 pt-0">
                    <button id="logoutSession" type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="IdleTimeout();">@ResourceManager.GetString("Shared.Login.Logout")</button>
                    <button id="extendSession" type="button" class="btn btn-primary btn-success" data-dismiss="modal" onclick="ResetTimers(); clearCountdown();">@ResourceManager.GetString("Shared.Login.StayOnline")</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal popups -->

    <div class="modal fade popup-purple-shade blog-popup show" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-white border-0 ">
                    <h5 class="m-0 text-medium" id="modal_heading"></h5>
                    <button type="button" id="modal_close" class="close py-0 px-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal_Loader"></div>
            </div>
        </div>
    </div>
    <!-- preloader End -->
    <!-- SCRIPTS -->
    @Scripts.Render("~/bundles/toplayoutStudentjs")

    <!--Loader-->
    @Html.Partial("_LoaderPartial")
    <!--Loader end-->
    <!-- START PAGE PLUGINS -->
    @RenderSection("pageplugins", required: false)
    <!-- END PAGE PLUGINS -->
    @Scripts.Render("~/bundles/calendarBundlejs-student")



    @Scripts.Render("~/bundles/bottomlayoutjs")
    @*<script src="~/Content/js/common/global.js"></script>*@
    @* for winter holiday theme js *@
    @*<script src="@Url.Content("~/Content/Student/js/addons/jquery.flurry.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>*@

    @if (SessionHelper.IsSessionActive())
    {
        @Html.Partial("_CommonScriptPartial")
    }

    @RenderSection("scripts", required: false)

    <script src="https://cdn.jsdelivr.net/npm/signalr@2.4.1/jquery.signalR.min.js"></script>
    @Scripts.Render(@PhoenixConfiguration.Instance.SignalRApUrl + "/signalr/hubs")
    <script>
    $(document).ready(function () {
        @*console.log("Student TermandCondition: " + @isTermandConditionSeen);
        console.log("Student TermandConditionExist: " + @isTermandConditionExist);*@

        if (@isTermandConditionSeen && @isTermandConditionExist && '@Constants.IsGems' == 'True') {
                document.cookie = "ShowStudentTermandCondition=isShown=false;expires=session;path=/;";
                globalFunctions.loadStuddentTermsAndConditionPopUp();
            }
        else if (@isNotificationSeen  && @isNotificationExist) {
                console.log('Notification');
                document.cookie = "ShowNotification=isShown=false;expires=session;path=/;";
                //globalFunctions.loadNotificationPopup();
            }
            $('.paymentDue-toast').addClass('animated fadeInRight');
            $('body').on('click', '.close-toast', function () {
                $(this).parent().parent().fadeOut();
            })
            $('[data-toggle="popover-hover"]').popover({
                html: true,
                trigger: 'hover',
                placement: 'left',
                container: '#groups-popover',
            });
            $('[data-toggle="popover"]').popover({
                html: true,
                trigger: 'focus',
                placement: 'right',
                container: '#assignment-popover'
            });
        });
        $(window).on("load", function () {

            $(".resources").mCustomScrollbar({
                autoHideScrollbar: true,
                autoExpandScrollbar: true,
                scrollbarPosition: "outside",
            });
            //$(".sidebar-fixed .list-group").mCustomScrollbar({
            //    setHeight: "86%",
            //    autoExpandScrollbar: true,
            //    autoHideScrollbar: true,
            //    scrollbarPosition: "outside"
            //});

            $('.loader-wrapper').fadeOut(500, function () {
                //$('.loader-wrapper').remove();
            });
            //$(".notification-list").mCustomScrollbar({
            //    //setHeight: "76%",
            //    autoExpandScrollbar: true,
            //    scrollbarPosition: "inside",
            //    autoHideScrollbar: true,
            //});
            $('#lightgallery').lightGallery({
                selector: '.galleryImg',
                share: false
            });
            $('#StudentAssignmentFiles').lightGallery({
                selector: '.galleryImg',
                share: false
            });
        });

    </script>
</body>
</html>

