﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.AssignmentStudentDetails>
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization;
@{
    var rnd = DateTime.Now.Ticks.ToString();

    var searchCss = SessionHelper.CurrentSession.IsParent() ? "task-search" : "page-search";
}

<div class="task-search pt-3 pb-3">
    <div class="row d-flex justify-content-end">
        <div class="col-lg-8 col-md-8 col-12">
            <div class="search-with-bg border rounded-4x bg-white">
                <span class="icon-search"></span>
                <input data-url="@(string.Format(Model.LoadPageRecordsUrl,1,Model.SearchString))" value="@Model.SearchString" type="search" class="searchfield" id="searchContent" placeholder="@ResourceManager.GetString("Assignment.Assignment.SearchAssignment")">
            </div>
        </div>

    </div>
</div>


<div class="row assignment-list">
    @if (Model.PageRecords.Any())
    {
        foreach (var assignment in Model.PageRecords)
        {
            var dueDays = (assignment.DueDate.Date - DateTime.Today).Days;

            var draftClass = "";
            if (!assignment.IsPublished)
            {
                draftClass = "status-draft";
            }
            var overdueClass = "";
            if (dueDays < 0 && assignment.IsPublished)
            {
                overdueClass = "status-overdue";
            }
            var completedAsgClass = "";
            if (assignment.CompletedStudentCount == assignment.NoofStudent)
            {
                overdueClass = "";
                completedAsgClass = "fas fa-check-circle text-success completed";
            }
            else
            {
                completedAsgClass = "far fa-check-square";
            }
            var dueDaysTitle = assignment.DueDate == DateTime.MinValue ? @ResourceManager.GetString("Shared.Labels.NoDueDate") : (dueDays <= 0 ? @ResourceManager.GetString("Shared.Labels.OverDueBy") + dueDays.ToString().Replace("-", "") + @ResourceManager.GetString("Shared.Labels.Days") : @ResourceManager.GetString("Shared.Labels.DueIn") + dueDays.ToString() + (dueDays == 1 || dueDays == -1 ? @ResourceManager.GetString("Shared.Labels.Day") : @ResourceManager.GetString("Shared.Labels.Days")));

            <div class="col-lg-4 col-md-4 col-12 mb-4">
                <article class="position-relative overflow-hidden pt-3 hoverable">
                    <div class="row pl-3 pr-3">
                        <div class="col-lg-3 col-md-3 col-3">
                            <div class="assignment-completed-number">
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" data-title="Assignment Completed">
                                    <i class="@completedAsgClass"></i> <span>@assignment.CompletedStudentCount/@assignment.NoofStudent </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-9">
                            <ul class="assignment-links">
                                <li class="ml-2 mr-2">
                                    <a class="assignment-icon-group" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-html="true" data-title="Assignment StartDate is <b class='tt-text-large'>@assignment.StartDate.ToString("dd-MMM-yyyy")</b>">
                                        <i class="fas fa-calendar"></i>
                                    </a>
                                </li>
                                @if (assignment.DueDate.ToString() != "1/1/0001 12:00:00 AM")
                                {
                                    <li class="ml-2 mr-2">
                                        <a class="assignment-icon-group" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-html="true" data-title="Assignment DueDate is <b class='tt-text-large'>@assignment.DueDate.ToString("dd-MMM-yyyy hh:mm tt")</b>">
                                            <i class="fas fa-calendar"></i>
                                        </a>
                                    </li>
                                }
                                <li class="ml-2 mr-2">
                                    <a class="assignment-icon-group" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-html="true" data-title="Grade Assigned to <b class='tt-text-large'>@assignment.AssignGradeCount</b> Student(s)">
                                        <i class="fas fa-award"></i> @assignment.AssignGradeCount
                                    </a>
                                </li>
                                <li class="ml-2 mr-2">
                                    <a class="assignment-icon-group" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-html="true" data-title="Total Student(s)">
                                        <i class="far fa-user"></i> @assignment.CompleteMarkbyStudentCount/@assignment.NoofStudent
                                    </a>
                                </li>
                                <li class="ml-2 mr-2">
                                    <a class="assignment-icon-group" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-html="true" data-title="<b class='tt-text-large'>@assignment.NoofAttachment.ToString()</b> Attachment(s)">
                                        <i class="fas fa-paperclip"></i> @assignment.NoofAttachment.ToString()
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="assignment-info pl-3 pr-3">
                        <h3 class="mt-3 mb-3 text-capitalize overflow-hidden">
                            <a class="text-truncate text-semibold" href="/Assignments/Assignment/GetAssignmentStudentDetailsByAssgnmtId?id=@EncryptDecryptHelper.EncryptUrl(assignment.AssignmentId)">
                                @assignment.AssignmentTitle
                            </a>
                            <span class="d-block text-uppercase mt-1">@assignment.SubjectName</span>
                        </h3>
                        @{
                            var desc = System.Text.RegularExpressions.Regex.Replace(assignment.AssignmentDesc, "<.*?>", String.Empty);
                        }

                        @if (desc.Length < 60)
                        {
                            <p class="mb-3 text-truncate">
                                @desc
                            </p>
                        }
                        else
                        {
                            <div class="text-muted content text-medium dropright popoverInformation text-truncate">
                                <p class="mb-3 text-truncate">
                                    @(desc.Substring(0, 60) + "...")
                                    <a class="font-small" href="/Assignments/Assignment/GetAssignmentStudentDetailsByAssgnmtId?id=@EncryptDecryptHelper.EncryptUrl(assignment.AssignmentId)">Read more</a>
                                </p>
                            </div>
                        }

                    </div>
                </article>
            </div>
        }
    }
    else
    {
        <span class="no-data-found text-bold d-block mx-auto my-5">@ResourceManager.GetString("Shared.Labels.NoRecords")</span>
    }
</div>

@Html.Partial("_PaginationIndex", Model)

