﻿<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Phoenix 2.0</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/fontAwesome.min.css")" />

    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/bootstrapcore-vle")

    <!-- dataTable css -->
    @Styles.Render("~/Content/datatablecss-vle")
    <!-- Material Design Bootstrap -->
    @Styles.Render("~/Content/main-vle-student")
    <style>
        .field-validation-error {
            color: red;
            font-size: 12px;
        }
        body{
            background-color:lightgray;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152690699-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-152690699-1');
    </script>

</head>
<body>
   
   
            @RenderBody()
   
   
    <script type="text/javascript" src="~/Content/js/jquery-3.3.1.min.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
    
</body>
</html>

