﻿@model IEnumerable<Phoenix.Common.Models.StudentNotification>
@using Phoenix.Common.Localization;


<div class="alert alert-notification fade show" role="alert">
    <a href="#" id="notificationRightDrawer" data-target="NotificationDV" data-width="100%" class="trigger-rightDrawer d-flex justify-content-between align-items-center">
        <span class="d-flex align-items-center text-medium"><i class="fas fa-bell notification-icon mr-3"></i> @ResourceManager.GetString("Shared.Labels.Notifications")</span>
        <span class="count text-semibold notification-count"><span class="arabictxt"> @Model.Count()</span></span>
    </a>
</div>


