﻿@model IEnumerable<Phoenix.Common.Models.UserNotificationView>
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization;
<!-- right drawer start -->
<div class="right-drawer z-depth-1">
    <div class="notification-holder">
        <div class="row column-padding pt-3 pb-3 border-bottom drawer-header">
            <div class="col-lg-11 col-md-11 col-11">
                <h2 class="m-0">@ResourceManager.GetString("Shared.Labels.Notifications")</h2>
            </div>
            <div class="col-lg-1 col-md-1 col-1 text-right">
                <a href="javascript:void(0)" class="closeRightDrawer"><i class="fas fa-times"></i></a>
            </div>
        </div>
        @if (Model.Any())
        {
            var savedDate = String.Empty;
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 ">
                    <ul class="notification-list mark-noti-read">

                        @foreach (var item in Model)
                        {
                            var cssClass = item.NotificationModuleName == "Assignment" ? "d-flex align-items-center cat-assignment" : item.NotificationModuleName == "Observation" ? "d-flex align-items-center cat-observations" : "d-flex align-items-center cat-resources";
                            var createdDate = item.CreatedOn == DateTime.MinValue ? "Older Notifications" : item.CreatedOn.ToString("dd MMM yyyy");
                            if (savedDate != createdDate)
                            {
                                <li class="group-by-date mb-0">
                                    <h4 class="sub-heading mt-2 mb-2 column-padding">@createdDate</h4>
                                </li>
                            }
                            <li class="@cssClass">
                                <div class="noti-category text-center">
                                    <span>@item.NotificationModuleName.Substring(0, 1).ToUpper()</span>
                                </div>
                                <div class="noti-info d-flex justify-content-between align-items-center">
                                    <a href="javascript:void(0)" onclick="globalFunctions.openNotification('@item.NotificationType.Trim()','@EncryptDecryptHelper.EncryptUrl(item.SourceID.ToString())',false)">
                                        <h4 class="m-0">@item.CreatedBy created new @item.NotificationModuleName - @item.NotificationMessage</h4>
                                    </a>
                                    <a href="javascript:void(0)" onclick="globalFunctions.openNotification('@item.NotificationType.Trim()','@EncryptDecryptHelper.EncryptUrl(item.SourceID.ToString())',true)" class="p-0 remove-noti">
                                        <i class="fas fa-check"><span>@ResourceManager.GetString("Shared.Labels.MarkRead")</span></i>
                                    </a>
                                </div>
                            </li>
                            savedDate = createdDate;
                        }


                    </ul>
                </div>
            </div>
            <div class="drawer-footer">
                <a href="/home/notifications" class="more-notifications pt-3 pb-3">@ResourceManager.GetString("Shared.Labels.MoreNotifications")</a>
            </div>
        }
        else
        {
            <div class="no-record-found">
                <span class="no-data-found text-bold d-block mx-auto my-auto">
                    @ResourceManager.GetString("Shared.Labels.NoRecords")
                </span>
            </div>
        }
    </div>
</div>
<!-- right drawer end -->
