﻿
@using Phoenix.Common.Localization
@{
    var rnd = DateTime.Now.Ticks.ToString();
}
<script src="@Url.Content("~/Content/js/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript">

    $.validator.setDefaults({
        ignore: ".ignore"
    });

    

</script>