﻿@using Phoenix.Common.Localization
@model System.Web.Mvc.HandleErrorInfo
@{
    //Language helper
    var currentSystemLanguage = Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage;
    var langId = currentSystemLanguage.SystemLanguageId;
    var langCode = currentSystemLanguage.SystemLanguageCode;
    var langIsRightToLeft = currentSystemLanguage.IsRightToLeft;
    // Elmah.ErrorLog.GetDefault(HttpContext.Current).Log(new Elmah.Error(Model.Exception, HttpContext.Current));
    Elmah.ErrorSignal.FromCurrentContext().Raise(Model.Exception);
    var hdnServerRequest = System.Net.Dns.GetHostAddresses(System.Net.Dns.GetHostName());
}

@if (hdnServerRequest != null)
{
    for (int i = 0; i < hdnServerRequest.Count(); i++)
    {
        @Html.Hidden($"IP_{i}", hdnServerRequest[i].ToString())
    }
}
<!DOCTYPE html>
<html lang="@langCode" dir="@(langIsRightToLeft ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Page Not Found</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/bootstrapcore-vle")
    <!--switch language css -- defualt English-->
    <link href="@(langId == 2 ? Url.Content("~/Content/VLE/css/bootstrap-rtl.css") : Url.Content("~/Content/VLE/css/bootstrap.min.css"))" rel="stylesheet">
    @Styles.Render("~/Content/main-vle-teacher")
</head>

<body>
    <main class="p-2">
        <div class="container-fluid mt-2 mb-4">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <!-- add incident accordians start -->
                    <div class="row add-incident-steps">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="accordion" id="addIncidentAccordian" role="tablist" aria-multiselectable="true">

                                <!-- Basic details start -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="img-text-wrapper">
                                            <img src="@Url.Content("~/content/VLE/img/svg/ic-generic-error.svg")" alt="" class="pb-3 no-page-found-img">
                                            <p class="no-permission-text-color-dark">@ResourceManager.GetString("Shared.Messages.PageNotFound")</p>
                                            <p class="no-permission-text-color-light">@ResourceManager.GetString("Shared.Messages.BackToHome")</p>
                                            @*<p class="no-permission-text-color-light">@Model.Exception.InnerException </p>
                                            <p class="no-permission-text-color-light">@Model.Exception.Message </p>*@
                                            @*<p class="no-permission-text-color-light">@Model.Exception.StackTrace </p>*@
                                            <p>@Html.Hidden("innerexception", Model.Exception.InnerException)</p>
                                            <p> @Html.Hidden("message",Model.Exception.Message) </p>
                                            @*<p>@Html.Hidden("stacktrace", Model.Exception.StackTrace)</p>*@
                                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="location.href='/home'">@ResourceManager.GetString("Shared.Labels.Back")</button>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- add incident accordians end -->
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer start -->
    <footer class="p-0 page-footer">
        <p class="m-0 text-center">&copy; @ResourceManager.GetString("Shared.Labels.Copyright")</p>
    </footer>
    <!-- footer end -->
    <!-- SCRIPTS -->
    <script type="text/javascript" src="@Url.Content("~/content/js/jquery-3.3.1.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript" src="@Url.Content("~/content/js/popper.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript" src="@Url.Content("~/content/js/bootstrap.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript" src="@Url.Content("~/content/js/mdb.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

</body>

</html>











