﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Enums
@model IEnumerable<Phoenix.VLE.Web.Models.AssessmentColumn>
@{
    int RowNo = 1;
}

<table class="table table-bordered bg-white mb-0" width="100%" id="tbl-AssessmentColumnGrid">
    <thead>
        <tr>
            <th class="pb-2 pt-2" width="50">#</th>
            <th class="pb-2 pt-2"><small><strong>@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.ColumnName")</strong></small></th>
            <th class="pb-2 pt-2"><small><strong>@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.AssessmentConfigCourse")</strong></small></th>
            <th class="pb-2 pt-2"><small><strong>@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.ControlType")</strong></small></th>
            <th class="pb-2 pt-2"><small><strong>@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.IsLock")</strong></small></th>
            <th class="pb-2 pt-2"><small><strong>@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.AssessFromMark")</strong></small></th>
            <th class="pb-2 pt-2"><small><strong>@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.AssessToMark")</strong></small></th>
            <th class="pb-2 pt-2"><small><strong>@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.AssessComment")</strong></small></th>
            <th class="pb-2 pt-2"><small><strong>@ResourceManager.GetString("AssessmentConfiguration.Common.Action")</strong></small></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string ControlTypeName = ((ControlType)item.ControlType).ToString("F");
            string ActiveStatus = item.ASC_ActiveStatus ? "Yes" : "No";
            var FromMark = item.ControlType == 0 ? item.FromMark.ToString() : "";
            var ToMark = item.ControlType == 0 ? item.ToMark.ToString() : "";
            <tr>
                <td class="pb-2 pt-2">@RowNo</td>
                <td class="pb-2 pt-2">@item.ASC_Description</td>
                <td class="pb-2 pt-2">@item.CourseName</td>
                <td class="pb-2 pt-2">@ControlTypeName</td>
                <td class="pb-2 pt-2">@ActiveStatus</td>
                <td class="pb-2 pt-2">@FromMark</td>
                <td class="pb-2 pt-2">@ToMark</td>
                <td class="pb-2 pt-2">@item.AssessComment</td>
                <td class="pb-2 pt-2">
                    <a class="table-action-text-link" onclick="AssessmentConfigurationSetting.EditAssessmentColumn(@RowNo)"><i class="fa fa-pen"></i></a>
                </td>
            </tr>
            RowNo++;
        }
    </tbody>
</table>
<script>
    $("#tbl-AssessmentColumnGrid").DataTable(
        {
            //"iDisplayLength": 5,
            //"lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]]
        }
    );
    AssessmentConfigurationSetting.AssessmentColumnList = @Html.Raw(Json.Encode(Model));
    AssessmentConfigurationSetting.AssessmentColumnList.forEach((element, index) => element.index = index+1);
</script>