﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.VLE.Web.Models.AssessmentConfigSetting>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers

@{
    var rnd = DateTime.Now.Ticks.ToString();
}
<div class="row search-row mb-3">
    <div class="col-lg-6 col-md-6 col">
        <div class="search-with-bg">
            <span class="icon-search"></span>
            <input data-url="@(string.Format(Model.LoadPageRecordsUrl,1,Model.SearchString))" value="@Model.SearchString" type="text" id="searchContent" class="search-field custom searchfield" placeholder="Search">
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col"></div>
    <div class="col-lg-3 col-md-3 col text-right">
        <button type="submit" class="btn btn-primary btn-sm m-0 text-uppercase" onclick="AssessmentConfigurationSetting.loadAssessmentConfigForm(0)" data-target="reportConfiguration"><small class="text-medium">@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.AddNew")</small></button>
    </div>
</div>
<div class="row course-desc-section">
    @if (Model.PageRecords.Any())
    {
        foreach (var configObj in Model.PageRecords)
        {
            //var editUrl = string.Concat(createNewUrl, "&id=", EncryptDecryptHelper.EncryptUrl(course.SchoolGroupId));
            <div class="col-lg-2 col-md-2 col-12 course-card">
                <div class="card">
                    <div class="card-body">
                        <div class="course-desc-header">
                            <div class="course-desc-info d-flex justify-content-between">
                                <span class="ml-3"></span>
                                <a class="table-action-text-link" data-toggle="tooltip" title="Edit" onclick="AssessmentConfigurationSetting.loadAssessmentConfigForm(@configObj.AssessmentMasterId)">
                                    <span class='course-edit mr-2'><i class='fas fa-pencil-alt'></i></span>
                                </a>
                            </div>
                        </div>
                        <div class="course-desc-body mt-4">
                            <h3 class="course-heading" data-toggle="tooltip"
                                title="@configObj.ASM_Description">
                                @if (configObj.ASM_Description.Length > 13)
                                {
                                    <span>@(Html.Raw(configObj.ASM_Description.Substring(0, 13)))...</span>
                                }
                                else
                                {
                                    <span>@Html.Raw(configObj.ASM_Description)</span>
                                }
                            </h3>
                            <div class="course-description"
                                 data-toggle="tooltip">
                                @if (!string.IsNullOrEmpty(configObj.SchoolGradeDisplay))
                                {
                                    foreach (var gradeDesc in configObj.SchoolGradeDisplay.Split(','))
                                    {
                                        <span class="badge badge-pill badge-primary">@gradeDesc</span>
                                    }
                                }
                            </div>
                            <div class="course-description"
                                 data-toggle="tooltip">
                                @*<span class="badge badge-pill badge-success">@teachers.TeacherName</span>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
@Html.Partial("_PaginationIndex", Model)

