﻿@using Phoenix.VLE.Web.Models
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@model Phoenix.VLE.Web.Models.AssessmentConfigSetting
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var curriculum = (SelectList)ViewBag.CurriculumList;
}

<div class="col-lg-12 col-md-12 col-12">
    <div class="card">
        <div class="card-body">
            <div class="title-with-fields">
                <h3 class="card-title clearfix">
                    @ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.Configuration")
                </h3>
                <div class="title-fields">
                    <a class="text-sem text-dark pr-3 pl-3 btn btn-sm m-auto waves-effect waves-light text-bold Searchmore" onclick="AssessmentConfigurationSetting.showReportConfig(false);">
                        <i class="fas fa-arrow-alt-circle-left pr-1"></i>@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.backtoReports")
                    </a>
                </div>
            </div>
            <div class="column-padding pt-3 pb-3">
                <input type="hidden" id="AssessIndexId" value="0" />
                @Html.HiddenFor(m => m.AssessmentMasterId)

                <div id="mainAssessmentForm" class="row">
                    @if (curriculum.Any())
                    {
                        if (curriculum.Count() > 1)
                        {
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="md-form md-outline mb-3">
                                    @Html.DropDownList("AssessmentConfigCurriculumId", curriculum, selectText, new { @class = "selectpicker" })
                                    @Html.LocalizedLabel("active", "Course.Course.Curriculum")
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.Hidden("CurriculumId", curriculum.First().Value)
                        }
                    }
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="md-form md-outline mb-3">
                            @Html.TextBoxFor(m => m.ASM_Description, new { @class = "form-control", @data_required = "", @data_maxlength = "100" })
                            <label for="ASM_Description" class="active">@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.Description") <span class="text-danger">*</span></label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="md-form md-outline mb-0">
                            @Html.DropDownList("ddlAssessmentConfigGradeId", (SelectList)ViewBag.GradeList, new { @class = "selectpicker mr-2", @data_required = "", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true" })
                            <label class="active select-label" for="ddlAssessmentConfigGradeId">@ResourceManager.GetString("AssessmentConfiguration.Common.Grade") <span class="text-danger">*</span></label>
                        </div>
                    </div>
                </div>

                <h4 class="sub-heading text-black-50 text-semibold mt-4 mb-3">@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.AssessmentColumn")</h4>
                <div id="headerForm">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="md-form md-outline mb-3">
                                <input id="ColumnName" type="text" class="form-control" name="ColumnName" data-required="" data-maxlength="100">
                                <label for="ColumnName" class="active">@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.ColumnName") <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="md-form md-outline mb-0">
                                @Html.DropDownList("ddlAssessmentConfigCourseId", new SelectList(string.Empty), new { @class = "selectpicker mr-2", @data_required = "", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true" })
                                <label class="active select-label" for="ddlAssessmentConfigCourseId">@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.AssessmentConfigCourse") <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="md-form md-outline mb-0">
                                @Html.DropDownList("ddlAssessmentConfigControlType", (SelectList)ViewBag.ControlTypeList, new { @class = "selectpicker mr-2", @data_required = "" })
                                <label class="active select-label" for="ddlAssessmentConfigControlType">@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.ControlType") <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12" id="divMark">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="md-form md-outline mb-0">
                                        <input type="number" name="AssessFromMark" id="AssessFromMark" value="" class="form-control" data-required="">
                                        <label class="active select-label" for="AssessFromMark">From Mark <span class="text-danger">*</span></label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="md-form md-outline mb-0">
                                        <input type="number" name="AssessToMark" id="AssessToMark" value="" class="form-control" data-required="">
                                        <label class="active select-label" for="AssessToMark">To Mark <span class="text-danger">*</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12 d-none" id="divGrade">
                            <div class="md-form md-outline mb-0">
                                @Html.DropDownList("ddlGTM_Grade", new SelectList(string.Empty), selectText, new { @class = "selectpicker", id = "ddlGTM_Grade", @data_required = "" })
                                <label class="active select-label">@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.GTM_Grade")</label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12 d-none" id="divComment">
                            <div class="md-form md-outline mb-0">
                                <input type="text" name="AssessComment" id="AssessComment" value="" class="form-control" data-required="">
                                <label class="active select-label" for="AssessComment">@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.AssessComment") <span class="text-danger">*</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="md-form md-outline mb-0">
                                <div class="md-form md-outline mb-3">
                                    <input id="AssessOrder" type="number" class="form-control" name="AssessOrder" data-numeric="">
                                    <label for="AssessOrder" class="active">@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.AssessOrder") </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="mb-3">
                                <div class="custom-control custom-checkbox custom-control-inline ml-2">
                                    <input id="IsLock" type="checkbox" class="form-control custom-control-input" name="IsLock">
                                    <label for="IsLock" class="custom-control-label">@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.IsLock") </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">
                        <div class="col-6">
                            <button type="button" onclick="AssessmentConfigurationSetting.SaveAssessmentColumn()" class="btn btn-outline-primary m-0 headerFormBtn">@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.BtnAdd")</button>
                        </div>
                        <div class="col-6 text-right">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="divAssessmentColumnGrid" class="col-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="row add-task-header pt-3 pb-3">
                    <div class="col-lg-12 col-md-12 col-12 text-center">
                        <button type="button" id="btnSaveAssessConfig" onclick="AssessmentConfigurationSetting.FinalSaveAssessmentConfig()" class="btn btn-primary mt-0 mb-0 waves-effect waves-light">@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.SaveChanges")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    translatedResources.MinMarksGreaterThenMaxMarks = '@ResourceManager.GetString("AssessmentConfiguration.AssessmentConfiguration.MinMaxMarksValidationMessage")';
    $(document).ready(function () {
         debugger
         var gradeIds ="@Model.SchoolGradeIds";
         $("#ddlAssessmentConfigGradeId").val(gradeIds.split(','));
         $("#ddlAssessmentConfigGradeId").selectpicker('refresh');
         $("#ddlAssessmentConfigGradeId").trigger('hide.bs.select');
        });
</script>

