﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    ViewBag.Title = "Assesment Configuration";
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rnd = DateTime.Now.Ticks.ToString();
    var curriculum = (SelectList)ViewBag.Curriculum;
}

<div class="table-wrapper mt-2 pagination-panel" id="mainPageAssessmentConfig">
    <div id="ReportCardGrid">

    </div>
</div>
<div class="row" id="reportConfiguration">

</div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
}
@section scripts{
    <script src="@Url.Content("~/Content/js/custom/Assessment/AssessmentConfiguration.js?rnd="+rnd)"></script>
}
