﻿@model IEnumerable<Phoenix.VLE.Web.Models.GradeSlabMaster>
@using Phoenix.Common.Localization

@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    var rnd = DateTime.Now.Ticks.ToString();
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-configuration.svg");
}
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
<div id="divAddAssessmentConfig" class="d-none">
    @using (Ajax.BeginForm("SaveGradingSlab", "GradingSlab", new AjaxOptions { OnSuccess = "GradeSlab.onGradingSlabSuccess" }, new { id = "GradingSlabConfig", @class = "form-horizontal" }))
    {
        <div class="row" id="frmAssessmentConfig">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card safety-categories-wrapper">
                    <div class="card-body column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="card-title">

                                <span id="spnBtnBacktoGrid" class="pull-right font-small cursor-pointer"><i class="fas fa-arrow-alt-cirlce-left"></i> Back</span>
                            </div>
                        </div>

                        <div class="table-wrapper">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="md-form md-outline mb-3">
                                            <input class="form-control" id="GradeSlabMasterDesc" placeholder="Description" name="GradeSlabMasterDesc" type="text" value="" />
                                            <label class="active" for="Details">@ResourceManager.GetString("Course.GradeSlab.Description")</label>
                                            <input class="form-control" id="MasterIds" name="MasterIds" type="hidden" value="" />
                                            <input class="form-control" placeholder="TemPlateName" id="GradeSlabMasterId" name="GradeSlabMasterId" type="hidden" value="" />
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="md-form md-outline mb-3">
                                            <button id="add" type="button" onclick="GradeSlab.AddRow()" class="btn btn-primary">@ResourceManager.GetString("Course.GradeSlab.Add")</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="tbl-ConfigListMasterSlab">
                                <table class="table  table-hover" id="tbl-ConfigListSlab">
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="md-form md-outline mb-3">
                                            <button type="button" class="btn btn-primary" onclick="GradeSlab.saveGradeSlab()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="card" id="Showtable">
    <div class="card-body">

        @Html.Partial("_GradeSlab", Model)
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/AssessmentConfig/GradeSlab.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        GradeSlab.ConfigArray =@Html.Raw(Json.Encode(Model));
        $('#tbl-GradeSlab').DataTable({
              "pageLength": 5,
                "ordering": false
            });
    </script>


}
