﻿@using Phoenix.Common.Localization
@using Phoenix.Models.Entities
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Enums;
@model Phoenix.Models.ParameterSetting

@{
    var selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rnd = DateTime.Now.Ticks.ToString();
}

<form id="frmParamSetting">
    @Html.HiddenFor(m => m.ParamaterId)
    <div class="row mb-2">

        <div class="col-lg-4 col-md-4 col-12">
            <div class="md-form md-outline mb-0">
                @Html.DropDownListFor(x => x.ParameterTypeName, (SelectList)ViewBag.ParameterType, selectText, new { @id = "ParameterTypeId", @class = "selectpicker", @data_required = "" })
                <label class="active" for="ParameterTypeId">@ResourceManager.GetString("AttendanceSetting.ParameterSetting.ParameterType")</label>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="md-form md-outline mb-0">
                @Html.TextBoxFor(m => m.ParameterDesc, new { @id = "ParameterDesc", @class = "form-control", @data_required = "", @data_maxlength = "40" })
                <label class="active" for="ParameterDesc">@ResourceManager.GetString("AttendanceSetting.ParameterSetting.ParameterDesc")</label>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="md-form md-outline mb-0">
                @Html.TextBoxFor(m => m.ReportParameterDesc, new { @id = "ReportParameterDesc", @class = "form-control", @data_required = "", @data_maxlength = "200" })
                <label class="active" for="ReportParameterDesc">@ResourceManager.GetString("AttendanceSetting.ParameterSetting.ReportDesc")</label>


            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="md-form md-outline mb-0">
                @Html.TextBoxFor(m => m.ParameterDisplayCode, new { @id = "ParameterDisplayCode", @class = "form-control", @data_required = "", @data_maxlength = "2" })

                <label class="active" for="ParameterDisplayCode">@ResourceManager.GetString("AttendanceSetting.ParameterSetting.DisplayCode")</label>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="md-form md-outline mb-0">
                @Html.TextBoxFor(m => m.ParameterDisplayOrder, new { id = "ParameterDisplayOrder", @class = "form-control", @data_required = "", @data_maxlength = "2" })

                <label class="active" for="ParameterDisplayOrder">@ResourceManager.GetString("AttendanceSetting.ParameterSetting.DisplayOrder")</label>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-12">
            <button class="btn btn-primary btn-block text-center" onclick="parameterSetting.saveParameterSetting()" type="button">save</button>
        </div>
    </div>
</form>

