﻿@using Phoenix.Common.Localization
@using Phoenix.Models.Entities
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Enums;
@model IEnumerable<Phoenix.Models.AttendanceType>
    @{
        var selectText = ResourceManager.GetString("Shared.Labels.Select");
        var rnd = DateTime.Now.Ticks.ToString();
    }

    <div class="">
        <div class="column-padding row pt-3 pb-3 border-bottom other-settings-drawer">
            <div class="col-lg-6 col-md-6 col-10">
                <h2 class="m-0">
                    <span class="rounded-circle bg-other-option4 p-2 mr-2 icon-wrap text-center"><i class="fas fa-user-tag"></i></span>
                    @ResourceManager.GetString("AttendanceSetting.AttendanceType.AttendanceType")
                </h2>
            </div>
            <div class="col-lg-5 col-md-5 col-12">
                <div class="md-form md-outline mb-0">
                    <div id="divBack" class="" style="display:none">
                        <span class="pull-right font-small cursor-pointer" data-toggle="back" onclick="AttendanceType.GetAttendanceTypeList()"><i class="fas fa-arrow-alt-circle-left"></i> Go Back</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-1 text-right">
                <a href="javascript:void(0)" class="closeRightDrawer"><i class="fas fa-times"></i></a>
            </div>
        </div>
        <div class="column-padding">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 ">
                    <!--Main Action Taken settings starts-->
                    <div class="pt-3 pb-3">
                        <div id="showForm">

                        </div>
                        <div class="row mb-0" id="AddBtn">
                            <div class="col-lg-9 col-md-9 col-12"></div>
                            <div class="col-lg-3 col-md-3 col-2 text-center">
                                <button class="btn btn-primary btn-block text-center" type="button" onclick="AttendanceType.AddEditAttendanceType(0)">Add</button>
                            </div>
                        </div>
                        <!-- grid start -->
                        <div class="row" id="showTable">
                            @Html.Partial("_GetAttendanceType", Model)
                        </div>
                    </div>
                    <!-- grid end -->
                    <!--Main Action Taken settings ends-->
                </div>
            </div>
        </div>
    </div>
    @section pageplugins{
        @Html.Partial("_DataPageLibrariesPartial")
        @Html.Partial("_CommonJsPartial")
        @Html.Partial("_ValidationJSPartial")
    }
    <script src="@Url.Content("~/Content/js/custom/AttendanceSetting/AttendanceType.js?rnd="+rnd)"></script>
    <script type="text/javascript">
    //------------------- Attendance type Array stored for Local modification--------------------------
        //AttendanceType.AttendanceTypeArray = @Html.Raw(Json.Encode(Model));
   $(document).ready(function () {
     $(".selectpicker").selectpicker('refresh');
           $('.date-picker').datetimepicker({
            format: 'DD-MMM-YYYY'
           });
    });
    </script>

