﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@model Phoenix.Models.Entities.AttendanceCalendar
@{
    ViewBag.Title = "Attendance Calendar";
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rnd = DateTime.Now.Ticks.ToString();
}

<form id="frmCalendarEvent">
    <div>
        @Html.HiddenFor(m => m.SCH_ID)
        <div class="row mb-3 mt-3">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="md-form md-outline date-time-picker field-with-icon mb-0 mt-0">
                    <i class="far fa-calendar-alt"></i>
                    @Html.TextBoxFor(m => m.SCH_DTFROM, "{0:dd/MM/yyyy hh:mm:ss tt}", new { @class = "form-control date-picker", @data_required = "" })
                    <label for="SCH_DTFROM" class="active select-label">@ResourceManager.GetString("AttendanceSetting.AttendanceCalendar.AttCalFromDate")</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="md-form md-outline date-time-picker field-with-icon mb-0 mt-0">
                    <i class="far fa-calendar-alt"></i>
                    @Html.TextBoxFor(m => m.SCH_DTTO, "{0:dd/MM/yyyy hh:mm:ss tt}", new { @class = "form-control date-picker", @data_required = "", @data_datemax = "SCH_DTFROM" })
                    <label for="SCH_DTTO" class="active select-label">@ResourceManager.GetString("AttendanceSetting.AttendanceCalendar.AttCalToDate")</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-12">
                @if (Model.SCH_ID > 0)
                {
                <div class="md-form md-outline mb-0">
                    <span class="ml-1 text-semibold">@Model.GradeDisplay - @Model.SectionName</span>
                </div>
                }
                else
                {
                    <div class="md-form md-outline mb-0">
                        <input id="GradeSectionTree" class="form-control">
                        <label class="active select-label">Grade & Section</label>
                    </div>
                }
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="md-form md-outline mb-0">
                    @Html.DropDownListFor(m=>m.SCH_TYPE, new List<SelectListItem>{
                       new SelectListItem { Text= "None", Value= "None" },
                       new SelectListItem { Text = "All", Value = "All" },
                       new SelectListItem { Text = "Male", Value = "Male" },
                       new SelectListItem { Text = "Female", Value = "Female" }
                    },
                     new { @class = "selectpicker", @id = "ddlSCH_TYPE", @data_required = "" }
                   )
                    <label class="active select-label" for="ddlSCH_TYPE">@ResourceManager.GetString("AttendanceSetting.AttendanceCalendar.AttCalReqFor")</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="md-form md-outline mb-0">
                    @Html.TextBoxFor(m => m.SCH_REMARKS, new { @class = "form-control", @data_required = "", @data_maxlength = "200" })
                    <label class="active select-label">@ResourceManager.GetString("AttendanceSetting.AttendanceCalendar.Remarks")</label>
                </div>
            </div>
        </div>
        <div class="row pl-1">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="md-outline mb-3 pb-2 border-bottom">
                    <div class="custom-control custom-checkbox custom-control-inline mr-5 text-bold">
                        <input type="checkbox" class="custom-control-input" id="setWorkingWeekends" name="setWorkingWeekends">
                        <label class="custom-control-label" for="setWorkingWeekends">Set Working Weekends</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pl-1" id="fridayWorking" style="display:none;">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="md-outline mb-3">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="setWorkingFriday" name="setWorkingFriday" @Html.Raw(Model.SCH_WEEKEND1_WORK == Model.SchoolWeekEnd.WEEKEND1 ? "checked" : "")>
                        <label class="custom-control-label" for="setWorkingFriday">@Model.SchoolWeekEnd.WEEKEND1</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-12">
                <div class="md-outline mb-3">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="SCH_bWEEKEND1_LOG_BOOK" name="SCH_bWEEKEND1_LOG_BOOK" @Html.Raw(Model.SCH_bWEEKEND1_LOG_BOOK ? "checked" : "")>
                        <label class="custom-control-label" for="SCH_bWEEKEND1_LOG_BOOK">@ResourceManager.GetString("AttendanceSetting.AttendanceCalendar.WEEKEND1_LOG_BOOK")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pl-1" id="saturdayWorking" style="display:none;">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="md-outline mb-3">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="setWorkingSaturday" name="setWorkingSaturday" @Html.Raw(Model.SCH_WEEKEND2_WORK == Model.SchoolWeekEnd.WEEKEND2 ? "checked" : "")>
                        <label class="custom-control-label" for="setWorkingSaturday">@Model.SchoolWeekEnd.WEEKEND2</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-12">
                <div class="md-outline mb-3">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="SCH_bWEEKEND2_LOG_BOOK" name="SCH_bWEEKEND2_LOG_BOOK" @Html.Raw(Model.SCH_bWEEKEND2_LOG_BOOK ? "checked" : "")>
                        <label class="custom-control-label" for="SCH_bWEEKEND2_LOG_BOOK">@ResourceManager.GetString("AttendanceSetting.AttendanceCalendar.WEEKEND2_LOG_BOOK")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-3 col-md-3 col-12">
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <button class="btn btn-primary btn-block" type="button" onclick="objAttendanceCalendar.saveCalendarEvent()">Save</button>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        var AcademicYearStartDate = '@Html.Raw(Model.AcademicYearDetail.YearStartDate.ToString("yyyy-MM-dd"))';
        var AcademicYearEndDate = '@Html.Raw(Model.AcademicYearDetail.YearEndDate.ToString("yyyy-MM-dd"))';
        console.log(AcademicYearEndDate);
        $('#SCH_DTFROM').datetimepicker({
            format: 'DD-MMM-YYYY',
            minDate: AcademicYearStartDate, //new Date(AcademicYearDetail.ACD_STARTDT.match(/\d+/)[0] * 1),
            //maxDate: AcademicYearEndDate,//new Date(AcademicYearDetail.ACD_ENDDT.match(/\d+/)[0] * 1),
            extraFormats: ['DD/MM/YYYY LT', 'MM/DD/YYYY LT', 'DD/MMM/YYYY LT']
        });
        $('#SCH_DTTO').datetimepicker({
            format: 'DD-MMM-YYYY',
            minDate: AcademicYearStartDate,//new Date(AcademicYearDetail.ACD_STARTDT.match(/\d+/)[0] * 1),
            //maxDate: AcademicYearEndDate, //new Date(AcademicYearDetail.ACD_ENDDT.match(/\d+/)[0] * 1),
            extraFormats: ['DD/MM/YYYY LT', 'MM/DD/YYYY LT', 'DD/MMM/YYYY LT']
        });

        $('#attenCalenderForm').mCustomScrollbar({
            setHeight: "600",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true,
        });
        $('#AttCalGradeSection').trigger('focusin');

        var SCH_ID = $("#SCH_ID").val();
        if (SCH_ID=='0') {
            objAttendanceCalendar.getGradeAndSectionList([""]);
        }

        @*var selectedValues = '@Html.Raw(Model.SelectedGradeSection)';
        if (selectedValues!='') {
            selectedValues = selectedValues.split(',');
            objAttendanceCalendar.getGradeAndSectionList(selectedValues);

        }
        else {
            objAttendanceCalendar.getGradeAndSectionList([""]);
        }*@
    });
</script>