﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@model IEnumerable<Phoenix.Models.Entities.AttendanceCalendar>
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rnd = DateTime.Now.Ticks.ToString();
}
<div class="row" id="divCalendarEventList">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="">
            <table id="tblCalendarEvent" class="table table-bordered bg-white mb-0" width="100%">
                <thead>
                    <tr>
                        <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("AttendanceSetting.AttendanceCalendar.Description")</strong></small></th>
                        <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("AttendanceSetting.AttendanceCalendar.GradeDisplay")</strong></small></th>
                        <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("AttendanceSetting.AttendanceCalendar.Section")</strong></small></th>
                        <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("AttendanceSetting.AttendanceCalendar.FromDate")</strong></small></th>
                        <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("AttendanceSetting.AttendanceCalendar.ToDate")</strong></small></th>
                        <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("AttendanceSetting.AttendanceCalendar.Type")</strong></small></th>
                        @*<th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("AttendanceSetting.AttendanceCalendar.Weekend_1")</strong></small></th>
                            <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("AttendanceSetting.AttendanceCalendar.Weekend_2")</strong></small></th>*@
                        <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("AttendanceSetting.AttendanceCalendar.Action")</strong></small></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="pt-2 pb-2 text-center">@item.SCH_REMARKS</td>
                                <td class="pt-2 pb-2 text-center"><span data-toggle="tooltip" data-original-title="@item.GradeDisplay">@item.GradeDisplay</span></td>
                                <td class="pt-2 pb-2 text-center"><span data-toggle="tooltip" data-original-title="@item.SectionName">@item.SectionName</span></td>
                                <td class="pt-2 pb-2 text-center">@item.SCH_DTFROM.ToString("dd MMM yyyy")</td>
                                <td class="pt-2 pb-2 text-center">@item.SCH_DTTO.ToString("dd MMM yyyy")</td>
                                <td class="pt-2 pb-2 text-center">@item.SCH_TYPE</td>
                                @*<td class="pt-2 pb-2 text-center">@item.SCH_WEEKEND1_WORK</td>
                                    <td class="pt-2 pb-2 text-center">@item.SCH_WEEKEND2_WORK</td>*@
                                <td class="pt-2 pb-2 text-center tbl-actions">
                                    <a href="javascript:void(0)" class="mr-2" onclick="objAttendanceCalendar.editCalendarEvent(@item.SCH_ID);" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                    <a href="#" data-toggle="tooltip" title="Delete" class="mr-2" onclick="objAttendanceCalendar.deleteCalendarEvent(@item.SCH_ID,this)"><i class="fa fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="NoRecord">
                            <td class="pt-2 pb-2 text-center" colspan="7">No Records found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tblCalendarEvent').DataTable({
            "bLengthChange": false,
            //"bFilter": false,
            //"bInfo": false,
            "pageLength": 15,
            "paging": true,
            "bSort": false,
            "columnDefs": [
                { "width": "30%", "targets": 0 },
                { "width": "10%", "targets": 1 },
                { "width": "10%", "targets": 2 },
                { "width": "20%", "targets": 3 },
                { "width": "20%", "targets": 4 },
                { "width": "5%", "targets": 5 },
                { "width": "5%", "targets": 6 }
            ]
        });
        $('[data-toggle="tooltip"]').tooltip();
        $('.paginate_button').on('click', function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    });
</script>

