﻿@model IEnumerable<Phoenix.Models.ParameterSetting>
@using Phoenix.Common.Localization
@using Phoenix.Models.Entities
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Enums;
@{
    var selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rnd = DateTime.Now.Ticks.ToString();
}
<table id="tblParameterSetting" class="table table-bordered bg-white mb-0">
    <thead>
        <tr>
            <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("AttendanceSetting.ParameterSetting.ParameterType")</strong></small></th>
            <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("AttendanceSetting.ParameterSetting.ParameterDesc")</strong></small></th>
            <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("AttendanceSetting.ParameterSetting.ReportDesc")</strong></small></th>
            <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("AttendanceSetting.ParameterSetting.DisplayCode")</strong></small></th>
            <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("AttendanceSetting.ParameterSetting.DisplayOrder")</strong></small></th>
            <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("AttendanceSetting.ParameterSetting.Action")</strong></small></th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="pt-2 pb-2 text-center">@item.ParameterTypeName</td>
                    <td class="pt-2 pb-2 text-center">@item.ParameterDesc</td>
                    <td class="pt-2 pb-2 text-center">@item.ReportParameterDesc</td>
                    <td class="pt-2 pb-2 text-center">@item.ParameterDisplayCode</td>
                    <td class="pt-2 pb-2 text-center">@item.ParameterDisplayOrder</td>
                    <td class="pt-2 pb-2 text-center tbl-actions">
                        <a href="javascript:void(0)" class="mr-2" onclick="parameterSetting.addEditParameterSetting(@item.ParamaterId);" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                        <a href="#" data-toggle="tooltip" title="Delete" class="mr-3" onclick="parameterSetting.deleteParameterSetting(@item.ParamaterId,this)"><i class="fa fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="pt-2 pb-2 text-center" colspan="5">No record found.</td>
            </tr>
        }


    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblParameterSetting').DataTable({
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "pageLength": 5,
            "columnDefs": [
                { "width": "10%", "targets": 0 },
                { "width": "35%", "targets": 1 },
                { "width": "35%", "targets": 2 },
                { "width": "10%", "targets": 3 },
                { "width": "5%", "targets": 4 },
                { "width": "5%", "targets": 5 }

            ]
        });
    });
</script>