﻿@using Phoenix.Common.Localization
@using Phoenix.Models.Entities
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Enums;
@{
    var selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rnd = DateTime.Now.Ticks.ToString();
}

<div class="column-padding row pt-3 pb-3 border-bottom other-settings-drawer">
    <div class="col-lg-11 col-md-11 col-11">
        <h2 class="m-0">
            <span class="rounded-circle bg-other-option2 p-2 mr-2 icon-wrap text-center" id="btnBackDrawer"><i class="fas fa-user-cog"></i></span>
            @ResourceManager.GetString("AttendanceSetting.ParameterSetting.ParameterSetting")
        </h2>
    </div>
    <div class="col-lg-1 col-md-1 col-1 text-right">
        <a href="javascript:void(0)" class="closeRightDrawer"><i class="fas fa-times"></i></a>
    </div>
</div>

<div class="column-padding row">
    <div class="col-lg-12 col-md-12 col-12 ">
        <div class="custom-scroll-container">
            <div class="student-group-settings">
                <!--Main Action Taken settings starts-->
                <div class="pt-3 pb-3">
                    <div id="divAddEditParameterSetting">

                    </div>
                    <div id="divParaSettingGrid">
                        <div class="row  mb-0">
                           
                            <div class="col-lg-4 col-md-4 col-12 text-center">
                                <input id="toggler" type="checkbox" checked data-toggle="toggle" data-on="@ResourceManager.GetString("SIMS.AttendanceSetting.ParameterPresent")" data-off="@ResourceManager.GetString("SIMS.AttendanceSetting.ParameterAbsent")" data-onstyle="primary" data-offstyle="success" data-style="btn-toggler m-auto" data-width="170px">
                            </div>
                            <div class="col-lg-2 col-md-2 col-12 text-center">
                                <button class="btn btn-primary btn-block text-center" type="button" id="btnAdd" onclick="parameterSetting.addEditParameterSetting(0);">Add</button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="pt-3" id="divParameterGrid">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Main Action Taken settings ends-->
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/js/custom/AttendanceSetting/ParameterSetting.js?rnd="+rnd)"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".custom-scroll-container").mCustomScrollbar({
            //setHeight: "76%",
            autoExpandScrollbar: true,
            scrollbarPosition: "outside",
            autoHideScrollbar: true,
        });
    });
</script>
