﻿@model Phoenix.Models.LeaveApprovalPermissionModel
@using Phoenix.Common.Localization

@{
    var selectText = ResourceManager.GetString("Shared.Labels.Select");
}
<div id="LeaveApprovalMainGRid">
    <div class="column-padding row pt-3 pb-3 border-bottom other-settings-drawer mb-4">
        <div class="col-lg-11 col-md-11 col-11">
            @* <a id="btnBackDrawer" href="javascript:void(0)" onclick="otherConfigurationSetting.ShowHideBackButton(false)" class="btn-back"><i class="fas fa-arrow-left"></i>&nbsp;<span></span></a>*@
            <h2 class="m-0">
                <span class="rounded-circle bg-other-option2 p-2 mr-2 icon-wrap text-center"><i class="fas fa-envelope-open-text"></i></span>
                
                @ResourceManager.GetString("AttendanceSetting.LeaveApprovalPermission.leaveApprovalHeader")
            </h2>
        </div>
        <div class="col-lg-1 col-md-1 col-1 text-right">
            <a href="javascript:void(0)" class="closeRightDrawer"><i class="fas fa-times"></i></a>
        </div>
    </div>
    <div class="column-padding row">
        <div class="col-lg-12 col-md-12 col-12 ">
            <div class="custom-scroll-container leaveapprovalgrid">
                <div class="student-group-settings">
                    <!--Main Action Taken settings starts-->
                    <div class="pt-2 pb-2">
                        <div class="row mb-3">
                            <div class="col-lg-5 col-md-5 col-12"></div>
                            <div class="col-lg-3 col-md-3 col-12 text-right">
                                <div class="md-form md-outline mb-0">
                                    <button type="button" class="btn btn-primary m-0 text-uppercase" onclick="LeaveApproval.GetAddLeaveApproval()"><small class="text-medium">Add</small></button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="table-wrapper" id="leaveApprovalGrid">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Main Action Taken settings ends-->
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divEditLeaveApproval">
    <div class="row column-padding pt-3 pb-3 border-bottom drawer-header other-settings-drawer">
        <div class="col-lg-11 col-md-11 col-11">
            <h2 class="m-0">
                <span class="rounded-circle cursor-pointer bg-other-option2 p-2 mr-2 icon-wrap text-center" id="btnBackDrawer" onclick="LeaveApproval.showHideLeaveApprovalForm(false)"><i class="fas fa-arrow-left"></i></span>
                @ResourceManager.GetString("AttendanceSetting.LeaveApprovalPermission.leaveApprovalHeader")
            </h2>
        </div>
        <div class="col-lg-1 col-md-1 col-1 text-right">
            <a href="javascript:void(0)" class="closeRightDrawer"><i class="fas fa-times"></i></a>
        </div>
    </div>
    @using (Ajax.BeginForm("SaveLeaveApprovalPermission", "AttendanceSetting", new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "LeaveApproval.onSuccess",
        OnFailure = "LeaveApproval.onFailure",
        OnBegin = "return smsCommon.validateAjaxForm('frmLeaveApproval')"
    }, new { @Id = "frmLeaveApproval", @class = "form-horizontal" }))
    {
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 ">
                <div class="custom-scroll-container">
                    <div class="column-padding pt-3">
                        <div class="student-group-settings">
                            <!--Main Action Taken settings starts-->
                            @Html.HiddenFor(x => x.SalId, new { @id = "SalId" })
                            <div class="row mb-0">
                             
                                <div class="col-lg-12 col-md-12 col-12 p-2">
                                    <div class="md-form md-outline date-time-picker field-with-icon mb-0 mt-0">
                                        <i class="far fa-calendar-alt"></i>
                                        @Html.TextBoxFor(x => x.FromDate, new { @class = "form-control date-picker", id = "fromDate", autocomplete = "off", @data_required = "", @data_alfanumeric = "", @data_maxlength = "50" })
                                    <label for="fromDate" class="active">@ResourceManager.GetString("AttendanceSetting.LeaveApprovalPermission.FromDate")</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 p-2">
                                    <div class="md-form md-outline date-time-picker field-with-icon mb-0 mt-0">
                                        <i class="far fa-calendar-alt"></i>
                                        @Html.TextBoxFor(x => x.ToDate, new { @class = "form-control date-picker", id = "toDate", autocomplete = "off", @data_required = "", @data_alfanumeric = "", @data_maxlength = "50", @data_datemax = "fromDate" })
                                    <label for="toDate" class="active">@ResourceManager.GetString("AttendanceSetting.LeaveApprovalPermission.ToDate")</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 p-2">
                                    <div class="md-form md-outline mb-0">
                                        @*@Html.DropDownListFor(x => x.EmployeeId, (SelectList)ViewBag.StaffList, selectText, new { @class = "selectpicker", id = "ddlStaffList", @data_live_search = "true", @data_required = "" })*@
                                        <label class="active select-label" for="ddlAcademicYearForm1">@ResourceManager.GetString("AttendanceSetting.LeaveApprovalPermission.AuthorizedStaff")</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 p-2">
                                    <div class="md-form md-outline mb-0">
                                        @*@Html.DropDownListFor(x => x.GradeId, (SelectList)ViewBag.Grades, selectText, new { @class = "selectpicker", id = "ddlGrades", @data_required = "" })*@
                                        <label class="active select-label" for="ddlAcademicYearForm2">@ResourceManager.GetString("AttendanceSetting.LeaveApprovalPermission.Grade")</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 p-2">
                                    <div class="md-form md-outline date-time-picker field-with-icon mb-0 mt-0">
                                        @Html.TextBoxFor(x => x.SAL_NDAYS, new { @class = "form-control", id = "txtNoOfdays", autocomplete = "off", @data_required = "", @data_min = "1", @data_unsignedint = "", @data_maxlength = "20" })
                                        <label for="NoOfdays" class="active">@ResourceManager.GetString("AttendanceSetting.LeaveApprovalPermission.NoOfDays")</label>
                                    </div>
                                </div>
                            </div>
                            <!--Main Action Taken settings ends-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="drawer-footer">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12"></div>
                <div class="col-lg-6 col-md-6 col-12">
                    <button class="btn btn-primary btn-block text-center" type="submit">@ResourceManager.GetString("AttendanceSetting.LeaveApprovalPermission.Save")</button>
                </div>
                <div class="col-lg-3 col-md-3 col-12"></div>
            </div>
        </div>
    }
</div>
<script src="@Url.Content("~/Content/js/custom/AttendanceSetting/LeaveApproval.js"@*?rnd="+DateTime.Now.Ticks.ToString()*@)"></script>
<script>
    $("#divEditLeaveApproval").mCustomScrollbar({
        autoExpandScrollbar: true,
        scrollbarPosition: "outside",
        autoHideScrollbar: true,
    });
</script>


