﻿@model Phoenix.VLE.Web.EditModels.MarkingSchemeEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions

@{
    Model.ColourCode = !string.IsNullOrEmpty(Model.ColourCode) ? Model.ColourCode : "#ccc";
}
@using (Ajax.BeginForm("SaveMarkingSchemeData", "MarkingScheme", new AjaxOptions { OnSuccess = "markingSchemes.onSaveSuccess" }, new { id = "frmAddSubject", @class = "form-horizontal" }))
{
    <div class="modal-body">
        <div class="popup-form">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.MarkingSchemeId)
            @Html.HiddenFor(x => x.SchoolId)
            @Html.HiddenFor(x => x.IsAddMode)
            @Html.HiddenFor(x => x.MarkingSchemeXml)
            <div class="row">
                <div class="column-padding pt-3 pb-3">
                    <div class="d-flex align-items-center">
                        <h4 class="sub-heading m-0 mr-3">@ResourceManager.GetString("ListCategories.MarkingScheme.ColourCode")</h4>
                        <div class="color-picker" style="width: 30px;">
                            @Html.HiddenFor(x => x.ColourCode, new { @class = "colorpicker", @data_control = "hue" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.LocalizedLanguageTextbox("MarkingName", "ListCategories.MarkingScheme.MarkingName", "MarkingSchemeXml")
                        @*@Html.TextBoxFor(x => x.MarkingName, new { @class = "form-control", @placeholder = ResourceManager.GetString("ListCategories.MarkingScheme.MarkingName") })*@
                        <label for="MarkingName" class="active">@ResourceManager.GetString("ListCategories.MarkingScheme.MarkingName")</label>
                        @Html.ValidationMessageFor(x => x.MarkingName, "", new { @class = "text-danger small" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.LocalizedLanguageTextbox("MarkingDesc", "ListCategories.MarkingScheme.MarkingDesc", "MarkingSchemeXml")
                        @*@Html.TextBoxFor(x => x.MarkingDesc, new { @class = "form-control", @placeholder = ResourceManager.GetString("ListCategories.MarkingScheme.MarkingDesc") })*@
                        <label for="MarkingDesc" class="active">@ResourceManager.GetString("ListCategories.MarkingScheme.MarkingDesc")</label>
                        @Html.ValidationMessageFor(x => x.MarkingDesc, "", new { @class = "text-danger small" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(x => x.Weight, new { @class = "form-control", @placeholder = ResourceManager.GetString("ListCategories.MarkingScheme.Weight") })
                        <label for="Weight" class="active">@ResourceManager.GetString("ListCategories.MarkingScheme.Weight")</label>
                        @Html.ValidationMessageFor(x => x.Weight, "", new { @class = "text-danger small" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="mt-3">
                        <div class="custom-control custom-checkbox">
                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control-input" })
                            <label class="custom-control-label" for="IsActive">@ResourceManager.GetString("ListCategories.GradingTemplates.IsActive")</label>
                            @*@Html.LocalizedLabel("custom-control-label", "ListCategories.GradingTemplates.IsActive")*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            @if (ViewBag.IsEditPerMission)
            {
                <button type="submit" class="btn btn-primary waves-effect waves-light m-0 ml-3 multilang-submit">@ResourceManager.GetString("Shared.Buttons.Save")</button>
            }
        </div>
    </div>
}

@Html.Partial("_ValidationJSPartial")
<script>
    $(document).ready(function () {
        getPreview();
    })
    $('#ColourCode').minicolors({
        change: function (value, opacity) {
            $("#MarkPreview").text($("#MarkingName").val());
            $("#MarkPreview").css('background-color', value);
        }
    });
    $("#MarkingName").change(function () {
        $("#MarkPreview").text($("#MarkingName").val());
    });
    function getPreview() {
        $("#MarkPreview").css('background-color', $("#ColourCode").val());
    }
</script>