﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    ViewData["Title"] = ResourceManager.GetString("ListCategories.MarkingScheme.MarkingScheme");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-list-categories.svg");
    var rnd = DateTime.Now.Ticks.ToString();
}

<div class="row search-row justify-content-end pb-2">
    <div class="col-12 col-xl-10 col-lg-12 col-md-12 d-flex flex-column flex-md-row justify-content-end ">
        <div class="search-with-bg w-responsive mb-2 mb-md-0">
            <span class="icon-search"></span>
            <input type="text" id="MarkListSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
        </div>
        @if (Html.CurrentPagePermission().CanEdit)
        {
            <button id="btnAddMarkingScheme" type="button" class="btn btn-primary m-0 rounded-6x ml-0 ml-md-3"><i class="fa fa-plus mr-2"></i>@ResourceManager.GetString("ListCategories.MarkingScheme.AddMarkingScheme")</button>
        }
    </div>
</div>

<div class="row grid-view">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card grid-list-card">
            <div class="list-wrapper table-responsive">
                <table class="table mw-100 dataTable no-footer" id="tbl-MarkingScheme">
                    <thead class="thead-dark"></thead>
                </table>
            </div>
        </div>
    </div>
</div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.mark = '@ResourceManager.GetString("ListCategories.MarkingScheme.MarkingName")';
        translatedResources.meaning = '@ResourceManager.GetString("ListCategories.MarkingScheme.MarkingDesc")';
        translatedResources.markingScheme = '@ResourceManager.GetString("ListCategories.MarkingScheme.MarkingScheme")';
        translatedResources.colorCode = '@ResourceManager.GetString("ListCategories.MarkingScheme.ColourCode")';
    </script>
    <script src="@Url.Content("~/Content/js/addons/jquery.minicolors.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/ListCategories/MarkingScheme.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}