﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var curriculum = (SelectList)ViewBag.Curriculum;
    var dropdownHtml = ControllerExtension.RenderPartialViewToString(Html.ViewContext.Controller as Controller, "~/Areas/Course/Views/Course/_CurriculumDropdown.cshtml", curriculum);
}
<link rel="stylesheet" type="text/css" href="~/Content/css/addons/bootstrap-toggle.css" />
@*<link rel="stylesheet" type="text/css" href="~/Content/css/custom/SIMS/custom.css" />*@
@*<style type="text/css">
        .toggle.btn {
            height: 48px !important;
        }

        .toggle-on.btn {
            line-height: 12px !important;
        }

        .toggle-off.btn {
            line-height: 12px !important;
        }
    </style>*@
<div class="row">
    <div class="col-lg-6 col-md-6 col-12">
        <div class="section-title">
            <h3 class="pb-0">@ResourceManager.GetString("Behaviour.IncidentDashboard.BarGraphHeader")</h3>
        </div>
        <div class="card">
            <div class="card-body column-padding py-3" id="BarGraph">
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
        <div class="section-title">
            <h3 class="pb-0">@ResourceManager.GetString("Behaviour.IncidentDashboard.PieChartHeader")</h3>
        </div>
        <div class="card">
            <div class="card-body column-padding py-3" id="PieChart">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-12 text-right toggle-adjust">
                    <input id="chkActiontoggler" type="checkbox" data-toggle="toggle" data-height="40" data-onstyle="primary" data-offstyle="primary" data-on="@ResourceManager.GetString("Behaviour.IncidentDashboard.ForAction")" data-off="@ResourceManager.GetString("Behaviour.IncidentDashboard.ForInformation")">
                </div>
            </div>
            <div class="card-body column-padding py-3" id="ParentTable">
            </div>
        </div>
    </div>
</div>
<div id="partialAddEditAction">

</div>
<div class="selected modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">@ResourceManager.GetString("Behaviour.IncidentDashboard.ShowFollowUp")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body pl-0 pr-0">
                <div id="divSelectedBehaviour">
                    <span class="sub-heading">No data</span>
                </div>
            </div>
        </div>
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
    <script>
    translatedResources.allText = '@ResourceManager.GetString("Behaviour.IncidentDashboard.All")';
    </script>
}
@section scripts
{
    <script type="text/javascript" src="~/Content/js/addons/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/Content/js/addons/bootstrap-toggle.js"></script>
    <script type="text/javascript" src="~/Content/js/addons/moment-with-locales.js"></script>
    <script src="@Url.Content("~/Content/js/custom/Behaviour/IncidentDashBoard.js?v=" + ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Behaviour/BehaviourAction.js?v=" + ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>
        var html = `@Html.Raw(dropdownHtml)`;
        $('#breadcrumbActions').html(`
        <div class="justify-content-end row">
                        <div>
                        ${html}
    </div>
                        <div class="d-flex justify-content-end ml-3">
                            <div class="md-form md-outline date-time-picker field-with-icon m-0 bg-white">
                                <i class="far fa-calendar-alt active"></i>
                                @Html.TextBox("Month", "", new { @class = "form-control date-picker m-0", id = "month", @placeholder = @ResourceManager.GetString("Behaviour.IncidentDashboard.Month"), autocomplete = "off" })
                                <!-- <label for="month" class="active">Month</label> -->
                            </div>
                        </div>

                        <div class="ml-3">
                            <div class="text-right">
                                <a class="btn btn-primary m-0" id="addIncident" href="/Behaviour/Incident/AddEditIncident?curr=@EncryptDecryptHelper.EncryptUrl(curriculum.First().Value)"><i class="fas fa-plus mr-2"></i> @ResourceManager.GetString("Behaviour.IncidentDashboard.AddIncident")</a>
                      </div>
    </div></div>
    `);
         var _dataTableLangSettings = {
            "sEmptyTable": translatedResources.noData,
            "sInfo": translatedResources.sInfo,
            "sInfoEmpty": translatedResources.sInfoEmpty,
            "sInfoFiltered": translatedResources.sInfoFiltered,
            "sInfoPostFix": "",
            "sInfoThousands": ",",
            "sLengthMenu": translatedResources.sLengthMenu,
            "sLoadingRecords": "Loading...",
            "sProcessing": "Processing...",
            "sSearch": translatedResources.search,
            "sZeroRecords": translatedResources.sZeroRecords,
            "oPaginate": {
                "sFirst": translatedResources.first,
                "sLast": translatedResources.last,
                "sNext": translatedResources.next,
                "sPrevious": translatedResources.previous
            },
            "oAria": {
                "sSortAscending": translatedResources.sSortAscending,
                "sSortDescending": translatedResources.sSortDescending
            }
        };
    </script>
}
