﻿@model Phoenix.VLE.Web.EditModels.DeploymentNotificationEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions;

@using (Ajax.BeginForm("SaveDeploymentNotificationData", "DeploymentNotification", new AjaxOptions { OnFailure = "globalFunctions.onFailure", OnSuccess = "schoolNotificationFunctions.onSaveSuccess" }, new { @id="frmDeploymentNotification"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.DeploymentNotificationId)
    <div class="modal-body">
        <div class="popup-form">
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextAreaFor(x => x.NotificationMessage, new { @class = "form-control", @rows = "10" })
                        @Html.LocalizedLabel("active", "Notifications.DeploymentNotification.NotificationMessage")
                        @Html.ValidationMessageFor(x => x.NotificationMessage)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="mt-3">
                        <div class="custom-control custom-checkbox">
                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control-input" })
                            <label class="custom-control-label" for="IsActive">@ResourceManager.GetString("Notifications.DeploymentNotification.IsActive")</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            @if (Html.CurrentPagePermission().CanEdit)
            {
                <button type="button" onclick="schoolNotificationFunctions.saveDeploymentNotification()" class="btn btn-primary waves-effect waves-light m-0 ml-3">@ResourceManager.GetString("Shared.Buttons.Save")</button>
            }
        </div>
    </div>
}

@Html.Partial("_ValidationJSPartial")
