﻿@model Phoenix.Models.StudentView
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers.Extensions;

@{
    ViewBag.Title = ResourceManager.GetString("StudentInformation.Student.AddStudent");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ResourceManager.GetString("StudentInformation.Student.AddStudent")</h2>
@using (Ajax.BeginForm("SaveStudent", "Student", new AjaxOptions { OnSuccess = "onCycleSuccess" }, new { id = "frmAddCycle", @class = "form-horizontal" }))
{
<div class="panel panel-default">
    
        <div class="panel-body">
            @Html.HiddenFor(model => model.StudentId)

            <div class="form-group">
                @Html.LocalizedLabel("control-label col-md-3", "StudentInformation.Student.FirstName_1")
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.FirstName_1, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FirstName_1)
                </div>
            </div>

            <div class="form-group">
                @Html.LocalizedLabel("control-label col-md-3", "StudentInformation.Student.LastName_1")
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.LastName_1, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LastName_1)
                </div>
            </div>

            <div class="form-group">
                @Html.LocalizedLabel("control-label col-md-3", "StudentInformation.Student.IsActive")
                <div class="col-md-9 checkbox-label-align">
                    @Html.CheckBoxFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive)
                </div>
            </div>
        </div>
        <div class="panel-footer">
            @Html.LocalizedCancel("button", new ButtonAttributes() { Id = "btnCancel", CssClass = "pull-left" })
            @Html.LocalizedSave("submit", new ButtonAttributes() { Id = "btnSave", CssClass = "pull-right" })
        </div>
   
</div>
}

