﻿@using Phoenix.Common.Localization;
@model Phoenix.VLE.Web.ViewModels.StudentViewModel

@{
    ViewBag.Title = ResourceManager.GetString("StudentInformation.Student.Student");
}

<div class="jumbotron">
    <h1>@ResourceManager.GetString("StudentInformation.Student.Dashboard")</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@ResourceManager.GetString("StudentInformation.Student.GettingStarted")</h2>
        <a href="@Url.Action("Create")" class="btn btn-info">@ResourceManager.GetString("StudentInformation.Student.AddStudent")</a>
    </div>
    <div class="col-md-4">
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Standard</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.StudentList)
                {

                    <tr>

                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Standard</td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
      
    </div>
</div>