﻿@using Phoenix.Common.Localization
@using Phoenix.VLE.Web.Areas.SMS.Model.Common;
@model Phoenix.VLE.Web.Areas.SMS.ViewModels.BehaviourVM
@{
    /**/

    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    //new AjaxOptions { HttpMethod = "POST", OnSuccess = "onBehaviourSaveSuccess" }, new { enctype = "multipart/form-data", id = "frmAddCycle", @class = "form-horizontal" }
    List<SelectListItem> listOfCategories = new List<SelectListItem>();
    List<GradesAccess> objListoGradesAccess = new List<GradesAccess>();
    if (ViewBag.Grades != null)
    {
        objListoGradesAccess = ViewBag.Grades;
        listOfCategories = objListoGradesAccess.ConvertAll(a =>
        {
            return new SelectListItem()
            {
                Text = a.GRD_DESCR,
                Value = a.GRD_ID.ToString(),
                Selected = false
            };
        });
    }
}

@using (Html.BeginForm("SaveBehaviourDetail", "Behaviour", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    id = "frmIncidentBehaviour"
}))
{

    <input type="hidden" name="listOfStudentIds" id="listOfStudentIds" />
    <div class="addTask-wrapper" style="display: none;">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row add-task-header pt-3 pb-3">
                            <div class="col-lg-9 col-md-9 col-9">
                                <button type="button" id="btnsaveincident" class="btn btn-primary mt-0 mb-0 waves-effect waves-light">@ResourceManager.GetString("SIMS.Behaviour.SaveChanges")</button>

                            </div>
                            <div class="col-lg-3 col-md-3 col-3 d-flex justify-content-end align-items-center">
                                <a href="#" class="close-content-right"><img src="~/Content/img/svg/ic-cancel.svg" alt="close"></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <!--Right Side Form for Behaviour info-->
                                <form class="text-left">
                                    <h4 class="heading-small text-muted mb-4">Details</h4>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <input id="chkActiontoggler" type="checkbox" checked data-toggle="toggle" data-on="For Action" data-off="For Information" data-onstyle="primary" data-offstyle="success" data-style="btn-toggler m-auto" data-width="140px">

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-username">@ResourceManager.GetString("SIMS.Behaviour.Category")</label>
                                                    @Html.DropDownList("Category", (SelectList)ViewBag.Category, selectText, new { @class = "selectpicker" })
                                                    @*@Html.DropDownListFor("Category", (SelectList)ViewBag.Category, selectText, new { @class = "form-control form-control-alternative" })*@
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-first-name">@ResourceManager.GetString("SIMS.Behaviour.SubCategory")</label>
                                                    @*@Html.DropDownList("SubCategory", new SelectList(string.Empty), selectText, new { @class = "form-control form-control-alternative" })*@
                                                    @Html.DropDownListFor(m => Model.behaviourDetails.SubCategory_ID, new SelectList(string.Empty), selectText, new { @class = "selectpicker", id = "SubCategory", @data_live_search = "true" })
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-points">@ResourceManager.GetString("SIMS.Behaviour.Points")</label>
                                                    @*<input type="text" id="input-points" class="form-control form-control-alternative">*@
                                                    @Html.TextBoxFor(m => Model.behaviourDetails.Points, new { @class = "form-control", id = "input-points", type = "number", min = "0", max = "100" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pl-lg-4">
                                        <div class="row" style="display:none;">
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-activity">@ResourceManager.GetString("SIMS.Behaviour.Activity")</label>
                                                    <select id="input-activity" class="form-control form-control-alternative" type="dropdown">
                                                        <option value="activity option1">Level 3 Category</option>
                                                        <option value="activity option2">Level 3 Category Opt2</option>
                                                        <option value="activity option3">Level 3 Category Opt3</option>
                                                        <option value="activity option4">Level 3 Category Opt4</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Behaviour.Location")</label>
                                                    <select id="input-location" class="form-control form-control-alternative" type="dropdown">
                                                        <option value="location option1">Location Opt1</option>
                                                        <option value="location option2">Location Opt2</option>
                                                        <option value="location option3">Location Opt3</option>
                                                        <option value="location option4">Location Opt4</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="due-date d-flex date-time-picker">
                                                    <span><i class="far fa-calendar-alt"></i></span>
                                                    <label class="form-control-label pl-2">@ResourceManager.GetString("SIMS.Common.SDate")</label>
                                                </div>
                                                <div class="form-group due-date d-flex date-time-picker justify-content-start align-items-center">
                                                    @*<input type="text" class="form-control date-picker" id="dueDatePicker">*@
                                                    @Html.TextBoxFor(m => Model.behaviourDetails.Incident_Date, new { @class = "form-control date-picker", id = "dueDatePicker" })
                                                </div>

                                            </div>
                                            <div class="col-lg-4">
                                                <div class="due-date d-flex date-time-picker">
                                                    <span><i class="far fa-clock"></i></span>
                                                    <label class="form-control-label pl-2">@ResourceManager.GetString("SIMS.Common.STime")</label>
                                                </div>
                                                <div class="form-group due-date d-flex date-time-picker justify-content-start align-items-center">
                                                    @*<input type="text" class="form-control time-picker" id="dueDatePicker">*@
                                                    @Html.TextBoxFor(m => Model.behaviourDetails.Incident_Time, new { @class = "form-control time-picker", id = "dueTimePicker" })
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-country">@ResourceManager.GetString("SIMS.Behaviour.Period")</label>
                                                    @*<input type="text" id="input_lesson_info" class="form-control form-control-alternative">*@
                                                    @Html.TextBoxFor(m => Model.behaviourDetails.Period, new { @class = "form-control form-control-alternative", id = "input_lesson_info" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group focused">
                                                    <label>@ResourceManager.GetString("SIMS.Behaviour.Comments")</label>

                                                    @Html.TextAreaFor(m => Model.behaviourDetails.Comments, new { @class = "form-control form-control-alternative", rows = "4" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="display:none;">
                                            <div class="col-lg-4">
                                                <div class="due-date d-flex date-time-picker">
                                                    <span><i class="far fa-calendar-alt"></i></span>
                                                    <label class="form-control-label pl-2">@ResourceManager.GetString("SIMS.Behaviour.RecordedOn")</label>
                                                </div>
                                                <div class="form-group due-date d-flex date-time-picker justify-content-start align-items-center">
                                                    @*<input type="text" class="form-control date-picker" id="dueDatePicker">*@
                                                    @Html.TextBoxFor(m => Model.behaviourDetails.Recorded_Date, new { @class = "form-control date-picker" })
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="input-status">@ResourceManager.GetString("SIMS.Behaviour.Status")</label>
                                                    <select id="input-location" class="form-control form-control-alternative" type="dropdown">
                                                        <option value="status option1">Status Opt1</option>
                                                        <option value="status option2">Status Opt2</option>
                                                        <option value="status option3">Status Opt3</option>
                                                        <option value="status option4">Status Opt4</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-recorded-by">@ResourceManager.GetString("SIMS.Behaviour.RecordedBy")</label>
                                                    @*<input type="text" id="input-recorded-by" class="form-control form-control-alternative">*@
                                                    @Html.TextBoxFor(m => Model.behaviourDetails.Recorded_By, new { @class = "form-control form-control-alternative", id = "input-recorded-by" })
                                                </div>
                                            </div>
                                        </div>
                                        <!--div class="row">
                                            <div class="col-lg-12">
                                                @*<div class="form-group focused">
                                                        <label class="form-control-label" for="input-status" @ResourceManager.GetString("SIMS.Common.Upload")></label>
                                                        <ul class="clearfix uploaded-files">
                                                            <li>
                                                                <span class="fileinput custom-upload form-control form-control-alternative">
                                                                    <input type="file" name="file">
                                                                </span>
                                                            </li>
                                                        </ul>

                                                    </div>*@
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-12">
                                                        <div class="standalone-uploader">
                                                            <input id="sbFileUpload" name="sbFileUpload" type="file" multiple>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <div-->
                                    </div>
                                    <hr class="my-4">

                                    <h6 class="heading-small text-muted mb-4">Other Student's Involved</h6>
                                    <div class="pl-lg-4">

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group focused">
                                                    <label>@ResourceManager.GetString("SIMS.Common.Grade")</label>
                                                    @Html.DropDownList("ddlGrades", listOfCategories, selectText, new { @class = "selectpicker", @data_live_search = "true" })

                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group focused">

                                                    <label>@ResourceManager.GetString("SIMS.Common.Section")</label>
                                                    @Html.DropDownList("ddlSection", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @data_live_search = "true" })
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group focused">

                                                    <label>Student List</label>
                                                    @Html.DropDownList("ddlOtherStudentList", new SelectList(string.Empty), selectText, new { @class = "selectpicker ", @multiple = "multiple", @data_live_search = "true", @name = "ddlOtherStudentList" })
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <hr class="my-4">
                                    <h6 class="heading-small text-muted mb-4">Witness of Incident</h6>

                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-md-12 text-right">
                                                <input id="chkwitnesstoggler" type="checkbox" checked data-toggle="toggle" data-on="Staff" data-off="Student" data-onstyle="primary" data-offstyle="success" data-style="btn-toggler m-auto" data-width="140px">
                                            </div>


                                        </div>
                                        <div id="divwitnessstudent" class="d-none">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group focused">
                                                        <label>@ResourceManager.GetString("SIMS.Common.Grade")</label>
                                                        @Html.DropDownList("ddlwitnessGrades", listOfCategories, selectText, new { @class = "selectpicker", @data_live_search = "true" })

                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group focused">

                                                        <label>@ResourceManager.GetString("SIMS.Common.Section")</label>
                                                        @Html.DropDownList("ddlwitnessSection", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @data_live_search = "true" })
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group focused">

                                                        <label>Student List</label>
                                                        @Html.DropDownList("ddlwitnessStudentList", new SelectList(string.Empty), selectText, new { @class = "selectpicker ", @multiple = "multiple", @data_live_search = "true", @name = "ddlOtherStudentList" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="divstaffwitness">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label>Staff</label>

                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        @Html.DropDownList("ddlwitnessstaff", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @data_live_search = "true" })
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group focused">
                                                    <label>@ResourceManager.GetString("SIMS.Behaviour.Comments")</label>
                                                    <textarea id="txtWitnessComment" name="txtWitnessComment" class="form-control form-control-alternative" rows="4"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </form>
                                <!--Right Side Form for Behaviour info ends here-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


