﻿@using Phoenix.Common.Localization
@model Phoenix.VLE.Web.Areas.SMS.ViewModels.BehaviourVM
<div class="container-fluid mt-2 mb-4 clearfix overflow-hidden position-relative">

    <!--LEFT SIDE BODY Starts here-->
    <div class="content-wrapper-left float-left" style="height:100%; width:100%;min-height: 1350px;" id="student_list">
        <!-- incident list start -->

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="task-search column-padding pt-3 pb-3">

                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-12">

                                    <div class="search-wrapper">
                                        <i class="fas fa-search active"></i>
                                        <input type="text" id="search" class="search-field" placeholder="@ResourceManager.GetString("SIMS.Common.SearchStudents")">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="add-task column-padding pt-3 pb-3">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-8">
                                    <a class="primaryColor btn-addTask">@ResourceManager.GetString("SIMS.Behaviour.AddBehaviour")</a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-4 text-right">
                                </div>
                            </div>
                        </div>
                        <div class="task-list">
                            <div class="newTasksList">
                                <h3 class="card-title">@ResourceManager.GetString("SIMS.Behaviour.StudentList")</h3>
                                <ul class="clearfix">

                                    @foreach (var stud in Model.classList)
                                    {
                                        <li class="clearfix search-card" data-id="@stud.Student_ID">
                                            <div class="more-actions" style="display:none;">
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle&quot;" data-toggle="dropdown"><i class="fas fa-caret-down"></i></a>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#"><i class="fas fa-clock"></i> Log time</a>
                                                        <a class="dropdown-item" href="#"><i class="fas fa-history"></i> History</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="task-status">

                                                <div class="custom-control custom-checkbox ml-2">
                                                    <input value="@stud.Student_ID" class="custom-control-input" id="chkStudentId_@stud.Student_ID" name="LocationFilter" onclick="OnchkStudentAdd(@stud.Student_ID)"  type="checkbox">
                                                    <input name="LocationFilter" type="hidden" value="false">
                                                    <label class="custom-control-label sms-checkbox-border" for="chkStudentId_@stud.Student_ID"></label>
                                                </div>

                                            </div>
                                            <div class="task-title">
                                                <div class="row">
                                                    <div class="col-lg-1 col-md-3 p-0" style="min-width: 50px;">
                                                        <img class="stud-grid-profile" src="@stud.Student_Image_url" alt="" style="height: 56px;border: 1px solid rgba(0,0,0,0.06);">
                                                    </div>
                                                    <div class="col-lg-8 text-muted">
                                                        <span class="text-bold search-here">
                                                            @stud.Student_Name
                                                            <br />@stud.Student_No
                                                        </span>
                                                        
                                                        <span class="">
                                                            @stud.Student_Grade - <strong>@stud.Student_Section</strong>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }


                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- incident list end -->
    </div>
    <!--LEFT SIDE BODY Ends here-->
    <!--RIGHT SIDE BODY Starts here-->
    <div class="content-wrapper-right w-75 float-right position-absolute column-padding" style="right: -75%; height: 100%;">

        <div id="AddEditBehaviour">

        </div>
        <div class="taskDetails-wrapper" style="display: none;">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row add-task-header pt-3 pb-3">
                                <div class="col-lg-9 col-md-9 col-9">
                                    <a href="#" class="btn btn-primary mt-0 mb-0 waves-effect waves-light btn-addTask"><i class="fas fa-check pr-2"></i>@ResourceManager.GetString("SIMS.Behaviour.AddBehaviour")</a>

                                </div>
                                <div class="col-lg-3 col-md-3 col-3 d-flex justify-content-end align-items-center">
                                    <a href="#" class="close-content-right"><img src="~/Content/img/svg/ic-cancel.svg" alt="close"></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <h3>@ResourceManager.GetString("SIMS.Behaviour.BehaviourHistory")</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="table-responsive">
                                <!-- Data table goes here-->
                                <div class="table-responsive-md">
                                    <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                        <div class="row"></div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table id="tbl_BehaviourHistoryGridList" class="table table-bordered table-hover table-responsive-md" cellspacing="0" width="100%"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Data table ends here-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--RIGHT SIDE BODY Ends here-->
</div>
