﻿@model Phoenix.VLE.Web.Areas.SMS.ViewModels.StudentBehaviourVM
@using Phoenix.Common.Localization
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var ItemName = "";
    if (ViewBag.ItemName != null)
    {
        ItemName = ViewBag.ItemName;
    }

}

@if (Model.IsSelectMode)
{
    <div class="card-body user-contact-card">
        @Html.HiddenFor(m => m.BehaviourId)
        @Html.HiddenFor(m => m.StudentId)
        <div class="row">
            @if (Model.BehaviourList.Count > 0)
            {

                foreach (var item in Model.BehaviourList)
                {
            <div class="col-lg-3 col-md-3 col-3 m-auto text-center">
                @* <h6 class="card-title mb-4">Team Player</h6>*@
                <div class="behav-container m-2 p-2" onmouseover="StudentBehaviour.init()">
                    <div>
                        <div class="behav-icon-wrap">
                            <img src="~/Content/img/SIMS/behaviour/@item.BehaviourLogo" class="behav-icon" />
                        </div>

                        <div data-display-name="VLayout" class="behav-title-outer">
                            <div data-display-name="VLayoutItem" class="behav-title-wrap">
                                <div class="behav-title">@item.BehaviourType</div>
                            </div>
                        </div>

                        @if (item.Behaviourpoint < 0)
                        {
                            <div class="behav-score-wrap">
                                <div class="behav-score-neg">@item.Behaviourpoint</div>
                            </div>
                        }
                        else
                        {
                            <div class="behav-score-wrap">
                                <div class="behav-score">@item.Behaviourpoint</div>
                            </div>
                        }
                    </div>
                </div>

                @if (!string.IsNullOrEmpty(item.BehaviourComment))
                {
                    @*Comments icon comes here*@
                    <div class="behav-container-edit m-2 p-2 cursor-pointer" data-studentId="@item.StudentId" data-behaviourId="@item.BehaviourId" style="position: absolute; top: 0px; left: 4px;" data-toggle="tooltip" title="@item.BehaviourComment">
                        <span style="left:0;top:0;"><i class="fa fa-comment text-muted"></i></span>
                    </div>

                }


                @*Delete icon comes here*@
                <div class="behav-container-edit m-2 p-2 cursor-pointer" data-studentId="@item.StudentId" data-behaviourId="@item.BehaviourId" style="position: absolute; bottom: 0px; left: 4px;" onclick="StudentBehaviour.DeleteBehaviour(this)" data-toggle="tooltip" title="Delete Behaviour">
                    <span style="left:0;bottom:0;"><i class="fa fa-trash-alt text-muted"></i></span>
                </div>

                @*Download icon comes here*@
                @if (item.FileCount > 0)
                {
                    if (!string.IsNullOrEmpty(item.FileName))
                    {
                        <div class="behav-container-edit m-2 p-2" style="position: absolute; bottom: 0px; right: 4px;" data-toggle="tooltip" title="Download Attachment">
                            <span style="right:0;bottom:0;">
                                <a href="/SMS/Behaviour/Download?studentId=@item.StudentId"> <i class="fa fa-download text-muted"></i></a>

                            </span>
                        </div>
                    }

                }

            </div>

                }
            }
            else
            {
                    
                        <div class="col-lg-2 col-md-2 col-2">


                        </div>
                        <div class="col-lg-8 col-md-8 col-8">
                            <h3 class="sub-heading text-center">No Data</h3>
                        </div>
                        <div class="col-lg-2 col-md-2 col-2">


                        </div>
                  
               

            }


        </div>

    </div>

}
else
{
    <form id="data" method="post" action="/SMS/Behaviour/AddEditStudentBehaviour" enctype="multipart/form-data">

        <div class="row pb-3">
            <div class="col-lg-3 line-height-36">
                <label class="form-control-label" for="input-username">@ResourceManager.GetString("SIMS.Behaviour.Category")</label>
            </div>
            <div class="col-lg-5">
                @Html.DropDownListFor(m => m.CategoryId, (SelectList)ViewBag.Category, selectText, new { @class = "form-control form-control-alternative", @onchange = "StudentBehaviour.CategoryOnchange(this)", @id = "Category" })
                @*@Html.DropDownListFor(m=>Model.BehaviourList[0].CategoryId, (SelectList)ViewBag.Category, selectText, new { @class = "form-control form-control-alternative",@id= "Category", @onchange = "StudentBehaviour.CategoryOnchange(this)"})*@
            </div>
            <div class="col-lg-4">

            </div>

        </div>

        <div class="card-body user-contact-card">
            @Html.HiddenFor(m => m.BehaviourId)
            @Html.HiddenFor(m => m.StudentId)

            <div class="row">
                @foreach (var item in Model.BehaviourList)
                {
                    <div class="col-lg-3 col-md-3 col-3 text-center">
                        @* <h6 class="card-title mb-4">Team Player</h6>*@
                        <div class="behav-container m-2 p-2">
                            <div class="clsbehaviourcontent" data-bId="@item.BehaviourId">
                                <div class="behav-icon-wrap">
                                    <img src="~/Content/img/SIMS/behaviour/@item.BehaviourLogo" class="behav-icon" onclick="StudentBehaviour.BehaviourCatalogWithUpload(@item.BehaviourId)" />
                                </div>
                                <div data-display-name="VLayout" class="behav-title-outer">
                                    <div data-display-name="VLayoutItem" class="behav-title-wrap">
                                        <div class="behav-title">@item.BehaviourType</div>
                                    </div>
                                </div>
                                @if (item.Behaviourpoint < 0)
                                {
                                    <div class="behav-score-wrap">
                                        <div class="behav-score-neg">@item.Behaviourpoint</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="behav-score-wrap">
                                        <div class="behav-score">@item.Behaviourpoint</div>
                                    </div>
                                }

                            </div>
                        </div>
                        @*Edit icon comes here*@
                        <div class="behav-container-edit m-2 p-2" style="display:none;position:absolute;bottom:0;right: 4px;" onclick="StudentBehaviour.openAddEditModal(@item.BehaviourId)">
                            <span style="right:0;bottom:0;"><i class="fa fa-pen text-muted"></i></span>
                        </div>
                    </div>
                }
                @* Adding the two box for Edit and Add Behaviours*@
                <div class="col-lg-3 col-md-3 col-3 text-center" id="BehaveEdit">

                    <div class="behav-container m-2 p-2">
                        <div>
                            <div class="behav-icon-wrap">
                                <img src="~/Content/img/SIMS/behaviour/edit.png" class="behav-icon" onclick="StudentBehaviour.BehaviourEdit()">
                            </div>
                            <div data-display-name="VLayout" class="behav-title-outer">
                                <div data-display-name="VLayoutItem" class="behav-title-wrap">
                                    <div class="behav-title">Edit</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-3 text-center" id="BehaveAdd" style="display:none;">

                    <div class="behav-container m-2 p-2">
                        <div>
                            <div class="behav-icon-wrap">
                                <img src="~/Content/img/SIMS/behaviour/add.png" onclick="StudentBehaviour.openAddEditModal(0)" class="behav-icon">
                            </div>
                            <div data-display-name="VLayout" class="behav-title-outer">
                                <div data-display-name="VLayoutItem" class="behav-title-wrap">
                                    <div class="behav-title">Add New</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @* Adding the two box for Edit and Add Behaviours ENDS here*@


            </div>

            <div class="row">
                <div class="col-lg-3">
                    <label class="form-control-label" for="input-country">Comments</label>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <textarea id="txtAreaBehaviourComment" name="txtAreaBehaviourComment" class="form-control form-control-alternative" rows="4" cols="4">   </textarea>
                    </div>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label class="form-control-label" for="input-country">Attachement</label>
                </div>
                <div class="col-lg-9">
                    <div class="standalone-uploader">
                        <input id="sbFileUpload" name="sbFileUpload" type="file" multiple>
                    </div>
                </div>
            </div>
        </div>

    </form>
}


<script type="text/javascript">
    $(document).ready(function () {






    });



</script>
