﻿@model Phoenix.VLE.Web.Areas.SMS.ViewModels.BehaviourVM
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}

<div class="row view-group">
    <div class="col-lg-12">
        <div id="divStudentList" class="row p-2">
            @foreach (var item in Model.classList)
            {
                //var Days = item.Behaviourpoint == 0 ? 0 : (DateTime.Today - item.ModifiedOn.Date).Days;
                <div class="col-md-2 item">
                    <div class="card card-chart mt-5" data-studentId="@item.Student_ID" onclick="StudentBehaviour.OncardClick(this,event)" onmouseover="StudentBehaviour.HoverPopup(this,1)" onmouseout="StudentBehaviour.HoverPopup(this,0)">
                        <div class="card-header text-center">
                            <div class="behav-profile" onclick="StudentBehaviour.openModal(@item.Student_ID)">
                                <img src="@item.Student_Image_url" alt="@item.Student_Name" height="100px" class="img-circle img-no-padding img-responsive">
                            </div>
                            @if (item.Behaviourpoint == 0)
                            {
                                if (item.ModifiedOn != null && item.Behaviourpoint == 0)
                                {
                                    <div class="behav-score-wrap-main">
                                        <div class="behav-score-zero" id="divBehaviourPoints_@item.Student_ID" onclick="StudentBehaviour.openSelectedModal(@item.Student_ID)">@item.Behaviourpoint</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="behav-score-wrap-main">
                                        <div class="behav-score-zero" id="divBehaviourPoints_@item.Student_ID">@item.Behaviourpoint</div>
                                    </div>
                                }

                            }
                            else if (item.Behaviourpoint < 0)
                            {
                                <div class="behav-score-wrap-main">
                                    <div class="behav-score-neg" id="divBehaviourPoints_@item.Student_ID" onclick="StudentBehaviour.openSelectedModal(@item.Student_ID)">@item.Behaviourpoint</div>
                                </div>
                            }
                            else if (item.Behaviourpoint > 0)
                            {
                                <div class="behav-score-wrap-main" onclick="StudentBehaviour.openSelectedModal(@item.Student_ID)">
                                    <div class="behav-score" id="divBehaviourPoints_@item.Student_ID">@item.Behaviourpoint</div>
                                </div>

                            }

                        </div>
                        <div class="card-content p-2">

                            <h4 class="card-title pl-0 pr-0 tooltip-name hide-name" onclick="StudentBehaviour.openModal(@item.Student_ID)">
                                <a href="javascript:void(0);">
                                    <span class="search-here">
                                        @item.Student_Name
                                    </span>

                                </a>
                            </h4>
                            <p class="category mb-0"><span class="text-success">ID  </span> @item.Student_ID</p>
                        </div>
                        <div class="card-footer p-2 m-0">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="custom-control custom-checkbox p-0">
                                        <div class="stats">
                                            @*<input value="@item.Student_ID" class="custom-control-input" id="chkstudent_@item.Student_ID" name="LocationFilter" type="checkbox">*@
                                            <input name="LocationFilter" type="hidden" value="false">
                                            @*<label class="custom-control-label sms-checkbox-border ml-4" for="chkstudent_@item.Student_ID"></label>*@
                                            @*<span id="spnLastUpdatedOn_@item.Student_ID"> @(item.Behaviourpoint == 0 ? "Behaviour not added" : Days == 0 ? "Updated today" : "Updated " + (Days == 1 ? Days + " day ago" : Days + " days ago")) </span>*@
                                            <span id="spnLastUpdatedOn_@item.Student_ID"> @(item.Behaviourpoint == 0 ? "Behavior not updated" : "Updated on " + item.ModifiedOn.Value.ToString("dd/MM/yyyy")) </span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            }


        </div>
    </div>
</div>





@*<div class="row">
        <div class="form-group col-md-12 col-xs-12 col-sm-12 text-center">
            <button id="btnBulkStuBehaveInsert" name="btnBulkStuBehaveInsert" class="btn btn-primary" onclick="StudentBehaviour.SubmitBulkIds()">Submit</button>
        </div>
    </div>*@
