﻿@model Phoenix.VLE.Web.Areas.SMS.ViewModels.BehaviourVM
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    /**/

    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
@{
    ViewBag.Title = "Behaviour";
    Layout = "~/Views/Shared/_SIMSLayout.cshtml";

}

<link href="~/Content/css/custom/SIMS/custom.css" rel="stylesheet" />

@if (Model == null)
{
    //if (Model.classList.Count() > 0)
    //{
    //    if (Model.classList.FirstOrDefault().TimeTableID == 0)
    //    {
    <div class="container-fluid">
        <div class="card">
            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-12">

                        @Html.Partial("~/Areas/SMS/Views/Common/_GradeSectionPartial.cshtml")
                    </div>
                    <div class="col-lg-8 col-md-9"></div>
                </div>
            </div>
        </div>
    </div>
    @*}
        }*@
}
<div id="BehaviourBody">
    @if (Model != null && Model.classList.Count() > 0)
    {
        if (Model.classList.FirstOrDefault().TimeTableID != 0)
        {
            @Html.Partial("~/Areas/SMS/Views/Behaviour/_BehaviourBodyPartial.cshtml", Model)
        }
    }
</div>

@Html.Partial("_DataPageLibrariesPartial")
@section scripts
{
  
    <script type="text/javascript" src="~/Content/VLE/js/addons/bootstrap-select.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
    <script type="text/javascript" src="~/Content/VLE/js/addons/moment-with-locales.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
    <script type="text/javascript" src="~/Content/VLE/js/addons/fileinput.min.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
    <script type="text/javascript" src="~/Content/js/custom/SIMS/Common/GradeSectionLoad.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
    <script type="text/javascript" src="~/Content/js/custom/SIMS/Behaviour/BehaviourLoad.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>

}

