﻿@model Phoenix.VLE.Web.Areas.SMS.Model.Grades
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
@{
    ViewBag.Title = "Mark Attendance";
    Layout = "~/Views/Shared/_SIMSLayout.cshtml";
}

<link href="~/Content/css/custom/SIMS/custom.css" rel="stylesheet" />
@*<link href="https://demos.creative-tim.com/bs3/material-dashboard-pro/assets/css/material-dashboard.css?v=1.3.0" rel="stylesheet" />*@

<div class="container-fluid">
    <div class='row mt-4'>
        <div class='col-md-12'>
            <div class="col-lg-12 col-md-12 col-12 ">
                <!-- TimeTable Start -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header ">
                                <h5 class="card-title m-0"></h5>
                            </div>
                            <div class="card-body card-padding">
                                <div class="row week-switcher">
                                    <div class="col-md-4 col-2 pl-2 pr-2">
                                        <div class="row">
                                            <div class="col-lg-12 mt-2">
                                                @*@if (bol_TT == "0")
                                                {

                                                    @Html.Partial("~/Areas/SMS/Views/Common/_GradeSectionPartial.cshtml")
                                                }*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-8 text-center pl-2 pr-2">
                                        <div id="dv_entry_date">

                                            <div class="due-date d-flex date-time-picker pull-left">
                                                <span class="m-auto"><i class="far fa-calendar-alt text-muted"></i></span>
                                                <label class="form-control-label pl-2 pr-2 m-auto">Select Date</label>

                                                <div class="form-group due-date d-flex date-time-picker justify-content-start align-items-center m-auto">
                                                    <input type="text" class="form-control date-picker custom-date-searchbar" id="txtEntryDate">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-2 text-right pl-2 pr-2">

                                        @*<div class="search-box search-right">
            <input type="text" placeholder="Type a name" class="search-txt" aria-label="Search" id="search">
            <a href="#" class="search-btn">
                <i class="fas fa-search"></i>
            </a>
        </div>*@

                                        <div class="search-wrapper">
                                            <i class="fas fa-search active"></i>
                                            <input type="text" id="search" class="search-field" placeholder="@ResourceManager.GetString("SIMS.Common.SearchStudents")">
                                        </div>
                                    </div>

                                    <div class="col-lg-1">
                                        <div class="row">
                                            <div class="col-lg-12 my-3">
                                                <div class="pull-right">
                                                    <div class="zoom">
                                                        <a class="zoom-fab zoom-btn-large" id="zoomBtn"  onclick="openModal()" data-toggle="tooltip" title="Add Multiple Students Behaviours"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                 <div class="col-lg-12">
                                     <div class="row p-2">
                                         <div class="col-md-2">
                                             <div class="card card-chart mt-5" onmouseover="HoverPopup(this,1)" onmouseout="HoverPopup(this,0)">
                                                 <div class="card-header text-center">
                                                     <div class="behav-profile" onclick="openModal()">
                                                         <img src="/Content/img/SIMS/student5.png" alt="Circle Image" height="100px" class="img-circle img-no-padding img-responsive">
                                                     </div>
                                                     <div class="behav-score-wrap-main" onclick="openSelectedModal()">
                                                         <div class="behav-score">2</div>
                                                     </div>
                                                 </div>
                                                 <div class="card-content">
                           
                                                     <h4 class="card-title pl-0 pr-0 tooltip-name hide-name" onclick="openModal()"><a href="#">Students Full Name</a></h4>
                                                     <p class="category mb-0"><span class="text-success">ID  </span> 13003234564</p>
                                                 </div>
                                                 <div class="card-footer pl-0 pr-0 mr-0">
                                                     <div class="row">
                                                         <div class="col-lg-12">
                                                             <div class="stats mr-3">
                                                                 <input value="13456789" class="custom-control-input" id="LF[13456789]" name="LocationFilter" type="checkbox">
                                                                 <input name="LocationFilter" type="hidden" value="false">
                                                                 <label class="custom-control-label sms-checkbox-border ml-4" for="LF[13456789]"></label>
                                                                 behaviour Last updated 2 days ago
                                                             </div>
                                                         </div>
                           
                                                     </div>
                           
                           
                           
                           
                           
                                                 </div>
                           
                                             </div>
                                         </div>
                           
                                         <div class="col-md-2">
                                             <div class="card card-chart mt-5" onmouseover="HoverPopup(this,1)" onmouseout="HoverPopup(this,0)">
                                                 <div class="card-header text-center">
                                                     <div class="behav-profile" onclick="openModal()">
                                                         <img src="/Content/img/SIMS/student4.png" alt="Circle Image" height="100px" class="img-circle img-no-padding img-responsive">
                                                     </div>
                                                     <div class="behav-score-wrap-main" onclick="openSelectedModal()">
                                                         <div class="behav-score-zero">0</div>
                                                     </div>
                                                 </div>
                                                 <div class="card-content">
                           
                           
                                                     <h4 class="card-title pl-0 pr-0 tooltip-name hide-name" onclick="openModal()"><a href="#">Students Full Name</a></h4>
                                                     <p class="category mb-0"><span class="text-success">ID  </span> 13056032344</p>
                                                 </div>
                                                 <div class="card-footer pl-0 pr-0 mr-0">
                                                     <div class="row">
                                                         <div class="col-lg-12">
                                                             <div class="stats mr-3">
                                                                 <input value="13456189" class="custom-control-input" id="LF[13456189]" name="LocationFilter" type="checkbox">
                                                                 <input name="LocationFilter" type="hidden" value="false">
                                                                 <label class="custom-control-label sms-checkbox-border ml-4" for="LF[13456189]"></label>
                                                                 behaviour Last updated 12 days ago
                                                             </div>
                                                         </div>
                           
                                                     </div>
                           
                           
                           
                           
                           
                                                 </div>
                                             </div>
                                         </div>
                           
                                         <div class="col-md-2">
                                             <div class="card card-chart mt-5" onmouseover="HoverPopup(this,1)" onmouseout="HoverPopup(this,0)">
                                                 <div class="card-header text-center">
                                                     <div class="behav-profile" onclick="openModal()">
                                                         <img src="/Content/img/SIMS/student6.png" alt="Circle Image" height="100px" class="img-circle img-no-padding img-responsive">
                                                     </div>
                                                     <div class="behav-score-wrap-main" onclick="openSelectedModal()">
                                                         <div class="behav-score">2</div>
                                                     </div>
                                                 </div>
                                                 <div class="card-content">
                           
                           
                                                     <h4 class="card-title pl-0 pr-0 tooltip-name hide-name" onclick="openModal()"><a href="#">Students Full Name</a></h4>
                                                     <p class="category mb-0"><span class="text-success">ID  </span> 13453003264</p>
                                                 </div>
                                                 <div class="card-footer pl-0 pr-0 mr-0">
                                                     <div class="row">
                                                         <div class="col-lg-12">
                                                             <div class="stats mr-3">
                                                                 <input value="13451789" class="custom-control-input" id="LF[13451789]" name="LocationFilter" type="checkbox">
                                                                 <input name="LocationFilter" type="hidden" value="false">
                                                                 <label class="custom-control-label sms-checkbox-border ml-4" for="LF[13451789]"></label>
                                                                 behaviour Last updated 4 hours ago
                                                             </div>
                                                         </div>
                           
                                                     </div>
                           
                           
                           
                           
                           
                                                 </div>
                                             </div>
                                         </div>
                           
                                         <div class="col-md-2">
                                             <div class="card card-chart mt-5" onmouseover="HoverPopup(this,1)" onmouseout="HoverPopup(this,0)">
                                                 <div class="card-header text-center">
                                                     <div class="behav-profile" onclick="openModal()">
                                                         <img src="/Content/img/SIMS/student2.png" alt="Circle Image" height="100px" class="img-circle img-no-padding img-responsive">
                                                     </div>
                                                     <div class="behav-score-wrap-main" onclick="openSelectedModal()">
                                                         <div class="behav-score-zero">0</div>
                                                     </div>
                                                 </div>
                                                 <div class="card-content">
                           
                                                     <h4 class="card-title pl-0 pr-0 tooltip-name hide-name" onclick="openModal()"><a href="#">Students Full Name</a></h4>
                                                     <p class="category mb-0"><span class="text-success">ID  </span> 14563003234.</p>
                                                 </div>
                                                 <div class="card-footer pl-0 pr-0 mr-0">
                                                     <div class="row">
                                                         <div class="col-lg-12">
                                                             <div class="stats mr-3">
                                                                 <input value="13906789" class="custom-control-input" id="LF[13906789]" name="LocationFilter" type="checkbox">
                                                                 <input name="LocationFilter" type="hidden" value="false">
                                                                 <label class="custom-control-label sms-checkbox-border ml-4" for="LF[13906789]"></label>
                                                                 behaviour Last updated 3 days ago
                                                             </div>
                                                         </div>
                           
                                                     </div>
                           
                           
                           
                           
                           
                                                 </div>
                                             </div>
                                         </div>
                           
                                         <div class="col-md-2">
                                             <div class="card card-chart mt-5" onmouseover="HoverPopup(this,1)" onmouseout="HoverPopup(this,0)">
                                                 <div class="card-header text-center">
                                                     <div class="behav-profile" onclick="openModal()">
                                                         <img src="/Content/img/SIMS/student5.png" alt="" height="100px">
                                                     </div>
                                                     <div class="behav-score-wrap-main" onclick="openSelectedModal()">
                                                         <div class="behav-score-zero">0</div>
                                                     </div>
                                                 </div>
                                                 <div class="card-content">
                           
                                                     <h4 class="card-title pl-0 pr-0 tooltip-name hide-name" onclick="openModal()"><a href="#">Sdsadsa dsade</a></h4>
                                                     <p class="category mb-0"><span class="text-success">ID  </span> 13453003264</p>
                                                 </div>
                                                 <div class="card-footer pl-0 pr-0 mr-0">
                                                     <div class="row">
                                                         <div class="col-lg-12">
                                                             <div class="stats mr-3">
                                                                 <input value="13111289" class="custom-control-input" id="LF[13111289]" name="LocationFilter" type="checkbox">
                                                                 <input name="LocationFilter" type="hidden" value="false">
                                                                 <label class="custom-control-label sms-checkbox-border ml-4" for="LF[13111289]"></label>
                                                                 behaviour Last updated 2 days ago
                                                             </div>
                                                         </div>
                           
                                                     </div>
                                                 </div>
                           
                                             </div>
                                         </div>
                           
                                         <div class="col-md-2">
                                             <div class="card card-chart mt-5" onmouseover="HoverPopup(this,1)" onmouseout="HoverPopup(this,0)">
                                                 <div class="card-header text-center">
                                                     <div class="behav-profile" onclick="openModal()">
                                                         <img src="/Content/img/SIMS/student5.png" alt="" height="100px" class="">
                                                     </div>
                                                     <div class="behav-score-wrap-main" onclick="openSelectedModal()">
                                                         <div class="behav-score">1</div>
                                                     </div>
                                                 </div>
                                                 <div class="card-content">
                           
                                                     <h4 class="card-title pl-0 pr-0 tooltip-name hide-name" onclick="openModal()"><a href="#">Students First Name Last Name</a></h4>
                                                     <p class="category mb-0"><span class="text-success">ID  </span> 32341300564</p>
                                                 </div>
                                                 <div class="card-footer pl-0 pr-0 mr-0">
                                                     <div class="row">
                                                         <div class="col-lg-12">
                                                             <div class="stats mr-3">
                                                                 <input value="13456239" class="custom-control-input" id="LF[13456239]" name="LocationFilter" type="checkbox">
                                                                 <input name="LocationFilter" type="hidden" value="false">
                                                                 <label class="custom-control-label sms-checkbox-border ml-4" for="LF[13456239]"></label>
                                                                 behaviour Last updated 2 days ago
                                                             </div>
                                                         </div>
                           
                                                     </div>
                                                 </div>
                           
                                             </div>
                                         </div>
                           
                                         <div class="col-md-2">
                                             <div class="card card-chart mt-5" onmouseover="HoverPopup(this,1)" onmouseout="HoverPopup(this,0)">
                                                 <div class="card-header text-center">
                                                     <div class="behav-profile" onclick="openModal()">
                                                         <img src="/Content/img/SIMS/student5.png" alt="" height="100px" class="">
                                                     </div>
                                                     <div class="behav-score-wrap-main" onclick="openSelectedModal()">
                                                         <div class="behav-score-zero">0</div>
                                                     </div>
                                                 </div>
                                                 <div class="card-content">
                           
                                                     <h4 class="card-title pl-0 pr-0 tooltip-name hide-name" onclick="openModal()"><a href="#">Dadsfd Full Name</a></h4>
                                                     <p class="category mb-0"><span class="text-success">ID  </span> 14564300323</p>
                                                 </div>
                                                 <div class="card-footer pl-0 pr-0 mr-0">
                                                     <div class="row">
                                                         <div class="col-lg-12">
                                                             <div class="stats mr-3">
                                                                 <input value="13456589" class="custom-control-input" id="LF[13456589]" name="LocationFilter" type="checkbox">
                                                                 <input name="LocationFilter" type="hidden" value="false">
                                                                 <label class="custom-control-label sms-checkbox-border ml-4" for="LF[13456589]"></label>
                                                                 behaviour Last updated 2 days ago
                                                             </div>
                                                         </div>
                           
                                                     </div>
                                                 </div>
                           
                                             </div>
                                         </div>
                           
                                         <div class="col-md-2">
                                             <div class="card card-chart mt-5" onmouseover="HoverPopup(this,1)" onmouseout="HoverPopup(this,0)">
                                                 <div class="card-header text-center">
                                                     <div class="behav-profile" onclick="openModal()">
                                                         <img src="/Content/img/SIMS/student5.png" alt="" height="100px" class="">
                                                     </div>
                                                     <div class="behav-score-wrap-main" onclick="openSelectedModal()">
                                                         <div class="behav-score-zero">0</div>
                                                     </div>
                                                 </div>
                                                 <div class="card-content">
                           
                                                     <h4 class="card-title pl-0 pr-0 tooltip-name hide-name" onclick="openModal()"><a href="#">Radsfd Full Name</a></h4>
                                                     <p class="category mb-0"><span class="text-success">ID  </span> 15643003234</p>
                                                 </div>
                                                 <div class="card-footer pl-0 pr-0 mr-0">
                                                     <div class="row">
                                                         <div class="col-lg-12">
                                                             <div class="stats mr-3">
                                                                 <input value="13496789" class="custom-control-input" id="LF[13496789]" name="LocationFilter" type="checkbox">
                                                                 <input name="LocationFilter" type="hidden" value="false">
                                                                 <label class="custom-control-label sms-checkbox-border ml-4" for="LF[13496789]"></label>
                                                                 behaviour Last updated 2 days ago
                                                             </div>
                                                         </div>
                           
                                                     </div>
                                                 </div>
                           
                                             </div>
                                         </div>
                           
                                         <div class="col-md-2">
                                             <div class="card card-chart mt-5" onmouseover="HoverPopup(this,1)" onmouseout="HoverPopup(this,0)">
                                                 <div class="card-header text-center">
                                                     <div class="behav-profile" onclick="openModal()">
                                                         <img src="/Content/img/SIMS/student4.png" alt="" height="100px" class="">
                                                     </div>
                                                     <div class="behav-score-wrap-main" onclick="openSelectedModal()">
                                                         <div class="behav-score-zero">0</div>
                                                     </div>
                                                 </div>
                                                 <div class="card-content">
                           
                                                     <h4 class="card-title pl-0 pr-0 tooltip-name hide-name" onclick="openModal()"><a href="#">Wadsfd Full Name along with Fathers name</a></h4>
                                                     <p class="category mb-0"><span class="text-success">ID  </span> 10560323434</p>
                                                 </div>
                                                 <div class="card-footer pl-0 pr-0 mr-0">
                                                     <div class="row">
                                                         <div class="col-lg-12">
                                                             <div class="stats mr-3">
                                                                 <input value="18756789" class="custom-control-input" id="LF[18756789]" name="LocationFilter" type="checkbox">
                                                                 <input name="LocationFilter" type="hidden" value="false">
                                                                 <label class="custom-control-label sms-checkbox-border ml-4" for="LF[18756789]"></label>
                                                                 behaviour Last updated 2 days ago
                                                             </div>
                                                         </div>
                           
                                                     </div>
                                                 </div>
                           
                                             </div>
                                         </div>
                           
                                         <div class="col-md-2">
                                             <div class="card card-chart mt-5" onmouseover="HoverPopup(this,1)" onmouseout="HoverPopup(this,0)">
                                                 <div class="card-header text-center">
                                                     <div class="behav-profile" onclick="openModal()">
                                                         <img src="/Content/img/SIMS/student3.png" alt="" height="100px" class="">
                                                     </div>
                                                     <div class="behav-score-wrap-main" onclick="openSelectedModal()">
                                                         <div class="behav-score">3</div>
                                                     </div>
                                                 </div>
                                                 <div class="card-content">
                           
                                                     <h4 class="card-title pl-0 pr-0 tooltip-name hide-name" onclick="openModal()"><a href="#">Radsfd Full Name</a></h4>
                                                     <p class="category mb-0"><span class="text-success">ID  </span> 13056032344</p>
                                                 </div>
                                                 <div class="card-footer pl-0 pr-0 mr-0">
                                                     <div class="row">
                                                         <div class="col-lg-12">
                                                             <div class="stats mr-3">
                                                                 <input value="13465789" class="custom-control-input" id="LF[13465789]" name="LocationFilter" type="checkbox">
                                                                 <input name="LocationFilter" type="hidden" value="false">
                                                                 <label class="custom-control-label sms-checkbox-border ml-4" for="LF[13465789]"></label>
                                                                 behaviour Last updated 2 days ago
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </div>
                           
                                             </div>
                                         </div>
                           
                                         <div class="col-md-2">
                                             <div class="card card-chart mt-5" onmouseover="HoverPopup(this,1)" onmouseout="HoverPopup(this,0)">
                                                 <div class="card-header text-center">
                                                     <div class="behav-profile" onclick="openModal()">
                                                         <img src="/Content/img/SIMS/student2.png" alt="" height="100px" class="">
                                                     </div>
                                                     <div class="behav-score-wrap-main" onclick="openSelectedModal()">
                                                         <div class="behav-score-zero">0</div>
                                                     </div>
                                                 </div>
                                                 <div class="card-content">
                           
                                                     <h4 class="card-title pl-0 pr-0 tooltip-name hide-name" onclick="openModal()"><a href="#">Tadsfd Full Name Fathers name</a></h4>
                                                     <p class="category mb-0"><span class="text-success">ID  </span> 33234130564</p>
                                                 </div>
                                                 <div class="card-footer pl-0 pr-0 mr-0">
                                                     <div class="row">
                                                         <div class="col-lg-12">
                                                             <div class="stats mr-3">
                                                                 <input value="13456749" class="custom-control-input" id="LF[13456749]" name="LocationFilter" type="checkbox">
                                                                 <input name="LocationFilter" type="hidden" value="false">
                                                                 <label class="custom-control-label sms-checkbox-border ml-4" for="LF[13456749]"></label>
                                                                 behaviour Last updated 2 days ago
                                                             </div>
                                                         </div>
                           
                                                     </div>
                                                 </div>
                           
                                             </div>
                                         </div>
                           
                                         <div class="col-md-2">
                                             <div class="card card-chart mt-5" onmouseover="HoverPopup(this,1)" onmouseout="HoverPopup(this,0)">
                                                 <div class="card-header text-center">
                                                     <div class="behav-profile" onclick="openModal()">
                                                         <img src="/Content/img/SIMS/student1.png" alt="" height="100px" class="">
                                                     </div>
                                                     <div class="behav-score-wrap-main" onclick="openSelectedModal()">
                                                         <div class="behav-score-zero">0</div>
                                                     </div>
                                                 </div>
                                                 <div class="card-content">
                           
                                                     <h4 class="card-title pl-0 pr-0 tooltip-name hide-name" onclick="openModal()"><a href="#">Gadsfd Full Name Fathers name</a></h4>
                                                     <p class="category mb-0"><span class="text-success">ID  </span> 13060323454</p>
                                                 </div>
                                                 <div class="card-footer pl-0 pr-0 mr-0">
                                                     <div class="row">
                                                         <div class="col-lg-12">
                                                             <div class="stats mr-3">
                                                                 <input value="13456723" class="custom-control-input" id="LF[13456723]" name="LocationFilter" type="checkbox">
                                                                 <input name="LocationFilter" type="hidden" value="false">
                                                                 <label class="custom-control-label sms-checkbox-border ml-4" for="LF[13456723]"></label>
                                                                 behaviour Last updated 2 days ago
                                                             </div>
                                                         </div>
                           
                                                     </div>
                                                 </div>
                           
                                             </div>
                                         </div>
                           
                                     </div>
                                 </div>
                             </div>
                           
                             <hr>
                             <div class="row">
                                 <div class="form-group col-md-12 col-xs-12 col-sm-12 text-center">
                                     <input type="submit" value="Submit" name="attendence" class="btn btn-primary">
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                </div>



                <!-- Behaviour Selection Modal Options-->
                <div class="behave modal">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header pt-2 pb-2">
                                <h5 class="modal-title" id="exampleModalLongTitle">Select Behaviours</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body pl-0 pr-0">
                                <div class="card-body user-contact-card">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-3 m-auto text-center">
                                            @* <h6 class="card-title mb-4">Team Player</h6>*@
                                            <div class="behav-container m-2 p-2">
                                                <div>
                                                    <div class="behav-icon-wrap">
                                                        <img src="https://teach-static.classdojo.com/dc3d32e0e7a27083de30071354d4e079.png" class="behav-icon">
                                                    </div>
                                                    <div data-display-name="VLayout" class="behav-title-outer">
                                                        <div data-display-name="VLayoutItem" class="behav-title-wrap">
                                                            <div class="behav-title">Helping others</div>
                                                        </div>
                                                    </div>
                                                    <div class="behav-score-wrap">
                                                        <div class="behav-score">1</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-3 m-auto text-center">

                                            <div class="behav-container m-2 p-2">
                                                <div>
                                                    <div class="behav-icon-wrap">
                                                        <img src="https://teach-static.classdojo.com/80dd5a914fc81cf633aef577e1a6dfe0.png" class="behav-icon">
                                                    </div>
                                                    <div data-display-name="VLayout" class="behav-title-outer">
                                                        <div data-display-name="VLayoutItem" class="behav-title-wrap">
                                                            <div class="behav-title">On Task</div>
                                                        </div>
                                                    </div>
                                                    <div class="behav-score-wrap">
                                                        <div class="behav-score">1</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-3 m-auto text-center">

                                            <div class="behav-container m-2 p-2">
                                                <div>
                                                    <div class="behav-icon-wrap">
                                                        <img src="https://teach-static.classdojo.com/d1fe54446392a69782129ef611af7e22.png" class="behav-icon">
                                                    </div>
                                                    <div data-display-name="VLayout" class="behav-title-outer">
                                                        <div data-display-name="VLayoutItem" class="behav-title-wrap">
                                                            <div class="behav-title">Participating</div>
                                                        </div>
                                                    </div>
                                                    <div class="behav-score-wrap">
                                                        <div class="behav-score">1</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-3 m-auto text-center">
                                            @*<h6 class="card-title mt-4">Hard Working</h6>*@
                                            <div class="behav-container m-2 p-2">
                                                <div>
                                                    <div class="behav-icon-wrap">
                                                        <img src="https://teach-static.classdojo.com/c487db529d108fb34b9b8b3a0d8bc649.png" class="behav-icon">
                                                    </div>
                                                    <div data-display-name="VLayout" class="behav-title-outer">
                                                        <div data-display-name="VLayoutItem" class="behav-title-wrap">
                                                            <div class="behav-title">Teamwork</div>
                                                        </div>
                                                    </div>
                                                    <div class="behav-score-wrap">
                                                        <div class="behav-score">2</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @* Adding the two box for Edit and Add Behaviours*@
                                        <div class="col-lg-3 col-md-3 col-3 text-center" id="BehaveEdit">

                                            <div class="behav-container m-2 p-2">
                                                <div>
                                                    <div class="behav-icon-wrap">
                                                        <img src="https://teach-static.classdojo.com/08bc2344a8274aeaf08dd2d04ac8690c.png" class="behav-icon">
                                                    </div>
                                                    <div data-display-name="VLayout" class="behav-title-outer">
                                                        <div data-display-name="VLayoutItem" class="behav-title-wrap">
                                                            <div class="behav-title">Edit</div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-3 text-center" id="BehaveAdd" style="display:none;">

                                            <div class="behav-container m-2 p-2">
                                                <div>
                                                    <div class="behav-icon-wrap">
                                                        <img src="https://teach-static.classdojo.com/8cd2655491aa2a05b4f8eaefd83d2916.png" class="behav-icon">
                                                    </div>
                                                    <div data-display-name="VLayout" class="behav-title-outer">
                                                        <div data-display-name="VLayoutItem" class="behav-title-wrap">
                                                            <div class="behav-title">Add</div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        @* Adding the two box for Edit and Add Behaviours ENDS here*@

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Behaviour Selection Modal Options Ends here-->


                <!-- Behaviour Selected Modal Options-->
                <div class="selected modal">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header pt-2 pb-2">
                                <h5 class="modal-title" id="exampleModalLongTitle">Selected Behaviours</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body pl-0 pr-0">
                                <div class="card-body user-contact-card">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-3 text-center">
                                            @* <h6 class="card-title mb-4">Team Player</h6>*@
                                            <div class="behav-container m-2 p-2" data-toggle="tooltip" title="Comments on Helping Others of the student goes here">
                                                <div>
                                                    <div class="behav-icon-wrap">
                                                        <img src="https://teach-static.classdojo.com/dc3d32e0e7a27083de30071354d4e079.png" class="behav-icon">
                                                    </div>
                                                    <div data-display-name="VLayout" class="behav-title-outer">
                                                        <div data-display-name="VLayoutItem" class="behav-title-wrap">
                                                            <div class="behav-title">Helping others</div>
                                                        </div>
                                                    </div>
                                                    <div class="behav-score-wrap">
                                                        <div class="behav-score">1</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-3 col-md-3 col-3 text-center">

                                            <div class="behav-container m-2 p-2" data-toggle="tooltip" title="Comments on Participation of the student goes here">
                                                <div>
                                                    <div class="behav-icon-wrap">
                                                        <img src="https://teach-static.classdojo.com/d1fe54446392a69782129ef611af7e22.png" class="behav-icon">
                                                    </div>
                                                    <div data-display-name="VLayout" class="behav-title-outer">
                                                        <div data-display-name="VLayoutItem" class="behav-title-wrap">
                                                            <div class="behav-title">Participating</div>
                                                        </div>
                                                    </div>
                                                    <div class="behav-score-wrap">
                                                        <div class="behav-score">1</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                




            </div>
        </div>
    </div>


@section scripts
                    {
    <script src="https://demos.creative-tim.com/bs3/material-dashboard-pro/assets/js/material-dashboard.js?v=1.3.0"></script>
    <script src="~/Content/js/custom/SIMS/Attendance/AttendanceLoad.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
    <script type="text/javascript" src="~/Content/js/custom/SIMS/Common/GradeSectionLoad.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
    <script>
        function openModal() {
            $('.behave.modal').modal('show');
        }

        function openSelectedModal() {
            $('.selected.modal').modal('show');            
        }
        function HoverPopup(a, state) {
            if (state == '1') {

                $(a).find(".behav-profile").attr("data-header-animation", true);
               // $(".behav-profile").attr("data-header-animation", true);
            }
            else {
                $(a).find(".behav-profile").attr("data-header-animation", false);
              //  $(".behav-profile").attr("data-header-animation", false);
            }
        }
        
    </script>

    <script>
        $(document).ready(function () {
            // Ellipsis for for student name 

            $(document).on('mouseenter', ".tooltip-name", function () {
                var $this = $(this);
                if (this.offsetWidth < this.scrollWidth && !$this.attr('title')) {
                    $this.tooltip({
                        title: $this.text(),
                        placement: "top"
                    });
                    $this.tooltip('show');
                }
            });
            $('.hide-name').css('width', $('.hide-name').parent().width());
        });
    </script>

}
