﻿@using Phoenix.Common.Localization
@using Phoenix.VLE.Web.Models.EditModels
@model StudentTcDetailsRoot


<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="row grid-view tcform-container">
                    <div class="col-lg-8 col-md-8 col-12">
                        <div class="column-padding py-4">
                            <div class="card tc-table-wrapper">
                                <div class="responsive-table">
                                    @{
                                        if (Model.data != null && Model.data.Count > 0)
                                        {
                                            <table class="table tc-request-table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" class="align-middle">@ResourceManager.GetString("TCRequest.TcRequestDetails.ApplyDate")</th>
                                                        <th scope="col" class="align-middle">@ResourceManager.GetString("TCRequest.TcRequestDetails.LastAttendanceDate")</th>
                                                        <th scope="col" class="align-middle">@ResourceManager.GetString("TCRequest.TcRequestDetails.ApprovalStatus")</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var details in Model.data)
                                                    {
                                                        <tr>
                                                            <td scope="col" class="align-middle" data-title="@ResourceManager.GetString("TCRequest.TcRequestDetails.ApplyDate")">@details.AppliedDate.ToString("dd/MMM/yyyy")</td>
                                                            <td scope="col" class="align-middle" data-title="@ResourceManager.GetString("TCRequest.TcRequestDetails.LastAttendanceDate")">@details.LastAttendanceDate.ToString("dd/MMM/yyyy")</td>
                                                            <td scope="col" class="align-middle" data-title="@ResourceManager.GetString("TCRequest.TcRequestDetails.ApprovalStatus")"><span class="tag tag-warning">@details.Status</span></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                        else if (Model.data != null && Model.data.Count > 0 || Model.success == "false" || Convert.ToString(Model.message) == "CRM is on SalesForce" || Convert.ToString(Model.responseCode) == "NA")
                                        {
                                            <h3>@ResourceManager.GetString("TCRequest.TcRequestDetails.CRMmsg")</h3>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        @Html.Action("GetCurrentStudentDetails", "StudentInformation", new { @area = "StudentInformation", @isTCRequest = true })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    translatedResources.HifzTrackerFileSize = '@ResourceManager.GetString("Shared.Messages.HifzTrackerFileSize")';
    translatedResources.BrowseFile = '@ResourceManager.GetString("Shared.Labels.BrowseFile")';
    translatedResources.SystemLanguageCode ='@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()';
    <script src="@Url.Content("~/Content/js/custom/TCRequest/TCRequestFile.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Parent/ParentDashboard.js?v="+ResourceManager.GetString("Shared.Version.Js"))"></script>
}