﻿@model Phoenix.VLE.Web.EditModels.TcRequestmodel
@using Phoenix.Common.Localization
@{
    int count = 0;
    string TcRequestMessage = ViewBag.TcRequestMessage;
    string RedirectUrl = ViewBag.RedirectUrl;
    string setWidth = TcRequestMessage == "NA" ? "1300px" : "100%";
}
<style>
    #TcRequestIfrm {
        position: absolute;
        left: 3%;
        right: 0;
        bottom: 0;
        top: 0px;
    }

    .filter-option-inner-inner {
        font-weight: bold
    }
</style>

<div class="container-fluid mt-3 mt-md-2 mb-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <!-- tc request form -->
                    <div class="row grid-view tcform-container">
                        <!--------tc form info------->
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="column-padding py-4 bg-form-main-text">
                                <div class="form-main-text">
                                    <p class="text-medium mb-0"> @ResourceManager.GetString("TCRequest.SaveTcRequest.TcRequestMsgFirst")<span class="font-weight-bold"> @ResourceManager.GetString("TCRequest.SaveTcRequest.GEMSCorporateOffice")</span>  @ResourceManager.GetString("TCRequest.SaveTcRequest.TcRequestMsgSecond")</p>
                                </div>
                            </div>
                        </div>                     <!--------tc form info------->
                        <!-- left column -->
                        <!--------tc form details------->
                        <div class="col-lg-8 col-md-8 col-12">
                            <div class="column-padding py-4" style="height:@setWidth;overflow: hidden;">
                                @{
                                    if (TcRequestMessage == "NA")
                                    {
                                        <iframe width="94%" height="100%" id="TcRequestIfrm" frameborder="0" src="@RedirectUrl"></iframe>
                                    }
                                    else
                                    {
                                        using (Ajax.BeginForm("SaveTCRequest", "TCRequest", new AjaxOptions { OnSuccess = "StandardDetails.onSaveStandardDetailsSuccess('" + 0 + "')", OnFailure = "StandardDetails.onSaveStandardDetailsError('" + 0 + "')" }, new { id = "frmAddTCRequestDetails", @class = "form-horizontal" }))
                                        {
                                            <input type="hidden" id="TotalDays" value="100" />
                                            <input type="hidden" id="TotalPresentDays" value="50" />
                                            <input type="hidden" id="TransferZone" value="ENGLISH-TC" />
                                            <input type="hidden" id="QuestionCount" value="@Model.DropdownListExitInterview.Count()" />

                                            <div class="tc-form">
                                                <div class="card tc-card ">
                                                    <div class="tc-card-content">
                                                        <div class="sub-wrapper p-3">
                                                            <h3 class="tc-card-title text-bold mb-3 font-weight-bold">@ResourceManager.GetString("TCRequest.SaveTcRequest.Details")</h3>
                                                            <div class="form-group">
                                                                <label class="form-label text-medium"><span class="font-weight-bold"> @ResourceManager.GetString("TCRequest.SaveTcRequest.CorporateOfficeMeetingMsg")</span></label>
                                                                <select id="IsOnlineTransfer" class="selectpicker">
                                                                    <option value="0">@ResourceManager.GetString("Shared.Labels.No")</option>
                                                                    <option value="1">@ResourceManager.GetString("Shared.Labels.Yes")</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="sub-wrapper p-3 bg-light-blue">
                                                            <div class="form-group">
                                                                <label class="form-label text-medium"><span class="font-weight-bold">@ResourceManager.GetString("TCRequest.SaveTcRequest.LastAttendanceDt")</span></label>
                                                                <div class="md-outline date-time-picker field-with-icon mb-0 mt-1">
                                                                    <i class="far fa-calendar-alt active"></i>
                                                                    <input type="text" id="LastDateofAttendance" autocomplete="off" name="LastDateofAttendance" placeholder="(dd/mmm/yyyy)" class="form-control date-picker">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="form-label text-medium"><span class="font-weight-bold">@ResourceManager.GetString("TCRequest.SaveTcRequest.SchoolName")</span></label>
                                                                @Html.DropDownList("TransferBSUID", Model.DropdownListTranferdSchool, ResourceManager.GetString("Shared.Labels.Select"), new { @class = "selectpicker" })

                                                            </div>
                                                            <div class="form-group">
                                                                <label class="form-label text-medium"><span class="font-weight-bold">@ResourceManager.GetString("TCRequest.SaveTcRequest.ReasonForTransfer")</span></label>
                                                                @Html.DropDownList("TransferReasonID", Model.DropdownReasonForTransfer, ResourceManager.GetString("Shared.Labels.Select"), new { @class = "selectpicker" })
                                                            </div>
                                                        </div>
                                                        <div class="sub-wrapper p-3">
                                                            <div class="form-group">
                                                                <label class="form-label text-medium"><span class="font-weight-bold">@ResourceManager.GetString("TCRequest.SaveTcRequest.FeedbackMsg")</span></label>
                                                                <textarea id="TransferFeedback" class="form-control" rows="3"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card tc-card ">
                                                    <div class="tc-card-content">
                                                        <div class="sub-wrapper p-3 border-bottom-0">
                                                            <h3 class="tc-card-title text-bold mb-3"><span class="font-weight-bold">@ResourceManager.GetString("TCRequest.SaveTcRequest.StudentExitReview")</span></h3>
                                                            <p class="form-note text-medium py-3"><span class="text-bold w-100 d-inline-block">@ResourceManager.GetString("TCRequest.SaveTcRequest.DearParent")</span>@ResourceManager.GetString("TCRequest.SaveTcRequest.DearParentMsg")</p>

                                                            @{

                                                                <div class="form-group d-none">
                                                                    <label class="form-label text-medium"></label>
                                                                    <form id="smileys_" class="emoji-rating d-inline-block w-100">
                                                                        <input type="radio" name="smiley_as" value="vry-happy" class="vry-happy">
                                                                        <input type="radio" name="smiley_df" value="happy" class="happy">
                                                                        <input type="radio" name="smiley_gh" value="neutral" class="neutral">
                                                                        <input type="radio" name="smiley_hj" value="sad" class="sad">
                                                                        <input type="radio" name="smiley_kl" value="vry-sad" class="vry-sad">
                                                                    </form>

                                                                </div>
                                                                foreach (var questionDetails in Model.DropdownListExitInterview)
                                                                {
                                                                    count++;

                                                                    <div class="form-group questionDetails">
                                                                        <input type="hidden" class="TransferQuestionID" value="@questionDetails.Value" />
                                                                        <label class="form-label text-medium"><span class="font-weight-bold">@questionDetails.Value. @questionDetails.Text</span></label>
                                                                        <form id="smileys_@questionDetails.Value" class="emoji-rating d-inline-block w-100">
                                                                            <input type="radio" name="smiley_@questionDetails.Value" value="vry-happy" class="vry-happy">
                                                                            <input type="radio" name="smiley_@questionDetails.Value" value="happy" class="happy">
                                                                            <input type="radio" name="smiley_@questionDetails.Value" value="neutral" class="neutral">
                                                                            <input type="radio" name="smiley_@questionDetails.Value" value="sad" class="sad">
                                                                            <input type="radio" name="smiley_@questionDetails.Value" value="vry-sad" class="vry-sad">
                                                                        </form>
                                                                    </div>
                                                                }
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-btn-wrapper mt-4 mb-2">
                                                <button type="button" style="font-size:9px;" class="btn btn-primary waves-effect waves-light" onclick="saveTcRequestDetails();">@ResourceManager.GetString("Shared.Buttons.Save")</button>
                                            </div>
                                        }
                                    }
                                }

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            @Html.Action("GetCurrentStudentDetails", "StudentInformation", new { @area = "StudentInformation", @isTCRequest = true })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal request-modal fade" id="requestPopup" tabindex="-1" role="dialog" aria-labelledby="requestPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content py-4 px-5">
            <div class="modal-header p-0 d-flex justify-content-center align-items-center flex-column border-0">
                <div class="my-2"><i class="far fa-check-circle fa-4x text-success"></i></div>
                <h5 class="modal-title text-bold my-2">@ResourceManager.GetString("TCRequest.SaveTcRequest.RequestSubmitted")</h5>
            </div>
            <div class="modal-body p-0 my-2 d-flex justify-content-center">
                <p class="text-center">@ResourceManager.GetString("TCRequest.SaveTcRequest.Email") <span class="text-medium">@ResourceManager.GetString("TCRequest.SaveTcRequest.Notification")</span> @ResourceManager.GetString("TCRequest.SaveTcRequest.SendRequestMsg")<strong>@ResourceManager.GetString("TCRequest.SaveTcRequest.Approval")</strong></p>
            </div>
            <div class="modal-footer p-0 my-2 d-flex justify-content-center border-0 pt-0">
                <button type="button" class="btn btn-primary closeTcRequestModel" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Close")</button>
            </div>
        </div>
    </div>
</div>



@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
    @Html.Partial("_CommonJsPartial")
}

@section scripts
{
    translatedResources.HifzTrackerFileSize = '@ResourceManager.GetString("Shared.Messages.HifzTrackerFileSize")';
    translatedResources.FillData = '@ResourceManager.GetString("Shared.Messages.FillData")';
    translatedResources.BrowseFile = '@ResourceManager.GetString("Shared.Labels.BrowseFile")';
    translatedResources.SystemLanguageCode ='@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()';

    <script src="@Url.Content("~/Content/js/custom/TCRequest/TCRequestFile.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Parent/ParentDashboard.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        $('#LastDateofAttendance').datetimepicker({
            format: 'DD/MMM/YYYY',
            widgetPositioning: {
                vertical: 'bottom'
            }
        });
    </script>
}

