﻿@model Phoenix.VLE.Web.EditModels.BookmarkEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using (Ajax.BeginForm("SaveBookmark", "Files", new AjaxOptions { OnSuccess = "bookmark.OnSaveBookmark", OnFailure = "bookmark.OnErrorBookmark" }, new { id = "frmAddEditBookmark", @class = "form-horizontal" }))
{
    <div class="modal-body">
        <div class="popup-form">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(d => d.BookmarkId)
            @Html.HiddenFor(d => d.IsAddMode)
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(d => d.BookmarkName, new { @class = "form-control" })
                        @Html.LocalizedLabel("active", "Files.Bookmark.BookmarkName")
                        @Html.ValidationMessageFor(x => x.BookmarkName, null)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextAreaFor(d => d.BookmarkDescription, new { @class = "form-control" })
                        @Html.LocalizedLabel("active", "Files.Bookmark.BookmarkDescription")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(d => d.URL, new { @class = "form-control" })
                        @Html.LocalizedLabel("active", "Files.Bookmark.URL")
                        @Html.ValidationMessageFor(x => x.URL, null)
                    </div>
                </div>
            </div>
            @if (SessionHelper.CurrentSession.IsTeacher())
            {
                <div class="row">
                    <div class="col-lg-12 col-md-12 col">
                        <div class="md-form md-outline">
                            @Html.DropDownListFor(x => x.SchoolGroupIds, ViewBag.lstSchoolGroup as List<SelectListItem>, new { @class = "selectpicker ddlSchoolGroup", @name = "SchoolGroupId", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true" })
                            @Html.LocalizedLabel("active", "Files.Bookmark.lstSchoolGroup")
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-end border-0 pt-0">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0 mr-2" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            <button type="submit" class="btn btn-primary waves-effect waves-light m-0" id="btnSaveTask">@ResourceManager.GetString("Shared.Buttons.Save")</button>
        </div>
    </div>
}

@Html.Partial("_ValidationJSPartial")