﻿@model IEnumerable<Phoenix.Models.File>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
<div class="library-data column-padding pt-3 pb-3">
    <div id="library">
        <div class="file-view">
            <div class="column-padding py-3 attachment-list clipboard-list rounded-2x">
                
                @if (Model.Any() && Model.Count() > 0)
                {
                    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4">
                    @foreach (var f in Model)
                    {
                        string strTooltip = $"data-toggle=tooltip data-placement=top";
                        <div class="col px-2 clipboard-item">
                            <div class="card rounded-2x">
                                <a href="javascript:void(0);" class="attachedFile overflow-hidden d-flex align-items-center justify-content-center @f.Icon">
                                    <img src="@Url.Content($"~/Content/vle/img/svg/{f.Icon}.svg")" alt="" >
                                </a>
                                <div class="card-body position-relative">
                                    <h4 class="card-title overflow-hidden px-0 mx-3 py-3">@f.FileName</h4>
                                    <a onclick="files.addFromClipboard($(this),@f.FileId)" data-id="@f.FileId" href="javascript:void(0)" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle" data-toggle="tooltip" data-placement="top" title="@ResourceManager.GetString("Shared.Labels.Add")">
                                        <img src="~/Content/vle/img/svg/plus.svg" alt="">
                                    </a>
                                </div>
                                <a onclick="files.removeFromClipboard($(this),@f.FileId)" href="javascript:void(0)" class="removeFile rounded-circle d-flex align-items-center justify-content-center position-absolute" data-toggle="tooltip" data-placement="top" title="@ResourceManager.GetString("Shared.Labels.Remove")"><i class="fas fa-times"></i></a>
                            </div>
                        </div>
                    }
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-12">                            
                            <span id="noTodaysEventData" class="no-data-found text-bold mx-auto my-auto mt-1 d-block">
                                @ResourceManager.GetString("Files.File.NoFileMessage")
                            </span>
                        </div>
                    </div>
                }
                
                <div class="row">
                    <div class="col-12 mt-3">
                        <h4 class="sub-heading text-dark text-medium">
                            <span class="text-bold">@ResourceManager.GetString("Files.File.Note")</span> @ResourceManager.GetString("Files.File.ClipboardNote")
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
