﻿@using Phoenix.Common.Localization
@model Phoenix.VLE.Web.Models.MediaModal
@using FlickrNet
@if (Model.Count > 0)
{
    <input type="hidden" id="total" value="@Model.Count" />

    <div class="search-result">
        @foreach (var m in Model.PhotoList)
        {
            <div class="img-item">
                @*<a href="@m.LargeUrl" target="_blank" data-toggle="tooltip" data-title="Add to My Files" data-placement="top"><i class="fas fa-plus-square fa-2x"></i></a>
                    <img src="@m.SmallUrl" />*@

                <img src="@m.SmallUrl" />
                <ul class="image-sizes">
                    <li><strong>@ResourceManager.GetString("Files.FlikrImage.AddToMyFiles")</strong></li>
                    @if (m.Large1600Url != null)
                    {
                        <li class="d-flex justify-content-between align-items-center">
                            @ResourceManager.GetString("Files.FlikrImage.Large1600SizedImg")
                            <a href="javascript:void(0)" class="saveImage" data-toggle="modal" data-target="#imageNameSetting" img-url="@m.Large1600Url"><i class="fas fa-plus"></i></a>
                        </li>
                    }
                    @if (m.Large2048Url != null)
                    {
                        <li class="d-flex justify-content-between align-items-center">
                            @ResourceManager.GetString("Files.FlikrImage.Large2048SizedImg")
                            <a href="javascript:void(0)" class="saveImage" data-toggle="modal" data-target="#imageNameSetting" img-url="@m.Large2048Url"><i class="fas fa-plus"></i></a>
                        </li>
                    }
                    @if (m.LargeUrl != null)
                    {
                        <li class="d-flex justify-content-between align-items-center">
                            @ResourceManager.GetString("Files.FlikrImage.LargeSizedImg")
                            <a href="javascript:void(0)" class="saveImage" data-toggle="modal" data-target="#imageNameSetting" img-url="@m.LargeUrl"><i class="fas fa-plus"></i></a>
                        </li>
                    }
                    @if (m.Medium640Url != null)
                    {
                        <li class="d-flex justify-content-between align-items-center">
                            @ResourceManager.GetString("Files.FlikrImage.Medium640SizedImg")
                            <a href="javascript:void(0)" class="saveImage" data-toggle="modal" data-target="#imageNameSetting" img-url="@m.Medium640Url"><i class="fas fa-plus"></i></a>
                        </li>
                    }
                    @if (m.Medium800Url != null)
                    {
                        <li class="d-flex justify-content-between align-items-center">
                            @ResourceManager.GetString("Files.FlikrImage.Medium800SizedImg")
                            <a href="javascript:void(0)" class="saveImage" data-toggle="modal" data-target="#imageNameSetting" img-url="@m.Medium800Url"><i class="fas fa-plus"></i></a>
                        </li>
                    }
                    @if (m.MediumUrl != null)
                    {
                        <li class="d-flex justify-content-between align-items-center">
                            @ResourceManager.GetString("Files.FlikrImage.MediumSizedImg")
                            <a href="javascript:void(0)" class="saveImage" data-toggle="modal" data-target="#imageNameSetting" img-url="@m.MediumUrl"><i class="fas fa-plus"></i></a>
                        </li>
                    }
                    @*@if (m.Small320Url != null)
                    {
                        <li class="d-flex justify-content-between align-items-center">
                            Small 320 sized  image
                            <a href="javascript:void(0)" class="saveImage" data-toggle="modal" data-target="#imageNameSetting" img-url="@m.Small320Url"><i class="fas fa-plus"></i></a>
                        </li>
                    }*@
                </ul>
            </div>
        }
    </div>
}