﻿@model IEnumerable<Phoenix.Models.Assignment>
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers


<div class="row pr-2 pl-2">
    <div class="col-lg-12 col-12">
        <h4 class="sub-heading">@ResourceManager.GetString("Files.Assignments.Assignments")</h4>
    </div>
</div>
<div class="folder-view ">
    <div class="row pr-2 pl-2">
        @foreach (var item in Model)
        {
            <div class="item search-item list-group-item col-xl-2 col-lg-3 col-md-3 col-6">
                <div class="library-content clearfix cursor-pointer">
                    <div class="item-icon">
                        <a target="_blank" href="/Assignments/Assignment/GetAssignmentStudentDetailsByAssgnmtId?id=@EncryptDecryptHelper.EncryptUrl(item.AssignmentId.ToString())">
                            <i class="fas fa-clipboard-list mark-by-student"></i>
                        </a>
                    </div>
                    <div class="caption">
                        <p>
                            <a target="_blank" href="/Assignments/Assignment/GetAssignmentStudentDetailsByAssgnmtId?id=@EncryptDecryptHelper.EncryptUrl(item.AssignmentId.ToString())"> @item.AssignmentTitle</a>
                            @*<a target="_blank" class="pl-5" href="//@item.URL">
                                    @item.URL
                                </a>*@
                            <span class="detailInfo">
                                <span data-toggle="tooltip" data-title="Created by">@item.CreatedByName</span>
                                <span data-toggle="tooltip" data-title="Start Date">@item.StartDate.ToString("dd MMM yyyy")</span>
                            </span>
                        </p>
                        <div class="quick-nav dropleft">
                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu has-list-group animate slideIn p-0 border-0">
                                @if (ViewBag.IsCustomPermission)
                                {
                                    <ul class="list-group list-group-horizontal text-center align-items-center">
                                        <li class="list-group-item p-0 align-self-stretch">
                                            <a id="btnEditGroupUrl" onclick="bookmark.addEditBookmark($(this), translatedResources.edit,'@EncryptDecryptHelper.EncryptUrl(item.AssignmentId.ToString())')" data-id="@EncryptDecryptHelper.EncryptUrl(item.AssignmentId.ToString())" href="javascript:void(0)" class="align-items-center d-flex h-100 pb-2 pt-2 text-uppercase">
                                                @*<small class="align-self-center d-none d-md-flex text-bold">@ResourceManager.GetString("Shared.Buttons.Edit")</small>*@
                                                <small class="align-self-center d-flex  text-bold"><i class="fas fa-pen fa-2x"></i></small>
                                            </a>
                                        </li>


                                        <li class="list-group-item p-0 align-self-stretch">
                                            <a id="btnDeleteGroupUrl" onclick="bookmark.deleteBookmark($(this),'@EncryptDecryptHelper.EncryptUrl(item.AssignmentId.ToString())')" data-id="@item.AssignmentId" href="javascript:void(0)" class="align-items-center d-flex h-100 pb-2 pt-2 text-uppercase">
                                                @*<small class="align-self-center d-none d-md-flex text-bold">@ResourceManager.GetString("Shared.Buttons.Delete")</small>*@
                                                <small class="align-self-center d-flex  text-bold"><i class="fas fa-trash-alt fa-2x"></i></small>
                                            </a>
                                        </li>
                                    </ul>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


