﻿@model IEnumerable<Phoenix.Models.QuizView>
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers

<div class="row pr-2 pl-2">
    <div class="col-lg-12 col-md-12 col-12">
        <h4 class="sub-heading">
            <strong>@ResourceManager.GetString("Files.Forms.Title")</strong>
        </h4>
    </div>
</div>
<div class="folder-view ">
    <div class="row pr-2 pl-2">
        @foreach (var f in Model)
        {
            var quizId = EncryptDecryptHelper.EncryptUrl(Convert.ToString(f.QuizId));
            var ResourceId = EncryptDecryptHelper.EncryptUrl(Convert.ToString(f.SectionId));
            var GroupId = EncryptDecryptHelper.EncryptUrl(Convert.ToString(f.SectionId));
            <div class="item search-item list-group-item col-xl-2 col-lg-3 col-md-3 col-6">
                <div class="library-content clearfix cursor-pointer">
                    <div class="item-icon">
                        <a id="btnViewForm" data-id="@EncryptDecryptHelper.EncryptUrl(f.QuizId.ToString())" href="javascript:void(0)">
                            <i class="far fa-file-alt"></i>
                        </a>
                    </div>
                    <div class="caption">
                        @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                        {
                            <p id="btnViewForm" data-id="@EncryptDecryptHelper.EncryptUrl(f.QuizId.ToString())">
                                @f.QuizName
                                <span class="detailInfo">
                                    <span data-toggle="tooltip" data-title="Created by">@f.CreatedByName</span>
                                    <span data-toggle="tooltip" data-title="Created on">@f.UpdatedOn.ToString("dd MMM yyyy")</span>
                                </span>
                            </p>
                        }
                        else
                        {
                             <p id="btnSolveForm" onclick="" data-studid="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(0))" data-quizresourceid="@ResourceId" data-id="@quizId">
                                @f.QuizName
                                <span class="detailInfo">
                                    <span data-toggle="tooltip" data-title="Created by">@f.CreatedByName</span>
                                    <span data-toggle="tooltip" data-title="Created on">@f.UpdatedOn.ToString("dd MMM yyyy")</span>
                                </span>
                            </p>
                        }



                        @if ((SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin) && ViewBag.IsCustomPermission)
                        {
                            <div class="quick-nav dropleft">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu has-list-group animate slideIn p-0 border-0">
                                    <ul class="list-group list-group-horizontal text-center align-items-center">
                                        <li class="list-group-item p-0 align-self-stretch">
                                            <a id="btnViewForm" data-id="@EncryptDecryptHelper.EncryptUrl(f.QuizId.ToString())" href="javascript:void(0)" class="align-items-center d-flex h-100 pb-2 pt-2 text-uppercase">
                                                @*<small class="align-self-center d-none d-md-flex text-bold"></small>*@
                                                <small class="align-self-center d-flex  text-bold"><i class="fas fa-eye fa-2x"></i></small>
                                            </a>
                                        </li>
                                    @*</ul>
                                    <ul class="list-group list-group-horizontal text-center align-items-center">*@
                                        <li class="list-group-item p-0 align-self-stretch">
                                            <a id="btnEditForm" data-id="@EncryptDecryptHelper.EncryptUrl(f.QuizId.ToString())" href="javascript:void(0)" class="align-items-center d-flex h-100 pb-2 pt-2 text-uppercase">
                                                @*<small class="align-self-center d-none d-md-flex text-bold">@ResourceManager.GetString("Shared.Buttons.Edit")</small>*@
                                                <small class="align-self-center d-flex  text-bold"><i class="fas fa-pen fa-2x"></i></small>
                                            </a>
                                        </li>
                                    @*</ul>
                                    <ul class="list-group list-group-horizontal text-center align-items-center">*@
                                        <li class="list-group-item p-0 align-self-stretch">
                                            <a id="btnFormMark" data-id="@quizId" href="javascript:void(0)" data-groupId="@GroupId" class="align-items-center d-flex h-100 pb-2 pt-2 text-uppercase">
                                                @*<small class="align-self-center d-none d-md-flex text-bold">@ResourceManager.GetString("Shared.Buttons.Delete")</small>*@
                                                <small class="align-self-center d-flex  text-bold"><i class="fas fa-file-signature fa-2x"></i></small>
                                            </a>
                                        </li>
                                    @*</ul>
                                    <ul class="list-group list-group-horizontal text-center align-items-center">*@
                                        <li class="list-group-item p-0 align-self-stretch">
                                            <a id="btnDeleteForm" data-id="@EncryptDecryptHelper.EncryptUrl(f.QuizId.ToString())" href="javascript:void(0)" class="align-items-center d-flex h-100 pb-2 pt-2 text-uppercase">
                                                @*<small class="align-self-center d-none d-md-flex text-bold">@ResourceManager.GetString("Shared.Buttons.Delete")</small>*@
                                                <small class="align-self-center d-flex  text-bold"><i class="fas fa-trash-alt fa-2x"></i></small>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        }
                        else
                        {
                            <a id="btnSolveForm" onclick="" data-studid="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(0))" data-quizresourceid="@ResourceId" data-id="@quizId" class="edit-entry"><i class="far fa-eye"></i></a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>