﻿@model IEnumerable<Phoenix.Models.Entities.Bookmark>
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using CommonWebHelper = Phoenix.VLE.Web.Helpers.CommonHelper;

@functions {
    TimeSpan GetDateDiff(DateTime createdDateTime)
    {
        var createDetails = (DateTime.Now - createdDateTime);
        return createDetails;
    }
}

<!-- bookmark grid card -->
<div class="row grid-view">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card grid-list-card pb-5 pt-0">
            <div class="title-container py-2 border-bottom border-light">
                <div class="view-heading parent-vault d-flex align-items-center justify-content-between w-100">
                    <div class="view-heading d-flex align-items-center">@ResourceManager.GetString("Files.Bookmark.Bookmark")</div>
                </div>
            </div>
            @if (Model.Any())
            {
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 grid-wrapper">

                    @foreach (var item in Model)
                    {
                        <div class="col mb-3 px-2">
                            <div class="grid-container folder-container" data-searchtext="@item.BookmarkName">
                                <div class="paper">
                                    <!-- <span class="new-tag">New</span> -->
                                    <div class="inner-content position-relative">
                                        <a hreft="javascript:;" class="d-block filefolder-link" target="_blank" href="@(item.URL.Contains("http") ? item.URL : $"//{item.URL}" )">
                                            <i class="flaticon-bookmark"></i>
                                        </a>
                                        <div class="cta-hover check-item position-absolute top-0 w-100 d-flex justify-content-end px-2">
                                            <div class="btn-group">
                                                <button type="button" class="btn config-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="config-wheel"></span></button>
                                                <div class="dropdown-menu config-dropdown-menu">
                                                    <button type="button" class="dropdown-item text-muted d-none">Copy</button>
                                                    <a type="button" class="dropdown-item text-muted" target="_blank" href="@(item.URL.Contains("http") ? item.URL : $"//{item.URL}" )">@ResourceManager.GetString("Shared.Buttons.View")</a>
                                                    @if (ViewBag.IsCustomPermission)
                                                    {
                                                        <button type="button" class="dropdown-item text-muted" id="btnDeleteGroupUrl" onclick="bookmark.deleteBookmark($(this),'@EncryptDecryptHelper.EncryptUrl(item.BookmarkId.ToString())')" data-id="@item.BookmarkId">@ResourceManager.GetString("Shared.Buttons.Delete")</button>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-description">
                                        <div class="editable-section">
                                            <span class="uploaded-content-name" data-toggle="tooltip" title="@item.BookmarkName">@(item.BookmarkName.Length>50 ? $"{item.BookmarkName.Substring(0,50)}..." : item.BookmarkName)</span>
                                            @if (ViewBag.IsCustomPermission)
                                            {
                                                <a href="javascript:;" onclick="bookmark.addEditBookmark($(this), translatedResources.edit,'@EncryptDecryptHelper.EncryptUrl(item.BookmarkId.ToString())')" data-toggle="tooltip" data-placement="left" data-title="@ResourceManager.GetString("Shared.Buttons.Edit")"><i class="flaticon-pencil edit-hover font-16 text-black-50"></i></a>
                                            }
                                        </div>
                                        <div class="grid-content">
                                            <span>@CommonWebHelper.ToRelativeTime(item.UpdatedOn)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="paper-stack">
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="list-wrapper hide-item pb-5">
                    <div class="table-responsive">
                        <table class="table student-list-table mw-100" id="myfiles-bookmark-list">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">@ResourceManager.GetString("Files.File.Name")</th>
                                    <th scope="col">@ResourceManager.GetString("Files.File.Time")</th>
                                    <th scope="col">@ResourceManager.GetString("Shared.Labels.Actions")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="row-file" data-searchtext="@item.BookmarkName">
                                        <td>
                                            <a class="folder-meta" target="_blank" href="@(item.URL.Contains("http") ? item.URL : $"//{item.URL}" )">
                                                <i class="flaticon-bookmark mr-3 mr-md-0"></i>
                                                <span class="table-text" data-toggle="tooltip" title="@item.BookmarkName">@(item.BookmarkName.Length>50 ? $"{item.BookmarkName.Substring(0,50)}..." : item.BookmarkName)</span>
                                                @*@if (GetDateDiff(item.UpdatedOn).TotalDays < 1)
                                                    {
                                                        <span class="new-update">@ResourceManager.GetString("Files.Folder.NewFolder")</span>
                                                    }*@
                                            </a>
                                        </td>
                                        <td><span>@CommonWebHelper.ToRelativeTime(item.UpdatedOn)</span></td>
                                        <td class="table-actions">
                                            <a target="_blank" href="@(item.URL.Contains("http") ? item.URL : $"//{item.URL}" )" class="mr-2" data-toggle="tooltip" title="@ResourceManager.GetString("Shared.Buttons.View")"><i class="flaticon-view file-actions" ></i></a>
                                            @if (ViewBag.IsCustomPermission)
                                            {
                                                <a href="javascript:;" id="btnEditGroupUrl" onclick="bookmark.addEditBookmark($(this), translatedResources.edit,'@EncryptDecryptHelper.EncryptUrl(item.BookmarkId.ToString())')" data-id="@EncryptDecryptHelper.EncryptUrl(item.BookmarkId.ToString())" class="mr-2" data-toggle="tooltip" title="@ResourceManager.GetString("Shared.Buttons.Edit")"><i class="flaticon-pencil file-actions"></i></a>
                                                <a href="javascript:;" id="btnDeleteGroupUrl" onclick="bookmark.deleteBookmark($(this),'@EncryptDecryptHelper.EncryptUrl(item.BookmarkId.ToString())')" data-id="@item.BookmarkId" data-toggle="tooltip" title="@ResourceManager.GetString("Shared.Buttons.Delete")"><i class="flaticon-delete file-actions" ></i></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            <div class="row nofolderdiv mt-4" style="display:@(!Model.Any() ? "block" : "none")">
                <span class="no-data-found text-bold d-block mx-auto my-auto">
                    @ResourceManager.GetString("Shared.Labels.NoRecords")
                </span>
            </div>
        </div>
    </div>
</div>

<!-- bookmark grid card end-->
