﻿@model IEnumerable<Phoenix.VLE.Web.EditModels.FileEdit>
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{
    //Added by Deepak Singh on 22nd Dec 2019, to handle group permission
    var groupPermission = ViewBag.GroupPermission != null ? ViewBag.GroupPermission : 3;
    var donwloadAllFiles = Model.Any(e => e.EnableAllFileDownloads);
}
<div class="row pr-2 pl-2">
    <div class="@(donwloadAllFiles ? "col-lg-8 col-md-8 col-8" : "col-lg-12 col-md-12 col-12")">
        <h4 class="sub-heading @(donwloadAllFiles ? "mt-2" : "")">
            @ResourceManager.GetString("Files.File.Title")
        </h4>
    </div>
    @if (donwloadAllFiles)
    {
        <div class="col-lg-4 col-md-4 col-4 text-right mb-1">
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="chkSelectAll" />
                <label for="chkSelectAll" class="custom-control-label">@ResourceManager.GetString("Shared.Labels.SelectAll")</label>
            </div>
            <button class="btn-sm btn btn-primary m-0 waves-effect waves-light btn-download-file button-download">
                @ResourceManager.GetString("SchoolGroup.SchoolGroup.DownloadZip")
            </button>
            @if (SessionHelper.CurrentSession.IsAdmin)
            {
                <button class="btn-sm btn btn-primary m-0 waves-effect waves-light" onclick="clearAllGroupFiles(this)" data-id="@Model.FirstOrDefault().SectionId">
                    @ResourceManager.GetString("SchoolGroup.SchoolGroup.ClearFiles")
                </button>
            }
        </div>
    }
</div>
<div class="file-view">
    <div class="row pr-2 pl-2">
        @foreach (var f in Model)
        {
            var filePath = PhoenixConfiguration.Instance.WriteFilePath + f.FilePath;
            if (System.IO.File.Exists(filePath))
            {
                string selectFileCheckboxHTML = !donwloadAllFiles ? string.Empty :
               @"<div class='custom-control custom-checkbox custom-control-inline'><input id='file_" + f.FileId + "' data-filename=" + f.FileName + " data-filepath=" + PhoenixConfiguration.Instance.ReadFilePath + f.FilePath + " type='checkbox' class='chk-downloadable custom-control-input'/><label class='custom-control-label' for='file_" + f.FileId + "'></label></div>";
                <div class="item search-item list-group-item col-xl-2 col-lg-3 col-md-3 col-6">
                    <div class="library-content clearfix cursor-pointer">
                        <div class="item-icon">
                            @if (f.FileTypeName.Contains("Word") || f.FileTypeName.Contains("Excel"))
                            {
                                <a id="btnViewFile" data-id="@EncryptDecryptHelper.EncryptUrl(f.FileId.ToString())" href="javascript:void(0)">
                                    <i class="@f.Icon"></i>
                                </a>
                            }
                            else
                            {
                                <a data-id="@EncryptDecryptHelper.EncryptUrl(f.FileId.ToString())" href="@(PhoenixConfiguration.Instance.ReadFilePath+f.FilePath)" target="_blank">
                                    <i class="@f.Icon"></i>
                                </a>
                            }
                        </div>
                        <div class="caption">
                            @if (f.FileTypeName.Contains("Word") || f.FileTypeName.Contains("Excel"))
                            {
                                @Html.Raw(selectFileCheckboxHTML)
                                <p id="btnViewFile" data-id="@EncryptDecryptHelper.EncryptUrl(f.FileId.ToString())">
                                    @f.FileName
                                    <span class="detailInfo @(string.IsNullOrEmpty(selectFileCheckboxHTML) ? "" : "mr-3")">
                                        <span data-toggle="tooltip" data-title="Created by">@f.CreatedByName</span>
                                        <span data-toggle="tooltip" data-title="Modified on">@f.UpdatedOn.ToString("dd MMM yyyy")</span>
                                    </span>
                                </p>
                            }
                            else
                            {
                                @Html.Raw(selectFileCheckboxHTML)
                                <p class="btnOpenDownload" data-filepath="@(PhoenixConfiguration.Instance.ReadFilePath+f.FilePath)" data-id="@EncryptDecryptHelper.EncryptUrl(f.FileId.ToString())">
                                    @f.FileName

                                    <span class="detailInfo @(string.IsNullOrEmpty(selectFileCheckboxHTML) ? "" : "mr-3")">
                                        <span data-toggle="tooltip" data-title="Created by">@f.CreatedByName</span>
                                        <span data-toggle="tooltip" data-title="Modified on">@f.UpdatedOn.ToString("dd MMM yyyy")</span>
                                    </span>
                                </p>
                            }
                            <div class="quick-nav dropleft">
                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu has-list-group animate slideIn p-0 border-0">
                                    <ul class="list-group list-group-horizontal text-center align-items-center">
                                        <li class="list-group-item p-0 align-self-stretch">
                                            <a data-id="@EncryptDecryptHelper.EncryptUrl(f.FileId.ToString())" href="@(PhoenixConfiguration.Instance.ReadFilePath+f.FilePath)" class="align-items-center d-flex h-100 pb-2 pt-2 text-uppercase" target="_blank">
                                                @*<a data-id="@EncryptDecryptHelper.EncryptUrl(f.FileId.ToString())" onclick="file.downloadFile($(this),'@EncryptDecryptHelper.EncryptUrl(f.FileId.ToString())')" class="align-items-center d-flex h-100 pb-2 pt-2 text-uppercase" target="_blank">*@
                                                <small class="align-self-center d-flex  text-bold"><i class="fas fa-download fa-2x"></i></small>
                                            </a>
                                        </li>

                                        @if (ViewBag.IsCustomPermission)
                                        {
                                            <li class="list-group-item p-0 align-self-stretch">
                                                <a id="btnEditFile" data-id="@EncryptDecryptHelper.EncryptUrl(f.FileId.ToString())" href="javascript:void(0)" class="align-items-center d-flex h-100 pb-2 pt-2 text-uppercase">
                                                    @*<small class="align-self-center d-none d-md-flex text-bold">@ResourceManager.GetString("Shared.Buttons.Edit")</small>*@
                                                    <small class="align-self-center d-flex  text-bold"><i class="fas fa-pen fa-2x"></i></small>
                                                </a>
                                            </li>
                                        }
                                        @if (ViewBag.IsCustomPermission && groupPermission > 2)
                                        {

                                            <li class="list-group-item p-0 align-self-stretch">
                                                <a id="btnDeleteFile" data-id="@EncryptDecryptHelper.EncryptUrl(f.FileId.ToString())" href="javascript:void(0)" class="align-items-center d-flex h-100 pb-2 pt-2 text-uppercase">
                                                    @*<small class="align-self-center d-none d-md-flex text-bold">@ResourceManager.GetString("Shared.Buttons.Delete")</small>*@
                                                    <small class="align-self-center d-flex  text-bold"><i class="fas fa-trash-alt fa-2x"></i></small>
                                                </a>
                                            </li>
                                            <li class="list-group-item p-0 align-self-stretch">
                                                <a onclick="file.copyToClipboard($(this),@f.FileId)" href="javascript:void(0)" class="align-items-center d-flex h-100 pb-2 pt-2 text-uppercase">
                                                    @*<small class="align-self-center d-none d-md-flex text-bold">@ResourceManager.GetString("Files.File.CopyToClipboard")</small>*@
                                                    <small class="align-self-center d-flex text-bold"><i class="fas fa-copy fa-2x"></i></small>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
