﻿@model IEnumerable<Phoenix.Models.GroupQuiz>
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.VLE.Web.Helpers
@{
    var strHr = ResourceManager.GetString("Shared.Messages.Hours");
    var strMin = ResourceManager.GetString("Shared.Messages.Minutes");
    var strSec = ResourceManager.GetString("Shared.Messages.Seconds");
    var strMinHr = ResourceManager.GetString("Shared.Messages.MinutesHr");
    var strQuizTimeOut = ResourceManager.GetString("Quiz.Quiz.QuizTimeOut");
}
<div class="row pr-2 pl-2">
    <div class="col-lg-12 col-12">
        <h4 class="sub-heading">@ResourceManager.GetString("Files.Quiz.Quiz")</h4>
    </div>
</div>

<div class="table-wrapper mt-2 responsive-table">
    <table class="table table-bordered table-hover table-responsive-md" id="quizGroupList">
        <thead class="thead-dark">
            <tr>
                <th>Quiz Title</th>
                <th>Quiz Created By</th>
                <th>Updated On</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DistinctBy(e => e.QuizName))
            {
                var quizId = EncryptDecryptHelper.EncryptUrl(Convert.ToString(item.QuizId));
                var GroupQuizId = EncryptDecryptHelper.EncryptUrl(Convert.ToString(item.GroupQuizId));
                var GroupId = EncryptDecryptHelper.EncryptUrl(Convert.ToString(item.GroupId));
                var IsSolvedQuiz = Phoenix.VLE.Web.Helpers.CommonHelper.CheckSolveQuizByStudent(item.QuizId, item.GroupQuizId);
                int TimeInSec = item.QuizTime * 60;
                TimeSpan spWorkMin = TimeSpan.FromMinutes(item.QuizTime);
                string Time = string.Format(strHr, (int)spWorkMin.TotalHours, spWorkMin.Minutes);
                var QuizOverAllTime = item.QuizTime < 60 ? string.Format(strMin, item.QuizTime.ToString()) : Time;
                var submitClass = item.IsSetTime && (SessionHelper.CurrentSession.IsStudent() || SessionHelper.CurrentSession.IsParent()) ? IsSolvedQuiz ? "btnSubmitWithouTimeQuiz" : "btnStartGroupQuiz" : "btnSubmitWithouTimeQuiz";
                DateTime QuizStartDate = DateTime.Now;
                DateTime QuizStartedTime = DateTime.Now;
                bool IsStartedSetTimer = true;
                bool IsSetStartDate = false;
                if (item.StartDate != null)
                {
                    IsStartedSetTimer = false;
                    IsSetStartDate = true;
                    QuizStartDate = Convert.ToDateTime(item.StartDate);
                    QuizStartedTime = Convert.ToDateTime(item.StartDate).Date + Convert.ToDateTime(item.StartTime).TimeOfDay;
                    if (QuizStartedTime <= DateTime.Now)
                    {
                        IsStartedSetTimer = true;
                    }
                }

                //TimeSpan timeTaken = TimeSpan.FromMinutes(item.TimeTaken);
                TimeSpan QuizTime = TimeSpan.FromMinutes(item.QuizTime);
                string QuizTotalTime = String.Empty;
                if (QuizTime.Hours == 0)
                {
                    QuizTotalTime = string.Format(strMin, (int)QuizTime.Minutes, QuizTime.Seconds);
                }
                else
                {
                    QuizTotalTime = string.Format(strMinHr, (int)QuizTime.TotalHours, QuizTime.Minutes);
                }

                TimeSpan timeTaken = TimeSpan.FromSeconds(item.TimeTaken);
                //string Time = String.Empty;
                if (timeTaken.Hours == 0)
                {
                    Time = (int)timeTaken.Minutes >= item.QuizTime ? strQuizTimeOut : string.Format(strMin, (int)timeTaken.Minutes, timeTaken.Seconds);
                }
                else
                {
                    Time = (int)timeTaken.Minutes >= item.QuizTime ? strQuizTimeOut : string.Format(strMinHr, (int)timeTaken.TotalHours, timeTaken.Minutes);
                }

                var timeTakenToSolve = item.TimeTaken < 60 ? string.Format(strSec, item.TimeTaken.ToString()) : Time;
                var ActualTime = String.Empty;
                if (timeTakenToSolve == strQuizTimeOut)
                {
                    ActualTime = timeTakenToSolve;
                }
                else
                {
                    ActualTime = timeTakenToSolve + " / " + QuizTotalTime;
                }
                <tr data-searchtext="@(item.QuizName + " " + item.CreatedByName)">
                    <td>
                        @item.QuizName
                        @if (SessionHelper.CurrentSession.IsStudent() || SessionHelper.CurrentSession.IsParent())
                        {
                            <a href="javascript:void(0)" id="@submitClass ml-2" data-studid="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(0))" data-quizresourceid="@GroupQuizId" data-id="@quizId" data-quizName="@item.QuizName" data-startTime="@QuizOverAllTime" data-startdate="@QuizStartDate.ToString("dd-MMM-yyyy")" data-starttimebyteacher="@item.StartTime" data-startstartedtimer="@IsStartedSetTimer" data-teachergiventime="@QuizStartedTime.ToString("yyyy-MM-dd HH:mm:ss")" data-timeinsec="@TimeInSec" data-issetstartdate="@IsSetStartDate">
                                <i class="far fa-question-circle"></i>
                            </a>
                        }
                        else
                        {
                            <a id="btnQuizMark" data-id="@GroupQuizId" class="ml-2" data-groupId="@GroupId" href="javascript:void(0)">
                                <i class="far fa-question-circle"></i>
                            </a>
                        }
                    </td>
                    <td>@item.CreatedByName</td>
                    <td>@item.UpdatedOn.ToString("dd-MMM-yyyy")</td>
                    <td>
                        @if ((SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin) && ViewBag.IsCustomPermission)
                        {
                            <a id="btnDeleteGroupQuiz" data-id="@item.GroupQuizId" data-toggle="tooltip" data-placement="top" title="@ResourceManager.GetString("Shared.Buttons.Delete")" class="mr-2" href="javascript:void(0)">
                                <img src="~/Content/VLE/img/svg/tbl-delete.svg" />
                            </a>
                            <a id="btnQuizMark" data-id="@GroupQuizId" data-groupId="@GroupId" class="mr-2" data-toggle="tooltip" data-placement="top" title="@ResourceManager.GetString("Files.Quiz.CheckQuiz")" href="javascript:void(0)">
                                <img src="~/Content/VLE/img/svg/tbl-view.svg" />
                            </a>
                        }
                        @if (SessionHelper.CurrentSession.IsStudent())
                        {
                            <a id="@submitClass" data-studid="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(0))" data-quizresourceid="@GroupQuizId" data-id="@quizId" data-quizName="@item.QuizName" data-startTime="@QuizOverAllTime" data-startdate="@QuizStartDate.ToString("dd-MMM-yyyy")" data-starttimebyteacher="@item.StartTime" data-startstartedtimer="@IsStartedSetTimer" data-teachergiventime="@QuizStartedTime.ToString("yyyy-MM-dd HH:mm:ss")" data-timeinsec="@TimeInSec" data-issetstartdate="@IsSetStartDate" class="edit-entry">
                                <img src="~/Content/VLE/img/svg/tbl-view.svg" />
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


