﻿@model Phoenix.VLE.Web.ViewModels.MyFilesViewModel
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Enums;
@using CommonWebHelper = Phoenix.VLE.Web.Helpers.CommonHelper;
@{
    var isCustomPermission = ViewBag.IsCustomPermission ?? false;
    var groupPermission = ViewBag.GroupPermission != null ? ViewBag.GroupPermission : 3;
    var SchoolCode = SessionHelper.CurrentSession.SchoolCode;
    var IsParent = SessionHelper.CurrentSession.IsParent().ToString().ToLower();
}

@functions {
    TimeSpan GetDateDiff(DateTime createdDateTime)
    {
        var createDetails = (DateTime.Now - createdDateTime);
        return createDetails;
    }
}
@if (Model.Folders.Any() || Model.Files.Any())
{
    <input type="hidden" id="SharepointToken" name="SharepointToken" value="@Phoenix.VLE.Web.Services.SharepointTokenHelper.Instance.Token" />
    <div class="list-wrapper hide-item pb-5">
        <div class="table-responsive">
            <table class="table mw-100 student-list-table" id="myfiles-list">
                <thead class="thead-dark">
                    <tr>
                        @if (isCustomPermission && groupPermission > 2)
                        {
                            <th class="nosort">
                                <div class="check-item">
                                    <label for="group-value1">
                                        <input type="checkbox" style="position:static !important" class="chkSelectMyFilesList" id="group-value" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                    </label>
                                </div>
                            </th>
                        }
                        else
                        {
                            //dummy th to avoid datatable issue
                            <th class="nosort d-none">
                            </th>
                        }
                        <th scope="col" class="nosort">@ResourceManager.GetString("Files.File.Name")</th>
                        <th scope="col" class="nosort">@ResourceManager.GetString("Files.File.ItemSize")</th>
                        <th scope="col" class="nosort">@ResourceManager.GetString("Files.File.Time")</th>
                        <th scope="col" class="nosort">@ResourceManager.GetString("Files.File.FileType")</th>
                        <th scope="col" class="nosort">@ResourceManager.GetString("Shared.Labels.Actions")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var folder in Model.Folders)
                    {
                        <tr class="row-folder" data-searchtext="@folder.FolderName">
                            @if (isCustomPermission && groupPermission > 2)
                            {
                                <th scope="row" class="align-middle">
                                    <div class="check-item">
                                        <label for="group-value_folder_@folder.FolderId">
                                            <input class="chkFileFolderList" style="position:static !important" type="checkbox" data-id="@folder.FolderId" id="group-value_folder_@folder.FolderId" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                        </label>
                                    </div>
                                </th>
                            }
                            else
                            {
                                //dummy th to avoid datatable issue
                                <th class="nosort d-none">
                                </th>
                            }
                            <td>
                                <a class="align-items-center d-flex folder-meta" href="javascript:void(0)" onclick="folder.navigateToFolder(@folder.FolderId)">
                                    <i class="flaticon-folder mr-3 mr-md-0"></i>
                                    <span class="table-text" data-toggle="tooltip" title="@folder.FolderName" data-placement="right">@(folder.FolderName.Length > 40 ? $"{folder.FolderName.Substring(0, 40)}..." : folder.FolderName)</span>
                                </a>
                                @*@if (GetDateDiff(folder.CreatedOn).TotalDays < 1)
                                    {
                                        <span class="new-update">@ResourceManager.GetString("Files.Folder.NewFolder")</span>
                                    }*@
                            </td>
                            <td>@string.Format(ResourceManager.GetString("Files.Folder.TotalCount"), folder.TotalCount)</td>
                            <td>
                                <span>@CommonWebHelper.ToRelativeTime(folder.UpdatedOn)</span>
                            </td>
                            <td>@ResourceManager.GetString("Files.Folder.Folder")</td>
                            <td class="table-actions">
                                <div class="d-flex">
                                    <a class="mr-2" href="javascript:void(0)" onclick="folder.navigateToFolder(@folder.FolderId)" data-toggle="tooltip" title="@ResourceManager.GetString("Shared.Buttons.View")">
                                        <i class="flaticon-view file-actions"></i>
                                    </a>
                                    @if (isCustomPermission)
                                    {
                                        <a class="mr-2" href="javascript:void(0)" id="btnEditFolder" data-id="@folder.FolderId.ToString()" data-toggle="tooltip" title="@ResourceManager.GetString("Shared.Buttons.Edit")">
                                            <i class="flaticon-pencil file-actions"></i>
                                        </a>
                                    }
                                    @if (isCustomPermission && groupPermission > 2)
                                    {
                                        <a class="mr-2" href="javascript:void(0)" onclick="folder.deletefolderData($(this),'@EncryptDecryptHelper.EncryptUrl(folder.FolderId.ToString())');" data-toggle="tooltip" title="@ResourceManager.GetString("Shared.Buttons.Delete")">
                                            <i class="flaticon-delete file-actions"></i>
                                        </a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                    @foreach (var file in Model.Files)
                    {
                        var isExcelOrWord = !string.IsNullOrWhiteSpace(file.FileTypeName) ? file.FileTypeName.Contains("Word") || file.FileTypeName.Contains("Excel") : false;
                        bool isCloudFile = CommonHelper.IsCloudFile(file.ResourceFileTypeId);
                        <tr class="row-file" data-searchtext="@file.FileName">
                            @if (isCustomPermission && groupPermission > 2)
                            {
                                <th scope="row" class="align-middle">
                                    <div class="check-item">
                                        <label for="group-value_file_@file.FileId">
                                            <input class="chkFileFolderList" style="position:static !important" type="checkbox" data-id="@file.FileId" id="group-value_file_@file.FileId" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                        </label>
                                    </div>
                                </th>
                            }
                            else
                            {
                                //dummy th to avoid datatable issue
                                <th class="nosort d-none">
                                </th>
                            }
                            <td>
                                <a class="align-items-center d-flex folder-meta" onclick="globalFunctions.downloadSharepointFile('@file.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(file.FilePath) : (file.FilePath).Replace("\'","%27"))','@SchoolCode','@IsParent','@file.ResourceFileTypeId')">
                                    <i class="@file.FlatIcon  mr-3 mr-md-0"></i>
                                    <span class="table-text" data-toggle="tooltip" title="@file.FileName">@(file.FileName.Length > 40 ? $"{file.FileName.Substring(0, 40)}..." : file.FileName)</span>
                                    @if (isCloudFile)
                                    {
                                        <span class="new-update">
                                            <i class="@(file.ResourceFileTypeId == (short)ResourceFileTypes.GoogleDrive? "flaticon-google-drive": file.ResourceFileTypeId == (short)ResourceFileTypes.OneNote ? "flaticon-one-drive" : "flaticon-one-drive")"></i>
                                        </span>
                                    }
                                </a>
                            </td>
                            <td>
                                @if (!isCloudFile)
                                {
                                    @(file.FileSizeInMB > 1 ? $"{Math.Round(file.FileSizeInMB, 2)} MB" : $"{Math.Round(file.FileSizeInMB * 1024f, 2)} Kb")
                                }
                            </td>
                            <td>
                                <span>@CommonWebHelper.ToRelativeTime(file.UpdatedOn)</span>
                            </td>
                            <td>@file.FileTypeName</td>
                            <td class="table-actions">
                                <div class="d-flex">
                                    <a class="mr-2" onclick="globalFunctions.downloadSharepointFile('@file.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(file.FilePath) : (file.FilePath).Replace("\'","%27"))','@SchoolCode','true','@file.ResourceFileTypeId')" data-toggle="tooltip" title="@ResourceManager.GetString("Shared.Buttons.Download")">
                                        <i class="flaticon-download file-actions"></i>
                                    </a>
                                    @if (isCustomPermission && groupPermission > 2)
                                    {
                                        <a class="mr-2" href="javascript:void(0)" onclick="files.initFileRenameForm(this, @file.FileId)" data-toggle="tooltip" title="@ResourceManager.GetString("Shared.Buttons.Edit")">
                                            <i class="flaticon-pencil file-actions"></i>
                                        </a>
                                        <a class="mr-2" href="javascript:void(0)" onclick="files.copyToClipboard($(this),@file.FileId)" data-toggle="tooltip" title="@ResourceManager.GetString("Files.File.Copy")">
                                            <i class="flaticon-copy file-actions"></i>
                                        </a>
                                        <a class="mr-2" href="javascript:void(0)" onclick="files.deletefileData($(this),'@EncryptDecryptHelper.EncryptUrl(file.FileId.ToString())');" data-toggle="tooltip" title="@ResourceManager.GetString("Shared.Buttons.Delete")">
                                            <i class="flaticon-delete file-actions"></i>
                                        </a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}