﻿@model List<Phoenix.Models.GradingTemplateItem>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{
    var quizId = (int)ViewBag.quizId;
    var entityId = (int)ViewBag.entityId;
    var QuizResultId = (int)ViewBag.QuizResultId;
    var GradingType = (int)ViewBag.gradingType;
    var quizResponseByUser = (int)SessionHelper.CurrentSession.Id;
}

<div class="modal-body">
    <input type="hidden" id="entityId" value="@entityId" />
    <input type="hidden" id="quizId" value="@quizId" />
    <input type="hidden" id="gradingType" value="@GradingType" />
    <input type="hidden" id="gradingTemplateId" value="@Model.FirstOrDefault().GradingTemplateId" />
    <input type="hidden" id="quizResponseByUserId" value="@quizResponseByUser" />
    <input type="hidden" id="QuizResultId" value="@QuizResultId" />
    <input type="hidden" id="selectedGradingitem" />

    
    <div class="popup-form">
        <table id="tbl-grading-list" class="table table-hover table-responsive-md" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>@ResourceManager.GetString("Shared.Labels.Select")</th>
                    <th>@LocalizationHelper.GetResourceText("ListCategories.GradingTemplateItem.Grade")</th>
                    <th>@LocalizationHelper.GetResourceText("ListCategories.GradingTemplateItem.ShortLabel")</th>
                    <th>@LocalizationHelper.GetResourceText("ListCategories.GradingTemplateItem.GradingItemDescription")</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td class="text-center" colspan="4">
                            <span class="sub-heading">
                                @ResourceManager.GetString("Files.Quiz.NoGradingAssignMessage")
                            </span>

                        </td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input chkSelectGradingTemplateItem" data-val="true" data-id="@item.GradingTemplateItemId" id="chkSelectGradingTemplate_@item.GradingTemplateItemId" type="checkbox" value="true" @(Convert.ToInt32(ViewBag.selectedGradeId) == item.GradingTemplateItemId ? "checked='checked'" : string.Empty)>
                                <label class="custom-control-label" for="chkSelectGradingTemplate_@item.GradingTemplateItemId"></label>
                            </div>
                        </td>
                        <td class="text-center">
                            @*<span class="">
                                </span>
                                <div class="color-picker" style="width: 20px;height: 20px; background-color:@item.GradingColor">
                                    @Html.Hidden("@item.GradingColor", new { @class = "colorpicker", @data_control = "hue" })
                                </div>*@
                            @if (!item.GradingTemplateItemSymbol.Contains(".png"))
                            {

                                <h2 class="m-0 text-bold" style="color:@item.GradingColor">@item.ShortLabel</h2>

                            }
                            else
                            {

                                <a href="javascript:void(0)" data-toggle="tooltip" title="@item.ShortLabel" data-title="@item.ShortLabel" data-placement="top">
                                    <img class="img-fluid" style="width: 2.1875rem;" src="@item.GradingTemplateItemSymbol" />
                                </a>

                            }
                        </td>
                        <td>@item.ShortLabel</td>
                        <td>@item.GradingItemDescription</td>
                    </tr>

                }

            </tbody>
        </table>


    </div>
</div>

<div class="modal-footer">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
        <button type="button" class="btn btn-primary waves-effect waves-light" onclick="groupQuiz.assignGradeToQuiz(@entityId)">@ResourceManager.GetString("Shared.Buttons.Save")</button>
    </div>
</div>


<script>
    $(".chkSelectGradingTemplateItem").click(function () {  
        if ($(this).is(":checked")) {
            $('.chkSelectGradingTemplateItem').prop('checked', false);
            $(this).prop('checked', true);
            $("#selectedGradingitem").val($(this).attr("data-id"));
        } else {
            $("#selectedGradingitem").val("0");
        }
    })
    $("#btnUpdateGrade").click(function () {       
        debugger;
        if ($("#selectedGradingitem").val() != undefined && $("#selectedGradingitem").val() != "0") {
            if ($("#gradingType").val() == 1) {
                assignmentStudentDetails.assignGradeToStudentAssignmentInList();
            }
            else if ($("#gradingType").val() == 2) {
                assignmentStudentDetails.assignGradeToStudentAssignment();
            }
            else if ($("#gradingType").val() == 3) {
                assignmentStudentDetails.assignGradeToStudentTaskInList();
            }
            else if ($("#gradingType").val() == 4) {
                studentTaskDetails.assignGradeToStudentTask();
            }
        }
        else {
            globalFunctions.showMessage("error", '@ResourceManager.GetString("Assignment.AssignmentMessages.SelectGrade")');
        }
    });

</script>


