﻿@model IEnumerable<Phoenix.Models.FolderTree>
<nav>
    <ol class="breadcrumb m-0 px-0 bg-transparent">
        @if (Model.Any())
        {
            <li class="breadcrumb-item">
                <a id="btnRootFolder" onclick="folder.navigateToFolder(null)" href="javascript:void(0)"><i class="flaticon-home"></i></a>
            </li>
            var lastItem = Model.Last();
            foreach (var ft in Model)
            {
                if (ft.Equals(lastItem))
                {
                    <li class="breadcrumb-item active"><span>@ft.FolderName</span></li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        <a id="btnViewFolder" href="javascript:void(0)" onclick="folder.navigateToFolder(@ft.FolderId)">@ft.FolderName</a>
                    </li>
                }
            }
        }
    </ol>
</nav>
