﻿@using Phoenix.Common.Localization
@model Phoenix.VLE.Web.Areas.SMS.Model.ProgressTracker
@{
    /**/


    var IsDropDown = Model.objProgressDropdown.Select(e => e.IS_DROPDOWN).FirstOrDefault();

    var Count = Model.objStepsTopicDetails.Where(e => e.Steps != null).Select(e => e.Steps).Count();

    var trId = Count > 0 ? "trFourProgress" : "trThreeProgress";

}


<form id="frmprogressdata" method="post" enctype="multipart/form-data">
    <input type="hidden" id="objListofStudentObjectData" name="objListofStudentObjectData" />
    <input type="hidden" id="objStudentEvidenceList" name="objStudentEvidenceList" />
    <input type="hidden" id="ACD_ID" name="ACD_ID" />
    <input type="hidden" id="GRD_ID" name="GRD_ID" />
    <input type="hidden" id="SBG_ID" name="SBG_ID" />
    <input type="hidden" id="SYD_ID" name="SYD_ID" />
    <div class="table-responsive-md">
        <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row"></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive-md divprogress">

                        <table class="table table-hover" style="width:100%;" id="tblProgress">
                            <colgroup span="4"></colgroup>
                            <colgroup span="4"></colgroup>
                            <thead>
                                <tr>
                                    <th class="bg-secondary border-right th-by-month text-center font-weight-light" rowspan="4" scope="col">Name</th>
                                    @foreach (var item in Model.objTopics)
                                    {

                                        <th scope="colgroup" colspan='@Model.objTopicDetails.Where(e=>e.Topics == item.topics).Select(e=>e.subTopicColSpan).FirstOrDefault()' class="text-center bg-secondary border-right font-weight-light"> @item.topics </th>
                                    }


                                </tr>
                                <tr id="trTwoProgress">
                                    @foreach (var item in Model.objTopics)
                                    {

                                        <th scope="col" colspan='@Model.objTopicDetails.Where(e=>e.Topics == item.topics).Select(e=>e.subTopicColSpan).FirstOrDefault()' class="bg-secondary p-0 border-right">
                                            <table style="width:100%;">
                                                <tr>
                                                    @foreach (var subItem in Model.objTopicDetails.Where(e => e.Topics == item.topics))
                                                    {

                                                        var subtopicview = subItem.subTopics.Replace(" ", String.Empty).Length > 8 ? subItem.subTopics.Substring(0, 8) + "..." : subItem.subTopics.Replace(" ", String.Empty);
                                                        var width = Model.objObjectiveDetails.Where(e => e.TopicId == subItem.TopicId).Select(e => new { e.Steps, e.objWidth });
                                                        var SumWidth = width.Sum(e => e.objWidth);
                                                        <th scope="col" class="text-center bg-secondary border-top border-right font-weight-light" width="@SumWidth%" data-toggle="tooltip" title="@subItem.subTopics">@subtopicview</th>

                                                    }

                                                </tr>
                                            </table>
                                        </th>


                                    }

                                    @*<th scope="col" colspan="3" class="bg-secondary border-top p-0 border-right">
                                            <table style="width:100%;">
                                                <tr>
                                                    <th scope="col" class="text-center bg-secondary border-right font-weight-light" width="37%">Sub Topic 2</th>
                                                    <th scope="col" class="text-center bg-secondary border-right font-weight-light" width="37%">Sub Topic 2</th>
                                                    <th scope="col" class="text-center bg-secondary font-weight-light" width="26%">Sub Topic 2</th>
                                                </tr>
                                            </table>
                                        </th>
                                        <th scope="col" colspan="2" class="bg-secondary border-top p-0 border-right">
                                            <table style="width:100%;">
                                                <tr>
                                                    <th scope="col" class="text-center bg-secondary border-right font-weight-light" width="60%">Sub Topic 3</th>
                                                    <th scope="col" class="text-center bg-secondary font-weight-light" width="40%">Sub Topic 4</th>
                                                </tr>
                                            </table>
                                        </th>*@

                                </tr>

                                @if (Count > 0)
                                {
                                    <tr id="trThreeProgress">
                                        @foreach (var item in Model.objTopics)
                                        {
                                            foreach (var subItem in Model.objTopicDetails
                                                                .Where(e => e.Topics == item.topics))
                                            {
                                                <th scope="col" class="bg-secondary border-top border-right p-0">
                                                    <table style="width:100%;">
                                                        <tr>

                                                            @foreach (var inneritem in Model.objStepsTopicDetails.Where(e => e.TopicId == subItem.TopicId).Select(e => new { e.Steps, e.StepsWidth }).Distinct())
                                                            {
                                                                if (!string.IsNullOrEmpty(inneritem.Steps))
                                                                {
                                                                    <th scope="col" class="text-center bg-secondary font-weight-light" width="@inneritem.StepsWidth%">@inneritem.Steps</th>

                                                                }

                                                            }





                                                        </tr>
                                                    </table>
                                                </th>
                                            }
                                        }




                                    </tr>
                                }


                                <tr id="@trId">
                                    @foreach (var item in Model.objTopics)
                                    {
                                        foreach (var subItem in Model.objTopicDetails
                                                            .Where(e => e.Topics == item.topics))
                                        {


                                            <th scope="col" class="bg-secondary border-top p-0">
                                                <table style="width:100%;">
                                                    @if (Count > 0)
                                                    {
                                                        <tr>
                                                            @foreach (var inneritem in Model.objStepsTopicDetails.Where(e => e.TopicId == subItem.TopicId).Select(e => new { e.Steps, e.StepsWidth, e.subTopics }).Distinct())
                                                            {
                                                                foreach (var objitem in Model.objObjectiveDetails.Where(e => e.Steps == inneritem.Steps && e.subTopics == inneritem.subTopics))
                                                                {
                                                                    DateTime date = Convert.ToDateTime(objitem.objDate);
                                                                    //var objDescription = objitem.objDescription.Length > 90 ? objitem.objDescription.Substring(0, 90) + "..." : objitem.objDescription;
                                                                    <th scope="col" class="text-center bg-secondary border-right" width="@objitem.objWidth%" style="height: 175px;">
                                                                        <span class="progress-obj font-weight-light" data-toggle="tooltip" title="@objitem.objDescription">@objitem.objDescription</span><br />
                                                                        <span class="text-black-50 font-weight-normal">@date.ToString("dd MMMM")</span><br />

                                                                        <select lname="Progress Option" class="form-control form-control-alternative p-0 selectpicker d-none ddlbulkProgressRate" data-objid="@objitem.objId" id="ddlbulkProgressRate" name="ProgressOption" onchange="ProgressTracker.DropDownHeaderChange(this,@IsDropDown)">
                                                                            <option value="" selected="selected">--</option>
                                                                            @foreach (var ddlitem in Model.objProgressDropdown)
                                                                            {
                                                                                <option style="background-color:@ddlitem.COLOR_CODE; color:#ffffff !important;font-weight:600" value="@ddlitem.CODE">@ddlitem.CODE</option>
                                                                            }
                                                                        </select>
                                                                    </th>




                                                                }
                                                            }


                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>

                                                            @foreach (var objitem in Model.objObjectiveDetails.Where(e => e.subTopics == subItem.subTopics))
                                                            {
                                                                DateTime date = Convert.ToDateTime(objitem.objDate);
                                                                var objDescription = objitem.objDescription.Length > 90 ? objitem.objDescription.Substring(0, 90) + "..." : objitem.objDescription;
                                                                <th scope="col" class="text-center bg-secondary border-right" width="@objitem.objWidth%" style="height: 175px;">
                                                                    <span class="progress-obj font-weight-light" data-toggle="tooltip" title="@objitem.objDescription">@objDescription</span><br />
                                                                    <span class="text-black-50 font-weight-normal">@date.ToString("dd MMMM")</span><br />

                                                                    <select lname="Progress Option" class="form-control form-control-alternative p-0 selectpicker d-none ddlbulkProgressRate" data-objid="@objitem.objId" id="ddlbulkProgressRate" name="ProgressOption" onchange="ProgressTracker.DropDownHeaderChange(this,@IsDropDown)">
                                                                        <option value="" selected="selected">--</option>
                                                                        @foreach (var ddlitem in Model.objProgressDropdown)
                                                                        {
                                                                            <option style="background-color:@ddlitem.COLOR_CODE; color:#ffffff !important;font-weight:600" value="@ddlitem.CODE">@ddlitem.CODE</option>
                                                                        }
                                                                    </select>
                                                                </th>




                                                            }



                                                        </tr>
                                                    }

                                                </table>
                                            </th>







                                        }
                                    }

                                </tr>
                            </thead>
                            <tbody>
                                @* First Row Starts here*@

                                @foreach (var student in Model.objStudentList)
                                {

                                    <tr>

                                        <td class="freezecol bg-white p-0">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-4 pl-0">
                                                    <div class="user-action nopad p-2"><img class="stud-grid-profile cursor-pointer imgStd" src="@student.STU_PHOTO"></div>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-12 pt-2"><h5 class="mb-2 mt-2 cursor-pointer imgStd">@student.STU_NAME</h5></div>
                                                        <div class="col-lg-12 col-12 pt-2"><p class="text-bold mb-0">@student.STU_NO</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        @foreach (var item in Model.objTopics)
                                        {
                                            foreach (var subItem in Model.objTopicDetails
                                                                .Where(e => e.Topics == item.topics))
                                            {



                                                <td class="p-0 border-right">



                                                    <table id="tblProgressData" width="100%" class="prog-tbl-min-height">
                                                        @if (Count > 0)
                                                        {
                                                            <tr>
                                                                @foreach (var inneritem in Model.objStepsTopicDetails.Where(e => e.TopicId == subItem.TopicId).Select(e => new { e.Steps, e.StepsWidth, e.subTopics }).Distinct())
                                                                {
                                                                    foreach (var objitem in Model.objObjectiveDetails.Where(e => e.Steps == inneritem.Steps && e.subTopics == inneritem.subTopics))
                                                                    {
                                                                        if (Model.objProgressTrackerData.Count > 0)
                                                                        {
                                                                            var Mdetails = Model.objProgressTrackerData.Where(e => e.STU_ID == Convert.ToInt64(student.STU_ID) && e.OBJ_ID == objitem.objId).Count();

                                                                            if (Mdetails != 0)
                                                                            {
                                                                                foreach (var data in Model.objProgressTrackerData.Where(e => e.STU_ID == Convert.ToInt64(student.STU_ID) && e.OBJ_ID == objitem.objId))
                                                                                {

                                                                                    <td data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="p-2 border-top-0 border-bottom-0 border-right text-center clstudentObjData">

                                                                                        @if (IsDropDown)
                                                                                        {

                                                                                            <select lname="Progress Option" data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="form-control form-control-alternative p-0 selectpicker ProgressSelect cls_@(objitem.objId)" style="background:red" id="ddlProgressOption_@(student.STU_ID + "_" + objitem.objId)" onchange="ProgressTracker.ddlChanged(this)" name="ddlProgressOption_@(student.STU_ID + "_" + objitem.objId)">

                                                                                                <option value="">--</option>
                                                                                                @foreach (var ddlitem in Model.objProgressDropdown)
                                                                                                {
                                                                                                    if (ddlitem.CODE == data.OBJ_VALUE)
                                                                                                    {
                                                                                                        <option style="background:@ddlitem.COLOR_CODE;color:#ffffff !important;font-weight:600;" value="@ddlitem.CODE" selected="selected">@ddlitem.CODE</option>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <option style="background:@ddlitem.COLOR_CODE;color:#ffffff !important;font-weight:600;" value="@ddlitem.CODE">@ddlitem.CODE</option>
                                                                                                    }

                                                                                                }


                                                                                            </select>


                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <div id="div_@(student.STU_ID + "_" + objitem.objId)" class="btn-group" data-stuid="@student.STU_ID" data-objid="@objitem.objId" role="group" aria-label="progress button">
                                                                                                @foreach (var ddlitem in Model.objProgressDropdown)
                                                                                                {
                                                                                                    if (ddlitem.CODE == data.OBJ_VALUE)
                                                                                                    {
                                                                                                        <button data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="btn btn-scale btn-size btn-selected cls_@(objitem.objId + "_" + ddlitem.CODE)" data-toggle="tooltip" data-color="@ddlitem.COLOR_CODE" style="background-color:@ddlitem.COLOR_CODE;" data-order="@ddlitem.ORDER_SEQUENCE" onclick="ProgressTracker.BarClick(this)" onmouseover="ProgressTracker.BarOver(this)" onmouseout="ProgressTracker.BarOut(this)" title="@ddlitem.DESCRIPTION">@ddlitem.CODE</button>
                                                                                                    }
                                                                                                    else
                                                                                                    {

                                                                                                        <button data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="btn btn-scale btn-size btn-notselected cls_@(objitem.objId + "_" + ddlitem.CODE)" data-toggle="tooltip" data-color="@ddlitem.COLOR_CODE" style="background-color:@ddlitem.COLOR_CODE;" data-order="@ddlitem.ORDER_SEQUENCE" onclick="ProgressTracker.BarClick(this)" onmouseover="ProgressTracker.BarOver(this)" onmouseout="ProgressTracker.BarOut(this)" title="@ddlitem.DESCRIPTION">@ddlitem.CODE</button>
                                                                                                    }

                                                                                                }

                                                                                                <input type="hidden" value="0" id="hf_Clicked_@(student.STU_ID + "_" + objitem.objId)" />
                                                                                            </div>
                                                                                        }
                                                                                        <div class="prog-upload d-none diveveUpload">
                                                                                            <input type="file" id="fileupload_@(student.STU_ID + "_" + objitem.objId)" data-stuid="@student.STU_ID" data-objid="@objitem.objId" name="fEvidenceUpload" style="display:none" onchange="ProgressTracker.ProgressFileOnChange(this)" />
                                                                                            <i class="fa fa-2x fa-upload text-secondary float-left" data-stuid="@student.STU_ID" data-objid="@objitem.objId" id="iUploadFile" onclick="ProgressTracker.ProgressFileUpload(this)">

                                                                                            </i>
                                                                                            @if (data.FileCount > 0)
                                                                                            {
                                                                                                <i class="fa fa-2x fa-download text-primary float-right" data-stuid="@student.STU_ID" data-objid="@objitem.objId" id="iFileDownLoad" onclick="ProgressTracker.ProgressFileDownLoad(this)">

                                                                                                </i>
                                                                                            }

                                                                                        </div>

                                                                                    </td>




                                                                                }





                                                                            }
                                                                            else
                                                                            {

                                                                                <td data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="p-2 border-top-0 border-bottom-0 border-right text-center clstudentObjData">

                                                                                    @if (IsDropDown)
                                                                                    {

                                                                                        <select lname="Progress Option" data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="form-control form-control-alternative p-0 selectpicker ProgressSelect cls_@(objitem.objId)" style="background:red" id="ddlProgressOption_@(student.STU_ID+"_"+objitem.objId)" onchange="ProgressTracker.ddlChanged(this)" name="ddlProgressOption_@(student.STU_ID+"_"+objitem.objId)">

                                                                                            <option value="">--</option>
                                                                                            @foreach (var ddlitem in Model.objProgressDropdown)
                                                                                            {

                                                                                                <option style="background:@ddlitem.COLOR_CODE;color:#ffffff !important;font-weight:600;" value="@ddlitem.CODE">@ddlitem.CODE</option>


                                                                                            }


                                                                                        </select>


                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <div id="div_@(student.STU_ID+"_"+objitem.objId)" class="btn-group" data-stuid="@student.STU_ID" data-objid="@objitem.objId" role="group" aria-label="progress button">
                                                                                            @foreach (var ddlitem in Model.objProgressDropdown)
                                                                                            {


                                                                                                <button data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="btn btn-scale btn-size btn-notselected cls_@(objitem.objId+"_"+ddlitem.CODE)" data-toggle="tooltip" data-color="@ddlitem.COLOR_CODE" style="background-color:@ddlitem.COLOR_CODE;" data-order="@ddlitem.ORDER_SEQUENCE" onclick="ProgressTracker.BarClick(this)" onmouseover="ProgressTracker.BarOver(this)" onmouseout="ProgressTracker.BarOut(this)" title="@ddlitem.DESCRIPTION">@ddlitem.CODE</button>


                                                                                            }

                                                                                            <input type="hidden" value="0" id="hf_Clicked_@(student.STU_ID+"_"+objitem.objId)" />
                                                                                        </div>
                                                                                    }
                                                                                    <div class="prog-upload d-none diveveUpload">
                                                                                        <input type="file" id="fileupload_@(student.STU_ID+"_"+objitem.objId)" data-stuid="@student.STU_ID" data-objid="@objitem.objId" name="fEvidenceUpload" style="display:none" onchange="ProgressTracker.ProgressFileOnChange(this)" />
                                                                                        <i class="fa fa-2x fa-upload text-secondary float-left" data-stuid="@student.STU_ID" data-objid="@objitem.objId" id="iUploadFile" onclick="ProgressTracker.ProgressFileUpload(this)">

                                                                                        </i>


                                                                                    </div>

                                                                                </td>


                                                                            }


                                                                        }
                                                                        else
                                                                        {
                                                                            <td data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="p-2 border-top-0 border-bottom-0 border-right text-center clstudentObjData">

                                                                                @if (IsDropDown)
                                                                                {

                                                                                    <select lname="Progress Option" data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="form-control form-control-alternative p-0 selectpicker ProgressSelect cls_@(objitem.objId)" style="background:red" id="ddlProgressOption_@(student.STU_ID+"_"+objitem.objId)" onchange="ProgressTracker.ddlChanged(this)" name="ddlProgressOption_@(student.STU_ID+"_"+objitem.objId)">

                                                                                        <option value="">--</option>
                                                                                        @foreach (var ddlitem in Model.objProgressDropdown)
                                                                                        {

                                                                                            <option style="background:@ddlitem.COLOR_CODE;color:#ffffff !important;font-weight:600;" value="@ddlitem.CODE">@ddlitem.CODE</option>


                                                                                        }


                                                                                    </select>


                                                                                }
                                                                                else
                                                                                {
                                                                                    <div id="div_@(student.STU_ID+"_"+objitem.objId)" class="btn-group" data-stuid="@student.STU_ID" data-objid="@objitem.objId" role="group" aria-label="progress button">
                                                                                        @foreach (var ddlitem in Model.objProgressDropdown)
                                                                                        {


                                                                                            <button data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="btn btn-scale btn-size btn-notselected cls_@(objitem.objId+"_"+ddlitem.CODE)" data-toggle="tooltip" data-color="@ddlitem.COLOR_CODE" style="background-color:@ddlitem.COLOR_CODE;" data-order="@ddlitem.ORDER_SEQUENCE" onclick="ProgressTracker.BarClick(this)" onmouseover="ProgressTracker.BarOver(this)" onmouseout="ProgressTracker.BarOut(this)" title="@ddlitem.DESCRIPTION">@ddlitem.CODE</button>


                                                                                        }

                                                                                        <input type="hidden" value="0" id="hf_Clicked_@(student.STU_ID+"_"+objitem.objId)" />
                                                                                    </div>
                                                                                }
                                                                                <div class="prog-upload d-none diveveUpload">
                                                                                    <input type="file" id="fileupload_@(student.STU_ID+"_"+objitem.objId)" data-stuid="@student.STU_ID" data-objid="@objitem.objId" name="fEvidenceUpload" style="display:none" onchange="ProgressTracker.ProgressFileOnChange(this)" />
                                                                                    <i class="fa fa-2x fa-upload text-secondary float-left" data-stuid="@student.STU_ID" data-objid="@objitem.objId" id="iUploadFile" onclick="ProgressTracker.ProgressFileUpload(this)">

                                                                                    </i>


                                                                                </div>

                                                                            </td>
                                                                        }
                                                                    }
                                                                }
                                                            </tr>

                                                        }
                                                        else
                                                        {

                                                            <tr>

                                                                @foreach (var objitem in Model.objObjectiveDetails.Where(e => e.subTopics == subItem.subTopics))
                                                                {
                                                                    if (Model.objProgressTrackerData.Count > 0)
                                                                    {

                                                                        var Mdetails = Model.objProgressTrackerData.Where(e => e.STU_ID == Convert.ToInt64(student.STU_ID) && e.OBJ_ID == objitem.objId).Count();

                                                                        if (Mdetails != 0)
                                                                        {
                                                                            foreach (var data in Model.objProgressTrackerData.Where(e => e.STU_ID == Convert.ToInt64(student.STU_ID) && e.OBJ_ID == objitem.objId))
                                                                            {

                                                                                <td data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="p-2 border-top-0 border-bottom-0 border-right text-center clstudentObjData">

                                                                                    @if (IsDropDown)
                                                                                    {

                                                                                        <select lname="Progress Option" data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="form-control form-control-alternative p-0 selectpicker ProgressSelect cls_@(objitem.objId)" style="background:red" id="ddlProgressOption_@(student.STU_ID + "_" + objitem.objId)" onchange="ProgressTracker.ddlChanged(this)" name="ddlProgressOption_@(student.STU_ID + "_" + objitem.objId)">

                                                                                            <option value="">--</option>
                                                                                            @foreach (var ddlitem in Model.objProgressDropdown)
                                                                                            {
                                                                                                if (ddlitem.CODE == data.OBJ_VALUE)
                                                                                                {
                                                                                                    <option style="background:@ddlitem.COLOR_CODE;color:#ffffff !important;font-weight:600;" value="@ddlitem.CODE" selected="selected">@ddlitem.CODE</option>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <option style="background:@ddlitem.COLOR_CODE;color:#ffffff !important;font-weight:600;" value="@ddlitem.CODE">@ddlitem.CODE</option>
                                                                                                }

                                                                                            }


                                                                                        </select>


                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <div id="div_@(student.STU_ID + "_" + objitem.objId)" class="btn-group" data-stuid="@student.STU_ID" data-objid="@objitem.objId" role="group" aria-label="progress button">
                                                                                            @foreach (var ddlitem in Model.objProgressDropdown)
                                                                                            {
                                                                                                if (ddlitem.CODE == data.OBJ_VALUE)
                                                                                                {
                                                                                                    <button data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="btn btn-scale btn-size btn-selected cls_@(objitem.objId + "_" + ddlitem.CODE)" data-toggle="tooltip" data-color="@ddlitem.COLOR_CODE" style="background-color:@ddlitem.COLOR_CODE;" data-order="@ddlitem.ORDER_SEQUENCE" onclick="ProgressTracker.BarClick(this)" onmouseover="ProgressTracker.BarOver(this)" onmouseout="ProgressTracker.BarOut(this)" title="@ddlitem.DESCRIPTION">@ddlitem.CODE</button>
                                                                                                }
                                                                                                else
                                                                                                {

                                                                                                    <button data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="btn btn-scale btn-size btn-notselected cls_@(objitem.objId + "_" + ddlitem.CODE)" data-toggle="tooltip" data-color="@ddlitem.COLOR_CODE" style="background-color:@ddlitem.COLOR_CODE;" data-order="@ddlitem.ORDER_SEQUENCE" onclick="ProgressTracker.BarClick(this)" onmouseover="ProgressTracker.BarOver(this)" onmouseout="ProgressTracker.BarOut(this)" title="@ddlitem.DESCRIPTION">@ddlitem.CODE</button>
                                                                                                }

                                                                                            }

                                                                                            <input type="hidden" value="0" id="hf_Clicked_@(student.STU_ID + "_" + objitem.objId)" />
                                                                                        </div>
                                                                                    }
                                                                                    <div class="prog-upload d-none diveveUpload">
                                                                                        <input type="file" id="fileupload_@(student.STU_ID + "_" + objitem.objId)" data-stuid="@student.STU_ID" data-objid="@objitem.objId" name="fEvidenceUpload" style="display:none" onchange="ProgressTracker.ProgressFileOnChange(this)" />
                                                                                        <i class="fa fa-2x fa-upload text-secondary float-left" data-stuid="@student.STU_ID" data-objid="@objitem.objId" id="iUploadFile" onclick="ProgressTracker.ProgressFileUpload(this)">

                                                                                        </i>
                                                                                        @if (data.FileCount > 0)
                                                                                        {
                                                                                            <i class="fa fa-2x fa-download text-primary float-right" data-stuid="@student.STU_ID" data-objid="@objitem.objId" id="iFileDownLoad" onclick="ProgressTracker.ProgressFileDownLoad(this)">

                                                                                            </i>
                                                                                        }

                                                                                    </div>

                                                                                </td>




                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <td data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="p-2 border-top-0 border-bottom-0 border-right text-center clstudentObjData">

                                                                                @if (IsDropDown)
                                                                                {

                                                                                    <select lname="Progress Option" data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="form-control form-control-alternative p-0 selectpicker ProgressSelect cls_@(objitem.objId)" style="background:red" id="ddlProgressOption_@(student.STU_ID + "_" + objitem.objId)" onchange="ProgressTracker.ddlChanged(this)" name="ddlProgressOption_@(student.STU_ID + "_" + objitem.objId)">

                                                                                        <option value="">--</option>
                                                                                        @foreach (var ddlitem in Model.objProgressDropdown)
                                                                                        {

                                                                                            <option style="background:@ddlitem.COLOR_CODE;color:#ffffff !important;font-weight:600;" value="@ddlitem.CODE">@ddlitem.CODE</option>


                                                                                        }


                                                                                    </select>


                                                                                }
                                                                                else
                                                                                {
                                                                                    <div id="div_@(student.STU_ID + "_" + objitem.objId)" class="btn-group" data-stuid="@student.STU_ID" data-objid="@objitem.objId" role="group" aria-label="progress button">
                                                                                        @foreach (var ddlitem in Model.objProgressDropdown)
                                                                                        {


                                                                                            <button data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="btn btn-scale btn-size btn-notselected cls_@(objitem.objId + "_" + ddlitem.CODE)" data-toggle="tooltip" data-color="@ddlitem.COLOR_CODE" style="background-color:@ddlitem.COLOR_CODE;" data-order="@ddlitem.ORDER_SEQUENCE" onclick="ProgressTracker.BarClick(this)" onmouseover="ProgressTracker.BarOver(this)" onmouseout="ProgressTracker.BarOut(this)" title="@ddlitem.DESCRIPTION">@ddlitem.CODE</button>


                                                                                        }

                                                                                        <input type="hidden" value="0" id="hf_Clicked_@(student.STU_ID + "_" + objitem.objId)" />
                                                                                    </div>
                                                                                }
                                                                                <div class="prog-upload d-none diveveUpload">
                                                                                    <input type="file" id="fileupload_@(student.STU_ID + "_" + objitem.objId)" data-stuid="@student.STU_ID" data-objid="@objitem.objId" name="fEvidenceUpload" style="display:none" onchange="ProgressTracker.ProgressFileOnChange(this)" />
                                                                                    <i class="fa fa-2x fa-upload text-secondary float-left" data-stuid="@student.STU_ID" data-objid="@objitem.objId" id="iUploadFile" onclick="ProgressTracker.ProgressFileUpload(this)">

                                                                                    </i>


                                                                                </div>

                                                                            </td>
                                                                        }

                                                                    }
                                                                    else
                                                                    {
                                                                        <td data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="p-2 border-top-0 border-bottom-0 border-right text-center clstudentObjData">

                                                                            @if (IsDropDown)
                                                                            {

                                                                                <select lname="Progress Option" data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="form-control form-control-alternative p-0 selectpicker ProgressSelect cls_@(objitem.objId)" style="background:red" id="ddlProgressOption_@(student.STU_ID+"_"+objitem.objId)" onchange="ProgressTracker.ddlChanged(this)" name="ddlProgressOption_@(student.STU_ID+"_"+objitem.objId)">

                                                                                    <option value="">--</option>
                                                                                    @foreach (var ddlitem in Model.objProgressDropdown)
                                                                                    {

                                                                                        <option style="background:@ddlitem.COLOR_CODE;color:#ffffff !important;font-weight:600;" value="@ddlitem.CODE">@ddlitem.CODE</option>


                                                                                    }


                                                                                </select>


                                                                            }
                                                                            else
                                                                            {
                                                                                <div id="div_@(student.STU_ID+"_"+objitem.objId)" class="btn-group" data-stuid="@student.STU_ID" data-objid="@objitem.objId" role="group" aria-label="progress button">
                                                                                    @foreach (var ddlitem in Model.objProgressDropdown)
                                                                                    {


                                                                                        <button data-stuid="@student.STU_ID" data-objid="@objitem.objId" class="btn btn-scale btn-size btn-notselected cls_@(objitem.objId+"_"+ddlitem.CODE)" data-toggle="tooltip" data-color="@ddlitem.COLOR_CODE" style="background-color:@ddlitem.COLOR_CODE;" data-order="@ddlitem.ORDER_SEQUENCE" onclick="ProgressTracker.BarClick(this)" onmouseover="ProgressTracker.BarOver(this)" onmouseout="ProgressTracker.BarOut(this)" title="@ddlitem.DESCRIPTION">@ddlitem.CODE</button>


                                                                                    }

                                                                                    <input type="hidden" value="0" id="hf_Clicked_@(student.STU_ID+"_"+objitem.objId)" />
                                                                                </div>
                                                                            }
                                                                            <div class="prog-upload d-none diveveUpload">
                                                                                <input type="file" id="fileupload_@(student.STU_ID+"_"+objitem.objId)" data-stuid="@student.STU_ID" data-objid="@objitem.objId" name="fEvidenceUpload" style="display:none" onchange="ProgressTracker.ProgressFileOnChange(this)" />
                                                                                <i class="fa fa-2x fa-upload text-secondary float-left" data-stuid="@student.STU_ID" data-objid="@objitem.objId" id="iUploadFile" onclick="ProgressTracker.ProgressFileUpload(this)">

                                                                                </i>


                                                                            </div>

                                                                        </td>
                                                                    }
                                                                }

                                                            </tr>

                                                        }

                                                    </table>

                                                </td>







                                            }
                                        }





                                    </tr>

                                }

                                @* First Row Ends here*@






                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">

        </div>
        <div class="col-md-2 col-lg-2">

        </div>
        <div class="col-md-2 col-lg-2">
            <button id="btnProgressSaver" class="btn btn-primary" onclick="ProgressTracker.ProgressSaver(@IsDropDown,event)">Save</button>
        </div>
        <div class="col-md-4 col-lg-4">

        </div>




    </div>

</form>


<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        ProgressTracker.SetColor();
        ProgressTracker.SetColorBar();
        // Ellipsis for for student name
        $(document).on('mouseenter', ".tooltip-name", function () {
            var $this = $(this);
            if (this.offsetWidth < this.scrollWidth && !$this.attr('title')) {
                $this.tooltip({
                    title: $this.text(),
                    placement: "top"
                });
                $this.tooltip('show');
            }
        });
        $('.hide-name').css('width', $('.hide-name').parent().width());



    });


</script>

