﻿@using Phoenix.Common.Localization

<div class="table-responsive-md">
    <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

        <div class="row">
            <div class="col-lg-12">
                <form class="form">
                    <div class="text-right">
                        <div class="switch-progress">
                            <input type="radio" id="radio-one" name="radio-one" value="Attainment" />
                            <label for="radio-one">Attainment</label>
                            <input type="radio" id="radio-two" name="radio-two" value="Progress" />
                            <label for="radio-two">Progress</label>
                            <input type="radio" id="radio-three" name="radio-three" value="Detailed View" />
                            <label for="radio-three">Detailed View</label>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card sms-card shadow">
                    <div class="card-header p-0 border-bottom1">
                        <div class="row align-items-center p-2">
                            <div class="col-lg-12">
                                <h3 class="mb-0">Student Progress Report</h3>
                            </div>
                            <div class="col text-right">

                            </div>
                        </div>
                    </div>
                    <div class="card-body stu-min-height">
                        <div class="row">
                            <div class="col-lg-2 text-center">
                                <img src="https://school.gemsoasis.com/OASISPHOTOSNEW/OASIS_HR/ApplicantPhoto/131001/20100136/STUPHOTO.jpg" class="img-profile-rect" width="125px">
                            </div>
                            <div class="col-lg-10 mt-2">
                                <!--Student details goes here-->
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <label class="text-bold sms-prof-border"><span class="sms-prof-sub-border">Student Name</span></label>
                                        <div>Uttara  Nair </div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <label class="text-bold sms-prof-border"><span class="sms-prof-sub-border">Grade</span></label>
                                        <div>10</div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <label class="text-bold sms-prof-border"><span class="sms-prof-sub-border">Section</span></label>
                                        <div>C</div>
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <label class="text-bold sms-prof-border"><span class="sms-prof-sub-border">Student Number</span></label>
                                        <div>13100100022754</div>
                                    </div>
                                </div>


                                <!--Student details ends here-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card sms-card shadow">
                    <div class="card-body stu-min-height">

                        <div class="row">
                            <div class="col-lg-12" id="AttainmentPdf" style="display:none;">
                                <h3>Attainment Report</h3>
                                <div class="progress-report-frame">
                                    <embed src="http://www.africau.edu/images/default/sample.pdf#zoom=100&page=2" type="application/pdf" width="100%" height="600px" />
                                </div>
                            </div>

                            <div class="col-lg-12" id="ProgressPdf" style="display:none;">
                                <h3>Progress Report</h3>
                                <div class="progress-report-frame">
                                    <embed src="http://www.africau.edu/images/default/sample.pdf#toolbar=0" type="application/pdf" width="100%" height="600px" />
                                </div>
                            </div>

                            <div class="col-lg-12" id="DetailedViewPdf" style="display:none;">
                                <h3>Detailed Report</h3>
                                <div class="progress-report-frame">
                                    <embed src="http://www.africau.edu/images/default/sample.pdf#zoom=100" type="application/pdf" width="100%" height="600px" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
                </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-10">
        
            <div class="btn-group" role="group" aria-label="progress button">
               
                <button class="btn btn-scale btn-size" data-toggle="tooltip" data-color="#FF0000" style="background-color:#FF0000;" data-order="1" title="Below Expected">BE</button>
                                                     
                <button class="btn btn-scale btn-size" data-toggle="tooltip" data-color="#FF6600" style="background-color:#FF6600;" data-order="2" title="Expected">EX</button>
                                                     
                <button class="btn btn-scale btn-size" data-toggle="tooltip" data-color="#FFCC00" style="background-color:#FFCC00;" data-order="3" title="Secure">SE</button>
                                                     
                <button class="btn btn-scale btn-size" data-toggle="tooltip" data-color="#CCFF00" style="background-color:#CCFF00;" data-order="4" title="Mastery">MA</button>
                                                     
                @*<button class="btn btn-scale btn-size" data-toggle="tooltip" data-color="#33FF00" style="background-color:#33FF00;" data-order="5" title="Outstanding">10</button>*@
                <input type="hidden" value="0" id="hf_Clicked" />
            </div>

           
    </div>
    </div>

<style>

    /***Button Class starts***/
    .btn-group, .btn-group-vertical {
        display:inline !important;
    }
    .btn-scale {
        min-width: 30px;
        /*width: 6%;*/
        text-align: center;
        font-weight: bold;
        color: black;
        font-family: 'Lato', sans-serif;
    }

    /*.btn-scale-5 {
        background-color: #33FF00;
    }

        .btn-scale-5:hover {
            background-color: #2CDE00;
        }

    .btn-scale-4 {
        background-color: #CCFF00;
    }

        .btn-scale-4:hover {
            background-color: #B1DE00;
        }


    .btn-scale-3 {
        background-color: #FFCC00;
    }

        .btn-scale-3:hover {
            background-color: #DEB100;
        }


    .btn-scale-2 {
        background-color: #FF6600;
    }

        .btn-scale-2:hover {
            background-color: #DE5900;
        }

    .btn-scale-1 {
        background-color: #FF0000;
    }

        .btn-scale-1:hover {
            background-color: #DE0000;
        }*/

    .btn-size {
        padding: 4px 6px !important;
    }
    .btn-notselected {
        background-color: #a5a4a4 !important;
        color: #333 !important;
    }
 

</style>

<script src="https://use.fontawesome.com/cc9aa792ad.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>

    <script>
        // Progress marking buttons script below 
        //$('.btn-group button').hover(
        //    function () {
        //        $(this).removeClass('btn-notselected');
        //        //$(this).css("background-color", $(this).attr("data-color"));
        //    },
        //    function () {
        //        if ($("#hf_Clicked").val() == "1") {
        //            $(this).addClass('btn-notselected');
        //        }
        //        else if ($("#hf_Clicked").val() == "0") {
        //            $(this).removeClass('btn-notselected');
        //        }
        //        $('.btn-selected').removeClass('btn-notselected');
        //    }
        //)

        //$(".btn-group button").click(function () {
        //    $(".btn-group button").removeClass("btn-notselected");
        //    $(".btn-group button").removeClass("btn-selected");
        //       $(".btn-group button").addClass("btn-notselected");          
        //    $(this).removeClass('btn-notselected');
        //    $(this).addClass('btn-selected');
        //    $(this).addClass('btn-value');
        //    $("#hf_Clicked").val("1");
        //    //------------------------------------------
        //    var click_order = $(this).attr("data-order");
        //    var click_color = $(this).attr("data-color");
        //    $(".btn-group button").each(function (index, el) {
        //        if ($(el).attr("data-order") <= click_order) {
        //            $(el).css("background-color", click_color);
        //            $(el).addClass('btn-selected');

        //        }
        //    });
        //    if ($("#hf_Clicked").val() == "1") {
        //        $(this).addClass('btn-notselected');
        //    }
        //    else if ($("#hf_Clicked").val() == "0") {
        //        $(this).removeClass('btn-notselected');
        //    }
        //    $('.btn-selected').removeClass('btn-notselected');
            



        //});

        //PDF loading radio button script below
        $(document).ready(function () {
            $("#ProgressPdf").show();
            $('#radio-two').attr("checked", "checked");

            $("#radio-one").click(function () {
                $("#AttainmentPdf").show();
                $("#ProgressPdf").hide();
                $("#DetailedViewPdf").hide();
                $('#radio-one').prop('checked', true);
                $('#radio-two').prop('checked', false);
                $('#radio-three').prop('checked', false);
            });
            $("#radio-two").click(function () {
                $("#AttainmentPdf").hide();
                $("#ProgressPdf").show();
                $("#DetailedViewPdf").hide();
                $('#radio-one').prop('checked', false);
                $('#radio-two').prop('checked', true);
                $('#radio-three').prop('checked', false);
            });
            $("#radio-three").click(function () {
                $("#AttainmentPdf").hide();
                $("#ProgressPdf").hide();
                $("#DetailedViewPdf").show();
                $('#radio-one').prop('checked', false);
                $('#radio-two').prop('checked', false);
                $('#radio-three').prop('checked', true);
            });

        });
    </script>
