﻿@model List<SMS.Web.Models.MarkEntryAOLData>
@using SMS.Web.Areas.SMS.Model.Common;
@using SMS.Web.Models;
@{
    List<SkillSET> objListofSkillSet = new List<SkillSET>();
    List<MarkEntryAOLData> lstmarkofAOI = new List<MarkEntryAOLData>();
    var isbwithoutskill = false;
    long CAS_ID = 0;
    if (ViewBag.SKillSET != null)
    {
        objListofSkillSet = (List<SkillSET>)ViewBag.SKillSET;
    }
    if (ViewBag.lstmarkofAOI != null)
    {
        lstmarkofAOI = (List<MarkEntryAOLData>)ViewBag.lstmarkofAOI;
    }
    if (ViewBag.Isbwithoutskill != null)
    {
        isbwithoutskill = (bool)ViewBag.Isbwithoutskill;
    }
    if (ViewBag.CAS_ID != null)
    {
        CAS_ID = ViewBag.CAS_ID;
    }

}
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="card shadow-none">
            @*<div class="card-header p-0 border-bottom1">
                <div class="row align-items-center p-2">
                    <div class="col-lg-12">
                        <h3 class="mb-0">Mark Entry AOL</h3>
                    </div>
                    <div class="col text-right">
                    </div>
                </div>

            </div>*@
            <div class="card-body">
                <h3 class="card-title pl-0"> Mark Entry Skill <span class="pull-right font-small cursor-pointer" data-toggle="back" onclick="BacktoView()"><i class="fas fa-arrow-alt-circle-left"></i> Go Back</span></h3>
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-12">
                        <div style="margin:0 auto;">
                            <input type="hidden" id="hdnSkillCount" value="@objListofSkillSet.Count" />
                            <input type="hidden" id="hdnisbwithoutskill" value="@isbwithoutskill" />
                            <input type="hidden" id="hdnCAS_ID" value="@CAS_ID" />
                            <table id="tblMarkEntryAOL" class="table table-striped table-bordered dt-responsive nowrap mb-0" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="font-weight-light bg-secondary">Student Number</th>
                                        <th class="font-weight-light bg-secondary">Student Name</th>
                                        @foreach (var item in objListofSkillSet)
                                        {
                                            <th class="font-weight-light bg-secondary">@item.SKILL_NAME (@item.SKILL_MAX_MARK)</th>


                                        }
                                        <th class="font-weight-light bg-secondary text-center">Marks</th>
                                        <th class="font-weight-light bg-secondary text-center">Grade</th>



                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var item in Model)
                                    {

                                        <tr class="tr_data">
                                            <td class="clstdstuno">
                                                @item.STU_NO
                                            </td>
                                            <td class="clsstuname">
                                                @item.STU_NAME
                                            </td>


                                            @for (int i = 0; i < objListofSkillSet.Count(); i++)
                                            {
                                                var skillValue = 0.0;
                                                var skillOrder = 0;
                                                var skillName = objListofSkillSet[i].SKILL_NAME.Replace(" ", String.Empty).Replace("&", "_");
                                                var maxlength = objListofSkillSet[i].SKILL_MAX_MARK;
                                                if (lstmarkofAOI.Count > 0)
                                                {
                                                    skillValue = lstmarkofAOI.Where(e => e.SKILL_NAME == objListofSkillSet[i].SKILL_NAME && e.STU_ID == item.STU_ID)
                                                                                          .Select(e => e.SKILL_MARK).FirstOrDefault();
                                                    skillOrder = lstmarkofAOI.Where(e => e.SKILL_NAME == objListofSkillSet[i].SKILL_NAME && e.STU_ID == item.STU_ID)
                                                                                          .Select(e => e.SKILL_ORDER).FirstOrDefault();
                                                }

                                                <td class="clsstuSkillInput" data-SkillName="@skillName">
                                                    <input type="text" class="form-control clsskillmarks" id="txt_@(item.STU_NO+"_"+skillName)" data-sta_Id="@item.STA_ID" data-stu_Id="@item.STU_ID" data-stu_no="@item.STU_NO" data-SkillMaxMarks="@maxlength" data-skillOrder="@skillOrder" value="@skillValue" maxlength="@maxlength" />
                                                </td>
                                            }



                                            <td class="text-center">
                                                @item.MARKS
                                            </td>
                                            <td class="text-center">
                                                @(string.IsNullOrEmpty(item.SKILL_GRADE) ? "NA" : item.SKILL_GRADE)
                                             
                                            </td>

                                        </tr>

                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
                <div class="row border-bottom1">
                    @*<div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mt-2 text-center">
                            <button type="button" id="btnViewBack" class="btn btn-primary my-4" onclick="BacktoView()">Cancel</button>
                        </div>
                    </div>
                    <div class="col-lg-4">
                    </div>*@
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="form-group mt-2 text-center">
                            <button type="button" id="btnSaveMarkAsAOL" class="btn btn-primary my-4" onclick="SaveMarkAsAOLEXAM()">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.Save")</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>



</div>
<style>
    /*.focused {
        border: solid 1px red;
    }*/
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblMarkEntryAOL').dataTable({
            "scrollX": true,
            "bPaginate": false,
            "ordering": false
        });
        function inputvalidate(textbox, maxlength, inputFilter) {
            
            
            return textbox.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {

                if (inputFilter(this.value)) {

                    this.oldValue = this.value;

                    this.oldSelectionStart = this.selectionStart;

                    this.oldSelectionEnd = this.selectionEnd;

                } else if (this.hasOwnProperty("oldValue")) {

                    this.value = this.oldValue;

                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);

                }

            });

        }
        $('#tblMarkEntryAOL tbody tr').each(function () {

            $(this).find(".clsstuSkillInput").each(function () {
                $(this).find(".clsskillmarks").each(function () {
                    var textbox = $(this);
                    var maxlength = $(textbox).attr('data-SkillMaxMarks');
                   
                    // abc(textbox);
                    inputvalidate(textbox, maxlength, function (value) {
                       
                       
                        if (/^-?\d*[.,]?\d{0,2}$/.test(value) && (value === "" || parseFloat(value) <= maxlength)) {
                           // $(textbox).removeClass('focused');
                            return true;
                        }
                        else {

                            globalFunctions.showErrorMessage("Input should be less than " + maxlength + " and must be numeric");
                            //$(textbox).addClass('focused');
                        }
                    });

                })


            });
        });
    });
</script>