﻿@using SMS.Web.Areas.SMS.Model.Common;
@using Phoenix.Common.Helpers.Extensions
@model IEnumerable<SMS.Web.Models.GradeBookGradeScale>
@{
    string selectText = SelectSIMSListHelper.GetTerminlogyLabel("Shared.Labels.Select");
}
<div class="row mb-2 divScaleGrid">
    <div class="col-lg-9 col-md-9 col-12"></div>
    <div class="col-lg-3 col-md-3 col-12 pl-xl-5">
        <a href="javascript:void(0)" onclick="objGradeBook.addGradeScale();" class="btn btn-primary text-uppercase text-sem pr-3 pl-3 btn-sm m-0">
            <small><strong>Add Grade Scale</strong></small>
        </a>
    </div>
</div>
<div class="row mb-3 divScaleGrid">
    <div class="table-responsive">
        <table id="tblGradeScale" class="table table-bordered bg-white mb-0" width="100%">
            <thead>
                <tr>
                    <th class="pb-2 pt-2 text-center"><small><strong>Description</strong></small></th>
                    <th class="pb-2 pt-2 text-center"><small><strong>BSU ID</strong></small></th>
                    <th class="pb-2 pt-2 text-center"><small><strong>ACD ID</strong></small></th>
                    <th class="pb-2 pt-2 text-center"><small><strong>Action</strong></small></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="pt-2 pb-2 text-center">@item.GSM_DESCRIPTION</td>
                            <td class="pt-2 pb-2 text-center">@item.GSM_BSU_ID</td>
                            <td class="pt-2 pb-2 text-center">@item.GSM_ACD_ID</td>
                            <td class="pt-2 pb-2 text-center tbl-actions">
                                <a href="javascript:void(0)" class="mr-2" onclick="objGradeBook.editGradeScale(@item.GSM_ID,this);" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                <a href="#" data-toggle="tooltip" title="Delete" class="mr-3" onclick="objGradeBook.deleteGradeScale(@item.GSM_ID,this)"><i class="fa fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="NoRecord">
                        <td class="pt-2 pb-2 text-center" colspan="4">No Records found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div id="divScaleDetail" class="d-none">
    <form id="frmGradeScale">
        <div class="row mb-0">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="md-form md-outline">
                    @Html.Hidden("GSM_ID", 0)
                    @Html.TextBox("GSM_Description", "", new { @class = "form-control", @data_required = "", @data_maxlength = "20" })
                    <label class="active select-label" for="GSM_Description">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.GradeBook.GSM_Description")</label>
                </div>
            </div>
        </div>
    </form>
    <form id="frmGradeScaleDetail">
        <div class="row mb-0">
            <div class="col-lg-4 col-md-4 col-12">
                @Html.Hidden("Temp_GSD_ID", 0)
                @Html.Hidden("GSD_ID", 0)
                <div class="md-form md-outline">
                    @Html.TextBox("Grade_Description", "", new { @class = "form-control", @data_required = "", @data_maxlength = "10" })
                    <label class="active select-label" for="Grade_Description">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.GradeBook.Grade_Description")</label>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="md-form md-outline mb-3">
                    @Html.TextBox("RangeFrom", "", new { @class = "form-control", @type = "number", @data_required = "", @data_min = "0", @data_max = "100", @data_decimal = "" })
                    <label class="active select-label" for="MarkTypeFrom">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.GradeBook.RangeFrom")</label>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="md-form md-outline mb-3">
                    @Html.TextBox("RangeTo", "", new { @class = "form-control", @type = "number", @data_required = "", @data_min = "0", @data_max = "100", @data_decimal = "" })
                    <label class="active select-label" for="MarkTypeTo">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.GradeBook.RangeTo")</label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-3 col-md-3 col-12"></div>
            <div class="col-lg-6 col-md-6 col-12">
                <button class="btn btn-primary btn-block text-center" onclick="objGradeBook.addGradeScaleDetail()" type="button" id="btnAddScaleDetail">ADD</button>
            </div>
            <div class="col-lg-3 col-md-3 col-12"></div>
        </div>
    </form>
    <div class="row mb-3">
        <div class="table-responsive">
            <table id="tblGradeScaleDetail" class="table table-bordered bg-white mb-0" width="100%">
                <thead>
                    <tr>
                        <th class="pb-2 pt-2 text-center"><small><strong>Grade</strong></small></th>
                        <th class="pb-2 pt-2 text-center"><small><strong>Range From</strong></small></th>
                        <th class="pb-2 pt-2 text-center"><small><strong>Range To</strong></small></th>
                        <th class="pb-2 pt-2 text-center"><small><strong>Action</strong></small></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="NoRecord">
                        <td class="pt-2 pb-2 text-center" colspan="4">No Records found.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
