﻿@using SMS.Web.Areas.SMS.Model.Common;
@using Phoenix.Common.Helpers.Extensions
@model IEnumerable<SMS.Web.Models.GradeBookSetup>
@{
    string selectText = SelectSIMSListHelper.GetTerminlogyLabel("Shared.Labels.Select");
}

<div>
    <div class="column-padding row pt-3 pb-3 border-bottom drawer-header">
        <div class="col-lg-11 col-md-11 col-11">
            <h2 class="m-0">
                <a id="btnBackDrawer" href="javascript:void(0)" onclick="objGradeBook.ShowHideGradeScaleBackButton(false)" class="btn-back d-none"><i class="fas fa-arrow-left"></i>&nbsp;<span></span></a>
                @*<span class="rounded-circle bg-unpublished p-2 mr-2 icon-wrap text-center"><i class="fa fa-file-upload"></i></span>*@
                @SelectSIMSListHelper.GetTerminlogyLabel("SIMS.GradeBook.GradeBookTitle")
            </h2>
        </div>
        <div class="col-lg-1 col-md-1 col-1 text-right">
            <a href="javascript:void(0)" class="closeRightDrawer"><i class="fas fa-times"></i></a>
        </div>
    </div>
    <div class="row column-padding mb-2">
        <div class="col-lg-12 col-md-12 col-12 ">
            <div class="custom-scroll-container">
                <div class="drawer-inner-content mt-3">
                    @Html.Hidden("hdnGBM_RSD_ID", "0")
                    <!--Main Action Taken settings starts-->
                    <div id="divGradeBookForm">
                        <div id="divBindGradeBookSetup">

                        </div>
                        <div class="row mb-2" id="divBtnAddGBSetup">
                            <div class="col-lg-11 col-md-11 col-12"></div>
                            <div class="col-lg-1 col-md-1 col-12">
                                <a href="javascript:void(0)" onclick=" objGradeBook.bindGradeBookSetup(0);" class="btn btn-primary text-uppercase pr-3 pl-3 btn-sm m-0">
                                    <small><strong>Add</strong></small>
                                </a>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="table-responsive">
                                <table id="tblGradeScale" class="table table-bordered bg-white mb-0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="pb-2 pt-2 text-center"><small><strong>Short Code</strong></small></th>
                                            <th class="pb-2 pt-2 text-center"><small><strong>Description</strong></small></th>
                                            <th class="pb-2 pt-2 text-center"><small><strong>Due Date</strong></small></th>
                                            <th class="pb-2 pt-2 text-center"><small><strong>Action</strong></small></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Count() > 0)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="pt-2 pb-2 text-center">@item.GBM_SHORT_CODE</td>
                                                    <td class="pt-2 pb-2 text-center">@item.GBM_DESCR</td>
                                                    <td class="pt-2 pb-2 text-center">@item.GBM_DUE_DATE.ToString("dd MMM yyyy")</td>
                                                    <td class="pt-2 pb-2 text-center tbl-actions">
                                                        <a href="javascript:void(0)" class="mr-2" onclick="objGradeBook.bindGradeBookSetup(@item.GBM_ID);" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                                                        <a href="#" data-toggle="tooltip" title="Delete" class="mr-3" onclick="objGradeBook.deleteGradeBookSetup(@item.GBM_ID,this)"><i class="fa fa-trash-alt"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="NoRecord">
                                                <td class="pt-2 pb-2 text-center" colspan="4">No Records found.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="divGradeBookScale" class="d-none">

                    </div>
                    <!--Main Action Taken settings ends-->
                </div>
            </div>
        </div>
    </div>
    <div class="column-padding drawer-footer">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-12"></div>
            <div class="col-lg-6 col-md-6 col-12">
                <button class="btn btn-primary btn-block text-center" onclick="objGradeBook.saveGradeBookSetup()" type="button">save</button>
            </div>
            <div class="col-lg-3 col-md-3 col-12"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".drawer-inner-content .content").mCustomScrollbar({
            //setHeight: "280",
            autoExpandScrollbar: true,
            scrollbarPosition: "outside",
            autoHideScrollbar: false
        });
    });
</script>