﻿@model SMS.Web.Models.GradeBookEntryListModel
@using SMS.Web.Models
@using SMS.Web.Areas.SMS.Model.Common
@using Phoenix.Common.Helpers
@{
    string rnd = DateTime.Now.Ticks.ToString();
    int rpt = 1;
}
<div class="card">
    <div class="card-body">
        <div class="title-with-fields">
            <h3 class="card-title clearfix">
                @SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Assessment.GradeEntry")
            </h3>
            <div class="title-fields">
                <a class="text-sem text-dark pr-3 pl-3 btn btn-sm m-auto waves-effect waves-light text-bold Searchmore" onclick="GradeBook.showGradeBookEntry(false);">
                    <i class="fas fa-arrow-alt-circle-left pr-1"></i>@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.BtnBack")
                </a>
            </div>
        </div>
        <nav aria-label="breadcrumb" class="p-1">
            <ol class="breadcrumb">
                @foreach (var item in (string[])ViewBag.SelectedOptions)
                {
                    <li class="breadcrumb-item"><a href="#">@item</a></li>
                }
            </ol>
        </nav>
    </div>
</div>
@if (Model.StudentLists.Any())
{
    <div class="container-fluid mt-2 mb-4">
        <div class="student-attendance gradebook">
            <div class="row">
                <!-- left column-->
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="row">
                        <div class="col-12 accordion">
                            <div class="bg-white p-2 d-flex align-items-start border-bottom gradebook-cols-height">
                            </div>
                        </div>
                    </div>

                    @foreach (var item in Model.StudentLists)
                    {
                        <div class="row">
                            <div class="col-12 accordion">
                                <div class="bg-white p-2 d-flex align-items-start border-bottom gradebook-cols-height cursor-pointer" onclick="window.open('/ClassList/ClassList/GetStudentDetails?stu_id=@item.STU_ID&view=@EncryptDecryptHelper.EncryptUrl("true")', '_blank')">
                                    <div class="student-img mr-2">
                                        @*<input type="checkbox" id="studentCheckbox-1" />*@
                                        <img src="@item.STU_PHOTO" alt="@item.STU_NAME" />
                                    </div>
                                    <div class="d-flex justify-content-between w-100 student-details">
                                        <div>
                                            <h4>@item.STU_NAME <span class="stdnt-id sub-heading d-block">ID: @item.STU_NO</span></h4>
                                        </div>
                                        <button class="btn btn-link toggle-info d-block d-sm-none text-left m-0 mr-2 p-0 collapse" type="button" data-toggle="collapse" data-target="#student-id-1" aria-expanded="true" aria-controls="student-id-1">
                                            <i class="fas fa-angle-down float-right m-0"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- left column end -->
                <!-- right column -->
                <div class="col-lg-9 col-md-9 col-12 rightCol">
                    <div class="row">
                        <div class="col-12 bg-white">
                            <div class="gradebook-cols-height border-bottom d-flex align-items-center">
                                <table class="table m-0 gradebook-table" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            @if (Model.HeaderOptionals.Any())
                                            {

                                                foreach (var item in Model.HeaderOptionals)
                                                {
                                                    <td class="border-0 p-0">
                                                        <table class="border-right exam-header-@rpt w-100">
                                                            <tr>
                                                                <td class="pt-2 pb-2 border-top-0 text-center table-dark">
                                                                    &nbsp;
                                                                    @Html.Raw(item.AOM_DESCR.ToUpper())
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    rpt++;
                                                }
                                            }
                                            @if (Model.ReportHeaders.Any())
                                            {
                                                int subHeaderCount = 1;
                                                foreach (var item in Model.ReportHeaders)
                                                {
                                                    var obj = Model.GradeBookSetups.Where(x => x.GBM_RSD_ID == Convert.ToInt64(item.RSD_ID));
                                                    <td class="border-0 p-0">
                                                        <table class="border-right exam-header-@rpt w-100">
                                                            <tr>
                                                                <td @Html.Raw(obj.Any() ? $"colspan=\"{obj.Count()}\"" : "") class="pt-2 pb-2 border-top-0 text-center table-dark">
                                                                    &nbsp;
                                                                    @Html.Raw(item.IS_PREV ? ($"{item.RSD_SUB_DESC} ({item.RSD_HEADER})").ToUpper() :
                                                                    string.IsNullOrEmpty(item.RSD_SUB_DESC) ? item.RSD_HEADER.ToUpper() :
                                                                    item.RSD_SUB_DESC.ToUpper())
                                                                    &nbsp;

                                                                    @if (!item.IS_PREV)
                                                                    {
                                                                        if (item.RSD_RESULT != "C")
                                                                        {
                                                                            @*<span class="fa fa-fw fa-eye-slash field-icon toggle-exam"></span>*@
                                                                            <a href="javascript:void(0)" class="trigger-rightDrawer float-right" data-target="GradeBookDrawer" data-width="50%" onclick="objGradeBook.loadGradeBook(@item.RSD_ID)">
                                                                                <i class="far fa-plus-square text-white"></i>
                                                                            </a>
                                                                            if (obj.Count() > 1)
                                                                            {
                                                                                <a href="javascript:void(0)" class="trigger-rightDrawer float-right" data-target="GradeBookDrawer" data-width="50%" onclick="objGradeBook.bindProcessingRuleSetup(@item.RSD_ID)">
                                                                                    <i class="fas fa-cog text-white pr-2"></i>
                                                                                </a>
                                                                            }
                                                                        }
                                                                    }
                                                                </td>
                                                            </tr>
                                                            @if (obj.Any())
                                                            {

                                                                <tr>
                                                                    @foreach (var subHeader in obj)
                                                                    {
                                                                        <td class="pt-2 pb-2 table-secondary border-right subheader-@subHeaderCount"><strong>@subHeader.GBM_DESCR</strong></td>
                                                                        subHeaderCount++;
                                                                    }
                                                                </tr>
                                                            }
                                                        </table>
                                                    </td>
                                                    rpt++;
                                                }
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @foreach (var item in Model.StudentLists)
                    {
                        int count = 1;
                        <div class="row">
                            <div class="col-12 bg-white">
                                <div class="gradebook-cols-height border-bottom d-flex align-items-center">
                                    <table class="table m-0 gradebook-table t_@item.STU_ID" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                @if (Model.HeaderOptionals.Any())
                                                {
                                                    foreach (var reports in Model.HeaderOptionals)
                                                    {
                                                        <td class="border-0 p-0 align-middle @item.STU_ID @reports.AOM_ID bg-light disabled" data-stu-id="@item.STU_ID" data-rsd-id="@reports.AOM_ID">
                                                            <table class="border-right exam-@count">
                                                                <tr>
                                                                    @{
                                                                        var assessment = Model.AssessmentDataOptionals.FirstOrDefault(x => x.STU_ID == Convert.ToInt64(item.STU_ID) && x.AOM_ID == reports.AOM_ID);
                                                                    }
                                                                    @if (assessment != null)
                                                                    {
                                                                        <td class="pt-2 pb-2 border-0 text-center" data-target="SubExamMarks" data-value="@assessment.OPTIONAL_VALUE" data-stu-id="@item.STU_ID" data-rsd-id="@reports.AOM_ID"><p class="m-0">@assessment.OPTIONAL_VALUE</p></td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="pt-2 pb-2 border-0 text-center">
                                                                            <p class="m-0">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.NotAllowed")</p>
                                                                        </td>
                                                                    }
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        count++;
                                                    }

                                                }
                                                @if (Model.ReportHeaders.Any())
                                                {
                                                    int gradeCount = 1;
                                                    foreach (var reports in Model.ReportHeaders)
                                                    {
                                                        var obj = Model.AssessmentDatas.Where(x => x.STU_ID == item.STU_ID && x.RSD_ID == reports.RSD_ID);
                                                        var gradeBookObj = Model.GradeBookSetups.Where(x => x.GBM_RSD_ID == Convert.ToInt64(reports.RSD_ID));
                                                        <td class="border-0 p-0 align-middle @item.STU_ID @reports.RSD_ID" data-stu-id="@item.STU_ID" data-rsd-id="@reports.RSD_ID">
                                                            <table class="@Html.Raw(reports.IS_PREV ? "border-right-white" : "border-right") exam-@count">
                                                                <tr>
                                                                    @if (obj.Any() && !gradeBookObj.Any())
                                                                    {
                                                                        foreach (var assessment in obj)
                                                                        {
                                                                            if (reports.RSD_RESULT == AssessmentConfiguration.ResultType.Comment.ToString().Substring(0, 1))
                                                                            {
                                                                                <td class="pt-2 pb-2 border-0 text-center @Html.Raw(reports.IS_PREV ? "bg-light disabled" : "trigger-rightDrawer rightDrawer plusBtn")" data-target="SubExamMarks" data-value="@assessment.COMMENTS" data-stu-id="@item.STU_ID" data-rsd-id="@reports.RSD_ID">
                                                                                    <div class="grade-value">
                                                                                        <a href="javascript:void(0)" data-toggle="popover" title="@assessment.COMMENTS" data-placement="top"><i class="fas fa-comment-alt"></i></a>
                                                                                    </div>
                                                                                </td>
                                                                            }
                                                                            else if (reports.RSD_RESULT == AssessmentConfiguration.ResultType.Dropdown.ToString().Substring(0, 1))
                                                                            {
                                                                                <td class="pt-2 pb-2 border-0 text-center @Html.Raw(reports.IS_PREV ? "bg-light disabled" : "trigger-rightDrawer rightDrawer plusBtn")" data-target="SubExamMarks" data-value="@assessment.COMMENTS" data-stu-id="@item.STU_ID" data-rsd-id="@reports.RSD_ID">
                                                                                    <div class="grade-value">
                                                                                        <span class="d-block">
                                                                                            @assessment.GRADING
                                                                                        </span>
                                                                                        @if (!string.IsNullOrEmpty(assessment.COMMENTS))
                                                                                        {
                                                                                            <a href="javascript:void(0)" data-toggle="popover" title="@assessment.COMMENTS" data-placement="top"><i class="fas @Html.Raw(assessment.bABSENT ? "fa-user-minus text-danger" : "fa-comment-alt")"></i></a>
                                                                                        }
                                                                                    </div>
                                                                                </td>
                                                                            }
                                                                            else if (reports.RSD_RESULT == AssessmentConfiguration.ResultType.Marks.ToString().Substring(0, 1))
                                                                            {
                                                                                <td class="pt-2 pb-2 border-0 text-center @Html.Raw(reports.IS_PREV ? "bg-light disabled" : "trigger-rightDrawer rightDrawer plusBtn")" data-target="SubExamMarks" data-value="@assessment.MARK" data-stu-id="@item.STU_ID" data-rsd-id="@reports.RSD_ID">
                                                                                    <div class="grade-value">
                                                                                        <span class="d-block">
                                                                                            @if (reports.VALIDATION_TYPE == AssessmentConfiguration.MarksType.Decimal.ToString().Substring(0, 3))
                                                                                            {@assessment.MARK;
                                                                                        }
                                                                                        else
                                                                                        { @Html.Raw(string.IsNullOrEmpty(assessment.MARK) ? "" : assessment.MARK.Split('.')[0]);
                                                                                    }
                                                                                        </span>
                                                                                        @if (!string.IsNullOrEmpty(assessment.COMMENTS))
                                                                                        {
                                                                                            <a href="javascript:void(0)" data-toggle="popover" title="@assessment.COMMENTS" data-placement="top"><i class="fas @Html.Raw(assessment.bABSENT ? "fa-user-minus text-danger" : "fa-comment-alt")"></i></a>
                                                                                        }
                                                                                    </div>
                                                                                </td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td class="pt-2 pb-2 border-0 text-center" data-target="SubExamMarks" data-stu-id="@item.STU_ID" data-rsd-id="@reports.RSD_ID">
                                                                                    <div class="status-dd dropright mr-2 mr-sm-0 grade-value">
                                                                                        <a href="javascript:void(0)" class="@Html.Raw(reports.IS_PREV ? "bg-light disabled" : "trigger-rightDrawer rightDrawer plusBtn")" data-stu-id="@item.STU_ID" data-rsd-id="@reports.RSD_ID" data-target="SubExamMarks">
                                                                                            <i class="far fa-plus-square text-dark"></i>
                                                                                        </a>
                                                                                    </div>
                                                                                </td>
                                                                            }

                                                                        }

                                                                    }
                                                                    else if (gradeBookObj.Any())
                                                                    {
                                                                        <td colspan="@gradeBookObj.Count()" class="border-0 p-0 align-middle @item.STU_ID @reports.RSD_ID" data-stu-id="@item.STU_ID" data-rsd-id="@reports.RSD_ID">
                                                                            <table class="@Html.Raw(reports.IS_PREV ? "border-right-white" : "border-right") exam-@count">
                                                                                <tr>
                                                                                    @foreach (var grade in gradeBookObj)
                                                                                    {
                                                                                        int gradeBookCountForBorder = 1;
                                                                                        var gradeBookDetails = Model.GradeBookDetails.FirstOrDefault(x => x.GBD_GBM_ID == grade.GBM_ID && x.STU_ID == Convert.ToInt64(item.STU_ID));
                                                                                        if (gradeBookDetails != null)
                                                                                        {
                                                                                            if (grade.GBM_ENTRY_MODE == AssessmentConfiguration.ResultType.Comment.ToString().Substring(0, 1))
                                                                                            {
                                                                                                <td class="pt-2 pb-2 subHeader-data-@gradeCount align-middle @Html.Raw(gradeBookObj.Count() == gradeBookCountForBorder ? "border-0" : "border-right") text-center @Html.Raw(reports.IS_PREV ? "bg-light disabled" : "trigger-rightDrawer rightDrawer plusBtn") @item.STU_ID @reports.RSD_ID @grade.GBM_ID" data-target="SubExamMarks" data-value="@gradeBookDetails.GBD_COMMENT" data-stu-id="@item.STU_ID" data-rsd-id="@reports.RSD_ID" data-gbm-id="@grade.GBM_ID">
                                                                                                    <div class="grade-value">
                                                                                                        <a href="javascript:void(0)" data-toggle="popover" title="@gradeBookDetails.GBD_COMMENT" data-placement="top"><i class="fas fa-comment-alt"></i></a>
                                                                                                    </div>
                                                                                                </td>
                                                                                            }
                                                                                            else if (grade.GBM_ENTRY_MODE == AssessmentConfiguration.ResultType.Dropdown.ToString().Substring(0, 1))
                                                                                            {
                                                                                                <td class="pt-2 pb-2 subHeader-data-@gradeCount align-middle @Html.Raw(gradeBookObj.Count() == gradeBookCountForBorder ? "border-0" : "border-right") text-center @Html.Raw(reports.IS_PREV ? "bg-light disabled" : "trigger-rightDrawer rightDrawer plusBtn") @item.STU_ID @reports.RSD_ID @grade.GBM_ID" data-target="SubExamMarks" data-value="@gradeBookDetails.GBD_COMMENT" data-stu-id="@item.STU_ID" data-rsd-id="@reports.RSD_ID" data-gbm-id="@grade.GBM_ID">
                                                                                                    <div class="grade-value">
                                                                                                        <span class="d-block">
                                                                                                            @gradeBookDetails.GBD_GRADE
                                                                                                        </span>
                                                                                                        @if (!string.IsNullOrEmpty(gradeBookDetails.GBD_COMMENT))
                                                                                                        {
                                                                                                            <a href="javascript:void(0)" data-toggle="popover" title="@gradeBookDetails.GBD_COMMENT" data-placement="top"><i class="fas  @Html.Raw(gradeBookDetails.GBD_bIS_PRESENT ? "fa-user-minus text-danger" : "fa-comment-alt")"></i></a>
                                                                                                        }
                                                                                                    </div>
                                                                                                </td>
                                                                                            }
                                                                                            else if (grade.GBM_ENTRY_MODE == AssessmentConfiguration.ResultType.Marks.ToString().Substring(0, 1))
                                                                                            {
                                                                                                <td class="pt-2 pb-2 subHeader-data-@gradeCount align-middle @Html.Raw(gradeBookObj.Count() == gradeBookCountForBorder ? "border-0" : "border-right") text-center @Html.Raw(reports.IS_PREV ? "bg-light disabled" : "trigger-rightDrawer rightDrawer plusBtn") @item.STU_ID @reports.RSD_ID @grade.GBM_ID" data-target="SubExamMarks" data-value="@gradeBookDetails.GBD_MARK" data-stu-id="@item.STU_ID" data-rsd-id="@reports.RSD_ID" data-gbm-id="@grade.GBM_ID">
                                                                                                    <div class="grade-value">
                                                                                                        <span class="d-block">
                                                                                                            @if (grade.GBM_MARK_TYPE == AssessmentConfiguration.MarksType.Decimal.ToString().Substring(0, 3))
                                                                                                            {@gradeBookDetails.GBD_MARK;
                                                                                                        }
                                                                                                        else
                                                                                                        { @Html.Raw(string.IsNullOrEmpty(gradeBookDetails.GBD_MARK) ? "" : gradeBookDetails.GBD_MARK.Split('.')[0])}
                                                                                                        </span>
                                                                                                        @if (!string.IsNullOrEmpty(gradeBookDetails.GBD_COMMENT))
                                                                                                        {
                                                                                                            <a href="javascript:void(0)" data-toggle="popover" title="@gradeBookDetails.GBD_COMMENT" data-placement="top"><i class="fas  @Html.Raw(gradeBookDetails.GBD_bIS_PRESENT ? "fa-user-minus text-danger" : "fa-comment-alt")"></i></a>
                                                                                                        }
                                                                                                    </div>
                                                                                                </td>
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                <td class="pt-2 pb-2  subHeader-data-@gradeCount align-middle @Html.Raw(gradeBookObj.Count() == gradeBookCountForBorder ? "border-0" : "border-right") text-center @Html.Raw(reports.IS_PREV ? "bg-light disabled" : "trigger-rightDrawer rightDrawer plusBtn") @item.STU_ID @reports.RSD_ID @grade.GBM_ID" data-target="SubExamMarks" data-stu-id="@item.STU_ID" data-rsd-id="@reports.RSD_ID" data-gbm-id="@grade.GBM_ID">
                                                                                                    <div class="status-dd dropright mr-2 mr-sm-0 grade-value">
                                                                                                        <a href="javascript:void(0)" data-stu-id="@item.STU_ID" data-rsd-id="@reports.RSD_ID" data-gbm-id="@grade.GBM_ID" data-target="SubExamMarks">
                                                                                                            <i class="far fa-plus-square text-dark"></i>
                                                                                                        </a>
                                                                                                    </div>
                                                                                                </td>
                                                                                            }

                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <td class="pt-2 pb-2  subHeader-data-@gradeCount align-middle @Html.Raw(gradeBookObj.Count() == gradeBookCountForBorder ? "border-0" : "border-right")  text-center @Html.Raw(reports.IS_PREV ? "bg-light disabled" : "trigger-rightDrawer rightDrawer plusBtn") @item.STU_ID @reports.RSD_ID @grade.GBM_ID" data-target="SubExamMarks" data-stu-id="@item.STU_ID" data-rsd-id="@reports.RSD_ID" data-gbm-id="@grade.GBM_ID">
                                                                                                <div class="status-dd dropright mr-2 mr-sm-0 grade-value">
                                                                                                    <a href="javascript:void(0)" data-stu-id="@item.STU_ID" data-rsd-id="@reports.RSD_ID" data-gbm-id="@grade.GBM_ID" data-target="SubExamMarks">
                                                                                                        <i class="far fa-plus-square text-dark"></i>
                                                                                                    </a>
                                                                                                </div>
                                                                                            </td>
                                                                                        }
                                                                                        gradeCount++;
                                                                                    }
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="pt-2 pb-2 border-0 text-center @Html.Raw(reports.IS_PREV ? "bg-light disabled" : "trigger-rightDrawer rightDrawer plusBtn")" data-target="SubExamMarks" data-stu-id="@item.STU_ID" data-rsd-id="@reports.RSD_ID">
                                                                            <div class="status-dd dropright mr-2 mr-sm-0 grade-value">
                                                                                <a href="javascript:void(0)" data-stu-id="@item.STU_ID" data-rsd-id="@reports.RSD_ID" data-target="SubExamMarks">
                                                                                    <i class="far fa-plus-square text-dark"></i>
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    }
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        count++;
                                                    }
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- right column end -->
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="row add-task-header pt-3 pb-3">
                            <div class="col-lg-12 col-md-12 col-12 text-center">

                                <button type="button" onclick="GradeBookEntry.FinalSubmit()" class="btn btn-primary mt-0 mb-0 waves-effect waves-light">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Behaviour.SaveChanges")</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid mt-2 mb-4 noData">
        <div class="student-attendance gradebook">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="row">
                        <div class="col-12 accordion">
                            <div class="bg-white p-4 align-items-start border-bottom gradebook-cols-height text-center">
                                @SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.NoDataFound")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        //objGradeBook.init();

        translatedResources.MinMarksGreaterThenMaxMarks = '@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.GradeBook.MarksValidation")';
        translatedResources.MaxMarks = '@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.GradeBook.MaxMarks")';
        translatedResources.Absent = '@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.GradeBook.Absent")';
        translatedResources.UnloadConfirmMsg = '@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.GradeBook.UnloadConfirmMsg")'
        //Exam show or hide eye function goes here
        $('.toggle-exam').on('click', function () {
            $(this).toggleClass('fa-eye-slash fa-eye');
        });
        $('.rightDrawer').click(function () {
            $('#examMarks').focus();
        });
        $('[data-toggle="tooltip"]').tooltip({
            //trigger: 'focus',
            html: true
        });

        $('[data-toggle="popover"]').popover({
            trigger: 'hover'
        });

        $(".rightCol").mCustomScrollbar({
            axis: 'x',
            autoHideScrollbar: true,
            autoExpandScrollbar: true
        });

        $(".student-attendance.gradebook").mCustomScrollbar({
            axis: 'y',
            setHeight: "80%",
            autoHideScrollbar: true,
            autoExpandScrollbar: true
        });

        $("#examMarks").keyup(function () {
            if ($('#examMarks').val() < 0 || $('#examMarks').val() > 50) {
                $('#errorMsg').show();
            }
            else {
                $('#errorMsg').hide();
            }
        });
        //---------------------------------Used these json object to add functionality to --------------
        //---------------------------------to side nav--------------------------------------------------
        GradeBookEntry.StudentList = @Html.Raw(Json.Encode(Model.StudentLists.Select(x => new { STU_ID = x.STU_ID, STU_NAME = x.STU_NAME })));
        GradeBookEntry.HeaderList = @Html.Raw(Json.Encode(Model.ReportHeaders));
        GradeBookEntry.AssessmentDataList = @Html.Raw(Json.Encode(Model.AssessmentDatas));
        GradeBookEntry.SubHeaderList = @Html.Raw(Json.Encode(Model.GradeBookSetups));
        GradeBookEntry.SubHeaderData = @Html.Raw(Json.Encode(Model.GradeBookDetails));
        //---------------------------------To Add Index property to navigate through--------------------
        var object = GradeBookEntry.StudentList;
        object.forEach((element, index) => element.Index = index);

        object = GradeBookEntry.SubHeaderList;
        object.forEach((element, index) => {
            element.Index = index;
            element.IsGBM = true;
            @*if (element.GBM_ENTRY_MODE == "@AssessmentConfiguration.ResultType.Marks.ToString().Substring(0, 1)") {
                if (element.GBM_MARK_TYPE == "@AssessmentConfiguration.MarksType.Decimal.ToString().Substring(0, 3)") {
                    element.GBD_MARK = parseFloat(element.GBD_MARK);
                } else {
                    element.GBD_MARK = parseInt(element.GBD_MARK);
                }
            }*@
        });

        object = GradeBookEntry.SubHeaderData;
        object.forEach((element, index) => { element.Index = index; element.IsGBM = true; });

        object = GradeBookEntry.HeaderList;
        var headerCount = 0, updatedArray = [];
        //-------------- To add subheaders to header list and using it navigation-----------------------
        object.forEach((element) => {
            if (GradeBookEntry.SubHeaderList.some(x => x.GBM_RSD_ID == element.RSD_ID)) {
                var objectList = GradeBookEntry.SubHeaderList.filter(x => x.GBM_RSD_ID == element.RSD_ID);
                objectList.forEach(e => {
                    e.Index = headerCount;
                    headerCount++;
                    updatedArray.push(e);
                });
            } else {
                element.Index = headerCount;
                @*if (reports.RSD_RESULT == "@AssessmentConfiguration.ResultType.Marks.ToString().Substring(0, 1)") {
                    if (element.VALIDATION_TYPE == "@AssessmentConfiguration.MarksType.Decimal.ToString().Substring(0, 3)") {
                        element.MARK = parseFloat(element.MARK);
                    } else {
                        element.MARK = parseInt(element.MARK);
                    }
                }*@
                headerCount++;
            }

        });
        if (updatedArray.length > 0) {
            updatedArray.forEach(e => object.push(e));
        }

        object = GradeBookEntry.AssessmentDataList;
        object.forEach((element, index) => element.Index = index);
    });
</script>
