﻿@using SMS.Web.Areas.SMS.Model.Common
@{
    string selectText = SelectSIMSListHelper.GetTerminlogyLabel("Shared.Labels.Select");
}
<div class="row">
    <div class="col-lg-12">
        <div id="reportWritingFiltersForm">
            <div class="row mb-3">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="md-form md-outline mb-0">
                        <label class="active select-label" for="reportWritingAcademicYearDDL">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.AcademicYear")</label>
                        @Html.DropDownList("reportWritingAcademicYearDDL", (SelectList)ViewBag.AcademicYear, selectText, new { @class = "selectpicker", @LName = @SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.AcademicYear"), @data_required = "" })
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="md-form md-outline mb-0">
                        <label class="active select-label" for="reportWritingReportCard">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Assessment.ReportCard")</label>
                        @Html.DropDownList("reportWritingReportCard", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @LName = @SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.ReportHeader"), @data_required = "", @data_live_search = "true" })
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="md-form md-outline mb-0">
                        <label class="active select-label" for="reportWritingReportSchedule">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.RuleDeletion.ReportSchedule")</label>
                        @Html.DropDownList("reportWritingReportSchedule", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @LName = @SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.ReportHeader"), @data_required = "" })
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="md-form md-outline mb-0">
                        <label class="active select-label" for="reportWritingGrades">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.Grade")</label>
                        @Html.DropDownList("reportWritingGrades", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @LName = @SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.Grade"), @data_required = "" })
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="md-form md-outline mb-0">
                        <label class="active select-label" for="reportWritingSection">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.Section")</label>
                        @Html.DropDownList("reportWritingSection", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @LName = @SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.Section"), @data_required = "" })
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="md-form md-outline mb-0">
                        <label class="active select-label" for="reportWritingStudent">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Behaviour.StudentList")</label>
                        @Html.DropDownList("reportWritingStudent", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @LName = @SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.Subject"), @data_required = "", @data_live_search="true" })
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-primary m-0" onclick="reportWriting.viewReportWriting()">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Assessment.ViewStudent")</button>
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </div>
</div>