﻿@model SMS.Web.Models.Assessment
@using SMS.Web.Areas.SMS.Model.Common
@using Phoenix.Common.Helpers.Extensions
@using SMS.Web.Models;
@using Phoenix.Common.Localization;
@{
    /**/

    string selectText = SelectSIMSListHelper.GetTerminlogyLabel("Shared.Labels.Select");
}
@{
    ViewBag.Title = "Assessment Entry";
    Layout = "~/Views/Shared/_SIMSLayout.cshtml";

    List<AssessmentCategory> objListofAssessmentCategory = new List<AssessmentCategory>();
    List<SelectListItem> listOfCategories = new List<SelectListItem>();
    if (ViewBag.AssessmentCategories != null)
    {
        objListofAssessmentCategory = ViewBag.AssessmentCategories;
        listOfCategories = objListofAssessmentCategory.ConvertAll(a =>
        {
            return new SelectListItem()
            {
                Text = a.CAT_DESC,
                Value = a.CAT_ID.ToString(),
                Selected = false
            };
        });
    }
}
<style type="text/css" rel="stylesheet">

    .checkbox label .toggle, .checkbox-inline .toggle {
        border-radius: 20px !important;
    }
</style>

@*<link href="~/Content/css/custom/SIMS/custom.css" rel="stylesheet" />*@


    <div class="text-center mb-3 d-none" id="errorMsgLockEntry">
        <span class="error-danger"><i class="fa fa-lock pr-2"></i>Entry has been locked </span>
    </div>
    <div class="clearfix position-relative">
        <div class='row'>
            <div class="col-lg-12 col-md-12 col-12 ">
                    <div class="card">
                        <div class="card-body">
                            <div class="tabPanels">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="gradeEntry-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Grade entry</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="formTutor-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-profile" aria-selected="false">Form tutor</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="reportWriting-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" onclick="reportWriting.init()" aria-selected="false">Report Writing</a>
                                    </li>
                                </ul>
                                <div class="tab-content column-padding pt-3 pb-3" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                        @using (Ajax.BeginForm("InsertAssessmentData", "Assessment", new { area = "Assessment" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onAssessmentSaveSuccess", OnBegin = "ValidateAssessmentData" }, new { id = "frmAddCycle", @class = "form-horizontal" }))
                                        {
                                            <input type="hidden" value="0" name="bEdit" id="hf_bEdit" />
                                            <input type="hidden" name="student_xml" id="hf_Student_XML" value="" />
                                            <input type="hidden" id="strtt_id" value="@ViewBag.strtt_id" />
                                            <div class="col-lg-12 col-sm-12 text-right pt-2 pr-3 pb-2">
                                                <a class="text-sem text-dark pr-3 pl-3 btn btn-sm m-auto waves-effect waves-light text-bold Searchmore d-none" id="toggleGridsearch">
                                                    <i class="fas fa-arrow-alt-circle-left pr-1"></i>Back to search
                                                </a>
                                                @*<input id="toggler" type="checkbox" checked data-toggle="toggle" data-on="Grade Entry" class="white-text" data-off="Form Tutor" data-onstyle="primary" data-offstyle="success" data-style="btn-toggler m-auto" data-width="140px">*@
                                            </div>
                                            <div class="col-lg-12 col-sm-12" id="Datagrid">
                                                @Html.Partial("_AssessmentFiltersPartial")
                                            </div>
                                            <div class="container-fluid mt-2 mb-4" id="loadGrid">
                                                <div class="student-attendance">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-sm-12">
                                                            <div id="divrowbtnsave" class="card shadow-none">
                                                                <div class="card-header p-0">
                                                                    <div class="table-wrapper p-0 divtable">
                                                                        <table id="example" class="table table-striped dt-responsive p-0 nowrap table-bordered" width="100%" cellspacing="0" aria-describedby="example_info">
                                                                            <thead>
                                                                                <tr id="LoadAssessment_H_tr" role="row"></tr>
                                                                            </thead>
                                                                            <tbody id="LoadAssessment_B_tbody" class="accordion text-left"></tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="row" id="divBtnSave">
                                                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                                                        <div class="form-group mt-2 text-center">
                                                                            <button type="submit" id="btnSave" class="btn btn-primary my-4" onclick="SaveAssessmentData()">@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Common.Save")</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                        @Html.Partial("_ReportWritingFilters")
                                        <div id="reportWritingDiv" class="stud-report-writing" style="display: none;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Assessment Grade Entry Start -->
                    @*<div class="card shadow-none">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 text-right pt-2 pr-3 pb-2">
                                <a class="text-sem text-dark pr-3 pl-3 btn btn-sm m-auto waves-effect waves-light text-bold Searchmore d-none" id="toggleGridsearch">
                                    <i class="fas fa-arrow-alt-circle-left pr-1"></i>Back to search
                                </a>
                                <input id="toggler" type="checkbox" checked data-toggle="toggle" data-on="Grade Entry" class="white-text" data-off="Form Tutor" data-onstyle="primary" data-offstyle="success" data-style="btn-toggler m-auto" data-width="140px">
                            </div>
                            <div class="col-lg-12 col-sm-12" id="Datagrid">
                                @Html.Partial("_AssessmentFiltersPartial")
                            </div>
                        </div>
                    </div>*@

                    

                    <div class="modal fade selectCategory" id="selectCategory" tabindex="-1" role="dialog" aria-labelledby="selectCategory" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" style="min-height:256px;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Comment Options</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                @*<div id="divAssessmentComment">

                                    </div>*@
                                <div class="modal-body">
                                    <div class="card-body user-contact-card">
                                        <div class="row">

                                            <div class="form-group col-md-12 col-xs-12 col-sm-3">
                                                <label for="class_id">Select Category</label>
                                                @Html.DropDownList("ddlassessmentCategory", listOfCategories, selectText, new { @class = "form-control form-control-alternative" })

                                            </div>
                                            <div class="form-group col-md-12 col-xs-12 col-sm-12">

                                            </div>

                                        </div>
                                        <div class="row">

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-12">
                                                <div id="divJtableComments">


                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="modal-footer">
                                            <div class="d-flex justify-content-end">
                                                <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@SelectSIMSListHelper.GetTerminlogyLabel("Shared.Buttons.Cancel")</button>
                                                <button type="button" class="btn btn-primary waves-effect waves-light" id="btnSaveTask">Add Comments</button>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Modal popup for Assessment comment*@
                    <div class="modal fade commentbox min-height" id="assesmentComments" tabindex="-1" role="dialog" aria-labelledby="selectCategory" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Comments</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>

                                <div class="modal-body">
                                    <div class="card-body user-contact-card">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-12">
                                                <form>
                                                    <div class="form-group col-md-12 col-xs-12 col-sm-12">
                                                        <p id="prgComments">
                                                            <span class="sub-heading">No Comments Added</span>
                                                        </p>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    @*Modal popup for assessment comment ends here*@
                </div>
                
            <script type="text/javascript" src="~/Content/js/custom/Assessment/AssessmentLoad.js"></script>



        </div>
    </div>



<style>
</style>
<link rel="stylesheet" type="text/css" href="~/Content/css/addons/bootstrap-toggle.css" />
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts{
    <script type="text/javascript" src="~/Content/js/addons/bootstrap-toggle.js"></script>
    <script src="~/Content/js/custom/Assessment/ReportWriting.js"></script>
    <script>
        translatedResources.selectOption = '@SelectSIMSListHelper.GetTerminlogyLabel("Shared.Labels.Select")';
        translatedResources.pleaseResolveError = '@SelectSIMSListHelper.GetTerminlogyLabel("SIMS.Assessment.pleaseResolveAllErrors")';
     function validate_Dropdowns(ddl) {
        if (ddl.val() == '' || ddl.val() == '0') {
            var text = "@selectText" + " " + ddl.attr("LName");
            globalFunctions.showMessage("warning", text);
            return false;
        } else {
            return true;
        }
     }

$(document).ready(function() {
    //$('#btn_View').click(function() {
    //    $('#Datagrid').slideToggle('slow');
    //    $('.Searchmore').removeClass('d-none');
    //    $('#loadGrid').removeClass('d-none');
    //});
    $('#toggleGridsearch').click(function() {
        $('#Datagrid').slideToggle('slow');
        $('.Searchmore').addClass('d-none');
        $('#loadGrid').addClass('d-none');
        $("#errorMsgLockEntry").addClass('d-none');
        $("#toggler").parent().removeClass('d-none');
        $("#strtt_id").val('');
    });
});
    </script>
}