﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    ViewBag.Title = "Grade Book";
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rnd = DateTime.Now.Ticks.ToString();
}

<link href="~/Content/css/addons/fixedColumns.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/css/addons/bootstrap-toggle.css" />
<style>

    .dtHorizontalVerticalExampleWrapper {
        max-width: 600px;
        margin: 0 auto;
    }

    #dtHorizontalVerticalExample th, td {
        white-space: nowrap;
    }

    .table.table-bordered td {
        white-space: inherit;
    }
</style>

<div class="container-fluid mt-2 mb-4 gradeBookFilter">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="title-with-fields">
                        <h3 class="card-title">@ResourceManager.GetString("Assessment.GradeBook.GradeBookTitle")</h3>
                    </div>
                    <div class="column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="row mb-3">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="md-form md-outline mb-0">
                                            @Html.DropDownList("GradeBookAcademicYear", (SelectList)ViewBag.AcademicYear, selectText, new { @class = "selectpicker", @id = "ddlGradeBookAcademicYear" })
                                            <label class="active select-label" for="ddlGradeBookAcademicYear">@ResourceManager.GetString("Assessment.Common.AcademicYear")</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="md-form md-outline mb-0">
                                            @Html.DropDownList("GradeBookTerm", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @id = "ddlGradeBookTerm" })
                                            <label class="active select-label" for="MarkTypeId">@ResourceManager.GetString("Assessment.Common.Term")</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="md-form md-outline mb-0">
                                            @Html.DropDownList("GradeBookReportHeader", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @id = "ddlGradeBookReportHeader" })
                                            <label class="active select-label" for="ddlGradeBookReportHeader">@ResourceManager.GetString("Assessment.Common.ReportHeader")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="md-form md-outline mb-0">
                                            @Html.DropDownList("GradeBookGrade", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @id = "ddlGradeBookGrade" })
                                            <label class="active select-label" for="ddlGradeBookGrade">@ResourceManager.GetString("Assessment.Common.Grade")</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="md-form md-outline mb-0">
                                            @Html.DropDownList("GradeBookSubject", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @id = "ddlGradeBookSubject" })
                                            <label class="active select-label" for="ddlGradeBookSubject">@ResourceManager.GetString("Assessment.Common.Subject")</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="md-form md-outline mb-0">
                                            @Html.DropDownList("GradeBookSubjectGroup", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @id = "ddlGradeBookSubjectGroup" })
                                            <label class="active select-label" for="ddlGradeBookSubjectGroup">@ResourceManager.GetString("Assessment.Common.SubjectGroup")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="md-form md-outline mb-0">
                                            @Html.DropDownList("GradeBookReportSchedule", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @id = "ddlGradeBookReportSchedule" })
                                            <label class="active select-label" for="ddlGradeBookReportSchedule">@ResourceManager.GetString("Assessment.Common.ReportSchedule")</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">

                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-3 col-12">
                                <div class="md-form md-outline mb-0">
                                </div>
                            </div>
                            <div class="container-fluid" id="divoptionalheaders">
                                <div class="clearfix"></div>
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h5 class="panel-title mt-0">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    @ResourceManager.GetString("Assessment.Assessment.AdditionalColumns")
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
                                            <div class="panel-body">
                                                <div class="row" id="collapseOne">
                                                    <div class="col-lg-4 col-md-4 col-12">
                                                        <div class="md-form md-outline mb-0">
                                                            <label class="active select-label" for="ddlGradeBookEntryPreviousReportSchedule">@ResourceManager.GetString("Assessment.Assessment.PreviousSchedule")</label>
                                                            @Html.DropDownList("PreviousReportSchedule", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @multiple = "multiple", id = "ddlGradeBookEntryPreviousReportSchedule", @data_live_search = "true" })
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-12">
                                                        <div class="md-form md-outline mb-0">
                                                            <label class="active select-label" for="ddlGradeBookEntryPreviousOptionalHeaders">@ResourceManager.GetString("Assessment.Assessment.OtherFields")</label>
                                                            @Html.DropDownList("OptionalHeaders", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @multiple = "multiple", id = "ddlGradeBookEntryPreviousOptionalHeaders", @data_live_search = "true" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group text-center">
                                    <button type="button" class="btn btn-primary m-0" onclick="GradeBook.ViewStudents()">@ResourceManager.GetString("Assessment.Assessment.ViewStudents")</button>
                                </div>
                            </div>
                            <div class="col-lg-4">
                            </div>
                        </div>
                        <div class="selected modal">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal commentbox fade min-height" id="assesmentComments">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="card-body user-contact-card">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <form>
                                <div class="form-group col-md-12 col-xs-12 col-sm-12">
                                    <p id="prgComments">
                                        <span class="sub-heading">No Comments Added</span>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="strtt_id" value="@ViewBag.strtt_id" />
<div class="modal fade selectCategory" id="selectCategory">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="min-height:256px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Comment Options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="card-body user-contact-card">
                    <input type="hidden" id="CommentStudentId" />
                    <div class="row">
                        <div class="form-group col-md-12 col-xs-12 col-sm-3">
                            <label for="class_id">Select Category</label>
                            @Html.DropDownList("ddlassessmentCategory", (IEnumerable<SelectListItem>)ViewBag.AssessmentCategories, selectText, new { @class = "form-control form-control-alternative" })
                        </div>
                        <div class="form-group col-md-12 col-xs-12 col-sm-12">
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div id="divJtableComments">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="DivGradeBookEntry" class="gradeBookEntry" style="display: none;">
</div>
<!-- file upload drawer start -->
<div class="file-upload-widget z-depth-1">
    <div class="file-upload-wrapper column-padding pt-3 pb-3 text-center">
        <a href="javascript:void(0)" class="closepanel"><i class="fas fa-times"></i></a>
        <input id="uploadBlogImage2" type="file" multiple>
    </div>
</div>
<!-- file upload drawer end -->
<!-- right drawer for adding marks start -->
<div id="SubExamMarks" class="right-drawer z-depth-1">
    @Html.Partial("_LoadGradeBookEntryForm")
</div>
<!-- right drawer for adding marks end -->
<!-- right drawer start -->
<div id="GradeBookDrawer" class="right-drawer z-depth-1">
    <div class="right-drawer-container" id="divLoadGradeBook">

    </div>
</div>
<!-- right drawer end -->

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section Scripts{
    <script src="@Url.Content("~/Content/js/custom/Assessment/GradeBook.js?rnd="+rnd)"></script>
    <script src="@Url.Content("~/Content/js/custom/Assessment/GradeBookSetup.js?rnd="+rnd)"></script>
    <script src='@Url.Content("~/Content/js/custom/Assessment/GradeBookEntry.js?rnd="+rnd)'></script>
    <script src="~/Content/js/addons/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="~/Content/js/addons/bootstrap-toggle.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //Exam show or hide eye function goes here
            $('.toggle-exam').on('click', function () {
                $(this).toggleClass('fa-eye-slash fa-eye');
            });
            $('.rightDrawer').click(function () {
                $('#examMarks').focus();
            });
            $('[data-toggle="tooltip"]').tooltip({
                //trigger: 'focus',
                html: true
            });
            function calcTWidth() {
                let count = $('[class*="exam-header"]').length;
                eh = 0;
                console.log("count -> " + count);
                for (var i = 1; i <= count; i++) {
                    var txt = eh;
                    var str = eh + i;
                    str = $('.exam-header-' + i).outerWidth() - 1;
                    $('.exam-' + i).width(str);
                    console.log(str);
                }
            }
            setTimeout(calcTWidth, 800);

            $('[data-toggle="popover"]').popover({
                trigger: 'hover'
            });

            $(".rightCol").mCustomScrollbar({
                axis: 'x',
                autoHideScrollbar: true,
                autoExpandScrollbar: true
            });

            $("#examMarks").keyup(function () {
                if ($('#examMarks').val() < 0 || $('#examMarks').val() > 50) {
                    $('#errorMsg').show();
                }
                else {
                    $('#errorMsg').hide();
                }
            });

        });
    </script>
}
