﻿@model List<Phoenix.Common.Models.ContentView>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common
@using Phoenix.Common.Helpers
@{
    ViewBag.Title = ResourceManager.GetString("ContentLibrary.ContentResource.ContentResource");
    ViewBag.headerIcon = "ic-groups title-icon";
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-schoolspaces.svg");
    var rnd = DateTime.Now.Ticks.ToString();
}

<div class="row">
    <div class="col-12">
        <div class="section-title mb-0">
            <h3 class="text-uppercase">@ResourceManager.GetString("ContentLibrary.ContentResource.ContentProvider")</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="search-row justify-content-end pb-2">
            <div class="search-with-bg w-responsive">
                <span class="icon-search"></span>
                <input type="text" id="ContentProviderSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
            </div>
        </div>
    </div>
</div>

<div class="row grid-view pb-2">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card grid-list-card">
            <div class="list-wrapper table-responsive">
                <table class="table mw-100 dataTable no-footer" id="tbl-ContentProvider">
                    <thead class="thead-dark"></thead>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="section-title mb-0">
            <h3 class="text-uppercase">@ResourceManager.GetString("ContentLibrary.ContentResource.GemsResourceLibrary")</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="search-row justify-content-end pb-2">
            <div class="search-with-bg w-responsive">
                <span class="icon-search"></span>
                <input type="text" id="ContentLibrarySearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
            </div>
        </div>
    </div>
</div>

<div class="row grid-view">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card grid-list-card">
            <div class="list-wrapper table-responsive">
                <table class="table mw-100 dataTable no-footer" id="tbl-ContentLibrary">
                    <thead class="thead-dark"></thead>
                </table>
            </div>
        </div>
    </div>
</div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.contentresource = '@ResourceManager.GetString("ContentLibrary.ContentResource.ContentResource")';
        translatedResources.contentName = '@ResourceManager.GetString("ContentLibrary.ContentResource.ContentName")';
        translatedResources.description = '@ResourceManager.GetString("ContentLibrary.ContentResource.Description")';
        translatedResources.contentType = '@ResourceManager.GetString("ContentLibrary.ContentResource.ContentType")';
        translatedResources.createdOn = '@ResourceManager.GetString("ContentLibrary.ContentResource.CreatedOn")';
        translatedResources.attachment = '@ResourceManager.GetString("ContentLibrary.ContentResource.Attachment")';
        translatedResources.subject = '@ResourceManager.GetString("ContentLibrary.ContentResource.Subject")';
        translatedResources.status = '@ResourceManager.GetString("ContentLibrary.ContentResource.Status")';
        translatedResources.assign = '@ResourceManager.GetString("ContentLibrary.ContentResource.Assign")';
        translatedResources.approve = '@ResourceManager.GetString("ContentLibrary.ContentResource.Approve")';
        translatedResources.schoolname = '@ResourceManager.GetString("ContentLibrary.ContentResource.SchoolName")';
        translatedResources.PleaseSelect = '@ResourceManager.GetString("Shared.Messages.PleaseSelect")';

    </script>
    <script src="@Url.Content("~/Content/js/custom/SchoolInfo/ContentProvider.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
