$colorSet3: #FAEDCB, #F7D9C4, #DBCDF0, #F9C6C9, #C9E4DE, #CAF3F6, #E2E2DF, #F2C6DE, #F5D2B7, #E2CFC4, 
            #faf0af, #8bcdcd, #f1c5c5, #c3aed6, #f7c5a8, #84a9ac, #b0cac7, #cedebd, #ffe78f, #ade498, #c7b198, #c4fb6d, #b2b8f3, #F9E79F, #A3E4D7;
$colorSet4: #F2217B,#FF7701,#FFD541,#02D0F7,#0295FF,#00DEA3,#3FAA48,#F178B5,#D9C964,#A15F83;
.async-lesson-builder {
    .process-model {
        background: #f8f4fd;
        list-style: none;
        padding: 0;
        max-width: 100%;
        margin: 0 auto;
        border: none;
        z-index: 0;
        li {
            display: inline-block;
            flex: 1;
            text-align: center;
            float: none;
            position: relative;
            .step-number {
                display: block;
                height: 25px;
                width: 25px;
                text-align: center;
                margin: 0 auto;
                background: #c8b7db;
                border: 2px solid #c8b7db;
                color: $white-base;
                line-height: 1;
                font-size: 20px;
                border-radius: 50%;
                line-height: 1.5;
                position: relative;
                z-index: 1029;
                img {
                    display: none;
                    width: 15px;
                }
            }
            //opacity: 0.5;
            a, p, .step-number {
                font-size: rem($base-font-size);
            }
            a, p {
                color: #c8b7db;
            }
            &:after, &:before {
                background: #c8b7db none repeat scroll 0 0;
                bottom: 0;
                content: "";
                display: block;
                height: 4px;
                margin: 0 auto;
                position: absolute;
                bottom: 10px;
                z-index: -1;
            }
            &:after {
                width: 100%;
                right: -50%;
            }
            &:before {
                left: 50%;
                width: 0;
                @include transition-main(all linear 0.3s);
            }
            &:last-child {
                &:after {
                    width: 0;
                }
            }
            &.active, &.visited {
                opacity: 1;
                color: $primary-color;
                a, p {
                    color: $primary-color;
                    @media (max-width:660px) {
                        min-height:40px;
                    }
                    @media (max-width:360px) {
                        min-height:60px;
                    }
                }
                .step-number {
                    background: $primary-color;
                    border-color: $primary-color;
                }
            }
            &.visited {
                .step-number {
                    span {
                        display: none;
                    }
                    img {
                        display: inline-block;
                    }
                }
                &:before {
                    z-index: 1;
                    width: 100%;
                    background: $primary-color;
                }
            }
            
        }
    }
    .design-process-content {
        position: relative;
        input, textarea {
            &:focus {
                outline: none;
                border: solid 1px $primary-color;
                box-shadow: none;
            }
        }
        .action-buttons {
            .btn-light {
                &:hover {
                    background: $primary-color !important;
                    color: $white-base;
                }
            }
        }
        .added-resources {
            .resource-item {
                @for $i from 1 through length($colorSet3) {
                    &:nth-child(#{$i}) > .resource-card  {
                        background: lighten(nth($colorSet3, $i), 6%);
                        
                    }
                }
            }
            .resource-card {
                padding: 0 30px;
                figure {
                    span {
                        width: 185px;
                        height: 104px;
                        overflow: hidden;
                        margin: 0 auto;
                        svg {
                            width: 56px;
                        }
                    }
                }
            }
            .card-actions {
                i {
                    font-size: 18px;
                }
                a {
                    line-height: 1;
                }
            }
        }
        .resource-thumbs {
            background: #f7f7f7;
            .resource-item {
                width: 100%;
                @for $i from 1 through length($colorSet3) {
                    &:nth-child(#{$i}) > .resource-card  {
                        background: lighten(nth($colorSet3, $i), 6%);
                        
                    }
                }
                /* &.active {
                    border: solid 2px $primary-color;
                    border-radius: rem($default-border-radius * 2);
                } */
            }
            .resource-card {
                padding: 0 30px;
                // max-width: 140px;
                cursor: pointer;
                &.doubt-resource-card {
                    max-width: initial;
                    width: 155px;
                }
                figure {
                    span {
                        width: 100%;
                        height: auto;
                        overflow: hidden;
                        svg {
                            width: 56px;
                        }
                    }
                }
            }
            .card-actions {
                i {
                    font-size: 18px;
                }
                a {
                    line-height: 1;
                }
            }
            .mCSB_container {
                display: flex;
                flex-wrap: wrap;
            }
            .mCSB_outside + .mCSB_scrollTools {
                right: -10px;
            }
        }
        .resourceCarousel {
            background: #f7f7f7;
            min-height: 425px;
            .owl-stage-outer {
                min-height: 425px;
                .owl-stage {
                    height: 100%;
                    .owl-item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                    }
                }
            }
            .owl-nav {
                button {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    display: flex;
                    justify-content: space-between;
                    padding: 0 25px;
                    background: transparent !important;
                    span {
                        border: none;
                        background: transparent;
                        font-size: 60px;
                    }
                    &.owl-next {
                        right: 0;
                    }
                }
            }
            .owl-item {
                img {
                    max-height: 400px;
                    &.svg{
                        max-height: 342px;
                    }
                }
                .svg{
                    width: 95px;
                    height: 120px;
                    margin: 9% auto 0;
                    display: inherit;
                    path{
                        width: 100%;
                    }
                }
            }
        }
        .lesson-details {
            height: 100%;
            .edit-details {
                opacity: 0.5;
                img {
                    width: 14px;
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
        #dateSection {
            .date-icon {
                &:before {
                    top: 40px;
                }
            }
        }
    }
}

.allowed-file-types {
    li {
        .file-type {
            width: 40px;
            height: 40px;
            background: #f4effc;
            img, .svg {
                flex: none;
            }
            .svg {
                width: 18px;
                max-height: 18px;
                path {
                    fill: #8f4fe1;
                }
            }
        }
    }
}
/*-------------------------------------*/
.asyn-table{
    .student-card{
        min-height: auto;
        padding: 0;
        .student-info{
            .badge{
                color: #e51958 !important;
                background-color: #fdf4f8;
                border-radius: 0.625rem;
                padding: 0.3125rem 0.625rem;
                border:1px solid #e51958;
            }
        }
    }
}
.async-modal{
    .modal-dialog{
        max-width: 80%;
        margin: 30px auto;
        @media all and (max-width:767px) {
           max-width: 90%; 
        }
        .modal-content{
            .added-row{
                display: none;
            }
            .modal-header{
                background-color: #fff;
                .modal-title{
                    color: #5d3195;
                }
                .close{
                    color: #5d3195;
                }
                .dropdown.bootstrap-select{
                    margin-top:-2px;
                    .btn.dropdown-toggle{
                        border:none;
                        padding: 0;
                        color: #5d3195;
                        
                        .filter-option-inner-inner{
                            font-weight: 600;
                            font-size: 14px;
                        }
                    }
                }
            }
            table{
                tbody{
                    tr{
                        td{
                            a{
                                text-decoration: underline;
                                color: #3aaaef;
                            }
                        }
                    }
                }
            }
        }
    }
}