/*---------- Behaviour page style---------------------*/
#divStudentListDetails {
    .student-profile-section {
        .student-wrap {
            border-radius: 12px;
            margin-right: 6px;
            .student-behave-wrap {
                position: absolute;
                width: 100%;
                height: 20px;
                span {
                    &.badge {
                        &.badge-outline {
                            font-size: 1rem !important;
                            line-height: 1rem;
                            color: #fff !important;
                            border-radius: 0.375rem !important;
                            border: 0px solid transparent !important;
                        }
                    }
                }
            }
        }
        .student-img {
            width: rem(120px);
            height: rem(120px);
            overflow: hidden;        
        }
        .student-meta {
            padding: rem(0 35px);
            min-height:rem(120px);
            h3 {
                font-size: rem($base-font-size + 2);
                @extend .text-semibold;           
            }
            p {
                font-size: rem($base-font-size - 4);
                line-height: rem(18px);
                @extend .text-medium;
            }
        }
        .student-class-info {
            position: absolute;
            width: 96.5%;
            bottom: 0;
            background: #f9fafa;
            overflow: hidden;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            margin-bottom: 1px;
            h3 {
                font-size: rem($base-font-size);
                @extend .text-semibold;
                // background: lighten($light-grey, 1%);
                span {
                    font-size: rem($base-font-size - 2);
                    color: lighten($base-text-color, 20%);
                }
            }           
        }        
    }
}

/*----------- Behaviour page style ends--------------*/