.course-cata-tab{
    .tab-list{
        background: #f1f5f8;
        display: inline-block;
        vertical-align: top;
        position: relative;
        z-index: 10;
        width: 25%;
        min-width: 10.9375rem;
        @media (max-width:780px) {
            width:100%;
        }
        h3{
            font-size:rem(15px);
            color: #222b45;
        }
        .tabs{
            li{
                span{
                    color:#222b45;
                    font-size: rem(15px);
                    position: relative;
                    &:after{
                        position: absolute;
                        content: "";
                        right:0;top:5px;
                        background-image: path("arrow-up.svg", img/svg);
                        height:7px;
                        width:13px;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        transform: rotate(180deg);
                        transition: transform 0.3s linear;
                    }
                }
                .subject-name-list{
                    display: none;
                    li{
                        a{
                            font-size: rem(14px);
                            color: #160f61;
                            img{
                                width:35px;
                                height:35px;
                                border-radius: rem(7px);
                            }
                        }
                    }
                }
                &.active{
                    span{
                        &:after{
                            transform: rotate(0deg);
                            transition: transform 0.3s linear;
                        }
                    }
                    .subject-name-list{
                        display: block;
                    }
                }
            }
        }
    }
    .tab-container{
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        border-radius: rem(7px);
        .tab-content{
            .catalouge-card{
                .catalouge-info{
                    .card-title{
                        font-size: rem(18px);
                        color: #4b346c;
                    }
                    p{
                        font-size: rem(17px);
                        color: #070707;
                    }
                    .course-duration{
                        border-radius: 4px;
                        border: solid 1px #ded2ed;
                        background-color: #f7f5ff;
                        p{
                            span{
                                color: #4b316c;
                            }
                        }
                    }
                }
                .catalouge-course-info{
                    .catalouge-accordian{
                        &:before{
                            content: none;
                        }
                        .card{
                            border-radius: 4px;
                            border:1px solid #c8c1d1;
                            .card-header{
                                & > h5{
                                    @media (max-width:600px) {
                                        flex-direction:column !important;
                                    }
                                    & > span{
                                        color: #4b316c;
                                        font-size: rem(16px);
                                        @media (max-width:600px) {
                                            width:100%;
                                            text-align: left;
                                        }
                                        #right-drawer-link{
                                            cursor: pointer;
                                        }
                                        .right-drawer-link {
                                            font-size: 16px;
                                            cursor: pointer;
                                        }
                                    }
                                    & > div{
                                        @media (max-width:600px) {
                                            margin-left: 0 !important;
                                            width:100%;
                                            justify-content: space-between;
                                        }
                                        .date-time-info{
                                            span{
                                                font-size: rem(14px);
                                                color: #879091;
                                            }
                                            .dropdown{
                                                .dropdown-toggle{
                                                    &:after{
                                                        content: none;
                                                    }
                                                    i{
                                                        font-size: 16px;
                                                        color: #afaeae;
                                                    }
                                                }
                                                .dropdown-menu{
                                                    left:initial !important;
                                                    right:-100% !important;
                                                    border-radius: 6px;
                                                    -webkit-backdrop-filter: blur(30px);
                                                    backdrop-filter: blur(30px);
                                                    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.16);
                                                    border: solid 1px #d1d1d1;
                                                    .dropdown-item{
                                                        color: #4b366b;
                                                        font-size: rem(13px); 
                                                        .fas.fa-plus{
                                                            display: block;
                                                        }  
                                                    }
                                                }
                                            }
                                            .btn-collapsable{
                                                i{
                                                    font-size: 20px;
                                                }
                                            }
                                            
                                        }
                                    }
                                }
                            }
                            .card-body{
                                @media (max-width:780px){
                                    padding:10px !important;
                                }
                                .subcatalouge-accordian{
                                    &:before{
                                        content:none;
                                    }
                                    .card{
                                        border:none;
                                        @media (max-width:780px){
                                            padding:0 !important;
                                        }
                                        .card-header{
                                            h5{
                                                &> span.text-semibold{
                                                    position: relative;
                                                    padding-left: 5px;
                                                    &:before{
                                                        content: "";
                                                        position: absolute;
                                                        width: 5px;
                                                        height: 5px;
                                                        background-color: $primary-color;
                                                        border-radius: 100%;
                                                        left: -6px;
                                                        top: 6px;
                                                    }
                                                }
                                                .date-time-info{
                                                    span{
                                                        color: #0ea1bc;
                                                    }
                                                }
                                                .btn-collapsable{
                                                    i{
                                                        color: #b6c0c7;
                                                        font-size: 19px;
                                                    }
                                                }
                                            }
                                        }
                                        .card-body{
                                            .subaccordian-content{
                                                
                                            }
                                            .syllabus-wrapper{
                                                .course-part{
                                                    border-bottom: 1px solid #c8c1d1;
                                                    &:last-child{
                                                        border-bottom: none;
                                                    }
                                                    .course-img{
                                                        width: 32px;
                                                        height: 32px;
                                                        border-radius: 4px;
                                                        @media (max-width:780px){
                                                            width: 20px;
                                                            height: 20px;
                                                            img{
                                                                width: 70%;
                                                            }
                                                        }
                                                        &.bg-pink {
                                                            background-color: #fff3e0;
                                                            border: solid 0.5px #f08f2e;
                                                        }
                                                        &.bg-parrot {
                                                            background-color: #eeffdd;
                                                            border: solid 0.5px #40c75a;
                                                        }
                                                    }
                                                }
                                                p{
                                                    color: #000000;
                                                    font-size: rem(14px);
                                                    @media (max-width:780px){
                                                        margin-left: 5px !important;
                                                        font-size: rem(13px);
                                                    }
                                                    .badge{
                                                        height: 18px;
                                                        width: 18px;
                                                        @media (max-width:780){
                                                            margin-left: 5px !important;
                                                        }
                                                    }
                                                }
                                                .dropdown{
                                                    .dropdown-toggle{
                                                        &:after{
                                                            content: none;
                                                        }
                                                        i{
                                                            font-size: 14px;
                                                            color: #afaeae;
                                                        }
                                                    }
                                                    .dropdown-menu{
                                                        left:initial !important;
                                                        right:-100% !important;
                                                        border-radius: 6px;
                                                        -webkit-backdrop-filter: blur(30px);
                                                        backdrop-filter: blur(30px);
                                                        box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.16);
                                                        border: solid 1px #d1d1d1;
                                                        .dropdown-item{
                                                            color: #98a7b2;
                                                            font-size: rem(15px);
                                                            margin-right:5px;
                                                            &:last-of-type{
                                                                margin-right: 0;
                                                            } 
                                                        }
                                                        &.show{
                                                            display: flex;
                                                            min-width:60px;
                                                        }
                                                    }
                                                }
                                            }
                                            
                                        }
                                    }
                                    .activity-card{
                                        background-color: #fcfcfc;
                                        .card-body{
                                            .card-title{
                                                color: #4b316c;
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .subject-grp-wrapper{
                            z-index: 4;
                            right: -23px;
                            .subject-grp-icon{
                                display: none !important;
                            }
                            .show-icon{
                                display: flex !important;
                            }
                            .subject-grp{
                                @media (max-width: 480px){
                                    width: 235px;
                                    margin-right:-235px;
                                    &.show{
                                        margin-right: 0;
                                    }
                                }
                                .subject-subwrapper{
                                    .unit-accordion{
                                        &:before{
                                            content: none;
                                        }
                                    }
                                    .card{
                                        .card-body{
                                            .card-title {
                                                color: #4b316c;
                                            }
                                            .card-subtitle{
                                                font-size: rem(15px);
                                            }
                                            .card{
                                                border-radius: rem(4px);
                                                border: solid 1px #c8c1d1;
                                                &.active{
                                                    border: solid 1px #5d3195;
                                                }
                                                .card-header{
                                                    h5{
                                                        color: #4b316c;
                                                        font-size: rem(13px);
                                                        .plus:after,.plus:before {
                                                            background: #5d3195;
                                                        }
                                                    }
                                                }
                                                .card-body{
                                                    ul{
                                                        li{
                                                            color: #4b316c;
                                                            font-size: rem(12px);
                                                            border-bottom: solid 1px #d9d9da;
                                                            &:last-child{
                                                                border-bottom: none;
                                                            }
                                                            span{
                                                                height: 17px;
                                                                width: 17px;
                                                                border-radius: 100%;
                                                                border: solid 1px #5d3195;
                                                            }
                                                            p{
                                                                width:calc(100% - 20px);
                                                                line-height: 16px;
                                                            }
                                                        }
                                                    }
                                                    p.sub-text{
                                                        font-size: rem(11px);
                                                        color: #4b316c;
                                                        line-height: 14px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.course-catalouge-subject-grp-wrapper {
    z-index : 200;
    margin-top: 24px;
    margin-right: 4px;
    .subject-grp-icon{
        margin: auto;
        //margin-top: 100px;
        display: none !important;
    }
    .show-icon {
        display: flex !important;
    }
    
    .subject-grp {
        height : 80% !important;
        .subject-subwrapper {
            .card {
                .card-body {
                    .card{
                        border-radius: 0.25rem;
                        border: solid 1px #c8c1d1;
                        &.active{
                            border: solid 1px #5d3195;
                        }
                    }
                    .card-header {
                        h5 {
                            color: #4b316c;
                            font-size: 0.8125rem;
                            .plus{
                                &:after{
                                    background: #5d3195;
                                }
                                &:before{
                                    background: #5d3195;
                                }
                            }
                        }
                    }
                    .card-body {
                        ul {
                            li {
                                color: #4b316c;
                                font-size: 0.75rem;
                                border-bottom: solid 1px #d9d9da;
                                p {
                                    width: calc(100% - 20px);
                                    line-height: 16px;
                                }
                            }
                            span {
                                height: 17px;
                                width: 17px;
                                border-radius: 100%;
                                border: solid 1px #5d3195;
                            }
                        }
                        p {
                            &.sub-text {
                                font-size: 0.6875rem;
                                color: #4b316c;
                                line-height: 14px;
                            }
                        }
                    }
                    .card-title {
                        color: #4b316c;
                    }
                    .card-subtitle {
                        font-size: 0.9375rem;
                    }
                }
            }
        }
    }
}
.syllabus-wrapper {
    .subject-name-list {
        max-height: 140px;
    }
}