// .overflow-wrap{
//     overflow-x: hidden;
// }
.create-lesson-container{
    .lesson-form{
        .lesson-card{
            .lesson-card-content{
                .sub-heading{
                    color: #000;
                    font-size:rem(16px);
                }
                .form-group{
                    .form-label{
                        font-size: rem(14px);
                    }
                    .bootstrap-select{
                        .dropdown-toggle,.dropdown-menu{
                            max-width: 100%;
                            min-width: 100%;
                            width: 100%;
                        }
                    }
                    .form-control{
                        max-width: 100%;
                        min-width: 100%;
                        width: 100%;
                    }
                    .add-field-row{
                        .md-form.md-outline{
                            margin-bottom: rem(15px);
                        }
                        .field-checkbox{
                            color: #594c6a;
                            font-size: rem(13px);
                            .custom-control-label{
                                line-height: 21px;
                            }
                        }
                        .add-row-icon{
                            i{
                                color: #594c6a;
                                font-size: rem(20px);
                            }
                        }   
                        .remove-row-icon{
                            i{
                                color: #594c6a;
                                font-size: rem(20px);
                            }
                        }
                    }
                } 
                .objective-list{
                    border-radius: 12px;
                    border: solid 1px #eae5ef;
                    background-color: #f9f8fa;
                    min-height:215px;
                    &.objective-list-left{
                        h4{
                            color: #4b316c;
                            font-size: rem(15px);
                        }
                        ul{
                            border-radius:rem(4px);
                            border: solid 1px #8d6eb4;
                            background-color: #ffffff;
                            li{
                                border-radius:rem(4px);
                                border: solid 1px #2b81e6;
                                background-color: #e5f1ff;
                                color: #2b81e6;
                            }
                        }
                    }
                    &.objective-list-right{
                        ul{
                            li{
                                color: #000;
                                font-size:rem(13px);
                            }
                        }
                    }
                }
            }
        }
        .form-btn-wrapper{
            .btn-primary{
                border: 1px solid #4b316c;
            }
            .btn-cancel {
                color: #4b316c;
                background-color: #fff !important;
            }
        }
    }
}
.subject-grp-wrapper{
    position: absolute;
    right: -4px;
    top: 0;
    overflow:hidden;
    .mCSB_inside > .mCSB_container {
        margin-right: 12px;
    }
    .subject-grp-icon{
        width: 43px;
        height: 45px;
        box-shadow: 0 2px 9px 0 rgba(37, 21, 162, 0.44);
        background-color: #5d3195;
        border-radius: 7px 0 0 7px;
        cursor: pointer;
        i{
            color:#fff;
            font-size: 22px;
        }
    }
    .subject-grp{
        .subject-subwrapper{
            height: 100%;
        }
        &.show{
            margin-right:0;
            transition: margin 0.5s 0.2s ease-out;
        }
        transition: margin 0.5s 0.2s ease-out;
        width:360px;
        height: 550px;
        box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2);
        border: solid 1.5px #bfb8c9;
        background-color: #f9f8fa;
        border-bottom-left-radius: 7px;
        margin-right:-362px;
        @media (max-width:480px) {
            width:300px;
            margin-right:-300px;
        }
        .subject-accordian{
            .card{
                border-radius: rem(4px);
                border: solid 1px #d9d9da;
                background-color: #ffffff;
                .card-header{
                    .btn.btn-header-link{
                        position: relative;
                        h3{
                            color: #4b316c;
                            font-size: rem(15px);
                            span{
                                color: #8d6eb4;
                            }
                        }
                        &:after{
                            content: "\f107";
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 900;
                            float: right;
                            font-size:20px;
                            color:#b6c0c7;
                        }
                        &.collapsed{
                            &:after{
                                content: "\f106";
                            }
                        }
                    }
                }
                .card-body{
                    .content-provider-wrapper{
                        .unit-accordion{
                            .card{
                                border-radius: rem(4px);
                                border: solid 1px #c8c1d1;
                                &.active{
                                    border: solid 1px #5d3195;
                                }
                                .card-header{
                                    h5{
                                        color: #4b316c;
                                        font-size: rem(13px);
                                        .plus:after,.plus:before {
                                            background: #5d3195;
                                        }
                                    }
                                }
                                .card-body{
                                    ul{
                                        li{
                                            color: #4b316c;
                                            font-size: rem(12px);
                                            border-bottom: solid 1px #d9d9da;
                                            &:last-child{
                                                border-bottom: none;
                                            }
                                            span{
                                                height: 17px;
                                                width: 17px;
                                                border-radius: 100%;
                                                border: solid 1px #5d3195;
                                            }
                                            p{
                                                width:calc(100% - 20px);
                                                line-height: 16px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}