.exemplar-card {
    &.card {
        border-radius: rem(4px);
    }
    .card-header {
        position: relative;
        padding-top: rem(25px);
        h6 {
            margin-bottom: 0;
            &.font-16 {
                line-height: 1.45;
            }
        }
        .action-dropdown {
            position: absolute;
            top: rem(19px);
            right: rem(5px);
            .dot-btn {
                padding: rem(5px);
                background: transparent;
                outline: none;
                border: none;
            }
            .dropdown-item {
                display: flex;
                align-items: center;
                font-size: rem($base-font-size - 2);
                padding: rem(0 10px);
                &:active {
                    outline: none;
                    background-color: #f8f9fa;
                }
                .svg {
                    width: 14px;
                    height: 14px;
                    path {
                        fill: #8f9bb3;
                    }
                }
                img {
                    margin-right: rem(10px);
                    width: 14px;
                    ~ span {
                        width: 100%;
                        padding-top: rem(8px);
                        padding-bottom: rem(8px);
                        border-bottom: rem(1px) solid #d1d1d1;
                    }
                }
                &:last-child {
                    img {
                        ~ span {
                            border: 0;
                        }
                    }
                }
            }
        }
        .date-text {
         color: #939393;
        }
        p {
            color: $black;
            text-transform: capitalize;
        }
    }
    .teacher-detail {
        display: flex;
        align-items: center;
        background: #effaff;
        padding: rem(5px 10px 5px 6px);
        border: rem(1px) solid #77caf0;
        border-radius: rem(35px);
        &:not(:last-child) {
            margin-right: rem(12px);
        }
        .teacher-image {
            width: rem(24px);
            height: rem(24px);
            border-radius: 50%;
            margin-right: rem(8px);
        }
        .teacher-name {
            color: #1181b4;
            margin-bottom: 0;
            font-size: rem($base-font-size - 4);
        }
        &.teacher-detail-online {
            background: #f1e6ff !important;
            border: rem(1px) solid #c1b7ce !important;
            .teacher-name {
                color: $primary-color !important;
            }
        }
    }
    .image-container {
        position: relative;
        max-height: rem(261px);
        overflow: hidden;
        img {
            width: 100%;
        }
        .play-label {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: #f23979;
            color: $white;
            width: rem(70px);
            height: rem(70px);
            outline: none;
            border: none;
            border-radius: 50%;
            font-size: rem($base-font-size + 12);
            .fa-play {
                margin-left: rem(7px);
            }
        }
    }
    .wall-carousel {
        &.owl-carousel.owl-theme {
            .owl-dots {
                .owl-dot {
                    &.active span {
                        opacity: 1;
                        background: #7a4fb7;
                        box-shadow: none;
                    }
                    span {
                        opacity: 0.3;
                        background: #727272;
                        border: none;
                    }
                }
            }
        }
    }
    .card-footer {
        padding: rem(10px 24px);
        p {
            color:#393939; 
        }
        .read-more {
            .btn-link {
                font-size: rem($base-font-size - 2);
                color: #7c54f3;
            }
        }
        .category {
            background: #eff6f8;
            padding: rem(5px 15px);
            border-radius: rem(15px);
            font-size: rem($base-font-size - 4);
            font-weight: 600;
            color: #0f2445;
            margin-right: rem(25px);
            border-radius: rem(15px);
            cursor: pointer;
            &:not(:last-child) {
                margin-right: rem(12px);
            }
            img {
                width: rem(19px);
                height: rem(19px);
                margin-right: rem(6px);
            }
        }
        .grey-text {
            color:#939393;
        }
    }
    .subject-list {
        .mCSB_inside > .mCSB_container {
            margin-right: 0;
        }
    }
}

.breadcrumb-search {
    .search-with-bg {
        border: rem(1px) solid #d2e2e8;
        @include media-breakpoint-down(xs) {
            margin-top: rem(10px);
        }
        .icon-search {
            background-size: contain;
            margin-bottom: rem(-4px);
        }
    }
}

.search-row {
    .group-search {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .sort-dropdown {
            margin-right: rem(15px);
            @include media-breakpoint-down(xs) {
                margin-bottom: rem(10px);
                margin-right: 0;
                width: 100%;
            }
            .bootstrap-select {
                min-width: rem(266px) !important;
                @include media-breakpoint-down(xs) {
                    min-width: 100% !important;
                }
            }
            &.school-level {
                .bootstrap-select {
                    .dropdown-toggle {
                        padding-left: rem(103px);
                    }
                }
            }
            &.department {
                .bootstrap-select {
                    .dropdown-toggle {
                        padding-left: rem(104px);
                    }
                }
            }
            &.course {
                .bootstrap-select {
                    .dropdown-toggle {
                        padding-left: rem(66px);
                    }
                }
            }
        }
    }
}

.select-grade {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
        display: block;
        text-align: center;
    }
    ul {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        align-items: center;
        @include media-breakpoint-down(sm) {
            display: inline-block;
        }
    }
}
.icon-btn {
    outline: none;
    padding: 0;
    border: 0;
    background: transparent;
    &:focus {
        outline: none;
    }
    .scale-icon {
        transform: scale(1.4);
    }
    .svg {
        transform: scale(1.2);
        path {
            fill: #9eacb7;
        }
    }
    &:hover {
        .svg {
            path {
                fill: $primary-color;
            }
        }
    }
}

.grid {
    position: relative;
    transition: opacity 0.8s linear 1s;
    margin: 0 -10px;
    .item {
        position: absolute;
        width: 33%;
        height: auto;
        line-height: 1;
        margin: 10px;
        z-index: 1;
        
        @media screen and (min-width: 1920px) {
            width: 32%;
        }
        @media screen and (min-width: 1366px) and (max-width: 1600px) {
            width: 31.5%;
        }
        @include media-breakpoint-between(md, lg) {
            width: 47%;
        }
        @include media-breakpoint-down(md) {
            width: 47%;
        }
        @include media-breakpoint-down(sm) {
            width: 95%;
            margin: rem(0 10px 20px);
        }
        &.muuri-item-hidden {
            z-index: 0;
        }
        &.muuri-item-releasing {
            z-index: 2;
        }
        &.muuri-item-dragging {
            z-index: 3;
        }
        &.muuri-item-dragging {
            .exemplar-card {
                opacity: 0.6 !important;
                outline: dashed 1px $secondary-text-color;
                cursor: grabbing;
            }
        }
        &.muuri-item-releasing {
            .exemplar-card {
                opacity: 1 !important;
            }
        }
    }
}