﻿@model Phoenix.Models.AbuseContactInfo
@using Phoenix.Common.Localization

@{

    ViewBag.Title = ResourceManager.GetString("SecurityManagement.ReportAbuse.ReportAbsue");
    ViewBag.headerIcon = "ic-groups title-icon";
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-report-abuse.svg");
    var rnd = DateTime.Now.Ticks.ToString();
}


<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card min-height">
            <div class="card-body pt-3">
                <div class="title-with-fields pt-1 pb-1">
                    <h3 class="card-title">@ResourceManager.GetString("SecurityManagement.ReportAbuse.ReportAbuseHeading")</h3>
                    <button type="button" id="btnAbuseReport" class="btn btn-primary m-0">@ResourceManager.GetString("SecurityManagement.ReportAbuse.ConcernList")</button>
                </div>
                <div class="row column-padding pt-3 pb-3">
                    <div class="col-6 col-md-6 col-lg-6">
                        <h4>
                            @ResourceManager.GetString("SecurityManagement.ReportAbuse.ContactHeading")
                        </h4>
                        <p>@Model.ContactMessage</p>
                        <p>
                            <strong> @ResourceManager.GetString("SecurityManagement.ReportAbuse.ContactNumber") :</strong>
                            <a href="tel:@Model.ContactNumber">@Model.ContactNumber</a>
                        </p>
                        <p>
                            <strong>@ResourceManager.GetString("SecurityManagement.ReportAbuse.ContactEmail") :</strong>
                            <a href="mailto:@Model.ContactEmail">@Model.ContactEmail</a>
                        </p>
                        <button type="submit" id="btnSOS" data-toggle="tooltip" data-title=@ResourceManager.GetString("SecurityManagement.ReportAbuse.ContactMessage")
                                class="btn btn-danger hoverinfo">
                            @ResourceManager.GetString("SecurityManagement.ReportAbuse.SOS")
                        </button>
                    </div>

                    <div class="col-6 col-md-6 col-lg-6">
                        <h4 class="mb-3">@ResourceManager.GetString("SecurityManagement.ReportAbuse.FormHeading")</h4>
                        @using (Ajax.BeginForm("SendMessage", "ReportAbuse", new AjaxOptions { OnSuccess = "reportAbuse.onSaveSuccess" }, new { area = "Student" }))
                        {
                            <div class="md-form md-outline">
                                @Html.DropDownList("subject", new SelectList(ViewBag.SafetyCategories, "SafetyCategoryName", "SafetyCategoryName"), new { @class = "selectpicker", @data_container = "body", tabindex = 1 })
                                <label class="active select-label">@ResourceManager.GetString("SecurityManagement.ReportAbuse.SafetyCategories")</label>
                            </div>


                            <div class="md-form md-outline">
                                @Html.TextArea("Message", new { @class = "md-textarea form-control", tabindex = 2, rows = 5 })
                                <label for="Message"> @ResourceManager.GetString("SecurityManagement.ReportAbuse.Message")</label>
                            </div>


                            <button type="submit" class="btn btn-outline-primary">@ResourceManager.GetString("SecurityManagement.ReportAbuse.SubmitBtn")</button>

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="@Url.Content("~/Content/js/custom/StudentInformation/ReportAbuse.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    <script type="text/javascript">
        var technicalError = '@ResourceManager.GetString("Shared.Messages.TechnicalError")';
        $(document).ready(function () {
            $(document).on('click', '#btnAbuseReport', function () {
                window.location.href = "/StudentInformation/ReportAbuse/AbuseReportList";
            });

            $(document).on('click', '#btnSOS', function () {
                $.ajax({
                    type: "GET",
                    url: "/StudentInformation/ReportAbuse/SendSOS",
                    dataType: "json",
                    error: function () {
                        globalFunctions.showErrorMessage(technicalError);
                    },
                    success: function (data) {
                        reportAbuse.onSaveSuccess(data);

                    }
                });
            });
        });
    </script>
}

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
