﻿
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    ViewData["Title"] = ResourceManager.GetString("SecurityManagement.CensorFilter.CensorFilters");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-security-management.svg");
    var rnd = DateTime.Now.Ticks.ToString();
}
<link href="~/Content/css/addons/jquery.tag-editor.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="row search-row justify-content-end pb-3">
            <div class="col-md-5 col-12">
                <div class="search-with-bg">
                    <span class="icon-search"></span>
                    <input id="searchBannedWord" type="search" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body min-height">
                <div class="pb-3">
                    <div class="title-with-fields p-2">
                        <h3 class="card-title">@ResourceManager.GetString("SecurityManagement.CensorFilter.BannedWords")</h3>
                    </div>
                </div>
                <div class="pl-2 pr-2">
                    @if (Html.CurrentPagePermission().CanEdit)
                    {
                        <input type="text" class="form-control" id="tagBannedWords" placeholder="@ResourceManager.GetString("SecurityManagement.CensorFilter.EnterBannedWords")" data-initialtags="@ViewBag.InitialBannedWords" />
                    }
                    else
                    {
                        <input type="hidden" id="bannedWords" value="@ViewBag.InitialBannedWords" />
                        <textarea id="bannedwordlist" rows="16" class="form-control" readonly="readonly" placeholder="@ResourceManager.GetString("SecurityManagement.CensorFilter.EnterBannedWords")">@ViewBag.InitialBannedWords</textarea>

                    }
                </div>

            </div>
        </div>
    </div>
</div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.from = '@ResourceManager.GetString("Shared.Labels.From")';
        translatedResources.to = '@ResourceManager.GetString("Shared.Labels.To")';
        translatedResources.date = '@ResourceManager.GetString("Shared.Labels.Date")';
        translatedResources.word = '@ResourceManager.GetString("SecurityManagement.CensorFilter.Word")';
        translatedResources.severity = '@ResourceManager.GetString("SecurityManagement.CensorFilter.Severity")';
        translatedResources.area = '@ResourceManager.GetString("SecurityManagement.CensorFilter.Area")';
        translatedResources.ip = '@ResourceManager.GetString("SecurityManagement.CensorFilter.IP")';
        translatedResources.context = '@ResourceManager.GetString("SecurityManagement.CensorFilter.Context")';
    </script>
    <script src="@Url.Content("~/Content/js/addons/jquery.caret.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/addons/jquery.tag-editor.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/SecurityManagement/CensorFilter.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
