﻿@using Phoenix.Common.Localization
@{
    //Language helper
    var currentSystemLanguage = Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage;
    var langId = currentSystemLanguage.SystemLanguageId;
    var langCode = currentSystemLanguage.SystemLanguageCode;
    var langIsRightToLeft = currentSystemLanguage.IsRightToLeft;
}
<!DOCTYPE html>
<html lang="@langCode" dir="@(langIsRightToLeft ? "rtl" : "ltr")">
<head>
    <!-- META SECTION -->
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/fontAwesome.min.css")" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    @Styles.Render("~/Content/bootstrapcore")
    <!--switch language css -- defualt English-->
    <link href="@(langId == 2 ? Url.Content("~/Content/VLE/css/bootstrap-rtl.css") : Url.Content("~/Content/VLE/css/bootstrap.min.css"))" rel="stylesheet">
    @Styles.Render("~/Content/main-teacher")

    <!-- EOF CSS INCLUDE -->
</head>
<body>

    <main class="pl-0">
        <div class="container-fluid mt-2 mb-4">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <!-- add incident accordians start -->
                    <div class="row add-incident-steps">
                        <div class="col-lg-12 col-md-12 col-12">
                           

                                <!-- Basic details start -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="img-text-wrapper">
                                            <img src="~/Content/VLE/img/500.png" alt="" class="pb-3 no-page-found-img">
                                            <p class="no-permission-text-color-dark">@ResourceManager.GetString("Shared.Messages.InternalServer")</p>
                                            <p class="no-permission-text-color-light">@ResourceManager.GetString("Shared.Messages.ServerEncounter")<br>@ResourceManager.GetString("Shared.Messages.Apologize")</p>
                                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="location.href='/Home'">@ResourceManager.GetString("Shared.Labels.Back")</button>
                                        </div>
                                    </div>

                                </div>

                         
                        </div>
                        <!-- add incident accordians end -->
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer start -->
    <footer class="p-0 page-footer">
        <p class="m-0 text-center">&copy; @ResourceManager.GetString("Shared.Labels.Copyright")</p>
    </footer>
    <!-- footer end -->
    <!-- SCRIPTS -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
    <script type="text/javascript" src="js/popper.min.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
    <script type="text/javascript" src="js/bootstrap.min.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
    <script type="text/javascript" src="js/mdb.min.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
</body>
</html>