﻿@using Phoenix.Common.Localization
@model  IEnumerable<Phoenix.VLE.Web.Areas.SMS.Model.SiblingDetails>
@if (Model != null)
{
    <div class="card-header p-0 border-bottom1">
        <div class="row align-items-center p-2">
            <div class="col-lg-8">
                <h3 class="mb-0">Sibling Info</h3>
            </div>
            <div class="col text-right">
                @*<a href="#!" class="btn btn-sm btn-primary">See all</a>*@
            </div>
        </div>
    </div>

    <ul class="list-unstyled team-members">

        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {

                <li class="border-bottom1">
                    <div class="row">
                        <div class="col-md-2 col-2">
                            <div class="avatar">
                                <img src="@item.STU_PHOTOPATH" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </div>
                        </div>
                        <div class="col-md-9 col-7">
                            <a href="#">@item.STU_NAME</a>
                            <br>
                            <span class="small"> @item.BSU_NAME</span>
                            <span class="text-muted">
                                <div class="small">

                                    <div class="card-sib-stats d-flex">
                                        <div>
                                            <span class="heading">@item.GRD_DISPLAY</span>
                                            <span class="description">Class</span>
                                        </div>
                                        <div>
                                            <span class="heading">@item.SCT_DESCR</span>
                                            <span class="description">Section</span>
                                        </div>
                                        <div>
                                            <span class="heading">@item.Age</span>
                                            <span class="description">Age</span>
                                        </div>
                                    </div>

                                </div>
                            </span>
                        </div>
                        <div class="col-md-1 col-3 text-right">
                            <btn class="btn-sm btn-outline-primary btn-round p-0 border-0"><i class="fa fa-ellipsis-v"></i></btn>
                        </div>
                    </div>
                </li>
            }
        }
        else
        {
            <li>  <h3 class="sub-heading text-center font-small">No data </h3></li>
        }
        </ul>
}