﻿@using Phoenix.Common.Localization
@model  IEnumerable<Phoenix.VLE.Web.Areas.SMS.Model.ActivitiesDetails>
@if (Model != null)
{
    <div class="card-header p-0 border-bottom1 m-0">
        <div class="row align-items-center p-2">
            <div class="col-lg-8">
                <h3 class="mb-0">Activities</h3>
            </div>
            <div class="col-lg-4 text-right">
                @*<a href="#!" class="btn btn-sm btn-primary">See all</a>*@
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Activity</th>
                    <th scope="col">Day's</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {


                        <tr>
                            <th scope="row">
                                <span tooltip="@item.ALD_EVENT_DESCR">@item.ALD_EVENT_NAME</span>
                            </th>
                            <td>
                                @item.Days_Total
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2">@item.PercentageCompletion%</span>
                                    <div>
                                        <div class="progress">
                                            @if (Convert.ToDecimal(item.PercentageCompletion) > 50)
                                            {<div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="@item.PercentageCompletion" aria-valuemin="0" aria-valuemax="100" style="width:@item.PercentageCompletion%;"></div>

                                            }
                                            else
                                            { <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="@item.PercentageCompletion" aria-valuemin="0" aria-valuemax="100" style="width:@item.PercentageCompletion%;"></div>

                                            }
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" align="center"> <h3 class="sub-heading">No data </h3></td>
                    </tr>

                }

               
            </tbody>
        </table>
    </div>



}