﻿@using Phoenix.Common.Localization
@model  IEnumerable<Phoenix.VLE.Web.Areas.SMS.Model.ClassList>
<style>
    .student-profile-section .student-meta {
        padding: 0 0.25rem;
        min-height: 130px;
    }

    .card .card-body h3 {
        font-weight: 500;
        line-height: 1.5rem;
    }
</style>
@if (Model != null)
{

    <div class="container-fluid mt-2 mb-4">
        <!-- student profile section start -->
        <div class="row student-profile-section">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card bg-transparent border-0">
                    <div class="card-body">
                        <div class="row ml-0 mr-0">
                            <!-- student details start -->
                            @foreach (var item in Model)
                            {
                                <div class="col-xl-3 col-lg-3 col-md-3 col-12 px-0 text-center border mb-2 bg-white">
                                    <div class="student-img rounded-circle border mt-3 mx-auto">
                                        <a href="#"> <img src="@item.Student_Image_url" alt="@item.Student_Name" class="img-fluid"></a>
                                    </div>
                                    <div class="student-meta mt-3">
                                        <h3 class="mb-0"><a href="/ClassList/GetStudentDetails?stu_id = @item.Student_ID">@item.Student_Name</a></h3>
                                        <p class="mb-1">ID : @item.Student_No</p>
                                        <h3 class="mb-0">@(item.Student_Grade+"-"+item.Student_Section)</h3>
                                    </div>
                                    <div class="student-class-info d-flex justify-content-around border-top">
                                        <h3 class="m-0 w-100 pt-2 pb-2 border-right cursor-pointer" data-toggle="tooltip" title="Student Profile">
                                            <i class="fa fa-user text-primary" onclick="window.open('@Url.Action("GetStudentDetails", "ClassList", new { stu_id = item.Student_ID })')"></i>
                                        </h3>
                                        <h3 class="m-0 w-100 pt-2 pb-2 border-right cursor-pointer" data-toggle="tooltip" title="Student Attendance">
                                            <i class="fa fa-calendar-alt text-primary" onclick="window.open('@Url.Action("StudentHistory", "ClassList", new { id = item.Student_ID })')">

                                            </i>
                                        </h3>
                                        <h3 class="m-0 w-100 pt-2 pb-2 border-right cursor-pointer" data-toggle="tooltip" title="Student Achievement">
                                            <i class="fa fa-thumbs-up text-primary" onclick="StudentBehaviour.openSelectedModal(@item.Student_ID)">
                                            </i>
                                        </h3>
                                        <h3 class="m-0 w-100 pt-2 pb-2 d-none">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="selectChild" />
                                                <label class="custom-control-label" for="selectChild"></label>
                                            </div>
                                        </h3>
                                    </div>
                                </div>
                            }

                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- student profile section end -->





    </div>
}


