﻿@using Phoenix.Common.Localization
@model  Phoenix.VLE.Web.Areas.SMS.Model.AttendanceChartMain
@{
    /**/

    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}
@if (Model != null)
{
    <div class="card shadow-none">
        <div class="card-header bg-transparent p-0">
            <div class="row align-items-center p-0">
                <div class="col-lg-12">
                    <h3 class="card-title mt-0">Attendance</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- Chart -->
            <canvas id="attendChartMonthly" height="350"></canvas>
        </div>
    </div>
}


<script>



    $(document).ready(function () {
    //-------- Column chart ---------
    //Get the context of the Chart canvas element we want to select
        var ctx = $("#attendChartMonthly");
        ctx.height(350);
    // Chart Options
    var chartOptions = {
        // Elements options apply to all of the options unless overridden in a dataset
        // In this case, we are setting the border of each bar to be 2px wide and green
        elements: {
            rectangle: {
                borderWidth: 1,
                borderColor: 'rgb(0, 255, 0)',
                borderSkipped: false
            }
        },
        layout: {
            padding: {
                left: 0,
                right: 0,
                top: 0,
                bottom: 0
            }
        },
        responsive: true,
        maintainAspectRatio: false,
        responsiveAnimationDuration: 500,
        legend: {
            display: true,
            position: 'bottom',
            labels : {
                boxWidth: 10,
                usePointStyle: false
            },
        },
        scales: {
            xAxes: [{
                display: true,
                gridLines: {
                    color: "#f3f3f3",
                    drawTicks: true,
                },
                scaleLabel: {
                    display: true,
                },
                barThickness: 15
            }],
            yAxes: [{
                display: true,
                gridLines: {
                    color: "#f3f3f3",
                    drawTicks: true,
                },
                scaleLabel: {
                    display: true,
                },
                // ticks: {
                //     max: 500,
                //     min: 0,
                //     stepSize: 100
                // }
            }]
        },
        //title: {
            //display: true,
            //text: 'Attendance Chart',
            //fontFamily: 'inherit'
        //}
    };

    // Chart Data
    var chartData = {
        //labels: ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEPT", "OCT", "NOV", "DEC"],
        labels: @Html.Raw(Json.Encode(@Model.AttendanceChart.Select(s=>s.TMONTH).ToList())),
        datasets: [ {
            label:"@Model.ACD_YEAR_DESC",
            data:@Html.Raw(Json.Encode(@Model.AttendanceChart.Select(s=>s.TOT_ATT).ToList())),
            backgroundColor: "#FF9850",
            hoverBackgroundColor: "#FF9850",
            borderColor: "transparent",
            borderWidth: 0
        }]
    };

    var config = {
        type: 'bar',
        // Chart Options
        options : chartOptions,
        data : chartData
    };

    // Create the chart
    var lineChart = new Chart(ctx, config);
});
</script>