﻿@model Phoenix.VLE.Web.Models.SchoolEventEdit
@using Phoenix.Common.Localization
@{
    ViewBag.Title = ResourceManager.GetString("Events.SchoolEvent.SchoolEventDetail");
    var rnd = DateTime.Now.Ticks.ToString();
}
<style>
    .min-height-container{
        min-height:500px;
    }
</style>
<div class="container-fluid mt-4 mb-4 sinle-page-section">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body column-padding pt-3 pb-3 min-height-container">
                    <div class="blog-content-sec">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <h3 class="blog-title">@Model.Title</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12 text-right mb-2">
                                <ul class="blog-min-details">

                                    <li class="blog-date-time">
                                        <i class="far fa-calendar-alt"></i> @Model.StartDate.ToString("dd MMM yyyy") / @Model.StartTime
                                    </li>
                                    <li class="category">
                                        <span class="cat-education text-uppercase">@Model.EventCategory</span>
                                    </li>
                                    <li class="">
                                        <span class="text-uppercase">@Model.Duration</span>
                                    </li>
                                    @if (Model.ResourceFile != "")
                                    {
                                        <li class="">
                                            <span class="text-uppercase"><a href="~/Uploads/SchoolEventUploads/@Model.ResourceFile"><i class="fas fa-paperclip"></i></a></span>
                                        </li>
                                    }

                                </ul>
                                <hr class="mb-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12 mb-4">
                                <p>@Model.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    @section pageplugins{
        @Html.Partial("_DataPageLibrariesPartial")
    }
    @section scripts
{
        <script src="@Url.Content("~/Content/js/addons/bootstrap-datepicker.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
        @*<script src="~/Content/js/addons/bootstrap-datetimepicker.min.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>*@
        <script src="@Url.Content("~/Content/js/addons/bootstrap-timepicker.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
        <script src="@Url.Content("~/Content/js/custom/Events/SchoolEventsDetail.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
        <script>
     $(function () {
         var model = @Html.Raw(Json.Encode(Model));
         loadRadioButton(model);
     });
        </script>

    }
