﻿@model Phoenix.VLE.Web.Models.SchoolEventEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers;

@{
    ViewBag.Title = ResourceManager.GetString("Events.SchoolEvent.SchoolEvent");
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rnd = DateTime.Now.Ticks.ToString();
}
@using (Ajax.BeginForm("SaveSchoolEvent", "SchoolEvents", new AjaxOptions { OnSuccess = "globalFunctions.onSuccess" }, new { id = "frmAddEditSchoolEvent", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.EventId)
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <h3>@ResourceManager.GetString("Events.SchoolEvent.SchoolEventHeading")</h3>

        </div>

        <div class="col-lg-7 col-md-7 col-7">
            <div class="card">
                <div class="card-body">
                    <div class="row m-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <h3>
                                @ResourceManager.GetString("Events.SchoolEvent.EventTimes")
                            </h3>
                            @if (SessionHelper.CurrentSession.IsAdmin)
                            {
                                <div class="md-form md-outline col-3">
                                    <select class="selectpicker" id="EventTypeId" name="EventTypeId">
                                        <option value="1">@ResourceManager.GetString("Events.SchoolEvent.SchoolEvent")</option>
                                        <option value="2">@ResourceManager.GetString("Events.SchoolEvent.PersonalEvent")</option>
                                    </select>
                                </div>
                            }
                            <div class="row">
                                <div class="md-form md-outline col-3 date-time-picker">
                                    @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control date-picker" })
                                    <label>@ResourceManager.GetString("Events.SchoolEvent.StartDate")</label>
                                    @Html.ValidationMessageFor(m => m.StartDate)
                                </div>
                                <div class="md-form md-outline col-2 date-time-picker">
                                    @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control time-picker" })
                                    <label>@ResourceManager.GetString("Events.SchoolEvent.StartTime")</label>
                                    @Html.ValidationMessageFor(m => m.StartTime)
                                </div>
                                <div class="md-form md-outline col-3">
                                    @Html.DropDownListFor(m => m.DurationId, new SelectList(ViewBag.DurationList, "Id", "Duration"), ResourceManager.GetString("Events.SchoolEvent.DurationId"), new { @class = "selectpicker" })
                                    @Html.ValidationMessageFor(m => m.DurationId)
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-12">
                            <h3>
                                @ResourceManager.GetString("Events.SchoolEvent.Eventdetails")
                            </h3>
                            <div class="row">
                                <div class="md-form md-outline col-6">
                                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                    <label>@ResourceManager.GetString("Events.SchoolEvent.Title")</label>
                                    @Html.ValidationMessageFor(m => m.Title)
                                </div>
                                <div class="md-form md-outline col-6">
                                    @Html.DropDownListFor(m => m.EventCategoryId, new SelectList(ViewBag.EventCategoryList, "Id", "Name"), @ResourceManager.GetString("Events.SchoolEvent.EventCategoryId"), new { @class = "selectpicker" })
                                    @Html.ValidationMessageFor(m => m.EventCategoryId)

                                </div>
                                <div class="md-form md-outline col-12">
                                    @Html.TextAreaFor(m => m.Description, new { @class = "md-textarea form-control" })
                                    <label>@ResourceManager.GetString("Events.SchoolEvent.Description")</label>
                                </div>
                            </div>
                        </div>
                        <div class="fileuploader">
                            <div class="col-md-12 padding-0">
                                <div class="input-group">
                                    <a class="file-input-wrapper btn btn-default fileinput">
                                        <span><i class="fa fa-upload"></i> @ResourceManager.GetString("Shared.Buttons.Upload")</span>
                                        @Html.TextBoxFor(m => m.ResourceFileUploade, new { @type = "file" })
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                            <button id="btnSave" type="submit" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light">@ResourceManager.GetString("Events.SchoolEvent.AddEvent")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-5">
            <div class="card">
                <div class="card-body">
                    <div class="row m-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <h3>
                                @ResourceManager.GetString("Events.SchoolEvent.EventImportance")
                            </h3>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="Normal" name="EventPriority" value="Normal" checked>
                                        <label class="custom-control-label" for="Normal"> @ResourceManager.GetString("Events.SchoolEvent.Normal")</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="Important" name="EventPriority" value="Important">
                                        <label class="custom-control-label" for="Important"> @ResourceManager.GetString("Events.SchoolEvent.Important")</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="Urgent" name="EventPriority" value="Urgent">
                                        <label class="custom-control-label" for="Urgent"> @ResourceManager.GetString("Events.SchoolEvent.Urgent")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 mt-3">
                            <h3>
                                @ResourceManager.GetString("Events.SchoolEvent.ForTeachersOnly")
                            </h3>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12 mt-2">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="IsTeacherVisibleYes" name="IsTeacherVisible" value="Yes" checked>
                                        <label class="custom-control-label" for="IsTeacherVisibleYes"> @ResourceManager.GetString("Events.SchoolEvent.IsTeacherVisibleYes")</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="IsTeacherVisibleNo" name="IsTeacherVisible" value="No">
                                        <label class="custom-control-label" for="IsTeacherVisibleNo"> @ResourceManager.GetString("Events.SchoolEvent.IsTeacherVisibleNo")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 mt-3">
                            <h3>
                                @ResourceManager.GetString("Events.SchoolEvent.RepeatingEvents")
                            </h3>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12 mt-2">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="Daily" name="EventRepeatTypeId" value="1">
                                        <label class="custom-control-label" for="Daily"> @ResourceManager.GetString("Events.SchoolEvent.Daily")</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="Weekly" name="EventRepeatTypeId" value="2">
                                        <label class="custom-control-label" for="Weekly"> @ResourceManager.GetString("Events.SchoolEvent.Weekly")</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="Fortnightly" name="EventRepeatTypeId" value="3">
                                        <label class="custom-control-label" for="Fortnightly"> @ResourceManager.GetString("Events.SchoolEvent.Fortnightly")</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="Monthly" name="EventRepeatTypeId" value="4">
                                        <label class="custom-control-label" for="Monthly"> @ResourceManager.GetString("Events.SchoolEvent.Monthly")</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 mt-2">
                                    @ResourceManager.GetString("Events.SchoolEvent.Repeat")
                                    <select class="form-control col-3" name="EventRepeatTimes">
                                        <option value="None">@ResourceManager.GetString("Events.SchoolEvent.None")</option>
                                        @for (var i = 1; i < 53; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    @ResourceManager.GetString("Events.SchoolEvent.Times")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script src="@Url.Content("~/Content/js/addons/bootstrap-datepicker.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    @*<script src="~/Content/js/addons/bootstrap-datetimepicker.min.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>*@
    <script src="@Url.Content("~/Content/js/addons/bootstrap-timepicker.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Events/SchoolEvents.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

}
