﻿
@model IEnumerable<Phoenix.Models.AdobeConnectMeeting>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@{
    var currentDateTime = DateTime.Now;
    var meetingBaseUri = System.Configuration.ConfigurationManager.AppSettings["ConnectNowUrlBase"].ToString();
}

<div class="modal-body">
    <div class="popup-form">
        <div class="row">
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th>@ResourceManager.GetString("SchoolGroup.SchoolGroup.MeetingName")</th>
                        <th>@ResourceManager.GetString("SchoolGroup.SchoolGroup.MeetingStartDateTime")</th>
                        <th>@ResourceManager.GetString("SchoolGroup.SchoolGroup.MeetingEndDateTime")</th>
                        <th>@ResourceManager.GetString("Shared.Labels.Status")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        TimeSpan meetingStartTime = Convert.ToDateTime(item.StartDateTime) - currentDateTime;
                        TimeSpan meetingEndTime = Convert.ToDateTime(item.EndDateTime) - currentDateTime;
                        var isMeetingExpired = (meetingEndTime.Minutes <= 0);
                        <tr>
                            <td>@item.MeetingName</td>
                            <td>@Convert.ToDateTime(item.StartDateTime).ToString("dd-MMM-yyyy hh:mm tt")</td>
                            <td>@Convert.ToDateTime(item.EndDateTime).ToString("dd-MMM-yyyy hh:mm tt")</td>
                            <td>
                                @{var lessonStatusResourceName = isMeetingExpired ? "Expired" : (meetingStartTime.Minutes > 0 ? "NotStarted" : "Started");}
                                @ResourceManager.GetString("SchoolGroup.SchoolGroup." + lessonStatusResourceName)
                            </td>
                            <td>
                                @if (!isMeetingExpired)
                                {
                                    <a href="javascript:void(0)" class="btn btn-success btn-sm" onclick="window.open('@(meetingBaseUri+item.MeetingUrlSegment)')">
                                        @ResourceManager.GetString("SchoolGroup.SchoolGroup.Join")
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                    @if (!Model.Any())
                    {
                        <tr>
                            <td colspan="4">
                                @ResourceManager.GetString("Shared.Labels.NoRecords")
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>

    </div>
</div>
