﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.SchoolGroup>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{
    var pageSearchClass = SessionHelper.CurrentSession.IsStudent() ? "page-search" : "task-search";
}

<div class="card">
    <div class="card-body">
      
        <div class="@pageSearchClass column-padding pt-2 pb-2">
            <div class="row">
               
                <div class="align-items-center col-12 col-lg-9 col-md-9 d-flex justify-content-end" @*class="col-lg-9 col-md-9 col-9"*@>
                    <div class="flex-1 search-wrapper">
                        <i class="fas fa-search active"></i>
                        <input data-url="@(string.Format(Model.LoadPageRecordsUrl,1,Model.SearchString))" value="@Model.SearchString" id="searchContent" type="text" class="search-field custom" placeholder="@ResourceManager.GetString("SchoolGroup.SchoolGroup.SearchGroup")">
                    </div>
                  
                </div>
            </div>
        </div>

        <div class="library-data pt-3 pb-3">
            <div id="library" class="row view-group">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="user-groups column-padding">
                        <div id="groupContainer">
                            @{
                                var pageRecords = Model.PageRecords;
                            }
                            <div class="row align-content-start">
                                @if (pageRecords.Count() > 0)
                                {

                                    foreach (var item in pageRecords)
                                    {
                                        var setNewTag = false;
                                        var grpName = "";
                                        if (!string.IsNullOrEmpty(item.TeacherGivenName))
                                        {
                                            grpName = item.TeacherGivenName;
                                        }
                                        else
                                        {
                                            grpName = item.SchoolGroupDescription;
                                        }
                                        if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                                        {
                                            if (!item.IsSeenByTeacher)
                                            {
                                                setNewTag = true;
                                            }

                                        }
                                        else if (SessionHelper.CurrentSession.IsStudent())
                                        {
                                            if (!item.IsSeenByStudent)
                                            {
                                                setNewTag = true;
                                            }
                                        }
                                        else if (SessionHelper.CurrentSession.IsParent())
                                        {
                                            if (!item.IsSeenByParent)
                                            {
                                                setNewTag = true;
                                            }
                                        }

                                        <div class="col-xl-4 col-lg-4 col-md-6 col-12 mb-3 item search-item group-content">
                                            <div class="group-details">
                                                <span class="group-initial">
                                                    @{
                                                        var subName = (!string.IsNullOrWhiteSpace(item.SubjectName) ? item.SubjectName : item.SchoolGroupName);
                                                    }
                                                    <h3>@subName.Substring(0, 2).ToUpper()</h3>
                                                </span>
                                                <span class="group-meta">
                                                    <h4>
                                                        <a title="@item.SchoolGroupName" href="@Url.Content("/files/files/groups?grId="+Phoenix.Common.Helpers.EncryptDecryptHelper.EncryptUrl(Convert.ToString(item.SchoolGroupId)))">
                                                            @if (grpName.Length > 65)
                                                            {
                                                                @(string.IsNullOrEmpty(grpName) == true ? "" : grpName.ToUpper().Replace("_", " /").Substring(0, 65))
                                                            }
                                                            else
                                                            {
                                                                @(string.IsNullOrEmpty(grpName) == true ? "" : grpName.ToUpper().Replace("_", " /"))
                                                            }
                                                        </a>
                                                    </h4>
                                                    <p>@item.SubjectName</p>

                                                </span>
                                                <div class="dropdown more-group-actions ">
                                                    @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                                                    {
                                                        <a class="toggleMenu" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-boundary="viewport">
                                                            <i class="fas fa-ellipsis-v"></i>
                                                        </a>
                                                        <div class="dropdown-menu z-depth-1 border-0">
                                                            <div class="pl-3 pr-3">
                                                                <h6 class="dropdown-header p-0 text-left">@ResourceManager.GetString("Shared.Buttons.View")</h6>
                                                                <div class="submenu">
                                                                    <a class="dropdown-item" href="javascript:void(0);" onclick="groups.loadStudentList($(this),@item.SchoolGroupId)">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Students")</a>
                                                                </div>
                                                                @*@if (item.IsManager)
                                                                {
                                                                    <div class="submenu">
                                                                        <a class="dropdown-item" href="/SchoolStructure/SchoolGroups/SchoolGroupMessages?groupId=@EncryptDecryptHelper.EncryptUrl(item.SchoolGroupId)">Messages</a>
                                                                    </div>
                                                                }
                                                                <div class="dropdown-divider"></div>*@
                                                                @*<h6 class="dropdown-header p-0 text-left">Edit</h6>
                                                                <div class="submenu">
                                                                    <a class="dropdown-item" href="javascript:void(0);" id="btnEditGroup" onclick="groups.editgroups($(this),@item.SchoolGroupId)">Group</a>

                                                                </div>
                                                                @if (item.IsManager)
                                                                {
                                                                    <div class="dropdown-divider"></div>
                                                                    <h6 class="dropdown-header p-0 text-left">Send</h6>
                                                                    <div class="submenu">
                                                                        <a class="dropdown-item" href="javascript:void(0);" id="btnEditGroup" onclick="groups.sendGroupMessage($(this),@item.SchoolGroupId)">Message</a>

                                                                    </div>
                                                                }*@

                                                            </div>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>

                                    }
                                }
                                else
                                {
                                    <span>@ResourceManager.GetString("Shared.Labels.NoRecords")</span>
                                }
                            </div>
                        </div>
                        @Html.Partial("_PaginationIndex", Model)
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>