﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.SchoolGroup>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{
    var pageSearchClass = SessionHelper.CurrentSession.IsStudent() ? "page-search" : "task-search";
}

<div class="card">
    <div class="card-body">
        <div id="divappendajaxDresult">
            <div class="@pageSearchClass column-padding pt-2 pb-2">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <h4 class="card-title border-0 p-0 mt-2 mb-3 mb-sm-0">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolPageOtherSectionTitle")</h4>
                    </div>
                    <div class="align-items-center col-12 col-lg-9 col-md-9 d-flex justify-content-end">
                        <div class="flex-1 search-wrapper">
                            <i class="fas fa-search active"></i>
                            <input data-url="@(string.Format(Model.LoadPageRecordsUrl,1,Model.SearchString))" value="@Model.SearchString" id="searchContent" type="text" class="search-field custom" placeholder="@ResourceManager.GetString("SchoolGroup.SchoolGroup.SearchGroup")">
                        </div>
                        @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                        {
                            <a href="/SchoolStructure/SchoolGroups/AddEditSchoolGroupForm" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 ml-2 waves-effect waves-light">@ResourceManager.GetString("SchoolGroup.SchoolGroup.AddSchoolGroup")</a>
                        }
                    </div>

                </div>
            </div>


            <div class="library-data pt-3 pb-3 @(Model.PageRecords.Any() ?  "" : "")">
                <div id="library" class="row view-group">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="user-groups column-padding ">
                            <div id="groupContainer">
                                @Html.Partial("_BeSpokeGroups", Model.PageRecords)

                                @Html.Partial("_PaginationIndex", Model)
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>