﻿@model Phoenix.VLE.Web.EditModels.ConnectNowMeetingEdit
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers.Extensions;
@{
    string meetingBaseUri = System.Configuration.ConfigurationManager.AppSettings["ConnectNowUrlBase"].ToString();
}

@using (Ajax.BeginForm("SaveConnectNowMeeting", "SchoolGroups", new AjaxOptions { OnFailure = "globalFunctions.onFailure", OnSuccess = "schoolGroup.onOnlineMeetingSaveSuccess" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SchoolGroupId)
    <div class="modal-body">
        <div class="popup-form">
            <div class="row">
                <div class="col-lg-4 col-md-4 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(x => x.MeetingName, new { @class = "form-control" })
                        @Html.LocalizedLabel("active", "SchoolGroup.SchoolGroup.MeetingName")
                        @Html.ValidationMessageFor(x => x.MeetingName)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col">
                    <div class="md-form md-outline date-time-picker">
                        @Html.TextBoxFor(x => x.MeetingStartDate, new { @class = "form-control date-picker", @autocomplete = "off" })
                        @Html.LocalizedLabel("active", "SchoolGroup.SchoolGroup.MeetingStartDate")
                        @Html.ValidationMessageFor(x => x.MeetingStartDate)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col">
                    <div class="md-form md-outline date-time-picker">
                        @Html.TextBoxFor(x => x.MeetingStartTime, new { @class = "form-control date-picker1", @autocomplete = "off" })
                        @Html.LocalizedLabel("active", "SchoolGroup.SchoolGroup.MeetingStartTime")
                        @Html.ValidationMessageFor(x => x.MeetingStartTime)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col">
                    <div class="md-form md-outline date-time-picker">
                        @Html.TextBoxFor(x => x.MeetingEndDate, new { @class = "form-control date-picker", @autocomplete = "off" })
                        @Html.LocalizedLabel("active", "SchoolGroup.SchoolGroup.MeetingEndDate")
                        @Html.ValidationMessageFor(x => x.MeetingEndDate)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col">
                    <div class="md-form md-outline date-time-picker">
                        @Html.TextBoxFor(x => x.MeetingEndTime, new { @class = "form-control date-picker1", @autocomplete = "off" })
                        @Html.LocalizedLabel("active", "SchoolGroup.SchoolGroup.MeetingEndTime")
                        @Html.ValidationMessageFor(x => x.MeetingEndTime)
                    </div>
                </div>
                @*<div class="col-lg-4 col-md-4 col">
                    <div class="md-form md-outline date-time-picker mb-1">
                        @Html.TextBoxFor(x => x.MeetingUrl, new { @class = "form-control", @autocomplete = "off" })
                        @Html.LocalizedLabel("active", "SchoolGroup.SchoolGroup.MeetingUrl")
                        @Html.ValidationMessageFor(x => x.MeetingUrl)
                    </div>
                    <label class="control-label lbl-meeting-url" style="display:none">@meetingBaseUri<span class="custom-meetingurl"></span></label>
                </div>*@
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            @if (Html.CurrentPagePermission().CanEdit)
            {
                <button type="submit" class="btn btn-primary waves-effect waves-light">@ResourceManager.GetString("Shared.Buttons.Save")</button>
            }
        </div>
    </div>
}

@Html.Partial("_ValidationJSPartial")
