﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Models
@model List<ListItem>
<ul id="unAssignedMembers">

    @foreach (var item in Model)
    {
        <li data-search-text="@item.ItemName">
            <div class="custom-control custom-checkbox ml-1">
                <input type="checkbox" class="custom-control-input" id="showchecked_UnAssign_@item.ItemId" title="@ResourceManager.GetString("Shared.Labels.AssignedMembers")" value="@item.ItemId">
                <label class="custom-control-label to-sentence-case" for="showchecked_UnAssign_@item.ItemId">@item.ItemName</label>
            </div>
        </li>

    }
</ul>

<script>
    $(document).ready(function () {
        var listItems = $("#unAssignedMembers li");
        listItems.each(function (idx, li) {
            var member = $(li);
            var memberId = member.find("input[type=checkbox]").val()
            if ($("#AssignedMemberList").find("input[value=" + memberId + "]").length > 0) {
                $(member).addClass("d-none");
            }
        });
    })
</script>
