﻿@model Phoenix.VLE.Web.ViewModels.GroupMemberViewModel
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{
    var rnd = DateTime.Now.Ticks.ToString();
    var pageSearchClass = SessionHelper.CurrentSession.IsStudent() ? "page-search" : "task-search";
    var selectMembers = ResourceManager.GetString("SchoolGroup.SchoolGroup.SelectMembers");
    var selectSchoolGroup = ResourceManager.GetString("SchoolGroup.SchoolGroup.SelectGroup");
}

<div class="row pt-3">
    <div class="col-lg-5 col-md-5 col-12">
        <div class="md-form md-outline">
            @Html.DropDownList("SelectToShow", new SelectList(ViewBag.MemberTypes, "Value", "Text"), selectMembers, new { id = "memberToDisplay", @class = "selectpicker" })
            <label for="SelectToShow" class="active">@selectMembers</label>

        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-12" id="groupDropdownDiv">
        <div class="md-form md-outline">
            @Html.DropDownList("Groups", ViewBag.SchoolGroup as List<SelectListItem>, selectSchoolGroup, new { @id = "groupDropdown", @class = "selectpicker ddlSchoolGroup", @data_live_search = "true", @multiple = "multiple", })
            @*@Html.DropDownList("Groups", ViewBag.SchoolGroup as List<SelectListItem>, new { @class = "selectpicker ddlSchoolGroup", @name = "SchoolGroupId", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true" })*@
            <label for="DDLSchoolGroupId" class="active" form="Groups">@ResourceManager.GetString("SchoolGroup.SchoolGroup.DDLSchoolGroupId")</label>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <h3 class="card-title pl-0">@ResourceManager.GetString("SchoolGroup.SchoolGroup.ManageMembers")</h3>
        <div class="pt-3 pb-3">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <h4 class="sub-heading">@ResourceManager.GetString("SchoolGroup.SchoolGroup.MembersNotInGroup")</h4>

                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-12 @pageSearchClass border-0">
                            @*<div class="input-group">
                                    <input type="text" id="availableMemberSearch" placeholder="Search" class="form-control sp-search" />
                                    <span class="sp-btn-search input-group-addon add-on"><span class="fa fa-search"></span></span>
                                </div>*@
                            <div class="search-wrapper border">
                                <i class="fas fa-search active"></i>
                                <input type="text" id="availableMemberSearch" class="search-field" placeholder="@ResourceManager.GetString("SchoolGroup.SchoolGroup.SearchMembers")">
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="border rounded column-padding pt-2 pb-3">
                                <div class="custom-control custom-checkbox ml-1 pb-2">
                                    <input type="checkbox" class="custom-control-input" id="selectAllUnassigned" title="SelectAll" value="SelectAll" />
                                    <label class="custom-control-label to-sentence-case" for="selectAllUnassigned">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SelectAll")</label>
                                </div>
                                <div class="delegates-wrapper ">

                                    <div id="unassignedMemberList">
                                        @Html.Partial("_GetUnAssignedMembers", Model.UnAssignedMemberList)
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-12 col-md-12 col-12">
                            <button class="btn btn-primary btn-sm m-0" id="btnViewOnly" onclick="addUnassignedMembers('ViewOnly')" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroup.ViewOnly") <i class="fas fa-eye ml-2"></i></button>
                            <button class="btn btn-primary btn-sm m-0" id="btnContribute" onclick="addUnassignedMembers('Contribute')" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Contribute") <i class="fas fa-exchange-alt ml-2"></i></button>
                            <button class="btn btn-primary btn-sm m-0" id="btnManager" onclick="addUnassignedMembers('Manager')" href="#">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Manager") <i class="fas fa-user-tie ml-2"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <h4 class="sub-heading">@ResourceManager.GetString("SchoolGroup.SchoolGroup.MembersInGroup")</h4>
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-12 @pageSearchClass border-0">
                            @*<div class="input-group">
                                    <input type="text" id="groupMemberSearch" placeholder="Search" class="form-control sp-search" />
                                    <span class="sp-btn-search input-group-addon add-on"><span class="fa fa-search"></span></span>
                                </div>*@
                            <div class="search-wrapper border">
                                <i class="fas fa-search active"></i>
                                <input type="text" id="groupMemberSearch" class="search-field" placeholder="@ResourceManager.GetString("SchoolGroup.SchoolGroup.SearchMembers")">
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="border rounded column-padding pt-2 pb-3">
                                <div class="custom-control custom-checkbox ml-1 pb-2">
                                    <input type="checkbox" class="custom-control-input" id="selectAllAssigned" title="SelectAll" value="SelectAll" />
                                    <label class="custom-control-label to-sentence-case" for="selectAllAssigned">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SelectAll")</label>
                                </div>
                                <div class="delegates-wrapper ">

                                    <div id="AssignedMemberList">

                                        @Html.Partial("_GetAssignedMembers", Model.AssignedMemberList)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-12 col-md-12 col-12">
                            <button class="btn btn-primary btn-sm m-0" id="btnViewOnlyUpdate" onclick="updateAssignedMembers('ViewOnly')" href="#">@ResourceManager.GetString("SchoolGroup.SchoolGroup.ViewOnly") <i class="fas fa-eye ml-2"></i></button>
                            <button class="btn btn-primary btn-sm m-0" id="btnContributeUpdate" onclick="updateAssignedMembers('Contribute')" href="#">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Contribute") <i class="fas fa-exchange-alt ml-2"></i></button>
                            <button class="btn btn-primary btn-sm m-0" id="btnManagerUpdate" onclick="updateAssignedMembers('Manager')" href="#">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Manager") <i class="fas fa-user-tie ml-2"></i></button>
                            <button class="btn btn-primary btn-sm m-0" id="btnRemoveMember" onclick="updateAssignedMembers('Delete')">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Remove") <i class="fas fa-times ml-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    $(document).on('keyup', '#availableMemberSearch', function (e) {
        //if (e.which === 13) {

        var searchText = $(this).val().toLowerCase();
        $('#unassignedMemberList ul li').each(function () {
            var showCurrentLi = $(this).attr('data-search-text').toLowerCase().indexOf(searchText) !== -1;
            $(this).toggle(showCurrentLi);
        });
        //}
    });
    $(document).on('keyup', '#groupMemberSearch', function (e) {
        //if (e.which === 13) {

        var searchText = $(this).val().toLowerCase();
        $('#AssignedMemberList ul li').each(function () {
            var showCurrentLi = $(this).attr('data-search-text').toLowerCase().indexOf(searchText) !== -1;
            $(this).toggle(showCurrentLi);
        });
        //}
    });
    $('#memberToDisplay').on('change', function (event) {

        var memberType = $('#memberToDisplay option:selected').text();
        var memberTypeId = $('#memberToDisplay option:selected').val();
        if (memberType == "Other Groups") {
            $('#groupDropdownDiv').show();
            $('#groupDropdown').show();
            $('#unassignedMemberList').html("");
        }
        else {
            $("#groupDropdown").selectpicker('deselectAll');
            $('#groupDropdownDiv').hide();
            $('#groupDropdown').hide();

            $.ajax({

                data: { memberTypeId: memberTypeId, groupId: $('#SchoolGroupId').val() },
                url: '/SchoolStructure/SchoolGroups/GetUnassignedMembers',
                success: function (result) {

                    $('#unassignedMemberList').html(result);
                },
                error: function (data) { }
            });
        }

    });

    function loadAssignedMemberList() {
       
        var groupId = $('#SchoolGroupId').val();
        $.ajax({

            data: { groupId: groupId },
            url: '/SchoolStructure/SchoolGroups/GetAssignedMembers',
            success: function (result) {

                $('#AssignedMemberList').html(result);
            },
            error: function (data) { }
        });
    }
    function loadUnAssignedMemberList() {
       
        var memberTypeId = $('#memberToDisplay option:selected').val();
        var memberType = $('#memberToDisplay option:selected').text();
        var groupId = $('#groupDropdown option:selected').val();

        var url = window.location.href;
        var formGroupId = url.substring(url.indexOf('?id=') + 4)

        var flag;
        if ($('#groupDropdown').is(':hidden')) {
            flag = false;
        }
        else
            flag = true;
        if (memberType.toLowerCase() === 'other groups' && groupId != null && flag === true) {
            var groupId = $('#groupDropdown option:selected').val();

            var groupIds = $('#groupDropdown').val().toString();
            if (groupIds != '' && groupIds != undefined) {
                $.ajax({
                    contentType: "application/json",
                    data: { groupId: groupIds },
                    url: '/SchoolStructure/SchoolGroups/GetUnassignedMembers',
                    success: function (result) {
                        $('#unassignedMemberList').html(result);

                        $('#unassignedMemberList li').addClass('d-block');

                    },
                    error: function (data) { }
                });
            }

            //$.ajax({

            //    data: { groupId: groupId, formGroupId: formGroupId },
            //    url: '/SchoolStructure/SchoolGroups/GetStudentByGroupId',
            //    success: function (result) {

            //        $('#unassignedMemberList').html(result);
            //    },
            //    error: function (data) { }
            //});
        }
        else {

            $.ajax({

                data: { memberTypeId: memberTypeId, groupId: $('#SchoolGroupId').val() },
                url: '/SchoolStructure/SchoolGroups/GetUnassignedMembers',
                success: function (result) {

                    $('#unassignedMemberList').html(result);

                    $('#unassignedMemberList li').removeClass('d-none');

                },
                error: function (data) { }
            });
        }
    }
    function loadMemberList() {

        loadUnAssignedMemberList();
        loadAssignedMemberList();

    }

    $('#selectAllUnassigned').change(function () {
        var chk = $(this).is(':checked');
        $('input[type=checkbox]', "#unAssignedMembers").each(function () {
                $(this).prop('checked', chk);
        });
    });

    $('#selectAllAssigned').change(function () {
        var chk = $(this).is(':checked');
        $('input[type=checkbox]', "#assignedMembers").each(function () {
            $(this).prop('checked', chk);
        });
    });
    function addUnassignedMembers(permissionType) {
        jQuery.ajaxSettings.traditional = true;
        var groupId = $('#SchoolGroupId').val();
        if ($('#selectAllUnassigned').is(':checked')) {
            $('#selectAllUnassigned').prop('checked', false);
        }
        var $selectedMembers = $("#unassignedMemberList input[type='checkbox']:checked");
        var memberType = $("#memberToDisplay").val();
        var membersToAdd = [];
        if ($selectedMembers != null && $selectedMembers.length > 0) {
            $selectedMembers.each(function (i, elem) {
                membersToAdd.push(
                    {
                        MemberId: elem.value,
                        GroupId: groupId,
                        IsViewOnly: permissionType === "ViewOnly" ? true : false,
                        IsContribute: permissionType === "Contribute" ? true : false,
                        IsManager: permissionType === "Manager" ? true : false,

                    }
                )
            });

            $.ajax({
                type: 'POST',
                data: { membersToAdd: JSON.stringify(membersToAdd) },
                url: '/SchoolStructure/SchoolGroups/AddUpdateMembersToGroup',
                success: function (result) {
                    loadMemberList();

                },
                error: function (data) { }
            });
        }
        else {
            globalFunctions.showWarningMessage(translatedResources.MemberSelectMessage);
        }
       

    }
    function updateAssignedMembers(permissionType) {

        jQuery.ajaxSettings.traditional = true;
        var groupId = $('#SchoolGroupId').val();
        if ($('#selectAllAssigned').is(':checked')) {
            $('#selectAllAssigned').prop('checked', false);
        }
        var $selectedMembers = $("#AssignedMemberList input[type='checkbox']:checked");
        var memberType = $("#memberToDisplay").val();
        var membersToAdd = [];
        if ($selectedMembers != null && $selectedMembers.length > 0) {
            $selectedMembers.each(function (i, elem) {
                membersToAdd.push({
                    MemberId: elem.value,
                    GroupId: groupId,
                    IsViewOnly: permissionType === "ViewOnly" ? true : false,
                    IsContribute: permissionType === "Contribute" ? true : false,
                    IsManager: permissionType === "Manager" ? true : false,
                    ToBeDeleted: permissionType === "Delete" ? true : false
                });
            });
            $.ajax({
                type: 'POST',
                data: { membersToAdd: JSON.stringify(membersToAdd) },
                url: '/SchoolStructure/SchoolGroups/AddUpdateMembersToGroup',
                success: function (result) {
                    loadMemberList();


                },
                error: function (data) { }
            });
        }
        else {
            globalFunctions.showWarningMessage(translatedResources.MemberSelectMessage);
        }
    }

    $('#groupDropdown').on('change', function (event) {

        //var groupId = [];
       var groupIds = $('#groupDropdown').val().toString();
        var groupId1 = $('#groupDropdown option:selected').val();
        if (groupIds != '' && groupIds != undefined) {
            var url = window.location.href;
            var formGroupId = url.substring(url.indexOf('?id=') + 4)
            $.ajax({

                //data: { groupId: groupId, formGroupId: formGroupId },
                //url: '/SchoolGroup/SchoolGroup/GetStudentByGroupId',
                contentType:"application/json",
                data: { groupId: groupIds },
                url: '/SchoolStructure/SchoolGroups/GetUnassignedMembers',
                success: function (result) {
                    $('#unassignedMemberList').html(result);

                },
                error: function (data) { }
            });
        }
        else {
            $('#unassignedMemberList').html('');
        }
    });

    $(document).ready(function () {
        $('#groupDropdownDiv').hide();
        $(".delegates-wrapper").mCustomScrollbar({
            setHeight: "250",
            autoExpandScrollbar: true,
        });
        eliminateMembers();
    });

    function eliminateMembers() {
        var listItems = $("#unAssignedMembers li");
        listItems.each(function (idx, li) {
            var member = $(li);         
            var memberId = member.find("input[type=checkbox]").val()
            if ($("#AssignedMemberList").find("input[value=" + memberId + "]").length > 0) {
                $(member).addClass("d-none");
            }

        });
    }
</script>



































