﻿@using Phoenix.Models
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@model List<SchoolGroup>
@functions{
    public string GetTranslatedGroupName(string shortCode)
    {
        if (shortCode.ToLower() == "class group")
        {
            return ResourceManager.GetString("Shared.Groups.ClassGroup");
        }
        else if (shortCode.ToLower() == "home tutor group")
        {
            return ResourceManager.GetString("Shared.Groups.HomeTutorGroup");
        }
        else if (shortCode.ToLower() == "other groups")
        {
            return ResourceManager.GetString("Shared.Groups.OtherGroups");
        }
        else
        {
            return shortCode;
        }
    }
}
<ul id="archivedGroup">
    @{
        bool flag = false;
        bool beSpokeGroup = false;
        bool homeTutorflag = false;
        bool MISGroup = false;
    }
    @foreach (var item in Model)
    {
        if (item.IsManager)
        {
            <li data-search-text="@item.SchoolGroupName">

                @if (item.IsBespokeGroup == true && !beSpokeGroup)
                {
                    <div class="bg-primary rounded-1x text-white"><h6 class="p-2"><label class="custom-control-label to-sentence-case text-semibold" for="showchecked_UnAssign_@item.SchoolGroupId">@GetTranslatedGroupName(item.GroupingName)</label></h6></div>
                    beSpokeGroup = true;
                }
                else if (item.IsHomeTutorGroup == true && !homeTutorflag)
                {
                    <div class="bg-primary rounded-1x text-white"><h6 class="p-2"><label class="custom-control-label to-sentence-case text-semibold" for="showchecked_UnAssign_@item.SchoolGroupId">@GetTranslatedGroupName(item.GroupingName)</label></h6></div>
                    homeTutorflag = true;
                }
                else if (!MISGroup && !beSpokeGroup)
                {
                    <div class="bg-primary rounded-1x text-white"><h6 class="p-2"><label class="custom-control-label to-sentence-case text-semibold" for="showchecked_UnAssign_@item.SchoolGroupId">@GetTranslatedGroupName(item.GroupingName)</label></h6></div>
                    MISGroup = true;
                }

                <div class=" custom-checkbox ml-1 mb-1">
                    @*<input type="checkbox" class="custom-control-input" id="showchecked_UnAssign_@item.SchoolGroupId" title="AssignedMembers" value="@item.SchoolGroupId">*@
                    <label class="custom-control-label to-sentence-case" for="showchecked_UnAssign_@item.SchoolGroupId">@item.SchoolGroupName</label>
                    @*<a id="btnViewAssignment" href="/Assignments/Assignment/GetAssignmentStudentDetailsByAssgnmtId?id=@EncryptDecryptHelper.EncryptUrl(item.SchoolGroupId.ToString())" class="float-right" data-id="@EncryptDecryptHelper.EncryptUrl(item.SchoolGroupId.ToString())"><i class="fas fa-eye"></i></a>*@
                </div>
            </li>
        }
    }
</ul>

