﻿@using Phoenix.Common.Localization;
@{
    var currentDate = DateTime.Now;
    var firstDay = new DateTime(currentDate.Year, currentDate.Month, 1);
    var lastDate = firstDay.AddMonths(1).AddDays(-1);
}

<div class="search-create-row recorded-session-menu d-none pt-0">
    <div class="search-wrapper border-bottom-0 border-top pb-0 px-2">
        <div class="row col-12">
            <div class="col-xl-6 col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <div class="search-row">
                    <div class="search-with-bg border">
                        <span class="icon-search"></span>
                        <input id="search-sessions" type="search" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Buttons.Search")">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-1">
                <div class="md-form md-outline date-time-picker field-with-icon mb-3 mt-0 bg-white">
                    <i class="far fa-calendar-alt active"></i>
                    <input type="text" class="form-control date-picker datepicker fromdate" placeholder="@ResourceManager.GetString("Shared.Labels.FromDate")" value="@firstDay.ToString("dd-MMM-yyyy")" id="sessionFromDate">

                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 mt-1">
                <div class="md-form md-outline date-time-picker field-with-icon mb-3 mt-0 bg-white">
                    <i class="far fa-calendar-alt active"></i>
                    <input type="text" class="form-control date-picker datepicker todate" placeholder="@ResourceManager.GetString("Shared.Labels.ToDate")" value="@lastDate.ToString("dd-MMM-yyyy")" id="sessionToDate">
                </div>
            </div>
        </div>
 </div>
</div>