﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.ZoomMeetingView>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions

@foreach (var session in Model.PageRecords)
{
    var status = string.Empty;
    var currentDate = DateTime.Now.ToUniversalTime().ConvertUtcToLocalTime().Value;
    var meetingStartTime = session.MeetingDateTime;
    var meetingEndTime = session.MeetingDateTime.AddMinutes(session.MeetingDuration.ToInteger());
    if (currentDate.TimeOfDay.TotalMinutes > meetingEndTime.TimeOfDay.TotalMinutes)
    {
        status = "Expired";
    }
    else if (currentDate.TimeOfDay.TotalMinutes >= meetingStartTime.TimeOfDay.TotalMinutes && currentDate.TimeOfDay.TotalMinutes <= meetingEndTime.TimeOfDay.TotalMinutes)
    {
        status = "Live";
    }
    else if (currentDate.TimeOfDay.TotalMinutes < meetingStartTime.TimeOfDay.TotalMinutes)
    {
        status = "NotStarted";
    }
    <div class="col-lg-4 mb-3">
        <div class="card pt-4 pb-3 px-4 border">
            <a href="javascript:void(0)">
                <h6 class="text-bold text-color-purple">@session.MeetingName</h6>
            </a>
            <div class="card-body pb-4">
                <p class="text-medium text-muted">@session.MeetingDateTime.ToString("dd-MMM-yyyy hh:mm tt")</p>
                <div class="d-table template-table">
                    <p class="d-table-row">
                        <span class="text-medium text-muted">@ResourceManager.GetString("Shared.Labels.Status"): </span>
                        <span class="text-semibold">
                            <span class="status new">@ResourceManager.GetString($"SchoolGroup.SchoolGroup.{status}")</span>
                        </span>
                    </p>
                    <p class="d-table-row">
                        <span class="text-medium text-muted">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Host"):</span>
                        <span class="text-semibold">
                            <span class="status">@session.ContactName</span>
                        </span>
                    </p>
                </div>
            </div>
            @{
                var isMeetingRunning = status.Equals("Live", StringComparison.OrdinalIgnoreCase);
            }
            <div class="pt-2 border-top d-flex justify-content-between align-items-center flex-wrap">
                <div class="d-flex flex-column align-items-start">  </div>
                <div class="pt-1">
                    <a href="javscript:void(0)" data-toggle="tooltip" data-placement="top" title="View Participants" class="d-none btn btn-primary btn-sm">
                        @ResourceManager.GetString("Shared.Buttons.View")
                    </a>
                    @{
                        var isMeetingLinkAvailable = !string.IsNullOrEmpty(session.MeetingURL);
                    }
                    @if (isMeetingRunning)
                    {
                        <a data-sessionid="@session.ZoomMeetingId" href="javascript:void(0)" class="ml-2 btn btn-primary btn-sm" @(isMeetingLinkAvailable ? $"onclick=window.open('{session.MeetingURL}')" : "onclick=liveSessionFunctions.generateSessionMeetingURL(this)")>
                            @ResourceManager.GetString("SchoolGroup.SchoolGroup.Join")
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
}
@Html.Partial("_PaginationIndex", Model)
@Html.Hidden("LiveSessionPaginationIndex", Model.PageIndex)


@if (!Model.PageRecords.Any())
{
    <span class='no-data-found text-bold d-block mx-auto my-auto'>
        @ResourceManager.GetString("Shared.Labels.NoRecords")
    </span>
}
