﻿@model Phoenix.VLE.Web.EditModels.TeamsMeetingEdit
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers.Extensions;

@using (Ajax.BeginForm("SaveMSTeamsMeeting", "SchoolGroups", new AjaxOptions { OnFailure = "globalFunctions.onFailure", OnSuccess= "schoolGroup.onOnlineMeetingSaveSuccess" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SchoolGroupId)
    <div class="modal-body">
        <div class="popup-form">
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(x => x.MeetingName, new { @class = "form-control", @minlength = "3" })
                        @Html.LocalizedLabel("active", "SchoolGroup.SchoolGroup.MeetingName")
                        @Html.ValidationMessageFor(x => x.MeetingName)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col">
                    <div class="md-form md-outline arabictxt">
                        @Html.TextBoxFor(x => x.MeetingDate, new { @class = "form-control date-picker" })
                        @Html.LocalizedLabel("active", "SchoolGroup.SchoolGroup.MeetingStartDate")
                        @Html.ValidationMessageFor(x => x.MeetingDate)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col">
                    <div class="md-form md-outline date-time-picker">
                        @Html.TextBoxFor(x => x.MeetingStartTime, new { @class = "form-control date-picker1", @autocomplete = "off" })
                        @Html.LocalizedLabel("active", "SchoolGroup.SchoolGroup.MeetingStartTime")
                        @Html.ValidationMessageFor(x => x.MeetingStartTime)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col">
                    <div class="md-form md-outline date-time-picker">
                        @Html.TextBoxFor(x => x.MeetingEndTime, new { @class = "form-control date-picker1", @autocomplete = "off" })
                        @Html.LocalizedLabel("active", "SchoolGroup.SchoolGroup.MeetingEndTime")
                        @Html.ValidationMessageFor(x => x.MeetingEndTime)
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            @if (Html.CurrentPagePermission().CanEdit)
            {
                <button type="submit" class="btn btn-primary waves-effect waves-light">@ResourceManager.GetString("Shared.Buttons.Save")</button>
            }
        </div>
    </div>
}

@Html.Partial("_ValidationJSPartial")