﻿@model IEnumerable<Phoenix.Models.MSTeamsReponse>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers.Extensions;
@using Phoenix.Common.Helpers;

@{
    var currentDateTime = DateTime.UtcNow.ConvertUtcToLocalTime().Value;
}

<div class="modal-body">
    <div class="popup-form">
        <div class="row">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>@ResourceManager.GetString("SchoolGroup.SchoolGroup.MeetingName")</th>
                        <th>@ResourceManager.GetString("SchoolGroup.SchoolGroup.MeetingStartDateTime") </th>
                        <th>@ResourceManager.GetString("SchoolGroup.SchoolGroup.MeetingEndDateTime")</th>
                        <th>@ResourceManager.GetString("Shared.Labels.Status")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        item.endDateTime = item.endDateTime.Replace("Z", "");
                        item.startDateTime = item.startDateTime.Replace("Z", "");
                        DateTime meetingStartTime = Convert.ToDateTime(item.startDateTime).ConvertUtcToLocalTime().Value;
                        DateTime meetingEndTime = Convert.ToDateTime(item.endDateTime).ConvertUtcToLocalTime().Value;
                        TimeSpan meetingSpan = meetingEndTime - currentDateTime;
                        var isMeetingExpired = ((meetingSpan.TotalMinutes) <= 0);
                        bool isMeetingCreator = SessionHelper.CurrentSession.Id == item.CreatedBy;
                        <tr>
                            <td>@item.subject</td>
                            <td>@meetingStartTime.ToString("dd-MMM-yyyy hh:mm tt")</td>
                            <td>@meetingEndTime.ToString("dd-MMM-yyyy hh:mm tt")</td>
                            <td colspan="2" class="d-flex align-items-start">
                                @{
                                    var lessonStatusResourceName = isMeetingExpired ? "Expired" : (meetingSpan.Minutes > 0 ? "NotStarted" : "Started");
                                }
                                @ResourceManager.GetString("SchoolGroup.SchoolGroup." + lessonStatusResourceName)

                                @if (!isMeetingExpired && !SessionHelper.CurrentSession.IsParent())
                                {
                                    <a href="javascript:void(0)" class="btn btn-success btn-sm" onclick="window.open('@item.joinUrl')">
                                        @(isMeetingCreator ? ResourceManager.GetString("Shared.Buttons.Start") :
                                    ResourceManager.GetString("SchoolGroup.SchoolGroup.Join"))
                                    </a>
                                }

                                @if (SessionHelper.CurrentSession.Id == item.CreatedBy && meetingEndTime > currentDateTime)
                                {
                                    <a href="javascript:void(0)" onclick="schoolGroup.deleteTeamsSession(this, '@item.schoolTeamMeetingId')" class='btn btn-danger btn-sm ml-2'>
                                        @ResourceManager.GetString("Shared.Buttons.Delete")
                                    </a>
                                }
                            </td>
                            
                        </tr>

                    }
                    @if (!Model.Any())
                    {
                        <tr>
                            <td colspan="5">
                                @ResourceManager.GetString("Shared.Labels.NoRecords")
                            </td>
                        </tr>

                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>

    </div>
</div>
