﻿
@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.RecordedSessionView>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers

<style>
    #tblRecordedSessions tbody tr {
        background-color: #fff;
        border: 1px solid #cecece;
    }
</style>
<table class="table mb-3 mt-3" id="tblRecordedSessions">
    <thead class="thead-dark">
        <tr>
            <th>@ResourceManager.GetString("SchoolGroup.GroupMessage.Title")</th>
            <th>@ResourceManager.GetString("SchoolGroup.SchoolGroup.MeetingStartDateTime")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PageRecords)
        {
            <tr>
                <td>
                    @item.MeetingName <br />
                    (@item.HostName)
                </td>
                <td>
                    @{
                        DateTime meetingDate = item.MeetingDate;}
                    @meetingDate.ToString("dd-MMM-yyyy hh:mm tt")
                </td>
                <td>
                    @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                    {
                        <a data-toggle="tooltip" class="mr-2 d-none" title="View Attendance">
                            <img src="~/Content/vle/img/svg/tbl-view.svg" />
                        </a>
                    }
                    <a data-toggle='tooltip' class='mr-2' onclick="window.open('@item.SharableMeetingLink')" title="@ResourceManager.GetString("SchoolGroup.SchoolGroup.ViewRecording")">
                        <i class="fa fa-video"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_PaginationIndex", Model)
@Html.Hidden("SessionPaginationIndex", Model.PageIndex)
@if (!Model.PageRecords.Any())
{
    <span class='no-data-found text-bold d-block mx-auto my-auto'>
        @ResourceManager.GetString("Shared.Labels.NoRecords")
    </span>
}
