﻿@model Phoenix.VLE.Web.EditModels.BBBMeetingEdit
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers.Extensions;

@using (Ajax.BeginForm("SaveWebExMeeting", "SchoolGroups", new AjaxOptions { OnSuccess = "schoolGroup.onOnlineMeetingSaveSuccess" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SchoolGroupId)
    <div class="modal-body">
        <div class="popup-form">
            <div class="row">
                <div class="col-lg-4 col-md-4 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(m => m.MeetingName, new { @class = "form-control", @autocomplete = "off" })
                        @Html.LocalizedLabel("active", "SchoolGroup.SchoolGroup.MeetingName")
                        @Html.ValidationMessageFor(x => x.MeetingName)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control date-picker", @autocomplete = "off" })
                        @Html.LocalizedLabel("active", "SchoolGroup.SchoolGroup.MeetingStartDate")
                        @Html.ValidationMessageFor(x => x.StartDate)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control date-picker1", @autocomplete = "off" })
                        @Html.LocalizedLabel("active", "SchoolGroup.SchoolGroup.MeetingStartTime")
                        @Html.ValidationMessageFor(x => x.StartTime)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(m => m.Duration, new { @class = "form-control", @autocomplete = "off" })
                        @Html.LocalizedLabel("active", "SchoolGroup.SchoolGroup.MeetingDurationInMinutes")
                        @Html.ValidationMessageFor(x => x.Duration)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(m => m.MeetingPassword, new { @class = "form-control", @autocomplete = "off" })
                        @Html.LocalizedLabel("active", "SchoolGroup.SchoolGroup.MeetingPassword")
                        @Html.ValidationMessageFor(x => x.MeetingPassword)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            <button type="submit" class="btn btn-primary waves-effect waves-light">@ResourceManager.GetString("Shared.Buttons.Save")</button>
        </div>
    </div>
}
@Html.Partial("_ValidationJSPartial")

