﻿@model IEnumerable<Phoenix.Models.ZoomMeetingResponse>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@using System.Configuration;
@using Phoenix.Common.Helpers.Extensions;
@{
    var currentDateTime = DateTime.UtcNow.ConvertUtcToLocalTime().Value;
    var zakTokenEnabled = Convert.ToBoolean(ConfigurationManager.AppSettings["ZoomZAKToken"]);
}

<div class="modal-body">
    <div class="popup-form">

        <div class="table-responsive ">
            <table class="table  dataTable no-footer mt-1">
                <thead class="thead-dark">
                    <tr>
                        <th>@ResourceManager.GetString("SchoolGroup.SchoolGroup.MeetingName")</th>
                        <th>@ResourceManager.GetString("SchoolGroup.SchoolGroup.MeetingStartDateTime")</th>
                        <th>@ResourceManager.GetString("SchoolGroup.SchoolGroup.SynchronousLessonDuration")</th>
                        @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                        {
                            <th>@ResourceManager.GetString("SchoolGroup.SchoolGroup.MeetingPassword")</th>
                        }
                        <th>@ResourceManager.GetString("Shared.Labels.Status")</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        DateTime meetingDate = Convert.ToDateTime(item.start_time); /*Convert.ToDateTime(item.start_time).ToUniversalTime();*/
                        var meetingEndTime = meetingDate.AddMinutes(item.duration);
                        TimeSpan meetingStartTime = meetingEndTime - currentDateTime;
                        var isMeetingCreator = SessionHelper.CurrentSession.Id == item.CreatedBy;
                        var isMeetingExpired = ((meetingStartTime.TotalMinutes) <= 0);
                        <tr>
                            <td>@item.topic</td>
                            <td>@meetingDate.ToString("dd-MMM-yyyy hh:mm tt")</td>
                            <td>@item.duration</td>
                            @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                            {
                                <td>@item.password</td>
                            }
                            <td colspan="2" class="d-flex align-items-start">
                                @if (!isMeetingCreator || isMeetingExpired)
                                {
                                    var lessonStatusResourceName = isMeetingExpired ? "Expired" : (meetingStartTime.Minutes > 0 ? "NotStarted" : "Started");
                                    @ResourceManager.GetString("SchoolGroup.SchoolGroup." + lessonStatusResourceName)
                                }
                                @if (!isMeetingExpired && !SessionHelper.CurrentSession.IsParent())
                                {
                                    if (isMeetingCreator)
                                    {

                                        <a href="javascript:void(0)" onclick="window.open('@item.start_url')" class="btn btn-success btn-sm">@ResourceManager.GetString("Shared.Buttons.Start")</a>
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0)" data-meetingurl="@item.ParticipantsJoinUrl" class="btn btn-success btn-sm @(zakTokenEnabled ? "livesesion joinmeeting" : "")" @(zakTokenEnabled ? "" : $"onclick=window.open('{item.ParticipantsJoinUrl}')")>@ResourceManager.GetString("SchoolGroup.SchoolGroup.Join")</a>
                                    }
                                }
                                @if (SessionHelper.CurrentSession.Id == item.CreatedBy && meetingEndTime > currentDateTime)
                                {
                                    <a onclick="schoolGroup.deleteLiveSession(this, '@item.id')" class='btn btn-danger btn-sm ml-2'>
                                        @ResourceManager.GetString("Shared.Buttons.Delete")
                                    </a>
                                }
                            </td>
                        </tr>

                    }
                    @if (!Model.Any())
                    {
                        <tr>
                            <td colspan="8">
                                @ResourceManager.GetString("Shared.Labels.NoRecords")
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
<div class="modal-footer d-flex justify-content-end">
    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
</div>