﻿@model Phoenix.VLE.Web.EditModels.SchoolGroupEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    ViewData["Title"] = ResourceManager.GetString("SchoolGroup.SchoolGroup.AddNewGroup");
    var rnd = DateTime.Now.Ticks.ToString();
    string selectText = ResourceManager.GetString("Shared.Labels.Select");

}
<div class="teachers-new-assignment">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <input type="hidden" id="lstStudentsToAdd" name="lstStudentsToAdd" />
                            <input type="hidden" id="lstStudentsToRemove" name="lstStudentsToRemove" />
                            <input type="hidden" id="lstMemebersToAdd" name="lstMemebersToAdd" />
                            <input type="hidden" id="lstMemebersToRemove" name="lstMemebersToRemove" />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="row pt-3">
                                    </div>
                                    <div class="tabPanels">
                                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                            <li class="nav-item card-title p-0" id="groupDetails">
                                                <a class="nav-link active" id="pills-studentList-tab" data-toggle="pill" href="#studentList" role="tab"
                                                   aria-controls="studentList" aria-selected="true">@ResourceManager.GetString("SchoolGroup.SchoolGroup.DDLSchoolGroupId")</a>
                                            </li>
                                            @if (Model.IsAddMode)
                                            {
                                                <li class="nav-item card-title p-0 disabled" id="membersToAdd">
                                                    <a class="nav-link" id="pills-SelectedStudent-tab" data-toggle="pill" href="#selectedStudent" role="tab"
                                                       aria-controls="selectedStudent" aria-selected="false">@ResourceManager.GetString("SchoolGroup.SchoolGroup.ManageMembers")</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="nav-item card-title p-0" id="membersToAdd">
                                                    <a class="nav-link" id="pills-SelectedStudent-tab" data-toggle="pill" href="#selectedStudent" role="tab"
                                                       aria-controls="selectedStudent" aria-selected="false">@ResourceManager.GetString("SchoolGroup.SchoolGroup.ManageMembers")</a>
                                                </li>
                                            }
                                        </ul>
                                        <div class="tab-content column-padding pt-3 pb-3 min-height" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="studentList" role="tabpanel" aria-labelledby="pills-home-tab">
                                                <div id="lstStudentsNotInGroup">
                                                    @using (Ajax.BeginForm("SaveGroupDetails", "SchoolGroups", new AjaxOptions { OnSuccess = "schoolGroupAddEdit.onSaveSuccess", OnFailure = "schoolGroupAddEdit.onFailure" }, new { id = "frmAddGroup", @class = "form-horizontal" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.HiddenFor(x => x.SchoolGroupId)
                                                        @Html.HiddenFor(x => x.SchoolId)
                                                        @Html.HiddenFor(x => x.IsAddMode)
                                                        @Html.HiddenFor(x => x.SchoolGroupNameXml)
                                                        <div class="row pt-3">
                                                            <div class="col-lg-6 col-md-6 col-12">
                                                                <div class="md-form md-outline">
                                                                    @Html.TextBoxFor(x => x.SchoolGroupName, new { @class = "form-control" })
                                                                    @*<label for="@Model.SchoolGroupName">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupName") <span class="text-danger">*</span></label>*@
                                                                    @Html.LocalizedLabel("", "SchoolGroup.SchoolGroup.SchoolGroupName")
                                                                    @Html.ValidationMessageFor(x => x.SchoolGroupName)
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-12">
                                                                <div class="md-form md-outline">
                                                                    @Html.DropDownListFor(m => m.SubjectId, new SelectList(ViewBag.SubjectList, "Value", "Text"), selectText, new { @class = "selectpicker" })

                                                                    <label for="SubjectName" class="active">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SelectSubject")</label>

                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-12">
                                                                <div class="md-form md-outline">
                                                                    @Html.TextAreaFor(x => x.SchoolGroupDescription, new { @class = "md-textarea form-control" })
                                                                    @*<label for="SchoolGroupDescription">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupDescription")</label>*@
                                                                    @Html.LocalizedLabel("", "SchoolGroup.SchoolGroup.SchoolGroupDescription")
                                                                    @Html.ValidationMessageFor(x => x.SchoolGroupDescription)
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-2 col">
                                                                <button type="button" class="btn btn-primary waves-effect waves-light m-0" id="btnSaveGroup">@ResourceManager.GetString("Shared.Buttons.Save")</button>
                                                            </div>
                                                        </div>

                                                    }
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="selectedStudent" role="tabpanel" aria-labelledby="pills-profile-tab">
                                                <div id="lstSelectedStudents">

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>



                    </div>


                </div>
            </div>
        </div>


    </div>

</div>



@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.SchoolGroupName = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupName")';
        translatedResources.SchoolGroupDesc = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupDescription")';
        translatedResources.Subject= '@ResourceManager.GetString("SchoolGroup.SchoolGroup.Subject")';
        translatedResources.Grade = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.Grade")';
        translatedResources.Stream = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.Stream")';
        translatedResources.MemberSelectMessage= '@ResourceManager.GetString("SchoolGroup.SchoolGroup.MemberSelectMessage")';
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/SchoolGroup/AddEditSchoolGroup.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnBack").show();
            $(document).on('click', '#btnBack', function () {
                window.history.back();
            });
        });
    </script>
}