﻿@model Phoenix.Models.SchoolGroup
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{
    ViewBag.Title = "GroupDetails";

    var groupName = !string.IsNullOrWhiteSpace(Model.TeacherGivenName) ? Model.TeacherGivenName : Model.SchoolGroupDescription;

    groupName = (!string.IsNullOrWhiteSpace(groupName) && groupName.Length > 40 ? groupName.Substring(0, 40) + "...  " : groupName) + " " + (!string.IsNullOrWhiteSpace(Model.AcademicYear) ? Model.AcademicYear : "");

    var grade = !string.IsNullOrWhiteSpace(Model.GradeDisplay) ? Model.GradeDisplay : "";
    var courseName = !string.IsNullOrWhiteSpace(Model.CourseTitle) && Model.CourseTitle.Length > 30 ? Model.CourseTitle.Substring(0, 27) + "..." : Model.CourseTitle;
    var sectionId = Model.SchoolGroupId;
    var sectionIdEncrypt = EncryptDecryptHelper.EncryptUrl(Model.SchoolGroupId.ToString());

    var isCustomPermission = ViewBag.IsCustomPermission ?? false;
    var groupPermission = ViewBag.GroupPermission != null ? ViewBag.GroupPermission : 3;
    var courseId = Model.CourseId != null ? EncryptDecryptHelper.EncryptUrl(Model.CourseId) : null;
    var enableChatter = Boolean.Parse(@System.Configuration.ConfigurationManager.AppSettings["enableChatter"]);
    //to enable gradebook tab for specific schools
    var enableGradeTabs = new List<string>() { "300100", "300200", "125035" };
}

@Html.Hidden("SectionId", sectionId)
@Html.Hidden("SectionIdEncrypt", sectionIdEncrypt)
@Html.Hidden("PageName", "GroupDetails", new { data_val = "GroupDetails" })
@Html.Hidden("IsBespokeGroup", (bool)Model.IsBespokeGroup)
@Html.Hidden("AutoSyncGroupMember", (bool)Model.AutoSyncGroupMember)
@Html.Hidden("CourseId", courseId)
<style>
    .viewAllRecentActivity {
        top: 140px;
        z-index: 1031;
    }

    .viewRecentActivity {
        top: 140px;
        z-index: 1;
    }
</style>
<input type="hidden" id="SharepointToken" name="SharepointToken" value="@ViewBag.SharepointToken" />
<div class="row">
    <div class="col-12 list-container">
        <div class="row">
            @if (sectionId > 0)
            {
                <div class="col-lg-9 col-md-12 col-12">
                    <div class="card-group">
                        <div class="group-banner" @(!string.IsNullOrWhiteSpace(Model.GroupImage) ? $"style=background-image:url('{PhoenixConfiguration.Instance.ReadFilePath + Model.GroupImage.Replace(" ", "%20")}')" : string.Empty)>
                            @if (groupPermission > 2 && !Model.ArchivedBy.HasValue)
                            {
                                <div class="edit-option cursor-pointer" onclick="groupDetail.loadEditGroupPopup($(this),@sectionId)" data-toggle="tooltip" data-placement="left" data-title="@ResourceManager.GetString("Shared.Buttons.Edit")">

                                    <img src="@Url.Content("~/Content/VLE/img/svg/pencil-big.svg")" alt="edit" class="svg" />

                                </div>
                            }
                            <div class="floating-content">
                                <div class="font-16 text-semibold">@courseName</div>
                                <div id="groupNameDiv" class="text-break my-2 text-capitalize">@groupName</div>
                                @*<div class="font-small text-semibold">@grade</div>*@
                                @if (SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher())
                                {
                                    <div class="font-16 text-semibold text-white"><i class="fas fa-users"></i> <span id="memberCnt"> @string.Format(ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.MemberCount"), ViewBag.GroupMemberCount)</span></div>
                                }

                            </div>
                        </div>
                        <div class="header-strip rounded-0 d-none">
                            <span id="groupNameSpan">@groupName</span>
                            @if (groupPermission > 2)
                            {
                                <div class="edit-option cursor-pointer" onclick="groupDetail.loadEditGroupPopup($(this),@sectionId)">
                                    <img src="@Url.Content("~/Content/VLE/img/svg/pencil-big.svg")" alt="edit" class="svg" />
                                </div>
                            }
                        </div>
                        <div class="toggable-group-wrapper mt-3 d-block">
                            <nav class="respTabs">
                                <ul class="-primary pb-0">
                                    <li data-tab="1" class="chatter-tab grpTab">
                                        <a href="javascript:void(0)">
                                            @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.ChatterTab")
                                        </a>
                                    </li>
                                    <li data-tab="2" class="activities-tab grpTab ">
                                        <a href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.ActivitiesTab")</a>
                                    </li>

                                    @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.UserTypeId >= 3)
                                    {
                                        <li data-tab="3" class="group-members-tab grpTab ">
                                            <a href="javascript:void(0)">
                                                @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.MemberTab")
                                            </a>
                                        </li>
                                        if (enableGradeTabs.Contains(SessionHelper.CurrentSession.SchoolId.ToString()))
                                        {
                                        <li data-tab="4" class="gradebook-tab grpTab ">
                                            <a href="javascript:void(0)">
                                                @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.GradebookTab")
                                            </a>
                                        </li>
                                        }
                                    }
                                   @*@if (!SessionHelper.CurrentSession.IsParent())
                                    {
                                        <li data-tab="5" class="reorded-session-tab grpTab ">
                                            <a href="javascript:void(0)">
                                                @ResourceManager.GetString("SchoolGroup.SchoolGroup.RecordedSessions")
                                            </a>
                                        </li>
                                    }*@
                                </ul>
                            </nav>
                        </div>
                        <div class="search-create-row chatter-menu pt-0 d-none">
                            <div class="search-wrapper border-bottom-0 border-top pb-0 px-2 flex-wrap">
                                <div class="left-aligned flex-grow-1">
                                    <img src="@Url.Content("~/Content/VLE/img/svg/chatter-icon.svg")" alt="chatter-icon" class="chatter-icon mr-3" />

                                    <div class="search-row mr-md-3" style="position:relative">
                                        <div class="search-with-bg border mt-sm-0 mt-2">
                                            <span class="icon-search"></span>
                                            <input type="search" id="txtBlogSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Buttons.Search")">
                                        </div>
                                        <div class="search-result bg-white p-2 mx-4 position-absolute group-autocomplete" id="divautocomplete">

                                        </div>
                                    </div>
                                </div>
                                @if (SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher())
                                {
                                    <button type="button" id="btnCreateBlog" data-toggle="modal" data-target="#createBlogPopup" class="btn btn-primary rounded-6x m-0">
                                        <i class="fas fa-plus mr-2"></i>@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.CreateNew")
                                    </button>
                                    @*<div class="dropdown-menu dropdown-menu-right z-depth-1 pt-2 pb-2 create-new-dropdown border-0">
                                        <a id="btnCreateBlog" data-toggle="modal" data-target="#createBlogPopup" href="javascrip:void(0)" class="dropdown-item border-bottom border-light py-2">
                                            <img src="@Url.Content("~/Content/VLE/img/svg/pencil.svg")" alt="Topic" class="svg" />Chatter
                                        </a>

                                            </div>*@
                                }
                            </div>
                        </div>
                        <div class="search-create-row activity-menu d-none pt-0">
                            <div class="search-wrapper border-bottom-0 border-top pb-0 px-2">
                                <div class="left-aligned">
                                    <img src="@Url.Content("~/Content/VLE/img/svg/bulb-icon.svg")" alt="bulb-icon" class="activities-icon mr-3" />
                                    <div class="search-row">
                                        <div class="search-with-bg border mt-sm-2 mt-0">
                                            <span class="icon-search"></span>
                                            <input id="searchResources" type="search" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Buttons.Search")">
                                        </div>
                                    </div>
                                </div>
                                @if (isCustomPermission)
                                {
                                    <button type="button" class="align-items-center btn btn-primary d-flex waves-effect waves-light" data-toggle="dropdown">
                                        <i class="fas fa-plus mr-2"></i>
                                        @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.CreateNew")
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right z-depth-1 pt-2 pb-2 create-new-dropdown border-0">
                                        @if (groupPermission > 2)
                                        {
                                            <a id="btnAddTopic" href="javascript:void(0)" class="dropdown-item border-bottom border-light py-2">
                                                <img src="@Url.Content("~/Content/VLE/img/svg/pencil.svg")" alt="Topic" class="svg" />@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Unit")
                                            </a>
                                            <a href="javascript:void(0)" class="dropdown-item border-bottom border-light py-2 create-new" data-type="assignment" data-sectionId="@sectionIdEncrypt" data-moduleId="2" data-parentFd="0">
                                                <img src="@Url.Content("~/Content/VLE/img/svg/menu/assignments.svg")" alt="Assignment" class="svg" />@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Assignment")
                                            </a>
                                            <a href="javascript:void(0)" class="dropdown-item border-bottom border-light py-2 create-new" data-type="quiz" data-sectionId="@sectionId" data-moduleId="2" data-parentFd="0">
                                                <img src="@Url.Content("~/Content/VLE/img/svg/quiz.svg")" alt="Quiz" class="svg" />@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AttachQuiz")
                                            </a>
                                            <a href="javascript:void(0)" class="dropdown-item border-bottom border-light py-2 create-new" data-type="addLesson" data-sectionId="@sectionIdEncrypt" data-moduleId="@EncryptDecryptHelper.EncryptUrl("2")" data-parentFd="@EncryptDecryptHelper.EncryptUrl("0")">
                                                <img src="@Url.Content("~/Content/VLE/img/svg/menu/course-catalogue.svg")" alt="Quiz" class="svg" />@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Lesson")
                                            </a>
                                            @*<a class="dropdown-item border-bottom border-light py-2 create-new" data-type="liveMeeting" data-sectionId="@sectionId" data-moduleId="2" data-parentFd="0" href="javascript:void(0)"> <img src="@Url.Content("~/Content/VLE/img/svg/menu/live-sessions.svg")" alt="Quiz" class="svg" />@ResourceManager.GetString("SchoolGroup.SchoolGroup.CreateZoomMeeting")</a>*@
                                        }
                                        <a href="javascript:void(0)" class="dropdown-item border-bottom border-light py-2 create-new" data-type="folder" data-sectionId="@sectionId" data-moduleId="2" data-parentFd="0">
                                            <img src="@Url.Content("~/Content/VLE/img/svg/folder.svg")" alt="Folder" class="svg" />@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddFolder")
                                        </a>
                                        <a href="javascript:void(0)" class="dropdown-item border-bottom border-light py-2 create-new" data-type="form" data-sectionId="@Model.SchoolGroupId" data-moduleId="2" data-module="Group" data-parentFd="0">
                                            <img src="@Url.Content("~/Content/VLE/img/svg/form.svg")" alt="Form" class="svg" />@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddForm")
                                        </a>
                                        <a href="javascript:void(0)" class="dropdown-item border-bottom border-light py-2 create-new" data-type="file" data-sectionId="@sectionId" data-moduleId="2" data-toggle="modal" data-target="#fileUploadModal" data-parentFd="0">
                                            <img src="@Url.Content("~/Content/VLE/img/svg/file.svg")" alt="Files" class="svg" />@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddFile")
                                        </a>
                                        <a href="javascript:void(0)" class="dropdown-item border-bottom border-light py-2 create-new" data-type="Url" data-sectionId="@sectionId" data-moduleId="2" data-parentFd="0">
                                            <img src="@Url.Content("~/Content/VLE/img/svg/link.svg")" alt="URL" class="svg" />@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddUrl")
                                        </a>
                                        <a href="javascript:void(0)" class="dropdown-item border-bottom border-light py-2 create-new" data-type="clipboard" data-sectionId="@sectionId" data-moduleId="2" data-parentFd="0">
                                            <i class="flaticon-copy"></i>@ResourceManager.GetString("Files.File.Clipboard")
                                        </a>
                                        <a href="javascript:void(0)" data-title="@ResourceManager.GetString("Files.File.OneDriveFiles")" class="dropdown-item border-bottom border one-drive-file-light py-2 create-new" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.OneDrive)" data-type="onedrive" data-sectionId="@sectionId" data-moduleId="2" data-parentFd="0">
                                            <img src="@Url.Content("~/Content/VLE/img/svg/one-drive.svg")" alt="One Drive" class="svg" />@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.OneDrive")
                                        </a>
                                        @if (SessionHelper.CurrentSession.GoogleDriveIntegrationType != (short)Phoenix.Common.Enums.GoogleDriveIntegrationType.None)
                                        {
                                            <a href="javascript:void(0)" data-title="@ResourceManager.GetString("Files.File.GoogleDriveFiles")" class="dropdown-item py-2 google-drive-file  create-new" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.GoogleDrive)" data-type="googledrive" data-sectionId="@sectionId" data-moduleId="2" data-parentFd="0">
                                                <img src="@Url.Content("~/Content/VLE/img/svg/google-drive.svg")" alt="Google Drive" class="svg" />@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.GoogleDrive")
                                            </a>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="search-create-row member-menu d-none pt-0">
                            <div class="search-wrapper border-bottom-0 border-top pb-0 px-2">
                                <div class="left-aligned">
                                    <img src="@Url.Content("~/Content/VLE/img/myGroup-icon.png")" alt="chatter-icon" class="chatter-icon mr-3" />

                                    <div class="search-row">
                                        <div class="search-with-bg border">
                                            <span class="icon-search"></span>
                                            <input id="searchMember" type="search" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Buttons.Search")">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        @Html.Partial("_GroupRecordedSessions")
                    </div>

                    @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                    {
                        <div id="sortUnit" class="mt-3 text-right d-none">
                            <a href="javascript:void(0)" class="text-semibold" onclick="groupDetail.sortUnits($(this))">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.OrganizeUnit")</a>
                        </div>
                    }
                    <div id="groupPageContent" class="pagination-panel mb-3">

                    </div>


                </div>
                <div class="col-lg-3 col-md-12 col-12">
                    <div class="sticky-top  viewRecentActivity" id="recentacitivitypanel">
                        @*@if (false)
                            {
                                <div class="forthcoming-events-card d-none">
                                    <div class="section-title outer-title">
                                        <h3>@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Forthcoming")</h3>
                                    </div>
                                    <div class="card p-4">
                                        <ul class="events-list">
                                            <li>
                                                <div class="events-date"> Due Friday - 29-Jul-2020</div>
                                                <div class="events-time"> 10:00 AM - Virtual Chat</div>
                                            </li>
                                            <li>
                                                <div class="events-date"> Due Monday - 1-Jun-2020</div>
                                                <div class="events-time"> 02:00 PM - Virtual Chat on Solar</div>
                                                <div class="events-time"> 06:00 PM - Tips and Tricks on Viva...</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            }*@
                        @if (!SessionHelper.CurrentSession.IsParent())
                        {
                            if (enableChatter)
                            {
                                <button type="button" class="btn btn-primary mb-4 w-100 mt-0" onclick="location.href='@Url.Action("Chat", "Chat", new { area = "SchoolInfo" })'">@ResourceManager.GetString("SchoolGroup.SchoolGroup.ViewChatter")</button>
                            }
                            else
                            {
                                <button type="button" class="d-none btn btn-primary mb-4 w-100 mt-0" onclick="location.href='@Url.Action("Chat", "Chat", new { area = "SchoolInfo" })'" disabled style="background-color: gray !important;">@ResourceManager.GetString("SchoolGroup.SchoolGroup.ViewChatter")</button>
                            }
                            <div class="chat-list-card mt-4 d-none"></div>
                        }



                        <div class="group-list-card mt-4 d-none">
                            @*<div class="outer-row">
                                    <div class="section-title outer-title">
                                        <h3>@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.MyGroups")</h3>
                                    </div>
                                    <a href="#" class="text-medium text-primary text-button p-0">View all</a>
                                </div>
                                <div class="card">
                                    <ul class="group-list">
                                        <li class="column-padding py-3">
                                            <a href="#" class="d-flex align-items-center w-100">
                                                <div class="group-img rounded-1x overflow-hidden">
                                                    <img src="@Url.Content("~/Content/VLE/img/group-list-icon.png")" alt="group-icon" class="group-icon" />
                                                </div>
                                                <div class="student-info">
                                                    <h3 class="name m-0 ml-2 text-semibold">20/06/E/BI</h3>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="column-padding py-3">
                                            <a href="#" class="d-flex align-items-center w-100">
                                                <div class="group-img rounded-1x overflow-hidden">
                                                    <img src="@Url.Content("~/Content/VLE/img/group-list-icon.png")" alt="group-icon" class="group-icon" />
                                                </div>
                                                <div class="student-info">
                                                    <h3 class="name m-0 ml-2 text-semibold">20/06/E/CH</h3>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="column-padding py-3">
                                            <a href="#" class="d-flex align-items-center w-100">
                                                <div class="group-img rounded-1x overflow-hidden">
                                                    <img src="@Url.Content("~/Content/VLE/img/group-list-icon.png")" alt="group-icon" class="group-icon" />
                                                </div>
                                                <div class="student-info">
                                                    <h3 class="name m-0 ml-2 text-semibold">20/06/E/MA</h3>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="column-padding py-3">
                                            <a href="#" class="d-flex align-items-center w-100">
                                                <div class="group-img rounded-1x overflow-hidden">
                                                    <img src="@Url.Content("~/Content/VLE/img/group-list-icon.png")" alt="group-icon" class="group-icon" />
                                                </div>
                                                <div class="student-info">
                                                    <h3 class="name m-0 ml-2 text-semibold">20/06/E/BI</h3>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="column-padding py-3">
                                            <a href="#" class="d-flex align-items-center w-100">
                                                <div class="group-img rounded-1x overflow-hidden">
                                                    <img src="@Url.Content("~/Content/VLE/img/group-list-icon.png")" alt="group-icon" class="group-icon" />
                                                </div>
                                                <div class="student-info">
                                                    <h3 class="name m-0 ml-2 text-semibold">20/06/E/CH</h3>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>*@
                        </div>
                        <div class="all-topics-card d-none">
                            <div class="outer-row">
                                <div id="AllUnit" class="section-title outer-title cursor-pointer">
                                    <h3>@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AllTopicsText")</h3>
                                </div>
                            </div>
                            <div class="card p-4 contact-list">
                                <ul id="topicList" class="topics-list "></ul>
                            </div>
                        </div>

                        @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                        {
                            <div class="quicklink-card d-none">
                                <div class="section-title outer-title">
                                    <h3>@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.QuickLinks")</h3>
                                </div>
                                <div class="card p-4">
                                    <ul class="events-list">
                                        <li>
                                            <a href="javascript:void(0)" onclick="groupDetail.sendEmailNotify($(this),undefined,'','STUDENT')" class="d-flex align-items-center w-100 p-3"><img src="@Url.Content("~/Content/VLE/img/svg/email.svg")" class="svg mr-3" alt="">   @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.EmailNotifyStudent")</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" onclick="groupDetail.sendEmailNotify($(this),undefined,'','PARENT')" class="d-flex align-items-center w-100 p-3"><img src="@Url.Content("~/Content/VLE/img/svg/email.svg")" class="svg mr-3" alt=""> @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.EmailNotifyParent")</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" onclick="groupDetail.sendEmailNotify($(this),undefined,'','BOTH')" class="d-flex align-items-center w-100 p-3">  <img src="@Url.Content("~/Content/VLE/img/svg/email.svg")" class="svg mr-3" alt=""> @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.EmailNotifyEveryone")</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                        <div class="contact-list-card @(SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin ? "mt-4" : "") d-none ">
                            <div class="outer-row">
                                <div class="section-title outer-title">
                                    <h3>@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Contacts")</h3>
                                </div>
                            </div>
                            <div class="card">
                                <div class="search-row mt-4 mb-3 column-padding ">
                                    <div class="search-with-bg border">
                                        <span class="icon-search"></span>
                                        <input id="searchContactList" type="search" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
                                    </div>
                                </div>
                                <ul class="contact-list">
                                    <li class="column-padding py-2">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="selectAllContact">
                                            <label class="custom-control-label pl-2 text-medium" for="selectAllContact">@ResourceManager.GetString("Shared.Labels.SelectAll")</label>
                                        </div>
                                    </li>
                                </ul>
                                <div class="contact-list">
                                    <ul id="ContactList" class=""></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-12 card-group">
                    <span class="no-data-found text-bold d-block mx-auto my-5">
                        @ResourceManager.GetString("SchoolGroup.GroupMessage.NoDataORNotMember")
                    </span>
                </div>
            }
        </div>
    </div>
</div>
@if (isCustomPermission)
{
    Html.RenderPartial("~/Areas/Files/Views/Shared/_AddEditFile.cshtml");
}
<style>
    .dropdown-menu {
        z-index: 9999 !important;
    }
</style>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{

    <script language="javascript">
        translatedResources.topictitle = '@ResourceManager.GetString("Files.GroupCourseTopics.Title")';
        translatedResources.formtitle = '@ResourceManager.GetString("Files.Form.Form")';
        translatedResources.filetitle = '@ResourceManager.GetString("Files.File.Title")';
        translatedResources.filename = '@ResourceManager.GetString("Files.File.FileName")';
        translatedResources.filepath = '@ResourceManager.GetString("Files.File.FilePath")';
        translatedResources.foldertitle = '@ResourceManager.GetString("Files.Folder.Title")';
        translatedResources.foldername = '@ResourceManager.GetString("Files.Folder.FolderName")';
        translatedResources.clipboard = '@ResourceManager.GetString("Files.File.Clipboard")';
        translatedResources.addgroupquiz = '@ResourceManager.GetString("Files.File.AddGroupQuiz")';
        translatedResources.FileUploaded = '@ResourceManager.GetString("Shared.Messages.FileUploaded")';
        translatedResources.AddGroupUrl = '@ResourceManager.GetString("Files.GroupUrl.AddGroupUrl")';
        translatedResources.EnterMarks = '@ResourceManager.GetString("Quiz.Quiz.EnterMarks")';
        translatedResources.EnterValidMarks = '@ResourceManager.GetString("Quiz.Quiz.EnterValidMarks")';
        translatedResources.selectFile = '@ResourceManager.GetString("Files.File.SelectFiles")';
        translatedResources.joinMeetingMessage = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.JoinMeetingAfterCreation")';
        translatedResources.joinMeeting = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.JoinLiveClass")';
        translatedResources.meetingNotValidMsg = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.MeetingDurationNotValid")';
        translatedResources.liveClassDuration = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.LiveClassDuration")';
        translatedResources.clearAllFileMsg = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.ClearFilesConfirmMsg")';
        translatedResources.browsefile = '@ResourceManager.GetString("Shared.Labels.BrowseFile")';
        translatedResources.langCode = '@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()';
        translatedResources.fileExtesion = '@Html.Raw(Json.Encode((List<string>)ViewBag.FileExtension))';
        translatedResources.imageExtension = '@Html.Raw(Json.Encode((List<string>)ViewBag.ImageExtension))';
        translatedResources.MemberSelectMessage = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.MemberSelectMessage")';
        translatedResources.SendMessage = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.SendMessage")';
        translatedResources.SchoolGroupName = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupName")';
        translatedResources.addTeacher = '@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Teacher")';
        translatedResources.addStudent = '@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Student")';
        translatedResources.addGroup = '@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddGroup")';
        translatedResources.renameFile = '@ResourceManager.GetString("Files.File.RenameFile")';
         translatedResources.quizTimeValidation = '@ResourceManager.GetString("Quiz.Quiz.TimeValidation")';
          translatedResources.scoreDateValidation = '@ResourceManager.GetString("Quiz.Quiz.ScoreDateValidation")';
        translatedResources.renameFile = '@ResourceManager.GetString("Files.File.RenameFile")';
        translatedResources.asyncLessonTitle = '@ResourceManager.GetString("SchoolGroup.AsyncLesson.AsyncLessonTitle")';

        translatedResources.ruleSetupConfirmMessage = '@ResourceManager.GetString("Gradebook.TeacherGradeBook.Unabletodelete")';
        translatedResources.createZoomMeeting = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.CreateZoomMeeting")';
        translatedResources.allMeetings = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.AllSynchronousLessons")';
        translatedResources.Copied = '@ResourceManager.GetString("Files.File.Copied")';
        translatedResources.FileUploaded = '@ResourceManager.GetString("Shared.Messages.FileUploaded")';
        translatedResources.Removed = '@ResourceManager.GetString("Files.File.DeleteConfirmFile")';
        translatedResources.OrganizeUnit = '@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.OrganizeUnit")';
        translatedResources.UnitOrderMsg = '@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.UnitOrderUpdateMessage")';
        translatedResources.CommentPostSuccess = '@ResourceManager.GetString("School.YoYoBlog.CommentPostSuccess")';
        translatedResources.CommentNotAllowed = '@ResourceManager.GetString("School.YoYoBlog.CommentNotAllowed")';
        translatedResources.NoDownloadQuestion = '@ResourceManager.GetString("Quiz.Quiz.NoDownloadQuestion")';
    </script>

    <script src="@Url.Content("~/Content/js/custom/Files/Files.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/Folders.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/GroupUrl.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Forms/Form.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/Quiz.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/common/FileDownloader.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/SchoolGroup/GroupMeeting.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    <script src="@Url.Content("~/Content/js/custom/SchoolGroup/GroupDetail.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    @*<script src="@Url.Content("/Content/js/ckeditor/ckeditor.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>*@
    <script type="text/javascript" src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
    <script src="@Url.Content("~/Content/js/custom/SchoolGroup/GroupMeeting.js?v="+@ResourceManager.GetString("Shared.Version.Js")))"></script>

    @* Gradebook Scripts *@
    <script src="@Url.Content("~/Content/js/addons/jquery-calx-2.2.8.js?v=" + ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Gradebook/TeacherGradebook.js?v=" + ResourceManager.GetString("Shared.Version.Js"))"></script>
    @* Gradebook Scripts *@
    <script src="@Url.Content("~/Content/VLE/js/addons/respTabs.js")"></script>
    <script type="text/javascript">



        localStorage.removeItem("pagerefer");
        $(function () {
            $('body').on('click', 'ul.nav-tabs li a', function () {
                console.log($(this).attr('href'));
                var tb = $(this).attr('href');

                if (tb == '#mis_group') {
                    //console.log('yes');
                    setTimeout(function () {
                        // Do something after xx milli seconds
                        $('button[data-id="MisGroupList"]').trigger('click');
                    }, 100);

                }
                else {
                    setTimeout(function () {
                        // Do something after xx milli seconds
                        $('button[data-id="OtherGroupList"]').trigger('click');
                    }, 100);

                }
            });
        });
        function viewClassList() {
            document.getElementById("classListDropdown").classList.toggle("show");
            $('ul.nav-tabs li a[href="#other_group"]').trigger('click');

        }

        function redirectToGroup(source) {
            var val = $(source).find("option:selected").val();
            location.href = "/SchoolStructure/SchoolGroups/GroupDetails?grpId=" + val;
        }





    </script>

}

