﻿@model Phoenix.VLE.Web.EditModels.SchoolGroupEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    ViewData["Title"] = ResourceManager.GetString("SchoolGroup.SchoolGroup.AddNewGroup");
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rnd = DateTime.Now.Ticks.ToString();
}



@using (Ajax.BeginForm("SaveTeacherGivenName", "SchoolGroups", new AjaxOptions { OnSuccess = "groupDetail.onGroupNameUpdate" }, new { id = "frmAddGroup", @class = "form-horizontal" }))
{
    <div class="modal-body">
        <div class="popup-form">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.SchoolGroupId)
            @Html.HiddenFor(x => x.SchoolId)
            @Html.HiddenFor(x => x.IsAddMode)
            @Html.HiddenFor(x => x.SchoolGroupNameXml)
            <input type="hidden" id="lstStudentsToAdd" name="lstStudentsToAdd" />
            <input type="hidden" id="lstStudentsToRemove" name="lstStudentsToRemove" />

            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(x => x.TeacherGivenName, new { @class = "form-control", tabindex = 2, @maxlength = "100" })
                        <label for="TeacherGivenName" class="active">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupName") <span class="text-danger">*</span></label>
                        @Html.ValidationMessageFor(x => x.TeacherGivenName)
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer d-flex justify-content-end border-0 pt-0">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
        <button type="submit" class="btn btn-primary waves-effect waves-light" id="btnSaveGroup">@ResourceManager.GetString("Shared.Buttons.Save")</button>
    </div>
}




@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.SchoolGroupName = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupName")';
        translatedResources.SchoolGroupDesc = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupDescription")';
        translatedResources.Subject= '@ResourceManager.GetString("SchoolGroup.SchoolGroup.Subject")';
        translatedResources.Grade = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.Grade")';
        translatedResources.Stream= '@ResourceManager.GetString("SchoolGroup.SchoolGroup.Stream")';
        translatedResources.TeacherGivenName= '@ResourceManager.GetString("SchoolGroup.SchoolGroup.TeacherGivenName")';
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/SchoolGroup/AddEditSchoolGroup.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
