﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.SchoolGroup>
@using Phoenix.Common.Localization

@{
    ViewBag.Title = "School Groups";
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
    var rnd = DateTime.Now.Ticks.ToString();
}


<div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card min-height">
                <div class="card-body">
                    <div class="task-search column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-12">
                                <div class="search-wrapper">
                                    <i class="fas fa-search active"></i>
                                    <input type="text" class="search-field" placeholder="@ResourceManager.GetString("SchoolGroup.SchoolGroup.SearchGroup")">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-12 text-right">
                                @*  <a href="@Url.Action("InitAddEditSchoolGroupForm","SchoolGroup",new { area="SchoolGroup"})" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light">Creat New</a>*@
                            </div>
                        </div>
                    </div>
                    <div class="user-groups column-padding pt-3 pb-3">
                        @Html.Partial("_SchoolGroups", Model.PageRecords)
                        <nav aria-label="Page navigation">
                            <ul class="pagination pg-blue">
                                @if (Model.PageIndex == 1)
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link" href="/parent/SchoolGroups?studentId=@(ViewBag.StudentId)&pageIndex=@(Model.PageIndex - 1)">@ResourceManager.GetString("Shared.Buttons.Previous")</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="/parent/SchoolGroups?studentId=@(ViewBag.StudentId)&pageIndex=@(Model.PageIndex - 1)">@ResourceManager.GetString("Shared.Buttons.Previous")</a>
                                    </li>
                                }
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="@(i == Model.PageIndex ? "page-item active" : "page-item")">
                                        <a class="page-link" href="/parent/SchoolGroups?studentId=@(ViewBag.StudentId)&pageIndex=@(i)">
                                            @i
                                            @if (i == Model.PageIndex)
                                            {<span class="sr-only">(current)</span>}
                                        </a>
                                    </li>
                                }
                                @if (Model.TotalPages == Model.PageIndex)
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link" href="/parent/SchoolGroups?studentId=@(ViewBag.StudentId)&pageIndex=@(Model.PageIndex + 1)">@ResourceManager.GetString("Shared.Buttons.Next")</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="/parent/SchoolGroups?studentId=@(ViewBag.StudentId)&pageIndex=@(Model.PageIndex + 1)">@ResourceManager.GetString("Shared.Buttons.Next")</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.SchoolGroupName = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupName")';
        translatedResources.SchoolGroupDesc = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupDescription")';
        translatedResources.Subject= '@ResourceManager.GetString("SchoolGroup.SchoolGroup.Subject")';
        translatedResources.Grade = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.Grade")';
        translatedResources.Stream= '@ResourceManager.GetString("SchoolGroup.SchoolGroup.Stream")';
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/SchoolGroup/SchoolGroups.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
