﻿
@using Phoenix.Common.Localization
@using Phoenix.Models
@model List<Student>

<style>
    .custom-container-student-list {
        max-height: 500px;
        overflow-y: scroll;
    }
</style>
<div class="modal-body custom-container-student-list childSelectionPopup">
    <div class="container-fluid">
        @if (Model.Any())
        {
            <div class="row">
                @foreach (var item in Model)
                {
                    var stuImg = "";
                    if (string.IsNullOrEmpty(item.StudentImage))
                    {
                        stuImg = "/content/VLE/img/avatar-1.jpg";
                    }
                    else
                    {
                        stuImg = Constants.StudentImagesPath + item.StudentImage;
                    }
                    <div class="col-md-6 col-12">
                        <div class="student-wrapper d-flex align-items-top">
                            <div class="student-avatar">
                                <figure>
                                    <img src=@stuImg alt="@ResourceManager.GetString("SchoolGroup.SchoolGroup.StudentName")">
                                </figure>
                            </div>
                            <div class="student-details">
                                <a id="myLearningStudent" href="#">
                                    <h4>@item.FirstName @item.LastName</h4>
                                    <p class="student-id">ID : @item.StudentNumber</p>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

    </div>
</div>
