﻿@model Phoenix.Models.ViewAsyncLessonDetail
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Enums
@{
    var isCustomPermission = ViewBag.IsCustomPermission ?? false;
    var groupPermission = ViewBag.GroupPermission != null ? ViewBag.GroupPermission : 3;

    string stEd = string.Empty;
    if (Model.AsyncLesson.StartDate.CompareTo((Model.AsyncLesson.EndDate)) != 0)
    {
        stEd = $"{Model.AsyncLesson.StartDate.ToString("dd-MMM-yyy")} - {Model.AsyncLesson.EndDate.ToString("dd-MMM-yyy")}";
    }
}
@Html.HiddenFor(x => x.AsyncLessonId)
<div class="row">
    <div class="col-lg-8 col-md-12 col-12">
        <div class="card mb-3">
            <div class="card-body">
                <div class="title-with-fields pt-3 align-items-start">
                    <h3 class="card-title">
                        @Model.AsyncLesson.LessonTitle
                        <span class="d-block text-medium text-muted mt-1">@stEd</span>
                    </h3>
                    <div class="title-fields">
                        <a href="/SchoolStructure/SchoolGroups/AddEditAsyncLessonForm?id=@EncryptDecryptHelper.EncryptUrl(Model.AsyncLessonId.ToString())&cid=@EncryptDecryptHelper.EncryptUrl(Model.AsyncLesson.CourseId.ToString())&gpid=@EncryptDecryptHelper.EncryptUrl(Model.GroupId.ToString())&tb=3&prv=true" data-toggle="tooltip" title="Preview">
                            <img src="@Url.Content("~/Content/VLE/img/svg/tbl-view.svg")" class="svg">
                        </a>
                        @if ((SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher()) && isCustomPermission && groupPermission > 2)
                        {
                            <a href="/SchoolStructure/SchoolGroups/AddEditAsyncLessonForm?id=@EncryptDecryptHelper.EncryptUrl(Model.AsyncLessonId.ToString())&cid=@EncryptDecryptHelper.EncryptUrl(Model.AsyncLesson.CourseId.ToString())&gpid=@EncryptDecryptHelper.EncryptUrl(Model.GroupId.ToString())" class="ml-3"  data-toggle="tooltip" title="Edit">
                                <img src="@Url.Content("~/Content/VLE/img/svg/tbl-edit.svg")" class="svg">
                            </a>
                        }
                    </div>
                </div>
                <div id="lessonDetailDiv" class="column-padding py-3">
                    @Html.Raw(HttpUtility.HtmlDecode(Model.AsyncLesson.Description))
                </div>

            </div>
        </div>
        <div class="card p-4 mb-3">
            <div class="card-body">
                <h3 class="card-title pt-0 px-0"> @ResourceManager.GetString("SchoolGroup.AsyncLesson.StudentText")</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover asyn-table" cellspacing="0" width="100%">
                        <thead class="thead-dark">
                            <tr>
                                <th class="th-sm" colspan="3">@ResourceManager.GetString("SchoolGroup.AsyncLesson.Name")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.StudentList.Count() > 0)
                            {
                                foreach (var st in Model.StudentList)
                                {
                                    <tr>
                                        <td>
                                            <div class="student-card d-flex flex-row justify-content-between my-0 align-items-center shadow-none">
                                                <div class="align-items-center d-flex">
                                                    <div class="defaultAvatar rounded-circle overflow-hidden">
                                                        <img src="@st.UserProfileImage" alt="person-image">
                                                    </div>
                                                    <div class="student-info ml-3 d-flex">
                                                        <h3 class="name m-0">@st.StudentName</h3>
                                                        @if (st.DoubtCount > 0)
                                                        {
                                                            <span id="doubtCntSpan-@st.StudentId" class="badge shadow-none ml-3 cursor-pointer ViewDoubt" data-id="@st.StudentId">@st.DoubtCount  @ResourceManager.GetString("SchoolGroup.AsyncLesson.Doubts")</span>
                                                        }
                                                    </div>
                                                </div>
                                                <a href="javascript:void(0)" data-id="@st.StudentId" class="text-medium ViewDoubt">View Doubts</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }

                            else
                            {
                                <tr>
                                    <td>
                                        <span class="no-data-found text-bold d-block mx-auto my-auto">
                                            @ResourceManager.GetString("Shared.Messages.NoDataFound")
                                        </span>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-12">
        <div class="card async-lesson-builder">
            <div class="card-body design-process-content column-padding pt-4">
                <h3 class="card-title pt-0 px-0">@ResourceManager.GetString("SchoolGroup.AsyncLesson.Resources")</h3>
                <div id="resourceThumbDiv" class="bg-transparent  resource-thumbs rounded-2x" >
                    <div class="mx-0 row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-2">
                        @if (Model.ResourcesList.Count() > 0)
                        {
                            foreach (var rs in Model.ResourcesList)
                            {
                                bool isCloudFile = CommonHelper.IsCloudFile((short)rs.ResourceFileTypeId);
                                var img = rs.ModuleId == 1 ? "~/Content/VLE/img/svg/" + rs.Icon + ".svg" : "~/Content/VLE/img/svg/menu/" + rs.Icon + ".svg";

                                <div class="col cursor-default mb-3 px-2 resource-item w-auto ">
                                    <div class="resource-card doubt-resource-card cursor-default py-3 rounded-2x">
                                        <figure class="m-0 cursor-default">
                                            <span class="d-flex justify-content-center align-items-center rounded overflow-hidden mx-auto">
                                                <img src="@Url.Content(img)" class="img-fluid svg" alt="">
                                                @if (isCloudFile)
                                                {
                                                    <img src="@(rs.ResourceFileTypeId == (short)ResourceFileTypes.GoogleDrive ? Url.Content($"~/Content/vle/img/svg/google-drive.svg") : rs.ResourceFileTypeId == (short)ResourceFileTypes.OneNote ? Url.Content($"~/Content/VLE/img/svg/ic-onenote.svg") : Url.Content($"~/Content/vle/img/svg/one-drive.svg"))" class="svg cloud-image" alt="">
                                                }
                                            </span>
                                            <figcaption class="mt-2 text-semibold text-truncate">
                                                @rs.Name
                                            </figcaption>
                                        </figure>
                                    </div>
                                  
                                </div>

                            }
                        }
                        else
                        {
                                <span class="no-data-found text-bold d-block mx-auto my-5">
                                    @ResourceManager.GetString("Shared.Messages.NoDataFound")
                                </span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.AntiForgeryToken()
<div class="modal fade async-modal" id="studentDoubt" tabindex="-1" role="dialog" aria-labelledby="async-doubt-badge"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h6 class="modal-title dark-purple">Doubts By</h6>
                <div class="md-form md-outline ml-2 mb-0">
                    @Html.DropDownList("StudentList", new SelectList(Model.StudentList, "StudentId", "StudentName"), new { @class = "selectpicker", @id = "StudentList", @data_live_search = "true" })
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="popup-form mt-3">
                    <div class="row">
                        <div id="doubtList" class="col-12">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}

@section scripts
{
    <script language="javascript">

        translatedResources.replyValidationMsg = '@ResourceManager.GetString("SchoolGroup.AsyncLesson.ReplyValidationMsg")';
        translatedResources.noResourceValidationMsg = '@ResourceManager.GetString("SchoolGroup.AsyncLesson.NoResourceValidationMsg")';
    </script>
    <script src="@Url.Content("~/Content/js/custom/SchoolGroup/AsyncLesson.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        $(function () {
            var $scrollBarDiv = $("#lessonDetailDiv");
            var divHeight = $scrollBarDiv.height();
            if (divHeight > 150) {
                $scrollBarDiv.mCustomScrollbar({
                    setHeight: "150px",
                    autoExpandScrollbar: true,
                    scrollbarPosition: "inside",
                    autoHideScrollbar: true
                });
            }


            var $resourceThumbDiv = $("#resourceThumbDiv");
            var rsDivHeight = $resourceThumbDiv.height();
            if (rsDivHeight > 500) {
                $resourceThumbDiv.mCustomScrollbar({
                    setHeight: "500px",
                    autoExpandScrollbar: true,
                    scrollbarPosition: "outside",
                    autoHideScrollbar: true
                });
            }

           
        });
    </script>
}