﻿@model Phoenix.Models.ViewAsyncLessonDetail
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{
    var isCustomPermission = ViewBag.IsCustomPermission ?? false;
    var groupPermission = ViewBag.GroupPermission != null ? ViewBag.GroupPermission : 3;

    string stEd = string.Empty;
   if (Model.AsyncLesson.StartDate.CompareTo((Model.AsyncLesson.EndDate)) != 0)
   {
        stEd = $"{Model.AsyncLesson.StartDate.ToString("dd-MMM-yyy")} - {Model.AsyncLesson.EndDate.ToString("dd-MMM-yyy")}";
   }
}
@Html.HiddenFor(x => x.AsyncLessonId)
<input type="hidden" id="SharepointToken" name="SharepointToken" value="@ViewBag.SharepointToken" />
<div class="row">
    <div class="col-12 async-lesson-builder">
        <div class="card">
            <div class="card-body  m-3">
                <div class="title-with-fields">
                    <h3 class="card-title">@Model.AsyncLesson.LessonTitle</h3>
                    <div class="title-fields">
                        <p class="m-0 font-small text-semibold">
                            @stEd
                        </p>
                    </div>
                </div>
                <div class="design-process-content p-3">
                    <div id="lessonContent">
                        @{ Html.RenderPartial("_ReviewAndLaunch", Model); }
                    </div>

                </div>
                @if (SessionHelper.CurrentSession.IsStudent())
                {
                    <div class="row p-3">
                        <div class="col-12">
                            <div class="title-with-fields px-0">
                                <h3 class="card-title">@ResourceManager.GetString("SchoolGroup.AsyncLesson.ClearDoubt")</h3>
                                <div class="title-fields">
                                    @*<h4 class="m-0 font-small text-info">
                                <span id="doubtCnt" class="text-bold">0</span> Doubts added
                            </h4>*@
                                </div>
                            </div>
                            <div class="md-form md-outline mb-0">
                                @Html.AntiForgeryToken()
                                <textarea id="txtComment" class="md-textarea form-control" rows="3"></textarea>
                                <label for="txtComment" class="">@ResourceManager.GetString("SchoolGroup.AsyncLesson.WriteDoubt")<span class="text-danger">*</span></label>
                            </div>
                            <button onclick="asyncLesson.saveStudentResourceComment()" class="m-0 btn btn-primary float-right waves-effect waves-light" type="button">@ResourceManager.GetString("SchoolGroup.AsyncLesson.AddDoubt")</button>
                        </div>
                    </div>
                    <div class="row p-3">
                        <div class="col-12">
                            <input type="hidden" id="asyncLessonCommentId" value="" />
                            <table class="table table-bordered table-hover table-responsive-md" id="tbl-Comment"></table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.title = '@ResourceManager.GetString("SchoolGroup.AsyncLesson.ResourceName")';
        translatedResources.comment = '@ResourceManager.GetString("SchoolGroup.AsyncLesson.CommentText")';
        translatedResources.reply = '@ResourceManager.GetString("SchoolGroup.AsyncLesson.ReplyText")';
        translatedResources.doubtValidationMsg = '@ResourceManager.GetString("SchoolGroup.AsyncLesson.DoubtValidationMsg")';
        translatedResources.noResourceValidationMsg = '@ResourceManager.GetString("SchoolGroup.AsyncLesson.NoResourceValidationMsg")';
    </script>
    <script src="@Url.Content("~/Content/js/custom/SchoolGroup/AsyncLesson.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/js/addons/owl.carousel.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/js/addons/owl.carousel2.thumbs.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/js/all-carousels.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        $(function () {
            initCarouselElement();
            asyncLesson.loadStudentComment();
            mCustomScrollBar();
        });
    </script>
}