﻿@font-face {
    font-family: "B Elham";
    src: url("/Content/VLE/font/arabic/BElham.eot?") format("eot"), url("/Content/VLE/font/arabic/BElham.woff") format("woff"), url("/Content/VLE/font/arabic/BElham.ttf") format("truetype"), url("/Content/VLE/font/arabic/BElham.svg#BElham") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GE SS Two Light";
    src: url("/Content/VLE/font/arabic/GE_SS_Two_Light.eot?") format("eot"), url("/Content/VLE/font/arabic/GE_SS_Two_Light.woff") format("woff"), url("/Content/VLE/font/arabic/GE_SS_Two_Light.ttf") format("truetype"), url("/Content/VLE/font/arabic/GE_SS_Two_Light.svg#GESSTwoLight-Light") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GE SS Two Medium";
    src: url("/Content/VLE/font/arabic/GE_SS_Two_Medium.eot?") format("eot"), url("/Content/VLE/font/arabic/GE_SS_Two_Medium.woff") format("woff"), url("/Content/VLE/font/arabic/GE_SS_Two_Medium.ttf") format("truetype"), url("/Content/VLE/font/arabic/GE_SS_Two_Medium.svg#GESSTwoMedium-Medium") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GE SS Two Bold";
    src: url("/Content/VLE/font/arabic/GE_SS_Two_Bold.eot?") format("eot"), url("/Content/VLE/font/arabic/GE_SS_Two_Bold.woff") format("woff"), url("/Content/VLE/font/arabic/GE_SS_Two_Bold.ttf") format("truetype"), url("/Content/VLE/font/arabic/GE_SS_Two_Bold.svg#GESSTwoBold-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}