﻿@model Phoenix.VLE.Web.ViewModels.StudentProgressTrackerChartsDashboard
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers

<script src="~/Content/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/kendoui.for.jquery.2020.3.915/src/js/kendo.all.js"></script>

<style>
    /*.demo-section {
        position: relative;
    }*/

    /*.ch-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .2;
        filter: alpha(opacity=60);
        background-color: #6495ed;
        text-align: center;
    }

    .ch-overlay div {
        position: relative;
        font-size: 34px;
        margin-top: -17px;
        top: 50%;
    }*/

    /*.chart-outer
    {
        min-height: 400px;
    }*/
</style>

<div class="row mb-4">
    <div class="col-lg-12 col-md-12 col-12 d-md-flex flex-wrap flex-xl-nowrap">
        <div class="tracking-parameter d-flex align-items-center mr-3 pr-3 py-2 rounded-1x mb-2 mb-xl-0">
            <div class="parameter-icon text-center">
                <img src="/Content/VLE/img/svg/teacher-student-ratio.svg" class="d-block mb-2 mx-auto" alt="Attendance">
            </div>
            <div class="parameter-details">
                <span class="d-block title">@ResourceManager.GetString("ChartDashboard.StudentProgressTracker.AvgAssessmentScores")</span>
                <span id="OverallAverage" class="d-block percentage">
                    @Model.ChartRes.AvgPredFig.OverallAverage%
                </span>
            </div>
        </div>
        <div class="tracking-parameter Predicted-score d-flex align-items-center mr-3 pr-3 py-2 rounded-1x mb-2 mb-xl-0">
            <div class="parameter-icon text-center">
                <img src="/Content/VLE/img/svg/student-attendance.svg" class="d-block mb-2 mx-auto" alt="Attendance">
            </div>
            <div class="parameter-details">
                <span class="d-block title">@ResourceManager.GetString("ChartDashboard.StudentProgressTracker.AvgPredictedScores")</span>
                <span id="PredictionAverage" class="d-block percentage">
                    @Model.ChartRes.AvgPredFig.PredictionAverage%
                </span>
            </div>
        </div>
        <div class="tracking-parameter Predicted-score-boys d-flex align-items-center mr-3 pr-3 py-2 rounded-1x mb-2 mb-xl-0">
            <div class="parameter-icon text-center">
                <img src="/Content/VLE/img/svg/teacher-count.svg" class="d-block mb-2 mx-auto" alt="Attendance">
            </div>
            <div class="parameter-details">
                <span class="d-block title">@ResourceManager.GetString("ChartDashboard.StudentProgressTracker.AvgScorevsPredictedScoreBoys")</span>
                <span class="d-block percentage">
                    <span id="OverallAverageBoys">@Model.ChartRes.AvgPredFig.OverallAverageBoys%</span> <span id="PredictionAverageBoys" class="small-per d-inline ml-3">@Model.ChartRes.AvgPredFig.PredictionAverageBoys%</span>
                </span>
            </div>
        </div>
        <div class="tracking-parameter Predicted-score-girls d-flex align-items-center pr-3 py-2 rounded-1x mb-2 mb-xl-0">
            <div class="parameter-icon text-center">
                <img src="/Content/VLE/img/svg/student-attendance.svg" class="d-block mb-2 mx-auto" alt="Attendance">
            </div>
            <div class="parameter-details">
                <span class="d-block title">@ResourceManager.GetString("ChartDashboard.StudentProgressTracker.AvgScorevsPredictedScoreGirls")</span>
                <span class="d-block percentage">
                    <span id="OverallAverageGirls">@Model.ChartRes.AvgPredFig.OverallAverageGirls%</span> <span id="PredictionAverageGirls" class="small-per d-inline ml-3">@Model.ChartRes.AvgPredFig.PredictionAverageGirls%</span>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-12 mb-3">
        <div class="card column-padding h-100 chart-outer">
            <div class="card-body">
                <div class="section-title">
                    <h3>@ResourceManager.GetString("ChartDashboard.StudentProgressTracker.AvgScorebyYear")</h3>
                    <div class="demo-section k-content wide">
                        <div id="chartColumn"></div>
                        <div id="chartColumn_overlay">
                            <span class="no-data-found text-bold mx-auto my-auto mt-1 d-block">
                                @ResourceManager.GetString("Shared.Labels.NoRecords")
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12 mb-3">
        <div class="card column-padding h-100 chart-outer">
            <div class="card-body">
                <div class="section-title">
                    <h3>@ResourceManager.GetString("ChartDashboard.StudentProgressTracker.StudentCountbyPrediction")</h3>
                    <div class="demo-section k-content wide">
                        <div id="chartDonut"></div>
                        <div id="chartDonut_overlay">
                            <span class="no-data-found text-bold mx-auto my-auto mt-1 d-block">
                                @ResourceManager.GetString("Shared.Labels.NoRecords")
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-12 mb-3">
        <div class="card column-padding h-100 chart-outer">
            <div class="card-body">
                <div class="section-title">
                    <h3>
                        @ResourceManager.GetString("ChartDashboard.StudentProgressTracker.StudentswithPredictedscorebelow75")
                    </h3>
                    <div class="demo-section k-content wide">
                        <div id="chartPredictedScoreBar"></div>
                        <div id="chartPredictedScoreBar_overlay">
                            <span class="no-data-found text-bold mx-auto my-auto mt-1 d-block">
                                @ResourceManager.GetString("Shared.Labels.NoRecords")
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-12">
        <div class="card column-padding h-100 chart-outer">
            <div class="card-body">
                <div class="section-title">
                    <h3>@ResourceManager.GetString("ChartDashboard.StudentProgressTracker.AssessmentwiseAvgScorebyYear")</h3>
                    <div class="demo-section k-content wide">
                        <div id="chartAssesmentColumn"></div>
                        <div id="chartAssesmentColumn_overlay" class="ch-overlay">
                            <span class="no-data-found text-bold mx-auto my-auto mt-1 d-block">
                                @ResourceManager.GetString("Shared.Labels.NoRecords")
                            </span>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var avgScoreChartData = JSON.parse('@Html.Raw(Json.Encode(Model.AvgScoreColumnChartVMs))');
    var studentCountChartData = JSON.parse('@Html.Raw(Json.Encode(Model.StudentCountDonutChartVMs))');
    var subjectChartData = JSON.parse('@Html.Raw(Json.Encode(Model.ChartRes.PredBySub))');
    var assmntAvgScoreChartData = JSON.parse('@Html.Raw(Json.Encode(Model.AssWiseColumnChartVMs))');
</script>

<script src="@Url.Content("~/Content/js/custom/Charts/ProgressTrackerPartialCharts.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
