﻿@model Phoenix.VLE.Web.ViewModels.StudentProgressTrackerChartsDashboard

@{

}

<style>
    html {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>

<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.915/styles/kendo.default-v2.min.css" />

<script src="https://kendo.cdn.telerik.com/2020.3.915/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.3.915/js/kendo.all.min.js"></script>


<base href="https://demos.telerik.com/kendo-ui/bar-charts/column">
<base href="https://demos.telerik.com/kendo-ui/donut-charts/donut-labels">
<base href="https://demos.telerik.com/kendo-ui/bar-charts/stacked-bar">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<style type="text/css">
    .bootstrap-select {
        width: 160px !important;
    }

    .avg {
        display: inline-block;
        border:4px solid black;
        padding:8px;
    }
    #PredictionAverageGirls, #PredictionAverageBoys{
        float:right;
    }
</style>

<form class="form-inline">
    <div class="row">
        <!-- left column -->
        @*<div class="col-12">*@
        <!-- search section -->
        @*<div class=" search-row">
            <div class="row group-search">*@
        @*<div class="col-lg-8 col-md-8 col-sm-8">*@
        @*<div class="md-form md-outline sort-dropdown purple-select-text school-level mr-1">*@
        <label for="academicYear">Academic Year </label>
        @Html.DropDownList("academicYear", Model.StudentProgressFilter.AcademicYear, "All", new { @class = "selectpicker1 form-control m-1" })

        <label for="class">Class </label>
        @Html.DropDownList("class", Model.StudentProgressFilter.Class, "All", new { @class = "selectpicker1 form-control m-1" })

        <label for="subject">Subject </label>
        @Html.DropDownList("subject", Model.StudentProgressFilter.Subject, "All", new { @class = "selectpicker1 form-control m-1" })

        <label for="assessment">Assessment </label>
        @Html.DropDownList("assessment", Model.StudentProgressFilter.Assessment, "All", new { @class = "selectpicker1 form-control m-1" })

        <label for="teacher">Teacher </label>
        @Html.DropDownList("teacher", Model.StudentProgressFilter.Teacher, "All", new { @class = "selectpicker1 form-control m-1" })
        <br /><br />

        @*</div>*@
        @*<select class="selectpicker" data-live-search="true">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
            </select>*@
        @*<div class="md-form md-outline sort-dropdown purple-select-text department d-none mr-1">
                <label class="select-label">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Department")  </label>
                @Html.DropDownList("ddldepartment", new SelectList(string.Empty, "Value", "Text"), "Select Department", new { @class = "selectpicker " })
            </div>
            <div class="md-form md-outline sort-dropdown purple-select-text course mr-1">
                <label class="select-label">@ResourceManager.GetString("Shared.Labels.Course") </label>
                @Html.DropDownList("ddlcourse", ViewData["SchoolCourseList"] as List<SelectListItem>, new { @class = "selectpicker", @data_live_search = "true", @onchange = "exemplar.onCourseChanged()" })
            </div>
            <div class="md-form md-outline sort-dropdown purple-select-text mr-1">
                <label class="select-label">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Group") </label>
                <select id="ddlGroup" class="selectpicker" data-live-search="true" onchange="exemplar.onGroupSelect()"></select>
            </div>*@
        @*</div>*@

        @*</div>*@
    </div>
    <!-- search section end -->

    <div id="groupList">

    </div>

    <!-- students card -->
    @*<div class="exemplarList" id="exemplarList">
            @{ Html.RenderPartial("_NewExemplarList", Model.ExemplarList); }
        </div>*@
    <!--</div>-->
    <!-- students card end -->
    <!--</div>-->

</form>


<div class="avg">

    <div>Avg Assessment Score</div>
    <span id="OverallAverage">@Model.ChartRes.AvgPredFig.OverallAverage</span>
</div>

<div class="avg">
    <div>Avg Predicted Score</div>
    <span id="PredictionAverage">@Model.ChartRes.AvgPredFig.PredictionAverage</span>
</div>

<div class="avg">

    <div>Avg Score vs Predicted Score Boys</div>
    <span id="OverallAverageBoys">@Model.ChartRes.AvgPredFig.OverallAverageBoys</span>

    <span id="PredictionAverageBoys">@Model.ChartRes.AvgPredFig.PredictionAverageBoys</span>
</div>

<div class="avg">
    <div>Avg Score vs Predicted Score Girls</div>
    <span id="OverallAverageGirls">@Model.ChartRes.AvgPredFig.OverallAverageGirls</span>

    <span id="PredictionAverageGirls">@Model.ChartRes.AvgPredFig.PredictionAverageGirls</span>
</div>

<div id="example">
    <div class="demo-section k-content wide">
        <div id="chart" style="background: center no-repeat url('../content/shared/styles/world-map.png');"></div>
    </div>

    <script>
        var bchart = JSON.parse('@Html.Raw(Json.Encode(Model.AssWiseColumnChartVMs))');

            var cchart = [];

            function createChart() {
                $("#chart").kendoChart({
                    title: {
                        text: "Assessment wise Avg Score by Year"
                    },
                    legend: {
                        position: "top"
                    },
                    seriesDefaults: {
                        type: "column",
                        spacing: 0,
                        labels: {
                            visible: true,
                            color: "black"

                        }
                    },
                    series: $.each(bchart[0].LabelNameValue, function (i, v) {
                        cchart.push(v);

                    }),
                    valueAxis: {
                        labels: {
                            format: "{0}"
                        },
                        line: {
                            visible: false
                        },
                        min: 0,
                        max: 100,
                        majorUnit: 25,
                        axisCrossingValue: 0
                    },
                    categoryAxis: {
                        categories: bchart[0].categories,
                        line: {
                            visible: false
                        },
                        labels: {
                            padding: { top: 4 }
                        }
                    },
                    tooltip: {
                        visible: true,
                        format: "{0}%",
                        template: "#= series.name #: #= value #"
                    }
                });
            }

            $(document).ready(createChart);
            $(document).bind("kendo:skinChange", createChart);
    </script>
</div>
<hr />
<div id="example1">

    <div class="demo-section k-content wide">
        <div id="chart1"></div>
    </div>
    <script>

        var dchart = JSON.parse('@Html.Raw(Json.Encode(Model.StudentCountDonutChartVMs))');

            function createChart1() {
                $("#chart1").kendoChart({
                    title: {
                        text: "Student Count by Prediction %"
                    },
                    //legend: {
                    //    position: "top"
                    //},
                    seriesDefaults: {
                        labels: {
                            template: "#= value # (#= kendo.format('{0:P}', percentage)#)",
                            position: "outsideEnd",
                            visible: true,
                            background: "transparent"
                        }
                    },
                    series: [{
                        type: "donut",
                        data: dchart
                    }],
                    tooltip: {
                        visible: true,
                        template: "#= value # (#= kendo.format('{0:P}', percentage) #)"
                    }
                });
            }

            $(document).ready(createChart1);
            $(document).bind("kendo:skinChange", createChart1);


    </script>
</div>
<hr />
<div id="example2">
    <div class="demo-section k-content wide">
        <div id="chart2"></div>
    </div>
    <script>

        var hchart = JSON.parse('@Html.Raw(Json.Encode(Model.ChartRes.PredBySub))');
        var hhchart = [];

        var hhhchart = [];
        //$.each(h, function (i, v) {
        //    hhh.push(v.Subject);

        //})
        for (var i = 0; i < hchart.length; i++) {
            hhhchart.push(hchart[i].Subject);
        }
        for (var i = 0; i < hchart.length; i++) {
            hhchart.push(hchart[i].StudentCount);
        }
        //$.each(h[0], function (i, v) {
        //    hhh.push(v.Subject);

        //});
        //$.each(h[0], function (i, v) {
        //    alert(i);
        //    hh.push(v.StudentCount);

        //});
        //alert(hh);

        //alert(JSON.stringify(h));
        function createChart2() {
            $("#chart2").kendoChart({
                title: {
                    text: "Predicted Score Below 75%"
                },
                legend: {
                    visible: false
                },
                seriesDefaults: {
                    type: "bar",
                    stack: true,
                    labels: {
                        visible: true,
                        color: "black"

                    }
                },
                series: [{
                    name: "",
                    data: hhchart,
                    color: "#f3ac32"
                }],
                valueAxis: {
                    max: 1100,
                    min: 0,
                    majorUnit: 500,
                    line: {
                        visible: false
                    },
                    minorGridLines: {
                        visible: true
                    }
                },
                categoryAxis: {
                    categories: hhhchart,
                    majorGridLines: {
                        visible: false
                    }
                },
                tooltip: {
                    visible: true,
                    template: "#= series.name # #= value #"
                }
            });
        }

        $(document).ready(createChart2);
        $(document).bind("kendo:skinChange", createChart2);
    </script>
</div>

<div id="example3">
    <div class="demo-section k-content wide">
        <div id="chart3" style="background: center no-repeat url('../content/shared/styles/world-map.png');"></div>
    </div>

    <script>
        var bbchart = JSON.parse('@Html.Raw(Json.Encode(Model.AvgScoreColumnChartVMs))');

        var ccchart = [];

            function createChart3() {
                $("#chart3").kendoChart({
                    title: {
                        text: "Avg Score by Year"
                    },
                    legend: {
                        position: "top"
                    },
                    seriesDefaults: {
                        type: "column",
                        spacing: 0,
                        labels: {
                            visible: true,
                            color: "black"

                        }
                    },
                    series: $.each(bbchart[0].LabelNameValue, function (i, v) {
                        ccchart.push(v);

                    }),
                    valueAxis: {
                        labels: {
                            format: "{0}"
                        },
                        line: {
                            visible: false
                        },
                        min: 0,
                        max: 100,
                        majorUnit: 50,
                        axisCrossingValue: 0
                    },
                    categoryAxis: {
                        categories: bbchart[0].categories,
                        line: {
                            visible: false
                        },
                        labels: {
                            padding: { top: 4 }
                        }
                    },
                    tooltip: {
                        visible: true,
                        format: "{0}%",
                        template: "#= series.name #: #= value #"
                    }
                });
            }

            $(document).ready(createChart3);
            $(document).bind("kendo:skinChange", createChart3);
    </script>
</div>

@*@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}*@

<script>
    $(document).ready(function () {
        $('.selectpicker1').selectpicker({
            liveSearch: true
        });

        createChart();
        $(document).bind("kendo:skinChange", createChart);

        $('#academicYear').change(function () {
            ajax_GetFilteredCharts();
        });

        $('#subject').change(function () {
            alert("hello");
            ajax_GetFilteredCharts();
        });

        $('#class').change(function () {
            ajax_GetFilteredCharts();
        });

        $('#assessment').change(function () {
            ajax_GetFilteredCharts();
        });

        $('#teacher').change(function () {
            ajax_GetFilteredCharts();
        });
    });

    function refresh(bbbchart) {
        var chart = $("#chart").data("kendoChart");
        var c = [];
        chart.options.series = $.each(bbbchart.LabelNameValue, function (i, v) {
            c.push(v);

        });
        chart.options.categoryAxis.categories = bbb.categories;
        //    labels = $("#labels").prop("checked"),
        //    alignInputs = $("input[name='alignType']"),
        //    alignLabels = alignInputs.filter(":checked").val();

        //chart.options.transitions = false;
        //pieSeries.labels.visible = labels;
        //pieSeries.labels.align = alignLabels;

        //alignInputs.attr("disabled", !labels);

        chart.refresh();
    }

    //$(document).on("kendoReady", function () {

        

    //});

    function ajax_GetFilteredCharts() {
        
        var params = {
            academicYear: $('#academicyear').val(),
            subject: $('#subject').val(),
            classId: $('#class').val(),
            assessment: $('#assessment').val(),
            teacher: $('#teacher').val()
        }
        console.log(params);
        $.ajax({
            url: 'http://localhost:7749/StudentProgressTracker/ChartFilter',
            method: 'post',
            data: params,
            success: function (data) {
                chartResponse(data);
            }
        });
    }

    function chartResponse(data) {
        $('#OverallAverage').text(data.ChartRes.AvgPredFig.OverallAverage);
        $('#OverallAverageBoys').text(data.ChartRes.AvgPredFig.OverallAverageBoys);
        $('#OverallAverageGirls').text(data.ChartRes.AvgPredFig.OverallAverageGirls);
        $('#PredictionAverage').text(data.ChartRes.AvgPredFig.PredictionAverage);
        $('#PredictionAverageBoys').text(data.ChartRes.AvgPredFig.PredictionAverageBoys);
        $('#PredictionAverageGirls').text(data.ChartRes.AvgPredFig.PredictionAverageGirls);
        bchart = data.AssWiseColumnChartVMs;
        //refresh(bchart[0]);
        //dchart = data.StudentCountDonutChartVMs;
        //hchart = data.ChartRes.PredBySub;
        ////alert(JSON.stringify(hchart));
        //var hhchart = [];
        //var hhhchart = [];
        //for (var i = 0; i < hchart.length; i++) {
        //    hhhchart.push(hchart[i].Subject);
        //}
        //for (var i = 0; i < hchart.length; i++) {
        //    hhchart.push(hchart[i].StudentCount);
        //}
        //bbchart = data.AvgScoreColumnChartVMs;
        //$('#result').html(JSON.stringify(data));
    }
</script>
<div id="result"></div>



