﻿@model Phoenix.VLE.Web.EditModels.SchoolThemeEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Enums
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    var img = PhoenixConfiguration.Instance.ReadFilePath + Model.ThemePreviewImage;
}
@using (Ajax.BeginForm("InsertUpdateSchoolTheme", "Themes", new AjaxOptions { OnSuccess = "schoolTheme.onSaveSuccess" }, new { id = "frmAddTheme", @class = "form-horizontal" }))
{
    <div class="modal-body">
        <div class="popup-form">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.SchoolGradeId)
            @Html.HiddenFor(x => x.IsAddMode)
            @Html.HiddenFor(x => x.SchoolId)

            <div class="row">
                <div class="col-lg-6 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.DropDownListFor(x => x.ThemeId, new SelectList(ViewBag.SchoolThemes, "Value", "Text", Model.ThemeId), ResourceManager.GetString("School.SchoolSpace.SelectTheme"), new { @class = "selectpicker" })
                        <label class="active select-label">@ResourceManager.GetString("School.Theme.ThemeName") <span class="text-danger">*</span></label>
                        @Html.ValidationMessageFor(x => x.ThemeId, "", new { @class = "text-danger small" })
                    </div>
                    @if (Model.IsAddMode)
                    {
                        <div class="md-form md-outline">
                            @Html.DropDownListFor(x => x.SchoolGradeIdList, new MultiSelectList(ViewBag.SchoolGrades, "ItemId", "ItemName"), new { @class = "selectpicker", @multiple = "multiple", @data_live_search = "true" })
                            <label class="active select-label">@ResourceManager.GetString("School.Theme.SchoolGrades") <span class="text-danger">*</span></label>
                            @Html.ValidationMessageFor(x => x.SchoolGradeIdList, "", new { @class = "text-danger small" })
                        </div>
                    }
                </div>
                <div class="col-lg-6 col-md-12 col divThemePreview @(Model.ThemeId !=0 ? "" :"d-none")">
                    <div class="md-form md-outline">
                        <div id="library">
                            <div id="lightgallery">
                                <div class="item">
                                    <div class="library-content clearfix">
                                        <div class="item-icon item-img">
                                            <a id="themePreview" href="@Model.ThemePreviewImage" class="galleryImg themePreview" target="_blank">
                                                <img src="@Model.ThemePreviewImage" id="themePreviewImg" class="img-fluid" style="max-width:150px;max-height:150px;">
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <p>@ResourceManager.GetString("School.SchoolSpace.ThemePreview")</p>
                                            <div class="quick-nav dropleft">
                                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                    <span class="sr-only">@ResourceManager.GetString("Shared.Labels.ToggleDD")</span>
                                                </button>
                                                <div class="dropdown-menu z-depth-1">
                                                    <a class="dropdown-item" id="themePreviewDownload" download="@Model.ThemePreviewImage" href="@Model.ThemePreviewImage">@ResourceManager.GetString("Shared.Buttons.Download")</a>
                                                    <a class="dropdown-item themePreview" href="@Model.ThemePreviewImage" target="_blank">@ResourceManager.GetString("Shared.Buttons.View")</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            @if (Html.CurrentPagePermission().CanEdit)
            {
                <button type="submit" class="btn btn-primary waves-effect waves-light">@ResourceManager.GetString("Shared.Buttons.Save")</button>
            }
        </div>
    </div>
}

@Html.Partial("_ValidationJSPartial")
