@font-face {
    font-family: 'icomoon';
    src: url('../../font/flaticon/icomoon.eot?nabtxv');
    src: url('../../font/flaticon/icomoon.eot?nabtxv#iefix') format('embedded-opentype'), url('../../font/flaticon/icomoon.ttf?nabtxv') format('truetype'), url('../../font/flaticon/icomoon.woff?nabtxv') format('woff'), url('../../font/flaticon/icomoon.svg?nabtxv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #5d3195;
    font-size: 35px;
}

/* [class^="icon-"]:before, [class*="icon-"]:before {
    color: #5d3195;
} */

.icon-action-heirarchy:before {
    content: "\e900";
}

.icon-admin-content-library:before {
    content: "\e901";
}

.icon-admin-thinkbox:before {
    content: "\e902";
}

.icon-approve-exemplar-post:before {
    content: "\e903";
}

.icon-approve-lesson-plan:before {
    content: "\e904";
}

.icon-approver-delegates:before {
    content: "\e905";
}

.icon-assessment-report:before {
    content: "\e906";
}

.icon-assign-permissions:before {
    content: "\e908";
}

.icon-assign-roles:before {
    content: "\e909";
}

.icon-attendance:before {
    content: "\e90a";
}

.icon-behaviour-setup:before {
    content: "\e90c";
}

.icon-business-schools:before {
    content: "\e90d";
}

.icon-censor-filters:before {
    content: "\e90f";
}

.icon-certificate-builder:before {
    content: "\e910";
}

.icon-circular-newsletter:before {
    content: "\e911";
}

.icon-community:before {
    content: "\e913";
}

.icon-configuration:before {
    content: "\e914";
}

.icon-contact-details:before {
    content: "\e915";
}

.icon-course:before {
    content: "\e916";
}

.icon-course-catalogue:before {
    content: "\e917";
}

.icon-courses-builder:before {
    content: "\e918";
}

.icon-cross-school-permission:before {
    content: "\e919";
}

.icon-delegation:before {
    content: "\e91b";
}

.icon-digital-portfolio:before {
    content: "\e91c";
}

.icon-division:before {
    content: "\e91d";
}

.icon-drive:before {
    content: "\e91e";
}

.icon-enroll-activities:before {
    content: "\e91f";
}

.icon-event-category:before {
    content: "\e920";
}

.icon-exemplar-wall:before {
    content: "\e921";
}

.icon-fee-payment:before {
    content: "\e922";
}

.icon-gallery:before {
    content: "\e923";
}

.icon-gradebook-setup:before {
    content: "\e924";
}

.icon-grading:before {
    content: "\e925";
}

.icon-groups:before {
    content: "\e926";
}

.icon-hifz-tracker:before {
    content: "\e927";
}

.icon-home:before {
    content: "\e928";
}

.icon-knowledge-hub:before {
    content: "\e929";
}

.icon-lesson-plans:before {
    content: "\e92a";
}

.icon-list-categories:before {
    content: "\e92b";
}

.icon-live-sessions:before {
    content: "\e92c";
}

.icon-marking-scheme:before {
    content: "\e92d";
}

.icon-assignments:before {
    content: "\e92e";
}

.icon-quiz:before {
    content: "\e92f";
}

.icon-observations:before {
    content: "\e930";
}

.icon-parents-corner:before {
    content: "\e931";
}

.icon-planner:before {
    content: "\e932";
}

.icon-points-redumptions:before {
    content: "\e933";
}

.icon-progress-tracker-setup:before {
    content: "\e934";
}

.icon-record-sessions:before {
    content: "\e935";
}

.icon-reports:before {
    content: "\e936";
}

.icon-resources:before {
    content: "\e937";
}

.icon-safety-categories:before {
    content: "\e938";
}

.icon-school-banners:before {
    content: "\e939";
}

.icon-school-skill-set:before {
    content: "\e93a";
}

.icon-security-management:before {
    content: "\e93b";
}

.icon-select-course:before {
    content: "\e93c";
}

.icon-set-subjects:before {
    content: "\e93d";
}

.icon-standard-details:before {
    content: "\e93e";
}

.icon-tc-request:before {
    content: "\e93f";
}

.icon-theme-settings:before {
    content: "\e940";
}

.icon-thinkbox:before {
    content: "\e941";
}

.icon-thinkbox-category:before {
    content: "\e942";
}

.icon-thinkbox-panel:before {
    content: "\e943";
}

.icon-update-student-details:before {
    content: "\e944";
}

.icon-upload-templates:before {
    content: "\e945";
}

.icon-user-roles:before {
    content: "\e946";
}

.icon-users:before {
    content: "\e947";
}

.icon-users-roles:before {
    content: "\e948";
}

.icon-vault:before {
    content: "\e949";
}