﻿@model Phoenix.VLE.Web.Areas.SMS.Model.ReportDesigner
@using Phoenix.VLE.Web.Areas.SMS.Model;
@using Phoenix.Common.Localization
@{
    string selectText = "Select";
    string ReportControl = Model == null ? "" : Model.RDSR_FILTER_TYPES.ToString().Replace("||", ",");
    string[] arrControl = ReportControl.Split(',');
    List<ReportFilterControls> objrptControl = new List<ReportFilterControls>();
    List<SelectListItem> objdropdown = new List<SelectListItem>();
    int RDSRId = 0;
    int DevId = 0;
    string ReportType = string.Empty;
    string columnstyle = string.Empty;
    if (ViewBag.ReportFormControl != null)
    {

        objrptControl = ViewBag.ReportFormControl;

    }
    if (ViewBag.DropDownValue != null)
    {
        objdropdown = ViewBag.DropDownValue;
    }
    if (ViewBag.RDSR_ID != null)
    {
        RDSRId = ViewBag.RDSR_ID;

    }
    if (ViewBag.Dev_Id != null)
    {

        DevId = ViewBag.Dev_Id;

    }
    if (ViewBag.ReportType != null)
    {
        ReportType = ViewBag.ReportType;
        if (ReportType.Equals("C0"))
        {
            columnstyle = "col-md-4";
        }
        else
        {
            columnstyle = "col-md-6";
        }
    }


}

@if (Model != null)
{
    if (arrControl.Length > 0)
    {
        <div class="row">
            <input type="hidden" value="@RDSRId" id="hdfRDSRId" />
            <input type="hidden" value="@DevId" id="hdfdevId" />
            <input type="hidden" value="@arrControl" id="hdfFormControls" />
             
            @for (int i = 0; i < arrControl.Length; i++)
            {
                var incremetRows = ReportType == "C0" ? i % 3 : i % 2;
               
                    if (i > 0 && incremetRows == 0)
                    {
                    @:</div><div class="row">
                        // close and start new row
                    }

                if (!string.IsNullOrEmpty(arrControl[i]))
                {

                    var formcontrol = objrptControl.Where(e => e.RDF_FILTER_CODE == arrControl[i]).FirstOrDefault();

                    switch (formcontrol.RDF_FILTER_TYPE)
                    {
                        case "DropDown":


                            if (i == 0)
                            {
                                <div class=@columnstyle>
                                    <label>@formcontrol.RDF_FILTER_NAME</label>
                                    @Html.DropDownList(formcontrol.RDF_FILTER_CODE, objdropdown, selectText, new { @class = "selectpicker", @data_live_search = "true", @id = "ddl_" + formcontrol.RDF_FILTER_CODE, data_RDFCode = formcontrol.RDF_FILTER_CODE, data_NextDDL = arrControl[i + 1], @data_type = "DropDown", @onchange = "SIMSReport.populateDetails(this)" })

                                </div>

                            }
                            else
                            {
                                <div class=@columnstyle>
                                    <label>@formcontrol.RDF_FILTER_NAME</label>
                                    @Html.DropDownList(formcontrol.RDF_FILTER_CODE, new SelectList(string.Empty), selectText, new { @class = "selectpicker", @data_live_search = "true", @id = "ddl_" + formcontrol.RDF_FILTER_CODE, data_RDFCode = formcontrol.RDF_FILTER_CODE, data_NextDDL = arrControl[i + 1], @data_type = "DropDown", @onchange = "SIMSReport.populateDetails(this)" })

                                </div>
                            }




                            break;

                        case "Date":



                            <div class=@columnstyle>
                                <label>@formcontrol.RDF_FILTER_NAME</label>
                                <input type="text" id="txt_@formcontrol.RDF_FILTER_CODE" data-type="Date" class="form-control clsdatepicker date-picker" />

                            </div>


                            break;

                        case "Checkbox":


                            if (i == 0)
                            {
                                <div class=@columnstyle>
                                    <label>@formcontrol.RDF_FILTER_NAME</label>
                                    @Html.DropDownList(formcontrol.RDF_FILTER_CODE, objdropdown, selectText, new { @class = "selectpicker", @multiple = "multiple", @data_live_search = "true", @id = "ddl_" + formcontrol.RDF_FILTER_CODE, data_RDFCode = formcontrol.RDF_FILTER_CODE, data_NextDDL = arrControl[i + 1], @data_type = "Checkbox", @onchange = "SIMSReport.populateMultiselect(this)" })

                                </div>
                            }
                            else
                            {
                                <div class=@columnstyle>
                                    <label>@formcontrol.RDF_FILTER_NAME</label>
                                    @Html.DropDownList(formcontrol.RDF_FILTER_CODE, new SelectList(string.Empty), selectText, new { @class = "selectpicker", @multiple = "multiple", @data_live_search = "true", @id = "ddl_" + formcontrol.RDF_FILTER_CODE, data_RDFCode = formcontrol.RDF_FILTER_CODE, data_NextDDL = arrControl[i + 1], @data_type = "Checkbox", @onchange = "SIMSReport.populateMultiselect(this)" })

                                </div>
                            }








                            break;




                    }


                }



            }

        </div>





    }
    <div class="row">
        <div class="form-group col-md-12 col-xs-12 col-sm-12 text-center">
            <button id="btnDisplayReport" class="btn btn-primary">View</button>

        </div>
    </div>
}
else
{
    <div class="min-height">
       
        <div class="row m-5">
            <div class="col-lg-2 col-md-2 col-2">


            </div>
            <div class="col-lg-8 col-md-8 col-8">
                <h3 class="sub-heading text-center m-5">No Data Available</h3>
            </div>
            <div class="col-lg-2 col-md-2 col-2">


            </div>


        </div>

    </div>
    

}




<script type="text/javascript">

    $(document).ready(function () {
        //$('.filter-option-inner-inner').html('Select');
        var arrcontrols = [];
         @foreach (var d in arrControl)
         {
             @:arrcontrols.push("@d");
         }

        $('#btnDisplayReport').on('click', function () {
            debugger;
            //alert(arrcontrols);
            var objlstcontroldetails = [];
            if ($('#toggler').is(":checked")) {
              var objACD_ID = {

               FILTER_CODE: "ACD_ID",
               Filter_Value: $("#AcademicYear").val()

                }
                var objRSM_ID = {

                    FILTER_CODE: "RSM_ID",
                    Filter_Value: $("#ReportHeaders").val()

                }
                objlstcontroldetails.push(objACD_ID);
                objlstcontroldetails.push(objRSM_ID);
            }

            for (var i = 0; i < arrcontrols.length; i++) {

                if (arrcontrols[i] != "") {

                    var rdf_code = $("#ddl_" + arrcontrols[i]).attr('data-RDFCode');
                    var values = $("#ddl_" + arrcontrols[i]).val();
                    var controlinarr = $("#ddl_" + arrcontrols[i]).attr("data-type");
                        var objcontrols = {
                            FILTER_CODE: rdf_code,
                            Filter_Value: values.toString(),
                            DataType : controlinarr
                        }

                    objlstcontroldetails.push(objcontrols);


                }

            }
            var jsonobject = JSON.stringify(objlstcontroldetails);
           // alert(jsonobject)
            //$.post('/Reports/ViewReport', { objlstcontroldetails: objcontroldata }, function (response) { });
            if ($('#toggler').is(":checked")) {
               // window.location.href = "/Reports/ViewReport?ReportType=" + "C0" + "&Dev_Id=" + $('#hdfdevId').val() + "&objlstcontroldetails=" + jsonobject;
                window.open("/Reports/ViewReport?ReportType=" + "C0" + "&Dev_Id=" + $('#hdfdevId').val() + "&objlstcontroldetails=" + jsonobject);
            }
            else {
                //window.location.href = "/Reports/ViewReport?ReportType=" + $("#ReportType").val() + "&Dev_Id=" + $('#hdfdevId').val() + "&objlstcontroldetails=" + jsonobject;
                window.open("/Reports/ViewReport?ReportType=" + $("#ReportType").val() + "&Dev_Id=" + $('#hdfdevId').val() + "&objlstcontroldetails=" + jsonobject);

            }





        });




    });


</script>
