﻿@using Phoenix.VLE.Web.Areas.SMS.Model;
@using Phoenix.Common.Localization
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_SIMSLayout.cshtml";
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    List<SelectListItem> objSelectList = null;
    if (ViewBag.lisofReportType != null)
    {
        objSelectList = ViewBag.lisofReportType;
    }

}
<link href="~/Content/css/custom/SIMS/custom.css" rel="stylesheet" />

<div class="clearfix position-relative">

    <div class="row">

        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">

                        </div>
                        <div class="col-lg-2 col-md-2">
                        </div>

                        <div class="col-lg-2 col-12 text-right">
                            <input id="toggler" type="checkbox" checked data-toggle="toggle" data-on="Assessment" data-off="Others" data-onstyle="primary" data-offstyle="success" data-style="btn-toggler m-auto" data-width="140px">
                        </div>


                    </div>
                    <div class="row">

                        <div id="divrptacd" class="col-lg-4 col-4">
                            <label class="form-control-label" for="input-activity">@ResourceManager.GetString("SIMS.Assessment.AcademicYear")</label>
                            @Html.DropDownList("AcademicYear", (SelectList)ViewBag.AcademicYear, selectText, new { @class = "selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.AcademicYear") })
                        </div>
                        <div id="divterm" class="col-md-4">
                            <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Assessment.Term")</label>
                            @Html.DropDownList("Term", new SelectList(string.Empty), selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.Term") })
                        </div>
                        <div id="divrpthdr" class="col-md-4 col-4">
                            <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Assessment.ReportHeader")</label>
                            @Html.DropDownList("ReportHeaders", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.ReportHeader") })
                        </div>

                        <div id="divrpttype" class="col-lg-6 col-6 d-none">
                            <label>Report Type</label>
                            @Html.DropDownList("ReportType", objSelectList, selectText, new { @class = "selectpicker" })
                        </div>
                        <div id="divrptdetails" class="col-lg-6 col-6 d-none">
                            <label>Report</label>
                            @Html.DropDownList("ReportDetails", new SelectList(string.Empty), selectText, new { @class = "selectpicker" })
                        </div>
                    </div>
                    <div class="row">

                    </div>
                    <div id="divrptcontrol">
                    </div>





                </div>


            </div>



        </div>

    </div>

    <div class="row min-height">
        <div class="col-lg-12"></div>
    </div>




</div>








<link rel="stylesheet" type="text/css" href="~/Content/css/addons/bootstrap-toggle.css" />
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
                    {
    <script type="text/javascript" src="~/Content/js/addons/bootstrap-toggle.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
    <script src="~/Content/js/custom/SIMS/Reports/Reports.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>



}