﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    var panelTitle = ResourceManager.GetString("SchoolBanner.Banner.SchoolBannerTitle");
    ViewData["Title"] = panelTitle;
    var rnd = DateTime.Now.Ticks.ToString();
    bool IsCustomPermission = (bool)ViewBag.IsCustomPermission;
}
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}

<div class="row search-row pb-2">
    <div class="col-md-12 col-12 justify-content-end d-md-flex">
        <div class="search-with-bg w-responsive">
            <span class="icon-search"></span>
            <input type="text" id="SchoolBannerSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
        </div>
        @if (IsCustomPermission)
        {
            <button id="btnAddSchoolbanner" type="button" class="btn btn-primary m-0 ml-0 ml-md-3 mt-4 mt-md-0 rounded-6x waves-effect waves-light"><i class="fa fa-plus mr-2"></i>@ResourceManager.GetString("SchoolBanner.Banner.AddSchoolBanner")</button>
        }
    </div>
   

</div>

<div class="row grid-view">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card grid-list-card">
            <div class="list-wrapper table-responsive">
                <table class="table mw-100 dataTable no-footer" id="tbl-SchoolBannerList">
                    <thead class="thead-dark"></thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
<style>
    .dataTables_filter {
        display: none;
    }
</style>
@section scripts
{
    <script language="javascript">
        translatedResources.SchoolBanner = '@ResourceManager.GetString("Schoolbanner.Banner.SchoolBannerTitle")';
        translatedResources.BannerName = '@ResourceManager.GetString("Schoolbanner.Banner.BannerName")';
        translatedResources.ClickUrl = '@ResourceManager.GetString("Schoolbanner.Banner.ClickURL")';
        translatedResources.Image = '@ResourceManager.GetString("Schoolbanner.Banner.UploadedImageName")';
            translatedResources.actions = '@ResourceManager.GetString("Shared.Labels.Actions")';
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Schoolbanner/SchoolBanner.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}