﻿@model IEnumerable<Phoenix.Models.Entities.StudentsLeaveDetails>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Enums
@{
    ViewBag.Title = "LeaveDetails";
    var studList = ViewBag.StudList;
    var stList = Model;
    var badge = "";
    //var AddFileShown = "d-none";
}
@*<link href="~/Content/css/custom/Users/easyuitree.css" rel="stylesheet" />*@
<style>
    .leave-request-container .leave-request-card .dataTables_paginate, .leave-request-container .leave-request-card .dataTables_filter, .leave-request-container .leave-request-card .dataTables_length {
        display: block;
    }

    #library .item .library-content .item-icon {
        height: auto;
    }

    select.bs-select-hidden, .bootstrap-select > select.bs-select-hidden, select.selectpicker {
        display: block !important;
    }

    .resource-info {
        max-width: 70%;
    }

    /*.leave-request-container .leave-request-card .panel-header {
        margin-bottom: 10px;
    }*/

    /*#eventTitle {
        font-size: 1rem;
        color: #5d3195;
        font-weight: 600;
    }*/
</style>
@*<div class="container-fluid mt-3 mt-md-2 mb-4">*@
    <div class="row">
        <div class="col-lg-12 col-12 leave-request-container">
            @if (stList != null && stList.Count() > 0)
            {
                var i = 0;
                <ul class="nav bg-white bordered-tab-item" id="myLRTab" role="tablist">
                    @foreach (var stud in stList)
                    {
                        i = i + 1;
                        var act = stud.IsSelected ? "active" : "";
                        var area = stud.IsSelected ? "true" : "false";
                        <li class="nav-item">
                            <a class="nav-lr-link nav-link @act" id="home-tab-@stud.StudentNo" data-stud="@stud.StudentNo" data-toggle="tab" href="#home-@stud.StudentNo" role="tab" aria-controls="home"
                               aria-selected=@area>@stud.StudentName</a>
                        </li>
                    }
                </ul>
                var leavTyDisc = (stList.FirstOrDefault(m => m.IsSelected == true && m.IsSelLeaveType == true) != null) ? true : false;
                var j = 0; var acti = ""; var hid = ""; var actLT = ""; var hidLT = ""; var LTact = ""; var LThid = "";
                foreach (var stud in stList)
                {
                    j++; if (stud.IsSelected) { acti = "active"; hid = ""; } else { acti = ""; hid = "hide-item"; }
                    if (stud.IsSelected) { acti = "active"; hid = ""; } else { acti = ""; hid = "hide-item"; }
                    if (stud.IsSelLeaveType) { actLT = "hide-item"; hidLT = ""; LTact = ""; LThid = "active"; } else { actLT = ""; hidLT = "hide-item"; LTact = "active"; LThid = ""; }
                    <div class="card leave-request-card @hid border-0" id="leave-request-page-@stud.StudentNo" data-stud="@stud.StudentNo">
                        <div class="panel-header" id="leaveReq-header-@stud.StudentNo">
                            <div class="toggle-wrapper">
                                <div class="letter-request-toggle leave-letter @LTact" id="leave-letter-@stud.StudentNo" data-stud="@stud.StudentNo">Leave Letter</div>
                                <div class="letter-request-toggle leave-request @LThid" id="leave-request-@stud.StudentNo" data-stud="@stud.StudentNo">Leave Request</div>
                            </div>
                            <div class="button-group">
                                <button type="button" class="btn btn-primary btn-sm waves-effect waves-light btnFilter all" onclick=" return filterLeaveDetails(this,'All')">All</button>
                                <button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect waves-light btnFilter" onclick=" return filterLeaveDetails(this,'1')">Approved</button>
                                <button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect waves-light btnFilter" onclick=" return filterLeaveDetails(this,'2')">Not Approved</button>
                                <button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect waves-light btnFilter" onclick=" return filterLeaveDetails(this,'3')">Pending Approval</button>
                                <button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect waves-light btnFilter" onclick=" return filterLeaveDetails(this,'4')">Not Applied</button>
                            </div>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show @acti" id="home-@stud.StudentNo" data-stud="@stud.StudentNo" role="tabpanel" aria-labelledby="home-tab-@stud.StudentNo">
                                <!--Leave letter table-->
                                <div class="@actLT table-wrapper table-responsive-md" id="tableDefault-@stud.StudentNo">
                                    <table id="tblDefault-@stud.StudentNo" class="table table-bordered table-hover tblLeaveRequest leaveLetter" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="th-sm d-none">StatusId</th>
                                                <th class="th-sm">Attendance Date</th>
                                                @*<th class="th-sm d-none">ToDate</th>*@
                                                <th class="th-sm">Leave Type</th>
                                                <th class="th-sm">Remarks</th>
                                                <th class="th-sm">Approval Status</th>
                                                <th class="th-sm tbl-actions">Leave Letter</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (stud.LstLeaveDetails != null && stud.LstLeaveDetails.Where(m => m.Leave_Type != "Leave Request").Count() > 0)
                                            {
                                                foreach (var leav in stud.LstLeaveDetails)
                                                {
                                                    if (leav.Leave_Type != "Leave Request")
                                                    {
                                                        <tr data-stud="@stud.StudentNo" data-refId="@leav.Ref_Id" data-frmDate="@leav.From_Date" data-toDate="@leav.To_Date" data-category="@leav.Approval_Status.ToLower()">
                                                            @{var fDate = Convert.ToDateTime(leav.From_Date);
                                                                var tDate = Convert.ToDateTime(leav.To_Date);
                                                                var stsId = leav.Approval_Status == "Approved" ? 1 : leav.Approval_Status == "Not Approved" ? 2
                                                                    : leav.Approval_Status == "Pending Approval" ? 3 : leav.Approval_Status == "Not Applied" ? 4 : 0;
                                                            }
                                                            <td class="d-none">@stsId</td>
                                                            <td data-sort="@fDate.ToString("yyyyMMdd")">@fDate.ToString("dd-MMM-yyyy")</td>
                                                            <td>@leav.Attendance_Leave_Type</td>
                                                            <td>
                                                                @if (leav.Remarks.Trim().Length <= 15)
                                                                {
                                                                    @leav.Remarks
                                                                }
                                                                else
                                                                {
                                                                    <div class="content text-medium popoverInformation">
                                                                        @( leav.Remarks.Substring(0, 15)+"...")
                                                                        <a href="javascript:void(0)" data-toggle="dropdown" style="font-size:10px">Read more</a>
                                                                        <div class="resource-info dropdown-menu mt-n5 z-depth-1 border-light rounded-2x p-0">
                                                                            <div class="column-padding py-3">
                                                                                <div class="content">
                                                                                    <p class="sub-heading text-semibold text-primary">@ResourceManager.GetString("LeaveRequest.Leave.Remarks")</p>
                                                                                    <p> @leav.Remarks</p>
                                                                                </div>
                                                                                <div class="d-flex justify-content-end mt-4">
                                                                                    <button type="button" class="btn btn-outline-primary btn-sm m-0">@ResourceManager.GetString("Shared.Buttons.Close")</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </td>
                                                            @*<td>@leav.Ref_Id</td>*@
                                                            @if (leav.Approval_Status.ToLower() == "pending approval") { badge = "badge-warning"; }
                                                            else if (leav.Approval_Status.ToLower() == "not applied" || leav.Approval_Status.ToLower() == "not approved") { badge = "no-badge"; }
                                                            else { badge = "badge-success"; }
                                                            <td>
                                                                <span class="badge @badge">@leav.Approval_Status</span>
                                                            </td>
                                                            <td class="tbl-actions text-left">
                                                                @if (leav.Enable_Button == 1 && leav.Ref_Id != 0 && leav.Approval_Status.ToLower() == "pending approval")
                                                                {

                                                                    <a class="text-center" onclick="return openLeaveApplPop(this , '@leav.Approval_Status','@leav.Leave_Type')">
                                                                        <img src="~/Content/VLE/img/svg/pencil.svg" />
                                                                        <span class="write">Edit</span>
                                                                    </a>
                                                                }
                                                                else if (leav.Enable_Button == 1 && leav.Approval_Status.ToLower() == "not applied")
                                                                {
                                                                    <a class="text-center" onclick="return openLeaveApplPop(this , '@leav.Approval_Status','@leav.Leave_Type')" title="Write">
                                                                        <img src="~/Content/VLE/img/svg/write-app.svg" />
                                                                        <span class="write">Write</span>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a class="text-center" onclick="return openLeaveApplPop(this , '@leav.Approval_Status','@leav.Leave_Type')" title="View">
                                                                        <img src="~/Content/VLE/img/svg/viewapp.svg">
                                                                        <span>View</span>
                                                                    </a>
                                                                }

                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <tr class="tbl-no-row"> <td colspan="5" class="text-center">@ResourceManager.GetString("Course.CrossSchoolPermission.NoRecords")</td></tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!--Leave letter table end-->
                                <!--Leave request table-->
                                <div class="@hidLT table-wrapper table-responsive-md tableLeaveRequest" id="tableLeaveRequest-@stud.StudentNo">
                                    <table id="tblLeaveRequest-@stud.StudentNo" class="table table-bordered table-hover tblLeaveRequest tableLeaveRequest" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="th-sm d-none">StatusId</th>
                                                <th class="th-sm">From</th>
                                                <th class="th-sm">To</th>
                                                <th class="th-sm">Leave Type</th>
                                                <th class="th-sm">Remarks</th>
                                                <th class="th-sm">Approval Status</th>
                                                <th class="th-sm">Approver Comments</th>
                                                <th class="th-sm tbl-actions">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @if (stud.LstLeaveDetails != null && stud.LstLeaveDetails.Where(m => m.Leave_Type == "Leave Request").ToList().Count() > 0)
                                            {
                                                foreach (var leav in stud.LstLeaveDetails)
                                                {
                                                    if (leav.Leave_Type == "Leave Request")
                                                    {
                                                        <tr data-stud="@stud.StudentNo" data-refId="@leav.Ref_Id" data-frmDate="@leav.From_Date" data-toDate="@leav.To_Date" data-category="@leav.Approval_Status.ToLower()">
                                                            @{var fDate = Convert.ToDateTime(leav.From_Date);
                                                                var tDate = Convert.ToDateTime(leav.To_Date);
                                                                var stsId = leav.Approval_Status == "Approved" ? 1 : leav.Approval_Status == "Not Approved" ? 2
                                                                    : leav.Approval_Status == "Pending Approval" ? 3 : leav.Approval_Status == "Not Applied" ? 4 : 0;
                                                            }
                                                            <td class="d-none">@stsId</td>
                                                            <td data-sort="@fDate.ToString("yyyyMMdd")">@fDate.ToString("dd-MMM-yyyy")</td>
                                                            <td data-sort="@tDate.ToString("yyyyMMdd")">@tDate.ToString("dd-MMM-yyyy")</td>
                                                            <td>@leav.Attendance_Leave_Type</td>
                                                            <td>

                                                                @if (leav.Remarks.Trim().Length <= 15)
                                                                {
                                                                    @leav.Remarks
                                                                }
                                                                else
                                                                {
                                                                    <div class="content text-medium popoverInformation">
                                                                        @( leav.Remarks.Substring(0, 15)+"...")
                                                                        <a href="javascript:void(0)" data-toggle="dropdown" style="font-size:10px">Read more</a>
                                                                        <div class="resource-info dropdown-menu mt-n5 z-depth-1 border-light rounded-2x p-0">
                                                                            <div class="column-padding py-3">
                                                                                <div class="content">
                                                                                    <p class="sub-heading text-semibold text-primary">@ResourceManager.GetString("LeaveRequest.Leave.Remarks")</p>
                                                                                    <p> @leav.Remarks</p>
                                                                                </div>
                                                                                <div class="d-flex justify-content-end mt-4">
                                                                                    <button type="button" class="btn btn-outline-primary btn-sm m-0">@ResourceManager.GetString("Shared.Buttons.Close")</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </td>
                                                            @if (leav.Approval_Status.ToLower() == "pending approval") { badge = "badge-warning"; }
                                                            else if (leav.Approval_Status.ToLower() == "not applied" || leav.Approval_Status.ToLower() == "not approved") { badge = "no-badge"; }
                                                            else { badge = "badge-success"; }
                                                            <td>
                                                                <span class="badge @badge">@leav.Approval_Status</span>
                                                            </td>
                                                            <td>
                                                                @if (leav.Approver_Remarks.Trim().Length <= 15)
                                                                {
                                                                    @leav.Approver_Remarks
                                                                }
                                                                else
                                                                {
                                                                    <div class="content text-medium popoverInformation">
                                                                        @( @leav.Approver_Remarks.Substring(0, 15)+"...")
                                                                        <a href="javascript:void(0)" data-toggle="dropdown" style="font-size:10px">Read more</a>
                                                                        <div class="resource-info dropdown-menu mt-n5 z-depth-1 border-light rounded-2x p-0">
                                                                            <div class="column-padding py-3">
                                                                                <div class="content">
                                                                                    <p class="sub-heading text-semibold text-primary">Approver Comment</p>
                                                                                    <p> @leav.Approver_Remarks</p>
                                                                                </div>
                                                                                <div class="d-flex justify-content-end mt-4">
                                                                                    <button type="button" class="btn btn-outline-primary btn-sm m-0">@ResourceManager.GetString("Shared.Buttons.Close")</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </td>
                                                            <td class="tbl-actions text-left">
                                                                @if (leav.Enable_Button == 1 && leav.Ref_Id != 0 && leav.Approval_Status.ToLower() == "pending approval")
                                                                {
                                                                    <a class="text-center" data- onclick="return openLeaveApplPop(this , '@leav.Approval_Status' ,'@leav.Leave_Type')" title="Edit">
                                                                        <img src="~/Content/VLE/img/svg/pencil.svg" />
                                                                        <span class="write">Edit</span>
                                                                    </a>
                                                                }
                                                                else if (leav.Enable_Button == 1 && leav.Ref_Id != 0 && leav.Approval_Status.ToLower() == "not applied")
                                                                {
                                                                    <a class="text-center" onclick="return openLeaveApplPop(this , '@leav.Approval_Status','@leav.Leave_Type')" title="Write">
                                                                        <img src="~/Content/VLE/img/svg/write-app.svg" />
                                                                        <span class="write">Write</span>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a class="text-center" onclick="return openLeaveApplPop(this ,'@leav.Approval_Status','@leav.Leave_Type')" title="View">
                                                                        <img src="~/Content/VLE/img/svg/viewapp.svg">
                                                                        <span>View</span>
                                                                    </a>
                                                                }

                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <tr class="tbl-no-row"> <td colspan="7" class="text-center">@ResourceManager.GetString("Course.CrossSchoolPermission.NoRecords")</td></tr>
                                                @*<tr class="placeholder-row tbl-no-row" data-stud="@stud.StudentNo" data-refId="0" data-frmDate="" data-toDate="">
                                                        <td colspan="7">
                                                            <div class="leave-request-placeholder">
                                                                <div class="placeholder-card">
                                                                    <img src="./img/svg/placeholder.svg" alt="placeholder" />
                                                                    <p>There are no leave request to show</p>
                                                                    <button type="button" onclick="return openLeaveApplPop(this ,'Not Applied','Leave Request')" class="btn btn-primary btn-sm active waves-effect waves-light">Apply Leave Request</button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>*@
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!--Leave request table end-->
                                @*<p class="leave-request-alert hide-item">
                                        <img src="~/Content/VLE/img/svg/alert-icon.svg" alt="alert-icon" />
                                        No new leave request can be raised currently, since a pending approval already exists.
                                    </p>*@
                                @if (leavTyDisc) { acti = "hide-item"; hid = ""; } else { acti = ""; hid = "hide-item"; }
                                <div id="tableLeaveRequestPlaceholder">
                                    <div class="placeholder-row tbl-no-row text-left @hid">
                                        <div class="leave-request-placeholder">
                                            <div class="placeholder-card">
                                                @*<img src="~/Content/VLE/img/svg/placeholder.svg" alt="placeholder" />*@
                                                @*<p>There are no leave request to show</p>*@
                                                <button type="button" data-stud="@stud.StudentNo" onclick="return openLeaveApplPop(this ,'Not Applied','Leave Request')" class="btn btn-primary btn-sm active waves-effect waves-light">Apply Leave Request</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                if (leavTyDisc) { acti = "hide-item"; hid = ""; } else { acti = ""; hid = "hide-item"; };
                <div class="disclaimer-leave-letter @acti">
                    <span>Note:</span>
                    <p>
                        Can be applied against the date where the approval status is Not Applied .
                    </p>
                </div>
                <div class="disclaimer-leave-request @hid">
                    <span>Note:</span>
                    <p>Can be applied for the current or future dates only .</p>
                    <p>Request will be notified to the authorised staff for approval .</p>
                    <p>Leave status will be updated once the request has been processed </p>
                </div>
            }
            else
            {
                <div class="card-body resource-wrapper column-padding pt-3 pb-3">
                    <span class="sub-heading column-padding d-block">@ResourceManager.GetString("Shared.Labels.NoRecords")</span>
                </div>
            }
        </div>
    </div>
@*</div>*@

<!-- modal popups -->
<div class="modal fade" id="leaveRequestModal" tabindex="-1" role="dialog" aria-labelledby="leaveRequestModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="recordUpdated" tabindex="-1" role="dialog" aria-labelledby="recordUpdated" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" class="m-0">
                <div class="">
                    <p class="title">
                        Record updated successfully
                    </p>
                </div>
                <div>
                    <p class="content text-center">
                        An email notification has been sent to the authorised staff for approval
                    </p>
                </div>
                <div class="button-wrapper">
                    <button type="button" id="btnsuccessLeaveRequest" onclick="return redirectPage()" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- modal popups end -->
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{

    <script language="javascript">
     translatedResources.LeaveReqTitle = '@ResourceManager.GetString("LeaveRequest.Leave.LeaveReqTitle")';
     translatedResources.Title = '@ResourceManager.GetString("LeaveRequest.Leave.Title")';
     translatedResources.Description = '@ResourceManager.GetString("LeaveRequest.Leave.Description")';
     translatedResources.Image = '@ResourceManager.GetString("LeaveRequest.Leave.UploadedImageName")';
     translatedResources.actions = '@ResourceManager.GetString("Shared.Labels.Actions")';
     translatedResources.FileExtensions = @Html.Raw(Json.Encode(ViewBag.FileExtension));
     translatedResources.AddSuccess = '@ResourceManager.GetString("LeaveRequest.Messages.AddSuccess")';
     translatedResources.AddError = '@ResourceManager.GetString("LeaveRequest.Messages.AddError")';
     translatedResources.EditSuccess = '@ResourceManager.GetString("LeaveRequest.Messages.EditSuccess")';
     translatedResources.EditError = '@ResourceManager.GetString("LeaveRequest.Messages.EditError")';
     translatedResources.showFileuploadError = '@ResourceManager.GetString("LeaveRequest.Messages.FileUploadValidation")';
     translatedResources.FileUploadValidation = '@ResourceManager.GetString("LeaveRequest.Messages.FileUploadValidation")';
     translatedResources.deleteConfirm = '@ResourceManager.GetString("LeaveRequest.Leave.DeleteAttachmentConfirm")'
    </script>

    <script src="@Url.Content("~/Content/js/custom/SchoolSpaces/LeaveRequest.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Parent/ParentDashboard.js?v="+ResourceManager.GetString("Shared.Version.Js"))"></script>

}
