﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    var panelTitle = ResourceManager.GetString("MarkingPolicy.MarkingPolicy.MarkingPolicyTitle");
    ViewData["Title"] = panelTitle;
    var rnd = DateTime.Now.Ticks.ToString();

}
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card safety-categories-wrapper">
            <div class="card-body column-padding pt-3 pb-3 min-height">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">

                    </div>
                </div>

                <div class="table-wrapper">
                    <div class="row mb-3">
                        <div class="col-lg-9 col-md-9 col-9">
                            <div class="search-with-bg">
                                <i class="fa fa-search"></i>
                                <input type="search" id="MarkingPolicySearch" class="searchfield" placeholder="Search" />
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-3">
                            <div class="float-right">
                                <button id="btnAddMarkingPolicy" type="button" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light">@ResourceManager.GetString("MarkingPolicy.MarkingPolicy.AddMarkingPolicy")</button>
                            </div>
                        </div>


                    </div>
                    <div class="table-wrapper">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-responsive-md" id="tbl-MarkingPolicyList"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
<style>
    .dataTables_filter {
        display: none;
    }
</style>
@section scripts
{
    <script language="javascript">
        translatedResources.MarkingPolicy = '@ResourceManager.GetString("MarkingPolicy.MarkingPolicy.MarkingPolicyTitle")';
        translatedResources.Symbol = '@ResourceManager.GetString("MarkingPolicy.MarkingPolicy.Symbol")';
        translatedResources.Description = '@ResourceManager.GetString("MarkingPolicy.MarkingPolicy.Description")';
        translatedResources.Weight = '@ResourceManager.GetString("MarkingPolicy.MarkingPolicy.Weight")';
        translatedResources.ColorCode = '@ResourceManager.GetString("MarkingPolicy.MarkingPolicy.ColorCode")';
        translatedResources.actions = '@ResourceManager.GetString("Shared.Labels.Actions")';
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/MarkingPolicy/MarkingPolicy.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}