﻿
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers;
@model List<Phoenix.VLE.Web.Models.EditModels.PdfInfoModel>
<input type="hidden" id="PdfFileCount1" value="@Model.Count()">
@*<input type="hidden" id="Stu_Number" value="@item.StudentNumber">*@
@if (Model.Count() != 0)
{
    <div class="" id="divPdfListInfo">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card report-card mb-3">
                        <div class="card-body p-3 d-flex">
                            @*<img src="~/Content/VLE/img/svg/file-type-pdf.svg" class="svg">*@
                            <i class="flaticon-pdf  mr-3 mr-md-0 mt-2"></i>
                            <div class="pl-4 pt-2 text-truncate">
                                <h6 class="card-title p-0 text-truncate">@item.rpF_DESCR</h6>
                                <p class="report-calendar">
                                    <img src="~/Content/VLE/img/svg/feather-calendar.svg" >
                                    <span class="text-muted text-medium">@ResourceManager.GetString("Assessment.pdfreport.Releasedon") @item.rpP_RELEASEDATE </span>
                                </p>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <a href="javascript:void(0)" class="small text-bold text-primary" onclick="RequestToPdfView('@item.ACD_ID','@item.rpF_ID','@item.StudentNumber','@item.rpF_DESCR')">@ResourceManager.GetString("Assessment.pdfreport.ViewReport") <i class="fas fa-external-link-alt ml-1"></i></a>

                            <a href="@Url.Action("RequestToPdfDownload", "AssessmentReport", new { Area = "ParentCorner", ACD_ID = item.ACD_ID, rpF_ID = item.rpF_ID, StudentNumber = item.StudentNumber, Filename = item.rpF_DESCR })"><img src="~/Content/VLE/img/svg/ic-download.svg" class="svg"></a>
                            @*@Html.ActionLink("", "RequestToPdfDownload", "AssessmentReport", new { ACD_ID = item.ACD_ID, rpF_ID = item.rpF_ID, StudentNumber = item.StudentNumber, Filename = item.rpF_DESCR }, null)*@
                        </div>

                    </div>
                </div>

            }
        </div>
    </div>
}
else
{
    <span class="no-data-found text-bold d-block mx-auto my-auto">
        @ResourceManager.GetString("Assessment.pdfreport.NodataFound")
    </span>
}
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script src="@Url.Content("~/Content/js/custom/Assessment/AssessmentReport.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}

<script type="text/javascript">
    function RequestToPdfView(ACD_ID, rpF_ID, StudentNumber) {
        $.ajax({
            url: '/ParentCorner/AssessmentReport/RequestToPdfView',
            type: "GET",
            data: { ACD_ID: ACD_ID, rpF_ID: rpF_ID, StudentNumber: StudentNumber },
            contentType: "application/json; charset=UTF-8",
            success: function (response) {
                if (response != null) {     // this sets the value from the response
                    //window.open("data:application/pdf," + escape(response.url));
                    var url = response.androidURL;
                    window.open(url, '_blank');
                } else {
                    alert("something is wrong");

                }
            }
        });
    }
    function StudentYearDropdownlist() {
        var SelectedYearId = $('#ReportYearType :Selected').val();
        var StudenntNumber = $('#getstudid').val();
        @*var StudenntNumber = '@SessionHelper.CurrentSession.CurrentSelectedStudent.StudentNumber';*@
       //alert(StudenntNumber);
        $.ajax({
            url: '/ParentCorner/AssessmentReport/GetStudentPdfList',
            type: "GET",
            data: { StudenntNumber: StudenntNumber, SelectedYearId: SelectedYearId },
            success: function (response) {
                if (response != null) { // this sets the value from the response

                    //$('#PdfFileCount1').html('');

                    $('#divPdfListInfo').html('');
                    $('#divPdfListInfo').html(response);
                    $('#PdfFileCount1').html('')
                    var str = $('#PdfFileCount1').val();

                    if (str === undefined) {
                        $('#PdfNoOfList').html('<span> Showing 0 reports in</span> ');
                    }
                    else {
                        $('#PdfNoOfList').html('<span> Showing ' + str + ' reports in</span> ');
                    }
                    globalFunctions.convertImgToSvg();
                }
            }
        });
    }
</script>
