﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.VLE.Web.EditModels.QuizQuestionsEdit>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.VLE.Web.EditModels;
@{
    var rnd = DateTime.Now.Ticks.ToString();
    QuizEdit objQuiz = new QuizEdit();
    List<QuizQuestionsEdit> objQuizDetails = new List<QuizQuestionsEdit>();
    Phoenix.Models.QuizResult quizResponseList = new Phoenix.Models.QuizResult();
    var ResourceId = 0;
    //var IsSetTime = false;
    //var QuizTime = 0;
    if (ViewBag.Quiz != null)
    {
        objQuiz = (QuizEdit)ViewBag.Quiz;
        //IsSetTime = objQuiz.IsSetTime;
        //QuizTime = objQuiz.QuizTime;
    }
    if (ViewBag.QuizDetails != null)
    {
        objQuizDetails = (List<QuizQuestionsEdit>)ViewBag.QuizDetails;
        //IsSetTime = objQuizDetails[0].IsSetTime;
        //QuizTime = objQuizDetails[0].QuizTime;
    }
    if (ViewBag.QuizResponse != null)
    {
        quizResponseList = (Phoenix.Models.QuizResult)ViewBag.QuizResponse;
    }
    if (ViewBag.ResourceId != null)
    {
        ResourceId = Convert.ToInt32(ViewBag.ResourceId);
    }
    //var quizImage = (objQuizDetails.Count > 0 && !string.IsNullOrEmpty(objQuizDetails.FirstOrDefault().QuizImagePath)) ? PhoenixConfiguration.Instance.ReadFilePath + objQuizDetails.FirstOrDefault().QuizImagePath : "";

    int i = Model.Pager == null ? 1 : Model.Pager.CurrentPage == 1 ? 1 : Convert.ToInt32(TempData["PagingStarts"]);




}
@Html.Hidden("IsSetTime", objQuiz.IsSetTime)
<div class="library-data column-padding pt-3 pb-3">
    <div id="library" class="row view-group">
        <div class="col-lg-12 col-md-12 col-12 td-assignment-list">
            @*<div class="row">*@
            @if (objQuizDetails.Any())
            {
                var IsSubmit = SessionHelper.CurrentSession.IsParent() || SessionHelper.CurrentSession.IsTeacher() ? false : ((quizResponseList.SubmitAttempt < Model.PageRecords.FirstOrDefault().MaxSubmit) && quizResponseList.QuizResponseByTeacherId == 0);

                foreach (var quizQuestion in objQuizDetails)
                {
                    var index = objQuiz.IsRandomQuestion ? i : quizQuestion.RowNum;
                    //index =  quizQuestion.RowNum;

                    <!-- que 1 -->
                    <div class="row">
                        <div class="col-xl-11 col-lg-10 col-md-10 col-10">
                            <h6 class="text-regular">
                                @index]    @Html.Raw(quizQuestion.QuestionText.Replace(System.Environment.NewLine, "<br />"))
                                <span class="text-danger">
                                    @(quizQuestion.IsRequired ? "*" : "")
                                </span>
                            </h6>


                            @*@if (!string.IsNullOrWhiteSpace(quizQuestion.QuestionImagePath))
                                {
                                    var quizQuesImage = PhoenixConfiguration.Instance.ReadFilePath + quizQuestion.QuestionImagePath;
                                    <img class="img-fluid" src="@quizQuesImage " alt="">
                                }*@


                            <div class="answers pb-3 mb-3 mt-3">
                                @if (quizQuestion.QuestionTypeId == 1)
                                {
                                    <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                    foreach (var answersData in quizQuestion.Answers)
                                    {
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="@(IsSubmit ? "custom-control-input" : "custom-control-input disabled")" id="@("radio"+answersData.QuizAnswerId)" name="selectedAnswer[@quizQuestion.QuizQuestionId]" data-marks="@(answersData.IsCorrectAnswer ? quizQuestion.Marks : 0)" data-answerid="@answersData.QuizAnswerId"
                                                   data-isrequired="@quizQuestion.IsRequired" data-questionid="@quizQuestion.QuizQuestionId" @(quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizAnswerId == answersData.QuizAnswerId).Any() ? "checked" : "" )>
                                            <label class="@(IsSubmit ? "custom-control-label" : "custom-control-label disabled")" for="@("radio"+answersData.QuizAnswerId)">@answersData.AnswerText</label>
                                        </div>
                                    }
                                    if (quizQuestion.lstDocuments.Any())
                                    {
                                        <div id="library" class="row view-group mt-3">

                                            <div class="item col-xl-12 col-lg-12 col-md-12 col-12">
                                                <div class="row" id="fileList">
                                                    @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                </div>
                                            </div>

                                        </div>
                                    }
                                    if ((quizResponseList.SubmitAttempt == objQuizDetails.FirstOrDefault().MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                    {
                                        var AnswerTextList = new List<string>();
                                        foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                        {
                                            AnswerTextList.Add(answersData.AnswerText);
                                        }
                                        <p>@ResourceManager.GetString("Quiz.QuizQuestion.CorrectAnswer") : <span class="text-success">@string.Join(",", AnswerTextList)</span></p>
                                    }

                                }
                                else if (quizQuestion.QuestionTypeId == 2)
                                {
                                    <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                    <div class="col-lg-4 col-md-3 col-12">
                                        <div class="md-form md-outline">
                                            @Html.DropDownList("AnswerId", new SelectList(quizQuestion.Answers, "QuizAnswerId", "AnswerText", quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).FirstOrDefault().QuizAnswerId), ResourceManager.GetString("Shared.Labels.Select"), new { @class = IsSubmit ? "selectpicker" : "selectpicker disabled", @name = string.Format("selectedAnswer[{0}]", quizQuestion.QuizQuestionId), data_questionid = quizQuestion.QuizQuestionId, data_isrequired = quizQuestion.IsRequired, data_marks = quizQuestion.Marks })
                                        </div>
                                    </div>
                                    if (quizQuestion.lstDocuments.Any())
                                    {
                                        <div id="library" class="row view-group mt-3">

                                            <div class="item col-xl-12 col-lg-12 col-md-12 col-12">
                                                <div class="row" id="fileList">
                                                    @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                </div>
                                            </div>

                                        </div>
                                    }
                                    if ((quizResponseList.SubmitAttempt == objQuizDetails.FirstOrDefault().MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                    {
                                        var AnswerTextList = new List<string>();
                                        foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                        {
                                            AnswerTextList.Add(answersData.AnswerText);
                                        }
                                        <p>@ResourceManager.GetString("Quiz.QuizQuestion.CorrectAnswer") : <span class="text-success">@string.Join(",", AnswerTextList)</span></p>
                                    }
                                }
                                else if (quizQuestion.QuestionTypeId == 3)
                                {
                                    var CorrectAnswerCount = 0;
                                    foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                    {
                                        CorrectAnswerCount++;
                                    }
                                    var EachQuesMarks = (float)quizQuestion.Marks / CorrectAnswerCount;
                                    <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">

                                    foreach (var answersData in quizQuestion.Answers)
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="@(IsSubmit ? "custom-control-input" : "custom-control-input disabled")" id="@("chkbox"+answersData.QuizAnswerId)" data-marks="@(answersData.IsCorrectAnswer ? EachQuesMarks : 0)" data-isrequired="@quizQuestion.IsRequired" data-answerid="@answersData.QuizAnswerId" data-questionid="@quizQuestion.QuizQuestionId"
                                                   @(quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizAnswerId == answersData.QuizAnswerId).Any() ? "checked" : "" )>
                                            <label class="@(IsSubmit ? "custom-control-label" : "custom-control-label disabled")" for="@("chkbox"+answersData.QuizAnswerId)">@answersData.AnswerText</label>
                                        </div>
                                    }
                                    if (quizQuestion.lstDocuments.Any())
                                    {
                                        <div id="library" class="row view-group mt-3">

                                            <div class="item col-xl-12 col-lg-12 col-md-12 col-12">
                                                <div class="row" id="fileList">
                                                    @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                </div>
                                            </div>

                                        </div>
                                    }
                                    if ((quizResponseList.SubmitAttempt == objQuizDetails.FirstOrDefault().MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                    {
                                        var AnswerTextList = new List<string>();
                                        foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                        {
                                            AnswerTextList.Add(answersData.AnswerText);
                                        }
                                        <p>@ResourceManager.GetString("Quiz.QuizQuestion.CorrectAnswer") : <span class="text-success">@string.Join(",", AnswerTextList)</span></p>
                                    }
                                }
                                else if (quizQuestion.QuestionTypeId == 4)
                                {
                                    <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                    //if (quizQuestion.Answers.Any())
                                    //{
                                    foreach (var answersData in quizQuestion.Answers)
                                    {
                                        <div class="col-lg-12 col-md-12 col-12 freetext-fieldset">
                                            <div class="d-block md-form md-outline w-100">
                                                <textarea class="form-control freetext" @(IsSubmit ? "" : "readonly") data-marks="@quizQuestion.Marks" data-isrequired="@quizQuestion.IsRequired" data-answerid="@answersData.QuizAnswerId" data-questionid="@quizQuestion.QuizQuestionId">@(quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).FirstOrDefault().QuizAnswerText)</textarea>
                                            </div>
                                            @if (quizQuestion.lstDocuments.Any())
                                            {
                                                <div id="library" class="row view-group mt-3">

                                                    <div class="item col-xl-12 col-lg-12 col-md-12 col-12">
                                                        <div class="row" id="fileList">
                                                            @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                        </div>
                                                    </div>

                                                </div>
                                            }
                                            @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                                            {
                                                <div class="md-form md-outline d-inline-block">
                                                    <input type="number" class="form-control freetextTeacherresponse" min="0" name="@("txtmarks"+answersData.QuizAnswerId)" max="@quizQuestion.Marks" placeholder="Marks" value="@(quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).FirstOrDefault().ObtainedMarks)" />
                                                    <label class="label active" for="@("txtmarks"+answersData.QuizAnswerId)">@ResourceManager.GetString("Quiz.QuizQuestion.Marks")</label>
                                                </div>
                                            }
                                        </div>

                                    }
                                    //}

                                    if ((quizResponseList.SubmitAttempt == objQuizDetails.FirstOrDefault().MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                    {
                                        var AnswerTextList = new List<string>();
                                        foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                        {
                                            AnswerTextList.Add(answersData.AnswerText);
                                        }
                                        @*<p>Correct Answer : <span class="text-success">@string.Join(",", AnswerTextList)</span></p>*@
                                    }
                                }
                                else if (quizQuestion.QuestionTypeId == 7)
                                {
                                    var CorrectAnswerCount = 0;
                                    foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                    {
                                        CorrectAnswerCount++;
                                    }
                                    var EachQuesMarks = (float)quizQuestion.Marks / CorrectAnswerCount;
                                    <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                    <div class="col-lg-12 col-md-12 col-12 freetext-fieldset">
                                        <ul class="clearfix with-number" id="quizMatchList">
                                            @{int sortedResponseOrder = 1;}

                                            @foreach (var answersData in quizQuestion.Answers)
                                            {
                                                //var ResponseQuestionAnswer = quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).ToList();
                                                var isSortResoponse = quizResponseList.ResponseQuestionAnswer.Where(x => x.SortOrder < 0).FirstOrDefault();

                                                if (quizResponseList.ResponseQuestionAnswer.Any() && isSortResoponse != null)
                                                {
                                                    var test = quizResponseList.ResponseQuestionAnswer.Where(x => x.SortOrder == sortedResponseOrder).FirstOrDefault();
                                                    <li class="sortAnswer" id="@test.SortOrder" data-answerText="@test.QuizAnswerText" data-marks="@EachQuesMarks" data-matchSortorder="@EncryptDecryptHelper.EncodeBase64(test.SortOrder.ToString())" data-answerid="@test.QuizAnswerId" data-questionid="@quizQuestion.QuizQuestionId">
                                                        @test.QuizAnswerText
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="sortAnswer" id="@answersData.SortOrder" data-answerText="@answersData.AnswerText" data-marks="@EachQuesMarks" data-matchSortorder="@EncryptDecryptHelper.EncodeBase64(answersData.SortOrder.ToString())" data-answerid="@answersData.QuizAnswerId" data-questionid="@quizQuestion.QuizQuestionId">
                                                        @answersData.AnswerText
                                                    </li>
                                                }
                                                sortedResponseOrder++;
                                            }
                                        </ul>
                                    </div>
                                    if (quizQuestion.lstDocuments.Any())
                                    {
                                        <div id="library" class="row view-group mt-3">

                                            <div class="item col-xl-12 col-lg-12 col-md-12 col-12">
                                                <div class="row" id="fileList">
                                                    @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                </div>
                                            </div>

                                        </div>
                                    }
                                    if ((quizResponseList.SubmitAttempt == objQuizDetails.FirstOrDefault().MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                    {
                                        var AnswerTextList = new List<string>();
                                        for (int b = 1; b <= quizQuestion.Answers.Count(); b++)
                                        {
                                            AnswerTextList.Add(quizQuestion.Answers.Where(c => c.SortOrder == b).Select(x => x.AnswerText).FirstOrDefault());
                                        }
                                        //foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                        //{
                                        //    AnswerTextList.Add(answersData.AnswerText);
                                        //}
                                        <p>@ResourceManager.GetString("Quiz.QuizQuestion.CorrectAnswer") : <span class="text-success">@string.Join(", ", AnswerTextList)</span></p>
                                    }
                                }
                            </div>

                        </div>
                        <div class="col-xl-1 col-lg-2 col-md-2 col-2 text-center">
                            <h4 class="sub-heading text-dark">
                                @if (quizResponseList.ResponseQuestionAnswer.Any())
                                {
                                    if ((quizResponseList.SubmitAttempt == objQuizDetails.FirstOrDefault().MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                    {
                                        if (quizQuestion.QuestionTypeId == 4)
                                        {
                                            if (quizResponseList.QuizResponseByTeacherId != 0)
                                            {
                                                var ObtainedMarks = (quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).Sum(x => x.ObtainedMarks));
                                                <span>@Math.Round(ObtainedMarks, 1) / @quizQuestion.Marks</span>
                                                @*<span>@ObtainedMarks / @quizQuestion.Marks</span>*@
                                            }
                                            else
                                            {
                                                <span>@ResourceManager.GetString("Quiz.Quiz.NotYetMarked")</span>
                                            }
                                        }
                                        else
                                        {
                                            var ObtainedMarks = (quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).Sum(x => x.ObtainedMarks));
                                            <span>@Math.Round(ObtainedMarks, 1) / @quizQuestion.Marks</span>
                                            @*<span>@ObtainedMarks / @quizQuestion.Marks</span>*@
                                        }
                                    }

                                }
                            </h4>
                        </div>

                    </div>
                    <!-- que 1 -->
                    <hr />

                    i = i + 1;
                    TempData["PagingStarts"] = i;

                }
                if (Model.Pager.CurrentPage == Model.Pager.TotalPages)
                {
                    if (IsSubmit || SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                    {
                        if (Html.CurrentPagePermission().CanEdit)
                        {
                            <div class="row mb-3">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <input type="submit" class="btn btn-primary m-0" id="submitQuiz" onclick="groupQuiz.submitQuiz()" value="@ResourceManager.GetString("Shared.Buttons.Submit")">
                                </div>
                            </div>
                        }
                    }
                }

            }
            else
            {
                <span>@ResourceManager.GetString("Shared.Labels.NoRecords")</span>
            }
            <div class="row">
                @Html.Partial("_PaginationIndex", Model)
            </div>
        </div>
    </div>
</div>
@if (objQuiz.IsSetTime && quizResponseList.QuizResponseByTeacherId == 0)
{
    <div class="quizTimer d-flex justify-content-center position-fixed quiz-started" data-minutes-left="@objQuiz.QuizTime">
        <i class="far fa-hourglass time-icon"></i>
        <a href="javascript:void(0)" class="timerpause text-uppercase position-absolute stopQuiz d-inline-block" data-toggle="tooltip" title="@ResourceManager.GetString("Quiz.Quiz.StopQuiz")">
            <i class="fas fa-power-off"></i>
        </a>
    </div>
}
<script src="@Url.Content("~/Content/Student/js/addons/countdown-timer.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
<script>

    $("#quizMatchList").sortable();
    var timer1 = $('.quizTimer').startTimer({
        onComplete: function (element) {
            console.log('Complete');
        },
        onStart: $('.timerstart'),
        onPause: $('.timerpause'),
        loop: true
    });
    $(document).ready(function () {
        if ($("#IsSetTime").val() == "True") {
            timer1.trigger('start');
        }
    });
</script>






