﻿@model Phoenix.Models.QuizResult
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@{
    string Path = Server.MapPath("~/Content/VLE/img/logo-colored.png");
    var strHr = ResourceManager.GetString("Shared.Messages.Hours");
    var strMin = ResourceManager.GetString("Shared.Messages.Minutes");
    var strMinHr = ResourceManager.GetString("Shared.Messages.MinutesHr");
    var strSec = ResourceManager.GetString("Shared.Messages.Seconds");
    var strQuizTimeOut = ResourceManager.GetString("Quiz.Quiz.QuizTimeOut");
}
<style>
    table {
        page-break-inside: avoid;
    }
</style>

<table border="0" cellspacing="0" cellpadding="0" style="background-color:#E3E3E3;padding:0.1pt;width:100%;">
    <tbody>
        <tr>
            <td style="padding: 10px;">
                <img data-imagetype="External" src="@Path" border="0" id="_x0000_i1031" height="50">
            </td>
            <td valign="middle">
                <h2 style="color:#ba1818; margin: 0 0 0 0px;" hspace="20">@ResourceManager.GetString("Assignment.Assignment.ReportCard") <br></h2>
            </td>
        </tr>
    </tbody>
</table>

@{
    Model.GradingTemplateItemSymbol = Model.GradingTemplateItemSymbol == null ? "" : Model.GradingTemplateItemSymbol;

    //TimeSpan timeTaken = TimeSpan.FromMinutes(Model.TimeTaken);
    TimeSpan QuizTime = TimeSpan.FromMinutes(Model.QuizTime);
    string QuizTotalTime = String.Empty;
    if (QuizTime.Hours == 0)
    {
        QuizTotalTime = string.Format(strMinHr, (int)QuizTime.Minutes, QuizTime.Seconds);
    }
    else
    {
        QuizTotalTime = string.Format(strHr, (int)QuizTime.TotalHours, QuizTime.Minutes);
    }

    TimeSpan timeTaken = TimeSpan.FromSeconds(Model.TimeTaken);
    string Time = String.Empty;
    if (timeTaken.Hours == 0)
    {
        Time = (int)timeTaken.Minutes >= Model.QuizTime ? strQuizTimeOut : string.Format(strMinHr, (int)timeTaken.Minutes, timeTaken.Seconds);
    }
    else
    {
        Time = (int)timeTaken.Minutes >= Model.QuizTime ? strQuizTimeOut : string.Format(strHr, (int)timeTaken.TotalHours, timeTaken.Minutes);
    }

    var timeTakenToSolve = Model.TimeTaken < 60 ? string.Format(strSec, Model.TimeTaken.ToString()) : Time;
    var ActualTime = String.Empty;
    if (timeTakenToSolve == strQuizTimeOut)
    {
        ActualTime = timeTakenToSolve;
    }
    else
    {
        ActualTime = timeTakenToSolve + " / " + QuizTotalTime;
    }

}
<table>
    <thead>
        <tr>

            <td>@ResourceManager.GetString("Quiz.Report.QuizName")</td>
            <td>@ResourceManager.GetString("Quiz.Report.Date")</td>
        </tr>
    </thead>
    <tbody>
        <tr style="">

            <td>@Model.QuizName</td>
            <td>@DateTime.Now.ToString("dddd, dd MMMM yyyy")</td>
        </tr>
    </tbody>
</table>
<table width="100%" align="center" valign="middle" cellspacing="0" cellpadding="0">
    <thead>
        <tr style="">
            <td style="font-size: 12px; font-weight: 700; color: #3F4041; text-align: left; padding: 15px 5px; border-bottom: 1px solid #ebeeef; border-top: 1px solid #ebeeef;">@ResourceManager.GetString("Quiz.Report.StudentName")</td>
            <td style="font-size: 12px; font-weight: 700; color: #3F4041; text-align: left; padding: 15px 5px; border-bottom: 1px solid #ebeeef; border-top: 1px solid #ebeeef;">@ResourceManager.GetString("Quiz.Report.TeacherName")</td>
            @if (Model.GradingTemplateId > 0)
            {

                if (!Model.GradingTemplateItemSymbol.Contains(".png"))
                {
                    <td style="font-size: 12px; font-weight: 700; color: #3F4041; text-align: left; padding: 15px 5px; border-bottom: 1px solid #ebeeef; border-top: 1px solid #ebeeef;">@ResourceManager.GetString("Quiz.Report.Grade")</td>
                }
                else
                {
                    <td style="font-size: 12px; font-weight: 700; color: #3F4041; text-align: left; padding: 15px 5px; border-bottom: 1px solid #ebeeef; border-top: 1px solid #ebeeef;">@ResourceManager.GetString("Quiz.Report.Grade")</td>
                }
            }
            <td style="font-size: 12px; font-weight: 700; color: #3F4041; text-align: left; padding: 15px 5px; border-bottom: 1px solid #ebeeef; border-top: 1px solid #ebeeef;">@ResourceManager.GetString("Quiz.Report.Marks")</td>
            @if (Model.TimeTaken > 0)
            {
                <td style="font-size: 12px; font-weight: 700; color: #3F4041; text-align: left; padding: 15px 5px; border-bottom: 1px solid #ebeeef; border-top: 1px solid #ebeeef;">@ResourceManager.GetString("Quiz.Report.TimeTaken")</td>
            }
        </tr>
    </thead>
    <tbody>
        <tr style="">
            <td style="font-size: 12px; font-weight: 500; color: #3F4041; text-align: left;padding: 15px 5px; border-bottom: 1px solid #ebeeef;">@Model.StudentName</td>
            <td style="font-size: 12px; font-weight: 500; color: #3F4041; text-align: left;padding: 15px 5px; border-bottom: 1px solid #ebeeef;">@Model.TeacherName</td>
            @if (Model.GradingTemplateId > 0)
            {

                if (!Model.GradingTemplateItemSymbol.Contains(".png"))
                {
                    <td style="font-size: 12px; font-weight: 500; color: #3F4041; text-align: left;padding: 15px 5px; border-bottom: 1px solid #ebeeef;">
                        <span class="taskGrade txt-grade mx-1">
                            <h2 class="m-0 text-bold" style="color:@Model.GradingColor">@Model.ShortLabel</h2>
                        </span>
                    </td>
                }
                else
                {
                    var gardePath = Server.MapPath("~" + Model.GradingTemplateItemSymbol);
                    <td style="font-size: 12px; font-weight: 500; color: #3F4041; text-align: left;padding: 15px 5px; border-bottom: 1px solid #ebeeef;">
                        <span class="mx-1 taskGrade" data-toggle="tooltip" title="@Model.ShortLabel" data-title="@Model.ShortLabel" data-placement="top">
                            <img class="img-fluid" style="width: 2.1875rem;" src="@gardePath" />
                        </span>
                    </td>
                }
            }

            @if (Model.QuizMarks > 0)
            {
                <td style="font-size: 12px; font-weight: 500; color: #3F4041; text-align: left;padding: 15px 5px; border-bottom: 1px solid #ebeeef;">@Math.Round(Model.QuizMarks, 1) / @Convert.ToInt32(Model.TotalMarks)</td>
            }
            else if (Model.QuizMarks == 0)
            {
                <td style="font-size: 12px; font-weight: 500; color: #3F4041; text-align: left;padding: 15px 5px; border-bottom: 1px solid #ebeeef;">0 / @Convert.ToInt32(Model.TotalMarks)</td>
            }

            @if (Model.TimeTaken > 0)
            {
                <td style="font-size: 12px; font-weight: 500; color: #3F4041; text-align: left;padding: 15px 5px; border-bottom: 1px solid #ebeeef;">@ActualTime</td>
            }

        </tr>
    </tbody>
</table>
<div class="table-wrapper mt-4" style="margin-top:4px">
    <table id="tbl-QuestionWiseReport" class="table table-bordered table-hover table-responsive-md" cellspacing="0" width="100%" border="1">
        <thead>
            <tr>
                <td style="background-color: #E3E3E3; color: #ba1818;"><strong>@ResourceManager.GetString("Quiz.Report.QuestionText")</strong></td>
                <td style="background-color: #E3E3E3; color: #ba1818;"><strong>@ResourceManager.GetString("Quiz.Report.Marks")</strong></td>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ResponseQuestionAnswer)
            {
                <tr style="page-break-inside:avoid;">

                    @if (item.QuestionText.Contains("[blank_space_") && item.QuestionText.Contains("]"))
                    {
                        string[] r = item.QuestionText.Contains(' ') ? item.QuestionText.Split(' ') : item.QuestionText.Split('.');
                        foreach (var field in r)
                        {
                            if (field.Contains("[blank_space_") && field.Contains("]"))
                            {
                                int pFrom = field.IndexOf("[");
                                int pTo = field.LastIndexOf("]");
                                if (pTo + 1 == field.Length)
                                {
                                    //int optionNumber = Convert.ToInt32(field.Substring(pFrom, pTo - pFrom));
                                    item.QuestionText = item.QuestionText.Replace(field, "___________");
                                }
                                else
                                {
                                    string subStr = field.Substring(pFrom, pTo + 1);
                                    item.QuestionText = item.QuestionText.Replace(subStr, "___________");
                                }
                            }

                        }
                    }

                    <td>@Html.Raw(item.QuestionText)</td>
                    <td>@item.ObtainedMarks / @item.Marks</td>
                </tr>

            }
        </tbody>
    </table>
</div>




