﻿@model IEnumerable<Phoenix.VLE.Web.EditModels.QuizQuestionsEdit>

@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.VLE.Web.EditModels;
@using Phoenix.Common.Helpers.Extensions;
@using Phoenix.VLE.Web;

@{
    /**/

    /**/

    /**/

    var rnd = DateTime.Now.Ticks.ToString();
    QuizEdit objQuiz = new QuizEdit();
    bool IsView = false;
    List<QuizQuestionsEdit> objQuizDetails = new List<QuizQuestionsEdit>();
    Phoenix.Models.QuizResult quizResponseList = new Phoenix.Models.QuizResult();
    var ResourceId = 0;

    if (ViewBag.Quiz != null)
    {
        objQuiz = (QuizEdit)ViewBag.Quiz;
    }
    if (ViewBag.QuizDetails != null)
    {
        objQuizDetails = (List<QuizQuestionsEdit>)ViewBag.QuizDetails;

    }
    if (ViewBag.QuizResponse != null)
    {
        quizResponseList = (Phoenix.Models.QuizResult)ViewBag.QuizResponse;
    }
    if (ViewBag.ResourceId != null)
    {
        ResourceId = Convert.ToInt32(ViewBag.ResourceId);
    }
    if (ViewBag.IsView != null)
    {
        IsView = Convert.ToBoolean(ViewBag.IsView);
    }
    var totalMarks = 0;
    foreach (var item in objQuizDetails)
    {
        totalMarks = totalMarks + item.Marks;
    }
    //var quizImage = (objQuizDetails.Count > 0 && !string.IsNullOrEmpty(objQuizDetails.FirstOrDefault().QuizImagePath)) ? PhoenixConfiguration.Instance.ReadFilePath + objQuizDetails.FirstOrDefault().QuizImagePath : "";
    int i = 1;
    var IsSubmit = false;
    var MTPEachQuesMarks = 0.0;
    var MTPQuestionId = 0;
}
@*<style>


        body {
            font-family: 'Montserrat', sans-serif;
            background-color: #eee;
            color: #111;
        }

        .score {
            font-family: monospace;
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            letter-spacing: 0.25rem;
            margin: 1rem;
            position: relative;
            transition: opacity 0.2s;
        }

        #play-again-btn {
            position: absolute;
            top: -0.5rem;
            left: 50%;
            margin-left: -50px;
            font-size: 1rem;
            font-weight: bold;
            color: #fff;
            background-color: #111;
            border: 5px double #fff;
            border-radius: 14px;
            padding: 8px 10px;
            outline: none;
            letter-spacing: .05em;
            cursor: pointer;
            display: none;
            opacity: 0;
            transition: opacity 0.5s, transform 0.5s, background-color 0.2s;
        }

            #play-again-btn:hover {
                background-color: #333;
            }

            #play-again-btn:active {
                background-color: #555;
            }

            #play-again-btn.play-again-btn-entrance {
                opacity: 1;
                transform: translateX(6rem);
            }

        .draggable-items {
            display: flex;
            justify-content: center;
            margin: 1rem 1rem 1.5rem 1rem;
            transition: opacity 0.5s;
        }

        .draggable {
            height: 5rem;
            width: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            font-weight: bold;
            margin: 0rem 0.5rem;
            cursor: move;
            transition: opacity 0.2s;
        }

            .draggable:hover {
                opacity: 0.5;
            }

        .matching-pairs {
            transition: opacity 0.5s;
        }

        .matching-pair {
            height: 6rem;
            width: 22rem;
            margin: 1rem auto;
            display: flex;
            justify-content: space-between;
        }

            .matching-pair span {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                user-select: none;
            }

        .label {
            width: 15rem;
            font-size: 1.3rem;
        }

        .droppable {
            width: 6rem;
            font-size: 4rem;
            background-color: #fff;
            border: 3px dashed #111;
            transition: 0.2s;
        }

        .droppable-hover {
            background-color: #bee3f0;
            transform: scale(1.1);
        }

        .dropped {
            border-style: solid;
        }

        .dragged {
            user-select: none;
            opacity: 0.1;
            cursor: default;
        }

        .draggable.dragged:hover {
            opacity: 0.1;
        }

        .given-answers li, .correct-answers li {
            width: 20%;
        }

            .given-answers li img, .correct-answers li img {
                width: 100px;
                height: 100px;
                display: inline-block;
            }

            .given-answers li span, .correct-answers li span {
                font-weight: 500;
                font-size: 15px;
                margin-bottom: 5px;
            }
    </style>*@
@Html.Hidden("IsSetTime", objQuiz.IsSetTime)
@Html.Hidden("PaginationCount", objQuiz.QuestionPaginationRange == 0 ? 5 : objQuiz.QuestionPaginationRange)
@Html.Hidden("TotalPages")
@Html.Hidden("QuizTime", objQuiz.QuizTime)
@*@Html.Hidden("QuizTimeLog", objQuiz.QuizTime)*@

<div class="row">

    @if (objQuizDetails.Any())
    {
        //var IsSubmit = SessionHelper.CurrentSession.IsParent() ? false : ((quizResponseList.SubmitAttempt < objQuizDetails.FirstOrDefault().MaxSubmit));
        @*This is us for new implemenation<input type="hidden" id="hdnIsTeacher" name="hdnIsTeacher" value="@(SessionHelper.CurrentSession.IsTeacher() ? 1 : 0)" />*@
        //IsSubmit = SessionHelper.CurrentSession.IsParent() || SessionHelper.CurrentSession.IsTeacher() ? false : ((quizResponseList.SubmitAttempt < objQuiz.MaxSubmit) && quizResponseList.QuizResponseByTeacherId == 0);
        IsSubmit = quizResponseList.SubmitAttempt >= 1 ? true : false;
        string IsViewClass = IsView ? "disabled" : "";
        @*<input type="hidden" id="hdnIsTeacher" name="hdnIsTeacher" value="@(SessionHelper.CurrentSession.IsTeacher() ? 1 : 0)" />*@
        //var IsSubmit = SessionHelper.CurrentSession.IsParent() ? false : ((quizResponseList.SubmitAttempt < Model.FirstOrDefault().MaxSubmit));

        //var IsSubmit = SessionHelper.CurrentSession.IsTeacher() ? false : true;
        <input type="hidden" id="hdnIsTeacher" name="hdnIsTeacher" value="@(SessionHelper.CurrentSession.IsTeacher() ? 1 : 0)" />
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card min-height">
                        <div class="card-body">
                            <div class="title-with-fields pt-2 pb-2">
                                <h3 class="card-title">
                                    @*Quiz : @objQuizDetails.FirstOrDefault().QuizName*@
                                    @ResourceManager.GetString("Quiz.Quiz.Form"): @objQuizDetails.FirstOrDefault().QuizName
                                    @*@if (quizResponseList.ResponseQuestionAnswer.Any())
                                        {
                                            if ((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                            {

                                                if (quizResponseList.TimeTaken != 0)
                                                {
                                                    TimeSpan QuizTime = TimeSpan.FromMinutes(objQuiz.QuizTime);
                                                    string QuizTotalTime = String.Empty;
                                                    if (QuizTime.Hours == 0)
                                                    {
                                                        QuizTotalTime = string.Format("{0:00} : {1:00} Min", (int)QuizTime.Minutes, QuizTime.Seconds);
                                                    }
                                                    else
                                                    {
                                                        QuizTotalTime = string.Format("{0:00} : {1:00} Hr", (int)QuizTime.TotalHours, QuizTime.Minutes);
                                                    }

                                                    TimeSpan timeTaken = TimeSpan.FromSeconds(quizResponseList.TimeTaken);
                                                    string Time = String.Empty;
                                                    if (timeTaken.Hours == 0)
                                                    {
                                                        Time = (int)timeTaken.Minutes >= objQuiz.QuizTime ? "Quiz Time Out" : string.Format("{0:00} : {1:00} Min", (int)timeTaken.Minutes, timeTaken.Seconds);
                                                    }
                                                    else
                                                    {
                                                        Time = (int)timeTaken.Minutes >= objQuiz.QuizTime ? "Quiz Time Out" : string.Format("{0:00} : {1:00} Hr", (int)timeTaken.TotalHours, timeTaken.Minutes);
                                                    }

                                                    var timeTakenToSolve = quizResponseList.TimeTaken < 60 ? quizResponseList.TimeTaken.ToString() + " Sec" : Time;
                                                    var ActualTime = String.Empty;
                                                    if (timeTakenToSolve == "Quiz Time Out")
                                                    {
                                                        ActualTime = timeTakenToSolve;
                                                    }
                                                    else
                                                    {
                                                        ActualTime = timeTakenToSolve + " / " + QuizTotalTime;
                                                    }
                                                    <span class="ml-2 quiz-score d-none d-md-inline-block">
                                                        <span>@ResourceManager.GetString("Quiz.Quiz.TimeTaken")</span> @ActualTime
                                                    </span>
                                                }
                                                <span class="ml-2 quiz-score d-none d-md-inline-block">
                                                    <span>@ResourceManager.GetString("Quiz.Quiz.Score")</span> @Math.Round(quizResponseList.QuizMarks, 1)/ @totalMarks
                                                </span>
                                            }

                                        }
                                        else if (quizResponseList.SubmitAttempt == objQuiz.MaxSubmit)
                                        {
                                            if (quizResponseList.TimeTaken != 0)
                                            {
                                                TimeSpan QuizTime = TimeSpan.FromMinutes(objQuiz.QuizTime);
                                                string QuizTotalTime = String.Empty;
                                                if (QuizTime.Hours == 0)
                                                {
                                                    QuizTotalTime = string.Format("{0:00} : {1:00} Min", (int)QuizTime.Minutes, QuizTime.Seconds);
                                                }
                                                else
                                                {
                                                    QuizTotalTime = string.Format("{0:00} : {1:00} Hr", (int)QuizTime.TotalHours, QuizTime.Minutes);
                                                }

                                                TimeSpan timeTaken = TimeSpan.FromSeconds(quizResponseList.TimeTaken);
                                                string Time = String.Empty;
                                                if (timeTaken.Hours == 0)
                                                {
                                                    Time = (int)timeTaken.Minutes >= objQuiz.QuizTime ? "Quiz Time Out" : string.Format("{0:00} : {1:00} Min", (int)timeTaken.Minutes, timeTaken.Seconds);
                                                }
                                                else
                                                {
                                                    Time = (int)timeTaken.Minutes >= objQuiz.QuizTime ? "Quiz Time Out" : string.Format("{0:00} : {1:00} Hr", (int)timeTaken.TotalHours, timeTaken.Minutes);
                                                }

                                                var timeTakenToSolve = quizResponseList.TimeTaken < 60 ? quizResponseList.TimeTaken.ToString() + " Sec" : Time;
                                                var ActualTime = String.Empty;
                                                if (timeTakenToSolve == "Quiz Time Out")
                                                {
                                                    ActualTime = timeTakenToSolve;
                                                }
                                                else
                                                {
                                                    ActualTime = timeTakenToSolve + " / " + QuizTotalTime;
                                                }
                                                <span class="ml-2 quiz-score d-none d-md-inline-block">
                                                    <span>@ResourceManager.GetString("Quiz.Quiz.TimeTaken")</span> @ActualTime
                                                </span>
                                            }
                                            <span class="ml-2 quiz-score d-none d-md-inline-block">
                                                <span>@ResourceManager.GetString("Quiz.Quiz.Score")</span> 0 / @totalMarks
                                            </span>
                                        }*@


                                </h3>

                                @if (quizResponseList.QuizResponseByTeacherId > 0)
                                {
                                    if (quizResponseList.GradeId.HasValue)
                                    {
                                        if (!quizResponseList.GradingTemplateItemSymbol.Contains(".png"))
                                        {
                                            <span id="gradingDiv">
                                                <h2 class="m-0 text-bold" style="color:@quizResponseList.GradingColor">@quizResponseList.ShortLabel</h2>
                                            </span>
                                        }
                                        else
                                        {
                                            <span id="gradingDiv" class="float-right ml-3">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="@quizResponseList.ShortLabel" data-title="@quizResponseList.ShortLabel" data-placement="top" class="ml-2">
                                                    <img class="img-fluid" style="height:70%;" src="@quizResponseList.GradingTemplateItemSymbol" />
                                                </a>
                                            </span>
                                        }
                                    }
                                }
                            </div>
                            @if (!String.IsNullOrEmpty(quizResponseList.Feedback) || quizResponseList.QuizFeedbacks.Any())
                            {
                                <div class="row column-padding pt-3 pb-3">
                                    <div class="col-lg-12 col-md-12 col-12 pb-3 border-bottom">
                                        <h4 class="sub-heading text-black-50">@ResourceManager.GetString("Quiz.Quiz.FeedbackFrom") <strong>@quizResponseList.TeacherName</strong></h4>
                                        <p class="m-0"> @quizResponseList.Feedback </p>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-12">
                                        @if (quizResponseList.QuizFeedbacks.Any())
                                        {
                                            <ul id="recordingslist" class="align-items-center d-flex flex-wrap mt-3">
                                                @foreach (var item in quizResponseList.QuizFeedbacks)
                                                {
                                                    var recordingFilePath = PhoenixConfiguration.Instance.ReadFilePath + item.FilePath;
                                                    <li class="mr-2">
                                                        <audio controls="" src="@recordingFilePath"></audio>
                                                    </li>
                                                }
                                            </ul>

                                        }
                                    </div>
                                </div>
                            }



                            @*@{ TempData["IsChecked"] = true;}*@
                            @if (objQuiz.lstDocuments.Any())
                            {
                                <div id="library" class="view-group column-padding pt-3">
                                    <div class="row" id="quizFileList">
                                        @Html.Partial("_QuizFileList", objQuiz.lstDocuments == null ? new List<Phoenix.Models.QuizFile>() : objQuiz.lstDocuments)
                                    </div>
                                </div>
                            }
                            @*@if (!string.IsNullOrWhiteSpace(objQuizDetails.FirstOrDefault().QuizImagePath))
                                {
                                    var quizImage = PhoenixConfiguration.Instance.ReadFilePath + objQuizDetails.FirstOrDefault().QuizImagePath;
                                    <span class="p-0 border-0 d-block">
                                        <img src="@quizImage" alt="">
                                    </span>
                                }*@
                            @{ var quzResultID = quizResponseList.QuizResultId; }
                            <input type='hidden' id="QuizId" value="@objQuizDetails.FirstOrDefault().QuizId">
                            <input type='hidden' id="QuizResultId" value="@quzResultID">
                            <input type="hidden" id="QuizAnswerSortOrder">
                            @*<input type='hidden' id="QuizResultId" value="0">*@
                            <input type='hidden' id="StudentId" value="0">
                            <input type='hidden' id="ResourceId" value="@ResourceId">
                            <input type='hidden' id="EncrQuizId" value="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(objQuiz.QuizId))">
                            <input type='hidden' id="EncrResourceId" value="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(ResourceId))">



                            @*New IMPLEMENTATION START HERE*@
                            <div class="row bg-light ml-0 mr-0 column-padding">
                                <div class="col-xl-11 col-lg-10 col-md-10 col-10">
                                    <span class="mt-1 mb-1 pl-2 quiz-score d-inline-block d-md-none">
                                        @if (quizResponseList.ResponseQuestionAnswer.Any())
                                        {
                                            if ((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                            {
                                                <lable>@ResourceManager.GetString("Quiz.Quiz.Score")</lable> <strong class="ml-2">@quizResponseList.QuizMarks/@quizResponseList.TotalMarks</strong>
                                            }

                                        }
                                        else if (quizResponseList.SubmitAttempt == objQuiz.MaxSubmit)
                                        {
                                            <lable>@ResourceManager.GetString("Quiz.Quiz.Score")</lable> <strong class="ml-2">0 / @totalMarks</strong>
                                        }

                                    </span>
                                </div>
                                @*<div class="col-xl-1 col-lg-2 col-md-2 col-2"><h4 class="sub-heading text-dark mb-2 mt-2 text-uppercase text-center"><small class="text-medium">@ResourceManager.GetString("Quiz.Quiz.Score")</small></h4></div>*@

                            </div>
                            @*QUIZ WRAPPER HERE CLIENT SIDE PAGINATION*@
                            <div class="list-of-posts">

                                <div class="quiz-wrapper column-padding pt-3">
                                    @{ int countValue = 1;}
                                    @foreach (var quizQuestion in objQuizDetails)
                                    {
                                        <div class="post">
                                            <!-- que 1 -->
                                            <div class="row">
                                                <div class="col-xl-11 col-lg-10 col-md-10 col-10">
                                                    @if (quizQuestion.QuestionTypeId == 6)
                                                    {
                                                        string question = String.Empty;
                                                        var CorrectAnswerCount = 0;
                                                        foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                        {
                                                            CorrectAnswerCount++;
                                                        }
                                                        var EachQuesMarks = (float)quizQuestion.Marks / CorrectAnswerCount;
                                                        int count = quizQuestion.QuestionText.Count(f => f == '[');
                                                        // int count = quizQuestion.QuestionText.Split(' ').Count(str => str.Contains("[option"));
                                                        string[] r = quizQuestion.QuestionText.Contains(' ') ? quizQuestion.QuestionText.Split(' ') : quizQuestion.QuestionText.Split('.');
                                                        foreach (var item in r)
                                                        {
                                                            //if (item.Contains("[blank_space_") && item.Contains("]"))
                                                            //{
                                                            //    int pFrom = item.IndexOf("[blank_space_") + "[blank_space_".Length;
                                                            //    int pTo = item.LastIndexOf("]");
                                                            //    int optionNumber = Convert.ToInt32(item.Substring(pFrom, pTo - pFrom));
                                                            //    var answer = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.AnswerText).FirstOrDefault();
                                                            //    var answerId = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.QuizAnswerId).FirstOrDefault();
                                                            //    var userAnswer = quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizAnswerId == answerId).Select(a => a.QuizAnswerText).FirstOrDefault();
                                                            //    var objClass = !IsSubmit ? "fibFreetext" : "fibFreetext disabled";
                                                            //    quizQuestion.QuestionText = quizQuestion.QuestionText.Replace(item, "<input type='text'  class='" + objClass + "' data-f='" + answer + "' data-marks='" + EachQuesMarks + "' data-answerid='" + answerId + "' data-questionid='" + quizQuestion.QuizQuestionId + "' data-sortorder='" + optionNumber + "' value='" + userAnswer + "'  id='" + optionNumber + "'>");
                                                            //}
                                                            if (item.Contains("[blank_space_") && item.Contains("]"))
                                                            {
                                                                int pfFrom = item.IndexOf("[");
                                                                int pfTo = item.LastIndexOf("]");
                                                                if (pfTo + 1 == item.Length)
                                                                {
                                                                    int pFrom = item.IndexOf("[blank_space_") + "[blank_space_".Length;
                                                                    int pTo = item.LastIndexOf("]");
                                                                    int optionNumber = Convert.ToInt32(item.Substring(pFrom, pTo - pFrom));
                                                                    var answer = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.AnswerText).FirstOrDefault();
                                                                    var answerId = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.QuizAnswerId).FirstOrDefault();
                                                                    var userAnswer = quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizAnswerId == answerId).Select(a => a.QuizAnswerText).FirstOrDefault();
                                                                    var objClass = IsSubmit ? "fibFreetext" : "fibFreetext disabled";
                                                                    quizQuestion.QuestionText = quizQuestion.QuestionText.Replace(item, "<input type='text'  class='" + objClass + "' data-f='" + answer + "' data-marks='" + EachQuesMarks + "' data-answerid='" + answerId + "' data-questionid='" + quizQuestion.QuizQuestionId + "' data-sortorder='" + optionNumber + "' value='" + userAnswer + "'  id='" + optionNumber + "'>");
                                                                }
                                                                else
                                                                {
                                                                    int pFrom = item.IndexOf("[blank_space_") + "[blank_space_".Length;
                                                                    int pTo = item.LastIndexOf("]");
                                                                    int optionNumber = Convert.ToInt32(item.Substring(pFrom, pTo - pFrom));
                                                                    var answer = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.AnswerText).FirstOrDefault();
                                                                    var answerId = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.QuizAnswerId).FirstOrDefault();
                                                                    var userAnswer = quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizAnswerId == answerId).Select(a => a.QuizAnswerText).FirstOrDefault();
                                                                    var objClass = IsSubmit ? "fibFreetext" : "fibFreetext disabled";
                                                                    string subStr = item.Substring(pfFrom, pfTo + 1);
                                                                    //item.QuestionText = item.QuestionText.Replace(subStr, "___________");
                                                                    quizQuestion.QuestionText = quizQuestion.QuestionText.Replace(subStr, "<input type='text'  class='" + objClass + "' data-f='" + answer + "' data-marks='" + EachQuesMarks + "' data-answerid='" + answerId + "' data-questionid='" + quizQuestion.QuizQuestionId + "' data-sortorder='" + optionNumber + "' value='" + userAnswer + "'  id='" + optionNumber + "'>");

                                                                }
                                                            }

                                                        }
                                                        <h6 class="text-regular">

                                                            @i]    @Html.Raw(quizQuestion.QuestionText.Replace(System.Environment.NewLine, "<br />"))
                                                            <span class="text-danger">
                                                                @(quizQuestion.IsRequired ? "*" : "")
                                                            </span>
                                                        </h6>
                                                    }
                                                    else
                                                    {
                                                        <h6 class="text-regular">
                                                            @i]    @Html.Raw(quizQuestion.QuestionText.Replace(System.Environment.NewLine, "<br />"))
                                                            <span class="text-danger">
                                                                @(quizQuestion.IsRequired ? "*" : "")
                                                            </span>
                                                        </h6>
                                                    }
                                                    @if (!string.IsNullOrWhiteSpace(quizQuestion.QuestionImagePath))
                                                    {
                                                        var quizQuesImage = PhoenixConfiguration.Instance.ReadFilePath + quizQuestion.QuestionImagePath;
                                                        <img class="img-fluid" src="@quizQuesImage " alt="">
                                                    }


                                                    <div class="answers pb-3 mb-3 mt-3">
                                                        @if (quizQuestion.QuestionTypeId == 1)
                                                        {
                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                            foreach (var answersData in quizQuestion.Answers)
                                                            {
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="@(!IsSubmit ? "custom-control-input" : "custom-control-input disabled")" id="@("radio" + answersData.QuizAnswerId)" name="selectedAnswer[@quizQuestion.QuizQuestionId]" data-marks="@(answersData.IsCorrectAnswer ? quizQuestion.Marks : 0)" data-answerid="@answersData.QuizAnswerId"
                                                                           data-questionid="@quizQuestion.QuizQuestionId" @(quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizAnswerId == answersData.QuizAnswerId).Any() ? "checked" : "" )>
                                                                    <label class="@(!IsSubmit ? "custom-control-label" : "custom-control-label disabled")" for="@("radio" + answersData.QuizAnswerId)">@answersData.AnswerText</label>
                                                                </div>
                                                            }
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <div id="library" class="view-group mt-3">

                                                                    @*<div class="item col-xl-12 col-lg-12 col-md-12 col-12">*@
                                                                    <div id="fileList">
                                                                        @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                                    </div>
                                                                    @*</div>*@

                                                                </div>
                                                            }
                                                            //Uncommented for form correct show message
                                                            //if ((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                                            if (IsSubmit)
                                                            {
                                                                var AnswerTextList = new List<string>();
                                                                foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                                {
                                                                    AnswerTextList.Add(answersData.AnswerText);
                                                                }
                                                                <p>@ResourceManager.GetString("Quiz.Quiz.CorrectAnswer") <span class="text-success">@string.Join(",", AnswerTextList)</span></p>
                                                            }

                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 2)
                                                        {
                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                            <div class="col-lg-4 col-md-3 col-12">
                                                                <div class="md-form md-outline">
                                                                    @Html.DropDownList("AnswerId", new SelectList(quizQuestion.Answers, "QuizAnswerId", "AnswerText", quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).FirstOrDefault().QuizAnswerId), ResourceManager.GetString("Shared.Labels.Select"), new { @class = IsSubmit ? "selectpicker" : "selectpicker disabled", @name = string.Format("selectedAnswer[{0}]", quizQuestion.QuizQuestionId), data_questionid = quizQuestion.QuizQuestionId, data_marks = quizQuestion.Marks })
                                                                </div>
                                                            </div>
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <div id="library" class="view-group mt-3">

                                                                    @*<div class="item col-xl-12 col-lg-12 col-md-12 col-12">*@
                                                                    <div id="fileList">
                                                                        @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                                    </div>
                                                                    @*</div>*@

                                                                </div>
                                                            }
                                                            //Uncommented for form correct show message
                                                            //if ((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                                            if (IsSubmit)
                                                            {
                                                                var AnswerTextList = new List<string>();
                                                                foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                                {
                                                                    AnswerTextList.Add(answersData.AnswerText);
                                                                }
                                                                <p>@ResourceManager.GetString("Quiz.Quiz.CorrectAnswer") <span class="text-success">@string.Join(",", AnswerTextList)</span></p>
                                                            }
                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 3)
                                                        {
                                                            var CorrectAnswerCount = 0;
                                                            foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                            {
                                                                CorrectAnswerCount++;
                                                            }
                                                            var EachQuesMarks = (float)quizQuestion.Marks / CorrectAnswerCount;
                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">

                                                            foreach (var answersData in quizQuestion.Answers)
                                                            {
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="@(!IsSubmit ? "custom-control-input" : "custom-control-input disabled")" id="@("chkbox" + answersData.QuizAnswerId)" data-marks="@(answersData.IsCorrectAnswer ? EachQuesMarks : 0)" data-answerid="@answersData.QuizAnswerId" data-questionid="@quizQuestion.QuizQuestionId"
                                                                           @(quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizAnswerId == answersData.QuizAnswerId).Any() ? "checked" : "" )>
                                                                    <label class="@(!IsSubmit ? "custom-control-label" : "custom-control-label disabled")" for="@("chkbox" + answersData.QuizAnswerId)">@answersData.AnswerText</label>
                                                                </div>
                                                            }
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <div id="library" class="view-group mt-3">

                                                                    @*<div class="item col-xl-12 col-lg-12 col-md-12 col-12">*@
                                                                    <div id="fileList">
                                                                        @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                                    </div>
                                                                    @*</div>*@

                                                                </div>
                                                            }
                                                            //Uncommented for form correct show message
                                                            //if ((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                                            if (IsSubmit)
                                                            {
                                                                var AnswerTextList = new List<string>();
                                                                foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                                {
                                                                    AnswerTextList.Add(answersData.AnswerText);
                                                                }
                                                                <p>@ResourceManager.GetString("Quiz.Quiz.CorrectAnswer") <span class="text-success">@string.Join(",", AnswerTextList)</span></p>
                                                            }
                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 4)
                                                        {
                                                            @*<input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">*@
                                                            //if (quizQuestion.Answers.Any())
                                                            //{
                                                            foreach (var answersData in quizQuestion.Answers)
                                                            {
                                                                <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId" data-answerid="@answersData.QuizAnswerId" data-questiontype="freetext">
                                                                <div class="col-lg-12 col-md-12 col-12 freetext-fieldset">
                                                                    <div class="d-block md-form md-outline w-100">
                                                                        <textarea class="form-control freetext" @(!IsSubmit ? "" : "readonly") id="QuizFreeText_@answersData.QuizAnswerId" name="QuizFreeText_@answersData.QuizAnswerId" data-marks="@quizQuestion.Marks" data-answerid="@answersData.QuizAnswerId" data-questionid="@quizQuestion.QuizQuestionId">@(quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).FirstOrDefault().QuizAnswerText)</textarea>
                                                                    </div>
                                                                    @if (quizQuestion.lstDocuments.Any())
                                                                    {
                                                                        <div id="library" class="view-group mt-3">

                                                                            @*<div class="item col-xl-12 col-lg-12 col-md-12 col-12">*@
                                                                            <div id="fileList">
                                                                                @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                                            </div>
                                                                            @*</div>*@

                                                                        </div>
                                                                    }
                                                                    @*@if ((SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin) && !IsView)
                                                                        {
                                                                            <div class="md-form md-outline d-inline-block">
                                                                                <input type="number" class="form-control freetextTeacherresponse" min="0" name="@("txtmarks" + answersData.QuizAnswerId)" max="@quizQuestion.Marks" placeholder="@ResourceManager.GetString("Quiz.QuizQuestion.Marks")" value="@(quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).FirstOrDefault().ObtainedMarks)" />
                                                                                <label class="label active" for="@("txtmarks" + answersData.QuizAnswerId)">@ResourceManager.GetString("Quiz.QuizQuestion.Marks")</label>
                                                                            </div>
                                                                        }*@
                                                                </div>

                                                            }
                                                            //}
                                                            //Uncommented for form correct show message
                                                            //if ((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                                            if (IsSubmit)
                                                            {
                                                                var AnswerTextList = new List<string>();
                                                                foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                                {
                                                                    AnswerTextList.Add(answersData.AnswerText);
                                                                }
                                                                @*<p>@ResourceManager.GetString("Quiz.Quiz.CorrectAnswer") <span class="text-success">@string.Join(",", AnswerTextList)</span></p>*@
                                                            }
                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 6)
                                                        {

                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <div id="library" class="view-group mt-3">

                                                                    @*<div class="item col-xl-12 col-lg-12 col-md-12 col-12">*@
                                                                    <div id="fileList">
                                                                        @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                                    </div>
                                                                    @*</div>*@

                                                                </div>
                                                            }
                                                            //Uncommented for form correct show message
                                                            //if ((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                                            if (IsSubmit)
                                                            {
                                                                var AnswerTextList = new List<string>();
                                                                foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                                {
                                                                    AnswerTextList.Add(answersData.AnswerText);
                                                                }
                                                                <p>@ResourceManager.GetString("Quiz.Quiz.CorrectAnswer") <span class="text-success">@string.Join(",", AnswerTextList)</span></p>
                                                            }

                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 7)
                                                        {
                                                            var CorrectAnswerCount = 0;
                                                            foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                            {
                                                                CorrectAnswerCount++;
                                                            }
                                                            var EachQuesMarks = (float)quizQuestion.Marks / CorrectAnswerCount;
                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                            <div class="col-lg-12 col-md-12 col-12 freetext-fieldset row">
                                                                <ul class="clearfix with-number" id="quizMatchList">
                                                                    @{int sortedResponseOrder = 1;}

                                                                    @foreach (var answersData in quizQuestion.Answers)
                                                                    {
                                                                        //var ResponseQuestionAnswer = quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).ToList();
                                                                        if (quizResponseList.ResponseQuestionAnswer.Any())
                                                                        {
                                                                            var test = quizResponseList.ResponseQuestionAnswer.Where(x => x.SortOrder == sortedResponseOrder).FirstOrDefault();
                                                                            <li class="sortAnswer" id="@test.SortOrder" data-answerText="@test.QuizAnswerText" data-marks="@EachQuesMarks" data-matchSortorder="@EncryptDecryptHelper.EncodeBase64(test.SortOrder.ToString())" data-answerid="@test.QuizAnswerId" data-questionid="@quizQuestion.QuizQuestionId">
                                                                                @test.QuizAnswerText
                                                                            </li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li class="sortAnswer" id="@answersData.SortOrder" data-answerText="@answersData.AnswerText" data-marks="@EachQuesMarks" data-matchSortorder="@EncryptDecryptHelper.EncodeBase64(answersData.SortOrder.ToString())" data-answerid="@answersData.QuizAnswerId" data-questionid="@quizQuestion.QuizQuestionId">
                                                                                @answersData.AnswerText
                                                                            </li>
                                                                        }
                                                                        sortedResponseOrder++;
                                                                    }
                                                                </ul>
                                                            </div>
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <div id="library" class="view-group mt-3">

                                                                    @*<div class="item col-xl-12 col-lg-12 col-md-12 col-12">*@
                                                                    <div id="fileList">
                                                                        @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                                    </div>
                                                                    @*</div>*@

                                                                </div>
                                                            }
                                                            //Uncommented for form correct show message
                                                            //if ((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                                            if (IsSubmit)
                                                            {
                                                                var AnswerTextList = new List<string>();
                                                                for (int b = 1; b <= quizQuestion.Answers.Count(); b++)
                                                                {
                                                                    AnswerTextList.Add(quizQuestion.Answers.Where(c => c.SortOrder == b).Select(x => x.AnswerText).FirstOrDefault());
                                                                }
                                                                //foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                                //{
                                                                //    AnswerTextList.Add(answersData.AnswerText);
                                                                //}
                                                                <p>@ResourceManager.GetString("Quiz.Quiz.CorrectAnswer") <span class="text-success">@string.Join(", ", AnswerTextList)</span></p>
                                                            }
                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 8)
                                                        {
                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <div id="library" class="view-group mt-3">

                                                                    @*<div class="item col-xl-12 col-lg-12 col-md-12 col-12">*@
                                                                    <div id="fileList">
                                                                        @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                                    </div>
                                                                    @*</div>*@

                                                                </div>
                                                            }
                                                            var CorrectAnswerCount = 0;
                                                            foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                            {
                                                                CorrectAnswerCount++;
                                                            }
                                                            MTPEachQuesMarks = (float)quizQuestion.Marks / CorrectAnswerCount;
                                                            MTPQuestionId = quizQuestion.QuizQuestionId;

                                                            if (quizResponseList.ResponseQuestionAnswer.Any())
                                                            {
                                                                <div class="row AttendedMTP_@quizQuestion.QuizQuestionId" id="AttendedMTP">
                                                                    @{ var MTPAnswers = quizQuestion.Answers;
                                                                        var IsResultExist = quizResponseList.ResponseQuestionAnswer.Where(a => a.QuizQuestionId == quizQuestion.QuizQuestionId).Select(x => x.QuizAnswerText).FirstOrDefault();
                                                                    }
                                                                    <div class="col-12">
                                                                        @if (!String.IsNullOrEmpty(IsResultExist))
                                                                        {
                                                                            <ul class="given-answers d-flex flex-wrap">
                                                                                @foreach (var item in quizResponseList.ResponseQuestionAnswer)
                                                                                {
                                                                                    var Question = MTPAnswers.Where(a => a.QuizAnswerId == item.QuizAnswerId).Select(x => x.AnswerText).FirstOrDefault();
                                                                                    if (!String.IsNullOrEmpty(Question))
                                                                                    {
                                                                                        <li>
                                                                                            <span class="d-block">@Question</span>
                                                                                            <img src="@item.QuizAnswerText" class="border p-1" />
                                                                                        </li>
                                                                                    }
                                                                                }
                                                                            </ul>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span>@ResourceManager.GetString("Quiz.QuizQuestion.NotAttempt")</span>
                                                                        }

                                                                    </div>
                                                                    @if ((quizResponseList.SubmitAttempt != objQuiz.MaxSubmit) && quizResponseList.QuizResponseByTeacherId == 0 && SessionHelper.CurrentSession.IsStudent())
                                                                    {
                                                                        <div class="row mt-3">
                                                                            <div class="col-lg-12 col-md-12 col-12">
                                                                                <input type="button" class="btn btn-outline-primary btn-md m-0" onclick="RetestMTP(@quizQuestion.QuizQuestionId)" id="retestMTP" value="@ResourceManager.GetString("Shared.Buttons.Retest")">
                                                                            </div>
                                                                        </div>
                                                                    }

                                                                </div>

                                                                <div class="row">
                                                                    <div class="retest MTPRetest_@quizQuestion.QuizQuestionId">
                                                                        <div class="dragdrop_@quizQuestion.QuizQuestionId">
                                                                            @Html.Partial("~/Areas/Files/Views/Shared/_DragDrop.cshtml", quizQuestion)
                                                                        </div>
                                                                        <button class="btn btn-outline-primary btn-md m-0 @(!IsSubmit ? "" : "disabled")" onclick="groupQuiz.resetMTPQuiz(@quizQuestion.QuizQuestionId)" data-quizquestionid="@quizQuestion.QuizQuestionId" id="btnRetestMTP">@ResourceManager.GetString("Shared.Buttons.Reset")</button>
                                                                    </div>
                                                                </div>

                                                            }
                                                            else
                                                            {
                                                                <div class="dragdrop_@quizQuestion.QuizQuestionId @(!IsSubmit ? "" : "disabled")">
                                                                    @Html.Partial("~/Areas/Files/Views/Shared/_DragDrop.cshtml", quizQuestion)
                                                                </div>
                                                                <button class="btn btn-outline-primary btn-md m-0 @(!IsSubmit ? "" : "disabled")" onclick="groupQuiz.resetMTPQuiz(@quizQuestion.QuizQuestionId)" data-quizquestionid="@quizQuestion.QuizQuestionId" id="btnRetestMTP">@ResourceManager.GetString("Shared.Buttons.Reset")</button>
                                                            }

                                                            //Uncommented for form correct show message
                                                            //if ((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                                            if (IsSubmit)
                                                            {
                                                                <h5 class="mt-5">@ResourceManager.GetString("Quiz.Quiz.CorrectAnswer") </h5>
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <ul class="correct-answers d-flex flex-wrap">
                                                                            @foreach (var item in quizQuestion.Answers)
                                                                            {
                                                                                var imagePath = PhoenixConfiguration.Instance.ReadFilePath + Constants.QuizMTPQuestion + item.ResourcePath;
                                                                                <li>
                                                                                    <p><span class="text-success d-block">@item.AnswerText</span></p>
                                                                                    <img src="@imagePath" class="border p-1" />
                                                                                </li>

                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>

                                                </div>
                                                @*<div class="col-xl-1 col-lg-2 col-md-2 col-2 text-center">
                                                        <h4 class="sub-heading text-dark">
                                                            @if (quizResponseList.ResponseQuestionAnswer.Any())
                                                            {
                                                                if ((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                                                {
                                                                    if (quizQuestion.QuestionTypeId == 4)
                                                                    {
                                                                        if (quizResponseList.QuizResponseByTeacherId != 0)
                                                                        {
                                                                            var ObtainedMarks = (quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).Sum(x => x.ObtainedMarks));
                                                                            <span>@Math.Round(ObtainedMarks, 1) / @quizQuestion.Marks</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span>@ResourceManager.GetString("Quiz.Quiz.NotMarkYet")</span>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        var ObtainedMarks = (quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).Sum(x => x.ObtainedMarks));
                                                                        <span>@Math.Round(ObtainedMarks, 1) / @quizQuestion.Marks</span>
                                                                    }
                                                                }

                                                            }
                                                            else if (quizResponseList.SubmitAttempt == objQuiz.MaxSubmit)
                                                            {
                                                                if (quizQuestion.QuestionTypeId == 4)
                                                                {
                                                                    if (quizResponseList.QuizResponseByTeacherId != 0)
                                                                    {
                                                                        var ObtainedMarks = (quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).Sum(x => x.ObtainedMarks));
                                                                        <span>@Math.Round(ObtainedMarks, 1) / @quizQuestion.Marks</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span>@ResourceManager.GetString("Quiz.Quiz.NotMarkYet")</span>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    var ObtainedMarks = (quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).Sum(x => x.ObtainedMarks));
                                                                    <span>0 / @quizQuestion.Marks</span>
                                                                }
                                                            }
                                                        </h4>
                                                    </div>*@

                                            </div>
                                            <!-- que 1 -->
                                            <hr />
                                            @{
                                                i = i + 1;
                                            }

                                            @if (countValue == objQuizDetails.Count())
                                            {
                                                //if (IsSubmit || SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                                                if (!IsSubmit && (SessionHelper.CurrentSession.IsStudent() || SessionHelper.CurrentSession.IsParent()))
                                                {
                                                    if (Html.CurrentPagePermission().CanEdit)
                                                    {
                                                        <div class="row mb-3">
                                                            <div class="col-lg-12 col-md-12 col-12">
                                                                <input type="submit" class="btn btn-primary m-0 @IsViewClass" id="submitQuiz" onclick="groupQuiz.submitQuiz()" value="@ResourceManager.GetString("Shared.Buttons.Submit")">
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                            @{
                                                countValue++;
                                            }
                                        </div>



                                    }
                                    @*<div class="post">
                                            @if (IsSubmit || SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                                            {
                                                if (Html.CurrentPagePermission().CanEdit)
                                                {
                                                    <div class="row below">
                                                        <div class="col-lg-12 col-md-12 col-12">
                                                            <input type="submit" class="btn btn-primary m-0" id="submitQuiz" onclick="groupQuiz.submitQuiz()" value="@ResourceManager.GetString("Shared.Buttons.Submit")">
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>*@
                                </div>
                            </div>
                            @* QUIZ WRAPPER END HERE CLIENT SIDE PAGINATION *@

                            @* SERVER SIDE PAGINATION*@
                            @*<div id="QuizPaging" class="pagination-panel">
                                </div>*@
                            @*SERVER SIDE PAGINATION END*@
                            @*@Html.Partial("_PaginationIndex", Model)*@
                            <div class="pagination column-padding pb-3"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card min-height">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <span class="no-data-found d-block mx-auto my-auto"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

</div>
<!--Quiz task end-->
@*@if (objQuiz.IsSetTime && quizResponseList.QuizResponseByTeacherId == 0 && SessionHelper.CurrentSession.IsStudent() && IsSubmit)
    {
        <div class="quizTimer d-flex justify-content-center position-fixed quiz-started arabictxt" id="quizTimerDiv" data-minutes-left="@objQuiz.QuizTime" data-seconds-left="">
            <img src="~/Content/img/sand-clock.gif" alt="" class="time-icon">
        </div>
    }*@

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}

@section scripts
{
    <script language="javascript">
        translatedResources.TimeOut= '@ResourceManager.GetString("Quiz.Quiz.TimeOut")';
        translatedResources.EnterMarks = '@ResourceManager.GetString("Quiz.Quiz.EnterMarks")';
        translatedResources.EnterValidMarks = '@ResourceManager.GetString("Quiz.Quiz.EnterValidMarks")';
        translatedResources.AnswerRequiredMessage= '@ResourceManager.GetString("Quiz.Quiz.AnswerRequiredMessage")';
    </script>
    <script src="@Url.Content("/Content/js/ckeditor/ckeditor.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/Student/js/addons/countdown-timer.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/Quiz.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/common/paginate.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/mathscribe/jqmath-etc-0.4.6.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    @*<script>
            $(function () {
                $("#quizMatchList").sortable();
                $("#quizMatchList").disableSelection();
            });
        </script>*@
    <script type="text/javascript">

        function RetestMTP(quizQuestionId) {
            var MTPRetest = '.MTPRetest_' + quizQuestionId;
            var AttendedMTP = '.AttendedMTP_' + quizQuestionId;
            $(MTPRetest).show();
            $(AttendedMTP).hide();
        }
        $(document).ready(function () {
            $('.retest').hide();
            $('#btnRefresh').hide();
            $('.quiz-pagination li:nth-child(2)').addClass('active');
            $('.lightgallery_quiz').lightGallery({
                selector: '.galleryImg',
                share: false
            });

            if (localStorage.getItem("quizStarted") != 0) {
                var quizRecentTime = localStorage.getItem("quizStarted");
                $('#quizTimerDiv').data("seconds-left", quizRecentTime);
            }
             $('.pagination').pagination({
                itemsToPaginate: ".post",
                activeClass: 'active',
                 itemsPerPage: $("#PaginationCount").val()
            });
            $("#quizMatchList").sortable();
            var timer1 = $('.quizTimer').startTimer({
                onComplete: function (element) {
                    $("#submitQuiz").hide();
                    isTimeOut = true;
                    groupQuiz.submitQuiz();
                    localStorage.setItem("quizStarted", 0);
                },
                onStart: $('.timerstart'),
                onPause: $('.timerpause'),
                loop: false
            });
            //$(document).on('click', '#retestMTP', function () {
            //    $('.MTPRetest').show();
            //    $('#AttendedMTP').hide();
            //});

            $(document).ready(function () {
                if ($("#IsSetTime").val() == "True") {
                    timer1.trigger('start');
                }
            });
            $("#1").addClass('active')

            //$('.sidebar-fixed a, .profile-actions a').click(function () {
            //        var r = confirm("You have changes pending on save in the current form, if you continue you'll lose these changes.\nDo you want to continue?");
            //    if (r) {
            //            localStorage.setItem("quizStarted", 0);
            //        } else {
            //            event.preventDefault();
            //            return;
            //        }

            //});

        });

        var unsaved = false;
        $(":input").change(function () {
            unsaved = true;
        });
        var list =@(quizResponseList.ResponseQuestionAnswer.Any() ? Html.Raw(Json.Encode(quizResponseList.ResponseQuestionAnswer)) : Html.Raw(Json.Encode(new List<Phoenix.Models.QuizAnswersView>())));
        $(function () {
            $("#btnBack").show();
            $(document).on('click', '#btnBack', function () {
                history.back();
            });


            $('.quiz-cover').on('click', function (event) {
                $('.cover-img-wrapper').removeClass('animate slideIn show');
                $(this).parent().find('.cover-img-wrapper').toggleClass('animate slideIn show');
                event.stopPropagation();
            });

            $(window).click(function (e) {
                if (e.target.class === 'show') {
                } else {
                    $(".cover-img-wrapper").removeClass("animate slideIn show");
                }
            });
        });

        @*//CHANGES FOR MATCH THE PAIR


    $(document).ready(function () {
        const brands = [];
        var matchThePairList=@(objQuizDetails.Select(a => a.Answers).Any() ? Html.Raw(Json.Encode(objQuizDetails.Where(a=>a.QuestionTypeId==8).Select(a=>a.Answers).ToList())) : Html.Raw(Json.Encode(new List<Phoenix.Models.Answers>())));
        matchThePairList.forEach(function (index) {
            var obtainMark=
            index.forEach(function (item) {
                var elementMTP = { iconName: "@PhoenixConfiguration.Instance.ReadFilePath" + "@Constants.QuizMTPQuestion" + item.ResourcePath,
                                    brandName: item.AnswerText,
                                    color: 'myCOLOR',
                                    quizAnswerId:item.QuizAnswerId,
                                    quizQuestionId:@MTPQuestionId,
                                    obtainedMarks:@MTPEachQuesMarks
                                   };
                brands.push(elementMTP)
            });
        });
        let correct = 0;
        let total = 0;
        const totalDraggableItems = brands.length;
        const totalMatchingPairs = brands.length; // Should be <= totalDraggableItems

        const scoreSection = document.querySelector(".score");
        const correctSpan = scoreSection.querySelector(".correct");
        const totalSpan = scoreSection.querySelector(".total");
        const playAgainBtn = scoreSection.querySelector("#play-again-btn");
        const refreshBtn = scoreSection.querySelector("#btnRefresh");

        const draggableItems = document.querySelector(".draggable-items");
        const matchingPairs = document.querySelector(".matching-pairs");
        let draggableElements;
        let droppableElements;

        initiateGame();

        function initiateGame() {
            const randomDraggableBrands = generateRandomItemsArray(totalDraggableItems, brands);
            const randomDroppableBrands = totalMatchingPairs < totalDraggableItems ? generateRandomItemsArray(totalMatchingPairs, randomDraggableBrands) : randomDraggableBrands;
            const alphabeticallySortedRandomDroppableBrands = [...randomDroppableBrands].sort((a, b) => a.brandName.toLowerCase().localeCompare(b.brandName.toLowerCase()));

            for (let i = 0; i < randomDraggableBrands.length; i++) {
                draggableItems.insertAdjacentHTML("beforeend", `
            <img src="${randomDraggableBrands[i].iconName}" class="fab fa-${randomDraggableBrands[i].iconName} draggable border p-1" draggable="true" data-quizanswerid="${randomDraggableBrands[i].quizAnswerId}" data-quizquestionid="${randomDraggableBrands[i].quizQuestionId}" data-obtainmark="${randomDraggableBrands[i].obtainedMarks}" style="color: ${randomDraggableBrands[i].color};" id="${randomDraggableBrands[i].iconName}">
        `);
            }
            // Create "matching-pairs" and append to DOM
            for (let i = 0; i < alphabeticallySortedRandomDroppableBrands.length; i++) {
                matchingPairs.insertAdjacentHTML("beforeend", `
        <div class="matching-pair">
            <span class="label">${alphabeticallySortedRandomDroppableBrands[i].brandName}</span>
            <span class="droppable" data-brand="${alphabeticallySortedRandomDroppableBrands[i].iconName}" data-quizanswerid="${alphabeticallySortedRandomDroppableBrands[i].quizAnswerId}" id="${alphabeticallySortedRandomDroppableBrands[i].quizAnswerId}" ></span>
        </div>
        `);
            }

            draggableElements = document.querySelectorAll(".draggable");
            droppableElements = document.querySelectorAll(".droppable");

            draggableElements.forEach(elem => {
                elem.addEventListener("dragstart", dragStart);

            });

            droppableElements.forEach(elem => {
                elem.addEventListener("dragenter", dragEnter);
                elem.addEventListener("dragover", dragOver);
                elem.addEventListener("dragleave", dragLeave);
                elem.addEventListener("drop", drop);
            });
        }

        // Drag and Drop Functions

        //Events fired on the drag target

        function dragStart(event) {
            event.dataTransfer.setData("text", event.target.id); // or "text/plain"
        }

        //Events fired on the drop target

        function dragEnter(event) {
            if (event.target.classList && event.target.classList.contains("droppable") && !event.target.classList.contains("dropped")) {
                event.target.classList.add("droppable-hover");
            }
        }

        function dragOver(event) {
            if (event.target.classList && event.target.classList.contains("droppable") && !event.target.classList.contains("dropped")) {
                event.preventDefault();
            }
        }

        function dragLeave(event) {
            if (event.target.classList && event.target.classList.contains("droppable") && !event.target.classList.contains("dropped")) {
                event.target.classList.remove("droppable-hover");
            }
        }

        function drop(event) {
            event.preventDefault();
            event.target.classList.remove("droppable-hover");
            const draggableElementBrand = event.dataTransfer.getData("text");
            const droppableElementBrand = event.target.getAttribute("data-brand");
            var quizanswerid = event.target.getAttribute("data-quizanswerid");
            const isCorrectMatching = draggableElementBrand === droppableElementBrand;
            total++;

            const draggableElement = document.getElementById(draggableElementBrand);
            event.target.classList.add("dropped");
            draggableElement.classList.add("dragged");
            draggableElement.setAttribute("draggable", "false");
            event.target.innerHTML = `<img src="${draggableElementBrand}" class="fab fa-${draggableElementBrand} draggedAns h-100 w-100" style="color: ${draggableElement.style.color};" id="${draggableElementBrand}">`;
            correct++;
            refreshBtn.style.display = "block";
            //Add TO LIST
            if(isCorrectMatching)
            {
                var QuizId = $("#QuizId").val();
                var quesId = draggableElement.dataset.quizquestionid;
                var ansId = quizanswerid;
                var ansValue = draggableElement.id;
                var obMarks = draggableElement.dataset.obtainmark;
                list.push({
                    QuizId: QuizId, QuizQuestionId: quesId
                    , QuizAnswerId: ansId, QuizAnswerText: ansValue, ObtainedMarks: obMarks
                });
            }else
            {
                var QuizId = $("#QuizId").val();
                var quesId = draggableElement.dataset.quizquestionid;
                var ansId = quizanswerid;
                var ansValue = draggableElement.id;
                var obMarks = 0.0;
                list.push({
                    QuizId: QuizId, QuizQuestionId: quesId
                    , QuizAnswerId: ansId, QuizAnswerText: ansValue, ObtainedMarks: obMarks
                });
            }

            scoreSection.style.opacity = 0;
            setTimeout(() => {
                correctSpan.textContent = correct;
                totalSpan.textContent = total;
                scoreSection.style.opacity = 1;
            }, 200);
            if (correct === Math.min(totalMatchingPairs, totalDraggableItems)) { // Game Over!!
                playAgainBtn.style.display = "block";
                setTimeout(() => {
                    playAgainBtn.classList.add("play-again-btn-entrance");
                }, 200);
            }
        }

        // Other Event Listeners
        playAgainBtn.addEventListener("click", playAgainBtnClick);
        function playAgainBtnClick() {
            playAgainBtn.classList.remove("play-again-btn-entrance");
            correct = 0;
            total = 0;
            draggableItems.style.opacity = 0;
            matchingPairs.style.opacity = 0;
            setTimeout(() => {
                scoreSection.style.opacity = 0;
            }, 100);
            setTimeout(() => {
                playAgainBtn.style.display = "none";
                while (draggableItems.firstChild) draggableItems.removeChild(draggableItems.firstChild);
                while (matchingPairs.firstChild) matchingPairs.removeChild(matchingPairs.firstChild);
                initiateGame();
                correctSpan.textContent = correct;
                totalSpan.textContent = total;
                draggableItems.style.opacity = 1;
                matchingPairs.style.opacity = 1;
                scoreSection.style.opacity = 1;
            }, 500);
        }

        //refresh
        refreshBtn.addEventListener("click", refreshBtnClick);
        function refreshBtnClick() {

            correct = 0;
            total = 0;
            draggableItems.style.opacity = 0;
            matchingPairs.style.opacity = 0;
            setTimeout(() => {
                scoreSection.style.opacity = 0;
            }, 100);
            setTimeout(() => {
                refreshBtn.style.display = "none";
                while (draggableItems.firstChild) draggableItems.removeChild(draggableItems.firstChild);
                while (matchingPairs.firstChild) matchingPairs.removeChild(matchingPairs.firstChild);
                initiateGame();
                correctSpan.textContent = correct;
                totalSpan.textContent = total;
                draggableItems.style.opacity = 1;
                matchingPairs.style.opacity = 1;
                scoreSection.style.opacity = 1;
            }, 500);
        }
        // Auxiliary functions
        function generateRandomItemsArray(n, originalArray) {
            let res = [];
            let clonedArray = [...originalArray];
            if (n > clonedArray.length) n = clonedArray.length;
            for (let i = 1; i <= n; i++) {
                const randomIndex = Math.floor(Math.random() * clonedArray.length);
                res.push(clonedArray[randomIndex]);
                clonedArray.splice(randomIndex, 1);
            }
            return res;
        }

        $("body").on("click", "#submit-quiz", function () {
            let finalCount = 0;
            $(".matching-pair").each(function () {
                let queId = $(this).find(".dropped").data("brand");
                let ansId = $(this).find(".dropped").find(".draggedAns").attr("id");

                if (queId === ansId) {
                    finalCount++;
                }

            });
            console.log(finalCount);
        });
    });

        //END MATCH THE PAIR*@
    </script>

}