﻿@model Phoenix.Models.GroupQuiz
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Models;
@{
    ViewBag.Title = ResourceManager.GetString("Quiz.GroupQuiz.GroupQuiz");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-groups.svg");
    var rnd = DateTime.Now.Ticks.ToString();
    var QuizFilePath = PhoenixConfiguration.Instance.ReadFilePath + Model.QuizImagePath;
    List<Data>
    dataObj = new List<Data>
        ();
    List<GradeWiseReport>
        gradeWiseReport = Model.GradeWiseReport;
    if (Model.GenderWiseReport != null)
    {
        dataObj.Add(new Data { Name = "Male", Value = Model.GenderWiseReport.Male });
        dataObj.Add(new Data { Name = "Female", Value = Model.GenderWiseReport.Female });
    }
    if (gradeWiseReport.Count > 0 && Model.GradeWiseTotalQuestionsReport != null)
    {
        var gradeNotAssignedQuestionsCount = (Model.GradeWiseTotalQuestionsReport.TotalQuestions - Model.GradeWiseTotalQuestionsReport.QHavingGrade);
        gradeWiseReport.Add(new GradeWiseReport { GradeDisplay = "Grade Not Assigned", QuestionCount = gradeNotAssignedQuestionsCount });
    }

    var strHr = ResourceManager.GetString("Shared.Messages.Hours");
    var strMin = ResourceManager.GetString("Shared.Messages.Minutes");
    var strMinHr = ResourceManager.GetString("Shared.Messages.MinutesHr");
    var strSec = ResourceManager.GetString("Shared.Messages.Seconds");
    var strQuizTimeOut = ResourceManager.GetString("Quiz.Quiz.QuizTimeOut");
}
<link href="~/Content/VLE/mathscribe/jqmath-0.4.3.css" rel="stylesheet" />
@Html.HiddenFor(x => x.GroupId)
<div class="mb-4 assignment-details">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="row mb-2">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- Description content start -->
                            <div class="assignment-description">
                                <div class="title-with-fields">
                                    <h3 class="card-title">@Model.QuizName</h3>
                                    @if (!String.IsNullOrEmpty(Model.QuizImagePath))
                                    {

                                        <div class="title-actions text-right">
                                            <img src="@QuizFilePath" class='img-thumbnail' style='height:40px;width:40px' />
                                        </div>
                                    }

                                </div>
                                <div class="column-padding pt-3 pb-3">
                                    <p>@Html.Raw(Model.Description)</p>
                                </div>
                            </div>
                            <!-- Description content end -->
                        </div>
                    </div>
                </div>
            </div>
            @if (!Model.IsForm)
            {
                <div class="row mb-3">

                    <!--Gender Wise Report-->

                    <div class="col-xl-8 col-lg-12 col-md-12 col-12 mb-4 mb-xl-0">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title">@ResourceManager.GetString("Quiz.Report.GradeWiseReport")</h3>
                                <h3 id="GradeChartDiv" class="sub-heading column-padding pt-3 pb-3 bg-white"></h3>
                                <div id="GradeChartContainer" class="column-padding pt-3 pb-3 bg-white"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-12 col-md-12 col-12 mb-3 mb-md-0">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title">@ResourceManager.GetString("Quiz.Report.GenderWiseReport")</h3>
                                <div class="chart-container position-relative pb-5 text-center mb-5 mb-md-0">
                                    <h3 id="GenderChartDiv" class="m-0 p-0"></h3>
                                    <div id="GenderChartContainer" class="column-padding pt-3 pb-3 bg-white"></div>
                                    <div id="GenderLegendsDiv" class="chart-stats position-absolute w-100 border-top pl-3 pr-3">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-12 border-right pt-3 pb-3">
                                                <div class="row">
                                                    <div class="col-lg-9 col-md-9 col-9">
                                                        <p class="m-0 text-left d-flex align-items-center">
                                                            <span id="spanMale" class="mr-2" style="background: #722fa5;"></span>@ResourceManager.GetString("Quiz.Report.Male")
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-3 text-right"><p id="maleCountValue" class="m-0 text-semibold"></p></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-12 pt-3 pb-3">
                                                <div class="row">
                                                    <div class="col-lg-9 col-md-9 col-9 pl-3">
                                                        <p class="m-0 text-left d-flex align-items-center">
                                                            <span id="spanFemale" class="mr-2" style="background: #e4498c;"></span>@ResourceManager.GetString("Quiz.Report.Female")
                                                        </p>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-3 text-right"><p id="femaleCountValue" class="m-0 text-semibold"></p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>





                <div class="row mt-2">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 ">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title">@ResourceManager.GetString("Quiz.Report.QuestionWiseReport")</h3>
                                <div id="questionWiseReportContainer" class="column-padding pt-2 pb-3 bg-white">
                                    @if (Model.QuestionWiseReport.Count() > 0)
                                    {
                                        @Html.Partial("_QuestionWiseReport", Model.QuestionWiseReport)
                                    }
                                    else
                                    {
                                        <span class="no-data-found d-block mx-auto my-auto"></span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="row mt-3">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- Member content start -->
                            <div class="member-data ">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                        <div class="title-with-fields">
                                            <h3 class="card-title">@ResourceManager.GetString("Shared.Labels.Members") (@Model.lstGroupStudents.Count)</h3>
                                            <div class="title-fields">
                                                @if (Model.lstGroupStudents.Any())
                                                {
                                                    using (Html.BeginForm("DownloadGroupQuizReportToExcel", "Files", new { quizId = Model.QuizId, groupQuizId = Model.GroupQuizId }, FormMethod.Post, new { id = "frmQuestionWiseReport", @class = "form-horizontal" }))
                                                    {
                                                        <button type="submit" name="action:DownloadGroupQuizReportToExcel" title="@ResourceManager.GetString("Shared.Buttons.DownloadExcel")" data-toggle="tooltip" class="float-right p-0 border-0 bg-transparent"><img src="~/Content/img/svg/file-type-excel.svg" class="svg" /></button>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-padding pb-3">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                            <div class="table-wrapper">
                                                <table id="assignment-assignee-table" class="table dataTable table-bordered table-hover table-responsive-md" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center align-middle">
                                                            </th>
                                                            <th>@ResourceManager.GetString("Shared.Labels.Member")</th>
                                                            @if (!Model.IsForm)
                                                            {
                                                                <th class="text-center" style="width: 24%;">@ResourceManager.GetString("Quiz.Quiz.Score")</th>
                                                                <th class="text-center" style="width: 24%;">@ResourceManager.GetString("Quiz.Quiz.TimeTaken")</th>
                                                            }
                                                            <th class="text-center" style="width: 24%;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.lstGroupStudents)
                                                        {
                                                            var quizId = EncryptDecryptHelper.EncryptUrl(Convert.ToString(item.QuizId));
                                                            var GroupQuizId = EncryptDecryptHelper.EncryptUrl(Convert.ToString(item.ResourceId));
                                                            var StudentId = EncryptDecryptHelper.EncryptUrl(Convert.ToString(item.StudentId));
                                                            item.GradingTemplateItemSymbol = item.GradingTemplateItemSymbol == null ? "" : item.GradingTemplateItemSymbol;

                                                            //TimeSpan timeTaken = TimeSpan.FromMinutes(item.TimeTaken);
                                                            TimeSpan QuizTime = TimeSpan.FromMinutes(Model.QuizTime);
                                                            string QuizTotalTime = String.Empty;
                                                            if (QuizTime.Hours == 0)
                                                            {
                                                                QuizTotalTime = string.Format(strMinHr, (int)QuizTime.Minutes, QuizTime.Seconds);
                                                            }
                                                            else
                                                            {
                                                                QuizTotalTime = string.Format(strHr, (int)QuizTime.TotalHours, QuizTime.Minutes);
                                                            }

                                                            TimeSpan timeTaken = TimeSpan.FromSeconds(item.TimeTaken);
                                                            string Time = String.Empty;
                                                            if (timeTaken.Hours == 0)
                                                            {
                                                                Time = (int)timeTaken.Minutes >= Model.QuizTime ? strQuizTimeOut : string.Format(strMinHr, (int)timeTaken.Minutes, timeTaken.Seconds);
                                                            }
                                                            else
                                                            {
                                                                Time = (int)timeTaken.Minutes >= Model.QuizTime ? strQuizTimeOut : string.Format(strHr, (int)timeTaken.TotalHours, timeTaken.Minutes);
                                                            }

                                                            var timeTakenToSolve = item.TimeTaken < 60 ? string.Format(strSec, item.TimeTaken.ToString()) : Time;
                                                            var ActualTime = String.Empty;
                                                            if (timeTakenToSolve == strQuizTimeOut)
                                                            {
                                                                ActualTime = timeTakenToSolve;
                                                            }
                                                            else
                                                            {
                                                                ActualTime = timeTakenToSolve + " / " + QuizTotalTime;
                                                            }

                                                            <tr data-studid="@item.StudentId">
                                                                <td class="text-center align-middle"></td>
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="assignment-status">

                                                                            @if (Convert.ToBoolean(item.IsCompletedByStudent) && !item.CompleteMarkByTeacher)
                                                                            {
                                                                                <i class="fas fa-clipboard-list mark-by-student"></i>
                                                                            }
                                                                            else if (item.CompleteMarkByTeacher)
                                                                            {
                                                                                <i class="fas fa-clipboard-check mark-by-teacher">

                                                                                </i>
                                                                            }
                                                                            else
                                                                            {
                                                                                <i class="far fa-clipboard"></i>
                                                                            }

                                                                        </div>
                                                                        <div id="divacnchortag">
                                                                            @if (Model.IsForm)
                                                                            {
                                                                                <a id="btnSolveGroupForm" onclick="" data-studid="@StudentId" data-quizresourceid="@GroupQuizId" data-id="@quizId"><span class="member-name">@item.StudentName</span></a>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a id="btnSubmitWithouTimeQuiz" onclick="" data-studid="@StudentId" data-quizresourceid="@GroupQuizId" data-id="@quizId"><span class="member-name">@item.StudentName</span></a>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                @if (!Model.IsForm)
                                                                {
                                                                    if (item.QuizMarks > 0)
                                                                    {
                                                                        <td class="text-center align-middle">@Math.Round(item.QuizMarks, 1) / @Convert.ToInt32(item.TotalMarks)</td>
                                                                    }
                                                                    else if (item.QuizMarks == 0 && item.TimeTaken > 0)
                                                                    {
                                                                        <td class="text-center align-middle">0 / @Convert.ToInt32(item.TotalMarks)</td>
                                                                    }
                                                                    else if (item.QuizMarks == 0 && item.IsCompletedByStudent)
                                                                    {
                                                                        <td class="text-center align-middle">0 / @Convert.ToInt32(item.TotalMarks)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="text-center align-middle"></td>
                                                                    }
                                                                }
                                                                @if (!Model.IsForm)
                                                                {
                                                                    if (item.TimeTaken > 0)
                                                                    {
                                                                        <td class="text-center align-middle">@ActualTime</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="text-center align-middle"></td>
                                                                    }

                                                                }
                                                                <td class="text-right">
                                                                    @if (item.IsCompletedByStudent)
                                                                    {
                                                                        <button type="button" class="btn btn-transparent mx-1" data-toggle="tooltip" data-html="false" data-placement="left" title="@ResourceManager.GetString("Quiz.Quiz.QuizSolvedMessage")">
                                                                            <i class="far fa-eye"></i>
                                                                        </button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <button type="button" class="btn btn-transparent mx-1" data-toggle="tooltip" data-html="false" data-placement="left" title="@ResourceManager.GetString("Quiz.Quiz.QuizSeenMessage")">
                                                                            <i class="far fa-eye-slash"></i>
                                                                        </button>
                                                                    }
                                                                    @if (item.CompleteMarkByTeacher && Model.GradingTemplateId > 0)
                                                                    {
                                                                        <button type="button" class="btn btn-transparent btnAssignGradeToQuiz mx-1" data-selectedGradingId="@Model.QuizGradeId" data-gradingId="@Model.GradingTemplateId" data-studentId="@item.StudentId" data-IsCompleted="@item.CompleteMarkByTeacher" data-QuizId="@item.QuizId" data-ResourceId="@item.ResourceId" data-QuizResultId="@item.QuizResultId" data-toggle="tooltip" data-html="false" data-placement="left" title="@ResourceManager.GetString("Assignment.AssignmentTooltip.AssignGrade")">
                                                                            <i class="fas fa-award"></i>
                                                                        </button>
                                                                    }
                                                                    @if (item.CompleteMarkByTeacher)
                                                                    {
                                                                        <button type="button" class="btn btn-transparent btnFeedback mx-1" data-studentId="@item.StudentId" data-IsCompleted="@item.CompleteMarkByTeacher" data-QuizId="@item.QuizId" data-ResourceId="@item.ResourceId" data-QuizResultId="@item.QuizResultId" data-toggle="tooltip" data-html="false" data-placement="left" title="@ResourceManager.GetString("Assignment.Assignment.Feedback")">
                                                                            <i class="fas fa-comment-dots"></i>
                                                                        </button>
                                                                        @*<button type="button" class="btn btn-transparent mx-1" id="btnReportCard" data-studid="@StudentId" data-quizresourceid="@GroupQuizId" data-id="@quizId" data-toggle="tooltip" data-html="false" data-placement="left" title="@ResourceManager.GetString("Assignment.Assignment.ReportCard")">
                                                                            <i class="fas fa-clipboard"></i>
                                                                        </button>*@
                                                                    }
                                                                    @if (item.GradingTemplateId > 0)
                                                                    {

                                                                        if (!item.GradingTemplateItemSymbol.Contains(".png"))
                                                                        {
                                                                            <span class="taskGrade txt-grade mx-1" id="gradingDiv_@item.StudentId" data-selectedGradingId="@item.QuizGradeId">
                                                                                <h2 class="m-0 text-bold" style="color:@item.GradingColor">@item.ShortLabel</h2>
                                                                            </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span id="gradingDiv_@item.StudentId" class="mx-1" data-selectedGradingId="@item.QuizGradeId" data-toggle="tooltip" title="@item.ShortLabel" data-title="@item.ShortLabel" data-placement="top" class="taskGrade">
                                                                                <img class="img-fluid" style="width: 2.1875rem;" src="@item.GradingTemplateItemSymbol" />
                                                                            </span>
                                                                        }
                                                                    }

                                                                </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                                @*<span class="waves-input-wrapper waves-effect waves-light">
                                                        <input type="button" class="btn btn-outline-primary btn-md m-0" value="@ResourceManager.GetString("Assignment.Assignment.DownloadAssignment")" id="btnStudAttachment">
                                                    </span>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Member content end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
            {
    <script type="text/javascript">
        translatedResources.filetitle = '@ResourceManager.GetString("Files.File.Title")';
        translatedResources.filename = '@ResourceManager.GetString("Files.File.FileName")';
        translatedResources.filepath = '@ResourceManager.GetString("Files.File.FilePath")';
        translatedResources.foldertitle = '@ResourceManager.GetString("Files.Folder.Title")';
        translatedResources.foldername = '@ResourceManager.GetString("Files.Folder.FolderName")';
        translatedResources.clipboard = '@ResourceManager.GetString("Files.File.Clipboard")';
        translatedResources.assign = '@ResourceManager.GetString("Files.Quiz.Assign")';
        translatedResources.assignGradeStatus = '@ResourceManager.GetString("Files.Quiz.AssignGradeStatus")';
        translatedResources.SelectGrade = '@ResourceManager.GetString("Files.Quiz.SelectGrade")';
        translatedResources.feedback = '@ResourceManager.GetString("Files.Quiz.Feedback")';
        translatedResources.FileUploaded = '@ResourceManager.GetString("Shared.Messages.FileUploaded")';
        translatedResources.AddGroupUrl = '@ResourceManager.GetString("Files.GroupUrl.AddGroupUrl")';
        translatedResources.EnterMarks = '@ResourceManager.GetString("Quiz.Quiz.EnterMarks")';
        translatedResources.EnterValidMarks = '@ResourceManager.GetString("Quiz.Quiz.EnterValidMarks")';

        translatedResources.GradeWiseReport = '@ResourceManager.GetString("Quiz.Report.GradeWiseReport")';
        translatedResources.GenderWiseReport = '@ResourceManager.GetString("Quiz.Report.GenderWiseReport")';
    </script>

    <!-- DevExtreme themes -->
    <link href="@Url.Content("~/Content/css/devExpress/dx.common.css")">
    <link href="@Url.Content("~/Content/css/devExpress/dx.light.css")">

    <!-- DevExtreme library -->
    <script src="@Url.Content("/Content/js/ckeditor/ckeditor.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/devExpress/dx.all.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/Files.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/Folders.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/GroupUrl.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/Quiz.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/QuizReport.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Forms/Form.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    @*<script src="@Url.Content("~/Content/VLE/js/addons/audio-player.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>*@
    <script src="@Url.Content("~/Content/VLE/js/addons/recorder.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/js/addons/audio-recorder-config.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/mathscribe/jqmath-etc-0.4.6.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        $('#breadcrumbActions').html('');
        localStorage.removeItem("pagerefer");
        var _dataTableLangSettings = {
            "sEmptyTable": translatedResources.noData,
            "sInfo": translatedResources.sInfo,
            "sInfoEmpty": translatedResources.sInfoEmpty,
            "sInfoFiltered": translatedResources.sInfoFiltered,
            "sInfoPostFix": "",
            "sInfoThousands": ",",
            "sLengthMenu": translatedResources.sLengthMenu,
            "sLoadingRecords": "Loading...",
            "sProcessing": "Processing...",
            "sSearch": translatedResources.search,
            "sZeroRecords": translatedResources.sZeroRecords,
            "oPaginate": {
                "sFirst": translatedResources.first,
                "sLast": translatedResources.last,
                "sNext": translatedResources.next,
                "sPrevious": translatedResources.previous
            },
            "oAria": {
                "sSortAscending": translatedResources.sSortAscending,
                "sSortDescending": translatedResources.sSortDescending
            }
        };
        $(function () {

            $("#btnBack").show();

            $(document).on('click', '#btnBack', function () {
                history.back();
            });

            var genderReportData = @(Html.Raw(Json.Encode(dataObj)) );
            var gradeReportData = @(Html.Raw(Json.Encode(Model.GradeWiseReport)) );
            quizReportFunctions.loadGenderWiseReportChart(genderReportData);
            quizReportFunctions.loadGrageWiseReportChart(gradeReportData);

            $("#tbl-QuestionWiseReport").DataTable({ "iDisplayLength": 5, "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]], "oLanguage": _dataTableLangSettings });
            $("#tbl-QuestionWiseReport_length").hide();
            $("#tbl-QuestionWiseReport_filter").hide();
            $("#QuestionWiseReportSearch").on("input", function (e) {
                e.preventDefault();
                $('#tbl-QuestionWiseReport').DataTable().search($(this).val()).draw();
            });

            $("#assignment-assignee-table").DataTable({ "iDisplayLength": 5, "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]], "oLanguage": _dataTableLangSettings });
        });
    </script>
}
