﻿@using Phoenix.Common.Localization

@{
    ViewBag.Title = ResourceManager.GetString("Files.ImageSearch.ImageSearch");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-mydesk.svg");
    var rnd = DateTime.Now.Ticks.ToString();
}
<input type="hidden" id="imgUrl" />
<!-- image search wrapper start -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">@ViewBag.Title</h3>
                <div class="column-padding pt-3 pb-3">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-12 border-right">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <img src="/content/student/img/svg/flickr.svg" class="img-fluid" width="55px"></label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-12 pl-lg-3 mt-4 mt-sm-0">
                            <div class="page-search border-0 mt-3">
                                <div class="row">
                                    <div class="col-lg-10 col-md-10 col-12 mb-2 mb-sm-0">
                                        <div class="search-wrapper pt-3 pb-3">
                                            <i class="fas fa-search active"></i>
                                            <input type="text" id="txtImageSearch" class="search-field" placeholder="@ResourceManager.GetString("Shared.Labels.SearchImages")">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12 text-right">
                                        <button type="button" id="btnSearchImages" class="btn btn-primary btn-block m-0 pt-3 pb-3">@ResourceManager.GetString("Files.ImageSearch.BtnSearch")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- image search wrapper end -->
<!-- search result -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="card min-height">
            <div class="card-body">
                <div id="searchResult" style="display:none;">
                    <h3 class="card-title">@ResourceManager.GetString("Files.ImageSearch.SearchResult") <span class="text-secondary" id="lblSearchTerm"></span></h3>
                    <div class="column-padding pt-3 pb-3" id="divSearch">

                    </div>
                    <div id="pagination" style="display:none;" class="column-padding pt-3 pb-3">
                        <button class="btn btn-primary image-prev"><< @ResourceManager.GetString("Files.ImageSearch.Prev")</button>
                        <button class="btn btn-primary image-next">@ResourceManager.GetString("Files.ImageSearch.Next") >></button>
                    </div>
                </div>
                <div id="noSearch" class="p-3">

                    @ResourceManager.GetString("Files.ImageSearch.PleaseSearchText")
                </div>
            </div>
        </div>
    </div>
</div>
<!-- search result end -->


<!-- update image name modal -->
<div class="modal fade bd-example-modal-sm" id="imageNameSetting" tabindex="-1" role="dialog" aria-labelledby="imageNameSetting" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ResourceManager.GetString("Files.ImageSearch.SaveImageAs")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="popup-form">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="md-form md-outline mb-0">
                                <input type="text" id="imgName" class="form-control mb-0">
                                <label for="imgName">@ResourceManager.GetString("Files.ImageSearch.ImageName") <span class="text-danger">*</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" id="btnSaveFlickrImg" class="btn btn-primary m-0">@ResourceManager.GetString("Files.ImageSearch.SaveImage")</button>
                <button type="button" class="btn btn-outline-primary m-0" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            </div>
        </div>
    </div>
</div>
<!-- update image name modal end -->
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <link href="@Url.Content("~/Content/Student/css/addons/jquery.pajinatify.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/Student/js/addons/jquery.pajinatify.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/ImageSearch/ImageSearch.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
       translatedResources.noimagesfound = '@ResourceManager.GetString("Files.ImageSearch.NoImageFound")';
       translatedResources.providetextmsg = '@ResourceManager.GetString("Files.ImageSearch.ProvideTextMsg")';
       translatedResources.successmsg = '@ResourceManager.GetString("Files.ImageSearch.SuccessMsg")';
       translatedResources.provideimagename = '@ResourceManager.GetString("Files.ImageSearch.ProvideImageName")';
    </script>
}