﻿@model Phoenix.VLE.Web.ViewModels.MyFilesViewModel
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Models
@{
    ViewBag.Title = ResourceManager.GetString("Files.Folder.Lockers");
    var student = (User)ViewBag.Student;
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-vault.svg");
    var rnd = DateTime.Now.Ticks.ToString();
    var isCustomPermission = ViewBag.IsCustomPermission ?? false;
    var Assessmentmodel = (Phoenix.VLE.Web.Models.EditModels.AssessmentModel)ViewBag.Assessmentmodel;
    var selectedstudent = ViewBag.StudentNumber;

}
<style>
    .assessment-report-container .assessment-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: .625rem;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }

    .assessment-report-container .assessment-header .report-count {
        color: #000;
        font-size: .875rem;
        font-weight: 500;
        padding-right: .625rem;
        }

    .assessment-report-container .assessment-header .report-count span {
        font-weight: 700;
        }

    .assessment-report-container .assessment-header .sort-dropdown {
        width: 55%;
        }

    .assessment-report-container .assessment-header .select-label {
        color: #7a7a7a;
        font-size: .875rem;
        font-weight: 600;
        }
        .assessment-report-container .assessment-header .sort-dropdown .dropdown-toggle {
            padding-left: 8.5rem !important;
        }
    /*    @@media (max-width: 575px) {
        .assessment-report-container .assessment-header .sort-dropdown .dropdown-toggle {
            padding-left: 8.5rem !important;
        }
    }*/
</style>
<div class="row">
    <!--left column-->
    <div class="col-lg-12 col-md-12 col-12">
        <!--search section-->
        <div class="row search-row">
            <div class="align-items-center col-12 d-flex flex-column flex-sm-nowrap flex-sm-row flex-wrap justify-content-between">
                <div class="user-avatar mb-sm-0 mb-2 w-100 w-sm-auto">
                    @if (SessionHelper.CurrentSession.IsTeacher())
                    {
                        <figure class="m-0 d-flex align-items-center float-left active">
                            <a href="#" class="rounded-circle student-vault overflow-hidden">
                                @{
                                    string profilePhoto = SessionHelper.CurrentSession.IsTeacher() ? (string.IsNullOrEmpty(student.ProfilePhoto) ? "/content/VLE/img/avatar-1.jpg" : Constants.StudentImagesPath + student.ProfilePhoto) : SessionHelper.CurrentSession.IsParent() ? PhoenixConfiguration.Instance.ReadFilePath + Constants.ParentProfilePath + SessionHelper.CurrentSession.CurrentSelectedStudent.StudentImage : Constants.StudentImagesPath + SessionHelper.CurrentSession.ProfilePhoto;

                                }
                                <img src="@profilePhoto" class="img-fluid defaultAvatar" alt="@student.UserDisplayName">
                            </a>
                            <figcaption class="text-medium ml-2 position-relative d-lg-inline-block">
                                @student.UserDisplayName
                                @ResourceManager.GetString("Files.Folder.Lockers")
                            </figcaption>
                        </figure>
                    }
                </div>
                <div class="filter-content d-sm-flex w-100 w-sm-auto justify-content-end">
                    <div class="search-with-bg border mb-sm-0 mb-2">
                        <span class="icon-search"></span>
                        <input type="search" id="search-myfiles" class="searchfield" placeholder="@ResourceManager.GetString("Files.File.SearchFilesFolders")">
                    </div>
                    <div class="md-form md-outline sort-dropdown mb-sm-0 mb-2 ml-sm-2 ml-0">
                        <label class="select-label">@ResourceManager.GetString("Files.Shared.SortBy").ToUpper():&nbsp; </label>
                        <select class="selectpicker" id="ddlFilesSort">
                            <option value="NameAsc" selected>@ResourceManager.GetString("Files.Shared.NameAsc")</option>
                            <option value="NameDesc">@ResourceManager.GetString("Files.Shared.NameDesc")</option>
                            <option value="DateAsc">@ResourceManager.GetString("Files.Shared.DateAsc")</option>
                            <option value="DateDesc">@ResourceManager.GetString("Files.Shared.DateDesc")</option>
                            <option value="Type">@ResourceManager.GetString("Shared.Labels.Type")</option>
                            <option value="items/size">@ResourceManager.GetString("Files.File.ItemSize")</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!--search section end-->
        <!--file grid-->
        <div id="user-files-view">
            @{ Html.RenderPartial("_MyFiles", Model); }
        </div>

        <!--file grid end-->
        @*Add file folder*@
        @if (isCustomPermission)
        {
            <nav class="cd-stretchy-nav position-fixed">
                <a class="cd-nav-trigger" href="javascript:;">
                    Menu
                    <span aria-hidden="true"></span>
                </a>
                <ul>
                    <li data-toggle="tooltip" data-placement="left" title="@ResourceManager.GetString("Files.File.OneDrive")">
                        <a href="javascript:void(0)" data-title="@ResourceManager.GetString("Files.File.OneDriveFiles")" class="one-drive-file cloud-file-view file-explorer" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.OneDrive)">
                            <span>
                                <i class="flaticon-one-drive text-white"></i>
                            </span>
                        </a>
                    </li>
                    @if (SessionHelper.CurrentSession.GoogleDriveIntegrationType != (short)Phoenix.Common.Enums.GoogleDriveIntegrationType.None)
                    {
                        <li data-toggle="tooltip" data-placement="left" title="@ResourceManager.GetString("Files.File.GoogleDrive")">
                            <a href="javascript:void(0)" data-title="@ResourceManager.GetString("Files.File.GoogleDriveFiles")" class="google-drive-file cloud-file-view file-explorer" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.GoogleDrive)">
                                <span>
                                    <i class="flaticon-google-drive text-white"></i>
                                </span>
                            </a>
                        </li>
                    }
                    <li data-toggle="tooltip" data-placement="left" title="@ResourceManager.GetString("Files.Folder.Folder")">
                        <a href="javascript:;" id="btnAddFolder">
                            <span>
                                <i class="fas fa-folder  text-white font-16"></i>
                            </span>
                        </a>
                    </li>
                    <li data-toggle="tooltip" data-placement="left" title="@ResourceManager.GetString("Files.File.File")">
                        <a href="javascript:;" data-toggle="modal" data-target="#fileUploadModal">
                            <span>
                                <i class="fas fa-file text-white font-16"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <span aria-hidden="true" class="stretchy-nav-bg"></span>
            </nav>
        }
    </div>

</div>
@*Assesment View*@
<div class="row">
    <input type="hidden" value=@selectedstudent id="getstudid">
    <div class="col-lg-12 col-md-12 col-12 assessment-report-container tabPanels">
        <div class="row" style="margin-right: -20px;margin-left: -20px;">
            <div class="col-lg-12 col-md-12 col-12" id="divpdfInfoModellist">
                @Html.Partial("_PdfInfoPartialView", Assessmentmodel)
            </div>
        </div>
    </div>
</div>

@if (isCustomPermission)
{
    Html.RenderPartial("~/Areas/Files/Views/Shared/_AddEditFile.cshtml");
}

<!-- file upload drawer end -->
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{
    <script language="javascript">
        translatedResources.filetitle = '@ResourceManager.GetString("Files.File.Title")';
        translatedResources.filename = '@ResourceManager.GetString("Files.File.FileName")';
        translatedResources.filepath = '@ResourceManager.GetString("Files.File.FilePath")';
        translatedResources.foldertitle = '@ResourceManager.GetString("Files.Folder.Title")';
        translatedResources.foldername = '@ResourceManager.GetString("Files.Folder.FolderName")';
        translatedResources.clipboard = '@ResourceManager.GetString("Files.File.Clipboard")';
        translatedResources.FileUploaded = '@ResourceManager.GetString("Shared.Messages.FileUploaded")';
        translatedResources.View = '@ResourceManager.GetString("Shared.Buttons.View")';
        translatedResources.customPermission=@(isCustomPermission ? "true" : "false");
        translatedResources.copy = '@ResourceManager.GetString("Shared.Buttons.Copy")';
        translatedResources.delete = '@ResourceManager.GetString("Shared.Buttons.Delete")';
        translatedResources.selectFileMsg = '@ResourceManager.GetString("Shared.Messages.fileNoFileChosenMessage")';
        translatedResources.renameFile = '@ResourceManager.GetString("Files.File.RenameFile")';
        translatedResources.Removed = '@ResourceManager.GetString("Files.File.Removed")';
        translatedResources.Copied = '@ResourceManager.GetString("Files.File.Copied")';
        translatedResources.deleteConfirm = '@ResourceManager.GetString("Files.File.DeleteConfirmFile")';
    </script>

    <script src="@Url.Content("~/Content/js/custom/Files/Files.js?v ="+@ResourceManager.GetString(" Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/Folders.js?v ="+@ResourceManager.GetString(" Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/Common/FileDownloader.js?v ="+@ResourceManager.GetString(" Shared.Version.Js"))"></script>

    <script type="text/javascript">
        $(function () {
            globalFunctions.enableCheckboxCascade(".chkSelectMyFiles", ".chkFileFolder");
            globalFunctions.enableCheckboxCascade(".chkSelectMyFilesList", ".chkFileFolderList");
            $('#list').click(function (event) {
                event.preventDefault();
                $('#library .item').addClass('list-group-item');
                 $('#library .item').removeClass('grid-group-item');
                $(this).toggleClass('active');
                $("#grid").removeClass('active');
                globalFunctions.setCookie("selectedView", "0", 1);
                addCustomScrollbar();
            });

            $('#grid').click(function (event) {
                event.preventDefault();
                $('#library .item').removeClass('list-group-item');
                $('#library .item').addClass('grid-group-item');
                $(this).toggleClass('active');
                $("#list").removeClass('active');
                globalFunctions.setCookie("selectedView", "1", 1);
                addCustomScrollbar();
            });




            $("#postedFile").fileinput({
                language:'@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()',
                title: '@ResourceManager.GetString("Shared.Labels.BrowseFile")',
                theme: "fas",
                showRemove: false,
                showUpload: true,
                showCaption: false,
                showMultipleNames: false,
                minFileCount: 1,
                maxFileCount: 10,
                uploadUrl: "/Files/Files/SaveFileData",
                uploadExtraData: function () {
                    return {
                        __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                        moduleId: $("#ModuleId").val(),
                        parentFolderId: $("#ParentFolderId").val(),
                        sectId: $("#SectionId").val(),
                        isAddMode: $("#IsAddMode").val()
                    };
                },
                fileActionSettings: {
                    showZoom: false,
                    showUpload: false,
                    //indicatorNew: "",
                    showDrag: false
                },
                allowedFileExtensions: @Html.Raw(Json.Encode(ViewBag.FileExtension)),
                uploadAsync: true,
                maxFileSize: translatedResources.fileSizeAllow,
                browseClass: "btn btn-outline-primary rounded z-depth-0 m-0 p-0 mt-3 btn-browse",
                //removeClass: "btn btn-sm m-0 z-depth-0",
                uploadClass: "btn btn-primary rounded z-depth-0 m-0 p-0 mt-3 btn-upload",
                cancelClass: "btn btn-default float-right rounded z-depth-0 m-0 p-0 mt-3 btn-cancel",
                overwriteInitial: false,
                initialPreviewAsData: true, // defaults markup
                initialPreviewConfig: [{
                    frameAttr: {
                        title: 'My Custom Title',
                    }
                }],
                preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
                previewFileIconSettings: fileInputControlSettings.previewFileIconSettings,
                previewSettings: fileInputControlSettings.previewSettings,
                previewFileExtSettings: fileInputControlSettings.previewFileExtSettings,
                msgSizeTooLarge: 'Total File size (<b>{size}</b>) exceeds maximum allowed upload size of <b>{maxSize}</b>. Please retry your upload!'
            }).off('filebatchselected').on('filebatchselected', function (event, files) {
                var size = 0;
                $.each(files, function (ind, val) {
                    //console.log($(this).attr('size'));
                    size = size + $(this).attr('size');
                });

                var maxFileSize = $(this).data().fileinput.maxFileSize,
                    msg = $(this).data().fileinput.msgSizeTooLarge,
                    formatSize = (s) => {
                        i = Math.floor(Math.log(s) / Math.log(1024));
                        sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
                        out = (s / Math.pow(1024, i)).toFixed(2) * 1 + ' ' + sizes[i];
                        return out;
                    };

                if ((size / 1024) > maxFileSize) {
                    msg = msg.replace('{name}', 'all files');
                    msg = msg.replace('{size}', formatSize(size));
                    msg = msg.replace('{maxSize}', formatSize(maxFileSize * 1024 /* Convert KB to Bytes */));
                    //$('li[data-thumb-id="thumb-postedFile-0"]').html(msg);
                    if (files.length > 1) {
                        $(".kv-fileinput-error.file-error-message").html('');
                        $(".kv-fileinput-error.file-error-message").append(`<button type="button" class="close kv-error-close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button><ul><li data-thumb-id="thumb-error" data-file-id="thumb-error">`+ msg + `</li></ul>`).attr("style", "");
                        $(".close.kv-error-close").on('click', function (e) {
                            $(".kv-fileinput-error.file-error-message").attr("style", "display:none").html('');
                            //$(".fileinput-upload").removeClass('d-none');
                        });
                    }
                    else {
                        $(".kv-fileinput-error.file-error-message").html('');
                        $(".kv-fileinput-error.file-error-message").append(`<button type="button" class="close kv-error-close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button><ul><li data-thumb-id="thumb-error" data-file-id="thumb-error">`+ msg + `</li></ul>`).attr("style", "");
                        $(".close.kv-error-close").on('click', function (e) {
                            $(".kv-fileinput-error.file-error-message").attr("style", "display:none").html('');
                            //$(".fileinput-upload").removeClass('d-none');
                        });
                    }

                    $(".fileinput-upload").attr('disabled', true);
                }
            }).off('filebatchuploadcomplete').on('filebatchuploadcomplete', function (event, data, previewId, index) {
                $('#postedFile').fileinput('clear');
                folder.navigateToFolder();
                $('#fileUploadModal').modal('hide');
            });
        });
        function SortBy(sortBy) {
            folder.loadfolderGridSortBy(sortBy);
            files.loadfileGridSortBy(sortBy);
        }
    </script>

}



