﻿@model IEnumerable<Phoenix.VLE.Web.EditModels.QuizQuestionsEdit>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.VLE.Web.EditModels
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.VLE.Web

@{
    var rnd = DateTime.Now.Ticks.ToString();
    QuizEdit objQuiz = new QuizEdit();
    bool IsView = false;
    List<QuizQuestionsEdit> objQuizDetails = new List<QuizQuestionsEdit>();
    Phoenix.Models.QuizResult quizResponseList = new Phoenix.Models.QuizResult();
    var ResourceId = 0;

    if (ViewBag.Quiz != null)
    {
        objQuiz = (QuizEdit)ViewBag.Quiz;
    }
    if (ViewBag.QuizDetails != null)
    {
        objQuizDetails = (List<QuizQuestionsEdit>)ViewBag.QuizDetails;

    }
    if (ViewBag.QuizResponse != null)
    {
        quizResponseList = (Phoenix.Models.QuizResult)ViewBag.QuizResponse;
    }
    if (ViewBag.ResourceId != null)
    {
        ResourceId = Convert.ToInt32(ViewBag.ResourceId);
    }
    if (ViewBag.IsView != null)
    {
        IsView = Convert.ToBoolean(ViewBag.IsView);
    }
    var totalMarks = 0;
    foreach (var item in objQuizDetails)
    {
        totalMarks = totalMarks + item.Marks;
    }
    int i = 1;
    var IsSubmit = false;
    var MTPEachQuesMarks = 0.0;
    var MTPQuestionId = 0;
    var strHr = ResourceManager.GetString("Shared.Messages.Hours");
    var strMin = ResourceManager.GetString("Shared.Messages.Minutes");
    var strSec = ResourceManager.GetString("Shared.Messages.Seconds");
    var strMinHr = ResourceManager.GetString("Shared.Messages.MinutesHr");
    var strQuizTimeOut = ResourceManager.GetString("Quiz.Quiz.QuizTimeOut");
}
<link href="~/Content/VLE/mathscribe/jqmath-0.4.3.css" rel="stylesheet" />
@Html.Hidden("IsSetTime", objQuiz.IsSetTime)
@Html.Hidden("PaginationCount", objQuiz.QuestionPaginationRange == 0 ? 5 : objQuiz.QuestionPaginationRange)
@Html.Hidden("TotalPages")
@Html.Hidden("QuizTime", objQuiz.QuizTime)
@Html.Hidden("IsStudent", SessionHelper.CurrentSession.IsStudent() ? true : false)
@Html.Hidden("GroupId", EncryptDecryptHelper.EncryptUrl(objQuiz.GroupId.ToString()))
@Html.Hidden("IsLogAnswer", objQuiz.IsLogAnswer)
@*Delete from here*@
@Html.Hidden("ShowScoreDate", Convert.ToDateTime(Convert.ToDateTime(objQuiz.ShowScoreDate).ConvertUtcToLocalTime()).Date)
@Html.Hidden("DateTimeNow", DateTime.Now.Date)
@Html.Hidden("Condition", Convert.ToDateTime(Convert.ToDateTime(objQuiz.ShowScoreDate).ConvertUtcToLocalTime()).Date <= DateTime.Now.Date)
<div id="quiz" class="row">

    @if (objQuizDetails.Any())
    {
        IsSubmit = SessionHelper.CurrentSession.IsParent() || SessionHelper.CurrentSession.IsTeacher() ? false : ((quizResponseList.SubmitAttempt < objQuiz.MaxSubmit) && quizResponseList.QuizResponseByTeacherId == 0);
        string IsViewClass = IsView ? "disabled" : (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin) && quizResponseList.QuizResponseByUserId == 0 ? "disabled" : "";
        var showScore = true;
        if (objQuiz.IsHideScore)
        {
            if (Convert.ToDateTime(Convert.ToDateTime(objQuiz.ShowScoreDate).ConvertUtcToLocalTime()).Date <= DateTime.Now.Date)
            {
                showScore = true;
            }
            else
            {
                showScore = false;
            }
        }
        showScore = SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin ? true : showScore;
        <input type="hidden" id="hdnIsTeacher" name="hdnIsTeacher" value="@(SessionHelper.CurrentSession.IsTeacher() ? 1 : 0)" />
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="title-with-fields">
                                <h3 class="card-title">
                                    @ResourceManager.GetString("Quiz.Quiz.Quiz"): @objQuiz.QuizName

                                    @if (quizResponseList.ResponseQuestionAnswer.Any())
                                    {
                                        if (((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0) && showScore)
                                        {

                                            if (quizResponseList.TimeTaken != 0)
                                            {
                                                TimeSpan QuizTime = TimeSpan.FromMinutes(objQuiz.QuizTime);
                                                string QuizTotalTime = String.Empty;
                                                if (QuizTime.Hours == 0)
                                                {
                                                    QuizTotalTime = string.Format(strMinHr, (int)QuizTime.Minutes, QuizTime.Seconds);
                                                }
                                                else
                                                {
                                                    QuizTotalTime = string.Format(strHr, (int)QuizTime.TotalHours, QuizTime.Minutes);
                                                }

                                                TimeSpan timeTaken = TimeSpan.FromSeconds(quizResponseList.TimeTaken);
                                                string Time = String.Empty;
                                                if (timeTaken.Hours == 0)
                                                {
                                                    Time = (int)timeTaken.Minutes >= objQuiz.QuizTime ? strQuizTimeOut : string.Format(strMinHr, (int)timeTaken.Minutes, timeTaken.Seconds);
                                                }
                                                else
                                                {
                                                    Time = (int)timeTaken.Minutes >= objQuiz.QuizTime ? strQuizTimeOut : string.Format(strHr, (int)timeTaken.TotalHours, timeTaken.Minutes);
                                                }

                                                var timeTakenToSolve = quizResponseList.TimeTaken < 60 ? string.Format(strSec, quizResponseList.TimeTaken.ToString()) : Time;
                                                var ActualTime = String.Empty;
                                                if (timeTakenToSolve == strQuizTimeOut)
                                                {
                                                    ActualTime = timeTakenToSolve;
                                                }
                                                else
                                                {
                                                    ActualTime = timeTakenToSolve + " / " + QuizTotalTime;
                                                }
                                                <span class="ml-2 quiz-score d-none d-md-inline-block">
                                                    <span>@ResourceManager.GetString("Quiz.Quiz.TimeTaken")</span> @ActualTime
                                                </span>
                                            }
                                            <span class="ml-2 quiz-score d-none d-md-inline-block">
                                                <span>@ResourceManager.GetString("Quiz.Quiz.Score")</span> @Math.Round(quizResponseList.QuizMarks, 2)/ @totalMarks
                                            </span>
                                        }

                                    }
                                    else if (quizResponseList.SubmitAttempt == objQuiz.MaxSubmit)
                                    {
                                        if (quizResponseList.TimeTaken != 0)
                                        {
                                            TimeSpan QuizTime = TimeSpan.FromMinutes(objQuiz.QuizTime);
                                            string QuizTotalTime = String.Empty;
                                            if (QuizTime.Hours == 0)
                                            {
                                                QuizTotalTime = string.Format(strMinHr, (int)QuizTime.Minutes, QuizTime.Seconds);
                                            }
                                            else
                                            {
                                                QuizTotalTime = string.Format(strHr, (int)QuizTime.TotalHours, QuizTime.Minutes);
                                            }

                                            TimeSpan timeTaken = TimeSpan.FromSeconds(quizResponseList.TimeTaken);
                                            string Time = String.Empty;
                                            if (timeTaken.Hours == 0)
                                            {
                                                Time = (int)timeTaken.Minutes >= objQuiz.QuizTime ? strQuizTimeOut : string.Format(strMinHr, (int)timeTaken.Minutes, timeTaken.Seconds);
                                            }
                                            else
                                            {
                                                Time = (int)timeTaken.Minutes >= objQuiz.QuizTime ? strQuizTimeOut : string.Format(strHr, (int)timeTaken.TotalHours, timeTaken.Minutes);
                                            }

                                            var timeTakenToSolve = quizResponseList.TimeTaken < 60 ? string.Format(strSec, quizResponseList.TimeTaken.ToString()) : Time;
                                            var ActualTime = String.Empty;
                                            if (timeTakenToSolve == strQuizTimeOut)
                                            {
                                                ActualTime = timeTakenToSolve;
                                            }
                                            else
                                            {
                                                ActualTime = timeTakenToSolve + " / " + QuizTotalTime;
                                            }
                                            <span class="ml-2 quiz-score d-none d-md-inline-block">
                                                <span>@ResourceManager.GetString("Quiz.Quiz.TimeTaken")</span> @ActualTime
                                            </span>
                                        }
                                        <span class="ml-2 quiz-score d-none d-md-inline-block">
                                            <span>@ResourceManager.GetString("Quiz.Quiz.Score")</span> 0 / @totalMarks
                                        </span>
                                    }


                                </h3>

                                @if (quizResponseList.QuizResponseByTeacherId > 0 && showScore)
                                {
                                    if (quizResponseList.GradeId.HasValue)
                                    {
                                        if (!quizResponseList.GradingTemplateItemSymbol.Contains(".png"))
                                        {
                                            <span id="gradingDiv">
                                                <span class="text-medium">Grade: </span>
                                                <h2 class="m-0 text-bold" style="color:@quizResponseList.GradingColor">@quizResponseList.ShortLabel</h2>
                                            </span>
                                        }
                                        else
                                        {
                                            <span id="gradingDiv" class="float-right ml-3">
                                                <span class="text-medium">Grade: </span>
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="@quizResponseList.ShortLabel" data-title="@quizResponseList.ShortLabel" data-placement="top" class="ml-2">
                                                    <img class="img-fluid" style="height:70%;" src="@quizResponseList.GradingTemplateItemSymbol" />
                                                </a>
                                            </span>
                                        }
                                    }
                                }
                            </div>
                            @if (objQuiz.lstDocuments.Any())
                            {
                                <ul id="existRecordingslist" class="align-items-center d-flex flex-wrap mt-3 column-padding">
                                    @foreach (var item in objQuiz.lstDocuments)
                                    {
                                        if (item.FileName.ToLower().Contains(".wav"))
                                        {
                                            var recordingFilePath = PhoenixConfiguration.Instance.ReadFilePath + item.FilePath;
                                            <li id="audio_@item.QuizFileId" class="align-items-center d-flex mb-2 mr-2">
                                                <audio controls="" src="@recordingFilePath"></audio>
                                            </li>
                                        }
                                    }
                                </ul>
                                <div id="quizFileList">
                                    <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
                                        @Html.Partial("_QuizFileList", objQuiz.lstDocuments == null ? new List<Phoenix.Models.QuizFile>() : objQuiz.lstDocuments)
                                    </div>
                                </div>

                            }
                            @if ((!String.IsNullOrEmpty(quizResponseList.Feedback) || quizResponseList.QuizFeedbacks.Any()) && showScore)
                            {
                                <div class="column-padding mx-3 my-3 pb-3 pt-3" style="background-color: #efefef;">
                                    <div class="col-lg-12 col-md-12 col-12 pb-2 border-bottom">
                                        <h4 class="sub-heading text-black-50">@ResourceManager.GetString("Quiz.Quiz.FeedbackFrom") <strong>@quizResponseList.TeacherName</strong></h4>
                                        <p class="m-0"> @Html.Raw(quizResponseList.Feedback) </p>
                                    </div>
                                    <div class="bg-white col-12 col-lg-12 col-md-12 rounded-6x">
                                        @if (quizResponseList.QuizFeedbacks.Any())
                                        {
                                            <ul id="recordingslist" class="align-items-center d-flex flex-wrap mr-2 mt-3 pb-2 pt-3">
                                                @foreach (var item in quizResponseList.QuizFeedbacks)
                                                {
                                                    var recordingFilePath = PhoenixConfiguration.Instance.ReadFilePath + item.FilePath;
                                                    <li class="mr-2">
                                                        <audio controls="" src="@recordingFilePath"></audio>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                </div>
                            }
                            @{ var quzResultID = quizResponseList.QuizResultId; }
                            <input type='hidden' id="QuizId" value="@objQuizDetails.FirstOrDefault().QuizId">
                            <input type='hidden' id="QuizResultId" value="@quzResultID">
                            <input type="hidden" id="QuizAnswerSortOrder">
                            <input type='hidden' id="StudentId" value="0">
                            <input type='hidden' id="ResourceId" value="@ResourceId">
                            <input type='hidden' id="EncrQuizId" value="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(objQuiz.QuizId))">
                            <input type='hidden' id="EncrResourceId" value="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(ResourceId))">
                            <div class="row bg-light ml-0 mr-0 column-padding">
                                <div class="col-xl-11 col-lg-10 col-md-10 col-10">
                                    <span class="mt-1 mb-1 pl-2 quiz-score d-inline-block d-md-none">
                                        @if (quizResponseList.ResponseQuestionAnswer.Any())
                                        {
                                            if (((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0) && showScore)
                                            {
                                                <lable>@ResourceManager.GetString("Quiz.Quiz.Score")</lable> <strong class="ml-2">@quizResponseList.QuizMarks/@quizResponseList.TotalMarks</strong>
                                            }

                                        }
                                        else if (quizResponseList.SubmitAttempt == objQuiz.MaxSubmit)
                                        {
                                            <lable>@ResourceManager.GetString("Quiz.Quiz.Score")</lable> <strong class="ml-2">0 / @totalMarks</strong>
                                        }

                                    </span>
                                </div>
                                <div class="col-xl-1 col-lg-2 col-md-2 col-2"><h4 class="sub-heading text-dark mb-2 mt-2 text-uppercase text-center"><small class="text-medium">@ResourceManager.GetString("Quiz.Quiz.Score")</small></h4></div>

                            </div>
                            <div class="list-of-posts">
                                <div class="quiz-wrapper column-padding pt-3">
                                    @{ int countValue = 1;}
                                    @foreach (var quizQuestion in objQuizDetails)
                                    {
                                        <div class="post">
                                            <div class="row">
                                                <div class="col-xl-11 col-lg-10 col-md-10 col-10">
                                                    @if (quizQuestion.QuestionTypeId == 6)
                                                    {
                                                        string question = String.Empty;
                                                        var CorrectAnswerCount = 0;
                                                        foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                        {
                                                            CorrectAnswerCount++;
                                                        }
                                                        var EachQuesMarks = (float)quizQuestion.Marks / CorrectAnswerCount;
                                                        int count = quizQuestion.QuestionText.Count(f => f == '[');
                                                        string[] r = quizQuestion.QuestionText.Contains(' ') ? quizQuestion.QuestionText.Split(' ') : quizQuestion.QuestionText.Split('.');
                                                        foreach (var item in r)
                                                        {
                                                            //if (item.Contains("[blank_space_") && item.Contains("]"))
                                                            //{
                                                            //    int pFrom = item.IndexOf("[blank_space_") + "[blank_space_".Length;
                                                            //    int pTo = item.LastIndexOf("]");
                                                            //    int optionNumber = Convert.ToInt32(item.Substring(pFrom, pTo - pFrom));
                                                            //    var answer = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.AnswerText).FirstOrDefault();
                                                            //    var answerId = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.QuizAnswerId).FirstOrDefault();
                                                            //    var userAnswer = quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizAnswerId == answerId).Select(a => a.QuizAnswerText).FirstOrDefault();
                                                            //    var objClass = IsSubmit ? "fibFreetext" : "fibFreetext disabled";
                                                            //    quizQuestion.QuestionText = quizQuestion.QuestionText.Replace(item, "<input type='text'  class='" + objClass + "' data-f='" + answer + "' data-marks='" + EachQuesMarks + "' data-answerid='" + answerId + "' data-questionid='" + quizQuestion.QuizQuestionId + "' data-sortorder='" + optionNumber + "' value='" + userAnswer + "'  id='" + optionNumber + "'>");
                                                            //}
                                                            if (item.Contains("[blank_space_") && item.Contains("]"))
                                                            {
                                                                int pfFrom = item.IndexOf("[");
                                                                int pfTo = item.LastIndexOf("]");
                                                                if (pfTo + 1 == item.Length)
                                                                {
                                                                    int pFrom = item.IndexOf("[blank_space_") + "[blank_space_".Length;
                                                                    int pTo = item.LastIndexOf("]");
                                                                    int optionNumber = Convert.ToInt32(item.Substring(pFrom, pTo - pFrom));
                                                                    var answer = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.AnswerText).FirstOrDefault();
                                                                    var answerId = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.QuizAnswerId).FirstOrDefault();
                                                                    var userAnswer = quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizAnswerId == answerId).Select(a => a.QuizAnswerText).FirstOrDefault();
                                                                    var objClass = IsSubmit ? "fibFreetext" : "fibFreetext disabled";
                                                                    quizQuestion.QuestionText = quizQuestion.QuestionText.Replace(item, "<input type='text'  class='" + objClass + "' data-f='" + answer + "' data-marks='" + EachQuesMarks + "' data-answerid='" + answerId + "' data-questionid='" + quizQuestion.QuizQuestionId + "' data-sortorder='" + optionNumber + "' value='" + userAnswer + "'  id='" + optionNumber + "'>");
                                                                }
                                                                else
                                                                {
                                                                    int pFrom = item.IndexOf("[blank_space_") + "[blank_space_".Length;
                                                                    int pTo = item.LastIndexOf("]");
                                                                    int optionNumber = Convert.ToInt32(item.Substring(pFrom, pTo - pFrom));
                                                                    var answer = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.AnswerText).FirstOrDefault();
                                                                    var answerId = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.QuizAnswerId).FirstOrDefault();
                                                                    var userAnswer = quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizAnswerId == answerId).Select(a => a.QuizAnswerText).FirstOrDefault();
                                                                    var objClass = IsSubmit ? "fibFreetext" : "fibFreetext disabled";
                                                                    string subStr = item.Substring(pfFrom, pfTo + 1);
                                                                    //item.QuestionText = item.QuestionText.Replace(subStr, "___________");
                                                                    quizQuestion.QuestionText = quizQuestion.QuestionText.Replace(subStr, "<input type='text'  class='" + objClass + "' data-f='" + answer + "' data-marks='" + EachQuesMarks + "' data-answerid='" + answerId + "' data-questionid='" + quizQuestion.QuizQuestionId + "' data-sortorder='" + optionNumber + "' value='" + userAnswer + "'  id='" + optionNumber + "'>");

                                                                }
                                                            }

                                                        }
                                                        <h6 class="text-regular">

                                                            @i]    @Html.Raw(quizQuestion.QuestionText.Replace(System.Environment.NewLine, "<br />"))
                                                            <span class="text-danger">
                                                                @(quizQuestion.IsRequired ? "*" : "")
                                                            </span>
                                                        </h6>
                                                    }
                                                    else
                                                    {
                                                        <h6 class="text-regular">
                                                            @i]    @Html.Raw(quizQuestion.QuestionText.Replace(System.Environment.NewLine, "<br />"))
                                                            <span class="text-danger">
                                                                @(quizQuestion.IsRequired ? "*" : "")
                                                            </span>
                                                        </h6>
                                                    }
                                                    @if (!string.IsNullOrWhiteSpace(quizQuestion.QuestionImagePath))
                                                    {
                                                        var quizQuesImage = PhoenixConfiguration.Instance.ReadFilePath + quizQuestion.QuestionImagePath;
                                                        <img class="img-fluid" src="@quizQuesImage " alt="">
                                                    }


                                                    <div class="answers mb-2 mt-3">
                                                        @if (quizQuestion.QuestionTypeId == 1)
                                                        {
                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                            foreach (var answersData in quizQuestion.Answers)
                                                            {
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" class="@(IsSubmit ? "custom-control-input" : "custom-control-input disabled")" id="@("radio" + answersData.QuizAnswerId)" name="selectedAnswer[@quizQuestion.QuizQuestionId]" data-marks="@(answersData.IsCorrectAnswer ? quizQuestion.Marks : 0)" data-answerid="@answersData.QuizAnswerId"
                                                                           data-questionid="@quizQuestion.QuizQuestionId" @(quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizAnswerId == answersData.QuizAnswerId).Any() ? "checked" : "" )>
                                                                    <label class="@(IsSubmit ? "custom-control-label" : "custom-control-label disabled")" for="@("radio" + answersData.QuizAnswerId)">@answersData.AnswerText</label>
                                                                </div>
                                                            }
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <ul id="existRecordingslist" class="align-items-center d-flex flex-wrap mt-0">
                                                                    @foreach (var item in quizQuestion.lstDocuments)
                                                                    {
                                                                        if (item.FileName.ToLower().Contains(".wav"))
                                                                        {
                                                                            var recordingFilePath = PhoenixConfiguration.Instance.ReadFilePath + item.FilePath;
                                                                            <li id="audio_@item.QuizQuestionFileId" class="align-items-center d-flex mb-2 mr-2">
                                                                                <audio controls="" src="@recordingFilePath"></audio>
                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>
                                                                @*<div id="library" class="row view-group mt-3">
                                                                    <div class="item col-xl-12 col-lg-12 col-md-12 col-12">*@
                                                                <div id="fileList">
                                                                    @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                                </div>
                                                                @*</div>
                                                                    </div>*@
                                                            }
                                                            if (((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0) && showScore)
                                                            {
                                                                var AnswerTextList = new List<string>();
                                                                foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                                {
                                                                    AnswerTextList.Add(answersData.AnswerText);
                                                                }
                                                                <p>@ResourceManager.GetString("Quiz.Quiz.CorrectAnswer") <span class="text-success">@string.Join(",", AnswerTextList)</span></p>
                                                            }

                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 2)
                                                        {
                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                            <div class="col-lg-4 col-md-3 col-12">
                                                                <div class="md-form md-outline">
                                                                    @Html.DropDownList("AnswerId", new SelectList(quizQuestion.Answers, "QuizAnswerId", "AnswerText", quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).FirstOrDefault().QuizAnswerId), ResourceManager.GetString("Shared.Labels.Select"), new { @class = IsSubmit ? "selectpicker" : "selectpicker disabled", @name = string.Format("selectedAnswer[{0}]", quizQuestion.QuizQuestionId), data_questionid = quizQuestion.QuizQuestionId, data_marks = quizQuestion.Marks })
                                                                </div>
                                                            </div>
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <ul id="existRecordingslist" class="align-items-center d-flex flex-wrap mt-0">
                                                                    @foreach (var item in quizQuestion.lstDocuments)
                                                                    {
                                                                        if (item.FileName.ToLower().Contains(".wav"))
                                                                        {
                                                                            var recordingFilePath = PhoenixConfiguration.Instance.ReadFilePath + item.FilePath;
                                                                            <li id="audio_@item.QuizQuestionFileId" class="align-items-center d-flex mb-2 mr-2">
                                                                                <audio controls="" src="@recordingFilePath"></audio>
                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>
                                                                @*<div id="library" class="row view-group mt-3">
                                                                    <div class="item col-xl-12 col-lg-12 col-md-12 col-12">*@
                                                                <div id="fileList">
                                                                    @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                                </div>
                                                                @*</div>
                                                                    </div>*@
                                                            }
                                                            if (((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0) && showScore)
                                                            {
                                                                var AnswerTextList = new List<string>();
                                                                foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                                {
                                                                    AnswerTextList.Add(answersData.AnswerText);
                                                                }
                                                                <p>@ResourceManager.GetString("Quiz.Quiz.CorrectAnswer") <span class="text-success">@string.Join(",", AnswerTextList)</span></p>
                                                            }
                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 3)
                                                        {
                                                            var CorrectAnswerCount = 0;
                                                            foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                            {
                                                                CorrectAnswerCount++;
                                                            }
                                                            <input type="hidden" id="hidden_@quizQuestion.QuizQuestionId" data-correctcount="@CorrectAnswerCount" />
                                                            var EachQuesMarks = (float)quizQuestion.Marks / CorrectAnswerCount;
                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">

                                                            foreach (var answersData in quizQuestion.Answers)
                                                            {
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="@(IsSubmit ? "custom-control-input" : "custom-control-input disabled")" id="@("chkbox" + answersData.QuizAnswerId)" data-marks="@(answersData.IsCorrectAnswer ? EachQuesMarks : 0)" data-answerid="@answersData.QuizAnswerId" data-questionid="@quizQuestion.QuizQuestionId"
                                                                           @(quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizAnswerId == answersData.QuizAnswerId).Any() ? "checked" : "" )>
                                                                    <label class="@(IsSubmit ? "custom-control-label" : "custom-control-label disabled")" for="@("chkbox" + answersData.QuizAnswerId)">@answersData.AnswerText</label>
                                                                </div>
                                                            }
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <ul id="existRecordingslist" class="align-items-center d-flex flex-wrap mt-0">
                                                                    @foreach (var item in quizQuestion.lstDocuments)
                                                                    {
                                                                        if (item.FileName.ToLower().Contains(".wav"))
                                                                        {
                                                                            var recordingFilePath = PhoenixConfiguration.Instance.ReadFilePath + item.FilePath;
                                                                            <li id="audio_@item.QuizQuestionFileId" class="align-items-center d-flex mb-2 mr-2">
                                                                                <audio controls="" src="@recordingFilePath"></audio>
                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>
                                                                @*<div id="library" class="row view-group mt-3">
                                                                    <div class="item col-xl-12 col-lg-12 col-md-12 col-12">*@
                                                                <div id="fileList">
                                                                    @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                                </div>
                                                                @*</div>
                                                                    </div>*@
                                                            }
                                                            if (((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0) && showScore)
                                                            {
                                                                var AnswerTextList = new List<string>();
                                                                foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                                {
                                                                    AnswerTextList.Add(answersData.AnswerText);
                                                                }
                                                                <p>@ResourceManager.GetString("Quiz.Quiz.CorrectAnswer") <span class="text-success">@string.Join(",", AnswerTextList)</span></p>
                                                            }
                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 4)
                                                        {
                                                            foreach (var answersData in quizQuestion.Answers)
                                                            {
                                                                <div class="row">
                                                                    <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId" data-answerid="@answersData.QuizAnswerId" data-questiontype="freetext">
                                                                    <div class="col-lg-12 col-md-12 col-12 freetext-fieldset">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <div class="d-block mb-3 md-form md-outline w-100 freetextAnswer">
                                                                                    <textarea class="form-control freetext" @(IsSubmit ? "" : "readonly") id="QuizFreeText_@answersData.QuizAnswerId" name="QuizFreeText_@answersData.QuizAnswerId" data-marks="@quizQuestion.Marks" data-answerid="@answersData.QuizAnswerId" data-questionid="@quizQuestion.QuizQuestionId">@(quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).FirstOrDefault().QuizAnswerText)</textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="collapse" data-target="#collapseExample_@quizQuestion.QuizQuestionId" aria-expanded="false" aria-controls="collapseExample_@quizQuestion.QuizQuestionId">
                                                                            <i class="fas fa-plus"></i>
                                                                            <span class="font-small text-medium">@ResourceManager.GetString("Shared.Labels.AddFile")</span>
                                                                        </button>
                                                                        @if (!((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0) && showScore)
                                                                        {
                                                                            <div class="row collapse" id="collapseExample_@quizQuestion.QuizQuestionId">
                                                                                <div class="col-12">
                                                                                    @if (SessionHelper.CurrentSession.IsStudent())
                                                                                    {
                                                                                        <div class='uploaderWidget freeTextFileUploader'><input class='freeTextImgUploader' type='file' id="question_@quizQuestion.QuizQuestionId" data-quizquestionid="@quizQuestion.QuizQuestionId" data-groupquizid="@objQuiz.GroupQuizId" data-studentid="@SessionHelper.CurrentSession.Id" data-controlid="groupquiz_@objQuiz.GroupQuizId" data-controlname="studentid_@SessionHelper.CurrentSession.Id" multiple></div>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        <div>
                                                                            <div id="freeTextFileList_@quizQuestion.QuizQuestionId" class="mt-3">
                                                                                @if (quizResponseList.QuizQuestionAnswerFiles.Any())
                                                                                {
                                                                                    var questionAnswerFiles = quizResponseList.QuizQuestionAnswerFiles.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId && x.ResourceId == objQuiz.GroupQuizId).ToList();
                                                                                    if (questionAnswerFiles.Any())
                                                                                    {
                                                                                        @Html.Partial("_QuestionAnswerFileList", questionAnswerFiles.Any() ? questionAnswerFiles : new List<Phoenix.Models.QuizQuestionAnswerFiles>())
                                                                                    }
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                        @if ((SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin) && !IsView)
                                                                        {
                                                                            <div class="row mt-3">
                                                                                <div class="col-12">
                                                                                    <div class="d-flex align-items-center mb-3">
                                                                                        <div class="md-form md-outline w-160 mb-0 mr-3">
                                                                                            <input type="number" id="@("txtmarks" + answersData.QuizAnswerId)" class="form-control freetextTeacherresponse" min="0" name="@("txtmarks" + answersData.QuizAnswerId)" max="@quizQuestion.Marks" placeholder="@ResourceManager.GetString("Quiz.QuizQuestion.Marks")" value="@(quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).FirstOrDefault().ObtainedMarks)" />
                                                                                            <label for="@("txtmarks" + answersData.QuizAnswerId)">@ResourceManager.GetString("Quiz.QuizQuestion.Marks")</label>
                                                                                        </div>
                                                                                        <span class="text-medium"> out of @quizQuestion.Marks</span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        @if (quizQuestion.lstDocuments.Any())
                                                                        {
                                                                            <ul id="existRecordingslist" class="align-items-center d-flex flex-wrap mt-0">
                                                                                @foreach (var item in quizQuestion.lstDocuments)
                                                                                {
                                                                                    if (item.FileName.ToLower().Contains(".wav"))
                                                                                    {
                                                                                        var recordingFilePath = PhoenixConfiguration.Instance.ReadFilePath + item.FilePath;
                                                                                        <li id="audio_@item.QuizQuestionFileId" class="align-items-center d-flex mb-2 mr-2">
                                                                                            <audio controls="" src="@recordingFilePath"></audio>
                                                                                        </li>
                                                                                    }
                                                                                }
                                                                            </ul>
                                                                            @*<div id="library" class="row view-group mt-3">
                                                                                <div class="item mb-0 col-xl-12 col-lg-12 col-md-12 col-12">*@
                                                                            <div id="fileList">
                                                                                @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                                            </div>
                                                                            @*</div>
                                                                                </div>*@
                                                                        }
                                                                    </div>
                                                                </div>
                                                            }
                                                            if (((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0) && showScore)
                                                            {
                                                                var AnswerTextList = new List<string>();
                                                                foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                                {
                                                                    AnswerTextList.Add(answersData.AnswerText);
                                                                }
                                                            }
                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 6)
                                                        {

                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <ul id="existRecordingslist" class="align-items-center d-flex flex-wrap mt-0">
                                                                    @foreach (var item in quizQuestion.lstDocuments)
                                                                    {
                                                                        if (item.FileName.ToLower().Contains(".wav"))
                                                                        {
                                                                            var recordingFilePath = PhoenixConfiguration.Instance.ReadFilePath + item.FilePath;
                                                                            <li id="audio_@item.QuizQuestionFileId" class="align-items-center d-flex mb-2 mr-2">
                                                                                <audio controls="" src="@recordingFilePath"></audio>
                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>
                                                                @*<div id="library" class="row view-group mt-3">
                                                                    <div class="item col-xl-12 col-lg-12 col-md-12 col-12">*@
                                                                <div id="fileList">
                                                                    @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                                </div>
                                                                @*</div>
                                                                    </div>*@
                                                            }
                                                            if (((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0) && showScore)
                                                            {
                                                                var AnswerTextList = new List<string>();
                                                                foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                                {
                                                                    AnswerTextList.Add(answersData.AnswerText);
                                                                }
                                                                <p>@ResourceManager.GetString("Quiz.Quiz.CorrectAnswer") <span class="text-success">@string.Join(",", AnswerTextList)</span></p>
                                                            }

                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 7)
                                                        {
                                                            var CorrectAnswerCount = 0;
                                                            foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                            {
                                                                CorrectAnswerCount++;
                                                            }
                                                            var EachQuesMarks = (float)quizQuestion.Marks / CorrectAnswerCount;
                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                            <div class="col-lg-12 col-md-12 col-12 freetext-fieldset row">
                                                                <ul class="clearfix with-number" id="quizMatchList">
                                                                    @{int sortedResponseOrder = 1;}

                                                                    @foreach (var answersData in quizQuestion.Answers)
                                                                    {
                                                                        if (quizResponseList.ResponseQuestionAnswer.Any())
                                                                        {
                                                                            var test = quizResponseList.ResponseQuestionAnswer.Where(x => x.SortOrder == sortedResponseOrder).FirstOrDefault();
                                                                            <li class="sortAnswer" id="@test.SortOrder" data-answerText="@test.QuizAnswerText" data-marks="@EachQuesMarks" data-matchSortorder="@EncryptDecryptHelper.EncodeBase64(test.SortOrder.ToString())" data-answerid="@test.QuizAnswerId" data-questionid="@quizQuestion.QuizQuestionId">
                                                                                @test.QuizAnswerText
                                                                            </li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li class="sortAnswer" id="@answersData.SortOrder" data-answerText="@answersData.AnswerText" data-marks="@EachQuesMarks" data-matchSortorder="@EncryptDecryptHelper.EncodeBase64(answersData.SortOrder.ToString())" data-answerid="@answersData.QuizAnswerId" data-questionid="@quizQuestion.QuizQuestionId">
                                                                                @answersData.AnswerText
                                                                            </li>
                                                                        }
                                                                        sortedResponseOrder++;
                                                                    }
                                                                </ul>
                                                            </div>
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <ul id="existRecordingslist" class="align-items-center d-flex flex-wrap mt-0">
                                                                    @foreach (var item in quizQuestion.lstDocuments)
                                                                    {
                                                                        if (item.FileName.ToLower().Contains(".wav"))
                                                                        {
                                                                            var recordingFilePath = PhoenixConfiguration.Instance.ReadFilePath + item.FilePath;
                                                                            <li id="audio_@item.QuizQuestionFileId" class="align-items-center d-flex mb-2 mr-2">
                                                                                <audio controls="" src="@recordingFilePath"></audio>
                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>
                                                                @*<div id="library" class="row view-group mt-3">
                                                                    <div class="item col-xl-12 col-lg-12 col-md-12 col-12">*@
                                                                <div id="fileList">
                                                                    @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                                </div>
                                                                @*</div>
                                                                    </div>*@
                                                            }
                                                            if (((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0) && showScore)
                                                            {
                                                                var AnswerTextList = new List<string>();
                                                                for (int b = 1; b <= quizQuestion.Answers.Count(); b++)
                                                                {
                                                                    AnswerTextList.Add(quizQuestion.Answers.Where(c => c.SortOrder == b).Select(x => x.AnswerText).FirstOrDefault());
                                                                }
                                                                <p>@ResourceManager.GetString("Quiz.Quiz.CorrectAnswer") <span class="text-success">@string.Join(", ", AnswerTextList)</span></p>
                                                            }
                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 8)
                                                        {
                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <ul id="existRecordingslist" class="align-items-center d-flex flex-wrap mt-0">
                                                                    @foreach (var item in quizQuestion.lstDocuments)
                                                                    {
                                                                        if (item.FileName.ToLower().Contains(".wav"))
                                                                        {
                                                                            var recordingFilePath = PhoenixConfiguration.Instance.ReadFilePath + item.FilePath;
                                                                            <li id="audio_@item.QuizQuestionFileId" class="align-items-center d-flex mb-2 mr-2">
                                                                                <audio controls="" src="@recordingFilePath"></audio>
                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>
                                                                @*<div id="library" class="row view-group mt-3">
                                                                    <div class="item col-xl-12 col-lg-12 col-md-12 col-12">*@
                                                                <div id="fileList">
                                                                    @Html.Partial("~/Areas/Files/Views/Shared/_QuizQuestionFileList.cshtml", quizQuestion.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : quizQuestion.lstDocuments)
                                                                </div>
                                                                @*</div>
                                                                    </div>*@
                                                            }
                                                            var CorrectAnswerCount = 0;
                                                            foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                            {
                                                                CorrectAnswerCount++;
                                                            }
                                                            MTPEachQuesMarks = (float)quizQuestion.Marks / CorrectAnswerCount;
                                                            MTPQuestionId = quizQuestion.QuizQuestionId;

                                                            if (quizResponseList.ResponseQuestionAnswer.Any())
                                                            {
                                                                <div class="row AttendedMTP_@quizQuestion.QuizQuestionId" id="AttendedMTP">
                                                                    @{ var MTPAnswers = quizQuestion.Answers;
                                                                        var IsResultExist = quizResponseList.ResponseQuestionAnswer.Where(a => a.QuizQuestionId == quizQuestion.QuizQuestionId).Select(x => x.QuizAnswerText).FirstOrDefault();
                                                                    }
                                                                    <div class="col-12">
                                                                        @if (!String.IsNullOrEmpty(IsResultExist))
                                                                        {
                                                                            <ul class="given-answers d-flex flex-wrap">
                                                                                @foreach (var item in quizResponseList.ResponseQuestionAnswer)
                                                                                {
                                                                                    var Question = MTPAnswers.Where(a => a.QuizAnswerId == item.QuizAnswerId).Select(x => x.AnswerText).FirstOrDefault();
                                                                                    if (!String.IsNullOrEmpty(Question))
                                                                                    {
                                                                                        <li>
                                                                                            <span class="d-block">@Question</span>
                                                                                            <img src="@item.QuizAnswerText" class="border p-1" />
                                                                                        </li>
                                                                                    }
                                                                                }
                                                                            </ul>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span>@ResourceManager.GetString("Quiz.QuizQuestion.NotAttempt")</span>
                                                                        }

                                                                    </div>
                                                                    @if ((quizResponseList.SubmitAttempt != objQuiz.MaxSubmit) && quizResponseList.QuizResponseByTeacherId == 0 && SessionHelper.CurrentSession.IsStudent())
                                                                    {
                                                                        <div class="row mt-3">
                                                                            <div class="col-lg-12 col-md-12 col-12">
                                                                                <input type="button" class="btn btn-outline-primary btn-md m-0" onclick="RetestMTP(@quizQuestion.QuizQuestionId)" id="retestMTP" value="@ResourceManager.GetString("Shared.Buttons.Retest")">
                                                                            </div>
                                                                        </div>
                                                                    }

                                                                </div>

                                                                <div class="row">
                                                                    <div class="retest MTPRetest_@quizQuestion.QuizQuestionId">
                                                                        <div class="dragdrop_@quizQuestion.QuizQuestionId">
                                                                            @Html.Partial("~/Areas/Files/Views/Shared/_DragDrop.cshtml", quizQuestion)
                                                                        </div>
                                                                        <button class="btn btn-outline-primary btn-md m-0 @(IsSubmit ? "" : "disabled")" onclick="groupQuiz.resetMTPQuiz(@quizQuestion.QuizQuestionId)" data-quizquestionid="@quizQuestion.QuizQuestionId" id="btnRetestMTP">@ResourceManager.GetString("Shared.Buttons.Reset")</button>
                                                                    </div>
                                                                </div>

                                                            }
                                                            else
                                                            {
                                                                <div class="dragdrop_@quizQuestion.QuizQuestionId @(IsSubmit ? "" : "disabled")">
                                                                    @Html.Partial("~/Areas/Files/Views/Shared/_DragDrop.cshtml", quizQuestion)
                                                                </div>
                                                                <button class="btn btn-outline-primary btn-md m-0 @(IsSubmit ? "" : "disabled")" onclick="groupQuiz.resetMTPQuiz(@quizQuestion.QuizQuestionId)" data-quizquestionid="@quizQuestion.QuizQuestionId" id="btnRetestMTP">@ResourceManager.GetString("Shared.Buttons.Reset")</button>
                                                            }


                                                            if (((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0) && showScore)
                                                            {
                                                                <h5 class="mt-5">@ResourceManager.GetString("Quiz.Quiz.CorrectAnswer") </h5>
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <ul class="correct-answers d-flex flex-wrap">
                                                                            @foreach (var item in quizQuestion.Answers)
                                                                            {
                                                                                var imagePath = PhoenixConfiguration.Instance.ReadFilePath + Constants.QuizMTPQuestion + item.ResourcePath;
                                                                                <li>
                                                                                    <p><span class="text-success d-block">@item.AnswerText</span></p>
                                                                                    <img src="@imagePath" class="border p-1" />
                                                                                </li>

                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>

                                                </div>
                                                <div class="col-xl-1 col-lg-2 col-md-2 col-2 text-center">
                                                    <h4 class="sub-heading text-dark">
                                                        @if (quizResponseList.ResponseQuestionAnswer.Any())
                                                        {
                                                            if (((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0) && showScore)
                                                            {
                                                                if (quizQuestion.QuestionTypeId == 4)
                                                                {
                                                                    if (quizResponseList.QuizResponseByTeacherId != 0)
                                                                    {
                                                                        var ObtainedMarks = (quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).Sum(x => x.ObtainedMarks));
                                                                        <span>@Math.Round(ObtainedMarks, 2) / @quizQuestion.Marks</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span>@ResourceManager.GetString("Quiz.Quiz.NotMarkYet")</span>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    var ObtainedMarks = (quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).Sum(x => x.ObtainedMarks));
                                                                    <span>@Math.Round(ObtainedMarks, 2) / @quizQuestion.Marks</span>
                                                                }
                                                            }

                                                        }
                                                        else if (quizResponseList.SubmitAttempt == objQuiz.MaxSubmit)
                                                        {
                                                            if (quizQuestion.QuestionTypeId == 4)
                                                            {
                                                                if (quizResponseList.QuizResponseByTeacherId != 0)
                                                                {
                                                                    var ObtainedMarks = (quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).Sum(x => x.ObtainedMarks));
                                                                    <span>@Math.Round(ObtainedMarks, 2) / @quizQuestion.Marks</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>@ResourceManager.GetString("Quiz.Quiz.NotMarkYet")</span>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                var ObtainedMarks = (quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).Sum(x => x.ObtainedMarks));
                                                                <span>0 / @quizQuestion.Marks</span>
                                                            }
                                                        }
                                                    </h4>
                                                </div>

                                            </div>
                                            <!-- que 1 -->
                                            <hr />
                                            @{
                                                i = i + 1;
                                            }

                                            @if (countValue == objQuizDetails.Count())
                                            {
                                                if (IsSubmit || SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                                                {
                                                    if (Html.CurrentPagePermission().CanView)
                                                    {
                                                        <div class="row mb-3">
                                                            <div class="col-lg-12 col-md-12 col-12">
                                                                <input type="submit" class="btn btn-primary m-0 @IsViewClass" id="submitQuiz" onclick="groupQuiz.submitQuiz()" value="@ResourceManager.GetString("Shared.Buttons.Submit")">
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                            @{
                                                countValue++;
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                            @*<div class="pagination column-padding pb-3"></div>*@
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <nav aria-label="Page navigation" class="mb-3">
                        <div class="row">
                            <div class="col-12 text-right quizPagination">
                            </div>
                        </div>

                    </nav>

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card min-height">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <span class="no-data-found d-block mx-auto my-auto"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

</div>
<!--Quiz task end-->
@if (objQuiz.IsSetTime && quizResponseList.QuizResponseByTeacherId == 0 && SessionHelper.CurrentSession.IsStudent() && IsSubmit)
{
    <div class="quizTimer d-flex justify-content-center position-fixed quiz-started arabictxt" id="quizTimerDiv" data-minutes-left="@objQuiz.QuizTime" data-seconds-left="">
        <img src="~/Content/img/sand-clock.gif" alt="" class="time-icon">
    </div>
}

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}

@section scripts
{
    <script language="javascript">
        translatedResources.TimeOut= '@ResourceManager.GetString("Quiz.Quiz.TimeOut")';
        translatedResources.EnterMarks = '@ResourceManager.GetString("Quiz.Quiz.EnterMarks")';
        translatedResources.EnterValidMarks = '@ResourceManager.GetString("Quiz.Quiz.EnterValidMarks")';
        translatedResources.AnswerRequiredMessage= '@ResourceManager.GetString("Quiz.Quiz.AnswerRequiredMessage")';
    </script>
    <script src="@Url.Content("/Content/js/ckeditor/ckeditor.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/Student/js/addons/countdown-timer.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/Quiz.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/common/paginate.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/mathscribe/jqmath-etc-0.4.6.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        if (localStorage.getItem("pagerefer") == null) {
            localStorage.setItem("pagerefer", document.referrer);
        }
        $('.back a').removeAttr('onClick');
        $(document).on('click', '.back', function (e) {
            var pathrefer = localStorage.getItem("pagerefer");
            window.location.href=pathrefer;
        });
        $(window).on("beforeunload", function (source,e) {
            paginateperform();
        });
        var tempListFilter = [];
        function RetestMTP(quizQuestionId) {
            var MTPRetest = '.MTPRetest_' + quizQuestionId;
            var AttendedMTP = '.AttendedMTP_' + quizQuestionId;
            $(MTPRetest).show();
            $(AttendedMTP).hide();
        }
        function paginateperform()
        {
            if ($('#IsLogAnswer').val() == "True") {
                groupQuiz.freetextanswers()
                if ($("#IsStudent").val() == "True") {
                    var formData = {
                        QuizId: $("#QuizId").val(),
                        QuizResultId: $("#QuizResultId").val(),
                        StudentId: $("#StudentId").val(),
                        TskId: $("#ResourceId").val(),
                        TaskId: $("#ResourceId").val(),
                        ResourceType: "Q"
                    };
                    tempListFilter = list.reverse().reduce(function (item, e1) {
                        var matches = item.filter(function (e2) { return e1.QuizQuestionId == e2.QuizQuestionId && e1.QuizAnswerId == e2.QuizAnswerId });
                        if (matches.length == 0) {
                            item.push(e1);
                        }
                        return item;
                    }, []);
                    $.ajax({
                        type: 'POST',
                        url: '/Files/Files/LogQuizQuestionAnswer',
                        data: { model: formData, answersList: tempListFilter },
                        success: function (result) {
                            if (result.Success) {
                            }
                        },
                        error: function (msg) {

                        }
                    });
                    list.reverse().reduce(function (item, e1) {
                        var matches = item.filter(function (e2) { return e1.QuizQuestionId == e2.QuizQuestionId && e1.QuizAnswerId == e2.QuizAnswerId });
                        if (matches.length == 0) {
                            item.push(e1);
                        }
                        return item;
                    }, []);
                }
            }
        }
        //Comment By Vinayak
        @*function IsSafeQuiz() {
            const queryString = window.location.search;
            console.log("query string is",queryString);
            $.ajax({
                type: 'GET',
                url: '/Files/Files/IsSafeQuiz',
                data: { QuizId: formData},
                success: function (result) {
                    if (result.Success) {
                    }
                },
                error: function (msg) {

                }
            });
        }*@

        $(document).ready(function () {
            //Comment By Vinayak
            //const queryString = window.location.search;
            //const allparams = queryString.split('&');
            //var id = "";
            //if (allparams.length > 0) {
            //     id = allparams[0].replace('?id=');
            //}


            //console.log("individual array", id);
            //$('#quiz').hide();

            $('.retest').hide();
            $('#btnRefresh').hide();
            $('.quiz-pagination li:nth-child(2)').addClass('active');
            $('.lightgallery_quiz').lightGallery({
                selector: '.galleryImg',
                share: false
            });
            if (localStorage.getItem("quizStarted") != 0) {
                //debugger;;
                var quizRecentTime = localStorage.getItem("quizStarted");
                $('#quizTimerDiv').data("seconds-left", quizRecentTime);
            }
             $('.quizPagination').pagination({
                itemsToPaginate: ".post",
                activeClass: 'active',
                 itemsPerPage: $("#PaginationCount").val()
            });
            $("#quizMatchList").sortable();
            var timer1 = $('.quizTimer').startTimer({
                onComplete: function (element) {
                    $("#submitQuiz").hide();
                    isTimeOut = true;
                    groupQuiz.submitQuiz();
                    localStorage.setItem("quizStarted", 0);
                },
                onStart: $('.timerstart'),
                onPause: $('.timerpause'),
                loop: false
            });
            $(document).ready(function () {
                if ($("#IsSetTime").val() == "True") {
                    timer1.trigger('start');
                }

            });
            $("#1").addClass('active')
        });
        var unsaved = false;
        $(":input").change(function () {
            unsaved = true;
        });
        var list =@(quizResponseList.ResponseQuestionAnswer.Any() ? Html.Raw(Json.Encode(quizResponseList.ResponseQuestionAnswer)) : Html.Raw(Json.Encode(new List<Phoenix.Models.QuizAnswersView>())));
        $(function () {
            $("#btnBack").show();
            $(document).on('click', '#btnBack', function () {
                history.back();
            });
            $('.quiz-cover').on('click', function (event) {
                $('.cover-img-wrapper').removeClass('animate slideIn show');
                $(this).parent().find('.cover-img-wrapper').toggleClass('animate slideIn show');
                event.stopPropagation();
            });
            $(window).click(function (e) {
                if (e.target.class === 'show') {
                } else {
                    $(".cover-img-wrapper").removeClass("animate slideIn show");
                }
            });
        });
         $(".freeTextImgUploader").fileinput({
        language: translatedResources.locale,
        theme: "fas",
        showUpload: true,
        showCaption: false,
        showMultipleNames: false,
        multiple: true,
        minFileCount: 1,
        maxFileCount: 10,
        uploadUrl: "/Files/Files/UploadFreeTextQuestionFiles",
        uploadExtraData: function () {
            return {
                resourceId: this.groupquizid,
                resourceType:"G",
                questionId: this.quizquestionid,
                studentId: this.studentid
            };
        },
        fileActionSettings: {
            showZoom: false,
            showUpload: false,
            //indicatorNew: "",
            showDrag: false
        },
        allowedFileExtensions: @Html.Raw(Json.Encode(ViewBag.FileExtension)),
        uploadAsync: true,
        browseClass: "btn btn-outline-primary rounded z-depth-0 m-0 p-0 mt-3 btn-browse",
        removeClass: "btn btn-sm m-0 z-depth-0 d-none",
        uploadClass: "btn btn-primary rounded z-depth-0 m-0 p-0 mt-3 btn-upload",
        cancelClass: "btn btn-default float-right rounded z-depth-0 m-0 p-0 mt-3 btn-cancel",
        overwriteInitial: false,
        maxFileSize: translatedResources.fileSizeAllow,
        //previewFileIcon: '<i class="fas fa-file"></i>',
        initialPreviewAsData: false, // defaults markup
        initialPreviewConfig: [{
            frameAttr: {
                title: 'My Custom Title',
            }
        }],
        preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
        previewFileIconSettings: fileInputControlSettings.previewFileIconSettings,
        previewSettings: fileInputControlSettings.previewSettings,
        previewFileExtSettings: fileInputControlSettings.previewFileExtSettings,
        msgSizeTooLarge: 'Total File size (<b>{size}</b>) exceeds maximum allowed upload size of <b>{maxSize}</b>. Please retry your upload!'
         }).off('filebatchselected').on('filebatchselected', function (event, files) {
             //debugger;;
              var size = 0;
              $.each(files, function (ind, val) {
                  //console.log($(this).attr('size'));
                  size = size + $(this).attr('size');
              });

              var maxFileSize = $(this).data().fileinput.maxFileSize,
                  msg = $(this).data().fileinput.msgSizeTooLarge,
                  formatSize = (s) => {
                      i = Math.floor(Math.log(s) / Math.log(1024));
                      sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
                      out = (s / Math.pow(1024, i)).toFixed(2) * 1 + ' ' + sizes[i];
                      return out;
                  };

              if ((size / 1024) > maxFileSize) {
                  msg = msg.replace('{name}', 'all files');
                  msg = msg.replace('{size}', formatSize(size));
                  msg = msg.replace('{maxSize}', formatSize(maxFileSize * 1024 /* Convert KB to Bytes */));
                  //$('li[data-thumb-id="thumb-postedFile-0"]').html(msg);
                  if (files.length > 1) {
                      $(".kv-fileinput-error.file-error-message").html('');
                      $(".kv-fileinput-error.file-error-message").append(`<button type="button" class="close kv-error-close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button><ul><li data-thumb-id="thumb-error" data-file-id="thumb-error">`+ msg + `</li></ul>`).attr("style", "");
                      $(".close.kv-error-close").on('click', function (e) {
                          $(".kv-fileinput-error.file-error-message").attr("style", "display:none").html('');
                          //$(".fileinput-upload").removeClass('d-none');
                      });
                  }
                  else {
                      $(".kv-fileinput-error.file-error-message").html('');
                      $(".kv-fileinput-error.file-error-message").append(`<button type="button" class="close kv-error-close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button><ul><li data-thumb-id="thumb-error" data-file-id="thumb-error">`+ msg + `</li></ul>`).attr("style", "");
                      $(".close.kv-error-close").on('click', function (e) {
                          $(".kv-fileinput-error.file-error-message").attr("style", "display:none").html('');
                          //$(".fileinput-upload").removeClass('d-none');
                      });
                  }

                  $(".fileinput-upload").attr('disabled', true);
              }
          }).off('fileuploaded').on('fileuploaded', function (event, data, previewId, index) {
        //debugger;;
        if (index == 0) {
            globalFunctions.showSuccessMessage(translatedResources.updateSuccessMsg);
        }
        $('.fileinput-remove').click();
        $.ajax({
            type: "GET",
            url: "/Files/Files/GetQuestionAnswerFileDetails",
            data: { resourceId: data.extra.resourceId, resourceType: "G", questionId: data.extra.questionId, studentId: data.extra.studentId },
            success: function (response) {
                var questionSource = '#freeTextFileList_' + data.extra.questionId;
                $(questionSource).html('');
                $(questionSource).append(response);
            },
            error: function (error) {
                globalFunctions.onFailure();
            }
        });
    });
    </script>

}