﻿@model Phoenix.VLE.Web.ViewModels.MyFilesViewModel
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Models
@{
    ViewBag.Title = ResourceManager.GetString("Files.Folder.SchoolSpaces");
    var schoolSpace = (SchoolSpace)ViewBag.SchoolSpace;
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-schoolspaces.svg");
    var rnd = DateTime.Now.Ticks.ToString();
}


@Html.HiddenFor(m => m.ModuleId)
@Html.Hidden("ParentFolderId", EncryptDecryptHelper.EncryptUrl(Model.ParentFolderId > 0 ? Model.ParentFolderId.ToString() : null))
@Html.Hidden("SectionId", EncryptDecryptHelper.EncryptUrl(Model.SectionId > 0 ? Model.SectionId.ToString() : null))

<div class="container-fluid mt-2 mb-4 assignment-details">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="column-padding assignment-header pt-3 pb-2">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <h3>
                                            <i class="fas fa-map-marker-alt"></i>
                                            @schoolSpace.SpaceName
                                        </h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12 pt-3">
                                        <p>@schoolSpace.Description</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Description content start -->
                            <!-- Description content end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Resources content end -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card min-height">
                        <div class="card-body">
                            <div class="@(SessionHelper.CurrentSession.IsStudent()?"page-search":"task-search") column-padding pt-3 pb-3">
                                <div class="row">
                                    <div class="col-lg-7 col-md-7 col-12">
                                        <div class="search-wrapper">
                                            <i class="fas fa-search active"></i>
                                            <input id="btnSearchFiles" type="text" class="search-field" placeholder="@ResourceManager.GetString("Shared.Labels.SearchFiles")" />
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-12 text-right">

                                        @if (ViewBag.IsCustomPermission)
                                        {
                                            <a id="btnClipboard" onclick="file.showClipboardData($(this))" href="javascript:void(0)" class="btn btn-primary m-0">@ResourceManager.GetString("Files.File.Clipboard")</a>
                                            <a href="javascript:void(0)" class="btn btn-primary dropdown-toggle mr-0 mt-lg-0 mb-0 mt-md-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ResourceManager.GetString("Files.Folder.AddNew")</a>
                                            <div class="dropdown-menu z-depth-1 border-0">
                                                <a id="btnAddFolder" class="dropdown-item pt-2 pb-2" href="javascript:void(0)">Folder</a>
                                                <a class="dropdown-item pt-2 pb-2 trigger-fileUploader" href="javascript:void(0)">File</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>



                            <div class="add-task column-padding pt-3 pb-0">
                                <div class="row ">
                                    <div class="col-xl-9 col-lg-9 col-md-9 col-9">
                                        @{ Html.RenderPartial("~/Areas/Files/Views/Shared/_NavFolder.cshtml", Model.FolderTree);}

                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-3 text-lg-right text-md-right text-left">
                                        <div class="task-sorting">
                                            <span class="sub-heading">@ResourceManager.GetString("Shared.Labels.SortBy") </span>
                                            <a id="currentSort" href="javascript:void(0)" class="dropdown-toggle sub-heading text-dark text-medium" data-toggle="dropdown" aria-expanded="false">Date-Desc</a>
                                            <div class="dropdown-menu dropdown-menu-right z-depth-1 language-dropdown">
                                                <a class="dropdown-item" href="javascript:void(0)" onclick="SortBy('Date-Asc');">Date - Asc</a>
                                                <a class="dropdown-item" href="javascript:void(0)" onclick="SortBy('Date-Desc');">Date - Desc</a>
                                                <a class="dropdown-item" href="javascript:void(0)" onclick=" SortBy('Name-Asc');">Name - (A-Z)</a>
                                                <a class="dropdown-item" href="javascript:void(0)" onclick=" SortBy('Name-Desc');">Name - (Z-A)</a>
                                            </div>
                                            <div class="toggle-library d-inline-block mt-1">
                                                <a href="javascript:void(0)" id="list"><i class="fas fa-list"></i></a>
                                                <a href="javascript:void(0)" id="grid"><i class="fas fa-th"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- library content start -->
                            <div class="library-data column-padding pt-0 pb-3">
                                <div id="library" class="row view-group">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div id="folder-list" >
                                            @if (Model.Folders.Any())
                                            {

                                                Html.RenderPartial("~/Areas/Files/Views/Shared/_ListFolders.cshtml", Model.Folders);

                                            }
                                        </div>

                                        <div id="file-list" class="mt-4">
                                            @if (Model.Files.Any())
                                            {

                                                Html.RenderPartial("~/Areas/Files/Views/Shared/_ListFiles.cshtml", Model.Files);


                                            }
                                        </div>

                                        @if (!Model.Folders.Any() && !Model.Files.Any())
                                        {
                                            <div id="NoFolderDiv" class="row">
                                                <div class="col-lg-12 col-12">
                                                    <h4 class="sub-heading">
                                                        <strong>@ResourceManager.GetString("Files.Folder.NoFolderMessage")</strong>
                                                    </h4>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <!-- library content end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Resources content end -->

        </div>
    </div>
</div>

@if (ViewBag.IsCustomPermission)
{
    Html.RenderPartial("~/Areas/Files/Views/Shared/_AddEditFile.cshtml");
}

<!-- file upload drawer end -->
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{
    <script language="javascript">
        translatedResources.filetitle = '@ResourceManager.GetString("Files.File.Title")';
        translatedResources.filename = '@ResourceManager.GetString("Files.File.FileName")';
        translatedResources.filepath = '@ResourceManager.GetString("Files.File.FilePath")';
        translatedResources.foldertitle = '@ResourceManager.GetString("Files.Folder.Title")';
        translatedResources.foldername = '@ResourceManager.GetString("Files.Folder.FolderName")';
        translatedResources.clipboard = '@ResourceManager.GetString("Files.File.Clipboard")';
        translatedResources.FileUploaded = '@ResourceManager.GetString("Shared.Messages.FileUploaded")';
    </script>

    <script src="@Url.Content("~/Content/js/custom/Files/Files.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/Folders.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    <script type="text/javascript">
        $(function () {

            $("#btnBack").show();
            $(document).on('click', '#btnBack', function () {
                history.back();
            });

            $('#list').click(function (event) {
                event.preventDefault();
                $('#library .item').removeClass('grid-group-item');
                $('#library .item').addClass('list-group-item');
                $(this).toggleClass('active');
                $("#grid").removeClass('active');
                globalFunctions.setCookie("selectedView", "0", 1);
                addCustomScrollbar();
            });

            $('#grid').click(function (event) {
                event.preventDefault();
                $('#library .item').removeClass('list-group-item');
                $('#library .item').addClass('grid-group-item');
                $(this).toggleClass('active');
                $("#list").removeClass('active');
                globalFunctions.setCookie("selectedView", "1", 1);
                addCustomScrollbar();
            });

            $(document).on('click', '#btnViewFolder', function () {
                var id = $(this).data("id");
                var grId = $("#SectionId").val();
                //console.log(id);
                var url = window.location.pathname + "?spId=" + grId + "&pfid=" + id;
                window.location.href = url;
            });

            $(document).on('click', '#btnRootFolder', function () {

                var grId = $("#SectionId").val();
                var url = window.location.pathname + "?spId=" + grId;
                window.location.href = url;
            });

            $("#postedFile").fileinput({
                language:'@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()',
                title: '@ResourceManager.GetString("Shared.Labels.BrowseFile")',
                theme: "fas",
                showUpload: true,
                showCaption: false,
                showMultipleNames: false,
                minFileCount: 1,
                maxFileCount: 10,
                uploadUrl: "/Files/Files/SaveFileData",
                uploadExtraData: function () {
                    return {
                        __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                        moduleId: $("#ModuleId").val(),
                        parentFolderId: $("#ParentFolderId").val(),
                        sectId: $("#SectionId").val(),
                        isAddMode: $("#IsAddMode").val()
                    };
                },
                fileActionSettings: {
                    showZoom: false,
                    showUpload: false,
                    //indicatorNew: "",
                    showDrag: false
                },
                allowedFileExtensions: @Html.Raw(Json.Encode(Model.FileExtension)),
                uploadAsync: true,
                maxFileSize: translatedResources.fileSizeAllow,
                browseClass: "btn btn-sm m-0 z-depth-0 btn-browse",
                removeClass: "btn btn-sm m-0 z-depth-0",
                uploadClass: "btn btn-sm m-0 z-depth-0",
                overwriteInitial: false,
                //previewFileIcon: '<i class="fas fa-file"></i>',
                initialPreviewAsData: true, // defaults markup
                initialPreviewConfig: [{
                    frameAttr: {
                        title: 'My Custom Title',
                    }
                }],
                preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
                previewFileIconSettings: { // configure your icon file extensions
                    'doc': '<i class="fas fa-file-word ic-file-word"></i>',
                    'xls': '<i class="fas fa-file-excel ic-file-excel"></i>',
                    'ppt': '<i class="fas fa-file-powerpoint ic-file-ppt"></i>',
                    'pdf': '<i class="fas fa-file-pdf ic-file-pdf"></i>',
                    'zip': '<i class="fas fa-file-archive ic-file"></i>',
                    'htm': '<i class="fas fa-file-code ic-file"></i>',
                    'txt': '<i class="fas fa-file-text ic-file"></i>',
                    'mov': '<i class="fas fa-file-video ic-file"></i>',
                    'mp3': '<i class="fas fa-file-audio ic-file"></i>',
                    // note for these file types below no extension determination logic
                    // has been configured (the keys itself will be used as extensions)
                    'jpg': '<i class="fas fa-file-image ic-file-img"></i>',
                    'jpeg': '<i class="fas fa-file-image ic-file-img"></i>',
                    'gif': '<i class="fas fa-file-image ic-file-img"></i>',
                    'png': '<i class="fas fa-file-image ic-file-img"></i>'
                },
                previewSettings: {
                    image: { width: "50px", height: "auto" },
                    html: { width: "50px", height: "auto" },
                    other: { width: "50px", height: "auto" }
                },
                previewFileExtSettings: { // configure the logic for determining icon file extensions
                    'doc': function (ext) {
                        return ext.match(/(doc|docx)$/i);
                    },
                    'xls': function (ext) {
                        return ext.match(/(xls|xlsx)$/i);
                    },
                    'ppt': function (ext) {
                        return ext.match(/(ppt|pptx)$/i);
                    },
                    'zip': function (ext) {
                        return ext.match(/(zip|rar|tar|gzip|gz|7z)$/i);
                    },
                    'htm': function (ext) {
                        return ext.match(/(htm|html)$/i);
                    },
                    'txt': function (ext) {
                        return ext.match(/(txt|ini|csv|java|php|js|css)$/i);
                    },
                    'mov': function (ext) {
                        return ext.match(/(avi|mpg|mkv|mov|mp4|3gp|webm|wmv)$/i);
                    },
                    'mp3': function (ext) {
                        return ext.match(/(mp3|wav)$/i);
                    }
                }

            });

            $('#postedFile').on('filebatchuploadcomplete', function (event, data, previewId, index) {
                $('#postedFile').fileinput('clear');
                file.loadfileGrid();
                $('.file-upload-widget').animate({
                    right: '-300'
                });
            });
        });
        function SortBy(sortBy) {
            folder.loadfolderGridSortBy(sortBy);
            file.loadfileGridSortBy(sortBy);
        }
    </script>

}

