﻿@model Phoenix.VLE.Web.ViewModels.MyFilesViewModel
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Models
@{
    ViewBag.Title = ResourceManager.GetString("Files.Folder.Groups");
    var schoolGroup = (SchoolGroup)ViewBag.Group;
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-groups.svg");
    var rnd = DateTime.Now.Ticks.ToString();

    var isArchived = schoolGroup.ArchivedBy.HasValue && schoolGroup.ArchivedOn.HasValue && DateTime.Compare(schoolGroup.ArchivedOn.Value.Date, DateTime.Today) <= 0 ? true : false;
}
@Html.HiddenFor(m => m.ModuleId)
@Html.Hidden("ParentFolderId", EncryptDecryptHelper.EncryptUrl(Model.ParentFolderId > 0 ? Model.ParentFolderId.ToString() : null))
@Html.Hidden("GroupSectionId", Model.SectionId > 0 ? Model.SectionId : 0)
@Html.Hidden("SectionId", EncryptDecryptHelper.EncryptUrl(Model.SectionId > 0 ? Model.SectionId : 0))
@*@Html.Hidden("GroupSectionId", EncryptDecryptHelper.EncryptUrl(Model.SectionId > 0 ? Model.SectionId : 0))*@
@Html.Hidden("SectionType", "Group")

<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body column-padding pt-3 pb-3" id="card_body">
                <div class="row">
                    <div class="col-12 col-lg-5 col-md-5 mt-2">
                        <h6>
                            @(!string.IsNullOrWhiteSpace(schoolGroup.TeacherGivenName) ? schoolGroup.TeacherGivenName : schoolGroup.SchoolGroupDescription.Replace("_", "/"))
                        </h6>
                    </div>
                    <div class="col-12 col-lg-7 col-md-7 d-flex flex-column flex-sm-row justify-content-end">
                        <div class="bg-white border mb-2 mb-sm-0 rounded-6x search-with-bg w-responsive">
                            <i class="fa fa-search"></i>
                            <input type="search" id="QuizListSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
                        </div>
                    </div>

                </div>
                <div class="table-wrapper mt-2 responsive-table">
                    @if (Model.GroupQuiz != null && Model.GroupQuiz.Any())
                    {
                        Html.RenderPartial("~/Areas/Files/Views/Shared/_ListGroupQuiz.cshtml", Model.GroupQuiz);
                    }
                </div>
            </div>

        </div>
    </div>
</div>

@if (ViewBag.IsCustomPermission)
{
    Html.RenderPartial("~/Areas/Files/Views/Shared/_AddEditFile.cshtml");
}

<!-- file upload drawer end -->
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{
    <script language="javascript">
        translatedResources.formtitle = '@ResourceManager.GetString("Files.Form.Form")';
        translatedResources.filetitle = '@ResourceManager.GetString("Files.File.Title")';
        translatedResources.filename = '@ResourceManager.GetString("Files.File.FileName")';
        translatedResources.filepath = '@ResourceManager.GetString("Files.File.FilePath")';
        translatedResources.foldertitle = '@ResourceManager.GetString("Files.Folder.Title")';
        translatedResources.foldername = '@ResourceManager.GetString("Files.Folder.FolderName")';
        translatedResources.clipboard = '@ResourceManager.GetString("Files.File.Clipboard")';
        translatedResources.FileUploaded = '@ResourceManager.GetString("Shared.Messages.FileUploaded")';
        translatedResources.AddGroupUrl = '@ResourceManager.GetString("Files.GroupUrl.AddGroupUrl")';
        translatedResources.EnterMarks = '@ResourceManager.GetString("Quiz.Quiz.EnterMarks")';
        translatedResources.EnterValidMarks = '@ResourceManager.GetString("Quiz.Quiz.EnterValidMarks")';
        translatedResources.noRecords = '@ResourceManager.GetString("Shared.Labels.NoRecords")'

    </script>

    @*<script src="@Url.Content("~/Content/js/custom/Files/Files.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>*@
    <script src="@Url.Content("~/Content/js/custom/Files/Folders.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/GroupUrl.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Forms/Form.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/Quiz.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>


    <script type="text/javascript">
        $(function () {
            $("#btnBack").show();
            $(document).on('click', '#btnBack', function () {
                //history.back();
                var isArchived = JSON.parse('@isArchived'.toLowerCase());
                if (isArchived) {
                    location.href = "/schoolstructure/schoolgroups/ArchivedGroupIndex";
                }
                else {
                    location.href = "/schoolstructure/schoolgroups";
                }
            });

            $('#list').click(function (event) {
                event.preventDefault();
                $('#library .item').removeClass('grid-group-item');
                $('#library .item').addClass('list-group-item');
                $(this).toggleClass('active');
                $("#grid").removeClass('active');
                globalFunctions.setCookie("selectedView", "0", 1);
                addCustomScrollbar();
            });

            $('#grid').click(function (event) {
                event.preventDefault();
                $('#library .item').removeClass('list-group-item');
                $('#library .item').addClass('grid-group-item');
                $(this).toggleClass('active');
                $("#list").removeClass('active');
                globalFunctions.setCookie("selectedView", "1", 1);
                addCustomScrollbar();
            });

            $(document).on('click', '#btnViewFolder', function () {
                var id = $(this).data("id");
                var grId = $("#SectionId").val();
                //console.log(id);
                var url = window.location.pathname + "?grId=" + grId + "&pfid=" + id;
                window.location.href = url;
            });

            $(document).on('click', '#btnRootFolder', function () {
                var grId = $("#SectionId").val();
                //console.log(id);
                var url = window.location.pathname + "?grId=" + grId;
                window.location.href = url;
            });

            $("#postedFile").fileinput({
                language: '@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()',
                title: '@ResourceManager.GetString("Shared.Labels.BrowseFile")',
                theme: "fas",
                showUpload: true,
                showCaption: false,
                showMultipleNames: false,
                minFileCount: 1,
                maxFileCount: 10,
                uploadUrl: "/Files/Files/SaveFileData",
                uploadExtraData: function () {
                    return {
                        __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                        moduleId: $("#ModuleId").val(),
                        parentFolderId: $("#ParentFolderId").val(),
                        sectId: $("#SectionId").val(),
                        isAddMode: $("#IsAddMode").val()
                    };
                },
                fileActionSettings: {
                    showZoom: false,
                    showUpload: false,
                    //indicatorNew: "",
                    showDrag: false
                },
                allowedFileExtensions: @Html.Raw(Json.Encode(Model.FileExtension)),
                uploadAsync: true,
                maxFileSize: translatedResources.fileSizeAllow,
                msgSizeTooLarge: 'Total File size (<b>{customSize}</b>) exceeds maximum allowed upload size of <b>{customMaxSize}</b>. Please retry your upload!',
                browseClass: "btn btn-sm m-0 z-depth-0 btn-browse",
                removeClass: "btn btn-sm m-0 z-depth-0",
                uploadClass: "btn btn-sm m-0 z-depth-0",
                overwriteInitial: false,
                //previewFileIcon: '<i class="fas fa-file"></i>',
                initialPreviewAsData: true, // defaults markup
                initialPreviewConfig: [{
                    frameAttr: {
                        title: 'My Custom Title',
                    }
                }],
                preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
                previewFileIconSettings: { // configure your icon file extensions
                    'doc': '<i class="fas fa-file-word ic-file-word"></i>',
                    'xls': '<i class="fas fa-file-excel ic-file-excel"></i>',
                    'ppt': '<i class="fas fa-file-powerpoint ic-file-ppt"></i>',
                    'pdf': '<i class="fas fa-file-pdf ic-file-pdf"></i>',
                    'zip': '<i class="fas fa-file-archive ic-file"></i>',
                    'htm': '<i class="fas fa-file-code ic-file"></i>',
                    'txt': '<i class="fas fa-file-alt ic-file"></i>',
                    'mov': '<i class="fas fa-file-video ic-file"></i>',
                    'mp3': '<i class="fas fa-file-audio ic-file"></i>',
                    // note for these file types below no extension determination logic
                    // has been configured (the keys itself will be used as extensions)
                    'jpg': '<i class="fas fa-file-image ic-file-img"></i>',
                    'jpeg': '<i class="fas fa-file-image ic-file-img"></i>',
                    'gif': '<i class="fas fa-file-image ic-file-img"></i>',
                    'png': '<i class="fas fa-file-image ic-file-img"></i>'
                },
                previewSettings: {
                    image: { width: "50px", height: "auto" },
                    html: { width: "50px", height: "auto" },
                    other: { width: "50px", height: "auto" }
                },
                previewFileExtSettings: { // configure the logic for determining icon file extensions
                    'doc': function (ext) {
                        return ext.match(/(doc|docx)$/i);
                    },
                    'xls': function (ext) {
                        return ext.match(/(xls|xlsx)$/i);
                    },
                    'ppt': function (ext) {
                        return ext.match(/(ppt|pptx)$/i);
                    },
                    'zip': function (ext) {
                        return ext.match(/(zip|rar|tar|gzip|gz|7z)$/i);
                    },
                    'htm': function (ext) {
                        return ext.match(/(htm|html)$/i);
                    },
                    'txt': function (ext) {
                        return ext.match(/(txt|ini|csv|java|php|js|css)$/i);
                    },
                    'mov': function (ext) {
                        return ext.match(/(avi|mpg|mkv|mov|mp4|3gp|webm|wmv)$/i);
                    },
                    'mp3': function (ext) {
                        return ext.match(/(mp3|wav)$/i);
                    }
                },

                msgSizeTooLarge: 'Total File size (<b>{size}</b>) exceeds maximum allowed upload size of <b>{maxSize}</b>. Please retry your upload!'
            }).off('filebatchselected').on('filebatchselected', function (event, files) {
                var size = 0;
                $.each(files, function (ind, val) {
                    //console.log($(this).attr('size'));
                    size = size + $(this).attr('size');
                });

                var maxFileSize = $(this).data().fileinput.maxFileSize,
                    msg = $(this).data().fileinput.msgSizeTooLarge,
                    formatSize = (s) => {
                        i = Math.floor(Math.log(s) / Math.log(1024));
                        sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
                        out = (s / Math.pow(1024, i)).toFixed(2) * 1 + ' ' + sizes[i];
                        return out;
                    };

                if ((size / 1024) > maxFileSize) {
                    msg = msg.replace('{name}', 'all files');
                    msg = msg.replace('{size}', formatSize(size));
                    msg = msg.replace('{maxSize}', formatSize(maxFileSize * 1024 /* Convert KB to Bytes */));
                    //$('li[data-thumb-id="thumb-postedFile-0"]').html(msg);
                    if (files.length > 1) {
                        $(".kv-fileinput-error.file-error-message").html('');
                        $(".kv-fileinput-error.file-error-message").append(`<button type="button" class="close kv-error-close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button><ul><li data-thumb-id="thumb-error" data-file-id="thumb-error">`+ msg + `</li></ul>`).attr("style", "");
                        $(".close.kv-error-close").on('click', function (e) {
                            $(".kv-fileinput-error.file-error-message").attr("style", "display:none").html('');
                            //$(".fileinput-upload").removeClass('d-none');
                        });
                    }
                    else {
                        $(".kv-fileinput-error.file-error-message").html('');
                        $(".kv-fileinput-error.file-error-message").append(`<button type="button" class="close kv-error-close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button><ul><li data-thumb-id="thumb-error" data-file-id="thumb-error">`+ msg + `</li></ul>`).attr("style", "");
                        $(".close.kv-error-close").on('click', function (e) {
                            $(".kv-fileinput-error.file-error-message").attr("style", "display:none").html('');
                            //$(".fileinput-upload").removeClass('d-none');
                        });
                    }

                    $(".fileinput-upload").attr('disabled', true);
                }
            }).off('filebatchuploadcomplete').on('filebatchuploadcomplete', function (event, data, previewId, index) {
                $('#postedFile').fileinput('clear');
                file.loadfileGrid();
                $('.file-upload-widget').animate({
                    right: '-300'
                });
            });

            $(document).on("keyup", '#QuizListSearch', function () {
                var searchString = $(this).val();
                var source = $("table#quizGroupList tr[data-searchtext]");
                $("tr.row-noquiz").remove();
                $(source).filter(function () {
                    $(this).toggle($(this).data("searchtext").toLowerCase().indexOf(searchString.trim().toLowerCase()) > -1)
                });
                if ($("table#quizGroupList tr[data-searchtext]:visible").length == 0)
                    $("table#quizGroupList tbody").append("<tr class='row-noquiz'><td class='colspan=4'>" + translatedResources.noRecords + "</td></tr>")
            });
        });

        function SortBy(sortBy) {
            folder.loadfolderGridSortBy(sortBy);
            file.loadfileGridSortBy(sortBy);
        }

    </script>

}

