﻿@model Phoenix.VLE.Web.ViewModels.ChatUsers
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@Html.HiddenFor(x => x.SchoolId)
@Html.Hidden("GroupId", "")
@Html.Hidden("UserTypeId","")

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var rnd = DateTime.Now.Ticks.ToString();
}

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js")
@Scripts.Render("https://code.jquery.com/ui/1.12.1/jquery-ui.js")
<link href="~/Content/css/custom/Users/easyuitree.css" rel="stylesheet" />
<style type="text/css">
    .menu-panel {
        max-height: 500px;
        overflow-y: auto;
    }

    tr.selected {
        background-color: #d87676 !important;
    }

    .tree {
        border: none !important;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 42px;
        height: 18px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 4px;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 11px;
            width: 9px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #b274e0;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-12 min-height">
        <div class="row">
            <div class="col-lg-4 col-md-6 col">
                <label>Groups</label>
                <div class="md-form md-outline">
                    @Html.DropDownListFor(x => x.GroupId, Model.GroupList, new { @class = "selectpicker ddlGroup", @name = "ddlGroup", @Id = "ddlGroup", @placeholder = ResourceManager.GetString("School.Blog.SelectGroup") })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col">
                <label>Students</label>
                <div class="md-form md-outline">
                    @Html.DropDownListFor(x => x.SelectedStudentIDs, Model.SelectedStudentList, new { @class = "selectpicker ddlStudent", @Id = "ddlStudent", @name = "ddlStudent", @multiple = "multiple", @placeholder = ResourceManager.GetString("School.Blog.SelectStudent"), @data_live_search = "true", @data_actions_box = "true" })

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col">
                <label>Teachers</label>
                <div class="md-form md-outline">
                    @Html.DropDownListFor(x => x.SelectedTeacherIDs, Model.SelectedTeacherList, new { @class = "selectpicker ddlTeacher", @Id = "ddlTeacher", @name = "ddlTeacher", @multiple = "multiple", @placeholder = ResourceManager.GetString("School.Blog.SelectStudent"), @data_live_search = "true", @data_actions_box = "true" })

                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col">

            <table>
                <tr>
                    <th>Functionality</th>
                    <th> Permission</th>
                </tr>
                <tr>
                    <td>1-Facility To Chat</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked id="chat" name="chat" onchange="PermissionUpload(event,'chat')">
                            <span class="slider"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>2-Send Emojis</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked id="emoji" name="emoji" onchange="PermissionUpload(event,'emoji')">
                            <span class="slider"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>3-Can Attach Files/Images</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked id="attach" name="attach" onchange="PermissionUpload(event,'attach')">
                            <span class="slider"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>4-Delete Messages</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked id="delete" name="delete" onchange="PermissionUpload(event,'delete')">
                            <span class="slider"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>5-Copy Messages</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked id="copyMessage" name="copyMessage" onchange="PermissionUpload(event,'copyMessage')">
                            <span class="slider"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>6-Can Use Camera Feature </td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked id="camera" name="camera" onchange="PermissionUpload(event,'camera')">
                            <span class="slider"></span>
                        </label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $(".ddlStudent").selectpicker('refresh');

        $(".ddlTeacher").selectpicker('refresh');
        $(".ddlGroup").selectpicker('refresh');
        $(".ddlStudent").trigger('change');
    });
    $('.ddlGroup').change(function () {
        if ($('.ddlGroup :selected').val() != '') {
            $.ajax({
                type: "post",
                url: '/Users/ChatterPermission/GetUserListByGroup',
                data: { groupId: $('.ddlGroup :selected').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var stdent = '<select id="ddlStudent" class="selectpicker ddlStudent" name="ddlStudent" data-actions-box="true" data-live-search="true" multiple="multiple" >';
                    for (var i = 0; i < data.StudentList.length; i++) {
                        stdent = stdent + '<option value="' + data.StudentList[i].Id + '">' + (data.StudentList[i].FirstName + " " + data.StudentList[i].MiddleName + " " + data.StudentList[i].LastName) + '</option>';
                    }
                    stdent = stdent + '</select>';
                    $('#ddlStudent').empty();
                    $('#ddlStudent').html(stdent);
                    $('#ddlStudent').selectpicker('refresh');
                    var teacher = '<select id="ddlTeacher" class="selectpicker ddlTeacher" name="ddlTeacher" data-actions-box="true" data-live-search="true" multiple="multiple" >';
                    for (var i = 0; i < data.TeacherList.length; i++) {
                        teacher = teacher + '<option value="' + data.TeacherList[i].Id + '">' + (data.TeacherList[i].FirstName + " " + data.TeacherList[i].MiddleName + " " + data.TeacherList[i].LastName) + '</option>';
                    }
                    teacher = teacher + '</select>';
                    $('#ddlTeacher').empty();
                    $('#ddlTeacher').html(teacher);
                    $('#ddlTeacher').selectpicker('refresh');
                }
            });
        }
    });
    function PermissionUpload(e, adminItem) {
        var selectedStudentIDs = $('#ddlStudent option:selected').map(function () {
            return $(this).val();
        }).get().join(',');
        var SelectedTeacherIDs = $('#ddlTeacher option:selected').map(function () {
            return $(this).val();
        }).get().join(',');
        var formData = new FormData();
        formData.append("SelectedStudentIDs", selectedStudentIDs);
        formData.append("SelectedTeacherIDs", SelectedTeacherIDs);
        formData.append("adminItem", adminItem);
        var adminItemCheckbox = document.getElementsByName(adminItem);
        var adminItemValue = $(adminItemCheckbox).is(":checked");
        formData.append("adminItemValue", adminItemValue);
        $.ajax({
            type: 'POST',
            url: '/Users/ChatterPermission/SaveChatterPermission',
            data: formData,
            contentType: false,
            processData: false,
            success: function (result) {
                if (result.Success === false)
                    $(adminItemCheckbox).is(":checked")
                else {
                    $(adminItemCheckbox).is(":checked")
                }
            }
        });
    }
</script>





