﻿@model Phoenix.VLE.Web.ViewModels.StudentAssAndPredChartDashboard
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers


<script src="~/Content/kendoui.for.jquery.2020.3.915/src/js/kendo.all.js"></script>

<style>
    /*.demo-section {
        position: relative;
    }

    .ch-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .2;
        filter: alpha(opacity=60);
        background-color: #6495ed;
        text-align: center;
    }

    .ch-overlay div {
        position: relative;
        font-size: 34px;
        margin-top: -17px;
        top: 50%;
    }*/

   /* #assessmentTable {
        height: 700px;
    }*/

    /*.chart-outer
    {
        min-height: 400px;
    }*/
</style>

<div class="row mb-4">
    <div class="col-lg-12 col-md-12 col-12 d-md-flex flex-wrap flex-xl-nowrap">
        <div class="selected-student d-flex align-items-center">
            @if (string.IsNullOrEmpty(Model.FileStudent?.Id))
            {
            <div class="student-img mr-3 overflow-hidden rounded-circle d-flex align-items-center justify-content-center z-depth-1 border border-white">
                <img id="studentimg" src="~/Content/VLE/img/default-avatar.jpg" alt="" class="w-100">
            </div>
            }
            else
            {
                <div class="student-img mr-3 overflow-hidden rounded-circle d-flex align-items-center justify-content-center z-depth-1 border border-white">
                    <img src="@Model.FileStudent.PhotoPath" alt="" class="w-100">
                </div>
            }
        </div>
        <div class="tracking-parameter d-flex align-items-center mr-3 pr-3 py-2 rounded-1x mb-2 mb-xl-0">
            <div class="parameter-icon text-center">
                <img src="/Content/VLE/img/svg/teacher-student-ratio.svg" class="d-block mb-2 mx-auto" alt="Attendance">
            </div>
            <div class="parameter-details">
                <span class="d-block title">@ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.AvgAssessmentScores")</span>
                <span id="OverallAverage" class="d-block percentage">
                    @(Model.StudentChartRes.ArgPredScore==null?0: Math.Round(Model.StudentChartRes.ArgPredScore.Score, 2, MidpointRounding.AwayFromZero))%
                </span>
            </div>
        </div>
        @*<div class="tracking-parameter Predicted-score d-flex align-items-center mr-3 pr-3 py-2 rounded-1x mb-2 mb-xl-0">
                <div class="parameter-icon text-center">
                    <img src="/Content/VLE/img/svg/student-attendance.svg" class="d-block mb-2 mx-auto" alt="Attendance">
                </div>
                <div class="parameter-details">
                    <span class="d-block title">Avg Predicted Scores</span>
                    <span id="PredictionAverage" class="d-block percentage">
                        @Model.ChartRes.AvgPredFig.PredictionAverage%
                    </span>
                </div>
            </div>
            <div class="tracking-parameter Predicted-score-boys d-flex align-items-center mr-3 pr-3 py-2 rounded-1x mb-2 mb-xl-0">
                <div class="parameter-icon text-center">
                    <img src="/Content/VLE/img/svg/teacher-count.svg" class="d-block mb-2 mx-auto" alt="Attendance">
                </div>
                <div class="parameter-details">
                    <span class="d-block title">Avg Score vs Predicted Score Boys</span>
                    <span class="d-block percentage">
                        <span id="OverallAverageBoys">@Model.ChartRes.AvgPredFig.OverallAverageBoys%</span> <span id="PredictionAverageBoys" class="small-per d-inline ml-3">@Model.ChartRes.AvgPredFig.PredictionAverageBoys%</span>
                    </span>
                </div>
            </div>
            <div class="tracking-parameter Predicted-score-girls d-flex align-items-center pr-3 py-2 rounded-1x mb-2 mb-xl-0">
                <div class="parameter-icon text-center">
                    <img src="/Content/VLE/img/svg/student-attendance.svg" class="d-block mb-2 mx-auto" alt="Attendance">
                </div>
                <div class="parameter-details">
                    <span class="d-block title">Avg Score vs Predicted Score Girls</span>
                    <span class="d-block percentage">
                        <span id="OverallAverageGirls">@Model.ChartRes.AvgPredFig.OverallAverageGirls%</span> <span id="PredictionAverageGirls" class="small-per d-inline ml-3">@Model.ChartRes.AvgPredFig.PredictionAverageGirls%</span>
                    </span>
                </div>
            </div>*@
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-12 mb-3">
        <div class="card column-padding h-100 chart-outer">
            <div class="card-body">
                <div class="section-title">
                    <h3>@ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.AvgScorebyClassandPrediction")</h3>
                    <div class="demo-section k-content wide">
                        <div id="chartAvgScoreColumn"></div>
                        <div id="chartAvgScoreColumn_overlay">
                            <span class="no-data-found text-bold mx-auto my-auto mt-1 d-block">
                                @ResourceManager.GetString("Shared.Labels.NoRecords")
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-12 mb-3">
        <div class="card column-padding h-100 chart-outer">
            <div class="card-body">
                <div class="section-title">
                    <h3>@ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.PredictedScore")</h3>
                    <div class="demo-section k-content wide">
                        <div id="chartPredictionScoreColumn"></div>
                        <div id="chartPredictionScoreColumn_overlay">
                            <span class="no-data-found text-bold mx-auto my-auto mt-1 d-block">
                                @ResourceManager.GetString("Shared.Labels.NoRecords")
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12 col-12">
        <div class="card column-padding h-100 chart-outer">
            <div class="card-body">
                <div class="title-with-fields">
                    <h3 class="card-title text-uppercase" style="display:inline-block;">@ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.AssessmentvsPredictionbyAcademicYear")</h3>
                    <div class="title-fields" style="display:inline-block;float:right;">
                        <a href="#" id="viewlist" class="btn-link text-primary" data-toggle="modal" data-target="#assessmentTable">@ResourceManager.GetString("Shared.Buttons.View")</a>
                    </div>
                </div>
                <div class="column-padding py-3">
                    <div class="demo-section k-content wide">
                        <div id="chartAssesmentColumn"></div>
                        <div id="chartAssesmentColumn_overlay">
                            <span class="no-data-found text-bold mx-auto my-auto mt-1 d-block">
                                @ResourceManager.GetString("Shared.Labels.NoRecords")
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="assessmentTable" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.AssessmentTable")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>@ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.AcademicYear")</th>
                            <th>@ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.Subject")</th>
                            <th>@ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.Teacher")</th>
                            <th>@ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.Class")</th>
                            <th>@ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.Score")</th>
                        </tr>
                    </thead>
                    <tbody id="assdetails" style="overflow-y:scroll;">
                        
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Close")</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var columnAvgScoreChartData = JSON.parse('@Html.Raw(Json.Encode(Model.AvgScoreClassPredColumnChartVMs))');
    @*var donutChartData = JSON.parse('@Html.Raw(Json.Encode(Model.StudentCountDonutChartVMs))');*@
    var predictionScoreColumnChartData = JSON.parse('@Html.Raw(Json.Encode(Model.StudentChartRes?.PredBySubByStu))');
    @*var barChartData = JSON.parse('@Html.Raw(Json.Encode(Model.PredictionScoreColumnChartVMs))');*@
    var assmntColumnChartData = JSON.parse('@Html.Raw(Json.Encode(Model.AssVsPredColumnChartVMs))');
</script>

<script src="@Url.Content("~/Content/js/custom/Charts/PredictionAssesmentPartialCharts.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
