﻿@model Phoenix.VLE.Web.ViewModels.StudentAssAndPredChartDashboard
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{

}

<link href="~/Content/kendoui.for.jquery.2020.3.915/src/styles/web/kendo.common.css" rel="stylesheet" />
<link href="~/Content/kendoui.for.jquery.2020.3.915/src/styles/web/kendo.default.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="~/Content/js/jquery-3.3.1.min.js"></script>

<!--------Student progress tracker Filter----------->
<div class="row tracker-filter stdent-progress-filter mb-4 mt-n2">
    <div class="col-12">
        <form action="#" class="field-form pb-3 pt-3">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 md-outline mb-2">
                    <label for="select-group" class="text-semibold">@ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.Student")</label>
                    <select class="selectpicker" id="student" data-live-search="true">
                        <option value="">@ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.SelectStudent")</option>
                        @*<option class="text-medium text-dark">Vaishnavi B</option>
                            <option class="text-medium text-dark">Aazia Ahmad</option>
                            <option class="text-medium text-dark">Vaishnavi B</option>*@
                    </select>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 md-outline mb-2">
                    <label for="select-student" class="text-semibold">@ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.Class")</label>
                    @Html.DropDownList("class", Model.StudentAssAndPredFilter.Class, ResourceManager.GetString("Shared.Labels.All"), new { @class = "selectpicker", @data_live_search = "true" })
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 md-outline mb-2">
                    <label for="category" class="text-semibold">@ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.Assessment")</label>
                    @Html.DropDownList("assessment", Model.StudentAssAndPredFilter.Assessment, ResourceManager.GetString("Shared.Labels.All"), new { @class = "selectpicker", @data_live_search = "true" })
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 md-outline mb-2">
                    <label for="select-group" class="text-semibold">@ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.AcademicYear")</label>
                    @Html.DropDownList("academicYear", Model.StudentAssAndPredFilter.AcademicYear, ResourceManager.GetString("Shared.Labels.All"), new { @class = "selectpicker", @data_live_search = "true" })
                </div>

                @*<div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 md-outline mb-2">
                        <label for="category" class="text-semibold">Subject</label>
                        @Html.DropDownList("subject", Model.StudentProgressFilter.Subject, "All", new { @class = "selectpicker", @data_live_search = "true" })
                    </div>

                    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 md-outline mb-2">
                        <label for="category" class="text-semibold">Teacher</label>
                        @Html.DropDownList("teacher", Model.StudentProgressFilter.Teacher, "All", new { @class = "selectpicker", @data_live_search = "true" })
                    </div>*@
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6 d-flex align-items-end mb-2">
                    <button id="btnFilterCharts" type="button" class="btn btn-primary py-2 m-0 w-100 mb-1">@ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.ViewProgress")</button>
                </div>
            </div>
        </form>
        <div class="d-flex justify-content-center border-top">
            <button type="button" class="btn btn-filter closed px-4">
                @ResourceManager.GetString("ChartDashboard.StudentPredictionAssesment.HideFilter") <i class="fas fa-chevron-up ml-2"></i>
            </button>
        </div>
    </div>
</div>
<!--------Student progress tracker Filter----------->
<!--------Student progress tracker Graph content----------->
<div id="section-charts">
    @Html.Partial("_FilteredPredictionCharts", Model)
</div>
<!--------Student progress tracker Graph Content----------->

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{
    @*<script src="~/Content/js/addons/bootstrap-select.js"></script>*@
    <script src="~/Content/kendoui.for.jquery.2020.3.915/src/js/kendo.all.js"></script>
    <script src="@Url.Content("~/Content/js/custom/Charts/PredictionAssesmentCharts.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}