﻿@model IEnumerable<Phoenix.VLE.Web.Models.StudentList>

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Teacher Digital Portfolio - Landing</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/addons/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <link href="css/addons/loader.css" rel="stylesheet" type="text/css">

    <link href="css/main-teacher.css" rel="stylesheet" type="text/css">

</head>

<body>
    <!-- header start -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <!--Navbar -->
                    <nav class="navbar fixed-top navbar-expand-md colored-nav scrolling-navbar main-nav py-3 py-sm-0 px-1">
                        <div class="app-logo d-block d-lg-none mr-3">
                            <img src="img/svg/logo-colored.svg" alt="Classroom">
                        </div>
                        <button class="navbar-toggler first-button d-md-block d-lg-none" type="button">
                            <div class="animated-icon1"><span></span><span></span><span></span></div>
                        </button>
                        <div class="collapse navbar-collapse">
                            <div class="app-logo d-none d-md-none d-lg-block">
                                <img src="img/svg/logo-colored.svg" alt="Classroom">
                            </div>

                            <ul class="navbar-nav ml-auto nav-flex-icons right-nav">
                                <li class="nav-item dropdown language-switcher">
                                    <a href="javascript:void(0)" class="nav-link p-0 text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <!-- <i class="fas fa-language m-0" data-toggle="tooltip" data-title="Change Language" data-placement="left"></i> -->
                                        <small class="rounded border" data-toggle="tooltip" data-title="Change Language" data-placement="left"><strong>EN</strong></small>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right z-depth-1 language-dropdown pt-2 pb-2 animate slideIn">
                                        <a class="dropdown-item px-3 active-language d-flex align-items-center justify-content-between" href="#">English <i class="fas fa-check"></i></a>
                                        <a class="dropdown-item px-3 d-flex align-items-center justify-content-between" href="#">Arabic <i class="fas fa-check"></i></a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="btn-group btn-group-sm font-adjust ml-3" role="group">
                                        <button type="button" class="btn btn-outline-default btn-sm">A</button>
                                        <button type="button" class="btn btn-outline-default btn-sm">A +</button>
                                        <button type="button" class="btn btn-outline-default btn-sm">A -</button>
                                        <button type="button" class="btn btn-outline-default btn-sm"><i class="fa fa-adjust"></i></button>
                                    </div>
                                </li>

                                <li class="nav-item notifications">
                                    <a href="javascript:void(0)" class="nav-link trigger-rightDrawer has-notifications" data-target="drawer-1" data-width="40%">
                                        <i class="far fa-bell position-relative"><span class="notification-count">5</span></i>
                                    </a>
                                </li>
                                <li class="nav-item avatar dropdown">
                                    <a class="nav-link pr-1 pl-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="img/avatar-5.jpg" class="rounded-circle" alt="">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right z-depth-1 profile-dropdown pt-3 pb-0 animate slideIn">
                                        <div class="profile-card clearfix d-flex">
                                            <div class="profile-img float-left d-block">
                                                <img src="img/avatar-5.jpg" class="img-fluid z-depth-0 rounded-circle" alt="">
                                                <a href="#" class="edit-profile-img rounded-circle" data-toggle="tooltip" data-title="Change Avatar" data-placement="bottom"><i class="fas fa-pencil-alt"></i></a>
                                            </div>
                                            <div class="profile-name float-left d-block align-middle align-self-center">
                                                <h3>Angela Phelps</h3>
                                                <a href="#" data-toggle="modal" data-target="#selectMoodModal" class="change-mood dropdown-toggle">
                                                    <img src="img/smileys/smiley-happy.svg" class="shadow-none" alt="Smiley"> Feeling <span>Happy</span>
                                                </a>
                                            </div>
                                        </div>
                                        <p class="user-status">Struggle Is What Gives Us Meaning & Makes Us Human!</p>
                                        <ul class="profile-actions">
                                            <li class="dropdown-divider"></li>
                                            <li><a href="">View Profile</a></li>
                                            <li><a href="">Account Settings</a></li>
                                            <li class="dropdown-divider"></li>
                                            <li>
                                                <a href="#"><img src="img/svg/ic-logout.svg" class="border-0 shadow-none" alt="Logout">Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">
            <a href="dashboard.html" class="logo-wrapper d-block bg-white position-relative text-center px-1 py-4 border-bottom border-light">
                <img src="img/gems-wellington.png" class="img-fluid" alt="GEMS Wellington International School">
            </a>

            <div class="list-group list-group-flush pb-5">
                <div class="accordion sideMenu" id="sideNavigations">

                    <a href="#" class="d-block collapsed py-3 px-4 text-center text-medium">
                        <img src="img/svg/menu/home.svg" class="svg d-block mb-2 mx-auto" alt="Dashboard">
                        Home
                    </a>
                    <a href="#" class="d-block collapsed py-3 px-4 text-center text-medium">
                        <img src="img/svg/menu/live-sessions.svg" class="svg d-block mb-2 mx-auto" alt="Live Sessions">
                        Live Sessions
                    </a>
                    <a href="#" class="d-block collapsed py-3 px-4 text-center text-medium">
                        <img src="img/svg/menu/record-sessions.svg" class="svg d-block mb-2 mx-auto" alt="Record Sessions">
                        Record Sessions
                    </a>
                    <a href="#" class="d-block collapsed py-3 px-4 text-center text-medium">
                        <img src="img/svg/menu/assignments.svg" class="svg d-block mb-2 mx-auto" alt="Assignments">
                        Assignments
                    </a>
                    <a href="#" class="d-block collapsed py-3 px-4 text-center text-medium">
                        <img src="img/svg/menu/groups.svg" class="svg d-block mb-2 mx-auto" alt="Groups">
                        Groups
                    </a>
                    <a href="#" class="d-block collapsed py-3 px-4 text-center text-medium">
                        <img src="img/svg/menu/groups.svg" class="svg d-block mb-2 mx-auto" alt="Quiz">
                        Quiz
                    </a>
                    <a href="#" class="d-block collapsed py-3 px-4 text-center text-medium">
                        <img src="img/svg/menu/attendance.svg" class="svg d-block mb-2 mx-auto" alt="Attendnace">
                        Attendnace
                    </a>
                    <a href="#" class="d-block collapsed py-3 px-4 text-center text-medium">
                        <img src="img/svg/menu/drive.svg" class="svg d-block mb-2 mx-auto" alt="Drive">
                        Drive
                    </a>
                    <a href="#" class="d-block collapsed py-3 px-4 text-center text-medium">
                        <img src="img/svg/menu/vault.svg" class="svg d-block mb-2 mx-auto" alt="Vault">
                        Vault
                    </a>
                    <a href="#" class="d-block collapsed py-3 px-4 text-center text-medium">
                        <img src="img/svg/menu/chatter.svg" class="d-block mb-2 mx-auto" alt="Chatter">
                        Chatter
                    </a>
                    <a href="#" class="d-block collapsed py-3 px-4 text-center text-medium active">
                        <img src="img/svg/menu/digital-portfolio.svg" class="svg d-block mb-2 mx-auto" alt="Digital Portfolio">
                        Digital Portfolio
                    </a>
                    <a href="#" class="d-block collapsed py-3 px-4 text-center text-medium">
                        <img src="img/svg/menu/exemplar-wall.svg" class="svg d-block mb-2 mx-auto" alt="Exemplar Wall">
                        Exemplar Wall
                    </a>
                    <a href="#" class="d-block collapsed py-3 px-4 text-center text-medium">
                        <img src="img/svg/menu/planner.svg" class="svg d-block mb-2 mx-auto" alt="My Planner">
                        My Planner
                    </a>
                    <a href="#" class="d-block collapsed py-3 px-4 text-center text-medium">
                        <img src="img/svg/menu/knowledge-hub.svg" class="svg d-block mb-2 mx-auto" alt="Knowledge Hub">
                        Knowledge Hub
                    </a>
                    <a href="#" class="d-block collapsed py-3 px-4 text-center text-medium">
                        <img src="img/svg/menu/community.svg" class="svg d-block mb-2 mx-auto" alt="Community">
                        Community
                    </a>
                    <a href="#" class="d-block collapsed py-3 px-4 text-center text-medium">
                        <img src="img/svg/menu/thinkbox.svg" class="svg d-block mb-2 mx-auto" alt="Thinkbox">
                        Thinkbox
                    </a>

                    <!-- menu with submenu -->
                    <a href="javascript:void(0)" class="d-block collapsed py-3 px-4 text-center text-medium" data-toggle="collapse" data-target="#menu-1" aria-expanded="false">
                        <img src="img/svg/menu/parents-corner.svg" class="svg d-block mb-2 mx-auto" alt="Parent's Corner">Multilevel Menu
                    </a>
                    <div id="menu-1" class="collapse" data-parent="#sideNavigations">
                        <div class="submenu">
                            <a href="#" class="py-3 px-4 d-flex align-items-center text-medium">
                                <img src="img/svg/menu/dashboard.svg" class="svg mr-3" alt="Enroll in Activities">
                                <span>Enroll in Activities</span>
                            </a>
                            <a href="#" class="py-3 px-4 d-flex align-items-center text-medium">
                                <img src="img/svg/menu/dashboard.svg" class="svg mr-3" alt="Set subjects for examination">
                                <span>Set subjects for examination</span>
                            </a>
                            <a href="#" class="py-3 px-4 d-flex align-items-center text-medium">
                                <img src="img/svg/menu/dashboard.svg" class="svg mr-3" alt="Select course / options">
                                <span>Select course / options</span>
                            </a>
                            <a href="#" class="py-3 px-4 d-flex align-items-center text-medium">
                                <img src="img/svg/menu/dashboard.svg" class="svg mr-3" alt="Leave request">
                                <span>Leave request</span>
                            </a>
                            <a href="#" class="py-3 px-4 d-flex align-items-center text-medium">
                                <img src="img/svg/menu/dashboard.svg" class="svg mr-3" alt="TC request">
                                <span>TC request</span>
                            </a>
                        </div>
                    </div>
                    <!-- menu with submenu end -->

                </div>
            </div>

        </div>
        <!-- Sidebar -->
    </header>
    <!-- header end -->

    <main class="pt-5 mx-lg-2 mt-4">
        <div class="container-fluid mt-2 mb-4">

            <div class="row sub-header bg-white sticky-top mb-3">
                <div class="col-12 d-flex justify-content-between px-3 align-items-center">
                    <nav class="breadcrumbs">
                        <ul class="d-flex align-items-center">
                            <li>Digital Portfolio</li>
                        </ul>
                    </nav>
                    <div class="other-actions">
                        <ul class="list-pattern">
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- left column -->
                <div class="col-lg-9 col-md-8 col-12">
                    <p class="text-semibold">Please select a student whose digital portfolio you want to view</p>
                    <!-- search section -->
                    <div class="row search-row">
                        <div class="col-lg-6 col-md-6 col">
                            <div class="search-with-bg">
                                <span class="icon-search"></span>
                                <input type="search" class="searchfield" placeholder="Search students by name or id">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col">
                            <div class="md-form md-outline sort-dropdown purple-select-text">
                                <label class="select-label">Sort by: </label>
                                <select class="selectpicker">
                                    <option value="NAME" selected>Name</option>
                                    <option value="ID">ID</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- search section end -->
                    <!-- students card -->
                    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 student-card-grid">
                        <div class="col mb-2 px-2">
                            <div class="card student-card pf-card p-0">
                                <div class="upper-section">
                                    <img src="img/temp/pf-bg1.png" class="pf-card-bg">
                                    <div class="image-center">
                                        <img class="rounded-circle student-img" src="img/avatar-14.jpg" alt="student name">
                                    </div>
                                    <a class="pf-notification">
                                        <img src="img/svg/ic-bell.svg">
                                        <span class="notification-count">2</span>
                                    </a>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <div class="student-info">
                                        <a href="#" class="d-block">
                                            <p class="student-name">Aabidha Jelani Basha</p>
                                            <p class="student-id">13100100034726</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2 px-2">
                            <div class="card student-card pf-card p-0 pf-incomplete">
                                <div class="upper-section">
                                    <img src="img/temp/pf-bg2.png" class="pf-card-bg">
                                    <div class="image-center">
                                        <img class="rounded-circle student-img" src="img/avatar-15.jpg" alt="student name">
                                    </div>
                                    <a class="pf-notification">
                                        <img src="img/svg/ic-bell.svg">
                                    </a>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <div class="student-info">
                                        <a href="#" class="d-block">
                                            <p class="student-name">Aabidha Jelani Basha</p>
                                            <p class="student-id">13100100034726</p>
                                        </a>
                                    </div>
                                    <span class="text-semibold text-incomplete">Incomplete Portfolio</span>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2 px-2">
                            <div class="card student-card pf-card p-0">
                                <div class="upper-section">
                                    <img src="img/temp/pf-bg3.png" class="pf-card-bg">
                                    <div class="image-center">
                                        <img class="rounded-circle student-img" src="img/avatar-16.jpg" alt="student name">
                                    </div>
                                    <a class="pf-notification">
                                        <img src="img/svg/ic-bell.svg">
                                    </a>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <div class="student-info">
                                        <a href="#" class="d-block">
                                            <p class="student-name">Aabidha Jelani Basha</p>
                                            <p class="student-id">13100100034726</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2 px-2">
                            <div class="card student-card pf-card p-0">
                                <div class="upper-section">
                                    <img src="img/temp/pf-bg4.png" class="pf-card-bg">
                                    <div class="image-center">
                                        <img class="rounded-circle student-img" src="img/avatar-17.jpg" alt="student name">
                                    </div>
                                    <a class="pf-notification">
                                        <img src="img/svg/ic-bell.svg">
                                        <span class="notification-count">2</span>
                                    </a>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <div class="student-info">
                                        <a href="#" class="d-block">
                                            <p class="student-name">Aabidha Jelani Basha</p>
                                            <p class="student-id">13100100034726</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2 px-2">
                            <div class="card student-card pf-card p-0">
                                <div class="upper-section">
                                    <img src="img/temp/pf-bg5.png" class="pf-card-bg">
                                    <div class="image-center">
                                        <img class="rounded-circle student-img" src="img/avatar-18.jpg" alt="student name">
                                    </div>
                                    <a class="pf-notification">
                                        <img src="img/svg/ic-bell.svg">
                                        <span class="notification-count">2</span>
                                    </a>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <div class="student-info">
                                        <a href="#" class="d-block">
                                            <p class="student-name">Aabidha Jelani Basha</p>
                                            <p class="student-id">13100100034726</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2 px-2">
                            <div class="card student-card pf-card p-0">
                                <div class="upper-section">
                                    <img src="img/temp/pf-bg6.png" class="pf-card-bg">
                                    <div class="image-center">
                                        <img class="rounded-circle student-img" src="img/avatar-19.jpg" alt="student name">
                                    </div>
                                    <a class="pf-notification">
                                        <img src="img/svg/ic-bell.svg">
                                        <span class="notification-count">2</span>
                                    </a>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <div class="student-info">
                                        <a href="#" class="d-block">
                                            <p class="student-name">Aabidha Jelani Basha</p>
                                            <p class="student-id">13100100034726</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2 px-2">
                            <div class="card student-card pf-card p-0">
                                <div class="upper-section">
                                    <img src="img/temp/pf-bg1.png" class="pf-card-bg">
                                    <div class="image-center">
                                        <img class="rounded-circle student-img" src="img/avatar-20.jpg" alt="student name">
                                    </div>
                                    <a class="pf-notification">
                                        <img src="img/svg/ic-bell.svg">
                                        <span class="notification-count">2</span>
                                    </a>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <div class="student-info">
                                        <a href="#" class="d-block">
                                            <p class="student-name">Aabidha Jelani Basha</p>
                                            <p class="student-id">13100100034726</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2 px-2">
                            <div class="card student-card pf-card p-0">
                                <div class="upper-section">
                                    <img src="img/temp/pf-bg1.png" class="pf-card-bg">
                                    <div class="image-center">
                                        <img class="rounded-circle student-img" src="img/avatar-21.jpg" alt="student name">
                                    </div>
                                    <a class="pf-notification">
                                        <img src="img/svg/ic-bell.svg">
                                        <span class="notification-count">2</span>
                                    </a>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <div class="student-info">
                                        <a href="#" class="d-block">
                                            <p class="student-name">Aabidha Jelani Basha</p>
                                            <p class="student-id">13100100034726</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2 px-2">
                            <div class="card student-card pf-card p-0">
                                <div class="upper-section">
                                    <img src="img/temp/pf-bg1.png" class="pf-card-bg">
                                    <div class="image-center">
                                        <img class="rounded-circle student-img" src="img/avatar-14.jpg" alt="student name">
                                    </div>
                                    <a class="pf-notification">
                                        <img src="img/svg/ic-bell.svg">
                                        <span class="notification-count">2</span>
                                    </a>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <div class="student-info">
                                        <a href="#" class="d-block">
                                            <p class="student-name">Aabidha Jelani Basha</p>
                                            <p class="student-id">13100100034726</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2 px-2">
                            <div class="card student-card pf-card p-0">
                                <div class="upper-section">
                                    <img src="img/temp/pf-bg1.png" class="pf-card-bg">
                                    <div class="image-center">
                                        <img class="rounded-circle student-img" src="img/avatar-15.jpg" alt="student name">
                                    </div>
                                    <a class="pf-notification">
                                        <img src="img/svg/ic-bell.svg">
                                        <span class="notification-count">2</span>
                                    </a>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <div class="student-info">
                                        <a href="#" class="d-block">
                                            <p class="student-name">Aabidha Jelani Basha</p>
                                            <p class="student-id">13100100034726</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2 px-2">
                            <div class="card student-card pf-card p-0">
                                <div class="upper-section">
                                    <img src="img/temp/pf-bg1.png" class="pf-card-bg">
                                    <div class="image-center">
                                        <img class="rounded-circle student-img" src="img/avatar-16.jpg" alt="student name">
                                    </div>
                                    <a class="pf-notification">
                                        <img src="img/svg/ic-bell.svg">
                                        <span class="notification-count">2</span>
                                    </a>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <div class="student-info">
                                        <a href="#" class="d-block">
                                            <p class="student-name">Aabidha Jelani Basha</p>
                                            <p class="student-id">13100100034726</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2 px-2">
                            <div class="card student-card pf-card p-0">
                                <div class="upper-section">
                                    <img src="img/temp/pf-bg1.png" class="pf-card-bg">
                                    <div class="image-center">
                                        <img class="rounded-circle student-img" src="img/avatar-17.jpg" alt="student name">
                                    </div>
                                    <a class="pf-notification">
                                        <img src="img/svg/ic-bell.svg">
                                        <span class="notification-count">2</span>
                                    </a>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <div class="student-info">
                                        <a href="#" class="d-block">
                                            <p class="student-name">Aabidha Jelani Basha</p>
                                            <p class="student-id">13100100034726</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2 px-2">
                            <div class="card student-card pf-card p-0">
                                <div class="upper-section">
                                    <img src="img/temp/pf-bg1.png" class="pf-card-bg">
                                    <div class="image-center">
                                        <img class="rounded-circle student-img" src="img/avatar-18.jpg" alt="student name">
                                    </div>
                                    <a class="pf-notification">
                                        <img src="img/svg/ic-bell.svg">
                                        <span class="notification-count">2</span>
                                    </a>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <div class="student-info">
                                        <a href="#" class="d-block">
                                            <p class="student-name">Aabidha Jelani Basha</p>
                                            <p class="student-id">13100100034726</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2 px-2">
                            <div class="card student-card pf-card p-0">
                                <div class="upper-section">
                                    <img src="img/temp/pf-bg1.png" class="pf-card-bg">
                                    <div class="image-center">
                                        <img class="rounded-circle student-img" src="img/avatar-19.jpg" alt="student name">
                                    </div>
                                    <a class="pf-notification">
                                        <img src="img/svg/ic-bell.svg">
                                        <span class="notification-count">2</span>
                                    </a>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <div class="student-info">
                                        <a href="#" class="d-block">
                                            <p class="student-name">Aabidha Jelani Basha</p>
                                            <p class="student-id">13100100034726</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2 px-2">
                            <div class="card student-card pf-card p-0">
                                <div class="upper-section">
                                    <img src="img/temp/pf-bg1.png" class="pf-card-bg">
                                    <div class="image-center">
                                        <img class="rounded-circle student-img" src="img/avatar-20.jpg" alt="student name">
                                    </div>
                                    <a class="pf-notification">
                                        <img src="img/svg/ic-bell.svg">
                                        <span class="notification-count">2</span>
                                    </a>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <div class="student-info">
                                        <a href="#" class="d-block">
                                            <p class="student-name">Aabidha Jelani Basha</p>
                                            <p class="student-id">13100100034726</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-2 px-2">
                            <div class="card student-card pf-card p-0">
                                <div class="upper-section">
                                    <img src="img/temp/pf-bg1.png" class="pf-card-bg">
                                    <div class="image-center">
                                        <img class="rounded-circle student-img" src="img/avatar-21.jpg" alt="student name">
                                    </div>
                                    <a class="pf-notification">
                                        <img src="img/svg/ic-bell.svg">
                                        <span class="notification-count">2</span>
                                    </a>
                                </div>
                                <div class="card-body d-flex justify-content-center align-items-center">
                                    <div class="student-info">
                                        <p class="student-name">Aabidha Jelani Basha</p>
                                        <p class="student-id">13100100034726</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pagination-section">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="pagination-container">
                                <span>30 students | Page 1 of 16</span>
                                <ul class="pagination">
                                    <li class="page-item active"><a class="page-link">1</a></li>
                                    <li class="page-item"><a class="page-link">2</a></li>
                                    <li class="page-item"><a class="page-link">3</a></li>
                                    <li class="page-item"><a class="page-link">4</a></li>
                                    <li class="page-item"><a class="page-link">5</a></li>
                                    <li class="page-item"><a class="page-link">6</a></li>
                                    <li class="page-item"><a class="page-link">7</a></li>
                                    <li class="page-item"><a class="page-link">8</a></li>
                                    <li class="page-item"><a class="page-link">9</a></li>
                                    <li class="page-item"><a class="page-link">10</a></li>
                                    <li class="page-item next-btn"><a class="page-link">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- students card end -->

                </div>
                <!-- left column -->
                <!-- right column -->
                <div class="col-lg-3 col-md-4 col-12">

                    <!-- filter start -->
                    <div class="card studentDetails p-3">
                        <div class="group-filter mb-3">
                            <div class="filter-header">
                                <span class="filter-title">Filter students by MIS group</span>
                                <form class="search-filter-form" action="#">
                                    <div class="search-container">
                                        <input type="search" class="search-field custom-search">
                                        <input type="text" class="search-text-box" placeholder="Search of a group to filter with">
                                        <a href="javascript:void(0)" class="close-icon"></a>
                                        <!-- <button class="close-icon"></button> -->
                                    </div>
                                </form>
                            </div>
                            <ul class="filter-item-list">
                                <li class="check-item grpSearchList1">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="308009" value="308009" data-groupname="20/02/L/MAT" name="groupFilter" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                        <label class="custom-control-label text-semibold pl-2" for="308009">
                                            20/02/L/MAT
                                        </label>
                                    </div>
                                </li>
                                <li class="check-item grpSearchList1">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="308011" value="308011" data-groupname="20/02/M/MAT" name="groupFilter" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                        <label class="custom-control-label text-semibold pl-2" for="308011">
                                            20/02/M/MAT
                                        </label>
                                    </div>
                                </li>
                                <li class="check-item grpSearchList1">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="308008" value="308008" data-groupname="20/02/O/MAT" name="groupFilter" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                        <label class="custom-control-label text-semibold pl-2" for="308008">
                                            20/02/O/MAT
                                        </label>
                                    </div>
                                </li>
                                <li class="check-item grpSearchList1">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="308011" value="308011" data-groupname="20/02/M/MAT" name="groupFilter" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                        <label class="custom-control-label text-semibold pl-2" for="308011">
                                            20/02/M/MAT
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="group-filter">
                            <div class="filter-header">
                                <span class="filter-title">Filter students by other group</span>
                                <form class="search-filter-form" action="#">
                                    <div class="search-container">
                                        <input type="search" class="search-field custom-search">
                                        <input type="text" class="search-text-box" placeholder="Search of a group to filter with">
                                        <a href="javascript:void(0)" class="close-icon"></a>
                                    </div>
                                </form>
                            </div>
                            <ul class="filter-item-list">
                                <li class="check-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkbox-1" value="">
                                        <label class="custom-control-label text-semibold pl-2" for="chkbox-1">
                                            Year 7 Group
                                        </label>
                                    </div>
                                </li>
                                <li class="check-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkbox-2" value="">
                                        <label class="custom-control-label text-semibold pl-2" for="chkbox-2">
                                            Theorems Revision (20)
                                        </label>
                                    </div>
                                </li>
                                <li class="check-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkbox-3" value="">
                                        <label class="custom-control-label text-semibold pl-2" for="chkbox-3">
                                            Arabic Drama (35)
                                        </label>
                                    </div>
                                </li>
                                <li class="check-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkbox-4" value="">
                                        <label class="custom-control-label text-semibold pl-2" for="chkbox-4">
                                            Arabic TBS Primary (16)
                                        </label>
                                    </div>
                                </li>
                                <li class="check-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkbox-5" value="">
                                        <label class="custom-control-label text-semibold pl-2" for="chkbox-5">
                                            English Year 9 ESL (31)
                                        </label>
                                    </div>
                                </li>
                                <li class="check-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkbox-6" value="">
                                        <label class="custom-control-label text-semibold pl-2" for="chkbox-6">
                                            French Revision (11)
                                        </label>
                                    </div>
                                </li>
                                <li class="check-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkbox-7" value="">
                                        <label class="custom-control-label text-semibold pl-2" for="chkbox-7">
                                            Year 7 Group
                                        </label>
                                    </div>
                                </li>
                                <li class="check-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkbox-8" value="">
                                        <label class="custom-control-label text-semibold pl-2" for="chkbox-8">
                                            Theorems Revision (20)
                                        </label>
                                    </div>
                                </li>
                                <li class="check-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkbox-9" value="">
                                        <label class="custom-control-label text-semibold pl-2" for="chkbox-9">
                                            GIM Test Group (11)
                                        </label>
                                    </div>
                                </li>
                                <li class="check-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkbox-10" value="">
                                        <label class="custom-control-label text-semibold pl-2" for="chkbox-10">
                                            Year 8 Group Mathematics (20)
                                        </label>
                                    </div>
                                </li>
                                <li class="check-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkbox-11" value="">
                                        <label class="custom-control-label text-semibold pl-2" for="chkbox-11">
                                            Year 7 Group
                                        </label>
                                    </div>
                                </li>
                                <li class="check-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkbox-12" value="">
                                        <label class="custom-control-label text-semibold pl-2" for="chkbox-12">
                                            Theorems Revision (20)
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- filter end -->

                </div>
                <!-- right column -->

            </div>

            <div class="row">

            </div>

        </div>
    </main>

    <!-- footer start -->
    <footer>
        <p class="m-0 text-center">&copy; Copyright, GEMS Education</p>
    </footer>
    <!-- footer end -->
    <div id="assignment-popover"></div>

    <div role="alert" class="paymentDue-toast d-none z-depth-2" data-autohide="true">
        <div class="toast-header">
            <strong class="mr-auto text-primary">Fee Payment Due</strong>
            <button type="button" class="ml-2 mb-1 close close-toast" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body p-3">
            <h3 class="mb-3">AED 2000 <span class="text-danger rounded py-1 px-3 ml-3">Due in 2 days</span></h3>
            <p class="m-0">Now it’s easy to set Auto Pay so that you don’t have to worry about fees anymore.</p>
            <button type="button" class="btn btn-primary btn-sm m-0 mt-3">Pay Now</button>
        </div>
    </div>

    <!-- preloader start -->
    <div class="loader-wrapper" id="loader-3">
        <div id="loader"></div>
        <div id="loader"></div>
        <div id="loader"></div>
        <div id="loader"></div>
        <div id="loader"></div>
    </div>
    <!-- preloader end -->
    <!-- SCRIPTS -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <script type="text/javascript" src="js/addons/bootstrap-select.js"></script>
    <script type="text/javascript" src="js/addons/moment.js"></script>
    <script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript" src="js/custom.js"></script>
    <script>
    $(document).ready(function() {

        $('.paymentDue-toast').addClass('animated fadeInRight');
        $('body').on('click', '.close-toast', function() {
            $(this).parent().parent().fadeOut();
        })

        $(".sidebar-fixed .list-group").mCustomScrollbar({
            setHeight: "86%",
            autoExpandScrollbar: true,
            autoHideScrollbar: true,
            scrollbarPosition: "outside"
        });
        $(".group-filter .filter-item-list").mCustomScrollbar({
            autoExpandScrollbar: true,
            scrollbarPosition: "outside"
        });

        $('.loader-wrapper').fadeOut(500, function() {
            //$('.loader-wrapper').remove();
        });
        $(".notification-list").mCustomScrollbar({
            //setHeight: "76%",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true,
        });

        $('.group-filter .search-container >.custom-search').click(function(e){
            let parentBlock = $(e.currentTarget).parents('.search-container');
            let headerBlock = $(e.currentTarget).parents('.group-filter');
            parentBlock.addClass('active-block');
            parentBlock.find('.search-text-box').show();
            $('.custom-search').addClass('search-input');
            headerBlock.find('.filter-title').hide();
            parentBlock.find('.close-icon').addClass('show-icon');
        });
        $('.group-filter .search-container >.close-icon').click(function(e){
            let parentBlock = $(e.currentTarget).parents('.search-container');
            let headerBlock = $(e.currentTarget).parents('.group-filter');
            parentBlock.removeClass('active-block');
            parentBlock.find('.search-text-box').hide();
            $('.custom-search').removeClass('search-input');
            headerBlock.find('.filter-title').show('slow');
            parentBlock.find('.close-icon').removeClass('show-icon');
        });
    });
    </script>
</body>
</html>