﻿@model Phoenix.Models.SessionConfiguration
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization;

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Live Session Configuration</h4>
                <div class="column-padding pt-3 pb-3">
                    @using (Ajax.BeginForm("SaveSchoolSessionStatus", "Schools", new AjaxOptions { OnSuccess = "onSaveSuccess" }, new { }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="custom-control custom-checkbox custom-control-inline mt-2">
                                    @Html.CheckBoxFor(e => e.ZoomSessionEnabled, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="ZoomSessionEnabled">
                                        @ResourceManager.GetString("School.LiveSession.EnableZoomSessions")
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="custom-control custom-checkbox custom-control-inline mt-2">
                                    @Html.CheckBoxFor(e => e.TeamsSessionEnabled, new { @class = "custom-control-input" })
                                    <label class="custom-control-label" for="TeamsSessionEnabled">@ResourceManager.GetString("School.LiveSession.EnableTeamsSessions")</label>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-12 text-right">
                                <button type="submit" class="btn btn-primary m-0 waves-effect waves-light">@ResourceManager.GetString("Shared.Buttons.Save")</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function onSaveSuccess(data) {
            globalFunctions.showMessage(data.NotificationType, data.Message);
        }
    </script>
}