﻿
@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.SchoolInformation>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Helpers.Extensions;

@{
    var isAdmin = SessionHelper.CurrentSession.IsAdmin;
}
<div class="table-wrapper column-padding mb-2 p-0">
    <table id="tbl_schoolUnits" class="table table-bordered table-hover w-100">
        <thead>
            <tr>
                <th>
                    <small class="text-semibold">
                        @ResourceManager.GetString("School.SchoolList.SchoolName")
                    </small>
                </th>
                <th>
                    <small class="text-semibold">
                        @ResourceManager.GetString("School.SchoolList.SchoolShortName")
                    </small>
                </th>
                @if (isAdmin)
                {
                    <th>
                        <small class="text-semibold">
                            @ResourceManager.GetString("School.SchoolList.ClassroomStatus")
                        </small>
                    </th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PageRecords)
            {
                <tr>
                    <td>@item.SchoolName</td>
                    <td>@item.SchoolShortName</td>
                    @if (isAdmin)
                    {
                        <td>
                            <input onchange="schoolFunctions.toggleClassRoomStatus(this, @item.SchoolId)" data-offstyle="danger" data-schoolid="@item.SchoolId" class="chk-bootstrap-toggle chk-toggle-classroom" @(item.IsClassroomActive ? "checked" : "") type="checkbox" data-toggle="toggle" data-on="@ResourceManager.GetString("Shared.Labels.Active")" data-off="@ResourceManager.GetString("Shared.Labels.DeActive")" data-onstyle="primary" data-size="small" data-width="95">
                        </td>
                    }
                </tr>
            }
            @if (!Model.PageRecords.Any())
            {
                <tr>
                    <td colspan="@(isAdmin ? "4" : "3")">
                        <span> @ResourceManager.GetString("Shared.Labels.NoRecords") </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.Partial("_PaginationIndex", Model)
</div>

@Html.Hidden("PageIndexNumber", Model.PageIndex)
<script>
    $("input[type=checkbox].chk-bootstrap-toggle").bootstrapToggle("destroy").bootstrapToggle();
</script>
