﻿@using Phoenix.Common.Localization;

<link href="~/Content/css/addons/bootstrap-toggle.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="title-with-fields position-relative">
                    <h3 class="card-title col-lg-4">@ResourceManager.GetString("School.SchoolList.BusinessSchools")</h3>
                    <div class="task-search  page-search col-lg-7 col-md-7 col-12">
                        <div class="search-wrapper">
                            <i class="fas fa-search active"></i>
                            <input type="text" class="search-school search-field" placeholder='@ResourceManager.GetString("School.SchoolList.SearchSchools")'>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-2 col-12">
                        <div class="pull-right text-right">
                            <button id="btnSchoolSearch" name="btnsearchgrp" type="button" class="btn btn-primary m-0">@ResourceManager.GetString("Shared.Buttons.Search")</button>
                        </div>
                    </div>
                </div>
                <div class="table-wrapper column-padding pt-2 pagination-panel" id="divBusinessSchoolUnit">

                </div>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}


@section scripts{
    <script>
        translatedResources.deactiveConfirmMsg = '@ResourceManager.GetString("School.SchoolList.ClassroomDeactivateConfirmMsg")';
        translatedResources.activeConfirmMsg = '@ResourceManager.GetString("School.SchoolList.ClassroomActivateConfirmMsg")';
    </script>
    <script src="~/Content/js/addons/bootstrap-toggle.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
    <script src="~/Content/js/custom/SchoolInfo/BusinessUnitSchool.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
}
