﻿@model Phoenix.VLE.Web.EditModels.QuizQuestionsEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{
    var CorrectAnswerCount = 0;
    foreach (var answersData in Model.Answers.Where(x => x.IsCorrectAnswer))
    {
        CorrectAnswerCount++;
    }
    var MTPEachQuesMarks = (float)Model.Marks / CorrectAnswerCount;
    var MTPQuestionId = Model.QuizQuestionId;
}
<style>


    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #eee;
        color: #111;
    }

    .score {
        font-family: monospace;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0.25rem;
        margin: 1rem;
        position: relative;
        transition: opacity 0.2s;
    }

    #play-again-btn {
        position: absolute;
        top: -0.5rem;
        left: 50%;
        margin-left: -50px;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        background-color: #111;
        border: 5px double #fff;
        border-radius: 14px;
        padding: 8px 10px;
        outline: none;
        letter-spacing: .05em;
        cursor: pointer;
        display: none;
        opacity: 0;
        transition: opacity 0.5s, transform 0.5s, background-color 0.2s;
    }

        #play-again-btn:hover {
            background-color: #333;
        }

        #play-again-btn:active {
            background-color: #555;
        }

        #play-again-btn.play-again-btn-entrance {
            opacity: 1;
            transform: translateX(6rem);
        }

    .draggable-item-list {
        display: flex;
        justify-content: center;
        margin: 1rem 1rem 1.5rem 1rem;
        transition: opacity 0.5s;
    }

    .draggable {
        height: 5rem;
        width: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        font-weight: bold;
        margin: 0rem 0.5rem;
        cursor: move;
        transition: opacity 0.2s;
    }

        .draggable:hover {
            opacity: 0.5;
        }

    .matching-pair-list {
        transition: opacity 0.5s;
    }

    .matching-pair {
        height: 6rem;
        width: 22rem;
        margin: 1rem auto;
        display: flex;
        justify-content: space-between;
    }

        .matching-pair span {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            user-select: none;
        }

    .label {
        width: 15rem;
        font-size: 1.3rem;
    }

    .droppable {
        width: 6rem;
        font-size: 4rem;
        background-color: #fff;
        border: 3px dashed #111;
        transition: 0.2s;
    }

    .droppable-hover {
        background-color: #bee3f0;
        transform: scale(1.1);
    }

    .dropped {
        border-style: solid;
    }

    .dragged {
        user-select: none;
        opacity: 0.1;
        cursor: default;
    }

    .draggable.dragged:hover {
        opacity: 0.1;
    }

    .given-answers li, .correct-answers li {
        width: 20%;
    }

        .given-answers li img, .correct-answers li img {
            width: 100px;
            height: 100px;
            display: inline-block;
        }

        .given-answers li span, .correct-answers li span {
            font-weight: 500;
            font-size: 15px;
            margin-bottom: 5px;
        }
</style>
<div class="column-padding pt-3 pb-3">
    @*<button id="play-again-btn">Refresh</button>*@

    <section class="draggable-item-list " id="draggable-items_@Model.QuizQuestionId">
        <!-- Will be dynamically populated - Example Element: -->
        <!-- <i class="fab fa-codepen draggable" draggable="true" style="color: #111111;" id="codepen"></i> -->
    </section>
    <section class="matching-pair-list " id="matching-pairs_@Model.QuizQuestionId">
        <!-- Will be dynamically populated - Example Element: -->
        <!-- <div class="matching-pair">
            <span class="label">Codepen</span><span class="droppable" data-brand="codepen"></span>
        </div> -->
    </section>
    <section class="score">
        <span class="correct d-none"></span><span class="total d-none"></span>
        <button id="play-again-btn">Play Again</button>
        @*<button class="btn btn-outline-primary btn-md m-0 btnRefresh" data-quizquestionid="@Model.QuizQuestionId" id="btnRefresh"></button>*@
    </section>
    <button type="button" id="play-again-btn" class="btn btn-outline-primary">Refresh</button>
</div>

<script type="text/javascript">
            //CHANGES FOR MATCH THE PAIR


    //$(document).ready(function () {
    //$('#MTPRetest').hide();
    //$('#btnRefresh').hide();
        var brands = [];
        var matchThePairList=@(Model.Answers.Any() ? Html.Raw(Json.Encode(Model.Answers)) : Html.Raw(Json.Encode(new List<Phoenix.Models.Answers>())));
        matchThePairList.forEach(function (index) {
           // var obtainMark=
            //index.forEach(function (item) {
                var elementMTP = {
                    iconName: "@PhoenixConfiguration.Instance.ReadFilePath" + "@Constants.QuizMTPQuestion" + index.ResourcePath,
                    brandName: index.AnswerText,
                                    color: 'myCOLOR',
                    quizAnswerId: index.QuizAnswerId,
                                    quizQuestionId:@MTPQuestionId,
                                    obtainedMarks:@MTPEachQuesMarks
                                   };
                brands.push(elementMTP)
            //});
        });
        var correct = 0;
        var total = 0;
        var totalDraggableItems = brands.length;
        var totalMatchingPairs = brands.length; // Should be <= totalDraggableItems

        var scoreSection = document.querySelector(".score");
        var correctSpan = scoreSection.querySelector(".correct");
        var totalSpan = scoreSection.querySelector(".total");
        var playAgainBtn = scoreSection.querySelector("#play-again-btn");
        //var refreshBtn = scoreSection.querySelector(".btnRefresh");
        var draggableClass_@MTPQuestionId = "#draggable-items_" +@MTPQuestionId;
        var matchingClass_@MTPQuestionId = "#matching-pairs_" +@MTPQuestionId;
        var draggableItems = document.querySelector(draggableClass_@MTPQuestionId);
        var matchingPairs = document.querySelector(matchingClass_@MTPQuestionId);
        var draggableElements;
        var droppableElements;
        //refreshBtn.style.display = "none";
        initiateGame();

        function initiateGame() {
            var randomDraggableBrands = generateRandomItemsArray(totalDraggableItems, brands);
            var randomDroppableBrands = totalMatchingPairs < totalDraggableItems ? generateRandomItemsArray(totalMatchingPairs, randomDraggableBrands) : randomDraggableBrands;
            var alphabeticallySortedRandomDroppableBrands = [...randomDroppableBrands].sort((a, b) => a.brandName.toLowerCase().localeCompare(b.brandName.toLowerCase()));

            for (var i = 0; i < randomDraggableBrands.length; i++) {
                draggableItems.insertAdjacentHTML("beforeend", `
            <img src="${randomDraggableBrands[i].iconName}" class="fab fa-${randomDraggableBrands[i].iconName} draggable border p-1" draggable="true" data-quizanswerid="${randomDraggableBrands[i].quizAnswerId}" data-quizquestionid="${randomDraggableBrands[i].quizQuestionId}" data-obtainmark="${randomDraggableBrands[i].obtainedMarks}" style="color: ${randomDraggableBrands[i].color};" id="${randomDraggableBrands[i].iconName}">
        `);
            }
            // Create "matching-pairs" and append to DOM
            for (var i = 0; i < alphabeticallySortedRandomDroppableBrands.length; i++) {
                matchingPairs.insertAdjacentHTML("beforeend", `
        <div class="matching-pair">
            <span class="label">${alphabeticallySortedRandomDroppableBrands[i].brandName}</span>
            <span class="droppable" data-brand="${alphabeticallySortedRandomDroppableBrands[i].iconName}" data-quizanswerid="${alphabeticallySortedRandomDroppableBrands[i].quizAnswerId}" id="${alphabeticallySortedRandomDroppableBrands[i].quizAnswerId}" ></span>
        </div>
        `);
            }

            draggableElements = document.querySelectorAll(".draggable");
            droppableElements = document.querySelectorAll(".droppable");

            draggableElements.forEach(elem => {
                elem.addEventListener("dragstart", dragStart);

            });

            droppableElements.forEach(elem => {
                elem.addEventListener("dragenter", dragEnter);
                elem.addEventListener("dragover", dragOver);
                elem.addEventListener("dragleave", dragLeave);
                elem.addEventListener("drop", drop);
            });
        }

        // Drag and Drop Functions

        //Events fired on the drag target

        function dragStart(event) {
            event.dataTransfer.setData("text", event.target.id); // or "text/plain"
        }

        //Events fired on the drop target

        function dragEnter(event) {
            if (event.target.classList && event.target.classList.contains("droppable") && !event.target.classList.contains("dropped")) {
                event.target.classList.add("droppable-hover");
            }
        }

        function dragOver(event) {
            if (event.target.classList && event.target.classList.contains("droppable") && !event.target.classList.contains("dropped")) {
                event.preventDefault();
            }
        }

        function dragLeave(event) {
            if (event.target.classList && event.target.classList.contains("droppable") && !event.target.classList.contains("dropped")) {
                event.target.classList.remove("droppable-hover");
            }
        }

        function drop(event) {
            //refreshBtn.style.display = "none";
            event.preventDefault();
            event.target.classList.remove("droppable-hover");
            var draggableElementBrand = event.dataTransfer.getData("text");
            var droppableElementBrand = event.target.getAttribute("data-brand");
            var quizanswerid = event.target.getAttribute("data-quizanswerid");
            var isCorrectMatching = draggableElementBrand === droppableElementBrand;
            total++;

            var draggableElement = document.getElementById(draggableElementBrand);
            event.target.classList.add("dropped");
            draggableElement.classList.add("dragged");
            draggableElement.setAttribute("draggable", "false");
            event.target.innerHTML = `<img src="${draggableElementBrand}" class="fab fa-${draggableElementBrand} draggedAns h-100 w-100" style="color: ${draggableElement.style.color};" id="${draggableElementBrand}">`;
            $("#" + event.target.id).addClass('disabled');
            correct++;
            //refreshBtn.style.display = "none";
            //Add TO LIST
            if(isCorrectMatching)
            {
                var QuizId = $("#QuizId").val();
                var quesId = draggableElement.dataset.quizquestionid;
                var ansId = quizanswerid;
                var ansValue = draggableElement.id;
                var obMarks = draggableElement.dataset.obtainmark;
                list.push({
                    QuizId: QuizId, QuizQuestionId: quesId
                    , QuizAnswerId: ansId, QuizAnswerText: ansValue, ObtainedMarks: obMarks
                });
            }else
            {
                var QuizId = $("#QuizId").val();
                var quesId = draggableElement.dataset.quizquestionid;
                var ansId = quizanswerid;
                var ansValue = draggableElement.id;
                var obMarks = 0.0;
                list.push({
                    QuizId: QuizId, QuizQuestionId: quesId
                    , QuizAnswerId: ansId, QuizAnswerText: ansValue, ObtainedMarks: obMarks
                });
            }

            scoreSection.style.opacity = 0;
            setTimeout(() => {
                correctSpan.textContent = correct;
                totalSpan.textContent = total;
                scoreSection.style.opacity = 1;
            }, 200);
            if (correct === Math.min(totalMatchingPairs, totalDraggableItems)) { // Game Over!!
                playAgainBtn.style.display = "hide";
                setTimeout(() => {
                    playAgainBtn.classList.add("play-again-btn-entrance");
                }, 200);
            }
        }

        // Other Event Listeners
        playAgainBtn.addEventListener("click", playAgainBtnClick);
        function playAgainBtnClick() {
            playAgainBtn.classList.remove("play-again-btn-entrance");
            correct = 0;
            total = 0;
            draggableItems.style.opacity = 0;
            matchingPairs.style.opacity = 0;
            setTimeout(() => {
                scoreSection.style.opacity = 0;
            }, 100);
            setTimeout(() => {
                playAgainBtn.style.display = "none";
                while (draggableItems.firstChild) draggableItems.removeChild(draggableItems.firstChild);
                while (matchingPairs.firstChild) matchingPairs.removeChild(matchingPairs.firstChild);
                initiateGame();
                correctSpan.textContent = correct;
                totalSpan.textContent = total;
                draggableItems.style.opacity = 1;
                matchingPairs.style.opacity = 1;
                scoreSection.style.opacity = 1;
            }, 500);
        }

        //refresh
        //refreshBtn.addEventListener("click", refreshBtnClick);
        //function refreshBtnClick() {
        //    correct = 0;
        //    total = 0;
        //    draggableItems.style.opacity = 0;
        //    matchingPairs.style.opacity = 0;
        //    setTimeout(() => {
        //        scoreSection.style.opacity = 0;
        //    }, 100);
        //    setTimeout(() => {
        //        refreshBtn.style.display = "none";
        //        while (draggableItems.firstChild) draggableItems.removeChild(draggableItems.firstChild);
        //        while (matchingPairs.firstChild) matchingPairs.removeChild(matchingPairs.firstChild);
        //        initiateGame();
        //        correctSpan.textContent = correct;
        //        totalSpan.textContent = total;
        //        draggableItems.style.opacity = 1;
        //        matchingPairs.style.opacity = 1;
        //        scoreSection.style.opacity = 1;
        //    }, 500);
        //}
        // Auxiliary functions
        function generateRandomItemsArray(n, originalArray) {
            var res = [];
            var clonedArray = [...originalArray];
            if (n > clonedArray.length) n = clonedArray.length;
            for (var i = 1; i <= n; i++) {
                var randomIndex = Math.floor(Math.random() * clonedArray.length);
                res.push(clonedArray[randomIndex]);
                clonedArray.splice(randomIndex, 1);
            }
            return res;
        }

        //$("body").on("click", "#submit-quiz", function () {
        //    var finalCount = 0;
        //    $(".matching-pair").each(function () {
        //        var queId = $(this).find(".dropped").data("brand");
        //        var ansId = $(this).find(".dropped").find(".draggedAns").attr("id");

        //        if (queId === ansId) {
        //            finalCount++;
        //        }

        //    });
        //    console.log(finalCount);
        //});
    //});

        //END MATCH THE PAIR
</script>
