.leave-request-breadcrumb {
    li {
        color: #4b366b;
        font-weight: 700;
        font-size: rem($base-font-size);
        &.active {
            color: #4b366b;
        }
    }
}
.leave-request-container {
    .btn-primary {
        background-color: $primary-color !important;
        font-size: rem($base-font-size - 5) !important;
        font-weight: 600 !important;
    }
    .nav-tabs {
        padding-left: rem(15px);
        .nav-link {
            color: #644190;
            font-size: rem($base-font-size);
            font-weight: 600;
            opacity: 0.5;
            padding: rem(13px 29px);
            @include media-breakpoint-down(sm) {
                padding: rem(10px 12px);
            }
            &.active {
                border-color: #4b366b #4b366b #fff;
                color: #4b366b;
                opacity: 1;
            }
        }
    }
    .leave-request-card {
        padding: rem(20px);
        border-radius: rem(4px);
        .toggle-wrapper {
            background-color: #f1ecfb;
            display: flex;
            border-radius: rem(64px);
            padding: rem(3px);
            @include media-breakpoint-down(sm){
                display: inline-flex;
                margin-bottom: 10px;
            }
        }
        .panel-header {
            display: flex;
            justify-content: space-between;
            @include media-breakpoint-down(sm){
                display: inline-block;
            }
            .letter-request-toggle {
                border-radius: rem(64px);
                cursor: pointer;
                font-size: rem($base-font-size - 3);
                color: #695d7e;
                font-weight: 600;
                padding: rem(7px 9px);
                &.active {
                    color: #fff;
                    background-color: #4b366b;
                    font-weight: 500;
                }
            }

            .btn-outline-primary {
                border: 1px solid #4b316c !important;
                color: #4b316c !important;
                font-size: rem($base-font-size - 5) !important;
                font-weight: 600!important;
                &:hover {
                    background-color: $primary-color !important;
                }
            }
        }
        .dataTables_length,.dataTables_filter,.dataTables_info,.dataTables_paginate {
            display: none;
        }
        .leaveLetter,.tableLeaveRequest, .tableLeaveRequestPlaceholder {
            margin: rem(15px 0);
            thead {
                tr {
                    background-color: $primary-color;
                    color: #fff;
                }
            }
            tbody {
                tr {
                    cursor: pointer;
                    &.even {
                        background-color:#fafafa;
                    }
                    .write {
                        color: #6631bf;
                    }
                    .badge {
                        padding: rem(7px 11px);
                        border-radius: rem(50px);
                        font-weight: 500;
                        font-size: rem($base-font-size - 3);
                        &.badge-warning {
                            background-color: #f5bb1c;
                        }
                        &.no-badge {
                            background-color:#eff6f8;
                            color: #0f2445 !important;
                        }
                        &.badge-success {
                            background-color: #95ce22;
                        }
                    }
                }
            }
        } 
        .leave-request-alert {
            border: solid rem(1px) #bda6e3;
            background-color: #fcfaff;
            border-radius: rem(7px);
            padding: rem(10px);
            margin: rem(10px 15px 10px 0px);
            color: #4b316c;
            img {
                padding-right: 10px;
            }
        }
    }
    .disclaimer-leave-request, .disclaimer-leave-letter {
        font-size: rem($base-font-size - 2);
        margin-top: rem(30px);
        span {
            color: #000000;
            font-weight: 600;
        }
        p {
            color: #484848;
            font-weight: 500;
            margin-bottom: 5px;
        }
    }
    .tableLeaveRequestPlaceholder {
        .placeholder-row {
            text-align: center;
            .leave-request-placeholder {
                border: solid rem(1px) #bda6e3;
                background-color: #fcfaff;
                display: inline-block;
                border-radius: rem(10px);
                padding: rem(27px 47px);
                .placeholder-card {
                    p {
                        color: #4b316c;
                        font-size: rem($base-font-size - 2);
                        font-weight: 600;
                        opacity: 0.4;
                        margin-top: 10px;
                    }
                    button {
                        font-size: rem($base-font-size - 4);
                        font-weight: 600 !important;
                    }
                }
            }
            &:hover {
                background: #fff;
            }
        }
    }
}
.hide-item {
    display: none;
}