﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    var panelTitle = ResourceManager.GetString("Course.StandardDetails.StandardDetailsTitle");
    ViewData["Title"] = panelTitle;
    var rnd = DateTime.Now.Ticks.ToString();
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-configuration.svg");
}
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
<div class="row mb-3 d-flex justify-content-end">
    <div class="col-lg-6 col-md-6 col-12 justify-content-end">
        <div class="search-with-bg w-responsive">
            <span class="icon-search"></span>
            <input type="search" id="StandardDetailsSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
        </div>
    </div>
    @if (Html.CurrentPagePermission().CanEdit)
    {
        <div class="col-lg-3 col-md-3 col-12">
            <div class="float-right">
                <button id="btnAddStandardDetails" type="button" class="btn btn-outline-primary rounded-4x">@ResourceManager.GetString("Course.StandardDetails.AddStandardDetails")</button>

            </div>
        </div>
    }
</div>

<div class="row">

    <input type="hidden" value="@ViewBag.SID" id="hdnStandardId" />
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card safety-categories-wrapper">
            <div class="card-body column-padding pt-3 pb-3 min-height">


                <div class="table-wrapper">

                    <div>
                        <h5>Course:- @ViewBag.Course_name</h5>
                    </div>
                    <div class="table-wrapper">
                        <div class="">
                            <table class="table table-bordered table-hover table-responsive-md" id="tbl-StandardDetailsList"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}
<style>
    .dataTables_filter {
        display: none;
    }
</style>
@section scripts
{
    <script language="javascript">
    translatedResources.Standard = '@ResourceManager.GetString("Course.StandardDetails.Standard")';
    translatedResources.Description = '@ResourceManager.GetString("Course.StandardDetails.Description")';
    translatedResources.Parent = '@ResourceManager.GetString("Course.StandardDetails.Parent")';

    translatedResources.actions ='@ResourceManager.GetString("Shared.Labels.Actions")';
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v ="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Course/StandardDetails/StandardDetails.js?v ="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}

