﻿@model IEnumerable<Phoenix.Models.Entities.GradeBookAssignmentQuiz>
@using Phoenix.Common.Localization
@using Phoenix.VLE.Web.Helpers
@{
    var studentsList = (List<long>)ViewData["studentList"];
    var assessmentType = (int)ViewData["assessmentType"];
    var topAssignment = Model.Where(x => x.IsTopRow);
    var childAssignment = Model.Where(x => !x.IsTopRow).DistinctBy(x => x.AssignmentQuizId);
    var childAssignmentDatav = Model.Where(x => !x.IsTopRow);
    var noRecordText = ResourceManager.GetString("Gradebook.TeacherGradeBook.NoData");
}
@* this is top row to show the Average or Mode of student score *@
@if (topAssignment.Any())
{
    <tr class="headTr assessment@(assessmentType)">
        @foreach (var studentList in studentsList)
        {
            var top = topAssignment.FirstOrDefault(x => x.StudentId == studentList);
            if (top != null && top.ShortLabel != null)
            {
                <td>
                    <span style="color:@top.GradingColor" data-toggle="tooltip" title="@top.Score">
                        @if (string.IsNullOrEmpty(top.GradingTemplateItemSymbol))
                        {
                            @top.ShortLabel
                        }
                        else
                        {
                            <img style='height:20px;' src='@top.GradingTemplateItemSymbol' />
                        }
                    </span>
                    <span class="badge badge-primary badge-pill d-flex position-absolute">@top.Score</span>
                </td>
            }
            else
            {
                <td class="no-data-found nodatatd pt-4">@noRecordText</td>
            }
        }
    </tr>
}
@if (childAssignment.Any())
{
    foreach (var child in childAssignment)
    {
        <tr class="sibling-row assessment@(assessmentType)">
            @foreach (var studentList in studentsList)
            {
                var childElement = childAssignmentDatav.FirstOrDefault(x => x.StudentId == studentList && x.AssignmentQuizId == child.AssignmentQuizId);
                if (childElement != null)
                {
                    if (childElement.ShortLabel != null)
                    {
                        <td>
                            @if (string.IsNullOrEmpty(childElement.GradingColor))
                            {
                                <span class="text-success">@childElement.ShortLabel</span>
                            }
                            else
                            {
                            <span style="color:@childElement.GradingColor">
                                @if (string.IsNullOrEmpty(childElement.GradingTemplateItemSymbol))
                                {
                                    @childElement.ShortLabel
                                }
                                else
                                {
                                    <img style='height:20px;' src='@childElement.GradingTemplateItemSymbol' />
                                }
                            </span>
                            }
                            <span class="badge badge-primary badge-pill d-flex position-absolute">@childElement.Score</span>
                        </td>
                    }
                    else if (!string.IsNullOrEmpty(childElement.Status))
                    {
                        <td>
                            @if (childElement.Status.Equals("N", StringComparison.InvariantCultureIgnoreCase))
                            {
                                <h4 class="badge badge-primary badge-pill">@ResourceManager.GetString("Gradebook.TeacherGradeBook.NotSeen")</h4>
                            }
                            else if (childElement.Status.Equals("O", StringComparison.InvariantCultureIgnoreCase))
                            {
                                <h4 class="badge badge-danger badge-pill">@ResourceManager.GetString("Gradebook.TeacherGradeBook.Overdue")</h4>
                            }
                            else if (childElement.Status.Equals("P", StringComparison.InvariantCultureIgnoreCase))
                            {
                                <h4 class="badge badge-warning badge-pill">@ResourceManager.GetString("Gradebook.TeacherGradeBook.Pending")</h4>
                            }
                            else if (childElement.Status.Equals("C", StringComparison.InvariantCultureIgnoreCase))
                            {
                                <h4 class="badge badge-success badge-pill">@ResourceManager.GetString("Gradebook.TeacherGradeBook.Completed")</h4>
                            }
                        </td>
                    }
                }
                else
                {
                    <td class="no-data-found nodatatd pt-4">
                        @noRecordText
                    </td>
                }
            }
        </tr>
    }
}