﻿@model Phoenix.VLE.Web.Models.InternalAssessmentRowModel
@using Phoenix.Common.Enums
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using System.Text
@{
    var selectText = ResourceManager.GetString("Shared.Labels.Select");
    int i = 0;
    StringBuilder assignmentBuilder = new StringBuilder();
    StringBuilder quizBuilder = new StringBuilder();
    StringBuilder progressTracker = new StringBuilder();
    char[] alpha1 = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray();
    List<string> alpha = new List<string>();
    alpha.AddRange(alpha1.Select(x => x.ToString()));
    for (int k = 0; k < alpha1.Length; k++)
    {
        for (int j = 0; j < alpha1.Length; j++)
        {
            alpha.Add(alpha1[k] + alpha[j]);
        }
    }
    //list of Alphabets are generated to use in CALX
    var finalArray = alpha.ToArray();
    var formula = Model.InternalAssessment.Formula;
    var newFormula = string.Empty;
    var newFormulaDesc = string.Empty;
    var isAdminAssessment = true;
}
<tr class="sibling-row @((int)GradeBookAssessmentType.InternalAssessment) assessment@((int)GradeBookAssessmentType.InternalAssessment)" data-id="@Model.InternalAssessment.InternalAssessmentId">
    @foreach (var temp in Model.GradingTemplateItems.OrderByDescending(x => x.ScoreTo))
    {
        // these hidden field will be used by calx to show grading template which will fall in the range
        <input type="hidden" id="gradingTemplate@(i)@(temp.GradingTemplateItemId)"
               value="@temp.GradingTemplateItemId" data-scorefrom="@temp.ScoreFrom" data-scoreto="@temp.ScoreTo"
               data-image="@temp.GradingTemplateItemSymbol"
               data-gradingcolor="@temp.GradingColor" data-label="@temp.ShortLabel" />
    }
    @foreach (var studentId in Model.StudentIds)
    {
        //this variables are used to concat the scores using , and apply the formula
        assignmentBuilder.Clear(); quizBuilder.Clear(); progressTracker.Clear();
        int scoreCounter = 0;
        var score = Model.InternalAssessmentScores.Where(x => x.StudentId == studentId).ToList();
        var internalAssessmentId = Model.InternalAssessment.InternalAssessmentId;
        //for the use of data attribute please refer JS file
        <td class="internalAssessmentTD position-relative calculatedField" data-student="@studentId" data-cellchar="@finalArray[i]" data-cell_formula="@formula" data-resultConsider="@Model.InternalAssessment.ResultConsideredId">
            @foreach (var item in score)
            {
                if ((GradeBookAssessmentType)item.ResultType == GradeBookAssessmentType.Assignment)
                {
                    @* To Skip Score append when score is null or empty *@
                    if (!string.IsNullOrEmpty(item.Score))
                    {
                        if (assignmentBuilder.Length > 0) { assignmentBuilder.Append(","); }
                        assignmentBuilder.Append(item.Score);
                    }                    
                    scoreCounter++;
                }
                else if ((GradeBookAssessmentType)item.ResultType == GradeBookAssessmentType.Quiz)
                {
                    @* To Skip Score append when score is null or empty *@
                    if (!string.IsNullOrEmpty(item.Score))
                    {
                        if (quizBuilder.Length > 0) { quizBuilder.Append(","); }
                        quizBuilder.Append(item.Score);
                    } 
                    scoreCounter++;
                }
            }

            @* This is for progress tracker - To get the scores of progress tracker of student which will be calculated *@
            @if (Model.InternalAssessment.ProgressTracker != null)
            {
                if (Model.InternalAssessment.ProgressTracker.Attainments.Any(x => x.SchoolUserId == studentId))
                {
                    progressTracker.Append(Model.InternalAssessment.ProgressTracker.Attainments.FirstOrDefault(x => x.SchoolUserId == studentId).Attainment);
                }
                if (progressTracker.Length > 0) { progressTracker.Append(","); }

                if (Model.InternalAssessment.ProgressTracker.Progresses.Any(x => x.SchoolUserId == studentId))
                {
                    progressTracker.Append(Model.InternalAssessment.ProgressTracker.Progresses.FirstOrDefault(x => x.SchoolUserId == studentId).Progress);
                }
                else
                {
                    progressTracker.Append("0");
                }
            }
            @* This is for progress tracker *@

            @{
                var quiz = $"AVERAGE({(quizBuilder.Length <= 0 ? "0" : quizBuilder.ToString())})";
                var ass = $"AVERAGE({(assignmentBuilder.Length <= 0 ? "0" : assignmentBuilder.ToString())})";
                var pro = $"AVERAGE({(progressTracker.Length <= 0 ? "0" : progressTracker.ToString())})";
                if (!string.IsNullOrEmpty(formula))
                {
                    newFormula = formula.Replace(" $Q ", quiz).Replace(" $A ", ass).Replace(" $P ", pro).Replace(" $I ", "0");//.Replace(" ", "");
                }
            }
            @*<i class="active d-flex fa-calculator fas mt-2 position-absolute top-0" data-toggle="tooltip" title="@Model.InternalAssessment.FormulaDescription"></i>*@
            <input type="hidden" class="calculatefield" id="@(finalArray[i])@(scoreCounter)@(internalAssessmentId)" data-isadminassessment="@isAdminAssessment" data-assessmentid="@internalAssessmentId" data-cell="@(finalArray[i])@(scoreCounter)@(internalAssessmentId)" data-cellchar="@finalArray[i]" data-formularef="@newFormula" data-formula="@newFormula" />
            <span data-toggle="tooltip" title="" class="text-bold"></span>
            <span class="badge badge-primary badge-pill d-flex position-absolute"></span>
        </td>
        { i++; }
    }

</tr>
