﻿@model Phoenix.Models.Entities.TeacherGradeBook
@using Phoenix.VLE.Web.Helpers
@using Phoenix.Common.Localization
@foreach (var assessment in Model.InternalAssessments.DistinctBy(x => x.InternalAssessmentId))
{
    var subinternalAssessment = assessment.TeacherInternalAssessments;
    var ruleProcessingSetup = Model.GradebookRuleSetups.FirstOrDefault(x => x.InternalAssessmentId == assessment.InternalAssessmentId);
    <li id="assessmentListItem@(assessment.InternalAssessmentId)" data-isparentassessment="true"
        data-isruleprocessingsetupenabled="@assessment.IsRuleProcessingSetupEnabled" data-allowtoaddrow="@assessment.AllowTeacherToAddColumn" data-ruleprocessingsetupid="@(ruleProcessingSetup != null ? ruleProcessingSetup.ProcessingRuleSetupId : 0)">
        <div class="tab-row parent-tab">
            <span class="text-truncate">
                @if (!string.IsNullOrEmpty(assessment.FormulaDescription))
                {
                    <i class="fas fa-calculator" data-toggle="tooltip" title="@assessment.FormulaDescription" data-placement="right"></i>
                }
                <span data-toggle="tooltip" title="@assessment.RowName">@assessment.RowName</span>
            </span>
            @if (assessment.AllowTeacherToAddColumn && assessment.IsRuleProcessingSetupEnabled && !Model.IsPreview)
            {
                <a class="setting-btn" data-toggle="tooltip" title="@ResourceManager.GetString("Gradebook.TeacherGradeBook.RuleProcessingSetup")"
                   onclick="teacherGradebook.loadRuleSetupForm(this, @assessment.InternalAssessmentId)" href="javascript:void(0)">
                    <img src="~/Content/VLE/img/svg/ic-settings.svg"
                         class="svg">
                </a>
            }
            <ul class="inner-sub-tree">
                @if (subinternalAssessment.Any())
                {
                    foreach (var teacherInternalAssessment in subinternalAssessment)
                    {
                        <li data-internalAssessmentId="@teacherInternalAssessment.InternalAssessmentId" class="@(teacherInternalAssessment.RowType == 3 ? string.Empty : "isMarkAndDropdown")">
                            <span class="text-truncate" data-toggle="tooltip" title="@teacherInternalAssessment.RowName">@teacherInternalAssessment.RowName</span>
                            <div class="delete-row" data-parentassessmentid="@teacherInternalAssessment.ParentInternalAssessmentId" data-internalAssessmentId="@teacherInternalAssessment.InternalAssessmentId">
                                <img src="~/Content/VLE/img/svg/pencil-big.svg" alt="edit-icon" data-parentassessmentid="@teacherInternalAssessment.ParentInternalAssessmentId" data-internalAssessmentId="@teacherInternalAssessment.InternalAssessmentId" class="cursor-pointer edit-teacher-assessment mr-2" />
                                <img src="~/Content/VLE/img/svg/delete.svg" alt="delete-icon" class="cursor-pointer delete-teacher-assessment" data-parentassessmentid="@teacherInternalAssessment.ParentInternalAssessmentId" data-internalAssessmentId="@teacherInternalAssessment.InternalAssessmentId" />
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
        @if (assessment.AllowTeacherToAddColumn && !Model.IsPreview)
        {
            <a data-rowId="@assessment.InternalAssessmentId" data-toggle="tooltip" title="@ResourceManager.GetString("Gradebook.TeacherGradeBook.AddRow")" class="add-row parent-add-row">@ResourceManager.GetString("Gradebook.TeacherGradeBook.PlusRow")</a>
        }
    </li>
}
