﻿@model Phoenix.Models.Entities.GradebookProgressTracker
@using Phoenix.Common.Enums
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    var studentsList = (List<long>)ViewData["studentList"];
    var assessmentType = (int)ViewData["assessmentType"];
    var noRecordText = ResourceManager.GetString("Gradebook.TeacherGradeBook.NoData");
}
@if (Model.ProgressTrackerType.Any(x => (GradeBookProgressTracker)x == GradeBookProgressTracker.Attainment))
{
    <tr class="sibling-row assessment@(assessmentType)">
        @foreach (var studentList in studentsList)
        {
            var attainment = Model.Attainments.FirstOrDefault(x => x.SchoolUserId == studentList);
            if (attainment != null)
            {
                <td><span style="color:@attainment.AttainmentColor" data-toggle="tooltip" title="@attainment.Attainment">@attainment.AttainmentDescriptor</span></td>
            }
            else
            {
                <td class="no-data-found nodatatd pt-4">@noRecordText</td>
            }
        }
    </tr>
}
@if (Model.ProgressTrackerType.Any(x => (GradeBookProgressTracker)x == GradeBookProgressTracker.Attainment))
{
    <tr class="sibling-row assessment@(assessmentType)">
        @foreach (var studentList in studentsList)
        {
            var progress = Model.Progresses.FirstOrDefault(x => x.SchoolUserId == studentList);
            if (progress != null)
            {
                <td><span style="color:@progress.ProgressColor" data-toggle="tooltip" title="@progress.Progress.ToDouble()">@progress.ProgressDescriptor</span></td>
            }
            else
            {
                <td class="no-data-found nodatatd pt-4">@noRecordText</td>
            }
        }
    </tr>
}