﻿@model List<int>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Enums
@using Phoenix.Common.Localization
<div class="hide-row-dropdown">
    <button type="button"
            class="btn btn-sm btn-outline-primary btn-view hide-btn">
        <img src="~/Content/VLE/img/svg/viewapp.svg" class="svg">
        <span class="text-semibold">@ResourceManager.GetString("Gradebook.TeacherGradeBook.HideRows")</span>
    </button>
    <div class="dropdown-wrapper p-3 border hide-item" id="showHideDiv">
        <ul class="hide-row-menu">
            @foreach (var assessmentType in Model)
            {
                <li class="option-row showHideRow" >
                    <input type="checkbox" id="switch@(assessmentType)" class="hideShowCheck" data-assessment="@(assessmentType)"/>
                    <label class="toggle-label"
                           for="switch@(assessmentType)"></label>
                    <label for="switch@(assessmentType)"
                           class="option-name">@StringEnum.GetStringValue((GradeBookAssessmentType)assessmentType)</label>
                    </li>
                }
        </ul>
        <div class="d-flex action-box">
            <button type="button"
                    class="btn btn-primary mr-3 HideAllRow" onclick="$('.hideShowCheck').prop('checked',false).trigger('click')">
                @ResourceManager.GetString("Gradebook.TeacherGradeBook.HideAll")
            </button>
            <button type="button"
                    class="btn btn-outline-primary ShowAllRow" onclick="$('.hideShowCheck').prop('checked',true).trigger('click')">
                @ResourceManager.GetString("Gradebook.TeacherGradeBook.ShowAll")
            </button>
        </div>
    </div>
</div>
