﻿@model IEnumerable<Phoenix.Models.Entities.StandardExamination>
@using Phoenix.Common.Localization
@using Phoenix.Common.Enums
@{
    var studentsList = (List<long>)ViewData["studentList"];
    var assessmentType = (int)ViewData["assessmentType"];
    var standardExamination = Model.Select(x => x.AssessmentTypeId).Distinct();
    var noRecordText = ResourceManager.GetString("Gradebook.TeacherGradeBook.NoData");
}
@foreach (var item in standardExamination)
{
    var standardsExaminations = Model.Where(x => x.AssessmentTypeId == item);
    <tr class="sibling-row @(assessmentType) assessment@(assessmentType)">
        @foreach (var studentId in studentsList)
        {
            var standard = standardsExaminations.FirstOrDefault(x => x.StudentId == studentId);
            if (standard == null || string.IsNullOrEmpty(standard.Value))
            {
                <td class="no-data-found nodatatd pt-4">@noRecordText</td>
            }
            else
            {
    <td>
        @if (assessmentType == (int)GradeBookAssessmentType.StudentDemographic)
        {
            if (@standard.Value.Trim().Length > 20)
            {
                var value = standard.Value.Trim().Substring(0, 20) + "...";
                <span class="badge badge-primary badge-pill" data-toggle="tooltip" data-original-title="@standard.Value">@value</span>
            }
            else
            {
                <span class="badge badge-primary badge-pill">@standard.Value</span>
            }
        }
        else
        {
            <h5><span class="badge badge-primary badge-pill">@standard.Value</span> </h5>
        }

    </td>
            }
        }
    </tr>
}
