﻿@model Phoenix.Models.Entities.TeacherGradeBook
@using Phoenix.VLE.Web.Helpers
@using Phoenix.VLE.Web.Models
@using Phoenix.Models.Entities
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Localization
@using Phoenix.Common.Enums
@{
    var newAssignmentQuiz = new List<GradeBookAssignmentQuiz> { new GradeBookAssignmentQuiz { IsTopRow = true } };
    var assignment = Model.Assignments.Any() ? Model.Assignments : newAssignmentQuiz;
    var quiz = Model.Quizzes.Any() ? Model.Quizzes : newAssignmentQuiz;
    //var standard = Model.Standards.DistinctBy(x => x.AssessmentTypeId);
    //var examination = Model.Examinations.DistinctBy(x => x.AssessmentTypeId);
    var noRecordText = ResourceManager.GetString("Gradebook.TeacherGradeBook.NoData");
    var studentIds = Model.StudentLists.Select(x =>  x.StudentId).ToList();
    }
<style>
    .nodatatd {
        background-size: 25px !important
}
</style>
@foreach (var assessmentType in Model.AssessmentType)
{
    switch ((GradeBookAssessmentType)assessmentType)
    {
        case GradeBookAssessmentType.Assignment:
            @Html.Partial("_AssignmentQuizTD", assignment, new ViewDataDictionary { { "studentList", studentIds }, { "assessmentType", assessmentType } })
            break;
        case GradeBookAssessmentType.Quiz:
            @Html.Partial("_AssignmentQuizTD", quiz, new ViewDataDictionary { { "studentList", studentIds }, { "assessmentType", assessmentType } })
            break;
        case GradeBookAssessmentType.InternalAssessment:
            <tr class="headTr assessment@(assessmentType)">
                @foreach (var studentList in Model.StudentLists)
                {
                    <td></td>
                }
            </tr>  
            if (Model.IsPreview)
            {
                @Html.Partial("_InternalAssessmentTD", Model, new ViewDataDictionary { { "studentList", studentIds } } )
            }
            break;
        case GradeBookAssessmentType.StandardizedAssessment:
            case GradeBookAssessmentType.ExternalExamination:
            case GradeBookAssessmentType.StudentDemographic:
            case GradeBookAssessmentType.ProgressTracker:
            <tr class="headTr assessment@(assessmentType)">
                @foreach (var studentList in Model.StudentLists)
                {
                    <td></td>
                }
            </tr>
            break;
        default:
            break;
    }
}

