﻿@model Phoenix.Models.Entities.TeacherGradeBook
@using Phoenix.Common.Localization
@{
    ViewBag.Title = "TeacherGradeBook";
    var schoolGroupId = (string)ViewBag.GradebookId;
}
@Html.Hidden("StudentCount", Model.StudentLists.Count())
@Html.Hidden("SchoolGroupId", schoolGroupId)
@Html.AntiForgeryToken()
<style>
    .fullscreen{
        left: 0px;
        top: 0px;
        position: fixed;
        z-index: 1030;
        min-height: 100vh;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-12 list-container">
        <div class="gradebook-wrapper" id="gradeBookDiv">
            <div class="card">
                @if (Model.StudentLists.Any())
                {
                    <div class="gradebook-wrapper" style="min-height: 440px;">
                        <div class="d-flex justify-content-end align-items-center mb-4 px-3">
                            <div class="copy-btn-wrapper mr-4">
                                <a class="copy-to-row-btn circle-loader" id="copyCurrentCell">
                                    <span class="text">
                                        <img src="~/Content/VLE/img/svg/copy-to-row-icon.svg" class="svg">
                                        @ResourceManager.GetString("Gradebook.TeacherGradeBook.CopyRow")
                                    </span>
                                    <div class="checkmark draw"></div>
                                </a>
                            </div>
                            <a class="top-icon-row" href="javascript:;" id="fullScreen">
                                <img src="~/Content/VLE/img/svg/fullscreen-icon.svg" alt="full-screen-icon" />
                            </a>
                        </div>
                        @Html.Partial("_GradebookTable", Model)
                    </div>
                    <section class="p-4 d-flex">
                        <button type="button" id="saveGradeBook" class="btn btn-custom-purple mr-4">
                            <small class="text-semibold">@ResourceManager.GetString("Shared.Buttons.Save")</small>
                        </button>
                    </section>
                }
                else
                {
                    <span class="no-data-found text-bold d-block mx-auto my-5">
                        @ResourceManager.GetString("Shared.Labels.NoRecords")
                    </span>
                }
            </div>
        </div>
    </div>
</div>
<!-- modal popups -->
<div class="modal fade popup-purple-shade" id="addRowPopup" tabindex="-1" role="dialog"
     aria-labelledby="addRowPopup" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 p-4">
                <h6 class="modal-title">@ResourceManager.GetString("Gradebook.TeacherGradeBook.AddRow")</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="addNewRowModel">

            </div>
        </div>
    </div>
</div>

<script>
    translatedResources.ruleProcessingSetup = '@ResourceManager.GetString("Gradebook.TeacherGradeBook.RuleProcessingSetup")';
    translatedResources.marksValidation = '@ResourceManager.GetString("Gradebook.TeacherGradeBook.marksValidation")';
    translatedResources.rangeValidatorMessage = '@ResourceManager.GetString("Gradebook.TeacherGradeBook.CalculatedValue")';
    translatedResources.cellsUpdated = '@ResourceManager.GetString("Gradebook.TeacherGradeBook.CellsUpdated")';
    translatedResources.cellUpdated = '@ResourceManager.GetString("Gradebook.TeacherGradeBook.CellUpdated")';
    translatedResources.noCellUpdated = '@ResourceManager.GetString("Gradebook.TeacherGradeBook.NoCellUpdated")';
    translatedResources.noCellSelected = '@ResourceManager.GetString("Gradebook.TeacherGradeBook.NoCellSelected")';
    translatedResources.copyValidation = '@ResourceManager.GetString("Gradebook.TeacherGradeBook.CopyValidation")';
    translatedResources.addRow = '@ResourceManager.GetString("Gradebook.TeacherGradeBook.AddRow")';
    translatedResources.editRow = '@ResourceManager.GetString("Gradebook.TeacherGradeBook.EditRow")';
    translatedResources.duplicateRecords = '@ResourceManager.GetString("Gradebook.TeacherGradeBook.DependentRecord")';
        $(document).ready(function () {
            $('.paymentDue-toast').addClass('animated fadeInRight');
            $('body').on('click', '.close-toast', function () {
                $(this).parent().parent().fadeOut();
            })
            $('[data-toggle="popover-hover"]').popover({
                html: true,
                trigger: 'hover',
                placement: 'left',
                container: '#groups-popover',
            });
            $('[data-toggle="popover"]').popover({
                html: true,
                trigger: 'focus',
                placement: 'right',
                container: '#assignment-popover'
            });

            teacherGradebook.init();
            $(".inner-right-table").mCustomScrollbar({
                autoExpandHorizontalScroll: true,
                autoHideScrollbar: true,
                axis: "x",
                setWidth: $('.gradebook-wrapper').width() - ($('.outer-table td:first').width() + 45),
                //scrollbarPosition: "outside"
                advanced: {
                    updateOnContentResize: true,
                    updateOnImageLoad: true
                }
            });

            $(".resources").mCustomScrollbar({
                autoHideScrollbar: true,
                autoExpandScrollbar: true,
                scrollbarPosition: "outside",
            });
            $(".sidebar-fixed .list-group").mCustomScrollbar({
                setHeight: "86%",
                autoExpandScrollbar: true,
                autoHideScrollbar: true,
                scrollbarPosition: "outside"
            });

            $('.textarea-wrapper').mCustomScrollbar({
                autoExpandScrollbar: true,
                autoHideScrollbar: true,
                scrollbarPosition: "inside",
            });
            $('.loader-wrapper').fadeOut(500, function () {
                //$('.loader-wrapper').remove();
            });
            $('.close-icon').click(function () {
                $('.close-icon').removeClass('show-icon');
            })
            $('.tab-container .content-provider').click(function () {
                let providerView = $('.tab-wrapper .content-provider-wrapper');
                let resourceLibView = $('.tab-wrapper .resource-grid-wrapper');
                $('.tab-container .resource-lib').removeClass('active');
                $('.tab-container .content-provider').addClass('active');
                resourceLibView.addClass('d-none');
                providerView.removeClass('d-none');
            });
            $('.tab-container .resource-lib').click(function () {
                let providerView = $('.tab-wrapper .content-provider-wrapper');
                let resourceLibView = $('.tab-wrapper .resource-grid-wrapper');
                $('.tab-container .content-provider').removeClass('active');
                $('.tab-container .resource-lib').addClass('active');
                resourceLibView.removeClass('d-none');
                providerView.addClass('d-none');
            });
            $('div[id^=headingTwo]').click(function () {
                var assessmentType = $(this).data("assessment");
                if (!$(this).siblings().hasClass('show')) {
                    $('.inner-right-table tr.sibling-row').addClass('hide-row');
                    $('.inner-right-table tr.sibling-row.assessment' + assessmentType).removeClass('hide-row');
                }
                else {
                    $('.inner-right-table tr.sibling-row').addClass('hide-row');
                }
            });
            translatedResources.ruleSetupConfirmMessage = '@ResourceManager.GetString("Gradebook.TeacherGradeBook.Unabletodelete")';
            $('.container-fluid').on('mouseup',':not(.hide-btn)',function(e) 
            {
                e.stopPropagation();
                var container = $("#showHideDiv");
                if (container.is(":visible"))
                    // if the target of the click isn't the container nor a descendant of the container
                    if (!container.is(e.target) && container.has(e.target).length === 0) 
                    {
                        container.addClass('hide-item');
                    }
                });
            $('.hide-btn').click(function () {
                $('#showHideDiv').toggleClass('hide-item');
            });
            
            $('#addRowPopup .btn-deep-purple').click(function () {
                $('.certificate-accordion .inner-sub-tree').removeClass('hide-item');
                $('.child-row').removeClass('hide-row');
                if ($('.sub-tree > li').siblings().hasClass('inner-sub-tree')) {
                    $('.sub-tree > li').removeClass('initial-ht');
                    $('.sub-tree > li').addClass('increased-ht');
                }
                else {
                    $('.sub-tree > li').removeClass('initial-ht');
                    $('.sub-tree > li').addClass('increased-ht-without-innerchild');
                }
            });
            var list = [];
        });
</script>
