﻿@using Phoenix.Common.Localization
@{
                /**/

                string selectText = ResourceManager.GetString("Shared.Labels.Select");
}


<div class="card-body card-padding">
    <div class="row">
        <div class="col-lg-12">

            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group focused">
                            <label class="form-control-label" for="input-activity">@ResourceManager.GetString("SIMS.Assessment.AcademicYear")</label>
                            @Html.DropDownList("AcademicYear", (SelectList)ViewBag.AcademicYear, selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.AcademicYear") })
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Assessment.Term")</label>
                            @Html.DropDownList("Term", new SelectList(string.Empty), selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.Term") })
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Assessment.ReportHeader")</label>
                            @Html.DropDownList("ReportHeaders", new SelectList(string.Empty), selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.ReportHeader") })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Common.Grade")</label>
                            @Html.DropDownList("Grades", new SelectList(string.Empty), selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Common.Grade") })
                        </div>
                    </div>
                    <div class="col-lg-4" id="tdSubject">
                        <div class="form-group">
                            <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Assessment.Subject")</label>
                            @Html.DropDownList("Subjects", new SelectList(string.Empty), selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.Subject") })
                        </div>
                    </div>
                    <div class="col-lg-4" id="tdSection">
                        <div class="form-group">
                            <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Assessment.Section")</label>
                            @Html.DropDownList("Section", new SelectList(string.Empty), selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.Section") })
                        </div>
                    </div>
                    <div class="col-lg-4" id="tdSubjectGroup">
                        <div class="form-group">
                            <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Assessment.SubjectGroup")</label>
                            @Html.DropDownList("SubjectGroups", new SelectList(string.Empty), selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.SubjectGroup") })
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group" style="display:none">
                            <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Assessment.SubjectCategory")</label>
                            @Html.DropDownList("SubjectCategory", new SelectList(string.Empty), selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.SubjectCategory") })
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Assessment.ReportSchedule")</label>
                            @Html.DropDownList("ReportSchedule", new SelectList(string.Empty), selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.ReportSchedule") })
                        </div>
                    </div>
                </div>
                <div class="row">


                </div>

                @* Accordion for Filter goes here *@

                <div class="container-fluid" id="divoptionalheaders">
                    @*<div class="accordion-option">
                            <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
                        </div>*@
                    <div class="clearfix"></div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h5 class="panel-title mt-0">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        @ResourceManager.GetString("SIMS.Assessment.AdditionalColumns")
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
                                <div class="panel-body">

                                    @* Search box Div starts here *@
                                    <div class="row" id="collapseOne">
                                        <div class="col-lg-4">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-activity">@ResourceManager.GetString("SIMS.Assessment.PreviousSchedule")</label>
                                                @Html.DropDownList("PreviousReportSchedule", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @multiple = "multiple", @data_live_search = "true" })
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-activity">@ResourceManager.GetString("SIMS.Assessment.OtherFields")</label>
                                                @Html.DropDownList("OptionalHeaders", new SelectList(string.Empty), selectText, new { @class = "selectpicker", @multiple = "multiple", @data_live_search = "true" })
                                            </div>
                                        </div>

                                        <div class="col-lg-4 d-none">
                                            <div class="form-group focused">
                                                <label class="form-control-label" for="input-activity">Additional Option3</label>
                                                <select lname="Additional Option" class="form-control form-control-alternative p-0 selectpicker" id="AdditionalOptionr" name="AdditionalOption" tabindex="-98">
                                                    <option value="">Select</option>
                                                    <option value="option1">Option 1</option>
                                                    <option value="option2">Option 2</option>
                                                    <option value="option3">Option 3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    @* Search box Div ends here *@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* Accordion for Filter ends here *@


                <div class="row">
                    <div class="col-lg-4">
                        @*<div class="form-group">
                                <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Assessment.ReportSchedule")</label>
                                @Html.DropDownList("ReportSchedule", new SelectList(string.Empty), selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.ReportSchedule") })
                            </div>*@
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group text-center">
                            <button type="button" id="btn_View" class="btn btn-primary m-0" onclick="ViewStudents()">@ResourceManager.GetString("SIMS.Assessment.ViewStudents")</button>
                        </div>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $(".toggle-accordion").on("click", function () {
            var accordionId = $(this).attr("accordion-id"),
                numPanelOpen = $(accordionId + ' .collapse.in').length;

            $(this).toggleClass("active");

            if (numPanelOpen == 0) {
                openAllPanels(accordionId);
            } else {
                closeAllPanels(accordionId);
            }
        })

        openAllPanels = function (aId) {
            console.log("setAllPanelOpen");
            $(aId + ' .panel-collapse:not(".in")').collapse('show');
        }
        closeAllPanels = function (aId) {
            console.log("setAllPanelclose");
            $(aId + ' .panel-collapse.in').collapse('hide');
        }

    });
</script>