﻿@using Phoenix.VLE.Web.Areas.SMS.Model;
@model List<AssessmentComments>


<div style="width:90%; margin:0 auto;">
    <table id="tblassessmentComment" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Select</th>
                @*<th>CMT_ID</th>*@
                <th> Comments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" id="chk_@item.CMT_ID" onclick="SelectComments(@item.CMT_ID)" />
                    </td>
                    @*<td>
                          @item.CMT_ID
                        </td>*@
                    <td id="td_@item.CMT_ID">
                        @item.CMT_COMMENTS
                    </td>
                    
                </tr>

            }



        </tbody>
    </table>
    <div class="row">

        <button id="btnaddComments" type="button" class="btn btn-primary" onclick="AddComments()">Add Comments</button>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $('#tblassessmentComment').dataTable();
    });

</script>



