﻿@model List<Phoenix.VLE.Web.Areas.SMS.Model.MarkEntry>
@using Phoenix.Common.Localization


<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="card shadow-none">
          
            <div class="card-body">
                <h3 class="card-title pl-0">Mark Entry List</h3>
                <div class="row scrollable">

                    <div class="col-lg-12 col-md-12 col-12">
                        <div style="margin:0 auto;">
                            <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                                <thead>


                                    <tr>
                                        <th class="font-weight-light bg-secondary">Assesment</th>
                                        <th class="font-weight-light bg-secondary">Subject</th>
                                        <th class="font-weight-light bg-secondary">Group</th>
                                        <th class="font-weight-light bg-secondary">Type</th>
                                        <th class="font-weight-light bg-secondary">Date</th>
                                        <th class="font-weight-light bg-secondary">Attendance Entered</th>
                                        <th class="font-weight-light bg-secondary">Marks Entered</th>
                                        <th class="font-weight-light bg-secondary">Marks</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var attcolor = item.ATT == "Yes" ? "#3adf5f" : "red";
                                        var mrkcolor = item.MARKS == "Yes" ? "#3adf5f" : "red";
                                        var minMarks = item.CAS_MIN_MARK;
                                        var maxMarks = item.CAS_MAX_MARK;
                                        <tr>
                                            <td>
                                                @item.CAS_DESC
                                            </td>
                                            <td>
                                                @item.SBG_DESCR
                                            </td>
                                            <td>
                                                @item.SGR_DESCR
                                            </td>
                                            <td>
                                                @item.CAS_TYPE_LEVEL
                                            </td>
                                            <td>
                                                @item.CAS_DATE.Value.ToString("dd/MMMM/yyyy")
                                            </td>
                                            <td>
                                                <span style="color:@attcolor"> @item.ATT</span>
                                            </td>
                                            <td>
                                                <span style="color:@mrkcolor">  @item.MARKS</span>
                                            </td>
                                            @*<td>
                                        <div id="divtdattendance">
                                            <a href="javascript:void(0);">Attendance</a>

                                        </div>
                                    </td>*@
                                            <td>
                                                <div id="divtdMarks">
                                                    <a href="javascript:void(0);" data-minMarks="@minMarks" data-maxMarks="@maxMarks" data-isAOLExam="@item.CAS_bHasAOLEXAM" data-CASId="@item.CAS_ID" data-bwithoutskill="@item.CAS_bWITHOUTSKILLS" data-slabId="@item.SLAB_ID" data-entrytype="@item.SBG_ENTRYTYPE" onclick="MarkAsAOLEXAM(this)">Marks</a>

                                                </div>
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>


            </div>

        </div>


    </div>



</div>



<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $('#demoGrid').dataTable();
    });

</script>
