﻿@model List<Phoenix.VLE.Web.Areas.SMS.Model.MarkEntryData>
@using Phoenix.Common.Localization;
@using Phoenix.VLE.Web.Areas.SMS.Model;
@{
    long SlabId = 0;
    var EntryType = "";
    long CAS_ID = 0;
    if (ViewBag.SlabId != null)
    {
        SlabId = ViewBag.SlabId;
    }
    if (ViewBag.EntryType != null)
    {
        EntryType = ViewBag.EntryType;
    }
    if (ViewBag.CAS_ID != null)
    {
        CAS_ID = ViewBag.CAS_ID;
    }

    var MinMarks = Model[0].MIN_MARK;
    var MaxMarks = Model[0].MAX_MARK;


}
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div class="card shadow-none">
            <div class="card-body">
                <h3 class="card-title pl-0">
                    <i class="fas fa-arrow-alt-circle-left" data-toggle="back" onclick="BacktoView()"></i> Mark Entry Data
                </h3>
                <div class="row">
                    <input type="hidden" id="hdnSlabId" value="@SlabId" />
                    <input type="hidden" id="hdnEntryType" value="@EntryType" />
                    <input type="hidden" id="hdnCAS_ID" value="@CAS_ID" />
                    <input type="hidden" id="hdnMinMarks" value="@MinMarks" />
                    <input type="hidden" id="hdnMaxMarks" value="@MaxMarks" />
                    <div class="col-lg-12 col-md-12 col-12">
                        <div style="margin:0 auto;">

                            <table id="tblMarkEntryData" class="table table-striped table-bordered  dt-responsive nowrap" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="font-weight-lite bg-secondary">Student Number</th>
                                        <th class="font-weight-lite bg-secondary">Student Name</th>
                                        <th class="font-weight-lite bg-secondary">Marks (@("between " + MinMarks+" to "+MaxMarks))</th>
                                        @*<th>Min Marks</th>
                                            <th>Max Marks</th>*@
                                        <th class="font-weight-lite bg-secondary">Grade</th>



                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var item in Model)
                                    {

                                        <tr class="tr_data">
                                            <td class="clstdstuno">
                                                @item.STU_NO
                                            </td>
                                            <td class="clsstuname">
                                                @item.STU_NAME
                                            </td>

                                            <td class="clsstuMarks">
                                                <input id="txt_@item.STU_NO" data-sta_Id="@item.STA_ID" data-stu_Id="@item.STU_ID" data-ISEnabled="@item.IS_ENABLED" data-Stu_Status="@item.STU_STATUS" class="form-control clstxtinputmarks" value="@item.MARKS" />
                                            </td>
                                            @*<td class="clsstuminmarks hide" data-MinMarks="@item.MIN_MARK">
                                                    @item.MIN_MARK
                                                </td>
                                                <td class="clsstumaxmarks hide" data-MaxMarks="@item.MAX_MARK">
                                                    @item.MAX_MARK
                                                </td>*@
                                            <td class="clsstumarkgrade" data-markgrade="@item.MARK_GRADE">
                                                <span class="sub-heading">
                                                    @(string.IsNullOrEmpty(item.MARK_GRADE) ? "No grade available" : item.MARK_GRADE)

                                                </span>
                                            </td>

                                        </tr>

                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
                <div class="row border-bottom1">
                    @*<div class="col-lg-4">
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group mt-2 text-center">
                                <button type="button" id="btnViewBack" class="btn btn-primary my-4" onclick="BacktoView()">Cancel</button>
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>*@
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="form-group mt-2 text-center">
                            <button type="button" id="btnSaveMarkEntrydata" class="btn btn-primary my-4" onclick="SaveMarkEntryData()">@ResourceManager.GetString("SIMS.Common.Save")</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>



</div>

<script>
    $(document).ready(function () {
        var minMarks = @MinMarks;
        var maxMarks =@MaxMarks;
        $('[data-toggle="tooltip"]').tooltip(); $('#tblMarkEntryData').dataTable();



        function inputvalidate(textbox, maxlength, inputFilter) {


            return textbox.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {

                if (inputFilter(this.value)) {

                    this.oldValue = this.value;

                    this.oldSelectionStart = this.selectionStart;

                    this.oldSelectionEnd = this.selectionEnd;

                } else if (this.hasOwnProperty("oldValue")) {

                    this.value = this.oldValue;

                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);

                }

            });

        }
        $('#tblMarkEntryData tbody tr').each(function () {

            $(this).find(".clsstuMarks").each(function () {
                $(this).find(".clstxtinputmarks").each(function () {
                    var textbox = $(this);
                    debugger;

                    // abc(textbox);
                    inputvalidate(textbox, maxMarks, function (value) {


                        if (/^-?\d*[.,]?\d{0,2}$/.test(value) && (value === "" || parseFloat(value) <= maxMarks)) {
                            // $(textbox).removeClass('focused');
                            return true;
                        }
                        else {

                            globalFunctions.showErrorMessage("Input should be between " + minMarks + " and " + maxMarks +" and must be numeric");
                            //$(textbox).addClass('focused');
                        }
                    });

                })


            });
        });
    });
</script>