﻿@using Phoenix.Common.Localization
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
<div class="card-body card-padding">
    @*<h3 class="card-title">Mark Entry</h3>*@
   
    <div class="row">
        <div class="col-lg-12">

            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group focused">
                            <label class="form-control-label" for="input-activity">@ResourceManager.GetString("SIMS.Assessment.AcademicYear")</label>
                            @Html.DropDownList("AcademicYear", (SelectList)ViewBag.AcademicYear, selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.AcademicYear") })
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Assessment.Term")</label>
                            @Html.DropDownList("Term", new SelectList(string.Empty), selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.Term") })
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Common.Grade")</label>
                            @Html.DropDownList("Grades", new SelectList(string.Empty), selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Common.Grade") })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Assessment.Subject")</label>
                            @Html.DropDownList("Subjects", new SelectList(string.Empty), selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.Subject") })
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Assessment.SubjectGroup")</label>
                            @Html.DropDownList("SubjectGroups", new SelectList(string.Empty), selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.SubjectGroup") })
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="input-location">@ResourceManager.GetString("SIMS.Assessment.Assessment")</label>
                            @Html.DropDownList("AssessmentActivity", new SelectList(string.Empty), selectText, new { @class = "form-control form-control-alternative p-0 selectpicker", @LName = @ResourceManager.GetString("SIMS.Assessment.Assessment") })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mt-2 text-center">
                            <button type="button" id="btn_View" class="btn btn-primary my-4" onclick="ViewStudents()">@ResourceManager.GetString("SIMS.Assessment.ViewStudents")</button>
                        </div>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<div id="divViewMarkEntry">


        </div>*@

</div>