﻿@model Phoenix.VLE.Web.Areas.SMS.Model.Assessment
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    /**/

    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
@{
    ViewBag.Title = "Mark Entry";
    Layout = "~/Views/Shared/_SIMSLayout.cshtml";
}

@*<link href="~/Content/css/custom/SIMS/custom.css" rel="stylesheet" />*@
@using (Ajax.BeginForm("InsertAssessmentData", "/SMS/Assessment", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onAssessmentSaveSuccess" }, new { id = "frmAddCycle", @class = "form-horizontal" }))
{
    <div class="clearfix position-relative">
        <div class='row'>
            <div class='col-md-12'>
                <div class="col-lg-12 col-md-12 col-12 ">
                    <!-- Assessment Grade Entry Start -->
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="card shadow">
                                @*<div class="card-header p-0 border-bottom1">
                                        <div class="row align-items-center p-2">
                                            <div class="col-lg-12">
                                                <h3 class="mb-0">Mark Entry</h3>
                                            </div>
                                            <div class="col text-right">
                                            </div>
                                        </div>
                                    </div>*@
                               
                                @Html.Partial("~/Areas/SMS/Views/Assessment/_MarkFiltersPartial.cshtml")
                            </div>
                        </div>
                    </div>

                    <div id="divViewMarkEntry">


                    </div>
                    <div id="divMarkEntryAOL">


                    </div>
                    <div class="modal fade selectCategory" id="selectCategory" tabindex="-1" role="dialog" aria-labelledby="selectCategory" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Assessment Comments</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="card-body user-contact-card">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-12">
                                                <h6 class="card-title mb-4">Comments Option</h6>
                                                <form>
                                                    <div class="form-group col-md-12 col-xs-12 col-sm-3">
                                                        <label for="class_id">Select School</label>

                                                        <select class="selectpicker  select">
                                                            <option value=" ">Options..</option>
                                                            <option value="1" selected="selected">School Name1</option>
                                                            <option value="2">School Name2</option>
                                                            <option value="3">School Name3</option>
                                                            <option value="4">School Name4</option>

                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-12 col-xs-12 col-sm-3">
                                                        <label for="class_id">Select Category</label>

                                                        <select class="selectpicker  select">
                                                            <option value=" ">Categorys..</option>
                                                            <option value="1" selected="selected">Category Option1</option>
                                                            <option value="2">Category Option2</option>
                                                            <option value="3">Category Option3</option>
                                                            <option value="4">Category Option4</option>

                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-12 col-xs-12 col-sm-12">
                                                        <label for="class_id">Other Comments</label>

                                                        <input type="textarea" name="attendanace_comment_31" class="form-control" value="">
                                                    </div>

                                                    <div class="form-group col-md-12 col-xs-12 col-sm-12 text-center">
                                                        <input type="submit" value="Submit" name="attendence" class="btn btn-success">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <input type="hidden" value="0" name="bEdit" id="hf_bEdit" />
                <input type="hidden" name="student_xml" id="hf_Student_XML" value="" />
            </div>
            <script type="text/javascript" src="~/Content/js/custom/SIMS/Assessment/MarkEntryLoad.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>

            @section pageplugins{
                @Html.Partial("_DataPageLibrariesPartial")
            }
            @section scripts{
                <script>
                    function validate_Dropdowns(ddl) {
                        if (ddl.val() == '' || ddl.val() == '0') {
                            var text = "@selectText" + " " + ddl.attr("LName");
                            globalFunctions.showMessage("warning", text);
                            return false;
                        }
                        else {
                            return true;
                        }
                    }
                </script>
            }
        </div>
    </div>
}