﻿@model Phoenix.VLE.Web.EditModels.QuizEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions


@using (Ajax.BeginForm("SaveQuizData", "Files", new AjaxOptions { OnFailure = "quiz.onFailure", OnSuccess = "quiz.onSaveSuccess" }, new { id = "frmAddCycle", @class = "form-horizontal" }))
{
    <div class="modal-body">
        <div class="popup-form">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.QuizId)
            @Html.HiddenFor(x => x.SchoolId)
            @Html.HiddenFor(x => x.IsAddMode)
            @Html.HiddenFor(x => x.IsForm)
            @Html.HiddenFor(x => x.SectionId, new { @id = "resourceSectionID" })
            @Html.HiddenFor(x => x.SectionType, new { @id = "resourceSectionType" })
            @Html.Hidden("MaxSubmit", 1)
            @Html.HiddenFor(x => x.FolderId)
            @Html.HiddenFor(x => x.ModuleId)
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(x => x.QuizName, new { @class = "form-control" })
                        @*<label for="QuizName" class="active">@ResourceManager.GetString("Quiz.Quiz.QuizName") <span class="text-danger">*</span></label>*@
                        @Html.LocalizedLabel("active", "Quiz.Quiz.FormName")
                        @Html.ValidationMessageFor(x => x.QuizName)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                        @*<label for="Description" class="active">@ResourceManager.GetString("Quiz.Quiz.Description")</label>*@
                        @Html.LocalizedLabel("active", "Quiz.Quiz.Description")
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col">
                        <div class="md-form md-outline ">
                            @Html.TextBoxFor(x => x.QuestionPaginationRange, new { @class = "form-control", @type = "number", @min = "1" })
                            @Html.LocalizedLabel("active", "Quiz.Quiz.QuestionPaginationRange")
                            <span id="paginationCount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-start">
            <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0 mr-2" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            <button type="submit" class="btn btn-primary waves-effect waves-light m-0">@ResourceManager.GetString("Shared.Buttons.Save")</button>
             </div>
        </div>
    </div>
}



@Html.Partial("_ValidationJSPartial")