﻿@model Phoenix.VLE.Web.EditModels.StandardEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var rnd = DateTime.Now.Ticks.ToString();
    var SchoolddlHide = SessionHelper.CurrentSession.UserTypeId == 5 ? "" : "d-none";
    var isSuperAdmin = SessionHelper.CurrentSession.UserTypeId == 5 ? true : false;
    var AddFileShown = Model.IsAddMode == true ? "" : "d-none";
}
<style>
    #library .item .library-content .item-icon {
        height: auto;
    }
</style>
@using (Ajax.BeginForm("SaveStandardDetails", "Standard", new AjaxOptions { OnSuccess = "Standard.onSaveStandardSuccess('" + Model.IsAddMode + "')", OnFailure = "Standard.onSaveStandardError('" + Model.IsAddMode + "')" }, new { id = "frmAddEditStandard", @class = "form-horizontal" }))
{
    <div class="modal-body">
        <div class="popup-form">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(d => d.StandardID)
            @Html.HiddenFor(d => d.IsAddMode)
            

            @*<div class="row">
                    <div class="col-lg-12 col-md-12 col">
                        <div class="md-form md-outline">
                            @Html.TextBoxFor(d => d.GroupName, new { @class = "form-control" })
                            @Html.LocalizedLabel("active", "Course.Standard.GroupName")
                            @Html.ValidationMessageFor(x => x.GroupName, null, new { @class = "" })
                        </div>
                    </div>
                </div>*@
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        <div class="md-form md-outline">
                            @Html.DropDownListFor(x => x.Courseid, (SelectList)ViewBag.TeacherCourse, "", new { @class = "selectpicker " })
                            @Html.LocalizedLabel("active", "Course.Standard.Course")
                            @Html.ValidationMessageFor(x => x.Courseid, null, new { @class = "" })
                            @*@Html.DropDownListFor(x => x.Courseid, new SelectList(ViewBag.TeacherCourse, Model.Courseid), selectText, new { @class = "selectpicker" })
        @Html.LocalizedLabel("active", "Course.Standard.Course")*@

                            @*@Html.DropDownListFor(x => x.Courseid, new SelectList(ViewBag.TeacherCourse, "COR_ID", "COR_DESCR", Model.Courseid), selectText, new { @class = "selectpicker" })
        @Html.LocalizedLabel("active", "Course.Standard.Course")
        @Html.ValidationMessageFor(x => x.Courseid, null, new { @class = "" })*@
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="row mb-3 ml-1">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   data-type="checkbox" id="chkIsSubTopic" name="chkIsSubTopic" onchange="showHideParentDDL(this)" />
                            <label class="custom-control-label" for="chkIsSubTopic">Is Sub Topic ?</label>
                        </div>
                    </div>
                </div>*@

            @*<div class="row" id="divParentTopic">
                    <div class="col-lg-12 col-md-12 col">
                        <div class="md-form md-outline">
                            @Html.DropDownListFor(x => x.ParentID, new SelectList(ViewBag.ParentTopic, "StandardID", "GroupName", Model.ParentID), selectText, new { @class = "selectpicker" })
                            @Html.LocalizedLabel("active", "Course.Standard.ParentTopic")
                            @Html.ValidationMessageFor(x => x.ParentID, null, new { @class = "" })
                        </div>
                    </div>
                </div>*@


            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(d => d.Description, new { @class = "form-control" })
                        @Html.LocalizedLabel("active", "Course.Standard.Description")
                        @Html.ValidationMessageFor(x => x.Description, null, new { @class = "" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="addEditStandard.saveStandard();" id="btnSaveStandard">@ResourceManager.GetString("Shared.Buttons.Save")</button>
        </div>
    </div>

}
@Html.Partial("_ValidationJSPartial")

<script language="javascript">
    translatedResources.AddSuccess  = '@ResourceManager.GetString("Course.StandardMessages.AddSuccess")';
    translatedResources.AddError    = '@ResourceManager.GetString("Course.StandardMessages.AddError")';
    translatedResources.EditSuccess = '@ResourceManager.GetString("Course.StandardMessages.EditSuccess")';
    translatedResources.EditError   = '@ResourceManager.GetString("Course.StandardMessages.EditError")';
</script>
<script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
<script src="@Url.Content("~/Content/js/custom/Course/Standard/AddEditStandard.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>



