﻿@model Phoenix.Models.Entities.StandardBankExcelModel
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{ 
    var editType = string.Empty;
    if(ViewBag.editType !=null)
    {
        editType =(string)ViewBag.editType;
    }
}

<div class="row">
    <div class="col-md-12 col-12">

        <form id="frmLessonPlanner" method="post" action="/Course/Lesson" class="column-padding pt-3">
            @Html.HiddenFor(x => x.SB_Id)
            <label for="@Model.GroupName">@Model.GroupName</label>
            @Html.Hidden("edittype", new { @value = editType, @id = "edittype" })
            @if (editType == "StandardEdit")
            {
                <div class="row m-2">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="md-form md-outline mb-3">
                            <span>@Html.Raw(Model.UnitName)</span>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="md-form md-outline mb-3">
                            <span>@Html.Raw(Model.SubUnitName)</span>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="md-form md-outline mb-3">
                            @Html.TextAreaFor(x => x.StandardDescription, new { @class = "form-control", @data_math = "", @data_inline = "", @row = "5" })
                            @Html.LocalizedLabel("active", "Course.StandardBankUpload.StandardDescription")
                            @Html.ValidationMessageFor(x => x.StandardDescription)
                        </div>
                    </div>

                </div>
            }
            else if (editType == "UnitEdit")
            {
                <div class="row m-2">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="md-form md-outline mb-3">
                            @Html.TextAreaFor(x => x.UnitName, new { @class = "form-control", @data_math = "", @data_inline = "", @row = "5" })
                            @Html.LocalizedLabel("active", "Course.StandardBankUpload.UnitName")
                            @Html.ValidationMessageFor(x => x.UnitName)
                        </div>
                    </div>

                </div>
            }
            else
            {
                <div class="row m-2">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="md-form md-outline mb-3">
                            <span>@Html.Raw(Model.UnitName)</span>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="md-form md-outline mb-3">
                            @Html.TextAreaFor(x => x.SubUnitName, new { @class = "form-control", @data_math = "", @data_inline = "", @row = "5" })
                            @Html.LocalizedLabel("active", "Course.StandardBankUpload.SubUnitName")
                            @Html.ValidationMessageFor(x => x.SubUnitName)
                        </div>
                    </div>
                </div>

            }
            <div class="row m-2">

                <div class="col-lg-12 col-md-12 col-12 text-right">
                    <div class="md-form md-outline mb-3">
                        <button type="button" id="btnLesson" class="btn btn-primary">@ResourceManager.GetString("Shared.Buttons.Update")</button>
                    </div>
                </div>
            </div>
        </form>
</div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
    @Html.Partial("_ValidationJSPartial")
}
@section scripts
{
    translatedResources.Title  = '@ResourceManager.GetString("Course.StandardMessages.AddSuccess")';
    <script src="@Url.Content("~/Content/js/custom/Course/Standard/StandardBank.js?v ="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        $(".selectpicker").selectpicker('refresh');
    </script>
}












