﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using System.Data
@model Phoenix.Models.Entities.StandardExcelUploadData

@Html.Hidden("hdnIsColumnMatch", Model.IsColumnMatch)
<div class="table-responsive">
    <table class="table table-bordered bg-white mb-2" width="100%" id="tblImportExcel">
        <thead>
            <tr>
                <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("Course.StandardUpload.Unit")</strong></small></th>
                <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("Course.StandardUpload.SubUnit")</strong></small></th>
                <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("Course.StandardUpload.StandardCode")</strong></small></th>
                <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("Course.StandardUpload.StandardDescription")</strong></small></th>
                <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("Course.StandardUpload.UnitColorCode")</strong></small></th>
                <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("Course.StandardUpload.UnitStartDate")</strong></small></th>
                <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("Course.StandardUpload.UnitEndDate")</strong></small></th>
                <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("Course.StandardUpload.StandardStartDate")</strong></small></th>
                <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("Course.StandardUpload.StandardEndDate")</strong></small></th>
                <th class="pb-2 pt-2 text-center"><small><strong>@ResourceManager.GetString("Course.StandardUpload.Action")</strong></small></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.IsColumnMatch)
            {
                if (Model.ExcelData.Rows.Count > 0)
                {
                    foreach (DataRow dtRow in Model.ExcelData.Rows)
                    {
                        <tr class="@(Convert.ToBoolean(dtRow["IsError"].ToString())==true?"alert-danger":"NoErrorInRow")">

                            @foreach (DataColumn dc in Model.ExcelData.Columns)
                            {
                                if (dc.ColumnName.ToLower().Trim() != "iserror")
                                {
                                    if (dc.Ordinal == 0 || dc.Ordinal == 1 || dc.Ordinal == 2 || dc.Ordinal == 3 || dc.Ordinal == 4)
                                    {
                                        <td class="pt-2 pb-2">
                                            <div class="md-form md-outline date-time-picker mb-0">
                                                <textarea class="form-control CanEdit mb-0 bg-white" data-cellname="@dc.ColumnName">@dtRow[dc].ToString()</textarea>
                                            </div>
                                        </td>
                                    }
                                    else if (dc.Ordinal == 5 || dc.Ordinal == 6 || dc.Ordinal == 7 || dc.Ordinal == 8)
                                    {
                                        string date = string.Empty;
                                        if (!string.IsNullOrEmpty(dtRow[dc].ToString()))
                                        {
                                            date = dtRow[dc].ToString();
                                        }
                                        <td class="pt-2 pb-2">
                                            <div class="md-form md-outline date-time-picker mb-0">
                                                <input type="text" value="@date" class="form-control CanEdit date-picker mb-0 bg-white" data-cellname="@dc.ColumnName" />
                                            </div>
                                        </td>
                                    }
                                }
                            }
                            <td class="text-center pt-2 pb-2">
                                <div class="md-form md-outline date-time-picker mb-0">
                                    <a onclick="UploadStandard.DeleteRow(this);" class="table-action-icon-btn" data-toggle="tooltip" data-title="Delete" data-placement="left" data-original-title="" title=""><small><i class="fas fa-trash-alt"></i></small></a>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="pt-2 pb-2" colspan="10">@ResourceManager.GetString("Course.StandardUpload.NoRecords")</td>
                    </tr>
                }

            }
            else
            {
                <tr class="alert-danger">
                    <td class="pt-2 pb-2" colspan="10">@ResourceManager.GetString("Course.StandardUpload.ColumnMismatch")</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.date-picker').datetimepicker({
            format: 'DD/MMM/YYYY',
            extraFormats: ['MM/DD/YYYY LT', 'DD/MM/YYYY LT', 'DD/MMM/YYYY LT']
        });
    });
</script>

