﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    var panelTitle = ResourceManager.GetString("Course.Standard.StandardTitle");
    ViewData["Title"] = panelTitle;
    var rnd = DateTime.Now.Ticks.ToString();
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-configuration.svg");
}
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card safety-categories-wrapper">
            <div class="card-body column-padding pt-3 pb-3 min-height">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">

                    </div>
                </div>

                <div class="table-wrapper">
                    <div class="row mb-3">
                        <div class="col-lg-8 col-md-8 col-12">
                            <div class="search-with-bg">
                                <i class="fa fa-search"></i>
                                <input type="search" id="StandardSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="float-right">
                                <a href="/Course/Standard/UploadStandard" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light">@ResourceManager.GetString("Course.StandardUpload.StandardUpload")</a>
                                @if (Html.CurrentPagePermission().CanEdit)
                                {
                                    <a id="btnAddStandard" href="javascript:void(0);" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light">@ResourceManager.GetString("Course.Standard.AddStandardGroup")</a>
                                }
                            </div>
                        </div>

                    </div>
                    <div class="table-wrapper">
                        <div class="">
                            <table class="table table-bordered table-hover table-responsive-md" id="tbl-StandardList"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
<style>
    .dataTables_filter {
        display: none;
    }
</style>
@section scripts
{
    <script language="javascript">
        translatedResources.Title = '@ResourceManager.GetString("Course.Standard.StandardTitle")';
        translatedResources.Description = '@ResourceManager.GetString("Course.Standard.Description")';
        translatedResources.GroupName = '@ResourceManager.GetString("Course.Standard.Course")';
        translatedResources.actions = '@ResourceManager.GetString("Shared.Labels.Actions")';
        translatedResources.ParentTopic = '@ResourceManager.GetString("Course.Standard.Term")';
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Course/Standard/Standard.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
