﻿@model IEnumerable<Phoenix.Models.Entities.StandardBankExcelModel>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.VLE.Web.Helpers

<div class="row">
    <div class="col-12">
        <div class="card mt-4 shadow-none bg-transparent">
            <div class="card-body">
                <div class="vTab-wrapper d-lg-flex course-cata-tab">
                    <input type="hidden" value="" id="hdnStandardBankId" />
                    <div class="tab-container flex-1" id="divStandardBankList">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
    @Html.Partial("_ValidationJSPartial")
}

@section scripts
    {
    <script type="text/javascript" src="~/content/js/addons/vTabs.js"></script>
    <script src="@Url.Content("~/Content/js/ckeditor/ckeditor.js?v ="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Course/Standard/StandardBank.js?v ="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    <script>
        translatedResources.StandardEdit = '@ResourceManager.GetString("Course.StandardBankUpload.StandardEdit")';
        translatedResources.UnitEdit = '@ResourceManager.GetString("Course.StandardBankUpload.UnitEdit")';
        translatedResources.SubUnitEdit = '@ResourceManager.GetString("Course.StandardBankUpload.SubUnitEdit")';
        var uploadButton = '<a href="/Course/Standard/UploadStandardBank" class="btn btn-primary m-0 rounded-6x ml-3"><i class="fa fa-plus mr-2"></i>@ResourceManager.GetString("Course.StandardUpload.StandardBankUpload")</a>';
        $('#breadcrumbActions').html(uploadButton);
    </script>
}


