﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    ViewBag.Title = "Upload Standard Bank";
    var rnd = DateTime.Now.Ticks.ToString();
}

<div class="container-fluid mt-2 mb-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="pb-1 pt-1 title-with-fields">
                        <h3 class="card-title">@ResourceManager.GetString("Course.StandardUpload.StandardBankUpload")</h3>
                        <div class="title-fields mt-2">
                            <a href="javascript:void(0)" class="btn btn-primary m-0 pb-2 pt-2 waves-effect waves-light" id="btnDownloadImportedExcel">
                                <strong>@ResourceManager.GetString("Course.StandardUpload.DownloadTemplate")</strong>
                            </a>
                        </div>
                    </div>
                    <div class="column-padding pt-3 pb-0" id="frmStandardBankUpload">
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-12">
                                <div class="row mb-3">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="md-form md-outline mb-0">
                                            <input type="file" id="ImportExcelFileId" name="ImportExcelFileId" data-required="" onchange="UploadStandardBank.StandardFileOnChange(this.files);" data-ng-required="" accept=".xls,.xlsx" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="md-form md-outline mb-0">
                                            <button id="btnSaveImportedExcel" type="button" class="btn btn-outline-primary m-0 waves-effect waves-light" tabindex="5" onclick="UploadStandardBank.SaveImportedExcelData();">Save </button>
                                            <button id="btnClearImportedExcel" type="button" class="btn btn-outline-primary m-0 waves-effect waves-light" tabindex="5" onclick="UploadStandardBank.ClearFieldAndGrid();">Clear </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-12">
                                <div class="row mb-3">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="md-form md-outline mb-0">
                                            @*   <a class="btn btn-outline-primary trigger-fileUploader m-0 d-block z-depth-0" href="#">@ResourceManager.GetString("Shared.Labels.UploadFile")</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-wrapper column-padding mb-3" id="divExcelTable">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
}

@section scripts{
    <script src="@Url.Content("~/Content/js/custom/Course/UploadStandardBank.js?rnd="+rnd)"></script>
}

