﻿@model Phoenix.VLE.Web.EditModels.TemplateEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    var rnd = DateTime.Now.Ticks.ToString();

    var btnText = Model.TemplateId == 0 ? @ResourceManager.GetString("Shared.Buttons.Save") : @ResourceManager.GetString("Shared.Buttons.Update");
    var enableNext = Model.TemplateId == 0 ? "none" : "inline-block";
}

<input type="hidden" id="formModified" value="false" />
<input type="hidden" id="encryptedId" value="@EncryptDecryptHelper.EncryptUrl(Model.TemplateId)" />
@using (Ajax.BeginForm("AddEditTemplateDetail", "PlanTemplate", new { @area = "document" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "template.onSaveSuccess" }, new { id = "frmAddTempalte", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    var next = 0;
    @Html.HiddenFor(x => x.TemplateId)
    @Html.HiddenFor(x => x.SchoolId)
    @Html.HiddenFor(x => x.IsAddMode)
    @Html.HiddenFor(x => x.FileName)
    @Html.HiddenFor(x => x.FilePath)
    @Html.HiddenFor(x => x.Status)
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card min-height">
                <div class="card-body">
                    <div class="title-with-fields">
                        <h3 class="card-title">@ResourceManager.GetString("Template.Template.Header")</h3>

                    </div>
                    <div class="question-wrapper column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="md-form md-outline">
                                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                                    @Html.LocalizedLabel("active", "Template.Template.Title")
                                    @Html.ValidationMessageFor(e => e.Title, "", new { @class = "text-danger small" })
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="md-form md-outline">
                                    @Html.DropDownListFor(x => x.TemplateType, Model.TemplateTypeList, new { @class = "selectpicker" })
                                    @Html.LocalizedLabel("active select-label", "Template.Template.TemplateType")
                                    @Html.ValidationMessageFor(e => e.TemplateType, "", new { @class = "text-danger small" })
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="md-form md-outline">
                                    @Html.DropDownListFor(x => x.Period, Model.PeriodList, new { @class = "selectpicker" })
                                    @Html.LocalizedLabel("active select-label", "Template.Template.Period")
                                    @Html.ValidationMessageFor(e => e.Period, "", new { @class = "text-danger small" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="md-form md-outline">
                                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = "5" })
                                    @Html.LocalizedLabel("active", "Template.Template.Description")
                                    @Html.ValidationMessageFor(e => e.Description, "", new { @class = "text-danger small" })
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 element align-items-center mb-3">
                            <div class="col-lg-1 col-md-1 col-12">
                                <h4 class="sub-heading">@ResourceManager.GetString("Template.Template.AddFieldText")</h4>
                            </div>
                            <div class="col-md-4">
                                <button class='btn btn-primary waves-effect waves-light m-0' type='button' id="add-more">Add More</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12" id="TemplateFields">
                                @if (Model.TemplateFields.Count > 0)
                                {
                                    Html.RenderPartial("_TemplateField", Model.TemplateFields);
                                }
                                else
                                {
                                <div class='element row' id='@("div_" + next)'>
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <div class="md-form md-outline">
                                            <input type='hidden' id='TemplateField_@(next)_TemplateFieldId' name='TemplateFields[@(next)].TemplateFieldId' value='0'>
                                            <input type='hidden' id='TemplateField_@(next)_IsActive' name='TemplateFields[@(next)].IsActive' value='true'>
                                            <input type='text' class='responseInput form-control' placeholder='Field' id='TemplateField_@(next)_Field' maxlength='150' name='TemplateFields[@(next)].Field' required='required'>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12 d-flex">
                                        <div class="md-form md-outline flex-1">
                                            <input type='text' class='form-control' placeholder='Placeholder' id='TemplateField_@(next)_Placeholder' readonly='readonly' maxlength='150' name='TemplateFields[@(next)].Placeholder' required='required'>
                                        </div>
                                        <div class="custom-control font-small ml-3 text-medium">
                                            <input type='checkbox' class='Label custom-control-input' id='TemplateField_@(next)_IsLabel' name='TemplateFields[@(next)].IsLabel'>
                                            <label class='custom-control-label mt-1 pt-1 pl-1' for='TemplateField_@(next)_IsLabel'>@ResourceManager.GetString("Template.Template.IsLabel")</label>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-12">
                                        <select id='TemplateField_@(next)_CertificateColumnId' title="Select Column" class='form-control form-control-alternative' maxlength='150'
                                                name='TemplateFields[@(next)].CertificateColumnId'></select>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-12">
                                        <div class='custom-control custom-checkbox custom-control-inline my-4 my-md-0'>
                                            <input type='checkbox' class='DefaultValue custom-control-input' id='TemplateField_@(next)_DefaultFieldValue' name='TemplateFields[@(next)].DefaultFieldValue'>
                                            <label class='custom-control-label' for='TemplateField_@(next)_DefaultFieldValue'>@ResourceManager.GetString("Template.Template.DefaultFieldValue")</label>
                                            <div class="col-md-0">
                                                <button type='button' id='remove_@(next)' class='remove btn btn-outline-danger m-0'><i class='fas fa-plus'></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>

                        @*<div class="row"><br /></div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <button type="submit" id="btn-submit" class="btn btn-primary m-0">@btnText</button>
                                    <button type="submit" id="btnNext" style="display:@enableNext;" data-redirect="false" class="btn btn-primary m-0">@ResourceManager.GetString("Shared.Buttons.Next")</button>
                                </div>
                            </div>*@

                        <div class="d-flex justify-content-end">
                            <button type="button" onclick="location.href='/Document/PlanTemplate'" class="btn btn-outline-primary waves-effect waves-light">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                            <button type="submit" id="btn-submit" class="btn btn-primary waves-effect waves-light">@ResourceManager.GetString("Shared.Buttons.Save")</button>
                            <button id="btnNavCertificateBuilder" type="button" onclick="window.location.href='/Document/PlanTemplate/TemplateEditor?id=@EncryptDecryptHelper.EncryptUrl(Model.TemplateId)'" class="btn btn-primary waves-effect waves-light @(Model.IsAddMode ? "d-none" : "")">@ResourceManager.GetString("Shared.Buttons.Next")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}
@section scripts
{
    <script src="@Url.Content("~/Content/js/custom/Templates/Template.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">

        $("#btnBack").show();

        $(document).on('click', '#btnBack', function () {
            location.href = "/document/plantemplate";
        });
    </script>
}
