﻿@model Phoenix.VLE.Web.EditModels.TemplateEdit
@using Phoenix.Common.Localization
@using DevExpress.Web.Mvc.UI
@using Phoenix.Common.Helpers
@{
    var rnd = DateTime.Now.Ticks.ToString();


    Phoenix.VLE.Web.EditModels.TemplateEdit TemplateEditFields = new Phoenix.VLE.Web.EditModels.TemplateEdit();
    if (Session["TemplateFields"] != null)
    {
        TemplateEditFields = (Phoenix.VLE.Web.EditModels.TemplateEdit)Session["TemplateFields"];
    }

}

<style>
    html[dir=rtl] #DemoRichEdit_R_TC_TC {
        position: absolute !important;
    }

    html[dir=rtl] .dxr-tabWrapper {
        position: absolute !important;
        left: 93px !important;
    }

    html[dir=rtl] #DemoRichEdit_R_T2 .dxr-tabWrapper {
        left: 42px !important;
    }

    html[dir=rtl] #DemoRichEdit_R_T3 .dxr-tabWrapper {
        left: 397px !important;
    }

    html[dir=rtl] #DemoRichEdit_R_T0 .dxr-tabWrapper {
        left: 501px !important;
    }

    html[dir=rtl] #DemoRichEdit_R_T4 .dxr-tabWrapper {
        left: 396px !important;
    }

    #DemoRichEdit_View {
        height: 700PX !important;
    }

    #DemoRichEdit_Bar {
        margin-top: 425px;
        position: relative;
        z-index: 9999;
        border-bottom: 1px solid #dfdfdf;
    }
    .dxrePages {
        overflow: auto;
    }
</style>

<input type="hidden" id="placeholderExist" value="@Model.AllPlaceholderExist" />
@Html.HiddenFor(m => m.TemplateId)
<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card min-height" style="height: 1000px !important;">
            <div class="card-body">
                <div class="title-with-fields">
                    <h3 class=" card-title">@Model.Title</h3>
                    <div class="title-fields">
                        <button id="btnSave" type="button" class="m-0 btn btn-primary btn-sm text-uppercase mr-2">@ResourceManager.GetString("Shared.Buttons.Save")</button>
                        <button id="btnDone" type="button" class="m-0 btn btn-primary btn-sm text-uppercase">@ResourceManager.GetString("Shared.Buttons.Done")</button>
                    </div>
                </div>

                <div class="column-padding pt-3 pb-3">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-12">
                            <div class="template-placeholders">
                                @foreach (var tf in Model.TemplateFields)
                                {
                                    var IsNewField = true;
                                    if (tf.IsLabel)
                                    {
                                        if (TemplateEditFields != null && TemplateEditFields.TemplateId > 0)
                                        {

                                            foreach (var existField in TemplateEditFields.TemplateFields)
                                            {
                                                if (existField.TemplateFieldId == tf.TemplateFieldId)
                                                {
                                                    IsNewField = false;
                                                    <button type="button" class="btn btn-outline-primary btn-sm m-0 mb-1 btnDeTag" data-clickCnt="1" value="@tf.Placeholder">@tf.Field</button>
                                                }
                                            }
                                        }
                                        if (IsNewField)
                                        {
                                            <button type="button" class="btn btn-outline-primary btn-sm m-0 mb-1 btnDeTag" data-clickCnt="0" value="@tf.Placeholder">@tf.Field</button>
                                        }
                                    }
                                    else
                                    {
                                        IsNewField = true;
                                        if (TemplateEditFields != null && TemplateEditFields.TemplateId > 0)
                                        {
                                            foreach (var existField in TemplateEditFields.TemplateFields)
                                            {
                                                if (existField.TemplateFieldId == tf.TemplateFieldId)
                                                {
                                                    IsNewField = false;
                                                    <button type="button" class="btn btn-primary btn-sm m-0 mb-1 btnDeTag" data-clickCnt="1" value="@tf.Placeholder">@tf.Field</button>
                                                }
                                            }
                                        }
                                        if(IsNewField)
                                        {
                                            <button type="button" class="btn btn-primary btn-sm m-0 mb-1 btnDeTag" data-clickCnt="0" value="@tf.Placeholder">@tf.Field</button>
                                        }
                                    }

                                }
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-12 border min-vh-100" style="height: 930px !important;">
                            @using (Html.BeginForm("CustomToolbarPartial", "PlanTemplate", new { model = Model.RichTemplateEditorData }))
                            {
                                @Html.Action("CustomToolbarPartial", "PlanTemplate", new { model = Model.RichTemplateEditorData });
                            }
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>



@section devexpressplugins
{
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "MaterialCompact" },
        new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit, Theme = "MaterialCompact" },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "MaterialCompact" },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet, Theme = "MaterialCompact" }
    )
    @Html.DevExpress().GetScripts(
           new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
           new Script { ExtensionSuite = ExtensionSuite.RichEdit },
           new Script { ExtensionSuite = ExtensionSuite.Editors },
           new Script { ExtensionSuite = ExtensionSuite.Spreadsheet }
       )


    <script type="text/javascript">

        (function () {
            //DemoRichEdit.commands.insertText.execute("Hello! This is new RichEdit API");

            var commandsTable = {
                "bold": function (rich) { return rich.commands.changeFontBold },
                "italic": function (rich) { return rich.commands.changeFontItalic },
                "underline": function (rich) { return rich.commands.changeFontUnderline },
                "strikeout": function (rich) { return rich.commands.changeFontStrikeout },
                "alignleft": function (rich) { return rich.commands.toggleParagraphAlignmentLeft },
                "aligncenter": function (rich) { return rich.commands.toggleParagraphAlignmentCenter },
                "alignright": function (rich) { return rich.commands.toggleParagraphAlignmentRight },
                "listbullets": function (rich) { return rich.commands.toggleBulletedList },
                "listnumbers": function (rich) { return rich.commands.toggleNumberingList },
                "insertlink": function (rich) { return rich.commands.openInsertHyperlinkDialog },
                "insertpicture": function (rich) { return rich.commands.openInsertPictureDialog },
                //"teacherName": function (rich) { return rich.commands.insertText.execute('SomeField') },
            };

            function onToolbarItemClick(s, e) {
                var command = commandsTable[e.item.name].call(this, DemoRichEdit);
                command.execute();
            }
            function updateToolbar() {
                for (var key in commandsTable) {
                    if (!commandsTable.hasOwnProperty(key)) continue;
                    updateToolbarItem(key, commandsTable[key].call(this, DemoRichEdit));
                }
            }
            function updateToolbarItem(itemName, command) {
                var item = DemoToolbar.GetItemByName(itemName);
                var state = command.getState();
                item.SetEnabled(state.enabled);
                item.SetChecked(state.value);
            }

            window.onToolbarItemClick = onToolbarItemClick;
            window.updateToolbar = updateToolbar;
        })();

        $(function () {
            $(document).on('click', function () {
                if ($("#DemoRichEdit_R_T2").is(":visible")) {
                    $("html[dir=rtl] #DemoRichEdit_R_T2 .dxr-tabWrapper").css("left", "42px");
                }
            })
        })
    </script>
}


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}

@section scripts
{
    <script src="@Url.Content("~/Content/js/custom/Templates/Template.js?rnd="+rnd)"></script>
    <script type="text/javascript">
         translatedResources.assignplaceholder= '@ResourceManager.GetString("Template.Template.AssignPlacehoderMessage")';
        $(".btnDeTag").click(function () {
            if ($(this).attr('data-clickCnt') == '0') {
                $(this).attr('data-clickCnt','1');
            }
        DemoRichEdit.commands.changeFontBackColor.execute("NoColor");
            DemoRichEdit.commands.insertText.execute($(this).val());
            DemoRichEdit.commands.changeFontBold.execute(false);
            //var color = $(this).attr("data-color");
            //if (color != undefined && color != '') {
            //    DemoRichEdit.commands.changeFontBackColor.execute(color);
            //    DemoRichEdit.commands.insertText.execute($(this).val());
            //    DemoRichEdit.commands.changeFontBold.execute(false);
            //}
            //else {

            //}


            //DemoRichEdit.commands.insertText.execute("<teacher_name>");
            //var str = DemoRichEdit.document.activeSubDocument.text;
            //alert(str.replace("<teacher_name>", "Anam Ahemad"));
            //DemoRichEdit.document.activeSubDocument.text.replace("<teacher_name>", "Anam Ahamed");
        });


    </script>
}