﻿@model Phoenix.Models.StudentDetails
@using System.Globalization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@{
    var active = ""; var hidden = ""; var counter = 1;
    active = Model.IsSelected ? "in active" : "";
    hidden = Model.IsSelected ? "" : "hide-item";
}
<style>
    .hidetdborder {
        border: 0px !important;
    }

    .tdtopborder {
        border-top: 0px !important;
    }

    .tdbottomborder {
        border-bottom: 0px !important;
    }
</style>
<div class="subject bg-white leave-request-card">
    @*<span>@Model.StudentNo</span>*@
    <table id="tblSubject-@Model.StudentNo" class="table table-bordered table-hover table-responsive-md tableLeaveRequest tblSubjectsGrid" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">@ResourceManager.GetString("Examination.Subject.SubjectName")</th>
                <th class="th-sm">@ResourceManager.GetString("Examination.Subject.ExamLevel")</th>
                <th class="th-sm">@ResourceManager.GetString("Examination.Subject.ExamBoard")</th>
                <th class="th-sm">@ResourceManager.GetString("Examination.Subject.SubjectDetails")</th>
                <th class="th-sm">@ResourceManager.GetString("Examination.Subject.FinalDate")</th>
                <th class="th-sm text-center">@ResourceManager.GetString("Examination.Subject.Fee")</th>
                <th class="th-sm tbl-actions">@ResourceManager.GetString("Examination.Subject.Select")</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.LstSubjectDetails.Count() > 0)
            {
                foreach (var sub in Model.LstSubjectDetails)
                {

                    counter = 1;
                    var cntPaper = sub.GetPaperList.Count();

                    foreach (var td in sub.GetPaperList)
                    {
                        DateTime parameterDate = DateTime.Today; DateTime todaysDate = DateTime.Today;
                        if (!string.IsNullOrEmpty(td.RegisterEndDate))
                        {
                            DateTime dt;

                            var isValidDate = DateTime.TryParse(td.RegisterEndDate, out dt);
                            if (isValidDate) { parameterDate = dt; }

                        }
                        <tr>
                            @*@if (cntPaper > 1 && counter == 1)
                                {
                                    <td rowspan="@cntPaper">@sub.SubjectName</td>
                                }
                                else if (cntPaper == 1)
                                {
                                    <td>@sub.SubjectName</td>
                                }*@
                            @{
                                var className = td == sub.GetPaperList.First() ? "tdbottomborder" : td == sub.GetPaperList.Last() ? "tdtopborder" : "tdtopborder tdbottomborder";
                            }
                            <td class="@className">
                                @(td == sub.GetPaperList.First() ? sub.SubjectName : "")
                            </td>
                            <td class="@className">@td.ExamintionLevel</td>
                            <td class="@className">@td.ExamintionBoard</td>
                            <td class="@className">@td.PaperName</td>
                            <td class="@className">@td.RegisterEndDate</td>
                            <td class="@className"><div class="text-right col-md-12">@String.Format("{0:#,0.00}", td.PaperCost)</div></td>
                            <td class="@className">
                                @if (parameterDate >= todaysDate && !string.IsNullOrEmpty(td.RegisterEndDate))
                                {
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" onclick="OnSubjectCheck(this,@Model.StudentNo)" name="chk-@Model.StudentNo" value="@td.ExamSetupID" class="custom-control-input" id="@Model.StudentNo-@td.ExamSetupID">
                                        <label class="custom-control-label" for="@Model.StudentNo-@td.ExamSetupID"></label>
                                    </div>
                                }
                            </td>

                        </tr>
                        counter++;
                    }
                }
            }
            else
            {
                <tr class="tbl-no-row">
                    <td colspan="7" class="text-center">@ResourceManager.GetString("Shared.Messages.NoData")</td>
                </tr>
            }
        </tbody>
    </table>


    <div class="row">
        <div class="col-lg-6 col-md-12 col-12">
            @if (Model.LstSubjectDetails.Count() > 0)
            {
                <div class="section-info text-primary font-small d-flex align-items-center p-3 hide-item">
                    <img src="~/Content/VLE/img/svg/alert-icon.svg" class="svg mr-2" alt="">
                    @string.Format(ResourceManager.GetString("Examination.Message.Note"), Model.LastDateForSubmition)
                </div>
            }
        </div>
        <div class="col-lg-2 col-md-12 col-12">
            &nbsp;
        </div>
        <div class="col-lg-4 col-md-12 col-12">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-12 text-right">
                    <label for="net-payable" class="mt-2 text-semibold"> @ResourceManager.GetString("Examination.Message.TotalAmount")</label>
                </div>
                <div class="col-lg-4 col-md-12 col-12">
                    <input type="text" id="net-payable-@Model.StudentNo" class="form-control text-right selectionPayAmount" placeholder="0.00" readonly="readonly">
                </div>
            </div>
        </div>
    </div>


</div>
<div class="row mb-3 btnConfirmSelection-@Model.StudentNo d-none">
    <div class="col-lg-12 col-md-12 col-12 d-flex justify-content-end">
        <button type="button" class="btn btn-outline-deep-purple" onclick="return resetSelection(this,'@Model.StudentNo')">@ResourceManager.GetString("Shared.Buttons.Reset")</button>
        <button type="button" class="btn btn-deep-purple mr-0" onclick="return onConfirmSelection(this,'@Model.StudentNo')">@ResourceManager.GetString("Examination.Button.Confirm")</button>
    </div>
</div>

<div class="exam card leave-request-card mt-4">
    <div class="content">
        <p class="sub-heading text-bold text-primary">@ResourceManager.GetString("Examination.Header.ExamPaper")</p>
    </div>
    <table id="tblExam-@Model.StudentNo" class="table table-bordered table-hover table-responsive-md tableLeaveRequest tblExamPaperGrid" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">@ResourceManager.GetString("Examination.ExamPaper.SubjectSyllabus")</th>
                <th class="th-sm">@ResourceManager.GetString("Examination.ExamPaper.ExamLevel")</th>
                <th class="th-sm">@ResourceManager.GetString("Examination.ExamPaper.ExamBoard")</th>
                <th class="th-sm">@ResourceManager.GetString("Examination.ExamPaper.SubjectDetails")</th>
                <th class="th-sm text-center">@ResourceManager.GetString("Examination.ExamPaper.Fee")</th>
                <th class="th-sm">@ResourceManager.GetString("Examination.ExamPaper.Status")</th>
                <th class="th-sm">@ResourceManager.GetString("Examination.ExamPaper.PaymentStatus")</th>
                <th class="th-sm tbl-actions">@ResourceManager.GetString("Examination.ExamPaper.Action")</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.LstExamPapers.Count() > 0)
            {

                foreach (var main in Model.LstExamPapers.Select(x => x.SubjectID).Distinct())
                {
                    counter = 1;
                    var paperList = Model.LstExamPapers.Where(x => x.SubjectID == main);
                    var cntPaper = paperList.Count();
                    foreach (var sub in paperList.ToList())
                    {
                        <tr>
                            @*@if (cntPaper > 1 && counter == 1)
                                {
                                    <td rowspan="@cntPaper">@sub.SubjectName</td>
                                }
                                else if (cntPaper == 1)
                                {
                                    <td>@sub.SubjectName</td>
                                }*@
                            @*@if (counter == 1)
                                {
                                    <td>@sub.SubjectName</td>
                                }
                                else
                                {
                                    <td></td>
                                }*@
                            @{
                                var className = sub == paperList.First() ? "tdbottomborder" : sub == paperList.Last() ? "tdtopborder" : "tdtopborder tdbottomborder";
                                //var className = (sub == paperList.First())  ? "tdbottomborder" : "tdtopborder";
                            }
                            <td class="@className">
                                @(sub == paperList.First() ? sub.SubjectName : "")
                            </td>
                            <td class="@className">@sub.ExamintionLevel</td>
                            <td class="@className">@sub.ExamintionBoard</td>
                            <td class="@className">@sub.PaperName</td>
                            <td class="@className"><div class="text-right col-md-12">@String.Format("{0:#,0.00}", sub.PaperCost)</div></td>
                            <td class="@className">
                                @if (sub.ApprovalStatus.ToLower() == "pre approved" || sub.ApprovalStatus.ToLower() == "approved from school")
                                {
                                    <span class="badge badge-success">@sub.ApprovalStatus</span>
                                }
                                else if (sub.ApprovalStatus.ToLower() == "pending for approval")
                                {
                                    <span class="badge badge-warning">@sub.ApprovalStatus</span>
                                }
                                else if (sub.ApprovalStatus.ToLower() == "rejected")
                                {
                                    <span class="badge no-badge">@sub.ApprovalStatus</span>
                                }
                            </td>
                            <td class="@className">@sub.PaymentStatus</td>
                            <td class="@className">
                                @if (@sub.IsRemove)
                                {
                                    <a class="text-center" herf="#" onclick="return OpenRemovePopup('@sub.ExamPaperSetDetID','@Model.StudentNo','@sub.PaperName')" title="Remove">
                                        <i class="fas fa-times"></i>
                                        <span>@ResourceManager.GetString("Shared.Labels.Remove")</span>
                                    </a>
                                }
                            </td>
                        </tr>
                        counter++;
                    }

                }
            }
            else
            {
                <tr class="tbl-no-row">
                    <td colspan="8" class="text-center">@ResourceManager.GetString("Shared.Messages.NoData")</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-4 col-md-12 col-12">
        </div>
        <div class="col-lg-8 col-md-12 col-12">
            <div class="row">
                <div class="col-lg-10 col-md-12 col-12 text-right">
                    <label for="net-payable" class="mt-2 text-semibold">@ResourceManager.GetString("Examination.Message.TotalAmountAtSchool") </label>
                </div>
                <div class="col-lg-2 col-md-12 col-12">
                    <input type="text" id="net-payable" class="form-control text-right payingAmount-@Model.StudentNo" placeholder="0.00" value="@String.Format("{0:#,0.00}", Model.TotalAmount)" readonly="readonly">
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.TotalAmount > 0 && Model.OnlinePaymentAllowed)
{
    <div class="button-wrap float-md-right">
        <button type="button" class="btn btn-deep-purple waves-effect mr-0 waves-light btnProceedToPay" onclick="return payOnline('@Model.StudentNo')">
            @ResourceManager.GetString("Examination.Button.PayOnline")
        </button>
    </div>
}


