﻿@model Phoenix.VLE.Web.EditModels.EventEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}

@using (Ajax.BeginForm("SaveEvent", "MyPlanner", new AjaxOptions { OnSuccess = "suggestion.onSaveSuccess" }, new { id = "frmAddSuggestion", @class = "form-horizontal" }))
{
    <div class="modal-body">
        <div class="popup-form">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.EventId)
            @Html.HiddenFor(x => x.UserId)
            @Html.HiddenFor(x => x.IsAddMode)
            @Html.HiddenFor(X => X.SchoolId)
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                        @Html.LocalizedLabel("active", "Planner.MyPlanner.Title")
                        @Html.ValidationMessageFor(x => x.Title)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                        @Html.LocalizedLabel("active", "Planner.MyPlanner.Description")
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="md-form md-outline">
                        @Html.DropDownListFor(d => d.EventCategoryId, (SelectList)ViewBag.lstEventCategory, selectText, new { @class = "selectpicker" })
                        @Html.LocalizedLabel("active", "Planner.MyPlanner.Category")
                        @Html.ValidationMessageFor(x => x.EventCategoryId)
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    @if (!String.IsNullOrEmpty(Model.FileName))
                    {
                        <ul class="list-group col-md-12 col-sm-12 col-12">
                            <li class="list-group-item">
                                <a class="task-listing-small-heading" href="javascript:void(0)" id="downloadAttachment">Download Attachment</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>*@
            @*<div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="standalone-uploader">
                        <input id="dropSuggestionFile" name="dropSuggestionFile" type="file" multiple>
                    </div>
                </div>
            </div>*@

        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            <button type="button" class="btn btn-primary waves-effect waves-light" id="btnSaveEvent">@ResourceManager.GetString("Shared.Buttons.Save")</button>
        </div>
    </div>
}


@Html.Partial("_ValidationJSPartial")