﻿@model Phoenix.VLE.Web.EditModels.EventEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    ViewData["Title"] = ResourceManager.GetString("Planner.MyPlanner.Planner");
    var rnd = DateTime.Now.Ticks.ToString();
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
    var pageSearchClass = SessionHelper.CurrentSession.IsStudent() ? "page-search" : "task-search";
}
<div class="row column-padding">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="card m-0 border-0">
            <div class="card-body">
                <h3 class="card-title">@ResourceManager.GetString("Planner.MyPlanner.AssignMembers")</h3>
                <div class="pt-3 pb-3">

                    @using (Ajax.BeginForm("AddUpdateThinkBoxUser", "ThinkBox", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnSuccess = "thinkBox.onSaveSuccess",
                        OnFailure = "thinkBox.onFailure",
                        InsertionMode = InsertionMode.Replace
                    }, new { @Id = "AbuseDelegate", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.EventId)
                        @Html.HiddenFor(m => m.SelectedPlannerMemberId)
                        @Html.HiddenFor(m => m.DeselectedPlannerMemberId)


                        @*@Html.HiddenFor(m => m.SelectedTeacherId)
            @Html.HiddenFor(m => m.DeselectedTeacherId)
            @Html.HiddenFor(m => m.SelectedStudentId)
            @Html.HiddenFor(m => m.DeselectedStudentId)*@

                        <div class="row pt-3">
                            <div class="col-lg-5 col-md-5 col-12">
                                <div class="md-form md-outline">
                                    @Html.DropDownList("SelectToShow", new SelectList(ViewBag.MemberTypes, "Value", "Text"), ResourceManager.GetString("Planner.MyPlanner.SelectMembers"), new { id = "memberToDisplay", @class = "selectpicker" })
                                    <label for="SelectToShow" class="active">@ResourceManager.GetString("Planner.MyPlanner.SelectMembers")</label>

                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-12" id="groupDropdownDiv" style="display:none">
                                <div class="md-form md-outline">
                                    @Html.DropDownList("Groups", new SelectList(ViewBag.SchoolGroup, "Value", "Text"), ResourceManager.GetString("SchoolGroup.SchoolGroup.SelectGroup"), new { @id = "groupDropdown", @class = "selectpicker", @data_live_search = "true" })
                                    <label for="DDLSchoolGroupId" class="active" form="Groups">@ResourceManager.GetString("SchoolGroup.SchoolGroup.DDLSchoolGroupId")</label>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                <h3 class="card-title pl-0">@ResourceManager.GetString("Planner.MyPlanner.ManageMember")</h3>
                                <div class="pt-3 pb-3">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <h4 class="sub-heading">@ResourceManager.GetString("Planner.MyPlanner.MembersToAdd")</h4>

                                            <div class="row mb-2">
                                                <div class="col-lg-12 col-md-12 col-12 @pageSearchClass border-0">
                                                    @*<div class="input-group">
            <input type="text" id="availableMemberSearch" placeholder="Search" class="form-control sp-search" />
            <span class="sp-btn-search input-group-addon add-on"><span class="fa fa-search"></span></span>
        </div>*@
                                                   
                                                    <div class="search-with-bg">
                                                        <span class="icon-search"></span>
                                                        <input type="search" id="availablePlannerMemberSearch" class="searchfield" placeholder="@ResourceManager.GetString("Planner.MyPlanner.SearchMembers")">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-lg-12 col-md-12 col-12">
                                                    <div class="border rounded column-padding pt-2 pb-3">
                                                        <div class="custom-control custom-checkbox ml-1 pb-2">
                                                            <input type="checkbox" class="custom-control-input" id="selectAllUnassignedPlannerMember" title="@ResourceManager.GetString("Shared.Labels.SelectAll")" value="SelectAll" />
                                                            <label class="custom-control-label to-sentence-case" for="selectAllUnassignedPlannerMember">@ResourceManager.GetString("Shared.Labels.SelectAll")</label>
                                                        </div>
                                                        <div class="manageAssignee-wrapper">

                                                            <div id="unassignedMemberList">
                                                                @Html.Partial("_GetUnAssignedMembers", Model.UnAssignedMemberList)
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-lg-12 col-md-12 col-12">
                                                    <button class="btn btn-primary btn-sm m-0" type="button" id="btnAddPlannerMember" href="#">@ResourceManager.GetString("Shared.Labels.Add") <i class="fas fa-plus ml-2"></i></button>
                                                    @*<button class="btn btn-primary btn-sm m-0" id="btnContribute" onclick="addUnassignedMembers('Contribute')" href="#">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Contribute") <i class="fas fa-exchange-alt ml-2"></i></button>
                                        <button class="btn btn-primary btn-sm m-0" id="btnManager" onclick="addUnassignedMembers('Manager')" href="#">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Manager") <i class="fas fa-user-tie ml-2"></i></button>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <h4 class="sub-heading">@ResourceManager.GetString("Planner.MyPlanner.MembersInEvent")</h4>
                                            <div class="row mb-2">
                                                <div class="col-lg-12 col-md-12 col-12 @pageSearchClass border-0">
                                                    @*<div class="input-group">
            <input type="text" id="groupMemberSearch" placeholder="Search" class="form-control sp-search" />
            <span class="sp-btn-search input-group-addon add-on"><span class="fa fa-search"></span></span>
        </div>*@
                                                   
                                                    <div class="search-with-bg">
                                                        <span class="icon-search"></span>
                                                        <input id="plannerMemberSearch" type="search" class="searchfield" placeholder="@ResourceManager.GetString("Planner.MyPlanner.SearchMembers")">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-lg-12 col-md-12 col-12">
                                                    <div class="border rounded column-padding pt-2 pb-3">
                                                        <div class="custom-control custom-checkbox ml-1 pb-2">
                                                            <input type="checkbox" class="custom-control-input" id="selectAllAssignedPlannerMember" title="@ResourceManager.GetString("Shared.Labels.SelectAll")" value="SelectAll"  />
                                                            <label class="custom-control-label to-sentence-case" for="selectAllAssignedPlannerMember">@ResourceManager.GetString("Shared.Labels.SelectAll")</label>
                                                        </div>
                                                        <div class="manageAssignee-wrapper">

                                                            <div id="AssignedMemberList">

                                                                @Html.Partial("_GetAssignedMembers", Model.AssignedMemberList)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-lg-12 col-md-12 col-12">
                                                    @*<button class="btn btn-primary btn-sm m-0" id="btnViewOnlyUpdate" onclick="updateAssignedMembers('ViewOnly')" href="#">@ResourceManager.GetString("SchoolGroup.SchoolGroup.ViewOnly") <i class="fas fa-eye ml-2"></i></button>
                                        <button class="btn btn-primary btn-sm m-0" id="btnContributeUpdate" onclick="updateAssignedMembers('Contribute')" href="#">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Contribute") <i class="fas fa-exchange-alt ml-2"></i></button>
                                            <button class="btn btn-primary btn-sm m-0" id="btnManagerUpdate" onclick="updateAssignedMembers('Manager')" href="#">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Manager") <i class="fas fa-user-tie ml-2"></i></button>*@
                                                    <button class="btn btn-primary btn-sm m-0" type="button" id="btnRemovePlannerMember">@ResourceManager.GetString("Shared.Labels.Remove") <i class="fas fa-times ml-2"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        // Commented the external user code as of now.
                        //NONEXISTING
                        @*<div class="row">
                            <div class="col-lg-12 col-md-12 col-12" id="NonExistingUser">
                                <h4 class="sub-heading">@ResourceManager.GetString("Planner.MyPlanner.NonExistingUser")</h4>
                            </div>
                        </div>*@
                        @*if (Model.IsAddMode)
                        {
                            <div class="row emailElement mb-2" id="nonExistingUsers">
                                <div class="col-lg-6 col-md-6 col-6">
                                    <div class='element' id='div_1'>
                                        <div class='quiz-answer-field'>
                                            <input type='text' class='responseInput form-control' placeholder="Enter Email Id" id='txt_1'>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-12">
                                    <button class='addAssignee btn btn-outline-primary m-0' type='button'><i class='fas fa-plus'></i></button>
                                </div>

                            </div>

                        }
                        else
                        {
                            if (Model.EventExternalUser.Any())
                            {
                                var next = 1;
                                foreach (var item in Model.EventExternalUser)
                                {
                                    <div class='element' id='@("div_" + next)'>
                                        <div class="row emailElement mb-2">
                                            <div class="col-lg-6 col-md-6 col-6">
                                                <div class="quiz-answer-field">
                                                    <input type='text' placeholder='@ResourceManager.GetString("Planner.MyPlanner.EnterEmailAddress")' id='@("txt_" + next)' class="responseInput form-control" value="@item.UserName">
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-6">
                                                @if (next == 1)
                                                {
                                                    <button class='addAssignee btn btn-outline-primary m-0' type='button'><i class='fas fa-plus'></i></button>
                                                }
                                                else
                                                {
                                                    <button type='button' id='remove_@next' class='remove btn btn-outline-danger m-0'><i class='fas fa-times'></i></button>
                                                }
                                            </div>

                                        </div>


                                    </div>
                                    next++;
                                }
                            }
                            else
                            {
                                <div class="row emailElement mb-2" id="nonExistingUsers">
                                    <div class="col-lg-6 col-md-6 col-6">
                                        <div class='element' id='div_1'>
                                            <div class='quiz-answer-field'>
                                                <input type='text' class='responseInput form-control' placeholder="Enter Email Id" id='txt_1'>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12">
                                        <button class='addAssignee btn btn-outline-primary m-0' type='button'><i class='fas fa-plus'></i></button>
                                    </div>
                                </div>
                            }
                        }*@
                        <div class="row pt-3">
                            <div class="col-lg-12 col-md-12 col-12">
                                <button id="btnSubmitPlanner" type="button" class="btn btn-primary m-0 waves-effect waves-light" tabindex="5">
                                    <span>@ResourceManager.GetString("Shared.Buttons.Save")</span>
                                </button>
                                <button type="button" id="btnCancelManageAssignee" class="btn btn-outline-primary">@ResourceManager.GetString("Shared.Labels.Back")</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        @*translatedResources.thinkBoxUser = '@ResourceManager.GetString("SecurityManagement.ThinkBox.ThinkBoxUser")';
        translatedResources.actions = '@ResourceManager.GetString("SecurityManagement.ThinkBox.Actions")';*@
        translatedResources.selectAdd = '@ResourceManager.GetString("Shared.Labels.SelectAdd")';
        translatedResources.selectRemove = '@ResourceManager.GetString("Shared.Labels.SelectRemove")';
    </script>
    <script src="@Url.Content("~/Content/js/custom/MyPlanner/ManageAssignees.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
