﻿
@using DevExpress.Web.Mvc.UI;
@model Phoenix.VLE.Web.ViewModels.DevExpressEditorSettings
@{
    ViewBag.Title = Model.FileName;
    Layout = "~/Areas/Document/Views/Shared/_Layout.cshtml";

    var webClient = new WebClient();
    byte[] data = webClient.DownloadData(Model.ServerPath);
}
<header class="clearfix">
    @*<h2>@Model.FileName</h2>*@
    <input type="hidden" value="@Model.ServerPath" />
</header>
<main>
    <div class="document-view">

        @if (Model.FileExtension.Contains("xls"))
        {

            @Html.DevExpress().Spreadsheet(settings => {
           settings.Name = "ExcelViewer";
           settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
           settings.Height = 500;
           settings.ReadOnly = true;
           settings.Theme = "MaterialCompact";
           settings.RibbonMode = DevExpress.Web.ASPxSpreadsheet.SpreadsheetRibbonMode.None;
       }).Open(DateTime.Now.Ticks.ToString(), () =>
       {
           return data;
       }).GetHtml()
        }
        @if (Model.FileExtension.Contains("doc"))
        {
            @Html.DevExpress().RichEdit(settings => {
           settings.Name = "DocumentViewer";
           settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
           settings.Height =800;
           settings.ReadOnly = true;
           settings.Theme = "MaterialCompact";
           settings.RibbonMode = DevExpress.Web.ASPxRichEdit.RichEditRibbonMode.None;
       }).Open(DateTime.Now.Ticks.ToString(), () =>
       {
           return data;
       }).GetHtml()
        }

    </div>
</main>