﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{
                /**/

                var rnd = DateTime.Now.Ticks.ToString();
}
@Html.Hidden("UserType", SessionHelper.CurrentSession.UserType)
@Html.Hidden("IsUpdatePermission", (bool)ViewBag.IsCustomPermission)
@{
    var eventCategory = ViewBag.lstCategory;
    var _eventCategories = ViewBag.EventCategories;
}

<style>
    .ddlEventCategory {
        width: 220px !important;
    }
</style>
<!-- Old code starts -->
<div class="row d-none">

    <div class="col-lg-12 col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">@ResourceManager.GetString("Planner.MyPlanner.Planner")</h3>
                <!-- Tasks tabs -->
                <div class="event-planner tab-panels column-padding pt-3 pb-3">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <button type="button" class="btn btn-sm btn-primary waves-effect waves-light eventCategoryAllFilter" data-dismiss="modal">@ResourceManager.GetString("Planner.MyPlanner.All")</button>
                            <button type="button" class="btn btn-sm btn-outline-primary waves-effect waves-light eventCategoryWholeSchoolFilter" data-dismiss="modal">@ResourceManager.GetString("Planner.MyPlanner.WholeSchool")</button>
                            <button type="button" class="btn btn-sm btn-outline-primary waves-effect waves-light eventCategoryTimeTableFilter" data-dismiss="modal">@ResourceManager.GetString("Planner.MyPlanner.TimeTable")</button>


                        </div>
                    </div>

                </div>
                <!-- Tasks tabs -->
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="row mb-3">
            <div class="col-xl-8 col-lg-12 col-md-12 col-12 order-xl-first order-last">
                <div class="card school-events-card bg-transparent border-0 py-0 pl-0">
                    <div class="events-header">
                        <div id="all-events-title" class="events-title arabictxt">

                        </div>

                        <div class="button-group">
                            <button type="button" class="btn btn-primary btn-sm btn-today btn-active rounded-4x">@ResourceManager.GetString("Planner.Labels.Today")</button>
                            <button type="button" class="btn btn-outline-primary btn-sm btn-week rounded-4x">@ResourceManager.GetString("Planner.Labels.Week")</button>
                            @*<button type="button" class="btn btn-outline-primary btn-sm btn-month rounded-4x">@ResourceManager.GetString("Planner.Labels.Month")</button>*@
                        </div>
                    </div>


                    <!------------------------------------------------------------------------------------------------>
                    <div class="tabPanels mt-3">
                        <ul class="nav nav-tabs defaultTabs" role="tablist">
                            <li class="nav-item waves-effect waves-light">
                                <a id="tab-liveSessions" class="nav-link active text-semibold" data-toggle="tab" href="#liveSessions" role="tab" aria-selected="true">@ResourceManager.GetString("Planner.MyPlanner.LiveSessions")</a>
                            </li>
                            <li class="nav-item waves-effect waves-light">
                                <a id="tab-timetable" class="nav-link text-semibold" data-toggle="tab" href="#timeTable" role="tab">@ResourceManager.GetString("Planner.MyPlanner.TimeTable")</a>
                            </li>
                            <li class="nav-item waves-effect waves-light">
                                <a id="tab-schoolEvents" class="nav-link text-semibold" data-toggle="tab" href="#events" role="tab">@ResourceManager.GetString("Planner.MyPlanner.SchoolEvents")</a>
                            </li>
                            <li class="nav-item waves-effect waves-light">
                                <a id="tab-otherEvents" class="nav-link text-semibold" data-toggle="tab" href="#otherEvents" role="tab">@ResourceManager.GetString("Planner.MyPlanner.OtherEvents")</a>
                            </li>
                        </ul>
                        <div class="tab-content bg-transparent">
                            <div class="tab-pane fade show active" id="liveSessions" role="tabpanel">
                                <div id="today-events-container" class="today-events-container events-content events-today overflow-hidden px-3 pb-3">
                                </div>
                                <div id="weekly-events-container" class="weekly-events-container events-content events-week overflow-hidden px-3 d-none">
                                </div>
                                <div id="monthly-events-container" class="monthly-events-container events-content events-month overflow-hidden px-3 d-none">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="timeTable" role="tabpanel">
                                <div id="today-timetable-container" class=" events-content events-today overflow-hidden px-3 pb-3">
                                </div>
                                <div id="weekly-timetable-container" class=" events-content events-week overflow-hidden px-3 d-none">
                                </div>
                                <div id="monthly-timetable-container" class=" events-content events-month overflow-hidden px-3 d-none">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="events" role="tabpanel">
                                <div id="today-schoolEvents-container" class=" events-content events-today overflow-hidden px-3 pb-3">
                                </div>
                                <div id="weekly-schoolEvents-container" class="events-content events-week overflow-hidden px-3 d-none">
                                </div>
                                <div id="monthly-schoolEvents-container" class="events-content events-month overflow-hidden px-3 d-none">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="otherEvents" role="tabpanel">
                                <div id="today-otherEvents-container" class=" events-content events-today overflow-hidden px-3 pb-3">
                                </div>
                                <div id="weekly-otherEvents-container" class=" events-content events-week overflow-hidden px-3 d-none">
                                </div>
                                <div id="monthly-otherEvents-container" class="events-content events-month overflow-hidden px-3 d-none">
                                </div>
                            </div>
                            <span id="noDataSpan" class="no-data-found text-bold mx-auto my-auto d-none">
                                @ResourceManager.GetString("Planner.MyPlanner.NoDataMsg")
                            </span>
                        </div>
                    </div>
                    <!------------------------------------------------------------------------------------------------>
                </div>
            </div>

            <div class="col-xl-4 col-lg-12 col-md-12 col-12 order-xl-last order-first">
                <div class="row mb-3">
                    <div class="col-12 d-flex justify-content-end flex-column flex-md-row">
                        <div class="search-with-bg w-responsive bg-white rounded-6x border mr-0 mr-md-2">
                            <span class="icon-search"></span>
                            <input type="search" id="searchEventsContent" class="searchfield search-field custom" placeholder="@ResourceManager.GetString("Planner.Labels.Searchforevents")">
                        </div>

                        <div class="md-form md-outline sort-dropdown category-dropdown mb-0 mt-3 mt-md-0 ml-0 ml-md-3 d-none">
                            <div class="multiselect-dropdown">
                                @Html.DropDownList("EventCategoryId", new MultiSelectList(ViewBag.lstCategory, "ItemId", "ItemName"), new { @class = "selectpicker bg-white rounded-6x ddlEventCategory", @data_selected_text_format = "count>1", @name = "EventCategoryId", @multiple = "multiple", @tabindex = "-98", @data_width = "auto", @data_live_search = "true", @title = @ResourceManager.GetString("Planner.Labels.SelectCategory") })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card column-padding sticky-top calendar-card bg-transparent border-0 p-0">
                            <div class="bg-white mb-3 rounded-2x overflow-hidden">
                                <div class="inline-date-picker pb-3 arabictxt"></div>
                            </div>
                            <ul class="eventCatType d-flex flex-wrap">
                                @foreach (var item in _eventCategories)
                                {
                                    <li class="text-semibold"><span style="--category-color:@item.ColorCode"></span> @item.Name</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!--New Code Ends-->
<!-- modal popups -->
<div class="modal fade" id="eventPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="popup-form column-padding">

                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <p id="eventThumbnail"></p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.Title")</h4>
                            <h5 class="m-0"><small id="eventDescription" class="text-medium text-capitalize"></small></h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.StartDate")</h4>
                            <h5 class="m-0"><small id="eventStart" class="text-medium text-capitalize"></small></h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.EndDate")</h4>
                            <h5 class="m-0"><small id="eventEnd" class="text-medium text-capitalize"></small></h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-md-6 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.Category")</h4>
                            <h5 class="m-0"><small id="eventCategory" class="text-medium text-capitalize"></small></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- modal popup for student event -->
<div class="modal fade" id="studentEventPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventTitleHeading"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="popup-form column-padding">

                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.EventSubject")</h4>
                            <h5 class="m-0"><small id="eventSubDescription" class="text-medium text-capitalize"></small></h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.StartTime")</h4>
                            <h5 class="m-0"><small id="eventStartTm" class="text-medium text-capitalize"></small></h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.EndTime")</h4>
                            <h5 class="m-0"><small id="eventEndTm" class="text-medium text-capitalize"></small></h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-md-6 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.RoomNumber")</h4>
                            <h5 class="m-0"><small id="eventRoomNumber" class="text-medium text-capitalize"></small></h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-md-6 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.TeacherName")</h4>
                            <h5 class="m-0"><small id="eventTeacherName" class="text-medium text-capitalize"></small></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                </div>
            </div>
        </div>
        <!-- modal popups -->
    </div>
</div>

<div class="modal fade" id="weeklyEventPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="weekly-eventTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="popup-form column-padding">

                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.CourseName")</h4>
                            <h5 class="m-0"><small id="courseName" class="text-medium text-capitalize"></small></h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.StartTime")</h4>
                            <h5 class="m-0"><small id="weekly-startTime" class="text-medium text-capitalize arabictxt"></small></h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.EndTime")</h4>
                            <h5 class="m-0"><small id="weekly-endTime" class="text-medium text-capitalize arabictxt"></small></h5>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-6 col-md-6 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.TeacherName")</h4>
                            <h5 class="m-0"><small id="weekly-teacherName" class="text-medium text-capitalize"></small></h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-md-6 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.Period")</h4>
                            <h5 class="m-0"><small id="weekly-period" class="text-medium text-capitalize"></small></h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-md-6 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.Expression")</h4>
                            <h5 class="m-0"><small id="weekly-expression" class="text-medium text-capitalize"></small></h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6 col-md-6 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.RoomNumber")</h4>
                            <h5 class="m-0"><small id="weekly-room-number" class="text-medium text-capitalize "></small></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                </div>
            </div>
        </div>
        <!-- modal popups -->
    </div>
</div>

<!--Assignment event popup-->
<div class="modal fade" id="assignmentEventPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignment-modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="popup-form column-padding">

                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.Title")</h4>
                            <h5 class="m-0"><small id="assignment-title" class="text-medium text-capitalize"></small></h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.DueDate")</h4>
                            <h5 class="m-0"><small id="assignmentDueDate" class="text-medium text-capitalize"></small></h5>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <h4 class="sub-heading m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.Description")</h4>
                            <h5 class="m-0"><small id="assignmentDescription" class="text-medium text-capitalize"></small></h5>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                </div>
            </div>
        </div>
        <!-- modal popups -->
    </div>
</div>

<!-- modal popup for event invitation acceptance -->
<div class="modal fade" id="eventInvitationPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ResourceManager.GetString("Planner.MyPlanner.AcceptEventTitle")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="popup-form column-padding">

                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <p class=" m-0 text-semibold">@ResourceManager.GetString("Planner.MyPlanner.AcceptEventDescription")</p>
                            <h5 class="m-0"><small class="text-medium text-capitalize"></small></h5>
                        </div>
                        <input type="hidden" id="hdnAcceptEventId" />
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary " data-dismiss="modal">@ResourceManager.GetString("Planner.MyPlanner.CancelButton")</button>
                    <button type="button" id="btnAcceptEventInvitation" class="btn btn-primary my-0 ml-2">@ResourceManager.GetString("Planner.MyPlanner.AcceptButton")</button>
                </div>
            </div>
        </div>
        <!-- modal popups -->
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{
    <script>
            translatedResources.planner = '@ResourceManager.GetString("Planner.MyPlanner.Planner")';
            translatedResources.AddLabel = '@ResourceManager.GetString("Shared.Labels.Add")';
            translatedResources.UpdateLabel = '@ResourceManager.GetString("Shared.Labels.Edit")';
            translatedResources.For = '@ResourceManager.GetString("Planner.MyPlanner.For")';
            translatedResources.cancelConfirm = '@ResourceManager.GetString("Planner.MyPlanner.CancelConfirm")';
            translatedResources.cancelSuccess = '@ResourceManager.GetString("Planner.MyPlanner.CancelSuccess")';
        translatedResources.classNotRunning = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.LiveClassNotRunning")';
        translatedResources.startTimeWarning = '@ResourceManager.GetString("Planner.MyPlanner.StartTimeWarning")';
        translatedResources.endDateWarning = '@ResourceManager.GetString("Planner.MyPlanner.EndDateWarning")';
        translatedResources.assignmentSubmission = '@ResourceManager.GetString("Planner.MyPlanner.AssignmentSubmission")';
        translatedResources.eventAcceptSuccess = '@ResourceManager.GetString("Planner.MyPlanner.EventAcceptSuccess")';
        translatedResources.createEvent = '@ResourceManager.GetString("Planner.MyPlanner.CreateEvent")';
        translatedResources.scheduleLiveSession = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.CreateZoomMeeting")';
        translatedResources.timetableEventWarning = '@ResourceManager.GetString("Planner.MyPlanner.TimetableEventWarning")';
        translatedResources.eventson = '@ResourceManager.GetString("Planner.Labels.Eventson")';
        translatedResources.SessionWith = '@ResourceManager.GetString("Planner.MyPlanner.SessionWith")';
        translatedResources.Organizer = '@ResourceManager.GetString("Planner.MyPlanner.Organizer")';
        translatedResources.Start = '@ResourceManager.GetString("Planner.MyPlanner.Start")';
        translatedResources.ScheduleLiveSession = '@ResourceManager.GetString("Planner.MyPlanner.ScheduleLiveSession")';
        translatedResources.ViewRecording = '@ResourceManager.GetString("Planner.MyPlanner.ViewRecording")';
        translatedResources.To = '@ResourceManager.GetString("Shared.DateRangePicker.To")';
    </script>
    @*<script src="@Url.Content("~/Content/js/custom/SchoolGroup/GroupMeeting.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
        <script src="@Url.Content("~/Content/js/custom/MyPlanner/planner.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>*@

    @*@Scripts.Render("~/bundles/calendarbundlejs-teacher")*@
    <script src="@Url.Content("~/Content/js/custom/MyPlanner/MyPlanner.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
     <script src="@Url.Content("~/Content/js/common/FileDownloader.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
