﻿@model Phoenix.VLE.Web.EditModels.EventEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    ViewData["Title"] = ResourceManager.GetString("Planner.MyPlanner.Planner");
    var rnd = DateTime.Now.Ticks.ToString();
    string selectText = ResourceManager.GetString("Shared.Labels.Select");

}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">@ResourceManager.GetString("Planner.MyPlanner.AssignMembers")</h3>
                <div class="column-padding pt-3 pb-3">

                    @using (Ajax.BeginForm("AddUpdateThinkBoxUser", "ThinkBox", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        OnSuccess = "thinkBox.onSaveSuccess",
                        OnFailure = "thinkBox.onFailure",
                        InsertionMode = InsertionMode.Replace
                    }, new { @Id = "AbuseDelegate", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.EventId)
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-12 task-search border-bottom-0">
                                <h4 class="sub-heading">Users</h4>
                                <div class="search-wrapper border mb-2">
                                    <i class="fas fa-search active"></i>
                                    <input type="text" id="searchThinkBoxUser" class="search-field" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
                                </div>
                                <div class="border rounded column-padding pt-3 pb-3">
                                    <div class="custom-control custom-checkbox ml-1">
                                        <input type="checkbox" class="custom-control-input" id="SelectAllThinkBoxUsers" value="SelectAll">
                                        <label class="custom-control-label" for="SelectAllThinkBoxUsers">@ResourceManager.GetString("Shared.Labels.SelectAll")</label>
                                    </div>
                                    <div class="thinkboxUsers-wrapper pt-2 pb-3">
                                        <div id="UsersList">
                                            @foreach (var d in Model.TeacherList)
                                            {
                                                <div class="custom-control custom-checkbox ml-1" data-search-text="@d.Text">
                                                    <input type="checkbox" class="custom-control-input" id="@d.Value" value="@d.Value">
                                                    <label class="custom-control-label" for="@d.Value">@d.Text</label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-12">
                                <div class="d-flex flex-column h-100 justify-content-center">
                                    <button id="btnAddThinkBoxUser" type="button" class="btn btn-outline-primary m-0 mb-1 w-100">
                                        @ResourceManager.GetString("Shared.Labels.Add") <i class="fas fa-arrow-right ml-2"></i>
                                    </button>
                                    <button id="btnRemoveThinkBoxUser" type="button" class="btn btn-outline-primary m-0 w-100">
                                        <i class="fas fa-arrow-left mr-2"></i> @ResourceManager.GetString("Shared.Labels.Remove")
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-12 task-search border-bottom-0">
                                <h4 class="sub-heading">@ResourceManager.GetString("Shared.Labels.ExistingUsers")</h4>
                                <div class="search-wrapper border mb-2">
                                    <i class="fas fa-search active"></i>
                                    <input type="text" id="searchSelectedThinkBoxUser" class="search-field" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
                                </div>
                                <div class="border rounded column-padding pt-3 pb-3">
                                    <div class="custom-control custom-checkbox ml-1">
                                        <input type="checkbox" class="custom-control-input" id="UnselegatedAllThinkBoxUsers" value="SelectAll">
                                        <label class="custom-control-label" for="UnselegatedAllThinkBoxUsers">@ResourceManager.GetString("Shared.Labels.SelectAll")</label>
                                    </div>
                                    <div class="thinkboxUsers-wrapper pt-2 pb-3">
                                        <div id="SelectedUsersList">
                                            @foreach (var d in Model.SelectedTeacherList)
                                            {
                                                <div class="custom-control custom-checkbox ml-1" data-search-text="@d.Text">
                                                    <input type="checkbox" class="custom-control-input" id="@d.Value" value="@d.Value">
                                                    <label class="custom-control-label" for="@d.Value">@d.Text</label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-lg-12 col-md-12 col-12">
                                <button id="btnSubmitDelegates" type="submit" class="btn btn-primary m-0 waves-effect waves-light" tabindex="5">
                                    <span>@ResourceManager.GetString("Shared.Buttons.Save")</span>
                                </button>
                                <button type="button" id="btnCancel" class="btn btn-outline-primary">@ResourceManager.GetString("Shared.Labels.Back")</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.thinkBoxUser = '@ResourceManager.GetString("SecurityManagement.ThinkBox.ThinkBoxUser")';
        translatedResources.actions = '@ResourceManager.GetString("SecurityManagement.ThinkBox.Actions")';
        translatedResources.selectAdd = '@ResourceManager.GetString("SecurityManagement.ThinkBox.SelectAdd")';
        translatedResources.selectRemove = '@ResourceManager.GetString("SecurityManagement.ThinkBox.SelectRemove")';
    </script>
    <script src="@Url.Content("~/Content/js/custom/MyPlanner/ManageAssignees.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}