﻿@model Phoenix.VLE.Web.EditModels.ContentEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}

@using (Ajax.BeginForm("SaveContentResource", "Resource", new AjaxOptions { OnSuccess = "contentLibrary.onSaveSuccess" }, new { id = "frmAddContentResource", @class = "form-horizontal" }))
{
    <div class="modal-body">
        <div class="popup-form">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ContentId)
            @Html.HiddenFor(x => x.IsAddMode)
            @if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
            {
                @Html.Hidden("ContentImage", Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(Model.ContentImage))
            }
            else
            {
                @Html.HiddenFor(x => x.ContentImage)
            }

            @Html.HiddenFor(x => x.RedirectUrl)
            @Html.HiddenFor(x => x.PhysicalPath)
            @Html.HiddenFor(x => x.FileExtenstion)
            @Html.HiddenFor(x => x.IsSharepointFile)
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(x => x.ContentName, new { @class = "form-control" })
                        @Html.LocalizedLabel("active", "ContentLibrary.ContentResource.ContentName")
                        @Html.ValidationMessageFor(x => x.ContentName)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                        @Html.LocalizedLabel("active", "ContentLibrary.ContentResource.Description")
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="md-form md-outline">
                        @Html.DropDownListFor(x => x.SubjectIds, new MultiSelectList(ViewBag.CourseList, "Value", "Text", Model.SubjectId), new { @class = "selectpicker ddlStudentList", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true" })
                        @Html.LocalizedLabel("active select-label", "ContentLibrary.ContentResource.SubjectIds")
                        @Html.ValidationMessageFor(x => x.SubjectIds)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    @if (!String.IsNullOrEmpty(Model.ContentImage))
                    {
                        string filePath = "";
                        if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                        {
                            filePath = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(Model.ContentImage);
                        }
                        else
                        {
                            filePath = Model.ContentImage;
                        }
                        <div class="attachments-preview mb-3">
                            <ul class="d-flex">
                                <li class="position-relative rounded">
                                    <a href="javascript:void(0)" id="downloadConentImage" class="p-3 d-block filetype" data-toggle="tooltip" data-placement="bottom" data-title="@ResourceManager.GetString("ContentLibrary.Resources.DownloadAttachment")">
                                        <i class="fas fa-paperclip fa-2x"></i>
                                    </a>
                                    <a href="javascript:void(0)" id="deleteAttachment" class="remove position-absolute d-block bg-white" data-toggle="tooltip" data-placement="bottom" data-title="@ResourceManager.GetString("Shared.Labels.DeleteAttachment")">
                                        <i class="fas fa-times-circle"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="uploaderWidget">
                        <input id="dropContentImage" name="dropContentImage" type="file" multiple>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary m-0 waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            <button type="button" class="btn btn-primary m-0 ml-2 waves-effect waves-light" id="btnSaveContentData">@ResourceManager.GetString("Shared.Buttons.Save")</button>
        </div>
    </div>
}


@Html.Partial("_ValidationJSPartial")

<script type="text/javascript">
    $(document).ready(function () {
        $("#dropContentImage").fileinput({
            //theme: "fas",
            //uploadUrl: "/file-upload-batch/2",
            //showUpload: false,
            //showCaption: false,
            //maxFileCount: 1,
            //fileActionSettings: {
            //    showZoom: false,
            //    showUpload: false,
            //    //indicatorNew: "",
            //    showDrag: false
            //},
            //browseClass: "btn btn-outline-primary rounded z-depth-0 m-0 p-0 mt-3 btn-browse",
            //removeClass: "btn btn-sm m-0 z-depth-0",
            //uploadClass: "btn btn-primary rounded z-depth-0 m-0 p-0 mt-3 btn-upload",
            //cancelClass: "btn btn-default float-right rounded z-depth-0 m-0 p-0 mt-3 btn-cancel",
            //overwriteInitial: false,
            ////previewFileIcon: '<i class="fas fa-file"></i>',
            //initialPreviewAsData: false, // defaults markup
            //initialPreviewConfig: [{
            //    frameAttr: {
            //        title: 'My Custom Title',
            //    }
            //}],
            //preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
            //previewFileIconSettings: fileInputControlSettings.previewFileIconSettings,
            //previewSettings: fileInputControlSettings.previewSettings,
            //previewFileExtSettings: fileInputControlSettings.previewFileExtSettings
            language:'@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()',
            title: '@ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")',
            theme: "fas",
            showUpload: false,
            showCaption: false,
            showMultipleNames: false,
            maxFileCount: 1,
            uploadUrl: "/file-upload-batch/2",
            fileActionSettings: {
                showZoom: false,
                showUpload: false,
                showDrag: false
            },
            allowedFileExtensions: @Html.Raw(Json.Encode(ViewBag.FileExtension)),
            uploadAsync: true,
            browseClass: "btn btn-outline-primary rounded z-depth-0 m-0 p-0 mt-3 btn-browse",
            removeClass: "btn btn-sm m-0 z-depth-0 d-none",
            uploadClass: "btn btn-primary rounded z-depth-0 m-0 p-0 mt-3 btn-upload",
            cancelClass: "btn btn-default float-right rounded z-depth-0 m-0 p-0 mt-3 btn-cancel",
            overwriteInitial: false,
            //previewFileIcon: '<i class="fas fa-file"></i>',
            initialPreviewAsData: false, // defaults markup
            initialPreviewConfig: [{
                frameAttr: {
                    title: 'My Custom Title',
                }
            }],
        preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
        previewFileIconSettings: fileInputControlSettings.previewFileIconSettings,
        previewSettings: fileInputControlSettings.previewSettings,
        previewFileExtSettings: fileInputControlSettings.previewFileExtSettings
        });
    });
    $(".ddlStudentList").change(function () {
        var value = $(this).val();
        if (value.length === 0) {
            $("#SubjectIds-error").show();
        } else {
            $("#SubjectIds-error").hide();
        }

    });
</script>
