﻿@model List<Phoenix.Common.Models.ContentView>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common
@using Phoenix.Common.Helpers

<div class="content-provider-wrapper pb-3">
    <div class="card-body p-3 shadow-none" id="content-provider">
        <div class="row">

            @if (Model.Any())
            {
                foreach (var m in Model)
                {
                    string _contentType = "", _badgeClass = "";
                    if (m.ContentType == 1)
                    {
                        _contentType = "Free";
                        _badgeClass = "badge-success";
                    }
                    else if (m.ContentType == 2)
                    {
                        _contentType = "Paid";
                        _badgeClass = "badge-primary";
                    }

                    if (m.IsAssign)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-12 search-item">
                            <a href="@m.RedirectUrl" target="_blank">
                                <div class="card mb-3 border border-light">
                                    <div class="card-body certificate-container app-cover-image p-4">
                                        <img src="@m.ContentImage" />
                                    </div>
                                    <div class="card-footer bg-transparent d-flex justify-content-between">
                                        <span class="text-semibold text-truncate">@m.ContentName</span>
                                        <div class="knowledgehub-tag ml-2">
                                            <span class="badge badge-pill @_badgeClass z-depth-0 px-3 py-1 text-uppercase">@_contentType</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
                <div class="my-5 nodata col-lg-12" id="content-provider-no-data">
                    <span class="no-data-found text-bold d-block mx-auto my-auto">
                        @ResourceManager.GetString("ContentLibrary.ContentResource.NoDataContentProvider")
                    </span>
                </div>
            }
            else
            {
                <div class="my-5 nodata col-lg-12">
                    <span class="no-data-found text-bold d-block mx-auto my-auto">
                        @ResourceManager.GetString("ContentLibrary.ContentResource.NoDataContentProvider")
                    </span>
                </div>
            }

        </div>
    </div>

</div>