﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Common.Models.ContentView>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@{
    var pageSearchClass = SessionHelper.CurrentSession.IsStudent() ? "page-search" : "task-search";
    List<int> selectedCategories= Session["SelectedCategories"]==null?new List<int>():(List<int>)Session["SelectedCategories"];
}
<div class="search-row column-padding pt-3">
    <div class="row search-row justify-content-end">
        <div class="col-lg-9 col-12 d-flex justify-content-end align-items-center flex-column flex-md-row">
            <div class="search-with-bg w-responsive w-100 w-md-auto">
                <span class="icon-search"></span>
                @*<input type="search" class="searchfield" id="searchContentLibrary" placeholder="Search for Gems resources">*@
                <input data-url="@(string.Format(Model.LoadPageRecordsUrl,1,Model.SearchString))" value="@Model.SearchString" id="searchContent" type="text" class="searchfield search-field custom" placeholder="@ResourceManager.GetString("ContentLibrary.Resources.SearchResource")">
            </div>
            <div class="md-form md-outline sort-dropdown mb-0 mt-3 mt-md-0 ml-0 ml-md-3 w-100 w-md-auto">
                <label class="select-label">@ResourceManager.GetString("Shared.Labels.SortBy") </label>
                <select id="sortByContent" class="selectpicker" data-url="@(string.Format(Model.LoadPageRecordsUrl,1,Model.SearchString))">
                    <option class="border-bottom" value="" @(Model.SortBy == "" ? "selected" : "")>@ResourceManager.GetString("Shared.Labels.ModifiedDate")</option>
                    <option class="border-bottom" value="Name" @(Model.SortBy == "Name" ? "selected" : "")>@ResourceManager.GetString("Shared.Labels.Name")</option>
                    <option class="border-bottom" value="Description" @(Model.SortBy == "Description" ? "selected" : "")>@ResourceManager.GetString("Shared.Labels.Description")</option>
                </select>
            </div>
            <div class="md-form md-outline sort-dropdown category-dropdown mb-0 mt-3 mt-md-0 ml-0 ml-md-3 w-100 w-md-auto">
                <div class="multiselect-dropdown">
                    <label class="select-label">@ResourceManager.GetString("Shared.Labels.Category") </label>
                    @Html.DropDownList("Category", new MultiSelectList(ViewBag.CourseList, "Value", "Text",selectedCategories), new { @class = "selectpicker ddlSubjects", @name = "SubjectId", @multiple = "multiple", @data_live_search = "true", @data_size = "5", @data_actions_box = "true", @data_selected_text_format="count > 1" })
                </div>
            </div>
        </div>

    </div>
</div>
<div id="contentLibraryContainer">
    @Html.Partial("_ListContentLibrary", Model.PageRecords)
    <div class="row">
        @Html.Partial("_PaginationIndex", Model)
    </div>
</div>
<script>
    $('.selectpicker').selectpicker({
        dropdownAlignRight:true
    });
    $(".descriptionPopup").on("click", function () {
        var desc = $(this).data("desc");
        $("#fullDescription").html(desc);
        $("#readMoreTitle").html("Description");
    });
    $(".subjectPopup").on("click", function () {
        var desc = $(this).data("subjects");
        $("#fullDescription").html(desc);
        $("#readMoreTitle").html("Subjects");
    });
    globalFunctions.convertImgToSvg();
    globalFunctions.customScrollbar();
    $("#sortByContent").change(function () {
        var value = $(this).val();
        var url = $(this).data('url');
        $.ajax({
            type: 'POST',
            data: { pageIndex: 1, sortBy: value },
            url: '/ContentLibrary/Resources/PaginateContentLibraryGrid',
            success: function (result) {
                $('#PaginateResourceLibrary').html(result);
            },
            error: function (msg) {
            }
        });
    });
    $("#Category").change(function () {
        var value = $(this).val();
         var url = $(this).data('url');
         //var SelectCategory = $(this). children("option:selected"). val()===undefined;
         var SelectCategory = true;
        $.ajax({
            type: 'POST',
            data: { pageIndex: 1, categoryIds: value, selectCategory:SelectCategory },
            url: '/ContentLibrary/Resources/PaginateContentLibraryGrid',
            success: function (result) {
                $('#PaginateResourceLibrary').html(result);
            },
            error: function (msg) {
            }
        });
    });
</script>