﻿@model Phoenix.Models.GradingTemplate
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    var panelTitle = Model.GradingTemplateTitle + " - " + ResourceManager.GetString("ListCategories.GradingTemplateItem.GradingTemplateItems");
    ViewData["Title"] = panelTitle;
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-list-categories.svg");
    var rnd = DateTime.Now.Ticks.ToString();
}
@Html.HiddenFor(x => x.GradingTemplateId, new { id = "hdnGradingTemplateId" })
@Html.HiddenFor(x => x.GradingTemplateTitle, new { id = "hdnGradingTemplateTitle" })

<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card list-categories-wrapper">
            <div class="card-body column-padding pt-3 pb-3 min-height">

                <div class="table-wrapper ">
                    <div class="row mb-3">
                        <div class="col-lg-8 col-md-8 col-8">
                            <div class="search-with-bg">
                                <i class="fa fa-search"></i>
                                <input type="search" id="GradingTemplateItemListSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-4">
                            @if (Html.CurrentPagePermission().CanEdit)
                            {
                                <button id="btnAddGradingTemplateItem" type="button" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light"><i class="fa fa-plus mr-2"></i>@ResourceManager.GetString("ListCategories.GradingTemplateItem.AddGradingTemplateItem")</button>

                            }
                        </div>
                    </div>
                    <div class=" table-responsive-md">
                        <table class="table table-bordered table-hover table-responsive-md" id="tbl-GradingTemplateItem"></table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.gradingTemplateItem = '@ResourceManager.GetString("ListCategories.GradingTemplateItem.GradingTemplateItem")';
        translatedResources.shortLabel= '@ResourceManager.GetString("ListCategories.GradingTemplateItem.ShortLabel")';
        translatedResources.itemDescription = '@ResourceManager.GetString("ListCategories.GradingTemplateItem.GradingItemDescription")';
        translatedResources.gradingColor = '@ResourceManager.GetString("ListCategories.GradingTemplateItem.GradingColor")';
        translatedResources.percentage = '@ResourceManager.GetString("ListCategories.GradingTemplateItem.Percentage")';
        translatedResources.ScoreFrom = '@ResourceManager.GetString("ListCategories.GradingTemplateItem.ScoreFrom")';
        translatedResources.ScoreTo = '@ResourceManager.GetString("ListCategories.GradingTemplateItem.ScoreTo")';


        $(function () {
            $("#btnBack").show();

            $(document).on('click', '#btnBack', function () {

                var url = "/listcategories/gradingtemplate";
                window.location.href = url;
            });
        });
    </script>
    <script src="@Url.Content("~/Content/js/addons/jquery.minicolors.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/ListCategories/GradingTemplateItem.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
