﻿@using Phoenix.Models.Entities;
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers


<div class="container-fluid mt-2 mb-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body task-search">
                    <div class="column-padding pt-3 pb-3 pr-0 pl-0">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-12 pl-2 pr-2">
                            </div>
                            <div class="col-lg-4 col-md-4 col-12 pl-2 pr-2">
                                <div class="search-wrapper">
                                    <i class="fas fa-search active"></i>
                                    <input type="text" placeholder="Search Category" class="search-field" id="search">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card bg-transparent" id="products">
                <div class="card-body">
                    <div class="column-padding pt-3 pb-3 pr-0 pl-0">
                        <div class="row mb-3">
                            <!-- Report Group box starts here-->

                            @foreach (var item in (List<MigrationDetail>)ViewBag.GroupList)
                            {

                                <div class="group-list-report-search col-lg-3 col-md-3 col-12 mb-3 ClassReportSearch_@item.SyncCategory">
                                    <div class="column-padding pt-2 pb-2 pl-0 pr-0 bg-white report-group h-100">
                                        <div class="card border-0">
                                            <div class="card-body">

                                                <div class="title-with-fields">
                                                    <h3 class="card-title p-0">@item.SyncCategory</h3>
                                                </div>
                                                <ul class="vertical-link">

                                                    @foreach (var report in (List<MigrationDetail>)ViewBag.ReportList)
                                                    {


                                                        if (report.SyncCategory == item.SyncCategory)
                                                        {

                                                    <li>
                                                        <a href="#" data-rptname="@report.SyncDetail" class="trigger-rightDrawer" data-target="reportFilter">
                                                            @*onclick="fv(@report.SyncDetailId);">*@
                                                            <i class="fas fa-angle-double-right"></i>
                                                            @report.SyncDetail
                                                                                                                       

                                                        </a>
                                                        @*@if (Convert.ToString(report.SyncCategory) =="Course")
                                                        {*@
                                                            <BR>
                                                            @report.SyncDate
                                                                @*.ToString("dd-MMM-yyyy HH:MM")*@
                                                        @*}*@
                                                        <div class="column-padding" style="margin-top: -39px;">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-12 text-right pt-2 pb-2">
                                                                    <button type="button" onclick="MigrationSync.GetSyncDetail(@report.SyncDetailId)" class="btn btn-outline-primary SyncDetailId_@report.SyncDetailId">Sync @report.TotalSyncRecord</button>

                                                                </div>
                                                                @if (report.SyncDetailId>0)
                                                                {
                                                                    <label id="SyncDetailId_@report.SyncDetailId">@report.TotalSyncRecord</label>
                                                                }

                                                            </div>
                                                        </div>
                                                    </li>

                                                        }


                                                    }

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
                <div id="divshowMessage" class="row ml-0 mr-0 d-none">
                    <div class="card-body">
                        <span class="sub-heading">No records found</span>

                    </div>
                </div>
            </div>



        </div>

    </div>

    <div class="row">

    </div>
</div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
    @Html.Partial("_ValidationJSPartial")
}
@section scripts
{
    <script src="@Url.Content("~/Content/js/custom/MigrationJob/MigrationJob.js?v ="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}