﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
<link href="~/Content/css/custom/SIMS/custom.css" rel="stylesheet" />

<div class="container-fluid mt-2 mb-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body task-search">
                    <div class="column-padding pt-3 pb-3 pr-0 pl-0">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-12 pl-2 pr-2">
                            </div>
                            <div class="col-lg-4 col-md-4 col-12 pl-2 pr-2">
                                <div class="search-wrapper">
                                    <i class="fas fa-search active"></i>
                                    <input type="text" placeholder="Search Report" class="search-field" id="search">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card bg-transparent" id="products">
                <div class="card-body">
                    <div class="column-padding pt-3 pb-3 pr-0 pl-0">
                        <div class="row mb-3">
                            <!-- Report Group box starts here-->

                            @foreach (var item in (List<Report>)ViewBag.GroupList)
                            {

                                <div class="group-list-report-search col-lg-3 col-md-3 col-12 mb-3 ClassReportSearch_@item.GroupName">
                                    <div class="column-padding pt-2 pb-2 pl-0 pr-0 bg-white report-group h-100">
                                        <div class="card border-0">
                                            <div class="card-body">

                                                <div class="title-with-fields">
                                                    <h3 class="card-title p-0">@item.GroupName</h3>
                                                </div>
                                                <ul class="vertical-link">

                                                    @foreach (var report in (List<Report>)ViewBag.ReportList)
                                                    {


                                                        if (report.GroupName == item.GroupName)
                                                        {

                                                            <li>
                                                                <a href="#" data-rptname="@report.RM_REPORT_NAME" class="trigger-rightDrawer" data-target="reportFilter"
                                                                   onclick="loadReportFilterData(@report.RM_RPT_ID,this,'@report.Report_Type');">
                                                                    <i class="fas fa-angle-double-right"></i>
                                                                    @report.RM_REPORT_NAME

                                                                </a>
                                                            </li>

                                                        }


                                                    }

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
                <div id="divshowMessage" class="row ml-0 mr-0 d-none">
                    <div class="card-body">
                        <span class="sub-heading">No records found</span>

                    </div>
                </div>
            </div>



        </div>

    </div>

    <div class="row">

    </div>
</div>

