﻿@model List<Phoenix.Models.CalalogueAssingmentLession>
@using Phoenix.Common.Helpers
@{ 
    var canAudit = SessionHelper.CurrentSession.IsTeacher();
    var currentUserId =  SessionHelper.CurrentSession.IsParent() ? SessionHelper.CurrentSession.CurrentSelectedStudent.UserId : SessionHelper.CurrentSession.Id;
    var viewAssingment = canAudit ? "/Assignments/Assignment/GetAssignmentStudentDetailsByAssgnmtId?id=" : "/Assignments/Assignment/StudentHomeworkAddedit?id=";
    var editAssingment = "/Assignments/Assignment/AddeditAssignment?id=";
    var addeditAssingment = editAssingment + "&courseId={0}&unitid={1}";
}
@foreach (var assingment in Model)
{
    var assingmentId = EncryptDecryptHelper.EncryptUrl(assingment.AssignmentId);
    <div class="course-part py-3 d-flex align-items-center">
        <div class="course-img bg-pink d-flex align-items-center justify-content-center"><i class="fa-clipboard-list fas text-primary"></i></div>
        <p class="text-semibold mb-0 ml-3">
            @assingment.AssignmentTitle
            @if (assingment.GroupsAssignedCount > 0)
            {
                <div class="dropdown">
                    <a href="javascript;:" id="dropdownMenu@(assingment.AssignmentId)_" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="badge badge-pill badge-info ml-3 d-inline-flex align-items-center justify-content-center">@assingment.GroupsAssignedCount</span>
                    </a>
                    <div class="dropdown-menu p-2" aria-labelledby="dropdownMenu@(assingment.AssignmentId)_">
                        <ul class="subject-name-list list-style-none">
                            @foreach (var groups in assingment.SchoolGroupNames.Split(','))
                            {
                                <li class="text-semibold border-bottom py-2">
                                    <a href="javascript:void(0);" class="d-inline-block w-100 wordwrapGroup" title="@groups" data-toggle="tooltip">
                                        @(groups.Length > 25 ? groups.Substring(0, 25) + "..." : groups)
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </p>
        <div class="date-time-info ml-auto">
            <div class="dropdown action-dropdown">
                <button class="btn bg-transparent dropdown-toggle px-1 py-0 mx-2 my-0 w-auto" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu p-2 text-center" aria-labelledby="dropdownMenu2">
                    <a class="dropdown-item p-1 bg-transparent" href="@(viewAssingment + assingmentId)"><i class="far fa-eye"></i></a>
                    @if (canAudit && currentUserId == assingment.CreatedBy)
                    {
                        <a class="dropdown-item p-1 bg-transparent" href="@(editAssingment + assingmentId)"><i class="fas fa-pen"></i></a>
                    }
                </div>
            </div>
        </div>
    </div>
}
