﻿@model Phoenix.Models.CatalogueUnits

@{
    var unit = Model;
}
<div class="subject-grp-wrapper d-flex">
    <div class="subject-grp-icon d-flex align-items-center justify-content-center" id="right-drawer-link@(unit.UnitId)">
        <i class="fas fa-angle-double-right"></i>
    </div>
    <div class="subject-grp p-2" id="right-drawer-link@(unit.UnitId)_">
        <div class="subject-subwrapper">
            <div class="content-provider-wrapper p-1">
                <div class="card">
                    <div class="card-body py-1 px-3">
                        <h3 class="card-title px-0 pb-2">Standard Benchmarks</h3>
                        <h4 class="card-title card-subtitle px-0">@unit.UnitDetails.FirstOrDefault().UnitName</h4>
                        <div class="accordion md-accordion unit-accordion" id="unit-accordion@(unit.UnitId)" role="tablist" aria-multiselectable="true">
                            @foreach (var unitDetails in unit.UnitDetails)
                            {
                                var firstElement = unit.UnitDetails.IndexOf(unitDetails) == 0;
                                <div class="card @Html.Raw(firstElement ? "active" : "")">
                                    <!-- Card header -->
                                    <div class="card-header p-0" role="tab">
                                        <a class="p-2 d-inline-block w-100 @Html.Raw(firstElement ? "" : "collapsed")" data-toggle="collapse" data-parent="#unit-accordion@(unit.UnitId)" href="#collapseTwo@(unitDetails.UnitDetailId)" aria-expanded="@Html.Raw(firstElement.ToString().ToLower())" aria-controls="collapseTwo@(unitDetails.UnitDetailId)">
                                            <h5 class="mb-0 text-bold">
                                                @unitDetails.UnitType
                                                <span class="plus float-right ml-1"></span>
                                            </h5>
                                        </a>
                                    </div>
                                    <!-- Card body -->
                                    <div id="collapseTwo@(unitDetails.UnitDetailId)" class="collapse @Html.Raw(firstElement ? "show" : "")" role="tabpanel" aria-labelledby="headingTwo1"
                                         data-parent="#unit-accordion">
                                        <div class="card-body p-2">
                                            <p class="text-medium sub-text">
                                                @Html.Raw(unitDetails.UnitDescription)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
