﻿@model List<Phoenix.Models.CatalogueUnits>
@using Phoenix.Models
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@{
    var weekList = (IEnumerable<UnitWeek>)ViewBag.weekList ?? new List<UnitWeek>();
    var canAudit = SessionHelper.CurrentSession.IsTeacher();
    var currentUserId = SessionHelper.CurrentSession.IsParent() ? SessionHelper.CurrentSession.CurrentSelectedStudent.UserId : SessionHelper.CurrentSession.Id;
    var viewAssingment = canAudit ? "/Assignments/Assignment/GetAssignmentStudentDetailsByAssgnmtId?id=" : "/Assignments/Assignment/StudentHomeworkAddedit?id=";
    var editAssingment = "/Assignments/Assignment/AddeditAssignment?id=";
    var addeditAssingment = editAssingment + "&courseId={0}&unitid={1}";
    var viewQuiz = canAudit ? "/Quiz/Quiz/ViewQuiz?id={0}" : "/Files/Files/Quiz?id={0}&resourceId={1}&studentId={2}";
    var editquiz = "/Quiz/Quiz/InitAddEditQuizForm?id=";
    var addeditquiz = editquiz + "&courseId={0}&unitId={1}";
    var addeditlessons = "";
}
@if (Model.Any())
{
    foreach (var unit in Model)
    {
        var isFirstElement = Model.ToList().IndexOf(unit) == 0;
        var weekStart = weekList.Any(x => x.WeekStart == unit.StartDate) ? weekList.FirstOrDefault(x => x.WeekStart == unit.StartDate).Description : string.Empty;
        var weekEnd = weekList.Any(x => x.WeekEnd == unit.EndDate) ? weekList.FirstOrDefault(x => x.WeekEnd == unit.EndDate).Description : string.Empty;
        <div class="card shadow-none p-2">
            <div class="card-header p-0" id="catalouge-head@(unit.UnitId)">
                <h5 class="mb-0 w-100 py-1 d-flex align-items-center">
                    <span class="text-semibold">
                        @unit.UnitName
                        @if (unit.UnitDetails.Any())
                        {
                            <i class="fas fa-info-circle ml-2 right-drawer-link" data-unitid="@(unit.UnitId)" data-target="right-drawer-link@(unit.UnitId)"></i>
                        }
                        @if (unit.NewAssingmentCount > 0)
                        {
                            <span class="badge badge-pill badge-primary ml-3 course-badge">@unit.NewAssingmentCount @ResourceManager.GetString("Course.CourseCatalogue.New")</span>
                        }
                    </span>
                    <div class="ml-auto d-flex">
                        <div class="date-time-info d-flex align-items-center mr-3">
                            <span class="text-semibold arabictxt">@unit.StartDate.ToFormatedDate("MMM yyyy") - @unit.EndDate.ToFormatedDate("MMM yyyy")  |  @weekStart - @weekEnd</span>
                            @if (canAudit)
                            {
                                <div class="dropdown">
                                    <button class="btn bg-transparent dropdown-toggle px-1 py-0 mx-2 my-0 w-auto" type="button" id="dropdownMenu@(unit.UnitId)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu p-2" aria-labelledby="dropdownMenu@(unit.UnitId)">
                                        <a class="dropdown-item p-3 border-bottom w-100 d-flex text-medium bg-transparent" href="@(addeditAssingment.Replace("{0}", EncryptDecryptHelper.EncryptUrl(unit.CourseId)).Replace("{1}", EncryptDecryptHelper.EncryptUrl(unit.UnitId)))"><i class="fas fa-plus mr-2"></i>@ResourceManager.GetString("Course.CourseCatalogue.AddAssignments")</a>
                                        <a class="dropdown-item p-3 border-bottom w-100 d-flex text-medium bg-transparent" href="@(addeditquiz.Replace("{0}", EncryptDecryptHelper.EncryptUrl(unit.CourseId)).Replace("{1}", EncryptDecryptHelper.EncryptUrl(unit.UnitId)))"><i class="fas fa-plus mr-2"></i>@ResourceManager.GetString("Course.CourseCatalogue.AddQuiz")</a>
                                        <a class="dropdown-item p-3 w-100 d-flex text-medium bg-transparent" href="@(addeditlessons + EncryptDecryptHelper.EncryptUrl(unit.UnitId))"><i class="fas fa-plus mr-2"></i>@ResourceManager.GetString("Course.CourseCatalogue.AddLesson")</a>
                                    </div>
                                </div>
                            }
                        </div>
                        <button class="btn btn-link btn-collapsable d-inline-block text-center m-0 p-1 collapse bg-transparent @Html.Raw(isFirstElement ? "" : "collapsed")" type="button" data-toggle="collapse" data-target="#catalouge@(unit.UnitId)" aria-expanded="@Html.Raw(isFirstElement)" aria-controls="catalouge">
                            <i class="fas fa-plus"></i><i class="fas fa-minus"></i>
                        </button>
                    </div>
                </h5>
            </div>
            <div id="catalouge@(unit.UnitId)" class="collapse @Html.Raw(isFirstElement ? "show" : "")" aria-labelledby="catalouge-head@(unit.UnitId)" data-parent="#catalouge-@unit.CourseId">
                <div class="card-body column-padding px-3 pt-3 pb-0">
                    <div class="content">
                        <div class="accordion subcatalouge-accordian" id="subcatalouge@(unit.UnitId)">
                            @foreach (var subUnits in unit.Units)
                            {
                                var isFirstSubUnit = unit.Units.IndexOf(subUnits) == 0;
                                weekStart = weekList.Any(x => x.WeekStart == subUnits.StartDate) ? weekList.FirstOrDefault(x => x.WeekStart == subUnits.StartDate).Description : string.Empty;
                                weekEnd = weekList.Any(x => x.WeekEnd == subUnits.EndDate) ? weekList.FirstOrDefault(x => x.WeekEnd == subUnits.EndDate).Description : string.Empty;
                                <div class="card shadow-none py-2 px-3 border-bottom">
                                    <div class="card-header p-0" id="subcatalouge-head@(subUnits.UnitId)">
                                        <h5 class="mb-0 w-100 py-1 d-flex align-items-center">
                                            <span class="text-semibold">
                                                @subUnits.UnitName
                                                @if (subUnits.UnitDetails.Any())
                                                {
                                                    <i class="fas fa-info-circle ml-2 right-drawer-link" data-unitid="@(unit.UnitId)" data-target="right-drawer-link@(subUnits.UnitId)"></i>
                                                }
                                                @if (subUnits.NewAssingmentCount > 0)
                                                {
                                                    <span class="badge badge-pill badge-primary ml-3 course-badge">@subUnits.NewAssingmentCount new</span>
                                                }
                                            </span>
                                            <div class="ml-auto d-flex">
                                                <div class="date-time-info d-flex align-items-center mr-2">
                                                    <span class="text-semibold arabictxt">@subUnits.StartDate.ToFormatedDate("MMM yyyy") - @subUnits.EndDate.ToFormatedDate("MMM yyyy")  |  @weekStart - @weekEnd </span>
                                                    @if (canAudit)
                                                    {
                                                        <div class="dropdown">
                                                            <button class="btn bg-transparent dropdown-toggle px-1 py-0 mx-2 my-0 w-auto" type="button" id="dropdownMenu@(subUnits.UnitId)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </button>
                                                            <div class="dropdown-menu p-2" aria-labelledby="dropdownMenu@(subUnits.UnitId)">
                                                                <a class="dropdown-item p-3 border-bottom w-100 d-flex text-medium bg-transparent" href="@(addeditAssingment.Replace("{0}", EncryptDecryptHelper.EncryptUrl(unit.CourseId)).Replace("{1}", EncryptDecryptHelper.EncryptUrl(unit.UnitId)))"><i class="fas fa-plus mr-2"></i>@ResourceManager.GetString("Course.CourseCatalogue.AddAssignments")</a>
                                                                <a class="dropdown-item p-3 border-bottom w-100 d-flex text-medium bg-transparent" href="@(addeditquiz.Replace("{0}", EncryptDecryptHelper.EncryptUrl(unit.CourseId)).Replace("{1}", EncryptDecryptHelper.EncryptUrl(unit.UnitId)))"><i class="fas fa-plus mr-2"></i>@ResourceManager.GetString("Course.CourseCatalogue.AddQuiz")</a>
                                                                <a class="dropdown-item p-3 w-100 d-flex text-medium bg-transparent" href="@(addeditlessons + EncryptDecryptHelper.EncryptUrl(unit.UnitId))"><i class="fas fa-plus mr-2"></i>@ResourceManager.GetString("Course.CourseCatalogue.AddLesson")</a>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <button class="btn btn-link btn-collapsable d-inline-block text-center m-0 p-1 collapse bg-transparent mr-3 @Html.Raw(isFirstSubUnit ? "" : "collapsed")" type="button" data-toggle="collapse" data-target="#subcatalouge@(subUnits.UnitId)" aria-expanded="@Html.Raw(isFirstSubUnit)" aria-controls="subcatalouge@(subUnits.UnitId)">
                                                    <i class="fas fa-angle-down"></i>
                                                </button>
                                            </div>
                                        </h5>
                                    </div>

                                    <div id="subcatalouge@(subUnits.UnitId)" class="collapse @Html.Raw(isFirstSubUnit ? "show" : "")" aria-labelledby="subcatalouge-head@(subUnits.UnitId)" data-parent="#subcatalouge@(unit.UnitId)">
                                        <div class="card-body column-padding p-4">
                                            <div class="subaccordian-content">
                                                <div class="syllabus-wrapper">
                                                    @if (subUnits.AssingmentLessions.Any() || subUnits.Quizzes.Any())
                                                    {
                                                        if (subUnits.AssingmentLessions.Any())
                                                        {
                                                            var assingments = subUnits.AssingmentLessions.Where(x => x.UnitId == subUnits.UnitId).ToList();
                                                            @Html.Partial("_AssignmentLessions", assingments)
                                                        }
                                                        if (subUnits.Quizzes.Any())
                                                        {
                                                            var quizzes = subUnits.Quizzes.Where(x => x.UnitId == subUnits.UnitId).ToList();
                                                            @Html.Partial("_Quiz", quizzes)
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span class="no-data-found text-bold d-block mx-auto my-auto">
                                                            @ResourceManager.GetString("Shared.Labels.NoRecords")
                                                        </span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (subUnits.UnitDetails.Any())
                                    {
                                        @Html.Partial("_StandardBenchmarkDrawer", subUnits)
                                    }
                                </div>
                            }

                            <div class="card activity-card border">
                                <div class="card-body p-3">
                                    <h3 class="card-title px-0 py-2">Activities & Resources</h3>
                                    <div class="course-activities">
                                        <div class="syllabus-wrapper">
                                            @if (unit.AssingmentLessions.Any() || unit.Quizzes.Any())
                                            {
                                                if (unit.AssingmentLessions.Any())
                                                {
                                                    var assingments = unit.AssingmentLessions.Where(x => x.UnitId == unit.UnitId).ToList();
                                                    @Html.Partial("_AssignmentLessions", assingments)
                                                }
                                                if (unit.Quizzes.Any())
                                                {
                                                    var quizzes = unit.Quizzes.Where(x => x.UnitId == unit.UnitId).ToList();
                                                    @Html.Partial("_Quiz", quizzes)
                                                }
                                            }
                                            else
                                            {
                                                <span class="no-data-found text-bold d-block mx-auto my-auto">
                                                    @ResourceManager.GetString("Shared.Labels.NoRecords")
                                                </span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @if (unit.UnitDetails.Any())
                            {
                                @Html.Partial("_StandardBenchmarkDrawer", unit)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <span class="no-data-found text-bold d-block mx-auto my-auto">
        @ResourceManager.GetString("Course.CourseCatalogue.NoUnits")
    </span>
}