﻿@model Phoenix.Models.GroupCatalogue
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{;
    var date = Model.TimeTableDatas.Any() ? Model.TimeTableDatas.FirstOrDefault().TimetableDate : DateTime.Now;
    var month = date.ToString("MMMM yyyy");
    var dataTimeNow = DateTime.Now;
    var firstDayOfTheMonth = new DateTime(date.Year, date.Month, 1);
    var lastDayOfTheMonth = firstDayOfTheMonth.AddMonths(1).AddDays(-1);

    DayOfWeek day = DateTime.Now.DayOfWeek; 
    int days = day - DayOfWeek.Sunday; 
    DateTime start = DateTime.Now.AddDays(-days); 
    DateTime end = start.AddDays(6);

    var weeklyData = Model.TimeTableDatas.Where(x => x.TimetableDate.Date >= start.Date && x.TimetableDate.Date <= end.Date).ToList();

    var dayName = @ResourceManager.GetString("Course.CourseCatalogue.DayOfWeek").Split(',');
}
<div class="mt-2 mb-4">

    @*<div class="row sub-header bg-white sticky-top mb-3">
            <div class="col-12 d-flex justify-content-between px-3 align-items-center">
                <nav class="breadcrumbs">
                    <ul class="d-flex align-items-center">
                        <li class="back"><a href="#">Back</a></li>
                        <li>@Model.SchoolGroupName</li>
                    </ul>
                </nav>
                <div class="other-actions">
                    <ul class="list-pattern">
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>*@
    @Html.Hidden("schoolGroupName", Model.SchoolGroupName)
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="card p-4">
                <div class="card-body">
                    <section class="border-bottom pb-3">
                        <div class="d-flex detail-section">
                            <div class="group-image">
                                <img src="@Html.Raw((string.IsNullOrEmpty(Model.CourseImage) ? "/Content/VLE/img/temp/math-group-detail.jpg" : PhoenixConfiguration.Instance.ReadFilePath +Model.CourseImage))" alt="" class="img-fluid" />                                
                            </div>
                            <div class="pt-1">
                                <h5 class="text-bold text-color-purple">
                                    @Model.SchoolGroupName
                                                                <a href="/course/course/AddEditMapCourse?corId=@EncryptDecryptHelper.EncryptUrl(Model.CourseId)&id=@EncryptDecryptHelper.EncryptUrl(Model.SchoolGroupId)"><img src="/Content/VLE/img/svg/pencil.svg" alt="" class="svg"></a>
                                 </h5>
                                
                                <h6 class="text-semibold text-color-purple mb-4">Course: @Model.CourseTitle</h6>
                                <p class="text-muted text-semibold">Taught By:</p>
                                <div class="d-flex justify-content-start flex-wrap">
                                    @foreach (var item in Model.CatalogueTeachers)
                                    {
                                        <div class="mb-4 pb-2 pt-2 teacher-detail">
                                            <img src="@(PhoenixConfiguration.Instance.ReadFilePath + Constants.TeacherProfilePath + item.TeacherImage)" onerror="this.src = '/Content/VLE/img/no-avatar.jpg';" class="teacher-image">
                                            <div>
                                                <p class="teacher-name text-bold font-small">@item.TeacherName</p>
                                                @*<p class="teacher-category text-medium">Primary Teacher</p>*@
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap mt-4">
                            <div class="count-label">
                                <p class="label-text text-semibold">Current Enrollment</p>
                                <p class="count text-bold">@Model.StudentsEnrolled</p>
                            </div>
                            <div class="count-label">
                                <p class="label-text text-semibold">Maximum Enrollment</p>
                                <p class="count text-bold">@Model.MaximumEnrollment</p>
                            </div>
                            @foreach (var item in Model.SchoolGradeName)
                            {
                                <div class="count-label">
                                    <p class="label-text text-semibold">Grade Level</p>
                                    <p class="count text-bold">@item</p>
                                </div>
                            }
                        </div>
                    </section>
                    <section class="border-bottom py-4 calendar-section">
                        <div class="d-flex justify-content-between align-items-center flex-wrap search-row mb-4">
                            <h6 class="text-color-purple font-16 mb-0">
                                <span class="text-bold pr-2 border-right border-primary mr-2">Schedule</span>
                                <span class="text-semibold">@month</span>
                            </h6>
                            <div class="sort-dropdown purple-select-text">
                                <select class="selectpicker" id="monthweek">
                                    <option value="M" selected>Month View</option>
                                    <option value="W">Week View</option>
                                </select>
                            </div>
                        </div>
                        <div class="table-responsive month-calendar">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <span class="d-flex justify-content-center align-items-center">
                                                <span class="text-bold weekday-sun rounded-circle">S</span>
                                                <span class="text-bold">SUNDAY</span>
                                            </span>
                                        </th>
                                        <th scope="col">
                                            <span class="d-flex justify-content-center align-items-center">
                                                <span class="text-bold weekday-mon rounded-circle">M</span>
                                                <span class="text-bold">MONDAY</span>
                                            </span>
                                        </th>
                                        <th scope="col">
                                            <span class="d-flex justify-content-center align-items-center">
                                                <span class="text-bold weekday-tue rounded-circle">T</span>
                                                <span class="text-bold">TUESDAY</span>
                                            </span>
                                        </th>
                                        <th scope="col">
                                            <span class="d-flex justify-content-center align-items-center">
                                                <span class="text-bold weekday-wed rounded-circle">W</span>
                                                <span class="text-bold">WEDNESDAY</span>
                                            </span>
                                        </th>
                                        <th scope="col">
                                            <span class="d-flex justify-content-center align-items-center">
                                                <span class="text-bold weekday-thu rounded-circle">T</span>
                                                <span class="text-bold">THURSDAY</span>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        DateTime startDate = firstDayOfTheMonth.AddDays(-(int)firstDayOfTheMonth.DayOfWeek);
                                        var firstDay = date.Day;
                                    }
                                    <tr>
                                        @for (int i = 0; i < 42; i++)
                                        {
                                            DateTime dateTest = startDate.AddDays(i);
                                            if (i % 7 == 0 && i > 0)
                                            {
                                            @:</tr><tr>
                                            }
                                            if (dateTest.DayOfWeek == DayOfWeek.Saturday || dateTest.DayOfWeek == DayOfWeek.Friday)
                                            {

                                            }
                                            else if (dateTest.Month != date.Month)
                                            {
                                                <td class="period-info"></td>
                                            }
                                            else
                                            {
                                                if (Model.TimeTableDatas.Any(x => x.TimetableDate.Date == dateTest.Date))
                                                {
                                                    var timeTableData = Model.TimeTableDatas.FirstOrDefault(x => x.TimetableDate.Date == dateTest.Date);
                                                    <td class="bg-white period-info">
                                                        <div class="d-flex justify-content-center align-items-center">
                                                            <p class="period-label text-semibold">Period @timeTableData.Period</p>
                                                            <div class="period-detail">
                                                                <h6 class="text-medium number-count">@dateTest.Day</h6>
                                                                <p class="classroom text-semibold">
                                                                    <img src="~/Content/VLE/img/svg/ic-classroom-board.svg">
                                                                    <span>Classroom @timeTableData.RoomNumber</span>
                                                                </p>
                                                                <p class="class-time text-medium">
                                                                    <img src="~/Content/VLE/img/svg/pending.svg" class="svg">
                                                                    <span>@timeTableData.StartTime.ToDateTime().ToString("hh:mm tt") - @timeTableData.EndTime.ToDateTime().ToString("hh:mm tt")</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <div class="d-flex justify-content-center align-items-center">
                                                            <h6 class="text-medium number-count">@dateTest.Day</h6>
                                                        </div>
                                                    </td>
                                                }
                                            }
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="week-calendar" style="display:none">
                            @if (weeklyData.Any())
                            {
                                foreach (var item in weeklyData)
                                {
                                    <div class="week-card">
                                        <span class="d-flex justify-content-center align-items-center weeks">
                                            <span class="text-bold weekday-@dayName[item.WeekDay - 1].Substring(0,3).ToLower() rounded-circle">@dayName[item.WeekDay - 1].Substring(0,1)</span>
                                            <span class="text-bold">@dayName[item.WeekDay - 1]</span>
                                        </span>
                                        <div class="period-info d-flex justify-content-center align-items-center">
                                            <p class="period-label text-semibold">Period @item.Period</p>
                                            <div class="period-detail">
                                                <h6 class="text-medium number-count">@item.TimetableDate.ToFormatedDate("dd MMM")</h6>
                                                <p class="classroom text-semibold">
                                                    <img src="~/Content/VLE/img/svg/ic-classroom-board.svg">
                                                    <span>Classroom @item.RoomNumber</span>
                                                </p>
                                                <p class="class-time text-medium">
                                                    <img src="~/Content/VLE/img/svg/pending.svg" class="svg">
                                                    <span>@item.StartTime.ToDateTime().ToString("hh:mm tt") - @item.EndTime.ToDateTime().ToString("hh:mm tt")</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <span class="no-data-found text-bold d-block mx-auto my-auto">
                                    @ResourceManager.GetString("Course.CourseCatalogue.NoWeek")
                                </span>
                            }
                        </div>
                    </section>
                    @*<section class="border-bottom py-4">
                        <h6 class="text-color-purple font-16 mb-4">
                            <span class="text-bold pr-2 border-right border-primary mr-2">Academic Term</span>
                            <span class="text-semibold">8 Apr 2020 - 15 Mar 2021</span>
                        </h6>
                        <div class="term-container">
                            <div class="term-card">
                                <p class="term-label text-color-purple text-semibold">Term 1</p>
                                <p class="text-dark text-semibold mb-0">8 Apr 2020 - 15 Aug 2020</p>
                            </div>
                            <div class="term-card">
                                <p class="term-label text-color-purple text-semibold">Term 2</p>
                                <p class="text-dark text-semibold mb-0">28 Sep 2020 - 15 Mar 2021</p>
                            </div>
                        </div>
                    </section>
                    <section class="py-4">
                        <h6 class="text-color-purple font-16 mb-4">
                            <span class="text-bold border-primary">Attendance and Grading</span>
                        </h6>
                        <div class="d-flex flex-wrap mb-3">
                            <div class="count-label">
                                <p class="label-text text-semibold">
                                    <img src="~/Content/VLE/img/svg/ic-attendance-type.svg">
                                    Attendance Type
                                </p>
                                <p class="count text-bold">Daily</p>
                            </div>
                            <div class="count-label grading-label">
                                <p class="label-text text-semibold">
                                    <img src="~/Content/VLE/img/svg/ic-grading.svg">
                                    Grading Calculation Rule
                                </p>
                                <div>
                                    <p class="weightage bg-green text-bold">Major 60%</p>
                                    <p class="weightage bg-yellow text-bold">Minor 40%</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div class="mr-sm-5 mb-4">
                                <h6 class="text-semibold mb-4">Include Group in Attendance</h6>
                                <div class="btn-group switch-btn" role="group" aria-label="group-attendance">
                                    <button type="button" class="btn active">
                                        <span class="text-semibold">Yes</span>
                                    </button>
                                    <button type="button" class="btn">
                                        <span class="text-semibold">No</span>
                                    </button>
                                </div>
                            </div>
                            <div>
                                <h6 class="text-semibold mb-4">Include Group in Storing Final Grades</h6>
                                <div class="btn-group switch-btn" role="group" aria-label="group-attendance">
                                    <button type="button" class="btn active">
                                        <span class="text-semibold">Yes</span>
                                    </button>
                                    <button type="button" class="btn">
                                        <span class="text-semibold">No</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </section>*@
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(document).on('change', '#monthweek', function () {
            if ($(this).val() == "M") {
                $('.month-calendar').show();
                $('.week-calendar').hide();
            } else {
                $('.month-calendar').hide();
                $('.week-calendar').show();
            }
        })
        $('.selectpicker').selectpicker('refresh')
    })
</script>