﻿@model IEnumerable<Phoenix.Models.CourseCatalogue>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.VLE.Web.Helpers
@using Phoenix.Models
@{
    var weekList = (IEnumerable<UnitWeek>)ViewBag.weekList ?? new List<UnitWeek>();
    var canAudit = SessionHelper.CurrentSession.IsTeacher();
    var currentUserId = SessionHelper.CurrentSession.IsParent() ? SessionHelper.CurrentSession.CurrentSelectedStudent.UserId : SessionHelper.CurrentSession.Id;
}
<style>
    .truncate {
        width: 90%;
        /*white-space: nowrap;*/
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 70px;
    }

    .wordwrapGroup {
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card shadow-none bg-transparent">
            <div class="card-body">
                <!-- tab panel start -->
                <div id="courseInformation" class="course-cata-tab d-flex flex-column flex-md-row vTab-wrapper">
                    <div class="tab-list">
                        <h3 class="my-3 text-bold">@ResourceManager.GetString("Course.CourseCatalogue.CourseListing")</h3>
                        <div class="search-row mb-2 mr-2">
                            <div class="search-with-bg bg-white border">
                                <span class="icon-search"></span>
                                <input type="search" id="courseSearch" class="searchfield" placeholder="@ResourceManager.GetString("Course.CourseCatalogue.SearchForCourse")">
                            </div>
                        </div>
                        <ul class="tabs mt-0 w-100" id="courseList">
                            @foreach (var item in Model)
                            {
                                <li rel="tab@(item.CourseId)" data-course="@item.CourseId" class="@Html.Raw(Model.ToList().IndexOf(item) == 0 ? "active":"") p-4 border-bottom courseTitle" data-search-text="@item.Title">
                                    @if (item.Title.Length > 30)
                                    {
                                        <span class="text-semibold d-inline-block w-100 truncate pr-3" title="@item.Title" data-toggle="tooltip">@(item.Title.Substring(0, 30) + "...")</span>
                                    }
                                    else
                                    {
                                        <span class="text-semibold d-inline-block w-100 truncate pr-3">@item.Title</span>
                                    }
                                    <ul class="subject-name-list list-style-none pl-3 mt-3" style="display:none">
                                        @foreach (var groups in item.CourseMappings)
                                        {
                                            <li class="text-semibold border-bottom py-2">
                                                <a href="javascript:void(0);" class="d-inline-block w-100 wordwrapGroup" title="@groups.SchoolGroupName" data-toggle="tooltip" onclick="courseCatalogue.getCourseGroupInfo('@EncryptDecryptHelper.EncryptUrl(groups.SchoolGroupId)')">

                                                    <img src="@Html.Raw((string.IsNullOrEmpty(groups.CourseImage) ? "/Content/VLE/img/temp/science-banner.jpg" : PhoenixConfiguration.Instance.ReadFilePath + groups.CourseImage))" alt="" class="img-fluid" onerror="if (this.src != '/Content/VLE/img/temp/science-banner.jpg') this.src = '/Content/VLE/img/temp/science-banner.jpg';" />
                                                    @groups.SchoolGroupName
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- .tab-container starts-->
                    <div class="tab-container flex-1">
                        <!-- #tab1 -->
                        @foreach (var item in Model)
                        {
                            <h3 class="tab-drawer-heading py-3 px-4 text-semibold" rel="tab@(item.CourseId)">@item.Title</h3>
                            <div id="tab@(item.CourseId)" class="tab-content overflow-auto">
                                <div class="card catalouge-card shadow-none bg-transparent">
                                    <div class="column-padding py-4">
                                        <div class="catalouge-info">
                                            <h3 class="card-title px-0 pt-0 text-bold">
                                                @item.Title
                                                @if (SessionHelper.CurrentSession.IsTeacher())
                                                {
                                                    <a href="/course/course/EditCourse?id=@EncryptDecryptHelper.EncryptUrl(item.CourseId)"><img src="/Content/VLE/img/svg/pencil.svg" alt="" class="svg"></a>
                                                }
                                            </h3>
                                            @if (string.IsNullOrEmpty(item.Description))
                                            {
                                                <span class="no-data-found text-bold d-block mx-auto my-auto">
                                                    @ResourceManager.GetString("Course.CourseCatalogue.NoDescription")
                                                </span>
                                            }
                                            else
                                            {
                                                <p class="mb-2">@Html.Raw(item.Description)</p>
                                            }
                                            @if (item.CourseHours != null)
                                            {
                                                <div class="course-duration d-inline-block p-2 my-2 mb-4">
                                                    <p class="text-semibold mb-0">@ResourceManager.GetString("Course.CourseCatalogue.CourseHours")<span class="ml-1">@item.CourseHours @ResourceManager.GetString("Course.CourseCatalogue.Hours")</span></p>
                                                </div>
                                            }
                                            <p class="text-muted text-semibold">@ResourceManager.GetString("Course.Lesson.Units")</p>
                                        </div>
                                        <div class="catalouge-course-info unit-planner-info">
                                            <div class="accordion catalouge-accordian" id="catalouge-@item.CourseId">@*@Html.Partial("_Units", item.Units)*@</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- .tab-container -->
                </div>
                <!-- tab panel end -->
                <div id="courseGroupInformation" style="display:none">

                </div>
            </div>
        </div>
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
    <script>
        translatedResources.groupName = '@ResourceManager.GetString("Course.MapCourse.GroupDetails")';
    </script>
}
@section scripts{
    <script type="text/javascript" src="~/content/js/addons/vTabs.js"></script>
    <script src="@Url.Content("~/Content/js/custom/Course/CourseCatalogue.js?v=" + ResourceManager.GetString("Shared.Version.Js"))"></script>   
}