﻿
@using Phoenix.Common.Localization
@{
    ViewData["Title"] = ResourceManager.GetString("School.SchoolList.SchoolList");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-school-information.svg");
    var rnd = DateTime.Now.Ticks.ToString();
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body min-height">
                <div class="table-wrapper column-padding mt-4">
                    <div class="row mb-3">
                        <div class="col-lg-9 col-md-9 col-9">
                            <div class="search-with-bg">
                                <i class="fa fa-search"></i>
                                <input type="search" id="SchoolListSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover table-responsive-md" id="tbl-SchoolList"></table>
                </div>
            </div>

        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.schoolName = '@ResourceManager.GetString("School.SchoolList.SchoolName")';
    </script>   
    <script src="@Url.Content("~/Content/js/custom/SchoolInfo/SchoolList.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
