﻿@model IEnumerable<Phoenix.Models.Suggestion>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common
@{
    /**/

    ViewData["Title"] = ResourceManager.GetString("ListCategories.SuggestionList.SuggestionList");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-list-categories.svg");
    var rnd = DateTime.Now.Ticks.ToString();
}


<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card safety-categories-wrapper">
            <div class="card-body column-padding pt-3 pb-3 min-height">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">

                    </div>
                </div>
                <div class="table-wrapper">
                    <div class="row mb-3">
                        <div class="col-lg-9 col-md-9 col-9">
                            <div class="search-with-bg">
                                <i class="fa fa-search"></i>
                                <input type="search" id="UserSuggestionListSearch" class="searchfield" placeholder="Search" />
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover table-responsive-md" id="tbl-UserSuggestionList"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.suggestion = '@ResourceManager.GetString("ListCategories.SuggestionList.Suggestion")';
        translatedResources.title = '@ResourceManager.GetString("ListCategories.SuggestionList.Title")';
        translatedResources.description = '@ResourceManager.GetString("ListCategories.SuggestionList.Description")';
        translatedResources.type = '@ResourceManager.GetString("ListCategories.SuggestionList.Type")';
        translatedResources.remark = '@ResourceManager.GetString("ListCategories.SuggestionList.Remark")';
        translatedResources.userName = '@ResourceManager.GetString("ListCategories.SuggestionList.UserName")';
        translatedResources.downloadAttachment='@ResourceManager.GetString("ListCategories.SuggestionList.DownloadAttachment")';
        translatedResources.createdOn = '@ResourceManager.GetString("ListCategories.SuggestionList.CreatedOn")';
        translatedResources.createdBy = '@ResourceManager.GetString("ListCategories.SuggestionList.CreatedBy")';
        translatedResources.active = '@ResourceManager.GetString("ListCategories.SuggestionList.IsActive")';
        translatedResources.actions = '@ResourceManager.GetString("ListCategories.SuggestionList.Actions")';
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/SuggestionBox/StudentSuggestion.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
