﻿@model Phoenix.VLE.Web.Areas.SMS.Model.MarkedAttendaceDetails
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
                /**/

                string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
@{
    ViewBag.Title = "Mark Attendance";
    Layout = "~/Views/Shared/_SIMSLayout.cshtml";
}

<link href="~/Content/css/custom/SIMS/custom.css" rel="stylesheet" />
<link href="~/Content/css/custom/SIMS/toggle-switch.css" rel="stylesheet" />

<style>
    .switch-toggle {
        width: 10em;
        height: 34px;
        float: right;
    }

    .switch-toggle-new {
        width: 10em;
        height: 34px;
        float: right;
    }

    .switch-toggle label:not(.disabled) {
        cursor: pointer;
    }



    .table-scroll {
        position: relative;
        /*max-width: 600px;
        margin: auto;
        overflow: hidden;
        border: 1px solid #000;*/
    }

    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid #000;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll thead, .table-scroll tfoot {
        background: #f9f9f9;
    }

    .clone {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }

        .clone th, .clone td {
            visibility: hidden
        }

        .clone td, .clone th {
            border-color: transparent
        }

        .clone tbody th {
            visibility: visible;
            /*color: red;*/
        }

        .clone .fixed-side {
            border: 1px solid #000;
            background: #eee;
            visibility: visible;
        }

        .clone thead, .clone tfoot {
            background: transparent;
        }

    .attPresent {
        color: #008000 !important;
    }

    .attAbsent {
        color: #FF0000 !important;
    }
</style>

<div class="clearfix position-relative">


    <!-- Attendance Start -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-body card-padding">
                                <div class="row">
                                    <div class="col-md-4 col-4 pl-2 pr-2 m-auto">
                                        <div class="row pull-left mt-3">
                                            <div class="col-lg-12">
                                                <div class="due-date d-flex date-time-picker">
                                                    <span class="m-auto"><i class="far fa-calendar-alt text-muted"></i></span>
                                                    <label class="form-control-label pl-2 pr-2 m-auto">Select Date</label>

                                        <div class="form-group due-date d-flex date-time-picker justify-content-start align-items-center m-auto">
                                            <input type="text" class="form-control date-picker custom-date-searchbar inp" id="dueDatePicker" value="@ViewBag.HistoryDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-4 text-center pl-2 pr-2">


                        </div>
                        <div class="col-md-4 col-4 pl-2 pr-2 text-right">

                            <input id="toggler" type="checkbox" checked data-toggle="toggle" data-on="Weekly" data-off="Monthly" data-onstyle="primary" data-offstyle="success" data-style="btn-toggler" data-width="140px">

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="row student-profile-section">
        <input type="hidden" id="hdnSTU_ID" value="@Model.StudentDetail.Student_ID" />
        @Html.Partial("~/Areas/SMS/Views/Attendance/Partial/StudentDetail.cshtml", Model.StudentDetail)
    </div>

    

    <div class="row">
        <div class="col-lg-12">
            <div class="card bg-transparent shadow-none">
                <div class="card-body">
                    <div id="divAttBySessionCode">
                        @Html.Partial("~/Areas/SMS/Views/Attendance/Partial/AttendenceSessionCode.cshtml", Model.AttendenceSessionCode)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Student Attendance Compare by Year</h3>
                            <canvas id="AttendancebarChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <div class="row" id="divAttList">
        @if (ViewBag.HistoryType == "M")
        {
            @Html.Partial("~/Areas/SMS/Views/Attendance/Partial/AttendenceList.cshtml", Model.AttendenceList)
        }
        else // (Convert.ToString(Session["HistoryType"]) == "W")
        {
            @Html.Partial("~/Areas/SMS/Views/Attendance/Partial/AttendenceListWeekly.cshtml", Model.AttendenceList)
        }
    </div>

    <link rel="stylesheet" type="text/css" href="~/Content/css/addons/slick-carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/addons/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/addons/bootstrap-toggle.css" />
    @section pageplugins{
        @Html.Partial("_DataPageLibrariesPartial")
    }

    <script type="text/javascript" src="~/Content/js/addons/slick-carousel.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
    <script type="text/javascript" src="~/Content/js/addons/bootstrap-toggle.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>

    @section scripts
                    {
        @*<script type="text/javascript" src="~/Content/js/custom/SIMS/Behaviour/BehaviourLoad.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>*@
        <script>







            function ResetAllSections() {
                var selectedDate = $("#dueDatePicker").val();
                var hdnSTU_ID = $("#hdnSTU_ID").val();

                var url = "";
                if ($("#toggler").prop("checked") == false) {
                    url = "/Attendance/GetAttendenceListMonthly";
                } else {
                    url = "/Attendance/GetAttendenceListWeekly";
                }



                $.ajax({
                    type: 'GET',
                    url: url,
                    data: { selectedDate: selectedDate, STU_ID: hdnSTU_ID },
                    success: function (response) {
                        $('#divAttList').empty();
                        $('#divAttList').html(response);
                    },
                    error: function (ex) {
                        globalFunctions.onFailure();
                    }
                });


                var url_1 = "";
                if ($("#toggler").prop("checked") == false) {
                    url_1 = "/Attendance/GetAttendenceChartMonthly";
                } else {
                    url_1 = "/Attendance/GetAttendenceBySession";
                }

                //Load Session divAttBySession
                $.ajax({
                    type: 'GET',
                    url: url_1,
                    data: { selectedDate: selectedDate, STU_ID: hdnSTU_ID },
                    success: function (response) {
                        $('#divAttBySession').empty();
                        $('#divAttBySession').html(response);
                    },
                    error: function (ex) {
                        globalFunctions.onFailure();
                    }
                });


                //Load Session
                $.ajax({
                    type: 'GET',
                    url: "/Attendance/GetAttendenceSessionCode",
                    data: { selectedDate: selectedDate, STU_ID: hdnSTU_ID },
                    success: function (response) {
                        $('#divAttBySessionCode').empty();
                        $('#divAttBySessionCode').html(response);
                    },
                    error: function (ex) {
                        globalFunctions.onFailure();
                    }
                });


            }
        </script>







        <script>
            $('#zoomBtn').click(function () {
                $('.zoom-btn-sm').toggleClass('scale-out');
                if (!$('.zoom-card').hasClass('scale-out')) {
                    $('.zoom-card').toggleClass('scale-out');
                }
            });

            $('.zoom-btn-sm').click(function () {
                var btn = $(this);
                var card = $('.zoom-card');

                if ($('.zoom-card').hasClass('scale-out')) {
                    $('.zoom-card').toggleClass('scale-out');
                }
                if (btn.hasClass('zoom-btn-person')) {
                    card.css('background-color', '#d32f2f');
                } else if (btn.hasClass('zoom-btn-doc')) {
                    card.css('background-color', '#fbc02d');
                } else if (btn.hasClass('zoom-btn-tangram')) {
                    card.css('background-color', '#388e3c');
                } else if (btn.hasClass('zoom-btn-report')) {
                    card.css('background-color', '#1976d2');
                } else {
                    card.css('background-color', '#7b1fa2');
                }
            });

        </script>





        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();


                $('.date-picker').datetimepicker({
                    format: 'DD-MMM-YYYY',
                    maxDate: new Date()
                    //debug: true
                }).on('dp.change', function (e) {
                    ResetAllSections();

                });


                $('#toggler').on('change', function () { // on change of state
                    ResetAllSections();
                })
            });
        </script>

        <script>
            // requires jquery library
            jQuery(document).ready(function () {
                jQuery(".main-table").clone(true).appendTo('#table-scroll').addClass('clone');

            });

        </script>
        <script>
                var canvas = document.getElementById("AttendancebarChart");
                var ctx = canvas.getContext('2d');
                canvas.height = 100;
                // Global Options:
                Chart.defaults.global.defaultFontColor = 'black';
                Chart.defaults.global.defaultFontSize = 16;

                var data = {
                    labels: @Html.Raw(Json.Encode(@Model.AttendenceHistory1.Select(s => s.TMONTH).ToList())), // ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label:"@Model.AttendenceHistory1.Select(s => s.ACD_DESC).FirstOrDefault()",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(82, 170, 225,0.4)",
                        borderColor: "rgb(64, 175, 99)", // The main line color
                        borderCapStyle: 'square',
                        borderDash: [], // try [5, 15] for instance
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "black",
                        pointBackgroundColor: "white",
                        pointBorderWidth: 1,
                        pointHoverRadius: 8,
                        pointHoverBackgroundColor: "rgba(64, 175, 99,0.6)",
                        pointHoverBorderColor: "rgb(64, 175, 99)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 4,
                        pointHitRadius: 10,
                        // notice the gap in the data and the spanGaps: true
                        data: @Html.Raw(Json.Encode(@Model.AttendenceHistory1.Select(s => s.TOT_ATT).ToList())),
                        spanGaps: true,
                    }, {
                        label: "@Model.AttendenceHistory2.Select(s => s.ACD_DESC).FirstOrDefault()",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(232, 155, 0,0.4)",
                        borderColor: "rgb(232, 155, 0)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "black",
                        pointBackgroundColor: "white",
                        pointBorderWidth: 1,
                        pointHoverRadius: 8,
                        pointHoverBackgroundColor: "rgba(232, 155,0, 0.6)",
                        pointHoverBorderColor: "rgb(232, 155, 0)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 4,
                        pointHitRadius: 10,
                        // notice the gap in the data and the spanGaps: false
                        data:@Html.Raw(Json.Encode(@Model.AttendenceHistory2.Select(s => s.TOT_ATT).ToList())),
                        spanGaps: true,
                    }, {
                        label: "@Model.AttendenceHistory3.Select(s => s.ACD_DESC).FirstOrDefault()",
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(82, 170, 225,0.4)",
                        borderColor: "rgb(82, 170, 225)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "black",
                        pointBackgroundColor: "white",
                        pointBorderWidth: 1,
                        pointHoverRadius: 8,
                        pointHoverBackgroundColor: "rgba(82, 170, 225,0.6)",
                        pointHoverBorderColor: "rgb(82, 170, 225)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 4,
                        pointHitRadius: 10,
                        // notice the gap in the data and the spanGaps: false
                        data: @Html.Raw(Json.Encode(@Model.AttendenceHistory3.Select(s => s.TOT_ATT).ToList())),
                        spanGaps: true,
                    }

                    ]
                };

                // Notice the scaleLabel at the same level as Ticks
                var options = {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Attendance',
                                fontSize: 20
                            }
                        }]
                    }
                };

                // Chart declaration:
                var myBarChart = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: options
                });
        </script>


    }


</div>
