﻿@model Phoenix.VLE.Web.Areas.SMS.Model.Grades
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    /**/

    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
@{
    ViewBag.Title = "Mark Attendance";
    Layout = "~/Views/Shared/_SIMSLayout.cshtml";
}

<link href="~/Content/css/custom/SIMS/custom.css" rel="stylesheet" />
<link href="~/Content/css/custom/SIMS/toggle-switch.css" rel="stylesheet" />

<style>
    .switch-toggle {
        width: 10em;
        height: 34px;
        float: right;
    }

    .switch-toggle-new {
        width: 10em;
        height: 34px;
        float: right;
    }

    .switch-toggle label:not(.disabled) {
        cursor: pointer;
    }


    .table-scroll {
        position: relative;
        /*max-width: 600px;
        margin: auto;
        overflow: hidden;
        border: 1px solid #000;*/
    }

    .table-wrap {
        width: 100%;
        overflow: auto;
    }

    .table-scroll table {
        width: 100%;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table-scroll th, .table-scroll td {
        padding: 5px 10px;
        border: 1px solid #000;
        background: #fff;
        white-space: nowrap;
        vertical-align: top;
    }

    .table-scroll thead, .table-scroll tfoot {
        background: #f9f9f9;
    }

    .clone {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        /*overflow:hidden;*/
        /*height:300px;*/
        overflow-y: scroll;
    }

        .clone th, .clone td {
            visibility: hidden
        }

        .clone td, .clone th {
            border-color: transparent
        }

        .clone tbody th {
            visibility: hidden;
            /*color: red;*/
        }

        .clone .fixed-side {
            border: 1px solid #000;
            background: #eee;
            visibility: visible;
        }

        .clone thead, .clone tfoot {
            background: transparent;
        }
</style>
@*<script src="~/Content/js/addons/Sims-charts.js?v="+@ResourceManager.GetString("Shared.Version.Js") rel="javascript"></script>*@
<div class="clearfix position-relative">
    <div class='row'>
        <div class='col-md-12'>
            <div class="col-lg-12 col-md-12 col-12 ">
                <!-- TimeTable Start -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header ">
                                <h5 class="card-title m-0"></h5>
                            </div>
                            <div class="card-body ">
                                <div class="row">
                                    <div class="col-md-4 col-4 pl-2 pr-2">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="due-date d-flex date-time-picker line-height-36">
                                                    <span><i class="far fa-calendar-alt"></i></span>
                                                    <label class="form-control-label pl-2 pr-2">Select Date</label>

                                                    <div class="form-group due-date d-flex date-time-picker justify-content-start align-items-center">
                                                        <input type="text" class="form-control date-picker" id="dueDatePicker">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-4 text-center pl-2 pr-2">


                                    </div>
                                    <div class="col-md-4 col-4 pl-2 pr-2">
                                        <div class="row">
                                            <div class="col-lg-8 text-right">
                                                <div class="line-height-36 d-inline float-right">
                                                    <span><i class="fa fa-filter"></i></span>
                                                    <label class="form-control-label pl-2 pr-2">Filter By</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 float-left">
                                                <div class="switch-toggle switch-3 switch-candy">
                                                    <input id="on" name="state-d" type="radio" checked="" />
                                                    <label for="on" onclick="" data-toggle="tooltip" title="Monthly">M</label>


                                                    <input id="na" name="state-d" type="radio" checked="checked" />
                                                    <label for="na" class="" onclick="" data-toggle="tooltip" title="Weekly">W</label>

                                                    <input id="off" name="state-d" type="radio" />
                                                    <label for="off" onclick="" data-toggle="tooltip" title="Daily">D</label>

                                                    <a></a>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="card shadow-none">
                            <div class="card-header p-0">
                                <div class="row align-items-center pt-2 pb-2">
                                    <div class="col">
                                        <h3 class="mb-0">Session Analysis</h3>
                                    </div>
                                    <div class="col text-right">
                                        <a href="#!" class="btn btn-sm btn-primary">See all</a>
                                    </div>
                                </div>

                                <div class="table-responsive-md">
                                    <table class="table table-hover table-bordered" style="width:100%;">
                                        <thead>
                                            <tr role="row">
                                                <th>Code</th>
                                                <th>Description</th>
                                                <th class="text-center">Sessions</th>
                                                <th class="text-center">%</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row">
                                                <td class="text-left">/</td>
                                                <td class="text-left">Present</td>
                                                <td class="text-center">130</td>
                                                <td class="text-center">73.9</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">X</td>
                                                <td class="text-left">Absent</td>
                                                <td class="text-center">3</td>
                                                <td class="text-center">1.9</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">N</td>
                                                <td class="text-left">Unauthorised</td>
                                                <td class="text-center">13</td>
                                                <td class="text-center">23.4</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">L</td>
                                                <td class="text-left">Late</td>
                                                <td class="text-center">5</td>
                                                <td class="text-center">5.75</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12">
                        <div class="card shadow">
                            <div class="card-header p-0">
                                <div class="row align-items-center pt-2 pb-2">
                                    <div class="col">
                                        <h3 class="mb-0">Lession Analysis</h3>
                                    </div>
                                    <div class="col text-right">
                                        <a href="#!" class="btn btn-sm btn-primary">See all</a>
                                    </div>
                                </div>
                                <div class="table-responsive-md">
                                    <table class="table table-hover table-bordered" style="width:100%;">
                                        <thead>
                                            <tr role="row">
                                                <th>Code</th>
                                                <th>Description</th>
                                                <th class="text-center">Lessons</th>
                                                <th class="text-center">%</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row">
                                                <td class="text-left">/</td>
                                                <td class="text-left">Present</td>
                                                <td class="text-center">130</td>
                                                <td class="text-center">73.9</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">X</td>
                                                <td class="text-left">Authorised Absence</td>
                                                <td class="text-center">3</td>
                                                <td class="text-center">1.9</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">N</td>
                                                <td class="text-left">Unauthorised Absence</td>
                                                <td class="text-center">3</td>
                                                <td class="text-center">1.9</td>
                                            </tr>
                                            <tr role="row">
                                                <td class="text-left">E</td>
                                                <td class="text-left">Approved Educational Activity</td>
                                                <td class="text-center">13</td>
                                                <td class="text-center">23.4</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">P</td>
                                                <td class="text-left">Possible Attendances</td>
                                                <td class="text-center">148</td>
                                                <td class="text-center">95.75</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">L</td>
                                                <td class="text-left">Late before reg closed</td>
                                                <td class="text-center">5</td>
                                                <td class="text-center">5.75</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="card shadow">
                            <div class="card-header p-0">
                                <div class="row align-items-center pt-2 pb-2">
                                    <div class="col">
                                        <h3 class="mb-0">Attendance By Session Dated 02-08-2019</h3>
                                    </div>
                                    @*<div class="col text-right">
                                            <a href="#!" class="btn btn-sm btn-primary">See all</a>
                                        </div>*@
                                </div>

                                <div class="table-responsive-md">
                                    <table class="table table-hover table-bordered" style="width:100%;">
                                        <thead>
                                            <tr role="row">
                                                <th width="50%"></th>
                                                <th width="25%" class="text-center">AM %</th>
                                                <th width="25%" class="text-center">PM %</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row">
                                                <td class="text-left">All</td>
                                                <td class="text-center">80</td>
                                                <td class="text-center">73.9</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">Sunday</td>
                                                <td class="text-center">85</td>
                                                <td class="text-center">86.5</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">Monday</td>
                                                <td class="text-center">93</td>
                                                <td class="text-center">93.4</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">Tuesday</td>
                                                <td class="text-center">95</td>
                                                <td class="text-center">95.75</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">Wednesday</td>
                                                <td class="text-center">94</td>
                                                <td class="text-center">93.45</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">Thursday</td>
                                                <td class="text-center">96</td>
                                                <td class="text-center">95.75</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">Friday</td>
                                                <td class="text-center">94</td>
                                                <td class="text-center">96.75</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">Saturday</td>
                                                <td class="text-center">93</td>
                                                <td class="text-center">92.75</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12">
                        <div class="card shadow">
                            <div class="card-header border-bottom1">
                                <div class="row align-items-center pt-2 pb-2">
                                    <div class="col">
                                        <h3 class="mb-0">Student Attendance Graph</h3>
                                    </div>
                                    @*<div class="col text-right">
                                            <a href="#!" class="btn btn-sm btn-primary">See all</a>
                                        </div>*@
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive-md">

                                    <canvas id="attendChart" height="350"></canvas>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="card shadow">
                            <div class="card-header p-0">
                                <div class="row align-items-center pt-2 pb-2">
                                    <div class="col">
                                        <h3 class="mb-0">Session code Totals</h3>
                                    </div>
                                    @*<div class="col text-right">
                                            <a href="#!" class="btn btn-sm btn-primary">See all</a>
                                        </div>*@
                                </div>

                                <div class="table-responsive-md">
                                    <table class="table table-hover table-bordered" style="width:100%;">
                                        <thead>
                                            <tr role="row">
                                                <th>Code</th>
                                                <th>Description</th>
                                                <th class="text-center">Sessions</th>
                                                <th class="text-center">%</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row">
                                                <td class="text-left">/</td>
                                                <td class="text-left">Present</td>
                                                <td class="text-center">130</td>
                                                <td class="text-center">73.9</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">I</td>
                                                <td class="text-left">illness</td>
                                                <td class="text-center">1</td>
                                                <td class="text-center">0.9</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">M</td>
                                                <td class="text-left">Medical /Dental/Doctor's Appointment</td>
                                                <td class="text-center">1</td>
                                                <td class="text-center">0.9</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">L</td>
                                                <td class="text-left">Late</td>
                                                <td class="text-center">5</td>
                                                <td class="text-center">5.75</td>
                                            </tr>

                                            <tr role="row">
                                                <td class="text-left">N</td>
                                                <td class="text-left">No Reason Provided for absence</td>
                                                <td class="text-center">5</td>
                                                <td class="text-center">5.75</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12">
                        <div class="card shadow-none">
                            <div class="card-header border-bottom1">
                                <div class="row align-items-center pt-2 pb-2">
                                    <div class="col">
                                        <h3 class="mb-0">Attendance By Session Graph</h3>
                                    </div>
                                    @*<div class="col text-right">
                                            <a href="#!" class="btn btn-sm btn-primary">See all</a>
                                        </div>*@
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive-md">

                                    <canvas id="assesmentChartNew" height="250" width="300"></canvas>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="card shadow-none">
                            <div class="card-header p-0">
                                <div class="row align-items-center pt-2 pb-2">
                                    <div class="col">
                                        <h3 class="mb-0">Attendance Mark Entry for the Month of July 2019</h3>
                                    </div>

                                </div>

                                <div class="table-responsive-md">
                                    <div class="container-fluid">
                                        <div class="table-scrollable" style="height: 300px;">
                                            <table class="table table-hover table-bordered table-responsive" id="table-basic" style="min-width: 1200px;">
                                                <colgroup span="7"></colgroup>
                                                <colgroup span="7"></colgroup>
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2" class="bg-light" style="width:100px">Student Names</th>
                                                        <th colspan="7" class="text-center bg-default border-right">First Week</th>
                                                        <th colspan="7" class="text-center bg-default border-right">Second Week</th>
                                                        <th colspan="7" class="text-center bg-default border-right">Third Week</th>
                                                        <th colspan="7" class="text-center bg-default border-right">Fourth Week</th>
                                                        <th colspan="7" class="text-center bg-default border-right">Fifth Week</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-center">Sun<br /></th>
                                                        <th class="text-center">Mon<br />1</th>
                                                        <th class="text-center">Tue<br />2</th>
                                                        <th class="text-center">Wed<br />3</th>
                                                        <th class="text-center">Thu<br />4</th>
                                                        <th class="text-center">Fri<br />5</th>
                                                        <th class="text-center border-right">Sat<br />6</th>
                                                        <th class="text-center">Sun<br />7</th>
                                                        <th class="text-center">Mon<br />8</th>
                                                        <th class="text-center">Tue<br />9</th>
                                                        <th class="text-center">Wed<br />10</th>
                                                        <th class="text-center">Thu<br />11</th>
                                                        <th class="text-center">Fri<br />12</th>
                                                        <th class="text-center border-right">Sat<br />13</th>
                                                        <th class="text-center">Sun<br />14</th>
                                                        <th class="text-center">Mon<br />15</th>
                                                        <th class="text-center">Tue<br />16</th>
                                                        <th class="text-center">Wed<br />17</th>
                                                        <th class="text-center">Thu<br />18</th>
                                                        <th class="text-center">Fri<br />19</th>
                                                        <th class="text-center border-right">Sat<br />20</th>
                                                        <th class="text-center">Sun<br />21</th>
                                                        <th class="text-center">Mon<br />22</th>
                                                        <th class="text-center">Tue<br />23</th>
                                                        <th class="text-center">Wed<br />24</th>
                                                        <th class="text-center">Thu<br />25</th>
                                                        <th class="text-center">Fri<br />26</th>
                                                        <th class="text-center border-right">Sat<br />27</th>
                                                        <th class="text-center">Sun<br />28</th>
                                                        <th class="text-center">Mon<br />29</th>
                                                        <th class="text-center">Tue<br />30</th>
                                                        <th class="text-center">Wed<br />31</th>
                                                        <th class="text-center">Thu<br /></th>
                                                        <th class="text-center">Fri<br /></th>
                                                        <th class="text-center border-right">Sat<br /></th>
                                                    </tr>

                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>Rajesh Kumar</th>
                                                        <td class="text-center"> </td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-danger text-bold">X</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-danger text-bold">X</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-danger text-bold">X</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-warning text-bold">L</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Jacob Chako</th>
                                                        <td class="text-center"> </td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-danger text-bold">X</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-warning text-bold">L</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-warning text-bold">L</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Shakeel Shakker</th>
                                                        <td class="text-center"> </td>
                                                        <td class="text-center">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-danger text-bold">X</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-danger text-bold">X</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-danger text-bold">X</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-warning text-bold">L</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center"> </td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Charan Sunder</th>
                                                        <td class="text-center"> </td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-danger text-bold">X</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-danger text-bold">X</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-danger text-bold">X</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-warning text-bold">L</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center"> </td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Kapil Thomas</th>
                                                        <td class="text-center"> </td>
                                                        <td class="text-center">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-danger text-bold">X</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-danger text-bold">X</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center">##</td>
                                                        <td class="text-center text-danger text-bold">X</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center text-warning text-bold">L</td>
                                                        <td class="text-center text-secondary text-bold">/</td>
                                                        <td class="text-center"> </td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>

        </div>



        @section scripts
                    {
            <script type="text/javascript" src="~/Content/js/custom/SIMS/Behaviour/BehaviourLoad.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
            <script type="text/javascript" src="~/Content/js/addons/freeze-table.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>

            <script>
                $('#zoomBtn').click(function () {
                    $('.zoom-btn-sm').toggleClass('scale-out');
                    if (!$('.zoom-card').hasClass('scale-out')) {
                        $('.zoom-card').toggleClass('scale-out');
                    }
                });

                $('.zoom-btn-sm').click(function () {
                    var btn = $(this);
                    var card = $('.zoom-card');

                    if ($('.zoom-card').hasClass('scale-out')) {
                        $('.zoom-card').toggleClass('scale-out');
                    }
                    if (btn.hasClass('zoom-btn-person')) {
                        card.css('background-color', '#d32f2f');
                    } else if (btn.hasClass('zoom-btn-doc')) {
                        card.css('background-color', '#fbc02d');
                    } else if (btn.hasClass('zoom-btn-tangram')) {
                        card.css('background-color', '#388e3c');
                    } else if (btn.hasClass('zoom-btn-report')) {
                        card.css('background-color', '#1976d2');
                    } else {
                        card.css('background-color', '#7b1fa2');
                    }
                });

            </script>

            <script>
                $(document).ready(function () {
                    //-------- Audit stats ---------
                    var ctxD = document.getElementById("assesmentChartNew1").getContext('2d');
                    var myLineChart = new Chart(ctxD, {
                        type: 'doughnut',
                        data: {
                            labels: ["Present", "Absent", "Unauthorised", "Late"],
                            datasets: [{
                                data: [130, 3, 13, 5],
                                backgroundColor: ["#49DB93", "#4981FD", "#FFD063", "#FF9850"],
                                hoverBackgroundColor: ["#49DB93", "#4981FD", "#FFD063", "#FF9850"],
                                borderWidth: [0, 0, 0, 0]
                            }]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                display: true,
                                position: "bottom",
                                labels: {
                                    boxWidth: 10,
                                    paddding: 20
                                }
                            }
                        }
                    });
                });

            </script>
            <script>
                $(document).ready(function () {
                    //-------- Polar Area ---------
                    var ctxD = document.getElementById("assesmentChartNew").getContext('2d');
                    var myPolarAreaChart = new Chart(ctx, {
                        data: {
                            labels: ["Present", "Absent", "Unauthorised", "Late"],
                            datasets: [{
                                data: [130, 3, 13, 5],
                                backgroundColor: ["#49DB93", "#4981FD", "#FFD063", "#FF9850"],
                                hoverBackgroundColor: ["#49DB93", "#4981FD", "#FFD063", "#FF9850"],
                                borderWidth: [0, 0, 0, 0]
                            }]
                        },
                        type: 'polarArea',
                        options: {
                            labels: ["Present", "Absent", "Unauthorised", "Late"]
                        }
                    });
                });
            </script>
            <script>
                $(window).on("load", function () {
                    //-------- Column chart ---------
                    //Get the context of the Chart canvas element we want to select
                    var ctx = $("#attendChart");

                    // Chart Options
                    var chartOptions = {
                        // Elements options apply to all of the options unless overridden in a dataset
                        // In this case, we are setting the border of each bar to be 2px wide and green
                        elements: {
                            rectangle: {
                                borderWidth: 1,
                                borderColor: 'rgb(0, 255, 0)',
                                borderSkipped: false
                            }
                        },
                        layout: {
                            padding: {
                                left: 0,
                                right: 0,
                                top: 0,
                                bottom: 0
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        responsiveAnimationDuration: 500,
                        legend: {
                            display: true,
                            position: 'bottom',
                            labels: {
                                boxWidth: 10,
                                usePointStyle: false
                            },
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                gridLines: {
                                    color: "#f3f3f3",
                                    drawTicks: true,
                                },
                                scaleLabel: {
                                    display: true,
                                },
                                barThickness: 15
                            }],
                            yAxes: [{
                                display: true,
                                gridLines: {
                                    color: "#f3f3f3",
                                    drawTicks: true,
                                },
                                scaleLabel: {
                                    display: true,
                                },
                                // ticks: {
                                //     max: 500,
                                //     min: 0,
                                //     stepSize: 100
                                // }
                            }]
                        },
                        title: {
                            display: true,
                            text: 'Attendance Chart By Session',
                            //fontFamily: 'inherit'
                        }
                    };

                    // Chart Data
                    var chartData = {
                        labels: ["All", "Sun", "Mon", "Tue", "Thu", "Fri", "Sat"],
                        datasets: [{
                            label: "AM",
                            data: [88, 85, 93, 95, 94, 96, 94, 93],
                            backgroundColor: "#4981FD",
                            hoverBackgroundColor: "#4981FD",
                            borderColor: "transparent",
                            borderWidth: 0
                        }, {
                            label: "PM",
                            data: [73.9, 86.5, 93.4, 95.75, 93.45, 95.75, 96.75, 92.75],
                            backgroundColor: "#FF9850",
                            hoverBackgroundColor: "#FF9850",
                            borderColor: "transparent",
                            borderWidth: 0
                        }]
                    };

                    var config = {
                        type: 'bar',
                        // Chart Options
                        options: chartOptions,
                        data: chartData
                    };

                    // Create the chart
                    var lineChart = new Chart(ctx, config);
                });

            </script>

            <script>
                $(document).ready(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                });
            </script>

            <!-- script to freeze the top and left row and column goes here-->
            <script>

                // $(document).ready(function () {
                //     $('tbody').scroll(function (e) { //detect a scroll event on the tbody
                //         /*
                //     Setting the thead left value to the negative valule of tbody.scrollLeft will make it track the movement
                //     of the tbody element. Setting an elements left value to that of the tbody.scrollLeft left makes it maintain 			it's relative position at the left of the table.
                //     */
                //         $('thead').css("left", -$("tbody").scrollLeft()); //fix the thead relative to the body scrolling
                //         $('thead th:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first cell of the header
                //         $('tbody td:nth-child(1)').css("left", $("tbody").scrollLeft()); //fix the first column of tdbody
                //     });
                // });


                //// requires jquery library
                // jQuery(document).ready(function () {
                //     jQuery(".main-table").clone(true).appendTo('#table-scroll').addClass('clone');
                // });

                $(document).ready(function () {



                    $(".table-scrollable").freezeTable({
                        'scrollable': true,
                    });


                });
            </script>

        }

    </div>
</div>
