﻿@model Phoenix.VLE.Web.EditModels.SchoolSkillSetEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common


@using (Ajax.BeginForm("SaveSchoolSkillSetData", "SchoolSkillSet", new AjaxOptions { OnSuccess = "SchoolSkillSet.onSaveSuccess" }, new { id = "frmAddCycle", @class = "form-horizontal" }))
{
    <div class="modal-body">
        <div class="popup-form">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.SkillId)
            @Html.HiddenFor(x => x.SchoolGradeId)
            @Html.HiddenFor(x => x.IsAddMode)
            @Html.HiddenFor(x => x.SkillSetXml)
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.LocalizedLanguageTextbox("SkillName", "Skill.SchoolSkillSet.SkillName", "SkillSetXml")
                        @Html.LocalizedLabel("active", "Skill.SchoolSkillSet.SkillName")
                        @Html.ValidationMessageFor(x => x.SkillName, "", new { @class = "text-danger small" })
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="mt-3">
                        <span class="custom-control custom-checkbox">
                            @*@{ Model.IsApproved = true;}
                        @Html.CheckBoxFor(x => x.IsApproved, htmlAttributes: new { @checked = true, @class = "custom-control-input" })*@
                            @Html.CheckBox("IsApproved", Model.IsApproved, htmlAttributes: new { @checked = true, @class = "custom-control-input" })
                            <label class="custom-control-label" for="IsApproved">@ResourceManager.GetString("Skill.SchoolSkillSet.IsApproved")</label>
                        </span>
                    </div>
                    <div class="">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            @if (Html.CurrentPagePermission().CanEdit)
            {
                <button type="submit" class="btn btn-primary waves-effect waves-light m-0 ml-3 multilang-submit">@ResourceManager.GetString("Shared.Buttons.Save")</button>
            }
        </div>
    </div>
}


@Html.Partial("_ValidationJSPartial")

