﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    var panelTitle = ResourceManager.GetString("SchoolBadge.Badge.SchoolBadgeTitle");
    ViewData["Title"] = panelTitle;
    var rnd = DateTime.Now.Ticks.ToString();
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-configuration.svg");
}
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}

<div class="row search-row justify-content-end pb-2">
    <div class="col-12 col-lg-8 col-md-10 d-flex flex-column flex-md-row justify-content-end ">
        <div class="search-with-bg w-responsive mb-2 mb-md-0">
            <span class="icon-search"></span>
            <input type="text" id="SchoolBadgeSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
        </div>
        @if (Html.CurrentPagePermission().CanEdit)
        {
            <button id="btnAddSchoolBadge" type="button" class="btn btn-primary m-0 rounded-6x ml-0 ml-md-3"><i class="fa fa-plus mr-2"></i>@ResourceManager.GetString("SchoolBadge.Badge.AddSchoolBadge")</button>
        }
    </div>
</div>

<div class="row grid-view">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card grid-list-card">
            <div class="list-wrapper table-responsive">
                <table class="table mw-100 dataTable no-footer" id="tbl-SchoolBadgeList">
                    <thead class="thead-dark"></thead>
                </table>
            </div>
        </div>
    </div>
</div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
<style>
    .dataTables_filter {
        display: none;
    }
</style>
@section scripts
{
    <script language="javascript">
        translatedResources.SchoolBadge = '@ResourceManager.GetString("SchoolBadge.Badge.SchoolBadgeTitle")';
        translatedResources.Title = '@ResourceManager.GetString("SchoolBadge.Badge.Title")';
        translatedResources.Description = '@ResourceManager.GetString("SchoolBadge.Badge.Description")';
        translatedResources.Image = '@ResourceManager.GetString("SchoolBadge.Badge.UploadedImageName")';
        translatedResources.actions = '@ResourceManager.GetString("Shared.Labels.Actions")';
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/SchoolBadge/SchoolBadge.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}