﻿@model IEnumerable<Phoenix.Models.UserRole>

<ul>

    @foreach (var item in Model)
    {
    <li>
        <a href="javascript:void(0)" onclick="addThisItem(@item.UserRoleId)">@item.UserRoleName</a>
    </li>
    }
</ul>