﻿@model Phoenix.Common.ViewModels.UserRolePermissionView
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Enums
    
<div class="module-list border rounded pb-3 vh-100 ">
    <div class="title-with-fields">
        <h3 class="card-title">@ResourceManager.GetString("UserRole.UserRole.Modules")</h3>
        <div class="title-fields">
                <select class="selectpicker small-select" tabindex="-98" id="ddlApplications" >
                    <option value="">@ResourceManager.GetString("UserRole.UserRole.All")</option>
                    <option value="@StringEnum.GetStringValue(MainModuleCodes.AdminPanel)">@StringEnum.GetStringValue(MainModuleCodes.AdminPanel)</option>
                    <option value="@StringEnum.GetStringValue(MainModuleCodes.Classroom)" selected>@MainModuleCodes.Classroom</option>
                    @if (SessionHelper.CurrentSession.UserTypeId == 5)
                    {
                    <option value="@StringEnum.GetStringValue(MainModuleCodes.SIMS)">@MainModuleCodes.SIMS</option>
                    }

                </select>
                @*<select class="selectpicker small-select ml-1" tabindex="-98" id="ddlModules">
                    <option value="">@ResourceManager.GetString("UserRole.UserRole.Module")</option>
                </select>*@
        </div>
    </div>
    <div class="card-body menu-panel">
        <div id="divShowMenuTree" class="easyui-tree">
        </div>
        @Html.Hidden("UserID", Model.UserID)
    </div>
</div>





