﻿@model Phoenix.Common.ViewModels.UserRolePermissionView

    <div class="col-lg-4 col-md-4 col-12 " >
        <div class="card">
            <div class="card-body" id="divMenuTree">
                @Html.Partial("_MenuTree", Model)
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-12" >
        <div class="card">
            <div class="card-body" id="divPermissionList">
                @Html.Partial("_RolesPermission", Model)
            </div>
        </div>
    </div>









