﻿@model Phoenix.Common.ViewModels.UserRolePermissionView
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers

@{
    string notShowRoleId = SessionHelper.CurrentSession.UserTypeId == 4 ? "4,5" : "5";
}

<div class="user-roles border rounded pb-3 vh-100">

    <h3 class="card-title">
        @ResourceManager.GetString("UserRole.Permission.Role")
        @if (SessionHelper.CurrentSession.UserTypeId == 5)
        {
            <a href="/users/userrole" class="d-inline-block add-role" target="_blank">@ResourceManager.GetString("Shared.Labels.AddNew") </a>
        }
    </h3>

    <div class="user-role-list">
        <div class="user-list column-padding" id="tbl_UserRoleDataList">
            <ul class=" clearfix pl-2">
                @if (Model.UserRoleList != null)
                {
                    foreach (var item in Model.UserRoleList)
                    {
                        if (!notShowRoleId.Contains(item.UserRoleId.ToString()))
                        {
                            <li>
                                <a href="javascript:void(0)" id="@item.UserRoleId" onclick="highlight(@item.UserRoleId)" data-userid="@Model.UserID" data-id='{ "RoleId":"@item.UserRoleId", "RoleName":"@item.UserRoleName" }'
                                   class="align-items-center d-flex justify-content-between w-100 py-2 d-inline-block action-userRole">@item.UserRoleName</a>
                            </li>
                        }

                    }
                }

            </ul>
        </div>
    </div>

</div>

