﻿@model Phoenix.Common.ViewModels.UserRolePermissionView
@using Phoenix.Common.Localization
@{
    ViewBag.Title = ResourceManager.GetString("Users.UserRole.Index");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-groups.svg");
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var rnd = DateTime.Now.Ticks.ToString();
}
<link href="~/Content/css/custom/Users/easyuitree.css" rel="stylesheet" />
<style type="text/css">
    .menu-panel {
        max-height: 500px;
        overflow-y: auto;
    }

    tr.selected {
        background-color: #d87676 !important;
    }

    .tree {
        border: none !important;
    }

    .module-list .title-with-fields .title-fields .bootstrap-select {
        width: 105px !important;
    }

</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-12 min-height">
        @Html.Partial("_RolePermissionIndex", Model)
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.parentclickerrorMsg = '@LocalizationHelper.GetResourceText("UserRole.UserRole.ParentClickError")';
        translatedResources.userRoleErrorMsg = '@LocalizationHelper.GetResourceText("UserRole.Permission.UserRoleErrorMsg")';
        translatedResources.roleDeleteMsg = '@LocalizationHelper.GetResourceText("UserRole.AssignRole.RoleDeleteErrorMsg")';
        translatedResources.selectAllPermissionMessage = '@LocalizationHelper.GetResourceText("UserRole.UserRole.SelectAllPermissionMessage")';
        translatedResources.rolesFor = '@LocalizationHelper.GetResourceText("UserRole.AssignRole.RolesFor")';
        translatedResources.moduleListFor = '@LocalizationHelper.GetResourceText("UserRole.UserRole.ModuleListFor")';
        translatedResources.roles = '@LocalizationHelper.GetResourceText("UserRole.UserRole.UserRoles")';
        translatedResources.roleId = '@ViewBag.roleId';
        translatedResources.userName = '@ViewBag.userName';
        translatedResources.userId = '@ViewBag.userId';

    </script>
    
    <script src="@Url.Content("~/Content/js/jquery.easyui.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.jsonloader.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Users/AssignPermission.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

}