﻿@model Phoenix.VLE.Web.EditModels.SubjectEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Enums
@using Phoenix.Common.Helpers.Extensions

@{
    Model.SubjectColorCode = !string.IsNullOrEmpty(Model.SubjectColorCode) ? Model.SubjectColorCode : "#ccc";
}


@using (Ajax.BeginForm("SaveSubjectData", "SubjectList", new AjaxOptions {  OnSuccess = "subjects.onSaveSuccess" }, new { id = "frmAddSubject", @class = "form-horizontal" }))
{
    <div class="modal-body">
        <div class="popup-form">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.SubjectId)
            @Html.HiddenFor(x => x.SchoolId)
            @Html.HiddenFor(x => x.SubjectNameXml)
            @Html.HiddenFor(x => x.IsAddMode)
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(x => x.SubjectName, new { @class = "form-control" })
                        @*@Html.LocalizedLanguageTextbox("SubjectName", "ListCategories.Subject.SubjectName")*@
                        @*<label for="SubjectName" class="active">@ResourceManager.GetString("ListCategories.Subject.SubjectName") <span class="text-danger">*</span></label>*@
                        @Html.LocalizedLabel("active", "ListCategories.Subject.SubjectName")
                        @Html.ValidationMessageFor(x => x.SubjectName)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @{
                            object codeAttributes = new { @class = "form-control" };
                            if (Model.SubjectTypeId == (int)RecordTypes.System)
                            {
                                codeAttributes = new { @class = "form-control", @disabled = "disabled" };
                            }
                        }
                        @Html.TextBoxFor(x => x.SubjectCode, codeAttributes)
                        @*<label for="SubjectCode" class="active">@ResourceManager.GetString("ListCategories.Subject.SubjectCode") <span class="text-danger">*</span></label>*@
                        @Html.LocalizedLabel("active", "ListCategories.Subject.SubjectCode")
                        @Html.ValidationMessageFor(x => x.SubjectCode)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column-padding pt-3 pb-3">
                    <div class="d-flex align-items-center">
                        <h4 class="sub-heading m-0 mr-3">@ResourceManager.GetString("ListCategories.Subject.SubjectColorCode")</h4>
                        <div class="color-picker" style="width: 30px;">
                            @Html.HiddenFor(x => x.SubjectColorCode, new { @class = "colorpicker", @data_control = "hue" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="mt-3">
                        <div class="custom-control custom-checkbox">
                            @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control-input" })
                            @*<label class="custom-control-label" for="IsActive">@ResourceManager.GetString("ListCategories.Subject.IsActive")</label>*@
                            @Html.LocalizedLabel("custom-control-label", "ListCategories.Subject.IsActive")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            <button type="submit" class="btn btn-primary waves-effect waves-light">@ResourceManager.GetString("Shared.Buttons.Save")</button>
        </div>
    </div>
}

@Html.Partial("_ValidationJSPartial")
