﻿@model IEnumerable<Phoenix.Models.Subject>
@using Phoenix.Common.Localization
@{
    ViewData["Title"] = ResourceManager.GetString("ListCategories.Subject.Subject");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-list-categories.svg");
    var rnd = DateTime.Now.Ticks.ToString();
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card list-categories-wrapper">
            <div class="card-body column-padding pt-3 pb-3">
                @*<div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="float-right">
                            <button id="btnAddSubject" type="button" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light">@ResourceManager.GetString("ListCategories.Subject.AddSubject")</button>
                        </div>
                    </div>
                </div>*@
               @* <h3 class="card-title">@ResourceManager.GetString("ListCategories.Subject.SubjectList")</h3>*@
                <div class="table-wrapper mt-4 column-padding">
                    <div class="row mb-3">
                        <div class="col-lg-8 col-md-8 col-8">
                            <div class="search-with-bg">
                                <i class="fa fa-search"></i>
                                <input type="search" id="SubjectListSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-4">
                            <div class="float-right">
                                <button id="btnAddSubject" type="button" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light">@ResourceManager.GetString("ListCategories.Subject.AddSubject")</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive-md">
                        <table class="table table-bordered table-hover " id="tbl-Subject"></table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .dataTables_filter {
        display: none;
    }
</style>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.subject = '@ResourceManager.GetString("ListCategories.Subject.Subject")';
        translatedResources.subjectCode = '@ResourceManager.GetString("ListCategories.Subject.SubjectCode")';
        translatedResources.subjectColorCode = '@ResourceManager.GetString("ListCategories.Subject.SubjectColorCode")';
        translatedResources.type = '@ResourceManager.GetString("Shared.Labels.Type")';
    </script>
    <script src="@Url.Content("~/Content/js/addons/jquery.minicolors.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/ListCategories/SubjectList.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
