﻿@model IEnumerable<Phoenix.VLE.Web.Models.GradeSlabMaster>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    var panelTitle = ResourceManager.GetString("Course.Standard.StandardTitle");
    ViewData["Title"] = panelTitle;
    var rnd = DateTime.Now.Ticks.ToString();
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-configuration.svg");
}
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
<div class="card-body">
    <div class="title-with-fields">

        <div class="card-title">
            <div id="">
                @ResourceManager.GetString("Course.GradeSlab.GradeSlabName")
            </div>

        </div>
        <div>
            <button type="button" class="btn btn-sm btn-primary" id="btnAssessmentConfig">@ResourceManager.GetString("Shared.Labels.Add")</button>
        </div>


    </div>
</div>
<table id="tbl-GradeSlab" class="table table-bordered table-hover table-responsive-md" cellspacing="0" width="100%" border="1">
    <thead>
        <tr>
            @*<td><strong>@ResourceManager.GetString("Course.GradeSlab.GradeSlabMasterName")</strong></td>
                <td><strong>@ResourceManager.GetString("Course.GradeSlab.Description")</strong></td>

                <td><strong>@ResourceManager.GetString("Course.GradeSlab.Code")</strong></td>
                <td><strong>@ResourceManager.GetString("Course.GradeSlab.Colour")</strong></td>
                <td><strong>@ResourceManager.GetString("Course.GradeSlab.FromMark")</strong></td>
                <td><strong>@ResourceManager.GetString("Course.GradeSlab.ToMark")</strong></td>
                <td><strong>@ResourceManager.GetString("Course.GradeSlab.Edit")</strong></td>*@
            <td><strong>@ResourceManager.GetString("Course.GradeSlab.Description")</strong></td>
            <td><strong>@ResourceManager.GetString("Course.GradeSlab.Edit")</strong></td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="page-break-inside:avoid;">

                <td>@item.GradeSlabMasterDesc</td>
                <td>
                    <a class="mr-1" onclick="GradeSlab.EditSlabMaster(@item.GradeSlabMasterId)" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}


@section scripts
{
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/AssessmentConfig/GradeSlab.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        GradeSlab.ConfigArray =@Html.Raw(Json.Encode(Model));
    
    </script>

}

