﻿@model IEnumerable<Phoenix.Common.ViewModels.UserRolesList>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers.Extensions;
@{
    var username = "";
    if (ViewBag.UserName != null)
    {
        username = ViewBag.UserName;
    }
}
@if (Model.Count() == 0)
{
    <div class="col-12">
        <div class="column-padding">
            <div class="card">
                <div class="card-body my-5">
                    <span class="no-data-found text-bold d-block mx-auto my-auto">
                        @string.Format(ResourceManager.GetString("school.Report.NoDataDisplayMessage"))
                    </span>
                </div>
            </div>
        </div>
    </div>
}
<div id="assignUserRole">
    <div class="role-list column-padding" id="Rolelist">
        <ul class="clearfix">

            @foreach (var item in Model)
            {
                <li class="border-top-0">
                    <a href="javascript:void(0)" title='@ResourceManager.GetString("Users.UserRole.RemoveMsg")' data-id='{ "RoleId":"@item.UserRoleId", "RoleName":"@item.UserRoleName","UserId":"@ViewBag.UserID","UserName":"@ViewBag.UserName" }' class="align-items-center d-flex justify-content-between w-100 py-2 d-inline-block">
                        @item.UserRoleName
                        <i class="far fa-trash-alt btnDelete" onclick="deleteUserRole($(this), @item.UserRoleId,'@ViewBag.UserID','@ViewBag.UserName');"
                           title="@ResourceManager.GetString("Shared.Messages.DeleteConfirm")"></i>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
