﻿@model IEnumerable<Phoenix.Common.ViewModels.UserRolesList>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers.Extensions;
@{ 
    string notShowRoleId = "1,2,5";
}

    <div class="col-lg-6 col-md-6 col-12" id="rolelistpanel">
        <div class="card">
            <div class="card-body ">
                <div class="add-user-role pb-3 min-vh-100 pt-3" id="Rolelist">
                    <h3 class="card-title">@ResourceManager.GetString("UserRole.AssignRole.AddRoles")</h3>
                   
                    <div class="role-list column-padding">
                        <ul class="clearfix">
                            @foreach (var item in Model)
                            {
                                if (!string.IsNullOrEmpty(item.UserRoleName) && !notShowRoleId.Contains(item.UserRoleId.ToString()))
                                {
                                    if (!item.IsSelected)
                                    {
                                        <li class="border-top-0">

                                            <a href="javascript:void(0)" id="btnAddRole" title="@ResourceManager.GetString("Users.UserRole.AssignRole")" class="align-items-center d-flex justify-content-between w-100 py-2 d-inline-block">
                                                @item.UserRoleName
                                                <i class="selectRole fas fa-arrow-right" data-roleid="@item.UserRoleId" data-userid="@ViewBag.UserID"
                                                   data-username="@ViewBag.UserName" title="@ResourceManager.GetString("Shared.Labels.Select")"></i>
                                            </a>

                                        </li>
                                    }

                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>




