﻿@*@model Phoenix.Common.ViewModels.UserRolePermissionEdit*@
@*<div class="col-md-4">
    <div id="showAssignPermissions">
    </div>
</div>
<div class="col-md-4">
    @Html.Partial("_MenuTree", Model.userRolePermissionModelMenu)
</div>
<div class="col-md-4">
    @Html.Partial("_RolesPermission", Model.userRolePermissionModelPermission)
</div>*@



