﻿@model IEnumerable<Phoenix.Common.Models.ListItem>
@using Phoenix.Common.Helpers.Extensions;
@using Phoenix.Common.Localization;

<div class="card">
        <div class="card-body ">
            <div class="user-roles border pb-3 min-vh-100 pt-3">
                <div class="title-with-fields pt-1 pb-1">
                    <h3 class="card-title">@ResourceManager.GetString("UserRole.AssignRole.User")</h3>
                    <div class="search-with-bg w-75">
                        <i class="fa fa-search active"></i>
                        <input type="search" id="availableUserSearch" placeholder="@ResourceManager.GetString("UserRole.AssignRole.UserSearchBoxPlaceHolderText")" class="searchfield font-small" style="min-width: auto;">
                    </div>
                </div>
                        
                <div class="user-role-list pt-2 pl-2 pr-2">
                        <div class="user-list column-padding" id="loaduser">
                    </div>
                </div>
            </div>
        </div>
               
</div>
  

