﻿@model IEnumerable<Phoenix.Common.Models.ListItem>
@using Phoenix.Common.Localization;


<ul class="clearfix">
    @foreach (var item in Model)
    {
        if (!string.IsNullOrEmpty(item.ItemName))
        {
            <li>
                <a href="javascript:void(0)" id="btnShow" class="selection-list selectUser" data-search-text="@item.ItemName.ToString().Trim()" data-userid="@item.ItemId" data-username="@item.ItemName">
                    @item.ItemName
                </a>
            </li>

        }
    }
</ul>