﻿@model Phoenix.Common.ViewModels.AssignUserRoleView
@using Phoenix.Common.Localization

@{

    ViewData["Title"] = ResourceManager.GetString("Users.UserRole.AddUserRole");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-groups.svg");
    var rnd = DateTime.Now.Ticks.ToString();
}
@*<style>
    .rolelist-dialog {
        width: 1080px;
    }

    .menu-panel {
        max-height: 780px;
        overflow-y: auto;
    }

    .panel-custom #Rolelist {
        height: 450px;
        overflow-y: auto;
    }
    /*a.selected {
        background-color: #d87676 !important;
    }*/
</style>*@
<link href="~/Content/css/custom/Users/easyuitree.css" rel="stylesheet" />
<div class="row">
        <div class="col-lg-4 col-md-4 col-12">
            @Html.Partial("_UserList", Model.UserList)
        </div>
        <div class="col-lg-8 col-md-8 col-12" >
            <div class="row" id="divloadRole">
                @Html.Partial("_AssignUserRoleMain", Model.UserRolesList)
            </div>
        </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.userErrorMsg = '@LocalizationHelper.GetResourceText("UserRole.AssignRole.UserSelectError")'
        translatedResources.assignUserRole = '@LocalizationHelper.GetResourceText("UserRole.AssignRole.AssignedUserRoles")'
        translatedResources.parentclickerrorMsg = '@LocalizationHelper.GetResourceText("UserRole.UserRole.ParentClickError")'
        translatedResources.addRolesTo = '@LocalizationHelper.GetResourceText("UserRole.AssignRole.AddRolesTo")'
        translatedResources.SelectUserMsg = '@LocalizationHelper.GetResourceText("Users.UserRole.AssignMsg")'
    </script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.jsonloader.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Users/AssignUserRoles.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}








