.assessment-report-container {
    margin-top: rem(25px);

    .assessment-header {
        display: flex;
        margin-top: rem(10px);
        align-items: baseline;
        @include media-breakpoint-down(sm) {
            display: block;
        }
        .sort-dropdown {
            width: 52%;
            .dropdown-toggle {
                padding-left: 51% !important;
            }
            .filter-option-inner-inner {
                color:#4b316c;
                font-weight: 700 !important;
                font-size: rem($base-font-size - 2);
            }
        }
        .report-count {
            color: #000;
            font-size: rem($base-font-size - 2);
            font-weight: 500;
            padding-right: rem(10px);
            span {
                font-weight: 700;
            }
        }
        .select-label {
            color: #7a7a7a;
            font-size: rem($base-font-size - 2);
            font-weight: 600;
        }
    }
}

.report-card {
    border: rem(1px) solid #eae8e8;
    box-shadow: 3px 2px 15px 0 rgba(0, 0, 0, 0.08) !important;
    .card-body {
        .card-title {
            font-size: rem($base-font-size - 2);
            margin-bottom: rem(5px);
        }
    }
    .card-footer {
        border-color: #edeff4;
        border-width: rem(2px);
    }
    .report-calendar {
        font-size: rem($base-font-size - 4);
        svg {
            margin-top: rem(-2px);
            path {
                fill: none;
                &.prefix__cls-1 {
                    stroke: #8f9bb3;
                }
            }
        }
    }
}