.fee-payment-container {
    .card {
        padding: rem(20px);
    }

    .header-section {
        display: flex;
        justify-content: space-between;
        align-content: center;

        @include media-breakpoint-down(sm) {
            display: block;
        }

        .title {
            color: #4b366b;
            font-weight: 700;
            font-size: rem($base-font-size + 2);
        }

        .title-date {
            color: #a3a3a3;
            font-weight: 600;
            font-size: rem($base-font-size - 2);

            @include media-breakpoint-down(sm) {
                display: block;
            }
        }
    }

    .toggable-items-row {
        border-radius: rem(5px);
        border: solid rem(1px) #69409b;
        display: flex;
        margin: rem(20px 0);
        cursor: pointer;
        max-width: max-content;
        color: lighten($primary-color, 30%);

        @include media-breakpoint-down(xs) {
            flex-direction: column;
            max-width: 100%;
        }

        li {
            display: inline-block;
            font-size: rem($base-font-size - 1);
            font-weight: 600;
            padding: rem(7px 25px 9px 25px);

            @include media-breakpoint-down(xs) {
                padding: rem(7px 6px 9px 7px);
            }

            &.active {
                box-shadow: 0 0 7px 0 #c8a6f0;
                background-color: #69409b;
                color: #fff;
            }

            &:not(active) {
                border-left: 1px solid #69409b;

                @include media-breakpoint-down(xs) {
                    border-top: 1px solid #69409b;
                }
            }

            &:first-child {
                border: 0;

                &.active {
                    border-radius: rem(5px 0 0 5px);

                    @include media-breakpoint-down(xs) {
                        border-radius: rem(5px 5px 0 0);
                    }
                }
            }

            &:last-child {
                &.active {
                    @include media-breakpoint-down(xs) {
                        border-radius: rem(0 0 5px 5px);
                    }
                }
            }
        }
    }

    #fee-detail-table {
        border-radius: rem(4px);

        thead {
            tr {
                background-color: #655776;
                color: #fff;

                th {
                    text-transform: capitalize;
                    font-weight: 600;
                    font-size: rem($base-font-size - 1);

                    &:first-child {
                        border-radius: rem(4px 0 0 4px);
                        border-right: rem(3px) solid #717172;
                    }

                    &:last-child {
                        border-radius: rem(0 4px 4px 0);
                        text-align: right;
                        border-left: rem(3px) solid #717172;
                        vertical-align: top;
                    }
                }
            }
        }

        tbody {
            &:before {
                content: "-";
                display: block;
                line-height: rem(1px);
                color: transparent;
            }

            tr {
                border: rem(1px) solid #dee2e6;
            }

            td {
                font-size: rem($base-font-size - 1);
                color: #000;
                font-weight: 600;

                .highlighted-text {
                    color: #7c54f3;
                    font-weight: 600;
                    font-size: rem($base-font-size - 3);
                    cursor: pointer;
                }
            }

            .tbl-actions {
                float: right;
                font-weight: 600;
                border: 0;

                input {
                    float: right;
                    width: 60%;
                    font-weight: 600;
                    color: #000;
                    font-size: rem($base-font-size - 2);
                    text-align: right;
                }

                .grey-text {
                    color: #9a9a9a;
                    font-size: rem($base-font-size);
                }
            }
        }
    }

    .amount-container-footer {
        display: inline-block;
        float: right;

        .amount-info {
            font-size: rem($base-font-size - 2);
            font-weight: 600;
            color: #9b9b9b;
            margin-bottom: rem(30px);
            margin-right: rem(20px);

            @include media-breakpoint-down(sm) {
                margin-right: 0;
            }
        }

        .amount-form-group {
            margin-right: rem(30px);

            @include media-breakpoint-down(sm) {
                margin-right: 0;
            }
        }

        .input-label-wrapper {
            display: flex;
            align-items: baseline;
            justify-content: flex-end;
            margin-bottom: rem(10px);

            label {
                padding-right: rem(10px);
                color: #6c6b6b;
                font-size: rem($base-font-size - 2);
            }

            input {
                width: auto;
                text-align: right;
                font-weight: 600;
                color: #000;
                font-size: rem($base-font-size - 2);
            }
        }

        .button-wrap {
            text-align: right;
            margin-right: rem(20px);

            .btn-outline-deep-purple {
                border: solid rem(1px) #4b316c !important;
                color: #4b316c !important;
                font-weight: 600 !important;
                font-size: rem($base-font-size - 4);
            }
        }

        .btn-deep-purple {
            color: #fff !important;
            background-color: #4b316c !important;
            font-weight: 600 !important;
            font-size: rem($base-font-size - 4);
        }
    }

    .activity-wrapper {
        .amount-container-footer {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            float: none;
            @include media-breakpoint-down(sm) {
                flex-wrap: wrap;
                justify-content: flex-end;
            }
        }
    }
}

/*Payment and student card*/
.master-card {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: url('../img/master-card-unselected.png') no-repeat;
        background-size: contain;
        width: rem(58px);
        height: rem(58px);
        display: inline-block;
    }
}

.paying-card-container {
    margin-right: rem(27px);
    max-width: rem(327px);
    width: 100%;

    @include media-breakpoint-down(xs) {
        margin-right: 0;
    }

    small {
        font-size: rem($base-font-size - 1);
    }
}

.select-card {
    color: #4b366b;
    position: relative;
    box-shadow: rem(3px) rem(2px) rem(15px) 0 rgba(0, 0, 0, 0.08);
    border: solid rem(1px) #eae8e8;
    min-height: rem(157px);
    border-radius: rem(12px);
    padding: rem(11px) rem(13px) rem(14px);

    .upper-section {
        display: flex;
        justify-content: space-between;

        .checked-item {
            width: rem(22px);
            height: rem(22px);
            border-radius: 50%;
        }

        .custom-control {
            &.custom-checkbox {
                .custom-control-label {
                    &:before {
                        border-radius: 50%;
                    }
                }
            }

            .custom-control-label {
                &:before {
                    width: rem(25px);
                    height: rem(25px);
                }

                &:after {
                    top: rem(7px);
                    left: rem(-32px);
                }
            }
        }
    }
}

.green-radio {
    &.custom-control {
        padding: 0;

        .custom-control-label {
            &:before {
                background: #fff;
                width: rem(28px);
                height: rem(28px);
                border: rem(1px) solid #8b8b8b;
                border-radius: 50%;
                left: rem(-28px);
            }

            &:after {
                width: rem(28px);
                height: rem(28px);
                left: rem(-28px);
            }
        }

        .custom-control-input {
            &:checked {
                ~.custom-control-label:before {
                    background: url('../img/svg/radio-tick.svg') no-repeat;
                    background-size: contain;
                    top: rem(4px);
                    left: rem(-27px);
                }

                ~.custom-control-label:after {
                    border-radius: 50%;
                }
            }
        }
    }
}

.payment-card {
    max-width: rem(327px);
    width: 100%;
    height: rem(175px);
    background: url('../img/svg/card-bg-white.svg') no-repeat;
    background-position-y: center;
    background-position-x: center;

    &.nbad-card {
        &.active {
            color: #fff;
            background: url('../img/svg/card-bg-green.svg') no-repeat;
            background-position-y: center;
            background-position-x: center;

            .master-card {
                position: relative;

                &:before {
                    top: rem(-13px);
                    left: rem(-3px);
                    background: url('../img/master-card.png') no-repeat;
                    background-size: contain;
                }
            }

            .green-radio {
                &.custom-control {
                    padding: 0;

                    .custom-control-label {
                        &:before {
                            border: transparent;
                        }
                    }
                }
            }
        }
    }

    &.nbad-coBrand-card {
        &.active {
            color: #fff;
            background: url('../img/svg/card-bg-blue.svg') no-repeat;
            background-position-y: center;
            background-position-x: center;

            .master-card {
                position: relative;

                &:before {
                    top: rem(-13px);
                    left: rem(-3px);
                    background: url('../img/master-card.png') no-repeat;
                    background-size: contain;
                }
            }

            .green-radio {
                &.custom-control {
                    padding: 0;

                    .custom-control-label {
                        &:before {
                            border: transparent;
                        }
                    }
                }
            }
        }
    }

    .card-number {
        font-size: rem(24px);
        margin-bottom: rem(12px);
    }

    .text-small {
        font-size: rem($base-font-size - 4);
    }
}

.child-card {
    border: rem(1px) solid transparent;

    &.active {
        border: rem(2px) solid #69409b;
        box-shadow: 0 rem(3px) rem(21px) 0 #e3dee8;
    }

    .child-details {
        display: flex;
        width: calc(100% - 30px);

        img {
            width: rem(62px);
            height: rem(62px);
            border: rem(2px) solid #fff;
            margin-right: rem(15px);
            border-radius: 50%;
            box-shadow: 0 rem(3px) rem(6px) 0 rgba(0, 0, 0, 0.16);
        }

        .school-detail {
            margin-top: rem(7px);
            width: 100%;

            p {
                margin-bottom: 0;
            }
        }
    }

    .card-body {
        p {
            margin-bottom: 0;
        }
    }

    .view-schedule {
        color: #7c54f3;
        background: transparent;
        border: none;
        outline: none;
        padding: 0;
        font-size: rem($base-font-size - 2);
    }

    .outstanding {
        color: #e51958;
        background-color: #fdf4f8;
        border-radius: rem(10px);
        padding: rem(5px) rem(10px);

        .text-outstanding {
            font-size: rem($base-font-size - 4);
            color: #e34a7a;
        }
    }

    .custom-control {
        .custom-control-input {
            &:focus {
                border: rem(1px) solid #8b8b8b;
            }
        }

        .custom-control-label {
            &:before {
                border: rem(1px) solid #8b8b8b;
                background: #fff;
            }
        }
    }
}

.text-color-purple {
    color: #4b366b !important;
}

.more-info-btn {
    padding: 0 !important;
    background: transparent;
    outline: none;
    margin: 0;

    span {
        position: relative;
        width: rem(21px);
        height: rem(20px);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #747272;
        border-radius: 50%;
        font-weight: 600;
        font-size: rem($base-font-size - 2);
    }
}