.list-container  {
    .card-group {
        padding: 0;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border-radius: rem(10px);
    }
    .group-banner {
        background-image: path('groups-banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
        background-position: right center;
        width: 100%;
        height: 215px;
        border-top-left-radius: rem(10px);
        border-top-right-radius: rem(10px);
        display: flex;
        align-items: center;
        position: relative;
        @media screen and (max-width: 414px) {
            height: 125px;
            background-position-x: 92%;
        }
        @media screen and (min-width: 768px) {
            height: 148px;
        }
        @media screen and (min-width: 1024px) {
            height: 114px;
        }
        @media screen and (min-width: 1366px) {
            height: 165px;
        }
        @media screen and (min-width: 1600px) {
            height: 198px;
        }
        @media screen and (min-width: 1920px) {
            height: 375px;
        }
        /* @media screen and (max-width: 1919px) and (min-width: 1600px) {
            height: 272px;
        }
        @media screen and (max-width: 1920px) {
            height: 330px;            
        } */
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 0.75rem 0.75rem 0 0;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 0, 0, 0.3)), to(transparent));
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 20%, transparent 100%);
        }
        
        .floating-content {
            color: #fff;
            display: table-cell;
            vertical-align: middle;
            padding-left: rem(40px);
            font-weight: 600;
            font-size: rem($base-font-size + 8);
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
            position: relative;
            z-index: 1;
        }
        .edit-option {
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            background: rgba(0,0,0,0.5);
            padding: 4px 6px;
            border-radius: 0 6px;
            z-index: 1;
            .svg {
                path {
                    fill: transparent;
                    stroke: #fff;
                }
            }
        }
    }
    .header-strip {
        border: solid rem(0.5px) #d1d1d1;
        background-color: #5d3195;
        color: #fff;
        border-top-left-radius: rem(10px);
        border-top-right-radius: rem(10px);
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: rem(5px 32px 5px);
        font-weight: 600;
    }
    .search-create-row {
        padding: rem(20px);
        width: 100%;
        .search-wrapper {
            border-bottom: rem(1px) solid #EDEFF4;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: rem(20px);
            position: relative;
            @include media-breakpoint-down(sm) {
                display: block;
            }
            .left-aligned {
                display: flex;
                width: 78%;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                    margin-bottom: rem(10px);
                }
                .search-row {
                    width: 100%;
                    .search-with-bg {
                        width: 100%;
                    }
                }
                .activities-icon {
                    padding-right: rem(8px);
                }
            }
            .create-new-dropdown {
                a {
                    @include transition-main(all linear 0.2s);
                    .svg {
                        width: rem(15px);
                        height: rem(15px);
                        margin-right: rem(20px);
                    }
                    [class^="flaticon-"], [class*=" flaticon-"] {
                        margin-right: rem(20px);
                        &:before, &:after {
                            font-size: 14px;
                        }
                    }
                    &:hover {
                        background: $primary-color;
                        color: $white-base;
                        .svg {
                            path {
                                fill: $white-base;
                            }
                        }
                    }
                }
            }
        }
    }
    .toggable-group-wrapper {
        display: flex;
        width: 100%;
        padding: rem(0 20px);
        justify-content: space-between;
        .settings-icon {
            color:#535353;
        }
    }
    .toggable-group-tabs {
        padding-bottom: 16px;
        li {
            display: inline;
            //padding: rem(11px 9px);
            padding: rem(20px 15px);
            color:#644190;
            opacity: 0.5;
            font-weight: 600;
            cursor: pointer;
            @include media-breakpoint-down(sm) {
                padding: rem(10px 3px);
            }
            @include media-breakpoint-between(md,lg) {
                padding: 1.25rem .4rem;
                font-size: 12px;
            }
            &.active {
                color: #69409b;
                opacity: 1;
                border-bottom: rem(2px) solid #69409b;
                @include media-breakpoint-down(sm) {
                    border: 0;
                }
            }
        }
    }
    .chatter-wrapper, .activities-wrapper, .group-member-wrapper {
        margin-top: rem(25px);
        .card-group {
            padding: rem(20px);
            margin-bottom: rem(15px)
        }
    }
    .chatter-wrapper {
        .chatter-header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .left-content {
                display: flex;
                .description-container {
                    padding-left: 15px;
                    .name-title {
                        color: #4b346c;
                        font-weight: 600;
                    }
                    .post-description {
                        color: #292929;
                        font-size: rem($base-font-size - 1);
                    }
                }
            }
            .right-content {
                @include media-breakpoint-down(sm) {/*Added media for chatter right-content*/
                    text-align: right;
                }
            }
            .profile-image {
                width: 57px;
                height: 57px;
                @include media-breakpoint-down(sm) {
                    width: 47px;
                    height: 47px;
                }
            }
            .right-content {
                img {
                    width: 57px;
                    height: 57px;
                    @include media-breakpoint-down(sm) {
                        width: 47px;
                        height: 47px;
                    }
                }
            }
        }
        .chatter-post-container {
            padding-left: rem(85px);
            margin-bottom: rem(25px);
            @include media-breakpoint-down(sm) {/*media for alignment of chatter*/
                padding-left: rem(71px);    /*vertical alignment of post*/
            }
            .post-title {
                color:#4b346c;
                font-size: rem($base-font-size + 2);
                font-weight: 600;
                margin-bottom: rem(10px);
            }
            .post-detail {
                color: #070707;
                font-size: rem($base-font-size);
                span {
                    color:#8d61b6;
                    font-size: rem($base-font-size - 1);
                    font-weight: 500;
                }
                &.para-spacing {
                    margin-top: rem(20px);
                    margin-bottom: 0;
                }
            }
        }
        .post-reactions {
            width: 100%;
            ul {
                /* padding-left: rem(75px); */
                li {
                    display: inline;
                    padding-right: rem(16px);
                    img {  /*Hand cursor to be used(1.jpg) (Point 1)*/
                        cursor: pointer;
                    }
                }
                padding-left: rem(85px);
            }
            .like-icon {
                width: rem(22px);
                height: rem(20px);
            }
            .speech-bubble {
                width: rem(19px);
                height: rem(19px);
            }
            .share-icon {
                width: rem(20px);
                height: rem(18px);
            }
        }
        .comment-section {
            display: flex;
            margin-top: rem(15px);
            width: 100%;
            margin-left: rem(85px); /*Add the View more comment in the comment section by default show only one comment. */
            @include media-breakpoint-down(sm) {/*media for alignment of chatter*/
                margin-left: rem(71px);  /*comment post responsive full width*/
                width: calc(100% - 62px);   /*comment post responsive full width*/
            }
            .person-image {
                img {
                    width: rem(39px);
                    height: rem(39px);
                }
            }
            .comment-textbox {
                border: rem(0.5px) solid #c1c1c1;
                border-radius: rem(4px);
                padding: rem(5px 10px);
                display: flex;
                align-items: center;
                margin-left: rem(20px);
                width: 100%;
                justify-content: space-between;
                /* @include media-breakpoint-down(sm) {
                    width: 60%;
                } */
                @media(max-width: 320px){
                    margin-left: 5px;
                }
                .text-box-area {
                    width: 87%;
                }
                .emoji {
                    background-image: path('smiley-smiling.svg', img/smileys);
                    width: rem(18px);
                    height: rem(18px);
                    background-size: cover;
                    display: inline-block;
                    background-repeat: no-repeat;
                }
                .comment-field {
                    border: 0;
                    border-radius: rem(4px);
                    padding-left: rem(7px);
                    width: 87%;
                    color: #000; /*view chatter media changes*/
                    font-size: rem($base-font-size - 2);
                    font-weight: 400; /*view chatter media changes*/
                    &:focus {
                        outline:none;
                    }
                }
                .text-icon {
                    background-size: cover;
                    display: inline-block;
                    background-repeat: no-repeat; 
                    margin-right: rem(9.15px);
                }
                .clip {
                    background-image: path('clip.svg', img/svg);
                    width: rem(8px);
                    height: rem(16px);
                }
                .web{
                    background-image: path('web.png');
                    width: rem(14px);
                    height: rem(12px); 
                }
                .camera {
                    background-image: path('camera.png');
                    width: rem(14px);
                    height: rem(12px);
                }
                .send {
                    background-image: path('send.png');
                    width: rem(19px);
                    height: rem(19px);
                }
            }
        }
        .comment-list-container {
            border-top: rem(1px) solid #EDEFF4;
            width: 100%;
            margin-top: rem(20px);
            padding-top: rem(30px);
            //margin-bottom: rem(25px);  /*View all comments */
            margin-left: rem(85px);  /*Add the View more comment in the comment section by default show only one comment. */
            @include media-breakpoint-down(sm) {
                width: calc(100% - 62px);
                margin-left: rem(71px);  /*vertical alignment of post*/
            }
            .profile-image {
                width: rem(39px);
                height: rem(39px);
            }
            li {
                display: flex;
                justify-content: space-between;
                border-bottom: rem(1px) solid #EDEFF4;
                margin-bottom: rem(20px);
                @include media-breakpoint-down(xs) {
                    flex-direction: column;
                }
                .left-content {
                    display: flex;
                    width: calc(100% - 150px);
                    @include media-breakpoint-down(sm) {
                        width: 100%;
                    }
                    .name-wrapper {
                        color: #000;
                        opacity: 0.8;
                        padding-left: rem(10px);
                        @include media-breakpoint-down(xs) {
                            display: flex;
                            flex-direction: column;
                        }
                        span {
                            font-size: rem($base-font-size - 4);
                        }
                    }
                    .name {
                        display: inline-block;
                        font-size: rem($base-font-size - 3);
                        font-weight: 600;
                        margin-right: rem(10px);
                    }
                }
                .right-action {
                    min-width: rem(166px);
                    text-align: right;
                    @include media-breakpoint-down(xs) {
                        width: 100%;
                        flex-direction: row;
                        margin-bottom: rem(20px);
                        align-items: center;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        text-align: left;
                    }
                    a {
                        @include media-breakpoint-down(xs) {
                            margin-right: rem(18px);
                        }
                    }
                }
            }
            .like-icon {
                width: rem(14px);
                height: rem(17px);
                margin-right: rem(5px);
            }
            svg {
                path {
                    fill: #98a7b2;
                    stroke: none
                }
            }
        }
        .view-comment-container {
            margin-left: rem(85px);  /*Add the View more comment in the comment section by default show only one comment. */
        }
    }
    .group-member-wrapper{
        .tie-icon{
            .fas{
                font-size: rem($base-font-size + 6);
            }
        }
        .class-code{
            font-size: rem($base-font-size - 4);
            font-weight: 400;
        }
        .sub-cat{
            color: $ft-doc-color;
        }
        .action-select{
            .bootstrap-select{
                button[type=button]{
                    &.dropdown-toggle{
                        padding: rem(8px 8px);
                    }
                }
            }
        }
    }
}
.section-title.outer-title {
    h3 {
        padding: rem(0 0 5px);
        //font-size: rem($base-font-size);
    }
}
.forthcoming-events-card {
    margin-bottom: rem(20px);
    .events-list {
        font-size: rem($base-font-size - 2);
        li {
            border-bottom: rem(1px) solid #EDEFF4;
            margin-bottom: rem(10px);
            padding-bottom: rem(10px);
            &:last-child {
                border-bottom: 0;
            }
        }
        .events-date {
            color: #4b316c;
            font-weight: 600;
            margin-bottom: rem(5px);
        }
        .events-time {
            color: #000;
            font-weight: 400;
        }
    }
}
.chat-list-card, .group-list-card {
    .outer-row {
        display: flex;
        justify-content: space-between;
        padding: rem(0 10px);
        span {
            color: #8d61b6;
            font-size: rem($base-font-size - 2);
            font-weight: 600;
            cursor: pointer;
        }
    }
}
.chat-list-card, .contact-list-card {
    .outer-row {
        display: flex;
        justify-content: space-between;
        padding: rem(0 10px);
        span {
            color: #8d61b6;
            font-size: rem($base-font-size - 2);
            font-weight: 600;
            cursor: pointer;
        }
    }
    .chat-list, .contact-list {
        li {
            border-bottom: rem(1px) solid #EDEFF4;
            @include transition-main(all linear 0.2s);
            .status {
                width: rem(14px);
                height: rem(14px);
                border: solid 2px $white-base;
                right: 0;
            }
            &:last-child {
                border: 0;
            }
            &:hover {
                background: $stroke-color;
            }
        }
    }
}
.group-list-card {
    .group-list {
        li {
            border-bottom: rem(1px) solid #EDEFF4;
            @include transition-main(all linear 0.2s);
            &:last-child {
                border: 0;
            }
            &:hover {
                background: $stroke-color;
            }
        }
    }
    .group-icon {
        width: 41px;
        height: 41px;
    }
}
.chat-list, .group-list, .contact-list {
    .mCSB_outside + .mCSB_scrollTools {
        right: 0;
    }
}
//activities tab content
.activities-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #573c7a;
    border-bottom: rem(1px) solid #EDEFF4;
    padding-bottom:rem(20px);
    @include media-breakpoint-down(sm) {
        display: block;
    }
    .content-trigger {
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: -21px;
            background: darken($stroke-color, 10%);
            width: 1px;
            height: 65px;
        }
        &[aria-expanded="false"] {
            .fa-minus {
                display: none;
            }
            .fa-plus {
                display: inline-block;
            }
        }
        &[aria-expanded="true"] {
            .fa-plus {
                display: none;
            }
            .fa-minus {
                display: inline-block;
            }
        }
    }
    .title {
        font-weight: 600;
        font-size: rem($base-font-size + 2);
        .btn-back {
            font-size: rem(12px);
            padding: rem(3px 5px);
            position: relative;
            top: -2px;
        }
    }
    .week-duration {
        font-weight: 500;
    }
    .fa-long-arrow-alt-left {
        font-size: rem($base-font-size * 2);
    }
}
.activities-list {
    width: 100%;
    padding-top: rem(10px);
    max-height: 250px;
    //overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #a6a6a6 #d9d9d9;
    scrollbar-width: thin;
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(15px 0 8px);
        border-bottom: rem(1px) solid #EDEFF4;
        position: relative;
        @include media-breakpoint-down(sm) {
            display: block;
        }
        .activities-left-content {
            display: flex;
            align-items: center;
            .activities-description-container {
                padding-left: rem(15px);
                .title {
                    font-weight: 500;
                    color: #000;
                    font-size: rem($base-font-size);        
                }
                .member-count {
                    color: #7a7a7a;
                    font-weight: 500;
                    font-size: rem($base-font-size - 3);
                }
                .new-update {
                    .svg {
                        max-width: 16px;
                        max-height: 16px;
                        path {
                            fill: #c7d0d6;
                        }
                    }
                }
            }
            .assignment-container,.folder-container,
            .folded-content-container,.contact-support-container {
                width:rem(32px);
                height: rem(32px);
                border-radius: rem(4px);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .assignment-container {
                background-color: #feeacb;
                border: rem(0.5px) solid #f08f2e;
                .svg {
                    path {
                        stroke: #f08f2e;
                        fill: #feeacb;
                    }
                }
            }
            .folder-container {
                background-color:#fcf3cd;
                border: rem(0.5px) solid #f4cb21;
                .svg {
                    width: rem(14px);
                    height: rem(13px);
                    path {
                        fill: #f4cb21;
                    }
                }
            }
            .folded-content-container {
                background-color:#ebf3ff;
                border: rem(0.5px) solid #488eff;
                .svg {
                    width: rem(12px);
                    height: rem(16px);
                    path {
                        fill: #488eff;
                    }
                }
            }
            .contact-support-container {
                background-color:#f2f9eb;
                border: rem(0.5px) solid #83c641;
                .svg {
                    width: rem(18px);
                    height: rem(18px);
                    path {
                        fill: #83c641;
                    }
                }
            }
            .dropdown-menu {
                a {
                    white-space: nowrap;
                    font-size: rem($base-font-size - 2);
                    .svg {
                        width: rem(16px);
                        height: rem(16px);
                    }
                }
            }
        }
        .activities-right-content {
            span {
                color: #000;
                font-size: rem($base-font-size - 2);
            }
        }
        &:last-child {
            border-bottom: 0;
        }
        &.disable {
            .assignment-container,.contact-support-container {
                background-color: #f5f5f5;
                border: rem(0.5px) solid #d3d3d3;
                .svg {
                    path {
                        stroke: #d3d3d3;
                        fill: #f5f5f5;
                    }
                }   
            }
            .activities-description-container,.contact-support-container {
                .title, .member-count {
                    color: #a8a8a8;
                }
            }
            .activities-right-content {
                .draft {
                    color: #a8a8a8;
                    font-size: rem($base-font-size - 2);
                    font-style: italic;
                }
            }
        }
        .assignment-dropdown {
            position: absolute;
            right: rem(0);
            top: rem(50px);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #ffffff;
            z-index: 1;
            @include media-breakpoint-down(sm){
                top: rem(80px);
            }
            ul {
                padding: rem(10px);
                li {
                    border-bottom: rem(1px) solid #EDEFF4;
                    padding: rem(7px 0);
                    color: #777777;
                    font-size: rem($base-font-size - 2);
                    font-weight: 600;
                    span {
                        padding-left: rem(10px);
                    }
                    &:last-child {
                        border: 0;
                    }
                }
            }   
        }   
    }
    .mCustomScrollBox {
        overflow-x: auto;
    }
    &::-webkit-scrollbar {
        width: 6px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 5px;
        background: #d9d9d9;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: #a6a6a6;
        cursor: pointer;
    }
    &.activities-action-list {
        overflow: unset;
        max-height: unset;
    }
    &.overflow-auto {
        padding-right: 15px;
    }
}
.all-topics-card {
    .card-title {
        color:#44376e;
        font-weight: 600;
        font-size: rem($base-font-size - 2);
        border-bottom: rem(1px) solid #EDEFF4;
        padding-bottom: rem(10px);
    }
    .topics-list {
        color: #000;
        font-weight: 500;
        font-size: rem($base-font-size - 2);
        padding-left: rem(16px);
        li {
            list-style: disc;
            padding-bottom: rem(10px);
        }
    }
}
.hide-item {
    display: none !important;
}
//hifz tracker css

.custom-control {
    .custom-control-label {
        &.align-items-center {
            &:before, &:after {
                top: 10px;
            }
        }
    }
}

.notification-holder {
    &.chat-list-card {
        ul {
            li {
            height: auto;
            border-bottom: none;
            }
        }
    }
}
.chat-list,.group-list {
    .defaultAvatar {
        img {
            height: 100%;
        }
    }
}
.break-student-Name {
    width:100%;
     word-break:break-word;
}

.contact-list {
    max-height: 250px;
}