/* default styling. Nothing to do with freexing first row and column */
.progress-tracker-wrapper{
    display: flex;
    .table-container{
        position: relative;
        //max-height:  800px;
        height: 70vh;
        width: 100%;
        overflow: auto;
        .table-horizontal-container{
            .unfixed-table{
                thead{
                    th{
                        position: -webkit-sticky;
                        position: sticky;
                        top: 0;
                        z-index: 2;
                        border:none;
                        //border-top:  1px solid #ccc;
                        padding: 2px 10px;
                        background: #f7fbfd !important;
                        &:first-child{
                            left: 0;
                            z-index: 1030;
                            //border:  1px solid #ccc;
                            background: #f9f5fd !important;
                            border-radius: 12px 0 0 12px;
                        }
                        .subject-table{
                            max-width: 220px;
                            *{
                                border:none;
                                font-size: rem(12px);
                            }
                        }
                        .student-details{
                            .student-img{
                                height:35px;
                                width: 35px;
                                margin: 5px auto 8px;
                                img{
                                    height: 100%;
                                    width: 100%;
                                    border-radius: 100%;
                                }
                            }
                            .student-name{
                                font-size: rem(14px);
                                color: #707070;
                                max-width: 106px;
                                line-height: 15px;
                                margin-bottom: 0;
                                min-height: 29px;
                            }
                        }
                    }
                }
                tbody{
                    overflow: scroll;
                    tr{
                        td {
                            position: relative;
                            &:before {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                                opacity: 0.1;
                                @include transition-main(all linear 0.2s);
                            }
                            
                            .remark {
                                position: relative;
                                z-index: 2;
                                p, a {
                                    @include transition-main(all linear 0.2s);
                                }
                                a {
                                    background: $white-base;
                                    &.attachment {
                                        top: 0;
                                        right: 0;
                                        background: transparent;
                                        text-align: center;
                                        width: 20px;
                                        height: 20px;
                                        line-height: 20px;
                                        &:before {
                                            content: '';
                                            position: absolute;
                                            width: 20px;
                                            height: 20px;
                                            border-radius: 25px;
                                            opacity: 0.15;
                                            left: 0;
                                            top: 0;
                                        }
                                        &:after {
                                            content: attr(data-count);
                                            position: absolute;
                                            background: $white-base;
                                            width: 12px;
                                            height: 12px;
                                            font-size: 8px;
                                            line-height: 15px;
                                            border-radius: 25px;
                                            top: -5px;
                                            right: -6px;
                                        }
                                        i {
                                            font-size: rem($base-font-size - 4);
                                            position: relative;
                                        }
                                    }
                                }
                            }
                            &.no-grade {
                                &:before {
                                    background: #f0f0f0;
                                    opacity: 1;
                                }
                            }
                            &:hover {
                                .remark {
                                    a.clsopenAssignemntView {
                                        color: #fff !important;
                                        //border: 1px solid #fff !important;
                                    }
                                }
                            }
                            &:hover, &.active {
                                &:before {
                                    opacity: 1;
                                }
                                p {
                                    color: $white-base;
                                }
                                a {
                                    @include semitransparent-bg($black-base, 0.1);
                                    color: $white-base;
                                    &.attachment {
                                        &:before {
                                            opacity: 0.8;
                                            background: $white-base;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                tr{
                    td,th{
                        padding: 8px 10px;
                        box-sizing: border-box;
                        text-align: center;
                        font-size: rem(14px);
                        background: #fff;
                    }
                    th{
                        position: -webkit-sticky;
                        position: sticky; 
                        left: 0;
                        z-index: 1029; 
                        &.fixed-column{
                            *{
                                border:none;
                            }
                            .vertical-main-header{
                                position: relative;
                                span{
                                    writing-mode: vertical-lr;
                                    -ms-writing-mode: tb-rl;
                                    transform: rotate(180deg);
                                    font-size: rem(18px);
                                    line-height: 20px;
                                    position: relative;
                                    z-index: 9999;
                                }
                            }
                            .vertical-subheader{
                                span{
                                    writing-mode: vertical-lr;
                                    -ms-writing-mode: tb-rl;
                                    transform: rotate(180deg);
                                    font-size: rem(13px);
                                    line-height: 18px;
                                    position: relative;
                                    z-index: 9999;
                                }
                            }
                            .left-title{
                                max-width: 120px;
                                display: inline-block;
                                font-size: rem(12px);
                                line-height: 15px;
                            }
                            
                        }
                        &.course-panel {
                            z-index: 1028;
                        }
                    }
                    td{
                        &.min-width {
                            min-width: 135px;
                        }
                        
                        &.no-grade {
                            p{
                                font-size: rem(13px);
                                max-width: 120px;
                                line-height: 15px;
                                color:#fff;
                                &.grade {
                                    font-size: rem($base-font-size * 2);
                                    line-height: 1;
                                }
                            }
                            &:hover {
                                p {
                                    color: $base-text-color;
                                }
                            }
                        }
                        
                    }
                    .remark {
                        p{
                            font-size: rem(13px);
                            max-width: 120px;
                            line-height: 15px;
                            color:#fff;
                            &.grade {
                                //font-size: 2rem;
                                font-size: 24px;
                                line-height: 1;
                                min-height: 55px
                            }
                        }
                    }
                }
            }
        }
        .custom-control {
            position: relative;
            z-index: 1030;
        }
    }
}

.student-detail {
    .student-image {
        width: rem(74px);
        height: rem(74px);
        border-radius: 50%;
    }
    .purple-select-text {
        &.sort-dropdown {
            .bootstrap-select {
                .filter-option-inner-inner {
                    color: #4b316c !important;
                }
            }
        }
    }

    .search-row {
        .search-with-bg {
            border: rem(1px) solid #EDEFF4;
            .icon-search {
                background-size: contain;
            }
        }
        .sort-dropdown {
            .select-label {
                padding-left: rem(36px);
            }
            .bootstrap-select {
                &.show {
                    button.dropdown-toggle {
                        border: rem(1px) solid #EDEFF4;
                    }
                }
            }
        }
    }
    .grade {
        font-size: rem($base-font-size + 6);
        font-weight: bold;
        width: rem(39px);
        height: rem(39px);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: rem(10px);
        &.b-grade {
            background: #ffedf1;
            color: #f72c63;
        }
        &.e-grade {
            background: #ebf5ff;
            color: #0f94e6;
        }
        &.s-grade {
            background: #e2ffe5;
            color: #17ba2a;
        }
        &.d-grade {
            background: #fdf9e8;
            color: #f8b705;
        }
    }
    .grade-box {
        display: inline-flex;
        margin-left: rem(10px);
        .grade {
            font-size: rem($base-font-size);
            width: rem(25px);
            height: rem(25px);
            outline: none;
            border: 0;
            &:not(:last-child) {
                margin-right: rem(10px);
            }
        }
    }
    .btn-link {
        color: #7c54f3;
    }
    .detail-accordion {
        .card {
            border-radius: rem(5px) !important;
        }
        &.accordion {
            >.card {
                border-radius: rem(4px);
                border: rem(1px) solid #c8c1d1 !important;
                box-shadow: none;
                .card-header {
                    > a {
                        color: darken($primary-color, 20%);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h5 {
                            width: calc(100% - 14px);
                            font-weight: 600;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .title {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                flex-wrap: wrap;
                            }
                        }
                    }
                }
            }
        }
        .topics-accordion {
            .card {
                box-shadow: none;
                &:last-child {
                    .card-header {
                        > a {
                            &.collapsed {
                                border: 0;
                            }
                        }
                    }
                }
                .card-header {
                    > a {
                        border-bottom: rem(1px) solid #dee2e6;
                        &.collapsed {
                            border-width: rem(2px);
                        }
                        .bullet {
                            &:before {
                                content: '';
                                display: block;
                                border-radius: 50%;
                                width: rem(7px);
                                height: rem(7px);
                                background: #4b316c;
                                margin-right: rem(10px);
                            }
                        }
                        h5 {
                            justify-content: flex-start;
                        }
                    }
                }
            }
            .obective-card {
                box-shadow: 0 rem(2px) rem(12px) 0 rgba(180, 200, 208, 0.31);
                .upload-btn {
                    border: 0;
                    background: transparent;
                    outline: none;
                    img {
                        height: rem(17px);
                        width: rem(17px);
                    }
                }
            }
        }
        .collapsed {
            .plus {
                &:after {
                    content: '';
                    @include plus-minus;
                    background: darken($primary-color, 20%);
                }
                &:before {
                    content: '';
                    @include plus-minus;
                    background: darken($primary-color, 20%);
                    transform: rotate(90deg);
                    transition: transform 0.2s ease-in-out;
                }
            }
        }
        .plus {
            position: relative;
            display: inline-block;
            width: rem(14px);
            height: rem(14px);
            margin-top: rem(7px);
            margin-right: rem(10px);
            &:after {
                content: '';
                @include plus-minus;
                background: #4b316c;
            }
            &:before {
                content: '';
                @include plus-minus;
                background: #4b316c;
                transform: rotate(0deg);
                transition: transform 0.2s ease-in-out;
            }
        }
    }
}

.tracker-filter {
    .bootstrap-select {
        > .dropdown-toggle {
            background: #fff;
        }
    }
    .field-form {
        display: none;
        .bootstrap-select {
            button[type=button].dropdown-toggle {
                .filter-option-inner-inner {
                    font-weight: 600;
                    color: #000;
                }
            }
        }
    }
    .progress-btn {
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100%;
        &.btn {
            font-size: rem($base-font-size - 2);
        }
        @include media-breakpoint-down(sm) {
            margin-top: rem(12px);
        }
    }
    .btn-filter {
        background: #fff;
        margin: 0;
        border: rem(1px) solid #d2dbe2;
        border-top: 0;
        font-weight: 600;
        position: relative;
        &.btn {
            border-radius: rem(0 0 5px 5px);
            padding: rem(6px 41px 6px 25px);
            font-size: rem($base-font-size - 3);
        }
        .double-arrow {
            position: absolute;
            right: rem(24px);
            top: 50%;
            transform: translateY(-50%);
            width: rem(14px);
            height: 10px;
            display: inline-block;
            .svg {
                position: absolute;
                top: rem(-9px);
                width: rem(11px);
                path {
                    fill: none;
                    &.cls-1 {
                        //stroke: #7a4fb7;
                        @include media-breakpoint-up(md) {
                            stroke-width: rem(1.8px);
                        }
                    }
                }
                &:nth-child(2) {
                    position: absolute;
                    top: rem(-5px);
                }
            }
            &.show-filter {
                top: rem(-3px);
                right: rem(14px);
                transform: rotate(180deg);
            }
        }

    }
}
.gradeList {
    li {
        margin-right: rem(10px);
        &:last-child {
            margin-right: 0;
        }
        a {
            width: rem(45px);
            height: rem(30px);
            display: block;
            line-height: rem(30px);
            text-align: center;
            position: relative;
            overflow: hidden;
            &::before {
                content: '';
                width: rem(45px);
                height: rem(30px);
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                opacity: 0.1;
            }
            span {
                position: relative;
                z-index: 2;
                font-size: rem($base-font-size);
            }
        }
    }
}

p {
    &.grade {
        span {
            height: 24px;
        }
    }
}
.clstdstatus {
    border-bottom: solid 1px #e4e4e4;
    border-right: solid 1px #e4e4e4;
}

