.icon-btn {
    outline: none;
    padding: 0;
    border: 0;
    background: transparent;
    &:focus {
        outline: none;
    }
    .scale-icon {
        transform: scale(1.4);
    }
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.observation-listing {
    .card {
        .content {
            height: 58px;
            overflow: hidden;
            margin-bottom: 12px;
        }
    }
}
.carousel-wrap {
    width: calc(100% - 30px);
    margin: auto;
    position: relative;
    min-height: 52px;
    .owl-carousel {
        .owl-nav{
            overflow: hidden;
            height: 0;
        }
        .nav-btn{
            position: absolute;
            cursor: pointer;
            top: rem(12px);
            color: #98a7b2;
            font-size: rem(22px);
            @include media-breakpoint-down(sm) {
                top: rem(26px);
            }
            @include media-breakpoint-down(sm) {
                top: rem(14px);
            }
            .fa {
                font-weight: 600;
            }
        }
        .owl-prev.disabled, .owl-next.disabled{
            pointer-events: none;
        }
        .prev-slide{
            left: rem(-20px);
        }
        .next-slide{
            right: rem(-20px);
        }
    }
}

.attachmentCarousel {
    .image-container {
        a {
            background: $stroke-color;
            min-height: 3.0625rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .svg {
                width: 28px;
            }
        }
        position: relative;
        border-radius: rem(5px);
        max-height: rem(59px);
        overflow: hidden;
        @include media-breakpoint-down(sm) {
            max-height: rem(78px);
        }
        @include media-breakpoint-down(xs) {
            max-height: rem(62px);
        }
        .video-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #341a65;
            opacity: 0.6;
        }
        .play-label {
            position: absolute;
            left: 50%;
            top: 50%;
            width: rem(15px);
            height: rem(15px);
            background: #fff;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            border: none;
            outline: none;
            padding: 0;
            font-size: rem($badge-font-size - 10);
            .fa-play {
                font-size: rem($badge-font-size - 10);
                color: #000;
                margin-left: rem(1.2px);
                margin-top: rem(1.2px);
            }
        }
    }
    .base-carousel-image {
        height: 100%;
    }
}

.member-group {
    .overlapp-img {
        width: rem(37px);
        height: rem(37px);
        border-radius: 50%;
        border: rem(2.4px) solid #ffffff;
        &:nth-child(n+2) {
            margin-left: rem(-13px);
        }
    }
    .bg-info {
        border: none;
        outline: none;
        display: inline-block;
        text-align: center;
        width: max-content;
        min-width: rem(23px);
        max-width: rem(35px);
        height: rem(23px);
        padding: rem(3px);
        border-radius: 50%;
        font-size: rem($base-font-size - 5);
        box-shadow: 0 rem(3px) rem(6px) 0 rgba(52, 155, 230, 0.36);
    }
}

.custom-pageLink-color {
    .pagination-container {
        .page-item {
            &.active {
                .page-link {
                    background-color: #eee9f5;
                    border: rem(1px) solid #5d3195;
                    border-radius: rem(4px);
                    box-shadow: none;
                    color: #5d3195;
                    font-weight: 700;
                }
            }
            .page-link {
                color: #938f8f;
                font-weight: 600;
                &:hover {
                    z-index: 0;
                    border-radius: rem(4px);
                }
            }
            &.next-btn {
                .page-link {
                    background-color: #eee9f5;
                    border: rem(1px) solid #5d3195;
                    border-radius: rem(4px);
                    color: #5d3195;
                    font-weight: 700;
                }
            }
        }
    }
}
.observation-search.search-row {
    .sort-dropdown {
        float: none;
    }
}

.observation-container {
    .text-color-purple {
        color:#4b366b;
    }
    .text-heading {
        font-size: rem($base-font-size);
    }
    .edit-link {
        img {
            width: 16px;
            height: 16px;
        }
    }
    .tab-list {
        margin-bottom: rem(76px);
        li {
            margin-right: rem(50px);
            padding-bottom: rem(6px);
            font-size: rem($base-font-size);
            font-weight: 500;
            cursor: pointer;
            color: #aa98c2;
            opacity: 1;
            &.active {
                color: #4b316c;
                font-weight: 600;
                border-bottom: rem(2px) solid #4b316c;
            }
        }
    }
    .attachment-list {
        margin-bottom: rem(35px);
        ul {
            @include media-breakpoint-down(sm) {
                justify-content: center;
            }
        }
        .image-container {
            position: relative;
            width: rem(111px);
            height: rem(110px);
            margin-right: rem(35px);
            margin-bottom: rem(20px);
            @include media-breakpoint-down(md) {
                margin: rem(10px 20px 10px);
            }
            @include media-breakpoint-down(sm) {
                margin: rem(10px 20px 10px);
            }
            .base-carousel-image {
                border-radius: rem(8px);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:last-child {
                margin-right: 0;
                @include media-breakpoint-down(sm) { 
                    margin: rem(10px 20px 10px);
                }
            }
        }
        .video-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #341a65;
            opacity: 0.6;
            border-radius: rem(8px);
        }
        .play-label {
            position: absolute;
            left: 50%;
            top: 50%;
            width: rem(38px);
            height: rem(38px);
            background: #fff;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            border: none;
            outline: none;
            padding: 0;
            font-size: rem($base-font-size);
            .fa-play {
                font-size: rem($base-font-size - 2);
                color: #000;
                margin-left: rem(1.2px);
                margin-top: rem(1.2px);
            }
        }
    }
}
.title-small {
    color: #000;
    font-weight: 500;
    font-size: rem($base-font-size - 2);
    margin-top: rem(15px);
}
.para-small {
    font-size: rem($base-font-size);
    color: #000;
    line-height: rem(22px);
    margin: rem(30px 0);
}
.attachment-list {
    .sub-title {
        font-weight: 700;
        font-size: rem($base-font-size);
        color:#080808;
        display: inline-block;
        margin-bottom: rem(30px);
    }
}
.dark-text {
    color: #160f61;
}
.faded-text {
    color:#4b316c;
    opacity: 0.55;
}
.members-list, .curriculum-list {
    ul {
        margin-top: rem(20px);
    }
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid rem(1px) #EDEFF4;
        font-weight: 600;
        font-size: rem($base-font-size - 1);
        width: 100%;
        @include media-breakpoint-down(sm) { 
            flex-wrap: wrap;
        }
        div{
            &:last-child {
                @include media-breakpoint-down(sm) { 
                    margin-left: rem(50px);
                }
            }
        }

        span {
            display: inline-block;
        }
    }
}
.members-list {
    li {
        padding: rem(13px 0);
        span {
            width: rem(140px);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        img {
            width: rem(41px);
            height: rem(41px);
        }
    }
}
.curriculum-list {
    li {
        padding: rem(20px 0);
    }
}