$loader-size: rem(29px);
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size/6 + $loader-size/14);

.toggable-group-wrapper {
    &.without-search {
        padding:rem(25px 20px 0 26px);
        .toggable-group-tabs {
            padding-bottom: rem(18px);
            li {
                padding: rem(18px 9px);
            }
        }
    }
}

.gradebook-wrapper {
    overflow: hidden;
    margin-top: rem(20px);
    .top-icon-row {
        height: rem(29px);
        text-align: right;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .outer-table {
        width: 100%;
        td {
            vertical-align: top;
            &:first-child {
                width: rem(277px);
            }
            &:last-child {
                width: rem(900px);
            }
        }
        .inner-left-table {
            width: 100%;
            max-width: rem(280px);
            tr {
                &:first-child {
                    border: rem(1px) solid #dee2e6;
                    td {
                        height: rem(137px);
                        vertical-align: bottom;
                        text-align: right;
                    }
                }
            }
            .hide-btn {
                border-radius: rem(25px);
                border: solid rem(1px) #4b316c;
                @include media-breakpoint-down(xs) {
                    margin: 0.375rem;
                }
            }
        }
        .inner-right-table {
            width: 100%;
            //max-width: rem(968px);
            max-width: 61rem;
            tr {
                height: rem(65px);
                text-align: center;
                background-color: #f9f9f9;
                &:first-child {
                    background-color: #f7fbfd;
                    height: rem(137px);
                    td {
                        padding: rem(10px 27px);
                    }
                }
                td {
                    vertical-align: middle;
                    width: rem(200px);
                    max-width: rem(200px);
                    padding: rem(10px 9px);
                    textarea {
                        color: #8f9493;
                        /* font-size: rem($base-font-size + 4); */
                        font-size: 0.8rem;
                        font-weight: 500;
                        border: 0;
                        background: transparent;
                        /* max-width: rem(110px); */
                        max-width: 100%;
                        width: 100%;
                        //height: 52px;
                        height: 32px;
                        overflow-x: hidden;
                        resize: none;
                        text-align: center;
                        &:focus {
                            outline: 0;
                        }
                    }
                }
                &.sibling-row {
                    background-color: #f9f5fd;
                }
                &.child-row {
                    textarea {
                        font-size: rem($base-font-size - 2);
                        font-weight: 600;
                        border: 0;
                        background: transparent;
                        max-width: rem(110px);
                        resize: none;
                        text-align: center;
                        &:focus {
                            outline: 0;
                        }
                    }
                    .input-warning {
                        color:#db8106;
                    }
                    .input-danger {
                        color:#c30000;
                    }
                    .input-success {
                       color:#2aa53d;
                    }
                }
            }
            .header-grids {
                margin-top: rem(15px);
                .image-container {
                    width: rem(41px);
                    height: rem(41px);
                    position: relative;
                    margin: 0 auto;
                    .teacher-image {
                        border-radius: 50%;
                        width: 100%;
                        height: auto;
                    }
                    .available {
                        width: rem(10px);
                        height: rem(10px);
                        border: solid rem(1px) #ffffff;
                        background-color: #2ac141;
                        position: absolute;
                        border-radius: 50%;
                        right: 0;
                        bottom: 0;
                    }
                }
                p {
                    color: #343434;
                    font-size: rem($base-font-size - 1);
                    font-weight: 600;
                    margin: 0;
                }
            }
            .mCSB_horizontal.mCSB_inside {
                > .mCSB_container {
                    margin: 0;
                }
            }
        }
    }
    .certificate-accordion {
        .card {
            box-shadow: none;
            margin: 0;
            padding: 0;
            overflow: visible;
        }
        .card-header {
            height: rem(66px);
            padding: 0;
            @include media-breakpoint-down(md) {
                height: auto;
            }
            h5 {
                color: #000000;
                display: flex;
                align-items: baseline;
                justify-content: space-between;
            }
            a {
                display: block;
                padding-top: rem(10px);
                .arrow {
                    background-image: path('down-arrow.svg', img/svg);
                    width: rem(17px);
                    height: rem(8px);
                    background-repeat: no-repeat;
                    transform: rotate(180deg);
                    @include media-breakpoint-down(md) {
                        width: rem(23px);
                    }
                    @include media-breakpoint-down(sm) {
                        width: rem(23px);
                    }
                }
                &.collapsed {
                    .arrow {
                        background-image: path('down-arrow.svg', img/svg);
                        transform: rotate(0deg);
                    }
                }
            }
        }
        .card-body {
            ul {
                width: 100%;
            }
            .sub-tree, .sub-tree li {
                position: relative;
            }
            .sub-tree{
                li{
                    padding-top: 2px;
                    // margin-bottom: 9px;
                }
            }
            .sub-tree {
                >li {
                    // padding: rem(20px 20px 20px 33px);
                    &.initial-ht {
                        height: rem(65px);
                    }
                    &.increased-ht {
                        height: rem(75px);
                        margin-bottom: rem(16px);
                    }
                    &.increased-ht-without-innerchild {
                        height: rem(118px);
                        .tab-row {
                            padding-top: rem(36px);
                            &.parent-tab {
                                padding-top: rem(12px);
                                span {
                                    &:before {
                                        content:'';
                                        background-image: path('square-expanded.svg', img/svg);
                                        width: rem(14px);
                                        height: rem(14px);
                                        display: inline-block;
                                        margin-left: rem(-10px);
                                        margin-right: rem(6px);
                                    }
                                }
                            }
                        }
                        .add-row {
                            padding-top: rem(36px);
                            &.parent-add-row {
                                padding-top: rem(12px);
                                height: rem(27px);
                            }
                        }
                    }
                }
                ul {
                    list-style: none;
                    padding-left: 6px;
                    li {
                        &:before,&:after {
                            content: "";
                            position: absolute;
                            left: -12px;
                        }
                        &:before {
                            border-top: 1px solid #DBD7E1;
                            top: 53px;
                            //width: 40px;
                            width: 25px;
                            height: 0;
                        }
                        &:after {
                            border-left: 1px solid #DBD7E1;
                            height: 100%;
                            width: 0px;
                            top: 0px;
                        }
                    }
                    >li {
                        &:last-child {
                            &:after {
                                height: 53px;
                            }
                        }
                    }
                }
                .tab-row {
                    padding-top: 4px;
                    width: 75px;
                    span {
                        color: #4b316c;
                        font-weight: 600;
                        font-size: rem($base-font-size - 2);
                    }
                }
                .add-row {
                    padding-top: 3px;
                    color: #004cdd;
                    font-weight: 500;
                    font-size: rem($base-font-size - 2);
                    width: 40px;
                }
                .inner-sub-tree {
                    margin-bottom: 9px;
                    li {
                        color: #785f96;
                        font-weight: 500;
                        font-size: rem($base-font-size - 2);
                        //padding: rem(50px 10px 0px 40px);
                        padding: 2.88rem .625rem 0rem 1.5rem;
                        span {
                            &:before {
                                content: none !important;
                            }
                        }
                    }
                    .delete-row {
                        margin-right: rem(-72px);
                        display: flex;
                        @include media-breakpoint-down(md) {
                            margin-right: rem(-100px);
                        }
                        @include media-breakpoint-down(sm) {
                            margin-right: rem(-77px);
                        }
                    }
                }
            }
        }
        li {
            padding: rem(20px 25px);
            display: flex;
            justify-content: space-between;
        }
    }
    .hide-row {
        display: none;
    }
    .card-body {
        position: relative;
        .setting-btn {
            position: absolute;
            top: 2px;
            right: rem(2px);
            z-index: 1;
            .svg {
                width: rem(15px);
                height: rem(15px);
            }
        }
    }
}

.processing-rule {
    .dataTable {
        td,
        th {
            &.select-checkbox {
                &:before {
                    background: #fff;
                    border-color: $checkbox-bg;
                }
                &:before,
                &:after {
                    width: $base-font-size + 1;
                    height: $base-font-size;
                }
            }
        }
        tr {
            &.selected {
                td,
                th {
                    &.select-checkbox {
                        &:after {
                            content: '\2714';
                        }
                    }
                }
            }
        }
        thead {
            th {
                &.select-checkbox {
                    &:before {
                        content: none;
                    }
                }
            }
        }
    }
    thead {
        background-color: #4b316c;
        color: #fff;
        &:first-child {
            .sorting_asc {
                &:after {
                    content: none;
                }
            }
        }
        tr {
            th {
                font-weight: 600;
                text-transform: capitalize;
                &:first-child {
                    border-radius:rem(4px 0 0 4px);
                }
                &:last-child {
                    border-radius: rem(0 4px 4px 0);
                }
            }
        }
    }
    tbody {
        &:before {
            content: "-";
            display: block;
            line-height: 0.0625rem;
            color: transparent;
        }
        tr {
            border: rem(1px) solid #dee2e6;
            &.even {
                background-color: #fafafa;
            }
            td {
                font-weight: 500;
                color: #000;
                font-size: rem($base-font-size - 2);
            }
        }
    }
    .weight-input {
        display: inline-block;
        min-width: rem(75px);
        max-width: rem(75px);
        margin-left: rem(12px);
        input {
            height: rem(30px);
            padding: rem(3px 8px);
        }
    }
}


.hide-row-dropdown {
    position: relative;
    .dropdown-wrapper {
        min-width: rem(270px);
        background-clip: padding-box;
        border: rem(1px) solid rgba(0,0,0,.15);
        border-radius: rem(4px);
        position: absolute;
        top: rem(42px);
        background: #fff;
        z-index: 2;
    }

    .hide-row-menu {
        input[type=checkbox]{
            height: 0;
            width: 0;
            visibility: hidden;
        }

        .toggle-label {
            cursor: pointer;
            text-indent: -9999px;
            width: rem(27px);
            min-width: rem(27px);
            height: rem(13px);
            background: #8d6eb4;
            display: block;
            border-radius: 100px;
            position: relative;
            margin: rem(0 0 8px 0);
            &:after {
                content: '';
                position: absolute;
                top: rem(2px);
                left: 2px;
                width: rem(8px);
                max-width: rem(8px);
                height: rem(8px);
                background: #8d6eb4;
                border-radius: 50%;
                border: rem(1.8px) solid #fff;
                transition: 0.3s;
            }
            &:active:after {
                width: rem(20px);
            }
        }

        input {
            &:checked {
                + .toggle-label {
                    background: #8d6eb4;
                    &:after {
                        left: calc(100% - 2px);
                        transform: translateX(-100%);
                    }
                }
            }
        }
    }

    .option-row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .option-name {
            display: inline-block;
            margin-left: rem(15px);
            padding: rem(8px 0);
            width: 100%;
            cursor: pointer;
            border-bottom: rem(1px) solid #d1d1d1;
            font-weight: 600;
            color: #160f61;
            text-align: left;
        }
    }

    .action-box {
        button {
            text-transform: none;
            padding: rem(7px 10px);
            font-size: rem($base-font-size - 2);
            &:last-child {
                @include media-breakpoint-down(xs) {
                    margin: 0.375rem;
                }
            }
        }
    }
}

/* Tick mark Animation Button*/
.copy-btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.copy-to-row-btn {
    align-items: center;
    background: #fff;
    border-radius: 4px;
    border: rem(1px) solid #4b316c;
    display: flex;
    height: 25px;
    justify-content: center;
    position: relative;
    width: 132px;
    .text {
        color: #4b316c;
        font-weight: 600;
        font-size: rem($base-font-size - 2);
        position: absolute;
        transition: opacity 300ms;
        display: flex;
        align-items: center;
        .svg {
            margin-right: rem(8px);
        }
    }
    &:hover {
        background: #4b316c;
        box-shadow: rem(0 1px 8px 0) rgba(81, 32, 142, 0.61);
        .text {
            color: #fff;
            .svg {
                path {
                    fill: #fff;
                }
            }
        }
    }
    &.active {
        background: #4b316c;
        box-shadow: rem(0 1px 8px 0) rgba(81, 32, 142, 0.61);
        animation: 6s Container;
        .text {
            opacity: 0;
            animation: 6s Text forwards;
        }
    }
}

@keyframes Container {
    0% { width: 132px; border-radius: 50%; }
    6% { width: 25px; }
    71% { transform: scale(1); }
    75% { transform: scale(1.2); }
    77% { transform: scale(1); border-radius: 50%; }
    94% { width: 25px }
    100% { width: 132px; border-radius: 50%; }
}
@keyframes Text {
    0% { opacity: 1; transform: scale(1); }
    6% { opacity: 0; transform: scale(0.5); }
    94% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
}

.circle-loader {
    position: relative;
}
.checkmark {
    display: none;
    &:after {
        opacity: 1;
        height: $check-height;
        width: $check-width;
        transform-origin: left top;
        border-right: rem(3px) solid #fff;
        border-top: rem(3px) solid #fff;
        content: '';
        left: $check-left;
        top: $check-height;
        position: absolute;
    }
    &.draw {
        &:after {
            animation-duration: 800ms;
            animation-timing-function: ease;
            animation-name: checkmark;
            transform: scaleX(-1) rotate(135deg);
        }
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: $check-width;
        opacity: 1;
    }
    40% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }
    100% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }
}

.grade-select {
    .bootstrap-select {
        &:not([class*="col-"]) {
            &:not([class*="form-control"]) {
                &:not(.input-group-btn) {
                    min-width: unset;
                }
            }
        }
        button[type=button] {
            &.dropdown-toggle {
                padding: rem(5px 0);
                border: 0;
            }
        }
    }
    .dropdown-toggle {
        &:after {
            background-size: contain !important;
        }
    }
}
.inner-right-table .no-data-found {
    background: path("no-data-found.png") no-repeat center 8px;
}
.error-per{
    background: #fdebeb;
}