﻿@model List<Phoenix.Models.AssignmentStudentDetails>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers
@{
    ViewBag.Title = ResourceManager.GetString("Assignment.Assignment.StudentAssignment");
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    var rnd = DateTime.Now.Ticks.ToString();
}

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="card min-height">
            <div class="card-body">
                <div class="page-search column-padding pt-3 pb-3">
                    <div class="row">
                        <div class="col-lg-7 col-md-10 col-10">
                            <div class="search-wrapper">
                                <i class="fas fa-search active"></i>
                                <input type="text" class="search-field" placeholder="@ResourceManager.GetString("Shared.Labels.SearchFiles")">
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-2 col-2 text-right">
                            <div class="toggle-library d-inline-block mt-2">
                                <a href="javascript:void(0)" id="grid"><i class="fas fa-th"></i></a>
                                <a href="javascript:void(0)" id="list"><i class="fas fa-list"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Assignment content start -->
                <div class="library-data column-padding pt-3 pb-3">

                    <div id="library" class="row view-group">
                        <div class="col-lg-12 col-md-12 col-12 assignment-list">

                            <div class="row">
                                @foreach (var assignment in Model)
                                {
                                    var DueDate = (assignment.StartDate - assignment.DueDate).Days < 0 ? 0 : (assignment.StartDate - assignment.DueDate).Days;

                                    <div class="item col-xl-4 col-lg-6 col-md-6 col-12">
                                        <!-- Assignment 1 -->

                                        @if (DueDate <= 2 && DueDate != 0)
                                        {
                                            <article class="column-padding task-on-priority pb-5 pt-4 mb-4">
                                                <div class="row">
                                                    <div class="col-xl-11 col-lg-11 col-md-11 col-11 d-flex flex-row align-item-center">
                                                        @if (assignment.IsCompleted)
                                                        {
                                                            <i class="fas fa-check-circle step-status completed"></i>
                                                        }

                                                        <span class="date-time">
                                                            <span>@assignment.CreatedOn.DayOfWeek.ToString()</span>
                                                            @assignment.DueDate.ToString("dd MMMM yyyy")
                                                        </span>
                                                    </div>
                                                    <div class="col-xl-1 col-lg-1 col-md-1 col-1">
                                                        <ul class="assignment-links">
                                                            <li>
                                                                <a class="assignment-icon-group hoverinfo" href="#" data-toggle="tooltip" data-placement="left" title="@assignment.NoofAttachment @ResourceManager.GetString("Shared.Labels.Attachments")">
                                                                    <i class="fas fa-paperclip"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <h3><a href="/Assignments/Assignment/StudentHomeworkAddEdit?Id=@EncryptDecryptHelper.EncryptUrl(assignment.AssignmentStudentId.ToString())" data-asgId="@assignment.AssignmentStudentId">@assignment.AssignmentTitle</a></h3>
                                                <p>@Html.Raw(assignment.AssignmentDesc)</p>
                                                <div class="row">

                                                </div>
                                                <div class="due-date">@string.Format(ResourceManager.GetString("Assignment.Assignment.DueInDays"), ((assignment.DueDate - DateTime.Now).Days < 0 ? 0 : (assignment.DueDate - DateTime.Now).Days))</div>
                                            </article>

                                        }
                                        else
                                        {
                                            <article class="column-padding  pb-5 pt-4 mb-4">
                                                <div class="row">
                                                    <div class="col-xl-11 col-lg-11 col-md-11 col-11 d-flex flex-row align-item-center">
                                                        @if (assignment.IsCompleted)
                                                        {
                                                            <i class="fas fa-check-circle step-status completed"></i>
                                                        }
                                                        <span class="date-time">
                                                            <span>@assignment.CreatedOn.DayOfWeek.ToString()</span>
                                                            @assignment.DueDate.ToString("dd MMMM yyyy")
                                                        </span>
                                                    </div>
                                                    <div class="col-xl-1 col-lg-1 col-md-1 col-1">
                                                        <ul class="assignment-links">
                                                            <li>
                                                                <a class="assignment-icon-group hoverinfo" href="#" data-toggle="tooltip" data-placement="left" title="@assignment.NoofAttachment @ResourceManager.GetString("Shared.Labels.Attachments")">
                                                                    <i class="fas fa-paperclip"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <h3><a href="/Assignments/Assignment/StudentHomeworkAddEdit?id=@EncryptDecryptHelper.EncryptUrl(assignment.AssignmentStudentId.ToString())">@assignment.AssignmentTitle</a></h3>
                                                <p>@Html.Raw(assignment.AssignmentDesc)</p>
                                                <div class="row">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">

                                                    </div>
                                                </div>
                                                <div class="due-date">@string.Format(ResourceManager.GetString("Assignment.Assignment.DueInDays"), ((assignment.StartDate - assignment.DueDate).Days < 0 ? 0 : (assignment.StartDate - assignment.DueDate).Days))</div>
                                            </article>
                                        }

                                        <!-- Assignment 1 end -->
                                    </div>
                                }


                            </div>
                        </div>
                        <div id="paged">

                        </div>


                    </div>
                </div>
                <!-- Assignment content end -->
            </div>
        </div>
    </div>
</div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
{
    <script type="text/javascript">
        translatedResources.ShowingPages = '@ResourceManager.GetString("Shared.Labels.ShowingPages")';
        translatedResources.Previous = '@ResourceManager.GetString("Shared.Buttons.Previous")';
        translatedResources.Next = '@ResourceManager.GetString("Shared.Buttons.Next")';
        translatedResources.SelectAssignmentToArchive = '@ResourceManager.GetString("Assignment.AssignmentMessages.SelectAssignmentToArchive")';
        translatedResources.BrowseFile = '@ResourceManager.GetString("Shared.Labels.BrowseFile")';
        translatedResources.TotalFiles = '@ResourceManager.GetString("Shared.Labels.TotalFiles")';
    </script>

    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Assignment/StudentAssignmentDashboard.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
