﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.Student>
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers
@using Phoenix.Models
@{
    List<SchoolGroup> selectedGroupList = new List<SchoolGroup>();
    if (Session["SelectedSchoolGroups"]!=null)
    {
        selectedGroupList = (List<SchoolGroup>)Session["SelectedSchoolGroups"];
    }
}
<!-- search section -->
<div class="row search-row mb-3">
    <div class="col-lg-12 col-md-12 col-12 d-flex justify-content-end flex-column flex-sm-row">
        <div class="search-with-bg w-100 border mb-sm-0 mb-2">
            <span class="icon-search"></span>
            <input autocomplete="off" data-url="@(string.Format(Model.LoadPageRecordsUrl,1,Model.SearchString))" value="@Model.SearchString" id="searchContent" type="text"
                   class="searchfield search-field custom" placeholder="@ResourceManager.GetString("Files.Shared.VaultSearchLabel")">
        </div>
        <div class="md-form md-outline sort-dropdown mb-sm-0 mb-2 ml-sm-2 ml-0">
            <label class="select-label">@ResourceManager.GetString("Files.Shared.SortBy").ToUpper():&nbsp; </label>
            <select class="selectpicker" id="sortByContent" data-url="@(string.Format(Model.LoadPageRecordsUrl,1,Model.SearchString))">
                <option value="name" @(Model.SortBy == "name" ? "selected" : "")>@ResourceManager.GetString("SchoolGroup.SchoolGroup.Name")</option>
                <option value="id" @(Model.SortBy == "id" ? "selected" : "")>@ResourceManager.GetString("SchoolGroup.SchoolGroup.Id")</option>
            </select>
        </div>
        @if (SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher())
        {
            <div class="float-none float-sm-right ml-3 mt-2">
                <a href="javascript:void(0)" onclick="window.open('/SchoolStructure/Locker/GenerateVaultReport')" data-placement="bottom" data-toggle="tooltip" class="float-right p-0 border-0 bg-transparent" data-original-title="@ResourceManager.GetString("Template.Template.DownloadReport")"><i class="fas fa-file-excel ic-file-excel fa-2x"></i></a>
            </div>
        }
    </div>
</div>
<p class="text-bold">@ResourceManager.GetString("Files.Shared.SelectStudentLabel")</p>
<!-- search section end -->
<!-- filter list -->
<div class="row filter-container">
    <div class="col-12">
        <ul class="filter-list d-flex flex-wrap" id="selectedFilterList">
            @foreach (var grp in selectedGroupList)
            {
                <li class="py-2 px-3 d-flex justify-content-between rounded text-break">
                    @grp.SchoolGroupName
                    <button class="btn btn-close waves-effect waves-light" data-id="@grp.SchoolGroupId">X</button>
                </li>
            }
        </ul>
    </div>
</div>
<!-- filter list end -->
<div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 student-card-grid">
    @if (Model.PageRecords.Any())
    {
        foreach (var item in Model.PageRecords)
        {
            var studentName = item.FirstName + " " + item.LastName;
            var stuImg = string.IsNullOrEmpty(item.StudentImage) ? "/content/VLE/img/avatar-1.jpg" : Constants.StudentImagesPath + item.StudentImage;
            <div class="col mb-3 px-2 search-item">
                <div class="card student-card d-flex flex-center my-0">
                    <a href="/schoolstructure/locker?vSSId=@EncryptDecryptHelper.EncryptUrl(item.Id)">
                        <div class="card-body d-flex justify-content-center align-items-center flex-column">
                            <img class="rounded-circle student-img mb-2" src="@stuImg" alt="@studentName">
                            <div class="student-info">
                                <p class="student-name text-semibold" data-toggle="tooltip" title="@studentName">@(studentName.Length > 36 ? $"{studentName.Substring(0, 36)}..." : studentName)</p>
                                <p class="student-id">@item.StudentNumber</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
    }
    else
    {
        <span class="no-data-found text-bold d-block mx-auto my-auto">
            @ResourceManager.GetString("Shared.Labels.NoRecords")
        </span>
    }
</div>
<hr />
<div class="row">
    @Html.Partial("_PaginationIndex", Model)
</div>

<script>
    $('.selectpicker').selectpicker('refresh');
</script>

