﻿@model DevExpress.XtraReports.UI.XtraReport
@using Phoenix.Common.Helpers;
@using DevExpress.DataAccess.Json;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using Phoenix.Common.Localization
@using Phoenix.Models;
@using DevExpress.Web.Mvc.UI;
@{
    ViewBag.Title = "ViewDocument";
    var version = ResourceManager.GetString("Shared.Version.Js");
    var IsDataAvailable = false;
    if (Model != null)
    {
        var mainData = ((JsonDataSource)Model.DataSource).JsonSource.GetJsonString();
        var schoolNDataDic = JsonConvert.DeserializeObject<IDictionary<string, object>>(mainData);
        if (schoolNDataDic.Any())
        {
            var finallist = ((JObject)schoolNDataDic.FirstOrDefault().Value).ToObject<IDictionary<string, object>>();
            if (finallist.Any(x => ((JArray)x.Value).ToObject<IEnumerable<object>>().Count() > 0))
            {
                IsDataAvailable = true;
            }
        }
    }
}
@Html.DevExpress().CallbackPanel(settings =>
{
    settings.Name = "cbp";
    settings.CallbackRouteValues = new { Controller = "SchoolReport", Action = "GetReportToView", Area = "SchoolInfo" };
    settings.SetContent(() =>
    {
        if (Model != null)
        {
            if (IsDataAvailable)
                Html.RenderPartial("_ReportView", Model);
            else
                ViewContext.Writer.Write($"<span class='no-data-found text-bold d-block mx-auto my-auto'>{ResourceManager.GetString("Shared.Labels.NoRecords")}</span>");
        }
    });
    settings.ClientSideEvents.BeginCallback = "cbp_OnBeginCallback";
}).GetHtml()