﻿@model IEnumerable<Phoenix.Models.ReportParameter>
@using Phoenix.Common.Localization
@using Phoenix.Models
@{
    var selecttext = ResourceManager.GetString("Shared.Labels.Select");
    var controlCount = Model.Count();
    var count = 1;
    var isCrystalReport = Convert.ToBoolean(ViewBag.IsCrystalReport);
    var controlData = (List<ReportFilterModel>)ViewBag.ControlData;
}
@if (controlData == null)
{
    <style>
        .section-selector-dropdown {
            min-width: 275px !important;
        }

        .zindex_1 {
            z-index: 1;
        }
    </style>
    <div>
        <input type="hidden" value="@isCrystalReport" id="IsCr" name="IsCr" />
    </div>
}

@foreach (var reportControl in Model)
{
    var control = new ReportParameter();
    var controlId = $"ctr_{reportControl.Name}{reportControl.Code}".Replace(" ", "");
    var nextElement = (controlCount <= count) ? new Phoenix.Models.ReportParameter() : Model.ElementAt(count);
    var nextControlId = $"ctr_{nextElement.Name}{nextElement.Code}".Replace(" ", "");
    @*@Html.Raw(count % 4 == 0 ? "<div class=\"row mb-3\">" : string.Empty)*@
<div @*class="col-lg-3 col-md-3 col-12"*@>

    @switch (reportControl.ParameterType)
    {
        case "D":
            <div class="m-0 mb-2 mb-xl-0 md-form md-outline ml-0 mr-md-1 sort-dropdown sort-lg-dropdown">
                <label class="select-label">@reportControl.Name:</label>
                @Html.DropDownList(controlId,
                    new SelectList(string.Empty),
                    selecttext,
                    new
                    {
                        @class = "selectpicker",
                        @data_size = "5",
                        @data_live_search = "true",
                        data_filtercode = reportControl.Code,
                        data_spparameter = reportControl.ParameterName,
                        data_nextdropdown = nextControlId,
                        data_nextdropdowncode = nextElement.Code,
                        @data_required = "",
                        @onchange = "viewReport.loadNextDropDownData(this,event)"
                    })
            </div>
            break;
        case "M":
            <div class="m-0 mb-2 mb-xl-0 md-form md-outline ml-0 mr-md-2 sort-dropdown sort-lg-dropdown">
                <label class="select-label">@reportControl.Name:</label>
                @Html.DropDownList(controlId,
                    new SelectList(string.Empty),
                    selecttext,
                    new
                    {
                        @class = "selectpicker",
                        @data_live_search = "true",
                        @data_size = "5",
                        data_filtercode = reportControl.Code,
                        data_spparameter = reportControl.ParameterName,
                        data_nextdropdown = nextControlId,
                        data_nextdropdowncode = nextElement.Code,
                        @multiple = "multiple",
                        data_selected_text_format = "count > 3",
                        @data_actions_box = "true",
                        @data_required = "",
                        @onchange = "viewReport.loadNextDropDownData(this,event)"
                    })
            </div>
            break;
        case "C":
            if (controlData != null && controlData.Any())
            {
                for (int i = 0; i < controlData.Count; i++)
                {
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox"
                               class="custom-control-input"
                               data-spparameter="@reportControl.ParameterName"
                               data-type="checkbox"
                               value="@controlData[i].value"
                               data-filtercode="@reportControl.Code"
                               data-nextdropdown=@nextControlId
                               onchange="viewReport.loadNextDropDownData(this,event)"
                               id="@(controlId +  i)"
                               name="@controlId" />
                        <label class="custom-control-label" for="@(controlId +  i)">@controlData[i].Name</label>
                    </div>
                }

            }
            else
            {
                <div class="md-outline p-2" data-filter='@Html.Raw(Json.Encode(reportControl))'>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox"
                               class="custom-control-input"
                               data-spparameter="@reportControl.ParameterName"
                               data-type="checkbox"
                               data-nextdropdown=@nextControlId
                               data-filtercode="@reportControl.Code"
                               onchange="viewReport.loadNextDropDownData(this,event)"
                               id="@controlId"
                               name="@controlId" />
                        <label class="custom-control-label" for="@controlId">@reportControl.Name</label>
                    </div>
                </div>
            }

            break;
        case "DP":
            <div class="date-time-picker mb-2 mb-xl-0 ml-0 mr-md-2 search-with-bg ">
                @Html.TextBox(controlId, string.Empty,
                new
                {
                     @class = "date-picker zindex_1 searchfield",
                     @data_type = "date",
                     data_spparameter = reportControl.ParameterName,
                     data_nextdropdown = nextControlId,
                     @data_required = "",
                     @placeholder = reportControl.Name
                })
            </div>
            break;
        case "DP_S":
            control = Model.FirstOrDefault(x => x.ParameterType == "DP_E");
            <div class="date-time-picker mb-2 mb-xl-0 ml-0 mr-md-2 search-with-bg ">
                @Html.TextBox(controlId, string.Empty,
                new
                {
                     @class = "date-picker zindex_1 searchfield",
                     @data_type = "date",
                     data_spparameter = reportControl.ParameterName,
                     @data_required = "",
                     @placeholder = reportControl.Name,
                     data_nextdropdown = nextControlId,
                     data_maxdateid = $"ctr_{control.Name}{control.Code}".Replace(" ", "")
                })
            </div>
            break;
        case "DP_E":
            control = Model.FirstOrDefault(x => x.ParameterType == "DP_S");
            <div class="date-time-picker mb-2 mb-xl-0 ml-0 mr-md-2 search-with-bg ">
                @Html.TextBox(controlId, string.Empty,
                new
                {
                     @class = "date-picker zindex_1 searchfield",
                     @data_type = "date",
                     data_spparameter = reportControl.ParameterName,
                     @data_required = "",
                     @placeholder = reportControl.Name,
                     data_nextdropdown = nextControlId,
                     data_mindateid = $"ctr_{control.Name}{control.Code}".Replace(" ", "")
                })
            </div>
            break;
        case "MP":
            <div class="date-time-picker mb-2 mb-xl-0 ml-0 mr-md-2 search-with-bg ">
                @Html.TextBox(controlId, string.Empty,
                new
                {
                     @class = "date-picker zindex_1 searchfield",
                     @data_type = "date",
                     data_spparameter = reportControl.ParameterName,
                     @data_required = "",
                     data_nextdropdown = nextControlId,
                     @placeholder = reportControl.Name,
                     data_view_mode = "years",
                     data_format = "MM-YYYY"
                })
            </div>
            break;
        case "MP_S":
            control = Model.FirstOrDefault(x => x.ParameterType == "MP_E");
            <div class="date-time-picker mb-2 mb-xl-0 ml-0 mr-md-2 search-with-bg ">
                @Html.TextBox(controlId, string.Empty,
                new
                {
                     @class = "date-picker zindex_1 searchfield",
                     @data_type = "date",
                     data_spparameter = reportControl.ParameterName,
                     @data_required = "",
                     data_nextdropdown = nextControlId,
                     @placeholder = reportControl.Name,
                     data_view_mode = "years",
                     data_format = "MM-YYYY",
                     data_maxdateid = $"ctr_{control.Name}{control.Code}".Replace(" ", "")
                })
            </div>
            break;
        case "MP_E":
            control = Model.FirstOrDefault(x => x.ParameterType == "MP_S");
            <div class="date-time-picker mb-2 mb-xl-0 ml-0 mr-md-2 search-with-bg ">
                @Html.TextBox(controlId, string.Empty,
                new
                {
                     @class = "date-picker zindex_1 searchfield",
                     @data_type = "date",
                     data_spparameter = reportControl.ParameterName,
                     @data_required = "",
                     data_nextdropdown = nextControlId,
                     @placeholder = reportControl.Name,
                     data_view_mode = "years",
                     data_format = "MM-YYYY",
                     data_maxdateid = $"ctr_{control.Name}{control.Code}".Replace(" ", "")
                })
            </div>
            break;
        case "T":
            <div class="m-0 mb-2 mb-xl-0 md-form md-outline ml-0 mr-md-2 ">
                <input type="text"
                       class="form-control zindex_1"
                       data-type="textbox"
                       name="@controlId"
                       data-nextdropdown=@nextControlId
                       data-spparameter="@reportControl.ParameterName"
                       data-required=""
                       data-filtercode="@reportControl.Code" id="@controlId" />
                <label class="active select-label ">@reportControl.Name</label>
            </div>
            break;
        case "R":

            if (controlData != null && controlData.Any())
            {
                if (controlData.Count == 2)
                {
                    <div class="col-md-12 text-right toggle-adjust">
                        <input type="checkbox"
                               data-toggle="toggle"
                               data-height="40"
                               data-onstyle="primary"
                               data-offstyle="primary"
                               data-nextdropdown=@nextControlId
                               data-spparameter="@reportControl.ParameterName"
                               data-filtercode="@reportControl.Code"
                               onchange="viewReport.loadNextDropDownData(this,event)"
                               name="@controlId"
                               id="@controlId"
                               data-on="@controlData[0].Name"
                               data-off="@controlData[1].Name">
                    </div>
                }
                else
                {
                    for (int i = 0; i < controlData.Count; i++)
                    {
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio"
                                   class="custom-control-input"
                                   data-nextdropdown=@nextControlId
                                   data-spparameter="@reportControl.ParameterName"
                                   data-filtercode="@reportControl.Code"
                                   value="@controlData[i].value"
                                   onchange="viewReport.loadNextDropDownData(this,event)"
                                   name="@controlId"
                                   id="@(controlId + i)" />
                            <label class="custom-control-label" for="@(controlId + i)">@controlData[i].Name</label>
                        </div>
                    }
                }

            }
            else
            {
                <div class="md-outline p-2" data-filter='@Html.Raw(Json.Encode(reportControl))'>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio"
                               class="custom-control-input"
                               data-nextdropdown=@nextControlId
                               data-spparameter="@reportControl.ParameterName"
                               data-filtercode="@reportControl.Code"
                               onchange="viewReport.loadNextDropDownData(this,event)"
                               name="@controlId"
                               id="@controlId" />
                        <label class="custom-control-label" for="@controlId">@reportControl.Name</label>
                    </div>
                </div>
            }
            break;
        default:
            break;
    }
</div>
    @*@Html.Raw(count % 4 == 0 ? "</div>" : string.Empty)*@
    count++;
}
@if (controlData == null)
{
    <a href="javascript:void(0);" id="loadReportBtn" class="align-items-center btn btn-primary d-flex justify-content-center m-0 rounded-4x px-3 zindex_1">
        <span>@ResourceManager.GetString("School.SchoolReport.GenerateReport")</span>
    </a>
}