﻿@model List<Phoenix.Models.ReportParameter>
@using Phoenix.Common.Localization
@{
    var selectText = ResourceManager.GetString("Shared.Labels.Select");
    var index = 0;
}
@foreach (var item in Model)
{
    var parameter = (List<SelectListItem>)ViewBag.ReportParameter;
    parameter.ForEach(x => x.Selected = x.Value == item.ParameterId.ToString());
    <div class='parameterElement row' id='@("div_" + index + "__")'>
        @Html.Hidden($"ReportParameters[{index}].ReportParameterId", item.ReportParameterId)
        @Html.Hidden($"ReportParameters[{index}].ReportDetailId", item.ReportDetailId)
        <div class="col-lg-3 col-md-3 col-12">
            <div class="md-form md-outline">
                @Html.TextBox($"ReportParameters[{index}].ReportDetailId", item.ParameterName, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-12">
            <div class="md-form md-outline">
                @Html.TextBox($"ReportParameters[{index}].ParameterOrder", item.ParameterOrder ?? index, new { @class = "form-control", @type = "number" })
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-12">
            @Html.DropDownList($"ReportParameters[{index}].ParameterId", parameter, selectText, new { @class = "selectpicker" })
        </div>
    </div>
    index++;
}