﻿
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using Phoenix.Models;
@{
    var selectText = ResourceManager.GetString("Shared.Labels.Select");
    var version = ResourceManager.GetString("Shared.Version.Js");
    var newrow = new List<ReportParameter>() { new ReportParameter() };

}
@Html.AntiForgeryToken()

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script src="@Url.Content("~/Content/js/custom/SchoolInfo/SchoolReport.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>
        $(document).ready(function () {
            schoolReport.loadGrid();
        })
    </script>
}

