﻿@model DevExpress.XtraReports.UI.XtraReport
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization
@using Phoenix.Models;
@using DevExpress.Web.Mvc.UI;

@{
    ViewBag.Title = "Index";
    var version = ResourceManager.GetString("Shared.Version.Js");
    var id = (long)ViewBag.reportDetailId;
    var configType = (int)ViewBag.ConfigType;
    var schoolInfo = (SchoolInformation)ViewBag.SchoolInfo;
}
@Html.Hidden("ReportDetailId", id)
@Html.Hidden("ConType", configType)
@Html.Hidden("ReportName", Model.DisplayName)

<script type="text/javascript">
    function GetDesignerUrl() {
        var fileName = ReportDesigner1.GetDesignerModel().model().displayName();
        return globalFunctions.isValueValid(fileName) ? fileName : $('#ReportName').val();
    }
    function reportDesigner_Save() {
        var fileName =  GetDesignerUrl();
        var configType = @configType;
        if (configType == 2) {
            fileName = '@schoolInfo.SchoolShortName/' + fileName;
        } else {
            fileName = '@Constants.SchoolReportsCommonDir/' + fileName;
        }
        if (fileName) {
            DevExpress.Designer.Report.ReportStorageWeb.setData(ReportDesigner1.GetDesignerModel().model().serialize(), fileName)
                .done(function (r) {
                    var object = {
                        url: GetDesignerUrl(),
                        reportDetail: $('#ReportDetailId').val(),
                        configType: @configType
                    }
                    $.post('/SchoolInfo/SchoolReport/SaveReportDetails', object)
                        .then(response => {
                            globalFunctions.showMessage(response.NotificationType, response.Message);
                        })
                })
                .fail(function (xhr, textStatus, errorThrown) {
                    globalFunctions.onFailure(undefined, xhr, textStatus);
                });
        }
    }
    function reportDesigner_CustomizeMenuActions(s, e) {
        var defaultOpenAction = e.Actions.filter(function (x) { return x.text === 'Open' && x.imageClassName !== 'reportDesignerIconOpen' })[0];
        var defaultSaveAction = e.Actions.filter(function (x) { return x.text === 'Save' && x.imageClassName !== 'reportDesignerIconSave' })[0];
        var defaultSaveAsAction = e.Actions.filter(function (x) { return x.text === 'Save As' && x.imageClassName !== 'reportDesignerIconSaveAs' })[0];

        //if (defaultOpenAction)
        //    defaultOpenAction.clickAction = reportDesigner_Open;

        if (defaultSaveAction) {
            defaultSaveClickAction = defaultSaveAction.clickAction;
            defaultSaveAction.clickAction = reportDesigner_Save;
        }

        //if (defaultSaveAsAction)
        //    defaultSaveAsAction.clickAction = reportDesigner_SaveAs;
    }
</script>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                @Html.DevExpress().ReportDesigner(settings =>
           {
               settings.Name = "ReportDesigner1";
               //settings.EnableTheming = true;
               settings.ClientSideEvents.CustomizeMenuActions = "reportDesigner_CustomizeMenuActions";
               //settings.ClientSideEvents.ReportOpened = "() => $('div[title=\"Parameters\"]').hide()";
               //settings.ClientSideEvents.ReportSaved = "function(){ DevExpress.ui.notify({ message: 'Updated Successfully', type: 'success' }); }";
           }).Bind(Model).GetHtml()
            </div>
        </div>
    </div>
</div>
@section devexpressplugins{
    @Html.DevExpress().GetStyleSheets(
       new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
   )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.Report }
    )
}

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script src="@Url.Content("~/Content/js/devExpress/knockout.min.js?v="+version)"></script>
    @*<script src="@Url.Content("~/Content/js/devExpress/angular.min.js?v="+version)"></script>*@

    <!-- DevExtreme themes -->
    <link href="@Url.Content("~/Content/css/devExpress/dx.common.css")">
    <link href="@Url.Content("~/Content/css/devExpress/dx.light.css")">
    <script>
        setInterval(() => $('div[title="Parameters"]').hide(), 800)
        setInterval(() => reportDesigner_Save(),300000)
    </script>
    <!-- DevExtreme library -->
    @*<script src="@Url.Content("~/Content/js/devExpress/dx.all.js?v="+version)"></script>*@
}