﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@using DevExpress.Web.Mvc.UI;
@{
    ViewBag.Title = "ViewReport";
    var selecttext = ResourceManager.GetString("Shared.Labels.Select");
    var curriculum = (SelectList)ViewBag.Curriculum;
}
<link rel="stylesheet" type="text/css" href="~/Content/css/addons/bootstrap-toggle.css" />
<div class="m-0 tracker-filter">
    <div class="justify-content-end mb-3 reportFilters row search-row">
        <form action="#" class="field-form w-100">
            <div id="filtersDiv" class="col-12 d-flex flex-column flex-md-row flex-xl-nowrap justify-content-end flex-wrap">

                @*<div class="md-form md-outline sort-dropdown ml-0 ml-md-3 mb-3 mb-xl-0">
                        <label class="select-label">@ResourceManager.GetString("School.SchoolReport.Module"):</label>
                        @Html.DropDownList("ddlModule", (IEnumerable<SelectListItem>)ViewBag.Modules, selecttext, new { @class = "selectpicker " })
                    </div>
                    <div class="md-form md-outline sort-dropdown ml-0 ml-md-3 mb-3 mb-xl-0">
                        <label class="select-label">@ResourceManager.GetString("School.SchoolReport.Report"):</label>
                        @Html.DropDownList("Report", new SelectList(string.Empty), selecttext, new { @class = "selectpicker " })
                    </div>*@
            </div>
        </form>
    </div>
    <div id="divHideShowFilter" class="d-flex justify-content-center border-top">
        <button type="button" class="btn btn-filter closed px-4">
            @ResourceManager.GetString("School.SchoolReport.ShowFilter") <i class="fas fa-chevron-down ml-2"></i>
        </button>
    </div>
</div>
<script>
    function cbp_OnBeginCallback(s, e) {
        //viewReport.loadReport();
        e.customArgs["ReportDetailId"] = $('#ddlReport').val();
        e.customArgs["ReportParamterListString"] = viewReport.getParameterValues();
    }
</script>
<div id="documentViewerDiv">
    @Html.Partial("_GetReportToView")
</div>
<div class="row" id="reportsDiv" style="display:none">
    <div class="col-md-12">
        <div class="panel panel-default hidden" id="reportPanel">
            <div class="panel-body reportsDiv col-md-12">
                <iframe src="" id="reportsIframe" width="100%" height="950"></iframe>
            </div>
        </div>
    </div>
</div>
<div id="reportsDataNotPresent" style="display:none">
    <span class='no-data-found text-bold d-block mx-auto my-auto'>@ResourceManager.GetString("Shared.Labels.NoRecords")</span>
</div>

@section devexpressplugins{
    @Html.DevExpress().GetStyleSheets(
       new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
   )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.Report }
    )
}

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.title= '@ResourceManager.GetString("Template.Template.Title")';
        translatedResources.description = '@ResourceManager.GetString("Template.Template.Description")';
        translatedResources.fileName = '@ResourceManager.GetString("School.SchoolReport.FileName")';
        translatedResources.showFilter = '@ResourceManager.GetString("School.SchoolReport.ShowFilter")';
        translatedResources.hideFilter = '@ResourceManager.GetString("School.SchoolReport.HideFilter")';
    </script>
    <link href="~/Content/css/devExpress/dx.common.css" rel="stylesheet" />
    <link href="~/Content/css/devExpress/dx.light.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/js/addons/bootstrap-toggle.js"></script>
    <script src="@Url.Content("~/Content/js/custom/SchoolInfo/SchoolReport.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>

        $(document).ready(function () {
            var html = `
                     <div class="justify-content-end search-row">
                    <div class="col-12 d-flex flex-column flex-xl-nowrap flex-md-row flex-wrap justify-content-end m-0">
                        @Html.Partial("~/Areas/Course/Views/Course/_CurriculumDropdown.cshtml", curriculum)
                        <div class="mb-0 md-form md-outline sort-dropdown  ml-3">
                            <label class="select-label">@ResourceManager.GetString("School.SchoolReport.Module"):</label>
                            @Html.DropDownList("ddlModule", (IEnumerable<SelectListItem>)ViewBag.Modules, selecttext, new { @class = "selectpicker " })
                        </div>
                        <div class="mb-0 md-form md-outline sort-dropdown ml-3">
                            <label class="select-label">@ResourceManager.GetString("School.SchoolReport.Report"):</label>
                            @Html.DropDownList("ddlReport", new SelectList(string.Empty), selecttext, new { @class = "selectpicker " })
                        </div>
                    </div>
                </div>`;
            $('#breadcrumbActions').html(html);
            $('.selectpicker').selectpicker('refresh');
        })
            .on('changed.bs.select', '#CurriculumId', function () {
                var id = $('#ddlReport').val();
                viewReport.bindReportFilters(id);
            })
            .on('changed.bs.select', '#ddlModule', function () {
                var id = $(this).val();
                viewReport.bindReportDetailsDropDown(id);
            })
            .on('changed.bs.select', '#ddlReport', function () {
                var id = $(this).val();
                viewReport.bindReportFilters(id);
            })
            .on('click', '.btn-filter', function () {
                $(".reportFilters .field-form").slideToggle();
                $(this).toggleClass('closed');
                $(this).hasClass("closed") ? $(this).html(translatedResources.showFilter + ' <i class="fas fa-chevron-down ml-2"></i>')
                    : ($(this).html(translatedResources.hideFilter + ' <i class="fas fa-chevron-up ml-2"></i>'));
            })
            .on('click', '#loadReportBtn', function () {
                if (common.IsInvalidByFormOrDivId('filtersDiv')) {
                    //viewReport.loadReport();
                    if ($(".field-form:visible").length > 0) {
                        $(".btn-filter").click();
                    }
                    if ($('#IsCr').val().toBoolean()) {
                        viewReport.loadReport()
                    } else {
                        $('#reportsDiv').fadeOut();
                        $('#reportsDataNotPresent').fadeOut();
                        $('#documentViewerDiv').fadeIn();
                        cbp.PerformCallback()
                    }

                }
            });
    </script>
}
