﻿
@model IEnumerable<Phoenix.Models.StudentsFeeDetails>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@{
    var source = "school";
}

@if (Model != null)
{

    <div class="col-lg-12 w-100">
        @foreach (var stud in Model)
        {
            if (stud.FeeDetail != null)
            {
                <table id="fee-detail-table" class="tblFeeDetail table table-hover tbl-@source-@stud.STU_NO" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">@ResourceManager.GetString("FeePayment.FeeDetails.FeeDetail")  @stud.StudentName </th>
                            <th class="th-sm text-right">@ResourceManager.GetString("FeePayment.FeeDetails.AmountDue")</th>
                            <th class="th-sm tbl-actions">@ResourceManager.GetString("Redemption.Labels.Redeem")</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var fee in stud.FeeDetail)
                        {
                            <tr data-feeId="@fee.FeeID">
                                <td>
                                    @fee.FeeDescription
                                </td>
                                <td class="text-right">
                                    @String.Format("{0:#,0.00}", stud.DueAmount)
                                </td>
                                <td class="tbl-actions">
                                    @if (fee.BlockPayNow)
                                    {
                                        <input type="text" ondrop="return false;" onpaste="return false;" oncontextmenu="return false;" onkeypress="return isNumberKey(this, event);" step="0.0000" id="tdPayNow" class="form-control" readonly="readonly" value="@fee.PayAmount" />
                                    }
                                    else
                                    {
                                        <input type="text" ondrop="return false;" onpaste="return false;" oncontextmenu="return false;" onkeypress="return isNumberKey(this, event);" step="0.0000" id="tdPayNow" class="form-control" value="0.00" onchange="return GetValidationPayingAmount(this,'@stud.STU_NO','@stud.PaymentTypeID','@fee.FeeID','@source')" />
                                    }
                                </td>
                            </tr>
                        }

                        <tr data-procCharge="@stud.PaymentProcessingCharge" data-stud="@stud.STU_NO">
                            <td>@ResourceManager.GetString("FeePayment.NetPayment.Total")</td>
                            <td id="tdDueAmt" class="text-right">@String.Format("{0:#,0.00}", stud.DueAmount) </td>
                            <td class="tbl-actions">
                                <div class="grey-text tdPayAmt" id="tdPayAmt">@String.Format("{0:#,0.00}", stud.PayAmount)</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        }
    </div>

    if (!string.IsNullOrEmpty(source))
    {
        <div class="amount-container-footer NetAmount-@source col-lg-12 text-right">
            <div class="amount-section">
                <div class="amount-info">@ResourceManager.GetString("FeePayment.NetPayment.AmountInfo")</div>
                <div class="amount-form-group">
                    @*<div class="md-outline input-label-wrapper">
                            <label for="DiscountTotal" class="text-semibold active">@ResourceManager.GetString("FeePayment.NetPayment.DiscAmount"):</label>
                            <input type="text" id="DiscountTotal" class="form-control" placeholder="0.00" readonly="readonly">
                        </div>*@
                    <div class="md-outline input-label-wrapper">
                        <label for="total" class="text-semibold active">@ResourceManager.GetString("FeePayment.NetPayment.Total") :</label>
                        <input type="text" id="total" class="form-control" placeholder="0.00" readonly="readonly">
                    </div>
                    @*<div class="md-outline input-label-wrapper">
                            <label for="processing-charge" class="text-semibold active">@ResourceManager.GetString("FeePayment.NetPayment.ProcessingCharge"):</label>
                            <input type="text" id="processing-charge" class="form-control" placeholder="0.00" readonly="readonly">
                        </div>*@
                    <div class="md-outline input-label-wrapper">
                        <label for="net-payable" class="text-semibold active"> @ResourceManager.GetString("FeePayment.NetPayment.NetAmount") : </label>
                        <input type="text" id="net-payable" class="form-control" placeholder="0.00" readonly="readonly">
                    </div>
                </div>
                <div class="button-wrap">
                    <button type="button" class="btn btn-outline-deep-purple waves-effect waves-light" onclick="return OnCancelClick('@source')"> @ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                    <button type="button" class="btn btn-deep-purple waves-effect waves-light btnProceedToPay" disabled onclick="return ProceedToPay(this);" data-source="@source">
                        @ResourceManager.GetString("Redemption.Buttons.Redeem")
                    </button>
                </div>
            </div>
        </div>
    }
}
@*else
{
    <div class="row">
        <span class="no-data-found text-bold d-block mx-auto my-auto">
            There is no Redeemable Amount to redeem.
        </span>
    </div>
}*@
