﻿@model List<Phoenix.Models.Suggestion>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common
@using Phoenix.Common.Helpers
@using Phoenix.VLE.Web.Services
@{
    /**/

    /**/
    var SchoolCode = SessionHelper.CurrentSession.SchoolCode;
    ViewData["Title"] = ResourceManager.GetString("SuggestionBox.Suggestion.Suggestion");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-vault.svg");
    var rnd = DateTime.Now.Ticks.ToString();
    var AllCourses = ResourceManager.GetString("Exemplar.Labels.AllCourses");
    var SelectLevel = ResourceManager.GetString("Exemplar.Labels.SelectLevel");
    var AllGroups = ResourceManager.GetString("Exemplar.Labels.AllGroups");
    ViewBag.SharepointToken = SharepointTokenHelper.Instance.Token;
}
<input type="hidden" id="SharepointToken" name="SharepointToken" value="@ViewBag.SharepointToken" />
<!-- teacher grid card -->
<div class="row grid-view">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="grid-list-card thinkbox-container px-0">
            @if (Model.Any())
            {
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="card thinkbox-card">
                                <div class="thinkbox-content column-padding py-3">
                                    <div class="thinkbox-header">
                                        <div class="thinkbox-video-icon">
                                            <div class="user-overlay overlay-success">
                                                <img src="~/Content/VLE/img/svg/user-graduate.svg" class="svg" alt="user-graduate-icon" />
                                            </div>
                                        </div>
                                        <div class="thinkbox-title">
                                            @*<span>@item.Title</span>*@
                                            @*<div class="dropright mb-0 popoverInformation">*@
                                            @if (item.Title.Trim().Length <= 30)
                                            {
                                                @item.Title
                                            }
                                            else
                                            {
                                                var objTitle = item.Title.Substring(0, 30) + " ...";

                                                <span data-toggle="tooltip" data-placement="top" data-title="@item.Title">
                                                    @objTitle
                                                </span>
                                                @*<a href="javascript:void(0)" data-toggle="dropdown">Read more</a>
                                                    <div class="resource-info dropdown-menu mt-n5 z-depth-1 border-light rounded-2x p-0 keepopen">
                                                        <div class="column-padding py-3">
                                                            <div class="content">
                                                                <p class="sub-heading text-semibold text-primary">Title</p>
                                                                <p>@item.Title</p>
                                                            </div>
                                                            <div class="d-flex justify-content-end mt-4">
                                                                <button type="button" class="btn btn-outline-primary btn-sm m-0 closeDropdown">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>*@
                                            }
                                            @*</div>*@
                                            <div class="thinkbox-tag-row">
                                                <span class="tag tag-success">@item.Type</span>
                                                <span class="date-title">@item.CreatedOn.ToString("dd-MMM-yyyy")</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="thinkbox-body">
                                        <div class="body-content dropright mb-0 popoverInformation">
                                            @if (string.IsNullOrEmpty(item.Description))
                                            {
                                                item.Description = string.Empty;
                                            }
                                            @if (item.Description.Trim().Length <= 60)
                                            {
                                                @item.Description
                                            }
                                            else
                                            {
                                                var objDesc = item.Description.Substring(0, 60) + " ...";
                                                @objDesc <a href="javascript:void(0)" data-toggle="dropdown">@ResourceManager.GetString("Shared.Labels.ReadMore")</a>
                                                <div class="resource-info dropdown-menu mt-n5 z-depth-1 border-light rounded-2x p-0 keepopen">
                                                    <div class="column-padding py-3">
                                                        <div class="content">
                                                            <p class="sub-heading text-semibold text-primary">@ResourceManager.GetString("SuggestionBox.Suggestion.Description")</p>
                                                            <p>@item.Description</p>
                                                        </div>
                                                        <div class="d-flex justify-content-end mt-4">
                                                            <button type="button" class="btn btn-outline-primary btn-sm m-0 closeDropdown">@ResourceManager.GetString("Shared.Buttons.Close")</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    @if (!SessionHelper.CurrentSession.IsStudent() && !SessionHelper.CurrentSession.IsParent())
                                    {
                                        <div class="thinkbox-footer mt-2">
                                            <span class="user">@ResourceManager.GetString("SuggestionBox.Suggestion.SubmittedBy")</span>
                                            <span class="user-name"><span class="name">@item.UserName</span></span>
                                        </div>
                                    }
                                </div>

                                @if (SessionHelper.CurrentSession.IsStudent())
                                {
                                    string fileName = "";
                                    if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                    {
                                        fileName = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.FileName);
                                    }
                                    else
                                    {
                                        fileName = item.FileName;
                                    }

                                    //var fileName = String.IsNullOrEmpty(item.FileName) && String.IsNullOrEmpty(item.PhysicalPath) ? String.Empty : String.IsNullOrEmpty(item.PhysicalPath) ? item.FileName : item.PhysicalPath;
                                    //if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                    //{
                                    //    fileName = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(fileName);
                                    //}
                                    <div class="thinkbox-cta py-3 d-flex justify-content-between align-items-center">
                                        <a onclick='suggestion.editSuggestionPopup($(this),@item.SuggestionId)' class="text-center">
                                            <img src="~/Content/VLE/img/svg/edit.svg" alt="" class="svg">
                                            <span class="status-btn">@ResourceManager.GetString("Shared.Buttons.Edit")</span>
                                        </a>
                                        @if (!String.IsNullOrEmpty(fileName))
                                        {
                                            @*<a onclick="downloadSuggestionFile('@fileName')" id="downloadSuggestionFile" data-filename="@fileName" class="text-center">
                                                    <i class="fas fa-paperclip mr-1"></i>
                                                    <span class="status-btn">@ResourceManager.GetString("Shared.Buttons.Download")</span>
                                                </a>*@
                                            <a onclick="globalFunctions.downloadSharepointFile('Suggestion','@fileName','@SchoolCode','@SessionHelper.CurrentSession.IsParent()','3')" data-filename="@fileName" class="text-center">
                                                <i class="fas fa-paperclip mr-1"></i>
                                                <span class="status-btn">@ResourceManager.GetString("Shared.Buttons.Download")</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="disabled text-center">
                                                <i class="fas fa-paperclip mr-1"></i>
                                                <span class="status-btn">@ResourceManager.GetString("Shared.Buttons.Download")</span>
                                            </a>
                                        }
                                        <a onclick='suggestion.deleteSuggestionData($(this),@item.SuggestionId)' class="text-center">
                                            <img src="~/Content/VLE/img/svg/delete.svg" alt="" class="svg">
                                            <span class="status-btn">@ResourceManager.GetString("Shared.Buttons.Delete")</span>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    string fileName = "";
                                    if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                    {
                                        fileName = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.FileName);
                                    }
                                    else
                                    {
                                        fileName = item.FileName;
                                    }

                                    //var fileName = SessionHelper.CurrentSession.IsParent() ? item.FileName : String.IsNullOrEmpty(item.FileName) && String.IsNullOrEmpty(item.PhysicalPath) ? String.Empty : String.IsNullOrEmpty(item.PhysicalPath) ? item.FileName : item.PhysicalPath;
                                    //if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                    //{
                                    //    fileName = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(fileName);
                                    //}
                                    <div class="thinkbox-cta column-padding py-3">
                                        @if (!String.IsNullOrEmpty(fileName))
                                        {
                                            @*<a onclick="downloadSuggestionFile('@fileName')" id="downloadSuggestionFile" data-filename="@fileName" class="text-center">
                                                    <i class="fas fa-paperclip mr-1"></i>
                                                    <span class="status-btn">@ResourceManager.GetString("Shared.Buttons.Download")</span>
                                                </a>*@
                                            <a onclick="globalFunctions.downloadSharepointFile('Suggestion','@fileName','@SchoolCode','@SessionHelper.CurrentSession.IsParent()','3')" data-filename="@fileName" class="text-center">
                                                <i class="fas fa-paperclip mr-1"></i>
                                                <span class="status-btn">@ResourceManager.GetString("Shared.Buttons.Download")</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="disabled text-center">
                                                <i class="fas fa-paperclip mr-1"></i>
                                                <span class="status-btn">@ResourceManager.GetString("Shared.Buttons.Download")</span>
                                            </a>
                                        }
                                    </div>
                                }

                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="my-5">
                    <span class="no-data-found text-bold d-block mx-auto my-auto">
                        @ResourceManager.GetString("Shared.Labels.NoRecords")
                    </span>
                </div>
            }
            @if (SessionHelper.CurrentSession.IsStudent() && ViewBag.IsCustomPermission)
            {
                <button type="button" class="btn btn-primary drop-up-btn position-fixed waves-effect waves-light" id="btnAddSuggestion">
                    <i class="fas fa-plus"></i>
                </button>
            }
        </div>
    </div>
</div>
<!-- teacher grid card end-->
<script>
    function downloadSuggestionFile(fileName) {
        window.open(fileName, "_blank");
    }
    //$("#downloadSuggestionFile").on("click", function () {
    //    var filename = $(this).data("filename");
    //    window.open(filename, "_blank");
    //});
</script>
