﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common
@{
    /**/

    ViewData["Title"] = ResourceManager.GetString("SuggestionBox.Suggestion.Suggestion");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-vault.svg");
    var rnd = DateTime.Now.Ticks.ToString();
}
@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Common.Models.ContentView>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{
    var pageSearchClass = SessionHelper.CurrentSession.IsStudent() ? "page-search" : "task-search";
}

<div id="suggestionsPanel" class="pagination-panel"></div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.suggestion = '@ResourceManager.GetString("SuggestionBox.Suggestion.Suggestion")';
        translatedResources.title = '@ResourceManager.GetString("SuggestionBox.Suggestion.Title")';
        translatedResources.description = '@ResourceManager.GetString("SuggestionBox.Suggestion.Description")';
        translatedResources.type = '@ResourceManager.GetString("SuggestionBox.Suggestion.Type")';
        translatedResources.remark = '@ResourceManager.GetString("SuggestionBox.Suggestion.Remark")';
        translatedResources.createdOn = '@ResourceManager.GetString("SuggestionBox.Suggestion.CreatedOn")';
        translatedResources.createdBy = '@ResourceManager.GetString("SuggestionBox.Suggestion.CreatedBy")';
        translatedResources.active = '@ResourceManager.GetString("SuggestionBox.Suggestion.IsActive")';
        translatedResources.actions = '@ResourceManager.GetString("SuggestionBox.Suggestion.Actions")';
        translatedResources.select = '@ResourceManager.GetString("SuggestionBox.Suggestion.Select")';
        translatedResources.fileUploadSuccess = '@ResourceManager.GetString("Shared.Labels.UploadSuccess")';
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/SuggestionBox/UserSuggestion.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
