﻿@model Phoenix.VLE.Web.Models.EditModels.AssessmentModel
@using Phoenix.Common.Localization
@{
    ViewBag.Title = "Parent - Assessment Report";
    ViewBag.headerIcon = "ic-groups title-icon";
    ViewData["AssessmentReport"] = "AssessmentReport";
    var currentDate = DateTime.Now;
}
@*@{
        Layout = "~/Views/Shared/_ParentLayout.cshtml";
    }*@
<style type='text/css'>
    .borderadjust {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }

    * {
        border-radius: 0 !important;
    }
</style>

<input type="hidden" value="@Model.studentList[0].StudentNumber" id="getstudid">
<div class="row">
    <div class="col-12 assessment-report-container tabPanels">
        <ul class="nav nav-tabs defaultTabs" role="tablist">
            @foreach (var student in Model.studentList)
            {
                int index = Model.studentList.FindIndex(a => a.StudentId == student.StudentId);
                string tabclass = (index == 0 ? "nav-link active text-semibold text-primary" : "nav-link text-semibold text-primary");

                <li class="nav-item">
                    <a class="@tabclass" data-toggle="tab" href="@student.StudentId" role="tab" aria-selected="false" id="Student_Number" value="@student.StudentNumber" onclick="GetStudentinfo('@student.StudentNumber')">
                        @student.StudentFirstName
                    </a>

                </li>
            }

        </ul>
        <div class="row" style="margin-right: -20px;margin-left: -20px;">
            <div class="col-lg-12 col-md-12 col-12" id="divpdfInfoModellist">
                @Html.Partial("_PdfInfoPartialView", Model)
            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
                    {
    <script type="text/javascript">
    translatedResources.ShowingReportsCount = '@ResourceManager.GetString("Assessment.pdfreport.ShowingReportsCount")';
        translatedResources.ReportsIn = '@ResourceManager.GetString("Assessment.pdfreport.ReportsIn")';
    </script>
    @*<script>
            translatedResources.noRecordsMessage = ' @string.Format(ResourceManager.GetString("School.SchoolSpace.NoDataDisplayMessage"), ResourceManager.GetString("School.SchoolSpace.CircularNewsletters").ToLower())';
        </script>*@

    <script src="@Url.Content("~/Content/js/custom/Assessment/AssessmentReport.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
