﻿@model Phoenix.VLE.Web.EditModels.TemplateEdit
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers.Extensions;

<style>
    .popup-purple-shade .modal-footer button[type=submit].btn {
        font-size: .75rem;
        font-weight: 600 !important;
        min-width: 5rem;
    }
</style>

@using (Ajax.BeginForm("SaveTemplateCertificateStatus", "Certificate", new AjaxOptions { OnSuccess = "certificate.onSaveSuccess", OnFailure = "globalFunctions.onFailure" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.TemplateId)
    <div class="modal-body">
        <div class="popup-form">
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.DropDownListFor(x => x.TeacherApprovalStatus, new SelectList(ViewBag.TemplateStatus, "ItemId", "ItemName"), new { @class = "selectpicker", @id="Status" })
                        @Html.LocalizedLabel("active select-label", "Template.Template.Status")
                    </div>
                </div>
            </div>

            <div class="row divRejectedComent" @(Model.IsRejected ? "" : "style=display:none")>
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextAreaFor(x => x.RejectedComment, new { @class = "form-control" })
                        @Html.LocalizedLabel("active", "Template.Template.RejectedComment")
                        @Html.ValidationMessageFor(x => x.RejectedComment)
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            @if (Html.CurrentPagePermission().CanEdit)
            {
                <button type="submit" class="btn btn-primary waves-effect waves-light m-0 ml-2">@ResourceManager.GetString("Shared.Buttons.Save")</button>
            }
     </div>
}

@Html.Partial("_ValidationJSPartial")
