﻿@using DevExpress.Web.Mvc.UI;
@using DevExpress.Web.ASPxThemes;
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title </title>
    <link href="~/Content/css/addons/montserrat.css" rel="stylesheet" />
    <link href="~/Content/css/addons/doc-viewer.css" rel="stylesheet" />
    <link href="~/Content/css/custom/loader.css" rel="stylesheet" />
    @Html.DevExpress().GetStyleSheets(
         new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "MaterialCompact" },
         new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit, Theme = "MaterialCompact" },
         new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "MaterialCompact" },
         new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet, Theme = "MaterialCompact" }
     )

    <script src="~/Content/js/jquery-3.3.1.min.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
    @Html.DevExpress().GetScripts(
       new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
       new Script { ExtensionSuite = ExtensionSuite.RichEdit },
       new Script { ExtensionSuite = ExtensionSuite.Editors },
       new Script { ExtensionSuite = ExtensionSuite.Spreadsheet }
   )
</head>
<body>

    <div class="container body-content">
        @RenderBody()
    </div>


    @RenderSection("scripts", required: false)
    <!--Loader-->
    @Html.Partial("_LoaderPartial")
    <!--Loader end-->
</body>
</html>
<script>
    $(window).on("load", function () {
        $("#AjaxLoader").show();
    });
   
</script>