﻿@model Phoenix.VLE.Web.EditModels.PlanSchemeDetailEdit
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers.Extensions;

@using (Ajax.BeginForm("SavePlanSchemeStatus", "PlanScheme", new AjaxOptions { OnSuccess = "planDetail.onStatusSaveSuccess", OnFailure = "globalFunctions.onFailure" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PlanSchemeDetailId)
    <div class="modal-body">
        <div class="popup-form">
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.DropDownListFor(x => x.Status, new SelectList(ViewBag.TemplateStatus, "ItemId", "ItemName"), new { @class = "selectpicker" })
                        @Html.LocalizedLabel("active select-label", "Template.Template.Status")
                    </div>
                </div>
            </div>

            @*<div class="row divRejectedComent" @(Model.IsRejected ? "" : "style=display:none")>
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextAreaFor(x => x.RejectedComment, new { @class = "form-control" })
                        @Html.LocalizedLabel("active", "Template.Template.RejectedComment")
                        @Html.ValidationMessageFor(x => x.RejectedComment)
                    </div>
                </div>
            </div>*@

        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            @if (Html.CurrentPagePermission().CanEdit)
            {
                <button type="submit" class="btn btn-primary waves-effect waves-light">@ResourceManager.GetString("Shared.Buttons.Save")</button>
            }
        </div>
    </div>
}

@Html.Partial("_ValidationJSPartial")
