﻿@using Phoenix.Common.Localization;
@model IEnumerable<Phoenix.Models.Blog>


@if (Model.Any())
{
    <div class="row mb-3 default-column-space">
        @if (Model.Count() > 0)
        {
            <div class="col-lg-3 col-md-3 col-sm-3 col-12 mb-3 mb-sm-0 mb-md-0 mb-lg-0">
                <img src="~/Content/img/dummy.jpg" alt="Phoenix" class="img-fluid rounded">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-12">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <span class="cat-entertainment text-uppercase">@Model.FirstOrDefault().Category  </span>
                    <span class="td-time">@Model.FirstOrDefault().CreatedOn.ToString("dddd,dd MMMM yyyy")</span>
                </div>
                <h3>

                    @Model.FirstOrDefault().Title.ToString()

                </h3>
                <p>
                    @Html.Raw(HttpUtility.HtmlDecode(Model.FirstOrDefault().Description.Length > 150 ? Model.FirstOrDefault().Description.ToString().Substring(0, 150) + " ...." : Model.FirstOrDefault().Description.ToString()))
                </p>
            </div>
        }

    </div>
    <hr>
    <div class="row default-column-space">
        @foreach (var blgItem in Model)
        {
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 border-right mb-4 mb-sm-0 mb-md-0 mb-lg-0">
                <div class="d-flex justify-content-between align-items-center mb-2">

                    <span class="td-time">@blgItem.CreatedOn.ToString("dddd,dd MMMM yyyy")</span>
                </div>
                <h3>
                    @blgItem.Title.ToString()
                </h3>
                <p>
                    @Html.Raw(HttpUtility.HtmlDecode(blgItem.Description.Length > 150 ? blgItem.Description.ToString().Substring(0, 150) + " ...." : blgItem.Description.ToString()))
                </p>
            </div>


        }
    </div>
}
else
{
    <p class="sub-heading">@ResourceManager.GetString("Shared.Labels.NoRecords").</p>
}
