﻿@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization;
@model IEnumerable<Phoenix.Models.AssignmentStudentDetails>
@if (Model.Any())
{
    <div class="row assignment-list m-0 owl-carousel owl-theme">
        <!--Dynamic assignment-->
        @foreach (var item in Model.Count() > 8 ? Model.Take(8) : Model)
        {
            //var dueDays = (item.DueDate - DateTime.Now).Days;
            var daysDiff = item.DueDate == DateTime.MinValue ? 0 : (DateTime.Now - item.DueDate).Days;

            var status = item.CompleteMarkByTeacher ? ResourceManager.GetString("Dashboard.labels.CompletedAssignments") : item.IsCompleted ? ResourceManager.GetString("Dashboard.labels.CompletedByStudent") : ResourceManager.GetString("Dashboard.labels.PendingAssignments");

            <div class="col-lg-12 col-md-12 col-12 border-right border-bottom p-0 item">
                <article class="@(daysDiff > 0 && !item.CompleteMarkByTeacher && !item.IsCompleted  ? "overdue": daysDiff > 0 && item.IsCompleted? "partial-completed":"completed") bg-white pt-3 rounded-0 border-0 d-flex flex-column h-100">


                    <div class="assignment-info flex-1 position-relative pl-3 pr-3">
                        <div class="row">
                            <div class="col-lg-11 col-md-11 col-10">
                                <h3 class="mt-3 mb-3">
                                    <a href="/Assignments/Assignment/StudentHomeworkAddEdit?Id=@EncryptDecryptHelper.EncryptUrl(item.AssignmentStudentId.ToString())" class="d-block">@item.AssignmentTitle</a>
                                    <span class="d-flex align-items-baseline">
                                        @(item.DueDate == DateTime.MinValue ? ResourceManager.GetString("Shared.Labels.NoDueDate") : item.DueDate.ToString("dd MMM yyyy"))
                                        @if (daysDiff > 0 && !item.CompleteMarkByTeacher && !item.IsCompleted)
                                        {
                                            <span class="mx-2">|</span>
                                            <span class="text-danger">
                                                @ResourceManager.GetString("Shared.Labels.OverDueBy") <strong class="text-dark text-medium">@daysDiff @ResourceManager.GetString("Shared.Labels.Days")</strong>
                                            </span>
                                        }
                                        else if (item.IsCompleted && !item.CompleteMarkByTeacher)
                                        {
                                            <span class="mx-2">|</span>
                                            <span class="text-warning">
                                                <strong class="text-warning text-semibold">@status</strong>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="mx-2">|</span>
                                            <span class="text-warning">
                                                <strong class="text-warning text-medium">@status</strong>
                                            </span>
                                        }
                                    </span>
                                </h3>
                                <p class="mb-3">@Html.Raw(item.AssignmentDesc)</p>
                            </div>
                            <div class="col-lg-1 col-md-1 col-2">
                                @if (item.StudentAssignmentGradeId != 0)
                                {
                                    <img src="@item.GradingTemplateItemSymbol" alt="" class="mt-2">
                                }
                            </div>
                        </div>
                    </div>
                    <hr class="m-0">
                    <div class="assignment-action d-flex align-items-center justify-content-around w-100">

                     
                        <a href="javascript:void(0)" class="w-100 text-center text-uppercase" data-toggle="tooltip" data-placement="top" data-html="true" data-title="<b class='tt-text-large'><span class='arabictxt'> @item.NoofAttachment</span></b> <i>@ResourceManager.GetString("Dashboard.labels.Attachments")</i>">
                            <i class="fas fa-paperclip mr-2"></i>@ResourceManager.GetString("Dashboard.labels.Attachments")
                        </a>
                        <a href="/Assignments/Assignment/StudentHomeworkAddEdit?Id=@EncryptDecryptHelper.EncryptUrl(item.AssignmentStudentId.ToString())" class="w-100 text-center text-uppercase"><i class="far fa-eye mr-2"></i>@ResourceManager.GetString("Shared.Labels.View")</a>
                    </div>


                </article>
            </div>


        }

    </div>
}
else
{
    
    <span class="no-data-found d-block mx-auto"></span>
}