﻿@model IEnumerable<Phoenix.Models.SchoolGroup>
@using Phoenix.Common.Localization;


<div class="groups-involved column-padding p-0">
    <ul class="clearfix d-flex flex-wrap">
        @foreach (var item in Model)
        {
            var grpName = "";
            if (!string.IsNullOrEmpty(item.TeacherGivenName))
            {
                grpName = item.TeacherGivenName;
            }
            else
            {
                grpName = item.SchoolGroupDescription;
            }
            <li class="border">
                <a href="@Url.Content("/files/files/groups?grId="+Phoenix.Common.Helpers.EncryptDecryptHelper.EncryptUrl(Convert.ToString(item.SchoolGroupId)))" class="p-3">
                    <span title="@item.CourseTitle" data-toggle="tooltip" data-placement="top" class="grp-initials">@(!string.IsNullOrWhiteSpace(item.CourseTitle) && item.CourseTitle.Length > 2 ? item.CourseTitle.Substring(0, 2).ToUpper() : item.CourseTitle )</span>
                    <h6>@grpName.Replace("_", " /")</h6>
                    @if (!item.IsSeenByParent)
                    {
                        @*<img src=@Url.Content("/Content/VLE/img/svg/new-tag.svg") class="ml-2 mb-1">*@
                        <span class="badge badge-secondary shadow-none">@ResourceManager.GetString("Shared.Labels.New")</span>
                    }
                </a>
            </li>
        }

    </ul>
</div>

