﻿@model Phoenix.Models.ParentView
@using System.Configuration;
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization;
@using Phoenix.VLE.Web.ViewModels;
@{
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
    var count = Convert.ToInt32(Session["ChildCount"]);

    var parentId = new EncryptDecr().Encrypt_CLEV(Convert.ToString(SessionHelper.CurrentSession.UserName) + "$$$");
    var studentId = SessionHelper.CurrentSession.CurrentSelectedStudent.StudentNumber;

    //https://oasis.gemseducation.com/ParentLogin/logindirect_clev.aspx?U=0TmVHu7AkpaLCzp6/4StLQ==&M=eE%2F5qqd0uV8%3D
    var phoenixPortalURL = ConfigurationManager.AppSettings["PhoenixPortalURL"];
    var myDetailsUrl = phoenixPortalURL + parentId + "&m=" + ConfigurationManager.AppSettings["MyDetailsKey"];
    var payFeesUrl = phoenixPortalURL + parentId + "&m=" + ConfigurationManager.AppSettings["PayFeesKey"] + "&s=" + studentId;
    var ambassadorProgramUrl = phoenixPortalURL + parentId + "&m=" + ConfigurationManager.AppSettings["AmbassadorProgramKey"] + "&s=" + studentId;
    var reportUrl = phoenixPortalURL + parentId + "&m=" + ConfigurationManager.AppSettings["ReportKey"] + "&s=" + studentId;
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-mydesk.svg");
    var rnd = DateTime.Now.Ticks.ToString();

    var maxLength = 50;

}

@functions{

    public string GetIcon(string shortCode)
    {
        if (shortCode == "MGRP")
        {
            //return "~/Content/VLE/img/svg/menu/groups.svg";
            return "icon-groups";
        }
        else if (shortCode == "ASN")
        {
            //return "~/Content/VLE/img/svg/menu/menu-assignments.svg";
            return "icon-assignments";
        }
        else if (shortCode == "CHAT")
        {
            return "~/Content/VLE/img/svg/menu/chatter.svg";
        }
        else if (shortCode == "STV")
        {
            //return "~/Content/VLE/img/svg/menu/vault.svg";
            return "icon-vault";
        }
        else if (shortCode == "TSK")
        {
            //return "~/Content/VLE/img/svg/menu/menu-assignments.svg";
            return "icon-assignments";
        }
        else if (shortCode == "LOC")
        {
            //return "~/Content/VLE/img/svg/menu/vault.svg";
            return "icon-vault";
        }
        else if (shortCode == "OBS")
        {
            //return "~/Content/VLE/img/svg/menu/observations.svg";
            return "icon-observations";
        }
        else if (shortCode == "QUZ")
        {
            //return "~/Content/VLE/img/svg/menu/menu-quiz.svg";
            return "icon-quiz";
        }
        else if (shortCode == "CAN")
        {
            //return "~/Content/VLE/img/svg/menu/community.svg";
            return "icon-community";
        }
        else if (shortCode == "RES")
        {
            //return "~/Content/VLE/img/svg/menu/community.svg";
            return "icon-community";
        }
        else if (shortCode == "GAL")
        {
            //return "~/Content/VLE/img/svg/menu/community.svg";
            return "icon-community";
        }
        else if (shortCode == "KNH")
        {
            //return "~/Content/VLE/img/svg/menu/knowledge-hub.svg";
            return "icon-knowledge-hub";
        }
        else if (shortCode == "THB")
        {
            //return "~/Content/VLE/img/svg/menu/thinkbox.svg";
            return "icon-thinkbox";
        }
        else if (shortCode == "MYP")
        {
            //return "~/Content/VLE/img/svg/menu/planner.svg";
            return "icon-planner";
        }
        else if (shortCode == "EXW")
        {
            //return "~/Content/VLE/img/svg/menu/exemplar-wall.svg";
            return "icon-exemplar-wall";
        }
        else if (shortCode == "LEP")
        {
            //return "~/Content/VLE/img/svg/menu/lesson-plans.svg";
            return "icon-lesson-plans";
        }
        else if (shortCode == "CEB")
        {
            //return "~/Content/VLE/img/svg/menu/certificate-builder.svg";
            return "icon-certificate-builder";
        }
        else if (shortCode == "LAP")
        {
            //return "~/Content/VLE/img/svg/menu/attendance.svg";
            return "icon-attendance";
        }
        else if (shortCode == "EVT")
        {
            //return "~/Content/VLE/img/svg/menu/community.svg";
            return "icon-community";
        }
        else
        {
            //return "~/Content/VLE/img/svg/menu/home.svg";
            return "icon-home";
        }
    }
}

<link href=@Url.Content("~/Content/VLE/css/addons/owl.carousel.min.css?rnd=" + rnd) rel="stylesheet" />
<link href=@Url.Content("~/Content/VLE/css/addons/owl.theme.default.min.css") rel="stylesheet" />


<div class="row mt-4">
    <div class="col-lg-9 col-md-8 col-12">
        <!-- dashboard banner start -->
        <div class="card bg-transparent shadow-none mb-0">
            <div class="card-body">
                <ul class="owl-carousel owl-theme" id="dashboardBanners">
                    @if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                    {
                        if (Model.SchoolBanners.Any() && Model.SchoolBanners.Count() > 0)
                        {
                            foreach (var item in Model.SchoolBanners)
                            {
                                <li class="item position-relative">
                                    <img src="@(PhoenixConfiguration.Instance.ReadFilePath+ item.ActualImageName)" class="img-fluid d-block">
                                </li>
                            }
                        }
                        else
                        {
                            <li class="item position-relative">
                                <img src="@Url.Content("~/Content/VLE/img/elite-dashboard-banner-1.png")" class="img-fluid d-block">
                            </li>

                            <li class="item position-relative">
                                <img src="@Url.Content("~/Content/VLE/img/elite-dashboard-banner-2.png")" class="img-fluid d-block">
                            </li>

                            <li class="item position-relative">
                                <img src="@Url.Content("~/Content/VLE/img/elite-dashboard-banner-3.png")" class="img-fluid d-block">
                            </li>
                        }
                    }
                    else
                    {
                        if (Model.SchoolBanners.Any() && Model.SchoolBanners.Count() > 0)
                        {
                            foreach (var item in Model.SchoolBanners)
                            {
                                <li class="item position-relative">
                                    <img src="@(PhoenixConfiguration.Instance.ReadFilePath+ item.ActualImageName)" class="img-fluid d-block">
                                    <div class="caption position-absolute w-100 py-3">
                                        <p class="text-center m-0">@item.BannerName  </p>
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="item position-relative">
                                <img src="@Url.Content("~/Content/VLE/img/dashboard-banner-1.jpg")" class="img-fluid d-block">
                                <div class="caption position-absolute w-100 py-3">
                                    <p class="text-center m-0">Transformative Learning & Teaching Spaces</p>
                                </div>
                            </li>

                            <li class="item position-relative">
                                <img src="@Url.Content("~/Content/VLE/img/dashboard-banner-2.jpg")" class="img-fluid d-block">
                                <div class="caption position-absolute w-100 py-3">
                                    <p class="text-center m-0">Transformative Learning & Teaching Spaces</p>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <!-- dashboard banner end -->
    </div>

    <!-- student info section start -->

    <div class="col-lg-3 col-md-4 col-12 my-3 my-md-0">
        @{
            StudentDashboardBadgesViewModel badgesViewModel = new StudentDashboardBadgesViewModel();
            badgesViewModel.UserDisplayName = (!string.IsNullOrWhiteSpace(SessionHelper.CurrentSession.CurrentSelectedStudent.UserDisplayName) ? SessionHelper.CurrentSession.CurrentSelectedStudent.UserDisplayName : SessionHelper.CurrentSession.CurrentSelectedStudent.UserName);
            badgesViewModel.TotalActivePoints = Model.TotalActivePoints;
            badgesViewModel.Badges = Model.Badges;

            Html.RenderPartial("_StudentDashboardBadges", badgesViewModel);
        }
    </div>
    <!-- student info section end -->
</div>


<!--Today's schedule and what's new section start -->
<div class="row mt-2 mb-2 overflow-hidden">
    <div class="col-12 nonflicker-tabs">
        <ul class="nav nav-tabs mb-0 border-0" role="tablist">
            <li class="nav-item mr-1">
                <a class="nav-link active text-semibold border-0 text-uppercase py-2 py-md-3 px-2 px-md-4" id="today-schedule-tab" data-toggle="tab" href="#today-schedule" role="tab" aria-selected="true">@ResourceManager.GetString("School.SchoolSpace.Schedule")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-semibold border-0 text-uppercase py-2 py-md-3 px-2 px-md-4" id="what-new-tab" data-toggle="tab" href="#what-new" role="tab" aria-selected="false">@ResourceManager.GetString("School.SchoolSpace.WhatsNew")</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane todays-schedule fade show active" id="today-schedule" role="tabpanel" aria-labelledby="today-schedule-tab">
                <div class="card">
                    <div class="card-body column-padding py-3">
                        <div id="todays-schedule-carousel" class="owl-carousel owl-theme todaysScheduleCarousel">
                        </div>
                        <span id="noTodaysEventData" class="no-data-found text-bold mx-auto my-auto mt-1 d-none">
                            @string.Format(ResourceManager.GetString("School.SchoolSpace.NoDataDisplayMessage"), ResourceManager.GetString("School.SchoolSpace.Schedule").ToLower())
                        </span>
                        <span id="noTodaysNote" class="text-bold d-none mt-3">@ResourceManager.GetString("School.SchoolSpace.NotePlanner")</span>
                    </div>
                </div>
            </div>
            <div class="tab-pane whats-new-section fade" id="what-new" role="tabpanel" aria-labelledby="what-new-tab">

                @if (Model.Notifications != null && Model.Notifications.Count() > 0)
                {
                    <div class="card">
                        <div class="card-body column-padding py-3">
                            <div id="whatsNewCarousel" class="owl-carousel owl-theme whatsNewCarousel">
                                @foreach (var item in Model.Notifications.Take(4).OrderByDescending(e => e.DateTime)) //OrderBy(e => e.IsFavorite).ThenBy(e => !e.IsRead)
                                {
                                    int taskId = 0;
                                    int _studentId = 0;
                                    string onclickURL = "";

                                    if (!string.IsNullOrEmpty(item.referenceID))
                                    {
                                        if (item.referenceID.Contains("|"))
                                        {
                                            var ids = item.referenceID.Split('|');
                                            taskId = Convert.ToInt32(ids[0]);
                                            _studentId = Convert.ToInt32(ids[1]);
                                        }
                                        if (item.Category == "CAN")
                                        {
                                            onclickURL = "globalFunctions.openNotification('" + item.Category + "','" + item.referenceID + "',false,'" + EncryptDecryptHelper.EncryptUrl(item.NotificationID) + "', " + item.NotificationID + ")";
                                        }
                                        else if (taskId > 0 && _studentId > 0)
                                        {
                                            onclickURL = "globalFunctions.openNotification('" + item.Category + "','" + @EncryptDecryptHelper.EncryptUrl(taskId.ToString()) + "',false,'" + @EncryptDecryptHelper.EncryptUrl(item.NotificationID) + "', " + item.NotificationID + ",'" + EncryptDecryptHelper.EncryptUrl(_studentId.ToString()) + "')";
                                        }
                                        else
                                        {
                                            onclickURL = "globalFunctions.openNotification('" + item.Category + "','" + EncryptDecryptHelper.EncryptUrl(item.referenceID) + "',false,'" + EncryptDecryptHelper.EncryptUrl(item.NotificationID) + "', " + item.NotificationID + ")";
                                        }
                                    }

                                    <div style="cursor: pointer;" onclick="@onclickURL">
                                        <article class="m-0 p-3 rounded-2x d-flex align-items-start">
                                            <span class="user-avatar bg-white rounded-circle overflow-hidden d-block mr-3">
                                                @if (item.Category.ToLower() == "chat")
                                                {
                                                    <img src="@Url.Content(GetIcon(item.Category))" alt="" class="svg img-fluid">
                                                }
                                                else
                                                {
                                                    <i class="@GetIcon(item.Category)"></i>
                                                }
                                            </span>
                                            <a href="javascript:void(0)" class="content mw-75">
                                                <h5 class="m-0 mb-1 text-semibold text-truncate">
                                                    @item.Title
                                                </h5>
                                                <p class="m-0">@(item.Message.Length > maxLength ? $"{item.Message.Substring(0, maxLength)}..." : item.Message)</p>
                                                <h4 class="sub-heading mb-0 mt-2 text-muted">@item.DateTime.ToString("dd-MMM-yyyy")</h4>
                                            </a>
                                        </article>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {

                    <div class="card">
                        <div class="card-body column-padding py-3">
                            <span class="no-data-found text-bold mx-auto my-auto mt-1 d-block">
                                @ResourceManager.GetString("Dashboard.User.NoDataWhatsNew")
                            </span>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<!--Today's schedule and what's new section end -->
<!-- group listing start -->
<div class="row overflow-hidden">
    <div class="col-12">
        <div class="section-title mb-0">
            <h3 class="text-uppercase">@ResourceManager.GetString("Dashboard.labels.Groups")</h3>
        </div>
        <div id="other-groups" class="owl-carousel owl-theme other-groups">
            <div class="loader-wrapper" id="loader-3">
                <div id="loader"></div>
                <div id="loader"></div>
                <div id="loader"></div>
                <div id="loader"></div>
                <div id="loader"></div>
            </div>
        </div>

    </div>
</div>
<!-- groups section end -->
<!-- Student Assignments Section Starts Here -->
<div class="row mb-3">
    <div class="col-12">
        <div class="section-title mb-0">
            <h3 class="text-uppercase">@ResourceManager.GetString("Dashboard.labels.Assignments")</h3>
        </div>
        <div class="row assignment-count mb-2">
            <div class="col-12">
                <div class="assignment-count-content d-flex flex-nowrap w-100">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Student Assignments Section Ends Here -->
<!--New dashboard static part starts here-->
<div class="row static-cards">
    <div class="col-lg-4 col-md-4 col-12">
        <div class="card p-3 assignment-card mb-3 mb-md-0">
            <h3 class="assignment-header text-uppercase text-semibold font-16 m-0 rounded-1x p-3 px-md-2 px-lg-3">
                <img src="~/Content/VLE/img/svg/menu/community.svg" class="mr-2 mr-md-2 mr-lg-2 mr-xl-3" alt=""> @ResourceManager.GetString("Dashboard.labels.SchoolCommunity")
            </h3>
            <p class="text-medium p-3 bg-white">@ResourceManager.GetString("Dashboard.labels.SchoolCommunityDesc")</p>
            <a href="/schoolstructure/schoolspaces" class="m-0 btn btn-outline-primary text-uppercase btn-sm mx-auto"><span class="text-semibold">@ResourceManager.GetString("Dashboard.labels.View")</span> </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-12">
        <div class="card p-3 planner-card mb-3 mb-md-0">
            <h3 class="planner-header text-uppercase text-semibold font-16 m-0 rounded-1x p-3 px-md-2 px-lg-3">
                <img src="~/Content/VLE/img/svg/menu/planner.svg" class="mr-2 mr-md-2 mr-lg-2 mr-xl-3" alt=""> @ResourceManager.GetString("Planner.MyPlanner.Planner")
            </h3>
            <p class="text-medium p-3 bg-white">@ResourceManager.GetString("Dashboard.labels.PlannerDesc")</p>
            <a href="/Planner/MyPlanner" class="m-0 btn btn-outline-primary text-uppercase btn-sm mx-auto"><span class="text-semibold">@ResourceManager.GetString("Dashboard.labels.View")</span> </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-12">
        <div class="card p-3 drive-card mb-3 mb-md-0">
            <h3 class="drive-header text-uppercase text-semibold font-16 m-0 rounded-1x p-3 px-md-2 px-lg-3">
                <img src="~/Content/VLE/img/svg/menu/drive.svg" class="mr-2 mr-md-2 mr-lg-2 mr-xl-3" alt=""> @ResourceManager.GetString("Dashboard.labels.Drive")
            </h3>
            <p class="text-medium p-3 bg-white">@ResourceManager.GetString("Dashboard.labels.DriveDesc") </p>
            <a href="/files/files" class="m-0 btn btn-outline-primary text-uppercase btn-sm mx-auto"><span class="text-semibold">@ResourceManager.GetString("Dashboard.labels.View")</span> </a>
        </div>
    </div>
    @*--Comment it as per request from Charan: Deepak Singh 7/Sept/2020
           <div class="col-lg-3 col-md-3 col-12">
            <div class="card p-3 chatter-card mb-3 mb-md-0">
                <h3 class="chatter-header text-uppercase text-semibold font-16 m-0 rounded-1x p-3 px-md-2 px-lg-3">
                    <img src="~/Content/VLE/img/svg/menu/chatter.svg" class="mr-2 mr-md-2 mr-lg-2 mr-xl-3" alt=""> @ResourceManager.GetString("Dashboard.labels.Chatter")
                </h3>
                <p class="text-medium p-3 bg-white">@ResourceManager.GetString("Dashboard.labels.ChatterDesc")</p>
                <a href="/schoolinfo/blog/viewmywall" class="m-0 btn btn-outline-primary text-uppercase btn-sm mx-auto" ><span class="text-semibold">@ResourceManager.GetString("Dashboard.labels.View")</span> </a>
            </div>
        </div>*@
</div>
<!--New dashboard static part ends here-->
<!--Commented the PLANNER html code-->
<!-- student's timeline start -->
@*<div class="row mt-3 mb-4 studentTimeline">
        <div class="col-12">
            <div class="section-title with-fields">
                <h3 class="text-uppercase">@ResourceManager.GetString("Planner.MyPlanner.Planner")</h3>
                <div class="title-fields">
                    @Html.DropDownList("EventCategoryId", new MultiSelectList(ViewBag.lstCategory, "ItemId", "ItemName"), new { @Id = "ddlFilterEvents", @class = "selectpicker ddlEventCategory", @title = "Select", @data_selected_text_format = "count>1", @name = "EventCategoryId", @multiple = "multiple", @data_style = "btn-white", @tabindex = "-98", @data_live_search = "true" })
                </div>
            </div>
            <div id="weekly-timeline" class="owl-carousel owl-theme timeline">

                <div class="item" id="item-sun">
                    <div class="card">
                        <div class="card-body column-padding py-3">
                            <h3 class="position-relative text-uppercase d-flex align-items-center m-0">
                                <span id="spanSun" class="initials rounded-circle d-inline-block mr-2">S</span>
                                <span class="text-medium">
                                    <strong>@ResourceManager.GetString("DashBoard.User.WeekNameSunday")</strong>
                                    <span id="sun-date" class="date"></span>
                                </span>
                            </h3>
                            <div class="content">
                                <ul id="sun-events-holder" class="mt-4"></ul>
                                <span id="noDataSpan" class="no-data-found text-bold mx-auto my-auto mt-1 d-none">
                                    @ResourceManager.GetString("School.SchoolSpace.NoEventsData")
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" id="item-mon">
                    <div class="card">
                        <div class="card-body column-padding py-3">
                            <h3 class="position-relative text-uppercase d-flex align-items-center m-0">
                                <span id="spanMon" class="initials rounded-circle d-inline-block mr-2">M</span>
                                <span class="text-medium">
                                    <strong>@ResourceManager.GetString("DashBoard.User.WeekNameMonday")</strong>
                                    <span id="mon-date" class="date"></span>
                                </span>

                            </h3>
                            <div class="content">
                                <ul id="mon-events-holder" class="mt-4"></ul>
                                <span id="noDataSpanMon" class="no-data-found text-bold mx-auto my-auto mt-1 d-none">
                                    @ResourceManager.GetString("School.SchoolSpace.NoEventsData")
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" id="item-tue">
                    <div class="card">
                        <div class="card-body column-padding py-3">
                            <h3 class="position-relative text-uppercase d-flex align-items-center m-0">
                                <span id="spanTue" class="initials rounded-circle d-inline-block mr-2">T</span>
                                <span class="text-medium">
                                    <strong>@ResourceManager.GetString("DashBoard.User.WeekNameTuesday")</strong>
                                    <span id="tue-date" class="date"></span>
                                </span>
                            </h3>
                            <div class="content">
                                <ul id="tue-events-holder" class="mt-4"></ul>
                                <span id="noDataSpanTue" class="no-data-found text-bold mx-auto my-auto mt-1 d-none">
                                    @ResourceManager.GetString("School.SchoolSpace.NoEventsData")
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" id="item-wed">
                    <div class="card">
                        <div class="card-body column-padding py-3">
                            <h3 class="position-relative text-uppercase d-flex align-items-center m-0">
                                <span id="spanWed" class="initials rounded-circle d-inline-block mr-2">W</span>
                                <span class="text-medium">
                                    <strong>@ResourceManager.GetString("DashBoard.User.WeekNameWednesday")</strong>
                                    <span id="wed-date" class="date"></span>
                                </span>
                            </h3>
                            <div class="content">
                                <ul id="wed-events-holder" class="mt-4"></ul>
                                <span id="noDataSpanWed" class="no-data-found text-bold mx-auto my-auto mt-1 d-none">
                                    @ResourceManager.GetString("School.SchoolSpace.NoEventsData")
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" id="item-thu">
                    <div class="card">
                        <div class="card-body column-padding py-3">
                            <h3 class="position-relative text-uppercase d-flex align-items-center m-0">
                                <span id="spanThu" class="initials rounded-circle d-inline-block mr-2">T</span>
                                <span class="text-medium">
                                    <strong>@ResourceManager.GetString("DashBoard.User.WeekNameThursday")</strong>
                                    <span id="thu-date" class="date"></span>
                                </span>
                            </h3>
                            <div class="content">
                                <ul id="thu-events-holder" class="mt-4"></ul>
                                <span id="noDataSpanThu" class="no-data-found text-bold mx-auto my-auto mt-1 d-none">
                                    @ResourceManager.GetString("School.SchoolSpace.NoEventsData")
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" id="item-fri">
                    <div class="card">
                        <div class="card-body column-padding py-3">
                            <h3 class="position-relative text-uppercase d-flex align-items-center m-0">
                                <span id="spanFri" class="initials rounded-circle d-inline-block mr-2">F</span>
                                <span class="text-medium">
                                    <strong>@ResourceManager.GetString("DashBoard.User.WeekNameFriday")</strong>
                                    <span id="fri-date" class="date"></span>
                                </span>
                            </h3>
                            <div class="content">
                                <ul id="fri-events-holder" class="mt-4"></ul>
                                <span id="noDataSpanFri" class="no-data-found text-bold mx-auto my-auto mt-1 d-none">
                                    @ResourceManager.GetString("School.SchoolSpace.NoEventsData")
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" id="item-sat">
                    <div class="card">
                        <div class="card-body column-padding py-3">
                            <h3 class="position-relative text-uppercase d-flex align-items-center m-0">
                                <span id="spanSat" class="initials rounded-circle d-inline-block mr-2">S</span>
                                <span class="text-medium">
                                    <strong>@ResourceManager.GetString("DashBoard.User.WeekNameSaturday")</strong>
                                    <span id="sat-date" class="date"></span>
                                </span>
                            </h3>
                            <div class="content">
                                <ul id="sat-events-holder" class="mt-4"></ul>
                                <span id="noDataSpanSat" class="no-data-found text-bold mx-auto my-auto mt-1 d-none">
                                    @ResourceManager.GetString("School.SchoolSpace.NoEventsData")
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>*@
<!-- student's timeline end -->

<div class="row d-none">
    <!-- attendace, leave request start -->
    <div class="col-12">
        <div class="section-title">
            <h3 class="text-uppercase">@ResourceManager.GetString("DashBoard.labels.AttendanceandLeaveRequest")</h3>
        </div>
        <div class="card attendance-card">
            <div class="card-body pb-0 pt-4 attendance-section">
                <div class="column-padding">
                    <div class="row">
                        <!-- <div class="col-6">
                            <span class="mt-1 d-inline-block"><img src="img/svg/ic-attendance.svg" class="svg mr-2" alt=""></span><strong class="text-uppercase">Attendance</strong>
                        </div> -->
                        <div class="col-12">
                            <div class="duration-selection d-flex justify-content-between align-items-center border rounded py-1 ml-auto">
                                <span><small>@ResourceManager.GetString("DashBoard.labels.Duration")</small></span>
                                <div class="duration-dropdown ">
                                    <a href="javascript:void(0)" class="nav-link p-0 dropdown-toggle text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <small><strong>@ResourceManager.GetString("DashBoard.labels.Month")</strong></small>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right z-depth-1 pt-2 pb-2 animate slideIn">
                                        <a class="dropdown-item px-3 py-2" href="#">@ResourceManager.GetString("DashBoard.labels.Month")</a>
                                        <a class="dropdown-item px-3 py-2" href="#">@ResourceManager.GetString("DashBoard.labels.Year")</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mb-0">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <div class="d-flex justify-content-center align-items-center h-100 border-right flex-column py-4">
                            <h1 class="m-0 text-success">96%</h1>
                            <h5 class="my-4 text-center">12/15 <span class="d-block">@ResourceManager.GetString("DashBoard.labels.SessionsAttendedIn") <span class="text-semibold text-dark">May</span></span></h5>
                            <button class="btn btn-primary py-2 m-0 rounded text-capitalize text-semibold shadow-none" onclick="location.href = '/parentcorner/leave/leavedetails';">@ResourceManager.GetString("DashBoard.labels.ApplyLeave") </button>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-12">
                        <div class="py-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="week-name d-flex align-items-center">
                                        <p class="m-0 text-semibold">@ResourceManager.GetString("Dashboard.User.WeekNameSunday")</p>
                                        <p class="m-0 text-semibold">@ResourceManager.GetString("Dashboard.User.WeekNameMonday")</p>
                                        <p class="m-0 text-semibold">@ResourceManager.GetString("Dashboard.User.WeekNameTuesday")</p>
                                        <p class="m-0 text-semibold">@ResourceManager.GetString("Dashboard.User.WeekNameWednesday")</p>
                                        <p class="m-0 text-semibold">@ResourceManager.GetString("Dashboard.User.WeekNameThursday")</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="status d-flex align-items-center my-3 w-100">
                                        <i class="fas fa-check-circle text-success"></i>
                                        <i class="fas fa-check-circle text-success"></i>
                                        <i class="fas fa-check-circle text-success"></i>
                                        <i class="fas fa-check-circle text-success"></i>
                                        <i class="fas fa-check-circle text-success"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="status d-flex align-items-center my-3 w-100">
                                        <i class="fas fa-check-circle text-success"></i>
                                        <i class="fas fa-check-circle text-success"></i>
                                        <i class="fas fa-check-circle text-success"></i>
                                        <i class="fas fa-times-circle text-danger"></i>
                                        <i class="fas fa-check-circle text-success"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="status d-flex align-items-center my-3 w-100">
                                        <i class="fas fa-check-circle text-success"></i>
                                        <i class="fas fa-check-circle text-success"></i>
                                        <i class="fas fa-times-circle text-danger"></i>
                                        <i class="fas fa-check-circle text-success"></i>
                                        <i class="fas fa-check-circle text-success"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="status d-flex align-items-center my-3 w-100">
                                        <i class="fas fa-check-circle text-success"></i>
                                        <i class="fas fa-check-circle text-success"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- attendace, leave request end -->
</div>

<!-- Leaderboard right drawer start -->
<div id="leaderBoard" class="right-drawer z-depth-1">
    <div class="right-drawer-container">

        <div class="row column-padding pt-3 pb-4 border-bottom pointsBreakdown" style=" background: #ecf6ff;">
            <div class="col-lg-12 col-md-12 col-12">
                <h2 class="m-0 text-center personal-points text-primary">
                    @(!string.IsNullOrWhiteSpace(SessionHelper.CurrentSession.CurrentSelectedStudent.UserDisplayName) ? SessionHelper.CurrentSession.CurrentSelectedStudent.UserDisplayName : SessionHelper.CurrentSession.CurrentSelectedStudent.UserName)
                    <span id="overallPoints">0 <span class="ml-2">@ResourceManager.GetString("Dashboard.User.Points")</span></span>
                </h2>
                <ul class="points-stats d-flex justify-content-between align-items-center">
                    <li class="hoverable" id="videoPoints">0 <span>@ResourceManager.GetString("Dashboard.User.DailyVideos")</span></li>
                    <li class="hoverable" id="physicalPoints">0 <span>@ResourceManager.GetString("Dashboard.User.PhysicalActivity")</span></li>
                    <li class="hoverable" id="artsPoints">0 <span>@ResourceManager.GetString("Dashboard.User.AllProjects")</span></li>
                </ul>
            </div>
            <div class="close-rightdraw">
                <a href="javascript:void(0)" class="closeRightLeadBoardDrawer"><i class="fas fa-times"></i></a>
            </div>
        </div>

        <div id="leadBoardContent" style="overflow: hidden; ">

        </div>

    </div>
</div>
<!-- Leaderboard right drawer end -->

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}
@section scripts
{
    <script>
        translatedResources.SessionWith = '@ResourceManager.GetString("Planner.MyPlanner.SessionWith")';
        translatedResources.LiveSession = '@ResourceManager.GetString("Planner.MyPlanner.LiveSession")';
        translatedResources.JoinNow = '@ResourceManager.GetString("Planner.MyPlanner.JoinNow")';
        translatedResources.Live = '@ResourceManager.GetString("Planner.MyPlanner.Live")';
        translatedResources.DashboardShowing = '@ResourceManager.GetString("Shared.Labels.DashboardShowing")';
    </script>
    <script src="@Url.Content("~/Content/js/custom/Parent/ParentDashboard.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/MyPlanner/WeeklyTimeTableEvents.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/common/StudentBadges.js?v=" + @ResourceManager.GetString("Shared.Version.Js"))"></script>

    <script>

        let pageDirection = $("html").attr("dir");
        if (pageDirection == "rtl") {
            direction = true
        } else {
            direction = false
        }

    </script>

}
