﻿@using Phoenix.Common.Enums
@using Phoenix.Common.Localization
@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.VLE.Web.ViewModels.PlanSchemeViewModel>


@{
    var rnd = DateTime.Now.Ticks.ToString();
    int counter = 0;
    int ThumbnailCount = 1;
}
@{
    List<Phoenix.Models.Entities.LessonPlanFilterModule> selectedParameterList = new List<Phoenix.Models.Entities.LessonPlanFilterModule>();
    if (Session["SelectedParameterList"] != null)
    {
        selectedParameterList = (List<Phoenix.Models.Entities.LessonPlanFilterModule>)Session["SelectedParameterList"];
    }
}
<div class="list-wrapper hide-item pb-5">
    <div class="row template-list">
        <div class="row filter-container col-lg-12 ">
            <ul class="filter-list d-flex flex-wrap" id="selectedFilterList">
                @foreach (var grp in selectedParameterList)
                {
                    if (grp != null && !string.IsNullOrEmpty(grp.Group))
                    {
                        <li class="py-2 px-3 d-flex justify-content-between rounded">
                            @grp.Group
                            <button class="btn btn-close waves-effect waves-light" data-id=@grp.GroupId>X</button>
                        </li>
                    }
                }
            </ul>
        </div>

        @if (Model.PageRecords.Count == 0)
        {
            <div class='col-lg-12 mb-4'>
                <span class='no-data-found text-bold d-block mx-auto my-auto'>
                    @string.Format(ResourceManager.GetString("Template.PlanScheme.NoDataDisplayMessage"), ResourceManager.GetString("Template.PlanScheme.LessonPlan").ToLower())
                </span>
            </div>
        }


        <table class="table mw-100 student-list-table" id="myfiles-list">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="nosort">@ResourceManager.GetString("Template.PlanScheme.PlanName")</th>
                    <th scope="col" class="nosort">@ResourceManager.GetString("Template.PlanScheme.SharedWith")</th>
                    <th scope="col" class="nosort">@ResourceManager.GetString("Template.PlanScheme.Date")</th>
                    <th scope="col" class="nosort">@ResourceManager.GetString("Template.PlanScheme.PlanTemplate")</th>
                    <th scope="col" class="nosort">@ResourceManager.GetString("Template.PlanScheme.CreatedBy")</th>
                    <th scope="col" class="nosort">@ResourceManager.GetString("Template.PlanScheme.Status")</th>
                    <th scope="col" class="nosort">@ResourceManager.GetString("Template.PlanScheme.Action")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var PlanSchemeData in Model.PageRecords)
                {
                    var dvClass = "card pt-4 pb-3 px-4 border shared-with-me";
                    if (PlanSchemeData.IsSharedWithMe == true)
                    {
                        dvClass = "card pt-4 pb-3 px-4 border shared-with-me";
                    }
                    else
                    {
                        dvClass = "card pt-4 pb-3 px-4 border";
                    }
                <tr class="row">
                    <td>@PlanSchemeData.SchemeName</td>
                    <td>
                        @if (PlanSchemeData.SharedLessonPlanTeacherList.Count() > 0)
                        {
                            var anchorclass = "";
                            if (PlanSchemeData.IntStatus == (int)Phoenix.Common.Enums.TemplateStatus.Approved)
                            {
                                anchorclass = "member-group btnSharePlanScheme";
                            }
                            else
                            {
                                anchorclass = "member-group ";
                            }
                            ThumbnailCount = 1;
                            <a class="@anchorclass" data-planSchemeId="@PlanSchemeData.SchemeId">
                                @foreach (var TeacherDetail in PlanSchemeData.SharedLessonPlanTeacherList as List<Phoenix.Models.User>)
                                {
                                    var TecherImg = string.IsNullOrEmpty(TeacherDetail.ProfilePhoto) ? "/content/VLE/img/avatar-1.jpg" : Phoenix.Common.Helpers.PhoenixConfiguration.Instance.ReadFilePath + Constants.TeacherProfilePath + TeacherDetail.ProfilePhoto;
                                    if (ThumbnailCount <= 4)
                                    {
                                        <img src="@TecherImg" class="overlapp-img" />
                                        ThumbnailCount++;
                                    }
                                }
                                @if (PlanSchemeData.SharedLessonPlanTeacherList.Count() > 4)
                                {
                                    var Count = "+" + (PlanSchemeData.SharedLessonPlanTeacherList.Count() - 4);
                                    <button class="bg-info text-white text-bold overlapp-img">@Count</button>
                                }
                            </a>
                        }
                    </td>
                    <td>@PlanSchemeData.CreateDate</td>
                    <td>@PlanSchemeData.PlanTemplateName</td>
                    <td>@PlanSchemeData.CreatedByName</td>
                    <td>
                        <span class="d-table-cell text-semibold">
                            @if (@PlanSchemeData.StringStatus == Enum.GetName(typeof(TemplateStatus), TemplateStatus.New))
                            {
                                <span class="status new">@PlanSchemeData.StringStatus</span>
                            }
                            else if (@PlanSchemeData.StringStatus == Enum.GetName(typeof(TemplateStatus), TemplateStatus.Approved).Replace(" ", ""))
                            {
                                <span class="status approved">@PlanSchemeData.StringStatus</span>
                            }
                            else if (@PlanSchemeData.StringStatus == Enum.GetName(typeof(TemplateStatus), TemplateStatus.Pending).Replace(" ", ""))
                            {
                                <span class="status pending">@PlanSchemeData.StringStatus</span>
                            }
                            else if (@PlanSchemeData.StringStatus == Enum.GetName(typeof(TemplateStatus), TemplateStatus.Rejected).Replace(" ", ""))
                            {
                                <span class="status ">@PlanSchemeData.StringStatus</span>
                            }
                        </span>

                    </td>
                    <td>
                        @{
                            if (PlanSchemeData.IsAdminApprovalRequired == true)
                            {
                                <button class="icon-btn">
                                    <a href="@PlanSchemeData.PreviewActionsUrl">
                                        <img src="~/Content/img/svg/view.svg" class="svg" />
                                    </a>
                                </button>
                                if (PlanSchemeData.IntStatus == (int)Phoenix.Common.Enums.TemplateStatus.Approved)
                                {
                                    <button class="icon-btn">
                                        <img src="~/Content/img/svg/tick-mark-green.svg" style="margin-left: 10px;" class="svg" />
                                    </button>
                                }
                                else if (PlanSchemeData.IntStatus == (int)Phoenix.Common.Enums.TemplateStatus.New &&
                                PlanSchemeData.CreatedById == Phoenix.Common.Helpers.SessionHelper.CurrentSession.Id)
                                {
                                    <button class="btnApproved icon-btn" data-planSchemeId="@PlanSchemeData.SchemeId">
                                        <img src="~/Content/img/svg/group.svg" style="margin-left: 10px;" class="svg" />
                                    </button>
                                }
                                <button class="btnEditPlanScheme icon-btn" data-planSchemeId="@PlanSchemeData.SchemeId">
                                    <img src="~/Content/img/svg/pencil.svg" class="svg ml-3">
                                </button>

                                <button class="btnDeletePlanScheme icon-btn" data-planSchemeId="@PlanSchemeData.SchemeId">
                                    <img src="~/Content/img/svg/delete.svg" class="svg ml-3">
                                </button>
                            }
                            else if (PlanSchemeData.IntStatus == (int)Phoenix.Common.Enums.TemplateStatus.New &&
                                PlanSchemeData.CreatedById == Phoenix.Common.Helpers.SessionHelper.CurrentSession.Id)
                            {
                                <button class="icon-btn">
                                    <a href="@PlanSchemeData.EditActionUrl">
                                        <img src="~/Content/img/svg/pencil.svg" class="svg ml-3">
                                    </a>
                                </button>
                                <button class="btnDeletePlanScheme icon-btn" data-planSchemeId="@PlanSchemeData.SchemeId">
                                    <img src="~/Content/img/svg/delete.svg" class="svg ml-3">
                                </button>
                                if (PlanSchemeData.IsAdminApprovalRequired == true)
                                {
                                    <button class="btnApproved icon-btn" data-planSchemeId="@PlanSchemeData.SchemeId">
                                        <img src="~/Content/img/svg/group.svg" class="svg ml-3">
                                    </button>
                                }
                            }

                            else if (
                                PlanSchemeData.IntStatus != (int)Phoenix.Common.Enums.TemplateStatus.New &&
                                PlanSchemeData.CanApprovePlan &&
                                PlanSchemeData.CreatedById != Phoenix.Common.Helpers.SessionHelper.CurrentSession.Id)
                            {
                                <button class="icon-btn">
                                    <a href="@PlanSchemeData.PreviewActionsUrl">
                                        <img src="~/Content/img/svg/view.svg" class="svg" />
                                    </a>
                                </button>

                                if (PlanSchemeData.IntStatus == (int)Phoenix.Common.Enums.TemplateStatus.Approved)
                                {
                                    <button class="icon-btn">
                                        <img src="~/Content/img/svg/tick-mark-green.svg" style="margin-left: 10px;" class="svg" />
                                    </button>
                                }
                            }
                            else
                            {
                                <button class="icon-btn">
                                    <a href="@PlanSchemeData.PreviewActionsUrl">
                                        <img src="~/Content/img/svg/view.svg" class="svg" />
                                    </a>
                                </button>

                            }
                            //if Document shared then shared with other
                            if (PlanSchemeData.IntStatus == (int)Phoenix.Common.Enums.TemplateStatus.Approved)
                            {
                                <button class="btnSharePlanScheme icon-btn" data-planSchemeId="@PlanSchemeData.SchemeId">
                                    <img src="~/Content/img/svg/ic-forward.svg" class="svg ml-3">
                                </button>
                            }
                        }
                    </td>
                </tr>

                }

            </tbody>
        </table>

    </div>
</div>
@Html.Partial("_PaginationIndex", Model)

@Html.Hidden("hdnPageNumber", Model.PageIndex)

