﻿@model Phoenix.Models.PlanSchemeDetail
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions

@*<input type="hidden" id="hdnPlanSchemeId" value="@ViewBag.SelectedTeacherIds" />*@
<input type="hidden" id="hdnPlanSchemeId" />
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="md-form md-outline">

                <select id="selectedTeachers" data-size="5" title="Select Teacher to share lesson plan" class="selectpicker select-picker-withImg" data-style="btn-white" multiple data-live-search="true">
                    @foreach (var teacher in ViewBag.lstTeachers as List<Phoenix.Models.User>)
                    {
                        var TecherImg =  teacher.UserImageFilePath;
                        //var TecherImg = string.IsNullOrEmpty(teacher.ProfilePhoto) ? "/content/VLE/img/avatar-1.jpg" : Phoenix.Common.Helpers.PhoenixConfiguration.Instance.ReadFilePath + Constants.TeacherProfilePath + teacher.UserImageFilePath;
                        <option data-thumbnail='@TecherImg'
                                value="@teacher.Id">
                            @teacher.FirstName @teacher.LastName
                        </option>
                    }
                </select>
                @Html.LocalizedLabel("active select-label", "Template.PlanScheme.SearchTeacher")
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12">
            <label class="text-semibold">Shared with @ViewBag.SharedCount teacher</label>
        </div>
        <div class="col-lg-12 col-md-12 col-12">
            <div class="teacher-list">
                @foreach (var teacher in ViewBag.lstSelectedTeachers as List<Phoenix.Models.User>)
                {
                    if (teacher != null)
                    {
                        var TecherImg =  teacher.UserImageFilePath;

                        <div class="d-flex justify-content-between border-bottom py-2" id="dvTeacher_@teacher.Id">
                            <div class="d-flex align-items-center">
                                <div class="defaultAvatar position-relative mr-2">
                                    <img src="@TecherImg" class="img-fluid rounded-circle mCS_img_loaded" alt="">
                                </div>
                                <div class="student-info">
                                    <span class="text-semibold text-primary d-block text-capitalize">@teacher.FirstName @teacher.LastName </span>
                                </div>
                            </div>

                            @*<button class="btn icon-btn DeleteSharedLesson" data-teacherid="@teacher.Id" type="button" id="btn_@teacher.Id">
                                    <img src="~/Content/vle/img/svg/tbl-delete.svg" class="svg ml-3">
                                </button>*@

                        </div>
                    }
                }
            </div>
        </div>
        <div></div>
    </div>
</div>


<div class="modal-footer d-flex justify-content-around border-0 pt-0">
    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No, Cancel It</button>
    <button type="button" class="btn btn-primary OkToShare">Yes, Share It</button>
</div>


@*<script src="@Url.Content("~/Content/js/custom/Templates/PlanDetails.js?v="+ @ResourceManager.GetString("Shared.Version.Js"))"></script>*@
<script>
    $(document).ready(function () {

        $(".teacher-list").mCustomScrollbar({
            setHeight: "400px",
            autoExpandScrollbar: true,
            autoHideScrollbar: true,
            scrollbarPosition: "outside"
        });
    })
</script>