﻿@model Phoenix.VLE.Web.EditModels.PlanSchemeDetailEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    var rnd = DateTime.Now.Ticks.ToString();
    var enableNext = Model.PlanSchemeDetailId == 0 ? "none" : "inline-block";
}

@using (Ajax.BeginForm("AddPlanSchemeDetail", "PlanScheme", new { @area = "document" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "planDetail.onSaveSuccess" }, new { id = "frmAddPlanScheme", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.PlanSchemeDetailId)
    @*@Html.HiddenFor(x => x.SelectedGrade)*@
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="title-with-fields">
                        <h3 class="card-title">@ResourceManager.GetString("Template.PlanScheme.Header")</h3>

                    </div>

                    <div class="question-wrapper column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 d-none">
                                <div class="md-form md-outline">
                                    @Html.TextBoxFor(x => x.SelectedGrade, new { @class = "form-control" })
                                    @Html.LocalizedLabel("active", "Template.PlanScheme.SelectedGrade")
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 d-none">
                                <div class="md-form md-outline">
                                    @Html.TextBoxFor(x => x.GroupList, new { @class = "form-control" })
                                    @Html.LocalizedLabel("active", "Template.PlanScheme.GroupList")
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 d-none">
                                <div class="md-form md-outline">
                                    @Html.TextBoxFor(x => x.UnitList, new { @class = "form-control" })
                                    @Html.LocalizedLabel("active", "Template.PlanScheme.GroupList")
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-5 col-12">
                                <div class="md-form md-outline">
                                    @Html.TextBoxFor(x => x.PlanSchemeName, new { @class = "form-control" })
                                    @Html.LocalizedLabel("active", "Template.PlanScheme.PlanSchemeName")
                                    @Html.ValidationMessageFor(e => e.PlanSchemeName)
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-12">
                                <div class="md-form md-outline">
                                    @Html.DropDownListFor(x => x.TemplateId, Model.TemplateList, new { @class = "selectpicker", @data_live_search = "true" })
                                    @Html.LocalizedLabel("active select-label", "Template.PlanScheme.TemplateList")
                                    @Html.ValidationMessageFor(e => e.TemplateId)
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-12">
                                <div class="md-form md-outline">
                                    <button id="btnPreview" type="button" class="btn btn-primary m-0 d-none">@ResourceManager.GetString("Template.PlanScheme.Preview")</button>
                                </div>
                            </div>
                        </div>
                        <div id="fillDataTitle" class="row d-none">
                            <div class="col-lg-12 col-md-12 col-12">
                                <h4 class="sub-heading">@ResourceManager.GetString("Template.PlanScheme.FillData")</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12" id="TemplateFields">
                                @if (Model.TemplateFields.Count > 0)
                                {
                                    Html.RenderPartial("_TemplateField", Model.TemplateFields);
                                }

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <button type="submit" id="btn-submit" class="btn btn-primary m-0">@(ResourceManager.GetString("Shared.Buttons.Save")+" & "+ ResourceManager.GetString("Shared.Buttons.Next"))</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subject-grp-wrapper d-flex">
                <div class="subject-grp-icon d-flex align-items-center justify-content-center">
                    <i class="fas fa-angle-double-right"></i>
                </div>
                <div class="subject-grp p-3">
                    <select class="selectpicker mb-3 ddlSchoolGroup" title="@ResourceManager.GetString("Template.PlanScheme.SelectGroup")" data_actions_box="true" id="selectedGroup" data-style="bg-white" data-live-search="true">
                        @foreach (var group in ViewBag.AssignedGroup as List<SelectListItem>)
                        {
                            <option value="@group.Value"> @group.Text </option>
                        }
                    </select>
                    <div class="subject-subwrapper">
                        <div class="accordion subject-accordian" id="unitBody">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="hdnAddedGroup" />

}


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @*@Html.Partial("_ValidationJSPartial")*@
}
@section scripts
{
    <script src="@Url.Content("~/Content/js/custom/Templates/PlanDetails.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    <script type="text/javascript">
        translatedResources.AddEditLessonPlan = '@ResourceManager.GetString("Template.PlanScheme.AddEditLessonPlan")';
        $("#btnBack").show();

        $(document).on('click', '#btnBack', function () {
            location.href = "/document/planscheme";
        });

        function trimTextBox(sender) {
            // keyCode == 32 is space(' ').
            if ((sender.value.length == 0 || sender.selectionStart == 0) && (window.event.keyCode == 32)) {
                return false;
            }
            else if (sender.value.charCodeAt(0) == 32) {
                sender.value = sender.value.substring(1);
            }
            return true;
        }
        $(window).on("load", function () {

            $(".subject-grp-icon").click(function () {

                $(".subject-grp").toggleClass("show");
                $('.selectpicker').selectpicker();
            });

            $(".sidebar-fixed .list-group").mCustomScrollbar({
                setHeight: "86%",
                autoExpandScrollbar: true,
                autoHideScrollbar: true,
                scrollbarPosition: "outside"
            });
            //toggleable right div scrollbar
            $(".subject-grp-wrapper .subject-grp .subject-subwrapper").mCustomScrollbar({
            });

            $('.loader-wrapper').fadeOut(500, function () {
                //$('.loader-wrapper').remove();
            });

            $('.close-icon').click(function () {
                $('.close-icon').removeClass('show-icon');
            })

        });


        //Start --> Drag and Drop Functionality
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }


        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");

            if (document.getElementById(data).getAttribute("class") == "Unit") {
                ev.target.value = document.getElementById(data).innerHTML.trim();
            } else {
               
                var str = $.parseHTML(document.getElementById(data).innerHTML)[0].wholeText;
                if (ev.target.value == "" || ev.target.value == undefined) {
                    ev.target.value = str.trim();
                } else {
                    ev.target.value = ev.target.value.trim() + ' - ' + unescape(escape(document.getElementById(data).innerHTML)).trim();
                }
                if ($('#UnitList').val().indexOf($('#hdnAddedGroup').val()) == -1) {
                    $('#UnitList').val($('#UnitList').val() + data + ', ');
                }
            }
            $('#lbl' + ev.target.id).addClass('active');

        }
        //End --> Drag and Drop Functionality
        $(document).off('change', '#TemplateId').on('change', '#TemplateId', function () {
            var id = $(this).val();
            if (id != 0) {
                //planDetail.loadPlanField(id);
                if ($('#GroupList').val() != '') {
                    $('#selectedGroup').val($('#GroupList').val());
                    loadUnitStructure();
                } else {
                    planDetail.loadPlanField(id);
                }
            }
            else {
                $("#TemplateFields").html("");
                $("#fillDataTitle").addClass("d-none");
            }
        })

        $('#TemplateId')
            .val($('#TemplateId').val())
            .trigger('change');

        function loadUnitStructure() {
           
            $('#unitBody').html('');
            $('#GroupList').val($('#selectedGroup').val() + ', ');
            $('#hdnAddedGroup').val($('#selectedGroup').val());

            $.ajax({
                url: '/document/planscheme/GetUnitStructure?groupIds=' + $('#selectedGroup').val(),
                type: 'POST',
                success: function (data) {
                    if (data.Success) {

                        $('#unitBody').html(data.planHTML);
                        console.log($('#TemplateId').val());
                        if ($('#TemplateId').val() != "" && $('#TemplateId').val() != undefined) {
                            planDetail.loadPlanField($('#TemplateId').val());
                            FillGrade($('#selectedGroup').val());
                        }
                        $('#selectedGroup').selectpicker('refresh');
                    }
                },
                error: function (data, xhr, status) {
                    globalFunctions.onFailure();
                }
            });
        }

        recFunction();
        $('.breadcrumbs .d-flex .active')[0].innerHTML = `${translatedResources.AddEditLessonPlan}`;
    </script>
}