﻿@using Phoenix.Common.Localization

@{
    var rnd = DateTime.Now.Ticks.ToString();
}

    <div class="row search-row d-flex flex-column flex-md-row justify-content-end pb-2 align-items-center">
        @Html.AntiForgeryToken()
        <div class="col-12 col-lg-9 col-md-8 d-flex justify-content-end" >
            <div class="search-with-bg w-responsive mb-2 mb-md-0">
                <span class="icon-search"></span>
                <input type="text" id="lessonPlanSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
            </div>

        </div>
        <div class="col-12 col-lg-3 col-md-4 d-flex justify-content-end" >
            <div class="custom-control custom-checkbox custom-control-inline ml-0 ml-md-3">
                <input type="checkbox" class="custom-control-input" id="chkApprovalRight">
                <label class="custom-control-label pl-2" for="chkApprovalRight">Admin Approval Needed?</label>
            </div>
        </div>
    </div>

    <div class="row grid-view">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card grid-list-card">
                <div class="list-wrapper table-responsive">
                    <table class="table mw-100 dataTable no-footer" id="tbl-PlanScheme">
                        <thead class="thead-dark"></thead>
                    </table>
                </div>
            </div>
        </div>
    </div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.planschemename= '@ResourceManager.GetString("Template.PlanScheme.PlanSchemeName")';
        translatedResources.title= '@ResourceManager.GetString("Template.Template.Title")';
        translatedResources.description = '@ResourceManager.GetString("Template.Template.Description")';
        translatedResources.templateType= '@ResourceManager.GetString("Template.Template.TemplateType")';
        translatedResources.period = '@ResourceManager.GetString("Template.Template.Period")';
        translatedResources.active = '@ResourceManager.GetString("Template.Template.IsActive")';
        translatedResources.status= '@ResourceManager.GetString("Template.Template.Status")';
    </script>
    <script src="@Url.Content("~/Content/js/custom/Templates/PlanDetails.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>
        console.log('hi');
        $('.list-pattern').addClass('d-none');
        GetValueFromDB($('#chkApprovalRight').prop('checked'), 'GET');
        planDetail.loadPlanGrid();
        $('.loader-wrapper').fadeOut(2000, function () {
        });


    </script>
}

