﻿@using Phoenix.Common.Localization

<style>
    .shared-with-me-tr {
        border: 1px solid #2b81e6 !important;
    }

        .shared-with-me-tr td {
            border-top: 1px solid #2b81e6;
            border-bottom: 1px solid #2b81e6;
        }

            .shared-with-me-tr td:last-child {
                position: relative;
            }

                .shared-with-me-tr td:last-child:before {
                    position: absolute;
                    display: block;
                    content: "";
                    right: 0;
                    top: 0;
                    background-color: #2b81e6;
                    width: 35px;
                    height: 35px;
                    border-radius: 0 0 0 35px;
                    -moz-border-radius: 0 0 0 35px;
                    -webkit-border-radius: 0 0 0 35px;
                }

                .shared-with-me-tr td:last-child:after {
                    position: absolute;
                    display: block;
                    right: 8px;
                    top: 8px;
                    font-size: 14px;
                    color: #fff;
                    content: "\f500";
                    font-family: "Font Awesome 5 Free";
                    font-style: normal;
                    font-variant-caps: normal;
                    -webkit-font-variant-ligatures: normal;
                    font-variant-ligatures: normal;
                    font-weight: 900;
                    height: 16px;
                    line-height: 16px;
                    text-rendering: auto;
                    width: 16px;
                    -webkit-font-smoothing: antialiased;
                }
</style>
<div class="row">
    <div class="col-12 mb-4">

        @*<div class="tabPanels">
        <ul class="nav nav-tabs defaultTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link text-semibold active" data-toggle="tab" href="#lessonPlans" role="tab">
                    Lesson Plans
                </a>
            </li>
        </ul>*@
        <div class="tab-content bg-transparent w-100">
            <div class="tab-pane fade active show" id="lessonPlans" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-lg-9 col-md-8 col-12 ">
                            <div class="search-row pt-4 mb-3 d-sm-flex align-items-center">
                                <div class="search-with-bg w-responsive border mb-2 mb-sm-0">
                                    <span class="icon-search"></span>
                                    <input id="txtsearchContent" type="text" class="searchfield search-field custom" placeholder="@ResourceManager.GetString("Template.PlanScheme.SearchLessonPlan")">
                                </div>
                                <div class="md-form md-outline sort-dropdown ml-0 ml-sm-3 mb-sm-0">
                                    <label class="select-label">@ResourceManager.GetString("Shared.Labels.SortBy")</label>
                                    <select class="selectpicker selSortBy">
                                        <option value="Date DESC">@ResourceManager.GetString("Template.PlanScheme.DateDesc")</option>
                                        <option value="Date ASC">@ResourceManager.GetString("Template.PlanScheme.DateAsc")</option>
                                        <option value="Name ASC">@ResourceManager.GetString("Template.PlanScheme.NameAsc")</option>
                                        <option value="Name DESC">@ResourceManager.GetString("Template.PlanScheme.NameDesc")</option>
                                    </select>
                                </div>
                            </div>

                            <div class="table-wrapper mt-2 pagination-panel" id="PlanSchemeGrid">
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-4 col-12 mt-3">

                            @{
                                Html.RenderAction("GetFilterPanelData", "PlanScheme", new { area = "Document" });
                            }

                            <button type="button" id="btnAddNewLessonPlan" class="btn btn-primary drop-up-btn position-fixed waves-effect waves-light" data-toggle="modal" data-target="#addResourcePopup">
                                <i style="color:white" class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    @*</div>*@
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="deletePopup" tabindex="-1" role="dialog" aria-labelledby="deletePopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <span class="delete-warning"></span>
                    <h4 class="text-semibold mt-4 mb-4 text-center">Are you Sure?</h4>
                    <h6 class="text-medium text-center">You will not be able to recover this file!</h6>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-around border-0 pt-0">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No, Cancel It</button>
                <button type="button" class="btn btn-primary OkToDelete">Yes, Delete It</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="SendForApprovalPopup" tabindex="-1" role="dialog" aria-labelledby="deletePopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <span class="delete-warning"></span>
                    @*<h4 class="text-semibold mt-4 mb-4 text-center">Are you Sure?</h4>*@
                    <h6 class="text-medium text-center">Are you sure want to send plan scheme for approval?</h6>
                </div>
            </div>
            <div class="modal-footer d-flex border-0 pt-0">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No, Cancel It</button>
                <button type="button" class="btn btn-primary OkToSend">Yes, Send It</button>
            </div>
        </div>
    </div>
</div>

<div id="dvShareDocument">
    @*@Html.Partial("_ShareLessonPlan", new Phoenix.Models.PlanSchemeDetail());*@
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.filetitle = '@ResourceManager.GetString("Files.File.Title")';
        translatedResources.foldertitle = '@ResourceManager.GetString("Files.Folder.Title")';
        translatedResources.View = '@ResourceManager.GetString("Shared.Buttons.View")';
        translatedResources.planschemename= '@ResourceManager.GetString("Template.PlanScheme.PlanSchemeName")';
        translatedResources.status = '@ResourceManager.GetString("Template.PlanScheme.Status")';
        translatedResources.approvalmsg= '@ResourceManager.GetString("Template.PlanScheme.ApprovalMsg")';
        translatedResources.updateTemplateStatus = '@ResourceManager.GetString("Template.Template.UpdateTemplateStatus")';
    </script>
    <script src="@Url.Content("~/Content/js/custom/Templates/PlanDetails.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>
        
        $(document).on('click', '#btnAddNewLessonPlan', function () {
            location.href = "/document/planScheme/AddPlanSchemeDetail";
        });

        function loadplanscheme() {
            var DynamicParameter = '&sortBy=' + $('.selSortBy').children("option:selected").val();
            if ($("input:checkbox.customCheckBox:checked").length > 0) {
                DynamicParameter = DynamicParameter + GetFilterOptionParameter();
            }

            var grid = new DynamicPagination("PlanSchemeGrid");
            var settings = {
                url: '/Document/PlanScheme/LoadPlanGrid?selectedSearchParameterId=' + AddSelectedParameterIdInArray() + '&selectedGroupList=' + AddSelectedParameterInArray() + '&PlanSchemeId=20&pageIndex=1' + DynamicParameter,
            };
            grid.init(settings);
        }

        $(document).ready(function () {

            loadplanscheme();

            $("body").on("click", ".openSearch", function () {
                $(this).parent().addClass("streched");
            });
            $("body").on("click", ".closeSearch", function () {
                $(this).parent().removeClass("streched");
            });
            $(".group-filter .filter-item-list").mCustomScrollbar({
                autoExpandScrollbar: true,
                scrollbarPosition: "outside"
            });
        });

        $('.list-pattern').removeClass('d-none');
    </script>
}


