﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Helpers.Extensions
@model List<Phoenix.VLE.Web.Models.EditModels.EnrolllActivityModel>
<input type="hidden" id="EnrollActivityCount" value="@Model.Count()">

    @{
        int i = 0;
    }
    @*......................Enrollactivities.............................*@

<style>
    .unsubscribeBtn {
        left: initial !important;
        right: -28px !important;
    }
    .disabledRatingsPoint > i {
        color: #d6d8da;
    }
</style>
    @foreach (var item in Model.OrderByDescending(item => item.eventRequestedOn))
    {
        item.EnrolledSiblingNames = string.IsNullOrEmpty(item.EnrolledSiblingNames) ? item.studentId : item.EnrolledSiblingNames;
        item.EnrolledSiblingStudentIDs = string.IsNullOrEmpty(item.EnrolledSiblingStudentIDs) ? item.studentId : item.EnrolledSiblingStudentIDs;

        <div class="row">
            <div class="col-12">
                <div class="card card-rectangle mb-3">
                    <div class="card-title pb-0">
                        @if (i == 0)
                        {
                            <div class="payment-strip pending-status">
                                <div class="left-strip">
                                    <div class="status-card">
                                        <p class="text-semibold">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Enrollrequestedon")</p>
                                        <span>@item.eventRequestedOn</span>
                                    </div>
                                    <div class="status-card">
                                        <p class="text-semibold">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Status")</p>
                                        <span>@item.enrollmentStatus</span>
                                    </div>
                                    <div class="status-card">
                                        <p class="text-semibold"> @ResourceManager.GetString("EnrollActivity.EnrollActivities.PaymentStatus")</p>
                                        <span>@item.paymentStatus</span>
                                    </div>
                                    @if (@item.paymentStatus == "Completed")
                                    {
                                        <div class="status-card">
                                            <a class="invoice-link" target="_blank" href="@item.ReceiptURL">
                                                <span class="text-semibold" style="color: white;">@ResourceManager.GetString("EnrollActivity.EnrollActivities.ViewInvoice") <i class="fa fa-angle-right"></i></span>
                                            </a>
                                        </div>
                                    }
                                </div>
                                <div class="right-strip">
                                    <div class="status-card">
                                        <p class="text-semibold">@ResourceManager.GetString("EnrollActivity.EnrollActivities.ChildEnrolled")</p>
                                        <div class="child-container">
                                            @item.EnrolledSiblingNames
                                        </div>
                                    </div>
                                    @if (item.showUnsubscribe == true)
                                    {
                                        <div class="btn-group btn-unsubscribe">
                                            <button type="button" class="btn btn-dots" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white"><span class="three-dots">...</span></button>
                                            <div class="dropdown-menu arrow-up unsubscribeBtn">
                                                <button type="button" class="dropdown-item text-dark text-semibold" data-toggle="modal" data-target="#unsubscribePopup">
                                                    <span class="unsubscribe-icon d-flex" onclick="UnsubscribeEventName('@item.eventName','@item.apdId')">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Unsubscribe")</span>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="payment-strip pending-status" style="background: #eff6f8;color:#212529">
                                <div class="left-strip">
                                    <div class="status-card">
                                        <p class="text-semibold">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Enrollrequestedon")</p>
                                        <span>@item.eventRequestedOn</span>
                                    </div>
                                    <div class="status-card">
                                        <p class="text-semibold">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Status")</p>
                                        <span>@item.enrollmentStatus</span>
                                    </div>
                                    <div class="status-card">
                                        <p class="text-semibold">@ResourceManager.GetString("EnrollActivity.EnrollActivities.PaymentStatus")</p>
                                        <span>@item.paymentStatus</span>
                                    </div>
                                    @if (@item.paymentStatus == "Completed")
                                    {
                                        <div class="status-card">
                                            <a class="invoice-link" target="_blank" href="@item.ReceiptURL">
                                                <span class="text-semibold">@ResourceManager.GetString("EnrollActivity.EnrollActivities.ViewInvoice") <i class="fa fa-angle-right"></i></span>
                                            </a>
                                        </div>
                                    }
                                </div>
                                <div class="right-strip">
                                    <div class="status-card">
                                        <p class="text-semibold">@ResourceManager.GetString("EnrollActivity.EnrollActivities.ChildEnrolled")</p>
                                        <div class="child-container">
                                            @item.EnrolledSiblingNames
                                        </div>
                                    </div>
                                    @if (item.showUnsubscribe == true)
                                    {
                                        <div class="btn-group btn-unsubscribe">
                                            <button type="button" class="btn btn-dots" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="three-dots">...</span></button>
                                            <div class="dropdown-menu arrow-up unsubscribeBtn">
                                                <button type="button" onclick="UnsubscribeEventName('@item.eventName','@item.apdId')" class="dropdown-item text-dark text-semibold" data-toggle="modal" data-target="#unsubscribePopup">
                                                    <span class="unsubscribe-icon d-flex">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Unsubscribe")</span>
                                                </button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <div class="card-body flex-card">
                        <div class="flex-card left-side dotted-line">                           
                            @if (item.activityIconPath != "")
                            {
                                 
                                <img class="img-fluid" src="@Url.Content(item.activityIconPath)" alt="@item.eventName" draggable="false">
                            }
                            <div class="info-container">
                                <div class="card-title p-0 mb-2">
                                    <span class="text-uppercase">@item.eventName</span>
                                    <span class="location location-icon">@item.eventLocation</span>
                                </div>

                                <p class="content text-medium mb-3">
                                    @item.eventDescription
                                </p>
                                <div class="badge-container">
                                    <div class="custom-badge">
                                        <small class="text-sm feather-calendar-icon">
                                            <span class="text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.EventDates")</span>@item.eventDate
                                        </small>
                                    </div>
                                    <div class="custom-badge">
                                        <small class="text-sm hour-glass-icon">
                                            <span class="text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Registerby")</span>@item.eventRequestEndDate
                                        </small>
                                    </div>
                                    @if (item.applicableGrades.Length > 8)
                                    {
                                        <div class="custom-badge">
                                            <small class="text-sm grade-icon">
                                                <span class="text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Grade")</span>
                                                @item.applicableGrades.Substring(0, 8) ...)
                                            <a href="javascript:void(0)" data-toggle="dropdown" style="font-size:10px;color:#007bff">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Readmore")</a>
                                                <div class="resource-info dropdown-menu mt-n5 z-depth-1 border-light rounded-2x p-0">
                                                    <div class="column-padding py-3">
                                                        <div class="content">
                                                            <p class="sub-heading text-semibold text-primary">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Grade")</p>
                                                            <p>@item.applicableGrades</p>
                                                        </div>
                                                        <div class="d-flex justify-content-end mt-4">
                                                            <button type="button" class="btn btn-outline-primary btn-sm m-0">@ResourceManager.GetString("Shared.Buttons.Close")</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </small>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="custom-badge">
                                            <small class="text-sm grade-icon">
                                                <span class="text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Grade")</span>
                                                @item.applicableGrades
                                            </small>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        @if (item.paymentStatus == "Pending")
                        {

                            @*<input type="hidden" id="SelectedEnrolledSiblingStudentIDs" value="@item.EnrolledSiblingStudentIDs" />*@
                            <div class="right-side">
                                <p class="ml-4 mb-3">
                                    <span class="dollar-icon text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.TotalAmount")</span>
                                    <span class="text-bold">@item.eventCost @ResourceManager.GetString("EnrollActivity.EnrollActivities.AED") </span>
                                </p>
                                <p>
                                    <span class="group-icon text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.AvailableSeats")</span>
                                    <span class="text-bold">@item.availableSeats</span>
                                </p>
                                @if (item.paymentStatus == "Pending" && item.enrollmentStatus == "Approved")
                                {
                                    <button class="btn btn-outline-deep-purple" style="text-transform: capitalize;font-size:9px;" onclick="PayOnline('@item.EnrolledSiblingStudentIDs','@item.onlinePaymentAllowed.ToString()','@item.paymentTypeID','@item.eventCost','@item.feeTypeId','@item.eventName','@item.paymentProcessingCharge.ToString()','@item.apdId','@item.feeCollType','@item.aldId')">@ResourceManager.GetString("EnrollActivity.EnrollActivities.PayOnline")</button>
                                }
                                else
                                {
                                    <div class="badge-container mb-3">
                                        <div class="custom-badge bg-warning mr-0">
                                            <small class="text-sm text-semibold text-white pending-icon">

                                                @ResourceManager.GetString("EnrollActivity.EnrollActivities.PendingforApproval")
                                            </small>
                                        </div>
                                    </div>
                                    <button class="btn btn-outline-deep-purple" disabled>@ResourceManager.GetString("EnrollActivity.EnrollActivities.PayOnline")</button>
                                }
                                <!--Pay online CONFIRM POPUP BUTTON-->
                                <!--<button class="btn btn-outline-deep-purple" data-toggle="modal" data-target="#confirmPopup">Pay Online</button>-->
                            </div>
                        }
                        else
                        {
                            if (item.feedbackRating == 0 && Convert.ToDateTime(item.eventEndDate).Date < DateTime.UtcNow.ConvertUtcToLocalTime().Value.Date)
                            {
                                <div class="right-side">
                                    <p class="text-semibold text-dark mb-4">
                                        @ResourceManager.GetString("EnrollActivity.EnrollActivities.activityexperience")
                                    </p>
                                    <h5 class="text-muted mb-3">
                                        <a onclick="Sendfeedbackpost(1,'@item.aldId')" id="Star1_@item.aldId"><i class="far fa-star"></i></a>
                                        <a onclick="Sendfeedbackpost(2,'@item.aldId')" id="Star2_@item.aldId"><i class="far fa-star"></i></a>
                                        <a onclick="Sendfeedbackpost(3,'@item.aldId')" id="Star3_@item.aldId"><i class="far fa-star"></i></a>
                                        <a onclick="Sendfeedbackpost(4,'@item.aldId')" id="Star4_@item.aldId"><i class="far fa-star"></i></a>
                                        <a onclick="Sendfeedbackpost(5,'@item.aldId')" id="Star5_@item.aldId"><i class="far fa-star"></i></a>
                                        <input type="hidden" id="activityidforstar" value="@item.aldId">
                                        <input type="hidden" id="Ratingcount">
                                    </h5>

                                    <button class="btn btn-outline-deep-purple" id="btn_send_@item.aldId" onclick="SubmitFeedback()">@ResourceManager.GetString("EnrollActivity.EnrollActivities.SubmitFeedback")</button>
                                </div>
                            }
                            else if (item.feedbackRating > 0)
                            {
                                {
                                    switch (item.feedbackRating.ToString())
                                    {
                                        case "1":
                                            <div class="right-side">
                                                <p class="text-semibold text-dark mb-4">
                                                    @ResourceManager.GetString("EnrollActivity.EnrollActivities.activityexperience")
                                                </p>
                                                <h5 class="text-muted mb-3">
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </h5>
                                                <button class="btn btn-outline-deep-purple" disabled="">@ResourceManager.GetString("EnrollActivity.EnrollActivities.SubmitFeedback")</button>
                                            </div>
                                            break;  // Always break each case
                                        case "2":
                                            <div class="right-side">
                                                <p class="text-semibold text-dark mb-4">
                                                    @ResourceManager.GetString("EnrollActivity.EnrollActivities.activityexperience")
                                                </p>
                                                <h5 class="text-muted mb-3">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </h5>
                                                <button class="btn btn-outline-deep-purple" disabled="">@ResourceManager.GetString("EnrollActivity.EnrollActivities.SubmitFeedback")</button>
                                            </div>
                                            break;
                                        case "3":
                                            <div class="right-side">
                                                <p class="text-semibold text-dark mb-4">
                                                    @ResourceManager.GetString("EnrollActivity.EnrollActivities.activityexperience")
                                                </p>
                                                <h5 class="text-muted mb-3">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </h5>
                                                <button class="btn btn-outline-deep-purple" disabled="">@ResourceManager.GetString("EnrollActivity.EnrollActivities.SubmitFeedback")</button>
                                            </div>
                                            break;
                                        case "4":
                                            <div class="right-side">
                                                <p class="text-semibold text-dark mb-4">
                                                    @ResourceManager.GetString("EnrollActivity.EnrollActivities.activityexperience")
                                                </p>
                                                <h5 class="text-muted mb-3">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </h5>
                                                <button class="btn btn-outline-deep-purple" disabled="">@ResourceManager.GetString("EnrollActivity.EnrollActivities.SubmitFeedback")</button>
                                            </div>
                                            break;

                                        default:
                                            <div class="right-side">
                                                <p class="text-semibold text-dark mb-4">
                                                    @ResourceManager.GetString("EnrollActivity.EnrollActivities.activityexperience")
                                                </p>
                                                <h5 class="text-muted mb-3">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </h5>
                                                <button class="btn btn-outline-deep-purple" disabled="">@ResourceManager.GetString("EnrollActivity.EnrollActivities.SubmitFeedback")</button>
                                            </div>
                                            break;
                                    }
                                }

                            }
                            else if (Convert.ToDateTime(item.eventEndDate) >= DateTime.UtcNow.ConvertUtcToLocalTime().Value.Date)
                            {
                                <div class="right-side" disabled="disabled">
                                    <p class="text-semibold text-dark mb-4">
                                        @ResourceManager.GetString("EnrollActivity.EnrollActivities.activityexperience")
                                    </p>
                                    <h5 class="text-muted mb-3 disabledRatingsPoint" disabled="disabled">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </h5>
                                    <button class="btn btn-outline-deep-purple" id="btn_send_@item.aldId" onclick="SubmitFeedback()" disabled="">@ResourceManager.GetString("EnrollActivity.EnrollActivities.SubmitFeedback")</button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        i++;
    }
    <div class="modal fade popup-purple-shade" id="unsubscribePopup" tabindex="-1" role="dialog" aria-labelledby="unsubscribePopup" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body p-5">
                    <div class="text-center">
                        <span class="delete-warning"></span>
                        <h4 class="text-semibold my-4 text-center dark-purple" id="AddEventname"></h4>
                        <h6 class="text-medium text-center">
                            @ResourceManager.GetString("EnrollActivity.EnrollActivities.activityagain")
                        </h6>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center border-0 pt-0 pb-5">
                    <button type="button" class="btn btn-outline-deep-purple m-0 mr-3" data-dismiss="modal">@ResourceManager.GetString("EnrollActivity.EnrollActivities.No")</button>
                    <button type="button" class="btn btn-deep-purple m-0 ml-1" onclick="UnsubscribeRequestSend()">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Unsubscribebutton")</button>
                </div>
            </div>
        </div>
    </div>




