﻿@model Phoenix.VLE.Web.Models.EditModels.AllActivities
@using Phoenix.Common.Localization
<!-- header end -->

<style>
    #collapseComment {
        height: 100px !important;
        padding-bottom: 20px;
    }

    .RequestTOEnrollbtn {
        text-transform: capitalize;
    }
</style>
<div class="container-fluid mt-3 mt-md-2 mb-4">
    <div class="row bg-white full-width-container mb-4">
        <div class="col-lg-12">
            <div class="card mb-3 mr-3">
                <div class="card-body banner-container">
                    <img class="img-fluid" src="~/Content/img/temp/available-activities.png" alt=" @ResourceManager.GetString("EnrollActivity.EnrollActivities.Classroom")" @*style="filter: grayscale(100%);"*@ draggable="false">
                    <div class="banner-text">
                        <h5 class="text-bold"> @ResourceManager.GetString("EnrollActivity.EnrollActivities.BannerTitle")</h5>
                        <p class="text-medium mb-0">
                            @ResourceManager.GetString("EnrollActivity.EnrollActivities.BannerMsg")<br />
                            @ResourceManager.GetString("EnrollActivity.EnrollActivities.BannerMsg2")<br />
                            @ResourceManager.GetString("EnrollActivity.EnrollActivities.BannerMsg3")
                        </p>
                    </div>
                </div>
            </div>

            <ul class="nav bordered-tab-item">
                <li class="nav-item text-left">
                    <a class="nav-link active" data-toggle="tab" href="#panel50" role="tab">
                        @ResourceManager.GetString("EnrollActivity.EnrollActivities.Available")
                    </a>
                </li>
                <li class="nav-item text-left">
                    <a class="nav-link" data-toggle="tab" href="#panel51" role="tab">
                        @ResourceManager.GetString("EnrollActivity.EnrollActivities.Upcoming")
                    </a>
                </li>
                <li class="nav-item text-left">
                    <a class="nav-link" data-toggle="tab" href="#panel52" role="tab">
                        @ResourceManager.GetString("EnrollActivity.EnrollActivities.Enrolled")
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content accordion-pane">
                <!--Panel 1-->
                <div class="tab-pane fade in show active" id="panel50" role="tabpanel">
                    <div class="col-lg-12 col-md-12 col-12">
                        @Html.Partial("_EnrolledActivityView", Model.InProcess.OrderByDescending(x => x.apdId).ToList())
                    </div>
                    <div class="col-lg-12 col-md-12 col-12">
                        <!--Accordion wrapper-->
                        <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
                            @*<div class="card">*@
                            @if (Model.Avaliable.Count > 0)
                            {
                                foreach (var AvaliableActivity in Model.Avaliable.OrderByDescending(x => x.GroupId))
                                {
                                    <div class="card">
                                        <input type="hidden" id="StudentNumber" value="@AvaliableActivity.StudentNumber">
                                        <!-- Card header -->
                                        <div class="card-header p-0" role="tab" id="headingTwo1">
                                            <a class="p-3" data-toggle="collapse" data-parent="#accordionEx1" href="#GroupId_@AvaliableActivity.GroupId"
                                               aria-expanded="true" aria-controls="GroupId_@AvaliableActivity.GroupId">
                                                <h5 class="mb-0">
                                                    @if (AvaliableActivity.GroupName == "")
                                                    {
                                                        <span class="title">
                                                            <span>@ResourceManager.GetString("EnrollActivity.EnrollActivities.Other")</span>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="title">
                                                            <span>@AvaliableActivity.GroupName</span>
                                                        </span>
                                                    }
                                                    @*<small class="text-limit float-right">(Maximum Limit: @AvaliableActivity.groupMaxLimit)</small>*@
                                                </h5>
                                                <span class="plus float-right"></span>
                                            </a>
                                        </div>
                                        <!-- Accordion card -->
                                        <div id="GroupId_@AvaliableActivity.GroupId" class="collapse show" role="tabpanel" aria-labelledby="headingTwo1"
                                             data-parent="#accordionEx1">
                                            <div class="p-4">
                                                @foreach (var item in AvaliableActivity.Activity)
                                                {
                                                    string allowMultiple = item.allowMultiple == true ? "true" : "false";
                                                    string isTermsExist = item.isTermsExist == true ? "true" : "false";
                                                    <div class="card card-rectangle mb-3">
                                                        <div class="card-body flex-card">
                                                            <div class="flex-card left-side dotted-line">
                                                                @if (!string.IsNullOrWhiteSpace(item.activityIconPath))
                                                                {
                                                                    <img class="img-fluid" src="@Url.Content(item.activityIconPath)" alt="@item.eventName" draggable="false">
                                                                }
                                                                <div class="info-container">
                                                                    <div class="card-title p-0 mb-2">
                                                                        <span class="text-uppercase text-bold">@item.eventName</span>
                                                                        <span class="location location-icon">@item.eventLocation</span>
                                                                    </div>
                                                                    <p class="content text-medium mb-3">
                                                                        @item.eventDescription
                                                                    </p>
                                                                    <div class="badge-container">
                                                                        <div class="custom-badge">
                                                                            <small class="text-sm feather-calendar-icon">
                                                                                <span class="text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.EventDates")</span>@Convert.ToDateTime(item.eventStartDate).ToString("dd MMM ‘yy") - @Convert.ToDateTime(item.eventEndDate).ToString("dd MMM ‘yy")
                                                                            </small>
                                                                        </div>
                                                                        <div class="custom-badge">
                                                                            <small class="text-sm hour-glass-icon">
                                                                                <span class="text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Registerby")</span>@Convert.ToDateTime(item.eventRequestEndDate).ToString("dd MMM ‘yy")
                                                                            </small>
                                                                        </div>
                                                                        @if (item.applicableGrades.Length > 8)
                                                                        {
                                                                            <div class="custom-badge">
                                                                                <small class="text-sm grade-icon">
                                                                                    <span class="text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Grade")</span>
                                                                                    @item.applicableGrades.Substring(0, 8) ...)
                                                                                    <a href="javascript:void(0)" data-toggle="dropdown" style="font-size:10px;color:#007bff">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Readmore")</a>
                                                                                    <div class="resource-info dropdown-menu mt-n5 z-depth-1 border-light rounded-2x p-0">
                                                                                        <div class="column-padding py-3">
                                                                                            <div class="content">
                                                                                                <p class="sub-heading text-semibold text-primary">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Grade")</p>
                                                                                                <p>@item.applicableGrades</p>
                                                                                            </div>
                                                                                            <div class="d-flex justify-content-end mt-4">
                                                                                                <button type="button" class="btn btn-outline-primary btn-sm m-0">@ResourceManager.GetString("Shared.Buttons.Close")</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </small>
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="custom-badge">
                                                                                <small class="text-sm grade-icon">
                                                                                    <span class="text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Grade")</span>
                                                                                    @item.applicableGrades
                                                                                </small>
                                                                            </div>
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="right-side">
                                                                <p class="ml-4 mb-3">
                                                                    <span class="dollar-icon text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.TotalAmount")</span>
                                                                    <span class="text-bold">@item.eventCost @ResourceManager.GetString("EnrollActivity.EnrollActivities.AED")</span>
                                                                </p>
                                                                <p>
                                                                    <span class="group-icon text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.AvailableSeats")</span>
                                                                    <span class="text-bold">@item.availableSeats</span>
                                                                </p>
                                                                <p class="AcctivityComment_@item.aldId d-none">@item.termAndConditions</p>
                                                                <button class="btn btn-outline-deep-purple RequestTOEnrollbtn" style="font-size:9px;" onclick="RequestTOEnroll(@item.aldId,'@item.eventCost','@allowMultiple','@item.EnrolledSiblingStudentIDs','@item.onlinePaymentAllowed.ToString()','@item.paymentTypeID','@item.eventCost','@item.feeTypeId','@item.eventName','@item.paymentProcessingCharge.ToString()','@item.apdId','@item.feeCollType','@isTermsExist')">@ResourceManager.GetString("EnrollActivity.EnrollActivities.RequestEnroll")</button>
                                                                @*<button class="btn btn-outline-deep-purple" onclick="location.href='@Url.Action("RequestToEnroll", "EnrollActivities", new { aldId = item.aldId,Studentnumber=AvaliableActivity.StudentNumber})'">Request to Enroll</button>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else if (Model.InProcess.Count == 0 && Model.Avaliable.Count == 0)
                            {
                                <div class="card">
                                    <span class="no-data-found text-bold d-block mx-auto my-auto">
                                        @ResourceManager.GetString("EnrollActivity.EnrollActivities.ActivityDisplay")
                                    </span>
                                </div>
                            }
                            @*</div>*@

                        </div>
                        <!-- Accordion wrapper -->
                    </div>
                </div>
                <div class="tab-pane fade in" id="panel51" role="tabpanel">
                    <!--Accordion wrapper-->
                    <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            @if (Model.Upcoming.Count > 0)
                            {
                                foreach (var UpcomingActivity in Model.Upcoming)
                                {
                                    <input type="hidden" id="StudentNumber" value="@UpcomingActivity.StudentNumber">
                                    <!-- Card header -->
                                    <div class="card-header p-0" role="tab" id="headingTwo1">
                                        <a class="p-3" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1"
                                           aria-expanded="true" aria-controls="collapseTwo1">
                                            <h5 class="mb-0">
                                                @if (UpcomingActivity.GroupName == "")
                                                {
                                                    <span class="title">
                                                        <span>@ResourceManager.GetString("EnrollActivity.EnrollActivities.Other")</span>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="title">
                                                        <span>@UpcomingActivity.GroupName</span>
                                                    </span>
                                                }
                                                @*<small class="text-limit float-right">(@ResourceManager.GetString("EnrollActivity.EnrollActivities.MaximumLimit") @UpcomingActivity.groupMaxLimit)</small>*@
                                            </h5>
                                            <span class="plus float-right"></span>
                                        </a>
                                    </div>

                                    <!-- Accordion card -->

                                    <div id="collapseTwo21" class="collapse show" role="tabpanel" aria-labelledby="headingTwo1"
                                         data-parent="#accordionEx1">
                                        <div class="p-4">
                                            @foreach (var item in UpcomingActivity.Activity)
                                            {
                                                <div class="card card-rectangle mb-3">
                                                    <div class="card-body flex-card">
                                                        <div class="flex-card left-side dotted-line">
                                                            @if (item.activityIconPath != "")
                                                            {
                                                                <img class="img-fluid" src="@Url.Content(item.activityIconPath)" alt="@item.eventName" draggable="false">
                                                            }
                                                            <div class="info-container">
                                                                <div class="card-title p-0 mb-2">
                                                                    <span class="text-uppercase text-bold">@item.eventName</span>
                                                                    <span class="location location-icon">@item.eventLocation</span>
                                                                </div>

                                                                <p class="content text-medium mb-3">
                                                                    @item.eventDescription
                                                                </p>
                                                                <div class="badge-container">
                                                                    <div class="custom-badge">
                                                                        <small class="text-sm feather-calendar-icon">
                                                                            <span class="text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.EventDates")</span>@item.eventDate
                                                                        </small>
                                                                    </div>
                                                                    <div class="custom-badge">
                                                                        <small class="text-sm hour-glass-icon">
                                                                            <span class="text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Registerby")</span>@item.eventRequestEndDate
                                                                        </small>
                                                                    </div>
                                                                    @if (item.applicableGrades.Length > 8)
                                                                    {
                                                                        <div class="custom-badge">
                                                                            <small class="text-sm grade-icon">
                                                                                <span class="text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Grade")</span>
                                                                                @item.applicableGrades.Substring(0, 8) ...)
                                                                                <a href="javascript:void(0)" data-toggle="dropdown" style="font-size:10px;color:#007bff">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Readmore")</a>
                                                                                <div class="resource-info dropdown-menu mt-n5 z-depth-1 border-light rounded-2x p-0">
                                                                                    <div class="column-padding py-3">
                                                                                        <div class="content">
                                                                                            <p class="sub-heading text-semibold text-primary">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Grade")</p>
                                                                                            <p>@item.applicableGrades</p>
                                                                                        </div>
                                                                                        <div class="d-flex justify-content-end mt-4">
                                                                                            <button type="button" class="btn btn-outline-primary btn-sm m-0">@ResourceManager.GetString("Shared.Buttons.Close")</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </small>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="custom-badge">
                                                                            <small class="text-sm grade-icon">
                                                                                <span class="text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Grade")</span>
                                                                                @item.applicableGrades
                                                                            </small>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="right-side">
                                                            <p class="ml-4 mb-3">
                                                                <span class="dollar-icon text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.TotalAmount")</span>
                                                                <span class="text-bold">@item.eventCost @ResourceManager.GetString("EnrollActivity.EnrollActivities.AED")</span>
                                                            </p>
                                                            <p>
                                                                <span class="group-icon text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.AvailableSeats")</span>
                                                                <span class="text-bold">@item.availableSeats</span>
                                                            </p>
                                                            <button class="btn btn-outline-deep-purple RequestTOEnrollbtn" style="font-size:9px;" disabled="" onclick="RequestTOEnroll(@item.aldId,'@item.eventCost')">@ResourceManager.GetString("EnrollActivity.EnrollActivities.EnrollmentSoon")</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                }

                            }
                            else
                            {
                                <span class="no-data-found text-bold d-block mx-auto my-auto">
                                    @ResourceManager.GetString("EnrollActivity.EnrollActivities.ActivityDisplay")
                                </span>
                            }
                        </div>

                    </div>
                    <!-- Accordion wrapper -->
                </div>
                @if (Model.Enrolled.Count() > 0)
                {
                    <div class="tab-pane fade" id="panel52" role="tabpanel">
                        <div class="row search-row mb-4">
                            <div class="col-12 d-flex justify-content-start align-items-center">
                                <p class="mb-0 mr-3"><span class="text-bold pl-2" id="EnrollActivitId">@Model.Enrolled.Count()  @ResourceManager.GetString("EnrollActivity.EnrollActivities.Activities")</span>  @ResourceManager.GetString("EnrollActivity.EnrollActivities.EnrolledIn")</p>
                                <select class="selectpicker rounded-6x bg-white w-auto" id="SelectMonthFilter">
                                    <option class="border-bottom" value="3"> @ResourceManager.GetString("EnrollActivity.EnrollActivities.threemonth")</option>
                                    <option class="border-bottom" value="6"> @ResourceManager.GetString("EnrollActivity.EnrollActivities.sixmonth")</option>
                                    <option class="border-bottom" value="12">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Year")</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12" id="divEnrolledActivity">
                            @Html.Partial("_EnrolledActivityView", Model.Enrolled)
                        </div>
                    </div>
                }
                else
                {
                    <div class="tab-pane fade" id="panel52" role="tabpanel">
                        <div class="card">
                            <span class="no-data-found text-bold d-block mx-auto my-auto">
                                @ResourceManager.GetString("EnrollActivity.EnrollActivities.ActivityDisplay")
                            </span>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>


</div>
<!-- modal popups -->
<!--ACTIVITY ENROLLMENT POPUP-->
<div class="modal fade" id="enrollmentForm" tabindex="-1" role="dialog" aria-labelledby="enrollmentForm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" class="m-0">
                <div class="header">
                    @*<h5 class="modal-title" id="eventTitleHeading"></h5>*@
                    <p class="title" style="color: #5d3195;">
                        @ResourceManager.GetString("EnrollActivity.EnrollActivities.ActivityTitle")
                    </p>
                    <button type="button" class="close pt-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:black">×</span>
                    </button>
                </div>
                <ul class="basic-details">
                    <li>
                        <h7 class="text-semibold">@ResourceManager.GetString("EnrollActivity.EnrollActivities.AcademicYear")</h7>
                        <h5 class="m-0"><small id="AcademicYear" class="text-medium text-capitalize"></small></h5>
                    </li>
                    <li>

                        <h7 class="text-semibold">@ResourceManager.GetString("EnrollActivity.EnrollActivities.EventName")</h7>
                        <h5 class="m-0"><small id="EventName" class="text-medium text-capitalize"></small></h5>
                    </li>
                    <li>
                        <h7 class="text-semibold">@ResourceManager.GetString("EnrollActivity.EnrollActivities.EventDates")</h7>
                        <h5 class="m-0"><small id="EventDates" class="text-medium text-capitalize"></small></h5>
                    </li>
                    <li>
                        <h7 class="text-semibold">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Registerby")</h7>
                        <h5 class="m-0"><small id="RegisterBy" class="text-medium text-capitalize"></small></h5>
                    </li>
                    <li>
                        <h7 class="text-semibold">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Grade")</h7>
                        <h5 class="m-0"><small id="Grade" class="text-medium text-capitalize"></small></h5>
                    </li>

                </ul>
                <input type="hidden" id="activityidhide" value="">
                <div class="dark-bg">
                    <span class="sub-title Eventschedule">@ResourceManager.GetString("EnrollActivity.EnrollActivities.EventSchedule")</span>
                    <ul class="option-list Eventschedule" id="BindRadioButton">
                    </ul>

                    <div class="text-medium popoverInformation collapseCommentDiv ml-3 dropright">
                        <input type="checkbox" class="form-check-input" id="termsAndConditionChkb" checked="checked">
                        <a href="javascript:void(0)" data-toggle="dropdown" class="text-semibold">@ResourceManager.GetString("EnrollActivity.EnrollActivities.TermsCondition")</a>
                        <div class="resource-info dropdown-menu mt-n5 z-depth-1 border-light rounded-2x p-0 ml-lg-4">
                            <div class="column-padding py-3">
                                <div class="collapseCommentMsg">

                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- / Collapsible element -->
                    <span class="sub-title">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Selectchild")</span>
                    <div class="md-form md-outline">
                        <select title="Select" class="select-picker-withImg" id="StudentListBind" data-style="btn-white" multiple data-live-search="true">
                        </select>
                    </div>


                    <span class="sub-title Coupenddl">@ResourceManager.GetString("EnrollActivity.EnrollActivities.NumberofCoupons")</span>
                    <div class="md-form md-outline white-bg Coupenddl">
                        <select class="selectpicker" id="CouponValue" onchange="ValidateSendRequestButton()">
                        </select>
                    </div>
                    <span class="sub-title allowCommentsActivity">@ResourceManager.GetString("EnrollActivity.EnrollActivities.AddComment")</span>
                    <div class="md-form md-outline allowCommentsActivity">
                        <textarea id="txtarea" class="md-textarea form-control white-bg" rows="3"></textarea>
                    </div>
                    <div class="button-wrapper">
                        <div class="white-bg tag-section">
                            <span class="payable-tab">

                                @ResourceManager.GetString("EnrollActivity.EnrollActivities.Amounttobepaid")
                                @*<input type="number" id="TotalAmount" value="">*@
                            </span>
                            <span class="amount ml-2" id="TotalAmount" value=""></span>
                            <h5 class="m-0"><small id="Amount" class="text-medium text-capitalize"></small></h5>
                        </div>
                        <div class="button-group">

                            <input type="hidden" id="SelectedAlD_ID" value="" />
                            <input type="hidden" id="SelectedAllowMultiple" value="" />
                            <input type="hidden" id="SelectedEnrolledSiblingStudentIDs" value="" />
                            <input type="hidden" id="SelectedOnlinePaymentAllowed" value="" />
                            <input type="hidden" id="SelectedPaymentTypeID" value="" />
                            <input type="hidden" id="SelectedEventCost" value="" />
                            <input type="hidden" id="SelectedFeeTypeId" value="" />
                            <input type="hidden" id="SelectedEventName" value="" />
                            <input type="hidden" id="SelectedPaymentProcessingCharge" value="" />
                            <input type="hidden" id="SelectedApdId" value="" />
                            <input type="hidden" id="SelectedFeeCollType" value="" />
                            <button type="button" onclick="SendRequestandPayOnline()" class="SendRequestandPayOnlinebtn btn btn-primary btn-sm waves-effect waves-light">@ResourceManager.GetString("EnrollActivity.EnrollActivities.SendRequestAndPayOnline")</button>
                            <button type="button" onclick="SendRequest()" class="SendRequestbtn btn btn-primary btn-sm waves-effect waves-light">@ResourceManager.GetString("EnrollActivity.EnrollActivities.SendRequest")</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--CONFIRM & PROCEED POPUP-->
<div class="modal fade popup-purple-shade" id="confirmPopup" tabindex="-1" role="dialog" aria-labelledby="confirmPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" class="m-0">
                <input type="hidden" value="" id="GetPayUrl">
                <div class="modal-header pt-5 border-0 d-flex justify-content-center">
                    <h5 class="modal-title dark-purple">@ResourceManager.GetString("EnrollActivity.EnrollActivities.ConfirmProceed")</h5>
                    <button type="button" class="close pt-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:black">×</span>
                    </button>
                </div>
                <div class="modal-body px-5">
                    <p class="text-center">
                        @ResourceManager.GetString("EnrollActivity.EnrollActivities.ClickOn") <span class="text-medium">@ResourceManager.GetString("EnrollActivity.EnrollActivities.ConfirmProceed")</span> @ResourceManager.GetString("EnrollActivity.EnrollActivities.PaymentMsg1") <span class="text-semibold dark-purple totAmnt">@ResourceManager.GetString("EnrollActivity.EnrollActivities.AED") 00.00</span>
                    </p>
                    <p class="text-center">
                        @ResourceManager.GetString("EnrollActivity.EnrollActivities.PaymentMsg2") <span class="text-semibold text-dark refNo">@ResourceManager.GetString("EnrollActivity.EnrollActivities.Number") 000000</span> @ResourceManager.GetString("EnrollActivity.EnrollActivities.PaymentMsg3")
                    </p>
                    <p class="text-center font-small">
                        <i class="text-medium">
                            @ResourceManager.GetString("EnrollActivity.EnrollActivities.PaymentMsg4")
                        </i>
                    </p>
                </div>
                <div class="modal-footer pb-5 d-flex justify-content-center border-0">
                    <button type="button" class="btn btn-outline-deep-purple mr-3" onclick="window.location.reload()" data-dismiss="modal"> @ResourceManager.GetString("EnrollActivity.EnrollActivities.PayLater")</button>
                    <button type="button" class="btn btn-deep-purple mr-3" id="btnConfirmProceed">@ResourceManager.GetString("EnrollActivity.EnrollActivities.ConfirmProceed")</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script src="@Url.Content("~/Content/js/custom/EnrollActivities/EnrollActivities.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Parent/ParentDashboard.js?v="+ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>
        translatedResources.selectOption = '@ResourceManager.GetString("Shared.Labels.Select")';
        translatedResources.TechnicalError = '@ResourceManager.GetString("Shared.Messages.TechnicalError")';
        translatedResources.ActivityUnsubscribed = '@ResourceManager.GetString("EnrollActivity.EnrollActivities.ActivityUnsubscribed")';
        translatedResources.UnsubscribeFrom = '@ResourceManager.GetString("EnrollActivity.EnrollActivities.UnsubscribeFrom")';
        translatedResources.SendFeedback = '@ResourceManager.GetString("EnrollActivity.EnrollActivities.SendFeedback")';
        translatedResources.RequestSent = '@ResourceManager.GetString("EnrollActivity.EnrollActivities.RequestSent")';
        translatedResources.no = '@ResourceManager.GetString("EnrollActivity.EnrollActivities.Number")';
        translatedResources.AED = '@ResourceManager.GetString("EnrollActivity.EnrollActivities.AED")';
        translatedResources.Activities = '@ResourceManager.GetString("EnrollActivity.EnrollActivities.Activities")';
        translatedResources.EnrolledIn = '@ResourceManager.GetString("EnrollActivity.EnrollActivities.EnrolledIn")';
        translatedResources.ShowingReports = '@ResourceManager.GetString("EnrollActivity.EnrollActivities.ShowingReports")';


        $(".resource-info").mCustomScrollbar({
            setHeight: "100px",
            autoExpandScrollbar: true,
            //scrollbarPosition: "inside",
            autoHideScrollbar: true,

        });

    </script>
}
