﻿@model IEnumerable<Phoenix.Models.AttendenceBySession>
@{
    /**/

    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}


    @*<div class="col-lg-6 col-sm-12">

            <div class="card shadow">
                <div class="card-header p-0 border-bottom1">
                    <div class="row align-items-center pt-2 pb-2">
                        <div class="col">
                            <h3 class="mb-0">Attendance By Session</h3>
                        </div>
                        <div class="col text-right">
                                <a href="#!" class="btn btn-sm btn-primary">See all</a>
                            </div>
                    </div>
                </div>
                <div class="card-body min-max-height-375">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive-md">
                                <table class="table table-hover table-bordered" style="width:100%;">
                                    <thead>
                                        <tr role="row">
                                            <th width="50%"></th>
                                            <th width="25%" class="text-center">AM %</th>
                                            <th width="25%" class="text-center">PM %</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr role="row">
                                                    <td class="text-left">@item.AT_DAY  </td>
                                                    <td class="text-center">@item.AT_AM</td>
                                                    <td class="text-center">@item.AT_PM  </td>
                                                </tr>

                                            }
                                        }
                                        else
                                        {
                                            <tr role="row">
                                                <td class="text-center" colspan="3">No Record Found</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>*@


        <div class="card">
            @*<div class="card-header border-bottom1 p-0">
                <div class="row align-items-center pt-2 pb-2">
                    <div class="col">
                        
                    </div>
                    <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary">See all</a>
                        </div>
                </div>
            </div>*@
            <div class="card-body">
                <h3 class="card-title">Student Attendance Graph</h3>
                <div class="table-responsive-md">

                    <canvas id="attendChart"></canvas>

                </div>
            </div>
        </div>
  

    <script>
    $(document).ready(function () {      //-------- Column chart ---------
                            //Get the context of the Chart canvas element we want to select
            var ctx = $("#attendChart");
            ctx.height(350);


                            // Chart Options
                            var chartOptions = {
                                // Elements options apply to all of the options unless overridden in a dataset
                                // In this case, we are setting the border of each bar to be 2px wide and green
                                elements: {
                                    rectangle: {
                                        borderWidth: 1,
                                        borderColor: 'rgb(0, 255, 0)',
                                        borderSkipped: false
                                    }
                                },
                                layout: {
                                    padding: {
                                        left: 0,
                                        right: 0,
                                        top: 0,
                                        bottom: 0
                                    }
                                },
                                responsive: true,
                                maintainAspectRatio: false,
                                responsiveAnimationDuration: 500,
                                legend: {
                                    display: true,
                                    position: 'bottom',
                                    labels: {
                                        boxWidth: 10,
                                        usePointStyle: false
                                    },
                                },
                                scales: {
                                    xAxes: [{
                                        display: true,
                                        gridLines: {
                                            color: "#f3f3f3",
                                            drawTicks: true,
                                        },
                                        scaleLabel: {
                                            display: true,
                                        },
                                        barThickness: 15
                                    }],
                                    yAxes: [{
                                        display: true,
                                        gridLines: {
                                            color: "#f3f3f3",
                                            drawTicks: true,
                                        },
                                        scaleLabel: {
                                            display: true,
                                        },
                                        // ticks: {
                                        //     max: 500,
                                        //     min: 0,
                                        //     stepSize: 100
                                        // }
                                    }]
                                },
                                //title: {
                                //    display: true,
                                //    //text: 'Attendance Chart By Session',
                                //    //fontFamily: 'inherit'
                                //}
                            };

                            // Chart Data
                             var chartData = {
                                 //labels: objJSON.AT_DAY,
                                labels: @Html.Raw(Json.Encode(@Model.Select(s => s.AT_DAY).ToList())),
                                datasets: [{
                                        label: "AM",
                                    //data: [88, 85, 93, 95, 94, 96, 94, 93],
                                    data: @serializer.Serialize(@Model.Select(s => s.AT_AM).ToList()),
                                   // data: objJSON.AT_AM,
                                    backgroundColor: "#4981FD",
                                    hoverBackgroundColor: "#4981FD",
                                    borderColor: "transparent",
                                    borderWidth: 0
                                }, {
                                        label: "PM",
                                    //data: [89, 86.5, 93.4, 95.75, 93.45, 95.75, 96.75, 92.75],
                                   data: @serializer.Serialize(@Model.Select(s => s.AT_PM ).ToList()),
                                     //data:objJSON.AT_PM,
                                    backgroundColor: "#FF9850",
                                    hoverBackgroundColor: "#FF9850",
                                    borderColor: "transparent",
                                    borderWidth: 0
                                }]
                            };

                                    var config = {
                                type: 'bar',
                                // Chart Options
                                options: chartOptions,
                                data: chartData
                            };

                                    // Create the chart
            var lineChart = new Chart(ctx, config);})

    </script>
