﻿@model IEnumerable<Phoenix.VLE.Web.Areas.SMS.Model.ATTENDENCE_ANALYSIS>
<div class="col-lg-6 col-sm-12">
    <div class="card">
        <div class="card-body">
            
                    <h3 class="card-title">Session Analysis</h3>
               
            <div class="table-responsive-md">
                <table class="table table-hover table-bordered" style="width:100%;">
                    <thead>
                        <tr role="row">
                            <th>Code</th>
                            <th>Description</th>
                            <th class="text-center">Sessions</th>
                            <th class="text-center">%</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr role="row">
                                    <td class="text-left">@item.CODE </td>
                                    <td class="text-left">@item.DESCR  </td>
                                    <td class="text-center">@item.Type  </td>
                                    <td class="text-center">@item.Per</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr role="row">
                                <td class="text-center" colspan="4">No Record Found</td>                                 
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
