﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.Blog>
@using Phoenix.Common.Localization

@{
    ViewBag.Title = ResourceManager.GetString("School.Blog.ParentBlog");
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
   
}


<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card min-height list-categories-wrapper">
            <div class="card-body column-padding pt-3 pb-3">
                <div class="table-wrapper mt-4 column-padding">
                    <div class="row mb-3">
                        <div class="col-lg-9 col-md-9 col-9">
                            <div class="search-with-bg">
                                <i class="fa fa-search"></i>
                                <input type="search" id="BlogListSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
                            </div>
                        </div>
                    </div>
                    @if (Model.PageRecords.Count() > 0)
                    {
                        <div class="row">
                            @foreach (var blgItem in Model.PageRecords)
                            {
                                <div class="col-lg-6 col-md-6 col-12 border-right mb-2">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <span class="@blgItem.ColorCode text-uppercase">@blgItem.Category</span>
                                        <span class="td-time">@blgItem.CreatedOn.ToString("dddd,dd MMMM yyyy")</span>
                                    </div>
                                    <h3>
                                        @if (blgItem.Title.Length > 25)
                                        {
                                            @blgItem.Title.Substring(0, 25);
                                        }
                                        else
                                        {
                                            @blgItem.Title.ToString();
                                        }
                                    </h3>
                                    <p>
                                        @if (!String.IsNullOrEmpty(blgItem.Summary))
                                        {
                                           @(blgItem.Summary.Length > 200 ? blgItem.Summary.Substring(0, 200) : blgItem.Summary.ToString());
                                        }
                                          
                                    </p>
                                </div>
                            }

                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination pg-blue">
                                        @if (Model.PageIndex == 1)
                                        {
                                            <li class="page-item disabled">
                                                <a class="page-link" href="/SchoolStructure/Blog?pageIndex=@(Model.PageIndex - 1)">@ResourceManager.GetString("Shared.Buttons.Previous")</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="/SchoolStructure/Blog?pageIndex=@(Model.PageIndex - 1)">@ResourceManager.GetString("Shared.Buttons.Previous")</a>
                                            </li>
                                        }

                                        <li class="page-item">
                                            <a class="page-link" href="/SchoolStructure/Blog?pageIndex=@(Model.PageIndex + 1)">@ResourceManager.GetString("Shared.Buttons.Next")</a>
                                        </li>
                                    </ul>
                                </nav>

                            </div>
                        </div>
                    }

                    else
                    {
                        <span>@ResourceManager.GetString("Shared.Labels.NoRecords")</span>
                    }
                </div>
            </div>

        </div>
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

<style>
    .dataTables_filter {
        display: none;
    }
</style>
@section scripts
{
    <script language="javascript">
        translatedResources.header = '@ResourceManager.GetString("School.Blog.Header")';
        translatedResources.title = '@ResourceManager.GetString("School.Blog.Title")';
        translatedResources.summary = '@ResourceManager.GetString("School.Blog.Summary")';
        translatedResources.blogimage = '@ResourceManager.GetString("School.Blog.BlogImage")';
        translatedResources.createdby = '@ResourceManager.GetString("School.Blog.CreatedBy")';
        translatedResources.createdon = '@ResourceManager.GetString("School.Blog.CreatedOn")';
        translatedResources.extensionalert = '@ResourceManager.GetString("School.Blog.ExtensionAlert")';
        translatedResources.sizealert = '@ResourceManager.GetString("School.Blog.SizeAlert")';
    </script>

    @*<script src="~/Content/js/custom/SchoolInfo/Blog.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>*@

}

