﻿@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization;
@model Phoenix.VLE.Web.ViewModels.GalleryViewModel
@{
    var folders = Model.GalleryFolders.Where(f => f.IsDirectory).ToList();
    var fileCounts = Model.GalleryFilesItemCount;
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="gallery-folder">

            @if (folders.Count() > 0)
            {
                for (var i = 0; i < folders.Count(); i++)
                {
                    var item = folders[i];
                    var url = Url.Content("~/SchoolStructure/SchoolSpaces/Gallery?fId=" + EncryptDecryptHelper.EncryptUrl(item.FileID) + "&fName=" + EncryptDecryptHelper.EncryptUrl(item.FileName) + "&fText=" + "");

                    <a href="@url" class="d-block overflow-hidden position-relative rounded-2x mb-3">
                        <img class="img-fluid rounded" src="@item.FilePath" alt="Classroom">
                        <h2 class="m-0 text-white text-center text-bold position-absolute">@item.FileName</h2>
                        <span class="items position-absolute text-bold">@fileCounts[i] items</span>
                        <span class="date position-absolute text-bold">@item.CreatedDate.ToString("dd MMMM yyyy")</span>
                    </a>
                }
            }
            else
            {
                <span>@string.Format(ResourceManager.GetString("School.SchoolSpace.NoDataDisplayMessage"), ResourceManager.GetString("School.SchoolSpace.Albums"))</span>
            }

            <hr class="border-default">

        </div>
    </div>
</div>
