﻿@model List<Phoenix.Models.Breadcrumb>
@{ 

}

<ol class="breadcrumb breadcrumb-arrow">
    @foreach (var item in Model)
    {
        if (string.IsNullOrEmpty(item.MenuId))
        {
            if (item.IsActive)
            {
                <li class="active"><span>@item.MenuName</span></li>
            }
            else
            {
                var url = Url.Content("~/SchoolStructure/SchoolSpaces/Gallery?fId=" + item.MenuId + "&fName=" + item.MenuName);
                <li><a href="@url">@item.MenuName</a></li>
            }
        }
        else
        {
            if (item.IsActive)
            {
                <li class="active"><span >@item.MenuName</span></li>
            }
            else
            {
                var url = Url.Content("~/SchoolStructure/SchoolSpaces/Gallery?fId=" + item.MenuId + "&fName=" + item.MenuName);
                <li><a href="@url">@item.MenuName</a></li>
            }
        }
    }
</ol>