﻿@model Phoenix.Models.Entities.LeaveRequest
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Enums
@{
    var LstLeaveReason = ViewBag.LeaveReasonList;
    var FileExtension = ViewBag.FileExtension;
    var IsAddViewEdit = ViewBag.IsAddViewEdit;
    var selectText = ResourceManager.GetString("Shared.Labels.Select");
    var showUpl = (Model.Attachment_FILE_NAME != null && Model.Attachment_FILE_NAME != "") || (ViewBag.IsAddViewEdit == "view") ? "d-none" : "";
}

@using (Ajax.BeginForm("SaveLeaveApplication", "SchoolSpaces", new AjaxOptions { OnSuccess = "addEditLeaveRequest.onSaveLeaveSuccess('" + Model.IsAddMode + "')", OnBegin = "addEditLeaveRequest.saveLeaveRequest()", OnFailure = "addEditLeaveRequest.onSaveLeaveError('" + Model.IsAddMode + "')" }, new { id = "frmAddEditLeaveRequest", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(d => d.StudentNo);
    @Html.HiddenFor(d => d.Leave_Type);
    @Html.HiddenFor(d => d.Enable_Button);
    @Html.HiddenFor(d => d.Ref_Id)
    @Html.HiddenFor(d => d.IsAddMode)
    @Html.HiddenFor(d => d.UploadedImageName)
    @Html.HiddenFor(d => d.ActualImageName)
    <div class="modal-header">
        <h5 class="modal-title" id="eventTitle">Leave Note </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="popup-form">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="card">
                        <div class="card-body pt-3 pb-3">
                            <div class="row column-padding">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="date-time-picker md-form md-outline">
                                        @Html.TextBoxFor(x => x.From_Date, "{0:dd-MMM-yyyy}",
                                       new { @class = "form-control date-picker date-picker1", onkeydown = "return false", onpaste = "return false", @type = "text", @data_maxdateid = "To_Date" })
                                        @Html.LocalizedLabel("active", "LeaveRequest.Leave.StartDate")
                                        @Html.ValidationMessageFor(x => x.From_Date)
                                    </div>

                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="date-time-picker md-form md-outline">
                                        @Html.TextBoxFor(x => x.To_Date, "{0:dd-MMM-yyyy}", new { onkeydown = "return false", onpaste = "return false", @class = "form-control date-picker date-picker2", @type = "text", @data_mindateid = "From_Date" })
                                        @Html.LocalizedLabel("active", "LeaveRequest.Leave.EndDate")
                                        @Html.ValidationMessageFor(x => x.To_Date)
                                    </div>

                                </div>
                            </div>
                            <div class="row column-padding">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="md-form md-outline">
                                        @Html.DropDownListFor(x => x.LeaveReasonId, new SelectList(LstLeaveReason, "Id", "Descr"), selectText, new { @class = "selectpicker" })
                                        @Html.LocalizedLabel("active", "LeaveRequest.Leave.ddlLeaveTypes")
                                        @Html.ValidationMessageFor(x => x.LeaveReasonId)
                                    </div>

                                </div>
                            </div>
                            <div class="row column-padding">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="md-form md-outline">
                                        @Html.TextAreaFor(x => x.Remarks, new { @class = "md-textarea form-control", id = "txtRemarks" })
                                        @Html.LocalizedLabel("active", "LeaveRequest.Leave.Remark")
                                        @Html.ValidationMessageFor(x => x.Remarks)
                                    </div>
                                </div>
                            </div>
                            <div class="row column-padding">
                                @if ((ViewBag.IsAddViewEdit == "edit" || ViewBag.IsAddViewEdit == "view") && Model.Attachment_FILE_NAME != null && Model.Attachment_FILE_NAME != "")
                                {
                                    <div id="library" class="">
                                        <div class="library-content clearfix">
                                            <div class="item-icon">
                                                <a id="ViewFile" data-assignmentId="@Model.Ref_Id" data-id="@EncryptDecryptHelper.EncryptUrl(Model.Ref_Id)" data-fileName="@EncryptDecryptHelper.EncryptUrl(Model.Attachment_FILE_NAME)">
                                                    @if (Model.Attachment_FILE_NAME.ToLower().Contains(".pdf"))
                                                    {
                                                        <i class="fas fa-file-pdf ic-file-pdf">
                                                        </i>
                                                    }
                                                    else if (Model.Attachment_FILE_NAME.ToLower().Contains(".xls") || Model.Attachment_FILE_NAME.Contains(".xlsx"))
                                                    {
                                                        <i class="fas fa-file-excel ic-file-excel"></i>
                                                    }
                                                    else if (Model.Attachment_FILE_NAME.ToLower().Contains(".doc") || Model.Attachment_FILE_NAME.Contains(".docx"))
                                                    {
                                                        <i class="fas fa-file-word ic-file-word"></i>
                                                    }
                                                    @*else if (Model.Attachment_FILE_NAME.ToLower().Contains(".jpg") || Model.Attachment_FILE_NAME.Contains(".png") || Model.Attachment_FILE_NAME.Contains(".bmp"))
                                                        {
                                                            <i class="fas fa-file-image ic-file-img"></i>
                                                        }*@
                                                    else if (Model.Attachment_FILE_NAME.ToLower().Contains(".ppt"))
                                                    {
                                                        <i class="fas fa-file-powerpoint ic-file-ppt"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-file-alt ic-file"> </i>
                                                    }

                                                </a>
                                            </div>
                                            <div class="caption">
                                                <p>@Model.Attachment_FILE_NAME</p>
                                                <div class="quick-nav dropleft">
                                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                                        <i class="fas fa-ellipsis-v"></i>
                                                        <span class="sr-only">@ResourceManager.GetString("Shared.Labels.ToggleDD")</span>
                                                    </button>
                                                    <div class="dropdown-menu z-depth-1">
                                                        <a class="dropdown-item" href="@Model.Attachment_URL" target="_blank">@ResourceManager.GetString("Shared.Buttons.Download")</a>
                                                        @if (ViewBag.IsAddViewEdit == "edit")
                                                        {
                                                            <a class="dropdown-item" id="ahrefDeleteFiles" data-assignmentId="@Model.Ref_Id" data-fileName="@Model.Attachment_FILE_NAME">@ResourceManager.GetString("Shared.Buttons.Delete")</a>
                                                        }

                                                        @*<a class="dropdown-item" id="ViewFile" data-assignmentId="@Model.Ref_Id" data-fileName="@EncryptDecryptHelper.EncryptUrl(Model.Attachment_FILE_NAME)">@ResourceManager.GetString("Shared.Buttons.View")</a>*@
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div id="imgUpload" class="@showUpl">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="md-form md-outline">
                                            <div class="standalone-uploader">
                                                <input id="dropAreaLeave" name="LeaveFile" type="file">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- file upload drawer end -->
            <div class="col-lg-12 col-md-12 col">
                <div class="md-form md-outline">
                    @Html.TextBoxFor(d => d.ActualImageName, new { @class = "form-control d-none" })
                    @Html.ValidationMessageFor(x => x.ActualImageName)
                </div>
            </div>
        </div>
    </div>
    if (ViewBag.IsAddViewEdit != "view")
    {
        <div class="modal-footer">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="addEditLeaveRequest.saveLeaveRequest();" id="btnSaveLeaveRequest">@ResourceManager.GetString("Shared.Buttons.Save")</button>
            </div>
        </div>
    }
}
