﻿@using Phoenix.Common.Localization
@{
    ViewBag.Title = "My Community";
    ViewBag.headerIcon = "ic-groups title-icon";
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-schoolspaces.svg");
    ViewData["MyCommunity"] = "CircularNewsletter";
    var currentDate = DateTime.Now;
    var firstDay = new DateTime(currentDate.Year, currentDate.Month, 1);
    var lastDate = firstDay.AddMonths(1).AddDays(-1);
}

<style>
    .newsletter-circular-table .unread-row {
        background-color: #fff;
        border: 1px solid #cecece;
    }
    .newsletter-circular-table .read-row .table-text{
        font-weight:normal;
    }
</style>
<div class="row pb-4">
    @Html.Partial("_SchoolSpacesPartial")
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="community-search d-flex justify-content-end row search-row">
            <div class="col-12 col-lg-5 col-md-3 col-sm-6 col-xl-4 col-xs-11">
                <div class="search-with-bg border">
                    <span class="icon-search"></span>
                    <input type="search" class="searchfield" id="search-cricular" placeholder="@ResourceManager.GetString("SchoolGroup.SchoolGroup.SearchGroup")">
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-3 col-sm-6 col-xs-12 col-12">
                <div class="md-form md-outline sort-dropdown mb-1 mb-sm-0">
                    <label class="select-label">@ResourceManager.GetString("Shared.Labels.Show")</label>
                    <select class="selectpicker"  id="ddlCirularNewsletterType">
                        <option value="ALL" selected>@ResourceManager.GetString("Shared.Labels.All")</option>
                        <option value="CIRCULAR">@ResourceManager.GetString("Shared.Labels.Circular")</option>
                        <option value="NEWSLETTER">@ResourceManager.GetString("Shared.Labels.NewsLetter")</option>
                    </select>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="md-form md-outline date-time-picker field-with-icon bg-white mb-1 mb-sm-0">
                    <i class="far fa-calendar-alt active"></i>
                    <input type="text" class="form-control date-picker datepicker fromdate" placeholder="@ResourceManager.GetString("Shared.Labels.FromDate")" value="@firstDay.ToString("dd-MMM-yyyy")" id="fromDate">
                  
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="md-form md-outline date-time-picker field-with-icon bg-white">
                    <i class="far fa-calendar-alt active"></i>
                    <input type="text" class="form-control date-picker datepicker todate" placeholder="@ResourceManager.GetString("Shared.Labels.ToDate")" value="@lastDate.ToString("dd-MMM-yyyy")" id="toDate">
                   
                </div>
            </div>
        </div>
        <!-- search section end -->
        <!-- teacher grid card -->
        <div class="row grid-view">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card community-wrapper">
                    <div class="responsive-list-table pagination-panel table-responsive" id="divCircularGrid">
                        @*@Html.Partial("_CircularGrid", Model)*@
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- modal popups -->
<div class="modal fade" id="selectCircularModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="circularModalTitle">@ResourceManager.GetString("School.SchoolSpace.CircularNewsletters")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col flex" id="circularModalTitle">

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col flex" id="divEmailDetails">

                    </div>
                </div>
                <div class="row">
                    <br />
                    <div class="col-lg-12 col-md-12 col flex" id="divEmailAttachments">
                      
                    </div>
                </div>
                <div class="row">
                    <div class="attachment-date ml-2" id="divdate">
                        <input type="text" id="SetDate" data-date-format='dd-MMM-yyyy' name="fname" style="outline:none;border:none">
                        @*<input type=text data-date-format='yy-mm-dd' id="SetDate">*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal popups end -->

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script>
        translatedResources.noRecordsMessage = ' @string.Format(ResourceManager.GetString("School.SchoolSpace.NoDataDisplayMessage"), ResourceManager.GetString("School.SchoolSpace.CircularNewsletters").ToLower())';
    </script>

    <script src="@Url.Content("~/Content/js/custom/SchoolSpaces/CircularsNewsletters.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
