﻿@using Phoenix.Common.Localization

@{
    ViewData["MyCommunity"] = "Events";
    var _eventCategories = ViewBag.lstCategory;
}
<style>
    .event-cat-dropdown {
        min-width: initial !important;
    }
</style>
<div class="row pb-4">
    @Html.Partial("_SchoolSpacesPartial")
</div>


<div class="row">
    <div class="col-xl-8 col-lg-12 col-md-12 col-12 order-xl-first order-last">
        <div class="card school-events-card bg-transparent border-0 py-0 pl-0">
            <div class="events-header">
                <div class="events-title topETitle">

                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-outline-primary btn-sm rounded-4x btn-today" data-eventcontainer="events-today">@ResourceManager.GetString("Planner.Labels.Today")</button>
                    <button type="button" class="btn btn-outline-primary btn-sm rounded-4x btn-week" data-eventcontainer="events-week">@ResourceManager.GetString("Planner.Labels.Week")</button>
                    <button type="button" class="btn btn-primary btn-sm rounded-4x btn-month" data-eventcontainer="events-month">@ResourceManager.GetString("Planner.Labels.Month")</button>
                </div>
            </div>
            <div class="events-content events-today">

            </div>
            <div class="events-content events-week d-none">

            </div>
            <div class="events-content events-month d-none">

            </div>
            <div class="events-content events-calendar d-none">

            </div>
        </div>
        <div class="card school-events-card bg-transparent border-0 py-0 pl-0 upcoming-events">
            <div class="events-header">
                <div class="events-title">
                    Upcoming Events
                </div>
            </div>
            <div class="events-content upEvntCont">

            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-12 col-md-12 col-12 order-xl-last order-first">
        <div class="row mb-3">
            <div class="col-12 d-flex justify-content-end flex-column flex-md-row">
                <div class="search-with-bg w-responsive bg-white rounded-6x border mr-0 mr-md-2">
                    <span class="icon-search"></span>
                    <input type="search" id="btnSearchFiles" class="searchfield" placeholder="@ResourceManager.GetString("Planner.Labels.Searchforevents")">
                </div>
                <div class="md-form md-outline sort-dropdown category-dropdown mb-0 mt-3 mt-md-0 ml-0 ml-md-3">
                    <div class="multiselect-dropdown">
                        @Html.DropDownList("Id", new SelectList(ViewBag.lstCategory, "categoryID", "categoryDescription"), new { @data_selected_text_format = "count>1", id = "ddlCategories", @class = "selectpicker bg-white rounded-6x event-cat-dropdown", @multiple = "", @tabindex = "-98", @data_width = "auto", @title = @ResourceManager.GetString("Planner.Labels.SelectCategory") })
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card column-padding sticky-top calendar-card bg-transparent border-0 p-0">
                    <div class="bg-white mb-3 rounded-2x overflow-hidden">
                        <div class="inline-date-picker pb-3"></div>
                    </div>
                    <ul class="eventCatType d-flex flex-wrap">
                        @foreach (var item in _eventCategories)
                        {
                            <li class="text-semibold"><span style="--category-color:@item.categoryColorCode"></span> @item.categoryDescription</li>
                        }
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="assignment-popover"></div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script>
        translatedResources.noRecordsMessage = ' @string.Format(ResourceManager.GetString("School.SchoolSpace.NoDataDisplayMessage"),
                                                ResourceManager.GetString("School.SchoolSpace.Events").ToLower())';
        
    </script>
    <script>
        var eventDates = [];
        function getSundayOfCurrentWeek(d) {
            var day = d.getDay();
            return new Date(d.getFullYear(), d.getMonth(), d.getDate() + (day == 0 ? 0 : - day));
        }

        function AddEventsCalendarIndication() {
            eventDates.map(function (date, i) {
                $("[data-day='" + date + "']:not(.today)").css("background-color", "#e9e1e1");
            });
        }

        var currentDate = new Date(), y = currentDate.getFullYear(), m = currentDate.getMonth();
        var monthStartDate = new Date(y, m, 1);
        var monthEndDate = new Date(y, m + 1, 0);
        var currentWeekStartDate = getSundayOfCurrentWeek(new Date());
        var weekEndDate = new Date(currentWeekStartDate.getFullYear(), currentWeekStartDate.getMonth(), currentWeekStartDate.getDate() + 6);
        var nextWeekStartDate = new Date(currentWeekStartDate.getFullYear(), currentWeekStartDate.getMonth(), currentWeekStartDate.getDate() + 7);
        var nextWeekEndDate = new Date(nextWeekStartDate.getFullYear(), nextWeekStartDate.getMonth(), nextWeekStartDate.getDate() + 6);
        $('.inline-date-picker').datetimepicker({
            format: 'MM/DD/YYYY',
            inline: true
            //sideBySide: true
        }).on('dp.change', function (e) {

            GetEventsByCalendar("", "", e.date._d);
            AddEventsCalendarIndication();
            $(".day.active:not(.today)").css("background-color", "#337ab7");
        }).on("dp.update", function (e) {
            AddEventsCalendarIndication();
            $(".day.active:not(.today)").css("background-color", "#337ab7");
        });

        var tod = "", wee = "", mon = "";
        $(window).on("load", function () {
            $('.events-header .events-title').text(monthStartDate.toShortFormat() + " to " + monthEndDate.toShortFormat());
            $('.btn-week').removeClass('btn-primary');
            $('.btn-today').removeClass('btn-primary');
            $('.btn-week').addClass('btn-outline-primary');
            $('.btn-today').addClass('btn-outline-primary');
            $('.btn-month').removeClass('btn-outline-primary');
            $('.btn-month').addClass('btn-primary');
            $('.events-month').removeClass('d-none');
            $('.events-week').addClass('d-none');
            $('.upcoming-events').addClass('d-none');
            $('.events-today').addClass('d-none');
            $('.events-calendar').addClass('d-none');
            $('.events-header .btn-week').click(function () {
                $(".topETitle").text(currentWeekStartDate.toShortFormat() + " to " + weekEndDate.toShortFormat());
                //$('.events-header .events-title').text("Wed, 22 May to Tue, 28 May");
                $('.upcoming-events .events-header .events-title').text("Upcoming Events");
                $('.btn-today').removeClass('btn-primary');
                $('.btn-month').removeClass('btn-primary');
                $('.btn-today').addClass('btn-outline-primary');
                $('.btn-month').addClass('btn-outline-primary');
                $('.btn-week').removeClass('btn-outline-primary');
                $('.btn-week').addClass('btn-primary');
                $('.events-week').removeClass('d-none');
                $('.upcoming-events,.upEvntCont').removeClass('d-none');
                $('.events-today, .later-weekevents').addClass('d-none');
                $('.events-month').addClass('d-none');
                $('.events-calendar').addClass('d-none');
            });
            $('.events-header .btn-today').click(function () {

                $('.events-header .events-title').text("Events on " + currentDate.toShortFormat());
                $('.upcoming-events .events-header .events-title').text("Upcoming Events");
                $('.btn-week').removeClass('btn-primary');
                $('.btn-month').removeClass('btn-primary');
                $('.btn-week').addClass('btn-outline-primary');
                $('.btn-month').addClass('btn-outline-primary');
                $('.btn-today').removeClass('btn-outline-primary');
                $('.btn-today').addClass('btn-primary');
                $('.upcoming-events, .upEvntCont, .later-weekevents').removeClass('d-none');
                $('.events-today').removeClass('d-none');
                $('.events-week').addClass('d-none');
                $('.events-month').addClass('d-none');
                $('.events-calendar').addClass('d-none');
            });
            $('.events-header .btn-month').click(function () {
                $('.events-header .events-title').text(monthStartDate.toShortFormat() + " to " + monthEndDate.toShortFormat());
                $('.btn-week').removeClass('btn-primary');
                $('.btn-today').removeClass('btn-primary');
                $('.btn-week').addClass('btn-outline-primary');
                $('.btn-today').addClass('btn-outline-primary');
                $('.btn-month').removeClass('btn-outline-primary');
                $('.btn-month').addClass('btn-primary');
                $('.events-month').removeClass('d-none');
                $('.events-week').addClass('d-none');
                $('.upcoming-events').addClass('d-none');
                $('.events-today').addClass('d-none');
                $('.events-calendar').addClass('d-none');
            });
        });
    </script>
    <script type="text/javascript">
        var dir = $("html").attr("dir");
        var header = dir == 'ltr' ? { left: 'title', right: 'prev, next' } : { left: 'prev, next', right: 'title' };
        $(document).ready(function () {
            $("#btnBack").show();

            $(document).on('click', '#btnBack', function () {
                history.back();
            });

            $('.date-picker2').datetimepicker({
                format: 'DD-MMM-YYYY',
            });

            $('.date-picker1').datetimepicker({
                format: 'DD-MMM-YYYY',
                useCurrent: false
            }).on('dp.change', function (e) {
                $('.date-picker2').data("DateTimePicker").minDate(e.date);
                if ($('.date-picker2').data("DateTimePicker").date() < e.date) {
                    $('.date-picker2').data("DateTimePicker").clear();
                    $('.date-picker2').data("DateTimePicker").minDate(e.date);
                }
            });

            $(".date-picker2").on("dp.change", function (e) {
                $('.date-picker1').data("DateTimePicker").maxDate(e.date);
            });

            var fromD = new Date();
            var toD = new Date(); toD.setMonth(fromD.getMonth() + 1);
            var from = GetFormattedDate(fromD);
            var to = GetFormattedDate(toD);
            GetEvents(GetFormattedDate(monthStartDate), GetFormattedDate(monthEndDate), "");
            $(document).on("change", "#ddlCategories", function () {
                filterEvents();
            });

            $(document).on("keyup", "#btnSearchFiles", function () {
                filterEvents();
            });


        });

        function cleanCSV(value) {
            return (value || '').split(',').filter(Boolean).filter(function (item, index, all) {
                return (index === all.indexOf(item));
            });
        }
        function GetFormattedDate(dt) {

            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            return month + "/" + day + "/" + year;
        }
        function compareDate(d1, d2) {
            var sDay = d1.getDate();
            var sMon = d1.getMonth();
            var syr = d1.getFullYear();
            var sDay2 = d2.getDate();
            var sMon2 = d2.getMonth();
            var syr2 = d2.getFullYear();

            //Note: 00 is month i.e. January
            var dateOne = new Date(syr, sMon, sDay); //Year, Month, Date
            var dateTwo = new Date(syr2, sMon2, sDay2); //Year, Month, Date
            if (dateOne.getTime() === dateTwo.getTime()) {
                return 3
            }
            else if (dateOne.getTime() > dateTwo.getTime()) {
                return 1
            }
            else if (dateOne.getTime() < dateTwo.getTime()) {
                return 2
            }
            return false;
        };
        function getMonthNm(d) {
            var month = new Array();
            month[0] = "January";
            month[1] = "February";
            month[2] = "March";
            month[3] = "April";
            month[4] = "May";
            month[5] = "June";
            month[6] = "July";
            month[7] = "August";
            month[8] = "September";
            month[9] = "October";
            month[10] = "November";
            month[11] = "December";
            var n = month[d.getMonth()];
            return n;
        };
        function GetEvents(from, to, selectDate) {
            $.ajax(
                {
                    url: '/SchoolStructure/SchoolSpaces/GetEventsByDate?from=' + from + '&to=' + to + '&selectDate=' + selectDate,
                    dataType: 'json', // type of response data
                    //timeout: 500,     // timeout milliseconds
                    async: false,
                    success: function (data, status, xhr) {   // success callback function
                        var eventsList = JSON.parse(data.events);
                        var eventArray = [];

                        var myDate = new Date(data.defaultDate.match(/\d+/)[0] * 1);
                        var strToday = "", strWeek = "", strMonth = "", strUpComEvent = "";
                        var today = new Date();
                        var lsDt = new Date(today.getFullYear(), today.getMonth() + 1, today.getDate());
                        tod = today.toShortFormat();
                        wee = currentWeekStartDate.toShortFormat();
                        mon = lsDt.toShortFormat();

                        var strDate = today.toShortFormat();
                        $.each(eventsList.data, function (i, obj) {
                            var stDt = new Date(obj.eventStartDT);
                            eventDates.push(moment(stDt).format("MM/DD/YYYY"));
                            $("[data-day='" + moment(stDt).format("MM/DD/YYYY") + "']").css("background-color", "#e9e1e1");
                            var sDay = stDt.getDate();

                            var isCurrentWeek = stDt.getTime() >= currentWeekStartDate.getTime() && stDt.getTime() <= weekEndDate.getTime();
                            var isToday = stDt.getDate() == currentDate.getDate();
                            var isNextWeekEvents = (stDt.getTime() >= nextWeekStartDate.getTime() && stDt.getDate() <= monthEndDate.getTime());
                            var nextWeekClass = isNextWeekEvents ? "nextWeekUpcomingEvents" : "later-weekevents";
                            var isUpComing = ((stDt.getDate() - currentDate.getDate() > 0) && (stDt.getDate() <= monthEndDate.getDate()));
                            var sMon = getMonthNm(stDt);
                            var tm = formatAMPM(stDt);

                            if (isUpComing) {
                                strUpComEvent += `<div class="events-category ${nextWeekClass} primary bg-white px-4" data-category='${obj.categoryID}' style="--category-color:` + obj.categoryColorCode + `">
                                                      <div class="events-time py-2 text-right">
                                                      <span class="date d-block text-bold font-16 text-primary">`+ sDay + `</span>
                                                      <span class="month d-block text-semibold text-primary">`+ sMon + `</span>
                                                      <p class="text-semibold mb-0 text-primary">`+ tm + `</p>
                                                      </div>
                                                      <div class="events-detail">
                                                      <div class="event-type d-flex align-items-center mt-0">
                                                      <span class="event-icon d-none align-items-center justify-content-center">
                                                      <img src="/Content/img/svg/calendar1.svg" class="svg" alt="event image">
                                                      </span>
                                                      <span class="event-name text-semibold p-0 text-black-50">`+ obj.categoryDescription + `</span>
                                                      </div>
                                                      <p class="event-description" id="event-description-${obj.categoryID}" data-categoryid="${obj.categoryID}">` + obj.eventDescription + `</p>
                                                      </div>
                                                      </div>`;
                            }
                            if (isToday) {
                                strToday += `<div class="events-category primary bg-white px-4" data-category='${obj.categoryID}'  style="--category-color:` + obj.categoryColorCode + `">
                                              <div class="events-time py-2 text-right">
                                              <span class="date d-block text-bold font-16 text-primary">`+ sDay + `</span>
                                              <span class="month d-block text-semibold text-primary">`+ sMon + `</span>
                                              <p class="text-semibold mb-0 text-primary">`+ tm + `</p>
                                              </div>
                                              <div class="events-detail">
                                              <div class="event-type d-flex align-items-center mt-0">
                                              <span class="event-icon d-none align-items-center justify-content-center">
                                              <img src="/Content/img/svg/calendar1.svg" class="svg" alt="event image">
                                              </span>
                                              <span class="event-name text-semibold p-0 text-black-50">`+ obj.categoryDescription + `</span>
                                              </div>
                                              <p class="event-description" id="event-description-${obj.categoryID}" data-categoryid="${obj.categoryID}">` + obj.eventDescription + `</p>
                                              </div>
                                              </div>`;
                            }
                            if (isCurrentWeek) {
                                strWeek += `<div class="events-category primary bg-white px-4" data-category='${obj.categoryID}' style="--category-color:` + obj.categoryColorCode + `">
                                            <div class="events-time py-2 text-right">
                                            <span class="date d-block text-bold font-16 text-primary">`+ sDay + `</span>
                                            <span class="month d-block text-semibold text-primary">`+ sMon + `</span>
                                            <p class="text-semibold mb-0 text-primary">`+ tm + `</p>
                                            </div>
                                            <div class="events-detail">
                                            <div class="event-type d-flex align-items-center mt-0">
                                            <span class="event-icon d-none align-items-center justify-content-center">
                                            <img src="/Content/img/svg/calendar1.svg" class="svg" alt="event image">
                                            </span>
                                            <span class="event-name text-semibold p-0 text-black-50">`+ obj.categoryDescription + `</span>
                                            </div>
                                            <p class="event-description" id="event-description-${obj.categoryID}" data-categoryid="${obj.categoryID}">` + obj.eventDescription + `</p>
                                            </div>
                                            </div>`;
                            }

                            strMonth += `<div class="events-category primary bg-white px-4" data-category='${obj.categoryID}' style="--category-color:` + obj.categoryColorCode + `">
                                         <div class="events-time py-2 text-right">
                                         <span class="date d-block text-bold font-16 text-primary">`+ sDay + `</span>
                                         <span class="month d-block text-semibold text-primary">`+ sMon + `</span>
                                         <p class="text-semibold mb-0 text-primary">`+ tm + `</p>
                                         </div>
                                         <div class="events-detail">
                                         <div class="event-type d-flex align-items-center mt-0">
                                         <span class="event-icon d-none align-items-center justify-content-center">
                                         <img src="/Content/img/svg/calendar1.svg" class="svg" alt="event image">
                                         </span>
                                         <span class="event-name text-semibold p-0 text-black-50">`+ obj.categoryDescription + `</span>
                                         </div>
                                         <p class="event-description" id="event-description-${obj.categoryID}" data-categoryid="${obj.categoryID}">` + obj.eventDescription + `</p>
                                         </div>
                                         </div>`;
                        });
                        //$(".topETitle").html("");
                        $(".day.today").css("background-color", "");
                        $(".upEvntCont").empty();
                        $(".events-today").html("");
                        $(".events-week").html("");
                        $(".events-month").html("");
                        var noDataHtml = `<span class='no-data-found text-bold d-block mx-auto my-auto'>${translatedResources.noRecordsMessage}</div>`;
                        if (!globalFunctions.isValueValid(strUpComEvent))
                            strUpComEvent = noDataHtml;
                        if (!globalFunctions.isValueValid(strToday))
                            strToday = noDataHtml;
                        if (!globalFunctions.isValueValid(strWeek))
                            strWeek = noDataHtml;
                        if (!globalFunctions.isValueValid(strMonth))
                            strMonth = noDataHtml;
                        $(".topETitle").text("Events on " + strDate.toString());
                        $(".upEvntCont").append(strUpComEvent);
                        $(".events-today").append(strToday);
                        $(".events-week").append(strWeek);
                        $(".events-month").append(strMonth);

                        globalFunctions.convertImgToSvg();
                        var calendarEl = document.getElementById('divCalender');
                    },
                    error: function (jqXhr, textStatus, errorMessage) { // error callback
                    }
                });
        }
        function GetEventsByCalendar(from, to, selectDate) {
            $.ajax(
                {
                    url: '/SchoolStructure/SchoolSpaces/GetEventsByDate?from=' + from + '&to=' + to + '&selectDate=' + GetFormattedDate(selectDate),
                    dataType: 'json', // type of response data
                    //timeout: 500,     // timeout milliseconds
                    async: false,
                    success: function (data, status, xhr) {   // success callback function
                        var eventsList = JSON.parse(data.events);
                        var strCalEvent = "";
                        var today = new Date();

                        $.each(eventsList.data, function (i, obj) {

                            var stDt = new Date(obj.eventStartDT);
                            var sDay = stDt.getDate();
                            var sMon = getMonthNm(stDt);
                            var tm = formatAMPM(stDt);

                            strCalEvent += `<div class="events-category primary bg-white px-4" data-category='${obj.categoryID}' style="--category-color:` + obj.categoryColorCode + `">
                                                 <div class="events-time py-2 text-right">
                                                 <span class="date d-block text-bold font-16 text-primary">`+ sDay + `</span>
                                                 <span class="month d-block text-semibold text-primary">`+ sMon + `</span>
                                                 <p class="text-semibold mb-0 text-primary">`+ tm + `</p>
                                                 </div>
                                                 <div class="events-detail">
                                                 <div class="event-type d-flex align-items-center mt-0">
                                                 <span class="event-icon d-none align-items-center justify-content-center">
                                                 <img src="`+ obj.categoryThumbNailUrl + `" alt="calendar" style="width:25px;height:25px;">
                                                 </span>
                                                 <span class="event-name text-semibold p-0 text-black-50">`+ obj.categoryDescription + `</span>
                                                 </div>
                                                 <p class="event-description" id="event-description-${obj.categoryID}" data-categoryid="${obj.categoryID}">` + obj.eventDescription + `</p>
                                                 </div>
                                                 </div>`;
                        });
                        $("div.button-group button").removeClass("btn-primary").addClass("btn-light");
                        $(".events-content:not(.events-calendar), .upEvntCont").addClass("d-none");

                        $(".events-calendar").html("").removeClass("d-none");
                        $(".topETitle").text("Events on " + selectDate.toShortFormat());
                        $(".events-calendar").append(strCalEvent);
                    },
                    error: function (jqXhr, textStatus, errorMessage) { // error callback
                    }
                });
        }

        Array.prototype.get = function (id) {
            for (var i = 0, len = this.length; i < len; i++) {
                if (typeof this[i] != "object") continue;
                if (this[i].id == id) {
                    return this[i];
                }
            }
        };
        Date.prototype.toShortFormat = function () {
            let monthNames = ["Jan", "Feb", "Mar", "Apr",
                "May", "Jun", "Jul", "Aug",
                "Sep", "Oct", "Nov", "Dec"];
            let day = this.getDate();
            let monthIndex = this.getMonth();
            let monthName = monthNames[monthIndex];
            let year = this.getFullYear();
            return `${day}-${monthName}-${year}`;
        }

        function formatAMPM(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return strTime;
        }
        function searchByCalendar() {

            var fromD = $(".date-picker1").val();
            var toD = $(".date-picker2").val();
            if (fromD == null || fromD == "" || toD == null || toD == "") {
                alert("Please select both date with From and To");
                return false;
            }
            $('.btn-month,.btn-today,.btn-week').removeClass('btn-active');
            $(".events-today , .events-week , .events-month, .upcoming-events").addClass('d-none');
            $(".events-calendar").removeClass("d-none");
            $(".events-calendar").html("");
            GetEventsByCalendar(fromD, toD, "");
        }

        function filterEvents() {

            var source = $(".events-category"), arList = $("#ddlCategories").val();
            var value = $("#btnSearchFiles").val().toLowerCase();
            source.filter(function () {
                var categoryId = $(this).data("category");
                $(this).toggle(($(this).text().toLowerCase().indexOf(value) > -1 && (arList.length == 0 || arList.includes(categoryId.toString()))));
            });

            var activeCategory = $(".button-group button.btn-primary").data("eventcontainer");
            if ($("." + activeCategory + " .events-category:visible").length == 0) {
                if ($("." + activeCategory + " span.no-data-found").length == 0)
                    $("." + activeCategory).append("<span class='no-data-found text-bold d-block mx-auto my-auto'>" + translatedResources.noRecordsMessage + "</div>");
            } else
                $("." + activeCategory + " span.no-data-found").remove();

            if (activeCategory == "events-today") {
                if ($(".upcoming-events .events-category:visible").length == 0) {
                    if ($(".upcoming-events span.no-data-found").length == 0)
                        $(".upcoming-events").append("<span class='no-data-found text-bold d-block mx-auto my-auto'>" + translatedResources.noRecordsMessage + "</div>");
                }
                else {
                    $(".upcoming-events span.no-data-found").remove();
                }
            }
        }
    </script>
}
