﻿@model IEnumerable<Phoenix.Models.Entities.FeeDetailVMRoot>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@{
    ViewBag.Title = "FeeAndPayments";
}
<style>
    .select-card .upper-section {
        float: right
    }
    .payment-type-im {
        width: 75%
    }
    .amount-container-footer {
        display: none !important;
    }
</style>
<div class="container-fluid mt-3 mt-md-2 mb-4">
    <div class="row white-bg breadcrumb-row">
        <div class="col-lg-12 col-md-12 col-12">
            <nav aria-label="breadcrumb" class="nav-breadcrumb">
                <ol class="breadcrumb border-bottom bg-white breadcrumb-header d-flex justify-content-between align-items-center">
                    <li class="breadcrumb-item active" aria-current="page">
                        Fee Payment
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12 fee-payment-container">
            <div class="card">
                <div class="header-section">
                    <span class="title">Fees Online Payment</span>
                    <span class="title-date"></span>
                </div>
                <div>
                    <ul class="toggable-items-row">
                        <li class="active school">School Fee</li>
                        <li class="transport">Transport Fee</li>
                        <li class="activity">Activity Fee</li>
                    </ul>
                </div>

                @Html.Partial("FeePaymentsStudDetails", Model)

            </div>
        </div>
    </div>
</div>
<!-- modal popups -->
<div class="modal fade" id="scheduleOfFees" tabindex="-1" role="dialog" aria-labelledby="scheduleOfFees"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h6 class="modal-title dark-purple">Schedule of Fees</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="title-section d-flex align-items-center justify-content-between">
                    <div>
                        <div class="name-title text-bold">Rochelle Roberts</div>
                        <div class="student-grade text-semibold text-black-50">Grade - KG1</div>
                    </div>
                    <img src="~/Content/VLE/img/svg/printer.svg" alt="printer-icon" />
                </div>
                <div class="popup-form mt-3">
                    <div class="row">
                        <div class="col-12">
                            <table id="fee-schedule-table" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="th-sm">Fee </th>
                                        <th class="th-sm">Due Date</th>
                                        <th class="th-sm tbl-actions">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd">
                                        <td>Tution Fee</td>
                                        <td>4/3/2018 <span>12:00 AM</span></td>
                                        <td>9034.000</td>
                                    </tr>
                                    <tr class="even">
                                        <td>Tution Fee</td>
                                        <td>4/3/2018 <span>12:00 AM</span></td>
                                        <td>9034.000</td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Tution Fee</td>
                                        <td>4/3/2018 <span>12:00 AM</span></td>
                                        <td>9034.000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="moreInfo" tabindex="-1" role="dialog" aria-labelledby="moreInfo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h6 class="modal-title dark-purple">Payment Gateway - More Information</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="card-list-info">
                    <li class="d-flex flex-wrap flex-sm-nowrap">
                        <div class="select-card payment-card nbad-card active">
                            <div class="upper-section">
                                <span class="master-card d-inline-block"></span>
                            </div>
                            <div class="card-body">
                                <small class="text-small text-semibold">CARD NUMBER</small>
                                <p class="card-number text-bold">
                                    <span>****</span> <span>****</span> <span>****</span> <span>3456</span>
                                </p>
                            </div>
                            <div class="card-footer p-0 border-0">
                                <small class="text-small text-semibold">EXPIRY DATE</small>
                                <span class="expiry-date text-bold d-block">06/13</span>
                            </div>
                        </div>
                        <div class="select-card-content pt-2 pt-sm-0">
                            <div>NBAD</div>
                            <p>Please select this option - for any Bank Credit Card except NBAD @string.Format("{0}", Constants.IsGems ? "GEMS " : "Phoenix Classroom ") Cobranded card .</p>
                        </div>
                    </li>
                    <li class="d-flex flex-wrap flex-sm-nowrap">
                        <div class="select-card payment-card nbad-coBrand-card active px-2">
                            <div class="upper-section">
                                <span class="master-card d-inline-block"></span>
                            </div>
                            <div class="card-body">
                                <small class="text-small text-semibold">CARD NUMBER</small>
                                <p class="card-number text-bold">
                                    <span>****</span> <span>****</span> <span>****</span> <span>3456</span>
                                </p>
                            </div>
                            <div class="card-footer p-0 border-0">
                                <small class="text-small text-semibold">EXPIRY DATE</small>
                                <span class="expiry-date text-bold d-block">06/13</span>
                            </div>
                        </div>
                        <div class="select-card-content pt-2 pt-sm-0">
                            <div>NBAD</div>
                            <p>Please select this option - for any Bank Credit Card except NBAD @string.Format("{0}", Constants.IsGems ? "GEMS " : "Phoenix Classroom ") Cobranded card .</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal fade popup-purple-shade" id="confirmPopup" tabindex="-1" role="dialog"
     aria-labelledby="confirmPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" class="m-0">
                <div class="modal-header pt-5 border-0 d-flex justify-content-center">
                    <h5 class="modal-title dark-purple">Confirm & Proceed</h5>
                </div>
                <div class="modal-body px-5">
                    <p class="text-center">
                        Click on <span class="text-semibold">Confirm & Proceed</span> to continue with this payment
                        for <span class="text-semibold dark-purple">AED 13000.00</span>
                    </p>
                    <p class="text-center text-muted">
                        Please note reference <span class="text-semibold text-dark">no. 4192347</span> of this
                        transaction for any future communication.
                    </p>
                    <p class="text-center font-small">
                        <i class="text-medium">
                            Please do not close this browser or Log off until you get the final receipt.
                        </i>
                    </p>
                </div>
                <div class="modal-footer pb-5 d-flex justify-content-center border-0">
                    <button type="button" class="btn btn-outline-deep-purple mr-3" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-deep-purple">Confirm & Proceed</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- modal popups end -->

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script>
        translatedResources.noRecordsMessage = '@string.Format(ResourceManager.GetString("FeePayment.Message.NoData"),
                                                ResourceManager.GetString("FeePayment.PaymentType.PaymentType").ToLower())';
        translatedResources.paymentTypeMsg = '@ResourceManager.GetString("FeePayment.Message.PaymentTypeMsg")';
        translatedResources.CalculationNetAmt = '@ResourceManager.GetString("FeePayment.Message.CalculationNetAmt")';
        translatedResources.NoDiscount = '@ResourceManager.GetString("FeePayment.Message.NoDiscount")';
    </script>
    <script src="@Url.Content("~/Content/js/custom/SchoolSpaces/FeePayments.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
