﻿@model Phoenix.VLE.Web.ViewModels.GalleryViewModel
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@{
    ViewBag.Title = "My Community";
    ViewBag.headerIcon = "ic-groups title-icon";
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-schoolspaces.svg");
    var folders = Model.GalleryFolders.Where(f => f.IsDirectory);
    var files = Model.GalleryFiles.Where(f => !f.IsDirectory);
    ViewData["MyCommunity"] = "Gallery";
}
<div class="row pb-4">
    @Html.Partial("_SchoolSpacesPartial")
</div>
<div class="row">
    <!-- left column -->
    <div class="col-lg-12 col-md-12 col-12">
        <!-- gallery section-->
        <div class="row gallery-sec">
            <!-- gallery left section-->
            <div class="col-lg-9 col-md-9 col-12 gallery-left">
                <!-- gallery current slide section-->
                @if (files.Count() > 0)
                {
                    var firstFile = files.FirstOrDefault();
                    <div class="row mb-4">
                        <div class="col-lg-12 col-md-12 col-12 px-2">
                            <div class="gallery-main-slide bg-white text-center rounded">
                                <img class="img-fluid rounded" src="@firstFile.FilePath" alt="@firstFile.FileName">
                            </div>
                        </div>
                    </div>
                }

                <!-- gallery current slide section end-->
                <!-- gallery listing section-->
                <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 gallery-list-wrap" id="lightgallery">
                    @if (files.Count() > 0)
                    {
                        foreach (var f in files.Skip(1))
                        {
                            var url = f.FilePath; var resourceUrl = ""; var cssClass = "";
                            var fileName = f.FileName + f.FileExtention;
                            if (CommonHelper.CheckImageExtension(fileName) || CommonHelper.CheckVideoExtension(fileName))
                            {
                                cssClass = "item-img";
                            }
                            if (CommonHelper.CheckImageExtension(fileName))
                            {
                                <div class="col mb-3 px-2">
                                    <a href="@url" class="d-flex position-relative rounded overflow-hidden hoverable galleryImg @cssClass" data-sub-html="@fileName">
                                        <img src="@url" class="img-fluid">
                                    </a>
                                </div>
                            }
                            else if (Phoenix.Common.Helpers.CommonHelper.CheckVideoExtension(fileName))
                            {
                                var imgUrl = PhoenixConfiguration.Instance.ReadFilePath + resourceUrl;
                                <div class="col mb-3 px-2">
                                    <a href="" class="d-flex position-relative rounded overflow-hidden hoverable video galleryImg" data-html="#@f.FileID" data-poster="@Constants.DefaultVideoImage">
                                        <img src="@Constants.DefaultVideoImage" class="img-fluid">
                                    </a>
                                    <div style="display:none;" id="@f.FileID">
                                        <video class="lg-video-object lg-html5" controls="" preload="none">
                                            <source src="@f.FilePath" type="video/mp4">
                                            @ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")
                                        </video>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col mb-3 px-2">
                                    <a href="@url" class="d-flex position-relative rounded overflow-hidden hoverable">
                                        <img class="img-fluid" src="@url" alt="@f.FileName">
                                    </a>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <div class="min-height">
                            <span class="sub-heading d-block">@ResourceManager.GetString("Shared.Labels.NoRecords")</span>
                        </div>
                    }
                </div>

                <!-- gallery listing section end-->
            </div>
            <!-- gallery left section-->
            <!-- gallery right section-->
            <div class="col-lg-3 col-md-3 col-12 gallery-right mt-4 mt-md-0">
                <div class="gal-dark-bg column-padding pb-3 pt-0 position-relative">
                    <!-- gallery search section-->
                    <div class="row search-row mb-4">
                        <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-xs-8 col-12">
                            <div class="search-with-bg">
                                <span class="icon-search"></span>
                                <input type="search" id="searchFolder" class="searchfield" placeholder="Search Album">
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-xs-4 col-3 d-none d-xl-block">
                            <span class="icon-calendar rounded">
                                <img src="~/Content/Vle/img/svg/calendar.svg" />
                            </span>
                        </div>
                    </div>
                    <!-- gallery search section-->
                    <!-- gallery folder section-->
                    <div id="GalleryFolderSectionContainer">
                        @Html.Partial("_GalleryFolderSection", Model)
                    </div>
                    <!-- gallery folder section-->
                </div>
            </div>
            <!-- gallery right section-->
        </div>
        <!-- gallery section end-->

    </div>
    <!-- left column -->
    <!-- right column -->
    <!-- right column -->

</div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script>
        function addCustomScrollbar() {
            let folderViewHeight = $('.folder-view').outerHeight();
            let fileViewHeight = $('.file-view').outerHeight();
            console.log('Folder view' + folderViewHeight);
            if (folderViewHeight > 300) {
                $('.folder-view').mCustomScrollbar({
                    setHeight: 285,
                    scrollbarPosition: 'outside',
                    autoExpandScrollbar: true,
                    advanced: {
                        updateOnContentResize: true
                    }
                });
            }
            if (fileViewHeight > 300) {
                $('.file-view').mCustomScrollbar({
                    setHeight: 285,
                    scrollbarPosition: 'outside',
                    autoExpandScrollbar: true,
                    advanced: {
                        updateOnContentResize: true
                    }
                });
            }
        }
        $(document).ready(function () {

            $("#btnBack").show();

            $(document).on('click', '#btnBack', function () {
                history.back();
            });

            addCustomScrollbar();
            $('.time-picker').datetimepicker({
                format: 'LT',
                //debug: true
            });
            $('.date-picker').datetimepicker({
                format: 'MM/DD/YYYY',
                //debug: true
            });
            var dt = new Date();
            var cDate = ("0" + dt.getDate()).slice(-2) + '/' + ("0" + (dt.getMonth() + 1)).slice(-2) + '/' + dt.getFullYear();
            var cTime = dt.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true })
            $('.date-picker').val(cDate);
            $('.time-picker').val(cTime);


            $("#searchFolder").on("keyup", function () {
                var value = $(this).val().toLowerCase();

                $.ajax({
                    type: 'GET',
                    url: '/SchoolStructure/SchoolSpaces/LoadGalleryFolderData',
                    data: {
                        'fText': value,
                    },
                    success: function (data) {
                        $('#GalleryFolderSectionContainer').html(data);
                    }

                });
            });

            //inti light gallery
            $('#lightgallery').lightGallery({
                selector: '.galleryImg',
                share: false
            });
        });

        $(window).on("load", function () {

            $(".resources").mCustomScrollbar({
                autoHideScrollbar: true,
                autoExpandScrollbar: true,
                scrollbarPosition: "outside",
            });
            $(".sidebar-fixed .list-group").mCustomScrollbar({
                setHeight: "86%",
                autoExpandScrollbar: true,
                autoHideScrollbar: true,
                scrollbarPosition: "outside"
            });

            $('.loader-wrapper').fadeOut(500, function () {
                //$('.loader-wrapper').remove();
            });
            $(".notification-list").mCustomScrollbar({
                //setHeight: "76%",
                autoExpandScrollbar: true,
                scrollbarPosition: "inside",
                autoHideScrollbar: true,
            });
            $('.search-container').click(function () {
                $('.search-field').addClass('search-input');
                $('.close-icon').addClass('show-icon');
                $('.filter-title').toggleClass('hide-title');
            });
            $('.close-icon').click(function () {
                $('.close-icon').removeClass('show-icon');
            })
            $('.list-pattern .list-view').click(function () {
                let gridView = $('.grid-list-card .grid-wrapper');
                let listView = $('.grid-list-card .list-wrapper');
                $('.list-pattern .grid-view').removeClass('active');
                $('.list-pattern .list-view').addClass('active');
                gridView.addClass('hide-item ');
                listView.removeClass('hide-item');
            });
            $('.list-pattern .grid-view').click(function () {
                let gridView = $('.grid-list-card .grid-wrapper');
                let listView = $('.grid-list-card .list-wrapper');
                $('.list-pattern .list-view').removeClass('active');
                $('.list-pattern .grid-view').addClass('active');
                gridView.removeClass('hide-item');
                listView.addClass('hide-item');
            });
        });
    </script>
}
