﻿@model Phoenix.Models.Entities.LeaveRequest
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Enums
@{
    ViewBag.Title = "LeaveDetails";
    var studList = ViewBag.StudList;
    //var AddFileShown = "d-none";
}
<link href="~/Content/css/custom/Users/easyuitree.css" rel="stylesheet" />
<style>
    .leave-request-container .leave-request-card .dataTables_paginate, .leave-request-container .leave-request-card .dataTables_filter, .leave-request-container .leave-request-card .dataTables_length {
        display: block;
    }
    #library .item .library-content .item-icon {
        height: auto;
    }
    select.bs-select-hidden, .bootstrap-select > select.bs-select-hidden, select.selectpicker {
    display: block !important;
}
</style>
<div class="container-fluid mt-3 mt-md-2 mb-4">
    @*<div class="row white-bg breadcrumb-row">
        <div class="col-lg-12 col-md-12 col-12">
            <nav aria-label="breadcrumb" class="nav-breadcrumb">
                <ol class="breadcrumb border-bottom bg-white breadcrumb-header d-flex justify-content-between align-items-center leave-request-breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        Leave Request/Letter
                    </li>
                </ol>
            </nav>
        </div>
    </div>*@
    <div class="row">
        <div class="col-12 leave-request-container">
            @if (studList != null && studList.Count > 0)
            {
                var i = 0;
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    @foreach (var stud in studList)
                    {
                        i = i + 1;
                        var act = i == 1 ? "active" : "";
                        var area = i == 1 ? "true" : "false";
                        <li class="nav-item">
                            <a class="nav-link @act" id="home-tab-@stud.StudentNo" data-stud="@stud.StudentNo" data-toggle="tab" href="#home-@stud.StudentNo" role="tab" aria-controls="home"
                               aria-selected=@area>@stud.StudentName</a>
                        </li>
                    }
                </ul>
                var j = 0; var acti = ""; var hid = "";
                foreach (var stud in studList)
                {
                    j++; if (j == 1) { acti = "active"; hid = ""; } else { acti = ""; hid = "hide-item"; }
                    <div class="card leave-request-card @hid" id="leave-request-page-@stud.StudentNo" data-stud="@stud.StudentNo">
                        <div class="panel-header" id="leaveReq-header-@stud.StudentNo">
                            <div class="toggle-wrapper">
                                <div class="letter-request-toggle leave-letter active" id="leave-letter-@stud.StudentNo" data-stud="@stud.StudentNo">Leave Letter</div>
                                <div class="letter-request-toggle leave-request" id="leave-request-@stud.StudentNo" data-stud="@stud.StudentNo">Leave Request</div>
                            </div>
                            <div class="button-group">
                                <button type="button" class="btn btn-primary btn-sm waves-effect waves-light">All</button>
                                <button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect waves-light">Approved</button>
                                <button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect waves-light">Not Approved</button>
                                <button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect waves-light">Pending</button>
                            </div>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show @acti" id="home-@stud.StudentNo" data-stud="@stud.StudentNo" role="tabpanel" aria-labelledby="home-tab-@stud.StudentNo">
                                <!--Leave letter table-->
                                <div class="table-wrapper table-responsive-md" id="tableDefault-@stud.StudentNo">
                                    <table id="tblDefault-@stud.StudentNo" class="table table-bordered table-hover tblLeaveRequest" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="th-sm">Attendance Date</th>
                                                <th class="th-sm d-none">ToDate</th>
                                                <th class="th-sm">Leave Type</th>
                                                <th class="th-sm">Remarks</th>
                                                <th class="th-sm">Approval Status</th>
                                                <th class="th-sm tbl-actions">leave Letter</th>
                                                @*<th class="th-sm">Leave Letter</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (stud.LstLeaveDetails != null && stud.LstLeaveDetails.Count > 0)
                                            {
                                                foreach (var leav in stud.LstLeaveDetails)
                                                {
                                                    if (leav.Leave_Type != "Leave Request")
                                                    {
                                                        <tr data-stud="@stud.StudentNo" data-refId="@leav.ref_Id" data-filName="@leav.Attachment_FILE_NAME" data-filUrl="@leav.Attachment_URL">
                                                            <td>@leav.From_Date</td>
                                                            <td class="d-none">@leav.To_Date</td>
                                                            <td>@leav.Attendance_Leave_Type</td>
                                                            <td>@leav.Remarks</td>
                                                            @*<td>@leav.Ref_Id</td>*@

                                                            <td>
                                                                <span class="badge badge-warning">@leav.Approval_Status</span>
                                                            </td>
                                                            <td class="tbl-actions">
                                                                @if (leav.Enable_Button == 1 && leav.Approval_Status == "Pending")
                                                                {
                                                                    //data-toggle="modal" data-target="#recordUpdated" title="Edit"
                                                                    <a class="text-center" onclick="return openLeaveApplPop(this , '@leav.Approval_Status','@leav.Leave_Type')">
                                                                        <img src="~/Content/VLE/img/svg/write-app.svg" />
                                                                        <span class="write">Edit</span>
                                                                    </a>
                                                                }
                                                                else if (leav.Enable_Button == 1 && leav.Approval_Status == "Not Applied")
                                                                {
                                                                    <a class="text-center"  onclick="return openLeaveApplPop(this , '@leav.Approval_Status','@leav.Leave_Type')" title="Write">
                                                                    <img src="~/Content/VLE/img/svg/write-app.svg" />
                                                                    <span class="write">Write</span>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a class="text-center" onclick="return openLeaveApplPop(this , '@leav.Approval_Status','@leav.Leave_Type')" title="View">
                                                                        <img src="~/Content/VLE/img/svg/viewapp.svg">
                                                                        <span>View</span>
                                                                    </a>
                                                                }

                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <tr> <td colspan="5" class="text-center">No records found.</td></tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!--Leave letter table end-->
                                <!--Leave request table-->
                                <div class="hide-item table-wrapper table-responsive-md" id="tableLeaveRequest-@stud.StudentNo">
                                    <table id="tblLeaveRequest-@stud.StudentNo" class="table table-bordered table-hover tblLeaveRequest">
                                        <thead>
                                            <tr>
                                                <th class="th-sm">From</th>
                                                <th class="th-sm">To</th>
                                                <th class="th-sm">Leave Type</th>
                                                <th class="th-sm">Remarks</th>
                                                <th class="th-sm">Approval Status</th>
                                                <th class="th-sm">Approver Comments</th>
                                                <th class="th-sm tbl-actions">Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (stud.LstLeaveDetails != null && stud.LstLeaveDetails.Count > 0)
                                            {
                                                foreach (var leav in stud.LstLeaveDetails)
                                                {
                                                    if (leav.Leave_Type == "Leave Request")
                                                    {
                                                        <tr data-stud="@stud.StudentNo" data-refId="@leav.Ref_Id" data-filName="@leav.Attachment_FILE_NAME" 
                                                            data-filUrl="@leav.Attachment_URL">
                                                            <td>@leav.From_Date</td>
                                                            <td>@leav.To_Date</td>

                                                            <td>@leav.Attendance_Leave_Type</td>
                                                            <td>@leav.Remarks</td>
                                                            <td>
                                                                <span class="badge badge-warning">@leav.Approval_Status</span>
                                                            </td>
                                                            <td>@leav.Approver_Remarks</td>
                                                            <td class="tbl-actions">
                                                                @if (leav.Enable_Button == 1 && leav.Approval_Status == "Pending")
                                                                {
                                                                    <a class="text-center" data- onclick="return openLeaveApplPop(this , '@leav.Approval_Status' ,'@leav.Leave_Type')" title="Edit">
                                                                        <img src="~/Content/VLE/img/svg/write-app.svg" />
                                                                        <span class="write">Edit</span>
                                                                    </a>
                                                                }
                                                                else if (leav.Enable_Button == 1 && leav.Approval_Status == "Not Applied")
                                                                {
                                                                    <a class="text-center" onclick="return openLeaveApplPop(this , '@leav.Approval_Status','@leav.Leave_Type')" title="Write">
                                                                        <img src="~/Content/VLE/img/svg/write-app.svg" />
                                                                        <span class="write">Write</span>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <a class="text-center" onclick="return openLeaveApplPop(this ,'@leav.Approval_Status','@leav.Leave_Type')" title="View">
                                                                        <img src="~/Content/VLE/img/svg/viewapp.svg">
                                                                        <span>View</span>
                                                                    </a>
                                                                }

                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <tr class="placeholder-row">
                                                    <td colspan="7">
                                                        <div class="leave-request-placeholder">
                                                            <div class="placeholder-card">
                                                                <img src="./img/svg/placeholder.svg" alt="placeholder" />
                                                                <p>There are no leave request to show</p>
                                                                <button type="button" data-toggle="modal" data-target="#recordUpdated" class="btn btn-primary btn-sm active waves-effect waves-light">Apply Leave Request</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <!--Leave request table end-->
                                </div>
                                <p class="leave-request-alert hide-item">
                                    <img src="~/Content/VLE/img/svg/alert-icon.svg" alt="alert-icon" />
                                    No new leave request can be raised currently, since a pending approval already exists.
                                </p>
                            </div>
                        </div>
                    </div>
                }

                <div class="disclaimer-leave-letter">
                    <span>Note:</span>
                    <p>
                        Can be applied against the date where the approval status is Not Applied .
                    </p>
                </div>
                <div class="disclaimer-leave-request hide-item">
                    <span>Note:</span>
                    <p>Can be applied for the current or future dates only .</p>
                    <p>Request will be notified to the authorised staff for approval .</p>
                    <p>Leave status will be updated once the request has been processed </p>
                </div>
            }
            else
            {
                <div class="card-body resource-wrapper column-padding pt-3 pb-3">
                    <span class="sub-heading column-padding d-block">@ResourceManager.GetString("Shared.Labels.NoRecords")</span>
                </div>
            }
        </div>
    </div>
</div>

<!-- modal popups -->
<div class="modal fade" id="recordUpdated" tabindex="-1" role="dialog" aria-labelledby="recordUpdated" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            @*@Html.Partial("_LeaveApplicationModal", Model)*@
        </div>
    </div>
</div>
<!-- modal popups end -->
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.LeaveRequest = '@ResourceManager.GetString("LeaveRequest.Leave.LeaveReqTitle")';
        translatedResources.Title = '@ResourceManager.GetString("LeaveRequest.Leave.Title")';
        translatedResources.Description = '@ResourceManager.GetString("LeaveRequest.Leave.Description")';
        translatedResources.Image = '@ResourceManager.GetString("LeaveRequest.Leave.UploadedImageName")';
        translatedResources.actions = '@ResourceManager.GetString("Shared.Labels.Actions")';
        translatedResources.FileExtensions = @Html.Raw(Json.Encode(ViewBag.FileExtension));
        translatedResources.AddSuccess = '@ResourceManager.GetString("LeaveRequest.Messages.AddSuccess")';
        translatedResources.AddError = '@ResourceManager.GetString("LeaveRequest.Messages.AddError")';
        translatedResources.EditSuccess = '@ResourceManager.GetString("LeaveRequest.Messages.EditSuccess")';
        translatedResources.EditError = '@ResourceManager.GetString("LeaveRequest.Messages.EditError")';
        translatedResources.showFileuploadError = '@ResourceManager.GetString("LeaveRequest.Messages.FileUploadValidation")';
        translatedResources.FileSizeValidation = '@ResourceManager.GetString("LeaveRequest.Messages.FileSizeValidation")';
        translatedResources.deleteConfirm = '@ResourceManager.GetString("LeaveRequest.Leave.DeleteAttachmentConfirm")'
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/SchoolSpaces/LeaveDetails.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
