﻿@model Phoenix.VLE.Web.EditModels.TcRequestmodel
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TC Request</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/addons/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
    <link href="css/addons/loader.css" rel="stylesheet" type="text/css">

    <link href="css/main-parent.css" rel="stylesheet" type="text/css">

</head>

<body>
    <!-- header start -->
    <header>
        <div class="container-fluid">
            <div class="row">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })

                <div class="col-lg-12 col-md-12 col">
                    <!--Navbar -->
                    <nav class="navbar fixed-top navbar-expand-md colored-nav scrolling-navbar main-nav py-3 py-sm-0 px-1">
                        <div class="app-logo d-block d-lg-none mr-3">
                            <img src="img/svg/logo-colored.svg" alt="Classroom">
                        </div>
                        <button class="navbar-toggler first-button d-md-block d-lg-none" type="button">
                            <div class="animated-icon1"><span></span><span></span><span></span></div>
                        </button>
                        <div class="collapse navbar-collapse">
                            <div class="app-logo d-none d-md-none d-lg-block">
                                <img src="img/svg/logo-colored.svg" alt="Classroom">
                            </div>
                            <div class="siblings-container ml-3">
                                <figure class="m-0 d-flex align-items-center float-left active">
                                    <a href="#" class="rounded-circle">
                                        <img src="img/avatar-1.jpg" class="img-fluid" alt="Katherine Christopher">
                                    </a>
                                    <figcaption class="text-medium ml-2 text-uppercase position-relative d-none d-lg-inline-block">Katherine</figcaption>
                                </figure>
                                <figure class="m-0 d-flex align-items-center float-left ml-2 ml-lg-3">
                                    <a href="#" class="rounded-circle">
                                        <img src="img/avatar-2.jpg" class="img-fluid" alt="Katherine Christopher">
                                    </a>
                                </figure>
                            </div>
                            <ul class="navbar-nav ml-auto nav-flex-icons right-nav">
                                <li class="nav-item dropdown language-switcher">
                                    <a href="javascript:void(0)" class="nav-link p-0 text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <!-- <i class="fas fa-language m-0" data-toggle="tooltip" data-title="Change Language" data-placement="left"></i> -->
                                        <small class="rounded border" data-toggle="tooltip" data-title="Change Language" data-placement="left"><strong>EN</strong></small>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right z-depth-1 language-dropdown pt-2 pb-2 animate slideIn">
                                        <a class="dropdown-item px-3 active-language d-flex align-items-center justify-content-between" href="#">English <i class="fas fa-check"></i></a>
                                        <a class="dropdown-item px-3 d-flex align-items-center justify-content-between" href="#">Arabic <i class="fas fa-check"></i></a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="btn-group btn-group-sm font-adjust ml-3" role="group">
                                        <button type="button" class="btn btn-outline-default btn-sm">A</button>
                                        <button type="button" class="btn btn-outline-default btn-sm">A +</button>
                                        <button type="button" class="btn btn-outline-default btn-sm">A -</button>
                                    </div>
                                </li>

                                <li class="nav-item notifications">
                                    <a href="javascript:void(0)" class="nav-link trigger-rightDrawer has-notifications" data-target="drawer-1" data-width="40%">
                                        <i class="far fa-bell position-relative"><span class="notification-count">5</span></i>
                                    </a>
                                </li>
                                <li class="nav-item avatar dropdown">
                                    <a class="nav-link pr-1 pl-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="img/avatar-3.jpg" class="rounded-circle" alt="">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right z-depth-1 profile-dropdown pt-3 pb-0 animate slideIn">
                                        <div class="profile-card clearfix d-flex">
                                            <div class="profile-img float-left d-block">
                                                <img src="img/avatar-3.jpg" class="img-fluid z-depth-0 rounded-circle" alt="">
                                                <a href="#" class="edit-profile-img rounded-circle" data-toggle="tooltip" data-title="Change Avatar" data-placement="bottom"><i class="fas fa-pencil-alt"></i></a>
                                            </div>
                                            <div class="profile-name float-left d-block align-middle align-self-center">
                                                <h3>Jacob Christopher</h3>
                                                <a href="#" data-toggle="modal" data-target="#selectMoodModal" class="change-mood dropdown-toggle">
                                                    <img src="img/smileys/smiley-happy.svg" alt="Smiley"> Feeling <span>Happy</span>
                                                </a>
                                            </div>
                                        </div>
                                        <p class="user-status">Struggle Is What Gives Us Meaning & Makes Us Human!</p>
                                        <ul class="profile-actions">
                                            <li class="dropdown-divider"></li>
                                            <li><a href="">View Profile</a></li>
                                            <li><a href="">Account Settings</a></li>
                                            <li class="dropdown-divider"></li>
                                            <li>
                                                <a href="#"><img src="img/svg/ic-logout.svg" class="border-0 shadow-none" alt="Logout">Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

    </header>
    <!-- header end -->

    <div class="container-fluid mt-3 mt-md-2 mb-4">


        <div class="row white-bg breadcrumb-row">
            <div class="col-lg-12 col-md-12 col-12">
                <nav aria-label="breadcrumb" class="nav-breadcrumb">
                    <ol class="breadcrumb border-bottom bg-white breadcrumb-header d-flex justify-content-between align-items-center">
                        <li class="breadcrumb-item active" aria-current="page">
                            TC Request
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <!-- tc request form -->
                        <div class="row grid-view tcform-container">
                            <!--------tc form info------->
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="column-padding py-4 bg-form-main-text">
                                    <div class="form-main-text">
                                        <p class="text-medium mb-0">Please fill in the form below to obtain a Transfer Certificate for your child. If you are leaving the school because of concerns or complaints that have not been addressed please contact the school leadership or the @string.Format("{0}", Constants.IsGems ? "GEMS " : "Phoenix Classroom ") corporate office before completing this form.</p>
                                    </div>
                                </div>
                            </div>
                            <!--------tc form info------->
                            <!-- left column -->
                            <!--------tc form details------->
                            <div class="col-lg-8 col-md-8 col-12">
                                <div class="column-padding py-4">
                                    <div class="tc-form">
                                        <div class="card tc-card ">
                                            <div class="tc-card-content">
                                                <div class="sub-wrapper p-3">
                                                    <h3 class="tc-card-title text-bold mb-3">1. Details</h3>
                                                    <div class="form-group">
                                                        <label class="form-label text-medium">I would like a meeting with a member of Corporate office customer care team to complete the exit interview</label>
                                                        <select class="selectpicker">
                                                            <option selected>No</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="sub-wrapper p-3 bg-light-blue">
                                                    <div class="form-group">
                                                        <label class="form-label text-medium">Last Date of Attendance*</label>
                                                        <div class="md-form md-outline date-time-picker field-with-icon mb-0 mt-1">
                                                            <i class="far fa-calendar-alt active"></i>
                                                            <input type="text" id="LastDateofAttendance" autocomplete="off" name="LastDateofAttendance" placeholder="Select Date" class="form-control date-picker">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label text-medium">Name of the school to be transferred to</label>
                                                        <select class="selectpicker">
                                                            <option selected>Select</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label text-medium">Reason For Transfer / Withdrawal*</label>
                                                        <select class="selectpicker">
                                                            <option selected>Select</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="sub-wrapper p-3">
                                                    <div class="form-group">
                                                        <label class="form-label text-medium">We appreciate your feedback. Please let us know if you have anything you wish to comment on*</label>
                                                        <textarea id="txtarea" class="form-control" rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card tc-card ">
                                            <div class="tc-card-content">
                                                <div class="sub-wrapper p-3 border-bottom-0">
                                                    <h3 class="tc-card-title text-bold mb-3">2. Student Exit Review</h3>
                                                    <p class="form-note text-medium py-3"><span class="text-bold w-100 d-inline-block">Dear Parent,</span>As your children prepares to leave the school we would value your feedback in order for us to continue meeting your expectations. Please take a few minutes to fill out the short questionnaire below.</p>
                                                    <div class="form-group">
                                                        <label class="form-label text-medium">1.  School met academic needs of your children</label>
                                                        <form id="smileys1" class="emoji-rating d-inline-block w-100">
                                                            @Html.RadioButtonFor(model => model.schoolmet, "vry-happy", new { @class = "vry-happy" })
                                                            @Html.RadioButtonFor(model => model.schoolmet, "happy", new { @class = "happy" })
                                                            @Html.RadioButtonFor(model => model.schoolmet, "neutral", new { @class = "neutral" })
                                                            @Html.RadioButtonFor(model => model.schoolmet, "sad", new { @class = "sad" })
                                                            @Html.RadioButtonFor(model => model.schoolmet, "vry-sad", new { @class = "vry-sad" })
                                                        </form>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label text-medium">2.  School leadership is competent and approachable</label>
                                                        <form id="smileys1" class="emoji-rating d-inline-block w-100">
                                                            @Html.RadioButtonFor(model => model.schoolleadership, "vry-happy", new { @class = "vry-happy" })
                                                            @Html.RadioButtonFor(model => model.schoolleadership, "happy", new { @class = "happy" })
                                                            @Html.RadioButtonFor(model => model.schoolleadership, "neutral", new { @class = "neutral" })
                                                            @Html.RadioButtonFor(model => model.schoolleadership, "sad", new { @class = "sad" })
                                                            @Html.RadioButtonFor(model => model.schoolleadership, "vry-sad", new { @class = "vry-sad" })
                                                        </form>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label text-medium">3.  School has adequate facilities and resources for its educational purpose</label>
                                                        <form id="smileys2" class="emoji-rating d-inline-block w-100">
                                                            @Html.RadioButtonFor(model => model.schoolfacilities, "vry-happy", new { @class = "vry-happy" })
                                                            @Html.RadioButtonFor(model => model.schoolfacilities, "happy", new { @class = "happy" })
                                                            @Html.RadioButtonFor(model => model.schoolfacilities, "neutral", new { @class = "neutral" })
                                                            @Html.RadioButtonFor(model => model.schoolfacilities, "sad", new { @class = "sad" })
                                                            @Html.RadioButtonFor(model => model.schoolfacilities, "vry-sad", new { @class = "vry-sad" })
                                                        </form>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label text-medium">4.  School fees are appropriate for education and services provided</label>
                                                        <form id="smileys3" class="emoji-rating d-inline-block w-100">
                                                            @Html.RadioButtonFor(model => model.schoolfees, "vry-happy", new { @class = "vry-happy" })
                                                            @Html.RadioButtonFor(model => model.schoolfees, "happy", new { @class = "happy" })
                                                            @Html.RadioButtonFor(model => model.schoolfees, "neutral", new { @class = "neutral" })
                                                            @Html.RadioButtonFor(model => model.schoolfees, "sad", new { @class = "sad" })
                                                            @Html.RadioButtonFor(model => model.schoolfees, "vry-sad", new { @class = "vry-sad" })
                                                        </form>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label text-medium">5.  I am satisfied with the experience my children had at the school</label>
                                                        <form id="smileys4" class="emoji-rating d-inline-block w-100">
                                                            @Html.RadioButtonFor(model => model.schoolexperience, "vry-happy", new { @class = "vry-happy" })
                                                            @Html.RadioButtonFor(model => model.schoolexperience, "happy", new { @class = "happy" })
                                                            @Html.RadioButtonFor(model => model.schoolexperience, "neutral", new { @class = "neutral" })
                                                            @Html.RadioButtonFor(model => model.schoolexperience, "sad", new { @class = "sad" })
                                                            @Html.RadioButtonFor(model => model.schoolexperience, "vry-sad", new { @class = "vry-sad" })
                                                        </form>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label text-medium">6.  I would recommend the school to other parents</label>
                                                        <form id="smileys5" class="emoji-rating d-inline-block w-100">
                                                            @Html.RadioButtonFor(model => model.SchoolRecommend, "vry-happy", new { @class = "vry-happy" })
                                                            @Html.RadioButtonFor(model => model.SchoolRecommend, "happy", new { @class = "happy" })
                                                            @Html.RadioButtonFor(model => model.SchoolRecommend, "neutral", new { @class = "neutral" })
                                                            @Html.RadioButtonFor(model => model.SchoolRecommend, "sad", new { @class = "sad" })
                                                            @Html.RadioButtonFor(model => model.SchoolRecommend, "vry-sad", new { @class = "vry-sad" })
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-btn-wrapper mt-4 mb-2">
                                        <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#requestPopup">Save</button>
                                    </div>
                                </div>
                            </div>
                            <!--------tc form details------->
                            <!-- left column -->
                            <!-- right column -->
                            <!--------tc student details------->
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="card tc-student-card my-4">
                                    <div class="card-body">
                                        <div class="tc-student-details p-3">
                                            <div class="student-main-info d-flex">
                                                <div class="student-pic mr-3 d-flex align-items-center">
                                                    <img src="img/avatar-2.jpg" class="rounded-circle" alt="Katherine Christopher">
                                                </div>
                                                <div class="student-fullname d-flex flex-column justify-content-center">
                                                    <h6 class="student-name text-bold mb-1">ROCHELLE ROBERTS </h6>
                                                    <p class="student-id mb-0 text-medium">ID: [30000109611532]	</p>
                                                </div>
                                            </div>
                                            <div class="school-details my-3">
                                                <p class="mb-1 text-medium">School:<strong class="pl-1">@string.Format("{0}", Constants.IsGems ? "GEMS " : "Phoenix Classroom ") United Indian School</strong></p>
                                                <p class="mb-1 text-medium">Grade:<strong class="pl-1">KG1-A</strong></p>
                                            </div>
                                            <ul class="contact-details">
                                                <li class="d-flex py-2">
                                                    <i class="far fa-user-circle mt-3 mr-3"></i>
                                                    <p class="mb-1 mt-1"><span class="d-inline-block w-100">Primary Contact:</span><strong>Charles Roberts</strong></p>
                                                </li>
                                                <li class="d-flex py-2">
                                                    <i class="fas fa-mobile-alt mt-3 mr-3"></i>
                                                    <p class="mb-1 mt-1"><span class="d-inline-block w-100">Mob.No:</span><strong>971-0507879475</strong></p>
                                                </li>
                                                <li class="d-flex py-2">
                                                    <i class="far fa-envelope mt-3 mr-3"></i>
                                                    <p class="mb-1 mt-1"><span class="d-inline-block w-100">Email ID:</span><strong>mahesh.neosoft@gemseducation.com</strong></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--------tc student details------->
                            <!-- right column -->
                        </div>
                        <!-- tc request form -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer start -->
    <footer>
        <p class="m-0 text-center">&copy; Copyright, @string.Format("{0}", Constants.IsGems ? "GEMS Education" : "Phoenix Classroom ") </p>
    </footer>
    <!-- footer end -->

    <div role="alert" class="paymentDue-toast d-none z-depth-2" data-autohide="true">
        <div class="toast-header">
            <strong class="mr-auto text-primary">Fee Payment Due</strong>
            <button type="button" class="ml-2 mb-1 close close-toast" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body p-3">
            <h3 class="mb-3">AED 2000 <span class="text-danger rounded py-1 px-3 ml-3">Due in 2 days</span></h3>
            <p class="m-0">Now it’s easy to set Auto Pay so that you don’t have to worry about fees anymore.</p>
            <button type="button" class="btn btn-primary btn-sm m-0 mt-3">Pay Now</button>
        </div>
    </div>

    <!--request popup start-->
    <div class="modal request-modal fade" id="requestPopup" tabindex="-1" role="dialog" aria-labelledby="requestPopup" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content py-4 px-5">
                <div class="modal-header p-0 d-flex justify-content-center align-items-center flex-column border-0">
                    <div class="my-2"><i class="far fa-check-circle fa-4x text-success"></i></div>
                    <h5 class="modal-title text-bold my-2">Request submitted successfully.</h5>
                </div>
                <div class="modal-body p-0 my-2 d-flex justify-content-center">
                    <p class="text-center">Email <span class="text-medium">notification</span> has been sent to the Authorised staff for <strong>Approval</strong></p>
                </div>
                <div class="modal-footer p-0 my-2 d-flex justify-content-center border-0 pt-0">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--request popup end-->
    <!-- preloader start -->
    <!-- preloader end -->
    <!-- SCRIPTS -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script>

    <script type="text/javascript" src="js/addons/bootstrap-select.js"></script>
    <script type="text/javascript" src="js/addons/moment.js"></script>
    <script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="js/addons/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript" src="js/custom.js"></script>

    @section scripts
{

        <script type="text/javascript">
            $('#LastDateofAttendance').datetimepicker({
                format: 'DD-MMM-YYYY',
                // minDate: stDate
            });
        </script>
    }


</body>

</html>