.primaryColor, input.btn.btn-outline-primary[type=button], input.btn.btn-outline-primary[type=submit], input.btn.btn-outline-primary[type=reset], button.btn.btn-outline-primary[type=button], button.btn.btn-outline-primary[type=submit], button.btn.btn-outline-primary[type=reset], a.btn.btn-outline-primary { color: #004195 !important; }

.primaryBgColor { background: #004195 !important; }

.secondaryColor, input.btn.btn-outline-secondary[type=button], input.btn.btn-outline-secondary[type=submit], input.btn.btn-outline-secondary[type=reset], button.btn.btn-outline-secondary[type=button], button.btn.btn-outline-secondary[type=submit], button.btn.btn-outline-secondary[type=reset], a.btn.btn-outline-secondary { color: #008a1c !important; }

.secondaryBgColor { background: #008a1c !important; }

.svg path { fill: #004195; }

.svg.svg-white path { fill: #fff; }

.bg-primary { background: #002049 !important; }

/*---------- preloader style ----------*/
.loader-wrapper #loader { background: #004195; }

@-webkit-keyframes forward { 0% { left: 40%;
    opacity: 0;
    background: #008a1c; }
  10% { left: 45%;
    opacity: 1; }
  90% { left: 55%;
    opacity: 1; }
  100% { left: 62%;
    opacity: 0; } }

@keyframes forward { 0% { left: 40%;
    opacity: 0;
    background: #008a1c; }
  10% { left: 45%;
    opacity: 1; }
  90% { left: 55%;
    opacity: 1; }
  100% { left: 62%;
    opacity: 0; } }

/*---------- preloader style end ----------*/
/*--------- buttons skin ---------*/
input[type=button].btn.btn-outline-primary, input[type=submit].btn.btn-outline-primary, input[type=reset].btn.btn-outline-primary, button[type=button].btn.btn-outline-primary, button[type=submit].btn.btn-outline-primary, button[type=reset].btn.btn-outline-primary { border-color: #004195 !important; }

input[type=button].btn.btn-outline-primary:hover, input[type=submit].btn.btn-outline-primary:hover, input[type=reset].btn.btn-outline-primary:hover, button[type=button].btn.btn-outline-primary:hover, button[type=submit].btn.btn-outline-primary:hover, button[type=reset].btn.btn-outline-primary:hover { background: #004195 !important; color: #fff !important; }

input[type=button].btn.btn-outline-primary.active, input[type=submit].btn.btn-outline-primary.active, input[type=reset].btn.btn-outline-primary.active, button[type=button].btn.btn-outline-primary.active, button[type=submit].btn.btn-outline-primary.active, button[type=reset].btn.btn-outline-primary.active { border-color: #004195 !important; }

input[type=button].btn.btn-outline-secondary, input[type=submit].btn.btn-outline-secondary, input[type=reset].btn.btn-outline-secondary, button[type=button].btn.btn-outline-secondary, button[type=submit].btn.btn-outline-secondary, button[type=reset].btn.btn-outline-secondary { border-color: #008a1c !important; }

input[type=button].btn.btn-outline-secondary:hover, input[type=submit].btn.btn-outline-secondary:hover, input[type=reset].btn.btn-outline-secondary:hover, button[type=button].btn.btn-outline-secondary:hover, button[type=submit].btn.btn-outline-secondary:hover, button[type=reset].btn.btn-outline-secondary:hover { background: #008a1c !important; color: #fff !important; }

input[type=button].btn.btn-outline-secondary.active, input[type=submit].btn.btn-outline-secondary.active, input[type=reset].btn.btn-outline-secondary.active, button[type=button].btn.btn-outline-secondary.active, button[type=submit].btn.btn-outline-secondary.active, button[type=reset].btn.btn-outline-secondary.active { border-color: #008a1c !important; }

input[type=button].btn.btn-outline-default, input[type=submit].btn.btn-outline-default, input[type=reset].btn.btn-outline-default, button[type=button].btn.btn-outline-default, button[type=submit].btn.btn-outline-default, button[type=reset].btn.btn-outline-default { color: #ADB0B3 !important; border-color: #cecece !important; }

input[type=button].btn.btn-outline-default:hover, input[type=submit].btn.btn-outline-default:hover, input[type=reset].btn.btn-outline-default:hover, button[type=button].btn.btn-outline-default:hover, button[type=submit].btn.btn-outline-default:hover, button[type=reset].btn.btn-outline-default:hover { background: #cecece !important; color: #fff !important; }

input[type=button].btn.btn-default, input[type=submit].btn.btn-default, input[type=reset].btn.btn-default, button[type=button].btn.btn-default, button[type=submit].btn.btn-default, button[type=reset].btn.btn-default { background: #F0F3F4 !important; color: #ADB0B3; }

input[type=button].btn.btn-default:active, input[type=submit].btn.btn-default:active, input[type=reset].btn.btn-default:active, button[type=button].btn.btn-default:active, button[type=submit].btn.btn-default:active, button[type=reset].btn.btn-default:active { color: #fff; }

input[type=button].btn.btn-primary, input[type=submit].btn.btn-primary, input[type=reset].btn.btn-primary, button[type=button].btn.btn-primary, button[type=submit].btn.btn-primary, button[type=reset].btn.btn-primary { background: #004195 !important; color: #fff; }

input[type=button].btn.btn-primary:hover, input[type=submit].btn.btn-primary:hover, input[type=reset].btn.btn-primary:hover, button[type=button].btn.btn-primary:hover, button[type=submit].btn.btn-primary:hover, button[type=reset].btn.btn-primary:hover { background: #000916; }

input[type=button].btn.btn-white:not([disabled]):not(.disabled):active, input[type=submit].btn.btn-white:not([disabled]):not(.disabled):active, input[type=reset].btn.btn-white:not([disabled]):not(.disabled):active, button[type=button].btn.btn-white:not([disabled]):not(.disabled):active, button[type=submit].btn.btn-white:not([disabled]):not(.disabled):active, button[type=reset].btn.btn-white:not([disabled]):not(.disabled):active { background: #fff !important; }

a.btn.btn-outline-primary { border-color: #004195 !important; }

a.btn.btn-outline-primary:hover { background: #004195 !important; color: #fff !important; }

a.btn.btn-outline-secondary { border-color: #008a1c !important; }

a.btn.btn-outline-secondary:hover { background: #008a1c !important; color: #fff !important; }

a.btn.btn-outline-default { color: #ADB0B3 !important; border-color: #cecece !important; }

a.btn.btn-outline-default:hover { background: #cecece !important; color: #555758 !important; }

a.btn.btn-primary { background: #004195 !important; color: #fff; }

a.btn.btn-primary:hover { background: #00152f !important; }

/*---------- button skin end ----------*/
/*---------- date picker skin ----------*/
.date-time-picker .dropdown-menu .datepicker table thead th.prev, .date-time-picker .dropdown-menu .datepicker table thead th.next, .date-time-picker #inlinedatepicker .datepicker table thead th.prev, .date-time-picker #inlinedatepicker .datepicker table thead th.next { color: #004195; }

.date-time-picker .dropdown-menu .datepicker table thead th.picker-switch, .date-time-picker #inlinedatepicker .datepicker table thead th.picker-switch { background: #004195; }

/*---------- date picker skin end ----------*/
/*---------- table skin ----------*/
.table-wrapper .dataTables_info .select-info { color: #004195; }

.table-wrapper .table-action-icon-btn:hover { color: #004195; }

.table-wrapper .table-action-text-link { color: #004195; }

.table.dataTable tr.selected td.select-checkbox:after, .table.dataTable tr.selected th.select-checkbox:after, table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after { background: #004195; color: #fff; }

/*---------- table skin end ----------*/
/*---------- custom checckbox skin ----------*/
.custom-control .custom-control-input:checked ~ .custom-control-label:before { background: #004195; }

/*---------- custom checkbox skin end ----------*/
/*---------- Accordion skin ----------*/
.accordion.with-border .card .card-header a[aria-expanded='true'] { color: #004195; }

.accordion.with-border .card .card-header a .fas { color: #ADB0B3; }

/*---------- Accordion skin end ----------*/
/*---------- Tab panels skin ----------*/
.tab-panels .nav-tabs .nav-item.show .nav-link { color: #3F4041; background-color: transparent; border-bottom: 0.125rem solid #004195 !important; border: none; }

.tab-panels .nav-tabs .nav-link.active, .tab-panels .nav-tabs .nav-link:hover { color: #3F4041; background-color: transparent; border-bottom: 0.125rem solid #004195 !important; border: none; }

.tab-panels .nav-tabs .nav-link:focus, .tab-panels .nav-tabs .nav-link:hover { border: none; color: #3F4041; }

/*---------- Tab panels skin end ----------*/
/*---------- Title link skin ----------*/
.title-link { border: solid 1px #ADB0B3; color: #ADB0B3; }

.title-link:hover { background: #008a1c; border-color: #008a1c; color: #fff; }

/*---------- Title link skin end ----------*/
/*---------- Header skin ----------*/
header .main-nav ul li.avatar img { border: solid 2px transparent; }

header .main-nav .dropdown-menu.profile-dropdown .profile-card .profile-name .change-mood { color: #555758; }

header .main-nav .dropdown-menu.profile-dropdown .profile-card .profile-name .change-mood:hover { background: none; }

header .main-nav .dropdown-menu.profile-dropdown .profile-card .profile-name .change-mood:hover span { color: #004195; }

header .main-nav .dropdown-menu.profile-dropdown .profile-actions li { margin: 0; }

header .main-nav .dropdown-menu.profile-dropdown .profile-actions li a:hover { background: #F0F3F4; color: #000; }

header .main-nav .notifications .has-notifications { color: #004195; }

header .main-nav .notifications .has-notifications .notification-count { background: #FF9850; color: #fff; border: solid 0.09375rem #fff; }

header .main-nav.top-nav-collapse { border-bottom: solid 3px #F6F8F8; }

header .header-info .btn-back { color: #ADB0B3; background: #fff; border: solid 1px #ADB0B3; }

header .header-info .btn-back:hover { background: #004195; color: #fff; border-color: #004195; }

header .header-info h1 { color: #3F4041; }

header .sidebar-fixed { background: #004195; background: -webkit-gradient(linear, left top, left bottom, from(#004195), color-stop(50%, #004195)); background: linear-gradient(180deg, #004195 0%, #004195 50%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 ); background-size: cover; }

header .sidebar-fixed:after { content: ''; background: url(../img/student-banners/skin-christmas-sidebar.jpg) no-repeat bottom left; position: absolute; height: 100%; width: 100%; bottom: 0; background-size: calc(100% + 1px); }

header .sidebar-fixed .mob-user-widget .user-avatar { border: solid 1px rgba(255, 255, 255, 0.5); }

header .sidebar-fixed .mob-user-widget .user-actions { background: #002049; border: 1px solid rgba(255, 255, 255, 0.5); }

header .sidebar-fixed .mob-user-widget .user-actions:after { border-color: rgba(213, 0, 0, 0); border-bottom-color: #28559f; }

header .sidebar-fixed .mob-user-widget .user-actions:before { border-color: rgba(255, 255, 255, 0); border-bottom-color: rgba(255, 255, 255, 0.5); }

header .sidebar-fixed .mob-user-widget .user-actions ul li a { color: #fff; }

header .sidebar-fixed .list-group .list-group-item { background: transparent; border: none; color: #fff; font-weight: 500; }

header .sidebar-fixed .list-group .list-group-item.active { background: rgba(0, 0, 0, 0.2); }

header .sidebar-fixed .list-group .list-group-item.active:hover { /* background: $primary-color; */ color: #fff; }

header .sidebar-fixed .list-group .list-group-item.active span.title-icon { -webkit-filter: brightness(200); filter: brightness(200); }

header .sidebar-fixed .list-group .list-group-item span.title-icon { -webkit-filter: brightness(200); filter: brightness(200); }

header .sidebar-fixed .list-group .list-group-item:hover { background: rgba(0, 0, 0, 0.2); }

header .sidebar-fixed .list-group .list-group-item.has-submenu:hover { /* color: inherit; */ color: #fff; }

header .sidebar-fixed .list-group .list-group-item.has-submenu[aria-expanded="true"] { color: #fff; }

header .sidebar-fixed .list-group .list-group-item.has-submenu[aria-expanded="true"] span.title-icon { -webkit-filter: brightness(200); filter: brightness(200); }

header .sidebar-fixed .list-group .sub-menu a { color: #fff; }

header .sidebar-fixed .list-group .sub-menu a:hover { color: #fac346; }

header .sidebar-fixed .logo-wrapper { border-bottom: solid 1px rgba(255, 255, 255, 0.2); background: rgba(0, 0, 0, 0.2); }

header .sidebar-fixed .flurry-container { height: 100% !important; }

.subheader .breadcrumbs li { color: #555758; }

.subheader .btn-back { color: #ADB0B3; background: #fff; }

.subheader .btn-back:hover { background: #004195; color: #fff; }

.animated-icon1 span { background: #004195; }

/*---------- Header skin end ----------*/
/*---------- Card skin ----------*/
.card .card-body .card-title { color: #004195; }

/*---------- Card skin end ----------*/
/*---------- User profile widget ----------*/
.user-profile-widget { background: #004195 url(../img/student-banners/skin-christmas-banner.jpg) no-repeat; background-position: top right; background-size: cover; }

@media screen and (min-width: 1366px) { .user-profile-widget { background-size: cover; } }

@media screen and (min-width: 1600px) { .user-profile-widget { background-size: calc(100% + 1px); } }

.user-profile-widget .user-info h3, .user-profile-widget .user-info p { color: #fff; }

.user-profile-widget .user-info p { font-weight: 500; }

.user-profile-widget .user-avatar .avatar a:hover { background: black; color: #fff; }

@media screen and (min-width: 1200px) and (max-width: 1366px) { .user-profile-widget { min-height: 13.75rem; } }

/*---------- User profile widget end ----------*/
/*---------- calendar style ----------*/
.fc .fc-toolbar.fc-header-toolbar .btn-group button.active { background: #004195 !important; color: #fff !important; }

.fc .fc-view .fc-event { background: #004195; border-color: inherit; }

/*---------- Calendar style end ----------*/
/*---------- Assignment styles ----------*/
.toggle-library a.active { color: #004195; }

#library .assignment-list article .assignment-category:hover { background: #004195; color: #fff; border-color: #004195; }

/*---------- Assignment styles end ----------*/
/*---------- File uploader style ----------*/
.file-upload-widget .file-input .btn { background: #004195; color: #fff; }

/*---------- File uploader style end ----------*/
/*---------- library breadcrumbs style ----------*/
.breadcrumb-arrow li a { background-color: #004195; border: 1px solid #004195; }

.breadcrumb-arrow li a:before { border-left-color: #004195; }

.breadcrumb-arrow li a:after { border-left: 0.6875rem solid #00152f; }

.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover { background-color: #0053be; border: 1px solid #0053be; }

.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before { border-left-color: #0053be; }

.breadcrumb-arrow li a:active { background-color: #0053be; border: 1px solid #0053be; }

.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before { border-left-color: #0053be; }

/*---------- library breadcrumbs style end ----------*/
/*---------- web links ---------*/
.web-links li a h6 i { color: #008a1c; }

.web-links li a p { color: #ADB0B3; }

.web-links li:hover { background: #F6F8F8; }

/*---------- web links ---------*/
/*---------- todays envent style ----------*/
.todays-event .event-header { border: solid 1px #004195; background: #004195; }

.todays-event .event-header h4 { color: #fff; }

.todays-event .event-data h3 { color: #3F4041; }

.todays-event .event-data h6 { color: #ADB0B3; }

.todays-event .event-data ul li a:hover h3 { color: #004195; }

/*---------- todays event style end ----------*/
/*---------- blog wall style start ----------*/
.blog-post > .card-heading .add-post-content .blog-editor .upload-img:hover .svg path, .blog-post > .card-heading .add-post-content .blog-editor .upload-img:active .svg path, .blog-post > .card-heading .add-post-content .blog-editor .upload-img:focus .svg path { fill: #004195; }

.blog-post > .card-body h3 a:hover { color: #004195; }

.blog-post > .card-body a { color: #004195; }

.blog-post > .card-footer > .btn:hover, .blog-post > .card-footer > .btn.active, .blog-post > .card-footer > .btn:active, .blog-post > .card-footer > .btn:focus { border-color: #004195; background: #004195; color: #fff; }

.blog-post > .card-footer > .btn:hover i, .blog-post > .card-footer > .btn.active i, .blog-post > .card-footer > .btn:active i, .blog-post > .card-footer > .btn:focus i { color: #fff; }

.blog-post > .card-footer > .btn.active { color: #fff; }

.blog-post.blog-draft-mode .action-btns a { background: #fff; color: #004195; border: solid 1px #004195; margin: 0 0.25rem; }

.blog-post.blog-draft-mode .action-btns a:hover { background: #004195; color: #fff; }

/*---------- blog wall style end ----------*/
/*---------- comment wrapper style ----------*/
.comment-wrrapper .user-comment .comment-action a:hover, .comment-wrrapper .user-comment .comment-action a.active { color: #004195; }

.comment-wrrapper .more-comments:hover { background: #004195; color: #fff; }

/*---------- comment wrapper style end ----------*/
/*---------- community section style ----------*/
.my-community .community-card:hover { background: #004195; }

.my-community .community-card:hover .svg path { fill: #fff; }

.my-community .community-card:hover h4, .my-community .community-card:hover p { color: #fff; }

/*---------- community section style end ----------*/
/*---------- assignment status badges ----------*/
.badge.badge-outline.completed:hover, .badge.badge-outline.completed.active { color: #fff !important; background: #1fce56; border-color: #1fce56; }

.badge.badge-outline.grade:hover, .badge.badge-outline.grade.active { color: #fff !important; background: #004195; border-color: #004195; }

/*---------- assignment status badges end ----------*/
/*---------- right drawer style ----------*/
.right-drawer .drawer-header h2 { color: #004195; }

/*---------- right drawer style end ----------*/
/*# sourceMappingURL=theme-newyear.css.map */