.primaryColor, input.btn.btn-outline-primary[type=button], input.btn.btn-outline-primary[type=submit], input.btn.btn-outline-primary[type=reset], button.btn.btn-outline-primary[type=button], button.btn.btn-outline-primary[type=submit], button.btn.btn-outline-primary[type=reset], a.btn.btn-outline-primary { color: #58b375 !important; }

.primaryBgColor { background: #58b375 !important; }

.secondaryColor, input.btn.btn-outline-secondary[type=button], input.btn.btn-outline-secondary[type=submit], input.btn.btn-outline-secondary[type=reset], button.btn.btn-outline-secondary[type=button], button.btn.btn-outline-secondary[type=submit], button.btn.btn-outline-secondary[type=reset], a.btn.btn-outline-secondary { color: #FFC92C !important; }

.secondaryBgColor { background: #FFC92C !important; }

.svg path { fill: #58b375 !important; }

.svg.svg-white path { fill: #fff; }

.bg-primary { background: #3c8352 !important; }

/* body {
    background: lighten($primary-color, 35%);
} */
/*---------- preloader style ----------*/
.loader-wrapper #loader { background: #58b375; }

@-webkit-keyframes forward { 0% { left: 40%;
    opacity: 0;
    background: #FFC92C; }
  10% { left: 45%;
    opacity: 1; }
  90% { left: 55%;
    opacity: 1; }
  100% { left: 62%;
    opacity: 0; } }

@keyframes forward { 0% { left: 40%;
    opacity: 0;
    background: #FFC92C; }
  10% { left: 45%;
    opacity: 1; }
  90% { left: 55%;
    opacity: 1; }
  100% { left: 62%;
    opacity: 0; } }

/*---------- preloader style end ----------*/
/*--------- buttons skin ---------*/
input[type=button].btn.btn-outline-primary, input[type=submit].btn.btn-outline-primary, input[type=reset].btn.btn-outline-primary, button[type=button].btn.btn-outline-primary, button[type=submit].btn.btn-outline-primary, button[type=reset].btn.btn-outline-primary { border-color: #58b375 !important; }

input[type=button].btn.btn-outline-primary:hover, input[type=submit].btn.btn-outline-primary:hover, input[type=reset].btn.btn-outline-primary:hover, button[type=button].btn.btn-outline-primary:hover, button[type=submit].btn.btn-outline-primary:hover, button[type=reset].btn.btn-outline-primary:hover { background: #58b375 !important; color: #fff !important; }

input[type=button].btn.btn-outline-primary.active, input[type=submit].btn.btn-outline-primary.active, input[type=reset].btn.btn-outline-primary.active, button[type=button].btn.btn-outline-primary.active, button[type=submit].btn.btn-outline-primary.active, button[type=reset].btn.btn-outline-primary.active { border-color: #58b375 !important; }

input[type=button].btn.btn-outline-secondary, input[type=submit].btn.btn-outline-secondary, input[type=reset].btn.btn-outline-secondary, button[type=button].btn.btn-outline-secondary, button[type=submit].btn.btn-outline-secondary, button[type=reset].btn.btn-outline-secondary { border-color: #FFC92C !important; }

input[type=button].btn.btn-outline-secondary:hover, input[type=submit].btn.btn-outline-secondary:hover, input[type=reset].btn.btn-outline-secondary:hover, button[type=button].btn.btn-outline-secondary:hover, button[type=submit].btn.btn-outline-secondary:hover, button[type=reset].btn.btn-outline-secondary:hover { background: #FFC92C !important; color: #fff !important; }

input[type=button].btn.btn-outline-secondary.active, input[type=submit].btn.btn-outline-secondary.active, input[type=reset].btn.btn-outline-secondary.active, button[type=button].btn.btn-outline-secondary.active, button[type=submit].btn.btn-outline-secondary.active, button[type=reset].btn.btn-outline-secondary.active { border-color: #FFC92C !important; }

input[type=button].btn.btn-outline-default, input[type=submit].btn.btn-outline-default, input[type=reset].btn.btn-outline-default, button[type=button].btn.btn-outline-default, button[type=submit].btn.btn-outline-default, button[type=reset].btn.btn-outline-default { color: #ADB0B3 !important; border-color: #cecece !important; }

input[type=button].btn.btn-outline-default:hover, input[type=submit].btn.btn-outline-default:hover, input[type=reset].btn.btn-outline-default:hover, button[type=button].btn.btn-outline-default:hover, button[type=submit].btn.btn-outline-default:hover, button[type=reset].btn.btn-outline-default:hover { background: #cecece !important; color: #fff !important; }

input[type=button].btn.btn-default, input[type=submit].btn.btn-default, input[type=reset].btn.btn-default, button[type=button].btn.btn-default, button[type=submit].btn.btn-default, button[type=reset].btn.btn-default { background: #F0F3F4 !important; color: #ADB0B3; }

input[type=button].btn.btn-default:active, input[type=submit].btn.btn-default:active, input[type=reset].btn.btn-default:active, button[type=button].btn.btn-default:active, button[type=submit].btn.btn-default:active, button[type=reset].btn.btn-default:active { color: #fff; }

input[type=button].btn.btn-primary, input[type=submit].btn.btn-primary, input[type=reset].btn.btn-primary, button[type=button].btn.btn-primary, button[type=submit].btn.btn-primary, button[type=reset].btn.btn-primary { background: #58b375 !important; color: #fff; }

input[type=button].btn.btn-primary:hover, input[type=submit].btn.btn-primary:hover, input[type=reset].btn.btn-primary:hover, button[type=button].btn.btn-primary:hover, button[type=submit].btn.btn-primary:hover, button[type=reset].btn.btn-primary:hover { background: #2c603c; }

input[type=button].btn.btn-white:not([disabled]):not(.disabled):active, input[type=submit].btn.btn-white:not([disabled]):not(.disabled):active, input[type=reset].btn.btn-white:not([disabled]):not(.disabled):active, button[type=button].btn.btn-white:not([disabled]):not(.disabled):active, button[type=submit].btn.btn-white:not([disabled]):not(.disabled):active, button[type=reset].btn.btn-white:not([disabled]):not(.disabled):active { background: #fff !important; }

a:hover { color: #FFC92C; }

a.btn.btn-outline-primary { border-color: #58b375 !important; }

a.btn.btn-outline-primary:hover { background: #58b375 !important; color: #fff !important; }

a.btn.btn-outline-secondary { border-color: #FFC92C !important; }

a.btn.btn-outline-secondary:hover { background: #FFC92C !important; color: #fff !important; }

a.btn.btn-outline-default { color: #ADB0B3 !important; border-color: #cecece !important; }

a.btn.btn-outline-default:hover { background: #cecece !important; color: #555758 !important; }

a.btn.btn-primary { background: #58b375 !important; color: #fff; }

a.btn.btn-primary:hover { background: #347147 !important; }

/*---------- button skin end ----------*/
/*---------- date picker skin ----------*/
.date-time-picker .dropdown-menu .datepicker table thead th.prev, .date-time-picker .dropdown-menu .datepicker table thead th.next, .date-time-picker #inlinedatepicker .datepicker table thead th.prev, .date-time-picker #inlinedatepicker .datepicker table thead th.next { color: #58b375; }

.date-time-picker .dropdown-menu .datepicker table thead th.picker-switch, .date-time-picker #inlinedatepicker .datepicker table thead th.picker-switch { background: #58b375; }

/*---------- date picker skin end ----------*/
/*---------- table skin ----------*/
.table-wrapper .dataTables_info .select-info { color: #58b375; }

.table-wrapper .table-action-icon-btn:hover { color: #58b375; }

.table-wrapper .table-action-text-link { color: #58b375; }

.table.dataTable tr.selected td.select-checkbox:after, .table.dataTable tr.selected th.select-checkbox:after, table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after { background: #58b375; color: #fff; }

/*---------- table skin end ----------*/
/*---------- custom checckbox skin ----------*/
.custom-control .custom-control-input:checked ~ .custom-control-label:before { background: #58b375; }

/*---------- custom checkbox skin end ----------*/
/*---------- Accordion skin ----------*/
.accordion.with-border .card .card-header a[aria-expanded='true'] { color: #58b375; }

.accordion.with-border .card .card-header a .fas { color: #ADB0B3; }

/*---------- Accordion skin end ----------*/
/*---------- Tab panels skin ----------*/
.tab-panels .nav-tabs .nav-item.show .nav-link { color: #3F4041; background-color: transparent; border-bottom: 0.125rem solid #58b375 !important; border: none; }

.tab-panels .nav-tabs .nav-link.active, .tab-panels .nav-tabs .nav-link:hover { color: #3F4041; background-color: transparent; border-bottom: 0.125rem solid #58b375 !important; border: none; }

.tab-panels .nav-tabs .nav-link:focus, .tab-panels .nav-tabs .nav-link:hover { border: none; color: #3F4041; }

/*---------- Tab panels skin end ----------*/
/*---------- Title link skin ----------*/
.title-link { border: solid 1px #ADB0B3; color: #ADB0B3; }

.title-link:hover { background: #FFC92C; border-color: #FFC92C; color: #fff; }

/*---------- Title link skin end ----------*/
/*---------- Header skin ----------*/
header .main-nav ul li.avatar img { border: solid 2px #58b375; }

header .main-nav .dropdown-menu.profile-dropdown .profile-card .profile-name .change-mood { color: #555758; }

header .main-nav .dropdown-menu.profile-dropdown .profile-card .profile-name .change-mood:hover { background: none; }

header .main-nav .dropdown-menu.profile-dropdown .profile-card .profile-name .change-mood:hover span { color: #58b375; }

header .main-nav .dropdown-menu.profile-dropdown .profile-actions li { margin: 0; }

header .main-nav .dropdown-menu.profile-dropdown .profile-actions li a:hover { background: #F0F3F4; color: #000; }

header .main-nav .notifications .has-notifications { color: #58b375; }

header .main-nav .notifications .has-notifications .notification-count { background: #FF9850; color: #fff; border: solid 0.09375rem #fff; }

header .main-nav.top-nav-collapse { border-bottom: solid 3px #F6F8F8; }

header .header-info .btn-back { color: #ADB0B3; background: #fff; border: solid 1px #ADB0B3; }

header .header-info .btn-back:hover { background: #58b375; color: #fff; border-color: #58b375; }

header .header-info h1 { color: #3F4041; }

header .sidebar-fixed { background: #53ad74; background: -webkit-gradient(linear, left top, left bottom, from(#53ad74), color-stop(70%, #0f5459)); background: linear-gradient(180deg, #53ad74 0%, #0f5459 70%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 ); background-size: cover; }

header .sidebar-fixed:after { content: ''; background: url(../img/student-banners/skin-3-sidebar-bg.svg) no-repeat bottom left; position: absolute; height: 100%; width: 100%; bottom: 0; background-size: contain; }

header .sidebar-fixed .mob-user-widget .user-avatar { border: solid 1px rgba(255, 255, 255, 0.5); }

header .sidebar-fixed .mob-user-widget .user-actions { background: #3c8352; border: 1px solid rgba(255, 255, 255, 0.5); }

header .sidebar-fixed .mob-user-widget .user-actions:after { border-color: rgba(213, 0, 0, 0); border-bottom-color: #28559f; }

header .sidebar-fixed .mob-user-widget .user-actions:before { border-color: rgba(255, 255, 255, 0); border-bottom-color: rgba(255, 255, 255, 0.5); }

header .sidebar-fixed .mob-user-widget .user-actions ul li a { color: #fff; }

header .sidebar-fixed .list-group .list-group-item { background: transparent; border: none; color: #fff; }

header .sidebar-fixed .list-group .list-group-item.active { /* background: $primary-color; */ background: rgba(0, 0, 0, 0.2); }

header .sidebar-fixed .list-group .list-group-item.active:hover { /* background: $primary-color; */ background: rgba(0, 0, 0, 0.2); }

header .sidebar-fixed .list-group .list-group-item:hover { /* background: #F0F3F4; */ background: rgba(0, 0, 0, 0.2); }

header .sidebar-fixed .list-group .list-group-item.has-submenu:hover { /* color: inherit; */ color: #fff; }

header .sidebar-fixed .list-group .list-group-item.has-submenu[aria-expanded="true"] { background: rgba(0, 0, 0, 0.2); color: #fff; }

header .sidebar-fixed .list-group .sub-menu a { color: #fff; }

header .sidebar-fixed .logo-wrapper { border-bottom: solid 1px rgba(255, 255, 255, 0.2); background: #000; /* The Fallback */ background: rgba(0, 0, 0, 0.1); }

.subheader .breadcrumbs li { color: #555758; }

.subheader .btn-back { color: #ADB0B3; background: #fff; }

.subheader .btn-back:hover { background: #58b375; color: #fff; }

.animated-icon1 span { background: #58b375; }

/*---------- Header skin end ----------*/
/*---------- Card skin ----------*/
.card .card-body .card-title { color: #f8b900; }

/*---------- Card skin end ----------*/
/*---------- User profile widget ----------*/
.user-profile-widget { background: #53ad74 url(../img/student-banners/skin-3-banner.svg) no-repeat; background-position: top right; background-size: cover; }

.user-profile-widget .user-avatar .avatar a:hover { background: #1c3d26; color: #fff; }

/*---------- User profile widget end ----------*/
/*---------- calendar style ----------*/
.fc .fc-toolbar.fc-header-toolbar .btn-group button.active { background: #58b375 !important; color: #fff !important; }

.fc .fc-view .fc-event { background: #58b375; border-color: inherit; }

/*---------- Calendar style end ----------*/
/*---------- Assignment styles ----------*/
.toggle-library a.active { color: #58b375; }

#library .assignment-list article .assignment-category:hover { background: #58b375; color: #fff; border-color: #58b375; }

/*---------- Assignment styles end ----------*/
/*---------- File uploader style ----------*/
.file-upload-widget .file-input .btn { background: #58b375; color: #fff; }

/*---------- File uploader style end ----------*/
/*---------- library breadcrumbs style ----------*/
.breadcrumb-arrow li a { background-color: #58b375; border: 1px solid #58b375; }

.breadcrumb-arrow li a:before { border-left-color: #58b375; }

.breadcrumb-arrow li a:after { border-left: 0.6875rem solid #347147; }

.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover { background-color: #74c08c; border: 1px solid #74c08c; }

.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before { border-left-color: #74c08c; }

.breadcrumb-arrow li a:active { background-color: #74c08c; border: 1px solid #74c08c; }

.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before { border-left-color: #74c08c; }

/*---------- library breadcrumbs style end ----------*/
/*---------- web links ---------*/
.web-links li a h6 i { color: #FFC92C; }

.web-links li a p { color: #ADB0B3; }

.web-links li:hover { background: #F6F8F8; }

/*---------- web links ---------*/
/*---------- todays envent style ----------*/
.todays-event .event-header { border: solid 1px #58b375; background: #58b375; }

.todays-event .event-header h4 { color: #fff; }

.todays-event .event-data h3 { color: #3F4041; }

.todays-event .event-data h6 { color: #ADB0B3; }

.todays-event .event-data ul li a:hover h3 { color: #58b375; }

/*---------- todays event style end ----------*/
/*---------- blog wall style start ----------*/
.blog-post > .card-heading .add-post-content .blog-editor .upload-img:hover .svg path, .blog-post > .card-heading .add-post-content .blog-editor .upload-img:active .svg path, .blog-post > .card-heading .add-post-content .blog-editor .upload-img:focus .svg path { fill: #FFC92C; }

.blog-post > .card-body h3 a:hover { color: #58b375; }

.blog-post > .card-body a { color: #58b375; }

.blog-post > .card-footer > .btn:hover, .blog-post > .card-footer > .btn.active, .blog-post > .card-footer > .btn:active, .blog-post > .card-footer > .btn:focus { border-color: #58b375; background: #58b375; color: #fff; }

.blog-post > .card-footer > .btn:hover i, .blog-post > .card-footer > .btn.active i, .blog-post > .card-footer > .btn:active i, .blog-post > .card-footer > .btn:focus i { color: #fff; }

.blog-post > .card-footer > .btn.active { color: #fff; }

.blog-post.blog-draft-mode .action-btns a { background: #fff; color: #58b375; border: solid 1px #58b375; margin: 0 0.25rem; }

.blog-post.blog-draft-mode .action-btns a:hover { background: #58b375; color: #fff; }

/*---------- blog wall style end ----------*/
/*---------- comment wrapper style ----------*/
.comment-wrrapper .user-comment .comment-action a:hover, .comment-wrrapper .user-comment .comment-action a.active { color: #58b375; }

.comment-wrrapper .more-comments:hover { background: #58b375; color: #fff; }

/*---------- comment wrapper style end ----------*/
/*---------- community section style ----------*/
.my-community .community-card:hover { background: #58b375; }

.my-community .community-card:hover .svg path { fill: #fff; }

.my-community .community-card:hover h4, .my-community .community-card:hover p { color: #fff; }

/*---------- community section style end ----------*/
/*---------- assignment status badges ----------*/
.badge.badge-outline.completed:hover, .badge.badge-outline.completed.active { color: #fff !important; background: #1fce56; border-color: #1fce56; }

.badge.badge-outline.grade:hover, .badge.badge-outline.grade.active { color: #fff !important; background: #58b375; border-color: #58b375; }

/*---------- assignment status badges end ----------*/
/*---------- right drawer style ----------*/
.right-drawer .drawer-header h2 { color: #58b375; }

/*---------- right drawer style end ----------*/
/*---------- community section style ----------*/
.knowledge-hub-list .community-card:hover h4 { background: #58b375; color: #fff; }

/*---------- community section style end ----------*/
/*---------- quiz page style ----------*/
.quiz-pagination li:hover, .quiz-pagination li.active { background: #4ca668; color: #fff; }

/*---------- quiz page style end ----------*/
/*---------- student portfolio style ----------*/
.portfolio-nav { background: #3c8352; }

.portfolio-nav a { color: #fff; }

.portfolio-nav a .svg path { fill: #fff; }

.portfolio-nav a:hover, .portfolio-nav a.active { background: #58b375; color: #fff; }

.endorsement .rating { color: #58b375; }

.academic-list li:hover p i, .achievements-list li:hover p i { color: #58b375; }

#certificate-list.owl-carousel .caption { background: #3c8352; color: #fff; }

.section-certificate:hover .card { background: #3c8352; }

.section-certificate:hover .card .certificate-heading { color: #fff; }

.section-certificate:hover .card .svg path { fill: #fff; }

.skill-list span { border: solid 1px #58b375; }

.skill-list span:hover { background: #58b375; color: #fff; }

/*---------- student portfolio style end ----------*/
/*---------- user profile widget - mobile view ----------*/
.mobile-user-box .wrap .user-meta .profileImg { border: solid 2px #fff; }

.mobile-user-box .wrap .user-meta .profileImg .edit-profile-img { background: #fff; }

.mobile-user-box .wrap .user-meta .user-info h4, .mobile-user-box .wrap .user-meta .user-info p { color: #fff; }

.mobile-user-box .wrap .box { background: #44945d; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #26663a), to(#44945d)); background-image: linear-gradient(to bottom, #26663a 20%, #44945d 100%); }

.mobile-user-box .alert-notification { color: #58b375; background-color: #c1e3cc; border-color: #8dcba0; }

.mobile-user-box .alert-notification a { color: #3c8352; }

.mobile-user-box .change-mood { color: #fff; }

/*---------- user profile widget - mobile view end ----------*/
/*# sourceMappingURL=theme-jungle.css.map */