﻿@model Phoenix.VLE.Web.EditModels.QuizEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    var img = PhoenixConfiguration.Instance.ReadFilePath + Model.QuizImagePath;
    if (Model.IsAddMode)
    {
        //Model.SelectedDate = DateTime.Now.ToString("dd-MM-yyyy");
        Model.StartDate =null;
        //Model.EndDate = DateTime.Now;
        //Model.StartTime = DateTime.Now.ToString("hh:mm tt");

    }
    else
    {
        //Model.SelectedDate = Model.StartDate == DateTime.MinValue ? DateTime.Now.ToString("dd-MM-yyyy") : Model.StartDate.ToString("dd-MM-yyyy");
        //Model.StartDate = DateTime.Now;
        Model.EndDate = DateTime.Now;
    }
}
<style>
    .item-img {
        height: 100% !important;
    }
</style>
@using (Ajax.BeginForm("SaveQuizData", "Quiz", new AjaxOptions
{@*OnFailure = "quiz.onFailure", OnSuccess = "quiz.onSaveSuccess" *@}, new { id = "frmAddCycle", enctype = "multipart/form-data", @class = "form-horizontal" }))
{
<div class="modal-body">
    <div class="popup-form">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.QuizId)
        @Html.HiddenFor(x => x.SchoolId)
        @Html.HiddenFor(x => x.IsAddMode)
        @Html.HiddenFor(x => x.IsForm)
        @Html.HiddenFor(x => x.QuizImagePath)
        @Html.HiddenFor(m => m.SelectedDate)
        <div class="row">
            <div class="col-lg-12 col-md-12 col">
                <div class="md-form md-outline">
                    @Html.TextBoxFor(x => x.QuizName, new { @class = "form-control" })
                    @*<label for="QuizName" class="active">@ResourceManager.GetString("Quiz.Quiz.QuizName")<span class="text-danger">*</span></label>*@
                    @Html.LocalizedLabel("active", "Quiz.Quiz.QuizName")
                    @Html.ValidationMessageFor(x => x.QuizName, null, new { @class = "field-validation-error validateQuizName" })
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col">
                <div class="md-form md-outline">
                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                    @*<label for="Description" class="active">@ResourceManager.GetString("Quiz.Quiz.Description")</label>*@
                    @Html.LocalizedLabel("active", "Quiz.Quiz.Description")
                    @Html.ValidationMessageFor(x => x.Description)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col">
                <div class="md-form md-outline">
                    @Html.TextBoxFor(x => x.MaxSubmit, new { @class = "form-control", @type = "number", @min = "1", @max = "10" })
                    @*<label for="MaxSubmit" class="active">@ResourceManager.GetString("Quiz.Quiz.MaxSubmit")<span class="text-danger">*</span></label>*@
                    @Html.LocalizedLabel("active", "Quiz.Quiz.MaxSubmit")
                    @Html.ValidationMessageFor(x => x.MaxSubmit, null, new { @class = "field-validation-error validateMaxSubmit" })
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col">
                <div class="md-form md-outline ">
                    @Html.TextBoxFor(x => x.QuestionPaginationRange, new { @class = "form-control", @type = "number", @min = "1" })
                    @Html.LocalizedLabel("active", "Quiz.Quiz.QuestionPaginationRange")
                    @*<span id="PaginationIsZero" class="field-validation-error paginationzero" data-valmsg-for="QuestionPaginationRange" data-valmsg-replace="true">
                    <span id="QuestionPaginationRange-error" class=""></span>
                    </span>*@
                    <span id="paginationCount" class="text-danger"></span>
                </div>
            </div>
            @*<div class="col-lg-4 col-md-4 col">
                <div class="md-form md-outline" id="SetQuizTime">
                    @Html.TextBoxFor(x => x.QuizTime, new { @class = "form-control", @type = "number", @min = "1" })
                    @Html.LocalizedLabel("active", "Quiz.Quiz.QuizTime")
                    @Html.ValidationMessageFor(x => x.QuizTime, null, new { @class = "validateQuizTime" })
                </div>
            </div>*@

        </div>
        <div class="row mb-3">
            <div class="col-lg-3 col-md-3 col-6">
                <div class="custom-control custom-checkbox ml-2">
                    @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control-input" })
                    <label for="IsActive" class="custom-control-label">@ResourceManager.GetString("Quiz.Quiz.IsActive")</label>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6" id="chkQuizTime">
                <div class="custom-control custom-checkbox ml-2 ">
                    @Html.CheckBoxFor(x => x.IsSetTime, new { @class = "custom-control-input" })
                    <label for="IsSetTime" class="custom-control-label">@ResourceManager.GetString("Quiz.Quiz.IsSetTime")</label>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-12 mt-2 mt-sm-0">
                <div class="custom-control custom-checkbox ml-2">
                    @Html.CheckBoxFor(x => x.IsRandomQuestion, new { @class = "custom-control-input" })
                    <label for="IsRandomQuestion" class="custom-control-label">@ResourceManager.GetString("Quiz.Quiz.IsRandomQuestion")</label>
                </div>
            </div>
        </div>
        <div class="row" id="SetQuizTime">
            <div class="col-lg-4 col-md-4 col">
                <div class="md-form md-outline">
                    @Html.TextBoxFor(x => x.QuizTime, new { @class = "form-control", @type = "number", @min = "1" })
                    @Html.LocalizedLabel("active", "Quiz.Quiz.QuizTime")
                    @Html.ValidationMessageFor(x => x.QuizTime, null, new { @class = "field-validation-error validateQuizTime" })
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="md-form md-outline date-time-picker field-with-icon mb-0 ">
                    <i class="far fa-calendar-alt"></i>
                    @Html.TextBoxFor(x => x.StartDate, "{0:dd-MMM-yyyy}", new { @id = "StartDate", @class = "form-control date-picker1 date-picker" })
                    @Html.LocalizedLabel("active", "Quiz.Quiz.StartDate")
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-12 ">
                <div class="md-form md-outline date-time-picker">
                    @Html.TextBoxFor(x => x.StartTime, new { @class = "form-control time-picker", data_type = "timepicker" })
                    <label class="active">@ResourceManager.GetString("Quiz.Quiz.StartTime")</label>
                    @Html.ValidationMessageFor(x => x.StartTime, null, new { @class = "field-validation-error validateStartTime" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="md-form md-outline">
                    @Html.DropDownListFor(x => x.SubjectIds, new MultiSelectList(ViewBag.SubjectList, "Value", "Text", Model.SubjectId), new { @class = "selectpicker ddlSubjects", @name = "SubjectId", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true" })
                    @Html.LocalizedLabel("active select-label", "Quiz.Quiz.SubjectIds")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11 col-md-10 col-12">
                <div class="audio-recorder">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-12">
                            <button onclick="startRecording(this)" class="btn-start-record rounded-circle">
                                <i class="fas fa-microphone"></i>
                            </button>
                            <button onclick="stopRecording(this)" class="btn-stop-record rounded-circle" disabled>
                                <i class="fas fa-stop"></i>
                            </button>
                        </div>
                        @*<div class="col-lg-9 col-md-9 col-12">
                            <ul id="recordingslist"></ul>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <ul id="recordingslist" class="align-items-center d-flex flex-wrap mt-3"></ul>
            </div>
        </div>
        @if (Model.lstDocuments.Any())
        {
            <ul id="existRecordingslist" class="align-items-center d-flex flex-wrap mt-0">

                @foreach (var item in Model.lstDocuments)
                {
                    if (item.FileName.ToLower().Contains(".wav"))
                    {
                        var recordingFilePath = PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName;
                        <li id="audio_@item.QuizFileId" class="align-items-center d-flex mb-2">
                            <audio controls="" src="@recordingFilePath"></audio>
                            <a class="deleteRecording mx-2" id="DeleteQuizQuestionRecording" data-quizquestionid="@item.QuizId" data-fileid="@item.QuizFileId"><i class="far fa-trash-alt"></i></a>
                        </li>
                    }
                }
            </ul>
        }
        @*<div class="row d-none">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="md-form md-outline date-time-picker field-with-icon mb-0">
                    <i class="far fa-calendar-alt"></i>
                    @Html.TextBoxFor(x => x.EndDate, "{0:dd-MMM-yyyy HH:mm}", new { @id = "EndDate", @class = "form-control date-picker2 date-picker" })
                    @Html.LocalizedLabel("active", "Quiz.Quiz.EndDate")
                    @Html.ValidationMessageFor(x => x.EndDate)
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-12">
                <div class="md-form md-outline date-time-picker">
                    @Html.TextBoxFor(x => x.EndTime, new { @class = "form-control time-picker", data_type = "timepicker", placeholder = Model.EndTime })
                    @Html.ValidationMessageFor(x => x.EndTime)
                    <label>@ResourceManager.GetString("Quiz.Quiz.EndTime")</label>
                </div>
            </div>

        </div>*@
        <div class="row">
            <div class="col-lg-12 col-md-12 col">
                @if (!Model.IsAddMode)
                {
                    if (Model.lstDocuments.Any())
                    {
                        <div id="library" class="row view-group">
                            <div class="item col-xl-12 col-lg-12 col-md-12 col-12">
                                <div class="row" id="quizFileList">
                                    @Html.Partial("_QuizFileList", Model.lstDocuments == null ? new List<Phoenix.Models.QuizFile>() : Model.lstDocuments)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="standalone-uploader">
                                    <input id="QuizImage" name="QuizImage" type="file" multiple>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="standalone-uploader">
                                    <input id="QuizImage" name="QuizImage" type="file" multiple>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <!-- file upload drawer start -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="standalone-uploader">
                                <input id="QuizImage" name="QuizImage" type="file" multiple>
                            </div>
                        </div>
                    </div>
                    <!-- file upload drawer end -->
                }
            </div>
        </div>

    </div>
</div>
<div class="modal-footer">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
        <button type="button" id="btnSubmitQuiz" class="btn btn-primary waves-effect waves-light m-0 ml-2">@ResourceManager.GetString("Shared.Buttons.Save")</button>
    </div>
</div>
}
<script src="@Url.Content("~/Content/js/jquery.easyui.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
<script src="@Url.Content("~/Content/js/jquery.easyui.jsonloader.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
<script>
    if ($('#MaxSubmit').val() == 1)
    {
        $('#chkQuizTime').show();
    }else { $('#chkQuizTime').hide();}
    if (!$("#IsSetTime").is(":checked")) { $('#SetQuizTime').hide(); }
    $('#imgUpload').hide();
    $('#ahrefDeleteImage').click(function () {
        $('#library').hide();
        $('#QuizImagePath').val('');
        $('#imgUpload').show();

    })
    $('#IsSetTime').change(function () {
        if (!$("#IsSetTime").is(":checked")) {
            $('#QuizTime').val(1);
            $('#StartDate').val('');
            $('#StartTime').val('');
        }
    });
    $('#MaxSubmit').change(function () {
        if ($(this).val() > 1) {
            $('#chkQuizTime').fadeOut('slow');
            $('#SetQuizTime').fadeOut('slow');
            $("#IsSetTime").prop("checked", false);
            $("#QuizTime").val(1)
        }
        else {
            $('#chkQuizTime').fadeIn('slow');
            if ($("#IsSetTime").is(":checked")) { $('#SetQuizTime').show(); }
        }


    });
     $('#IsSetTime').change(function () {
        if (this.checked)
           $('#SetQuizTime').fadeIn('slow');
        else
            $('#SetQuizTime').fadeOut('slow');
    });
    var isAddMode = $("#IsAddMode").val();
    var nowTemp = new Date();
    var newTempDate = $("#SelectedDate").val();
    var tempDate = newTempDate.split('-');

    if (isAddMode == "False") {
        var _stDate = $("#StartDate").val();
        var _tmpStartDate = _stDate.split('/');
       // var _edDate = $("#EndDate").val();
        //var _tmpEndDate = _edDate.split('/');

        var _fromDate = new Date(nowTemp.getFullYear(), parseInt(_tmpStartDate[0]) - 1, parseInt(_tmpStartDate[1]), 0, 0, 0, 0);
        //var _toDate = new Date(nowTemp.getFullYear(), parseInt(_tmpEndDate[0]) - 1, parseInt(_tmpEndDate[1]), 0, 0, 0, 0);
    }

    //var stDate = new Date(parseInt(tempDate[0]), parseInt(tempDate[1]) - 1, parseInt(tempDate[2]), 0, 0, 0, 0);
    //var endDate = new Date(parseInt(tempDate[0]), parseInt(tempDate[1]) - 1, parseInt(tempDate[2]), 0, 0, 0, 0);
    var stDate = newTempDate;
    //var endDate = newTempDate;
    var minDateData = new Date(nowTemp.getFullYear(), (nowTemp.getMonth()), nowTemp.getDate(), 0, 0, 0, 0);

    $('.date-picker2').datetimepicker({
        format: 'DD-MMM-YYYY',
        useCurrent: false,
        minDate: minDateData
    });

    //$('.date-picker1').datetimepicker({
    //    format: 'DD-MMM-YYYY'
    //    //,
    //    //minDate: minDateData

    //}).on('dp.change', function (e) {
    //    $('.date-picker2').data("DateTimePicker").minDate(e.date);

    //    if ($('.date-picker2').data("DateTimePicker").date() < e.date) {

    //        $('.date-picker2').data("DateTimePicker").clear();
    //        $('.date-picker2').data("DateTimePicker").minDate(e.date);
    //    }
    //});

    $(".date-picker2").on("dp.change", function (e) {
        $('.date-picker1').data("DateTimePicker").maxDate(e.date);
    });

    if (isAddMode == "True") {
        $("#FromDate").removeAttr('value');
        //$("#FromDate").val(globalFunctions.getFormattedDate(stDate));
        //$("#ToDate").val(globalFunctions.getFormattedDate(endDate));
    }
    else {
        //$("#FromDate").val(globalFunctions.getFormattedDate(_fromDate));
        //$("#ToDate").val(globalFunctions.getFormattedDate(_toDate));
    }

    $("#FromDate").blur(function () {
        var fieldValue = $(this).val();
        if (fieldValue == "") {
            //$("#FromDate").val(globalFunctions.getFormattedDate(stDate));
            $("#FromDate").next().addClass("active");
        }
    });

    $("#ToDate").blur(function () {
        var fieldValue = $(this).val();
        if (fieldValue == "") {
            //$("#ToDate").val(globalFunctions.getFormattedDate(stDate));
            $("#ToDate").next().addClass("active");
        }
    });
    //if (isAddMode == "True") {
    //    $('.time-picker').datetimepicker({
    //        format: 'LT',
    //        //minDate: minTime
    //    }).on('dp.change', function (ev) {
    //        checkTimeDifference();
    //    }).data("DateTimePicker");
    //}
    //else {
    //    $('.time-picker').datetimepicker({
    //        format: 'LT'
    //    }).on('dp.change', function (ev) {
    //        checkTimeDifference();
    //    }).data("DateTimePicker");
    //}
    function checkTimeDifference() {
        if (($('#StartTime').val() == '') || ($('#EndTime').val() == '')) return;

        var strStartTime = $('#StartTime').val();
        var strEndTime = $('#EndTime').val();

        var startTime = new Date().setHours(GetHours(strStartTime), GetMinutes(strStartTime), 0);
        var endTime = new Date(startTime);
        endTime = endTime.setHours(GetHours(strEndTime), GetMinutes(strEndTime), 0);

        if (startTime > endTime) {
            globalFunctions.showWarningMessage(translatedResources.startTimeWarning);
            return false;
        }
        else {
            return true;
        }

        function GetHours(d) {
            var h = parseInt(d.split(':')[0]);
            if (d.split(':')[1].split(' ')[1] == "PM") {
                h = h + 12;
            }
            return h;
        }
        function GetMinutes(d) {
            return parseInt(d.split(':')[1].split(' ')[0]);
        }

    }

    $("#QuizImage").fileinput({
            language:'@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()',
            title: '@ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")',
            theme: "fas",
            showUpload: true,
            showCaption: false,
            showMultipleNames: false,
            multiple: true,
            uploadUrl: "/Quiz/Quiz/UploadQuizFiles",
            uploadExtraData: function () {
                return {
                    quizId: $("#QuizId").val(),
                };
            },
            fileActionSettings: {
                showZoom: false,
                showUpload: false,
                //indicatorNew: "",
                showDrag: false
            },
            allowedFileExtensions: @Html.Raw(Json.Encode(ViewBag.FileExtension)),
            uploadAsync: true,
            browseClass: "btn btn-sm m-0 z-depth-0 btn-browse",
            removeClass: "btn btn-sm m-0 z-depth-0",
            uploadClass: "btn btn-sm m-0 z-depth-0",
            overwriteInitial: false,
            //previewFileIcon: '<i class="fas fa-file"></i>',
            initialPreviewAsData: false, // defaults markup
            initialPreviewConfig: [{
                frameAttr: {
                    title: 'My Custom Title',
                }
            }],
            preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
            previewFileIconSettings: { // configure your icon file extensions
                'doc': '<i class="fas fa-file-word ic-file-word"></i>',
                'xls': '<i class="fas fa-file-excel ic-file-excel"></i>',
                'ppt': '<i class="fas fa-file-powerpoint ic-file-ppt"></i>',
                'pdf': '<i class="fas fa-file-pdf ic-file-pdf"></i>',
                'zip': '<i class="fas fa-file-archive ic-file"></i>',
                'htm': '<i class="fas fa-file-code ic-file"></i>',
                'txt': '<i class="fas fa-file-alt ic-file"></i>',
                'mov': '<i class="fas fa-file-video ic-file"></i>',
                'mp3': '<i class="fas fa-file-audio ic-file"></i>',
                // note for these file types below no extension determination logic
                // has been configured (the keys itself will be used as extensions)
                'jpg': '<i class="fas fa-file-image ic-file-img"></i>',
                'jpeg': '<i class="fas fa-file-image ic-file-img"></i>',
                'gif': '<i class="fas fa-file-image ic-file-img"></i>',
                'png': '<i class="fas fa-file-image ic-file-img"></i>'
            },
            previewSettings: {
                image: { width: "50px", height: "auto" },
                html: { width: "50px", height: "auto" },
                other: { width: "50px", height: "auto" }
            },
            previewFileExtSettings: { // configure the logic for determining icon file extensions
                'doc': function (ext) {
                    return ext.match(/(doc|docx)$/i);
                },
                'xls': function (ext) {
                    return ext.match(/(xls|xlsx)$/i);
                },
                'ppt': function (ext) {
                    return ext.match(/(ppt|pptx)$/i);
                },
                'zip': function (ext) {
                    return ext.match(/(zip|rar|tar|gzip|gz|7z)$/i);
                },
                'htm': function (ext) {
                    return ext.match(/(htm|html)$/i);
                },
                'txt': function (ext) {
                    return ext.match(/(txt|ini|csv|java|php|js|css)$/i);
                },
                'mov': function (ext) {
                    return ext.match(/(avi|mpg|mkv|mov|mp4|3gp|webm|wmv)$/i);
                },
                'mp3': function (ext) {
                    return ext.match(/(mp3|wav)$/i);
                }
            }

        }).on('fileuploaded', function (event, data, previewId, index) {
            // alert(JSON.stringify(data));
            globalFunctions.showSuccessMessage("@ResourceManager.GetString("Shared.Messages.FileUploaded")");

        });

    //$('#lightgallery').lightGallery({
    //    selector: '.galleryImg',
    //    share: false
    //});
</script>
@Html.Partial("_ValidationJSPartial")