﻿@model IEnumerable<Phoenix.VLE.Web.EditModels.QuizQuestionsEdit>

@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.VLE.Web.EditModels;
@using Phoenix.Common.Helpers.Extensions;

@{
    /**/

    /**/

    var rnd = DateTime.Now.Ticks.ToString();
    QuizEdit objQuiz = new QuizEdit();
    QuizEdit objQuizResourse = new QuizEdit();
    bool IsView = false;
    List<QuizQuestionsEdit> objQuizDetails = new List<QuizQuestionsEdit>();
    Phoenix.Models.QuizResult quizResponseList = new Phoenix.Models.QuizResult();
    var ResourceId = 0;

    if (ViewBag.Quiz != null)
    {
        objQuiz = (QuizEdit)ViewBag.Quiz;
    }
    if (ViewBag.ResourseDetails != null)
    {
        objQuizResourse = (QuizEdit)ViewBag.ResourseDetails;
    }
    if (ViewBag.QuizDetails != null)
    {
        objQuizDetails = (List<QuizQuestionsEdit>)ViewBag.QuizDetails;

    }
    if (ViewBag.QuizResponse != null)
    {
        quizResponseList = (Phoenix.Models.QuizResult)ViewBag.QuizResponse;
    }
    if (ViewBag.ResourceId != null)
    {
        ResourceId = Convert.ToInt32(ViewBag.ResourceId);
    }
    if (ViewBag.IsView != null)
    {
        IsView = Convert.ToBoolean(ViewBag.IsView);
    }
    var totalMarks = 0;
    foreach (var item in objQuizDetails)
    {
        totalMarks = totalMarks + item.Marks;
    }
    //var quizImage = (objQuizDetails.Count > 0 && !string.IsNullOrEmpty(objQuizDetails.FirstOrDefault().QuizImagePath)) ? PhoenixConfiguration.Instance.ReadFilePath + objQuizDetails.FirstOrDefault().QuizImagePath : "";
    int i = 1;
    var IsSubmit = false;
    var MTPEachQuesMarks = 0.0;
    var MTPQuestionId = 0;
    var strHr = ResourceManager.GetString("Shared.Messages.Hours");
    var strMin = ResourceManager.GetString("Shared.Messages.Minutes");
    var strSec = ResourceManager.GetString("Shared.Messages.Seconds");
    var strMinHr = ResourceManager.GetString("Shared.Messages.MinutesHr");
    var strQuizTimeOut = ResourceManager.GetString("Quiz.Quiz.QuizTimeOut");
}
<style>
    @@media print {
        .quizFiles {
            display: inline-table;
        }
    }

    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #eee;
        color: #111;
    }

    .score {
        font-family: monospace;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0.25rem;
        margin: 1rem;
        position: relative;
        transition: opacity 0.2s;
    }

    #play-again-btn {
        position: absolute;
        top: -0.5rem;
        left: 50%;
        margin-left: -50px;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        background-color: #111;
        border: 5px double #fff;
        border-radius: 14px;
        padding: 8px 10px;
        outline: none;
        letter-spacing: .05em;
        cursor: pointer;
        display: none;
        opacity: 0;
        transition: opacity 0.5s, transform 0.5s, background-color 0.2s;
    }

        #play-again-btn:hover {
            background-color: #333;
        }

        #play-again-btn:active {
            background-color: #555;
        }

        #play-again-btn.play-again-btn-entrance {
            opacity: 1;
            transform: translateX(6rem);
        }

    .draggable-items {
        display: flex;
        justify-content: center;
        margin: 1rem 1rem 1.5rem 1rem;
        transition: opacity 0.5s;
    }

    .draggable {
        height: 5rem;
        width: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        font-weight: bold;
        margin: 0rem 0.5rem;
        cursor: move;
        transition: opacity 0.2s;
    }

        .draggable:hover {
            opacity: 0.5;
        }

    .matching-pairs {
        transition: opacity 0.5s;
    }

    .matching-pair {
        height: 6rem;
        width: 22rem;
        margin: 1rem auto;
        display: flex;
        justify-content: space-between;
    }

        .matching-pair span {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            user-select: none;
        }

    .label {
        width: 15rem;
        font-size: 1.3rem;
    }

    .droppable {
        width: 6rem;
        font-size: 4rem;
        background-color: #fff;
        border: 3px dashed #111;
        transition: 0.2s;
    }

    .droppable-hover {
        background-color: #bee3f0;
        transform: scale(1.1);
    }

    .dropped {
        border-style: solid;
    }

    .dragged {
        user-select: none;
        opacity: 0.1;
        cursor: default;
    }

    .draggable.dragged:hover {
        opacity: 0.1;
    }

    .given-answers li, .correct-answers li {
        width: 20%;
    }

        .given-answers li img, .correct-answers li img {
            width: 100px;
            height: 100px;
            display: inline-block;
        }

        .given-answers li span, .correct-answers li span {
            font-weight: 500;
            font-size: 15px;
            margin-bottom: 5px;
        }
</style>
<link href="~/Content/VLE/mathscribe/jqmath-0.4.3.css" rel="stylesheet" />
@*<style>
        .quiz-pagination li {
            cursor: pointer;
            border: solid 1px #ccc;
            border-radius: 3px;
            padding: 5px 10px;
            color: #333;
            background: #fff;
            margin-right: 2px;
            min-width: 30px;
            font-size: 12px;
        }
        .quiz-pagination li:last-child {
            margin-right: 0;
        }
        .quiz-pagination li:hover {
            background: blue;
            color: #fff;
        }
    </style>*@
@Html.Hidden("IsSetTime", objQuiz.IsSetTime)
@Html.Hidden("PaginationCount", objQuiz.QuestionPaginationRange == 0 ? 5 : objQuiz.QuestionPaginationRange)
@Html.Hidden("TotalPages")
@Html.Hidden("QuizTime", objQuiz.QuizTime)
@*@Html.Hidden("QuizTimeLog", objQuiz.QuizTime)*@

<div class="row">

    @if (objQuizDetails.Any())
    {
        //var IsSubmit = SessionHelper.CurrentSession.IsParent() ? false : ((quizResponseList.SubmitAttempt < objQuizDetails.FirstOrDefault().MaxSubmit));
        @*This is us for new implemenation<input type="hidden" id="hdnIsTeacher" name="hdnIsTeacher" value="@(SessionHelper.CurrentSession.IsTeacher() ? 1 : 0)" />*@
        IsSubmit = SessionHelper.CurrentSession.IsParent() || SessionHelper.CurrentSession.IsTeacher() ? false : ((quizResponseList.SubmitAttempt < objQuiz.MaxSubmit) && quizResponseList.QuizResponseByTeacherId == 0);
        string IsViewClass = IsView ? "disabled" : "";
        @*<input type="hidden" id="hdnIsTeacher" name="hdnIsTeacher" value="@(SessionHelper.CurrentSession.IsTeacher() ? 1 : 0)" />*@
        //var IsSubmit = SessionHelper.CurrentSession.IsParent() ? false : ((quizResponseList.SubmitAttempt < Model.FirstOrDefault().MaxSubmit));

        //var IsSubmit = SessionHelper.CurrentSession.IsTeacher() ? false : true;
        <input type="hidden" id="hdnIsTeacher" name="hdnIsTeacher" value="@(SessionHelper.CurrentSession.IsTeacher() ? 1 : 0)" />
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card min-height">
                        <div class="card-body">
                            <div class="title-with-fields pt-2 pb-2">
                                @*<h3 class="card-title">*@
                                @*Quiz : @objQuizDetails.FirstOrDefault().QuizName*@
                                <h3>
                                    @ResourceManager.GetString("Quiz.Quiz.Quiz"): @objQuiz.QuizName
                                </h3>


                                @if (objQuizResourse.ResourseType == "Group")
                                {
                                    <h4>@ResourceManager.GetString("Quiz.Report.Group") : @objQuizResourse.ResourceName</h4>

                                    if (!String.IsNullOrEmpty(objQuizResourse.ResourceCourseName))
                                    {
                                        <h4>@ResourceManager.GetString("Quiz.Report.Course") : @objQuizResourse.ResourceCourseName</h4>

                                    }



                                }
                                else if (objQuizResourse.ResourseType == "Assignment")
                                {
                                    <h4> @ResourceManager.GetString("Quiz.Report.Assignment") : @objQuizResourse.ResourceName</h4>

                                    if (!String.IsNullOrEmpty(objQuizResourse.ResourceCourseName))
                                    {
                                        <h4>@ResourceManager.GetString("Quiz.Report.Course") : @objQuizResourse.ResourceCourseName</h4>

                                    }

                                }

                            </div>
                            @*<img src="https://gemsedu.sharepoint.com/:i:/g/ClassroomSync/EcXiVWYb1wBDlPX8rpBic2cBFNmFDGruB_NP70A5Si9nrQ" class="border p-1" style="height:70px; width:70px; display:inline-block; margin-bottom:5px; " />*@
                            @if (objQuiz.lstDocuments.Any())
                            {
                                <table width="100%" align="center" valign="middle" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr style="">
                                            <td style="font-size: 12px; font-weight: 500; color: #3F4041; text-align: left;">
                                                @foreach (var item in objQuiz.lstDocuments)
                                                {
                                                    string ext = Path.GetExtension(item.FilePath);
                                                    if (ext == ".jpg" || ext == ".jpeg" || ext == ".png")
                                                    {
                                                        var imagePath = item.FilePath.Contains("/Resources") ? PhoenixConfiguration.Instance.WriteFilePath + item.FilePath : item.FilePath;
                                                        <img src="@imagePath" class="border p-1" style="height:70px; width:70px; display:inline-block; margin-bottom:15px; margin-right: 10px " />
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="height:5px; width:100%;">  </div>
                            }

                            @{ var quzResultID = quizResponseList.QuizResultId; }
                            <input type='hidden' id="QuizId" value="@objQuizDetails.FirstOrDefault().QuizId">
                            <input type='hidden' id="QuizResultId" value="@quzResultID">
                            <input type="hidden" id="QuizAnswerSortOrder">
                            @*<input type='hidden' id="QuizResultId" value="0">*@
                            <input type='hidden' id="StudentId" value="0">
                            <input type='hidden' id="ResourceId" value="@ResourceId">
                            <input type='hidden' id="EncrQuizId" value="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(objQuiz.QuizId))">
                            <input type='hidden' id="EncrResourceId" value="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(ResourceId))">



                            @*New IMPLEMENTATION START HERE*@
                            <div class="row bg-light ml-0 mr-0 column-padding">
                                <div class="col-xl-11 col-lg-10 col-md-10 col-10">
                                    <span class="mt-1 mb-1 pl-2 quiz-score d-inline-block d-md-none">
                                        @*@if (quizResponseList.ResponseQuestionAnswer.Any())
                                            {
                                                if ((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                                {
                                                    <lable>@ResourceManager.GetString("Quiz.Report.Marks")</lable> <strong class="ml-2">@quizResponseList.QuizMarks/@quizResponseList.TotalMarks</strong>
                                                }

                                            }
                                            else if (quizResponseList.SubmitAttempt == objQuiz.MaxSubmit)
                                            {
                                                <lable>@ResourceManager.GetString("Quiz.Report.Marks")</lable> <strong class="ml-2">0 / @totalMarks</strong>
                                            }*@

                                    </span>
                                </div>
                                <div class="col-xl-1 col-lg-2 col-md-2 col-2"><h4 class="sub-heading text-dark mb-2 mt-2 text-uppercase text-center" style="width:100%; text-align:right;">@ResourceManager.GetString("Quiz.Report.TotalMarks") -  @totalMarks</h4></div>


                            </div>
                            @*QUIZ WRAPPER HERE CLIENT SIDE PAGINATION*@
                            <div class="list-of-posts">

                                <div class="quiz-wrapper column-padding pt-3">
                                    @{ int countValue = 1;}
                                    @foreach (var quizQuestion in objQuizDetails)
                                    {
                                        <div class="post">
                                            <!-- que 1 -->
                                            <div class="row">
                                                <div class="col-xl-11 col-lg-10 col-md-10 col-10">
                                                    @if (quizQuestion.QuestionTypeId == 6)
                                                    {
                                                        string question = String.Empty;
                                                        var CorrectAnswerCount = 0;
                                                        foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                        {
                                                            CorrectAnswerCount++;
                                                        }
                                                        var EachQuesMarks = (float)quizQuestion.Marks / CorrectAnswerCount;
                                                        int count = quizQuestion.QuestionText.Count(f => f == '[');
                                                        // int count = quizQuestion.QuestionText.Split(' ').Count(str => str.Contains("[option"));
                                                        string[] r = quizQuestion.QuestionText.Contains(' ') ? quizQuestion.QuestionText.Split(' ') : quizQuestion.QuestionText.Split('.');
                                                        foreach (var item in r)
                                                        {
                                                            //if (item.Contains("[blank_space_") && item.Contains("]"))
                                                            //{
                                                            //    int pFrom = item.IndexOf("[blank_space_") + "[blank_space_".Length;
                                                            //    int pTo = item.LastIndexOf("]");
                                                            //    int optionNumber = Convert.ToInt32(item.Substring(pFrom, pTo - pFrom));
                                                            //    var answer = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.AnswerText).FirstOrDefault();
                                                            //    var answerId = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.QuizAnswerId).FirstOrDefault();
                                                            //    var userAnswer = quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizAnswerId == answerId).Select(a => a.QuizAnswerText).FirstOrDefault();
                                                            //    quizQuestion.QuestionText = quizQuestion.QuestionText.Replace(item, "<input type='text' disabled class='fibFreetext' data-f='" + answer + "' data-marks='" + EachQuesMarks + "' data-answerid='" + answerId + "' data-questionid='" + quizQuestion.QuizQuestionId + "' data-sortorder='" + optionNumber + "' value='" + userAnswer + "'  id='" + optionNumber + "'>");
                                                            //}
                                                            if (item.Contains("[blank_space_") && item.Contains("]"))
                                                            {
                                                                int pfFrom = item.IndexOf("[");
                                                                int pfTo = item.LastIndexOf("]");
                                                                if (pfTo + 1 == item.Length)
                                                                {
                                                                    int pFrom = item.IndexOf("[blank_space_") + "[blank_space_".Length;
                                                                    int pTo = item.LastIndexOf("]");
                                                                    int optionNumber = Convert.ToInt32(item.Substring(pFrom, pTo - pFrom));
                                                                    var answer = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.AnswerText).FirstOrDefault();
                                                                    var answerId = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.QuizAnswerId).FirstOrDefault();
                                                                    var userAnswer = quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizAnswerId == answerId).Select(a => a.QuizAnswerText).FirstOrDefault();
                                                                    quizQuestion.QuestionText = quizQuestion.QuestionText.Replace(item, "_______________________________");
                                                                }
                                                                else
                                                                {
                                                                    int pFrom = item.IndexOf("[blank_space_") + "[blank_space_".Length;
                                                                    int pTo = item.LastIndexOf("]");
                                                                    int optionNumber = Convert.ToInt32(item.Substring(pFrom, pTo - pFrom));
                                                                    var answer = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.AnswerText).FirstOrDefault();
                                                                    var answerId = quizQuestion.Answers.Where(x => x.SortOrder == optionNumber).Select(a => a.QuizAnswerId).FirstOrDefault();
                                                                    var userAnswer = quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizAnswerId == answerId).Select(a => a.QuizAnswerText).FirstOrDefault();
                                                                    string subStr = item.Substring(pfFrom, pfTo + 1);
                                                                    quizQuestion.QuestionText = quizQuestion.QuestionText.Replace(subStr, "_______________________________");
                                                                }
                                                            }
                                                        }
                                                        <h6 class="text-regular">

                                                            @i]    @Html.Raw(quizQuestion.QuestionText.Replace(System.Environment.NewLine, "<br />"))
                                                            <span class="text-danger">
                                                                @(quizQuestion.IsRequired ? "*" : "")
                                                            </span>
                                                        </h6>
                                                    }
                                                    else
                                                    {
                                                        <h6 class="text-regular">
                                                            @i]    @Html.Raw(quizQuestion.QuestionText.Replace(System.Environment.NewLine, "<br />"))
                                                            <span class="text-danger">
                                                                @(quizQuestion.IsRequired ? "*" : "")
                                                            </span>
                                                        </h6>
                                                    }
                                                    @if (!string.IsNullOrWhiteSpace(quizQuestion.QuestionImagePath))
                                                    {
                                                        var quizQuesImage = PhoenixConfiguration.Instance.ReadFilePath + quizQuestion.QuestionImagePath;
                                                        <img class="img-fluid" src="@quizQuesImage " alt="">
                                                    }


                                                    <div class="answers pb-3 mb-3 mt-3">
                                                        @if (quizQuestion.QuestionTypeId == 1)
                                                        {
                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <table width="100%" align="center" valign="middle" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                        <tr style="">
                                                                            <td style="font-size: 12px; font-weight: 500; color: #3F4041; text-align: left;">
                                                                                @foreach (var item in quizQuestion.lstDocuments)
                                                                                {
                                                                                    string ext = Path.GetExtension(item.FilePath);
                                                                                    if (ext == ".jpg" || ext == ".jpeg" || ext == ".png")
                                                                                    {
                                                                                        var imagePath = item.FilePath.Contains("/Resources") ? PhoenixConfiguration.Instance.WriteFilePath + item.FilePath : item.FilePath;
                                                                                        <img src="@imagePath" class="border p-1" style="height:70px; width:70px; display:inline-block; margin-bottom:15px; margin-right: 10px " />
                                                                                    }
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div style="height:5px; width:100%;">  </div>
                                                            }
                                                            int count = 1;

                                                            foreach (var answersData in quizQuestion.Answers)
                                                            {
                                                                <table width="100%" align="left" valign="left" cellspacing="1" cellpadding="1">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="height: 15px; width: 15px; border: solid 1px black;">
                                                                            </td>
                                                                            <td>
                                                                                <label> @answersData.AnswerText</label><br />
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="height:10px"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                count++;
                                                            }

                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 2)
                                                        {
                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                            <div class="col-lg-4 col-md-3 col-12">
                                                                <div class="md-form md-outline">
                                                                    @Html.DropDownList("AnswerId", new SelectList(quizQuestion.Answers, "QuizAnswerId", "AnswerText", quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).FirstOrDefault().QuizAnswerId), ResourceManager.GetString("Shared.Labels.Select"), new { @class = IsSubmit ? "selectpicker" : "selectpicker disabled", @name = string.Format("selectedAnswer[{0}]", quizQuestion.QuizQuestionId), data_questionid = quizQuestion.QuizQuestionId, data_marks = quizQuestion.Marks })
                                                                </div>
                                                            </div>
                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 3)
                                                        {
                                                            var CorrectAnswerCount = 0;
                                                            foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                            {
                                                                CorrectAnswerCount++;
                                                            }
                                                            var EachQuesMarks = (float)quizQuestion.Marks / CorrectAnswerCount;
                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <table width="100%" align="center" valign="middle" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                        <tr style="">
                                                                            <td style="font-size: 12px; font-weight: 500; color: #3F4041; text-align: left;">
                                                                                @foreach (var item in quizQuestion.lstDocuments)
                                                                                {
                                                                                    string ext = Path.GetExtension(item.FilePath);
                                                                                    if (ext == ".jpg" || ext == ".jpeg" || ext == ".png")
                                                                                    {
                                                                                        var imagePath = item.FilePath.Contains("/Resources") ? PhoenixConfiguration.Instance.WriteFilePath + item.FilePath : item.FilePath;
                                                                                        <img src="@imagePath" class="border p-1" style="height:70px; width:70px; display:inline-block; margin-bottom:15px; margin-right: 10px " />
                                                                                    }
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div style="height:5px; width:100%;">  </div>
                                                            }
                                                            int count = 1;
                                                            foreach (var answersData in quizQuestion.Answers)
                                                            {
                                                                <table width="100%" align="left" valign="left" cellspacing="1" cellpadding="1">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="height: 15px; width: 15px; border: solid 1px black;">
                                                                            </td>
                                                                            <td>
                                                                                <label> @answersData.AnswerText</label><br />
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="height:10px"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                count++;
                                                            }
                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 4)
                                                        {
                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <table width="100%" align="center" valign="middle" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                        <tr style="">
                                                                            <td style="font-size: 12px; font-weight: 500; color: #3F4041; text-align: left;">
                                                                                @foreach (var item in quizQuestion.lstDocuments)
                                                                                {
                                                                                    string ext = Path.GetExtension(item.FilePath);
                                                                                    if (ext == ".jpg" || ext == ".jpeg" || ext == ".png")
                                                                                    {
                                                                                        var imagePath = item.FilePath.Contains("/Resources") ? PhoenixConfiguration.Instance.WriteFilePath + item.FilePath : item.FilePath;
                                                                                        <img src="@imagePath" class="border p-1" style="height:70px; width:70px; display:inline-block; margin-bottom:15px; margin-right: 10px " />
                                                                                    }
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div style="height:5px; width:100%;">  </div>
                                                            }
                                                            //if (quizQuestion.Answers.Any())
                                                            //{
                                                            foreach (var answersData in quizQuestion.Answers)
                                                            {
                                                                <div class="col-lg-12 col-md-12 col-12 freetext-fieldset">
                                                                    @*<div class="d-block md-form md-outline w-100">
                                                                            <textarea class="form-control freetext" @(IsSubmit ? "" : "readonly") id="QuizFreeText_@answersData.QuizAnswerId" data-marks="@quizQuestion.Marks" data-answerid="@answersData.QuizAnswerId" data-questionid="@quizQuestion.QuizQuestionId">@(quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).FirstOrDefault().QuizAnswerText)</textarea>
                                                                        </div>*@
                                                                    <div style="width: 100%; height: 1in; border: dotted 1px black;" />
                                                                </div>

                                                            }
                                                            //}

                                                            if ((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                                            {
                                                                var AnswerTextList = new List<string>();
                                                                foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                                {
                                                                    AnswerTextList.Add(answersData.AnswerText);
                                                                }
                                                                @*<p>Correct Answer : <span class="text-success">@string.Join(",", AnswerTextList)</span></p>*@
                                                            }
                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 6)
                                                        {

                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <table width="100%" align="center" valign="middle" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                        <tr style="">
                                                                            <td style="font-size: 12px; font-weight: 500; color: #3F4041; text-align: left;">
                                                                                @foreach (var item in quizQuestion.lstDocuments)
                                                                                {
                                                                                    string ext = Path.GetExtension(item.FilePath);
                                                                                    if (ext == ".jpg" || ext == ".jpeg" || ext == ".png")
                                                                                    {
                                                                                        var imagePath = item.FilePath.Contains("/Resources") ? PhoenixConfiguration.Instance.WriteFilePath + item.FilePath : item.FilePath;
                                                                                        <img src="@imagePath" class="border p-1" style="height:70px; width:70px; display:inline-block; margin-bottom:15px; margin-right: 10px " />
                                                                                    }
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div style="height:5px; width:100%;">  </div>
                                                            }
                                                        }
                                                        else if (quizQuestion.QuestionTypeId == 7)
                                                        {
                                                            var CorrectAnswerCount = 0;
                                                            foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                            {
                                                                CorrectAnswerCount++;
                                                            }
                                                            var EachQuesMarks = (float)quizQuestion.Marks / CorrectAnswerCount;
                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                            if (quizQuestion.lstDocuments.Any())
                                                            {
                                                                <table width="100%" align="center" valign="middle" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                        <tr style="">
                                                                            <td style="font-size: 12px; font-weight: 500; color: #3F4041; text-align: left;">
                                                                                @foreach (var item in quizQuestion.lstDocuments)
                                                                                {
                                                                                    string ext = Path.GetExtension(item.FilePath);
                                                                                    if (ext == ".jpg" || ext == ".jpeg" || ext == ".png")
                                                                                    {
                                                                                        var imagePath = item.FilePath.Contains("/Resources") ? PhoenixConfiguration.Instance.WriteFilePath + item.FilePath : item.FilePath;
                                                                                        <img src="@imagePath" class="border p-1" style="height:70px; width:70px; display:inline-block; margin-bottom:15px; margin-right: 10px " />
                                                                                    }
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div style="height:5px; width:100%;">  </div>
                                                            }
                                                            <div class="col-lg-12 col-md-12 col-12 freetext-fieldset row">
                                                                <ul class="clearfix with-number" id="quizMatchList">
                                                                    @{int sortedResponseOrder = 1;}

                                                                    @foreach (var answersData in quizQuestion.Answers)
                                                                    {
                                                                        //var ResponseQuestionAnswer = quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).ToList();
                                                                        if (quizResponseList.ResponseQuestionAnswer.Any())
                                                                        {
                                                                            var test = quizResponseList.ResponseQuestionAnswer.Where(x => x.SortOrder == sortedResponseOrder).FirstOrDefault();
                                                                            <li class="sortAnswer" id="@test.SortOrder" data-answerText="@test.QuizAnswerText" data-marks="@EachQuesMarks" data-matchSortorder="@EncryptDecryptHelper.EncodeBase64(test.SortOrder.ToString())" data-answerid="@test.QuizAnswerId" data-questionid="@quizQuestion.QuizQuestionId">
                                                                                @test.QuizAnswerText
                                                                            </li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li class="sortAnswer" id="@answersData.SortOrder" data-answerText="@answersData.AnswerText" data-marks="@EachQuesMarks" data-matchSortorder="@EncryptDecryptHelper.EncodeBase64(answersData.SortOrder.ToString())" data-answerid="@answersData.QuizAnswerId" data-questionid="@quizQuestion.QuizQuestionId">
                                                                                @answersData.AnswerText
                                                                            </li>
                                                                        }
                                                                        sortedResponseOrder++;
                                                                    }
                                                                </ul>
                                                            </div>
                                                                        }
                                                                        else if (quizQuestion.QuestionTypeId == 8)
                                                                        {

                                                                            var CorrectAnswerCount = 0;
                                                                            foreach (var answersData in quizQuestion.Answers.Where(x => x.IsCorrectAnswer))
                                                                            {
                                                                                CorrectAnswerCount++;
                                                                            }
                                                                            MTPEachQuesMarks = (float)quizQuestion.Marks / CorrectAnswerCount;
                                                                            MTPQuestionId = quizQuestion.QuizQuestionId;
                                                            <input type='hidden' class="responseQuestionId" value="@quizQuestion.QuizQuestionId" data-isrequired="@quizQuestion.IsRequired" data-questype="@quizQuestion.QuestionTypeId">
                                                                            if (quizQuestion.lstDocuments.Any())
                                                                            {
                                                                <table width="100%" align="center" valign="middle" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                        <tr style="">
                                                                            <td style="font-size: 12px; font-weight: 500; color: #3F4041; text-align: left;">
                                                                                @foreach (var item in quizQuestion.lstDocuments)
                                                                                {
                                                                                    string ext = Path.GetExtension(item.FilePath);
                                                                                    if (ext == ".jpg" || ext == ".jpeg" || ext == ".png")
                                                                                    {
                                                                                        var imagePath = item.FilePath.Contains("/Resources") ? PhoenixConfiguration.Instance.WriteFilePath + item.FilePath : item.FilePath;
                                                                                        <img src="@imagePath" class="border p-1" style="height:70px; width:70px; display:inline-block; margin-bottom:15px; margin-right: 10px " />
                                                                                    }
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div style="height:5px; width:100%;">  </div>
                                                                            }
                                                                            if (quizResponseList.ResponseQuestionAnswer.Any())
                                                                            {
                                                                <div class="row" id="AttendedMTP">
                                                                    @{ var MTPAnswers = objQuizDetails.Select(a => a.Answers).FirstOrDefault();}
                                                                    <div class="col-12">
                                                                        <ul class="given-answers d-flex flex-wrap">

                                                                            @foreach (var item in quizResponseList.ResponseQuestionAnswer)
                                                                            {
                                                                                var Question = MTPAnswers.Where(a => a.QuizAnswerId == item.QuizAnswerId).Select(x => x.AnswerText).FirstOrDefault();
                                                                                <li>
                                                                                    <span class="d-block">@Question</span>
                                                                                    <img src="@item.QuizAnswerText" class="border p-1" />
                                                                                </li>
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                    @if ((quizResponseList.SubmitAttempt != objQuiz.MaxSubmit) && quizResponseList.QuizResponseByTeacherId == 0)
                                                                    {
                                                                        <div class="row mt-3">
                                                                            <div class="col-lg-12 col-md-12 col-12">
                                                                                <input type="button" class="btn btn-outline-primary btn-md m-0" id="retestMTP" value="@ResourceManager.GetString("Shared.Buttons.Retest")">
                                                                            </div>
                                                                        </div>
                                                                    }

                                                                </div>

                                                                <div class="row">
                                                                    <div id="MTPRetest">
                                                                        @Html.Partial("~/Areas/Files/Views/Shared/_DragDrop.cshtml", quizQuestion)
                                                                    </div>
                                                                </div>
                                                                        }
                                                                        else
                                                                        {
                                                                <div class="@(IsSubmit ? "" : "disabled")">
                                                                    @Html.Partial("~/Areas/Files/Views/Shared/_DragDrop.cshtml", quizQuestion)
                                                                </div>

                                                                        }
                                                            <div class="row">
                                                                @{
                                                                    int count = 1;

                                                                    foreach (var item in quizQuestion.Answers.OrderByDescending(x => x.AnswerText))
                                                                    {
                                                                        //var imagePath = PhoenixConfiguration.Instance.ReadFilePath + Constants.QuizMTPQuestion + item.ResourcePath;

                                                                        <p><span class="text-success d-block">@count] @item.AnswerText</span></p>
                                                                        count++;
                                                                    }
                                                                }
                                                            </div>




                                                            <table width="100%" align="center" valign="middle" cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                    <tr style="">
                                                                        @{
                                                                            var shuffled = quizQuestion.Answers.OrderBy(x => Guid.NewGuid()).ToList();
                                                                        }
                                                                        @foreach (var item in shuffled)
                                                                        {
                                                                            //var imagePath = Server.MapPath("~" + Constants.QuizMTPQuestion + item.ResourcePath);
                                                                            var imagePath = PhoenixConfiguration.Instance.WriteFilePath + Constants.QuizMTPQuestion + item.ResourcePath;
                                                                            <td style="width:20%; font-size: 12px; font-weight: 500; color: #3F4041; text-align: left; " align="center">
                                                                                <div style="height:5px; width:100%;">  </div>
                                                                                <div style="height: 20px; width: 20px; float:left; border: solid 1px black;" />
                                                                                <div style="height:5px; width:100%;">  </div>
                                                                                <img src="@imagePath" class="border p-1" style="height:70px; width:70px; display:inline-block; margin-bottom:5px; " />
                                                                            </td>

                                                                        }
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        }

                                                    </div>

                                                </div>
                                                <div class="col-xl-1 col-lg-2 col-md-2 col-2 text-center">
                                                    <h5 class="sub-heading text-dark" style="width:100%; text-align:right;">
                                                        <span>@ResourceManager.GetString("Quiz.Report.Marks") - @quizQuestion.Marks</span>
                                                        @*@if (quizResponseList.ResponseQuestionAnswer.Any())
                                                            {
                                                                if ((quizResponseList.SubmitAttempt == objQuiz.MaxSubmit) || quizResponseList.QuizResponseByTeacherId > 0)
                                                                {
                                                                    if (quizQuestion.QuestionTypeId == 4)
                                                                    {
                                                                        if (quizResponseList.QuizResponseByTeacherId != 0)
                                                                        {
                                                                            var ObtainedMarks = (quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).Sum(x => x.ObtainedMarks));
                                                                            <span>@Math.Round(ObtainedMarks, 1) / @quizQuestion.Marks</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span>0 / @quizQuestion.Marks</span>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        var ObtainedMarks = (quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).Sum(x => x.ObtainedMarks));
                                                                        <span>@Math.Round(ObtainedMarks, 1) / @quizQuestion.Marks</span>
                                                                    }
                                                                }

                                                            }
                                                            else if (quizResponseList.SubmitAttempt == objQuiz.MaxSubmit)
                                                            {
                                                                if (quizQuestion.QuestionTypeId == 4)
                                                                {
                                                                    if (quizResponseList.QuizResponseByTeacherId != 0)
                                                                    {
                                                                        var ObtainedMarks = (quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).Sum(x => x.ObtainedMarks));
                                                                        <span>@Math.Round(ObtainedMarks, 1) / @quizQuestion.Marks</span>
                                                                    }
                                                                    else
                                                                    {

                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    var ObtainedMarks = (quizResponseList.ResponseQuestionAnswer.Where(x => x.QuizQuestionId == quizQuestion.QuizQuestionId).DefaultIfEmpty(new Phoenix.Models.QuizAnswersView()).Sum(x => x.ObtainedMarks));
                                                                    <span>0 / @quizQuestion.Marks</span>
                                                                }
                                                            }*@
                                                    </h5>
                                                </div>

                                            </div>
                                            <!-- que 1 -->
                                            <hr />
                                            @{
                                                i = i + 1;
                                            }

                                            @if (countValue == objQuizDetails.Count())
                                            {
                                                if (IsSubmit || SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                                                {
                                                    if (Html.CurrentPagePermission().CanEdit)
                                                    {
                                                        @*<div class="row mb-3">
                                                                <div class="col-lg-12 col-md-12 col-12">
                                                                    <input type="submit" class="btn btn-primary m-0 @IsViewClass" id="submitQuiz" onclick="groupQuiz.submitQuiz()" value="@ResourceManager.GetString("Shared.Buttons.Submit")">
                                                                </div>
                                                            </div>*@
                                                    }
                                                }
                                            }
                                            @{
                                                countValue++;
                                            }
                                        </div>



                                    }
                                    @*<div class="post">
                                            @if (IsSubmit || SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                                            {
                                                if (Html.CurrentPagePermission().CanEdit)
                                                {
                                                    <div class="row below">
                                                        <div class="col-lg-12 col-md-12 col-12">
                                                            <input type="submit" class="btn btn-primary m-0" id="submitQuiz" onclick="groupQuiz.submitQuiz()" value="@ResourceManager.GetString("Shared.Buttons.Submit")">
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>*@
                                </div>
                            </div>
                            <div class="pagination column-padding pb-3"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <nav aria-label="Page navigation" class="mb-3">
                        <div class="row">
                            <div class="col-12 text-right quizPagination">
                            </div>
                        </div>

                    </nav>

                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="card min-height">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <span class="no-data-found d-block mx-auto my-auto"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

</div>
<!--Quiz task end-->
@if (objQuiz.IsSetTime && quizResponseList.QuizResponseByTeacherId == 0 && SessionHelper.CurrentSession.IsStudent() && IsSubmit)
{
    <div class="quizTimer d-flex justify-content-center position-fixed quiz-started arabictxt" id="quizTimerDiv" data-minutes-left="@objQuiz.QuizTime" data-seconds-left="">
        @*<i class="far fa-hourglass time-icon"></i>*@
        <img src="~/Content/img/sand-clock.gif" alt="" class="time-icon">
        @*<a href="javascript:void(0)" id="StopQuiz" class="timerpause text-uppercase position-absolute stopQuiz d-inline-block" data-quizid="@EncryptDecryptHelper.EncryptUrl(objQuiz.QuizId)" data-resourceid="@EncryptDecryptHelper.EncryptUrl(ResourceId)" data-toggle="tooltip" title="Stop the Quiz">
                <i class="fas fa-power-off"></i>
            </a>*@
    </div>
}

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}

@section scripts
{
    <script language="javascript">
        translatedResources.TimeOut= '@ResourceManager.GetString("Quiz.Quiz.TimeOut")';
    </script>
    <script src="@Url.Content("/Content/js/ckeditor/ckeditor.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/Student/js/addons/countdown-timer.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/Quiz.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/common/paginate.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/mathscribe/jqmath-etc-0.4.6.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    @*<script src="@Url.Content("~/Content/VLE/mathscribe/jquery-1.4.3.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>*@

    <script type="text/javascript">

        $(document).ready(function () {
            $('#MTPRetest').hide();
            $('#btnRefresh').hide();
            if (localStorage.getItem("quizStarted") != 0) {
                var quizRecentTime = localStorage.getItem("quizStarted");
                $('#quizTimerDiv').data("seconds-left", quizRecentTime);
            }

            $('.quizPagination').pagination({
                itemsToPaginate: ".post",
                activeClass: 'active',
                 itemsPerPage: $("#PaginationCount").val()
            });

            $("#quizMatchList").sortable();
            var timer1 = $('.quizTimer').startTimer({
                onComplete: function (element) {
                    $("#submitQuiz").hide();
                    isTimeOut = true;
                    groupQuiz.submitQuiz();
                    localStorage.setItem("quizStarted", 0);
                },
                onStart: $('.timerstart'),
                onPause: $('.timerpause'),
                loop: false
            });

            $(document).ready(function () {
                if ($("#IsSetTime").val() == "True") {
                    timer1.trigger('start');
                }
            });
            $("#1").addClass('active')

        });

        var unsaved = false;
        $(":input").change(function () {
            unsaved = true;
        });
        var list =@(quizResponseList.ResponseQuestionAnswer.Any() ? Html.Raw(Json.Encode(quizResponseList.ResponseQuestionAnswer)) : Html.Raw(Json.Encode(new List<Phoenix.Models.QuizAnswersView>())));
        $(function () {
            $("#btnBack").show();
            $(document).on('click', '#btnBack', function () {
                history.back();
            });


            $('.quiz-cover').on('click', function (event) {
                $('.cover-img-wrapper').removeClass('animate slideIn show');
                $(this).parent().find('.cover-img-wrapper').toggleClass('animate slideIn show');
                event.stopPropagation();
            });

            $(window).click(function (e) {
                if (e.target.class === 'show') {
                } else {
                    $(".cover-img-wrapper").removeClass("animate slideIn show");
                }
            });

            $('.questionFilesLightgallery').lightGallery({
                selector: '.galleryImg',
                share: false
            });

            // to hide the delete icon while view quiz
            $(".DeleteQuizFiles").hide();
        });

        //CHANGES FOR MATCH THE PAIR


    $(document).ready(function () {
        //const brands = [
        //    {
        //        iconName: "adobe",
        //        brandName: "Adobe",
        //        color: "#ff0000"
        //    },
        //    {
        //        iconName: "airbnb",
        //        brandName: "Airbnb",
        //        color: "#fd5c63"
        //    },
        //    {
        //        iconName: "amazon",
        //        brandName: "Amazon",
        //        color: "#333333"
        //    },
        //    {
        //        iconName: "android",
        //        brandName: "Android",
        //        color: "#a4c639"
        //    },
        //    {
        //        iconName: "angellist",
        //        brandName: "AngelList",
        //        color: "#000000"
        //    },
        //    {
        //        iconName: "angular",
        //        brandName: "Angular",
        //        color: "#b52e31"
        //    },
        //    {
        //        iconName: "app-store-ios",
        //        brandName: "App Store",
        //        color: "#5fc9f8"
        //    },
        //    {
        //        iconName: "apple",
        //        brandName: "Apple",
        //        color: "#aaaaaa"
        //    },
        //    {
        //        iconName: "bitcoin",
        //        brandName: "Bitcoin",
        //        color: "#d4af37"
        //    },
        //];
        const brands = [];
        var matchThePairList=@(objQuizDetails.Select(a => a.Answers).Any() ? Html.Raw(Json.Encode(objQuizDetails.Select(a=>a.Answers))) : Html.Raw(Json.Encode(new List<Phoenix.Models.Answers>())));
        matchThePairList.forEach(function (index) {
            var obtainMark=
            index.forEach(function (item) {
                var elementMTP = { iconName: "@PhoenixConfiguration.Instance.ReadFilePath" + "@Constants.QuizMTPQuestion" + item.ResourcePath,
                                    brandName: item.AnswerText,
                                    color: 'myCOLOR',
                                    quizAnswerId:item.QuizAnswerId,
                                    quizQuestionId:@MTPQuestionId,
                                    obtainedMarks:@MTPEachQuesMarks
                                   };
                brands.push(elementMTP)
            });
        });
        let correct = 0;
        let total = 0;
        const totalDraggableItems = 5;
        const totalMatchingPairs = 5; // Should be <= totalDraggableItems

        const scoreSection = document.querySelector(".score");
        const correctSpan = scoreSection.querySelector(".correct");
        const totalSpan = scoreSection.querySelector(".total");
        const playAgainBtn = scoreSection.querySelector("#play-again-btn");
        const refreshBtn = scoreSection.querySelector("#btnRefresh");

        const draggableItems = document.querySelector(".draggable-items");
        const matchingPairs = document.querySelector(".matching-pairs");
        let draggableElements;
        let droppableElements;

        initiateGame();

        function initiateGame() {
            const randomDraggableBrands = generateRandomItemsArray(totalDraggableItems, brands);
            const randomDroppableBrands = totalMatchingPairs < totalDraggableItems ? generateRandomItemsArray(totalMatchingPairs, randomDraggableBrands) : randomDraggableBrands;
            const alphabeticallySortedRandomDroppableBrands = [...randomDroppableBrands].sort((a, b) => a.brandName.toLowerCase().localeCompare(b.brandName.toLowerCase()));

            // Create "draggable-items" and append to DOM
        //    for (let i = 0; i < randomDraggableBrands.length; i++) {
        //        draggableItems.insertAdjacentHTML("beforeend", `
        //<i class="fab fa-${randomDraggableBrands[i].iconName} draggable" draggable="true" style="color: ${randomDraggableBrands[i].color};" id="${randomDraggableBrands[i].iconName}"></i>
        //`);
        //    }
            for (let i = 0; i < randomDraggableBrands.length; i++) {
                draggableItems.insertAdjacentHTML("beforeend", `
            <img src="${randomDraggableBrands[i].iconName}" class="fab fa-${randomDraggableBrands[i].iconName} draggable border p-1" draggable="true" data-quizanswerid="${randomDraggableBrands[i].quizAnswerId}" data-quizquestionid="${randomDraggableBrands[i].quizQuestionId}" data-obtainmark="${randomDraggableBrands[i].obtainedMarks}" style="color: ${randomDraggableBrands[i].color};" id="${randomDraggableBrands[i].iconName}">
        `);
            }
            // Create "matching-pairs" and append to DOM
            for (let i = 0; i < alphabeticallySortedRandomDroppableBrands.length; i++) {
                matchingPairs.insertAdjacentHTML("beforeend", `
        <div class="matching-pair">
            <span class="label">${alphabeticallySortedRandomDroppableBrands[i].brandName}</span>
            <span class="droppable" data-brand="${alphabeticallySortedRandomDroppableBrands[i].iconName}" data-quizanswerid="${alphabeticallySortedRandomDroppableBrands[i].quizAnswerId}" id="${alphabeticallySortedRandomDroppableBrands[i].quizAnswerId}" ></span>
        </div>
        `);
            }

            draggableElements = document.querySelectorAll(".draggable");
            droppableElements = document.querySelectorAll(".droppable");

            draggableElements.forEach(elem => {
                elem.addEventListener("dragstart", dragStart);
                // elem.addEventListener("drag", drag);
                // elem.addEventListener("dragend", dragEnd);
            });

            droppableElements.forEach(elem => {
                elem.addEventListener("dragenter", dragEnter);
                elem.addEventListener("dragover", dragOver);
                elem.addEventListener("dragleave", dragLeave);
                elem.addEventListener("drop", drop);
            });
        }

        // Drag and Drop Functions

        //Events fired on the drag target

        function dragStart(event) {
            event.dataTransfer.setData("text", event.target.id); // or "text/plain"
        }

        //Events fired on the drop target

        function dragEnter(event) {
            if (event.target.classList && event.target.classList.contains("droppable") && !event.target.classList.contains("dropped")) {
                event.target.classList.add("droppable-hover");
            }
        }

        function dragOver(event) {
            if (event.target.classList && event.target.classList.contains("droppable") && !event.target.classList.contains("dropped")) {
                event.preventDefault();
            }
        }

        function dragLeave(event) {
            if (event.target.classList && event.target.classList.contains("droppable") && !event.target.classList.contains("dropped")) {
                event.target.classList.remove("droppable-hover");
            }
        }

        function drop(event) {
            event.preventDefault();
            event.target.classList.remove("droppable-hover");
            const draggableElementBrand = event.dataTransfer.getData("text");
            const droppableElementBrand = event.target.getAttribute("data-brand");
            var quizanswerid = event.target.getAttribute("data-quizanswerid");
            const isCorrectMatching = draggableElementBrand === droppableElementBrand;
            total++;

            const draggableElement = document.getElementById(draggableElementBrand);
            event.target.classList.add("dropped");
            draggableElement.classList.add("dragged");
            draggableElement.setAttribute("draggable", "false");
            event.target.innerHTML = `<img src="${draggableElementBrand}" class="fab fa-${draggableElementBrand} draggedAns h-100 w-100" style="color: ${draggableElement.style.color};" id="${draggableElementBrand}">`;
            correct++;
            refreshBtn.style.display = "block";
            //Add TO LIST
            if(isCorrectMatching)
            {
                var QuizId = $("#QuizId").val();
                var quesId = draggableElement.dataset.quizquestionid;
                var ansId = quizanswerid;
                var ansValue = draggableElement.id;
                var obMarks = draggableElement.dataset.obtainmark;
                list.push({
                    QuizId: QuizId, QuizQuestionId: quesId
                    , QuizAnswerId: ansId, QuizAnswerText: ansValue, ObtainedMarks: obMarks
                });
            }else
            {
                var QuizId = $("#QuizId").val();
                var quesId = draggableElement.dataset.quizquestionid;
                var ansId = quizanswerid;
                var ansValue = draggableElement.id;
                var obMarks = 0.0;
                list.push({
                    QuizId: QuizId, QuizQuestionId: quesId
                    , QuizAnswerId: ansId, QuizAnswerText: ansValue, ObtainedMarks: obMarks
                });
            }
            //END ADD TO LIST
            /* if(isCorrectMatching) {
                const draggableElement = document.getElementById(draggableElementBrand);
                event.target.classList.add("dropped");
                draggableElement.classList.add("dragged");
                draggableElement.setAttribute("draggable", "false");
                event.target.innerHTML = `<i class="fab fa-${draggableElementBrand}" style="color: ${draggableElement.style.color};"></i>`;
                correct++;
            } */
            scoreSection.style.opacity = 0;
            setTimeout(() => {
                correctSpan.textContent = correct;
                totalSpan.textContent = total;
                scoreSection.style.opacity = 1;
            }, 200);
            if (correct === Math.min(totalMatchingPairs, totalDraggableItems)) { // Game Over!!
                playAgainBtn.style.display = "block";
                setTimeout(() => {
                    playAgainBtn.classList.add("play-again-btn-entrance");
                }, 200);
            }
        }

        // Other Event Listeners
        playAgainBtn.addEventListener("click", playAgainBtnClick);
        function playAgainBtnClick() {
            playAgainBtn.classList.remove("play-again-btn-entrance");
            correct = 0;
            total = 0;
            draggableItems.style.opacity = 0;
            matchingPairs.style.opacity = 0;
            setTimeout(() => {
                scoreSection.style.opacity = 0;
            }, 100);
            setTimeout(() => {
                playAgainBtn.style.display = "none";
                while (draggableItems.firstChild) draggableItems.removeChild(draggableItems.firstChild);
                while (matchingPairs.firstChild) matchingPairs.removeChild(matchingPairs.firstChild);
                initiateGame();
                correctSpan.textContent = correct;
                totalSpan.textContent = total;
                draggableItems.style.opacity = 1;
                matchingPairs.style.opacity = 1;
                scoreSection.style.opacity = 1;
            }, 500);
        }

        //refresh
        refreshBtn.addEventListener("click", refreshBtnClick);
        function refreshBtnClick() {

            correct = 0;
            total = 0;
            draggableItems.style.opacity = 0;
            matchingPairs.style.opacity = 0;
            setTimeout(() => {
                scoreSection.style.opacity = 0;
            }, 100);
            setTimeout(() => {
                refreshBtn.style.display = "none";
                while (draggableItems.firstChild) draggableItems.removeChild(draggableItems.firstChild);
                while (matchingPairs.firstChild) matchingPairs.removeChild(matchingPairs.firstChild);
                initiateGame();
                correctSpan.textContent = correct;
                totalSpan.textContent = total;
                draggableItems.style.opacity = 1;
                matchingPairs.style.opacity = 1;
                scoreSection.style.opacity = 1;
            }, 500);
        }
        // Auxiliary functions
        function generateRandomItemsArray(n, originalArray) {
            let res = [];
            let clonedArray = [...originalArray];
            if (n > clonedArray.length) n = clonedArray.length;
            for (let i = 1; i <= n; i++) {
                const randomIndex = Math.floor(Math.random() * clonedArray.length);
                res.push(clonedArray[randomIndex]);
                clonedArray.splice(randomIndex, 1);
            }
            return res;
        }

        $("body").on("click", "#submit-quiz", function () {
            let finalCount = 0;
            $(".matching-pair").each(function () {
                let queId = $(this).find(".dropped").data("brand");
                let ansId = $(this).find(".dropped").find(".draggedAns").attr("id");

                if (queId === ansId) {
                    finalCount++;
                }
                //console.log("brnad: " + queId + "----------------- id: " + ansId);
            });
            console.log(finalCount);
        });
    });

        //END MATCH THE PAIR
    </script>

}