﻿@model  List<Phoenix.Models.User>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions

<div class="modal-body">
    <input type="hidden" id="quizId" value="@ViewBag.quizId" />
    <div class="popup-form">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="md-form md-outline">
                    <select id="selectteachers" class="select-picker-withImg" data-style="btn-white" multiple data-live-search="true">
                        @foreach (var item in Model)
                        {
                            <option value="@item.Id" data-thumbnail="avatar-1.jpg">@item.UserDisplayName</option>

                        }

                    </select>
                    <label class="active">Select Teachers</label>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal-footer">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0 mr-2" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
        <button type="button" class="btn btn-primary waves-effect waves-light m-0 " onclick="quiz.postShareQuizWithTeachers()" id="btnShareWithTeachers">@ResourceManager.GetString("Shared.Buttons.Share")</button>
    </div>
</div>

