﻿@model List<Phoenix.Models.TopicSubTopicStructure>
@using Phoenix.Common.Localization;
@{
    int i = 1;
    int j = 1;

}

@if (Model.Any())
{
    var parents = Model.Where(m => m.isMainSyllabus).ToList();
    <div id="tagCurriculumwrapper" class="tagCurriculum column-padding py-3">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="search-with-bg d-flex justify-content-between pr-1">
                    <input type="search" class="searchfield" placeholder="@ResourceManager.GetString("Observation.Observation.SearchTopic")">
                    <div class="md-outline check-item d-flex align-items-center mr-3">
                        <label for="group-value10">
                            <label for="group-value10" class="text-medium mr-3">@ResourceManager.GetString("Shared.Labels.SelectAll")</label>
                            <input type="checkbox" id="group-value10" class=selectAll mr-2" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                        </label>
                    </div>
                </div>
                <!--Accordion wrapper-->
                <div class="accordion curriculum-accordion" id="topicAccordion">
                    <div class="card z-depth-0">
                        @foreach (var parent in parents)
                        {
                            var subtopics = Model.Where(m => m.ParentId == parent.SubSyllabusId).ToList();
                            string _check1 = "checked=";
                            var level1Attr = !subtopics.Select(m => m.IsSelected).ToList().Contains(false) && subtopics.Any() ? (_check1 + "checked") : string.Empty;
                            var showclass = (i == 1) ? "show" : "collapsed";
                            var isExpanded = (i == 1) ? "true" : "false";
                            i++;
                            <div class="card z-depth-0 maincard" data-searchtext="@parent.SubSyllabusDescription">

                                <div class="card-header" id="heading_@parent.SubSyllabusId">
                                    <a class="curriculum-accordion-tab @showclass" data-toggle="collapse" data-target="#collapse_@parent.SubSyllabusId" aria-expanded="@isExpanded" aria-controls="collapseOne">
                                        <h5 class="mb-0">
                                            <span class="open-close-icon"></span> @parent.SubSyllabusDescription
                                        </h5>
                                    </a>
                                    <div class="custom-control custom-checkbox mr-4">
                                        <input type="checkbox" class="custom-control-input level-1" @level1Attr data-id="@parent.SubSyllabusId" id="chk-@parent.SubSyllabusId">
                                        <label class="custom-control-label" for="chk-@parent.SubSyllabusId"></label>
                                    </div>
                                </div>


                                <div id="collapse_@parent.SubSyllabusId" class="collapse @showclass" aria-labelledby="headingOne" data-parent="#topicAccordion">
                                    <div class="accordion px-4" id="sub-topicAccordion_@parent.SubSyllabusId">
                                        <div class="card z-depth-0 maincard" data-searchtext="@parent.SubSyllabusDescription">
                                            @foreach (var subtopic in subtopics)
                                            {
                                                string _check = "checked=";
                                                var lessons = Model.Where(m => m.ParentId == subtopic.SubSyllabusId).ToList();
                                                var level2Attr = subtopic.IsSelected || (!lessons.Select(m => m.IsSelected).ToList().Contains(false) && lessons.Any()) ? (_check + "checked") : string.Empty;
                                                var showtopicTreeclass = (j == 1 || subtopic.isLesson == true) ? "show" : "collapsed";
                                                var isChildExpanded = (j == 1 || subtopic.isLesson == true) ? "true" : "false";
                                                j++;
                                                <div class="card-header" data-searchtext="@subtopic.SubSyllabusDescription">
                                                    <a class="curriculum-accordion-tab @showtopicTreeclass" data-toggle="collapse" data-target="#subTopic-@subtopic.SubSyllabusId" aria-expanded="@isChildExpanded" aria-controls="subTopic-1">
                                                        <h5 class="mb-0">
                                                            <span class="open-close-icon"></span> @subtopic.SubSyllabusDescription
                                                        </h5>
                                                    </a>
                                                    <div class="custom-control custom-checkbox mr-4">
                                                        <input type="checkbox" class="custom-control-input level-2" @level2Attr data-parentid="@parent.SubSyllabusId" data-lessonid="@subtopic.SubSyllabusId" data-lessonname="@subtopic.SubSyllabusDescription" data-islesson="@subtopic.isLesson" id="sTop-@subtopic.SubSyllabusId">
                                                        <label class="custom-control-label" for="sTop-@subtopic.SubSyllabusId"></label>
                                                    </div>
                                                </div>
                                                <div id="subTopic-@subtopic.SubSyllabusId" class="collapse @showtopicTreeclass" data-parent="#sub-topicAccordion_@parent.SubSyllabusId">
                                                    <div class="card-body">
                                                        <ul class="pr-4">
                                                            @foreach (var lesson in lessons)
                                                            {
                                                                string _checkLesson = "checked=";
                                                                var level3Attr = lesson.IsSelected ? (_checkLesson + "checked") : string.Empty;
                                                                <li>
                                                                    <div>@lesson.SubSyllabusDescription</div>
                                                                    <div class="custom-control custom-checkbox mr-3">
                                                                        <input type="checkbox" data-lessonid="@lesson.SubSyllabusId" data-islesson="@lesson.isLesson" @level3Attr data-lessonname="@lesson.SubSyllabusDescription" class="custom-control-input level-3" id="sTop-1-@lesson.SubSyllabusId">
                                                                        <label class="custom-control-label" for="sTop-1-@lesson.SubSyllabusId"></label>
                                                                    </div>
                                                                </li>
                                                            }

                                                        </ul>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>


                            </div>

                        }
                    </div>

                    <div class="row" style="display:none" id="nodataDiv">
                        <span class="no-data-found text-bold d-block mx-auto my-auto">
                            @ResourceManager.GetString("Shared.Labels.NoRecords")
                        </span>
                    </div>
                </div>
                <!-- Accordion wrapper -->
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex border-0 justify-content-end">
        <span class="item-count" id="item-count">@string.Format(ResourceManager.GetString("Observation.Observation.TopicsSelected"), Model.Where(x => x.IsSelected).Count())</span>
        <div>
            <button type="button" class="btn btn-outline-deep-purple mr-2 waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            <button type="button" class="btn btn-deep-purple waves-effect waves-light" onclick="quiz.postObjective()">@ResourceManager.GetString("Observation.Observation.Tag")</button>
        </div>
    </div>
}
else
{
    <div class="row p-4">
        <span class="no-data-found text-bold d-block mx-auto my-auto">
            @ResourceManager.GetString("Shared.Labels.NoRecords")
        </span>
    </div>

}


