﻿@model Phoenix.VLE.Web.EditModels.QuizEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers

<style>
    .dropdown-fit .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        min-width: 100%;
    }
</style>

<!--For Multi language keyboard extension-->
<link href="@Url.Content("~/Content/css/custom/jquery-ui.min.css")" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/Content/css/custom/keyboard.css")" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/Content/css/custom/keyboard-previewkeyset.css")" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/Content/css/custom/keyboard-basic.css")" rel="stylesheet" type="text/css">

@{
    var img = PhoenixConfiguration.Instance.ReadFilePath + Model.QuizImagePath;
    if (Model.IsAddMode)
    {
        Model.StartDate = null;
    }
    else
    {
        Model.EndDate = DateTime.Now;
    }
}



<div class="row">
    <div class="col-lg-6 col-md-6 col-12">
        <div class="card">
            <div class="card-body p-4">
                @using (Ajax.BeginForm("SaveQuizData", "Quiz", new AjaxOptions
                {@*OnFailure = "quiz.onFailure", OnSuccess = "quiz.onSaveSuccess" *@}, new { id = "frmAddCycle", enctype = "multipart/form-data", @class = "field-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.QuizId)
                @Html.HiddenFor(x => x.SchoolId)
                @Html.HiddenFor(x => x.IsAddMode)
                @Html.HiddenFor(x => x.IsForm)
                @Html.HiddenFor(x => x.QuizImagePath)
                @Html.HiddenFor(m => m.SelectedDate)
                <div class="row mb-4">
                    <div class="col-12 md-outline">
                        <label for="quiz-title" class="text-semibold">@ResourceManager.GetString("Quiz.Quiz.QuizName") <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(x => x.QuizName, new { @class = "form-control", @placeholder = ResourceManager.GetString("Quiz.Quiz.Title") })
                        @Html.ValidationMessageFor(x => x.QuizName, null, new { @class = "field-validation-error validateQuizName" })
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 md-outline">
                        <label for="description-area" class="text-semibold">@ResourceManager.GetString("Quiz.Quiz.Description")</label>
                        <textarea class="form-control" cols="20" data-val="true"
                                  data-val-required="Mandatory field" id="Description" name="Description"
                                  placeholder="@ResourceManager.GetString("Quiz.Quiz.Description")" rows="3">
                                                    @Html.Raw(Model.Description)
                                        </textarea>
                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-11 col-md-10 col-12">
                        <div class="audio-recorder">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-12">
                                    <button onclick="startRecording(this)" class="btn-start-record rounded-circle">
                                        <i class="fas fa-microphone"></i>
                                    </button>
                                    <button onclick="stopRecording(this)" class="btn-stop-record rounded-circle" disabled>
                                        <i class="fas fa-stop"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <ul id="recordingslist" class="align-items-center d-flex flex-wrap mt-3"></ul>
                    </div>
                </div>
                if (Model.lstDocuments.Any())
                {
                    <ul id="existRecordingslist" class="align-items-center d-flex flex-wrap mt-0">
                        @foreach (var item in Model.lstDocuments)
                        {
                            if (item.FileName.ToLower().Contains(".wav"))
                            {
                                var recordingFilePath = PhoenixConfiguration.Instance.ReadFilePath + item.PhysicalPath;
                                <li id="audio_@item.QuizFileId" class="align-items-center d-flex mb-2">
                                    <audio controls="" src="@recordingFilePath"></audio>
                                    <a class="deleteRecording mx-2" id="DeleteQuizQuestionRecording" data-quizquestionid="@item.QuizId" data-fileid="@item.QuizFileId"><i class="far fa-trash-alt"></i></a>
                                </li>
                            }
                        }
                    </ul>
                }
                <div class="row mb-4">
                    <div class="col-12">
                        <button type="button" class="btn btn-outline-primary btn-sm btn-attachment" data-toggle="modal" data-target="#fileUploadModal">
                            <i class="fas fa-plus"></i>
                            <span class="font-small text-medium">@ResourceManager.GetString("Shared.Labels.AddFile")</span>
                        </button>
                        <div id="quizFileList">
                            @if (Model.lstDocuments.Any())
                            {
                                @Html.Partial("_QuizFileList", Model.lstDocuments == null ? new List<Phoenix.Models.QuizFile>() : Model.lstDocuments)
                            }
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-3 col-md-12 col-sm-6 col-12">
                        <div class="md-outline check-item d-flex align-items-center">
                            <div class="custom-control custom-checkbox ml-2">
                                @Html.CheckBoxFor(x => x.IsActive, new { @class = "custom-control-input" })
                                <label for="IsActive" class="custom-control-label">@ResourceManager.GetString("Quiz.Quiz.IsActive")</label>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
        <div class="card">
            <div class="card-body p-4">
                <div class="row mb-4">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="md-form md-outline dropdown-fit">
                            @Html.DropDownListFor(x => x.CourseIds, new MultiSelectList(ViewBag.CourseList, "Value", "Text", Model.CourseId), new { @class = "selectpicker ddlSubject", @name = "CourseId", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true" })
                            <label class="active select-label">@ResourceManager.GetString("Quiz.QuizQuestion.CourseId")</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <button class="btn btn-primary m-0 px-3" type="button" onclick="quiz.loadTopicSubtopic($(this));">@ResourceManager.GetString("Quiz.QuizQuestion.CurriculumTag")</button>
                    </div>
                </div>
                <div class="row">
                    <div class="row mb-3 mt-3" id="selectedObjectiveDetails">
                        @if (Model.lstObjectives.Any())
                        {
                            @Html.Partial("_ShowSelectedObjective", Model.lstObjectives)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="fileUploadPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <span>@ResourceManager.GetString("Quiz.Quiz.AddAttachment")</span>
                <button type="button" class="close py-0 px-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12 mb-3">
                        <div class="uploaderWidget">
                            <input id="QuizImage" name="QuizImage" type="file" multiple>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal popups -->
<div class="modal fade" id="languageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ResourceManager.GetString("Quiz.Quiz.LanguageLabel")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="popup-form column-padding">


                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="md-form md-outline dropdown-fit">
                                <select class="selectpicker" id="ddlLanguage" data-live-Search="true" data-width="auto"></select>
                                <label class="active select-label">@ResourceManager.GetString("Quiz.Quiz.LanguageLabel")</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-12 md-outline">
                            <label for="description-area" class="text-semibold">@ResourceManager.GetString("Quiz.Quiz.Description")</label>
                            <textarea id="txtTextAreaID" class="form-control" cols="20" data-val="true" rows="3"></textarea>

                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" id="btnAppendLanguageText">@ResourceManager.GetString("Shared.Buttons.Ok")</button>
                </div>
            </div>
        </div>

    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.Quiz= '@ResourceManager.GetString("Quiz.Quiz.Quiz")';
        translatedResources.QuizName = '@ResourceManager.GetString("Quiz.Quiz.QuizName")';
        translatedResources.ResourceName = '@ResourceManager.GetString("Quiz.Quiz.ResourceName")';
        translatedResources.TeacherName= '@ResourceManager.GetString("Quiz.Quiz.TeacherName")';
        translatedResources.PassMarks= '@ResourceManager.GetString("Quiz.Quiz.PassMarks")';
        translatedResources.IsActive = '@ResourceManager.GetString("Quiz.Quiz.IsActive")';
        translatedResources.SelectSubjectError= '@ResourceManager.GetString("Quiz.QuizQuestion.SelectSubjectError")';
        translatedResources.QuizImage= '@ResourceManager.GetString("Quiz.Quiz.QuizImagePath")';
        translatedResources.QuizTaskEditValidationMessage= '@ResourceManager.GetString("Quiz.Quiz.QuizTaskEditValidationMessage")';
        translatedResources.QuizTaskDeleteValidationMessage= '@ResourceManager.GetString("Quiz.Quiz.QuizTaskDeleteValidationMessage")';
        translatedResources.DeletedSuccessfully = '@ResourceManager.GetString("Quiz.Quiz.DeletedSuccessfully")';
        translatedResources.startTimeWarning = '@ResourceManager.GetString("Quiz.Quiz.StartTimeWarning")';
        translatedResources.startDateWarning = '@ResourceManager.GetString("Quiz.Quiz.StartDateWarning")';
        translatedResources.endDateWarning = '@ResourceManager.GetString("Quiz.Quiz.EndDateWarning")';
        translatedResources.endDateValWarning = '@ResourceManager.GetString("Quiz.Quiz.EndDateValWarning")';
        translatedResources.quizQuestionsCountWarning = '@ResourceManager.GetString("Quiz.QuizQuestion.QuizQuestionsCountWarning")';
        translatedResources.EnterMarks = '@ResourceManager.GetString("Quiz.Quiz.EnterMarks")';
        translatedResources.EnterValidMarks = '@ResourceManager.GetString("Quiz.Quiz.EnterValidMarks")';
        translatedResources.StartDateTime = '@ResourceManager.GetString("Quiz.Quiz.StartDateTime")';
        translatedResources.Status = '@ResourceManager.GetString("Quiz.Quiz.Status")';
        translatedResources.TopicsSelected = '@ResourceManager.GetString("Observation.Observation.TopicsSelected")';
        translatedResources.DeleteObjectiveSuccess = '@ResourceManager.GetString("Quiz.QuizQuestion.RemoveTaggedCurriculums")'
    </script>
    <script src="@Url.Content("/Content/js/ckeditor/ckeditor.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.jsonloader.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Quiz/Quiz.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/js/addons/recorder.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/js/addons/audio-recorder-config.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/addons/jquery.minicolors.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    <!--For Multi language keyboard extension-->
    <script src="@Url.Content("~/Content/js/custom/Quiz/jquery-ui-custom.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Quiz/jquery.keyboard.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Quiz/jquery.mousewheel.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Quiz/jquery.keyboard.extension-typing.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Quiz/jquery.keyboard.extension-previewkeyset.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Quiz/keyboard-layouts-greywyvern.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Quiz/multilanguage-keyboard.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    <script>
        $(document).on('click', '#btnBack', function () {
            location.href = "/Quiz/Quiz";
        });
        $('#breadcrumbActions').html(`<div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0" id="btnBack"><span class="text-semibold">@ResourceManager.GetString("Shared.Buttons.Cancel")</span></button>
                        <button type="button" id="btnSubmitQuiz" class="btn btn-primary waves-effect waves-light m-0 ml-2"><span class="text-semibold">@ResourceManager.GetString("Shared.Buttons.Save")</span></button>
                    </div>`);
        if ($('#IsAddMode').val() === 'True') {
            $('.breadcrumbs .active').html('@ResourceManager.GetString("Quiz.Quiz.AddQuiz")')
        } else {
            $('.breadcrumbs .active').html('@ResourceManager.GetString("Quiz.Quiz.EditQuiz")')
        }
    if ($('#MaxSubmit').val() == 1)
    {
        $('#chkQuizTime').show();
    }else { $('#chkQuizTime').hide();}
    if (!$("#IsSetTime").is(":checked")) { $('#SetQuizTime').hide(); }
    $('#imgUpload').hide();
    $('#ahrefDeleteImage').click(function () {
        $('#library').hide();
        $('#QuizImagePath').val('');
        $('#imgUpload').show();
    })
    $('#IsSetTime').change(function () {
        if (!$("#IsSetTime").is(":checked")) {
            $('#QuizTime').val(1);
            $('#StartDate').val('');
            $('#StartTime').val('');
        }
    });
    $('#MaxSubmit').change(function () {
        if ($(this).val() > 1) {
            $('#chkQuizTime').fadeOut('slow');
            $('#SetQuizTime').fadeOut('slow');
            $("#IsSetTime").prop("checked", false);
            $("#QuizTime").val(1)
        }
        else {
            $('#chkQuizTime').fadeIn('slow');
            if ($("#IsSetTime").is(":checked")) { $('#SetQuizTime').show(); }
        }
    });
     $('#IsSetTime').change(function () {
        if (this.checked)
           $('#SetQuizTime').fadeIn('slow');
        else
            $('#SetQuizTime').fadeOut('slow');
    });
    var isAddMode = $("#IsAddMode").val();
    var nowTemp = new Date();
    var newTempDate = $("#SelectedDate").val();
    var tempDate = newTempDate.split('-');
    //if (isAddMode == "False") {
    //    var _stDate = $("#StartDate").val();
    //    var _tmpStartDate = _stDate.split('/');
    //    var _fromDate = new Date(nowTemp.getFullYear(), parseInt(_tmpStartDate[0]) - 1, parseInt(_tmpStartDate[1]), 0, 0, 0, 0);
    //}
    var stDate = newTempDate;
    var minDateData = new Date(nowTemp.getFullYear(), (nowTemp.getMonth()), nowTemp.getDate(), 0, 0, 0, 0);
    $('.date-picker2').datetimepicker({
        format: 'DD-MMM-YYYY',
        useCurrent: false,
        minDate: minDateData
    });
    $(".date-picker2").on("dp.change", function (e) {
        $('.date-picker1').data("DateTimePicker").maxDate(e.date);
    });
    if (isAddMode == "True") {
        $("#FromDate").removeAttr('value');
    }
    $("#FromDate").blur(function () {
        var fieldValue = $(this).val();
        if (fieldValue == "") {
            $("#FromDate").next().addClass("active");
        }
    });
    $("#ToDate").blur(function () {
        var fieldValue = $(this).val();
        if (fieldValue == "") {
            $("#ToDate").next().addClass("active");
        }
    });
    function checkTimeDifference() {
        if (($('#StartTime').val() == '') || ($('#EndTime').val() == '')) return;

        var strStartTime = $('#StartTime').val();
        var strEndTime = $('#EndTime').val();

        var startTime = new Date().setHours(GetHours(strStartTime), GetMinutes(strStartTime), 0);
        var endTime = new Date(startTime);
        endTime = endTime.setHours(GetHours(strEndTime), GetMinutes(strEndTime), 0);

        if (startTime > endTime) {
            globalFunctions.showWarningMessage(translatedResources.startTimeWarning);
            return false;
        }
        else {
            return true;
        }

        function GetHours(d) {
            var h = parseInt(d.split(':')[0]);
            if (d.split(':')[1].split(' ')[1] == "PM") {
                h = h + 12;
            }
            return h;
        }
        function GetMinutes(d) {
            return parseInt(d.split(':')[1].split(' ')[0]);
        }

        }


        CKEDITOR.plugins.addExternal('ckeditor_wiris', '', 'plugin.js');
        CKEDITOR.replace('Description', {
            htmlencodeoutput: false,
            height: '180px',
            extraPlugins: 'ckeditor_wiris',
            allowedContent : true,
            allowedContent: {
                $1: {
                    elements: CKEDITOR.dtd,
                    attributes: true,
                    styles: true,
                    classes: true
                }
            },
            disallowedContent: 'script; *[on*];',
            enterMode: CKEDITOR.ENTER_BR,
            shiftEnterMode: CKEDITOR.ENTER_P
        });

        for (var instanceName in CKEDITOR.instances) {

            CKEDITOR.instances[instanceName].addCommand("mySimpleCommand", {
                exec: function (edt) {
                    openLanguageModal();
                }
            });
            CKEDITOR.instances[instanceName].ui.addButton('SuperButton', {
                label: "Languages",
                command: 'mySimpleCommand',
                toolbar: 'insert',
                icon: '/Content/js/ckeditor/plugins/ckeditor_wiris/icons/languages.png'
            });

        }

        function openLanguageModal() {
            $('#languageModal').modal('show')
        }

    $("#QuizImage").fileinput({
            language:'@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()',
            title: '@ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")',
            theme: "fas",
            showUpload: true,
            showCaption: false,
            showMultipleNames: false,
            multiple: true,
            minFileCount: 1,
            maxFileCount: 10,
            uploadUrl: "/Quiz/Quiz/UploadQuizFiles",
            uploadExtraData: function () {
                return {
                    quizId: $("#QuizId").val(),
                };
            },
            fileActionSettings: {
                showZoom: false,
                showUpload: false,
                //indicatorNew: "",
                showDrag: false
            },
            allowedFileExtensions: @Html.Raw(Json.Encode(ViewBag.FileExtension)),
            uploadAsync: true,
            browseClass: "btn btn-outline-primary rounded z-depth-0 m-0 p-0 mt-3 btn-browse",
            removeClass: "btn btn-sm m-0 z-depth-0 d-none",
            uploadClass: "btn btn-primary rounded z-depth-0 m-0 p-0 mt-3 btn-upload",
            cancelClass: "btn btn-default float-right rounded z-depth-0 m-0 p-0 mt-3 btn-cancel",
            overwriteInitial: false,
            //previewFileIcon: '<i class="fas fa-file"></i>',
            initialPreviewAsData: false, // defaults markup
            initialPreviewConfig: [{
                frameAttr: {
                    title: 'My Custom Title',
                }
            }],
        preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
        previewFileIconSettings: fileInputControlSettings.previewFileIconSettings,
        previewSettings: fileInputControlSettings.previewSettings,
        previewFileExtSettings: fileInputControlSettings.previewFileExtSettings

    }).on('fileuploaded', function (event, data, previewId, index) {
            // alert(JSON.stringify(data));
        if (index == 0) {
            globalFunctions.showSuccessMessage("@ResourceManager.GetString("Shared.Messages.FileUploaded")");
        }
            $("#fileUploadModal").modal('hide');
            $('.fileinput-remove').click();
            $.ajax({
                type: "GET",
                url: "/Quiz/Quiz/GetuploadedFileDetails",
                success: function (response) {
                    $("#quizFileList").html('');
                    $("#quizFileList").append(response);
                    $('#lightgallery').lightGallery({
                        selector: '.galleryImg',
                        share: false
                    });
                    globalFunctions.convertImgToSvg();
                },
                error: function (error) {
                    globalFunctions.onFailure();
                }
            });
            });
        $("#scrollableTopic").mCustomScrollbar({
            setHeight: "100",
        })


        $('body').on('click', '#btnAppendLanguageText', function (e) {
            var textAreaValue = $("#txtTextAreaID").val();
            CKEDITOR.instances['Description'].insertText(textAreaValue);
            $("#languageModal").modal('hide');
            $("#txtTextAreaID").val("");
        });

    </script>
}

