﻿@using Phoenix.Common.Localization
@model  Phoenix.VLE.Web.Areas.SMS.Model.TimeTableCombined
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <!-- left column -->
            <div class="col-lg-12 col-md-12 col-12 ">
                <!-- TimeTable Start -->
                <div class="row">
                    <div class="card col-lg-12 col-md-12 col-sm-12 pr-4 pl-4">
                        <div class="">

                            <div class="card-body text-center">
                                <div class="multiple-items">
                                    @foreach (var day in Model.Calendardays)
                                    {
                                        <div class="calender_click">
                                            <span class="timetable-date" slick-date="@day.Days"> @Html.DisplayFor(modelItem => day.Days)</span><br>
                                            <span class="timetable-day">@day.Months (@Html.DisplayFor(modelItem => day.Day_Name))</span>
                                            <input type="hidden" value="@Html.DisplayFor(modelItem => day.Date_Value)">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TimeTable End -->
        </div>
    </div>
</div>
<div class="container-fluid">
    @foreach (var timetable_item in Model.TimetableLayout)
    {
        <div class='row'>
            <div class='col-md-12'>
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="card week-days">

                        <div class="card-body card-shadow period-card-border @timetable_item.StatusCss ">
                            <div class="row p-2">

                                <div class="col-lg-1 day-border ">
                                    <span class="timetable-start">@Html.DisplayFor(modelItem => timetable_item.StartTime)</span> <br>
                                    <span class="timetable-end">@Html.DisplayFor(modelItem => timetable_item.EndTime)</span>
                                </div>
                                <div class="col-lg-11 pl-lg-4 pr-4">
                                    <a href="@Url.Action("Index", "Attendance", new { tt_id = timetable_item.TimeTableID,entrydate = timetable_item.entry_date })">
                                        <span class="timetable-date">@Html.DisplayFor(modelItem => timetable_item.SubjectName) </span> <span class="timetable-teacher pr-4">@Html.DisplayFor(modelItem => timetable_item.TeacherName)</span><br>
                                        <span class="timetable-day">@ResourceManager.GetString("SIMS.TimeTable.ClassRoom") - @Html.DisplayFor(modelItem => timetable_item.ClassRoom)</span>
                                    </a>
                                    <div class="timetable-ellipsis">
                                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="z-index:1;">
                                            <i class="fas fa-ellipsis-v"></i>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu z-depth-5 dropdown-menu-right" style="z-index:2;">
                                            <a class="dropdown-item" href="@Url.Action("Index", "Attendance", new { tt_id = timetable_item.TimeTableID,entrydate = timetable_item.entry_date })">@ResourceManager.GetString("SIMS.TimeTable.MarkAttendance")</a>
                                            <a class="dropdown-item" href="@Url.Action("GetClassList", "ClassList",new { username=@Session["userName"],tt_id = timetable_item.TimeTableID })">@ResourceManager.GetString("SIMS.TimeTable.ClassList")</a>
                                            <a class="dropdown-item" href="@Url.Action("LoadBehaviour", "Behaviour", new { tt_id = timetable_item.TimeTableID })">@ResourceManager.GetString("SIMS.TimeTable.IncidentBehaviourEntry")</a>
                                            <a class="dropdown-item" href="@Url.Action("LoadStudentBehaviour", "Behaviour", new { tt_id = timetable_item.TimeTableID })">@ResourceManager.GetString("SIMS.TimeTable.Behaviour")</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

