﻿@model IEnumerable<Phoenix.Models.SchoolSpace>
@using Phoenix.Common.Localization
@{
    ViewData["Title"] = ResourceManager.GetString("School.SchoolSpace.Title");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-school-information.svg");
    var rnd = DateTime.Now.Ticks.ToString();
}

<div class="row">
    <!-- Safety Categories content start -->
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card school-spaces-wrapper">
            <div class="card-body column-padding pt-3 pb-3 min-height">
                @*<div class="row">
                        <div class="col-lg-9 col-md-9 col-12">
                        </div>
                        <div class="col-lg-3 col-md-3 col-12 text-right">
                            <button id="btnAddSchoolSpace" type="button" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light">@ResourceManager.GetString("School.SchoolSpace.AddSchoolSpace")</button>
                        </div>
                    </div>*@
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="table-wrapper mt-4">
                            <div class="row mb-3">
                                <div class="col-lg-8 col-md-8 col-8">
                                    <div class="search-with-bg">
                                        <i class="fa fa-search"></i>
                                        <input type="search" id="SpaceListSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-4">
                                    <div class="float-right">
                                        <button id="btnAddSchoolSpace" type="button" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light">@ResourceManager.GetString("School.SchoolSpace.AddSchoolSpace")</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover table-responsive-md" id="tbl-Space"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Safety Categories content end -->

</div>
@*<div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="float-right">
                <button id="btnAddSchoolSpace" type="button" class="btn btn-default">@ResourceManager.GetString("School.SchoolSpace.AddSchoolSpace")</button>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-wrapper column-padding ">
                        <table class="table table-bordered table-hover table-responsive-md" id="tbl-Space"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>*@
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.icon = '@ResourceManager.GetString("School.SchoolSpace.IconCssClass")';
        translatedResources.title = '@ResourceManager.GetString("School.SchoolSpace.Title")';
        translatedResources.spaceName = '@ResourceManager.GetString("School.SchoolSpace.SpaceName")';
        translatedResources.editors = '@ResourceManager.GetString("School.SchoolSpace.Editors")';
        translatedResources.resources = '@ResourceManager.GetString("School.SchoolSpace.Resources")';
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/SchoolInfo/SchoolSpace.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}

