﻿@model IEnumerable<Phoenix.Models.SchoolSpace>
@using Phoenix.Common.Localization
@{
    ViewBag.Title = ResourceManager.GetString("School.SchoolSpace.StudentSpaces");
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    var rnd = DateTime.Now.Ticks.ToString();
}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="add-task column-padding pt-3 pb-3">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12">

                        </div>
                        <div class="col-lg-6 col-md-6 col-12 text-lg-right text-md-right text-left">
                            <div class="task-sorting">
                                <span>@ResourceManager.GetString("School.SchoolSpace.SortBy")</span>
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @ResourceManager.GetString("Shared.Labels.Date")
                                </a>
                                <div class="dropdown-menu dropdown-menu-right z-depth-1 language-dropdown">
                                    <a class="dropdown-item" href="#">@ResourceManager.GetString("School.SchoolSpace.Option1")</a>
                                    <a class="dropdown-item" href="#">@ResourceManager.GetString("School.SchoolSpace.Option2")</a>
                                </div>
                                <div class="toggle-library d-inline-block ml-4">
                                    <a href="javascript:void(0)" id="grid"><i class="fas fa-th"></i></a>
                                    <a href="javascript:void(0)" id="list"><i class="fas fa-list"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="library-data column-padding pt-3 pb-3">
                    <div id="library" class="row view-group">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="row">
                                <div class="col-lg-12 col-12"><h4 class="sub-heading"><strong>@ResourceManager.GetString("Files.Folder.Title")</strong></h4></div>
                            </div>
                            <div class="row">
                                @foreach (var item in Model)
                                {

                                    <div class="item col-xl-2 col-lg-3 col-md-3 col-6">
                                        <div class="library-content clearfix">
                                            <div class="item-icon">
                                                <a href="#">
                                                    <i class="fas fa-folder-open"></i>
                                                </a>
                                            </div>
                                            <div class="caption">
                                                <p>@item.SpaceName</p>
                                                <div class="quick-nav dropleft">
                                                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                        <span class="sr-only">@ResourceManager.GetString("Shared.Labels.ToggleDD")</span>
                                                    </button>
                                                    <div class="dropdown-menu z-depth-1">
                                                        <a class="dropdown-item" href="#">@ResourceManager.GetString("Shared.Buttons.View")</a>
                                                        <a class="dropdown-item" href="#">@ResourceManager.GetString("Shared.Buttons.Edit")</a>
                                                        <a class="dropdown-item" href="#">@ResourceManager.GetString("Shared.Buttons.Delete")</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Content/js/custom/SchoolInfo/Studentspaces.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}