﻿@model Phoenix.VLE.Web.ViewModels.LoginViewModel
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers;
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    var hdnServerRequest = System.Net.Dns.GetHostAddresses(System.Net.Dns.GetHostName());
    //Language helper
    var currentSystemLanguage = Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage;
    var langId = currentSystemLanguage.SystemLanguageId;
    var langCode = currentSystemLanguage.SystemLanguageCode;
    var langIsRightToLeft = currentSystemLanguage.IsRightToLeft;
    var languagesList = SystemLanguageHelper.SystemLanguages;
    var pipe = "|";
}

@if (hdnServerRequest != null)
{
    for (int i = 0; i < hdnServerRequest.Count(); i++)
    {
        @Html.Hidden($"IP_{i}", hdnServerRequest[i].ToString())
    }
}

@*@model Phoenix.Web.ViewModels.LoginViewModel
    @using Phoenix.Common.Localization
    @{
        ViewBag.Title = "Login";
        Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    }*@

<style>
    .classroom-login {
        max-width: 550px;
        min-height: 100px;
    }

    .md-form.md-outline input[type=text]:focus:not([readonly]) {
        border-color: #cacaca !important;
    }

        .md-form.md-outline input[type=text]:focus:not([readonly]) + label {
            color: #5a5a5a !important;
        }

    body {
        background: url("../Content/img/login-bg.jpg") no-repeat top center !important;
        background-size: cover;
    }


    html:lang(ar) .md-form.md-outlinelabel.active {
        left: initial;
        right: 8px;
    }

    html:lang(ar) .md-formlabel {
        top: 0.5rem;
    }

    html:lang(ar) .md-form.md-outline label {
        left: initial;
        right: 8px;
    }

    html:lang(ar) .md-form.md-outline.field-with-iconi {
        right: initial;
        left: 1.125rem;
    }
</style>

@using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.returnUrl }, FormMethod.Post, new { @name = "ForgotPassword", @id = "ForgotPassword" }))
{
    <div class="container-fluid align-items-center d-flex justify-content-center" style="height: 100vh;">
        <div class="classroom-login mx-auto">
            <div class="row pb-5">
                <div class="col-lg-12">

                </div>
                <div class="col-12 bg-white p-5 mt-3 z-depth-2 rounded">
                    <div class="row mb-5">
                        <div class="col-12">
                            <img src="@(langId == 2 ? Url.Content("~/Content/VLE/img/svg/logo-colored-ar.svg") : Url.Content("~/Content/VLE/img/svg/logo-colored.svg"))" alt="Phoenix" class="img-fluid logo" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pb-4">
                            <h5 class="text-medium text-center mb-3 mt-0">@ResourceManager.GetString("Shared.Login.ForgotPassword")</h5>
                            <div class="md-form md-outline">
                                @Html.AntiForgeryToken()

                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @autocomplete = "off" })
                                <label for="UserName">@ResourceManager.GetString("Shared.Login.UserName")</label>
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                            <div class="md-form md-outline">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @autocomplete = "off" })
                                @Html.LabelFor(m => m.Email, ResourceManager.GetString("Shared.Login.Email"))
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <div class="md-form md-outline">
                                <div>
                                    <small style="color:red;"> @ViewBag.ErrorMsg</small>
                                    <small style="color:darkgreen;"> @ViewBag.Msg</small>
                                </div>
                            </div>
                            <div class="md-form d-flex justify-content-between align-items-center">
                                <input type="Submit" class="form-control btn btn-primary m-0" value="@ResourceManager.GetString("Shared.Login.Submit")">
                                @Html.ActionLink(ResourceManager.GetString("Shared.Labels.Back"), "Login", "Account", new { @style = "font-size:small;" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-none">
                <div class="col-12 text-center">
                    @foreach (var lang in languagesList)
                    {
                        if (languagesList.Last() != lang)
                        {
                            <a href="/Account/ChangeLanguage?Name=ForgotPassword&languageId=@lang.SystemLanguageId" class="mx-1"><small class="text-semibold">@lang.SystemLanguageName</small></a> @pipe
                        }
                        else
                        {
                            <a href="/Account/ChangeLanguage?Name=ForgotPassword&languageId=@lang.SystemLanguageId" class="mx-1"><small class="text-semibold">@lang.SystemLanguageName</small></a>
                        }
                    }
                </div>
            </div>
        </div>
        <div id="loginParticles" class="position-fixed w-100 h-100" style="top: 0; z-index: -1;"></div>
    </div>
}

<!-- Login -->
<script type="text/javascript" src="~/Content/VLE/js/jquery-3.3.1.min.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
<script type="text/javascript" src="~/Content/VLE/js/popper.min.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
<script type="text/javascript" src="~/Content/VLE/js/bootstrap.min.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
<script type="text/javascript" src="~/Content/VLE/js/mdb.min.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
<script type="text/javascript" src="~/Content/VLE/js/addons/particles.min.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
<script src="~/Scripts/jquery.validate.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
@Html.Partial("_ValidationJSPartial")
<script>
    $(function () {
        particlesJS("loginParticles", {
            particles: {
                number: { value: 80, density: { enable: true, value_area: 800 } },
                color: { value: "#ffffff" },
                shape: {
                    type: "circle",
                    stroke: { width: 0, color: "#ffffff" },
                    polygon: { nb_sides: 5 },
                    image: { src: "img/github.svg", width: 100, height: 100 }
                },
                opacity: {
                    value: 0.5,
                    random: false,
                    anim: {
                        enable: false,
                        speed: 6.153846153846154,
                        opacity_min: 0.1,
                        sync: false
                    }
                },
                size: {
                    value: 3,
                    random: true,
                    anim: { enable: false, speed: 40, size_min: 0.1, sync: false }
                },
                line_linked: {
                    enable: true,
                    distance: 150,
                    color: "#ffffff",
                    opacity: 0.2,
                    width: 1
                },
                move: {
                    enable: true,
                    speed: 4,
                    direction: "none",
                    random: false,
                    straight: false,
                    out_mode: "out",
                    bounce: false,
                    attract: { enable: false, rotateX: 600, rotateY: 1200 }
                }
            },
            interactivity: {
                detect_on: "canvas",
                events: {
                    onhover: { enable: true, mode: "repulse" },
                    onclick: { enable: true, mode: "push" },
                    resize: true
                },
                modes: {
                    grab: { distance: 400, line_linked: { opacity: 1 } },
                    bubble: { distance: 400, size: 40, duration: 2, opacity: 8, speed: 3 },
                    repulse: { distance: 200, duration: 0.4 },
                    push: { particles_nb: 4 },
                    remove: { particles_nb: 2 }
                }
            },
            retina_detect: true
        });

    })
    // Wait for the DOM to be ready
    $(function () {
        // Initialize form validation on the registration form.
        // It has the name attribute "registration"
        $("form[id='LoginForm']").validate({
            // Specify validation rules
            rules: {
                // The key name on the left side is the name attribute
                // of an input field. Validation rules are defined
                // on the right side
                UserName: "required",
                Password: "required"
            },
            // Specify validation error messages
            messages: {
                UserName: "Please enter username",

                Password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                }
            },
            // Make sure the form is submitted to the destination defined
            // in the "action" attribute of the form when valid
            submitHandler: function (form) {
                form.submit();
            }
        });
    });
</script>


