﻿@model Phoenix.VLE.Web.ViewModels.LoginViewModel
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers;
@{
    ViewBag.Title = ResourceManager.GetString("Shared.Labels.Classroom");
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    var hdnServerRequest = System.Net.Dns.GetHostAddresses(System.Net.Dns.GetHostName());
    //Language helper
    var currentSystemLanguage = Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage;
    var langId = currentSystemLanguage.SystemLanguageId;
    var langCode = currentSystemLanguage.SystemLanguageCode;
    var langIsRightToLeft = currentSystemLanguage.IsRightToLeft;
    var languagesList = SystemLanguageHelper.SystemLanguages;
    var pipe = "|";
}

@if (hdnServerRequest != null)
{
    for (int i = 0; i < hdnServerRequest.Count(); i++)
    {
        @Html.Hidden($"IP_{i}", hdnServerRequest[i].ToString())
    }
}
<link href="~/Content/VLE/css/login.css" rel="stylesheet" type="text/css">
<!-- Login -->
<style>

    .classroom-login {
        max-width: 550px;
        min-height: 100px;
    }

    .md-form.md-outline input[type=text]:focus:not([readonly]) {
        border-color: #cacaca !important;
    }

        .md-form.md-outline input[type=text]:focus:not([readonly]) + label {
            color: #5a5a5a !important;
        }

    body {
        background: url("../Content/img/login-bg.jpg") no-repeat top center !important;
        background-size: cover;
    }

    html:lang(ar) .md-form.md-outlinelabel.active {
        left: initial;
        right: 8px;
    }

    html:lang(ar) .md-formlabel {
        top: 0.5rem;
    }

    html:lang(ar) .md-form.md-outline label {
        left: initial;
        right: 8px;
    }

    html:lang(ar) .md-form.md-outline.field-with-iconi {
        right: initial;
        left: 1.125rem;
    }

    .classroom-login {
        max-width: 550px;
        min-height: 100px;
    }

    .md-form.md-outline input[type=text]:focus:not([readonly]) {
        border-color: #cacaca !important;
    }

        .md-form.md-outline input[type=text]:focus:not([readonly]) + label {
            color: #5a5a5a !important;
        }

    .loginBtns a img {
        width: 65px;
    }

    .loginBtns a span {
        font-size: 16px;
    }

    .loginBtns a:hover img {
        filter: invert(1);
    }

    .lgnForm {
        display: none;
    }

    .loginBtns {
        display: flex;
    }

    /*    Media Queries*/
    @@media all and (max-width:767px) {
        .classroom-login {
            max-width: 95%;
        }
    }

    @@media only screen and (max-width: 767.98px) {
        .loginBtns a img {
            width: 50px;
        }
    }

    @@media only screen and (max-width: 767.98px) {
        .loginBtns a span {
            font-size: 12px;
        }
    }

    .tooltip-inner {
        background-color: #f0e8f8;
        border: solid 1px #5d3195;
        color: #333;
        font-weight: 400;
        max-width: 300px;
        padding: 12px 15px;
        font-size: 16px;
    }

    .tooltip.show {
        opacity: 1;
    }

    .tooltip.top .tooltip-arrow {
        border-top-color: #e9e1f1;
    }

    .tooltip.right .tooltip-arrow {
        border-right-color: #e9e1f1;
    }

    .tooltip.bottom .tooltip-arrow {
        border-bottom-color: #e9e1f1;
    }

    .tooltip.left .tooltip-arrow {
        border-left-color: #e9e1f1;
    }
</style>



<div class="container-fluid align-items-center d-flex justify-content-center" style="height: 100vh;">

    <div class="classroom-login mx-auto">
        <div class="row pb-5">
            <div class="col-12 bg-white p-4 p-md-5 mt-3 z-depth-2 rounded">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.returnUrl }, FormMethod.Post, new { @id = "LoginForm1" }))
                {
                    <div class="row mb-5">
                        <div class="col-12">
                            <img src="@(langId == 2 ? Url.Content("~/Content/VLE/img/svg/logo-colored-ar.svg") : Url.Content("~/Content/VLE/img/svg/logo-colored.svg"))" alt="Phoenix" class="img-fluid logo" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-12 pb-2 pb-sm-4">
                            <div class="align-items-center flex-row justify-content-between loginBtns">
                                <a href="@Url.Action("AdLogin", "Account", new { redirectUrl = ViewBag.ReturnUrl})" data-toggle="tooltip" data-placement="top" title="@string.Format("Example: {0}",Constants.IsElite?"shams.k@eliteeducation-eg.com":"shams.k_ood@gemsedu.com")" class="btn btn-outline-primary staff-trigger text-center flex-1 py-4 mr-0 mb-sm-0 mb-2" id="3">
                                    <img src="~/Content/VLE/img/teacher.png" alt="" class="d-block mb-3 mx-auto">
                                    <span class="text-semibold">@ResourceManager.GetString("Shared.Login.Staff")</span>
                                </a>
                                <a href="@Url.Action("AdLogin", "Account",  new { redirectUrl = ViewBag.ReturnUrl})" data-toggle="tooltip" data-placement="top" title="@string.Format("Example: {0}",Constants.IsElite?"Chris.b@eliteeducation-eg.com":"Chris.b_daa@gemselearning.com")" class="btn btn-outline-primary staff-trigger text-center flex-1 py-4 mx-2 mb-sm-0 mb-2" id="1">
                                    <img src="~/Content/VLE/img/student.png" alt="" class="d-block mb-3 mx-auto">
                                    <span class="text-semibold">@ResourceManager.GetString("Shared.Login.Student")</span>
                                </a>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Example: Vishal.k" class="btn btn-outline-primary parent-trigger text-center flex-1 py-4 mr-0 mb-sm-0 mb-2" id="2">
                                    <img src="~/Content/VLE/img/parent.png" alt="" class="d-block mb-3 mx-auto">
                                    <span class="text-semibold">@ResourceManager.GetString("Shared.Login.Parent")</span>
                                </a>
                            </div>
                            <div class="lgnForm">
                                <div class="md-form md-outline">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @autocomplete = "off" })
                                    <label for="UserName">@ResourceManager.GetString("Shared.Login.UserName")</label>
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </div>
                                <div class="md-form md-outline">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @autocomplete = "off" })
                                    <label for="Password">@ResourceManager.GetString("Shared.Login.Password")</label>
                                    @Html.ValidationMessageFor(m => m.Password)
                                </div>
                                @Html.HiddenFor(m => m.userType, new { @class = "form-control", @id = "hdnUserTypeId" })
                                @*<div class="md-form d-flex justify-content-between align-items-center">
            <div class="actions">
                <input type="Submit" class="form-control btn btn-primary m-0" value="@ResourceManager.GetString("Shared.Login.Submit")">
                <button type="button" class="btn btn-outline-primary ml-1 cancelLogin">Cancel</button>
            </div>
            @Html.ActionLink(ResourceManager.GetString("Shared.Login.ForgotPassword"), "ForgotPassword", "Account", new { @style = "font-size:small;" })
        </div>*@
                                <div class="md-form">
                                    <div class="row align-items-center justify-content-between">
                                        <div class="col-12 col-lg-8 col-md-8 col-xl-8">
                                            <div class="actions d-flex justify-content-between justify-content-md-start">
                                                <input type="Submit" id="btnSubmit" class="form-control btn btn-primary m-0" value="@ResourceManager.GetString("Shared.Login.Submit")">
                                                <button type="button" class="btn btn-outline-primary ml-1 cancelLogin m-0">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-12 text-right mt-3 mt-md-0">
                                            @*@Html.ActionLink(ResourceManager.GetString("Shared.Login.ForgotPassword"), "ForgotPassword", "Account", new { @style = "font-size:small;" })*@

                                            @if (Phoenix.VLE.Web.Constants.IsElite || Phoenix.VLE.Web.Constants.IsNonGems)
                                            {
                                                <a href="javascript:void" class="forgotPassTrigger"><small class="text-medium">@ResourceManager.GetString("Shared.Login.ForgotPassword")</small></a>

                                            }
                                        </div>
                                    </div>
                                </div>
                                <span class="clsValid">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </span>
                            </div>
                        </div>
                    </div>
                }
                <div class="row forgotPassForm">
                    <div class="col-12">
                        <div style="text-align:center">
                            <label id="lblMessege" style="display:none" class="alert alert-danger"></label>
                        </div>
                        <div class="forgotPassword">
                            <h2 class="fs-title text-semibold">@ResourceManager.GetString("ForgotPassword.ForgotPassword.HavingTrouble")</h2>
                            <fieldset class="px-0 pt-0 w-100" id="StudentIdDiv">
                                <h3 class="fs-subtitle mb-3">
                                    @ResourceManager.GetString("ForgotPassword.ForgotPassword.EnterTheDetails")
                                    <a href="javascript:void" class="ml-2" data-toggle="tooltip" data-placement="right" title="@ResourceManager.GetString("ForgotPassword.ForgotPassword.DetailsInfoIcon")">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                </h3>
                                <div class="md-form md-outline">
                                    <input id="StudentID" value="" onfocusout="if (this.value.length > 0) { HideElement(this.id);  $('.next').removeClass('disabled'); }" type="text" class="form-control" required>
                                    <label for="StudentID" class="">@ResourceManager.GetString("ForgotPassword.ForgotPassword.StudentId")</label>
                                    <small class="text-danger GFValidate" id="StudentIDValidation">@ResourceManager.GetString("ForgotPassword.ForgotPassword.StudentIdRequired")</small>
                                </div>
                                <div class="md-form md-outline date-time-picker">
                                    <input value="" onfocusout="if (this.value.length > 0) { HideElement(this.id); $('.next').removeClass('disabled'); }" type="text" id="dob" class="form-control date-picker" required>
                                    <label>@ResourceManager.GetString("ForgotPassword.ForgotPassword.StudentDOB")</label>
                                    <small class="text-danger GFValidate" id="dobValidation">@ResourceManager.GetString("ForgotPassword.ForgotPassword.StudentDOBRequired")</small>
                                </div>
                                <input type="button" class="next action-button m-0 btn-primary rounded z-depth-0" value="Next" />
                                <button type="button" class="btn btn-outline-primary m-0 cancelForgotPass float-right">Cancel</button>
                            </fieldset>
                            <fieldset class="px-0 pt-0 w-100" id="OTPDiv">
                                <h3 class="fs-subtitle mb-3">@ResourceManager.GetString("ForgotPassword.ForgotPassword.OTPSent") </h3>
                                <div class="md-form md-outline">
                                    <input value="" onfocusout="if (this.value.length > 0) { HideElement(this.id);$('.next').removeClass('disabled'); }" id="parentUsername" type="text" class="form-control" required>
                                    <label for="parentUsername" class="">@ResourceManager.GetString("ForgotPassword.ForgotPassword.ParentUserName")</label>
                                    <small class="text-danger GFValidate" id="parentUsernameValidation">@ResourceManager.GetString("ForgotPassword.ForgotPassword.ParentUserNameRequired")</small>
                                </div>
                                <div class="md-form md-outline">
                                    <input value="" onfocusout="if (this.value.length > 0) { HideElement(this.id);$('.next').removeClass('disabled'); }" id="otp" type="number" class="form-control" required>
                                    <label for="otp" class="">@ResourceManager.GetString("ForgotPassword.ForgotPassword.OTP")</label>
                                    <small class="text-danger GFValidate" id="otpValidation">@ResourceManager.GetString("ForgotPassword.ForgotPassword.OTPRequired")</small>
                                </div>
                                <input type="button" class="previous m-0 action-button-previous btn-outline-primary rounded z-depth-0 mr-2" value="Previous" />
                                <input type="button" class="next m-0 action-button btn-primary rounded z-depth-0" value="Next" />
                                <button type="button" class="btn btn-outline-primary m-0 cancelForgotPass float-right">Cancel</button>
                            </fieldset>
                            <fieldset class="px-0 pt-0 w-100" id="NewPasswordDiv">
                                <h3 class="fs-subtitle mb-3">@ResourceManager.GetString("ForgotPassword.ForgotPassword.CreateNewPassword")</h3>
                                <div class="md-form md-outline">
                                    <input onfocusout="if (this.value.length > 0) { HideElement(this.id);$('.next').removeClass('disabled'); }" id="newPassword" type="password" class="form-control" required>
                                    <label for="newPassword" class="">@ResourceManager.GetString("ForgotPassword.ForgotPassword.NewPassword")</label>
                                    <small class="text-danger GFValidate" id="newPasswordValidation">@ResourceManager.GetString("ForgotPassword.ForgotPassword.NewPasswordRequired")</small>
                                </div>
                                <div class="md-form md-outline">
                                    <input onfocusout="if (this.value.length > 0) { HideElement(this.id);$('.next').removeClass('disabled'); }" id="confirmPassword" type="password" class="form-control" required>
                                    <label for="confirmPassword" class="">@ResourceManager.GetString("ForgotPassword.ForgotPassword.ConfirmPassword")</label>
                                    <small class="text-danger GFValidate" id="confirmPasswordValidation">@ResourceManager.GetString("ForgotPassword.ForgotPassword.ConfirmPasswordRequired")</small>
                                </div>
                                <input type="button" class="previous m-0 action-button-previous btn-outline-primary rounded z-depth-0 mr-2" value="Previous" />
                                <input type="button" id="btnUpdate" class="submit m-0 action-button btn-primary rounded z-depth-0" value="Update" />
                                <button type="button" class="btn btn-outline-primary m-0 cancelForgotPass float-right">Cancel</button>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-none">
            <div class="col-12 text-center">
                @foreach (var lang in languagesList)
                {
                    if (languagesList.Last() != lang)
                    {
                        <a href="/Account/ChangeLanguage?Name=Login&languageId=@lang.SystemLanguageId" class="mx-1"><small class="text-semibold">@lang.SystemLanguageName</small></a> @pipe
                    }
                    else
                    {
                        <a href="/Account/ChangeLanguage?Name=Login&languageId=@lang.SystemLanguageId" class="mx-1"><small class="text-semibold">@lang.SystemLanguageName</small></a>
                    }
                }
            </div>
        </div>
    </div>
    <!-- <div id="loginParticles" class="position-fixed w-100 h-100" style="top: 0; z-index: -1;"></div> -->
</div>


@*<script type="text/javascript" src="~/Content/VLE/js/jquery-3.3.1.min.js?v=" +@ResourceManager.GetString("Shared.Version.Js")></script>
    <script type="text/javascript" src="~/Content/VLE/js/popper.min.js?v=" +@ResourceManager.GetString("Shared.Version.Js")></script>
    <script type="text/javascript" src="~/Content/VLE/js/bootstrap.min.js?v=" +@ResourceManager.GetString("Shared.Version.Js")></script>
    <script src="~/Content/VLE/js/mdb.min.js?v=" +@ResourceManager.GetString("Shared.Version.Js")></script>
    <script src="~/Scripts/jquery.validate.js?v=" +@ResourceManager.GetString("Shared.Version.Js")></script>*@

@Scripts.Render("~/bundles/loginjs")

@Html.Partial("_ValidationJSPartial")
<script type="text/javascript" src="~/Content/js/addons/moment-with-locales.js"></script>
<script type="text/javascript" src="~/Content/js/addons/bootstrap-datetimepicker.min.js"></script>
<script src="~/Content/js/custom/ForgotPassword/ForgotPassword.js"></script>
<script>

    if ($('.clsValid').find('ul li').text() === "Invalid User Name or Password.") {
        if ($("#hdnUserTypeId").val() == "2") {
            $(".parent-trigger").parent(".loginBtns").slideUp();
            $(".parent-trigger").parent(".loginBtns").next(".lgnForm").slideDown();
        }
    }
    $("body").on("click", ".parent-trigger", function () {
        $(this).parent(".loginBtns").slideUp();
        var currentId = $(this).attr("id");
        $("#hdnUserTypeId").val(currentId);
        $(this).parent(".loginBtns").next(".lgnForm").slideDown();
    })

    $("body").on("click", ".cancelLogin", function () {
        $(this).closest(".lgnForm").slideToggle();
        $(this).closest(".lgnForm").prev(".loginBtns").slideToggle();
    });
    $("body").on("click", "#btnSubmit", function () {
        $(this).addClass("disabled");
    });
    $(document).ready(function () {
        $("#btnSubmit").removeClass("disabled");
    });


     PasswordNotMatch = '@ResourceManager.GetString("ForgotPassword.ForgotPassword.PasswordNotMatch")';
    $("body").on("click", ".next", function () {
        $(this).addClass("disabled");
    });
    $(document).ready(function () {
        $(".next").removeClass("disabled");
    });
    $("body").on("click", "#btnUpdate", function () {
        $(this).addClass("disabled");
    });
    $(document).ready(function () {
        $("#btnUpdate").removeClass("disabled");
    });
</script>
