﻿@model Phoenix.VLE.Web.ViewModels.LoginViewModel
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers;
@{
    ViewBag.Title = ResourceManager.GetString("Shared.Labels.Classroom");
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    var hdnServerRequest = System.Net.Dns.GetHostAddresses(System.Net.Dns.GetHostName());
    //Language helper
    var currentSystemLanguage = Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage;
    var langId = currentSystemLanguage.SystemLanguageId;
    var langCode = currentSystemLanguage.SystemLanguageCode;
    var langIsRightToLeft = currentSystemLanguage.IsRightToLeft;
    var languagesList = SystemLanguageHelper.SystemLanguages;
    var pipe = "|";
}

@if (hdnServerRequest != null)
{
    for (int i = 0; i < hdnServerRequest.Count(); i++)
    {
        @Html.Hidden($"IP_{i}", hdnServerRequest[i].ToString())
    }
}

<!-- Login -->
<style>
    .classroom-login {
        max-width: 550px;
        min-height: 100px;
    }

    .md-form.md-outline input[type=text]:focus:not([readonly]) {
        border-color: #cacaca !important;
    }

        .md-form.md-outline input[type=text]:focus:not([readonly]) + label {
            color: #5a5a5a !important;
        }

    body {
        background: url("../Content/img/login-bg.jpg") no-repeat top center !important;
        background-size: cover;
    }

    html:lang(ar) .md-form.md-outlinelabel.active {
        left: initial;
        right: 8px;
    }

    html:lang(ar) .md-formlabel {
        top: 0.5rem;
    }

    html:lang(ar) .md-form.md-outline label {
        left: initial;
        right: 8px;
    }

    html:lang(ar) .md-form.md-outline.field-with-iconi {
        right: initial;
        left: 1.125rem;
    }

    /*    Media Queries*/
    @@media all and (max-width:767px) {
        .classroom-login {
            max-width: 90%;
        }
    }
</style>

@using (Html.BeginForm("EnterClassroom", "Account", new { ReturnUrl = ViewBag.returnUrl }, FormMethod.Post, new { @id = "LoginForm" }))
{
    <div class="container-fluid align-items-center d-flex justify-content-center" style="height: 100vh;">
        <div class="classroom-login mx-auto">
            <div class="row pb-5">
                <div class="col-lg-12">
                </div>
                <div class="col-12 bg-white p-5 mt-3 z-depth-2 rounded">
                    <div class="row mb-5">
                        <div class="col-12">
                            <img src="@(langId == 2 ? Url.Content("~/Content/VLE/img/svg/logo-colored-ar.svg") : Url.Content("~/Content/VLE/img/svg/logo-colored.svg"))" alt="Phoenix" class="img-fluid logo" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pb-4">
                            @*<h3 class="text-medium text-center mb-5 mt-4">@ResourceManager.GetString("Shared.Login.LogIn")</h3>*@
                            <div class="md-form md-outline">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @autocomplete = "off" })
                                <label for="UserName">@ResourceManager.GetString("Shared.Login.UserName")</label>
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                            <div class="md-form md-outline">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @autocomplete = "off" })
                                <label for="Password">@ResourceManager.GetString("Shared.Login.Password")</label>
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>

                            @*<div class="md-form d-flex justify-content-between align-items-center">
                                    <input type="Submit" class="form-control btn btn-info m-0" value="@ResourceManager.GetString("Shared.Login.Submit")">
                                    @Html.ActionLink(ResourceManager.GetString("Shared.Login.ForgotPassword"), "ForgotPassword", "Account", new { @style = "font-size:small;" })
                                </div>*@
                            <div class="md-form">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-12 col-lg-8 col-md-8 col-xl-8">
                                        <div class="actions d-flex justify-content-between justify-content-md-start">
                                            <input type="Submit" id="btnSubmit" class="form-control btn btn-primary m-0" value="@ResourceManager.GetString("Shared.Login.Submit")">
                                        </div>
                                    </div>
                                    @*<div class="col-xl-4 col-lg-4 col-md-4 col-12 text-right mt-3 mt-md-0">
                                        @Html.ActionLink(ResourceManager.GetString("Shared.Login.ForgotPassword"), "ForgotPassword", "Account", new { @style = "font-size:small;" })
                                    </div>*@
                                </div>
                            </div>
                            <span>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 pb-4 text-center">
                            <div class="md-form d-flex justify-content-between align-items-center">
                                <a href="@Url.Action("AdLogin", "Account", new { redirectUrl = ViewBag.ReturnUrl})" style="text-decoration: none;">
                                    <img src="~/Content/VLE/img/Sign-in-with-microsoft.png" class="img-fluid" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-none">
                <div class="col-12 text-center">
                    @foreach (var lang in languagesList)
                    {
                        if (languagesList.Last() != lang)
                        {
                            <a href="/Account/ChangeLanguage?Name=EnterClassroom&languageId=@lang.SystemLanguageId" class="mx-1"><small class="text-semibold">@lang.SystemLanguageName</small></a> @pipe
                        }
                        else
                        {
                            <a href="/Account/ChangeLanguage?Name=EnterClassroom&languageId=@lang.SystemLanguageId" class="mx-1"><small class="text-semibold">@lang.SystemLanguageName</small></a>
                        }
                    }
                </div>
            </div>
        </div>
        @*<div id="loginParticles" class="position-fixed w-100 h-100" style="top: 0; z-index: -1;"></div>*@
    </div>
}

@*<script type="text/javascript" src="~/Content/VLE/js/jquery-3.3.1.min.js?v=" +@ResourceManager.GetString("Shared.Version.Js")></script>
    <script type="text/javascript" src="~/Content/VLE/js/popper.min.js?v=" +@ResourceManager.GetString("Shared.Version.Js")></script>
    <script type="text/javascript" src="~/Content/VLE/js/bootstrap.min.js?v=" +@ResourceManager.GetString("Shared.Version.Js")></script>
    <script type="text/javascript" src="~/Content/VLE/js/mdb.min.js?v=" +@ResourceManager.GetString("Shared.Version.Js")></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.js?v=" +@ResourceManager.GetString("Shared.Version.Js")></script>*@

@Scripts.Render("~/bundles/loginjs")

@Html.Partial("_ValidationJSPartial")

<script>
    $("body").on("click", "#btnSubmit", function () {
        $(this).addClass("disabled");
    });
    $(document).ready(function () {
        $("#btnSubmit").removeClass("disabled");
    });
</script>