﻿@model Phoenix.Models.FileExplorer
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Enums;
@using Phoenix.Common.Helpers.Extensions;

@{
    var isCustomPermission = ViewBag.IsCustomPermission ?? false;
    var groupPermission = ViewBag.GroupPermission != null ? ViewBag.GroupPermission : 3;

}

@foreach (var fd in Model.Folders)
{
    var dateTime = fd.UpdatedOn.ConvertUtcToLocalTime();
    var dt = Convert.ToDateTime(dateTime).ToFormatedDate("ddd - MMM dd, HH:mm");
    //var dt = fd.UpdatedOn.ToString("ddd - MMM dd, HH:mm tt", myCI);

    <li data-search-text="@fd.FolderName" data-sort-type="Folder" data-sort-date="@dateTime.Value.Ticks">
        <div class="activities-left-content">
            <div class="folder-container flex-shrink-0 cursor-pointer mr-3" onclick="groupDetail.loadFolderDetail(@fd.FolderId,@fd.SectionId,@fd.ModuleId)">
                <i class="flaticon-folder"></i>
            </div>
            <div class="activities-description-container cursor-pointer" onclick="groupDetail.loadFolderDetail(@fd.FolderId,@fd.SectionId,@fd.ModuleId)">
                <div class="title">@fd.FolderName</div>
            </div>
        </div>
        <div class="activities-right-content flex-shrink-0">
            <span class="arabictxt">@dt</span>
            <div class="btn-group dropleft ml-2">
                <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v text-default"></i>
                </a>
                <div class="dropdown-menu z-depth-1 border-0">
                    <a class="dropdown-item py-2 subItem" href="javascript:void(0)" onclick="groupDetail.loadFolderDetail(@fd.FolderId,@fd.SectionId,@fd.ModuleId)">@ResourceManager.GetString("Shared.Buttons.View")</a>
                    @if (isCustomPermission && groupPermission >= 2)
                    {
                        <a class="dropdown-item py-2 subItem" href="javascript:void(0)" onclick="folder.editfolderPopup($(this), @fd.FolderId, @fd.ModuleId, @fd.ParentFolderId, @fd.SectionId)">@ResourceManager.GetString("Shared.Buttons.Edit")</a>

                        if (groupPermission > 2)
                        {
                            <a class="dropdown-item py-2 subItem" href="javascript:void(0)" onclick="folder.deletefolderData($(this), @fd.FolderId)">@ResourceManager.GetString("Shared.Buttons.Delete")</a>
                        }
                    }
                </div>
            </div>
        </div>
    </li>
}

@foreach (var al in Model.AsyncLessons)
{
    var studentUserId = SessionHelper.CurrentSession.IsParent() ? SessionHelper.CurrentSession.CurrentSelectedStudent.UserId.ToString() : SessionHelper.CurrentSession.Id.ToString();

    if ((SessionHelper.CurrentSession.IsStudent() || SessionHelper.CurrentSession.IsParent()) && al.IsPublish && !string.IsNullOrWhiteSpace(al.Students) && al.Students.Contains(studentUserId))
    {
        var dateTime = al.UpdatedOn.ConvertUtcToLocalTime();
        var dt = Convert.ToDateTime(dateTime).ToFormatedDate("ddd - MMM dd, HH:mm");

        <li data-search-text="@al.LessonTitle"  data-sort-type="Lesson" data-sort-date="@dateTime.Value.Ticks">
            <div class="activities-left-content">
                <div class="folder-container flex-shrink-0 cursor-pointer mr-3" onclick="groupDetail.loadAsyncContentDetail('@EncryptDecryptHelper.EncryptUrl(al.AsyncLessonId.ToString())','true')">
                    <img src="@Url.Content("~/Content/VLE/img/svg/menu/course-catalogue.svg")" alt="folder-icon" class="svg" />
                </div>
                <div class="activities-description-container cursor-pointer" onclick="groupDetail.loadAsyncContentDetail('@EncryptDecryptHelper.EncryptUrl(al.AsyncLessonId.ToString())','true')">
                    <div class="title">@al.LessonTitle </div>
                </div>
            </div>
            <div class="activities-right-content flex-shrink-0">
                <span class="arabictxt">@dt</span>
                <div class="btn-group dropleft ml-2">
                    <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v text-default"></i>
                    </a>
                    <div class="dropdown-menu z-depth-1 border-0">
                        <a class="dropdown-item py-2 subItem" href="javascript:void(0)" onclick="groupDetail.loadAsyncContentDetail('@EncryptDecryptHelper.EncryptUrl(al.AsyncLessonId.ToString())','true')">@ResourceManager.GetString("Shared.Buttons.View")</a>
                        @if (isCustomPermission && groupPermission >= 2)
                        {
                            <a class="dropdown-item py-2 subItem" href="javascript:void(0)" onclick="groupDetail.loadEditAsyncLessonPopup($(this), '@EncryptDecryptHelper.EncryptUrl(al.AsyncLessonId.ToString())', '@EncryptDecryptHelper.EncryptUrl(al.SectionId.ToString())', '@EncryptDecryptHelper.EncryptUrl(al.ModuleId.ToString())', '@EncryptDecryptHelper.EncryptUrl(al.FolderId.ToString())')">@ResourceManager.GetString("Shared.Buttons.Edit")</a>

                            if (groupPermission > 2)
                            {
                                <a class="dropdown-item py-2 subItem" href="javascript:void(0)" onclick="groupDetail.deleteAsyncLesson($(this), @al.AsyncLessonId)">@ResourceManager.GetString("Shared.Buttons.Delete")</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </li>
    }
    else if (SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher())
    {
        var dateTime = al.UpdatedOn.ConvertUtcToLocalTime();
        var dt = Convert.ToDateTime(dateTime).ToFormatedDate("ddd - MMM dd, HH:mm");

        <li data-search-text="@al.LessonTitle" data-sort-type="Lesson" data-sort-date="@dateTime.Value.Ticks">
            <div class="activities-left-content">
                <div class="folder-container flex-shrink-0 cursor-pointer mr-3" onclick="groupDetail.loadAsyncContentDetail('@EncryptDecryptHelper.EncryptUrl(al.AsyncLessonId.ToString())','false')">
                    <img src="@Url.Content("~/Content/VLE/img/svg/menu/course-catalogue.svg")" alt="folder-icon" class="svg" />
                </div>
                <div class="activities-description-container cursor-pointer" onclick="groupDetail.loadAsyncContentDetail('@EncryptDecryptHelper.EncryptUrl(al.AsyncLessonId.ToString())','false')">
                    <div class="title">@al.LessonTitle </div>
                    <span class="text-semibold align-content-center text-right"> @(al.IsPublish ? "" : "Draft")</span>
                </div>
            </div>
            <div class="activities-right-content flex-shrink-0">
                <span class="arabictxt">@dt</span>
                <div class="btn-group dropleft ml-2">
                    <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v text-default"></i>
                    </a>
                    <div class="dropdown-menu z-depth-1 border-0">
                        <a class="dropdown-item py-2 subItem" href="javascript:void(0)" onclick="groupDetail.loadAsyncContentDetail('@EncryptDecryptHelper.EncryptUrl(al.AsyncLessonId.ToString())','false')">@ResourceManager.GetString("Shared.Buttons.View")</a>
                        @if (isCustomPermission && groupPermission >= 2)
                        {
                            <a class="dropdown-item py-2 subItem" href="javascript:void(0)" onclick="groupDetail.loadEditAsyncLessonPopup($(this), '@EncryptDecryptHelper.EncryptUrl(al.AsyncLessonId.ToString())', '@EncryptDecryptHelper.EncryptUrl(al.SectionId.ToString())', '@EncryptDecryptHelper.EncryptUrl(al.ModuleId.ToString())', '@EncryptDecryptHelper.EncryptUrl(al.FolderId.ToString())')">@ResourceManager.GetString("Shared.Buttons.Edit")</a>

                            if (groupPermission > 2)
                            {
                                <a class="dropdown-item py-2 subItem" href="javascript:void(0)" onclick="groupDetail.deleteAsyncLesson($(this), @al.AsyncLessonId)">@ResourceManager.GetString("Shared.Buttons.Delete")</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </li>
    }

}

@foreach (var f in Model.Files)
{
    var dateTime = f.UpdatedOn.ConvertUtcToLocalTime();
    var dt = Convert.ToDateTime(dateTime).ToFormatedDate("ddd - MMM dd, HH:mm");
    var isExcelOrWord = f.FileTypeName.Contains("Word") || f.FileTypeName.Contains("Excel");
    bool isCloudFile = CommonHelper.IsCloudFile(f.ResourceFileTypeId);
    var isParent = SessionHelper.CurrentSession.IsParent() ? "true" : "false";
    string filePath = f.FilePath;
    var iscloudFile = f.ResourceFileTypeId == (short)ResourceFileTypes.SharePoint || f.ResourceFileTypeId == (short)ResourceFileTypes.GoogleDrive || f.ResourceFileTypeId == (short)ResourceFileTypes.OneDrive || f.ResourceFileTypeId == (short)ResourceFileTypes.OneNote;
    if (isExcelOrWord && !iscloudFile)
    {
        filePath = $"/Document/Viewer/Index?id={EncryptDecryptHelper.EncryptUrl(f.FileId.ToString())}&module=file";
    }
    else if(!isCloudFile && f.ResourceFileTypeId == (short)ResourceFileTypes.SharePoint)
    {
        filePath = f.PhysicalFilePath;
    }
    else if (iscloudFile)
    {
        filePath = f.FilePath;
    }
    else
    {
        filePath = PhoenixConfiguration.Instance.ReadFilePath + f.FilePath;
    }

    var finalFilePath = Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? (f.ResourceFileTypeId ==  (short)Phoenix.Common.Enums.ResourceFileTypes.SharePoint ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(f.FilePath) : f.FilePath) : filePath;

    <li data-search-text="@f.FileName" data-sort-type="File" data-sort-date="@dateTime.Value.Ticks">
        <div class="activities-left-content">
            <div class="folded-content-container flex-shrink-0 mr-3">
                @*<a href="@CommonHelper.GetFileURL((short)f.ResourceFileTypeId,(Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? (f.ResourceFileTypeId ==  (short)Phoenix.Common.Enums.ResourceFileTypes.SharePoint ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(f.FilePath) : f.FilePath) :f.FilePath ),isExcelOrWord,EncryptDecryptHelper.EncryptUrl(f.FileId.ToString()),"file")" target="_blank">*@
                <a href="javascript:void(0)" onclick="globalFunctions.downloadSharepointFile('@f.FileName','@string.Format("{0}",finalFilePath)','@SessionHelper.CurrentSession.SchoolCode','@isParent','@f.ResourceFileTypeId')">
                    <i class="@f.FlatIcon"></i>
                </a>
            </div>
            <div class="activities-description-container">
                <div class="title">
                    @*<a href="@CommonHelper.GetFileURL((short)f.ResourceFileTypeId,(Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? (f.ResourceFileTypeId ==  (short)Phoenix.Common.Enums.ResourceFileTypes.SharePoint ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(f.FilePath) : f.FilePath) :f.FilePath ),isExcelOrWord,EncryptDecryptHelper.EncryptUrl(f.FileId.ToString()),"file")" target="_blank">*@
                    <a href="javascript:void(0)"  onclick="globalFunctions.downloadSharepointFile('@f.FileName','@string.Format("{0}",finalFilePath)','@SessionHelper.CurrentSession.SchoolCode','@isParent','@f.ResourceFileTypeId')">tivitiesList
                        @f.FileName
                        @if (isCloudFile)
                        {
                            <span class="new-update">
                                <i src="@(f.ResourceFileTypeId == (short)ResourceFileTypes.GoogleDrive? "flaticon-google-drive": f.ResourceFileTypeId == (short)ResourceFileTypes.OneNote ? "flaticon-one-drive" : "flaticon-one-drive")"></i>
                            </span>
                        }
                    </a>
                </div>
            </div>
        </div>
        <div class="activities-right-content flex-shrink-0">
            <span class="arabictxt">@dt</span>
            <div class="btn-group dropleft ml-2">
                <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v text-default"></i>
                </a>
                <div class="dropdown-menu z-depth-1 border-0">
                    @*<a href="@CommonHelper.GetFileURL((short)f.ResourceFileTypeId,(Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? (f.ResourceFileTypeId ==  (short)Phoenix.Common.Enums.ResourceFileTypes.SharePoint ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(f.FilePath) : f.FilePath) :f.FilePath ),isExcelOrWord,EncryptDecryptHelper.EncryptUrl(f.FileId.ToString()),"file")" target="_blank" class="dropdown-item py-2 subItem">*@
                    <a href="javascript:void(0)"  onclick="globalFunctions.downloadSharepointFile('@f.FileName','@string.Format("{0}",finalFilePath)','@SessionHelper.CurrentSession.SchoolCode','true','@f.ResourceFileTypeId')" class="dropdown-item py-2 subItem">
                        @ResourceManager.GetString("Shared.Buttons.Download")
                    </a>
                    @if (isCustomPermission)
                    {
                        <a class="dropdown-item py-2 subItem" href="javascript:void(0)" onclick="files.initFileRenameForm(this, @f.FileId)" data-toggle="tooltip" title="@ResourceManager.GetString("Shared.Buttons.Edit")">
                            @ResourceManager.GetString("Shared.Buttons.Edit")
                        </a>
                        <a class="dropdown-item py-2 subItem" href="javascript:void(0)" onclick="files.copyToClipboard($(this),@f.FileId)" data-toggle="tooltip" title="@ResourceManager.GetString("Files.File.Copy")">

                            @ResourceManager.GetString("Files.File.Copy")
                        </a>

                        if (groupPermission > 2 || (groupPermission == 2 && f.CreatedBy == SessionHelper.CurrentSession.Id))
                        {
                            <a class="dropdown-item py-2 subItem" href="javascript:void(0)" onclick="files.deletefileData($(this),'@f.FileId');" data-toggle="tooltip" title="@ResourceManager.GetString("Shared.Buttons.Delete")">
                                @ResourceManager.GetString("Shared.Buttons.Delete")
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </li>
}

@foreach (var ag in Model.Assignments)
{
    var dateTime = ag.UpdatedOn.ConvertUtcToLocalTime();
    var dt = Convert.ToDateTime(dateTime).ToFormatedDate("ddd - MMM dd, HH:mm");

    var assignmentLink = SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin ? $"/Assignments/Assignment/GetAssignmentStudentDetailsByAssgnmtId?id=" + EncryptDecryptHelper.EncryptUrl(ag.AssignmentId.ToString()) + "&GroupId=" + EncryptDecryptHelper.EncryptUrl(ag.GroupId.ToString()) : $"/Assignments/Assignment/StudentHomeworkAddEdit?Id=" + EncryptDecryptHelper.EncryptUrl(ag.AssignmentStudentId.ToString());
    <li data-search-text="@ag.AssignmentTitle" data-sort-type="Assignment" data-sort-date="@dateTime.Value.Ticks">
        <div class="activities-left-content">
            <div class="contact-support-container flex-shrink-0 mr-3">
                <a target="_blank" href="@assignmentLink">
                    <img src="@Url.Content("~/Content/VLE/img/svg/menu/menu-assignments.svg")" class="svg" alt="contact-support-icon" />
                </a>
            </div>
            <div class="activities-description-container">
                <a target="_blank" href="@assignmentLink">
                    <div class="title">@ag.AssignmentTitle</div>
                </a>
            </div>
        </div>
        <div class="activities-right-content flex-shrink-0">
            <span class="arabictxt">@dt</span>
            <div class="btn-group dropleft ml-2">
                <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v text-default"></i>
                </a>
                <div class="dropdown-menu z-depth-1 border-0">
                    <a class="dropdown-item py-2 subItem" href="@assignmentLink"> @ResourceManager.GetString("Shared.Buttons.View")</a>
                    @if (isCustomPermission)
                    {
                        <a class="dropdown-item py-2 subItem" target="_blank" href="/Assignments/Assignment/AddEditAssignment?id=@EncryptDecryptHelper.EncryptUrl(ag.AssignmentId.ToString())"> @ResourceManager.GetString("Shared.Buttons.Edit")</a>
                        @*if (groupPermission > 2)
                            {
                                <a class="dropdown-item py-2 subItem" href="javascript:void(0)" onclick="groupUrl.deleteGroupUrl($(this), @u.Id)">@ResourceManager.GetString("Shared.Buttons.Delete")</a>
                            }*@
                    }
                </div>
            </div>
        </div>
    </li>
}


@foreach (var u in Model.GroupUrls)
{
    var dateTime = u.UpdatedOn.ConvertUtcToLocalTime();
    var dt = Convert.ToDateTime(dateTime).ToFormatedDate("ddd - MMM dd, HH:mm");
    var link = u.Link.Contains("http") ? u.Link : $"//{u.Link}";
    <li data-search-text="@u.Title" data-sort-type="Url" data-sort-date="@dateTime.Value.Ticks">
        <div class="activities-left-content">
            <div class="contact-support-container flex-shrink-0 mr-3">
                <a target="_blank" href="@link">
                    <img src="@Url.Content("~/Content/VLE/img/svg/link.svg")" class="svg" alt="contact-support-icon" />
                </a>
            </div>
            <div class="activities-description-container">
                <a target="_blank" href="@link">
                    <div class="title">@u.Title</div>
                </a>
            </div>
        </div>
        <div class="activities-right-content flex-shrink-0">
            <span class="arabictxt">@dt</span>
            <div class="btn-group dropleft ml-2">
                <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v text-default"></i>
                </a>
                <div class="dropdown-menu z-depth-1 border-0">
                    <a class="dropdown-item py-2 subItem" href="@link"> @ResourceManager.GetString("Shared.Buttons.View")</a>
                    @if (isCustomPermission)
                    {
                        <a class="dropdown-item py-2 subItem" href="javascript:void(0)" onclick="groupUrl.editGroupUrlPopup($(this), @u.Id, @u.GroupId,@u.FolderId,@u.ModuleId);"> @ResourceManager.GetString("Shared.Buttons.Edit")</a>
                        if (groupPermission > 2)
                        {
                            <a class="dropdown-item py-2 subItem" href="javascript:void(0)" onclick="groupUrl.deleteGroupUrl($(this), @u.Id)">@ResourceManager.GetString("Shared.Buttons.Delete")</a>
                        }
                    }
                </div>
            </div>
        </div>
    </li>
}

@foreach (var q in Model.GroupQuizzes)
{

    var dateTime = Convert.ToDateTime(q.UpdatedOn).ConvertUtcToLocalTime();
    var dt = Convert.ToDateTime(dateTime).ToFormatedDate("ddd - MMM dd, HH:mm");
    if (q.IsSetTime)
    {
        if (!String.IsNullOrEmpty(q.QuizStartedTime))
        {
            var UTCToLocalStartDate = Convert.ToDateTime(q.QuizStartedTime).ConvertUtcToLocalTime();
            q.QuizStartDate = Convert.ToDateTime(UTCToLocalStartDate).ToFormatedDate("dd-MMM-yyyy");
            q.QuizStartedTime = Convert.ToDateTime(UTCToLocalStartDate).ToFormatedDate("yyyy-MM-dd HH:mm:ss");
            q.StartDate = Convert.ToDateTime(UTCToLocalStartDate);
            q.StartTime = Convert.ToDateTime(UTCToLocalStartDate).ToFormatedDate("h:mm tt");
        }
    }
    var submitClass = q.IsSetTime && (SessionHelper.CurrentSession.IsStudent() || SessionHelper.CurrentSession.IsParent()) ? q.IsSolved ? "btnSubmitWithouTimeQuiz" : "btnStartGroupQuiz" : "btnSubmitWithouTimeQuiz";
    <li data-search-text="@q.QuizName" data-sort-type="Quiz" data-sort-date="@dateTime.Value.Ticks">
        <div class="activities-left-content">
            @if (SessionHelper.CurrentSession.IsStudent() || SessionHelper.CurrentSession.IsParent())
            {
                <div class="contact-support-container flex-shrink-0 mr-3">
                    <a href="javascript:void(0)" id="@submitClass" data-studid="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(0))" data-quizresourceid="@q.GroupQuizId" data-id="@q.QuizId" data-quizName="@q.QuizName" data-startTime="@q.QuizOverAllTime" data-startdate="@q.QuizStartDate" data-starttimebyteacher="@q.StartTime" data-startstartedtimer="@q.IsStartedSetTimer" data-teachergiventime="@q.QuizStartedTime" data-timeinsec="@q.TimeInSec" data-issetstartdate="@q.IsSetStartDate">
                        <img src="@Url.Content("~/Content/VLE/img/svg/quiz-small.svg")" alt="contact-support-icon" class="svg" />
                    </a>
                </div>
                <div class="activities-description-container">
                    <a href="javascript:void(0)" id="@submitClass" data-studid="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(0))" data-quizresourceid="@q.GroupQuizId" data-id="@q.QuizId" data-quizName="@q.QuizName" data-startTime="@q.QuizOverAllTime" data-startdate="@q.QuizStartDate" data-starttimebyteacher="@q.StartTime" data-startstartedtimer="@q.IsStartedSetTimer" data-teachergiventime="@q.QuizStartedTime" data-timeinsec="@q.TimeInSec" data-issetstartdate="@q.IsSetStartDate">
                        <div class="title">@q.QuizName</div>
                    </a>
                </div>
            }
            else
            {
                <div class="contact-support-container mr-3">
                    <a id="btnQuizMark" data-id="@q.GroupQuizId" data-groupId="@q.GroupId" href="javascript:void(0)">
                        <img src="@Url.Content("~/Content/VLE/img/svg/quiz.svg")" alt="contact-support-icon" class="svg" />
                    </a>
                </div>
                <div class="activities-description-container">
                    <a id="btnQuizMark" class="checkQuiz" data-quizid="@q.QuizId" data-id="@q.GroupQuizId" data-groupId="@q.GroupId" href="javascript:void(0)">
                        <div class="title">@q.QuizName</div>
                    </a>
                </div>
            }
        </div>
        <div class="activities-right-content flex-shrink-0">
            <span class="arabictxt">@dt</span>
            <div class="btn-group dropleft ml-2">
                <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v text-default"></i>
                </a>
                <div class="dropdown-menu z-depth-1 border-0">
                    @if ((SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin) && isCustomPermission)
                    {
                        if (groupPermission > 2)
                        {
                            <a id="btnDeleteGroupQuiz" data-id="@q.GroupQuizId" class="dropdown-item py-2 subItem" href="javascript:void(0)">@ResourceManager.GetString("Shared.Buttons.Delete")</a>
                        }
                        <a id="btnQuizMark" data-id="@q.GroupQuizId" data-groupId="@q.GroupId" class="dropdown-item py-2 subItem" href="javascript:void(0)">@ResourceManager.GetString("Files.Quiz.CheckQuiz")</a>
                        <a id="btnQuizAsPdf" data-id="@q.GroupQuizId" data-quizid="@EncryptDecryptHelper.EncryptUrl(q.QuizId.ToString())" data-groupId="@q.GroupId" data-isquestionexist="@q.IsQuestionsExist" class="dropdown-item py-2 subItem" href="javascript:void(0)">@ResourceManager.GetString("Quiz.Report.QuizAsPdf")</a>
                    }
                    @if (SessionHelper.CurrentSession.IsStudent() || SessionHelper.CurrentSession.IsParent())
                    {<a href="javascript:void(0)" id="@submitClass" data-studid="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(0))" data-quizresourceid="@q.GroupQuizId" data-id="@q.QuizId" data-quizName="@q.QuizName" data-startTime="@q.QuizOverAllTime" data-startdate="@q.QuizStartDate" data-starttimebyteacher="@q.StartTime" data-startstartedtimer="@q.IsStartedSetTimer" data-teachergiventime="@q.QuizStartedTime" data-timeinsec="@q.TimeInSec" data-issetstartdate="@q.IsSetStartDate" class="dropdown-item py-2 subItem">

                            @ResourceManager.GetString("Shared.Buttons.View")
                        </a>
                    }
                </div>
            </div>
        </div>
    </li>
}

@foreach (var q in Model.Forms)
{
    var dateTime = q.UpdatedOn.ConvertUtcToLocalTime();
    var dt = Convert.ToDateTime(dateTime).ToFormatedDate("ddd - MMM dd, HH:mm");
    <li data-search-text="@q.QuizName" data-sort-type="Form" data-sort-date="@dateTime.Value.Ticks">
        <div class="activities-left-content">
            @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
            {
                <div class="contact-support-container flex-shrink-0 cursor-pointer mr-3" id="btnViewForm" data-id="@EncryptDecryptHelper.EncryptUrl(q.QuizId.ToString())">
                    <img src="@Url.Content("/Content/VLE/img/svg/form.svg")" alt="contact-support-icon" class="svg" />
                </div>
                <div class="activities-description-container cursor-pointer" id="btnViewForm" data-id="@EncryptDecryptHelper.EncryptUrl(q.QuizId.ToString())">
                    <div class="title">@q.QuizName</div>

                </div>
            }
            else
            {
                <div class="contact-support-container flex-shrink-0 cursor-pointer mr-3" id="btnSolveForm" onclick="" data-studid="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(0))" data-quizresourceid="@EncryptDecryptHelper.EncryptUrl(q.GroupId.ToString())" data-id="@EncryptDecryptHelper.EncryptUrl(q.QuizId.ToString())">
                    <img src="@Url.Content("/Content/VLE/img/svg/form.svg")" class="svg" alt="contact-support-icon" />
                </div>
                <div class="activities-description-container cursor-pointer" id="btnSolveForm" onclick="" data-studid="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(0))" data-quizresourceid="@EncryptDecryptHelper.EncryptUrl(q.GroupId.ToString())" data-id="@EncryptDecryptHelper.EncryptUrl(q.QuizId.ToString())">
                    <div class="title">@q.QuizName</div>

                </div>
            }
        </div>
        <div class="activities-right-content flex-shrink-0">
            <span class="arabictxt">@dt</span>
            <div class="btn-group dropleft ml-2">
                <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v text-default"></i>
                </a>
                <div class="dropdown-menu z-depth-1 border-0">
                    @if ((SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin) && isCustomPermission)
                    {
                        <a class="dropdown-item py-2 subItem" href="javascript:void(0)" id="btnViewForm" data-id="@EncryptDecryptHelper.EncryptUrl(q.QuizId.ToString())">@ResourceManager.GetString("Shared.Buttons.View")</a>
                        <a class="dropdown-item py-2 subItem" href="javascript:void(0)" id="btnEditGroupForm" data-id="@EncryptDecryptHelper.EncryptUrl(q.QuizId.ToString())">@ResourceManager.GetString("Shared.Buttons.Edit")</a>
                        <a class="dropdown-item py-2 subItem" href="javascript:void(0)" id="btnFormMark" data-id="@EncryptDecryptHelper.EncryptUrl(q.QuizId)" data-groupId="@EncryptDecryptHelper.EncryptUrl(q.GroupId)">@ResourceManager.GetString("Files.Forms.Marks")</a>

                        if (groupPermission > 2)
                        {
                            <a class="dropdown-item py-2 subItem" href="javascript:void(0)" id="btnDeleteForm" data-id="@EncryptDecryptHelper.EncryptUrl(q.QuizId.ToString())">@ResourceManager.GetString("Shared.Buttons.Delete")</a>
                        }
                    }
                    else
                    {
                        <a class="dropdown-item py-2 subItem" href="javascript:void(0)" id="btnSolveForm" onclick="" data-studid="@EncryptDecryptHelper.EncryptUrl(Convert.ToString(0))" data-quizresourceid="@EncryptDecryptHelper.EncryptUrl(q.GroupId.ToString())" data-id="@EncryptDecryptHelper.EncryptUrl(q.QuizId.ToString())">@ResourceManager.GetString("Shared.Buttons.View")</a>
                    }


                </div>
            </div>
        </div>
    </li>
}

@if (Model.Files.Count() == 0 && Model.Folders.Count() == 0 && Model.GroupQuizzes.Count() == 0 && Model.Forms.Count() == 0 && Model.GroupUrls.Count() == 0 && Model.AsyncLessons.Count() == 0 && Model.Assignments.Count() == 0)
{
    //Data attribute in li is required for searching and sorting using jquery: Deepak Singh 13/Jan/21
    <li class="d-flex" data-search-text="" data-sort-type="" data-sort-date="">

        <span class="no-data-found text-bold d-block mx-auto my-auto">
            @ResourceManager.GetString("Shared.Messages.NoDataFound")
        </span>

    </li>
}