﻿@model Phoenix.Models.FileExplorer
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions;
@{
    var topicModuleId = ViewBag.TopicModuleId;
    var groupEncryptedId = Model.SectionId.ToString();

    var isCustomPermission = ViewBag.IsCustomPermission ?? false;
    var groupPermission = ViewBag.GroupPermission != null ? ViewBag.GroupPermission : 3;
    var topicListStr = string.Empty;

    var newGroupModel = new Phoenix.Models.FileExplorer();
    newGroupModel.SectionId = Model.SectionId;
    newGroupModel.Folders.AddRange(Model.Folders.Where(r => r.ModuleId != topicModuleId).ToList());
    newGroupModel.Files.AddRange(Model.Files.Where(r => r.ModuleId != topicModuleId).ToList());
    newGroupModel.GroupUrls.AddRange(Model.GroupUrls.Where(r => r.ModuleId != topicModuleId).ToList());
    newGroupModel.GroupQuizzes.AddRange(Model.GroupQuizzes.Where(r => r.ModuleId != topicModuleId).ToList());
    newGroupModel.Forms.AddRange(Model.Forms.Where(r => r.ModuleId != topicModuleId).ToList());
    newGroupModel.AsyncLessons.AddRange(Model.AsyncLessons.Where(r => r.ModuleId != topicModuleId).ToList());
    newGroupModel.Assignments.AddRange(Model.Assignments.Where(r => r.GroupId == Model.SectionId && r.GroupCourseTopicId == 0).ToList());
}
<style>
    @@media (max-width: 767.98px) {
        .activities-header {
            display: flex;
        }
    }
</style>
@Html.Hidden("CurrentModuleId")
@Html.Hidden("CurrentSectionId")
@Html.Hidden("CurrentFolderId", "0")
@Html.Hidden("ResourceFileTypeId")

<div class="activities-wrapper">

    @foreach (var t in Model.GroupCourseTopics.OrderBy(r => r.SortOrder))
    {
        topicListStr = topicListStr + $"{t.TopicName}:{t.GroupCourseTopicId},";
        var sectionId = t.GroupCourseTopicId;

        //For assignment unit selection, Deepak Singh on 6-Dec-2020
        var topicId = t.TopicId != 0 ? t.TopicId : t.GroupCourseTopicId;
        //DateTimeOffset first = new DateTimeOffset(t.StartDate.Year, t.StartDate.Month, 1, 0, 0, 0, t.StartDate.TimeOfDay);
        //int firstSunday = (7 - (int)first.DayOfWeek) % 7 + 1;
        //int weekOfMonth = (t.StartDate.Day + 7- firstSunday) / 7 + 1;

        var dateRange = $"{t.StartDate.ToFormatedDate("MMMM")} {t.StartDate.ToFormatedDate("dd")} - {t.EndDate.ToFormatedDate("dd ")}";
        <div id="unitCard_@t.GroupCourseTopicId" class="card-group unit-Card-Group p-0" data-sectionId="@sectionId" data-moduleId="@topicModuleId" data-parentFd="0">
            <div class="activities-header align-items-center border-0 p-4">
                <a class="content-trigger m-0 pr-4 mr-3 position-relative" data-toggle="collapse" href="#collapse-@t.GroupCourseTopicId" aria-expanded="false" aria-controls="collapse-@t.GroupCourseTopicId">
                    <i class="fas fa-plus text-black-50"></i>
                    <i class="fas fa-minus text-black-50"></i>
                </a>
                <div id="topicTitle_@t.GroupCourseTopicId" class="title flex-1 text-truncate" data-title="@t.TopicName">@t.TopicName </div>
                <div>
                    <span class="week-duration"> @dateRange </span>

                    <div class="btn-group dropleft ml-2">
                        <a id="CurrentSortResourcType_@t.GroupCourseTopicId" href="javascript:void(0)" class="btn btn-sm btn-outline-primary rounded-1x" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-text="@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.SortBy")">
                            @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.SortBy")
                        </a>
                        <div id="SortResourceTypeBy_@t.GroupCourseTopicId" data-id="@t.GroupCourseTopicId" class="dropdown-menu z-depth-1 border-0">
                            <a class="dropdown-item py-2 SortResourceType active" data-type="All" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.All")</a>
                            <a class="dropdown-item py-2 SortResourceType" data-type="Assignment" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Assignment")</a>
                            <a class="dropdown-item py-2 SortResourceType" data-type="Lesson" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Lesson")</a>
                            <a class="dropdown-item py-2 SortResourceType" data-type="Quiz" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Quiz")</a>
                            <a class="dropdown-item py-2 SortResourceType" data-type="Form" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddForm")</a>
                            <a class="dropdown-item py-2 SortResourceType" data-type="Folder" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddFolder")</a>
                            <a class="dropdown-item py-2 SortResourceType" data-type="File" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddFile")</a>
                            <a class="dropdown-item py-2 SortResourceType" data-type="Url" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddUrl")</a>
                        </div>
                    </div>

                    <div  class="btn-group dropleft ml-2">
                        <a id="CurrentSortedBy_@t.GroupCourseTopicId" href="javascript:void(0)" class="btn btn-sm btn-outline-primary rounded-1x" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.DateDesc")
                        </a>
                        <div id="SortedBy_@t.GroupCourseTopicId" data-id="@t.GroupCourseTopicId" class="dropdown-menu z-depth-1 border-0">
                            <a class="dropdown-item py-2 SortedBy" data-type="Name" data-order="Asc" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.NameAsc")</a>
                            <a class="dropdown-item py-2 SortedBy" data-type="Name" data-order="Desc" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.NameDesc")</a>
                            <a class="dropdown-item py-2 SortedBy" data-type="Date" data-order="Asc" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.DateAsc")</a>
                            <a class="dropdown-item py-2 SortedBy active" data-type="Date" data-order="Desc" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.DateDesc")</a>
                        </div>
                    </div>

                    @if (isCustomPermission)
                    {
                        <div id="menuOption_@Model.SectionId" class="btn-group dropleft ml-2">
                            <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div id="topicMenu_@t.GroupCourseTopicId" class="dropdown-menu z-depth-1 border-0">
                                @if (groupPermission > 2)
                                {

                                    <a href="javascript:void(0)" class="dropdown-item py-2 create-new" data-type="editUnit" data-sectionId="@sectionId" data-moduleId="@topicModuleId" data-parentFd="0">
                                        @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.EditUnit")
                                    </a>
                                    <a href="javascript:void(0)" class="dropdown-item py-2 create-new" data-type="removeUnit" data-sectionId="@sectionId" data-moduleId="@topicModuleId" data-parentFd="0">
                                        @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.RemoveUnit")
                                    </a>
                                    <a href="javascrip:void(0)" class="dropdown-item py-2 create-new" data-type="assignment" data-sectionId="@(EncryptDecryptHelper.EncryptUrl(topicId))" data-moduleId="@topicModuleId" data-parentFd="0">
                                        @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Assignment")
                                    </a>
                                    <a href="javascript:void(0)" class="dropdown-item  py-2 create-new" data-type="quiz" data-sectionId="@sectionId" data-moduleId="@topicModuleId" data-parentFd="0">
                                        @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AttachQuiz")
                                    </a>
                                }
                                <a href="javascript:void(0)" class="dropdown-item  py-2 create-new" data-type="folder" data-sectionId="@sectionId" data-moduleId="@topicModuleId" data-parentFd="0">
                                    @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddFolder")
                                </a>
                                <a href="javascript:void(0)" class="dropdown-item  py-2 create-new" data-type="form" data-sectionId="@t.GroupCourseTopicId" data-moduleId="@topicModuleId" data-module="topic" data-parentFd="0">
                                    @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddForm")
                                </a>
                                <a href="javascript:void(0)" class="dropdown-item  py-2 create-new" data-type="file" data-sectionId="@sectionId" data-moduleId="@topicModuleId" data-toggle="modal" data-target="#fileUploadModal" data-parentFd="0">
                                    @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddFile")
                                </a>
                                <a href="javascript:void(0)" class="dropdown-item  py-2 create-new" data-type="Url" data-sectionId="@sectionId" data-moduleId="@topicModuleId" data-parentFd="0">
                                    @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddUrl")
                                </a>
                                <a href="javascript:void(0)" class="dropdown-item border-bottom border-light py-2 create-new" data-type="clipboard" data-sectionId="@sectionId" data-moduleId="@topicModuleId" data-parentFd="0">
                                    @ResourceManager.GetString("Files.File.Clipboard")
                                </a>
                                <a href="javascript:void(0)" class="dropdown-item py-2  one-drive-file create-new" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.OneDrive)" data-type="onedrive" data-sectionId="@sectionId" data-moduleId="@topicModuleId" data-parentFd="0">
                                    @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.OneDrive")
                                </a>
                                @if (SessionHelper.CurrentSession.GoogleDriveIntegrationType != (short)Phoenix.Common.Enums.GoogleDriveIntegrationType.None)
                                {
                                    <a href="javascript:void(0)" class="dropdown-item py-2 google-drive-file create-new" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.GoogleDrive)" data-type="googledrive" data-sectionId="@sectionId" data-moduleId="@topicModuleId" data-parentFd="0">
                                        @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.GoogleDrive")
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="w-100 border-top pt-0 px-4 pb-3 collapse" id="collapse-@t.GroupCourseTopicId">
                <div class="activities-list ">
                    <ul id="topic_@t.GroupCourseTopicId">
                        @{
                            var newModel = new Phoenix.Models.FileExplorer();
                            newModel.SectionId = t.GroupCourseTopicId;

                            var folders = Model.Folders.Where(r => r.SectionId == t.GroupCourseTopicId && r.ModuleId == topicModuleId).ToList();
                            var files = Model.Files.Where(r => r.SectionId == t.GroupCourseTopicId && r.ModuleId == topicModuleId).ToList();
                            var groupUrls = Model.GroupUrls.Where(r => r.GroupId == t.GroupCourseTopicId && r.ModuleId == topicModuleId).ToList();
                            var groupQuizzes = Model.GroupQuizzes.Where(r => r.GroupId == t.GroupCourseTopicId && r.ModuleId == topicModuleId).ToList();
                            var forms = Model.Forms.Where(r => r.GroupId == t.GroupCourseTopicId && r.ModuleId == topicModuleId).ToList();
                            var asyncLesson = Model.AsyncLessons.Where(r => r.SectionId == t.GroupCourseTopicId && r.ModuleId == topicModuleId).ToList();

                            var assignmentList = Model.Assignments.Where(r => r.GroupCourseTopicId == t.GroupCourseTopicId).ToList();

                            newModel.Folders.AddRange(folders);
                            newModel.Files.AddRange(files);
                            newModel.GroupUrls.AddRange(groupUrls);
                            newModel.GroupQuizzes.AddRange(groupQuizzes);
                            newModel.Forms.AddRange(forms);
                            newModel.AsyncLessons.AddRange(asyncLesson);
                            newModel.Assignments.AddRange(assignmentList);

                            Html.RenderPartial("_ActivitiesList", newModel);
                        }
                    </ul>
                </div>
            </div>
        </div>
    }


    <div id="unitCard_@Model.SectionId" class="card-group unit-Card-Group p-0" data-sectionId="@Model.SectionId" data-moduleId="@Model.ModuleId" data-parentFd="0">
        <div class="activities-header  align-items-center border-0 p-4">
            <a class="content-trigger m-0 pr-4 mr-3 position-relative" data-toggle="collapse" href="#collapse-@Model.SectionId" aria-expanded="true" aria-controls="collapse-@Model.SectionId">
                <i class="fas fa-plus text-black-50"></i>
                <i class="fas fa-minus text-black-50"></i>
            </a>
            <div id="topicTitle_@Model.SectionId" class="title flex-1 text-truncate" data-title="Group Resources">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.GroupResources")</div>
            <div>

                <div class="btn-group dropleft ml-2">
                    <a id="CurrentSortResourcType_@Model.SectionId" href="javascript:void(0)" class="btn btn-sm btn-outline-primary rounded-1x" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-text="@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.SortBy")">
                        @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.SortBy")
                    </a>
                    <div  id="SortResourceTypeBy_@Model.SectionId"  data-id="@Model.SectionId" class="dropdown-menu z-depth-1 border-0">
                        <a class="dropdown-item py-2 SortResourceType active" data-type="All" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.All")</a>
                        <a class="dropdown-item py-2 SortResourceType" data-type="Assignment" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Assignment")</a>
                        <a class="dropdown-item py-2 SortResourceType" data-type="Lesson" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Lesson")</a>
                        <a class="dropdown-item py-2 SortResourceType" data-type="Quiz" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Quiz")</a>
                        <a class="dropdown-item py-2 SortResourceType" data-type="Form" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddForm")</a>
                        <a class="dropdown-item py-2 SortResourceType" data-type="Folder" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddFolder")</a>
                        <a class="dropdown-item py-2 SortResourceType" data-type="File" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddFile")</a>
                        <a class="dropdown-item py-2 SortResourceType" data-type="Url" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddUrl")</a>
                    </div>
                </div>

                <div  class="btn-group dropleft ml-2">
                    <a id="CurrentSortedBy_@Model.SectionId" href="javascript:void(0)" class="btn btn-sm btn-outline-primary rounded-1x" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.DateDesc")
                    </a>
                    <div id="SortedBy_@Model.SectionId" data-id="@Model.SectionId" class="dropdown-menu z-depth-1 border-0">
                        <a class="dropdown-item py-2 SortedBy" data-type="Name" data-order="Asc" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.NameAsc")</a>
                        <a class="dropdown-item py-2 SortedBy" data-type="Name" data-order="Desc" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.NameDesc")</a>
                        <a class="dropdown-item py-2 SortedBy" data-type="Date" data-order="Asc" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.DateAsc")</a>
                        <a class="dropdown-item py-2 SortedBy active" data-type="Date" data-order="Desc" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.DateDesc")</a>
                    </div>
                </div>

                @if (isCustomPermission)
                {
                    <div id="menuOption_@Model.SectionId" class="btn-group dropleft ml-2">
                        <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div id="topicMenu_@Model.SectionId" class="dropdown-menu z-depth-1 border-0">
                            @if (groupPermission > 2)
                            {
                                <a href="javascript:void(0)" class="dropdown-item py-2 create-new" data-type="assignment" data-sectionId="@groupEncryptedId" data-moduleId="@Model.ModuleId" data-parentFd="0">
                                    @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Assignment")
                                </a>
                                <a href="javascript:void(0)" class="dropdown-item  py-2 create-new" data-type="quiz" data-sectionId="@groupEncryptedId" data-moduleId="@Model.ModuleId" data-parentFd="0">
                                    @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AttachQuiz")
                                </a>
                            }
                            <a href="javascript:void(0)" class="dropdown-item  py-2 create-new" data-type="folder" data-sectionId="@groupEncryptedId" data-moduleId="@Model.ModuleId" data-parentFd="0">
                                @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddFolder")
                            </a>
                            <a href="javascript:void(0)" class="dropdown-item  py-2 create-new" data-type="form" data-sectionId="@Model.SectionId" data-moduleId="@Model.ModuleId" data-module="Group" data-parentFd="0">
                                @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddForm")
                            </a>
                            <a href="javascript:void(0)" class="dropdown-item  py-2 create-new" data-type="file" data-sectionId="@groupEncryptedId" data-moduleId="@Model.ModuleId" data-toggle="modal" data-target="#fileUploadModal" data-parentFd="0">
                                @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddFile")
                            </a>
                            <a href="javascript:void(0)" class="dropdown-item  py-2 create-new" data-type="Url" data-sectionId="@groupEncryptedId" data-moduleId="@Model.ModuleId" data-parentFd="0">
                                @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AddUrl")
                            </a>
                            <a href="javascript:void(0)" class="dropdown-item border-bottom border-light py-2 create-new" data-type="clipboard" data-sectionId="@Model.SectionId" data-moduleId="@Model.ModuleId" data-parentFd="0">
                                @ResourceManager.GetString("Files.File.Clipboard")
                            </a>
                            <a href="javascript:void(0)" class="dropdown-item py-2 one-drive-file create-new" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.OneDrive)" data-type="onedrive" data-sectionId="@Model.SectionId" data-moduleId="@Model.ModuleId" data-parentFd="0">
                                @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.OneDrive")
                            </a>
                            @if (SessionHelper.CurrentSession.GoogleDriveIntegrationType != (short)Phoenix.Common.Enums.GoogleDriveIntegrationType.None)
                            {
                                <a href="javascript:void(0)" class="dropdown-item py-2 google-drive-file create-new" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.GoogleDrive)" data-type="googledrive" data-sectionId="@Model.SectionId" data-moduleId="@Model.ModuleId" data-parentFd="0">
                                    @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.GoogleDrive")
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="w-100 border-top pt-0 px-4  pb-3 collapse show" id="collapse-@Model.SectionId">
            <div class="activities-list">
                <ul id="topic_@Model.SectionId">
                    @if (newGroupModel.Files.Count() > 0 || newGroupModel.Folders.Count() > 0 || newGroupModel.GroupQuizzes.Count() > 0 || newGroupModel.Forms.Count() > 0 || newGroupModel.GroupUrls.Count() > 0 || newGroupModel.AsyncLessons.Count() > 0 || newGroupModel.Assignments.Count() > 0)
                    {
                        Html.RenderPartial("_ActivitiesList", newGroupModel);
                    }
                    else
                    {
                        <li class="d-flex">

                            <span class="no-data-found text-bold d-block mx-auto my-auto">
                                @ResourceManager.GetString("Shared.Messages.NoDataFound")
                            </span>

                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="startQuiz" tabindex="-1" role="dialog" aria-labelledby="sessionTimeoutLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@ResourceManager.GetString("Files.Quiz.StartQuiz")</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Hidden("StartQuizId")
                @Html.Hidden("StartQuizresourceid")
                @Html.Hidden("StartStudid")
                @Html.Hidden("TeacherGivenTime")
                @Html.Hidden("QuizTimeInSec")
                @Html.Hidden("IsSetStartDateByTeacher")

                <div class="SetTeacherTime">
                    <h4 class="sub-heading text-medium">@ResourceManager.GetString("Quiz.Quiz.QuizStartedOn")</h4><h6 id="selectedQuizStartDate"></h6>
                    <h4 class="sub-heading text-medium">@ResourceManager.GetString("Quiz.Quiz.StartTime")</h4>
                    <h6 id="selectedQuizStartTime"></h6>
                </div>
                <h4 class="sub-heading text-medium">@ResourceManager.GetString("Files.Quiz.QuizName")</h4>
                <h6 id="selectedQuizName"></h6>
                <h4 class="sub-heading text-medium">@ResourceManager.GetString("Files.Quiz.QuizTime")</h4>
                <h6 id="selectedQuizTitle"></h6>

            </div>
            <div class="modal-footer selectedQuizFooter">
                @if (@SessionHelper.CurrentSession.IsStudent())
                {
                    <button id="btnSolveGroupQuiz" type="button" class="btn btn-primary btn-success timerstart" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Start")</button>
                }
                else
                {
                    <button id="btnSolveGroupQuiz" type="button" class="btn btn-primary btn-success timerstart" data-dismiss="modal">@ResourceManager.GetString("Quiz.Quiz.View")</button>
                }
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var tList = '@topicListStr';
        //console.log(tList);
        $("#topicList").html("");
        if (tList != '') {
            tList.split(',').forEach(function (val, i) {
                if (val != '') {
                    var tValArr = val.split(':');
                    var li = "<li class='unitCard cursor-pointer' data-id='unitCard_" + tValArr[1] + "'>" + tValArr[0] + "</li>";
                    $("#topicList").append(li);
                }
            });

            var topicList = $("#topicList");
            if ($(topicList).height() > 250) {
                $(topicList).parent('.contact-list').addClass('overflow-auto');
            }
            else {
                $(topicList).parent('.contact-list').removeClass('overflow-auto');
            }
        }
        else {
            $("#topicList").html(`<span class="no-data-found text-bold d-block mx-auto my-5">@ResourceManager.GetString("Shared.Messages.NoDataFound")</span>`);
        }


    });
</script>