﻿@model Phoenix.VLE.Web.EditModels.SchoolGroupEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{
    var groupImage = !string.IsNullOrEmpty(Model.GroupImage) ? PhoenixConfiguration.Instance.ReadFilePath + Model.GroupImage : "";

    var hideAutoSync = !Model.IsBespokeGroup && Model.SchoolGroupId > 0 ? "d-none" : "";
    
}

<div class="modal-body">
    <div class="popup-form mt-2">
        @Html.AntiForgeryToken()
        @Html.Hidden("SchoolGroupIdValue", Model.SchoolGroupId)
        @Html.HiddenFor(x => x.SchoolId)
        @Html.Hidden("IsAddModeGroup", Model.IsAddMode)
        @Html.Hidden("IsBespokeGroupValue", Model.IsBespokeGroup)
        @Html.HiddenFor(x => x.IsActive)
        @Html.HiddenFor(x => x.SchoolGroupNameXml)
        @Html.HiddenFor(x => x.GroupImage)
        <div class="row ">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="md-form md-outline">
                    @Html.TextBoxFor(x => x.SchoolGroupName, new { @class = "form-control" })
                    <label for="SchoolGroupName" class="active">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupName")<span class="text-danger">*</span></label>
                    @Html.ValidationMessageFor(x => x.SchoolGroupName)
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="md-form md-outline">
                    @Html.DropDownListFor(m => m.SubjectId, new SelectList(ViewBag.CourseList, "Value", "Text"), ResourceManager.GetString("Shared.Labels.Select"), new { @class = string.Format("{0} {1}", "selectpicker",(Model.IsBespokeGroup?"":"disabled")) , @data_live_Search = "true" })
                    @* Subject is replaced by Course, 16 July 2020 by Deepak Singh *@
                    <label for="SubjectId" class="active">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SelectSubject")</label>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-lg-6 col-md-6 col-6 col-sm-12 d-flex justify-content-center">
                <ul class="blog-action d-flex align-items-center flex-wrap">
                    <li class="mr-3">
                        <button class="action-circle" data-toggle="collapse" data-target="#browseFiles">
                            <img src="/Content/VlE/img/svg/browse.svg" />
                        </button>
                        <small class="mt-2 dark-purple">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.BrowseText")</small>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-6 col-sm-12  d-flex justify-content-start @(string.IsNullOrEmpty(Model.GroupImage) ? "d-none": "")">
                <div class="border border-light quiz-ans-img rounded-2x w-100 ">
                    <img src="@groupImage" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="content-uploader collapse rounded-2x column-padding py-3 clearfix mb-3" id="browseFiles">
                    <h3 class="text-semibold">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.BrowseText")</h3>
                    @*<div class="uploaderWidget text-center">
                            <input type="file" id="PostedImage" name="PostedImage" class="fileUploader" value="Add Images">
                        </div>
                    <div id="image-cropper" class="group-image-cropper" style="overflow-x:hidden;">
                        <!-- This is where the preview image is displayed -->
                        <div class="cropit-preview" style="position:relative; width:730px; height:243px;"></div>
                        <div class="crop-actions d-flex align-items-center justify-content-between mt-3">
                            <div class="custom-file-upload">
                                <label for="file-upload" class="custom-file-upload1 rounded small text-center bg-white">
                                    <i class="fa fa-cloud-upload"></i> BROWSE
                                </label>
                                <input id="file-upload" class="cropit-image-input" type="file" />
                            </div>
                            <input type="range" class="cropit-image-zoom-input" />
                        </div>
                    </div>*@

                    <div class="img-container group-image-cropper w-100 overflow-hidden">
                        <img id="imgCropper" class="cropper invisible img-fluid d-block" src="" />
                        <div class="custom-file-upload mt-3">
                            <label for="file-upload" class="custom-file-upload1 rounded small text-center bg-white">
                                <i class="fa fa-cloud-upload"></i>@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.UPLOADIMAGE")
                            </label>
                            <input id="file-upload" class="cropper-image-input" type="file" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="md-form md-outline mt-3">
                    <textarea class="md-textarea form-control" cols="20" data-val="true"
                              data-val-required="Mandatory field" id="Description" name="Description"
                              placeholder="Description" rows="2">
                                @Html.Raw(Model.Description)
                        </textarea>
                    <label for="Description" class=" ">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Description")</label>

                    @Html.ValidationMessageFor(x => x.Description)
                </div>
            </div>
        </div>
        <div class="row @hideAutoSync">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="custom-control custom-checkbox custom-control-inline">
                    @Html.CheckBox("AutoSyncGroupMemberChk", Model.AutoSyncGroupMember, new { @class = "custom-control-input" })
                    <label for="AutoSyncGroupMemberChk" class="custom-control-label">@ResourceManager.GetString("SchoolGroup.SchoolGroup.AutoSyncGroupMember")</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer  border-0 pt-0">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
        <button id="btnSubmit" type="submit" class="btn btn-primary waves-effect waves-light m-0 ml-2">@ResourceManager.GetString("Shared.Buttons.Save")</button>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}


@*@Html.Partial("_ValidationJSPartial")*@
@*<script src="@Url.Content("~/Content/js/addons/jquery.cropit.js")"></script>*@
<link href="@Url.Content("~/Content/VLE/css/addons/cropper.css")" rel="stylesheet">
<script src="@Url.Content("~/Content/VLE/js/addons/cropper.js")"></script>

<script type="text/javascript">
    $(function () {
      

        $("body").on("click", ".blog-action button[data-toggle='collapse']", function () {
            $(".collapse").collapse("hide");
            //InitPostedImage();
            //$('#image-cropper').cropit({
            //    //type: 'image/jpeg',
            //    quality: .9,
            //    //originalSize: false,
            //    //previewSize: { width: 740, height: 255 },
            //    maxZoom: 2,
            //    minZoom: 'fit',
            //    smallImage: 'reject',
            //    onFileChange: function (e) {
            //        console.log(e);
            //        var fileName = $('.cropit-image-input').val();
            //        var fileType = fileName.substring(fileName.lastIndexOf('.') + 1);
            //        var validImageTypes  = JSON.parse(translatedResources.imageExtension);
            //        if (!validImageTypes.includes(fileType.toLowerCase())) {
            //            globalFunctions.showWarningMessage("Please provide valid image");
            //            $('.cropit-image-input').val('');
            //            return;
            //        }
            //    },
            //    onImageError: function (error) {
            //        console.log(error);
            //        if (error.code == 1) {
            //            globalFunctions.showWarningMessage("Image size is very small");
            //        }
            //        else {
            //            globalFunctions.showErrorMessage(translatedResources.technicalError);
            //        }
            //    }
            //});
            
           
        });
        $("body").on("click", ".fileinput-upload", function () {
            $(".collapse").collapse("hide")
        });

        // $("body").on("click", ".select-image-btn", function () {
        //     $('.cropit-image-input').click();
        //});

        ////Image Cropper variable and setup options
        var image = document.getElementById('imgCropper');
        var inputImage = document.getElementById('file-upload');
        var URL = window.URL || window.webkitURL;
        var uploadedImageURL;
        var uploadedImageType = 'image/jpeg';
        var uploadedImageName = 'cropped.jpg';
        var result;

        var options = {
            aspectRatio: 128 / 25,
            preview: '.img-preview',
            viewMode: 0,
            cropBoxResizable: false,
            dragMode: 'move',
            //scalable: false,
            ready: function (e) {
                //console.log(e.type);
            },
            cropstart: function (e) {
                //console.log(e.type, e.detail.action);
            },
            cropmove: function (e) {
                //console.log(e.type, e.detail.action);
            },
            cropend: function (e) {
                //console.log(e.type, e.detail.action);
                result = cropper['getCroppedCanvas']({ "width": 1920, "height": 375 }, '');
                //console.log(cropper.getCropBoxData());
                //console.log(uploadedImageName);

            },
            crop: function (e) {
                var data = e.detail;
                //console.log(Math.round(data.height));
               // console.log(Math.round(data.width));
                
            },
            zoom: function (e) {
                console.log(e.type, e.detail.ratio);
            }
        };
        var cropper = new Cropper(image, options);

        inputImage.onchange = function () {
            var files = this.files;
            var file;

            if (cropper && files && files.length) {
                file = files[0];

                if (/^image\/\w+/.test(file.type)) {
                    uploadedImageType = file.type;
                    uploadedImageName = file.name;

                    if (uploadedImageURL) {
                        URL.revokeObjectURL(uploadedImageURL);
                    }

                    image.src = uploadedImageURL = URL.createObjectURL(file);
                    cropper.destroy();
                    cropper = new Cropper(image, options);
                    inputImage.value = null;
                } else {
                    //window.alert('');
                    globalFunctions.showWarningMessage("Please choose an image file.");
                }
            }
        };


        CKEDITOR.replace('Description', {
            htmlencodeoutput: false,
            tabSpaces: 0,
            allowedContent: {
                $1: {
                    elements: CKEDITOR.dtd,
                    attributes: true,
                    styles: true,
                    classes: true
                }
            },
            disallowedContent: 'script; *[on*];',
             contentsLangDirection : $("html").attr("dir")
        });

        $('#btnSubmit').click(function () {

            var schoolId = $("#SchoolId").val();
            var isAddMode = $("#IsAddModeGroup").val();
            var isActive = $("#IsActive").val();
            var schoolGroupId = $('#SchoolGroupIdValue').val();
            var schoolGroupNameXml = $("#SchoolGroupNameXml").val();
            var schoolGroupName = $("#SchoolGroupName").val();
            var groupImage = $("#GroupImage").val();
            var isBespokeGroup = $("#IsBespokeGroupValue").val();

            var subjectId = $('#SubjectId option:selected').val();
            var description = CKEDITOR.instances.Description.getData();

            var autoSyncGroupMember = $("#AutoSyncGroupMemberChk").prop('checked');

             var token = $('input[name=__RequestVerificationToken]').val();
                //debugge                //console.log($(summary).html());

             if (schoolGroupName == '') {
                    globalFunctions.showWarningMessage('@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.TitleMessage")');
                    return;
              }

            //console.log($('#image-cropper').cropit('export'));
             //var imageFile = $("#PostedImage").get(0).files;
            //var imgBase64 = $('#image-cropper').cropit('export');
            var imgBase64 = result != undefined || result == ''? result.toDataURL():'';
            //var fileName = $('.cropit-image-input').val();
            var fname = '';
            if (imgBase64 != '') {
                fname = uploadedImageName; //fileName.substring(fileName.lastIndexOf('\\') + 1);
            }
            var imageFile = globalFunctions.convertBase64ToImageFile(imgBase64, fname);
            //console.log(imageFile);
            



            var formData = new FormData();
            formData.append("__RequestVerificationToken", token);
            formData.append("SchoolGroupId", schoolGroupId);
            formData.append("SchoolId", schoolId);
            formData.append("IsAddMode", isAddMode);
            formData.append("IsActive", isActive)
            formData.append("SchoolGroupNameXml", schoolGroupNameXml);
            formData.append("SchoolGroupName", schoolGroupName);
            formData.append("SubjectId", subjectId);
            formData.append("PostedImage", imageFile);
            formData.append("Description", $("<div />").text(description).html());
            formData.append("AutoSyncGroupMember", autoSyncGroupMember)
            formData.append("GroupImage", groupImage);
            formData.append("IsBespokeGroup", isBespokeGroup);


            $.ajax({
                url: '/SchoolStructure/SchoolGroups/SaveGroupDetails',
                type: 'POST',
                //headers: headers,
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                        groupDetail.onGroupDetailSaveSuccess(data);
                },
                error: function (data, xhr, status) {
                    globalFunctions.onFailure();
                },
            });
        });
    });

</script>
