﻿@model IEnumerable<Phoenix.Models.AsyncLessonResourcesActivities>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@using Phoenix.Common.Enums
@{
    var isCustomPermission = ViewBag.IsCustomPermission ?? false;
    var groupPermission = ViewBag.GroupPermission != null ? ViewBag.GroupPermission : 3;

    var totalFilesCnt = Model.Where(r => r.ModuleId == 1).Count();
    var totalRACnt = Model.Where(r => r.ModuleId != 1).Count();
}

@if (Model.Count() > 0)
{
    foreach (var rs in Model)
    {
        bool isCloudFile = CommonHelper.IsCloudFile((short)rs.ResourceFileTypeId);
        var img = rs.ModuleId == 1 ? "~/Content/VLE/img/svg/" + rs.Icon + ".svg" : "~/Content/VLE/img/svg/menu/" + rs.Icon + ".svg";
        <div class="col resource-item mb-4 px-3 rs-item checkQuiz" id="@rs.ResourceActivityId" sortorder="@rs.StepNo" data-quizid="@rs.QuizId" data-rstype="@rs.ModuleId">
            <div class="resource-card text-center py-3 rounded-2x">
                <figure class="m-0">
                    <span class="d-flex justify-content-center align-items-center rounded overflow-hidden">

                        <img src="@Url.Content(img)" class="svg" alt="">
                        @if (isCloudFile)
                        {
                            <img src="@(rs.ResourceFileTypeId == (short)ResourceFileTypes.GoogleDrive? Url.Content($"~/Content/vle/img/svg/google-drive.svg"): rs.ResourceFileTypeId == (short)ResourceFileTypes.OneNote ? Url.Content($"~/Content/VLE/img/svg/ic-onenote.svg") : Url.Content($"~/Content/vle/img/svg/one-drive.svg"))" class="svg" alt="">
                        }
                    </span>
                    <figcaption class="mt-3 text-semibold text-truncate">
                        @rs.Name
                    </figcaption>
                </figure>
            </div>
            <div class="card-actions d-flex align-items-center justify-content-center mt-3 mb-2" id="divAsyncResources">
                @if (isCustomPermission && groupPermission > 2)
                {
                    <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" onclick="asyncLesson.deleteResourceActivityData($(this),@rs.ResourceActivityId)"><i class="fas fa-times-circle"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" title="@(rs.Status == 1 || rs.Status == 3?"Viewable":"Not viewable")" class="mx-4" data-id="@rs.ResourceActivityId" data-status="@rs.Status" data-type="viewable" onclick="asyncLesson.updateResourcesActivityStatus(@rs.ResourceActivityId,@rs.Status,'viewable')">
                        @if (rs.Status == 1 || rs.Status == 3)
                        {
                            <img src="@Url.Content("~/Content/VLE/img/svg/tbl-view.svg")" class="svg">
                        }
                        else
                        {
                            @*<img src="@Url.Content("~/Content/VLE/img/svg/tbl-edit.svg")" class="svg">*@
                            <i class="fas fa-eye-slash" aria-hidden="true"></i>

                        }
                    </a>
                    <a href="javascript:void(0)" data-toggle="tooltip" title="@(rs.Status == 0 || rs.Status == 3?"Locked":"Not locked")" onclick="asyncLesson.updateResourcesActivityStatus(@rs.ResourceActivityId,@rs.Status,'locked')">
                        @if (rs.Status == 0 || rs.Status == 3)
                        {
                            <img src="@Url.Content("~/Content/VLE/img/svg/tbl-lock.svg")" class="svg" />
                        }
                        else
                        {
                            <img src="@Url.Content("~/Content/VLE/img/svg/tbl-unlock.svg")" class="svg" />
                        }
                    </a>
                }
            </div>
        </div>
    }
}
else
{
    <span class="no-data-found text-bold d-block mx-auto my-5">
        @ResourceManager.GetString("Shared.Messages.NoDataFound")
    </span>
}

<script type="text/javascript">
 $(function () {
     $("#totalFiles").html('').html('@string.Format( ResourceManager.GetString("Shared.Messages.NoDataFound"), totalFilesCnt)');
    $("#totalFilesCnt").html('').html(@totalFilesCnt);
    $("#totalRACnt").html('').html(@totalRACnt);
});
</script>