﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
<style>
    @@media (max-width: 575px) {
        .dropdown.menu_grpDropdown .show {
            left: 0;
        }

        .dropdown.menu_grpDropdown .dropdown-menu.show {
            min-width: 100% !important;
        }
    }
</style>
@{
    var permission = Session["GroupPermission"] != null ? Phoenix.VLE.Web.Helpers.CommonHelper.GetDecryptedId(Session["GroupPermission"].ToString()) : 1;
    var isCustomPermission = (permission >= 2);
    var groupPermission = permission;


    var misGroupList = ViewBag.MisGroupList != null ? (List<SelectListItem>)ViewBag.MisGroupList : new List<SelectListItem>();
    var otherGroupList = ViewBag.OtherGroupList != null ? (List<SelectListItem>)ViewBag.OtherGroupList : new List<SelectListItem>();
    var sectionId = ViewBag.GroupId;
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
<ul class="list-pattern">
    @if (isCustomPermission && (SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher()))
    {
        <li>


            <a href="javascript:void(0)" class="mr-3 text-semibold text-primary font-small" data-toggle="dropdown" aria-haspopup="true" data-offset="0,15">
                <img src="@Url.Content("~/Content/VLE//img/svg/settings-gear.svg")" alt="settings-icon"> @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Setting")
            </a>
            <div class="dropdown-menu column-padding py-3 border-0 z-depth-1">
                <h3 class="font-small text-semibold"> @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.CreateGroup")</h3>
                <a id="btnCreateGroup" href="javascript:void(0)" class="btn btn-outline-primary m-0">@ResourceManager.GetString("Shared.Labels.Create")</a>
                <div class="dropdown-divider mt-3 archDivider"></div>
                @if (groupPermission > 2)
                {
                    <h3 class="font-small text-semibold btnArchiveOption">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Archieve")</h3>
                    <a id="btnArchive" href="javascrip:void(0)" class="btn btn-outline-primary m-0" data-id="@sectionId">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.ArchieveGroup")</a>
                }
            </div>
        </li>
    }
    <li>

        <div class="dropdown menu_grpDropdown">
            <button onclick="viewClassList()" class="dropbtn">
                @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.AllGroups")
                <i class="arrow"></i>
            </button>
            <div id="classListDropdown" class="dropdown-content">
                <div class="group-tab">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#mis_group" class="active">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolPageSectionTitle")</a></li>
                        <li><a data-toggle="tab" href="#other_group">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolPageOtherSectionTitle")</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="mis_group" class="tab-pane fade in active ">

                        @Html.DropDownList("MisGroupList", misGroupList, new { @class = "selectpicker groupSelect ", @data_live_search = "true", @title = selectText, @onchange = "redirectToGroup($(this))" })
                    </div>
                    <div id="other_group" class="tab-pane fade">

                        @Html.DropDownList("OtherGroupList", otherGroupList, new { @class = "selectpicker groupSelect", @data_live_search = "true", @title = selectText, @onchange = "redirectToGroup($(this))" })
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>