﻿@model IEnumerable<Phoenix.Models.GroupMemberMapping>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@{
    var isCustomPermission = ViewBag.IsCustomPermission ?? false;
    var groupPermission = ViewBag.GroupPermission != null ? ViewBag.GroupPermission : 3;

    var staffList = Model.Where(r => r.UserTypeId >= 3).OrderByDescending(r => r.IsGroupOwner);
    var studentList = Model.Where(r => r.UserTypeId == 1).OrderBy(r => r.MemberName);
    var memberCnt = studentList.Count(); //To show only student member count on banner 

    var studentContactList = @Html.Partial("_ContactList", studentList);
}
<style>
    .activities-list.activities-action-list {
        max-height: unset;
        overflow: unset;
    }
</style>
<div class="group-member-wrapper">
    <div class="card-group">
        <div class="activities-header">
            <div class="title">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Teacher")</div>
            @if (isCustomPermission && (groupPermission > 2))
            {
            <button type="button" class="btn btn-primary btn-sm isBespoke-add d-none" onclick="groupDetail.loadAddMemberPopup($(this),3)">@ResourceManager.GetString("Shared.Labels.Add") @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Teacher")</button>
            }
        </div>
        @if (isCustomPermission && (groupPermission > 2))
        {
            <ul id="teacherOptions" class="activities-list activities-action-list">
                <li>
                    <div class="activities-left-content d-flex align-items-center">

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="selectAllAssignedTeacher">
                            <label class="custom-control-label pl-2 text-medium" for="selectAllAssignedTeacher"></label>
                        </div>

                        <div class="btn-group">
                            <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Actions")
                            </button>
                            <div id="memberOption" class="dropdown-menu border-0 z-depth-1 py-0">
                                <a href="javascript:void(0)" onclick="updateAssignedTeacherMembersPermission('Manager',$(this))" class="d-flex align-items-center border-bottom border-light p-3 isBespoke-add ">
                                    <img src="@Url.Content("~/Content/VLE/img/svg/manager.svg")" class="svg mr-3" alt=""> @ResourceManager.GetString("SchoolGroup.SchoolGroup.Manager")
                                </a>
                                <a href="javascript:void(0)" onclick="updateAssignedTeacherMembersPermission('Contribute',$(this))" class="d-flex align-items-center border-bottom border-light p-3 isBespoke-add ">
                                    <img src="@Url.Content("~/Content/VLE/img/svg/contribute.svg")" class="svg mr-3" alt=""> @ResourceManager.GetString("SchoolGroup.SchoolGroup.Contribute")
                                </a>
                                <a href="javascript:void(0)" onclick="updateAssignedTeacherMembersPermission('ViewOnly',$(this))" class="d-flex align-items-center border-bottom border-light p-3 isBespoke-add ">
                                    <img src="@Url.Content("~/Content/VLE/img/svg/view.svg")" class="svg mr-3" alt=""> @ResourceManager.GetString("SchoolGroup.SchoolGroup.ViewOnly")
                                </a>
                                <a href="javascript:void(0)" onclick="updateAssignedTeacherMembersPermission('Delete',$(this))" class="d-flex align-items-center border-bottom border-light p-3 isBespoke-add d-none">
                                    <img src="@Url.Content("~/Content/VLE/img/svg/delete.svg")" class="svg mr-3" alt=""> @ResourceManager.GetString("SchoolGroup.SchoolGroup.Remove")
                                </a>
                            </div>
                        </div>

                        </div>
                        <div class="activities-right-content">
                            @*<a href="javascript:void(0)" class="tie-icon">
                            <i class="fas fa-sort-alpha-down text-black-50"></i>
                        </a>*@
                        </div>
                    </li>
                </ul>
            }
            <div class="activities-list pr-3" >
                <ul id="assignedTeacherMembers" class="searchList">
                    @foreach (var t in staffList)
                    {
                        if (t.IsGroupOwner)
                        {
                            <li data-search-text="@t.MemberName" class="d-flex">
                                <div class="activities-left-content">
                                    <a href="javascript:void(0)" class="d-flex align-items-center w-100">
                                        <div class="defaultAvatar position-relative">
                                            <img src="@t.UserProfileImage" class="img-fluid rounded-circle w-100 ounded-6x overflow-hidden  h-100" alt="">
                                            <span class="status bg-success rounded-circle d-block position-absolute bottom-0 right-0"></span>
                                        </div>
                                        <div class="student-info">
                                            <h3 class="name m-0 ml-2 text-semibold">@t.MemberName</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="activities-right-content">
                                    <div class="student-info d-inline-block">
                                        <h3 class="name m-0 ml-2 text-semibold"> @ResourceManager.GetString("SchoolGroup.SchoolGroup.GroupOwner")</h3>
                                    </div>
                                    @if (SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher())
                                    {
                                        <div class="btn-group dropleft ml-2 d-inline-block">
                                            <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>
                                            <div class="dropdown-menu z-depth-1 border-0">
                                                @if (t.IsPrimaryTeacher)
                                                {
                                                    <a class="dropdown-item py-2" onclick="groupDetail.removeGroupPrimaryTeacher($(this),@t.GroupPrimaryTeacherMappingId)" href="javascript:void(0)"><i class="fas fa-trash text-primary mr-2"></i> @ResourceManager.GetString("SchoolGroup.SchoolGroup.RemovePrimaryTeacher")</a>
                                                }
                                                else
                                                {
                                                    <a class="dropdown-item py-2" onclick="groupDetail.addGroupPrimaryTeacher(@t.GroupId,@t.MemberId)" href="javascript:void(0)"><i class="fas fa-user text-primary mr-2"></i> @ResourceManager.GetString("SchoolGroup.SchoolGroup.AddPrimaryTeacher")</a>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                        </li>
                    }
                    else
                    {
                        <li data-search-text="@t.MemberName" class="d-flex">

                            @if (isCustomPermission && (groupPermission > 2))
                            {
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="teacher-@t.MemberId" value="@t.MemberId" data-groupId="@t.GroupId">
                                    <label class="custom-control-label pl-2 text-medium d-flex align-items-center" for="teacher-@t.MemberId">
                                        <div class="defaultAvatar position-relative">
                                            <img src="@t.UserProfileImage" class="img-fluid rounded-circle w-100 rounded-6x overflow-hidden  h-100" alt="">
                                            <span class="status bg-success rounded-circle d-block position-absolute bottom-0 right-0"></span>
                                        </div>
                                        <div class="student-info">
                                            <h3 class="name m-0 ml-2 text-semibold">
                                                @t.MemberName
                                            </h3>
                                        </div>
                                    </label>
                                </div>
                            }
                            else
                            {
                                <div class="activities-left-content">
                                    <a href="javascript:void(0)" class="d-flex align-items-center w-100">
                                        <div class="defaultAvatar position-relative">
                                            <img src="@t.UserProfileImage" class="img-fluid rounded-circle w-100 rounded-6x overflow-hidden  h-100" alt="">
                                            <span class="status bg-success rounded-circle d-block position-absolute bottom-0 right-0"></span>
                                        </div>
                                        <div class="student-info">
                                            <h3 class="name m-0 ml-2 text-semibold">@t.MemberName</h3>
                                        </div>
                                    </a>
                                    @if (t.UserTypeId > 3)
                                    {
                                        <i class="fas fa-user-tie font-16 ml-3" data-toggle="tooltip" data-placement="top" title="Admin"></i>
                                    }
                                </div>
                            }
                            <div class="activities-right-content">
                                @if (t.IsViewOnly)
                                {

                                    <img src="@Url.Content("~/Content/VLE/img/svg/view.svg")" class="svg" alt="">
                                }
                                else if (t.IsContribute)
                                {

                                    <img src="@Url.Content("~/Content/VLE/img/svg/contribute.svg")" class="svg" alt="">
                                }
                                else
                                {

                                    <img src="@Url.Content("~/Content/VLE/img/svg/manager.svg")" class="svg" alt="">
                                }

                                @if (SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher())
                                {
                                    <div class="btn-group dropleft ml-2 ">
                                        <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu z-depth-1 border-0">
                                            @if (t.IsPrimaryTeacher)
                                            {
                                                <a class="dropdown-item py-2" onclick="groupDetail.removeGroupPrimaryTeacher($(this),@t.GroupPrimaryTeacherMappingId)" href="javascript:void(0)"><i class="fas fa-trash text-primary mr-2"></i> @ResourceManager.GetString("SchoolGroup.SchoolGroup.RemovePrimaryTeacher")</a>
                                            }
                                            else
                                            {
                                                <a class="dropdown-item py-2" onclick="groupDetail.addGroupPrimaryTeacher(@t.GroupId,@t.MemberId)" href="javascript:void(0)"><i class="fas fa-user text-primary mr-2"></i> @ResourceManager.GetString("SchoolGroup.SchoolGroup.AddPrimaryTeacher")</a>
                                            }

                                            @if (isCustomPermission && (groupPermission > 2))
                                            {
                                                <a class="dropdown-item py-2 isBespoke-add d-none" onclick="updateMemberPermission('ViewOnly',@t.MemberId,@t.GroupId,$(this))" href="javascript:void(0)"><i class="fas fa-eye text-primary mr-2 "></i> @ResourceManager.GetString("SchoolGroup.SchoolGroup.ViewOnly")</a>
                                                <a class="dropdown-item py-2 isBespoke-add d-none" onclick="updateMemberPermission('Contribute',@t.MemberId,@t.GroupId,$(this))" href="javascript:void(0)"><i class="fas fa-exchange-alt text-primary mr-2 "></i>@ResourceManager.GetString("SchoolGroup.SchoolGroup.Contribute")</a>
                                                <a class="dropdown-item py-2 isBespoke-add d-none" onclick="updateMemberPermission('Manager',@t.MemberId,@t.GroupId,$(this))" href="javascript:void(0)"><i class="fas fa-user-tie text-primary mr-2 "></i>@ResourceManager.GetString("SchoolGroup.SchoolGroup.Manager")</a>
                                                if (t.UserTypeId <= 3)
                                                {
                                                    <a class="dropdown-item py-2 isBespoke-add d-none" onclick="updateMemberPermission('Delete',@t.MemberId,@t.GroupId,$(this))" href="javascript:void(0)"><i class="fas fa-trash-alt text-primary mr-2 "></i>@ResourceManager.GetString("SchoolGroup.SchoolGroup.Remove")</a>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </li>
                    }
                }


            </ul>
        </div>
    </div>
    <div class="card-group">
        <div class="activities-header">
            <div class="title">
                @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Student")
                @*<span class="class-code d-inline text-medium ml-3"> @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.InviteClassCodeText") <span class="text-bold mr-2">ttet7eb</span> <i class="fas fa-expand-arrows-alt text-black-50"></i></span>*@
            </div>
            @if (isCustomPermission && (groupPermission > 2))
            {
            <button type="button" class="btn btn-primary btn-sm isBespoke-add d-none" onclick="groupDetail.loadAddMemberPopup($(this),1)">@ResourceManager.GetString("Shared.Labels.Add") @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Student")</button>
            }
        </div>
        @if (isCustomPermission && (groupPermission > 2))
        {
            <ul class=" activities-list activities-action-list">
                <li>
                    <div class="activities-left-content d-flex align-items-center">

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="selectAllAssigned">
                            <label class="custom-control-label pl-2 text-medium" for="selectAllAssigned"></label>
                        </div>

                        <div class="btn-group">
                            <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.Actions")
                            </button>
                            <div id="memberOption" class="dropdown-menu border-0 z-depth-1 py-0">
                                <a href="javascript:void(0)" onclick="groupDetail.sendEmailNotify($(this),undefined,'','STUDENT')" class="d-flex align-items-center border-bottom border-light p-3">
                                    <img src="@Url.Content("~/Content/VLE/img/svg/email.svg")" class="svg mr-3" alt="">   @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.EmailNotifyStudent")
                                </a>
                                <a href="javascript:void(0)" onclick="groupDetail.sendEmailNotify($(this),undefined,'','PARENT')" class="d-flex align-items-center border-bottom border-light p-3 ">
                                    <img src="@Url.Content("~/Content/VLE/img/svg/email.svg")" class="svg mr-3" alt=""> @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.EmailNotifyParent")
                                </a>
                                <a href="javascript:void(0)" onclick="groupDetail.sendEmailNotify($(this),undefined,'','BOTH')" class="d-flex align-items-center border-bottom border-light p-3">
                                    <img src="@Url.Content("~/Content/VLE/img/svg/email.svg")" class="svg mr-3" alt=""> @ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.EmailNotifyEveryone")
                                </a>
                                <a href="javascript:void(0)" onclick="updateAssignedMembersPermission('Manager',$(this))" class="d-flex align-items-center border-bottom border-light p-3 isBespoke-add autoSyncCls">
                                    <img src="@Url.Content("~/Content/VLE/img/svg/manager.svg")" class="svg mr-3" alt=""> @ResourceManager.GetString("SchoolGroup.SchoolGroup.Manager")
                                </a>
                                <a href="javascript:void(0)" onclick="updateAssignedMembersPermission('Contribute',$(this))" class="d-flex align-items-center border-bottom border-light p-3 isBespoke-add autoSyncCls">
                                    <img src="@Url.Content("~/Content/VLE/img/svg/contribute.svg")" class="svg mr-3" alt=""> @ResourceManager.GetString("SchoolGroup.SchoolGroup.Contribute")
                                </a>
                                <a href="javascript:void(0)" onclick="updateAssignedMembersPermission('ViewOnly',$(this))" class="d-flex align-items-center border-bottom border-light p-3 isBespoke-add autoSyncCls">
                                    <img src="@Url.Content("~/Content/VLE/img/svg/view.svg")" class="svg mr-3" alt=""> @ResourceManager.GetString("SchoolGroup.SchoolGroup.ViewOnly")
                                </a>
                                <a href="javascript:void(0)" onclick="updateAssignedMembersPermission('Delete',$(this))" class="d-flex align-items-center border-bottom border-light p-3 isBespoke-add d-none autoSyncCls">
                                    <img src="@Url.Content("~/Content/VLE/img/svg/delete.svg")" class="svg mr-3" alt=""> @ResourceManager.GetString("SchoolGroup.SchoolGroup.Remove")
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="activities-right-content">
                        @*<a href="javascript:void(0)" class="tie-icon">
                                <i class="fas fa-sort-alpha-down text-black-50"></i>
                            </a>*@
                        </div>
                    </li>
                </ul> 
             }
                <div class="activities-list pr-3" >
                    <ul id="assignedMembers" class="searchList ">
                        @foreach (var s in studentList)
                        {
                            <li data-search-text="@s.MemberName" class="d-flex">

                            @if (isCustomPermission && (groupPermission > 2))
                            {
                                <div class="custom-control custom-checkbox mr-1">
                                    <input type="checkbox" class="custom-control-input" id="student-@s.MemberId" value="@s.MemberId" data-groupId="@s.GroupId">
                                    <label class="custom-control-label pl-2 text-medium d-flex align-items-center" for="student-@s.MemberId">

                                        <div class="defaultAvatar position-relative">
                                            <img src="@s.UserProfileImage" class="img-fluid rounded-circle flex-0 rounded-6x overflow-hidden h-100" alt="">
                                            <span class="status bg-warning rounded-circle d-block position-absolute bottom-0 right-0"></span>
                                        </div>
                                        <div class="student-info ml-2">
                                            <h3 class="name m-0 ml-2 text-semibold">@s.MemberName</h3>
                                        </div>
                                    </label>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <label class="text-medium d-flex align-items-center" for="student-@s.MemberId">
                                        <div class="defaultAvatar position-relative">
                                            <img src="@s.UserProfileImage" class="img-fluid rounded-circle flex-0 rounded-6x overflow-hidden h-100" alt="">
                                            <span class="status bg-warning rounded-circle d-block position-absolute bottom-0 right-0"></span>
                                        </div>
                                        <div class="student-info ml-2">
                                            <h3 class="name m-0 ml-2 text-semibold">@s.MemberName</h3>
                                        </div>
                                    </label>
                                </div>
                            }

                            <!-- <div class="sub-cat">Bearnard Anult</div> -->
                            <div class="activities-right-content d-flex">
                                <a href="javascript:void(0)" class="mr-2">
                                    @if (s.IsViewOnly)
                                    {
                                        <img src="@Url.Content("~/Content/VLE/img/svg/view.svg")" class="svg" alt="">
                                    }
                                    else if (s.IsContribute)
                                    {
                                        <img src="@Url.Content("~/Content/VLE/img/svg/contribute.svg")" class="svg" alt="">
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Content/VLE/img/svg/manager.svg")" class="svg" alt="">
                                    }
                                </a>
                                @if (isCustomPermission && (groupPermission > 2))
                                {
                                    <div class="btn-group dropleft ml-2">
                                        <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu z-depth-1 border-0">
                                            <a class="dropdown-item py-2" onclick="groupDetail.sendEmailNotify($(this),@s.GroupId,@s.MemberId,'STUDENT')" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.EmailNotifyStudent")</a>
                                            <a class="dropdown-item py-2" onclick="groupDetail.sendEmailNotify($(this),@s.GroupId,@s.MemberId,'PARENT')" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.EmailNotifyParent")</a>
                                            <a class="dropdown-item py-2" onclick="groupDetail.sendEmailNotify($(this),@s.GroupId,@s.MemberId,'BOTH')" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroupDetail.EmailNotifyEveryone")</a>
                                            <a class="dropdown-item py-2 isBespoke-add autoSyncCls d-none" onclick="updateMemberPermission('Delete',@s.MemberId,@s.GroupId,$(this))" href="javascript:void(0)">@ResourceManager.GetString("SchoolGroup.SchoolGroup.Remove")</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </li>
                        }
                </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#memberCnt").text('');
        $("#memberCnt").text('@memberCnt');

        var studCnt = '@studentList.Count()';

        //debugger;
        if (studCnt !== '0') {
            $("#ContactList").html('');
            var ctlist = 
            $("#ContactList").html(`@Html.Raw(studentContactList.ToString().Replace("\\", "/"))`);
            //mCustomScrollBar();
            if ($("#ContactList").height() > 250) {
                $("#ContactList").parent('.contact-list').addClass('overflow-auto');
            }
            else {
                $("#ContactList").parent('.contact-list').removeClass('overflow-auto');
            }
        }
        else {
            $("#ContactList").html(`<span class="no-data-found text-bold d-block mx-auto my-5">@ResourceManager.GetString("Shared.Labels.NoRecords")</span>`);
        }
    });
</script>
