﻿@model List<Phoenix.Models.SchoolGroup>
@using Phoenix.Common.Localization
@{
    var numbersList = new List<int> { 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 };
    var groupsByNumbers = Model.Where(x => numbersList.Any(n => x.SchoolGroupName.StartsWith(n.ToString())));
    var groupsByAlphabets = Model.Except(groupsByNumbers).GroupBy(x => x.SchoolGroupName.ToLower().First());
    var maxRowCount = 8;
}
<!-- modal popups -->
<div class="modal fade bd-example-modal-lg" id="moregroupsPopup" tabindex="-1" role="dialog" aria-labelledby="popupForm1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header filter-header bg-transparent d-flex align-items-center">

                <div class="search-with-bg bg-white border rounded-5x w-responsive">
                    <span class="icon-search"></span>
                    <input type="search" class="searchfield" placeholder="@ResourceManager.GetString("SchoolGroup.SchoolGroup.SearchGroup")">
                </div>
                <ul class="filter-by-letters">
                    <li><a href="#numbers" class="text-semibold">#</a></li>
                    <li><a href="#" class="text-semibold">A</a></li>
                    <li><a href="#" class="text-semibold">B</a></li>
                    <li><a href="#" class="text-semibold">C</a></li>
                    <li><a href="#" class="text-semibold">D</a></li>
                    <li><a href="#" class="text-semibold">E</a></li>
                    <li><a href="#" class="text-semibold">F</a></li>
                    <li><a href="#" class="text-semibold">G</a></li>
                    <li><a href="#" class="text-semibold">H</a></li>
                    <li><a href="#" class="text-semibold">I</a></li>
                    <li><a href="#" class="text-semibold">J</a></li>
                    <li><a href="#" class="text-semibold">K</a></li>
                    <li><a href="#" class="text-semibold">L</a></li>
                    <li><a href="#" class="text-semibold">M</a></li>
                    <li><a href="#" class="text-semibold">N</a></li>
                    <li><a href="#" class="text-semibold">O</a></li>
                    <li><a href="#" class="text-semibold">P</a></li>
                    <li><a href="#" class="text-semibold">Q</a></li>
                    <li><a href="#" class="text-semibold">R</a></li>
                    <li><a href="#" class="text-semibold">S</a></li>
                    <li><a href="#" class="text-semibold">T</a></li>
                    <li><a href="#" class="text-semibold">U</a></li>
                    <li><a href="#" class="text-semibold">V</a></li>
                    <li><a href="#" class="text-semibold">W</a></li>
                    <li><a href="#" class="text-semibold">X</a></li>
                    <li><a href="#" class="text-semibold">Y</a></li>
                    <li><a href="#" class="text-semibold">Z</a></li>
                </ul>
                <button type="button" class="close text-black-50 text-medium" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-dark font-weight-normal">
                <div class="row px-3 horizontal-scrollable">

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <ul class="filter-item-list" id="numbers">
                            <li class="check-item group-title">#</li>
                            @foreach (var grp in groupsByNumbers)
                            {
                                <li class="check-item">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="@grp.SchoolGroupId" value="@grp.SchoolGroupId" data-groupname="@grp.SchoolGroupName" name="groupFilter" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                        <label class="custom-control-label text-medium pl-2" for="@grp.SchoolGroupId">
                                            @grp.SchoolGroupName
                                        </label>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        @foreach (var grps in groupsByAlphabets)
                        {
                            <ul class="filter-item-list">
                                <li class="check-item group-title">@grps.Key.ToString().ToUpper()</li>
                                @foreach (var grp in grps)
                                {
                                    <li class="check-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="@grp.SchoolGroupId" value="@grp.SchoolGroupId" data-groupname="@grp.SchoolGroupName" name="groupFilter" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                            <label class="custom-control-label text-medium pl-2" for="@grp.SchoolGroupId">
                                                @grp.SchoolGroupName
                                            </label>
                                        </div>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal popups end -->