﻿@model Phoenix.Models.Folder


    <a onclick="groupDetail.loadFolderDetail(@Model.ParentFolderId,@Model.SectionId,@Model.ModuleId)" href="javascript:void(0);" class="text-uppercase btn-back bg-primary text-white rounded mr-3">
        @*<i class="fas fa-long-arrow-alt-left text-primary"></i>*@
        Back
    </a>
     @Model.FolderName
    
