﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers;
@model Phoenix.Models.Entities.SelectSubjectDashaboard
<style>
    .borderadjust {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }
</style>
<div class="row">

    <div class="col-12 select-subject-container tabPanels">
        <ul class="nav nav-tabs borderadjust" role="tablist">
            @foreach (var item in Model.StudentlistInfo)
            {

                int index = Model.StudentlistInfo.FindIndex(a => a.StudentId == item.StudentId);
                string tabclass = (index == 0 ? "nav-link active text-semibold text-primary" : "nav-link text-semibold text-primary");
                <li class="nav-item">
                    <a class="@tabclass" data-toggle="tab" href="@item.StudentId" role="tab" aria-selected="false" id="Student_Number" value="@item.StudentNumber" onclick="GetStudentinfo('@item.StudentNumber',false)">
                        @item.StudentFirstName
                    </a>
                </li>
            }
        </ul>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12" id="divGetOptionView">
                <div class="alert alert-success text-medium w-responsive font-small mb-0 p-3 rounded-2x hide-item" role="alert">
                    <i class="fas fa-check-circle text-success mr-2"></i>@ResourceManager.GetString("SelectSubject.Subject.confirmation")
                </div>
                @Html.Partial("_GetOptionView", Model.Studentsubjectinfo)
            </div>
        </div>
    </div>
</div>
<!-- modal popups -->
<div class="modal fade" id="recordUpdated" tabindex="-1" role="dialog" aria-labelledby="recordUpdated"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="" class="m-0">
                <div class="">
                    <p class="title">
                        Record updated successfully
                    </p>
                </div>
                <div>
                    <p class="content">
                        An email notification has been sent to the authorised staff for approval
                    </p>
                </div>
                <div class="button-wrapper">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- modal popups end -->
<!-- preloader start -->

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
                    {
    @*<script>
            translatedResources.noRecordsMessage = ' @string.Format(ResourceManager.GetString("School.SchoolSpace.NoDataDisplayMessage"), ResourceManager.GetString("School.SchoolSpace.CircularNewsletters").ToLower())';
        </script>*@
    <script>
        debugger
        var item = ('@Model.Studentsubjectinfo.IsCourseAlreadySelected.ToString()').toLowerCase();
        if (item === "true") {
            hideAllInputRadio();
        }
        function hideAllInputRadio() {
            var temp = $('input[type="radio"]');
            temp.each(function () {
                $(this).attr('disabled', true);
            });
        }
    </script>
    <script src="@Url.Content("~/Content/js/custom/Subject/SelectSubject.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Parent/ParentDashboard.js?v="+ResourceManager.GetString("Shared.Version.Js"))"></script>
}
