﻿@model Phoenix.VLE.Web.Models.EditModels.RSSFeedEdit
@using Phoenix.Common.Localization

@using (Ajax.BeginForm("SaveRSSFeed", "Home", new AjaxOptions { OnSuccess = "SchoolRssFeed.onSaveSuccess" }, new { id = "frmAddEditRSSFeed", @class = "form-horizontal" }))
{
    <div class="modal-body">
        <div class="popup-form">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)

            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(x => x.RSSTitle, new { @class = "form-control" })
                        <label for="UserRoleName" class="active">@ResourceManager.GetString("School.RSSFeed.RSSTitle")</label>
                        @Html.ValidationMessageFor(x => x.RSSTitle)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextBoxFor(x => x.RSSLink, new { @class = "form-control" })
                        <label for="UserRoleName" class="active">@ResourceManager.GetString("School.RSSFeed.RSSLink")</label>
                        @Html.ValidationMessageFor(x => x.RSSTitle)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col">
                    <div class="md-form md-outline">
                        @Html.TextAreaFor(x => x.RSSDescription, new { @class = "form-control" })
                        <label for="UserRoleName" class="active">@ResourceManager.GetString("School.RSSFeed.RSSDescription")</label>
                        @Html.ValidationMessageFor(x => x.RSSDescription)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
            <button type="submit" class="btn btn-primary waves-effect waves-light">@ResourceManager.GetString("Shared.Buttons.Save")</button>
        </div>
    </div>
}

@Html.Partial("_ValidationJSPartial")
