﻿@model IEnumerable<Phoenix.Models.Blog>

@if (Model != null && Model.Count()>0)
{
    foreach (var item in Model)
    {
    <article>
        <div class="card p-3">
            <div class="card-body">
                <figure class="rounded-2x overflow-hidden">
                    <span class="wall-img d-block position-relative">
                        <img src="@item.BlogImage" alt="">
                        <span class="caption position-absolute bottom-0 text-white px-3 py-2 text-semibold">
                            @item.SubjectName
                        </span>
                    </span>
                    <figcaption class="mt-3">
                        <h3 class="mb-1">
                            <a href="javascript:void(0)">@item.Title</a>
                        </h3>
                        <h4 class="sub-heading"><i class="far fa-clock"></i> @item.CreatedOn.ToString("dd MMM yyyy")</h4>
                        <p class="m-0">@Html.Raw(item.Description)</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </article>
    }

}