﻿@model Phoenix.Models.User
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@{
    var logopath = "/Content/VLE/img/smileys/" + Model.FeelLogo;
}

<!-- Teachers Profile start -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="teachers-profile-sec column-padding pt-3">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-12">
                            <a class="teacher-profile-pic" href="#">
                                <img src="@Url.Content("~/Content/VLE/img/avatar-2.jpg")" class="rounded-circle z-depth-0" alt="" style="width: 3.125rem;height: 3.125rem;">
                            </a>
                        </div>
                        <div class="col-lg-10 col-md-10 col-12">
                            <h2>
                                @(!string.IsNullOrWhiteSpace(SessionHelper.CurrentSession.FullName) ?
                                                                           SessionHelper.CurrentSession.FullName :
                                                                           SessionHelper.CurrentSession.UserName)
                            </h2>
                            <a href="#" data-toggle="modal" data-target="#basicExampleModal" class="change-mood dropdown-toggle waves-effect waves-light">

                                <img src="@logopath" alt="Smiley" style="width: 1.375rem;height: 1.375rem;"> @ResourceManager.GetString("Dashboard.User.Feeling") <span>@Model.FeelType</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 pt-2">
                            <p>@Model.CureentStatus</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 mb-4">
                            <button type="button" class="btn btn-outline-default waves-effect">@ResourceManager.GetString("Dashboard.User.EditProfile")</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 mb-2">
                            <span class="small-heading">@ResourceManager.GetString("Dashboard.User.School")</span>
                            <p>@Model.SchoolName</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 mb-2">
                            <span class="small-heading">@ResourceManager.GetString("Dashboard.User.Badges")</span>
                            <a class="medal-sec" href="#"><i class="fas fa-medal"></i></a>
                            <a class="medal-sec" href="#"><i class="fas fa-medal"></i></a>
                            <a class="medal-add-sec" href="#"><i class="fas fa-plus-circle"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Teachers Profile end -->
<!-- my planner start -->
<div class="row">
    <div class="col-lg-12 col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">@ResourceManager.GetString("Dashboard.User.MyPlanner")</h3>
                <div class="column-padding pt-3">
                    <div style="overflow:hidden;">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="date-time-picker">
                                        <div id="inlinedatepicker" class="date-picker"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Tasks tabs -->
                <div class="task-section column-padding pt-3">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#today" role="tab" data-toggle="tab">Today</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#weekly" role="tab" data-toggle="tab">Weekly</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#monthly" role="tab" data-toggle="tab">Monthly</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="today">
                                    <div class="row pt-3 pb-3">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <button type="button" class="btn btn-outline-primary waves-effect">Creat New</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <img src="img/dummy.jpg" alt="Phoenix" class="img-fluid rounded">
                                            <span class="task-date-time">18th April 2019 AT 11.00AM</span>
                                            <h3 class="task-heading">What gives us meaning and makes us human</h3>
                                            <p>Contrary to popular belief, Lorem ipsum is not simply random text..</p>
                                        </div>
                                    </div>
                                    <hr class="mb-4 mt-3">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <img src="img/dummy.jpg" alt="Phoenix" class="img-fluid rounded">
                                            <span class="task-date-time">18th April 2019 AT 11.00AM</span>
                                            <h3 class="task-heading">What gives us meaning and makes us human</h3>
                                            <p>Contrary to popular belief, Lorem ipsum is not simply random text..</p>
                                        </div>
                                    </div>
                                    <hr class="mb-4 mt-3">
                                    <div class="row mb-4">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <a class="view-all-task-btn" href="#">View All Task</a>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="weekly">
                                    <div class="row pt-3 pb-3">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <button type="button" class="btn btn-outline-primary waves-effect">Creat New</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <img src="img/dummy.jpg" alt="Phoenix" class="img-fluid rounded">
                                            <span class="task-date-time">18th April 2019 AT 11.00AM</span>
                                            <h3 class="task-heading">What gives us meaning and makes us human</h3>
                                            <p>Contrary to popular belief, Lorem ipsum is not simply random text..</p>
                                        </div>
                                    </div>
                                    <hr class="mb-4 mt-3">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <img src="img/dummy.jpg" alt="Phoenix" class="img-fluid rounded">
                                            <span class="task-date-time">18th April 2019 AT 11.00AM</span>
                                            <h3 class="task-heading">What gives us meaning and makes us human</h3>
                                            <p>Contrary to popular belief, Lorem ipsum is not simply random text..</p>
                                        </div>
                                    </div>
                                    <hr class="mb-4 mt-3">
                                    <div class="row mb-4">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <a class="view-all-task-btn" href="#">View All Task</a>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="monthly">
                                    <div class="row pt-3 pb-3">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <button type="button" class="btn btn-outline-primary waves-effect">Creat New</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <img src="img/dummy.jpg" alt="Phoenix" class="img-fluid rounded">
                                            <span class="task-date-time">18th April 2019 AT 11.00AM</span>
                                            <h3 class="task-heading">What gives us meaning and makes us human</h3>
                                            <p>Contrary to popular belief, Lorem ipsum is not simply random text..</p>
                                        </div>
                                    </div>
                                    <hr class="mb-4 mt-3">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <img src="img/dummy.jpg" alt="Phoenix" class="img-fluid rounded">
                                            <span class="task-date-time">18th April 2019 AT 11.00AM</span>
                                            <h3 class="task-heading">What gives us meaning and makes us human</h3>
                                            <p>Contrary to popular belief, Lorem ipsum is not simply random text..</p>
                                        </div>
                                    </div>
                                    <hr class="mb-4 mt-3">
                                    <div class="row mb-4">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <a class="view-all-task-btn" href="#">View All Task</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tasks tabs -->
            </div>
        </div>
    </div>
</div>

<!-- my planner end -->
