﻿@model Phoenix.VLE.Web.ViewModels.TeacherViewModel
@using Phoenix.Common.Localization;
@using Phoenix.Common.Helpers;
@Html.Hidden("TGroupId")
@Html.Hidden("TBlogId")
<style>
    .no-preview-image {
        background: url('../content/student/img/no-preview.png') no-repeat center top !important;
        background-size: contain;
        text-align: center;
        padding-top: 78px;
        background-size: 4.625rem !important;
        color: #9b9b9b;
        font-size: 11px !important;
    }

    .text-none {
        display: none !important;
    }

    .popover-container {
        height: 120px !important;
    }

        .popover-container .tool-tip.top {
            top: -6.125rem !important;
            left: -0.5rem;
        }

            .popover-container .tool-tip.top .arrow-up {
                top: 11.1rem !important;
            }

     /*CSS for share button dropdown alignment*/
    .dropdown-menu {
        max-width: 672px !important;
    }
    #sharePostPopupChatter .dropdown-menu.show {
        width:100%;
    }

    .leftcheck .dropdown-menu .selected span.check-mark {
        position: absolute;
        display: inline-block;
        left: 15px;
        top: 5px;
    }
    /*CSS for share button dropdown alignment*/
</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body column-padding py-3">
                <div class="owl-carousel owl-theme teacherChatter">

                    @if (Model.BlogTeacherDash.Count() > 0)
                    {

                        foreach (var item in Model.BlogTeacherDash)
                        {
                            var imgPath = item.ProfileImage;

                            if (!string.IsNullOrWhiteSpace(item.ProfileImage))
                            {
                                if (item.ProfileImage.Contains("avatar"))
                                {
                                    imgPath = item.ProfileImage;
                                }

                                else if (item.UserTypeId == 1)
                                {
                                    imgPath = Constants.StudentImagesPath + item.ProfileImage;
                                }
                                else if (item.UserTypeId == 2)
                                {
                                    imgPath = PhoenixConfiguration.Instance.ReadFilePath + Constants.ParentProfilePath + item.ProfileImage;
                                }
                                else
                                {
                                    imgPath = PhoenixConfiguration.Instance.ReadFilePath + Constants.TeacherProfilePath + item.ProfileImage;
                                }
                            }

                            var blogRedirect = "/SchoolInfo/Blog/GetRedirectToMyWallOnBlogSearch?blogid=" + @EncryptDecryptHelper.EncryptUrl(item.BlogId.ToString()) + "&createdBy=" + @EncryptDecryptHelper.EncryptUrl(item.CreatedBy.ToString());
                            <article class="rounded-2x border">
                                <div class="article-header p-3 d-flex align-items-center">
                                    <span class="user-avatar rounded-circle overflow-hidden d-inline-block mr-3">
                                        <img src="@Url.Content(imgPath)" alt="" class="img-fluid">
                                    </span>
                                    <h3 class="m-0">
                                        <a href="@blogRedirect">@item.UserName </a>
                                        <span class="d-block text-black-50">@item.ActivityType  @(Convert.ToDateTime(Phoenix.VLE.Web.Helpers.CommonHelper.ConvertUtcToLocalTime(item.FinalDate, Model.OffSet)).ToString("dd MMM yyyy hh:mm tt"))</span>
                                    </h3>
                                </div>
                                <div class="content column-padding py-3">
                                    <a>
                                        <h6 class="mb-1 text-primary remove-cursor-pointer fix-height text-semibold">@item.Title</h6>

                                    </a>
                                    <div class="popover-container float_left">
                                        @Html.Raw("<div class=\"text-muted text-regular popover-parent \">" + (HttpUtility.HtmlDecode(item.Description)) + "</div>")
                                        <span class="text-none" id="text-none">@HttpUtility.HtmlDecode(item.Description)</span>
                                        <a class="text-primary d-none read-more">Read More</a>
                                        <div id="tool-tip" class="tool-tip top">
                                            <div class="arrow-up"></div>
                                            <div class="content text-muted text-regular">
                                                <div class="tool-tip-scroll">
                                                    <p>
                                                        <span class="d-block">


                                                        </span>
                                                    </p>
                                                </div>

                                                <div id="close-icon" class="close-tooltip">x</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chatter-stats">
                                        <!--3. Make the like, comment, and share icon the same as in Chatter.-->
                                        <ul>
                                            <li>
                                                <button type="button" class="remove-cursor-pointer">
                                                    <img src="@Url.Content("~/Content/Student/img/like.png")" alt="like-icon" class="like-icon remove-cursor-pointer" />
                                                </button>
                                                <span>@item.LikeCount </span>
                                            </li>
                                            <li>
                                                <button class="remove-cursor-pointer">
                                                    <img src="@Url.Content("~/Content/Student/img/speech-bubble.png")" alt="speech-bubble-icon" class="speech-bubble remove-cursor-pointer" />
                                                </button>
                                                <span>@item.CommentCount</span>
                                            </li>
                                            <li>
                                                <button>
                                                    <img src="@Url.Content("~/Content/Student/img/share-option.png")" alt="share-icon" class="share-icon" data-id="@item.BlogId" data-toggle="modal" data-target="#sharePostPopupChatter" data-grpid="@item.GroupId" />

                                                </button>

                                            </li>
                                        </ul>
                                    </div> <!--3. Make the like, comment, and share icon the same as in Chatter.-->
                                </div>

                                <div class="article-footer column-padding text-center">
                                    <button type="button" class="btn btn-sm btn-outline-primary m-0 py-2 w-160" onclick="location.href='@blogRedirect'">View Post</button>
                                </div>
                            </article>
                        }

                        if (Model.BlogTeacherDash.Count() < 4)
                        {
                            for (var i = Model.BlogTeacherDash.Count() + 1; i < 5; i++)
                            {
                                <article class="rounded-2x border">
                                    <div class="no-data-found-container content column-padding py-3">
                                        <span class="no-data-found text-bold mx-auto my-auto mt-1 d-block">
                                            There is no card available.
                                        </span>
                                    </div>
                                </article>
                            }
                        }
                    }
                    else
                    {
                        <article class="rounded-2x border">
                            <div class="no-data-found-container content column-padding py-3">
                                <span class="no-data-found text-bold mx-auto my-auto mt-1 d-block">
                                    There is no card available.
                                </span>
                            </div>
                        </article>
                        <article class="rounded-2x border">
                            <div class="no-data-found-container content column-padding py-3">
                                <span class="no-data-found text-bold mx-auto my-auto mt-1 d-block">
                                    There is no card available.
                                </span>
                            </div>
                        </article>
                        <article class="rounded-2x border">
                            <div class="no-data-found-container content column-padding py-3">
                                <span class="no-data-found text-bold mx-auto my-auto mt-1 d-block">
                                    There is no card available.
                                </span>
                            </div>
                        </article>
                        <article class="rounded-2x border">
                            <div class="no-data-found-container content column-padding py-3">
                                <span class="no-data-found text-bold mx-auto my-auto mt-1 d-block">
                                    There is no card available.
                                </span>
                            </div>
                        </article>

                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade popup-purple-shade blog-popup" id="sharePostPopupChatter" tabindex="-1" role="dialog" aria-labelledby="sharePostPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-max">
        <div class="modal-content">
            <form action="#" class="m-0">
                <div class="modal-header">
                    <h6 class="modal-title text-white">@ResourceManager.GetString("School.Wall.SharePost")</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                </div>
                <div class="modal-body pb-2" style="margin:10px;">
                    <div class="row mb-3">
                        <label for="select-group" class="text-semibold">@ResourceManager.GetString("Assignment.Assignment.SchoolGroupIds")</label>
                        @Html.DropDownListFor(x => x.SchoolGroupId, ViewBag.lstSchoolGroup as List<SelectListItem>
                            , new { @class = "selectpickerTeacher ddlSchoolGroup leftcheck", @name = "SchoolGroupId", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true" })
                        @Html.ValidationMessageFor(x => x.SchoolGroupId)

                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" onclick="SharePost();"><span>@ResourceManager.GetString("School.Wall.SharePost")</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade popup-purple-shade blog-popup" id="ignismyModalSharePost" tabindex="-1" role="dialog" aria-labelledby="SucessfulPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-max">
        <div class="modal-content">
            <form action="#" class="m-0">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                </div>
                <div class="modal-body" style="text-align: center; color: green; font-weight: bold;">

                    <h1>Thank You!</h1>
                    <p>@ResourceManager.GetString("School.Wall.SuccessMessage")</p>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Content/Student/js/all-carousels.js"></script>
<script type="text/javascript">
    var selectedGroup ;
      function SharePost() {
          var currentgroupId = 0;
          console.log(selectedGroup, $('#TGroupId').val(),$("#TBlogId").val())
        if (selectedGroup == null || selectedGroup == 'undefined' || selectedGroup == '') {

            $('#lblMessage').html('@ResourceManager.GetString("School.Wall.ErrorMessage")');
            return;
        }
        if ($('#TGroupId').val() != 0) {
            currentgroupId = $('#TGroupId').val();
        }

        $.ajax({
            type: 'GET',
            url: '/SchoolInfo/Blog/SharePost',
            data: { groupId: currentgroupId, groupList: JSON.stringify(selectedGroup), blogId: $("#TBlogId").val() },
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                globalFunctions.showSuccessMessage('Post Shared Successfully');
                $('#sharePostPopupChatter').modal('hide');
            },
            error: function (msg) {
                globalFunctions.onFailure();
            }
        });
    }

    $(document).ready(function () {
     $('.selectpickerTeacher').change(function () {
           selectedGroup =  $('.selectpickerTeacher').val();
        });
        $('.share-icon').on('click', function (e) {
            $("#SchoolGroupId option").prop('disabled', false);
            $('#TGroupId').val($(this).data('grpid'));
            $("#SchoolGroupId option[value='"+ $('#TGroupId').val()+"']").attr('disabled', true);
            $('.selectpickerTeacher').selectpicker('refresh');
           $('#lblMessage').html("");
           selectedGroup;
           $('.selectpickerTeacher').selectpicker('deselectAll');
           var selected = $(this).data('id');
           $("#TBlogId").val(selected);
        });



        $("#chatter").owlCarousel({
            margin: 5,
            autoplay: false,
            nav: true,
            dots: false,
            loop: false,
            autoplayHoverPause: true,
            items: 1
        });
        function handleToolTip() {
            $('.popover-container  .read-more').click(function () {
                $(this).parents('.popover-container').children('.tool-tip').addClass('show');
            });

            $('.close-tooltip').on('click', function () {
                $(this).parents('.tool-tip').removeClass('show');
            });
            $(document).mouseup(function (e) {
                var popup = $(".tool-tip");
                if (!$('.popover-container button').is(e.target) && !popup.is(e.target) && popup.has(e.target).length == 0) {
                    popup.removeClass('show');
                }
            });
        }
        handleToolTip();
         function charCount() {
            $(".chatterUpdates .popover-parent").each(function () {
                    text = $(this).text().trim();
                    len=$(this).text().trim().length;
                    str= $(this).text().trim().substr(0,100);
                    if (len > 101) {
                        $(this).html('<p>' + str + '…' + '</p>');
                        $(this).siblings('.read-more').removeClass('d-none');
                       $(this).siblings('.tool-tip').children('.content').html('<p> <span class="d-block mb-2">' + text + '</span> </p> <div id="close-icon" class="close-tooltip">x</div>');
                    $(".tool-tip .content p").mCustomScrollbar({
                        setHeight: "140px",
                        //autoExpandScrollbar: true,
                        scrollbarPosition: "inside",
                        autoHideScrollbar: true,
                    });
                         handleToolTip();
                    }
                    else if (len > 0) {
                        if (text == "Sorry! No Content Found") {
                            $(this).html('<span class="no-data-found text-bold mx-auto my-auto mt-1 d-block"> No content found. </span>');
                        }
                        else {
                             $(this).html('<p>' + text + '</p>');
                        }
                        $(this).siblings('.read-more').addClass('d-none');

                    }
                    else {
                        var content = $(this).siblings('.text-none').text().trim();
                        if (content.match('<img')) {
                              $(this).html('<span class="no-preview-image text-bold mx-auto my-auto mt-1 d-block"> No preview available. </span>');
                        }
                        else {
                            $(this).html('<span class="no-data-found text-bold mx-auto my-auto mt-1 d-block"> No content found. </span>');
                        }

                        $(this).siblings('.read-more').addClass('d-none');

                    }
                });
            }
            charCount();
            function titleCount(){
                $(".chatterUpdates .owl-item").each(function () {
                target = $(this).children('article').children('.content').find('h6');
                len=$(target).text().trim().length;
                str= $(target).text().substr(0,45);
                if(len>45) {
                    $(target).text(str +'…');
                }
                });
            }
        titleCount();

    });


</script>
