﻿@using System.Text
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@{

    //Language helper
    var currentSystemLanguage = Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage;
    var langId = currentSystemLanguage.SystemLanguageId;
    var langCode = currentSystemLanguage.SystemLanguageCode;
    var langIsRightToLeft = currentSystemLanguage.IsRightToLeft;

}

<!DOCTYPE html>
<html lang="@langCode" dir="@(langIsRightToLeft ? "rtl" : "ltr")">
<head>
    <title>@ResourceManager.GetString("ElitePrivacyPolicy.Information.ElitePrivacyPolicy")</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">

    <link href="@(langId == 2 ? Url.Content("~/Content/VLE/css/bootstrap-rtl.css") : Url.Content("~/Content/VLE/css/bootstrap.min.css"))" rel="stylesheet">

    <style>
        html:lang(ar) ul li:before {
            left: initial;
            right: -28px;
        }

        html:lang(ar) #toTop {
            right: initial;
            left: 30px;
        }
        body {
            position: relative;
            font-family: 'Montserrat', sans-serif;
            color: #555758;
        }

        .text-regular {
            font-weight: 400;
        }

        .text-medium {
            font-weight: 500;
        }

        .text-semibold {
            font-weight: 600;
        }

        a {
            color: #5d3195;
        }

        .text-primary {
            color: #5d3195 !important;
        }

        p a, li a {
            text-decoration: underline;
        }

        button:focus, .btn:focus {
            outline: none;
            box-shadow: none;
        }

        .overflow-auto {
            scrollbar-width: thin;
            scrollbar-color: #a6a6a6 #d9d9d9;
            scrollbar-width: thin;
        }

            .overflow-auto::-webkit-scrollbar {
                width: 6px;
            }

            .overflow-auto::-webkit-scrollbar-track {
                border-radius: 5px;
                background: #d9d9d9;
            }

            .overflow-auto::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background: #a6a6a6;
                cursor: pointer;
            }

        header {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
        }

        .quick-links {
            top: 105px;
        }

        .section-padding {
            padding: 50px 0;
        }

        ul {
            list-style-type: none;
            counter-reset: css-counters 0;
            margin-top: 15px;
        }

            ul li {
                position: relative;
                margin-bottom: 15px;
                word-break: break-all;
            }

                ul li:before {
                    counter-increment: css-counters;
                    content: counters(css-counters, ".") " ";
                    position: absolute;
                    left: -28px;
                    font-weight: 500;
                    color: #000;
                }

        .list-group {
            max-height: 75vh;
            font-size: 14px;
        }

            .list-group a:first-child {
                border-top: none;
            }

            .list-group a:last-child {
                border-bottom: none;
            }

            .list-group-item + .list-group-item.active, .list-group-item.active, .list-group a:hover {
                background: #5d3195;
                border-color: #5d3195;
                color: #fff;
            }

        #toTop {
            background: #5d3195;
            width: 50px;
            height: 50px;
            text-align: center;
            bottom: 30px;
            right: 30px;
            transition: all linear 0.3s;
            opacity: 0;
            visibility: hidden;
            z-index: 1000;
            transform: rotate(-90deg);
        }

            #toTop::after {
                content: "\279D";
                /* font-family: FontAwesome; */
                font-weight: normal;
                font-style: normal;
                font-size: 2em;
                line-height: 50px;
                color: #fff;
            }

            #toTop:hover {
                cursor: pointer;
            }

            #toTop:active {
                background: #5d3195;
            }

            #toTop.show {
                opacity: 1;
                visibility: visible;
            }

            #toTop:focus {
                outline: none;
                box-shadow: none;
            }

        .dropdown-menu {
            max-height: 296px;
            width: 100%;
        }
    </style>
</head>

<body>

    <header class="bg-white sticky-top">
        <div class="container-fluid">
            <div class="row py-3 border-bottom">
                <div class="col-md-6 col-sm-6 col-12 text-center text-sm-left">
                    <img src="img/svg/logo-colored.svg" style="max-height: 50px;" alt="">
                </div>
                <div class="col-md-6 col-sm-6 col-12 text-center text-sm-right mt-3 mt-sm-0">
                    <h3 class="mb-0 text-medium text-primary">@ResourceManager.GetString("ElitePrivacyPolicy.Information.PrivacyPolicy")</h3>
                    <p class="mb-0 small text-black-50">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Updatedon")</p>
                </div>
            </div>
            <div class="row d-block d-md-none">
                <div class="col-12 bg-light">
                    <div class="navbar-collapse sticky-top quick-links p-0" id="myNavbar">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle w-100 py-3" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-wrap">@ResourceManager.GetString("ElitePrivacyPolicy.Information.QuickLinks")</span> <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu overflow-auto shadow-sm border-0 p-0" aria-labelledby="dropdownMenu1">
                                <a href="#." class="list-group-item list-group-item-action" data-target="q1">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Whatinformationdowegather")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q2">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Howdowegatherthisinformation")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q3">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Howweusetheinformation")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q4">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Willweshareyourinformationwithanyoneelse")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q5">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Wherewestoreandprocesstheinformation")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q6">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Security")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q7">@ResourceManager.GetString("ElitePrivacyPolicy.Information.PasswordandConfidentiality")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q8">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Yourdataprotectionrights")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q9">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Consent")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q10">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Informationyousharesocially")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q11">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Areyouprotectedbythispolicy")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q12">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Cookies")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q13">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Contactus")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-12 border-right bg-light d-none d-md-block">
                <div class="navbar-collapse sticky-top quick-links p-0" id="myNavbar">
                    <h5 class="my-3">Quick Links</h5>
                    <div class="list-group overflow-auto border-top border-bottom rounded">
                        <a href="#." class="list-group-item list-group-item-action" data-target="q1">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Whatinformationdowegather")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q2">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Howdowegatherthisinformation")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q3">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Howweusetheinformation")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q4">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Willweshareyourinformationwithanyoneelse")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q5">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Wherewestoreandprocesstheinformation")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q6">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Security")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q7">@ResourceManager.GetString("ElitePrivacyPolicy.Information.PasswordandConfidentiality")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q8">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Yourdataprotectionrights")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q9">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Consent")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q10">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Informationyousharesocially")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q11">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Areyouprotectedbythispolicy")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q12">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Cookies")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q13">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Contactus")</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-12">
                <section id="" class="p-4 pb-0">
                    <p>@ResourceManager.GetString("ElitePrivacyPolicy.Information.WeEliteEducation") <a href="https://elite.phoenixclassroom.com" target="_blank">https://elite.phoenixclassroom.com</a> @ResourceManager.GetString("ElitePrivacyPolicy.Information.WebportalMobileAppandaskyou")</p>
                    <p>
                        @ResourceManager.GetString("ElitePrivacyPolicy.Information.ByusingourwebsiteportalMobileApp")
                    </p>
                    <p>@ResourceManager.GetString("ElitePrivacyPolicy.Information.ThisPrivacyPolicydoesnot")</p>
                    <p>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Wewillalwaysaimtoberespectful")</p>
                    <p>@ResourceManager.GetString("ElitePrivacyPolicy.Information.PleasetakethetimetoreadthisElitePrivacyPolicy")</p>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q1">
                    <h5 class="text-primary">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Whatinformationdowegather")</h5>
                    <p>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Wemaycollectandprocessthefollowing")</p>
                    <ul>
                        <li>
                            @ResourceManager.GetString("ElitePrivacyPolicy.Information.Ifyouareinterested")
                            <ul>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Yourandyourchildpersonal")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Admissionsandenrollmentinformation")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Yourchildhealthinformation")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.informationthatyouprovide")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.marketingresponsessuch")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.surveyresponsessuch")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.informationaboutyourcomputer")</li>
                            </ul>
                        </li>
                        <li>
                            @ResourceManager.GetString("ElitePrivacyPolicy.Information.Ifyouareamemberofstaff")
                            <ul>
                                <li> @ResourceManager.GetString("ElitePrivacyPolicy.Information.Personalinformationsuchasname")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Informationaboutyourbackground")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Informationwereceivefrom")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Marketingresponses")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Informationaboutyourcomputer")</li>
                            </ul>
                        </li>
                    </ul>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q2">
                    <h5 class="text-primary">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Howdowegatherthisinformation")</h5>
                    <p>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Thelawfulbaseswerelyonforprocessingyourinformationare")</p>
                    <ul>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Wehavealegitimateinterest")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Wehaveacontractualobligation")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.WehavealegalobligationWemayneed")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Wehaveavitalinterestforexample")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.WehaveapublicinterestElite")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.WehaveyourconsentYouareentitled")</li>
                    </ul>
                    <p>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Thelawfulbaseswerelyon")</p>
                    <ul>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Wehaveapublicinterest")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Toprotectthevitalinterestsof")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Theprocessingofthisinformation")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.210Forthepurposes")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.WehaveyourconsentYouareentitled")</li>
                    </ul>
                    <p>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Asmentionedaboveinsomecases")</p>
                    <p>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Youdirectlyprovideus")</p>
                    <ul>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.informationthatyouprovidebyfillinginforms")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.WemayalsoaskyouforyourInformation")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Ifyoucontactuswemaykeeparecord")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Wemayalsoaskyoutocomplete")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Ifyoucarryoutanytransaction")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Ifyouwanttosignup")</li>
                    </ul>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q3">
                    <h5 class="text-primary">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Howweusetheinformation")</h5>
                    <p>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Weusetheinformationheld")</p>
                    <ul>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Toregisterandrespond")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Toprovideyouwiththeservicesandfunctionality")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Torespondtoorfollowuponyourcomments")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.TooperateandimprovetheWebportalMobileApp")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.ToensurethattheWebportalMobileApp")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Toprovideyouwithinformationproducts")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.37Tosendyourelevant")</li>
                        <li>
                            @ResourceManager.GetString("ElitePrivacyPolicy.Information.38Tooccasionallycarry")
                            <ul>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Toperformstatisticalanalysis")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Tocomplywithourpolicies")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Toprotectinvestigate")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Tocarryout")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Toallowyoutoparticipate")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.TopromotingtheobjectivesandinterestsofElite")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Tocheckwhetheryouareeligibleforacompetition")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Tonotifyyouaboutchangestoourservices")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Asotherwiseconsentedbyyouandasotherwisepermittedbyapplicablelaw")</li>
                            </ul>
                        </li>
                    </ul>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q4">
                    <h5 class="text-primary">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Willweshareyourinformationwithanyoneelse")</h5>
                    <ul>
                        <li>
                            @ResourceManager.GetString("ElitePrivacyPolicy.Information.Yesif")
                            <ul>
                                <li> @ResourceManager.GetString("ElitePrivacyPolicy.Information.Youspecificallyrequestthis")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Youspecificallyrequestthis")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Wearerequiredtodoso")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Wefeelitisreasonably")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Weappointconsultantsexperts")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Ithelpsourtrustedthirdparty")</li>
                            </ul>
                        </li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Wemayalsoshareyourinformationwith")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Wewillnotrentorsellyourdetailsto")</li>
                    </ul>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q5">
                    <h5 class="text-primary">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Wherewestoreandprocesstheinformation")</h5>
                    <ul>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Theinformationwecollectfromyouispartlystored")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Wewillretainyourinformationfortheperiod")</li>
                    </ul>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q6">
                    <h5 class="text-primary">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Security")</h5>
                    <ul>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Weunderstandtheimportanceofsecuring")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Howeverifyouprovideuswithpersonal")</li>
                    </ul>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q7">
                    <h5 class="text-primary">@ResourceManager.GetString("ElitePrivacyPolicy.Information.PasswordandConfidentiality")</h5>
                    <ul>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Ifyouareprovidedwithauser")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Youagreetocontactusimmediately")</li>
                    </ul>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q8">
                    <h5 class="text-primary">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Yourdataprotectionrights")</h5>
                    <ul>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Youhavetherighttoaskus")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Youhavetherighttoaskustorectify")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Youhavetherighttoaskustoerase")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Youhavetherighttoobject")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Youhavetherighttoaskthatwetransfer")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Wemayrequestproofofyouridentity")</li>
                    </ul>
                    <p>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Justwritetousatthe")</p>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q9">
                    <h5 class="text-primary">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Consent")</h5>
                    <ul>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Bysubmittinginformationtousyouconsent")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Youareentitledtoask") </li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Whataboutpersonalinformationrelatingtominors")</li>
                    </ul>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q10">
                    <h5 class="text-primary">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Informationyousharesocially")</h5>
                    <p>@ResourceManager.GetString("ElitePrivacyPolicy.Information.TheWebportalMobileApp")</p>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q11">
                    <h5 class="text-primary">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Areyouprotectedbythispolicy")</h5>
                    <p>@ResourceManager.GetString("ElitePrivacyPolicy.Information.OurWebportalMobileApp")</p>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q12">
                    <h5 class="text-primary">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Cookies")</h5>
                    <ul>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Weusecookiestopersonalizecontent")</li>
                        <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Weonlysetafewcookiesourselves")</li>
                        <li>
                            @ResourceManager.GetString("ElitePrivacyPolicy.Information.Typesofcookies")
                            <ul>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Sessioncookies")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Persistentcookies")</li>
                            </ul>
                        </li>
                        <li>
                            @ResourceManager.GetString("ElitePrivacyPolicy.Information.Categoriesofcookies")
                            <ul>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.StrictlyNecessaryCookies")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Analyticscookies")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Preferencecookies")</li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Advertisingcookies")</li>
                            </ul>
                        </li>
                        <li>
                            @ResourceManager.GetString("ElitePrivacyPolicy.Information.Youdontwantcookies")
                            <ul>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.WhethertheWebportal")</li>
                                <li>Firefox: <a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer" target="_blank">https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer</a></li>
                                <li>Internet Explorer: <a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
                                <li>Chrome: <a href="http://support.google.com/chrome/bin/answer.py?hl=en&answer=95647" target="_blank">http://support.google.com/chrome/bin/answer.py?hl=en&answer=95647</a></li>
                                <li>Safari: <a href="https://support.apple.com/en-ae/guide/safari/sfri11471/mac" target="_blank"></a></li>
                                <li>Microsoft Edge: <a href="https://support.microsoft.com/en-us/help/4468242/microsoft-edge-browsing-data-and-privacy" target="_blank">https://support.microsoft.com/en-us/help/4468242/microsoft-edge-browsing-data-and-privacy</a></li>
                                <li>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Ifyouuseadifferentwebbrowser")</li>
                            </ul>
                        </li>
                    </ul>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q13">
                    <h5 class="text-primary">@ResourceManager.GetString("ElitePrivacyPolicy.Information.ContactusFinallypleasetalktous")</h5>
                    <p>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Ifyouhaveanyqueries")</p>
                    <address class="text-dark pl-3">
                        @ResourceManager.GetString("ElitePrivacyPolicy.Information.Address1")<br>
                        @ResourceManager.GetString("ElitePrivacyPolicy.Information.Address2")<br>
                        @ResourceManager.GetString("ElitePrivacyPolicy.Information.Address3")<br>
                    </address>
                    <p>@ResourceManager.GetString("ElitePrivacyPolicy.Information.Attentionto") <a href="mailto:info@eliteeducation-eg.com">info@eliteeducation-eg.com</a></p>
                    <p class="mb-0">@ResourceManager.GetString("ElitePrivacyPolicy.Information.Fordataprotection")  <a href="mailto:info@eliteeducation-eg.com">info@eliteeducation-eg.com</a></p>
                    <p>@ResourceManager.GetString("ElitePrivacyPolicy.Information.ForAnyquery") <a href="mailto:info@eliteeducation-eg.com">info@eliteeducation-eg.com</a>]]</p>
                </section>
            </div>
        </div>
    </div>

    <button id="toTop" type="button" class="position-fixed d-inline-block rounded-circle border-0" title="To top"></button>




    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            //$('body').scrollspy({target: ".navbar", offset: 50});
            var winWidth = $(window).outerWidth();
            //console.log(winWidth);
            $("#myNavbar a").on('click', function (event) {
                if (winWidth <= 414) {
                    $('html, body').animate({
                        scrollTop: eval($('#' + $(this).attr('data-target')).offset().top - 190)
                    }, 1000);
                } else {
                    $('html, body').animate({
                        scrollTop: eval($('#' + $(this).attr('data-target')).offset().top - 85)
                    }, 1000);
                }

                $("#myNavbar a").removeClass("active");
                $(this).toggleClass("active");
            });

            //back to top button
            var btn = $('#toTop');

            $(window).scroll(function () {
                if ($(window).scrollTop() > 300) {
                    btn.addClass('show');
                } else {
                    btn.removeClass('show');
                }
            });
            btn.on('click', function (e) {
                e.preventDefault();
                $('html, body').animate({ scrollTop: 0 }, '300');
            });

            $(".dropdown-menu a").click(function () {
                $(this).parents(".dropdown").find('.btn .text-wrap').html($(this).text());
                //$(this).parents(".dropdown").find('.btn').val($(this).data('value'));
            });
        });
    </script>

</body>

</html>