﻿@using Phoenix.Common.Localization
@{

    //Language helper
    var currentSystemLanguage = Phoenix.Common.Localization.LocalizationHelper.CurrentSystemLanguage;
    var langId = currentSystemLanguage.SystemLanguageId;
    var langCode = currentSystemLanguage.SystemLanguageCode;
    var langIsRightToLeft = currentSystemLanguage.IsRightToLeft;

}
<!DOCTYPE html>
<html lang="@langCode" dir="@(langIsRightToLeft ? "rtl" : "ltr")">

<head>
    <title>@ResourceManager.GetString("TermCondition.Information.TermsandConditions")</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet" />
    <link href="@(langId == 2 ? Url.Content("~/Content/VLE/css/bootstrap-rtl.css") : Url.Content("~/Content/VLE/css/bootstrap.min.css"))" rel="stylesheet">

    <style>
        html:lang(ar) ul li:before {
            left: initial;
            right: -28px;
        }

        html:lang(ar) #toTop {
            right: initial;
            left: 30px;
        }
        body {
            position: relative;
            font-family: 'Montserrat', sans-serif;
            color: #555758;
        }

        .text-regular {
            font-weight: 400;
        }

        .text-medium {
            font-weight: 500;
        }

        .text-semibold {
            font-weight: 600;
        }

        a {
            color: #5d3195;
        }

        .text-primary {
            color: #5d3195 !important;
        }

        p a, li a {
            text-decoration: underline;
        }

        button:focus, .btn:focus {
            outline: none;
            box-shadow: none;
        }

        .overflow-auto {
            scrollbar-width: thin;
            scrollbar-color: #a6a6a6 #d9d9d9;
            scrollbar-width: thin;
        }

            .overflow-auto::-webkit-scrollbar {
                width: 6px;
            }

            .overflow-auto::-webkit-scrollbar-track {
                border-radius: 5px;
                background: #d9d9d9;
            }

            .overflow-auto::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background: #a6a6a6;
                cursor: pointer;
            }

        header {
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
        }

        .quick-links {
            top: 105px;
        }

        .section-padding {
            padding: 50px 0;
        }

        ul {
            list-style-type: none;
            counter-reset: css-counters 0;
            margin-top: 15px;
        }

            ul li {
                position: relative;
                margin-bottom: 15px;
                word-break: break-all;
            }

                ul li:before {
                    counter-increment: css-counters;
                    content: counters(css-counters, ".") " ";
                    position: absolute;
                    left: -28px;
                    font-weight: 500;
                    color: #000;
                }

        .list-group {
            max-height: 75vh;
            font-size: 14px;
        }

            .list-group a:first-child {
                border-top: none;
            }

            .list-group a:last-child {
                border-bottom: none;
            }

            .list-group-item + .list-group-item.active, .list-group-item.active, .list-group a:hover {
                background: #5d3195;
                border-color: #5d3195;
                color: #fff;
            }

        #toTop {
            background: #5d3195;
            width: 50px;
            height: 50px;
            text-align: center;
            bottom: 30px;
            right: 30px;
            transition: all linear 0.3s;
            opacity: 0;
            visibility: hidden;
            z-index: 1000;
            transform: rotate(-90deg);
        }

            #toTop::after {
                content: "\279D";
                /* font-family: FontAwesome; */
                font-weight: normal;
                font-style: normal;
                font-size: 2em;
                line-height: 50px;
                color: #fff;
            }

            #toTop:hover {
                cursor: pointer;
            }

            #toTop:active {
                background: #5d3195;
            }

            #toTop.show {
                opacity: 1;
                visibility: visible;
            }

            #toTop:focus {
                outline: none;
                box-shadow: none;
            }

        .dropdown-menu {
            max-height: 296px;
            width: 100%;
        }
    </style>
</head>

<body>

    <header class="bg-white sticky-top">
        <div class="container-fluid">
            <div class="row py-3 border-bottom">
                <div class="col-md-6 col-sm-6 col-12 text-center text-sm-left">
                    <img src="img/svg/logo-colored.svg" style="max-height: 50px;" alt="">
                </div>
                <div class="col-md-6 col-sm-6 col-12 text-center text-sm-right mt-3 mt-sm-0">
                    <h3 class="mb-0 text-medium text-primary">@ResourceManager.GetString("TermCondition.Information.TermsandConditions")</h3>
                    <p class="mb-0 small text-black-50">@ResourceManager.GetString("TermCondition.Information.Updatedon")</p>
                </div>
            </div>
            <div class="row d-block d-md-none">
                <div class="col-12 bg-light">
                    <div class="navbar-collapse sticky-top quick-links p-0" id="myNavbar">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle w-100 py-3" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <span class="text-wrap">@ResourceManager.GetString("TermCondition.Information.QuickLinks")</span> <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu overflow-auto shadow-sm border-0 p-0" aria-labelledby="dropdownMenu1">
                                <a href="#." class="list-group-item list-group-item-action" data-target="q1">@ResourceManager.GetString("TermCondition.Information.Whocanusethesite")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q2">@ResourceManager.GetString("TermCondition.Information.Useofthesiteandusercodeofconduct")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q3">@ResourceManager.GetString("TermCondition.Information.Usergeneratedcontent")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q4">@ResourceManager.GetString("TermCondition.Information.Thirdpartycontent")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q5">@ResourceManager.GetString("TermCondition.Information.Linkstoothersites")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q6">@ResourceManager.GetString("TermCondition.Information.PopUps")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q7">@ResourceManager.GetString("TermCondition.Information.Intellectualproperty")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q8">@ResourceManager.GetString("TermCondition.Information.Accessibility")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q9">@ResourceManager.GetString("TermCondition.Information.Siteinformationanddowntime")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q10">@ResourceManager.GetString("TermCondition.Information.LiabilityandIndemnity")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q11">@ResourceManager.GetString("TermCondition.Information.Disputes")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q12">@ResourceManager.GetString("TermCondition.Information.General")</a>
                                <a href="#." class="list-group-item list-group-item-action" data-target="q13">@ResourceManager.GetString("TermCondition.Information.Contactus")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-12 border-right bg-light d-none d-md-block">
                <div class="navbar-collapse sticky-top quick-links p-0" id="myNavbar">
                    <h5 class="my-3">@ResourceManager.GetString("TermCondition.Information.QuickLinks")</h5>
                    <div class="list-group overflow-auto border-top border-bottom rounded">
                        <a href="#." class="list-group-item list-group-item-action" data-target="q1">@ResourceManager.GetString("TermCondition.Information.Whocanusethesite")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q2">@ResourceManager.GetString("TermCondition.Information.Useofthesiteandusercodeofconduct")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q3">@ResourceManager.GetString("TermCondition.Information.Usergeneratedcontent")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q4">@ResourceManager.GetString("TermCondition.Information.Thirdpartycontent")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q5">@ResourceManager.GetString("TermCondition.Information.Linkstoothersites")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q6">@ResourceManager.GetString("TermCondition.Information.PopUps")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q7">@ResourceManager.GetString("TermCondition.Information.Intellectualproperty")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q8">@ResourceManager.GetString("TermCondition.Information.Accessibility")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q9">@ResourceManager.GetString("TermCondition.Information.Siteinformationanddowntime")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q10">@ResourceManager.GetString("TermCondition.Information.LiabilityandIndemnity")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q11">@ResourceManager.GetString("TermCondition.Information.Disputes")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q12">@ResourceManager.GetString("TermCondition.Information.General")</a>
                        <a href="#." class="list-group-item list-group-item-action" data-target="q13">@ResourceManager.GetString("TermCondition.Information.Contactus")</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-12">
                <section id="" class="p-4 pb-0">
                    <p>@ResourceManager.GetString("TermCondition.Information.PhoenixClassroomDesc") <a href="https://gems.phoenixclassroom.com" target="_blank" rel="noopener noreferrer">https://gems.phoenixclassroom.com</a></p>
                    <p>@ResourceManager.GetString("TermCondition.Information.PhoenixClassroomDesc1") ("<strong>@ResourceManager.GetString("TermCondition.Information.TermsandConditions")</strong>") @ResourceManager.GetString("TermCondition.Information.PhoenixClassroomDesc2") ("<strong>@ResourceManager.GetString("TermCondition.Information.Site")</strong>").</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.PhoenixClassroomDesc3")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.PhoenixClassroomDesc4")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.PhoenixClassroomDesc5")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.PhoenixClassroomDesc6")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.PhoenixClassroomDesc7")</p>
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <tr>
                                <td style="width: 22%;">@ResourceManager.GetString("TermCondition.Information.RequestinformationaboutGEMS")</td>
                                <td>@ResourceManager.GetString("TermCondition.Information.RequestinformationaboutGEMSDesc")</td>
                            </tr>
                            <tr>
                                <td style="width: 22%;">@ResourceManager.GetString("TermCondition.Information.ViewourPrivacyPolicy")</td>
                                <td>@ResourceManager.GetString("TermCondition.Information.ViewourPrivacyPolicyDesc")</td>
                            </tr>
                            <tr>
                                <td style="width: 22%;">@ResourceManager.GetString("TermCondition.Information.ViewourSitetermsofuse")</td>
                                <td>@ResourceManager.GetString("TermCondition.Information.ViewourSitetermsofuseDesc")</td>
                            </tr>
                        </table>
                    </div>

                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q1">
                    <h5 class="text-primary">@ResourceManager.GetString("TermCondition.Information.Whocanusethesite")</h5>
                    <p>@ResourceManager.GetString("TermCondition.Information.WhocanusethesiteDesc")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.WhocanusethesiteDesc1")</p>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q2">
                    <h5 class="text-primary">@ResourceManager.GetString("TermCondition.Information.Useofthesiteandusercodeofconduct")</h5>
                    <p>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc1")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc2")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc3")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc4")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc5")</p>
                    <ul>
                        <li>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc6")</li>
                        <li>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc7")</li>
                        <li>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc8")</li>
                        <li>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc9")</li>
                        <li>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc10")</li>
                        <li>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc11")</li>
                        <li>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc12")</li>
                        <li>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc13")</li>
                        <li>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc14")</li>
                        <li>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc15")</li>
                        <li>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc16")</li>
                        <li>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc17")</li>
                        <li>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc18")</li>
                        <li>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc19")</li>
                        <li>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc20")</li>
                        <li>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc21")</li>
                    </ul>
                    <p>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc22")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc23")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.UseofthesiteandusercodeofconductDesc24")</p>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q3">
                    <h5 class="text-primary">@ResourceManager.GetString("TermCondition.Information.Usergeneratedcontent")</h5>
                    <p>@ResourceManager.GetString("TermCondition.Information.UsergeneratedcontentDesc")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.UsergeneratedcontentDesc1") </p>
                    <p>@ResourceManager.GetString("TermCondition.Information.UsergeneratedcontentDesc2")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.UsergeneratedcontentDesc3")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.UsergeneratedcontentDesc4")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.UsergeneratedcontentDesc5")</p>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q4">
                    <h5 class="text-primary">@ResourceManager.GetString("TermCondition.Information.Thirdpartycontent")</h5>
                    <p>@ResourceManager.GetString("TermCondition.Information.ThirdpartycontentDesc")"<strong>@ResourceManager.GetString("TermCondition.Information.ThirdPartyContent")</strong>").</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.ThirdpartycontentDesc1")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.ThirdpartycontentDesc2")</p>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q5">
                    <h5 class="text-primary">@ResourceManager.GetString("TermCondition.Information.Linkstoothersites")</h5>
                    <p>@ResourceManager.GetString("TermCondition.Information.LinkstoothersitesDesc") </p>
                    <p>@ResourceManager.GetString("TermCondition.Information.LinkstoothersitesDesc1")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.LinkstoothersitesDesc2")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.LinkstoothersitesDesc3") </p>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q6">
                    <h5 class="text-primary">@ResourceManager.GetString("TermCondition.Information.PopUps")</h5>
                    <p>@ResourceManager.GetString("TermCondition.Information.PopUpsDesc")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.PopUpsDesc1")</p>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q7">
                    <h5 class="text-primary">@ResourceManager.GetString("TermCondition.Information.Intellectualproperty")</h5>
                    <p>@ResourceManager.GetString("TermCondition.Information.IntellectualpropertyDesc")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.IntellectualpropertyDesc1")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.IntellectualpropertyDesc2")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.IntellectualpropertyDesc3")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.IntellectualpropertyDesc4")</p>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q8">
                    <h5 class="text-primary">@ResourceManager.GetString("TermCondition.Information.Accessibility")</h5>
                    <p>@ResourceManager.GetString("TermCondition.Information.AccessibilityDesc")</p>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q9">
                    <h5 class="text-primary">@ResourceManager.GetString("TermCondition.Information.Siteinformationanddowntime")</h5>
                    <p>@ResourceManager.GetString("TermCondition.Information.SiteinformationanddowntimeDesc")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.SiteinformationanddowntimeDesc1")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.SiteinformationanddowntimeDesc2")</p>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q10">
                    <h5 class="text-primary">@ResourceManager.GetString("TermCondition.Information.LiabilityandIndemnity")</h5>
                    <p>@ResourceManager.GetString("TermCondition.Information.LiabilityandIndemnityDesc")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.LiabilityandIndemnityDesc1")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.LiabilityandIndemnityDesc2")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.LiabilityandIndemnityDesc3")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.LiabilityandIndemnityDesc4")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.LiabilityandIndemnityDesc5")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.LiabilityandIndemnityDesc6")</p>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q11">
                    <h5 class="text-primary">@ResourceManager.GetString("TermCondition.Information.Disputes")</h5>
                    <p>@ResourceManager.GetString("TermCondition.Information.DisputesDesc")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.DisputesDesc1")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.DisputesDesc2")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.DisputesDesc3")</p>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q12">
                    <h5 class="text-primary">@ResourceManager.GetString("TermCondition.Information.General")</h5>
                    <p>@ResourceManager.GetString("TermCondition.Information.GeneralDesc")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.GeneralDesc1")</p>
                    <p>@ResourceManager.GetString("TermCondition.Information.GeneralDesc2")</p>
                </section>

                <hr class="m-0">
                <section class="section-padding px-4" id="q13">
                    <h5 class="text-primary">@ResourceManager.GetString("TermCondition.Information.ContactusDesc")</h5>
                    <p>@ResourceManager.GetString("TermCondition.Information.ContactusDesc1")</p>
                    <address class="text-dark pl-3">
                        @ResourceManager.GetString("TermCondition.Information.ContactusDesc2")<br>
                        @ResourceManager.GetString("TermCondition.Information.ContactusDesc3")<br>
                        @ResourceManager.GetString("TermCondition.Information.ContactusDesc4")<br>
                        @ResourceManager.GetString("TermCondition.Information.ContactusDesc5")<br>
                        @ResourceManager.GetString("TermCondition.Information.ContactusDesc6")
                    </address>
                    <p>@ResourceManager.GetString("TermCondition.Information.ContactusDesc7") <a href="mailto:phoenixclassroom@gemseducation.com">phoenixclassroom@gemseducation.com</a></p>
                </section>
            </div>
        </div>
    </div>

    <button id="toTop" type="button" class="position-fixed d-inline-block rounded-circle border-0" title="To top"></button>




    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            //$('body').scrollspy({target: ".navbar", offset: 50});
            var winWidth = $(window).outerWidth();
            //console.log(winWidth);
            $("#myNavbar a").on('click', function (event) {
                if (winWidth <= 414) {
                    $('html, body').animate({
                        scrollTop: eval($('#' + $(this).attr('data-target')).offset().top - 190)
                    }, 1000);
                } else {
                    $('html, body').animate({
                        scrollTop: eval($('#' + $(this).attr('data-target')).offset().top - 85)
                    }, 1000);
                }

                $("#myNavbar a").removeClass("active");
                $(this).toggleClass("active");
            });

            //back to top button
            var btn = $('#toTop');

            $(window).scroll(function () {
                if ($(window).scrollTop() > 300) {
                    btn.addClass('show');
                } else {
                    btn.removeClass('show');
                }
            });
            btn.on('click', function (e) {
                e.preventDefault();
                $('html, body').animate({ scrollTop: 0 }, '300');
            });

            $(".dropdown-menu a").click(function () {
                $(this).parents(".dropdown").find('.btn .text-wrap').html($(this).text());
                //$(this).parents(".dropdown").find('.btn').val($(this).data('value'));
            });
        });
    </script>

</body>

</html>
