﻿@model IEnumerable<Phoenix.Common.Models.UserNotificationView>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@{
    ViewBag.Title = "Pheonix VLE";
    if (@SessionHelper.CurrentSession.IsStudent())
    {
        Layout = "~/Views/Shared/_StudentLayout.cshtml";
    }
    else if (SessionHelper.CurrentSession.IsParent())
    {
        Layout = "~/Views/Shared/_ParentLayout.cshtml";
    }
    else if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
    {
        Layout = "~/Views/Shared/_TeacherLayout.cshtml";
    }

}
<div id="allNotifications">
    @{
        Html.RenderAction("AllNotifications", "Home");
    }
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts{
    <script>
        $('#breadcrumbActions').html('<button type="button" onclick="globalFunctions.readAllNotification()" class="btn btn-sm btn-primary rounded-6x">@ResourceManager.GetString("Shared.Labels.MarkAllAsRead")</button>');
    </script>
}
