﻿@model Phoenix.VLE.Web.Models.EditModels.RSSFeedEdit
    @{
        ViewBag.Title = Model.RSSTitle;
        Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    }

<div class="container">
    <h2>@Model.RSSTitle</h2>
    @*<p></p>*@
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">@Model.RSSTitle</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">@Model.RSSLink</div>
                <div class="panel-footer">@Model.RSSDescription</div>
            </div>
        </div>
    </div>
</div>