﻿@model Phoenix.VLE.Web.EditModels.BlogEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers

@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.BlogId)
@Html.HiddenFor(x => x.SchoolId)
@Html.HiddenFor(x => x.IsAddMode)
@Html.HiddenFor(x => x.BlogTypeId, new { Value = 3 })

<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body blog-post exemplarWall" id="blogForm">
                <div class="title-with-fields pt-1 pb-1">
                    <h3 id="groupName" class="card-title"></h3>
                    <button type="button" id="AddWallBtn" class="btn btn-primary m-0 expand-blog-editor waves-effect waves-light">@ResourceManager.GetString("School.Wall.AddWall")</button>
                </div>
                <div class="card-heading column-padding p-0 clearfix">
                    <div class="add-post-content border-0 w-100">
                        <!-- <span class="expand-blog-editor">Add new blog...</span> -->
                        <div class="blog-editor column-padding pt-3 pb-3">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="md-form md-outline mb-2">
                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                                        <label for="Title" class="active">@ResourceManager.GetString("School.Blog.Title")</label>
                                        @Html.ValidationMessageFor(x => x.Title)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="md-form md-outline mb-2">
                                        <textarea id="Description" name="Description" class="md-textarea form-control" rows="3">@Model.Description</textarea>
                                        <label for="Description" class="active">@ResourceManager.GetString("School.Blog.Description")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="md-form md-outline mb-3">
                                        @Html.TextBoxFor(x => x.EmbedUrl, new { @class = "form-control" })
                                        <label for="EmbedUrl" class="active">@ResourceManager.GetString("School.Blog.EmbedUrl")</label>
                                        @Html.ValidationMessageFor(x => x.EmbedUrl)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-8 col-8">
                                   
                                         <div id="newImg" style="display:@(string.IsNullOrEmpty(Model.BlogImage) ? "inline-block" : "none"); ">
                                        <a href="javascript:void(0)" class="upload-img trigger-fileUploader" id="ExemplarUploader" data-toggle="tooltip" data-title="@ResourceManager.GetString("Shared.Labels.ImageUpload")" data-original-title="" title="">
                                             <img src="@Url.Content("/Content/VLE/img/svg/ic-file-upload.svg")" class="svg">
                                        </a>
                                         </div>
                                   
                                         <div id="imgExist" style="display:@(string.IsNullOrEmpty(Model.BlogImage) ? "none" : "inline-block"); ">
                                             @if (!string.IsNullOrEmpty(Model.BlogImage))
                                             {
                                                 var filePath = PhoenixConfiguration.Instance.ReadFilePath + Model.BlogImage;
                                                 if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(Model.BlogImage))
                                                 {
                                                     <a href="javascript:void(0)" class="upload-img border trigger-fileUploader" id="ExemplarUploader" data-toggle="tooltip" data-title="@ResourceManager.GetString("Shared.Labels.ImageUpload")">
                                                         <img src="@Url.Content(filePath)">
                                                     </a>
                                                 }
                                                 else
                                                 {
                                                     <a href="javascript:void(0)" class="upload-img border trigger-fileUploader" id="ExemplarUploader" data-toggle="tooltip" data-title="@ResourceManager.GetString("Shared.Labels.ImageUpload")">
                                                         <span class=" d-block  p-2 text-center">
                                                             <i class="fas  fa-file ic-file mr-1"></i>
                                                         </span>
                                                     </a>
                                                 }
                                             }
                                         </div>
                                                                           
                                    
                                </div>
                                <div class="col-lg-6 col-md-4 col-4 text-md-right">
                                    <span class="waves-input-wrapper waves-effect waves-light">
                                        <input type="button" class="btn btn-primary m-0 closeWallForm" data-publish="1" value="@ResourceManager.GetString("Shared.Buttons.Cancel")">
                                        <input type="submit" class="btn btn-primary m-0 submit" data-publish="1" value="@ResourceManager.GetString("School.Blog.Publish")">

                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>