﻿@model Phoenix.VLE.Web.EditModels.BlogEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers

@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.BlogId)
@Html.HiddenFor(x => x.SchoolId)
@Html.HiddenFor(x => x.IsAddMode)
@Html.HiddenFor(x => x.BlogTypeId, new { Value = 1 })
@{
    var firstGroupName = Model.GroupList.Any() && Model.GroupList.Count() > 1 ? Model.GroupList.Skip(1).FirstOrDefault().Text : null;
    var rnd = DateTime.Now.Ticks.ToString();
}
<!-- add post -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body blog-post">
                <h3 class="card-title">@ResourceManager.GetString("School.YoYoBlog.AddNewBlogs") <span class="float-right" id="groupName">@firstGroupName</span></h3>
                <div class="card-heading column-padding clearfix pt-3 pb-3">
                    <img id="blogAuthor" class="rounded-circle float-left d-none d-sm-inline-block" src="img/avatar-2.jpg" alt="" />
                    <div id="blogForm" class="add-post-content">

                        <span class="expand-blog-editor">@ResourceManager.GetString("School.YoYoBlog.AddNewBlogs")...</span>
                        <div class="blog-editor border-top p-2">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="md-form md-outline mb-2">
                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                                        <label for="Title" class="active">@ResourceManager.GetString("School.Blog.Title")</label>
                                        @Html.ValidationMessageFor(x => x.Title)
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="md-form md-outline mb-3">
                                        @Html.DropDownListFor(x => x.CategoryId, Model.CategoryList, new { @class = "selectpicker", @placeholder = ResourceManager.GetString("School.Blog.Category") })
                                        <label for="CategoryId" class="active select-label">@ResourceManager.GetString("School.Blog.Category")</label>
                                        @Html.ValidationMessageFor(x => x.CategoryId)
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="md-form md-outline date-time-picker field-with-icon mb-0 mt-1">
                                        <i class="far fa-calendar-alt active"></i>
                                        @*@Html.TextBoxFor(x => x.CloseDiscussionDate, new { htmlAttributes = new { @class = "form-control date-picker", @id= "CloseDiscussionDate" } })*@
                                        <input type="text" id="CloseDiscussionDate" autocomplete="off" name="CloseDiscussionDate" placeholder="Select Date" class="form-control date-picker" value="@Model.CloseDiscussionDate.ToString("dd/MMM/yyyy")">
                                        <label for="CloseDiscussionDate" class="active">@ResourceManager.GetString("School.Blog.CloseDiscussionDate")</label>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="custom-control custom-checkbox custom-control-inline mt-2 mr-0">
                                        @Html.CheckBoxFor(x => x.ModerationRequired, new { @class = "custom-control-input" })
                                        <label for="ModerationRequired" class="custom-control-label">@ResourceManager.GetString("School.Blog.ModerationRequired")</label>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="md-form md-outline mb-3">
                                        @Html.DropDownListFor(x => x.EnableCommentById, Model.EnableCommentForList, new { @class = "selectpicker", @placeholder = ResourceManager.GetString("School.Blog.EnableCommentForList") })
                                        <label for="EnableCommetById" class="active select-label">@ResourceManager.GetString("School.Blog.EnableCommentForList")</label>
                                        @Html.ValidationMessageFor(x => x.CategoryId)
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="md-form md-outline mb-3">
                                        @Html.TextBoxFor(x => x.EmbedUrl, new { @class = "form-control" })
                                        <label for="EmbedUrl" class="active">@ResourceManager.GetString("School.Blog.EmbedUrl")</label>
                                        @Html.ValidationMessageFor(x => x.EmbedUrl)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="md-form md-outline mb-2">
                                        <textarea class="form-control" cols="20" data-val="true"
                                                  data-val-required="Mandatory field" id="Description" name="Description"
                                                  placeholder="@ResourceManager.GetString("School.Blog.Description")" rows="3">
                                @Html.Raw(Model.Description)
                        </textarea>
                                        <label for="Description" class="active">@ResourceManager.GetString("School.Blog.Description")</label>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <a id="imgUploader" href="javascript:void(0)" class="upload-img" data-toggle="tooltip" data-title="@ResourceManager.GetString("School.Blog.BlogImage")">
                                        <img src="@Url.Content("~/Content/VLE/img/svg/ic-upload-img.svg")" class="svg">
                                    </a>
                                    <a id="docUploader" href="javascript:void(0)" class="upload-img ml-2" data-toggle="tooltip" data-title="@ResourceManager.GetString("Shared.Labels.AttachDocuments")">
                                        <img src="@Url.Content("~/Content/VLE/img/svg/ic-paperclip.svg")" class="svg">
                                    </a>
                                </div>

                                <div class="col-lg-6 col-md-6 col-12 text-lg-right">
                                    <input id="btnSave" type="submit" data-publish="0" class="btn btn-outline-primary m-0 mr-1 submit" value="@ResourceManager.GetString("School.YoYoBlog.Save")">
                                    <input id="btnPost" type="submit" data-publish="1" class="btn btn-primary m-0 submit" value="@ResourceManager.GetString("School.YoYoBlog.Post")">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add post end -->
