﻿@model List<Phoenix.Models.BlogCloudFile>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Localization

@{
    var imageList = Model.AddImageVideoFiles();
    var otherFileList = Model.AddNonMediaFiles();
    var fileDetails = ViewBag.filedetails ?? "";
}

<input type="hidden" id="blogCloudFilesDetails" name="blogCloudFilesDetails" value="@fileDetails" />

@if (Model.Count > 0)
{
    <div class="row row-cols-4 row-cols-sm-4 row-cols-md-3 row-cols-lg-6" id="lightgallery">
        @foreach (var item in imageList)
        {
            string filePath = "";
            if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
            {
                filePath = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName);
            }
            else
            {
                filePath = item.UploadedFileName;
            }
            <div class="col px-2 divBlogCloudFile">
                <div class="card rounded-2x">
                    @{
                        if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.FileName))
                        {
                            <a href="@filePath" target="_blank" class="attachedFile d-flex align-items-center justify-content-center galleryImg" data-sub-html="Lorem ipsum">
                                @if (item.FileName.ToLower().Contains(".png"))
                                {
                                    <img class="card-img-top" src="~/Content/VLE/img/svg/file-type-png.svg" alt="@item.FileName">
                                }
                                else
                                {
                                    <img class="card-img-top" src="~/Content/VLE/img/svg/file-type-jpg.svg" alt="@item.FileName">
                                }

                            </a>
                        }
                        else if (Phoenix.Common.Helpers.CommonHelper.CheckVideoExtension(item.FileName))
                        {
                            <span class="video galleryImg" data-poster="@Constants.DefaultVideoImage">
                                <a href="@filePath" target="_blank" class="attachedFile d-flex align-items-center justify-content-center galleryImg">
                                    <img src="/Content/VLE/img/svg/file-type-video.svg" class="img-fluid">
                                </a>
                            </span>
                            <div style="display:none;">
                                <video class="lg-video-object lg-html5" controls="" preload="none">
                                    <source src="@filePath" type="video/mp4">
                                    @ResourceManager.GetString("Shared.Messages.HTMLVideoUnsupported")
                                </video>
                            </div>
                        }
                    }
                    <div class="card-body position-relative">
                        <h4 class="card-title px-0 mx-3 py-3 wrapText" data-toggle='tooltip' data-placement='top' title='@item.FileName'>
                            @item.FileName
                        </h4>
                        <a href="javascript:void(0)" data-filepath="@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : item.UploadedFileName)" onclick="deleteCloudFile(this,'@item.FileName')" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle" data-fileName="@item.FileName"><i class="far fa-trash-alt"></i></a>
                    </div>

                </div>
            </div>
        }
    </div>
    <div class="row row-cols-4 row-cols-sm-4 row-cols-md-3 row-cols-lg-6">
        @foreach (var item in otherFileList)
        {
            if (!item.FileName.ToLower().Contains(".wav"))
            {
                string filePath = "";
                if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                {
                    filePath = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName);
                }
                else
                {
                    filePath = item.UploadedFileName;
                }
                var fileIcon = String.Empty;
                var fileClass = String.Empty;
                <div class="col px-2 divBlogCloudFile">
                    <div class="card rounded-2x">
                        @if (item.FileName.ToLower().Contains(".pdf"))
                        {
                            fileIcon = "/Content/VLE/img/svg/file-type-pdf.svg";
                            fileClass = "file-type-pdf";
                        }
                        else if (item.FileName.ToLower().Contains(".xls") || item.FileName.Contains(".xlsx"))
                        {
                            fileIcon = "/Content/VLE/img/svg/file-type-excel.svg";
                            fileClass = "file-type-excel";
                        }
                        else if (item.FileName.ToLower().Contains(".doc") || item.FileName.Contains(".docx"))
                        {
                            fileIcon = "/Content/VLE/img/svg/file-type-word.svg";
                            fileClass = "file-type-word";
                        }
                        else if (item.FileName.ToLower().Contains(".mp3"))
                        {
                            fileIcon = "/Content/VLE/img/svg/file-type-audio.svg";
                            fileClass = "file-type-audio";
                        }
                        else if (item.FileName.ToLower().Contains(".ppt"))
                        {
                            fileIcon = "/Content/VLE/img/svg/file-type-ppt.svg";
                            fileClass = "file-type-ppt";
                        }
                        else
                        {
                            fileIcon = "/Content/VLE/img/svg/file-type-unknown.svg";
                            fileClass = "file-type-unknown";
                        }
                        <a href="@filePath" target="_blank" class="attachedFile d-flex align-items-center justify-content-center @fileClass" id="ViewCloudFile" data-uploadedPath="@item.UploadedFileName" data-fileName="@EncryptDecryptHelper.EncryptUrl(item.FileName)">
                            <img src="@fileIcon" class="svg" />
                        </a>
                        <div class="card-body position-relative">
                            <h4 class="card-title px-0 mx-3 py-3 wrapText" data-toggle='tooltip' data-placement='top' title='@item.FileName'>

                                @item.FileName
                            </h4>
                            <a href="javascript:void(0)" data-filepath="@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.UploadedFileName) : item.UploadedFileName)" onclick="deleteCloudFile(this,'@item.FileName')" class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle" data-fileName="@item.FileName"><i class="far fa-trash-alt"></i></a>
                        </div>

                    </div>
                </div>
            }
        }
    </div>
}

<style>
    .wrapText {
        width: 80% !important;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>
