﻿@model Phoenix.Models.Blog
@using Phoenix.Common.Enums
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@using Phoenix.VLE.Web.Services
@{

    ViewBag.Title = ResourceManager.GetString("School.Blog.ViewBlog");
    var rnd = DateTime.Now.Ticks.ToString();

    var isLike = Html.Action("GetBlogLikeStatusForUser", "Blog", new { @id = Model.BlogId, @area = "SchoolInfo" });
    var enableCommentSection = false;
    if ((SessionHelper.CurrentSession.IsStudent() && Model.EnableCommentById == (int)EnableCommentForCodes.Student) || (SessionHelper.CurrentSession.IsParent() && Model.EnableCommentById == (int)EnableCommentForCodes.Parent) || Model.EnableCommentById == (int)EnableCommentForCodes.All || (SessionHelper.CurrentSession.IsTeacher() && Model.EnableCommentById != (int)EnableCommentForCodes.None) || (SessionHelper.CurrentSession.IsAdmin && Model.EnableCommentById != (int)EnableCommentForCodes.None))
    {
        enableCommentSection = true;
    }

    bool? publish = SessionHelper.CurrentSession.UserTypeId >= 3 ? (bool?)null : true;
    var commentList = new BlogCommentService().GetBlogCommentByBlogId((int)Model.BlogId, publish);
    var IsCustomPermission = Session["CanEdit"] != null ? Convert.ToBoolean(Session["CanEdit"]) : false;

    var fileModule = new FileService().GetFileManagementModules().FirstOrDefault(r => r.ModuleName.Contains("Chatter"));
    var files = new FileService().GetFilesBySectionId((int)Model.BlogId, fileModule.ModuleId, true);
}


<!-- Blog single page content start -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="blog-content-sec">
                    <div class="row">

                        <div class="col-lg-8 col-md-8 col-12">
                            <h3 class="card-title border-0">@Model.Title</h3>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="blog-meta mt-3">
                                <ul>
                                    <li><i class="far fa-user"></i> @Model.CreatedByName</li>
                                    @if (Model.CategoryId > 0)
                                    {
                                        <li><i class="fas fa-tag"></i> @Model.Category</li>
                                    }

                                    <li><i class="far fa-calendar-alt"></i>  @Model.CreatedOn.ToString("dd MMM yyyy")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="column-padding pb-3 clearfix blog-details">
                                @if (!string.IsNullOrWhiteSpace(Model.BlogImage))
                                {
                                    <div class="banner-img mr-4 mb-3">
                                        <img src="@(PhoenixConfiguration.Instance.ReadFilePath + Model.BlogImage)" alt="@ResourceManager.GetString("School.Blog.Phoenix")" class="img-fluid">
                                    </div>
                                }
                                @Html.Raw(HttpUtility.HtmlDecode(Model.Description))

                                @if (!string.IsNullOrWhiteSpace(Model.EmbedUrl))
                                {
                                    var embedLink = Model.EmbedUrl.StartsWith("http://") || Model.EmbedUrl.StartsWith("https://") ? Model.EmbedUrl : "//" + Model.EmbedUrl;

                                    <a href="@embedLink" class="read-more" target="_blank"> @ResourceManager.GetString("School.Blog.CheckOutLink") <i class="fas fa-external-link-alt ml-2"></i></a>
                                }
                                @foreach (var f in files)
                                {
                                    var filePath = PhoenixConfiguration.Instance.ReadFilePath + f.FilePath;
                                    <a href="javascript:void(0)" id="btnViewFile" data-id="@EncryptDecryptHelper.EncryptUrl(f.FileId)" target="_blank" class="wordbreak mr-2">  <i class="@f.Icon mr-1"></i>@f.FileName</a>
                                }
                            </div>
                        </div>
                    </div>
                    <hr class="mt-0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="blog-post">
                                <div class="card-footer column-padding pb-3">
                                    <a onclick="blog.likeBlog(@Model.BlogId,'@(isLike.ToString() == "True"?"False":"True")')" href="javascript:void(0)" class="btn m-0 mr-2 @(isLike.ToString() == "True"?"active":"") ">
                                        <i class="far fa-thumbs-up"></i> @Model.TotalLikes @ResourceManager.GetString("School.YoYoBlog.Likes")
                                    </a>

                                    @if (enableCommentSection && IsCustomPermission)
                                    {
                                        <a href="javascript:void(0)" class="btn m-0 @(Model.TotalComments > 0 ? "active" : "") ">
                                            <i class="far fa-comment-alt"></i> @Model.TotalComments @ResourceManager.GetString("School.YoYoBlog.Comments")
                                        </a>
                                        if (Model.CloseDiscussionDate > DateTime.Now)
                                        {
                                            <div class="input-placeholder"> @ResourceManager.GetString("School.Blog.AddComment")</div>
                                        }
                                    }
                                </div>
                                @if (enableCommentSection)
                                {
                                    Html.RenderPartial("_AddComment", new ViewDataDictionary { { "BlogId", Model.BlogId } });


                                    <!-- Blog comment end -->
                                    <!-- Blog comment listing start -->
                                    <div id="commentSection" data-blogId="@Model.BlogId" class="comment-wrrapper pt-3 pb-3 column-padding border-top">
                                        @{ Html.RenderPartial("_ViewBlogComments", commentList); }
                                    </div>
                                    <!-- Blog comment listing end -->
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

