﻿
@model List<Phoenix.Models.Blog>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers

<input value="@Model.Count" type="hidden" id="NumberOfExemplars" />
<input value="20" type="hidden" id="LimitForRecords" />
<div class="row">
    <div class="col-lg-12 col-12">
        <div class="grid">
            @foreach (var b in Model)
            {
                var IsCustomPermission = Session["CanEdit"] != null ? Convert.ToBoolean(Session["CanEdit"]) : false;

                <div class="item" data-id="@b.BlogId" sortorder="@b.SortOrder">
                    <div class="item-content position-relative">
                        <div class="content">
                            @if ((SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher()) && IsCustomPermission)
                            {
                                <a href="javascript:void(0)" onclick="exemplar.editExemplar(@b.BlogId)" class="position-absolute actionTrigger editEntry"><i class="fas fa-pencil-alt"></i></a>
                                <a href="javascript:void(0)" class="position-absolute actionTrigger" onclick="exemplar.deleteExemplar($(this),@b.BlogId)"><i class="far fa-trash-alt"></i></a>
                            }
                                <h3 class="wall-title text-medium column-padding pt-3 pb-3 m-0">@b.Title</h3>
                                @if (!string.IsNullOrWhiteSpace(b.Description))
                                {
                                    <div class="column-padding">
                                        <p>@b.Description</p>
                                    </div>
                                }
                            </div>
                        @if (!string.IsNullOrEmpty(b.BlogImage))
                        {
                            var filePath = PhoenixConfiguration.Instance.ReadFilePath + b.BlogImage;

                            if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(b.BlogImage))
                            {
                                <div class="image-wrapper position-relative" >
                                    @if (!string.IsNullOrWhiteSpace(b.EmbedUrl))
                                    {
                                        var embedLink = b.EmbedUrl.StartsWith("http://") || b.EmbedUrl.StartsWith("https://") ? b.EmbedUrl : "//" + b.EmbedUrl;
                                         <a href="@embedLink" class="position-absolute actionTrigger" target="_blank"><small><i class="fas fa-external-link-alt"></i></small></a>
                                    }
                                   
                                    <a href="javascript:void(0)" data-id="@EncryptDecryptHelper.EncryptUrl(b.BlogId)" class="wallView">
                                        <img src="@filePath" class="img-fluid ">
                                    </a>
                                </div>
                            }
                            else
                            {
                                
                                <div class="image-wrapper position-relative">
                                    @if (!string.IsNullOrWhiteSpace(b.EmbedUrl))
                                    {
                                        var embedLink = b.EmbedUrl.StartsWith("http://") || b.EmbedUrl.StartsWith("https://") ? b.EmbedUrl : "//" + b.EmbedUrl;
                                        <a href="@embedLink" class="position-absolute actionTrigger" target="_blank"><small><i class="fas fa-external-link-alt"></i></small></a>
                                    }
                                    <a href="javascript:void(0)" data-id="@EncryptDecryptHelper.EncryptUrl(b.BlogId)" class="wallView">
                                        <span class="file-pdf d-block file-pdf p-3 text-center">
                                            <i class="fas @b.Icon mr-1"></i>
                                        </span>
                                    </a>

                                </div>
                                

                            }
                        }

                    </div>
                </div>
            }
        </div>
    </div>
</div>