﻿@model IEnumerable<Phoenix.Models.Chat>
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization;

<style>
    .my-List > .mCustomScrollBox {
        max-height: 250px !important;
    }
</style>

<div class="row mb-3">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="section-title with-fields">
            <h3>@ResourceManager.GetString("Chatter.Chatter.mycontacts")</h3>
        </div>
        <div class="card rounded-2x column-padding p-0 overflow-hidden">
            <div class="search-with-bg bg-white border rounded-4x mx-2 my-2">
                <span class="icon-search"></span>
                <input type="search" class="searchfield" placeholder="Search" id="txtContactSearch">
            </div>
            <div class="card-body">
                <div class="chat-list my-contact user-chat-block my-List">
                    @foreach (var item in Model)
                    {
                        var name = item.ToUser;
                        var p = name.Replace(" ", "").ToString().Replace("/", "");
                        <a id='@p' href="/schoolinfo/chat/chat?Id=@EncryptDecryptHelper.EncryptUrl(item.ToUserId.ToString())&typem=@EncryptDecryptHelper.EncryptUrl("MyContact")" class="chat-user away-user align-items-center pt-3 pb-3">
                            <div class="chat-img-wrap position-relative">
                                <img class="img-fluid rounded-circle" src="@item.ToUserProfileImage" alt="Classroom">
                            </div>
                            <h4 class="text-medium">
                                @name
                            </h4>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js")
@Scripts.Render("https://code.jquery.com/ui/1.12.1/jquery-ui.js")
@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollbar/0.2.11/jquery.scrollbar.min.js")
@Scripts.Render("~/Content/VLE/js/jquery.mCustomScrollbar.concat.min.js")


<script>
    $(function ($, undefined) {
        $('#txtContactSearch').keyup(function () {
            if ($('#txtContactSearch').val().length > 2) {
                $.ajax({
                    url: "/SchoolInfo/Blog/MyContactSearch",
                    data: { 'searchString': $('#txtContactSearch').val() },
                    type: "GET",
                    success: function (data) {
                        $("#ContactList").mCustomScrollbar({
                            scrollButtons: {
                                enable: true
                            }
                        });
                        $('#ContactList').mCustomScrollbar("destroy");
                        $('#ContactList').html('');
                        $('#ContactList').html(data);
                        $(".my-contact").mCustomScrollbar({
                            autoHideScrollbar: true,
                            autoExpandScrollbar: true,
                            scrollbarPosition: "outside",
                        });

                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
        });


    });
</script>
