﻿@model IEnumerable<Phoenix.Models.RecentUserActivity>
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization;
@{
    #region collection of icons font awesomeaa
    Dictionary<string, string>
    icons = new Dictionary<string, string>
        ();
    icons.Add("doc,docx", "<i class=\"fas fa-2x fa-file-word ic-file-word color-doc\"></i>");
    icons.Add("xls,xlsx", "<i class=\"fas fa-2x fa-file-excel ic-file-excel color-excel\"></i>");
    icons.Add("ppt,pptx", "<i class=\"fas color-ppt fa-2x fa-file-powerpoint ic-file-ppt\"></i>");
    icons.Add("pdf", "<i class=\"fas fa-2x fa-file-pdf ic-file-pdf color-pdf\"></i>");
    icons.Add("zip,rar", "<i class=\"fas fa-2x fa-file-archive ic-file text-primary\"></i>");
    icons.Add("htm,html", "<i class=\"fas fa-2x fa-file-code ic-file text-primary\"></i>");
    icons.Add("txt,rtf", "<i class=\"fas fa-2x fa-file-alt ic-file color-txt\"></i>");
    icons.Add("mov,mp4,avi", "<i class=\"fas fa-2x fa-file-video ic-file color-video\"></i>");
    icons.Add("mp3", "<i class=\"fas fa-2x fa-file-audio ic-file color-audio\"></i>");
    icons.Add("jpg,jpeg,gif,png", "<i class=\"fas fa-2x fa-file-image ic-file-img color-image\"></i>");
    icons.Add("csv", "<i class=\"fas filled-file-icon  fa-2x fa-file-csv ic-file-csv color-csv\"></i>");
    #endregion
}

<style>


    @@media (max-width: 575.98px) {
        .activity-drawer-container {
            min-width: 320px;
            width: 100% !important;
        }
    }

    .ms-travarse > .mCustomScrollBox {
        max-height: 100% !important;
    }

    .chatListWrap {
        height: 250px !important;
    }

    .wrap {
        word-break: break-word;
    }

    .filled-file-icon {
        color: #5d3195;
    }
</style>
<div class="chat-list-card mt-4">
    <div class="outer-row">
        <div class="section-title outer-title">
            <h3>@ResourceManager.GetString("Chatter.Chatter.recentactivity")</h3>
        </div>
        @if (Model.Any())
        {
    <a href="#" class="text-medium text-primary trigger-activity text-button p-0" id="ViewALL">@ResourceManager.GetString("Shared.Buttons.ViewAll")</a>
        }

    </div>
    <div class="card">
        <ul class="chat-list chatListWrap mt-0">
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    if (!String.IsNullOrEmpty(item.Title?.Trim()))
                    {
                        var imgPath = item.ProfileImage;

                        if (!string.IsNullOrWhiteSpace(item.ProfileImage))
                        {
                            if (item.ProfileImage.Contains("avatar"))
                            {
                                imgPath = item.ProfileImage;
                            }
                            //imgPath = "/Content/VLE/img/default-avatar.jpg";
                            else if (item.UserTypeId == 1)
                            {
                                imgPath = Constants.StudentImagesPath + item.ProfileImage;
                            }
                            else if (item.UserTypeId == 2)
                            {
                                imgPath = PhoenixConfiguration.Instance.ReadFilePath + Constants.ParentProfilePath + item.ProfileImage;
                            }
                            else
                            {
                                imgPath = PhoenixConfiguration.Instance.ReadFilePath + Constants.TeacherProfilePath + item.ProfileImage;
                            }
                        }


                        var functionDesign = "BindRecentActivityItem(" + "" + item.Id + "" + "," + "'" + item.CreatedBy + "'" + "," + "'" + item.Types + "'" + ")";

                        var href = "#";
                        if (item.Types == "user")
                        {
                            functionDesign = "";
                           href = "/schoolinfo/chat/chat?Id=" + @EncryptDecryptHelper.EncryptUrl(item.userId.ToString()) + "&typem=" + @EncryptDecryptHelper.EncryptUrl("Recent") + "&IsGroup=" + @EncryptDecryptHelper.EncryptUrl(item.IsGroup.ToString()) + "&groupId=" + @EncryptDecryptHelper.EncryptUrl(item.GroupId.ToString());
                        }

                        <li class="column-padding py-2">
                            <a href="@href" class="d-flex align-items-top w-100" onclick="@functionDesign">
                                <div class="defaultAvatar position-relative mr-2">
                                    <img src="@imgPath" class="img-fluid rounded-circle" alt="">
                                </div>
                                <div class="student-info">
                                    <p class="mb-0">
                                        <span class="text-bold wrap">@item.UserName</span>
                                        @item.ActivityType

                                        @if (item.IsFile == 1)
                                        {
                                            string[] arr = item.Title.Split('_');
                                            string fname = arr[arr.Length - 1];
                                            string fileExtension = fname.Substring(fname.IndexOf(".") + 1);

                                            if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(fname))
                                            {

                                                if (!string.IsNullOrEmpty(item.PhysicalFilePath))
                                                {
                                                    var fileIcon1 = icons.Any(x => x.Key.ToLower().Contains(fileExtension?.ToLower())) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(fileExtension?.ToLower())).Value : "<i class=\"fas filled-file-icon fa-2x fa-file\"></i>";
                                                    var filepath = CommonHelper.GetFileURL((short)item.ResourceFileTypeId, item.PhysicalFilePath, false, EncryptDecryptHelper.EncryptUrl(item.FileId.ToString()), "blog");
                                                    @*<img src="@filepath" class="img-fluid" style="height:24px !important;width:24px !important">*@
                                                    <span class="text-semibold wrap">
                                                        @Html.Raw(fileIcon1)
                                                    </span>
                                                }
                                                else
                                                {
                                                    var fileIcon1 = icons.Any(x => x.Key.ToLower().Contains(fileExtension?.ToLower())) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(fileExtension?.ToLower())).Value : "<i class=\"fas filled-file-icon fa-2x fa-file\"></i>";
                                                    <span class="text-semibold wrap">
                                                        @Html.Raw(fileIcon1)
                                                    </span>

                                                }
                                            }
                                            else
                                            {
                                                var fileIcon1 = icons.Any(x => x.Key.ToLower().Contains(fileExtension?.ToLower())) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(fileExtension?.ToLower())).Value : "<i class=\"fas filled-file-icon fa-2x fa-file\"></i>";
                                                <span class="text-semibold wrap">
                                                    @Html.Raw(fileIcon1)
                                                </span>
                                            }

                                        }
                                        else if (item.IsFile == 0)
                                        {
                                            <span class="text-semibold wrap">
                                                @if (!String.IsNullOrEmpty(item.Title))
                                                {
                                                    var message = EncryptDecryptHelper.Decrypt(item.Title.ToString());
                                                    <span><b>"</b></span>@(message?.Length > 49 ? message?.Substring(0, 49) + "..." : message)<span><b>"</b></span>
                                                }
                                                else
                                                {
                                                    <span class="text-semibold wrap">
                                                        @*"@(item.Title?.Length > 49 ? item.Title?.Substring(0,49)+"..." : item.Title)<b>"</b>*@
                                                    </span>
                                                }
                                            </span>
                                        }
                                        else //for BlogComment
                                        {
                                            if (!String.IsNullOrEmpty(item.Title?.Trim()))
                                            {
                                                <span class="text-semibold wrap">
                                                    "@(item.Title?.Length > 40 ? item.Title?.Substring(0, 40) + "..." : item.Title)<b>"</b>
                                                </span>
                                            }
                                        }
                                    </p>
                                    <span class="d-block">@item.MessageHour</span>
                                </div>
                            </a>
                        </li>
                    }


                }
            }
            else
            {
                <li class="no-hover-list">
                    <div class="no-data-found-container content column-padding py-3">
                        <span class="no-data-found text-bold mx-auto my-auto mt-1 d-block">
                            @ResourceManager.GetString("Shared.Messages.NoDataFound")
                        </span>
                    </div>
                </li>
            }
        </ul>

    </div>
</div>

<div class="z-depth-1 activity-drawer-container" id="recentActivities">
    <div class="activity-holder ">
        <div class="row column-padding pt-3 pb-3 drawer-header">
            <div class="col-lg-11 col-md-11 col-11">
                <h2 class="m-0">@ResourceManager.GetString("Chatter.Chatter.AllActivities")</h2>
            </div>
            <div class="col-lg-1 col-md-1 col-1 text-right">
                <a href="javascript:void(0)" class="closeActivityDrawer"><i class="fas fa-times"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <ul class="activity-drawer activity-all ms-travarse activity-list">
                    @foreach (var items in Model)
                    {
                        if (!String.IsNullOrEmpty(items.Title?.Trim()))
                        {
                            var imgPath = items.ProfileImage;

                            if (!string.IsNullOrWhiteSpace(items.ProfileImage))
                            {
                                if (items.ProfileImage.Contains("avatar"))
                                {
                                    imgPath = items.ProfileImage;
                                }
                                //imgPath = "/Content/VLE/img/default-avatar.jpg";
                                else if (items.UserTypeId == 1)
                                {
                                    imgPath = Constants.StudentImagesPath + items.ProfileImage;
                                }
                                else if (items.UserTypeId == 2)
                                {
                                    imgPath = PhoenixConfiguration.Instance.ReadFilePath + Constants.ParentProfilePath + items.ProfileImage;
                                }
                                else
                                {
                                    imgPath = PhoenixConfiguration.Instance.ReadFilePath + Constants.TeacherProfilePath + items.ProfileImage;
                                }
                            }

                            var functionDesign = "BindRecentActivityItem(" + "" + items.Id + "" + "," + "'" + items.CreatedBy + "'" + "," + "'" + items.Types + "'" + ")";
                            var href = "#";
                            if (items.Types == "user")
                            {
                                functionDesign = "";
                                href = "/schoolinfo/chat/chat?Id=" + @EncryptDecryptHelper.EncryptUrl(items.userId.ToString()) + "&typem=" + @EncryptDecryptHelper.EncryptUrl("Recent") + "&IsGroup=" + @EncryptDecryptHelper.EncryptUrl(items.IsGroup.ToString()) + "&groupId=" + @EncryptDecryptHelper.EncryptUrl(items.GroupId.ToString());
                            }
                            <li class="column-padding py-2">
                                <a href="@href" class="d-flex align-items-top w-100 pb-3 border-bottom" onclick="@functionDesign">
                                    <div class="defaultAvatar position-relative mr-2">
                                        <img src="@imgPath" class="img-fluid rounded-circle h-100" alt="">
                                    </div>
                                    <div class="student-info" style="width:100%;">
                                        <p class="mb-0">
                                            <span class="text-bold">@items.UserName</span>
                                            @items.ActivityType

                                            @if (items.IsFile == 1)
                                            {
                                                string[] arr = items.Title.Split('_');
                                                string fname = arr[arr.Length - 1];
                                                string fileExtension = fname.Substring(fname.IndexOf(".") + 1);
                                                if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(fname))
                                                {

                                                    if (!string.IsNullOrEmpty(items.PhysicalFilePath))
                                                    {
                                                        var fileIcon1 = icons.Any(x => x.Key.ToLower().Contains(fileExtension?.ToLower())) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(fileExtension?.ToLower())).Value : "<i class=\"fas filled-file-icon fa-2x fa-file\"></i>";
                                                        var filepath = CommonHelper.GetFileURL((short)items.ResourceFileTypeId, items.PhysicalFilePath, false, EncryptDecryptHelper.EncryptUrl(items.FileId.ToString()), "blog");
                                                        @*<img src="@filepath" class="img-fluid" style="height:24px !important;width:24px !important">*@
                                                        <span class="text-semibold wrap">
                                                            @Html.Raw(fileIcon1)
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        var fileIcon1 = icons.Any(x => x.Key.ToLower().Contains(fileExtension?.ToLower())) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(fileExtension?.ToLower())).Value : "<i class=\"fas filled-file-icon fa-2x fa-file\"></i>";
                                                        <span class="text-semibold wrap">
                                                            @Html.Raw(fileIcon1)
                                                        </span>

                                                    }
                                                }
                                                else
                                                {
                                                    var fileIcon1 = icons.Any(x => x.Key.ToLower().Contains(fileExtension?.ToLower())) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(fileExtension?.ToLower())).Value : "<i class=\"fas filled-file-icon fa-2x fa-file\"></i>";
                                                    <span class="text-semibold wrap">
                                                        @Html.Raw(fileIcon1)
                                                    </span>
                                                }
                                            }
                                            else if (items.IsFile == 0)
                                            {
                                                <span class="text-semibold wrap">
                                                    @if (!String.IsNullOrEmpty(items.Title))
                                                    {
                                                        var message = EncryptDecryptHelper.Decrypt(items.Title.ToString());
                                                        <span><b>"</b></span>@(message?.Length > 50 ? message?.Substring(0, 50) + "..." : message)<span><b>"</b></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="text-semibold wrap">
                                                            @*"@(items.Title?.Length > 45 ? items.Title?.Substring(0,45)+"..." : items.Title)<b>"</b>*@
                                                        </span>
                                                    }
                                                </span>
                                            }
                                            else //for BlogComment
                                            {
                                                <span class="text-semibold wrap">
                                                    "@(items.Title?.Length > 40 ? items.Title?.Substring(0, 40) + "..." : items.Title)<b>"</b>
                                                </span>
                                            }

                                        </p>
                                        <span class="d-block">@items.MessageHour</span>
                                    </div>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="drawer-footer">
        </div>
    </div>
</div>

@*@Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js")
    @Scripts.Render("https://code.jquery.com/ui/1.12.1/jquery-ui.js")*@

<script>
    $(document).ready(function () {

        $('body').on('click', '.trigger-activity', function () {

            $('.activity-drawer-container').toggleClass('open');
            $('.activity-drawer-container').animate({
                right: '0'
            })
        });

        $('body').on('click', '.closeActivityDrawer', function () {

            $('.activity-drawer-container').toggleClass('open');
            $('.activity-drawer-container').animate({
                right: '-500'
            })
            $('#recentacitivitypanel').addClass('viewRecentActivity');
            $('#recentacitivitypanel').removeClass('viewAllRecentActivity');
        });

        $(".activity-list").mCustomScrollbar({
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true,
        });

        $('body').on('click', '#ViewALL', function () {
            $('#recentacitivitypanel').addClass('viewAllRecentActivity');
            $('#recentacitivitypanel').removeClass('viewRecentActivity');
        })
      

    });

</script>
