﻿@model IEnumerable<Phoenix.Models.BlogComment>
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    var SchoolCode = SessionHelper.CurrentSession.SchoolCode;
    var IsCustomPermission = Session["CanEdit"] != null ? Convert.ToBoolean(Session["CanEdit"]) : false;
    #region collection of icons font awesomeaa
    Dictionary<string, string> icons = new Dictionary<string, string>();
    icons.Add("doc,docx", "<i class=\"fas  fa-2x fa-file-word ic-file-word color-doc\"></i>");
    icons.Add("xls,xlsx", "<i class=\"fas  fa-2x fa-file-excel ic-file-excel color-excel\"></i>");
    icons.Add("ppt,pptx", "<i class=\"fas color-ppt fa-2x fa-file-powerpoint ic-file-ppt\"></i>");
    icons.Add("pdf", "<i class=\"fas fa-2x fa-file-pdf ic-file-pdf color-pdf\"></i>");
    icons.Add("zip,rar", "<i class=\"fas fa-2x fa-file-archive ic-file text-primary\"></i>");
    icons.Add("htm,html", "<i class=\"fas fa-2x fa-file-code ic-file text-primary\"></i>");
    icons.Add("txt,rtf", "<i class=\"fas fa-2x fa-file-alt ic-file color-txt\"></i>");
    icons.Add("mov,mp4,avi", "<i class=\"fas fa-2x fa-file-video ic-file color-video\"></i>");
    icons.Add("mp3", "<i class=\"fas fa-2x fa-file-audio ic-file color-audio\"></i>");
    icons.Add("jpg,jpeg,gif,png", "<i class=\"fas fa-2x fa-file-image ic-file-img color-image\"></i>");
    icons.Add("csv", "<i class=\"fas filled-file-icon fa-2x fa-file-csv ic-file-csv color-csv\"></i>");
    #endregion

    var indexOf = 0;
}

<style>

    .name-wrapper p {
        word-break: break-word;
        max-width: 650px;
    }

    .filled-file-icon {
        color: #5d3195;
    }

    .list-container .chatter-wrapper .comment-list-container li .right-action {
        min-width: 2rem;
        text-align: right;
    }
</style>

<div class="comment-list-container">
    <ul class="list">

        @foreach (var c in Model)
        {

            indexOf += 1;
            var isCommentLike = c.IsLike;
            var imgPath = c.UserProfileImage;

            if (!string.IsNullOrWhiteSpace(c.UserProfileImage))
            {
                if (c.UserProfileImage.Contains("avatar"))
                {
                    imgPath = c.UserProfileImage;
                }
                //imgPath = "/Content/VLE/img/default-avatar.jpg";
                else if (c.UserTypeId == 1)
                {
                    imgPath = Constants.StudentImagesPath + c.UserProfileImage;
                }
                else if (c.UserTypeId == 2)
                {
                    imgPath = PhoenixConfiguration.Instance.ReadFilePath + Constants.ParentProfilePath + c.UserProfileImage;
                }
                else
                {
                    imgPath = PhoenixConfiguration.Instance.ReadFilePath + Constants.TeacherProfilePath + c.UserProfileImage;
                }
            }


            <li class='@(indexOf>3? "show-more-comments d-none" : string.Empty) '>
                <div class="left-content">
                    <img src="@imgPath" alt="" class="profile-image rounded-circle" onerror="this.onerror=null;this.src='/Content/VLE/img/default-avatar.jpg';" />
                    <div class="name-wrapper">
                        <div class="name">@c.CreatedByName</div>
                        <span class="arabictxt">@(((DateTime)c.CreatedOn.ConvertUtcToLocalTime()).ToFormatedDate("dd MMM yyyy"))</span>

                        @if (!string.IsNullOrEmpty(c.FileName))
                        {

                            string fileExtension = c.FileName.Substring(c.FileName.IndexOf(".") + 1);
                            var fileIcon = icons.Any(x => x.Key.ToLower().Contains(fileExtension?.ToLower())) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(fileExtension?.ToLower())).Value : "<i class=\"fas filled-file-icon fa-2x fa-file\"></i>";

                            if ((Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(c.FileName)) && !SessionHelper.CurrentSession.IsParent())
                            {
                                if (!string.IsNullOrEmpty(c.PhysicalFilePath))
                                {
                                    if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                    {
                                        if (!string.IsNullOrEmpty(c.PhysicalFilePath))
                                        {

                                            c.PhysicalFilePath = CommonHelper.GetFileURL(c.ResourceFileTypeId.ToShort(), c.ResourceFileTypeId.ToShort() == (short)Phoenix.Common.Enums.ResourceFileTypes.SharePoint ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(c.FilePath) : c.FilePath, false, EncryptDecryptHelper.EncryptUrl(c.FileId.ToString()), "blog");
                                        }
                                    }
                                    else
                                    {
                                        c.PhysicalFilePath = CommonHelper.GetFileURL(c.ResourceFileTypeId.ToShort(), c.PhysicalFilePath, false, EncryptDecryptHelper.EncryptUrl(c.FileId.ToString()), "blog");
                                    }
                                    @*<a href="@c.PhysicalFilePath" style="padding:5px; top:8px;" data-toggle="tooltip" data-placement="bottom" data-title="@c.FileName" data-sub-html="@c.FileName" data-original-title="" title="" target="_blank">*@
                                    <p>
                                        @*<a href="javascript:void(0)">
                                                <img src="@c.PhysicalFilePath" class="img-fluid" style="height:24px !important;width:19px !important" id="commentimg_@c.FileId" onclick="ShowImageonPopup('commentimg_@c.FileId')">
                                            </a>*@
                                        <a href="javascript:void(0)">
                                            <img src="@c.PhysicalFilePath" class="img-fluid" style="height:24px !important;width:24px !important" id="commentimg_@c.FileId">
                                        </a>
                                        <a id="btnDownload_@c.CommentId"
                                           onclick="globalFunctions.downloadSharepointFile('@c.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(c.PhysicalFilePath) : (c.FilePath).Replace("\'","%27"))','@SchoolCode','@Convert.ToString(SessionHelper.CurrentSession.IsParent())','3')"
                                           @*href='@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ?  c.PhysicalFilePath: c.FilePath)'*@
                                           download="Test"><i class="fa fa fa-download"></i></a>
                                    </p>
                                    @*</a>*@

                                }
                                else
                                {
                                    <p>
                                        @*<a href="@c.FilePath" class="p-3 d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="@c.FileName" data-sub-html="@c.FileName" data-original-title="" title="" target="_blank">*@
                                        @*<img id="imgC_@c.CommentId" src="@c.FilePath" class="img-fluid" style="display:none" alt="Attachment Image">*@

                                        @Html.Raw(fileIcon)<a id="btnDownload_@c.CommentId"
                                                              onclick="globalFunctions.downloadSharepointFile('@c.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(c.PhysicalFilePath) : (c.FilePath).Replace("\'","%27"))','@SchoolCode','@Convert.ToString(SessionHelper.CurrentSession.IsParent())','3')"
                                                              @*href='@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ?  Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(c.PhysicalFilePath): c.FilePath)'*@
                                                              style="padding:5px; top:8px;" download="Test"><i class="fa fa fa-download"></i></a>

                                        @*</a>*@
                                    </p>
                                }
                            }
                            else
                            {
                                <p>
                                    @*<a href="@c.FilePath" class="p-3 d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="@c.FileName" data-sub-html="@c.FileName" data-original-title="" title="" target="_blank">*@
                                    @*<img id="imgC_@c.CommentId" src="@c.FilePath" class="img-fluid" style="display:none" alt="Attachment Image">*@

                                    @Html.Raw(fileIcon)<a id="btnDownload_@c.CommentId"
                                                          onclick="globalFunctions.downloadSharepointFile('@c.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(c.PhysicalFilePath) : (c.FilePath).Replace("\'","%27"))','@SchoolCode','@Convert.ToString(SessionHelper.CurrentSession.IsParent())','3')"
                                                          @*href='@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ?  Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(c.PhysicalFilePath): c.FilePath)'*@
                                                          style="padding:5px; top:8px;" download="Test"><i class="fa fa fa-download"></i></a>

                                    @*</a>*@
                                </p>
                            }

                        }
                        else
                        {

                            @*if (c.Comment.Contains("iframe"))
                                {
                                    <div>
                                        @Html.Raw(c.Comment)
                                    </div>
                                }
                                else
                                {*@
                            <p class="commentText">
                                @{var comment = ""; var tempComment = "";}
                                @if (c.Comment.Trim().Contains("https"))
                                {
                                    var arrContent = c.Comment.Trim().Split(' ');
                                    foreach (var content in arrContent)
                                    {
                                        if (content.StartsWith("https"))
                                        {
                                            tempComment = content;
                                            var embeddedLink = Phoenix.VLE.Web.Helpers.CommonHelper.GetEmbeddedVideoLink(content);
                                            if (content == embeddedLink)
                                            {
                                                comment = comment + " <a href=" + content + " target=_black>" + content + "</a>";
                                            }
                                            else
                                            {
                                                comment = comment + (string.IsNullOrEmpty(comment) ? embeddedLink : " </br>" + embeddedLink + " </br>");
                                            }
                                        }
                                        else
                                        {
                                            comment = comment +" "+ content;
                                        }
                                        tempComment = "";
                                    }
                                    if (comment.Contains("iframe"))
                                    {
                                        <div>
                                            @Html.Raw(comment)
                                        </div>
                                    }
                                    else
                                    {
                                        @comment.Trim();
                                    }
                                }
                                else
                                {
                                    @c.Comment.Trim();
                                }

                            </p>
                            //}
                        }

                    </div>
                </div>
                <div class="right-action">
                    @if (isCommentLike.ToString() == "True")
                    {

                        <a href="javascript:void(0)">
                            <img src="~/content/VLE/img/likeActive_2.png" alt="like-icon" class="like-icon mr-0" onclick="yoYoBlog.likeWallComment(@c.CommentId,@c.BlogId, '@(isCommentLike.ToString() == "True" ? "False" : "True")')" data-placement="top" />
                            <span data-placement="top" title="@ResourceManager.GetString("School.YoYoBlog.ViewListToolTip")" data-toggle="tooltip">
                                <span data-toggle="modal" data-target="#PostAndCommentLikeUserListModelPopUp" class="ViewCommentLikeUserList" data-blogid="@c.BlogId" data-commentsectioid="@c.CommentId">@c.TotalLikes</span>
                            </span>
                        </a>
                    }
                    else
                    {
                        <a href="javascript:void(0)">
                            <img src="/content/VLE/img/like.png" alt="like-icon" class="like-icon mr-0" onclick="yoYoBlog.likeWallComment(@c.CommentId,@c.BlogId, '@(isCommentLike.ToString() == "True" ? "False" : "True")')" data-placement="top" />
                            <span data-placement="top" title="@ResourceManager.GetString("School.YoYoBlog.ViewListToolTip")" data-toggle="tooltip">
                                <span data-toggle="modal" data-target="#PostAndCommentLikeUserListModelPopUp" class="ViewCommentLikeUserList" data-blogid="@c.BlogId" data-commentsectioid="@c.CommentId">@c.TotalLikes</span>
                            </span>
                        </a>
                    }
                    @if ((SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher()))
                    {

                        <script>
                            var c11 = $('#279334').val();

                        </script>
                        //if (c.UserTypeId == 3)
                        //{

                        //}
                        if (c.UserTypeId != 3 && c.UserTypeId != 4)
                        {
                            if (Convert.ToInt32(Session["ApprovalTeacher"]) == 3 && (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin))
                            {
                                if (c.IsPublish == false)
                                {
                                    <a href="javascript:void(0)" data-id="@c.CommentId" onclick="yoYoBlog.publishWallComment($(this),@c.BlogId, @c.CommentId)"
                                       class="active" data-placement="top">
                                        <i class="fas fa-check mr-2"></i><span>@ResourceManager.GetString("School.Blog.Publish")</span>
                                    </a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)" data-id="@c.CommentId" onclick="yoYoBlog.unPublishWallComment($(this),@c.BlogId, @c.CommentId)"
                                       class="active" data-placement="top">
                                        <i class="fas fa-check mr-2"></i><span>@ResourceManager.GetString("School.Blog.UnPublishText")</span>
                                    </a>
                                }


                            }
                            else if (Convert.ToInt32(Session["ApprovalTeacher"]) == 2 && c.UserTypeId == 2)
                            {
                                if (c.IsPublish == false)
                                {
                                    <a href="javascript:void(0)" data-id="@c.CommentId" onclick="yoYoBlog.publishWallComment($(this),@c.BlogId, @c.CommentId)"
                                       class="active" data-placement="top">
                                        <i class="fas fa-check mr-2"></i><span>@ResourceManager.GetString("School.Blog.Publish")</span>
                                    </a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)" data-id="@c.CommentId" onclick="yoYoBlog.unPublishWallComment($(this),@c.BlogId, @c.CommentId)"
                                       class="active" data-placement="top">
                                        <i class="fas fa-check mr-2"></i><span>@ResourceManager.GetString("School.Blog.UnPublishText")</span>
                                    </a>
                                }
                            }
                            else if (Convert.ToInt32(Session["ApprovalTeacher"]) == 1 && c.UserTypeId == 1)
                            {
                                if (c.IsPublish == false)
                                {
                                    <a href="javascript:void(0)" data-id="@c.CommentId" onclick="yoYoBlog.publishWallComment($(this),@c.BlogId, @c.CommentId)"
                                       class="active" data-placement="top">
                                        <i class="fas fa-check mr-2"></i><span>@ResourceManager.GetString("School.Blog.Publish")</span>
                                    </a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)" data-id="@c.CommentId" onclick="yoYoBlog.unPublishWallComment($(this),@c.BlogId, @c.CommentId)"
                                       class="active" data-placement="top">
                                        <i class="fas fa-check mr-2"></i><span>@ResourceManager.GetString("School.Blog.UnPublishText")</span>
                                    </a>
                                }
                            }
                        }



                        <a href="javascript:void(0)" class="ml-2 mr-2" onclick="yoYoBlog.deleteWallComment($(this),@c.BlogId, @c.CommentId)" ata-id="@c.CommentId">
                            <img src="/content/VLE/img/svg/delete.svg" alt="delete-icon" class="svg" />
                        </a>

                    }


                </div>
            </li>
        }


        @*<a href="javascript:void(0)" class="next" onclick="load_more(this)"> Load More</a>*@

        <div class="d-flex justify-content-start view-comment-container ml-0">
            @if (indexOf > 3)
            {
                <a href="javascript:void(0)" class="text-color-purple" id="loadMore" data-preval="@ResourceManager.GetString("School.YoYoBlog.ViewAllComments")" onclick="yoYoBlog.load_more(this)">@ResourceManager.GetString("School.YoYoBlog.ViewAllComments")</a>
            }
        </div>
    </ul>
</div>








