﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@model IEnumerable<Phoenix.Models.Chatter>
@using Phoenix.Common.Enums;
@using Phoenix.VLE.Web.Services;
@using Phoenix.Common.Helpers.Extensions
@{
    //#region collection of icons font awesome
    //Dictionary<string, string> icons = new Dictionary<string, string>();
    //icons.Add("doc,docx", "file-type-word");
    //icons.Add("xls,xlsx", "file-type-excel");
    //icons.Add("ppt,pptx", "file-type-ppt");
    //icons.Add("pdf", "file-type-pdf");
    //icons.Add("zip,rar", "file-type-zip");
    //icons.Add("htm,html", "file-type-html");
    //icons.Add("txt,rtf", "file-type-text");
    //icons.Add("mov,mp4,avi", "file-type-video");
    //icons.Add("mp3", "file-type-audio");
    //icons.Add("svg", "file-type-svg");
    //#endregion


    #region collection of icons font awesomeaa
    Dictionary<string, string> icons = new Dictionary<string, string>();
    icons.Add("doc,docx", "<i class=\"fas  fa-2x fa-file-word ic-file-word color-doc\"></i>");
    icons.Add("xls,xlsx", "<i class=\"fas  fa-2x fa-file-excel ic-file-excel color-excel\"></i>");
    icons.Add("ppt,pptx", "<i class=\"fas color-ppt fa-2x fa-file-powerpoint ic-file-ppt\"></i>");
    icons.Add("pdf", "<i class=\"fas fa-2x fa-file-pdf ic-file-pdf color-pdf\"></i>");
    icons.Add("csv", "<i class=\"fas fa-2x fa-file-csv ic-file-csv color-csv\"></i>");
    icons.Add("zip,rar", "<i class=\"fas fa-2x fa-file-archive ic-file text-primary\"></i>");
    icons.Add("htm,html", "<i class=\"fas fa-2x fa-file-code ic-file text-primary\"></i>");
    icons.Add("txt,rtf", "<i class=\"fas fa-2x fa-file-alt ic-file color-txt\"></i>");
    icons.Add("mov,mp4,avi", "<i class=\"fas fa-2x fa-file-video ic-file color-video\"></i>");
    icons.Add("mp3", "<i class=\"fas fa-2x fa-file-audio ic-file color-audio\"></i>");
    icons.Add("jpg,jpeg,gif,png", "<i class=\"fas fa-2x fa-file-image ic-file-img color-image\"></i>");
    #endregion
}
<style>


    .future-post {
        position: relative;
        background: rgba(0,0,0,0.1) !important;
    }

        .future-post:before {
            content: '';
            width: 2.5rem;
            height: 2.5rem;
            background: #de090b;
            border-radius: 8px 0px 65px 0px;
            position: absolute;
            left: 0;
            top: 0;
        }

    .present-post {
        position: relative;
    }

        .present-post:before {
            content: '';
            width: 2.5rem;
            height: 2.5rem;
            background: #1fce56;
            border-radius: 8px 0px 65px 0px;
            position: absolute;
            left: 0;
            top: 0;
        }

    .florecent-green-background {
        /*  background: rgb(8,255,8) !important;
        background: linear-gradient(90deg, rgba(8,255,8,0.4) 0%, rgba(8,255,8,0.2) 66%, rgba(8,255,8,0.10) 100%) !important;*/
    }

    .baby-pink-background {
        /*    background: rgb(244,194,194) !important;
        background: linear-gradient(90deg, rgba(244,194,194,0.4) 0%, rgba(244,194,194,0.2) 66%, rgba(244,194,194,0.10) 100%) !important;*/
    }


    .chatter-post-description a {
        color: #007bff !important;
    }

        .chatter-post-description a:hover {
            text-decoration: underline !important;
        }

    .commentText a {
        color: #007bff !important;
    }

        .commentText a:hover {
            text-decoration: underline !important;
        }

    a.btn.btn-transparent.m-0.p-0.kebab-menu {
        color: #5f5f5f;
    }
</style>

@{
    var isFlorecentGreenColorApplied = true;
    var isBabyPinkColorApplied = true;
    var SchoolCode = SessionHelper.CurrentSession.SchoolCode;
}
@if (Model.Count() > 0)
{

    int Count = 0;
    for (int i = 0; i < Model.Count(); i++)
    {
        var imageUrl = "/Content/VLE/img/group-avatar.jpg";


        var chatter = Model.ElementAt(i);
        var b = chatter.Blog;

        var assignedClass = "card-group";
        var postindicator = "present-post";
        var disableClassForReactionSection = "post-reactions";
        var disableClassForCommentSection = "comment-section";
        var isFuturePost = false;
        var isDisplay = true;

        var backgroundcolor = "";
        if (SessionHelper.CurrentSession.IsStudent() || SessionHelper.CurrentSession.IsParent())
        {
            if (!b.IsBlogEnabled)
            {
                //assignedClass = "card-group card-disable";
                //postindicator = "futurepost position-relative";
                //isFuturePost = true;
                isDisplay = false;
            }
        }
        else
        if (SessionHelper.CurrentSession.IsTeacher())
        {
            isDisplay = true;
            if (!b.IsBlogEnabled)
            {
                isDisplay = true;
                isFuturePost = true;
                disableClassForReactionSection = "post-reactions card-disable";
                disableClassForCommentSection = "comment-section card-disable ";
                postindicator = "future-post";
            }
        }

        if (isFuturePost == false && isBabyPinkColorApplied)
        { backgroundcolor = "florecent-green-background"; }
        else if (isFuturePost == false && isFlorecentGreenColorApplied)
        { backgroundcolor = "baby-pink-background"; }

        if (!string.IsNullOrEmpty(b.GroupImage))
        {
            imageUrl = PhoenixConfiguration.Instance.ReadFilePath + b.GroupImage;
        }


        //if ((Model.Where(m => m.Blog.BlogId == b.BlogId).ToList().Count - 1) == 0)
        //{
        //    Count = i;
        //}
        //else
        //{
        //    Count = Count + (Model.Where(m => m.Blog.BlogId == b.BlogId).ToList().Count);
        //    i = Count;
        //}


        Session["ApprovalTeacher"] = b.CommentApprovedById;
        var enableDelete = false;
        var enableEdit = false;
        var blogImage = b.UserProfileImage;

        if (!string.IsNullOrWhiteSpace(b.UserProfileImage))
        {
            if (b.UserProfileImage.Contains("avatar"))
            {
                blogImage = b.UserProfileImage;
            }
            //imgPath = "/Content/VLE/img/default-avatar.jpg";
            else if (b.UserTypeId == 1)
            {
                blogImage = Constants.StudentImagesPath + b.UserProfileImage;
            }
            else if (b.UserTypeId == 2)
            {
                blogImage = PhoenixConfiguration.Instance.ReadFilePath + Constants.ParentProfilePath + b.UserProfileImage;
            }
            else
            {
                blogImage = PhoenixConfiguration.Instance.ReadFilePath + Constants.TeacherProfilePath + b.UserProfileImage;
            }
        }

        if (!string.IsNullOrEmpty(b.BlogImage))
        {
            blogImage = b.BlogImage;
        }




        var isLike = b.IsLike; //Html.Action("GetBlogLikeStatusForUser", "Blog", new {  @id = b.BlogId, @area = "SchoolInfo" });
        var enableCommentSection = false;
        if ((SessionHelper.CurrentSession.IsStudent() && b.EnableCommentById == (int)EnableCommentForCodes.Student) || (SessionHelper.CurrentSession.IsParent() && b.EnableCommentById == (int)EnableCommentForCodes.Parent) || b.EnableCommentById == (int)EnableCommentForCodes.All || (SessionHelper.CurrentSession.IsTeacher() && b.EnableCommentById != (int)EnableCommentForCodes.None) || (SessionHelper.CurrentSession.IsAdmin && b.EnableCommentById != (int)EnableCommentForCodes.None))
        {
            enableCommentSection = true;
        }
        var notCloseDiscussion = (b.CloseDiscussionDate == null || (b.CloseDiscussionDate.HasValue && DateTime.Compare(b.CloseDiscussionDate.Value.Date, DateTime.Now.Date) > 0)) ? true : false;
        var IsCustomPermission = Session["CanEdit"] != null ? Convert.ToBoolean(Session["CanEdit"]) : false;

        if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin || b.CreatedBy == SessionHelper.CurrentSession.Id)
        {
            enableDelete = true;
            enableEdit = true;
        }

        if (b.CreatedBy == SessionHelper.CurrentSession.Id)
        {
            enableEdit = true;
        }
        string imgUrl = "/Content/VLE/img/default-avatar.jpg";

        var loginSetting = Phoenix.VLE.Web.Helpers.CommonHelper.GetUserFeeling();


        if (SessionHelper.CurrentSession.IsStudent())
        {
            if (!string.IsNullOrWhiteSpace(loginSetting.ProfilePhoto))
            {
                imgUrl = Constants.StudentImagesPath + loginSetting.ProfilePhoto;
            }
            else if (!string.IsNullOrWhiteSpace(loginSetting.AvatarLogo))
            {
                imgUrl = Constants.ProfileAvatarPath + loginSetting.AvatarLogo;
            }
        }
        else if (SessionHelper.CurrentSession.IsParent())
        {
            if (!string.IsNullOrWhiteSpace(loginSetting.ProfilePhoto))
            {
                imgUrl = PhoenixConfiguration.Instance.ReadFilePath + Constants.ParentProfilePath + loginSetting.ProfilePhoto;

            }
            else if (!string.IsNullOrWhiteSpace(loginSetting.AvatarLogo))
            {
                imgUrl = Constants.ProfileAvatarPath + loginSetting.AvatarLogo;

            }
        }
        else if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
        {
            if (!string.IsNullOrWhiteSpace(loginSetting.ProfilePhoto))
            {
                imgUrl = PhoenixConfiguration.Instance.ReadFilePath + Constants.TeacherProfilePath + loginSetting.ProfilePhoto;
            }
            else if (!string.IsNullOrWhiteSpace(loginSetting.AvatarLogo))
            {
                imgUrl = Constants.ProfileAvatarPath + loginSetting.AvatarLogo;

            }
        }


        if (b.IsPublish && isDisplay)
        {
            if (!SessionHelper.CurrentSession.IsParent() || (SessionHelper.CurrentSession.IsParent() && b.IsVisibleToParent))
            {

                if (isFuturePost == false && backgroundcolor == "florecent-green-background")
                { isFlorecentGreenColorApplied = true; isBabyPinkColorApplied = false; }
                else if (isFuturePost == false && backgroundcolor == "baby-pink-background")
                { isBabyPinkColorApplied = true; isFlorecentGreenColorApplied = false; }

                <div class="chatter-wrapper " id="chatter-wrapper-@b.BlogId">

                    <div class="@assignedClass @postindicator @backgroundcolor" id="mainBlog-@b.BlogId">
                        <div class="chatter-header">
                            <div class="left-content">
                                <img src="@Html.Raw((string.IsNullOrEmpty(b.BlogImage) ? blogImage : PhoenixConfiguration.Instance.ReadFilePath + b.BlogImage))" alt="child-icon" class="profile-image rounded-circle" />
                                <div class="description-container">
                                    <div class="name-title">@b.CreatedByName</div>
                                    @if (!b.IsShared)
                                    {

                                        <div class="post-description arabictxt">@ResourceManager.GetString("School.YoYoBlog.PostedOn")  @(((DateTime)b.CreatedOn.ConvertUtcToLocalTime()).ToFormatedDate("dd MMM yyyy"))<span>, </span>    @(((DateTime)b.CreatedOn.ConvertUtcToLocalTime()).ToFormatedDate("hh:mm tt"))</div>
                                    }
                                    else
                                    {
                                        <div class="post-description arabictxt">@ResourceManager.GetString("School.YoYoBlog.SharedOn")  @(((DateTime)b.BlogSharedOn.ConvertUtcToLocalTime()).ToFormatedDate("dd MMM yyyy"))<span>, </span>  @(((DateTime)b.BlogSharedOn.ConvertUtcToLocalTime()).ToFormatedDate("hh:mm tt"))</div>
                                    }

                                </div>
                            </div>
                            @*<div class="right-content d-flex">

                                    @if (enableEdit)
                                    {
                                        <i class="fa fa-edit" aria-hidden="true" style="font-size:15px; color:silver; margin:5px" id="btnEditBlog" data-toggle="modal" data-target="#createBlogPopup" onclick="yoYoBlog.myWallEditBlogPopup(@b.BlogId)" data-placement="top"></i>
                                    }
                                    @if (enableDelete)
                                    {
                                        <i class="fa fa-trash" aria-hidden="true" style="font-size:15px; color:silver; margin:5px" onclick="yoYoBlog.deleteBlog($(this),@b.BlogId)"></i>
                                    }



                                    <img src="@imageUrl" alt="group-asset" class="rounded-circle" />

                                </div>*@
                            <div>
                                @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                                {
                                    <a class="btn btn-transparent m-0 p-0 kebab-menu" type="button" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right p-0 ">
                                        @if (enableEdit)
                                        {
                                            <a class="actionTrigger align-items-center border-bottom d-flex dropdown-item editEntry py-2 text-dark text-medium" data-toggle="modal" id="btnEditBlog" data-target="#createBlogPopup" onclick="yoYoBlog.myWallEditBlogPopup(@b.BlogId)" data-placement="top" href="#">
                                                <img src="~/Content/img/svg/pencil.svg">
                                                <span class="d-inline ml-2">@ResourceManager.GetString("Exemplar.Labels.EditPost")</span>
                                            </a>
                                        }
                                        @if (enableDelete)
                                        {
                                            <a class="align-items-center d-flex dropdown-item py-2 text-dark text-medium" onclick="yoYoBlog.deleteBlog($(this),@b.BlogId)" href="#">
                                                <img src="~/Content/img/svg/delete.svg">
                                                <span class="d-inline ml-2">@ResourceManager.GetString("Shared.Buttons.Delete")</span>
                                            </a>
                                        }

                                    </div>
                                }
                            </div>
                        </div>
                        <div class="chatter-post-container" style="width:100%">
                            @*<div class="post-title">@b.Title</div>*@
                            @*Issue-#C20DO-1628*@
                            <div class="post-title" style="word-break: break-word;">@b.Title</div>
                            @*<div class="post-detail">*@
                            @*Issue-#C20DO-1627*@
                            <div class="post-detail post-Image blog-lists chatter-post-description" style="word-break: break-word; max-height:200px !important; margin-bottom:20px;">
                                @*@Html.Raw(HttpUtility.HtmlDecode(b.Description != null && b.Description.Length > 250 ? b.Description.Substring(0, 250) : b.Description))*@
                                @Html.Raw(HttpUtility.HtmlDecode(b.Description))
                                <span style="display:none">Translate</span>

                                @if (!string.IsNullOrEmpty(b.FileName) && !string.IsNullOrEmpty(b.FilePath) && !string.IsNullOrEmpty(b.FileType))
                                {
                                    var fileNameArr = b.FileName.Split('|');
                                    var fileTypeArr = b.FileType.Split('|');
                                    var FilePathArr = b.FilePath.Split('|');
                                    var FilePhysicalPathArr = b.PhysicalFilePath.Split('|');
                                    var FileIdsArr = b.FileId.Split('|');
                                    var FileResourceTypeArr = b.ResourceFileTypeId.Split('|');

                                    int index = 0;
                                    <div class="attachments-preview pt-2">
                                        <ul class="d-flex" id="previewa1a489f0-5412-4bc9-9901-1b84184f37da" style=" flex-wrap: wrap;">
                                            @for (index = 0; index < fileNameArr.Length; index++)
                                            {
                                                string fileExtension = string.Empty;
                                                var fileIcon = ""; string filePathArray = string.Empty; string fileNameArray = string.Empty;
                                                if (index < fileTypeArr.Length)
                                                {

                                                    if (!string.IsNullOrEmpty(fileTypeArr[index].ToString()))
                                                    {
                                                        fileExtension = fileTypeArr[index].ToString();
                                                        fileIcon = icons.Any(x => x.Key.ToLower().Contains(fileExtension?.ToLower())) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(fileExtension?.ToLower())).Value : "<i class=\"fas fa-2x fa-file\"></i>";
                                                    }
                                                }
                                                if (index < FilePathArr.Length)
                                                {
                                                    if (!string.IsNullOrEmpty(FilePathArr[index].ToString()))
                                                    {
                                                        filePathArray = FilePathArr[index].ToString();
                                                        if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                                        {
                                                            filePathArray = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(filePathArray);
                                                        }
                                                    }
                                                }

                                                if (index < fileNameArr.Length)
                                                {
                                                    if (!string.IsNullOrEmpty(fileNameArr[index].ToString()))
                                                    {
                                                        fileNameArray = fileNameArr[index].ToString();
                                                    }
                                                }

                                                if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(fileNameArray))
                                                {

                                                    if (index < FilePhysicalPathArr.Length)
                                                    {
                                                        if ((Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(fileNameArray)) && !SessionHelper.CurrentSession.IsParent())
                                                        {
                                                            filePathArray = FilePhysicalPathArr[index].ToString();
                                                            if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                                            {
                                                                filePathArray = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(filePathArray);
                                                            }
                                                            else
                                                            {
                                                                filePathArray = CommonHelper.GetFileURL(FileResourceTypeArr[index].ToShort(), filePathArray, false, EncryptDecryptHelper.EncryptUrl(FileIdsArr[index].ToString()), "blog");
                                                            }
                                                            <li class="position-relative rounded mt-2" id="listIt10242">
                                                                @*<a href="javascript:void(0)" class="px-0 d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="@fileNameArray" data-sub-html="@fileNameArray" data-original-title="" title="">
                                                                        <img src="@filePathArray" class="img-fluid" style="height:24px !important;width:100% !important" id="img_@FileIdsArr[index].ToString()" onclick="ShowImageonPopup('img_@FileIdsArr[index].ToString()')">
                                                                        @Html.Raw(fileIcon)
                                                                    </a>*@

                                                                @*href="@filePathArray"*@
                                                                <a onclick="globalFunctions.downloadSharepointFile('@fileNameArray','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(filePathArray) : (filePathArray).Replace("\'","%27"))','@SchoolCode','@Convert.ToString(SessionHelper.CurrentSession.IsParent())','3')"
                                                                   class="d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="@fileNameArray" data-sub-html="@fileNameArray" data-original-title="" title="" style="width:47px;">
                                                                    <img src="@filePathArray" class="img-fluid" style="display:none">
                                                                    @Html.Raw(fileIcon)
                                                                </a>
                                                            </li>


                                                        }
                                                        else
                                                        {
                                                            <li class="position-relative rounded mt-2" id="listIt10242">
                                                                <a onclick="globalFunctions.downloadSharepointFile('@fileNameArray','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(filePathArray) : (filePathArray).Replace("\'","%27"))','@SchoolCode','@Convert.ToString(SessionHelper.CurrentSession.IsParent())','3')"
                                                                   @*href="@filePathArray"*@
                                                                   class="d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="@fileNameArray" data-sub-html="@fileNameArray" data-original-title="" title="" style="width:47px;">
                                                                    <img src="@filePathArray" class="img-fluid" style="display:none">
                                                                    @Html.Raw(fileIcon)
                                                                </a>

                                                            </li>
                                                        }
                                                    }

                                                }
                                                else
                                                {
                                                    <li class="position-relative rounded mt-2" id="listIt10242">
                                                        <a onclick="globalFunctions.downloadSharepointFile('@fileNameArray','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(filePathArray) : (filePathArray).Replace("\'","%27"))','@SchoolCode','@Convert.ToString(SessionHelper.CurrentSession.IsParent())','3')"
                                                           @*href="@filePathArray"*@
                                                           class="d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="@fileNameArray" data-sub-html="@fileNameArray" data-original-title="" title="" target="_blank" style="width:47px;">
                                                            <img src="@filePathArray" class="img-fluid" style="display:none">
                                                            @Html.Raw(fileIcon)
                                                        </a>

                                                    </li>
                                                }

                                            }
                                        </ul>
                                    </div>
                                }
                                @*@if (Model.Where(m => m.Blog.BlogId == b.BlogId).ToList().Count > 0)
                                    {
                                        var list = Model.Where(m => m.Blog.BlogId == b.BlogId).ToList();
                                        var listFiles = Model.Where(m => m.Blog.BlogId == b.BlogId).FirstOrDefault();
                                        if (!string.IsNullOrEmpty(listFiles.Blog.FileName))
                                        {
                                            int index = 0;
                                            <div class="attachments-preview pt-2">
                                                <ul class="d-flex" id="previewa1a489f0-5412-4bc9-9901-1b84184f37da" style=" flex-wrap: wrap;">
                                                    @foreach (var item in list)
                                                    {
                                                        if (!string.IsNullOrEmpty(item.Blog.FileName))
                                                        {

                                                            string fileExtension = item.Blog.FileName.Substring(item.Blog.FileName.IndexOf(".") + 1);
                                                            var fileIcon = icons.Any(x => x.Key.ToLower().Contains(fileExtension?.ToLower())) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(fileExtension?.ToLower())).Value : "<i class=\"fas fa-2x fa-file\"></i>";
                                                            <li class="position-relative rounded mt-2" id="listIt10242">
                                                                <a href="@item.Blog.FilePath" class="p-3 d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="@item.Blog.FileName" data-sub-html="@item.Blog.FileName" data-original-title="" title="" target="_blank">
                                                                    <img src="@item.Blog.FilePath" class="img-fluid" style="display:none">
                                                                    @Html.Raw(fileIcon)
                                                                </a>

                                                            </li>
                                                        }
                                                        index++;
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    }*@
                            </div>
                            @*<div class="post-reactions">*@
                            @if (!isFuturePost)
                            {
                                <div class="@disableClassForReactionSection d-flex justify-content-between align-items-center">
                                    <ul style="padding-left:5px !important;">
                                        <li class="likeWithCount">
                                            @{
                                                var LikeText = @b.TotalLikes + " Likes";
                                            }
                                            @if (isLike.ToString() == "True")
                                            {
                                                <img data-toggle="tooltip" data-placement="top" title="@LikeText" src="/Content/VLE/img/likeActive_2.png" alt="like-icon" class="like-icon @(b.TotalComments > 0 ? "active" : "")" onclick="yoYoBlog.likeMyWall(@b.BlogId,'@(isLike.ToString() == "True" ? "False" : "True")')" />

                                                <span class="cursor-pointer" data-placement="top" title="@ResourceManager.GetString("School.YoYoBlog.ViewListToolTip")" data-toggle="tooltip">
                                                    <span data-toggle="modal" data-target="#PostAndCommentLikeUserListModelPopUp" class="ViewLikePostUserList" data-blogid="@b.BlogId">@b.TotalLikes</span>
                                                </span>
                                            }
                                            else
                                            {

                                                <img data-toggle="tooltip" data-placement="top" title="@LikeText" src="~/Content/VLE/img/like.png" alt="like-icon" class="like-icon @(b.TotalComments > 0 ? "active" : "")" onclick="yoYoBlog.likeMyWall(@b.BlogId,'@(isLike.ToString() == "True" ? "False" : "True")')" />
                                                <span class="cursor-pointer" data-placement="top" title="@ResourceManager.GetString("School.YoYoBlog.ViewListToolTip")" data-toggle="tooltip">
                                                    <span data-toggle="modal" data-target="#PostAndCommentLikeUserListModelPopUp" class="ViewLikePostUserList" data-blogid="@b.BlogId">@b.TotalLikes</span>
                                                </span>
                                            }

                                        </li>


                                        <li class="commentWithCount">
                                            @{
                                                var CommentText = @b.TotalComments + " Comments";
                                            }
                                            <img data-toggle="tooltip" data-placement="top" title="@CommentText" src="~/Content/VLE/img/speech-bubble.png" alt="speech-bubble-icon" class="speech-bubble" style="cursor:default;" />
                                            <span>@b.TotalComments</span>
                                            @*data-toggle="modal" data-target="#PostAndCommentLikeUserListModelPopUp" class="ViewPostCommentUserList" data-blogid="@b.BlogId"*@
                                        </li>

                                        <li>
                                            @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                                            {
                                                <span data-placement="top" title="@ResourceManager.GetString("School.YoYoBlog.SharePostText")" data-toggle="tooltip">
                                                    <img src="~/Content/VLE/img/share-option.png" alt="share-icon" class="share-icon imgSharePost" data-id="@b.BlogId" data-toggle="modal" data-target="#sharePostPopup" data-grpid="@b.GroupId" />
                                                </span>
                                            }
                                        </li>

                                    </ul>
                                    @if (b.IsUpdateAvailable && ((SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)))
                                    {
                                        <div class="post-updates d-flex align-items-center">
                                            <p class="mb-0 mr-2">New Updates is available. Do you want to update this post?</p>
                                            <div class="d-flex">
                                                <button type="button" class="align-items-center btn btn-primary d-flex waves-effect waves-light btn-sm acceptupdate" data-containerid="chatter-wrapper-@b.BlogId" data-id="@b.BlogId" data-updatebyblogid="@b.UpdateAvailableId">Accept</button>
                                                <button type="button" class="align-items-center btn btn-outline-primary d-flex waves-effect waves-light btn-sm rejectupdate" data-containerid="chatter-wrapper-@b.BlogId" data-id="@b.BlogId" data-updatebyblogid="@b.UpdateAvailableId">Reject</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                        @if (enableCommentSection)
                        {
                            @*<div class="comment-section">*@
                            if (!isFuturePost)
                            {
                                <div class="@disableClassForCommentSection">
                                    <div class="person-image overflow-hidden chatAvatar">

                                        <img src="@imgUrl" alt="" class="rounded-circle" onerror="this.onerror=null;this.src='/Content/VLE/img/default-avatar.jpg';" />
                                    </div>

                                    <div class="comment-textbox" style="position:relative">

                                        <div class="text-box-area d-flex align-items-center">
                                            <textarea rows="2" id="Comment_@b.BlogId" name="Comment_@b.BlogId" onblur="yoYoBlog.checkWhiteSpace(this.value, this.id)" class=" comment-field w-100 keyup-event bg-light mr-2 mr-sm-0 overflow-auto" placeholder="@ResourceManager.GetString("School.YoYoBlog.TypeHere")" onkeyup="CallKeyEnter(event,'SComment_@b.BlogId','Comment_@b.BlogId');" @*onfocus="hideEmojiPanel()"*@ data-placement="top" style="resize:none"></textarea>
                                        </div>

                                        <div class="d-flex align-items-center">

                                            @if (!SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                                            {
                                                if (b.CommentApprovedById == SessionHelper.CurrentSession.UserTypeId || b.CommentApprovedById == 3)
                                                {
                                                    <input type="hidden" value="false" id="SApprove_@b.BlogId" />
                                                }
                                                {
                                                    <input type="hidden" value="true" id="SApprove_@b.BlogId" />
                                                }
                                            }
                                            else
                                            {
                                                <input type="hidden" value="true" id="SApprove_@b.BlogId" />
                                            }

                                            <span id="SComment_@b.BlogId" class="send text-icon cursor-pointer d-none ml-1" onclick="yoYoBlog.PostWallComment($(this),@b.BlogId)" data-placement="top"><i class="fas fa-send"></i></span>

                                            <i class="far fa-grin fa-2x mr-2" style="font-size:16px;" onclick="showEmojiPanel('EComment_@b.BlogId','@b.BlogId')"></i>


                                            <label for="file-input" style="margin-bottom:0">
                                                <input type="file" id="imgupload_@b.BlogId" onchange="FileUpload(event, @b.BlogId)" onclick="this.value = null;" style="display:none;" data-placement="top" />
                                                <span class="text-icon fileUploader" id="fileupload_@b.BlogId" onclick="openfile(@b.BlogId, 'fileupload_@b.BlogId','file-image')" data-placement="top"><i class="fas fa-paperclip"></i></span>
                                            </label>

                                            @*<label for="file-input" style="margin-bottom:0">
                                                    <span class="text-icon fileUploader " id="fileupload2_@b.BlogId" onclick="openfile(@b.BlogId, 'fileupload2_@b.BlogId','image')" data-placement="top"><i class="far fa-image"></i></span>

                                                </label>*@
                                            <span class="text-icon" onclick="StartWebcam(@b.BlogId)" data-toggle="modal" data-target="#myModalCamera" data-placement="top"><i class="fas fa-camera"></i></span>

                                        </div>

                                        <div class="col-md-12 emoji-popup" id="EComment_@b.BlogId" style="display:none;" data-dismiss="modal">
                                            <ul class="nav nav-tabs" id="myTab_@b.BlogId" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="home-tab_@b.BlogId" data-toggle="tab" href="#smiley_@b.BlogId" role="tab" style="font-size:18px" aria-controls="home" aria-selected="true">😉</a>
                                                </li>
                                                @*<li class="nav-item">
                                                        <a class="nav-link" id="smiley2-tab_@b.BlogId" data-toggle="tab" href="#smiley2_@b.BlogId" role="tab" aria-controls="home" aria-selected="true"><i class='fas fa-school' style='font-size:16px;color:red'></i></a>
                                                    </li>*@

                                                <li>
                                                    <button type="button" class="close p-2" aria-label="Close" onclick="$('#EComment_'+@b.BlogId).attr('style', 'display:none;')" data-placement="top">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </li>
                                            </ul>
                                            <div class="tab-content emoji-tab-content" id="myTabContent_@b.BlogId">
                                                <div class="tab-pane fade show active" id="smiley_@b.BlogId" role="tabpanel" aria-labelledby="home-tab">
                                                </div>
                                                @*<div class="tab-pane fade" id="smiley2_@b.BlogId" role="tabpanel" aria-labelledby="smiley2-tab">
                                                    </div>*@


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            }
                        }

                        @if (chatter.BlogComments.Any() && chatter.BlogComments != null)
                        {
                            chatter.BlogComments = chatter.BlogComments.GroupBy(p => p.CommentId)
                            .Select(g => g.First())
                             .ToList();
                            //chatter.BlogComments = chatter.BlogComments.d
                            //Session["ApprovedByTeacher"]
                            { Html.RenderPartial("_MyWallComment", chatter.BlogComments); }
                        }



                        <div class="modal fade popup-purple-shade blog-popup" id="ignismyModal" tabindex="-1" role="dialog" aria-labelledby="SucessfulPopup" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-max">
                                <div class="modal-content">
                                    <form action="#" class="m-0">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                                        </div>
                                        <div class="modal-body" style="text-align:center;color:red;font-weight:bold;">
                                            <div class="thank-you-pop center-block" id="pMsg">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            }


        }
        else
        {
            <!-- blog - draft mode -->
            <!-- blog - draft mode end -->
        }
        //Count =   i ;
    }


}

else
{

    <div class="chatter-wrapper">

        <div class="card-group">
            @ResourceManager.GetString("Shared.Labels.NoRecords")
        </div>
        <script type="text/javascript">
            $('#loadMoreBlog').hide();
        </script>

    </div>
}


@if (Model.Count() > 0 && Model.Count() < 10)
{
    <script type="text/javascript">
        $('#loadMoreBlog').hide();
    </script>
}
<div class="modal popup-purple-shade blog-popup" id="createBlogPopup" role="dialog" aria-labelledby="editBlogPopup" aria-hidden="true">

</div>
<!-- blog 1 end -->
<div class="modal fade" id="myModalCamera" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <div id="my_camera"></div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-success" data-dismiss="modal" value="Snapshot" onClick="take_snapshot()">

                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="stopWebcam()">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="PostAndCommentLikeUserListModelPopUp" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title text-white" id="PostAndCommentLikeUserListModelPopUpHeader"></h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container" id="PostAndCommentLikeUserListModelPopUpBody">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
   @*document.getElementById("btnEditBlog").onclick = function () { loadblogpopup() };

    function loadblogpopup() {
        var ids = BlogId;
        $("#editBlogPopup").load('@Url.Action("MyWallEditBlog","Blog", new { id = Model.BlogId})');
    }*@
    var loader = $('.loader-wrapper').detach();
    if ($('.chat-list-card').length > 0) {
        $.get('/SchoolInfo/Blog/RecentHistory?groupId=' + $('#SectionId').val(), function (data) {
            $('.chat-list-card').html(data);
            $('.chat-list-card').find(".chatListWrap").mCustomScrollbar({
                setHeight: "250px",
                autoExpandScrollbar: true,
                scrollbarPosition: "outside",
                autoHideScrollbar: true
            });
            $(".activity-list").mCustomScrollbar({
                autoExpandScrollbar: true,
                scrollbarPosition: "inside",
                autoHideScrollbar: true
            });
        });
   }
    if ($('.group-list-card').length > 0) {
        $.get('/SchoolInfo/Blog/MyGroup', function (data) {
            $('.group-list-card').replaceWith(data);
            $('.group-list-card').find(".groupListWrap").mCustomScrollbar({
                setHeight: "250px",
                autoExpandScrollbar: true,
                scrollbarPosition: "outside",
                autoHideScrollbar: true
            });
        });
    }
    loader.insertAfter($("#dvnotificationdrawer"));

    $(document).mouseup(function (e) {
        //$('#txtBlogSearch').val('');
    });

    function FileUpload(e, id) {

        if (e.target.files.length < 1) {
            return;
        }
        // Defect ID 1635


            var files = e.target.files;
            var token = $('input[name=__RequestVerificationToken]').val();
            var comment = " ";
            var formDataComment = new FormData();
        var isublish = $("#SApprove_" + id).val();
        var messages = {
            suresendfile:"@ResourceManager.GetString("School.YoYoBlog.QuestionSureSEndFile")",
            CommentNotAllowed:"@ResourceManager.GetString("School.YoYoBlog.CommentNotAllowed")",
            CommentSuccess:"@ResourceManager.GetString("School.YoYoBlog.CommentSuccess")",
            FileTypeValidation:"@ResourceManager.GetString("School.YoYoBlog.CommentSuccess")",
            only:"@ResourceManager.GetString("School.YoYoBlog.CommentSuccess")",
            }
            formDataComment.append("__RequestVerificationToken", token);
            formDataComment.append("BlogId", id);
            formDataComment.append("Comment", comment);
            formDataComment.append("PostedDocuments", files[0]);
           formDataComment.append("IsPublish", isublish);
            if (IsValidateFile(files[0].name, $('#ActionType').val())) {
                if (confirm(messages.suresendfile)) {
                $.ajax({
                    type: 'POST',
                    url: "/SchoolInfo/blog/SaveComment",
                    data: formDataComment,
                    contentType: false,
                    processData: false,
                    success: function (result) {

                        if (result.Success === false) {
                            globalFunctions.showMessage("error", messages.CommentNotAllowed);
                            location.reload();
                        }
                        else {
                            $("#Comment_" + id).val('');
                            //$(source).addClass('disabled');
                            //$(source).closest('.blog-post').toggleClass('blog-post-show-comment');
                            yoYoBlog.loadWallBlogListForBlog(id, function (dataresult) {
                                var commentId = '#mainBlog-' + id;
                                var chatter = $(dataresult).find(commentId).closest('.chatter-wrapper');
                                var existingChatter = $(commentId).closest('.chatter-wrapper');
                                existingChatter.find('.likeWithCount').html(chatter.find('.likeWithCount').html() || '');
                                existingChatter.find('.commentWithCount').html(chatter.find('.commentWithCount').html());
                                if (existingChatter.find('.comment-list-container').length>0) {
                                    existingChatter.find('.comment-list-container').html(chatter.find('.comment-list-container').html());
                                    existingChatter.find('.comment-section').html(chatter.find('.comment-section').html() || '');
                                    existingChatter.find('.commentText').each(function (t, i) { $(i).html(linkify($(i).text())); });
                                }
                                else {
                                    existingChatter.find('.card-group').append(chatter.find('.comment-list-container'));
                                    existingChatter.find('.commentText').each(function (t, i) { $(i).html(linkify($(i).text())); });
                                }
                                //$(commentId).closest('.chatter-wrapper').html($(result).find(commentId).closest('.chatter-wrapper').html());
                            });
                            globalFunctions.showSuccessMessage(messages.CommentSuccess);
                        }
                    }
                });
            }
        }
    }



    function openfile(BlogId, fileuploadid, actionType) {
        $('#ActionType').val(actionType);
        $("#imgupload_" + BlogId).click();

    }

    function IsValidateFile(fileF, actionType) {

        var allowedFileType = actionType.split("-");
        var allowedFiles = [" "];
        allowedFiles = JSON.parse($('#AllowedFileExtension').val());
        //if ("image" == allowedFileType[1]) {
        //    allowedFiles = JSON.parse($("#AllowedImageExtension").val());
        //}
        //if ("file" == allowedFileType[0]) {
            //allowedFiles =  JSON.parse($('#AllowedFileExtension').val());
       // }
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");

        if (!regex.test(fileF.toLowerCase())) {
            openPopup(allowedFiles.join(', '))
            //alert("Please upload files having extensions: " + allowedFiles.join(', ') + " only.");
            return false;
        }
        return true;
    }

    function openPopup(message) {
        $('#pMsg').html(FileTypeValidation).append("&nbsp;").append(messages.FileTypeValidation).append(messages.only);
        $('#ignismyModal').modal('toggle');
    }

    function loadWallListForGroup() {
    var groupId = 0;
            if ($("#GroupId").val() != "") {
                groupId = $("#GroupId").val();
            }

     $.ajax({
                type: 'POST',
                url: "/SchoolInfo/Blog/GetWallListByGroupId",
                data: { 'groupId': groupId },
                success: function (result) {
                    if (result !== '') {
                        $("#myWallList").html('');
                        $("#myWallList").html(result);
                    }
                    else {
                        globalFunctions.showMessage("error", translatedResources.technicalError);
                    }


                },
                error: function (msg) {
                    //globalFunctions.pageLoadingFrame("hide");
                    globalFunctions.showMessage("error", translatedResources.technicalError);
                }
            });
    }
</script>
<script language="JavaScript">
    //issue:#C20DO-1620
    $(function () {
        $('.share-icon').off("click").on('click', function (e) {

            $("#SchoolGroupId option").prop('disabled', false);

            $('#ShareroupId').val($(this).data('grpid'));


            $("#SchoolGroupId option[value='" + $('#ShareroupId').val() + "']").attr('disabled', true);
            $('.selectpicker').selectpicker('refresh');

            $('#lblMessage').html("");
            selectedGroup;
            $('.selectpicker').selectpicker('deselectAll');
            $("#SchoolGroupId").on("change", function () {
                selectedGroup = $("#SchoolGroupId").val();
            });
            var selected = $(this).data('id');
            $("#BlogId").val(selected);
        });
    });
    function StartWebcam(id) {
        localStorage.setItem('cameraId', id);
        $('#my_camera').css('display', 'block')
        Webcam.set({
            width: 470,
            height: 350,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#my_camera');

    }
    function stopWebcam() {
        Webcam.stream.getTracks().forEach(function (track) { track.stop() })

    }
    function take_snapshot() {
        // take snapshot and get image data

        Webcam.snap(function (data_uri) {
            /*debugger*/;
            var blogid = localStorage.getItem('cameraId');
            var isublish = $("#SApprove_" + localStorage.getItem('cameraId')).val();

      var messages = {
            suresendfile:"@ResourceManager.GetString("School.YoYoBlog.QuestionSureSEndFile")",
            CommentNotAllowed:"@ResourceManager.GetString("School.YoYoBlog.CommentNotAllowed")",
            CommentSuccess:"@ResourceManager.GetString("School.YoYoBlog.CommentSuccess")",
            FileTypeValidation:"@ResourceManager.GetString("School.YoYoBlog.CommentSuccess")",
            only:"@ResourceManager.GetString("School.YoYoBlog.CommentSuccess")",
            }
            if (confirm(messages.suresendfile)) {
                $.ajax({
                    type: "POST",
                    url: '/SchoolInfo/blog/Capture',

                    processData: true,
                    data: { name: data_uri, blogId: localStorage.getItem('cameraId'), IsPublish: isublish },
                    success: function (result) {
                        //
                        $("#Comment_" + localStorage.getItem('cameraId')).val('');
                        if (result === false) {
                            globalFunctions.showMessage("error", messages.CommentNotAllowed);
                            location.reload();
                            return;
                        }
                        //$(source).addClass('disabled');
                        //$(source).closest('.blog-post').toggleClass('blog-post-show-comment');
                        globalFunctions.showSuccessMessage(messages.CommentSuccess);
                        yoYoBlog.loadWallBlogListForBlog(blogid, function (dataresult) {
                            var commentId = '#mainBlog-' + blogid;
                            var chatter = $(dataresult).find(commentId).closest('.chatter-wrapper');
                            var existingChatter = $(commentId).closest('.chatter-wrapper');
                            existingChatter.find('.likeWithCount').html(chatter.find('.likeWithCount').html() || '');
                            existingChatter.find('.commentWithCount').html(chatter.find('.commentWithCount').html());
                            if (existingChatter.find('.comment-list-container').length > 0) {
                                existingChatter.find('.comment-list-container').html(chatter.find('.comment-list-container').html());
                                existingChatter.find('.comment-section').html(chatter.find('.comment-section').html() || '');
                                existingChatter.find('.commentText').each(function (t, i) { $(i).html(linkify($(i).text())); });
                            }
                            else {
                                existingChatter.find('.card-group').append(chatter.find('.comment-list-container'));
                                existingChatter.find('.commentText').each(function (t, i) { $(i).html(linkify($(i).text())); });
                            }
                        });
                        localStorage.removeItem('cameraId');
                    },
                    error: function (xhr, status, p3, p4) {
                        //var err = "Error " + " " + status + " " + p3 + " " + p4;
                        //if (xhr.responseText && xhr.responseText[0] == "{")
                        //    err = JSON.parse(xhr.responseText).Message;
                        //console.log(err);
                    }
                });
            } else {

            }

        });
        $('#my_camera').css('display', 'none')

        Webcam.stream.getTracks().forEach(function (track) { track.stop() })

    }
    $(document).ready(function () {
        $(".blog-lists").mCustomScrollbar({
            //setHeight: "200px",
            autoHideScrollbar: true,
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
        });
        $('.commentText').each(function (t, i) { $(i).html(linkify($(i).text())); });
    });
    function linkify(str) {

        var newStr = str.replace(/((http(s)?(\:\/\/))?(www\.)?([\w\-\.\/])*(\.[a-zA-Z]{2,3}\/?))(?!(.*a>)|(\'|\"))/g, '<a href="http://$1" target="_blank">$1</a>');
        console.log(newStr);
        if (str != newStr) {
            var url;
            if (str.includes("http") == true || str.includes("https") == true) {
                url = str;
                newStr = '<a href="' + str + '" target="_blank">' + url + '</a>'
                return newStr;
            } else {
                return newStr;
            }

        } else {
            return str;
        }

    }
        $(document).ready(function () {
   
  
        $('body').on('click', '.ViewPostCommentUserList', function (e) {
           
            var id = $(this).data("blogid");
            $('#PostAndCommentLikeUserListModelPopUpBody').html('');
            $('#PostAndCommentLikeUserListModelPopUpHeader')[0].innerText = '';
            $.ajax({
                url: '/SchoolInfo/Blog/ViewPostCommentUserList',
                data: { 'BlogId': id, 'CommentSectioId': 0, 'IsCommentDetailDisplay': true },
                type: 'POST',
                success: function (data) {
                    $('#PostAndCommentLikeUserListModelPopUpBody').html(data);
                    console.log(data.result);
                    if ($('#ModelHeader').val() == undefined) {
                        $('#PostAndCommentLikeUserListModelPopUpHeader')[0].innerText = '@ResourceManager.GetString("School.YoYoBlog.PostCommentHeader")';
                    } else {
                        $('#PostAndCommentLikeUserListModelPopUpHeader')[0].innerText = $('#ModelHeader').val();
                    }
                    $("#PostAndCommentLikedList").mCustomScrollbar({
                        setHeight: "250px",
                        autoHideScrollbar: true,
                        autoExpandScrollbar: true,
                        scrollbarPosition: "inside",
                    });
                },
                error: function (data, xhr, status) {
                    //globalFunctions.showErrorMessage();
                },
            });


        });

        $('body').on('click', '.ViewLikePostUserList', function (e) {

            var id = $(this).data("blogid");
            $('#PostAndCommentLikeUserListModelPopUpBody').html('');
            $('#PostAndCommentLikeUserListModelPopUpHeader')[0].innerText = '';
            $.ajax({
                url: '/SchoolInfo/Blog/ViewPostCommentUserList',
                data: { 'BlogId': id, 'CommentSectioId': 0, 'IsCommentDetailDisplay': false },
                type: 'POST',
                success: function (data) {
                    //$('#PostAndCommentLikeUserListModelPopUpHeader').innerHTML($('#ModelHeader').val());

                    $('#PostAndCommentLikeUserListModelPopUpBody').html(data);
                    console.log(data.result);
                    if ($('#ModelHeader').val() == undefined) {
                      $('#PostAndCommentLikeUserListModelPopUpHeader')[0].innerText = '@ResourceManager.GetString("School.YoYoBlog.PostLikeHeader")';
                    } else {
                        $('#PostAndCommentLikeUserListModelPopUpHeader')[0].innerText = $('#ModelHeader').val();
                    }
                    $("#PostAndCommentLikedList").mCustomScrollbar({
                        setHeight: "250px",
                        autoHideScrollbar: true,
                        autoExpandScrollbar: true,
                        scrollbarPosition: "inside",
                    });
                },
                error: function (data, xhr, status) {
                    //globalFunctions.showErrorMessage();
                },
            });


        });

        $('.chatter-wrapper').on('click', '.imgSharePost', function (e) {
            var blogid = $(this).data("id");
            $.ajax({
                url: '/SchoolInfo/Blog/GetDisabledGroupList?BlogId=' + blogid,
                type: 'POST',
                success: function (data) {
                    //alert('imgSharePost');
                    $('#sharedpostgrouplist').html('');
                    $("#sharedpostgrouplist").html(data);
                    $('.selectpicker').selectpicker();
                },
                error: function (data, xhr, status) {
                    //globalFunctions.showErrorMessage();
                },
            });
        })

        function loadWallListForGroup(blogid,containerid) {
            var groupId = 0;
            if ($("#GroupId").val() != "") {
                groupId = $("#GroupId").val();
            }

            $.ajax({
                type: 'POST',
                url: "/SchoolInfo/Blog/GetBlogDetailByBlogid",
                data: { 'blogid': blogid, 'groupId': groupId },
                success: function (result) {
                    //alert('loadWallListForGroup');
                    if (result !== '') {
                        $("#" + containerid).html('');
                        $("#" + containerid).html(result);
                    }
                    else {
                        globalFunctions.showMessage("error", translatedResources.technicalError);
                    }
                },
                error: function (msg) {
                    //globalFunctions.pageLoadingFrame("hide");
                    globalFunctions.showMessage("error", translatedResources.technicalError);
                }
            });
        }

        $('.chatter-wrapper').on('click', '.acceptupdate', function (e) {
            var blogid = $(this).data("id");
            var containerid = $(this).data("containerid");

            var UpdatedBlogId = $(this).data("updatebyblogid");
            $.ajax({
                url: '/SchoolInfo/Blog/UpdateBlogWithNewUpdate?UpdateBlogId=' + blogid + '&UpdatFromBlogId=' + UpdatedBlogId +'&IsApproved=true&IsRejected=false',
                type: 'POST',
                success: function (data) {
                    //alert('acceptupdate');
                    loadWallListForGroup(blogid, containerid);
                },
                error: function (data, xhr, status) {
                    //globalFunctions.showErrorMessage();
                },
            });
        })


        $('.chatter-wrapper').on('click', '.rejectupdate', function (e) {
            var blogid = $(this).data("id");
            var containerid = $(this).data("containerid");

            var UpdatedBlogId = $(this).data("updatebyblogid");
            $.ajax({
                url: '/SchoolInfo/Blog/UpdateBlogWithNewUpdate?UpdateBlogId=' + blogid + '&UpdatFromBlogId=' + UpdatedBlogId +'&IsApproved=false&IsRejected=true',
                type: 'POST',
                success: function (data) {
                    loadWallListForGroup(blogid, containerid);
                },
                error: function (data, xhr, status) {
                    //globalFunctions.showErrorMessage();
                },
            });
        })
        $('body').on('click', '.ViewCommentLikeUserList', function (e) {
            $("#PostAndCommentLikeUserListModelPopUpBody").mCustomScrollbar({
                setHeight: "200px",
                autoHideScrollbar: true,
                autoExpandScrollbar: true,
                scrollbarPosition: "inside",
            });
            var commentsectioid = $(this).data("commentsectioid");
            var blogid = $(this).data("blogid");
            $('#PostAndCommentLikeUserListModelPopUpBody').html('');
            $('#PostAndCommentLikeUserListModelPopUpHeader')[0].innerText = '';
            $.ajax({
                url: '/SchoolInfo/Blog/ViewPostCommentUserList',
                data: { 'BlogId': blogid, 'CommentSectioId': commentsectioid, 'IsCommentDetailDisplay': false },
                type: 'POST',
                success: function (data) {
                    $('#PostAndCommentLikeUserListModelPopUpBody').html(data);
                    if ($('#ModelHeader').val() == undefined) {
                                $('#PostAndCommentLikeUserListModelPopUpHeader')[0].innerText = '@ResourceManager.GetString("School.YoYoBlog.CommentLikeHeader")';
                    } else {
                        $('#PostAndCommentLikeUserListModelPopUpHeader')[0].innerText = $('#ModelHeader').val();
                    }
                    console.log(data.result);
                },
                error: function (data, xhr, status) {
                    //globalFunctions.showErrorMessage();
                },
            });
        });
    });















</script>
@*# Issue C20DO- 1621*@
<style>

    .filetype {
        padding: 14px;
    }

    @@media only screen and (max-width: 600px) {
        .post-Image p img {
            max-width: 250px !important;
        }
    }

    @@media (min-width:601px) and (max-width: 992px) {
        .post-Image p img {
            max-width: 400px !important;
        }
    }

    .post-detail p {
        margin-bottom: 0;
    }

    .post-Image p img {
        max-width: 650px;
    }

    .post-Image p {
        word-wrap: break-word;
    }

    .chatAvatar {
        min-width: 2.5rem;
    }

    .leftcheck .dropdown-menu li a span.text {
        margin-right: 20px;
        margin-left: 20px;
    }

    .leftcheck .dropdown-menu .selected span.check-mark {
        position: absolute;
        display: inline-block;
        left: 15px;
        top: 5px;
    }
    /*.emoji-popup {
                                         position: absolute;
                                         width: 472px;
                                         top: 33px;
                                         left: 0px;
                                         z-index: 1;
                                         background-color: white;
                                         border-radius: 5px;
                                         box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0,0,0,0.23) 0px 3px 6px;
                                     }

                                     .emoji-popup .tab-content > .active {
                                         display: flex;
                                         flex-wrap: wrap;
                                     }

                                    .emoji-tab-content a {
                                         text-decoration: none;
                                         margin: 3px 10px;
                                         min-width: 25px;
                                     }*/
    .comment-textbox .emoji-popup {
        z-index: 1;
        position: absolute;
        width: 475px;
        top: 2.5rem;
        left: 0;
        background-color: #fff;
        border-radius: 0.375rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    @@media (max-width: 767.98px) {
        .comment-textbox .emoji-popup {
            width: 100% !important;
        }
    }

    .comment-textbox .emoji-popup .tab-content > .active {
        display: flex;
        flex-wrap: wrap;
    }

    @@media (max-width: 767.98px) {
        .comment-textbox .emoji-popup .tab-content > .tab-pane {
            max-height: 18.875rem;
            overflow: auto;
        }
    }

    .comment-textbox .emoji-popup .emoji-tab-content a {
        text-decoration: none;
        margin: 0.2125rem 0.7125rem;
        min-width: 1.8125rem;
    }

    @@media screen and (min-width: 768px) and (max-width: 1024px) {
        .comment-textbox .emoji-popup {
            width: calc(100% - 100px);
        }

            .comment-textbox .emoji-popup .tab-content > .tab-pane {
                max-height: 18.875rem;
                overflow: auto;
            }
    }
</style>
