﻿@model Phoenix.VLE.Web.EditModels.BlogEdit
@using Phoenix.Common.Localization
@using Phoenix.Models.Entities
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Enums;
@using Phoenix.Models
@using Phoenix.Common.Helpers
@*<style>
        .allopt-dropdown.allopt-modaldropdown .bootstrap-select .dropdown-menu.show {
            min-width: 100% !important;
            width: 100% !important;
        }
    </style>*@
@{
    var SchoolCode = SessionHelper.CurrentSession.SchoolCode;
    bool IsParent = SessionHelper.CurrentSession.IsParent();
    var isCustomPermission = ViewBag.IsCustomPermission ?? false;
    short cloudFileLoadType = SessionHelper.CurrentSession.ResourceFileLoadType;
    var fileDetails = ViewBag.filedetails ?? "";
    var headerTitle = Model.BlogId > 0 ? ResourceManager.GetString("School.YoYoBlog.EditBlog") : ResourceManager.GetString("School.YoYoBlog.CreateBlog");
    var strSelect = ResourceManager.GetString("Shared.Labels.Select");
    //#region collection of icons font awesome
    //Dictionary<string, string> icons = new Dictionary<string, string>();
    //icons.Add("doc,docx", "file-type-word");
    //icons.Add("xls,xlsx", "file-type-excel");
    //icons.Add("ppt,pptx", "file-type-ppt");
    //icons.Add("pdf", "file-type-pdf");
    //icons.Add("zip,rar", "file-type-zip");
    //icons.Add("htm,html", "file-type-html");
    //icons.Add("txt,rtf", "file-type-text");
    //icons.Add("mov,mp4,avi", "file-type-video");
    //icons.Add("mp3", "file-type-audio");
    //icons.Add("svg", "file-type-svg");
    //#endregion



    #region collection of icons font awesomeaa
    Dictionary<string, string> icons = new Dictionary<string, string>();
    icons.Add("doc,docx", "<i class=\"fas  fa-2x fa-file-word ic-file-word color-doc\"></i>");
    icons.Add("xls,xlsx", "<i class=\"fas  fa-2x fa-file-excel ic-file-excel color-excel\"></i>");
    icons.Add("ppt,pptx", "<i class=\"fas color-ppt fa-2x fa-file-powerpoint ic-file-ppt\"></i>");
    icons.Add("pdf", "<i class=\"fas fa-2x fa-file-pdf ic-file-pdf color-pdf\"></i>");
    icons.Add("zip,rar", "<i class=\"fas fa-2x fa-file-archive ic-file text-primary\"></i>");
    icons.Add("htm,html", "<i class=\"fas fa-2x fa-file-code ic-file text-primary\"></i>");
    icons.Add("txt,rtf", "<i class=\"fas fa-2x fa-file-alt ic-file color-txt\"></i>");
    icons.Add("mov,mp4,avi", "<i class=\"fas fa-2x fa-file-video ic-file color-video\"></i>");
    icons.Add("mp3", "<i class=\"fas fa-2x fa-file-audio ic-file color-audio\"></i>");
    icons.Add("jpg,jpeg,gif,png", "<i class=\"fas fa-2x fa-file-image ic-file-img color-image\"></i>");
    icons.Add("csv", "<i class=\"fas  fa-2x fa-file-csv ic-file-csv color-csv\"></i>");
    #endregion


}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.SchoolId, new { @id = "SchoolId" })
@Html.HiddenFor(m => m.BlogId, new { @id = "AddEditBlogId" })
@Html.HiddenFor(m => m.SelectedStudentIDs, new { @id = "hdnSelectedstu" })
@Html.HiddenFor(m => m.EnableCommentById, new { @id = "hdnEnableCommentById" })
@Html.Hidden("hdnBlogImage", Model.BlogImage, new { @id = "hdnBlogImage" })


<input type="hidden" id="cloudFileDetails" name="cloudFileDetails" />
<input type="hidden" id="blogCloudFilesDetails" name="blogCloudFilesDetails" value="@fileDetails" />
<input type="hidden" id="CloudFileToBlogSaveUri" value="/Assignments/Assignment/SaveBlogCloudFiles" />

@*<input type="hidden" id="selectedStudents" name="selectedStudents" value="@ViewBag.SelectedStudent" />*@
<style>
    .modal {
        overflow-x: hidden !important;
        overflow-y: auto !important;
        padding-right: 0 !important;
    }
</style>

<div class="modal-dialog modal-dialog-centered modal-max">
    <div class="modal-content" id="pi">
        <form action="#" class="m-0">
            <div class="modal-header">
                <h6 class="modal-title text-white">@headerTitle</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span>×</span></button>
            </div>
            <div class="modal-body pb-0">
                <ul class="pb-4 blog-action d-flex align-items-center flex-wrap">
                    <li class="mr-3">
                        <button class="action-circle" data-target="#addDp" onclick="return false;">
                            <img src="~/Content/VLE/img/add-dp.png" id="btnBlogImage" />
                        </button>
                        <small class="mt-2 dark-purple">@ResourceManager.GetString("School.Blog.BlogImage")</small>
                    </li>
                    <li class="mr-3">
                        <button class="action-circle" data-target="#browseFiles" onclick="return false;">
                            <img src="~/Content/VLE/img/svg/browse.svg" id="btnBlogBrowse" />
                        </button>
                        <small class="mt-2 dark-purple">@ResourceManager.GetString("School.YoYoBlog.Browse")</small>
                    </li>


                    <li class="mr-3">
                        <button type="button" href="javascript:;" class="action-circle one-drive-file cloud-file-view file-explorer" data-title="@ResourceManager.GetString("Files.File.OneDriveFiles")" data-uploadmoduletype="@((short)Phoenix.Common.Enums.FileUploadModuleType.Blogs)" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.OneDrive)" id="oneDrive" data-target="#divCloudFileList">
                            <img src="~/Content/VLE/img/svg/onedrive.svg" id="oneDriveimg" />
                        </button>
                        <small class="mt-2 dark-purple">@ResourceManager.GetString("School.YoYoBlog.OneDrive")</small>
                    </li>
                    @if (SessionHelper.CurrentSession.GoogleDriveIntegrationType != (short)Phoenix.Common.Enums.GoogleDriveIntegrationType.None)
                    {
                        <li class="mr-3">
                            <button type="button" href="javascript:;" class="action-circle google-drive-file cloud-file-view file-explorer" data-title="@ResourceManager.GetString("Files.File.GoogleDriveFiles")" data-uploadmoduletype="@((short)Phoenix.Common.Enums.FileUploadModuleType.Blogs)" data-resourcetypeid="@((short)Phoenix.Common.Enums.ResourceFileTypes.GoogleDrive)" id="googleDrive" data-target="#divCloudFileList">
                                <img src="~/Content/VLE/img/awesome-google-drive.png" id="googleDriveimg" />
                            </button>
                            <small class="mt-2 dark-purple">@ResourceManager.GetString("School.YoYoBlog.GoogleDrive")</small>
                        </li>
                    }

                </ul>

                <!-- add DP -->
                <div class="content-uploader collapse rounded-2x column-padding py-3 clearfix mb-3" id="addDp">
                    <h3 class="text-semibold">@ResourceManager.GetString("School.Blog.BlogImage")</h3>
                    <div class="uploaderWidget text-center">




                        @Html.TextBoxFor(m => m.BlogImage, new { @class = "fileUploader", type = "file", name = "PostedImage", id = "PostedImage", @multiple = "multiple" })
                        <div class="attachments-preview pt-2 mb-3">
                            <ul class="d-flex" id="previewa1a489f0-5412-4bc9-9901-1b84184f37da">

                                @if (!string.IsNullOrEmpty(Model.BlogImage))
                                {
                                    string[] arr = Model.BlogImage.Split('_'); string fname = arr[arr.Length - 1];
                                    string fileExtension = fname.Substring(fname.IndexOf(".") + 1);
                                    var fileIcon1 = icons.Any(x => x.Key.ToLower().Contains(fileExtension?.ToLower())) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(fileExtension?.ToLower())).Value : "<i class=\"fas fa-2x fa-file\"></i>";
                                    <li class="position-relative rounded ml-2" id="listIt">
                                        <a href="@Model.BlogImage" class="p-3 d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="@fname" data-sub-html="@fname" data-original-title="" title="">
                                            <img src="@Model.BlogImage" class="img-fluid" style="display:none">
                                            @Html.Raw(fileIcon1)
                                        </a>
                                        <a href="javascript:void(0)" class="remove position-absolute d-block bg-white" onclick="$('#hdnBlogImage').val(''); $(this).closest('#listIt').remove(); globalFunctions.showSuccessMessage('Image Deleted Successfully');">
                                            <i class="fas fa-times-circle"></i>
                                        </a>

                                    </li>
                                }

                            </ul>
                        </div>

                    </div>
                </div>

                <!-- Browse files -->
                <div class="content-uploader collapse rounded-2x column-padding py-3 clearfix mb-3" id="browseFiles">
                    <h3 class="text-semibold">@ResourceManager.GetString("School.YoYoBlog.BrowseFiles")</h3>
                    <div class="uploaderWidget text-center">
                        @*<div class="content-uploader collapse rounded-2x column-padding py-3 clearfix mb-3" id="browseFiles">*@
                        @Html.TextBoxFor(m => m.PostedDocuments, new { type = "file", multiple = "multiple", name = "PostedDocumens", id = "PostedDocuments" })
                        @*</div>*@
                    </div>
                    <div class="attachments-preview pt-2 mb-3">
                        <ul class="d-flex" id="previewa1a489f0-5412-4bc9-9901-1b84184f37da" style=" flex-wrap: wrap;">
                            @foreach (var item in Model.AttachmentList)
                            {
                                if (!string.IsNullOrEmpty(item.FileName))
                                {

                                    string fileExtension = item.FileName.Substring(item.FileName.IndexOf(".") + 1);
                                    var fileIcon1 = icons.Any(x => x.Key.ToLower().Contains(fileExtension?.ToLower())) ? icons.FirstOrDefault(x => x.Key.ToLower().Contains(fileExtension?.ToLower())).Value : "<i class=\"fas fa-2x fa-file\"></i>";

                                    if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(item.FileName))
                                    {
                                        if (!string.IsNullOrEmpty(item.AttachmentKey))
                                        {
                                            var filePathArray = item.AttachmentKey;
                                            if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                            {
                                                filePathArray = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(filePathArray);
                                            }
                                            //filePathArray = CommonHelper.GetFileURL(item.ResourceFileTypeId, filePathArray, false, EncryptDecryptHelper.EncryptUrl(item.AttachmentId.ToString()), "blog");
                                            <li class="position-relative rounded ml-2 mt-2">
                                                @*<a href="javascript:void(0)" class="p-3 d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="@item.FileName" data-sub-html="@item.FileName" data-original-title="" title="">
                                                        <img src="@filePathArray" class="img-fluid" style="height:24px !important;width:19px !important" id="editimg_@item.AttachmentId" onclick="ShowImageonPopup('editimg_@item.AttachmentId')">
                                                    </a>*@
                                                <a onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(filePathArray) : (filePathArray).Replace("\'","%27"))','@SchoolCode','@SessionHelper.CurrentSession.IsParent()','3')"
                                                   @*href="@filePathArray"*@
                                                   class="px-0 d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="@item.FileName" data-sub-html="@item.FileName" data-original-title="" title="" style="width:47px;">
                                                    <img src="@filePathArray" class="img-fluid" style="height:24px !important;width:100% !important">
                                                </a>

                                                <a href="javascript:void(0)" class="remove position-absolute d-block bg-white" onclick="DeleteFile(@item.AttachmentId)">
                                                    <i class="fas fa-times-circle"></i>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="position-relative rounded ml-2 mt-2" id="listIt_@item.AttachmentId">
                                                <a onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.AttachmentPath) : (item.AttachmentPath).Replace("\'","%27"))','@SchoolCode','@SessionHelper.CurrentSession.IsParent()','3')"
                                                   @*href="@item.AttachmentPath"*@
                                                   class="d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="@item.FileName" data-sub-html="@item.FileName" data-original-title="" title="" style="width:47px;">
                                                    <img src="@item.AttachmentPath" class="img-fluid" style="display:none">
                                                    @Html.Raw(fileIcon1)
                                                </a>
                                                <a href="javascript:void(0)" class="remove position-absolute d-block bg-white" onclick="DeleteFile(@item.AttachmentId)">
                                                    <i class="fas fa-times-circle"></i>
                                                </a>
                                            </li>

                                        }
                                    }
                                    else
                                    {
                                        var filePath = "";
                                        if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                                        {
                                            filePath = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(item.AttachmentPath);
                                        }
                                        else
                                        {
                                            filePath = item.AttachmentPath;
                                        }
                                        <li class="position-relative rounded ml-2 mt-2" id="listIt_@item.AttachmentId">
                                            <a onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(filePath) : (filePath).Replace("\'","%27"))','@SchoolCode','@SessionHelper.CurrentSession.IsParent()','3')"
                                               @*href="@filePath"*@
                                               class="d-block filetype galleryImg" data-toggle="tooltip" data-placement="bottom" data-title="@item.FileName" data-sub-html="@item.FileName" data-original-title="" title="" style="width:47px;" target="_blank">
                                                <img @*src="@filePath"*@
                                                     onclick="globalFunctions.downloadSharepointFile('@item.FileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(filePath) : (filePath).Replace("\'","%27"))','@SchoolCode','@SessionHelper.CurrentSession.IsParent()','3')"
                                                     class="img-fluid" style="display:none">
                                                @Html.Raw(fileIcon1)
                                            </a>
                                            <a href="javascript:void(0)" class="remove position-absolute d-block bg-white" onclick="DeleteFile(@item.AttachmentId)">
                                                <i class="fas fa-times-circle"></i>
                                            </a>
                                        </li>
                                    }


                                }
                            }
                        </ul>
                    </div>


                </div>

                <div class="column-padding py-4 attachment-list" id="divCloudFileList">
                    @if (Model.ListCloudFile != null)
                    {
                        @Html.Partial("_BlogCloudFileList", Model.ListCloudFile)

                        @*@Html.EditorFor(m => m.ListCloudFile, new { type = "file", multiple = "multiple", name = "ListCloudFile", id = "ListCloudFile" })*@
                    }
                </div>


                <!-- create blog form start -->
                <div class="row mb-3">
                    <div class="col-12 md-outline">
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @Id = "Title", @placeholder = @ResourceManager.GetString("School.Blog.Title"), @maxlength = "250" })

                        @Html.ValidationMessageFor(x => x.Title)
                        @*<input type="text" id="Title" class="form-control" placeholder="Title" required>*@
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 md-outline">
                        @Html.TextAreaFor(x => x.Description, new { @class = "md-textarea form-control ckeditor", @Id = "BlogDescription", @name = "Description", @placeholder = @ResourceManager.GetString("School.Blog.Description"), @rows = "3", tabindex = 3 })

                        @Html.ValidationMessageFor(x => x.Description)
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-4 col-md-6 col-s-12 md-outline allopt-dropdown">
                        <label for="select-group" class="text-semibold">@ResourceManager.GetString("School.YoYoBlog.SelectGroup")</label>

                        @Html.DropDownListFor(x => x.GroupId, ViewBag.GroupList as List<SelectListItem>, new { @class = "selectpicker ddlGroup", @data_live_search = "true", @data_size = "10", @name = "ddlGroup", @Id = "ddlGroup", @title = strSelect, @placeholder = ResourceManager.GetString("School.Blog.SelectGroup") })

                        @Html.ValidationMessageFor(x => x.GroupId)
                    </div>
                    <div class="col-lg-4 col-md-6 col-s-12 md-outline allopt-modaldropdown">
                        <label for="select-student" class="text-semibold">@ResourceManager.GetString("School.YoYoBlog.SelectStudent")</label>
                        @Html.DropDownListFor(x => x.SelectedStudentIDs, Model.SelectedStudentList, new { @class = "selectpicker ddlStudent", @name = "ddlStudent", @Id = "ddlStudent", @multiple = "multiple", @title = strSelect, @data_live_search = "true", @data_actions_box = "true", @data_selected_text_format = "count" })

                        @*@if (ViewBag.FirstSelectedStudentCount > 0)
                            {
                            }
                            else
                            {
                                @Html.DropDownListFor(x => x.SelectedStudentIDs, Model.SelectedStudentList, new { @class = "selectpicker ddlStudent", @name = "ddlStudent", @Id = "ddlStudent", @multiple = "multiple", @title = "--- Select Student ---", @data_live_search = "true", @data_actions_box = "true" })
                            }*@


                        @*@Html.DropDownListFor(x => x.SelectedStudentIDs, Model.SelectedStudentList, new { @class = "selectpicker ddlStudent", @name = "ddlStudent", @Id = "ddlStudent", @multiple = "multiple", @title= "--- Select Student ---", @data_live_search = "true", @data_actions_box = "true" })*@

                        @Html.ValidationMessageFor(x => x.SelectedStudentIDs)
                    </div>
                    <div class="col-lg-4 col-md-6 col-s-12 md-outline">
                        <label for="category" class="text-semibold">@ResourceManager.GetString("School.YoYoBlog.SelectCategory")</label>

                        @Html.DropDownListFor(x => x.CategoryId, Model.CategoryList, new { @class = "selectpicker ddlCategory", @name = "ddlCategory", @Id = "ddlCategory", @placeholder = ResourceManager.GetString("School.YoYoBlog.SelectCategory") })

                        @Html.ValidationMessageFor(x => x.CategoryId)

                    </div>
                </div>
                @if (SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin)
                {

                    <div class="row my-4">

                        @*Code for Is moderation required checkbox -----
                                <div class="md-outline check-item d-flex align-items-center">
                                <label for="group-value41">
                                    <input type="checkbox" id="group-value41" data-toggle="toggle" data-on="Show" data-off="Hide" data-onstyle="primary" data-size="small" data-width="95">
                                </label>
                                <label for="group-value4" class="text-color-purple text-medium">
                                    Is Moderation Required?
                                </label>
                            </div>*@

                        @*
                            -----------Toggle button-------
                        *@

                        @if (Model.BlogId > 0)
                        {
                            if (Model.IsVisibleToParent == false)
                            {
                                <div class="col-12 d-flex justify-content-start align-items-center">
                                    <div class="custom-switch purple-switch mr-1">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                        <label class="custom-control-label" for="customSwitch1"></label>
                                    </div>
                                    <p class="text-color-purple text-semibold mb-0">@ResourceManager.GetString("School.YoYoBlog.BlogPostParents")</p>
                                </div>
                            }
                            else
                            {
                                <div class="col-12 d-flex justify-content-start align-items-center">
                                    <div class="custom-switch purple-switch mr-1">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                        <label class="custom-control-label" for="customSwitch1"></label>
                                    </div>
                                    <p class="text-color-purple text-semibold mb-0">@ResourceManager.GetString("School.YoYoBlog.BlogPostParents")</p>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-12 d-flex justify-content-start align-items-center">
                                <div class="custom-switch purple-switch mr-1">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                    <label class="custom-control-label" for="customSwitch1"></label>
                                </div>
                                <p class="text-color-purple text-semibold mb-0">@ResourceManager.GetString("School.YoYoBlog.BlogPostParents")</p>
                            </div>
                        }



                    </div>
                    <div class="row mb-3">

                        <div class="col-md-6 col-sm-12">
                            <div class="comment-card" style="height:184.913px; !important">
                                <h6 class="dark-purple text-medium font-small">@ResourceManager.GetString("School.YoYoBlog.AllowComments")</h6>
                                <div class="md-outline check-item d-flex align-items-center">
                                    <label for="group-value5">
                                        @if (Model.EnableCommentById == 1)
                                        {
                                            @Html.RadioButtonFor(x => x.EnableCommentById, Model.EnableCommentById, new { @class = "chkAllowComment", @name = "chkAllowComment", @value = 1, @id = "chkAllowCommentByStudentOnly", @style = "cursor: pointer; margin-right: 8px; border: 0.5px solid #8e9ab5;", @checked = true })
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(x => x.EnableCommentById, 1, new { @class = "chkAllowComment", @name = "chkAllowComment", @value = 1, @id = "chkAllowCommentByStudentOnly", @style = "cursor: pointer; margin-right: 8px; border: 0.5px solid #8e9ab5;" })
                                        }

                                    </label>
                                    <label for="group-value4">
                                        <span class="text-semibold"></span>
                                        <span class="text-muted"><span><strong>@ResourceManager.GetString("School.YoYoBlog.TextComment") </strong>- </span>@ResourceManager.GetString("School.YoYoBlog.ByStudentOnly")</span>
                                    </label>
                                </div>
                                <div class="md-outline check-item d-flex align-items-center" id="ParentOnly">
                                    <label for="group-value6">
                                        @if (Model.EnableCommentById == 2)
                                        {
                                            @Html.RadioButtonFor(x => x.EnableCommentById, Model.EnableCommentById, new { @class = "chkAllowComment", @name = "chkAllowComment", @value = "2", @id = "chkAllowCommentByParentOnly", @style = "cursor:pointer;margin-right: 8px;border: 0.5px solid #8e9ab5;", @checked = true, disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(x => x.EnableCommentById, 2, new { @class = "chkAllowComment", @name = "chkAllowComment", @value = "2", @id = "chkAllowCommentByParentOnly", @style = "cursor:pointer;margin-right: 8px;border: 0.5px solid #8e9ab5;", disabled = "disabled" })
                                        }

                                    </label>
                                    <label for="group-value4">
                                        <span class="text-semibold"></span>
                                        <span class="text-muted"><span><strong>@ResourceManager.GetString("School.YoYoBlog.TextComment") </strong>- </span>@ResourceManager.GetString("School.YoYoBlog.ByParentOnly")</span>
                                    </label>
                                </div>
                                <div class="md-outline check-item d-flex align-items-center" id="ByBoth" disabled>
                                    <label for="group-value7">
                                        @if (Model.EnableCommentById == 3)
                                        {
                                            @Html.RadioButtonFor(x => x.EnableCommentById, Model.EnableCommentById, new { @class = "chkAllowComment", @name = "chkAllowComment", @value = "3", @id = "chkAllowCommentByBoth", @style = "cursor:pointer;margin-right: 8px;border: 0.5px solid #8e9ab5;", @checked = true, disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(x => x.EnableCommentById, 3, new { @class = "chkAllowComment", @name = "chkAllowComment", @value = "3", @id = "chkAllowCommentByBoth", @style = "cursor:pointer;margin-right: 8px;border: 0.5px solid #8e9ab5;", disabled = "disabled" })
                                        }

                                    </label>
                                    <label for="group-value4">
                                        <span class="text-semibold"></span>
                                        <span class="text-muted"><span><strong>@ResourceManager.GetString("School.YoYoBlog.TextComment") </strong>- </span>@ResourceManager.GetString("School.YoYoBlog.ByBoth")</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="comment-card">
                                <h6 class="dark-purple text-medium font-small">@ResourceManager.GetString("School.YoYoBlog.CommentApproval") </h6>
                                <div class="md-outline check-item d-flex align-items-center">
                                    <label for="group-value5">

                                        @if (Model.CommentApprovedById == 1)
                                        {
                                            @Html.RadioButtonFor(x => x.CommentApprovedById, Model.CommentApprovedById, new { @class = "chkApprovedComment", @name = "chkApprovedComment", @value = "1", @id = "chkCommenApprovedtByStudent", @style = "cursor:pointer;margin-right: 8px;border: 0.5px solid #8e9ab5;", @checked = true })
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(x => x.CommentApprovedById, 1, new { @class = "chkApprovedComment", @name = "chkApprovedComment", @value = "1", @id = "chkCommenApprovedtByStudent", @style = "cursor:pointer;margin-right: 8px;border: 0.5px solid #8e9ab5;" })
                                        }


                                    </label>
                                    <label for="group-value4">
                                        <span class="text-semibold"></span>
                                        <span class="text-muted"><span><strong>&nbsp;@ResourceManager.GetString("School.YoYoBlog.TextModeration") </strong>- </span>@ResourceManager.GetString("School.YoYoBlog.ForStudent")</span>
                                    </label>
                                </div>
                                <div class="md-outline check-item d-flex align-items-center">
                                    <label for="group-value6">

                                        @if (Model.CommentApprovedById == 2)
                                        {
                                            @Html.RadioButtonFor(x => x.CommentApprovedById, Model.CommentApprovedById, new { @class = "chkApprovedComment", @name = "chkApprovedComment", @value = "2", @id = "chkCommenApprovedtByParent", @style = "cursor:pointer;margin-right: 12px  ;border: 0.5px solid #8e9ab5;", @checked = true, disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(x => x.CommentApprovedById, 2, new { @class = "chkApprovedComment", @name = "chkApprovedComment", @value = "2", @id = "chkCommenApprovedtByParent", @style = "cursor:pointer;margin-right: 12px;border: 0.5px solid #8e9ab5;", disabled = "disabled" })
                                        }


                                    </label>
                                    <label for="group-value4">
                                        <span class="text-semibold"></span>
                                        <span class="text-muted"><span><strong>@ResourceManager.GetString("School.YoYoBlog.TextModeration") </strong>- </span>@ResourceManager.GetString("School.YoYoBlog.ForParent")</span>
                                    </label>
                                </div>
                                <div class="md-outline check-item d-flex align-items-center">
                                    <label for="group-value7">

                                        @if (Model.CommentApprovedById == 3)
                                        {
                                            @Html.RadioButtonFor(x => x.CommentApprovedById, Model.CommentApprovedById, new { @class = "chkApprovedComment", @name = "chkApprovedComment", @value = "3", @id = "chkCommenApprovedtByBoth", @style = "cursor:pointer;margin-right: 12px;border: 0.5px solid #8e9ab5;", @checked = true, disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(x => x.CommentApprovedById, 3, new { @class = "chkApprovedComment", @name = "chkApprovedComment", @value = "3", @id = "chkCommenApprovedtByBoth", @style = "cursor:pointer;margin-right: 12px;border: 0.5px solid #8e9ab5;", disabled = "disabled" })
                                        }


                                    </label>
                                    <label for="group-value4">
                                        <span class="text-semibold"></span>
                                        <span class="text-muted"><span><strong>@ResourceManager.GetString("School.YoYoBlog.TextModeration") </strong>- </span>@ResourceManager.GetString("School.YoYoBlog.ForBoth")</span>
                                    </label>

                                </div>

                                @*Code for Display None in the moderation box*@
                                <div class="md-outline check-item d-flex align-items-center">
                                    <label for="group-value7">

                                        @if (Model.CommentApprovedById == 0)
                                        {
                                            @Html.RadioButtonFor(x => x.CommentApprovedById, Model.CommentApprovedById, new { @class = "chkApprovedComment", @name = "chkApprovedComment", @value = "0", @id = "chkCommenApprovedtByNone", @style = "cursor:pointer;margin-right: 12px;border: 0.5px solid #8e9ab5;", @checked = true })
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(x => x.CommentApprovedById, 0, new { @class = "chkApprovedComment", @name = "chkApprovedComment", @value = "0", @id = "chkCommenApprovedtByNone", @style = "cursor:pointer;margin-right: 12px;border: 0.5px solid #8e9ab5;" })
                                        }


                                    </label>
                                    <label for="group-value8">
                                        <span class="text-semibold"></span>
                                        <span class="text-muted">@ResourceManager.GetString("School.YoYoBlog.None")</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                }
                <div class="row md-outline">
                    <label class="col-12 text-semibold">@ResourceManager.GetString("School.YoYoBlog.SchedulePost")</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label for="select-student" class="text-semibold">@ResourceManager.GetString("School.YoYoBlog.FromDate")</label>
                        <div class="md-form md-outline date-time-picker date-icon arabictxt">
                            @Html.TextBox("strFromDate",Model.FromDate, "{0:dd-MMM-yyyy}",
       new {@id= "FromDate", @class = "form-control", onkeydown = "return false", onpaste = "return false", @type = "text", @data_maxdateid = "ToDate", @data_mindateid = "FromDate" })

                            @Html.ValidationMessageFor(x => x.FromDate)

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label for="select-student" class="text-semibold">@ResourceManager.GetString("School.YoYoBlog.ToDate")</label>
                        <div class="md-form md-outline date-time-picker date-icon arabictxt">


                            @Html.TextBox("strToDate", Model.ToDate, "{0:dd-MMM-yyyy}",
    new { @id = "ToDate", @class = "form-control", onkeydown = "return false", onpaste = "return false", @type = "text", @data_mindateid = "FromDate" })

                            @Html.ValidationMessageFor(x => x.ToDate)
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <label for="select-student" class="text-semibold">@ResourceManager.GetString("School.YoYoBlog.StartTime")</label>
                        <div class="md-form md-outline date-time-picker time-icon">
                            @Html.TextBoxFor(x => x.ScheduledTime, new { @class = "form-control time-picker", @Id = "ScheduledTime", data_type = "timepicker" })
                            @*@Html.TextBoxFor(x => x.ScheduledTime, new { @class = "form-control time-picker", data_type = "timepicker", placeholder = @Model.StartTime })*@

                        </div>
                    </div>
                </div>
                <!-- create blog form end -->
            </div>
            <div class="modal-footer d-flex justify-content-end border-0">
                <button type="button" class="btn btn-outline-primary mr-3" data-dismiss="modal">@ResourceManager.GetString("School.Wall.CloseSharePost")</button>
                <button type="button" id="btnSubmit" class="btn btn-primary">@ResourceManager.GetString("School.YoYoBlog.Post")</button>
            </div>
        </form>
    </div>
</div>



@*@Scripts.Render("https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    <script src="@Url.Content("~/Content/js/custom/SchoolInfo/YoYoBlog.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>*@

@*<script src="@Url.Content("~/Content/js/custom/Files/Files.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/Folders.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Files/Bookmark.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>*@
<script src="@Url.Content("~/Content/js/Common/FileDownloader.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>



<style>
    .filetype {
        padding: 14px;
    }

    .ddlStudent .dropdown-menu .bs-actionsbox .btn-group {
        min-width: 250px;
    }
</style>

<script type='text/javascript'>
    CKEDITOR.replace("BlogDescription", {
        allowedContent: {
            $1: {
                elements: CKEDITOR.dtd,
                    attributes: true,
                    styles: true,
                    classes: true
            }
        },
        disallowedContent: 'script; *[on*];',
        contentsLangDirection : $("html").attr("dir")
    });
    CKEDITOR.editorConfig = function (config) {
        config.entities_latin = false;
        config.entities_greek = false;
        config.entities = false;
        config.basicEntities = false;
        config.htmlEncodeOutput = true;
        
    }
</script>

<script>

    $(document).ready(function () {

        $("#ddlStudent").selectpicker({
            countSelectedText: function (numSelected, numTotal, element) {
                var text = "{0} items selected";
                if (numSelected > 1) {
                    var d = ($('#ddlStudent option:selected:first').text() + " +" + (numSelected - 1) + "")
                    text = d;
                }
                return text;
            }
        });
        $(".ddlGroup").selectpicker('refresh');
        $(".ddlCategory").selectpicker('refresh');
        $(".ddlStudent").trigger('change');

        if ($('#hdnSelectedstu').val() != '' || typeof $('#hdnSelectedstu').val() === 'undefined') {
            var valueSe = $('#hdnSelectedstu').val().split(',');
            for (var i = 0; i < valueSe.length; i++) {
                $('select[name=SelectedStudentIDs]').val(valueSe[i]);
            }
            $('.ddlStudent').selectpicker('val', valueSe);
        }
        if ($('#customSwitch1').prop("checked") == true) {

            $('#chkAllowCommentByParentOnly, #chkAllowCommentByBoth, #chkCommenApprovedtByParent, #chkCommenApprovedtByBoth').removeAttr('disabled');
        }
        else {
            $('#chkAllowCommentByParentOnly, #chkAllowCommentByBoth, #chkCommenApprovedtByParent, #chkCommenApprovedtByBoth').attr('disabled', 'disabled');
        }
        if ($("#SectionId").length > 0) {
            $("#ddlGroup option").attr('disabled', true);
            $("#ddlGroup option[value='" + $('#SectionId').val() + "']").attr('disabled', false)
            if ($("#ddlGroup").val() == null) {
                $("#ddlGroup").data('selectpicker').val($('#SectionId').val());
                $("#ddlGroup").trigger('change');
            }
        }

        // enable disble Moderation radio buttons on edit blog as on create blog
        var enableCommentId = $('#hdnEnableCommentById').val();
        if (enableCommentId == 3) {
            $('input[class=chkApprovedComment]').removeAttr('disabled');
        }
        else {
            $('input[class=chkApprovedComment]').attr('disabled', 'disabled');
            $('input[class=chkApprovedComment][value=' + enableCommentId + ']').removeAttr('disabled');
            $('input[class=chkApprovedComment][value=0]').removeAttr('disabled');
        }
    });

    function closepopup() {
        $('#createBlogPopup').attr('style', 'display:none;');
        //$('#createBlogPopup').attr('style', 'z-index:0;');
        //$('#createBlogPopup').modal('hide');
        //loadWallListForGroup();
    }

    function deleteCloudFile(source, cloudfileName) {
        $(source).parents('.divBlogCloudFile').remove();
        // alert(cloudfileName);
        $.ajax({
            type: 'POST',
            url: "/SchoolInfo/blog/DeleteCloudFile",
            data: { 'FileName': cloudfileName },

            success: function (result) {

            }
        });
    };

    $(document).on('click', '#customSwitch1', function () {

        if ($(this).is(':checked')) {
            $('#chkAllowCommentByParentOnly, #chkAllowCommentByBoth, #chkCommenApprovedtByParent, #chkCommenApprovedtByBoth').removeAttr('disabled');
            $('#chkAllowCommentByStudentOnly, #chkCommenApprovedtByStudent').prop('checked', false)
            $('#chkAllowCommentByBoth, #chkCommenApprovedtByNone').prop('checked', true)

            if ($('#chkAllowCommentByParentOnly').is(':checked') == true) {
                $('#chkCommenApprovedtByParent, #chkCommenApprovedtByNone').removeAttr('disabled');
                $('#chkAllowCommentByParent, #chkCommenApprovedtByNone').prop('checked', true)
            }
        }
        else {
            $('#chkAllowCommentByParentOnly, #chkAllowCommentByBoth, #chkCommenApprovedtByParent, #chkCommenApprovedtByBoth').attr('disabled', 'disabled');
            $('#chkAllowCommentByBoth, #chkCommenApprovedtByBoth').prop('checked', false)
            $('#chkAllowCommentByStudentOnly, #chkCommenApprovedtByNone').prop('checked', true)
        }
    });
</script>

<script>
    $(function () {
        var deleteFiles = "";
        var formData = new FormData();
        $("#btnBlogImage").click(function () {
            $('#divCloudFileList').hide();
            $('#addDp').show();
            $('#browseFiles').hide();
        });
       $("#btnBlogBrowse").click(function () {
           $('#divCloudFileList').hide();
           $('#browseFiles').show();
           $('#addDp').hide();
        });
        $("#oneDriveimg, #googleDriveimg, #oneDrive, #googleDrive").click(function () {
            $('#divCloudFileList').show();
            $('#addDp').hide();
            $('#browseFiles').hide();
        });


        //$("#PostedDocuments").on('fileselect', function () {
        //    var docFiles = $('#PostedDocuments').get(0).files;
        //     for (var x = 0; x < docFiles.length; x++) {
        //         formData.append("file", docFiles[x]);

        //    }

        //});
        $('#PostedDocuments').on('filepreremove', function(event, id, index) {
            var fileName;
            var str = index.split('_');
            if (str.length > 1) {
                fileName = str[1];
            }
            else {
                fileName = str[0];
            }
            if (deleteFiles == '' || deleteFiles == null) {
                deleteFiles = fileName;
            }
            else {
                deleteFiles = deleteFiles + ";" + fileName;
            }

        });
            $('#btnSubmit').click(function () {
                // if ($("#Title").val() != '') {
                //issue:#C20BO-1616
                 if ($.trim($("#Title").val()) != '') {
                     $('#Title').css('border-color', '');
                     //globalFunctions.showErrorMessage("Title is mandatory.Please provide a tiitle ");
                    if ($('#ddlGroup option:selected').val() == "") {
                            $('.ddlGroup').css("border", "1px solid red");
                        return false;
                    }
                    else {
                        $('.ddlGroup').css("border-color", '');
                        //if ($('#ddlCategory option:selected').val() == "") {
                        //    $('.ddlCategory').css("border", "1px solid red");
                        //    return false;
                        //}
                        //else {
                          //  $('.ddlCategory').css("border-color", '');
                            if ($("#FromDate").val() == '') {
                                $('#FromDate').css("border", "1px solid red");
                                return false;
                            }
                            else {
                                $('#FromDate').css('border-color', '');
                                if ($("#ToDate").val() == '') {
                                    $('#ToDate').css("border", "1px solid red");
                                    return false;
                                }
                                else {
                                    $('#ToDate').css('border-color', '');

                                    //var title = $("#Title").val();
                                    //issue:#C20BO-1636
                                    var title = $.trim($("#Title").val());
                                    var token = $('input[name=__RequestVerificationToken]').val();

                                    var imageFile = $("#PostedImage").data('fileinput').getFileList();
                                    var docFiles = $("#PostedDocuments").data('fileinput').getFileList();

                                         for (var x = 0; x < docFiles.length; x++) {
                                             formData.append("file", docFiles[x]);

                                        }
                                    var cloudFiles = JSON.parse($('#blogCloudFilesDetails').val());

                                    var schoolId = $("#SchoolId").val();
                                    var blogId = 0;
                                    var isAddMode = true;
                                    var isPublish = true;
                                    var moderationRequired = false;
                                    var description = CKEDITOR.instances.BlogDescription.getData();
                                    var groupId = $('#ddlGroup option:selected').val();
                                    var categoryId = $('#ddlCategory option:selected').val();

                                    debugger;
                                    //description = description.replace("a")

                                    var selectedStudentIDs = $('#ddlStudent option:selected').map(function () {
                                        return $(this).val();
                                    }).get().join(',');

                                    var enableCommentId = $('input[name="EnableCommentById"]:checked').val();

                                    var commentApprovedById = $('input[name="CommentApprovedById"]:checked').val();

                                    if (commentApprovedById != '') {
                                        moderationRequired = true;
                                    }

                                    var fromDate = $("#FromDate").val()
                                    var toDate = $("#ToDate").val()
                                    var scheduledTime = $("#ScheduledTime").val();
                                    blogId = $('#AddEditBlogId').val();
                                    formData.append("__RequestVerificationToken", token);
                                    formData.append("BlogId", blogId);
                                    formData.append("SchoolId", schoolId);
                                    formData.append("IsAddMode", isAddMode);
                                    formData.append("BlogTypeId", 3);  // as it is wall post
                                    formData.append("CategoryId", categoryId);
                                    formData.append("GroupId", groupId);
                                    formData.append("EnableCommentById", enableCommentId);
                                    formData.append("PostedImage", imageFile[0]);
                                    formData.append("BlogImage", $('#hdnBlogImage').val());
                                    formData.append("PostedDocuments", docFiles);
                                    formData.append("ListCloudFile", cloudFiles);

                                    formData.append("Title", title);
                                    formData.append("SelectedStudentIDs", selectedStudentIDs);
                                    formData.append("CommentApprovedById", commentApprovedById);
                                    formData.append("strFromDate", fromDate);
                                    formData.append("strToDate", toDate);
                                    formData.append("ScheduledTime", scheduledTime);
                                    formData.append("deleteFiles", deleteFiles);

                                    formData.append("IsPublish", isPublish);
                                    formData.append("ModerationRequired", moderationRequired);
                                    formData.append("Description", $("<div />").text(description).html());

                                    formData.append("IsVisibleToParent", $('#customSwitch1').is(":checked"));

                                    $.ajax({
                                        url: '/SchoolInfo/Blog/SaveBlogData',
                                        type: 'POST',
                                        //headers: headers,
                                        data: formData,
                                        contentType: false,
                                        processData: false,
                                        success: function (data) {
                                            if (data.Success == true) {
                                                var deselect =  function() {
                                                                    try {
                                                                       $('.selectpicker').selectpicker('deselectAll');
                                                                    } catch (exc) {}
                                                                  };
                                                deselect();
                                                $('#createBlogPopup').modal('toggle');
                                                //$('#ignismyModalCreatePost').modal('show');
                                                if (blogId > 0) {
                                                    // $('#pBlogMsg').html('@ResourceManager.GetString("School.YoYoBlog.SuccessMessageEdit")');
                                                    globalFunctions.showSuccessMessage('@ResourceManager.GetString("School.YoYoBlog.SuccessMessageEdit")')
                                                } else {
                                                      //$('#pBlogMsg').html('@ResourceManager.GetString("School.YoYoBlog.SuccessMessageAdd")');
                                                    globalFunctions.showSuccessMessage('@ResourceManager.GetString("School.YoYoBlog.SuccessMessageAdd")')
                                                }

                                                loadWallListForGroup();
                                            }
                                            else if (data.Success == false) {
                                                globalFunctions.onFailure();
                                                $('#createBlogPopup').modal('toggle');
                                            }
                                            // location.reload();
                                        },
                                        error: function (data, xhr, status) {
                                            globalFunctions.onFailure();
                                            $('#createBlogPopup').modal('toggle');
                                        },
                                    });
                                }
                            }
                        //}
                    }
                }
                else {
                    $('#Title').css("border", "1px solid red");
                    //alert("Title is required.");
                     globalFunctions.showErrorMessage("Title is mandatory.Please provide a title ");

                    return false;
                }
            });
        });

    $('.ddlGroup').change(function () {
          $('#ddlStudent').selectpicker('refresh');
            if ($('.ddlGroup :selected').val() != '') {
                $.ajax({
                    type: "post",
                    url: '/SchoolInfo/Blog/GetStudentListByGroup',
                    data: { groupId: $('.ddlGroup :selected').val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        console.log(data.length);
                        var stdent = '<select id="ddlStudent" class="selectpicker ddlStudent" name="ddlStudent" data-actions-box="true" data-live-search="true" multiple="multiple">';
                        for (var i = 0; i < data.length; i++) {
                            //issue:#C20DO-1611
                            stdent = stdent + '<option value="' + data[i].Id + '">' + ((data[i].FirstName || '') + " " + (data[i].MiddleName || '') + " " + (data[i].LastName || '')) + '</option>';
                        }
                        stdent = stdent + '</select>';
                        $('#ddlStudent').empty();
                        $('#ddlStudent').html(stdent);

                        $('#ddlStudent').selectpicker('refresh');
                    }
                });
            }
        });

    $(function () {
        var current = new Date();
             $('#FromDate').datetimepicker({
               useCurrent: true,
                 format: 'DD-MMM-YYYY',
                 locale: translatedResources.locale
           });

            $('#ToDate').datetimepicker({
                useCurrent: true,
                format: 'DD-MMM-YYYY',
                locale: translatedResources.locale
            });
            //$('.time-picker').datetimepicker({
            //    format: 'T'
            //});
            //$('.date-picker').datetimepicker({
            //    format: 'LT'
            //});

            var dt = new Date();
            var cDate = ("0" + dt.getDate()).slice(-2) + '/' + ("0" + (dt.getMonth() + 1)).slice(-2) + '/' + dt.getFullYear();
            var cTime = dt.toLocaleString('en-US', {
                hour: 'numeric',
                minute: 'numeric',
                hour12: true
            })
            $('.date-picker').val(cDate);
            //$('.time-picker').val(cTime);


        if ($('#AddEditBlogId').val() != '' || typeof $('#AddEditBlogId').val() === 'undefined') {
            $('#ScheduledTime').datetimepicker({

                //format: 'LT'
                format: 'LT',
                locale: translatedResources.locale


            });


        } else {
            //var dt = new Date();
            //var cDate = ("0" + dt.getDate()).slice(-2) + '/' + ("0" + (dt.getMonth() + 1)).slice(-2) + '/' + dt.getFullYear();
            //var cTime = dt.toLocaleString('en-US', {
            //    hour: 'numeric',
            //    minute: 'numeric',
            //    hour12: true
            //})
            //$('.date-picker').val(cDate);
            $('#ScheduledTime').datetimepicker({
                format: 'LT',
                locale: translatedResources.locale

            });
        }
        if ($('#ScheduledTime').val() == "") {
            $('#ScheduledTime').val((new Date()).toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }))
        }


           if ($(`#FromDate`).val()=="")
            {
                $(`#FromDate`).data("DateTimePicker").date(current);
                current.setDate(current.getDate()+30)
                $(`#ToDate`).data("DateTimePicker").date(current);

            }
         if ($(`#ToDate`).val() != "") {
                 //issue:#C20DO-1609
                $(`#FromDate`).data("DateTimePicker").minDate(moment($(`#FromDate`).val(), "DD-MMM-YYYY")._d);
                $(`#ToDate`).data("DateTimePicker").minDate(moment($(`#FromDate`).val(), "DD-MMM-YYYY")._d);
                //$(`#ToDate`).data("DateTimePicker").minDate(moment($(`#FromDate`).val(), "L")._d);
            }
           //if ($(`#ToDate`).val() != "") {
           //    $(`#FromDate`).data("DateTimePicker").maxDate(moment($(`#ToDate`).val(), "DD-MMM-YYYY")._d);
           //    $(`#ToDate`).data("DateTimePicker").minDate(moment($(`#FromDate`).val(), "DD-MMM-YYYY")._d);
           //}

            // on selection of fromdate to date start from fromdate
        $('#FromDate').datetimepicker().on('dp.change', function (e) {

            var incrementDay = moment(new Date(e.date));
            incrementDay.add(1, 'days');
                $('#ToDate').data('DateTimePicker').minDate(incrementDay)
                $(this).data("DateTimePicker").hide();
            });
            // on changing todate , fromdate give maximum start of to date
            $('#ToDate').datetimepicker().on('dp.change', function (e) {
                var decrementDay = moment(new Date(e.date));
                decrementDay.subtract(0, 'days');
                $('#FromDate').data('DateTimePicker').maxDate(decrementDay)
                $(this).data("DateTimePicker").hide();
            });
        });

    $(document).ready(function () {
        translatedResources.langCode = '@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()';
        translatedResources.BrowseFile = '@ResourceManager.GetString("Shared.Labels.BrowseFile")';




            //Common file uploader initialization -----
        $("#PostedDocuments").fileinput({
            language: translatedResources.langCode,
            title: translatedResources.browsefile,
              theme: "fas",
                uploadUrl: "/file-upload-batch/2",
                showUpload: false,
                showCaption: false,
                showPreview: true,
                showRemove: false,
                showCancel: false,
                browseClass: "btn btn-outline-primary rounded z-depth-0 m-0 p-0 mt-3 btn-browse btn-file",
                fileActionSettings: {
                    showZoom: false,
                    showUpload: false,
                    ndicatorNew: "",
                    showDrag: true,

                },
            });


            var allowedImageFiles = [" "];
            allowedImageFiles = JSON.parse($("#AllowedImageExtension").val());
            //----- upload blog image
        $("#PostedImage").fileinput({
                language: translatedResources.langCode,
            title: translatedResources.browsefile,
                theme: "fas",
                uploadUrl: "/file-upload-batch/2",
                showUpload: false,
                showCaption: false,
                showPreview: true,
                showRemove: false,
                showCancel : false,
                //autoReplace: true,
                browseClass: "btn btn-outline-primary rounded z-depth-0 m-0 p-0 mt-3 btn-browse btn-file",
                //removeClass: "btn btn-sm m-0 z-depth-0",
                //uploadClass: "btn btn-primary rounded z-depth-0 m-0 p-0 mt-3 btn-upload fileinput-upload fileinput-upload-button",
                //minFileCount: 1,
                //maxFileCount: 1,
                //overwriteInitial: false,
                allowedFileExtensions: allowedImageFiles,
                fileActionSettings: {
                    showZoom: false,
                    showUpload: false,
                    //indicatorNew: "",
                    showDrag: true,

                },
            })

        var allowedDocFiles = [" "];
        allowedDocFiles = JSON.parse($("#AllowedFileExtension").val());
        //Common file uploader initialization -----
        $("#ListCloudFile").fileinput({
            language: translatedResources.langCode,
            title: translatedResources.browsefile,
            theme: "fas",
            uploadUrl: "/file-upload-batch/2",
            showUpload: false,
            showCaption: false,
            showPreview: true,
            showRemove: false,

            browseClass: "btn btn-outline-primary rounded z-depth-0 m-0 p-0 mt-3 btn-browse btn-file",
            fileActionSettings: {
                showZoom: false,
                showUpload: false,
                //indicatorNew: "",
                showDrag: false
            },
        });


            $(".sidebar-fixed .list-group").mCustomScrollbar({
                setHeight: "86%",
                autoExpandScrollbar: true,
                autoHideScrollbar: true,
                scrollbarPosition: "outside"
            });

            $('.loader-wrapper').fadeOut(500, function () {
                //$('.loader-wrapper').remove();
            });

            $(".chat-list, .group-list").mCustomScrollbar({
                setHeight: "250px",
                autoExpandScrollbar: true,
                scrollbarPosition: "outside",
                autoHideScrollbar: true,
            });

            $("body").on("click", ".blog-action button[data-toggle='collapse']", function () {
                $(".collapse").collapse("hide")
            });

        });

        function loadWallListForGroup() {
            var groupId = 0;
            if ($("#GroupId").val() != "") {
                groupId = $("#GroupId").val();
            }

            $.ajax({
                type: 'POST',
                url: "/SchoolInfo/Blog/GetWallListByGroupId",
                data: { 'groupId': groupId },
                success: function (result) {
                    if (result !== '') {
                        $("#myWallList").html('');
                        $("#myWallList").html(result);
                    }
                    else {
                        globalFunctions.showMessage("error", translatedResources.technicalError);
                    }
                },
                error: function (msg) {
                    //globalFunctions.pageLoadingFrame("hide");
                    globalFunctions.showMessage("error", translatedResources.technicalError);
                }
            });
        }
</script>

<script>
    $(':checkbox').on('change', function () {
        var th = $(this), name = th.prop('name');
        if (th.is(':checked')) {
            $(':checkbox[name="' + name + '"]').not($(this)).prop('checked', false);
        }
    });

    function IsValidateFile(fileF, actionType) {
        var allowedFiles = [" "];
        if (actionType == 'image') {
            allowedFiles = JSON.parse($("#AllowedImageExtension").val());
        }
        else {
            allowedFiles = JSON.parse($('#AllowedFileExtension').val());
        }
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
        if (!regex.test(fileF.toLowerCase())) {
            openPopup(allowedFiles.join(', '))
            //alert("Please upload files having extensions: " + allowedFiles.join(', ') + " only.");
            return false;
        }
        return true;
    }

    function openPopup(message) {
        $('#pMsg').html("Please upload files having extensions:").append("&nbsp;").append(message).append(" only");
        $('#ignismyModal').modal('toggle');
    }



    function DeleteFile(fileId) {

        if (fileId) {
            globalFunctions.notyDltConfirm(translatedResources.deleteConfirm, () => {
                $.post('/SchoolInfo/Blog/DeleteBlogAttachedFile', { fileId: fileId }).then(function (response) {
                    if (response) {
                        var parent = $('#listIt_' + fileId).parent();
                        $('#listIt_' + fileId).remove();
                        globalFunctions.showSuccessMessage('File deleted successfully');
                        $(parent).lightGallery({ selector: '.galleryImg', share: false });
                        common.setFilePreviewScrollBar(parent);
                    } else {
                        globalFunctions.showErrorMessage(translatedResources.technicalError);
                    }
                });

            });
        }

    }
    $(document).on('click', '#chkAllowCommentByStudentOnly', function () {

        if ($(this).is(':checked') == true) {
            $('#chkCommenApprovedtByParent, #chkCommenApprovedtByBoth').attr('disabled', 'disabled');
            $('#chkCommenApprovedtByStudent').removeAttr('disabled');
            $('#chkCommenApprovedtByNone').prop('checked', true)
        }
    });




    $(document).on('click', '#chkAllowCommentByParentOnly', function () {

        if ($(this).is(':checked') == true) {
            $('#chkCommenApprovedtByStudent, #chkCommenApprovedtByBoth').attr('disabled', 'disabled');
            $('#chkCommenApprovedtByParent').removeAttr('disabled');
            $('#chkCommenApprovedtByNone').prop('checked', true)
        }
    });


    $(document).on('click', '#chkAllowCommentByBoth', function () {

        if ($(this).is(':checked') == true) {
            //$('#chkCommenApprovedtByStudent, #chkCommenApprovedtByBoth').attr('disabled', 'disabled');
            $('#chkCommenApprovedtByParent,#chkCommenApprovedtByStudent, #chkCommenApprovedtByBoth').removeAttr('disabled');
            $('#chkCommenApprovedtByNone').prop('checked', true)
        }
    });
</script>

