﻿@model IEnumerable<Phoenix.Models.Entities.PostAndCommentLikeUserList>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
<div class="card-group">

    @if (Model.Count() == 0)
    {
        <span class="no-data-found text-bold d-block mx-auto my-auto">
            @ResourceManager.GetString("school.YoYoBlog.NoRecordFound")
        </span>
    }
    else
    {
        @*<div class="activities-header">*@

    if (Model.FirstOrDefault().Type == "PostLike")
    {
            <div class="title">
                <input type="hidden" id="ModelHeader" value="@ResourceManager.GetString("school.YoYoBlog.PostLikeHeader")" />
            </div>
    }
    else if (Model.FirstOrDefault().Type == "CommentLike")
    {
            <div class="title">
                <input type="hidden" id="ModelHeader" value="@ResourceManager.GetString("school.YoYoBlog.CommentLikeHeader")" />
            </div>
    }
    else
    {
            <div class="title">
                <input type="hidden" id="ModelHeader" value="@ResourceManager.GetString("school.YoYoBlog.PostCommentHeader")" />
            </div>
    }

        @*</div>*@

        <div class="activities-list col-12 pr-3" id="PostAndCommentLikedList">
            <ul id="assignedMembers" class="searchList ">
                @{ string profilePic = "";}
                @foreach (var s in Model)
                {
                    profilePic = "";
                    if (s.UserTypeId == 1)
                    {
                        if (!string.IsNullOrWhiteSpace(s.UserProfileImage))
                        {
                            profilePic = Constants.StudentImagesPath + s.UserProfileImage;
                        }
                        else if (!string.IsNullOrWhiteSpace(s.AvatarLogo))
                        {
                            profilePic = Constants.ProfileAvatarPath + s.AvatarLogo;
                        }
                    }
                    else if (s.UserTypeId == 3)
                    {
                        if (!string.IsNullOrWhiteSpace(s.UserProfileImage))
                        {
                            profilePic = PhoenixConfiguration.Instance.ReadFilePath + Constants.TeacherProfilePath + s.UserProfileImage;
                        }
                        else if (!string.IsNullOrWhiteSpace(s.AvatarLogo))
                        {
                            profilePic = Constants.ProfileAvatarPath + s.AvatarLogo;
                        }
                    }
                    else if (s.UserTypeId == 2)
                    {
                        if (!string.IsNullOrWhiteSpace(s.UserProfileImage))
                        {
                            profilePic = PhoenixConfiguration.Instance.ReadFilePath + Constants.ParentProfilePath + s.UserProfileImage;
                        }
                        else if (!string.IsNullOrWhiteSpace(s.AvatarLogo))
                        {
                            profilePic = Constants.ProfileAvatarPath + s.AvatarLogo;
                        }
                    }
                    var profileImage = @Url.Content("/Content/VLE/img/default-avatar.jpg");
                    if (!string.IsNullOrWhiteSpace(profilePic))
                        profileImage = profilePic;

                    <li class="d-flex ">
                        <div class="text-medium d-flex align-items-center">
                                <div class="defaultAvatar position-relative">
                                    <img src="@profileImage" class="img-fluid rounded-circle flex-0 rounded-6x overflow-hidden h-100" alt="">
                                </div>
                                <div class="student-info ml-2">
                                    <h3 class="name m-0 ml-2 text-semibold">@s.CreatedByName</h3>
                                </div>
                        </div>
                    </li>
               
                }
            </ul>
        </div>
    }
</div>
