﻿@model  Phoenix.VLE.Web.ViewModels.YoYoBlogViewModel
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization

    <label for="select-group" class="text-semibold">@ResourceManager.GetString("Assignment.Assignment.SchoolGroupIds")</label>

    @Html.DropDownListFor(x => x.SchoolGroupId, ViewBag.lstSchoolGroup as List<SelectListItem>
        , new { @class = "selectpicker ddlSchoolGroup leftcheck", @name = "SchoolGroupId", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true" })


