﻿@model IEnumerable<Phoenix.Models.BlogComment>
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization
@{ 
    var IsCustomPermission = Session["CanEdit"] != null ? Convert.ToBoolean(Session["CanEdit"]) : false;
}

    @foreach (var c in Model)
    {
        var isCommentLike = Html.Action("GetCommentLikeStatusForUser", "Blog", new { @id = c.CommentId, @area = "SchoolInfo" });

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start">
                <div class="comment-avatar rounded-circle">
                    <img src="@c.UserProfileImage" alt="" class="img-fluid">
                </div>
                <div class="user-comment p-2 pr-3 pl-3">
                    <h3>@c.CreatedByName <span>@c.CreatedOn.ToString("dd MMM yyyy")</span></h3>
                    <p>@c.Comment</p>
                    <div class="comment-action mt-1">
                      
                        <a onclick="blogComment.likeComment(@c.CommentId,'@(isCommentLike.ToString() == "True"?"False":"True")')" href="javascript:void(0)"    class="@(isCommentLike.ToString() == "True"?"active":"")">
                            <i class="fas fa-heart"></i> <span>@c.TotalLikes @ResourceManager.GetString("School.YoYoBlog.Likes")</span>
                        </a>
                        @if ((SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher()) && IsCustomPermission)
                        {
                            <a href="javascript:void(0)" data-id="@c.CommentId" data-toggle="tooltip" data-title="@ResourceManager.GetString("School.Blog.PublishComment")"
                               onclick="blogComment.publishComment($(this), @c.CommentId)"
                               style="display:@(!c.IsPublish ? "inline-block" : "none")" class="">
                                <i class="fas fa-check mr-2"></i><span>@ResourceManager.GetString("School.Blog.PublishText")</span>
                            </a>
                            <a href="javascript:void(0)" data-id="@c.CommentId" data-toggle="tooltip" data-title="@ResourceManager.GetString("School.Blog.UnpublishComment")"
                               onclick="blogComment.unPublishComment($(this), @c.CommentId)"
                               style="display:@(c.IsPublish ? "inline-block" : "none")" class="active">
                                <i class="fas fa-check mr-2"></i><span>@ResourceManager.GetString("School.Blog.UnPublishText")</span>
                            </a>
                            <a href="javascript:void(0)" onclick="blogComment.deleteComment($(this), @c.CommentId)" data-id="@c.CommentId" data-toggle="tooltip" data-title="@ResourceManager.GetString("School.Blog.RemoveComment")" class="">
                                <i class="fas fa-trash-alt mr-2"></i><span> @ResourceManager.GetString("Shared.Buttons.Delete")</span>
</a>
}
</div>
</div>
</div>
</div>
}


@*<div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
                <div class="card-body column-padding pt-3 pb-3">
                    <div class="blog-comment-listing">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <h2>Latest Comments</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                @foreach (var comment in Model)
                                {
                                    <div class="comment-listing-row">
                                        <div class="row d-flex align-items-center mb-3">
                                            <div class="col-lg-1 col-md-2 col-12">
                                                <img src="@Url.Content("~/Content/HSE/img/avatar-2.jpg")" class="rounded-circle z-depth-0" alt="">
                                            </div>
                                            <div class="col-lg-11 col-md-10 col-12">
                                                <h4 class="comment-list-head"> @comment.CreatedByName</h4>
                                                <span class="comment-list-date"> @comment.CreatedOn.ToString("MMMM dd, yyyy")</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-12">
                                                <p> @comment.Comment</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-12">



                                    @if (SessionHelper.CurrentSession.UserTypeId >= 4)
                                    {
                                        <button id="btnPublishComment" type="button"
                                                class="btn btn-primary waves-effect waves-light comment-rly"
                                                onclick="blogComment.publishComment($(this), @comment.CommentId)"
                                                style="display:@(!comment.IsPublish ? "block" : "none")">
                                            Publish
                                        </button>
                                        <button id="btnUnPublishComment" type="button" class="btn btn-primary waves-effect waves-light comment-rly"
                                                onclick="blogComment.unPublishComment($(this), @comment.CommentId)"
                                                style="display:@(comment.IsPublish ? "block" : "none")">
                                            Un-Publish
                                        </button>
                                        <button id="btnDeleteComment" type="button" class="btn btn-primary waves-effect waves-light comment-rly"
                                                onclick="blogComment.deleteComment($(this), @comment.CommentId)">
                                            Delete
                                        </button>
                                    }
                                     </div>
                                    </div>
                                    <hr class="mb-3">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
