﻿@model IEnumerable<Phoenix.Models.BlogComment>
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization
@{
    var IsCustomPermission = Session["CanEdit"] != null ? Convert.ToBoolean(Session["CanEdit"]) : false;
}

@foreach (var c in Model)
{
    var isCommentLike = c.IsLike;

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-start">
            <div class="comment-avatar rounded-circle">
                <img src="@c.UserProfileImage" alt="" class="img-fluid">
            </div>
            <div class="user-comment p-2 pr-3 pl-3">
                <h3>@c.CreatedByName <span>@c.CreatedOn.ToString("dd MMM yyyy")</span></h3>
                <p>@c.Comment</p>
                <div class="comment-action mt-1">
                    <a onclick="yoYoBlog.likeComment(@c.CommentId,@c.BlogId, '@(isCommentLike.ToString() == "True"?"False":"True")')" href="javascript:void(0)" class="@(isCommentLike.ToString() == "True"?"active":"")">
                        <i class="fas fa-heart"></i> <span>@c.TotalLikes @ResourceManager.GetString("School.YoYoBlog.Likes")</span>
                    </a>
                    @if ((SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher()) && IsCustomPermission)
                    {
                        <a href="javascript:void(0)" data-id="@c.CommentId"
                           onclick="yoYoBlog.publishComment($(this),@c.BlogId, @c.CommentId)"
                           style="display:@(!c.IsPublish ? "inline-block" : "none")" class="">
                            <i class="fas fa-check mr-2"></i><span>@ResourceManager.GetString("School.Blog.PublishText")</span>
                        </a>
                        <a href="javascript:void(0)" data-id="@c.CommentId"
                           onclick="yoYoBlog.unPublishComment($(this),@c.BlogId, @c.CommentId)"
                           style="display:@(c.IsPublish ? "inline-block" : "none")" class="active">
                            <i class="fas fa-check mr-2"></i><span>@ResourceManager.GetString("School.Blog.UnPublishText")</span>
                        </a>
                        <a href="javascript:void(0)" onclick="yoYoBlog.deleteComment($(this),@c.BlogId, @c.CommentId)" data-id="@c.CommentId" class="">
                            <i class="fas fa-trash-alt mr-2"></i><span> @ResourceManager.GetString("Shared.Buttons.Delete")</span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
}
