﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@model IEnumerable<Phoenix.Models.Chatter>
@using Phoenix.Common.Enums
@using Phoenix.VLE.Web.Services;
@{
    //var fileModule = new FileService().GetFileManagementModules().FirstOrDefault(r => r.ModuleName.Contains("Chatter"));
}
<!-- blog 1 -->
@*@foreach (var b in Model)*@
@for (int i = 0; i < Model.Count(); i++)
{
    var chatter = Model.ElementAt(i);
    var b = chatter.Blog;
    var isLike = b.IsLike; //Html.Action("GetBlogLikeStatusForUser", "Blog", new {  @id = b.BlogId, @area = "SchoolInfo" });
    var enableCommentSection = false;
    if ((SessionHelper.CurrentSession.IsStudent() && b.EnableCommentById == (int)EnableCommentForCodes.Student) || (SessionHelper.CurrentSession.IsParent() && b.EnableCommentById == (int)EnableCommentForCodes.Parent) || b.EnableCommentById == (int)EnableCommentForCodes.All || (SessionHelper.CurrentSession.IsTeacher() && b.EnableCommentById != (int)EnableCommentForCodes.None))
    {
        enableCommentSection = true;
    }

    var notCloseDiscussion = (b.CloseDiscussionDate == null || (b.CloseDiscussionDate.HasValue && DateTime.Compare(b.CloseDiscussionDate.Value.Date, DateTime.Now.Date) > 0)) ? true : false;

    var IsCustomPermission = Session["CanEdit"] != null ? Convert.ToBoolean(Session["CanEdit"]) : false;

    if (b.IsPublish)
    {
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">

                <div class="card card-default blog-post">
                    <div class="dropdown">

                        <a href="/schoolinfo/blog/ViewBlog?bgId=@EncryptDecryptHelper.EncryptUrl(b.BlogId.ToString())" target="_blank" data-toggle="tooltip" data-title="@ResourceManager.GetString("School.Blog.ViewMore")" data-placement="left" class="mr-2">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        @if (b.IsFilesExist)
                        {
                            <a href="/schoolinfo/blog/ViewBlog?bgId=@EncryptDecryptHelper.EncryptUrl(b.BlogId.ToString())" target="_blank" data-toggle="tooltip" data-title="@ResourceManager.GetString("School.Blog.ClickForAttachment")" data-placement="left" class="mr-2">
                                <i class="fas fa-paperclip"></i>
                            </a>
                        }
                        @if ((SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher()) && IsCustomPermission)
                        {
                            if (enableCommentSection && IsCustomPermission && notCloseDiscussion)
                            {
                                <a href="javascript:void(0)" onclick="yoYoBlog.editBlogDiscussionClose($(this),@b.BlogId,1)" data-toggle="tooltip" data-title="@ResourceManager.GetString("School.Blog.DiscussionClose")" data-placement="left" class="mr-2">
                                    <i class="fas fa-comment-slash"></i>
                                </a>
                            }
                            <a href="javascript:void(0)" onclick="yoYoBlog.editBlogPopup(@b.BlogId)" data-toggle="tooltip" data-title="@ResourceManager.GetString("School.Blog.EditPost")" data-placement="left" class="mr-2">
                                <i class="far fa-edit"></i>
                            </a>
                            @*<a href="javascript:void()" data-id="@b.BlogId" data-toggle="tooltip" data-title="Publish" data-placement="left" class="mr-2">
                        <i class="far fa-eye"></i>
                    </a>*@
                            <a href="javascript:void(0)" onclick="yoYoBlog.unPublishBlogData(@b.BlogId)" data-toggle="tooltip" data-title="@ResourceManager.GetString("School.Blog.Unpublish")" data-placement="left">
                                <i class="far fa-eye-slash"></i>
                            </a>
                        }
                    </div>
                    <div class="card-heading column-padding pt-3">
                        <img class="rounded-circle float-left" src="@b.UserProfileImage" alt="@ResourceManager.GetString("School.Blog.Mouse0270")" />
                        <h3>@b.CreatedByName</h3>
                        <h5><span>@(b.CategoryId > 0 ? $"{b.Category} |" : "")</span> <span>@ResourceManager.GetString("School.Blog.PublishedOn") @b.CreatedOn.ToString("dd MMM yyyy")</span> </h5>
                    </div>
                    <div class="card-body column-padding">
                        <h3><a href="/schoolinfo/blog/ViewBlog?bgId=@EncryptDecryptHelper.EncryptUrl(b.BlogId.ToString())" target="_blank">@b.Title</a></h3>
                        <p>@Html.Raw(HttpUtility.HtmlDecode(b.Description != null && b.Description.Length > 250 ? b.Description.Substring(0, 250) : b.Description))</p>
                    </div>

                    <div class="card-footer column-padding pb-3">
                        <a onclick="yoYoBlog.likeBlog(@b.BlogId,'@(isLike.ToString() == "True"?"False":"True")')" href="javascript:void(0)" class="btn m-0 mr-2 @(isLike.ToString() == "True"?"active":"") ">
                            <i class="far fa-thumbs-up"></i> @b.TotalLikes @ResourceManager.GetString("School.YoYoBlog.Likes")
                        </a>

                        @if (enableCommentSection && IsCustomPermission)
                        {
                            <a href="javascript:void(0)" class="btn m-0 @(b.TotalComments > 0?"active":"") ">
                                <i class="far fa-comment-alt"></i> @b.TotalComments @ResourceManager.GetString("School.YoYoBlog.Comments")
                            </a>
                            if (notCloseDiscussion)
                            {
                                <div class="input-placeholder">@ResourceManager.GetString("School.YoYoBlog.AddComment")...</div>
                            }
                        }
                    </div>
                    @if (enableCommentSection)
                    {

                        <div class="blog-post-comment column-padding pt-3 pb-3">
                            <img id="commentAuthor" class="rounded-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="@ResourceManager.GetString("Shared.Labels.UserImage")" style="width:46px;height:46px;" />
                            <div class="blog-post-textarea">
                                <textarea id="Comment_@b.BlogId" name="Comment_@b.BlogId" onblur="yoYoBlog.checkWhiteSpace(this.value, this.id)" required rows="3" class="mb-2"></textarea>
                                <button type="submit" onclick="yoYoBlog.PostComment($(this),@b.BlogId)" class="btn btn-primary disabled m-0 mr-1">@ResourceManager.GetString("School.YoYoBlog.PostComment")</button>
                                <button type="reset" class="btn btn-outline-primary m-0">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }

                    @if (chatter.BlogComments.Any() && chatter.BlogComments != null)
                    {
                        <div class="comment-wrrapper pt-3 pb-3 column-padding border-top">
                            <div id="commentSection_@b.BlogId">
                                @{ Html.RenderPartial("_YoYoBlogComment", chatter.BlogComments); }
                            </div>
                            @if (enableCommentSection && b.TotalComments > 1)
                            {
                                <div class="row pb-2">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <a href="/schoolinfo/blog/ViewBlog?bgId=@EncryptDecryptHelper.EncryptUrl(b.BlogId.ToString())" target="_blank" class="more-comments">@ResourceManager.GetString("School.Blog.MoreComments")</a>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <!-- blog - draft mode -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="card card-default blog-post blog-draft-mode">
                    <div class="card-heading column-padding pt-3">
                        <img class="rounded-circle float-left" src="@b.UserProfileImage" alt="@ResourceManager.GetString("School.Blog.Mouse0270")" />
                        <h3>@b.CreatedByName</h3>
                        <h5><span>@(b.CategoryId > 0 ? $"{b.Category} |" : "")</span> <span>@ResourceManager.GetString("School.Blog.PublishedOn") @b.CreatedOn.ToString("dd MMM yyyy")</span> </h5>
                    </div>
                    <div class="card-body column-padding">
                        <h3><a href="/schoolinfo/blog/ViewBlog?bgId=@EncryptDecryptHelper.EncryptUrl(b.BlogId.ToString())">@b.Title</a></h3>
                        @*<p>@Html.Raw(HttpUtility.HtmlDecode(b.Description != null && b.Description.Length > 250 ? b.Description.Substring(0, 250) : b.Description))</p>*@
                    </div>
                    <div class="action-btns d-flex justify-content-center align-items-center flex-column position-absolute">
                        <h6 class="mb-3">@ResourceManager.GetString("School.Blog.DraftMode")</h6>
                        <div class="pt-2 pb-2">
                            <a href="javascript:void()" onclick="yoYoBlog.editBlogPopup(@b.BlogId)" data-toggle="tooltip" data-title="@ResourceManager.GetString("Shared.Labels.Edit")" data-placement="top">
                                <i class="far fa-edit"></i>
                            </a>
                            <a href="javascript:void()" onclick="yoYoBlog.publishBlogData(@b.BlogId)" data-toggle="tooltip" data-title="@ResourceManager.GetString("School.Blog.Publish")" data-placement="top">
                                <i class="far fa-eye"></i>
                            </a>
                            <a href="javascript:void()" onclick="yoYoBlog.deleteBlogData($(this),@b.BlogId)" data-toggle="tooltip" data-title="@ResourceManager.GetString("Shared.Buttons.Delete")" data-placement="top">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog - draft mode end -->
    }
}
<!-- blog 1 end -->
