﻿@model  Phoenix.VLE.Web.ViewModels.YoYoBlogViewModel
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@{
    ViewBag.Title = ResourceManager.GetString("School.YoYoBlog.PageHeader");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-school-information.svg");
    var rnd = DateTime.Now.Ticks.ToString();
    var firstItem = Model.GroupsList.Any() && Model.GroupsList.Count() > 0 ? Model.GroupsList.First() : null;
    var firstGroupId = firstItem != null ? firstItem.SchoolGroupId : 0;
    var IsCustomPermission = Session["CanEdit"] != null ? Convert.ToBoolean(Session["CanEdit"]) : false;
}

@Html.Hidden("GroupId", firstGroupId)
@Html.HiddenFor(m => m.SchoolGroupId)
@Html.Hidden("AllowedFileExtension", Html.Raw(Json.Encode(Model.AllowedFileExtension)))
@Html.Hidden("AllowedImageExtension", Html.Raw(Json.Encode(Model.AllowedImageExtension)))
<div class="blog-wall">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-12 groupWrapper">
            <div class="card sticky-group">
                <div class="card-body">
                    <div class="title-with-fields">
                        <h3 class="card-title">@ResourceManager.GetString("School.YoYoBlog.Groups")</h3>
                        <a href="javascript:void(0)" class="search-toggle d-none d-md-inline-block">
                            <i class="fas fa-search"></i>
                        </a>

                    </div>
                    <div>
                        <div class="search-wrapper">
                            <input type="text" class="searchtxt" id="searchGroup">
                        </div>
                    </div>
                    <div class="groupSelection show">
                        <a href="javascript:void(0)" class="btn btn-outline-primary dropdown-toggle m-2 p-2 group-toggle d-block d-md-none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ResourceManager.GetString("School.Blog.BasicDropdown")</a>
                        <div class="dropdown-menu show position-relative groupList p-0 w-100 border-0 mt-md-0">

                            @foreach (var g in Model.GroupsList)
                            {
                                if (g.Equals(firstItem))
                                {
                                    <a id="@g.SchoolGroupId" onclick="yoYoBlog.onGroupSelect($(this),@g.SchoolGroupId)" class="dropdown-item search-item align-items-center pt-3 pb-3 active" href="javascript:void(0)">
                                        <span class="rounded">@(g.SubjectCode != null && g.SubjectCode.Length > 2 ? g.SubjectCode.Substring(0, 2) : g.SubjectCode)</span>
                                        <h4>
                                            @g.SchoolGroupName
                                            <span class="d-block to-sentence-case">@g.SubjectName</span>
                                        </h4>
                                    </a>
                                }
                                else
                                {
                                    <a id="@g.SchoolGroupId" onclick="yoYoBlog.onGroupSelect($(this),@g.SchoolGroupId)" class="dropdown-item search-item align-items-center pt-3 pb-3" href="javascript:void(0)">
                                        <span class="rounded">@(g.SubjectCode != null && g.SubjectCode.Length > 2 ? g.SubjectCode.Substring(0, 2) : g.SchoolGroupName.Length > 2 ? g.SchoolGroupName.Substring(0, 2) : g.SchoolGroupName)</span>
                                        <h4>
                                            @g.SchoolGroupName
                                            <span class="d-block to-sentence-case">@g.SubjectName</span>
                                        </h4>
                                    </a>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-12">
            <div id="addEditYoYoBlog">
                @if ((SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin) && IsCustomPermission)
                {
                    Html.RenderPartial("_AddEditYoYoBlog", Model.BlogEdit);

                }
                else
                {
                    @Html.AntiForgeryToken();
                }
            </div>
            <div class="blogList" id="blogList">
                @{ Html.RenderPartial("_YoYoBlogList", Model.Chatters); }
            </div>
        </div>
    </div>
</div>


<!-- file upload img start -->
<div id="chatterImgUploader" class="file-upload-widget z-depth-1">
    <div class="file-upload-wrapper column-padding pt-3 pb-3 text-center">
        <a href="javascript:void(0)" class="closepanel"><i class="fas fa-times"></i></a>
        <label class="m-0 uploadLimit">@ResourceManager.GetString("Shared.Labels.UploadLimit")</label>
        <input type="file" name="PostedImage" id="PostedImage" />
    </div>
</div>
<!-- file upload img end -->
<!-- file upload documents start -->
<div id="chatterDocUploader" class="file-upload-widget z-depth-1">
    <div class="file-upload-wrapper column-padding pt-3 pb-3 text-center">
        <a href="javascript:void(0)" class="closepanel"><i class="fas fa-times"></i></a>
        <label class="m-0 uploadLimit">@ResourceManager.GetString("Shared.Labels.UploadLimit")</label>
        <input type="file" name="PostedDocuments" id="PostedDocuments" multiple />
    </div>
</div>
<!-- file upload documents end -->

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}
@section scripts
{

    <script src="@Url.Content("/Content/js/ckeditor/ckeditor.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/SchoolInfo/YoYoBlog.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        translatedResources.blogtypemessage = '@ResourceManager.GetString("School.Blog.BlogTypeMessage")';
        translatedResources.groupmessage = '@ResourceManager.GetString("School.Blog.GroupMessage")';
        translatedResources.titlemessage = '@ResourceManager.GetString("School.Blog.TitleMessage")';
        translatedResources.descriptionmessage = '@ResourceManager.GetString("School.Blog.DescriptionMessage")';
        translatedResources.embedUrlMessage = '@ResourceManager.GetString("School.Blog.EmbedUrlMessage")';
        translatedResources.DragAndDropMessage = '@ResourceManager.GetString("Shared.Labels.BrowseFile")';
        translatedResources.DeleteBlog = '@ResourceManager.GetString("School.Blog.DeleteBlog")';
        translatedResources.BrowseFile = '@ResourceManager.GetString("Shared.Messages.ErrorMessage")';
        
    </script>

}
