﻿@model  Phoenix.VLE.Web.ViewModels.YoYoBlogViewModel
@*@model  Phoenix.VLE.Web.EditModels.BlogEdit*@
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions

@{
    ViewBag.Title = ResourceManager.GetString("School.Blog.Exemplar");
    var rnd = DateTime.Now.Ticks.ToString();
    var firstItem = Model.GroupsList.Any() && Model.GroupsList.Count() > 0 ? Model.GroupsList.First() : null;
    var firstGroupId = firstItem != null ? firstItem.SchoolGroupId : 0;

    var IsCustomPermission = Session["CanEdit"] != null ? Convert.ToBoolean(Session["CanEdit"]) : false;
}
@Html.Hidden("GroupId", firstGroupId)
@Html.HiddenFor(m => m.SchoolGroupId)
@Html.Hidden("AllowedFileExtension", Html.Raw(Json.Encode(Model.AllowedFileExtension)))
<div class="blog-wall">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-12 groupWrapper">
            <div class="card sticky-group">
                <div class="card-body">
                    <div class="title-with-fields">
                        
                        <h3 class="card-title">@ResourceManager.GetString("School.YoYoBlog.Groups") </h3>
                        <a href="javascript:void(0)" class="search-toggle d-none d-md-inline-block">
                            <i class="fas fa-search"></i>
                        </a>

                    </div>
                    <div>
                        <div class="search-wrapper">
                            <input type="text" class="searchtxt" id="searchGroup">
                        </div>

                    </div>
                    <div class="groupSelection show">
                        <a href="javascript:void(0)" class="btn btn-outline-primary dropdown-toggle m-2 p-2 group-toggle d-block d-md-none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ResourceManager.GetString("School.Blog.BasicDropdown")</a>
                        <div class="dropdown-menu show position-relative groupList p-0 w-100 border-0 mt-md-0">

                            @foreach (var g in Model.GroupsList)
                            {
                                if (g.Equals(firstItem))
                                {
                                    <a id="@g.SchoolGroupId" onclick="exemplar.onGroupSelect($(this),@g.SchoolGroupId)" class="dropdown-item search-item align-items-center pt-3 pb-3 active" href="javascript:void(0)">
                                        <span class="rounded">@(g.SubjectCode != null && g.SubjectCode.Length > 2 ? g.SubjectCode.Substring(0, 2) : g.SubjectCode)</span>
                                        <h4>
                                            @g.SchoolGroupName
                                            <span class="d-block to-sentence-case">@g.SubjectName</span>
                                        </h4>
                                    </a>
                                }
                                else
                                {
                                    <a id="@g.SchoolGroupId" onclick="exemplar.onGroupSelect($(this),@g.SchoolGroupId)" class="dropdown-item search-item align-items-center pt-3 pb-3" href="javascript:void(0)">
                                        <span class="rounded">@(g.SubjectCode != null && g.SubjectCode.Length > 2 ? g.SubjectCode.Substring(0, 2) : g.SchoolGroupName.Length > 2 ? g.SchoolGroupName.Substring(0, 2) : g.SchoolGroupName)</span>
                                        <h4>
                                            @g.SchoolGroupName
                                            <span class="d-block to-sentence-case">@g.SubjectName</span>
                                        </h4>
                                    </a>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-12">
            
            <button type="button" id="btnShowModal" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#myModal">+ Create/Post Exemplary Work</button>
            <div id="addEditExemplar">
                @if ((SessionHelper.CurrentSession.IsTeacher() || SessionHelper.CurrentSession.IsAdmin) && IsCustomPermission)
            {
                Html.RenderPartial("_AddEditExemplar", Model.BlogEdit);
            }
            else
            {
                @Html.AntiForgeryToken();
            }

            </div>
            <div class="exemplarList" id="exemplarList">
                @{ Html.RenderPartial("_ExemplarList", Model.BlogList); }
            </div>
        </div>

    </div>
</div>


<!-- file upload img start -->
<div class="file-upload-widget z-depth-1">
    <div class="file-upload-wrapper column-padding pt-3 pb-3 text-center">
        <a href="javascript:void(0)" class="closepanel"><i class="fas fa-times"></i></a>
        <label class="m-0 uploadLimit">@ResourceManager.GetString("Shared.Labels.UploadLimit")</label>
        <input type="file" name="ExemplarImage" id="ExemplarImage" />
    </div>
</div>
<!-- file upload img end -->
<!--Post ModalPopup-->
<div class="modal fade" id="myModal" style="display:none;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" style="padding-right: 17px; display: block;" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered folder-dailog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h5 class="m-0 sub-heading text-medium" id="modal_heading">Create an Exemplary Work Post</h5>
                <button type="button" class="close py-0 px-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="modal_Loader">
              
                    @using (Html.BeginForm("SaveExemplarDataWithMap", "Blog", FormMethod.Post))
                    {
                    <div class="modal-body">
                        <div class="popup-form">
                            
                            <div class="row">
                                <div class="col-12">
                                    <div class="md-form md-outline">

                                        @Html.TextBoxFor(x => x.BlogEdit.Title, new { @class = "form-control" })
                                        <label for="Title" class="active">@ResourceManager.GetString("School.Blog.Title")</label>
                                        @Html.ValidationMessageFor(x => x.BlogEdit.Title)
                                    </div>
                                    <div class="md-form md-outline">

                                        <textarea id="Description" name="Description" class="md-textarea form-control" rows="3">@Model.BlogEdit.Description</textarea>
                                        <label for="Description" class="active">@ResourceManager.GetString("School.Blog.Description")</label>
                                    </div>

                                    <div class="md-form md-outline">

                                        @Html.TextBoxFor(x => x.BlogEdit.EmbedUrl, new { @class = "form-control" })
                                        <label for="EmbedUrl" class="active">@ResourceManager.GetString("School.Blog.EmbedUrl")</label>
                                        @Html.ValidationMessageFor(x => x.BlogEdit.EmbedUrl)
                                    </div>
                                    <div class="md-form md-outline">
                                        <label for="FolderName" class="active">Select a Groups</label>
                                        @*@Html.DropDownListFor(model => model.GroupsList, new MultiSelectList(ViewBag.ItemsBag, "Value", "Text", Model.GroupsList.Select(x => x.Value)), new { @class = "form-control features-segments select2-multiselect-checkbox", multiple = "multiple" })

                                        ViewBag.ItemsBag = db.Items.Select(v => new SelectListItem
                                        {
                                        Text = v.ItemName,
                                        Value = v.ItemId.ToString()
                                        });

                                        ModelVM modelVM = new ModelVM()
                                        {
                                        ItemsSelected = SelectedItems.Items.Select(x => new SelectListItem() { Text = x.ItemName, Value = x.ItemId.ToString() })
                                        };*@


                                        @Html.DropDownListFor(m => m.GroupsList, new SelectList(Model.GroupsList, "SchoolGroupId", "SchoolGroupName"), new Dictionary<string, object> { { "class", "select2" }, { "multiple", "multiple" } })



                                    </div>
                                    <div class="md-form md-outline">
                                        <label for="FolderName" class="active">Select a Students</label>
                                        @Html.DropDownListFor(m => m.StudentList, new SelectList(Model.StudentList, "StudentId", "UserName"), new Dictionary<string, object> { { "class", "select2" }, { "multiple", "multiple" } })

                                    </div>
                                    <div class="md-form md-outline">
                                        <div id="newImg" style="display:@(string.IsNullOrEmpty(Model.BlogEdit.BlogImage) ? "inline-block" : "none"); ">
                                            <a href="javascript:void(0)" class="upload-img trigger-fileUploader" id="ExemplarUploader" data-toggle="tooltip" data-title="@ResourceManager.GetString("Shared.Labels.ImageUpload")" data-original-title="" title="">
                                                <img src="@Url.Content("/Content/VLE/img/svg/ic-file-upload.svg")" class="svg">
                                            </a>
                                        </div>

                                        <div id="imgExist" style="display:@(string.IsNullOrEmpty(Model.BlogEdit.BlogImage) ? "none" : "inline-block"); ">
                                            @if (!string.IsNullOrEmpty(Model.BlogEdit.BlogImage))
                                            {
                                                var filePath = PhoenixConfiguration.Instance.ReadFilePath + Model.BlogEdit.BlogImage;
                                                if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(Model.BlogEdit.BlogImage))
                                                {
                                                    <a href="javascript:void(0)" class="upload-img border trigger-fileUploader" id="ExemplarUploader" data-toggle="tooltip" data-title="@ResourceManager.GetString("Shared.Labels.ImageUpload")">
                                                        <img src="@Url.Content(filePath)">
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="javascript:void(0)" class="upload-img border trigger-fileUploader" id="ExemplarUploader" data-toggle="tooltip" data-title="@ResourceManager.GetString("Shared.Labels.ImageUpload")">
                                                        <span class=" d-block  p-2 text-center">
                                                            <i class="fas  fa-file ic-file mr-1"></i>
                                                        </span>
                                                    </a>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-start border-0 pt-0">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-outline-primary" id="btnHideModal" data-dismiss="modal">Cancel</button>
                    </div>
                    }
               

            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}
@section scripts
{
    <script src="@Url.Content("~/Content/VLE/js/addons/muuri.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/SchoolInfo/Exemplar.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script type="text/javascript">
        translatedResources.blogtypemessage = '@ResourceManager.GetString("School.Blog.BlogTypeMessage")';
        translatedResources.groupmessage = '@ResourceManager.GetString("School.Blog.GroupMessage")';
        translatedResources.titlemessage = '@ResourceManager.GetString("School.Blog.TitleMessage")';
        translatedResources.descriptionmessage = '@ResourceManager.GetString("School.Blog.DescriptionMessage")';
        translatedResources.limitExceeds = '@ResourceManager.GetString("School.Blog.LimitExceeds")';
        translatedResources.embedUrlMessage = '@ResourceManager.GetString("School.Blog.EmbedUrlMessage")';
        translatedResources.DeleteExemplar = '@ResourceManager.GetString("School.Blog.DeleteExemplar")';
        translatedResources.ErrorMessage = '@ResourceManager.GetString("Shared.Messages.ErrorMessage")';
        translatedResources.DragAndDropMessage = '@ResourceManager.GetString("Shared.Labels.BrowseFile")';

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnShowModal").click(function () {

                $("#myModal").modal('show');
            });

            $("#btnHideModal").click(function () {
                $("#loginModal").modal('hide');
            });
        });


    </script>

}






