﻿@model IEnumerable<Phoenix.Models.Blog>
@using Phoenix.Common.Localization
@{
    ViewBag.Title = ResourceManager.GetString("School.Blog.Header");
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-school-information.svg");
    var rnd = DateTime.Now.Ticks.ToString();
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card list-categories-wrapper">
            <div class="card-body column-padding pt-3 pb-3 min-height">


                <div class="table-wrapper mt-4">
                    <div class="row mb-3">
                        <div class="col-lg-9 col-md-9 col-9">
                            <div class="search-with-bg">
                                <i class="fa fa-search"></i>
                                <input type="search" id="BlogListSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-3">
                            <div class="float-right">
                                <button id="btnAddBlog" type="button" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light">@ResourceManager.GetString("School.Blog.AddBlog")</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover table-responsive-md" id="tbl-Blog"></table>
                </div>
            </div>

        </div>
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

<style>
    .dataTables_filter {
        display: none;
    }
</style>
@section scripts
{
    <script language="javascript">
        translatedResources.header = '@ResourceManager.GetString("School.Blog.Header")';
        translatedResources.title = '@ResourceManager.GetString("School.Blog.Title")';
        translatedResources.description = '@ResourceManager.GetString("School.Blog.Description")';
        translatedResources.blogimage = '@ResourceManager.GetString("School.Blog.BlogImage")';
         translatedResources.publish = '@ResourceManager.GetString("School.Blog.Publish")';
        translatedResources.createdby = '@ResourceManager.GetString("School.Blog.CreatedBy")';
        translatedResources.createdon = '@ResourceManager.GetString("School.Blog.CreatedOn")';
        translatedResources.extensionalert = '@ResourceManager.GetString("School.Blog.ExtensionAlert")';
        translatedResources.sizealert = '@ResourceManager.GetString("School.Blog.SizeAlert")';
        translatedResources.DragAndDropMessage = '@ResourceManager.GetString("Shared.Labels.BrowseFile")';
    </script>

    <script src="@Url.Content("~/Content/js/custom/SchoolInfo/Blog.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

}

