﻿@model  Phoenix.VLE.Web.ViewModels.YoYoBlogViewModel
@using Phoenix.Common.Helpers
@using Phoenix.Common.Localization
@using Phoenix.Models;

@using Phoenix.Common.Helpers.Extensions
@{
    ViewBag.Title = ResourceManager.GetString("School.YoYoBlog.PageHeader");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-school-information.svg");
    var rnd = DateTime.Now.Ticks.ToString();
    var firstItem = Model.GroupsList.Any() && Model.GroupsList.Count() > 0 ? Model.GroupsList.First() : null;
    var firstGroupId = firstItem != null ? firstItem.SchoolGroupId : 0;
    var IsCustomPermission = Session["CanEdit"] != null ? Convert.ToBoolean(Session["CanEdit"]) : false;
    var enableChatter = Boolean.Parse(@System.Configuration.ConfigurationManager.AppSettings["enableChatter"]);
   
}
@Html.Hidden("AllowedFileExtension", Html.Raw(Json.Encode(Model.AllowedFileExtension)))
@Html.Hidden("AllowedImageExtension", Html.Raw(Json.Encode(Model.AllowedImageExtension)))
@Html.Hidden("ActionType", "")

@Html.Hidden("GroupId", "")
@Html.Hidden("BlogId", "")
@Html.Hidden("EmojiId", "")
@Html.Hidden("EBlogId", "")
@Html.Hidden("ShareroupId")
@Html.Hidden("SearchTypeId")
@Html.Hidden("SearchType")
@Html.Hidden("ReadPath", PhoenixConfiguration.Instance.ReadFilePath)


<style>

    /*#divautocomplete {
        display: none;

    }*/
    .search-with-bg #divautocomplete.wall-autocomplete.search-result {
        margin-right: 0 !important;
        margin-left: 0 !important;
        display: none;
        width: 60% !important;
        left: 153px !important;
        max-height: 350px;
        top: 2.78rem !important;
        overflow: auto !important;
    }

    .search-with-bg #divautocomplete.wall-search.search-result {
        margin-right: 0 !important;
        margin-left: 0 !important;
        display: none;
        width: 76% !important;
        left: 153px !important;
        max-height: 350px;
        top: 2.78rem !important;
        overflow: auto !important;
    }

    @@media (max-width: 768px) {
        .search-with-bg #divautocomplete.wall-autocomplete.search-result {
            left: 133px !important;
            width: 60% !important;
        }
    }

    @@media (max-width: 767px) {
        .search-with-bg #divautocomplete.wall-autocomplete.search-result {
            left: 133px !important;
            width: 58% !important;
        }
    }

    @@media (max-width: 375px) {
        .search-with-bg #divautocomplete.wall-autocomplete.search-result {
            width: 79% !important;
            left: 25px !important;
            top: 4.21rem !important;
        }
    }



    @@media (max-width: 768px) {
        .search-with-bg #divautocomplete.wall-search.search-result {
            left: 133px !important;
            width: 77% !important;
        }
    }

    @@media (max-width: 767px) {
        .search-with-bg #divautocomplete.wall-search.search-result {
            left: 133px !important;
            width: 58% !important;
        }
    }

    @@media (max-width: 375px) {
        .search-with-bg #divautocomplete.wall-search.search-result {
            width: 79% !important;
            left: 25px !important;
            top: 4.21rem !important;
        }
    }

    .dropdown-menu {
        max-width: 672px !important;
    }

    #sharePostPopup .dropdown-menu.show {
        width: 100%;
    }

    butn
    .li, a, i {
        cursor: pointer !important;
    }

    #ui-id-1 {
        position: relative;
        top: -52760.9px;
        left: 152px;
        background: white;
        width: 500px;
        max-height: 300px;
        overflow-y: scroll;
    }

    .custom1-y1-scroll1 {
        overflow: auto;
        height: 17.875rem;
        padding-right: 0.625rem;
    }

        .custom1-y1-scroll1::-webkit-scrollbar {
            width: 0.4375rem;
            height: 0.4375rem;
            cursor: pointer;
        }

        .custom1-y1-scroll1::-webkit-scrollbar-track {
            box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
            border-radius: 0.625rem;
            cursor: pointer;
        }

        .custom1-y1-scroll1::-webkit-scrollbar-thumb {
            cursor: pointer;
            border-radius: 0.625rem;
            background: #888;
        }
</style>

@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">*@
@*<link href="~/Content/VLE/css/addons/fileinput/fileinput.css" rel="stylesheet" />
    <link href="~/Content/VLE/css/addons/fileinput/explorer-fas-theme.css" rel="stylesheet" />*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


@Html.AntiForgeryToken()
<div class="container-fluid mt-3 mt-md-2 mb-4 p-0">
    <div class="row">
        <div class="col-12 list-container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-12 col-12">

                    <div class="myWall-header d-flex align-items-center flex-wrap">
                        <div class="d-none section-title mb-0">
                            <h3 class="mr-4 mr-lg-5 p-0">My Wall</h3>
                        </div>

                        <div class="search-with-bg bg-white rounded-6x px-3 flex-1 mr-3">
                            <button class="btn btn-transparent m-0 mr-2 p-0 z-depth-0" type="button">
                                <i class="fas fa-search active" id="searchId"></i>
                            </button>

                            <input type="search" class="searchfield py-1 position-relative" placeholder="@ResourceManager.GetString("Chatter.Chatter.SearchforGroupsmemberstopics") " id="txtBlogSearch">

                            <div class="search-result bg-white p-2 mx-4 position-absolute  @(SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher()? "wall-autocomplete" : "wall-search")" id="divautocomplete">

                            </div>
                        </div>

                        @*#Issue C20DO - 1631, ticket no. 1963*@
                        @if (SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher())
                        {
                            <button type="button" class="btn btn-primary rounded-6x m-0" id="btnCreateBlog" data-toggle="modal" data-target="#createBlogPopup">
                                <i class="fas fa-plus mr-2"></i>@ResourceManager.GetString("Chatter.Chatter.NewPost")
                            </button>
                        }
                    </div>

                    <div id="myWallList">
                        @*@Html.Partial("_MyWallList", (ViewBag.Projects as List<Chatter>))*@
                        @{ Html.RenderPartial("_MyWallList", Model.Chatters); }
                    </div>

                    @if (Model.Chatters.Count() > 0 && Model.Chatters.Count() >= 10)
                    {
                        <div class="my-4 text-center">
                            <button type="button" id="loadMoreBlog" class="btn btn-outline-primary rounded-6x"><span class="d-inline-block px-5" onclick="loadWallData();">Load More</span></button>
                        </div>

                    }


                </div>
                <div class="col-xl-3 col-lg-4 col-md-12 col-12">
                    <div class="sticky-top">
                        @if (!SessionHelper.CurrentSession.IsParent())
                        {
                            if (enableChatter)
                            {
                                <button type="button" class="btn btn-primary mb-4 w-100 mt-0" onclick="location.href='@Url.Action("Chat", "Chat")'">View Chatter</button>
                            }
                            else
                            {
                                <button type="button" class="d-none btn btn-primary mb-4 w-100 mt-0" onclick="location.href='@Url.Action("Chat", "Chat")'" disabled style="background-color: gray !important;">View Chatter</button>
                            }
                        }

                        @if (!SessionHelper.CurrentSession.IsParent())
                        {
                            Html.RenderPartial("_MyRecentChat", Model.RecentUserActivity);
                            <!-- recent chats end -->
                            <!-- my contacts -->
                            @*<div id="ContactList">
                @{ Html.RenderPartial("_MyContact", Model.MySearchContactsList); }
            </div>*@
                            if (enableChatter)
                            {
                                <div class="row mb-3">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="section-title with-fields">
                                            <h3>My Contacts</h3>
                                        </div>
                                        <div class="card rounded-2x column-padding p-0 overflow-hidden">
                                            <div class="search-with-bg bg-white border rounded-4x mx-2 my-2">
                                                <span class="icon-search"></span>
                                                <input type="search" class="searchfield" placeholder="Search" id="txtContactSearch">
                                            </div>
                                            <div class="card-body">
                                                <div class="user-chat-block chat-list" id="ContactList">
                                                    @foreach (var item in Model.MySearchContactsList)
                                                    {
                                                        var name = item.ToUser;
                                                        var classUser = item.IsOnline == true ? "online-user" : "away-user";
                                                        //var p = name.Replace(" ", "").ToString().Replace("/", "");
                                                        <a class="chat-user @classUser align-items-center pt-3 pb-3" style="border-bottom: 1px solid #EDEFF4 !important;" href="/schoolinfo/chat/chat?Id=@EncryptDecryptHelper.EncryptUrl(item.ToUserId.ToString())&typem=@EncryptDecryptHelper.EncryptUrl("MyContact")" onclick="clickcontactList('@name','@item.ToUserId','@item.ToUserProfileImage');" id='@item.ToUserId'>
                                                            <div class="chat-img-wrap position-relative">
                                                                <img class="img-fluid rounded-circle" src="@item.ToUserProfileImage" alt="">
                                                            </div>
                                                            <h4 class="text-medium">
                                                                @name
                                                            </h4>
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- my contacts end -->


                        }
                        <!-- my groups -->
                        @{ Html.RenderPartial("_MyGroup", Model.GroupsList); }
                        <!-- my groups end -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal popup-purple-shade blog-popup" id="createBlogPopup" role="dialog" aria-labelledby="createBlogPopup" aria-hidden="true">

</div>

<div class="modal fade popup-purple-shade blog-popup" id="sharePostPopup" tabindex="-1" role="dialog" aria-labelledby="sharePostPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-max">
        <div class="modal-content">
            <form action="#" class="m-0">
                <div class="modal-header">
                    <h6 class="modal-title text-white">@ResourceManager.GetString("School.Wall.SharePost")</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                </div>
                <div class="modal-body pb-2" style="margin:10px;">
                    <div class="row mb-3">
                        <label for="select-group" class="text-semibold">@ResourceManager.GetString("Assignment.Assignment.SchoolGroupIds")</label>

                        @Html.DropDownListFor(x => x.SchoolGroupId, ViewBag.lstSchoolGroup as List<SelectListItem>
                            , new { @class = "selectpicker ddlSchoolGroup leftcheck", @name = "SchoolGroupId", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true" })
                        @Html.ValidationMessageFor(x => x.SchoolGroupId)

                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" onclick="SharePost();"><span>@ResourceManager.GetString("School.Wall.SharePost")</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade popup-purple-shade blog-popup" id="ignismyModalSharePost" tabindex="-1" role="dialog" aria-labelledby="SucessfulPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-max">
        <div class="modal-content">
            <form action="#" class="m-0">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                </div>
                <div class="modal-body" style="text-align:center;color:green;font-weight:bold;">

                    <h1>Thank You!</h1>
                    <p>@ResourceManager.GetString("School.Wall.SuccessMessage")</p>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade popup-purple-shade blog-popup" id="ignismyModal" tabindex="-1" role="dialog" aria-labelledby="SucessfulPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-max">
        <div class="modal-content">
            <form action="#" class="m-0">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                </div>
                <div class="modal-body" style="text-align:center;color:red;font-weight:bold;">
                    <div class="thank-you-pop center-block" id="pMsg">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="ShowPictureModal" role="dialog">
    <div class="modal-dialog" style="width: 100%; max-width: 750px; min-width: 350px;height:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <img id="ImgModal" src="@Url.Content("~/Content/VLE/img/default-avatar.jpg")" class="user-image" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade popup-purple-shade blog-popup" id="ignismyModalCreatePost" tabindex="-1" role="dialog" aria-labelledby="SucessfulPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-max">
        <div class="modal-content">
            <form action="#" class="m-0">

                <div class="modal-header" title="Message">
                    <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                </div>
                <div class="modal-body" style="text-align:center;color:green;font-weight:bold;">
                    <p id="pBlogMsg"></p>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="myModalSucess" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header flex-column">
                @*<div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>*@
                <h4 class="modal-title w-100">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to send these file? This process cannot be undone.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>



<!-- SCRIPTS  Section starts -->
@Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js")
@Scripts.Render("https://code.jquery.com/ui/1.12.1/jquery-ui.js")
<script src="~/Scripts/jquery-migrate-3.0.0.min.js"></script>
<script type="text/javascript" src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>

@section scripts
{
    <script type="text/javascript">
        translatedResources.CommentPostSuccess = '@ResourceManager.GetString("School.YoYoBlog.CommentPostSuccess")';
        translatedResources.CommentNotAllowed = '@ResourceManager.GetString("School.YoYoBlog.CommentNotAllowed")';
    </script>
}

@*# C20D0 -1607*@
<script src="@Url.Content("~/Content/js/custom/SchoolInfo/YoYoBlog.js?v ="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}
<script src="~/Scripts/webcamjs/webcam.js"></script>
@*<link href="~/Content/VLE/css/main-parent.css" rel="stylesheet" />
    <link href="~/Content/VLE/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/VLE/css/main-teacher.css" rel="stylesheet" />*@


<script>
    if (document.getElementById("btnCreateBlog")) {
        document.getElementById("btnCreateBlog").onclick =
            function () { loadblogpopup() };

        $(document).mouseup(function (e) {
           // $('#txtBlogSearch').val('');
        });
    }


    function loadblogpopup() {

        $("#createBlogPopup").html('');
        $("#createBlogPopup").load('@Url.Action("DisplayNewBlogPopup","Blog")');

    }

     $(':checkbox').on('change', function () {
        var th = $(this), name = th.prop('name');
        if (th.is(':checked')) {
            $(':checkbox[name="' + name + '"]').not($(this)).prop('checked', false);
        }
    });

    function IsValidateFile(fileF, actionType) {

        var allowedFiles = [" "];
        var allowedFileType = actionType.split("-");
        var allowedFiles = [" "];
        allowedFiles = JSON.parse($('#AllowedFileExtension').val());
        //if ("image" == allowedFileType[1]) {
        //    allowedFiles = JSON.parse($("#AllowedImageExtension").val());
        //}
        //if ("file" == allowedFileType[0]) {
          //  allowedFiles =  JSON.parse($('#AllowedFileExtension').val());
        //}
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
        if (!regex.test(fileF.toLowerCase())) {
            openPopup(allowedFiles.join(', '))
            //alert("Please upload files having extensions: " + allowedFiles.join(', ') + " only.");
            return false;
        }
        return true;
    }

    function openPopup(message) {
        $('#pMsg').html("Please upload files having extensions:").append("&nbsp;").append(message).append(" only");
        $('#ignismyModal').modal('toggle');
    }

    function ShowImageonPopup(elementId) {

        $("#ImgModal").attr('src', $('#'+elementId).attr('src'));
        $('#ShowPictureModal').modal('show');
    }

    function BindSearchItem(searchTypeid, searchTypeName) {

       $('#SearchTypeId').val(searchTypeid);
       $('#SearchType').val(searchTypeName);
        $.ajax({
                type: 'POST',
                url: "/SchoolInfo/Blog/GetWallModelOnSearch",
                data: { 'id': searchTypeid , 'type': searchTypeName},
                success: function (data) {
                 if (data !== '') {
                    $('#myWallList').html('');
                     $('#myWallList').html(data);
                     //$('#txtBlogSearch').val('');
                     //$('#loadMoreBlog').hide();
                    }
                    else {
                     globalFunctions.showMessage("error", translatedResources.technicalError);
                     $('#txtBlogSearch').val('');
                    }

                },
                error: function (err) {
                    globalFunctions.showMessage("error", translatedResources.technicalError);
                }
            });
    }

    function BindRecentActivityItem(searchTypeid,userId, searchTypeName) {
        $.ajax({
                type: 'POST',
                url: "/SchoolInfo/Blog/GetRecentAcitityOnWall",
                data: { 'id': searchTypeid , 'userId': userId , 'type': searchTypeName},
                success: function (data) {
                 if (data !== '') {
                    $('#myWallList').html('');
                     $('#myWallList').html(data);
                     $('#txtBlogSearch').val('');
                      $('#loadMoreBlog').hide();
                    }
                    else {
                     globalFunctions.showMessage("error", translatedResources.technicalError);
                     $('#txtBlogSearch').val('');
                    }

                },
                error: function (err) {
                    globalFunctions.showMessage("error", translatedResources.technicalError);
                }
            });
    }



    var selectedGroup ;
    $(document).ready(function () {

   

        $('body').on('click', '.trigger-activity', function () {

            $('.activity-drawer-container').toggleClass('open');
            $('.activity-drawer-container').animate({
                right: '0'
            })
        });

        $('body').on('click', '.closeActivityDrawer', function () {

            $('.activity-drawer-container').toggleClass('open');
            $('.activity-drawer-container').animate({
                right: '-500'
            })
        });




        //$("#ViewALL").click(function () {
        //    alert('wall wala hai');
        //   // $("#NotificationDV").css("display", "none");
        //   // $("#recentActivities").removeClass("d-none");
        //    $('#recentActivities').removeClass("d-none").animate({
        //           right: '0'
        //       }).toggleClass('open');
        //})
        $('.paymentDue-toast').addClass('animated fadeInRight');
        $('body').on('click', '.close-toast', function () {
            $(this).parent().parent().fadeOut();
        })
        $('[data-toggle="popover-hover"]').popover({
            html: true,
            trigger: 'hover',
            placement: 'left',
            container: '#groups-popover',
        });
        $('[data-toggle="popover"]').popover({
            html: true,
            trigger: 'focus',
            placement: 'right',
            container: '#assignment-popover'
        });

        // Search on my wall service
        //$('#txtBlogSearch').autocomplete({
        //    minLength: 3,
        //    source: function (request, response) {
        //        $.ajax({
        //            url: "/SchoolInfo/Blog/SearchOnMyWall",
        //            method: 'post',
        //            data: { searchString: request.term },
        //            dataType: 'json',
        //            success: function (data) {
        //                response(data);
        //            },
        //            error: function (err) {
        //                alert(err);
        //            }
        //        });
        //    },
        //    focus: updateSearchBox,
        //    select: updateSearchBox
        //})
        //    .autocomplete('instance')._renderItem = function (ul, item) {
        //        var HTML = "";
        //        if (item.UserId != null) {
        //            var type = "user";
        //            var functionDesign = "BindSearchItem(" + "" + item.UserId + "" + "," + "'" + type + "'" + ")";
        //            HTML = '<a href="#"  id="' + item.SearchId + '" data-name ="' + item.SearchText + '" data-src = "' + item.SearchImage + '"  onclick="' + functionDesign + '" class="d-flex align-items-center w-100 p-2 border-bottom"><div class="defaultAvatar rounded-circle overflow-hidden mr-3"><img class= "img-fluid" src = ' + item.SearchImage + ' alt = ' + item.SearchText + '/></div><div class="student-info d-flex flex-1 justify-content-between"><h3 class="name m-0 text-medium">' + item.SearchText + '</h3><span class="small text-medium"><b>User</b></span></div></a>';
        //        }
        //        else if (item.BlogId != null) {
        //            var type = "Blog";
        //            var functionDesign = "BindSearchItem(" + "" + item.BlogId + "" + "," + "'" + type + "'" + ")";
        //            HTML = '<a href="#"  id="' + item.SearchId + '" data-name ="' + item.SearchText + '" data-src = "' + item.SearchImage + '"  onclick="' + functionDesign + '" class="d-flex align-items-center w-100 p-2 border-bottom"><div class="defaultAvatar rounded-circle overflow-hidden mr-3"><img class= "img-fluid" src = ' + item.SearchImage + ' alt = ' + item.SearchText + '/></div><div class="student-info d-flex flex-1 justify-content-between"><h3 class="name m-0 text-medium">' + item.SearchText + '</h3><span class="small text-medium"><b>Blog</b></span></div></a>';
        //        }
        //        else if (item.SchoolGroupId != null) {
        //            var type = "Group";
        //            var functionDesign = "BindSearchItem(" + "" + item.SchoolGroupId + "" + "," + "'" + type + "'" + ")";
        //        HTML = '<a href="#"  id="' + item.SearchId + '" data-name ="' + item.SearchText + '" data-src = "' + item.SearchImage + '"  onclick="' + functionDesign + '" class="d-flex align-items-center w-100 p-2 border-bottom"><div class="defaultAvatar rounded-circle overflow-hidden mr-3"><img class= "img-fluid" src = ' + item.SearchImage + ' alt = ' + item.SearchText + '/></div><div class="student-info d-flex flex-1 justify-content-between"><h3 class="name m-0 text-medium">' + item.SearchText + '</h3><span class="small text-medium"><b>Group</b></span></div></a>';
        //        }
        //        return $('<li>')
        //            .append(HTML)
        //            .appendTo(ul);
        //    };


        //function updateSearchBox(event, ui) {
        //    $(this).val(ui.item.SearchText);
        //    return false;
        //}
        $('.selectpicker').change(function () {
            debugger;
           selectedGroup =  $('.selectpicker').val();
        });
        $('.share-icon').on('click', function (e) {

            $("#SchoolGroupId option").prop('disabled', false);

            $('#ShareroupId').val($(this).data('grpid'));


            $("#SchoolGroupId option[value='"+ $('#ShareroupId').val()+"']").attr('disabled', true);
            $('.selectpicker').selectpicker('refresh');

           $('#lblMessage').html("");
           selectedGroup;
           $('.selectpicker').selectpicker('deselectAll');
           var selected = $(this).data('id');
           $("#BlogId").val(selected);
        });

    });

    function BindSearchOnMyWall(toUserId,ToUser) {
        $.ajax({
            type: 'GET',
            url: '/SchoolInfo/Chat/RecentUserList',
            data: { userId: toUserId,userName: ToUser},
            contentType: 'application/json; charset=utf-8',
            success: function (result) {

            },
            error: function (msg) {
                globalFunctions.onFailure();
            }
        });
    }

    function SharePost() {

        var currentgroupId = 0;
        if (selectedGroup == null || selectedGroup == 'undefined' || selectedGroup == '') {

            $('#lblMessage').html('@ResourceManager.GetString("School.Wall.ErrorMessage")');
            return;
        }
        if ($('#GroupId').val() != 0) {
            currentgroupId = $('#GroupId').val();
        }

        $.ajax({
            type: 'GET',
            url: '/SchoolInfo/Blog/SharePost',
            data: { groupId: currentgroupId, groupList: JSON.stringify(selectedGroup), blogId: $("#BlogId").val() },
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                globalFunctions.showSuccessMessage('Post Shared Successfully');
                //$('.selectpicker').selectpicker('deselectAll');
                $('#sharePostPopup').modal('hide');
                //$('#ignismyModalSharePost').modal('toggle');
            },
            error: function (msg) {
                globalFunctions.onFailure();
            }
        });
    }

    $(window).on("load", function () {



        // clickUserList($('#hdntoUserName').val(), $('#hdntoUserId').val());
        $(".resources").mCustomScrollbar({
            autoHideScrollbar: true,
            autoExpandScrollbar: true,
            scrollbarPosition: "outside",
        });
        $(".sidebar-fixed .list-group").mCustomScrollbar({
            setHeight: "86%",
            autoExpandScrollbar: true,
            autoHideScrollbar: true,
            scrollbarPosition: "outside"
        });
        $(".recent-chat-wrap").mCustomScrollbar({
            autoHideScrollbar: true,
            autoExpandScrollbar: true,
            scrollbarPosition: "outside",
        });
        $(".my-contact").mCustomScrollbar({
            autoHideScrollbar: true,
            autoExpandScrollbar: true,
            scrollbarPosition: "outside",
        });
        $(".my-group").mCustomScrollbar({
            autoHideScrollbar: true,
            autoExpandScrollbar: true,
            scrollbarPosition: "outside",
        });
        $(".chat-list, .group-list").mCustomScrollbar({
               setHeight: "250px",
               autoExpandScrollbar: true,
               scrollbarPosition: "outside",
               autoHideScrollbar: true,
        });


        $(".activity-list").mCustomScrollbar({
            //setHeight: "500px",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true,
        });
        $(".blog-lists").mCustomScrollbar({
            //setHeight: "200px",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true,
        });
        $('.loader-wrapper').fadeOut(500, function () {
            //$('.loader-wrapper').remove();
        });
        $(".notification-list").mCustomScrollbar({
            //setHeight: "76%",
            autoExpandScrollbar: true,
            scrollbarPosition: "inside",
            autoHideScrollbar: true,
        });
        $('.search-container').click(function () {
            $('.search-field').addClass('search-input');
            $('.close-icon').addClass('show-icon');
            $('.filter-title').toggleClass('hide-title');
        });
        $('.close-icon').click(function () {
            $('.close-icon').removeClass('show-icon');
        })
        $('.list-pattern .list-view').click(function () {
            let gridView = $('.grid-list-card .grid-wrapper');
            let listView = $('.grid-list-card .list-wrapper');
            $('.list-pattern .grid-view').removeClass('active');
            $('.list-pattern .list-view').addClass('active');
            gridView.addClass('hide-item ');
            listView.removeClass('hide-item');
        });
        $('.list-pattern .grid-view').click(function () {
            let gridView = $('.grid-list-card .grid-wrapper');
            let listView = $('.grid-list-card .list-wrapper');
            $('.list-pattern .list-view').removeClass('active');
            $('.list-pattern .grid-view').addClass('active');
            gridView.removeClass('hide-item');
            listView.addClass('hide-item');
        });
    });

    function loadAllEmoji(Id) {
        var emoji1 = '';
        var emoji11 = '';
        var emoji12= '';
        var emoji13 = '';
        var emoji14= '';
        var emoji15 = '';
        var emoji16 = '';
        var emoji17 = '';
        var emoji18 = '';
        var emoji2 = '';
        var emoji3 = '';
        var emoji31 = '';
        var emoji4 = '';
        var emoji5 = '';
        var emoji6 = '';
        var emoji7 = '';
        var zodiac = '';
        for (var i = 128512; i <= 128518; i++) {
            emoji1 += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
    }
        for (var i = 128521; i <= 128522; i++) {
                emoji11 += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
        }
        for (var i = 128524; i <= 128524; i++) {
                emoji12 += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
        }
        for (var i = 128526; i <= 128534; i++) {
                emoji13 += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
        }
        for (var i = 128539; i <= 128544; i++) {
                emoji14 += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
        }
        for (var i = 128546; i <= 128547; i++) {
                emoji15 += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
        }
        for (var i = 128549; i <= 128564; i++) {
                emoji16 += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
        }
        for (var i = 128566; i <= 128566; i++) {
            emoji17 += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
        }
        for (var i = 128577; i <= 128580; i++) {
            emoji18 += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
        }
        for (var i = 129296; i <= 129327; i++) {
            emoji2 += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
        }
        for (var i = 9200; i <= 9200; i++) {
            emoji3 += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
        }
        for (var i = 9202; i <= 9203; i++) {
            emoji31 += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
        }
        for (var i = 128070; i <= 128073; i++) {
            emoji4 += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
        }
        for (var i = 128075; i <= 128079; i++) {
            emoji5 += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
        }
        for (var i = 129304; i <= 129311; i++) {
            emoji6 += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
        }
        for (var i = 129488; i <= 129504; i++) {
            emoji7 += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
        }
        for (var i = 9800; i <= 9811; i++) {
            zodiac += `<a href="javascript:void(0)" style="font-size: 18px;" onclick="getEmoji(this)">&#${i};</a>`;
        }
     $('#smiley_' + Id).html(emoji1);
    $('#smiley_' + Id).append(emoji11);
    $('#smiley_' + Id).append(emoji12);
    $('#smiley_' + Id).append(emoji13);
    $('#smiley_' + Id).append(emoji14);
    $('#smiley_' + Id).append(emoji15);
    $('#smiley_' + Id).append(emoji16);
    $('#smiley_' + Id).append(emoji17);
    $('#smiley_' + Id).append(emoji18);
    $('#smiley_' + Id).append(emoji3);
    $('#smiley_' + Id).append(emoji31);
    $('#smiley_' + Id).append(emoji4);
    $('#smiley_' + Id).append(emoji5);

    }
    // function for showing the emoji panel
    function showEmojiPanel(clickVal,Id) {

        $('#EmojiId').val(clickVal);
        $('#EBlogId').val(Id);
         loadAllEmoji(Id);
        $('#' + clickVal).removeAttr("style");
        $('#' + clickVal).attr('style', 'position: absolute;');


    }


    function CallKeyEnter(e, Id, TextId) {

        if (e.which == 32) {
            $("#" + Id).addClass('d-none');
        } else {
            if (e.which == 8) {
                if ($("#" + TextId).val() == "") {
                    $("#" + Id).addClass('d-none');
                }
            } else {
                $("#" + Id).removeClass('d-none');
                if (e.which == 13) {
                    //$("#" + Id).click();
                    //$("#" + TextId).val('').focus();
                    //$("#" + Id).addClass('d-none');
                }
            }
        }

    }

    //function for hiding the emoji panel
    function hideEmojiPanel() {
        var elementId = $('#EmojiId').val();
        $('#'+elementId).attr('style', 'display:none;');
    }

    function ShowSuccessMsg() {
         $('#divSuccessMsg').removeAttr("style");

    }

    //function for embedding the emojis into the text box with the msgs
    function getEmoji(control) {

        var eId = "Comment_" + $('#EBlogId').val();
        var sId = "SComment_" + $('#EBlogId').val();
        $('#' + eId).val( $('#' + eId).val() + control.innerHTML);
        //hideEmojiPanel();
        $('#' + eId).focus();
        $("#" + sId).removeClass('d-none');
    }

    function IsImageFile(fileF) {
        var ImageFiles = JSON.parse($("#AllowedImageExtension").val());
        var regex = new RegExp("(" + ImageFiles.join('|') + ")$");
        if (!regex.test(fileF.toLowerCase())) {
            return false;
        }
        return true;
    }

</script>
<script>
    $(function () {
        $('#txtContactSearch').keyup(function (e) {
            var searchstr = $('#txtContactSearch').val();
            if (searchstr.length > 2) {
                searchContact(searchstr);
            }
            else if ((e.keyCode == 8 || e.keyCode == 46) && searchstr.length < 3) {
                searchstr = "";
                searchContact(searchstr);
            }
        });
    });
    function searchContact(str) {
        $.ajax({
            url: "/SchoolInfo/blog/MyContactSearch",
            data: { 'searchString': str },
            type: "GET",
            success: function (result) {
                console.log(result);

                if(result.length==0){
                        console.log('true');
                    $('#ContactList').html('<h4 class="text-center" style="font-size:14px; !important">@ResourceManager.GetString("Shared.Messages.NoDataFound")</h4>');

                }else{
                    $('#ContactList').html('');
                    var parentDiv = $('#ContactList').closest('div');
                    parentDiv.html('');
                    var div = $('<div class="user-chat-block chat-list" id="ContactList"> </div>');
                for (var itemIndex = 0; itemIndex < result.length; itemIndex++) {
                    var name = result[itemIndex].ToUser; var userId = result[itemIndex].ToUserId;
                    var elementId = userId;
                    //if (elementId.includes("/") == true) {
                    //    elementId = elementId.split("/").join("");
                    //}
                     var className = result[itemIndex].IsOnline ? 'online-user' : "away-user";
                    divChat = '<a class="chat-user '+className+' align-items-center pt-3 pb-3" href="/schoolinfo/chat/chat?Id=' + result[itemIndex].encryptUserId + '&typem=' + result[itemIndex].type + '" style="border-bottom: 1px solid #EDEFF4 !important;" id=' + userId + '>' +
                        '<div class="chat-img-wrap position-relative">' +
                        '<img src="' + result[itemIndex].ToUserProfileImage + '" alt="" class="img-fluid rounded-circle">' +
                        ' </div>' +
                        '<h4 class="text-medium">' +
                        '' + name + ' ' +
                        '  </h4>' +

                        '</a>';
                    //$("#ContactList").mCustomScrollbar("update");
                    //$('#ContactList').append(divChat);

                    //$("#ContactList").mCustomScrollbar({
                    //    setHeight: "250px",
                    //    autoExpandScrollbar: true,
                    //    scrollbarPosition: "outside",
                    //    autoHideScrollbar: true,
                    //});

                    //$(".chat-list").mCustomScrollbar("update");
                    div.append(divChat);

                    }
                    parentDiv.append(div);
                    parentDiv.find('.chat-list').mCustomScrollbar({
                        setHeight: "250px",
                        autoExpandScrollbar: true,
                        scrollbarPosition: "outside",
                        autoHideScrollbar: true,
                    });
                }

                @*for (i = 0; i < arrUsers.length; i++) {

                    if ('@SessionHelper.CurrentSession.FullName' != arrUsers[i].UserName) {
                        var uu = arrUsers[i].UserId;
                        var newtext = uu;
                        if (arrUsers[i].ConnectionId != "0") {
                              $('#divRecent').find('#' + newtext).removeClass('chat-user away-user align-items-center pt-3 pb-3').addClass('chat-user online-user align-items-center pt-3 pb-3');
                            if ($('#ContactList').find('#' + newtext).length > 0) {
                                $('#ContactList').find('#' + newtext).removeAttr('class').addClass('chat-user online-user align-items-center pt-3 pb-3');
                            }

                        }

                    }

                }*@
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

</script>

<script type="text/javascript">
    var page = 1;
    var pagesearch = 1;
    inCallback = false,
    isReachedScrollEnd = false;

    $(function () {
        //$("#txtBlogSearch").click(function () {
        //    SearchBlog();
        //});

        $("#searchId").click(function () {
            SearchBlog();
        });

        $("#txtBlogSearch").keypress(function (e) {
            if (e.which == 13) {
                if ($("#txtBlogSearch").val() == '') {
                    $('#loadMoreBlog').show();
                    $("#txtBlogSearch").val('').focus();
                    loadWallListForGroup();
                    page = 1;
                    pagesearch = 1;
                }
                else {
                 //   $("#txtBlogSearch").click();
                      SearchBlog();
                }

            }
        });

        $(document).mouseup(function (e) {
            var closediv = $("#divautocomplete");
            if (closediv.has(e.target).length == 0) {
                closediv.hide();
            }
        });
    });
    function SearchBlog() {
        var yourInput = $('#txtBlogSearch').val();
        re = /[\\":]/gi;
        var isSplChar = re.test(yourInput);
        if (isSplChar) {
            var no_spl_char = yourInput.replace(/[\\":]/gi, '');
            $(this).val(no_spl_char);
        } else
            if ($('#txtBlogSearch').val().length > 0) {
                $.ajax({
                    url: "/SchoolInfo/Blog/SearchOnMyWall",
                    data: "{'searchString':'" + $('#txtBlogSearch').val() + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        var val = '<ul id="userlist">';

                        if (data && data.length == 0) {
                            val += '<li>' + '<p>@ResourceManager.GetString("Shared.Messages.NoDataFound")</p>' + '</li>'
                            $("#divautocomplete").css({ "overflow": "" });
                            // $('#divautocomplete').removeAttr('overflow');
                        }
                        $.each(data, function (i, item) {
                            var HTML = "";

                            if (item.UserId != null) {
                                var type = "user";
                                var functionDesign = "BindSearchItem(" + "" + item.UserId + "" + "," + "'" + type + "'" + ")";
                                HTML = '<a href="#"  id="' + item.SearchId + '" data-name ="' + item.SearchText + '" data-src = "' + item.SearchImage + '"  onclick="' + functionDesign + '" class="d-flex align-items-center w-100 p-2 border-bottom"><div class="defaultAvatar rounded-circle overflow-hidden mr-3"><img class= "img-fluid" src = ' + item.SearchImage + ' alt = ' + item.SearchText + '/></div><div class="student-info d-flex flex-1 justify-content-between"><h3 class="name m-0 text-medium">' + item.SearchText + '</h3><span class="small text-medium"><b>User</b></span></div></a>';
                            }
                            else if (item.BlogId != null) {
                                var type = "Blog";

                                if (item.SearchImage != '' && item.SearchImage !== 'undefined') {
                                    if (item.SearchImage.includes("avatar") == false) {
                                        item.SearchImage = $('#ReadPath').val() + item.SearchImage;
                                        console.log(item.SearchImage);
                                    }

                                }

                                var functionDesign = "BindSearchItem(" + "" + item.BlogId + "" + "," + "'" + type + "'" + ")";
                                HTML = '<a href="#"  id="' + item.SearchId + '" data-name ="' + item.SearchText + '" data-src = "' + item.SearchImage + '"  onclick="' + functionDesign + '" class="d-flex align-items-center w-100 p-2 border-bottom"><div class="defaultAvatar rounded-circle overflow-hidden mr-3"><img class= "img-fluid" src = ' + item.SearchImage + ' alt = ' + item.SearchText + '/></div><div class="student-info d-flex flex-1 justify-content-between"><h3 class="name m-0 text-medium">' + item.SearchText + '</h3><span class="small text-medium"><b>Blog</b></span></div></a>';
                            }
                            else if (item.SchoolGroupId != null) {
                                var type = "Group";
                                var functionDesign = "BindSearchItem(" + "" + item.SchoolGroupId + "" + "," + "'" + type + "'" + ")";
                                HTML = '<a href="#"  id="' + item.SearchId + '" data-name ="' + item.SearchText + '" data-src = "' + item.SearchImage + '"  onclick="' + functionDesign + '" class="d-flex align-items-center w-100 p-2 border-bottom"><div class="defaultAvatar rounded-circle overflow-hidden mr-3"><img class= "img-fluid" src = ' + item.SearchImage + ' alt = ' + item.SearchText + '/></div><div class="student-info d-flex flex-1 justify-content-between"><h3 class="name m-0 text-medium">' + item.SearchText + '</h3><span class="small text-medium"><b>Group</b></span></div></a>';
                            }
                            val += '<li>' + HTML + '</li>'
                            $("#divautocomplete").css("overflow", "auto");

                        })
                        val += '</ul>'


                        $('#divautocomplete').html(val);
                        $('#divautocomplete').show();

                        //$("#divautocomplete").css({ "overflow": "scroll !important" });
                        $('#userlist li').click(function () {
                            $('#txtBlogSearch').val();
                            $('#divautocomplete').hide();
                        })
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }
    }
    function loadWallData() {


        if ($('#txtBlogSearch').val() == '') {
            var loadMoreRowsUrl = "/SchoolInfo/Blog/GetProjects";
            if (page > -1 && !inCallback) {
                inCallback = true;
                page++;
                $.ajax({
                    type: 'GET',
                    url: loadMoreRowsUrl,
                    data: { 'pageNum': page, 'groupId': 0 },
                    success: function (data, textstatus) {
                        if (data != '') {
                            $("#myWallList").append(data);
                        }
                        else {
                            page = -1;
                        }

                        inCallback = false;

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        }
        else {
            loadWallDataOnSearch($('#SearchTypeId').val(), $('#SearchType').val());
        }

    }
    function loadWallDataOnSearch(searchTypeid1,searchTypeName1) {
        var loadMoreRowsUrl =  "/SchoolInfo/Blog/GetWallModelOnSearchPaging";
        if (pagesearch > -1 && !inCallback) {
            inCallback = true;
            pagesearch++;
            $.ajax({
                type: 'GET',
                url: loadMoreRowsUrl,
                data: {'id': searchTypeid1 , 'type': searchTypeName1,'pageNum': pagesearch},
                success: function (data, textstatus) {
                    if (data != '') {
                        $("#myWallList").append(data);
                    }
                    else {
                        pagesearch = -1;
                    }

                    inCallback = false;

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
    }


</script>




@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/js/fileinput.min.js")


@Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js")
@Scripts.Render("https://code.jquery.com/ui/1.12.1/jquery-ui.js")




<!-- SCRIPTS Section ends -->
