﻿@model Phoenix.VLE.Web.Models.DivisionDetails
@using Phoenix.Common.Localization
@using Phoenix.VLE.Web.Areas.SMS.Model.Common
@using Phoenix.Common.Helpers.Extensions

@{
    var selectText = ResourceManager.GetString("Shared.Labels.Select");
}



<div class="card column-padding">
    <div class="card-body">
        <div class="py-4">
            @using (Ajax.BeginForm("SaveGradeDetails", "Division", new AjaxOptions
            { OnFailure = "globalFunctions.onFailure" }, new
            {
                @area = "SchoolInfo",
                id = "frmAddEditDivision"
                ,
                @class = "form-horizontal"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.DivisionId);
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="mb-md-0 md-form md-outline">
                            @Html.TextBox("DivisionName", string.Empty, new { @class = "form-control", id = "DivisionName" })
                            @Html.LocalizedLabel("active", "School.Division.DivisionName")
                            @Html.ValidationMessageFor(x => x.DivisionName)
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="mb-md-0 md-form md-outline ">
                            @Html.DropDownList("GradeList",
                           (SelectList)ViewBag.GradeList,
                           new { multiple = "multiple", @class = "selectpicker", @id = "ddlRuleDeletionGradeId" })
                            @Html.LocalizedLabel("active", "School.Division.GradeList")
                            @Html.ValidationMessageFor(x => x.GradeList)

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="mb-md-0 d-flex justify-content-end mb-0 md-form md-outline">
                            <button class="btn btn-outline-primary m-0 rounded-4x mr-4" type="button" onclick="DivisionConfiguration.SaveGradeContent()">@ResourceManager.GetString("Shared.Buttons.Save")</button>
                            <button class="btn btn-outline-primary m-0 rounded-4x" type="button" onclick="DivisionConfiguration.ClearGradeContent()">@ResourceManager.GetString("Shared.Buttons.Reset")</button>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>




@*<script>
    $(document).ready(function () {
        $('#ddlRuleDeletionGradeId').selectpicker('refresh');
    });
</script>*@