﻿@using Phoenix.Common.Localization
@using Phoenix.VLE.Web.Areas.SMS.Model.Common
@using Phoenix.Common.Helpers.Extensions
@model IEnumerable<Phoenix.VLE.Web.Models.DivisionDetails>
@{
    var selectText = ResourceManager.GetString("Shared.Labels.Select");
}

@{
    ViewBag.Title = "Division";

}
<div class="row mb-3">
    <div class="col-lg-12 col-md-12 col-12" id="divAddEditDivision">
        @{Html.RenderAction("AddEditDivision", "Division");}
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-12 " id="Divisionform">
        <div class="row mt-2" id="showTable">
            @Html.Partial("_GetDivisionDetails", Model)
        </div>
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
}


@section scripts
{

    <script language="javascript">
        translatedResources.SuccessMessage = '@ResourceManager.GetString("School.Division.SuccessMessage")';
        translatedResources.UpdateMessage = '@ResourceManager.GetString("School.Division.UpdateMessage")';

    </script>
    <script src="~/Content/js/custom/Division/Division.js"></script>
    <script type="text/javascript">
    DivisionConfiguration.DivisionConfigurationArray = @Html.Raw(Json.Encode(Model));
   $(document).ready(function () {
        common.init();
    });
    </script>
}
