﻿@using Phoenix.Models
@model List<GroupMemberMapping>
<ul id="assignedMembers">

    @foreach (var item in Model)
    {
    <li data-search-text="@item.MemberName">
        <div class="custom-control custom-checkbox ml-1">
            <input type="checkbox" class="custom-control-input" id="showchecked_Assign_@item.MemberId" title="test" value="@item.MemberId">
            <label class="custom-control-label to-sentence-case" for="showchecked_Assign_@item.MemberId">
                @item.MemberName
                @if (item.IsContribute)
                {
                    <i class="fas fa-exchange-alt ml-2"></i>
                }
                else if (item.IsManager)
                {
                    <i class="fas fa-user-tie ml-2"></i>
                }
                else if (item.IsViewOnly)
                {
                    <i class="fas fa-eye ml-2"></i>
                }
            </label>
        </div>
        
        
            
        
    </li >
    }
</ul>

