﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.SchoolGroup>
@using Phoenix.Common.Localization
@{
    ViewData["Title"] = ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupId");
    var rnd = DateTime.Now.Ticks.ToString();
}

<div class="container-fluid mt-2 mb-3 clearfix position-relative teachers-groups">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card min-height">
                <div class="card-body">
                    <div class="task-search column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-12">
                                <div class="search-wrapper">
                                    <i class="fas fa-search active"></i>
                                    <input type="text" class="search-field" placeholder="@ResourceManager.GetString("SchoolGroup.SchoolGroup.SearchGroup")">
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-12 text-right">
                                <a href="@Url.Action("InitAddEditSchoolGroupForm","SchoolGroup",new { area="SchoolGroup"})" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light">Creat New</a>
                            </div>
                        </div>
                    </div>

                    <div class="add-task column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                <h2 class="sub-heading">
                                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        All
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right z-depth-1 language-dropdown">
                                        <a class="dropdown-item" href="#">English</a>
                                        <a class="dropdown-item" href="#">Arabic</a>
                                    </div>
                                </h2>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 text-lg-right text-md-right text-left">
                                <div class="task-sorting">
                                    <span>@ResourceManager.GetString("Shared.Labels.SortBy") </span>
                                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Date
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right z-depth-1 language-dropdown">
                                        <a class="dropdown-item" href="#">option 1</a>
                                        <a class="dropdown-item" href="#">option 2</a>
                                    </div>
                                    <div class="toggle-library d-inline-block ml-4">
                                        <a href="javascript:void(0)" id="grid"><i class="fas fa-th"></i></a>
                                        <a href="javascript:void(0)" id="list"><i class="fas fa-list"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="row">
                            <div class="col-lg-12 col-12"><h4 class="sub-heading"><strong>Groups i can manage</strong></h4></div>
                        </div>*@
                    <div class="user-groups column-padding pt-3 pb-3">
                            @Html.Partial("_SchoolGroups", Model.PageRecords)
                            <nav aria-label="Page navigation">
                                <ul class="pagination pg-blue">
                                    @if (Model.PageIndex == 1)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link" href="/SchoolGroup/SchoolGroup?pageIndex=@(Model.PageIndex - 1)">Previous</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="/SchoolGroup/SchoolGroup?pageIndex=@(Model.PageIndex - 1)">Previous</a>
                                        </li>
                                    }
                                    @*<li class="page-item"><a class="page-link" href="/SchoolGroup/SchoolGroup?pageIndex=1">1</a></li>
                                    <li class="page-item active">
                                        <a class="page-link" href="/SchoolGroup/SchoolGroup?pageIndex=2">
                                            2
                                            <span class="sr-only">(current)</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="/SchoolGroup/SchoolGroup?pageIndex=3">3</a></li>*@
                                    <li class="page-item">
                                        <a class="page-link" href="/SchoolGroup/SchoolGroup?pageIndex=@(Model.PageIndex + 1)">Next</a>
                                    </li>
                                </ul>
                            </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.SchoolGroupName = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupName")';
        translatedResources.SchoolGroupDesc = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupDescription")';
        translatedResources.Subject= '@ResourceManager.GetString("SchoolGroup.SchoolGroup.Subject")';
        translatedResources.Grade = '@ResourceManager.GetString("SchoolGroup.SchoolGroup.Grade")';
        translatedResources.Stream= '@ResourceManager.GetString("SchoolGroup.SchoolGroup.Stream")';
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/SchoolGroup/SchoolGroups.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
