﻿@model Phoenix.VLE.Web.ViewModels.Pagination<Phoenix.Models.SchoolGroup>
@using Phoenix.Common.Helpers;
@using Phoenix.Common.Localization
@{
    ViewData["Title"] = ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolGroupId");
}




<div class="container-fluid mt-2 mb-3 clearfix">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <div class="card min-height">
                <div class="card-body">
                    <h3 class="card-title">@ResourceManager.GetString("SchoolGroup.SchoolGroup.SchoolPageSectionTitle")</h3>
                    <!-- user groups content start -->
                    <div class="user-groups column-padding pt-3 pb-3">
                        @Html.Partial("_SchoolGroups", Model.PageRecords)
                        <div class="row">
                            <!-- grp 1 -->
                            <nav aria-label="Page navigation">
                                <ul class="pagination pg-blue">
                                    @if (Model.PageIndex == 1)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link" href="/SchoolGroup/SchoolGroup?pageIndex=@(Model.PageIndex - 1)">@ResourceManager.GetString("Shared.Buttons.Previous")</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="/SchoolGroup/SchoolGroup?pageIndex=@(Model.PageIndex - 1)">@ResourceManager.GetString("Shared.Buttons.Previous")</a>
                                        </li>
                                    }
                                   
                                    <li class="page-item">
                                        <a class="page-link" href="/SchoolGroup/SchoolGroup?pageIndex=@(Model.PageIndex + 1)">@ResourceManager.GetString("Shared.Buttons.Next")</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- grp 8 -->
                        </div>
                    </div>
                    <!-- user groups content end -->
                </div>
            </div>
        </div>
    </div>
</div>
