﻿@model Phoenix.VLE.Web.EditModels.QuizQuestionsEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers
@{
    ViewBag.Title = ResourceManager.GetString("Quiz.QuizQuestion.AddQuestion");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-quiz.svg");
    var rnd = DateTime.Now.Ticks.ToString();
    var quizImage = !string.IsNullOrEmpty(Model.QuizImagePath) ? PhoenixConfiguration.Instance.ReadFilePath + Model.QuizImagePath : "";
}
@*NEW IMPLEMENTATION*@
<div class="row">
    <div class="col-lg-6 col-md-6 col-12">
        <div class="card">
            <div class="card-body">
                @using (Ajax.BeginForm("SaveQuizQuestion", "QuizQuestions", new AjaxOptions { OnFailure = "quizquestions.onFailure", OnSuccess = "quizquestions.onSaveSuccess" }, new { id = "frmAddQuizQuestion", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.QuizQuestionId)
                    @Html.HiddenFor(x => x.QuizId)
                    @Html.HiddenFor(x => x.IsAddMode)
                    @Html.HiddenFor(x => x.QuizName)
                    @Html.HiddenFor(x => x.SubjectIds)
                    @Html.Hidden("AnswersCount", 0)
                    <h3 class="card-title">@ResourceManager.GetString("Quiz.Quiz.Form") :@Model.QuizName</h3>
                    <div class="column-padding pt-3">
                        <div class="row">
                            <div class="col-12">
                                <div class="md-form md-outline">
                                    @Html.DropDownListFor(m => m.QuestionTypeId, new SelectList(ViewBag.QuestionType, "ItemId", "ItemName"), ResourceManager.GetString("Shared.Labels.Select"), new { @class = "selectpicker" })
                                    <label for="QuestionTypeId" class="active">@ResourceManager.GetString("Quiz.QuizQuestion.QuestionType") <span class="text-danger">*</span></label>
                                    @Html.ValidationMessageFor(x => x.QuestionTypeId)
                                </div>
                            </div>
                        </div>

                        @*<div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="md-form md-outline">
                                        @Html.TextBoxFor(x => x.Marks, new { @class = "form-control", @type = "number", @min = "1" })
                                        @Html.LocalizedLabel("active", "Quiz.QuizQuestion.Marks")
                                        @Html.ValidationMessageFor(x => x.Marks)
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="md-form md-outline mb-0" id="fibSelector">
                                    </div>
                                </div>
                            </div>*@

                        @*<div class="row">
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox custom-control-inline mb-3">
                                        @Html.CheckBoxFor(x => x.IsRequired, new { @class = "custom-control-input" })
                                        <label class="custom-control-label ml-2" for="IsRequired">@ResourceManager.GetString("Quiz.QuizQuestion.IsRequired")</label>
                                    </div>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-12 md-outline md-form">
                                <label for="QuestionText" class="ml-2">@ResourceManager.GetString("Quiz.QuizQuestion.QuestionText") <span class="text-danger">*</span></label>
                                <textarea class="form-control" cols="20" data-val="true"
                                          data-val-required="Mandatory field" id="QuestionText" name="QuestionText"
                                          placeholder="@ResourceManager.GetString("Quiz.QuizQuestion.QuestionText")" rows="3">
                                                    @Html.Raw(Model.QuestionText)
                                        </textarea>
                                <span class='field-validation-error d-inline-block'><span id='QuestionTextError' class=''></span></span>
                                <span class="sub-heading active" id="fibMessage"></span>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-lg-11 col-md-10 col-12">
                                    <div class="col-lg-4 col-md-3 col-12">
                                        <div class="audio-recorder">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-12">
                                                    <button onclick="startRecording(this)" class="btn-start-record rounded-circle">
                                                        <i class="fas fa-microphone"></i>
                                                    </button>
                                                    <button onclick="stopRecording(this)" class="btn-stop-record rounded-circle" disabled>
                                                        <i class="fas fa-stop"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        @*<div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <ul id="recordingslist" class="align-items-center d-flex flex-wrap mt-3"></ul>
                                </div>
                            </div>*@
                        <div class="row mb-4">
                            <div class="col-12">
                                <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#fileUploadModal">
                                    <i class="fas fa-plus"></i>
                                    <span class="font-small text-medium">@ResourceManager.GetString("Shared.Labels.AddFile")</span>
                                </button>
                                <div id="quizQuestionFileList">
                                    @if (Model.lstDocuments.Any())
                                    {
                                        @Html.Partial("_QuizQuestionFileList", Model.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : Model.lstDocuments)
                                    }
                                </div>
                            </div>
                        </div>

                        @*<div class="row md-outline mb-3">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="md-form md-outline">
                                        @Html.DropDownListFor(x => x.CourseIds, new MultiSelectList(ViewBag.CourseList, "Value", "Text", Model.CourseId), new { @class = "selectpicker ddlSubject", @name = "CourseId", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true" })
                                        <label class="active select-label">@ResourceManager.GetString("Quiz.QuizQuestion.CourseId")</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <button class="btn btn-primary m-0" type="button" onclick="quizquestions.loadTopicSubtopic($(this));">@ResourceManager.GetString("Quiz.QuizQuestion.CurriculumTag")</button>
                                </div>
                            </div>*@
                        @*<div class="row">
                                <div class="row mb-3 mt-3" id="selectedObjectiveDetails">
                                    @if (Model.lstObjective.Any())
                                    {
                                        @Html.Partial("_ShowSelectedObjective", Model.lstObjective)
                                    }
                                </div>
                            </div>*@
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
        @Html.Partial("_QuestionAnswers")
    </div>
</div>
<div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="fileUploadPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <span>Add Attachment</span>
                <button type="button" class="close py-0 px-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12 mb-3">
                        <div class="uploaderWidget quizQuestionUploader">
                            <input id="dropArea" name="dropArea" type="file" multiple>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*END NEW IMPLEMENTATION*@
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_ValidationJSPartial")
}
@section scripts
{
    <script language="javascript">
          translatedResources.Response= '@ResourceManager.GetString("Quiz.QuizQuestion.Response")';
        translatedResources.ResponseValidation= '@ResourceManager.GetString("Quiz.QuizQuestion.ResponseValidation")';
        translatedResources.EnterAnswer = '@ResourceManager.GetString("Quiz.QuizQuestion.EnterAnswer")';
        translatedResources.FIBCount= '@ResourceManager.GetString("Quiz.QuizQuestion.FIBCount")';
        translatedResources.MarkAsAnswer= '@ResourceManager.GetString("Quiz.QuizQuestion.MarkAsAnswer")';
        translatedResources.EnterAnserValidation= '@ResourceManager.GetString("Quiz.QuizQuestion.EnterAnserValidation")';
        translatedResources.MarkAnswerValidation= '@ResourceManager.GetString("Quiz.QuizQuestion.MarkAnswerValidation")';
        translatedResources.UploadSuccess = '@ResourceManager.GetString("Shared.Labels.UploadSuccess")';
        translatedResources.CorrectAnswer= '@ResourceManager.GetString("Quiz.QuizQuestion.CorrectAnswer")';
        translatedResources.DeletedSuccessfully = '@ResourceManager.GetString("Quiz.QuizQuestion.DeletedSuccessfully")';
        translatedResources.DeleteObjectiveSuccess = '@ResourceManager.GetString("Quiz.QuizQuestion.RemoveTaggedCurriculums")'
        translatedResources.SelectSubjectError= '@ResourceManager.GetString("Quiz.QuizQuestion.SelectSubjectError")';
        translatedResources.MoreThanZero = '@ResourceManager.GetString("Shared.Messages.MoreThanZero")';
        translatedResources.Mandatory = '@ResourceManager.GetString("Shared.Messages.Mandatory")';
        translatedResources.FIBMessage = '@ResourceManager.GetString("Quiz.QuizQuestion.FIBMessage")';
        translatedResources.UploadFile = '@ResourceManager.GetString("Shared.Labels.UploadFile")';
        translatedResources.CheckImage = '@ResourceManager.GetString("Quiz.QuizQuestion.CheckImage")';
        translatedResources.FileUploaded = '@ResourceManager.GetString("Shared.Messages.FileUploaded")';
        translatedResources.multipleQuestion = '@ResourceManager.GetString("Quiz.QuizQuestion.multipleQuestion")';
        translatedResources.singleQuestion = '@ResourceManager.GetString("Quiz.QuizQuestion.singleQuestion")';
    </script>
    <script src="@Url.Content("/Content/js/ckeditor/ckeditor.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.jsonloader.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Forms/FormsQuestion.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/js/addons/recorder.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/js/addons/audio-recorder-config.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>
         $('#breadcrumbActions').html(`<div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0 mr-2" id="btnBack"><span class="text-semibold">@ResourceManager.GetString("Shared.Buttons.Cancel")</span></button>
                        <button type="button" id="btn-submit" class="btn btn-primary m-0">@ResourceManager.GetString("Shared.Buttons.Save")</button>
                    </div>`);
        $(document).on('click', '#btnBack', function () {
            location.href = "/Forms/FormsQuestions";
        });
          $("#dropArea").fileinput({
                language:'@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()',
                title: '@ResourceManager.GetString("Shared.Labels.BrowseFile")',
                theme: "fas",
                showUpload: true,
                showCaption: false,
                showMultipleNames: false,
              uploadUrl: "/Forms/FormsQuestions/UploadQuizQuestionFiles",
              fileActionSettings: fileInputControlSettings.fileActionSettings,
                //uploadExtraData: function () {
                //    return {
                //        assignmentId: $("#AssignmentId").val(),
                //    };
                //},
                fileActionSettings: fileInputControlSettings.fileActionSettings,
                allowedFileExtensions: @Html.Raw(Json.Encode(ViewBag.FileExtension)),
                uploadAsync: true,
              maxFileSize: translatedResources.fileSizeAllow,
              browseClass: "btn btn-outline-primary rounded z-depth-0 m-0 p-0 mt-3 btn-browse",
              removeClass: "btn btn-sm m-0 z-depth-0 d-none",
              uploadClass: "btn btn-primary rounded z-depth-0 m-0 p-0 mt-3 btn-upload",
              cancelClass: "btn btn-default float-right rounded z-depth-0 m-0 p-0 mt-3 btn-cancel",
                overwriteInitial: false,
                //previewFileIcon: '<i class="fas fa-file"></i>',
              initialPreviewAsData: false, // defaults markup
              initialPreviewConfig: [{
                  frameAttr: {
                      title: 'My Custom Title',
                  }
              }],
              preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
              previewFileIconSettings: fileInputControlSettings.previewFileIconSettings,
              previewSettings: fileInputControlSettings.previewSettings,
              previewFileExtSettings: fileInputControlSettings.previewFileExtSettings,
              msgSizeTooLarge: 'Total File size (<b>{size}</b>) exceeds maximum allowed upload size of <b>{maxSize}</b>. Please retry your upload!'
          }).off('filebatchselected').on('filebatchselected', function (event, files) {
              var size = 0;
              $.each(files, function (ind, val) {
                  //console.log($(this).attr('size'));
                  size = size + $(this).attr('size');
              });

              var maxFileSize = $(this).data().fileinput.maxFileSize,
                  msg = $(this).data().fileinput.msgSizeTooLarge,
                  formatSize = (s) => {
                      i = Math.floor(Math.log(s) / Math.log(1024));
                      sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
                      out = (s / Math.pow(1024, i)).toFixed(2) * 1 + ' ' + sizes[i];
                      return out;
                  };

              if ((size / 1024) > maxFileSize) {
                  msg = msg.replace('{name}', 'all files');
                  msg = msg.replace('{size}', formatSize(size));
                  msg = msg.replace('{maxSize}', formatSize(maxFileSize * 1024 /* Convert KB to Bytes */));
                  //$('li[data-thumb-id="thumb-postedFile-0"]').html(msg);
                  if (files.length > 1) {
                      $(".kv-fileinput-error.file-error-message").html('');
                      $(".kv-fileinput-error.file-error-message").append(`<button type="button" class="close kv-error-close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button><ul><li data-thumb-id="thumb-error" data-file-id="thumb-error">`+ msg + `</li></ul>`).attr("style", "");
                      $(".close.kv-error-close").on('click', function (e) {
                          $(".kv-fileinput-error.file-error-message").attr("style", "display:none").html('');
                          //$(".fileinput-upload").removeClass('d-none');
                      });
                  }
                  else {
                      $(".kv-fileinput-error.file-error-message").html('');
                      $(".kv-fileinput-error.file-error-message").append(`<button type="button" class="close kv-error-close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button><ul><li data-thumb-id="thumb-error" data-file-id="thumb-error">`+ msg + `</li></ul>`).attr("style", "");
                      $(".close.kv-error-close").on('click', function (e) {
                          $(".kv-fileinput-error.file-error-message").attr("style", "display:none").html('');
                          //$(".fileinput-upload").removeClass('d-none');
                      });
                  }

                  $(".fileinput-upload").attr('disabled', true);
              }
          }).off('fileuploaded').on('fileuploaded', function (event, data, previewId, index) {
             $("#fileUploadModal").modal('hide');
             validateUploadFiles(data);
              if (index == 0) {
                    globalFunctions.showSuccessMessage("@ResourceManager.GetString("Shared.Messages.FileUploaded")");
                }
            });
        function validateUploadFiles(data) {
            var filesSize = 0;
            for (var i = 0; i < data.files.length; i++) {
                filesSize = filesSize + data.files[i].size;
            }
            if ((filesSize / 1024 / 1024) < 200) {
                //globalFunctions.showSuccessMessage(translatedResources.UploadSuccess);
                $.ajax({
                    type: "GET",
                    url: "/Forms/FormsQuestions/GetuploadedFileDetails",
                    data: {
                        id: $("#QuizQuestionId").val(),
                        isTask: false
                    },
                    success: function (response) {
                        //$('.file-upload-widget').animate({
                        //    right: '-300'
                        //});
                        $("#quizQuestionFileList").html('');
                        $("#quizQuestionFileList").append(response);
                        //$('#lightgallery').lightGallery({
                        //    selector: '.galleryImg',
                        //    share: false
                        //});
                        $(".quizQuestionUploader .fileinput-remove-button").click();
                    },
                    error: function (error) {
                        globalFunctions.onFailure();
                    }
                });
                $("#myModal").modal('hide');
            }
            else {
                globalFunctions.showErrorMessage(translatedResources.UploadLimit);
                $('li[data-file-id="' + data.id + '"]').html(translatedResources.UploadLimit);
                return false;
            }

        }
        //$(document).on('click', '#btnBack', function () {
        //    history.back();
        //});
    </script>
}