﻿@model Phoenix.VLE.Web.EditModels.QuizQuestionsEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers

@{
    ViewBag.Title = ResourceManager.GetString("Quiz.QuizQuestion.AddQuestion");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-quiz.svg");
    var rnd = DateTime.Now.Ticks.ToString();
    var img = PhoenixConfiguration.Instance.ReadFilePath + Model.QuestionImagePath;
    var quizImage = !string.IsNullOrEmpty(Model.QuizImagePath) ? PhoenixConfiguration.Instance.ReadFilePath + Model.QuizImagePath : "";
}
@*NEW IMPLEMENT DESIGN*@
@using (Ajax.BeginForm("SaveQuizQuestion", "QuizQuestions", new AjaxOptions { OnFailure = "quizquestions.onFailure", OnSuccess = "quizquestions.onSaveSuccess" }, new { id = "frmAddQuizQuestion", @class = "form-horizontal" }))
{
    var firstItem = Model.Answers.FirstOrDefault();
    @Html.HiddenFor(m => m.QuestionImagePath)
    var next = 1;
    <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.QuizQuestionId)
                    @Html.HiddenFor(x => x.QuizId)
                    @Html.HiddenFor(x => x.IsAddMode)
                    @Html.HiddenFor(x => x.QuizName)
                    @Html.HiddenFor(x => x.SubjectIds)
                    @Html.Hidden("AnswersCount", Model.Answers.Count())
                    <h3 class="card-title">@ResourceManager.GetString("Quiz.Quiz.Quiz") : @Model.QuizName</h3>
                    <div class="column-padding pt-3">
                        <div class="row">
                            <div class="col-12">
                                <div class="md-form md-outline">
                                    @Html.DropDownListFor(m => m.QuestionTypeId, new SelectList(ViewBag.QuestionType, "ItemId", "ItemName"), ResourceManager.GetString("Shared.Labels.Select"), new { @class = "selectpicker" })
                                    @Html.ValidationMessageFor(x => x.QuestionTypeId)
                                    <label class="active select-label">@ResourceManager.GetString("Quiz.QuizQuestion.QuestionType")<span class="text-danger">*</span></label>
                                </div>
                            </div>
                        </div>

                        @*<div class="row">
                            <div class="col-md-6 col-12">
                                <div class="md-form md-outline">
                                    @Html.TextBoxFor(x => x.Marks, new { @class = "form-control", @type = "number", @min = "0" })
                                    @Html.LocalizedLabel("active", "Quiz.QuizQuestion.Marks")
                                    @Html.ValidationMessageFor(x => x.Marks)
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                @if (Model.QuestionTypeId == 6)
                                {
                                    <div class="md-form md-outline mb-0" id="fibSelector">
                                        <div class="element clearfix" id="div_1">
                                            <div class="quiz-answer-field w-100">
                                                <input type="text" placeholder="@ResourceManager.GetString("Quiz.QuizQuestion.FIBCount")" id="fibCount" class="valid w-100 form-control mb-0" aria-invalid="false" value="@Model.Answers.Count()">
                                                <span class='field-validation-error d-inline-block'><span id='fibError' class=''></span></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="md-form md-outline" id="fibSelector">
                                    </div>
                                }
                            </div>
                        </div>*@

                        @*<div class="row">
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox custom-control-inline mb-3">
                                        @Html.CheckBoxFor(x => x.IsRequired, new { @class = "custom-control-input" })
                                        <label class="custom-control-label ml-2" for="IsRequired">@ResourceManager.GetString("Quiz.QuizQuestion.IsRequired")</label>
                                    </div>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-12 md-outline md-form">
                                <label for="QuestionText" class="ml-2">@ResourceManager.GetString("Quiz.QuizQuestion.QuestionText") <span class="text-danger">*</span></label>
                                <textarea class="form-control" cols="20" data-val="true"
                                          data-val-required="Mandatory field" id="QuestionText" name="QuestionText"
                                          placeholder="@ResourceManager.GetString("Quiz.QuizQuestion.QuestionText")" rows="3">
                                                    @Html.Raw(Model.QuestionText)
                                        </textarea>
                                @*<label for="QuestionText" class="active">@ResourceManager.GetString("Quiz.QuizQuestion.QuestionText")</label>*@
                                <span class='field-validation-error d-inline-block'><span id='QuestionTextError' class=''></span></span>
                                @if (Model.QuestionTypeId == 6)
                                {
                                    <span class="sub-heading active" id="fibMessage">
                                        @ResourceManager.GetString("Quiz.QuizQuestion.FIBMessage")
                                    </span>
                                }
                                else
                                {
                                    <span class="sub-heading active" id="fibMessage"></span>
                                }
                                @*<label class="sub-heading text-black-50 text-medium" id="fibMessage"></label>*@
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-lg-11 col-md-10 col-12">
                                    <div class="col-lg-4 col-md-3 col-12">
                                        <div class="audio-recorder">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-12">
                                                    <button onclick="startRecording(this)" class="btn-start-record rounded-circle">
                                                        <i class="fas fa-microphone"></i>
                                                    </button>
                                                    <button onclick="stopRecording(this)" class="btn-stop-record rounded-circle" disabled>
                                                        <i class="fas fa-stop"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        @*<div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <ul id="recordingslist" class="align-items-center d-flex flex-wrap mt-3"></ul>
                                </div>
                            </div>*@
                        @*@if (Model.lstDocuments.Any())
                            {
                                <ul id="existRecordingslist" class="align-items-center d-flex flex-wrap mt-0">

                                    @foreach (var item in Model.lstDocuments)
                                    {
                                        if (item.FileName.ToLower().Contains(".wav"))
                                        {
                                            var recordingFilePath = PhoenixConfiguration.Instance.ReadFilePath + item.UploadedFileName;
                                            <li id="audio_@item.QuizQuestionFileId" class="align-items-center d-flex mb-2">
                                                <audio controls="" src="@recordingFilePath"></audio>
                                                <a class="deleteRecording mx-2" id="DeleteQuizQuestionRecording" data-quizquestionid="@item.QuizQuestionId" data-fileid="@item.QuizQuestionFileId"><i class="far fa-trash-alt"></i></a>
                                            </li>
                                        }
                                    }
                                </ul>
                            }*@
                        <div class="row mb-4">
                            <div class="col-12">
                                <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#fileUploadModal">
                                    <i class="fas fa-plus"></i>
                                    <span class="font-small text-medium">@ResourceManager.GetString("Shared.Labels.AddFile")</span>
                                </button>
                                <div id="quizQuestionFileList">
                                    @if (Model.lstDocuments.Any())
                                    {
                                        @Html.Partial("_QuizQuestionFileList", Model.lstDocuments == null ? new List<Phoenix.Models.QuizQuestionFiles>() : Model.lstDocuments)
                                    }
                                </div>
                            </div>
                        </div>
                        @*<div class="row md-outline mb-3">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="md-form md-outline">
                                        @Html.DropDownListFor(x => x.CourseIds, new MultiSelectList(ViewBag.CourseList, "Value", "Text", Model.CourseId), new { @class = "selectpicker ddlSubject", @name = "CourseId", @multiple = "multiple", @data_live_search = "true", @data_actions_box = "true" })
                                        <label class="active select-label">@ResourceManager.GetString("Quiz.QuizQuestion.CourseId")</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <button class="btn btn-primary m-0" type="button" onclick="quizquestions.loadTopicSubtopic($(this));">@ResourceManager.GetString("Quiz.QuizQuestion.CurriculumTag")</button>
                                </div>
                            </div>*@
                        @*<div class="row">
                                <div class="row mb-3 mt-3" id="selectedObjectiveDetails">
                                    @if (Model.lstObjective.Any())
                                    {
                                        @Html.Partial("_ShowSelectedObjective", Model.lstObjective)
                                    }
                                </div>
                            </div>*@
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@ResourceManager.GetString("Quiz.QuizQuestion.AddAnswer")</h3>
                    <div class="column-padding pt-3">
                        <div class="row mb-4">
                            <div class="col-12 md-outline">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12" id="answerSection">
                                        @foreach (var item in Model.Answers)
                                        {
                                            if (Model.QuestionTypeId == 6)
                                            {
                                                var options = "blank_space_" + @item.SortOrder;
                                                <div class='fibelement element mb-3' id='@("fibDiv_"+next)'>
                                                    <div class="quiz-answer-field">
                                                        <span class="font-small text-medium">@options</span>
                                                        <input type="text" class="responseInput form-control" placeholder="Answer for @options" id="fibTxt_@item.SortOrder" value="@item.AnswerText">
                                                    </div>
                                                </div>
                                            }
                                            if (item.Equals(firstItem))
                                            {

                                                if (Model.QuestionTypeId == 1 || Model.QuestionTypeId == 2)
                                                {
                                                    <div class='element clearfix' id='@("div_"+next)'>
                                                        <div class="quiz-answer-field row mb-4">
                                                            <div class="col-md-7 col-12">
                                                                <div class="md-form md-outline mb-0">
                                                                    <input type='text' id='@("txt_"+next)' class="responseInput form-control mb-0" value="@item.AnswerText">
                                                                    <label for='@("txt_"+next)'>@ResourceManager.GetString("Quiz.QuizQuestion.EnterAnswer")</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5 col-12 d-flex justify-content-between align-items-center">
                                                                @*<div class="custom-control custom-radio custom-control-inline mr-0">
                                                                    <input type="radio" class="custom-control-input" id="@("chkbox_"+next)" @(item.IsCorrectAnswer ? "checked" : "") name="single1">
                                                                    <label class="custom-control-label" for="@("chkbox_"+next)">@ResourceManager.GetString("Quiz.QuizQuestion.MarkAsAnswer")</label>
                                                                </div>*@
                                                                <button class="add btn btn-outline-primary m-0" type="button"><i class="fas fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else if (Model.QuestionTypeId == 3)
                                                {
                                                    <div class='element clearfix' id='@("div_"+next)'>
                                                        <div class="quiz-answer-field row mb-4">
                                                            <div class="col-md-7 col-12">
                                                                <div class="md-form md-outline mb-0">
                                                                    <input type='text' id='@("txt_"+next)' class="responseInput form-control mb-0" value="@item.AnswerText">
                                                                    <label>@ResourceManager.GetString("Quiz.QuizQuestion.EnterAnswer")</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5 col-12 d-flex justify-content-between align-items-center">
                                                                @*<div class="custom-control custom-checkbox custom-control-inline mr-0">
                                                                    <input type="checkbox" class="custom-control-input" id="@("chkbox_"+next)" @(item.IsCorrectAnswer ? "checked" : "")>
                                                                    <label class="custom-control-label" for="@("chkbox_"+next)">@ResourceManager.GetString("Quiz.QuizQuestion.MarkAsAnswer")</label>
                                                                </div>*@
                                                                <button class="add btn btn-outline-primary m-0" type="button"><i class="fas fa-plus"></i></button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                }
                                                else if (Model.QuestionTypeId == 8)
                                                {
                                                    string FileName = PhoenixConfiguration.Instance.ReadFilePath + Constants.QuizMTPQuestion + item.ResourcePath;
                                                    <div class='element clearfix mt-3' id='@("div_"+next)'>
                                                        <div class="quiz-answer-field mb-3">
                                                            <div class="row">
                                                                <div class="col-md-7 col-12">
                                                                    <div class="md-form md-outline">
                                                                        <input type='text' id='@("txt_"+next)' class="responseInput form-control mb-3" value="@item.AnswerText">
                                                                        <label for='@("txt_"+next)'>@ResourceManager.GetString("Quiz.QuizQuestion.EnterAnswer")</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5 col-12">
                                                                    <button class="add btn btn-outline-primary m-0" type="button"><i class="fas fa-plus"></i></button>
                                                                </div>
                                                            </div>
                                                            @if (!String.IsNullOrEmpty(item.ResourcePath))
                                                            {
                                                                <div class="quiz-ans-img bg-light rounded-2x" id='@("imageGrid"+next)'>
                                                                    <img src="@FileName" id='@("editResource" + next)' /><a href="javascript:void(0)" onclick="toggleFileController($(this),@next,@item.QuizAnswerId)"><i class="fas fa-trash"></i></a>
                                                                </div>
                                                                <input type='text' class='d-none' id='@("MTPAnswer_" + next)' value="@item.ResourcePath">
                                                                <div class='pt-3 pb-3 mr-3 editFileController' id="@next">
                                                                    <div class='uploaderWidget quizFileUploader'>
                                                                        <input class='quizImgUploader' type='file' id='@("file_" + next)' data-controlid='@("file_" + next)' data-controlname='@("MTPAnswer_" + next)'>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <input type='text' class='d-none' id='@("MTPAnswer_"+next)' value="@item.ResourcePath">
                                                                <div class='pt-3 pb-3 mr-3' id="@next">
                                                                    <div class='uploaderWidget quizFileUploader'>
                                                                        <input class='quizImgUploader' type='file' id='@("file_" + next)' data-controlid='@("file_" + next)' data-controlname='@("MTPAnswer_" + next)'>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                if (Model.QuestionTypeId == 1 || Model.QuestionTypeId == 2)
                                                {
                                                    <div class='element clearfix' id='@("div_" +next)'>
                                                        <div class="quiz-answer-field row mb-4">
                                                            <div class="col-md-7 col-12">
                                                                <div class="md-form md-outline mb-0">
                                                                    <input type='text' id='@("txt_"+next)' class="responseInput form-control mb-0" value="@item.AnswerText">
                                                                    <label for='@("txt_"+next)'>@ResourceManager.GetString("Quiz.QuizQuestion.EnterAnswer")</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5 col-12 d-flex justify-content-between align-items-center">
                                                                @*<div class="custom-control custom-radio custom-control-inline mr-0">
                                                                    <input type="radio" class="custom-control-input" id="@("chkbox_"+next)" @(item.IsCorrectAnswer ? "checked" : "") name="single1">
                                                                    <label class="custom-control-label" for="@("chkbox_"+next)">@ResourceManager.GetString("Quiz.QuizQuestion.MarkAsAnswer")</label>
                                                                </div>*@
                                                                <button class="remove btn btn-outline-danger m-0 mr-1" id="@("remove_"+next)" type="button"><i class="fas fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else if (Model.QuestionTypeId == 3)
                                                {
                                                    <div class='element clearfix' id='@("div_"+next)'>
                                                        <div class="quiz-answer-field row mb-4">
                                                            <div class="col-md-7 col-12">
                                                                <div class="md-form md-outline mb-0">
                                                                    <input type='text' placeholder='@ResourceManager.GetString("Quiz.QuizQuestion.EnterAnswer")' id='@("txt_"+next)' class="responseInput form-control mb-0" value="@item.AnswerText">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5 col-12 d-flex justify-content-between align-items-center">
                                                                @*<div class="custom-control custom-checkbox custom-control-inline mr-0">
                                                                    <input type="checkbox" class="custom-control-input" id="@("chkbox_"+next)" @(item.IsCorrectAnswer ? "checked" : "")>
                                                                    <label class="custom-control-label" for="@("chkbox_"+next)">@ResourceManager.GetString("Quiz.QuizQuestion.MarkAsAnswer")</label>
                                                                </div>*@
                                                                <button class="remove btn btn-outline-danger m-0 mr-1" id="@("remove_"+next)" type="button"><i class="fas fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else if (Model.QuestionTypeId == 8)
                                                {
                                                    string FileName = PhoenixConfiguration.Instance.ReadFilePath + Constants.QuizMTPQuestion + item.ResourcePath;
                                                    <div class='element clearfix mt-3' id='@("div_"+next)'>
                                                        <div class="quiz-answer-field mb-3">
                                                            <div class="row">
                                                                <div class="col-md-7 col-12">
                                                                    <div class="md-form md-outline">
                                                                        <input type='text' id='@("txt_"+next)' class="responseInput form-control mb-0" value="@item.AnswerText">
                                                                        <label for='@("txt_"+next)'>@ResourceManager.GetString("Quiz.QuizQuestion.EnterAnswer")</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5 col-12">
                                                                    <button class="remove btn btn-outline-danger m-0 mr-1" id="@("remove_"+next)" type="button"><i class="fas fa-plus"></i></button>
                                                                </div>
                                                            </div>

                                                            @if (!String.IsNullOrEmpty(item.ResourcePath))
                                                            {
                                                                <div class="quiz-ans-img bg-light rounded-2x" id='@("imageGrid"+next)'>
                                                                    <img src="@FileName" id='@("editResource"+next)' /><a href="javascript:void(0)" onclick="toggleFileController($(this),@next,@item.QuizAnswerId)"><i class="fas fa-trash"></i></a>
                                                                </div>
                                                                <input type='text' class='d-none' id='@("MTPAnswer_"+next)' value="@item.ResourcePath">
                                                                <div class='pt-3 pb-3 mr-3 editFileController' id="@next">
                                                                    <div class='uploaderWidget quizFileUploader'>
                                                                        <input class='quizImgUploader' type='file' id='@("file_"+next)' data-controlid='@("file_" + next)' data-controlname='@("MTPAnswer_"+next)'>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <input type='text' class='d-none' id='@("MTPAnswer_"+next)' value="@item.ResourcePath">
                                                                <div class='pt-3 pb-3 mr-3' id="@next">
                                                                    <div class='uploaderWidget quizFileUploader'>
                                                                        <input class='quizImgUploader' type='file' id='@("file_"+next)' data-controlid='@("file_" + next)' data-controlname='@("MTPAnswer_"+next)'>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            next++;
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="fileUploadPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <span>Add Attachment</span>
                <button type="button" class="close py-0 px-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12 mb-3">
                        <div class="uploaderWidget">
                            <input id="dropArea" name="dropArea" type="file" multiple>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*END NEW IMPLEMENT*@

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.Response= '@ResourceManager.GetString("Quiz.QuizQuestion.Response")';
        translatedResources.ResponseValidation= '@ResourceManager.GetString("Quiz.QuizQuestion.ResponseValidation")';
        translatedResources.EnterAnswer= '@ResourceManager.GetString("Quiz.QuizQuestion.EnterAnswer")';
        translatedResources.MarkAsAnswer= '@ResourceManager.GetString("Quiz.QuizQuestion.MarkAsAnswer")';
        translatedResources.EnterAnserValidation= '@ResourceManager.GetString("Quiz.QuizQuestion.EnterAnserValidation")';
        translatedResources.MarkAnswerValidation= '@ResourceManager.GetString("Quiz.QuizQuestion.MarkAnswerValidation")';
        translatedResources.UploadSuccess = '@ResourceManager.GetString("Shared.Labels.UploadSuccess")'
        translatedResources.DeleteObjectiveSuccess = '@ResourceManager.GetString("Quiz.QuizQuestion.RemoveTaggedCurriculums")'
        translatedResources.DeletedSuccessfully = '@ResourceManager.GetString("Quiz.QuizQuestion.FileDeleted")'
        translatedResources.SelectSubjectError= '@ResourceManager.GetString("Quiz.QuizQuestion.SelectSubjectError")';
        translatedResources.MoreThanZero = '@ResourceManager.GetString("Shared.Messages.MoreThanZero")';
        translatedResources.Mandatory = '@ResourceManager.GetString("Shared.Messages.Mandatory")';
        translatedResources.FIBMessage = '@ResourceManager.GetString("Quiz.QuizQuestion.FIBMessage")';
        translatedResources.FIBCount = '@ResourceManager.GetString("Quiz.QuizQuestion.FIBCount")';
        translatedResources.UploadFile = '@ResourceManager.GetString("Shared.Labels.UploadFile")';
        translatedResources.CheckImage = '@ResourceManager.GetString("Quiz.QuizQuestion.CheckImage")';
         translatedResources.FileUploaded='@ResourceManager.GetString("Shared.Messages.FileUploaded")';
    </script>
    <script src="@Url.Content("/Content/js/ckeditor/ckeditor.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/jquery.easyui.jsonloader.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Forms/FormsQuestion.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/js/addons/recorder.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/VLE/js/addons/audio-recorder-config.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script>

         
        $('#breadcrumbActions').html(`<div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-primary waves-effect waves-light m-0 mr-2" id="btnBack"><span class="text-semibold">@ResourceManager.GetString("Shared.Buttons.Cancel")</span></button>
                        <button type="button" id="btn-submit" class="btn btn-primary m-0">@ResourceManager.GetString("Shared.Buttons.Save")</button>
                    </div>`);
        $('.editFileController').hide();
        $(document).on('click', '#btnBack', function () {
            location.href = "/Forms/FormsQuestions/";
        });
        function toggleFileController(source, data, quizAnswerId) {
            globalFunctions.notyDeleteConfirm(source, translatedResources.deleteConfirm);
            $(document).bind('okToDelete', source, function (e) {
                var objMTP = "#MTPAnswer_" + data;
                $('#' + data).show();
                $('#editResource' + data).hide();
                $(objMTP).val('');
                //quizquestions.deleteMTPResource(quizAnswerId);

            });
        }
        $('#imgUpload').hide();
        $('#ahrefDeleteImage').click(function () {
            $('#QuizQuestionImage').hide();
            $('#QuestionImagePath').val('');
            $('#imgUpload').show();

        })
        audiojs.events.ready(function () {
            var as = audiojs.createAll();
        });
        $("#QuizImage").fileinput({
            language:'@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()',
            title: '@ResourceManager.GetString("Shared.Labels.BrowseFile")',
            theme: "fas",
            showUpload: false,
            showCaption: false,
            showMultipleNames: false,
            fileActionSettings: {
                showZoom: false,
                showUpload: false,
                //indicatorNew: "",
                showDrag: false
            },
            uploadAsync: true,
            browseClass: "btn btn-sm m-0 z-depth-0 btn-browse",
            removeClass: "btn btn-sm m-0 z-depth-0",
            uploadClass: "btn btn-sm m-0 z-depth-0",
            overwriteInitial: false,
            previewFileIcon: '<i class="fas fa-file"></i>',
            initialPreviewAsData: false, // defaults markup
            initialPreviewConfig: [{
                frameAttr: {
                    title: 'My Custom Title',
                }
            }],
            preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
            previewFileIconSettings: { // configure your icon file extensions
                // note for these file types below no extension determination logic
                // has been configured (the keys itself will be used as extensions)
                'jpeg': '<i class="fas fa-file-image ic-file-img"></i>',
                'jpg': '<i class="fas fa-file-image ic-file-img"></i>',
                'gif': '<i class="fas fa-file-image ic-file-img"></i>',
                'png': '<i class="fas fa-file-image ic-file-img"></i>'
            },
            previewSettings: {
                image: { width: "50px", height: "auto" },
                html: { width: "50px", height: "auto" },
                other: { width: "50px", height: "auto" }
            },
            previewFileExtSettings: { // configure the logic for determining icon file extensions
                'doc': function (ext) {
                    return ext.match(/(doc|docx)$/i);
                },
                'xls': function (ext) {
                    return ext.match(/(xls|xlsx)$/i);
                },
                'ppt': function (ext) {
                    return ext.match(/(ppt|pptx)$/i);
                },
                'zip': function (ext) {
                    return ext.match(/(zip|rar|tar|gzip|gz|7z)$/i);
                },
                'htm': function (ext) {
                    return ext.match(/(htm|html)$/i);
                },
                'txt': function (ext) {
                    return ext.match(/(txt|ini|csv|java|php|js|css)$/i);
                },
                'mov': function (ext) {
                    return ext.match(/(avi|mpg|mkv|mov|mp4|3gp|webm|wmv)$/i);
                },
                'mp3': function (ext) {
                    return ext.match(/(mp3|wav)$/i);
                }
            }

        });
        $("#dropArea").fileinput({
                language:'@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()',
                title: '@ResourceManager.GetString("Shared.Labels.BrowseFile")',
                theme: "fas",
                showUpload: true,
                showCaption: false,
                showMultipleNames: false,
                uploadUrl: "/Forms/FormsQuestions/UploadQuizQuestionFiles",
                //uploadExtraData: function () {
                //    return {
                //        assignmentId: $("#AssignmentId").val(),
                //    };
                //},
                fileActionSettings: fileInputControlSettings.fileActionSettings,
                allowedFileExtensions: @Html.Raw(Json.Encode(ViewBag.FileExtension)),
                uploadAsync: true,
                maxFileSize: translatedResources.fileSizeAllow,
                browseClass: "btn btn-sm m-0 z-depth-0 btn-browse",
                removeClass: "btn btn-sm m-0 z-depth-0",
                uploadClass: "btn btn-sm m-0 z-depth-0",
                overwriteInitial: false,
                //previewFileIcon: '<i class="fas fa-file"></i>',
                initialPreviewAsData: false, // defaults markup
                initialPreviewConfig: [{
                    frameAttr: {
                        title: 'My Custom Title',
                    }
                }],
                preferIconicPreview: true, // this will force thumbnails to display icons for following file extensions
                previewFileIconSettings: fileInputControlSettings.previewFileIconSettings,
                previewSettings: fileInputControlSettings.previewSettings,
            previewFileExtSettings: fileInputControlSettings.previewFileExtSettings,
            msgSizeTooLarge: 'Total File size (<b>{size}</b>) exceeds maximum allowed upload size of <b>{maxSize}</b>. Please retry your upload!'
        }).off('filebatchselected').on('filebatchselected', function (event, files) {
            var size = 0;
            $.each(files, function (ind, val) {
                //console.log($(this).attr('size'));
                size = size + $(this).attr('size');
            });

            var maxFileSize = $(this).data().fileinput.maxFileSize,
                msg = $(this).data().fileinput.msgSizeTooLarge,
                formatSize = (s) => {
                    i = Math.floor(Math.log(s) / Math.log(1024));
                    sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
                    out = (s / Math.pow(1024, i)).toFixed(2) * 1 + ' ' + sizes[i];
                    return out;
                };

            if ((size / 1024) > maxFileSize) {
                msg = msg.replace('{name}', 'all files');
                msg = msg.replace('{size}', formatSize(size));
                msg = msg.replace('{maxSize}', formatSize(maxFileSize * 1024 /* Convert KB to Bytes */));
                //$('li[data-thumb-id="thumb-postedFile-0"]').html(msg);
                if (files.length > 1) {
                    $(".kv-fileinput-error.file-error-message").html('');
                    $(".kv-fileinput-error.file-error-message").append(`<button type="button" class="close kv-error-close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button><ul><li data-thumb-id="thumb-error" data-file-id="thumb-error">`+ msg + `</li></ul>`).attr("style", "");
                    $(".close.kv-error-close").on('click', function (e) {
                        $(".kv-fileinput-error.file-error-message").attr("style", "display:none").html('');
                        //$(".fileinput-upload").removeClass('d-none');
                    });
                }
                else {
                    $(".kv-fileinput-error.file-error-message").html('');
                    $(".kv-fileinput-error.file-error-message").append(`<button type="button" class="close kv-error-close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button><ul><li data-thumb-id="thumb-error" data-file-id="thumb-error">`+ msg + `</li></ul>`).attr("style", "");
                    $(".close.kv-error-close").on('click', function (e) {
                        $(".kv-fileinput-error.file-error-message").attr("style", "display:none").html('');
                        //$(".fileinput-upload").removeClass('d-none');
                    });
                }

                $(".fileinput-upload").attr('disabled', true);
            }
        }).off('fileuploaded').on('fileuploaded', function (event, data, previewId, index) {
                validateUploadFiles(data);
            });
        function validateUploadFiles(data) {
            var filesSize = 0;
            for (var i = 0; i < data.files.length; i++) {
                filesSize = filesSize + data.files[i].size;
            }
            if ((filesSize / 1024 / 1024) < 200) {
                globalFunctions.showSuccessMessage(translatedResources.UploadSuccess);
                $.ajax({
                    type: "GET",
                    url: "/Forms/FormsQuestions/GetuploadedFileDetails",
                    data: {
                        id: $("#QuizQuestionId").val(),
                        isTask: false
                    },
                    success: function (response) {
                        $('.file-upload-widget').animate({
                            right: '-300'
                        });
                        $("#fileList").html('');
                        $("#fileList").append(response);
                        $('#lightgallery').lightGallery({
                            selector: '.galleryImg',
                            share: false
                        });
                        $(".fileinput-remove-button").click();
                    },
                    error: function (error) {
                        globalFunctions.onFailure();
                    }
                });
                $("#myModal").modal('hide');
            }
            else {
                globalFunctions.showErrorMessage(translatedResources.UploadLimit);
                $('li[data-file-id="' + data.id + '"]').html(translatedResources.UploadLimit);
                return false;
            }

        }
        $(".quizImgUploader").fileinput({
            language:'@LocalizationHelper.CurrentSystemLanguage.SystemLanguageCode.ToLower()',
            theme: "fas",
            uploadUrl: "/Forms/FormsQuestions/UploadMTPFiles",
            showUpload: true,
            showCaption: false,
            showRemove: true,
            minFileCount: 1,
            maxFileCount: 5,
            browseClass: "btn btn-sm m-0 z-depth-0 btn-browse",
            removeClass: "btn btn-sm m-0 z-depth-0 removeFiles",
            uploadClass: "btn btn-sm m-0 pl-3 pr-3 z-depth-0",
            overwriteInitial: false,
            initialPreviewAsData: true, // defaults markup
            initialPreviewConfig: [{
                frameAttr: {
                    title: 'My Custom Title',
                }
            }],
            uploadExtraData: {
                img_key: "1000",
                img_keywords: "happy, nature"
            },
            fileActionSettings: {
                showZoom: false,
                showUpload: false,
                //indicatorNew: "",
                showDrag: false,
                showRemove: false
            },
            preferIconicPreview: false, // this will force thumbnails to display icons for following file extensions
            previewSettings: {
                image: { width: "50px", height: "auto" },
                html: { width: "50px", height: "auto" },
                other: { width: "50px", height: "auto" }
            },
        }).on('fileuploaded', function (event, data, previewId, index) {
            var fileName = data.response;
            var resourceID = '#' + this.dataset.controlname;
            var fileId = '#' + this.dataset.controlid;
            $(fileId).addClass('disabled');
            $(resourceID).val(fileName);
            globalFunctions.showSuccessMessage("Files uploaded successfully");

            });

        $('.removeFiles').on('click', function (event, data, previewId, index) {
            var fileId = '#' + $(this).closest('div').find('input.quizImgUploader').data('controlid');
            var resourceID = '#' + $(this).closest('div').find('input.quizImgUploader').data('controlname');
            $(fileId).removeClass('disabled');
            $(resourceID).val('');
        });
        $('.quiz-cover').on('click', function (event) {
            $('.cover-img-wrapper').removeClass('animate slideIn show');
            $(this).parent().find('.cover-img-wrapper').toggleClass('animate slideIn show');
            event.stopPropagation();
        });

        $(window).click(function (e) {
            if (e.target.class === 'show') {
            } else {
                $(".cover-img-wrapper").removeClass("animate slideIn show");
            }
        });
    </script>
}
