﻿@model IEnumerable<Phoenix.VLE.Web.EditModels.QuizQuestionsEdit>
@using Phoenix.Common.Localization
@using Phoenix.VLE.Web.Services
@using Phoenix.Common.Helpers
@using System.Threading
@{
    ViewBag.Title = ResourceManager.GetString("Quiz.QuizQuestion.Question");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-quiz.svg");
    var rnd = DateTime.Now.Ticks.ToString();
    var syncContext = SynchronizationContext.Current;
    SynchronizationContext.SetSynchronizationContext(null);
    var canEdit = new UserPermissionService().IsCustomPermissionAssigned(Convert.ToInt32(SessionHelper.CurrentSession.Id), PermissionCodes.U_MyFiles.ToString()).Result;
    SynchronizationContext.SetSynchronizationContext(syncContext);

}


<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body column-padding pt-3 pb-3">
                <div class="table-wrapper">
                    <div class="row mb-3">
                        <div class="col-lg-8 col-md-8 col-8">
                            <div class="search-with-bg">
                                <i class="fa fa-search"></i>
                                <input type="search" id="QuestionListSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-4">
                            <div class="float-right">
                                @if (canEdit)
                                {
                                    <a href="javascript:void(0)" class="btn btn-primary dropdown-toggle mr-0 mt-lg-0 mb-0 mt-md-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ResourceManager.GetString("Quiz.QuizQuestion.AddQuizQuestion")</a>
                                    <div class="dropdown-menu z-depth-1 border-0">
                                        <a id="btnAddQuizQuestion" href="/Forms/FormsQuestions/AddQuizQuestion" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light">@ResourceManager.GetString("Quiz.QuizQuestion.AddQuizQuestion")</a>
                                        @*<a class="dropdown-item pt-2 pb-2" href="javascript:void(0)" onclick='quizquestions.loadImportQuestionPopup($(this))'>@ResourceManager.GetString("Quiz.QuizQuestion.ImportQuiz")</a>*@
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover table-responsive-md" id="tbl-QuizQuestion">
                        <thead>
                            <tr>
                                <th>@ResourceManager.GetString("Quiz.QuizQuestion.Question")</th>
                                <th>@ResourceManager.GetString("Quiz.QuizQuestion.QuestionType")</th>
                                <th class="text-center no-sort">@ResourceManager.GetString("Quiz.QuizQuestion.Actions")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                //if (item.QuestionText.Contains("[blank_space_") && item.QuestionText.Contains("]"))
                                //{
                                //    string[] r = item.QuestionText.Contains(' ') ? item.QuestionText.Split(' ') : item.QuestionText.Split('.');
                                //    foreach (var field in r)
                                //    {
                                //        int pFrom = field.IndexOf("[");
                                //        int pTo = field.LastIndexOf("]");
                                //        if (pTo + 1 == field.Length)
                                //        {
                                //            //int optionNumber = Convert.ToInt32(field.Substring(pFrom, pTo - pFrom));
                                //            item.QuestionText = item.QuestionText.Replace(field, "___________");
                                //        }
                                //        else
                                //        {
                                //            string subStr = field.Substring(pFrom, pTo + 1);
                                //            item.QuestionText = item.QuestionText.Replace(subStr, "___________");
                                //        }
                                //    }
                                //}
                                <tr>
                                    <td>@Html.Raw(item.QuestionText)</td>
                                    <td>@item.QuestionTypeName</td>
                                    <td class="text-center">
                                        <div class="table-actions">
                                            @if (canEdit)
                                            {
                                                <a class="mr-3" href="/Forms/FormsQuestions/EditQuizQuestion/@item.QuizQuestionId" data-toggle='tooltip' data-placement='bottom' title="@ResourceManager.GetString("Files.Forms.EditFormQuestion")">
                                                    <img src='/Content/VLE/img/svg/tbl-edit.svg'>
                                                </a>
                                                <a class="mr-3" onclick="quizquestions.deleteQuizQuestionData($(this),@item.QuizQuestionId);" data-toggle='tooltip' data-placement='bottom' title="@ResourceManager.GetString("Files.Forms.DeleteFormQuestion")">
                                                    <img src='/Content/VLE/img/svg/tbl-delete.svg'>
                                                </a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>



@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.QuizQuestions= '@ResourceManager.GetString("Quiz.QuizQuestion.Question")';
        translatedResources.ResponseValidation= '@ResourceManager.GetString("Quiz.QuizQuestion.ResponseValidation")';
        translatedResources.correctAnswer = '@ResourceManager.GetString("Quiz.QuizQuestion.CorrectAnswer")';
    </script>
    <script src="@Url.Content("~/Content/js/addons/jquery.minicolors.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Forms/FormsQuestion.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>

    @if (@TempData["IsQuizQuestion"] != null)
    {
        <script>
            globalFunctions.showSuccessMessage('@ResourceManager.GetString("Shared.Messages.Updated")');
        </script>

    }
    <script>
        $("#btnBack").show();

        $(document).on('click', '#btnBack', function () {
            history.back();
        });
    </script>
}