﻿@model Phoenix.VLE.Web.Areas.SMS.Model.SEN
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions


<h4 class="heading-small text-muted mb-4 pl-3 border-bottom">Inclusion List</h4>
<div class="row">
    <div class="col-lg-12">
        <div  id="divStudentList_1" class="row p-2">
            @if (Model.studentInclusionList != null)
            {
                foreach (var item in Model.studentInclusionList)
                {
                    <div class="col-md-2 item">
                        
                            <div class="card card-chart mt-5" onmouseover="HoverPopup(this,1)" onmouseout="HoverPopup(this,0)">
                                <div class="card-header text-center">
                                    <div class="behav-profile">
                                        <a href="/SEN/KHDA?stuId=@item.Student_ID"><img src="@item.Student_Image_url" height="100px" class="img-circle img-no-padding img-responsive"></a>
</div>
                                    <div class="behav-score-wrap-main">
                                        <div class="behav-score-zero" onclick="removeStudent(@item.Student_ID)">
                                            <i class="fa fa-minus">
                                                <input type="hidden" id="hdnStuIdRemove" value="@item.Student_ID" />
                                            </i>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title pl-0 pr-0 tooltip-name hide-name"><a href="/SEN/KHDA?stuId=@item.Student_ID">@item.Student_Name</a></h4>
                                    <p class="category mb-0"><span class="text-success">ID  </span> @item.Student_No</p>
                                </div>
                            </div>
                        
                    </div>
                }
            }

        </div>
    </div>
</div>

@{ 
    var _grd = (Model.studentInclusionAll != null ? Model.studentInclusionAll.Select(s => s.Student_Grade).FirstOrDefault() : "");
    var _sct = (Model.studentInclusionAll != null ? Model.studentInclusionAll.Select(s => s.Student_Section).FirstOrDefault() : "");
    if (_grd == "" || _grd==null)
    {
        _grd = (Model.studentInclusionList != null ? Model.studentInclusionList.Select(s => s.Student_Grade).FirstOrDefault() : "");
    }

    if (_sct == "" || _sct == null)
    {
        _sct = (Model.studentInclusionList != null ? Model.studentInclusionList.Select(s => s.Student_Section).FirstOrDefault() : "");
    }

}
<h4 class="heading-small text-muted mb-4 pl-3 border-bottom">Student List ( @_grd @_sct )</h4>
<div id="divStudentList" class="row">
    <div class="col-lg-12">
        <div id="divStudentList_2" class="row p-2">
            @if (Model.studentInclusionAll != null)
            {
                foreach (var item in Model.studentInclusionAll)
                {
                    <div class="col-md-2 item">
                        <div class="card card-chart mt-5" onmouseover="HoverPopup(this,1)" onmouseout="HoverPopup(this,0)">
                            <div class="card-header text-center">
                                <div class="behav-profile"  onclick="cardClickFirst(this)"  data-studid="@item.Student_ID">
                                    <img src="@item.Student_Image_url" height="100px" class="img-circle img-no-padding img-responsive">
                                </div>
                                <div class="behav-score-wrap-main" onclick="includeStudent(this)" data-studid="@item.Student_ID">
                                    <div class="behav-score"><i class="fa fa-plus"></i></div>
                                </div>
                            </div>
                            <div class="card-content"  onclick="cardClick(this)" data-studid="@item.Student_ID">
                                <h4 class="card-title pl-0 pr-0 tooltip-name hide-name"><a href="#">@item.Student_Name</a></h4>
                                <p class="category mb-0"><span class="text-success">ID  </span> @item.Student_No</p>
                                <input type="hidden" id="hdnStuId" value="@item.Student_ID" />
                            </div>
                            
                        </div>
                    </div>
                }

            }

        </div>
    </div>
</div>

@*<hr>
<div class="row">
    <div class="form-group col-md-12 col-xs-12 col-sm-12 text-center">
        <input type="submit" value="Submit" name="attendence" class="btn btn-primary">
    </div>
</div>*@
