﻿@model Phoenix.VLE.Web.Areas.SMS.Model.Grades
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    string selectText = ResourceManager.GetString("Shared.Labels.Select");
}
@{
    ViewBag.Title = "SEN ";
    Layout = "~/Views/Shared/_SIMSLayout.cshtml";
}

<link href="~/Content/css/custom/SIMS/custom.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-lg-12 col-md-12 col-12 ">
                <!-- TimeTable Start -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card ">
                            <div class="card-body card-padding">
                                <div class="row week-switcher">
                                    <div class="col-lg-4 col-12 pl-2 pr-2">
                                        <div class="row">
                                            <div class="col-lg-12 mt-2">
                                                @Html.Partial("~/Areas/SMS/Views/Common/_GradeSectionPartial.cshtml")
                                                @*@if (bol_TT == "0")
                                                    {
                                                        @Html.Partial("~/Areas/SMS/Views/Common/_GradeSectionPartial.cshtml")
                                                    }*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3"></div>


                                    <div class="col-lg-4 col-10 text-right pl-2 pr-2">

                                        <div class="search-box search-right">
                                            <input type="text" placeholder="Type a name" class="search-txt" aria-label="Search" id="search">
                                            <a href="#" class="search-btn">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="col-lg-1 col-2">
                                        <div class="row">
                                            <div class="col-lg-12 my-3">
                                                <div class="pull-right">
                                                    <div class="zoom">
                                                        <a class="zoom-fab zoom-btn-large" id="zoomBtn" data-toggle="tooltip" title="Add Students To SEN Inclusion" onclick="SubmitBulkIds();"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="divStudentListMain">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}

@section scripts
                    {
    <script src="https://demos.creative-tim.com/bs3/material-dashboard-pro/assets/js/material-dashboard.js?v=1.3.0"></script>
    @*<script src="~/Content/js/custom/SIMS/Attendance/AttendanceLoad.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
        <script src="~/Content/js/custom/SIMS/Behaviour/StudentBehaviour.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>*@
    <script type="text/javascript" src="~/Content/js/custom/SIMS/Common/GradeSectionLoad.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>

    <script>
        var studentIdList = [];
        $(document).ready(function () {
            $("#Section").change(function () {
                LoadData();
            });

            $.extend($.expr[":"], {
                "containsIN": function (elem, i, match, array) {
                    return (elem.textContent || elem.innerText || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
                }
            });

            $('#search').keyup(function () {
                $('.item').removeClass('d-none');
                var filter = $(this).val(); // get the value of the input, which we filter on
                $('#divStudentList_1').find('.card .card-content:not(:containsIN("' + filter + '"))').parent().parent().addClass('d-none');
                $('#divStudentList_2').find('.card .card-content:not(:containsIN("' + filter + '"))').parent().parent().addClass('d-none');
                //$('#products').find('.card .card-body:containsIN("' + filter + '")').addClass('highlighter');

            })


        })

        function removeStudent(stuId) {
            if (confirm("Are you sure to remove the student?")) {

                var url = "/sen/updateSenStudent";
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: { stuId: stuId },
                    success: function (response) {
                        LoadData();
                    },
                    error: function (ex) {
                        globalFunctions.onFailure();
                    }
                });
            }

            return false;

        }

        function LoadData() {

            var _ttid = 0;
            var _grade = $("#Grades option:selected").text();;
            var _section = $('#Section').val();

            var url = "/sen/GetSenStudentList";
            $.ajax({
                type: 'GET',
                url: url,
                data: { tt_id: _ttid, grade: _grade, section: _section },
                success: function (response) {
                    // debugger;
                    // alert(response);
                    $('#divStudentListMain').empty();
                    $('#divStudentListMain').html(response);
                },
                error: function (ex) {
                    globalFunctions.onFailure();
                }
            });
        }

        function SubmitBulkIds() {

            if (studentIdList == '' || studentIdList == null) {
                //alert(studentIdList);
                return false;
            }
            else {

                //  debugger;
                $.post("/SMS/SEN/BulkInsert", { lstofstudentId: studentIdList }, function (response) {
                    globalFunctions.showMessage(response.NotificationType, response.Message);
                    studentIdList = [];
                    //studentIdList.splice(0, studentIdList.length);
                    LoadData();

                });
            }
        }
    </script>
    <script>
        function openModal() {
            $('.behave.modal').modal('show');
        }

        function openSelectedModal() {
            $('.selected.modal').modal('show');
        }
        function HoverPopup(a, state) {
            if (state == '1') {

                $(a).find(".behav-profile").attr("data-header-animation", true);
                // $(".behav-profile").attr("data-header-animation", true);
            }
            else {
                $(a).find(".behav-profile").attr("data-header-animation", false);
                //  $(".behav-profile").attr("data-header-animation", false);
            }
        }

    </script>

    <script>
        $(document).ready(function () {
            // Ellipsis for for student name

            $(document).on('mouseenter', ".tooltip-name", function () {
                var $this = $(this);
                if (this.offsetWidth < this.scrollWidth && !$this.attr('title')) {
                    $this.tooltip({
                        title: $this.text(),
                        placement: "top"
                    });
                    $this.tooltip('show');
                }
            });
            $('.hide-name').css('width', $('.hide-name').parent().width());
        });
    </script>

    <script>
        function cardClick(obj) {

            SetToCard($(obj).parent(), $(obj).attr("data-studid"));


        }
        function includeStudent(obj) {

            var stuId = [];
            stuId.push($(obj).attr("data-studid"));
            $.post("/SMS/SEN/BulkInsert", { lstofstudentId: stuId }, function (response) {
                globalFunctions.showMessage(response.NotificationType, response.Message);
                LoadData();
            });

            // alert("inclusion:" + $(obj).attr("data-studid"));
        }


        function cardClickFirst(obj) {

            SetToCard($(obj).parent().parent(), $(obj).attr("data-studid"));
        }


        function SetToCard(obj, stuId) {

            //  alert("card:" + stuId);


            $(obj).toggleClass("selected-stud");


            if ($(obj).hasClass('selected-stud')) {
                //$(this).find(".custom-control-input").attr('checked', true);

                studentIdList.push(stuId);
                // alert(studentIdList);
            }
            else {

                $(obj).find(".card.card-chart").removeClass('selected-stud');
                //$(this).find(".custom-control-input").attr('checked', false);
                var index = studentIdList.indexOf(stuId);
                if (index > -1) {
                    studentIdList.splice(index, 1);
                }
                //alert(studentIdList);
            }

        }

        $(".card.card-chart_lll").click(function (event) {
            $(this).toggleClass("selected-stud");
            alert("inclusion:" + $(this).attr("data-studid"));

            if ($(this).hasClass('selected-stud')) {
                //$(this).find(".custom-control-input").attr('checked', true);

                studentIdList.push($(this).find("#hdnStuId").val());
                // alert(studentIdList);
            }
            else {

                $(this).find(".card.card-chart").removeClass('selected-stud');
                //$(this).find(".custom-control-input").attr('checked', false);
                var index = studentIdList.indexOf($(this).find("#hdnStuId").val());
                if (index > -1) {
                    studentIdList.splice(index, 1);
                }
                //alert(studentIdList);
            }
            event.stopImmediatePropagation();
        });


    </script>

}
