/*---------- add attachment dropdown style ----------*/
.add-attachment-wrapper {
    &.dropdown-menu {
        a {
            font-size: rem($base-font-size - 2);
            padding: rem(12px);
            i {
                font-size: rem($base-font-size + 2);
                width: rem(25px);
                text-align: center;
                opacity: 0.3;
                @include transition-main(all linear 0.2s);
            }
            &:hover {
                i {
                    opacity: 1;
                    color: $primary-color;
                }
            }
            &:active {
                i {
                    opacity: 1;
                    color: $white-base;
                }
            }
        }
    }
}
/*---------- add attachment deopdown style end ----------*/

.course-description {
    .cke_textarea_inline {
        min-height: rem(400px);
    }
}

/*------Additional css class for Accordion Goes here-------*/
.unit-planner-info {
    .accordion{
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background: $stroke-color;
            width: rem(50px);
            height: 200%;
            z-index: 1;
        }
        & > {
            .card {
                &:first-of-type, &:last-of-type {
                    border-radius: 0;
                }
                .card-header {
                    .fa-minus {
                        display: inline-block;
                    }
                    .fa-plus {
                        display: none;
                    }
                    .collapsed {
                        .fa-minus {
                            display: none;
                        }
                        .fa-plus {
                            display: inline-block;
                        }
                    }
                }
            }
        }
        h5 {
            font-size: rem($base-font-size);
            font-weight: 500;
            button{
                border-radius: 0px;
                background-color: $stroke-color;
                z-index: 2;
                width: rem(50px);
                &:hover, &:focus {
                    text-decoration: none;
                    background-color: $stroke-color;
                }
            }
        }
        .card {
            overflow: initial;
        }
    }
    .sub-level {
        margin-left:40px;
    }
}

/*---------- main tab navigations style ----------*/
.navTabs {
    &::-webkit-scrollbar { display: none; }
    li {
        a {
            font-size: rem($base-font-size);
            &:after {
                content: '';
                background: $primary-color;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: rem(3px);
                @include transition-main(all ease-in 0.2s);
            }
            &:hover, &.active {
                &:after {
                    width: 100%;
                }
            }
        }
    }
}

/*---------- main tab navigations style end ----------*/  
.vTab-wrapper {
    width: 100%;
    text-align: left;
    margin: 0 auto;
    background: transparent;
    ul {
        &.tabs {
            display: inline-block;
            vertical-align: top;
            position: relative;
            z-index: 10;
            width: 25%;
            min-width: rem(175px);
            list-style: none;
            background: #F1F5F8;
            background: $stroke-color;
            li {
                margin: 0;
                cursor: pointer;
                line-height: 1.3;
                text-align: left;
                background: transparent;
                @include transition-main(all ease 0.3s);
                &:hover {
                    background: $white-base;
                }
                &.active {
                    background: $white-base;
                }
            }
        }
    }

    .tab-container {
        display: inline-block;
        vertical-align: top;
        position: relative;
        z-index: 20;
        left: 0;
        width: 74.5%;
        min-width: 10px;
        text-align: left;
        background: $white-base;
        border-radius: rem(0 0 0 12px);
        overflow: hidden;
        .tab-content {
            height: 100%;
            display: none;
            overflow: hidden;
        }
        .tab-drawer-heading { 
            display: none; 
          }
    }
}  
@media screen and (max-width: 781px) {
    .vTab-wrapper {
        ul {
            &.tabs {
                display: none;
            }
        }
        .tab-container {
            display: block;
            margin: 0 auto;
            width: 100%;
            .tab-drawer-heading {
                cursor: pointer;
                background: darken($stroke-color, 5%);
                font-size: rem($base-font-size + 2);
                border-bottom: solid 1px $white-base;
                margin: 0;

                display: block;
                cursor: pointer;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                &:last-child {
                    border-bottom: none;
                }
                &.d_active {
                    background: $primary-color;
                    color: $white-base;
                }
            }
        }
    }
    
}