$colors: #F96363, #4981FD, #3AB9F0, #FF6CA3, #A3A0FB, #49DB93, #F5C657, #FF9850, #041E42;
$colorSet1: #7C5AEF, #5AB0EF, #95CE21, #FCC01F, #A977DB, #F96363, #041E42;
$colorSet2: #7605E8, #FFBD66, #0DC7F9, #1916F8, #FF6CA3, #902EBB, #A3A0FB, #D02823, #53D769, #FF9850;

/*---------- dashboard style start ----------*/
#dashboardBanners {
    .owl-stage-outer, .item {
        border-radius: rem($default-border-radius + 7);
    }
    .item {
        overflow: hidden;
        @include media-breakpoint-down(sm) {
            min-height: rem(145px);
        }
        img {
            max-height: rem(222px);
        }
        .caption {
            bottom: 0;
            left: 0;
            @include semitransparent-bg($black-base, 0.5);
            p {
                color: $white-base;
                font-size: rem($base-font-size + 6);
            }
            @include media-breakpoint-down(sm) {
                padding: rem(0 15px);
                @include semitransparent-bg($black-base, 1);
                p {
                    font-size: rem($base-font-size);
                }   
            }
        }
    }
}

#schoolFeed {
    &.owl-carousel {
        &.owl-theme {
            .owl-nav {
                position: absolute;
                top: rem(-40px);
                right: 0;
            }
        }
        .owl-item {
            .item {
                figure {
                    .initials {
                        width: rem(40px);
                        height: rem(40px);
                        flex: none;
                        overflow: hidden;
                        //box-shadow: 0 0 8px rgba(0,0,0,0.35);
                        color: $white-base;
                        text-align: center;
                        line-height: 2.3;
                        font-size: rem($base-font-size + 2);
                        &.assignment {
                            background: $primary-color;
                        }
                        &.group {
                            background: #FFBD66;
                        }
                        &.file {
                            background: #FF6CA3;
                        }
                    }
                    figcaption, p {
                        font-size: rem($base-font-size - 2);
                        font-weight: 500;
                    }
                    figcaption {
                        a {
                            max-height: rem(36px);
                            overflow: hidden;
                            line-height: 1.3;
                        }
                    }
                }
            }
        }
    }
}

#todo-list {
    &.owl-carousel {
        &.owl-theme {
            .owl-nav {
                position: absolute;
                top: rem(-40px);
                right: 0;
            }
        }
        .owl-item {
            .item {
                figure {
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .initials {
                        width: rem(40px);
                        height: rem(40px);
                        flex: none;
                        overflow: hidden;
                        color: $white-base;
                        text-align: center;
                        line-height: 2.3;
                        font-size: rem($base-font-size + 2);
                        background: $primary-color;
                    }
                    @for $i from 1 through length($colorSet2) {
                        &:nth-child(#{$i}) .initials  {
                            background: nth($colorSet2, $i);
                        }
                    }
                    figcaption, p {
                        font-size: rem($base-font-size - 2);
                        font-weight: 500;
                    }
                    p {
                        font-size: rem($base-font-size - 3);
                    }
                    figcaption {
                        a {
                            max-height: rem(36px);
                            overflow: hidden;
                            line-height: 1.3;
                        }
                    }
                }
            }
        }
    }
}

.circular-banner {
    max-height: rem(100px);
    overflow: hidden;
}

#circulars {
    &.owl-carousel {
        &.owl-theme {
            .owl-nav {
                position: absolute;
                top: rem(-162px);
                right: 0;
            }
            &.without-image {
                .owl-nav {
                    top: rem(-45px);
                }
            }
            .item {
                a {
                    i {
                        font-size: rem($base-font-size * 2);
                    }
                    p {
                        line-height: 1.3;
                        .circular-title {
                            max-height: rem(48px);
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}

.studentTimeline {
    /* .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        min-width: initial;
    } */
    .bootstrap-select {
        min-width: initial !important;
        button {
            &[type="button"] {
                &.dropdown-toggle {
                    padding: rem(6px 15px);
                    .filter-option-inner-inner {
                        font-weight: 500;
                    }
                }
            }
        }
        &.show-tick {
            .dropdown-menu {
                li {
                    
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        position: relative;
                        padding-left: rem(25px);
                        span {
                            &.text {
                                margin-right: 0;
                                margin-left: rem(20px);
                                font-size: rem($base-font-size - 3);
                                font-weight: 500;
                            }
                            &.bs-ok-default {
                                position: absolute;
                                right: initial;
                                left: rem(15px);
                                border: solid rem(1.5px) $primary-color;
                                border-radius: rem(2px);
                                width: rem(18px);
                                height: rem(18px);
                                text-align: center;
                                display: inline-block;
                                top: 50%;
                                transform: translateY(-50%);
                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .selected {
                    span {
                        &.bs-ok-default {
                            &:after {
                                display: block;
                                position: relative;
                                left: rem(4.5px);
                                border-color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
    .title-fields {
        margin-right: rem(90px);
    }
}
#timeline {
    &.owl-carousel {
        &.owl-theme {
            .owl-nav {
                position: absolute;
                top: rem(-50px);
                right: 0;
            }
            .owl-item {
                @for $i from 1 through length($colorSet1) {
                    &:nth-child(#{length($colorSet1)}n+#{$i}) > .item  {
                        .card {
                            margin: rem(10px 0);
                            h3 {
                                .initials {
                                    background: nth($colorSet1, $i);
                                    box-shadow: 0 0 8px lighten(nth($colorSet1, $i), 10%);
                                } 
                            }
                            &:hover {
                                border-color: lighten(nth($colorSet1, $i), 20%);
                            }
                        }
                    }
                }
                .item {
                    .card {
                        border: solid 2px $white-base;
                        min-height: rem(200px);
                        box-shadow: 0 0 15px rgba(0,0,0,0.07);
                        @include transition-main(all linear 0.2s);
                        h3 {
                            font-size: rem($base-font-size);
                            .initials {
                                background: $stroke-color;
                                font-size: rem($base-font-size + 6);
                                color: $white-base;
                                width: rem(38px);
                                height: rem(38px);
                                text-align: center;
                                flex: none;
                                font-weight: 600;
                                line-height: 1.8;
                                position: relative;
                                left: rem(-6px);
                            }
                            .date {
                                font-weight: 500;
                                font-size: rem($base-font-size - 5);
                                color: $secondary-text-color;
                                display: block;
                                @include media-breakpoint-up-1600 {
                                    display: inline-block;
                                    position: absolute;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                        ul {
                            li {
                                margin-bottom: rem(20px);
                                position: relative;
                                &:before, &:after {
                                    content: '';
                                    position: absolute;
                                }
                                &:before {
                                    left: 0;
                                    top: 4px;
                                    width: rem(8px);
                                    height: rem(8px);
                                    border-radius: 100%;
                                    background: $secondary-text-color;
                                }
                                &:after {
                                    width: 1px;
                                    height: calc(100% + 10px);
                                    border-left: dotted 2px lighten($secondary-text-color, 25%);
                                    left: rem(3px);
                                    top: 15px;
                                }

                                &:last-child {
                                    margin-bottom: 0;
                                    &:after {
                                        display: none;
                                    }
                                }
                                .time, .info {
                                    color: darken($secondary-text-color, 15%);
                                }
                                .time {
                                    font-size: rem($base-font-size - 4);
                                }
                                p {
                                    font-weight: 500;
                                }
                                .info {
                                    position: relative;
                                    line-height: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#groupTab {
    &.nav-tabs {
        .nav-item {
            margin-bottom: 0;
            .nav-link {
                border-radius: rem($default-border-radius);
                border: 1px solid transparent;
                &.active {
                    border: 1px solid darken($stroke-color, 5%);
                    background: $white-base;
                    color: $primary-color;
                }
            }
        }
    }
}
#class-group-2, #other-groups {
    &.owl-carousel {
        &.owl-theme {
            .owl-stage-outer {
                padding-bottom: rem(20px);
            }
            .owl-nav {
                position: absolute;
                top: rem(-50px);
                right: 0;
            }
            .owl-item {
                .group-header {
                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        //@include semitransparent-bg($primary-color, 0.3);
                        //background: rgba(20, 73, 136, 0.4);
                        top: 0;
                        left: 0;
                        border-radius: rem(12px 12px 0 0);
                    }
                    
                    .group-image {
                        max-height: rem(100px);
                        overflow: hidden;
                        border-radius: rem(12px 12px 0 0);
                    }
                    .subject-name {
                        h3 {
                            font-size: rem($base-font-size);
                            color: $white-base;
                            position: relative;
                            z-index: 1024;
                        }
                        h3, i {
                            text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
                        }
                    }
                    .group-actions {
                        z-index: 1030;
                        button {
                            width: rem(20px);
                            height: rem(20px);
                        }
                        .dropdown-menu {
                            a {
                                font-size: rem($base-font-size - 2);
                                padding-top: rem(10px);
                                padding-bottom: rem(10px);
                            }
                        }
                    }
                    .student-count {
                        z-index: 1030;
                        font-size: rem($base-font-size - 3);
                        font-weight: 600;
                    }
                }
                .row {
                    [class*='col-'] {
                        @for $i from 1 through length($colorSet2) {
                            &:nth-child(#{$i}) {
                                .group-header {
                                    &:after {
                                        //background: lighten(nth($colorSet1, $i));
                                        @include semitransparent-bg(nth($colorSet2, $i), 0.5);
                                    }
                                }
                                
                            }
                        }
                    }
                }
                .group-name {
                    /* position: absolute;
                    z-index: 1028;
                    bottom: 0; */
                    a {
                        font-size: rem($base-font-size - 2);
                        font-weight: 500;
                        span {
                            font-size: rem($base-font-size - 4);
                            display: none !important;
                        }
                    }
                }
                .quick-actions {
                    a {
                        color: darken($secondary-text-color, 5%);
                        font-size: rem($base-font-size + 2);
                        border-right: solid 1px $stroke-color;
                        width: 100%;
                        text-align: center;
                        padding: rem(10px 0);
                        &:last-child {
                            border: none;
                        }
                        img {
                            width: rem(29px);
                        }
                    }
                }
            }
        }
    }
}

#teacherChatter {
    &.owl-carousel {
        &.owl-theme {
            .owl-nav {
                position: absolute;
                top: rem(-70px);
                right: rem(-20px);
            }
        }
    }
    .owl-item {
        article {
            .article-header {
                background: #dbf8ff;
                border-radius: $default-border-radius $default-border-radius 0 0;
                .user-avatar {
                    width: rem(70px);
                    height: rem(70px);
                    flex: none;
                    box-shadow: 0 0 8px rgba(0,0,0,0.4);
                }
                h3 {
                    font-size: rem($base-font-size + 2);
                    span {
                        font-size: rem($base-font-size - 2);
                        color: $secondary-text-color;
                    }
                }
            }
            .content {
                p {
                    font-weight: 500;
                }
                .chatter-stats {
                    span {
                        color: $secondary-text-color;
                    }
                }
            }
            .article-footer {
                .comment-wrapper {
                    .avatar-wrapper {
                        .avatar {
                            width: rem(40px);
                            height: rem(40px);
                        }
                    }
                    .comment-form {
                        height: rem(38px);
                        input[type="text"] {
                            font-size: rem($input-font-size);
                            &:focus, &:active {
                                outline: none;
                            }
                        }
                        .comment-actions {
                            font-size: rem($base-font-size);
                            a {
                                color: $secondary-text-color;
                                &.sendMsg {
                                    color: $base-text-color;
                                }
                            }
                        }
                    }
                }
            }
        }
        &:nth-child(even) {
            article {
                .article-header {
                    background: #faf2ff;
                }
            }
        }
    }
}
.chatterUpdates {
    .section-title {
        h3 {
            background: path('chatter-icon.svg', img/svg) no-repeat left center;
        }
    }
}
.my-wall {
    .chat-details {
        .user-avatar {
            width: rem(75px);
            height: rem(75px);
            flex: none;
        }
        .chat-info {
            max-width: 82%;
            h4 {
                font-size: rem($base-font-size + 2);
            }
            h3 {
                font-size: rem($base-font-size + 4);
            }
            p {
                font-size: rem($base-font-size - 1);
                font-weight: 500;
                color: darken($secondary-text-color, 10%);
            }
        }
        .chat-group {
            right: 0;
            width: rem(120px);
            height: rem(100px);
            overflow: hidden;
            img {
                height: 100%;
                width: auto;
            }
            span {
                bottom: 0;
                width: 100%;
                color: $white-base;
                font-size: rem($base-font-size - 2);
                @include semitransparent-bg($black-base, 0.5);
            }
        }
    }
    .comment-wrapper {
        .avatar-wrapper {
            width: rem(98px);
            text-align: right;
            .avatar {
                width: rem(40px);
                height: rem(40px);
            }
        }
        .comment-form {
            height: rem(38px);
            input[type="text"] {
                font-size: rem($input-font-size);
                &:focus, &:active {
                    outline: none;
                }
            }
            .comment-actions {
                font-size: rem($base-font-size);
                a {
                    color: $secondary-text-color;
                    &.sendMsg {
                        color: $base-text-color;
                    }
                }
            }
        }
    }
}

.attendance-section {
    .svg {
        path {
            fill: $black-base;
        }
    }
    .duration-selection {
        padding-left: rem(12px);
        padding-right: rem(12px);
        .dropdown-menu {
            a {
                font-size: rem($base-font-size - 2);
            }
        }
    }
    .attendance-progress {
        background: $stroke-color;
        position: relative;
        height: rem(5px);
        overflow: hidden;
        width: 35%;
        margin-bottom: rem(3px);
        border-radius: rem(25px);
        span {
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
        }
    }
    h1, h5 {
        line-height: 1;
    }
    h1 {
        font-size: rem(30px);
        font-weight: 700 !important;
    }
    h5 {
        font-size: rem($base-font-size - 2);
        font-weight: 700 !important;
        span {
            font-size: rem($base-font-size - 4);
            font-weight: 500;
            color: $secondary-text-color;
            margin-top: rem(5px);
        }
    }
    .week-name {
        p {
            width: 20%;
            text-align: center;
        }
    }
    .status {
        i {
            width: 20%;
            text-align: center;
        }
    }
}

.assignment-count {
    @include media-breakpoint-down(sm) {
        .assignment-count-content {
            overflow-x: auto;
        }
    }
    
    .assignment-count-content::-webkit-scrollbar { display: none;}
    .card {
        width: 33.33%;
        &:nth-child(2) {
            margin-left: rem(12px);
            margin-right: rem(12px);
        }
        @include media-breakpoint-down(sm) {
            flex: none;
            width: rem(160px);
        }
    }
    .new, .in-progress, .overdue {
        padding-top: rem(12px);
        padding-bottom: rem(12px);
        h1 {
            span {
                text-align: left;
            }
        }
        span {
            text-align: right;
            img {
                @include media-breakpoint-down(lg) {
                    width: 70%;
                }
            }
        }
    }
    .new {
        background: #eff4ff;
        h1 {
            color: $primary-color;
            span {
                color: $primary-color;
            }
        }
    }
    .in-progress {
        background: #FFFBF0;
        h1 {
            color: #EDB828;
            span {
                color: #EDB828;
            }
        }
    }
    .overdue {
        background: #FEF6F4;
        h1 {
            color: #E56D41;
            span {
                color: #E56D41;
            }
        }
    }
    h1 {
        font-size: rem($base-font-size * 2);
        span {
            font-size: rem($base-font-size - 2);
        }
    }
    ul {
        li {
            position: relative;
            a {
                &:focus, &:active {
                    outline: none;
                    box-shadow: none;
                }
            }
            
            .assignment-title {
                font-weight: 600;
                font-size: rem($base-font-size - 2);
                line-height: 1.3;
                height: rem(35px);
                overflow: hidden;
            }
        }
    }
    .owl-carousel {
        &.owl-theme {
            .owl-nav {
                text-align: right;
            }
        }
    }
    .empty-message {
        min-height: rem(234px);
    }
}
#assignment-popover {
    .popover {
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        border-color: #dcdcdc;
        .arrow {
            &:before {
                border-right-color: #dcdcdc;
            }
        }
    }
    .popover-header, .popover-body {
        padding: rem(15px);
    }
    .popover-header {
        font-size: rem($base-font-size + 2);
        font-weight: 500;
        background: transparent;
        border: none;
    }
    .popover-body {
        .due-date {
            color: $secondary-text-color;
            font-size: rem($base-font-size - 3);
            font-weight: 600;
            text-transform: capitalize;
            &.text-warning {
                color: #EDB828 !important;
            }
        }
    }
}

#assignmentCarousel {
    &.owl-carousel {
        &.owl-theme {
            .owl-nav {
                position: absolute;
                top: 0;
                right: 0;
                button {
                    background: $white-base;
                }
            }
        }
    }
    article {
        .date {
            font-size: rem($base-font-size - 2);
        }
        h3 {
            font-size: rem($base-font-size + 2);
            span {
                font-size: rem($base-font-size - 3);
                &.completed-by-student {
                    background: lighten($inprogress-color, 35%);
                    padding: rem(3px 13px);
                    border-radius: rem($default-border-radius);
                    color: darken($inprogress-color, 10%);
                }
            }
        }
        p {
            color: darken($secondary-text-color, 15%);
            @include media-breakpoint-between(md, lg) {
                max-height: rem(45px);
                overflow: hidden;
            }
        }
    }
}

.resources {
    height: rem(286px);
    @include media-breakpoint-down-1600 {
        height: rem(325px);
    }
    article {
        h3 {
            font-size: rem($base-font-size - 2);
            .time, .grade {
                position: relative;
                color: darken($secondary-text-color, 10%);
                small {
                    font-weight: 500;
                }
            }
            .course-name {
                font-size: rem($base-font-size - 1  );
                img {
                    width: rem(18px);
                }
            }
            .title {
                max-height: rem(35px);
                overflow: hidden;
            }
        }
        i {
            font-size: rem(40px);
        }
    }
    .mCSB_outside + .mCSB_scrollTools {
        right: -18px;
    }
}

.studentDetails {
    h6 {
        font-size: rem($base-font-size);
        font-weight: 600 !important;
        span {
            font-size: rem($base-font-size - 3);
            color: $secondary-text-color;
        }
    }
    p {
        font-size: rem($base-font-size - 2);
        font-weight: 500;
        color: darken($secondary-text-color, 10%);
    }
    .userMood {
        width: rem(40px);
        height: rem(40px);
        right: rem(20px);
        top: rem(20px);
    }
}

.quick-links {
    li {
        padding-bottom: rem(12px);
        margin-bottom: rem(12px);
        a {
            font-size: rem($base-font-size - 2);
            font-weight: 500;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
/*---------- dashboard style end ----------*/


.drop-up-btn {
    width: rem(73px);
    height: rem(73px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(34px) !important;
    border-radius: 50% !important;
    box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.16) !important;
    &:hover {
        box-shadow: 0 13px 16px 0 #a9cffc !important;
    }
}
.rotate-cross {
    margin-top: 3.75rem;
    &.show {
        .plus {
            display: inline-block;
            -webkit-transition: all .8s ease-in-out;
            -ms-transition: all .8s ease-in-out;
            transition: all .8s ease-in-out;
            transform: rotate(45deg);
        }
    }
    .plus {
        display: inline-block;
        -webkit-transition: all .8s ease-in-out;
        -ms-transition: all .8s ease-in-out;
        transition: all .8s ease-in-out;
    }
    .dropdown-menu {
        min-width: 6.25rem;
        transform: translate3d(-50px, -74px, 0px) !important;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        border: none;
        .dropdown-item {
            font-size: rem(14px);
            font-weight: 600;
            outline: none;
            &:active {
                background-color: #F0F3F4;
            }
        }
    }
}


/*---------- vault style ----------*/
.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .filter-title {
        font-weight: 600;
        font-size: rem($base-font-size - 4);
        transition: opacity 385ms cubic-bezier(0.23, 1, 0.32, 1);
        &.hide-title {
            display: none;
        }
    }
    .search-container {
        display: inline;
        position: relative;
        &.active-block {
            display: block;
            border-radius: 22px;
            border: 1px solid #d2e2e8;
        }
        .search-field {
            width: 15px;
            padding-left: 10px;
            color: transparent;
            cursor: pointer;
        }
        .search-text-box {
            display: none;
            width: 77%;
            border: none;
        }
        input {
            &:-moz-placeholder {
                color: transparent;
            }
            &::-webkit-input-placeholder {
                color: transparent;
            }
        }
        .search-input {
            width: 15px;
        }
        .close-icon {
            background: url('../img/svg/ic-cancel.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 11px;
            position: absolute;
            width: 18px;
            height: 18px;
            z-index: 999;
            right: 10px;
            top: 12px;
            display: none;
            cursor: pointer;
            outline: none;
            border: none;
            &.show-icon {
                display: block;
                margin-top: -2px;
            }
        }
    }
    input {
        outline: none;
        &::-webkit-search-decoration {
            display: none;
        }
        &::-webkit-search-cancel-button {
            display: none;
        }
        &:-moz-placeholder {
            color: #999;
        }
        &::-webkit-input-placeholder {
            color: #999;
        }
    }
    .search-field {
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
        background: url('../img/svg/search.svg') no-repeat 9px center;
        background-size: 15px;
        padding: 9px 10px 9px 32px;
        border: 0;
        width: 55px;
        -webkit-transition: all 385ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: all 385ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: all 385ms cubic-bezier(0.23, 1, 0.32, 1);
        &.search-input {
            background: url('../img/svg/search.svg');
            background-position: 9px center;
            background-repeat: no-repeat;
            background-size: 15px;
        }
    }
}

/* .modal-header {
    &.filter-header {
        .close {
            right: 9px !important;
            top: 11px !important;
        }
    }
    .search-filter-form {
        width: 95%;
        .search-container {
            display: block;
            border-radius: 22px;
            border: 1px solid #d2e2e8;
            @include media-breakpoint-down(sm) {
                border-radius: 3px;
            }
        }
    }
} */

.filter-by-letters {
    display: flex;
    font-weight: 600;
    margin-left: 15px;
    @include media-breakpoint-down(sm) {
        display: block;
    }
    li {
        @include media-breakpoint-down(sm) {
            display: inline;
        }
        margin: 0 3px;
        a {
            color: #0f4bd3;
        }
    }
}

.check-item {
    padding: 8px 0;
    label {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        font-size: rem($base-font-size - 4);
        input[id*='group-value'] {
            margin-right: 8px;
            width: 16px;
            height: 16px;
            border: 0.5px solid #8e9ab5;
            cursor: pointer;
            -webkit-appearance: none;
            &:checked {
                border: 1px solid $primary-color;
                background: path("tick-mark.svg", img/svg) no-repeat center;
                background-size: 75%;
            }
            &:focus {
                border: 0.5px solid #8e9ab5;
                outline: none;
            }
        }
    }
}

.more-groups {
    color: #0f4bd3;
    font-size: rem($base-font-size - 4);
    font-weight: 600;
    text-align: left;
    padding: 1rem 2.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    &:focus {
        outline: none;
    }
}

.group-title {
    font-weight: 700;
}

.horizontal-scrollable {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
    &::-webkit-scrollbar {
        width: 9px;
        height: 9px;
        cursor: pointer;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        cursor: pointer;
    }
    &::-webkit-scrollbar-thumb {
        cursor: pointer;
        border-radius: 10px;
        background: #888;
    }
}

.student-card {
    padding: 14px;
    margin-top: 0.625rem;
    box-shadow: 0 2px 12px 0 rgba(180, 200, 208, 0.31);
    .student-img {
        width: 43px;
        height: 43px;
    }
    .student-info {
        .student-name,
        .student-id {
            text-align: center;
            margin-bottom: 0;
            color: #000;
        }
        .student-name {
            margin-top: 5px;
        }
    }
}

.student-card-grid {
    &:after {
        content: '';
        border-bottom: 1px solid #e7e9eb;
        width: 100%;
        padding-bottom: 15px;
    }
    .card{
        &.student-card{
            border: 1px solid transparent;
            &:hover{
                border: 1px solid $primary-color;
                @include transition-main(all ease 0.2s);
            }
        }
    }
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    @include media-breakpoint-down(sm) {
        display: block;
    }
    span {
        font-size: rem($base-font-size - 4);
        color: #000;
        font-weight: 500;
    }
    .page-item.active,
    .page-item.next-btn {
        .page-link {
            border: 0.5px solid #d1d1d1;
            background-color: #fff;
            color: #000;
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }
    .page-link {
        padding-left: 0px;
        padding-right: 0px;
        &:last-child {
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 0px;
        }
    }
}

.filter-list {
    display: flex;
    margin-bottom: 11px;
    li {
        font-size: rem($base-font-size - 4);
        color: #fff;
        background-color: #2b81e6;
        margin: rem(0 5px);
        .btn-close {
            padding: 0 5px;
            margin: 0 0 0 5px;
            font-weight: 600;
            box-shadow: none;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}

.modal-header {
    &.filter-header {
        .close {
            right: 9px !important;
            top: 11px !important;
        }
    }
    .search-filter-form {
        width: 95%;
        .search-container {
            display: block;
            border-radius: 22px;
            border: 1px solid #d2e2e8;
            @include media-breakpoint-down(sm) {
                border-radius: 3px;
            }
        }
    }
}
/*---------- vault style end ----------*/

/*---------- circulars style ----------*/
.newsletter-circular-table {
    margin-bottom: rem(60px);
    td,th {
        border-top: 0;
    }
    tr{
        cursor: pointer;
    }
    thead {
        th {
            background-color: transparent;
            color: darken($secondary-text-color, 10%);
            font-weight: 600;
            font-size: rem($base-font-size - 5);
            text-transform: capitalize;
            &:nth-child(2){
                padding-left: 0;
            }
        }
    }
    .checkbox-column {
        width: rem(20px);
        padding-right: rem(20px);
        padding-left: rem(30px);
    }
    td {
        padding-left: 0;
        @include media-breakpoint-down(sm){
            text-align: center;
        }
    }
    .check-item {
        label {
            input[id*='group-value'] { 
                margin-right: 0;
            }
        }
    }
    .circular-attachment-column {
        width: rem(60px);
    }
    .date-column {
        width: rem(120px);
        vertical-align: middle;
        @include media-breakpoint-down(sm){
            width: rem(68px);
        }
        span {
            font-size: rem($base-font-size - 5);
            font-weight: 700;
        }
    }
    .table-text {
        padding-left: rem(16px);
        font-weight: 700;
        font-size: rem($base-font-size - 1);
        @include media-breakpoint-down(sm){
            text-align: left;
            display: block;
        }
    }
    .unread-row {
        border: 1px solid #5959c4;
        background-color: #efefff;
        color: #3e3b67;
        .date-column {
            span {
                color: #3e3b67;
            }
        }
    }
    .read-row {
        border: 1px solid #cecece;
    }
    .border-b-0 {
        border-bottom: 0;
    }
}
.community-popup{
    .footer-section {
        padding: 0 14px 14px;
        .attachment-link {
            cursor: pointer;
            border-radius: rem(40px);
            background-color: #edefff;
            color: #3f3c6e;
            font-size: rem($base-font-size - 4);
            font-weight: 600;
            display: inline-block;
            padding: 8px 18px;
        }
        .attachment-date {
            color:#8d8d8d;
            font-size: rem($base-font-size - 6);
            font-weight: 600;
            margin: 4px 0 0 4px;
        }
    }
}
.community-calendar {
    width: 100%;
    background-color: #fff !important;
    border: solid 1px #EDEFF4 !important;
    padding: rem(9px 5px);
    font-size: rem($base-font-size - 4);
    font-weight: 600;
    margin-top: rem(2px);
}
/*---------- circular style end ----------*/

/*---------- resources style start ----------*/
.school-policy {
    position: relative;
    margin-right: rem(25px);
    &:before {
        content: '';
        background: path("list-grey.png") no-repeat;
        background-size: contain;
        width: rem(21px);
        height: rem(21px);
        position: absolute;
        top: 0;
        left: 0;
    }
}
.curriculum-policy {
    position: relative;
    margin-right: rem(25px);
    &:before {
        content: '';
        background: path("ic-curriculum-policy-grey.svg", img/svg) no-repeat;
        background-size: contain;
        width: rem(17px);
        height: rem(20px);
        position: absolute;
        top: 0;
        left: 0;
    }
}
.safety-resources {
    position: relative;
    margin-right: rem(25px);
    &:before {
        content: '';
        background: path("ic-safety-resources-grey.svg", img/svg) no-repeat;
        background-size: contain;
        width: rem(18px);
        height: rem(20px);
        position: absolute;
        top: 0;
        left: 0;
    }
}
.contact-number {
    position: relative;
    margin-right: rem(25px);
    &:before {
        content: '';
        background: path("contact.png") no-repeat;
        background-size: contain;
        width: rem(21px);
        height: rem(21px);
        position: absolute;
        top: 0;
        left: 0;
    }
}
.canteen-price-list {
    position: relative;
    margin-right: rem(25px);
    &:before {
        content: '';
        background: url('../img/svg/ic-canteen-price-list-grey.svg') no-repeat;
        background-size: contain;
        width: rem(21px);
        height: rem(21px);
        position: absolute;
        top: 0;
        left: 0;
    }
}

.more-dropdown {
    .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }
    .dropdown-menu {
        transform: translate3d(-46px, 49px, 0px) !important;
        padding: rem(8px) rem(9px);
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }
    .blue-circle {
        width: rem(30px);
        height: rem(30px);
        display: inline-block;
        position: relative;
        border: rem(1px) solid #acacac;
        border-radius: 50%;
        margin-left: rem(6px);
        transition: all 0.2s ease-in-out;
        &:after {
            content: '...';
            position: absolute;
            top: rem(-32px);
            left: rem(2px);
            color: #acacac;
            font-size: rem(44px);
            letter-spacing: rem(-2px);
            transition: color 0.2s ease-in-out;
        }
    }
    &.show {
        .blue-circle {
            margin-left: rem(13px);
            border: rem(1px) solid #1393c3;
            transition: all 0.2s ease-in-out;
            &:after {
                color: #1393c3;
                transition: color 0.2s ease-in-out;
            }
        }
    }
    .more-options {
        display: block;
        color: #acacac;
        border: 1px solid transparent;
        padding: rem(4px) rem(8px);
        margin-bottom: rem(8px);
        font-size: rem($base-font-size - 3px);
        &:hover {
            color: $purple-darken-4;
            border: 1px solid $deep-purple-lighten-5;
            border-radius: rem(15px);
            background-color: $deep-purple-lighten-5;
        }
    }
}

.resources-card {
    a {
        &.btn {
            padding: 0.725rem 1rem;
            box-shadow: none !important;
            background-color: #f2f2f2;
            font-weight: 600 !important;
            margin-right: rem(16px);
            &.active {
                background-color: $deep-purple-darken-2;
                color: $white-base;
            }
            &:active, &:focus {
                box-shadow: none !important;
                background-color: $deep-purple-darken-2;
            }
        }
    }
    .active {
        .school-policy {
            &:before {
                background: url('../img/list.png') no-repeat;
                background-size: contain;
            }
        }
        .curriculum-policy {
            &:before {
                background: url('../img/svg/ic-curriculum-policy.svg') no-repeat;
                background-size: contain;
            }
        }
        .safety-resources {
            &:before {
                background: url('../img/svg/ic-safety-resources.svg') no-repeat;
                background-size: contain;
            }
        }
        .contact-number {
            &:before {
                background: url('../img/contact-white.png') no-repeat;
                background-size: contain;
            }
        }
        .canteen-price-list {
            &:before {
                background: url('../img/svg/ic-canteen-price-list.svg') no-repeat;
                background-size: contain;
            }
        }
    }

    .resource-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav {
            .nav-item {
                @media screen and (min-width: 1165px) and (max-width: 1199px) {
                    &:last-child {
                        display: none;
                    }
                }
                @media screen and (min-width: 656px) and (max-width: 1164px) {
                    &:nth-child(n+4) {
                        display: none;
                    }
                }
                @media screen and (min-width: 484px) and (max-width: 655px) {
                    &:nth-child(n+3) {
                        display: none;
                    }
                }
                @media screen and (max-width: 483px)  {
                    &:nth-child(n+2) {
                        display: none;
                    }
                }
            }
        }
    }

    .tab-content {
        min-height: rem(592px);
    }

    .resource-type-card {
        height: rem(130px);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid #bfcfd8;
        border-radius: rem(8px);
        overflow: hidden;
        margin-bottom: rem(16px);
        .pdf-icon {
            width: rem(49px);
            min-width: rem(49px);
            height: rem(49px);
            position: relative;
            border: rem(1px) solid #603c8d;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: rem(18px);
            &:before {
                content: '';
                background: url('../img/svg/ic-pdf-purple.svg') no-repeat;
                background-size: contain;
                width: rem(26px);
                height: rem(26px);
            }
        }
        .pdf-container {
            color: $deep-purple-darken-4;
            width: calc(100% - 4.5rem);
            .title {
                font-size: rem(18px);
                margin-bottom: rem(3px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .date {
                font-size: rem($base-font-size - 3);
                margin-bottom: rem(9px);
            }
            .content {
                font-size: rem($base-font-size - 3);
                margin-bottom: 0;
                display: block;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
/*---------- resources style end -----------*/