﻿@using Phoenix.Common.Localization
@model IEnumerable<Phoenix.VLE.Web.Models.TerminologyEditorEdit>

@{
    ViewBag.Title = ResourceManager.GetString("TerminologyEditor.TerminologyEditor.Index");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-language-terminology.svg");
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var rnd = DateTime.Now.Ticks.ToString();
}

<div class="container-fluid mt-2 mb-4">
    <div class="row">
        <!-- deligation content start -->
        <div class="col-lg-12 col-md-12 col-12">
            <div class="card language-term-wrapper">
                <div class="card-body column-padding pt-5">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="table-wrapper mt-4">
                                <div class="row mb-3">
                                    <div class="col-lg-9 col-md-9 col-9">
                                        <div class="search-with-bg">
                                            <i class="fa fa-search"></i>
                                            <input type="search" id="TerminologyEditorsListSearch" class="searchfield" placeholder='@ResourceManager.GetString("Shared.Labels.Search")' />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-3">
                                        <div class="float-right">
                                            <button id="btnAddTerminologyEditor" type="button" class="btn btn-primary mr-0 mt-lg-0 mb-0 mt-md-0 waves-effect waves-light">@ResourceManager.GetString("TerminologyEditor.TerminologyEditor.AddNew")</button>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered table-hover table-responsive-md" id="tbl-TerminologyEditors"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- deligation content end -->

    </div>
</div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.OldTerm = '@ResourceManager.GetString("TerminologyEditor.TerminologyEditor.OldTerm")';
        translatedResources.NewTerm = '@ResourceManager.GetString("TerminologyEditor.TerminologyEditor.NewTerm")';
        translatedResources.Terminology = '@ResourceManager.GetString("TerminologyEditor.TerminologyEditor.Terminology")';
    </script>
    <script src="@Url.Content("~/Content/js/custom/TerminologyEditor/TerminologyEditors.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
