
.teacher-portfolio-card {
    &.teacher-create-dp {
        .placeholder-container {
            text-align: center;
            margin: rem(50px 0);
        }
        .about-container {
            .about-section {
                width: 100%;
                p {
                    color: #a8a8a8;
                    font-weight: 500;
                    font-size: rem($base-font-size - 4);  
                }
            }
        }
        .awards-section {
            .border-frame {
                border: 2px dashed #ececec;
                padding: 5px;
            }
        }
        .border-frame {
            text-align: center;
            .award-title {
                color:#888888;
                font-size: rem($base-font-size - 4);  
            }
        }
        .tab-content {
            text-align: center;
            p {
                color:#888888;
            }
            .add-details {
                background-color: #fff;
                border-radius: rem(5.7px);
                border: dashed rem(1px) #5d3195;
                padding: rem(10px 20px 10px);
                margin-bottom: rem(30px);
                &:hover {
                    background: $primary-color;
                    span {
                        color: $white-base;
                    }
                    .svg {
                        path {
                            fill: $white-base;
                        }
                    }
                }
                img {
                    width: rem(19px);
                    height: rem(19px);
                }
                span {
                    color: #5d3195;
                    font-weight: 600;
                    font-size: rem($base-font-size - 3);
                    padding-left: rem(5px);  
                }
                &:focus {
                    outline: none;
                }
                @include media-breakpoint-down(md) {
                    border-radius: 0;
                }
                @include media-breakpoint-down(sm) {
                    border-radius: 0;
                }
            }
        }
    }
} 

.purple-switch {
    .custom-control-input {
        &:focus~.custom-control-label {
            &:before {
                box-shadow: none;
                border-color: #ddd8e3;
            }
        }
    }

    .custom-control-input {
        &:checked~.custom-control-label {
            &:before {
                border-color: #4b316c;
                background-color: $primary-color;
            }
        }
    }
    .custom-control-label {
        &:before {
            height: rem(18px);
            width: rem(29px);
            border-radius: rem(10px);
            background-color: #ddd8e3;
            border: rem(1px) solid #ddd8e3;
        }
    }
    &.custom-switch {
        .custom-control-label {
            &:after {
                top: rem(4px);
                height: rem(17px);
                width: rem(17px);
                background-color: #fff;
                box-shadow: 0 rem(1px) rem(3px) 0 #4b316c;
            }
        }
    }
}

.roundedBtns {
    width: 32px;
    height: 30px;
    border: solid 1px $primary-color;
    text-align: center;
    &:hover {
        background: $primary-color;
        color: $white-base;
        .svg {
            path {
                fill: $white-base;
            }
        }
    }
}