﻿@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@{
    ViewData["Title"] = ResourceManager.GetString("Department.Department.DepartmentTitle");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-list-categories.svg");
    var rnd = DateTime.Now.Ticks.ToString();
    var curriculum = (SelectList)ViewBag.Curriculum;
    var dropdownHtml = ControllerExtension.RenderPartialViewToString(Html.ViewContext.Controller as Controller, "~/Areas/Course/Views/Course/_CurriculumDropdown.cshtml", curriculum);
}

@*<div class="row search-row justify-content-end pb-2">
    <div class="col-12 col-xl-11 col-lg-12 col-md-12 d-flex flex-column flex-md-row justify-content-end ">
        <button id="btnAddDepartment" type="button" class="btn btn-primary m-0 rounded-6x ml-0 ml-md-3"><i class="fa fa-plus mr-2"></i>@ResourceManager.GetString("Department.Department.AddDepartment")</button>
    </div>
</div>*@
<div class="row search-row justify-content-end pb-2">
    <div class="col-12 col-lg-9 col-md-10 d-flex flex-column flex-md-row justify-content-end ">
        <div class="search-with-bg w-responsive mb-2 mb-md-0">
            <span class="icon-search "></span>
            <input type="text" id="inputDepartmentSearch" class="searchfield" placeholder="@ResourceManager.GetString("Shared.Labels.Search")">
        </div>
        <button id="btnAddDepartment" type="button" class="btn btn-primary rounded-6x m-0 ml-0 ml-md-3 mt-md-0"><i class="fa fa-plus mr-2"></i>@ResourceManager.GetString("Department.Department.AddDepartment")</button>
    </div>
</div>
<div class="row grid-view">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card grid-list-card" id="divDepartmentGrid">

        </div>
    </div>
</div>


@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
    @Html.Partial("_CommonJsPartial")
}

@section scripts
{
    <script language="javascript">
        translatedResources.DepartmentTitle = '@ResourceManager.GetString("Department.Department.DepartmentTitle")';
    </script>
    <script>
        var html = `@Html.Raw(dropdownHtml)`;
        $('#breadcrumbActions').html(`
        <div class="justify-content-end row">
            <div>
                ${html}
            </div>
        </div>
    `);
    </script>
    <script src="@Url.Content("~/Content/js/common/LanguageTextEditPopover.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/Department/Department.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}
