﻿@using Phoenix.Common.Localization
@{
    Layout = "~/Views/Shared/_HSELayout.cshtml";
}
@{
    var panelTitle = ResourceManager.GetString("Users.UserList.StaffList");
    ViewData["Title"] = panelTitle;
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-12 m-2">
        <div class="md-form md-outline m-0">
            @Html.DropDownList("SchoolId", ViewBag.SchoolSelectList as SelectList, ResourceManager.GetString("Shared.Labels.Select"), new { @class = "selectpicker", @id = "SchoolId" })
            <label class="active select-label">'@ResourceManager.GetString("Users.UserList.School")'</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">@panelTitle</h3>
                <div class="table-wrapper column-padding ">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-responsive-md" id="tbl-StaffList"></table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.userDisplayName = '@ResourceManager.GetString("Users.UserList.UserDisplayName")';
        translatedResources.userName = '@ResourceManager.GetString("Users.UserList.UserName")';
        
    </script>
    <script src="~/Content/js/common/SchoolMappingCommon.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
    <script src="~/Content/js/custom/Users/StaffList.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>
}
