﻿
@model Phoenix.VLE.Web.EditModels.CertificateEdit
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions

@{
    var file = TempData["File"].ToString();
    //  string baseUrl ="http://localhost:9890/";
    var baseUrl = "http://localhost:9890/pixie/";
    var url = baseUrl + file;
 
    bool value = Convert.ToBoolean(Session["Role"]);
    int Count = Model.count;

}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Image Editor</title>

    <link href="~/pixie/styles.min.css?v20" rel="stylesheet" />
    @*<link rel="stylesheet" href="styles.min.css?v20">*@
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>

    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <style>

        body, html {
            margin: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    @using (Ajax.BeginForm("SaveCertificateData", "Certificate", new AjaxOptions { OnSuccess = "quiz.onSaveSuccess" }, new { id = "frmAddCycle", @class = "form-horizontal" }))
    {
        <div class="modal-body">
            <div class="popup-form">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.CertificateId)
                @Html.HiddenFor(x => x.FieldValue)


                @Html.HiddenFor(x => x.IsAddMode)
                <div class="row">
                    <div class="col-lg-12 col-md-12 col">
                        <div class="md-form md-outline">
                            @Html.TextBoxFor(x => x.CertificateName, new { @class = "form-control" })
                            @Html.LocalizedLabel("active", "StudentInformation.Certificates.CertificateName")
                            @Html.ValidationMessageFor(x => x.CertificateName)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col">
                        <div class="md-form md-outline">
                            @Html.TextBoxFor(x => x.CertificateDescription, new { @class = "form-control" })
                            @Html.LocalizedLabel("active", "StudentInformation.Certificates.CertificateDescription")
                            @Html.ValidationMessageFor(x => x.CertificateDescription)
                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class="modal-footer">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Shared.Buttons.Cancel")</button>
                @if (Html.CurrentPagePermission().CanEdit)
                {
                    <button type="submit" class="btn btn-primary waves-effect waves-light">@ResourceManager.GetString("Shared.Buttons.Save")</button>
                }

            </div>
        </div>
    }

    <pixie-editor>
        <div class="global-spinner">
            <style>
                .global-spinner {
                    display: none;
                    align-items: center;
                    justify-content: center;
                    z-index: 999;
                    background: #fff;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            </style>

            <div class="la-ball-spin-clockwise la-2x">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <script>
            setTimeout(function () {
                var spinner = document.querySelector('.global-spinner');
                if (spinner) spinner.style.display = 'flex';
            }, 50);</script>
    </pixie-editor>
    @*<script src="scripts.min.js?v27"></script>*@
    <script src="~/pixie/scripts.min.v1.js?v27"></script>
    @*<script src="~/Content/js/jquery-3.3.1.min.js?v="+@ResourceManager.GetString("Shared.Version.Js")></script>*@

    
    <script>
        var currentdate = new Date();
        var pixie = new Pixie({
            ui: {
                visible: true,

                theme: 'light',
                allowEditorClose: false,
                allowZoom: true,
                toolbar: {
                    hideSaveButton: false,
                    hide: @value.ToString().ToLower(),
                    hideOpenButton: false,
                    hideCloseButton: false,
                },

            },

            // ENTER CONFIGURATION HERE
            baseUrl: '@baseUrl',
            onLoad: function () {

                var activeObject = pixie.get('activeObject');
                //activeObject.setValues({
                //    backgroundColor: 'blue',
                //    opacity: 0.5
                //});
                console.log(activeObject.canvasState.fabric._iTextInstances[0].text);

            },
            onSave: function (data, name) {
                debugger
                var values = $('#FieldValue').val();
                var activeObject = pixie.get('activeObject');
                var count = activeObject.canvasState.fabric._iTextInstances.length;
             
                if (@Count == count) {
                    for (var i = 0; i < @Count; i++) {
                        var str = values.split(',');
                        {
                            if (str[i] == activeObject.canvasState.fabric._iTextInstances[i].text) {
                                console.log(str[i], activeObject.canvasState.fabric._iTextInstances[i].text);
                                console.log(JSON.stringify(data));
                                //alert(JSON.stringify(data));
                                pixie.http().post('/StudentCertificates/Certificate/Save/', { name: name, data: data }).subscribe(function (response) {
                                })
                            }

                        }

                    };


                }
                else if (@Count > count || @Count<= 0) {
                    let remainingValue = [];
                    for (var i = 0; i < @Count; i++) {
                        var str = values.split(',');
                        {
                            if (activeObject.canvasState.fabric._iTextInstances[i]!=undefined && str[i] == activeObject.canvasState.fabric._iTextInstances[i].text) {
                                console.log(str[i], activeObject.canvasState.fabric._iTextInstances[i].text);
                                console.log(JSON.stringify(data));
                               
                            }
                            else
                            {
                                remainingValue.push(str[i])
                            }


                        }

                    };
                    globalFunctions.showMessage('Add Fields', remainingValue);
                    console.log(remainingValue);

                }
                else {
                    alert("Add remaining fields");
                }

            },
            image:'@url',
            tools: {
                export: {
                    defaultFormat: 'json', //png, jpeg or json
                    defaultName: "image" + currentdate.getDate() +
                        + (currentdate.getMonth() + 1) +
                        + currentdate.getFullYear() +
                        + currentdate.getHours() +
                        + currentdate.getMinutes() +
                        + currentdate.getSeconds(), //default name for downloaded photo file
                    defaultQuality: 0.8, //works with jpeg only, 0 to 1
                }
            }
        });
    </script>
   
</body>
</html>
