﻿@model IEnumerable<Phoenix.VLE.Web.EditModels.CertificateEdit>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers.Extensions
@using Phoenix.Common.Helpers

@{
    ViewBag.Title = ResourceManager.GetString("StudentInformation.Certificates.Certificates");
    ViewData["PageIcon"] = Url.Content("~/content/vle/img/svg/ic-quiz.svg");
    var rnd = DateTime.Now.Ticks.ToString();
    var admin = SessionHelper.CurrentSession.IsAdmin;
}



<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body column-padding pt-3 pb-3" id="card_body">

                <div class="row">
                    @Html.AntiForgeryToken()
                    <div class="col-lg-8 col-md-8 col-8">
                        <div class="search-with-bg">
                            <i class="fa fa-search"></i>
                            <input type="search" id="QuizListSearch" class="searchfield" placeholder="Search" />
                        </div>
                    </div>
                    @if (ViewBag.IsCustomPermission && !admin)
                    {
                        <div class="col-lg-4 col-md-4 col-4">
                            <div class="float-right">
                                <button onclick="window.location.href='/StudentCertificates/Certificate/AddEditCertificate'" class="btn btn-primary btn-sm m-0">@ResourceManager.GetString("Assignment.Assignment.ArchiveAssignment")<i class="fas fa-eye ml-2"></i></button>
                                @*<button id="btnAddQuiz" type="button" class="btn btn-primary waves-effect waves-light">@ResourceManager.GetString("Quiz.Quiz.AddQuiz")</button>*@
                            </div>
                        </div>
                    }
                    
                </div>
                <div class="table-wrapper mt-2">
                    <table class="table table-bordered table-hover table-responsive-md" id="tbl-Quiz"></table>
                </div>
            </div>

        </div>
    </div>
</div>



@section pageplugins{
    @Html.Partial("_DataPageLibrariesPartial")
}
@section scripts
{
    <script language="javascript">
        translatedResources.CertificateName= '@ResourceManager.GetString("StudentInformation.Certificates.CertificateName")';
        translatedResources.CertificateDescription = '@ResourceManager.GetString("StudentInformation.Certificates.CertificateDescription")';
        translatedResources.CertificateId= '@ResourceManager.GetString("StudentInformation.Certificates.CertificateId")';

        @*translatedResources.QuizTaskEditValidationMessage= '@ResourceManager.GetString("Quiz.Quiz.QuizTaskEditValidationMessage")';
        translatedResources.QuizTaskDeleteValidationMessage= '@ResourceManager.GetString("Quiz.Quiz.QuizTaskDeleteValidationMessage")';
        translatedResources.DeletedSuccessfully= '@ResourceManager.GetString("Quiz.Quiz.DeletedSuccessfully")';*@
    </script>
    <script src="@Url.Content("~/Content/js/addons/jquery.minicolors.min.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
    <script src="@Url.Content("~/Content/js/custom/StudentInformation/Certificate.js?v="+@ResourceManager.GetString("Shared.Version.Js"))"></script>
}