﻿@model List<Phoenix.Models.Entities.ExemplarUserDetails>
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers

@{
    bool IsPostDisplay = false;
    var clsMyExeplarWork = "";
    var studentprofilecounter = 0;
}

<input value="@Model.Count" type="hidden" id="NumberOfExemplars" />
<input value="20" type="hidden" id="LimitForRecords" />

@if (Model.Count == 0)
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <span class="no-data-found text-bold d-block mx-auto my-5">
                        @string.Format(ResourceManager.GetString("School.ExemplarWall.NoDataDisplayMessage"), ResourceManager.GetString("School.ExemplarWall.ExemplarPost").ToLower())
                    </span>
                </div>
            </div>
        </div>
    </div>
}
<div id="ExemplarList" class="grid">


    @foreach (var b in Model)
    {
        IsPostDisplay = false;
        if (SessionHelper.CurrentSession.IsTeacher())
        {
            IsPostDisplay = true;
        }
        else if (!SessionHelper.CurrentSession.IsTeacher() && (b.IsCourseWall == true && b.ApproveStatus))
        {
            IsPostDisplay = true;
        }
        else if (!SessionHelper.CurrentSession.IsTeacher() && (b.IsCourseWall == false && b.ApproveStatus))
        {
            IsPostDisplay = true;
        }
        if (IsPostDisplay == true)
        {
            string result = b.PostTitle.Trim();
            var firstThityChars = result.Length <= 30 ? result : result.Substring(0, 30) + "...";

            string result2 = "";
            var description = "";
            var IsDisplay = false;
            if (!string.IsNullOrEmpty(b.PostDescription))
            {
                result2 = b.PostDescription;
                description = result2.Length <= 115 ? result2 : result2.Substring(0, 115);
                IsDisplay = result2.Length <= 115 ? false : true;
            }


            var IsCustomPermission = Session["CanEdit"] != null ? Convert.ToBoolean(Session["CanEdit"]) : false;

            clsMyExeplarWork = "";
            if (b.MyExeplarWork == 1)
            {
                clsMyExeplarWork = "border: 1px solid #7000ff;";
            }
            //sortorder = "@b.SortOrder"
            <div class="item" data-id="@b.ExemplarWallId">
                <div class=" card exemplar-card" style="@clsMyExeplarWork">
                    <div class="card-header bg-transparent border-0">
                        @if ((SessionHelper.CurrentSession.IsAdmin || SessionHelper.CurrentSession.IsTeacher()) && b.ApproveStatus)
                        {
                            <div class="action-dropdown">
                                <button type="button" class="dot-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>

                                <div class="dropdown-menu dropdown-menu-right">

                                    <a href="javascript:void(0)" onclick="exemplar.loadAddEditPopup($(this),@b.ExemplarWallId)" class="dropdown-item text-dark text-medium actionTrigger editEntry" data-toggle="modal" data-target="#EditWorkPost">
                                        <img src="~/Content/img/svg/pencil.svg">
                                        <span class="d-flex">@ResourceManager.GetString("Exemplar.Labels.EditPost")</span>
                                    </a>

                                    <a href="javascript:void(0)" class="dropdown-item text-dark text-medium" onclick="exemplar.deleteExemplar($(this),@b.ExemplarWallId,@b.CreatedBy)" data-toggle="modal" data-target="#DeleteModelPopup">
                                        <img src="~/Content/img/svg/delete.svg">
                                        <span class="d-flex">@ResourceManager.GetString("Shared.Buttons.Delete")</span>
                                    </a>
                                </div>
                            </div>
                        }

                        <h6 class="text-bold text-color-purple font-16" title=@b.PostTitle>@firstThityChars</h6>
                        <p class="text-semibold date-text">@b.CreatedOn</p>
                        <div>
                            @if (b.studentList.Count() >= 1)
                            {
                                List<Phoenix.Models.Entities.TaggedStudentList> AssignedStudentList = new List<Phoenix.Models.Entities.TaggedStudentList>();

                                int indexa = b.studentList.IndexOf(b.studentList.Where(x => x.MyExeplarWork == 1).FirstOrDefault());
                                if (indexa > 0)
                                {
                                    var studentdetail = b.studentList.Where(x => x.MyExeplarWork == 1).FirstOrDefault();
                                    b.studentList.Remove(b.studentList.Where(x => x.MyExeplarWork == 1).FirstOrDefault());

                                    AssignedStudentList.Add(studentdetail);
                                    AssignedStudentList.InsertRange(1, b.studentList);
                                    //  b.studentList.Insert(indexa, b.studentList.FirstOrDefault());
                                }
                                else
                                {
                                    AssignedStudentList = b.studentList;
                                }

                                <div class="d-flex align-items-center flex-wrap">
                                    <p class="text-dark text-medium mr-2 mb-0">@ResourceManager.GetString("Exemplar.Labels.With")</p>
                                    @foreach (var student in AssignedStudentList)
                                    {

                                        var IsMyExemplarWorkIndecator = "teacher-detail mr-2";
                                        if (studentprofilecounter < 2)
                                        {
                                            studentprofilecounter++;
                                            var StudentName = @student.FirstName + " " + @student.LastName;
                                            StudentName = StudentName.Length <= 8 ? StudentName : StudentName.Substring(0, 8) + "..";

                                            if (student.MyExeplarWork == 1)
                                                IsMyExemplarWorkIndecator = "teacher-detail teacher-detail-online";

                                            <div class="@IsMyExemplarWorkIndecator">
                                                <img src="@student.UserImageFilePath" class="teacher-image">
                                                <p class="teacher-name text-semibold" data-toggle="tooltip" title="@student.FirstName  @student.LastName">@StudentName</p>
                                            </div>
                                            IsMyExemplarWorkIndecator = "";
                                        }
                                    }
                                    @if (AssignedStudentList.Count() > 2)
                                    {
                                        var Count = (AssignedStudentList.Count() - 2) + "+ ";
                                        <div class="dropleft withOverlay">
                                            <a href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-more font-small text-bold ">@Count @ResourceManager.GetString("Shared.Labels.More")</a>
                                            <div class="dropdown-menu z-depth-1 border-0 p-0" style="width:240px">
                                                <div class="subject-list column-padding py-3">
                                                    @for (int i = 2; i < AssignedStudentList.Count(); i++)
                                                    {
                                                        var StudentName = AssignedStudentList[i].FirstName + " " + AssignedStudentList[i].LastName;
                                                        StudentName = StudentName.Length <= 15 ? StudentName : StudentName.Substring(0, 15) + "..";

                                                        <div class="d-flex align-items-center mb-3 border-bottom pb-2 ">
                                                            <div class="defaultAvatar rounded-circle overflow-hidden mr-2">
                                                                <img src="@AssignedStudentList[i].UserImageFilePath" class="img-fluid rounded-circle mCS_img_loaded">
                                                            </div>
                                                            <div class="student-info flex-1 d-flex align-items-center justify-content-between">
                                                                <span data-toggle="tooltip" title="@AssignedStudentList[i].FirstName  @AssignedStudentList[i].LastName" class="text-bold font-small">@StudentName</span>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @{
                                        studentprofilecounter = 0;
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="wall-carousel owl-carousel owl-theme">
                            @if (!string.IsNullOrEmpty(b.AdditionalDocPath))
                            {
                                //if (Phoenix.Common.Helpers.CommonHelper.CheckImageExtension(b.AdditionalDocPath))
                                if (!string.IsNullOrEmpty(b.AdditionalDocPath))
                                {
                                    String[] ImagesArray = b.AdditionalDocPath.Split(',');
                                    var fileIcon = String.Empty;
                                    var fileClass = String.Empty;

                                    foreach (var image in ImagesArray)
                                    {
                                        var IsImageFile = false;
                                       // var filePath = image;
                                        var filePath = Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(image) : image;
                                        if (filePath.Contains(".pdf"))
                                        {
                                            fileIcon = "/Content/VLE/img/svg/file-type-pdf.svg";
                                            fileClass = "file-type-pdf";
                                        }
                                        else if (filePath.Contains(".xls") || filePath.Contains(".xlsx"))
                                        {
                                            fileIcon = "/Content/VLE/img/svg/file-type-excel.svg";
                                            fileClass = "file-type-excel";
                                        }
                                        else if (filePath.Contains(".doc") || filePath.Contains(".docx"))
                                        {
                                            fileIcon = "/Content/VLE/img/svg/file-type-word.svg";
                                            fileClass = "file-type-word";
                                        }
                                        else if (filePath.Contains(".mp3"))
                                        {
                                            fileIcon = "/Content/VLE/img/svg/file-type-audio.svg";
                                            fileClass = "file-type-audio";
                                        }
                                        else if (filePath.Contains(".ppt"))
                                        {
                                            fileIcon = "/Content/VLE/img/svg/file-type-ppt.svg";
                                            fileClass = "file-type-ppt";
                                        }
                                        else if (filePath.Contains(".jpg") || filePath.Contains(".JPG"))
                                        {
                                            if (SessionHelper.CurrentSession.IsParent())
                                            {
                                                fileIcon = "/Content/VLE/img/svg/file-type-jpg.svg";
                                            }
                                            else
                                            {
                                                fileIcon = filePath;
                                            }
                                            fileClass = "file-type-jpg";
                                            IsImageFile = true;
                                        }
                                        else if (filePath.Contains(".jpeg") || filePath.Contains(".JPEG"))
                                        {
                                            if (SessionHelper.CurrentSession.IsParent())
                                            {
                                                fileIcon = "/Content/VLE/img/svg/file-type-jpeg.svg";
                                            }
                                            else
                                            {
                                                fileIcon = filePath;
                                            }
                                            fileClass = "file-type-jpg";
                                            IsImageFile = true;
                                        }
                                        else if (filePath.Contains(".png") || filePath.Contains(".PNG"))
                                        {
                                            if (SessionHelper.CurrentSession.IsParent())
                                            {
                                                fileIcon = "/Content/VLE/img/svg/file-type-png.svg";
                                            }
                                            else
                                            {
                                                fileIcon = filePath;
                                            }
                                            fileClass = "file-type-png";
                                            IsImageFile = true;
                                        }
                                        else if (filePath.Contains(".gif"))
                                        {
                                            fileIcon = "/Content/VLE/img/svg/file-type-gif.svg";
                                            fileClass = "file-type-gif";
                                        }
                                        else
                                        {
                                            fileIcon = "/Content/VLE/img/svg/file-type-unknown.svg";
                                            fileClass = "file-type-unknown";
                                        }

                                        if (IsImageFile == true)
                                        {
                                            if (SessionHelper.CurrentSession.IsParent())
                                            {
                                                <div class="image-container">
                                                    <img src="@fileIcon" class="h-auto w-25 mx-auto my-5">
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="image-container">
                                                    <img src="@fileIcon" style="height: 219px;">
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="image-container">
                                                <img src="@fileIcon" class="h-auto w-25 mx-auto my-5">
                                            </div>
                                        }

                                    }

                                }
                                if (!string.IsNullOrWhiteSpace(b.EmbededVideoLink))
                                {
                                    var embedLink = b.EmbededVideoLink.StartsWith("http://") || b.EmbededVideoLink.StartsWith("https://") ? b.EmbededVideoLink : "//" + b.EmbededVideoLink;
                                    <div class="image-container">
                                        <span style="height: 219px;display: flex;">
                                            @Html.Raw(b.EmbededVideoLink)
                                        </span>
                                    </div>
                                }
                            }
                            else if (!string.IsNullOrWhiteSpace(b.EmbededVideoLink))
                            {
                                var embedLink = b.EmbededVideoLink.StartsWith("http://") || b.EmbededVideoLink.StartsWith("https://") ? b.EmbededVideoLink : "//" + b.EmbededVideoLink;
                                <div class="image-container">
                                    <span style="height: 219px;">
                                        @Html.Raw(b.EmbededVideoLink)
                                    </span>
                                </div>
                            }
                        </div>
                        <div>
                            @if (!string.IsNullOrWhiteSpace(b.ReferenceLink))
                            {
                                if (b.ReferenceLink.Contains("http") || b.ReferenceLink.Contains("https"))
                                {
                                    <center>
                                        <a href="@b.ReferenceLink" target="_blank"> <p class="text-semibold grey-text">@b.ReferenceLink</p></a>
                                    </center>
                                }
                                else
                                {
                                    var newUrl = "//" + b.ReferenceLink;
                                    <center>
                                        <a href="@newUrl" target="_blank"> <p class="text-semibold grey-text">@b.ReferenceLink</p></a>
                                    </center>
                                }
                            }
                        </div>
                    </div>

                    <div class="card-footer bg-transparent border-0">

                        @if (!string.IsNullOrWhiteSpace(b.PostDescription))
                        {
                            <p class="text-medium read-more">

                                @if (IsDisplay == true)
                                {
                                    <span>@description ...</span>
                                    <button class="btn-link icon-btn text-semibold readmore" data-val="@b.PostDescription" data-toggle="modal" data-target="#ReadMoreModel">@ResourceManager.GetString("Shared.Buttons.ReadMore") </button>

                                }
                                else
                                {

                                    <span>@b.PostDescription</span>
                                }
                            </p> @*data - toggle = "modal" data - target = "#ReadMoreModel"*@
                            <div class="d-flex justify-content-between justify-content-center mb-3">
                                <span class="text-semibold grey-text">@ResourceManager.GetString("Exemplar.Labels.FeaturedIn")</span>
                                @if (!string.IsNullOrEmpty(b.AdditionalDocPath) && !SessionHelper.CurrentSession.IsTeacher())
                                {
                                    String[] ImagesArray = b.AdditionalDocPath.Split(',');
                                    if (ImagesArray.Count() > 0)
                                    {
                                        <a class="btn-link ml-4 btnViewAttachment font-small text-primary text-semibold" 
                                           data-filenames="@b.FileNames" data-additionaldocpath="@b.AdditionalDocPath" data-shareablelink="@b.ParentSharableLink"
                                           data-toggle="modal" title="@ResourceManager.GetString("Exemplar.ContentResource.Attachment")" data-target="#ViewAttachmentModel"><i class="fas fa-paperclip mr-2"></i></a>
                                    }
                                }
                            </div>

                            <div class="d-flex align-items-center flex-wrap">
                                @if (b.IsDepartmentWall==true && b.DepartmentName != null && !string.IsNullOrEmpty(b.DepartmentName))
                                {
                                    <p class="category mr-3">
                                        <img src="~/Content/VLE/img/svg/department-wall.svg">
                                        @b.DepartmentName
                                    </p>

                                }

                                @if (b.IsCourseWall == true && b.AssignedCourse != null && !string.IsNullOrEmpty(b.AssignedCourse.Cor_Title))
                                {
                                    <p class="category">
                                        <img src="~/Content/VLE/img/svg/course-wall.svg">
                                        @b.AssignedCourse.Cor_Title
                                    </p>

                                }
                            </div>
                        }


                    </div>

                </div>
            </div>
        }
    }
</div>

<div class="modal fade popup-purple-shade" id="DeleteModelPopup" style="display:none;" tabindex="-1" role="dialog" aria-labelledby="DeleteModelPopup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <span class="delete-warning"></span>
                    <h4 class="text-semibold mt-4 mb-4 text-center">@ResourceManager.GetString("Exemplar.Resources.AreyouSure")</h4>
                    <h6 class="text-medium text-center">@ResourceManager.GetString("Exemplar.Resources.NotRecoveryAlert")</h6>
                </div>

                <div id="blogFormDelete">

                    <div class="popup-form">
                        <div class="row" id="IsSelfCreator">
                            <div class="col-12">
                                <div class="md-outline mb-4">
                                    <label for="Description" class="text-semibold">@ResourceManager.GetString("School.Blog.Description")</label>
                                    @Html.TextArea("DeleteReason", null, new { @rows = 3, @class = "form-control" })

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer d-flex justify-content-around border-0 pt-0">
                <button type="button" class="btn btn-outline-primary waves-effect waves-light" data-dismiss="modal">@ResourceManager.GetString("Exemplar.Labels.NoCancelIt") </button>
                <button type="button" class="btn btn-primary OkToDelete waves-effect waves-light delete" data-dismiss="modal">@ResourceManager.GetString("Exemplar.Labels.YesDeleteIt")  </button>
            </div>
        </div>
    </div>
</div>
<script>
    if (document.getElementsByClassName('subject-list').length > 0) {
        $(".subject-list").mCustomScrollbar({
            setHeight: "200px",
            autoExpandScrollbar: true,
            autoHideScrollbar: true,
            scrollbarPosition: "inside"
        });
    }
</script>


