﻿@model Phoenix.Models.Entities.ExemplarWallModel


@if (!string.IsNullOrWhiteSpace(Model.PostDescription))
{
    <div>
        <p class="text-medium read-more mt-3 ml-3">
            @Model.PostDescription
        </p>
    </div>
}




