﻿@model Phoenix.Models.Entities.ExemplarWallModel
@using Phoenix.Common.Helpers
@{
    int Counter = 0;
    var SchoolCode = "";
    bool IsParent = false;
}

@if (SessionHelper.CurrentSession.IsParent())
{
    Model.AdditionalDocPath = Model.ParentSharableLink;
    SchoolCode= SessionHelper.CurrentSession.SchoolCode;
IsParent= SessionHelper.CurrentSession.IsParent();
}

@if (!string.IsNullOrWhiteSpace(Model.AdditionalDocPath))
{
    String[] LinkArray = Model.AdditionalDocPath.Split(',');
    String[] FileNames = null;
    if (!string.IsNullOrEmpty(Model.FileNames))
    {
        FileNames = Model.FileNames.Split(',');
    }
    //w-25 mx-auto my-5
    var fileIcon = String.Empty;
    var fileClass = String.Empty;
    var filePath = String.Empty;
    var fileName = String.Empty;
    <div id="imgExist">
        <div class="column-padding py-3 attachment-list link-cards rounded-2x">
            <div class="row ">
                @{
                    foreach (var link in LinkArray)
                    {
                        if (Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage)
                        {
                            filePath = Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(link);
                        }
                        else
                        {
                            filePath = link;
                        }
                        if (string.IsNullOrEmpty(Model.FileNames))
                        { fileName = Path.GetFileName(filePath); }
                        else
                        {
                            fileName = FileNames[Counter];
                        }
                        if (fileName.Contains(".pdf"))
                        {
                            fileIcon = "/Content/VLE/img/svg/file-type-pdf.svg";
                            fileClass = "file-type-pdf";
                        }
                        else if (fileName.Contains(".xls") || fileName.Contains(".xlsx"))
                        {
                            fileIcon = "/Content/VLE/img/svg/file-type-excel.svg";
                            fileClass = "file-type-excel";
                        }
                        else if (fileName.Contains(".doc") || fileName.Contains(".docx"))
                        {
                            fileIcon = "/Content/VLE/img/svg/file-type-word.svg";
                            fileClass = "file-type-word";
                        }
                        else if (fileName.Contains(".mp3"))
                        {
                            fileIcon = "/Content/VLE/img/svg/file-type-audio.svg";
                            fileClass = "file-type-audio";
                        }
                        else if (fileName.Contains(".ppt"))
                        {
                            fileIcon = "/Content/VLE/img/svg/file-type-ppt.svg";
                            fileClass = "file-type-ppt";
                        }
                        else if (fileName.Contains(".jpg") || fileName.Contains(".JPG"))
                        {
                            fileIcon = "/Content/VLE/img/svg/file-type-jpg.svg";
                            fileClass = "file-type-jpg";
                        }
                        else if (fileName.Contains(".jpeg") || fileName.Contains(".JPEG"))
                        {
                            fileIcon = "/Content/VLE/img/svg/file-type-jpg.svg";
                            fileClass = "file-type-jpg";
                        }
                        else if (fileName.Contains(".png") || fileName.Contains(".PNG"))
                        {
                            fileIcon = "/Content/VLE/img/svg/file-type-png.svg";
                            fileClass = "file-type-jpg";
                        }
                        else if (fileName.Contains(".gif"))
                        {
                            fileIcon = "/Content/VLE/img/svg/file-type-gif.svg";
                            fileClass = "file-type-gif";
                        }
                        else
                        {
                            fileIcon = "/Content/VLE/img/svg/file-type-unknown.svg";
                            fileClass = "file-type-unknown";
                        }
                        //fileName = Path.GetFileName(filePath);

                        Counter++;

                        <div class="col-12 col-lg-4">
                            <div class="card rounded-2x">

                                <div id="@Counter">
                                    <a class="attachedFile overflow-hidden d-flex align-items-center justify-content-center @fileClass" href="@filePath" target="_blank" data-assignmentId="" data-id="" data-uploadedPath="" data-fileName="">
                                        <img src="@fileIcon" class="svg" />
                                    </a>
                                    <div class="card-body position-relative">
                                        <h4 class="card-title overflow-hidden px-0 mx-3 py-3" data-toggle='tooltip' data-placement='top' title='@fileName'>
                                            @fileName
                                        </h4>
                                        <a onclick="globalFunctions.downloadSharepointFile('@fileName','@string.Format("{0}",Phoenix.VLE.Web.Helpers.FunctionalConfig.IsAzureBlobStorage ? Phoenix.VLE.Web.Helpers.AzureBlobStorageHelper.GetBlobUri(filePath) : (filePath).Replace("\'","%27"))','@SchoolCode','@Convert.ToString(SessionHelper.CurrentSession.IsParent())','3')" 
                                           class="deleteFile bg-white position-absolute d-flex align-items-center justify-content-center rounded-circle" data-toggle="tooltip" data-placement="top" title="Download">
                                            <img src="/Content/VLE/img/svg/ic-download.svg" alt="" class="svg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}







