﻿<!-- subject display settings start -->
@using Phoenix.Common.Localization
@model SMS.Web.Areas.SMS.Model.BehaviourActionFollowup

@{ string selectText = @ResourceManager.GetString("Shared.Labels.Select");}
<div class="row">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">@ResourceManager.GetString("SIMS.Action.MoreAction")</h3>
                @using (Ajax.BeginForm("SaveBehaviourActionFollowUp", "Incident", new AjaxOptions { OnFailure = "BehaviourAction.onFailure", OnSuccess = "BehaviourAction.showSuccessAndGetFollowUp", OnBegin = "return common.validateAjaxForm('frmAddEditActionFollowUp')" }, new
                {
                    id = "frmAddEditActionFollowUp",
                    @class = "column-padding pt-3"
                }))
                {
                    @Html.HiddenFor(x => x.ActionId, new { id = "FollowUpActionId" })
                    @Html.HiddenFor(x => x.IncidentId, new { id = "FollowUpIncidentId" })
                    @Html.HiddenFor(x => x.ActionDate)
                    @Html.HiddenFor(x => x.Action_CurrentUser_DesignationId)
                    @Html.AntiForgeryToken()
                    <div class="column-padding pt-3 pb-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="custom-control custom-checkbox custom-control-inline mr-5">
                                    <input type="checkbox" class="custom-control-input" id="otherDetailsRight">
                                    <label class="custom-control-label" for="otherDetailsRight">@ResourceManager.GetString("SIMS.Action.FollowUp")</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div id="formShowHide">
                            <div class="row mb-3">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="md-form md-outline mb-0">
                                        @Html.DropDownList("Action_FollowupBy_Designation_Id", (SelectList)ViewBag.designationList, selectText, new { @class = "selectpicker", id = "ddlDesignation", @data_required = "" })
                                        <label class="active select-label" for="ddlDesignation">@ResourceManager.GetString("SIMS.Action.ForwardToSff")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="md-form md-outline mb-0">
                                        @Html.DropDownList("Action_FollowupBy_Id", new SelectList(string.Empty), selectText, new { id = "ddlStaffList", @class = "selectpicker", @data_required = "" })
                                        <label class="active select-label">@ResourceManager.GetString("SIMS.Action.SelectSff")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="md-form md-outline mb-3">
                                        <textarea id="otherComments" name="Action_Followup_Remarks" type="text" class="form-control" data-required data-alphanumeric data-maxlength="200"></textarea>
                                        <label for="otherComments">@ResourceManager.GetString("SIMS.Action.Comment")</label>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-12">
                                </div>
                                <div class="col-lg-8 col-md-8 col-12 text-center">
                                    <button class="btn btn-primary btn-block" type="submit">@ResourceManager.GetString("SIMS.Action.BtnSaveAction")</button>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- subject display settings end -->
<script>
    $(document).ready(() => {
        $('#ddlDesignation').on('change', () => {
            var designation = $('#ddlDesignation').val();
            if (designation != '')
                BehaviourAction.getFollowUpStaffList(designation);
        });
        $('#otherDetailsRight').on('change', () => {
            if ($('#otherDetailsRight')[0].checked) {
                $('#formShowHide').show();
            } else {
                $('#formShowHide').hide();
            }
        });
        $('#formShowHide').hide();
    });
</script>