﻿<!-- right drawer start -->
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@model Phoenix.Models.Entities.ActionModel
@{ string selectText = ResourceManager.GetString("Shared.Labels.Select");}
<div id="ActionSideDrawer" class="right-drawer actionDrawer z-depth-1">
    <div class="right-drawer-container">
        <div class="row column-padding pt-3 pb-3 border-bottom drawer-header">
            <div class="col-lg-11 col-md-11 col-11">
                <h2 class="m-0">@ResourceManager.GetString("Behaviour.Action.Header")</h2>
            </div>
            <div class="col-lg-1 col-md-1 col-1 text-right">
                <a href="javascript:void(0)" class="closeRightDrawer"><i class="fas fa-times"></i></a>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12 col-md-12 col-12 ">
                <div class="custom-scroll-container">
                    <div class="row column-padding pt-3">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="student-details-widget">
                                <article class="d-flex pb-3 border-bottom">
                                    <div class="student-img border">
                                        <img src="@string.Concat(Constants.StudentImagesPath,Model.Student.Student_Image_url)" alt="@Model.Student.STUDENT_NAME" class="img-fluid">
                                    </div>
                                    <div class="student-info flex-1 ml-3">
                                        <h3>@Model.Student.STUDENT_NAME</h3>
                                        <h3 class="mb-0">@Model.Student.GRADE - @Model.Student.SECTION</h3>
                                        <p class="mb-0">@Model.Student.STUDENT_NO</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="student-group-settings">

                        <!--Main Action Taken settings starts-->
                        @using (Ajax.BeginForm("SaveBehaviourAction", "Incident", new AjaxOptions { OnFailure = "BehaviourAction.onFailure", OnSuccess = "BehaviourAction.onActionSaveSuccess" }, new
                        {
                            @area = "Behaviour",
                            id = "frmAddEditAction",
                            enctype = "multipart/form-data",
                            @class = "column-padding pt-3"
                        }))
                        {
                            @Html.HiddenFor(x => x.IncidentId)
                            @Html.HiddenFor(x => x.StudentId)
                            @Html.Hidden("StudentInvolvedId", Model.ActionDetails.Count() > 0 ? Model.ActionDetails.FirstOrDefault().StudentInvolvedId : 0)
                            @Html.AntiForgeryToken()
                            for (int i = 0; i < Model.ActionDetails.Count(); i++)
                            {
                                var item = Model.ActionDetails.ElementAt(i);
                                @Html.Hidden("ActionDetails[" + i + "].StudentInvolvedId", item.StudentInvolvedId)
                                @Html.Hidden("ActionDetails[" + i + "].ActionTypeId", item.ActionTypeId)
                                @Html.Hidden("ActionDetails[" + i + "].CreatedBy", SessionHelper.CurrentSession.Id)
                                <div class="row">
                                    <fieldset class="col-12">
                                        <legend class="sub-heading">
                                            @item.ActionTypeDesc
                                        </legend>
                                        <div class="col-lg-6 col-md-6 col-6 pr-0 mr-0 mb-3">
                                            <div class="md-outline mb-3">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    @Html.RadioButton("ActionDetails[" + i + "].ActionDone", true, item.ActionDone, new { id = "ActionDoneYes" + i, @class = "custom-control-input", @data_txtId = "txt" + i })
                                                    <label class="custom-control-label" for="@string.Concat("ActionDoneYes",i)">@ResourceManager.GetString("Behaviour.Action.Yes")</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    @Html.RadioButton("ActionDetails[" + i + "].ActionDone", false, !item.ActionDone, new { id = "ActionDoneNo" + i, @class = "custom-control-input", @data_txtId = "txt" + i })
                                                    <label class="custom-control-label" for="@string.Concat("ActionDoneNo",i)">@ResourceManager.GetString("Behaviour.Action.No")</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-6 pr-0 mr-0 mb-3">
                                            <div class="md-form md-outline date-time-picker field-with-icon mb-0 mt-0">
                                                <i class="far fa-calendar-alt active"></i>
                                                @Html.TextBox("ActionDetails[" + i + "].ActionDate", item.ActionDate, new { placeholder = ResourceManager.GetString("Behaviour.Action.DatePlaceHolder"), @class = "form-control date-picker", id = "txt" + i + "calleddateRight", disabled = "disabled" })
                                                <label for="calleddateRight" class="active">@ResourceManager.GetString("Behaviour.Action.Date")</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                if (item.IsCommentRequired)
                                {
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="md-form md-outline mb-3">
                                                @Html.TextArea("ActionDetails[" + i + "].ReportComment", item.ReportComment, new { id = "txt" + i + "whatWasSaid", @class = "form-control", disabled = "disabled" })
                                                <label for="whatWasSaid" class="active">@ResourceManager.GetString("Behaviour.Action.WhatWasSaid")</label>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                }

                            }
                            <div class="row mb-2">
                                <div class="col-lg-2 col-md-2 col-12">

                                </div>
                                <div class="col-lg-8 col-md-8 col-12">
                                    <button class="btn btn-primary btn-block" type="submit">@ResourceManager.GetString("Behaviour.Action.BtnUpdate")</button>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12">

                                </div>
                            </div>
                        }
                        <!-- subject display settings start -->
                        <div id="followUpForm"></div>
                        <!-- subject display settings end -->
                        <!--Main Action Taken settings ends-->
                        <!-- subject list grid start -->
                        <div class="row column-padding pt-3">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="column-padding p-0">
                                            <div id="followUpDiv">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- subject list grid end -->
                    </div>
                </div>
            </div>
        </div>
        <div class="drawer-footer d-none">
            @*<a href="#" class="drawer-footer-link pt-3 pb-3">@ResourceManager.GetString("Behaviour.Action.ParentsInterviewed")Save</a>*@
        </div>
    </div>
</div>
<!-- right drawer end -->

