﻿@model IEnumerable<Phoenix.Models.Entities.ChartModel>
@using Phoenix.Common.Localization
@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}

@if (Model.Any())
{
    <canvas id="attendChart"></canvas>
}
else
{
    <div class="col-lg-12 col-md-12 col-12">
        <span class="no-data-found text-bold d-block mx-auto my-auto">
            @ResourceManager.GetString("Behaviour.StudentOnReport.NoDataFound")   
        </span>
    </div>
}


<script>
    $(document).ready(function () {
        //-------- Column chart ---------
        //Get the context of the Chart canvas element we want to select
        var ctx = $("#attendChart");
        ctx.height(350);
        arrayLabel = @Html.Raw(Json.Encode(@Model.OrderBy(x => x.GRADE).Select(s => s.GRADE).ToList()));

        arrayData = @serializer.Serialize(@Model.OrderBy(x => x.GRADE).Select(s => s.IncidentCount).ToList());

        //arrayOfObj = arrayLabel.map(function (d, i) {
        //    return {
        //        label: d,
        //        data: arrayData[i] || 0
        //    };
        //});

        //sortedArrayOfObj = arrayOfObj.sort((a, b) => a.data - b.data);

        //newArrayLabel = [];
        //newArrayData = [];
        //sortedArrayOfObj.forEach(function (d) {
        //    newArrayLabel.push(d.label);
        //    newArrayData.push(d.data);
        //});
        // Chart Options
        // Chart Data
        var chartData = {
            labels: arrayLabel,
            datasets: [{
                label: "Count",
                data: arrayData,
                backgroundColor: "#4981FD",
                hoverBackgroundColor: "#4981FD",
                borderColor: "transparent",
                borderWidth: 0,
                order: 1
            }]
        };
        var chartOptions = {
            // Elements options apply to all of the options unless overridden in a dataset
            // In this case, we are setting the border of each bar to be 2px wide and green
            elements: {
                rectangle: {
                    borderWidth: 1,
                    borderColor: 'rgb(0, 255, 0)',
                    borderSkipped: false
                }
            },
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 0,
                    bottom: 0
                }
            },
            responsive: true,
            maintainAspectRatio: false,
            responsiveAnimationDuration: 500,
            legend: {
                display: true,
                position: 'bottom',
                labels: {
                    boxWidth: 10,
                    usePointStyle: false
                },
            },
            scales: {
                xAxes: [{
                    display: true,
                    gridLines: {
                        color: "#f3f3f3",
                        drawTicks: true,
                    },
                    scaleLabel: {
                        display: true,
                    },
                    barThickness: 15
                }],
                yAxes: [{
                    display: true,
                    gridLines: {
                        color: "#f3f3f3",
                        drawTicks: true,
                    },
                    scaleLabel: {
                        display: true,
                    },
                    ticks: {
                      max: Math.max(...chartData.datasets[0].data) + 10,
                      beginAtZero: true
                    }
                }]
            },
            tooltips: {
                enabled: true
            },
            hover: {
                animationDuration: 1
            },
            animation: {
                duration: 1,
                onComplete: function () {
                    var chartInstance = this.chart,
                        ctx = chartInstance.ctx;
                    ctx.textAlign = 'center';
                    ctx.fillStyle = "rgba(0, 0, 0, 1)";
                    ctx.textBaseline = 'bottom';

                    this.data.datasets.forEach(function (dataset, i) {
                        var meta = chartInstance.controller.getDatasetMeta(i);
                        meta.data.forEach(function (bar, index) {
                            var data = dataset.data[index];
                            ctx.fillText(data, bar._model.x, bar._model.y - 5);

                        });
                    });
                }
            }
        };
        
        var config = {
            type: 'bar',
            // Chart Options
            options: chartOptions,
            data: chartData
        };
        // Create the chart
        var lineChart = new Chart(ctx, config);
    });
</script>
