﻿@using Phoenix.Models.Entities
@model IEnumerable<IncidentListModel>
@using System.Globalization
@using Phoenix.Common.Localization
@using Phoenix.Common.Helpers
@using Phoenix.Common.Helpers.Extensions
@{
    TextInfo txtInfo = new CultureInfo("en-us", false).TextInfo;
    var filteredList = Model != null ? Model.Where(x => x.Incident_Type == ((bool)ViewBag.isFA ? IncidentType.FA : IncidentType.FI)).ToList() : new List<IncidentListModel>();    
}
<link rel="stylesheet" type="text/css" href="~/Content/css/addons/bootstrap-toggle.css" />
<div>
    <table id="tblIncidentList" class="table table-bordered table-hover table-responsive-md expandable-row text-center" cellspacing="0" width="100%">
        <thead>
            <tr class="head">
                <th class="th-sm" width="20%">@ResourceManager.GetString("Behaviour.IncidentDashboard.IncidentType")</th>
                <th class="th-sm" width="20%">@ResourceManager.GetString("Behaviour.IncidentDashboard.IncidentOn")</th>
                <th class="th-sm" width="20%">@ResourceManager.GetString("Behaviour.IncidentDashboard.RecordedOn")</th>
                <th class="th-sm" width="20%">@ResourceManager.GetString("Behaviour.IncidentDashboard.ReportedBy")</th>
                <th class="th-sm" width="20%">@ResourceManager.GetString("Behaviour.IncidentDashboard.Commonts")</th>
                <th class="th-sm tbl-actions" width="10%">@ResourceManager.GetString("Behaviour.IncidentDashboard.Action")</th>
                <th style="display: none"></th>
                <th style="display: none"></th>
            </tr>
        </thead>
        <tbody>
            @if (filteredList.Count() > 0)
            {
                foreach (var item in filteredList)
                {
                    var remark = string.Empty;
                    if (!string.IsNullOrEmpty(item.Incident_Remarks))
                    {
                        remark = item.Incident_Remarks.Length > 35 ? item.Incident_Remarks.Substring(0, 35) + "..." : item.Incident_Remarks;
                    }
            <tr class="@item.Incident_Type">
                <td><a href="javascript:void(0)" class="toggle-row pull-left" onclick="incidentDashBoard.loadChildStudentListToggler(this, @item.IncidentId)"><i class="far fa-plus-square text-primary mr-3"></i></a><span class="foractionInfo @Html.Raw(@item.Incident_Type == IncidentType.FA? "text-primary" : "text-secondary")">@txtInfo.ToTitleCase(Enum.GetName(typeof(IncidentType), Convert.ToInt32(item.Incident_Type)))</span></td>
                <td class="arabictxt">@item.Incident_DateString.ToFormatedDate("dd-MMM-yyyy")</td>
                <td class="arabictxt">@item.Recorded_OnString.ToFormatedDate("dd-MMM-yyyy")</td>
                <td>@item.Reported_By</td>
                <td class="text-left"><a href="javascript:void(0)" data-original-title data-toggle="tooltip" title="@Html.Raw(item.Incident_Remarks)" data-placement="top">@remark </a></td>
                <td class="tbl-actions"><a class="table-action-text-link" href="/Behaviour/Incident/AddEditIncident?id=@item.IncidentId.EncryptUrl()&curr=@item.CurriculumId.EncryptUrl()"><img src="/Content/VLE/img/svg/pencil.svg" alt="" class="svg"></a></td>
                <td style="display:none;">@item.Incident_Remarks</td>
                <td style="display:none;">@item.StudentDetail</td>
            </tr>
                }
            }
            else
            {
                <tr class="sub-heading nodata"><td colspan="6">@ResourceManager.GetString("Shared.Labels.NoRecords")</td></tr>
            }
        </tbody>
    </table>
</div>
<script>
    incidentDashBoard.parentTable = @Html.Raw(Model != null && Model.Any() ? Json.Encode(Model) : "[]");
    $('#tblIncidentList').DataTable({
        "ordering": false,
        "oLanguage": _dataTableLangSettings,
        "drawCallback": function(settings) {
            $('#tblIncidentList').find('td > a > i').addClass('fa-plus-square').removeClass('fa-minus-square');
        }
    });
    $('[data-toggle="tooltip"]').tooltip();
</script>
