﻿@model IEnumerable<Phoenix.Models.Entities.ChartModel>
@using Phoenix.Common.Localization
@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}

@if (Model.Any())
{
    <canvas id="attendPieChart"></canvas>
}
else
{
    <div class="col-lg-12 col-md-12 col-12">
        <span class="no-data-found text-bold d-block mx-auto my-auto">
            @ResourceManager.GetString("Behaviour.StudentOnReport.NoDataFound")
        </span>
    </div>
}


<script>
    $(document).ready(function () {
        //-------- Column chart ---------
        //Get the context of the Chart canvas element we want to select
        var ctx = $("#attendPieChart");
        ctx.height(350);
        // Chart Options
        var chartOptions = {
            // Elements options apply to all of the options unless overridden in a dataset
            // In this case, we are setting the border of each bar to be 2px wide and green
            //elements: {
            //    rectangle: {
            //        borderWidth: 1,
            //        borderColor: 'rgb(0, 255, 0)',
            //        borderSkipped: false
            //    }
            //},
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 0,
                    bottom: 0
                }
            },
            responsive: true,
            maintainAspectRatio: false,
            responsiveAnimationDuration: 500,
            legend: {
                display: true,
                position: 'bottom',
                labels: {
                    boxWidth: 10,
                    usePointStyle: false
                },
            },
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        var labels = @Html.Raw(Json.Encode(@Model.Select(s => s.IncidentType).ToList()));
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var total = dataset.data.reduce(function (previousValue, currentValue, currentIndex, array) {
                            return previousValue + currentValue;
                        });
                        var currentValue = dataset.data[tooltipItem.index];
                        var percentage = Math.floor(((currentValue / total) * 100) + 0.5);
                        return percentage + "% - " + labels[tooltipItem.index];
                    }
                }
            }
        };
        var dataElement = @serializer.Serialize(@Model.Select(s => s.IncidentCount).ToList()), coloR = [];
        var dynamicColors = function () {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
        };
        for (var i in dataElement) {
            coloR.push(dynamicColors());
        }
        // Chart Data
        var chartData = {
            //labels: @Html.Raw(Json.Encode(@Model.Select(s => s.IncidentType).ToList())),
            datasets: [{
                backgroundColor: coloR,
                borderColor: 'rgba(200, 200, 200, 0.75)',
                hoverBorderColor: 'rgba(200, 200, 200, 1)',
                data: dataElement,
                hoverBackgroundColor: coloR,
                borderColor: "transparent",
                borderWidth: 0
            }]
        };
        var config = {
            type: 'doughnut',
            // Chart Options
            options: chartOptions,
            data: chartData
        };
        // Create the chart
        var pieChart = new Chart(ctx, config);
    });
</script>
