﻿@using DevExpress.Web.Mvc.UI;
@model Phoenix.VLE.Web.ViewModels.DevExpressEditorSettings
@using Phoenix.Models
@using Phoenix.Common.Helpers
@{
    ViewBag.Title = Model.FileName;
    Layout = "~/Areas/Document/Views/Shared/_Layout.cshtml";

    var docExt = ViewBag.DocExt as List<string>;
    var videoExt = ViewBag.VideoExt as List<string>;
    var audioExt = ViewBag.AudioExt as List<string>;
}
    <header class="clearfix">
        <a class="btn btn-primary" href="/shared/shared/DownloadFile?filePath=@string.Concat(PhoenixConfiguration.Instance.ReadFilePath, Model.FilePath)" target="_blank">
            <img src="~/Content/img/svg/ic-download-blue.svg" />
        </a>
        &nbsp;&nbsp;
        <h2>@Model.FileName</h2>
        <input type="hidden" value="@Model.ServerPath" />

    </header>
<main>
    <div class="document-view">

        @if (Model.FileExtension.Contains("xls"))
        {
            //var webClient = new WebClient();
            //byte[] data = webClient.DownloadData(Model.ServerPath);

            @Html.DevExpress().Spreadsheet(settings =>
            {
           settings.Name = "ExcelViewer";
           settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
           settings.Height = 500;
           settings.ReadOnly = true;
           settings.Theme = "MaterialCompact";
           settings.RibbonMode = DevExpress.Web.ASPxSpreadsheet.SpreadsheetRibbonMode.None;
           }).Open(Model.ServerPath).GetHtml()
        }
        else if (Model.FileExtension.Contains("doc"))
        {
            //var webClient = new WebClient();
            //byte[] data = webClient.DownloadData(Model.ServerPath);

            @Html.DevExpress().RichEdit(settings =>
            {
           settings.Name = "DocumentViewer";
           settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
           settings.Height = 800;
           settings.ReadOnly = true;
           settings.Theme = "MaterialCompact";
           settings.RibbonMode = DevExpress.Web.ASPxRichEdit.RichEditRibbonMode.None;
           }).Open(Model.ServerPath).GetHtml()
        }

        @*else if(Model.FileExtension.Contains("ppt"))
            {
                <form id="form1" runat="server">
                    <div>
                        <iframe src='https://view.officeapps.live.com/op/view.aspx?src=@Model.ServerPath' width='100%' height='600px' frameborder='0'>
                    </div>
                </form>
            }*@
        else if (videoExt.Contains(Model.FileExtension.Replace(".", "").ToLower()))
        {
            <video controls autoplay="autoplay">
                <source src="@Model.ServerPath" type="video/mp4">
                <source src="@Model.ServerPath" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        }

        else if (audioExt.Contains(Model.FileExtension.Replace(".", "").ToLower()))
        {
            <audio controls autoplay="autoplay">
                <source src="" @Model.ServerPath " type="audio/ogg">
                <source src="@Model.ServerPath" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        }

    </div>
</main>